[2019-11-23 13:37] fastio opened #5335 "The configration items related to Redis API should be described clearly"
The configuration items related to redis are as follows:

    redis_transport_port;
    redis_transport_port_ssl;
    enable_redis_protocol;
    redis_read_consistency_level;
    redis_write_consistency_level;
    redis_default_database_count;
    redis_keyspace_options;

These should be described clearly.

#5132

[2019-11-23 18:30] nyh commented on #5335
Some questions I had while reading the code, and should probably be answered as code comments or in redis.md - or resolved by modifying the code (all of these are from my previous comments on your original pull request):

1. "enable_redis_protocol" - What does this "enable"? The transport_port? The transport_port_ssl? Both?
Because of this ambiguity, in Alternator we decided to have have "--altern

[2019-11-23 18:43] nyh commented on #5334
@fastio, what did you mean "delete multiple keys atomically" - if one of them is missing, none of the deletes are done? Is this a Redis feature?
I'm aware of two things that the current code is missing, please correct me if this is the wrong list:
1. We need to support the *syntax* of deleting multiple keys in one DEL command.
2. We need to support DEL's feature of returning the number of really d

[2019-11-24 05:43] fastio commented on #5334
Sorry, It's a mistake here. I want say that we can delete multiple keys at once using the DEL command of Redis.  In the Redis implementation, the DEL command does not remove multiple keys
atomically. The command returns the number of removed keys in the operation.

You are right. I agree with you. I think users are concerned about whether the keys are deleted correctly in most use scenarios.

[2019-11-24 07:53] tzach commented on #5062
Since Dynamo does not have the notation of a Keyspace it makes sense

[2019-11-24 07:58] fastio commented on #5335
@nyh Thanks for your reply.

Indeed, the `enable_redis_protocol is unnecessary. I think it's better to replace them with`--redis_port and `--redis_ssl_port.

Redis does not natively support SSL, but the Redis service in the public cloud does. And it's important feature for users. So we should support it.

[Redis encryption] (https://redis.io/topics/encryption)

The default port's value 9142 is tot

[2019-11-24 08:42] slivne commented on #5274
@amoskong / @roydahan  ping - need to have this reproducer for tomek with

upgrade from 3.0.10-0.20190815.b3bfd8c08-1~stretch to 2019.1.3-0.20191027.afe4cf5b0 not working

This is blocking a release

[2019-11-24 11:03] roydahan commented on #5274
It looks like the job that @amoskong had run reproduced the issue.

Errors I see there:
[code]

Live systems (on GCE) are:

[code]

[2019-11-24 11:32] bhalevy opened #5336 "test_add_udt_to_another_data_types is flaky"
If this issue is with the test rather than with scylla please open an issue on scylla-dtest and close this one.

https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/294/testReport/junit/user_types_test/TestUserTypes/test_add_udt_to_another_data_types/
Scylla 623071020e354e5cec0e4323dbc4a7b22bc27aca
[code]
Same error in:
https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/

[2019-11-24 14:39] #5321 closed

[2019-11-24 14:39] #5289 closed

[2019-11-24 14:39] #5327 closed

[2019-11-24 17:25] yarongilor opened #5337 "Segmentation fault after ENOSPC nemesis"
Installation details
Scylla version (or git commit hash): 3.2.rc1-0.20191119.8c1474c039
Cluster size: 4 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-05f4875c5c95b473c (us-east-1)
Detected by: longevity-200gb

Happened after nemesis of ENOSPC started.

the segmentation fault reproduced tens of times along the longevity test.

segfault message:
[code]

Decoded backtrace of segmentation fa

[2019-11-24 17:58] eliransin opened #5338 "Change experimental flag granularity to per feature"
The current experimental flag has a granularity of all features. This means that if one of the features is broken it might force the user to turn off the experimental flag altogether, preventing him from using the features that do work.
An example for this situation is #5288 where this solution is suggested, where CDC breaks rolling upgrade from 3.1 to 3.2 forcing turning off the experimental flag

[2019-11-24 18:01] eliransin commented on #5288
After #5338 is implemented we can wrap all of the CDC functionality especially the schema in its individual experimental as in https://github.com/scylladb/scylla-enterprise/commit/2cfe5357348c50adbf71ad5c1ae4f8e8a84e2ae7 and the add to the release notes that CDC has to be turned on only on a new cluster. Then rolling upgrade (without CDC) will work and will not hold the release.

[2019-11-24 18:10] haaawk commented on #5288
I will take care of this tomorrow.

[2019-11-24 19:26] nyh commented on #746
There is renewed interest for getting read of cryptopp and using gnutls only - see https://github.com/scylladb/seastar/issues/680.

[2019-11-24 23:46] espindola commented on #5289
The patch is on master, but should probably be back ported to 3.2

[2019-11-25 01:06] asias opened #5339 "repair: rx_hashes_nr metrics are not updated correctly"
In get_full_row_hashes_with_rpc_stream and
repair_get_row_diff_with_rpc_stream_process_op which were introduced in
the "Repair switch to rpc stream" series, rx_hashes_nr metrics are not
updated correctly.

[2019-11-25 07:24] eliransin commented on #5322
this seams related to #4313. So we might have a way to reproduce it locally. I am now investigating the core if it doesn't give enough info I will try to reproduce it using the method discussed in the aforementioned issue.

[2019-11-25 08:33] bhalevy opened #5340 "snapshot may fail when sstables are moved from the staging directory."
Seen in scylladb/scylla-enterprise#1146
[code]

It was thought (#5324) that we need to take a snapshot of the staging directory but after further analysis it proved wrong.  So we need to snapshot it, however we need to prevent deletions from the staging directory during snapshot using the table `_sstable_deletion_sem` like we do for compaction.

[2019-11-25 08:36] bhalevy commented on #5324
Closing this issue per discussion in [pull/5329#issuecomment-557890162](https://github.com/scylladb/scylla/pull/5329#issuecomment-557890162).
Proper solution will implemented under #5340.

[2019-11-25 08:36] #5324 closed

[2019-11-25 09:17] denesb opened #5341 "Collection [de]serialization operates on contiguous buffers"
Serializing or deserializing collections happens with usage of contiguous buffers. This puts a large strain on the memory allocator.

While the proper solution to this would be to get rid of this internal serializtion and deserializtion altogether, doing that is a major effort with a lot of unknowns. To relieve the pain caused by these large allocations, we should change the de/serialization code

[2019-11-25 09:42] yarongilor opened #5342 "Reactor stalled for 2476 ms on shard 0"
Installation details
Scylla version (or git commit hash): 3.2.rc1-0.20191119.8c1474c039
Cluster size: 4 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-05f4875c5c95b473c (us-east-1)
Detected by: longevity-200gb

backtrace:
[code]
decoded:
[code]
All nemesis ran before the reactor stalled:
[code]

logs and coredump:
< t:2019-11-21 19:18:22,880 f:cluster.py      l:836  c:sdcm.cluster

[2019-11-25 09:59] amoskong commented on #5291
This issue is reproduced in https://jenkins.scylladb.com/view/scylla-3.2/job/scylla-3.2/job/rolling-upgrade/job/rolling-upgrade-ubuntu18.04/5/
- upgrade from 3.0.10-0.20190815.b3bfd8c08 to 3.2.rc1-0.20191124.85b1a45252

[code]

[2019-11-25 10:33] amoskong commented on #5289
The problem exists with 3.2.rc1-0.20191124.85b1a45252, so we need to backport.

[2019-11-25 10:34] amoskong commented on #5288
Reproduced this issue (4 kinds of db errs) in https://jenkins.scylladb.com/view/scylla-3.2/job/scylla-3.2/job/rolling-upgrade/job/rolling-upgrade-centos7/12/

[code]

[2019-11-25 10:46] tgrabiec commented on #5274
@roydahan 34.74.221.160 runs `rolling-upgrade-upgrade--centos-db-node-0ab7b90e-0-3`, not `rolling-upgrade-upgrade--centos-db-node-b9a8c7d4-0-1`.

It's running an upgrade from 3.1.1 to 3.2.rc1. It's a reproducer for https://github.com/scylladb/scylla/issues/5288.

So we don't have a live reproducer for this issue, right?

[2019-11-25 11:34] tgrabiec commented on #5339
What is the effect on users?

[2019-11-25 11:46] bhalevy opened #5344 "test_user_function_timestamp_return: exception boost::gregorian::bad_year expected but not raised"
Scylla version 3eab6cd549ba0228cd6cff5b72252c46cf94d99e
user_function_test fails for me locally on Fedora 29 post @kostja 002ff51053d433c98f5e2d6210a6c4c615e3b5f9
[code]

[2019-11-25 11:50] roydahan commented on #5274
@amoskong seems like the machines from your reproducer were killed... do you know why?
Don't they have keep-alive?
Please try to reproduce and supply @tgrabiec the live machines ASAP

[2019-11-25 11:57] #5339 closed

[2019-11-25 11:59] yarongilor commented on #5211
possibly reproduced on 200gb longevity as well. got a cycle of segmentation faults and also an eror like:
[code]
see more details in: https://github.com/scylladb/scylla/issues/5337

[2019-11-25 12:06] asias commented on #5339
Nothing. It is introduced in 3.2 only which is not released yet.

On Mon, Nov 25, 2019, 19:34 Tomasz Grabiec <notifications@github.com> wrote:

[2019-11-25 12:51] amoskong commented on #5274
Hi @tgrabiec

Reproduced again by https://jenkins.scylladb.com/job/enterprise-2019.1/job/rolling-upgrade/job/rolling-upgrade-centos7/33/

- rolling-upgrade-upgrade--centos-db-node-dca2e42c-0-1 [35.196.205.89 | 10.142.0.15]
- rolling-upgrade-upgrade--centos-db-node-dca2e42c-0-2 [35.237.246.7 | 10.142.0.17]
- rolling-upgrade-upgrade--centos-db-node-dca2e42c-0-3 [35.237.53.124 | 10.142.0.23]
- rollin

[2019-11-25 12:57] eliranshlomo1 opened #5345 "database.cc:1763: database::truncate(const keyspace&, column_family&, database::timestamp_func, bool)"
*Installation details*
Scylla version (or git commit hash): scylla-server-3.1.1-0.20191024.f32ec885c.el7.x86_64
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos 7 (ami-027c1337dcb46da50)

Platform (physical/VM/cloud instance type/docker): aws  i3.4xlarge
Disks: 2 nvme

UUID: 4707ad52-c266-4e2e-8eb7-e992d9871336

Nodes crash when trying to drop\truncate conter table

`scylla: scylla: databas

[2019-11-25 13:10] tgrabiec commented on #5274
That cluster doesn't seem to exist anymore

On Mon, Nov 25, 2019 at 1:51 PM Amos Kong <notifications@github.com> wrote:

[2019-11-25 13:33] avikivity commented on #5345
/cc @elcallio

[2019-11-25 14:10] haaawk commented on #5288
Here's a PR fixing the issue: https://github.com/scylladb/scylla/pull/5346. I didn't wait for #5338 and introduced enable-cdc flag

[2019-11-25 14:17] bhalevy commented on #4803
Consider backport to 3.1 and 3.0

[2019-11-25 14:19] bhalevy commented on #4803
Key monotonicty validation can be enabled in testing, e.g. for longevity runs that are not performance sensitive.

[2019-11-25 14:22] #5300 closed

[2019-11-25 14:35] zimnx opened #5347 "swagger: wrong return type of `column_family/metrics/total_disk_space_used`"
*Installation details*
Scylla version (or git commit hash): master

[API](https://github.com/scylladb/scylla/blob/master/api/column_family.cc#L554) endpoint [returns uint64_t](https://github.com/scylladb/scylla/blob/master/api/column_family.cc#L218) but swagger file [returns integer](https://github.com/scylladb/scylla/blob/master/api/api-doc/column_family.json#L1623) which maps to int32.
Other end

[2019-11-25 15:11] amoskong commented on #5274
It's strange, the instances always have 'keep-alive' tag.

I just resubmitted a new job:
- https://jenkins.scylladb.com/job/enterprise-2019.1/job/rolling-upgrade/job/rolling-upgrade-centos7/35/console (RUNNING)

[GCE link](https://console.cloud.google.com/compute/instances?project=skilled-adapter-452&instancessize=50&instancesquery=%255B%257B_22k_22_3A_22_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22002

[2019-11-25 15:59] alvaropalmeirao opened #5348 "Scylla Error when starting"
*Installation details*
Scylla version (or git commit hash): 3.1.1
Cluster size: 1 machine
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian 9.5.1

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): rkt (docker)
Hardware: sockets=1 cores=1 hyperthreading=yes memory=4GB
Disks: 1 SSD

I've created a dockerfile for scyllaDB based on a Debian 9.5 base image. When i sta

[2019-11-25 16:01] avikivity commented on #5348
rkt is perhaps not passing /sys/hypervisor correctly to the container.

[2019-11-25 16:10] roydahan commented on #4803
we enabled it starting 3.2

[2019-11-25 16:44] eliransin commented on #5322
When trying to open the core I get all kinds of warnings about sections not being in the ELF (the debug info is taken from the ami).
I tried a different approach which is to get the unstripped executable from the [scylla-package.tar.gz](http://downloads.scylladb.com.s3.amazonaws.com/relocatable/unstable/branch-3.2/201911192301/scylla-package.tar.gz)  produced by the [Jenkins Job](https://jenkins.s

[2019-11-25 16:44] dekimir commented on #5288
After #5346 is merged, both UDF and CDC will follow the same pattern of requiring `--enable_{cdc|udf}` _and_  `--experimental` to be turned on.  Maybe this is a better pattern than making `--experimental` a vector?

[2019-11-25 17:17] espindola commented on #5322
As long as the warnings are about "note.something" you are fine.

The real issue for you is probably "could not find '.gnu_debugaltlink''. gdb should be able to handle dwz processed files. Try running

readelf -W --debug-dump=links /usr/lib/debug/opt/scylladb/libexec/scylla-3.2.rc1-0.20191119.8c1474c039.el7.x86_64.debug

Maybe you are missing a package or our packages are missing a file.

[2019-11-25 17:32] nyh commented on #5058
Wrote two comprehensive tests, `test_query.py::test_query_select` and `test_scan.py::test_scan_select, covering all the various cases involving a base-table only. These tests still xfail on Alternator.

We still need to write tests in `test_gsi.py` and `test_lsi.py` for the special `Select=ALL_PROJECTED_ATTRIBUTES` that is only allowed for indexes.

[2019-11-25 17:39] veramine commented on #5176
I moved sstables to a new 3.1 cluster and wiped out my 3.0.x cluster.  3.1 is working great.

[2019-11-25 17:43] #5176 closed

[2019-11-25 20:37] espindola commented on #5344
This reduces to

#include <boost/date_time/gregorian/gregorian.hpp>
int main() {
    boost::gregorian::date date(10000, 2, 3);
    return 0;
}

Which throws with boost 1.67 and does nothing with boost 1.66.

The changlog says:

Changed maximum supported year from 10000 to 9999 to resolve various issues.

Changing the year does fix the issue. I will send a patch after lunch.

[2019-11-26 06:48] penberg commented on #5348
Seems like the file is there, but this is a permission denied error. @alvaropalmeirao, what does your `Dockerfile` look like?

[2019-11-26 07:44] eliransin commented on #5322
@espindola you are the man :+1:
after dumping the link I found out that actually I had to add volume to my docker (the .dwz one).
I am debugging inside the ami with dbuild so I have the actual tools that compiled the executable.

[2019-11-26 08:00] bhalevy opened #5349 "row_cache_test: fatal error: in "test_concurrent_reads_and_eviction": std::bad_alloc: std::bad_alloc"
Seen on https://jenkins.scylladb.com/view/scylla-3.2/job/scylla-3.2/job/next/20/artifact/output_test_release.txt
Scylla version df3563c1ae2b64f541023a5844d3e757f38c1e50

Note that it's not reproducible with the random-seed.
Full output of failed case in [test_concurrent_reads_and_eviction.log](https://github.com/scylladb/scylla/files/3890627/test_concurrent_reads_and_eviction.log)

Given the repor

[2019-11-26 08:09] asias opened #5350 "./tools/toolchain/dbuild ./reloc/build_rpm.sh fails"
I was on 3.1.1 branch with Avi's dbuild patch for podman.

./tools/toolchain/dbuild ./reloc/build_rpm.sh fails the "Cannot rename directory". I tried a simple dnf update inside the dbuild docker it fails too. I suspect there is something run with the docker images.

$ docker images
docker.io/scylladb/scylla-toolchain   fedora-29-20190405   4911afdbcd5c   7 months ago    1.38 GB

$ ./tools/toolchai

[2019-11-26 09:11] avikivity commented on #5348
I tested rkt on Fedora 31 and it passes /sys/hypervisor/type correctly:

[code]

(I get the correct ENOENT rather than EPERM).

Perhaps rkt is misconfigured? What does `find /sys -ls` show inside the container?

I'm worried that if we fix this bug, then next access to /sys will just fail, because it's something broken in the setup.

[2019-11-26 09:11] avikivity commented on #5348
If you share your container image, I can try to run it on my system.

[2019-11-26 09:37] eliransin commented on #5322
According to the backtrace it is probabely and exception thrown inside  a shared_ptr destructor,
the destructor is called inside the reactor for task. I am still searching for the reason of the
exception throwing.
My working theory that there is a future apply (or invalidation) inside of the destructor of the pointer
type which times out.
The stack trace looks like this:
[code]

[2019-11-26 09:46] ratcashdev commented on #5297
@tarzanek Hi! Have you managed to dig something of value out of the prometeus data?

[2019-11-26 10:21] amoskong commented on #5274
I failed to reproduce this issue with following jobs, they all PASSed:
- https://jenkins.scylladb.com/job/enterprise-2019.1/job/rolling-upgrade/job/rolling-upgrade-centos7/35
- https://jenkins.scylladb.com/job/enterprise-2019.1/job/rolling-upgrade/job/rolling-upgrade-centos7/36
- https://jenkins.scylladb.com/job/enterprise-2019.1/job/rolling-upgrade/job/rolling-upgrade-centos7/37

[2019-11-26 10:25] denesb commented on #5322
I don't see a destructor in the trace. I see this in `set_exception()`:
https://github.com/scylladb/seastar/blob/2888b5d8bdff85f9766e522ee1032fd8d8888ed8/include/seastar/core/future.hh#L298-L301

My guess is that the future is not in the expected state, hence the assert.

[2019-11-26 11:43] alvaropalmeirao commented on #5348
Hi again,

Just to add some more info: I ran other images on this host with rkt and all of them work without problems. I ran my scylla image with docker (instead of rkt) and my image works! Looks like some problem with rkt, or with my image, honestly i dont know...
[code]

[2019-11-26 12:41] eliransin commented on #5322
This coredump is caused by a failed assertion that eventually causes abort.
The assert is about the future state:
https://github.com/scylladb/seastar/blob/2888b5d8bdff85f9766e522ee1032fd8d8888ed8/include/seastar/core/future.hh#L299

According to gdb the state is invalid and not future. I am still trying to find the root cause for this.

[code]

This assert fails and eventually:
[code]
I am now try

[2019-11-26 12:48] bhalevy commented on #5344
@avikivity @espindola 91754029661623fc4b8fa969d2ea07521813468f isn't complete
The exception message string was changed as well.

With this patch the test fails like this for me:
[code]

It passed with this instead:
[code]

[2019-11-26 12:48] tarzanek commented on #5297
hi @ratcashdev not yet, I still suspect a hot partition though and that means you are overloading one(or more) shards (which is partially visible from the graphs you pasted)
I am wondering if you could make the PK for open* tables a bit more distributed - or add a clustering key - but then I don't know what value from all your columns in open* tables could make the distribution even better - would

[2019-11-26 12:50] tarzanek commented on #5297
above hypothesis would kinda cover Avis comments too about client not going full speed, since if client sends all data for some shards and then just sits ducks on leftover shard or two that has hot partition, then it's obviously not optimal (where cassandra leverages the freed up coordinators at the same time)

[2019-11-26 13:45] ratcashdev commented on #5297
The PK is kind of a difficult topic. We need to return ranges (e.g. 'Last N'), which would become almost impossible to do if we made the PK more complex.
We discussed the possibility to do synthetic shards (https://medium.com/@foundev/synthetic-sharding-in-cassandra-to-deal-with-large-partitions-2124b2fd788b, approach No1) but that would mean that the client would have to track every single shard,

[2019-11-26 13:47] ratcashdev commented on #5297
Also interesting to see the network bandwidth utilized by Scylla and C* (same HW setup in both cases), yet the overall time to complete the load is pretty much the same (or slightly worse for Scylla):
![image](https://user-images.githubusercontent.com/2928922/69638779-a8e6fc80-105b-11ea-88a1-32dfbdba5044.png)

[2019-11-26 13:50] avikivity commented on #5297
I don't recomment synthetic sharding, it usually creates trouble down the road.

[2019-11-26 13:54] ratcashdev commented on #5297
If synthetic sharding is not recommended, I wonder what solution could be used to keep partition sizes down and avoid hotspots, yet still able to deliver `Last N` types of queries in real-time?

[2019-11-26 13:58] slivne commented on #5341
@bhalevy I assigned it to botond please prioritize it.

[2019-11-26 14:28] mehrdadpfg commented on #5174
+1 same issue here with this key provided in documentation 17723034C56D4B19

[2019-11-26 14:43] avikivity commented on #5297
It looks like shards 0, 14, and 15 are hot. What's the total number of partitions you have? Looks like quite a small number.

I can't make data model recommendations without understanding the problem you are trying to solve.

[2019-11-26 14:47] piodul commented on #5155
This is not a bug. `MODIFY` allows only for modifying the contents of the table, it does not grant permission for dropping it.

I suspect that the reason you could drop the table, but not the type, is that you created both of them as `developer` user. Normally, when a resource is created, the user that created it implicitly gets full permissions on that resource - including `DROP`. This is the cas

[2019-11-26 15:15] denesb commented on #5341
I already started working on this.

[2019-11-26 15:15] haaawk commented on #5288
It might be easier to manage for users IMO

[2019-11-26 15:32] ratcashdev commented on #5297
Context:
* Orders (open as well as closed, historical) stored in C*.
  * open orders are updated heavily, involve lots of tombstones
* Single source (app or server) of all the modify operations
  * Retail clients do 1 operation / month. Maybe even less.
  * Corporate clients may do hundreds of NewOrder/CancelOrder operations / sec on selected markets based on market conditions. Some are more activ

[2019-11-26 16:11] alvaropalmeirao commented on #5348
I have found the problem... If i start the container as root it works. If i want to run as user scylla i got this error... How can i overcome this problem?

[2019-11-26 16:34] kbr- commented on #2201
@tzach
https://github.com/scylladb/scylla-tools-java/commit/677230df694752c7ecf6d5459eee60ad7cf45ecf
is the commit.

Note: the cqlsh changes are only for UX (autocompletion), they're not required for the feature to work.

[2019-11-26 16:51] bhalevy opened #5354 "hintedhandoff_removenode_test Missing: ['hints_manager - Draining for 127.0.9.3: end']"
Seen in [dtest-debug/314](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/314/testReport/hintedhandoff_additional_test/TestHintedHandoff/hintedhandoff_removenode_test)
[code]

Scylla version 9a686ac55193f0df4fc923b267b7b36684565a9d
Scylla-dtest version 78c93908540fcf5f05ed48d1845005a027b4c904
(That is scylladb/scylla-dtest#1134 fixing #5244)

[node1.log](https://jenkins.

[2019-11-26 16:59] amoskong commented on #5274
HI @tgrabiec

Reproduced by https://jenkins.scylladb.com/job/enterprise-2019.1/job/rolling-upgrade/job/rolling-upgrade-centos7/38/

[code]

GCE[ link](https://console.cloud.google.com/compute/instances?project=skilled-adapter-452&instancessize=50&instancesquery=%255B%257B_22k_22_3A_22_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22a13187da_5C_22_22%257D%255D)

![image](https://user-images.githubuserconten

[2019-11-26 17:06] amoskong commented on #5174
Hi @mehrdadpfg  what's the error you touched?
The 17723034C56D4B19 will be expired in 2020-01-01, so it's valid right now.

[2019-11-26 19:22] avikivity commented on #5350
It is probably a bug in fuse-overlayfs.

[2019-11-26 19:25] avikivity commented on #5350
Well, dnf update worked for me in a podman container. Please make sure you're running the latest kernel and are fully updated.

Worked for me with 5.3.11-300.fc31.x86_64.

[2019-11-26 19:30] tgrabiec commented on #5274
We have a mixed cluster of 3.0 and 2019.1. The node which experiences pulls concurrent with drain is at 3.0.

The 3.0 node has schema version of `4e888874-6ff0-39c7-8ce8-36e032004f66`.
The 2019.1 node cannot decide between `4e888874-6ff0-39c7-8ce8-36e032004f66` and `4a65d619-9e83-3fac-9c18-37ce8ea5db37`:

[code]

I think this is caused by https://github.com/scylladb/scylla-enterprise/issues/1155

[2019-11-26 19:31] avikivity commented on #5297
You can safely exceed 100MB partitions.

Make sure your clustering keys are sorted in the direction that makes your LIMIT queries pick the front of the partition (reverse the sort order so that last N is really first N).

How many partitions do you have?

[2019-11-26 21:18] bentsi opened #5355 "Cluster freezes when bringing down NIC on one of the nodes"
*Installation details*
Scylla version (or git commit hash): 3.2.rc1
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-03fe02079e1fbdeda` [eu-west-1]

When bringing down a NIC on one of the nodes all the cluster "feezes"

Requests per/s
![image](https://user-images.githubusercontent.com/5269241/69673157-c8594600-10aa-11ea-924d-b827d01302d2.png)
Load
![image](https://user-images.githubuserconten

[2019-11-27 05:34] bhalevy commented on #5348
Have you tried `docker run --privileged`?

[2019-11-27 08:02] denesb opened #5356 "row_level_repair: log messages should all contain the repair_meta_id"
Scylla version (or git commit hash): master(4160b3630d839320724a3fb613199cf9f13a2882), 3.2, 3.1

All log messages from row-level repair should mention the `repair_meta_id` they belong to. This would greatly help when investigating repair-related problems and there are more than one repairs running.

[2019-11-27 08:05] #4586 closed

[2019-11-27 08:06] #5332 closed

[2019-11-27 08:06] #5344 closed

[2019-11-27 08:14] amoskong opened #5357 "scylla_sysconfig_setup => scylla_util.py: perftune_base_command: at least one directory has to be set in 'data_file_directory'"
*Installation details*
Scylla version (or git commit hash): scylla-666.development-0.20191126.4160b3630d.el7.x86_64
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0bcf61ab6b989903d (us-east-1)

[code]

- AMI test job: https://jenkins.scylladb.com/job/scylla-master/job/ami-test/77/
- AMI test log: https://jenkins.scylladb.com/job/scylla-master/job/ami-test/77/artifact/latest/job.log

### Desc

[2019-11-27 08:27] amoskong commented on #5357
This issue was introduced by https://github.com/scylladb/scylla/commit/e0f40ed16aa4efa5892dfa9025b0dc20adbd60c2

It commented data_file_directories & commitlog_directory, which already have the same default value in code. But  scylla_util.py: perftune_base_command() checks both data_file_directories & commitlog_directory, it will raise exception if data_file_directories or commitlog_directory is e

[2019-11-27 08:44] psarna commented on #5006
I digged my patch out, so it's visible in the bug tracker; also, I added a line which enables a previously xfailed test, which passes with the patch.

[2019-11-27 08:45] asias commented on #5350
The system is fully updated. Mine is 5.3.11-300.fc31.x86_64 too.

[2019-11-27 08:50] amoskong commented on #5312
Fixed by: https://github.com/scylladb/scylla/pull/5330
- currently ami-test is broken, will check if the new instance types work well later.

[2019-11-27 08:51] xemul commented on #5357
These are now both optional. I can fix the script, do you want me to send a patch or make a pull request?

[2019-11-27 09:03] amoskong commented on #5357
Can you help to review https://github.com/scylladb/scylla/pull/5358 ？

[2019-11-27 09:06] avikivity commented on #5350
Try to report it upstream.

[2019-11-27 09:06] bhalevy commented on #5322
@espindola is the assert above valid?
1. what's the problem of if `set_exception` when state is `future_state_base::state::invalid`?
2. Should `set_to_broken_promise` bypass this `future_state_base::set_exception and call `_u.set_exception()` directly?

[2019-11-27 09:16] denesb commented on #5322
On Wed, 2019-11-27 at 01:06 -0800, Benny Halevy wrote:

It is always a bug to do anything with a future that is in
`future_state_base::state::invalid`.
One of the cases a future will be in
`future_state_base::state::invalid` is when a user already called
either `get()` or `get_exception()`. This means the user won't ever
look at this future again and wheterver value you set it to won't be
consider

[2019-11-27 09:18] denesb opened #5359 "row level repair: add timetout to reads executed as part of the repair"
Scylla version (or git commit hash): master(4160b36), 3.2, 3.1

We recently saw repairs blocking and not making progress for a prolonged time (days). One of he primary suspects is reads belonging to several repairs deadlocking on the streaming read concurrency semaphore. This is something that we've seen in the past during internal testing, and
although theoretically we have fixed it, such deadloc

[2019-11-27 09:29] bhalevy commented on #5322
Yes, I see that in:
https://github.com/scylladb/seastar/blob/2888b5d8bdff85f9766e522ee1032fd8d8888ed8/include/seastar/core/future.hh#L262
and
https://github.com/scylladb/seastar/blob/2888b5d8bdff85f9766e522ee1032fd8d8888ed8/include/seastar/core/future.hh#L271

I presumed this was the initial state, but I see in
https://github.com/scylladb/seastar/blob/2888b5d8bdff85f9766e522ee1032fd8d8888ed8/inclu

[2019-11-27 10:10] amoskong opened #5360 "i2.xlarge: coredump in start scylla-server"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20191126.4160b3630d
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI):
- scylla_2019-11-27T07-26-21Z (ami-0bcf61ab6b989903d)
- us-east-1

[code]

[code]

[2019-11-27 10:17] amoskong commented on #5360
The coredump file is uploaded to GCE storage:
https://console.cloud.google.com/storage/browser/_details/upload.scylladb.com/amos/scylla_issue_5360/core.scylla.1000.1d27b3079a7b45a398bf9de29bdc20aa.5134.1574848840000000.tar.gz
(size: 29M)

[2019-11-27 10:43] amoskong commented on #5360
Failed to load the coredump with scylla gdb:

[code]

[2019-11-27 11:02] alvaropalmeirao commented on #5348
The problem is on rkt... on docker it works.

[2019-11-27 11:06] amoskong commented on #5360
[code]

[2019-11-27 11:32] fgelcer opened #5361 "LIMIT doesn't work when using GROUP BY"
as part of the effort to cover tests for #2206 , imported tests from C*, and this combination of commands doesn't work, it doesn't fail, but it ignores the LIMIT command:

[code]

[2019-11-27 11:43] tzach commented on #5361
I can confirm this is different the Apache Cassandra 3.11.4

[code]

[2019-11-27 11:56] eliransin commented on #5323
@slivne this doesn't looks like it's related to #5322.

[2019-11-27 12:04] bhalevy commented on #5337
Looks like a duplicate of #5323

[2019-11-27 12:05] #5337 closed

[2019-11-27 12:19] fgelcer opened #5362 "LIMIT is not doing it right when using GROUP BY"
as mentioned on #5361 , this is an effort for testing #2206 , and LIMIT is not behaving as expected (and not accordingly with C*):

[code]

[2019-11-27 12:21] fgelcer commented on #5362
could be resolved by same PR as #5361 , but reporting apart as it doesn't behave the same.

[2019-11-27 12:24] amoskong commented on #5357
Fixed by https://github.com/scylladb/scylla/pull/5358

[2019-11-27 13:01] asias commented on #5350
Same host, same dbuild, different images: dnf update works fine in fedora-31-20191119 but fails in fedora-29-20190405. Looks like an image issue?

docker.io/scylladb/scylla-toolchain   fedora-31-20191119
docker.io/scylladb/scylla-toolchain   fedora-29-20190405

[2019-11-27 13:43] fgelcer opened #5363 "PER PARTITION LIMIT doesn't work right when using GROUP BY"
as mentioned on #5361 , as an effort to develop tests for testing #2206 , this issue has been reproducible.
as the original's test expected result, it is supposed to print 3 lines, not 5
[code]

[2019-11-27 13:52] tgrabiec commented on #5274
I now think that scylladb/scylla-enterprise#1155 is not the cause of this because the `in_memory` column is not set on either of the nodes, so the IN_MEMORY feature doesn't matter.

After some debugging, I noticed that the digest difference comes from the fact that 2019.1 nodes include `system_schema.view_virtual_columns` in the calculation while 2.0 nodes don't.

So the issue is caused by the fac

[2019-11-27 13:52] fgelcer commented on #5363
same here (with the same table):

[code]

[2019-11-27 15:09] nyh opened #5364 "Support pipelining in Redis API"
As explained in Redis's documentation in https://redis.io/topics/pipelining, the Redis protocol inherently supports pipelining: The client may send several requests on the same connection before waiting for responses, the server will read all of them, and start all of them, and will then return the responses in one write (in the same order as the requests, which requires buffering of the responses

[2019-11-27 15:13] tgrabiec commented on #5274
Looks like 2019.1.0 is vulnerable, so not a regression.

[2019-11-27 16:38] nyh commented on #5053
Sent a patch ("alternator-test: add tests for ReturnValues parameter") adding a comprehensive test for this feature.

[2019-11-27 21:04] espindola commented on #5322
The assert is valid and shout not be avoided. The invalid state shows up when a future_state is moved, so this points to a problem somewhere else.

[2019-11-27 21:08] vladzcloudius commented on #5354
@bhalevy Could you, please, clarify what is the setup and what was the exact command line you were using in order to run the test?

[2019-11-27 21:23] espindola commented on #5322
So, where is the debug info in the end? The packages in

https://jenkins.scylladb.com/job/scylla-3.2/job/centos-rpm/10/artifact/scylla/build/redhat/RPMS/x86_64/

are way too small to have everything.

In fact, it looks like it was built without debug info, since https://jenkins.scylladb.com/job/scylla-3.2/job/build/4/consoleText has

[2019-11-19T21:01:48.897Z] + /data/jenkins/workspace/scylla-3.2/

[2019-11-27 22:32] vladzcloudius commented on #5354
@bhalevy I have reproduced (I think) the issue and I think I know what the issue is
The following commit has removed the sleep(30) that was there before:

[code]

...and instead it added tracking after `node1` only, while it should have tracked both `node1` and `node2`.

Here is what I see in the dtest log:
[code]

And this is what I see in the corresponding `node2` log:
[code]

You can clearly se

[2019-11-27 22:38] vladzcloudius commented on #5354
Also the dtest patch I mentioned above is not good enough because the message it checks for doesn't guarantee that the directories in question are already deleted - not even that they are empty.

Another debug message needs to be added to the HH code.

[2019-11-28 00:11] espindola commented on #5322
This is hard to debug as the debug info is incomplete, but looks like the error is from  db::commitlog::segment_manager::active_segment.

I think the issue is that the shared_future code is not handling all the futures expiring. I should have a patch for that today.

[2019-11-28 00:51] amoskong opened #5367 "failed to install scylla-jmx: error: unpacking of archive failed on file /opt/scylladb/scripts/jmx: cpio: rename"
*Installation details*
Scylla version (or git commit hash): scylla-666.development-0.20191127.91b43f1f06.el7.x86_64.rpm
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

[code]

Repo used: http://downloads.scylladb.com.s3.amazonaws.com/rpm/unstable/centos/master/379/scylla.repo

[code]

[code]

@syuu1228

[2019-11-28 01:05] amoskong commented on #5367
After removed the scylla packages, I can still see some files in `/opt/scylladb/`.

Then I tried to remove all the files in `/opt/scylladb/`, and reinstall scylla. scylla-jmx is installed successfully.

[code]

[2019-11-28 02:46] espindola commented on #5322
Patch sent to the seastar mailing list. The subject is "[PATCH] shared_future: Fix crash when all returned futures time out".
Creating the test was quite a bit harder than fixing the bug.

[2019-11-28 06:31] amoskong opened #5370 "scylla_io_setup fail: ERROR:root:No data directories found. Please check the configuration and run scylla_io_setup again."
*Installation details*
Scylla version (or git commit hash):  666.development-0.20191127.91b43f1f06.el7
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

This issue can be reproduced by manually execute scylla_io_setup .

- test job: https://jenkins.scylladb.com/job/scylla-master/job/centos-rpm-test/350/
- test log: https://jenkins.scylladb.com/job/scylla-master/job/centos-rpm-test/350/labe

[2019-11-28 06:31] amoskong commented on #5370
Fixed by: https://github.com/scylladb/scylla/pull/5368

[2019-11-28 07:16] bhalevy commented on #5354
@vladzcloudius previously there was an unconditional sleep for 15 seconds that indeed may have allowed node2 to drain hints too, so we can also add a `watch_log_for` on node2 as well.

That said, this doesn't explain this issue since here node1 didn't seem to drain at all, otherwise we should have seen at least `Draining for 127.0.9.3: start` or `hints_manager - ep_manager(127.0.9.3)::sender: exit

[2019-11-28 08:24] ratcashdev commented on #5297
@avikivity 100MB is (used to be?) quoted as a magical limit for partition size in C* beyond which one will start getting performance issues. Not sure if still applies, and apparently you say it does not apply to Scylla. Is there a different limit in Scylla?

[2019-11-28 08:31] bhalevy commented on #5354
@vladzcloudius In addition to #5354 see https://github.com/bhalevy/scylla-dtest/commits/hintedhandoff_removenode_test

[2019-11-28 08:41] ratcashdev commented on #5297
BTW: seems interesting that a single Scylla node (RF:1, same HW, using Logged Batches, std C* driver) was able to finish the data-set 2.5x faster, than a 5 node Scylla cluster (identical HW for nodes, RF:3, scylla driver, no batches)

[2019-11-28 08:55] amoskong commented on #5274
I verified your conclusion.

This issue is reproduced by https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/rolling-upgrade-2019.1/job/rolling-upgrade-centos7/3/console
- Upgrade from `3.0.10-0.20190815.b3bfd8c08` to `2019.1.2-0.20190814.2772d52`

[code]

[2019-11-28 09:34] eliransin commented on #5322
@espindola  Thanks. The crash is indeed in the get_future function (I have a machine set up with the full debug info). But  can you explain what you think happened?
I found that somthing has changed in the:
4d0916a094
A futurize_apply has been added, I still couldn't get my head around it, but it looks like the _segment_alocationg future is destroyed before it's promise is resolved. (maybe I am mi

[2019-11-28 09:56] denesb opened #5373 "unit test: Exceptional future ignored: seastar::no_sharded_instance_exception (sharded instance does not exist) when tests using cql env start"
I keep seeing this when running unit tests. As this is just a WARN message it doesn't fail the unit test and thus won't be caught by next gating. Yet it certainly points to a bug, maybe caused by the recent refactoring of our startup/shutdown code.
/cc @xemul

[code]

The backtrace resolved (not very helpful):
[code]

[2019-11-28 10:04] denesb commented on #5373
Maybe we should have a counter that is incremented each time an exceptional future is ignored and the seastar unit test engine could assert that this is 0 on shutdown to not let such exceptions slip through next-gating unnoticed.

[2019-11-28 10:11] asias opened #5374 "selective_token_range_sharder can generate range with empty tokens"
On a node with msb = 12, shard count = 8,

1)
sharder = selective_token_range_sharder((9211550087832928255, 9212113037786349567], 2 )
sharder.next() will return (9211550087832928255, 9211550087832928256)

This range is empty because both side is exclusive.

2)
sharder = selective_token_range_sharder((9211550087832928255, 9212113037786349567], 3 )
sharder.next() will return (9211550087832928255, 92

[2019-11-28 10:13] avikivity commented on #5297
There is no one limit (I know this isn't a good answer), it really depends on what you are doing. We routinely test >10GB partitions. What's important is that we never read an entire partition into memory (so long as you don't do silly things like disable paging).

That is way too few. Your 5-node system has 5*16 shards = 80 shards, so ~11 partitions/shard. Together with vnodes, you're bound to ha

[2019-11-28 10:13] asias commented on #5374
@avikivity can you take a look?

[2019-11-28 10:14] avikivity commented on #5297
That's an indication that the workload doesn't have enough concurrency. RF=3 has higher latency than single-node.

Also, don't use batches unless you really have to. They negate the functionality of the token and shard aware driver, and impose extra work on the server.

[2019-11-28 10:15] avikivity commented on #5297
Anyway, I'm closing this as it's clear now this isn't a bug. If you need assistance with data modeling, please use the user mailing list or slack channel.

[2019-11-28 10:15] #5297 closed

[2019-11-28 10:17] avikivity commented on #5350
Does the "bad" image fail in docker? If not, it's a fuse-overlayfs problem.

[2019-11-28 10:19] asias commented on #5350
I do not have docker on my f31 box ;(

[2019-11-28 10:22] avikivity commented on #5350
I ran `podman run -it --rm fedora:29 dnf -y update` and it succeded.

[2019-11-28 10:22] avikivity commented on #5350
I'm sure you can figure out how to install it.

[2019-11-28 10:23] avikivity commented on #5350
Ah, the "bad" image fails for me too.

[2019-11-28 10:46] slivne commented on #5367
@amoskong is this a regression - is this only in master ?

[2019-11-28 10:47] slivne commented on #5367
@amoskong please provide instructions on how to reproduce

[2019-11-28 10:52] slivne commented on #5360
@amoskong is this reproducible - if so can you provide instructions

[2019-11-28 10:53] amoskong commented on #5367
I didn't reproduced this issue.
It occurred in an unclean environment.  I installed/uninstalled master/enterprise/3.2 on the machine.

Let's close this issue, I will re-open it if the problem occurs again.

[2019-11-28 10:53] #5367 closed

[2019-11-28 10:56] slivne commented on #5355
@bentsi
-  is this a regression ?
- how did you bring the nic down ?

[2019-11-28 11:00] slivne commented on #5349
is this a regression ?

[2019-11-28 11:10] ratcashdev commented on #5297
This is a limited data set. I expect the number of partitions to grow by orders of magnitude over time, but that should happen proportional to the number of clients.

[2019-11-28 11:12] eliransin commented on #4270
Still failing with certain flakiness.

[2019-11-28 11:12] eliransin commented on #4382
Same test as #4270

[2019-11-28 11:15] ratcashdev commented on #5297
I am fine with that. However, I don't think anyone said it's a bug. The central point was that with the same data-set and model, like for like HW, C* was, in this specific case, faster. What more, it's even faster on cheaper HW.
My only conclusion is that Scylla is more sensitive to certain modelling deficiencies (or real-world data distributions), than Cassandra. Blindly replacing C* may not yiel

[2019-11-28 11:26] avikivity commented on #5297
The conclusion is correct, it's impossible to be better in every single case. We try to be better in the cases that matter: where you have lots of partitions and where you have reasonable good distribution (if you don't, Cassandra will fail too, just at a larger number of nodes).

[2019-11-28 11:29] piodul commented on #5354
@bhalevy Are you working on this issue right now, or can I take it over? I can see you already pushed some commits related to this issue (on the `hints-manager-remove-file-message` branch).

[2019-11-28 11:50] tzach commented on #5165
@kbr- when this might happen? can you give a CQL example?

[2019-11-28 11:52] rbino opened #5375 "Shorthand syntax for map update (+=) is not supported"
*Installation details*
Scylla version (or git commit hash): 3.1.1 Docker image
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 18.04

Using Cassandra 3.11.5 I can do this:
[code]

While on Scylla 3.1.1 I get this:
[code]

I'm aware I can just do
[code]

But I suppose that's still a Cassandra compatibility issue (i.e. I can't use Scylla as a drop-in replacement without modifying the code).

[2019-11-28 12:25] amoskong commented on #5360
The AMI I used to reproduce this issue , contained some issue in scylla setup script.
I have a script to workaround those issues:  [workaround-scylla-setup-issues.sh.txt](https://github.com/scylladb/scylla/files/3901594/workaround-scylla-setup-issues.sh.txt)

----

A SIMPLE way to reproduce this issue is use the latest good AMI (which passed the ami-test).
- ami-01148a97875c49739
- https://jenkins

[2019-11-28 12:41] xemul commented on #5360
Where can I find the scylla binary itself? @amoskong

[2019-11-28 12:44] xemul commented on #5360
And the config file used.

[2019-11-28 12:46] roydahan commented on #5179
@slivne are we going to fix this somehow?

[2019-11-28 12:47] amoskong commented on #5360
/opt/scylladb/libexec/scylla

/etc/scylla/scylla.yaml

[2019-11-28 12:52] xemul commented on #5360
No other way rather than run the instance from ami again and get it?

[2019-11-28 12:55] fgelcer commented on #5308
what do we plan to do in here? there are 3 (new) tests failing because of this issue...
we could try to decrease the range of int units in the test to have this working..
@amoskong , FYI.

[2019-11-28 12:56] roydahan commented on #5360
@amoskong why are you testing with i2?

[2019-11-28 13:03] amoskong commented on #5360
When I reproduce another scylla setup issue. I created an instance manually, wrongly choose i2.

[2019-11-28 13:05] amoskong commented on #5308
Thanks.

[2019-11-28 13:40] roydahan commented on #5360
If the issue is only with i2, the priority for fixing it is low or even none.
We do not support this instance type anymore.

[2019-11-28 14:10] amoskong opened #5377 "remove unsupported i2 from support list"
*Installation details*
Scylla version (or git commit hash): latest master
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI):

According to https://github.com/scylladb/scylla/issues/5360#issuecomment-559498434
we need to remove unsupported i2 from support list.

https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_util.py#L169

[code]

[2019-11-28 14:23] amnonh commented on #5347
Unfortunately, we are limited to swagger 1.2 type formats.
I will change it to long

[2019-11-28 14:26] tgrabiec commented on #5349
We don't know if it's a regression or not.

[2019-11-28 15:14] eliransin commented on #4469
Cassandra is outputing null for Infinity,-Infinity,NaN:
[code]
I will send a patch that does the same.

[2019-11-28 15:51] tgrabiec commented on #5281
I'd also throw the ones we have on the write path: in the commitlog (`segment_manager::_request_controller`) and before the memtable (`region_group::run_when_memory_available()`)

[2019-11-28 17:06] kbr- commented on #5165
[code]
the `map<int, empty>` would instead be `map<text, empty>`.

I'm not sure if this actually makes anything crash or work incorrectly. The virtual columns are there to check liveness, so we're only interested in timestamps in their mutations. But there is a piece of code that could serialize a text field while thinking that it's an int field, or the other way around. Maybe it could cause some

[2019-11-28 17:27] espindola commented on #5322
I think https://github.com/scylladb/scylla/commit/4d0916a094fc08aa25953a010cce5874b7015a02 only found the issue.

The underlying problem is that the shared_future (since 27db48ece) checked the peers list to see if it had called then_wrapped already or not. Futures that expire are removed from that list, and the timing is important since small changes can change the continuation execution order and

[2019-11-28 19:15] espindola commented on #5322
Not sure what the correct procedure for backporting seastar patches is. I added the label just in case.

[2019-11-28 22:13] #5322 closed

[2019-11-29 03:29] asias commented on #5374
I modified partitioner_test.cc to verify that selective_token_range_sharder indeed generates such empty token ranges. I am not sure how we can test range like (9211550087832928255, 9211550087832928256) contains no token and skip it in selective_token_range_sharder.
[code]

[2019-11-29 03:45] amoskong opened #5382 "Updateable Config: SIGHUP will make unsupported parameters effective in runtime"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20191129.d4a26f2ad0
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description:

Currently we only supported one parameter  - compaction_enforce_min_threshold,
it's value can be changed in runtime, the value can be changed multiple times.

But the unsupported parameters are also changed unexpectedly, and c

[2019-11-29 03:46] wuzm2k05 opened #5383 "case-sensitive of role name is not consistent"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details* 1 node cluster
Scylla version (or git commit hash): 3.1.1
Cluster size:

[2019-11-29 05:33] amoskong opened #5384 "updateable config doesn't work after 10000 flood SIGHUP to scylla process"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20191129.d4a26f2ad0
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description:

Currently we only supported one parameter  - compaction_enforce_min_threshold,
it's value can be changed in runtime.

The update is triggered by sending SIGHUP to scylla process.

### Test steps:
1. create a db node, wait util

[2019-11-29 08:55] bhalevy opened #5385 "repair_option_pr_multi_dc_test: storage_service::unregister_subscriber: AddressSanitizer: negative-size-param: (size=-8)"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/326/artifact/logs-debug.2/1574950442378_repair_additional_test.RepairAdditionalTest.repair_option_pr_multi_dc_test/node5.log
Scylla version 91b43f1f06caa30ff97919a659b9400204e6df97
[code]

Relocatable package: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/326/artifact/logs-debug.2/scylla

[2019-11-29 10:35] avikivity opened #5386 "frozen toolchain build calls `cmp` binary which isn't there"
[code]

Source is dpdk build system; the error is benign since if cmp succeeds the build system will skip some action that it otherwise would assume already done.

[2019-11-29 10:40] avikivity commented on #5386
Seastar patch posted.

[2019-11-29 10:40] tgrabiec commented on #5374
Why is returning an empty range a problem?

[2019-11-29 10:53] asias commented on #5374
It is not a real problem but it is a waste because, for instance, repair would start an instance on that empty range which is unnecessary.

[2019-11-29 13:31] haaawk opened #5388 "CDC dtests: Test cluster rolling upgrade from version without CDC to version with CDC"
1. Setup a cluster with Scylla version that does not have CDC implemented
2. Perform rolling upgrade to Scylla version with CDC implemented
3. Check that it is possible to create a table with CDC enabled
4. Do some writes to that table and verify that CDC Desc and CDC Log have the corresponding entries.

[2019-11-29 13:33] haaawk opened #5389 "CDC dtests: test cluster expansion with CDC enabled"
1. Setup a cluster
2. Create a table with CDC enabled
3. Start writing to that table
4. Add new node to the cluster
5. Stop writing to the table
6. Verify that all entries in CDC Desc and CDC Log are correct.

[2019-11-29 13:36] haaawk opened #5390 "CDC dtests: test cluster size reduction with CDC enabled"
1. Setup a cluster
2. Create a table with CDC enabled
3. Start writing to that table
4. Remove one node from the cluster
5. Stop writing to the table
6. Verify that all entries in CDC Desc and CDC Log are correct.

[2019-11-29 13:38] haaawk opened #5391 "CDC dtests: heavy load topology change tests"
1. Setup a cluster
2. Create a table with CDC enabled
3. Start load on the cluster using cassandra stress
4. Add/Remove node to/from a cluster
5. Stop cassandra-stress
6. Verify some invariants on CDC Desc and CDC Log entries.

[2019-11-29 13:39] haaawk commented on #5391
We probably should create two tests here. One for addition and one for deletion of the node.

[2019-11-29 18:36] #5243 closed

[2019-11-29 18:36] #5370 closed

[2019-11-30 01:21] espindola commented on #5215
A patch fixing a case of a file not being close was committed to master as 6160b9017db9d8bf96538cc8346288bc7953aaae.

Taking a look a the core on this bug to see if it is the same issue.

[2019-11-30 01:24] espindola commented on #5215
Where can I download the binary? I normally find it by looking at jenkins, but 666.development-0.20191018.d7c3e48e8c4 is too old and looks like the jenkins runs are no longer available.

[2019-11-30 06:13] siphonelee commented on #5151
I have the same issue iotune appearing to be hanging forever. With strace I got endless loop like this (please pay attention to the "Inappropriate ioctl for device" message):

......
[pid 32245] openat(AT_FDCWD, "/", O_RDONLY|O_CLOEXEC|O_DIRECTORY) = 35
[pid 32245] read(6,  <unfinished ...>
[pid 32237] fstat(35, {st_mode=S_IFDIR|0755, st_size=4096, ...}) = 0
[pid 32237] ioctl(35, BLKGETSIZE, 0x7ff

[2019-11-30 22:29] espindola commented on #4891
Looks like the above structure is a parallel_for_each_state.

There is a then_wrapped_impl continuation at 0x600008b798c0 that refers to the parallel_for_each_state, which is likely the

            f.then_wrapped([state] (future<> f) {

in parallel_for_each.

That continuation is referenced from 0x60000bc9bcb0, which is a smp_message_queue::async_work_item.

[2019-11-30 23:15] espindola commented on #4891
Thread 27 has a reference to that async_work_item. The reference is from 0x60700b3d2580, which is the continuation for the then_wrapped at

futurator::apply(this->_func).then_wrapped([this] (auto f) {

That is referenced from the continuation at 0x607000dcb1c0 which is from discard_result.

The discard_result continuation is referenced from 0x6070093a5900, which is a when_all_state, so I think thi

[2019-12-01 00:40] espindola commented on #4891
The _continuation is 0x6070093a5950. It is refenced by a discard_result at 0x607000f65310, which is referenced by another when_all_state at 0x6070093a3100. This new when_all_state has _nr_remain = 3 and nr = 3.

The _continuation is 0x6070093a3150, it is referenced by 0x607000f24f00, which is not virtual, but looks like a netw::messaging_service::rpc_protocol_server_wrapper. The value is
[code]

S

[2019-12-01 02:45] espindola commented on #4891
Searching for all continuations matching _ZTVN7seastar12continuation.*with_gate in thread 27 finds  0x6070011ccc00, which corresponds to the finally in with_gate in the call

with_gate(client->get_server().reply_gate(), [client, timeout, msg_id, data = std::move(data), permit = std::move(permit), &func] () mutable {

in recv_helper.

[2019-12-01 03:09] espindola commented on #4891
0x6070011ccc00 is referenced by 0x607000acad00, which I think is the  continuation for the then_wrapped in

return apply(func, client->info(), timeout, WantClientInfo(), WantTimePoint(), signature(), std::move(args)).then_wrapped([client, timeout, msg_id, permit = std::move(permit)] (futurize_t<Ret> ret) mutable {

That in turn is used by 0x60700b15d140, which is a do_with_state. The do_with_state

[2019-12-01 03:15] espindola commented on #4891
Next up is the when_all_state from

            return when_all(
                // mutate_locally() may throw, putting it into apply() converts exception to a future.

_nr_remain is 1, so it is the first future that is blocked. The _continuation is 0x6070001b7120, which is referenced by 0x60700c3987d0, which is the handle_exception:

              }).handle_exception([reply_to, shard, &p, &errors

[2019-12-01 03:21] espindola commented on #4891
0x60700c3987d0 is referenced by 0x607008e28540, which is probably

                   p->get_view_update_backlog()).then_wrapped([] (future<> f) {

It is referenced by 0x60700bee1ee0.

[2019-12-01 04:02] espindola commented on #4891
0x60700bee1ee0 is the then_wrapped in

 return rpc_handler(rpc_client, std::forward<MsgOut>(msg)...).then_wrapped([ms = ms->shared_from_this(), id, verb, rpc_client_ptr = std::move(rpc_client_ptr)] (auto&& f) {

in send_message.

It is referenced by 0x6070004c6d20, which is the then in

            return when_all(dst.send(std::move(data), timeout, cancel), wait_for_reply<Serializer>(wait(), timeo

[2019-12-01 04:10] espindola commented on #4891
0x607000e30480 is a std::list node, and 0x607000e30490 is a seastar::rpc::connection::outgoing_entry.

[2019-12-01 04:33] espindola commented on #4891
The connection with the outgoing_entry is at 0x60700a499e00. _error is true, _connected is true.

@gleb-cloudius is it expected that a connection can has _error set to true but still be connected and have outgoing entries?

[2019-12-01 07:02] fgelcer commented on #5215
from the hast '''d7c3e48e8c4" i found on master this commit:

[code]

[2019-12-01 07:30] bhalevy commented on #5336
Seen again in [dtest-release#309](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/309/testReport/user_types_test/TestUserTypes/test_add_udt_to_another_data_types/)

[2019-12-01 07:31] fgelcer commented on #5215
using hydra commands, i found this:

[code]

it is a build from master, on the same day, so this should be the AMI:
ami-0e07fbbe00947dc7c

[2019-12-01 08:41] nyh opened #5394 "redis/commands/ has tiny source files which slows down compilation"
Although in other projects tiny source files are encouraged, in Scylla those have huge compile-time overheads because of the complexity of our header files and templates.

For example, the recently added introduced `redis/commands/echo.cc` has barely 6 lines of code, but takes 24 seconds (!) to compile.

I think we should combine all the source files redis/commands/*.cc into just one file, redis/c

[2019-12-01 11:03] bhalevy commented on #5354
@piodul Yes, I pushed some commits to help debug this issue
But I'm not currently working on this particular issue where draining of hints seems to hang, at least in debug mode.  @vladzcloudius speculated it might be related to differences between release and debug with respect to seastar yielding between continuations.

[2019-12-01 11:54] slivne commented on #5291
@eliransin is this the same as https://github.com/scylladb/scylla/issues/5288

[2019-12-01 12:44] bhalevy commented on #5308
@psarna wrote:

So this is not a bug.
Though to be on the safe side, it might make sense to return an error on overflow unless flagged not to, but this will break compatibility with Cassandra.  Let's open a separate issue for that, and decide on that as a possible enhancement.

scylladb/scylla-dtest#1161 fixes the test to properly deal with 32-bit int overflow.

[2019-12-01 12:56] slivne commented on #5355
@bentsi
- where are the logs ?
- did you get a coredump ?

[2019-12-01 14:14] nyh commented on #5034
Committed patch by @dekimir adding support for more operators.
Now the only unimplemented operators remain CONTAINS and NOT_CONTAINS.

[2019-12-01 18:43] #4066 closed

[2019-12-01 18:43] #4571 closed

[2019-12-01 18:46] espindola commented on #5215
How did you know to look at https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-100gb-4h/28/?

How to I download binaries from an AMI? Do I have to start a VM just to do it?

It would be really nice if we could automate issue reports with cores to also include all of our rpms corresponding to that run. I am trying to build a habit of setting that up first when lo

[2019-12-01 18:50] espindola commented on #4891
@avi, btw, this reminds me somewhat of issue #4971: shutdown is stuck sending a message.

[2019-12-01 23:00] slivne commented on #4951
@roydahan / @fruch #4915 should have fixed this and is part of 3.2 - lets retest on 3.2

[2019-12-02 03:42] amoskong opened #5398 "scylla-docker: scylla_dev_mode_setup failed"
*Installation details*
Scylla version (or git commit hash): docker: scylladb/scylla-nightly:666.development-201911302334
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

Failed job: https://jenkins.scylladb.com/job/scylla-master/job/docker-test/label=muninn/82/console

Reproduced locally:
[code]

/CC @bentsi

[2019-12-02 07:13] fgelcer commented on #5215
if you need the binaries, you will need to start a VM, or track back the whole jenkins jobs to find in which job the binaries were compiled, and maybe find them in one of the servers/builders.

you can use our ```hydra investigate``` command to gather more information regarding the specific job or logs:

[code]

[2019-12-02 08:04] tzach commented on #4210
@kbr- is the RF extends to an added DCs?
AFAIU, it is for https://issues.apache.org/jira/browse/CASSANDRA-14303

[2019-12-02 08:07] tzach commented on #1825
@asias is this issue still relevant with row-level repair?

[2019-12-02 08:10] asias commented on #1825
The row-level repair does not use streaming service at all, so it is not relevant.  Also, we are moving all the node operations which use streaming service to row-level repair based.
So, this is less important now.

[2019-12-02 08:12] aleksbykov opened #5400 "LIKE operator: incorrect filtering with where statement by pk and ck."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Version data for date: 2019-12-02 0

[2019-12-02 08:19] aleksbykov commented on #5400
Another query which returned with wrong result is:
SELECT * FROM test WHERE pk LIKE 'teststring3' AND ck LIKE '0teststring' AND test LIKE 'test1string' ALLOW FILTERING
expected, that this query return empty result, because there is not row with
['teststring0', '0teststring', 'test1string']
But returned next
[u'teststring3', u'1teststring', u'test1string']

[2019-12-02 08:27] tzach commented on #1825
So, this is less important now.

Please add an issue #

[2019-12-02 08:28] tzach commented on #5400
@dekimir ?

[2019-12-02 08:31] kbr- commented on #4210
@tzach when we:
1. Add a new datacenter,
2. Run ALTER KEYSPACE and provide 'replication_factor',

it will expand the option to this new datacenter too.

But RF won't be set automatically for this keyspace just because a new DC started existing.

[2019-12-02 08:32] asias commented on #1825
On Mon, Dec 2, 2019 at 4:27 PM Tzach Livyatan <notifications@github.com>
wrote:

Fixes: #3003 <https://github.com/scylladb/scylla/issues/3003>
Fixes: #4208 <https://github.com/scylladb/scylla/issues/4208>

And a PR: https://github.com/scylladb/scylla/pull/4975

--
Asias

[2019-12-02 08:34] tzach commented on #4210
Thanks @kbr-

- Is it different than Apache Cassandra?
- ALTER KEYSPACE to what? if it is already `{'class': 'NetworkTopologyStrategy', 'replication_factor': 3}` what should I change to apply RF=3 to the new DC?

[2019-12-02 08:39] kbr- commented on #4210
1. It's the same
2. run ALTER KEYSPACE with the same option: {'class': 'NetworkTopologyStrategy', 'replication_factor': 3}. It will expand to DCs that exist at the moment of executing ALTER KEYSPACE.

Example:

Suppose we have a single datacenter, 'dc1'.
We run CREATE KEYSPACE with {'class': NTS, 'replication_factor': 3}.
It expands to {'class': NTS, 'dc1': 3}.

Then we bootstrap a node in a diffe

[2019-12-02 08:44] tzach commented on #4210
Thanks
Running the same `ALTER KEYSPACE with {'class': NTS, 'replication_factor': 3}`
twice (or more) and getting different results every time seems anti-intuitive.

[2019-12-02 08:46] kbr- commented on #4210
Maybe.

'relication_factor' was only meant to be used with SimpleStrategy in the first place, it didn't make sense for NTS.

That's why it requires clear documentation to explain exactly what happens. Maybe the example helps.

[2019-12-02 10:07] xemul commented on #5360
@amoskong , any chance to get the io_properties.yaml file from your test-run?

[2019-12-02 11:17] roydahan opened #5401 "Master - debian and ubuntu installation fails"
*Installation details*
Scylla version (or git commit hash): https://s3.amazonaws.com/downloads.scylladb.com/deb/unstable/unified/master/201911241926/scylladb-master/scylla.list
Jenkins job: https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/debian-deb-9-test/267/

[code]

[2019-12-02 11:26] roydahan commented on #5401
https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/ubuntu-deb-16.04-test/264/

https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/ubuntu-deb-18.04-test/254/

[2019-12-02 11:42] slivne commented on #5325
duplicate of #4877

[2019-12-02 11:42] #5325 closed

[2019-12-02 11:43] amoskong commented on #4924
Reproduced this issue in upgrade from 3.0.10-0.20190815.b3bfd8c08 to 3.1.2-0.20191127.9d78d848e
- job[ link](https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/rolling-upgrade-clone-3.1/job/rolling-upgrade-debian9/4/execution/node/35/log/)
- the error raised in verify testing after upgraded one node.

[2019-12-02 11:45] slivne commented on #5323
no coredump  - we can't make progress without it - if it happens again, please reopen and provide the coredump as well

[2019-12-02 11:45] #5323 closed

[2019-12-02 11:51] slivne commented on #5215
@juliayakovlev please split out your issue to a new one https://github.com/scylladb/scylla/issues/5215#issuecomment-546670092

[2019-12-02 11:51] bhalevy commented on #5215
@juliayakovlev this seems to be a different issue.
Please open a separate issue for it, regarding the assert tripped in `~mutation_fragment_stream_validator`

[2019-12-02 11:51] slivne commented on #5215
@bhalevy / @espindola please provide input if this can be closed

[2019-12-02 11:52] slivne commented on #5211
@eliransin ping

[2019-12-02 12:00] slivne commented on #5401
@penberg the date is fishy we do not use dates we use build ids someone broke either the repo file or the path

[2019-12-02 12:00] bhalevy commented on #5291
@tgrabiec can the following explained by the new cdc column (#5288)?
[code]

[2019-12-02 12:22] fgelcer opened #5403 "core during drain nemesis"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20191130.96009881d8c
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-092c239b8d07364ec

core can be found [here](https://storage.cloud.google.com/upload.scylladb.com/core.scylla.996.fed2cd902e314f78b442ff5378bdb473.1754.1575211847000000/core.scylla.996.fed2cd902e314f78b442ff5378bdb473.1754.1575211847000000.gz)

the

[2019-12-02 13:08] bhalevy commented on #4273
@avikivity / @tgrabiec please consider backporting.

[2019-12-02 13:09] nyh commented on #4820
@jul-stas you closed this issue, but the patch you wrote to address it was not yet committed. Was this by mistake?

[2019-12-02 13:11] tgrabiec commented on #5291
@bhalevy Yes

[2019-12-02 13:12] bhalevy commented on #4273
This patch could have helped #5291

[2019-12-02 13:43] avikivity commented on #4273
It's a major change, introducing new verbs and formats. It's too large for backports.

[2019-12-02 13:45] jul-stas commented on #4820
Aww, I didn't even notice that, so must have been a mistake. Sorry and thanks.

[2019-12-02 14:38] tgrabiec commented on #5374
Is the impact noticeable though? Seems to me that the empty range should stream very quickly. If the impact is negligible it's better to avoid special-casing in code.

[2019-12-02 15:14] psarna commented on #4270
I suspect this to be a race in the test itself. Let me explain. Here's how materialized views are created for this test:
[code]
Inside, `self._create_mvs_by_one_column` calls `create_materialized_view`, which is a function of the `MaterializedViewManager` class. This manager has a reference to its `TableManager` class and creates the views in such a way:
1. Pick a name for the materialized view
2.

[2019-12-02 15:20] psarna commented on #4270
Oh wait, I misread this code, only a single instance of `_create_mvs_by_one_column` is ran in parallel... so my whole story about the race does not apply.

I still think it has to do with the way views are created in the tests (that they somehow try to create a view that is already created), but I have to dig more to figure out what actually happens.

[2019-12-02 15:57] eliransin commented on #5211
backtrace:
[code]
The backtrace looks the same as in #5323

[2019-12-02 16:02] avikivity commented on #5211
Looks like replay doesn't make the mutation stable in memory before calling memtable::apply, and so if the memtable is full and has to block, it results in a use-after-free.

[2019-12-02 16:03] psarna commented on #4270
I tried to look at fresh logs, but this test doesn't seem to fail with `Table already exists`at all... it sometimes fail with `View not built`, which is a totally separate issue (perhaps the view simply has not finished building *yet*). Did anybody see actual fresh logs with this error? I wanted to use them for debugging, but found nothing from recent runs.

[2019-12-02 16:06] avikivity commented on #5211
[code]

The last line sends fm with an unstable address (if we defer). /cc @elcallio

[2019-12-02 16:07] bhalevy opened #5404 "use-after-free in service::migration_manager::unregister_listener on shutdown"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/10/artifact/logs-debug.2/1575267130149_sstable_generation_loading_test.TestSSTableGenerationAndLoading.sstableloader_compression_deflate_to_none_test/node2.log
Scylla version c5a95210fead98c4b3ed17f2363e361cdec686cb
[code]
[scylla-package.tar.gz](https://jenkins.scylladb.com/view/master/job/scylla-master/job/

[2019-12-02 16:07] bhalevy commented on #5404
CC @xemul

[2019-12-02 16:08] bhalevy commented on #5404
Could be related, or actually the cause of #5403

[2019-12-02 16:12] bhalevy commented on #5403
@xemul please investigate core in this issue to see if it could be explained by #5404, and if so we can mark one of them as duplicate.

[2019-12-02 16:39] xemul commented on #5404
This is because mm is stopped on drain() (regular drain), wihle it carries migration_listeners on board from which lost of stuff unregisters themselves on _their_ stop. The #5403 is about the same. I'm currently fixing this, but not with short patches -- I'm detaching the whole _listeners part into own sharded "service" with the lowest prio (i.e. it's started first and stopped last).

[2019-12-02 16:52] bhalevy commented on #5354
https://jenkins.scylladb.com/view/scylla-3.2/job/scylla-3.2/job/next/25/testReport/junit/hintedhandoff_additional_test/TestHintedHandoff/hintedhandoff_removenode_test/
demonstrates draining issues on node2.
Without #1165 it fails to verify that the hints directory is empty and the failure looks like this:
[code]

[2019-12-02 17:01] espindola commented on #5215
One always needs a binary, a core by itself is not useful.

I assume there is an automated tool that compresses the core uploads it to google, correct? Could that tool also put the core in a tar file with the following rpms:

scylla
scylla-conf
scylla-debuginfo
scylla-kernel-conf
scylla-python3
scylla-server

That would make it much easier to start debugging a problem and not require starting a VM

[2019-12-02 17:03] espindola commented on #5215
It might be a duplicate of the other enospc error (#4877), but I am not sure. Given that the jenkins builds were already deleted I would be happy with closing this and opening a new one if we get another crash.

[2019-12-02 19:29] espindola commented on #5193
This reproduces with just

UBSAN_OPTIONS=halt_on_error=1:abort_on_error=1 gdb --args  ./build/debug/scylla --overprovisioned --developer-mode=yes --experimental=on

Which reminds me of https://github.com/scylladb/scylla/issues/4054

[2019-12-03 02:31] asias commented on #5374
The problem is there is tons of such empty cases because scylla manager generates such belonging to one shard ranges all the time. It impacts not just local node, it impacts all the peer nodes as well. Peer nodes have to create readers for such empty ranges.

All we need to do is check if the range is empty before return inside selective_token_range_sharder. Not that special case in my view.

Btw,

[2019-12-03 04:13] amoskong commented on #5317
fixed by: https://github.com/scylladb/scylla/pull/5381

[2019-12-03 04:30] amoskong opened #5406 "scylla_storage_proxy_replica_cross_shard_ops isn't reduced after switched to shard-aware driver"
*Installation details*
Scylla version (or git commit hash):
- scylla-tools-core-666.development-20191130.35906df2a0d.noarch
- scylla-666.development-0.20191130.96009881d8c.el7.x86_64
- scylla-tools-666.development-20191130.35906df2a0d.noarch
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description

We just merged a PR from @haaawk to use shard-aware driver.
- Switch to shard aware

[2019-12-03 04:50] amoskong commented on #5360
I did't find it from the log, but I can reproduce this issue by an new instance.
and provide the configuration & living instance.

[2019-12-03 04:53] amoskong commented on #5360
[code]

### Scylla AMI Setup Log:

[code]

[code]

[2019-12-03 04:59] amoskong commented on #5360
I had send you an email about the instance ip, key.
Please ping me when you don't need it, then I can delete it.

[2019-12-03 07:01] xemul commented on #5360
That's the crash reason:

      read_bandwidth: 0
      read_iops: 0
      write_bandwidth: 0
      write_iops: 0

the seastar's generate_config divides on these values w/o any checks. I'll fix the seastar to handle this nicely, but @amoskong , I would say there's also a problem with the dist/common/scripts/scylla_io_setup script. The disk_properties dict assigns "$const * nr_disks" value in many

[2019-12-03 07:02] penberg commented on #5401
First things first, looks like the package _build_ is failing after Fedora 31 bump in `dbuild` in commit 1164ff5329:

[code]

Will send a patch to add `diffutils` to `dbuild`.

[2019-12-03 08:45] tzach commented on #5241
@psarna can you please provide a user-level (CQL) example of this issue?
Is it a correctness or performance issue?

[2019-12-03 08:52] fgelcer commented on #5215
closed by mistake

[2019-12-03 09:39] psarna commented on #5241
It's a little bit of both. In order to see the effects you'd have to:
1. Create a local index on a cluster that does not support computed columns yet
2. (correctness) Describe the underlying materialized view of this index - it will not contain a correct description. It's meaningless as this materialized view is created correctly (and should never be created directly), but the fact remains that it

[2019-12-03 09:44] slivne commented on #5385
@bhalevy is this master or 3.2 ?

[2019-12-03 09:45] slivne commented on #5377
@tzach - are you ok with this ? can we drop i2 support from ami ?

[2019-12-03 09:48] avikivity commented on #5377
I don't see why we should drop support.

[2019-12-03 09:49] slivne commented on #5374
@asias can you send a patch ?

[2019-12-03 10:07] avikivity commented on #5386
Patch is already queued for next.

[2019-12-03 10:10] psarna commented on #4382
Seeing entries like:
[code]
in the logs **should** result in the view builder first stopping the building (after the view was dropped), and then restarting the building (after the view was created). It's weird that it does not happen. What makes this issue hard to debug is that it simply does not reproduce locally... I have an ongoing loop that stops once this test fails and it runs flawlessly for

[2019-12-03 11:35] psarna commented on #4382
Found it... I added tons of debug printing, and found this gem:
[code]
It's a result of mutating a schema - in the mutations, there exists both a mutation which creates a view, and a one that deletes an old version of it (uuids changed, happens).

However, view builder does not operate on `uuid`s directly when it accepts a `on_view_drop` event - it operates on names. Now, notifications are sent in

[2019-12-03 11:39] tzach commented on #3256
@slivne with both #1969 and #432 closed, can we close this issue as well?

[2019-12-03 11:51] psarna commented on #4382
By the way - *some* errors like `std::_Nested_exception<no_such_column_family> (Can't find a column family with UUID ce56a440-a7b3-11e9-b00c-000000000000): std::out_of_range (_Map_base::at)` can still occur in the logs when somebody replaces an old view definition with a new one, because there's a preemption point between removing the view from the database and stopping its view building. View bui

[2019-12-03 12:01] juliayakovlev opened #5407 "Coredump during end of space (assert tripped in ~mutation_fragment_stream_validator)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20191021.765dc86de43
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI):
Found during longevity-50gb-4days

Happened during enospc nemesis (it happend 4 times on the different nodes).

Coredump:
[code]

Aborting on shard backtrace:

[code]

Decoded:
[code]

Coredump download instruction:

[code]

[2019-12-03 12:02] juliayakovlev commented on #5215
@bhalevy  @slivne  #5407

[2019-12-03 12:16] psarna commented on #4270
I'm 99% sure it's exactly the same problem as https://github.com/scylladb/scylla/pull/5408 and this issue will get fixed as well, but I'm not marking it with `Fixes #`, because I wasn't able to reproduce this particular problem.

[2019-12-03 12:59] tzach commented on #4505
@slivne can you please assign someone to look at this?

[2019-12-03 13:37] xemul commented on #5360
@amoskong , I don't need the instance, you can remove it.

[2019-12-03 14:42] fggarcia commented on #5151
@avikivity Sorry for ask again. Upgrade to 3.1.2, the issue still happen.

[2019-12-03 14:43] tgrabiec commented on #5374
On Tue, Dec 3, 2019 at 3:31 AM Asias He <notifications@github.com> wrote:

I still don't understand what's the impact. What fraction of all ranges are
empty ranges?

Btw, consider this case which is unlikely, what if it generates tons of

[2019-12-03 17:38] bhalevy commented on #5407
Do we have binary and logs?

[2019-12-03 17:40] bhalevy commented on #5385
@slivne - master

[2019-12-03 17:48] bhalevy commented on #5215
Now that we split #5407 and taking into account we have no binary to debug the coredump let's close this one as a suspected duplicate of #4877

[2019-12-03 17:48] #5215 closed

[2019-12-03 18:11] bhalevy commented on #4891
I wonder if this could be caused by rpc use after free, similar to #5228

@xemul can you please check if rpc handlers are unregistered on this path, e.g. via `storage_proxy::stop -> uninit_messaging_service`?

[2019-12-03 18:29] bhalevy commented on #5084
Reproduced in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1358/testReport/junit/migration_test/TTLWithMigrate/big_table_with_ttls_test/

Since this was seen on next, and apparently no on master dtest-release,
maybe the test is sensitive to timing on slow test machines.

[2019-12-03 20:54] ManManson opened #5411 "Allow using terms in selection clause within SELECT statement"
Cassandra allows literal values to be used as selectors in SELECT statements since [3.8](https://github.com/apache/cassandra/blob/d13b36c40b16cfbb3d3581dae16156bec0ffe4fa/CHANGES.txt#L1069).
This was implemented within the following tracking issue: [CASSANDRA-10783](https://issues.apache.org/jira/browse/CASSANDRA-10783).

Scylla documentation states that we are able to do that too, which is incorr

[2019-12-03 21:02] fruch commented on #4550
@nyh seem like not all permutations of type that is possible is actually tested, for example:

while trying to figure why a some test in dtest is failing, I've tried this by mistake (converting set<text> -> blob)
[code]

and it crash like that, and event reboot didn't help, sound to me similar to the issues in Cassandra bug:

scylla: converting_mutation_partition_applier.hh:74: converting_mutation

[2019-12-04 01:10] asias commented on #5374
Let me explain.  Scylla manger sends tiny ranges that belong to a single shard. When we use selective_token_range_sharder(ranges, locl_shard) to decide if this local shard has anything to repair at all ( if not we can skip repair on this shard), we are supposed to see shard_count -1 of shards should skip. However, with selective_token_range_sharder generating an empty range, one of the shard will

[2019-12-04 01:22] espindola opened #5412 "signed integer overflow in service::abstract_write_response_handler::calculate_delay"
Reproduces with
[code]
The backtrace and error are

[code]

[2019-12-04 01:25] asias commented on #5374
Sure, I can. But I did not find a way to check such empty ranges as I mentioned in the other comment.  @tgrabiec @avikivity ideas?

[2019-12-04 01:29] espindola opened #5413 "load of 'int' from misaligned address"
Reproduces with

UBSAN_OPTIONS='halt_on_error=1:abort_on_error=1'  build/debug/tests/json_cql_query_test -t test_select_json_collections   -- -c2

backtrace and error:

[code]

[2019-12-04 01:32] espindola commented on #4054
Testing a patch for this found:

https://github.com/scylladb/scylla/issues/5413
https://github.com/scylladb/scylla/issues/5412

[2019-12-04 06:16] amoskong commented on #5360
Deleted, thanks.

BTW, do we need to change scylla_io_setup to not generate invalid configuration?

/CC @syuu1228

[2019-12-04 06:52] bhalevy commented on #5084
TTLs are supposed to be in the [1800, 3600] range, and the test log doesn't support rows expiring...

[2019-12-04 06:52] juliayakovlev commented on #5407
scylla_ami_id: ```ami-02f18b3d30b99fa63```

Logs can be found:

[code]

[2019-12-04 07:02] xemul commented on #5360
I believe we should, Avi had just merged the patch that makes seastar exit with error in case it meets zeroes in the mentioned parameters.

[2019-12-04 07:20] asias opened #5414 "nodetool cfstats hangs forever"
Scylla:  3.1.2
Nodetool: 35906df2a0d1b94ab0df095dffd7f8c4ecf33e3a

Start two 2 nodes in the cluster

Inject data with:
$ scylla-bench -workload sequential -mode write  -nodes 127.0.0.1 -rows-per-request 1  -partition-count 1000  -clustering-row-count 100  -clustering-row-size 1024000  -keyspace myks1024000  -table t1 -replication-factor 2

Then run nodetool. It never returns
$ nodetool cfstats

Ot

[2019-12-04 07:41] tzach commented on #5411
@lauranovich FYI: looks like a doc bug

[2019-12-04 08:26] elcallio commented on #5345
Does this happen every time?
How is the table populated? Any chance of providing a simple repro-case?

[2019-12-04 08:58] avikivity commented on #4054
Nice. So we have to fix those issues before we can apply, yes?

[2019-12-04 09:33] avikivity commented on #5327
Already backported, removing backport candidate label.

[2019-12-04 10:03] lauranovich commented on #5411
filed this issue https://github.com/scylladb/scylla-doc-issues/issues/110

[2019-12-04 10:37] ManManson commented on #5411
It seems that there's already some work in progress in a related issue: scylladb/scylla#2693

[2019-12-04 10:55] xemul commented on #4891
They are, but the storage_proxy::stop() is not called by anybody %)

[2019-12-04 11:14] tgrabiec commented on #5374
On Wed, Dec 4, 2019 at 2:10 AM Asias He <notifications@github.com> wrote:

It looks like 9211550087832928256 (=t3) is the boundary token for shards 2
and 3, meaning that shard 3 owns [9211550087832928256.

Scylla manager asked for tokens greater than 9211550087832928255, which is
just before that token, and therefore effectively empty, but we know that
it's empty only because we know that the toke

[2019-12-04 11:24] tgrabiec commented on #5407
Duplicate of https://github.com/scylladb/scylla/issues/5215, right?

[2019-12-04 11:27] tgrabiec commented on #5407
This should be fixed by 79d5fed40b034f772445ee02a19e1f51911ffc0c, which removes the call to on_internal_error() from ~mutation_fragment_stream_validator. We see this call in the backtrace here, which proves that the version does not contain the fix.

[2019-12-04 11:31] slivne commented on #5407
closing the issue - thanks tomasz and julia

[2019-12-04 11:31] #5407 closed

[2019-12-04 11:36] psarna opened #5418 "Materialized views use scan readers for single-partition scans during read-before-write which causes read amplification"
When materialized view updates are pushed (`do_push_view_replica_updates`), they create readers with a default value of `mutation reader forwarding` parameter == `yes`. It hurts performance, because it will create scanning readers which use readahead instead of simpler single-partition readers. The problem can be observed with a simple write-intensive test with an index (or a materialized view) pr

[2019-12-04 11:50] slivne commented on #5228
not a regression

[2019-12-04 12:56] #5341 closed

[2019-12-04 12:56] #5398 closed

[2019-12-04 12:56] #5211 closed

[2019-12-04 13:04] avikivity commented on #5211
Backported to 3.2, no other release is vulnerable.

[2019-12-04 13:46] avikivity opened #5419 "Use-after-move in make_multishard_streaming_reader() (aarch64)"
aarch64 asan detected this:

[code]

Doesn't happen on x86_64.

[2019-12-04 14:46] fruch opened #5421 "`ascii` type column isn't validated on INSERT"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 666.development-0.20191121.9a686ac

[2019-12-04 15:44] fruch opened #5422 "ALTER TYPE from `set<text>` to `blob`, crashs scylla"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 666.development-0.20191203.bb114de

[2019-12-04 15:46] fruch commented on #4550
Raised #5422 for the crash I've encountered.
My vote is for align this with Cassandra, and not try to find issues similar to #5422

[2019-12-04 16:09] roydahan commented on #5163
dup of https://github.com/scylladb/scylla/issues/4924?

[2019-12-04 21:11] dyasny opened #5423 "storage_proxy - Exception when communicating with x.x.x.x: std::runtime_error (sstable read queue overloaded)"
*Installation details*
Scylla version (or git commit hash): 3.1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Gentoo

The system spit out a large amount of messages for ~1sec, opening an issue as per @vladzcloudius request, to follow through

Messages:
[code]

[2019-12-04 21:20] slivne commented on #5418
@psarna are all versions suspect to this

[2019-12-04 21:25] psarna commented on #5418
I didn't check all versions, but the code is here since the original implementation of mvs, so it's very likely.

[2019-12-04 21:29] fruch opened #5424 "SELECT after ALTER TYPE, return empty when using python3"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):  666.development-0.20191121.9a686a

[2019-12-04 21:29] vladzcloudius commented on #5423
@avikivity @denesb I think we need to rate-limit these messages.

I'm also not sure (unless I miss something) that the condition when this message is printed (`_read_concurrency_sem` hit its limit) is critical and we have to log it as an error at all.

Please, comment.

[2019-12-05 01:09] espindola commented on #4054
Yes. So far I have emailed a patch only for seastar (where no errors were found), not scylla.

[2019-12-05 01:12] espindola commented on #4891
Closing as a guess that this is related to #5228

[2019-12-05 01:12] #4891 closed

[2019-12-05 03:59] asias commented on #5374
Yes.

Yes.

No, it is not a random coincidence. I can reproduce it 100%.

We look for the boundary between shards. For example,

with:

10 belongs to shard0, 10 is the last one belongs to shard 0.
20 belongs to shard1
30 belongs to shard2

we have:

(10, 20] belongs to  shard1
(20, 30] belongs to shard2.

Like we calculate the vonde ranges with tokens, (previous_token,  my_token].

We want the scy

[2019-12-05 08:26] bhalevy commented on #5412
Last attempt to fix this area was da54d0fc7deceb752475770b2a03bf39b2838036
@nyh looks like it would be better to compare `_expire_timer.get_timeout()` to (a sample of) `now`, rather than using `std::max`, no?

[2019-12-05 08:33] bhalevy commented on #5413
@espindola this was introduced in your commit bd3e725605b (then moved to this file in 786b1ec3641), right?

[2019-12-05 08:35] juliayakovlev commented on #5403
Same issue was received during longevity-10gb-3h test on master.
Scylla version: 666.development-0.20191202.28355af134f

During drain nemesis got segmentation fault:
[code]

Coredump:
[code]

Download instruction:
[code]

[2019-12-05 09:26] denesb commented on #5423
This message is printed not when the limit of the `_read_concurrency_sem` is hit, but when the number of queued reads hits the queue limit. When this happens, new reads are instantly rejected, hence the error message you see.

I agree about the rate limiting.

[2019-12-05 09:49] nyh commented on #5418
@psarna I agree that all extant versions are susceptible to this issue. The "fast forward" thing isn't as old as the original MV implementation, but is old enough.

[2019-12-05 10:55] nyh commented on #5412
Thanks. I can reproduce this.

I don't think the problem is `std::max`, I think the problem is the conversion:
[code]
This takes a millisecond resolution clock and converts it to microseconds. When the expiration timeout is maxint in milliseconds, trying to multiply it by 1000 to make microseconds won't work.

There is no trivial solution for this... We can't take a maxint timeout in one resolutio

[2019-12-05 10:56] tgrabiec commented on #5422
Such alter should be rejected.

[2019-12-05 11:21] tgrabiec commented on #5374
On Thu, Dec 5, 2019 at 4:59 AM Asias He <notifications@github.com> wrote:

What is "we" here, scylla manager?

Where does 10, 20 and 30 come from? Are those tokens of partitions you got
from some read?

You should have used [20, 30) if you wanted to get shard1's share, not
(10, 30].

Like we calculate the vonde ranges with tokens, (previous_token, my_token].

We want the scylla manager generate si

[2019-12-05 11:42] asias commented on #5374
On Thu, Dec 5, 2019 at 7:21 PM Tomasz Grabiec <notifications@github.com>
wrote:

Scylla manger and the repair script.

10 20 30 are just example tokens that dived a larger vnode range.

No, shard 1 owns range from (10, 20]. Or we can say shard 1 owns [11, 21).

Repair handles vnode token ranges like (x, y] normally. Why not let the
scylla manager generate similar ranges, instead of different range

[2019-12-05 12:18] asias commented on #5374
And more importantly, the ranges option (in the format of x:y, a:b) that nodetool send to scylla or c*  are always interpreted as (x,y] and (a,b].

There is no point to argue that scylla manager should generate ranges like [x, y) instead.

[2019-12-05 12:20] tgrabiec commented on #5374
On Thu, Dec 5, 2019 at 12:42 PM Asias He <notifications@github.com> wrote:

I see.

[2019-12-05 12:29] fruch commented on #5422
According to #4550 this whole feature was reject by Cassandra, and still considering if Scylla should too.

[2019-12-05 13:12] nyh commented on #5412
Sent a patch titled "storage_proxy: avoid overflow in view-backlog delay calculation".

[2019-12-05 13:27] penberg opened #5425 "Scylla does not translate IPv6 addresses mapped from IPv4 as IPv4"
@jul-stas writes:

[code]
The same query from Scylla returns the original IPv6 address.

Turns out that Cassandra performs the translation at address parsing time because InetAddress.getByName() does it automatically:

[code]

[2019-12-05 14:34] barakseri1 commented on #5345
Yes, it happens on every truncate.
The tables are populated with regular inserts, and to reproduce it we just need to truncate the table, whether via a simple cql command or using the php driver

[2019-12-05 15:23] denesb commented on #3602
As of https://github.com/scylladb/scylla/commit/0a453e5d30cdb6e5de2429f7a21a3ea56ad188c1 collection de/serialization - (1a) and (3) in the original description - now happens on fragmented buffers.

[2019-12-05 15:42] bhalevy opened #5426 "print the binary build-id on startup"
So it would be easier to correlate the log with the binary and possible core dump.

Ref https://github.com/scylladb/scylla-pkg/issues/715

[2019-12-05 15:52] bhalevy commented on #5308
Fixed with scylladb/scylla-dtest@19ad09c8fdbf8c95fb2da6d507a4034148849552

[2019-12-05 15:52] #5308 closed

[2019-12-05 19:49] #4909 closed

[2019-12-05 19:49] #5335 closed

[2019-12-05 19:49] #5334 closed

[2019-12-05 19:49] #5418 closed

[2019-12-05 19:49] #5419 closed

[2019-12-05 20:35] espindola opened #5429 "patchelf breaks build-id in core files"
The LOAD segments and build-id section of a freshly linked scylla binaries look like this:

[code]

After patchelf is done with it, it looks like

[code]

Note how before patchelf the buildid is in the PT_LOAD that starts at 0, but after patchelf there is a new PT_LOAD and the buildid is in the PT_LOAD that starts at offset 0x001000.

That is a problem, because the kernel will not write it to the

[2019-12-05 20:37] espindola commented on #5429
One way to solve this is to link with -Wl,-dynamic-linker /some/very/long/dummy/path. Patchelf only needs to add a new PT_LOAD if the new path is larger than the old one.

But can we avoid patchelf completely? Can we run scylla inside a chroot or privileged container?

[2019-12-05 20:38] avikivity commented on #5418
Backported to 3.0, 3.1, 3.2

[2019-12-05 20:40] avikivity commented on #4615
Backported to 3.0, 3.1, 3.2.

[2019-12-05 20:52] avikivity commented on #5429
I guess we could have a helper program that creates a mount namespace, bind-mounts all the data directories, bind-mounts all the binary and library directories in the same place as the fedora bins/libs, enters the namespace and execs scylla. That helper could ve statically linked.

Chroot is also possible, but we'd need to create lots of bind mounts anyway we may as well use a namespace.

It's als

[2019-12-05 20:55] avikivity commented on #5429
It may even be a shell script with unshare(1) (except we may break the script when we start bind-mounting in /usr/lib64)

[2019-12-05 23:51] vladzcloudius commented on #5423
@denesb
Right. That's what I meant to say. ;)
And I'm still not sure this deserves an error message. This seems to be a normal admission control operation hence IMO a `trace`-level message here would be more than enough.

[2019-12-05 23:52] espindola commented on #5429
I am taking a look at what the mount namespace helper would look like. BTW, how would you find out the data directory? Parse the scylla config?

[2019-12-06 03:49] philwong commented on #1018
May I know how to fix this? collectd version issue?

[2019-12-06 04:20] espindola commented on #5429
This can start scylla for me. All paths are hardcoded and it assumes that libreloc has been renamed to lib64 and ld-linux-x86-64.so.2 is a symbolic link to ld.so.

[run-in-ns.c.txt](https://github.com/scylladb/scylla/files/3930383/run-in-ns.c.txt)

[2019-12-06 06:01] #5281 closed

[2019-12-06 06:01] #4974 closed

[2019-12-06 06:39] bhalevy commented on #5429
That means user must have su privileges, right? Is this a reasonable requirement?

[2019-12-06 06:52] denesb commented on #5423
On Thu, 2019-12-05 at 15:51 -0800, vladzcloudius wrote:

We print a log message for all cases when a read or write returns with
an exception from the replica. This is just one of the many exceptions
possible.

[2019-12-06 07:58] denesb commented on #5429
Could this be the cause of https://github.com/scylladb/scylla/issues/4983?

[2019-12-06 10:05] xemul commented on #5403
@bhalevy , I've reproduced the issue locally. The problem is that on node drain the migration manager is stopped and all instances of it are released. After this on node stop the view builder is stopped and it tries to unlist itself from mm's _listeners vector. If by that time the mm's memory has not yet been re-used (which is not unlikely), the unlisting works OK. I've poisoned the _listeners in

[2019-12-06 10:05] xemul commented on #5403
Th #5404 is dupicate of this one.

[2019-12-06 11:41] avikivity commented on #5429
We could have a suid helper but @bhalevy is right, we also want to run without root permissions at all.

Maybe we can have both methods, preferring the suid/capability helper but falling back to the current method.

Another option is to binary-edit the executable so that patchelf won't corrupt it.

[2019-12-06 11:42] avikivity commented on #5429
Closimg as duplicate of #4983

[2019-12-06 11:42] #5429 closed

[2019-12-06 11:44] avikivity commented on #5429
@espindola why anything more than unshare(CLONE_NEWNS)?

[2019-12-06 12:02] haaawk commented on #5183
It seems that the issue in the enterprise was fixed already so closing this one.

[2019-12-06 12:02] #5183 closed

[2019-12-06 13:25] avikivity commented on #5429
This explains how to do it unprivileged: https://kinvolk.io/blog/2018/04/towards-unprivileged-container-builds/. First you unshare the user namespace, becoming root, then you can unshare the mount namespace.

[2019-12-06 15:03] tgrabiec commented on #5423
On Fri, Dec 6, 2019 at 7:52 AM Botond Dénes <notifications@github.com>
wrote:

We actually have an issue about silencing these kinds of errors, please
comment there: https://github.com/scylladb/scylla/issues/2917

[2019-12-06 15:10] glommer opened #5430 "Increase systemd coredump generation timeout"
Today we saw a user environment in which coredumps were not being generated.

Upon investigation, the user discovered that this was because systemd was timing out the process.
We managed to generate a coredump once they tweaked the following property:

[code]

We already override some of those properties related to size in our default packaging. We should override that too.

In big machines with a

[2019-12-06 16:43] espindola commented on #5429
Botond Dénes <notifications@github.com> writes:

It almost certainly is the root cause.

Cheers,
Rafael

[2019-12-06 16:45] espindola commented on #5429
It can be done without root. The .c file I uploaded as a proof of
concept doesn't need root.

[2019-12-06 16:48] espindola commented on #5429
mounting /sys.

Looking at the podman source I see that they bind mount it when using
host network. I will update to do that (and make it a real patch).

[2019-12-06 16:52] avikivity commented on #5429
If I may pre-review the patch, I suggest making all the mounts parameters. The scylla shell script thunk can supply them.

Also, start with the host / as the container /, so we don't need to care about which directories the scylla binary needs.

[2019-12-06 16:54] avikivity commented on #5429
One more thing: it needs to work on CentOS 7 kernels, and we need to know what's the oldest CentOS kernel we support, so we can put a Requires clause in our package. It doesn't need to be done immediately, but we'll need it to commit.

[2019-12-06 17:12] denesb commented on #4176
I implemented a fragment memory tracking and started testing it to try to quantify the improvements it brings in the accuracy of tracking memory consumption. I was expecting drastic improvements, but the results were very disappointing. I spent a lot of time reviewing my own code and adding checks because I thought there must be some bug in it, causing the disappointing results:

![memory-tracking

[2019-12-06 18:10] espindola commented on #5429
Avi Kivity <notifications@github.com> writes:

That is an interesting idea.

We could use overlayfs to use our ld.so, but I am afraid it might break
regular tools.

What I think I will try is

* Link scylla with
  -Wl,--dynamic-linker=/opt/scylla/lib64/ld-linux-x86-64.so.2
* Start the container with the host / as the container /
* bind mount whatever directory we are installed in to /opt/scylla

B

[2019-12-07 00:07] vladzcloudius commented on #5354
@bhalevy I really don't understand how #1165 can be possibly related to this issue.

Let me address all your previous questions:

Like I've already mentioned the subject of this issue is misleading since waiting for `['hints_manager - Draining for 127.0.9.3: end']` would not make this test to pass.

The node/shard is only going to shut down a sender if the corresponding `end_point_manager` has bee

[2019-12-07 02:59] fastio commented on #5394
I'm working around it.

[2019-12-07 07:31] #5139 closed

[2019-12-07 07:31] #5360 closed

[2019-12-07 17:42] amoskong opened #5433 "oel7.7: scylla_ntp_setup/scylla_util.py: ValueError: invalid literal for int() with base 10: '7.7'"
*Installation details*
Scylla version (or git commit hash):  scylla-666.development-0.20191207.7b37a700e11.el7.x86_64.rpm
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): `OEL 7.7`

This issue was introduced by commit c9d860678658754937308c08d913bce5e0c37a77  /CC @syuu1228

Artifact test job: https://jenkins.scylladb.com/job/scylla-master/job/oel7.4-rpm-test/label=muninn/140/artifact/latest/job.lo

[2019-12-07 17:49] amoskong commented on #5433
Quote from https://www.linux.org/docs/man5/os-release.html:

[code]

Real example of /etc/of-release on OEL 7
[code]

Example of centos7
[code]

[2019-12-08 09:58] nyh commented on #5060
By the way, as noted by @amoskong and @fastio, the Redis API also has a per-item (not per-cell) TTL, which will need a similar feature:

- https://redis.io/commands/expire (set ttl of one key)

- https://redis.io/commands/ttl (read ttl of one key)

The above documentation says that expiration may be delayed by only 1ms after the specified expiration time. Because we obviously can't find and delete

[2019-12-08 12:59] eliransin opened #5435 "AMI build can fail due to too long description."
When trying to pack an AMI, it can fail if the description is too long. The description is composed out
of all the version strings of the components (scylla,jmx,java-tools etc...).
AWS allows for a maximum of 250 characters for description so it might be that the packer will fail
when trying to set the description string.
The "problematic" line is here:
https://github.com/scylladb/scylla/blob/0e31

[2019-12-08 14:41] avikivity commented on #5429
Maybe it can be as simple as replacing our existing thunk with

    unshare -Urm bash -c "mount --bind /path/to/one-library.so /usr/lib64/one-library.so && ... && exec /path/to/real-scylla "$@"

[2019-12-08 14:46] avikivity commented on #5429
One downside is that it doesn't work within docker. I don't know why. But maybe we can fall back on the old method in that case.

[2019-12-08 14:48] avikivity commented on #5429
Doesn't the link trick require that we change $CWD? That's find for deployed scylla (which is always accessed via a thunk) but not for developer scylla (which is usually executed directly).

[2019-12-08 14:56] avikivity commented on #5429
Because of https://github.com/opencontainers/runc/issues/1658#issuecomment-345981847

[2019-12-08 17:41] bentsi commented on #5355
Db log during the freeze (from other run)
[code]

[2019-12-08 17:43] bentsi commented on #5355
@slivne to your questions:

- it looks like this is not regression, tested on `3.1.2-0.20191127.9d78d848e`
- no coredump during the "freeze"
- we bring down NIC using `ifdown eth1` command

[2019-12-09 06:08] bhalevy opened #5437 "netstats_test: nodetool: Scylla API server HTTP GET to URL '/stream_manager/' failed: _Map_base::at"
Seen in [dtest-release/339/testReport/nodetool_additional_test/TestNodetool/netstats_test](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/339/testReport/nodetool_additional_test/TestNodetool/netstats_test/)
Scylla version 7b37a700e11ae298940a2015815e51e1434ede6f
Scylla-dtest version scylladb/scylla-dtest@65a423fc6e6777bbe650ad2218af3c3eb0e8135d
[code]

In the nodes lo

[2019-12-09 06:54] amoskong opened #5438 "Could not initialize seastar: YAML::InvalidNode (invalid node; first invalid key: "read_bandwidth")"
*Installation details*
Scylla version (or git commit hash):
- ami-0d2d7cf33dd6822e8
- 666.development-0.20191207.0e319e03599

Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): c5d.xlarge m5d.xlarge m5ad.xlarge r5d.xlarge z1d.xlarge
Instance types: c5d.xlarge m5d.xlarge m5ad.xlarge r5d.xlarge z1d.xlarge

* Description:

We want to support new instance types: c5d.xlarge m5d.xlarge m5ad.xlarge r5d.xla

[2019-12-09 06:55] amoskong commented on #5438
Test job: https://jenkins.scylladb.com/job/scylla-master/job/ami-test-new-types/1/
Test log: https://jenkins.scylladb.com/job/scylla-master/job/ami-test-new-types/1/artifact/job-2019-12-09T04.11-cb2e971/job.log

[2019-12-09 07:03] amoskong commented on #5438
Hi @glommer , do we need to run iotunev2 on those new instances (c5d.xlarge m5d.xlarge m5ad.xlarge r5d.xlarge z1d.xlarge), and add the numbers to scylla_io_setup?

But it's a big matrix, each type has multiple sizes (large, xlarge, 2xlarge, 8xlarge ...). How do we process that?

[2019-12-09 07:18] bhalevy opened #5439 "cluster_cleanup_test is flaky: fails with Unable to complete the operation against any hosts"
Seen 50% of the times since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/331/testReport/cleanup_test/TestCleanup/cluster_cleanup_test (until [339](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/339/testReport/cleanup_test/TestCleanup/cluster_cleanup_test/)
[code]

This may be a bug in the test, please open a corresponding issue on scyll

[2019-12-09 07:56] asias commented on #5201
I am closing this issue since there is a fix already.

[2019-12-09 07:56] #5201 closed

[2019-12-09 08:02] asias commented on #4884
Thanks @rahul619anand

I am merging this issue to https://github.com/scylladb/scylla/issues/5109 if you do not mind.

[2019-12-09 08:02] #4884 closed

[2019-12-09 09:11] elcallio commented on #5425
Honestly, to me this seems more like a Cassandra bug. If I put in an ipv6 address, I want an ipv6 address back.
The question is perhaps should we be bug compatible?

[2019-12-09 10:12] bhalevy commented on #5336
See in https://jenkins.scylladb.com/view/scylla-3.2/job/scylla-3.2/job/dtest-release/20/testReport/user_types_test/TestUserTypes/test_add_udt_to_another_data_types/

[2019-12-09 10:17] psarna opened #5440 "Add single collection item indexing"
This feature is a first step towards #2962 - and allows indexing a single collection value. Intended usage:

[code]

The nature of this kind of indexing is to only index a single item from a collection - so querying for that particular map or set entry can leverage an index and be faster, but querying for another item in the collection still requires filtering. As an example, the index above is cr

[2019-12-09 11:09] nyh opened #5441 "Ensure that precisely-defined reads do not do read-ahead"
In issue #5418 solved by commit db6821ce8fdde5c47a02d2a01a634d1879f2e886, @psarna discovered that our materialized-view read-before-write code, although it intended to read a single specific row, used a reader which reads ahead a large buffer, which results in massive over-reading.

The problem was that the make_reader() function takes streamed_mutation::forwarding and mutation_reader::forwarding

[2019-12-09 11:16] piodul commented on #5146
The Nemesis works as follows: stop one node for 10 seconds, restart it, wait 120 seconds and perform the query from the description on the range [T-60, T], where T is the current timestamp.

Judging by the query results, it looks like hint sending finished at most 10 seconds too late: first two values are non-zero, while the rest is zero (sampling rate is 5 seconds).

It is worth noting that each

[2019-12-09 11:46] elcallio commented on #5345
So obviously this works fine for me, so I am gonna need some more info. Could you provide a script/program that inserts data causing the issue to reproduce? How much data is inserted before the truncate?
Are you running a single node? The above has 8 logical cores, no?

[2019-12-09 11:54] juliayakovlev commented on #4896
Got similar problem during MV&SI longevity (show_toppartitions nemesis)
Scylla version: ```3.2.rc2-0.20191207.2ff26d11608```

Error:
[code]

[2019-12-09 12:21] yarongilor opened #5442 "Reactor stalled for 2477 ms on shard 0"
Installation details
Scylla version (or git commit hash): 3.2.rc2-0.20191207.2ff26d11608
Cluster size: 4 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0466376b07e8f1ea4 (eu-west-1)
Detected by: longevity-200gb

scenario: reactor stalled is found 3 times: after nodetool drain, after stop-start scylla-server and after hard rebbot node.

backtrace:
[code]
decoded:
[code]
All nemesis ran bef

[2019-12-09 12:38] ShlomiBalalis commented on #4896
Though not complete, it seems like I received a similar issue in the 50gb 4days longevity during show_toppartitions nemesis
Scylla version: `3.2.rc2-0.20191207.2ff26d11608`

Error:
[code]

[2019-12-09 12:42] roydahan commented on #5442
@yarongilor does it happen during boot? during a specific nemesis?

[2019-12-09 12:47] denesb commented on #5441
I'm pretty sure the former defaults to **no**, but your point still stands. If we still want to have defaults, they should default to **no**, but changing defaults without auditing all call sites is very error-prone, so perhaps it is better to just not have a default for these. The problem is that these flags are quite arcane and people will be puzzled on what value to use here. Most use cases don

[2019-12-09 13:15] glommer commented on #5438
On Mon, Dec 9, 2019 at 2:03 AM Amos Kong <notifications@github.com> wrote:

yes.

See what's done for the existing issues. Usually you only have to measure
one disk, and then multiply it by the number of disks.
It gets a bit more complex if the type of disk changes: for instance, the
disk gets bigger in the i3.2xlarge threshold, and also faster, so we have
special cases.

If you want to double che

[2019-12-09 13:25] glommer commented on #5441
If we have to audit the code anyway... let's do it to make sure all sites that need read-ahead pass yes.

I agree that the default should be no.

[2019-12-09 13:29] denesb commented on #5441
We should audit with the help of the compiler:
* Remove default parameter
* Go through each call site and decide whether it needs ff or not.
* [optional] restore default value with default of **no**
* [optional] remove explicit parameter where its value is the same as the default

I don't see another way to guarantee that the audit is thorough.

[2019-12-09 13:49] avikivity commented on #5441
This step lays the ground for future errors in deciding the value of the parameter (although really very few should say yes here).

This step un-documents the work that went into deciding the value of the parameter.

Agree about the non-optional steps. Time and again, we see that default parameters = time bombs.

[2019-12-09 13:50] psarna commented on #5441
By the end of the day I'll push a small series that removes the default and makes all the call sites explicit. For a start, I'll just use exactly the same parameters as the default for this call site would be, and then, in review, we can decide whether some need to be changed.

[2019-12-09 13:58] nyh commented on #5441
@psarna thanks! Before submitting for review, please run all the unit tests because a lot of the call sites are from tests, and they may fail if they attempt to fast-forward despite the flag being off.
Also there may be more than one function that has a default. Please grep for "forwarding::yes" to make sure you catch all of them. Thanks.

[2019-12-09 14:11] roydahan opened #5443 "seastar reactor iocb pool underflow and crash after ENOSPC"
*Installation details*
Scylla version (or git commit hash): 3.2.rc2-0.20191208.2ff26d11608
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-04d02956870bdc491
Detected by: longevity-3h-10gb
Test ID: 0dcc3c0f-5b16-4307-95f3-0a3ae0c2791c

Decoded Backtrace:
[code]

coredump:
[code]

*download_instructions*:
gsutil cp gs://upload.scylladb.com/core.scylla.996.8c1f6e6372fc4a908bee28edbb2b4f85.39178.

[2019-12-09 14:12] roydahan commented on #5443
@bhalevy this is new on 3.2, maybe we didn't completely solve the original issue as part of #4877

[2019-12-09 14:25] roydahan commented on #5146
I don't think 45 seconds is hard requirement and the test should wait longer.

@bentsi can you please take a look?

[2019-12-09 14:42] yarongilor commented on #5442
looks like it is either during boot or scylla-server restart. if this is an expected behavior so we may consider removing this SCT event of being a false positive error.

[2019-12-09 15:21] raphaelsc opened #5444 "Compaction layer should be made sstable-run aware"
Compaction layer works only with individual sstables, thus not sstable-run aware. We could abstract sstable into a vsstable which could store either a single sstable or a set of them. Using the abstraction throughout the codebase will take time, so we could start using it in the compaction layer.

Compaction strategy would no longer receive a set of sstables, but instead a set of vsstable. That wa

[2019-12-09 15:38] vladzcloudius commented on #5423
@tgrabiec Thanks. Yes, this seems to be a very similar issue.
@slivne This is not the first time our users complain about these.

To clarify, the message is printed at the `ERROR` log level while there isn't any error on the server side - on the contrary, the flow that triggers these messages is our admission control bits.

I strongly believe that admission control should not log any error when tr

[2019-12-09 15:55] vladzcloudius commented on #5146
@roydahan @yarongilor @piodul
Hints are not going to be sent to a node until the sender node "sees" it as UN.
Do you check that the node is in UN state from the point of view of `all` nodes that could have needed to send hints to it?

Only after that you can expect that any hint has been attempted to be sent.

@piodul If nodes/shards are loaded less than 80% without hints then prioritization shoul

[2019-12-09 16:19] psarna commented on #5441
I didn't expect how many call sites of this parameter exist all along our test cases, nor how many of our APIs define `mutation_reader::forwarding::yes` as a default parameter.

I won't manage to finish it all by today, I'll push the results tomorrow (I thought I was done, but then discovered that `mutation_reader.hh` is yet another header full of these parameters).

[2019-12-09 16:20] psarna commented on #5441
My progress so far is stored here: https://github.com/psarna/scylla/tree/remove_default_values_for_reader_forwarding . Tomorrow I'll finish the transition and post it as a pull request.

[2019-12-09 16:38] denesb commented on #5423
On Mon, 2019-12-09 at 07:38 -0800, vladzcloudius wrote:

AFAIK all exceptions coming from remotes are re-raised as
`std::runtime_error`, so no way to log only specific types. I agree
that we don't need to log *every* exception, we should definitely rate
limit them. Maybe we can even downgrade to something below ERROR. But
we should log *something*.

[2019-12-09 17:02] vladzcloudius commented on #5423
@denesb Absolutely - I agree that we should note those exceptions somehow. Logging with a level below ERROR may be one option and metric could be another. We can do both too.

According to what you wrote there may be a few points for improvement.
One is as described above/
Another, if there are exceptions that we want to log at a "high" level (ERROR, WARN, INFO) then we may want to propagate this

[2019-12-09 17:26] fruch commented on #5443
Maybe  #4877 fix wasn't backported to 3.2 ?

[2019-12-09 17:26] bhalevy commented on #5443
@roydahan It looks nothing like #4877
@avikivity it looks like `reactor::submit_io` ran out of `_free_iocbs`, no?

[2019-12-09 18:17] denesb opened #5445 "mutation_fragment_stream_validator: add clustering monotonicity validation"
Expanding on https://github.com/scylladb/scylla/issues/4803 and https://github.com/scylladb/scylla/issues/4804 we need a check that validates clustering key monotonicity. Should be enabled/disabled via a command line switch.

[2019-12-10 00:16] amoskong opened #5446 "list_test failed for wrong order (expect the result order to be same as write order)"
*Installation details*
Scylla version (or git commit hash): 3.1.2-0.20191127.9d78d848e
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

#### Description:
Verify test before upgrade from 3.1.2 to master failed, so upgrade hasn't started.

We didn't see this problem in 3.0.10, and we didn't see this problem after upgraded from 3.0 to 3.1.0

#### Living cluster:

There is no living cluster t

[2019-12-10 00:29] amoskong commented on #5446
I didn't reproduce this issue manually with a single node. But it can be reproduced by upgrade job of `centos7` (not always, but not difficult).

[2019-12-10 00:43] amoskong commented on #5288
update:
- Reproduced those db error in upgrade test from `3.1.2-0.20191127.9d78d848e` to `3.2.rc2-0.20191207.2ff26d11608`
- test job: https://jenkins.scylladb.com/job/scylla-3.2/job/rolling-upgrade/job/rolling-upgrade-ubuntu16.04/18
- test logs: https://jenkins.scylladb.com/job/scylla-3.2/job/rolling-upgrade/job/rolling-upgrade-ubuntu16.04/18/artifact/scylla-cluster-tests/latest/

[2019-12-10 00:54] amoskong commented on #5446
Try to reproduce by job : [scylla-3.2/job/rolling-upgrade/job/rolling-upgrade-centos7/29/](https://jenkins.scylladb.com/job/scylla-3.2/job/rolling-upgrade/job/rolling-upgrade-centos7/29/)
- job is running ...
- db nodes will be kept for debugging

[2019-12-10 01:16] #5394 closed

[2019-12-10 06:56] bhalevy commented on #5445
496467d0a2b35aa2fb9ba5ae7062d501001733e8 validates position_in_partition monotonicity under the enable_sstable_key_validation option, including clustering_key_prefix.

[2019-12-10 06:59] asias opened #5449 "Failed replacing node stays in gossip until full cluster shutdown"
Consider following procedure

1) start n1, n2
2) n2 is down
3) start n3 to replace n2, but kill n3 in the middle of the replace
4) start n4 to replace n2

The problem is: after step 3 or step 4, n3 will stay in gossip forever until a full cluster shutdown.
Note, n3 will only stay in gossip but not in system.peers table.

For example:

[code]

[2019-12-10 07:46] denesb commented on #5445
Right, I don't know how I didn't see that.

[2019-12-10 07:46] #5445 closed

[2019-12-10 07:57] eliransin commented on #4550
I am also voting for removing the support as Cassandra did since I believe this issue answers @avikivity question [here](https://github.com/scylladb/scylla/pull/4613#issuecomment-511874571)

[2019-12-10 10:47] psarna commented on #5021
are there any dibs on that one? @dekimir? That's the last xfailing test case we have for `test_expected.py`, I can tackle it if there are no volunteers, but if anyone is interested I'd happily withdraw.

[2019-12-10 10:48] ShlomiBalalis opened #5450 "Node stuck in decommission for over 24 hours (50gb-4days)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):`3.2.rc2-0.20191207.2ff26d11608`
Cl

[2019-12-10 10:54] nyh commented on #5021
It's yours!

[2019-12-10 10:57] psarna commented on #5021
ok. I'll wait for Dejan to wake up and respond first, just in case he has a solution stored somewhere as a local patch already, given that his https://github.com/scylladb/scylla/pull/5447 touches quite similar code.

[2019-12-10 10:59] fruch opened #5451 "longevity 5000 tables in one keyspace, coreumps on adding new node"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.rc2-0.20191205.9dd714ae641
Clu

[2019-12-10 13:16] dekimir commented on #5021
I'm awake! :smile: Sadly, I don't have any stashed solution for this, so @psarna have at it!

[2019-12-10 13:34] mmatczuk commented on #5451
On Scylla Enterprise 2019.1.2 I did not get a coredump but after 4872 if fails to add more tables. It claims to create them but there are not there.

[2019-12-10 13:36] slivne commented on #5451
@avikivity I think its simillar to #5443

[2019-12-10 14:03] avikivity commented on #5443
Patch: https://groups.google.com/d/msg/seastar-dev/Oj-QgDLReL4/s4y41uLGAgAJ

[2019-12-10 14:04] avikivity commented on #5443
This is a regression due to a bug in aio fsync, a new seastar feature.

[2019-12-10 14:10] amoskong commented on #5446
The test failed for SCT issue: https://github.com/scylladb/scylla-cluster-tests/issues/1537

Will retest when the sct issue is solved.

[2019-12-10 14:51] slivne commented on #5442
durring boot / reboot of scylla this may happen -

if this happens not at boot its a higher priority item.

[2019-12-10 15:08] glommer commented on #5451
On Tue, Dec 10, 2019 at 5:59 AM Israel Fruchter <notifications@github.com>
wrote:

I get that Israel is a sunny summery paradise and you want to inflict envy
into us, inhabitants of cold lands. But I think you mean "Summary" here
(Summery is something related to the summer)

https://grammarist.com/spelling/summary-summery/

[2019-12-10 15:14] fruch commented on #5451
@glommer it's more me being a bit dyslexic
As long it's no doing a big "Balagan"  :boom:

[2019-12-10 15:15] avikivity commented on #5451
Duplicates #5443

[2019-12-10 15:15] #5451 closed

[2019-12-10 15:46] psarna opened #5454 "Comparison operator for alternator's rjson is inconsistent"
As a by-product of reviewing https://github.com/scylladb/scylla/pull/5453, several issues with the implementation of rjson's equality operator were discovered:
* it doesn't check if compared types are the same in cases where it should
* for strings, after checking that the first object is a string, it assumes the second object is a string as well, which might not be the case
* it mentions "set" in

[2019-12-10 16:46] avikivity opened #5455 "scylla_prepare fails in dpdk mode"
The scylla_prepare script has obvious bugs - misspelled variable name, bash `fi` in a Python `if`.

[2019-12-10 16:48] avikivity commented on #5386
Fixed by 83feb9ea77b50c656e6eda73b3eeed15bc31acd6

[2019-12-10 16:48] #5386 closed

[2019-12-10 17:01] avikivity commented on #3790
Fixed by 7195f75fb2995dcc2b61b8a3927544bdab00170e

[2019-12-10 17:01] #3790 closed

[2019-12-10 22:35] nyh opened #5457 "Alternator: incorrect implementation of BEGINS_WITH operator for byte blobs"
The `Expect` parameter's `BEGINS_WITH` implementation (`check_BEGINS_WITH()`) compares byte blobs using their base64-encoding representation. This is wrong - base64-encoding is not byte-aligned, and if the operand isn't a multiple of 3 bytes, the byte-wise string matching will not work correctly - i.e., it will fail even when one string does begin with the other.

The easiest way to fix this bug i

[2019-12-11 01:38] espindola commented on #5426
A trivial program that prints its own build-id is attached. I will turn that into a patch tomorrow.

[test.cc.txt](https://github.com/scylladb/scylla/files/3947964/test.cc.txt)

[2019-12-11 03:13] asias commented on #5450
@ShlomiBalalis How did you check and conclude the node never never actually decommissioned from the cluster? The log from node5 suggests the decommission was successful.

[code]

Log from other node, e.g., node2 also confirmed the decommission:
[code]

[2019-12-11 08:44] bhalevy commented on #4382
That's true.  Another note for future readers of this issue is that they are ignored only if the test gets to `check_errors`.  unlike cases that call `_mv_populating_from_existing_data` that sets:
https://github.com/scylladb/scylla-dtest/blob/5936f11fb1e3668e836a769306991563d1f1fe29/materialized_views_test.py#L563
`_mv_populating_from_existing_data_during_changes_test` doesn't set this (or other e

[2019-12-11 09:15] denesb commented on #5444
Maybe this will be a good opportunity to come up with an `sstable` interface that contains only operations that are relevant to upper layers. Currently the `sstable` class contains a wide range of stuff, some used only before the `sstable` is loaded, some only during, others when it is written, etc.

Also we've been long wanting a capability to inject other implementations into the system for test

[2019-12-11 09:27] bhalevy opened #5459 "view - Error applying view update to 127.0.6.5: seastar::broken_promise (broken promise)"
This causes the add_dc_during_mv_insert_test dtest to fail, unnecessarily.
See https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/339/testReport/materialized_views_test/TestMaterializedViews/add_dc_during_mv_insert_test/
[code]

more context from [node5.log](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/339/artifact/logs-release.2/1575729696

[2019-12-11 09:28] bhalevy commented on #5459
@psarna are you still digging into mv issues?

[2019-12-11 09:45] amoskong opened #5460 "Coredump in restart_with_resharding nemesis"
*Installation details*
Scylla version (or git commit hash): 3.2.rc2-0.20191207.2ff26d11608
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0466376b07e8f1ea4

### Living Cluster
- longevity-tls-1tb-7d-3-2-db-node-2531fbbd-1 [34.244.180.179 | 10.0.161.237]
- longevity-tls-1tb-7d-3-2-db-node-2531fbbd-2 [34.244.94.188 | 10.0.8.89]
- longevity-tls-1tb-7d-3-2-db-node-2531fbbd-3 [34.244.117.158 | 10

[2019-12-11 10:26] ShlomiBalalis commented on #5450
@asias You're right, it's seems that the problem is on the nodetool side. It seems that the decommission itself was successful, but the nodetool decommission command never ended until `2019-12-10 18:31:43,743` when it ended with with exit code -1 (I see no stderr to explain the failure)

[2019-12-11 11:36] slivne commented on #5450
@asias can you find why nodetool returned an error although decomission seems to have succeeded

[2019-12-11 13:36] ShlomiBalalis opened #5462 "Scylla service failed when stopped (50gb-4days)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):`3.2.rc2-0.20191207.2ff26d11608`
Cl

[2019-12-11 13:44] hankipanky opened #5463 "Update 3rd party dependencies on debian regarding java"
We are unable to install scylla 3.1.1 on Debian 10, since the tools depend on OpenJDK 8 (see also #4665).
The Debian maintainers will not support [OpenJDK 8 on Debian 10](https://lists.debian.org/debian-java/2019/04/msg00036.html).

Installation output:

[code]
In absence of OpenJDK 8 we tried using Oracle Java 8, built for Debian 10 via https://github.com/rraptorr. Those packages provide the virt

[2019-12-11 15:43] fruch opened #5464 "Make scylla backtraces always print in oneline"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

## Summary
Right now, `seastar/src/util/backtrace.cc` functions are printing backtraces in one

[2019-12-11 16:29] AdamNuclear commented on #5463
Same issue with ubuntu 18.04LTS. Default is openjdk-11-jre-headless and scylla want openjdk-8-jre-headless. After uninstalling openjdk-11-jre-headless it works.

[2019-12-11 16:47] juliayakovlev commented on #5336
To prevent "Expected a row count of 2000 in table 'entity', but got 1697" error I added sleep before validation. (issue #1184, PR #[1185](https://github.com/scylladb/scylla-dtest/pull/1185))

Error "```Error from server: code=2200 [Invalid query] message="Invalid tuple literal for src_entity: component 5 is not of type frozen<user_refs>""``` can't reproduce

[2019-12-11 18:47] roydahan commented on #5464
@avikivity would you consider this?
It will help our automation better detect full backtraces.

[2019-12-11 23:46] creker commented on #4505
Looks like we got hit by this too. Some of our tables have obviously "corrupted" values, something like 9179770327738884416 or -9179770327738884416. The use-case is similar - counting things, delta is always +1. Unfortunately we found this too late but I do remember we were restarting and rebuilding nodes not that long ago.

[2019-12-12 01:27] asias commented on #5450
OK. I know what is going on. We stuck at stopping messaging_service! We saw the log at line 2432 but we never saw log of line 2434.

@bhalevy, IIRC, you are working on this area.

[code]

[2019-12-12 08:35] bhalevy opened #5467 "build_rpm.sh: add option to strip the scylla binary"
See https://github.com/scylladb/scylla-pkg/issues/788 for context.

This gist of it is to always build scylla with `--debuginfo 1` (and `--test-debuginfo 0` by default) and then strip the debug info only when building the centos rpm, that is used consequently to build the ami.

[2019-12-12 08:40] hankipanky commented on #5463
Thanks, but I don't think this is the same issue. Scylla-tools don't support Java 11 yet; they depend on Java 8. The point is that the alternatives to OpenJDK 8 should be more generic, for those platforms where it is not available.

[2019-12-12 09:28] bhalevy commented on #5450
@xemul is working on this area now

[2019-12-12 09:35] slivne commented on #5450
@Benny Halevy <bhalevy@scylladb.com> / @Avi Kivity <avi@scylladb.com> - are
we going to backport the shutdown boot/shutdow changes to 3.2 - the issue
is on 3.2 - if we have a half backed solution in 3.2 maybe the correct
solution is to revert it.

On Thu, Dec 12, 2019 at 11:28 AM Benny Halevy <notifications@github.com>
wrote:

[2019-12-12 10:13] slivne commented on #5225
the fix for scylladb/seastar#704 was merged

scylladb/seastar@cfb20c519b57ff61bfcf690f16654cc4cc7e0d15

[code]

@avikivity can we backport the seastar fix for IPV6

[2019-12-12 10:16] slivne commented on #5151
@bhalevy please try to see if someone in your team can look at this - please note there is a reproducer from eyal in #5306 - so my suggestion is to try and do what ever eyal did and then find the issue.

[2019-12-12 10:21] slivne commented on #5145
@bentsi if we are getting this on an updated version - can you please post backtraces so we can have a look (all the tooling has changed with relocatable packages)

[2019-12-12 10:23] slivne commented on #5131
duplicates of #5443 that has a fix being merged - closing

[2019-12-12 10:23] #5131 closed

[2019-12-12 10:23] avikivity commented on #5151
The ioctl errors are benign. Seasar is checking if a file is really a block device, and it isn't (as expected).

Please repeat the strace with `-fttT` flags, and give the `--force-aio-syscalls 1` flag to iotune (in the same call).

[2019-12-12 10:23] slivne commented on #5443
we have seen issues like this in 3.1 as well - once the fix is merged lets consider backporting to 3.1

[2019-12-12 10:25] avikivity commented on #5443
3.1 doesn't have this code.

[2019-12-12 10:25] slivne commented on #5109
https://github.com/scylladb/scylla/issues/5226 maybe relevnt for here as well I guess.

[2019-12-12 10:26] avikivity commented on #5443
@slivne no need to add the Backport candidate label, Jenkins does this automatically.

[2019-12-12 10:28] slivne commented on #5093
@bhalevy is this still relevant - can we close this ?

[2019-12-12 10:29] penberg commented on #4744
@psarna I guess we can close this issue then?

[2019-12-12 10:29] slivne commented on #5084
dtest fixed

[2019-12-12 10:29] #5084 closed

[2019-12-12 10:30] slivne commented on #5080
@yarongilor / @roydahan / @amoskong does this happen in 3.2 as well - if not we will close

[2019-12-12 10:31] slivne commented on #5048
@haaawk can you have someone look at this

[2019-12-12 10:32] #5442 closed

[2019-12-12 10:33] slivne commented on #5045
@asias your patch was merged - what is left outstanding to close this issue

[2019-12-12 10:34] slivne commented on #5045
I guess its this

[2019-12-12 10:40] slivne commented on #5033
We do run some nodetool command in parallel with SCT (by mere luck) - assuming we are checking this in other places is not complete.

Please try to fix this, we can make the tests "more relaxed" in some sense - we are mainly concerned in seeing that parallel operation is not getting the node to a bad state.

[2019-12-12 10:44] psarna commented on #4744
yup

[2019-12-12 10:45] slivne commented on #4972
@eliransin ping - lets try to have someone look at this

[2019-12-12 10:45] slivne commented on #4965
@bhalevy / @raphaelsc ping

[2019-12-12 10:47] slivne commented on #4959
@amoskong - when we do get upgrades working - lets see if this is still happening (we may need to use 3.3/master) - we provide the semaphore name now - it will be easier to debug this.

[2019-12-12 10:48] slivne commented on #4951
@roydahan ping

[2019-12-12 10:48] slivne commented on #4949
@bhalevy is this fixed ?

[2019-12-12 10:49] slivne commented on #4941
@bhalevy / @raphaelsc was this fixed ?

[2019-12-12 10:53] slivne commented on #4924
the patch 889f31f is merged - lets see if we still hit this in 3.1 / 3.2 testing if not we can close

[2019-12-12 10:56] fruch commented on #4949
no it's not,

We still hack install.sh for two things, this is one of them:
https://github.com/scylladb/scylla-ccm/blob/next/ccmlib/scylla_repository.py#L218

[2019-12-12 10:56] penberg commented on #4744
@avikivity @slivne We're hitting this bug in Gemini testing, and no stable version carries the fix. Shoud we backport the computed columns series to 3.1? @psarna, how risky do you think that is?

[2019-12-12 10:56] slivne commented on #4900
this is probably related to the issue we had in mv updates 2ff26d11608f26a129d3cdf2e173f8d39ae4b393

closing this issue - as I expect it to be resolved - if this happens again post 3.2.rc3 - please open a new issue

[2019-12-12 10:56] #4900 closed

[2019-12-12 10:58] slivne commented on #4896
@ShlomiBalalis - please open a new issue for the issue you found its not related to this issue

[2019-12-12 10:59] slivne commented on #4880
offlineinstaller is not complete for 3.2 - pushing this out

[2019-12-12 11:02] slivne commented on #4810
@gleb-cloudius / @asias ping

[2019-12-12 11:05] slivne commented on #4808
@psarna we need to go back to this and understand whats going and why we have different beavior with the scylla c-s look here for info on the difference between versions https://github.com/scylladb/scylla/issues/4808#issuecomment-519588734

[2019-12-12 11:06] avikivity commented on #4949
@bhalevy $root points to the root filesystem after installation: as if the user will execute "chroot $root" before running anything. $prefix is where the binary ends up in that chroot. So --set-interpreter $root/something doesn't make sense, because you're already in $root when executing.

[2019-12-12 11:14] psarna commented on #4744
4 out of 5, computed column is a feature in all meanings of this word - it also has its own cluster feature and a schema feature as it adds a table to `system_schema`. I'd say it's a big no-no.

[2019-12-12 11:24] #4474 closed

[2019-12-12 11:24] #5021 closed

[2019-12-12 11:24] #5435 closed

[2019-12-12 11:24] #5034 closed

[2019-12-12 11:24] #5455 closed

[2019-12-12 11:24] #4382 closed

[2019-12-12 11:24] #5347 closed

[2019-12-12 11:24] #5338 closed

[2019-12-12 11:24] #5412 closed

[2019-12-12 11:24] #5443 closed

[2019-12-12 11:24] #5400 closed

[2019-12-12 11:39] roydahan commented on #5460
@amoskong did the coredump happened during the restart or during the resharding?
Please add the relevant part from the log and also change the topic of the issue.

[2019-12-12 11:46] slivne commented on #5460
duplicate #5443

[2019-12-12 11:46] #5460 closed

[2019-12-12 11:49] slivne commented on #5462
@asias can you also look at this one and see why the node did not shutdown on time and systemd had to kill it

[2019-12-12 11:49] mmatczuk opened #5468 "Stalls and crashes when working with snapshots"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): Scylla Enterprise 2019.1.2
Cluster

[2019-12-12 12:11] Saikumarn78 opened #5469 "Scylla startup Script."
Hi,

Can we have a feature, to control the Scylla service script?

How do control or tell Scylla not to start its service if it down for a given threshold time? Assume that a node is removed from the cluster as the node is not reachable and at some point of time the node would be rebooted to make it functional and during this period all the configurations are intact with Scylla the node would join

[2019-12-12 12:12] fgelcer opened #5470 "./db/large_data_handler.hh:110: seastar::future<> db::large_data_handler::maybe_record_large_cells(const sstables::sstable&, const sstables::key&, const clustering_key_prefix*, const column_definition&, uint64_t): Assertion `!stopped()' failed."
longevity large partition crashed.
cluster size = 4 db nodes

the crash wasn't able to write the coredump:
[code]

the errors in the log:
[code]

backtrace:
[code]

decoded:
[code]

full logs can be found here:
[code]

[2019-12-12 12:15] avikivity commented on #5435
@eliransin is only master vulnerable, or any branches too?

[2019-12-12 12:20] Saikumarn78 commented on #5469
I am uploading the service script wapper I made for Cassandra and it can handle the seed bootstrap too.

[2019-12-12 12:20] amoskong commented on #4959
OK, I have updated a ticket to track this.

[2019-12-12 12:24] Saikumarn78 commented on #5469
[cassandra.gz](https://github.com/scylladb/scylla/files/3955679/cassandra.gz)

[2019-12-12 13:01] psarna commented on #4808
It's been a while, so I checked again, and first of all I can confirm that the issue is with c-s only, because of these:

* scylla cluster + scylla-tools-java's cassandra stress -> doesn't work properly
* scylla cluster + stock 3.11.3 cassandra stress -> works fine
* cassandra 3.11.3 cluster + scylla-tools-java's cassandra stress -> doesn't work properly
* cassandra 3.11.3 cluster + stock 3.11.3 c

[2019-12-12 13:31] slivne commented on #4808
To elaborate - the concern is that this is not confined to
cassandra-stress, scylla users are using the newer java driver (since the
shard aware version is based on that).

So all users using the shard-aware driver can get this errors when they
drain.

We want to validate if Scylla's drain can be updated to make this more
"clean".

On Thu, Dec 12, 2019 at 3:01 PM Piotr Sarna <notifications@github.

[2019-12-12 13:36] slivne commented on #5468
@amnonh please check if the restapi ```curl localhost:10000/storage_service/snapshots``` causes the stalls and if it has yields embeded - please note this was found on 3.0.X release (2019.1.2) - there could be later releases that have this fixed - if that is the case please find what needs to be backported.

[2019-12-12 13:44] tarzanek commented on #5463
is https://adoptopenjdk.net/releases.html publishing debian packages?

[2019-12-12 13:44] amoskong commented on #5462
I touched a same issue in longevity 1TB  (3.2)

- Test job: https://jenkins.scylladb.com/job/scylla-3.2/job/longevity/job/longevity-1tb-7days/
- Full db log: https://storage.cloud.google.com/upload.scylladb.com/amos/longevity-1tb-3.2/longevity-tls-1tb-7d-3-2-db-node-2531fbbd-4-log.tar.gz?authuser=0

It's stuck to stop the scylla-server, it seems it's stuck in stopping message service.  (I compared

[2019-12-12 13:45] roydahan commented on #5470
When i3 instance start after a restart it loses its disks, so we don't have any more /var/lib/scylla.
That's the reason why it couldn't write the coredump.
(I don't know if it's also the cause for the issue itself as well)

[2019-12-12 13:45] bhalevy commented on #4054
For ASAN, https://github.com/google/sanitizers/wiki/SanitizerCommonFlags says:
[code]

[2019-12-12 14:15] amnonh commented on #5468
@slivne it doesn't a huge amount of snapshot can cause stalls

[2019-12-12 14:35] vladzcloudius opened #5471 "Improve the ability to estimate the amount of tombstones in a particular data element"
*Installation details*
HEAD: 7b37a700e11ae298940a2015815e51e1434ede6f

*Description*
As of today there is no way to know how many tombstones needs to be scanned in order to read a particular data element (e.g. a partition).

This is a very important feature that is required when debugging read latency issues.

[2019-12-12 14:36] vladzcloudius commented on #5471
One way to resolve this is to instrument CQL Tracing.

There is an initial work that has been done in this regard: "[PATCH scylla v1 0/9] CQL tracing: trace the amount of read data".

Someone (me?) should get it to completion unless there is a better way to address this.

[2019-12-12 14:52] tarzanek commented on #5469
it would make sense to add something like this service - to stop booting scylla automatically if it was down for > X hours (e.g. a day?) - so if HW failure occurs

(so add it to https://github.com/scylladb/scylla/tree/master/dist/common ?)

[2019-12-12 15:18] eliransin commented on #5435
@avikivity 3.1 and above (inclusive) are vulnerable.

[2019-12-12 16:24] nyh opened #5472 "Alternator: allow operations to return api_error instead of throwing it (which is slower)"
Currently, we implement Alternator API requests in `alternator/executor.cc`, in functions such as:

[code]

Each of these functions can return a json to signify a success, but if it wants to return an error in an organized way, it needs to throw an exception of type `api_error`. But this is slow - especially the part in the HTTP server which rethrows and categorizes this exception. This is especia

[2019-12-12 16:50] avikivity commented on #4176
I suggest testing a key-value (single row partitions, no clustering key, one regular column) workload that has 1MB values. In this workload, the 1MB values (which should be tracked) would dominate. If the actual usage matches the tracked usage closely, then your code is correct. If the ratio is close to some rational number, you're not tracking something. If it's zero, you have a very big bug.

I

[2019-12-12 17:48] vladzcloudius opened #5473 "Rething the logged batch logic since we DO have hinted handoff now"
*Installation details*
HEAD: 7b37a700e11ae298940a2015815e51e1434ede6f

*Description*
This corresponding [code](https://github.com/scylladb/scylla/blob/master/db/batchlog_manager.cc#L271) has been written in times when hinted handoff hadn't been implemented yet and certain implementation decisions were  made.

We do have HH now and probably some adjustments may/should be made.

[2019-12-12 18:36] espindola commented on #5145
Sorry, I missed this somehow.
I am confused, how is this related to #4971 and why were those rpms used?
@bhalevy not sure what you want me to do differently for decoding the binaries. All that I have (hopefully in a backup) are the rpms.

[2019-12-12 19:06] espindola commented on #5145
This is the backtrace I got with

seastar-addr2line -e  usr/lib/debug/opt/scylladb/libexec/scylla-3.1.0.rc5-0.20190922.f469c2742.el7.x86_64.debug < log  > decoded

[decoded.txt](https://github.com/scylladb/scylla/files/3957402/decoded.txt)

[2019-12-12 23:20] syuu1228 opened #5474 "scylla_prepare causes KeyError when SET_CLOCKSOURCE haven't configured by scylla_setup"
Since we don't have SET_CLOCKSOURCE on dist/common/sysconfig/scylla-server by default,
scylla_prepare causes KeyError when SET_CLOCKSOURCE haven't configured by scylla_setup.

[code]

[2019-12-12 23:25] syuu1228 commented on #5474
Probably it's better to return empty string just like on shell script, instead of raising exception.

[2019-12-12 23:38] glommer commented on #5474
Thanks @syuu1228 .

Indeed we need to work and be compatible with older files that won't have that variable - in which case we should just not set it.

@flucchese please fix.

[2019-12-12 23:48] syuu1228 commented on #5474
I already sent a fix for it:
[PATCH scylla 1/2] dist/common/scripts: don't raise exception when sysconfig.get() does not find entry on sysconfig file
[PATCH scylla 2/2] dist/common/sysconfig: add SET_CLOCKSOURCE

[2019-12-13 01:09] glommer commented on #5474
It's not better to return an empty string. I have responded to your patch.

Please keep the exception, catch it in the caller, and document get() saying explicitly that optional variables will throw so that nobody else makes this mistake in the future.

[2019-12-13 01:23] syuu1228 opened #5475 "nonroot mode installer does not specify correct datadir"
It seems failing specify correct datadir, scylla tries to use default path (/var/lib/scylla/data) and fails to startup.
[code]

[2019-12-13 03:18] asias commented on #5462
It is the same issue that messaging_service can not be shut down!

[code]

The following log is expect during server shutdown. Nothing to worry about.

[code]

[2019-12-13 03:20] asias commented on #5462
I am closing this one. We have https://github.com/scylladb/scylla/issues/5450 to track the messaging service shutdown issue.

[2019-12-13 03:20] #5462 closed

[2019-12-13 09:54] haaawk commented on #5288
Is this test automated @amoskong ? What's the best way to check that my fix solves the problem?

[2019-12-13 10:01] amoskong commented on #5288
You can uploaded your packages to google storage or s3, I will run a upgrade byo test.
If the job works well, you can run it by yourself in future.

[2019-12-13 10:04] haaawk commented on #5288
By packages you mean Fedora RPMs? https://github.com/scylladb/scylla#building-fedora-rpm
or sth else? If so, do we have any instructions how to build them?

[2019-12-13 10:20] denesb commented on #5464
Which Scylla version is this? Since https://github.com/scylladb/seastar/commit/1ee2be13ae0c3deb1de04a810b1008851f7fca3e all backtraces are printed the same way -- in multiple lines. IIRC Scylla 3.0+ has this code.

[2019-12-13 10:45] amoskong commented on #5288
Yes, we need rpms for testing.

We can use dbuild, the the doc (https://github.com/scylladb/scylla/tree/master/tools/toolchain) didn't contain all the detail.

#### NOTE: you need to change it to use your own github repo and branch
[code]

[2019-12-13 12:27] fruch commented on #5464
Well I know we see this difference also in 3.2 and even before that.

Anyhow we want to change it to be one liner, or at least a way to configure it like that.

Since the multiple line backtraces make it very hard to collect and attribute the correct backtrace to the error taking place

[2019-12-13 12:36] denesb commented on #5464
Can you copy here a snippet of such a one-liner? I cannot see in the code where we would produce such a backtrace. Both `backtrace_buffer` in `reactor.cc` and `operator<<(saved_backtrace)` in `util/backtrace.cc` print multi line traces.

[2019-12-13 12:40] psarna commented on #4808
For testing purposes, I added the following to `storage_service::drain()`:
1. drain is initiated
2. DOWN event for this node is pushed to all listeners (via a STATUS_CHANGE event, using the event_notifier from cql_server::connection)
3. wait a while for the client to acknowledge the event
4. continue with the drain (shut down the sockets, etc.)

I verified via debug printing that the status change

[2019-12-13 13:01] amoskong commented on #5288
I built rpm packages, created a repo, and uploaded to GCE storage
- http://scratch.scylladb.com/amos/yum_repos/master/piotrj_issue5288/scylla.repo

The upgrade test is running ...
- https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/rolling-upgrade-centos7-test/1/execution/node/35/log/

[2019-12-13 13:03] haaawk commented on #5288
Thanks, Amos!

[2019-12-13 13:51] psarna commented on #4808
From a comment in https://github.com/datastax/java-driver/blob/9f0d89799a8a1e4cd1022dd7c43333924c36a648/core/src/main/java/com/datastax/oss/driver/internal/core/metadata/TopologyEvent.java#L73 :

if the node is currently ignored by the driver's load balancing policy, this is reflected
in the driver metadata's corresponding {@link Node}, for information purposes only.
**otherwise, if the driver sti

[2019-12-13 14:45] psarna commented on #4808
update: when I hardcode the driver to be less self-confident and accept my authority when I send it a "node is down" status, then sending the `DOWN` event works kind of fine - it's still possible to see a single "Connection closed" sometimes (although the connection remains open Scylla-side, so the driver must have closed it by itself), but after a single error like that (or, sometimes, no error a

[2019-12-13 17:38] espindola commented on #5470
Revision is 2ff26d11608.

How did we even start with /var/lib/scylla missing?

[2019-12-13 17:40] espindola commented on #5470
The decoded backtrace is corrupted:
sstables::mc::writer::write_cells(bytes_ostream&, clustering_key_prefix const*, column_kind, row const&, sstables::mc::writer::row_time_properties const&, bool) at crtstuff.c:?

That function is in sstables/mc/writer.cc.

[2019-12-13 18:36] espindola commented on #5467
The rpm build process already spits the debug info to its on package. We get scylla-server with the binary and scylla-debuginfo with the debug info.

Why do we wan to strip the scylla binary?

[2019-12-13 19:25] amoskong commented on #5288
This job failed for another issue in scylla_prepare, I will try to fix or workaround and rerun the upgrade job again.

[code]

[2019-12-13 20:45] ManManson opened #5477 "LWT: incorrect number of required participants for queries executed with cl=LOCAL_SERIAL in multi-dc setup"
*Installation details*
Scylla version (or git commit hash): master

The following tests are consistently failing in scylla-dtest (master), when uncommenting combinations involving `LOCAL_SERIAL` consistency level:

[code]

These are the affected code fragments, which need to be uncommented in order to exhibit erroneous behavior: https://github.com/scylladb/scylla-dtest/blob/2e3fce05b190aa7bfc5d371

[2019-12-13 20:51] amoskong opened #5478 "scylla_setup / scylla_sysconfig_setup failed in setting clocksource"
*Installation details*
Scylla version (or git commit hash): master  27b8b6fe9d0be43f46cbd65682b6245da32c9e05
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

commit 4333b37f9e1087f7f0622a71d44ffeafbf7f6b2a introduced this issue.
- scylla_setup: Support for enforcing optimal Linux clocksource setting (#5379)

###  ERROR 1 in scylla_setup:

[code]

### ERROR 2 in upgrade test:

[code]

/CC

[2019-12-13 20:57] amoskong commented on #5288
The second job is running in the key part   (I workarounded the sysconfig setup issue in sct)
- https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/rolling-upgrade-centos7-test/2/console
- first node had been upgraded successfully
- I will update you result later  (after about 3 hours)

BTW, I posted a PR https://github.com/scylladb/scylla/pull/5476 to fix sysconfig setup issue of set clo

[2019-12-14 00:35] amoskong commented on #5288
I can still see the db errors in upgrade test.

[critical_db_err_log.txt](https://github.com/scylladb/scylla/files/3963214/critical_db_err_log.txt)

upgrade from 3.1.2-0.20191127.9d78d848e to 666.development-0.20191213.a1994bb14
- the master packages were built by seastar-dev/haaawk/5288

- GCE Living cluster: https://console.cloud.google.com/compute/instances?project=skilled-adapter-452&instances

[2019-12-14 03:12] fastio commented on #5364
@nyh I want to try to work around this feature that support pipelining in Redis.

My simple solution is described as follows:

* Allocate one fixed size queue when the connection is created.
* Parse as many requests on the connection as possible util the queue is full.
* Process the requests in the queue as many as possible util the queue is empty.

Please give me some advice. Thanks.

[2019-12-14 09:44] #5228 closed

[2019-12-14 09:44] #5457 closed

[2019-12-14 17:50] amoskong commented on #5474
the expected return values have different type, empty string or none is not good unless we double check and fix or caller.

[2019-12-14 17:54] amoskong commented on #5474
I also touched a problem of scylla_setup.

related issue: https://github.com/scylladb/scylla/issues/5474

[2019-12-15 05:05] bhalevy opened #5479 "lightweight_transaction_test error: unpack requires a string argument of length 4"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1389/testReport/cql_additional_tests/CQLAdditionalTests/lightweight_transaction_test
[code]
Scylla version 9ec98324edb29596be9009cf54129d267d08e83a

Not sure this error is reproducible, or if it's related to LWT at all...
Last report of a similar error was in #4304

https://jenkins.scylladb.com/view/master/job/scylla-maste

[2019-12-15 05:05] bhalevy commented on #5479
Cc @kostja @gleb-cloudius

[2019-12-15 05:13] bhalevy commented on #4714
Hit again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1389/artifact/output_test_dev.txt
[code]

Scylla version 9ec98324edb29596be9009cf54129d267d08e83a

[2019-12-15 06:17] bhalevy commented on #5479
Hmm seen also in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/346/testReport/cql_additional_tests/CQLAdditionalTests/lightweight_transaction_test/

[2019-12-15 08:06] tzach commented on #4505
@bentsi could this be related to #4074 ?

[2019-12-15 08:08] fruch commented on #5464
I guess we still see that in branch-3.0
https://github.com/scylladb/scylla/issues/5291

But the our issue isn't that it's not consistent, is that we want it to be one-liner, or at least a way to configure it so.

[2019-12-15 10:47] slivne commented on #5468
So please fix ...

[2019-12-15 10:49] slivne commented on #4796
patch was dropped as we did not find a tehcincal solution - leaving the issue open as we may go back to this.

[2019-12-15 11:18] slivne commented on #5479
I vaguely remember that we have decide to return a result always while Cassandra doesn't .... is this related ?

[2019-12-15 11:22] slivne commented on #5473
this should only be done once some other items in HH are fixed

[2019-12-15 11:23] slivne commented on #5471
We already have some information in CQL Trace with regards to reading data off sstables - can this help ?

[2019-12-15 11:24] slivne commented on #5470
@fgelcer we need the info of which version was run and where to find the artifacts used

[2019-12-15 11:31] slivne commented on #5446
@amoskong If this is an SCT bug - please close

[2019-12-15 11:46] fgelcer commented on #5470
@slivne , ami_id = ami-0466376b07e8f1ea4

[2019-12-15 11:47] slivne commented on #5450
QA have run multiple tests with decommission

Currently 3 out of 3 runs have passed - we will continue to run and update.

[2019-12-15 12:28] mmatczuk commented on #5468
This particular case has one snapshot over one table of 250 GiB

W dniu niedz., 15.12.2019 o 11:47 Shlomi Livne <notifications@github.com>
napisał(a):

--
Michał

[2019-12-15 12:30] slivne commented on #5439
dtest bug ... submitted a patch

[2019-12-15 12:36] avikivity opened #5480 "Clocksource selection in scylla_setup is opaque"
The clocksource selection question in scylla_setup is very opaque:

[code]

How is the user to know if this is needed (usually it isn't), whether it's safe (usually it isn't) and what's the impact of an incorrect selection?

[2019-12-15 12:37] gleb-cloudius commented on #5437
@asias should look at it

[2019-12-15 13:47] avikivity commented on #5364
Processing should be done in parallel when possible. This will overlap the latency of contacting other nodes.

One problem is that it's not always possible to process in parallel, requests for the same key should be processed serially, otherwise a SET a x followed by a GET a might execute GET a before the SET.

To serialize, we can use the same locking that LWT uses (@gleb-cloudius where is it?) N

[2019-12-15 13:52] gleb-cloudius commented on #5364
On Sun, Dec 15, 2019 at 05:47:38AM -0800, Avi Kivity wrote:

It is in a paxos_state::_locks. Currently taken by
paxos_state::prepare() and paxos_state::accept() but I am moving it up
the call chain. FWIW it is per token, not per key.

--
			Gleb.

[2019-12-15 14:08] avikivity commented on #5145
Looks like the debuginfo and the trace do not match.

[2019-12-15 14:11] avikivity commented on #5469
You can use `systemctl disable scylla-server` to disable automatic startup.

[2019-12-15 14:12] avikivity commented on #5463
@syuu1228 can was add a conflict with java 11 to solve the ubuntu issue?

[2019-12-15 14:22] avikivity commented on #5364
That's okay for redis too

[2019-12-15 14:42] amnonh commented on #5468
@slivne from what @mmatczuk wrote, in this case, the API is not the problem, so let's fix the real problem and not the API

[2019-12-15 15:44] roydahan commented on #4951
planned for 3.2.rc3 after we had a different issue with rc2.

[2019-12-15 16:22] bhalevy commented on #4505
@tzach I doubt it.
I'll try to reproduce with this [gist](https://gist.github.com/wigginus/e8ad12a23fc1b2a302db0d9094d621f3)

[2019-12-15 17:04] roydahan commented on #5080
I didn't see anyone reporting.

[2019-12-15 17:24] bhalevy commented on #5467
@penberg if this is indeed not required we can close this issue.

[2019-12-15 17:33] bhalevy commented on #5093
Haven't seen since.  We can close and reopen if hit again.

[2019-12-15 17:33] #5093 closed

[2019-12-15 17:37] bhalevy commented on #5354
Not sure this was entirely a bug in scylla-dtest, or whether hh draining is really hung.
Will reopen if hit again...

[2019-12-15 20:13] slivne commented on #5424
@fruch it indeed seems like a bug I wonder what would happen if you opened a new session and did the queries over that - I expect you would get data back in that case (can you test this if this is simple for you)

[2019-12-15 20:17] slivne commented on #5414
@amoskong so its clear:
- did you run nodetool cfstats after scylla_bench has ended
or
- did you run nodetool cfstats while scylla_bench was running and loading data into the cluster

[2019-12-15 20:22] slivne commented on #5356
@asias thoughts ?

[2019-12-15 20:23] slivne commented on #5340
@bhalevy ping

[2019-12-15 20:36] fruch commented on #5424
I'll try doing that

[2019-12-15 21:43] slivne commented on #4981
we also have this https://github.com/scylladb/scylla/issues/4712

[2019-12-15 21:44] slivne commented on #4815
@bhalevy ping on thios and #5254 - we need to try and understand better whats going on (and resolve it)

[2019-12-16 01:50] asias opened #5482 "Make replacing node take writes"
During replacing operation, the replacing node does not take any writes.  As a result, writes to a range after the streaming for that range is done, will not be synced to the replacing node. Hinted hand off or repair after the replacing operation will help.  It is better, if we can make the writes to the replacing node to avoid any post replacing operation action.

However, only after the replacin

[2019-12-16 02:29] asias commented on #5437
I unassigned gleb and assigned myself.

[2019-12-16 02:50] asias commented on #5414
It was after bench was done to generate the load. When I run nodetool cfstats, zero load in the cluster.

[2019-12-16 06:24] amoskong commented on #5478
The patch problem patch had been reverted, let's close this issue

[2019-12-16 06:24] #5478 closed

[2019-12-16 07:35] haaawk commented on #5288
I pushed some additional fixes to https://github.com/scylladb/seastar-dev/commits/haaawk/5288.
Could you rerun the test @amoskong, please?

[2019-12-16 07:51] asias commented on #5437
Patch is sent: https://github.com/scylladb/scylla/pull/5483

[2019-12-16 08:37] denesb commented on #5464
I think that that one-line backtrace was multi-line originally and the newline chars were eaten somewhere in the log processing/capturing pipeline.

As part of the work of https://github.com/scylladb/seastar/commit/1ee2be13ae0c3deb1de04a810b1008851f7fca3e there was a decision to make all backtraces consistent and the multi-line format was chosen. I don't remember the exact arguments, but I seem to

[2019-12-16 08:48] fruch commented on #5464
Is a simple reading it line by line from a file, right now. nothing
sophisticated.
logs are transferred to the machine we are running the tests with
rsyslod via network.

but the main issue with reading from multiple lines, is not know where is
the end of that backtrace.
So, we'll need to understand which shard this log line belongs to.
and once we get the EOF we need to keep that information/part

[2019-12-16 08:48] denesb commented on #5464
Changing this is not as simple as it sounds. Unconditionally making all backtraces single-line would be a two line patch, but:
* This is in seastar code. Changing it would change how *all* seastar applications log their backtraces. We can't just make a change like that on a whim.
* Even if this was scylla-only code, there is now a bunch of tools all built around multi-line backtraces. Changing it

[2019-12-16 09:46] gleb-cloudius commented on #5464
On Mon, Dec 16, 2019 at 12:38:03AM -0800, Botond Dénes wrote:

I was always for the one-line backtrace for all the good reasons Israel
brings here. The only argument in favor of multi-linear was that some
loggers may by default truncate lines that are too long so there was a
concern that user bug reports will be incomplete. The argument is not
convincing to me at all since it is very easy to ask f

[2019-12-16 10:51] avikivity commented on #5464
I was also in favor of a single-line backtrace.

I also had plans to base64-encode the addresses (and drop leading zeros), but it's too much effort for too little gain.

[2019-12-16 10:53] kostja commented on #5479
No it should be not related. If it was, it would fail consistently.

[2019-12-16 11:06] roydahan commented on #5464
So how do we get a QUORUM on this decision or we should choose a leader to decide (@avikivity )?
For better QA auto detection and prevent incomplete backtraces, I think one liner is no brainer.

[2019-12-16 11:14] kostja commented on #5479
@bhalevy are there any stats as to how frequent this is?

[2019-12-16 11:15] slivne commented on #5479
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/346/testReport/cql_additional_tests/CQLAdditionalTests/lightweight_transaction_test/history/

On Mon, Dec 16, 2019 at 1:14 PM Konstantin Osipov <notifications@github.com>
wrote:

[2019-12-16 11:23] kostja commented on #5479
@slivne please help me read this. When did it start to fail for the first time this way? Is it failing consistently or is it flaky?

[2019-12-16 11:28] avikivity commented on #5464
It's not enough to decide, someone needs to write the code.

For a trace with 10 non-inline calls, assuming 6 hex digits compressed to 4 base64 digits + 1 marker, we get 50 characters. We'll also need to record libraries, I think we reach around 80 characters for a compressed backtrace.

[2019-12-16 11:53] tarzanek commented on #5469
I think the problem here is disconnect of dev/deploy teams and day to day devops teams
@Saikumarn78 lacks ssh to the deployed boxes once they are out in the wild, so you still want to have them start scylla when restarted e.g. for security patching, etc. , but you don't want the node join automatically if it goes down for few days of hw maintainance and it will be replaced by another node ... so h

[2019-12-16 12:46] nyh commented on #5454
adding "low" label, as this only effects esoteric cases where the user is trying to do things that should be errors anyway.

[2019-12-16 14:27] flucchese commented on #5474
I would argue that the "SET_CLOCKSOURCE" parameter should be treated like the other ones, meaning that it should be incorporated to scylla_server in its default value.

[2019-12-16 14:28] flucchese commented on #5474
@amoskong did you update the scylla_server in your patch?

[2019-12-16 15:28] vladzcloudius commented on #4808
@psarna I agree. This doesn't look worth the trouble of changing anything on our side.

[2019-12-16 15:29] vladzcloudius commented on #5473
@slivne Which items?

[2019-12-16 15:31] eliransin commented on #4469
After a closer look, I found out that it is related to our rest API:
`Scylla API server HTTP GET to URL '/column_family/metrics/write_latency/moving_average_histogram/ks:tm_table0_mv_0' failed: Infinite double value is not supported`
I guess it has something to do with the histogram computation.
@amnonh I am starting to look in the to_json of a histogram type to see if it can produce infinite valu

[2019-12-16 15:47] eliransin commented on #4268
We will eventually need to merge from upstream into scylla-tools-java.

[2019-12-16 16:05] eliransin commented on #4268
This is a cqlsh problem which is in another repository.
A proper issue is here: scylladb/scylla-tools-java#129

[2019-12-16 16:05] #4268 closed

[2019-12-16 16:08] eliransin commented on #5028
@dekimir - is this what you implemented recently ?
/cc @nyh

[2019-12-16 16:09] roydahan opened #5484 "scylla-debuginfo doesn't include the file to decode backtrace"
Scylla version (or git commit hash): 666.development-0.20191211.761b19cee58
OS (RHEL/CentOS/Ubuntu/AWS AMI):  AWS (ami-0ce8d67386d22b828 eu-west-1)

Installed rpms:
[code]

libexec dir:
[code]

Files of debuginfo:
[code]

[2019-12-16 16:14] dekimir commented on #5028
No, mine was #5034

[2019-12-16 16:52] vladzcloudius commented on #5471
@slivne Could you clarify which info you refer?
AFAIK the only info we have is that sstable with a particular name has been read.
If that's the only info we get this is clearly not enough because it doesn't tell us how much "bad" data has been read (at all or from a particular sstable).

[2019-12-16 20:48] espindola commented on #5470
Is there anyway to get the rpms without having to start a EC2 instance?

[2019-12-17 03:14] amoskong commented on #5288
Ok, I will rebuild and rerun the job.

[2019-12-17 04:07] amoskong commented on #5474
Yes, but the PR (https://github.com/scylladb/scylla/pull/5476/
<https://github.com/scylladb/scylla/pull/5476/files>) was closed.  Your
original commit was reverted.

On Mon, Dec 16, 2019 at 10:28 PM Fabiano Lucchese <notifications@github.com>
wrote:

[2019-12-17 05:08] fgelcer commented on #5470
most likely yes, but then you will need to track back from the ami which job triggered it, and to find out where the RPMs are...

[2019-12-17 06:42] amoskong commented on #5288
New upgrade job is running:
- job: https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/rolling-upgrade-centos7-test/3/
- repo: http://scratch.scylladb.com/amos/yum_repos/master/piotrj_issue5288_v2/scylla.repo
- version: scylla-666.development-0.20191217.c8559d6db.el7.x86_64.rpm
- https://github.com/scylladb/seastar-dev/commits/c8559d6dbd548646324378a84cb63e74889c1421

[2019-12-17 07:09] haaawk commented on #5288
Thanks @amoskong

[2019-12-17 07:48] amoskong commented on #5446
The job (https://jenkins.scylladb.com/job/scylla-3.2/job/rolling-upgrade/job/rolling-upgrade-centos7/29/) failed for SCT issue, but the list order problem is a real problem of Scylla, It can be reproduced.

[2019-12-17 07:52] bhalevy commented on #5479
@kostja we started hitting that in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1388/ using scylla 9ec98324edb29596be9009cf54129d267d08e83a
Right after 64cade15cc6392fb72d7f0f76e25ebcfa3983f58 (Merge "bouncing lwt request to an owning shard" from Gleb)
Looking at https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1403/testReport/cql_additional_tests/CQLAddit

[2019-12-17 07:59] amoskong commented on #5288
This job failed for any known scylla issue: https://github.com/scylladb/scylla/issues/5446

I will try to workaround it and retest the upgrade.

[2019-12-17 08:33] roydahan commented on #5484
@penberg Is it something for your team?

[2019-12-17 09:07] avikivity commented on #5479
"half the time" matches with two shards per node, and picking the wrong shard half the time.

[2019-12-17 09:30] bhalevy commented on #5340
Fixing @psarna review comments now

[2019-12-17 09:43] asias commented on #5482
As discussed with Shlomi, I will provide a gossip api to tell if a node is a replacing node for the proxy service.

[2019-12-17 10:51] nyh commented on #5059
Added a test as described above: test_scan.py::test_scan_parallel. (the test xfails on Alternator, passes on DynamoDB).
Also temporarily added trivial code in `executor::scan()` to fail the `Scan` request if the parameters `Segment` or `TotalSegments` are given (until we have a full implementation of this feature).

[2019-12-17 11:09] gleb-cloudius commented on #5482
On Tue, Dec 17, 2019 at 01:43:49AM -0800, Asias He wrote:

Why not just report it as pending?

--
			Gleb.

[2019-12-17 12:51] avikivity commented on #5484
@slivne bisected the packages sizes and saw the problem is between 28355af134f and 91d3f2afceb.

The only obvious candidate is 1cd17887fa65138f799b97273b64762e51332c28, but as far as I can tell it is correct. I inspected the generated build.ninja and it uses link.release as its build rule.

reloc/build_reloc.sh doesn't pass --debuginfo 0

@espindola any ideas?

[2019-12-17 13:08] avikivity commented on #5484
I think it's a jenkins script bug:

[code]

[2019-12-17 13:17] avikivity commented on #5484
Closing, since this is likely a problem with the jenkins scripts.

[2019-12-17 13:17] #5484 closed

[2019-12-17 14:06] denesb opened #5487 "sstable scrub - add data validation"
Currently `nodetool scrub` does little more than read and rewrite all stables, essentially being useful only for upgrading all sstables to a newer version. According to the [cassandra documentation](https://docs.datastax.com/en/archived/cassandra/3.0/cassandra/tools/toolsScrub.html) scrub also discards broken data and removes any tombstones that exceeded `gc_grace` period of the table.

For start

[2019-12-17 14:14] denesb commented on #5487
I originally just wanted to see scrub related open issues, but accidentally pressed enter and created an issue with the name "scrub" and default content. I edited the title and the body, sorry about the noise.

[2019-12-17 14:43] tzach opened #5488 "Expose new experimental flag in Docker"
Scylla Docker support `--experimental` flag.

https://github.com/scylladb/scylla/commit/63474a3380e6fbd2ebb7783bf80a46ac4da0428b adds a new per feature experimental flag
It will be useful to expose the same functionality for Docker users

[2019-12-17 14:45] denesb opened #5489 "scylla service/maintenance mode"
Often when disaster strikes it would be useful to bring up a "damaged" node, fix it e.g. using `nodetool compact`, `nodetool scrub`, etc, then let it join the cluster. This is curently not possible as a node, once started will instantly become "UP" and will start serving reads and writes.

It would be beneficial in these scenarios to have a "service mode", a mode in which a node will start up but

[2019-12-17 14:50] bhalevy commented on #5489
I think that compaction should not run automatically in service mode, but rather only using a nodetool command.

[2019-12-17 14:51] denesb commented on #5489
Agree, when there are problematic sstables, you don't want them compacted away automatically.

[2019-12-17 14:58] amoskong commented on #5274
I see this issue in upgrade test from 3.0 to 2019.1.4.

- test log: https://jenkins.scylladb.com/view/enterprise-2019.1/job/enterprise-2019.1/job/rolling-upgrade/job/rolling-upgrade-debian9/19/execution/node/45/log/
- version: from `3.0.11-0.20191126.3c91bad0d` to `2019.1.3-0.20191217.cb307772b` (pre-2019.1.4)

Do we need to backport fix to 2019.1.4?

[2019-12-17 16:53] espindola commented on #5470
OK, the log has

Scylla version 3.2.rc2-0.20191207.2ff26d11608 starting ...

Which hopefully means that this is https://jenkins.scylladb.com/job/scylla-3.2/job/centos-rpm/28/artifact/scylla/build/redhat/RPMS/x86_64/

Which has corrupted debug info since the debuginfo rpm is only 83.95 MB.

[2019-12-17 17:57] Gleb-ko commented on #5173
I am facing the same issue, same setup & installation as @rahulchaki .

[2019-12-17 21:01] heitorPB commented on #5273
Using Alpine instead of Fedora/Centos might help

[2019-12-18 01:33] asias opened #5490 "repair: Do not return working_row_buf_nr in get combined row hash verb"
In commit b463d7039cd20445a52191bb94770d87a025e78a (repair: Introduce
get_combined_row_hash_response), working_row_buf_nr is returned in
REPAIR_GET_COMBINED_ROW_HASH in addition to the combined hash. It is
scheduled to be part of 3.1 release. However it is not backported to 3.1
by accident.

In order to be compatible between 3.1 and 3.2 repair. We need to drop the
working_row_buf_nr in 3.2 release

[2019-12-18 01:49] asias commented on #5482
Pending ranges are for the ranges are about to join or leave the token ring. Replace operation does not change the token range at all. That means if we artificially mark the ranges the replacing node owns, the same ranges will appear in both the existing token ranges and the pending token ranges.

[2019-12-18 09:05] fgelcer opened #5492 "error during repair - caught during manager 2.0 sanity"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size: 3 (2 nodes on us-east

[2019-12-18 09:14] asias commented on #5492
I need the logs to see what caused the error in the log.

[2019-12-18 10:32] amoskong commented on #5406
@haaawk any update?

[2019-12-18 10:35] asias commented on #5492
The log suggests there are connection issue around the failed repair:

[code]

[2019-12-18 10:36] jul-stas commented on #5406
Hi @amoskong, I can't reproduce it on current master.
I ran your `cassandra-stress` commands while looking at the metrics `scylla_storage_proxy_replica_cross_shard_ops`:
1. with datastax driver these metrics grow as in your example
2. with shard-aware driver metrics don't even move. Not by a single increment.
Did you use any particular settings/topology? Did you see `===== Using optimized driver!!

[2019-12-18 10:38] asias commented on #5492
During the time around 16:48 where the failure happened, the node 172.30.0.235 was shtudown. This explains the failure of the repair.

[code]

[2019-12-18 10:39] haaawk commented on #5406
Maybe scylla-tools-java are not correctly switched to shard-aware driver

[2019-12-18 10:44] eliransin commented on #5383
@wuzm2k05 , the behavior you see is intentional. This is to achieve parity with Cassandra that
behave in the exact same way. If you would like to preserve the case of your login, you need to quote your login like so:
`create ROLE 'AAA' WITH PASSWORD = '123456' and LOGIN = true;`
Please notice the quotes surrounding the user name.
You can also read about it [here](https://docs.datastax.com/en/archi

[2019-12-18 10:47] haaawk commented on #5406
Juliusz and I have figured out that a cassandra driver jar in lib/ dir is overriding shard aware driver. Juliusz will fix it in PR.

[2019-12-18 10:50] amoskong commented on #5406
Thanks. I will retest when the new packages are built.

[2019-12-18 11:37] nyh opened #5493 "Replace dht:global_partitioner() by a schema::get_partitioner()."
Right now, the **partitioner** (i.e., function to convert partition keys into tokens) is global - it's not per-table or even per-keyspace. This is rarely a problem today, because the only recommended partitioner is `Murmur3Partitioner`. But for CDC log tables we would like to use a different partitioner (basically one which uses a 8-byte key directly as an 8-byte token) - and today cannot do it.

[2019-12-18 12:22] syuu1228 opened #5494 "dist/debian: "sysctl: command not found" occurs on Debian minimum install"
We should add procps package on 'Depends'.
[code]

[2019-12-18 12:31] dkropachev opened #5495 "Performance dropped in twice after node decomission"
Performance dropped in twice after node decomission
-----------------------------------------------------------------------------------------
Scylla version (or git commit hash): scylla-3.2.rc3-0.20191215.39b17be5620.el7.x86_64
Jenkins job: https://jenkins.scylladb.com/view/scylla-3.2/job/scylla-3.2/view/scylla-3.2-test/job/longevity/job/longevity-multi-keyspaces-60h/2/
test_name: 'longevity_test.

[2019-12-18 12:38] dkropachev commented on #5495
First four annotations you see there are:
`
(ClusterHealthValidatorEvent Severity.CRITICAL): type=error name=NodeSchemaVersion node=longevity-1000-keyspaces-3-2-db-node-71b42f6e-4 error=Validate schema version failed. Error: Encountered a bad command exit code!

Command: 'cqlsh --no-color --request-timeout=120 --connect-timeout=5 -e "select peer, data_center, host_id, rack, release_version, rpc_ad

[2019-12-18 12:43] gleb-cloudius opened #5496 "assert in db::commitlog::segment::batch_cycle when commitlog is in a batch mode"
*Installation details*
Scylla version (or git commit hash): 761b19cee58
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-000a14c5a6a1af173

Run default c-s write test against one node Scylla cluster that is configured to use commit log batch mode and got an assertion:

[code]

[2019-12-18 12:43] gleb-cloudius commented on #5496
@elcallio

[2019-12-18 12:56] dkropachev opened #5497 "exception during mutation write to <node_ip>: std::bad_alloc (std::bad_alloc)"
Scylla version (or git commit hash): scylla-3.2.rc3-0.20191215.39b17be5620.el7.x86_64
Jenkins job: https://jenkins.scylladb.com/view/scylla-3.2/job/scylla-3.2/view/scylla-3.2-test/job/longevity/job/longevity-multi-keyspaces-60h/2/
test_name: 'longevity_test.LongevityTest.test_custom_time'
test_config: 'test-cases/longevity/longevity-multi-keyspaces.yaml'
Cluster size: 10
OS (RHEL/CentOS/Ubuntu/AWS

[2019-12-18 13:17] roydahan commented on #5497
probably a dup of https://github.com/scylladb/scylla/issues/4951

[2019-12-18 14:27] amoskong commented on #5080
I didn't see this issue with 3.2

[2019-12-18 14:30] nyh opened #5498 "Verify on startup that clock epochs match our expectation"
This is a spinoff from https://github.com/scylladb/scylla/pull/5485, based on observations by @kbr-

Comments in `db_clock.hh` say that it assumes that the epoch of this clock, based on `std::chrono::system_clock`, is in the Unix epoch of 1970. However, the existing C++ standard doesn't give this guarantee.

In the same file we have methods `to_time_t` and `from_time_t`, and `to_gc_clock`, which a

[2019-12-18 21:12] #5193 closed

[2019-12-18 21:12] #5475 closed

[2019-12-18 21:12] #5480 closed

[2019-12-18 21:12] #5479 closed

[2019-12-18 21:12] #5340 closed

[2019-12-18 22:44] fruch commented on #4981
seem like we still have similar issue in current run of 3.2:
![image](https://user-images.githubusercontent.com/340979/71129499-41564400-21f8-11ea-8b02-d7e6aa67755f.png)

http://54.246.193.151:3000/d/Z-LW3dfZz/scylla-per-server-metrics-nemesis-3-2?orgId=1&from=1576659760434&to=1576665630020&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All

this is during decommission, the drop is

[2019-12-18 23:00] dorlaor commented on #4981
Worth to realize the root cause - what consumes the cpu? Is it due to
a function of the amount of keyspaces?
Does it happen every time you'll decommission a node in such a setup?

On Wed, Dec 18, 2019 at 2:44 PM Israel Fruchter
<notifications@github.com> wrote:

[2019-12-18 23:12] fruch commented on #4981
Did had a chance yet to drill down further,

But our working assumption is this is connected to the number of keyspaces. since we didn't seen this kind of behavior in other test cases.
And yes, seems like it happened on both decommissions that took place in this run.

[2019-12-19 01:42] asias opened #5500 "Failed to write on a 3.1 and master cluster"
1) Start n1 with Scylla 3.1 version
2) Start n1 with Scylla master version (Scylla version 9c63cd8da5dbe096a3f28bf32b0e4666373afe52)
3) Run scylla-bench -workload sequential -mode write  -nodes 127.0.0.1 -rows-per-request 1  -partition-count 1000   -clustering-row-count 100  -clustering-row-size 100  -keyspace ks  -table t1 -replication-factor 2

On node1, I saw:
[code]
On node2, I saw:
[code]

[2019-12-19 08:17] #5302 closed

[2019-12-19 09:03] ManManson commented on #5477
Fixed by https://github.com/scylladb/scylla/commit/c451f6d82ae3d9b466fa332b419d379382e00b3c.

[2019-12-19 09:03] #5477 closed

[2019-12-19 09:12] bentsi commented on #5495
same performance drop by factor of 10 happens during start->stop Scylla server Nemesis:
![image](https://user-images.githubusercontent.com/5269241/71160467-ab063a80-2258-11ea-937d-f32f665b8ebc.png)

getting stream failed exceptions

[code]

[2019-12-19 09:19] aleksbykov opened #5501 "A lot of Semaphore_timed_out during modify table"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 2019.1.4
Cluster size: 4
OS (RHEL/

[2019-12-19 10:17] aleksbykov opened #5502 "Coredumps during ics-large-partition-4d after softreboot nemesis finished on one of the node"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 2019.1.3-0.20191217.cb307772b
Clus

[2019-12-19 10:29] aleksbykov opened #5503 "Coredump during no_corrupt_repair ics-large-partition-4d job"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
_Scylla version (or git commit hash)_: 2019.1.3-0.20191217.cb307772b
_C

[2019-12-19 10:31] aleksbykov commented on #5502
Records from logs from db node where was coredump found
[code]

[2019-12-19 10:31] aleksbykov commented on #5503
Records from logs from db node where was coredump found
[code]

[2019-12-19 10:34] #5502 closed

[2019-12-19 10:34] roydahan commented on #5502
Issue moved to [scylladb/scylla-enterprise #1179](https://github.com/scylladb/scylla-enterprise/issues/1179) via [**ZenHub**](https://www.zenhub.com/)

[2019-12-19 10:34] roydahan commented on #5502
Issue moved to [scylladb/scylla-enterprise #1180](https://github.com/scylladb/scylla-enterprise/issues/1180) via [**ZenHub**](https://www.zenhub.com/)

[2019-12-19 10:35] roydahan commented on #5502
Issue moved to [scylladb/scylla-enterprise #1181](https://github.com/scylladb/scylla-enterprise/issues/1181) via [**ZenHub**](https://www.zenhub.com/)

[2019-12-19 10:35] roydahan commented on #5502
wrong repo

[2019-12-19 11:04] jul-stas commented on #4505
@creker @wigginus @r4fek I'm on it.
I tried all night to reproduce it on a local 4-node cluster. Kept adding and removing nodes while running a script similar to the gist. Sadly, no overflows.
I need **any** info that'll help reproducing the error.

[2019-12-19 11:51] slivne commented on #5492
not a bug the node was  requested to stop

[2019-12-19 11:51] #5492 closed

[2019-12-19 11:52] slivne commented on #5495
Is this a regression ?

[2019-12-19 11:54] slivne commented on #5497
so is this the same scenario as in #4951 ?

[2019-12-19 12:02] ultrabug opened #5504 "configure.py does not check for rapidjson dependency"
Scylla version 3.2.x

It looks like alternator added a new dependency which configure.py does not check for before hand.

This leads to the following error during compilation.

[code]

Could we have a dep check done please?

Cheers

[2019-12-19 12:10] fgelcer commented on #5492
it is either a bug on SCT (command to shutdown was sent while repair are running) or on the manager, as is possible that a previous repair was still running (from previous tests) but it reported "done".

i'm working to figure out where the issue is, and will report a bug to the manager, or fix it on SCT.

[2019-12-19 12:18] avikivity commented on #5504
It should be added to install-dependencies.sh.

[2019-12-19 12:20] gleb-cloudius commented on #5496
I do not understand why there is an expectation that assert cannot trigger. If there are two fibers that try to cycle the same both of them will wait on the same shared_future in flush_queue, but there is no ordering guaranty for what continuation will run first. If a continuation that does flush runs first assert will not trigger otherwise it will.

[2019-12-19 12:23] ultrabug commented on #5504
I think it's there already @avikivity

But since I saw that dependencies are checked on configure phase I supposed this one should be added too somewhere?

[2019-12-19 12:24] haaawk commented on #2859
@gleb-cloudius Could we transfer this to @jul-stas ?

[2019-12-19 12:36] roydahan commented on #5497
Yes

[2019-12-19 13:38] avikivity commented on #5504
It doesn't hurt to add a check.

[2019-12-19 13:50] slivne commented on #2859
moved :)

[2019-12-19 13:54] eliransin commented on #5383
@wuzm2k05  i am closing the issue since it is not a bug.
If you have any more questions about this, you are welcome to comment
or reopen the issue.

[2019-12-19 13:54] #5383 closed

[2019-12-19 14:44] nyh commented on #5504
Of course it wouldn't hurt to add a check, but why is this specific to rapidjson? As far as I can tell, configure.py does not - as is currently written - check for Scylla's dependencies. It doesn't check if you have zlib, cryptopp, snappy, or literally **dozens** of other Scylla dependencies - so why add only a rapidjson check to it?

Pending the cmake rewrite, we've been holding out on any improv

[2019-12-19 14:58] ultrabug commented on #5504
@nyh @avikivity

configure.py does indeed not check for everything (boost yes tho) and I agree with you @nyh that a more global approach could be interesting

but when a newbie user like me runs configure.py they see logs like this:

[code]

These are the ones I was trying to refer to and got mislead by the fact that I saw boost checks on configure.py too

[2019-12-19 15:31] nyh commented on #5504
The Boost checks in configure.py is four years old. Two years ago, I sent a patch for configure.py adding a "clean" target and the patch was rejected by @avikivity saying "Since we plan to retire this current build system in favor of cmake, this target has no long-term benfit." . Before doing any improvements to configure.py like you suggest, we should decide if this is still the case.

[2019-12-19 15:52] ultrabug commented on #5504
@nyh As I said; this is not what I suggest, this is what my newbie eyes saw.

**What I suggest is that a check is added somewhere**, so if that's in an obscure-to-me cmake file then so be it :)

Sure, that is up to you guys

[2019-12-19 16:52] bhalevy opened #5505 "super long path for the dynamic linker should apply also to iotune"
8d777b3ad5a23953fa23988ab0b92ca056d4f9ba adds a long prefix of `/`s to the dynamic linker path so that we can run patchelf on the binary later in in `install.sh` to set the interpreter to some path known at install time.

 237ba747436370eb0e8a04556846845897dd3de1 added a test in `install.sh` that verifies patchelf's result on the `scylla` and `iotune` binaries.

However, as seen in https://jenkins

[2019-12-19 16:58] bhalevy commented on #5505
On Thu, 2019-12-19 at 08:40 -0800, @espindola wrote:

Cc @fruch

[2019-12-19 17:18] bhalevy commented on #5354
Still seeing this. Most recently in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1414/testReport/hintedhandoff_additional_test/TestHintedHandoff/hintedhandoff_removenode_test/

[2019-12-19 17:18] bhalevy commented on #5319
Duplicate of #5354

[2019-12-19 17:18] #5319 closed

[2019-12-19 17:22] vladzcloudius commented on #5354
@bhalevy This is caused by a bug in a corresponding dtest (see [here](https://github.com/scylladb/scylla-dtest/blob/next/hintedhandoff_additional_test.py#L134)) where a "min" is used instead of "max".

[2019-12-19 17:29] bhalevy commented on #5495
Also, any other factor that could be related, like number of keyspaces?

[2019-12-19 17:41] bhalevy commented on #5228
@slivne still, I think it's a good idea to backport this fix to 3.2 and maybe to even 3.1 even though it's not a regression since it may cause unpredictable behavior during shutdown (crashes, hangs, etc.).

[2019-12-19 17:45] bhalevy commented on #5245
Fixed by 1164ff5329fbf81b0c2118b64e9ced3286d09fc3

[2019-12-19 17:45] #5245 closed

[2019-12-19 17:58] bhalevy commented on #4176
@slivne I doubt doing this fix for 3.2 is realistic.
Please consider targeting for 3.3 and possibly backporting if the fix will turn out to present low enough risk.

[2019-12-19 18:01] bhalevy commented on #2511
@syuu1228 ping.  This issue has been opened for a long time with no material progress,
yet it is labeled as high priority and targeted for 3.2.

@slivne please revise the milestone and priority.

[2019-12-19 18:42] bentsi opened #5506 "Failed to apply mutation - bad alloc and crash with coredump during bootstrap"
*Installation details*

Scylla version (or git commit hash): `3.2.rc3-0.20191215.39b17be5620`
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0cab4c6eceb3249ac [eu-west-1]
Test case: [longevity-multi-keyspaces.yaml](https://github.com/scylladb/scylla-cluster-tests/blob/branch-3.2/test-cases/longevity/longevity-multi-keyspaces.yaml)
SCT test id: 71b42f6e-23a5-4359-8ee2-7979311abc5b
DB log: [ip

[2019-12-19 18:59] bentsi commented on #5506
after a couple of hours
[code]
another coredump and performance drop
![image](https://user-images.githubusercontent.com/5269241/71201209-9bafdd00-22aa-11ea-97c5-af275b2187db.png)

[code]
Download instructions
[code]

[2019-12-19 19:08] bentsi commented on #5506
the issue happened again when another decommission and add node took place. Coredumps:
[code]

[2019-12-19 19:38] bentsi commented on #5495
@slivne according to our records the test passed on 3.1, so this is a regression
@bhalevy The test creates 1000 keyspaces

[2019-12-19 19:59] espindola commented on #5505
As explained, this has *nothing* to do with iotune and the description
in the revert message is wrong. What is actually happening is:

   That log has

   [2019-12-19T08:27:43.350Z] Getting artifact scylla/build/debug/scylla-package.tar.gz
   [2019-12-19T08:27:43.409Z] [Pipeline] step
   [2019-12-19T08:28:09.831Z] Copied 1 artifact from "scylla-master » next" build number 1417

   And the next bui

[2019-12-19 20:01] espindola commented on #5245
This is not actually fixed until the bots start using it.

Benny Halevy <notifications@github.com> writes:

[2019-12-19 22:05] heipei commented on #830
Hey, just came here to say that this would be a really neat feature to have. Recently discovered that ElasticSearch can utilise multiple data-directories and I was hoping ScyllaDB might too.

[2019-12-19 22:19] dorlaor commented on #830
@heipei Jbod has benefits but also drawbacks, check my comment from Nov 2016 above. Especially for a fast database like Scylla, we like to make sure we fully utilize all drives in parallel and thus raid is better. Scylla also controls the priority of every type of action (compaction, read, write, streaming, workload prioritization) and having many separate directories makes the execution more cons

[2019-12-20 06:37] syuu1228 commented on #2511
@bhalevy Okay I'll handle this very soon.

[2019-12-20 08:02] syuu1228 commented on #2511
patch sent on the ml: [PATCH scylla] dist/common/scripts/scylla_setup: add swap existance check

[2019-12-20 10:18] syuu1228 opened #5507 "nonroot: install.sh --nonroot fails with ' No such file or directory'"
We should skip install limits.d file when it's nonroot.
[code]

[2019-12-20 11:36] syuu1228 opened #5508 "relocatable package may mistakenly contains dist/ami/files/*.rpm"
Since we currently archive dist/*, it mistakenly contain dist/ami/files/*.rpm.
It is almost 800MB and we never use them, need to skip.

[2019-12-20 11:54] bhalevy commented on #5354
Good catch! sending a fix...

[2019-12-20 11:57] #5426 closed

[2019-12-20 12:23] bhalevy commented on #5506
I'm not sure what causes the bad_alloc but the collateral issue of tripping the assert in `~append_challenged_posix_file_impl` seems to be caused by not closing the writer output stream in case write() throws an exception (likely due to bad_alloc).

[2019-12-20 15:37] kostja commented on #4421
I think a viable workaround is to rebuild scylla-tools-java with the new java version (1.11).

[2019-12-21 14:34] fastio commented on #5364
@avikivity Thanks for your advice.

[2019-12-21 15:37] #5507 closed

[2019-12-22 09:05] yarongilor commented on #4924
Reproduced in ICS 1TB longevity
(https://jenkins.scylladb.com/view/enterprise-2019.1/job/enterprise-2019.1/job/SCT_Enterprise_Feature/job/ICS/job/ics-longevity-1tb-7days-test/1/execution/node/43/log/?consoleFull)
[code]
[code]

[2019-12-22 10:41] slivne commented on #5468
@amnonh please extract the backtrace so we can see if the large allocation is due to the api or something else.

[2019-12-22 12:31] bhalevy opened #5510 "init - Failed owner and mode verification: std::runtime_error (Failed to get .../view_hints/0/.o_direct_test type.)"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/349/testReport/compaction_test/TestCompaction_with_LeveledCompactionStrategy/sstable_deletion_test/
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/349/testReport/paging_additional_test/TestLargePaging/test_large_page_range_queries/
[code]

https://jenkins.scylladb.com/view/master/

[2019-12-22 12:34] bhalevy commented on #5510
I suspect that due to changes in parallelism introduced in 00ae4af94c73e11568aed026af8f830cdf1756ce
`distributed_loader::verify_owner_and_mode` which is recursive sees the `.o_direct_test` files created and removed by `disk_sanity` in parallel, on sub-directories.

`verify_owner_and_mode` should be run only on the root dir of any unique path.

[2019-12-22 12:56] bhalevy commented on #5510
Maybe it's the change in 373fcfdb3e519263902f9e355d514bd834da1e1b from `std::unordered_set` to `std::vector`.
In any case, we can either not run `verify_owner_and_mode` on the per-shard direcotries, only on the base directory of `cfg.hints_directory()` and `cfg.view_hints_directory()`, or we can serialize `touch_and_lock(path).then( return disk_sanity(path); }` on all dirs (in parallel) with `veri

[2019-12-22 13:12] bhalevy opened #5511 "use-after-free in table::move_sstables_from_staging"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/354/artifact/logs-release.2/1576995248737_read_amplification_test.ReadAmplificationTest.no_read_amplification_on_repair_with_mv_test/
and https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/354/artifact/logs-release.2/1577003499677_materialized_views_test.TestMaterializedViews.mv_populatin

[2019-12-22 13:15] #2511 closed

[2019-12-22 13:15] #5490 closed

[2019-12-23 05:50] bhalevy commented on #1954
The error is expected during shutdown, as @asias said. What is the issue (re)opened about then?

[2019-12-23 07:24] kayvannm commented on #4141
when you set network mode to host, scylla docker's entrypoint will look for network interfaces to set the listen address, but when it will reach too many options to set as listen address, so for running container with network mode host, just add listen address argument to cmd.

docker run --name scylla -it --network host scylladb/scylla --listen-address $HOST_IP

[2019-12-23 08:47] roydahan commented on #5179
It seems like there is a bug with cloud-init (https://bugs.launchpad.net/cloud-init/+bug/1808647) that was resolved very recently (not released in CentOs yet).

[2019-12-23 09:16] roydahan commented on #5495
I'm not 100% sure it's a regression as I remember seeing something similar in the past.

[2019-12-23 10:24] amoskong commented on #5288
New job is running: https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/rolling-upgrade-centos7-test/5/

Used repo: http://scratch.scylladb.com/amos/yum_repos/master/piotrj_issue5288_v3/scylla.repo
Version: scylla-666.development-0.20191222.bd00c13b2.el7.x86_64.rpm
commit idx: bd00c13b2
branch: https://github.com/scylladb/seastar-dev/commits/haaawk/5288

[2019-12-23 10:39] gleb-cloudius commented on #5496
This patch makes it trigger very quickly:

[code]

[2019-12-23 11:34] fgelcer opened #5513 "ModifyTablePropertiesCompression caused many stalls with more than 2 seconds on longevity-large-partition-4days-test"
*Installation details*
Scylla version (or git commit hash): 3.2.rc3-0.20191215.39b17be5620
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0cab4c6eceb3249ac

command that triggered the stalls:
[code]
stalls list (all happened within the same minute, seconds after the ModicyTablePropertiesCompression nemesis started):
[code]

nemesis took 15 seconds:
[code]

the 1st stall backtrace with more t