[2022-05-09 12:30] nyh commented on #10525
Is this the same as issue #9812? And/or #10257?

[2022-05-09 12:32] fgelcer commented on #10525
could be, but @slivne asked to split into a new issue [here](https://github.com/scylladb/scylla/issues/10257#issuecomment-1120977264)

[2022-05-09 12:34] fgelcer commented on #10525
for reference, [this job](https://jenkins.scylladb.com/job/scylla-4.5/job/longevity/job/longevity-alternator-3h-test/81), running with `4.5.5` (`ami-0276e2bbc13093d95` on eu-north-1) passed without similar issue.
also, there are previous 4.5 builds that passed...

[2022-05-09 12:53] amnonh commented on #10520
It's not my call, but please practice care when you break API definitions, especially when there's zero gain as it's not user-facing.

[2022-05-09 13:03] nyh commented on #10520
What do you mean by "break API definitions" - does deleting an API that **never** did anything considered "breaking" it? Or are you advocating against something else?

[2022-05-09 13:22] bhalevy opened #10526 "snapshot-ctl: take_column_family_snapshot makes assumptions about the table name"
https://github.com/scylladb/scylla/blob/9623589c773d85eb27243f76b67c745f5b891dbb/db/snapshot-ctl.cc#L96-L98

throws an error if the table has a dot in its name.

@nyh:

[2022-05-09 13:49] yarongilor commented on #10516
@roydahan , no suspicious error found on any log. perhaps we need some Dev guidance to enable more debugging / tracing and run a reproducer with it (so we might see how the scylla mechanizms related to deletions are working).

The only helpful info i see is that it is a 5 minutes reproduction duration.

[2022-05-09 13:54] bhalevy commented on #10522
Good idea.
It can return the tag in the response in any case.  We just need to make sure the scylla-jmx doesn't break.

[2022-05-09 14:39] #10281 closed

[2022-05-09 14:39] #10423 closed

[2022-05-09 14:39] #10487 closed

[2022-05-09 14:57] rayakurl commented on #10447
@slivne - looking at Argus- seems like this issue was initially found on a run from 23.04. Prior to that (16.04), the same test failed due to a different issue (https://github.com/scylladb/scylla/issues/10398)

[2022-05-09 15:34] ShlomiBalalis commented on #10447
It's a bit hard to pinpoint exactly where the erorrs have started, since the logs we collect are only accurate to the second. The messages are appearing in the first two seconds that the draining process has started in, and not a second after:
From node 3, the drained node:
[code]
From node 2, who raised this error:
[code]

[2022-05-09 15:39] nyh opened #10527 "failed boost test: commitlog_test :: test_commitlog_deadlock_with_flush_threshold"
In https://jenkins.scylladb.com/job/scylla-5.0/job/next/67//consoleText, the boost test `commitlog_test` :: `test_commitlog_deadlock_with_flush_threshold` failed in just one of the debug-build runs. The failure appears to be a **timeout** (see the test log below).

The strange thing is that this test, although it is written to reproduce a deadlock, actually has an internal timeout and is supposed

[2022-05-09 15:39] roydahan commented on #10516
Don't we have reactor stalls or timeouts during this period?
We need to understand if it's scylla issue or s-b issue.
What do you see in the loader logs?

If nothing helpful, let's try to have a minimal reproducer.

[2022-05-09 16:06] nyh commented on #10527
Unfortunately, these log timestamps are useless - the boost test itself doesn't print them, and then test.py or jenkins adds them when it copies the log to the standard output - so all of them show the same number.

I just copied and pasted from https://jenkins.scylladb.com/job/scylla-5.0/job/next/67//consoleText, I didn't reproduce it myself.
If I understand correctly, that's how test.py always w

[2022-05-09 18:10] syuu1228 commented on #10483
I guess it occurs on previous versions too, but never realized because we have executed scylla-housekeeping without `check=True`:
https://github.com/scylladb/scylla/commit/48b6aec16a76f8cd60babf97cede99e7c0e50db1#diff-50a6af38badc886bac68b8724c68cab0a3de945c91331d22da73be9428b67b45L374
After https://github.com/scylladb/scylla/commit/48b6aec16a76f8cd60babf97cede99e7c0e50db1 we changed the code to t

[2022-05-09 20:11] bhalevy opened #10528 "heap use-after-free when destroying shared repair writer"
seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/10/artifact/logs-full.debug.001/1652111820147_bootstrap_test.py%3A%3ATestBootstrap%3A%3Atest_manual_bootstrap/node2.log
[code]

[2022-05-09 20:12] bhalevy commented on #10528
Decode
[code]

[2022-05-09 20:19] bhalevy commented on #10528
[code]

[2022-05-09 20:20] bhalevy commented on #10528
@mikolajsieluzycki please look into this

[2022-05-09 20:25] nyh commented on #5064
Amazon's FAST '19 presentation by Doug Terry on how DynamoDB transactions were implemented: https://www.usenix.org/conference/fast19/presentation/terry
A nice summary of their approach and why it is simpler than other possible approaches: https://www.mydistributed.systems/2021/12/dynamodb.html

[2022-05-10 02:35] raphaelsc commented on #10027
branch 4.6 isn't vulnerable. problem was introduced with the advent of compacting reader and coroutines in flush

[2022-05-10 02:39] raphaelsc commented on #10383
yes, 2022.1.rc3 is affected. we'll have to wait for next RC version.

[2022-05-10 03:53] asias commented on #10462
I chatted with @raphaelsc , we both think adding another intermediate set is adding too much complexity.   Raphael proposed to compact directly inside the  _maintenance_sstables set if the number of files exceeds a threshold.

In the mean while, I am working on changing repair internally to allow repair table by table so we can trigger off strategy and compact early.

[2022-05-10 04:25] bhalevy commented on #10462
This is possible, but we may want to use STCS buckets algorithm there to reduce write amplification.

great

[2022-05-10 05:29] bhalevy commented on #10528
Seen also in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/11/artifact/logs-full.debug.000/1652126691389_ttl_test.py%3A%3ATestDistributedTTL%3A%3Atest_ttl_is_respected_on_repair/node2.log

[2022-05-10 05:40] bhalevy commented on #10527
https://jenkins.scylladb.com/job/scylla-5.0/job/next/67/artifact/testlog/x86_64_debug/commitlog_test.test_commitlog_deadlock_with_flush_threshold.1904.log
is the individual test log.
But it doesn't seem to add much information...

[2022-05-10 06:31] fruch commented on #10483
My guess we don't have scylla user in this case..., Why not plain sudo ? or why do we need sudo here in the first place ?

[2022-05-10 07:13] fgelcer opened #10530 "[ubuntu20] Rolling upgrade - with mixed cluster we have no access to any node, for few times until test times out"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): from `4.5.5-0.20220328.c789a1819 wi

[2022-05-10 07:23] nyh commented on #10263
Personally, I'm not yet comfortable enough with the new CI workflow and its (lack of) speed for making it **mandatory** for merging a PR. As an extreme example, if someone sent a documentation-only patch, why should it be necessary to wait many hours for the testing to complete? Also, I sometimes use pull_github_pr to test out the branch myself. I may want to do that even if the CI tests haven't c

[2022-05-10 07:45] tzach commented on #8583
Adding Doc label as this feature impact docs

[2022-05-10 08:11] xemul commented on #10257
@slivne , it's in seastar (scylladb/seastar@a8eb57cc71b6640290df93c887e9364d199937e5). Updating scylla with it in progress.

[2022-05-10 08:15] xemul commented on #10372
@slivne , just FYI, I've a strong opinion that seastar model is not able to reach HW limit (https://www.scylladb.com/2022/04/19/exploring-phantom-jams-in-your-data-flow/). But to extra prove it we need more work around metrics.

[2022-05-10 08:17] xemul commented on #10284
@bhalevy , QUEUED. Should I raise the priority?

[2022-05-10 09:13] bhalevy commented on #10284
No, that's fine. I just wasn't sure if it got addressed already or not.

[2022-05-10 09:45] fgelcer commented on #10530
there is a live monitor (it will live for 48h from now) [here](http://44.204.93.242:3000/d/c71ltw_nk/rolling-upgrade-ubuntu20-04-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1650919265882&to=1650929816282):

[2022-05-10 11:15] #10500 closed

[2022-05-10 11:15] #10526 closed

[2022-05-10 11:44] soyacz opened #10532 "Add coredump metric to Scylla"
Monitoring of coredumps is crucial part of testing Scylla. QA's developed own ways of monitoring core dumps occurrences (based on ssh commands invocation).
Knowledge about coredumps could be also beneficial for the cloud team and our customers as part of monitoring system.

Idea is to expose coredump metrics by Scylla (or node_exporter) and use them in monitoring on some dashboard.

@avikivity @sl

[2022-05-10 12:05] psarna commented on #10487
backported to 4.6, 5.0

[2022-05-10 12:07] avikivity commented on #10487
@psarna why not 4.5?

[2022-05-10 12:08] psarna commented on #10487
wasn't sure if 5.0 is out or not, and I wanted to stick to 2 latest releases. It's trivial, so I'll push to 4.5 in a minute

[2022-05-10 12:10] psarna commented on #10487
done

[2022-05-10 12:20] avikivity commented on #10392
Yes.

![image](https://user-images.githubusercontent.com/1017210/167626770-30b8c4fa-9272-4b57-a78c-faedd00f68fe.png)

[2022-05-10 12:22] avikivity commented on #10392
Though I see huge delays on all nodes:

![image](https://user-images.githubusercontent.com/1017210/167627085-abc425c2-6359-4009-b313-7aeccdf0df05.png)

[2022-05-10 13:28] yarongilor commented on #10516
No reactor stalls found.
There's something in the loaders logs where all of them have about ~ 700 errors of `too many inflight hinst`:
[code]

[2022-05-10 14:02] avikivity commented on #10314
Not a regression, not backporting.

[2022-05-10 15:21] yarongilor opened #10534 "scylla-bench fails with: "Too many in flight hints" during remove-then-add-node nemesis"
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run:
- longevity-large-partitions-200k-pks-db-node-d8fcc7b7-9 (13.49.64.218 | 10.0.1.134) (shards: 12)
- longevity-large-partitions-200k-pks-db-node-d8fcc

[2022-05-10 15:29] rayakurl commented on #10322
@avelanarius , @Lorak-mmk  - any progress with this issue? It's a high frequency one

[2022-05-10 16:28] avikivity commented on #10530
Why are you keeping machines alive for 48h?

[2022-05-10 18:13] enedil opened #10535 "marshaling error: read_simple_exactly - size mismatch, when filtering on map subscript"
Issue is on (almost) master and on 4.4.4. Does not appear always, but fairly often (once in every 1.5 runs say). The issue doesn't appear when I build scylla in debug mode (I hoped to use sanitizers), and Scylla thinks it has a managed_bytes instance with an unbelievably big size 1610612880 = 0x60000090. Looks like UB. Decoded backtrace attached: [bt.txt](https://github.com/scylladb/scylla/files/8

[2022-05-10 19:22] avelanarius commented on #10535
Sorry for asking this, but does "almost master" include those fixes: https://github.com/scylladb/scylla/pull/10420? That PR aimed to fix this scenario (including a case with the same type of error message: https://github.com/scylladb/scylla/issues/10399#issuecomment-1105184350)

[2022-05-10 19:49] fgelcer commented on #10530
it is a monitor instance (it will cost around 4 dollars for the entire period) and it will avoid many people creating many monitor stacks, while we are trying to understand where this failure is coming from.

[2022-05-10 20:15] nyh commented on #10535
Please note that what I fixed in #10420 wasn't just "weird" queries with null subscripts, it also happened when the map itself had a null value but the query was perfectly valid. In your case, you don't have a "null" value for the map, but you have an **empty map** which, if I remember correctly (but please correct me if I'm wrong!!) is nothing more than a null value.

So if I'm not mistaken, the

[2022-05-10 21:53] jmaixl opened #10536 "Removing/decommissioning nodes spikes remaining nodes' CPU, even without traffic"
*Installation details*
Scylla version (or git commit hash): First found on v4.6.2, reproduced on 4.6.3-0.20220414.8bf149fdd
Cluster size: First found on cluster of 15, reproduced on cluster of 12, 9, 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS Linux release 7.9.2009 (Core)

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): First found on AWS `c5ad.12xlarg

[2022-05-11 02:06] syuu1228 commented on #10483
Looks like it is related root user's entry of /etc/shadow, the error disappear when we set root password.

But I found that we don't have to use "sudo -u" to switch user to scylla, subprocess module actually supports switching user/group since Python 3.9:
https://docs.python.org/3/library/subprocess.html#popen-constructor
All we need is just pass user / group parameters to subprocess.run(), and I

[2022-05-11 06:02] rayakurl commented on #10475
Seems similar to https://github.com/scylladb/scylla/issues/10455

[2022-05-11 06:32] slivne commented on #9505
@xemul ping

[2022-05-11 06:44] slivne commented on #9505
Asias please try todo a run with disabling hugepages and see if that reproduces

[2022-05-11 06:46] slivne commented on #9505
@avikivity will try to use the tracepoints that exist around huge page allocation and see if there is an allocation how long that takes

[2022-05-11 07:19] avikivity commented on #9505
No tracepoints exist, but we can try `perf probe` to trace specific functions.

[2022-05-11 07:41] bhalevy commented on #10159
I discussed that @cmm.
Since the reclaim timer now uses wall-clock timing rather than relying on the reactor stall detector (as it used to in draft versions), the fact the the (preemptable) background reclaim too a long time is not very interesting, so we can demote these reports (info -> debug, warning -> info).

[2022-05-11 07:44] bhalevy commented on #10159
@fgelcer for the problematic reports it would be helpful to collect them in the QA perf regression reports.

@cmm is improving the reports to show better resolution and also to print a backtrace, based on https://github.com/bhalevy/scylla/commits/logalloc-reclaim-stall-report, so let's coordinate our work so we won't break the report format by mistake.

[2022-05-11 07:51] asias commented on #9505
@avikivity can you please confirm:

Adding "transparent_hugepage=never" to GRUB_CMDLINE_LINUX + reboot is good enough.

Anything else to set?

[2022-05-11 07:59] cmm commented on #10159
ackchually!  the "is_preemptible" thing looks like is a red herring, I'm afraid.  it's just a way for the caller to nicely ask the callee (which is not a coroutine) to "yield" (i.e. return) after doing some minimal amount of work.  since `reclaim_timer` instances are lexically-scoped in synchronous code, a warning in the supposedly-preemptible case means that preemption failed to happen in reasona

[2022-05-11 08:04] avikivity commented on #9505
Probably it's enough. I was thinking of commenting out the madvise calls in memory.cc

[2022-05-11 08:37] bhalevy commented on #10159
Cc @avikivity

[2022-05-11 09:04] fgelcer commented on #10159
@bhalevy , please help me understand what is problematic here, as I still don't understand...
do you want to add these `lsa-timing` messages to the report? or you are talking about some trace?

in any case, we are in our way to improve (and reduce) the reports, as we are having many cases where, report became too big to be sent by email.

[2022-05-11 09:51] avikivity commented on #10159
I don't understand these logs. The stall is always 8000 usec? Suspicious. Are there logs around it?

30 reserved segments look like too much. But it shouldn't have mattered during preemptible reclaim.

Maybe it's #8828 in another guise.

[2022-05-11 09:56] avikivity commented on #10535
backtrace:

[code]

[2022-05-11 09:57] avikivity commented on #10535
/cc @cvybhu

[2022-05-11 09:58] avikivity commented on #10462
Did you mean 'each table'?

[2022-05-11 10:08] bhalevy commented on #10462
Yes, fixed.  thanks for spotting

[2022-05-11 10:17] nyh commented on #10535
@avikivity which version is this from? If it doesn't include https://github.com/scylladb/scylla/pull/10420 and (I believe - see my explanation above) it's the same bug, we don't need to debug it again...

[2022-05-11 10:20] ShlomiBalalis commented on #10469
The same exact failure occurred in the upgrade test of centos 7 (scylla master):
## Installation details

Kernel Version: 3.10.0-1160.59.1.el7.x86_64
Scylla version (or git commit hash): `5.0.rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-centos-db-node-0289f10b-0-4 (34.7

[2022-05-11 10:24] ShlomiBalalis commented on #10469
And the same exact error appeared in the upgrade test of centos 8:
## Installation details

Kernel Version: 4.18.0-373.el8.x86_64
Scylla version (or git commit hash): `5.0.rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-centos-8-db-node-1594d6cf-0-4 (34.74.7.254 | 10.142.0

[2022-05-11 10:26] avikivity commented on #10462
Ok, so it looks reasonable.

There's still the option that repair creates sstables faster then offstrategy cleans them. We can make non-system sstables_manager wait on sstable creation if the number of active sstables is too high.

[2022-05-11 10:27] avikivity commented on #10535
It's from the cover letter, so (almost) master.

[2022-05-11 10:30] nyh commented on #10535
I don't know what is "almost master". My fix for what I believe is exactly the same bug (subscript of a map column with a null value) went in 16 days ago. The question is whether anyone tested with a master newer than that - before we start debugging a bug I already debugged and fixed.

[2022-05-11 10:32] slivne commented on #10485
@bhalevy is this a change you did to actually wait for the compactions to end - do we abort them or wait for them to settle down

30 minutes for abort seems long

[2022-05-11 10:38] avikivity commented on #9505
I see this:

[code]

But after a while the 25ms bucket stops increasing.

[2022-05-11 10:41] noellymedina opened #10542 "scylla_setup not generating 'shortcut' correctly"
Scylla version (or git commit hash): 2021.1.10-0.20220410.e8e681dee
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 20.04

When finishing scylla_setup script, it was supposed to suggest a command line to run on the other nodes in order to avoid the Q&A steps.

[code]
But as you can see, command line above it's not being generated correctly, it seems trimmed missing arguments.
Hence there is no way to use

[2022-05-11 10:53] ShlomiBalalis opened #10543 "Nodetool Compaction failed after node upgrade: `Failed to read partition from SSTable`...`failed checksum`"
## Installation details

Kernel Version: 5.4.0-1072-gcp
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-ubuntu-bioni-db-node-f902041d-0-4 (34.138.71.58 | 10.142.0.140) (shards: 8)
- rolling-upgrade-master-ubuntu-bioni-db-node-f9020

[2022-05-11 10:54] avikivity commented on #9505
I don't understand this code:

[code]

It's yielding every 1M iterations, but it's not measuring the loop between yields, it's measuring it for each iteration. So if 1M iterations caused a stall, we wouldn't see it.

[2022-05-11 10:54] avikivity commented on #9505
Oh, it's yielding every iteration, the indentation is confusing.

[2022-05-11 10:58] roydahan commented on #10534
Probably a dup of #10429.
To be retested when it's being closed.

[2022-05-11 11:00] slivne commented on #10496
![Screenshot from 2022-05-11 13-57-14](https://user-images.githubusercontent.com/3465480/167833983-6cccec5a-96b7-40c1-91c2-7d600ef831c3.png)

Prior to reshape node was at ~60% - so we had 40% left.

In resharding we may need to rewrite all the data,

@bhalevy / @raphaelsc how does is resharding work - do we delete tables after they have been read and resharded or do we wait till the end and only t

[2022-05-11 11:00] slivne commented on #10496
@roydahan is this a regression in your view

[2022-05-11 11:03] eliransin commented on #10146
Some more attempts to modify the code (following some observations from the logs) didn't "fix" the problem:
1. return ready future if the compaction is already disabled.
2. Do not run the disable ongoing compactions on user table but only on system table.
Both those changes were tested incrementally and the performance hit remains.

I consulted with @bhalevy and the above didn't give any of us a c

[2022-05-11 11:37] slivne commented on #10485
30 minutes to wait for compaction to end also seems very long - something may not be working correctly

[2022-05-11 11:48] asias commented on #9505
So at least you can reproduce the 25ms latency.

Did you see streaming class (with more shares) send more message than the gossip group?

https://github.com/scylladb/scylla/issues/9505#issuecomment-1071908968
[code]

[2022-05-11 11:49] asias commented on #9505
Yes, I played with multiple iterations per yield. I left the test code there.

[2022-05-11 12:04] asias commented on #9505
With hugepage disabled:

[code]

I did not see a difference.

[code]

[2022-05-11 12:24] roydahan commented on #10530
The issue isn't relevant only to ubuntu20, it happened on all distros (occasionally).

[2022-05-11 12:30] eliransin commented on #10146
@roydahan I found several "too many in flight hints" in the run with this commit:
[code]

I found none in the run without it.
I checked the jenkins jobs refered from: https://github.com/scylladb/scylla/issues/10146#issuecomment-1120894546

[2022-05-11 12:37] slivne commented on #10405
@juliayakovlev / @roydahan - we need to change the tests and preferably use cassandra/cassandra user, the issue is that there is a hidden quorum read when using cassandra/cassandra and its related to the fact that this is the default super user of the system - so we do not do system_auth CL=LOCAL_ONE queries and do CL=QUORUM queries from auth

- I am not sure if you modify the system_auth RF or no

[2022-05-11 12:40] bhalevy commented on #10485
@aleksbykov

`nodetool stop COMPACTION` will stop compaction on all keyspaces and tables.

Don't you want to stop compaction only on `keyspace1.standard1`?

[2022-05-11 12:57] slivne commented on #10405
One thing that may have changes id is we started to use a shard aware driver in the testing that we haven't before.

A shard aware driver will open more connections - the handling of the connections requires additional internal queries.

I think someone mentioned that we moved to shard aware drivers

We can try and verify this by looking at the CQL connections tables and looking at the counter tha

[2022-05-11 12:59] psarna opened #10545 "Consider allowing global materialized views and indexes to be synchronous"
Right now, global view updates are sent asynchronously in order to preserve availability, which makes perfect sense, because a single base update may need to update different views and partitions on different nodes, so we may end up needing all nodes to be up in order to succeed.

However, perhaps we should allow global views (and thus also indexes) to enter "synchronous mode". In this mode, all v

[2022-05-11 13:39] roydahan commented on #10530
Few insights I collected so far:

Few insights I have till now on 10530:
1. It started happening on master "Tue, Jun 8, 2021, 6:33 PM" with 4.5.rc2.
2. The code for that connection exist there year before that.
3. It stopped happening on master on "Fri, Nov 26, 2021, 12:12 PM" (last time I see it in emails of runs) with ScyllaDB version: 4.5.1-0.20211024.4c0eac049.
4. No one really investigated it

[2022-05-11 13:43] #10535 closed

[2022-05-11 13:59] nyh commented on #10535
Thanks @enedil.

One unfortunate consequence of this is that although my patch fixed new expression code which was only a few months old, it now appears that the same bug also existed on 4.4 - it is possible that the new code was copied/based-on old code which was also broken. So if we'll want to fix this bug in older releases, this will be more than a "backport" - we will need to more-or-less wri

[2022-05-11 14:01] roydahan commented on #10146
Sounds like great news!

[2022-05-11 14:02] yarongilor commented on #10516
@roydahan , is #10146 reproduced in 4.6 as well?

[2022-05-11 14:22] bhalevy commented on #10496
From https://github.com/scylladb/scylla/blob/6b34ba3a4fff4f0fc0ce9b88166d2482db2dc076/replica/distributed_loader.cc#L204-L206

and https://github.com/scylladb/scylla/blob/6b34ba3a4fff4f0fc0ce9b88166d2482db2dc076/sstables/sstable_directory.cc#L405-L417

I understand that each resharding compaction job runs on a maximum of `max_threshold` (32) sstables and will delete them when finished. BUT, we run

[2022-05-11 14:31] slivne commented on #10405
So I had a look
![Screenshot from 2022-05-11 17-28-01](https://user-images.githubusercontent.com/3465480/167874343-23fcafa9-d344-4cbd-b207-cff6df5f85fb.png)

This is from the run that Valerii did - we have 77 open connections while the total connections opened is 1350.

I am not sure this really means anything

[2022-05-11 14:32] slivne commented on #10405
The failure that valerii had was during truncate

[2022-05-11 14:39] fgelcer commented on #10516
based on this comment https://github.com/scylladb/scylla/issues/10146#issuecomment-1064283541 no

[2022-05-11 14:50] bhalevy commented on #10496
Hmm https://github.com/scylladb/scylla/blob/6b34ba3a4fff4f0fc0ce9b88166d2482db2dc076/compaction/compaction_manager.cc#L265

[2022-05-11 14:51] bhalevy commented on #10496
Maybe there's a shared ptr leak so the files are still opened and the storage is not released.

[2022-05-11 15:19] nyh commented on #10545
Thanks for opening this issue. We had exactly this discussion six years ago, when we decided to translate the Materialized Views code from Cassandra. The consensus then was that we can't have our materialized view implementation have higher latency, or lower availability, than Cassandra, so we need to make the writes asynchronous exactly like Cassandra did.

But a lot of water has passed under the

[2022-05-11 15:26] roydahan commented on #10516
Do you get the "too many inflight hints" also in 4.6?

[2022-05-11 15:30] slivne commented on #10405
looking at the metrics the disk looks really bad

![Screenshot from 2022-05-11 17-43-47](https://user-images.githubusercontent.com/3465480/167877967-c4b09331-b1a7-4c06-9ccd-4c769c2136a1.png)
![Screenshot from 2022-05-11 17-43-39](https://user-images.githubusercontent.com/3465480/167877977-6af2e3d8-27a7-43c5-bc09-231cb5c363e5.png)

[2022-05-11 15:31] slivne commented on #10405
how are we setting up the n1-highmem-8 machines - do they have a local ssd at all

[2022-05-11 15:32] slivne commented on #10405
I know the metrics / dahsboard are off - looking for the corrected formula with the new scheduler

[2022-05-11 15:46] geobeau opened #10547 "Race condition in gossip and failure detector"
Bug was noticed in 4.6.3.

# Problem

After using` nodetool disablegossip` then `nodetool enablegossip` on several nodes of a cluster of 5 nodes, the nodes were unable to see some other nodes as UN again. The only mitigation has been to roll restart the cluster.

After observing the logs, we noticed that a node that had its gossip restarted was only sending echo messages to one node.

Here is an e

[2022-05-11 15:57] bhalevy commented on #10159
Cc @tgrabiec

[2022-05-11 16:03] #10263 closed

[2022-05-11 16:04] #10523 closed

[2022-05-11 16:35] dorlaor commented on #10536
In general it works as designed, probably compaction runs on the remaining nodes. @asias can you provide a more educated answer?
@jmaixl can you find the answer for the process that the nodes run in the logs?

[2022-05-11 17:19] eliransin commented on #10146
amazingly it didn't work but no "too many hints errors".
However, the graph doesn't look good and the test said it found errors in database log.
I have no idea what is causing this weirdness. But I would suggest as another attempt in fixing this to raise the flag without terminating compactions but wait for them to finish before continuing (on startup).

![image](https://user-images.githubusercont

[2022-05-11 18:59] KnifeyMoloko opened #10549 "Newly added node runs out of space"
## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.1.dev-20220504.b26a3da584cc` with build-id `ab2a33a30756c1513f4c516cd272291e75acec0e`
Cluster size: 3 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- gemini-1tb-10h-master-oracle-db-node-53b60c69-1 (54.246.72.73 | 10.0.0.221) (shards: 14)
- gemini-1tb-10h-master-db-node-53b60c69-4 (52.19.45.163 |

[2022-05-11 19:55] slivne commented on #10405
I need answers about the instances and how we set them up - we may have an issue with the new io scheduler in 5.0.

[2022-05-11 19:59] avikivity commented on #10146
Let's revert first and fix later. First priority is undoing the regression.

[2022-05-11 19:59] slivne commented on #10405
These are a few graphs of the additional metrics we have - it may help understand if we have an issue in scheduler or not (I can;t really tell - but others can)

![Screenshot from 2022-05-11 22-58-01](https://user-images.githubusercontent.com/3465480/167935489-81081762-c590-432d-a493-3709d1d8a021.png)
![Screenshot from 2022-05-11 22-57-48](https://user-images.githubusercontent.com/3465480/16793549

[2022-05-11 20:10] roydahan commented on #10405
Yes, we add and setup Scylla to use local ssd.

[2022-05-11 21:22] roydahan commented on #10549
There is something we need to check here.
The rebuild at 05:55 is not expected.

[2022-05-12 02:06] asias commented on #10536
I checked 4.6.3 contains the following fix. 4.6.2 does not have the fix, I recommend to upgrade your production cluster to 4.6.3 ASAP.

[code]

What does the cpu load (seastar reactor cpu utlization) from the scylla metrics say? Is it 100% as well in your 4 nodes 4.6.3 reproducer?

[2022-05-12 04:04] enaydanov opened #10552 "hints_manager - Exception when draining 10.0.2.80: std::filesystem::__cxx11::filesystem_error (error system:39, filesystem error: remove failed: Directory not empty [/var/lib/scylla/view_hints/12/10.0.2.80]"
Got #5087 again on 2022.1rc3:

[code]

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-2022-1-db-node-d42bf9f0-9 (54.229.119.180 | 10.0.3.188) (shards: 14)
- longevity-tls-50

[2022-05-12 04:11] aleksbykov commented on #10485
yes,  the idea was to start the major compaction for specific table and then stop it.

[2022-05-12 04:53] bhalevy commented on #10485
The it looks like you need to use "nodetool stop COMPACTION keyspace1" to stop it only for this keyspace.
Not that it explains why it wasn't stop :)

[2022-05-12 05:44] aleksbykov commented on #10485
@bhalevy if you run major compaction for single keyspace, then why major compactions started for all keyspaces?

[2022-05-12 05:57] fruch opened #10553 "Validator crashes node with "Unexpected mutation fragment" on range tombstone change of clustering row"
## Installation details
Kernel version: `5.13.0-1022-aws`
Scylla version (or git commit hash): `5.1.dev-0.20220504.b26a3da584cc with build-id ab2a33a30756c1513f4c516cd272291e75acec0e`
Cluster size: 6 nodes (i3.large)
Scylla running with shards number (live nodes):
   longevity-harry-2h-fix-cass-db-node-eddd82cc-1 (16.171.62.87 | 10.0.3.241): 2 shards
   longevity-harry-2h-fix-cass-db-node-eddd82cc

[2022-05-12 06:15] bhalevy commented on #10485
What makes you think that?

Note that both major and regular compaction use the same compaction type (`COMPACTION` over the api or just `Compact` internally as printed in the logs)

[2022-05-12 07:07] nyh opened #10554 "Sporadic failure of boost/mutation_test.test_query_digest"
The boost unit test `mutation_test.test_query_digest` failed in Jenkins run https://jenkins.scylladb.com/job/scylla-master/job/next/4863/. It failed only in one debug run, and does not fail on every run.

The full output of this failing test is here:
https://jenkins.scylladb.com/job/scylla-master/job/next/4863/testReport/junit/boost.mutation_test.debug/test_boost_mutation_test/test_query_digest/
T

[2022-05-12 07:07] nyh commented on #10554
[code]

[2022-05-12 07:34] bhalevy opened #10555 "frozen_mutation_test.test_writing_and_reading_gently fails on aarch64 in release mode"
As seen in e.g https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1010/artifact/testlog/aarch64_dev/frozen_mutation_test.test_writing_and_reading_gently.918.log
[code]

This code was introduce in 4963eb73b59 that is currently in master (5.1.dev) only.

[2022-05-12 08:07] KnifeyMoloko commented on #10549
@roydahan That was also my initial thought, but it turns out to be expected. The `DecommissionStreaminErr` that was running then uses the method `break_streaming_task_and_rebuild` which does what the name says. It triggered the rebuild.

[2022-05-12 08:46] psarna commented on #10545
But at the same time, you're absolutely right that a more real use case, when a user creates one or two views and uses quorum, sounds perfectly acceptable availability-wise. The other doubt is increased latency, because we need to wait for more network hops and one more replica-side I/O before we can return to the client. But I still think we should give users a choice in this matter, because othe

[2022-05-12 09:38] avikivity commented on #10099
@slivne let's prioritize this

[2022-05-12 09:44] bhalevy opened #10558 "mutation_partition_view::do_accept_gently deserializes range_tombstones and rows vectors"
... instead of streaming through them.

Currently, the idl-generated deserialization code, e.g. `mutation_partition_view::rows()` deserializes and returns a complete `utils::chunked_vector<deletable_row_view>` .  And that could be arbitrarily long.

To consume it gently, we don't need the whole vector in advance, but rather we can consume it one element at a time (and in a nested way for cells in

[2022-05-12 10:19] bhalevy commented on #10558
Cc @tgrabiec
Refs #9223

[2022-05-12 10:20] avikivity commented on #9505
With this:

[code]

no reports after startup -> no indication that we have preemption problems.

[2022-05-12 10:57] yarongilor commented on #10516
4.6 logs were not collected. rerunning test again in: https://jenkins.scylladb.com/job/enterprise-2022.1/job/SCT_Reproducers/job/longevity-large-partition-200k-pks-4days-test_delete_rows/

[2022-05-12 11:20] slivne commented on #10543
This seems like a corruption - we need the machines and sstables to be able to try and understand what went wrong.

If you have the machines (node 1) that had the corruption - please provide access to it.

If not - we need this reproduced - run multiple attempts in parallel

[2022-05-12 11:23] aleksbykov commented on #10485
I see in logs that after  nodetool stop compactio was executed,  several messages that compaction for cdc_test.* was requested to stop

[2022-05-12 11:33] bhalevy commented on #10485
I believe these are regular compactions stopped by the unrestricted `nodetool stop COMPACTION`.
The reason for that is that major and regular compactions use the same compaction type so they are indistinguishable for stopping purposes.

[2022-05-12 11:34] aleksbykov commented on #10485
So better to run stop compaction for specific keyspace and/or table?

[2022-05-12 11:48] bhalevy commented on #10485
You can specify either the keyspace or the keyspace and table.
It shouldn't matter since there is only one table in the keyspace.
Maybe specifying both is safest in case we ever use more tables in this keyspace in the future.

[2022-05-12 12:36] kostja commented on #8706
Sorry, I was quiet because I didn't want to be unhelpful, hoping I could look at this a deeper. I haven't found time  and the issue seems urgent (partly because Russia/Israel holiday calendar inconsistencies, and I need @juliayakovlev to play with this). Since this week this is not likely to happen again, here's the so unwanted speculation.

We are well aware of the original cause of this issue. T

[2022-05-12 12:43] gleb-cloudius commented on #8706
Can we change our dashboard formula to reflect that? I kind of used to the old reporting and it makes more sense to me (at least it is easier to spot a problem).

[2022-05-12 12:45] xemul commented on #9505
With [this](https://github.com/xemul/seastar/tree/br-rpc-tester-cpu-hog-more) rpc-tester branch and such a config:
[code]
I get up to 34ms latencies. Usage is like this:
[code]

Client outputs

[code]

[2022-05-12 13:03] avikivity commented on #9505
I guess the question is is the kernel (tcp) or seastar (scheduling). I can't imagine it to be either, but these are the most likely.

[2022-05-12 13:05] xemul commented on #9505
In my example above, if you leave the shares to be 100 in each class the latencies would be 13ms for both classes.

[2022-05-12 13:06] avikivity commented on #9505
So I guess it's the scheduler.

[2022-05-12 13:15] avikivity commented on #9505
There can be thousands of connections, we can't push everything to pollers where they are invisible to the scheduler.

[2022-05-12 13:19] roydahan commented on #10469
@asias I vaguely remember a previous known issue with something like this.
It's a scenario that we have a "mixed" cluster (2 nodes that were upgraded and 2 haven't been upgraded yet) and running a repair.

[2022-05-12 14:11] nyh commented on #10545
@psarna you're right about the probability of failure increasing, but I don't consider this a problem. If anything, I think "it's not a bug, it's a feature". Let me explain why:

First, I think it's not fair to compare a write to a regular table without views - against a write to a base table with views that causes 100 view updates (perhaps because it has 100 views, or because it's a collection).

[2022-05-12 14:15] raphaelsc commented on #10146
I am puzzled too. That code shouldn't be stressed after node is initialized.

[2022-05-12 14:43] raphaelsc commented on #10485
I think nodetool stop only supports type and compaction uuuid.

We should probably extend it to use stop_keyspace_compaction API if keyspace and/or table were passed as param.

[2022-05-12 14:48] rayakurl opened #10560 "Enhancement: scylla_raid_setup -ask a user if he wants to disable fstrim in case it's enabled"
## Installation details

Kernel Version: 5.13.0-1024-gcp

Cluster size: 1 nodes (n1-standard-2)

Scylla Nodes used in this run:
- artifacts-ubuntu2004-jenkins-db-node-0769239b-0-1 (34.148.80.57 | 10.142.0.31) (shards: 2)

OS / Image: `https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-2004-lts` (gce: us-east1)

Test: `artifacts-ubuntu2004-test`
Test id: `076

[2022-05-12 17:33] bhalevy commented on #10485
Yikes, I'm afraid you're right, based on https://docs.scylladb.com/operating-scylla/nodetool-commands/stop/

[2022-05-12 17:41] jmaixl commented on #10536
Hi @asias, yes, my small test that reproduced the problem was running 4.6.3.

Moreover, I just tested the following versions:

- 4.5.0 - no CPU problem
- 4.5.6 - no CPU problem
- 4.6.0 - CPU problem
- 4.6.2 - CPU problem
- 4.6.3 - CPU problem

[2022-05-12 18:28] #10555 closed

[2022-05-12 19:26] fee-mendes commented on #10545
I think the main difference here is the fact that in this case the client is sending a single write against a coordinator and it will be up for a single coordinator to ensure all MVs receive the updates synchronously. On the other hand, without MVs, the client can simply send 100 writes which will likely end up not only in different coordinators but also nodes!

Think about the following scenario

[2022-05-13 01:34] asias commented on #10469
I guess you meant the issue with log warning a  off startegy update cmd is not supported on un-upgraded  node. The warning can be ignored.

https://github.com/scylladb/scylla/issues/10469#issuecomment-1123532190
https://cloudius-jenkins-test.s3.amazonaws.com/1594d6cf-e6c4-4e97-a715-99eead4c535d/20220507_080119/db-cluster-1594d6cf.tar.gz
Here, it is a real issue. It is unrelated to the warning mess

[2022-05-13 05:24] bhalevy commented on #10555
No backport needed

[2022-05-13 05:29] bhalevy commented on #10378
@raphaelsc what branches are vulnerable?

[2022-05-13 07:54] vponomaryov commented on #9543
This bug blocks testing of the Scylla release candidates on operator.
Affected all the tests which depend on the Scylla pod rollout mechanism, it just doesn't happen due to this bug.

[2022-05-13 10:22] geobeau commented on #10547
Another problem that arises after fixing the failure detector loop is that the `_background_msg` is closed on shutdown but never "opened" again. I added a second commit to make sure it is recreated at startup

[2022-05-13 10:24] geobeau commented on #10547
Also, I have a patch compatible with 4.6.3 here if you want to backport: https://github.com/criteo-forks/scylla/pull/8/files

[2022-05-13 11:13] bhalevy commented on #10403
@denesb which branches are vulnerable?

[2022-05-13 12:34] xemul commented on #10254
Fixed by 043b1c7f89d0dac7b89985b03584b79d6d5d8eb7

[2022-05-13 12:34] #10254 closed

[2022-05-13 13:05] bhalevy commented on #10254
@xemul backport candodates?

[2022-05-13 13:15] xemul commented on #10254
4.6.3 and 4.5.6 need this, but it depends on whether metrics with fixed scylladb/scylla-monitoring#1570 (AFAIU 3.10) supports those scyllas

[2022-05-14 14:28] vladzcloudius opened #10567 "Make authorization cache parameters LiveUpdate-able"
*Installation details*
HEAD: 9623589c773d85eb27243f76b67c745f5b891dbb

*Description*
Allow a modification of `permissions_validity_in_ms`, `permissions_update_interval_in_ms` and `permissions_cache_max_entries` without having to restart a service.

[2022-05-14 23:56] raphaelsc commented on #10378
all versions since 84e25e8ba4a40e41a483bec2f28b9fa068b14258, but it's hard to reproduce because it requires disabling auto compaction on a fresh LCS table that never tried to run regular, then running a maintenance operation with auto compaction disabled. It's safe to backport this, so I'd suggest doing it for all supported branches.

[2022-05-15 05:52] avikivity commented on #10146
Fixed by 8e8dc2c930f5541531c3326127f012e7bc6292ef

[2022-05-15 05:52] #10146 closed

[2022-05-15 05:53] avikivity commented on #9313
Reopened by 8e8dc2c930f5541531c3326127f012e7bc6292ef

[2022-05-15 05:53] avikivity commented on #10146
Backported to 5.0. Earlier releases not affected.

[2022-05-15 07:17] slivne commented on #10532
We have a metric in the monitoring showing node restarted

We do not have a metric for coredump

We can add an alert on coredump creation via logs - create an issue in scylla-monitoring
(I am not sure we can create a metric out of that - but amnon is the expert)

[2022-05-15 07:44] amnonh commented on #10532
If we can see it in the logs we can create a metrics out of it, it would only work with systems that use Loki

[2022-05-15 08:10] nyh opened #10568 "Idea: add to CQL UPDATE the ability to *calculate* the new value"
This feature proposal is inspired by a discussion in https://stackoverflow.com/questions/72223524/an-alternative-to-counter-columns-in-scylladb/, where a user was wondering whether he had other options for incrementing a counter without using a separate table with a special "counter column". LWT could have been an obvious alternative to counters, but unfortunately, currently one can't just do `UPD

[2022-05-15 10:08] roydahan commented on #10469
So, It looks like this is the same issue as https://github.com/scylladb/scylla/issues/10543.
@asias / @ShlomiBalalis is this the same error in all the runs above?
If so, it looks like it's reproduces quite consistently.

[2022-05-15 10:18] avikivity commented on #10505
@benipeled why did the promoter re-add the backport candidate label?

[2022-05-15 10:21] avikivity commented on #10378
Backported to 4.5, 4.6, 5.0.

[2022-05-15 10:22] avikivity commented on #10281
Performance only, and rare (detected by unit test, not user). Not backporting.

[2022-05-15 10:29] avikivity commented on #10423
Backported to 4.5, 4.6, 5.0.

[2022-05-15 10:32] avikivity commented on #10500
@bhalevy how do we evaluate this for a backport? It's a large change for a rare event, but the consequences are bad.

[2022-05-15 10:33] avikivity commented on #10236
@fee-mendes how likely is this to be encountered by a user? I'm evaluating whether to backport or not.

[2022-05-15 11:08] roydahan commented on #9336
@ShlomiBalalis please check if this is still relevant on release like 5.0 and/or master.

[2022-05-15 11:10] roydahan commented on #9890
Closing for now, we will reopen if this reproduces.

[2022-05-15 11:13] DoronArazii commented on #10217
@xemul any news for this issue?

[2022-05-15 11:13] roydahan commented on #10283
@fgelcer / @soyacz does it still happen on 5.0 / 2022.1?

[2022-05-15 11:13] DoronArazii commented on #10262
@psarna any news for this issue?

[2022-05-15 11:16] psarna commented on #10262
@DoronArazii Roy stated above, that operation timeouts are expected, and it's not a real issue. So I guess it should be closed

[2022-05-15 11:22] benipeled commented on #10505
@avikivity the label added by [1] which uses the same end_commit as one job before [2],
The next history for the first one deleted so I can't see the commits different between these two,
Maybe it's happened following a commit-revert.

[1] https://jenkins.scylladb.com/job/releng/job/scylla-backport-queue/1835
[2] https://jenkins.scylladb.com/job/releng/job/scylla-backport-queue/1834

[2022-05-15 11:27] slivne commented on #10553
We need a reproducer with a system up after this occurs - its a corruption  - https://jenkins.scylladb.com/job/scylla-staging/job/fruch/job/longevity-harry-2h-test/7/

[2022-05-15 11:29] slivne commented on #10469
According to Roy this reproduces a lot - Shlomo is running the test again to see if it reproduces every time or not

[2022-05-15 11:52] yarongilor commented on #10525
Reproduced in 5.0 :

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- alternator-48h-5-0-db-node-d918f269-7 (54.216.88.199 | 10.0.2.225) (shards: 14)
- alternator-48h-5-0-db-node-d918f269-6 (34.253.23

[2022-05-15 11:53] bhalevy opened #10569 "The promoted index is copied needlessly when writing sstables"
https://github.com/scylladb/scylla/blob/768b5f3f29e527e1497f75064bab3f76f9290aba/sstables/mx/writer.cc#L1300-L1301

call

https://github.com/scylladb/scylla/blob/768b5f3f29e527e1497f75064bab3f76f9290aba/sstables/writer.hh#L301

which causes `blocks` to get copied needlessly, and potentially causing OOM when the promoted index is extremely large,
as seen in 2021.1.5-0.20210818.fc817c0cd:
[code]

[2022-05-15 11:54] bhalevy commented on #10569
The unneeded copy was introduced in [0d8463a](https://github.com/scylladb/scylla-enterprise/commit/0d8463aba580cb3c84cb9cafa825e0e2eb16ebc1)

[2022-05-15 11:56] fruch commented on #10553
here job (set to keep all the instances):
https://jenkins.scylladb.com/job/scylla-staging/job/fruch/job/longevity-harry-2h-test/9/

takes ~1.5 hour for it to get to it.

[2022-05-15 11:59] fgelcer commented on #10283
last CentOS 7 upgrade ran on May 10th and it passed...
if this issue was consistent, it did not happen on the latest run, but if it happens sporadically we should run few times to confirm it (also, waiting for RC5, that shall trigger it again).

[2022-05-15 12:31] #10262 closed

[2022-05-15 12:47] DoronArazii commented on #10429
@piodul @psarna
Any progress with this issue?

[2022-05-15 12:52] slivne commented on #10429
This is probably the same as #10146

[2022-05-15 12:53] slivne commented on #10429
Dont do anything - we reverted the patches that caused the degradation  following that we will know if there is still and issue with MV/SI

[2022-05-15 12:55] bhalevy commented on #10500
We have suspected cases of hung snapshot operations in the field, but they are hard to tell due to lack of log error messages and/or a core dump.

The baseline of branch 5.0 is very similar to master so I think it shouldn't be too hard to backport it there in while.

For earlier branches I can prepare a simplified version that would just catch and handle errors in table::snapshot, if needed, even

[2022-05-15 13:41] avikivity commented on #9505
I added a trace of the scheduling delay between the last time a scheduling group was run, and the next time:

[code]

This makes sense, since the share ratio is 5:1, and so streaming has to wait for 5 time slices before getting executed again.

[2022-05-15 13:41] bhalevy opened #10571 "Promoted index size is proportional to the partition size"
The size of the promoted index currently depends on the number and size of rows in the partition and the `column_index_size_in_kb`.
A new promoted index block is written (to an in-core `bytes_ostream`) when a new clustering row is encountered where it's file offset is greater than or equal to the previous recorded row + column_index_size_in_kb.

See https://github.com/scylladb/scylla/blob/768b5f3f

[2022-05-15 13:45] bhalevy commented on #10571
Cc @tgrabiec

[2022-05-15 13:47] avikivity commented on #9505
There are a few instances where it reaches 3ms, but not many. So it looks like the scheduler is working correctly.

[2022-05-15 13:49] avikivity commented on #10571
Yet another option is to spill the bytes_ostream into disk, then copy it back. That trades off more I/O and complexity when the sstable is created, for better read performance.

[2022-05-15 13:59] bhalevy commented on #10571
I don't understand.  When do you suggest to spill the bytes_ostream to disk and when copy it back?
How would that benefit read performance?

[2022-05-15 14:04] bhalevy commented on #10571
If using a bytes_ostream is better due to it being more dense vs. keeping a bunch of pi_block:s, we can compress the serialized bytes_ostream in-memory also by deserializing it and merge adjacent pairs onto a new bytes_ostream that will replace the current one.  However, I'm not sure it's worth it. With 64KB column_index_size_in_kb, 128 pi_block:s cover 8MB of worth of rows, so we keep only up to

[2022-05-15 14:04] avikivity commented on #10571
Instead of accumulating a huge bytes_ostream in memory, spill it to disk, so we don't have O(partition size) in memory.

When writing the bytes_ostream to the index, we now read and write the spill file (since we don't have a bytes_ostream any more).

It prevents read performance regression since we don't mess with column_index_size_in_kb any more.

[2022-05-15 14:08] fruch commented on #10553
crashes has start for whom want to take a look: http://13.49.225.42:3000/d/alternator-master/longevity-harry-2h-test-scylla-per-server-metrics-nemesis-master?orgId=1

[2022-05-15 14:33] bhalevy commented on #10571
I see.  That make sense as an incremental change.

I we extend the sstable format we can keep the external promoted_index file as is for large partitions
and just refer to it from the sstable index, but that may be too big of a change right now.

[2022-05-15 15:21] avikivity commented on #9505
I tried disabling batch_flushes, didn't help.

[2022-05-15 15:47] avikivity commented on #9505
I hacked rpc to warn if there is a large difference between send time and unmarshall time:

[code]

Plenty of reports:

[code]

[2022-05-15 15:54] avikivity commented on #9505
I captured the rx time earlier, before waiting on the semaphore. As expected, no change, so it's not the semaphore.

[code]

[2022-05-15 16:03] avikivity commented on #9505
Seaching for a particular packet:

[code]

[code]

[2022-05-15 16:05] avikivity commented on #9505
Last 8 bytes of the packet - 4b 30 58 5e 69 52 ef 16 - 1652630200776142923 = tx time.

[2022-05-15 16:07] avikivity commented on #9505
tcpdump timestamp: 1652630200.776150000

[2022-05-15 16:08] avikivity commented on #9505
Delta is 7usec. So packet was on the wire very quickly.

[2022-05-15 16:16] avikivity commented on #9505
Theory: there is a big parallel_for_each() or similar that just ate cpu but did not stall. That's why there are differences between the two scheduling groups.

[2022-05-15 16:19] raphaelsc commented on #10485
The problem is that

1) semaphore isn't abortable (in that version), so major task waiting on semaphore has to acquire it first before having a chance to run

2) we're only stopping running major tasks and excluding the ones waiting for a chance to run.

Therefore, pending major tasks can run to completion once they get permission to run

master has #2 fixed, but can have this improved by using ab

[2022-05-15 16:55] avikivity commented on #9505
Added a poor man's task trace, to be dumped when we detect bad latency. Should be done via lttng or intel pt, really.

https://github.com/avikivity/seastar/commit/b55edc7e116e0ce03385c9f699ad523853cb313b

[2022-05-15 16:56] avikivity commented on #9505
1024 tasks is not enough, everything is within the last 1ms.

[2022-05-15 17:20] avikivity commented on #9505
Almost everything is from a seastar::thread task, so not much info gained.

[2022-05-15 17:28] avikivity commented on #9505
In another trace, there were several switches gossip->streaming->gossip. So it's unlikely to be a flooded task_queue.

I disabled add_urgent_task(), did not help. So it's likely to be something in tcp processing.

[2022-05-15 17:52] avikivity commented on #10500
The question is not if it's hard to backport or not, it's what the fallout will be.

[2022-05-15 17:53] bhalevy opened #10573 "Segfault in seastar::memory::small_pool::allocate: _free = _free->next;"
This might be a bug in seastar rather than in scylla, but I'm opening it here since we've encountered it a number of times with scylla.
E.g in https://github.com/scylladb/scylla/issues/4973#issuecomment-533138501
and https://github.com/scylladb/scylla/issues/5061#issuecomment-534161431

I hit a similar corruption pattern with the deterministic unit test over 768b5f3f29
(for reproducing https://git

[2022-05-15 17:53] bhalevy commented on #10573
[code]

[2022-05-15 17:55] avikivity commented on #10573
This can be a double-free. Debug mode should identify the problem.

[2022-05-15 17:55] avikivity commented on #10573
Or perhaps a use-after-free.

[2022-05-15 18:19] bhalevy commented on #10573
debug mode doesn't use the seastar allocator

[2022-05-15 18:22] bhalevy commented on #10573
I'm adding some internal verification to memory.cc (under `SEASTAR_DEBUG_ALLOCATIONS`) to try to pinpoint the issue.
The good news is that the reproducer is deterministic and so is the corruption patter of `_free` holding a value that is a valid pointer << 8.

[2022-05-15 18:26] bhalevy commented on #10500
With the simplified version I think the risk will be minimal since the change would be localized to table::snapshot which is well tested (for the good path) in dtests, and the gains would significant, preventing the silent hanging of snapshot operations.

[2022-05-15 18:30] avikivity commented on #10573
Ah, I've seen that pattern before. It's use-after-free, with the double-free being a lw_shared_ptr decrement. That changes some address, and the next write generates the pattern you see.

Easy to get with submit_to returning a lw_shared_ptr not wrapped in a foreign ptr (or sending a lw_shared_ptr to another shard).

[2022-05-15 18:40] avikivity commented on #10573
Here is the similar bug I had: https://github.com/scylladb/scylla/issues/5104

[2022-05-15 18:41] bhalevy commented on #10573
Right, it turned out to a `lw_shared_ptr<replica::memtable>` created by `shared_from_this()` from a pointer on the stack
[code]

ASAN did report it as bad free.

[2022-05-15 18:43] bhalevy commented on #10573
I'll see if this can be protected against cheaply so the problem will be caught when freeing it pointer rather than when allocating where `_free` is already corrupt.

[2022-05-15 18:45] bhalevy commented on #10573
If we have a function that checks if a pointer was dynamically allocated then shared_from_this can call it and we'd catch this issue even earlier.

[2022-05-15 18:48] avikivity commented on #10573
We can add assert(_count) to shared_from_this().

[2022-05-15 18:49] fgelcer commented on #10322
i'm seeing such issue on `longevity-200gb-48h-network-monkey-test`

found that c-s prepare command ran for 13 hours (instead of 1.5 hours), and while analyzing it, the c-s command returned the `Results`, but the command stayed stuck printing the following message ~95K times:
[code]

it happened on `5.0~rc3-20220406.f92622e0d with build-id 2b79c4744216b294fdbd2f277940044c899156ea`

here test detail

[2022-05-15 19:03] avikivity commented on #10500
Well, let's see a patch. And it's better to start with the simplified version and apply refactoring later.

[2022-05-15 19:04] slivne commented on #10217
@nyh / @avikivity / @xemul - ping

[2022-05-15 19:23] avelanarius commented on #10322
A quick update: @Lorak-mmk looked into this issue last week. In all those cases (including `longevity-200gb-48h-network-monkey-test` just posted), cassandra-stress prints `END`, which looking at the code means that all cassandra-stress workers have finished work and the Java Driver session should be closed. However, for some reason the driver still tries to execute some queries generating those ex

[2022-05-15 19:32] bhalevy commented on #10573
@slivne the bug was in my unit test that is still under development, so we can remove the `bug` label.
I'll make sure that it is fixed and passes with the extra asserts and will likely to close this issue as invalid
(and will send a PR to seastar to add the asserts in shared_from_this)

[2022-05-15 19:39] slivne commented on #10547
@kbr-  & @asias the resident gossip experts can you please comment

[2022-05-15 19:42] slivne commented on #10543
@roydahan / @ShlomiBalalis I need to understand if we upgraded:
1. from 4.6 --> 5.0 and got this result or
2. from 5.0 --> 5.1.dev and got this result

I need to understand if this is a problem in 5.0 or 5.1 based on your understanding

 ping on reproducing.

[2022-05-15 19:43] slivne commented on #10542
this is an enterprise issue - close this issue and open on the correct repo.

[2022-05-15 19:43] slivne commented on #10542
@noellymedina ^^

[2022-05-15 19:49] slivne commented on #10536
@jmaixl thanks

when you decommission / remove a node - we need to stream information in the cluster.

In decommission the node being removed will stream its data to the other nodes in the rack
in removenode one of the current replicas will sent data to a new replica

As such its expected that data will be sent and cpu will be used / comp actions will kick in,

You maybe familiar with all of that

[2022-05-15 19:50] slivne commented on #10534
#10146 has been fixed and backported 5.0.rc5 should have that fix

[2022-05-15 20:03] slivne commented on #10525
@fgelcer as far as I recall you said this did not happen in scylla version < 4.5.5 and only started happening on 4.5.6 - is that correct ?

I don't see why any patch in 4.5.5.. would cause this

[code]

If the answer is yes - this reproduces on 4.5.6 and not on earlier releases - lets bisect - since its not clear what caused this change

[2022-05-15 20:35] bhalevy commented on #10573
This works in general, but:

1. it needs special handling for when `enable_lw_shared_from_this<T>::shared_from_this()` is called from the disposer (e.g. in `sstables_manager::deactivate`.  I solved this by setting _count to -1 before calling the disposer and handling that is the object is saved using `shared_from_this` before it's deleted.

2. A similar `assert(count)` for `enable_shared_from_this

[2022-05-15 20:40] slivne commented on #10532
Move this to scylla-monitoring and close it here

[2022-05-15 20:48] slivne commented on #10495
We had an issue related to running repair in a mixed SMP count cluster (that you have also referenced) and I expect you probably hit that issue - did you run the cluster with version 4.2 / 4.3 and if so which patch releases ?

to fix this we need to scrub the sstables

[2022-05-15 21:24] fgelcer commented on #10525
when you asked, i searched for such failure on 4.5 results (prior to 4.5.6) and didn't see such failures

[2022-05-15 21:47] noellymedina commented on #10542
oops thanks for catching my mistake :-) doing it

[2022-05-15 21:47] #10542 closed

[2022-05-15 23:03] slivne commented on #10447
range
[code]

git shortlog 75786c42cb2e..cc40685c288f

[code]

I don't think we can explain this change using these commits

yet I'll let other provide their view

@psarna  assigning it to your team - piotrd did a lot of changes on exception handling maybe its related ?

[2022-05-15 23:06] slivne commented on #10242
fix in 4.6.3

[2022-05-15 23:06] #10242 closed

[2022-05-15 23:47] #10569 closed

[2022-05-16 05:53] slivne commented on #10543
probably the same like the other issue marked for 5.1

@roydahan / @ShlomiBalalis ping

[2022-05-16 06:30] denesb commented on #10403
I have to check. It is not a straightforward answer because sstable index cache has been reworked recently (AFAIK) and I don't know if the issue was present before or not. Maybe @tgrabiec will know off the top of his head, but if not, I'll go back and check all our live versions.

[2022-05-16 06:34] amnonh commented on #10532
@slivne which component will generate a log on the scylla server? and if it's not Scylla how will this log be propagate to the monitoring system?
Whatever the answer is it should applicable to QA

[2022-05-16 06:43] soyacz commented on #10283
After fixing Gemini seed we don't see timeout errors anymore (including this truncate error).

[2022-05-16 07:14] soyacz commented on #10532
Moved to https://github.com/scylladb/scylla-monitoring/issues/1733

[2022-05-16 07:45] yarongilor opened #10574 "offline-install: Failed to get D-Bus connection: No such file or directory on oel76"
## Installation details

Cluster size: 1 nodes (i3.large)

Scylla Nodes used in this run:
- artifacts-oel76-jenkins-db-node-c7cb9978-1 (34.247.189.25 | 10.0.0.149) (shards: -1)

OS / Image: `ami-0d6a24fe35fdf5dc4` (aws: eu-west-1)

Test: `artifacts-oel76-nonroot-test`
Test id: `c7cb9978-3eed-4b0e-85fa-7a44cd2e6d18`
Test name: `enterprise-2022.1/artifacts-offline-install/artifacts-oel76-nonroot-tes

[2022-05-16 07:45] yarongilor commented on #10574
Reproduced in 5.0 as well:

Might be reproduced in 5.0.
scylla-5.0/artifacts-offline-install/artifacts-oel76-nonroot-test got an error of:
[code]

## Installation details

Cluster size: 1 nodes (i3.large)

Scylla Nodes used in this run:
- artifacts-oel76-jenkins-db-node-6721022c-1 (34.242.83.50 | 10.0.1.78) (shards: -1)

OS / Image: `ami-0d6a24fe35fdf5dc4` (aws: eu-west-1)

Test: `artifacts-oel76-

[2022-05-16 07:59] denesb commented on #10403
The index rework is 99d53550073a973ad5eafd559462fbc16ada5e1f.
[code]

[2022-05-16 08:55] bhalevy commented on #10554
@denesb can you please look into this asap?  it's failing a lot on next.
Most recently: https://jenkins.scylladb.com/job/scylla-master/job/next/4875/testReport/junit/boost.mutation_test.debug/test_boost_mutation_test/test_query_digest/

[2022-05-16 09:15] syuu1228 commented on #10475
It is duplicated with #10455, and fix is at #10467 but it's not merged yet.

[2022-05-16 10:22] psarna commented on #10552
It's a non-fatal error which indicates that a hint got stored during drain, right before we try to remove the hints directory as part of the draining process. I don't really see any mechanisms for preventing such a thing, so maybe it's just a race that has been there for a very long time? The error most likely comes from here:
https://github.com/scylladb/scylla/blob/8a6f8c622d71f5e5956fcf2b4683b64

[2022-05-16 10:31] syuu1228 commented on #10560
But if we disable fstrim.timer, we will never TRIM rootfs.
Maybe we should also enable "discard" on rootfs, when we enable it for RAID volume?
@avikivity Do you have any idea?

[2022-05-16 10:42] tgrabiec commented on #10571
Duplicate of https://github.com/scylladb/scylla/issues/4217 ?

[2022-05-16 10:54] psarna commented on #10479
@jul-stas please try to decipher what these failed assertions mean - did we lose a counter update?

[2022-05-16 10:56] bhalevy commented on #10554
Cc @cmm

[2022-05-16 11:07] DoronArazii commented on #10497
@avikivity

[2022-05-16 11:15] denesb commented on #10403
After some digging I found the culprit of this bug: c81992c6651. Before we would recreate the reader every time we wanted to read an index page. After said change we'd reuse the currently existing reader, fast-forwarding it to the new position.

[2022-05-16 11:16] DoronArazii commented on #10200
per @roydahan this is not a regression

[2022-05-16 11:17] denesb commented on #10403
Said commit is not in any release yet.

[2022-05-16 11:18] denesb commented on #10403
Which explains why we didn't see any problems on this much-exercised code-paths before.

[2022-05-16 11:20] DoronArazii commented on #9812
Due to last #10146, we might think that this is already fixed.
@vponomaryov

[2022-05-16 11:22] psarna commented on #10447
This part of the error line sounds extremely weird: `std::runtime_error (abort requested)`. The only exception that has a matching "abort requested" description is `abort_requested_exception`, which is correctly handled here: https://github.com/scylladb/scylla/blob/8a6f8c622d71f5e5956fcf2b4683b64bcba66dd6/service/storage_proxy.cc#L2892-L2893

But, what seems to happen instead, is that instead of a

[2022-05-16 11:23] xemul commented on #10217
No news.

[2022-05-16 11:28] elcallio commented on #10305
I ran it manually - I can barely use systemd. :-)
But as long as things are in a log message, the eventual collection thereof should be the same, no? Unless scylla actually outputs directly to systemd (?) and this error message is _after_ it somehow detached? Sounds far fetched, but that would be all exit errors being dropped if so.

[2022-05-16 11:29] bhalevy commented on #10217
This issues shouldn't be labeled as `high` since other than the error printout during shutdown the issue is benign, causing no data consistency nor availability issues.

[2022-05-16 11:36] DoronArazii commented on #10372
@eliransin @elcallio @xemul - ping

[2022-05-16 11:37] DoronArazii commented on #9625
@eliransin @elcallio Any new with this one?

[2022-05-16 11:46] piodul commented on #10447
My theory is that an `abort_requested_exception` is now being thrown on the replica side. Our RPC does not preserve information about types, so the `abort_requested_exception` is converted to its string and then rethrown as `std::runtime_error` on the coordinator.

[2022-05-16 12:13] fgelcer commented on #10530
builds # 2 and 3 passed, without any problem:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/fabio/job/4.5/job/rolling-upgrade-ubuntu20.04-test-4.5-from-sct-master/

[2022-05-16 12:20] denesb commented on #10554
Doesn't reproduce based on seed. Trying with --repeat (no luck so far).

[2022-05-16 12:45] xemul commented on #9505
Regarding my previous experiment. It doesn't even need 20 fibers, just 3:
- rpc sender, sched group A, 100 shares
- cpu hog, 40-70us between yields, sched group A
- cpu hog, 40-70ys between yields, sched group B, 1000 shares

The RPC job reports 17ms p99 latency and 18ms maximum one. If sched group B has 100 shares, then the RPC latencies drop down to 5ms

[2022-05-16 12:58] roydahan commented on #10283
Because we don't run the nemesis anymore?

[2022-05-16 13:00] fee-mendes commented on #10236
@avikivity its been like this since when the `broadcast_rpc_address` option was introduced, so this isn't likely to be encountered soon. For single DC deployments users can still rely on Ec2Snitch for the time being, for MultiDC they can peer among the regions and still use Ec2Snitch OR fallback to GossipingPropertyFileSnitch, so this ain't a blocker.

[2022-05-16 13:09] avikivity commented on #9505
I'm trying to use the static probes (STAP_PROBE) and `perf script`, but the static probes in seastar are invisible to `perf buildid-cache`, trying to see why.

[2022-05-16 13:09] avikivity commented on #9505
No, they're in two non-default groups.

[2022-05-16 14:36] nyh opened #10577 "Is max-clustering-key-restrictions-per-query too low?"
In commit 080989d29624aeced6fab113ebdcbfa6e85be57b, @avikivity added a limit for the size of cartesian product of IN restrictions, because if it's too big it leads to the out-of-memory as described in #4752.

There's a separately configured maximum for partition keys and for clustering keys. Both currently default to 100 in `cql3/restrictions/restrictions_config.hh`, but can also be overridden by

[2022-05-16 14:51] xemul commented on #9505
When creating a client (and -- its send_loop fiber) in the "correct" sched group (before it was in default) and when moving the server-side processing into the hog group (with isolation cookie, before it also appeared in default one) it became even worse -- 36ms max latency and 31ms p99 one.

[2022-05-16 15:24] psarna commented on #10446
self-ping: I'll try to look at the code tomorrow, maybe I'll figure out why Scylla still crashes on that assertion

[2022-05-16 15:28] jmaixl commented on #10536
Yes, the CPU is high after streaming/compaction. I reproduce the issue on a brand new, super small cluster with very little data, and the CPU remains high indefinitely after the decommission/remove operation. It's been weeks in production and many days in the test cluster.

CPU is high on a cluster with 0 traffic after many days since the last activity. As such, there are no activity and no loggin

[2022-05-16 15:48] kbr- opened #10578 "raft: follower may mark obsolete entries committed while handling `read_quorum`"
`fsm::step`:
[code]

the `advance_commit_idx` call is not correct because our log may be outdated. Similar to #9965.
Example trace leading to inconsistency attached (using https://github.com/scylladb/scylla/pull/10561):
[read-barrier-inconsistency-1.txt](https://github.com/scylladb/scylla/files/8701509/read-barrier-inconsistency-1.txt)

cc @gleb-cloudius @kostja

[2022-05-16 15:53] avikivity commented on #9505
Well, that's good.

My own tests are running into brick walls. `perf` crashes [[1]](https://lore.kernel.org/linux-perf-users/f0add43b-3de5-20c5-22c4-70aff4af959f@scylladb.com/T/#u). Compiling perf from source works, but I can't get the SDT events to report anything.

[2022-05-16 16:08] xemul commented on #9505
A typical trace client-side looks like
[code]

[2022-05-16 16:18] avikivity commented on #9505
Do you mean 'typical trace when badness happens'? usually the latency is much lower.

I measured excess latency on the server side, but maybe because that's where I focused.

[2022-05-16 16:27] jmaixl commented on #10536
![perf](https://user-images.githubusercontent.com/47194854/168639600-c2ada7b6-08ef-44bc-a9b2-ae0e3a0b1bbd.svg)

This is a perf graph of the Scylla process on the stressed core/shard to show that there is no activity besides just spinning?

[2022-05-16 16:36] xemul commented on #9505
Yes. I collect traces client-side. Strange thing -- after a message is enqueued into RPC outgoung queue it takes 5 reactor polls to actually flush it into the network. Another strange thing -- after the response promise is resolved it takes 2 reactor polls to actually run the attached continuation (looks similar to scylladb/seastar#989)

[code]

[2022-05-16 16:44] avikivity commented on #9505
What is "enqueued into an RPC outgoing queue"? Written into the output_stream?

Could be batch_flushes interaction (but unlikely).

[2022-05-16 16:47] avikivity commented on #9505
Ah, _outgoing_queue.

[2022-05-16 16:50] avikivity commented on #9505
[code]

But what if the tq is currently active, but empty? We activate an active tq. Is that bad?

[2022-05-16 16:50] avikivity commented on #9505
Probably not.

[code]

[2022-05-16 16:51] xemul commented on #9505
Both groups have constantly running hogs, they shouldn't be "almost-idle" (to be explicitly checked, of course)

[2022-05-16 16:52] avikivity commented on #9505
According to my reading of run_tasks(), the busy->idle->busy transition shouldn't be a problem.

[2022-05-16 16:52] avikivity commented on #9505
Maybe it was somehow running only the hog. But how can it happen? The hog must make way for rpc eventually.

[2022-05-16 16:53] Cary4 commented on #10495
4.2.1-> 4.3.0 -> 4.3.2.
 Is there a process we should follow when scrubbing the sstables?

[2022-05-16 16:53] avikivity commented on #9505
Anyway, even 5 poll periods doesn't explain 15ms. That's 30 periods.

[2022-05-16 17:01] avikivity commented on #10392
f92622e0d does not have 44dc5c4a1d4c26811d5d70c48939ae416ef8845a. @yarongilor let's get another run post 44dc5c4a1d4c26811d5d70c48939ae416ef8845a, in case that's the fix.

[2022-05-16 17:03] avikivity commented on #10236
Thanks, not backporting per above.

[2022-05-16 17:10] cvybhu opened #10579 "cql: Remove support for null inside lists of IN values"
Currently we support queries like:
[code]
Nothing can be equal to null so this is equivalent to:
[code]

Cassandra doesn't support it at all.
[code]
It makes little sense to send a null inside list of IN values and supporting it is a bit cumbersome.

Supporting it causes trouble because internally the values are represented as a list, not a tuple, and lists can't contain nulls.
Because of that cod

[2022-05-16 17:21] cvybhu opened #10580 "cql: Add proper validation for nulls inside collections send as bound values"
Let's say we have a query like:
[code]
And the driver sends a list with null inside as the bound value, something like `[1, 2, null, 4]`.

In such case we should throw `invalid_request_exception` because `nulls` are not allowed inside collections.

Currently when a query like this gets executed Scylla throws an ugly error like this:
[code]

This is because [validation code](https://github.com/scyl

[2022-05-16 17:47] xemul commented on #10392
@avikivity , 043b1c7f89d0dac7b89985b03584b79d6d5d8eb7 (`Merge: Refine COUNTER metrics` part)

[2022-05-17 00:53] asias commented on #10536
nodetool removenode and nodetool decommission is very different operations. Were you running nodetool removenode or decommission? It is better to reproduce with decommission if possible. Decommission is easier operation than removenode.

We really need the scylla monitor data to see what was going.  The 10 minutes debug log looks ok.

[2022-05-17 01:24] asias commented on #10469
@bhalevy  @raphaelsc Per the log  above https://github.com/scylladb/scylla/issues/10469#issuecomment-1125572027,

[code]

How could this happen? Any ideas?

[2022-05-17 01:28] asias commented on #10462
I have sent a PR: https://github.com/scylladb/scylla/pull/10551. With this patch, the first and second item [from](https://github.com/scylladb/scylla/issues/10462#issuecomment-1118058973
) are  implemented. It is going to help a lot even without the third item. Hopefully, the scale test is going to pas with the PR already.

[2022-05-17 01:40] raphaelsc opened #10583 "LCS controller returns high backlog even though space amplification goal is achieved"
LCS targets a space amplification of 1.1

To achieve that, it needs to achieve the layout where for every level L, L is fan_out times larger than L-1.

If level 3 = 1000G, level 2 = 100G, level 1 = 10G, level 0 = 1G, that should
return zero backlog as space amplification is (1000+100+10+1)/1000 = ~1.1

But today, LCS returns high backlog even though the space amplification goal was achieved.

Ther

[2022-05-17 02:06] raphaelsc commented on #10583
![Screenshot from 2022-05-14 22-58-23](https://user-images.githubusercontent.com/1409139/168713675-d5987d09-7011-417c-9f91-70831c069382.png)

[2022-05-17 02:37] asias commented on #10547
@geobeau Thanks for reporting and looking into this. I can reproduce myself. I added a comment in your PR.

[2022-05-17 03:10] asias commented on #10494
The crash is from azure snitch.

[code]

Probably the regression is introduced by the following commits.  @xemul Can you please check?

[code]

[2022-05-17 03:13] raphaelsc commented on #10469
This usually points to data corruption. Cannot pinpoint the cause without inspecting the SSTable content.

@roydahan  I suggest next time we bump into a similar error, let's upload the SSTable referred by the message:

`"got error in row level repair: sstables::malformed_sstable_exception (Failed to read partition from SSTable /var/lib/scylla/data/ks1/table1-87cfcc00cdc011ecb53701dd87bc42ad/md-238

[2022-05-17 05:06] jmaixl commented on #10536
I ran decommission in all of my tests.
I've attached part of the advanced dashboard that shows by task group:

<img width="1727" alt="Screen Shot 2022-05-16 at 10 05 15 PM" src="https://user-images.githubusercontent.com/47194854/168733217-08593eff-151a-4565-bba9-b99e652b2781.png">
<img width="1726" alt="Screen Shot 2022-05-16 at 10 05 24 PM" src="https://user-images.githubusercontent.com/47194854/

[2022-05-17 05:59] xemul commented on #10494
I cannot find logs that show how system behaved right before the crash. All that I see from it is that snitch initialized successfully. @aleksbykov , please point me to correct logs.

[2022-05-17 06:00] aleksbykov commented on #10494
The core happens even before we start collect any significant log data.

[2022-05-17 06:01] xemul commented on #10494
But scylla logs itself somewhere on start.

[2022-05-17 06:09] xemul commented on #10494
Actually, the azure snitch code loos weird from the very beginning (e44fa8d8066)

[code]

It sets `_my_rack` and `_my_dc` on each shard then each shard goes and re-sets the same fields (`set_my_...` re-sets the corresponding `_my_...` field) with values from each shard's `this`. No wonder it crashes.

[2022-05-17 06:15] xemul commented on #10494
IOW

[code]

[2022-05-17 06:31] nyh commented on #6212
@kostja has basically done something similar to what I proposed in the original issue, while my own approach has drifted slightly as I explained in comments above :-) So closing this issue.

[2022-05-17 06:31] #6212 closed

[2022-05-17 06:31] soyacz commented on #10532
As @amnonh mentioned in  https://github.com/scylladb/scylla-monitoring/issues/1733#issuecomment-1127320273, we need to implement this feature in scylla server before adding metric to monitoring. Reopening.

[2022-05-17 06:54] bhalevy opened #10584 "repair_reader and sstables_loader::load_and_stream should embed downgrade_to_v1 logic"
For retiring `downgrade_to_v1` we need to fold its logic into the `repair_reader::read_mutation_fragment()`.

[2022-05-17 06:54] bhalevy commented on #10584
Cc @denesb

[2022-05-17 06:55] bhalevy opened #10585 "streaming::send_info should embed downgrade_to_v1 reader logic"
For retiring `downgrade_to_v1` we need to fold its logic into `streaming::send_info`.

Refs #10584

[2022-05-17 06:57] bhalevy opened #10586 "Get rid of downgrade_to_v1"
This is an umbrella task for getting rid of `downgrade_to_v1`

At this it is still used by repair, streaming, and load_and_stream, plus unit test.

[2022-05-17 06:57] bhalevy commented on #10584
Refs #10586

[2022-05-17 06:57] bhalevy commented on #10585
Refs #10586

[2022-05-17 06:59] fruch commented on #10553
I've kill the cluster in staging (cause seems, no on it looking at).

here's a link to start the reproducer when needed (it takes ~1.5h to get to the coredump point):
https://jenkins.scylladb.com/view/master/job/scylla-master/job/reproducers/job/longevity-harry-2h-test/parambuild/?scylla_version=master:latest&post_behavior_db_nodes=keep&post_behavior_monitor_nodes=keep&post_behavior_loader_nodes=k

[2022-05-17 07:07] bhalevy commented on #10586
It looks like we can move the `downgrade_to_v1` logic into a class wrapping the v2 reader
and expose just a few methods: `schema()`, `future<mutation_fragment_opt> get()` (or a call operator), and `close()`.

It also need to satisfy the `peek()` use case in `streaming_info::send_mutation_fragments` that only checks if there's another mutation fragment queue. So we need some `future<bool>` method.

[2022-05-17 07:08] bhalevy commented on #10584
Closing this issue in favor of #10586 since it looks we can solve repair, streaming, and load_and_stream in one go.

[2022-05-17 07:08] #10584 closed

[2022-05-17 07:08] bhalevy commented on #10585
Closing this issue in favor of #10586 since it looks we can solve repair, streaming, and load_and_stream in one go.

[2022-05-17 07:08] #10585 closed

[2022-05-17 07:28] rayakurl commented on #10543
@slivne - @ShlomiBalalis is OOO for the last 2 days and today as well but he started to run the jobs today.
@ShlomiBalalis - please add links to the jobs here so we will monitor them

[2022-05-17 07:30] xemul commented on #9505
I can explain 11ms.

First half comes from the send path. It starts when packet is enqueued into `_outgoing_queue`, `_outgoing_queue_cond` is signaled. At this point we have:
- this sched group (shares=200) queue: [ hog, _outgoing_queue_cond waiter just queueud ]
- another sched group (shares=1000) queue: [ hog ]

Then scheduler run looks like:
- 5x times "another" group hog
- 1x times "this" grou

[2022-05-17 07:33] nyh commented on #4706
Reopening, because just had the same problem again:

[code]

I see that my patch above - which replaces build.ninja in one rename - is still in. So we can't end up with a half-written build.ninja. But in this case, the build.ninja was outright **deleted**. I suspect that the real problem (which my patch never fixed...) is that ninja deleted what it considered a rule's output - when it saw the rule

[2022-05-17 07:42] denesb opened #10587 "Change internal representation to v2"
That is use `range_tombstone_change` instead of `range_tombstone` to represent ranged deletions inside `mutation_partition`.

As part of this move, we also want to change how range deletions are stored. Currently we have two lists: one for rows and one for range tombstones. Any read will have to do a lookup in both and advance in both data structures in sync. This setup makes writes simple, as the

[2022-05-17 07:44] denesb opened #10588 "Change inter-node mutation representation to v2"
That is, use range_tombstone_change instead of range_tombstone to represent ranged deletions.

This will require a cluster feature to handle updates from versions which don't understand the v2 format. We have a lot of affected verbs, which we will all have to introduce a v2 variant for and support both versions until we don't have any possible upgrade paths where the upgraded-from version doesn't

[2022-05-17 08:06] syuu1228 commented on #10574
@yarongilor non-root mode is currently not supported on CentOS7 and RHEL7 variants (I think we dicided not to support it, support it from CentOS8).

In such distro, we still have supervisord mode (--supervisor):
https://github.com/scylladb/scylla/blob/master/unified/install.sh#L28
But we never documented it, unofficial feature.

[2022-05-17 08:21] nyh commented on #4706
It turns out the new version of this bug is harder to trigger than it used to be - usually when you interrupt the build.ninja rebuild, the original file remains and this bug does **not** occur. But configure.py at some point near its end renames the new build.ninja.tmp to build.ninja - and only if you are (un)lucky enough to interrupt it from that point until the end of the configure.py run then i

[2022-05-17 08:56] psarna commented on #10446
To be clear, this error will not be fatal in production - it's an on_internal_error, which translates to an exception in non-test environments. In any case, we should fix it. What I observe in gdb is extremely weird, exactly like last time, so it's either a very subtle misuse of coroutines, or a miscompilation. The problem is that the assertion informs us that `other.query_results.size(): 0`, but

[2022-05-17 09:03] avikivity commented on #10392
Maybe better to revert the commit that caused these in the first place, for 5.0.

[2022-05-17 09:07] xemul commented on #9505
Here's how it look from both sides (client and server use different relative timestamps in ms)
[code]

Total delay is 28ms, 6ms for request send by client, 6ms for ack send by server, 6ms for ack wakeup by client. Remainder is 10ms for round trip times and some internal seastar poll/wakeup/then/whatever I haven't yet traced.

[2022-05-17 09:08] avikivity commented on #9505
Well, if you run a cpu hog in a group together with a latency sensitive task, you should expect bad latency, especially if the latency sensitive task has few shares. Seastar round-robin makes promise::set_future chains worse here.

So while we explain some of the badness, it's not really helping us, And @asias reproducer showed badness in the high shares class IIRC.

[2022-05-17 09:12] avikivity commented on #9505
Trying to map it back to the cassandra-stress workload: we have

[code]

So gossip can compete with statement class 1:1, and gossip does sometimes have a lot of work to do (preparing new token_metadata_ptr). So it's reducing cpu power by 50% while that happens.

I suggest to drop gossip to 200 shares. It should be enough to get it to respond, but it won't compete with statement.

[2022-05-17 09:13] avikivity commented on #9505
Doesn't explain the top comment though. Repair doesn't run in gossip, it runs in streaming, which has 200 shares.

[2022-05-17 09:16] xemul commented on #9505
An RPC job in 1000-shares hog group reports 8ms p99 latency.

[2022-05-17 09:17] xemul commented on #9505
In Asias test it uses 10 fibers on each side, one in 1000-shares group, another in 200-shares one.

[2022-05-17 09:20] xemul commented on #10392
The commit that caused this in Scylla was actually scylladb/seastar@803e790598fdc9ff28e75d1222749d62015fbf90 that added the metrics itself.

[2022-05-17 09:22] xemul commented on #9505
If I use 5 fibers for each -- both rpc jobs and both hog jobs in 1000- and 200-shares class the RPC p99 latencies would be 145ms for low-prio one and 30ms for high-prio one.

[2022-05-17 09:23] avikivity commented on #9505
That's 16 periods. So, if we have enough chances at losing our run period, and each chance has 1:5 probabilty of losing to the 200 share group, then I guess it can happen. Although (1:5)^3 == (1:125), that explains only 3 periods before moving above the 99th percentile.

[2022-05-17 09:24] avikivity commented on #9505
Then my mental model is wrong. I can't understand how the low-prio tasks would get delayed for 290 task quota periods.

[2022-05-17 09:41] avikivity commented on #9505
If you have 5 cpu hog fibers in an otherwise-empty group you will lose 2.5ms each time they get to run. But I don't see the multiplier that takes it to 30ms for the high prio group.

[2022-05-17 09:42] xemul commented on #9505
I use `do_until` for each hog fiber. It occupies the CPU for the whole 0.5ms even though individual lambda invocation is only 50us. Given 5 such fibers _each_ would add up 0.5 to the wake-up continuation delays

[2022-05-17 09:44] alecco opened #10590 "raft: first node does not start for latest test.py"
Starting a test with
    rm -rf testlog ; ./test.py --mode dev topology/test_topology

The first node does not start if raft is enabled in [default conf template](https://github.com/alecco/scylla/blob/raft-test-topology-05/test/pylib/scylla_server.py#L37).

Scylla REST API is never up.

[2022-05-17 09:45] xemul commented on #9505
5 hogs in 1000-shares group and 5 hogs in 200-shares group. It gives us 5*5*0.5 + 5*0.5 = 15ms. Since send path needs two -- one for flush another one for handling ack -- it adds up to 30ms.

[2022-05-17 09:45] avikivity commented on #9505
So where is 145ms?

[2022-05-17 09:46] avikivity commented on #9505
And we strayed from the original problem. The statement group doesn't have such cpu hogs.

[2022-05-17 09:46] avikivity commented on #9505
(it's still worthwhile to understand it)

[2022-05-17 09:47] avikivity commented on #10392
So maybe we should switch 5.0 metrics back to the old delay.

[2022-05-17 09:48] xemul commented on #9505
:man_shrugging:

In Asias' test it does -- the `force_remove_endpoint` is turned into a hog.

[2022-05-17 09:50] xemul commented on #9505
For the record: 10m packet round-trip time is also not explained yet.

[2022-05-17 09:52] xemul commented on #10392
There's no need (well, up to some extent) in real switch. The prometheus does collect both and the raphana code has 'new_metrics OR old_metrics' in its query. So one can just remove the 'new_metrics OR' part right on the dashboard edit page if needed.

[2022-05-17 09:53] avikivity commented on #9505
I meant the original original problem - cassandra-stress workloads.

[2022-05-17 09:53] avikivity commented on #9505
Yes. We should explain it, and also the problems with the synthetic workload, since they point at gaps in our understanding.

[2022-05-17 09:56] xemul commented on #9505
If intra-node RPC is crucial to latency, doesn't it deserve a dedicated poller-style receive/send handling? [This argument](https://github.com/scylladb/scylla/issues/9505#issuecomment-1124980770) mostly applies to client connections.

[2022-05-17 09:58] avikivity commented on #10532
Coredumps aren't an important thing, crashes are. And scylla isn't the right place to ask if it crashed, it's systemd. Check if systemd has metrics of service crashes.

[2022-05-17 10:00] avikivity commented on #10392
Reopening due to https://github.com/scylladb/scylla/issues/10392#issuecomment-1127721405

[2022-05-17 10:01] avikivity commented on #10392
@yarongilor let's rerun with a build that includes 44dc5c4a1d4c26811d5d70c48939ae416ef8845a (e.g. 5.0rc5)

[2022-05-17 10:06] soyacz commented on #10532
@avi idea is to have such metric so it can be exposed in monitoring. So user doesn't have to log in to node to call command and find out.

This doesn't have to be in Scylla metrics, it could be also exposed by `node_exporter` which I think we use for hardware/OS metrics.

[2022-05-17 10:54] avikivity commented on #9505
It's not a solution. What if someone wants to use another protocol (gRPC, or Scylla's port 9042 protocol)? If every time we want low latency we have to go to a poller, we'll soon have a large amount of pollers (breaking the latency guarantee if they serve many connections) and we'll keep finding new problems. The problem has to be solvable with public Seastar interfaces.

One issue is that if you

[2022-05-17 10:57] rayakurl opened #10592 "coredump when calling describe_ring and a node is being shut down"
Test details
Scylla Version: 5.1.dev0
Manager Version: http://downloads.scylladb.com/manager/relocatable/unstable/branch-3.0/2022-05-14T21:57:57Z/scylla-manager_3.0-dev-0.20220514.8f367a97ae4.linux_x86_64.tar.gz
Build Id: #112
Jenkins job link: https://jenkins.scylladb.com/job/manager-3.0/job/manager-dtest/112/artifact/scylla-dtest/logs/1652569008375_manager_repair_tests.py%3A%3ATestScyllaMgmtRepa

[2022-05-17 11:31] nyh opened #10593 "feature proposal: delete with filtering"
This is another attempt at #4286 by @amnonh - an issue which was closed as invalid, but I think is actually a valid feature request. My renewed interest is inspired by a [a user's question](https://stackoverflow.com/questions/72271493/data-modelling-to-faciliate-pruning-bulk-update-delete-in-scylladb-cassandra) in stackoverflow.

We have a table
[code]
And the user wants to delete _every_ partitio

[2022-05-17 11:56] nyh commented on #2066
Is "SELECT DISTINCT pk FROM foo" still slow as it was 3 years ago? Do we have a benchmark for it?

An efficient "SELECT DISTINCT pk" could have helped the user here - https://stackoverflow.com/questions/72271493/data-modelling-to-faciliate-pruning-bulk-update-delete-in-scylladb-cassandra. He could get a list of all partition keys, and then run an efficient clustering-slice delete on each of those

[2022-05-17 13:04] avelanarius opened #10594 "SELECT TOKEN(v) fails with ServerError when v=NULL"
[code]

fails with
[code]

on Scylla (as of ca322fb7c2786bfa39c833ee30f464d0ea011a36).

Meanwhile, on Cassandra 3.11.8 (and Cassandra 2.2.0), it just returns `NULL`:
[code]

[2022-05-17 13:05] xemul commented on #9505
Using AF_UNIX socket doesn't change resulting latencies, nor tracing timestamps, so it's likely not TCP

[2022-05-17 13:06] avikivity commented on #10594
Returning NULL here seems sensible (any expression involving NULL should return NULL, except for IS [NOT] NULL)

[2022-05-17 13:40] roydahan commented on #10592
BTW, this is a dtest, so it should be fairly easy to reproduce locally with this test:
https://github.com/scylladb/scylla-dtest/blob/a57558035f8776f4efc38851c673c4c7ec89725a/scylla_mgmt_repair_test.py#L538

[2022-05-17 14:32] avikivity commented on #10532
Something has to provide the counter.

[2022-05-17 14:37] avikivity commented on #10200
@bhalevy I thought we improved truncate, but maybe it's only on master.

[code]

Two things we can improve:

1. move the loop that clears old_memtables to a background thread. We have to wait for it during shutdown, but not during truncate.
2. Instead of invalidating the cache in the foreground, create a new cache, and invalidate the old one in the background. Alternatively, teach the cache to do

[2022-05-17 14:37] avikivity commented on #10200
Anyway, we should close this in favor of the original report.

[2022-05-17 15:55] xemul commented on #9505
Server traced
[code]

Timestamps in ms, client and server has independent timestamps.
Tracepoints:
- queue: `_outgoing_queue_cond.signal()` in `connection::send`
- send: `fd.fd.send[msg]` in `reactor::do_write_some` (both overloads)
- polled: `pollable_fd_state_completion::complete_with`
- recv: `h->func` in `server::connection::process`
- wakeup: rpc tester message sending continuation lambda

Th

[2022-05-17 16:04] soyacz commented on #10532
I can propose some solution.

[2022-05-17 16:16] avikivity commented on #9505
We can avoid the send wakeup. Usually, the output_stream is ready, so adding an entry to a queue and waking up the queue handler is just wasteful. Instead we should just write to the output_stream ourselves.

Maybe we can just drop _outgoing_queue, and replace it with a lock to serialize access. Since the network is fast, usually we'll take the lock, write, and release immediately.

[2022-05-17 17:00] xemul commented on #9505
The `pollable_fd_state_completion::complete_with` seems to deserve `_pr.set_urgent_value()` as well.

[2022-05-17 17:53] KnifeyMoloko commented on #10304
## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.1.dev-20220513.8e8dc2c930f5` with build-id `db03bd099e34fdbcc0ab957324be67cc42850a83`
Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-200gb-48h-verify-limited--db-node-cdaa0541-1 (52.50.81.232 | 10.0.3.217) (shards: 14)
- longevity-200gb-48h-verify-limited--db-node-cdaa05

[2022-05-17 20:23] fgelcer commented on #10530
@roydahan , seems like switching to Scylla driver was the key to solve this issue (as as my previous comment), and running from master didn't reproduce this issue, so we can conclude this is related to SCT and close this issue.

[2022-05-18 03:00] asias commented on #10592
The commit you mentioned above is quite old. Which dtest commit were used for this report?

[code]

[2022-05-18 03:05] asias commented on #10592
scylla_mgmt_repair_test.py is not present in current master of dtest. e4d37f739a81a1c682b108583aea966cf99d3adc

How do I reproduce locally?  How do I setup scylla manager for dtest?

[2022-05-18 03:22] asias commented on #10592
It does not look like a stream was not closed in repair.

Looks like it was crashed during a http request to get token ring.

Decoded:

[code]

[code]

[2022-05-18 03:43] swaritarora opened #10596 "Adding and Replace node impacts cluster performance with TimeWindowCompactionStrategy"
*Installation details*
Scylla version (or git commit hash): 4.4.8
Cluster size: 6 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

*Hardware details (for performance issues)*         AWS i3.4xl
Platform (physical/VM/cloud instance type/docker): AWS i3.4xl
Hardware: sockets= cores= hyperthreading= memory= Network Up to 10Gbps
Disks: (SSD/HDD, count) 2 x 1900 NVMe SSD

While trying to replace a dead n

[2022-05-18 05:21] eliransin commented on #10146
As mentioned in https://github.com/scylladb/scylla/issues/10146#issuecomment-1126866386 the bug was "fixed". However, the fix
was a simple revert and the reason for the actual bug was unknown.
We found what is wrong and a PR will follow, I am posting here the result of running the test with the fixed reapplied patch from
@bhalevy . PR will follow :slightly_smiling_face:
https://github.com/scylladb

[2022-05-18 06:29] fruch opened #10598 "Missing key in cassandra-harry verification while doing rolling restart of the cluster"
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 6 nodes (i3.large)

Scylla Nodes used in this run:
- longevity-harry-2h-test-har-db-node-5ad966f5-9 (13.51.238.118 | 10.0.2.230) (shards: 2)
- longevity-harry-2h-test-har-db-node-5ad966f5-8 (16.16.27.133 |

[2022-05-18 06:34] fruch commented on #10598
More times it happened:

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 6 nodes (i3.large)
OS / Image: `ami-0e4ae5e4a139c50f3` (aws: eu-north-1)

Test: `longevity-harry-2h-test`
Test id: `a4bdcc57-c0d5-4e25-8ab7-56a32f1d6a40`

- Restore Monitor Stack co

[2022-05-18 07:27] fgelcer commented on #10592
https://github.com/scylladb/scylla-dtest/blob/e4d37f739a81a1c682b108583aea966cf99d3adc/manager_repair_tests.py#L584

[2022-05-18 08:10] asias commented on #10592
OK. How do I setup scylla manager for dtest?

[code]

[2022-05-18 08:56] ShlomiBalalis commented on #10543
I've managed to recreate it and kept the cluster alive:
[code]
[code]
Logs:
[code]

[2022-05-18 09:53] avikivity commented on #9505
I'm not sure. Let's say we're processing two connections. One became ready and we started processing it. Later another became ready. Why should the second take priority over the first?

[2022-05-18 10:03] roydahan commented on #10287
@kostja From what I understand, the issue is only when you set configuration to use raft and then fully stop the cluster and start it.

If that's the case, is it even a real issue?
We can define that the upgrade procedure should be as in "3rd scenario" gradually move nodes one by one.

[2022-05-18 10:34] rayakurl commented on #10483
Added the "master/high" label since this issue is reproduced on all EOL artifacts tests (online and ofline)

[2022-05-18 11:04] rayakurl commented on #10592
@ShlomiBalalis - please assist @asias with recreating this issue. Thanks

[2022-05-18 11:28] ShlomiBalalis commented on #10592
I contacted Asias and will help him with recreating the issue

[2022-05-18 11:50] DoronArazii commented on #9807
@rayakurl removing the "master/triage" since we have @kostja as owner in this issue

[2022-05-18 12:03] DoronArazii commented on #6438
Removing "master/triage" - we have @piodul on this issue

[2022-05-18 12:11] asias commented on #10592
Updated scylla-ccm to latest master. Used --scylla-manager-package option per Shlomi's suggestion. Still saw error.

[code]
========================================================================================================== warnings summary ===========================================================================================================
../scylla-ccm/ccmlib/repository.py:380
  /ho

[2022-05-18 12:16] vlaualv opened #10600 "Scylla_setup get mode sq_split,and the read-write latency become higher because cpu0 si is 100%"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version: 4.3.6
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): Cen

[2022-05-18 12:27] xemul commented on #9505
The kick was introduced by scylladb/seastar@e536555081cde5c8b6eac5f70f691d1fc3da7a8a

[2022-05-18 12:41] avikivity commented on #9505
Yes.

But now we have semaphore::wait(abort_source&).

So how about this:

1. drop the queue, switch back to continuation chain serialized with a semaphore
2. still allocate a structure per entry, and in that structure have an abort_source
3. configure cancellable::cancel_send() to yank the abort_source

Although, this will result in exceptions in the normal path, which is bad. I guess we can use

[2022-05-18 13:06] roydahan commented on #10469
#10543 which is suspected as dup of this was reproduced and information is being added there.

[2022-05-18 13:16] gleb-cloudius commented on #9505
First of all it is a pity that such discussion happens here, invisible to everybody, but participants,  instead of a mailing list. What do we need ML for then?

Second I am not sure I understand your solution with a condition_variable. The idea with the queue was that one will be able to drop packets (and, most important, free the memory) from the middle of the queue and not just from the head. Wo

[2022-05-18 13:42] avikivity commented on #9505
The conversation evolved out of a bug, which was reported here.

Yes, you'll have to use broadcast() for this, which is terrible for rpc which can have many waiters.

Maybe we'll be forced to hand-roll synchronization here with future and promise. Each waiting entry will wait on some promise, and cancellation and chaining code will call set_promise to wake.

Another option is to keep the queue, bu

[2022-05-18 14:10] ShlomiBalalis commented on #10592
I'm not sure it can be

[2022-05-18 14:12] ShlomiBalalis commented on #10543
I uploaded the entirety of the sstables of the corrupted node (node 3): gs://scratch.scylladb.com/balalis/corrupted_data_node_3.tar.gz

Can we terminate the cluster?

[2022-05-18 17:04] jul-stas commented on #10479
Mysterious. Looks that a counter mutation was applied on the leader and nowhere else, without error. But then how one replica replied correctly at CL=LOCAL_QUORUM? Perhaps it applied a read repair, having locally the counter-shard with the newest logical timestamp.

I'll have to reproduce it.

[2022-05-18 20:16] #9313 closed

[2022-05-19 06:39] yarongilor opened #10604 "[oel81 offline install] 'start scylla-server.service' fails with '/etc/bashrc: line 99: TMOUT: readonly variable'"
## Installation details

Cluster size: 1 nodes (i3.large)

Scylla Nodes used in this run:
- artifacts-oel81-jenkins-db-node-d82b83e4-1 (52.209.139.254 | 10.0.1.11) (shards: -1)

OS / Image: `ami-0e883e67243efea62` (aws: eu-west-1)

Test: `artifacts-oel81-test`
Test id: `d82b83e4-820d-4e57-8c10-2de44dee7be7`
Test name: `scylla-5.0/artifacts-offline-install/artifacts-oel81-test`
Test config file(s):

[2022-05-19 06:52] denesb commented on #10126
0d5fd526a5 added a way to use schemas of built-in tables, based on their name.

[2022-05-19 06:56] yarongilor opened #10605 "[centos8-arm offline install] Install house-keeping fails with: "libreloc/ld.so: cannot execute binary file: Exec format error""
## Installation details

Cluster size: 1 nodes (r6gd.large)

Scylla Nodes used in this run:
- artifacts-centos8-jenkins-db-node-4eddf583-1 (34.248.139.67 | 10.0.2.203) (shards: -1)

OS / Image: `ami-07d54ca4e98347364` (aws: eu-west-1)

Test: `artifacts-centos8-arm-test`
Test id: `4eddf583-7dfd-478a-93c1-e42a50c00cc4`
Test name: `scylla-5.0/artifacts-offline-install/artifacts-centos8-arm-test`
Test

[2022-05-19 07:01] bhalevy opened #10606 "Add issues to Storage Team project automagically"
We started working with: https://github.com/orgs/scylladb/projects/19
but we currently need to add issues to the project manually.

We'd like to automate the process so that whenever any of the team members is assigned to an issue, it will automatically be added to the team's github Project.

I understood from @eliransin that the preferred way to do that would be using github Actions.
For example,

[2022-05-19 07:02] bhalevy commented on #10606
Note that the project itself is not affiliated with any particular repository.
It's scope is the scylladb organization.
Unfortunately, the action is repo specific and should be implemented on every repo we want to track automatically.

[2022-05-19 07:05] bhalevy commented on #10606
Also, @avikivity, currently folsk that don't have write access to the repo (like me) don't see the "Settings" (gearwheel) option for Projects on the github issue (on the right vertical bar) so they can't add an issue to the project this way.
Is there a way to expose it to developers?

[2022-05-19 07:23] xemul commented on #10392
@avikivity , I've just thought that there's no need to backport the whole branch. Only carefully fix two metrics in io_queue.cc and add short version of the `REAL_COUNTER` thing

[2022-05-19 07:24] bhalevy commented on #10418
Issue can be closed now that the backport is done.

[2022-05-19 07:24] #10418 closed

[2022-05-19 07:28] bhalevy commented on #9313
@scylladb/scylla-maint please consider e6fe9cc683f49f4176ef8e7ee2b584b127a97036 for backport to 5.0

[2022-05-19 07:53] yarongilor commented on #10604
Got also an error access for `scylla` and a failure verifying scylla `help`:
[code]

[2022-05-19 07:57] denesb commented on #10405
[code]
The middle part of the dump is still filtered out somehow. It should look something like this:
[code]
Not exactly like this because this is from master, but we should see columns separated by tabs in the middle lines, that are empty in the above report. QA please look into fixing this.

[2022-05-19 08:03] gleb-cloudius commented on #9505
On Wed, May 18, 2022 at 07:37:20AM -0700, Pavel Emelyanov wrote:

It is solved in rpc as well. But if we do not want to have an explicit
queue and use CV instead... BTW from the long discussion here I am not
sure this queue is even the culprit.

--
			Gleb.

[2022-05-19 08:24] nyh opened #10607 "Drop support for CQL v2"
In my review of https://github.com/scylladb/scylla/pull/10599 I raised eyebrows about an inconsistency in the antique CQL v2 definition.
They had the following text:
[code]

If `[short]` is an **unsigned** 2-byte integer, why is `[short bytes]` saying **if n >= 0**? I'm guessing this "if" wasn't redundant - that there was indeed a possibility of size = -1 (a short version of the `null` value), so

[2022-05-19 09:02] denesb commented on #10405
We won't be able to investigate issues like this until this is fixed.

[2022-05-19 09:28] denesb commented on #10543
Schema:
[code]
Note that this is a MV, but I transformed it into a table defintion so we can use it with our sstable tools (which doesn't support MV yet).
I had to reconstruct this from snapshot `schema.cql` and manually from system schema tables as we don't have a working way to dump schemas on F35: our own CQLSH won't even start up due to removed python2 packages, and C*'s CQLSH relies on server

[2022-05-19 09:29] denesb commented on #10543
[code]

[2022-05-19 09:30] denesb commented on #10543
We have one invalid sstable: `md-301-big-Data.db`.

[2022-05-19 10:08] yarongilor opened #10608 "systemd-timesyncd is not installed on oel76 instance, yet Scylla did not install ntp or chrony services as a replacement"
## Installation details

Kernel Version: 4.14.35-1902.5.2.2.el7uek.x86_64

Cluster size: 1 nodes (i3.large)

Scylla Nodes used in this run:
- artifacts-oel76-jenkins-db-node-e3f8efcf-1 (34.244.161.148 | 10.0.2.48) (shards: 2)

OS / Image: `ami-0d6a24fe35fdf5dc4` (aws: eu-west-1)

Test: `artifacts-oel76-test`
Test id: `e3f8efcf-d430-409b-9ff5-af2504d39386`
Test name: `scylla-5.0/artifacts-offline-i

[2022-05-19 10:33] roydahan commented on #10405
@vponomaryov can you please check if the problem comes from our side?

[2022-05-19 10:33] avikivity commented on #3288
Similar problem in Linux: https://lwn.net/Articles/894098/

[2022-05-19 10:42] roydahan commented on #10574
Ok, non-root offline installer isn't supported on OEL 76 (same as CentOS7).

[2022-05-19 10:42] #10574 closed

[2022-05-19 10:46] roydahan commented on #10608
@yarongilor how does OEL76 passes in regular mode (non-offline)?
Maybe it's something we don't provide as offline package and we should assume it's there...

[2022-05-19 11:04] fgelcer commented on #9828
seeing it happening again on 5.0:

## Installation details

Cluster size: 1 nodes (n1-standard-2)

Scylla Nodes used in this run:
- artifacts-gce-image-pd-jenkins-db-node-e6b9241f-0-1 (34.75.232.240 | 10.142.0.16) (shards: -1)

OS / Image: `https://www.googleapis.com/compute/v1/projects/scylla-images/global/images/8284842843121355894` (gce: us-east1)

Test: `artifacts-gce-image-persistent-disk-tes

[2022-05-19 11:09] slivne commented on #10494
@xemul - are you sending a patch to fix this ?

If we run a machine and give you access to it would that help ?

[2022-05-19 11:11] tgrabiec commented on #10498
Related issue: https://github.com/scylladb/scylla/issues/4344

[2022-05-19 11:11] slivne commented on #10598
Can we try and run this on 4.6 - to see if this is a regression

[2022-05-19 11:12] slivne commented on #10598
@fruch ^^

[2022-05-19 11:14] slivne commented on #10598
@eliransin try to find someone that can help look at this

[2022-05-19 11:18] slivne commented on #10605
The package that is passed

[code]

does not seem correct - can you please verify this is used

[2022-05-19 11:19] xemul commented on #10494
@slivne , I can prepare a patch, yes. I don't think I need a machine, it's a race + use-after-free that would be hard to trigger intentionally from my pov.

[2022-05-19 11:19] #10605 closed

[2022-05-19 11:44] slivne commented on #10469
We have two runs

https://jenkins.scylladb.com/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-centos7-test/229/parameters/

does nto have the issue (double check)

Run with the issue

https://jenkins.scylladb.com/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-centos7-test/230/

Lets extract the git commits between them and then use that to check git og and see if we have a su

[2022-05-19 11:46] roydahan commented on #10469
https://jenkins.scylladb.com/view/master/job/scylla-master/job/reproducers/job/10543/job/rolling-upgrade-ubuntu18.04-test-1/

[2022-05-19 12:23] avikivity commented on #9505
It's not "the" culprit, but every time we wake something using promise::set_value() we send it to the back of the queue, compared to a normal continuation chain where it just executes.

In addition, it's just inefficient if the queue is empty (a common case).

[2022-05-19 12:24] avikivity commented on #10392
@xemul I agree, please do the backport (and ref this issue)

[2022-05-19 12:29] gleb-cloudius commented on #9505
On Thu, May 19, 2022 at 05:23:54AM -0700, Avi Kivity wrote:

It just executes if it happens to be submitted on the same fiber.
Otherwise you need to signal another fiber to proceed. Some rpc users
run in a single fiber (like streaming, but it moved to rpc stream
anyway). But for CQL request each request runs in a separate fiber.

That case may be worth optimizing for.

--
			Gleb.

[2022-05-19 12:31] asias commented on #10592
Dtest hangs at `collecting ... ` forever.

[code]

[code]

[2022-05-19 12:32] avikivity commented on #9313
I think it's not a regression in 5.0, so it's better to reduce 5.0 risk by not backporting i.t

[2022-05-19 12:33] avikivity commented on #9505
Maybe it's enough to just add a special case (though I prefer avoiding special cases and structuring the code for all the cases we want to handle)

[2022-05-19 12:35] avikivity commented on #10606
I don't think so. I'm not an expert in github.

[2022-05-19 12:37] asias commented on #10592
Shlomi helped to setup a vm to run the dtest.  5 out 5 runs passed so far.

[2022-05-19 12:54] bhalevy commented on #9313
The problem is that dtests (and possibly naive users too) are now expecting this when disabling auto compaction.
I'm afraid that not backporting it could create noise in testing.

[2022-05-19 13:21] yarongilor commented on #10605
@slivne , it is similarly reproduced for Debian10-arm:
[code]

## Installation details

Cluster size: 1 nodes (r6gd.large)

Scylla Nodes used in this run:
- artifacts-debian10-jenkins-db-node-a60ea2a3-1 (54.76.179.61 | 10.0.1.150) (shards: -1)

OS / Image: `ami-03505f4be3ad4f07b` (aws: eu-west-1)

Test: `artifacts-debian10-arm-test`
Test id: `a60ea2a3-187c-44b4-9acc-db6165173332`
Test name: `scyll

[2022-05-19 14:39] bhalevy commented on #10571
Yes

[2022-05-19 15:11] Fornax96 opened #10613 "terminate called after throwing an instance of 'std::bad_alloc'"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.6.3
Cluster size: 5
OS: Ubuntu 2

[2022-05-19 15:44] avikivity commented on #10613
It fails while logging:

[code]

[2022-05-19 15:53] avikivity commented on #10613
The crash is due to a bug in Scylla where it fails to allocate a buffer for log messages including a prepared statement, but the context for the allocation forbids failures. We'll fix that.

Meanwhile, I expect the problem is related to huge prepared statements. Are you generating them in some way?

[2022-05-19 16:09] Fornax96 commented on #10613
Yea, when someone creates an album on pixeldrain all the files are inserted into a single partition with a batch statement. The albums can contain up to 10k files.

[2022-05-19 16:29] avikivity commented on #10613
Why do you need a huge prepared statement for that? Are application values part of the prepared statement? They should all be supplied as parameters.

[2022-05-19 16:35] Fornax96 commented on #10613
I don't manually prepare statements. gocql does that for me.

[2022-05-19 16:37] avikivity commented on #10613
But is the input text a fixed string or generated by you?

[2022-05-19 16:51] avikivity commented on #10613
Well, I know nothing about that. But very likely you're generating a huge and unique prepared statement each time. What you probably need is just one prepared statement, for inserting a single row, and then create a batch of those. I don't know how to do that in gocqlx, copying @mmatczuk.

[2022-05-19 16:56] Fornax96 commented on #10613
I have some helper functions to make it easier, but my code essentially comes down to this:

[code]

I can insert them one row at a time, but that will be slower and it could leave me with invalid state if a query fails halfway.

[2022-05-19 17:45] avikivity commented on #10613
@mmatczuk does that create a huge CREATE BATCH statement, or a [multi-statement BATCH](https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L419)?

[2022-05-19 17:46] avikivity commented on #10613
From `batch.ToCql()` I'm guessing it will create a huge textual batch.

[2022-05-19 17:51] Fornax96 commented on #10613
I'm pretty sure it creates one huge batch statement. I think if I use gocql's NewBatch() function it doesn't do that, but then I can't use the query builder. Not a huge problem, but it breaks my coding style as I use the query builder everywhere else.

I'll check if it works tomorrow.

[2022-05-19 17:57] kostja opened #10614 "cql-pytest/test_tools leaks scylla instances when test.py is interrupted with ctrl-c"
cql-pytest/test_tools is starting and stopping scyllas and nested commands, but if the runner is interrupted, the nested test is simply killed, so the programs started are orphaned.

[2022-05-19 17:58] kostja commented on #10614
@nyh finally got the reproduce steps.

[2022-05-19 18:16] #10558 closed

[2022-05-19 18:16] #10580 closed

[2022-05-19 18:16] #10483 closed

[2022-05-19 18:57] jmaixl commented on #10536
I agree, but that's what I am observing.

Here is an example of how the load spikes to 100 and remains at 100, and the advanced dashboard remains at 0. I barely inserted any data either (100 rows)

![image](https://user-images.githubusercontent.com/47194854/169378904-662504e5-f83b-42e4-b481-f213d64fa2a5.png)

[2022-05-19 20:28] jmaixl commented on #10536
Ok, turns out the Scylla monitoring dashboard query is wrong.. ([see old comment about the query and axis not being correct](https://github.com/scylladb/scylla-monitoring/issues/491#issuecomment-490132979))

Fixing the query shows non-zero values:
- gossip 2%
- main 7%
- streaming 7%

This is with a 5 node cluster after 1 node was decommissioned, and all 5 nodes have 1 out of 2 CPUs at 100% (no tr

[2022-05-19 22:02] Fornax96 commented on #10613
I updated my code to use raw queries instead of the BatchBuilder. I'll keep an eye on my cluster to see if this helps

[code]

[2022-05-19 23:01] #10528 closed

[2022-05-20 05:09] denesb commented on #10543
Updated the tool to also include the chunk's index in the printout. We can see that we have two pairs of consecutive chunks affected: 13742, 13743 and 13747, 13748.

[2022-05-20 05:18] denesb commented on #10543
[code]
[13742.txt](https://github.com/scylladb/scylla/files/8736117/13742.txt)
[13743.txt](https://github.com/scylladb/scylla/files/8736118/13743.txt)
[13747.txt](https://github.com/scylladb/scylla/files/8736119/13747.txt)
[13748.txt](https://github.com/scylladb/scylla/files/8736120/13748.txt)

I don't see anything out of the ordinary on first look. No large spans of 00000 or similar.

[2022-05-20 05:22] denesb commented on #10543
[code]
[13742.txt](https://github.com/scylladb/scylla/files/8736141/13742.txt)
[13743.txt](https://github.com/scylladb/scylla/files/8736142/13743.txt)
[13747.txt](https://github.com/scylladb/scylla/files/8736143/13747.txt)
[13748.txt](https://github.com/scylladb/scylla/files/8736144/13748.txt)

I don't see anything immediately suspicious on first look. No spans of 0000 or similar.

[2022-05-20 05:29] denesb commented on #10543
Dumping a healthy chunk for contrast:
[code]
[13744.txt](https://github.com/scylladb/scylla/files/8736164/13744.txt)

No obvious differences.

[2022-05-20 05:36] denesb commented on #10543
[code]

[2022-05-20 06:04] psarna opened #10615 "User-defined aggregates do not work with collections used for `initcond`"
In current code, `initcond` part of the aggregate is stored in system tables as `bytes` type, but the code erroneously serializes the initial values as strings, and then decodes from strings too. This is problematic, because CQL collections do not implement deserialization from strings. Instead, regular CQL serialization/deserialization routines should be used, because the column type is already r

[2022-05-20 07:08] asias commented on #10592
I still cannot run the dtest locally.

But I can reproduce with a different approach without repair at all.

scylla: c51a41a8850ac6f595b920b65860c170b5f215b5

1) start 2 nodes
2) run the following script in the background
[code]
3) shutdown node2
[code]

I think this is probably a recent regression.  @rayakurl can you provide a "good" commit?

I saw some refactor from Pavel. It might be related.

[2022-05-20 07:53] psarna commented on #10615
Ugh, wait, I looked at some wrong code. `initcond` is unfortunately stored as `utf8` type, so a string:
[code]
So perhaps we just need to implement `from_string` for tuples and other collections in order to remain compatible with C* :(

[2022-05-20 09:56] bhalevy opened #10617 "failure to read index lead to sstables::partition_index_cache::entry::~entry(): Assertion `!is_referenced()' failed"
Reported on [scylladb-users@googlegroups.com](mailto:scylladb-users@googlegroups.com):

[code]

Decoded: (build_id: 8d16d8972498cc769071ff25309b009eb77bf77a)
[code]

[2022-05-20 11:35] horschi commented on #10617
This node seems to have been low on memory. It had about 100GB of data on it. It was configured to have 3GB of memory, with a smp=1. Once I updated to 5GB memory, the bad-alloc issues were gone. I would expect that scylla should be able to handle the data volume with these memory settings.

Upon further investigation, I realized that the disk of that node went probably full during compaction. I as

[2022-05-20 12:18] kbr- opened #10618 "raft: cluster may become permanently leaderless after a leader reconfigures itself to be a non-voter"
The following scenario may cause the cluster to get stuck:
1. One node in the config, A. Second node outside config, B.
2. Network partition between A and B.
3. A appends a joint configuration entry `{(A, voter)} -> {(A, non-voter), (B, voter)}`.
4. Eventually A gives up leadership, becomes a candidate.
5. Network partition resolves.
6. The cluster is stuck. A is the only node who can become leade

[2022-05-20 12:33] nivekuil opened #10619 "sstableloader cannot load table named "view""
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 5.0.rc3
Cluster size: 1
OS (RHEL/C

[2022-05-20 18:02] bhalevy opened #10621 "Don't mention "flat mutation reader" in user facing documentation"
It's an internal class that has no relevance to users.

Fir example, here a question that came up on the scylla-users list:

It's an internal class that has no relevance to users.

Fir example, here a question that came up on the scylla-users list:

This could probably better phrased like "Number of single partition reads.

[2022-05-21 06:11] gleb-cloudius commented on #10618
On Fri, May 20, 2022 at 05:18:47AM -0700, Kamil Braun wrote:

I do not see why. It cannot commit joint entry and thus is should
remain a voter and a leader.

--
			Gleb.

[2022-05-21 08:42] nyh commented on #10619
The problem is that the name "view" is a reserved keyword in CQL, so one cannot simply do `CREATE TABLE mykeyspace.view` as it confuses the parser. But CQL does allow you to to **quote** the table name, as follows `CREATE TABLE mykeyspace."view"` and that should work.

So sstableloader should quote table names it uses if they are keywords.
Quoting is also necessary for table names which have mixed

[2022-05-21 08:53] nyh commented on #10614
Thanks. I guess you mean that cql-pytest/test_tools.py is the one that is leaking processes (which is the past you suspected cql-pytest/run.py was doing)?

Thanks. That makes sense. cql-pytest/run.py is very careful about killing the subprocesses it started, but you're right that test_tools.py is a special tool that starts additional processes.

I'll fix it.

I'll need to fix it in a way that does

[2022-05-21 12:09] kostja commented on #10614
except (asyncio.TimeoutError, asyncio.CancelledError) as e:
              if process is not None:
                  if gentle_kill:
                      process.terminate()
                  else:
                      process.kill()

[2022-05-21 12:09] kostja commented on #10614
https://docs.python.org/3/library/asyncio-subprocess.html#asyncio.subprocess.Process.terminate

[2022-05-21 22:52] fee-mendes opened #10625 "Empty composite partition keys are allowed in Scylla"
*Installation details*
Scylla version (or git commit hash): 5.0.rc5-0.20220515.9da666e77 with build-id `5992da65161c733b3f85b8c93bbbb5151d4d321c`
Cluster size: 1
OS: Ubuntu 20.04

**Description**

Scylla and Cassandra have somehow an interesting (undefined?) behavior when one tries to insert empty values to certain keys on composite partition tables, more notably when using the `INSERT JSON` state

[2022-05-22 06:13] juliayakovlev commented on #9807
Reproduced with `2022.1~rc5-20220515.6a1e89fbb`

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `2022.1~rc5-20220515.6a1e89fbb` with build-id `5cecadda59974548befb4305363bf374631fc3e1`
Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-3h-2022-1-db-node-08e5e5be-4 (3.235.47.17 | 10.0.0.103) (shards: 8)
- longevity-lwt-3

[2022-05-22 06:26] slivne commented on #10625
@nyh did we not fix that ?

[2022-05-22 06:38] nyh commented on #10625
Before I'll look into your specific example and figure out whether we still have a bug or not (and write tests to confirm all of that :-)), I want to explain what the behavior is **supposed** to be:

1. No key column can ever be allowed to be a "null". This should be true for partition key, for clustering key, or for just one column out of a compound key. None of them can ever be allowed to be "nu

[2022-05-22 06:40] slivne commented on #10604
/cc @yaronkaikov fyi

[2022-05-22 06:50] slivne commented on #10596
To investigate such an issue we need logs.

Version 4.4 is not supported anymore - we only support the last two open source releases - at this point int time May 22nd 2022 its 4.5, 4.6.

Please note we do not fix issues in non supported releases and do not do backports to those releases even if we find a bug.

We have been working on limiting compaction effect during bootstrap as part of Off Strat

[2022-05-22 06:52] slivne commented on #10592
@rayakurl ping

[2022-05-22 06:53] nyh commented on #10625
After explaining in the above comment how Scylla is supposed to behave, let me also explained what I recently fixed:

1. While normal INSERT did not allow a full partition key to be an empty string (like Cassandra decided), INSERT JSON allowed it. I added the check to forbid it.
2. An empty partition key should be allowed in MV and SI - because that's what happened when you index an empty string v

[2022-05-22 06:53] slivne commented on #10592
@asias can you try and validate this on your own - revert the patch and see if that does not reproduce

[2022-05-22 07:02] slivne commented on #10577
I don't think our limits don;t make sense - user trip on this.

As a reference this is Astra's (the managed cassandra offering by Datasta limits)
https://docs.datastax.com/en/astra/docs/plan/planning.html#_serverless_database_limits

[2022-05-22 07:19] rayakurl commented on #10592
@asias - unfortunately the jenkins saves only the last 20 jobs. the first one that I remember is May 7th. but it might have started a few days prior to that.

[2022-05-22 07:44] nyh commented on #10614
I found that:
1. When `pytest test_tools.py` is killed with control-C, this interactive signal also reaches the subprocesses and they are all killed, just as expected.
2. However, when instead of the interactive control-C one does seemingly the same thing - "kill -2 pid" (it's thesame signal), there is a difference: the signal is only sent to pytest itself, and does not kill subprocesses!
3. "kill

[2022-05-22 08:08] gleb-cloudius commented on #10618
Ah, because there is no alive quorum any longer.

[2022-05-22 08:33] gleb-cloudius commented on #10618
I do not think it is even well defined what the function does since `unordered_set::insert(iter, iter)` says it is not defined what happens if there are duplicates.

`configuration::can_vote` has right definition of a voter and this function should follow it as well.

A node can become a vote as long as joint is not committed yet. It may need to commit the joint after all. The code in `become_cand

[2022-05-22 08:36] kostja commented on #10614
One thing I don't get is test.py has setsid() in create_subprocess, so it should make sure entire child is its own process group. Maybe we remove this setsid so that children are in the same group as a parent?

[2022-05-22 09:00] nyh commented on #10614
Calling setsid() (the newer Python has `start_new_session=True`, by the way, you could have used that instead), is a good start  (I didn't notice you have it there) but is not enough. You also need to kill it with `os.killpg(os.getpgid(someproc.pid), signal.SIGTERM)` instead of `someproc.terminate()`. I think. Can you try this please?

[2022-05-22 09:19] tzach opened #10626 "Warnings : Aggregation query used without partition key"
Apache Cassandra issue a warning on select which generate a full scan.
For example:

[code]

[2022-05-22 09:26] syuu1228 commented on #10604
I guess it's same issue with #8049, it is caused becuase this AMI is customized from OEL default configuration, and causing error message when loading /etc/bashrc file (it changed umask to more strict setting).
But we fixed our setup script to able to run in such strict umask settings: https://github.com/scylladb/scylla/commit/f3a82f46853e312303c615fa9cc2e8f576f28963

I guess this time is not rela

[2022-05-22 09:46] nyh commented on #10614
Leaving the "pytest" child (and its children) in the same process group as the parent (test.py) is fine if you don't have code that terminates the subprocesses explicitly (and instead rely on somebody killing test.py's process group from outside). But I think that you do have such pid.terminate() calls? By the way, in test/cql-pytest/run.py I explicitly wanted to kill the pytest subprocesses befor

[2022-05-22 09:56] fruch commented on #10598
@slivne @eliransin

Happens also on 4.6.3, so it's no regression:

Kernel Version: 5.11.0-1022-aws
Scylla version (or git commit hash): `4.6.3-20220414.8bf149fdd` with build-id `8d16d8972498cc769071ff25309b009eb77bf77a`
Cluster size: 6 nodes (i3.large)

OS / Image: `ami-010abbe835b052d37` (aws: eu-north-1)

Test: `longevity-harry-2h-test`
Test id: `fc555304-c2e8-4e9d-8c0c-9d0e8f37260d`
Test name:

[2022-05-22 10:07] slivne commented on #10600
We support only the two latest scylla open source releases, as of today May 22 2022 its 4.5 and 4.6

Please upgrade

With regards to your question

https://docs.scylladb.com/operating-scylla/admin-tools/perftune/

sq and sq_split will allow interrupts to run on a vcpu / core

mq allows sending interrupts to all cores - you need to have enough queues

We have seen cases in the past in which there a

[2022-05-22 10:17] nyh commented on #10614
I sent a patch titled "test/*/run: improve signal handling in test runners" to the mailing list, fixing some inconsistencies regarding process groups and how they are killed, but only in `test/*/run`, not in `test.py`. After my patch, killing test/cql-pytest/run with "kill -2" or "kill" (kill -15) will kill all the subprocesses - including those start by `test_tools.py`.

I decided that that would

[2022-05-22 10:38] roydahan commented on #10608
@yarongilor ping

[2022-05-22 10:38] fgelcer commented on #10608
ping @yarongilor

please confirm what differs between the offline install one, and the regular artifacts

[2022-05-22 10:43] roydahan commented on #10462
@slivne / @bhalevy shouldn't we mark this bug as 'high'?

[2022-05-22 10:47] slivne commented on #10514
closing the issue - since everything was handled

@cjbottaro if anything is left to be done - please comment and we can revisit

[2022-05-22 10:47] #10514 closed

[2022-05-22 10:49] slivne commented on #10495
@bhalevy assigning this to you - need help on the documentation on how to scrub (without upgrading sstable version)

[2022-05-22 11:05] fgelcer opened #10627 "artifacts offline installer - Ubuntu 20.04 ARM missing during installation"
### Versions
* **SCT**: master (8a3efc46a1a5ad5ef7eeb7b708437a2c096a144b)
* **scylla**: `5.1.dev.0.20220519.e6fe9cc683f4`

### Logs
* test_id: `4b283f13-51a8-4565-afdb-6d40ad4b5038`
* job log: https://jenkins.scylladb.com/view/master/job/scylla-master/job/releng-testing/job/artifacts-offline-install/job/artifacts-ubuntu2004-arm-test/3

### Description

[code]

could it be that Scylla package must

[2022-05-22 11:23] avikivity commented on #10627
It's a bug, it should refer to the ARM version.

[2022-05-22 11:23] avikivity commented on #10627
However, I don't see this command in scylla.git.

[2022-05-22 11:24] fgelcer commented on #10627
yes, seems like this is inside the SCT repo

[2022-05-22 11:24] #10627 closed

[2022-05-22 11:24] avikivity commented on #10627
It's in s-c-t:

[code]

[2022-05-22 11:25] avikivity commented on #10626
I think we shouldn't warn here. Instead we have automatic parallelization of such queries.

[2022-05-22 11:42] ShlomiBalalis commented on #9828
The issue still persists in the artifacts-gce-image-persistent-disk-test scenario of scylla master:
## Installation details

Cluster size: 1 nodes (n1-standard-2)

Scylla Nodes used in this run:
- artifacts-gce-image-pd-jenkins-db-node-cef98b82-0-1 (35.190.190.26 | 10.142.0.48) (shards: -1)

OS / Image: `https://www.googleapis.com/compute/v1/projects/scylla-images/global/images/5592998895243782134

[2022-05-22 11:51] tzach commented on #10626
Even with parallelization its a full scan.
In other cases Scylla/Cassandra require a ALLOW FILTERING directive to allow a full scan.

[2022-05-22 12:41] ShlomiBalalis commented on #10604
The same issue occured in the same scenario in scylla master:
## Installation details

Cluster size: 1 nodes (i3.large)

Scylla Nodes used in this run:
- artifacts-oel81-jenkins-db-node-1cbf3799-1 (54.75.31.140 | 10.0.1.193) (shards: -1)

OS / Image: `ami-0e883e67243efea62` (aws: eu-west-1)

Test: `artifacts-oel81-test`
Test id: `1cbf3799-ffdf-4578-89a3-d685a9caccd5`
Test name: `scylla-master/arti

[2022-05-22 12:42] avikivity commented on #10592
@rayakurl which jobs are those?
@benipeled let's increase the count, apparently 20 is too little here.

[2022-05-22 12:48] avikivity commented on #9807
@kostja we must make some progress here.

[2022-05-22 12:48] fruch commented on #10592
those jobs are in dtest repo itself.
here's a PR to enlarge it that count:
https://github.com/scylladb/scylla-dtest/pull/2736

[2022-05-22 12:58] slivne commented on #10435
closing this issue

[2022-05-22 12:58] #10435 closed

[2022-05-22 12:58] slivne commented on #10436
closing this issue

[2022-05-22 12:58] #10436 closed

[2022-05-22 13:03] fruch commented on #10592
@slivne @asias

regardless of the jenkins history, we have some history in our elastic search,
we are seeing this since Feb 21, 2022, scylla version: `5.1.dev-0.20220221.7181a6757a6f`:
https://70f106c98484448dbc4705050eb3f7e9.us-east-1.aws.found.io:9243/goto/faf29ba2f820ad168066024bc6c31885

this is around the time we moved to using pytest (which reports to this elasticsearch), so we don't have in

[2022-05-22 13:15] ShlomiBalalis commented on #6457
The error popped up in the offline centos 8 arm artifact test of the master branch:
## Installation details

Cluster size: 1 nodes (r6gd.large)

Scylla Nodes used in this run:
- artifacts-centos8-jenkins-db-node-c8b34d39-1 (52.50.82.219 | 10.0.1.141) (shards: -1)

OS / Image: `ami-07d54ca4e98347364` (aws: eu-west-1)

Test: `artifacts-centos8-arm-test`
Test id: `c8b34d39-19fc-4587-b6be-777c867f3e1f

[2022-05-22 14:08] avikivity commented on #10536
It's impossible to understand anything from this, the labels are truncated.

[2022-05-22 14:11] ShlomiBalalis commented on #10543
This week's run of ubuntu 20 upgrade test failed due to a the same failed checksum error, but during a repair, (which probably proves https://github.com/scylladb/scylla/issues/10469 is a similar issue):
## Installation details

Kernel Version: 5.13.0-1024-gcp
Scylla version (or git commit hash): `5.0~rc5-20220515.9da666e77` with build-id `5992da65161c733b3f85b8c93bbbb5151d4d321c`
Cluster size: 4 n

[2022-05-22 14:17] avikivity commented on #10372
We're likely suffering from incorrect metrics (fixed by a8eb5164b2727b8c146cc26289ac5d630587b0fe). So we need to re-evaluate the io queue delay report using the older, non-broken metrics.

[2022-05-22 14:19] avikivity commented on #10497
Why me?

@slivne please assign

[2022-05-22 14:20] avikivity commented on #9543
@yaronkaikov please prioritize

[2022-05-22 14:31] avikivity commented on #10383
@juliayakovlev  Was the fix confirmed?

[2022-05-22 15:01] fgelcer commented on #9812
[last run](https://jenkins.scylladb.com/job/scylla-5.0/job/longevity/job/longevity-alternator-3h-test/12/) on 5.0 passed

[2022-05-22 15:53] nyh commented on #10625
Ok, so I wrote a bunch of tests (I'll send a patch later), and my conclusions on what's exactly is wrong:

1. The four types **date**, **time**, **inet**, and **timestamp** can be set using a string, but an empty string should have been refused. Scylla fails to refuse an empty string on all four types, Cassandra fails on just the last two.
2. The INSERT JSON command (but not regular insert!) allow

[2022-05-22 16:16] yarongilor commented on #10608
In non offline the package does exist, in offline mode it doesn't exist:
[code]

[2022-05-22 16:36] bhalevy commented on #10553
@mikolajsieluzycki please look into this.
Is this the same validation error you hit in unit testing?

[2022-05-22 16:43] avikivity commented on #6457
You're installing the wrong package, install the arm package instead.

[code]

[2022-05-22 16:44] avikivity commented on #6457
Closing as WONTFIX. First, we do have an arm docker image now so it won't happen again. Second, that's a docker problem downloading and running an image for an architecture it doesn't support.

[2022-05-22 16:44] #6457 closed

[2022-05-22 17:05] avikivity commented on #10608
We have to document that the user should install chronyd before starting.

[2022-05-22 17:33] nyh opened #10631 "Invalid IN restriction is reported as a '=' restriction"
In the cql-pytest `cassandra_tests/validation/operations/select_single_column_relation_test.py::testInvalidCollectionNonEQRelation`
we have the query
[code]
Where b is a `set<int>`, Scylla reports the error:

Obviously, this is a 'IN' relation, not a '=' relation. Cassandra prints 'IN' here and so did Scylla until very recently (when I translated this test, it used to pass).

[2022-05-22 17:45] nyh opened #10632 "Column name printed in a strange way in error message"
In the test `cassandra_tests/validation/operations/select_single_column_relation_test.py::testInvalidNonFrozenUDTRelation`, we check that the query `SELECT * FROM %s WHERE b IS NOT NULL"` should complain about the use of "b IS NOT NULL" (because it's only allowed in a materialized view).

However, a recent regression caused this message to print

(I know this is a recent regression because when I

[2022-05-23 01:58] asias commented on #10592
I reproduced without this patch bd4beeeebe313af7e0665751588d1d79592933e8 too.

[2022-05-23 01:59] asias commented on #10592
Reproduced with 5.0.rc5-0.20220523.9da666e778 with the [procedure](https://github.com/scylladb/scylla/issues/10592#issuecomment-1132552016) .

[2022-05-23 05:25] juliayakovlev commented on #10383
@avikivity the test wasn't run yet

[2022-05-23 05:49] mikolajsieluzycki commented on #10553
@bhalevy Seems like exactly the same error

[2022-05-23 05:56] bhalevy commented on #10528
root cause (https://github.com/scylladb/scylla/commit/39205917a8d77ebd4608f95afd0fb40ab38d6c0a) is confined to master branch. No backport is required.

[2022-05-23 06:05] fgelcer commented on #10608
seems like either [this document](https://amoskong.github.io/scylladb/2021/01/27/scylla-offline-install/) is not right, or something changed since... but it states:
[code]

[2022-05-23 06:10] fgelcer commented on #10608
@yarongilor , please find where is the gap in SCT...
i see the following code:
[code]

i understand that, if `systemd-timesyncd` is installed, then we expect Scylla to not install `chrony` nor `ntp`, but if `systemd-timesyncd` is not installed, then Scylla must provide either `chrony` or `ntp`...
check if we just failed in the 1st verification, and didn't move forward when expected that, we might

[2022-05-23 06:13] avikivity commented on #10383
Let's run it then.

[2022-05-23 06:17] juliayakovlev commented on #6309
Reproduced with `2022.1~rc5-20220515.6a1e89fbb`

[code]

Failure reason:
[code]
## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `2022.1~rc5-20220515.6a1e89fbb` with build-id `5cecadda59974548befb4305363bf374631fc3e1`
Cluster size: 6 nodes (r5b.2xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-2022-1-db-node-d0d1290f-7 (52.31.86.119 | 10.0.0

[2022-05-23 07:01] yarongilor commented on #10608
@roydahan @fgelcer , according to this comment, the following changes are required:
1. Change Scylla offline install doc that user has a prerequisite to install either chrony/systemd-timesyncd/ntp.
2. Change the SCT validation to check that if none of the above is installed then SCT installs chrony.

please comment.

Note: the above install doc seems to be a private and not a scylla official one.

[2022-05-23 07:08] asias commented on #10592
I could not reproduce with 4.6.3 8bf149fdd6138502b8e4235f65f0b6e2db1c6e92 so far. It is a 5.0 regression.

[2022-05-23 07:29] eliransin commented on #9331
The stack trace for the reactor stall in https://github.com/scylladb/scylla/issues/9331#issuecomment-1090523979:
[code]

@elcallio would you analyze and determine if it is commitlog (more sepcifically hard limit) related or not?
some technicalities in case there are more and different stack traces to analyze:
I produced this using gdb on an instance with one of the images listed in https://github.

[2022-05-23 07:29] fgelcer commented on #10608
@yarongilor , work with @annastuchlik and find the document for offline install, and check what are the dependencies... AFAICT, the implementation in SCT followed the recommendations at the time, although it maybe didn't make to the official documentation of ScyllaDB.
if that is the case, and we need to install in advance any package, we need to re-work the SCT code, as the verification it is doin

[2022-05-23 07:33] eliransin commented on #9331
@elcallio BTW I am leaving the machine on for a few hours in case you want to experiment with it.
You can log into my gdb session without the hassle of waiting for the symbols to load with:
`ssh -i ~/.ssh/scylla-qa-ec2 centos@52.215.81.66`
then run: `tmux a`
Let me know when I can put the instance down, if not asked otherwise I will kill it towards the end of the day.

[2022-05-23 07:45] psarna opened #10633 "Allow setting up permissions for UDF/UDA"
Following https://cassandra.apache.org/doc/latest/cassandra/cql/security.html#cql-permissions , we should allow setting up the following permissions related to user-defined functions and user-defined aggregates:

[code]

Here's the excerpt from CQL's GRANT PERMISSION grammar:
[code]

[2022-05-23 08:11] rayakurl commented on #9828
@ShlomiBalalis -please open a new ticket for the issue on GCE image test failure and mention this issue there.thanks

[2022-05-23 08:15] kostja commented on #7620
Now that we have started to reuse scylla among many tests in test.py this becomes a serious hindrance. E.g. it makes it hard to debug flaky tests, since each repeat is taking increasingly more time:

[41/50]      cql     debug  [ PASS ] cdc_with_lwt_test.41 3.99s
[42/50]      cql     debug  [ FAIL ] cdc_with_lwt_test.42 4.28s
[43/50]      cql     debug  [ PASS ] cdc_with_lwt_test.43 4.33s
[44/50]

[2022-05-23 08:21] nyh commented on #7620
By the way, for anybody looking for a **workaround** for this bug (though we really need to solve it!) - the problem happens when you create and delete a keyspace or a table many times, but use a random name each time. The workaround is simply not to use so many **different** random names:

You can see an example workaround in `test/cql-pytest/cassandra_tests/porting.py`: Those CQL tests create a

[2022-05-23 08:44] avikivity opened #10634 "Rust libraries double-compiled"
The rust libraries are precompiled in install-depdendencies.sh, but when building Scylla I see them downloaded and compiled again:

[code]

We should rely on the precompiled libraries.

[2022-05-23 08:57] KnifeyMoloko commented on #10525
Reproduced in enterprise-2022.1 rc4:

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `2022.1~rc4-20220510.0007e0625` with build-id `41d9ba21416afba85744e3e5308d1f2e5403ce65`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- alternator-3h-2022-1-db-node-d64b2ff7-7 (3.236.174.95 | 10.0.1.145) (shards: 14)
- alternator-3h-2022-1-db-nod

[2022-05-23 09:23] yarongilor commented on #10608
@syuu1228 , can you please advise -
1. is this requirement correct?
2. Where can we find an updated install guide doc with the specified requirements?

[2022-05-23 09:25] nyh commented on #7849
Solved long ago by commit 8c9935359c90544e903e5c7b5ac8c81f8a9ebab7

[2022-05-23 09:25] #7849 closed

[2022-05-23 10:00] yarongilor commented on #10534
Might reproduced with the fix on a similar scenario with YCSB.
error:
[code]

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.0~rc5-20220515.9da666e77` with build-id `5992da65161c733b3f85b8c93bbbb5151d4d321c`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- alternator-3h-multidc-5-0-db-node-a8368f72-7 (3.250.194.158 | 3.250.194.1

[2022-05-23 10:18] eliransin commented on #10061
@KnifeyMoloko have you got a chance to rerun this with the new framework?

[2022-05-23 10:32] roydahan commented on #10592
@slivne, based on the feedback from @asias I set it as MS 5.0 and High (at least to be noticed).

[2022-05-23 10:39] bhalevy opened #10636 "Failure to apply a failed batchlog is silent"
@slivne wrote:

This is already fixed by https://github.com/scylladb/scylla/pull/10556
so I'm opening this issue for backporting purposes.

Cc @cmm please make sure to open an issue in the future, if a backport is requried.

[2022-05-23 10:40] bhalevy commented on #10636
Fixed by ab149c845773029c093fb2ff066e5e5883887024

[2022-05-23 10:40] #10636 closed

[2022-05-23 10:48] bhalevy opened #10637 "Proposal: first/last clustering keys from sstable index"
Promoted index can be bloat with large partitions when the promoted index block size is too small, causing bad_alloc, see #4217.

One of the ways proposed to deal with that, is to split large partitions across multiple sstables when using ICS / LCS - but that would lead to read amplification, unless we could use a clustering-key filter in the incremental selected as we know that the sstables are d

[2022-05-23 10:48] bhalevy commented on #10637
Cc @tgrabiec

[2022-05-23 10:48] roydahan commented on #10061
@aleksbykov let's have a task to reproduce this issue with the new hardware benchmarks we now collect.

[2022-05-23 10:52] jul-stas commented on #10479
It's not much but I can confirm the flakiness. It occurs in ~5% of cases, so we good.

[2022-05-23 10:54] bhalevy opened #10638 "Proposal: filter sstables using per-partition first/last clustering keys"
Based on #10637, we could extend `filter_sstable_for_reader_by_ck` to use the per-partition first/last clustering keys to accurately fitler those sstables that intersect the given slice.

[2022-05-23 10:57] ilya-rarov commented on #6309
Got it on 2022.1.rc5

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `2022.1~rc5-20220515.6a1e89fbb` with build-id `40dcfa7a952abfad7ac5d22298eb2c278349f132`
Cluster size: 6 nodes (im4gn.4xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-2022-1-db-node-5d15ece7-7 (34.244.140.174 | 10.0.8.208) (shards: 16)
- longevity-100gb-4h-2022-1-db-node

[2022-05-23 11:02] fgelcer commented on #10200
that is a good question, should we still use (in this case) the original issue, or use this (or one of the new ones) to report new reproductions of this failure?
IIRC @slivne asked to not use old ones

[2022-05-23 11:03] slivne commented on #10592
@asias can you try and do a bisect on 5.0.rc to see if we can narrow the rang down.

[2022-05-23 11:05] roydahan commented on #6309
We don't need to comment on this issue anymore (for now).

[2022-05-23 11:07] elcallio commented on #10309
Making extensions serialize to binary instead of for example enforce json was perhaps a bit short sighted. But @slivne has the really correct solution.

[2022-05-23 11:11] aleksbykov opened #10639 "Error with message : direct_failure_detector - unexpected exception when pinging 3 should not be treated as error"
scylla-release: 0.20220523.6a3494442e6e
scylla-version: 5.1.dev

Dtest tests **test_replace_address.py** marked as failed because during teardown were found next errors:
[code]
all logs could be found here: https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/abykov/job/Dtest/job/dtest-byo-raft-single/6/

the error happened during node remove.

[2022-05-23 11:13] slivne commented on #10372
@avikivity ping ... pavel thinks it may be an issue with i3 instances not having disks that support what the scheduler provides

[2022-05-23 11:18] slivne commented on #8706
The disk metrics and monitoring were fixed and will be part of 5.0.rc6  and monitoring 4.0 - which is not great

@avikivity please reference the magic updates that need to be done so gleb / kostja can look at this

[2022-05-23 11:18] kbr- commented on #10639
We should probably change

[code]

[2022-05-23 11:23] syuu1228 commented on #10604
It failing at ``` new_version=out('sudo -u scylla {}/scylla-housekeeping --uuid-file /var/lib/scylla-housekeeping/housekeeping.uuid --repo-files \'/etc/yum.repos.d/scylla*.repo\' version --version {} --mode i'.format(scriptsdir(), cur_version), timeout=HOUSEKEEPING_TIMEOUT)```:
[code]
So it likely duplicated with #10483, even error message is bit different though.
The fix is already merged at b600

[2022-05-23 11:25] slivne commented on #10442
for those that are not able to upgrade or hit this on older scylla releases - the workaround is to downgrade the java version

[2022-05-23 11:26] syuu1228 commented on #10604
The patch is merged 4days ago (same day @yarongilor reported this issue), I guess it's available on latest master build.

[2022-05-23 11:35] avikivity commented on #10200
Why not use the old ones? What will we do with all the duplicates?

[2022-05-23 11:47] gleb-cloudius commented on #8706
I am not sure what we should look at. There were no changes in lwt whatsoever for a long time and the error points to  overloaded IO, so if this indeed a regression I would suspect commitlog changes or IO scheduler rewrite.

[2022-05-23 11:48] avikivity commented on #10626
Yes but what's the point? Require the users to add ALLOW FILTERING? They will thank you for it.

[2022-05-23 11:48] tgrabiec commented on #10617
@horschi Do you have a core dump for this event? If so, please upload it using instructions from https://docs.scylladb.com/troubleshooting/report-scylla-problem/#core-dump

[2022-05-23 11:49] avikivity commented on #10580
Choosing not to backport, it won't affect users under normal operation.

[2022-05-23 12:25] elcallio commented on #9331
FWIW, the trace looks wholly unrelated to anything commit log.

[2022-05-23 13:10] juliayakovlev commented on #10028
Reproduced with `2022.1~rc5-20220515.6a1e89fbb`

![Screenshot from 2022-05-23 16-10-15](https://user-images.githubusercontent.com/34435448/169826823-001bf13a-20b6-41a6-a118-c3dba068f01d.png)

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `2022.1~rc5-20220515.6a1e89fbb` with build-id `5cecadda59974548befb4305363bf374631fc3e1`
Cluster size: 5 nodes (i3

[2022-05-23 13:23] tzach commented on #10626
The point is protecting the user from an accidental full scan

[2022-05-23 13:26] avikivity commented on #10626
The warning doesn't protect anything.

[2022-05-23 13:37] horschi commented on #10617
Unfortunetaly not. But I can try to reproduce it...

[2022-05-23 14:01] tgrabiec commented on #10617
That would be very helpful, please do.

[2022-05-23 14:23] avikivity commented on #10520
Agree we should remove it.

[2022-05-23 14:38] avikivity commented on #10638
"per-partition first/last clustering keys" sounds different.

[2022-05-23 14:49] avikivity commented on #10392
With fixed metrics the delays are no longer crazy.

[2022-05-23 14:54] avikivity commented on #10392
I'll repost the metrics for node 10.0.3.6. Recall that resharding completed 09:51 and "starting sstables loader" completed in 10:07.

[2022-05-23 14:57] avikivity commented on #10392
Not at all sure why we have commitlog activity.

[2022-05-23 14:58] avikivity commented on #10392
![image](https://user-images.githubusercontent.com/1017210/169848080-fc51f40f-b76c-4c64-88c6-feba4d97e9a2.png)

[2022-05-23 14:58] avikivity commented on #10392
Maybe replay?

[2022-05-23 15:16] avikivity commented on #10392
The log in the report did not contain everything (it contained almost nothing).

Real log:

[code]

[2022-05-23 15:16] igorsimb opened #10641 "Repair of a node from a new data center failed"
## Installation details

Kernel Version: 5.13.0-1024-gcp
Scylla version (or git commit hash): `2022.1~rc5-20220515.6a1e89fbb` with build-id `5cecadda59974548befb4305363bf374631fc3e1`
Cluster size: 6 nodes (n1-highmem-16)

Scylla Nodes used in this run:
- longevity-10gb-3h-2022-1-db-node-e329d26e-0-8 (35.185.108.243 | 10.142.0.8) (shards: 16)
- longevity-10gb-3h-2022-1-db-node-e329d26e-0-7 (34.138.

[2022-05-23 15:18] avelanarius opened #10642 "Creating table unquoted "varchar" results in creating table "text""
[code]

When creating a table called "varchar" (unquoted), Scylla incorrectly creates a table "text". The `CREATE` works if you specify "varchar" quoted (`CREATE TABLE reproducer."varchar"(pk int, ck int, PRIMARY KEY(pk, ck))`)

Tested on Scylla ca322fb7c2786bfa39c833ee30f464d0ea011a36.

Cassandra 3.11.8 correctly creates `reproducer.varchar` in both cases (quoted, unquoted).

[2022-05-23 15:23] avikivity commented on #10392
@gleb-cloudius what are those paxos/rpc messages while the node is starting?

[2022-05-23 15:27] avikivity commented on #10392
Eventually (20 min) rpc errors drain out, and only storage_proxy error remain:

[code]

[2022-05-23 15:28] avikivity commented on #10392
And eventually the storage_proxy errors drain too, and the node becomes NORMAL:

[code]

[2022-05-23 15:28] avikivity commented on #10392
So we have one explanation why we see it in alternator - LWT.

Maybe alternator opens its port before it is ready?

[2022-05-23 15:30] avikivity commented on #10392
No, it starts listening later:

[code]

[2022-05-23 15:30] avikivity commented on #10392
/cc @nyh @psarna need ideas

[2022-05-23 15:59] nyh commented on #10642
Wow!

[2022-05-23 16:21] jmaixl commented on #10536
I'm confused; is the flame graph not downloadable? I think Github doesn't display the full SVG but locally it looks fine.

[2022-05-23 16:23] KnifeyMoloko commented on #10641
Similar failure in:

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.1.dev-20220504.b26a3da584cc` with build-id `ab2a33a30756c1513f4c516cd272291e75acec0e`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-3c379dfb-7 (13.48.67.90 | 10.0.2.144) (shards: 8)
- longevity-twcs-48h-master-db-node-3c379

[2022-05-23 16:50] KnifeyMoloko opened #10644 "Rebuild fails while large partitions are being written and reshape is taking place"
## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.1.dev-20220504.b26a3da584cc` with build-id `ab2a33a30756c1513f4c516cd272291e75acec0e`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-3c379dfb-7 (13.48.67.90 | 10.0.2.144) (shards: 8)
- longevity-twcs-48h-master-db-node-3c379dfb-6 (16.170.217.56

[2022-05-23 17:36] #10626 closed

[2022-05-23 18:37] bhalevy commented on #10638
@raphaelsc if we store it in the scylla metadata we don't have to worry since it's extensible.
In any case, I doesn't need to be specific to ICS.

[2022-05-23 21:39] avikivity commented on #10028
It's a duplicate of #2577. I don't know why we keep duplicates open.

[2022-05-24 00:10] asias commented on #10592
On top of 9da666e77817b4dd7eda94a91bd9cf53e0ae188b (tag: scylla-5.0.rc5), the following patch seem to fix the assert.  Sounds like a compiler miscompiling  of coroutine. @avikivity ideas?

[code]

[2022-05-24 02:06] bhalevy commented on #10638
For minimal filtering in sstable runs can't we use the min/max prefixes we already have starting the md format?

If the large partition is spread over more than 2 sstables, the middle ones will contain rows / range tombstones only from this partition, so the min/max clustering key prefixed we have in the statistics md will be sufficient for filtering which of the sstables may intersect with the gi

[2022-05-24 04:53] bhalevy commented on #10495
@slivne what do you mean "without upgrading sstable version"?

It'd be best if the cluster is upgraded to 4.6 to use the latest released scrub code.

auto-compaction can be disabled to attenuate the annoying compaction error messages.
Then scrub can be run as follow, in VALIDATE mode, to detect which of the sstables is corrupt,
and/or in SEGREGATE mode to fix those out-of-order errors by segregati

[2022-05-24 05:56] fruch commented on #10392
@bhalevy mentioned the Paxos errors in https://github.com/scylladb/scylla/issues/10392#issuecomment-1116301772

And yes we should be clearer in showing that logs are partial (like @bhalevy was doing with `...`)

[2022-05-24 06:11] fruch commented on #10553
Having an AMI or RPMs with this fix.

@benipeled is the build in PRs create RPMs ? Is it being upload to S3 ?

Also can you point @mikolajsieluzycki to the jobs that should build him RPMs or AMIs from forks ?

[2022-05-24 06:17] avikivity commented on #10392
This is causing much confusion. I shouldn't have to go and double check what you write.

[2022-05-24 06:54] psarna commented on #10392
The default isolation policy for alternator is "always_use_lwt" (until maybe one day I convince enough people that https://github.com/scylladb/scylla/pull/10259 is a valid idea), so I guess that enough contention can slow down the node to the point when queries start failing. I see from the test config that `workloadc` is used, and it uses Zipfian distribution (ref: https://github.com/brianfrankco

[2022-05-24 07:09] avikivity commented on #10392
The question is why is this happening during startup.

[2022-05-24 07:17] eliransin commented on #9331
@roydahan the stall doesn't seem to come from commitlog or more specifically hard limit.
What are next steps in order to try and push this forward?

[2022-05-24 07:22] benipeled commented on #10553
The [CI job](https://jenkins.scylladb.com/job/releng/job/Scylla-CI/) doesn't archive RPMs, but logs (build & tests),
There is an open issue for archiving some artifacts - https://github.com/scylladb/scylla-pkg/issues/2893

BYO can be used for building RPM and AMI from a fork - https://jenkins.scylladb.com/view/master/job/scylla-master/job/byo/job/byo_build_tests_dtest/

[2022-05-24 07:27] eliransin commented on #9823
@asias would you answer the question above :point_up: or change the relevant severity so we can close this issue?
Tx

[2022-05-24 07:29] eliransin commented on #4244
We should probably fix this as part of cql rewrite. Can you add it to the queue?

[2022-05-24 07:33] asias commented on #9823
This above logs are not from repair. They are from stroage proxy. Let's ask Gleb if the inconsistency is intended.

[2022-05-24 08:07] eliransin commented on #10427
@vladzcloudius I agree that different behaviors for AMI and non AMI setups are bad, however, there are still some things I don't understand.

How do we tell apart statistical fluctuations from actual performance fluctuations or variations? It sounds to me like the real
issue is us not trusting `iotune` and not "statistical fluctuations".  We could easily embed the "run iotune a few times"
recommen

[2022-05-24 08:28] avikivity commented on #10392
Those are coordinator-style errors.

Also, the exceptions disappear once the node boots. So something is wrong.

[2022-05-24 08:28] tgrabiec commented on #10617
I managed to reproduce the problem. The fix will be sent shortly.

[2022-05-24 08:33] gleb-cloudius commented on #10392
Why do you think so?

[code]

and

[code]

Are definitely replica side errors.

[2022-05-24 09:46] avikivity commented on #10392
The second one looks like coordinator - received no responses. Does the replica wait for responses?

And why do the errors disappear once the system starts?

[2022-05-24 10:09] avikivity commented on #10608
We can't bring every single dependency.

The installer should just skip chrony/ntp if not available and move on, with a warning.

[2022-05-24 10:11] aleksbykov commented on #10372
Issue reproduced again:
## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `2022.1~rc5-20220515.6a1e89fbb` with build-id `5cecadda59974548befb4305363bf374631fc3e1`
Cluster size: 3 nodes (i3.large)

Monitoring: http://3.236.43.162:3000/d/advanced-2022-1/advanced?orgId=1&from=1653301287918&to=1653303256693
http://3.236.43.162:3000/d/detailed-2022-1/detailed

[2022-05-24 10:12] avikivity commented on #10392
Aha.

Why does it have less work? It should have more work once the protocol server ports are open.

Maybe something isn't enabled and causes failures.

[2022-05-24 10:15] gleb-cloudius commented on #10392
The work coming from the protocol server may generate less io than for instance re-sharding. This is just a guess of course.

[2022-05-24 10:17] avikivity commented on #10392
But resharding was completed long ago:

[code]

It could be that post-resharding compaction worked slowed things down. But IIRC resharding should generate sstables in good shape.

[2022-05-24 10:22] avikivity commented on #10392
There are some exception spikes later, but nothing like we had during startup:

![image](https://user-images.githubusercontent.com/1017210/170010021-4e049ce4-a990-49c6-9608-858cb16c135a.png)

[2022-05-24 10:25] gleb-cloudius commented on #10392
Where is the monitor?

[2022-05-24 10:25] avikivity commented on #10392
There is certainly more compaction CPU activity:

![image](https://user-images.githubusercontent.com/1017210/170010651-4490acdd-582a-43e2-98ce-3641f85deff5.png)

[2022-05-24 10:27] avikivity commented on #10392
But it doesn't impact query CPU:

![image](https://user-images.githubusercontent.com/1017210/170010975-5bcf335d-514c-44ab-b7ee-d65f6d24c06b.png)

[2022-05-24 10:28] avikivity commented on #10392
On my workstation. I used `$ hydra investigate show-monitor 81cb61d9-8d3f-45ae-8b50-f7882b4a6af8`

[2022-05-24 10:33] avikivity commented on #10392
Query delay is < 1ms. Queue length is reasonable. So it looks like I/O is fine here.

![image](https://user-images.githubusercontent.com/1017210/170011995-f17ec443-7adf-4238-af1d-af082120c32d.png)

[2022-05-24 10:35] avikivity commented on #10392
Commitlog is not perfect, but reasonable.

![image](https://user-images.githubusercontent.com/1017210/170012415-90a0dda0-5a0c-4b7c-ae45-98b691aca7e9.png)

[2022-05-24 10:39] avikivity commented on #10392
Errors - not the same count as replica activity.

![image](https://user-images.githubusercontent.com/1017210/170013304-cc45f169-9591-45a1-bc9f-8c2594af1c40.png)

[2022-05-24 10:40] avikivity commented on #10392
@gleb-cloudius could it be that messaging service is not completely started? It can receive updates, but not send them?

Wait, isn't system.paxos a fully local table? How can it not communicate with its own coordiantor?

[2022-05-24 10:41] #10579 closed

[2022-05-24 10:43] avikivity commented on #10392
Note the logs and metrics are for node 4, but the referenced address is node 2.

[2022-05-24 10:44] gleb-cloudius commented on #10392
No. This is a TCP channel.

It is fully local, but writes there are done from rpc handlers. One way one is probably "prune" request that removes ballot from sytem.paxos. Not that timeout used is the single one for the entire lwt write operation which consists of many writes. But for alternator it looks like default one is large: 10s.

[2022-05-24 10:55] KnifeyMoloko commented on #10644
@avikivity Sorry, I wasn't clear enough in the original issue description. The log shows:
[code]
which results in a failure of the `nodetool rebuild` command.

[2022-05-24 11:01] yarongilor commented on #10608
OK so we can close this issue and have the following update to SCT:
1. Non-offline-install tests - left as-is with same validations.
2. Offline-install tests - the validation for tyme-sync services should be changed the following:
if no time-sync service exist on node - then the offline-install script should print out a warning for that during its install process. SCT can check if such a warning e

[2022-05-24 11:37] slivne commented on #10462
@avikivity backport ping

[2022-05-24 11:50] slivne commented on #10372
@aleksbykov justso its clear is this a regression - if we run this exact test on 4.6 will it have the same problem ?

[2022-05-24 11:52] aleksbykov commented on #10372
The same tests running for 4.6 and 4.5, But we don't see such errors on these versions
I can rerun job with same seed for 4.6 to be sure

[2022-05-24 11:58] slivne commented on #9796
@asias thanks - so this is not a bug in your view

[2022-05-24 12:13] avikivity commented on #10392
Well, we need to understand it. We see low queue delays, and no problem with cpu consumption.

[2022-05-24 12:17] gleb-cloudius commented on #10392
LWT writes are special in that that they wait for commitlog to flush data to disk. So can it be that no write succeed at this period of time because commitlog does not flush but the one one who complains is paxos because it actually waits?

[2022-05-24 12:18] gleb-cloudius commented on #10392
We can check this by running with commitlog=batch node if it will not kill the test earlier.

[2022-05-24 12:20] slivne commented on #10641
@igorsimb / @KnifeyMoloko asias is correct at least in the above case - the node 0.189 restarted
![Screenshot from 2022-05-24 15-18-05](https://user-images.githubusercontent.com/3465480/170032821-25a4045b-9587-4426-b7de-23ff994bd9af.png)

and it seems the node was restarted forcefully

[code]

reassigning this to QA

[2022-05-24 12:21] #10641 closed

[2022-05-24 12:21] slivne commented on #10641
Issue moved to [scylladb/scylla-cluster-tests #4791](https://github.com/scylladb/scylla-cluster-tests/issues/4791) via [**ZenHub**](https://www.zenhub.com/)

[2022-05-24 12:39] avikivity commented on #10644
3.195 is node 5.

[2022-05-24 12:41] slivne commented on #10279
![Screenshot from 2022-05-24 15-39-41](https://user-images.githubusercontent.com/3465480/170036723-e1a91a15-470b-4b5d-b6bb-753b0c3e6177.png)

The jumps in disk space usage on the 0.101 - green node seem too perfect - maybe we have snapshots we are not clearing - trying to see if I can find something in the logs

[2022-05-24 12:43] avikivity commented on #10644
But, nothing extraordinary there. 8MB in readers isn't astonishing.

Note it's on shard 0 where gossip lives.

[2022-05-24 12:44] gleb-cloudius commented on #10392
Looking at the slow boot. It starts at `May 04 01:15:18`:

[code]

It ends at `May 04 01:37:34`:

[code]

First paxos errors start at `May 04 01:31:50`:
[code]

It does not look like those errors have anything to do with slowdown.

[2022-05-24 12:46] avikivity commented on #10644
No stalls or anything.

[2022-05-24 12:49] nyh opened #10649 "Combination of secondary index and LIMIT can produce too few results"
@tarzanek discovered at a user's installation that in some scenarios where we're doing ALLOW FILTERING and a LIMIT, adding a secondary index can break the LIMIT feature - which starts to return **fewer** rows than it should.

I managed to simplify (?) @tarzanek's reproducer to the following stand-alone cql-pytest:

[code]

The data is small (30 rows) but a bit complex so let me explains what goes

[2022-05-24 12:52] slivne commented on #10462
not compared to 4.6 but it is a regression compared to 4.5

we enabled repair_base_node_operations for replace and that is whats
causing replace to fail in this case

On Tue, May 24, 2022 at 3:17 PM Avi Kivity ***@***.***> wrote:

[2022-05-24 12:52] gleb-cloudius commented on #10392
Resharding times:
[code]

So resharding of alternator and paxos tables together takes 15 minutes.

[2022-05-24 12:53] avikivity commented on #10644
@asias any ideas?

[2022-05-24 12:54] avikivity commented on #10462
Ok. But the change is not trivial. Let's get some cycles on it.

[2022-05-24 12:57] bhalevy commented on #10554
Seen again in https://jenkins.scylladb.com/job/releng/job/Scylla-CI/503/artifact/testlog/x86_64_dev/mutation_test.test_query_digest.1123.log
that has the speculative fix above.  Reopening...

[2022-05-24 12:58] avikivity commented on #10372
@aleksbykov please do.

There are three possible causes for the regression:
1. the new I/O scheduler
2. mount with online discard (a19d00ef9b8b50ce520bb2cfbf5bc00b30de5cda)
3. something else

If I give you a package with online discard disabled, can you run the test again with it?

[2022-05-24 13:05] slivne commented on #10279
and yes we are creating snapshots and upgrading sstables and this is causing the mess

![Screenshot from 2022-05-24 16-01-09](https://user-images.githubusercontent.com/3465480/170041117-b400cba4-53c2-49d3-92b5-7182f7f0d773.png)

![Screenshot from 2022-05-24 16-01-38](https://user-images.githubusercontent.com/3465480/170041145-e76fa3b6-1d60-431d-9be4-5e86e2499707.png)

explanation the upgrade sstab

[2022-05-24 13:05] slivne commented on #10279
@rayakurl / @ShlomiBalalis / @roydahan - I don;t think this is a regression - did we add upgradesstables in upgrade path ?

[2022-05-24 13:18] avikivity commented on #10372
Bummer, now I have to build it.

[2022-05-24 13:52] avikivity commented on #10372
https://scratch.scylladb.com/scylla_5.0~rc6-1.avi.no.online.discard.tar

[2022-05-24 14:20] roydahan commented on #10641
The original scenario by @igorsimb happened on GCP where we know there are host-errors sometimes that cause hard reboot of the node.

However, the second scenario by @KnifeyMoloko is on AWS.
@KnifeyMoloko can you please check if you had a reboot as well?

[2022-05-24 14:51] yarongilor opened #10652 "Gemini load fails after 30 minutes at end of warmup step with an insert-query timeout"
## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `2022.1~rc5-20220515.6a1e89fbb` with build-id `5cecadda59974548befb4305363bf374631fc3e1`
Cluster size: 3 nodes (i3.large)

Scylla Nodes used in this run:
- gemini-with-nemesis-3h-normal-2022--oracle-db-node-ff952021-1 (44.200.204.19 | 10.0.1.228) (shards: 2)
- gemini-with-nemesis-3h-normal-2022--db-node-f

[2022-05-24 14:54] yarongilor commented on #10652
4.6 comparison run details (with same SCT-5.0 job) are -

![Screenshot from 2022-05-24 12-42-52](https://user-images.githubusercontent.com/9427929/170002800-161ba156-ba0a-4a8d-8ed2-d79e47534979.png)

*Installation details*
Kernel version: `5.11.0-1022-aws`
Scylla version (or git commit hash): `4.6.3-0.20220414.8bf149fdd with build-id 8d16d8972498cc769071ff25309b009eb77bf77a`
Cluster size: 3 nodes

[2022-05-24 14:55] nyh commented on #10649
I looked at the code, and the problem is more fundamental than I had hoped and harder to fix in an optimal way:

`indexed_table_select_statement::do_execute()` executes a query using a secondary index in two steps:
1. use the index table to find a list of primary keys matching the query.
2. read the rows matching these primary keys from the base table and return the selected columns.

The existing

[2022-05-24 15:09] avikivity commented on #8706
The metrics dashboard was updated so no scylla.git updates are needed if you use the latest scylla-monitoring.git.

scylla.git branch-5.0 update: a8eb5164b2727b8c146cc26289ac5d630587b0fe

[2022-05-24 15:21] slivne commented on #10429
@roydahan please ack that we are rerunning this test

[2022-05-24 15:21] dgarcia360 commented on #8424
@annastuchlik @tzach If the project maintainers could create a function that prints the following YAML file from ``config.cc``:

[code]
We could autogenerate a doc [as we did for scylla-manager](https://davidgarcia.dev/posts/autogenerating-documentation-for-a-cli/) by creating a custom template that defines how to transform this YAML file into restructuredText.

Alternatively, I could create a fun

[2022-05-24 15:33] eliransin commented on #9625
Still not, trying to push this. The summary is that we are trying to prove that it works and doesn't introduce regressions
(There are no known bugs).

[2022-05-24 19:16] nyh commented on #10649
Unfortunately it's not easy. I modified the first part (reading the index table)  to not stop at the LIMIT, but now the problem is that the second part (reading from the base table) also doesn't stop at LIMIT. The strange thing is when we read **partitions** from the base table (as in my second test), it does adhere to LIMIT, but when the base table has clustering rows (my first test), it reads th

[2022-05-24 20:21] alecco opened #10655 "Executing lots of schema alters concurrently can lead to dropped alters"
When executing concurrent alter tables and indexing of a different table, some dropped columns show up afterwards even after waiting for 20 seconds to let schema changes settle.

This only happens without Raft enabled. Once Raft is enabled the issue goes away.

[Cassandra: Executing lots of schema alters concurrently can lead to dropped alters
 #10250](https://issues.apache.org/jira/browse/CASSAND

[2022-05-24 20:42] avikivity commented on #10655
Duplicate of #1207

[2022-05-24 20:42] #10655 closed

[2022-05-25 02:15] asias commented on #10592
Let's rename the title of the issue to reflect the fact no repair is needed to trigger the issue.

[2022-05-25 02:33] asias commented on #10644
The rebuild (started by node 3 at 2022-05-12T05:06:55+00:00 ) failed because node 6 10.0.0.5 aborted:
[code]
[code]

[code]

[2022-05-25 02:37] asias commented on #10644
Decoded:

[code]

[2022-05-25 02:37] asias commented on #10644
@bhalevy FYI

[2022-05-25 05:48] fruch commented on #10592
@rayakurl  maybe something like "coredump when /storage_service/describe_ring api used during node shut down"

[2022-05-25 05:49] bhalevy commented on #10592
I can't explain https://github.com/scylladb/scylla/issues/10592#issuecomment-1135260342

But regardless, https://github.com/scylladb/seastar/pull/1074 makes sure to always close the output stream
in `stream_range_as_array` so it will be closed also on the error path as I suspect happens here.

[2022-05-25 05:55] bhalevy commented on #10644
@denesb, is this a duplicate of https://github.com/scylladb/scylla/issues/10403?

[2022-05-25 06:21] alecco commented on #1207
This is the same as Cassandra # 10250: Executing lots of schema alters concurrently can lead to dropped alters

When executing concurrent alter tables and indexing of a different table, some dropped columns show up afterwards even after waiting for 20 seconds to let schema changes settle.

This only happens without Raft enabled. Once Raft is enabled the issue goes away.

[2022-05-25 06:21] tarzanek commented on #10427
just my .2 cents
Cloud providers give certain SLAs on their HW
most of hardcoded io properties use these values instead of measured by iotune
(they are generally a bit worse than what we measure)
values from iotune are used where cloud provider didn't set an SLA

above is definitely true for GCP and Azure (I wrote both and invested lots of time into researching and measuring it)
so those providers

[2022-05-25 07:00] yarongilor commented on #10652
A 5.0 RC5 reproduction is:

![grafana-screenshot-gemini-3h-with-nemesis-test-scylla-per-server-metrics-nemesis-20220516_195643-gemini-with-nemesis-3h-normal-5-0-monitor-node-89bcaaa4-1](https://user-images.githubusercontent.com/9427929/170200109-86b054b3-6c8c-436e-ad70-5de06b04664a.png)

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.0~rc5-20220515

[2022-05-25 07:06] bhalevy commented on #10554
Reproduced locally in debug mode when trying 100 times in a branch based on f873806c7c985a5716b2d6b8c7459d45985326a9:
[code]

[2022-05-25 07:39] asias commented on #9505
@avikivity

CPU is under 30%:

https://github.com/scylladb/scylla/issues/9505#issuecomment-1050444664

I looked at my c-s script, I throttled to 5K.
[code]

[2022-05-25 07:40] psarna commented on #10649
I vaguely remembered that we had similar issues already, but the only related one I found was https://github.com/scylladb/scylla/issues/3902

[2022-05-25 07:43] yarongilor commented on #10608
@syuu1228 , it works in non-offline but doesn't work in offline mode, as detailed above - https://github.com/scylladb/scylla/issues/10608#issuecomment-1133928417

please advise if it looks a script issue that should be fixed.

[2022-05-25 07:43] psarna commented on #10649
And to answer your question about wasting work - when fixing filtering + limit in 2018 we also had a similar discussion, and ended up in trimming the results in order to be correct at the cost of some wasted work:
https://github.com/scylladb/scylla/blame/master/cql3/statements/select_statement.cc#L831

So I guess we should treat indexing + filtering + limit as an even rarer case, and also prefer b

[2022-05-25 07:45] psarna commented on #10649
The sad answer might be calling rs->trim() somewhere in select_statement.cc code, as above. It's least intrusive, although it discards work we've already done, which is sad.

[2022-05-25 08:08] aleksbykov commented on #10372
Run on 4.6 was succesfull.
Will run with provided package on 5.0

[2022-05-25 08:26] fgelcer commented on #10429
[last run](https://jenkins.scylladb.com/job/scylla-5.0/job/longevity/job/longevity-100gb-4h-test/9/) with 5.0.rc5 passed without this issue

[2022-05-25 08:32] slivne commented on #10429
THANKS !!!!! - closing the issue

[2022-05-25 08:32] #10429 closed

[2022-05-25 09:16] nyh commented on #10649
Thanks! I got code passing the tests I already wrote, without this rs->trim() thing, but what I did looks like a complete hack and I'm worried that our tests for paging through an indexed query aren't comprehensive enough and won't catch broken hacks (as it didn't catch this bug which was caught by an actual user), so I need to write more tests...

[2022-05-25 09:19] roydahan commented on #10279
No we didn’t, it’s there for long time, BUT it’s actually doing something only if there is a new sstable version to upgrade to.

@ShlomiBalalis why is the base version 5.0.rc1?

[2022-05-25 09:20] gleb-cloudius commented on #10392
The instance's cpu is overloaded:
![load](https://user-images.githubusercontent.com/6554938/170228266-e1c8011b-328d-4c82-9470-d2d7c4672b29.png)

It is busy compacting:
![compaction](https://user-images.githubusercontent.com/6554938/170228350-7a6295db-5dd1-4706-986a-c480c0e1ac26.png)

While there is no much time left to run queries:
![statement](https://user-images.githubusercontent.com/6554938/170

[2022-05-25 09:24] gleb-cloudius commented on #10392
This is why we see timeouts. But slow boot is mostly due to resharding taking 15 minutes. Note that I analyzed this https://github.com/scylladb/scylla/issues/10392#issuecomment-1127721405 report while @avikivity  looked at the original one (I think).

[2022-05-25 09:34] avikivity commented on #9505
Here are my results:

[code]

So, 99th percentile reached 15ms at one point.

[2022-05-25 09:34] avikivity commented on #9505
Another run:

[code]

[2022-05-25 09:35] avikivity commented on #9505
so, 29ms. But always at the end.

[2022-05-25 09:39] avikivity commented on #9505
During repair there are allocation warnings:

[code]

[2022-05-25 09:41] gleb-cloudius commented on #10392
Here is compaction shares vs statement shares:
![compaction-shares](https://user-images.githubusercontent.com/6554938/170232647-0f4ea3d7-626b-443f-85f1-9f861c0f61ad.png)
![statement-shares](https://user-images.githubusercontent.com/6554938/170232651-7bb9a975-5702-443c-9cca-a886f4b75eb7.png)
So @avikivity why compaction takes much more time?

[2022-05-25 10:07] avikivity commented on #9505
And, c-s isn't able to reliably complete 5000 ops/sec.

[2022-05-25 10:08] avikivity commented on #9505
5000 ops/sec w/ 200 threads -> allowed latency = 200/5000 = 40ms.

[2022-05-25 10:08] avikivity commented on #9505
That's more than enough!

[2022-05-25 10:16] avikivity commented on #9505
There is an increase in commitlog delay. But that shouldn't cause write delays in periodic mode.

![image](https://user-images.githubusercontent.com/1017210/170239631-3b788c23-1b42-4d75-aced-d19bf3faaf76.png)

[2022-05-25 10:26] avikivity commented on #9505
I applied my seastar latency-debug patches and did not see any increase in scheduling delays during repair. I did see increased activity in the main group.

[2022-05-25 10:29] avikivity commented on #9505
Something odd - streaming is consuming 5% cpu even when repair is not running.

[2022-05-25 10:29] avikivity commented on #9505
Maybe prometheus?

[2022-05-25 10:44] #10617 closed

[2022-05-25 10:45] xemul commented on #9505
After today's discussion -- if making 10-fiber CPU hogs sleep between hogging to consume ~65% of the CPU results in 18ms latency for RPC ping-pong.

Results:
[code]

Config:
[code]

[2022-05-25 10:47] avikivity commented on #9505
maybe a wayward rpc?

[2022-05-25 10:50] xemul commented on #9505
Prometheus lives in maintenance group, not streaming one

[2022-05-25 10:50] avikivity commented on #9505
0.65**10 = 1.3%, so there is a chance that all of the fibers will hog cpu at once (although, with execution_time_max = 70us, they can't do much damage)

[2022-05-25 10:53] avikivity commented on #9505
streaming task = read from socket.

[2022-05-25 10:59] avikivity commented on #9505
[code]

Some work slipped into streaming group, and when repair competes with it, it loses.

[2022-05-25 11:06] slivne commented on #10462
we need to run a test on master with this patch and repair trying to see that this doesn't introduce an issue

[2022-05-25 11:06] avikivity commented on #9505
(it happens to be similar to the rpc reproducer, but the fix here is to move it back to the statement group)

[2022-05-25 11:14] slivne commented on #10652
The performance of 5.0 is better and we are able to write much more in the warmup

This maybe causing the next step to fail as now the amount of data in the cluster is much higher

- need to check the monitoring of the two versions and see if we can explain why 5.0 is almost 4x better performing in populate phase than 4.6
- need to check the post warmup and see if we can explain why the next step

[2022-05-25 11:18] slivne commented on #9796
@asias ping

[2022-05-25 11:26] slivne commented on #10494
@xemul ping

[2022-05-25 11:28] xemul commented on #10494
`[PATCH 0/3] Fix snitching on Azure` sent 20.05.2022

[2022-05-25 11:39] nyh commented on #10649
@psarna a rs->trim() doesn't help: After fixing the problem of too-few-results (because the LIMIT is placed on the unfiltered index read), the problem is return too many results. If we hack the code to read fewer results or trim them, it doesn't help - what happens next is that the client is given those fewer results in a single page and then the client reads the next page, and gets this same numb

[2022-05-25 11:40] roydahan commented on #9828
no need for a new issue, it's the same issue.

[2022-05-25 11:41] roydahan commented on #9828
@slivne don't we want to fix it for 5.0 / 2022.1?

[2022-05-25 12:16] asias commented on #10592
trying now

[2022-05-25 12:20] asias commented on #9505
From 0.5ms p99 even to 20ms is already horrible. that is 20/0.5 = 40x latency jump.

[2022-05-25 12:22] asias commented on #9505
statement group is under 25% all the way. this rules out the theory statement is exhausted with cpu.

[2022-05-25 12:28] asias commented on #10592
@bhalevy you seastar branch does not compile with
[code]
[code]

Can you provide a seastar branch that works with scylla-5.0.rc5? I do not want to change the  scylla version in my test.

[2022-05-25 12:35] asias commented on #9796
Correct. I think it is not a bug.

[2022-05-25 12:37] #9796 closed

[2022-05-25 12:37] bhalevy commented on #10592
@asias see git@github.com:bhalevy/seastar.git branch-5.0-stream_range_as_array-close

[2022-05-25 12:38] slivne commented on #9796
@roydahan / @vponomaryov - Asias did the analysis - if this is a regression in your view - we can check again - please provide the info / link of a previous job so we can validate that.

[2022-05-25 13:48] raphaelsc commented on #10496
I did some analysis last week, and there seems no regression in reshard. I'll check if there's possible a regression elsewhere.

[2022-05-25 14:15] gleb-cloudius commented on #10392
While errors are happening there are a lot of sstable accessed:
![sstable-reads](https://user-images.githubusercontent.com/6554938/170283676-6ec12804-32d2-4dd8-b47b-2b67c7b8047e.png)
![queued-sstable](https://user-images.githubusercontent.com/6554938/170283682-035bcef2-dd5a-40dd-9ec5-cba259360701.png)

sstables in a bad shape after resharding?

[2022-05-25 14:17] bhalevy commented on #10499
@tgrabiec can you please do initial triage to understand the reason for the schema version mismatch?

[2022-05-25 14:43] bhalevy opened #10659 "runtime_info total memory seems like multiplied by smp::count in debug mode"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/14/testReport/system_tables_test/TestRuntimeInfoTable/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split007___test_default_content/

version 3904d3b96e8f

[code]

The test passes reliably in debug mode and fails consistently in debug mode (with `export SCYLLA_EXT_OPTS="--smp 2"`).
I'm not sure if the i

[2022-05-25 14:44] raphaelsc commented on #10392
both resharding and reshape are done offline, before the sstables are made available to table's set.

[2022-05-25 15:07] ShlomiBalalis commented on #10279
That run was before rc2 was promoted

[2022-05-25 15:07] raphaelsc commented on #10392
following main procedure, we do initialize system keyspace, then start storage proxy, then initialize non-system keyspaces.

initialization of any keyspace will synchronously reshard and reshape the files (assuming both are needed) in table's directory, then the output is placed in table's sstable set, which is the set that readers will consume data from.

so by the time we start storage proxy, al

[2022-05-25 15:31] ShlomiBalalis commented on #10608
@syuu1228 We check if systemd-timesync is installed, and if not we expect scylla to install either ntp or chrony. In this scenario, none of the services existed after the scylla installation was complete.
Avi says that in offline installations, scylla does not take care of this dependency and it's the user's responsibility, so we should not run this test on offline installation scenarios

[2022-05-25 15:38] gleb-cloudius commented on #10392
The problem I am looking at was reproduced with 5.0~rc3-20220406.f92622e0d

[2022-05-25 15:51] gleb-cloudius commented on #10392
The problem I am looking at did not happen on the enterprise. Also the workload access not only paxos tables, but also regular user tables created by teh alternator.

You can look the logs here: https://github.com/scylladb/scylla/issues/10392#issuecomment-1127721405 . The node number is 4. Look at the time around May 4 01:30. I see a lot of compactions with empty `origin=`

[2022-05-25 16:18] avikivity commented on #9505
Total scheduling group leak:

[code]

[2022-05-25 17:21] avikivity commented on #9505
4.6 also exhibits the scheduling leak

[2022-05-25 17:37] avikivity commented on #9505
4.4.0 has the leak, but appears smaller:

[code]

[2022-05-25 17:48] avikivity commented on #9505
4.0.0 does not have the leak, so the bug is just a fun bisect away.

[2022-05-25 17:50] avikivity commented on #9505
No leak, bug 4.0.0 repair performance is not great:

[code]

[2022-05-25 17:54] roydahan commented on #10279
It make sense that if there was an actual sstableupgrade and we use snapshots the nodes will run out of space.
@ShlomiBalalis please check in the log if there was an actual sstable upgrade probably to md format.
If so, please make sure that the test clears the snapshots we took before the upgrade for each node after every successful node upgrade using: "nodetool clearsnapshot -t <snapshot>".

This

[2022-05-25 17:59] avikivity commented on #9505
4.2.0 does not have the leak, and has good repair:

[code]

[2022-05-25 18:03] avikivity commented on #9505
4.3.0 does not have the leak, and has good repair:

[code]

[2022-05-25 18:07] avikivity commented on #9505
Could not confirm leak in 4.4.0. Will test 4.5.0.

[2022-05-25 18:14] avikivity commented on #9505
Reconfirmed leak in 4.5.6.

![image](https://user-images.githubusercontent.com/1017210/170337220-fa7f7ba4-a5e1-4248-895c-66f8d3d43510.png)

(final five minutes)

[2022-05-25 18:16] avikivity commented on #9505
4.5.0 also has the leak

[2022-05-25 18:17] avikivity commented on #9505
commit 7018377bd75ff255e3e3201c62c605480ae98fa3
Author: Asias He <asias@scylladb.com>
Date:   Mon Feb 22 09:23:53 2021 +0800

    messaging_service: Move gossip ack message verb to gossip group

    Fix a scheduling group leak:

    INFO [shard 0] gossip - gossiper::run sg=gossip
    INFO [shard 0] gossip - gossiper::handle_ack_msg sg=statement
    INFO [shard 0] gossip - gossiper::handle_syn_msg

[2022-05-25 18:18] avikivity commented on #9505
It should fix a leak, did it introduce one instead?

[2022-05-25 19:13] cvybhu commented on #10631
It's because single element IN restrictions are converted to EQ restrictions here:
https://github.com/scylladb/scylla/blob/19316dee94bf9cef6bcf2ae5f82078da9d78434a/cql3/expr/to_restriction.cc#L328

This was the case already before my changes that removed the relation class, but the check must have happened before the conversion then.
I will fix this.

[2022-05-25 21:49] hopugop opened #10660 "Alternator - AWS Terraform API for Alternator fails to create table"
*Installation details*
Scylla version: 4.6.3 with Alternator API

[AWS-provided Terraform module](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/dynamodb_table) supports DynamoDB integration. When using it for Scylla Alternator, some basic functionality is broken, like creating tables.

Using the endpoints configuration option you can point Scylla Alternator as a conne

[2022-05-25 21:51] fee-mendes commented on #10660
@nyh , great job on getting Terraform working out of the box! Tagging you as this involves Alternator HTTP API relevant/possible changes to support Terraform calls :heart:

[2022-05-25 22:12] hopugop commented on #10660
Some checks done by the terraform provider are tolerant of errors, for instance when checking for [DescribeContinuousBackupsInput](https://github.com/hashicorp/terraform-provider-aws/blob/2c2cdf8a7bbce6fffc104a50c381dd7482ac2357/internal/service/dynamodb/table.go#L677).
But the same does not apply when it checks for [DescribeTimeToLiveInput](https://github.com/hashicorp/terraform-provider-aws/blob

[2022-05-25 22:15] nyh commented on #10660
Although at this point we still want users to **enable** an "experimental feature" to actually use TTL, it was a mistake to require this flag just to call `DescribeTimeToLive`. That call should succeed even with the experimental feature off - it will just say that TTL is not enabled.

I should remove the experimental check in `executor::describe_time_to_live()`, and then backport that fix to 4.6.

[2022-05-26 02:25] asias commented on #10592
I could not reproduce with scylla-5.0.rc5 + branch-5.0-stream_range_as_array-close.

[2022-05-26 02:31] asias commented on #9505
The commit https://github.com/scylladb/scylla/commit/7018377bd75ff255e3e3201c62c605480ae98fa3 only moves a verb to the correct group. I could not see how it could introduced one.

[code]

[2022-05-26 06:26] bhalevy commented on #10462
I think we can close this issue with e65b3ed50a1b4953eb57a5ed38438c06acd222e1, modulo testing of course.

This can be considered separately as an optimization.
Not sure it will actually be needed.

[2022-05-26 06:27] kostja opened #10661 "cdc_with_lwt_test is flaky in debug mode"
How to repeat:

./test.py --mode=debug cql/cdc_with_lwt_test --repeat=30

The test periodically produces "result content mismatch" because the cdc log contains a before image for a record that is being inserted into a new table.

Before the switch to standalone scylla the test would use cql_repl binary which bootstraps a fresh schema for each execution of the test. Now the scylla instance is reuse

[2022-05-26 07:49] bhalevy opened #10662 "forward_result::merge(): operation cannot be completed due to invalid argument sizes"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/14/artifact/logs-full.debug.037/1653303393144_materialized_views_test.py%3A%3ATestInterruptBuildProcess%3A%3Atest_interrupt_build_process_and_resharding_half_to_max_test/node3.log
[code]

Decoded:
[code]

Coredump: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/14/artifact/log

[2022-05-26 07:50] bhalevy commented on #10662
@gleb-cloudius can you please look into this issue?

[2022-05-26 08:05] bhalevy commented on #10662
Thanks.  Closing as dup

[2022-05-26 08:05] #10662 closed

[2022-05-26 08:36] gleb-cloudius commented on #10392
I do not see reshape at all during boot. The first reshape compaction I see happens more than hour after the boot as a result of a repair.

[2022-05-26 09:13] bhalevy opened #10664 "test_simple_kill_remained_node_while_decommissioning: AssertionError: found statuses: ['UN', 'UN', 'UN']"
First seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/20/testReport/junit/update_cluster_layout_tests/TestUpdateClusterLayout/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split007___test_simple_kill_remained_node_while_decommissioning/
Scylla version dc5c9321fee9
[code]

FWIW, seems to reproducible locally.

[2022-05-26 09:14] bhalevy commented on #10664
@asias could this be related to 3dc9a81d02a26d021ad1954d57b574ad4899561d?

[2022-05-26 09:42] juliayakovlev opened #10665 "Significant throughput drop during repair base node operation (replace node)"
## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `2022.1~rc5-20220515.6a1e89fbb` with build-id `5cecadda59974548befb4305363bf374631fc3e1`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-rbno-12h-replace-node-202-db-node-6d2572b3-9 (13.50.5.205 | 10.0.3.194) (shards: 14)
- longevity-rbno-12h-replace-node-202-db-node-6d2572b

[2022-05-26 09:49] xemul opened #10666 "init - Unexpected error shutting down database: seastar::named_semaphore_aborted (Semaphore aborted: off-strategy compaction): aborting"
When stopping scylla this error propagates up to the database::stop() [like this](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/14/artifact/logs-full.debug.029/1653301262444_alternator_stream_tests.py%3A%3ATestAlternatorStreams%3A%3Atest_updated_shards_during_add_decommission_node/node6.log).
Sometimes it seems to reincarnate as [cross shard barrier exception](ht

[2022-05-26 09:59] zimnx opened #10667 "Files created by Scylla ignore XFS project inheritance bit"
Cross-isssue of already fixed issue from seaster to track down the backports in Scylla.
Seastar issue: https://github.com/scylladb/seastar/issues/1057
Fixed by https://github.com/scylladb/seastar/commit/a7145145b42617dfc1e973cf2d1849eec2212be4

Please backport it to 5.x

[2022-05-26 10:03] bhalevy commented on #10666
@raphaelsc I think we should treat semaphore aborted errors in all compaction_manager tasks in a similar way and turn them into `compaction_stopped_exception`.

[2022-05-26 10:38] bhalevy commented on #10664
Bisected to 1f8b529e08bc613ca250314b51bbd41f728c1d7a `range_streamer: Disable restream logic`

[2022-05-26 10:56] aleksbykov commented on #10372
Issue reproduced with:
Kernel Version: 5.13.0-1025-aws
Scylla version (or git commit hash): `2022.1~rc6-20220523.30ce52b2e` with build-id `1ff28b762c63cd66c4fa8e5de35cb08ba40920b4`## Logs:
- **db-cluster-9b6131a4.tar.gz** - [https://cloudius-jenkins-test.s3.amazonaws.com/9b6131a4-7b4b-48e3-9072-fc45f6c8bd6d/20220525_141406/db-cluster-9b6131a4.tar.gz](https://cloudius-jenkins-test.s3.amazonaws.com/

[2022-05-26 11:03] xemul commented on #10372
Advanced dahsboard with IO metrics shows no data.

[2022-05-26 11:08] slivne commented on #10664
@asias - please note this is a patch you sent
@scylladb/scylla-maint please revert the patch

[2022-05-26 11:09] bhalevy commented on #10664
I was also able to reproduce a core dump in `update_cluster_layout_tests.py::TestUpdateClusterLayout::test_simple_kill_streaming_node_while_bootstrapping` (which frequently fails in CI) in this version:

node4.log:
[code]

Decoded:
[code]

[2022-05-26 11:11] slivne commented on #10523
@avikivity backport ping

[2022-05-26 11:17] tgrabiec commented on #9805
The fix was reverted in https://github.com/scylladb/scylla/commit/225fe2d3bd9a0aece8a22546f6d9d8286e2a91b1

[2022-05-26 11:31] bhalevy opened #10668 "Segfault on shutdown in test_simple_kill_streaming_node_while_bootstrapping"
This is being hit frequently in CI and is pretty hard to reproduce locally.
I managed to get a coredump with scylladb/scylla@1f8b529e08bc613ca250314b51bbd41f728c1d7a
When bisecting https://github.com/scylladb/scylla/issues/10664.

node4.log:
[code]

Backtrace:
[code]

[2022-05-26 11:37] bhalevy commented on #10664
I opened #10668 for https://github.com/scylladb/scylla/issues/10664#issuecomment-1138418358
I have doubts it's related to 1f8b529e08bc613ca250314b51bbd41f728c1d7a

[2022-05-26 11:44] asias commented on #10664
I am looking at it.

[2022-05-26 11:45] asias commented on #10664
Let's not rush to revert. It might reveal a real bug.

[2022-05-26 11:49] asias commented on #10664
@bhalevy  Which dtest commit were you using?

[2022-05-26 11:56] bhalevy commented on #10664
It happens to be a branch I pushed based on 263a30ff

[2022-05-26 11:59] KnifeyMoloko opened #10669 "scylla_setup failing in artifacts test on Ubuntu 22.04 LTS"
## Installation details

Test: artifacts_test.ArtifactsTest.test_scylla_service
Build number: 40
Backend: gce: us-east1
Kernel version: 5.15.0-1004-gcp
Test-id: 0d493f3f-2084-4689-b59b-783aeab5ff8c
Start time: 2022-05-26 11:11:08
End time: 2022-05-26 11:15:12
Started by user: maciej.cisowski
Private repo: http://downloads.scylladb.com/unstable/scylla/master/deb/unified/2022-05-20T03:58:10Z/scyllad