[2022-03-10 18:19] KnifeyMoloko opened #10193 "Coredumps after removing node from dc"
*Installation details*
Kernel version: `5.11.0-1028-aws`
Scylla version (or git commit hash): `5.1.dev-0.20220304.eff5076dd5d9 with build-id a788ea8b5f4d4cbbcf8711974791711b2b88924f`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-cdc-100gb-4h-master-db-node-7a20a2b1-1 (54.171.133.55 | 10.0.1.249): 14 shards
   longevity-cdc-100gb-4h-master-db-node-7

[2022-03-10 18:20] KnifeyMoloko commented on #10193
**The same is true on node 3**

**Shutdown notice:**
[code]

**Exception:**
[code]

**Coredump:**
<details>
<summary>Click to view coredump</summary>

[code]
</details>

[2022-03-10 18:20] KnifeyMoloko commented on #10193
**And node 5:**

**Shutdown notice:**
[code]

**Exception:**
[code]

**Coredump:**
<details>
<summary>Click to view coredump</summary>

[code]
</details>

[2022-03-10 18:41] fgelcer commented on #10162
that is the nemesis was running when we had the critical event...

seeing the list of the nemesis, without their timestamps, or if it was start or end, didn't make much sense, but if you just want a list of nemesis that ran in each test, i will put it in the next comment

[2022-03-10 18:46] fgelcer commented on #10162
@roydahan , here:
[code]

[2022-03-10 20:00] #9974 closed

[2022-03-11 14:17] soyacz opened #10196 "Warnings are not sent in cql response"
*Installation details*
Scylla version (or git commit hash): 4.6.rc5

When using Cassandra, python cql client response contain warnings created by server.
When using Scylla, warnings are not sent - only place to see them is scylla log.

[2022-03-11 18:56] raphaelsc opened #10198 "Scylla may pick existing SSTable generation for SSTable being moved from staging dir"
Scylla optimistically assumes that main directory isn't using the generation used by one of the SSTables in the staging directory.

Then when moving SSTables from staging into main dir, the procedure will fail with:

`2022-03-08T08:48:03+00:00 stop-compaction-ls-db-node-2f2c651b-1 ! WARNING |  [shard 0] view_update_generator - Moving some sstable from staging failed: sstables::malformed_sstable_ex

[2022-03-11 19:32] raphaelsc commented on #10198
We could patch table::move_sstables_from_staging() as follow:

[code]

but I don't think it will fix the root cause.

[2022-03-12 09:37] saada commented on #10135
Ran into this while running inside a k3d cluster that uses local-path-provisioner as CSI. I wish there was a more useful error to help figure out what the root cause actually is.

[2022-03-13 08:41] nyh commented on #10196
It sounds like you're making in this issue a general claim that Scylla doesn't know how to send warnings in CQL responses, and yet your patch seems to suggest that this is only the case in one specific case (an over-sized batch). If it's just this specific case, the issue should probably be renamed.

[2022-03-13 10:25] slivne commented on #10193
@bhalevy / @denesb - is this another case of coreump like #10179

[2022-03-13 10:26] slivne commented on #10193
I can have someone else look at it - but if its the same - then I guess you are the best to look at it.

@KnifeyMoloko is this "easy" to reproduce ? - can we try to run the exact same scenario and see if it reproduces

[2022-03-13 10:29] slivne commented on #10061
I am not sure it will be easy to run the bisect between 4.6.rc2 <--> 4.6.rc5 as we have coredumps related to commitlog

[2022-03-13 10:34] bhalevy commented on #10193
Decoded backtrace:
[code]

[2022-03-13 10:36] bhalevy commented on #10193
The above abort happened on nodes 1 and 3.

node5 produced a slightly different backtrace:
[code]

[2022-03-13 10:43] bhalevy commented on #10193
Change 28d562ddf62f77eb7588b696763cb23dc91b922c deleted the call to `_timeout.cancel()` from `abstract_read_resolver::fail_request`.

@piodul was it intentional?

I think we're getting a timeout following a failure...

[2022-03-13 12:06] roydahan commented on #10193
@slivne the same test with the same nemesis flow passed this week.
If needed we can try to run with last week's version to check if easily reproduces.

[2022-03-13 12:49] yarongilor opened #10200 "truncate table command failed with timeout during rolling upgrade"
Test details
Test: upgrade_test.UpgradeTest.test_rolling_upgrade
Build number: 19
Backend: gce: eu-west-1
Kernel version: 3.10.0-1160.59.1.el7.x86_64
Test-id: 1e2fd466-7b76-47df-aa15-c3a5bf62493f
Start time: 2022-03-10 17:19:30
End time: 2022-03-10 19:13:29
Started by user: fabio
Cassandra-stress uses shared-aware driver
Test result
FAILED
System under test
ScyllaDB version: 4.6.rc5-0.20220203.569

[2022-03-13 14:01] bhalevy opened #10201 "shedding_timeout is hard coded"
`shedding_timeout` was added in https://github.com/scylladb/scylla/blob/cb27ebe61de527219d244a2ec3771b13705ad4ce/transport/server.cc#L622
as a hard coded 50 milliseconds value.

Apart for potentially not working well for debug build, @psarna, wouldn't it make sense to make it configurable, along with `read_request_timeout_in_ms` and friends, and calculate it to be a multiple of one of these timeou

[2022-03-13 14:06] bhalevy commented on #10201
Also, unrelated, Couldn't https://github.com/scylladb/scylla/blob/cb27ebe61de527219d244a2ec3771b13705ad4ce/transport/server.cc#L659
cancel the `_shedding_timer` armed by a different (even later) request?

[2022-03-13 15:54] roydahan commented on #10200
Probably same as #6309

[2022-03-13 17:19] pyuriy opened #10202 "Alternator: New features we need"
Hello Scylla team!

Please advice if you have any plans to add the following feature?
It is critical for our application to migrate from AWS DynamoDB to Scylla.

1. DynamoDB’s TTL (per-item expiration)
2. Multi-item transaction feature (TransactWriteItems, TransactGetItems)
3. The ScanIndexForward=false of the Query operation - to read a partition in reverse order - is currently implemented ineffi

[2022-03-13 21:04] fgelcer commented on #10060
running with version `4.6.0-0.20220306.2f2d22a86 with build-id d487cdea729e95d8caebe2e9e2ae8698f35f19ee`

[monitor is here](http://44.203.25.122:3000/d/manager-2-5/longevity-1tb-7days-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1646934681491&to=1647200052920)

we see that nemesis `run_unique_sequence` (1st run of it) took ~10 hours - [monitor](http://44.203.25.122:3000/d/manager-2-5

[2022-03-13 21:14] fgelcer commented on #10162
running another try to reproduce this issue [here](https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/Reproducers/job/10162_ReadTimeoutException_longevity-4h/4/)

[2022-03-13 22:19] bhalevy commented on #10175
Should be backported to 4.6 based on https://github.com/scylladb/scylla/issues/10060#issuecomment-1066181733

[2022-03-14 07:06] juliayakovlev opened #10205 "Aborting on shard and coredump after enospace"
*Installation details*
Kernel version: `5.11.0-1028-aws`
Scylla version (or git commit hash): `5.1.dev-0.20220217.69fcc053b with build-id b8415b1ebbffff2b4183734680f4afab3bfed86d`
Cluster size: 4 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-041d8500e7cf30167` (aws: eu-west-1)

Scylla running with shards number (live nodes):
   longevity-200gb-48h-verify-limited--db-node-ec3e0f2b-1 (3.2

[2022-03-14 07:10] soyacz commented on #10196
Yes, my mistake. I cannot make general statements from specific scenario. Thanks for pointing that.

[2022-03-14 07:24] tzach commented on #10202
Mapping this to existing alternator issues:

- [ ] TTL #5060
- [ ] Transactions #5064
- [ ] ScanIndexForward=false #7586

[2022-03-14 07:34] aleksbykov commented on #10146
@roydahan , The issue was reproduced with `5.1.dev-0.20220204.87e48d61a` a lot of in flights hints

[2022-03-14 08:10] psarna commented on #10201
We could make it configurable, it probably makes sense to put the value (or a multiplier?) in the service level options, the ones set up with `CREATE SERVICE LEVEL` statement. We have zero user feedback on that particular feature, so I don't really know which way would be the best.

[2022-03-14 08:27] roydahan commented on #10060
Please add what is the expected time (took on 4.5) and how long each cleanup took.

[2022-03-14 08:39] piodul commented on #10193
@bhalevy  Oops, it was definitely not intentional. Sent a fix which brings back cancelling the timer: https://github.com/scylladb/scylla/pull/10206

[2022-03-14 08:54] codingcuisg opened #10207 "Endless nodetool cleanup"
**Scylla version**  4.4.5

**Output of compactions stats**
[code]
The cleanup has been running for more than 20 hours, and the compactionstats is showing the progress of cleanup
(set compaction log level to trace, confirming the cleanup is running)
[code]
However the tasks seems to be never ending (always 3 tasks with the same task info)

Also:
The table had around 20+ sstables which size more tha

[2022-03-14 08:54] bhalevy commented on #10060
Do we have SCT results for master with https://github.com/scylladb/scylla/issues/10175 fixed?

[2022-03-14 09:07] psarna commented on #10174
@juliayakovlev could you reschedule this test with current master branch? https://github.com/scylladb/scylla/pull/10191 is merged, and while there's no hard proof (yet) that it fixed the root cause, it would be nice to verify if it fixed the issue.

[2022-03-14 09:13] bhalevy commented on #10097
To summarize a verbal discussion: we agreed that a good strategy to take will be to move cleanup away from using `rewrite_sstables` that compacts sstables one at a time towards a compaction type derived from regular compaction, driven by `compact_sstables`.  That will allow it to be bucket aware and do the cleanup in bucket order (smallest to largest), replacing the sstables in a batch after each

[2022-03-14 09:20] bhalevy commented on #10201
Maybe both.  If it makes sense to associate the load-shedding timeout in the service level setup, it seems like it would make sense to be able to override the defaults of all timeouts in the service-level configuration.

As for specifying the actual timeout or a multiplier.  I think that if we allow complete configuration in scylla.yaml/command line for the default values and override in the servi

[2022-03-14 09:37] bhalevy opened #10208 "Scrub should include partition key when throwing compaction_aborted_exception"
Currently, in call sites where scrub throws `compaction_aborted_exception`, it doesn't indicate the partition in which the exception occurred.  The exception only includes the keyspace and table name, yet the key where the unrecoverable corruption occurred could be valuable to the user and field-engineering.

Lat's either add it to the exception class (maybe as optional if it's not always availabl

[2022-03-14 09:51] psarna commented on #10174
Ok, I think I have a ~proof that something got used-after-move or after-free. Currently the only supported aggregation type is count, and an instance of `selection` for this count request is prepared in a `mock_selection` helper function.
This function creates a selection with one column per reduction type.
Now, conclusions from the core dump investigation:
Reduction types held in this forward req

[2022-03-14 10:04] gleb-cloudius commented on #10055
Fixed by 108e7fcc4ea700eed1f94b203f75317ac15a1bfc

[2022-03-14 10:04] #10055 closed

[2022-03-14 10:15] bhalevy commented on #10174
@psarna I think that driving the type of `auto reduction_types = std::move(req.reduction_types)` as `query::forward_request::reduction_type&&` would be a compiler bug.

According to https://en.cppreference.com/w/cpp/language/auto and https://en.cppreference.com/w/cpp/language/template_argument_deduction#Other_contexts.

[code]

So in our case the type would be derived by an imaginary function `tem

[2022-03-14 10:26] nyh opened #10209 "cql-pytest could determine scylla-path and workdir without cooperation from "run""
In commit afab1a97c645ef626a16e4957662c17bcd14adf3, @denesb added two options to the cql-pytest tests: `--scylla-path` specifies where the Scylla executable is, and `--workdir` specifies Scylla's working directory (where it saves the sstables, for example). Knowing these things were needed for `test/cql-pytest/test_tools.py`, which wants to run tools included in the Scylla executable (so needs to

[2022-03-14 10:49] aleksbykov opened #10210 "A lot of seastar::named_semaphore_timed_out (Semaphore timed out: _read_concurrency_sem) cause gemini to failed"
*Installation details*
Scylla version (or git commit hash): `4.4.9-0.20220313.c37f5938f with build-id 94b1a0017f259c65b8478097f52311088a991c57`
Cluster size: 3 nodes (i3.large)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0e843eda884765abc` (aws: eu-north-1)

Gemini command:
`/$HOME/gemini -d --duration 3h --warmup 30m -c 100 -m mixed -f --non-interactive --cql-features normal --max-mutation-retries 5 --

[2022-03-14 11:15] denesb commented on #10175
@bhalevy please prepare a PR with the backport to 4.6, it doesn't apply cleanly (it applies cleanly to 5.0).

[2022-03-14 11:20] aleksbykov commented on #10133
Issue reproduced:
ScyllaDB version: 4.3.6-0.20210801.5cd698c89 with build-id 06e7aa565d316de88fe479f976bf55339ed1caf3 (-)
Target ScyllaDB repo: https://s3.amazonaws.com/downloads.scylladb.com/unstable/scylla/branch-4.4/rpm/centos/2022-03-13T14:40:44Z/scylla.repo
Instance type: n1-highmem-8
Number of ScyllaDB nodes: 3

db_logs: https://cloudius-jenkins-test.s3.amazonaws.com/c09313ca-cebb-4459-9596-

[2022-03-14 11:33] denesb commented on #10209
Thanks for creating an issue for this, I almost forgot about this (even though I promised to do it as a follow-up to https://github.com/scylladb/scylla/pull/10074).

[2022-03-14 11:59] denesb commented on #10209
Note that the `workdir` can be easily extracted from `system.config` virtual table. The challenge is only finding the process and determining whether it is a local one or not.

[2022-03-14 12:04] bhalevy commented on #10187
Seen again in https://jenkins.scylladb.com/job/scylla-master/job/next/4655/artifact/testlog/x86_64_release/multishard_mutation_query_test.fuzzy_test.3152.log

[2022-03-14 12:10] denesb commented on #10187
I have a fix in testing, will send it soon.

[2022-03-14 12:16] nyh commented on #10209
Indeed, this is what I said above.

Yes, and as I said, I just solved this challenge in my test_logs.py patch. I used `lsof` to find a local process which listens to the address/port pair (which the test knows). It works very well. If I can't find such a local process it means there isn't one.

[2022-03-14 12:23] slivne commented on #10146
We will create versions without commitlog patches / with commitlog fixes and see if that helps.

please work with Alex if Roy is out

[2022-03-14 12:43] denesb commented on #10187
Fuzzy test is on a streak recently, with finding really nasty bugs.

[2022-03-14 13:27] nyh commented on #10209
@denesb sent a patch titled "[PATCH] test/cql-pytest: implement test_tools.py without run-script cooperation". Please review it.

[2022-03-14 14:57] codingcuisg commented on #10207
CMIIW,
[code]
this means 3 sstables are running cleanup, but somehow a lot of .sstable files which were completed but the files were not released.
[code]
The behaviour is strange, `Mar 13 15:25` was the time when I triggered the cleanup.
[code]

[2022-03-14 15:03] raphaelsc commented on #10207
@codingcuisg please upload the logs since cleanup started.

I assume you have 3 vcpus dedicated to Scylla, which is why you have 3 entries listed in compactionstats.

Cleanup operation will rewrite all sstables needing clean up, which is why you always see entries in compactionstats, despite logs show that a given SSTable was cleaned up.

Logs will shed some light on this, please upload it. Please

[2022-03-14 15:24] codingcuisg commented on #10207
thank @raphaelsc I am using aws i3.4xlarge. And 14 vpus were bond with scylla, we are using STCS with the default setting. It used to have 14 cleanup tasks running at the beginning and only 3 left now.

What I confused is, why there are so many .sstable files ? from my understanding, the .sstable files == number of TOC.tmp files == active cleanup tasks, is it correct ?

[2022-03-14 15:24] bhalevy commented on #10175
@denesb patch sent to scylladb-dev

[2022-03-14 15:40] raphaelsc commented on #10207
Actually it depends. TWCS may decide to split data if they belong to different windows. please share schema of table data_points.

Logs will also be very important. Please share it.

[2022-03-14 15:44] avikivity commented on #10146
Do you have results ealier than dec 4, so that we can be sure it is not a fluke?

[2022-03-14 15:45] avikivity commented on #10146
$ git log 44f4ea38c..d3abff9ea1c --first-parent --reverse --format=oneline
2bdc31f8a3d23ed2129b3b7ab4f4aa6e682e0c03 test/alternator: two more tests for unimplemented Select=COUNT
0df14a48cf1dec07df5c7530f6cc84cbb8a49600 Merge "gms: features should keep 'enabled' state" from Pavel Solodovnikov
ec775ba2929d21d61cdfbd28b27298ab1aa52c54 Merge "Remove more gms::get(_local)?_gossiper() calls" from Pavel

[2022-03-14 15:47] avikivity commented on #10146
I can see nothing relevant. Perhaps it's a kernel change.

[2022-03-14 15:52] codingcuisg commented on #10207
Table schema:
[code]

[2022-03-14 15:54] piodul opened #10211 "Exception (re)thrown in result_try handler can be accidentally caught by a different handler in the same result_try"
The `result_try` and `result_futurize_try` functions are supposed to simulate the behavior of `try`/`catch` blocks and should handle both exceptions and failed results in the same way.

Consider this `result_try` block:

[code]

To properly simulate a `try`/`catch` block, if the exception is rethrown (or a completely new exception is thrown) in a `catch` handler, it should not be handled by any ot

[2022-03-14 15:58] aleksbykov commented on #10210
Running job with 4.4.8

[2022-03-14 16:01] codingcuisg commented on #10207
[scyllalog.txt](https://github.com/scylladb/scylla/files/8246537/scyllalog.txt)

[2022-03-14 16:56] juliayakovlev opened #10212 "Aborting on shard on the node duringe multiple schema changes"
*Installation details*
Kernel version: `5.11.0-1028-aws`
Scylla version (or git commit hash): `5.1.dev-0.20220303.0544973b15dd with build-id 3b69cb8b4d61d8190175613119fcc982a0b5eddb`
Cluster size: 4 nodes (i3en.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-050e5a4fbd1175aa3` (aws: eu-west-1)

Scylla running with shards number (live nodes):
   longevity-twcs-48h-master-db-node-d46ad8d2-1 (34.249.9

[2022-03-14 17:31] nyh commented on #10202
Hi Yuriy,

For `ScanIndexForward=false` - this feature is completely done (see issue #7586). However again, since this is relatively new fix, you won't find it on old versions. If you want to know if the fix was backported to a specific version you want to use, please ask on #7586.

For TTL (#5060), we actually already have working - but experimental - code. The [compatibility.md](https://github.c

[2022-03-14 17:31] #10202 closed

[2022-03-14 18:39] raphaelsc commented on #10207
this only contains data from the last 3 hours. I need more, from where cleanup started and some cleanup work finished with message "Cleaned up"

additionally, 9829 out of 10000 lines only say : "Writing a partition with too many rows". please filter it out.

[2022-03-14 20:44] vladzcloudius opened #10213 "[regression]: Unrelated prepared statements are invalidated during schema change"
*Installation details*
HEAD: 83ec505fabeb23770944bcc723f0d464f7416d05

*Description*
This is a regression introduced by this patch:

[code]

Every prepared statement created by a PREPARE command attempted during a schema change (regardless whether it depends or does not depend on a changed schema item) may have to be re-prepared because it can get invalidated by a non-deterministic loading_shared_

[2022-03-14 20:45] vladzcloudius commented on #10213
@nyh FYI

[2022-03-14 21:23] #10193 closed

[2022-03-14 21:56] fgelcer commented on #10060
as reported in the issue description, for 4.5 `run_unique_sequence` took 6.5 hours and `remove_node_than_add_node` took 7 hours.

cleanup runs took the following times in `4.5.0-0.20211006.47be33a10 with build-id cae2146dc91480331365938fddb866fe4ecc0c56`:
during `remove_node_than_add_node` (took in total `7h13m9s`):
[code]
during `run_unique_sequence` i don't see in the logs any `nodetool` command

[2022-03-14 22:01] fgelcer commented on #10060
running on master [here](https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-1tb-7days/3/)

[2022-03-14 22:38] horschi opened #10214 "Coordinator and replica disagree on whether the query is paged?"
- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.5.4-0.20220220.53b0aaa4e
Cluster size: 3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 20.04

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): VM
Hardware: sockets=? cores=4 hyperthreading=? memory

[2022-03-15 00:37] #10209 closed

[2022-03-15 02:12] codingcuisg commented on #10207
I have filter the large_data, please kindly refer to
[scyllalog.txt](https://github.com/scylladb/scylla/files/8249602/scyllalog.txt)

[2022-03-15 02:39] codingcuisg commented on #10207
it seems for shard 1,2,7. the compaction keep failing and retry forever. however the major compaction looks like successful as I didn't see such error during last time major compaction.
[code]
same issue on another node
[code]

[2022-03-15 07:22] psarna opened #10215 "Allow distributing user-defined aggregates"
Following the idea described and implemented in https://github.com/scylladb/scylla/pull/9209 , let's allow distributing more complex computations than just count(*) - namely, user-defined aggregates.
Not all user-defined aggregates can be easily distributed, so for starters the scope should be reduced to commutative ones - so, in particular, we may need a way to mark some functions/aggregates as h

[2022-03-15 07:30] slivne commented on #10214
@denesb I guess there is an explanation for this - so please provide it.

With regards to making it clearer in future releases - lets see if we can make it clearer in future releases - it doesn't have to be you - since I expect the "fix" to be simple.

[2022-03-15 07:43] slivne commented on #10093
@juliayakovlev / @roydahan can we validate this is actually fixed ^^ / working

[2022-03-15 08:50] juliayakovlev opened #10217 "seastar::gate_closed_exception and error applying view update when stopping migration service"
*Installation details*
Kernel version: `5.11.0-1028-aws`
Scylla version (or git commit hash): `5.1.dev-0.20220303.0544973b15dd with build-id 3b69cb8b4d61d8190175613119fcc982a0b5eddb`
Cluster size: 3 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-050e5a4fbd1175aa3` (aws: eu-west-1)

Scylla running with shards number (live nodes):
   gemini-1tb-10h-master-db-node-dfd0facd-1 (52.215.207.192

[2022-03-15 09:51] juliayakovlev opened #10218 ""Could not create SSTable component" exceptions while Scylla service is down"
*Installation details*
Kernel version: `5.11.0-1028-aws`
Scylla version (or git commit hash): `5.1.dev-0.20220303.0544973b15dd with build-id 3b69cb8b4d61d8190175613119fcc982a0b5eddb`
Cluster size: 3 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-050e5a4fbd1175aa3` (aws: eu-west-1)

Scylla running with shards number (live nodes):
   gemini-1tb-10h-master-db-node-dfd0facd-1 (52.215.207.192

[2022-03-15 10:09] aleksbykov commented on #10133
Latest succesfull was upgrade from 4.3.6-0.20210801.5cd698c89 -> 4.4.8-0.20220130.ce944911f with build-id bbfd1a4e61fb5462b2b325179bc77794b58a5513

[2022-03-15 10:29] denesb commented on #10214
My theory is that the coordinator and replica disagree on whether the query is paged (as said in the title). The coordinator sets the paged limits as it should for a paged query (hard_limit=soft_limit=1MB (1048576)), but the replica considers the query unpaged and treats it as such. I wonder if this is a result of read-repair: read repair doesn't use paging (need to check). Read repair edits the s

[2022-03-15 10:30] tarzanek commented on #10135
afaik 4.4.4 doesn't have support for ARM
it was added in 4.6
- which explains
`my_scylla  | 2022-02-24 17:03:11,915 INFO exited: scylla (terminated by SIGKILL; not expected)`
(scylla simply dumps core and won't start)

[2022-03-15 10:56] bhalevy commented on #10207
That explains why cleanup doesn't make progress, as apparently the sstables are malformed.

The .sstable directory entries are temporary sub-directories we use to write new sstables.
And they are left behind after a failure due to #9522.

This has similarities to https://github.com/scylladb/scylla/issues/9983 where compaction fails endlessly due to preexisting corruption in sstables.

We need to a

[2022-03-15 10:57] aleksbykov commented on #8927
I rerun with latest 4.6, issue was not reproduced:
*Installation details*
Kernel version: `5.11.0-1022-aws`
Scylla version (or git commit hash): `4.6.0-0.20220306.2f2d22a86 with build-id d487cdea729e95d8caebe2e9e2ae8698f35f19ee`
Cluster size: 4 nodes (i3en.3xlarge)
Scylla running with shards number (live nodes):
   longevity-large-collections-12h-rep-db-node-62d35a6b-1 (54.93.162.153 | 10.0.0.200)

[2022-03-15 10:57] bhalevy commented on #10207
@slivne can you please add a label for "Corruption" or "Data consistency"?

[2022-03-15 11:01] bhalevy commented on #10207
@codingcuisg, would it be possible for you to upload at least one of those sstables (include all its component files, i.e. `md-19516-big-*`) and provide us with the schema for this keyspace and table?

See https://docs.scylladb.com/troubleshooting/report-scylla-problem/#send-files-to-scylladb-support for instructions. for upload instructions.

[2022-03-15 11:04] psarna opened #10219 "Add a way of declaring user-defined aggregates as commutative"
As part of #10215, we should make it possible to declare that a given user-defined aggregate can be distributed, and its results can be correctly map-reduced from multiple nodes and shards. There are at least two ways to approach it:
1. Extend `CREATE FUNCTION` and other similar statements to include this additional information - e.g. that a function, which can later be used as the state transitio

[2022-03-15 11:20] psarna commented on #10219
If anyone has a suggestion/opinion to share, I'd be obliged

[2022-03-15 11:32] aleksbykov commented on #10210
@slivne it looks not a regression for 4.4.9. the issue reproduced with same seed  on 4.4.7, 4.4.8

[2022-03-15 11:56] denesb commented on #10175
Backported to all vulnerable branches (4.6, 5.0), removing "Backport candidate" label.

[2022-03-15 12:11] aleksbykov commented on #5528
was not reproduced on latest master

[2022-03-15 12:58] aleksbykov opened #10221 "Nodetool toppartitions output contains garbage in results"
*Installation details*
Scylla version (or git commit hash): 5.1.dev-0.20220303.0544973b15dd
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0a70604d73ac418ec (eu-north-1)

Job: https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/abykov/job/BYO-abykov-staging-2/37/
attempt to reproduce issue #5528

nodetool toppartitions periodically return result with garbage:
[code]

Nodes are a

[2022-03-15 13:00] KnifeyMoloko opened #10222 "Allow listing all inherited service level attributes for a role"
The current implementation of Service Levels allows the users to list Service Levels attached directly to a Role. However the user can also grant other roles with attached Service Levels to a Role and there is no straightforward way of listing these. For example in the following scenario:

1) create Service Level "A" with timeout=40ms
2) attach SL "A" to Role A
3) create Service Level "B" with tim

[2022-03-15 13:13] nyh commented on #10215
Unless I'm missing something, the aggregates are already fed data in basically random partition order, so what would be the point of a user having a non-commutative aggregate? I'm not saying it's impossible to invent a non-commutative aggregate, what I'm saying that the use should already expect that the data be given to this aggregation function in random order. All we need to do is to clearly sa

[2022-03-15 13:27] nyh commented on #10219
I agree with your later comments and less with the title of the issue. In other words, that what's important for distribution of the calculation is not the "commutativity" of the function (I argue that any useful UDA would be commutative anyway), but rather the ability to a third function beyond the regular two -
1. SFUNC that takes a single piece of data and updates the "state"
2. FINALFUNC that

[2022-03-15 13:35] psarna opened #10224 "Allow declaring reducer function for user-defined aggregates"
As part of https://github.com/scylladb/scylla/issues/10215, we should have a way of dclaring an additional, optional function for user-defined aggregates. The function, with working name REDUCEFUNC, should be able to merge partial results, which can in particular come from distributing the aggregation to multiple sub-coordinators.

Proposed syntax:
CREATE [OR REPLACE] AGGREGATE [IF NOT EXISTS]
key

[2022-03-15 13:39] cvybhu commented on #8517
I can try to take a look at it once the `relation` class stuff gets to review. It will be a good moment as I will have to understand how the `restrictions` class works anyway.

Btw using the word `unset value` when meaning `null value` can be confusing. `unset value` already means a specific value type sent from the driver.

A while ago I made a note about different cql value types, I will paste i

[2022-03-15 13:49] bhalevy commented on #10179
Closing as duplicate of #10193
Please reopen if seen again

[2022-03-15 13:49] #10179 closed

[2022-03-15 14:24] #10211 closed

[2022-03-15 14:28] avikivity commented on #9505
@asias any news?

[2022-03-15 14:35] avikivity opened #10225 "reusable unprepared statements are not reused"
Some unprepared statements (`SELECT * FROM system.peers`) are regularly issued by drivers, but not reused. This wastes CPU and causes small stalls when a client connects.

/cc @slivne @zimnx @tnozicka

[2022-03-15 14:41] avikivity opened #10226 "task quota violations when preparing a statement (unproven)"
We see high task quota violations when a workload with unprepared statements is run. We did not prove that preparing is the cause of the stalls, but it seems likely.

/cc @slivne @zimnx @tnozicka

[2022-03-15 14:45] raphaelsc commented on #10226
@avikivity What was the length of the task quota violation? It's worth sharing the backtrace here so whoever jumps into fixing this can use the bt for defining the strategic yields

[2022-03-15 14:48] avikivity commented on #10226
I don't think the stalls are long enough to produce a trace. 2ms is enough to cause a task quota violation, but not a stall trace.

In any case this is just an educated guess that needs to be proven.

[2022-03-15 15:14] psarna commented on #10224
Schema info about aggregates is kept in this schema table:
[code]
We should consider, in terms of backward compatibility, whether it's better to just append a new column (`reduce_func`) to this table, or to create a new table, (`system_schema.reducers`?) and keep the additional info is there. The first option looks much simpler at first glance, but it's actually quite complicated since we need to

[2022-03-15 15:48] vladzcloudius commented on #10225
We can do this in general BTW. We even do half of the work today - we DO prepare unprepared statements (see `query_processor::execute_direct_without_checking_exception_message(...)`) but we don't cache it like we do in `query_processor::prepare_one(...)`.

This made sense before https://github.com/scylladb/scylla/commit/1a9c6d9fd3af5b9dd06bc51128fdcd3185456c70 but this makes little sense after it.

[2022-03-15 18:06] avikivity commented on #10224
We can't add a table every time we add a column. However, non-Cassandra columns shouldn't be added to Cassandra tables.

[2022-03-15 18:11] psarna commented on #10224
Right, "reducers" is too specific a name. We do need something like scylla_aggregates though.

[2022-03-15 18:17] #10187 closed

[2022-03-15 20:06] nyh commented on #10055
Thanks. I can confirm it did bring back the single-node boot to be as fast as it was without raft.

But I still don't understand what happens when we boot several nodes in sequence. The first node will, after this patch, immediately nominate itself, which is great. When the second node boots, will it recognize the existing leader immediately - or will it have this 2-second timeout during start?

I

[2022-03-15 20:55] edin-mahmutovic commented on #10135
I am getting same error with version 4.6. on my M1 Mac when I run it inside Minikube. Works fine with docker-compose.

[2022-03-16 01:00] asias commented on #9505
Yes, I am still trying to reproduce with the simple application for higher latency, so far I can only reproduce up to 10ms latency with a simple application running  rpc workload + cpu workload only.

Here below are more info for scylla cql + repair + c-s latency tests:

- A small amount of message are with high latency. In my test, around 0.15% of rpc messages latency are bigger than 60ms.
The lo

[2022-03-16 07:13] psarna commented on #10224
Our aggregations are not really compatible with Cassandra at all, because we support different default sets of languages. But we keep the `system_schema.*` tables in a fully compatible form, in order to make it easy to migrate and make sure that all the C* tools still continue working as expected. For that reason we also have `system_schema.scylla_tables`. See Tomek's commit message from 2017 for

[2022-03-16 07:26] codingcuisg commented on #10207
unfortunately, I am able to share huge data files to you due to company policy.

Just to clarify, if we trigger the major compaction, the corruption will still be here even though no error with the major compaction ?

The cluster used to fail streaming when replaced a node (probably due to few huge partition > 20GB), and what we did was remove a node and add a new node to the cluster. we did remov

[2022-03-16 07:40] denesb opened #10229 "flat_mutation_reader_test: test_flat_mutation_reader_consume_single_partition is flaky"
Example failure:
[code]
Seen in [jenkins:next#4626](https://jenkins.scylladb.com/job/scylla-master/job/next/4626/artifact/testlog/x86_64_debug/flat_mutation_reader_test.test_flat_mutation_reader_consume_single_partition.3614.log).

[2022-03-16 07:41] denesb commented on #10229
Introduced in 2221aeff0e.

[2022-03-16 07:49] slivne commented on #9505
We will do the following:
- create a seastar issue with the info of the rpc and 10ms latency so we can start looking at that
- update the test to have two scheduling groups (similar to what happens in repair) so we can check the latency of reads in parallel to repair (that is cpu intensive)
- asias wants also to inject some artificial stall and see what the effect on the latency (would it be much

[2022-03-16 09:24] avikivity commented on #9505
Let's record the traffic with tcpdump, and print some identifier we can search for in the capture. This will tell us if we have a delay before send, in tcp, or after receive.

[2022-03-16 09:28] psarna commented on #10224
@nyh side note though: technically, Cassandra supports any language, because their UDF system is pluggable. So as long as you load a custom .jar file that you trust, you can support any language you want.

[2022-03-16 09:55] bhalevy commented on #10207
Yes, this is possible in the current version you're using.
Scylla version 4.5 and later won't allow that, and compaction is expected to fail, similar to #9983,
preventing the corruption from propagating to new sstables.

What software version was installed then?
Did all nodes use the same number of shards?
Otherwise, if this was 3.1 or later, with row-level repair and different number of shards, I

[2022-03-16 10:51] aleksbykov commented on #10143
Issue was not reproduced with latest master

[2022-03-16 10:53] kbr- commented on #10143
In that case I'm closing it. Please repoen if it reproduces.

[2022-03-16 10:53] #10143 closed

[2022-03-16 12:21] bhalevy commented on #10217
Eventually, we're cleaning up the shutdown process slowly so services would be shut down cleanly so it won't happen.

[2022-03-16 12:29] bhalevy commented on #10218
[code]

This looks like a race between the distributed loader shards where shard 6 started reshaping and shard 0 is still in the process of scanning the dir.  It found a new temporary directory that shard 6 has created concurrently and since https://github.com/scylladb/scylla/blob/0cc717ee86c050b58d20d1345470fb5743841f05/replica/distributed_loader.cc#L410-L426
is not shard aware, it removed the di

[2022-03-16 12:35] xemul commented on #10205
https://github.com/scylladb/scylla/commit/132c9d593378b42bb1c38de80ecd3a1b04e3ee39 is not yet in 5.1.dev-0.20220217.69fcc053b, so dup of #9573

[2022-03-16 13:31] bentcoder commented on #10135
I remember solving this issue using one of 4.6.0.rc* images but cannot remember which one it was. Given 4.6.0 is now released, it should help you.

[2022-03-16 13:42] bhalevy commented on #10218
I see a similar race earlier in the log:
[code]

@juliayakovlev could there be a nemesis running in parallel hat may trigger off-strategy compaction?

@raphaelsc compaction manager should not allow any compactions on the table while it's loading.
It might be harder, but maybe we can get the table object readied by the distributed loader before it's even added to the database so that nobody else ca

[2022-03-16 14:45] kbr- commented on #10119
I confirmed that 6 responses is the correct and expected number for this write: there are 5 normal nodes and 1 joining node, and the write exception reports the number of all replicas, including pending replicas.

My hypothesis is that one replicas had problems (not necessarily CDC related, just general) and simply did not manage to perform the write, hence we got a timeout.

I checked the metrics

[2022-03-16 14:45] #10119 closed

[2022-03-16 14:47] bhalevy commented on #10218
Okay, I think I found the reason...

https://github.com/scylladb/scylla/blob/0cc717ee86c050b58d20d1345470fb5743841f05/replica/distributed_loader.cc#L535
triggers offstrategy compaction *in the background*. But it does so too early, when populating the staging directory.
We want to trigger offstrategy compaction only when finished populating the base dir in https://github.com/scylladb/scylla/blob/0

[2022-03-16 14:50] raphaelsc commented on #10218
Very good point. That's why we only enable auto compaction much later in the main startup path. I think the fix is about moving the trigger of off-strategy compaction to the time when we also enable auto compaction in main.cc. Do you want me to send the patch?

[2022-03-16 14:53] raphaelsc commented on #10218
This is the fix:

[code]

Thanks Benny

[2022-03-16 14:54] kbr- commented on #7610
New issue was opened for the new problem, closing this one.

[2022-03-16 14:54] #7610 closed

[2022-03-16 14:57] kbr- commented on #10138
In the end, we have no evidence that there is a problem with Scylla. The problem here was with a *removed* node that was not shut down, i.e. a test problem. Do I understand this correctly? @bhalevy can we close this issue?

[2022-03-16 14:58] #9287 closed

[2022-03-16 15:02] bhalevy commented on #10218
I guess that the problem was introduced in a144d301620db27d8e5fe90568b98e1ae4090ed4

[2022-03-16 16:20] kbr- commented on #10164
When you disable CDC on a table, the corresponding CDC log table is dropped through the same mechanism you would use to drop a regular user table.

There is a race between dropping a table and writing to it. If there are any unfinished writes that started before the drop table was issued, and the writes reach replicas after the schema update does, the replicas will complain that they cannot find t

[2022-03-16 17:25] elcallio commented on #10164
@kbr I don't think we should mess with how "normal" /explicit, user initiated) table drops relate to table usage. Since we know that at least one CDC consumer (alternator) actually suffers from the CDC log being removed as soon as CDC is disabled, perhaps we should just do a (low prio) behaviour change so that a CDC disable sets the flags, but postpone log table deletion by `log ttl` time... This

[2022-03-16 19:59] saada commented on #10135
@bentcoder 4.6 does not solve the issue. Can we reopen?

[2022-03-16 20:41] fgelcer commented on #10148
seeing it during `RollingConfigChangeInternodeCompression` nemesis, while restarting node-1

*Installation details*
Kernel version: `5.11.0-1028-aws`
Scylla version (or git commit hash): `5.1.dev-0.20220303.0544973b15dd with build-id 3b69cb8b4d61d8190175613119fcc982a0b5eddb`
Cluster size: 4 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-1tb-7d-master-db-node-e5

[2022-03-17 00:33] #10229 closed

[2022-03-17 00:33] #10218 closed

[2022-03-17 03:20] codingcuisg commented on #10207
@bhalevy
one more clarification here. as we observed, no luck, perhaps all the nodes having such issue. will it be an approach that we delete all the data file and let a node replace it self. i.e in scylla.yaml set replace_address_first_boot=<current node ip>

it is hard to trigger the endless cleanup on all nodes and find the corrupt sstables

[2022-03-17 05:33] bhalevy commented on #10212
@juliayakovlev the build-id mentioned above is not found.  I'm not sure where you got it...

There is http://downloads.scylladb.com.s3.amazonaws.com/unstable/scylla/master/relocatable/2022-03-03T09%3A12%3A28Z/00-Build.txt with build-id `50417b5f861f252373a1b082cf81d551a1775564`

That seems to produce a sensible decoded backtrace:
[code]

So it is apparently a duplicate of #10193

[2022-03-17 05:33] #10212 closed

[2022-03-17 05:36] bhalevy commented on #10138
Yeah, let's put this one to rest.

[2022-03-17 05:36] #10138 closed

[2022-03-17 05:39] bhalevy commented on #10080
@elcallio @raphaelsc please advise on the above.

[2022-03-17 05:48] bhalevy commented on #10148
@cmm why 0caa21079d962ab88519b9b17779441c3d3306d5 only refs this issue rather than fix it?
What else needs to be done?

In the future we do want to stop assigning the replacing node the replaced node's host id, but that should be done under a different ticket.  This one is about the failure to restart the replacing new, and that should be fixed with 0caa21079d962ab88519b9b17779441c3d3306d5.  There

[2022-03-17 06:34] bhalevy commented on #10207
@codingcuisg

I'm afraid it is not guaranteed to solve the issue.  streaming may just transfer mis-ordered partitions from the remaining nodes back to the self-replaced node.

Understood.  If self-replacing the node would have helped then indeed cleanup wouldn't have been needed as the new node would have been sent only the tokens that it owns.

As I mentioned above, once upgraded to 4.6, scrub in

[2022-03-17 08:12] fgelcer commented on #10148
hum, so my build (`5.1.dev-0.20220303.0544973b15dd with build-id 3b69cb8b4d61d8190175613119fcc982a0b5eddb`) didn't contain the fix?

[2022-03-17 08:15] xemul opened #10233 "IO preemption overlaps requests"
There's a seastar commit https://github.com/scylladb/seastar/commit/249dc1ed8a02875f9f44d8a2853a3396a5956b22 that fixes IO preemption logic. Needs to be backported to whatever scylla version has rate-limiter-based IO scheduler (in master it's e0ebde0f4f263137cfc370cfb22ead8d312d2aae pulling `Merge "Rate-limited IO capacity management" from Pavel E` commit). Master branch has the fix merged by e2f3

[2022-03-17 09:17] bhalevy commented on #10148
Correct. 0caa21079d962ab88519b9b17779441c3d3306d5 was merged only about a day later.

[2022-03-17 09:32] gleb-cloudius commented on #6128
Is there corresponding Cassandra issue?

[2022-03-17 09:37] kbr- commented on #10149
Backported to 4.6

[2022-03-17 09:53] cmm commented on #10148
a different ticket needs be opened (I still don't feel that I have the full picture of the problem space to formulate it), and I think that about sums it up. :)

[2022-03-17 11:57] kbr- commented on #10164
It would be enough to postpone it just so that all writes using that table finish, so a few seconds/minutes (depending on how long the schema change propagates). Unless the point is to let users consume existing changes. But ttl can also be 0, would that mean we never delete the table?

Also it could happen that the user reenables CDC at about the same time we decide to drop the log table, and we

[2022-03-17 12:19] bhalevy commented on #10148
@asias / @tgrabiec do we have an already open issue for not reusing the existing host id when replacing a node?

[2022-03-17 12:40] tgrabiec commented on #10148
@bhalevy It's a prerequisite for https://github.com/scylladb/scylla/issues/6403. I'm not aware of any separate issue.

[2022-03-17 14:30] bhalevy commented on #10148
okay, so let's close this issue then with 0caa21079d962ab88519b9b17779441c3d3306d5

[2022-03-17 14:30] #10148 closed

[2022-03-17 15:47] KnifeyMoloko opened #10235 "CQL Syntax error when creating a Service Level with workload_type attribute"
*Installation details*
Kernel version: `5.11.0-1028-aws`
Scylla version (or git commit hash): `5.1.dev-0.20220303.0544973b15dd with build-id 3b69cb8b4d61d8190175613119fcc982a0b5eddb`
Cluster size: 3 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   system-sla-sla-work-db-node-a90844ac-1 (13.40.4.87 | 10.0.2.5): 8 shards
   system-sla-sla-work-db-node-a90844ac-2 (35.177.28.67 |

[2022-03-17 17:24] fee-mendes opened #10236 "Ec2MultiRegionSnitch should not enforce a public RPC address"
*Installation details*
Scylla version (or git commit hash): `4.6.0-0.20220306.2f2d22a86`
Cluster size: 2x i3.xlarge
OS (RHEL/CentOS/Ubuntu/AWS AMI): ` ami-0607f8830ea1f5981`

Scylla - unlike Cassandra - seems to still be enforcing `broadcast_rpc_address` to a public IP rather than parsing what the user has choosen, as shown in [ec2_multi_region_snitch.cc](https://github.com/scylladb/scylla/blob/ma

[2022-03-17 17:24] annastuchlik opened #10237 "Docker commands are not working"
https://github.com/scylladb/scylla-doc-issues/issues/843

A Scylla user tried running the commands described at https://docs.scylladb.com/operating-scylla/procedures/tips/best-practices-scylla-on-docker/ but failed. See https://github.com/scylladb/scylla-doc-issues/issues/843.

This doesn't seem to be a documentation issue. Could you look into it and help?

PopOS 21.10 (Ubuntu 21.10-based) 64-bit

[2022-03-17 19:50] kokizzu opened #10238 "Scylla Docker 4.5 doesn't have pidof"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.5
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Docker

command from this page:
https://university.scylladb.com/courses/scylla-essentials-overview/lessons/architecture/topic/shard/
[code]

[2022-03-17 19:52] kokizzu opened #10239 "Scylla Docker 4.6 failed to start by default"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.6
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Docker

detail here: https://github.com/scylladb/scylla-doc-issues/issues/843

[2022-03-17 22:15] bhalevy commented on #10198
Duplicate of #10218 probably

[2022-03-17 22:17] bhalevy commented on #10198
with reshape happening in staging too early the base table hadn't finished scanning all sstables to figure out the highest generation

[2022-03-17 22:23] bhalevy commented on #10059
@tgrabiec please analyze this abort

[2022-03-17 23:37] raphaelsc commented on #10198
That's very likely #10218. Match the scenario. I am closing this one, if we see it again, which is unlikely, we can open another one.

[2022-03-17 23:37] #10198 closed

[2022-03-18 00:45] asias commented on #9505
Update:

Config:

two nodes, node1 and node2, each has only 1 shard per node
sched_group1 = 1000 shares
sched_group2 = 200 shares
two verbs, perf_test1 (under sched_group1) and perf_test2 (under shced_group2)
payload is 1024 bytes in size.
[code]
On the verb handler, the diff = now() - tx_timestamp, is recorded in a histogram for the rpc verb latency.

Workloads in the test:

node1:
10 NET workloa

[2022-03-18 02:43] asias commented on #9505
Yes. We can add an uuid in each packet and search on the tcpdump so we can know the on wire time.

[2022-03-18 04:28] vlaualv opened #10240 "when i use select * from table limit 1 read timeout,scylla logs :Memory usage of unpaged query exceeds hard limit"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

Scylla version (or git commit hash): Scylla version 4.3.6-0.20210801.5cd698c89
Cluster size: 2

[2022-03-18 09:20] psarna commented on #10225
Ideally the drivers should also just prepare their statements that are periodically reused. Right now we don't do that in https://github.com/scylladb/scylla-rust-driver because it was simpler to just issue a query, but it's easy enough to migrate to prepared statements. I'll create an issue.

[2022-03-18 13:22] rueian opened #10242 "Scylla Docker 4.6.0 does not log to stdout"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

## problem

Scylla Docker 4.6.0 use this command option `--log-to-syslog 1 --log-to-stdout 0`

[2022-03-18 13:46] xemul opened #10243 "Discrepancy between two copies of host_id during replace_node"
Commit 3fef60407535a2ee0416fe08f4a7a5fdbf8f274b made a copy of `system_keyspace::local_cache::host_id` value on `db::config`. This should be problematic in case of replace-node -- the copying of the value from system keyspace cache happens in main.cc _before_ `storage_service::init_server` which, in turn, would go ahead and update the system keyspace's value in `storage_service::prepare_replacemen

[2022-03-18 15:28] KnifeyMoloko opened #10244 "Coredump following marshaling error: read_simple_exactly - size mismatch (expected 4, got 101) after schema change"
*Installation details*
Kernel version: `5.13.0-1017-aws`
Scylla version (or git commit hash): `5.0.rc2-0.20220316.839d9ef41 with build-id 1319e7e64335b7e5c7531f773e92ef997b6c51ba`
Cluster size: 4 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-lwt-3h-5-0-db-node-48e7eb83-1 (3.226.249.47 | 10.0.3.79): 8 shards
   longevity-lwt-3h-5-0-db-node-48e7eb83-2 (3.230.127.117

[2022-03-18 15:29] KnifeyMoloko commented on #10244
**Coredump for node 1 segfault**

[code]

[2022-03-19 12:04] codingcuisg commented on #10207
hi @slivne the cluster was upgrade from 4.3.5 to 4.4.5 before, and each nodes are using the same instance type and io/cpu config. sadly I suspect the issue happens on 4.3.5 even lower version like 3.x, kindly refer to the ticket my colleague raised before https://github.com/scylladb/scylla/issues/6529 (generally same cluster and same table)

the operation history as below:
1. upgrade from 4.3.5 to

[2022-03-19 20:00] syuu1228 commented on #10237
Not able to reproduce:
[code]

[2022-03-19 21:20] syuu1228 commented on #10050
Tried to reproduce but I couldn't.
I think we should try to reproduce it in SCT again, with Traceback enabling patch (#10140).

[2022-03-20 07:44] juliayakovlev commented on #8706
Test https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-50gb-3days/127/
Scylla version: 5.1.dev-0.20220303.0544973b15dd
Huge amount of the mutation_write_timeout_exception - 4356737
Because of such huge amount of error the test runner was run out of space and logs were not collected
This is Jenkins console output: https://s3.console.aws.amazon.com/s3/object/cloudius-jenkins

[2022-03-20 08:25] nyh commented on #10239
This looks like a duplicate of #10237. I'll close this one and comment there.

[2022-03-20 08:25] #10239 closed

[2022-03-20 08:57] eliransin commented on #9505
I am not 100% sure but I think there is a TCP socket option that tells you how much time has the packet spent on the TCP queue,
IIRC @psarna used it a while back (overload project) to see if we can account for the time being spent on the queue when we
do timeout calculation and load shedding.

[2022-03-20 09:05] nyh commented on #10237
Works for me:
[code]

@kokizzu maybe the host's operating system somehow makes a difference (I'm using Fedora 34 myself) but I don't know how or why. It looks like the Scylla server itself failed to start in your container, and the question is why. Can you find anything interesting in "docker logs some-scylla" - written by the Scylla server itself (the logs which you pasted only say that Scylla ex

[2022-03-20 09:54] juliayakovlev opened #10247 "Coredump during memory stress"
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-24h-5-0-db-node-3da79032-6 (34.241.84.194 | 10.0.0.89) (shards: 8)
- longevity-lwt-24h-5-0-db-node-3da79032-5 (34.248.100.108 | 10.0.1.

[2022-03-20 09:57] juliayakovlev commented on #8706
Same problem in the 5.0 LWT test.

## Logs:
Because of such huge amount of error the test runner was run out of space and logs were not collected
Console output:
https://s3.console.aws.amazon.com/s3/object/cloudius-jenkins-test?region=us-east-1&prefix=3da79032-61fa-482b-bef3-8c3710d36b5d/20220318_170529/5.0_lwt_24h_console_output.tar.gz

## Installation details

Kernel Version: 5.13.0-1017-aws

Sc

[2022-03-20 10:11] bhalevy opened #10248 "mutation_reader_test.test_generating_reader_v1 fails on aarch64"
Seen in https://jenkins.scylladb.com/job/scylla-master/job/build/959/artifact/testlog/aarch64_release/mutation_reader_test.test_generating_reader_v1.191.log
[code]

And https://jenkins.scylladb.com/job/scylla-master/job/build/959/artifact/testlog/aarch64_dev/mutation_reader_test.test_generating_reader_v1.191.log
[code]

Scylla version cd5fec8a2306c5edc77e10649069b07388f5febd

[2022-03-20 10:40] juliayakovlev opened #10249 "Coredump during compaction of system.paxos"
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-24h-5-0-db-node-3da79032-6 (34.241.84.194 | 10.0.0.89) (shards: 8)
- longevity-lwt-24h-5-0-db-node-3da79032-5 (34.248.100.108 | 10.0.1.

[2022-03-20 10:40] bhalevy commented on #10248
doesn't reproduce locally for me on x64_64 with same seed (and `-c3`)

[2022-03-20 11:05] juliayakovlev commented on #6309
Reproduced with 5.0-rc2

## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-24h-5-0-db-node-3da79032-6 (34.241.84.194 | 10.0.0.89) (shards: 8)
- longevity-lwt-24h-5-0-db-node-3da79032-5

[2022-03-20 12:05] roydahan commented on #10249
FWUP issue, not scylla issue.

[2022-03-20 12:05] #10249 closed

[2022-03-20 12:06] roydahan commented on #10247
fwupd issue, not scylla.

[2022-03-20 12:06] #10247 closed

[2022-03-20 12:12] roydahan commented on #10244
@KnifeyMoloko please ad the exact alter table command that was running as part of the nemesis.

[2022-03-20 12:17] slivne commented on #10060
@fgelcer need input on the status following the run

[2022-03-20 12:47] roydahan commented on #9331
@aleksbykov (cc @rayakurl), let's have an "official run" with AMI that @eliransin will provide us, for the following jobs with branch-4.6 (run it under reproducers of 4.6):
- lwt-500gb-3d
- [longevity-cdc-3d-400gb-test](https://jenkins.scylladb.com/view/scylla-4.6/job/scylla-4.6/job/longevity/view/Long%20Longevities/job/longevity-cdc-3d-400gb-test/)
- test throughput (test_write).

[2022-03-20 13:39] bhalevy commented on #10248
reproduced on aarch64 with every seed I tried so far

[2022-03-20 13:58] bhalevy commented on #10248
Oddly, it looks like the results are also not 100% reproducible with the same seed.

[2022-03-20 14:51] avikivity commented on #10248
Can you bisect it? It's probably recent.

[2022-03-20 15:00] bhalevy commented on #10248
@avikivity the test is brand new, introduced in 9f95042c2bd8ca559f3b5d7d4c23eb09dcfacdaa (merged in 77f330f393c3eb3abd8c07950f8c2b3748473365)

[2022-03-20 15:05] avikivity commented on #10240
Possibly #7689. Did that table experience many deletions? Does major compaction (`nodetool compact`) help?

[2022-03-20 15:08] bhalevy commented on #10248
Another clue could be that the tests fails in dev and release modes but not in debug mode

[2022-03-20 16:38] bhalevy commented on #10248
Rearranging the patches in a the following order showed that the error is triggered by 3594f836fc3612e444098b216c8ab935b5823533.

28a7f1a5e readers: implement generating_reader from v1 generator via adaptor
96d3bf254 readers: upgrade_to_v2(): reimplement in terms of upgrading_consumer
99e440070 readers: add upgrading_consumer
b51d8799a test/boost: mutation_reader_test: add tests for generating rea

[2022-03-20 20:58] fgelcer commented on #10060
@slivne , last run failed while starting c-s commands with error:
[code]

it could be, like we saw in other occasions, nodes being under attack (port scans), like these:
[code]

i didn't find anything at the exact same time c-s failed..
it failed once prepare load finished, and the main load was starting (3 out of the 4 c-s load started, and the 3rd one failed with critical event, and stopped the

[2022-03-20 21:35] nyh commented on #10025
This bug still exists in today's latest nightly.
Backtrace:
[code]

Decoding this backtrace doesn't add too much information:
[code]

[2022-03-20 21:57] nyh commented on #10025
I was able to reproduce this exact crash when outside of docker with the command line
[code]
But the bug is only reproduced when I remove the SSL configuration files conf/scylla.crt and conf/scylla.key.

We actually documented the need for these files in https://hub.docker.com/r/scylladb/scylla/ and in docs/alternator/getting-started.md:

So the fact it doesn't work is not a bug.

HOWEVER, what **

[2022-03-20 23:10] colin-grapl commented on #10237
I'm having this issue on multiple versions. The last one I tried was 4.2.1, but I've tried multiple others (4.5, 4.6).

I'm on a debian distro (via ChromeOS), docker version 20.10.13. I've also tried adding port mappings to the command,

[code]

Output log `docker logs some-scylla`
https://gist.github.com/colin-grapl/513a5c898dd2f02f097f4fc4ad43697a

Here's the output of running cqlsh
[code]

[2022-03-21 02:04] #3403 closed

[2022-03-21 02:06] foxhunter72143 commented on #10240
Yes,there were many ttl deletion. I loaded a few GB data ,there were all exipired.When I loaded new data into syclla cluster , the problem was gone .  I did not do major compation. I am not sure that major compaction will help. How can I avoid this problem now ?

[2022-03-21 07:11] kokizzu commented on #10237
only got this error on 4.6,
using 4.5 is fine, just need to wait for a moment until it's up

[2022-03-21 07:11] asias commented on #9505
Update:

I attached an UUID to each rpc message and was able to search the UUID from the wireshark dump. I looked for the message with >20ms latency, for example:

TX TIMESTAMP=  10:31:55.896
ON WIRE TIMESTAMP =  10:31:55.8965093
RX TIMESTAMP =  10:31:55.917

917 - 896 = 21ms

So, the 20ms latency was spent mostly on the RX side.

[2022-03-21 07:13] kokizzu commented on #10237
the docker log for 4.6
https://gist.github.com/kokizzu/8c84457ccf32f824a2684b764ea70de8

[2022-03-21 07:21] kokizzu commented on #10237
hmm... if I run with that argument it works fine..
[code]
so one of the parameter on my docker-compose is causing the error?

[2022-03-21 07:44] fruch opened #10250 "Failed to create *.Ec2Snitch: std::system_error (error system:110, Connection timed out)"
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- alternator-48h-5-0-db-node-048c3c9d-4 (34.252.111.203 | 10.0.2.142) (shards: 14)
- alternator-48h-5-0-db-node-048c3c9d-3 (34.241.22.97 | 10.0.1.81) (

[2022-03-21 07:54] bhalevy commented on #10248
Marking as High since it's blocking dtests in master (that are blocked on the Build job that fails on this issue)

[2022-03-21 08:17] slivne commented on #10026
@psarna 7b364fec9849e9a342af1c240e3a7185bf5401ef should we backport this to 4.6 - if so lets do that - if this is schema mismatch - we will leave it pending on raft making its magic.

[2022-03-21 08:18] kokizzu commented on #10237
yes it's the `--overprovisioning` flag that caused that
[code]
so 4 million not enough for 32 core when overprovisioned flag on?

[2022-03-21 08:25] juliayakovlev commented on #10068
Reproduced in longevity-mv-si-4days-test, 5.0~rc2
https://jenkins.scylladb.com/view/scylla-5.0/job/scylla-5.0/job/longevity/job/longevity-mv-si-4days-test/2/

The logs were not collected.
Console output:
https://s3.console.aws.amazon.com/s3/object/cloudius-jenkins-test?region=us-east-1&prefix=1bb24db5-ff03-42fb-b3c5-595d885b91f2/mv_si_4d_console_output.tar.gz

Kernel Version: 5.13.0-1017-aws
Scyll

[2022-03-21 08:27] slivne commented on #9906
@xemul / @bhalevy so it seems we do have a bug https://github.com/scylladb/scylla/issues/9906#issuecomment-1060257118 - io-tune running on ebs volumes measures burst rate and not the steady state - and we can't rely on its numbers - lets create an issue for this - is there any mechanism in io-scheduler to actually check the disk provides us what io-tune measured (there can be other scenarios) in w

[2022-03-21 09:04] eliransin commented on #9505
@asias What is RX timestamp? Is it stamped by the linux TCP stack or is it the timestamp from the logs (the start of the message processing timestamp)?

[2022-03-21 09:22] bhalevy commented on #10244
Fully decoded backtrace:
[code]

[2022-03-21 09:23] bhalevy commented on #10244
@psarna can you please look into this issue? (it involves `generate_and_propagate_view_updates`)

reloc package is here: http://downloads.scylladb.com/unstable/scylla/branch-5.0/relocatable/2022-03-16T14:40:21Z/scylla-x86_64-package.tar.gz

[2022-03-21 09:26] psarna commented on #10244
I'll take a look

[2022-03-21 09:32] psarna commented on #10026
@slivne https://github.com/scylladb/scylla/commit/7b364fec9849e9a342af1c240e3a7185bf5401ef should be backported regardless, it's a legit bug. The real root cause **is** something related to schema changes we haven't tracked down yet, but we should very strongly prefer to throw an error rather than segfault. I'll backport to 4.6 today

[2022-03-21 09:34] elcallio commented on #10164
ttl = 0 should mean "remove immedietely", no? Do we really allow infinite life time of CDC log data? Me thinks that should change if so.
Yes, there is a race between table expiring and user re-enabling CDC. But if we always on enable CDC sprinkle in some "alter table" (set a property?) schema mutations, we should get a race in schema updating, one trying to remove the table, one trying to alter it

[2022-03-21 09:34] psarna commented on #10026
(and I'll backport to 5.0 too)

[2022-03-21 09:36] psarna commented on #10244
As it happens, Shlomi also pointed out that https://github.com/scylladb/scylla/commit/7b364fec9849e9a342af1c240e3a7185bf5401ef isn't backported to 4.6, and I see it's not part of 5.0 either. I strongly suspect it's the culprit. Note that the backport will not fix the schema mismatch problem, but it will fix a segfault - and we simply strongly prefer that a user receives an error during a schema mi

[2022-03-21 09:50] psarna commented on #10244
[code]
these lines from the original issue description are a clear indicator that it's the case. I'm still ungzipping the core to triple-check, but I bet the first step towards fixing the problem is the backport above. I already queued it to 5.0, will do in a minute to 4.6 too.

[2022-03-21 09:57] psarna commented on #10244
Yyyyup, the same symptoms, trying to get an index of a column definition that describes the same column, but with a different pointer, as described in detail here: https://github.com/scylladb/scylla/issues/10026#issuecomment-1030221972 . Therefore, closing as a duplicate of #10026

[2022-03-21 10:06] yarongilor commented on #10068
Possibly reproduced with scylla-bench as well, during a nemesis of 'remove-node-then-add-node' in 5.0
[code]

## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run:
- longevity-large-partitions-200k-pks-d

[2022-03-21 10:27] roydahan commented on #10061
@eliransin this is the job I used to reproduce the runs, you can use it as well:
https://jenkins.scylladb.com/job/Perf-Regression/job/scylla-release-perf-regression-aws-test-throughput-wait-for-compactions/

[2022-03-21 10:48] yarongilor commented on #9623
Reproduced in 5.0 200k-pk longevity.
[code]

## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run:
- longevity-large-partitions-200k-pks-db-node-d8fcc7b7-9 (13.49.64.218 | 10.0.1.134) (shards: 12)
- long

[2022-03-21 11:02] asias commented on #9505
The RX and TX timestamp are the time we process the rpc verb in the rpc handler and the time we pass the message to rpc for sending.

[2022-03-21 11:58] ShlomiBalalis opened #10251 "Rebuild is reported as "in progress" although it was expected to get terminated by then"
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-5-0-db-node-3881062c-9 (54.195.190.69 | 10.0.0.169) (shards: 16)
- longevity-tls-50gb-3d-5-0-db-node-3881062c-8 (34.249.29.134

[2022-03-21 12:10] denesb commented on #10248
This seems to be a miscompilation issue. The following diff solves the issue:
[code]
Looks like `mf` is sometimes moved before `flush_tombstones()` finishes.

[2022-03-21 12:14] bhalevy commented on #10248
@denesb let's push this patch for the meanwhile and follow-up with finding a reduced test case and file a bug against the compiler.

[2022-03-21 12:20] fgelcer commented on #10060
monitor alive [here](http://3.250.15.17:3000/d/ks-master/longevity-1tb-7days-scylla-per-server-metrics-nemesis-master?orgId=1&from=1647811536294&to=1647865187131)

[2022-03-21 12:22] denesb commented on #10248
Yes, it also happens inconsistently. For some rows it works for others it doesn't.

[2022-03-21 12:27] eliransin commented on #9331
@aleksbykov (cc @rayakurl ) - here are 4.6.rc5 based AMI which has it's hard_limit turned on:
eu-west-1: ami-043ba16049b6d1dbc
us-east-1: ami-02c8ba9cd34e0fd06

[2022-03-21 12:59] bhalevy opened #10252 "doc: refer to http://backtrace.scylladb.com/"
To help developers find http://backtrace.scylladb.com/, refer to it in the documentation.

First docs that come into mind are:
https://github.com/scylladb/scylla/blob/master/HACKING.md and possibly https://github.com/scylladb/scylla/blob/master/docs/guides/debugging.md

We could also add a pointer for the server's documentation (See https://github.com/scylladb/scylla_s3_reloc_server/issues/14)

[2022-03-21 13:22] soyacz commented on #9623
Similar thing happened during truncate table query (rolling upgrade test from 4.6.). One node got upgraded to 5.0.
[code]

Test: rolling-upgrade-centos7-test
Id: 9378cfef-9185-4e9a-a837-80815534b51f

System Information
Backend: gce
Region: eu-west-1
AMI ImageId: https://www.googleapis.com/compute/v1/projects/centos-cloud/global/images/family/centos-7
Kernel Version: 3.10.0-1160.59.1.el7.x86_64
Scy

[2022-03-21 14:14] xemul opened #10254 "The recent total-delay metrics are rounded up to seconds"
There are two metrics added to seastar (and scylla) recently -- `io_queue_total_delay_sec` and `io_queue_total_exec_sec`. Both are counters (derives) and both are reporting accumulated durations in _seconds_, which are naturally floating point numbers. Unfortunately, seastar metrics engine converts all `DERIVE` metric values to integers:

[code]

As the result both metrics lose precision a lot --

[2022-03-21 15:40] juliayakovlev opened #10255 "Node that was added as replacement did not see the cluster and was not added to the gossip"
*Installation details*
Scylla version (or git commit hash): 5.0.rc2-0.20220316.839d9ef41 with build-id 1319e7e64335b7e5c7531f773e92ef997b6c51ba
Cluster size: 5 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-088d9111d729684f8 (eu-north-1)

Test: longevity-mv-si-4days-test

New node that was created as replacement for another node but wasn't added to the cluster ring.

Node longevity-mv-si-4d-5-0-db-nod

[2022-03-21 15:58] juliayakovlev opened #10256 "Nodetool toppartitions fails with NotSerializableException"
*Installation details*
Scylla version (or git commit hash): 5.0.rc2-0.20220316.839d9ef41 with build-id 1319e7e64335b7e5c7531f773e92ef997b6c51ba
Cluster size: 5 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-088d9111d729684f8 (eu-north-1)

Test: longevity-mv-si-4days-test

New node that was created as replacement for another node but wasn't added to the cluster ring.

Nodetool toppartitions fails (as i

[2022-03-21 17:45] #2388 closed

[2022-03-21 20:03] yuriy-yarosh commented on #8570
@tomer-sandler I'm working on Cassandra/ScyllaDB connector for Typelevel Scala (similar to [skunk](https://github.com/tpolecat/skunk/)). Are there any plans for cassandra [NativeProtocol 5](https://github.com/apache/cassandra/blob/cassandra-4.0/doc/native_protocol_v5.spec) (aka "beta C* 4.0 proto") and CQL 3.4.5 support ?

[2022-03-22 07:42] elcallio commented on #10164
Actually, assuming we disallow ttl == 0 -> infinite stay, we could really just never delete the log table at all, assuming data expires and gets compacted away. We will still need to track schema changes and update fields etc, but...

It all boils down to what our consumers want. But just looking at it from an alternator perspective, I think we actually would be better served with retaining data a

[2022-03-22 09:45] fruch opened #10257 "[Alternator] exceptions::read_timeout_exception (Operation timed out for * - received only 1 responses from 2 CL=LOCAL_QUORUM.)"
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- alternator-48h-5-0-db-node-2dc5878d-6 (34.241.84.203 | 10.0.0.161) (shards: 14)
- alternator-48h-5-0-db-node-2dc5878d-5 (54.77.246.65 | 10.0.2.111) (

[2022-03-22 09:54] nyh opened #10258 "The scylla_cache_row_hits metric looks incorrect"
A Scylla user noticed that in their monitoring, under the "Cache - replica" heading, the "reads with no misses" graph shows reasonable numbers - around 200 per second in each shard - but the separate "row hits" graph is almost always zero.

Looking at the monitoring, I noticed that "reads with no misses" comes from (the subtraction of) the two counters `scylla_cache_reads` and `scylla_cache_reads_

[2022-03-22 10:10] bhalevy commented on #10258
Cc @tgrabiec @xemul who maybe more familiar with the cache stats.

[2022-03-22 11:01] tgrabiec commented on #10258
`scylla_cache_row_hits` shows the number of rows in cache which were hit by reads. It is orthogonal to "reads with no misses". For example, a read which hits an empty partition will have no misses but also no row hits. A single read with no misses can have millions of row hits.

[2022-03-22 11:16] kostja commented on #10163
@aleksbykov you can no longer perform schema changes if you lost the majority of the cluster. The test needs to be updated. Who should modify the test? Cc @fruch

[2022-03-22 11:47] nyh commented on #10258
I don't see how this can explain why an actual user, who I assume isn't in a habbit of making 200 requests for an empty partition each second, gets zero for this counter. I'll write a test later to see for myself how this counter works in practice.

[2022-03-22 11:51] nyh opened #10260 "proposal: Allow try-less inspection of exception_ptr - instead of replacing it by boost::outcome"
Recently, we started using `boost::outcome::result` in parts of the Scylla code (especially dealing with timeouts), as an alternative to std::exception_ptr. The reason was purely performance: although creating an `std::exception_ptr` is efficient, _not_ requiring actually throwing an exception, we see significant slowdown in code that needs to **check** the type of exception, and unfortunately suc

[2022-03-22 11:58] gleb-cloudius commented on #10069
Does this reproduces?

[2022-03-22 12:13] avikivity commented on #10260
This won't work well with coroutines, which implicitly rethrow exceptions. Perhaps we can add `co_await as_future(func())` that does not unwrap the future, and so doesn't rethrow (equivalent to future::then_wrapped).

I think we should wait for the proposal to be standardized.

[2022-03-22 12:26] nyh commented on #10260
I don't have a good intuition about that. Also the question is whether we need to add such things in one or two specific places, or in a gazllion places like we needed to add boost::outcome.

I beg to differ. First, there is no sign that it will be standardized (the proposal is four years old, with no progress since). Second, we don't actually need his elaborate `handle()` API - we just need the l

[2022-03-22 12:32] nyh commented on #10260
Actually, it turns out that an (inefficient) implementation of the `type()` function is easy for any compiler we already support: It turns out there is a `abi::__cxa_current_exception_type()` which returns the `type_info` of the currently caught exception. We already use this function in `operator<<`.  So the "general" inefficient implementation of `type()` can be to rethrow the exception and then

[2022-03-22 12:45] kostja commented on #5857
@elcallio can we close this one now? I believe you've changed the code to yield when zeroing the block a while ago.

[2022-03-22 12:55] nyh commented on #10260
Another very similar standard proposal (also from 2018):
http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p0933r0.pdf

[2022-03-22 12:58] #5857 closed

[2022-03-22 12:59] kostja commented on #7663
Regarding this one, I believe we changed Scylla setup to use 512 byte XFS blocks where possible. @elcallio is there something on your todo list that can further improve the matter?

[2022-03-22 13:01] elcallio commented on #7663
Afaik, as long as we get correct info from seastar/file, we should use as small blocks as possible, i.e. minimize disk waste. Beyond complete rethink of disk file layout, I don't think there is more to do here.

[2022-03-22 13:07] avikivity commented on #7663
We use 1k blocks, see 6977064693894202024b510bcd2c2ee375c8e177.

[2022-03-22 13:41] piodul commented on #10260
I saw the proposal P1066 while researching ways to speed up exception propagation. I didn't think hacking into the ABI or using the proof-of-concept library would be acceptable, especially considering that the proposal isn't being worked on (judging by this: https://github.com/cplusplus/papers/issues/330). In retrospect, it was a bit naive for me to reject it because I knew that we already have ex

[2022-03-22 15:00] rueian opened #10261 "Scylla Docker 4.6.0 failed to start with permission denied"
Follow the https://github.com/scylladb/scylla/pull/10241:

The old scylla docker images < 4.6.0 runs as `root`, but the new 4.6.0 image runs as `scylla`.

Users can't upgrade to new 4.6.0 image without taking care of this change, otherwise scylla will fail to start.

To simulate, here is a `docker-compose.yml`:

[code]

Procedures:

[code]

[2022-03-22 15:07] nyh commented on #8888
We just realized in #10258 that we don't really know what `scylla_cache_row_hits` measures (a user saw it is almost always zero, and we don't understand why), or what `scylla_cache_reads` really measures (how is a "cache read" different from just a read - in what cases would a read not be counted as a cache read, or are there no such cases?).

Beyond the problem that we don't have good-enough docu

[2022-03-22 15:42] tgrabiec commented on #10258
Maybe it's not the partition which is empty, but the slice of it according to clustering key restrictions. It could be also that data is still in memtables, not yet in cache.

As for the scans, are talking about CQL scans? The coordinator splits the range across tokens, so you get many readers on replica side. Also, if reader cache on replica side is not effective, you get a new reader for each CQ

[2022-03-22 15:58] vladzcloudius commented on #10258
@tgrabiec

Wouldn't it be "no misses" only if there IS a dummy entry for that partition in the cache? Meaning that for the first time there WILL be a read_with_miss increment?

The expected semantics for these metrics is to NOT differentiate between a data in memtables and in the cache since memtable data serves as a cache from the user perspective.

You don't have to have the same counter for "ca

[2022-03-22 16:44] avikivity commented on #10261
Probably we should run containers as root, and let the container runtime control user mappings at the host.

[2022-03-22 17:34] vladzcloudius commented on #8582
@avikivity when you run this:

[code]

It will set RF to X in all currently present DCs.

[2022-03-22 18:11] tgrabiec commented on #10258
Yes

We can add separate metrics for memtables. But I think that summing them under "cache" would add to confusion. What if you have a miss in memtable but hit in the row cache? Is that a "read with miss"? Such read will not go to disk.

[2022-03-22 21:59] vladzcloudius commented on #10258
In such a case I'd expect such a read to count as "cache hit" of course.
Adding separate graphs for memtable and cache hit/miss will of course make things deterministic. However it will effectively double the amount of graphs in the "Cache" section compared to what we have today. - Which would suck!

I don't have a good universal solution to suggest without looking at the code.
Ideally we should h

[2022-03-23 01:19] #10252 closed

[2022-03-23 07:07] kostja commented on #6403
Today the nodes have not one, but *two* globally unique host identifiers: host id and raft group 0 id. It is encouraged that all communication that needs to happen for entire cluster is performed by writing to system tables managed by Raft and reading the information from these system tables using Raft read barrier. This includes topology, snitch, schema, and any other information concerning the e

[2022-03-23 07:08] kostja commented on #9839
Blocked by rewriting topology changes on Raft.

[2022-03-23 07:27] tnozicka commented on #9839
Will the RAFT server id be accessible through `system.peers` as a host_id for backward compatibility?

[2022-03-23 08:11] bhalevy commented on #9839
A pre-requisite would be to stop changing the host id of a replacing node with the replaced node host id (that caused #10148)

[2022-03-23 08:26] avikivity commented on #9505
You should have two on wire timestamps, one for tx, one for rx.

[2022-03-23 08:27] avikivity commented on #9505
The latency map is rendered incorrectly (as html tags) so the histogram is invisible.

[2022-03-23 08:50] gleb-cloudius commented on #6403
Access to many (all?) of those things you propose to read using raft is on the fast path and thus it is completely out of the question to use read_barrier() that have high latency to read them.

[2022-03-23 08:56] kostja commented on #9593
Queued in the master branch.

[2022-03-23 08:56] #9593 closed

[2022-03-23 08:57] kbr- commented on #9593
7719f4cd91b06d2c825178274b6c4fe046352495

[2022-03-23 09:21] nyh commented on #10258
By the way, I verified that if I write data to a table, do not flush the memtable, and read back the same data, none of these metrics (scylla_cache_row_hits, scylla_cache_reads, scylla_cache_reads_misses) get incremented. I can understand why we don't consider a memtable hit a cache hit (though this should be documented!) but it's harder to understand why **scylla_cache_reads** is not incremented.

[2022-03-23 09:44] eliransin commented on #10061
Bisection step:
`81c8b0742 (HEAD) Merge 'scylla_raid_setup: use mdmonitor only when RAID level > 0' from Takuya ASADA`It looks good: observing 100K-105K op/s
test id: f704c39c-9128-4031-894f-3f99de420e47
![image](https://user-images.githubusercontent.com/22260843/159670245-24ef0a5f-26e5-47ce-8173-8a7002056a73.png)

[2022-03-23 09:57] rayakurl opened #10262 "Timeouts during disrupt_nodetool_enospc nemesis "Operation timed out for scylla_bench.test_counters - received only 1 responses from 2 CL=QUORUM""
Kernel version: `5.13.0-1017-aws`

Scylla version (or git commit hash): `5.0.rc2-0.20220316.839d9ef41 with build-id 1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 4 nodes (i3.2xlarge)

Scylla running with shards number (live nodes):
   longevity-counters-3h-5-0-db-node-10727333-1 (3.215.134.98 | 10.0.2.50): 8 shards
   longevity-counters-3h-5-0-db-node-10727333-4 (44.200.227.114 | 10.0.0

[2022-03-23 10:01] rayakurl commented on #10262
This issue reproduced 2/2 times during the same job run:
https://jenkins.scylladb.com/job/scylla-5.0/job/longevity/job/longevity-counters-3h-test/

[2022-03-23 10:29] ShlomiBalalis commented on #10205
A very similar issue occurred in a run of rc1 of 5.0:
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-5-0-db-node-3881062c-9 (54.195.190.69 | 10.0.0.169) (shards: 16)
- longev

[2022-03-23 10:48] alecco commented on #9774
As pointed by @kbr- this is fixed in current master thanks to raft group0 guard. Verified with `smp=4` and `smp=1`.

[2022-03-23 10:49] kbr- commented on #9774
(note: only with raft experimental enabled, for now!)

[2022-03-23 11:20] tgrabiec commented on #10258
@nyh I don't see how `scylla_cache_reads` is not incremented, unless you bypass cache for this read or have it disabled. It should be incremented even if there are no sstables, sstable access is done through cache.

[2022-03-23 11:27] tgrabiec commented on #6403
@kostja Even if we get the `host id <-> IP` mapping from raft somehow, this issue is also about using host id in the RPC layer so that the target of RPC call drops it if it has a different host id (but same IP). This RPC could be, for example, a mutate verb. We also have to change the coordinator (storage_proxy) code to use host ids instead of IPs.

[2022-03-23 11:41] KnifeyMoloko commented on #10068
Another possible reproduction of this issue, during the RemoveThanAddNode nemesis in this run:

*Installation details*
Kernel version: `5.13.0-1017-aws`
Scylla version (or git commit hash): `5.0.rc2-0.20220322.f3564db94 with build-id 5500e03dc7f7a659638f6f75e57ee061fe193d58`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-cdc-100gb-4h-5-0-db-node-818

[2022-03-23 11:43] psarna commented on #9774
Cool! By the way, it will also not be reproducible on current scylla-rust-driver master since 0.4.1 due to https://github.com/scylladb/scylla-rust-driver/commit/df41ab046bd48f5005bb1b4a2c7ad2513c64789b . Regardless, good job!

[2022-03-23 11:52] benipeled opened #10263 "Scylla-CI: adjust pull_github_pr script to check tests status"
The `pull_github_pr.sh` script used for merging PRs should be adjusted to take tests status into account before merging

We can use something like:
[code]
As described on github commit API docs [0], the `state` field will return success only if the latest status for all contexts is success,

/cc @avikivity @slivne

[0] https://docs.github.com/en/rest/reference/commits#get-the-combined-status-for-a

[2022-03-23 12:07] slivne commented on #10068
@KnifeyMoloko - this is not related to Raft please open a different ticket and we will have a look at it.

[2022-03-23 12:08] nyh commented on #10258
This is a different issue than the one that I created this issue for (I can't reproduce the original issue...), but here is a cql-pytest which demonstrates that if you read from a new table that was never flushed, `scylla_cache_reads` will not get incremented:

[code]

The test `test_metric_cache_reads_no_sstables` fails on the last assert - `scylla_cache_reads` is the same before and after the re

[2022-03-23 12:15] tgrabiec commented on #10258
@nyh Which version are you testing?

It's probably a regression introduced in e7fb71020b \cc @michoecho, which now lazily constructs `read_context`.

[2022-03-23 12:29] michoecho commented on #10258
read_context is lazily constructed since 8531eaaacff43d498d5a1942ef7f34929474ea27 (January 2021).
e7fb71020bab415346049ae9986eaf09ee6c1ff0 only replaces some instances of `empty_flat_reader`s with empty optionals as an optimization. It doesn't change the logic.

[2022-03-23 12:46] nyh commented on #10258
Current master.

Makes sense. I don't know if to even call this a bug or a feature, because it was never officially defined in detail what scylla_cache_reads is supposed to count and what is fine not to count...

[2022-03-23 13:16] nyh commented on #9061
The Seastar commit (https://github.com/scylladb/seastar/commit/ea6a6820ede9995cbfc6037e430b8d733a088c8f) was never backported to any Scylla branch. It is missing even in 5.0. I'll do backports.

[2022-03-23 13:37] alecco commented on #9774
I can repro the crash with scylladb/scylla-rust-driver@9a2b97b (0.4.0) and `--experimental-features raft` for latest master.

@psarna this issue should be re-opened, right?

[2022-03-23 13:52] psarna commented on #9774
Sad, but it's good that we have a reproducer. Reopened

[2022-03-23 14:06] fruch commented on #10163
I guess it on @aleksbykov (currently working on raft) but @kostja you'll need to a bit more specific of what needed to be changed.

Also how a user would figure this out ? is there any message of warning about the situation ?

[2022-03-23 14:43] vladzcloudius commented on #10258
@nyh Documenting these "features" is not going to be enough. User facing graphs should make sense and should be easy to use *for a user*. And a common user expects every read that wasn't served from the disk to be accounted as a "cache hit". A user doesn't need to care about Scylla's internal implementations of different kinds of components that all together serve as a cache for reads.

Therefore

[2022-03-23 16:07] eliransin commented on #10061
Bisection step:
`a2458ae12 (HEAD) util: cached_file: Fix corruption after memory reclamation was triggered from population`
good: ~102K op/s (:open_mouth: )
test id: ab12703f-debe-455a-a93c-cf358eb38dfb
![image](https://user-images.githubusercontent.com/22260843/159743419-9b479115-ccf6-4eb5-8482-4c8172b2a8b1.png)
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-re

[2022-03-23 16:35] KnifeyMoloko opened #10265 "Host overload with Too many in flight hints following seastar::timed_out_error (timedout) when flushing hints"
*Installation details*
Kernel version: `5.13.0-1017-aws`
Scylla version (or git commit hash): `5.0.rc2-0.20220322.f3564db94 with build-id 5500e03dc7f7a659638f6f75e57ee061fe193d58`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-cdc-100gb-4h-5-0-db-node-818e2767-1 (3.231.207.188 | 10.0.2.16): 14 shards
   longevity-cdc-100gb-4h-5-0-db-node-818e2767-2

[2022-03-23 17:00] alecco commented on #9774
Scylla does not crash with Raft group0 guard.

I was starting experimental raft from command line instead of yaml. I double checked and the tests fail but no abort. And single thread works fine afterwards.

Thanks to @kbr-

[2022-03-23 18:00] tomer-sandler commented on #8570
Hello @yuriy-yarosh, that's a question for our Engineering @slivne  and/or Product Mgmt @tzach

[2022-03-23 18:02] eliransin commented on #10061
Running with official 4.6.rc5 show degradation.
![image](https://user-images.githubusercontent.com/22260843/159765793-cef52e46-6531-48de-a649-f1aac12c8ec4.png)
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-release-perf-regression-aws-test-throughput-wait-for-compactions/6/

[2022-03-23 18:03] eliransin commented on #10061
Next step is to run with newly created 4.6.rc5, if no degradation happens we will need to search for differences between amis.

[2022-03-23 18:34] nyh commented on #9061
Backported the Seastar patch to 5.0 (7ae4d0e6f81f9d129f38173c215f6815a5ed486b)

[2022-03-23 19:32] nyh commented on #9774
Why is starting with experimental raft from the command line wrong?
This is what I use for cql-pytest and Alternator tests, and it seems to be working well.

[2022-03-23 20:43] ThelonKarrde commented on #6017
@slivne any estimations on when it might be resolved? Faced the same problem recently.

[2022-03-23 21:40] #1055 closed

[2022-03-24 00:54] elbakerino commented on #10261
Running into the ?same? issue with `4.6.0` in docker swarm, `4.5.3` works fine but `4.6.0` doesn't start scylla BUT also doesn't crash the container. I may be wrong, but wouldn't it be better to hard crash on those issues, so they don't go undetected and e.g. docker can perform rollbacks etc.?

Scylla container logs for command `docker exec -it scylla-m supervisorctl restart scylla-server` doesn't

[2022-03-24 07:38] fgelcer commented on #9906
seeing such issue again, on 5.0.rc2

## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run:
- longevity-tls-2tb-4d-1dis-2nondis-5-db-node-c295620d-5 (54.155.113.122 | 10.0.1.8) (shards: 12)
- longevity-tl

[2022-03-24 09:09] tzach opened #10266 "Docs: promote to 4.6"
For each new release, the doc need to be updated for the latest:
https://github.com/scylladb/scylla/blob/master/docs/conf.py#L68

[2022-03-24 09:16] tzach opened #10267 "Docs: there is no "latest" path"
Unlike all other docs projects, we do not have a "latest" path for this project.
Example:
https://scylla.docs.scylladb.com/latest/alternator/alternator.html
return 404
while https://scylla.docs.scylladb.com/master/alternator/alternator.html
do work

[2022-03-24 09:16] tzach commented on #10267
@dgarcia360 please take a look

[2022-03-24 11:45] zimnx commented on #10261
The same issue happens on every Operator deployment with 4.6.0. The root cause of it is that Scylla changes user and group inside scylla_util.sh. https://github.com/scylladb/scylla/pull/10241

Storage mounted inside the container requires root permission, and because Scylla changes the user it is given to by container runtime it fails to access it.

[2022-03-24 11:56] zimnx opened #10269 "Incompatible change of supervisor service name inside Scylla container image"
Container image of scylla consist of several processes running in parallel, hence a supervisor is used.
In cb190481863cdd4d90e8aae1e1b0f976a4a7f9c3 name of Scylla service in supervisor configuration changed from `scylla` to `scylla-server`. This change is backward incompatible and breaks Scylla Operator deployments.
Operator is using this name inside a PreStop hook, to gracefully shutdown scylla o

[2022-03-24 12:07] bhalevy commented on #9906
@xemul have you created an issue about iotune for EBS?

[2022-03-24 12:13] bhalevy commented on #10205
Duplicate of #9573

[2022-03-24 12:13] xemul commented on #9906
@bhalevy : https://github.com/scylladb/seastar/issues/1030
There was also a ... plan (?) to stop using iotune runs in supported cloud instances and completely switch on pre-configured io-properties's

[2022-03-24 12:14] bhalevy commented on #9573
@scylladb/scylla-maint please backport to all supported releases.

[2022-03-24 12:14] avikivity commented on #10261
@zimnx so this is a dup of #10241?

[2022-03-24 12:17] xemul commented on #9906
While we're at it, the IO delay graph is a bit untrue not only because it should be divided by the IOPS, but also because seastar prometheus server rounds up the values by 1s (#10254) .

[2022-03-24 12:19] elbakerino commented on #10261
@avikivity the PR you mentioned was opened by the same person, who opened this issue here, looks like to collect the related logs and discuss the details behind it

[2022-03-24 12:27] bhalevy commented on #6309
@scylladb/scylla-maint please backport aab052c0d525b0703fc0ea802838207b93561007 to 5.0 and to 4.6
as this issue is still hit in system tests.

I don't expect it to solve the issue entirely since truncate still needs to do a lot of stuff synchronously (flush, snapshot, truncate of all sstables), but it should address a possible cause for slowdown when materialized view are defined for the table.

A

[2022-03-24 12:33] eliransin commented on #10061
Running with newly created 4.6.rc5 shows good results:

![image](https://user-images.githubusercontent.com/22260843/159916747-98d9b792-0913-4771-9309-8813f69e6f07.png)

ami: ami-0108ce1d0be64576e
test id: ba00620d-c77e-44af-b3bd-a8285b169bc7

I would like to mention that I also saw one degraded run but I did not record it.
I will do a couple more runs on the official 4.6.rc5

[2022-03-24 12:35] zimnx opened #10270 "Scylla container image stopped logging to stdout"
In Scylla 4.6.0, default arguments supplied by container image changed the behavior of Scylla to stop logging to stdout.

in 4.5.x:
[code]
where in 4.6.0:
[code]

This breaks Operator deployments, because after version upgrade, users are not able to read Scylla logs.

*Installation details*
Scylla version (or git commit hash): 4.6.0
OS (RHEL/CentOS/Ubuntu/AWS AMI): Container image

[2022-03-24 12:52] denesb commented on #9573
Backported to all live releases.

[2022-03-24 12:54] nyh commented on #10270
Wow... In `dist/docker/etc/sysconfig/scylla-server` we have:
[code]

which is what you wanted. BUT, we also have `dist/common/sysconfig/scylla-server`, and this one has the opposite order:
[code]

The curious thing is that both files and conflicting orders existed since 2018, added by @syuu1228.
I suspect we copy both files over another another, and for some reason the order changed in 4.6.0 and w

[2022-03-24 13:19] aleksbykov opened #10271 "Scylla start up longer after decommission was terminated for that node with node reboot."
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-5-0-db-node-047f55ce-7 (3.122.51.198 | 10.0.0.148) (shards: 8)
- longevity-twcs-48h-5-0-db-node-047f55ce-6 (3.121.235.137 | 10.0

[2022-03-24 14:29] bhalevy opened #10272 "Define more accurate default io-properties for EBS drives"
As seen in #9906: [iotune can be wrong on EBS drive #1030](https://github.com/scylladb/seastar/issues/1030)

In the short term, until https://github.com/scylladb/seastar/issues/1030 is solved, let's measure EBS more accurately manually using e.g. diskplorer and hard code io-properties for known instance types and EBS.

[2022-03-24 15:52] ilya-rarov opened #10274 "Cassandra timeout during SIMPLE write query at consistency ALL in the AddRemoveDc nemesis"
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.1.dev-20220317.c45050895403` with build-id `076f513b6143670def988c7626389b270411f8f7`

Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-3h-master-db-node-e59d59d8-5 (13.48.29.176 | 10.0.1.195) (shards: 8)
- longevity-lwt-3h-master-db-node-e59d59d8-4 (16.16.26.25 | 10.

[2022-03-24 18:40] dgarcia360 commented on #10267
The URL that does not change is "stable" (not latest) for all projects:

In this project:

- https://scylla.docs.scylladb.com/stable/alternator/alternator.html

Other projects:

- https://sphinx-theme.scylladb.com/stable/
- https://monitoring.docs.scylladb.com/stable/
- https://operator.docs.scylladb.com/stable/
- https://python-driver.docs.scylladb.com/stable/

[2022-03-24 21:35] nyh commented on #10267
@tzach what does "latest" supposed to point to? Is this the highest-numbered release tag, not including release candidates? Or if not, what will be the rule?
How will the meaning of "latest" differ from "stable" that @dgarcia360 mentioned?

[2022-03-24 22:23] slivne commented on #10272
For AWS i3 / i3en / i4XXX drives we are able to compute this based on the amount of drives

In the case of EBS this is dynamic - we need to read this off the drive info as it was set / provisioned - I am unsure how feasible this is and in any case it needs to be part of scylla-machine-image

[2022-03-25 00:19] asias commented on #9505
The network is local (lo). The same packet will appear only once in the wireshark dump.  Even if there is a real link, we can safely assume the on wire tx and rx timestamp are almost the same for a local ethernet network.

[2022-03-25 00:22] asias commented on #9505
I can see it with no problem. Anyway, I modified the format, let's see if you can see it now.

[2022-03-25 01:11] asias commented on #10255
There must be something wrong with the sct test configuring scylla node. The replacing node did not point to an existing node as seed (contact point).

[code]

[2022-03-25 12:14] ilya-rarov opened #10275 "'Operation timed out for scylla_bench.test - received only 1 responses from 2 CL=QUORUM' while the nemesis terminating or restarting nodes"
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.1.dev-20220317.c45050895403` with build-id `076f513b6143670def988c7626389b270411f8f7`

Cluster size: 5 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-large-partitions-3h-maste-db-node-df4a2d68-7 (13.49.76.31 | 10.0.1.21) (shards: 8)
- longevity-large-partitions-3h-maste-db-node-df4a2d6

[2022-03-25 14:04] codingcuisg opened #10276 "Feature request: Allow compaction on user defined list of sstables"
This would be a feature request to allow compaction happened on user defined sstables. (similar stuff as cassandra compact command https://cassandra.apache.org/doc/latest/cassandra/tools/nodetool/compact.html)

Our current pain point:

We are using STWC for better write performance, and the data rotation is handled by TTL. Compacting all sstables together requires more additional resources. In fac

[2022-03-25 17:36] aleksbykov opened #10277 "Altering system_disributed schema with replaction class NetworkTopologyStrategy failed with exit code 2"
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-5-0-db-node-047f55ce-7 (3.122.51.198 | 10.0.0.148) (shards: 8)
- longevity-twcs-48h-5-0-db-node-047f55ce-6 (3.121.235.137 | 10.0

[2022-03-25 21:05] #10266 closed

[2022-03-26 19:02] aleksbykov commented on #10028
Issue reproduced with 5.0.rc2.
During adding dropping new column there are significant drop down and a lot of warning/error messages on nodes and kernel stacks :

[code]

## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 5 nodes (i3.2xlarge)

Scylla Node

[2022-03-27 05:47] juliayakovlev commented on #10255
@asias
Yes, I mentioned those prints in description.
It same configuration as always. In the same test this nemesis (terminate and replace) was run successfully a few times before this failure. I don't see what is the difference, why other runs were OK and this one failed

[2022-03-27 05:48] syuu1228 commented on #10270
Seems like we broke this since we switched to Ubuntu image (aa7c40ba50f0132c8a83a40936ec08917fb9c527).
We mistakenly copy dist/docker/etc/sysconfig/scylla-server to /etc/sysconfig/scylla-server, which is not used in Ubuntu (it should be /etc/default/scylla-server).
So /etc/default/scylla-server is just default configuration of scylla-server .deb package, --log-to-stdout is 0, same as normal instal

[2022-03-27 05:52] tzach commented on #10267
It is up to the specific project maintainer, its is not automated.
For scylla, it means the latest GA minor version (so no RC)

BTW, there is an automated version of "latest" which report you are not using the latest version.

[2022-03-27 07:15] nyh opened #10278 "Boto3 prints Alternator's error codes strangely - are we formatting them wrong?"
I ran some buggy DynamoDB request:
[code]
The request is incorrect, of course, because :inc should have been an integer, not a string as I wrote it.
The Alternator client reports the error in the following manner:

But when running against Amazon DynamoDB, the error is reported differently:

The question is what causes boto3 to be confused (?) by Alternator's error and not understand that this is

[2022-03-27 07:51] bhalevy commented on #9809
Design doc: https://docs.google.com/document/d/1w-BWSPHIrG-CdD5ZoS-sYCSlQNhOxaxi7MEjEqBESLo/edit

[2022-03-27 09:10] bhalevy commented on #7929
Reported by "Performance Regression Compare Results - PerformanceRegressionCDCTest.test_mixed_latency - 5.1.dev - 2022-03-27 07:15:17.739676"

Version Details:
build date: 2022-03-17
commit id: c45050895403
Setup Details:
ami_id_db_scylla: ami-012c8d51c0e308773
cluster_backend: aws
instance_type_db: i3.2xlarge
instance_type_loader: c4.2xlarge
instance_type_monitor: t3.small
region_name: ['us-east-

[2022-03-27 09:11] bhalevy commented on #10038
Is it a duplicate of #7929?

[2022-03-27 09:15] bhalevy commented on #10021
Ref #7929

[2022-03-27 10:52] ShlomiBalalis opened #10279 "Scylla node running out of space during nodetool upgradesstables [rolling upgrade]"
## Installation details

Kernel Version: 4.18.0-365.el8.x86_64

Scylla version (or git commit hash): `5.0.rc1-20220206.891990ec0` with build-id `20d9fa2c6020017f4afdc4941c0cca9c9a29d94a`

Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-centos-8-db-node-8545a53a-0-4 (34.74.194.129 | 10.142.0.111) (shards: 8)
- rolling-upgrade-master-centos-8-db-node-854

[2022-03-27 11:37] nyh commented on #10278
Scylla returns the error JSON
[code]
Whereas DynamoDB returns:
[code]

Scylla's response format is completely broken:
1. Instead of a user-readable message along in "Message", we put a JSON in it!
2. For "Code" we used the number 400 (!) instead of the string 'ValidationException'. 400 is the HTTP error code, it shouldn't be printed inside the JSON!
3. The "__type" is an alternative to "Code" - cl

[2022-03-27 12:12] bhalevy opened #10281 "Reactor stall from memtable_list::clear_and_add"
Seen with the cql pytest mentioned in https://github.com/scylladb/scylla/issues/7929#issue-787821416.

[code]

Decoded:
[code]

[2022-03-27 12:23] nyh commented on #10278
The plot thickens... Scylla doesn't actually return the strange JSON I showed above. Apparently that's how boto3 misrepresents it... What Scylla returns in the response body is (according to Wireshark):

{"__type":"com.amazonaws.dynamodb.v20120810#ValidationException","message":"An operand in the update expression has an incorrect data type: {"S":"1"}"}

There is node "Code" or similar junk. I nee

[2022-03-27 12:36] nyh commented on #10278
I turns out that this is **not** a general bug, but a specific bug in the specific error message in this case. The problem that the message contains invalid JSON that boto3 cannot parse - because the double quotes were not escaped...

This led boto3 to decide that since it can't parse the JSON, it should silently use the broken-json as a string message, and wrap it into its own structure with an i

[2022-03-27 14:53] bhalevy opened #10282 "Long reactor stalls when applying a large number of range tombstones to the cache"
This should be solved with range_tombstone_change and flat_mutation_reader_v2.
Currently, with scylla version 1feec08c2d9a6f0207bf2f789cbb475c20843e13
I hit a 171 ms stall with the following cql pytest (to be submitted for regression testing)

[code]

[code]

Decoded:
[code]

[2022-03-27 14:54] bhalevy commented on #10282
All stalls decoded here: [stalls.txt.gz](https://github.com/scylladb/scylla/files/8357888/stalls.txt.gz)

[2022-03-27 15:00] bhalevy commented on #10282
To run the test, use
[code]

[2022-03-27 15:36] nyh commented on #10282
@bhalevy how does this issue related to the quite similar open issues we already have:
#3672 Gracefully handle cases when there are to many tombstones
#3914 Scan timeout after all data TTL exceeded
#7929 Reactor stall and oversized allocations while scanning a partition with a long string of tombstones

[2022-03-27 15:41] bhalevy commented on #10282
I'd say it's a piece of #3672 (which is effectively an umbrella issue)

#3914 is apparently related to full scans.

#7929 is about stalls when scanning a long list of dead rows in a paged query (and I cannot reproduce it with current master BTW), so it's orthogonal to this issue that is about populating the cache with many range-tombstones.

[2022-03-27 15:50] avikivity commented on #10276
TWCS restricts compaction to buckets, even in major compactions, on recent versions. What version are you using?

[2022-03-27 16:25] avikivity commented on #9505
Ah, I was looking at the vector, not the log capture.

[2022-03-27 16:27] avikivity commented on #9505
Please share the test code.

[2022-03-27 16:35] avikivity commented on #9505
With just 5 fibers, the shares don't mean anything. One group receives the cpu, launches 5 sends, and then has no work to do so it passes to the other group. The other group receives the cpu, launches 5 sends, then the reactor sleeps. A reply is received, it activates one of the groups, it processes a reply and launches a new message.

Scheduling only means anything if the cpu is saturated.

None

[2022-03-27 16:40] #10270 closed

[2022-03-27 16:40] #10278 closed

[2022-03-27 16:44] avikivity commented on #9505
Idea: hack rpc to write sent and received frame in the pcap-ng format to some file. Then we can check if rpc received the packet on time (and delayed it) or if seastar was delaying the packet.

Another thing to try is running the rx node under strace (with --string-limit 100000) and try to compare wireshark on-wire time with strace time for the same uuid. Of course, strace will affect the latency

[2022-03-27 19:54] slivne commented on #10205
#9573 was fixed

[2022-03-27 19:54] #10205 closed

[2022-03-27 20:13] slivne commented on #10250
Ec2Snitch does a lookup to a metadata service on AWS it needs networking

@syuu1228 / @yarongilor did we change anything in the systemd definition of scylla

[code]

I think we had in the past

[code]

This will not happen on initial boot of the ami since we have another service assuring network will be up

[code]

can we please check if we changed anything / how do we grantee that scylla starts o

[2022-03-27 20:20] slivne commented on #10256
it maybe this https://github.com/scylladb/scylla/issues/9061

[2022-03-27 20:22] slivne commented on #10256
this was backported only 4 days ago - so we did not have this fix - closing this issue hoping its fixed by #9061 backport (the stack does have an issue with json formatting that 9061 fixed)

[2022-03-27 20:22] slivne commented on #10256
Lets verify on 5.0.rc3

[2022-03-27 20:35] slivne commented on #10265
@piodul please have a look (/cc @psarna) - I am not sure this is a regression - but I think some of the handling of hints changed and I am unsure if its related to that.

[2022-03-27 20:38] slivne commented on #10257
Not able to restore metrics https://jenkins.scylladb.com/view/QA/job/QA-tools/job/hydra-show-monitor/125/console

please fix restoration so we can have a look (I know monitoring does not have 5.0 metrics - but we can use master - at least for now - please fix it so it will not fail).

[2022-03-27 20:40] slivne commented on #10262
Not able to restore monitoring https://jenkins.scylladb.com/view/QA/job/QA-tools/job/hydra-show-monitor/126/console - the same as #10257 - please fix so we can have a look.

[2022-03-27 20:57] slivne commented on #10051
The bootstrapping node 15 was trying to connect to node 1
[code]

node 1  last logs are:

[code]

so the last logs are 10 minutes before the bootstrap attempt - trying to see if SCT wroite something around the 2022-02-08T01:31 explaning why node 1 may not exist.

[2022-03-27 21:26] slivne commented on #10051
I am not sure but it seems like we lost the node

[code]

[2022-03-27 21:27] slivne commented on #10051
We are getting 502 from the manager trying to get to the agent on node node-1 (x.x.x.217) - need to figure out what happend to it - but it does not seem like a scylla bug - assigning QA - if you can't figure this out (e.g. the node was spot and taken / we stopped it / etc.) close this.

[2022-03-27 21:28] slivne commented on #10051
pushing this out

[2022-03-27 21:30] slivne commented on #10028
@aleksbykov do we have backtrace with `mutation_partition::upgrade` if so its the same issue

[2022-03-27 21:31] slivne commented on #10028
I am assuming its the same removing release/triage and also pushing this out till we fix the #2577

[2022-03-27 21:34] slivne commented on #10279
Need the monitoring restoration working on jenkins so we can look at the metrics of whats going on.

Please fix like the others and then we will prioritze

[2022-03-28 07:32] fruch commented on #10257
fixing the metrics download in:
https://github.com/scylladb/scylla-cluster-tests/pull/4557

[2022-03-28 07:43] fruch commented on #10250
@slivne seems like it's in a different file
https://github.com/scylladb/scylla/blob/master/dist/common/systemd/scylla-server.service.d/dependencies.conf

[2022-03-28 08:06] zimnx commented on #10269
@syuu1228 would you mind taking a look?

[2022-03-28 10:23] slivne commented on #10261
@avikivity / @syuu1228 ping

[2022-03-28 10:26] slivne commented on #10261
we have a backward incompatible change of changing the user and this blocks upgrades

@zimnx / @tnozicka if I recall correctly you claimed that:
- its clear that for vm scylla should set / create a user
- for container/docker scylla should not do this at all - it should not add a user / change a user.

please comment

[2022-03-28 10:32] nyh commented on #10237
This may be the same problem as issue #9096.
@syuu1228 - do you know how aio-max-nr is handled inside docker? also, Do you know if the fix in issue #9096 works inside docker?

[2022-03-28 10:33] avikivity commented on #10261
Scylla should run as root in a container (the orchestrator is responsible for mapping users).

[2022-03-28 10:37] nyh commented on #9096
Why is this issue still open - is there something remaining to do?
Issue #10237 looks like the same thing, just inside docket. Some of the versions he ran might not have the Seastar fix added here,  but the "latest" one should...

[2022-03-28 10:50] ShlomiBalalis opened #10283 "[rolling upgrade] truncate query failed: OperationTimedOut"
## Installation details

Kernel Version: 3.10.0-1160.59.1.el7.x86_64

Scylla version (or git commit hash): `5.0.rc1-20220206.891990ec0` with build-id `20d9fa2c6020017f4afdc4941c0cca9c9a29d94a`

Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-centos-db-node-2bef8693-0-4 (34.138.65.50 | 10.142.0.166) (shards: 8)
- rolling-upgrade-master-centos-db-node-2b

[2022-03-28 10:53] #10243 closed

[2022-03-28 11:22] eliransin commented on #10061
Another run with official 4.6.rc5:
![image](https://user-images.githubusercontent.com/22260843/160387209-ad634565-9cc6-4792-8e2c-72b0a017db9e.png)

The hypothesis now is that it is a function of the machines.
Next step is to try and get a cluster that performs significantly slower (~10%) and have several iotune runs and compare the
numbers to get:
1. distribution of results.
2. deviation from the

[2022-03-28 12:04] avikivity commented on #10261
[code]

I suppose we could add SCYLLA-IN-CONTAINER and change execsudo to consider it.

[2022-03-28 12:05] bhalevy opened #10284 "storage_service::node_ops_abort(utils::UUID): Service &seastar::sharded<repair_service>::local() [Service = repair_service]: Assertion `local_is_initialized()' failed."
As warned about in https://github.com/scylladb/scylla/blob/d8c0680585b736a123698c46ccc8bafc44c58358/main.cc#L1145-L1147
trying to abort a node op when stopping will crash since the repair service is already stopped.

Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/4706/artifact/logs-gating.release.2/1648417683121_update_cluster_layout_tests.py%3A%3ATestUpdateClusterLayo

[2022-03-28 12:09] zimnx commented on #10261
btw I tried creating empty `SCYLLA-NONROOT-FILE` and as expected, execsudo behaved well on k8s, although other scripts (the one setting developer mode) complained about missing files in `/opt/scylladb/etc/scylla.d/[...]`. This path isn't created by container image.
It did changed some default paths - /opt/scylladb/etc instead of /etc - I expect it may not be the only one script having these expect

[2022-03-28 12:41] denesb commented on #6309
@bhalevy I backported to 5.0, but there are conflicts when trying to backport to 4.6. Please prepare a backport.

[2022-03-28 12:47] KnifeyMoloko opened #10285 "ServiceLevel attribute timeout is overridden by config timeout"
scylla-version: 5.1.dev
scylla-release: 0.20220316.2e7009f42773
docker-image-name: scylla-nightly:5.1.dev-0.20220316.2e7009f42773
unified-pack-url-x86_64: downloads.scylladb.com/unstable/scylla/master/relocatable/2022-03-16T04:02:25Z/scylla-x86_64-unified-package-5.1.dev.0.20220316.2e7009f42773.tar.gz

Timeouts set on a `ServiceLevel` level should take precedence over `scylla.yaml`. Setting the Se

[2022-03-28 12:51] KnifeyMoloko opened #10286 "ServiceLevel: incorrect error message when using day/month values for timeout"
scylla-version: 5.1.dev
scylla-release: 0.20220316.2e7009f42773
docker-image-name: scylla-nightly:5.1.dev-0.20220316.2e7009f42773
unified-pack-url-x86_64: downloads.scylladb.com/unstable/scylla/master/relocatable/2022-03-16T04:02:25Z/scylla-x86_64-unified-package-5.1.dev.0.20220316.2e7009f42773.tar.gz

The CQL command for creating a new ServiceLevel accepts values that are larger than the declared

[2022-03-28 13:15] bhalevy commented on #6309
Since it's not a regression, it might not be worth the effort and risk.

[2022-03-28 14:19] ShlomiBalalis commented on #10279
@slivne It's suppose to work as of today. Please try again

[2022-03-28 14:48] jm-ds commented on #5831
We're attempting to move our entire cluster(5 nodes), meaning that we've made drive images and are using the images on new VMs. When I bring up the first seed, it shows 4 nodes with the original IP addresses, but not our seed node IP. In the logs it tries to reach out to the other nodes for updates, but it's using the wrong IPs.

Is there a table that i can update with the IP addresses? I believe

[2022-03-28 14:55] avikivity commented on #10038
I think it won't cause a stall if a tombstone counts towards a page size limit (and if we enforce a limit on the page size limit). That's better than forcing to_data_query_result to be asynchronous.

[2022-03-28 15:17] tnozicka commented on #10261
Technically, scylla should run as **any** user in the container - no custom handling / user switching. Some security aware distribution randomize the user ID, so only the group id will be 0 for file level perms. As a result the user won't even be present in the /etc/passwd. (Sometimes mitigated with `nss_wrapper` for programs that read /etc/passwd).

But as a first step we need to go back to being

[2022-03-28 15:48] #10238 closed

[2022-03-28 17:46] aleksbykov opened #10287 "Scylla doesn't started after uprade if full cluster was stopped"
Scylla version init: 4.6.0-0.20220306.2f2d22a86
Scylla upgrading: 5.0.rc2-0.20220322.f3564db94

In 2 scenarios from 3, scylla is not started after upgrade to 5.0 and enabling raft experimental feature.
1, 2 scenarios:
Cluster created with scylla version 4.6. after that it is upgraded to version 5.0. after that
[code]
added to all nodes. And then nodes are restarted.
.After that scylla could not be

[2022-03-28 18:23] aleksbykov commented on #9331
During Lwt test population took about 14 houts. and then test is continue
during cdc job: scylla cordump triggered:
[code]

[2022-03-28 18:24] aleksbykov commented on #9331
Full info for cdc job:
*Installation details*
Kernel version: `5.11.0-1022-aws`
Scylla version (or git commit hash): `4.6.rc5-0.20220321. with build-id 7a25be5f00b5368f7d1fc46c810a05cad7fbea6f`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-cdc-3d-400gb-4-6-db-node-cffd6791-1 (52.50.216.116 | 10.0.2.0): 14 shards
   longevity-cdc-3d-400gb-4-6-db-nod

[2022-03-28 18:39] fruch commented on #5610
Happened again in 4.5 upgrade tests:
https://jenkins.scylladb.com/job/scylla-4.5/job/rolling-upgrade/job/rolling-upgrade-centos8-test/86/

[2022-03-28 19:32] #10025 closed

[2022-03-28 19:32] #10082 closed

[2022-03-28 20:36] jmaixl commented on #9869
Forgot to reply to this when I saw this, but thanks for the reply. we will eagerly and hopefully await 4.6.x.

[2022-03-29 02:05] slivne commented on #5831
@asias can you please have a look

[2022-03-29 04:15] bhalevy commented on #10038
I haven't been able yet to reproduce a stall here with many tombstones, using the CQL test mentioned in #7929 .  Should also try via Alternator.

fwiw, to_data_query_result is being called from paths that are already async, so it doesn't take much to make it async.  Then, the next step, if needed, is to make unfreeze async, at least between rows.

[2022-03-29 05:54] juliayakovlev commented on #10093
I run test where LoadAndStream nemesis was performed 32 times. Every run succeeded,
So the issue fixed

[2022-03-29 06:31] nyh commented on #9285
I'm working on refining the load redistribution algorithm. The good news is for the common case (RF=3) the existing algorithm seems to be already correct - but we start to see some interesting cases for higher RF (e.g., some cases start to happen with RF=6). The margins are too narrow to show my new algorithm, hopefully I'll have something to show soon (as a document, a simulation in Python, and e

[2022-03-29 09:29] avikivity commented on #10093
Fixed by 45bdb57b05e48fb4e69cd18e11fd3c8fe15528a8

[2022-03-29 09:29] #10093 closed

[2022-03-29 10:06] avikivity commented on #10238
Backported to 5.0, 4.6. 4.5.

[2022-03-29 10:22] fruch commented on #5610
happened again on 4.5 branch:

### Restore commands:

Restore Monitor Stack command: $ hydra investigate show-monitor bdc1ce4d-6221-492c-96f0-aae2661a4482
Restore monitor on AWS instance using [Jenkins job](https://jenkins.scylladb.com/view/QA/job/QA-tools/job/hydra-show-monitor/parambuild/?test_id=bdc1ce4d-6221-492c-96f0-aae2661a4482)
Show all stored logs command: $ hydra investigate show-logs bd

[2022-03-29 10:46] tgrabiec opened #10288 "Seastar I/O scheduler does not account for I/O originating from file system operations"
A schema change of the following form will result in 8 small sstables to be flushed, each having 9 files (even smaller):

[code]

The total amount of bytes written through the seastar I/O subsystem (according to `scylla_reactor_aio_bytes_write`) is only 413'696 bytes. However, the actual amount of bytes written to disk is 1'904'128. The extra amount comes from xfs work needed to handle file creati

[2022-03-29 11:07] Sune357 opened #10289 "std:bad_alloc on reads and writes with big amount of small rows"
Hello, we have a big amount of std:bad_alloc log messages. These errors occur in reading, writing, and communicating messages. Errors occur on any random shards.

[code]
We also have warnings from the write semaphore:
[code]

Also, we have found that errors appear only when the server executes compaction. Compaction drops at some moment and the compact process restarts, so the errors never end.
cf

[2022-03-29 11:44] avikivity commented on #10289
How many sstables do the failed compactions try to compact? you can see it in the logs and in the compaction_history table.

Do you have range tombstones in your workload? DELETEs that specify a subset of the clustering keys.

[2022-03-29 12:39] horschi opened #10290 "Segmentation fault in sstables::partition_index_cache::get_or_load, after upgrade to 4.6"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.6.0-0.20220306.2f2d22a86
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 20.04

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets=1 cores=8 hyperthreading=16 memor

[2022-03-29 12:54] avikivity commented on #10290
@bhalevy I'm trying to decode it via backtrace.scylladb.com, but it complains:

[2022-03-29 13:01] soyacz opened #10291 "service_level_controller - update_from_distributed_data failed to update configuration"
In performance test job runs (https://jenkins.scylladb.com/job/scylla-master/job/scylla-master-perf-regression-aws-test-throughput/) we can see errors in Scylla logs (for all the nodes, about the same time) like below:
```2022-03-27T03:49:19+00:00  perf-regression-perf-v8-db-node-da347b1b-3 !ERR     | scylla:  [shard 0] service_level_controller - update_from_distributed_data: failed to update conf

[2022-03-29 13:03] horschi commented on #10290
Update: I do not seem to have any issues, as long as the cluster is just idling. But as soon as I start my application, scylla starts segfaulting.

[2022-03-29 13:09] Sune357 commented on #10289
We can't connect to affected node. Message:
Operation failed for system.peers - received 0 responses and 1 failures from 1 CL=ONE.

This is a one-sstable-compaction:
[code]

Properties:
[code]

We don't have range tombstones in our workload. The table has uuid primary key. But we have many deletes on this table by identifier. Compaction settings are default with SizeTieredCompactionStrategy. The t

[2022-03-29 13:48] eliransin commented on #9812
The test title has "no_lwt" in it but the quoted exception logs are lwt related.
@nyh would you mind looking if this is a missconfiguration by the tests or is there an expected LWT use even when the user table don't use
LWT?

[2022-03-29 14:05] eliransin commented on #10061
I have tried to reproduce the bad performance results over 5 times now and I get a consistent ~100K op/s throughput results.
I still believe it is as a result of the instances not performing uniformly.
Some things that should be done in order to prove it
1. @roydahan  please make sure to not destroy clusters which have failed performance tests (especially if the results are not stable). We will th

[2022-03-29 14:25] enaydanov commented on #10274
## Installation details

Kernel Version: 5.13.0-1019-aws

Scylla version (or git commit hash): `5.1.dev-20220317.c45050895403` with build-id `076f513b6143670def988c7626389b270411f8f7`

Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-3h-master-db-node-4474867f-5 (52.215.235.122 | 10.0.2.206) (shards: 8)
- longevity-lwt-3h-master-db-node-4474867f-4 (34.245.34.73 |

[2022-03-29 16:28] jm-ds commented on #5831
@asias Any guidance you can provide would be appreciated as this is holding up our production deployment. Thank you.

[2022-03-29 17:02] bhalevy commented on #10182
Likely caused by scylladb/seastar#1012.
Closing...

[2022-03-29 17:02] #10182 closed

[2022-03-29 17:20] enaydanov opened #10292 "Scylla failed to stop during RemoveNodeThenAddNode nemesis"
## Installation details

Kernel Version: 5.13.0-1019-aws

Scylla version (or git commit hash): `5.1.dev-20220317.c45050895403` with build-id `076f513b6143670def988c7626389b270411f8f7`

Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-master-db-node-3645dd69-8 (63.33.210.215 | 10.0.2.17) (shards: 14)
- longevity-100gb-4h-master-db-node-3645dd69-7 (54.170.164.1

[2022-03-29 18:45] aleksbykov commented on #10287
i think the main issue is that when cluster is started with cluster.populate().start() nodes started without bootstrap enabled.
if bootstrap enabled upon node creation, the cluster with raft started successfully

[2022-03-29 22:23] vladzcloudius opened #10293 "scylla_raid_setup enables online discard by default: this can potentially introduce a performance degradation at least on older kernels"
*Installation details*
HEAD: 59adf05951c9acfef4e27141d041a606a938291f

*Description*
Online discard was known to be a cause of a negative performance impact as described in multiple paces online, e.g.  https://xfs.org/index.php/FITRIM/discard

However since https://github.com/scylladb/scylla/commit/a19d00ef9b8b50ce520bb2cfbf5bc00b30de5cda we have it enabled by default.

I wonder if we tested it on

[2022-03-29 22:24] vladzcloudius commented on #10293
Refs: https://github.com/scylladb/scylla/pull/9608

[2022-03-29 22:24] vladzcloudius commented on #10293
@tgrabiec @slivne @syuu1228 @tgrabiec FYI

[2022-03-29 22:43] tgrabiec commented on #10290
@horschi The "perf_event" log lines are unrelated.

Please upload the core dump for the crash (https://docs.scylladb.com/troubleshooting/report-scylla-problem/#core-dump).

[2022-03-29 22:46] raphaelsc commented on #10290
@tgrabiec I spent a bit of time in #10290 earlier today, and I first suspected https://github.com/scylladb/scylla/commit/92727ac36c311e09adf8bcf0946637e35c7d0994

so we're now using move assignment for entry_ptr, but I double checked entry_ptr impl and it looks correct to me.

[2022-03-30 00:48] asias commented on #9505
Here it is:

https://github.com/asias/scylla/tree/track-latency-9505-for-avi

[2022-03-30 00:54] asias commented on #9505
With --poll-mode:

[code]

[2022-03-30 01:17] asias commented on #9505
In my previous report, there was 10 + 10 fibers in total, not just 5.

 I increased the number to 100 (network workload) + 100 (cpu workload) fibers in my new run below:

gossip group messages = 44000
streaming group messages = 1713000
diff = 1713000 / 44000 = 38X

So, the group with 200 shares sending 38X more messages than group with 1000 shares. This does not make sense to me. The CPU is defini

[2022-03-30 06:19] fruch commented on #10200
seen again in branch-4.6:

seems like scylla is sending this error (a CQL specific error), and not timeout, hence out code doesn't retry (on timeouts we retry 5 times)
[code]

also our default timeout equals to the truncate scylla timeout
[code]

which leads to those errors:
[code]
### Restore commands:
Restore Monitor Stack command: $ hydra investigate show-monitor 5421cc1e-f4a1-45f3-b24a-2f69b5a

[2022-03-30 06:36] slivne commented on #9505
Lets try and apply scheduling tunning: https://github.com/scylladb/scylla/blob/master/dist/common/sysctl.d/99-scylla-sched.conf

[2022-03-30 07:09] eliransin commented on #9331
@aleksbykov can you share what is the time it takes to the non hard limit version? (from recent runs I mean).

[2022-03-30 07:43] slivne commented on #10146
@aleksbykov - please provide a job for eliran to run this

Thanks for the help eliran

@bhalevy I think you were concerned with some regression in sstable locking that is supposed to be fixed now - does this range include the suspected regression patch (is this it https://github.com/scylladb/scylla/commit/ade4cdf0e706a3b2d8848e5cbda27fed5d6b636a ?)

[2022-03-30 07:59] asias commented on #9505
[code]

New kernel has changed the tunings to debugfs.  I did the following:
[code]

With kernel tuning, I see no real change:

[code]

[2022-03-30 08:02] asias commented on #9505
Without the cpu worload (only with  the network workload), the latency is beautiful:

[code]

[2022-03-30 08:11] enaydanov commented on #8426
## Installation details

Kernel Version: 5.13.0-1019-aws

Scylla version (or git commit hash): `5.1.dev-20220317.c45050895403` with build-id `076f513b6143670def988c7626389b270411f8f7`

Cluster size: 3 nodes (i3.large)

Scylla Nodes used in this run:
- gemini-with-nemesis-3h-normal-maste-oracle-db-node-da239eb4-1 (44.199.196.203 | 10.0.2.248) (shards: 2)
- gemini-with-nemesis-3h-normal-maste-db-nod

[2022-03-30 08:18] asias commented on #10255
Check the runs that was successful to see it had  pointed to an existing node when running replace ops.  If a replacing node points to no existing node in a cluster, there is no way the replacing node would join the cluster.

[2022-03-30 08:37] Sune357 commented on #10289
UPD: We have moved the sstable to the tmp directory because such server behavior affects our production. Errors have gone and the server works as expected. We can share schema and data details to PM or email for future investigation.

[2022-03-30 09:16] nyh commented on #9812
@eliransin I don't know anything about this test, but the configuration file I found https://github.com/scylladb/scylla-cluster-tests/blob/7a088746fab7e225616029062efa0d3f8be331cf/test-cases/longevity/longevity-alternator-3h.yaml has the following stress commands:

[code]

This suggests that the workload has both LWT-using and no-LWT-using writes on these two different tables, so it's not surprisi

[2022-03-30 09:41] enaydanov commented on #10174
## Installation details

Kernel Version: 5.4.0-1067-gcp

Scylla version (or git commit hash): `4.5.4-20220220.53b0aaa4e` with build-id `b4483f284a5d2d9c82b820340a22adfff7c8b6e9`

Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-ubuntu-bioni-db-node-b433730b-0-4 (35.231.150.22 | 10.142.0.168) (shards: 8)
- rolling-upgrade-master-ubuntu-bioni-db-node-b433

[2022-03-30 10:34] ShlomiBalalis commented on #10251
A similar issue happened in a master run, where a decommission continued after the decommissioned node was restarted:

## Installation details

Kernel Version: 5.13.0-1019-aws

Scylla version (or git commit hash): `5.1.dev-20220317.c45050895403` with build-id `076f513b6143670def988c7626389b270411f8f7`

Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-maste

[2022-03-30 11:28] slivne commented on #9906
@xemul with regards to:

You mentioned there is a metric - yet I can't recall its name or if we have it monitoring - can you please place the info here as well.

[2022-03-30 11:33] horschi commented on #10290
Hi @tgrabiec , it seems there are no dumps in the coredump folder. So I have to create new ones.

I am currently trying to get it reproduced locally, or with only a subset of nodes updated to 4.6 (as I don't want to break the system for all users again). But so far I do not seem to have any luck...

[2022-03-30 12:00] tgrabiec commented on #10290
@horschi Maybe system configuration prevents cores from being created. Check `journalctl`, there should be a message explaining why the core was not created. Please check it so that next time we get a core.

[2022-03-30 12:03] avikivity commented on #10289
See https://docs.scylladb.com/troubleshooting/report-scylla-problem/#send-files-to-scylladb-support

[2022-03-30 12:04] xemul commented on #9906
`scylla_io_queue_disk_queue_length` (scylladb/scylla-monitoring#1680) and `scylla_io_queue_total_exec_sec` (scylladb/scylla-monitoring#1679 , but this one needs a seastar fix I mentioned -- `[PATCH v2 0/4] Refine COUNTER metrics` on the mailing list)

[2022-03-30 12:15] psarna commented on #10285
@KnifeyMoloko 0ms is tricky here, especially if you're testing a local installation with 1 node. This timeout's granularity is 10ms, because we use high granularity timers for timeouts, so if the whole request manages to finish in, say, 3ms, it's not going to fail. The timeout values configured via the service levels are not realtime, because neither Scylla nor Linux is generally realtime. If you

[2022-03-30 12:21] psarna commented on #10286
I think this is a non-issue. There's nothing substantially wrong with specifying a timeout of 10 years, except that the code, for internal reasons, is much easier if we refuse to parse days, months, years, etc, and only allow units lower or equal to hours.

So if somebody really wants a week-long timeout, it's absolutely fine to set the timeout to 168 hours, they just won't be able to specify it t

[2022-03-30 12:38] #10168 closed

[2022-03-30 13:16] k0machi opened #10296 "'Cannot perform truncate, some hosts are down' with hosts that have left the cluster"
## Installation details

Kernel Version: 5.13.0-1019-aws
Scylla version (or git commit hash): `5.1.dev-20220317.c45050895403` with build-id `076f513b6143670def988c7626389b270411f8f7`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-2acb1d5c-1 (34.249.11.226 | 10.0.1.42) (shards: 8)
- longevity-twcs-48h-master-db-node-2acb1d5c-2 (54.154.214.18

[2022-03-30 14:06] avikivity commented on #9505
How do I run it?

[2022-03-30 14:20] avikivity commented on #9505
Since you have a background load on both groups, scheduling should be effective. However, rpc is dominated by latency (seastar batch_flushes), so I expected to see similar results on both groups. Since we don't, something is wrong.

[2022-03-30 15:12] raphaelsc opened #10297 "Compaction backlog tracker should be able to recover from a failure"
Today, if exception happens while updating backlog tracker state, the backlog tracker will be disabled forever.

That's a bad thing as disabling backlog means that the table will not be driven by the compactioon controller, meaning that compaction will not proceed at a desired pace. Hurting latency, throughput and so on.

The problem can be fixed by resetting the state once an exception happens

[2022-03-30 15:40] KnifeyMoloko commented on #10286
Thanks for the clarification @psarna . I'll adjust the new ServiceLevel tests to check for the correct error message when using days/months.

[2022-03-30 16:11] fee-mendes opened #10300 "Incorrect results returned with IN clause in a partition and index restriction"
*Installation details*
Scylla version (or git commit hash): `4.6.0-0.20220306.2f2d22a86`
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Docker image `963dd3bf6aa7`

# Description
When specifying an IN clause restriction within the partition key **AND** restricting an indexed column, Scylla will throw a misleading error claiming that:
[code]

Notably, the misleading error message has been updated

[2022-03-30 16:33] psarna commented on #10300
Changed my mind and fixed it right away, along with a regression test, here you go: https://github.com/scylladb/scylla/pull/10302

[2022-03-30 16:38] k0machi opened #10303 "Timeouts trying to modify table properties"
## Installation details

Kernel Version: 5.13.0-1019-aws
Scylla version (or git commit hash): `5.1.dev-20220317.c45050895403` with build-id `076f513b6143670def988c7626389b270411f8f7`
Cluster size: 4 nodes (i3en.2xlarge)
Scylla Nodes used in this run:

- longevity-twcs-48h-master-db-node-2acb1d5c-8 (54.195.204.64 | 10.0.3.165) (shards: 8)
- longevity-twcs-48h-master-db-node-2acb1d5c-7 (63.32.45.143

[2022-03-30 16:39] soyacz opened #10304 "Coredump after disrupt_nodetool_enospc"
*Installation details*
Backend: aws
Region: eu-west-1
AMI ImageId: ami-0d27db767997d0ec4
Kernel Version: 5.13.0-1019-aws
Scylla Version: 5.1.dev-20220317.c45050895403
Build Id: 076f513b6143670def988c7626389b270411f8f7
Instance Type: i3.4xlarge

After disrupt_nodetool_enospc nemesis coredump happened (during restart of scylla).

[code]

Downloading:
[code]

logs:
15:39:38  +------------------------

[2022-03-30 16:43] k0machi commented on #8297
Had a similiar issue on some nodes running `longevity-twcs-48h-test#25`, nodes would take around 5-15 minutes to reshape data on bootup, causing certain timeouts to be reached.

## Installation details
Kernel Version: 5.13.0-1019-aws
Scylla version (or git commit hash): `5.1.dev-20220317.c45050895403` with build-id `076f513b6143670def988c7626389b270411f8f7`
Cluster size: 4 nodes (i3en.2xlarge)
Scy

[2022-03-30 18:08] avikivity commented on #10304
Something is strange here. The signal is SIGABRT, but no thread is calling abort().

Is the thread list full?

[2022-03-30 21:05] zimnx opened #10305 "Scylla hangs when it doesn't have permissions to TLS files"
Scylla fails to start at late stage without any error message when it doesn't have permissions to read TLS cert and key needed for enabling encrypted native transport.

Relevant Scylla config:
[code]
File permissions:
[code]

Scylla journal:

[code]

After fixing permissions:
[code]

Scylla starts fine.

*Installation details*
Scylla version (or git commit hash): 4.6.0
OS (RHEL/CentOS/Ubuntu/AWS A

[2022-03-31 00:23] asias commented on #9505
Start two nodes with 1 shard per node.

The way to trigger the workload is  is in the commit log.
[code]

[2022-03-31 03:38] codingcuisg commented on #10276
currently we are under 4.4.5 or 4.4.4.

Using TWCS might not be the best option, the TTL is long 90days-1year depends on the user requests. TWCS creating too many sstables and tombstones especially the user update the value of the key. We tried TWCS but it caused mush higher query io queue and read latency.

However with STCS, the sstables will compact to bigger size sstables and it cannot be comp

[2022-03-31 06:34] nyh commented on #10276
In general I agree that if Cassandra supports a certain operation, we should consider supporting this operation. But in this case, I don't understand how users will use this feature in practice... How would users decide which sstables to list for compaction? If there is some "algorithm" that the user uses to decide which sstables to compact, this is basically a new compaction strategy, but the use

[2022-03-31 07:32] horschi commented on #10290
@tgrabiec : Yesterday I updated the system to 4.6 again. But so far no errors.

I verified the core-dumping using scylla_coredump_setup.

[2022-03-31 07:44] #10286 closed

[2022-03-31 08:13] bhalevy commented on #8149
Seen again in https://jenkins.scylladb.com/job/scylla-4.5/job/dtest-release/124/testReport/upgrade_test/UpgradeTestFrom40ToLast/test_cluster_upgrade/

https://jenkins.scylladb.com/job/scylla-4.5/job/dtest-release/124/artifact/logs-all.release.2/1648638659623_upgrade_test.UpgradeTestFrom40ToLast.test_cluster_upgrade/node1.log
[code]

https://jenkins.scylladb.com/job/scylla-4.5/job/dtest-release/124

[2022-03-31 08:14] soyacz commented on #10304
I don't know about thread list.
I've looked into db logs and found out that error happened during restart (stopping phase) scylla server after enospc nemesis (after releasing space back). Looks that this stopping took quite a long time.
[code]

[2022-03-31 10:55] eliransin commented on #10146
@aleksbykov I would like to handle the bisect. For this can you please provide me with:
1. A jenkins job that I can clone / run .
2. A clear explanation about how can I extract the performance numbers (what you look for on the monitor, where and when etc...)
Tx

[2022-03-31 10:58] #10300 closed

[2022-03-31 11:11] slivne commented on #10304
need to extract the backtrace of the sigabort

[2022-03-31 11:12] bhalevy commented on #10304
Decoded:
[code]

[2022-03-31 11:14] bhalevy commented on #10304
@avikivity can you make sense of the above backtrace?

[2022-03-31 11:18] asias commented on #5831
I just tried again and I manged to replace the ip address of the cluster with no problem.
For example:

Before:
n1 (127.0.0.1)
n2 (127.0.0.2)
n1 and n2 set seeds to 127.0.0.1

Shutdown all nodes

After:
n1 (127.0.0.11)
n2 (127.0.0.22)
n1 and n2 set seeds to 127.0.0.11

Start n1, then start n2

n1 will change ip to 127.0.0.11
n2 will change ip to 127.0.0.22

No need to modify any system tables.

[2022-03-31 11:21] asias commented on #5831
In your setup, change the config for n1 to n5 to use the new ip address. Modify n1 to n2 to set seeds to n1.

Start n1, ignore the logs trying to reach out to old ips.

When n1 is up, start n2. When n2 is up, check with nodetool status. You will see n1 and n2 will know the new ip.

Repeat fro n3, n4, n5.

[2022-03-31 12:09] denesb opened #10307 "schema update write path unnecessarily freezes-unfreezes mutations"
When merging schema mutations, they are written to local node with `storage_proxy::apply(std::vector<mutation>)`, which calls `database::apply(schema_ptr, const frozen_mutations&)` for each mutation. Since `frozen_mutation` has an implicit constructor taking a `mutation`, this in effect freezes (serializes) the mutation, just so it is un-serialized immediately on the other side. Schema mutations c

[2022-03-31 12:33] raphaelsc opened #10308 "Add backpressure mechanism for memtable flush"
Flush generation rate can be higher than compaction rate. Therefore, compaction falls behind significantly, possibly leading to thousands of files in a table, possibly resulting in an OOM. To prevent this from happening, let's apply a back pressure to memtable flush, such that we'll slow down flush, allowing compaction to keep up.

[2022-03-31 12:34] raphaelsc commented on #10308
@bhalevy FYI

[2022-03-31 12:42] bhalevy commented on #10308
Cc @mikolajsieluzycki. Let's add this to your queue

[2022-03-31 12:45] aleksbykov commented on #9331
@eliransin , i try to find out it.

[2022-03-31 13:32] yarongilor opened #10309 "system_schema.tables displays data of extensions column in a wrong unclear byte format"
*Installation details*
Kernel version: `5.11.0-1028-aws`
Scylla version (or git commit hash): `5.0.rc0-0.20220204.da0cd2b10 with build-id cfe14388a81a0f203b14fd947caadf1f2a1e722f`
Cluster size: 2 nodes (i3.xlarge)
Scylla running with shards number (live nodes):
   toggle-gc-mode-gc-mode--db-node-b83900e6-1 (13.51.47.152 | 10.0.2.34): 4 shards
   toggle-gc-mode-gc-mode--db-node-b83900e6-2 (16.170.1

[2022-03-31 13:43] k0machi opened #10310 "Incorrect locale value in docker build script"
The commit scylladb/scylla@546e4adf9e1d560cbb99932925b13e30200c0d3a added default locale settings,
and it contains an invalid value on this line: https://github.com/scylladb/scylla/blob/546e4adf9e1d560cbb99932925b13e30200c0d3a/dist/docker/debian/build_docker.sh#L94

`en_US.UTF_8` is not a valid locale, it should be `en_US.UTF-8` instead

This is Scylla's bug tracker, to be used for reporting bugs

[2022-03-31 14:25] vladzcloudius commented on #10308
I don't understand how this all may be possible.
The write rate into system_schema tables is almost zero (especially compared to regular data tables) and the amount of data in these tables is tiny as well.
So, the definition of the problem makes little sense to me.

I have a feeling that this proposal suggests a fix for a symptom instead of fixing a root cause.

@bhalevy @raphaelsc

[2022-03-31 14:45] raphaelsc commented on #10308
Backpressure is not for fixing the root cause. It's a defensive action, to when flush rate is bigger than compaction rate. So we'll prevent # of files from growing to the sky and then having an OOM.  We're not adding this and forgetting about all the rest. If there's a problem in schema disagreement, that causes schema tables to be flush very frequently in a short time time, that must be fixed. If

[2022-03-31 14:45] bhalevy commented on #7929
@nyh I can't reproduce any reactor stalls with the tests you pasted above.

[2022-03-31 14:52] raphaelsc commented on #10308
The restriction was suggested by Avi for simplicity, as a generic backpressure mechanism takes more effort (not just a hard stop on flushes), but we can pivot this issue to a generic solution.

For a complete solution, we'll have to fix https://github.com/scylladb/scylla/issues/4076. There's a flush_controller that perhaps can be used to slow down flush. With compaction speeding up, and flush slow

[2022-03-31 15:17] aleksbykov commented on #9331
From the latest succesfull run, with 4.6 it also took about ~14 hours

[2022-03-31 15:48] aleksbykov commented on #10146
@eliransin

1. you can use next jobs:
- https://jenkins.scylladb.com/view/Performance/job/scylla-master/job/scylla-master-perf-regression-aws-test-throughput/ for cloning. When you will configure it, for field `subtest` set just ["test_write"]
- Another job you can use is:  https://jenkins.scylladb.com/view/Performance/job/scylla-master/job/scylla-master-perf-regression-cdc-test-throughput/, you c

[2022-03-31 17:08] nyh commented on #7929
(un?)fortunately, it seems you are right. I tried one of the tests which used to reproduce this bug, and it didn't show a stall or an oversized allocation. We do get a read timeout,

But that is #7933, not this issue. It seems that somehow we did something to the read code which avoids contiguous allocations while scanning a huge contiguous list of tombstones, and also avoids stalls in this case.

[2022-03-31 18:00] #7929 closed

[2022-03-31 18:04] vladzcloudius commented on #10308
If this idea makes sense then it makes sense in general and not only for system_xxx - I agree.

Preventing a memtable flush would mean a corresponding memtable can potentially continue growing and eventually causing OOM due to that. I have a feeling that the condition for this backpressure should be more complex than in an opening message.

If you flush too often - you'll OOM due to too many files

[2022-04-01 09:22] MrYawe commented on #10135
It seems to be fixed with scylla 4.6.1

[2022-04-01 11:58] durre commented on #10135
Not here I'm afraid :(

[2022-04-01 12:42] bhalevy opened #10314 "shard_reader_v2::do_fill_buffer() stalls with many range tombstones"
While investigating https://github.com/scylladb/scylla/issues/10038 with a dtest that exercises read-repair of a partition with large number of range tombstones (order of 100000) several stalls and large allocations were reproduced.

One from `shard_reader_v2::do_fill_buffer` was:

Large allocation:
[code]

Stall:
[code]

[2022-04-01 12:42] bhalevy commented on #10314
The dtest is
[code]

[2022-04-01 12:57] bhalevy commented on #10314
A couple shorted stalls related to this path are:
[code]

and
[code]

[2022-04-01 12:59] bhalevy opened #10315 "Reactor stalls in range_tombstone_list when reconciling a large number of range tombstones"
In addition to the stall in #10314

A couple shorter stalls related to range_tombstone_list that are hit when reconciling a large number of range tombstones are:
[code]

and
[code]

[2022-04-01 13:20] bhalevy commented on #10282
Seen also with https://github.com/scylladb/scylla/issues/10314#issuecomment-1085852481

[2022-04-01 13:23] bhalevy commented on #10315
[code]

[2022-04-01 18:35] jm-ds commented on #5831
@asias This procedure does not work for us. Allow me to detail our process, perhaps I'm missing something.
I have 5 nodes in a project(stage) in GCP.

- On each node, I run 'nodetool flush', stop scylla and shutdown there server in order 5,4,3,2,1 with 1 being my master seed.
- I then create 5 images from these disks.
- Then, in our Production project, in GPC, I use the disk image from node1 to cr

[2022-04-02 21:55] bhalevy opened #10316 "mutation::consume doesn't emit a closing range_tombstone_change if the highest tombstone is open ended"
As of 5.1.dev 9c96a3714349568597ce1718a9351114f26be413,
https://github.com/scylladb/scylla/blob/9c96a3714349568597ce1718a9351114f26be413/mutation.hh#L297-L299

will fail to emit a closing range_tombstone_change if the highest tombstone is open ended
since `range_tombstone_change_generator::flush` does not do it by default.

This is reproducible with 028b2a8cdfdc12721b2be23d175cbc756d2507de without

[2022-04-02 21:58] cjbottaro commented on #5307
Just ran into an issue where Scylla crashed due to running out of disk space, but the pod continues to run and reports healthy.

[code]

[code]

[2022-04-03 07:11] nyh commented on #7929
I'm guessing this was fixed by @tgrabiec in commits d039db4bf0714359f29e83c6a27da98dc7054f49 and 36daf43562bb96e044ba3d70edd2c7774c260064

[2022-04-03 07:15] nyh commented on #7929
Ooops, @tgrabiec it seems that neither of those commits I just mentioned were actually merged! They are part of https://github.com/scylladb/scylla/pull/9223 which was never committed...
So I don't understand how the reactor stall and oversized allocations disappeared. Tomek, are your patches still relevant? Maybe something else already fixed the same problems?

[2022-04-03 08:29] avikivity commented on #10300
Backported to 4.5, 4.6, 5.0.

[2022-04-03 08:48] piavka opened #10318 "Disk degraded performance in aws single instance makes whole cluster unusable"
*Installation details*
Scylla version 4.5.1:
Cluster size: 27 nodes
OS: Ubuntu 18.04.6
Platform: AWS i3en.6xlarge

Ww had this issue twice already when one of the aws instances in cluster gets instance store in degraded performance,
it makes the cluster effectively unusable as reads/writes fail with errors like
[code]
which does not make sense since only one instance is having issues
When this hap

[2022-04-03 09:24] avikivity commented on #10318
Do you have speculative retry enabled in your table schema?

[2022-04-03 09:35] bhalevy commented on #10316
The issue is currently confined to master.
5.0 and 4.6 do not have this issue

[2022-04-03 09:36] piavka commented on #10318
we have
`speculative_retry = '99.0PERCENTILE'`

[2022-04-03 09:45] avikivity commented on #10318
I guess the problem is the CPU consumption, which in turn likely comes from exceptions.

Please check the cpp_exceptions counter in metrics and see if there is correlation to the problems.

There is mitigation coming in for this problem, unfortunately not in any released version.

You can try changing the disk mount to use online discard (add `discard` to Options= in /etc/systemd/system/var-lib-sc

[2022-04-03 10:11] bhalevy opened #10319 "Occasional UndefinedBehavior in raft/randomized_nemesis_test"
Seen in e.g. https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/4730/artifact/testlog/x86_64_debug/randomized_nemesis_test.basic_generator_test.6232.log
Over scylla version 9c96a3714349568597ce1718a9351114f26be413
[code]

[2022-04-03 10:13] avikivity commented on #5307
We should switch to the pod model without supervisord.

podman allows running pods directly. @zimnx is it possible with docker too? So we can retain the one-liner launch experience.

[2022-04-03 10:15] bhalevy commented on #10319
Reproducible with the above seed.

Decoded:
[code]

[2022-04-03 10:17] bhalevy commented on #10319
@gleb-cloudius is the issue in seastar or scylla?

[2022-04-03 10:23] gleb-cloudius commented on #10319
This suppose to be fixed by seastar/01a566fdd80f1b02d79bde6a786adc2480789fd7 which is suspiciously missing from the Scylla version tested here.

[2022-04-03 10:26] bhalevy commented on #10319
yup.  @avikivity can you please update the seastar submodule to include scylladb/seastar@01a566fdd80f1b02d79bde6a786adc2480789fd7 to fix this issue?

[2022-04-03 10:41] nyh commented on #10319
I can do it.

[2022-04-03 11:04] bhalevy opened #10320 "cdc_types_test: test_collection_delete_with_preimage_full[map_text_text]: IndexError: list index out of range"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/1167/testReport/junit/cdc_types_test/TestCDCCollectionsType/test_collection_delete_with_preimage_full_map_text_text_/
With scylla af07519928611a30256db93ffaa2ba71175f3fca
and scylladb/scylla-dtest@641f6b47efc451bbafcd0e6dc194443b37c7185e

[code]

It seems like `cdc_log_rows` is empty.

[2022-04-03 11:04] avikivity commented on #10300
Dequeued 4.5 backport, @psarna please help.

[2022-04-03 11:06] bhalevy commented on #10318
Cc @tgrabiec

[2022-04-03 11:07] slivne commented on #10261
@yaronkaikov / @syuu1228 - we need a change in docker image https://github.com/scylladb/scylla/issues/10261#issuecomment-1080480832 and to backport it

[2022-04-03 11:14] slivne commented on #10320
@psarna please assign someone that is avail from CDC

[2022-04-03 12:15] slivne commented on #10304
The process was not able to shutdown and system killed it with SIGABRT at the end

[code]

we have something stuck in shutting down the process - I think we need to look at the coredump

@bhalevy I think its something potentially to changes done by your team assigning this to you

[2022-04-03 12:27] bhalevy commented on #10304
@avikivity, according to https://github.com/scylladb/scylla/issues/10304#issuecomment-1084247086
it looks like the scylla server service committed suicide.

[code]

I agree with @slivne that the root cause looks like a hang on the shutdown path.

[2022-04-03 12:27] bhalevy commented on #10304
@xemul please look into it and analyse the core dump.

[2022-04-03 12:28] ShlomiBalalis opened #10322 "Cassandra stress gets stuck long after the insertion is over"
## Installation details

Kernel Version: 5.11.0-1028-aws

Scylla version (or git commit hash): `5.0~rc1-20220206.891990ec0` with build-id `20d9fa2c6020017f4afdc4941c0cca9c9a29d94a`

Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- rolling-upgrade-master-centos-db-node-4e9d8293-4 (52.214.40.91 | 10.0.0.117) (shards: 8)
- rolling-upgrade-master-centos-db-node-4e9d8293-3 (34.242.8

[2022-04-03 12:39] yarongilor commented on #8426
Possibly reproduced in 2021.1.10:

[code]

*Installation details*
Kernel version: `5.13.0-1019-aws`
Scylla version (or git commit hash): `2021.1.10-0.20220330.d9cce405a`
Cluster size: 3 nodes (i3.large)
Scylla running with shards number (live nodes):
  gemini-with-nemesis-3h-normal-2021--db-node-86f5d957-1 (44.200.231.109 | 10.0.3.18): 2 shards
  gemini-with-nemesis-3h-normal-2021--db-node-86f5d95

[2022-04-03 13:09] avikivity commented on #10304
No, systemd killed it because it did not shut down cleanly by itself (deadlock or livelock).

[2022-04-03 16:07] yarongilor commented on #10309
@asias , can you please advise?

[2022-04-03 16:20] avikivity commented on #10309
It is probably very difficult to fix now since it involves a schema change.

[2022-04-03 17:21] #10314 closed

[2022-04-03 17:21] #10310 closed

[2022-04-03 17:21] #10319 closed

[2022-04-03 18:15] tgrabiec commented on #7929
If you are getting timeouts then coordinator-side processing does not happen and thus the stalls mentioned in this issue do not happen (they happen during deserialization of query results). Maybe replica-side processing got slower.

[2022-04-03 18:51] slivne commented on #10262
We do have something strange more then one node had a drop in cpu load

![Screenshot from 2022-04-03 21-04-04](https://user-images.githubusercontent.com/3465480/161442698-1fb65d61-4613-49e1-8469-8cc903e6a150.png)

Trying to extract information of which operation failed

we have a metric ```scylla_transport_cql_errors_total```

![Screenshot from 2022-04-03 21-29-11](https://user-images.githubuserco

[2022-04-03 18:58] slivne commented on #10262
Another theory I had was that the read_timeout maybe returned by the node that ran out of disk space  -but thats not what's happening the error is comming back from the other nodes - so why are they getting a read timeout there are supposed to be 3 replicas and one of them goes down the rest should be able to handle the read and write traffic easily with failing over to another replica (instead of

[2022-04-03 19:04] slivne commented on #10262
I don't think we should block the release on this - but it may be  a regression and I want to validate if its or its not.

[2022-04-03 19:28] nyh commented on #7929
Why is this the case? I thought (but perhaps I was wrong) that the coordinator needs to fetch from the replica the entire mutation - including the tombstones - and only after fetching those can return the small reponse (without those tombstones) - so we can definitely get a timeout on the client side if the coordinator keeps fetching more and more of these tombstones and it takes too much time. In

[2022-04-03 19:57] slivne commented on #10303
9906 is using r5b with EBS - this test is runnong on i3en.2xl - there should not be an issue with disk bandwidth - so the problem may not be the same.

In this specific workload we have stalls all over (not only during this nemesis)

![Screenshot from 2022-04-03 22-50-32](https://user-images.githubusercontent.com/3465480/161445633-0feb9601-0417-4dd0-899c-b8d53a96f2de.png)

![Screenshot from 2022-0

[2022-04-03 20:39] slivne commented on #10296
Trying to look for gossip information

Sequence is:
1. Node 3.165 is up
2. Ran repair with all nodes
3. Node 3.165 decommissioned
4. Truncate 20 minutes later fails

[code]

[2022-04-03 20:42] slivne commented on #10296
this is a regression

I expect that a simple reproducer can be built.

1. Create a 3 node cluster
2. Create a table
3. Add node
4. Truncate
5. Decommission node
6. Wait for 3 minutes (so the decommissioned node is removed from gossip in other nodes state)
7. Truncate

The second truncate (after decommission+wait is expected to fail)

[2022-04-03 20:43] slivne commented on #10296
Since its gossip assigning to Asias

[2022-04-03 20:45] slivne commented on #10292
probably the same as https://github.com/scylladb/scylla/issues/10304 - assigning to the same owners

[2022-04-03 20:49] slivne commented on #10274
I expect this is the same issue as https://github.com/scylladb/scylla/issues/10296

gossip not in synch with the nodes will cause this failure as well.

[2022-04-03 20:50] slivne commented on #10274
I did not check the complete sequence but you can - I expect a simple reproducer is also possible to create for this case

[2022-04-03 21:00] slivne commented on #8030
We did not figure whats going on here and its clear its TWCS workload related (at least I am not aware of other workload thta has this issue)

@bhalevy assigning this to you on master - and once we know if we need a fix / will consider backports.

- We should test without HH as a start just to make sure that Scylla behaves ok without them.

[2022-04-03 21:02] slivne commented on #9092
Closing this issue - we released 4.6.0 / 4.6.1 -if the issue reproduces please post and reopen.

[2022-04-03 21:02] #9092 closed

[2022-04-03 21:06] slivne commented on #9602
We are running tests on 5.0 if the issue reproduces on that - please post and reopen - closing this issue

[2022-04-03 21:06] #9602 closed

[2022-04-03 21:10] slivne commented on #9607
Running test on 5.0 if this happens again please post.

[2022-04-03 21:15] slivne commented on #9623
@asias / @eliransin this is again repair + schema changesare we able to make repair finish while tables are added / removed  ?

[2022-04-04 06:08] bhalevy commented on #10303
Wow, the reactor stalls are quite insane...
[code]

[2022-04-04 06:15] bhalevy commented on #10303
@k0machi / @bentsi is the cluster still up?

[2022-04-04 06:24] bhalevy commented on #10303
@avikivity, besides the stalls that appear to be in the reconciliation path I see a lot of `kernel callstack` reports in the log in proximity to the reactor stalls.
I'm not sure exactly how to tie them together.
(BTW, most of them are empty, which is annoying)
For example:
[code]

[2022-04-04 06:49] fgelcer commented on #10303
@bhalevy , seems it was terminated, as they are not listed in the region where the test ran...

[2022-04-04 06:54] slivne commented on #10257
Looking at a single range

[code]

![Screenshot from 2022-04-04 09-08-52](https://user-images.githubusercontent.com/3465480/161483737-0116826c-976b-4a47-a0aa-7d3565e97a4f.png)
![Screenshot from 2022-04-04 09-07-12](https://user-images.githubusercontent.com/3465480/161483741-720cc397-2fd3-4d08-8a8f-1f697c4453ea.png)
![Screenshot from 2022-04-04 09-05-20](https://user-images.githubusercontent.com/34

[2022-04-04 07:14] psarna commented on #10300
Ah, the code before expressions :( I'll prepare something today

[2022-04-04 07:14] bhalevy commented on #10303
Cc @tgrabiec (and @denesb for the stalls on the reconcile path... I've patches to alleviate some of them)

[2022-04-04 07:18] psarna opened #10324 "FINALFUNC and INITCOND should be optional for user-defined aggregates"
Contrary to what I once found on a (deprecated) docs page, final function and initial condition for user-defined aggregates are after all optional. The semantics are as follows:
 - default initcond is `null`
 - default finalfunc is simply not called if not needed, and the final state is returned instead (so you can think of a default finalfunc as identity)

Source: https://cassandra.apache.org/doc

[2022-04-04 07:42] tnozicka commented on #5307
I feel like we are mixing two issues (although they are a bit connected):

a) Content of the image (this issue)
    The idea here is to use a small (minimal) image that only has the binaries and connected libraries that are actually run in production. So any tools or such are not included in the image. The big benefit here might be not needing Java if we don't need nodtetool. But at some point you

[2022-04-04 07:47] syuu1228 commented on #10261
Okay I confirmed we mistakenly introduced this bug at cb1904818, since the script tries to run scylla as scylla just like systemd, but previous supervisor script run it as root.
I will send a fix soon.

[2022-04-04 07:48] bhalevy commented on #10304
@gleb-cloudius could this be the hang on shutdown you sent a patch for the the mailing list?

[2022-04-04 08:02] tnozicka commented on #5307
I feel like we are mixing two issues (although they are a bit connected):

a) Content of the image (this issue)
    The idea here is to use a small (minimal) image that only has the binaries and connected libraries that are actually run in production. So any tools or such are not included in the image. The big benefit here might be not needing Java if we don't need nodetool. But at some point you

[2022-04-04 08:29] psarna commented on #10300
Queued to 4.5

[2022-04-04 08:36] avikivity commented on #5307
I want just one solution, and one that works out of the box.

The advantage of the supervisor model is that it restarts services if they fail. If docker-compose and podman play can achieve the same thing, I'm happy to switch to that.

[2022-04-04 08:54] syuu1228 commented on #10261
@rueian Sorry, my previous comment at #10241 was wrong, our Docker image should run scylla as root.
But, we want to use `is_nonroot` flag for other purpose (install scylla without root user, outside of container), I sent new PR to fix this, instead of merging your PR:
https://github.com/scylladb/scylla/pull/10325
Thanks to reporthing the bug.

[2022-04-04 09:06] bhalevy commented on #10304
7c6d8577ccd4d20fb7b3eecc59ecf61d00112ab7 `Merge 'fix hang on shutdown while ddl query is running and there is no quorum' from Gleb`

[2022-04-04 09:24] syuu1228 commented on #9096
@nyh We fixed the bug at https://github.com/scylladb/seastar/commit/2a3b4ac62865644cf2c49840cd3eebf6b92dfd11, no work needed.
I think we can close this now

[2022-04-04 09:52] avikivity commented on #10310
Backported to 5.0, older releases not vulnerable.

[2022-04-04 10:10] avikivity commented on #10293
IIRC 4.19+ should be ok. So only CentOS 7 is problematic. And we should strongly discourage new installations from using CentOS 7!

[2022-04-04 10:14] syuu1228 commented on #10237
I thought why I couldn't reproduce the bug last time is because I missed `--overprovisioning` option.
But I retired reproduce the bug with `--overprovisioning` option, I still not able to reproduce this.

I tested this on Azure Standard D32ads v5 instance with 32vCPUs, with CentOS7.9 image + docker-ce 20.10.14:
[code]

[code]

I guess there are two possibilities:
 - Failed docker image is old, and

[2022-04-04 10:19] avikivity commented on #10315
This will go away one we allow tombstone-only pages.

[2022-04-04 10:52] psarna commented on #10320
@piodul let's triage this first and then I'll decide who should solve this one

[2022-04-04 10:54] xemul commented on #10304
[code]

It's a regular shutdown after `isolate`ion finish

[2022-04-04 11:25] fgelcer commented on #10060
build is `Scylla version 5.1.dev-0.20220317.c45050895403 with build-id 076f513b6143670def988c7626389b270411f8f7`
@bhalevy @slivne , the last build ran with the following times:

nemesis `RemoveNodeThenAddNode` (`remove_node_than_add_node`)
[code]

it is better than the run on 4.5

[2022-04-04 12:02] xemul commented on #10292
dup of #10304

[2022-04-04 12:02] #10292 closed

[2022-04-04 12:14] bhalevy commented on #10303
The distribution of stalls is quite flat, so there isn't one dominant stall to look at.
#10315 appears at the top (4% of the cases) on node 1
[code]

[2022-04-04 12:17] bhalevy commented on #10303
Another stall is https://github.com/scylladb/scylla/issues/10028#issuecomment-1036163840
[code]
++[0#1/2047 4%] addr=0x13ffe73 total=217798 count=229 avg=951:
|               tri_compare at ././types.hh:733
|               (inlined by) prefix_equality_tri_compare<__gnu_cxx::__normal_iterator<seastar::shared_ptr<abstract_type const> const*, std::vector<seastar::shared_ptr<abstract_type const>, std:

[2022-04-04 12:43] slivne commented on #10257
So in this case we have an instance at 100% - and we see read_timeouts

![Screenshot from 2022-04-04 12-07-10](https://user-images.githubusercontent.com/3465480/161545329-e475daeb-fa51-4622-82ad-1897e06479bb.png)
![Screenshot from 2022-04-04 09-08-52](https://user-images.githubusercontent.com/3465480/161545342-c65a9e24-ebeb-4e4f-a84d-64ec4e9d8a44.png)
![Screenshot from 2022-04-04 09-07-12](https:/

[2022-04-04 12:52] bhalevy opened #10326 "range_tombstone_list: insert_from: incorrect range_tombstone applied to reverter in non-overlapping case"
https://github.com/scylladb/scylla/blob/fe2fa3f20df3dc4eb6b7275cf224befaffb4773a/range_tombstone_list.cc#L108
This looks like a typo introduced in fe2fa3f20df3dc4eb6b7275cf224befaffb4773a
which loses the end position of the range tombstone.

[2022-04-04 12:59] slivne commented on #10257
This is on 5.0 - @xemul do you want to have a look at the highlighted time range and see the I/O scheduler actually works - 2 Second queue delay for query seems too high.

[2022-04-04 13:11] piodul commented on #10320
I ran the test 300 times locally and couldn't reproduce the failure. Maybe the test is flaky, but I read its code and I don't know where the flakiness could come from. The test sets up only one node, so it can't be a consistency issue.

[2022-04-04 13:31] bhalevy commented on #10282
Other than getting rid of the `range_tombstone_list` in the cache,
https://github.com/scylladb/scylla/blob/d86c3a80615bc2a16311e6fe0527b3ed3b36fb3a/range_tombstone_list.cc#L442-L448

is inefficient, especially if the tree is degenerated into a list as it applies the other list entries one by one, each with O(log(n)) in the best average :) case or O(n) in the worst case.

We could merge the tow lis

[2022-04-04 13:55] bhalevy commented on #10320
If you're using pytest to run the test, did you make sure to set smp to (at least) 2?
(`export SCYLLA_EXT_OPTS="--smp 2"`)

[2022-04-04 14:02] avikivity commented on #10290
I'm sure it will happen again if you disable coredump collection.

[2022-04-04 14:04] horschi commented on #10290
Since it was now working fine on the dev cluster, I just updated the Q cluster. And again a few minutes later Q started crashing:

[code]

Again it is not writing to the coredump folder. But scylla_coredump is reporting success:

[code]

What could be wrong with my coredump setup?

[2022-04-04 14:07] horschi commented on #10290
I just checked journalctl for coredump errors and found:

[code]

[2022-04-04 14:09] avelanarius commented on #10161
Thanks to https://gcc.gnu.org/git/gitweb.cgi?p=gcc.git;h=0847ad33b908af88bca1e6980d0b977316d05e18, `raft/server.cc` now compiles fine with `g++ (GCC) 12.0.1 20220404 (experimental)`. (However, there are new warnings in 12.0.1 which make even more files fail to compile compared to 11.2.1)

[2022-04-04 14:09] #10161 closed, assigned to nobody

[2022-04-04 14:20] nyh opened #10327 "Page size in whole-table scan of a small table is larger than 1 MB"
I'm not sure if this should be considered a bug or it's perfectly acceptable, but I discovered a difference between paging in single-partition and multi-partition (e.g., whole table) scans that I wanted to document - and if it's not a bug, we can close this issue.

When querying a single long partition without an explicit row number limit, I noticed (in a test) that the page ends after roughly 1 M

[2022-04-04 14:35] avikivity commented on #10290
They are probably related in that the system ran out of memory at a point where it was not recoverable. Exactly what that point is will be much easier to find with a core.

[2022-04-04 14:37] bhalevy commented on #10290
Decoded:
[code]

[2022-04-04 14:37] avikivity commented on #10290
Try checking ProcessMaxSize in /etc/systemd/coredump.conf or /etc/systemd/coredump.conf.d

[2022-04-04 14:45] piodul commented on #10320
I used pytest but didn't set smp explicitly. Now, I ran the test 100 more times with `--smp 16` but the failure didn't reproduce either.

[2022-04-04 14:45] horschi commented on #10290
I think I got the core dump, I will update in a few minutes....

[2022-04-04 17:54] #10261 closed

[2022-04-04 17:54] #10269 closed

[2022-04-04 20:24] tgrabiec commented on #10282
The container uses rbtree so it should be always balanced and should not degenerate into O(N) insertion.

To fix the stalls, it's enough to respect preemption when merging memtable to the cache, there is a FIXME about it:

[code]

This will be easier after https://github.com/scylladb/scylla/issues/652 is fixed, because it lays the infrastructure for preemptible merging of tombstones.

We could opt

[2022-04-04 20:38] tgrabiec commented on #10290
@avikivity ptr is `entry_ptr`, which is a strong pointer (see its doc, and `unlink_from_lru()` in the ctor).

[2022-04-04 20:47] nyh opened #10332 "Alternator - empty AttributesToGet should be forbidden"
In DynamoDB one can retrieve only a subset of the attributes using the `AttributesToGet` or `ProjectionExpression` paramters to read requests. Neither allows an **empty** list of attributes - if you don't want any attributes, you should use `Select=COUNT` instead.

Currently we correctly refuse an empty `ProjectionExpression` - and have a test for it in `test_projection_expression.py`::`test_proje

[2022-04-04 21:32] #10316 closed

[2022-04-05 04:24] bhalevy commented on #10326
Fixed by 2d800576178dde6795b66dc443883297ab1af5a5

[2022-04-05 05:50] bhalevy commented on #10326
Requires backport to 5.0

@slivne can you please add a `backport 5.0` label?

[2022-04-05 05:50] #10326 closed

[2022-04-05 06:07] bhalevy commented on #10316
Although 4.6 and 5.0 aren't currently exposed to this bug
since they don't have fcda35d08ee53cb9afad99ddba6c8957b3ab7ec3,
I do suggest backporting 0a3aba36e6e4b78ef6e7bb2f5ee204aa2cccfe1c
for safety reasons with the improved random_range_tombstone test lib function
and for making further backports of changes on these paths easier.

Note that even without 002be743f661fd2f5370a92936ef0cb627260721 th

[2022-04-05 06:20] denesb commented on #10327
The algorithm on the replica stops reading as soon as the size of the live data is > 1MB threshold. So it is usually above it by some amount. This applies to the entire query in the case of single partition reads. For range scans the situation is more complicated, as we have another layer on the coordinator. Range scans scan entire vnodes at first with a concurrency of one, exponentially increasin

[2022-04-05 06:32] xemul commented on #10257
@slivne , the delay metrics needs special treatment in 5.0. First, there's a bug in its exposing, seastar rounds up the tim to seconds (there's a fixing patch on the ML). Second, this metrics is the accumulated delays for all requests within a time-frame, so it should be divided by the corresponding IOPS to get an estimation of the per-request delat.

[2022-04-05 06:48] xemul commented on #10304
An off-topic question, @slivne , @bhalevy , issues like this always contain a lot of information but miss the most useful for developer one. How difficult would it be to automagically include _the URL to the relocatable package_ into each issue report like that?
(this bug's URL, for example, is http://downloads.scylladb.com/unstable/scylla/master/relocatable/2022-03-17T14:10:37Z/scylla-debug-x86_6

[2022-04-05 06:57] soyacz commented on #10304
@xemul Possibly we could do it on QA side (SCT/argus) - I'll create a task to enhance issue template we are starting to use (not used here yet).

[2022-04-05 07:31] bhalevy commented on #10304
@xemul you sure it's `scylla-debug-x86_64-unified-package-5.1.dev.0.20220317.c45050895403.tar.gz`?
Assuming QA ran release build and not debug, it would be either [scylla-x86_64-unified-package-5.1.dev.0.20220317.c45050895403.tar.gz](http://downloads.scylladb.com.s3.amazonaws.com/unstable/scylla/master/relocatable/2022-03-17T14%3A10%3A37Z/scylla-x86_64-unified-package-5.1.dev.0.20220317.c450508954

[2022-04-05 07:51] bhalevy commented on #10304
In any case, for a given `build_id`, you can run the following oneliner :)
[code]

[2022-04-05 08:17] xemul commented on #10304
No :)

[2022-04-05 08:42] xemul commented on #10304
[code]

Compaction manager is stopped, large data handle is still running.

[2022-04-05 09:09] xemul commented on #10304
The compaction manager's backlog controller `_update_timer` is armed on all shards but one. This means that `compaction_manager::really_do_stop()` didn't get to its `_compaction_controller.shutdown()` part.

[2022-04-05 09:28] xemul commented on #10304
Yup. According to logs all shards printed `compaction_manager - Asked to stop` and only shard  printed `compaction_manager - Stopped`, which perfectly matches the state/timer-armed values.

[2022-04-05 09:41] avikivity commented on #10326
Backported to 5.0.

[2022-04-05 09:42] avikivity commented on #10269
Backported to 4.6, 5.0

[2022-04-05 09:47] avikivity commented on #10261
Backported to 4.6, 5.0.

[2022-04-05 10:19] #10097 closed

[2022-04-05 10:36] eliransin commented on #9331
@aleksbykov  sorry, the previous ami's didn't contain the debug information so I can't debug the coredump.
Can you provide the jenkins URL or rerun the coredumped test with one of the following ami's?
[code]

[2022-04-05 10:46] nyh commented on #10327
I can understand the rationale for not discarding data - discarding data would lead to wasted work, and also more work on the next read that cannot reuse cached readers on the replicas.

However, we need to get an answer to the question of whether the amount of extra data returned is bounded. I.e., I think it is forgivable that in some worse case the coordinator builds and returns a 3 MB page inst

[2022-04-05 10:48] tgrabiec commented on #10290
Looking at the core dump

[2022-04-05 11:00] aleksbykov commented on #9331
@eliransin i will rerun and update you with job link

[2022-04-05 11:05] aleksbykov commented on #9331
Job is restarted: https://jenkins.scylladb.com/view/scylla-4.6/job/scylla-4.6/job/SCT-Reproducers/job/Issue-9331/job/longevity-cdc-400gb-3d/ with ami: ami-00228bf2feb470747

[2022-04-05 11:08] DoronArazii commented on #8706
@slivne ping

[2022-04-05 12:07] denesb commented on #10327
The code is here: https://github.com/scylladb/scylla/blob/master/service/storage_proxy.cc#L4212-L4411

Yes we double in each iteration. The method recursively calls itself until done.
Looks like we are updating the partition/row limits on each iteration (decrementing them by what we have), but not the size. We can do that now, that the coordinator sends the max result size to the replica on each r

[2022-04-05 12:18] nyh commented on #10327
Right. We can have a rigid limit (e.g., 2MB) over which the coordinator drops data so we don't return 2^3 * 1MB to the client (and in this unlikely case the performance will suffer, but we don't care). But unfortunately it will be really hard to write the code in a way that guarantees that the coordinator doesn't spend 2^3 * 1MB of memory to hold the data temporarily in memory.

[2022-04-05 12:34] nyh commented on #8895
Already fixed by ec5e4c338b38d56d37e427b9abcbacf86a683b84. So closing issue.

[2022-04-05 12:34] #8895 closed

[2022-04-05 13:20] denesb commented on #10327
I think the case I describe above should be rare (or who knows :) ). In any case with decrementing the remaining size (and passing it to the replica) + a hard safety limit, above which we discard data, we should be good.

[2022-04-05 13:31] nyh commented on #10327
My only concern is that this bug can be deliberately exploited on a shared system - create specially crafted table with all the data on one vnode, and then scan it - and see Scylla run out of memory and potentially crash.
I agree that for non-malicious users, it won't be a problem.

[2022-04-05 13:37] #10021 closed

[2022-04-05 14:00] eliransin commented on #10146
First version: 100K-87K
078f69c13 (HEAD) Merge "raft: (service) implement group 0 as a service" from Kostja
test_id: 67e04d2c-dbcf-4237-b3db-3c49dbd951b3
amis:
eu-west-1: ami-0afd8ce3253062aa9
us-east-1: ami-07861cf307ea5818b
Jenkins job: https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/1/

![image](https://user-ima

[2022-04-05 14:22] KnifeyMoloko commented on #10235
@slivne Couldn't reproduce the issue while running locally. Looks like the issue was with my test. I'm closing this issue.

[2022-04-05 14:22] #10235 closed

[2022-04-05 14:26] slivne commented on #10318
One more comment

If you receive a bad machine from AWS and run io_tune on it - you can try and compare the values you get vs the expected values and detect bad hw ahead of time before using it.

[2022-04-05 14:29] slivne commented on #10059
@tgrabiec based on the analysis it seems this is not a regression and its related to #2577 - once we solve #2577 we will solve this as well, right ?

[2022-04-05 14:59] codingcuisg opened #10335 "Authentication cache doesn't cache the role permission"
Hi team,

We are using scylla 4.4.5/4.4.8 on ubuntu 18.04, aws ec2, 6 nodes in 3 racks and the RF is 3. And the driver has enabled the token aware policy.

However we still can find many non-paged & non-token-aware queries especially higher amount on 3 nodes, scylla monitoring is under version 3.7.2
<img width="1151" alt="image" src="https://user-images.githubusercontent.com/33821205/161778002-27d

[2022-04-05 15:01] jul-stas commented on #10262
IIUC the counter read and regular read start differing deep in the internals, where cells are accessed - I don't see anything on the coordinator/replica level. (@psarna can you too have a look?)

I'll make an experiment to be sure, but counters code has not been modified for a very long time, so a new bug is unlikely.

[2022-04-05 15:24] eliransin commented on #10146
d4d0bd147 (HEAD) migration_manager: Subscribe on gossiper events
test_id: 6937f55c-f5b7-4dcb-ae97-6305a92aced7
amis:
eu-west-1: ami-021386b326a717f92
us-east-1: ami-007c3061cd97c4ff7
Jenkins job:https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/2

[2022-04-05 15:25] nyh commented on #9285
As proposed by @eliransin we can have a temporary workaround before the algorithm is fixed:
Simply, if our random choice of CL nodes contains the same node twice, simply replace the duplicate by a different choice.
The rationale for this tradeoff is that:
1. Doing this fix will skew the load balancing a bit, but will not break correctness.
2. Moreover, even if the load balancing is temporarily imp

[2022-04-05 15:43] slivne commented on #8706
Looking at the last test from Julia in https://github.com/scylladb/scylla/issues/8706#issuecomment-1073214475

![Screenshot from 2022-04-05 17-55-03](https://user-images.githubusercontent.com/3465480/161783059-bed9b20a-059b-48dc-9d8d-54ea99dd5aa6.png)

I can see in the advanced dasboard cases where there is high queue delay - I think the whole new I/O scheduler effort was supposed to eliminate all

[2022-04-05 15:53] juliayakovlev commented on #8706
Unfortunatelly the logs were not collected. The best that I succeeded to get - save Jenkins console output

[2022-04-05 16:16] xemul commented on #10254
scylladb/seastar#446

[2022-04-05 16:29] kokizzu commented on #10237
yeah, weirdly with your command above it all ok '__') and i retried the docker-compose command i've used previously it's ok now no longer broken

[2022-04-05 16:47] avikivity opened #10336 "logger to syslog deadlocks with huge messages"
A large syslog message (> 1MB) can trigger an allocation in syslog, which will trigger another log call to log the large allocation warning. This ends up deadlocking.

Seen in a reshaping compaction message naming 4000+ sstables.

[2022-04-05 16:47] avikivity commented on #10336
Fixed by f28552016faf24c38417c66c4e51366f4d68ff59 and later 45bdb57b05e48fb4e69cd18e11fd3c8fe15528a8.

[2022-04-05 16:47] #10336 closed

[2022-04-05 16:55] avikivity commented on #10336
Backported to 4.6, 4.5. 5.0 already had it.

[2022-04-05 20:04] slivne commented on #8706
@xemul thanks
- so 5.0.rc3 should have that fix great we can check once its out
- did we fix motioning somehow to convey this change ?

I also tried to zoom in on some spikes

http://34.201.29.237:3000/d/advanced-master/advanced?from=1647548447289&to=1647548568152&var-by=instance,shard&var-cluster=&var-dc=All&var-node=10.0.2.99&var-shard=All&var-scheduling_group=statement&var-func=sum&var-scylla_v

[2022-04-05 20:06] slivne commented on #8706
@juliayakovlev we will need a reproducer job and run it on 5.0.rc3 - I assume it will not be great - we should not run it for a long duration and stop it when we see an issue based on your input it will be very fast and collect the logs / access the nodes.

@juliayakovlev do we have a background thread doing something - range scan or updates in python that may be causing the load on the single nod

[2022-04-05 20:09] slivne commented on #9565
the i/o scheduler in 5.0 should be better in handling this - e.g. ongoing read should not be "starved" because we have a background repair.

Lets see if this reproduces in 5.0 or not.

[2022-04-05 21:10] aleksbykov commented on #5528
@avikivity @ShlomiBalalis was the fix backported to 5.0?

Issue again reproduced :
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-cdc-3d-400gb-5-0-db-node-1c7b59af-9 (52.19.201.43 | 10.0

[2022-04-05 21:12] aleksbykov commented on #10146
Issue reproduced during
alive monitoring: http://54.246.38.54:3000/d/cql-master/longevity-cdc-3d-400gb-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1648637478017&to=1648947431611&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&var-sct_tags=InfoEvent
## Installation details

Kernel Version: 5.13.0-1017-aws

Scylla version (or git commit hash): `5.0~rc2-20220316.839d

[2022-04-05 22:47] tgrabiec commented on #10059
Right.

[2022-04-06 02:47] asias commented on #10309
The new option uses extensions. Any options uses the extensions are not displayed with the "decoded" content.

[2022-04-06 03:01] asias commented on #10296
It looks like the truncate failed not just because of the decommissioned node with ip 3.165. It needs 4 nodes to be alive, but only 4 is alive.

[code]

[2022-04-06 05:55] denesb commented on #10327
That would be really hard to do. Since we read at most 1MB from a vnode, you'd have to get to crazy concurrencies (BTW we should maybe cap the concurrency too) or run a crazy amount of queries in parallel. At which point you start to bottleneck on the replicas.

Also there is an additional factor here I forgot about. You can only stitch together all vnodes results you got in a given iteration, if

[2022-04-06 06:55] asias commented on #10296
I could not reproduce with the following dtest:

scylla: c45050895403d10301d45536a831d5a49b961e5e

[code]

[2022-04-06 07:18] eliransin commented on #10146
595cc328b (HEAD) Merge 'cql3: Remove term, replace with expression' from Jan Ciołek
test_id: b2ce39b7-0bc6-4ba4-8648-23ef2f996d79
amis:
eu-west-1: ami-0181228a60a3157ca
us-east-1: ami-06035fdd638789da9
Jenkins job:https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/3

[2022-04-06 08:24] avikivity commented on #10059
Closing as duplicate of #2577

[2022-04-06 08:24] #10059 closed

[2022-04-06 08:55] slivne opened #10337 "4.6.1 not able to replace node"
replace falls with

[code]

scylla.yaml

[code]

[code]

scylla is started with
[code]

[2022-04-06 09:59] avikivity commented on #10335
/cc @eliransin

[2022-04-06 10:05] xemul commented on #8706
@slivne

The patchset is still on the ML (seastar: Refine COUNTER metrics​)

Which one? About latency = delay / IOPS or about the bug in metrics reporting? For the former -- there's an issue scylladb/scylla-monitoring#1714, for the latter -- it's purely seastar bug described at scylladb/scylla#10254

[2022-04-06 10:07] soyacz opened #10338 "Data is not transferred on bootstrap when replacing node in muli-dc setup"
*Installation details*
Scylla version (or git commit hash): Scylla version 5.1.dev-0.20220316.2e7009f42773 with build-id 870b0196c7e95fa7ff9460ff81ceb1dec1984b61
Cluster size: [2, 2]
dtest

Having 2 DC's, when replacing node in dc2 data is not transferred during node bootstrap (RBNO enabled, but it behaves the same for streaming). In logs we can see:
[code]

Looks `source_dc` is not a valid name o

[2022-04-06 11:07] eliransin commented on #10146
94eb5c55c (HEAD) Merge 'Loading cache improve eviction use policy' from Vladislav Zolotarov

test_id: e6f1fadf-ac09-4616-b965-4bb1351bf7b0
amis:
eu-west-1: ami-0803d88fbe36cfa78
us-east-1: ami-06a099220ff2dd762

Jenkins job:https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/4/

[2022-04-06 12:24] horschi commented on #10290
@tgrabiec : I have multiple core-dumps on every server. If neccessary I can share more dumps.

[2022-04-06 13:16] slivne commented on #10337
The user was not able to replace a node with and without repair-based-operations

Nicholas Peshek can you please add the logs of the bootstrapping node

[2022-04-06 13:49] eliransin commented on #10146
957003e73 (HEAD) compaction_manager: stop_compaction: wait for ongoing compactions to stop
test_id: 628022d2-66f6-41d0-b0d4-2e9381f55738
ami:
eu-west-1: ami-021f32daee3f054bf
us-east-1: ami-07c92c5d4af6e1b6a

Jenkins job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/5

[2022-04-06 13:53] eliransin commented on #9331
@aleksbykov would you please help me to analyze the above test? (https://github.com/scylladb/scylla/issues/9331#issuecomment-1088569469)
I have no idea if this failure is known or not.

[2022-04-06 15:19] eliransin commented on #10146
a41975983 (HEAD) compaction_manager: get_compactions: get a table* parameter
test_id: 441fc6ba-5808-4a7e-b30f-6a09bc49ee69
ami:
eu-west-1: ami-0bad429569acb7528
us-east-1: ami-09b95194b7bf29974
Jenkins job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/6/

[2022-04-06 16:15] bhalevy opened #10339 "storage_proxy causes a ReadFailure when replica times out"
Seen in https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/1169/testReport/auth_test/TestAuth/test_kill_the_node_with_the_auth_info/
and https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/1169/testReport/auth_test/TestAuth/test_kill_one_of_the_nodes_with_the_auth_info/

Testing scylla cfe04e6437f09defce0d3acd775ac5b81b2597f4

[code]

The `cassandra.ReadFailure` is appar

[2022-04-06 17:24] aleksbykov commented on #9331
@eliransin

There are a lot of reactor stalls and new warning/ error messages. Also i found another coredump:
[code]

[2022-04-06 17:25] aleksbykov commented on #9331
If you need nodes, cluster is still alive.
[code]
if you don't need it, ping me, i will terminate them

[2022-04-06 17:27] aleksbykov commented on #9331
here is also some reacto stalls :
[code]

if you need more info, ping me

[2022-04-06 17:27] aleksbykov commented on #9331
@eliransin , also you can find db logs: https://cloudius-jenkins-test.s3.amazonaws.com/d367e2c2-6dda-4da3-a48b-0c567ea9d6b5/20220406_032512/db-cluster-d367e2c2.tar.gz

[2022-04-06 17:41] #10324 closed

[2022-04-06 18:56] ilya-rarov opened #10340 "Memtable metrics are always equal to 0 in the table system.runtime_info"
*Installation details*
Scylla version (or git commit hash):

- `5.0.rc1-0.20220206.891990ec0` (build-id: `20d9fa2c6020017f4afdc4941c0cca9c9a29d94a`)
- `5.0.rc2-0.20220316.839d9ef41` (build-id: `1319e7e64335b7e5c7531f773e92ef997b6c51ba`)
- `5.1.dev-0.20220303.0544973b15dd` (build-id: `3b69cb8b4d61d8190175613119fcc982a0b5eddb`)

There is the new virtual table `system.runtime_info` introduced in comm

[2022-04-07 07:13] bhalevy commented on #10307
Ref 16246d1c99e38d0b5562718f16bd066eefbeb202

[2022-04-07 07:20] bhalevy commented on #10307
@denesb do you mean the following call?
https://github.com/scylladb/scylla/blob/18be2e9fafdd682ae6420baba7eb249effac485b/service/storage_proxy.cc#L1869-L1879

[2022-04-07 07:30] bhalevy commented on #10307
For reference, this `freeze` call was there from inception (4ab66de0ae51b19660c7fef76106af2c246633f7)

[2022-04-07 07:45] gleb-cloudius commented on #10339
No, the `return` is not needed there. On the contrary the catch above it should also not have a `return`. The problem is that it turned out that rpc timeout/close errors also inherit from `std::runtime_error` and thus you cannot distinguish them by catching on `std::runtime_error` type.

[2022-04-07 07:47] eliransin commented on #10146
ops: ~85K ops/s
3c721eb22 (HEAD) compaction_manager: make stop_ongoing_compactions public
test_id: c69731b8-0ddb-4382-8a1f-2681e0c6a9e7
ami:
eu-west-1: ami-0c1433d13a1e1e5e3
us-east-1: ami-0a54486b4fd8ca4c8

Jenkins job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/7/

![image](https://user-images.githubusercont

[2022-04-07 08:01] bhalevy commented on #10307
Note that we do need to freeze the mutation at least for `commitlog_entry_writer` in `database::do_apply`.
I think that other than that we can pass a `const mutation&` around instead of a `const frozen_mutation&`.
So even if we'll need to freeze it for writing the commitlog entry it would still be worth passing a `mutation&` down to `table::apply` (via `apply_in_memory`) and `table::push_view_repl

[2022-04-07 08:13] slivne commented on #10338
@soyacz to try and reproduce

Can you pleas provide the full schema

and also provide the nodetool status

if there is a dtest reproducing this (can you please reference it - even if its a pull request)

[2022-04-07 08:15] nyh commented on #10327
You're right. I guess the worst (and very improbable) case is something like: you have 256 shards. Set the data up so that the first 128 shards have nothing, and the next ones have 0.9MB each. Now scan. The scan will try 1 shard and find nothing. Then 2 and find nothing, 4 nothing,... then, finally will try 128 shards in parallel and each will return 0.9MB, for a total of 115 MB that the coordinat

[2022-04-07 08:26] asias commented on #10338
I already looked at this issue and asked @soyacz  to create this issue. The snitch returned wrong dc name.

[code]

[2022-04-07 08:50] eliransin commented on #10146
4affa801a (HEAD) table: disable_auto_compaction: stop ongoing compactions
test_id: c6a5eb22-2395-472d-8543-448060e02c39
ami:
eu-west-1: ami-0d8e34ece95d0909a
us-east-1: ami-05a0ef46e31bc38b2

Jenkins job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/8/

[2022-04-07 09:05] slivne commented on #10270
@avikivity lets backport this to 4.6, 5.0 as well

[2022-04-07 09:14] avikivity commented on #10270
Backported to 4.6, 5.0. 4.5 not vulnerable.

[2022-04-07 10:00] denesb commented on #10307
Yes, that is the one. I think we should pass in something like this:
[code]

[2022-04-07 10:24] eliransin commented on #10146
git bisect start
# bad: [d3abff9ea1ce6250a65853ea837925cb5155f4b8] test/alternator: validate that TagResource needs a Tags parameter
git bisect bad d3abff9ea1ce6250a65853ea837925cb5155f4b8
# good: [44f4ea38c5b70e80dfeb2962d21447b3c53dda49] test: Future-proof reader conversions tests.
git bisect good 44f4ea38c5b70e80dfeb2962d21447b3c53dda49
# good: [078f69c133c2fe1408e86ed81dd70bc559632034] Merge "

[2022-04-07 10:34] bhalevy commented on #10307
I'm working on a RFC that defines a `frozen_mutation_or_mutation_wrapper` that can be passed around and will unfreeze a frozen_mutation (and maybe freeze) only when needed.

[2022-04-07 10:34] bhalevy commented on #10307
something along these lines:
[code]

[2022-04-07 11:11] soyacz commented on #10338
It's not an issue - problem was with test - `dc=1` for the new node, but should be `dc="dc2"`.
We use by-index dc reference in SCT, in dtest it's by-name.

[2022-04-07 11:11] #10338 closed

[2022-04-07 11:19] soyacz commented on #10200
5.0 is also suffering from this
## Installation details

Kernel Version: 3.10.0-1160.59.1.el7.x86_64

Scylla version (or git commit hash): `4.6.1-20220328.2309d6b51` with build-id `b82694809fb853b33db490da163c0a46561beb4f`

Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-5-0-centos-db-node-94881f87-0-4 (35.231.116.67 | 10.142.0.229) (shards: 8)
- rolling-upgr

[2022-04-07 12:54] syuu1228 commented on #10250
I think it's not because the running order of systemd unit, as @fruch pointed out.
I tried to look into log files, but I couldn't find how it happened.

But it looks like connected to network, since SCT is connected via SSH just 30 secs before "Connection timed out" error:
[code]

[2022-04-07 13:52] soyacz opened #10343 "Data validation failed in gemini-with-nemesis test"
## Installation details

Kernel Version: 5.13.0-1019-aws

Scylla version (or git commit hash): `5.1.dev-20220331.0c3d4091a4e8` with build-id `eb5de93b8ef258ca44d4a246138896090ae47534`

Cluster size: 3 nodes (i3.large)

Scylla Nodes used in this run:
- gemini-with-nemesis-3h-normal-maste-oracle-db-node-967abb63-1 (3.239.186.171 | 10.0.2.88) (shards: 2)
- gemini-with-nemesis-3h-normal-maste-db-node-

[2022-04-07 14:03] horschi commented on #10290
@tgrabiec I was just able to reproduce the issue locally on my PC.

I created another coredump e45ae48d-e5c0-4ab6-a457-e2e2ba45e832 , which should be much cleaner.

Also I was able to identify the query that was producing the issue:

select eventTimeOffset, uid, ou, eventtime from tntindex2  where applicationid=:applicationid and indexid=:indexid and fielddata=:fielddata and eventTimeBucket=:event

[2022-04-07 14:09] juliayakovlev commented on #8706
Running reproducer. Monitor:
http://176.34.67.225:3000/d/cql-master/yulia-longevity-lwt-24h-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1649333456000&to=now&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&var-sct_tags=CassandraStressEvent

Read and write timeouts started during truncate nemesis and continue after the nemesis finished

[2022-04-07 14:48] horschi commented on #10290
I made another coredump with a freshly started scylla, where I only executed the previously mentioned command using CQLSH:
d79b1cb3-86bf-462e-a75b-25d90ce5f01c

[2022-04-07 16:35] JonasHiltl commented on #8458
Same here with docker compose
[code]

[2022-04-07 17:56] eliransin commented on #10146
Here is the cluster of commits and results (chronologically from old to new):
|commit  hash  |         result     |
|:------------------:|:-----------------:|
|078f69c           |  100K-87K    |
|595cc32          | 80K               |
|03755b3         | Didn't run yet |
|3e21fea          |crashed  but also it only changed a test. |
|94eb5c5         |20K                 |

I will run the crashed on

[2022-04-07 19:29] fgelcer commented on #9812
seeing same issue on a master alternator 3h longevity job:

## Installation details

Kernel Version: 5.13.0-1019-aws

Scylla version (or git commit hash): `5.1.dev-20220331.0c3d4091a4e8` with build-id `eb5de93b8ef258ca44d4a246138896090ae47534`

Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- alternator-3h-master-db-node-98c45251-9 (52.17.50.12 | 10.0.2.17) (shards: 14)
- alter

[2022-04-07 19:37] fgelcer commented on #9807
seeing it on LWT 3h longevity job on master:

## Installation details

Kernel Version: 5.13.0-1019-aws

Scylla version (or git commit hash): `5.1.dev-20220331.0c3d4091a4e8` with build-id `eb5de93b8ef258ca44d4a246138896090ae47534`

Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-3h-master-db-node-dc5de061-5 (54.195.181.151 | 10.0.2.97) (shards: 8)
- longevity-lwt-

[2022-04-07 20:08] jm-ds commented on #5831
@asias any update here? This is holding up our production release as we're not able to move our servers. Thank you!

[2022-04-08 00:19] asias commented on #5831
[code]

Did you change the seed of the new node to point to new ip address?

Let say you have the old nodes with ip

o1, o2,  o3, o4, o5

and new nodes with ip

n1, n2, n3, n4, n5

Change the seeds to n1 on all the new nodes. Use a single seed node is enough.

Start n1 first.

[2022-04-08 00:42] asias commented on #10337
Yes, please provide both the full log of the replacing node and two other existing nodes in the cluster.

[2022-04-08 04:39] #10290 closed

[2022-04-08 07:54] avikivity commented on #10290
Backported to 4.6, 5.0. 4.5 not vulnerable.

[2022-04-08 12:27] denesb commented on #10308
AFAIK memtables can consume a fixed % of the shard's memory, once that is filled, writes to them will be blocked until some memory is freed. We have to make sure these blocked writes can time out.
One more thing to consider is blocked flushes on system tables. Compaction can write to system tables during its operation (`large_*` tables, `compaction_history`). If we block writes to those, we might