[2020-01-29 10:48] fruch opened #5674 "[dbuild] Trying to use cache cause configure.py to fail"
Trying to use ccache seem to be failing when using dbuild
[code]

couldn't figured out exactly why

[2020-01-29 11:18] avikivity commented on #5514
Let's pass it as a parameter then, and change the build script to pass this parameter.

[2020-01-29 11:19] yarongilor commented on #5662
a possibly false alarm by SCT events. will verify that first.

[2020-01-29 11:29] roydahan commented on #5661
This bug doesn't have enough details, please elaborate.

[2020-01-29 11:39] gleb-cloudius commented on #5661
This error started to be printed recently when a client closes connection.

[2020-01-29 12:24] yarongilor commented on #5662
it should be determined if reactor stalled of 2 / 3 seconds is acceptable on scylla boot or not.
on this test the 4 stalls happened on scylla boot.
[code]

[2020-01-29 13:32] slivne commented on #5659
@amnonh I don't understand the race condition.

You can't drop a table that has active views/indexes - you are required to remove first the views/indexes and then you can drop the base table.

Is this related to another open issue / failing dtest / unitest ?

[2020-01-29 14:08] amnonh commented on #5659
Yes but then, no.
When removing a table the implementation does parallel for each on the table and its views.
During that time, it's possible that the base table will be deleted first.
It fails https://github.com/scylladb/scylla/issues/5614

[2020-01-29 14:34] fggarcia commented on #5622
Hi @slivne do you have any updates for this?? it's related with issue #5640

[2020-01-29 16:14] tgrabiec commented on #5257
This part is not quite accurate:

We don't really check for a specific workload, but rather try to populate the cache when we can. Currently, it's populated when:
1) the cache already has a complete entry. Then we merge the new entry into the cached entry.
2) or, we don't have an entry but the partition range it falls into is marked as continuous. A range is marked continuous by range scans or whe

[2020-01-29 17:50] justinturpin opened #5675 "Segmentation Fault upgrading from 3.1.2 to 3.2.1"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.1
Cluster size: 3 node
OS (RHE

[2020-01-29 20:09] slivne commented on #5640
@kokizzu
the repo now does not include the rc versions
I think its the local cache
So can you please clear the cache and then try again

[2020-01-29 20:30] fggarcia commented on #5640
Hi @slivne

I also have the same problem.

[code]

[code]

[code]

[2020-01-29 21:14] #5552 closed

[2020-01-29 21:14] #5008 closed

[2020-01-29 21:14] #5066 closed

[2020-01-29 21:14] #5670 closed

[2020-01-29 21:43] dyasny commented on #4080
I am seeing this same message at a customer running 3.2.1 on gentoo:

[code]

The scenario is we have a 3 node cluster, where one of the nodes is being replaced because of sstable corruption, and we're getting this as the node tries to start with the `replace_address_first_boot:` parameter in place

[2020-01-29 23:03] glommer commented on #4080
This should be re-prioritized. Gleb claims this may not be worth fixing, but this is preventing node startup. I am sure users want their nodes up and running.

[2020-01-30 03:11] dyasny commented on #4080
Zendesk ticket: https://supportscylladb.zendesk.com/agent/tickets/1014

[2020-01-30 03:30] dyasny opened #5677 "Conviction threshold failure detector causes nodes in the cluster to flap up/down"
*Installation details*
Scylla version (or git commit hash): 3.2.1-e3e301906
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Gentoo

How to reproduce:

Node comes up without any data, and fails to join the cluster.
To work around that we only the system tables files, so it wouldn't bootstrap/do a node replace
The failure detector fires up causing nodes to flap up and down in a loop, hurting the wh

[2020-01-30 03:31] dyasny commented on #5677
@vladzcloudius @glommer @eyalgutkind this is another of the 3.2.1-gentoo bugs

[2020-01-30 03:36] dyasny opened #5678 "nodetool rebuild fails with no data:"
*Installation details*
Scylla version (or git commit hash): 3.2.1-e3e301906

When running `nodetool rebuild` we see a lot of empty `[]` in the log and nothing happens

Example:
[code]

[2020-01-30 03:36] dyasny commented on #5678
@glommer @vladzcloudius @eyalgutkind this is the last of the 3.2.1-gentoo issues encountered today

[2020-01-30 05:12] gleb-cloudius commented on #4080
On Wed, Jan 29, 2020 at 03:03:51PM -0800, Glauber Costa wrote:

How it it preventing node startup?

--
			Gleb.

[2020-01-30 07:38] bhalevy opened #5679 "Warning: schema version mismatch detected in CqlshSmokeTest.select_all_cl_quorum_test"
Starting https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1566/testReport/junit/cqlsh_tests.cqlsh_tests/CqlshSmokeTest/dtest___select_all_cl_quorum_test/
scylla version f2feeb4b10b13fbfbfc5b9c7cd3b8c87bc5bce21
cqlsh_tests/cqlsh_tests.py:CqlshSmokeTest.select_all_cl_quorum_test became flaky and fails like this:
[code]

I'm not sure why we started getting this warning and if it's

[2020-01-30 08:35] bhalevy commented on #4897
Haven't seen this issue for a long while.
Since it's suspected to be a duplicate of #4176 and now with 9d7048b9c620f5cb98fa2a2ca1772bf68ec9d675 that mitigates the problem, let's close this issue.
and reopen it (or open a new one) if hit again.

[2020-01-30 08:35] #4897 closed

[2020-01-30 09:53] bhalevy commented on #251
In addition to the list above, @tgrabiec also suggested:

@raphaelsc please take it from here.

Please send separate patches for the different stats as you implement and test them and not wait for everything to be accomplished.

[2020-01-30 10:09] slivne commented on #5288
tested - closing

[2020-01-30 10:09] #5288 closed

[2020-01-30 13:52] bhalevy opened #5681 "Cannot create table after failing to create it with too many columns"
scylla version d13492485f1772fc2350b09595ca1fc57e783f8a

This was derived from the limits_test.py:TestLimits.max_columns_and_query_parameters_test dtest when trying to reverse the order for cases, i.e. start from the longest one, that fails as expected, and going down to creating tables with fewer columns, that should succeed.

Python reproducer:
[code]

Test output:
[code]

FWIW, The node log
[no

[2020-01-30 13:54] bhalevy commented on #5681
I noticed that we don't get the second failure if using a different name for the newly created table.

I speculate that scylla doesn't properly recover from the first error (`Mutation of 20621708 bytes is too large for the maximum size of 16777216`) and leaves bad state around that causes the next table creation with the same name to fail.

[2020-01-30 13:56] psarna commented on #4365
I have a half-finished RFC branch, which I'm going to leave here just in case, while I'm busy with higher priorities: https://github.com/psarna/scylla/tree/allow_synchronous_view_updates_for_local_views
The list of todos is listed in the commit message of the last patch.

[2020-01-30 14:12] bublikOff commented on #5663
Any thoughts? The situation with this issue is a bit annoying. Originaly cluster was build on DataStax Cassandra. Then we have moved to ScyllaDB and there was no problems. Later we have made software updates and moved from CentOS to CoreOS. And of course we have installed latest stable version of ScyllaDB and for already more than a month we have this problem.

[2020-01-30 14:36] vladzcloudius commented on #5677
@dyasny Please, add more info:
 * scylla.yaml from all nodes.
 * scylla logs from the node in question when it fails to join with `gossip` logger set to `trace`.

From what I remember from that debugging session it was likely related to having TLS encryption enabled, which was probably making heartbeat longer to arrive arrive.

@asias FYI

[2020-01-30 14:55] gleb-cloudius opened #5682 "writes to local.paxos create small sstables and cause a lot of compaction activity"
*Installation details*
Scylla version (or git commit hash): d13492485f1772fc2350b09595ca1fc57e783f8a

Tables in a local keyspace usually have very limited amount of memory for memtables because not a lot of writes are expected there. Paxos table is different though, it takes a lot of writes from user and should be treated as a user table in this regards,

[2020-01-30 15:04] bhalevy commented on #5672
@xemul please look into this issue.
It looks there's something fishy going on with shutdown...

I just hit another possibly similar issue when running a dtest (`secondary_indexes_test.TestSecondaryIndexes.test_insert_data_after_recreating_cf`) locally
with bhalevy/scylla@606db0d412

[node4.log](https://github.com/scylladb/scylla/files/4134570/system.log):
[code]

[code]

So this comes from:
https:

[2020-01-30 15:07] xemul commented on #5672
@bhalevy , these two look different. The first issue is here:

    Could not initialize seastar:   what():  : Resource temporarily unavailableAborting on shard 0.

this happens eary in app_template::run_deprecated() in case smp::configure fails. While the 2nd one is about "Not an IPv4 address". What makes you think they are related?

[2020-01-30 15:21] dyasny commented on #5677
@vladzcloudius this is a customer issue, I can't submit their specific data in the open. Since this is 3.2.1 it should be reproducible by the QA, I provided the steps to reproduce

[2020-01-30 15:32] xemul commented on #5672
For the record. Logs from 2nd issue:

    INFO  2020-01-30 16:37:19,130 [shard 0] init - Shutting down local storage
    INFO  2020-01-30 16:37:19,130 [shard 0] storage_service - Drain on shutdown: starts
    INFO  2020-01-30 16:37:19,130 [shard 0] storage_service - Stop transport: starts
    INFO  2020-01-30 16:37:21,600 [shard 0] storage_service - Thrift server stopped
    INFO  2020-01-30 16:37

[2020-01-30 15:44] dyasny commented on #4080
@gleb-cloudius these messages are in the log, leading to

[code]

And it just stops.

[2020-01-30 15:50] gleb-cloudius commented on #4080
On Thu, Jan 30, 2020 at 07:44:21AM -0800, Dan Yasny wrote:

What is the full log. Not been able to process stray rpc from another
machine will not cause node to shutdown.

--
			Gleb.

[2020-01-30 16:42] xemul commented on #5672
Scylla build b0d122f9 needs seastar cfc082207cfe8cb832b300fde2a47a5dd1bc8073 which cannot be found in scylladb/seastar repo. What kind of seatar is it? @bhalevy

[2020-01-30 16:46] avikivity commented on #5672
It's a scylla-seastar. Add a remote in seastar/ for https://github.com/scylladb/scylla-seastar.git and fetch it, then git submodule update --recursive in the parent directory should work.

[2020-01-30 17:01] denesb opened #5684 "Move away from using bytes for serialized data"
Currently we use `bytes` to pass around serialized data. This is problematic, because `bytes` erases the information about how something can be interpreted. Mistakes related to using the wrong method to unserialize such values will not be found out until runtime, by way of a crash. In especially unlucky cases this can instead result in silent corruption.

We should move away from bytes and use str

[2020-01-30 17:07] piodul commented on #4712
@slivne

When hint's destination endpoint is no longer its replica, we don't make any assumptions which endpoint should receive it instead, we just sent it to all its current replicas. When issuing a write, if CL is achieved but some of the replicas is unavailable, we store a hint for that replica. If weaker CL than ALL would be used, then we would risk generating more hints for unavailable replic

[2020-01-30 17:14] xemul commented on #5672
Not to forget. According to @bhalevy , the 1st calltrace came to us after upgrading to newer Fedora.

[2020-01-30 17:16] avikivity commented on #4712
If we have a hint for a node which is being range-moved, perhaps we should send to both the old and the new owners, in order to ensure that we end up with the hint applied regardless of whether the range movement succeeded or not.

[2020-01-30 17:16] avikivity commented on #4712
Of course after the range movement succeeds, we lose this information and we'd end up sending to the wrong node.

[2020-01-30 17:20] avikivity commented on #5672
Yes, new fedora -> new docker -> 1024 pids limit in the cgroup -> resource temporarily unavailable when creating a thread. We can file that under environment problems.

[2020-01-30 17:20] avikivity commented on #5672
(was fixed by configuring docker with a ulimited pids)

[2020-01-30 18:29] xemul opened #5685 "test.py seem to lose stderr"
git id: a16cb0071946f6a08d77e26c7eaff092ea375a4e

    $ ./test.py --mode=dev boost/aggregate_fcts_test

     ================================================================================
    [N/TOTAL] TEST                                                 MODE   RESULT
    ------------------------------------------------------------------------------
    [1/1]     boost/aggregate_fcts_test

[2020-01-30 19:18] dekimir commented on #5645
Fixed by #5655

[2020-01-30 19:18] #5645 closed

[2020-01-30 20:18] espindola commented on #5679
Failure at: https://jenkins.scylladb.com/job/scylla-master/job/next/1576/consoleText

[2020-01-30 23:13] vladzcloudius commented on #4712
@piodul I think the current solution (send to all current replicas) is the best because it's the simplest. This way you don't need to calculate what's the new replica and what's not (like in @avikivity example above). The same code works regardless on what's the cluster's current state topology wise.

The impact of all these hints being sent  IS an issue but I believe that this issue is going to b

[2020-01-31 02:22] #5656 closed

[2020-01-31 02:22] #5682 closed

[2020-01-31 02:30] espindola commented on #5656
Should this be backported?

[2020-01-31 04:19] aleksbykov opened #5686 "std::_Nested_exception happened during Drop keyspace with MV/SI after shapshot created"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):666.development-0.20200123.e1b22b6a4

[2020-01-31 06:48] syuu1228 commented on #5514
@avikivity Implemented and tested it, but installing specific version of packages from metapackage dependency didn't work correctly.
apt just tries to install newest packages, then conflict with metapackage dependency.
[code]
I found Q&A about "resolving a dependency on a fixed version", seems like the answer is it just not possible:
https://unix.stackexchange.com/questions/350192/apt-get-not-prop

[2020-01-31 08:39] xemul opened #5687 "Re-build produces broken tests (at least)"
This is reproduced on master being 985e00efa651bcb83cb9ae52cdd8251aa6cbd19f

    rm -rf build
    git checkout 36d90e637e296246db204b27161bf00b29117f4a
    git submodule update --init --recursive
    ninja dev
    git checkout master
    git submodule update --init --recursive
    ninja dev
    ./test.py  --mode=dev

The result is

    Summary: 66 of the total 113 tests failed

If you re-run tests

[2020-01-31 08:43] xemul commented on #5687
BTW, if you try the same with e09ed81c2301ac12ce02ca3286b33be838819614 (then go to master @ 985e00e) re-build works OK

[2020-01-31 08:47] xemul commented on #5687
Some info from @denesb :

[2020-01-31 08:48] bhalevy commented on #5687
Any meaningful changes in configure.py between the two commits?
Or maybe in the seastar cmake level?

[2020-01-31 08:51] xemul commented on #5687
The configure.py is changed significantly

$ git shortlog 36d90e637e296246db204b27161bf00b29117f4a..985e00e configure.py
Avi Kivity (3):
      Merge "Make the scylla build deterministic" from Rafael
      Merge "Improve the accuracy of reader memory tracking" from Botond
      Merge "Remove deprecated partitioners #5636" from Piotr

Botond Dénes (1):
      configure.py: enable alloc failure inject

[2020-01-31 08:51] denesb commented on #5687
I found this very strange because we build seatar out-of-source, inside the scylla build directory for the current mode, e.g. `build/dev/seastar` for dev mode. In theory, no state should be store inside the seastar source dir.

[2020-01-31 08:56] xemul commented on #5687
UPD, since the e09ed81 -> master update seem to work OK, the "bad change" is likely one of

$ git shortlog 36d90e637e296246db204b27161bf00b29117f4a..e09ed81 configure.py
Avi Kivity (1):
      Merge "Make the scylla build deterministic" from Rafael

Botond Dénes (1):
      configure.py: enable alloc failure injection for dev and debug modes

Konstantin Osipov (1):
      test.py: always build cql_re

[2020-01-31 09:33] xemul commented on #5687
Same is on debug builds.

    WARNING: debug mode. Not for benchmarking or production
    WARN  2020-01-31 12:33:00,047 seastar - Seastar compiled with default allocator, heap profiler not supported
    WARN  2020-01-31 12:33:00,048 seastar - Seastar compiled with default allocator, heap profiler not supported
    random-seed=265999504
    Running 3 test cases...
    ESC[1;34;49mEntering test modu

[2020-01-31 09:34] xemul commented on #5687
AddressSanitizer:DEADLYSIGNAL
    =================================================================
    ==584418==ERROR: AddressSanitizer: SEGV on unknown address 0x0000087b336c (pc
    0x00000044f708 bp 0x7efd163783e0 sp 0x7efd16378360 T1)
    ==584418==The signal is caused by a WRITE memory access.
    #0 0x44f707  (/home/xemul/src/scylla/build/debug/test/boost/virtual_reader_test+0x44f707)

[2020-01-31 10:36] kbr- commented on #5687
@xemul are you using ccache?
I also get test errors after rebuilding sometimes, and my hypothesis is that ccache sucks and has a lot of hash collisions, so it uses the wrong object files sometimes.
`rm -rf build/` + `CCACHE_RECACHE=true ninja -j40 dev` always works for me.

[2020-01-31 12:31] kbr- opened #5688 "CDC: TTL is not set on log table columns"
[code]
one second later...
[code]

hmm...
[code]
that explains it.

in cdc.cc, `transform`, `process_cells`:
[code]
TTL is not set on these cells. The wrong version of `atomic_cell::make_live` is called.

By the way, this:
[code]
doesn't do anything. `default_time_to_live` is used in `update_parameters::make_cell`, which is used (indirectly) by `update_statement`. But we don't use `update_statemen

[2020-01-31 12:38] kbr- opened #5689 "CDC: unused (unnecessary?) `ttl` column in the log table"
The CDC log table has a mysterious `ttl` column which is never set.

The design doc says:

However, no examples from the doc confirm this. Also:
[code]

looks like my ttl was stored in the `_v` tuple: `(0, 3, 10)`. The `ttl` column was null.

I see three ways to deal with this:
1. someone explains what this column is for
2. we remove this column
3. we change the regular-cdc-log-column type to be a

[2020-01-31 12:39] kbr- commented on #5689
@haaawk @elcallio

[2020-01-31 16:07] haaawk opened #5690 "heat_weighted_load_balancing_cl_QUORUM_test dtest is flaky"
This test sometimes (but not always) fails with

[code]

[2020-01-31 16:11] #4707 closed

[2020-01-31 22:07] espindola commented on #5687
looking

[2020-01-31 23:32] espindola commented on #5687
The problem happens when checking out 0abb4e1742e785cbf1cc25ff7fcf6b79618d7f56. That is an upgrade of seastar and the problem is that seastar is being rebuilt with stack guards enabled, but scylla is not.

I will email a patch shortly.

[2020-02-01 07:29] haaawk commented on #5690
More info can be found here: https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/915/

[2020-02-01 07:30] haaawk commented on #5690
FYI: @penberg @hagitsegev @avikivity @roydahan @fruch

[2020-02-01 07:32] haaawk opened #5691 "secondary_indexes_test.TestLocalIndexes.test_stop_node_during_local_index_build is flaky"
The test sometimes fails with:
[code]

More info can be found here: https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/914/testReport/junit/secondary_indexes_test/TestLocalIndexes/dtest_not_Parallel___test_stop_node_during_local_index_build/

[2020-02-01 07:34] haaawk commented on #5691
FYI: @penberg @hagitsegev @avikivity @roydahan @fruch @nyh @psarna

[2020-02-01 08:14] haaawk opened #5692 "concurrent_schema_changes_test.TestConcurrentSchemaChanges.changes_to_different_nodes_test is flaky"
The test sometimes fails with:
[code]

More info here: https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/914/testReport/junit/concurrent_schema_changes_test/TestConcurrentSchemaChanges/dtest_not_Parallel___changes_to_different_nodes_test/

[2020-02-01 08:15] haaawk commented on #5692
FYI: @penberg @hagitsegev @avikivity @roydahan @fruch

[2020-02-01 08:17] haaawk opened #5693 "concurrent_schema_changes_test.TestConcurrentSchemaChanges.snapshot_test is flaky"
The test sometimes fails with:
[code]

More info here: https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/914/testReport/junit/concurrent_schema_changes_test/TestConcurrentSchemaChanges/dtest_not_Parallel___snapshot_test/

[2020-02-01 08:17] haaawk commented on #5693
FYI: @penberg @hagitsegev @avikivity @roydahan @fruch

[2020-02-01 08:18] haaawk opened #5694 "internode_ssl_test.TestInternodeSSL.putget_with_internode_rack_ssl_with_dc_compression_test is flaky"
The test sometimes fails with:
[code]

More info here: https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/914/testReport/junit/internode_ssl_test/TestInternodeSSL/dtest_not_Parallel___putget_with_internode_rack_ssl_with_dc_compression_test/

[2020-02-01 08:19] haaawk commented on #5694
FYI: @penberg @hagitsegev @avikivity @roydahan @fruch

[2020-02-01 08:20] haaawk opened #5695 "internode_ssl_test.TestInternodeSSL.putget_with_internode_ssl_with_dc_compression_test is flaky"
The test sometimes fails with:
[code]

More info here: https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/914/testReport/junit/internode_ssl_test/TestInternodeSSL/dtest_not_Parallel___putget_with_internode_ssl_with_dc_compression_test/

[2020-02-01 08:20] haaawk commented on #5695
FYI: @penberg @hagitsegev @avikivity @roydahan @fruch

[2020-02-01 11:25] avikivity commented on #4707
Backported to 3.1, 3.2, 3.3.

[2020-02-01 15:42] dekimir commented on #4244
For the record, Cassandra supports mixing single- and multi-column relations.

Cassandra:
[code]

Scylla:
[code]

[2020-02-02 07:20] #5687 closed

[2020-02-02 08:24] nyh opened #5696 "Tests should be cleanly interruptible by control-C"
When running a Scylla unit test, control-C is currently ignored. This is annoying when developing a test, and hoping to interrupt a test that went wrong and taking too long. This is especially true after commit ec5b721db77778f2e74e4ee5c9c493c5be55fd61 where now failing tests which use `eventually()` (used by materialized-views test which can't know when data asynchronously reaches the view) will w

[2020-02-02 08:28] gleb-cloudius commented on #5696
cql_repl ignores ^C as well.

--
			Gleb.

[2020-02-02 09:57] bhalevy commented on #5628
On Fri, 2020-01-31 at 11:26 +0100, @tgrabiec wrote:

[2020-02-02 11:03] slivne commented on #5659
@nyh please review this and approve - you will be asked to review later :)

[2020-02-02 14:12] bhalevy opened #5697 "Timer callback failed: seastar::metrics::double_registration (registering metrics twice for metrics: storage_proxy_coordinator_background_replica_writes_failed_remote_node)"
Seeing this consistently in dtest-debug since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/374

Regression likely to be caused by b783d40aaf8c9057556b506979e5b464f66449c5

In both, https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/374/testReport/cql_tracing_test/TestCqlTracing/tracing_startup_test/
https://jenkins.scylladb.com/view/master/job/

[2020-02-02 18:07] eliransin commented on #5677
@roydahan is the description enough to try and reproduce this?
@dyasny just from @vladzcloudius comment I get the feeling we will need some more information :)

[2020-02-02 18:22] eliransin commented on #5678
@dyasny can we have some more context please? What is the background for this issue? is that happen in conjunction with #4080 style messages?

[2020-02-02 19:24] nyh opened #5698 "alternator: BatchWriteItems should not allow the same item more than once in a batch"
According to the DynamoDB documentation, it is an error to:

We should also test this and report it is an error, because if we allow it in Scylla it will result in unexpected results: the two writes or deletes will have identical timestamps, and which of them wins will look arbitrary and unexpected.

We are missing a test for this, and should write one.

This difference is mentioned in `docs/alter

[2020-02-02 19:52] roydahan commented on #5677
Not really, unless it's related specifically to Gentoo and if so, I don't think it's officially supported.

[2020-02-02 20:35] nyh commented on #5698
I just realized we have this test in the code already, and a test, `test_batch_write_duplicate_write`.
So the comment in altermator.md is outdated.

But the code has a small bug - it keeps a set "used_keys" of primary keys, but  the key of the set should be (schema, primary_key), not just primary key, as it is allowed to write to the same key in different tables in one batch. We need to write a te

[2020-02-02 22:49] nyh commented on #5659
@slivne approve an issue? I'll try to explain this issue in my own words.

First, some background for the problem: As you know, it is not legal in CQL to delete a base table before deleting its materialized views. Nevertheless, Cassandra decided to make it **legal** to delete a base table which still has an index - and in that case the view implementing the index is automatically dropped as well.

[2020-02-03 00:11] asias commented on #5558
Another possibility is that cassandra-stress does not really respect the "Node UP event" correctly.

[2020-02-03 01:32] asias commented on #5677
I am not sure what was the procedure above.

Did you mean start a complete new node to bootstrap but the bootstrap failed? What did you do with the "system table files" trick?

We need to understand why the bootstrap failed first, e.g., as vlad mentioned TLS encryption issue.

[2020-02-03 02:47] asias commented on #5627
Update:

I tried to reproduce with Botond's read validator. I repeated the test (repair_disjoint_row_2nodes_diff_shard_count_test)  30 times and I could not reproduce.
All passed.

[code]

[2020-02-03 06:00] denesb commented on #5627
Have you enabled the read validator? It is not enabled by default.

On Sun, 2020-02-02 at 18:47 -0800, Asias He wrote:

[2020-02-03 06:07] asias commented on #5627
Unfortunately, no. Can you provide the cmd line option to enable? However, the 30 runs passed. So even if the validator was turned on, we would not catch anything.

[2020-02-03 06:24] denesb opened #5699 "sstableupgrade and scrub will skip sstables whose content is fully owned by the node"
`table::cleanup_sstables()` has a check that short circuits the cleanup for sstables that only contains ranges that are owned by the node -- and hence have no data to clean-up. This method however is used not just by *cleanup*, but also by *upgrade* and *scrub*, meaning that the latter two will also skip such sstables, which is undersired.

[2020-02-03 06:51] asias commented on #5627
`--mutation-fragment-stream-validation all:full` sounds good?

[2020-02-03 06:56] denesb commented on #5627
I responded with email but it didn't appear for some reason:

--mutation-fragment-stream-validation 'row_level_repair_reader=all:full'

Yes, we should have seen the failure even without this additional validator.

[2020-02-03 07:00] asias commented on #5627
4 FATAL: Exception during startup, aborting: std::invalid_argument (Invalid value for mutation_fragment_stream_validation: got validation_level full' which is not inside t    he set of known validation levels {none, mutation_fragment_kind_monotonicity, partition_monotonicity, clustering_monotonicity, full})

[2020-02-03 07:06] asias commented on #5627
I tried a bunch of combinations for the validator options, all failed. We really need a concrete example in the help message.

Also,

--mutation-fragment-stream-validation 'row_level_repair_reader=all:full'

is confusing, because the component appeared twice. first `row_level_repair_reader` then `all`.

[2020-02-03 07:23] denesb commented on #5627
Try without the quotes:
[code]
Why are those not stripped by the shell?

`all` refers to the tables for which validation is enabled.

[2020-02-03 07:34] asias commented on #5627
It works now.  Running another set of tests with it enabled.

OK.

[2020-02-03 07:39] slivne commented on #5677
@dyasny / @vladzcloudius please provide logs to allow the people that wrote the code to have a look at what was the issue in the cluster. Its good todo analysis - but it does not remove the need to provide all information.

[2020-02-03 08:19] aleksbykov opened #5700 "Coredump during gemini test with CS: TWCS"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): scylla-666.development-0.20200131.4

[2020-02-03 08:47] bhalevy commented on #5697
Seen also in dtest-release: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/381/testReport/cql_tracing_test/TestCqlTracing/tracing_shutdown_test/

[2020-02-03 08:51] asias commented on #5627
Another 30 runs passed with reader validator enabled.

[2020-02-03 08:52] aleksbykov commented on #5700
Similar coredump happened on another gemini run:
Segmentation:
[code]
Coredump links:
corefile_url=
https://storage.cloud.google.com/upload.scylladb.com/core.scylla.996.e50288302e3842c5a069481fcbd4e45b.5915.1580464400000000/core.scylla.996.e50288302e3842c5a069481fcbd4e45b.5915.1580464400000000.gz

ownload_instructions=
gsutil cp gs://upload.scylladb.com/core.scylla.996.e50288302e3842c5a069481fcbd4

[2020-02-03 09:05] bhalevy opened #5701 "heap-buffer-overflow in do_stop_gossiping"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/376/testReport/bootstrap_test/TestBootstrap/add_node_test/
Scylla version 4839ca849136841b4545931876b1345ee09affa1

[node1.log](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/376/artifact/logs-debug.2/1580692394103_bootstrap_test.TestBootstrap.add_node_test/node1.log):
[code]

`gossiper::

[2020-02-03 09:18] bhalevy commented on #5693
Fails consistently this way in dtest-release since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/373/testReport/concurrent_schema_changes_test/TestConcurrentSchemaChanges/snapshot_test/

[2020-02-03 09:26] xemul opened #5702 "API server is not stopped at all"
The api::http_context contains http server for REST API, it's started in main, then it gets populated with routes, but it's not stopped at all. Likely, calling the REST API during shutdown at the right moment could have generated nice coredumps. The most obvious ones would be "foo local is not initialized" assertions from seastar in various places.

[2020-02-03 09:52] bhalevy commented on #5693
According to the node logs, the test starts the cluster with the default flags, without  `wait_for_binary_proto=True`.

Will be fixed with https://github.com/scylladb/scylla-dtest/pull/1284

[2020-02-03 09:54] bhalevy commented on #5690
Fixed with https://github.com/scylladb/scylla-dtest/pull/1278

[2020-02-03 09:54] #5690 closed

[2020-02-03 09:58] bhalevy commented on #5691
Cluster is started in `prepare` with the default flags, and those are unsafe with `NOSE_PROCESSES=1` (as shown in https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/914/consoleText).

Should be fixed with https://github.com/scylladb/scylla-dtest/pull/1284

[2020-02-03 09:58] bhalevy commented on #5692
Cluster is started with the default flags, and those are unsafe with `NOSE_PROCESSES=1` (as shown in https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/914/consoleText).

Should be fixed with https://github.com/scylladb/scylla-dtest/pull/1284

[2020-02-03 10:26] #5667 closed

[2020-02-03 10:29] kbr- commented on #5695
This test sets up 6 nodes very quickly in parallel, and these nodes can't reach schema agreement for some reason:
https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/914/artifact/logs-dev.2/1580514011127_internode_ssl_test.TestInternodeSSL.putget_with_internode_ssl_with_dc_compression_test/node1.log
a lot of "Requesting schema pull" messages.

My hypothesis is that pre

[2020-02-03 10:34] bhalevy commented on #5694
the nodes did not synchronize their schema's correctly as they were started in parallel.
Should be solved by https://github.com/scylladb/scylla-ccm/pull/216 (2bc2c25e172d47bf419a2058a34f1fda9b1cdd9c)

[2020-02-03 10:35] bhalevy commented on #5695
The nodes did not synchronize their schema's correctly as they were started in parallel.
Should be solved by https://github.com/scylladb/scylla-ccm/pull/216 (2bc2c25e172d47bf419a2058a34f1fda9b1cdd9c)

[2020-02-03 10:43] nyh opened #5703 "alternator: forward LWT write to the right node"
@eliransin noted an inefficiency because Alternator does LWT on a random node, which doesn't necessarily own the item being operated on:

Consider that a RMW (read-modify-write) request arrives on a node A, which doesn't have the required item, while node B (and two more) do. In the current code, A runs the LWT request: It fetches the full item from B (because the condition will be checked on the

[2020-02-03 12:48] kbr- opened #5704 "CDC: log entries store reduntant information"
Given a static or regular column of type `base_type` in the base table, the corresponding column in the log table is of type
[code]
However, the `tinyint` (first tuple element) doesn't add any additional information. Suppose `v` is a value in such a column. Then for delta rows `v[0]` can be computed as follows:
[code]
for preimage rows it's even simpler:
[code]

in particular, the `add` op, define

[2020-02-03 12:55] nyh commented on #3466
Fixed by @xemul in commit e0f40ed16aa4efa5892dfa9025b0dc20adbd60c2
He added an option called "--workdir" similar to the "--home" I suggested above.
The command in the README.md is now:
[code]

[2020-02-03 12:55] #3466 closed

[2020-02-03 13:20] slivne commented on #5652
@asias can you help why did manager get this error/response ...

[2020-02-03 13:34] mmatczuk opened #5707 "Scylla Helper Slice: Memory accounting based on percent does not work"
*Installation details*
Scylla Enterprise 2019.1.4
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Scylla Cloud

*Hardware details (for performance issues)*
T2.MICRO

If I deploy scylla-helper.slice with percent based `MemoryLimit` the limit is not applied and one can see

Here for

[code]

Should be sth like 100M

[code]

If set to

[code]

We have

[code]

That is exactly what is expected.

[2020-02-03 13:35] ShlomiBalalis commented on #5700
It seems that another similar segmentation fault occurred in a run of gemini-10h:

## Backtrace:
[code]

## Coredump:
[code]

Monitor:
http://34.254.201.80:3000/

Monitor snapshot:
https://snapshot.raintank.io/dashboard/snapshot/NwtYs04ePmrru2kt8cPfS5BlBvuT4SnC

[2020-02-03 13:36] haaawk commented on #5704
It was meant to be used for collections. @elcallio do you still think it will be useful?

[2020-02-03 13:57] dyasny commented on #5677
@slivne I'm asking for these logs since we ran into the issue, but the customer is busy taking things into production and hasn't been able to provide them yet. I'll post them as soon as I have them

[2020-02-03 13:58] dyasny commented on #5678
@eliransin yes, exactly. These two bugs are part of a series

[2020-02-03 14:07] elcallio commented on #5704
If we want delta handling of non-atomics, yes. Otherwise we're back to storing a computed full value.
Though, technically, we could probably move to just having the op part for collections.

[2020-02-03 14:17] kbr- commented on #5704
If we want a consistent log which could then (in theory) be used for replication / replaying a sequence of writes starting from some snapshot with the same final result, we can't "compute a full value" (presumably by querying the database): we must use the mutation that the write generated.

And for non-atomics, in the case of an UPSERT, the mutation only gives us a (key, value) pair + liveness in

[2020-02-03 14:32] elcallio commented on #5704
As you might recall, the consensus for non-atomics seems to be to store "nice" updates for the good collections, i.e. set and map, and fall back to ugly deltas for lists (i.e. store as map<timeuuid, value>).
For UDT:s we're f**ked and can mroe or less only fall back to synthesizing a full UDT value using preimage data, unless we create some horrible mega-tuple monster of flags + values representin

[2020-02-03 14:35] kbr- commented on #5704
That's a pretty nice delta!
If we add the possibility for the user to specify the timeuuid for CQL list updates (or maybe we already have it), this will allow replaying.

Why not store exactly the thing that the mutation gives us, i.e. `map<field index, value>`?

[2020-02-03 14:39] kbr- commented on #5704
Ok, different types

[2020-02-03 14:40] elcallio commented on #5704
Nice as in "we can reconstruct". Ugly as in "reader must reconstruct".

The storage/cql rep for UDT is actually a vector<value>, where index in vector is determined by the field index. We cannot use this as deltas, because in the case of a field delete for example, which would be 1 = null (set field 1 to null), we only know about this field. So to deliver a frozen version of the UDT we'd have to w

[2020-02-03 14:49] kbr- commented on #5704
Could we use a non-frozen UDT for that? Assuming we're able to get rid of the outer 3-tuple, we can make the column non-frozen.

We could also implement "non-frozen tuples" and use them... all required mechanisms are already there, we just need to add the frontend. Then "set first field to null" would be representable.

If not, maybe the "mega-tuple monster" is the best alternative. And it's not s

[2020-02-03 15:29] slivne commented on #5640
@penberg did a user report a workaround for this issue ?

[2020-02-03 15:59] piodul commented on #4712
I'll try re-running the test with the patch from #5668. @bentsi, this was a longevity test, right? Do you remember which configuration was used here?

[2020-02-03 16:49] espindola commented on #5667
I think that this should be backported to 3.3. I have just email a patch that does that.

[2020-02-03 17:03] bentsi commented on #4712
@piodul Test YAML was something similar to: `test-cases/longevity/longevity-2TB-4days-authorization-and-tls-ssl-1dis-2nondis-nemesis.yaml`, but this scenario is very complex, it runs multiple random nemesis in parallel. I suggest to use this scenario with one relevant Nemesis only (terminate and replace).
To achieve this you will need to create your conf YAML based on the above and change `nemesis

[2020-02-03 17:10] yarongilor opened #5708 "cql: a restricted column that is not in a select clause returns a wrong value"
Installation details
Scylla version (or git commit hash): 3.2 - Scylla version unstable/branch-3.2:202001092052
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): dtest env

scenario:
[code]
the generated table looks like this:
[code]
in cassandra 3.11.3 it passes OK.
in scylla 3.2 reloc it fails with:
[code]

[2020-02-03 17:59] kbr- opened #5709 "CDC: row deletes are handled incorrectly"
[code]

The first row corresponds to the first insert. There is no preimage because there was no row with `pk = 0, ck = 0` --- good.

But the following two rows, which correspond to the _row delete_
[code]
are wrong?
(note: this is different from `delete v from ks.t where pk = 0 and ck = 0`, which is an update, equivalent to `update ks.t set v = null where pk = 0 and ck = 0`)

1. The `_v` of preim

[2020-02-03 18:06] kbr- commented on #5709
Not recognizing row deletes is one problem (that's why `operation = 1`) but I don't get why preimage was null.

[2020-02-03 18:40] kbr- commented on #5695
@bhalevy
The test is still flaky:
https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/917/
the job hasn't finished running at the time of writing this post, but I already see in the console:
[code]
The job uses scylla-ccm https://github.com/scylladb/scylla-ccm/pull/216/commits/2bc2c25e172d47bf419a2058a34f1fda9b1cdd9c.

I ran both tests 10 times on my laptop and they pa

[2020-02-03 19:32] vladzcloudius commented on #5130
@nyh @psarna I'm not sure I completely understand the last Duarte's comment related to what's needed in order to fix this.

Can't we simply send the corresponding MV replica update after the write to commitlog successfully resolves?

I this issue is still relevant I think we need to give this a priority.

@nyh As for your comment that it would take longer to the view update to become visible - thi

[2020-02-03 20:40] vladzcloudius commented on #4358
@eliransin ping.
What's the status of this?

[2020-02-03 20:45] vladzcloudius commented on #3283
@slivne @eliransin What's the status of this bug?
If we think that it's a non-issue - let's close it.

[2020-02-03 20:45] vladzcloudius commented on #3896
@eliransin ping

[2020-02-03 20:47] vladzcloudius commented on #4127
@nyh @eliransin ping

[2020-02-03 20:49] vladzcloudius commented on #4249
@veramine ping

[2020-02-03 20:50] veramine commented on #4249
We haven't seen any crashes in months.  Should be fine to close.  Thanks.

[2020-02-03 20:50] vladzcloudius commented on #4299
@bhalevy @slivne Can we close this for now? If we hit this again we can always reopen/create a new one.

[2020-02-03 21:27] ManManson opened #5710 "lwt: bind marker (tuple with NULL value) not working as expected in LWT update query"
*Installation details*
Scylla version (or git commit hash): a74a82d4d245d75311c19d0d8fba404d5d75937e

The following test case fails for Scylla and executes successfully for the latest available Cassandra (3.11.5):

[code]

The test also available [there](https://github.com/scylladb/scylla-dtest/pull/1286/files#diff-f970bd5d59bce8c5c4fc15bbeecd80ecR61).

Failing test output for Scylla:
[code]

The

[2020-02-04 00:10] PleasingFungus commented on #5592
I reproduced this behavior again, or something quite similar. Running a test on a 3-node cluster (new machines but same configuration as here), I loaded the machines to 80% of /mnt used and then stopped writes.

![Screen Shot 2020-02-03 at 4 09 50 PM](https://user-images.githubusercontent.com/1192475/73701837-ae864180-469f-11ea-8178-6affd2d4eadf.png)

All activity stopped - the logs went absolutel

[2020-02-04 01:14] raphaelsc commented on #5592
nodetool cleanup only focus on sstables that have data which no longer belongs to this node. which compaciton strategy do you use? what's gc grace seconds defined in schema? what's default TTL?
could u please run 'sstablemetadata --gc-grace-seconds whatever <path to sstable>' on sstables you think contains lots of expired data and share their output? the line 'Estimated droppable tombstones:' tell

[2020-02-04 01:58] espindola opened #5711 "Lua: list<varint> and list<decimal> are broken"
Currently any UDF returning list<varint> or list<decimal> will fail to convert a non empty lua list to a cql one.

[2020-02-04 03:06] fggarcia commented on #5622
Hi @slivne

I have two clean instances (1 16.04 - 1 18.04)

Both run exact same script code (differente value for variable: UBUNTU_SCYLLA_REPO xenial or bionic)

For instance 16.04 version. Previously install: apt-transport-https

[code]

output (left ubuntu 16.04 - right ubuntu 18.04)
![image](https://user-images.githubusercontent.com/1306596/73710193-15c4e580-46e2-11ea-96dd-f1ba8cf7cdbc.png)

[2020-02-04 08:16] kostja commented on #5696
Any test which is run by test.py is killed by when you press ctrl-c.
test.py needs to learn how to remove temporary directories created by unit tests, but I don't think it's correct to rely on the test itself to shut down cleanly.
Could you describe in more detail steps you use to reproduce the issue?

Re cql-repl, use ctrl-d please. cql_repl currently does not reset scylla signal handlers (althou

[2020-02-04 09:25] slivne commented on #5627
@bhalevy have you been able to reproduce with dtest on jenkins ?

[2020-02-04 09:27] slivne commented on #5355
@bentsi ping

[2020-02-04 09:31] bentsi commented on #5355
@asias the log is from `ip-172-30-0-99`, so the answer is yes, ifdown ran on `ip-172-30-0-99`
[code]

[2020-02-04 09:57] psarna commented on #5130
Without some kind of view<->base repair sending replicas after the local write will just swap one problem with another - for regular writes, instead of ghost rows there would be rows missing in the view, and in case of writing tombstones we can still end up with ghost rows (e.g. the tombstone is locally applied to commitlog first, but then it doesn't reach view replicas).

I think that Duarte's co

[2020-02-04 10:01] slivne commented on #4924
@gleb-cloudius - help ... we see an rpc-timeout, so while glauber may be correct I can't connect the dots to the error message :)

[2020-02-04 10:10] kbr- commented on #5654
Same issue:
https://github.com/scylladb/scylla/issues/4774

[2020-02-04 10:14] gleb-cloudius commented on #4924
I failed to understand what this bug is about. The initial report has
this unfounded expectation that cqlsh's request-timeout parameter has
something to do with timeouting requests inside a server. It does not.
It configures client's timeout. Truncate timeout is configured by
truncate_request_timeout_in_ms in scylla.yaml and it defaults to 10
seconds.

So as far as I am concerned there are two iss

[2020-02-04 10:25] eliransin commented on #4358
@vladzcloudius We still haven't started this. But take into account that this issue states that the
internal writes are delayed as normal writes. This is what you wanted to validate (as the correct \
behavior). This issue actually states that what we wanted to validate as the correct behavior is in
fact a bug. But to your question we still haven't started this one, I will update when we do.

[2020-02-04 10:25] bhalevy opened #5714 "Moving sstables from staging should be atomic/idempotent"
Since 3.1 sstables are moved from the staging directory to the table base directory by the view builder, and the operation may be retried when scylla starts and populated the keyspace (de43b4f41d).

Since the move operation is not atomic and not idempotent, retrying it may fail as that target links may exist.

We can roll back the move on startup if the temporary TOC component still exists, meanin

[2020-02-04 10:27] avikivity commented on #5654
Closing as duplicate of #4774.

[2020-02-04 10:27] #5654 closed

[2020-02-04 10:41] bentsi opened #5715 "Entire cluster freezes when traffic limited on one of the nodes"
*Installation details*
Scylla version (or git commit hash): `3.2.1-0.20200122.e3e301906d5`
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0de981ca7f17ae92a` [us-east-1]

When traffic is limited to 707 kbps on _one_ of the nodes, the whole cluster got "frozen" for **10 minutes** (!!!) - total op per/sec dropped from ~60,000 to ~400 op/s at average.

stress commands that ran during the Nemesi

[2020-02-04 10:47] bentsi commented on #5355
Adding more info:
When runnig fullscan (using python driver) during the fault, it fails:
[code]
cassandra-stress commands that are run during the fault
[code]

[2020-02-04 10:52] nyh commented on #5715
What happens after 10 minutes? Did you stop the bandwidth restriction on that one node, or did the throughput miraculously recover despite the continuing bandwidth restriction?

[2020-02-04 11:52] bhalevy commented on #5541
https://jenkins.scylladb.com/view/scylla-3.3/job/scylla-3.3/job/next/19/artifact/output_test_release.txt looks similar to this issue.

@avikivity please consider backporting 27bd3fe

[2020-02-04 12:03] syuu1228 commented on #5640
I tried to reproduce on my local environment, but I couldn't.
And I don't understand why dpkg trying to rename files to *.dpkg-new, I think it should be overwrite..
Maybe depends to apt configuration?
[code]

[2020-02-04 12:07] syuu1228 commented on #5569
@slivne The fix 5627888b7c82745854ae06b9c3b8e69450ce236e does not merged into branch-3.2, so I'm still getting same error on 3.2.1 package:
[code]

[2020-02-04 12:28] avikivity commented on #4774
I think that a lock is fine. It will slow the tests down a little, but we only run on three shards, so there won't be too much contention.

[2020-02-04 12:33] bhalevy commented on #4276
@espindola what's the status of this issue?

[2020-02-04 12:40] denesb commented on #4774
Wouldn't that possibly hide races due to the added synchronization points?

[2020-02-04 12:52] tzach commented on #4276
Dup with https://github.com/scylladb/scylla/issues/5572 ?

[2020-02-04 13:03] slivne commented on #5664
@gleb-cloudius ping

[2020-02-04 13:08] gleb-cloudius commented on #5664
If many shards handle a lot of requests targeting one single shard that single shard can be overwhelmed by a lot of work and OOM. Reasonably limiting service group will prevent this from happening.

[2020-02-04 13:16] slivne commented on #5037
Since this is the "new" syntax and we support the old syntax users can use the old syntax and get the code working

[2020-02-04 13:27] fggarcia commented on #5640
Hi @syuu1228 @penberg @slivne. I can reproduce in last comment in issue #5622 trying to install in 16.04 VS 18.04

[2020-02-04 13:30] nyh opened #5716 "alternator: configuring per-table write isolation-mode using tags"
Alternator current support four modes for how on how to implement write isolation: FORBID_RMW, LWT_ALWAYS, LWT_RMW_ONLY, UNSAFE_RMW.
Currently, the mode is chosen using a global compile-time constant (which currently defaults to LWT_ALWAYS).

Now that we have tag support (#5066), we can use tags on each table to determine the mode to use for all writes to this table.

[2020-02-04 13:34] psarna commented on #5611
Since the support for global tables has 3.x priority, am I correct to assume that in scope of 3.4 it's enough to just code a solution which creates a separate keyspace for each created table, without the elaborate logic for multiple tables with identical names? So that creating table "xyz" will simply result in putting it in an "alternator_xyz" namespace? That solution will not completely solve th

[2020-02-04 13:48] nyh commented on #5611
@psarna yes, I think keyspace alternator_xyz for table xyz will be fine for now (but note that this extra prefix will effect the legal table name), but please take a look on the future plan I wrote above to see if it makes sense, because we want to be forward-looking in our disk format (we don't want to need to "upgrade" tables later because we made a bad choice on how we store them).

[2020-02-04 14:00] psarna commented on #5611
@nyh I'll also investigate if we can get away with a `alternator:` prefix, with `:` being an illegal character in the identifier, similarly to our `:attrs` column. Perhaps if we make sure that Scylla boots properly without detecting `alternator:`-prefixed table names as corrupted, we won't need to delegalize any user table names CQL-side. As for having to put tighter restrictions against the name

[2020-02-04 14:04] nyh commented on #5611
Don't worry about the name length restriction - we already can't support the full 255 because of some "stuff" we add at the end of the directory name (see comments in the code), so perhaps the "alternator_" or "alternator:" prefix won't even reduce it further, or even if it will, it doesn't matter if our limit is 240 or 230 characters. We just need to make sure we handle this restriction correctly

[2020-02-04 14:39] fggarcia commented on #5640
@syuu1228 @penberg @slivne

When install in 16.04 repo was:
[code]

18.04:
[code]

Maybe there are difference between:
https://repositories.scylladb.com/scylla/downloads/scylladb/0dc216cd-c72d-4cd7-bbbe-34ade44727cd/scylla/deb/ubuntu/scylladb-3.2 xenial InRelease

https://s3.amazonaws.com/downloads.scylladb.com/downloads/scylla/deb/ubuntu/scylladb-3.2 bionic InRelease

[2020-02-04 15:24] slivne commented on #5689
keep ttl column and remove it from the tuple.

batch
insert into ks.t (pk, ck, v1) values (1,2,3) using ttl 10;
insert into ks.t (pk, ck, v2) values (1,2,3) using ttl 20;
end batch

this will generate a single mutation for the table but in cdc this will be recorded as multiple rows each with a different _ttl.

[2020-02-04 15:32] bhalevy opened #5717 "Unexpected error shutting down local storage during secondary_indexes_test.TestSecondaryIndexes.test_insert_data_after_recreating_cf"
Seen with secondary_indexes_test.TestSecondaryIndexes.test_insert_data_after_recreating_cf
with bhalevy/scylla@606db0d

[node4.log](https://github.com/scylladb/scylla/files/4134570/system.log):
[code]

[code]

So this comes from:
https://github.com/bhalevy/scylla/blob/606db0d412473f88886feca5876b1f6038be6b69/main.cc#L1105-L1107

Uploaded core dump to http://scratch.scylladb.com/issues/5672/2020013

[2020-02-04 15:34] bhalevy commented on #5717
https://github.com/scylladb/scylla/issues/5672#issuecomment-580309001
@xemul wrote:

For the record. Logs from 2nd issue:
[code]
The exception in question happens in seastar:
[code]

[2020-02-04 15:34] slivne commented on #5704
not a bug ....

[2020-02-04 15:34] bhalevy commented on #5672
Closing this issue then.

[2020-02-04 15:34] #5672 closed

[2020-02-04 16:36] vladzcloudius commented on #5130
@psarna What if write to the base fails? What if there is nothing to repair in the base?

I agree that we need a view repair. However we don't have it and when we have it's going to be a very heavy operation.

The regular base table repair is not going to fix the issue in question in cases when CQL Write to the base failed.

[2020-02-04 16:44] denesb opened #5718 "reader_concurrency_semaphore: admit new reads only when all current ones are stalled on I/O"
From @avikivity:

the cpu to someone else.

reader. It's better to let the unstalled reader to make as much progress as it can, since that both reduces transient memory usage, and also increases the accuracy of memory tracking since it will call consume() as it allocates more resources. Having unstalled readers compete for CPU
just makes everyone slower and consumes more memory.

[2020-02-04 16:44] denesb commented on #5718
Refs: #4077.

[2020-02-04 16:50] kbr- opened #5719 "CDC: batch write mutations should (sometimes?) be split"
[code]

clearly in the above example two entries should've appeared in the log, because two different timestamps were used on separate cells. Information about `v2`'s timestamp was lost.

However it is perhaps worthy to discuss whether we should split in the following example, where we write to the same cell:
[code]
_can_ we even split? I'd guess that the information about
[code]
was completely lo

[2020-02-04 16:51] kbr- commented on #5719
@haaawk @elcallio @avikivity
let's discuss

[2020-02-04 16:53] bentsi commented on #1700
Yes: https://jenkins.scylladb.com/job/scylla-master/job/python-driver-matrix-test/263/testReport/version_3.9.0_v3_tests.integration.standard.test_query_paging/QueryPagingTests/test_paging_state/

[2020-02-04 17:00] gleb-cloudius commented on #5719
What do you mean by "split"? You cannot split a batch because it has to
be applied atomically (if all entires modify the same key).

--
			Gleb.

[2020-02-04 17:06] kbr- commented on #5719
The following:
[code]
internally creates a vector of two mutations (notice I used a different clustering key).

But the following:
[code]
internally creates a singleton vector (because the primary key is the same in both inserts).

CDC works by taking the vector of mutations and basically performing a `transform` on this vector. Each base mutation generates an extra (CDC log) mutation.

However fo

[2020-02-04 17:18] juliayakovlev commented on #5610
@slivne
I reproduced this problem with Scylla 3.2.0-0.20200115.f9b11c9b30
Please, let me know, if the error was catch in the tcpdump file.

Files named as:  ```decoding_error_pcap_<partition id>_<db node IP>.pcap```

Error on partition 261:
[code]
download dumps from 5 nodes: ```gsutil cp gs://upload.scylladb.com/261/tcpdumps .``

Error on partition 279:
[code]

download dumps from 5 nodes: ```gsu

[2020-02-04 17:55] espindola commented on #4276
I think it is a dup of 5572, unless we want this issue to track having a better error message on the short term.

[2020-02-04 17:56] PleasingFungus commented on #5592
All settings are [the same as above](https://github.com/scylladb/scylla/issues/5592#issuecomment-576919121):
`    AND compaction = {'class': 'TimeWindowCompactionStrategy', 'compaction_window_size': '240', 'compaction_window_unit': 'MINUTES', 'tombstone_threshold': '0.2'}`

`    AND gc_grace_seconds = 0`

`    AND default_time_to_live = 86400`

(for the table that I expect to have expired data - s

[2020-02-04 20:44] vladzcloudius commented on #4358
@eliransin I think the issue is not in a contradiction with my other request: the issue is talking about view updates and view hints while I was talking about base table hints.

Regular and view hints are not the same to begin with - they have different context and maybe we need to treated differently, including what this issue is talking about.

More importantly this issue is mainly not about vie

[2020-02-04 21:22] slivne commented on #5686
@amnonh - you are handling something related to snapshot / drop keyspace - does this ring a bell ? is it a known issue (if so please link this to the other issue)

[2020-02-04 21:26] slivne commented on #5675
for the upgrade was the upgraded node drained successfully and stopped prior to the upgrade.

Can you please provide full logs from the shutdown prior to the upgarde and the boot after the upgrade

[2020-02-04 21:55] #5644 closed

[2020-02-04 21:55] #5671 closed

[2020-02-04 21:55] #5639 closed

[2020-02-04 21:55] #5701 closed

[2020-02-05 01:03] asias commented on #5355
I chatted with @bentsi .

To summary:
1) It is normal and expected to see the node ip-172-30-0-99 marks all the other nodes as DOWN. Because ifdown was run on node ip-172-30-0-99, it lost connections to other nodes, so other nodes could not update their status. So node ip-172-30-0-99 would mark all the other nodes as DOWN.

2) The previous test I did below explains the sharp QPS drop which is due

[2020-02-05 01:23] tomer-sandler commented on #2296
A Scylla customer just hit this issue using Scylla Enterprise 2019.1, we should have it documented and ask to refrain from creating users without passwords. @tzach @lauranovich
Doc issue: https://github.com/scylladb/scylla-docs/issues/2410

[2020-02-05 04:54] #5637 closed

[2020-02-05 04:54] #5711 closed

[2020-02-05 06:29] nyh commented on #5686
@slivne yes, Amnon is handling this issue exactly, and already proposed a PR https://github.com/scylladb/scylla/pull/5713 - but now there's a discussion maybe the proper solution should be different. This PR doesn't refer to any issue (@amnonh, it should) so I don't know if there's already another open issue for it.

[2020-02-05 07:24] amnonh commented on #5686
Same as #5614

[2020-02-05 07:48] denesb commented on #5659
On Sun, 2020-02-02 at 14:49 -0800, nyh wrote:

Why not have an enum instead of a dozen bools?
What is true, however, is that "view_info" actually comes from separate data stored on disk, not from the base table. However, I believe not all of it does. We have a method initialize_base_dependent_fields() which if I remember correctly (@amnonh please investigate) adds to view_info another piece of inf

[2020-02-05 08:18] amnonh commented on #5659
I actually started with an enum implementation, realized that I'll get the same comment this way or the other and just stash it locally, so I can send it with the next version.

[2020-02-05 09:05] denesb commented on #5696
Support for Control-C has to be added to seastar test library.

[2020-02-05 09:23] psarna commented on #5653
note: some references of `alternator: use LWT timestamp - in BatchWriteItems too` that are allegedly pushed by me appeared here, but they're just the result of a rebase of another series, please disregard them.

[2020-02-05 09:30] nyh commented on #5696
@kostja I don't use test.py to run an individual test, I just run it manually. While I can imagine how you could have test.py catch SIGINT in test.py and pass a SIGKILL to the test instead (I didn't know you did it!), I think it is a mistake for several reasons: First, as we do all too often in Scylla, again we are hiding a problem in one layer (the test executable) by building another layer on to

[2020-02-05 09:32] bhalevy commented on #4918
Hit with `3.3.rc0-0.20200204.00b3f281995` 00b3f281995
build-id: 1616fb8088688b2ae3ca897a2486740cbfb5204f
https://jenkins.scylladb.com/view/scylla-3.3/job/scylla-3.3/job/dtest-release/10/artifact/logs-release.2/1580837245451_read_amplification_test.ReadAmplificationTest.no_read_amplification_on_repair_with_mv_test/node4.log
[code]

Core is here: https://jenkins.scylladb.com/view/scylla-3.3/job/scyl

[2020-02-05 09:32] lseelenbinder opened #5722 "Nodetool status does not properly indicate status in an IPv6 cluster."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): `3.2.1-0.20200122.e3e301906d5-1`
C

[2020-02-05 09:44] penberg commented on #5622
The version number of 3.2-rc3 is wrong on Debian/Ubuntu packages. "apt" thinks it's a more recent version than 3.2.0 final. We fixed this in https://github.com/scylladb/scylla/commit/dd81fd3454230a4ca5a2e068f1b26abdaccc0da3 and removed the broken packages from downloads. If you are running 3.2-rc3, you need to downgrade from "apt" prespective to 3.2.0.

[2020-02-05 09:48] penberg commented on #5640
@fgelcer If you mean the repository URLs, they are the same repository. The first one is generated via the web page download form, and it delegates to the second one.

[2020-02-05 10:34] kbr- opened #5723 "CDC: inserts and updates should be different operations"
Because they have different effects. CDC log's "operation" column should provide that information.
(and until yesterday I thought insert and update is the same thing, "upsert"...)

[code]

the difference is that `insert` _inserts a live row marker_. `update` doesn't touch the row marker at all.

By the way: `update` with setting a column to `null` is the same as a _column delete_:
[code]
is the sa

[2020-02-05 11:29] elcallio commented on #5723
Something is broken with your update. CQL docs clearly says "UPDATE is an upsert operation. If a matching row does not exist it is created". And that is what happens when I do a similar update.

[2020-02-05 11:32] kbr- commented on #5723
CQL docs are not 100% accurate.

Similar in what sense? Did you also set a `null`?

[2020-02-05 11:40] elcallio commented on #5723
Ah, sorry, missed the null part. Indeed. But can we distinguish these on a mutation level?

[2020-02-05 11:42] fggarcia commented on #5622
@penberg as I said in my last comment is this issue. I try to install 3.2.x in a clean instance. No previous instalation. One instance 16.04 another instance 18.04.

[2020-02-05 11:42] kbr- commented on #5723
Yes, by looking at the row marker:
1. `update` doesn't touch the row marker (it won't be present in the mutation)
2. `insert` inserts a live row marker
3. bonus: row delete (`delete from t ...`) inserts a dead row marker

[2020-02-05 11:48] kbr- commented on #5723
Proof: I added in cdc/log.cc `transform`:
[code]

Then:
[code]
gives in Scylla's logs:
[code]

but
[code]
gives
[code]

[2020-02-05 11:48] SiddhantSawant commented on #3968
faced it again on 3.2.1-0.20200122.e3e301906d5

# scylla_setup  --setup-nic-and-disks --nic=eth0 --no-ntp-setup --no-raid-setup --no-node-exporter
Please select a NIC from the following list:
['eth0'
....

below if condition needs
if interactive conditons

       if sysconfig_setup:
            set_nic_and_disks = interactive_ask_service('Do you want to enable Network Interface Card (NIC) and disk

[2020-02-05 11:49] fggarcia commented on #5640
Hi @penberg ah Okey. Can you check my last comment in issue #5622 about clean installation in both version of Ubuntu (16.04 - 18.04 included in a picture)?

[2020-02-05 11:50] SiddhantSawant commented on #3908
Non Interactive
faced it again on 3.2.1-0.20200122.e3e301906d5

scylla_setup --setup-nic-and-disks --nic=eth0 --no-ntp-setup --no-raid-setup --no-node-exporter
Please select a NIC from the following list:
['eth0'
....

below if condition needs
if interactive conditons

   if sysconfig_setup:
        set_nic_and_disks = interactive_ask_service('Do you want to enable Network Interface Card (NIC) and

[2020-02-05 12:00] kbr- commented on #5723
About row deletes I wasn't completely precise: `delete from ks.t ...` inserts a _row tombstone_, which kills the row marker (if it wasn't dead already).

[2020-02-05 12:03] kbr- commented on #5709
I updated the problem description with more accurate information

[2020-02-05 12:07] tarzanek opened #5725 "Scylla_setup: still ask for nic in non-interactive mode"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.1
Cluster size:
OS (RHEL/CentO

[2020-02-05 12:08] tarzanek commented on #5725
# scylla_setup  --setup-nic-and-disks --nic=eth0 --no-ntp-setup --no-raid-setup --no-node-exporter
Please select a NIC from the following list:
['eth0', 'veth3a9422c', 'vethbaa4cef', 'docker0', 'veth9c57d7c']

above is in ec2

[2020-02-05 12:08] tarzanek commented on #5725
seems checks are missing in
[code]
and
[code]

[2020-02-05 12:25] penberg commented on #5622
@fggarcia What does the `scylla.list` look like on your failing machine? I can install `scylla` fine using your instructions and the exact URL you provided:

[code]

[2020-02-05 12:51] fggarcia commented on #5622
@penberg this is my scylla.list

ubuntu 16.04

[code]

ubuntu 18.04

[code]

[2020-02-05 13:37] tzach opened #5726 "Expose stats via virtual tables"
When a Scylla User does not have access to the server (for example Scylla Cloud) he still needs the info return by `nodetool cfhistogram`, `cfstats`
One way to consume this information is via metrics.
A  second way is via virtual tables.  See Apache Cassandra reference https://issues.apache.org/jira/browse/CASSANDRA-3527

[2020-02-05 13:43] tzach opened #5727 "Expose toppartitions as CQL table"
https://github.com/scylladb/scylla/issues/2811 expose top (hot) partitions via REST API and nodetool command.
Other similar functions, like large row #3988 and large partitions #4234 are expose via CQL table
It will be useful to align top partitions info to the same method.

[2020-02-05 13:44] tzach commented on #5727
Similar to #5726

[2020-02-05 13:45] tzach commented on #5726
https://issues.apache.org/jira/browse/CASSANDRA-14670

[2020-02-05 13:46] tzach commented on #5726
Cache metrics as virtual table https://issues.apache.org/jira/browse/CASSANDRA-14626

[2020-02-05 14:29] gnumoreno commented on #1117
`https://docs.datastax.com/en/ddac/doc/datastax_enterprise/dbInternals/dbIntConfigConsistency.html`

Maybe this issue should have the "compatibility" labels for c* 3 and 4?

[2020-02-05 14:34] gnumoreno commented on #3968
@SiddhantSawant please include steps to reproduce the problem (I would also advise to open a new issue). Are you running on docker?

[2020-02-05 14:34] tarzanek commented on #3968
@gnumoreno let's track this in https://github.com/scylladb/scylla/issues/5725
3.2 seems to be missing the patches from #3908

[2020-02-05 16:16] kbr- opened #5728 "Range deletions for specific columns do something weird (should be rejected instead)"
Scylla:
[code]

What just happened?

Cassandra:
[code]

[2020-02-05 18:10] raphaelsc commented on #5592
@PleasingFungus That means Scylla thinks that all those sstables are fully expired, but for some unknown reason they are kept around. Could u please run 'nodetool setlogginglevel compaction debug' and observe the log? We can reset schema to trigger compaction attempt, like resetting tombstone_threshold to its previous value. nodetool flush could also help. After that, please share log output.

[2020-02-05 18:32] PleasingFungus commented on #5592
Ran
[code]

on one node. This caused that node to drop the entirety of the impressions1d table - `/mnt/scylla/data/tribute/impressions1d-402827d0447411ea958d000000000006/` is now empty. (This is correct, since that table was expired.)

I then ran

[code]

Which I *believe* is what you meant by "resetting tombstone_threshold to its previous value". This caused the other nodes to also clean themselv

[2020-02-05 18:44] raphaelsc commented on #5592
On Wed, Feb 5, 2020 at 3:32 PM Nicholas Feinberg <notifications@github.com>
wrote:

That's great! BTW, like I said, nodetool cleanup as-is is not about getting
rid of fully expired sstable, but why not given that the operation is only
about deleting sstables?!

I think we also need to make this process automatic. Compaction should take
action whenever a sstable becomes fully expired.

[2020-02-05 18:50] PleasingFungus commented on #5592
I'm a little confused, sorry. Isn't there still a fairly major bug here, in that expired data isn't getting deleted automatically? It's nice that `nodetool flush` will force Scylla to delete that data, but unless you're suggesting I run flush on a tight loop, I don't see how that solves the problem...

[2020-02-05 19:20] raphaelsc commented on #5592
On Wed, Feb 5, 2020 at 3:50 PM Nicholas Feinberg <notifications@github.com>
wrote:

I talked about nodetool cleanup. BTW, the bug is that Scylla waits for a
next compaction attempt to get rid of expired sstables. That should
definitely be fixed. What I suggested was a nice improvement to nodetool
cleanup, which currently only clean up sstables which contain data from
other nodes.

[2020-02-05 19:28] PleasingFungus commented on #5592
Gotcha. I think I understand the issue now. Thanks for following this through!

[2020-02-05 21:53] dorlaor commented on #5168
@raphaelsc @bhalevy please respond to the last question

[2020-02-05 22:01] bentsi commented on #5715
After the Nemesis runs for 10 minutes we stop bandwidth restriction.

[2020-02-06 02:56] jeltok opened #5732 "Cluster freezes with lots of 'Reactor stalled for 2000 ms' exceptions after adding new node"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0.10-0.20190815.b3bfd8c08.el7.x8

[2020-02-06 03:02] asias commented on #5732
I decoded the stall with the binary scylla-debuginfo-3.0.10-0.20190815.b3bfd8c08.el7.x86_64.rpm

$ seastar/scripts/seastar-addr2line   -e  ~/Downloads/issue.slack.add.node/./usr/lib/debug/usr/bin/scylla.debug -f ~/Downloads/issue.slack.add.node/selected.stall.txt

[selected.stall.decode.txt](https://github.com/scylladb/scylla/files/4162989/selected.stall.decode.txt)
[selected.stall.txt](https://gi

[2020-02-06 03:03] asias commented on #5732
Btw, according to the log,  both the bootstrap and decommission were successful.

Node3 added successfully.
[code]

Node3 is removed successfully.
[code]

[2020-02-06 03:16] jeltok commented on #5732
Thanks for the info Asias. That's correct adding and removing of the node was successful, however the whole cluster of 3 nodes stopped receiving reads and writes as soon as 'Reactor stalled for 2000 ms' exception started to appear in logs. It was frozen until I removed that new node, and restarted the other two nodes.

[2020-02-06 08:18] fruch commented on #5732
@asias did you noticed those `oversized allocation`:
[code]

@jeltok  how big are your rows ?

also do you have [scylla-monitoring](https://github.com/scylladb/scylla-monitoring) connected to this setup ? this would help us gain much more insight into what's going on (you know, one picture vs. 1000 word and all that)

[2020-02-06 08:30] asias commented on #5652
The link above

 db-cluster | https://cloudius-jenkins-test.s3.amazonaws.com/aaa5420a-1826-4dea-aeeb-2705e870858e/20200127_111035/db-cluster-aaa5420a.zip |

does not contain scylla db logs.

[code]

[2020-02-06 08:39] denesb commented on #5728
Makes sense as that would need to involve read before delete, as range tombstones cover entire rows. What happened probably is that we created a cell tombstone instead, using the first value for `ck` from the restrictions (which is 0).

[2020-02-06 09:58] piodul commented on #4712
I started a longevity job with configuration adjusted to only use the `NodeTerminateAndReplace` nemesis: [link](https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/byo-longevity-test/42/). I'll update when I observe a nemesis run.

[2020-02-06 10:14] #5589 closed

[2020-02-06 10:21] amoskong opened #5734 "deb: fail to start after rollback to 3.2: Failed to load environment files: No such file or directory"
*Installation details*
Scylla version (or git commit hash):

- old: 3.2.1-0.20200122.e3e301906d5
- new: 3.3.rc0-0.20200204.00b3f281995

Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian 9

### Description:

In rolling upgrade test, we upgrade two nodes first, then rollback the second db node.
The problem occurred after rollback the second node, the node failed to start for an error.

Note: F

[2020-02-06 10:26] yarongilor commented on #5570
All Debian and Ubuntu rolling-upgrade tests are failing for this error after rollback from 3.3 (or master) to 3.2

[2020-02-06 10:27] amoskong commented on #5570
@yarongilor I just reported a new issue (https://github.com/scylladb/scylla/issues/5734) for the problem in upgrade test.

[2020-02-06 10:49] psarna commented on #5716
I see that I forgot to mark the github issue in the commit message, so I'll do this manually: abdbb70ad9458833df312a1f9a5db47d35e7bb02 was queued to next.

[2020-02-06 11:23] kbr- opened #5736 "CDC: open vs closed range deletions should be distinguished"
[code]

There is no way to tell from the CDC log whether we used `ck >= x` or `ck > x` in our range deletion (same for `<`/`<=`).

We could use the `operation` column for that.

We have TODOs in our code:
[code]
they probably should be resolved as soon as possible.

[2020-02-06 12:24] avikivity commented on #5732
Note that 3.0 has reached end-of-life and is no longer supported.

What kind of queries are you sending? From the trace it looks like you are sending complicated queries, but maybe this is the wrong interpretation. Also, are you using prepared statements?

[2020-02-06 12:31] psarna opened #5737 "Drop system_schema.scylla_tables.cdc in favour of the existing schema extension"
While cdc is still experimental, let's use the cdc schema extension (https://github.com/scylladb/scylla/pull/5729) instead of a special column named `cdc` added to `system_schema.scylla_tables`.

The column is fortunately created only if `--experimental cdc` is enabled, so it's still fine to drop it in a backward incompatible way.

Pros:
* CDC-related data will no longer be duplicated in the schem

[2020-02-06 13:06] kbr- opened #5738 "CDC: table truncations don't show up"
[code]

and there's no operation defined for them in cdc/log.hh:
[code]

[2020-02-06 13:10] kbr- commented on #5738
However I'm not sure if it's even possible to make them show up, and if it is, it'll probably require some bigger changes. There is no mutation currently passing through `transform` in cdc when table truncations are performed.

[2020-02-06 13:15] kbr- commented on #5738
Truncates don't generate any mutations. In `truncate_statement::execute` calls `storage_proxy::truncate_blocking`, which iterates over endpoints and calls `messaging_service::send_truncate`, which calls `send_message_timeout`, which uses RPC directly.

Which means that truncate is not an eventually consistent operation! It may reach only a subset of replicas. Then repair might restore the data, or

[2020-02-06 13:20] gleb-cloudius commented on #5738
On Thu, Feb 06, 2020 at 05:15:55AM -0800, Kamil Braun wrote:

Truncation checks that all nodes a alive and fails if some nodes do not
respond. Besides the code leaking rpc error as truncation operation
error I do not see any issues with the code.

--
			Gleb.

[2020-02-06 13:22] kbr- commented on #5738
respond.

This doesn't prevent truncation from reaching only a subset of the nodes.

[2020-02-06 13:24] gleb-cloudius commented on #5738
On Thu, Feb 06, 2020 at 05:22:25AM -0800, Kamil Braun wrote:

This prevent truncation from _succeeding_ if it reaches only subset of the
nodes, in which case an Admin has to retry.

--
			Gleb.

[2020-02-06 13:26] nyh commented on #5738
@kbr- I think that regardless of how reliable "TRUNCATE" is and what happens if it fails, you still need to think what to do if it succeeds.
The easiest option would be not to do anything - you'll just document that TRUNCATE doesn't appear in the CDC log.
The less apologetic option is to add an operation type for it. It will have a timestamp, and will say "delete everything before this timestamp",

[2020-02-06 13:27] kbr- commented on #5738
I don't really agree with this

[2020-02-06 13:28] gleb-cloudius commented on #5738
On Thu, Feb 06, 2020 at 05:27:03AM -0800, Kamil Braun wrote:

You really do not have to.

--
			Gleb.

[2020-02-06 13:29] nyh commented on #5738
@kbr- I'm not a truncate expert, but I can imagine it returns success to the operator only if the truncate operation has completed successfully on all nodes. When the operator doesn't see success, he will retry, so eventually everything will have been truncated.
But in any case, I don't think the scope of the CDC work is to improve the truncate operation. I think you should only think what you wan

[2020-02-06 13:32] kbr- commented on #5738
There's a difference, because partition deletion has a timestamp `T`, and it indeed deletes all and only those mutations that had timestamps `< T`.

Truncation doesn't have a timestamp, it deletes partitions that it sees when it arrives at a particular replica, for each replica independently.
And even if all replicas were in some consistent state (i.e. they all have received the same set of mutati

[2020-02-06 13:40] gleb-cloudius commented on #5738
On Thu, Feb 06, 2020 at 05:32:22AM -0800, Kamil Braun wrote:

Truncation is not defined in terms of "removing all the date before that
timestamp". It is an administrative operation that is deployed when one
wants to get rid of everything and start anew.

--
			Gleb.

[2020-02-06 13:45] kbr- commented on #5738
Indeed! And if we leave truncations as they are, I don't see a way to make them interact with CDC in a sensible way.

However, being an

doesn't prevent us from introducing some kind of mutation or timestamp, right? Aren't `create table`s or `alter table`s administrative operations too? But they do generate mutations, they do have a timestamp. That's what makes eventual schema agreement possible w

[2020-02-06 13:45] nyh commented on #5738
I think you're right - the "delete everything" operation doesn't need a timestamp.
Rather it should just say: "delete everything you have in the database now".
Anything that comes *later* in the CDC log will be new data, and will come after the truncation.

Note that I think we need to write the truncate event to all streams, not just one ... :-( That's a big mess. Maybe it's not worth supporting

[2020-02-06 13:46] kbr- commented on #5738
Yeah, maybe that's the best we can wish for.

[2020-02-06 13:47] nyh commented on #5738
Oops, I spoke too soon. Since each stream is sorted by timestamp, putting the truncate event in a stream in some specific location is the same as specifying a timestamp. We can just use the current time - I think it's good enough. CDC already assumes the timestamp needs to be real time or almost real time - if you backdate mutations, you can confuse CDC, IIRC.

[2020-02-06 13:54] kbr- commented on #5738
That's the clou: you can't, and if you can, it's a bug.
CDC prevents unsafe mutations (it rejects writes it doesn't like). It aims to keep things eventually consistent.

CDC's eventual consistency should allow 100% accurate replication. "Formally": if you have a snapshot of a table consisting of all mutations with timestamps `< T`, and you stop performing writes to this table, then eventually, que

[2020-02-06 13:55] yarongilor opened #5740 "Failed to apply mutation after restart-and-repair: seastar::gate_closed_exception (gate closed)"
Installation details
Scylla version (or git commit hash): 3.3 - Scylla version 666.development-0.20200123.e1b22b6a4c5 with build-id 98f8288b4a56c70373b863b3f012bd7e6a4a45dd
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e0bc3eb9e39a481d eu-west1

scenario:
longevity-large-partition-200k-pks-4days at 2020-02-03 13:03:44.

Test: longevity_large_partition_test.LargePartitionLongevityTest.test_

[2020-02-06 13:56] kbr- commented on #5704
@elcallio please provide an example with collections where we need an additional "tuple element" to distinguish between two different operations.

[2020-02-06 14:53] denesb opened #5741 "reader_concurrency_semaphore::signal() can fail"
It allocates, which can fail, but it is called from `noexcept` environments, like `reader_permit::memory_units::~memory_units()`. Make it noexcept, so that we don't convert `std::bad_alloc` to crash.

[2020-02-06 14:58] denesb commented on #5741
Additionally a failed `signal()` can result reads blocked until they either time out, or a successful signal.

[2020-02-06 15:26] fgelcer opened #5742 "Alternator - reactor stall during compaction"
during a [3h alternator longevity job](https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/fabio/job/alternator-longevity-3h/2), we encountered a stall during a compaction (after a nodetool truncate failed).

[code]

[2020-02-06 15:33] fgelcer commented on #5742
the same apparently happen another time, few hours later (few minutes after repair):

[code]

[2020-02-06 15:36] fgelcer commented on #5742
[code]

[2020-02-06 16:29] ajankovic commented on #5652
This is running old version of the manager `2.0-0.20191219.f65b8944`, and agent logs are missing.

[2020-02-06 16:48] kbr- commented on #5704
Copy-pasting part of the discussion from "Some CDC feedback" thread on scylladb-dev:

@avikivity

[2020-02-06 17:04] avikivity commented on #5704
We already have it: search for SCYLLA_TIMEUUID_LIST_INDEX in cql3/Cql.g. It allows you to write

  UPDATE foo SET bar[timeuuid_list_index(:idx)] = :val WHERE key = ?

Although we don't have similar syntax for the entire list, or for reads, we can add one.

[2020-02-06 18:46] penberg commented on #5622
Please note that the URL you are using is slightly different (UUID is now `0dc216cd-c72d-4cd7-bbbe-34ade44727cd`) than what you reported before (UUID was `e7394a2f-8196-47da-936c-4025b3208940`). That does not explain the problem, though, because I can install Scylla fine with the new URL too on Ubuntu 18.04.

I assume you already tried `apt-get clean` and whatever apt cache purging there are?

[2020-02-06 22:52] #5653 closed

[2020-02-06 23:32] raphaelsc opened #5743 "Don't wait forever to get rid of fully expired sstable"
We don't want to wait for next compaction attempt which happens after a memtable flush for example to get rid of sstables that became fully expired. Otherwise, a table may have lots of fully expired sstables, wasting disk space unnecessarily. A workaround is to run manual operations like major compaction, but we want this to be handled automatically by compaction manager like by setting an alarm c

[2020-02-06 23:34] raphaelsc commented on #5592
@PleasingFungus the bug of fully expired sstables not being handled automatically is now tracked in https://github.com/scylladb/scylla/issues/5743

[2020-02-06 23:34] PleasingFungus commented on #5592
Great, thanks!

[2020-02-07 02:37] jeltok commented on #5732
Thanks everybody! We have upgraded 2 cluster nodes to 3.0.11 and were able to add 3rd node successfully. Next step we will upgrade the whole cluster to 3.1 -> 3.2.
We have Scylla Monitoring connected to the cluster, and that's what was happening when adding the 3rd node:

![Annotation 2020-02-06 195533](https://user-images.githubusercontent.com/1056801/73995764-9de7fc80-4927-11ea-9851-ec6e49104aa3

[2020-02-07 04:20] fruch commented on #5732
Sounds like you on the right path.

Since the old version won't going to get any fixes.
I think you can close this it.

Good luck with the upgrades, would love to hear if things went smoothly

[2020-02-07 07:16] asias commented on #3935
To be clear: we currently do not disable repair on the view tables at all. View table can be repaired just as the normal table.

I am closing this issue to avoid confusing.

[2020-02-07 07:16] #3935 closed

[2020-02-07 07:34] syuu1228 commented on #5734
@amoskong I'll check.

[2020-02-07 08:38] #5741 closed

[2020-02-07 08:38] #5468 closed

[2020-02-07 08:40] denesb commented on #5741
Should be backported to all live branches.

[2020-02-07 09:08] fruch commented on #5026
@nyh, I've encountered a real example that  6672059 is actually helps with
I've was playing with [pynamodb](https://github.com/pynamodb/PynamoDB)
and it does assume having the `KeySchema`
https://github.com/pynamodb/PynamoDB/blob/master/pynamodb/connection/base.py#L101

I was using scylla 3.2.0, hence didn't had that. I guess I should use the latest docker for my this specific experiment

[2020-02-07 11:23] syuu1228 commented on #5734
Seems like rollback 3.3 to 3.2 accidentally removes /etc/systemd/system/scylla-server.service.d/*.conf.
(I did ```apt-get remove scylla\*; apt-get install scylla``` to rollback the package version)
I haven't confirmed it yet but it looks like .postrm script doing wrong, mistakenly removing these conf files.

[code]

[2020-02-07 11:37] piodul opened #5744 "CDC: incorrect handling of static row insert"
Occurs in recent `master` (commit `ff88ff880b7c3a3850279ad6cfa0488275f7d188`)

I inserted a static row into a table with cdc enabled, but no information on that fact appeared in the CDC log table:

[code]

[2020-02-07 12:17] jul-stas opened #5746 "Misleading error from CDC preimage when RF > # of nodes"
Operations on table with `'preimage':'true'` throw `NoHostAvailable` when `replication_factor` is greater than number of nodes. E.g. with a 1-node cluster:
[code]

[2020-02-07 13:20] jul-stas opened #5747 "cdc = {'enabled':true, 'ttl':'-1'} should be forbidden"
Having CDC enabled while allowing CDC log writes with TTL == -1 is self-contradictory. For example, normal writes `USING TTL -1` are forbidden. This behavior should be unified.
[code]

[2020-02-07 13:37] kbr- commented on #5747
you probably meant "and allowing".

[2020-02-07 16:06] #5732 closed

[2020-02-07 19:46] nyh commented on #5716
The aforementioned commit reached the master branch, so we can close this issue.

[2020-02-07 19:46] #5716 closed

[2020-02-07 19:54] nyh commented on #5742
@glommer I think you're the expert on these reactor stalls, can you please give me a few hints how to debug them? The stack trace in the bug report suggests we were doing some simple JSON parsing in an Alternator PutItem request, but I don't understand how this can possibly hang. Could it be that something else hung, and the PutItem request was just the first thing after the hang - or was blamed f

[2020-02-08 07:28] syuu1228 commented on #5734
Seems like dpkg DOES NOT re-install conffiles when it removed by user (or postrm script):
https://superuser.com/questions/1038704/how-does-dpkg-know-that-a-config-file-has-been-deleted
As I mentioned on previous comment, we need stop removing /etc/systemd/system/scylla-server.service.d/*.conf.

[2020-02-08 11:19] haaawk opened #5749 "cql_tracing_test.TestCqlTracing.tracing_shutdown_test is flaky"
The test sometimes fails with:
[code]

More info here: https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/921/testReport/junit/cql_tracing_test/TestCqlTracing/dtest_not_Parallel___tracing_shutdown_test/

BYO run that failed: https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/921/
BYO run that was successful: https://jenkins.scylladb.com/j

[2020-02-08 11:20] haaawk commented on #5749
FYI @penberg @hagitsegev @avikivity @roydahan @fruch

[2020-02-08 14:26] raphaelsc commented on #5661
On Wed, Jan 29, 2020 at 8:39 AM Gleb Natapov <notifications@github.com>
wrote:

bumped into this too, shouldn't we make the message less scary to users?

[2020-02-08 21:21] haaawk opened #5751 "mutation_writer_test is flaky"
The test sometimes fails with:

[code]

[2020-02-08 21:22] haaawk commented on #5751
FYI @penberg @hagitsegev @avikivity @roydahan

[2020-02-09 06:26] bhalevy commented on #5751
Do you have a core dump / backtrace of the failed assertion?

[2020-02-09 06:37] haaawk commented on #5751
Unfortunately not but there are random seeds printed in the log so it should be relatively easy to reproduce.

[2020-02-09 06:50] haaawk commented on #5751
Well I was able to generate a coredump but it's truncated. Do you know how to prevent truncation of the corefile @bhalevy ?

[2020-02-09 07:22] bhalevy opened #5752 "use-after-free in json_stream_builder::add"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/381/testReport/listsnapshots_test/TestNodetoolListSnapshots/test_snapshot_for_several_kses_2/
Scylla version 576f80be74c6c9cef61dd2ab2835d5489d362c8c
[node1.log](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/381/artifact/logs-debug.2/1581200268423_listsnapshots_test.TestNodetoolListSnaps

[2020-02-09 07:32] bhalevy commented on #5752
Most likely introduced by 687e554737cdbb957508bc8fb92b19155209326e
Cc @amnonh

[2020-02-09 08:11] bhalevy commented on #5752
To reproduce: `NOSE_PROCESSES=1 SCYLLA_EXT_OPTS="--smp 2 --memory 1024M" CASSANDRA_DIR=$HOME/<your-path>/scylla/build/debug nosetests -s -v --process-timeout=1800 listsnapshots_test:TestNodetoolListSnapshots.test_snapshot_for_several_kses`

[2020-02-09 08:13] bhalevy commented on #5752
Seen also in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/386/artifact/logs-release.2/1581205738797_nodetool_additional_test.TestNodetool.snapshot_tag_test/
[code]

[2020-02-09 08:23] haaawk commented on #5751
It turned out to be related to my change. Closing.

[2020-02-09 08:23] #5751 closed

[2020-02-09 08:38] avikivity commented on #5741
This isn't a really dangerous bug. It's a small allocation so it should usully succeed, and when it doesn't, the caller will call std::terminate() (afte the patch, signal() will call std::terminate). So the patch is just moving the point-of-call to std::terminate().

[2020-02-09 09:00] avikivity commented on #5752
@bhalevy does reverting that commit fix the issue? If so we'll revert it first and fix it correctly later.

[2020-02-09 09:15] yarongilor commented on #4994
reproduced in version 3.3 on running mv-si longevity:

[code]

[2020-02-09 09:19] bhalevy opened #5753 "scylla_coredump_setup should bind-mount coredump dir on Ubuntu 18.04"
Seen on enterprise release 2019.1.4

systemd-coredump on Ubuntu 18.04 does not work properly when using a symbolic link to replace `/var/lib/systemd/coredump` to `/var/lib/scylla/coredump`.
These lines are printed on the system log:
[code]

This does not happen when using `mount --bind  /var/lib/systemd/coredump /var/lib/systemd/coredump`.

This method can be applied on all linux distros but it re

[2020-02-09 09:24] bhalevy commented on #5753
example /etc/fstab row:
[code]

[2020-02-09 09:25] bhalevy commented on #5753
Cc @penberg @syuu1228

[2020-02-09 09:28] nyh commented on #5037
In commit 576f80b already in master, I added a comprehensive test for this feature and all (I hope) its various sub-cases and corner cases.

[2020-02-09 09:40] bhalevy commented on #5752
@avikivity: @amnonh already has a fix he's testing now.

[2020-02-09 10:06] denesb commented on #5741
After the patch there is no need to call `std::terminate` as the
`std::bad_alloc` is simply forwarded to the read waiting for admission.
This will even free up memory, so as we iterate over the queue we might
succeed the allocation after having failed some of the reads.

Of course in the case when the `schedule()` triggered by `set_exception()`
fails too, you are right. Maybe that is what you mean

[2020-02-09 11:11] slivne commented on #5528
@eliransin ping

[2020-02-09 11:14] slivne commented on #5495
@asias is this resolved ?

[2020-02-09 11:16] slivne commented on #5450
closing this issue - since we had a lot of work on shutdown - if this reproduces open a new issue

[2020-02-09 11:16] #5450 closed

[2020-02-09 11:17] slivne commented on #5422
@tzach ping

[2020-02-09 11:18] slivne commented on #5048
@bhalevy moved to your queue

[2020-02-09 11:18] slivne commented on #4972
@eliransin is this related to what @dekimir is working on ?

[2020-02-09 11:19] slivne commented on #4959
@amoskong if this happens in 3.3 please report the additional info

[2020-02-09 11:21] slivne commented on #4951
@roydahan can we close this

[2020-02-09 11:21] slivne commented on #4941
@bhalevy / @raphaelsc was this fixed ?

[2020-02-09 11:25] slivne commented on #4924
@elcallio
-  can you try and reduce the truncate timeout (very low) see that you get the rpc exception and then convert it to the correct error.

with regards to being slow - truncate by default takes a snapshot in that case it needs to flush memtables and this can take time.

[2020-02-09 11:26] slivne commented on #4810
@bhalevy / @asias / @gleb-cloudius - is this resolved

[2020-02-09 11:29] slivne commented on #4806
closing this -  #4196 should be in 3.1 / 3.2 onwars all version - if this happens again please open a new issue

[2020-02-09 11:29] #4806 closed

[2020-02-09 11:30] slivne commented on #4791
@asias ?

[2020-02-09 11:31] slivne commented on #4769
@penberg / @dahankzter ^^ #4769 (comment)

[2020-02-09 11:32] slivne commented on #4764
We have merged additional patches to better monitor memory usage - closing this issue - if it reproduces on 3.4+ please open a new issue

[2020-02-09 11:32] #4764 closed

[2020-02-09 11:58] roydahan commented on #5740
@yarongilor please add more details

[2020-02-09 14:10] avikivity opened #5758 "alternator write_isolation configuration is too terse"
From https://github.com/scylladb/scylla/commit/abdbb70ad9458833df312a1f9a5db47d35e7bb02:

write_isolation is very informative, but f/a/o/u are too terse IMO. Should use more understandable names instead.

[2020-02-09 14:18] nyh commented on #5758
@avikivity I also had this feeling when I first read @psarna patch, but then I noticed that his code actually checks for the first letter, not the entire name, so a user can write "forbid" or even "forbid_rmw" or "forbid RMW" as the value, not just "f".

I wonder if we should keep the code as-is and just change the document, to recommend the words "forbid", "always", etc., instead of just one lett

[2020-02-09 14:50] psarna commented on #5758
On Sun, Feb 9, 2020, 15:18 nyh <notifications@github.com> wrote:

Actually, checking only the first letter in order to allow more expressive
keywords (e.g. forbid, forbid_rmw, etc.) was my intention from the start.
It was a mistake on my part not to document it anywhere. One unlikely
pitfall is that people may try non-obvious keywords and ending up with
wrong levels, e.g. "always_forbid_rmw" will

[2020-02-09 14:54] roydahan commented on #4924
FWIW, We added a nodetool flush just before the truncate and it didn't help.

[2020-02-09 14:57] roydahan commented on #4951
@slivne not sure.
@fruch do you recall if you hit it on 3.2?

We can retest it again with 3.3

[2020-02-09 15:14] fgelcer opened #5759 "coredump during multiple nemesis (2 repair and 1 rebuild)"
5 db nodes
4 loaders

scylla 3.3 - ami-0e13d9a7078e22943
the scenario is longevity-2tb-7days-1Dis-2NonDis-Nemesis (but it actually runs 4 days, not 7)

we run in this scenario 3 parallel nemesis:
* destroy data and then rebuild
* mgmt repair
* no corrupt repair

[code]

[2020-02-09 15:32] fruch commented on #4951
@roydahan @slivne we run this test on 3.2, I don't recall/think we encounter this issue.
can retest specifically with the the specific nemesis.
we also removed the flag to crash on bad allocs for this test case (I think cause of other issues)

[2020-02-09 16:31] yarongilor opened #5760 "Coredump during gemini test"
Installation details
Scylla version (or git commit hash): 3.3.rc0-0.20200207.9225b17b99c
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ec97fbcbda97c7fb

scenario:
Test: gemini_test.GeminiTest.test_random_load
Test details
Test-id: 0f54cd6d-6bd2-4bff-872d-a9c9655a4231
Test run by User: jenkins
Start time: 2020-02-08 00:09:59
End time: 2020-02-08 03:40:24
Gemini command:
/$HOME/gemini -d --d

[2020-02-09 17:09] roydahan commented on #5759
@fgelcer please add the decoded backtrace.

Also, we had 2 coredumps in that test, did the have the same backtrace?
What was the scenario (what nemesis) when we add the second coredump?

[2020-02-09 17:30] #5710 closed

[2020-02-09 17:42] roydahan commented on #5652
@fgelcer where are the agent logs?

[2020-02-09 17:43] bhalevy commented on #5760
@gleb-cloudius can this be caused by 4893bc9139c?

[2020-02-09 17:47] lseelenbinder opened #5761 "Cluster destruction possible via errant 'replication' value."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.1
Cluster size: 9
OS (RHEL/Cen

[2020-02-09 17:50] lseelenbinder commented on #5761
I'm quite aware this is user-error, but usually certain classes of user-errors should probably be at least guarded against, in my opinion. 😄

[2020-02-10 01:54] asias commented on #5495
The patch "Futurize get_changed_ranges_for_leaving #5620" which is merged solves only part of the problem. We can not close the issue now.

The workload is write only. This rules out the cache invalidation makes read performance drops issue.

As we can see in the monitor, during the decommission, the compaction goes very high and cpu load goes 100%

https://snapshot.raintank.io/dashboard/snapshot/

[2020-02-10 01:55] asias commented on #5226
Refs: #4884

[2020-02-10 01:56] asias commented on #4884
Refs: https://github.com/scylladb/scylla/issues/5226

[2020-02-10 01:59] asias commented on #5495
I am closing this one and merging to https://github.com/scylladb/scylla/issues/5226 to track the perf drop.

Please reopen if needed.

[2020-02-10 01:59] #5495 closed

[2020-02-10 02:01] asias commented on #5226
Please reference this issue for all the compaction related read/write workload performance drop during node operations, e.g., bootstrap, decommission, repair.

[2020-02-10 03:16] asias commented on #5495
Node ip-10-0-116-62 is the one running decommission.

[code]

[2020-02-10 03:58] aleksbykov opened #5762 "sstablesloader doesn't load data with udt"
*Installation details*
scylla-product: scylla
scylla-release: 0.20200209.0d0c1d43188
scylla-version: 3.3.rc1
Cluster size:1
OS (RHEL/CentOS/Ubuntu/AWS AMI): dtest

UDT was defined on keyspaces. Column family with column type UDT was created. Added several records. Snapshot was created. After that keyspace was dropped.
Keyspace and UDT was created manually again, Column family was restored from sch

[2020-02-10 06:48] syuu1228 opened #5764 "capabilities.conf does not installed on Ubuntu 18.04"
On scylla-3.2 and scylla.3.3, capabilities.conf does not installed on Ubuntu 18.04.
We introduced scylla_post_install.sh from scylla-3.2, maybe it does not work correctly on Ubuntu.
[code]

Until scylla-3.1, AmbientCapabilities was defined on scylla-server.service:
[code]

[2020-02-10 07:06] asias commented on #4446
In

https://github.com/scylladb/scylla/issues/4655#issue-464629528

we have a dtest reproducer.

[2020-02-10 07:33] fgelcer commented on #5759
decoded:
[code]

[2020-02-10 07:53] fgelcer opened #5765 "multiple nodes crashed during multi-nemesis (3 parallel nemesis)"
5 db nodes
4 loaders

scylla 3.3 - ami-0e13d9a7078e22943
the scenario is longevity-2tb-7days-1Dis-2NonDis-Nemesis (but it actually runs 4 days, not 7)

we run in this scenario 3 parallel nemesis:
* major compaction
* network reject inter-node communication
* stop_wait_start_scylla

longevity-tls-2tb-4d-1dis-2nondis-3-db-node-1dcb436d-6:
[code]

longevity-tls-2tb-4d-1dis-2nondis-3-db-node-1dcb436d-

[2020-02-10 07:54] fgelcer commented on #5759
opened a new issue for the other core, as it doesn't have the same stack - #5765

[2020-02-10 08:06] psarna commented on #5742
@nyh on the other hand, if any rjson operation would be a suspect for stalling, it would be `rjson::parse`. It parses a whole JSON document by repeatedly calling a function in recursive manner (`rapidjson::ParseValue`) without yielding and it includes allocations.

@fgelcer, could you estimate how big were the items inserted in this longevity test? If we're talking about JSONs with tens of thousan

[2020-02-10 08:10] #5760 closed

[2020-02-10 08:10] gleb-cloudius commented on #5760
dup of #5700

[2020-02-10 08:15] fgelcer commented on #5742
@psarna , we hare 10 columns per row, with 1024 bytes per column:
[code]

[2020-02-10 08:16] psarna commented on #5742
update: I succeeded with stalling a reactor for 262ms by putting a million items with `PutItem`, with an identical trace. That at least proves where the problem is. I'll prepare a patch which wraps `rapidjson::Parse` in yieldable code and retest. Reproduce with `alternator-test` by adding the following case:
[code]

[2020-02-10 08:31] psarna commented on #5742
I also see that in rapidjson you can pass a `kParseIterativeFlag`, which will switch to an iterative implementation of parsing the JSON (with user-allocated stack instead of call stack), which is a very good idea. I'll add that too.

[2020-02-10 08:34] psarna commented on #5742
Unfortunately, rapidjson's parsing is object-oriented, which doesn't allow easy modification of class methods... I'll try inheritance first, and if it doesn't work as I expect it to, there's also a hacky solution we can apply.

[2020-02-10 08:44] yarongilor opened #5766 "coredump during destroy-data-then-repair nemesis"
Installation details
Scylla version (or git commit hash): 3.3.rc0-0.20200204.00b3f281995
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e13d9a7078e22943 eu-west1

found 3 coredumps during nemesis of:
TerminateAndReplaceNode ==> coredump on 10.0.174.220
CorruptThenRebuild 10.0.174.220 ==> coredump on 10.0.28.164
destroy-data-then-repair ==> coredump on 10.0.174.220

scenario: run large-parti

[2020-02-10 09:11] nyh commented on #5742
@psarna I don't think your test represents what @fgelcer did. It is not putting "a million items", it's one single item with one million attributes. This is an illegal operation in DynamoDB (an item is limited to 400 KB), and while I guess we should have tried harder to block this request *before* stalling - to avoid denial-of-service attacks - I don't think it explains the problem here.

[2020-02-10 09:35] fgelcer commented on #5742
this issue happened before latest @fruch changes, where we were calling in a loop 10K keys for the whole duration of the test (in between 20M keys) - always the same 10K keys.
New code will work in a different way, and will exercise more keys (if not all of them).

[2020-02-10 09:42] fruch commented on #5742
I'm no sure it's related to the way we used YCSB, maybe only since those were the same keys with same data, being written again and again.

[2020-02-10 09:43] elcallio commented on #5738
Truncates should not be "replicable", and really has nothing to do with cdc. If you want to truncate, truncate. Don't write data, drain existing CDC data, then truncate your cdc client or whatnow, then go about your day.
I don't think we should have an ambition to "replicate" an administrative operation that is on the level with flush, scrub or upgradesstables.

[2020-02-10 09:44] piodul commented on #4712
The longevity job performed one node replacement. Here are the artifacts:

[code]

There is also a live preview: [here](http://54.211.1.4:3000/d/5RXV2o8Wz/scylla-per-server-metrics-nemesis-master?orgId=1&from=1581045660744&to=1581074584252&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All)
Or you can download and browse locally with `hydra investigate show-monitor 5e1b3781-8084-42

[2020-02-10 09:51] elcallio commented on #5704
Sets. Currently they are encoded as frozen<set>, i.e. just a collection of unique values. The op determines if we added or removed from the set.
Otherwise we have to encode sets as frozen<map<elem, elem>> and mark deletions by nulls like actual storage does. Somewhat consistent with other non-atomics, but also ugly and less intuitive for user.
But we also derive the op as a helpful clue to the con

[2020-02-10 09:52] nyh commented on #5742
I still don't understand this theory. Even if we keep writing to the same key again and again, I don't see how it can cause an individual request to become very big.

[2020-02-10 09:56] psarna commented on #5742
I uploaded a non-mergeable RFC with my thougthts about the topic, feel free to revise the ideas: https://github.com/scylladb/scylla/pull/5767

[2020-02-10 09:56] fgelcer commented on #5742
it isn't a theory, just a fact on how we used the YCSB, that might have impact on how stressing few keys could cause stalls to grow big...

[2020-02-10 10:44] bhalevy commented on #5753
In addition, as suggested with @avikivity, we need to:
1. stop and disable `apport`
2. generate a coredump during setup time and make sure we see it and that it's readable by gdb (not truncated, for example).

[2020-02-10 10:47] ShlomiBalalis opened #5768 "(200gb-48h) Streaming takes too long"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): `666.development-0.20200206.27b36b

[2020-02-10 10:51] kbr- commented on #5704
So:
1. for a `frozen<set<int>>` column in base we'll have `frozen<tuple<tinyint, set<int>>>`  column in log
2. when we add an element `x` to the base set, we'll get `(ADD, {x})` in the log

is this correct @elcallio ?

[2020-02-10 11:17] asias opened #5769 "Do not invalidate cache if no sstable is added in flush_streaming_mutations"
The table::flush_streaming_mutations is used in the days when streaming
data goes to memtable. After switching to the new streaming, data goes
to sstables directly in streaming, so the sstables generated in
table::flush_streaming_mutations will be empty.

It is unnecessary to invalidate the cache if no sstables are added. To
avoid unnecessary cache invalidating which pokes hole in the cache, skip

[2020-02-10 11:28] kostja opened #5771 "lwt: optimize learn phase by avoid a full blown query to system.truncate table"
During learn phase we need to skip updating the paxos table if it was truncated after the transaction timestamp. Currnetly, this is done by querying the system table for the truncation timestamp and comparing the two.

Apart from being inefficient, since it has to go execute a full blown prepared statement to get the truncation time, this breaks the balance between cpu cores, since is always handl

[2020-02-10 11:28] elcallio commented on #5704
No, for a `set<int>` we have `tuple<tinyint, frozen<set<int>>>` (the second frozen is also redundant, since tuple contents is frozen just like the tuple).
But 2 is correct.

[2020-02-10 11:30] gleb-cloudius commented on #5771
Small correction: it is handled by a single shard for the same base
table, not necessary shard 0 and it may be different shard for different
tables.

--
			Gleb.

[2020-02-10 11:32] elcallio commented on #5762
Note: this is not a bug as such, but a known missing feature. When the tool was created, scylla did not support UDT:s and no request for it to handle it has afaik been made.
Technically, frozen UDT:s should work fine, since we just send packaged bytes as bound values. But your example uses non-atomic UDT:s.

[2020-02-10 11:56] bhalevy opened #5772 "gossip_control_test: cdc - get_local_streams_timestamp: tried to retrieve streams timestamp after bootstrapping, but it's not present"
Since  https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/385/testReport/nodetool_additional_test/TestNodetool/gossip_control_test/
scylla version 27b36beb4abd856d0b5ac4826b5ad7b82a798ec6
We see
[code]
and
[code]

[2020-02-10 11:56] bhalevy commented on #5772
Cc @haaawk

[2020-02-10 11:57] fgelcer commented on #5652
maybe not the whole manager work is backported to branch-3.3?

[2020-02-10 11:57] slivne commented on #5700
@gleb-cloudius are you working on this ?

[2020-02-10 11:58] slivne commented on #5700
from bhalevy @gleb-cloudius can this be caused by 4893bc9?

[2020-02-10 12:02] haaawk commented on #5772
@kbr-

[2020-02-10 12:03] gleb-cloudius commented on #5700
On Mon, Feb 10, 2020 at 03:58:08AM -0800, Shlomi Livne wrote:

Yes, I am working on it. Lets say it was exposed by 4893bc9 which
assumes certain lifetime for a trace_ptr, but due to some other bug it
may be shortened.

--
			Gleb.

[2020-02-10 12:07] haaawk commented on #5772
@asias Could you please explain us what nodetool enablegossip does?

[2020-02-10 12:36] kbr- commented on #5704
@elcallio

Note that you can do:
[code]

`(ADD/DELL, {...})` can't represent
[code]

[2020-02-10 12:38] kostja opened #5775 "lwt: feature bit"
Add feature bit for LWT, so that we refuse to perform an LWT across replicas in a heterogeneous (different veresion) setup. We need a feature bit so that we don't enable paxos rpc verbs until we fully upgrade, otherwise there is no way to rollback: we may get dirty paxos table/partial paxos state, which is lost after rollback of a failed upgrade.

[2020-02-10 12:38] kbr- commented on #5704
In any case, we can drop the tuple for atomic types, right? (leaving us only with the null/non-null problem)
And devise a general enough column for each non-atomic type.

[2020-02-10 12:41] kostja opened #5776 "lwt: support user defined types in column conditions"
Currently it is not possible to use a user defined type in a conditional expression.
E.g. the following doesn't work IF user.name != NULL.
We should add support for it.

[2020-02-10 12:51] kostja opened #5777 "lwt: support LIKE operator in conditional expressions"
Currently the following synax doesn't work: IF string_column LIKE "pattern"
It should be supported.

[2020-02-10 12:53] elcallio commented on #5704
Ugh. I did not know that was legal cql syntax. That would require breaking the log row into two (commented in the atomix branch).
You still cannot drop the tuple for non-atomic columns since again you need to store whether the column was set to null or simply was not part of the mutation. So either a single-elem tuple, or no tuple + additional column or similar. In any case, so marker bit is requi

[2020-02-10 12:55] elcallio commented on #5704
Note however that your statement that the above sets op is valid cql is a big argument for simply dropping any "nice" packing pretence, and just go the map<> route (saves logic in breaking up log rows).

[2020-02-10 12:56] kbr- commented on #5704
Please, no :(
Let's go with something like `map<base_set_element_type, empty_type>`
(however, `empty_type` is not exposed for CQL, so we can use e.g. `map<base_set_element_type, tinyint>`)

[2020-02-10 12:58] raphaelsc commented on #5168
The issue turned out to be about mixing timestamps (even usage of non expiring data) which resulted in sstables not becoming fully expired. So closing this issue...

[2020-02-10 12:58] #5168 closed

[2020-02-10 12:58] yarongilor commented on #5662
@roydahan , @avikivity , please advice as for the above question of reactor-stall threshold.

[2020-02-10 13:02] #2859 closed

[2020-02-10 13:03] raphaelsc commented on #4941
looking into this...

[2020-02-10 13:04] avikivity commented on #5662
Stalls are acceptable during boot. Scylla should disable the stall detector by itself during boot to avoid false positives.

[2020-02-10 13:04] yarongilor commented on #5661
reproduced in another longevity - longevity-large-partition-200k-pks-4days.
details:
Installation details
Scylla version (or git commit hash): 3.3 - Scylla version 666.development-0.20200123.e1b22b6a4c5 with build-id 98f8288b4a56c70373b863b3f012bd7e6a4a45dd
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e0bc3eb9e39a481d eu-west1

scenario:
longevity-large-partition-200k-pks-4days at 2020-02

[2020-02-10 13:08] #5662 closed

[2020-02-10 13:12] elcallio commented on #5704
Actually, come to think of it, we have sort of a problem with the above (and maps as well).
The cql encoding (i.e. flattened/frozen) does not make any difference between an empty value (`string{}`) and a null value. So encoding `map["apa"] = ""` is equivalent to `map["apa"] = null` in the cdc log. Unless of course the `op` is there + breaking stuff into neat rows... :-(

[2020-02-10 13:21] kostja opened #5779 "Proactively prune records from system.paxos table"
In absense of topology chagnes or down nodes, we don't need to keep a committed record in system.paxos table and can prune it as soon as all participants have learned the decision.
This could reduce write amplification caused by an ongoing lwt workload, as well as reduce demands on disk footprint of system.paxos, which currently can quickly grow to hundreds of GB in size.

[2020-02-10 13:25] kbr- commented on #5704
@elcallio

How about going the one-element-tuple way everywhere? It's pretty elegant IMO:
[code]

[2020-02-10 13:27] elcallio commented on #5704
It potentially adds much more overhead in the case of a collection (disparate add/deletes are rare). I don't really care, but I think Avi might dislike it. The user will need to jump some hoops...

[2020-02-10 13:36] kbr- commented on #5704
@elcallio

If you claim than add+delete in the same update is rare, then I claim that two adds are also rare.
For the most common situation -- single add or delete -- I suspect that `{0: (None)}` isn't really worse than `(DEL, {0})`. It might be even better, we'd have to check.

In any case this discussion is really premature optimization... We should focus on simplicity and correctness first.

IM

[2020-02-10 13:38] kbr- commented on #5704
Also splitting a single insert into multiple entries in the log adds problems for the user, because he then has to handle single-timestamp-batch-updates even in cases where he didn't even perform a batch.

[2020-02-10 13:46] slivne commented on #5652
@fgelcer / @roydahan - please rerun with the correct version and provide logs (or close the issues).

[2020-02-10 13:50] slivne commented on #5759
@roydahan we have a new flag abort_on_ebadf please add it also the commands you use - it may be a bad file descriptor and lets have this running with it.

[2020-02-10 13:50] slivne commented on #5759
@bhalevy / @tgrabiec any better idea ?

[2020-02-10 13:51] slivne commented on #5765
@xemul is this something you had changes in recently ?

[2020-02-10 13:54] slivne commented on #5766
this seems simillar to other issues in large partitions

@denesb can you please have a quick look if this is simillar to other issues you have seen related to readers

[2020-02-10 13:56] slivne commented on #5769
@asias is this related to https://github.com/scylladb/scylla/issues/5769 ?

[2020-02-10 13:58] #3749 closed

[2020-02-10 13:59] #3912 closed

[2020-02-10 14:22] kostja commented on #5779
Tested with a quick and dirty patch which violates correctness and got +15-30% performance boost. The performance impact from compaction are not as sharp anymore.

[2020-02-10 14:24] xemul commented on #5765
The very very similar issue must have been fixed with 4839ca849136841b4545931876b1345ee09affa1 , but it still was not the end of the story

[2020-02-10 14:33] kostja commented on #5779
Typical results before:
Op rate                   :    2,348 op/s  [insert: 2,348 op/s]
Partition rate            :    2,348 pk/s  [insert: 2,348 pk/s]
Row rate                  :    3,208 row/s [insert: 3,208 row/s]
Latency mean              :   12.7 ms [insert: 12.7 ms]
Latency median            :    8.3 ms [insert: 8.3 ms]
Latency 95th percentile   :   41.0 ms [insert: 41.0 ms]
Latency 99th per

[2020-02-10 14:35] kostja commented on #5779
Patch used for quick-and-dirty check (the patch is obviously violating lwt correctness).
`diff --git a/db/system_keyspace.cc b/db/system_keyspace.cc
index 589fa7901..7edcf144a 100644
--- a/db/system_keyspace.cc
+++ b/db/system_keyspace.cc
@@ -2203,15 +2203,11 @@ future<> save_paxos_decision(const schema& s, const service::paxos::proposal& de
     // Erasing the last proposal is just an optimizatio

[2020-02-10 14:41] kostja commented on #5779
The performance improvement may obviously come from reduced commit log traffic too, which won't be there in a correct patch.

[2020-02-10 14:57] roydahan commented on #5768
@ShlomiBalalis to run a test that only decommission and add node to check if it reproduces.

@ShlomiBalalis please provide the commit id of the previous run that this nemesis passed.

[2020-02-10 15:10] asias commented on #5769
#5769 <https://github.com/scylladb/scylla/issues/5769>  is the issue
itself. Did you actually mean another issue number?

On Mon, Feb 10, 2020 at 9:56 PM Shlomi Livne <notifications@github.com>
wrote:

--
Asias

[2020-02-10 15:13] #5734 closed

[2020-02-10 15:13] #5764 closed

[2020-02-10 15:22] ShlomiBalalis commented on #5768
A reproducer is running.
It seems that the previous run of 200gb, with `Scylla version 666.development-0.20200128.b06b34478ed with build-id 12309e1a16ad8a9082a608781951ae610f2d1542`, had no special issue with decommission.

[2020-02-10 15:23] eliransin commented on #4972
@slivne, no, @dekimir is working on getting restrictions redesign in parity with the old restrictions,
of course if he finds a bug he will not duplicate it but he is not actively search for them yet.
The concept is that once we have a simpler / better structured code we will be able to find bug such
as this one easily.

[2020-02-10 16:16] raphaelsc commented on #4941
Ran LCS workload which triggers SSTable demotion and the problem is apparently gone. I think we can close this issue.

[2020-02-10 17:29] bhalevy opened #5780 "test_remove_node_during_index_build may fail with Expected a row count of 100000 in query "SELECT * FROM b_index_index", but got 99984"
This is reproducible with scylla-dtest eada06e5b92259a61733966b66e5160544bc9a9f
scylladb/scylla@43097854a5e043492cacd19cfced047f35a99a6b
when I run multiple instance of the test, it may fail to validate the right node count.
For example:
[code]

On node1
[system.log](https://github.com/scylladb/scylla-dtest/files/4182155/system.log)
 I can see this:
[code]

This needs to be analyzed and determine

[2020-02-10 17:30] bhalevy commented on #5780
cc @eliransin @psarna

[2020-02-10 18:07] #5694 closed

[2020-02-10 18:07] #5695 closed

[2020-02-10 18:50] vladzcloudius commented on #4712
Interesting results.
Here is another interesting angle (note that I zoomed into the interesting time segment where there was that dive):

Notice that the CQL dive continues even after the initial hints spike is over.

![image](https://user-images.githubusercontent.com/6103981/74179827-30c8b580-4c0c-11ea-9711-7729cfeebc41.png)

[2020-02-10 19:50] ultrabug commented on #3896
For what's it's worth, I'm also affected by this issue which prevents me from extracting data from scylla easily!...

Workaround is to use binary cqlsh from cassandra sources... :man_facepalming:

[2020-02-10 20:44] fruch commented on #5758
I think that an external API like that should be a bit more strict on what are the valid inputs.
how you store it internally doesn't matter, but we should be a more clear for a user if the tags he's using are correct or not.

I would fail the tagging api on unfamiliar tags, or at least supply some warning

[2020-02-10 21:18] fruch opened #5781 "Alternator coredumps while stopping a node"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200209.bcc46475522
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b464ba1fef4f6228 (eu-west-1)

## Summary
When stopping a node (restart_with_resharding nemesis) while there are in-flight dynamodb requests, scylla aborted with a cordump

* **test_id** - 1aa47b52-3de1-49fe-a183-7116e01ed1a8
* **Jenkis job** - htt

[2020-02-10 21:44] ManManson opened #5782 "lwt: bind markers not working properly in LWT queries for float, double, uuid types with "(null)" bound value"
*Installation details*
Scylla version (or git commit hash): https://github.com/scylladb/scylla/commit/43097854a5e043492cacd19cfced047f35a99a6b

Scylla fails with an `empty_value_exception` during execution of the following DTest test-case:
[code]
Also available [there](https://github.com/ManManson/scylla-dtest/blob/24ae0b4e0faa7f53d2bfd7b0c28834f0eb83e54e/cql_prepared_test.py#L83).

The same issue

[2020-02-10 21:52] #5254 closed

[2020-02-10 22:09] nyh opened #5783 "alternator: reorganize source files"
Write now, about half of all the Alternator code found itself in one single file, executor.cc, which has more than 3000 lines. 20 other .cc and .hh files comprise the other half of the code. The 3000-line source file is hard to navigate, and also makes development slow when every recompilation needs to recompile that entire file.

We should consider reorganizing the Alternator code. Not to dozens

[2020-02-10 23:26] vladzcloudius opened #5784 "Implement a new naming scheme in Ec2SnitchXX"
*Installation details*
HEAD:

*Description*
Implement https://issues.apache.org/jira/browse/CASSANDRA-7839:

[code]
We are currently implementing a "legacy" scheme.

[2020-02-11 02:14] justinturpin commented on #5675
The nodes were drained and stopped. I unfortunately do not have the logs anymore.

[2020-02-11 02:14] #5675 closed

[2020-02-11 04:47] aleksbykov opened #5785 "CDC: cql command: desc table <base_table_with_cdc> incorrectly display parameter cdc enable"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

on master branch:
Scylla version 666.development-0.20200209.bcc46475522 with build-id efabf5c2d

[2020-02-11 06:31] haaawk commented on #5785
This is not a bug since last week per table _scylla_cdc_desc tables were replaced with system_distributed.cdc_description.
For more info: https://github.com/kbr-/scylla-docs/blob/cdc/using-scylla/cdc.md#querying-streams

[2020-02-11 06:31] #5785 closed

[2020-02-11 07:13] amoskong commented on #5785
@haaawk This issue is different than Alex's email.
It's not about _scylla_cdc_desc table doesn't exist, but the "cdc" property isn't displayed in desc result.

[2020-02-11 07:16] amoskong commented on #5785
@aleksbykov what's your expected result?

[2020-02-11 07:16] haaawk commented on #5785
Right. Thanks @amoskong. This is still not an issue but expected behaivour. cdc property is an extension and that's why it's printed this way.

[2020-02-11 07:21] amoskong commented on #4959
ok

On Sun, Feb 9, 2020 at 7:19 PM Shlomi Livne <notifications@github.com>
wrote:

[2020-02-11 08:30] denesb opened #5786 "row::append_cell() assert protecting append invariant too harsh"
This assert, added by 060e3f8ac2fa0afa9a9416e86760f8e53c8d65ef is supposed to make sure the invariant of the `append()` is respected, in order to prevent building an invalid row. The `assert` however proved to be too harsh, as it converts any bug causing out-of-order clustering rows into cluster unavailability. Downgrade it to `on_internal_error()`. This will still prevent corrupt data from spread

[2020-02-11 09:13] fruch opened #5787 "Requests to alternator failing while a node is decommissioning"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200209.bcc46475522
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b464ba1fef4f6228

## Summary
Requests to alternator failing while a node is decommissioning
with the following error:
[code]
**NOTE:** it was while trying to use the DNS server solutions, and it wasn't exactly working as we expected yet, hence req

[2020-02-11 09:18] gleb-cloudius commented on #5787
@slivne I am not sure what I have to do with alternator

[2020-02-11 09:21] slivne commented on #5787
Internal server error: exceptions::mutation_write_failure_exception
(Operation failed for alternator.usertable - received 0 responses and
1 failures from 2 CL=LOCAL_SERIAL.)

On Tue, Feb 11, 2020 at 11:18 AM Gleb Natapov <notifications@github.com>
wrote:

[2020-02-11 09:27] gleb-cloudius commented on #5787
I have not what kind of query alternator runs. I need some kind of assessment from alternator people what kind of query they executed against what kind of table (RF specifically). Can it be that RF=2?

[2020-02-11 09:28] elcallio commented on #4924
@slivne, I don't get what you want me to do here. Repro an rpc timeout in truncate? Correct error? What is a "correct" error. Afaict, the error returned is exactly what happened, no? RPC timed out. @gleb-cloudius says "converted to proper cql error" - does that mean just wrap it in cql timeout or what?

Flush is not the only thing potentially taking time for truncation. It needs to lock out compac

[2020-02-11 09:31] gleb-cloudius commented on #4924
We can check what Cassandra returns here and do the same. I am certain they do not
return rpc error.

--
			Gleb.

[2020-02-11 09:44] #5771 closed

[2020-02-11 09:48] fgelcer opened #5788 "coredump during SnapshotOperations on longevity 3h job"
running scylla master:
ami - ami-00eb9c3c2bb349d25
6 db nodes
version = 666.development-0.20200208.576f80be74c

[code]

[2020-02-11 09:53] fgelcer commented on #5788
i see that previous core didn't succeed to upload, so here there is another case, on the same nemesis with a core file:

[code]

[2020-02-11 10:00] fruch commented on #5787
just to clearify, on CQL when node is currently decommissioning, it closing the CQL port, right ?

[2020-02-11 10:01] slivne commented on #5787
what is the schema can you provide it

[2020-02-11 10:04] tzach commented on #2296
https://issues.apache.org/jira/browse/CASSANDRA-13455

[2020-02-11 10:05] fruch commented on #5787
[code]

[2020-02-11 10:10] gleb-cloudius commented on #5787
@fruch did you have a setup with 3 nodes and you decommissioned one? This is not suppose to work.

[2020-02-11 10:13] gleb-cloudius commented on #5787
Well, it is not that it is not suppose to work - we still have a quorum but we do not have HA - each hiccup will cause  requests to fail.

[2020-02-11 10:44] amoskong opened #5789 "coredump occurred in snapshot_operation nemesis"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200209.bcc46475522
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b464ba1fef4f6228 (aws region: eu-west-1)
Detected by: longevity-3h-10gb
Test-id: d5361982-d2a0-43cc-bc40-b0e725a7245e

### Description:

Coredump occurred on longevity-10gb-3h-master-db-node-d5361982-3 during snapshot_operation Nemesis, the snapsh

[2020-02-11 10:44] ShlomiBalalis opened #5790 "(200gb-48hours) decommission never ends (decommissioned node stuck on unbootstrap)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 666.development-0.20200206.27b36be

[2020-02-11 10:49] roydahan commented on #5790
maybe the same as: https://github.com/scylladb/scylla/issues/5450

[2020-02-11 10:57] amoskong commented on #5789
The same two coredump occurred in https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-100gb-4h/115/ during snapshot_operation Nemesis.
Test-id: 62e7d74d-ebc0-4d5c-b11d-69120adf2588

[code]

[code]

download_instructions=
gsutil cp gs://upload.scylladb.com/core.scylla.996.cc86a24773d1409b9ac54a2d170dffaf.4072.1581311410000000/core.scylla.996.cc86a24773d1409b9ac54a2d170dffaf.4

[2020-02-11 11:10] psarna commented on #5758
I sent `[PATCH 0/5] alternator: Make write isolation config less terse` to scylladb-dev@.

[2020-02-11 11:30] penberg commented on #5631
This is fixed in `scylla-ami.git` in commit https://github.com/scylladb/scylla-ami/commit/4e20f0cd934e6317228b2cdc2f1ea2edd29b4b99.

[2020-02-11 11:30] #5631 closed

[2020-02-11 11:37] slivne commented on #5146
not a regression - pushing this out

[2020-02-11 11:40] slivne commented on #5759
QA are running with the flag

[2020-02-11 11:41] fgelcer commented on #5788
relates to #5789

[2020-02-11 11:43] slivne commented on #5765
@xemul can you please look on 3.3 branch specifically related to this case and see if it makes sense to backport the commit you provided - if there are followup patches they may be considered as well - yet we do not want to backport everything

[2020-02-11 11:44] ShlomiBalalis commented on #5790
I thought so, but the difference is that in #5450 the issue was stopping the messaging service and/or on the nodetool side, while on the issue this time is on the node's unbootstrap stage, a few stages before stopping the messaging service

[2020-02-11 11:45] slivne commented on #5766
We will not analyze this  - master (3.4) has additional patches that make memory accounting better and it should work better

[2020-02-11 11:48] fruch commented on #5787
yep, sorry about that, we added nemesis to this test, but forgot to enlarge the cluster to accommodate it

[2020-02-11 11:54] gleb-cloudius commented on #5787
On Tue, Feb 11, 2020 at 03:48:23AM -0800, Israel Fruchter wrote:

I see some nodes are overloaded as well and have a lot of errors. Also
the report is supper unclear: there are 5 directories in the
db-cluster.zip, some of then contain only messages.log for some reason.
How do I suppose to know which directory belongs to what node? Which one
was decommissioned? Why database.log is in tar.gz and not

[2020-02-11 12:10] fgelcer commented on #5652
yes, it does contain scylla db logs:
inside ./longevity-tls-50gb-4d-master-db-node-aaa5420a-6/database.log.tar.gz

[code]

[2020-02-11 12:34] fgelcer commented on #5652
this hash ```f65b8944``` appears on master only, and not on branch-2.0 (although the commit was back ported).
meaning, that we most likely have an issue with version number on master (that it didn't bump up after creating 2.0.1 and 2.0.2).

this was run with latest master (from sct.log):
[code]

[2020-02-11 12:35] fgelcer commented on #5652
i will change the version to be last stable manager branch-2.0 on SCT branch-3.3

[2020-02-11 12:50] fgelcer commented on #5652
you can see (all or at least partial manager-agent) logs under sct-runner logs > sct.log

[2020-02-11 12:59] ManManson opened #5791 "lwt: conditional update for list<T> fails to apply for "IF value[:i]=:v" pattern and null values"
*Installation details*
Scylla version (or git commit hash): https://github.com/scylladb/scylla/commit/43097854a5e043492cacd19cfced047f35a99a6b

LWT updates fail to apply under the following circumstances:

[code]
The last statement returns `[False, [None]]` row instead of `[True, [None]]`.

This also can be demonstrated by running the following dtest test case: https://github.com/scylladb/scylla-d

[2020-02-11 13:04] #5747 closed

[2020-02-11 13:04] #5786 closed

[2020-02-11 13:15] slivne commented on #5742
Since the stall is 3.5 seconds we need to figure this out and see what are these stalls.

[2020-02-11 13:33] nyh commented on #5781
When shutting down Alternator, we must wait for existing requests to finish and shutdown the connections to not process new connections. If we allow existing requests to continue running or new requests to be handled after shutting down, we'll get such core dumps.
IIRC, the CQL layer also have similar code for waiting for shutting down existing connections and waiting for it to happen.

[2020-02-11 14:24] alecco opened #5792 "lwt: add cql tests for CDC, INSERT JSON, and USING TTL"
Add CQL tests for WITH CDC, INSERT JSON, and USING TTL query options.

[2020-02-11 14:44] psarna opened #5793 "Materialized view updates with future partition tombstones are not correctly generated"
When the base table does not have any rows, but it does have a partition tombstone with a given timestamp, inserting a base row with a smaller timestamp will generate an incorrect materialized view update - even though the base table contains 0 rows, because the only row we inserted was covered by a partition tombstone with higher timestamp, we can observe a materialized view row.

Reproducing cod

[2020-02-11 15:44] bhalevy opened #5794 "Segfault in indexed_table_select_statement during secondary_indexes_test.TestSecondaryIndexes.test_truncate_base"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/57/artifact/logs-debug.2/1581370901459_secondary_indexes_test.TestSecondaryIndexes.test_truncate_base/node2.log
Scylla version 43097854a5e043492cacd19cfced047f35a99a6b
[code]

[2020-02-11 15:45] bhalevy commented on #5794
Cc @eliransin

[2020-02-11 15:45] bhalevy commented on #5794
Unfortunately, since ASAN hit a nested bug we have no core dump.

[2020-02-11 15:53] elcallio commented on #4924
We do _almost_ exactly what cassandra does: send an RPC (slightly different, but same principle), catch any exceptions, wrap them in `truncation_exception`. Difference is that for some reason our truncation exception sets the error code `PROTOCOL_ERROR` instead of `TRUNCATE_ERROR` - which would seem more appropriate.

[2020-02-11 15:54] aleksbykov opened #5795 "CDC: with cdc preimage enabled c-s failed and cql_server - exception while processing connection: std::nested_exception"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):Scylla version 666.development-0.202

[2020-02-11 16:24] haaawk commented on #5795
@elcallio Could you help @piodul with this, please? You're the person who knows preimage code best.

[2020-02-11 18:09] piodul commented on #5795
[code]

The line above is caused by a log invocation in `transport/server.cc`: [link](https://github.com/scylladb/scylla/blob/9eb6ac7162245babec9a90f37bbdf01f5b04fb90/transport/server.cc#L258).

Initially, I suspected that it was caused by the `finally` closure before `handle_exception` that prints this message - it calls `unadvertise_connection`, which removes information on the client from the `

[2020-02-11 19:01] dyasny commented on #3896
@jul-stas ping - maybe you can provide some input here?

[2020-02-11 19:14] fgelcer commented on #5652
@ajankovic
@asias
@slivne

[2020-02-11 20:13] espindola commented on #5711
Is this something we want to backport to 3.3? I can create simplified patches if we do.

[2020-02-11 21:19] #5700 closed

[2020-02-12 03:04] aleksbykov commented on #5795
@piodul do you need instances?

[2020-02-12 03:42] asias commented on #5652
@fgelcer I saw the db logs now.

1) There is no single repair error in the scylla  log.
[code]

2) I only saw an big allocation which I could not decode  because I can not find the rpm. Can you please code the trace below.
[code]

3) In the sct.log, I saw the following. I did not understand where such message would come from since there is no such logs in scylla node. Did SCT tries to decode the b

[2020-02-12 04:51] aleksbykov commented on #5762
@elcallio , you right, with frozen UDT it is working fine.

[2020-02-12 05:04] dimaqq opened #5796 "alternator: maybe support StreamSpecification: null"
I'm testing out scylladb+alternator.
I've figured to swap `dynalite` with `scylla` in our unit tests first.

I'm hitting this error:
https://github.com/scylladb/scylla/blob/a8a4e584ec3332067b6b9e1756ba1bf2392e1424/alternator/executor.cc#L807-L809

I've tracked it down to some library in our stack passing `None` / `null` to the `StreamSpecification` when creating a table.
The intention is to use a

[2020-02-12 07:14] bhalevy commented on #5772
Fixed with 6c4f2b97170a3986aeee326292699ca07ff0b304

[2020-02-12 07:14] #5772 closed

[2020-02-12 07:18] bhalevy commented on #5752
We hit another crash, that seems to be caused by the same use-after-free.
I'm including the backtrace here so it could be found when searching github issues.

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/389/artifact/logs-release.2/1581473483497_listsnapshots_test.TestNodetoolListSnapshots.test_several_snapshots_for_several_kses/node1.log
Scylla version 9eb6ac716224

[2020-02-12 07:23] bhalevy commented on #5686
Closing as duplicate of #5614

[2020-02-12 07:23] #5686 closed

[2020-02-12 07:44] asias commented on #5772
I actually hit this issue myself when running nodetool enablegossip.

It is used to reanble gossip after nodetool disablegossip.

[2020-02-12 07:47] haaawk commented on #5772
So we can enable/disable gossip with nodetool? Cool!

[2020-02-12 08:30] piodul commented on #5795
@aleksbykov I would like to keep them running a little longer. I would like to investigate Scylla processes with a debugger. If you don't need them for anything else, I can terminate them for you if you want.

[2020-02-12 09:05] penberg commented on #5401
There were various release engineering and packaging problems in this area, but all the known ones are addressed and `debian-deb-9-test` is passing now.

[2020-02-12 09:05] #5401 closed

[2020-02-12 09:38] nyh commented on #5796
I'm having trouble reproducing this in boto3 in Python, trying to pass StreamSpecification=None doesn't pass boto3's internal checks:
[code]
If I try to pass StreamSpecification={}, DynamoDB doesn't allow this either.
Anyway, I'll prepare a patch for you to test, and test what I can in the boto3-based tests.

[2020-02-12 10:08] nyh commented on #5796
I just sent a patch titled "Alternator: allow CreateTable with streams explicitly turned off" to the mailing list, which should hopefully fix this issue (if you can, please test it).
With that patch, if StreamSpecification is not a map (e.g., a null as in your case) or if it has StreamEnabled=false, then table creation is allowed. Only if StreamEnabled=true is explicitly set, do we fail the table

[2020-02-12 10:12] xemul commented on #5765
@slivne , the patch 4839ca849136841b4545931876b1345ee09affa1 from master is surely needed.

There's also a patchset titled "[PATCH 0/3] Fix use-after-frees in migration_manager and feature_service" on the mailing list awaiting for @tgrabiec review. This set fixes other problems with migration manager (and database), none of them was captured explicitly (as far as I know). If they hit the master I

[2020-02-12 10:24] gleb-cloudius opened #5797 "some background_read counters are underflow"
*Installation details*
Scylla version (or git commit hash): a8a4e584ec3332067b6b9e1756ba1bf2392e1424
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

`scylla_storage_proxy_coordinator_background_reads{scheduling_group_name="main",shard="0",type="queue_length"} 18446744073709551616.000000`

caused by 971711a5461c09421f1c9b1b3b2d9f6209a425da

[2020-02-12 10:29] aleksbykov commented on #5795
@piodul I don't need them. If you will terminate them after you finish, it will be great

[2020-02-12 11:57] slivne commented on #5765
@xemul can you please clarify which branches are vulnerable to this 3.3 only or others ?

[2020-02-12 12:28] avikivity commented on #5734
Backported to 3.2, 3.3.

[2020-02-12 12:29] avikivity commented on #5734
And 3.1

[2020-02-12 12:45] ShlomiBalalis commented on #5790
@xemul Coredump from node#2:
https://storage.cloud.google.com/upload.scylladb.com/core.scylla.996.f3389d4f5b4a4f0f979e16826748108c.3786.1581509562000000/core.scylla.996.f3389d4f5b4a4f0f979e16826748108c.3786.1581509562000000.gz

[2020-02-12 12:45] avikivity commented on #5700
@gleb-cloudius please prepare a backport for 3.3 (and 3.2 if needed)

[2020-02-12 12:52] fgelcer commented on #5652
@asias :

[code]

[2020-02-12 13:05] piodul commented on #5795
@aleksbykov Considering the large number of the stalls and cassandra-stress messges, I think that we can assume for now that this workload was too much for current implementation to handle when preimage is enabled. Until we identify the bottleneck, we should lower the intensity of the workload for this case.

[2020-02-12 13:19] elcallio commented on #5795
fwiw, I could not produce any errors - just a few stalls (fewer that yours, because small cluster). I would assume that the reads caused by pre-image makes the cluster unhappy when stressed like this. Not sure if I think that is gonna get much better; I think we should assume that you can expect some fairly big slowdowns on write loads with preimage on. Not to mention postimage when available.

[2020-02-12 13:50] piodul commented on #5795
I decoded all backtraces from all three nodes. I can see that the stalls around `Feb 11 15:18:17` (which is the start of the preimage test) are caused by the code that performs schema upgrade for memtables. All stalls around this date had `memtable_entry::upgrade_schema` inside their backtrace.

As far as I know, truncating table `X` does not truncate the table `X_scylla_cdc_log`. Currently, we al

[2020-02-12 14:08] #5775 closed

[2020-02-12 14:11] kostja opened #5798 "Support expressions on the right hand side of column conditions"
Support arbitrary expressions on the right hand side of a column condition, including user defined functions, built-in functions and operators (i.e. plus, minus, multiple, etc).

For example:
IF foo = UDF(value) + 3

[2020-02-12 15:10] xemul commented on #5765
@slivne , 3.* are all affected. Which of 2.*, 1.* and 0.* should I check?

[2020-02-12 20:38] kostja commented on #5685
Is there an easy way to reproduce this?

[code]

[2020-02-12 21:05] dekimir opened #5799 "Impossible WHERE condition returns a non-empty slice"
Scylla:
[code]

Cassandra:
[code]

[2020-02-12 22:41] xemul commented on #5685
Make test artificially fail?

[2020-02-12 23:46] vladzcloudius commented on #3283
@eliransin ping

[2020-02-12 23:51] vladzcloudius commented on #5130
@eliransin ping.
What do you say about assigning this to somebody?

I still don't understand what's so complicated to schedule some action after the commitlog reports a success. We already have an action that takes place when this event occurs - we send a response to the coordinator.
How hard it is to put another action there?

[2020-02-12 23:52] vladzcloudius commented on #4358
@eliransin Ping.

Do you still think that this issue is relevant? If yes, let's define it a priority, if not - let's close it.

[2020-02-13 00:08] vladzcloudius commented on #3896
@eliransin Ping

[2020-02-13 00:11] vladzcloudius commented on #4080
@eliransin Any progress on this one?

[2020-02-13 00:11] vladzcloudius commented on #4127
@eliransin ping

[2020-02-13 00:14] vladzcloudius commented on #4299
@eliransin ping

[2020-02-13 00:17] vladzcloudius commented on #4940
@nyh I wonder if this proposal doesn't cancel the https://github.com/scylladb/scylla/issues/5130 ?

[2020-02-13 03:54] raphaelsc commented on #4505
Could this be related to: Merge "Fix empty counters handling in MC" from Piotr (c664615960930a6ec92750c3e876bfaf58912c98)?

3.0.5 lacks this fix and mc version is used.
The bug could result in counter cells being produced without any shards. Don't know how that could explain the over/underflow of counter value yet. @haaawk: could u please share ur thoughts?

I wrote this https://paste.centos.org/v

[2020-02-13 03:57] raphaelsc commented on #4505
The patchset c664615960930a6ec92750c3e876bfaf58912c98 says "Before this patchset empty counters were incorrectly persisted for
MC format. No value was written to disk for them. The correct way
is to still write a header that informs the counter is empty.

We also need to make sure that reading wrongly persisted empty
counters works because customers may have sstables with wrongly
persisted empty c

[2020-02-13 06:30] haaawk commented on #4505
This could lead to the corruption we're seeing. It would be interesting to see whether the number of corrupted counters grows, shinks or stays the same now that a version with a fix is being run.

Thanks for bringing this up @raphaelsc

[2020-02-13 06:47] asias opened #5800 "Active nodes wrongfully marked as DOWN"
User reported an issue that after a node restart, the restarted node
is marked as DOWN by other nodes in the cluster while the node is up
and running normally.

[2020-02-13 06:57] asias commented on #5772
Yes. We do not usually use it though.

[2020-02-13 07:24] asias commented on #4446
@slivne @bhalevy Please prioritise this bug. The simple_decommission_node_2_test test will fail after https://github.com/scylladb/scylla/issues/5769.

[2020-02-13 07:26] #5752 closed

[2020-02-13 07:26] #5796 closed

[2020-02-13 08:03] fruch opened #5802 "YCSB Dynamodb Client errors while one node network partly blocked"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200211.9eb6ac71622
Cluster size: 6 (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI):  ami-01747527c48afe65c

## Summary
While one node was disconnected partly (port=7000 and 7001) from other nodes  for 10min - (alternator-3h-alternat-db-node-25407ad1-5 [54.229.191.8 | 10.0.159.243]), client facing dynamodb api calls starte

[2020-02-13 08:53] denesb commented on #5799
I bet this can be reproduced with token restrictions as well. We do not detect such impossible ranges.

[2020-02-13 10:09] slivne commented on #5640
@penberg / @syuu1228 please have a look - if we need a documented workaround lets add it here as a start

[2020-02-13 10:12] slivne commented on #4951
so lets see how it goes in 3.3 - I am pushing this out

[2020-02-13 10:13] #4941 closed

[2020-02-13 10:18] slivne commented on #4744
the issue is fixed in 3.2,3.3

3.1 is not clear - we werent able to reproduce

[2020-02-13 10:18] #4744 closed

[2020-02-13 10:19] slivne commented on #4741
@aleksbykov I need to understand if we are getting coredumps

Stalls are not the same.

If we are getting coredumps for this on 3.3 / master please comment with the info and we will reopen

[2020-02-13 10:19] #4741 closed

[2020-02-13 10:20] slivne commented on #4739
https://github.com/scylladb/scylla-tools-java/pull/141

[2020-02-13 10:23] slivne commented on #4735
@bentsi on 3.4 does this happen

row level repair was updated in 3.2 / 3.3 to be better with regards to memory consumption - so if its related to repair it's probably fixed

[2020-02-13 10:27] slivne commented on #4724
@bhalevy closing this - it passed on the last 50 runs

if this still happens please reopen with updated links

[2020-02-13 10:27] #4724 closed

[2020-02-13 10:30] slivne commented on #4699
could be partial covered in https://github.com/scylladb/scylla-tools-java/pull/141

[2020-02-13 10:32] slivne commented on #4624
we have improved memory tracking in 3.4 - closing this issue if this still happens please open a new bug

[2020-02-13 10:32] #4624 closed

[2020-02-13 10:33] slivne commented on #4621
@penberg we have nighly dockers now - right ?

[2020-02-13 10:33] slivne commented on #4621
If so lets close

[2020-02-13 10:39] slivne commented on #4590
memory tracking was improved as part of 3.4 - as such it could have fixed the issue.

I am closing this issue if it reproduces please open a new issue

[2020-02-13 10:39] #4590 closed

[2020-02-13 10:42] slivne commented on #4550
@tzach / @avikivity ping - we need to decide what we are doing here - as can be seen there are some alters that will need to be blocked.

[2020-02-13 10:46] slivne commented on #4491
@roydahan can you see if someone can reproduce this in a dtest

[2020-02-13 10:48] slivne commented on #4456
we have this fixed in packaging - e.g. not allow to install with java11 and also working on making scylla wokr on java11

[2020-02-13 11:09] tzach commented on #4550
At the very list we should block the non supported type conversion.
If this is too hard we should disable the feature.
Both are better then a crash.

[2020-02-13 11:19] bhalevy commented on #4446
@raphaelsc:

We need to address this in higher priority than #828 and the like

[2020-02-13 11:24] bhalevy commented on #4505
f2d2a9f5b874fa5a21b8de679d02c2b73b1c624d was backported to branch-3.0 and is available in version 3.0.7

[2020-02-13 11:26] bhalevy commented on #4299
Closing as the issue was never reproduced.

[2020-02-13 11:26] #4299 closed

[2020-02-13 11:43] slivne commented on #5759
@yarongilor / @roydahan if this was reproduced with the flag enabled please update the issue - so benny can continue

[2020-02-13 11:55] yarongilor commented on #5759
A coredump is reproduced running with the ebadf flag.
test details:
[code]
coredump details:
[code]

[2020-02-13 13:07] gleb-cloudius commented on #5700
@avikivity https://github.com/scylladb/seastar-dev/tree/gleb/trace_fix_3.3_backport

[2020-02-13 13:13] raphaelsc commented on #4446
@bhalevy jumping on it in 3 2 1

[2020-02-13 13:57] bhalevy commented on #5759
The `pollable_fd_state::fd` looks corrupt.
[code]
It looks suspiciously like an address, aligned on 256 bytes.

[2020-02-13 14:01] nyh commented on #5062
A patch for #5611 and partially #5596 was committed, so that the current state of Alternator is:
1. Each table is created in its own keyspace with the same name as the table (with the "a#" prefix).
2. Each of these keyspaces starts with all the DCs in the cluster.
This means that each of the tables is now created as a "global" table, but has the option to later change its globalness separately fro

[2020-02-13 15:19] denesb opened #5804 "Abort reverse queries that read too much data"
Reverse queries have to read the entire partition into memory to reverse its rows. This means that a big enough partition, or a handful of them can single handedly cause OOM and crash the node.

The proper solution would be to implement reading in reverse from the disk, however that is a big effort. Until that is implemented we should cap the memory we are willing to use for a to-be-reversed parti

[2020-02-13 15:22] slivne commented on #5804
seems similar to: #1413

we have a counter for this  #3492

[2020-02-13 16:18] debo93 opened #5806 "Error : ConditionExpression is not yet implemented in alternator, when using latest Scylla DB docker image"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20190906.d7c7927d3
Platform (physical/VM/cloud instance type/docker): Docker

Facing an error : ConditionExpression is not yet implemented in alternator, while updating a record in a table in Scylla DB Alternator, when using "ConditionExpression".

Steps to reporoduce the error :

Running the latest docker Image enabling

[2020-02-13 16:33] bhalevy commented on #5759
[code]
found nothing

[2020-02-13 17:07] glommer commented on #5759
I've just tackled similar issues in my work with reworking our pollers.
I don't want to throw you into a tangent, but what the problem was for me was that the pollable_fd would be destroyed upon shutdown, leaving stuff alive.

It could be that we're dealing with a similar scenario, in which the pollable_fd_state is already destroyed due to a shutdown, and we're just touching garbage.

[2020-02-13 17:26] bhalevy commented on #5759
@glommer could very well be.

@scylladb/qa-team: as discussed in the past, we really need to run the nemesis tests also with scylla in debug mode to help find use-after-free and other issues detectable by the sanitizers.

[2020-02-13 17:32] glommer commented on #5759
@bhalevy debug mode is unusable.

@espindola and I talked in the past about a debug-lite mode, that still can catch *something* but takes less than 2 weeks to boot.

Maybe now it's a good time to revisit that idea. If not, I'd like to insist that we chase this corruption even lacking info. It's hard and it sucks, but better do it now then when it happens in a user site.

[2020-02-13 18:32] bhalevy commented on #5759
yes, we need to do both.
We have the sanitize mode that's supposed to be the debug-lite version, but we don't even produce relocatable package for it yet.
Regarding the usability of debug mode, it's actually becoming better and the amount of dtests that pass in debug mode keeps improving rapidly and it helps us immensely to find this kind of obscure bugs way before they reach the field.  All in al

[2020-02-13 18:56] tzach commented on #5806
https://github.com/scylladb/scylla/issues/5035

[2020-02-13 19:59] vladzcloudius commented on #1117
@tzach @slivne What's the plan for this one?

[2020-02-13 20:13] dorlaor commented on #1117
We should implement it but someone had made a comment that this CL is wrong
for their need and they shouldn't
use it

On Thu, Feb 13, 2020 at 12:00 PM vladzcloudius <notifications@github.com>
wrote:

[2020-02-13 20:30] let4be opened #5807 "Select count(*) with GROUP BY is very slow"
Let's say I have a table
[code]

[2020-02-13 20:46] #5793 closed

[2020-02-13 20:47] nyh commented on #5806
@tzach @penberg how old is this "latest Scylla docker" image? The version name 666.development-0.20190906.d7c7927d3 suggests it is from September? Is there a different way they should get the latest docker image?

The current master no longer has this message "ConditionExpression is not yet implemented" which they are reporting. It was implemented by commit b50274e8a7bdb2829e268c98fec4a2421e4f946c

[2020-02-13 21:29] fruch commented on #5806
Please take the version from the nightly dockerhub repo
https://hub.docker.com/layers/scylladb/scylla-nightly/666.development-202002131931/images/sha256-dd80d84cec51004a2d67f74d9397861bccf6d45243a6e874ea826e264caeb965?context=explore

Also can you confirm which docker image you are taking, and from which repo ?

latest on scylladb/scylla might be a candidate for 3.3-rc1

[2020-02-13 21:33] nyh commented on #5806
I think (but I'm not the docker expert here, @hagitsegev and @penberg should know better), it should also be possible to look for the right docker image using named tags, something like "scylla-master:latest" should hopefully work and really be a nightly version, not a 4 month old version?

[2020-02-13 21:46] fruch commented on #5806
That's true for the nightly repo, the main repo is formal releases only.

Looking at the documentation on our site, seems like the part explaining about the nightly repo is missing.

Unfortunately we don't have a dockerhub repo per branch, and that's can make it a bit confusing, since we are pushing from different branches into the same repo.

[2020-02-13 21:49] fgelcer opened #5808 "nodetool status returns wrong IPv6 addresses"
i'm running with 3.3 (ami-0b19be243453bd8e8 on eu-west-1) - 3.3.rc1-0.20200209.0d0c1d43188

both AWS console and local network manager show the same IPv6 address (and it is pingable using ping6):

```2a05:d018:223:f00:b111:3a2:aa5f:2295``` is the correct IPv6 address of my instance

[code]
while nodetool status returns (```2a05:d018:223:f00:b111:ffa2:aa5f:ff95```) something else:
[code]

used to g

[2020-02-13 21:50] dorlaor commented on #5807
It times out and slow because this is a complete scan. Even with per
partition limit
you go over all of the partitions. Note that the count should be one with a
limit of one.

You can change the timeout to be long enough in order to wait for the
results.

On Thu, Feb 13, 2020 at 12:30 PM Sergey F. <notifications@github.com> wrote:

[2020-02-13 21:50] fgelcer commented on #5808
[capture.txt](https://github.com/scylladb/scylla/files/4201314/capture.txt)

[2020-02-13 21:50] fgelcer commented on #5808
capture.txt is the pcap captured using tshark on one of the nodes

[2020-02-13 21:50] fgelcer commented on #5808
capture.txt is the pcap captured using tshark on one of the nodes

[2020-02-13 21:52] fgelcer commented on #5808
i have tested the same scenario using 3.2 and it doesn't show the issue

[2020-02-13 23:55] vladzcloudius commented on #1117
@dorlaor This issue is not in the context of any user and I don't see why this CL is any wrong. I can easily see when this CL can be useful.

I see no technical difficulty to implement this CL either.

[2020-02-13 23:57] dorlaor commented on #1117
Agree we should add it but from what I understood, it's wrong for the user
to use it in this case
so let's move them to the right scenario.

On Thu, Feb 13, 2020 at 3:55 PM vladzcloudius <notifications@github.com>
wrote:

[2020-02-14 00:01] vladzcloudius commented on #1117
@dorlaor Please, see my previous comment - there isn't any user which needs to be "moved" in the context of this issue.

[2020-02-14 06:44] slivne commented on #5808
Lets try to reproduce on monday morning and get the machine up - @elcallio will be able to check this ount on the machine

[2020-02-14 07:09] debo93 commented on #5806
@nyh @fruch Thanks a lot for the quick resolution.
The Docker image shared is supporting condition expression.
Just a thought, whether we should be able to consume the same functionalities when pulling the latest scylla db image or scylla db alternator image?

[2020-02-14 08:07] asias commented on #5652
OK. So the backtrace and the strange message are not the same.   @roydahan  @fgelcer As I mentioned https://github.com/scylladb/scylla/issues/5652#issuecomment-585012351, does SCT try to decode anything? I am out of ideas where the following message came from.

[code]

[2020-02-14 08:32] aleksbykov opened #5809 "memory allocation failed with 2 nodes coredumped during gemini command write operations"
*Installation details*
Scylla version (or git commit hash):3.3.rc1-0.20200213.b38193f71d
Cluster size: 3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-00385db1997704893

scylladb aws instance type:  i3.large

gemini tool run over test cluster with 3 nodes. Gemini use schema:
[code]
gemini command is next:
[code]

after warmup period (30 minutes when only writes operations executed),  2 nodes reported

[2020-02-14 08:51] asias commented on #5652
OK. After looking into the sct.log more. I found SCT called addr2line to decode. However, it tried to decode backtrace with a single address. It looks like a bug in SCT to me.
[code]

Looking more, the result of the addr2line shows the strange backtrace.
 So. this explains the strange message we saw. @roydahan Can you (your team) please investigate why does SCT deciding to decode the wrong backtra

[2020-02-14 09:06] asias commented on #5652
In the future report,  to save everybody's time, please extract the addr2line output from sct.log.  It is really hard to parse sct.log which contains multiple output streams.

Here below is an example output, I already split the starting and ending of the addr2line. There are c-s outputs, some sudo cmds, the real backtrace and so on  in the middle.

Perhpas:

Running command a1d1425c-4f08-11ea-ab6

[2020-02-14 09:09] roydahan commented on #5652
Thanks @asias.
We will check that, in general it’s very hard for SCT to detect the correct start line and end line of the backtrace.

We requested to change how Scylla prints backtraces, hope it will be done soon.

[2020-02-14 09:11] asias commented on #5652
To summary, there are no scylla errors.
1) There are only few stalls and "seastar_memory - oversized allocation: 1052672 bytes."
2) We need to improve the backtrace report from sct.

[2020-02-14 09:14] asias commented on #5652
Two things 1) correctly find the backtrace 2) make it easier to know the output of addr2line which we can append a UUID prefix to the same sct remote cmd.

Do you have the issue number for that?

[2020-02-14 11:00] kostja opened #5810 "Verify conditional batch size"
[verify_batch_size()](https://github.com/scylladb/scylla/blob/master/cql3/statements/batch_statement.cc#L222) is not called for conditional batches, as a result scylla does not:
- print a warning for an ovresized batch (>5180 statements)
- print error for huge batches (>65535 statements)
- reserve memory for batch

Discovered by stress testing/code inspection.

[2020-02-14 11:34] gleb-cloudius commented on #5810
verify_batch_size() warns only for multiple mutations, Conditional batch
always have one. I do not see the problem here.

--
			Gleb.

[2020-02-14 15:44] pgacek opened #5811 "raid_setup script does not creates all directories"
*Installation details*
[code]

While trying to run `scylla_setup --disks /dev/disk --nic eth0` on dedicated data disk the io tune setup fails because of missing of hints directory

[code]

I think for fix the issue is just as easy as add missing directory to this file
https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_raid_setup#L134

[2020-02-14 16:03] piodul opened #5812 "CDC: Generation has too few streams"
When setting up a new cluster with ccm, sometimes the last generation has fewer streams then the total number of vnodes in the cluster. The following script:

[code]

generated the following output:

[code]

The cluster was configured to have 256 tokens per node, and had 3 nodes, so the last generation should have 768 streams.
Please note that the discrepancy between 511 and 512 in the second gene

[2020-02-15 18:15] debo93 commented on #5806
The docker build suggested, doesnot allow to do cql shell inside it.
![image](https://user-images.githubusercontent.com/20627107/74593020-3e879c00-504d-11ea-926f-d78cb23a2e4e.png)

![image](https://user-images.githubusercontent.com/20627107/74593024-42b3b980-504d-11ea-8c80-baf7b91a4b38.png)

Please can you support us over the correct image name which we can use for our developement purpose for alt

[2020-02-16 06:49] eliransin commented on #4080
@vladzcloudius @gleb-cloudius asked for the full log

[2020-02-16 07:34] slivne commented on #5798
@kostja does C* support this and from which version - we have labels for cassandra compatibility.

[2020-02-16 07:38] slivne commented on #5811
I don;t think thats the solution - in developer mode there is no need to run scylla_io_setup and scylla should create the directories.

[2020-02-16 07:55] slivne commented on #5811
yet you maybe correct this is from inside scylla_io_setup (https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_io_setup#L102) that does collect the directories to check.

So there is a bug - and I think it works for everyone else, since no one uncomments the line in scylla.yaml
[code]

so when scylla_io_setup runs it does not find a configuration for hints in the yaml file an

[2020-02-16 07:59] slivne commented on #3235
closing this issue as stable  ... we are not able to reproduce this issue.

If this issue happens on a supported version please open a new issue

[2020-02-16 07:59] #3235 closed

[2020-02-16 08:02] slivne commented on #4458
@tgrabiec can you please provide a design so we will move all the features to a safer format.

We have done so in some (and I am not sure its done in the same way) - I would rather have a design and dictate that all work in the same manner and fix the old ones as well.

Thanks,

[2020-02-16 08:07] slivne commented on #5678
@dyasny where is the log from this node ?

If there is no log please close the issue - I am not accepting issues with a single error line

[2020-02-16 08:09] slivne commented on #4080
closing this issue.

QA if you hit this issue again please provide full logs - we are assuming its a distributed query on counters prior to the node being fully up - but don't know if this is the case

[2020-02-16 09:09] nyh opened #5813 "docs/alternator/getting-started.md contains outdated/misleading docker information"
`docs/alternator/getting-started.md` suggests that users who want to try Alternator with Docker use the docker image  `scylladb/scylla-nightly:alternator`. However, this is an antique snapshot which we built for Alternator's announcement, and never got updated since.

I think we need to change this document to ask the user to get the **latest nightly** docker image (I have no idea how to do that,

[2020-02-16 09:18] nyh commented on #5813
Ok, I found the answer to how to run the latest nightly build in docker:
[code]
This is probably what we should document in `getting-started.md`.
The `docker pull` command is important, otherwise docker in its infinite wisdom will just assume, without checking, that some antique daily Scylla you downloaded in the past is still the latest version.

[2020-02-16 09:33] nyh commented on #5806
I can reproduce the problem with the following commands to to get and run the latest docker image:
[code]

Unfortunately the problem is this:
[code]
So Scylla doesn't start.
@pekka, we need the "--alternator-port" image option to also enable the LWT feature - can you please do that?

In the meantime, @debo93, you can enter the image with bash (as you did), edit `/etc/scylla/scylla.yaml`, and add:

[2020-02-16 09:59] nyh commented on #5806
Ok, I found how to create a docker image with the "experimental" option already set:
[code]
Note the extra "--experimental 1".
Now cqlsh works (after about a minute of boot), without any changes in the container.

[2020-02-16 10:16] roydahan commented on #5652
https://github.com/scylladb/scylla/issues/5464

[2020-02-16 10:23] roydahan commented on #5464
@avikivity, After verifying with support and field, it's safe to assume that users send their logs in a way that long backraces won't get truncated.
We have it in some places even now (seastar as mentioned above).

Would it be ok to start with one-line backtrace and later optimize its length?

[2020-02-16 10:30] bhalevy commented on #5697
Hit again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/387/artifact/logs-debug.2/1581751046550_cql_tracing_test.TestCqlTracing.tracing_shutdown_test/node2.log

Note that the errors start right after initialization completed... (also in the original report)
[code]

[2020-02-16 10:47] slivne commented on #5697
@Eliran Sinvani <eliransin@scylladb.com> could it be related to your
changes ?

On Sun, Feb 16, 2020 at 12:30 PM Benny Halevy <notifications@github.com>
wrote:

[2020-02-16 10:52] slivne commented on #5789
fixed by 8581617e783869ae8b57adf2ce007903ba0c9d2b

[2020-02-16 10:52] #5789 closed

[2020-02-16 10:53] slivne commented on #5788
expect its the same as #5789 fixed by 8581617e783869ae8b57adf2ce007903ba0c9d2b - please create a new issue if there is still an issue.

Please provide the exact operation beeing executed

[2020-02-16 10:53] #5788 closed

[2020-02-16 10:55] slivne commented on #5614
@eliransin please reference the issue of ordering the deletion/truncation of views/index prior to base table

[2020-02-16 11:02] nyh commented on #5806
@debo93 I'm closing this issue - the original ConditionExpression problem is gone if you use the latest build, and you can always fetch the most latest build with the "docker pull" command, and if you add the "--experimental 1" to the docker run command, it will actually work. Please reopen (or better yet, open a new issue) if you're facing more problems. Thanks.

[2020-02-16 11:02] #5806 closed

[2020-02-16 12:02] #5688 closed

[2020-02-16 12:02] #5758 closed

[2020-02-16 12:02] #5782 closed

[2020-02-16 12:02] #5611 closed

[2020-02-16 12:02] #5037 closed

[2020-02-16 12:30] eliransin commented on #5697
@slivne It probabely is related, but I believe it is related but not directly caused by it. I will investigate it.

[2020-02-16 12:44] juliayakovlev opened #5814 "Segmentation failure and coredump during node stopping (LWT load is running)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200215.e93c54e837
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0fca3be23e5a10ec9

Longevity: longevity-lwt-3h (Run LWT load during node operations.)

Received segmentation fault and coredump during node stop.
It happened a few times when during node operation the node was stopped. Segmentatio

[2020-02-16 13:14] avikivity commented on #5786
Backported to 3.3, 3.2, 3.1

[2020-02-16 13:15] avikivity commented on #5758
Not a regression, not backporting.

[2020-02-16 13:19] avikivity commented on #5769
Backported to 3.3, 3.2, 3.1

[2020-02-16 13:19] amnonh opened #5815 "estimated_historgram: switch to pseudo floating point for bucket calculation"
Based on @avikivity comment:
https://github.com/scylladb/scylla/pull/4828/files#r374765085

The current implementation holds an array of bucket limit and uses binary search to find the right bucket when adding a number.
Instead, use a pseudo gloating point representation, this will reduce the insertion cost and reduce memory consumption by half by eliminating the bucket limits array

[2020-02-16 13:21] avikivity commented on #5752
Not a regression, so not backporting.

[2020-02-16 13:21] avikivity commented on #5747
Minor, experimental feature, not backporting.

[2020-02-16 13:22] avikivity commented on #5741
That is what I meant. What's the other case? This can be important.

[2020-02-16 13:28] avikivity commented on #5700
Backported to 3.3. The problem also exists in 3.1 and 3.2, but there the problem is only mixed-up traces, not crashes, so will defer backport there until we have more experience with the patch. Keeping the Backport candidate label.

[2020-02-16 13:29] juliayakovlev opened #5817 "Semaphore timed out "_system_read_concurrency_sem" during node start (LWT load is running)"
Scylla version (or git commit hash): 666.development-0.20200215.e93c54e837
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0fca3be23e5a10ec9

Longevity: longevity-lwt-3h (Run LWT load during node operations.)

The test performs different node operations in parallel with running LWT queries.

One of the nodes was restarted with resharding:
1. stop node
2. change murmur3 para

[2020-02-16 13:38] avikivity commented on #5710
Backported to 3.3, 3.2.

[2020-02-16 13:39] avikivity commented on #5687
master-only problem, not backporting.

[2020-02-16 13:45] avikivity commented on #5651
Backported to 3.3, 3.2, 3.1.

[2020-02-16 13:46] avikivity commented on #5656
Backported to 3.3, 3.2, 3.1.

[2020-02-16 13:47] avikivity commented on #5682
Already backported to 3.2, 3.2.

[2020-02-16 13:49] avikivity commented on #5670
Backported to 3.3. Will consider for 3.2 after more mileage.

[2020-02-16 13:54] avikivity commented on #5630
Backported to 3.3 (was already in 3.2).

[2020-02-16 13:55] avikivity commented on #5630
and 3.1.

[2020-02-16 14:01] avikivity commented on #5598
Backported to 3.2 (3.3 not vulnerable).

[2020-02-16 14:05] avikivity commented on #5560
Backported to 3.1, 3.2 (3.3 already had it).

[2020-02-16 14:08] avikivity commented on #5552
Backported to 3.3. @bhalevy please provide a backport for 3.2, a function time_point_to_long() does not exist there.

[2020-02-16 14:10] avikivity commented on #5541
Backported to 3.3. I'm a little wary of backporting to older releases, let's get more mileage with the patch.

[2020-02-16 14:11] avikivity commented on #5531
Backported to 3.2, 3.1 (3.3 already had it).

[2020-02-16 14:59] avikivity commented on #5413
"cosmetic" bug, not backporting.

[2020-02-16 15:09] syuu1228 opened #5818 "/etc/sysctl.d/99-scylla-coredump.conf is not valid on CentOS8"
On scylla_coredump_setup, we creates /etc/sysctl.d/99-scylla-coredump.conf by following pattern:
[code]
so we have 6 arguments, but this is not correct on CentOS8, it causes an error:
[code]
Because new argument produced at systemd v238:
https://github.com/systemd/systemd/commit/f45b8015513d38ee5f7cc361db9c5b88c9aae704#diff-06f104abc8d8c746be4ecc40858585d4

Also, CentOS8 uses systemd-coredump by d

[2020-02-16 15:17] avikivity commented on #5360
Backported to 3.2, 3.1 (3.3 already safe).

[2020-02-16 15:21] avikivity commented on #5054
Major feature, not backporting.

[2020-02-16 15:21] avikivity commented on #5008
Enhancement, not backporting.

[2020-02-16 15:47] avikivity commented on #4839
No 3.2 problems reported with this. Will wait one more week.

[2020-02-16 15:48] avikivity commented on #4674
This issue affects developers rather than production, so will not backport.

[2020-02-16 15:48] avikivity commented on #4675
Feature not bug, not backporting.

[2020-02-16 15:49] avikivity commented on #4642
Will wait one more week with 3.2.

[2020-02-16 15:51] avikivity commented on #4536
Backported everywhere already.

[2020-02-16 16:01] nyh commented on #5793
Started backporting to 3.3, 3.2 and 3.1 (I'm not sure a backport to 3.1 is required because 3.3 RC is already out, but @psarna specifically requested for one).

[2020-02-16 16:05] roydahan commented on #4491
Opened a task for it, i'll assign someone.

[2020-02-16 16:28] nyh commented on #5793
Cherry-picking commit e93c54e83798190a0d0bbc80c11fb37dcb604132:
Backported to next-3.2.
Unfortunately couldn't backport to next-3.1 (configure.py making some opaque complaints about my uild system), nor to next-3.3 (next-3.3 branch contains compilations errors...).
So leaving the "Backport candidate" tag for now. Backport to 3.3 and 3.1 still needs to be done.

[2020-02-16 18:23] nyh commented on #5552
@avikivity, dequeued backport to 3.3, you backported only one patch from @bhalevy's series, and the result does not compile, with errors like:
[code]
 So a new backport to 3.3 is still needed.

[2020-02-16 18:30] nyh commented on #5793
Backported to next-3.3 as well.
If we could agree that now that 3.3 is out as RC we will not have further 3.1 releases, we are done with this backport-candidate. Otherwise, we still need to backport to next-3.1 too.

[2020-02-16 19:10] slivne commented on #5814
I am not aware of any similar bug with non LWT.

[2020-02-16 19:12] slivne commented on #5812
@piodul the following comment

makes it hard o understand if there is a bug or not

[2020-02-16 19:13] slivne commented on #5812
I am currently marking for 3.4 - assuming this is a bug

[2020-02-16 19:15] slivne commented on #5809
@eliransin I am assiging this to your team please have someone look at this.

[2020-02-16 19:21] slivne commented on #5802
This makes sense - dynamodb is not token aware - so the node receiving the request is not a replica of the data and as such can't necessarily serve a request that is LOCAL_ONE.

Having said that - AFAIK we do not close a nodes CQL port on internal communication being closed - @bentsi / @fruch did the same test pass for CQL.

@asias / @gleb-cloudius - do we close CQL port when the node looses conne

[2020-02-16 19:26] slivne commented on #5795
Do we have an issue about CDC log truncation ?

Did we agree that would be the behavior e.g. when the base table is truncated the log will be truncated as well ?

How do we signal hat to the client reading the records - if at all.

[2020-02-16 19:30] slivne commented on #5784
this is part of C* 4.0 not 3.X

[2020-02-16 19:32] slivne commented on #5787
@fruch can you please help gleb find the missing info

[2020-02-16 19:43] slivne commented on #5737
@avikivity / @tgrabiec any view on this ?

If we want todo this we have todo it for 3.4

[2020-02-16 19:56] slivne commented on #5722
@penberg AFAIK you fixed a similar issue on enterprise yet I am not sure this was merged to master - can you please check

[2020-02-16 19:58] slivne commented on #5707
@syuu1228 / | @avikivity / @glommer  any view on the above

[2020-02-16 20:05] slivne commented on #5727
Since we are providing multiple interfaces in scylla thrift/cql/alternator/redis - it is not clear if selecting an interface that is unique in capability to expose more information is the correct approach.
At the end we will want users (no matter which protocol they are using) to be able to detect hot partitions or large partitions.

An alternate approach would be to expose all of these over REST

[2020-02-16 20:09] fruch commented on #5802
@slivne the LOCAL_ONE is a LWT initiate call, we did yet test LWT with this new nemesis as far as I know.

Most of our CQL stress are with QUORUM, hence we won't see t error, in

[2020-02-16 20:17] fruch commented on #5787
@slivne  I thought the conclusion was that we didn't have enough nodes for running nemsis, we decommissioned one node of 3 while RF=3.

I think we could close this one.

[2020-02-16 20:38] nyh commented on #5787
@gleb-cloudius you asked what kind of requests Alternator makes, well, writes always use CL=LOCAL_QUORUM and a cas() which (in the YCSB write-only case) doesn't read anything, but still does the write through cas() with LOCAL_SERIAL serialization. I assume that in the message "received 0 responses and 1 failures from 2 CL=LOCAL_SERIAL", the "2" is the CL (i.e., quorum for RF=3) and "CL=LOCAL_SERIA

[2020-02-16 20:48] fruch commented on #5787
@fruch I was using the DNS solution here, So it was keep sending, without me having direct control to which node the requests are going.

I'll take a look tomorrow again if any print in the logs suggesting from which node this failure originate.

[2020-02-16 21:32] nyh commented on #5802
As @slivne I don't think this is a bug. You fabricated a situation where clients can send their requests to the nemesis-victimized node, but this node cannot connect to other nodes that it needs to actually perform this request. Do you think this represents a real-world scenario we need to support?

An analogous LOCAL_ONE request would succeed in a **CQL** test because CQL will normally send the r

[2020-02-16 23:27] #5813 closed

[2020-02-17 02:21] asias commented on #5802
No. We do not close the CQL port when we mark other nodes down.

[2020-02-17 03:20] dkropachev commented on #5802
38dba915-d55a-42db-b7b6-ba24e77ca277

[2020-02-17 05:55] bhalevy commented on #5794
Seen again in https://jenkins.scylladb.com/job/scylla-master/job/dtest-debug-random/lastFailedBuild/artifact/logs-debug.2/1581750374237_secondary_indexes_test.TestSecondaryIndexes.test_truncate_base/node2.log

[2020-02-17 06:41] haaawk commented on #5812
This will be fixed by custom partitioner I'm working on. One of the steps is waiting for @avikivity and @nyh re-reviews. Then I will be able to do the final step which is using custom partitioner for CDC and that would guarantee the success and good performance of stream generation.

[2020-02-17 06:45] haaawk commented on #5795
There's no issue with CDC log truncation. The issue here is that the cluster was reused without being properly cleaned up first. As far as I know, @aleksbykov successfully repeated the benchmark with quite good results after @piodul has instructed him how to properly clean up the cluster. Closing.

[2020-02-17 06:45] #5795 closed

[2020-02-17 07:05] tzach commented on #5727
Good point, both REST and CQL have advantages:
### CQL
- Support Auth and RBAC
- Allow easy access for Cloud users

### REST
Easier to consume by mgmt applications

[2020-02-17 07:14] amnonh commented on #5727
I believe that it should be done in a systematic way.
i.e. create a mapping between the API (based on its swagger definition) to virtual table/s, so it will be available through all the protocols.

Both Alternator and Redis and potential other protocols, should have access to tables, so we should implement it in a way that an alternator/redis/cql client will be able to access those data.

In gener

[2020-02-17 07:17] tzach commented on #5818
@slivne CentOS support is 3.3

[2020-02-17 07:27] slivne commented on #5727
Amnon's suggestion whale its not is not possible

Alternbaotr users will not be able to query those tables - they are able to
query specific tables with specific structure.

The same probably goes for Redis (yet I am not an expert on that).

The solution could be Rest + CQL.

On Mon, Feb 17, 2020 at 9:14 AM Amnon Heiman <notifications@github.com>
wrote:

[2020-02-17 07:36] slivne commented on #5802
@Asias He <asias@scylladb.com>  / @Gleb Natapov <gleb@scylladb.com>  - does
C* close CQL ports on a node when other nodes are shown as down.

On Mon, Feb 17, 2020 at 5:20 AM Dmitry Kropachev <notifications@github.com>
wrote:

[2020-02-17 07:38] aleksbykov opened #5821 "Segmentation Fault during gemini warmup period with base table TWCS"
*Installation details*
Scylla version (or git commit hash): 3.3.rc1-0.20200213.b38193f71d with build-id a992abf64e75cd268a279158c7089d041ea940f5
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): (ami-00385db1997704893)
instance type:  i3.large

Gemini command run over test cluster with 3 nodes. Next schema was used:
[code]

next command was executed
[code]
During warmup period (only write operation

[2020-02-17 07:52] gleb-cloudius commented on #5814
On Sun, Feb 16, 2020 at 11:10:29AM -0800, Shlomi Livne wrote:

This is in the bounce to shard code, so definitely LWT related.

--
			Gleb.

[2020-02-17 07:54] gleb-cloudius commented on #5802
On Sun, Feb 16, 2020 at 11:36:46PM -0800, Shlomi Livne wrote:

I do not understand the question. Does Cassandra close CQL port on an
alive node when other nodes are considered to be down? Is this the
question? How this even make sense?

--
			Gleb.

[2020-02-17 07:56] gleb-cloudius commented on #5787
On Sun, Feb 16, 2020 at 12:17:01PM -0800, Israel Fruchter wrote:

Yes. Also the two other nodes were overloaded.

--
			Gleb.

[2020-02-17 08:02] bhalevy commented on #5628
@scylladb/scylla-maint please backport 4839ca8 to all live branches (See #5765)

[2020-02-17 08:10] slivne commented on #5464
@avikivity do we have your ok to change the backtarce to a single line (without the additional "compression") - if so I'll assign it to someone

[2020-02-17 08:12] slivne commented on #5652
stalls in repair

[2020-02-17 08:17] asias commented on #5652
According to the backtrace here (https://github.com/scylladb/scylla/issues/5652#issuecomment-586165418), the stall comes from memory, not repair

[2020-02-17 08:28] elcallio commented on #5808
What machine? And check out what? Since server address is not exactly automatically resolved, I would assume that whatever is showing in nodetool is also in scylla.yaml?
ifconfig?
netstat -nlp?
raw api output?

[2020-02-17 08:35] pgacek commented on #5811
and there is my config scylla.yaml

It's not commented.

[code]

[2020-02-17 08:39] gleb-cloudius commented on #5817
The cluster is overloaded. Run with less load.

[2020-02-17 08:42] fgelcer commented on #5808
wrong, in scylla.yaml we see the correct IPv6 address, hence the cluster is up and running.
I can create an environment for you, from one of our manager sanity tests, if you will.

[2020-02-17 08:59] nyh commented on #5802
According to what @gleb-cloudius told me (if I understood him correctly), also for a CQL workload, port 7000 is used for all communication between coordinators and replicas, so if port 7000 is artificially blocked, requests which need multiple replicas (e.g., CL>1) will fail. So I don't understand the point of this issue. If the scenario of blocking port 7000 is interesting at all (I think it isn'

[2020-02-17 09:00] bhalevy commented on #5552
I'm preparing backport branches for 3.3 and 3.2

[2020-02-17 09:32] elcallio commented on #5808
Yes please.

[2020-02-17 09:55] fgelcer commented on #5808
nodetool status

Datacenter: UNKNOWN_DC
======================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address                                Load       Tokens       Owns    Host ID                               Rack
UN  2a05:d018:223:f00:ff95:6149:ffb5:3266  433.04 KB  256          ?       a2c865a5-1309-4cc0-a4cb-29c7492a18a6  UNKNOWN_RACK
UN  2a05:d018:223:f00:ff99:921c:2362:ff

[2020-02-17 09:56] fgelcer commented on #5808
@elcallio , node can be accessed on 34.241.115.182

[2020-02-17 10:11] elcallio commented on #5808
I don't see what is wrong here.
[code]

The eth0 interface is `2a05:d018:223:f00:97af:f4d9:eac2:6a0f`, scylla is bound to the address, and it shows up in the output.

All local info says consistent.

[2020-02-17 10:18] fgelcer commented on #5808
nope, look closely... they are similar, but the addresses are different:
[code]

[2020-02-17 10:41] elcallio commented on #5808
Sorry, missed that (confused by the talk of `aa5f:2295` above).
Looks like somehow the accumulator mask in print routine is not cleared...?

[2020-02-17 11:20] bhalevy commented on #5759
The file_desc was definitely overwritten:
[code]

[2020-02-17 11:21] eliransin commented on #5759
Looks like a networking issue,
According to @roydahan all scenarios ran with TLS encryption server and client sides.
@gleb-cloudius @elcallio can you have a look?

[2020-02-17 11:21] bhalevy commented on #5765
@xemul we backport now only 3.1 and newer release, and to enterprise 2019.1

[2020-02-17 11:24] roydahan commented on #5821
Isn't the same as #5809 ?

[2020-02-17 11:35] bhalevy commented on #5552
@avikivity backport to 3.3 ready here:
https://github.com/bhalevy/scylla/tree/validate-time-uuid-for-3.3
Test: unit(dev), {UUID,cql_query}_test(debug)

[2020-02-17 12:29] yarongilor opened #5823 "cql: a select query, restricted by a partition key that has also index, fails"
Installation details
Scylla version (or git commit hash): 3.2 - Scylla version unstable/branch-3.2:202001092052
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): dtest env

dtest:
[code]
failure:
[code]

[2020-02-17 14:32] elcallio commented on #5808
So, a simple test to parse and re-print the addresses in question yields no errors. There has been no changes in the address formatting code since 2019-12-04, which should be 3.3 no?
On the other hand, the pattern above does not indicate any consistent "leak" of byte mask/accumulator, so I am not exactly eager to yell "compiler error" either.
But I cannot repro any issue parsing/printing locally.

[2020-02-17 14:45] elcallio commented on #5808
I've pushed a patch to https://github.com/elcallio/scylla.git. Is it possible for you to build this with the same compiler as the image was built with and test?

[2020-02-17 15:01] fgelcer commented on #5808
in general lines, the test uses an AMI pre-created with specific version, or in my case, i'm calling latest AMI created for 3.3.
I will check later how i can create an AMI with your patch e get a ride to it.

[2020-02-17 15:12] raphaelsc commented on #4909
@bhalevy I think we should possibly limit this behavior to major compaction. When doing regular compaction with incremental compaction enabled, we'll have compaction submitting deletion requests at every 2GB of compacted data, on average, which results in compaction being blocked until deletion completes. It's better to allow compaction to proceed in parallel to deletion requests.

[2020-02-17 15:36] dyasny opened #5824 "RFE: Support for arithmetic functions"
This is a request to implement arithmetic functions inside CQL, to match https://issues.apache.org/jira/browse/CASSANDRA-11935

[2020-02-17 15:40] eliransin commented on #5596
According to https://docs.scylladb.com/getting-started/ddl/#auto-expand-replication-factor
there is a need to run this every time a dc is added. @slivene is that what you meant?

[2020-02-17 15:54] bhalevy commented on #5552
Backport to 3.2: https://github.com/bhalevy/scylla/tree/validate-time-uuid-for-3.2
bhalevy/scylla@f38f3663a9760b3d4f80b9b8d6b17a255a77d0ec
Test: unit(dev), {UUID,cql_query}_test(debug)

[2020-02-17 16:04] aleksbykov commented on #5821
it looks like different issues
it is memory allocation failure in #5809
In this it is segmentation fault, and i didn't find any log messages regarding memory allocation failure.

[2020-02-17 16:12] aleksbykov commented on #5821
similar segmentation fault happened when gemini run with base table using LCS. Again Segmentation fault happened at  the beginning of run:
Schema:
[code]
Coredump
[code]
decoded segmentation fault:
[code]

[2020-02-17 16:21] bhalevy commented on #4909
@raphaelsc the synchronization with background deletions happens in table::on_compaction_completion, and passed to compact_sstables as part of the replacer function.
If it's called for each exhausted fragment, should we define a callback to be called when regular compaction is done.  I don't want to synchronize with deletions only for major compaction since I don't want background deletions to acc

[2020-02-17 16:28] bhalevy commented on #292
@xemul are you working on this in the context of another issue?

[2020-02-17 16:29] raphaelsc commented on #4909
On Mon, Feb 17, 2020 at 1:21 PM Benny Halevy <notifications@github.com>
wrote:

like to wait for all deletions of a compaction to complete? currently, we
do call on_compaction_completion() for each exhausted sstable(s), but
currently we do wait for their deletion to complete.

_sstable_deletion_sem guarantees that there's only one deletion request
going on per table in a given shard.

[2020-02-17 16:41] bhalevy commented on #4909
But they'll accumulate in a queue as background tasks that wait on the _sstable_deletion_sem.
It'd be better to formalize a queue for sstable deletions and let a thread started by the sstable manager flush this queue, then when adding to the queue, limit its length so that the compaction job would wait for the queue to return below the threshold before adding more sstables to delete.
And then wait

[2020-02-17 16:44] nyh commented on #5596
Following up with what @eliransin said, it seems that the mere fact that @psarna didn't explicitly list the different DCs in the system, and just listed the RF aiming for it to be applied for *all* (currently) existing DCs, this is exactly the "Auto Expand" as explained in the document to which @eliransin pointed.
So I think we can close this issue. @slivne , feel free to reopen if we are actually

[2020-02-17 16:44] #5596 closed

[2020-02-17 16:49] slivne commented on #5596
can you please paste desc schema for a keyspace/table for alternator so it will be clear what is used

[2020-02-17 17:04] raphaelsc commented on #4618
@denesb for TWCS, each sstable (which belongs to more than one shard) is individually resharded. Given that each time window is represented by only 1 sstable in each shard, and reshard may produce N (where N <= smp count) output sstables for each input sstable (each output sst belonging to a different shard), it can happen that when resharding completes, each shard will have N sstables per time wi

[2020-02-17 17:26] gleb-cloudius commented on #5821
Dup of #5700

[2020-02-17 17:26] #5821 closed

[2020-02-17 17:30] bhalevy commented on #5794
@psarna @eliransin the following patch prevents the crash, but can this happen legally?
[code]

[2020-02-17 18:13] ManManson opened #5825 "cql: forbid inserting NULL values into columns with collection types (via prepared statement)"
*Installation details*
Scylla version (or git commit hash): 70d914ad5b35d9c6b93032427461d2dbac47561f

Assume the following test table setup:
[code]

If we try to insert a `[null]` value into `test` using an ordinary non-prepared statement, we observe the following error message, which is expected:
[code]

But if the same query with the same arguments is executed via prepared statement, Scylla does

[2020-02-17 18:15] ManManson commented on #5791
Closing as "invalid", because we should not even be able to INSERT nulls in a collection column at first place. More detailed description of an underlying problem is given in https://github.com/scylladb/scylla/issues/5825.

[2020-02-17 18:15] #5791 closed

[2020-02-17 18:17] ManManson commented on #5824
Looks like a duplicate of https://github.com/scylladb/scylla/issues/2693.

[2020-02-17 18:33] dyasny commented on #2693
This has been requested by a customer

[2020-02-17 18:47] tzach commented on #5824
Indeed

[2020-02-17 18:47] #5824 closed

[2020-02-17 20:34] syuu1228 commented on #5725
I also able to reproduce this issue on non-EC2 environment too.
And it occurs on scylla-3.1, 3.2, 3.3 and master.
I think the change between 3.0 and 3.1 causes the problem.

[2020-02-17 21:34] tgrabiec opened #5827 "User defined functions run in the default scheduling group"
seastar::async() doesn't inherit the current scheduling group by default.

In selection.hh:
[code]

[code]

[2020-02-17 21:46] syuu1228 opened #5828 "scylla_setup without --nic shows up strange error when eth0 does not exists"
Since we set 'eth0' as default NIC name, we get following error when running scylla_setup in non-interactive mode without --nic parameter:
[code]
It looks strange since user actually does not specified 'eth0', they might forget to specify --nic.
I think we should shows up usage, when eth0 is not available on the system.

[2020-02-18 00:21] amoskong opened #5830 "offline install with relocated packages"
*Installation details*
Scylla version (or git commit hash): master
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

I tried to offline install scylla on a GCE (centos7) instance by relocated packages, it's completed, but not a good practice.

It's not good to install scylla by relocated packages in production environment with firewall limit. There are some external setup or attribute chang

[2020-02-18 00:22] amoskong commented on #5830
The original offline installer depends on RPM or deb packages, so it's also easy to upgrade or rollback.

[2020-02-18 00:32] #5699 closed

[2020-02-18 00:32] #5487 closed

[2020-02-18 00:32] #5781 closed

[2020-02-18 02:09] asias opened #5831 "Add change cluster ip adddress procedure documents and tests"
Scylla supports change IP address of a node without replacing the node or decommissioning and adding a new node with new IP address.

We only need to

1) shutdown the node
2) change ip address of the node in scylla.yaml, e.g., listen_address, rpc_address
3) restart the node

For example:

- Start n1, n2, n3 (with ip address 127.0.0.3)
- Shtudown n3
- Start n3 with a new ip address, e.g., listen_ad

[2020-02-18 06:07] denesb commented on #4618
Right, I think we can close this then.

[2020-02-18 06:07] #4618 closed

[2020-02-18 07:35] nyh opened #5832 "alternator: limit huge requests"
As written in https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html, DynamoDB has a strict 400KB limit on an item size. This naturally limits the size of CRUD requests (GetItem, PutItem, UpdateItem, DeleteItem), whose request and/or response may contain the entire item - which is now limited in size. BatchGetItem and BatchWriteItems have higher limits on their response and r

[2020-02-18 08:10] psarna commented on #5596
@slivne the schema depends on how many datacenters exist in the cluster. The template looks like this:
[code]
and here's a real life example:
[code]

[2020-02-18 08:10] slivne commented on #5830
@amoskong I need the list of packaged that the current version dependes on

Java can be installed externally

Scylla-Server should not have any external dependency
Scylla-JMX - what are the additional missing dependencies (aside of Java)
Scylla-Tools-Java whar are the additional dependencies (aside of Java)

[2020-02-18 08:12] bhalevy commented on #5552
@avikivity I noticed you only grabbed the backport to 3.2, but not to 3.3.
Just wanted to make sure it didn't fall between the cracks.

[2020-02-18 08:16] slivne commented on #5596
OK - and this is computed by scylla when the table in alternator is created
since you used the NetworkToplogyStretagey, replication_factor=3 (so scylla
computed this based on the existing DCs)

If so thats correct and great

On Tue, Feb 18, 2020 at 10:10 AM Piotr Sarna <notifications@github.com>
wrote:

[2020-02-18 08:23] psarna commented on #5794
@bhalevy it's a bug from my 9e0b3cad1e, which assumes that the clustering key must exist, which is obviously not true.

Your patch is almost good, but it will create an incorrect slice in the last few lines. The right way would be to:
1. Only call `base_ck = generate_base_key_from_index_pk<...` if the base schema **has** a clustering key - can be checked with `_schema->clustering_key_size() == 0`.

[2020-02-18 08:24] psarna commented on #5596
Yes, it's computed during table creation, for all datacenters existing in that moment (based on information taken from the snitch).

[2020-02-18 08:51] psarna commented on #5794
@bhalevy if you have higher priorities than this patch, then let me know and I can prepare it as well, otherwise just /cc me once it's posted and I'll review it.

[2020-02-18 09:00] nyh commented on #5024
Another relevant test: `test_returnvalues.py::test_update_item_returnvalues_nested` - testing an `UpdateItem` operation on a nested attribute path and how it is returned by `ReturnValues`.

[2020-02-18 09:15] eliransin commented on #5614
We will solve by serializing view drops and table drops to occur one after the other and not in parallel.
As discussed in amnon's pr https://github.com/scylladb/scylla/pull/5713

[2020-02-18 10:31] #5493 closed

[2020-02-18 10:36] denesb commented on #5741
Imagine a situation where we run out of memory so `signal()` fails. Currently this means we fail to admit the next queued reads. If all the currently executing reads finish, but fail to `signal()` we might end up with enough resources on the semaphore to admit the queued reads, but having failed to do so due to `std::bad_alloc`. The reads will stay in the queue until they time out, or some read fi