[2018-01-03 19:47] vladzcloudius commented on #2731
@slivne To begin with, 2.0 seem to work just fine with GCE:
[code]

[2018-01-03 20:14] vladzcloudius commented on #2731
@slivne Please, let me know if we want to fix the 1.7? - it's a single line patch (redirect the output of `cd -` to /dev/null).

[2018-01-03 20:14] hakuch commented on #3096
For the record, https://github.com/scylladb/scylla/commit/ba6a41d397923c45045c4dddcbfa2c667a3a59ef [did not](https://groups.google.com/d/msg/scylladb-dev/q-O7r24m5i0/jvPKUhGkDQAJ) break this.

[2018-01-04 00:20] veramine opened #3116 "Materialized view rows not being written, seems "stuck""
Installation details
Scylla version 2.0.2
Cluster size: 1
OS: AWS AMI ami-9509d3ed
Hardware: i3.large

Repro steps:

- Boot AWS VM
- Edit scylla.conf, uncomment experimental: true
- cqlsh -f schema.txt
- Restart either the entire VM or just the databsae (sudo systemctl restart scylla-server)
- Insert row in base table programatically (not with cqlsh)

Expected result: Row appears in MV
Actual resu

[2018-01-04 00:22] glommer commented on #3116
@duarten seems this isn't really fixed

[2018-01-04 01:21] asias commented on #3115
How often did you see the backtrace on node1  & 2?

[code]

[2018-01-04 02:02] asias commented on #3115
Ok, I managed to reproduce the backtrace with master. The backtrace is different than the original report (related to partition_checksum) though.

The backtrace happens AFTER the streaming for the repair is failed.

[code]

[2018-01-04 03:43] asias commented on #3115
Another one:

[code]

[2018-01-04 06:37] #1629 closed

[2018-01-04 06:47] asias commented on #3115
@gleb-cloudius could you help taking a look at the backtrace here: https://github.com/scylladb/scylla/issues/3115#issuecomment-355179875

The backtrace points to the following code. The segfault happens after line 11. I am not sure why.

[code]

[2018-01-04 07:52] asias commented on #3115
@gleb-cloudius Never mind. I think I found the problem.

[2018-01-04 08:29] slivne commented on #2731
no need to backport 2.1 is almost out :)

[2018-01-04 08:29] #2731 closed

[2018-01-04 16:01] duarten commented on #3116
Maybe the updates are arriving while the schema is still being loaded, and the base table is not yet linked with its materialized views.

[2018-01-04 16:30] veramine commented on #3116
Yes that might help explain the high rate of this condition after the initial scheme load.  Can you think of any way a materialized view could get “unlinked” after it has been working for days or weeks at a time?

One other piece of information - it is usually EVERY materialized view that stops being written to.  (We use a bunch of them..) Are there any materialized view “kill switch” conditions

[2018-01-04 16:55] duarten commented on #3116
They will be "unlinked" on scylla restart, while we don't load both base and view tables.

There's no killswitch. The only thing that can be done by the user is to except delay writes for a bit after a restart (if this is indeed the problem).

[2018-01-04 16:55] nyh commented on #3116
@veramine this may be is a silly question, but did you reboot your servers when the problem happened?
@duarten I think there may be two issues here:
1. It seems we are loading the "views" system table and while doing so, some of the view tables it tries to find do not exist. Do we have any idea how this could happen? Maybe some problem in schema distribution, or its order? So it seems some of the

[2018-01-04 16:59] duarten commented on #3116
@nyh We should find all the views, it might just take a while to link all of them to the base tables. As for logging, not sure if that can do us much good; we should look into leveraging the hinted handoff stuff.

[2018-01-04 17:04] nyh commented on #3116
@duarten if I understood @veramine correctly, his problem wasn't temporary for a few seconds during the boot - rather Scylla got to a "state" where view updates were failing - perhaps because the view replicas didn't know about the view tables they were supposed to have. Maybe we have a bug in that area.
On the other hand, I don't understand how "programmatic" vs "cql" makes a difference here. @du

[2018-01-04 17:07] duarten commented on #3116
The only difference between "programmatic" vs "cql" is that one if much faster than the other, hence my suspicion of it happening during boot. If it enters such a state after boot, then it can only be that the nodes are partitioned. I don't have cycles to look extensively into this now.

[2018-01-04 17:14] veramine commented on #3116
Sorry for the confusion, and thanks for looking into this.

The server reboot and "programmatic" vs cqlsh is related to triggering the state.  Once in the state, no MV writes ever happen again ever.  So it's not just a temporary state, it is a permanent one.  And once in the state, neither programmatic nor cqlsh writes to the base table are propagated to the views.

If it would be helpful, I would

[2018-01-04 19:15] duarten commented on #3116
I see, then it's definitely some bug, probably related to loading the schema tables. Will investigate asap.

[2018-01-04 19:21] veramine commented on #3116
Great, thanks Duarte.  I was just doing some more testing this morning and had an easier time reproducing the issue after a VM restart (not just scylla-server service restart).

[2018-01-04 19:48] veramine commented on #3116
On this particular instance, that column family UUID corresponds to the base_table_id for the very first row in the system_schema.views table:

[code]

[2018-01-05 03:45] frank8989 opened #3117 "Link command fail during drop table cause transport shutdown"
*Installation details*
Scylla version (or git commit hash): 1.7.5
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS Linux release 7.2.1511 (Core)

1.Drop a table in cqlsh, at the same time, write data into another table.
2. Find in the log:
 Jan 02 23:39:28  kernel: type=1702 audit(1514907568.425:5): op=linkat ppid=1 pid=127005 auid=4294967295 uid=1001 gid=1001 euid=1001 suid=1001 fsuid=1001

[2018-01-05 21:37] vladzcloudius opened #3118 "Server-side generated timestamps are not monotinically increasing on subsequent requests on the same Client connection"
*Installation details*
Scylla version (or git commit hash): e29b598c5f336207cef9c395e1ac733d97462bfe

*Description*
The current code doesn't ensure that if Req1 arrived after Req2 on a particular connection then Req1 is going to use a time stamp older than the one of Req2.

This may lead to a very unexpected behavior like data reviving or data loss.

[2018-01-07 11:23] #2908 closed

[2018-01-07 13:08] nyh commented on #3118
I think your bug report is missing some context... If the timestamps come from the client, he's very well allowed to give an older mutation after a new one. So you're talking about server-side timestamp generation?

[2018-01-07 18:39] roydahan opened #3119 "Many reactor stalls during rebuild (streaming)"
*Installation details*
Scylla version (or git commit hash): 2.1.rc0-0.20171222.f371d1788
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

While running write workload with 100 keyspaces and triggering a CorruptThenRebuild nemesis, there are many reactor stalls backtraces across all shards.

CPU load during this time is around: 40-60%
"Write blocked on Dirty" seems pretty high... peaked to

[2018-01-08 02:54] raphaelsc commented on #2863
Can be closed after 6e14dcb84c6b20c2e17d71c86dfdcd07da696903

[2018-01-08 06:52] denesb commented on #3086
Not sure if this is (among the things) you had in mind but I think that a batch version of `operator()()` would be greatly beneficial to existing and future code. There could be several variations, one returning all (already loaded) fragments belonging to the same partition and one that returns the whole buffer. Returns would be made via `std::span` or similar to avoid allocations. Something like

[2018-01-08 07:03] denesb commented on #3086
Maybe we could even make them non-future and rely on the caller ensuring the buffer is non-empty.

[2018-01-08 08:34] nyh commented on #2863
@raphaelsc I'm not familiar with commit 6e14dcb so maybe I'm asking a stupid question, but the commit message says it solves an "infinite recursion" during compaction which would lead to compaction hanging, not to a crash as reported here and in the duplicate(?) #2908.
So that commit fixed additional things, not just what it claims to have fixed?

[2018-01-08 11:23] harelassayag commented on #3119
Happened also in longevity-1TB during streaming.

[2018-01-08 11:43] #3006 closed

[2018-01-08 11:47] avikivity commented on #3119
Should be fixed by the NOWAIT AIO patchset (but unfortunately requires kernel 4.14).

[2018-01-08 13:04] #3115 closed

[2018-01-08 14:40] vladzcloudius commented on #3118
@nyh Right. I updated the issue name. Thanks.

[2018-01-08 14:48] haaawk commented on #3089
@tgrabiec I created a test that supposed to reproduce the problem but it does not want to fail: https://github.com/scylladb/seastar-dev/commit/7701512efce33f234232b4f5e85e5afa28ff541e

[2018-01-08 15:09] haaawk commented on #3089
I found a problem with fast_forward_to(partition_range&). Test and fix are here: https://github.com/scylladb/seastar-dev/commits/haaawk/3089_v2

[2018-01-08 15:25] harelassayag opened #3120 "bad_alloc during repair - node crash with coredump - load is suspended for ~2mins"
*Installation details*
Scylla version (or git commit hash): 2.1.rc1-0.20180104.d4c46afc5
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS
full log: [http://scylladb-users-upload.s3.amazonaws.com/3120/log.tar.gz
](scylladb-users-upload.s3.amazonaws.com/3120/log.tar.gz)
During repair nemesis longevity of 2.1-rc1, one node got bad_alloc errors and eventually crashed with coredump.
During the t

[2018-01-08 15:44] harelassayag commented on #3119
During the longevity test that ran ~12 hours we had 1056 reactor stalls with similar backtrace:
[code]
During this time we have many Timeouts in the client side (cassandra-stress).

Another decoded backtrace that may be relevant (this one is a bit bigger):
[code]

[2018-01-08 15:51] avikivity commented on #3119
How full were the disks in that test?

[2018-01-08 15:56] harelassayag opened #3121 "token_metadata - sorted_tokens is empty in first_token_index! error during node start"
*Installation details*
Scylla version (or git commit hash):  2.1.rc0-0.20171222.f371d1788
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

This error happened during CorruptThenRepairNemesis (we deleted several sstables and restart the node).
This is the first time we see this error.

[code]

Nemesis deletions:
[code]

[2018-01-08 15:58] #729 closed

[2018-01-08 17:13] harelassayag commented on #3119
not at all
![image](https://user-images.githubusercontent.com/15847218/34682530-ca700dd2-f4a7-11e7-8264-17afed809de3.png)

[2018-01-08 17:47] homer6 opened #3122 "Binding named statement parameters out of order results in a marshalling error."
*Installation details*
Scylla version (or git commit hash): 2.0.2-0.20171130.07b039f
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16

Using the datastax c client (libcassandra.so.2.5.0), binding a statement parameter out of order results in a marshalling error (see: `cass_statement_bind_string_by_name`).

I didn't test whether it was out of order versus the schema or the statement strin

[2018-01-09 08:01] tgrabiec commented on #3100
This could be https://github.com/scylladb/scylla/issues/2775, fixed in version `2.1` (>= rc1).

[2018-01-09 09:44] tgrabiec commented on #3117
Can you attach Scylla log from before `Jan 02 23:39:28`, which surely includes all events after drop was initiated?

Why do you think the link command failed?

[2018-01-09 09:46] #3089 closed

[2018-01-09 10:00] frank8989 commented on #3117
Jan 02 23:39:02  scylla[126940]:  [shard 8] compaction - Compacting [/data/scylla/data/bluecat/device_features_20171231-2ba47ab0efb811e792ed000000000035/bluecat-device_features_20171231-ka-3928-Data.db:level=0, /data/scylla/data/bluecat/device_features_20171231-2ba47ab0efb811e792ed000000000035/bluecat-device_features_20171231-ka-3872-Data.db:level=0, /data/scylla/data/bluecat/device_features_20171

[2018-01-09 10:11] tgrabiec commented on #3121
This can happen if you run repair before the node completes booting. We used to abort, but it was changed in 0ec574610d518144143911ca7879ed97fc1f5ac1.

Perhaps the problem is that repair should fail with a more meaningful message in that case, like "repair cannot be run while nodes are booting"?

[2018-01-09 10:15] gleb-cloudius commented on #3121
On Tue, Jan 09, 2018 at 10:11:46AM +0000, Tomasz Grabiec wrote:

This is what 69c81bcc87 suppose to be doing and 0ec574610d5181 was
introduced to make a bug less severe if it still can be triggered and
apparently it can.

--
			Gleb.

[2018-01-09 10:41] slivne commented on #3121
@harelasyag can you please provide the full log of the server from the
point it was restarted so we can verify that indeed we started a repair
before the node was fully up

"2018-01-07 15:21:03,998 remote L0197 DEBUG| [35.196.95.117] [stdout]
com.datastax.driver.core.exceptions.NoHostAvailableException: All host(s)
tried for query failed (tried: longevity-1tb-7d-2-1-db-node-
d359e500-0-4.c.skilled

[2018-01-09 12:59] slivne commented on #3119
@roydahan

- @roydahan  which instance type are we running - is this gce or aws ?
- @roydahan  are we using LCS or STCS (#2851 may be triggered here as well )
- I think a snapshot of the io dashboards / compactions will help to understand if we are blocked on the disk, @roydahan  if its simple can you add this
- @roydahan  just to clarify - when we use a single keyspace / table does this happen as

[2018-01-09 16:24] harelassayag commented on #3119
- n1-highmem-16
- LCS
- This is single keyspace
- c-s schema is the one we always used for 1TB - key - 1 value.

Few screenshots and comparisons to 2.0.2 below:

**This is the 2-1 run:**
The CorruptThenRebuild nemesis started at 8:48 (stop the server, delete some sstables, then start and rebiuild).
The streaming started at 8:52, the first reactor stall happened at 8:56.
![screencapture-35-227-29-7

[2018-01-09 16:38] duarten opened #3123 "partition_snapshot_reader exception safety"
*Installation details*
Scylla version (or git commit hash): master

I think that there are some exception safety gaps in `partition_snapshot_reader`. For example, in `read_static_row()`, we change `_last_entry` before creating the `mutation_fragment`, which can result in `bad_alloc`; we shouldn't even set it before calling `emplace_mutation_fragment()`, which too may throw. Similarly for the actua

[2018-01-09 16:58] harelassayag commented on #3119
[Prometheus data](http://scylladb-users-upload.s3.amazonaws.com/3119/prometheus.tar.gz)

[2018-01-10 08:34] tgrabiec commented on #3123
We should test it using allocation failure injection, like in `test_exception_safety_of_reads` in row_cache_test.cc

[2018-01-10 08:42] asias commented on #3081
Fixed by commit a9dab60

[2018-01-10 08:42] #3081 closed

[2018-01-10 08:51] tgrabiec commented on #3119
2018-01-09 13:59 GMT+01:00 Shlomi Livne <notifications@github.com>:

There is perf_cache_eviction, it simulates time-series workload with lots
of writes and periodic reads, eventually entering eviction mode.

What changed in 2.1 wrt eviction is that we now evict snapshots immediately
rather than when the read using the snapshot ends. The eviction wouldn't be
slower, but if there is a lot of partit

[2018-01-10 08:59] slivne commented on #3119
On Wed, Jan 10, 2018 at 10:52 AM, Tomasz Grabiec <notifications@github.com>
wrote:

(in the worst

We are flushing a streamed memtable and evicting partitions - can that take
more then 2s - if so do we have yield points and if not shouldn't we to
make sure we do not create such stalls

[2018-01-10 08:59] tgrabiec commented on #3119
Refs https://github.com/scylladb/scylla/issues/2683

[2018-01-10 09:02] tgrabiec commented on #3119
2018-01-10 9:59 GMT+01:00 Shlomi Livne <notifications@github.com>:

- if so do we have yield points and if not shouldn't we to

Yes for both. This is https://github.com/scylladb/scylla/issues/2683

[2018-01-10 09:08] amnonh opened #3124 "Scylla prints warning when using --version"
Version 2.1

When running scylla --version, we expect to get the version and that the process would exit.
Now there are additional warnings.
ARN  2018-01-09 12:53:41,475 [shard 0] seastar - Unable to set SCHED_FIFO scheduling policy for timer thread; latency impact possible. Try adding CAP_SYS_NICE

In centos:
Reactor stalled for 0 ms on shard 0.

[2018-01-10 10:57] harelassayag commented on #3119
@slivne
![screencapture-35-227-29-78-3000-dashboard-db-scylla-per-server-metrics-2-0-1515581797851](https://user-images.githubusercontent.com/15847218/34769199-bf2366a4-f605-11e7-8301-d8aca88a8190.png)

[2018-01-10 12:07] tzach commented on #3124
I notice the same issue on all distros (centos, ubuntu 16)

[2018-01-10 13:57] slivne commented on #3121
@harelassayag  - ping

[2018-01-10 14:46] slivne commented on #3119
@harelassayag thanks - can you also post the complete snapshot of the 2.0.0 case - it will help understand what may have changed - please try not to change the time scale and provide the timeline in which the operation was done.

@tgrabiec - we have run a very similar test on 2.0 and we did not hit this issue

the workload at the start is only doing writes ...

what seems different is that writes

[2018-01-10 14:52] harelassayag commented on #3119
we have CorruptThenRebuild that starts at 16:09:26 and finished after 45 minutes (2795 sec)
![screencapture-104-196-122-0-3000-dashboard-db-scylla-per-server-metrics-2-0-1515595726204](https://user-images.githubusercontent.com/15847218/34778499-33c78d8a-f626-11e7-80d8-4930b0d4982b.png)

[2018-01-10 15:21] harelassayag commented on #3121
[http://scylladb-users-upload.s3.amazonaws.com/3121/log.tar.gz](http://scylladb-users-upload.s3.amazonaws.com/3121/log.tar.gz)

to me it looks like they were all up before the repair
[code]

[2018-01-10 15:59] glommer opened #3125 "Enhance tracing infrastructure with more node-local information"
Right now it is very hard for us to debug problems with higher
percentile latencies. We have prometheus data that can shed some
light into it but has too big of a granularity (1s minimum) for
events in the millisecond range.

The block detector is useful, but upon seeing the traces we never
really know what do they correlate with aside from the very basic
ones - trying to identify which events led

[2018-01-10 15:59] glommer commented on #3125
@vladzcloudius

[2018-01-10 17:33] tgrabiec commented on #3119
2018-01-10 15:46 GMT+01:00 Shlomi Livne <notifications@github.com>:

Maybe cache wasn't populated as effectively on 2.0, and thus there was not
much to evict?

There was ee1e7732a61b5c060413d9e7945f92cfab830371
and 786e75dbf72c702ab8533199bae71002b626ca8c.

This could be proved by comparing cache metrics on 2.0 and 2.1

[2018-01-11 05:52] Leroy8508 opened #3126 "memtable: trigger assert when flush_memory_accounter destructor"
GDB bt:
[code]

[2018-01-11 05:56] Leroy8508 commented on #3126
*Installation details*
Scylla version: 2.0.2
Cluster size:  three nodes
OS (Ubuntu 16.04):

[2018-01-11 06:08] argenet commented on #3097
At least part of the problem is that thrift has apparently switched from using `boost::shared_ptr` to `std::shared_ptr` and our code still attempts to pass in `boost::shared_ptr` which is not implicitly convertible.

[2018-01-11 07:04] #3118 closed

[2018-01-11 09:28] #2075 closed

[2018-01-11 13:02] #3088 closed

[2018-01-11 13:16] slivne commented on #3119
@harelassayag can you please upload the snapshot of the 2.0 run as well and mark it clearly.

[2018-01-11 13:58] harelassayag commented on #3119
this is the snapshot of the 2.0 run: [http://scylladb-users-upload.s3.amazonaws.com/3119/prometheus-2-0.tar.gz](http://scylladb-users-upload.s3.amazonaws.com/3119/prometheus-2-0.tar.gz)

[2018-01-11 14:02] tgrabiec commented on #3119
@harelassayag The stall related to `invalidate_unwrapped`, when did it happen?

[2018-01-11 14:16] harelassayag commented on #3119
@tgrabiec  2018-01-08 15:31:31 in the log: http://scylladb-users-upload.s3.amazonaws.com/3119/log.tar.gz

[2018-01-11 14:19] glommer commented on #3126
Hello

Do you still have the coredump for this?
Could you share with us?

If not, at least some information about your workload so we can try to
reproduce. This assert happens in a background path, so not necessarily we
will be able to derive a lot of information from it

On Thu, Jan 11, 2018 at 12:56 AM, Leroy8508 <notifications@github.com>
wrote:

[2018-01-11 16:14] pdziepak commented on #3095
This is caused by scylladb/seastar#384.

[2018-01-11 17:18] tgrabiec commented on #3119
@harelassayag On 2018-01-08 15:31:31 I can see those stalls:

[code]

They don't seem to be related to invalidate_unwrapped(), because they don't contain the frames you pasted earlier for that case.

I grepped for that frame, and found the following time frames:

[code]

Looking at (1), we're dropping 75G of cache due to invalidation:

![screenshot from 2018-01-11 16-28-44](https://user-images.git

[2018-01-11 17:23] harelassayag commented on #3119
log for 2.0: [http://scylladb-users-upload.s3.amazonaws.com/3119/log-2.0.tar.gz](http://scylladb-users-upload.s3.amazonaws.com/3119/log-2.0.tar.gz)

[2018-01-11 19:05] vladzcloudius commented on #2351
@penberg @glommer @pdziepak The issue is still not fixed even after the  92b2e56 - I've only handled the from-the-origin-to-the-handler-shard client_state copy direction. However I missed that there is an opposite direction too via the `response_type`.

Please, re-open.

[2018-01-12 03:28] Leroy8508 commented on #3126
Hello

we found this coredump only one time

[2018-01-12 03:34] glommer commented on #3126
Can you please describe your workload a little better ?

[2018-01-12 08:15] tgrabiec commented on #3119
On 2.0, we're invalidating much less, about 4.4G:

![screenshot from 2018-01-12 08-28-02](https://user-images.githubusercontent.com/283695/34864018-929c0744-f772-11e7-9ab0-182aea9c256a.png)

In the 2.0 run, less than an hour passes between node is restarted and cache invalidation. Also the write rate is low during that time (10K wr/s).

In the 2.1 run, it takes ~4h since the the node is restarted

[2018-01-12 10:28] Tigraine commented on #1619
Is this already available? I've installed 2.0 on my GCE instance now but the scylladb.yml doesn't reference a GoogleCloudSnitch

[2018-01-12 10:43] manigandham commented on #1619
Not yet, it would be linked to this issue or already closed.

You can see all the current snitches here: https://github.com/scylladb/scylla/tree/master/locator

[2018-01-12 14:52] roydahan commented on #3119
The data point we are comparing with on 2.0 is just a random pick of a similar nemesis.
We have (should have) more data points we can compare with, some after several days of populating data.

[2018-01-12 16:08] #2462 closed

[2018-01-14 07:57] hagrid-the-developer commented on #3110
I think we can close this issue. NaN and Infinity work correctly, conversion from varint should be probably preserved as is, because C* implementation is a compromise that leads to precision lost.

[2018-01-14 10:53] slivne commented on #2699
@avikivity / @tzach - can we drop the rest collected api - AFAIK we have not released the API and no one is using this.

[2018-01-14 10:54] slivne commented on #2700
We have decided to move and support multiple trees which makes this irrelevant currently

[2018-01-14 10:54] #2700 closed

[2018-01-14 11:01] tzach commented on #2699
We do not know that nobody is using it.
Let's start by calling it deprecated for one release, giving users a chance to move away from it.

[2018-01-14 11:10] slivne commented on #3095
@tgrabiec - are we missing backborts to 2.1 ?

[2018-01-14 11:14] slivne commented on #2923
@roydahan  - are we able to restart with the 100+ tables ?

[2018-01-14 11:16] slivne commented on #2863
The fix was backported

@raphaelsc - can you please answer @nyh question - I want to close this issue

[2018-01-14 11:20] slivne commented on #2229
closing this issue we are testing replace node procedure - and this did not reproduce

[2018-01-14 11:20] #2229 closed

[2018-01-14 11:25] slivne commented on #882
@roydahan - lets schedule a manual parallel run to this and see if we can reproduce this.

[2018-01-14 11:27] slivne commented on #848
In 2.1 the debian8 and ubuntu16.04 artifacts are signed - closing this issue

[2018-01-14 11:27] #848 closed

[2018-01-14 11:28] slivne commented on #2848
closing this as we have not seen this on the official AMI's of 2.0.X - we can reopen if we see it again

[2018-01-14 11:28] #2848 closed

[2018-01-14 11:33] slivne commented on #2846
@avikivity
- can you please refer to the known issue in XFS - it seemed the disk was almost full.
- is there a mean in which we can try to avoid  XFS from running into this issue (make sure we have enough disk space / not do certain operations in certain order - we already have some items like this in our code).

[2018-01-14 11:36] slivne commented on #2820
@tgrabiec / @amoskong - ping ...

[2018-01-14 11:46] slivne commented on #3122
can you please capture a wireshark sample with a sample (starting from setting up the connections), so we can analyze this.

If possible please make the connection noncompressed - its easier to analyze this.

[2018-01-14 11:48] slivne commented on #3120
We are going to try and minimize the "search" space - run specific reproducers on 2.0 and 2.1 and see what we get.

[2018-01-14 11:49] slivne commented on #3119
We are going to try and minimize the "search" space - run specific reproducers on 2.0 and 2.1 and see what we get.

[2018-01-14 11:57] slivne commented on #3107
On IO/Error scylla drains the node and leaves it up so that the node can be probed.
The commit 34f6218dc54fc64e37f879602e1a44bfb6c599c6  will change the reported status of the node

[2018-01-14 11:57] #3107 closed

[2018-01-14 12:34] slivne commented on #3099
@matt2000 can you provide the logs from the nodes "journalctl" - a node that decommissions should be removed

example on my local setup

4 nodes cluster

node1 nodetool status
[code]

node4 decommissioned itself

node1 nodetool status
[code]

[2018-01-14 12:35] hagrid-the-developer commented on #3112
You are right @avikivity , objdump -d doesn't find fma instructions...

[2018-01-14 13:44] amnonh commented on #2699
We do, it's not working for a long time,

The only one that ever used it, is me when I was testing things in the
collectd.

On Sun, Jan 14, 2018 at 1:01 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2018-01-14 13:50] tzach commented on #2699
From which release?

[2018-01-14 14:23] amnonh commented on #2699
it's not working at least from 1.7, no one ever used that API

On Sun, Jan 14, 2018 at 3:50 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2018-01-14 14:38] tzach commented on #2699
@amnonh you are talking about REST API to control Collectd
I was talking about the collectd metric protocol itself.
The first probably not in used
The second is in use, for example with scyllatop

I'm fine with dropping the first
I'm fine with deprecating the second in the future.

[2018-01-14 15:45] #3103 closed

[2018-01-14 15:45] #3104 closed

[2018-01-14 21:36] roydahan commented on #3119
I have a clean reproduction with a comparison to 2.0.
In the clean case, I populate the data for few hours in both 2.1 and 2.0 clusters (~250GB per host).
Verified there are no errors, stalls or timeouts.
Then, started "nodetool rebuild" on one host per cluster.
Both completed successfully with no errors or stalls.

However, when running "nodetool rebuild" again (~1 hour) after the first one finis

[2018-01-14 21:45] roydahan commented on #3119
I also see the bad_alloc issue:

Jan 14 21:40:44 longevity-1tb-7d-noopmnky-2-1-on-b2-0-db-node-22e159a0-0-2 scylla[1211]:  [shard 8] storage_proxy - Failed to apply mutation from 10.142.0.25#7: std::bad_alloc (std::bad_alloc)
Jan 14 21:40:44 longevity-1tb-7d-noopmnky-2-1-on-b2-0-db-node-22e159a0-0-2 scylla[1211]:  [shard 4] storage_proxy - exception during mutation write to 10.142.0.19: std::bad_a

[2018-01-14 22:37] roydahan commented on #882
@harelassayag, please try to reproduce the original scenario described above (3 loaders).
You can use SCT to start the cluster but start the load manually.
Also, make sure you have monitor.

[2018-01-14 23:18] roydahan commented on #3120
May be related to this reproducer:

[code]

[2018-01-15 04:03] nikolaydimitrov commented on #420
I want to report I see the same error in the logs:

`Jan 15 03:57:46 scylla-seed01-uk.decibelinsight.net scylla[40475]:  [shard 3] storage_proxy - Failed to apply mutation from 192.168.251.198#0: std::_Nested_exception<no_such_column_family> (Can't find a column family with UUID 2c6969d0-f9a7-11e7-aea2-000000000001)`

After which I can see a lot of timeouts on the client side.

[2018-01-15 06:32] baiwfg2 opened #3127 "Invalid use of incomplete type struct std::hash under g++ 5.3"
*Installation details*
Scylla version (or git commit hash):fe788e0a5de38f26a2b3e03f69c7097d1124d7e3
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

./utils/hash.hh:40:30: error: invalid use of incomplet

[2018-01-15 07:56] asias commented on #3121
@harelassayag which node (ip address) did the repair run against? Is it 35.190.169.37? Who generated the error from node 35.196.95.117?
[code]

[2018-01-15 08:10] Tigraine commented on #1619
Yeah I checked the locators, but it could have been in some feature branch I wasn't seeing.

[2018-01-15 08:35] tgrabiec commented on #420
@nikolaydimitrov Did you run create table statements concurrently? After you restart all nodes in the cluster, does the error go away?

[2018-01-15 08:43] slivne commented on #3119
thanks @roydahan - is the bad_alloc in the first part rebuild or the second ?

[2018-01-15 09:05] nikolaydimitrov commented on #420
Hi @tgrabiec ,
There's only one process creating tables, and it is executed every 10 minutes. I guess it could be connected to different node every time, but that shouldn't be an issue.
Saying that, it executes the same "CREATE TABLE" statement 6 times in an hour.

And yes, errors went away after restarting all nodes.

[2018-01-15 09:13] asias commented on #3121
I think I find the problem. I will send the patch soon.

[2018-01-15 09:23] tgrabiec commented on #420
@nikolaydimitrov Which Scylla version and driver version are you using? If you send us the logs around the event (including the schema change and errors), that would be useful in diagnosing your problem.

[2018-01-15 09:45] roydahan commented on #3119
Second, all problems started on the second time.

[2018-01-15 10:54] duarten commented on #3127
That's https://gcc.gnu.org/bugzilla/show_bug.cgi?id=60970. You should update your compiler to gcc 7.x.

[2018-01-15 10:54] #3127 closed

[2018-01-15 12:02] tgrabiec commented on #3119
Regarding reactor stalls, one difference which seems related is that on 2.0 the same partition count (~3M) consumes less "used space" in LSA at the time of invalidation than on 2.1 after a period of segment compaction preceding it. On 2.1 there is no such period. On 2.1 during invalidation we drop from ~4.5GB, whereas on 2.0 we drop from ~2GB.

Before that compaction period starts, both 2.0 and 2.

[2018-01-15 13:50] pdziepak commented on #3117
Looks like `sysctl fs.protected_hardlinks` is enabled which makes the kernel prevent users from creating links to files that they do not own or do not have read and write access to. This is exactly what is happening here since, as can be seen in the logs, the sstable file is owned by the root and has permissions set to 644 while the Scylla process is running with uid=1001.

This is most likely not

[2018-01-15 14:02] nikolaydimitrov commented on #420
Hi @tgrabiec , just emailed you the logs from the 3 nodes.
Scylla version 2.0.0-0.20170929.e265c91
Cassandra C/C++ Connector libcassandra.so.2.8.0

[2018-01-15 14:20] avikivity commented on #3117
Agree it's not a Scylla bug, but we could be friendlier by refusing to start if we don't own all files and directories we load, and have rwx permissions on directories and r on files.

[2018-01-16 01:21] asias commented on #3121
Patch is on list:  storage_service: Set NORMAL status after token_metadata is replicated

[2018-01-16 07:41] #3121 closed

[2018-01-16 07:47] slivne commented on #3120
@asias - @tgrabiec is checking a bad_alloc item (after fixing the reactor stalls) as well - in the second open ticket scenario #3119 - we can wait for his feedback maybe it will be related to this as well.

[2018-01-16 09:01] #2886 closed

[2018-01-16 10:37] nyh commented on #2720
This bug should be renamed, the only problem is that we need to forbid creating a materialized view that doesn't have all the base table's primary key columns. Sadly I can't do the rename myself (github permissions model....).
@juliayakovlev reported the same lack of validation. The error message printed by Cassandra in this case was:
"Cannot create Materialized View <view name> without primary ke

[2018-01-16 11:03] duarten commented on #2720
We don't need a dtest, a unit one should suffice.

[2018-01-16 12:05] tgrabiec opened #3129 "LSA zone reclaimer leaks memory under some conditions"
*Installation details*
Scylla version (or git commit hash): 1.4+

`_free_segments_in_zones` is not adjusted by `segment_pool::reclaim_segments()` for empty zones on reclaim under some conditions. For instance when some zone becomes empty due to regular `free()` and then reclaiming is called from the std allocator, and it is satisfied from a zone after the one which is empty. This would result in f

[2018-01-16 13:32] tgrabiec commented on #3120
This could be caused by #3129, but I'm not certain.

[2018-01-16 13:54] #3129 closed

[2018-01-16 14:28] veramine opened #3130 "Selecting from materialized views using query parameters sometimes returns no rows when same query works fine with values hardcoded"
Installation details
Scylla version 2.0.2
Cluster size: 1
OS: AWS AMI ami-9509d3ed
Hardware: i3.large
Experimental: true

I am trying to debug an error that we get when fetching from materialized views.  We have not hit it when fetching from the base table directly.  We get error not found when fetching using query parameters with gocql when the rows are definitely there.  This might be a gocql is

[2018-01-16 14:53] veramine commented on #3130
I did some more testing and found that the query works if I specify only the partition key as a single query parameter or if I specify the partition key and two clustering keys.  But I never get the row if I specify only the partition key and the first clustering key, as in the output above.

These queries all work:

[code]

But this one always returns error not found:

[code]

[2018-01-16 15:15] duarten commented on #3130
Can you `DESC` the materialized view, to see its schema? It's a weird issue since we don't distinguish materialized views from normal tables on the read path, so my only clue is there may be a schema issue.

[2018-01-16 15:23] veramine commented on #3130
Yeah is a weird one.  Here's the schema:

[code]

I wonder if there might be a clue in the tcpdump but I am not sure how to analyze it.

[2018-01-16 15:49] duarten commented on #3130
If you remove the 'limit 1', does it return all the results?

[2018-01-16 16:38] veramine commented on #3130
Good idea.  When I remove the limit, everything works fine again.  I get results when I remove the 'limit 1'.  In this particular case, there is only one row that would match my query so I don't need the limit but I usually just default to adding a limit 1 when I only want one row.  I'll change a few of my queries to not include a limit and see if I hit it again.

[2018-01-16 16:43] veramine commented on #3130
I added the limit back in and re-tested and it works again.  It is now working with limit 1 and with no limit specified.  So its possible that the database state has changed and the issue no longer is reproducible regardless.  I'm not sure whether the limit matters or not.  I will try to get back into the state where it is broken and consistently reproducible and then will re-test with limit speci

[2018-01-16 16:57] #2351 closed

[2018-01-16 17:56] hagrid-the-developer commented on #3112
Scenario 1:

It seems that parameter `DOUBLE_PRECISION` must be set for precisions of doubles. I got expected results for scylla, cqlsh 3.11.1 and following `~/.cassandra/cqlshrc`:

    [ui]
    float_precision = 10
    double_precision = 10

Scenario 2:

(0+32767-32767-12876)/4 = -3219

So probably wrong example is provided?

Scenario 3:

Issue with conversion X -> double -> Decimal as in https:/

[2018-01-16 18:23] veramine commented on #3130
I dropped the materialized view and recreated it in an attempt to re-enter the broken state.  Then I inserted new rows into the base table and a row were immediately accessible from a cqlsh query from the materialized view, as expected.  The row was also available from a gocql-based query against the base table.  However, the query from gocql selecting from the materialized view returned no result

[2018-01-16 18:38] duarten commented on #3130
So, if I understand correctly, you can select  through cqlsh but not from gocql?

[2018-01-16 18:43] veramine commented on #3130
Correct.  The queries always work with cqlsh.  And in the current state, the queries using gocql do not work.

I started a database compaction to see if that makes a difference.  It's still running.

[2018-01-16 18:45] duarten commented on #3130
It's either a gocql issue, or you're connecting to different nodes.

[2018-01-16 18:49] veramine commented on #3130
Yeah could be a gocql issue.  Only one node in the cluster and the query with gocql against the base table returns results just fine.  But the query against the MV with the same values returns no results.

[2018-01-16 21:13] glommer opened #3131 "after compaction controller, flushing streaming memtables big can cause a node to segfault"
After the compaction controller was merged, streaming data through the `flush_streaming_memtables_big` path can cause the node to a crash. Streaming through the normal (non-big) path works fine.

The reason is that the `write_monitor`s, now used to account the progress of a partial write, need to be kept alive until the SSTable is finally added to the SSTable set. The `flush_streaming_memtables_bi

[2018-01-16 21:33] slivne commented on #3124
@argenet can you try and move the printout of the scylla_version earlier (before calling run_deprecated) - I think that should solve it.

[2018-01-16 22:04] raphaelsc commented on #2863
Ok so @nyh what you see seems a symptom of infinite recursion on LCS, which leads to OOM because we keep allocating resources for same mutation, which leads to this:

[code]

NOTE: this segfault is triggered in cache update after a memtable flush, BTW.

There's an allocator failure injection which can help us reproducing such issues.

I think we may keep this issue alive to remember us of that, bu

[2018-01-16 22:59] slivne commented on #2863
@raphaelsc - not clear to me ...

So did your patch fix this ?

If not - is this a regression in 2.1 compared to 2.0 ?

[2018-01-16 23:04] raphaelsc commented on #2863
Yes, it did, @slivne . Nadav only faced a symptom of OOM (Scylla crashes with a segfault)  which was triggered by the bug fixed by my patch.

[2018-01-16 23:04] raphaelsc commented on #2863
I suggested that we should keep this issue open but rename it.

[2018-01-17 03:43] asias commented on #2780
I think this problem is already fixed.

$ nodetool rebuild
nodetool: Scylla API server HTTP POST to URL '/storage_service/rebuild' failed: Operation rebuild is in progress, try again
See 'nodetool help' or 'nodetool help <command>'.

[2018-01-17 03:44] baiwfg2 commented on #3127
@duarten Must compiler version not be less than gcc 7.x ? I use 5.3 to compile scylla-2.1.rc1, compile error is:

Then I change to g++ 6.1, then it shows:

These are packages I used for compiling:

Should I update some of them, for example, boost ?

[2018-01-17 03:54] asias commented on #2136
I can not reproduce this issue with master.

I tried to replace a node which  does not exist in the gossip.
[shard 0] seastar - Exiting on unhandled exception: std::runtime_error (Cannot replace_address 127.0.0.10 because it doesn't exist in gossip)

[2018-01-17 06:32] baiwfg2 commented on #3127
And any special options that I should configure when building gcc 7.x by myself ? A lot of **abi:cxx11** issues occur during compiling. The 3rd-party packages are installed by yum.

[2018-01-17 08:04] nyh commented on #3127
On Wed, Jan 17, 2018 at 5:44 AM, Lewis Chan <notifications@github.com>
wrote:

Yes... We have recently switched Scylla to rely on C++17. Only gcc 7.x
fully supports C++17.

[2018-01-17 08:16] asias commented on #2042
A reboot is needed to put the failed decommission node to be in UN again.
It is hard to put the node automatically back into UN.

[2018-01-17 09:24] tgrabiec commented on #2136
@asias In your case the operation fails before you reach `get_host_id()`. Try to use it on a node which does exist in gossip.

[2018-01-17 09:26] amnonh commented on #3105
Tzach I don't think adding noindex to the http reply would have any effect.

we should probably not index the download page

[2018-01-17 09:29] avikivity commented on #3105
robots.txt?

On 01/17/2018 11:26 AM, Amnon Heiman wrote:

[2018-01-17 09:33] asias commented on #2136
Do you still remember what you did exactly to hit the issue?

[2018-01-17 09:34] tgrabiec commented on #2136
I don't remember exactly, but the IP I used corresponded to a node removed earlier.

[2018-01-17 09:41] asias commented on #2136
I did this

node1, node2
decommission node2
nodetool gossipinfo on node1, node2 is still there in gossip
start node3 to replace node2

I see no such "Exiting on unhandled exception: marshal_exception (marshalling error)"

[2018-01-17 09:45] tgrabiec commented on #2136
@asias If node2 still exists in gossip, then isn't failing with `.. it doesn't exist in gossip` wrong?

[2018-01-17 09:48] asias commented on #2136
I meant I did another test.

[2018-01-17 09:50] asias commented on #2136
The second test's log looks like:

[code]

[2018-01-17 09:53] tgrabiec commented on #2136
Does the second test fail or succeed?

You used decommission instead of removenode, maybe that matters.

The crash was because HOST_ID application state was empty. Maybe there is some kind of a race here which makes it not always set

[2018-01-17 09:53] tgrabiec commented on #2136
Is `Cannot replace token 1472012973170867866 which does not exist!` expected?

[2018-01-17 10:16] amnonh commented on #2816
I've just tested it with 16MB file download,
I think we can close it

[2018-01-17 10:16] amnonh commented on #2815
I've just tested it with 16MB file download,
I think we can close it

[2018-01-17 10:25] hagrid-the-developer commented on #3110
I have created C* issue: https://issues.apache.org/jira/browse/CASSANDRA-14170.

[2018-01-17 10:33] tzach commented on #3105
How?

[2018-01-17 10:34] amnonh commented on #3105
On Wed, Jan 17, 2018 at 11:29 AM, Avi Kivity <notifications@github.com>
wrote:

Yup

[2018-01-17 10:46] #2816 closed

[2018-01-17 11:39] #2815 closed

[2018-01-17 12:14] tzach commented on #3105
[code]

[2018-01-17 13:46] amnonh commented on #3105
@tzach that for the html page, not the download

[2018-01-17 14:24] hagrid-the-developer commented on #3111
Short story: I should add one decimal place when converting integers to Decimal.

Long story:
It seems that it is a real issue and it is again caused by conversion to decimal through double. According to Java documentation, BigDecimal.valueOf(double) uses the string representation of double (https://docs.oracle.com/javase/7/docs/api/java/math/BigDecimal.html#valueOf(double)) and it seems that one

[2018-01-17 14:59] #3124 closed

[2018-01-17 17:25] duarten commented on #3130
The read path doesn't distinguish between MVs or base tables, so, the schema being correct and the table containing the data, I'm inclined to say it's a gocql issue. I wonder if the tcpdump would have some clues.

[2018-01-17 17:26] duarten commented on #3130
Actually, could you do a `select *` from the schema tables, instead of a `desc`?

[2018-01-17 17:34] veramine commented on #3130
Sure, do you mean system_schema.tables ?  Here's the table:

[code]

And here's the view:

[code]

I've attached the select * from system_schema.tables.  Let me know if I misunderstood.

Also, today I am going to try with a few different adapters to see if I can reproduce.

Thanks.

[system_schema_tables.txt](https://github.com/scylladb/scylla/files/1640005/system_schema_tables.txt)

[2018-01-17 21:06] veramine commented on #3130
I switched to using gocqlx (https://github.com/scylladb/gocqlx) instead of gocql in this test program that I was using to reproduce the problem.  The GoCQL query returned error not found but the GoCQLX version of the same query worked.

Probably fine to close this bug and I will follow up with Chris and the gocql guys to see if they have any ideas.  We will probably move at least our MV-related qu

[2018-01-18 01:11] ban4785 opened #3132 "database - failed to write sstable and scylladb instance crashed in AWS ScyllaDB 2.0.0 AMI while batch insert only"
Installation details
Scylla version (or git commit hash): 2.0.0
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS ScyllaDB 2.0.0 - ami

Hardware details (for performance issues) Delete if unneeded
Platform (physical/VM/cloud instance type/docker): AWS VM i3.8xlarge
Hardware: sockets= cores= hyperthreading= memory=32vcore, 244G Memory
Disks: (SSD/HDD, count) : SSD 4*1900 Raid0

i was loading 10T

[2018-01-18 06:10] asias commented on #2136
=== 2nd test: ===
node1, node2
decommission node2
nodetool gossipinfo on node1, node2 is still there in gossip
start node3 to replace node2

On node3:
[code]
I see no crash.

=== 3rd test: ===
node1, node2
stop node2
nodetool removenode node2
nodetool gossipinfo on node1, node2 is still there in gossip
start node3 to replace node2

On node3:
[code]
I see no crash.

[2018-01-18 06:26] asias commented on #2136
To answer is `Cannot replace token 1472012973170867866 which does not exist!` expected?

Yes, it is expected.

[code]
So node 3 is asked to replace node 2. And it is correct that node3 can not find node 2 's token in the following check.

[code]

It is a wrong operation to replace a removed (decommissioned) node in the first place. User is supposed to replace a dead but still in the ring node.

We

[2018-01-18 08:13] tgrabiec commented on #2136
2018-01-18 7:26 GMT+01:00 Asias He <notifications@github.com>:

What if that token would be assigned to some other node, and replace node
would find it?

Do you have an explanation of why I saw the crash?

[2018-01-18 08:34] asias commented on #2136
On Thu, Jan 18, 2018 at 4:13 PM, Tomasz Grabiec <notifications@github.com>
wrote:

The possibility is very low. Because each and every token (256) will get
the same check. A new node gets a random token.  And again, it is a invalid
user operation in the first place.

For some reason the host application state is not present but the ip is
still in the gossip.

 0 utils::UUID gossiper::get_host_id(i

[2018-01-18 10:04] jvanz commented on #3084
I'm working on this right now... ;)

[2018-01-18 10:38] tgrabiec commented on #2625
apply() has weaker exception guarantees since 4cfcd80

[2018-01-18 11:06] pdziepak opened #3133 "partition_snapshot_reader is unsafe on allocating section retry"
Looks like there are several correctness problems in `partition_snapshot_reader` (used by memtables) caused by the fact that a large portion of the logic runs inside an allocating section and is expected to be restartable.

For example:

After the static row is read optional `_last_row` is engaged. However, later pushing the row to the buffer may fail. Upon retry `_last_row` will already be engage

[2018-01-18 12:41] avikivity commented on #2947
/cc @roydahan

[2018-01-18 12:46] tgrabiec commented on #2820
@amoskong I tried to grep the log for the problem of failed alter, but couldn't. Can you point me to the exact error line of concern?

[2018-01-18 12:55] slivne commented on #2947
@argenet - will start with the tests related to #2981

[2018-01-18 15:18] harelassayag commented on #3119
on version 2.1.rc2-0.20180117.d96c31ee4 during a NoCorruptRepair many reactor stalls (6706 reactor stalls up to 5345ms) 4 different kinds of backtraces:
[code]

[2018-01-18 15:38] amoskong commented on #2773
@syuu1228 any update on this issue?  @larisau touched this issue last week.

[2018-01-18 17:53] duarten commented on #3133
Refs #3123.

[2018-01-19 00:53] syuu1228 commented on #2773
@amoskong Could you explain how to run scylla-cluster-tests to reproduce the issue?

[2018-01-19 01:13] amoskong commented on #2773
I will setup a jenkins job, when you submit a job, the problem will always
occur.
The you can check in gce instance.

On Fri, Jan 19, 2018 at 8:53 AM, Takuya ASADA <notifications@github.com>
wrote:

[2018-01-19 01:27] amoskong commented on #2773
The jenkins job:
http://jenkins.cloudius-systems.com:8080/job/scylla-master-longevity-gce-pdssd-debug/
(the first job is executing, I will keep check to insure it works.)

On Fri, Jan 19, 2018 at 9:13 AM, Amos Kong <amos@scylladb.com> wrote:

[2018-01-19 02:01] amoskong commented on #2773
Problem is reproduced on
http://jenkins.cloudius-systems.com:8080/job/scylla-master-longevity-gce-pdssd-debug/label=gce3-qavpc/3/console

*01:58:33* [35.227.117.57] [stdout] Creating RAID0 for scylla using 1
disk(s): /dev/sdb*01:58:33* [35.227.117.57] [stdout] mdadm: super1.x
cannot open /dev/sdb: Device or resource busy*01:58:33*
[35.227.117.57] [stdout] mdadm: ddf: Cannot use /dev/sdb: Device or

[2018-01-19 10:02] vabezruchko opened #3134 "Scylla repair overstreaming data"
Installation details
Scylla version (or git commit hash): 2.0.2-0.20171130.07b039f-1
Cluster size:
OS (Debian 8): 32

We noticed that when we run command "nodetool repair -pr" data was overstremed than we expected (up to 50 % of data size).  Actually all data in cluster are consistent (because we ran repair command before) and we expected no data to stream.

Also we afraid that when data size will

[2018-01-19 11:10] pdziepak opened #3135 "Cache: exception safety tests do not test restartability of allocating sections"
Exception safety tests (e.g `row_cache_test.test_exception_safety_of_reads` [1]) run the operation under test multiple times, each time injecting allocation failure at different place, and verify that the result is either correct or the operation has failed.

Unfortunately, the behaviour of allocating sections reduces effectiveness of such test. Every time a standard allocation fails the reserve i

[2018-01-19 11:13] pdziepak commented on #3135
On a slightly unrelated note: another thing that significantly reduces effectiveness of these tests is the fact that they are not being run by the CI.

[2018-01-19 11:18] tgrabiec commented on #420
@nikolaydimitrov Looking at your logs, node3 executed concurrent create table statements for the same table (`collection_file_2018_01_15_02`) very close to each other:

[code]

This explains why your cluster ended up in such a state.

Are you sure your application doesn't execute such statements concurrently?

[2018-01-19 11:25] tgrabiec commented on #3119
All of the stalls seem to come from `flush_pending_aio()`.

@harelassayag Did you run the same test on 2.0?

[2018-01-19 14:04] CorryO opened #3136 "scylla_setup: RAID setup: uses alway raid array name /dev/md0 and mountpoint /var/lib/scylla"
Scylla_setup calls scylla_raid_setup without specifying the parameters:
--raiddev /dev/md<number>
--root <mountpoint>
In this case scylla_raid_setup uses these values for the parameters:
--raiddev /dev/md0
--root /var/lib/scylla
Result:
1) Raid setup fails if /dev/m0 is already in use (often the case)
2) User is not aware/informed that the filesystem will be mounted at /var/lib/scylla
3) User migh

[2018-01-19 14:20] CorryO opened #3137 "scylla_setup: iotune: should terminate when file system does not exist"
Scylla version 2.0.2-0.20171130.07b039f
Ubuntu 16 64bit.

1) Iotune script should terminate when file system does not exist.
Currently the script continues after the fatal error "no such file or directory" and reports that the filesystem doesn't match the criteria (which is correct of course because it's not present).
2) when iotune script fails, at the last log line the script suggests
"To overri

[2018-01-19 19:13] robdefeo commented on #3114
@EmMerry How did you configure `endpoint_snitch`? I have it set to `SimpleSnitch` and it is giving me the same error you had.

[2018-01-19 19:36] syuu1228 commented on #2882
Tested, but not able to reproduce it on 2.0.
[code]
And on the script, node_exporter_install doesn't invoked when answered 'no' on interactive prompt:
https://github.com/scylladb/scylla/blob/branch-2.0/dist/common/scripts/scylla_setup#L465

[2018-01-19 22:41] dorlaor commented on #3134
Hi Vadim,

We currently have a deficiency in the streaming+repair algorithm and thus we
send way too much data than what it is actually required.
Gleb and Asias are working on an improved algorithm and implementation.
We'll have a solution in release 2.3
They can provide more details.

Dor

On Fri, Jan 19, 2018 at 2:02 AM, Vadim Bezruchko <notifications@github.com>
wrote:

[2018-01-20 10:12] amuzychka opened #3138 "node fails to start after service stop - seastar - Exiting on unhandled exception: exceptions::read_timeout_exception (similar symptoms: #2943 or #3015)"
*Installation details*
Scylla version: 1.7.5-0.20170918.760af56
Cluster size: 5x1TB
AWS AMI: ami-9bc9bd8d
Platform: i3.2xlarge

This issue can be related to #2943 or #3015 but for Scylla version 1.7

In case of high load, random nodes in cluster failed and can't start again.

**journalctl -xe log**

[code]

node config example: [scylla.yaml.zip](https://github.com/scylladb/scylla/files/1648703/scy

[2018-01-21 06:22] dnrusakov commented on #1359
+ 1

[2018-01-21 06:33] hagrid-the-developer commented on #3111
I have yet another observation: When converting decimal to string, Scyla removes trailing zeroes after the decimal point, C* doesn't. Do we want to fix this? From the mathematical point of view the results are the same:

Scylla:

    cqlsh> SELECT decimal_clmn FROM cast_decimal_test;
    125.0

    cqlsh> select CAST(decimal_clmn AS text) from cast_decimal_test ;
    125

C*:
    cqlsh> SELECT dec

[2018-01-21 11:01] hagrid-the-developer commented on #3112
Scenario 4:
I tried to study conversion BigDecimal -> double for various Java implementations and there are a lot of differences. It looks to me that we can stay with the implementation we have now, C* results will differ for different Java engines.

Examples of implementations:

* GWT Servlet: BigDecimal -> String -> double:
    http://grepcode.com/file/repo1.maven.org/maven2/com.google.gwt/gwt-s

[2018-01-21 11:13] haaawk opened #3139 "Cache flat reader doesn't work correctly when it's buffer is small."
Test introduced by https://github.com/scylladb/seastar-dev/commit/9282537596a8998301c21d7afb6bd476d6d7254c shows that when buffer size of cache_flat_reader is small then it can't handle a single range_tombstone correctly.

This is not a problem on production when the buffer size is large but it blocks migration of cache tests to flat reader.

[2018-01-21 11:37] hagrid-the-developer commented on #3109
There is a similar issue for decimal:

Scylla:

    cqlsh> SELECT decimal_clmn FROM cast_decimal_test;
    125.0

    cqlsh> select CAST(decimal_clmn AS text) from cast_decimal_test ;
    125

C*:

    cqlsh> SELECT decimal_clmn FROM cast_decimal_test;
    125.0

    cqlsh> select CAST(decimal_clmn AS text) from cast_decimal_test ;
    125.0

[2018-01-21 11:38] slivne commented on #1343
@syuu1228 can you please help here - it should be possible to downgrade somehow

[2018-01-21 11:38] #1343 closed

[2018-01-21 11:40] slivne commented on #2095
@raphaelsc

Is this in

if so I'll close this for now

[2018-01-21 11:44] slivne commented on #2314
@vladzcloudius can you please help here

and we will add it to the docs

[2018-01-21 11:44] slivne commented on #2360
@syuu1228 ping

[2018-01-21 11:44] slivne commented on #2386
@larisau ping - is this still relevant in master 2.1 ?

[2018-01-21 11:49] slivne commented on #2464
@amoskong I am closing this - we will not recover service once there is space - if there is still an issue please open one

[2018-01-21 11:49] #2464 closed

[2018-01-21 11:55] slivne commented on #2566
#1437

[2018-01-21 11:58] slivne commented on #2630
@tzach - provide your input

[2018-01-21 12:01] slivne commented on #2684
@raphaelsc - did we resolve this -

I know we changed in 8726ee937da24a1d4a20bf73d98cd434b237027e the summary generation - did we do a change to the promoted index generation

[2018-01-21 12:01] hagrid-the-developer commented on #3109
We obviously want to implement toString() method for these data types. Determining number of decimal points to be printed is a bit complicated in Java, it is not clear to me why not to simply print the number in the biggest possible precision.

From Java documentation at https://docs.oracle.com/javase/7/docs/api/java/lang/Float.html#toString(float):

*How many digits must be printed for the fracti

[2018-01-21 12:02] slivne commented on #2699
@amnonh - lets remove this

[2018-01-21 12:03] #2699 closed

[2018-01-21 12:04] jvanz commented on #3084
I believe we can close this issue. :)

[2018-01-21 12:06] slivne commented on #2709
Is #2499 supposed to fix this ?

[2018-01-21 12:06] slivne commented on #2712
did 8726ee937da24a1d4a20bf73d98cd434b237027e fix this ?

[2018-01-21 12:09] #2715 closed

[2018-01-21 12:20] #3131 closed

[2018-01-21 12:27] slivne commented on #3109
@tzach / @avikivity
- so we have a bug here and we do not provide the decimal digits (after the dot).
- I want to deviate here and provide all the digits instead of trying to recreate the algorithm that java uses - any objections ? (this means that we will provide more digits then cassandra when converting to text).

[2018-01-21 12:31] slivne commented on #3112
@juliayakovlev / @roydahan

Scenario 1, Scenario 2 - can you provide your feedback

[2018-01-21 14:04] hagrid-the-developer commented on #3109
I prefer providing all the digits, but there can be a problem with numbers that cannot be converted exactly to the binary numeral system, eg. 0.1 is not stored precisely and we would display the truly stored value: 0.100000001.

[2018-01-21 14:57] avikivity commented on #3084
You can have github auto-close the issue by adding "Fixes #xyz" on the commit log.

[2018-01-21 14:57] #3084 closed

[2018-01-21 15:11] raphaelsc commented on #2095
On Sun, Jan 21, 2018 at 9:40 AM, Shlomi Livne <notifications@github.com>
wrote:

it is.

thanks.

[2018-01-21 18:21] #3111 closed

[2018-01-21 18:47] tzach commented on #2630
I'm getting the following with Scylla 2.0.2 AMI on t2.micro

[code]

This has a few issues:
- Scylla fail to start with ``seastar - Exiting on unhandled exception: std::runtime_error (configuration (memory per shard too low))`
- why running `scylla_io_setup` and not `scylla_setup` ?
- "enahanced" is a typo, should be enhanced
- ``systemctl start scylla-server`` should use `sudo`

Overall the UX is

[2018-01-22 00:04] dnrusakov commented on #2433
\+1

[2018-01-22 01:15] asias commented on #2780
@slivne  ^^^

[2018-01-22 01:19] asias commented on #1899
I think the issue is fixed by the following patch already. @slivne @tgrabiec

With it,  the failed session will notify peer to close the session.

[code]

[2018-01-22 01:26] asias commented on #1244
Current repair reports in the log X out of Y ranges are being repaired. It is not perfect but it indeed shows the progress.

e.g.,

INFO  2018-01-22 09:21:53,563 [shard 0] repair - Repair 20 out of 256 ranges, id=1, shard=0, keyspace=ks3, table={mytable, standard1}, range=(-inf, -5452223567049118319]

[2018-01-22 05:30] Leroy8508 commented on #3126
sorry,  we found this coredump only one time, i can't describe our workload, because we restart scylla service

[2018-01-22 05:41] juliayakovlev commented on #3112
Scenario 2:
Sorry, I missed one insert:
INSERT INTO cast_int_test (k, int_clmn) VALUES (4, 2654) ;
If you add it to the others - you will receive the difference between Scylla and Cassandra

[2018-01-22 07:24] nikolaydimitrov commented on #420
@tgrabiec I am trying to pre-create tables every 10 minutes but there's a chance that tables are created 'on demand', and it's possible two requests come around at the same time.
Is that so fatal for Scylla?

[2018-01-22 08:05] juliayakovlev commented on #3112
Scenario 1:
I perform a few  additional tests (now with CQL is compatible with version 3.3.2).
I tested with different float_precision/double_precision  values: default / 10 / 15
In all cases I received correct results in the Scylla, compatible with Cassandra.
In case the parameters are not defined, I receive 5 decimal numbers for both Scylla and Cassandra.
So this scenario is OK from my point of

[2018-01-22 09:01] #2941 closed

[2018-01-22 09:13] slivne commented on #2863
Having a bug with 15 different issues is not healthy - and doing a rename in the middle does not help.

If the bug was fixed I don't understand why we need to leave this open ... if we need to open a new bug please do with the correct content.

If the bug can not be triggered anymore because you changed the code I do not think we need to open one.

[2018-01-22 09:13] #2863 closed

[2018-01-22 09:17] slivne commented on #3095
pushing this out to 2.2 - the fix is already merged.

[2018-01-22 09:17] #3095 closed

[2018-01-22 09:43] nirmaayan commented on #2058
@slivne ping

[2018-01-22 09:43] tgrabiec commented on #420
@nikolaydimitrov Unfortunately it's currently not allowed to issue concurrent conflicting schema updates. That would require global coordination, which is missing.

There are plans to fix this: https://github.com/scylladb/scylla/issues/1207. Until then, the application is supposed to ensure this. If you're issuing schema changes from a single client, that should be enough, the CQL driver waits for

[2018-01-22 11:39] harelassayag commented on #3119
@tgrabiec I'm running one now. ill keep you posted.

[2018-01-22 13:36] harelassayag commented on #3119
@slivne
io.conf for 2.1.rc2-0.20180117.d96c31ee4:
[code]
io.conf for 2.0.2-0.20171201.07b039f:
[code]

[2018-01-22 13:41] juliayakovlev opened #3140 "Materialized view: TTL was set and removed after by updating of non-view column, so it should be removed from MV as well"
*Installation details*
Scylla version (or git commit hash): master

**Scenario:**
Pre-condition:
   - base table with materialized view
     CREATE TABLE ks.base (p int, c int, v int, PRIMARY KEY (p, c));
   - one column from base table is not included into materialized view
      CREATE MATERIALIZED VIEW ks.mv AS SELECT p, c FROM base WHERE p IS NOT NULL AND c IS NOT NULL PRIMARY KEY (c, p);
   -

[2018-01-22 14:00] avikivity commented on #3119
Those numbers are huge. Home many disks are in use? For each disk d, what is `/sys/block/d/queue/nr_requests`?

Probably, we should increase that number.

[2018-01-22 14:04] avikivity commented on #3119
If there's a raid involved, maybe we built it incorrectly. Please provide the output of `mdadm --misc --detail /dev/md0`.

[2018-01-22 14:28] harelassayag commented on #3119
[code]

[2018-01-22 14:55] harelassayag commented on #3119
2.1.rc2-0.20180117.d96c31ee4:
[code]
2.0.2-0.20171201.07b039f:
[code]

[2018-01-22 14:58] avikivity commented on #3119
Try to increase `/sys/block/md0/queue/nr_requests` to 1000 and see if it improves things.

[2018-01-22 15:36] avikivity commented on #2770
Seen again with 2.1rc2:

[code]

[2018-01-22 15:42] slivne commented on #2770
@amnonh  ?

[2018-01-22 15:51] avikivity commented on #3119
Installed perf probes on io_schedule on all four nodes, let's see what turns up.

[2018-01-22 16:00] beorn- opened #3141 "Crashed scylladb (during select ?)"
report_uuid : b103bdf4-259b-4ecb-acc9-99045cade94a
Scylla version (or git commit hash): 2.0.2-0.20171130.07b039f
Cluster size: 12
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian
Platform : Physical
Hardware: cores=12 hyperthreading=12 memory=128gB
Disks: (NVMe, 2)

The current coredump happened the other day. i've tried playing with gdb and got lost in the VMT thing. i don't really know how to see the tas

[2018-01-22 16:18] amnonh commented on #2770
The relevant commit is there,
I'll check

On Mon, Jan 22, 2018 at 5:42 PM, Shlomi Livne <notifications@github.com>
wrote:

[2018-01-22 20:11] raphaelsc commented on #3126
On Fri, Jan 12, 2018 at 1:34 AM, Glauber Costa <notifications@github.com>
wrote:

@glommer: I noticed that 2.0.2 has the change to revert dirty memory when
flush fails so next attempt wont fall into this assert, but we only do so
for regular memtable. do we retry flush for streaming memtables? that could
explain it.

[2018-01-22 21:41] glommer commented on #3126
we don't retry flush for streaming.

[2018-01-22 22:23] CorryO opened #3142 "launching scylladb at the command line as root should be disabled OR supported"
root@m01:/data/scylladb# scylla --version
2.0.2-0.20171130.07b039f

## Assuming user has answered yes to "Do you want to enable ScyllaDB services?" while running scylla_setup
After running the scylla_setup script as root the command prompt is returned without further "next step suggestions"

When the root-user tries to run scylla by typing "scylla" he will see this result:
"""
root@m01:/data/scyll

[2018-01-22 22:23] karock opened #3143 "ScyllaDB cluster on community CentOS-based AMI became unresponsive due to high IO load"
*Installation details*
Scylla version (or git commit hash): 2.0.2
Cluster size: 3x i3.xlarge + 3x i3.2xlarge
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

Discussed with Glauber on Slack.

At midnight UTC the morning of Jan 22 all 6 instances in our cluster appear to have been affected simultaneously by a non-ScyllaDB process causing high iowait and > 500MB/sec writes to disk. Restarting the ScyllaDB s

[2018-01-22 22:27] glommer commented on #3143
Here's a graph for iowait in one of those nodes:

![iowait](https://user-images.githubusercontent.com/331197/35247646-22a758c4-ff99-11e7-8be0-d89432f6fe42.png)

It is coincidental with the time frame in which we see the foreground requests queue starting to creep up.
Nothing in his workload writes 500MB/s worth of data - we verified that by looking that the Scylla I/O Queue classes in the I/O Dash

[2018-01-22 23:00] CorryO opened #3144 "Required installed softwar packages to run scylla_raid_setup etc should be documented in the Prerequirements"
when the scylla_raid_setup script is run then it will try to install required missing software/system package. It would be good to document in the prerequirements which packages should be present on the system when running scylla_raid_setup etc.

[2018-01-22 23:13] raphaelsc opened #3145 "Regression on dependency on sstables.hh"
*Installation details*
Scylla version (or git commit hash): 1193e7d2e2407bb0a1933a7d65a5d5d9606c09b1

After patchset 3f527e028d12321465e370a8ffcdf049aee6f7ed, dependency on sstables/sstables.hh was really low, about ~25 files would be recompiled after a change to the file. That was broken not long time ago, a change to the file now requires ~100 files to be recompiled.

[2018-01-22 23:17] #3145 closed

[2018-01-23 00:26] raphaelsc commented on #2712
@slivne: it does

[2018-01-23 00:28] glommer opened #3146 "export database layer statistics in terms of rows, not (only) partitions"
Since 2.0, our cache metrics are available in number of rows (missed, hit, etc) and also partitions. But the number of requests , the database reads/writes, etc, are only available in partitions. We should export the database metrics in terms of rows as well.

We've been asked many times "how come I have 200 requests/sec and 20k cache hits/sec?"

[2018-01-23 07:06] tzach commented on #3144
@CorryO thanks for the input

`scylla_setup` is the main (and only) script one should run on installation, calling scylla_raid_setup and any other utility along the way.

Are you looking for scylla_raid_setup to be self-contained? why not using scylla_setup?

[2018-01-23 08:10] hagrid-the-developer commented on #3112
@juliayakovlev Thanks. In such case, scenario 2 is the same as scenario 1. The number of printed decimal numbers depends on `FLOAT_PRECISION` and `DOUBLE_PRCISION` from `~/.cassandra/cqlshrc` and C* and S* behaves the same, is it correct?

[2018-01-23 08:35] nirmaayan commented on #1825
@slivne have we merged @asias patch?

[2018-01-23 08:42] #3113 closed

[2018-01-23 08:57] avikivity commented on #2388
Will this be fixed as part of #1865? /cc @denesb

[2018-01-23 09:01] slivne commented on #3146
Its not clear to me which metrics you are looking to add .... the total
requests is composed of insert/update/select/btach - so trying to correlate
the total request to cache hits is very "hard"

Can you please clarify, is the issue with the # of returned rows in CQL
Select ?

We have CQL operations

CQL Insert / CQL Update / CQL Batch / CQL Select.

The user can get the exact number of CQL Select

[2018-01-23 09:01] #2712 closed

[2018-01-23 09:06] avikivity opened #3147 "summary resampling"
8726ee937da24a1d4a20bf73d98cd434b237027e introduced adaptive sampling of the index into the summary with a default data:summary size ratio of 2000:1. This gives 5% memory dedicated to summary with a 100:1 disk:ram ratio.

However, on systems with a lower disk:ram ratio, this can lead to unnecessarily large index pages.

We can change the default data:summary ratio to 200:1, leading to smaller inde

[2018-01-23 09:06] avikivity commented on #3147
/cc @raphaelsc

[2018-01-23 09:10] avikivity commented on #2712
Not completely, we can still have an index page that contains a mix of small and large partitions, with the small ones in front. However with #2981 it may not matter.

[2018-01-23 09:27] nirmaayan commented on #2877
@slivne ping

[2018-01-23 09:32] tgrabiec commented on #2388
This issue seems independent of #1865. We can have reader cache, but still have slow cache population due to frequent latency-bound index reads on fast_forward_to().

[2018-01-23 09:50] avikivity commented on #2388
You're right.

/cc @argenet

[2018-01-23 09:55] tgrabiec commented on #3146
@glommer Those metrics are not actually in partitions either, they're in "requests". You can have a multi-partition scan which will be counted as one request on database layer.

[2018-01-23 09:59] avikivity commented on #3142
It's not really an issue of running as root, rather where scylla looks for its configuration.

When run from the command line without extra parameters, scylla looks for `./conf/scylla.yaml` for configuration.

When run from a correctly-setup service, scylla looks for `/etc/scylla/scylla.yaml`.

You can load that file from the command line by using the `--options-file` parameter.

Note: running as

[2018-01-23 11:11] avikivity commented on #3119
Nothing turned up.

[2018-01-23 11:11] avikivity commented on #3119
Installed systemtap script:

[code]

[2018-01-23 11:12] avikivity commented on #3119
[code]

[2018-01-23 11:13] CorryO commented on #3142
Indeed @avikivity , running as root when planned to keep scylla running as root would work, but it's in general a bad idea to run services as root.
I think this topic is more user-experience related:

The concern is that right after scylla_setup users will be tempted, when still logged on as root, to try to run scylla by typing "scylla" or any other command that the find first.

#### When trying t

[2018-01-23 11:15] avikivity commented on #3119
[code]

[2018-01-23 11:33] avikivity commented on #3119
The source of the `generic_make_request_checks()` context switch looks like a `might_sleep()` call. So nothing about that particular request was wrong. Maybe a previous iocb took too long to process (in cpu time!), and this was the first opportunity to switch contexts.

[2018-01-23 11:40] avikivity commented on #3119
Updated script:

[code]

[2018-01-23 11:41] avikivity commented on #3119
System time reported is low:

[code]

[2018-01-23 11:41] avikivity commented on #3119
So it looks like there was another reason for the switch. But what?

[2018-01-23 11:44] avikivity commented on #3119
Another trace:

[code]

[2018-01-23 11:52] avikivity commented on #3119
Added printouts of the task we're switching into, results inconclusive:

[code]

[2018-01-23 11:55] avikivity commented on #3119
Results above are worthless, missing call to `delete_stopwatch()`.

[2018-01-23 11:59] avikivity commented on #3119
Updated script:

[code]

[2018-01-23 12:10] slivne commented on #2630
@syuu1228 lets try and tackle this

[2018-01-23 12:13] slivne commented on #2743
@asias  ?

[2018-01-23 12:18] slivne commented on #2750
closing this issue ... @simsunny22 please look at https://github.com/scylladb/scylla/blob/master/CONTRIBUTING.md if you would like to contribute a fix/change

[2018-01-23 12:18] #2750 closed

[2018-01-23 12:27] slivne commented on #2774
@syuu1228 - so your suggestion is accepted - can we detect if blkdiscard is supported or not and do it only when its supported

[2018-01-23 12:31] slivne commented on #2971
@amoskong  scylladb/seastar#360 was fixed - so we can retest....

[2018-01-23 12:38] slivne commented on #3004
we will support 18.04 (Bionic Beaver)

we are only supporting LTS releases (officially)

[2018-01-23 12:38] #3004 closed

[2018-01-23 12:45] slivne commented on #3022
@raphaelsc  - now that we have TWCS will it be any better - do we have the above mentioned ability ?

[2018-01-23 12:46] slivne commented on #3026
@elcallio - can you please comment on this

[2018-01-23 12:48] slivne commented on #3029
@penberg - can you provide your input on this

[2018-01-23 12:53] slivne commented on #3031
there is a docker2singularity tool (https://github.com/singularityware/docker2singularity) - not sure it solves any of the issues mentioned - if it does can you please update the issue

[2018-01-23 13:12] avikivity commented on #3029
I think it's a bug in hwloc. It tried to parse `/proc/mounts` and fails.

[2018-01-23 13:29] raphaelsc commented on #2971
On Tue, Jan 23, 2018 at 10:31 AM, Shlomi Livne <notifications@github.com>
wrote:

I also fixed a related bug in charybdefs itself, but changes weren't
applied yet.

[2018-01-23 13:44] syuu1228 commented on #2630
On Mon, Jan 22, 2018 at 3:47 AM, Tzach Livyatan <notifications@github.com>
wrote:

That's because we decided not to run scylla_io_setup automatically on
unsupported instance type, since it takes more than 5-10 min, user may not
understand what's going on.

(ex: instance type == t2.micro), suggest users to turn-on dev mode instead?

[2018-01-23 13:50] avikivity commented on #3119
Updated script. Filtering on a cpu to avoid systemtap lock contention.

[code]

[2018-01-23 13:56] avikivity commented on #3119
Seeing 13ms wall  / 13ms systime trace, with lots of:

[code]

So it looks like cpu time spent on managing the b-tree during extent allocation.

[2018-01-23 14:07] avikivity commented on #3119
A longer stall:

[code]

We're spending hundreds of microseconds in timer-14? Doesn't make sense.

[2018-01-23 14:12] avikivity commented on #3119
Theory: timer-14 is processing some softirq or unrelated activity, and because it is SCHED_FIFO, it won't yield.

[2018-01-23 14:21] avikivity commented on #3119
With SCHED_FIFO disabled, getting more interesting traces:

[code]

file_update_time contending on a lock, no idea who the holder is.

[2018-01-23 14:28] avikivity commented on #3119
466ms waiting for the log:

[code]

[2018-01-23 14:32] avikivity commented on #3119
Another one, same trace, 236ms.

[2018-01-23 14:34] elcallio commented on #3026
Again, our transactional auth is based on DSE 4.x. (I hope I am not messing up the numbers here). "Additional modes" is a feature of the 5.x series, where everything was moved into the tangled web of the "unified auth" class. Not sure why we'd care to implement the 5.x model.

The docs should simply point out that transactional auth _is not actually auth_. And in no way safe. It is placeholder aut

[2018-01-23 14:41] avikivity commented on #3119
Improved script:

[code]

[2018-01-23 14:46] glommer commented on #3146
@slivne the total number of requests is grouped - yes. But we have replica-side reads / writes.
What I am after here is a way to see how many rows were returned in a read (or written in a write).

If we are doing range scans, or complex requests (as @tgrabiec) pointed out, we could still count how many rows are touched by it.

[2018-01-23 17:07] CorryO commented on #3144
When the user should only run scylla_setup then the fact that the setup procedure will install extra software packages without pre-informing the user still exists.

Based on my experience I think this (installing extra software packages without pre-informing the user/teams) might make "product landing" in larger organisations a bit more difficult since sysadmins will become more skeptic about that

[2018-01-23 19:45] vladzcloudius opened #3148 "Crash during startup when resharding is required"
*Installation details*
git HEAD: bf4a90fa51634eff2171c31293a70ec3ac1c9e79
Cluster size: 1
OS: Ubuntu 16.04

*Hardware details (for performance issues)*          Delete if unneeded
Platform: GCE n1-standard-8 instance
Hardware: sockets=1 cores=4 hyperthreading=yes(2) memory=30GB

*Description*
1) Create a ccm cluster of 1 node: `ccm create scylla-1 --scylla --vnodes -n 1 --install-dir=<scylla dir>`

[2018-01-23 19:58] glommer commented on #3148
@vladzcloudius could you try this with my timeout patches reverted?

@tgrabiec I see a lot of `fill_buffer` in that trace, so maybe they are relevant?

@raphaelsc most importantly, regardless of who and how broke this, it seems that everybody is breaking resharding all the time. At this point, we have to ask ourselves why we don't have better unit tests for it?

[2018-01-23 20:02] raphaelsc commented on #3148
@glommer this time it doesn't seem like a basic resharding scenario. i can't reproduce it locally. unit test for resharding was added, but it definitely needs to be improved.

[2018-01-23 20:38] tgrabiec commented on #3148
@vladzcloudius Does it reproduce reliably? Can you try with a debug-mode build?

[2018-01-23 20:54] vladzcloudius commented on #3148
@tgrabiec yes, it reproduces 100% of the times.

[2018-01-23 22:27] vladzcloudius commented on #3148
@slivne @glommer These patches are definitely the breaker.
The hash of the merge in question is 9c391970b8eeb51bd69ac862a600b78c60b29d06.
Before it the resharding works.
With them scylla crashes.
The crash looks a little different however: it's at the same place with the default logging level but the trace is as follows:
[code]
and the decoding of the interesting part is:
[code]

[2018-01-23 22:33] glommer commented on #3148
I will only be able to look at this next week

On Jan 23, 2018 5:27 PM, "vladzcloudius" <notifications@github.com> wrote:

[2018-01-23 22:42] vladzcloudius commented on #3148
@tgrabiec

[code]

[2018-01-24 00:44] dorlaor commented on #3134
On Tue, Jan 23, 2018 at 7:33 AM, Vadim Bezruchko <notifications@github.com>
wrote:

Definitely run frequent repairs

It's possible to run repair in parallel, we're about to release Scylla
manager which will be the main console to manage
Scylla. It's first main feature is managed, parallel repair. It streams
very small ranges in order to have a controlled effect
on performance (cpu/latency wise). S

[2018-01-24 01:04] asias commented on #3134
Hello @vabezruchko, current scylla repair works at 100 of partitions granularity, i.e., if a single row in that 100 partitions diffs, the whole 100 of partitions will be synced by the repair master by fetching all the rows from participant node and merging them and sending them back. This is why you see disk usage goes up and you see bunch of streaming on wire. The compaction will reduce the disk

[2018-01-24 01:21] glommer commented on #3148
This particular crash you are hitting now seems to be fixed by @tgrabiec already (Just saw that - thanks BTW, Tomek)

Unless the new crash is something trivial that somebody can figure out quickly, it will take me a week to get to this (travelling)

[2018-01-24 04:47] raphaelsc commented on #3148
On Tue, Jan 23, 2018 at 11:21 PM, Glauber Costa <notifications@github.com>
wrote:

resharding triggers it but it doesn't seem specific to resharding. I have
seen this issue before, and I really believed it was fixed at some point
and I just moved on. I'm claiming this isn't specific to resharding because
I remember disabling resharding still triggered it. I'll double check.
Anyway, I was also able

[2018-01-24 04:58] raphaelsc commented on #3148
On Wed, Jan 24, 2018 at 2:47 AM, Raphael S. Carvalho <raphaelsc@scylladb.com

Let me be clear, when I say resharding, I mean sstable resharding. But smp
count change clearly exposes the bug. It looks like memory related, perhaps
an incorrect huge allocation somewhere which leads to failure in read path
down the road. At least this bug exposed some weakness in sstable read from
compressed chunk met

[2018-01-24 07:10] hagrid-the-developer commented on #3112
So for the summary:
Scenario 4: We use a different algorithm from Java, but various Java implementations use different algorithms as well. And it seems that final results for our implementation don't vary too much, so I think it is not worth to try to change our implementation.

Scenario 3:

Issue with conversion X -> double -> Decimal that is covered by #3110 .

Scenario 1 & 2:
It seems that we w

[2018-01-24 07:17] raphaelsc commented on #3148
I think I already know what the problem is. After introduction of segmented offset for sstable compression metadata, now we'll have all shards owning the sstable updating the metadata used for reading the segmented offsets. The fix is about moving the state to sstable because compression struct which in turn store segmented_offsets is shared among all shards that own the shared sstable. It's not a

[2018-01-24 08:57] slivne commented on #2780
@asias can you provide the commit id ? - it would be good to know in which version we fixed it.

[2018-01-24 12:27] juliayakovlev commented on #3110
We still lose decimal numbers in case cast to decimal.
This is example for cast from bigint to decimal:
CREATE TABLE IF NOT EXISTS cast_bigint_test (k int PRIMARY KEY, bigint_clmn bigint);
INSERT INTO cast_bigint_test (k, bigint_clmn) VALUES (0, 7657139128428828644);
INSERT INTO cast_bigint_test (k, bigint_clmn) VALUES (1, 125);
INSERT INTO cast_bigint_test (k, bigint_clmn) VALUES (2, -5698);

SEL

[2018-01-24 15:24] tarzanek commented on #2410
fwiw very similar problem here, usually if a node gets upgrade or restarted during (or close to) spike

workaround is to either nodetool drain, stop and start off the peak
or stop, completely wipe out node , start and rebuild it

[2018-01-24 15:33] elcallio commented on #3072
Verified. Seems we sort of misunderstood the gnutls "required" attribute. It only demands a remote cert. It does not run verification automatically. Needs a seastar fix.

[2018-01-24 15:49] elcallio commented on #3072
See scylladb/seastar#393

[2018-01-24 17:22] penberg opened #3149 "Docker image's default listen address problem with "hostname -i""
The Docker image uses "hostname -i" to determine a default listen address:

https://github.com/scylladb/scylla/blob/master/dist/docker/redhat/scyllasetup.py#L37

Unfortunately the command may return more than one IP address, which results in incomprehensible error messages:

[code]

Full bug report here:

https://groups.google.com/forum/#!topic/scylladb-users/v2hbaSroxCg

[2018-01-24 17:56] eyalgutkind opened #3150 "Provide Scylla Helm Charts to support Kubernetes installations"
For deployments using Kubernetes it will be easier for the end user to deploy Scylla using Helm.
https://github.com/kubernetes/helm

[2018-01-24 18:49] tzach opened #3151 "Docker: support replace node parameter"
*Installation details*
Scylla version (or git commit hash):  2.1

When replacing a Scylla node in a docker base deployment, it will be useful to expose scylla.yaml parameter `replace_address` as an option.

See: http://docs.scylladb.com/procedures/replace_dead_node/

[2018-01-24 18:49] tzach commented on #3151
@penberg maybe a generic way to set *any* scylla.yaml parameter is the way to go.

[2018-01-24 19:10] #2770 closed

[2018-01-24 20:03] karock commented on #3143
We had something similar happen to one node (an i3.2xlarge we wanted to keep) as we were decommissioning a different node (first of 3 i3.xlarge that we're removing so all nodes are the same size). Was able to get iotop running quickly enough to find the culprit:

[code]

After a quick discussion with @glommer he directed me to the coredump file that resulted from this and now the high IO load make

[2018-01-24 21:34] ysubach commented on #3143
@glommer There are two backtraces https://gist.github.com/ysubach/d06393bd091c292e2336f380b7f50ac1

* bt176.log - from originally failed node 176 (coredump uploaded with UUID above)
* bt251.log - from another node which failed while trying to `removenode` on previously mentioned node 176

[2018-01-24 22:55] glommer commented on #3143
@gleb-cloudius I see some rpc stuff in this backtrace.

Can you take a look? User cannot remove nodes or decomission nodes as a result of that.
One peculiarity of their cluster is that they have nodes of different sizes (as they were scaling up, intending to decomission the smaller ones). That is 2.0.2 with the standard AMI

@slivne

[2018-01-24 23:02] karock commented on #3143
guess I didn't mention it here, but the config changes we made were `experimental: true` and `endpoint_snitch: Ec2Snitch`. We're using the experimental materialized views.

[2018-01-25 08:07] raphaelsc opened #3152 "Add support to timestamp resolution other than microsecond for TWCS"
Certain/older clients may decide to work with milliseconds as timestamp resolution instead

[2018-01-25 08:48] gleb-cloudius commented on #3143
On Wed, Jan 24, 2018 at 02:55:15PM -0800, Glauber Costa wrote:

I think I have already seen bt176.log, but cannot find an issue about
it. The cause is that we enable storage_proxy rpc interface before token_metadata
is replicated to all cpus. It was never been a problem before counters
since no rpc call was using token_metadata, but counters mutation use it, so we
need to enable storage_proxy rpc

[2018-01-25 09:00] slivne commented on #3143
Gleb Thanks

Can you please open (seperate) bugs about both of this

Ty are you using counters as well  (I saw the comment about enabling
experimental for MV) ?

Shlomi

On Thu, Jan 25, 2018 at 10:48 AM, Gleb Natapov <notifications@github.com>
wrote:

[2018-01-25 09:21] tzach commented on #2630
make sense. So all other configs in scylla_setup are not required?

Yes. By doing it explicitly we are making sure teh user knows its a non-performance setup.

Can we also add dev mode as an option to user data? with dev-mode setting, the instance should start scylla in dev mode automatically.

[2018-01-25 10:10] slivne commented on #2710
@avikivity - won't the work from @argenet fix this ?

[2018-01-25 10:15] slivne commented on #3033
we are working on row level repair ....

[2018-01-25 10:16] gleb-cloudius commented on #3143
On Thu, Jan 25, 2018 at 09:00:51AM +0000, Shlomi Livne wrote:

The first one does not exists in master any more (this is why there is
no issue). There is no assert in token_metadata::first_token_index() any
longer, it throws exception instead. This exception will be propagated
to a caller and operation will fail. Registering rpc later will essential
cause different exception with the same result,

[2018-01-25 10:22] gleb-cloudius opened #3153 "Storage_proxy write handler aborts scylla process if it gets unexpected reply."
*Installation details*
Scylla version (or git commit hash): 1219120c00a9314c272e84cce8d1e1c280c65630

If a coordinator sends write requests with ID=X and restarts it may get a reply to the request after it restarts and sends another request with the same ID (but to different replicas). This condition will trigger
an assert in a coordinator. We should handle it more gracefully.

[2018-01-25 10:22] gleb-cloudius commented on #3143
For the second one I opened #3153.

--
			Gleb.

[2018-01-25 10:23] slivne commented on #3040
@glommer - when there is a checksum error the node drains and disconnects from the cluster - I do not think this is something that we should count -we should alert about that (the same is true for the io errors)

The analysis of what causes the node to drain/stop/fail should be done via the logs in my view as it is more informative then the counters.

So to sum up - if there was a checksum error/i

[2018-01-25 10:25] slivne commented on #3043
closing the issue - @zhiguoxu  if there is additional info please post and we can reopen

[2018-01-25 10:25] #3043 closed

[2018-01-25 10:26] slivne commented on #3044
@drasko - closing this - if you still have problems - or the info is not complete on the quiclstart - please post and we will fix (for the next person :) ).

[2018-01-25 10:26] #3044 closed

[2018-01-25 10:30] slivne commented on #3045
We have a fix in 2.1

scylladb/scylla-tools-java@c4ba9fc850b5d3d8b73fe6e74174c73ab25e1317

@juliaangell - you can try and use the 2.1.rc's or wait for the final release

closing this - if there is still an issue pleas let us know.

[2018-01-25 10:30] #3045 closed

[2018-01-25 10:33] slivne commented on #3047
@julienlau - were you able to upgrade - the last issue seems to be related to perftune and not to the upgrade ?

@amoskong - any update

@vladzcloudius - can you please take a look at the perftune part - if we have resolved the issue can you provide the version/commit that fixed this

[2018-01-25 10:35] slivne commented on #3054
@tzach - input ?

[2018-01-25 10:37] slivne commented on #3055
@zhiguoxu - can you please provide the resolution / additional info requested so we can fix this.

Closing the issue for now - will reopen when we get the additional info

[2018-01-25 10:37] #3055 closed

[2018-01-25 10:40] slivne commented on #3056
@raphaelsc / @vladzcloudius how do we support this in the tools ?

It would be better if the structure on the disk will be consistent in my view - e.g. all use the x86 structure - whats the penalty in this case ?

[2018-01-25 10:44] slivne commented on #3061
@vladzcloudius ?

[2018-01-25 10:48] slivne commented on #3064
@glommer can you please add some context - I assume you have seen that on the field - machine of how many cores - how long did it take ?

[2018-01-25 10:50] slivne commented on #3069
@raphaelsc - any update ?

[2018-01-25 10:51] slivne commented on #3070
@amoskong - we have moved to signed repos ... can you check the current jobs do we still have this issue ?

[2018-01-25 10:54] slivne commented on #3072
lets close this after the patch is merged to 2.1 stream

[2018-01-25 10:57] slivne commented on #3074
@amoskong ? can you also try ?

[2018-01-25 10:58] slivne commented on #3075
@tzach ping lets update the instructions http://www.scylladb.com/download/debian8/

[2018-01-25 11:04] slivne commented on #3085
duplicate #3074

[2018-01-25 11:04] #3085 closed

[2018-01-25 11:06] slivne commented on #3090
@syuu1228 - did you send a patch for this to force the flag ?

[2018-01-25 11:10] slivne commented on #3094
@glommer / @avikivity your input

[2018-01-25 11:13] slivne commented on #3098
@elcallio - is this still open - did we fix this -

[2018-01-25 11:14] duarten commented on #3063
Something's off here. The code the backtrace is pointing to is:

[code]

Which is correct.

Is there a core dump?

[2018-01-25 11:16] slivne commented on #3100
@ban4785 -are you using c-s to load the data - if so can you share the profile and we will try to reproduce

[2018-01-25 11:17] duarten commented on #3080
This seems expected if the target node was down or overloaded. What exactly is to be fixed here? /cc @nyh

[2018-01-25 11:22] slivne commented on #3126
@Leroy8508 - if this happens again it will help if you follow the procedure in http://docs.scylladb.com/operating-scylla/troubleshooting/report_scylla_problem/
to analyze and fix this issue.

Closing this issue as we are not able to reproduce with the current information.

[2018-01-25 11:22] #3126 closed

[2018-01-25 11:24] slivne commented on #3130
@veramine thanks - closing this issue - if there is still a problem please post info here and we will reopen and resolve.

[2018-01-25 11:24] #3130 closed

[2018-01-25 11:25] slivne commented on #3132
@ban4785 if you can share additional info we will try and reproduce (also in #3100)

[2018-01-25 11:36] slivne commented on #3134
@vabezruchko - if the information in the nodes is in synch scylla will not stream data and write it to disk - so if your data was in synch this should not happen.

If there is a workload in parallel that is writing data to the cluster - then there will be "some" difference between the nodes - that is related to the in flight writes.

If your partitions are large and you are appending information t

[2018-01-25 11:43] slivne commented on #3138
@amuzychka - it seems you have two issues

nodes are failing - can you open an issue with the ifnormation about your nodes failing and provide all the information you have
if you can please follow: http://docs.scylladb.com/operating-scylla/troubleshooting/report_scylla_problem/

With regards to nodes failing to boot it will help if you include all the info from the start of the boot and not just t

[2018-01-25 12:20] tzach commented on #3075
Update the page. @syuu1228 please test

[2018-01-25 12:31] karock commented on #3143
@slivne Yes, we are also using counters. If having our schema or access to our cluster would be useful somehow just let me know, I'm sure we can arrange something.

[2018-01-25 13:08] amnonh commented on #3094
This is already solve, it should be closed

[2018-01-25 13:13] glommer commented on #3040
Alert how ?

The key here is that prometheus support proper alerts that can be tied to
other infrastructure.

Being able to use Prometheus alerts is exactly why the user wants a counter
for this.

On Jan 25, 2018 3:23 AM, "Shlomi Livne" <notifications@github.com> wrote:

@glommer <https://github.com/glommer> - when there is a checksum error the
node drains and disconnects from the cluster - I do n

[2018-01-25 13:51] slivne commented on #3094
please provide the commit id

On Thu, Jan 25, 2018 at 3:08 PM, Amnon Heiman <notifications@github.com>
wrote:

[2018-01-25 15:00] vladzcloudius commented on #3047
@julienlau This issue duplicates the issue #3001. The issue has been fixed and closed. You can find the corresponding commit in the issue above.
Is your setup some PV virtualization machine?

[2018-01-25 15:05] amnonh commented on #3094
a0a1961b6dbfeb784294cbaf02e087f73974ad75

[2018-01-25 15:16] vladzcloudius commented on #3056
@slivne @raphaelsc I agree. We'd better choose some endianess and use it on all platforms.

[2018-01-25 15:53] vladzcloudius commented on #3061
@slivne Nothing comes to mind right out of my head but I guess there was something. I guess the bisecting would be the best tool to catch the offender.

[2018-01-25 16:01] slivne commented on #3119
Internal mailing list "many reactor stall issue reproduction attempt"

[2018-01-25 16:01] slivne commented on #3119
there is a big difference in streaming between 2.0 and 2.1

[2018-01-25 17:06] ysubach commented on #3143
More information (reposted from Slack). In both case discussed above we found following strange errors in syslog, right before process died:
[code]
In these error message "0.0.96.16" is an IP address, other log lines had other random and absolutely unreal IPs:
[code]
This can be some sort of memory corruption or addressing issue.

[2018-01-25 19:05] penberg opened #3154 "CQL secondary indexing problem with case-sensitive names"
*Installation details*
Scylla version (or git commit hash): 2.1-rc1

The following fails:

[code]

but the following succeeds, which suggests a problem in secondary index lookups with case sensitive table and column names:

[code]

[2018-01-25 19:32] argenet commented on #2710
It seems this particular one happens on parsing/inserting index_entries which is going to remain the same with the current approach to #2981. We have tried an approach where both index_entries and promoted index blocks were parsed incrementally but found it to hit badly the cases when we cannot properly estimate the upper bound for a partition range read.

[2018-01-25 23:58] roydahan opened #3155 "Failure to start (after stopping) a scylla node in a cluster with 1000 keyspaces & tables - commitlog_replayer - bad_alloc"
*Installation details*
Scylla version (or git commit hash): 2.0.2
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS
Instance-type: n1-highmem-16 (16 vCPUs, 104 GB memory)

After populating 4TB into a cluster with 1000 keyspaces and each keyspace has one table, a restart to one of scylla nodes resulted in failure and not refuse to start.

The following errors and warnings appears in the logs:

[2018-01-26 00:16] roydahan commented on #3155
Full log: https://s3.amazonaws.com/scylladb-users-upload/3155/job.log.tar.gz
Prometheus Data: https://s3.amazonaws.com/scylladb-users-upload/3155/prometheus-date.tar.gz

[2018-01-26 04:40] glommer opened #3156 "Speculative Retry can cause a domino effect of doom"
I came across a problem in a live cluster, with the following symptoms:

* Connections are perfectly balanced among all shards
* No compactions or flushes are running in any shard.
* Load is 100 % reads.
* Yet, one particular shard is at ~100 % CPU utilization while all others are close to 50 %.
* The shard that is busy *does* have more replica reads (almost twice as much) than the others, but the

[2018-01-26 04:44] glommer commented on #3156
One idea:

Make speculative retry probabilistic. We keep track not only of the 99 %, but also the time it took for a retried request to actually return over recent history. The probability of retrying a request that is over the 99 % is then proportional to this delta -> if we have been usually retrying but the requests have been coming back right after, we retry the current request with low probab

[2018-01-26 06:11] Abouzeid opened #3157 "Can not add a new node to an existing cluster"
*Installation details*
Scylla version (or git commit hash):  2.0.2-0.20171201.07b039f
Cluster size: 2 nodes
OS : CentOS 7

I'm totally new to Scylla. I want to have a cluster of three Scylla nodes.
I've two nodes running Scylla.

**nodetool status**
Datacenter: datacenter1

Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address         Load       Tokens       Owns (effective)  Host ID

[2018-01-26 06:21] dorlaor commented on #3157
Looks like you have a damaged line #0 in your config scylla yaml file.
Can you compare the 3rd node with the others?

On Thu, Jan 25, 2018 at 10:11 PM, Abouzeid <notifications@github.com> wrote:

[2018-01-26 06:22] glommer commented on #3157
He sent me his file and I started up scylla just fine with his file as is.
Likely we have an issue here.

[2018-01-26 07:43] Abouzeid commented on #3157
I did compare the scylla.yaml file with the other two nodes, they are the same only the Ip addresses are different.

[2018-01-26 08:01] Abouzeid commented on #3157
After copying and pasting the yaml file from one of the running nodes to the new one, still the same error.

Jan 26 15:56:27 localhost.localdomain polkitd[1176]: Unregistered Authentication Agent for unix-process:2757:136523 (system bus name :1.17, object path /org/freedesktop/PolicyKit1/AuthenticationAgent, locale en_US.UTF-8) (disconn
Jan 26 15:56:31 localhost.localdomain sudo[2762]:     root :

[2018-01-26 10:30] gleb-cloudius commented on #3157
May be different locale for scylla user?

--
			Gleb.

[2018-01-26 14:21] amoskong commented on #3070
@slivne The problem doesn't exist in latest job, so it's fixed.

[2018-01-26 14:28] amoskong commented on #3074
Not reproduce for me.

It also doesn't exist on latest job:
http://jenkins.cloudius-systems.com:8080/job/scylla-2.0-debian8-deb-test/label=huginn/46/artifact/latest/job.log

On Thu, Jan 25, 2018 at 6:57 PM, Shlomi Livne <notifications@github.com>
wrote:

[2018-01-26 14:55] denesb opened #3158 "query_result_builder move issues"
Although this class is move-constructible, doing so after calling any of its non-const members will result in it blowing up in your face. The reason is that after it's `consume_new_partition()` method is called it stores references to it's own member which it doesn't update when moved, hence the references become dangling.
Proposed solution: either disallow move-construction (inconvenient) or fix

[2018-01-26 15:01] denesb opened #3159 "flat_mutation_reader: reverse consumption is not resumable"
When consuming the rows in reverse order the `flat_mutation_reader` creates a temporary wrapper `partition_reversing_mutation_reader` around its `_impl` which does the reversing. This wrapper reads whole partitions into memory (!). After the consumer requested a stop this temporary wrapper is destroyed with any remaining rows in its buffer. This causes problems for paged requests where the page en

[2018-01-26 15:16] amuzychka commented on #3138
@slivne I already clean up that cluster so I can't provide logs, but looks like I found what was happening (at least in my case).
The reason why Scylla crashed was in our data pipeline. Scylla failed when 12 Hadoop clusters started **simultaneous** writes to 12 difference keyspaces, db failed in few first seconds, a simple delay in 10 seconds for each Hadoop cluster fixed this.

And 2nd issue, nod

[2018-01-26 16:02] tgrabiec commented on #3159
Refs https://github.com/scylladb/scylla/issues/1413

[2018-01-26 23:41] robdefeo opened #3160 "Materialized views does not contain old data"
I have been materialized views with the experimental flag, the preview [docs](http://www.scylladb.com/2017/07/27/materialized-views-preview-scylla-2-0/) states

What are the issues to track this feature?

[2018-01-27 00:55] duarten commented on #3160
It's #1141. Also, please ask questions over the mailing list and not using the bug tracker.

[2018-01-27 00:55] #3160 closed

[2018-01-27 01:34] raphaelsc commented on #3056
@slivne @vladzcloudius I think after 331b906d9315b303875672d7f81c2b95633c3c54, we're now consistent. For everything else, network order is used, but summary entries for some reason (decided in C* not us) that host endianess would be used. Perhaps they load summary on demand which would explain the decision.

Now, sstable generated on a big endian host can now be loaded on little endian one, and vi

[2018-01-27 01:39] raphaelsc commented on #3148
@slivne, @tgrabiec: I think we need this for 2.1 given that segmented offset is present in that branch: https://github.com/scylladb/scylla/blob/5e44bf97f0a561d3b79498dc7033fe592e98c3aa/sstables/compress.hh#L127 Or resharding would be broken.

[2018-01-27 01:43] raphaelsc commented on #3069
This is #3148. @pdziepak was exactly right when he said: "More "hidden" than "fixed"" :-) The problem is a race condition when reading segmented offsets, triggered by resharding.

[2018-01-27 02:19] nasirali1 opened #3161 "Failed to restart/start"
*Installation details*
Scylla version (or git commit hash): 2.0.2-0.20171201.07b039f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): pysical
Hardware: sockets=1 cores=4 hyperthreading=8 memory=32GB
Disks: (SSD/HDD, count) HDD 1

I installed ScyllaDB on a fresh CentOS

[2018-01-27 02:53] amoskong commented on #3161
Your config file has problem:

[code]

Can you check and upload your /etc/scylla/scylla.yaml here?

[2018-01-27 03:11] nasirali1 commented on #3161
It's a fresh install. I didn't change config. Here is the config file

# Scylla storage config YAML

#######################################
# This file is split to two sections:
# 1. Supported parameters
# 2. Unsupported parameters: reserved for future use or backwards
#    compatibility.
# Scylla will only read and use the first segment
#######################################

### Supported Para

[2018-01-27 03:11] vladzcloudius commented on #3056
@slivne @raphaelsc @glommer @avikivity I think that the most important transition path that we need to support is from C* to Scylla on the same platform, e.g. transition the existing C* cluster on Power configured in a big endian mode to Scylla. The patch above seem to break this path.

However, note that scylla doesn't support any big endian platform yet (nor it has been attempted to be compiled/

[2018-01-27 03:28] nasirali1 commented on #3161
I replicated the same procedure (as described in my first post) on two other similar specs machines with CentOS 7.2 and have the same issue. Error is same. I followed installation steps described here http://www.scylladb.com/download/centos_rpm/

[2018-01-27 03:35] glommer commented on #3157
@gleb-cloudius good theory. @Abouzeid what is your LOCALE ?

[2018-01-27 11:53] JvGinkel commented on #3161
+1 same problem here after update on Centos 7 to `scylla-server-2.0.2-0.20171201.07b039f.el7.centos.x86_64`

[2018-01-27 12:39] JvGinkel commented on #3161
UPDATE:

I did some more testing, first I did a downgrade back to `scylla-2.0.0-0.20170929.e265c91.el7.centos` but this didn't help (still the error about the yaml file).

After some investigation of my `yum.log` I found that the package `yaml-cpp` was updated to version `0.5.3-7` in the epel repository. There is no older version any more available in the epel repo but I found one at http://cbs.ce

[2018-01-27 14:08] gleb-cloudius commented on #3157
issue #3161 seams to be a dup and there are some finding there.

--
			Gleb.

[2018-01-27 14:22] JvGinkel commented on #3157
Indeed see my latest comment in #3161. The problem is in the package `yaml-cpp-0.5.3-7.el7.x86_64` (or at least the problems started when I updated this package). If you downgrade the package on Centos7 you can start scylladb again. (My cluster is now back online)

[2018-01-27 14:58] avikivity commented on #3161
Good detective work. Do you have non-default locale set up? I want to know if it's a combination of non-default locale and yaml-cpp-0.5.3 or just yaml-cpp-0.5.3.

[2018-01-27 17:08] duarten commented on #2852
Another manifestation of this bug:

Node `127.0.32.4`:
[code]
Node `127.0.32.2`:
[code]

[2018-01-27 17:56] JvGinkel commented on #3161
[code]

[2018-01-27 19:40] avikivity commented on #3161
Well, I can't think of anything more default than that. So the failure is completely due to the change in yaml-cpp.

[2018-01-28 00:33] nasirali1 commented on #3161
Thanks @JvGinkel ! Yes this was the problem. I downgraded to  yaml-cpp-0.5.1-6.el7.x86_64 and Scylla installed and ran without any error.  However, running "update" command will update yaml-cpp and it may cause issues on a production server.

Is there a way to restrict Scylla to only use specific version/code of yaml-cpp? OR restrict Centos to not update this package?

[2018-01-28 01:44] nasirali1 commented on #3161
This might not be related to this issue but if I change "data_file_directories" to use "- /fold/data1". Scylla fails to load and fills /var/lib/systemd/coredum.

Cannot I use any mounted directory as "data_file_directories" ?
Why any simple failure fills coredum?

[2018-01-28 07:31] JvGinkel commented on #3161
You can add the `yaml-cpp` package to the `exclude` setting in the `/etc/yum.conf`:
[code]

[2018-01-28 08:23] tzach opened #3162 "Fail to install Scylla on Debian 8 due to Java instructions issue"
*Installation details*
Scylla version (or git commit hash): 2.0.x
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 8 on GCE

[code]

The first step in [Java install on site](http://www.scylladb.com/download/debian8/) is
[code]

results:
[code]

[2018-01-28 08:23] tzach commented on #3162
@syuu1228 any idea?

[2018-01-28 08:35] slivne commented on #3138
@amuzychka

Thanks for the info

If all clients run a Shema DDL (Create KEYSPACE / Create TABLE) at the same time - it could be that they are racing and that causes the issue (we intend to improve this). Is this what your hadoop clusters do ?

If so an alternate solution to this - is to create the schema before all the clients connect.

With regards to the second issue we are not aware of commitlo

[2018-01-28 08:58] slivne commented on #3148
@raphaelsc - tx - waiting for you patch ....

[2018-01-28 09:09] slivne commented on #2852
We also have system_traces ...

I think the solution for both was to use a fixed UUID  for the system_auth
and system_traces - is that already done ?

On Sat, Jan 27, 2018 at 7:08 PM, Duarte Nunes <notifications@github.com>
wrote:

[2018-01-28 09:10] slivne commented on #3069
@raphaelsc  tx, so I am closing this and leaving #3148 for you to fix

[2018-01-28 09:10] #3069 closed

[2018-01-28 09:20] slivne commented on #3157
@Abouzeid - I am closing this issue and leaving #3161 open as it has more info - you can use the suggested procedure - we are working on a solution.

[2018-01-28 09:20] #3157 closed

[2018-01-28 11:07] slivne commented on #3141
@denesb - please analyze (and extract the back trace)

[2018-01-28 11:09] slivne commented on #3159
maybe for the meantime we should not support caching of readers for reverse queries

[2018-01-28 11:20] slivne commented on #3152
@raphaelsc can you please clarify the issue with different clients ?

if we have two clients writing data with different resolution how will the timestamp info be persisted into the file ?

are other compaction strategies resilient to this - and if so how ?

[2018-01-28 11:42] #3070 closed

[2018-01-28 12:21] tzach opened #3163 "Change default user/pass to Scylla"
*Installation details*
Scylla version (or git commit hash): 2.1

Default user/pass for Auth is `cassandra`
http://docs.scylladb.com/operating-scylla/authentication/
should be `scylla`

[2018-01-28 12:57] #766 closed

[2018-01-28 13:44] avikivity commented on #3161
Filed [bug](https://bugzilla.redhat.com/show_bug.cgi?id=1539386) against Fedora EPEL.

[2018-01-28 13:48] gleb-cloudius commented on #3161
It looks like the problem is that yaml-cpp moved from using
boost::shared_ptr to std::shared_ptr as part of C++11-isation (commit
24fa1b33805c9a91df0f32c46c28e314dd7ad96f there). Unfortunately the
pointers are part of a data structures that are accessed from
templated and inlined code . If inlined and library code do not agree
about how data structure looks like things breaks down. Unfortunately
i

[2018-01-28 14:57] avikivity commented on #3161
Isn't it https://github.com/jbeder/yaml-cpp/commit/03d6e7d67271be698d9a2fd51f749201649e0223 ? `shared_memory` is an std::shared_ptr.

[2018-01-28 15:00] avikivity commented on #3161
EPEL is considering downgrading back to 0.5.1 (which would require us to rebuild our unreleased packages).

[2018-01-28 15:05] duarten commented on #2852
I think that's unrelated. The UUID is determined by the schema version, which should be the same for identical schemas.

[2018-01-28 17:28] gleb-cloudius commented on #3161
Well, actually https://github.com/jbeder/yaml-cpp/commit/24fa1b33805c9a91df0f32c46c28e314dd7ad96f
is not in 0.5.3, so something else cause layout change. May be
https://github.com/jbeder/yaml-cpp/commit/0c280724e96787d08147cdca0bfe2c1123eb258d
and
https://github.com/jbeder/yaml-cpp/commit/ec8aa4fa625257b0db7254460b91b517e2b16a7e

--
			Gleb.

[2018-01-29 00:42] syuu1228 commented on #3162
@tzach I couldn't reproduce this on GCE, but I think it's probably because we are missing "apt-get update" before "apt-get install".

[2018-01-29 00:46] karock commented on #3143
midnight UTC today (40 minutes ago) we had a repeat of this issue. seems to be a recurring thing.

going to be putting some debug info into the comments here, still working on getting the cluster working so it may come across a bit disjointed, but hopefully I can give a proper recap once things are settled again.

[code]

[2018-01-29 01:05] karock commented on #3143
got the cluster running again at 1 AM UTC almost exactly (same as last week, but I started working on it sooner this time, so that seems a bit suspicious). the most interesting thing I'm seeing here is that there were no coredumps from today. top/iotop showed no trace of `systemdc-coredump`. I did see fstrim though:

![screen shot 2018-01-28 at 7 35 41 pm](https://user-images.githubusercontent.com

[2018-01-29 01:06] glommer commented on #3143
fstrim was my original suspect. It is known to cause this due to a kernel bug.
If this is really fstrim running, you can try disabling it in cron. Kernel 4.14 should no longer have this issue

[2018-01-29 01:10] karock commented on #3143
I tried to run `systemctl restart scylla-server` on the 3 nodes that showed the large spike in foreground reads (things looked similar to the original screenshot). it took a while but ultimately failed on all nodes. I restarted two of the instances (`shutdown -r now`), they failed to respond to networking on reboot (failed second health check) so I restarted from the EC2 console and they came back

[2018-01-29 01:12] karock commented on #3143
does seem odd though that we're the only ones seeing this problem with the same AMI that most others are running too, doesn't it? I can certainly try disabling fstrim for next weekend but wouldn't it be something that others could replicate as well?

[2018-01-29 01:33] syuu1228 commented on #3076
@tzach /usr/sbin is not on PATH for non-privileged users since the command is only for privileged user. We just need to do "sudo scylla_setup" instead.

[2018-01-29 01:33] syuu1228 commented on #3076
It's same on other distributions.

[2018-01-29 03:25] Abouzeid commented on #3157
Thank you all.
Now, I am running the cluster on Ubuntu 16.04.
It works fine.

[2018-01-29 06:21] denesb commented on #3141
Hi @beorn-

Can you please extract and upload here the cause of the crash and the stack trace.
Please try running the following:
[code]
And copy here the output.
Also can you please copy here the logs around the crash (if you have it), I'm especially interested in the part just before the crash. If you need any help let me know.

[2018-01-29 06:23] denesb commented on #3141
Nevermind, I just noticed you have a report-id.

[2018-01-29 08:08] amoskong commented on #3063
No coredump

[2018-01-29 08:22] slivne opened #3164 "packaging: debian/ubuntu - statically link with yaml-cpp"
libyaml-cpp-dev includes static library for yaml-cpp - link with it to avoid issues of incompatability between versions in yaml-cpp (see #3161)

[2018-01-29 08:35] beorn- commented on #3141
Anyways, the bt full would not have fit in here !

[2018-01-29 09:05] elcallio commented on #3098
According to the ultimate source of info, i.e. source code, transitional mode is supposed to give "all" permissions to super user, and "read, write, describe, authorize" to everyone else. Describe keyspace seems to fall into this set?

[2018-01-29 09:20] amoskong commented on #3098
This issue is about login, not permissions after login.

[2018-01-29 09:44] amoskong commented on #2971
On Tue, Jan 23, 2018 at 9:29 PM, Raphael Carvalho <notifications@github.com>
wrote:

Do you mean those patches?

commit f473a9c4a857b39d71aa2fd32d2031d5460f18f1

Author: Raphael S. Carvalho <raphaelsc@scylladb.com>

Date:   Wed Nov 15 03:47:55 2017 -0200

    add silent data corruption recipe to cookbook

    Signed-off-by: Raphael S. Carvalho <raphaelsc@scylladb.com>

commit 85f32e0b519a2bf85c4c1

[2018-01-29 10:19] amoskong commented on #2971
I didn't reproduced this issue with 666.development-0.20180123.bf4a90fa5
I used both `current charybdefs master` and `current charybdefs master with 3 fixes` from @raphaelsc

[2018-01-29 12:56] roydahan commented on #3155
Do we want to extract anything else from this cluster or I can stop it?

[2018-01-29 13:28] #3072 closed

[2018-01-29 13:35] denesb commented on #3141
I will have a look at the coredump tomorrow (I'm finishing up another task at the moment).

[2018-01-29 14:05] avikivity commented on #3161
A fixed yaml-cpp package is on its way to EPEL. Please help test it (and expedite its arrival in the stable repository) by following the instructions in https://groups.google.com/d/msg/scylladb-users/lqHMtL1wP8s/wIuerFz3AQAJ.

[2018-01-29 16:11] #3137 closed

[2018-01-29 18:31] roydahan commented on #3155
Decoded stack traces:

[code]

[code]

[2018-01-29 18:33] roydahan commented on #3155
Commit log dir  on this host is 84G:

[code]

[2018-01-29 18:36] roydahan commented on #3155
Scehma:
[desc_schema.txt](https://github.com/scylladb/scylla/files/1674793/desc_schema.txt)

[2018-01-29 18:38] hakuch opened #3165 "LIST USERS always queries with consistency level 1"
A note that this bug is slightly related to #2968 and also #2976. Furthermore, this bug is solved in the soon-to-be-merged roles patch series. Therefore, this issue is relevant for release branches and not necessarily for `master`.

When `LIST USERS` is executed in `cql3::statements::list_users_statement::execute`, it uses an overload of `cql3::query_processor::process` that always uses consistenc

[2018-01-29 18:46] hakuch opened #3166 "Internal auth queries should not use "system" `client_state`"
When a CQL statement is executed, behavior of the request such as access-control checking and limits on the allowed duration of execution are based on the particular `client_state` associated with the request.

There are currently two kinds of `client_state`: `external`, for most requests, and `internal` for requests made internally as part of the implementation (and targeting system tables).

The

[2018-01-30 02:15] asias commented on #3119
@harelassayag reproduce the stall with repair.

But note, the "stream less ranges per time" change in 2.1 does not affect streaming in repair at all.
The change has effect on

    - bootstrap
    - rebuild
    - decommission
    - removenode

operations only.

[code]

[2018-01-30 02:17] asias commented on #3119
@avikivity @slivne Did we try avi's "NOWAIT AIO" patch set to reproduce this issue?

[2018-01-30 03:02] raphaelsc commented on #3152
On Sun, Jan 28, 2018 at 9:20 AM, Shlomi Livne <notifications@github.com>
wrote:

AFAICT, user supplied timestamp will be persisted as is, so user is
responsible to keeping timestamp unit consistent for a given column family.
Perhaps we check that a timestamp has millisecond resolution and convert it
into micro before forwarding to sstable write? I don't think so. I need to
double check this.

I do

[2018-01-30 04:50] denesb commented on #3141
I will have a look at the coredump today.

[2018-01-30 09:04] avikivity opened #3167 "XFS extent allocator consuming >10ms on schemas with one large table"
Parent issue: #3119

Due to an XFS heuristic, if all files are in one (or a few) directories, then block allocation can become very slow. This is because XFS divides the disk into a few allocation groups (AGs), and each directory allocates preferentially from a single AG. That AG can become filled long before the disk is full.

[2018-01-30 09:05] avikivity commented on #3167
Advice from the XFS mailing list (Dave Chinner): use the inode32 mount option, which will break the affinity between a directory and an AG. The installer should set it, and we should also recommend it to users who set up the disks themselves.

[2018-01-30 09:05] avikivity commented on #3167
/cc @raphaelsc @glommer @syuu1228 @argenet

[2018-01-30 09:06] avikivity commented on #3167
Existing users can adjust `/etc/fstabs` and update the running system with

    mount /var/lib/scylla -o remount,inode32

[2018-01-30 09:19] elcallio commented on #3166
On 01/29/2018 06:47 PM, Jesse Haber-Kucharsky wrote:

I'm pretty sure the internal states "home keyspace" does not limit it to
query or insert into other keyspaces.

If you need time out, why not just add an optional timeout
parameter/overload to the internal query path?

[2018-01-30 10:12] syuu1228 commented on #3167
@avikivity we can create fstab entry with inode32 option on scylla_raid_setup, for newly installed instance.
Maybe we also can refuse starting scylla if startup script did not detect inode32 mount option on data directory, like iotune settings.

[2018-01-30 10:26] avikivity commented on #3167
We can start by just warning about it, it's just a performance option, and we don't have enough experience with it.

[2018-01-30 11:09] #3068 closed

[2018-01-30 12:22] #3164 closed

[2018-01-30 12:40] elcallio commented on #3098
Fair enough. However, I get the exact same behaviour with DSE 5.1 (transitional mode = normal) and scylla (transitional authenticator + authorizer). From what I can tell, it is indeed the clients that refuse to go ahead with no user/pass once asked for it (which they are by both).
Both cqlsh and Java driver exhibit the same behaviour, but I would call this working as designed. The docs should refl

[2018-01-30 12:57] julienlau commented on #3045
thanks

[2018-01-30 13:26] nyh opened #3168 "Materialized Views - local locking needed for concurrent update"
Our experimental Materialized Views implementation (see #1141) can produce incorrect results when given concurrent updates of the same base-table row. Such concurrent updates may result, in certain cases, with two different rows in the view table, instead of just one with the latest data.

We need to add locking to serialize the two conflicting updates.

[2018-01-30 13:45] tgrabiec commented on #181
Yes, in a5476b4

[2018-01-30 13:45] #181 closed

[2018-01-30 14:34] roydahan commented on #3155
Log from host:
[scylla-journal.log.gz](https://github.com/scylladb/scylla/files/1678063/scylla-journal.log.gz)

[2018-01-30 15:17] hakuch commented on #2852
I'll have a patch for this issue very shortly. I'm wrapping up testing now.

[2018-01-30 15:21] denesb commented on #3141
@beorn- I'm having trouble extracting the backtrace from the coredump (gdb is turning up ??s for me). Can you paste the backtrace? You can copy just the normal backtrace without the locals if the former is too large for a comment. Please run:
[code]
And copy here the result.

[2018-01-30 15:35] elcallio commented on #3155
The log does not even say "now we're gonna replay", which makes me think we're somehow so badly out of memory we cannot even set up the replayer itself - i.e. build the low watermark positions mappings for tables and shards. We have no even started to parse the segments yet...

Given that there is something like 16 shards and ~1000 tables (?) the replayer itself would still just use 16 * 16k * ~10

[2018-01-30 17:25] beorn- commented on #3141
[code]

[2018-01-30 17:34] #3123 closed

[2018-01-30 17:34] #3133 closed

[2018-01-30 17:36] roydahan commented on #3155
Will it help you connect the cluster?

[2018-01-30 17:40] #3168 closed

[2018-01-30 18:52] duarten opened #3169 "cell_locker: Timeout should apply across cells"
*Installation details*
Scylla version (or git commit hash): master

Currently, the cell_lock timeout is not decreased after each cell's lock is acquired, which means we may not respect it if taking all of the cell's locks surpass the timeout, but each individual lock acquisition if within it.

[2018-01-30 22:04] asias commented on #3119
Does `mount /var/lib/scylla -o remount,inode32` make the stall go away?

[2018-01-30 22:24] hakuch commented on #2852
@tgrabiec, when I insert the following into `auth/common.cc`:

[code]
and add it as a continuation after announcing the new column family, the start-up of Scylla hangs forever.

Is there another way to ensure that schema changes have propagated throughout the cluster? Perhaps this function of the `migration_manager` makes an assumption about state that does not hold at the time that auth is initia

[2018-01-30 23:00] duarten commented on #2852
That's probably in the startup path, before we initialize gossip, so that will never resolve. Better to put it somewhere else, in the query path, or something.

[2018-01-30 23:35] hakuch commented on #2852
I was thinking the same thing after I posted, @duarten.

For auth modules which create default data, the table is created synchronously as part of the initialization of auth inside of the initialization of `storage_service`. After a 10 s "start-up" period, we asynchronously (controlled with a `seastar::abort_source`) query the tables and insert the default row if it does not exist.

I modified the

[2018-01-31 00:01] duarten commented on #2852
Hum.. are you testing with one node only? I think you should check `storage_service::should_bootstrap()`.

[2018-01-31 00:49] dorlaor opened #3170 "Alias listen_address to a modern, user-friendly alternative"
The current IP/port naming scheme we inherited from Cassandra is confusing, better to maintain it while offer a readable alternative for fresh new users.

We could see how far we can get with simple aliasing. For example, the alias for "listen_address" would be "internode_address" and it would be documented as follows:

# The internode communications protocol address Scylla listens to.
#
# Apache

[2018-01-31 07:03] denesb commented on #3141
The crash happens in
https://github.com/scylladb/scylla-seastar/blob/branch-2.0/core/future.hh#L912
[code]

Looks like a bad alloc.

[2018-01-31 08:42] tzach commented on #908
probably be easier to maintain as
[code]

[2018-01-31 08:42] avikivity commented on #3119
It will only make the small stalls needed by extent allocation go away (if it works), not the fsync vs. write stall.

See https://github.com/scylladb/scylla/commit/e1f4b06295daf396d5d2fd7f55a855239059b8c4 for a "fix" for fsync vs write.

[2018-01-31 08:50] avikivity commented on #908
How about a web page that allows you to prepare a scylla.yaml file with all needed settings (moving some of the install dialog to JavaScript). At the end you get a customized shortlink `https://scyl.la/deploy/f64mdy3d`, and you install by running curl `https://scyl.la/deploy/f64mdy3d | bash`

That removes repetitive actions that need to be taken on each node, by doing them once on the web page.

[2018-01-31 08:56] amoskong commented on #3163
discussion about this issue:

[code]

[2018-01-31 08:58] avikivity commented on #3141
@denesb the cause is usually unbounded concurrency somewhere leading to a huge backlog. The way to debug it is with the `scylla memory` gdb command that tells which sizes are in use, and also the new `scylla task_histogram` command.

[2018-01-31 09:49] beorn- commented on #3141
[code]

[2018-01-31 09:52] beorn- commented on #3141
[code]

[2018-01-31 09:54] avikivity commented on #3141
Looks like `task_histogram` isn't working properly. /cc @gleb-cloudius

[2018-01-31 09:54] avikivity commented on #3141
(I expected counts in the hundreds of thousands, not 11)

[2018-01-31 09:56] gleb-cloudius commented on #3141
On Wed, Jan 31, 2018 at 09:54:52AM +0000, Avi Kivity wrote:

task_histogram only looks a vptrs if objects that are leaked do not have
it they will not be detected. task_histogram only helps with some leaks,
not all of them.

--
			Gleb.

[2018-01-31 10:00] beorn- commented on #3141
[code]

[2018-01-31 10:02] beorn- commented on #3141
had an old gdb plugin version. just wget'ed it

[2018-01-31 10:22] slivne commented on #3141
@beorn - could it be that you are not using prepared statements ?

On Wed, Jan 31, 2018 at 12:03 PM, beorn <notifications@github.com> wrote:

[2018-01-31 10:42] beorn- commented on #3141
We are using  the https://github.com/gocql/gocql connector which prepares statements by default

[2018-01-31 10:49] pdziepak commented on #3169
In that code timeout is a `db::timeout_clock::time_point` and not a duration. I don't think the problem you described can happen.

[2018-01-31 10:55] duarten commented on #3169
Oh! I didn't notice that; closing.

[2018-01-31 10:55] #3169 closed

[2018-01-31 11:08] slivne commented on #2409
@pdziepak is working on allowing single cells to be split

[2018-01-31 12:55] avikivity commented on #3141
fdfa6703c33c1fa5df5a3368fcd5bedfa9516b9f is the fix.

@beorn- are you not using bind markers? If you're constructing queries on the fly with string concatenation/formatting, then you will have to re-prepare the query each time, and trigger the bug. Even when the bug is fixed, it will be incredibly slow.

[2018-01-31 12:55] avikivity commented on #3141
(fix is in 2.1)

[2018-01-31 13:16] beorn- commented on #3141
This seems really weird, we do prepare queries, and we do use bind markers. we do not construct queries on the fly using string concatenation/formatting.

That's the kind of queries we are using
[code]

@avikivity

[2018-01-31 13:27] avikivity commented on #3141
@beorn-  Perhaps gocql does some unspeakable thing to the query that prevents scylladb from caching it, or perhaps there is a bug in scylla which prevents statement reuse.

You can try a packet capture of port 9042 and run wireshark (recent versions understand the CQL protocol) and see if the query is changed by gocql. There is also a metric scylla_query_processor_statements_prepared which is incr

[2018-01-31 13:34] tgrabiec commented on #2852
@duarten should_bootstrap() is false for seeds, and we want to coordinate auth creation for seeds as well.

I would try to understand why `is_ready_for_bootstrap()` (which should be renamed to `wait_for_schema_agreement()`) is not progressing.

[2018-01-31 13:45] beorn- commented on #3141
in prometheus when i
[code]
i get a peak around 2000/s at crash time but values are averaging around 300/s  it peaked many times at 12000/s without crashing at some other times.

I will try the pcap right away.

[2018-01-31 14:13] beorn- commented on #3141
You were right. something passed around the "best practices", we've found queries not using bind marks.

we're fixing this on our side. which would explain a lot.

[2018-01-31 14:18] avikivity commented on #3141
Cool. Note that it's still a Scylla bug (but already fixed in 2.1).

Please close when you've verified that after using prepared statements correctly, things work again.

[2018-01-31 14:19] beorn- commented on #3141
i will. thank you so much !

[2018-01-31 14:49] harelassayag opened #3171 "reactor stall during major compaction"
*Installation details*
Scylla version (or git commit hash): 2.1.rc2-0.20180129.63e92418d
Cluster size: 1TB
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos

[code]
[code]

[2018-01-31 14:50] harelassayag commented on #3171
these happened the same time and might be related:
[code]

[2018-01-31 14:51] harelassayag commented on #3171
full log: [http://scylladb-users-upload.s3.amazonaws.com/3171/log.tar.gz](http://scylladb-users-upload.s3.amazonaws.com/3171/log.tar.gz)

[2018-01-31 15:06] harelassayag commented on #3119
@raphaelsc
it is apparent that after disabling data integrity checker we no longer seem to be encountering these kinds of stalls, not during streaming or at all.

[2018-01-31 15:12] glommer commented on #3119
We can disable it for now - since we need to cut the release. But over time it is great to have it enabled in longevity tests so we can guarantee that we don't have a worse regression, leading to data corruption.

[2018-01-31 15:37] pdziepak opened #3172 "Memtable iterator_reader is unsafe on allocating section retry"
Memtable partition range readers use `iterator_reader` to take care of iterating through the tree of partitions and dealing with the LSA. At the end of the allocating section which returns a snapshot of the next partition there is a call to `advance()`:
[code]
`_last` is a `dht::decorated_key` which is, basically, a class containing a `dht::token` and a `partition_key`. The decorated key has a def

[2018-02-01 02:44] amoskong commented on #3161
A new yaml-cpp error exists in test:
Scylla version 666.development-0.20180201.4463e9071
[code]

[2018-02-01 07:54] gleb-cloudius commented on #3161
On Thu, Feb 01, 2018 at 02:45:02AM +0000, Amos Kong wrote:

Is this package compiled with yaml-cpp 0:0.5.3-7.el7?

--
			Gleb.

[2018-02-01 07:58] nirmaayan commented on #1234
@benoit-canet ping

[2018-02-01 08:04] slivne opened #3173 "packaging: centos - statically link with yaml-cpp"
yaml-cpp-devel now includes a static library  as well - lets link with that to solve issues of incompatibility in the future.

[2018-02-01 08:05] slivne commented on #1234
reassigning the issue to @asias

[2018-02-01 08:06] amoskong commented on #3161
On Thu, Feb 1, 2018 at 3:54 PM, Gleb Natapov <notifications@github.com>
wrote:

The package was built by
http://jenkins.cloudius-systems.com:8080/job/scylla-master-centos-rpm/623

I just checked the build log, it used yaml-cpp-0.5.3-7.el7.x86_64. so we
need to fix our env?

http://jenkins.cloudius-systems.com:8080/job/scylla-master-centos-rpm/623/artifact/scylla/build/rpms/installed_pkgs.log
yaml-

[2018-02-01 08:10] avikivity commented on #3173
Note you need to BuildRequire yaml-cpp-static for that.

[2018-02-01 08:12] slivne commented on #876
@hakuch after we finish roles lets clear this one out

[2018-02-01 08:13] gleb-cloudius commented on #3161
On Thu, Feb 01, 2018 at 08:07:03AM +0000, Amos Kong wrote:

The problem in the first place was that yaml-cpp is not binary
compatible between various versions, so the test should use the same
version the package was compiled with.

--
			Gleb.

[2018-02-01 08:54] tkozybski opened #3174 "Aggregation of counters"
*Installation details*
Scylla version (or git commit hash): 2.1-rc2

Hello. I noticed that aggregation functions doesn't work on counters. I don't see any reason this shouldn't be possible.

How to reproduce:
[code]

Result

I also tried casting
`SELECT SUM(CAST(ctr as bigint)) FROM test`
but it's not working either

[2018-02-01 10:24] amoskong opened #3175 "regression: execution timeout with session of new created user"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180116.93076d25b
Cluster size: ·2
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

666.development-0.20180116.93076d25b  （`Bad` most of time)
666.development-0.20171223.dfb6296d0     (always `Good`)

Test Code:
[code]

[code]

@elcallio @roydahan

[2018-02-01 11:08] tzach commented on #3174
@pdziepak ?

[2018-02-01 14:29] hakuch commented on #876
This may be fixed in the large roles series that will land soon, but I'm not sure because I don't understand the bug itself. @benoit-canet, would you plain explain exactly what the problem is?

[2018-02-01 16:00] avikivity opened #3176 "Capabilities error during service start on CentOS with older kernel"
Error seen:

    systemd[5370]: Failed at step CAPABILITIES spawning /usr/bin/scylla: Invalid argument

On CentOS, we use the systemd AmbientCapabilities directive to add capabilities to scylla. However, that's not supported on older kernels. We should have a dependency on kernel >= kernel-3.10.0-514.el7.

[2018-02-01 16:00] avikivity commented on #3176
(it's also a systemd bug, it should refuse to load the unit file on such an older kernel)

[2018-02-01 16:47] slivne commented on #3120
closing this issue - will reopen if we see it again

[2018-02-01 16:47] #3120 closed

[2018-02-01 17:03] avikivity opened #3177 "Excessive cache use with CL=ONE"
With CL=ONE we spread cache accesses over all three replicas, but to survive a failure we only need to spread the load over two replicas.

[2018-02-01 17:04] avikivity commented on #3177
I think we need to pick CL replicas out of the first available CL+1 replicas to provide availability in the face of one failure. That translates to 2 from 3 for CL=Q/RF=3 and 1 from 2 for CL=1/RF=3.

[2018-02-01 23:53] amoskong opened #3178 "Feature check failed in growing cluster from 200 to 500"
*Installation details*
Scylla version (or git commit hash): 2.1.rc2-0.20180129.63e92418d
Cluster size: 201
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-04fcc47e

We started a cluster with 200 nodes, and experimental options were enabled in setup stage.
Then try to grow the cluster by repeatedly add a new node.

But we saw an error after added the first new node.

[code]

It seems that scylla was already a

[2018-02-02 00:03] amoskong commented on #3178
Job log: http://jenkins.cloudius-systems.com:8080/job/scylla-master-scale-cluster-test/label=aws-scylla-qa-builder1/9/artifact/latest/job.log  （305M）

[2018-02-02 00:09] amoskong opened #3179 "add parameter --experimental to enable/disable experimental features for AMI instance"
Installation details
Scylla version (or git commit hash): 2.1.rc2-0.20180129.63e92418d
Cluster size: 201
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-04fcc47e

When the ami instance is created, it will automatically setup scylla and start the service. Sometimes, we don't have chance to update the scylla.yaml config to enable `experimental` before scylla service is active.

If we add a new parameter to ec2

[2018-02-02 01:07] asias commented on #3178
Fro the log we can see local node, joining node, misses two feature flags: MATERIALIZED_VIEWS_FEATURE and INDEXES_FEATURE. They will be enabled only if the experimental option is on.

Can you check the joining node enable the experimental flag too? I suspect it is not enabled for some reason.

[code]

[code]

[2018-02-02 04:14] frank8989 opened #3180 "Many Reactor stalled for 2011 ms on shard"
*Installation details*
Scylla version (or git commit hash): 2.0.2
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS Linux release 7.2.1511 (Core)

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory= 32 cores 62G
Disks: (SSD/HDD, count) 3T SSD(About 500000 IOPS for random w

[2018-02-02 04:21] nasirali1 commented on #3100
I am getting kinda similar error. If I try to stop Scylla it starts overloading the system to unusable state. We have 5 ScyllaDB nodes, under high writes some of the nodes crashes with similar error logs as below:

Redirecting to /bin/systemctl status scylla-server.service
* scylla-server.service - Scylla Server
   Loaded: loaded (/usr/lib/systemd/system/scylla-server.service; enabled; vendor pres

[2018-02-02 05:38] syuu1228 commented on #3179
@amoskong I think it’s totally fine to add it if you need to automate the configuration from user data parameter for testing purposes, but if you just want to prevent to run Scylla automatically, you can use —stop-services.

[2018-02-02 08:31] frank8989 commented on #3180
Almost all shards stalled because of memory reclaim during row cache partitions eviction or memory compaction. Is this caused by row cache logic changed due to supporting huge partitions?

[2018-02-02 10:02] #3172 closed

[2018-02-02 10:55] tgrabiec commented on #3180
This looks like https://github.com/scylladb/scylla/issues/2576

[2018-02-03 14:34] #3173 closed

[2018-02-03 18:36] tzach commented on #3179
Make sense. We have a similar feature in Scylla docker for the same reason.

[2018-02-03 19:49] tzach opened #3181 "Add scylla.yaml configuration to scylla_setup"
*Installation details*
Scylla version (or git commit hash): 2.1

Scylla setup consists of two parts (for example for [CentOS](http://www.scylladb.com/download/centos_rpm/))
1. running scylla_setup, for OS and Scylla configuration
2. updating scylla.yaml parameters:
 * cluster_name
 * seeds
 * listen_address
 * rpc_address

It will be easier for the user to include the setting of these parameters i

[2018-02-04 08:01] juliayakovlev commented on #3080
The problem happens when  there are 4 and more nodes in the cluster and one node (or more) is stopped/removed during inserts into MV.
The tests are added to the dtest.
Pull request waiting for review.

[2018-02-04 08:07] amoskong commented on #3179
@syuu1228 --stop-service can solve my current problem.
This request is just for UX.

[2018-02-04 11:35] slivne commented on #3180
@frank8989 can you please share nodetool cfstats so we can check the partition size

[2018-02-04 11:44] slivne commented on #3175
@hakuch can it be related to your changes for roles ... (I did not check the commit list)

[2018-02-04 11:45] slivne commented on #3174
@penberg  / @pdziepak ?

[2018-02-04 11:59] slivne commented on #3162
@tzach ping

[2018-02-04 12:02] slivne commented on #3161
fixed by dc2b17b3dadcfa840927e4b5519dde4938c346b6 , 82f217d62afb7d5763a84939cc525fcbe1ea0633 , bec2b015e32344b1e4f5ead025ae53824d65d63b

[2018-02-04 12:02] #3161 closed

[2018-02-04 12:08] nirmaayan commented on #2780
@asias ping

[2018-02-04 12:08] slivne commented on #3152
@raphaelsc well it seems strange that the user provided timestamp is not validated against the schema - I would expect some validation to be done.

[2018-02-04 12:16] roydahan commented on #3080
This is probably the same issue as #2783.

Anyway, @juliayakovlev added several dtest cases that reproduce it easily: stop_node_during_mv_insert_4_nodes_test
remove_node_during_mv_insert_4_nodes_test
double_node_failure_during_mv_insert_4_nodes_test

[2018-02-04 13:15] duarten commented on #3080
Maybe @nyh can look into this, I think he wrote the relevant code here.

On Sun, 4 Feb 2018 at 12:16, Roy Dahan <notifications@github.com> wrote:

[2018-02-04 13:24] slivne commented on #3080
reassigned @nyh

[2018-02-04 14:52] hagrid-the-developer commented on #3111
@juliayakovlev:
1. Is covered by https://github.com/scylladb/scylla/issues/3109. We wait for a decision whether to implement Java's algorithm for calculations of digits after decimal point. I would prefer to present all decimal digits (and .0 for floating points without decimal digits).

2. Is covered by https://github.com/scylladb/scylla/issues/3110. We created a Cassandra issue related to this a

[2018-02-04 17:06] amuzychka commented on #3138
@slivne, thank you.
1st issue:

Actually, this is what really happens:
There is one orchestrator that run child scripts, each child script run Schema DDL as pre-start step and then start Hadoop cluster (I wrote about 12 as it's max allowed N of clusters for simultaneous work, the rest wait in queue).
The problem was that all child scripts run in subshells simultaneously and pre-start step doesn't

[2018-02-05 01:26] asias commented on #2780
I am not sure which version propagated the exception correctly to nodetool. The code for rebuild is doing this correctly in the first place. Maybe @amnonh knows.

[2018-02-05 02:36] frank8989 commented on #3180
[]# nodetool tablehistograms test1 device_20171121
test1/device_20171121 histograms
Percentile  SSTables     Write Latency      Read Latency    Partition Size        Cell Count
                              (micros)          (micros)           (bytes)
50%             4.00             16.00             67.00             24601                 4
75%             6.00             19.75             73.0

[2018-02-05 02:57] amoskong commented on #3161
Latest build : 666.development-0.20180205.6919c7434 (contains the fix) works well with yaml-cpp-0.5.1-1.el7.2.x86_64

[2018-02-05 06:24] amoskong opened #3182 "Max ttl of 20 years will overflow localDeletionTime"
*Installation details*
Scylla version (or git commit hash):  666.development-0.20180205.6919c7434
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

Reference: [CASSANDRA-14092](https://issues.apache.org/jira/browse/CASSANDRA-14092)

Current code has a max limit (630720000, 20 years in second) for ttl value:
[code]

But the 630720000 isn't valid after `Wed Jan 24 11:14:07 2018`, current time

[2018-02-05 07:03] asias commented on #1899
@slivne ping

[2018-02-05 07:14] asias commented on #2090
@amoskong how did you remove the seed node, decommission?

I saw the graph in the "config: 6 db nodes (n1-highmem-16), 3 loader(n1-standard-4)" comments, Requests served/second get recovered some time later. Did it get recovered automatically?

[2018-02-05 07:25] amoskong commented on #2090
On Mon, Feb 5, 2018 at 3:14 PM, Asias He <notifications@github.com> wrote:

@asias In regular decommission, we only remove non-seed node. I touched
this problem when sct wrongly removed seed node.

Not really get recovered.

[2018-02-05 07:35] amnonh commented on #2780
There are two things here, the API always catches the exception from the beginning.
There were different patches that changes how it is shown in the nodetool.

But regardless of how it is shown, it should not cause the node to shutdown

[2018-02-05 07:45] asias commented on #2780
@amnonh FYI, the node to shutdown issue is gone. shlomi is asking for the commit id fixed the problem.

[2018-02-05 07:55] slivne commented on #1899
Fixed in 2.1

[2018-02-05 07:55] #1899 closed

[2018-02-05 08:10] asias commented on #2843
What do we want to fix in the later releases for this issue?

The node is in "out of disk state", we can not make streaming work on this node.

What we can do is top stop the scylla process in case of io_error.

Otherwise, most operations will fail on this cripple node.

[2018-02-05 08:24] slivne commented on #3182
TTL is set as an offset not as an absolute value

Not clear to me whats the issue

On Mon, Feb 5, 2018 at 8:24 AM, Amos Kong <notifications@github.com> wrote:

[2018-02-05 08:28] dorlaor commented on #3182
The issue as reported on C* is that it wraps around if you set the TTL
above 20 years
and thus a TTL of 21 years becomes 1 year and here goes your data

On Mon, Feb 5, 2018 at 12:24 AM, Shlomi Livne <notifications@github.com>
wrote:

[2018-02-05 08:29] slivne commented on #3182
If we are referencing a cassandra issue lets add a link to that.

On Mon, Feb 5, 2018 at 10:28 AM, Dor Laor <notifications@github.com> wrote:

[2018-02-05 08:37] dorlaor commented on #3182
It was noted (and also discussed on their mailing list).

Reference: CASSANDRA-14092

On Mon, Feb 5, 2018 at 12:29 AM, Shlomi Livne <notifications@github.com>
wrote:

[2018-02-05 08:37] amoskong commented on #2923
I didn't reproduce this problem with  4 vcpu, 32G mem
- 666.development-0.20180205.6919c7434
- 2.1.rc2-0.20180122.5e44bf97f

[2018-02-05 08:46] slivne commented on #2923
@veramine - would it be possible to share your schema so we can test using your schema.

[2018-02-05 08:47] amoskong commented on #2923
@slivne I'm using @veramine 's schema, which was provided in https://github.com/scylladb/scylla/files/1415848/tableschema.txt

[2018-02-05 08:58] slivne commented on #2923
a step ahead - great :+1:

[2018-02-05 08:58] #2923 closed

[2018-02-05 09:03] #2780 closed

[2018-02-05 09:09] tgrabiec commented on #1825
@asias We recently added infrastructure for tracking progress of sstable reads, see progress_monitor.hh. We could use that to estimate progress of streaming.

[2018-02-05 10:28] syuu1228 opened #3183 "build_rpm.sh causes "No matching package to install: 'yaml-cpp-static'" on Fedora 27"
When we run build_rpm.sh **WITHOUT** --target parameter on Fedora 27 (witch means we build .rpm for Fedora 27), we get following error:
[code]
It seems Fedora does not provides separated -static package, so we should drop the dependency on Fedora.

[2018-02-05 10:42] nirmaayan commented on #2780
@asias @amnonh on which version we have the fix?

[2018-02-05 10:46] avikivity commented on #3183
Note that Fedora does plan to add it: https://bugzilla.redhat.com/show_bug.cgi?id=1541094

[2018-02-05 10:46] duarten commented on #3183
Btw, I tried doing `build_rpm.sh --target centos` but it failed with

[code]

[2018-02-05 10:48] avikivity commented on #3183
For plan centos, use `epel-7-x86_64`.

But Scylla needs more, use `--target dist/redhat/mock/scylla-epel-7-x86_64.cfg`, that adds the third-party repositories.

[2018-02-05 10:57] #3176 closed

[2018-02-05 11:00] amnonh commented on #2780
@nirmaayan It's kind of confusing, a failure in the API should not cause the node to crash, that's from the beginning, there were some changes in how errors are propagated, but it's not something that would cause the node to shutdown.

@asias says that from the repair perspective there also no changes

[2018-02-05 12:03] amoskong opened #3184 "systemd: Unknown lvalue 'Ambient / Unknown lvalue 'AmbientCapabilities'"
*Installation details*
Scylla version (or git commit hash):  2.1.rc2-0.20180129.63e92418d
Cluster size: 200
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS
instance type: m3.medium

[code]

@syuu1228

[2018-02-05 12:05] avikivity commented on #3184
What systemd do you have? Probably too old.

Anyway, it's just a warning and it should work without it.

[2018-02-05 12:10] amoskong commented on #3184
$ rpm -qa |grep systemd
systemd-python-219-19.el7_2.13.x86_64
systemd-libs-219-19.el7_2.13.x86_64
systemd-219-19.el7_2.13.x86_64
systemd-sysv-219-19.el7_2.13.x86_64

[2018-02-05 12:11] avikivity commented on #3184
Latest is `systemd-219-42.el7_4.7.x86_64`. Update systemd and the message will go away.

[2018-02-05 12:12] amoskong opened #3185 "seastar_memory - oversized allocation"
*Installation details*
Scylla version (or git commit hash):  2.1.rc2-0.20180129.63e92418d
Cluster size: 200
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

*Description*
Totally 170 coredump occurred, coredump info: https://gist.github.com/amoskong/755b668953f5a6e1aaa4cacc124b27ab

[code]

I will provide more info after analyzing the sys/job log

[2018-02-05 12:14] avikivity commented on #3185
Please always decode stack traces.

[2018-02-05 12:56] amoskong commented on #3185
The command stuck about 30+ mins.
[code]

[2018-02-05 13:01] syuu1228 commented on #3183
On Mon, Feb 5, 2018 at 7:48 PM, Avi Kivity <notifications@github.com> wrote:

Don't need to do this, build_rpm.sh automatically specifies
mock/scylla-epel-7-x86_64.cfg when --target epel-7-x86_64.

[2018-02-05 13:10] amoskong commented on #3185
[code]

[2018-02-05 13:20] avikivity commented on #3185
/cc @amnonh

[2018-02-05 13:36] amnonh commented on #3185
This is #2476
Which means that we need to get back to something similar to the original patch for it

[2018-02-05 16:03] tgrabiec opened #3186 "Reads of large partitions may miss data when partition gets flushed and evicted"
*Installation details*
Scylla version: 2.1 (since ca8e3c4)

If reader uses partition entry from memtable, and the partition is too large to fit in reader's buffer, and that entry gets moved to cache (was absent in cache), and then gets evicted (memory pressure), the reader will not see the remainder of that entry.

[2018-02-05 17:04] pdziepak commented on #3174
Looks like it was added in [1]. No reason not to implement this in Scylla as well. If I remember correctly at this stage counters are already treated as `bigint` values (and not sets of counter shards) so supporting aggregating them shouldn't be very difficult.

[1] https://issues.apache.org/jira/browse/CASSANDRA-9977

[2018-02-06 06:55] tzach opened #3187 "inet data type error with IPv6 input string"
*Installation details*
Scylla version (or git commit hash): 2.0

The following works with Apache Cassandra 2.2:
[code]

On Scylla 2.0, last row return
[code]

[2018-02-06 07:30] tzach commented on #3187
@penberg ?

[2018-02-06 07:34] asias commented on #2136
@tgrabiec @slivne ping

[2018-02-06 08:51] amnonh commented on #3185
It's the same as #2476

[2018-02-06 09:57] amoskong commented on #3184
This note is harmless, it doesn't exist with latest systemd-219-42.el7_4.7.x86_64.

Our AMI instance (base image) uses `systemd-219-19.el7_2.13.x86_64` by default, do we need to upgrade it in building ami?

[2018-02-06 10:10] #3148 closed

[2018-02-06 10:18] avikivity commented on #3184
Yes, let's run `yum update` as part of the AMI creation process.

[2018-02-06 10:25] syuu1228 commented on #3184
That can be done in scylla_install_ami, but maybe latest CentOS AMI has
updated package (there is 2018-Jan-14
version of CentOS official AMI), will check package version
https://wiki.centos.org/Cloud/AWS

On Tue, Feb 6, 2018 at 7:19 PM, Avi Kivity <notifications@github.com> wrote:

[2018-02-06 13:24] juliayakovlev opened #3188 "Materialized view can be truncated"
Scenario:
1. Create table:
CREATE TABLE users (username varchar, password varchar, gender varchar, session_token varchar, state varchar, birth_year bigint, PRIMARY KEY (username))
2. Create MV:
CREATE MATERIALIZED VIEW users_by_state AS SELECT * FROM users WHERE STATE IS NOT NULL AND username IS NOT NULL PRIMARY KEY (state, username)
3. Insert one record:
INSERT INTO users (state, username) VALUES

[2018-02-06 13:37] duarten commented on #3188
And if you truncate the base table, I don' think the view will be truncated (this is in my to-do list).

[2018-02-06 13:42] juliayakovlev commented on #3188
I plan to add this test. Could you update me, when it will be performed, please?

[2018-02-06 13:56] duarten commented on #3188
I'll let you know :)

[2018-02-06 14:09] amoskong commented on #1470
I can't reproduce this problem if I restore the snapshot by `/usr/bin/sstableloader`, which is installed by `scylla-tools-666.development-20180205.8f1fa6436.el7.centos.noarch`

This problem can't be reproduced in dtest [1] with latest `scylladb/scylla-tools-java.git` [2]

[1] snapshot_test.py:TestSnapshot.restore_snapshot_with_alter_table_drop_column_test
[2] 8f1fa64368ef2fddb52b19f32d78fde7767a9c

[2018-02-06 14:36] denesb opened #3189 "Crash during wide-rows read workload"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180206.6919c7434
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): GCE/CentOS 7
report_uuid: 4bcaf29a-5467-4e7f-ab4e-a8fdba4e6284

Node crashed while running this command (roughly halfway through):
[code]
The table was populated by the following command:
[code]
The profile used:
[profile.yml.txt](https://github.com/scyl

[2018-02-06 14:39] denesb commented on #3189
/cc @argenet

[2018-02-06 14:51] #3186 closed

[2018-02-06 14:59] denesb commented on #3189
Backtrace attached (too large to include inline):
[bt.txt](https://github.com/scylladb/scylla/files/1699519/bt.txt)

[2018-02-06 17:21] slivne opened #3190 "collectd logs on duplicate values"
*Installation details*
Scylla version (or git commit hash): 2.1.rc3
scylla-2.1.rc3-0.20180206.cbb3b959e.el7.centos.x86_64

[code]

[2018-02-07 03:13] frank8989 commented on #3117
I came across this issue again. I finally find it's related to sstabledump command.  I used sstabledump to dump the data file before, obviously, that summary file ower/group id had been changed from scylla(1001) to root. Then create link command failed because of the permission and thus cause the service stopped.

How sstabledump command will cause this? I run it use with sudo.

Feb 06 20:01:34 ke

[2018-02-07 08:19] denesb opened #3191 "Oversized allocation warnings in the logs"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180206.6919c7434
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): GCE/Centos7

Saw a bunch of these in the journalctl logs:
[code]
Resolved stack trace:
[code]
Looks like we use a vector somewhere where we shouldn't.

[2018-02-07 08:21] denesb commented on #3191
This was seen during a wide-partition read workload, for details see #3189

[2018-02-07 08:58] syuu1228 commented on #3183
@avikivity should we change dependency to yaml-cpp-devel on Fedora for a while, or just wait for Fedora provides -static package?

[2018-02-07 11:28] avikivity commented on #3183
Let's change it back. I think -static will only come with Fedora 28.

[2018-02-07 11:30] #2774 closed

[2018-02-07 15:27] avikivity commented on #3141
@beorn- please update

[2018-02-07 18:57] raphaelsc commented on #3152
On Sun, Feb 4, 2018 at 10:08 AM, Shlomi Livne <notifications@github.com>
wrote:

It's probably a bad design issue. The timestamp resolution option exists
only for time series strategies, so it'd have to be done at strategy level.
So we'd need to postpone validation to strategy when extracting timestamp
from sstables.

We could try to add some resilience by converting ts on the fly, or throw
except

[2018-02-07 19:43] beorn- commented on #3141
i don't see the 2.1 stable available in debian packages. i can't for now.

[2018-02-07 23:32] gcmcnutt commented on #3150
Hi, I'm busy producing a chart for skylladb -- maybe we can share.  I plan to:
- allow for internal only AND public access to the nodes
- allow for standard values overrides (so this can be a subchart)

Let me know if you'd like to collaborate

[2018-02-08 00:49] asias opened #3192 "Gossip info of failed replacement node stays forever"
How to reproduce:
- Start node 1  and node 2
- Shutdown node 2
- Start node 3 with --replace-address ip_of_node_2
- Kill node3 before it finishes replacement operation
- Start node 2

Node 3's  gossip info will be in gossip forever.  Logs of failed attempt to talk to node 3 will be seen which is annoying.

One workaround is to shutdown all the nodes then start the cluster so everybody forgets node

[2018-02-08 04:29] asias commented on #2308
Refs: c0b965ee5668cafca94129cd1d51aaca7aa2baf6
[code]

[2018-02-08 04:41] dorlaor commented on #3181
+1 !

[2018-02-08 08:40] tzach commented on #908
@avikivity this is a reflector++ service

I suggest opening a new issue for it, its orthogonal to this suggestion can be a follow-up

[2018-02-08 08:51] amnonh opened #3193 "Need an API to return the active repairs"
We need to know if (and possibly what) repairs are in progress

[2018-02-08 08:55] amnonh commented on #908
On Wed, Jan 31, 2018 at 10:50 AM, Avi Kivity <notifications@github.com>
wrote:

What I love about the idea, I can add the user ID to the yaml file and have
scylla report it.

[2018-02-08 10:04] slivne opened #3194 "Scylla-AMI lets disable the collectd on the ami - we are providing prometheus"

[2018-02-08 10:07] amnonh commented on #3190
Need to backport:
https://github.com/scylladb/scylla/commit/a0a1961b6dbfeb784294cbaf02e087f73974ad75

[2018-02-08 10:10] slivne commented on #3098
@amoskong - calle provided his answer - do you agree
 in the docs, can you validate that this is aligned
https://github.com/scylladb/scylla-docs/pull/709

[2018-02-08 10:17] slivne commented on #3138
@amuzychka thanks closing

[2018-02-08 10:17] #3138 closed

[2018-02-08 10:19] slivne commented on #3015
@tgrabiec we had a user report he is hitting the issue on boot on 1.7.5 - the user has found some correlation in replay commitlog.

[2018-02-08 10:24] slivne commented on #2846
We have found that in XFS submitting a write to a file while there is an ongoing fsync can cause stalls

scylladb/seastar@0fb334b9f1f0d624e256436d2c1e4839d7eff2dd

[2018-02-08 10:24] #2846 closed

[2018-02-08 10:25] slivne commented on #2820
@amoskong ping

[2018-02-08 10:26] slivne commented on #2789
@roydahan / @harelassayag any update - are we hitting this issue ? if not we will close

[2018-02-08 10:28] slivne commented on #882
@harelassayag / @roydahan ping

[2018-02-08 10:40] slivne commented on #3191
We are returning a page made of 10Kbyte rows - so a single result should be capped to be ~ 1MB, what is the default report size for the oversized allocation detector ?

[2018-02-08 10:42] slivne commented on #3184
I am not sure that calling yum update on AMI boot is a good solution- it will cause the node boot to be much slower - we have done that in the past and disabled it as far as I remember.

[2018-02-08 10:46] slivne commented on #3178
@amoskong ?

[2018-02-08 10:48] tgrabiec commented on #3015
@slivne What kind of correlation? Commit log replay starts after schema is loaded, so it shouldn't interfere with it. Here it's schema loading which times out.

This issue is probably fixed in master by 9c39197

[2018-02-08 10:51] slivne commented on #3015
I am sure we will not see it anymore because of that- the issue is why is
it taking so long to begin with ?

On Thu, Feb 8, 2018 at 12:48 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2018-02-08 10:57] avikivity commented on #3184
When we create the AMI, not when we boot it.

[2018-02-08 11:02] tgrabiec commented on #3015
Looking at the log, the restart happened after a crash. Maybe the disk was still overloaded with background core dump write-back to disk? If we had host metrics, we could tell.

[2018-02-08 12:02] denesb commented on #3191
I couldn't find the place in the code where the initial value is set.

[2018-02-08 13:24] roydahan commented on #882
no progress yet.

[2018-02-08 13:26] roydahan commented on #2789
Wasn't reproduced when @harelassayag tried a dedicated test for it (only decommissions):

[2018-02-08 13:27] slivne commented on #2789
Tx - closing

[2018-02-08 13:27] #2789 closed

[2018-02-08 13:53] amoskong commented on #3098
@slivne Agree with calle's answer (it's a design not problem, doc reflect that one should ensure adding credentials to clients).  Our document scylladb/scylla-docs#709  clearly mentions this.

[2018-02-08 14:06] slivne commented on #3098
Tx, so I am closing this item.

[2018-02-08 14:06] #3098 closed

[2018-02-08 14:35] slivne commented on #3117
@frank8989 - I think you hit https://github.com/scylladb/scylla-tools-java/issues/26 - we need to fix it.

[2018-02-08 15:52] #1644 closed

[2018-02-08 15:57] tzach commented on #2515
@slivne is this really new in 2.1?

[2018-02-08 16:05] slivne commented on #2515
nope it was already done there are to packages now for scylla-tools,
scylla-tools-core

sstableloader is part of scylla-tools-core and its also can be installed on
a cassandra server - in which case to run it you run scylla-sstableloader

On Thu, Feb 8, 2018 at 5:57 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2018-02-08 16:06] slivne commented on #2515
it was part of 2.0

On Thu, Feb 8, 2018 at 6:05 PM, Shlomi Livne <shlomi@scylladb.com> wrote:

[2018-02-08 16:19] slivne commented on #3190
fixed by d306c40507afea0ddfd570697c0a491816f1030f

[2018-02-08 16:19] #3190 closed

[2018-02-08 16:25] #2884 closed

[2018-02-08 18:26] argenet opened #3195 "Add '--jobs' parameter to dist/debian/build_deb.sh"
Currently, we can specify the number of jobs when building an RPM:
[code]

It is not supported for building .deb though:
[code]

It would be nice to support this flag for build_deb.sh too to allow for better tuning on Debian/Ubuntu.

One use case for this is Travis CI integration for Scylla. Currently it fails because there is only 8GB of RAM available which is insufficient when running the maximu

[2018-02-08 18:38] argenet opened #3196 "Scylla fails to start due to a 'pure virtual method called'"
*Installation details*
Scylla version (or git commit hash): 432268f582a23badd20b283f143fa8f24a7f7567
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Fedora 27

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): physical (Dell XPS 15)
Hardware: sockets= cores= hyperthreading= memory= i7 7700, 32GB RAM
Disks: (SSD/HDD, count):

[2018-02-08 19:41] syuu1228 commented on #3184
I sent CentOS base AMI update patch, should we also block installing .rpm when systemd < 219-42, like kernel version check?

[2018-02-08 21:47] syuu1228 commented on #2799
@tzach Don't understand what is this issue about.
As @amnonh suggesting, when scylla started as a service under systemd, stdout/stderr will redirect to syslog (then redirect to journal), there is no way to print errors to your terminal.

[2018-02-09 02:10] amoskong commented on #3178
@asias experimental isn't enabled as expected, it's not a scylla issue.
It doesn't occur all the time, we skipped it by adding `--stop-service` in ec2 userdata.

[2018-02-09 02:10] #3178 closed

[2018-02-09 04:17] argenet commented on #3196
It turns out this happened because of the following flag passed to `configure.py`:
[code]

Without `O0`, everything works fine.
Not sure how critical this bug is, but I think may still be worth to investigate.

[2018-02-09 05:11] zhiguoxu opened #3197 "Is there any way to recover data that is deleted by cql statement "delete * from table where ..."?"
We have deleted some important data by mistake,  so... Is there any way to recover data that is deleted by cql statement "delete * from table where ..."?

[2018-02-09 08:37] veramine opened #3198 "Unable to fetch programmatically (gocql) from MV after it is dropped and recreated"
Installation details
Scylla version 2.0.2
Cluster size: 1
OS: AWS AMI ami-9509d3ed
Hardware: i3.large

This could be an issue with prepared statements not being invalidated in response to a drop materialized view command.   Everything works fine from cqlsh but after I drop a materialized view and recreate it, I can never fetch rows from it.  The rows are there in the view but I just can't fetch th

[2018-02-09 08:41] slivne commented on #3198
Can you try to drop the connection and query again

I expect that a non prepared query (e.g. cql text) should work

It may be an issue with invalidating prepared statememts

On Feb 9, 2018 10:37 AM, "Veramine" <notifications@github.com> wrote:

[2018-02-09 12:12] denesb opened #3199 "Scylla refuses to boot after shard count is reduced"
*Installation details*
Scylla version (or git commit hash): master(98549775f) + my 1865 patches - Vladimir's incremental index parser
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Fedora

When attempting to boot scylla, it fails with the following message:
[code]

This happened after reducing the shard count from 4 to 1.
I should mention that there was a successfull resharding already earlier f

[2018-02-09 12:16] duarten commented on #3199
/cc @raphaelsc

[2018-02-09 12:28] avikivity commented on #3197
Please ask questions on the mailing list, not the bug tracker.

First, take a snapshot immediately (`nodetool snapshot`). Then, if compactions did not take place, there is a chance the data could be resurrected.

[2018-02-09 12:28] #3197 closed

[2018-02-09 12:31] avikivity commented on #3196
Debug mode is built with -O0, but that also has `DEBUG` defined, which changes how future::then works.

[2018-02-09 16:21] duarten opened #3200 "Truncate MVs upon base table truncate"
*Installation details*
Scylla version (or git commit hash): master

[2018-02-09 16:22] duarten opened #3201 "Truncate secundary indexes upon base table truncate"
*Installation details*
Scylla version (or git commit hash): master

[2018-02-09 16:31] #3198 closed

[2018-02-09 18:46] argenet commented on #3196
Then it makes sense to automatically add `-DDEBUG` if `cflags` contains `-O0` otherwise it is very confusing.

[2018-02-09 18:52] hakuch commented on #3175
Sorry, I missed this earlier. Nothing obvious jumps out at me as to why any change I have made would have caused this.

I can't find `simple_list_test` in the `dtest` repository, @amoskong. How can I try to reproduce this locally?

[2018-02-09 18:52] glommer commented on #3196
I will leave the priority up to you to decide, but we should definitely investigate this.
Those problems are the worst to debug when they do happen. They never happen in testing but happens in the field when the timing is such that a particular continuation is broken...

[2018-02-09 18:57] avikivity commented on #3196
-O0 and -DDEBUG are orthogonal, either makes sense without the other. If it's indeed the case that the trigger was -O0 without -DDEUG, then that's unintended, and probably uncovers a real bug.

[2018-02-09 19:03] argenet commented on #3196
It was only `-O0` without `-DDEBUG`.

[2018-02-09 19:07] avikivity commented on #3196
Again, -O0 should work, and -DDEBUG, and -O0 -DDEBUG. The fact that one of them didn't is a bug.

[2018-02-09 19:12] duarten commented on #3196
Maybe running under GDB will help?

[2018-02-09 20:06] veramine commented on #3198
Thanks for the quick fix!  As a workaround until a release includes this fix, we will build materialized view queries using sprintf instead of bind variables.  It seems like gocql queries built up with sprintf do not re-use previously-prepared prepared statements.

[2018-02-09 22:00] argenet commented on #3189
The root cause of this is the fact that `index_entry` items are shared within the same `shared_sstable`. This is mainly done to share them between `_lh_index` and `_rh_index` (see `sstable_mutation_reader`) but given that SSTable object is shared and it holds the current index lists, the same `index_entry` can be accessed from two different `_rh_index` readers that belong to different `sstable_mut

[2018-02-10 02:40] argenet commented on #3196
I tried bisecting it but got some weird results, the commits that work fine during bisecting later fail with the same error. Either the issue is intermittent (although, when reproduced, it happens on every launch) or I have screwed something up - perhaps didn't update submodules at some step if the issue is in Seastar.

Will try again on Monday, so far seems to be related to compaction and reshard

[2018-02-10 13:08] #3189 closed

[2018-02-10 21:59] amoskong commented on #3175
Hi @hakuch ,

Just added the simple_list_test code to auth_test.py in the personal branch:
https://github.com/amoskong/scylla-dtest/tree/simple-test

[2018-02-11 11:17] slivne commented on #3199
@raphaelsc - I need to know if this is relevant to 2.1 as well
@roydahan - we need an additional dtest for this

[2018-02-11 11:29] slivne commented on #3134
@vabezruchko can you please assist us with answers ...

[2018-02-11 11:30] slivne commented on #3132
@ban4785 ping

[2018-02-11 11:33] slivne commented on #3100
@nasirali1 - are you writing in batches ?  please open a separate bug so we can track this and ask for clarification questions and solve your issue.

@ban4785 - can you please provide additional information so we can try and reproduce

[2018-02-11 11:37] #3102 closed

[2018-02-11 11:45] slivne commented on #3090
@syuu1228 ping ?

[2018-02-11 11:46] slivne commented on #3078
since you managed to resolve the problem closing this - if need be we can reopen

[2018-02-11 11:46] #3078 closed

[2018-02-11 11:47] slivne commented on #3075
I tested debian8 installation and it worked :+1:

[2018-02-11 11:47] #3075 closed

[2018-02-11 11:50] slivne commented on #3074
closing for now

[2018-02-11 11:50] #3074 closed

[2018-02-11 11:51] slivne commented on #3059
@larisau the link is incorrect - it points to the issue

[2018-02-11 11:52] #3047 closed

[2018-02-11 11:58] slivne commented on #3019
we are not able to reproduce this - since the issue has been reported we have fixed scylladb/seastar@fe19c876c34fc99e4e79a02e7f45ec43acb6921b

[2018-02-11 11:58] #3019 closed

[2018-02-11 11:59] slivne commented on #2386
@larisau ?

[2018-02-11 12:00] slivne commented on #2360
@syuu1228 ping ?

[2018-02-11 12:00] slivne commented on #2314
closing the issue since its fixed in 2.0.3

[2018-02-11 12:00] #2314 closed

[2018-02-11 12:01] #2095 closed

[2018-02-11 15:08] avikivity commented on #3075
We can remove this step by pre-configuring java 8 in cassandra-env.sh. Probably all that's needed is a JAVA variable.

[2018-02-11 16:25] penberg opened #3202 "Unable to drop keyspace or table if there are active secondary indexes"
*Installation details*
Scylla version (or git commit hash): 2.1-rc3

Apache Cassandra lets users run `DROP KEYSPACE` and `DROP TABLE` even if there are secondary indexes but Scylla trips over materialized views validation (that SI uses under the hood) and refuses that.

[2018-02-11 16:31] duarten commented on #3201
This should be trivially solved once #3200 is done, but we should a dedicated dtest for it.

[2018-02-11 17:53] #3196 closed

[2018-02-11 17:55] duarten commented on #3199
I wonder if this is also related to #3196.

@denesb Please decode backtraces when posting them.

[2018-02-12 04:43] denesb commented on #3199
[code]
I have since made some changes to unrelated parts of the code, hope it didn't mess with the backtrace.

[2018-02-12 07:54] asias opened #3203 "Decommissioning a node caused 16 seconds stalls on another node"
Scylla version (or git commit hash): 2.1rc1

Here is a backtrace.

[code]

[2018-02-12 07:58] nirmaayan commented on #2781
@slivne ping

[2018-02-12 08:15] nirmaayan commented on #1234
@asias ping

[2018-02-12 08:21] asias commented on #1234
@slivne So, benoit is not working on this anymore? Should I work on this?

[2018-02-12 10:21] nicolas-dardenne opened #3204 "Request with Tuple filtering => Client and server exception"
*Installation details*
Scylla version : 2.0.1-0.20171115.7b19167
Cluster size: 1 node
OS : CentOS 7.4.1708

After the join code was executed we can see the systemd-coredump process running :
[GitHubErrorDemo.zip](https://github.com/scylladb/scylla/files/1715962/GitHubErrorDemo.zip)

   PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
108216 root      20   0   34888   1504

[2018-02-12 10:58] duarten commented on #3204
Can you please upload scylla-server logs and the core dump? See [here](http://docs.scylladb.com/operating-scylla/troubleshooting/report_scylla_problem/) how to report an issue.

[2018-02-12 13:07] denesb opened #3205 "Abort during wide-rows read workload"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180212.29805da9f
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): GCE/Centos7
Report UUID:

Same wide-rows workload as for #3189.

Backtrace:
[code]

[2018-02-12 13:09] denesb commented on #3205
This is master+my 1865 branches, will try to reproduce on just master.

[2018-02-12 13:10] gleb-cloudius commented on #3205
This is OOM. Check where all the memory is.

--
			Gleb.

[2018-02-12 13:18] nyh commented on #3205
Yes, indeed it is out of memory which probably indicates a bug that consumed all memory. But still it would have been nice to fail the memory-hogging operation - not crash the entire system (this is https://github.com/scylladb/seastar/issues/84).

[2018-02-12 13:20] denesb commented on #3205
`scylla memory`:
[code]

[2018-02-12 13:23] denesb commented on #3205
I should maybe should mention that I have two other crashes in `memtable.cc:403` `flush_memory_accounter::~flush_memory_accounter()` but I wanted to hold off reporting until I manage to reproduce on just master, to ascertain that these crashes are not caused by my changes.

[2018-02-12 13:23] nicolas-dardenne commented on #3204
I have uploaded Coredump and the file generate by the scylla shell script (node_health_check) with UUID=54f57d14-b831-45e2-ac98-0a37716969e9.
Thanks

[2018-02-12 13:24] #3185 closed

[2018-02-12 13:26] #2332 closed

[2018-02-12 13:52] nyh commented on #3177
@avikivity To clarify, by "surviving a failure" do you mean that you want the backup node to also have a fairly warm cache (not merely "survive"), which is why you want to send read requests to two nodes and not to just one?

By the way, something which wasn't clear to me on first read (but should have been...) was the the "first available CL+1 replicas" is calculated per token. So overall, we are

[2018-02-12 14:06] avikivity commented on #3177
@nyh correct, survive without loss of quality of service. And yes, all other nodes will be loaded equally.

[2018-02-12 14:11] slivne commented on #3177
We will need to modify clients for this ....

RoundRobin TokenAware does not have the notion of the "first two" replicas
for CL=ONE - all the queries going to the "third" replica will have a
chance to get higher latencies because of the extra (forced) hop.

How will we handle the case we are querying the same data once with CL=ONE
and once with CL=QUERY.

On Mon, Feb 12, 2018 at 4:06 PM, Avi Kivit

[2018-02-12 14:18] avikivity commented on #3177
Yes.

and once with CL=QUERY.

I don't think we need to do anything special.

[2018-02-12 14:25] slivne commented on #3204
the code sample is very clear

[code]

I don't think we support all possible queries #1437, #2473 - we have some limitations on IN queries

@nicolas-dardenne having said that - it maybe incorrect syntax of the bound value, can you please share the value of :coords in your prepared statement.

I ran the following in CQL and it did work

[code]

[2018-02-12 15:16] duarten commented on #3204
Relevant lines from the log file:

[code]

This seems like you're trying to execute statements without specifying a keyspace.

[code]

I don't know what this is, but I bet @vladzcloudius does.

[code]

This decodes to

[code]

I'm not sure if doing (x, y) to treat them as a tuple is valid CQL, but either way we should handle this and not crash.

[2018-02-12 18:36] duarten opened #3206 "Support multi-index queries"
*Installation details*
Scylla version (or git commit hash): master

Apache Cassandra allows [queries](https://docs.datastax.com/en/cql/3.3/cql/cql_using/useMultIndexes.html) restricting multiple indexes of a table.

To support this efficiently, we can query each MV for each index, do the intersection of the results, and finally query the base table.

We can even do smarter things if we the user em

[2018-02-12 19:11] #2961 closed

[2018-02-12 19:23] amoskong commented on #2332
@amnonh
Commit d88c276 made `api_address` configurable, but the problem still exists.

We need to change real scylla-housekeeping cmdline to use this new options, which should read api_address from scylla.yaml or somewhere?

[code]

[2018-02-12 19:31] amoskong commented on #2332
Hi @tomer-sandler

You fix in commit f1eb6a8de36260918b01a08cebe992f922ffe25f solved the problem by removing usage of api_address. Strictly, we need both installed version, and current running version, they might be different (such as, upgrade/downgrade). But the running version exists in scylla-server log, so it's not a problem :-)

[2018-02-12 20:33] karock commented on #3143
disabling the fstrim service last week resulted in the cluster being totally fine at midnight UTC today:

[code]

[2018-02-12 21:05] argenet opened #3207 "small-partition-skips in perf_fast_forward emits an error for a full tests run"
Scylla version (or git commit hash): d757c87

`perf_fast_forward -c`emits an error while running small-partition-skips test suite:
[code]

Note that running this test suite alone doesn't trigger the error:
[code]
Good commit (for bisecting purposes): `e9e8121`

[2018-02-12 21:39] pdvyas opened #3208 "Scylla fails to build (based on instructions in hacking.md)"
*Installation details*
Scylla version (or git commit hash): `b98d5b30de6f756ebd7d895fcc9d9cbac35e1df0` (tip of `scylla-2.1.rc3`)
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04

Ran `./install-dependencies.sh` and tried to build after. It fails. Tried `scylla-2.1.rc3` and master.
Outputs:

master (ac6abf802132fd583a98539ad589e32466567371): http://ix.io/Gyr
scylla-2.1.rc3: http://ix.io/

[2018-02-12 23:39] argenet commented on #3208
It looks like you are using some GCC version 6 or earlier.
Latest Scylla versions (2.1 and master) make use of C++17 and would only compile with GCC 7.

Can you please check the version of your compiler using `gcc -v`?

[2018-02-12 23:45] dorlaor commented on #3208
If this is the case we can add a #pargma like if clause of __GNUC__ > 7

On Mon, Feb 12, 2018 at 3:39 PM, Vladimir Krivopalov <
notifications@github.com> wrote:

[2018-02-12 23:59] argenet commented on #3207
`git bisect` says that `bc65659a46f32680ecf58dff2bc7a5e98c9fcaa9 is the first bad commit`

/cc @pdziepak

Not sure how exactly this can be related, but clearly this is the first commit that emits the error message, the previous one (`89063a9cc0357f6e20c257a05eac2ddd6de04a88`) doesn't.

[2018-02-13 00:37] pdvyas commented on #3208
Thanks for the hint!
[code]

[2018-02-13 00:38] pdvyas commented on #3208
Now, I get
[code]
Could this be due to an old version of BOOST? (I have 1.58). Should I try using Ubuntu 17.10?

[2018-02-13 00:44] argenet commented on #3208
@pdvyas

I believe latest Scylla versions are built using Boost 1.63 and GCC 7. You can use the PPA from ScyllaDB to install those versions: https://launchpad.net/~scylladb/+archive/ubuntu/ppa
Please note that those packages are installed under `/opt/scylladb`.

You might need something like the following to configure Scylla for building:
`./configure.py --mode=release --cflags="-I/opt/scylladb/in

[2018-02-13 08:26] denesb commented on #3205
I could not reproduce this or the other crash any more, nor on my branch or on master.

[2018-02-13 08:26] denesb commented on #3205
Since it's related to flushing (apparently) maybe I should try a mixed workload to provoke it.

[2018-02-13 08:57] gleb-cloudius commented on #3205
Looks similar to https://github.com/scylladb/scylla/issues/3120

--
			Gleb.

[2018-02-13 10:52] pdziepak commented on #3207
If optimisations change the behaviour of the program then it is either an UB somewhere in the code or a compiler bug. The former is much more likely.

[2018-02-13 11:13] #3203 closed

[2018-02-13 11:37] #3188 closed

[2018-02-13 12:45] elcallio commented on #3155
Is it possible to run just the schema generation part of the test (on a single node) to try to isolate this problem a bit? Is there a repo with the test code?

[2018-02-13 12:46] elcallio commented on #3155
Sorry, I meant schema + minimal data generation. Since I'm guessing it is not the commitlog data itself causing the issue.

[2018-02-13 13:28] elcallio commented on #3155
Not surprisingly, just creating the above tables and inserting trivial data + kill -9 replays just fine.

[2018-02-13 13:31] elcallio commented on #3155
If the problem is huge blobs in the mutations (how large is each row in the data set?), it might be we need to move the reader to use a segmented approach to avoid loading large data rows and duplicating the data several times (each mutation is read into a single buffer).

But otoh, there should have been issues creating the data set if we have problems with the mutation sizes...

[2018-02-13 15:56] SGheethan opened #3209 "Scylla DB fails to start after new configuration"
Scylla version : 2.0.2-0.20171201.07b039f
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): RHEL

Im having some strange issues when I tried to start a scylla db seed node after changing the configuration file. We currently have 2 seed nodes and I changed the configuration to 3 seed nodes and 2 non seed nodes. I keep getting this error when I try to start the service. My method of starting the serv

[2018-02-13 15:59] glommer commented on #3209
Hi

Please upload the entire log since startup - not just the failed snippet

[2018-02-13 16:16] denesb commented on #3205
Saw crashes again today on my branch, couldn't reproduce on master. I will investigate tomorrow.

[2018-02-13 17:48] SGheethan commented on #3209
[mod_log.txt](https://github.com/scylladb/scylla/files/1720982/mod_log.txt)

[2018-02-13 20:36] pdvyas commented on #3208
Thanks! After installing boost and gcc from the scylla ppa with the following configure line,
[code]
I got it to build. There was just one warning.
[code]
Given that the scylla packages have the prefix scylla in them and put stuff in `/opt`, shouldn't it be safe to do these steps in `install-dependencies.sh`?

[2018-02-14 00:34] dioptre commented on #2831
Another 6 months and won't build on debian.

Good to know you're not supporting the only free and stable distribution of Linux.

[2018-02-14 00:41] dorlaor commented on #2831
@dioptre we have debian 8, are you looking for 9?
It's a relatively benign change, how about you help us to make it happen?

[2018-02-14 05:26] veramine opened #3210 "Secondary index support for compound partition keys"
*Installation details*
Scylla version (or git commit hash): 2.1-rc3 (2.1.rc3-0.20180207.b98d5b3)

I couldn't get the experimental secondary index support in 2.1 to work when the base table has a compound partition key.  It works fine with a single column partition key but does not seem to work when more than one column is included in the partition key unless I am doing something dumb, as may very

[2018-02-14 07:11] tzach commented on #3210
@duarten ?

[2018-02-14 07:13] duarten commented on #3210
@penberg ?

[2018-02-14 10:12] vabezruchko commented on #3134
My apologies, unfortunately I missed the question.

We had two problems and we solved those.

1. for table 'dialog_messages_2018'  we configured DateTieredCompactionStrategy. When we ran the command 'nodetool repair' the node was got very small amount of data from other nodes and initiated unnecessary compaction which resulted unnecessary CPU overload. We solved this problem:  because our table sp

[2018-02-14 11:19] slivne commented on #2877
ping

[2018-02-14 14:30] vladzcloudius commented on #2877
@slivne
@nir When I followed the procedure you are describing I failed at the KS creation step with the following error:
[code]
I'm using a master at 378f2ba8e4b2c40b42b71308155c8dfcc911dc5d.

[2018-02-14 15:44] nyh opened #3211 "Materialized Views: writes in parallel with cluster changes"
When the cluster changes (node is added or deleted, and token range ownership changes), both base tables and view tables are correctly streamed to their new location. However, while this streaming is going on, new writes need to be sent to the new range owner (e.g., a fourth node in case of RF=3). This will happen correctly for the base tables, but not for view tables:
1. If the base partition is

[2018-02-14 16:03] nyh commented on #3211
See also:
https://issues.apache.org/jira/browse/CASSANDRA-13065

[2018-02-14 16:25] nyh commented on #3211
If I understand correctly, prior to CASSANDRA-13065 being fixed,  the streaming code, src/java/org/apache/cassandra/streaming/StreamReceiveTask.java, had a special case for base tables with views: It went through the normal "write path", and wrote to the paired view replica in addition to writing to the base replica.
I'm still not sure how this solves any of the problems I mentioned above (how to

[2018-02-14 17:32] veramine opened #3212 "Scylla fails to start after adding secondary index: schema.cc:301: schema::schema(const schema::raw_schema&, std::experimental::fundamentals_v1::optional<raw_view_info>): Assertion `!def.id || def.id == id - column_offset(def.kind)' failed."
*Installation details*
Scylla version 2.1.rc3-0.20180207.b98d5b30d
Cluster size: 1
OS: AWS AMI ami-9509d3ed
Hardware: i3.xlarge

I am testing the Scylla 2.1 experimental support for secondary indexes.  I added indexes to several different types of columns.  In one case, I accidentally added a secondary index on a column in the primary key.  This caused Scylla to abort and (more importantly) the se

[2018-02-14 17:59] veramine commented on #3212
I was able to reproduce this again on a newly installed server.  My guess is that the final index here caused the issue.

[code]

[2018-02-14 20:32] glommer commented on #3209
@slivne does that message look familiar to you ?

[2018-02-14 20:54] glommer commented on #2949
FYI: We just had an user in the users slack looking for that today

[2018-02-14 20:58] hakuch opened #3213 "sstable_mutation_test: Segmentation fault"
*Installation details*
Scylla version (or git commit hash): `master` (6c1503241d6ac988a5d84b3ee631e1d5db1af185)

[code]

[2018-02-14 21:32] hakuch commented on #3213
Back-trace decoded with `seastar/scripts/seastar-addr2line`:

[code]

[2018-02-15 00:52] argenet commented on #3213
Looks like this failure is caused by `71495691aae5b7912469455d1416ea380f0b12f0` and `3f5a8229acae7f6c4472b500c538880a10c7c591` although the crash happens in another seemingly unrelated part of code.

[2018-02-15 02:52] argenet commented on #3213
With `shared_index_lists` being moved from `sstable` to `sstable_mutation_reader`, now some pending `file_data_source_impl::issue_read_aheads` fail with
[code]

which translates into
[code]

The index file is supposedly closed before issued read-ahead operations complete.
The suspicious place is `~sstable_mutation_reader()` that issues asynchronous calls to `close()` on index_readers.

[2018-02-15 06:58] denesb commented on #3191
I can see this warning every time I do reads for this profile.
Looks like we exploit and depend on the continuous storage of the `std::vector` so we cannot easily get rid of the large allocation by switching to `std:deque`.
If this is fine maybe we should temporary disable the large allocation warnings for this function.

[2018-02-15 07:51] tzach opened #3214 "Create a metric that shows cache hit/miss rate per table"
The idea is to find tables with very low cache hit rate and analyze their data model for better read efficiency.

[2018-02-15 07:51] tzach commented on #3214
https://github.com/scylladb/scylla-grafana-monitoring/issues/285

[2018-02-15 08:11] gleb-cloudius commented on #3214
There is such metric. All per table metrics are disabled by default
though.

--
			Gleb.

[2018-02-15 08:37] amnonh commented on #3214
On Thu, Feb 15, 2018 at 10:11 AM, Gleb Natapov <notifications@github.com>
wrote:

Until the multi-prometheus server will be supported and they will
be resurrect

[2018-02-15 09:30] juliayakovlev commented on #3188
dtest: materialized_views_test.py/TestMaterializedViews#truncate_base_test

[2018-02-15 09:48] nirmaayan commented on #2058
@slivne ping

[2018-02-15 14:53] tgrabiec opened #3215 "Cache reads may return incorrect data after eviction from entries with memtable snapshots"
*Installation details*
Scylla version: 2.1 (b98d5b30de6f756ebd7d895fcc9d9cbac35e1df0)

Commit 6ccd317 introduced a bug in partition_entry::evict() where a partition entry may be partially evicted if there are non-evictable snapshots in it. Partially evicting some of the versions may violate
consistency of a snapshot which includes evicted versions. For one, continuity flags are interpreted relativ

[2018-02-15 15:35] tzach commented on #3214
@amnonh please add relevant issue as a reference

[2018-02-15 16:53] #3215 closed

[2018-02-16 13:58] #2968 closed

[2018-02-16 14:05] avikivity commented on #1941
Did "On the road to roles" really close this? Maybe it was badly titled.

[2018-02-16 14:21] duarten commented on #1941
@hakuch said there's still some work pending. I don't know if that is being tracked by other issues, or if this should have been a "refs".

[2018-02-16 14:58] hakuch commented on #1941
It could go either way, depending on how we interpret the issue (production ready vs in code). There's a couple of remaining issues (creating now), and dtests need to be updated.

[2018-02-16 15:35] avikivity commented on #1941
If the feature is ready to use then it's fixed (bugs notwithstanding). If more work is needed for it to be useful, then it's not fixed.

[2018-02-16 15:36] hakuch commented on #1941
That's reasonable. Let's re-open the issue for now.

[2018-02-16 16:23] hakuch opened #3216 "Creating a resource should grant the creator full permissions on it"
The new security model introduced as part of the roles roll-out includes fine-grained permissions for changes to access-control: superusers play less of a part. However, granting all relevant permissions for new resources can be tedious. By default, we will grant the creator of a resource all permissions on it.

This behavior is consistent with Apache Cassandra. It is described in more depth at [C

[2018-02-16 16:31] hakuch opened #3217 "Revisions to CQL syntax for roles"
The CQL syntax for roles in Apache Cassandra differs slightly from the old user-based syntax.

More details are available at:

- https://github.com/apache/cassandra/commit/ee5e48795583f525dca50d3535167f26cc0bc8ca
- [CASSANDRA-8850](https://issues.apache.org/jira/browse/CASSANDRA-8850)
- [CASSANDRA-10135](https://issues.apache.org/jira/browse/CASSANDRA-10135)

This is a prerequisite for #1941.

[2018-02-16 17:55] amnonh commented on #3214
https://github.com/scylladb/scylla/issues/2556

[2018-02-16 19:29] penberg commented on #3210
Yup, we don't support that yet in the SI implementation. As mentioned in the blog post, 2.1 only supports indexing "regular columns" (no primary key columns, no static columns, no collection columns).

[2018-02-17 02:13] argenet opened #3218 "checked_file treats discarded pending read-aheads as errors if file descriptor is closed before they are completed"
This has been found when researching #3213. The issue is broader than the one discovered there and may require more generic approach.

Our `file_input_stream` supports speculative execution by reading buffers ahead. In the case when some read-aheads are issued but the input stream is closed their results are discarded. For those discarded in-flights we don't really care whether they succeed or fai

[2018-02-17 09:29] duarten commented on #3218
Doesn't `file_data_source_impl` wait for pending read aheads in `close()`?

[2018-02-17 19:30] duarten commented on #3212
We don't yet support secondary indexes on non-regular columns. Our validation for that seems to be lacking somewhere. /cc @penberg

[2018-02-17 19:33] argenet commented on #3218
Hmm... Indeed it does. Somehow this didn't work for me when I tried to make the file outlive the call to `input_stream.close()`. Will double check that.

[2018-02-17 19:33] #3218 closed

[2018-02-18 07:55] slivne commented on #3212
ref #3210

[2018-02-18 08:00] slivne commented on #3206
The ability to query on multiple indexes is also available in cassandra 2.x versions

Users requiring such support can use MaterializedViews that do not have the limitation of indexing on a single column. That is a MV can have multiple columns used as index.

[2018-02-18 08:47] slivne commented on #3209
@SGheethan - no the logs are not something that I could match to a known item.

@SGheethan can you please clarify:

- if you restart a node (without changing the seeds) do you get any "sstable - Summary ... Summary.db not found" messages in the logs ?
- how do you stop the node an attempt to change the yaml file (do you issues a ```service scylla-server restart``` - or do you kill the process
- ca

[2018-02-18 11:26] tzach commented on #3015
@harelassayag do you have the metrics (see tgrabiec request above)
Can you please test if scylla restarts while core dump is written?

[2018-02-18 11:27] tzach commented on #2413
Longevity of +1TB is successful on 2.1

[2018-02-18 11:27] #2413 closed

[2018-02-18 11:38] tzach commented on #3199
@raphaelsc ping

[2018-02-18 12:58] raphaelsc commented on #3199
I was unable to reproduce it locally. @denesb can u reproduce it on master? what's the frequency?

[2018-02-19 05:01] denesb commented on #3199
It happened only once and unfortunately I didn't check whether it is a
genuine resharding problem or just the result of a possible previous
unclean exit.
I think we can close it if you cannot reproduce it and reopen it if we
see it again. Next time I'll think before nuking my data-dir (could
have just moved it aside).

[2018-02-19 08:32] nirmaayan opened #3219 "Support for cqlshrc in dockerized scylla"
When a container is created from this image, it sets up a default cqlshrc file with hostname setting.
There is no option to use a custom cqlshrc file (for example to specify timeouts) with the container.
In our environment, we sometimes run into a need to setup client_timeout in the cqlshrc

https://github.com/scylladb/scylla/blob/master/dist/docker/redhat/scyllasetup.py#L35

[2018-02-19 09:32] slivne commented on #3180
@frank8989 thanks - and sorry for the delay - since you do have a user profile we will try to reproduce - can you please provide the exact c-s command line you use to populate the data and following that the one with (probably) mixed read/write

[2018-02-19 09:34] slivne commented on #3165
now that 03608d269e845d39265a72a98c1eb80f3530f7c7 is merged can we close this ?

[2018-02-19 10:51] slivne commented on #3001
fixed

[2018-02-19 10:51] #3001 closed

[2018-02-19 11:49] slivne commented on #2042
@asias is that true for cassandra as well ? in case of a failed decommission the node needs restarting ?

[2018-02-19 12:12] SGheethan commented on #3209
@slivne

- I do get those error messages
`Feb 19 12:53:19 scydb1.test.content.eniro scylla[345]:  [shard 5] sstable - Couldn't read summary file /scylladb/data/pixel/event_data-b0bd3f803a4011e7a894000000000000/pixel-event_data-ka-21803-Summary.db: sstables::malformed_sstable_exception (/scylladb/data/pixel/event_data-b0bd3f803a4011e7a894000000000000/pixel-event_data-ka-21803-Summary.db: file not f

[2018-02-19 13:16] #2876 closed

[2018-02-19 13:33] #3193 closed

[2018-02-19 14:40] Faraknight commented on #3181
+1

[2018-02-19 14:51] vladzcloudius commented on #3204
@nicolas-dardenne The error above is usually happens when you modify the `system_traces` tables or if you use the new `scylla` version without running `fix_system_distributed_tables.py` script first.

@slivne grepping files in `dist` it looks like we do not package this script in our RPMs. Is it intentional?

@nicolas-dardenne A simple workaround is to drop the `system_traces` tables (on on of the

[2018-02-19 14:53] #1619 closed

[2018-02-19 15:08] eloygil commented on #3031
Thank you for this tool, we're using it to run the Docker image in Singularity in Marenostrum 4 while we finally compiled Scylla in other clusters. If you're fine with this, I'll leave open this issue since it remains as an enhancement the Spack recipe part. Perhaps you're interested in the near future to make the compilation process easier using it.

[2018-02-20 01:12] queer commented on #2058
Is there any progress on this?

[2018-02-20 01:20] argenet opened #3220 "Simplify index_reader design and involved objects lifetime management"
With the changes introduced in #2981 and #3189, the lifetime management of `index_readers` and objects they deal with (such as `shared_index_lists`) became more complicated.
Besides, `shared_index_lists` seems to be both too heavyweight an abstraction for its current purposes and it is too much protruding in the code (since the fix to #3189) which makes associated lifetime management even trickier

[2018-02-20 01:58] raphaelsc commented on #2560
Can be closed @slivne

[2018-02-20 04:33] syuu1228 opened #3221 "Static linking yaml-cpp fails on Debian 9"
We won't able to link yaml-cpp statically on Debian 9, causes 'requires dynamic R_X86_64_32 reloc which may overflow at runtime; recompile with -fPIC'.

[code]

[2018-02-20 04:50] syuu1228 opened #3222 "Antlr3 header causes sign-compare error on Debian/Ubuntu"
It causes 'error: comparison between signed and unsigned integer expressions [-Werror=sign-compare]'.
[code]

[2018-02-20 04:52] syuu1228 commented on #3222
@avikivity Can we add "-Wno-sign-compare" on configure.py for this?

[2018-02-20 08:24] slivne commented on #2560
fixed by 432268f582a23badd20b283f143fa8f24a7f7567

[2018-02-20 08:24] #2560 closed

[2018-02-20 09:00] syuu1228 opened #3223 "Scylla fails to build with boost-1.62/gcc-7.2 (Debian 9)"
Seems like we cannot build Scylla with distribution provided boost-1.62 on Debian 9, need to switch our own package (already built for Debian 9 on OBS)
[code]

[2018-02-20 09:13] slivne commented on #3155
@roydahan
 - calle tried to reproduce this on his end and failed
 - can we  reproduce this on a single server and hand over that server to calle (on AWS/GCE) - so he can look at it