[2020-05-03 16:30] avikivity commented on #6342
@ManManson I don't understand why a patch that adds error injections is needed to fix a crash.

[2020-05-03 18:35] slivne commented on #6069
@piodul -
We collect hints for two cases:
- hints for rebular base tables
- hints for MV view tables

your comment https://github.com/scylladb/scylla/issues/6069#issuecomment-620229537 is this relevant also for MaterializedViews hints or only for "regular" hints ?

[2020-05-03 20:27] #6325 closed

[2020-05-04 05:41] piodul commented on #6069
@slivne My comment is relevant both to MV hints and regular hints.

[2020-05-04 06:19] fruch opened #6359 "alternator calls with `consistentRead=false` during node node failure, can yield empty responses"
*Installation details*
Scylla version (or git commit hash): 4.0.rc3-0.20200501.eee4c00e29 **build-id:** 0fe095b80ee54c7f47a688aaac0c6bb835118ddc
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Summary

When running RestartThenRepairNode nemesis( which reboot a i3 node in AWS, and all data in NVMe ephemeral disk is lost, and node is booted with `auto_bootstrap: true` and `replace_address_first

[2020-05-04 06:42] gleb-cloudius commented on #6257
I agree with Avi. I do not see that LWT operation are an issue here. It looks like compaction does not keep up.

[2020-05-04 06:55] avikivity commented on #6257
Even if compaction doesn't keep up, we shouldn't OOM.

What does r_c_s think our reader memory usage is?

[2020-05-04 06:55] avikivity commented on #6257
/cc @denesb

[2020-05-04 07:13] gleb-cloudius commented on #6257
Yes. I wonder what compaction shares were during the crash. Note though that the about here is due to `--abort-on-lsa-bad-alloc`. Without the flag we either would eventually stabilize or hit a real OOM.

[2020-05-04 07:17] avikivity commented on #6257
Look at the `scylla memory` output. The cache is clear, and there is 1 GB in small allocations. The rest is in memtables and likely large allocations. It's a real OOM already.

[2020-05-04 07:18] nyh opened #6361 "CreateTable/DescribeTable should verify the table is available on all nodes"
DynamoDB clients create a table by doing a `CreateTable`, and then waiting in a loop until a `DescribeTable` request reports the table exists. Once the table is reported to exist, the table should be available - on any node to which the client sends a request . @fruch said in https://github.com/scylladb/scylla-dtest/pull/1458 that these operations wait enough time for the table to be available on

[2020-05-04 07:37] nyh commented on #6361
@fruch adds in the above linked pull request that "the problem in our case, that we were taking nodes down before they go this update, or doing operation on them before the schema synced.".
How does Scylla handle this case also in CQL?
1. If a node comes up from being dead, doesn't it try to sync the schema before serving?
2. If a node was alive but temporarily partitioned from the cluster, does `

[2020-05-04 07:44] fruch commented on #6361
the case I've clearly seen it was here:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/fruch/job/dtest-byo-parallel/130/testReport/alternator_tests/AlternatorTest/test_dynamo_queries_on_multi_dc/

https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/fruch/job/dtest-byo-parallel/130/artifact/logs-release.2.0/1588517521968_alternator_tests.AlternatorTest.test_dynamo_que

[2020-05-04 07:48] fruch commented on #6361
I don't know regarding the CQL behavior, but if quorum is used in the inserts, even if the table doesn't exist on one node, it should succeed.
in dynamodb we need to get the table first from one specific client, before we do the insert (at least when `DynamoDB.Table` is being used, and `client.get_item()` which take the table as parameter.

[2020-05-04 08:03] avikivity commented on #6199
The EOVERFLOW is due to a kernel bug, unapplied patch [here](https://lore.kernel.org/stable/20191128155940.17530-2-mszeredi@redhat.com/).

You can work around with --unsafe-bypass-fsync (a good idea when playing around regardless).

[2020-05-04 08:03] avikivity commented on #6199
Closing as this is not a Scylla bug.

[2020-05-04 08:03] #6199 closed

[2020-05-04 08:12] gleb-cloudius commented on #6257
Indeed. There are 20M free, but with empty cache this is not a lot.
The output also has those two:

[code]

[code]

It means there is zero active sstable reads for system.paxos, but 1863
ongoing queried. I think the only way it is possible is overloaded
reactor.

[2020-05-04 08:18] avikivity commented on #6257
After b08679e1d3dacf1b4ea4922f7bceb9450815e387, paxos reads are user reads.

[2020-05-04 08:22] denesb commented on #6257
The semaphores think there is plenty of memory available:
[code]
Although it is not clear to me where those reads are queued, they are not queued on the semaphore.

[2020-05-04 08:28] gleb-cloudius commented on #6257
Only for dirty memory purpose. It still uses system semaphore. I have this patch locally:

[code]

But still not convinced this is the right thing to do.

[2020-05-04 08:30] denesb commented on #6257
The right thing to do, would be to classify paxos queries, the same way the table is classified on whose behalf we are doing the LWT operation.

[2020-05-04 09:33] psarna commented on #5459
One important note is that it's always **local** view updates that fail with `broken_promise`, not remote ones. I still have no idea at all what might be the cause of it, but I'll keep looking. What's weird is that local view updates are rather straightforward - they simply write the data locally without contacting any nodes via network... one possibility is that we have pending endpoints, in whic

[2020-05-04 09:42] avikivity commented on #6257
But we have almost 5000 active readers. Even if each reader ate just 128k, that's 0.6GB.

Of course, it's possible that those readers ate less than 128k each, point queries do not consume a lot of memory.

[2020-05-04 09:43] nyh commented on #5060
An idea on how to implement the TTL feature quickly but somewhat inefficiently:

Now that Alternator uses LWT for every write and writes are substantially slower, one way we can implement the TTL feature over the existing Scylla TTL is by making every write a read-modify-write operation, as detailed below. Note that an LWT write which needs to read is a bit slower than an LWT write that doesn't re

[2020-05-04 10:18] psarna commented on #6345
@fruch I didn't find any more occurences of `Signature not yet current`, but of the similar kind, `Signature expired`:

[code]

Now, this second one makes more sense, as it simply means that the request was prepared more than 15 minutes before it reached alternator, in which case it's considered stale and it's refused. I'm not sure how this YCSB workload works, but it looks like it prepared some s

[2020-05-04 10:30] fruch commented on #6345
yep this sound more like it, since it was too cleanly match the other things we compute at the same time...

and I see the patches are on route :)
nice catch @psarna, I was staring at that code for a while, trying to see if I can spot a clear issue, didn't got to dig that further.

[2020-05-04 11:12] eliransin opened #6363 "auth: Wrong error code is returned when operation on a non exiting role"
When trying to operate on a non existing role, the error returned from Scylla is 0000 which means server error while the correct error, and the one that is returned also from Cassandra is 2200 which
means invalid request.

[2020-05-04 11:14] eliransin commented on #6363
Closed by #6356

[2020-05-04 11:14] #6363 closed

[2020-05-04 11:16] eliransin commented on #6363
This issue is eligible for backport to all versions. The main effect of the bug is that Cassandra driver will sometimes behave in an unexpected way like reporting on the mentioned operation - couldn't complete the operation against any host (which wrongfully implies a malfunction in the database)

[2020-05-04 11:27] denesb commented on #6257
@tgrabiec ran a script to sum up the memory consumption (buffers) of those readers and the result was very small. I don't know OTMH where the memory is. We'd need to trace the owners of some of those object from the heavily populated pools to determine it:
[code]

[2020-05-04 11:27] psarna opened #6364 "gmtime() and localtime() are not thread-safe and should not be used"
The following time conversion functions:
 - gmtime
 - localtime
 - asctime
 - ctime

are not thread-safe, as they return a pointer to a static global buffer. They all have safer `_r` variants, e.g. `gmtime_r`, and these should be used instead.

Fixes for `gmtime` usage in alternator and clocks-impl are already queued, but there's also an issue with using `localtime` in the gossiper.

[2020-05-04 11:30] tgrabiec commented on #6257
The 128k pool (5) is mostly owned by LSA, belongs to memtables.

[2020-05-04 11:34] avikivity commented on #6257
And the 1.1 GB it is using matches the amount of memory used by memtables.

[2020-05-04 11:35] denesb commented on #6257
BTW what is the best way of determining which pools are mostly used by LSA? Is this just based on the preferred allocation size of LSA (128K)? When investigating OOMs I often found myself wandering whether I'm just wasting my time on trying to trace some objects belonging to the known memtable, or am I on the right lead.

[2020-05-04 11:36] avikivity commented on #6257
LSA always uses 128k.

[2020-05-04 11:37] avikivity commented on #6257
The canonical way is to examine logalloc::segment_size, but it is simpler to remember 128k.

[2020-05-04 11:37] psarna commented on #6364
05ec95134a18bef39039ec715c267770b3326f0f is also related.

[2020-05-04 11:38] avikivity commented on #6257
The problem is fragmentation. There is 5.2 GB in 32k and 64k spans, but they cannot merge.

So we did not run out of memory, just contiguous memory.

[2020-05-04 11:39] avikivity commented on #6257
No, that's wrong. It is not fragmented, but occupied.

[2020-05-04 11:40] avikivity commented on #6257
And in fact the waste is low - just one span in each size class.

[2020-05-04 11:45] avikivity commented on #6257
I am guessing the problem is on the coordinator side. Maybe coordinator concurrency ran away.

[2020-05-04 12:12] denesb opened #6365 "Dump memory analysis on OOM crash"
We should dump a memory analysis on OOM crashes, similar to the `scylla memory` output from `scylla-gdb.py`.

Motivation
-------------

When investigating an OOM, the first thing we do is run `scylla memory`, which prints a report of the memory consumed by memtables, memory consumed by cache, small pool occupancy, large pool occupancy histogram and other usual suspects. This is often enough to mak

[2020-05-04 12:34] slivne commented on #6361
Cassandra Drivers following a DDL wait for schema agreement as well - https://docs.datastax.com/en/developer/java-driver/3.6/manual/metadata/

[2020-05-04 13:29] nyh commented on #6310
Backported to branch-4.0 (commit 8fd7cf5cd1298f396aea3f856c7145681fbed421). No more backports needed.

[2020-05-04 13:59] #6345 closed

[2020-05-04 14:10] nyh commented on #6345
Backported the bugfix to 4.0 (commit abd73cab78114c62ac132a83c7ff8d1e73132b8b) and and 3.3 (commit 3216a1a70aa3d45a496e08d01a26d04de89ace88).

[2020-05-04 14:23] nyh commented on #6364
Backported 05ec95134a18bef39039ec715c267770b3326f0f (the gmtime() fixes) to 4.0. The buggy code did not exist in 3.3.
waiting for the second patch (localtime) to reach master before I can backport it.

[2020-05-04 14:32] Orenef11 opened #6366 "Alternator batch_put_item item with nesting greater then 16 yield ClientError"
## Installation details:
Scylla version (or git commit hash): `4.0.rc3-0.20200501.eee4c00e29`
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu (My laptop)

## Summary:
I added the item with method `batch_writer
`and the error I got is` An error occurred (ValidationException
) when calling the BatchWriteItem operation: Max nested level reached: 39`

My code to added new items
`
  with dynamo

[2020-05-04 14:58] psarna commented on #6366
Oh, right. Our nested level counter is actually bumped by 2 instead of by 1 on each level. I'll prepare a fix.

[2020-05-04 15:27] nyh commented on #6366
Please also add a test case that uses a nesting level that we wish to support, and verify that it is really supported (and fails before your patch). Thanks!

[2020-05-04 16:00] rahultaing commented on #5968
@raphaelsc any chance you can help us with the script here to better understand the root cause and also to set a correct tombstone compaction threshold.

[2020-05-04 16:00] slivne commented on #6069
@vladzcloudius / @ultrabug

not disputing there is an issue - It will help to get access to the metrics on the cluster that had the issue to analyze this , we should do that through the formal support channels (starting from validating that not applying backpressue is the issue - by checking scylla_storage_proxy_coordinator_last_mv_flow_control_delay value for the problematic period).

[2020-05-04 16:02] ultrabug commented on #6069
@slivne you guys have direct access to our prom; but I think the data is gone now since default retention is 7 days

[2020-05-04 18:40] andy-slac commented on #830
@dorlaor, I have to disagree with that RAID is generally better than separate disks. Of course if application does not want to care about I/O details then RAID is the simplest solution, though you'll have to invest your time into tuning RAID configuration for your application needs. OTOH if application is smart enough to understand the behavior of the storage system and schedule its I/O to take ad

[2020-05-04 19:04] dorlaor commented on #830
Cassandra implemented JBOD not because their performance is better but
because streaming in Cassandra is slow and IO is less efficient as well.

I'm not arguing for a principle, my algorithm is not to find all reasons why
not, I like to see what really good reason why we should implement JBOD,
so far we haven't found.

Could be a case where you just ask for a JBOD w/o data? We have users
with soft

[2020-05-04 19:04] vladzcloudius commented on #6069
@slivne This github issue hasn't been created long before the user has hit it.
There is not technical difficulty to verify that the MV backpressure is applied on hints - we don't need customer's data for that.

As of now the most efficient course of action is to verify *in our labs* if we do or do not apply MV backpressure on regular and MV hints.

After we have an answer to the question above we

[2020-05-04 19:22] #6067 closed

[2020-05-04 19:22] #6364 closed

[2020-05-04 19:53] vladzcloudius commented on #6069
@slivne @eliransin User's logs may be found at the following bin: `5500647a-e4fb-4b4f-856e-88dd593dae2d`

[2020-05-04 20:20] dekimir commented on #5272
@kbr- I've been adding some sporadic improvements that make test-writing considerably less painful:
https://github.com/dekimir/scylla/blob/restrictions-rewrite-v7/test/boost/restrictions_test.cc#L799

[2020-05-04 20:43] nyh commented on #6359
If I interpret this use case correctly (please correct me if I'm misinterpreting things), I think this is a bigger issue than just Alternator:

Let's say nodes 1..5 are up, node 6 just go wiped and rebooted.

Because N=6 and RF=3, not all nodes have all data. So an alternator request might be sent to node 1 - which is up - but node 1 doesn't have this data. The question is why would node 1 think t

[2020-05-04 20:58] slivne commented on #6359
I am not sure this is the case ...

Replacing node (while bootstrapping) should only receive writes and not
serve reads.

Replace operation is not safe in the sense that replacing node:
- doesn't take write - Asias fix for this just got merged.
- replace streams from one replica that may not be up to date (this will be
fixed by repair-based-operations)

So  after the replace operation ends we can

[2020-05-04 21:00] dekimir opened #6369 "IN(NULL) yields different results with prepared statements"
When NULL is a member of the IN(...) tuple, it doesn't match any rows, even if the field value is NULL:
[code]
But when this NULL is supplied via a prepared statement, it matches NULL fields.  The following test fails:
[code]
This is inconsistent.  The prepared-statement behaviour should match that of inlined CQL.

/cc @alecco

[2020-05-04 21:02] fruch commented on #6359
I don't think you are wrong here, it's just that for those case (i.e. SCT) we rarely almost never run with CL=ONE. (maybe cause of issues like that), and for CQL we consider CL=QUORUM to be almost the default.
what's worries me, that for alternator the consistency reads are false by default, and our user might hit this one (or similar to this issue)

I've tried reproducing this with alternator in

[2020-05-04 21:10] nyh commented on #5272
This is an old issue. Since then two developments happened which make the C++ CQL unit tests feel modern almost as much as the Flintstone's cars:

1. @kostja's textual CQL tests (test/cql) where a test is just a CQL request, and its expected output.
2. Alternator's tests, written in Python and run against an actual real-life Scylla executable. These tests currently use the DynamoDB API, not CQL, b

[2020-05-04 21:30] fruch commented on #6359
maybe it the `nodetool repair` taking place after the node finished streaming,
cause from those graph seem like the errors start as soon as the node started getting reads (the blue one in the upper graph)
![image](https://user-images.githubusercontent.com/340979/81015061-a9838a80-8e66-11ea-922d-a5774011662f.png)

[2020-05-04 21:31] dekimir commented on #5272
Actually, three developments happened.  Thank you for mentioning the other two.

The downside of test/cql is that it doesn't do prepared statements.  The downside of alternator-test for CQL is that it doesn't exist. :)

[2020-05-04 21:33] slivne commented on #6359
I think we do have some "correctness" tests running with read using CL=ONE in SCT - @roydahan ?

Yet those tests limit the nemesis list and also do some verification - we can try and do the same with Alternator.

[2020-05-04 21:35] slivne commented on #6353
I think the "correct" form should be following the Dynamo API for creating global tables and not something else

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/globaltables.tutorial.html

[2020-05-04 22:34] roydahan commented on #6359
We have CL=ONE in longevity 200gb-48h and yes, it uses LimitedChaosMonkey.

[2020-05-04 22:40] nyh commented on #5272
@dekimir what is the third one - your "sporadic improvements"? Your use of the word "sporadic" made me think you did not think it was a satisfactory solution?

Anyway, it's actually **very easy** to add CQL testing in Python like alternator-test, I can probably jumpstart this approach in just a few hours. The run script (test/alternator/run) already exists, and all you need to do is to write tests

[2020-05-04 23:11] dekimir commented on #5272
I just meant that I've been adding improvements incrementally, while working on other stuff.  But it should be obvious how much easier it is today to add a CQL unit test because of `cquery_nofail`, `require_rows`, one-letter decomposer functions, etc.  Just see my link above and contrast it to the examples given upthread.  It's nowhere near as bad today as it was a year ago.

IOW, I am correct in

[2020-05-05 00:35] ShlomiBalalis opened #6370 "Segmentation fault and semaphore timed after hard reboot"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200429.ff5615d59 with build-id 20f7dd44e77bc28b793a0e4b720a4f88103aba3f
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0953a065a065cfe70 (Ireland)
instance type: i3.2xlarge

The test that experienced the issue is LWT-3H. The nemesis that triggered the issue is called `RepairStreamingErr`.

This nemesis consists o

[2020-05-05 01:49] dekimir opened #6371 "LIKE filter ignored on column key"
When both column key and partition key are filtered with LIKE, only the partition-key filter is applied:

[code]

The result should be empty, since the value `ca` doesn't match the `99999` pattern.

Confusingly, every other kind of filter on `ck` (eg, slice, equality, IN) seems to be obeyed.

[2020-05-05 02:13] dekimir commented on #4776
Since 4f262e31d29a8af90908e5ba610040ec4df052aa, Scylla also forbids `WHERE heart_rate=null`.  It will become allowed again after we re-engineer the filtering code.

[2020-05-05 02:18] dekimir opened #6372 "NULL and empty text are considered equal"
Unlike Cassandra, Scylla considers a NULL text value to match `''`.

Scylla:
[code]

Cassandra:
[code]

[2020-05-05 03:30] zooptwo commented on #6252
I also seem to have run into this same issue.  1 table fails on all nodes to repair.  I see this same error message I think  when it is running a compaction on the table.  but either way the repair fails.  We also recently upgraded from 3.0 - > 3.3  but we upgraded like this.  3.0.7 -> 3.0.11 -> 3.1.x -> 3.2.x -> 3.3.1

[2020-05-05 04:31] #6366 closed

[2020-05-05 07:18] bhalevy commented on #4469
Still hitting this.
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/474/testReport/materialized_views_test/TestMaterializedViews/multi_mvs_on_different_populated_base_tables_test/

ping @slivne @eliransin

[2020-05-05 09:30] gleb-cloudius commented on #6257
What do you mean by "coordinator side"? Most memory is in large allocations. The coordinator does not use those.

[2020-05-05 09:53] avikivity commented on #6257
The client side of storage_proxy.

Those allocations aren't large - 32k to 64k.

[2020-05-05 10:11] gleb-cloudius commented on #6257
Those are pretty large to be a c++ object. They may be a data buffer, but I do not think this test writes such large value.

[2020-05-05 11:29] denesb commented on #6171
[code]
[code]
It seems we are trying to fast-forward past the end of the read range.

[2020-05-05 12:30] slivne commented on #6359
@slivne - after talking about this - we need to verify that the replacing node doesn't get reads while its bootstrapping.

need to download the metrics from the test and look at the specific time range the node was bootstrapping was it serving read requests as a replica

[2020-05-05 12:32] fruch commented on #6359
@slivne
[code]

this is the times `from=1588536819375&to=1588537247303`

[2020-05-05 12:51] elcallio commented on #5963
internode_compression does indeed not work. Because of a static init fiasco in scylla using non-initialized seastar constants. I'll send a patch.

[2020-05-05 12:55] elcallio commented on #5963
See /scylladb/seastar#744

[2020-05-05 13:23] nyh commented on #6347
I just committed a patch by @psarna marking this issue as "Fixes", but note that it only fixes the error messages - not the underlying reason why this port 8080 was taken. I'm guessing this is just a issue on the test machine with some other process taking port 8080 for INADDR_ANY, but don't actually have a proof of that, so we have more ideas maybe we'll need to reopen this issue after it closes

[2020-05-05 13:24] nyh commented on #6347
Sorry, left - and deleted, a wrong comment on this patch. Please ignore if you got it by email.

[2020-05-05 13:41] haaawk commented on #6086
It seems that the problem was in commitlog and seastar/stream.hh.
`subscription` was keeping a [raw pointer](https://github.com/scylladb/seastar/blob/seastar-19.06.0/include/seastar/core/stream.hh#L107) to a `stream` and it was unconditionally used in [`subscription::done()`](https://github.com/scylladb/seastar/blob/seastar-19.06.0/include/seastar/core/stream.hh#L236) but between the creation of `

[2020-05-05 13:41] #6086 closed

[2020-05-05 13:44] haaawk commented on #4728
This is fixed in master. Please see bug description here -> https://github.com/scylladb/scylla/issues/6086#issuecomment-624062623

[2020-05-05 13:44] #4728 closed

[2020-05-05 13:45] haaawk commented on #4843
This is the same as https://github.com/scylladb/scylla/issues/6086#issuecomment-624062623

[2020-05-05 13:47] haaawk commented on #6086
@slivne Do we want to backport those fixes? They seem to be quite small so it might be worth backporting to 3.2.3. Definitely to 3.3 in my opinion.

[2020-05-05 13:55] slivne commented on #6086
3.2 is going to be EOL soon - so I guess not.

4.0 is about to go out and those fixes are not part of it

4.0 is missing Calle's fix (it does have espindola's fix).

On Tue, May 5, 2020 at 4:47 PM Piotr Jastrzębski <notifications@github.com>
wrote:

[2020-05-05 14:04] bhalevy commented on #5459
I started https://jenkins.scylladb.com/view/master/job/scylla-master/job/byo/job/dtest-byo/144/ with the above change (and scylla in release mode since debug takes forever)

[2020-05-05 14:25] fgelcer commented on #6187
running with `4.0.rc3-0.20200501.eee4c00e29` on job 2TB parallel nemesis i see this error again:
[code]

[2020-05-05 14:25] alecco opened #6375 "The system.paxos table grows to tens of GBs if one or more nodes are down, due to write amplification on compaction"
[Kostja](https://groups.google.com/a/scylladb.com/forum/#!msg/rnd-internal/R9yre6pOwos/Go_tprFiAgAJ):

[2020-05-05 14:34] ShlomiBalalis commented on #6346
The issue reoccurred in the latest rolling upgrade, with the following coredump:
[code]

scylla package under test: http://downloads.scylladb.com/deb/unstable/unified/master/2020-05-04T14:36:14Z/scylladb-master/scylla.list

[2020-05-05 14:34] fgelcer commented on #6120
on `4.0.rc3-0.20200504.eee4c00e29` lwt 3h job we see a repair succeeded (there is another job running right now):
[code]

[2020-05-05 14:49] fgelcer commented on #6182
it was related to repair based operations, no?

on `4.0.rc3-0.20200501.eee4c00e29` we have `terminate and replace` succeeded twice:
[code]

[2020-05-05 14:53] avikivity commented on #6346
How can I find the relocatable package for this?

[2020-05-05 14:57] ShlomiBalalis commented on #6346
Here
https://s3.console.aws.amazon.com/s3/buckets/downloads.scylladb.com/relocatable/unstable/master/2020-05-04T14%253A36%253A14Z/

[2020-05-05 15:04] avikivity commented on #6346
And how do I find it next time? Do I always have to ask someone?

[2020-05-05 15:06] slivne commented on #6257
@juliayakovlev / @roydahan we need the monitoring for this tests to try and see if we can detect that one of the shards was overloaded.

[2020-05-05 15:09] fruch commented on #6346
@bhalevy have a script that might help finding it, he's still looking for which repo to submit it to...
some argued it doesn't belong in scylladb/scylla...

[2020-05-05 15:10] slivne commented on #6120
so for 4.0 I am closing this issue.

[2020-05-05 15:10] #6120 closed

[2020-05-05 15:10] slivne commented on #6120
so for 4.0 I am closing this issue.

[2020-05-05 15:13] bhalevy commented on #6346
@avikivity @fruch
It was already submitted to scylla-pkg. under `scripts/scylla-s3-reloc`

@ShlomiBalalis next time, we need scylla's buildid and/or version.

[2020-05-05 15:21] ShlomiBalalis commented on #6346
@bhalevy Sorry, I forgot
The version was `3.3.1-0.20200418.6f939ffe199` with build-id `ea9bf3b4c32c1dc414e467287990f8fdde231150`

[2020-05-05 15:25] bhalevy commented on #6346
Thanks!

[code]

[2020-05-05 15:26] juliayakovlev commented on #6257
@slivne  I sent monitor link to @gleb-cloudius

[2020-05-05 15:27] slivne commented on #6370
@bhalevy please have a look if this is familiar

[2020-05-05 15:40] slivne commented on #6354
need to validate that we don't have multiple topology changes happening at the same time - need to validate it via the logs.

[2020-05-05 15:43] bhalevy commented on #6370
No, it doesn't look familiar.
The backtrace is so generic it would be very hard to understand where exactly it comes from.

[2020-05-05 15:45] avikivity commented on #6346
@bhalevy cool

[2020-05-05 15:46] avikivity commented on #6346
The problem is that we lock the memory (since df4fac284918c53f58eeabd1bacd30273c8a5646) and then call madvise(MADV_DONTNEED) on it. I'll send a patch.

[2020-05-05 15:47] avikivity commented on #6346
It also means that debian is using an ancient kernel!

[2020-05-05 16:06] avikivity commented on #6346
Patch posted, https://groups.google.com/d/msg/seastar-dev/4MfhBovmLek/FuzV_qPPAwAJ

[2020-05-05 16:19] bhalevy commented on #5459
@psarna

After having some trouble with scylla-jmx with byo I re-ran it in https://jenkins.scylladb.com/view/master/job/scylla-master/job/byo/job/dtest-byo/146 but unfortunately it succeeded :-/

Anyhow, I reproduced it locally using a release relocatable package, using the following command line:
[code]

In node5.log there are numerous reports like the following:
[code]

The decoded backtrace is:

[2020-05-05 16:25] bhalevy commented on #5459
Here's
[node5.log.gz](https://github.com/scylladb/scylla/files/4582134/node5.log.gz) with the debug printouts.  It's still unclear to me why we get the broken_promise exception...
[code]

[2020-05-05 17:27] fgelcer commented on #6346
Debian9 uses `4.9.0-6`

[2020-05-05 18:44] fgelcer opened #6376 "large allocation when calculating schema digest with 5000 stables"
*Installation details*
Scylla version (or git commit hash): 4.0.rc3-0.20200501.eee4c00e29 with build-id 0fe095b80ee54c7f47a688aaac0c6bb835118ddc
Cluster size: started with 1 and then added more 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0352ad86d128c6419

seen such message on all nodes...
the 1st time it happened when there was one single node (the test creates one single node, then creates 5000 table

[2020-05-05 19:37] tgrabiec commented on #6305
This exposes us to https://github.com/scylladb/scylla/issues/4208

This can result in violation of LWT linearizability after topology changes due to the fact that the old streaming will stream only from a single replica and not from a quorum. So a CL=QUORUM write before the topology change may no longer be present on a quorum after the change.

\cc @kostja

[2020-05-05 19:45] kostja commented on #6305
Correctness shouldn't be a configuration option. LWT correctness depends on repair-based streaming. Shall we document now that node operations may lead to violation of LWT linerizability unless this option is enabled?

I agree with @tgrabiec this ticket provides very little insight into why we need an option at all.

[2020-05-05 19:59] roydahan opened #6377 "possible write latency degradation - test_latency_write"
*Installation details*
Scylla version (or git commit hash): See below
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

During test_latency_write (100% writes on pre-populated 1TB dataset) we started seeing some spikes of p99th latency.
(Prior to this suspected degradation, p99th latency didn't spike above 5 ms).

<img width="796" alt="Screen Shot 2020-05-05 at 22 41 21" src="https://user-

[2020-05-05 20:02] roydahan commented on #6377
In case it helps, here is a list of commits between the the good and suspected build:

[code]

[2020-05-05 20:10] avikivity commented on #6377
Only 9fee712d6 looks vaguely related.

[2020-05-05 20:11] avikivity commented on #6377
@roydahan we can bisect within those commits, I can give you rpms to test.

[2020-05-05 20:12] avikivity commented on #6377
The stall you reported is not wonderful, but not terrible either. It happens when we complete an sstable, which is a rare event. Easy to fix too.

[2020-05-05 20:43] roydahan opened #6378 "Latency spikes during 100% write test (perf-regression)"
*Installation details*
Scylla version (or git commit hash): 4.0.rc3
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

Version: 4.0.rc3
build date: 20200501
commit id: eee4c00e29

<img width="790" alt="Screen Shot 2020-05-05 at 23 42 11" src="https://user-images.githubusercontent.com/20959584/81114125-13b13380-8f2a-11ea-961b-452f3971af88.png">

Full dashboard screenshot:
https://snapshot.ra

[2020-05-05 20:44] roydahan commented on #6378
Probably the same as #6377 but @slivne wanted a separate issue for 4.0

[2020-05-05 20:48] roydahan commented on #6378
Live monitor in case it helps somehow: http://52.201.226.72:3000/d/xrD-mL6Wz/scylla-per-server-metrics-nemesis-master?orgId=1&from=1588691434396&to=1588695255801

[2020-05-05 21:02] slivne commented on #6378
I added stalls to the view - there is correlation with stall generation (which is good !!!) - yet some latency seems to be non related to stalls

![stalls](https://user-images.githubusercontent.com/3465480/81115666-c08cb000-8f2c-11ea-9ccd-a1d288b3a73a.png)

Lets fix the stalls and then see what is left.

[2020-05-05 21:14] slivne commented on #6205
internode compression bug - #5963 is being fixed - will close once its fixed

[2020-05-05 21:43] slivne commented on #5173
this is fixed by da00530464779bb1d3e6757e2e804ca909ee0e5d

seastar patch scylladb/seastar@cc4115b9134e412a92f8f9ee52d7e395b9ca6c83

part of 3.3.0

[2020-05-05 21:43] #5173 closed

[2020-05-05 21:48] raphaelsc opened #6379 ""Estimated droppable tombstones" not 1.0 on a completely expired sstable"
Estimated droppable tombstone is not 1.0 for a completely expired sstable.

TWCS, TTL 30 days, gc_grace_seconds set to 0.

Minimum timestamp: 1578687694176451
Maximum timestamp: 1578786895584127
SSTable min local deletion time: 1581279694
SSTable max local deletion time: 1581378895
Estimated droppable tombstones: 0.8757351856140931

Checked that SSTable is really fully expired by time this data wa

[2020-05-05 22:01] raphaelsc commented on #5968
On Mon, May 4, 2020 at 1:00 PM rahultaing <notifications@github.com> wrote:

BTW, just sent this patch 'sstables: Use mc-version-only metadata to make
estimation of droppable data precise' to public Scylla mailing list which
will help with estimation of droppable data in SSTables, which consequently
will make tombstone compaction behave way better. With regards to script, I
will have it by tomorro

[2020-05-05 22:14] slivne opened #6380 "REST API storage_service/ownership/<keyspace> (get_effective_ownership) can cause stalls"
copy pasting analysis @avikivity did

[code]

The whole thing runs in one task without preemption.

Each iteration calls

[code]

which has this comment:

[code]

So maybe just some old-stye optimization is needed, plus add preemption. This shouldn't take two seconds.

[2020-05-05 23:19] jtnagashima commented on #6252
Hi Asias, try as I might, I cannot seem to find a way to reproduce this issue - and the issue still persists with our existing cluster. We created a new debug keyspace and table using the same schema and a dump of the data contained in the problematic key range (as it was defined in logs):

`[shard 2] repair - repair id 18 on shard 2 failed: std::runtime_error (Failed to repair for keyspace=test_k

[2020-05-06 00:35] asias commented on #6252
Thanks @zooptwo @jtnagashima. It looks like the issue only triggers with keyspace created with older version.

@jtnagashima can you try `nodetool compact test_keyspace test_keyspace_intervals` on all nodes and run repair again for the range (1974950939236351, 15955982054292879] which triggered the issue.

[2020-05-06 00:42] gnumoreno opened #6381 "docker image 3.3 does not create /var/lib/scylla/commitlog for some reason (change in behavior)"
## Problem
Apparently scylla 3.3 io_tune or some bootstrapping script is not creating the commitlog subdir.
Not sure what the problem is but it is reproducible with docker-compose (see below)

Before running `docker-compose up -d`

Clean up the dirs on the host:
`for i in $(seq 1 4); do sudo rm -rf /mnt/$i/*; done`

### Error on 3.3

[code]

### docker-compose for 3.3 which does not work
[code]

#

[2020-05-06 00:55] gnumoreno commented on #6381
Result on the host when running docker-compose with 3.3:
[code]

Result on the host when running docker-compose with 2019.1.7:
[code]

So I guess it is a change in behavior on io_tune and it requires commitlog that only gets created after.

[2020-05-06 01:25] asias commented on #6351
It is a known issue which is described below.  In short, with a keyspace with rf =1, the old stream plan based node operations can not find a source to stream data and decides to fail the operation. Repair based node operations does not have this issue, it ignores ranges that have zero neighbours.
We hit this issue when "repair based ops" is not enabled by default.
We have more work to make "strea

[2020-05-06 02:03] asias commented on #6305
Disabling it by default (suggested by Avi) is a release decision which was discuss in the other thread.

QA found issues like #6272 #6248 #6232.

[2020-05-06 02:45] dekimir opened #6382 "NULL counters treated as 0"
A query WHERE counter=0 will also return rows where the counter is non-existent.  This differs from Cassandra.

Scylla:
[code]

Cassandra:
[code]

/cc @jul-stas

[2020-05-06 03:18] Felix-zhoux commented on #6321
@fruch
The version of docker image I use is the same as yours. Is it related to the version of awscli tool?

`Scylla log
INFO  2020-05-06 03:03:41,409 [shard 0] init - serving
INFO  2020-05-06 03:03:41,409 [shard 0] init - Scylla version 4.0.rc1-0.20200420.0819d221f4 initialization completed.
INFO  2020-05-06 03:03:44,065 [shard 0] standard_role_manager - Created default superuser role 'cassandra'

[2020-05-06 03:19] Felix-zhoux commented on #6321
`Scylla log
INFO  2020-05-06 03:03:41,409 [shard 0] init - serving
INFO  2020-05-06 03:03:41,409 [shard 0] init - Scylla version 4.0.rc1-0.20200420.0819d221f4 initialization completed.
INFO  2020-05-06 03:03:44,065 [shard 0] standard_role_manager - Created default superuser role 'cassandra'.

# aws dynamodb create-table --table-name testtagtable  --attribute-definitions AttributeName=Title,Attribu

[2020-05-06 03:38] fruch commented on #6321
you have problem updating to newer release of awscli ?

I can find out how to tag it via cqlsh if that helps

[2020-05-06 03:39] Felix-zhoux commented on #6321
The awscli tool in version 1.18.53 successfully created the table using the tag parameter.

[code]

[2020-05-06 06:26] psarna commented on #5459
Well, I didn't pinpoint the exact place where the broken promise comes from, but I do definitely see the problem... your debug prints were exactly in the right place, just look at this line:
[code]
For context - this node's IP is `127.0.25.5`. The view updating code computed a pending endpoint for this node, since there was a range movement, and came to a conclusion that a new paired endpoint for

[2020-05-06 07:03] slivne commented on #6321
Need to find the compatibility issue and it would be preferable to support all versions if is a case of lower/upper case and such (I expect it will be a common case for other issues as well).

In any case we need to detect a version tag of some kind and record which version we support fully and make sure this is checked (and if possible returned on errors - so clients will be able to understand th

[2020-05-06 07:57] slivne commented on #4421
the fix to support java 11 is part of master and will be part of 4.1

[2020-05-06 07:57] #4421 closed

[2020-05-06 08:00] slivne commented on #6314
duplicate of #6148

[2020-05-06 08:00] #6314 closed

[2020-05-06 08:28] ManManson commented on #6342
We only need dd88b2dd183e292eacab542b2f8ab578faebb506 to prevent the test from crashing.

But after that it would be failing because some internal checks in the test itself will fail since it depends on some behavior being injected. BTW, that is what already happens: https://jenkins.scylladb.com/view/scylla-4.0/job/scylla-4.0/job/dtest-debug/32/testReport/junit/paxos_tests/TestPaxos/cas_statement_

[2020-05-06 08:33] psarna commented on #5459
@bhalevy I sent a pull request, and verified manually by adding an assertion that pending endpoints do not contain the paired endpoint itself. With that additional assertion, the dtest reproduced the failure each time.

[2020-05-06 08:40] bhalevy commented on #6342
Indeed starting https://jenkins.scylladb.com/job/scylla-4.0/job/dtest-debug/31/testReport/paxos_tests/TestPaxos/cas_statement_timeout_test/ we see:
[code]

IMO backporting this many patches for error injection is too risky and we should disable the test in 4.0 and continue error-injection based testing of this feature in master.

@kostja @roydahan @scylladb/scylla-maint what do you think?

[2020-05-06 10:57] kostja commented on #6342
Error injections are only running in debug/dev mode, so they are not risky to backport.

[2020-05-06 11:15] fruch commented on #6321
after installing some version I've found the version it starts working:
`awscli==1.16.146`

later I'll look at the diff in that code, to figure out why it's broken.
but I can safely say it's not related to alternator, since it's not yet called it (according to this log)
[code]

[2020-05-06 11:24] bhalevy commented on #5459
@psarna it LGTM, thanks.
Would you like to to send a follow up PR based on the patch in https://github.com/scylladb/scylla/issues/5459#issuecomment-624154242?

I presume you want to keep the "Error applying view update ..." log message in error severity, not warning, right?

[2020-05-06 11:30] denesb commented on #6171
In frame 26 (omitted uninteresting parts of the output):
[code]
[code]
The key we are fast-forwarding is after the last key in the buffer. It is clear that we are reading more than what was specified in the slice, unless this is a reverse read.

[2020-05-06 11:39] denesb commented on #6171
It is a reversed read:
[code]
Which is:
[code]

[2020-05-06 11:47] bhalevy opened #6385 "segfault when failing to flush memtable to sstable"
Seen locally when running a number of dtest in parallel and hitting EMFILE.

Test command was:
[code]

[node1.log](https://github.com/scylladb/scylla/files/4586460/node1.log):
[code]

[code]

[2020-05-06 11:53] bhalevy commented on #6385
Note: these dtests were enabled to test my fix to #5603
However, this issue seems completely unrelated to the fix.

[2020-05-06 11:54] denesb commented on #6171
# In frame 7:
[code]

Let's compare the first two keys in the slice:
[code]
The ranges are in reverse order, as usual for reverse query slices. However this slice is in the sstable read layer which doesn't support reverse reads, so should have reversed the slice, like the cache reader did.

[2020-05-06 11:59] denesb commented on #6171
https://github.com/scylladb/scylla/blob/d112a230c06afc2ff084816ae4f9caafe354ad97/sstables/partition.cc#L184-L199

We are initializing the end of the read range from the slice, with `get_slice_upper_bound()`, which looks like this:
https://github.com/scylladb/scylla/blob/d112a230c06afc2ff084816ae4f9caafe354ad97/sstables/partition.cc#L67-L73

Which just takes the last clustering range from the slice

[2020-05-06 12:01] rnz commented on #5155
@piodul I think this is wrong behaviour. If division of responsibility applies: usually only admin have access to create or drop database/keyspace - this is elemental security reasons if have multipe users.
And if user can create own types in keyspace then he should be able to remove he own types (if they a not used) without any additional operations by admin.

[2020-05-06 12:07] fgelcer commented on #6121
a coredump was found during `unbootstrap`. here is the stack for the first error seen:
[code]

2 nodes crashed:
node-1
[code]

node-3
[code]

log files were uploaded to:
[code]

[2020-05-06 12:30] denesb commented on #6171
This code looks the same in master.

[2020-05-06 12:48] slivne commented on #6121
@fgelcer its not the same bug and did you have a refresh prior to that with the sstables that do not match the schema ?

[2020-05-06 12:48] slivne commented on #6121
In any case open a new bug so we can go over this

[2020-05-06 12:55] slivne commented on #6257
@gleb-cloudius any update did you find anything ?

[2020-05-06 12:57] tgrabiec commented on #6330
@gleb-cloudius I don't see the problem. The paxos repair may need the commit mutation to replicate it in order to make sure that at least a quorum of the nodes knows about the previously committed value.  But if we pruned it, it means that a quorum already knows it, and this repair doesn't have to do anything.

[2020-05-06 13:02] fgelcer opened #6386 "coredump was found during unbootstrap"
*Installation details*
Scylla version (or git commit hash): 4.0.0-0.20200505.
d95aa77b62 with build-id c9cf14d33523aca01a1ba502a91eb9d400de9c34
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ca54e1cbc8dd09f1

a coredump was found during `unbootstrap`. here is the stack for the first error seen:
[code]

2 nodes crashed:
node-1
[code]

node-3
[code]

log files were uploaded to:
[code]

[2020-05-06 13:03] fgelcer commented on #6386
spinning off from #6121 as @slivne claims it is not related.

[2020-05-06 13:03] fgelcer commented on #6386
I was asked about the RefreshNemesis, and yes, it ran prior to this decommission. Here is a list with all the nemesis that ran during this job:
[code]

[2020-05-06 13:07] slivne commented on #6386
Please note prior to this there was a nodetool refresh with sstables with incorrect schema - this still need to be fixed.

The errors we got seem to be different fro #6121

Runs without nodetool refresh did not hit this issue - as such we are assuming its related to the sstables with incorrect schema being loaded.

(this was opened just for reference - if we do hit this in another case)

[2020-05-06 13:24] gleb-cloudius commented on #6330
The code always repair since it does not know if quorum has it, so it
will repair with an empty mutation which will not repair the data.
Regular read repair will, but why do two rounds of repair.

We can skip paxos repair round for empty mutations, but to know that a
mutation is empty we will need to unfreeze it.

--
			Gleb.

[2020-05-06 13:34] nyh commented on #5459
@psarna looking at your patch now, but I still don't understand why sending the same update twice, though undesirable, causes a "broken promise" error. Moreover, I don't understand why it is limited to the case of the local write - can't we have also in the case of a remote write where the paired replica and the "pending endpoint" are the same one?

[2020-05-06 13:57] psarna commented on #5459
@nyh I'm still trying to pinpoint where the broken promise comes from - I haven't seen it locally, I only reproduced the duplicated entry scenario after adding additional assertions manually. I now see that I erroneously marked this commit as "fixing" this issue, while it should be "referring" to it - I'll repush with an updated message.

What I suspect happening is that there may be a silent assu

[2020-05-06 14:38] tgrabiec commented on #6330
But does this change make the situation worse? Repairing with an empty mutation is not more expensive than repairing with a non-empty one, and pruning doesn't affect whether we will need to repair or not.

[2020-05-06 14:44] tgrabiec commented on #6330
I see it, read-repair will make it more expensive. Maybe it's not that bad, since it will happen only once for a given key after the node is back. Skipping repair is better as you say.

For skipping, we could add a flag to paxos table which tells whether MRC is empty to avoid unfreezeing.

[2020-05-06 14:52] gleb-cloudius commented on #6330
On Wed, May 06, 2020 at 07:40:38AM -0700, Tomasz Grabiec wrote:

If we do not prune we will repair base table at paxos time and then
reading from base table will not do read repair (since data will be the
same). If we prune we will run repair at paxos time, but this repair
will not repair base table, it will only update the commit entry in the
node that missed it. Then, when the data will be read

[2020-05-06 15:01] gleb-cloudius commented on #6330
On Wed, May 06, 2020 at 07:45:11AM -0700, Tomasz Grabiec wrote:

This is incompatible change, we will also need to change the protocol to
propagate the flag. All possible to do, the question is if the
complication worth it?

--
			Gleb.

[2020-05-06 15:01] slivne commented on #6375
system.paxos should potentially move and use TWCS (unless you find a better solution).

[2020-05-06 15:19] glommer commented on #6385
ISn't this possibly the bug that @espindola had recently fixed?

[2020-05-06 15:19] #6347 closed

[2020-05-06 15:19] #6346 closed

[2020-05-06 15:21] gleb-cloudius commented on #6257
Nothing interesting. First of all the same problem happened 4 times on the same node. Here is the dashboard for the coredump here:

![p1](https://user-images.githubusercontent.com/6554938/81194973-ec0fa900-8fc5-11ea-8ee4-33349ba9097b.png)
![p2](https://user-images.githubusercontent.com/6554938/81194980-ed40d600-8fc5-11ea-8ff1-3fe3ce3695ab.png)
![p3](https://user-images.githubusercontent.com/655493

[2020-05-06 15:22] avikivity commented on #6342
But the code itself changes, no? Even if in a minor way.

[2020-05-06 15:24] slivne commented on #6309
Please note this is after the fix from #4924 - setting truncate timeout to 60 seconds

[2020-05-06 15:50] denesb commented on #6171
Reproduced with a unit test. @slivne please rename the title of the bug to: "reverse query: single key sstable reader uses the smallest clustering range from slice to determine read range end".

[2020-05-06 15:54] denesb commented on #6171
The bug (wrong handling of reverse slices in the sstable reader) might affect more than the single key sstable reader,  but that is what caused the crash reported here. My fix will not be limited to just this one aspect of this bug.

[2020-05-06 15:59] denesb commented on #6171
@udayan0095 as a workaround until the fix lands, you can stop using reverse queries, in particular reverse queries with an IN restriction on clustering keys. Normal queries should work without a problem. Note that in general reverse queries are inefficient in scylla (see #1413) and we have strict memory limits for reverse queries to work around this inefficiency (see https://github.com/scylladb/sc

[2020-05-06 16:17] udayan0095 commented on #6171
OK. Thanks.

[2020-05-06 16:59] ashutosh008verma commented on #4348
Is there a workaround to do the correction for the record in cassandra table?

[2020-05-06 17:47] nyh opened #6387 ""--start-native-transport" option doesn't work"
In commit da3bf20e712e5ae383721e879801a64a5c26a2ed we supposedly enabled
support for Cassandra's "start_native_transport" option which can be set to
0 to run Scylla without listening on the CQL port. This can be useful, for
example, if a user only want the DynamoDB or Redis APIs but not CQL.

Unfortunately, the option was still marked "Unused", so it wasn't really
enabled as a valid command line o

[2020-05-06 18:15] rahultaing commented on #4632
@avikivity @slivne can one of you help me understand the downside of using this `--skip-wait-for-gossip-to-settle ` on a 3 node cluster?

[2020-05-06 18:32] jtnagashima commented on #6252
The `nodetool compact` followed by the `nodetool repair` yielded the same results.

However, I did manage to get the repairs working by performing a `nodetool flush test_keyspace test_keyspace_intervals` though!

[2020-05-06 18:49] fgelcer commented on #6309
during rolling upgrade on Ubuntu 16 RC there is a similar failure, with following message:
[code]

logs can be found here:
[code]

[2020-05-06 19:15] jtnagashima commented on #6252
Never mind, flushing the table is not working consistently. I attempted to flush another problematic keyspace table and it returned the same error as before.

[2020-05-06 20:15] #5603 closed

[2020-05-06 20:54] bhalevy commented on #6385
Reproduced in debug mode.

[code]

Testing the following patch now. I've hit a file-close related assert, but not this issue so far.  Will test in debug mode too.

[code]

[2020-05-06 21:17] bhalevy commented on #5318
@slivne with #4557 and #5603 fixed I don't think there's anything more to do for this issue and it can be closed.

[2020-05-06 21:27] slivne commented on #6300
fixed by e77dad3adf7051a489223bbd55ecbc461b377421

[2020-05-06 21:31] espindola commented on #6385
Benny Halevy <notifications@github.com> writes:

The destructor is called whether we failed or not.

When is write_failed called without _sst?

Cheers,
Rafael

[2020-05-06 21:34] slivne commented on #6296
We need this fixed - if its a bug in repair and streaming - I am increasing the priority to this  @asias / @denesb who show should be looking at the coredump to try and better understand whats going on.

@aleksbykov can you try and force a run with this schema again and this nemesis and try to reproduce - if it reproduces we may need more logging to find the bug.

[2020-05-06 23:50] nyh commented on #6321
This is not a bug, as @fruch already noted above it has nothing to do with Alternator - the tool prints this error before even contacting Alternator. It's just because you have an old version of the CLI tools. Let me explain:

The ability to pass tags during a `CreateTable` operation is a very recent addition to the DynamoDB API - Amazon only added it in April 2019. Until then, you could only add

[2020-05-06 23:50] #6321 closed

[2020-05-07 03:57] #6287 closed

[2020-05-07 04:26] zooptwo commented on #6252
If I can provide more info that might be relative. In my case there are 3 partitions that are basically accessible.  pulling the specific token(primary_key) = ID generally always results in a timeout.  99% of the time otherwise the result is empty.    So some specific information here.  On this keyspace we have not be running repairs as they should be I have probably repaired the table 4 times ove

[2020-05-07 04:57] aleksbykov opened #6388 "CDC: test with gemini reach the no space left on device"
*Installation details*
Scylla version (or git commit hash):666.development-0.20200506.b183530f2 with build-id 2c7c3de0f38fe5e1688fd1b97cde6656e0213f1f
Cluster size: 3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03287f5c992992873
instance type: i3.large with 475 GB.

Gemini command was running
[code]
next schema was created.
[code]

During run 2 nodes reported:
[code]

![Screenshot from 2020-05-07 1

[2020-05-07 05:22] aleksbykov commented on #6296
@slivne wil run reproduce ASAP

[2020-05-07 07:01] haaawk commented on #6388
@aleksbykov please add CDC label when you open issue related to CDC. Thank you.

[2020-05-07 07:50] asias commented on #6296
@aleksbykov Please use latest nightly version of scylla. We have repair related fix there.

Make sure it contains the following commits:

[code]

[2020-05-07 07:56] asias commented on #6252
@jtnagashima I am preparing you a rpm (latest 3.3 branch + patches to workaround the issue and add more debug info).  In case you can try it, you can upgrade the node runs repair cmd only and rerun the repair.  Share the logs with me.

[2020-05-07 08:40] nyh opened #6389 "Alternator: concurrent TagResource from multiple nodes may race"
Tags are stored in a schema table (`system_schema.tables.extensions['tags']`).
This means means that concurrent adding of tags for a single table on more than a single node may result in a race, until Scylla schema agreement is reimplemented to avoid them, or we use some other mechanism to serialize the operation.

[2020-05-07 08:47] jtnagashima commented on #6252
@asias Good news! The compaction on the keyspaces prior to repairing seems to be working.  My guess is that we upgraded too rapidly to version 3.3 so the natural compactions process wasn't given enough time to update all the tables?

[2020-05-07 08:52] asias commented on #6252
Thanks @JacobJohansen . I have a mixed feeling ;-) I am happy to see the issue is gone for you but the reproducer is gone too.  The above rpm is supposed to give us more insights on the issue.

[2020-05-07 09:01] asias commented on #6252
@jtnagashima do you have a lots of deletes on the table with repair issue?

[2020-05-07 09:43] eliransin commented on #6040
@Termite thanks for all of the information, your insights are priceless.
We will look into this as well as try to reproduce.
We will keep you updated with our findings.

[2020-05-07 09:43] nyh opened #6391 "Alternator: CreateTable + Tags should be atomic"
The `CreateTable` operation has a `Tags` parameter used to set tags on the newly created table. However, the way we do this today is as two separate operations: first the table is created, then the tags are added. It is, at least in theory, possible for the table creation to succeed but then the tagging to fail - and the result is that the operation will seem to fail but still leave behind a new t

[2020-05-07 11:03] ShlomiBalalis commented on #5459
The Issue occurred again on lwt-24h-parallel-nemesis, using `4.0.rc3-0.20200501.eee4c00e29` with build-id `0fe095b80ee54c7f47a688aaac0c6bb835118ddc`, when node#5 was joining the cluster.

At `13:57:26,164` started joining the cluster (After a previous node was decommissioned):
[code]

At `2020-05-06T13:59:27` the node started to experience several broken_promise exceptions:
[code]
Translated backt

[2020-05-07 11:14] denesb opened #6393 "Drop unselected columns on the sstable reader level"
Currently the sstable reader reads all cells from each row, even if it belongs to a column that is not selected in the slice. The slice is applied when the result set is built from the data. This is inefficient because we processing and keeping in memory data that will be dropped later.

Found when working on a unit test for reverse queries. I wanted to ensure I don't hit the reverse query limit,

[2020-05-07 11:20] Termite commented on #6040
Hi,

I made a go importer which imports data with a calculated key to make checks easier.
The go script can also check rows for existence, and has another mode to constantly check while inserting.

I imported 1000000 rows.
Then I checked those one millions rows, all were found.
Then I started the tool to import 6000000000 rows while constantly checking the existence of the first million of rows.
D

[2020-05-07 11:23] Termite commented on #6040
Sorry, there is a typo in the first 2 command lines, the -count should be -count=1000000:
./debug-importer -hosts=scylla1... -count=1000000 -threads=100 -mode=insert
./debug-importer -hosts=scylla1... -count=1000000 -threads=100 -mode=check

[2020-05-07 11:31] psarna commented on #5459
The fix was not backported to 4.0, so it only makes sense to respin the test for master - in 4.0, it's very likely to fail for the same reason.

[2020-05-07 11:37] aleksbykov opened #6394 "flat_mutation_reader error and coredump after bootstrap was interrupted with node termination"
May be similar to the issue https://github.com/scylladb/scylla/issues/6386

*Installation details*
Scylla version (or git commit hash):  4.0.rc3-0.20200501.eee4c00e29 with build-id 0fe095b80ee54c7f47a688aaac0c6bb835118ddc
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0352ad86d128c6419

job for longevity-1tb-7days was running with only TerminateAndReplace nemesis( decommission old node

[2020-05-07 11:39] tzach opened #6395 "Scylla 4.0.0 AMI on i3.xlarge: This EC2 instance is optimized for Scylla"
*Installation details*
Scylla version (or git commit hash): 4.0.0 scylla-server-4.0.0-0.20200505.d95aa77b62.x86_64
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ScyllaDB 4.0.0 (ami-044d86315d7819cd7) eu-north-1

After init, I get the following:
[code]

i3.xlarge should be optimized for Scylla AMI.

[2020-05-07 11:41] fgelcer commented on #6394
could be related to #6309

[2020-05-07 11:47] #6387 closed

[2020-05-07 11:47] #6299 closed

[2020-05-07 11:47] #6385 closed

[2020-05-07 11:47] #6273 closed

[2020-05-07 11:54] penberg commented on #6395
What's the bug, @tzach? This message is coming from the `scylla_ec2_check` script, which, after checking everything, reports that the instance _is_ optimized...

[2020-05-07 11:58] tzach commented on #6395
Ouch.
Look like I need new glasses.

[2020-05-07 11:58] #6395 closed

[2020-05-07 12:26] avikivity commented on #6387
Minor issue, not backporting.

[2020-05-07 12:27] avikivity commented on #280
@penberg why did the bot add the Backport candidate label to this?

[2020-05-07 12:28] avikivity commented on #3158
Internal thing, not backporting.

[2020-05-07 12:34] avikivity commented on #3717
Already in 3.3 and 4.0.

[2020-05-07 12:38] avikivity commented on #3801
Backported to 3.3.

[2020-05-07 12:49] avikivity commented on #4066
Already in 3.3, 4.0.

[2020-05-07 12:52] avikivity commented on #4339
Already backported, removing label.

[2020-05-07 12:52] avikivity commented on #4339
@nyh look at tools/toolchain/dbuild.

[2020-05-07 12:54] avikivity commented on #4382
Already in 3.3, 4.0.

[2020-05-07 12:56] avikivity commented on #4394
Already backported everywhere.

[2020-05-07 13:02] ShlomiBalalis opened #6396 "Runtime_error fails Repair: failed to do checksum"
*Installation details*
Scylla version (or git commit hash): 4.0.rc3-0.20200501.eee4c00e29 with build-id 0fe095b80ee54c7f47a688aaac0c6bb835118ddc
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0352ad86d128c6419 (Irelnad)
instance type: i3.2xlarge
Test that discovered the issue: LWT-24h-parallel-nemesis

At `2020-05-06 14:12:46.991` a repair nemesis started on node#5. At `2020-05-06T14:15:30`

[2020-05-07 14:03] avikivity commented on #4446
Backported to 3.3.

[2020-05-07 14:08] avikivity commented on #4461
This got so much mileage it was aged out.

[2020-05-07 14:16] avikivity commented on #4474
Already everywhere.

[2020-05-07 14:22] avikivity commented on #4839
Delayed so much it aged out.

[2020-05-07 14:27] avikivity commented on #5102
Minor annoyance (can be avoided by not casting), not backporting.

[2020-05-07 14:28] avikivity commented on #5109
I don't think this merits a backport. @glommer ?

[2020-05-07 14:29] slivne commented on #6393
We have todo that AFAIK to ente data into the cache - the cache holds only complete rows, not partial rows.

[2020-05-07 14:30] avikivity commented on #5480
Cosmetic, not backporting.

[2020-05-07 14:31] slivne commented on #5318
closing :)

[2020-05-07 14:31] #5318 closed

[2020-05-07 14:36] denesb commented on #6393
Makes sense. We could implement such slicing in all concrete mutation sources: memtable, cache, sstable reader (we can use the same code in all places). Cache could then edit the slice before passing down to the sstable layer, such that it includes all columns.

Questionable, whether the benefits are worth this much trouble.

[2020-05-07 14:59] juliayakovlev opened #6397 "Node properties are null in system.peers for node that was decommissioned and removed"
*Installation details*
Scylla version (or git commit hash): 4.0.rc3-0.20200501.eee4c00e29
Cluster size: 9 nodes (multidc)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-016482914844d8a49,  ami-08eeb1a787e407ef9, ami-0c6075ec8f222315b

Found "null" value in node properties in system.peers for node that was decommissioned and removed.
Maybe as issue [#4652](https://github.com/scylladb/scylla/issues/4652)

Thi

[2020-05-07 15:09] avikivity commented on #5347
No vulnerable active branches.

[2020-05-07 15:10] slivne commented on #6394
Only TerminateAndReplace - so its not a case of sstables loaded with nodetool refresh and wrong schema.

[2020-05-07 15:11] avikivity commented on #5508
Only an annoyance, not backporting.

[2020-05-07 15:13] avikivity commented on #4606
Aged out.

[2020-05-07 15:13] bhalevy commented on #6394
@denesb can you please look into this issue?

[2020-05-07 15:13] dorlaor commented on #280
Maybe compaction steals resources from the bot. #AIwars

On Thu, May 7, 2020 at 5:27 AM Avi Kivity <notifications@github.com> wrote:

[2020-05-07 15:13] avikivity commented on #4585
Already backported.

[2020-05-07 15:14] avikivity commented on #4611
Already backported.

[2020-05-07 15:16] avikivity commented on #5494
Minor issue, not backporting.

[2020-05-07 15:16] avikivity commented on #5544
No vulnerable branches.

[2020-05-07 15:20] avikivity commented on #5543
No vulnerable branches.

[2020-05-07 15:35] bhalevy commented on #5979
Looks like this never happened again.

[2020-05-07 15:36] bhalevy commented on #5717
Haven't seen again so let's close it and reopen if needed.

[2020-05-07 15:36] #5717 closed

[2020-05-07 15:42] bhalevy opened #6398 "Add ancestors metadata to mc format sstables"
https://github.com/scylladb/scylla/issues/4918#issuecomment-548345561

@denesb wrote:

[2020-05-07 15:49] avikivity commented on #5669
Feature, not bug, not backporting.

[2020-05-07 15:51] avikivity commented on #5869
cdc is experimental, not backporting.

[2020-05-07 15:52] avikivity commented on #5891
In 4.0, and only experimental in 3.3, not backporting.

[2020-05-07 15:54] avikivity commented on #5814
In 4.0; LWT is experimental in 3.3, not backporting.

[2020-05-07 15:59] avikivity commented on #5992
cdc experimental, not backporting.

[2020-05-07 16:00] avikivity commented on #6016
In 4.0, lwt in 3.3 is experimental

[2020-05-07 16:05] avikivity commented on #5708
Already backported everywhere.

[2020-05-07 16:06] avikivity commented on #4951
Backported to 3.3.

[2020-05-07 16:12] avikivity commented on #6087
In 4.0. 3.3 lwt was experimental, not backporting.

[2020-05-07 16:12] avikivity commented on #5779
in 4.0; 3.3 lwt is experimental, not backporting.

[2020-05-07 16:13] avikivity commented on #6131
No vulernerable branches.

[2020-05-07 16:14] avikivity commented on #5874
Tarball upgrade is a new feature; not backporting.

[2020-05-07 16:29] avikivity commented on #5455
Aged out.

[2020-05-07 16:32] avikivity commented on #5644
Already in 4.0, lwt is experimental in 3.3, not backporting.

[2020-05-07 16:34] avikivity commented on #5468
No vulnerable branches.

[2020-05-07 16:36] avikivity commented on #5468
No, it just changed. @amnonh please prepare a backport to 3.3.

[2020-05-07 16:37] avikivity commented on #5552
Already backported everywhere.

[2020-05-07 16:39] avikivity commented on #5838
Already backported everywhere.

[2020-05-07 16:42] avikivity commented on #5616
Backported to 3.3.

[2020-05-07 16:43] avikivity commented on #6130
@penberg why did the bot re-add the Backport candidate label?

[2020-05-07 16:44] avikivity commented on #5658
@mmatczuk 4.0.

[2020-05-07 16:44] avikivity commented on #5658
Since this is a feature, not backporting.

[2020-05-07 16:46] avikivity commented on #6294
Backported to 3.3, 4.0.

[2020-05-07 16:49] avikivity commented on #6123
Backported to 3.3, 4.0.

[2020-05-07 16:49] avikivity commented on #6202
Not-a-bug, not backporting.

[2020-05-07 16:56] #5956 closed

[2020-05-07 16:56] #4209 closed

[2020-05-07 16:56] #6275 closed

[2020-05-07 16:56] #6171 closed

[2020-05-07 17:31] jtnagashima commented on #6252
@asias quite the contrary, we actually never delete.

[2020-05-07 18:12] zooptwo commented on #6252
Asias, I might be able to take a snapshot of my table and send it to you.  it is a 3 node cluster in this case should be a fairly small table. I would guess under 1GB

[2020-05-07 19:08] fruch commented on #6348
exact same thing happen in one of alternator runs, the core dump took place during shutdown.

but after that it did managed to boot with this failure, Startup failed: std::out_of_range (attempted to read 4 bytes from a 0 byte buffer), seem like the commitlog too corrupted and failed reading them:

[code]
* https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-alternator-3h-tes

[2020-05-07 19:10] fruch commented on #6348
@slivne @bhalevy  we are seeing those coredump during shutdown while at fulldisk for a while now, but it's the first time I've noticed it doesn't boot after that with such failure.

[2020-05-07 20:22] kostja opened #6399 "lwt: coalesce multiple rounds for hot keys."
Currently if there are multiple LWT writes against the same key, they will queue up on a semaphore on the coordinator.
If the key is hot, its performance is limited by the latency of each Paxos round.
We should be able to take the entire queue of mutations against the key and execute it using a single Paxos ballot instead. In other words, we should be able to implement hot key batch updates withou

[2020-05-08 02:02] asias commented on #6252
OK. Do you have a lot of "updates"?

[2020-05-08 02:05] asias commented on #6252
That would be nice. It is easier if you send full content of /var/lib/scylla from all 3 nodes (I need the system tables. You can delete sstables of other user  tables and only  keep the problematic table).

[2020-05-08 05:49] zooptwo commented on #6252
If I take a snapshot of the system tables with the problem table is that ok?  Seems like it would be easier for me.

[2020-05-08 06:03] asias commented on #6252
OK. I will try. Please also send me the schema of the table.

cql > DESCRIBE KEYSPACE keyspace_contains_the_problematic_table

[2020-05-08 06:04] gleb-cloudius commented on #6399
On Thu, May 07, 2020 at 01:22:36PM -0700, Konstantin Osipov wrote:

This is not the only implementation issue. What if queries are
dependant? Prefetched data will not contain the up-ti-date data for a
transaction.

--
			Gleb.

[2020-05-08 07:06] kostja commented on #6399
@gleb-cloudius it seems to be a non-issue, after all - BATCHed LWT work just fine. The complexity it seems that when we deal with the queue we already deal with a bunch of read_command + cas_request objects, not with a single read_command + cas_request as we have from a batch. The implementation will need to build a single read_command + cas_request from a list.

[2020-05-08 07:10] denesb commented on #6040
On Thu, 2020-05-07 at 04:20 -0700, Michael Wohlwend wrote:

Michael, I don't remember whether we already asked this, but does using
'BYPASS CACHE' in the query change the result, i.e. are the lost rows
present when this is used?

[2020-05-08 07:23] gleb-cloudius commented on #6399
On Fri, May 08, 2020 at 12:06:28AM -0700, Konstantin Osipov wrote:

I do not see similarity to BATHes at all. A batch succeeds of fail as a
unit. Each individual request may succeed of fail independently and in
the case of failure it needs to return a value that caused the failure
and the value depends on it own read command (not combined one). Think
about two transactions one after the other:

[2020-05-08 07:35] Termite commented on #6040
I think this was not asked. I can check this, it requires a fresh import, which I can start today.

Cheers
 Michael

[2020-05-08 08:50] denesb commented on #6394
[code]
Looks like https://github.com/scylladb/scylla/issues/6296 to me.

[2020-05-08 09:29] aleksbykov commented on #4648
Got reproduction on latest scylla master:
**Scylla version 666.development-0.20200507.791acc7f3**
one node was decommissioned, new node was added to cluster. Log from new node:
[database.log](https://github.com/scylladb/scylla/files/4598182/database.log)

[code]

[2020-05-08 10:02] aleksbykov commented on #6296
@asias @denesb , could not reproduce on latest scylla 666.development-0.20200507.791acc7f3,
the reason, is that during decommission, stream is not used. Is it valid? and how i can enable it?

[2020-05-08 10:21] enaydanov opened #6402 "incorrect name for coredump mount systemd unit file"
**Installation details**

Scylla version (or git commit hash): 666.development-20200506.e813778bd1
OS (RHEL/CentOS/Ubuntu/AWS AMI): OEL7.6

**Description**

We have a [failure](https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-oel76/70/) of artifacts test because `scylla_coredump_setup` unable to load coredump mount unit file.

This happen on OEL only due to stricter syste

[2020-05-08 10:42] denesb commented on #6296
What do you mean by "stream is not used"? Note that repair based node operations were recently made disabled by default, then this was reverted. Perhaps this version has it disabled?

[2020-05-08 11:17] amnonh commented on #5468
I'm on it, but note that it depends on a commit to Seastar:
https://github.com/scylladb/seastar/commit/d28abee4afaaba9b16942da9d20c7df35b8a2ff2
That needs to be backported as well

[2020-05-08 12:01] denesb commented on #6394
We are not at the end of stream. The reader (queue reader) still has about 3 partitions in its buffer. The next fragment in line is a partition start. So we somehow inserted an extra partition end between two partitions into the stream.

[2020-05-08 12:52] denesb commented on #6394
[code]
This is a row-level repair process.
/cc @asias

[2020-05-08 14:33] tgrabiec commented on #4648
The fact that coordinators can contact replacing node early can lead to violation of consistency. The replacing node may not yet have all the writes its supposed to own.

This could theoretically violate linearizability of LWT.

[2020-05-08 14:59] tgrabiec opened #6403 "Identify nodes by UUID for coordination and messaging instead of IPs"
Scylla allows replacing a dead node with a node which has the same IP as the dead node.

During replace operation we don't want messages targeted to the old node to arrive to the new node. This could violate consistency invariants, as the new node may not yet be fully synchronized. Refs https://github.com/scylladb/scylla/issues/4648

At the same time, we do want some messages to arrive to the new

[2020-05-08 15:41] n-canter opened #6404 "Reactor stalled for * ms on shard *"
*Installation details*
Scylla version (or git commit hash): 3.0.10-0.20190815.b3bfd8c08
Cluster size: 3 nodes
CentOS 7

Scylla cluster worked for a couple of months, without any problems.
Recently, we've tried to enable collectd.
After the cluster restart one node out of three consumes more cpu and disk than the others and once in 30-60 minutes prints the following backtrace into the log:

[code]

[2020-05-08 16:03] kostja opened #6405 "lwt: remove separate ::query() round altogether"
While read round optimization was introduced initially as an optimization only, it's now clear we can always use it, and never do the query() round separately. This will simplify the code.
The fix is to stop ignoring the failing read future in paxos_state.cc, paxos_state::prepare() and fail the prepare if read fails. Then we can assert the digest is always there and remove the else {} branch handl

[2020-05-08 17:02] gleb-cloudius commented on #6405
The query() does read repair while the optimization only handles digest
match case. I do not see how the query round can be dropped.

--
			Gleb.

[2020-05-08 17:09] jtnagashima commented on #6252
We store quite a bit of time series data so we almost entirely perform inserts on our tables.

[2020-05-08 17:14] dorlaor commented on #6404
Could be that collectd stole the cpu time from one of the shards
(single core) and this slew down the entire node with various
queues getting full. You can pin collectd to core 0 which we usually
leave out for interrupts. Check your per core cpu consumption in
Linux top (core view).

Time to upgrade anyway from 3.0

On Fri, May 8, 2020 at 8:41 AM Max Shegai <notifications@github.com> wrote:

[2020-05-08 17:20] dorlaor commented on #6403
It's a good idea. Can you pls dig into C*'s JIRA to see if they
have such an enhancement request? Worth to contribute
such a request if one doesn't exist.

If this has effects on our configuration file, worth to plan it and
also have a compatibility/transition mode with IPs

On Fri, May 8, 2020 at 7:59 AM Tomasz Grabiec <notifications@github.com>
wrote:

[2020-05-08 18:34] kostja commented on #6405
I agree we need read repair, but we do not need to read the same data again to discover we need it. If digests mismatch, we can perform read-repair without an extra query.

[2020-05-08 23:43] dyasny commented on #6053
@slivne @glommer where do we stand with this at the moment? Any chance this will be resolved in an upcoming version?

[2020-05-08 23:45] glommer commented on #6053
yes, the work I am doing right now will fix this.
4.1 is my target

[2020-05-08 23:52] dyasny commented on #6053
Any chance we can have a rest handle to pause the compaction manager for a given amount of time?

[2020-05-08 23:52] dyasny commented on #6053
I mean sooner than 4.1 for the rest handle

[2020-05-08 23:54] glommer commented on #6053
there should be `nodetool stop`, although I have personally never used it and don't know how reliably it works

[2020-05-09 00:00] vladzcloudius commented on #6053
I think it would only stop the currently running compaction but won't prevent new ones from kicking in.

@dyasny You may also ask @glommer for a branch with a working version and work with a build from this branch till 4.1 is out.

[2020-05-09 00:02] dyasny commented on #6053
Or we can stick to inactive clusters support only, until the feature is implemented

[2020-05-09 00:03] glommer commented on #6053
You don't have to prevent new ones from kicking in. If you stop current compactions, the refresh process will be able to take the lock and proceed.

[2020-05-09 00:16] vladzcloudius commented on #6053
@dyasny Supporting live clusters is a requirement. We need to start with that.

[2020-05-09 01:30] vladzcloudius opened #6406 "Show the resharding progress"
*Installation details*
Scylla version: 1f902302ad8d26f9db8c0622b3bcc844f07d4517

*Description*
It would be great to see the current progress of resharding somehow:
  * It could be a message in the log, e.g. a part of the "Resharded" message that we have today.
  * Ideally it would be a part of the `nodetool comactionstats` output.

[2020-05-09 01:30] vladzcloudius commented on #6406
@glommer FYI

[2020-05-09 01:33] dorlaor commented on #6406
Good idea

On Fri, May 8, 2020 at 6:30 PM vladzcloudius <notifications@github.com>
wrote:

[2020-05-09 01:37] glommer commented on #6406
@vladzcloudius in my newest patch all resharding jobs are registered up front to the compaction manager so you could see them as pending tasks.

However as far as I remember nodetool does not work this early. I'll come up with something

[2020-05-09 01:39] raphaelsc commented on #6406
On Fri, May 8, 2020 at 10:30 PM vladzcloudius <notifications@github.com>
wrote:

problem is that the resharding jobs are serialized and relatively small,
meaning that user can't figure out from compactionstats output the actual
progress.

With Glauber's off strategy work, we'll be doing large resharding jobs
meaning it will be easier to understand how resharding is progressing.

[2020-05-09 01:41] raphaelsc commented on #6406
On Fri, May 8, 2020 at 10:37 PM Glauber Costa <notifications@github.com> wrote:

is it true across keyspaces / tables? cool.

[2020-05-09 02:10] Felix-zhoux opened #6407 "The Scylla monster ate your page!——"https://www.scylladb.com/download/centos_rpm/""
Hi, I found some of the pages were inaccessible, and I needed them to guide me through how to install Scylla. In particular, how do you install Scylla on systems that are difficult to solve with dependent packages.

[2020-05-09 05:48] dorlaor commented on #6407
Can you pls refresh your browser cache?
We've made some changes and the OSS release
is at: https://www.scylladb.com/download/#open-source

On Fri, May 8, 2020 at 7:10 PM Xiang Zhou <notifications@github.com> wrote:

[2020-05-09 05:50] gleb-cloudius commented on #6405
Read repair _requires_ extra query because it read the data from all the
nodes to repair, it is not possible to repair based on a digest alone. We may
skip a digest phase of the read, but honestly it is too minor of an
improvement in already slow case.

--
			Gleb.

[2020-05-09 17:13] gibsn opened #6409 "Permanent read/write fails after "bad_alloc""
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.4
Cluster size: 5+5 (multi DC)

[2020-05-09 17:25] gibsn opened #6410 "Can not restart scylla-server normally after "bad_alloc""
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.4
Cluster size: 5+5 (multi DC)

[2020-05-10 06:48] eliransin commented on #6040
@Termite just a quick update, @avikivity suggested to first follow your hunch and it seams to be true,
I inserted 6*10^9 rows of a simple table (only a bigint as a partition key) and records are missing
(counting partition keys with sstabledump gave me 17944355893 and it should have been 18000000000 (because of the RF=3 factor) which means lose of 18548036 records (not rows)
I will now try to repa

[2020-05-10 07:57] slivne commented on #6040
@Eliran Sinvani <eliransin@scylladb.com> did you do a nodetool flush ?

On Sun, May 10, 2020 at 9:49 AM Eliran Sinvani <notifications@github.com>
wrote:

[2020-05-10 08:01] avikivity commented on #6040
Good catch @slivne.

[2020-05-10 08:12] eliransin commented on #6040
@slivne no, I forgot :flushed: . I will do it after I finish the repair round.

[2020-05-10 08:18] veramine opened #6412 "Scylla 4.0 crash dropping materialized view with many large cells"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):  Scylla version 4.0.0-0.20200505.d

[2020-05-10 08:53] bentsi commented on #6332
@kostja are you aware of this?

[2020-05-10 09:04] nyh commented on #6412
Thanks. Strange (and bad...) that Scylla died with SIGABRT without any informative message in the logs about why. But the core dump can tell us which bare abort() call we hit, and why...

[2020-05-10 09:10] bhalevy opened #6413 "assert failed in remove_index_file_test: future_state_base::set_exception may be called in state::invalid from future_state_base::set_to_broken_promise"
See scylladb/seastar#746

After bypassing that assert and reproducing in debug mode, it appears that this was caused by e8213fb5c3fba3a2b5f12debe91729e956cbb85c
It looks `compaction_manager::stop()` is called twice and 2nd time around
`do_stop` returns immediately, leaving `_stop_future` disengaged.
[code]

Test passes with the following patch:
[code]

I'll re-test without the bypass of the assert

[2020-05-10 09:34] avikivity commented on #6413
@bhalevy better to let @glommer see if that's a correct fix. Not failing an assertion is not enough.

[2020-05-10 09:48] bhalevy commented on #6413
no problem.  I based this fix in part on @glommer's comment in this patch:
[code]

[2020-05-10 10:56] fgelcer commented on #4999
@juliayakovlev , we probably saw those, but now they are named_semaphore, so not sure I saw this specific one

[2020-05-10 11:22] juliayakovlev commented on #4999
@slivne  is ```named_semaphore``` the same or it's different issue?

[2020-05-10 11:56] eliransin commented on #6040
another update - after nodetool flush,repair and compact cycles on all of the nodes, I get a total of **18001099735** records which is slightly larger than the number of keys probably because of compaction method , no I will list the
actual keys and see if all appear (this is just the sequence of integer between 0 and 6*10^9-1.
/cc @slivne @avikivity

[2020-05-10 12:08] avikivity commented on #6040
Probably duplicate records. I recommend to use COPY FROM or something
similar instead.

On 10/05/2020 14.57, Eliran Sinvani wrote:

[2020-05-10 14:03] glommer commented on #6413
we had made the decision of chasing and killing double stops, so indeed
it's better if I figure out where this is coming from too.

I will look at this soon

On Sun, May 10, 2020 at 5:49 AM Benny Halevy <notifications@github.com>
wrote:

[2020-05-10 14:04] bhalevy commented on #6413
To reproduce, see https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/477/testReport/sstable_generation_loading_test/TestSSTableGenerationAndLoading/remove_index_file_test

[2020-05-10 14:48] avikivity commented on #1668
Downgrading, this only affects thrift which is rarely used these days.

[2020-05-10 15:09] avikivity commented on #6387
@penberg why is the bot re-adding the label?

[2020-05-10 15:12] slivne commented on #5459
@psarna to allow QA to test this is resolved which scenarion should they run.

- node replacing itself ?
- add/decommission node ?

[2020-05-10 15:14] avikivity commented on #6170
Backported to 3.3, 4.0.

[2020-05-10 15:14] slivne commented on #6394
@asias please take a look

[2020-05-10 16:06] slivne commented on #1745
if gc_grace_seconds/2 has passed force flush ...

[2020-05-10 16:11] slivne commented on #2577
@tgrabiec ping

[2020-05-10 16:17] slivne commented on #3156
@glommer lets cover this item on one of the calls

AFAIK cassandra extended this to include a specific value for getting a result

[2020-05-10 16:20] avikivity commented on #3261
@tgrabiec is this a real problem? All our allocations are lsa eligible, so how can this happen?

[2020-05-10 16:28] slivne commented on #4815
Moving to tablets should solve this.

Pushing this out till we have that

[2020-05-10 16:37] psarna commented on #5459
@slivne I simply reran add_dc_during_mv_insert_test with additional manual assertions. I think that rerunning add_dc_during_mv_insert_test with the fix applied will be enough to provide more context - if no `broken_promise` errors appear, it's likely that the issue was caused by duplicated entries. If broken promises still appear, then the duplication was probably not the root cause (or at least n

[2020-05-10 17:46] slivne commented on #4981
@fruch / @roydahan - without MV's can you please rerun the test and provide the info if this is solved - if so great and lets close this.

If there is still a throughput drop that is more than 10% but less than 20% please close this issue (after all 90% drop is fixed :) ) and open a new one and we will check that out as well.

[2020-05-10 17:55] slivne commented on #6069
@vladzcloudius we can do that (https://github.com/scylladb/scylla/issues/6069#issuecomment-623647308) - but than we will not have any way to know if this is the issue the user hit or not. For future cases lets take a snapshot of the metrics to make sure we tackle the issue the user had and not something else.

[2020-05-10 17:56] slivne commented on #6069
@roydahan  lets run the mv tests with hintted handoff enabled and see what we get.

[2020-05-10 18:01] slivne commented on #4712
While the fix improved the performance - rethinking what we are doing here I still think we may have an issue here - we are replacing a node - so we are streaming information from other nodes (and will also replay the hints - which seems like we are doing double writes).

This is especially true when repair based operations are done - which effectivly repair between all the live replicas - so why

[2020-05-10 18:02] slivne commented on #4981
looking at https://github.com/scylladb/scylla/issues/4712#issuecomment-626365652 I think we may still need to fix something

[2020-05-10 18:11] tzach commented on #1825
@asias can we close this? Repair based node operations are part of 4.0 (disabled by default) and enabled by default in 4.1

I assume the initial motivation was to give a better time and size (in bytes) estimation for the streaming progress.
How is this handled with Repair based node operations?

[2020-05-10 19:04] gibsn commented on #6409
Same problem on another node today

[2020-05-10 20:30] bentsi opened #6414 "flat_mutation_reader: stream ended with unclosed partition, followed by coredump"
*Installation details*
Scylla version (or git commit hash):  `4.0.0-0.20200505.d95aa77b62` with build-id c9cf14d33523aca01a1ba502a91eb9d400de9c34
Cluster size: 6 (multidc, 3 nodes in each region)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0ad095d521c760c3f ami-09ae7080d6e842625` [eu-west-1 us-east-1 ]

Possibly related to #6394

RebuildStreamingErr nemesis on node alternator-3h-multidc-alternat-db-node

[2020-05-10 20:48] kostja commented on #6332
Well, Evgeniy mentioned earlier he hit a crash, I wasn't aware of the specifics. Will take a look.

[2020-05-10 21:49] kostja commented on #6258
There is no lost+found in MySQL. Commit log replay failure leads to panic/abort. I don't know why, I'm not aware it was ever needed.  Maybe because the mere possibility of having corrupt entries undermines C in ACID. Please note that MySQL doesn't have the concept of data repair as is defined in Cassandra, and doesn't allow a physical import of data produced by another database.

[2020-05-10 22:41] roydahan commented on #6069
@juliayakovlev is already on it.

[2020-05-11 01:43] asias commented on #6296
I guess "stream is not used" == "stream plan is not used". In 4.0 we still use the old stream plan based node operations by default. In 4.1 and current master, we use repair based node operations by default.

Either stream plan based or repair based, both of them use the multishard writer.

Although you original issue was produced with "stream plan based node operations", I would recommend retest

[2020-05-11 05:20] eliransin commented on #6040
I realized that I didn't specified how did I insert the data so here it is:
I used this super simple insert program (a python script):
[data_inserter.txt](https://github.com/scylladb/scylla/files/4607631/data_inserter.txt)
I ran it on 4 loaders with 200 threads with 4 ranges (0-1500000000,1500000000-3000000000,
3000000000-4500000000,4500000000-6000000000)
The last line for all runs reported a succ

[2020-05-11 07:02] slivne commented on #5629
@mxx we would be happy to solve this if you can help and upload the coredumps, once done - comment and we will reopen.

closing the issue as its stale

[2020-05-11 07:02] #5629 closed

[2020-05-11 07:05] slivne commented on #5932
@avikivity ping

[2020-05-11 07:07] avikivity opened #6418 "Reads of large twcs partitions scan many sstables in parallel"
Consider this query for a TWCS table:

    SELECT * FROM tab
    WHERE pk = :pk AND ck > :lower

Currently, we will read from all sstables in all time windows, assuming we the partition exists for every time window. This is expensive - we'll read an index block at least for every sstables. But usually data will only come from a single sstable, since each ck range in confined to a window. Once in a

[2020-05-11 07:08] avikivity commented on #6418
/cc @haaawk @denesb

[2020-05-11 07:08] veramine opened #6419 "Scylla 4.0 crash truncating system.large_rows"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):  Scylla version 4.0.0-0.20200505.d

[2020-05-11 07:08] slivne commented on #5963
@roydahan can we internode_compression to the rolling upgrades to make sure we cover this as well.

[2020-05-11 07:08] avikivity commented on #6418
@slivne this is needed for large partition TWCS, esp. CDC

[2020-05-11 07:09] slivne commented on #5963
fixed by scylladb/scylla@bf2ab10b6a1b448c38129cb747c8985e95465dc8

[2020-05-11 07:09] #5963 closed

[2020-05-11 07:10] slivne commented on #5963
The fix will be part of 4.1 - backporting to older releases will follow

[2020-05-11 07:11] slivne commented on #6205
#5963 fixed

[2020-05-11 07:11] #6205 closed

[2020-05-11 07:14] denesb commented on #6296
@asias the validation happens *only* on the sstable write path.

[2020-05-11 07:14] slivne commented on #6017
thanks

@ycui1984

can you please try the following

[code]

and report if this solved the issue  - attempting to workaround

[2020-05-11 07:16] slivne commented on #6029
@asimshankar ping - can you share the info requested in https://github.com/scylladb/scylla/issues/6029#issuecomment-619447714

[2020-05-11 07:18] slivne commented on #6064
@dongyujun if you still have an issue and can share more info requested we would be happy to help

I am closing this issue as its stale

[2020-05-11 07:18] #6064 closed

[2020-05-11 07:19] slivne commented on #6085
seems to be related to #6017 - closing this till we resolve #6017

[2020-05-11 07:19] #6085 closed

[2020-05-11 07:19] kostja commented on #6233
Addressing each specific workload which leads to watering down the cache will lead to fragmentation of the fix for the problem. Normally this is handled by splitting the cache to warm and hot zones, so that the hot zone is never affected by sweeping scans.

[2020-05-11 07:19] slivne commented on #6089
seems to be related to #6017 - closing this till we fix #6017

[2020-05-11 07:19] #6089 closed

[2020-05-11 07:26] slivne commented on #6075
@juliayakovlev it seems this was done during some kind of repair - I don;t think its related to compactions (at least not according to the backtrace)

@asias - please have a look, if its not an infra issue it may be a large row / large partition.

[2020-05-11 07:29] asias commented on #6296
Thanks. I updated my previous comments to avoid confusing. It makes more sense now.

[2020-05-11 07:31] kostja commented on #6375
https://issues.apache.org/jira/browse/CASSANDRA-13508 is for configurable compaction strategy of system.paxos in upstream, patch provided, not committed.

[2020-05-11 07:31] slivne commented on #6196
why wouldn't nodetool cleanup make progress - its a scanning read over a single sstable, the only cause could be something else holding read resources (or we have a resource leak)

@bhalevy assigning to your team

[2020-05-11 07:35] denesb commented on #6418
Refs: https://github.com/scylladb/scylla/issues/5124

[2020-05-11 07:35] kostja commented on #6403
Do you suggest UUIDs are specified by the user or created transparently to the user by Scylla? In the latter case, how do you suggest obsolete UUIDs are expired?

[2020-05-11 07:37] denesb commented on #6418
A very similar idea was discussed and ultimately deemed as not worth doing in the above issue, although in a more general context. @avikivity do you intend to employ this optimization only for TWCS tables, similarly how the existing incremental selector is only used for LCS?

[2020-05-11 07:40] slivne commented on #6141
Ok closing this issue

[2020-05-11 07:40] #6141 closed

[2020-05-11 07:45] avikivity commented on #6418
Looks like this is a duplicate of #5124. Nothing changed, we just under-estimated the importance. TWCS will often see partitions that extend across all time windows.

This optimization can't help anything other than TWCS, because for other compaction strategies, the clustering keys will be evenly spread out among all sstables as compation mixes them up. In fact maybe we shouldn't even collect the

[2020-05-11 07:48] avikivity commented on #4042
Note that to fix this we must move to `md` format, since `mc` format sstables are generated with incorrect clustering key extremums.

[2020-05-11 07:56] gleb-cloudius commented on #4648
So why was it contacted? Was it declared as UP to early? Also the errors seams to be about writes. Writing into a bootstrapping node is normal.

[2020-05-11 07:59] avikivity opened #6420 "128k sstable buffer size is sub-optimal"
Our 128k sstable buffer size tries to minimize seeks (or, for SSDs, read operations) in order to increase efficiency. However it can be suboptimal:

 - for spinning disks, a larger buffer is needed because a seek is equivalent to several megabytes' worrh of reads
 - some SSDs have low overhead for reads, and can therefore tolerate smaller buffer sizes without a performance degradation

We can try

[2020-05-11 07:59] denesb commented on #6141
@slivne there is new development since I wrote the above commit: https://github.com/scylladb/scylla/issues/6108#issuecomment-619981787. It turns out we *can* have fragmented keys in memtables/cache, so it might be worth looking into this.

[2020-05-11 08:00] avikivity commented on #6420
Note that the on-disk cache may make this unnecessary. If the HDD reads ahead and caches, then the next sequential 128k read may be served from the cache. More testing is needed.

[2020-05-11 08:05] asias commented on #6394
some clarification: according to the log, when node1 and node2 had the abort, node 9 already finished the the replace operation. So, the issue was a pure repair issue. It had nothing to do with bootstrap or replace.

[2020-05-11 08:30] asias commented on #6075
The big allocation is from

[code]

It complains the std::unordered_set tried to allocate 2052096 bytes.  The std::unordered_set stores the row hashes, so it should not be a large row / partition issue.

[2020-05-11 08:36] avikivity commented on #1427
Fixed by #1935 solution.

[2020-05-11 08:36] #1427 closed

[2020-05-11 08:37] avikivity commented on #6418
@piodul note that this has a hard dependency on #4042. Implementation details can be found in #1935 commits and @denesb mind.

[2020-05-11 08:43] nyh opened #6421 "alternator: improve error message in case of forbid_rmw forbidden write"
One of the _write isolation policies_ we support (see `docs/alternator/alternator.md`) is `forbid_rmw`, which forbids writes which require a prior read (e.g., conditional updates).
In `alternator/executor.cc` we have:
[code]
The message is correct, but could have been more helpful to non-expert users. Instead of "not supported" we should say that it is not allowed because of the `forbid_rmw` setti

[2020-05-11 08:45] eliransin commented on #6040
So far I found 2 distinct problems (from my first insert):
1. An entirely missing record.
2.  I found 1 record which probably wasn't present on all replicas,because it wasn't found with the default consistency (ONE) but was present with CL=ALL. It doesn't make sense since I ran repair on all of the nodes.

I am going to do the second insert now with COPY UTIL.
This one is going to be with CL=ONE.

[2020-05-11 08:50] eliransin commented on #6040
@Termite another question (which might have been asked already). What consistency level did you use in the imports and what consistency level did you use for the check (of the first 1000000 rows)?

[2020-05-11 08:53] asias commented on #6394
@aleksbykov Can you share the cmd used to generate `keyspace=keyspace_zstd, table=standard1` and the schema?

[2020-05-11 09:00] avikivity commented on #4042
Increasing priority since TWCS is important for CDC.

[2020-05-11 09:01] Termite commented on #6040
Thanks for making this test.
Yes, we have complete error logging and retrying logic in the java code.
The go script I attached also logs errors.

Consistency is allways quorum.

Did you check the go script I uploaded last week and the test I ran?
See https://github.com/scylladb/scylla/issues/6040#issuecomment-625193557

There you can see the quorum setting in the connect function.
I descriped my t

[2020-05-11 09:29] tgrabiec commented on #3261
@avikivity Allocation requests larger than `max_managed_object_size` are non-LSA-eligible. When you say "all our allocations are lsa eligible" do you mean that no allocation request is supposed to be larger than `max_managed_object_size`? If that's the case, then we should change LSA to reject such allocations. This bug indicates that we may be handling those incorrectly.

[2020-05-11 09:30] piodul opened #6422 "hinted handoff: commitlog positions are not removed from rps_set for expired hints"
When sending hints from a single file, we keep track of commitlog positions of hints that are being sent at the moment, and remove them when respective hints are sent successfully. If a hint fails to be sent, we leave it in rps_set. If sending of some hints fail, then we will retry sending hints from that file later, and we will use the lowest commitlog position from rps_set as a starting point.

[2020-05-11 09:35] avikivity commented on #3261
I think that's the case, all our allocations are lsa eligible. Blobs are broken up via managed_bytes. `::row` switches from vector to binary tree representation when the row size is above max_vector_size (32). Is there anything else that is variable size and linear?

[2020-05-11 09:50] aleksbykov commented on #6394
@asias found command
[code]

[2020-05-11 09:50] tgrabiec commented on #4648
@aleksbykov In your case, the scenario is a bit different. 172.30.0.151 was first bootstrapped as a seed, then restarted. It looks like when it was down, its data directory was cleared, is that correct? Then after it booted, it was rebuilt (there is ` repair - rebuild_with_repair:` in the logs).

In this case, it's expected that coordinator will contact this node, and you're only exposed to the sc

[2020-05-11 09:50] aleksbykov commented on #6394
and schema from log:
[code]

[2020-05-11 09:51] aleksbykov commented on #6394
i think it is standard keyspace schema for c-s

[2020-05-11 09:55] avikivity commented on #3261
btw, since our segments are now 256k, max_managed_object_size is 25k.

I suggest to add a warning on lsa-ineligible allocations now, and to remove the facility in a few months.

[2020-05-11 10:00] avikivity commented on #4712
I guess that's true. If we're starting to repair a node, we can clear any pending hints (in either directions).

On the other hand, sending hints is cheaper than repair. Maybe repair should start by sending all the pending hints.

[2020-05-11 10:04] tgrabiec commented on #6403
@kostja Transparently. We already assign such IDs (see `system_keyspace::get_local_host_id()`).

By expiring, do you mean garbage collecting unused ID->IP mappings? We only need to track IDs which are present in the ring (token_metadata), only those will be contacted by coordinators. We already persist this mapping in system tables. When a node is removed from the ring, the mapping goes away.

The

[2020-05-11 10:43] psarna commented on #6361
Given that CreateTable is (or at least should be) a rare operation, the easiest fix would be to make it wait for schema agreement before returning to the client. True, it already waits longer than DynamoDB does, but waiting for schema agreement should be the same order of magnitude as creating an announcing a new table. I'd rather do that than move the waiting to DescribeTable - especially that dr

[2020-05-11 10:50] eliransin opened #6423 "Explicitly prevent or allow administrative operations during rolling upgrade"
The Scylla upgrade manual has a part that states:
[code]
This is too vague, we should explicitly either allow or prevent the relevant administrative operations or vice versa.

[2020-05-11 11:12] #6098 closed

[2020-05-11 11:12] #6328 closed

[2020-05-11 11:12] #6413 closed

[2020-05-11 11:12] #6146 closed

[2020-05-11 11:18] nyh commented on #6361
@psarna I have a stupid question: What does "wait for schema agreement" do when one of the nodes is down? Do we know that when a node comes up and it missed a "wait for schema agreement" event, it will pull the new schema before starting to serve requests (via RPC, not just CQL)?

[2020-05-11 11:25] avikivity commented on #5137
closing as duplicate of #2577.

[2020-05-11 11:25] #5137 closed

[2020-05-11 11:26] avikivity commented on #6098
It fixed the direct cause, but it can still happen on another table.

I see it is a duplicate of #2577. And indeed the title says that a property was changed.

[2020-05-11 11:30] avikivity opened #6425 "Small schema changes can cause large disturbances"
A schema change has an effect on the cache, on readers (since they need to perform a schema change) and perhaps many other components. Some changes are innocuous (like chancing the table comment) and yet cause a those large effects.

[2020-05-11 11:32] psarna commented on #6361
I'm pretty sure a node will ensure having schema agreement during startup before enabling client protocols, but I don't have any immediate lines to copy and prove my point. I'll try to refresh my knowledge in this area and find the relevant lines, unless somebody more fluent in schemas has the answer ready - if so, please help :)

[2020-05-11 11:33] avikivity commented on #6425
This can be improved by splitting the schema into three nested components: `primary_key_schema` that describes only the primary key, and can never change, `storage_schema`, which adds non-primary-key columns to `primary_key_schema`, and `schema`, which adds everything else to `storage_schema`. We can then have each component use the smallest schema component it needs, for example comparators can u

[2020-05-11 11:34] avikivity commented on #2577
Adding keywords for issue search: `upgrade` `upgrade_entry`

[2020-05-11 11:36] avikivity commented on #2577
#6425 outlines a simpler fix that has narrower scope (still this issue shoud be fixed)

[2020-05-11 11:39] psarna commented on #6340
It can theoretically create a confusing error, if an old keyspace with identical name we automatically created somehow still exists, and now the user tries to create a table with the same name - the error would say that the table already exists, but DescribeTable will insist that it doesn't :) But I guess that this error is rare, and mentioning "keyspaces" in an environment that doesn't know what

[2020-05-11 11:47] glommer commented on #5226
I think resharding has to be a separate step, and after that we go and compact.

It may be more efficient to do it all at the same time, but there are disadvantages too. For instance, in my TWCS series at first the interposer would work nested and we'd both reshard and separate things in time buckets at the same time.

We calculated, however, that in thread stacks alone the memory usage could reac

[2020-05-11 11:50] nyh commented on #6361
Note that "before enabling client protocols" is a big can of worms. With Alternator, even if a node isn't answering the Alternator protocol it can be reached when some random node receives a request and decides to send the request (via RPC, not a client protocol!) to this booting node. I suspected (but never proved) that #6359 was something like this - a node being listed on the ring, and acceptin

[2020-05-11 11:51] aleksbykov commented on #6296
@asias , i have finally found how to reproduce the issue. But now i got another error:
[code]
Should i open a new issue or update this one?
If you need nodes, they are alive now and i can provide access to them

[2020-05-11 11:54] Termite commented on #6040
I just checked the import where I used "bypass cache" to constantly verify the first million rows.
This has indeed an effect, there are now a lot of rows missing, which was not the case without bypass cache.
I suggest to use my go script to make the check again. Also, the use case of a DB  is "insert", then "select" to get the data.  sstabledump or other methods might deliver other results, but th

[2020-05-11 11:55] ShlomiBalalis commented on #6354
@slivne It happens during the the setup, so I doubt that it happens at this point of the test. How can we validate this?
I encountered the error again in the latest ubuntu 16 rolling upgrade
Logs:
[code]

[2020-05-11 11:56] avikivity commented on #5226
Running a major compaction (still in offline mode) if resharding violates the compaction strategy invariants sounds like a good solution to me. Note we should check before running that major compaction, since N->2N resharding will not break the invariants.

[2020-05-11 12:00] glommer commented on #4712
The problem is that as far as I know hints are stored unconditionally on past hints: it is possible to have 100 hints for 100 overwrites to the same key, or hints for data that is not valid anymore.

Another issue is that if you want to replay all hints, depending on load conditions you can generate more hints in the process: as the load increases with the hint replay, you may generate more. There

[2020-05-11 12:01] glommer commented on #5226
Of course we will test it.

For instance, in the upload directory, we want to guarantee resharding and we want to guarantee in-strategy, but I still want the common case of a backup restore to the same cluster to work instantly essentially with hard links only.

To make that happen we must have an in-strategy test. If it so happens that we pass the test, great.
But otherwise we'll just reshape the

[2020-05-11 12:03] denesb commented on #6296
@aleksbykov I think it is the same issue, except now instead of an extra partition end fragment, we are missing one. I think the underlying bug will be the same.

[2020-05-11 12:04] aleksbykov commented on #6296
@denesb what info you will need?

[2020-05-11 12:09] haaawk commented on #2454
Some previous work was posted here: https://groups.google.com/forum/#!searchin/scylladb-dev/benoit$20canet|sort:date/scylladb-dev/cIsnyG-9zcY/w_9iN1uoAQAJ

[2020-05-11 12:14] denesb commented on #6296
@aleksbykov please describe how you reproduced the issue.

[2020-05-11 12:42] asias commented on #6296
I probably found the root cause. A reliable reproducer would be nice. I
will dig more tomorrow.

On Mon, May 11, 2020, 20:14 Botond Dénes <notifications@github.com> wrote:

[2020-05-11 13:41] nyh commented on #6340
This is true. The safest thing we could do is, if keyspace creation failed because it already exists, we could proceed to try to create the table (and likely fail that too). This will slow down the already-exists case, but will ensure the possibility you described won't happen.

[2020-05-11 13:56] glommer commented on #6413
Ok, FYI @avikivity this one seems to be like the gossip one. Not double stop(), but a call to stop() before `start()`

It's becoming increasingly clear that the fact that we conflate `stop` with `enabled` is problematic and that surfaced as feeedback in the offstrategy series as well.

So I'll just rip off the bandaid and handle this right now

[2020-05-11 13:57] glommer commented on #6413
Also the reason for this stop-before-start seems harder to work around anyway: it's just an exception that happens before the point in time in which we've called start.

[2020-05-11 13:57] aleksbykov commented on #6296
Using same steps to reproduce, got similar issue.
Steps:
1. cluster with scylla version 666.development-0.20200508.7da949026 with build-id 925fd58128b4bdeeed981d1fbb16e0cbe1e3d195 consists from 3 nodes.
2. After cluster is up, same gemini command with same schema:
[code]

In 40 minutes of gemini tool run. On node-3 was started decommission process:
[code]
In the middle of the decommissioning the n

[2020-05-11 14:04] psarna commented on #6340
I'd prefer to leave this fix as. The reason is that when we end up in a situation that an arbitrary keyspace X exists, but its table X doesn't, we probably don't want the `CreateTable X` request to succeed - we'd have no control over the replication strategy, since it will use the old one, whatever it was. In this case I think it's better to just fail the creation and wait for the support team to

[2020-05-11 14:05] gibsn commented on #6409
same problem, the third node. we have 10 nodes, and so fat first, second and third have been affected. I think I know what is gonna happen tomorrow

[2020-05-11 14:11] nyh commented on #6340
But the only reason for this situation to happen (except if someone maliciously used CQL :-)) is for the non-atomic creation to half-succeed - maybe creating a keyspace failed and then the node crashed or something happened and the create table failed. If this happens, the cluster becomes unusable.
If we want to be really pedantic we can check if the keyspace that already exists has the right prop

[2020-05-11 14:18] juliayakovlev commented on #5808
@slivne  was this fix backported to 4.0? Because of I receive it with ```4.0.rc3-0.20200501.eee4c00e29``` version

[2020-05-11 14:39] psarna commented on #6340
Hm, true, it could be useful to be able to do this hack. I'll create another patch which ignores the fact that a keyspace already exists and continues to try to create a table.

[2020-05-11 14:52] slivne commented on #6231
@nyh can we close this ?

[2020-05-11 14:53] nyh commented on #4940
Hi @vladzcloudius I don't understand how it's related or opposite to #5130. The issue #5130 is about when do we start thinking about sending an update to the paired view replica - do we do it before or after writing the base table update locally. But the question in **this** issue is when we do want to send to the view replica - do we do it immediately (and potentially, do a huge number of them in

[2020-05-11 14:56] slivne commented on #6254
@rahultaing if you hit this again, it would help to get a coredump https://docs.scylladb.com/troubleshooting/report_scylla_problem/#core-dump

[2020-05-11 14:57] slivne commented on #6256
I am closing this as #6141 was closed as well

[2020-05-11 14:57] #6256 closed

[2020-05-11 15:02] nyh commented on #6231
I still don't understand exactly the goal of this issue or the patch, but I don't know what to suggest either, so I'll re-close it.

[2020-05-11 15:02] #6231 closed

[2020-05-11 15:23] roydahan commented on #6402
@syuu1228 FYI

[2020-05-11 15:56] slivne commented on #6262
@asias did we hit this issue in testing / customer issue - if so can you share more info on how

[2020-05-11 16:32] tgrabiec opened #6428 "Scylla becomes unavailable when overloaded"
The load on the system refers to the amount of the active requests in the system. As the load increases, we go through the following phases:
1) system resources (CPU, disk) are underutilized. All requests complete with a low latency
2) system becomes fully utilized. All requests complete but residence time starts to increase
3) residence time reaches timeout, requests start to time-out

Requests u

[2020-05-11 17:04] slivne commented on #6245
@mmatczuk the config is exposed - can't you fetch the info from that ?

[2020-05-11 17:08] slivne commented on #6263
@haaawk ping

[2020-05-11 17:20] slivne commented on #6269
Lets check if this is an overloaded case or not

[2020-05-11 17:27] slivne commented on #6297
@amnonh any idea ?

[2020-05-11 17:32] fgelcer commented on #5808
nope, this commit isn't in branch-4.0

[2020-05-11 17:41] slivne commented on #6308
@edisonqkj

- Your table has ```default_time_to_live = 1000, gc_grace_seconds=0```, was this set prior to any insert or after some inserts have been done ?
  - If this was set after there were some inserts those inserts will use the old value (given you did not specify ```using ttl```)
  - This setting are only applicable for inserts done after default_time_to_live, gc_grace_seconds were set.

So,

[2020-05-11 17:44] slivne commented on #6317
@gjaldon ping can you please follow tgabriec request https://github.com/scylladb/scylla/issues/6317#issuecomment-621446124 and provide the additional info so we can try and resolve this

[2020-05-11 17:47] slivne commented on #6324
@ajankovic can you please upload the logs https://docs.scylladb.com/troubleshooting/report_scylla_problem/#send-files-to-scylladb-support

[2020-05-11 17:48] slivne commented on #6329
@amnonh fixed this on the monitoring end - I think the fix is reasonable - we can close this for now in my view

[2020-05-11 19:28] dekimir opened #6429 "Materialized view replica updates use random timestamps"
There likely exists a race condition in MV replica updates; it stems from evaluating MV filters at timestamps not directly related to the underlying base operation.  I don't know how exactly it can be triggered or what its observable consequences may be; I am just reporting my source analysis here at @psarna's advice.

The method [`table::do_push_view_replica_updates()`](https://sourcegraph.com/gi

[2020-05-11 19:53] slivne commented on #6353
@nyh ^^ do we have an issue for this ?

[2020-05-11 20:04] slivne commented on #6354
you have in the log messages

[code]

checking node-1

[code]

so the node 10.142.0.63 finished streaming at "12:18:54"

and the node

[code]

committed suicide at " 12:18:53"

So it seems correct

It seems to me you start all the nodes at the same time and then sometimes it succeeds because of retries sometimes it doesn't.

Can you check it on your end.

@roydahan / @amoskong was this changed ? p

[2020-05-11 20:22] roydahan commented on #6354
@slivne this is on GCE and nothing has changed on our side for starting the cluster.

[2020-05-11 20:27] fruch commented on #6354
rolling upgrade tests are working only on GCE, and we are using RPMs, so AMI isn't the blame (not this time ;))

also this failure is a the install of 3.3.1, before most of the sequence of the test, and as far as I know we didn't radially change the sequence.

we are running the initial setup in parallel, but each node starts 30sec later, it's like as long as I can remember...
https://github.com/s

[2020-05-11 20:36] amnonh commented on #6297
My guess is:
`static std::vector<ss::token_range> describe_ring(const sstring& keyspace) {`
for some reason the vector becomes too big.

To solve that (and potential stalls that can follow) the code should be replaced with a streaming reply and using futures.

[2020-05-11 21:02] #6422 closed

[2020-05-11 21:02] #6311 closed

[2020-05-11 21:02] #6340 closed

[2020-05-11 22:15] dorlaor commented on #6428
LIFO/FIFO is a private case of load shedding.
See the AWS builder library article:
https://aws.amazon.com/builders-library/using-load-shedding-to-avoid-overload/

They define the notion of goodput - it's the throughput of operations
that are successful, vs general throughput that some of it will fail.

There is also a good discussion about which requests should we fail.
For example, if we already

[2020-05-11 23:56] vladzcloudius commented on #4940
@nyh You are probably right. I don't remember what I had in mind 3 months ago.
When I read it now it indeed seems orthogonal.

[2020-05-12 00:03] vladzcloudius commented on #4712
I also agree with @slivne on this.

[2020-05-12 00:05] vladzcloudius commented on #6069
@slivne
I agree and we usually do that.
However in this user case when I asked for a snapshot metrics have already got expired and gone.

[2020-05-12 00:50] glommer commented on #5189
@slivne reasoning for removing the high label? I consider this high priority.

[2020-05-12 00:58] dorlaor commented on #6409
It's probably due to your wide partitions, the largest one is ~400MB size.
The subsequent queries fail since some need answers from tokens
on the busy shard and their requests get queued too.
We have a gradual improvement of our memory allocators so maybe things
will be slightly better with 4.0

Other than better data modeling, you can increase the ram or reduce the
amount of cores (run -smp 20),

[2020-05-12 06:35] tzach commented on #1825
@asias ping

[2020-05-12 07:00] asias commented on #1825
Yes, I think we can close it now. We will not work on the estimation for the old stream plan.

With repair based node operations, we estimate the progress with the percentage of ranges finished.

[2020-05-12 07:17] eliransin commented on #6040
Sorry @Termite I must have missed it. I will make sure to run your test when I finish mine (if we don't find the problem now)
Thank you for taking the time to help us with debugging this issue :pray:  , we don't take your efforts for granted and we are very serious about getting this solved.

[2020-05-12 07:23] mmatczuk commented on #6245
We want to know what Scylla runtime thinks is the max nr. of ranges in parallel (per shard) it can do.
This is a function of max_repair_memory, maybe the code could be ported but we agreed with @asias to expose the runtime value as a metric.

https://github.com/scylladb/scylla/blob/d78fbf7c1677a6d30d9f4c24796147c45b582871/repair/repair.cc#L225

Can you point me to the exposed config I failed to fi

[2020-05-12 08:39] tzach commented on #1825
Thanks @asias can you please response here as well: https://github.com/scylladb/scylla-monitoring/issues/921

[2020-05-12 08:39] #1825 closed

[2020-05-12 08:46] asias commented on #1825
done

[2020-05-12 08:50] amoskong commented on #6354
Currently we start the seeds firstly, then start other non-seed nodes `in parallel`.
It's not recommended, we should start the non-seed nodes one by one to avoid this issue.

[2020-05-12 08:51] asias commented on #6394
Patch posted: https://github.com/scylladb/scylla/pull/6431

[2020-05-12 08:51] asias commented on #6296
Patch posted: https://github.com/scylladb/scylla/pull/6431

[2020-05-12 08:52] asias commented on #6414
Patch posted: https://github.com/scylladb/scylla/pull/6431

[2020-05-12 08:54] gleb-cloudius commented on #6257
Can we reproduce this with a version that includes
d555fb60d73c2f5efe6df66b7bbfa13065a17f49?

--
			Gleb.

[2020-05-12 09:36] roydahan commented on #6354
Why did it start happening on 3.3?
What has changed?

[2020-05-12 09:40] gibsn commented on #6409
@dorlaor thanks for reply

Maximum partition size has been constant for 6 months since we manually rate limit it. And this problem showed itself only now on 3.2.4 on different nodes. I can also see another similiar issue (#6254) on 3.2.4.

So after the big query fails and the queue is drained everything should be normal again? In our case it did not until a manual restart.

Can I somehow check wha

[2020-05-12 09:48] avikivity commented on #6409
There are memory metrics in the dashboard. The important ones are LSA memory and non-LSA memory. LSA memory is used for memtables/cache, non-LSA is used for transient allocations (requests) and metadata.

Please share that dashboard (per-shard). If possible please upload your metrics database.

[2020-05-12 09:51] avikivity commented on #6409
Please also post `nodetool cfstats`.

[2020-05-12 09:56] psarna commented on #6429
It looks like bfb8a3c was more about ensuring that we keep a schema version corresponding to the update, in case somebody updates the schema in the middle of view update generation. The original source of allowing reads with a timestamp is here: 7be0f319d4 , and I think that it's not as much about using user-provided timestamps as I previously thought, but simply as a way of checking if the cells

[2020-05-12 10:25] amoskong opened #6432 "scylla_setup failed on oel7: unit var-lib-systemd-coredump.mount not found"
*Installation details*
Scylla version (or git commit hash): scylla-4.1.rc0-0.20200511.0760107b9fa.x86_64.rpm
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): OEL7
Base AMI used for artifact-test: ami_id_db_scylla: 'ami-0d6a24fe35fdf5dc4' (eu-west-1)

This problem doesn't exist with CentOS7:
- PASSed: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/artifacts/job/artifacts-centos7/2/

[2020-05-12 10:30] denesb commented on #6428
If a query is close to timeout or already timed out there is no point in investing any more work on it even if it is 99% done. Timeout means that the coordinator and conversely the client have given up on the request and the results will be simply dropped.

[2020-05-12 10:30] amnonh commented on #5468
@avikivity I have a backport for 3.3, note my previous comment about seastar backport.

Do you prefer I'll email it or send a PR for 3.3 branch?

[2020-05-12 10:36] mmatczuk commented on #5707
It works with manager because manager comes with a workaround.

[2020-05-12 10:38] tgrabiec commented on #2577
Currently, each partition entry has a chain of incremental versions (mutations). New versions are created when we try to add mutation on top of a snapshot. Snapshots are pointers to versions. When a snapshot is released, we try to merge versions on the spot. If merging is preempted, it will move to background. See `mutation_cleaner::merge_and_destroy(partition_snapshot&)`. Version merging happens

[2020-05-12 10:49] n-canter commented on #6404
Looks like, when reactor stalls, one of the cores goes up to 100% usage.
Thank you, we'll definitely try to upgrade to 3.3. If the problem stays after the upgrade we'll try to pin collectd to core 0.

[2020-05-12 10:49] #6404 closed

[2020-05-12 10:55] tgrabiec commented on #2577
The above solution means that we will pay the cost of moving row entries between row trees during schema upgrade. Maybe that's acceptable. If we wanted to avoid that, we could improve the solution to allow a single partition version to be divided into two regions corresponding to the old and the new schema. We'd have:
[code]

`partition_snapshot_row_cursor` would have to be told to recognize this.

[2020-05-12 12:49] piodul opened #6433 "hinted handoff: commitlog positions are not removed from rps_set for discarded hints"
This issue is similar to https://github.com/scylladb/scylla/issues/6422

In sender::send_one_hint(), if an exception occurs after hint position is inserted to rps_set but before sender::send_one_mutation() is called, then the error will be ignored and the hint will be discarded.

In this case, commitlog position of the hint won't be removed, although it should. rps_set should only retain positions

[2020-05-12 14:17] dekimir commented on #6429
But then why doesn't regular filtering perform the same check? How are dead
cells different from live ones in the fetched data?

[2020-05-12 14:28] juliayakovlev commented on #6386
Similar coredump received during MV backpressure longevity test

Scylla version: ``` 4.0.0-0.20200505.d95aa77b62 with build-id c9cf14d33523aca01a1ba502a91eb9d400de9c34```
AMI: ```ami-0ad095d521c760c3f```

Node 3 with IP ```10.0.12.86``` was decommissioned:
[code]

Decommissioned node 3 started Unbootstrap with 10.0.250.135 (node 4):
[code]

node4 10.0.250.135 removed decommissioned node3 10.0.12.8

[2020-05-12 14:47] psarna commented on #6429
Huh, you got me scared really bad that we wrongly assume that all cells are live and try to take their value if they're dead... fortunately, filtering is only applied to live columns, since the cells come from this class:
[code]
So, in short, what we get from filtering is already preprocessed, and all dead cells are gone from it, hence there's no need to check if they're alive. The stuff we filter

[2020-05-12 15:07] dekimir commented on #6429
That's surprising, as I'd expect to see consistent behaviour between the two and identical restriction-evaluation code apart from `do_get_value()`.

Aside from that, I still don't understand why it's OK to use multiple different `now()`s.  Surely there must be some scenario where that yields surprising results?  If not, why do we even pass the timestamp down the call chain?  Why don't we just use

[2020-05-12 15:16] psarna commented on #6429
That I don't know, but I suspect that author's vision was to eventually add these time points to the whole call chain, and simply use `now()`s as stubs until that's done. Current behavior is pretty much equivalent to just using now() inside is_satisfied_by() in terms of safety, so we can just do that and make the interfaces simpler.

And yet... I can't think of any scenario that yields inconsisten

[2020-05-12 15:28] bhalevy opened #6435 "table_options_test fails with: Error from server: code=0000 [Server error] message="Failed to parse JSON: all""
Started in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/480/testReport/cql_additional_tests/TestCQL/table_options_test/
[code]

and https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/480/testReport/cql_additional_tests/TestCQL/truncate_clean_cache_test/
[code]

Apparently this is caused by 2d727114ed0a029a84828151c7f3acdc7e09fb3f
that tries

[2020-05-12 15:31] bhalevy opened #6436 "replace_node_no_hibernate_state_test failed: The process is dead, returncode=1"
Seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/471/testReport/replace_address_test/TestReplaceAddress/replace_node_no_hibernate_state_test/
Scylla version e44b2826abba0d1c6ae91b7d40f0af112a24517d
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/471/artifact/logs-release.2/1588473761239_replace_address_test.TestReplaceAddr

[2020-05-12 15:34] bhalevy opened #6437 "replace_address_test fails with: 512 != 256"
Seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/477/testReport/replace_address_test/TestReplaceAddress/replace_first_boot_test/
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/477/testReport/replace_address_test/TestReplaceAddress/replace_shutdown_node_test/
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-rel

[2020-05-12 15:43] chued commented on #6092
@erozycki What's the setting for tombstone_compaction_interval? The default is 1 day, so with a 2 day compaction window, the memtable flushes to disk will fall within this 1 day window before they are merged into one sstable in the second twcs window.

https://docs.scylladb.com/troubleshooting/pointless_compactions/

[2020-05-12 16:01] juliayakovlev opened #6438 "Load failed and stopped with "Too many in flight hints" and IOException"
*Installation details*
Scylla version (or git commit hash): 4.0.0-0.20200505.d95aa77b62 with build-id c9cf14d33523aca01a1ba502a91eb9d400de9c34
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ad095d521c760c3f

Test: MV backpressure

Schema: 1 base table and 2 materialized views
[code]

Cassandra-stress commands running in parallel with nemesises:
[code]

List of nemesises b

[2020-05-12 16:07] raphaelsc opened #6439 "Regular compaction INCORRECTLY used shared sstable (exclusive for resharding)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 76d21a0c22049759b
Cluster size:
OS

[2020-05-12 17:04] erozycki commented on #6092
@chued I have not explicitly set tombstone_compaction_interval, so I believe it should default to 1 day (per https://docs.scylladb.com/getting-started/compaction/).

[2020-05-12 17:27] gibsn commented on #6409
@avikivity,

Dashboards:
https://cloud.mail.ru/public/BBbP/YKcZjt9kS -- all nodes recently
https://cloud.mail.ru/public/LqQc/YBMmhRkyk -- one node that failed at the time it failed

Unfortunately all the plugins that I have tried that take a screenshot of the whole page do not work properly for me :(

This is gonna be tricky since we have one prometheus for all our services

[cfstats_sc1.tar.gz](h

[2020-05-12 17:28] gibsn commented on #6409
Another node has just failed, now the 4th

[2020-05-12 18:58] avikivity commented on #6409
Looks at the Replica Memory charts. The orange shard has high non-LSA and low LSA (since their sum is shard memory). So the problem is running out of memory.

[2020-05-12 19:00] roydahan commented on #6432
probably a dup of #6402

[2020-05-12 19:04] avikivity commented on #6409
From the cfstats data, bloom filters and summaries are not taking up too much space.

[2020-05-12 19:11] avikivity commented on #6409
Please check if all failures are always at the same shard number (and report which one it is). The bad shard is the one that has low LSA memory (near zero), high non-LSA memory, and low number of partitions in cache.

[2020-05-12 19:13] avikivity commented on #6409
Also, check if there is some way to filter out the unrelated metrics from Prometheus. It's likely I can dig something out of it if I have the full database.

[2020-05-12 19:14] gibsn commented on #6409
@avikivity

I dont think `nodetool status` reports right info on BF and index summary size, I reported it in #4513.

Check this:
<img width="1422" alt="Снимок экрана 2020-05-12 в 22 11 54" src="https://user-images.githubusercontent.com/11294101/81735350-98a5cb00-949d-11ea-96f7-8e18946b72df.png">

We create millions of new partitions every week and never remove nor TTL data, but BF size does not re

[2020-05-12 19:17] avikivity commented on #6409
It's in `nodetool cfstats`:

[code]

[2020-05-12 19:18] avikivity commented on #6409
Ref #2363

[2020-05-12 19:19] gibsn commented on #6409
@avikivity

I know, we parse `nodetool cfstats` output and build graphs from it like the one I showed above. If we simply count sum of all Filter files in Scylla directory it will be much bigger than the one provided by `cfstats`. I believe there is a bug

[2020-05-12 19:20] avikivity commented on #6409
Can you provide numbers?

Please provide sums per shard. You can figure out an sstable's shard by taking its generation number % number_of_shards.

[2020-05-12 19:21] gibsn commented on #6409
@avikivity
Ok, but it will take some time since I will have to ask another person who has access to production servers

[2020-05-12 19:23] avikivity commented on #6409
You haven't installed your ssh key there yet?

[2020-05-12 19:24] gibsn commented on #6409
I am developer and developers do not have access to production, only admins

[2020-05-12 19:24] avikivity commented on #6409
Sure but you can sneak the key in via the code.

[2020-05-12 19:24] roydahan commented on #5312
@slivne while you postponing it to "x-ray" and people in the filed using such instances that aren't i3 but still have NVMe, I suggest no one will be surprised when things aren't working as they expect.

[2020-05-12 19:25] avikivity commented on #6409
Do you have metrics of foreground/background writes and reads, per shard, meanwhile? Also connections per shard.

[2020-05-12 19:25] gibsn commented on #6409
And then sneak out for a new job I guess

[2020-05-12 19:26] avikivity commented on #6409
Sorry, the foreground/background reads/writes were there, and quite low. So it's something else.

[2020-05-12 19:27] avikivity commented on #6409
Please see if you can get the metrics database filtered, it is the easiest path to get some understanding.

[2020-05-12 19:30] gibsn commented on #6409
We had 4 fails on four different nodes by now, so I can not answer that

[2020-05-12 19:32] avikivity commented on #6409
Yes, but is it on the same shard (even if on a different node)?

[2020-05-12 19:47] gibsn commented on #6409
hosts 1,3: shard 7
host 2: shard 26
hosts 4: shard 22

[2020-05-12 19:58] gibsn commented on #6409
However I see that even though shard are different, all of the shards mentioned tend to have LSA smaller than most other shards. Do you think those can be the shards responsible for IO queues? We have 4 of them

[2020-05-12 20:04] avikivity commented on #6409
It's possible. How many shards do you have? We can then see which shards have io_queues. @glommer please look too.

[2020-05-12 20:07] gibsn commented on #6409
host 1: 2 io queues, 30 shards
host 2,3,4: 4 io queues, 30 shards

[2020-05-12 20:29] nyh opened #6440 "alternator test_fetch_from_system_tables fails when one node is down"
When I start a three-node Alternator cluster and then kill one of them, almost all of the `test/alternator` tests work properly - as they should (Alternator never uses CL=ALL). However, one test fails:
[code]
What is special in this test that only it fails in this case? @psarna any idea?

[2020-05-12 21:10] raphaelsc opened #6441 "Streaming SSTables are not being accounted by the backlog controller"
Turns out SSTables created by streamign are not being accounted by the backlog controller. Which means that the controller will not act accordingly after the streaming process is done, so compaction may be slower than expected, affecting read and space amplification.

[2020-05-12 21:36] slivne commented on #6441
AFAIK streamed sstables can be compacted they need to be moved and then
compacted (at times they will be moved to staging - if there are views). So
should streamed sstables  accounted for when they can be compacted. If I am
not mistaken, off-strategy compaction will compact them together before
moving them.

Thus its not clear to me if the "generic" title is correct or not.

On Wed, May 13, 2020 a

[2020-05-12 21:49] nyh commented on #6353
Yes, the Global Tables issue is #5062.
Note that "Global Tables" doesn't mean the table exists on all DCs - it only exists on specific DCs and there is an API to assign this table to additional DCs. So the Global Tables API is exactly what Tzach was looking for.
So I'm tempted to close this issue as a duplicate of #5062, except that Tzach has a good point that maybe we should improve the documenta

[2020-05-12 21:57] raphaelsc commented on #6441
On Tue, May 12, 2020 at 6:36 PM Shlomi Livne <notifications@github.com>
wrote:

Reading streaming code, I can confirm that this problem applies to both
regular and view update (which use staging) cases. What is happening in the
backlog tracker internally is that it's not receiving the Streaming
SSTables but we're later asking for their removal due to a bug in the code.
That is leading to incorrect

[2020-05-12 22:12] kostja commented on #6405
Gleb, I'd still keep this open since I think ignoring the failed future in paxos_state::prepare() is error prone, we shouldn't do it. Thoughts?

[2020-05-12 22:50] rahultaing commented on #5968
Hi @raphaelsc per our last discussion, the issue here is that if we experience increasing fd's the only way to come out of that situation is to enable tombstone compaction. However it is not clear what value should we set for the tombstone compaction threshold. Can you suggest a solution here. Looks like your patch is targeted for 4.1

[2020-05-12 23:27] vladzcloudius opened #6442 "Always print all schema parameters (including default values)"
*Installation details*
HEAD: 1f902302ad8d26f9db8c0622b3bcc844f07d4517

*Description*
Always print all (!!!) schema parameters even if default values have been used during the creation:

For instance with Cassandra when you don't specify min_threshold value in `CREATE TABLE` command the `DESC SCHEMA` will print:

[code]

For Scylla it will print:
[code]

[2020-05-12 23:29] vladzcloudius commented on #6442
@tzach @eliransin FYI ^

[2020-05-13 00:04] bentsi commented on #4652
Happened to me:
Scylla version (or git commit hash):  `4.0.0-0.20200505.d95aa77b62` with build-id c9cf14d33523aca01a1ba502a91eb9d400de9c34
Cluster size: 6 (multidc, 3 nodes in each region)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0ad095d521c760c3f ami-09ae7080d6e842625` [eu-west-1 us-east-1 ]

Scenario: alternator _mult-dc_
Node `3.250.164.60` was decommissioned and new node was added instead. After

[2020-05-13 00:07] bentsi commented on #6397
happened to me too, after decommission nemesis in alternator multi-dc scenario. Pasted details in #4652

[2020-05-13 04:42] asimshankar commented on #6029
Apologies for my shallow understanding of terminology - but I think our deletes would qualify as "tombstones over whole partition".

Specifically, the `DELETE` statements were of the form:

[code]

Where `table`'s schema is of the form:

[code]

[2020-05-13 04:45] gleb-cloudius commented on #6405
On Tue, May 12, 2020 at 03:12:53PM -0700, Konstantin Osipov wrote:

Why do you think it is error prone?

--
			Gleb.

[2020-05-13 05:24] psarna commented on #6440
Was it one of the `system_auth` tables that returned the error? We do have warnings that with certain authenticators it's recommended to manually increase the replication factor for this keyspace, since it's 1 by default:
[code]
and here's an excerpt from scylla_yaml:
[code]

[2020-05-13 05:27] psarna commented on #6440
Now that I think of it, perhaps if `alternator_enforce_authorization`, we should also set the replication factor of `system_auth` to something higher?

And as for the test, the simplest way would be to skip `system_auth`. The test fetches all system tables simply because it's quick and it validates all different kinds of columns, but we don't specifically need any interesting corner case provided

[2020-05-13 05:50] avikivity commented on #6409
Unfortunately, the algorithm calls into the hwloc library to make the decision, so the algorithm isn't visible.

You can query via the prometheus interface for counters named scylla_reactor_aio_... that should which shards actually perform aio; these are the io queues.

[2020-05-13 06:05] avikivity commented on #6377
@roydahan any news here?

[2020-05-13 09:07] mmatczuk opened #6445 "API: Add long polling to StorageServiceRepairAsyncByKeyspaceGet"
This is needed to make repairs faster as measured in walltime.

Scylla Manager asks Scylla to repair a given token range and then waits for Scylla to end using `/storage_service/repair_async/{keyspace}` endpoint.

The API where we need to poll for repair job results each Xms introduces a significant delay in the whole process as seen by user.

Let's say we have
- 9 nodes
- 5k tables
- 4 shards eac

[2020-05-13 09:09] mmatczuk commented on #6445
Please give it a priority @tzach @eyalgutkind cc: @slivne

[2020-05-13 09:47] bhalevy opened #6446 "fix undefined sequencing order that may lead to use-after-move"
As discussed in https://groups.google.com/d/msg/scylladb-dev/W7Wjvj1cXBc/bC_JmN5wBQAJ
The evaluation order in coding patterns like:
[code]
us undefined, so `std::move(s)` in the lambda capture might be evaluated before `s` is passed to `foo`, leading to use-after-move.

gcc doesn't warn about this and @espindola updated https://gcc.gnu.org/bugzilla/show_bug.cgi?id=12411 to report the issue, asking

[2020-05-13 10:08] bhalevy commented on #4918
The dtest is passing reliably so we can close this issue.
Please reopen (or file a new bug) if seen again in SCT.

[2020-05-13 10:08] #4918 closed

[2020-05-13 10:57] roydahan commented on #6377
@avikivity sorry, but how is it pending on me? what did I miss?

[2020-05-13 11:22] mmatczuk commented on #6245
I had a look around, it seems that I could estimate the value.
Let N be total host memory in bytes.

`max_repair_ranges_in_parallel ~= N * 0.93 * 0.1 / (32 * 1024 * 1024)`

@amnonh is there a way in API to get memory assigned to Scylla?

[2020-05-13 11:26] guy9 opened #6447 "TTL unexpected behavior when setting to 0 on a table with default_time_to_live"
*Installation details*
Scylla version (or git commit hash): 4.0.0
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Docker on local Fedora

When trying to remove a column TTL, by setting it to 0, on a Table with a default_time_to_live defined, instead of being set to 0 the TTL of the column is reset to the default_time_to_live value.
To recreate:

1.  Create a 3 node cluster
2. CQLSH
3. CREATE KEYS

[2020-05-13 11:28] gibsn commented on #6409
Does not look like we can distinguish io queues :(
![1e12-bdab-943d-56f4](https://user-images.githubusercontent.com/11294101/81806972-e5cd7f80-9525-11ea-9912-b6001119a4e1.png)

[2020-05-13 11:33] bhalevy commented on #6447
Thanks for reporting @guy9.
@eliransin @dekimir can you please look into this from the cql layer perspective?
@tgrabiec can you please look into how the TTL is being applied on the updated cell with 'USING TTL 0' and non-zero default ttl in the table schema?

[2020-05-13 11:58] avikivity commented on #6409
Ah! I see there is an `ioshard` label. So if you look at those labels, you'll get the shards that have io queues.

[2020-05-13 11:58] gibsn commented on #6409
As seen by `ls -l`:
[code]

While `cfstats` for this node gives us:
[code]

[2020-05-13 12:00] avikivity commented on #6409
This is pretty bad. Please file a separate issue with this data.

[2020-05-13 12:00] avikivity commented on #6409
But don't miss my comment about the ioshard label.

[2020-05-13 12:01] gibsn commented on #6409
I did 😄
#4513

[2020-05-13 12:03] avikivity commented on #4513
@amnonh looks like it's still broken.

[2020-05-13 12:03] gibsn commented on #4513
Another update:

BF and Summaries size as seen by ls -l:
[code]

While cfstats for this node gives us:
[code]

[2020-05-13 12:12] nyh commented on #1796
I just got hit by this issue in #6440, where Alternator uses the `system_auth` table (issue #6440 is a test, but it also happens with Alternator itself) but it is created with RF=1 so if just one of the nodes is unavailable, pieces of this table are unavailable (and lost forever if one node is lost forever!).
I see large amounts of discussions about this, various warnings in scylla.yaml about syst

[2020-05-13 12:18] bhalevy commented on #6328
#6439 was caused by the fix for this issue 88d2486fcafc4e0e25d988b4dc9c4022ddf9bd1d

[2020-05-13 12:23] nyh commented on #6440
I don't think we need to change the test - system_auth should have been readable just like all the rest. If anything, it caught a real bug, because Alternator authentication needs a functioning `system_auth` table.

I will write a patch that if `alternator_enforce_authorization` and the cluster has three or more nodes, **verifies** that the RF of the `system_auth` table is >= 3. Users will have fo

[2020-05-13 12:36] gibsn commented on #6409
[code]

[2020-05-13 12:36] eliransin commented on #6447
@bhalevy at least at first glance this looks like the cql layers fault:
https://github.com/scylladb/scylla/blob/517f2c049058a2231853515b43732fadba77017a/cql3/update_parameters.hh#L192-L194

Which is then used when building the update mutation.

[2020-05-13 12:59] avikivity commented on #6409
So it looks like it's not io_queue related.

[2020-05-13 13:00] avikivity commented on #6409
You can start a node with --abort-on-bad-alloc and then from the core we'll know what the problem is.

[2020-05-13 13:03] gibsn commented on #6409
Will it attempt to 'abort' gracefully or will it just crush probably corrupting clogs?

[2020-05-13 13:57] bhalevy commented on #6337
@slivne it'd best if @raphaelsc or someone else from @glommer's team will own this issue as it @raphaelsc is already familiar with the issue and the implementation.  @glommer let me know if that is a problem and I'll take it back...

[2020-05-13 14:18] avikivity commented on #6409
It will crash, but the commitlogs will be fine. Better to enable it on just one node.

[2020-05-13 14:44] raphaelsc commented on #5968
@rahultaing could u please try to run the tool sstableexpiredblockers? Usage: sstableexpiredblockers <keyspace> <table>

[2020-05-13 14:50] nyh commented on #6438
You said  that at 2020-05-12 08:44:25,880 you stopped a node.
Ad that point, writes start to collect hints, and this perfectly normal.
Then less than a minute later, at 2020-05-12 08:45:17,995, you get: "Too many in flight hints: 10495942"

@psarna can you please remind me what are "in-flight hints"? Is this the number of hints saved on disk (if so, why limit them to only a million), or what?

[2020-05-13 15:02] slivne commented on #6342
@kostja / @ManManson ping

[2020-05-13 15:08] slivne commented on #5459
@psarna / @nyh  - at least on dtest the issue doesn't appear any more, should we do a backport or wait a few more days ?

@roydahan - can you please check master - sarna's patch was merged so I want to see if we can close this and do backports

[2020-05-13 15:20] bhalevy commented on #6413
Please backport to 4.1

[2020-05-13 15:20] nyh commented on #5459
I think we should backport it to 4.0. I still don't understand why when it's missing the specific symptoms appeared, but it seems to be a good fix in any case. I stopped backporting anything to 4.0 at your request, so please let me know when we should start backporting again.

[2020-05-13 15:22] psarna commented on #5459
I'll still try to figure out what precisely was the root cause for this error. The fact that it stopped reproducing strongly indicates that these duplicated entries were part of the root cause, but I still haven't pinpointed the exact lines that cause the trouble. Still, the fix is useful anyway, so we can start backporting it anyway.

[2020-05-13 15:22] vladzcloudius commented on #6438
@juliayakovlev @nyh Too-many-hints-in-flight error is a symptom of the `overloaded_exception` thrown from `create_write_response_handler_helper` constructor which eventually is forwarded all up to the CQL and bumps up `writes_unavaliable` metric: see `storage_proxy::mutate_end()`.

It happens when hints are generated faster than I/O backend is capable to write them to the disk.

As a result writes

[2020-05-13 15:27] avikivity commented on #6413
Backported to 4.1 (only vulnerable release).

[2020-05-13 15:28] bhalevy commented on #5158
this issue hasn't reproduced.
can be closed...

[2020-05-13 15:28] #5158 closed

[2020-05-13 15:34] gibsn commented on #6409
`--abort-on-seastar-bad-alloc` or `--abort-on-lsa-bad-alloc` or both? 😄

[2020-05-13 15:34] bhalevy opened #6448 "sstable code needs to close files in error paths"
Scylla version 517f2c04905 (and all active release branches)
In addition to #5509 I've hit assertion failures when running a large number of dtests locally and running out of file descriptors.

We have a few cases where files opened by the sstable code are not properly closed in error paths:
- when creating or opening the data and index files
- in `read_toc`
- in `remove_by_toc_name`

[2020-05-13 15:36] avikivity commented on #6409
`--abort-on-seastar-bad-alloc`

[2020-05-13 15:39] avikivity opened #6449 "--abort-on-seastar-bad-alloc is too drastic"
To debug OOM situation we often require users to add --abort-on-seastar-bad-alloc, but that is too drastic. We should have bad_alloc print out enough information to understand the situation, similar to scylla-gdb.py's dumps or the kernel's OOM dumps.

[2020-05-13 15:39] #6333 closed

[2020-05-13 15:39] #6361 closed

[2020-05-13 15:39] #6433 closed

[2020-05-13 15:39] #6106 closed

[2020-05-13 15:39] #6439 closed

[2020-05-13 15:40] avikivity commented on #6449
/cc @denesb @tgrabiec .

We can add hooks to be called on OOM to print out various stuff. We should have a small memory reserve so that the print routines continue to work while dumping.

[2020-05-13 15:40] avikivity commented on #6409
ref #6449

[2020-05-13 15:44] denesb commented on #6449
Refs: https://github.com/scylladb/scylla/issues/6365

[2020-05-13 16:15] tgrabiec commented on #6449
@avikivity Is this a duplicate of  #6365?

I think there will still be cases when we will need a core dump to get to the root cause, so --abort-on-seastar-bad-alloc will be useful.

[2020-05-13 16:21] avikivity commented on #6449
Closing as duplicate. I'm not proposing to retire --abort-on-seastar-bad-alloc, just make it less frequent.

[2020-05-13 16:21] #6449 closed

[2020-05-13 16:50] slivne commented on #6029
@asimshankar  - I should have been more clear my appoligies

for your model aboe
* single row tombstones: `DELETE FROM table USING TIMESTAMP ? WHERE x = ? AND y = ?`

* range tombstones are:
   *  `DELETE FROM table USING TIMESTAMP ? WHERE x = ? AND y > ? and y < ?` or
   *  `DELETE FROM table USING TIMESTAMP ? WHERE x = ? AND y > ?` or
   *  `DELETE FROM table USING TIMESTAMP ? WHERE x = ? AND y

[2020-05-13 16:52] slivne commented on #6245
@mmatczuk my bad - I thought its under some configuration.

[2020-05-13 16:53] slivne commented on #6245
@asias is this true for row level repair and "old" partition level repair ?

[2020-05-13 16:55] slivne commented on #6329
closing this issue - I assume all agree

[2020-05-13 16:55] #6329 closed

[2020-05-13 16:56] slivne commented on #6348
@bhalevy rings a bell ?

[2020-05-13 16:57] gleb-cloudius commented on #6449
FWIW when seastar_memory loggers is in trace or debug level it print
information similar to "scylla memory" on allocation failure.

--
			Gleb.

[2020-05-13 17:11] kostja commented on #6329
@shlomi can we document the fix or reference it from here? I am not sure it is possible to fix reliably on the monitoring end only.

[2020-05-13 17:31] denesb commented on #6449
Once we have #6535 we can reuse the infrastructure to implement a
--dump-mem-report-on-bad-alloc.

On Wed, May 13, 2020, 19:22 Avi Kivity <notifications@github.com> wrote:

[2020-05-13 18:21] asimshankar commented on #6029
Yup, single row tombstones in that case that.

(I may have over simplified, the `table` schema is actually:

[code]

And the delete statement is:

[code]
(no `z`, so it is deleting multiple rows in a statement, but no ranges involved).

[2020-05-13 19:33] slivne commented on #6359
The reads and writes we are seeing here are Internal CQL reads and writes to the Paxos tables - they are not "Alternator" reads from the base table.

Now I need to prove that - and its "easy" I am using the per_ks metrics to see which keyspace is being read

![LWT_operations_while_node_is_not_up](https://user-images.githubusercontent.com/3465480/81855349-e850c900-9567-11ea-9418-0400726ea6ff.png)

[2020-05-13 19:34] slivne commented on #6359
The errors we have seen with the map may be hints sent that couldn't have been applied

[2020-05-13 20:02] bhalevy commented on #6348
yes, it's essentially a duplicate of #5506 (fix wip in #5509)

[2020-05-13 20:30] nyh commented on #6440
I started coding what I suggested above but it's ugly... How much replication do we consider enough? On multiple DCs, do we need RF>=3 in total, RF>=3 on each DC or what?
I'm starting to have second thoughts - shouldn't we solve issue #1796 once and for all, automatically, instead of explaining around it?

[2020-05-14 01:27] amoskong commented on #6432
Yes, same one.

[2020-05-14 01:42] asias opened #6451 "MV may select wrong pending view replica during bootstrap"
Node n1,n2,n3, n4 are in the cluster. New node n5 is bootstrapped.

When a normal writes goes to n1, it eventually calls database::do_apply to apply the write and update the view replica.  The code path is:
[code]
It looks like the way we select the pending view replica in  db::view::mutate_MV is not correct. It does not guarantee that the pending endpoint (the one that is bootstrapping) will be t

[2020-05-14 02:23] dyasny commented on #4046
So, where do we stand with this one, is it possible to stop compactions with `nodetool stop COMPACTION`?
Is it possible using the API? In the API I get this:

[code]

[2020-05-14 05:08] denesb commented on #6029
@asimshankar `y = ?` is a clustering prefix and is a range on itself, which will result in a range tombstone.

[2020-05-14 06:24] eliransin commented on #6447
@bhalevy according the the cassandra cql docs TTL of 0 should delete the ttl as @guy9 expected.
(here) [https://docs.datastax.com/en/cql-oss/3.3/cql/cql_reference/cqlUpdate.html#cqlUpdate__time-value] is the reference.
@dekimir assigning me and you since it is in our domain :slightly_smiling_face:

[2020-05-14 06:53] bhalevy commented on #6439
It looks like no backport required at the moment since 88d2486fcafc4e0e25d988b4dc9c4022ddf9bd1d wasn't backported anywhere.

[2020-05-14 06:55] gjaldon commented on #6317
@tgrabiec ok just set the LSA logging to debug-level. Will update you when I get new logs for these reactor stalls

[2020-05-14 07:13] amoskong commented on #6155
This issue occurred in scylla-4.1/longevity/longevity-lwt-3h  [(job #2)](https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/longevity/job/longevity-lwt-3h/2/)

`2020-05-13T11:13:01+00:00  longevity-lwt-3h-4-1-db-node-a9e59aef-2 !WARNING | scylla: [shard 4] seastar - Exceptional future ignored: exceptions::mutation_write_timeout_exception (Operation timed out for system.paxos - receive

[2020-05-14 08:09] haaawk commented on #6435
It seems that Cassandra has dropped the support for those legacy values.
Value of CACHING property is fetched [using getMap(String)](https://github.com/apache/cassandra/blob/trunk/src/java/org/apache/cassandra/cql3/statements/schema/TableAttributes.java#L92) which [throws an exception](https://github.com/apache/cassandra/blob/01103111ae08b51ccd18bb1c54ac60546546d9df/src/java/org/apache/cassandra/c

[2020-05-14 08:16] psarna commented on #6451
Why will current code send the view replica to n3 and n5? n5 is pending for the base token, but not for the view token - the pending node for the view token seems to be n2 in your example, so the update would be sent to n3 and n2, which is correct.

[2020-05-14 08:35] asias commented on #6451
It might send view replica to 1) n3 only or  2) both n3 and n5 (if view token happens to in the pending range).

pending_endpoints_for(view_token, keyspace_name) returns either empty or n5 (the new node joining the cluster), it will not return an existing node, e.g., n2.

[2020-05-14 08:45] psarna commented on #6440
Solving #1796 would be better, but it doesn't look like we reached a consensus on what this replication factor should be. Perhaps simply setting it to 3 is still better than having a default of 1, even if it doesn't address all the problems?

[2020-05-14 08:50] asias commented on #6451
I think the view replica changes from  n3 n4  to  n2 n3 should not happen if one node is added to the ring.  The ownership either stays the same or one of the existing node is replaced by the new node.
So, we should have this:

[code]

[2020-05-14 08:56] psarna commented on #6451
So,
Case 1: a view update is not sent to n5, because it's not pending for the view token, correct
Case 2: a view update is sent to pending n5, which is a correct target
Case 3 : a view update is sent to pending n5, which is a correct target
... isn't it all correct then?

[2020-05-14 09:08] asias commented on #6451
We are talking about update generated by n1. So in case 2,  view update is not sent to n5.
The above cases seem to be correct.

However, in case 2 and case 3, I am not sure if the base / view replicas pair would change to
[code]

[2020-05-14 09:10] nyh commented on #6440
Yes, definitely setting it to 3 would have been good enough (at least in my view...) but there's a whole can of worms involved: 3 on every DC or what (and how)? How do you properly use a RF=3 table before you have 3 nodes?

[2020-05-14 09:16] eliransin commented on #6040
A short update:
1. I have inserted the data (6*10^9 records) and read it right afterwards:
[code]
2. Did a rolling restart of the nodes and major compaction right after and read it again:
[code]
and also ran this just in case COPY messes up with the stats:
[code]
So according to this we lost ~170M records.

I will now further brake it down, next steps (validating the record count after each step):

[2020-05-14 09:18] eliransin commented on #6040
BTW I will also try next to find a smaller reproducer so we can further debug this:
If repair is not the problem maybe a one node cluster with 2.5*10^9 records is enough since this is the
amount of records on each one of the nodes. If this also reproduces using this we can reduce the amount of records gradually until we have the smallest reproducer.

[2020-05-14 09:26] nyh opened #6452 "alternator: add configurable *default* write isolation mode"
Alternator has four write isolation policies described in `alternator.md`: `always_use_lwt`, `forbid_rmw`, `only_rmw_uses_lwt`, `unsafe`. The policy can be chosen per table (by tagging the table), but if not chosen, it currently always defaults to `always_use_lwt`.

Let's make this default configurable, e.g., via a configuration option "--alternator-write-mode".

Also, @dorlaor asked that this cho

[2020-05-14 09:29] psarna commented on #6451
Right, but it's not only n1 that generates updates, it's also n2, so:
* in case 2, n1 would send to n3 and n5, while n2 would send to n3 - the work is doubled, but nonetheless correct
* in case 3, n1 would send to n3 and n4, n2 would send to n4 and n5 - again, one of these updates could be avoided, but still, only the correct replicas got their updates

[2020-05-14 09:35] avikivity commented on #6040
With CL=ONE you can't expect consistent data, in case there were problems during the write (there shouldn't be, but it's not guaranteed), You need to read with LOCAL_QUORUM to be sure.

[2020-05-14 09:35] avikivity commented on #6040
read AND write

[2020-05-14 09:35] psarna commented on #6440
I'd say that even a regular 3 is better than 1, so we don't need to immediately think about DCs. And as for using the table, I suppose only the initial querying of the default user is problematic, since it uses cl=QUORUM... I suppose we could degrade this cl to LOCAL_ONE if the total number of nodes is 1? Aside from this default user, queries to auth are usually performed with LOCAL_ONE anyway.

[2020-05-14 09:42] asias commented on #6451
In case 2, why would n1 send to both n3 and n5? Before n1 pairs with n3, after it still pairs with n3. I would expect n1 sends to n3 only.

In case2, before n2 pairs with n4, after n2 is replaced by n5. Why would n2 send to n3?

[2020-05-14 09:42] avikivity commented on #6317
We should have a background task to reclaim memory from lsa when it falls from below a certain level, so most allocations have the reclaim work already done.

LSA itself should not benefit from this reserve, as it would just eat it all up immediately. e.g. lsa shoud self-reclaim until it is above the reserve.

[2020-05-14 09:49] psarna commented on #6451
Oh wait, I was talking about Case 2' and 3', didn't see that there are apostrophes added. Let me analyze original 2 and 3 again.

[2020-05-14 09:49] eliransin commented on #6040
I know that that was a mistake on my part this is why I documented it, I will make sure I do it on this run. But in this specific case the first read (just after the write) retrieved all of the records so I guess they persisted somewhere right?

[2020-05-14 09:52] psarna commented on #6451
I think that with the original cases, the point still stands.
Case 2: n1 sends to n3, n2 sends to n4 and n5
Case 3: n1 sends to n3 and n5, n2 sends to n4
still - each replica that needs to get the mutation gets them, because the final set of replicas for case 2 is {n3, n5}, and for case 3 it's {n4, n5}

[2020-05-14 09:59] eliransin commented on #6040
@avikivity Doing the new test with QUORUM.

[2020-05-14 10:06] avikivity commented on #6040
You can have the first read access a replica that had data, and a second read access a replica that did not have the data.

[2020-05-14 10:06] avikivity commented on #6040
Do you have metrics? this should show as background reads failed.

[2020-05-14 10:12] slivne commented on #6040
clearing the cache

[code]

[2020-05-14 10:59] eliransin commented on #6040
I do have metrics but I prefer to do it right than to dig in them:slightly_smiling_face:

Is the plan for pinning down the problem sounds reasonable?

[2020-05-14 11:36] dkropachev opened #6453 "Coredump, secondary index with materialized view and add drop column nemesis"
stress command:
`
cassandra-stress user profile=/tmp/c-s_profile_2si_2queries.yaml ops'(insert=10,si_p_read1=1,si_p_read2=1)' cl=QUORUM duration=180m -port jmx=6868 -mode cql3 native -rate threads=10 -node 10.0.4.89 -errors skip-unsupported-columns
`

Coredump:
[code]

Backtrace:
[code]

Core link: https://storage.cloud.google.com/upload.scylladb.com/core.scylla.996.d47f236ae7844f8094210185c0c43a5

[2020-05-14 11:39] avikivity commented on #6453
Please choose more descriptive subjects for your bug reports.

[2020-05-14 11:44] dkropachev opened #6454 "Segmentation fault, secondary index with materialized view and add drop column nemesis"
Scylla version (or git commit hash): 4.0.rc3
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI):Centos, AWS eu-west-1, ami-016482914844d8a49
AWS Instance Type: i3.4xlarge

`cassandra-stress user profile=/tmp/c-s_profile_2si_2queries.yaml ops'(insert=10,si_p_read1=1,si_p_read2=1)' cl=QUORUM duration=180m -port jmx=6868 -mode cql3 native -rate threads=10 -node 10.0.4.89 -errors skip-unsupported-columns

[2020-05-14 11:44] dkropachev commented on #6453
c-s profile
[c-s_profile_2si_2queries.zip](https://github.com/scylladb/scylla/files/4628028/c-s_profile_2si_2queries.zip)

[2020-05-14 12:33] amoskong opened #6455 "10+ delay of schema agreement"
*Installation details*
Scylla version (or git commit hash):
- original version: 3.2.5-0.20200418.77500f9171
- new version: 3.3

Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Test info

- test id: fee52658-8822-427a-b8ae-4c3b52a3352b
- db log: https://cloudius-jenkins-test.s3.amazonaws.com/fee52658-8822-427a-b8ae-4c3b52a3352b/20200511_162152/db-cluster-fee52658.zip
- sct log: https:

[2020-05-14 12:34] amoskong commented on #6455
An old https://github.com/scylladb/scylla/issues/5235 is about schema agreement delay after upgraded cluster to 3.1.1

[2020-05-14 13:10] ManManson commented on #6342
@slivne Can you clarify what kind of action is required here? Me and @kostja think that aside from some maintenance burden of cherry-picking a bunch of commits it's pretty safe to backport, even if some of the code changes a little bit.

It's isolated by `paxos_state.cc` file and it is known to work more-or-less well, lwt code haven't changed very much recently.

[2020-05-14 13:47] denesb opened #6456 "mutation_fragment_stream_validator: add key validation"
Add key validation to the validator to prevent invalid keys from getting to the disk in case of a corruption. Certain corrupt keys (particularly [empty ones] (https://github.com/scylladb/scylla/issues/6106)) can fail the sstable write. If the sstable is written as part of a memtable flush this can make the memtable unflushable and cause the scylla node to spin in a flush-fail-retry cycle. Having s

[2020-05-14 13:47] denesb commented on #6456
/cc @bhalevy

[2020-05-14 13:48] denesb commented on #6456
An interesting question is whether key validation should be enabled by default and if not, would be enabled with the existing `--enable_sstable_key_validation` or a new flag?

[2020-05-14 13:49] denesb commented on #6456
The current key validation just validates key monotonicity, but doesn't validate the keys themselves.

[2020-05-14 14:34] slivne commented on #6435
this is not supported indeed

[code]

So I think that we should change the test to the correct syntax supports and we ignore.

[2020-05-14 15:36] penberg opened #6457 "Bad error message if Docker image started on non-x86"
We had someone report that they saw the following error message:

[code]

It turns out the problem was that they were running Docker on `arm64`, which Scylla does not support. Let's investigate if we can improve the error message by changing the Docker image somehow.

[2020-05-14 19:52] #6353 closed

[2020-05-14 21:10] dekimir opened #6458 "FEATURE REQUEST: speed up LIKE filtering with trigram indices"
Currently the LIKE filter fetches all rows from the data layer and greps each of them to see if it matches.  This gets quite slow as data grows, but we could speed it up by fetching only a subset of the rows.  With a suitable data structure, we could prove that at least some rows cannot possibly match the LIKE pattern and therefore don't need to be fetched.

For instance, if we had an index mappin

[2020-05-14 21:51] slivne opened #6459 "Moving of nodes between RACKS and altering keyspaces from SimpleStrategy to NetworkTopologyStrategy requires restarting nodes"
Scylla version: 666.development-0.20200125.e1b22b6a4c5

procedure https://docs.scylladb.com/operating-scylla/procedures/cluster-management/update-topology-strategy-from-simple-to-network/

Scenario:

- using GossipingPropertyFileSnitch
- 3 nodes (A,B,C) in one DC - each in a separate rack
- keyspace with SimpleStrategy, replication_factor=2
- stopping nodes B,C and moving them to rack of A
- start

[2020-05-14 22:12] nyh commented on #6458
This looks like one example of giving Scylla search-engine-like capabilities. Search engines indeed index words, word lemmas, n-grams, prefixes, suffixes, etc., to allow to allow searching words, inflected words, prefixes or suffixes and so instead of filtering through the entire data. Search engines also employ special data structures like skip lists to allow efficient interesection of multiple i

[2020-05-14 22:35] dekimir commented on #6458
This feature falls well short of a search engine; it's just a way to improve LIKE performance for a limited usecase brought to us by a real customer.  I'm hoping to accomplish that with a modest development effort, if that turns out to be possible.

[2020-05-15 00:31] asias commented on #6451
Yes, this is what I expected for case 2 and case 3 too.

[2020-05-15 00:47] asias commented on #6451
OK.  Since you are talking about case 2' and case3'. For case 2',   I think n2 would send to both n3 and n4, not just n3 as you mentioned here https://github.com/scylladb/scylla/issues/6451#issuecomment-628515370.

If case2' and case 3' happen, the current code will not work:

For case2':  n1 should send to n3 and n5, n2 should send to n4 and n3 (does not work, pending node can only be n5, n3 will

[2020-05-15 01:13] amoskong commented on #6455
Need to check if it's a blocker, it seems not a blocker.
The subtest was enabled in 2020-02-18, that's after the 3.3.1 release, it should be not a regression.

/CC @slivne @roydahan

[2020-05-15 06:14] psarna commented on #6451
Hm, I'm not sure if I understand the process as good as you do... Could you expand your examples above with what would be final set of replicas that received view updates? I mean:
For case 2', will the current code end up in sending the view updates to {n3, n4, n5} or {n3, n5} (summing the updates sent from n1 and n2)?
Same for case 3'.

[2020-05-15 08:01] asias commented on #6451
I looked get_view_natural_endpoint. I think case 2' will not happen. Because n5 is both base replica and view replica. In get_view_natural_endpoint, n5 will always be paired with n5 itself. So case 2' can only be {n1 paired with n3, n5 paired with n5}, not {n1 paired with n5, n5 paired with n3}.

Let's ignore case2' and case3'.

And let me try another (better) example:

[code]
Before
{n1 paired wi

[2020-05-15 08:08] psarna commented on #6451
Ok, got it, so this issue is about nodes sending redundant updates during range movements. Which is bad and worth fixing, but at least it does not lead to inconsistencies, only increased network usage.
I guess the fix would be to add some more sophisticated logic to counting pending endpoints - similarly to how the natural endpoint is computed, but for the new range, in order to avoid sending redu

[2020-05-15 08:19] asias commented on #6451
Yes, so far I could not find inconsistency issues which is good.

[2020-05-15 08:27] asias commented on #6451
Another example:
[code]

We may end up with:

Before
{n1 paired with n3, n2 paired with n4}

After
{n1 paired with n5, n2 paired with n3}

In this case, n2 should send view update to both n4 and n3, but with current code, n2 will send to n4 and n5 instead.

[2020-05-15 09:24] amoskong opened #6460 "scylla stuck 1+ mins at the beginning of start"
*Installation details*
Scylla version (or git commit hash): 4.1.rc0-0.20200511.0760107b9fa
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-038d3210da69ccbf9 (eu-west-1)

Instance type: i3.metal

### Description

- test job: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/artifacts/job/artifacts-ami/22/console
- test id:  f46f87a6-9c1b-4e5f-aa6b-ae43eee021de

The above job also

[2020-05-15 09:26] amoskong commented on #6460
In https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/artifacts/job/artifacts-ami/23/
The problem still exists, each restart stuck about 2 mins.

[2020-05-15 09:31] aleksbykov opened #6461 "Scylla restarted on 2 other nodes with backtraces, if on third decommission process was interrupted by reboot"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200514.96e35f841 with build-id ba302fa587e16a5ad7b703e07f5873acdd001c98
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e2844809748e69a0

Decommission process was interrupted on node3 by rebooting the instance. 2 other nodes at this moment trigger coredump and restart.
The steps of reproduce similar to https://gi

[2020-05-15 11:19] haaawk commented on #6435
Tests are fixed here -> https://github.com/scylladb/scylla-dtest/pull/1482

[2020-05-15 12:43] gjaldon commented on #6317
@tgrabiec @slivne I no longer see that issue in our logs. We retain logs for 2 weeks. It looks this issue has been resolved on our end for some weeks now. We changed the data model for some tables which emitted some large cell warnings. Had cells up to 20MB in size. This might have been related somehow?

[2020-05-15 13:14] avikivity commented on #6317
Certainly a 20MB cell will cause these stalls. The problem is that in order to allocate these 20MB cells our allocator has to evict other cells from cache. If the cells on the tail end of the LRU happen to be small, then we'll need to evict a large number of them to make room, and this causes the stall.

[2020-05-15 14:39] #6394 closed

[2020-05-15 14:39] #6296 closed

[2020-05-15 14:39] #6414 closed

[2020-05-15 15:02] avikivity commented on #6317
Closing this as the immediate problem appears resolved (although we still have to improve reclaim when large allocations are present)

[2020-05-15 15:02] #6317 closed

[2020-05-15 15:35] syuu1228 opened #6462 "Scylla initialization never finishes when built on Fedora 32"
Even a binary built on Fedora 31 works finely, a binary built on Fedora 32 does not start database server, it seems stopping on somewhere in initialization stage.

[code]

[2020-05-15 17:13] avikivity commented on #6199
The patch hit linux-next, so you can expect it to start finding its way to distributions in a month or two.

[2020-05-15 18:37] glommer commented on #4504
Closing, we're not doing this

[2020-05-15 18:37] #4504 closed

[2020-05-15 18:41] glommer commented on #3720
Closing this. As Nadav, said, there are plenty of bloom filter issues.
This one in particular is exactly the same problem as #2465

[2020-05-15 18:41] #3720 closed

[2020-05-15 18:43] glommer commented on #2874
Hi, this is the human version of our new closing bot.
@raphaelsc claims that this doesn't happen anymore in the last times we tried.
It was reported with 2.0, we have no indication that it is still a problem. Plus if you were using GCE , maybe you just got hit by their beautiful 13s stalls coming from the disk.

If we have complaints about this again, let's reopen

[2020-05-15 18:43] #2874 closed

[2020-05-15 18:51] glommer commented on #2440
not prioritizing this at the moment. If anyone wants to do it, I think it is easy enough to get the n00b tag

[2020-05-15 18:56] glommer commented on #635
Hi, this is Glauber from the future - 2020.
You'd be amused to know we've been hit by a deadly pandemic and everybody is stuck at home.
Trump is the american president (yeah, the guy from TV) and we're all hooked into Tiger King.

But guess what, no activity here in years and it is not clear what is missing.

Closing!

[2020-05-15 18:56] #635 closed

[2020-05-15 21:04] raphaelsc commented on #6092
This version already has data segregation feature enabled. TWCS was designed with an assumption that windows other than current window will not receive any data after it's closed, but that's not true anymore after data segregation. I'll investigate this further before proposing a proper solution. Something I have in mind is to decrease this write amplification with size-tiered, but we need to firs

[2020-05-15 21:04] raphaelsc commented on #6092
@erozycki do you mind sharing the full schema? thanks.

[2020-05-15 21:14] erozycki commented on #6092
@raphaelsc

[code]

[2020-05-16 20:01] kostja commented on #2577
Why not simply trigger a dump after a schema change?

[2020-05-16 20:06] avikivity commented on #2577
A dump of what?

[2020-05-16 20:14] kostja commented on #2024
One possible implementation is to build several bloom filter bitmaps during compaction, with exponential size difference (e.g. x, 2x, 4x, where X is the average size for this sstable), and then choose to store the one which has the optimal false positive ratio.
The FPR factor can be evaluated as the bloom filter is built.

[2020-05-16 20:15] kostja commented on #2577
Of the memtable with old schema_ptr.

[2020-05-16 20:18] avikivity commented on #2577
It's not enough, we have the cache too. And if we do the cache correctly the memtable update is the same (they share data structures).

[2020-05-16 20:19] kostja commented on #2577
It's hard to imagine a cache entry update is latency sensitive. After all, it can not be slower than reloading the same entry from disk.

[2020-05-16 20:24] avikivity commented on #2577
The problem is that partitions are updated atomically. Imagine a 1GB partition in cache, 1M entries X 1k. If each entry takes a microsecond, then the partition will take 1s to update.

Of course, partitions can be larger than a gigabyte, entries can be smaller than 1k, and it can take more than 1us to update them.

[2020-05-16 20:28] avikivity commented on #2577
@tgrabiec I think splitting a partition_version into two during upgrade (if I understood your proposal correctly) is good, it reuses the existing merge support and doesn't add more responsibility to partition_version.

[2020-05-16 20:30] kostja commented on #2577
Just for the record, the same strategy can be used for large partition - expel from the cache after a schema change.

[2020-05-16 20:33] avikivity commented on #2577
Expelling a large partition from a cache also takes a large amount of time (and then we lose performance due to cache misses for a while).

[2020-05-17 06:41] tzach commented on #6067
@elcallio to validate: the PR doesn **not** include  `nodetool reloadssl` just fiel watch

[2020-05-17 07:41] amnonh commented on #6219
@tzach this is going to the log, not the screen, I believe it would only hurt us and the users when using automation tools

[2020-05-17 10:28] avikivity commented on #2577
Here's an alternative solution. I think it has problems around maintaining continuity so I'm not advocating it, just noting it for reference.

1. move `cache_entry::_schema` to `row_cache` (making the problem much worse - instead of a partition having to upgrade atomically, the entire cache has to be upgraded atomically)
2. instantiate one `row_cache` per schema version. We can call this `schema_v

[2020-05-17 10:36] amnonh opened #6465 "get_range_to_address_map in service/storage_service.cc causes use after free"
The current implementation uses a reference to an item in an array that is being held by another function.
In practice, it means that the value will be used after it was free.

[2020-05-17 10:41] tzach commented on #6169
@amnonh please make sure 4.1 LWT dashboard are updated

[2020-05-17 10:52] eliransin commented on #6040
An update about the reproduction, it looks like that compaction loses rows,
I am now working to identify an actual missing key/keys so we can try and understand if
it is somehow connected to the actual keys or just sporadic loses in compation, all queries
done with CL LOCAL_QUORUM:
[code]
/cc @avikivity @slivne

[2020-05-17 14:37] slivne commented on #6455
@amoskong so its clear

- there is a way to wait for schema agreement - are we doing that after we do the schema changes ?

[2020-05-17 14:56] slivne commented on #6461
Asias's fix for #6296 was merged after this run version b2c4d9fdbc7f551bf5040bc5ba461d324d702988 - so that fix is not included lets see what happens with the new runs.

[2020-05-17 15:05] slivne commented on #5459
According to roy the error did not reproduce on the weekend runs

@nyh / @psarna
- So please do the backport to 4.0, 4.1
- Lets try to understand whats the issue.

[2020-05-17 15:05] bhalevy opened #6466 "cdc_types_test failures"
Scylla version 96e35f841c6353e17d7190a7078f1f0dbbabd85c
scylladb/scylla-dtest@551539c9fe26c7831ad47d6fd50e879dc7f15c9a
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/483/testReport/cdc_types_test/TestCDCCollectionType_with_list_int_/test_collection_insert_with_postimage/
[code]
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/483/testReport

[2020-05-17 15:06] bhalevy commented on #6466
Cc @haaawk @aleksbykov

[2020-05-17 15:11] bhalevy opened #6467 "lwt_destructive_ddl_test:LwtDestructiveDDLTest.test_drop_column: std::out_of_range (regular column id 0 >= 0)"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/484/testReport/lwt_destructive_ddl_test/LwtDestructiveDDLTest/test_drop_column/
Scylla version a96087165a92959ff4da74364b681c2906c16745
[code]

This is coming from `storage_proxy::send_to_live_endpoints`

[2020-05-17 15:11] bhalevy commented on #6467
Cc @gleb-cloudius @kostja

[2020-05-17 15:20] slivne commented on #6461
need to wait for additional patch from Espindola

[2020-05-17 15:24] avikivity commented on #6462
It works for me. Got port 9042 listening (on godzilla).

[2020-05-17 15:25] avikivity commented on #6462
I used scylla-package to install (as nonroot).

[2020-05-17 15:26] avikivity commented on #6462
Note you must use relocatable packages if crossing OS versions.

[2020-05-17 16:51] slivne commented on #6459
@elcallio please have a look

[2020-05-17 17:20] slivne commented on #6456
@denesb what validation falls under this ?
- empty keys
anything else ?

how costly is the validation (this will dictate if we can do this allways or not)

@avikivity any view on the subject - should we enable validation of keys by default ?

[2020-05-17 17:25] psarna commented on #5459
Just backported to 4.0, already included in 4.1. I'll start trying to pinpoint this broken promise tomorrow, assuming that it's the duplicated entry that causes the error.

[2020-05-17 17:38] slivne commented on #6445
@mmatczuk In the case of row level repair - I am not sure that repairing segment by segment makes sense - I think we have changed that - no ?

[2020-05-17 17:55] slivne commented on #6442
I do not think the issue is in printing - since we use the same "printing code"

[code]

scylla

[code]

while cassandra 3.11.3 has

[code]

So the printing code is the same it prints what is stored in the system tables.

Please note that we have used the fact that the user doesn't specify min_thresold to try and make compaction more / less aggressive - its indication if the user has optimized STC

[2020-05-17 17:58] slivne commented on #6440
We can;'t degrade the initial user reading LOCAL_ONE - its for correctness in case the password has changed.

[2020-05-17 17:58] slivne commented on #6440
I don't think this is alterantor specific - we are discussing generic solutions for this case.

[2020-05-17 18:05] slivne commented on #6438
@haaawk / @piodul - please check this out - please note this was run on 4.0.0 since its assume to be "good enough".

Unless we are overloading the nodes by the customer write workload (which I doubt is the case) - it seems that repair + hints maybe overloading the node (can you please check that the resources repair+hints make sense.

@piodul your change moving hints to its own verb (making sure i

[2020-05-17 18:06] psarna commented on #6440
Right, but I'm only suggesting to downgrade to LOCAL_ONE if the total number of nodes is 1, which means it's in fact as powerful as ALL - since there's only one copy of the data anyway. Not to mention that single node clusters are only seen in testing environments.

[2020-05-17 18:28] slivne commented on #6425
ref: https://github.com/scylladb/scylla/issues/2718

[2020-05-17 18:34] slivne commented on #6423
Not applying schema changes https://github.com/scylladb/scylla/issues/4248

Once all operations are done via manager it can control this.

@avikivity / @tzach priority ?

[2020-05-17 18:42] slivne commented on #6409
@avikivity / @gibsn - are we waiting for a reproducer with the flag ?

[2020-05-17 18:44] gibsn commented on #6409
@slivne we started a couple of nodes with flag `--abort-on-seastar-bad-alloc` but of course since that moment we had no fails, so waiting

[2020-05-17 19:36] slivne commented on #6407
@Felix-zhoux closing this issue - I expect Dor's input helped. if not please repost and we will help you solve it.

[2020-05-17 19:36] #6407 closed

[2020-05-17 19:38] slivne commented on #6402
@syuu1228  OEL is stuck on this

[2020-05-17 19:40] slivne commented on #6397
@asias  any explanation on this ?

[2020-05-17 19:47] slivne opened #6468 "unbootstrap coredump in gossip"
Coredump received during MV backpressure longevity test

Scylla version: ``` 4.0.0-0.20200505.d95aa77b62 with build-id c9cf14d33523aca01a1ba502a91eb9d400de9c34```
AMI: ```ami-0ad095d521c760c3f```

No RefreshNemesis before

Node 3 with IP ```10.0.12.86``` was decommissioned:
[code]

Decommissioned node 3 started Unbootstrap with 10.0.250.135 (node 4):
[code]

node4 10.0.250.135 removed decommission

[2020-05-17 19:48] slivne commented on #6386
I split @juliayakovlev issue to a new one https://github.com/scylladb/scylla/issues/6468

I am closing this issue as the cases with refresh have been explained.

[2020-05-17 19:48] #6386 closed

[2020-05-17 19:53] slivne commented on #6262
@asias ^^

[2020-05-17 19:54] slivne commented on #6308
@edisonqkj closing this as the issue is stale - If there is additional info please post and we work with you to resolve this

[2020-05-17 19:54] #6308 closed

[2020-05-18 00:25] syuu1228 opened #6469 "redis: EXISTS command with multiple keys causes SEGV"
With test_exists_multiple_existent_key on redis-test, I got following error:
[code]

[2020-05-18 01:05] ShlomiBalalis opened #6470 "Upgraded nodes fail to execute "ALTER TABLE" - "Failed to parse JSON""
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200515.a96087165
Cluster size: 4

After each node was upgraded from `3.3.1-0.20200418.6f939ffe199 with build-id ea9bf3b4c32c1dc414e467287990f8fdde231150` to `666.development-0.20200515.a96087165 wit
h build-id 2708dd331525470abcb1a42c34da3650e069b54e`, the node failed to execute one of the queries that we run during th

[2020-05-18 01:08] ShlomiBalalis commented on #6354
The issue still can occur, it occurred on this week's debian9 rolling upgrade
Version: 3.3.1-0.20200418.6f939ffe199

Logs:
[code]

[2020-05-18 01:14] asias commented on #6262
As far as I know, we do not hear direct complaint that cql and streaming/repair network competing has caused the cql latency spike. It is a possible cause of maintenance work having impact cql.
I created the issue so we do not forget it.

[2020-05-18 05:10] avikivity commented on #6425
Closing as duplicate of #2718.

[2020-05-18 05:11] #6425 closed

[2020-05-18 05:29] eliransin commented on #6040
OK - I have a very strange result:
First Of All a translation table:

node # | priv ip | global ip| long name
|---|---|---|---
|1| 172.30.0.158| 54.84.234.41|eliransin_6040_debug-eliransin-db-node-f078b4ca-1
|2| 172.30.0.169 | 54.164.7.236|eliransin_6040_debug-eliransin-db-node-f078b4ca-2
|3|172.30.0.218 |3.87.226.44|eliransin_6040_debug-eliransin-db-node-f078b4ca-3
|4|172.30.0.212 |54.165.251.218

[2020-05-18 05:40] tzach commented on #6423
This is handled by the feature vector already

I do not see a problem with local operation like refresh
Topology updates are problematic, but I'm worried that you might needs them in a case of a problem. For example a node dies during upgrade.

So we have 3 actions:
1. New Feature - done ?
2. Topology changes - ?
3. Schema changes  #4248

Each deserve its own issue

[2020-05-18 05:48] eliransin commented on #6040
OK - now the queries with tracing shows that get natural endpoints is wrong (which is a different bug???)
Queries with tracing:
[code]

So.... The data is there but is not retrieved for some reason...

[2020-05-18 05:55] eliransin commented on #6040
Next step look at the sstables metadata to see maybe something is wrong there.

[2020-05-18 06:11] denesb commented on #6456
@slivne this would call `validate()` on the key, which would validate such things as:
* The key has all required components, but not more (e.g. partition keys have to be full i.e. have all components present).
* Validate each component, that the value is valid for the type.
We would also check that the key is not empty.

[2020-05-18 06:32] eliransin commented on #6040
The metadata seams ok (min and max tokens contains the token searched for).
also running with bypass cache returned nothing:
[code]

My next (wild) guess is that maybe the excess number of keys messes up the bloom filter (?)

[2020-05-18 07:01] amnonh commented on #6105
@slivne @eliransin
`background_write_bytes` is still missing in 4.1.rc is it going to be fixes?

https://github.com/scylladb/scylla/commit/971711a5461c09421f1c9b1b3b2d9f6209a425da

[2020-05-18 07:01] Termite commented on #6040
As said earlier, we didn't realize the data loss with version 3.0, maybe this can narrow down the search, dependend on the changes in compaction or repair.

[2020-05-18 07:11] bhalevy commented on #6456
@denesb let's implement that and measure its effect on performance.

[2020-05-18 07:40] elcallio commented on #6067
No `nodetool reloadssl`, but again: not needed. Certificate reloading should be instantaneous.

[2020-05-18 07:52] elcallio commented on #6466
The test is wrong. The "collections" case states its entry for list as:
'''
{
        "cl_type": "list<int>",
        "ins_dataset": [1, 2],
        "upd_dataset": [3, 4],
        "add_el_dataset": [5],
        "del_el_dataset": [1],
        "result_add_element_dataset": [1, 2, 5],
        "result_delete_element_dataset": [2]
    }
''''
but non-frozen lists are returned as `list<tuple<timeuuid, <v

[2020-05-18 07:57] aleksbykov commented on #6466
yes, i found the wrong method for comparing result. Prepare the fix

[2020-05-18 08:08] mmatczuk commented on #6445
API did not change, we repair a token range @slivne.

[2020-05-18 08:10] amoskong commented on #6460
@slivne @roydahan

This issue caused AMI-test failed, then other important tests won't be triggered.
So it should be a test blocker.

[2020-05-18 08:15] elcallio commented on #6309
Don't know what to do with this. The logs are a bit unclear as to which part relates to what event, but there seem to be a lot of repair and compaction going on, and some nodes even have trouble rpc-connecting to others(?).

If one or more nodes are stuck a huge compaction job when truncating, it is not surprising that truncation times out, since it must wait for compaction to finish. Would be hel

[2020-05-18 08:24] juliayakovlev commented on #6309
Same issue received during ```longevity-large-partition-200k_pks-4days```
Scylla version: 4.0.0-0.20200505.d95aa77b62
cluster: 5 nodes (i3en.3xlarge)

The error received when start scylla-bench command:
[code]

When load run with ```-validate-data```, performs truncate table:
[code]

and load failed to start due truncate timeout:
[code]

And test failed on it:
[code]

Test logs:
[code]

[2020-05-18 08:31] roydahan commented on #6470
@ShlomiBalalis change the upgrade test base version to 4.0 and test again.

[2020-05-18 09:04] slivne commented on #6309
@glommer / @raphaelsc - since we are truncating the table I don't see any reason to wait for ongoing compactions that can take "ages" - anyway we can abort ongoing compactions ?

[2020-05-18 09:14] slivne commented on #6470
@ShlomiBalalis   / @roydahan the issue is the caching format ``` AND caching = 'rows_only' ```
that you are using is illegal in cassandra and synce we started to use this from 4.2 its not legal in scylla as well.

So please fix the schema to be correct - and then it should work

You'll hit the same issue with 4.0 and 4.1

[2020-05-18 09:15] slivne commented on #6470
once done and works please close this

[2020-05-18 09:19] ShlomiBalalis opened #6472 "Segmentation fault During nodetool rebuild"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200514.96e35f841 with build-id ba302fa587e16a5ad7b703e07f5873acdd001c98
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e2844809748e69a0
Test that experienced the issue: **cdc-100gb-4h**

At `2020-05-15 00:28:59.446` a CorruptThenRebuild nemesis started on node#6. The nemesis consists of shutting down the scylla

[2020-05-18 09:20] slivne commented on #6454
@dkropachev which column was added / dropped ? is that a new column not part of the initial schema, or part of the initial schema

this is the profile
[code]

[2020-05-18 09:22] slivne commented on #6453
@dkropachev

This is the schema from the c-s profile, which columns were added / dropped iare they part of the initial schema or a new column ?

[code]

[2020-05-18 09:27] slivne commented on #6445
for row_level repair we have https://github.com/scylladb/mermaid/issues/1736 - no ? that means that we will have "larger token ranges" (not per shard split by msb_bit) - or am I missing something ?

[2020-05-18 09:40] mmatczuk commented on #6445
The Scylla API that Manager (or Nodetool) uses remains the same, the way it's used changes in the issue you linked.

For this issue it's completely irrelevant how you schedule repair job in Scylla. It's important how you wait for Scylla to end.

[2020-05-18 10:21] eliransin commented on #6040
As suggested by @slivne  , we have a (relatively) small reproducer:
A docker which has one of the sstables that contains 77 with smp 1 and identical schema with RF=1.
Importing this table and trying to query this infamous 77 still gets nothing:
[code]
So we are down to the sstable indexing/bloom filter that gets messed up during compaction. Given this I will also follow @Termite lead which pinpoin

[2020-05-18 10:35] ShlomiBalalis opened #6473 "Nodetool rebuild - 4 nodes aborting during repair"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200514.96e35f841 with build-id ba302fa587e16a5ad7b703e07f5873acdd001c98
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e2844809748e69a0
Test that experienced the issue: **alternator-3h**

At `2020-05-15 02:55:46.988` a RebuildStreamingErr nemesis has started with node#5 being the target node. This nemesis consis

[2020-05-18 10:35] kostja commented on #6359
LWT doesn't use hints. As soon as the node is in "pending endpoints", it will receive Paxos writes.

[2020-05-18 10:36] kostja commented on #6302
Duplicate of #6284

[2020-05-18 10:36] #6302 closed

[2020-05-18 11:00] nizarh11 commented on #4491
The issue is not reproducing, I tried both manually and with automation.
Added the test in the following PR, I suggest keeping it although it's not reproducing.

https://github.com/scylladb/scylla-dtest/pull/1436

One important thing to mention, regarding step (5). instead of wait until streaming begins I used wait until "DECOMMISSIONING: unbootstrap starts".
I wasn't able to get any "stream_sessi

[2020-05-18 11:18] bhalevy opened #6474 "temporary sstable directories left over after clean node shutdown"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/486/testReport/sstableloader_test/TestMigration_with_3_0_x/migrate_sstable_with_large_row_number_test/
Scylla version a96087165a92959ff4da74364b681c2906c16745
[code]

This happened despite the node clean shutdown
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/486/artifact/logs-release

[2020-05-18 11:18] dkropachev commented on #6454
@slivne,
We have nemesis called "AddDropColumn", it add and drop randomly named columns with random type and random quantity in the cycle of 10 minutes, as fast as server allows in a single connection, and it is limitted to drop only columns it created.
Unfortunately we do not log types and names of created and deleted columns.

This run was configured to run this Nemesis each 15 minutes, no other

[2020-05-18 11:22] dkropachev commented on #6454
@slivne , probably it could be usefull for you to know that this nemesis can generate collections up to 10 levels deep.

[2020-05-18 11:29] eliransin commented on #6040
sstable reproducer can be downloaded using the command:
`gsutil cp gs://upload.scylladb.com/7cf8c51a-8ab4-4798-9248-71dcb754bb66/* .`
/cc @bhalevy

[2020-05-18 11:29] eliransin commented on #6040
This table contains key 77 which doesn't appear in cql results.

[2020-05-18 12:07] nyh commented on #6454
@dkropachev I'm trying to understand if this issue is related to materialized views and should be labeled with "materialized views".

Am I correct to understand the bug happens while you are constantly writing to a table with a materialized view (a secondary index, actually), you keep randomly adding and deleting irrelevant columns to the base table? I'm calling these columns "irrelevant" because

[2020-05-18 12:31] nyh commented on #6453
If I understand correctly, this is exactly the same setup as #6454 but it's just a different type of crash when running a second time? Is this specific crash reproducible or you get a different crash (or no crash at all) in different runs?

[2020-05-18 13:14] aleksbykov opened #6475 "Alter base table with cdc TTL changes only, disable cdc totally"
*Installation details*
Scylla version (or git commit hash):
scylla-product: scylla
scylla-release: 0.20200516.a96087165a9
scylla-version: 666.development
scylla-BuildID[sha1]: b00c2631939d1214944b942b91bbebc4e8639085
Cluster size: 1

On base table cdc option was enabled with TTL. if alter base table with cdc option TTL only, cdc was disabled totally

[code]
As workaround change ttl should containt

[2020-05-18 13:29] glommer commented on #6309
Just to make sure everything is covered, are you guy disabling my third least favorite flag,
`auto_snapshot: false`

note that the default is true. I don't have the fact that this flag exists, I just hate the fact that it defaults to true.

[2020-05-18 13:33] #6297 closed

[2020-05-18 13:33] #6465 closed

[2020-05-18 13:57] bhalevy commented on #2347
Can this issue be put to rest?

[2020-05-18 14:10] nyh commented on #5743
When we do this, the "expired_sstable_check_frequency_seconds" compaction parameter should probably be ignored, and code which uses it (e.g., commit cd33b9f4068e9adf56c41bb91de05cf26198f752) be removed.

[2020-05-18 14:25] jul-stas opened #6476 "Scylla cannot be connected from cpp-driver 2.15.1"
After negotiating protocol version to v4 client gets a `RESULT` message, which is malformed according to wireshark. The tcpdump from a connection attempt is attached.
Interestingly, everything works with `cpp-driver-2.15.0`.

[code]
[scylla_pcap.zip](https://github.com/scylladb/scylla/files/4644644/scylla_pcap.zip)

[2020-05-18 14:32] gibsn commented on #6409
Ok, so another node has just failed and exited, though we did not start it with `--abort-on-seastar-bad-alloc`. We have BT and coredump

BTW this node has 1.5x more memory and 1.25x more shards

[2020-05-18 14:38] gibsn commented on #6409
we have this bt in scylla logs:
[code]

and this manually taken from coredump:
[code]

[2020-05-18 14:41] slivne commented on #6476
the problem is from the client side (driver - in my view) the options packet is not correct

![client_incorrect](https://user-images.githubusercontent.com/3465480/82225535-00d92e80-992e-11ea-8879-60233fba06a5.png)

correct options

![correct_client](https://user-images.githubusercontent.com/3465480/82225555-059de280-992e-11ea-9f01-a99da5df690b.png)

The first byte seems incorrect:

https://github.

[2020-05-18 14:45] raphaelsc commented on #5743
On Mon, May 18, 2020 at 11:10 AM nyh <notifications@github.com> wrote:

I think we should still keep it because it's not possible to know for sure
when a sstable can be really purged taking into account overlapping
counterparts. So we could set up an alarm clock for a sstable A, hoping it
can be purged when its metadata tells us so, but it could happen that a
sstable B contains data that blocks ss

[2020-05-18 14:54] gibsn commented on #6409
Also we are seeing this message in our app logs:
[code]

I can see in scylla code that this string is formed by scylla, not our connector (gocql). So if coordinator received one response with CL=ONE, why did it fail?

[2020-05-18 14:55] nyh opened #6477 "build_reloc.sh should not run configure.py"
Even if you already built Scylla yourself, `reloc/build_reloc.sh` still runs `configure.py` with slightly different parameters and causes a recompile of everything. This is not just frustrating for purists, it is also genuinely annoying because the new build can be very slow - even slower than usual (e.g., if the user usually builds using distcc).

@penberg has been working to make sure that the v