[2021-06-22 07:24] bhalevy commented on #8899
what's the schema?
do we really have such big cells / collections?

[2021-06-22 07:26] bhalevy commented on #8901
Duplicate of #8899

[2021-06-22 07:26] #8901 closed

[2021-06-22 07:27] bhalevy commented on #8899
Refs https://github.com/scylladb/scylla/issues/8248

[2021-06-22 07:27] asias commented on #8899
[code]

[2021-06-22 07:34] haaawk commented on #1413
There's an intern starting July who will be working on this.

[2021-06-22 07:37] bhalevy commented on #8889
@asias - let's understand the root cause and decide if returning 0 is correct or not in this case.

[2021-06-22 07:39] asias commented on #8889
@kbr- I will take care of this one.

[2021-06-22 08:30] asias commented on #8890
I will take care of this too.

[2021-06-22 09:14] elcallio commented on #8749
Good news: I can reproduce this.
Bad news:
* I cannot repro in debug.
* Regardless of "fixed" rp_set clearing applied or not, this happens.
* 131da30 was sent/merged _after_ this issue was even created. I find it hard to believe it caused the crash. And as I recall, the commit was to deal with a different error in the same (?) test. Though not crash.

[2021-06-22 10:23] bhalevy commented on #8749
me neither.

what do you mean by "fixed"?

@elcallio my suspicion is about the latest crashes I saw, not the original crash when this issue was opened.
Anyhow, mu thinking is that https://github.com/scylladb/scylla/commit/131da3085695bb13797254a32c8ccc8da21d545f caused `table::clear` to not call discard_completed_segments, therefore somehow triggering this crash.

[2021-06-22 10:33] elcallio commented on #8749
Fixed, as in actually clearing existing memtable rp:s (before mremtable reset in table::clear()).
Not clearing segments should not cause any crashes, just leaked data. I've been trying to find any way that we somehow reference into memtable list while task switching or similar, or suspend during iteration (allowing a clear() to sneak in), but I cannot really find it.

[2021-06-22 10:43] roydahan commented on #8808
@yarongilor / @nyh This test is failing consistently, at some point during one of the nemesis (I don't think it's bound to repair, in the last run it happened during decommission), timeouts are starting to accumulate until the c-s fails.

[2021-06-22 10:53] roydahan commented on #8808
I checked one run in 4.4 (maybe need to check more) and saw that this issue didn't happen, so considering this as a regression.

[2021-06-22 10:58] bhalevy commented on #8749
I also tried this: https://github.com/bhalevy/scylla/commit/e416f8c6a2c2d904df9751ed10caec49ba395781
although again, I can't explain why leaving those functions alive would cause this segfault,
since they are performed under the _async_gate so the table can't be stopped and `_memtables` should be perfectly valid
when `table::do_apply` is called.

Maybe `memtable_list::erase` is called on a non-fou

[2021-06-22 11:02] nyh commented on #8808
@roydahan you said that "this test is failing consistently", so is it possible to try simplify the scenario and find what is relevant and what is not? Does it happen only during repair (or decommission, which if I understand correctly since recently uses the same repair code, right @asias ?) - or also without repair? Does it happen only when Alternator is involved or also when just the CQL cassand

[2021-06-22 11:08] bhalevy commented on #8749
We're not synchronizing with pending flushes in `table::clear` (called from `database::truncate`).

[2021-06-22 11:09] elcallio commented on #8749
That might actually be it. If a clear() was called while we were doing the flush, we could end up causing undefined behaviour here. std::vector::erace(iterator) will bork badly (probably moving wrong mem) iff pos == end().

[2021-06-22 11:29] asias commented on #8808
By default, node operations are not using repair yet.

[2021-06-22 11:31] bhalevy commented on #8749
I'll send a patch to fix that.

[2021-06-22 11:32] elcallio commented on #8749
I already wrote and are testing. But if you prefer you can take it.

[2021-06-22 11:35] bhalevy commented on #8749
great, I'll be happy to review it when ready

[2021-06-22 13:32] avikivity commented on #3297
This is long since fixed.

[2021-06-22 13:32] #3297 closed

[2021-06-22 13:59] psarna commented on #8675
Dequeued due to next failing

[2021-06-22 14:22] ksunil6266 opened #8907 "Failed mounting RAID volume after reboot and stop/start"
facing below issue after reboot ec2 machine

AWS AMI: ami-08e2bf14647cb11a7

`-bash: warning: setlocale: LC_CTYPE: cannot change locale (UTF-8): No such file or directory

   _____            _ _       _____  ____
  / ____|          | | |     |  __ \|  _ \
 | (___   ___ _   _| | | __ _| |  | | |_) |
  \___ \ / __| | | | | |/ _` | |  | |  _ <
  ____) | (__| |_| | | | (_| | |__| | |_) |
 |_____/ \__

[2021-06-22 14:45] bhalevy commented on #8899
Cc @xemul

[2021-06-22 14:53] bhalevy commented on #8897
Looks similar to https://github.com/scylladb/scylla/issues/7950#issuecomment-766727416
from `bytes_ostream::alloc_new` and on.

[2021-06-22 14:54] bhalevy commented on #8899
Refs (duplicate of?) https://github.com/scylladb/scylla/issues/8828

[2021-06-22 14:57] bhalevy commented on #7950
This wasn't reproduced since ff5b42a was merged.
Can be closed...

[2021-06-22 14:57] #7950 closed

[2021-06-22 14:59] bhalevy commented on #7950
Leaving the Backport candidate label on #8081 instead, and removing the one here.
It's the same fix.

[2021-06-22 15:21] juliayakovlev opened #8908 "During rebuild the node was run out of space"
*Installation details*
Scylla version (or git commit hash):
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): https://www.googleapis.com/compute/v1/projects/scylla-images/global/images/1192329434759493726

Test: longevity-1tb-5days-gce-test
[Test job](https://jenkins.scylladb.com/job/scylla-4.5/job/longevity/job/longevity-1tb-5days-gce-test/3/)
[Test yaml](https://github.com/scylladb/scylla-c

[2021-06-22 15:28] roydahan commented on #8418
@slivne Why isn't it targeted to 4.5?
I think it affects every multi-dc configuration.

[2021-06-22 15:48] roydahan commented on #8808
I don't know hoe to simplfy the scenario more than "run this load + this nemesis".
It happens only in the alternator test.
It happens for c-s load that does CQL in parallel to the ycsb that runs the alternator load.

[2021-06-22 15:59] avikivity commented on #8900
What's the schema for this table? Does it contain a static row with a huge collection or something?

[2021-06-22 17:00] roydahan commented on #5080
Because this issue is not being fixed and similar issues are being opened.
I decided to disable this nemesis for now:

https://github.com/scylladb/scylla-cluster-tests/pull/3698

[2021-06-22 17:57] raphaelsc commented on #8908
@juliayakovlev what''s the scylla version? what's the compaction strategy?

[2021-06-22 18:07] fgelcer commented on #7779
seeing similar issue during longevity-lwt-3h-test on master:
[code]

logs are here:
[code]

[2021-06-22 18:09] raphaelsc commented on #8908
please send the log of 10.142.0.100

[2021-06-22 18:11] raphaelsc commented on #8908
image below shows that rebuild caused that node to use 2x more space. need to figure out if that's a regression in rebuild.

![jun_22_8908](https://user-images.githubusercontent.com/1409139/122977505-e01eac00-d36b-11eb-8a99-48ae4cc306b6.png)

looks like this test never passed. is it a regression?

[2021-06-22 18:13] juliayakovlev commented on #8908
Compaction strategy:
- LeveledCompactionStrategy
-

Unfortunately we have no logs. And the node was terminated.
I try to reproduce the test now

[2021-06-22 19:06] #8733 closed

[2021-06-22 19:06] #8749 closed

[2021-06-22 19:06] #8902 closed

[2021-06-23 05:10] juliayakovlev commented on #8908
The issue is reproduced.
Test runs. Cluster is alive

Test runs same configuration and CorruptThenRebuild nemesis every 10 min on the same node

[Job](https://jenkins.scylladb.com/job/scylla-4.5/job/Reproducers/job/longevity-1tb-5days-gce-test-8908/2/console)

[scylla-per-server-metrics-nemesis](http://34.73.153.249:3000/d/mTEEe9R7k/longevity-1tb-5days-gce-test-8908-scylla-per-server-metrics-nemes

[2021-06-23 05:36] bhalevy opened #8911 "Segfault in do_stop_gossip due to double stop in commitlog_test:TestCommitLog.stop_failure_policy_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3677/artifact/logs-gating.release.2/1624407595877_commitlog_test.TestCommitLog.stop_failure_policy_test/node1.log
but it seems applicable to master as well
[code]

Core dump: https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3677/artifact/logs-gating.release.2/1624407595877_commitlog_test.TestCommitLog.st

[2021-06-23 05:38] bhalevy commented on #8911
Cc @xemul

[2021-06-23 05:45] bhalevy commented on #8911
We call `stop_gossiping` both from https://github.com/scylladb/scylla/blob/373fa3fa07d366ea5a8632f0ddffae6f226f64c3/service/storage_service.cc#L1345
and https://github.com/scylladb/scylla/blob/373fa3fa07d366ea5a8632f0ddffae6f226f64c3/main.cc#L1199

But here it looks like both invocations come from `stop_transport` according to the log.

In any case, `stop_gossiping` and `do_stop_gossiping` are sup

[2021-06-23 05:58] bhalevy commented on #8911
FWIW, according to the log, it looks like we didn't get to https://github.com/scylladb/scylla/blob/373fa3fa07d366ea5a8632f0ddffae6f226f64c3/main.cc#L1198-L1200

Last deferred shutdown is from https://github.com/scylladb/scylla/blob/373fa3fa07d366ea5a8632f0ddffae6f226f64c3/main.cc#L1418-L1420

[2021-06-23 06:04] asias commented on #8908
@juliayakovlev Nice you managed to reproduce. Could you share the logs of 35.231.182.209 before the job finishes. Did we run such test against older version, e.g., scylla 4.4?

@raphaelsc There is no change in the areas of rebuild operations for a while. I checked commits from 4.4.0 to 4.5-rc2.

A wild guess is that rebuild failed in the middle and it performed retry of the rebuild automatically.

[2021-06-23 06:07] bhalevy commented on #8911
Aha! `storage_service::stop_transport` runs twice, apparently in parallel.
[code]

[2021-06-23 06:12] bhalevy commented on #8911
I think we go through https://github.com/scylladb/scylla/blob/373fa3fa07d366ea5a8632f0ddffae6f226f64c3/service/storage_service.cc#L3604-L3608

as per
[code]

probably due to https://github.com/scylladb/scylla/pull/8578/commits/f01307d816cf9e0155bd0a835adabc4b977f2219 which seems to be doing what it's supposed to do

[2021-06-23 06:13] bhalevy commented on #8911
Bottom line is that we need to harden `stop_transport` and `do_stop_gossiping` so they could be invoked in parallel and be idempotent.

[2021-06-23 06:22] asias opened #8912 "cache::cache_flat_mutation_reader::maybe_add_to_cache stalls 42ms"
scylla:

846f0bd

binary:
http://downloads.scylladb.com/unstable/scylla/master/relocatable/2021-06-13T17:47:22Z/

job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/11/

decode:

[code]

[2021-06-23 06:30] nyh opened #8913 "Allow configuration options with either underscores or hyphens in their names"
Today, configuration options in scylla.yaml have underscores in their names, e.g., `alternator_port`, while the same option used in the command line has a hyphen - `--alternator-port`. This difference is confusing, and we've seen examples where users took an example from the command line and put it in the scylla.yaml, or vice versa, and were surprised that it didn't work.

We should have used the

[2021-06-23 06:37] bhalevy opened #8914 "Retire DateTieredCompactionStrategy (DTCS)"
DTCS usage is discouraged already for a long time and customers using DTCS are advised to move to TWCS.
DTCS itself is not well tested and not really maintained so we should deprecate it and later disallow using it at the CQL level.

[2021-06-23 06:43] bhalevy commented on #8914
We already have 628dd165199a748b7e39400349b6e72f1955c138 since 4.0.
so I think we can return an error at the CQL level when creating or altering a table.

Cc @eliransin @nyh @raphaelsc

[2021-06-23 06:43] juliayakovlev commented on #8908
[35.231.182.209.zip](https://github.com/scylladb/scylla/files/6699510/35.231.182.209.zip)

This test was run in [4.4](https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4.4/job/longevity/job/longevity-1tb-7days-GCE-test/) and never passed. But it was different problems. Nemesises were not started at all during the tests

[2021-06-23 06:50] avikivity commented on #8912
object_descriptor::encode, see #8828

[2021-06-23 06:52] avikivity commented on #8912
object_descriptor::encode, see #8828

[2021-06-23 06:52] avikivity commented on #8898
object_descriptor::encode, see #8828

[2021-06-23 06:54] avikivity commented on #7181
object_descriptor::encode, see #8828

[2021-06-23 06:58] #8755 closed

[2021-06-23 06:58] #8900 closed

[2021-06-23 06:59] avikivity commented on #8828
This was recently optimized by @xemul in f05ddf0967f7241d72dafec37aab8423d0fe1f64. But I don't believe such a micro-optimization addresses the problem (and I don't understand the problem in the first place).

[2021-06-23 07:12] nyh commented on #8914
@bhalevy we can make forbidding DTCS optional (a "safe mode" option, like the one to forbid SimpleStrategy) - and make this option the default (or not yet the default).
Alternatively, we can also decide to prohibit DTCS unconditionally - and not even provide a way to override this prohibition.
So which way shall we go?

[2021-06-23 07:15] aleksbykov commented on #8418
start the multidc job: https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/longevity/job/longevity-alternator-3h-multidc-test/3

but it failed because second node failed to start scylla with next error:
2021-06-22T08:57:11+00:00  alternator-3h-multidc-4-5-db-node-c72cd873-2 !ERR     | scylla:  [shard 0] init - Startup failed: std::runtime_error (sorted_tokens is empty in first_token_in

[2021-06-23 07:19] dorlaor commented on #8914
I think that there is no value in DTCS over TWCS and we should push users
to just convert. In such a case it may be better to just disable it. I
don't have
a strong opinion here

On Wed, Jun 23, 2021 at 12:12 AM nyh ***@***.***> wrote:

[2021-06-23 07:28] nyh commented on #8914
The nice thing about having an option "--restrict-dtcs" and turning it on by default (to prevent dtcs from being used) is that someone who feels very strongly about using DTCS still can, by disabling this option. We're not planning to remove the support for DTCS in the code anyway (since existing clusters may be using this compaction strategy).

[2021-06-23 07:48] amoskong commented on #7899
This issue occurred in https://jenkins.scylladb.com/job/scylla-4.5/job/rolling-upgrade/job/rolling-upgrade-ami-test/26/
- Upgrade from 4.4.3-0.20210609.bfafb8456 to 4.5
- test id: e3d3e24a-11d1-4164-9b7e-2abdb7e45b93
- db log: https://cloudius-jenkins-test.s3.amazonaws.com/e3d3e24a-11d1-4164-9b7e-2abdb7e45b93/20210621_120107/db-cluster-e3d3e24a.zip
- loader: https://cloudius-jenkins-test.s3.amazon

[2021-06-23 08:04] bhalevy commented on #8914
Summoning @tzach too

[2021-06-23 08:04] haaawk commented on #8410
It seems that the problem occurs even without any data actually being added to the table:
[code]

[2021-06-23 08:08] asias commented on #7882
It will bring more issues.

[2021-06-23 08:30] haaawk commented on #8410
This may not be a CDC related issue. It seems that we're passing to `type_codec::encode` a type that it can't handle and we hit the assertion: https://github.com/scylladb/scylla/blob/master/transport/server.cc#L1829

[2021-06-23 08:56] bhalevy commented on #8874
More about the motivation for this issue:

We generate much less range tombstones with
https://github.com/scylladb/scylla/issues/7668 fixed.
But we still generate range tombstones for sstables
that do hold large_ data.

They accumulate in the cache as per:
https://github.com/scylladb/scylla/issues/7750

and they need to be evicted gradually, as per:
https://github.com/scylladb/scylla/issues/3288

[2021-06-23 09:08] syuu1228 opened #8915 "scylla_io_setup: Does not check write permission of /etc/scylla.d/io_properties.yaml before starting the evaluation"
This is side effect of allowing to run scylla_io_setup in nonroot mode, the script able to run in non-root user even the installation is not nonroot mode.
Result of that, the script finally failed to write io_properties.yaml and causes permission denied.
Since the evaluation takes long time, we should run permission check before starting it.
Or, we can block running the script on non-root user, wh

[2021-06-23 09:30] haaawk commented on #8410
apparently we're getting an abstract_type with kind == empty

[2021-06-23 10:33] shoshan opened #8917 "Repair takes more than 6h test reach timeout."
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.rc3-0.20210620.706de00ef`
Cluster size: 3 nodes (i3en.3xlarge)
Scylla running with shards number (live nodes):
   gemini-8h-large-num-columns-4-5-db-node-1684666d-1 (54.229.175.18 | 10.0.2.40): 12 shards
   gemini-8h-large-num-columns-4-5-db-node-1684666d-2 (34.245.115.3 | 10.0.2.115): 12 shards
   ge

[2021-06-23 10:44] roydahan commented on #8908
I just noticed that these instances in GCE are using **only 6 local_ssd** drives (each disk is 375GB, total is 2.25 TB).
I don't think it's enough for the 1TB dataset, even though we use LCS.

[2021-06-23 10:56] roydahan commented on #8908
@juliayakovlev can you please retest with this change:
https://github.com/scylladb/scylla-cluster-tests/pull/3702

[2021-06-23 11:04] ShlomiBalalis commented on #8310
The error was seemingly reprduced in the mv-si test of 4.5:
Scylla version (or git commit hash): 4.5.rc2-0.20210610.e820e7f3c5a with build-id e4eded61477430fe971af6cd4f4102ea933f9f48
Cluster size:5
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-02f3eac8aa2b1d8b9 (eu-west-1)
job's yaml: https://github.com/scylladb/scylla-cluster-tests/blob/master/test-cases/longevity/longevity-mv-si-4days.yaml

During the ent

[2021-06-23 11:04] slivne commented on #8713
According to QA 4.4.3,4.3.5 4.5.rc3 are all fixed closing the issue

[2021-06-23 11:04] #8713 closed

[2021-06-23 11:09] slivne commented on #8410
not a regression

[2021-06-23 11:10] avikivity commented on #7882
It was a joke, I don't think it's easy.

[2021-06-23 11:13] slivne commented on #8016
@roydahan / @shoshan this should be fixed in 4.5.rc3

[2021-06-23 11:18] slivne commented on #7726
@amoskong ping

[2021-06-23 11:19] slivne commented on #7720
We have a fix for this in 4.5.rc3

@roydahan lets retest

[2021-06-23 11:20] slivne commented on #7570
@asias ping

[2021-06-23 11:48] juliayakovlev commented on #8908
Running: https://jenkins.scylladb.com/job/scylla-4.5/job/Reproducers/job/longevity-1tb-5days-gce-test-8908/3/console

[2021-06-23 11:50] avikivity commented on #8900
Minor, not backporting.

[2021-06-23 12:09] tzach commented on #8914
I doubt anyone is using DTCS
@nyh suggestion make sense:
- Disable DTCS by default
- Remove DTCS in the next major release (2022.1, 5.0)
- Announce both clearly in release notes and upgrade guide

[2021-06-23 12:42] raphaelsc commented on #8914
I thinks step 2 should restrict creation of new DTCS tables, but allow existing tables to still be used with warning asking for a switch because DTCS support will soon be removed. Then on step 3, we'd remove DTCS from codebase and users who refused to switch will have DTCS falling back to STCS, like it happens now if any unsupported strategy is used.

[2021-06-23 13:11] psarna opened #8919 "Read-before-write for materialized view updates can overload user reads"
Materialized view updates may need to perform read-before-write. These reads are generally executed with the same priority as regular user reads, which means that a write-intensive workload on a table with materialized views may cause problems when reading from this table. Namely, read-before-write ops can take all the resources of a given replica (semaphore units required to create a reader, etc)

[2021-06-23 13:17] psarna commented on #8919
By the way - the 5 minute timeout is bad, **but** if we had a separate read concurrency semaphore for read-before-writes, the issue would get solved on its own anyway - user reads would be able to proceed because they would have their own pool of resources, while read-before-write ops would get stuck, which means they would induce write backpressure and things should go back to normal (assuming th

[2021-06-23 13:25] bhalevy commented on #8914
@raphaelsc fwiw, the warning is printed since 4.0 (628dd16).
I doubt users actually take any action on log warnings if otherwise everything else seems to work.
Unless we refuse to start and allow starting only with a new option acknowledging and allowing DTCS we can't be sure that the user is aware of DTCS's deprecation.

[2021-06-23 13:33] raphaelsc commented on #8914
makes sense. thanks for the explanation.

[2021-06-23 13:49] eliransin commented on #8913
I am in favor of this :+1:
@tzach any objections?

[2021-06-23 14:36] psarna commented on #8919
As a quick visualisation of the problem, here's a sample cql-pytest code which currently fails, because our read concurrency semaphore for user reads is hardcoded to 100 units. The test runs a thread with read concurrency == 85, and a separate write workload which induces some read-before-write ops from materialized view updates. It can be observed that write backpressure does not happen (because

[2021-06-23 14:51] haaawk commented on #8410
Probably this is the problem: https://github.com/scylladb/scylla/blob/master/schema.cc#L1130
For compact storage tables we sometimes add column of empty_type type just to make sure each table has at least 1 regular table. You can see that schema provided by Alex has only primary key columns and no regular column so it's this case. I guess that our CDC schema handling code is copying this empty col

[2021-06-23 15:09] psarna commented on #8919
Grafana screenshot from 2 runs of the cql-pytest above - the first one on current scylla master, in which user reads start returning semaphore errors, and then the second one aftr the patch above applied. All the read-before-write pressure is moved from user reads to another semaphore. Again, using the existing streaming semaphore has its disadvantages, so perhaps another specialized semaphore is

[2021-06-23 16:44] nyh commented on #8919
@psarna is this issue a dup of #8873 which I opened a few days ago?

[2021-06-23 16:46] vladzcloudius opened #8920 "loading_cache.hh: items last read time is not updated in sync calls like loading_cache::find(...)"
*Installation details*
HEAD: 373fa3fa0

*Description*
Synchronous getters like `loading_cache::find(...)` don't update the last_read timestamp and don't update the LRU list.

As a result entries are going to be evicted only according to their creation/last reload times if these APIs are used.

This impacts `prepared_statements_cache` for instance.

[2021-06-23 16:49] vladzcloudius commented on #8920
Found while working on a fix for https://github.com/scylladb/scylla/issues/8674

[2021-06-23 17:11] kbr- commented on #5355
There were two problems here: a server side problem and a client side problem.

The client side problem was described by @asias: the stressor tools keep trying to send requests to the downed node for some time, basically stopping until their TCP connections are dropped.
To expose the server side problem we can avoid the client side problem by restarting our stressor immediately after shutting down

[2021-06-23 17:35] psarna commented on #8919
Hm, looks like it is. Tomorrow when in front of my pc I'll close this one and transfer the comments with the test case and monitoring screenshots

[2021-06-23 23:30] vladzcloudius commented on #3561
@asias I believe that if we apply compacting reader on a streamed data before sending we should make sure to send expired tombstones if they are the latest data version on a sending replica.

If we don't do that we will find ourselves in the situation where repair will be unable to restore the data consistency on repaired nodes.

[2021-06-23 23:39] raphaelsc commented on #3561
On Wed, Jun 23, 2021 at 8:30 PM Vladislav Zolotarov <
***@***.***> wrote:

this behavior would only work if the expired tombstones weren't compacted
away no? please correct me if i am mistaken, but this would only work if
expired tombstones are still around by luck.

[2021-06-23 23:48] asias commented on #3561
We need to repair before the tombstone expires and being compacted away anyway. If the tombstone is expired but is still present, it is better to send it to peers even if it is expired  to be safe.

[2021-06-24 01:03] asias commented on #3561
@denesb can you please clarify if the flat mutation reader for streaming  will return the latest tombstone if it is older than gc_grace_period currently without the compact reader? What happens if we plug the compact reader into streaming reader.

[2021-06-24 01:21] asias commented on #7570
4.3 does not either 'gossip: Introduce direct failure detector' nor gossip: Relax failure detector update'. It is known issue that under heavy load, a node might be marked as down which in turn fails the repair.

I suggest to retest with master which have the fixes above.

[2021-06-24 02:10] yangly0815 opened #8921 "When scylla-server was stopped manually，a few minutes later it will restart itself again"
I want to stop scylla-server and i execute "systemctl stop scylla-server", but a few minutes later, it will restart automatically. So how to stop scylla-server and it cannot restart itself until i re-execute the command "systemctl restart scylla-server".

Thanks!
[code]

I modify the scylla-fstrim.timer file as followings:
[root@node01 ~]# cat /usr/lib/systemd/system/scylla-fstrim.timer
[Unit]
Des

[2021-06-24 02:25] asias commented on #5355
+1 for closing this issue.

[2021-06-24 05:24] slivne commented on #5355
Thanks much better - but @Kamil Braun ***@***.***> / @Asias He
***@***.***>  I would like to take it a step further

@Kamil Braun ***@***.***>  With regards to NIC going down - in
your case was that NIC also used for server-server + client-server
communication
1.  Server-server Fix it so that server will detect a nic going down faster
(30s delay for internal communication detection going down soun

[2021-06-24 06:19] denesb commented on #3561
Currently the streaming reader will return **all** data, live, shadowed, expired or not. If we plug in the compacting reader it will only return *live* data and *non-expired* tombstones. I strongly disagree about returning expired tombstones. It basically comes down to relying on luck to maintain correctness.

[2021-06-24 06:50] foxhunter72143 opened #8922 "when scylla_setup in v4.4.3,scylla_setup failed"
Please select a NIC from the following list:
['bond0', 'bonding_masters', 'enp94s0f1', 'enp94s0f0']

The clocksource is the physical device that Linux uses to take time measurements. In most cases Linux chooses the fastest available clocksource device as long as it is accurate. In some situations, however, Linux errs in the side of caution and does not choose the fastest available clocksource desp

[2021-06-24 07:17] juliayakovlev commented on #8908
@raphaelsc @asias

Test with `gce_n_local_ssd_disk_db: 16` finished.

*Installation details*
Kernel version: `5.12.9-1.el8.elrepo.x86_64`
Scylla version (or git commit hash): `4.5.rc2-0.20210602.d92a26636`
Cluster size: 4 nodes (n1-highmem-16)
Scylla running with shards number (live nodes):
   longevity-tls-1tb-7d-reproduc-db-node-3330ad3e-0-1 (35.243.202.204 | 10.142.0.36): 16 shards
   longevity

[2021-06-24 07:18] psarna commented on #8919
dup of #8873

[2021-06-24 07:18] #8919 closed

[2021-06-24 08:55] denesb opened #8923 "evictable_reader: _drop_static_row can drop of the static row from an unintended partition"
When the evictable reader recreates in underlying reader, it does it such that it continues from the exact mutation fragment the read was left off from. There are however two special mutation fragments, the partition start and static row that are unconditionally re-emitted at the start of a new read. To work around this, when stopping at either of these fragments the evictable reader sets two flag

[2021-06-24 09:01] kbr- commented on #5355
(30s delay for internal communication detection going down sounds slow -
too slow)

It does not take 30s for other Scyllas to detect the node going down.
It takes `failure_detector_timeout_in_ms`, some time ago it was `phi_convict_threshold` (used with the old failure detector).
The default value for `failure_detector_timeout_in_ms` is 20 seconds. The default value for `phi_convict_thhreshold` was

[2021-06-24 09:16] roydahan commented on #8908
<img width="659" alt="Screen Shot 2021-06-24 at 12 13 16" src="https://user-images.githubusercontent.com/20959584/123236616-9e197580-d4e5-11eb-93a1-283c8a4679bb.png">

From looking at the nemesis code, we don't run "nodetool cleanup" after rebuild.
I don't know if we should do it or not,  I couldn't find in our documentation any reference about it.

[2021-06-24 09:28] psarna commented on #8873
My comments transplanted from the duplicate of this issue (#8919):

----

As a quick visualisation of the problem, here's a sample cql-pytest code which currently fails, because our read concurrency semaphore for user reads is hardcoded to 100 units. The test runs a thread with read concurrency == 85, and a separate write workload which induces some read-before-write ops from materialized view upd

[2021-06-24 09:45] psarna commented on #8873
I also just finished performing the experiment described in the description of this issue: a 3-node cluster, with one node artificially slowed down. The slowdown was done by running perf with very high sampling rate (`sudo perf top -F 65536 -g -p $SCYLLA_PID`) and it proved enough to show the discrepancy in how much load the node can handle compared to the rest of the cluster.

The scenario ran a

[2021-06-24 10:13] avikivity opened #8924 "rpm might remove systemd .mount files during upgrade"
Before a677c4667251f1b26bb28eff14625c64bc3c41bc, .mount files were marked %ghost, which caused systemd to remove them after uninstallation.

Now, they won't be removed after uninstallation, but upgrade == install+uninstall, so they will be removed once rpm sees the file is not owned by the new package.

[2021-06-24 10:14] avikivity commented on #8924
We need to see if this is a real problem. If it is, we should mark the file as %ghost %config so rpm knows about it but doesn't delete it (if that works).

[2021-06-24 10:23] avikivity commented on #8897
Probably this:

[code]

The std::copy_if() call (why "if"?) runs without yielding.

[2021-06-24 10:24] avikivity commented on #8897
btw, what happens if first2 == last2? We rereference first2, which is illegal.

[2021-06-24 10:28] avikivity commented on #8897
This points to stall_free.hh:47, which is the copy_if. I'll go eat a cookie.

[2021-06-24 10:31] avikivity commented on #8899
Probably a duplicate, it's the encode() function again.

I don't understand it. @tgrabiec please look at it, maybe I missed something obvious.

[2021-06-24 10:33] avikivity commented on #8899
Note, this is before @xemul optimization 8d0780fb92952808b96f1a7775c3d9cdff6ff05e. But I don't see how the previous code can cause a stall.

[2021-06-24 10:45] fgelcer commented on #8831
i'm seeing this issue again (or very similar) on version xxxxx

[code]
then, we run:
[code]

the repair continued to run for ~5 seconds, when apparently the node crashed (it restarted, but i cannot find any core, nor other message in the node's log, but this:)
[code]

SCT reported a core, but much later, but still didn't collect the core location, nor its content

full logs are here:
[code]

[2021-06-24 11:28] bhalevy commented on #8897
Also, I think there's a slight inefficiency in
[code]

`first1` will point to the inserted value which is a copy of `*first2`.
Since `list2` is sorted in ascending order, the next item from list2 will never be less than the one we've just inserted,
so we waste an iteration to merely increment `first1` again.

I think this could be optimized a bit by:
[code]

[2021-06-24 11:34] bhalevy commented on #8897
@avikivity I don't quite understand your concern.
we reference `*first2` inside:
[code]

[2021-06-24 11:46] bhalevy commented on #8897
Regarding the elimination of `std::copy_if`, we can do the following:
[code]

and since the [standard](https://en.cppreference.com/w/cpp/container/list/insert) states that "No iterators or references are invalidated.", this eliminates the extra loop when merging an item from `list2` in a simpler way:
[code]

[2021-06-24 11:47] asias commented on #8831
@fgelcer it is a known issue. There is a PR to fix this issue. The PR is not fixed yet.

[2021-06-24 11:51] bhalevy commented on #8897
I'm preparing a PR, will post once it passes the unit tests and a repair dtest.

[2021-06-24 11:51] asias commented on #8908
We do not need cleanup for rebuild at all. The problem is that without RBNO, rebuild will bring all the data again and again for each rebuild ops. If compaction is not able to keep up to reduce the duplication, the node will be out of disk space.

[2021-06-24 11:55] asias commented on #5355
Kamil, phi_convict_thhreshold = 8 does not mean the detection time is 8 seconds. The phi threshold is a factor. With the default phi_convict_thhreshold 8, the default detection for the old failure detector is around 20 seconds too.

[2021-06-24 12:22] kbr- commented on #5355
Ah, now it makes sense. Thanks.

[2021-06-24 12:29] bhalevy opened #8926 "Long stalls when destroying repair_meta"
The following long (527ms) and common stalls were reported by the field:
[code]

we can add a `future<> repair_meta::clear_gently()` function to be called before destroying it, e.g. from `remove_repair_meta` after `rm->stop()` or even integrated into rm->stop().

[2021-06-24 12:49] asias commented on #8926
Which scylla version?

[2021-06-24 13:11] #8270 closed

[2021-06-24 13:12] ShlomiBalalis commented on #8030
Recreated in 4.5:
*Installation details*
Scylla version (or git commit hash):4.5.rc3-0.20210620.706de00ef with build-id d28ca2bf35abaa8bbf9a2b5b401a0bbe20ad506e
Cluster size:3
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-0a24c2fc60fd0ab36 (eu-north-1)
test yaml: https://github.com/scylladb/scylla-cluster-tests/blob/master/test-cases/longevity/longevity-twcs-3h.yaml

At `2021-06-23 16:50:06.465` a Terminate

[2021-06-24 13:18] aleksbykov opened #8927 "Each node see that other nodes is DN after add new columns to large collection schema"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.rc3-0.20210620.706de00ef`
Cluster size: 4 nodes (i3en.3xlarge)
Scylla running with shards number (live nodes):
   longevity-large-collections-12h-4-5-db-node-990bf236-1 (54.77.254.73 | 10.0.1.217): 12 shards
   longevity-large-collections-12h-4-5-db-node-990bf236-2 (54.171.233.11 | 10.0.2.182): 12 sha

[2021-06-24 14:00] Pawel-Kr commented on #8926
@asias 2021.1.1

[2021-06-24 14:16] psarna commented on #8873
Update: I tested the scenario above on a modified scylla binary which uses a separate semaphore for read-before-write ops which limits its concurrency to 10, but a very negative effect on user reads was still observed (although it was softened).
Ultimately, I saw positive results only after applying a more rigorous patch, which does two things:
 - further reduce the concurrency to 4
 - reduce the

[2021-06-24 14:17] psarna commented on #8873
Oh and here's the patch I applied for tests: https://github.com/psarna/scylla/commit/ea54db6ab743a3feccdf552e032f14e3e9ab3e4c

[2021-06-24 18:03] roydahan commented on #6971
@nyh / @elcallio , we have  a test   cluster configured with client_encryption testing 4.5.rc3 which suddenly started getting these errors.
I tried investigating an issue where the stress  failed after a day of run, but I can't open cqlsh due to this error.
I don't know  if it's the root cause of the stress failure (would be weird because it was running fine more than a day).

What's the way to wo

[2021-06-24 19:48] slivne commented on #6971
To connect specify --ssl in cqlsh

``
 cqlsh <ip> -u cassandra -p cassandra --ssl

cat ~/.cassandra/cqlshrc
[connection]
factory = cqlshlib.ssl.ssl_transport_factory

[ssl]
certfile = /etc/scylla/ssl_conf/client/test.crt
validate = false
userkey = /etc/scylla/ssl_conf/client/test.key
usercert = /etc/scylla/ssl_conf/client/test.crt
[code]

[2021-06-24 20:44] avikivity commented on #8912
This job reported 20 stalls, always in the same instruction: 0x13b740f.

gdb says:

[code]

There is subtraction of 1 from the instruction pointer somewhere in order to place it inside the call instruction (for call chains), but this isn't a call chain, so the real instruction pointer is 0x00000000013b7410. Which is what writes the object descriptor into memory. There is absolutely no reason for t

[2021-06-24 20:48] avikivity commented on #8912
My conclusion is that this is a page fault. We could prove it by capturing registers and showing that rbx+r12 is at a page boundry (probably a huge page boundary).

[2021-06-24 20:49] avikivity commented on #8912
Corresponding source:

[code]

[2021-06-24 20:50] avikivity commented on #8912
@xemul optimization will do nothing here.

[2021-06-24 22:18] vladzcloudius commented on #3561
@denesb Nobody is *relying* on it. But it's stupid not to use the tombstone if you still have it.

[2021-06-24 23:52] #8874 closed

[2021-06-24 23:52] #8914 closed

[2021-06-25 02:19] asias commented on #8927
We need to backport patch below to 4.5.

[code]

[2021-06-25 04:42] haaawk commented on #5355
So is there anything we can improve on the server-to-server detection?

[2021-06-25 05:03] bhalevy commented on #8914
@nyh what about existing tables that the user may have that use DTCS?
I think scylla should refuse to start with such tables if `restrict_dtcs=enabled`. Otherwise, the user might not realize they have them.

[2021-06-25 05:59] bhalevy commented on #8846
Change 9bbe7b14823c1ca48e6659014f7edc235b3df10a implements the timeout in `mx_sstable_mutation_reader`.

[2021-06-25 06:05] asias commented on #8897
It is supposed to have a yield in the lambda.

I took a look at my local backup branch I saw:

+    std::copy_if(first2, last2, d_first, [] (const auto&) { seastar::thread::maybe_yield(); return true; });

Probably, the yield was missed during rebase.

[2021-06-25 06:39] Felix-zhoux opened #8929 "Queued sstable reads suddenly started to accumulate"
*Installation details*
Scylla version (or git commit hash): 4.4.1
Cluster size: 18
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

Observation and monitoring found that the cluster delay was abnormal. Looking at the detail panel, I found that a node began to accumulate queued sstable reads from around 18:00 on the 24th.  So what does this mean？ I checked the disk ,all is well.

[2021-06-25 06:39] Felix-zhoux commented on #8929
![17ba99582c7ed3755e6ca0b6db75845](https://user-images.githubusercontent.com/59597542/123381291-1f930580-d5c3-11eb-87e1-f6e94bdc5285.png)
![88d54078fa6ed36c0c5911b665766fa](https://user-images.githubusercontent.com/59597542/123381311-24f05000-d5c3-11eb-800d-0c8a28ffa59b.png)

[2021-06-25 08:53] chinese20201103 opened #8930 "skiplist vs btree"
apache-cassandra-3.11.6:
public class Memtable implements Comparable<Memtable> {
	private final ConcurrentNavigableMap<PartitionPosition, AtomicBTreePartition> partitions = new ConcurrentSkipListMap<>();
}
scylla-scylla-4.6.dev:
class memtable final : public enable_lw_shared_from_this<memtable>, private logalloc::region {
	using partitions_type = double_decker<int64_t, memtable_entry,

[2021-06-25 10:04] kbr- commented on #5355
I don't think so.

In an asynchronous environment like the internet, basically your only way for detecting liveness is heartbeats. And we already have a heartbeat based failure detector.

When you shutdown the NIC the heartbeats stop arriving.

And there already is a timeout parameter - how long are we waiting after the last heartbeat until we convict a node. If you increase it, servers will mark

[2021-06-25 11:28] tgrabiec commented on #3561
There is a reason to not send expired data, that is to reduce traffic.

[2021-06-25 14:07] tgrabiec commented on #8899
What was the block detector threshold in this run?

[2021-06-25 14:30] asias commented on #8899
20 ms

On Fri, Jun 25, 2021 at 10:07 PM Tomasz Grabiec ***@***.***>
wrote:

--
Asias

[2021-06-25 14:57] vladzcloudius commented on #3561
And this is a ridiculous reason since we are talking about a few bytes.
And most importantly you are sacrificing consistency for that - which is unacceptable, @tgrabiec.

[2021-06-25 15:37] tgrabiec commented on #3561
Expired data can take arbitrary amount of space. You can fit many tombstones in a single key range.

We're talking about the case when repair was not run within gc_grace_period. Consistency cannot be guaranteed in this case. Even if we send expired tombstones, that doesn't guarantee that you achieve consistency after repair. For example, the only node which still had expired tombstones could compa

[2021-06-25 16:25] nyh commented on #8914
@bhalevy my original thinking was that these options are meant to prevent users from doing certain operations (in this case creating a new table) - not preventing users from booting after an upgrade, which is a rather serious problem. Although we *could* do what you are suggesting too...
My personal belief (but I hope that @tzach or @slivne will chime in with some advice) is that we should have an

[2021-06-25 16:59] vladzcloudius commented on #3561
Then that's what needs to be sent out to ensure that consistency is restored.

If definitely can. You are confusing the consistency with correctness.

If you don't include expired tombstones in the digest but DO send them if digests are different - the process is promised to converge after a single iteration.

Not true. See above.

Running a major is not acceptable in many cases.

[2021-06-25 22:57] raphaelsc commented on #8929
You need to correlate this event with some other to find the root cause. I'd recommend looking at the I/O queue graphs. Perhaps this is happening in context of read retries, so we'd need https://github.com/scylladb/scylla/issues/2927 for this problem to be fixed.

[2021-06-26 00:06] raphaelsc commented on #8768
The graph below shows the benefits of switching the formula back into Ei * log (T / Si)

![backlog_out2](https://user-images.githubusercontent.com/1409139/123495186-06a54700-d5f9-11eb-9386-3fcf4dd8e4d3.png)

![backlog_out](https://user-images.githubusercontent.com/1409139/123495185-060cb080-d5f9-11eb-89f7-ed445729702a.png)

[2021-06-26 01:03] fee-mendes opened #8931 "Scylla should not be hit by OOM initiated by other processes"
By default `/usr/lib/systemd/system/scylla-server.service` sets `OOMScoreAdjust=-950`, which is enough to avoid OOM-killer from hitting Scylla most of the time.

However, given a rare scenario where a memory hog process starts allocating too much memory, OOM-killer will eventually hit Scylla, since OOM-killer will not stop until it satisfies the requested memory requirements.

Consider the followi

[2021-06-27 06:29] bhalevy commented on #8914
I'm afraid user might stay unaware of the fact they have preexisting tables with DTCS and will be very surprised when we stop supporting them.  The surprise is quite similar to scylla refusing to start, but in this heads-up scenario the users will have more time, to temporarily allow DTCS, and then to convert to TWCS in their own pace.

That sounds good too.  If there's agreement around such a too

[2021-06-27 07:00] eliransin commented on #8914
The scylla-health-check was mentioned several times in that context. Today it only collects data but it can be easily adapted to do some analysis too. The only question with such tool is do you run the most recent version prior to installation or after the installation.

[2021-06-27 07:24] fruch commented on #8421
@xemul
I suspect this change is the cause, but I can't tell which part of it:
[code]

[2021-06-27 07:46] bhalevy commented on #8871
@raphaelsc the symptoms look very different.
With #7552 and #7623 we ended up with logically corrupt sstables due to reordering of mutation_fragments over the smp queues.
Here's it's zeroed out blocks.

[2021-06-27 09:56] avikivity commented on #8871
No update from reporter, closing.

[2021-06-27 09:56] #8871 closed

[2021-06-27 09:57] avikivity commented on #8899
It's a page fault. Closing as duplicate of #8828.

[2021-06-27 09:57] #8899 closed

[2021-06-27 10:01] avikivity commented on #7181
Closing as duplicate of #8828.

[2021-06-27 10:01] #7181 closed

[2021-06-27 10:02] avikivity commented on #8898
Closing as duplicate of #8828.

[2021-06-27 10:02] #8898 closed

[2021-06-27 10:03] avikivity commented on #8912
Closing as duplicate of #8828.

[2021-06-27 10:03] #8912 closed

[2021-06-27 10:10] avikivity commented on #8828
In #8898 I prove that it's indeed a page fault. We have two choices on where to go

1. try to understand and fix why we have page faults despite mlock(). Maybe mlock() was called incorrectly or rejected? Maybe the kernel doesn't honor it for some other reason (rebuilding transparent huge page? autonuma? only @aagit knows).

2. try to not report such stalls. We can do this by using a performance co

[2021-06-27 10:47] avikivity commented on #8930
Please use the mailing list for development discussions and the issue tracker to report bugs.

[2021-06-27 10:47] #8930 closed

[2021-06-27 11:01] slivne commented on #8270
@avikivity please backport to 4.5 its blocking the release

[2021-06-27 11:02] slivne commented on #8418
@gleb-cloudius any idea ?

[2021-06-27 11:06] avikivity commented on #8270
Backported to 4.5.

[2021-06-27 11:07] slivne commented on #8927
@tgrabiec / @avikivity can we please do the backport

[2021-06-27 11:10] gleb-cloudius commented on #8418
`Cannot assign requested address` is caused either because the port is already busy (for instance we start Scylla twice) or because ip given in the config does not match the one the machine has.

[2021-06-27 11:32] roydahan commented on #8886
@fgelcer & @dkropachev do you see this issue also on this week runs?

[2021-06-27 12:06] fgelcer commented on #8886
on last week's build @amoskong reported this issue (build 177)
on build 178 seems not to have failed in that point (ran for 5h 48 min) but timed out

[2021-06-27 13:34] gleb-cloudius commented on #8418
I cannot say I can see anything like that happening here though. If someone can run the cluster and ping me I can looks at it.

[2021-06-27 14:35] #8768 closed

[2021-06-27 19:44] #8897 closed

[2021-06-27 19:44] #8911 closed

[2021-06-28 05:03] aleksbykov commented on #8418
@gleb-cloudius , i will try to reproduce with latest master and provide the cluster

[2021-06-28 06:52] aleksbykov commented on #8418
@gleb-cloudius
all cluster nodes:
[code]

Node 1 has scylla up, Node 2 scylla start failed. All other nodes are not configured.

[2021-06-28 07:03] bhalevy opened #8933 "database shutdown races with shard_reader"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/858/artifact/logs-all.release.2/1624849152614_update_cluster_layout_tests.TestUpdateClusterLayout.simple_add_new_node_while_adding_info_2_test/node4.log
[code]

Decoded from http://downloads.scylladb.com/unstable/scylla/master/relocatable/2021-06-27T17:44:39Z/scylla-package.tar.gz:
[code]

[2021-06-28 07:04] bhalevy commented on #8933
Botond, please look into this.

Cc @xemul

[2021-06-28 07:05] bhalevy commented on #8933
Unfortunately there's no coredmp, just this backtrace.

[2021-06-28 07:20] denesb commented on #8933
This is normal, the gate **is** the synchronization. The problem is that for some reason I made `on_permit_created()` `noexcept`, when it really isn't. Will send a fix.

[2021-06-28 07:22] gleb-cloudius commented on #8418
The code tries to bing to broadcast_address instead of listen_address.

--
			Gleb.

[2021-06-28 07:23] elcallio commented on #6971
@roydahan if a test using client encryption _suddenly_ fails connecting, I'd check if the certs at either end suddenly expired maybe? Recent scylla builds should have the error message fixed so you get at least a hint on what is borked. Maybe run with such a build?

[2021-06-28 07:36] bhalevy commented on #8933
I'd consider entering the gate in `reader_concurrency_semaphore::make_permit` before constructing (and enlisting) a new permit,
and drop `on_permit_created`.

[2021-06-28 07:41] gleb-cloudius commented on #8418
The culprit is very likely a0745f949871d88ddc76ca36fb589d1c1da16615. It forces local address to be broadcast address which is not gonna work when the broadcast address is an IP that the machine knows nothing about (usual AWS case). @elcallio

[2021-06-28 07:42] eliransin commented on #8828
Maybe report them with different heading / severity instead of not at all? I am not sure how hard it is to separate between them (at least in runtime). If we can "tolerate" it and it is hard to separate them I guess we could report everything with low severity and the ones that are only due to user code with higher severity in addition to that (they will appear twice in the logs).

[2021-06-28 07:44] denesb commented on #8933
I think that would be a step in the wrong direction, best keep this code where all paths creating permits converge: in the permit constructor.

[2021-06-28 09:53] bhalevy commented on #8488
@scylladb/scylla-maint although this was opened as an Enhancement, @asias mentioned it is required to fix https://github.com/scylladb/scylla/issues/7570.
So I'm adding the `Backport candidate` label.

[2021-06-28 09:58] bhalevy commented on #8488
@asias, you also mentioned that 9ea57dff212006ab6b9ee836c9e25ec53a0e702a should be backported (is it a prerequisite to 425e3b11827ab5db6d68024134233e85064c7f74?)

I see that we also merged 0665d9c346170517e7e3fc16f45bcfac54e865cb (fixed #8712) on top of that.

Anything else that is needed to be backported for #7570?

[2021-06-28 10:15] syuu1228 commented on #8924
@avikivity On upgrading from **A** to **B** version, I thought it's **A** version rpm issue, there is no way to solve other than upgrading **A** rpm to fix backported version or manually backup .mount, but do you think it can be fix by adding `%ghost %config` in **B** rpm?

[2021-06-28 10:19] syuu1228 commented on #8924
Ah, I was bit confused. We currently only tested with package remove+re-install condition, I will test with OSS version package upgrade. If it happens even on upgrade, it will more problematic.

[2021-06-28 10:27] fgelcer opened #8934 "nodetool removenode fails for CDC tables"
*Installation details*
Scylla version (or git commit hash): 4.5.rc3-0.20210620.706de00ef with build-id d28ca2bf35abaa8bbf9a2b5b401a0bbe20ad506e
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0945c02deff78e980 (eu-west-1)

test name is `longevity-cdc-3d-400gb` and after around a day it ran namesis `disrupt_remove_node_then_add_node`, that will:
1. stop Scylla in a target node
2. terminate the

[2021-06-28 10:27] #8352 closed

[2021-06-28 10:37] syuu1228 commented on #8921
Maybe .timer invoking scylla-server mistakenly (from scylla-fstrim.service)? I will check

[2021-06-28 10:57] avikivity commented on #8924
I think %ghost+%config might work. Best to set up a tiny rpm package for testing, and experiment on it, so it doesn't take as long as building the full rpm.

[2021-06-28 11:02] slivne commented on #8418
@elcallio ping

[2021-06-28 11:04] slivne commented on #7570
Issue is not a regression - pushing to 4.6 and may consider backport after we see its working well in 4.6

[2021-06-28 11:04] slivne commented on #8877
@shoshan ping / @roydahan ping

[2021-06-28 11:37] asias commented on #8488
Hopefully 9ea57df  is enough for  #7570?

9ea57df is not a prerequisite to 425e3b.

[2021-06-28 12:12] fgelcer commented on #8934
@roydahan reminded me that this failure is "expected" as this repair is a best effort for the "situation"

there is a failure though during the next command, `nodetool removenode`:
[code]

[2021-06-28 12:24] fgelcer commented on #8934
@roydahan , after that failure during `nodetool removenode` we see in the logs:
[code]

and the nemesis has an `assert`:
[code]

where exactly we see the last message from the nemesis, before:
[code]

[2021-06-28 12:31] dkropachev commented on #6309
Hello,

Reproduced again on AWS:
Scylla Version: 4.6.dev-0.20210623.373fa3fa0 with build-id cb5a3e389de53f720c33ee3ccfd9097f2b08fe4d (ami-00ee915bd9a62501c)
Test-id: 40d07ce1-4354-4808-acc2-0b8d8c184cc8

Logs:
db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/40d07ce1-4354-4808-acc2-0b8d8c184cc8/20210627_050718/db-cluster-40d07ce1.tar.gz
monitor-set - https://cloudius-jenkins-test.s3.ama

[2021-06-28 13:30] avikivity commented on #8828
It's not practical to run two stall detectors at runtime.

[2021-06-28 13:36] roydahan commented on #8836
@eliransin any chance you have an update on this?
We can ignore this error for now if you think it's ok and don't have time for a fix. (it's failing jobs)

[2021-06-28 13:45] vladzcloudius opened #8936 "Scylla systemd service should always configure a proper clock source"
*Installation details*
HEAD: 373fa3fa07d366ea5a8632f0ddffae6f226f64c3

*Description*
Scylla `systemd` scripts should always configure clock source using the corresponding perftune.py mode:

[code]

When the clock source is set to something like `xen` like on Ubuntu 20 AWS AMI (which translates to pv-clock) the performance is going to be suboptimal.

[2021-06-28 13:45] vladzcloudius commented on #8936
@slivne @penberg FYI

[2021-06-28 13:50] fgelcer commented on #8934
before we ran the above `assert`, this is what we ran:
[code]
and its result is:
[code]

[2021-06-28 13:59] bhalevy commented on #6309
@raphaelsc I see in sct.log that there are a lot of LCS compaction during truncate.
Here's the
[sct-truncate.log](https://github.com/scylladb/scylla/files/6726795/sct-truncate.log) excerpt.

[2021-06-28 14:13] fgelcer commented on #8934
so the issue in here is that `nodetool remove` failed

[2021-06-28 14:17] tgrabiec commented on #3561
I understand that this is what you propose. I was pointing out that it's not true that there is no reason not to send them. There is a reason, and that reason is to save on transfer. I'm not saying yet that it should be a decisive reason, but we should see the full picture.

I don't think it is guaranteed to converge even if we make the changes you suggest. Consider this:

Replicas: {A, B, C}
1. A

[2021-06-28 14:17] raphaelsc commented on #6309
those compactions don't belong to the table being truncated

[2021-06-28 14:45] kbr- commented on #5715
This is most likely a driver issue.

Evidence: I performed the following experiment:
1. setup a 3 node cluster: A, B, C
2. limit inter-node traffic on node A
3. run a scylla-bench workload with CL=QUORUM, observe super high latencies
4. on node A, start dropping all packets on port 9042 and 19042 (i.e. CQL client port)
5. after some time, scylla-bench closes all connections to A
6. latencies go ba

[2021-06-28 14:54] fgelcer commented on #8934
could be the same as #7965 (but the error message from `nodetool` command has more information

[2021-06-28 15:20] haaawk commented on #8934
The question is whether this is CDC related or could happen to any table? CDC table is a regular table so I would expect that the issue is not CDC related.

[2021-06-28 15:25] roydahan commented on #8934
After connecting this cluster manually and running the same "nodetool removenode" command manually (while there is no load running on this cluster) the command succeed and the node was removed.

It may be related to another issue that repair with TWCS fails or something like that (need to find the issue).

[2021-06-28 16:10] juliayakovlev commented on #8573
This issue is reproduced in 4.5
[Job](https://jenkins.scylladb.com/job/scylla-4.5/job/longevity/job/longevity-1tb-5days-test/19/console)

Scylla version: `4.5.rc3-0.20210620.706de00ef`
ami_id_db_scylla: `ami-0945c02deff78e980` (eu-west-1)
Test id: `7a98e558-dcf9-4c43-bb2c-432492bcd981`

Cluster is alive

During refresh nemesis, nodetool refresh was started at `2021-06-25 04:39:18`
[code]

Refresh

[2021-06-28 17:59] vladzcloudius commented on #3561
By all means. I agree that we should see the full picture.

From the CONSISTENCY perspective the system operates *exactly* as expected in your example - it restores the CORRECT and CONSISTENT state of the system on involved replicas.

If, on the other hand, you would read from all 3 replicas (which CL=ALL) - the consistency on all 3 replicas would have been restored on all 3 replicas once and for

[2021-06-28 18:08] vladzcloudius commented on #3561
Another point to keep in mind is that expired tombstones are supposed to be removed only after the corresponding deleted data is removed. - This is what our compaction does. It is not going to delete a tombstones unless the data it shadows is gone too and this *regardless* whether the tombstone is expired or not.

So, as long as the corresponding data is alive so should be the tombstone. And that'

[2021-06-28 21:00] syuu1228 commented on #8924
I tested upgrade from 4.3 to 4.4 and 4.4 to 4.5, looks like it does not remove *.mount.
Same on Ubuntu.

[code]

[2021-06-29 04:32] #8675 closed

[2021-06-29 04:32] #8933 closed

[2021-06-29 06:27] asias opened #8937 "reclaim_from_evictable stalls for 27ms"
Scylla:
https://github.com/asias/scylla/tree/for-sct-test-repair_meta-clear_gently (custom build)

Job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/23/

Decode:
[code]

[2021-06-29 06:29] asias opened #8938 "refill_emergency_reserve stalls for 26 ms"
Scylla:
 https://github.com/asias/scylla/tree/for-sct-test-repair_meta-clear_gently (custom build)

Job:
 https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/23/

Decode:
[code]

[2021-06-29 06:33] asias opened #8939 "flat_mutation_reader::fast_forward_to stalls for 27ms"
Scylla:
 https://github.com/asias/scylla/tree/for-sct-test-repair_meta-clear_gently (custom build)

Job:
 https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/23/

Decode:
[code]

[2021-06-29 06:36] asias opened #8940 "atomic_cell_or_collection::copy stalls for 37ms"
Scylla:
 https://github.com/asias/scylla/tree/for-sct-test-repair_meta-clear_gently (custom build)

Job:
 https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/23/

Decode:

[code]

[2021-06-29 06:38] asias opened #8941 "sstables::mx::mp_row_consumer_m::consume_column stalls for 27ms"
Scylla:
https://github.com/asias/scylla/tree/for-sct-test-repair_meta-clear_gently (custom build)

Job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/23/

Schema:
[code]

Decode:
[code]

[2021-06-29 06:40] asias opened #8942 "memtable::apply stalls for 26 ms"
Scylla:
https://github.com/asias/scylla/tree/for-sct-test-repair_meta-clear_gently (custom build)

Job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/23/

Schema:
[code]

Decode:
[code]

[2021-06-29 06:43] asias opened #8943 "locator::token_metadata::get_all_endpoints stalls for 26 ms"
Scylla:
https://github.com/asias/scylla/tree/for-sct-test-repair_meta-clear_gently (custom build)

Job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/23/

Decode
[code]

[2021-06-29 06:45] asias opened #8944 "read_atomic_cell stalls for 30ms"
Scylla:
 https://github.com/asias/scylla/tree/for-sct-test-repair_meta-clear_gently (custom build)

Job:
 https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/23/

Decode:

[code]

[2021-06-29 06:49] asias opened #8945 "atomic_cell_type::make_live stalls for 39 ms"
Scylla:
https://github.com/asias/scylla/tree/for-sct-test-repair_meta-clear_gently (custom build)

Job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/23/

Decode:
[code]

[2021-06-29 07:48] aleksbykov commented on #8418
@elcallio @gleb-cloudius do you need cluster?

[2021-06-29 07:49] nyh commented on #8929
Another possibility are reads caused by read-before-write of materialized views (issue #8873) when one of the replicas is slightly slower than the rest - are you using materialized views?

[2021-06-29 07:51] shawn-cheng opened #8946 "Reactor stalled in cluster nodes"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [v] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):Scylla 4.3.2
Cluster size: 5 nodes

[2021-06-29 08:20] gleb-cloudius commented on #8418
On Tue, Jun 29, 2021 at 12:48:58AM -0700, aleksbykov wrote:

Not me.

--
			Gleb.

[2021-06-29 09:08] avikivity commented on #8944
Closing as duplicate of #8828

[2021-06-29 09:08] #8944 closed

[2021-06-29 09:10] FlorianHockmann commented on #8793
The procedure worked without any problems so we now have a working cluster again. Thanks a lot for your help on this!
We have also identified a problem in our network that resulted in overloading the Scylla servers with way too many packets and therefore also dropped packages. This probably caused the bootstrapping to fail as @asias already suggested based on the logs.

Regarding why the bootstrap

[2021-06-29 09:10] #8793 closed

[2021-06-29 09:13] avikivity commented on #8942
The decode looks generally sane, except the end where it changes from constructing a memtable entry to running destructors. Apart from that, it looks like a duplicate of #8828.

[2021-06-29 09:16] avikivity commented on #8946
Reactor stalls happen when Scylla spends too much time on one request, and that prevents concurrent requests from being serviced. However, it looks like the decode was using the wrong version of Scylla debug information, so we can't get anything more from the report.

[2021-06-29 09:16] avikivity commented on #8945
Closing as duplicate of #8828.

[2021-06-29 09:16] #8945 closed

[2021-06-29 09:21] ShlomiBalalis opened #8947 "Scylla bench read fails to achieve quorum after multiple large-scale deletions"
*Installation details*
Scylla version (or git commit hash):4.5.rc3-0.20210620.706de00ef with build-id d28ca2bf35abaa8bbf9a2b5b401a0bbe20ad506e
Cluster size:5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0945c02deff78e980 (eu-west-1)

At `2021-06-27 21:10:49.748` a DeleteByRowsRangeMonkey nemesis has started. The nemesis deletes several ranges from different partitions in the scylla bench keyspace, as foll

[2021-06-29 09:21] avikivity commented on #8938
This can happen if code running before this allocated a lot of memory. We would know more once reporting of memory information during stalls (@cmm) is merged.

[2021-06-29 09:22] avikivity commented on #8943
Why do we have everywhere_replication_strategy here?

/cc @kbr-

[2021-06-29 09:22] avikivity commented on #8940
Closing as duplicate of #8828.

[2021-06-29 09:22] #8940 closed

[2021-06-29 09:26] avikivity commented on #8939
Looks like

[code]

How many sstables do you have per shard? Even with a huge amount, I can't see this taking 26ms. Maybe it's a fluke.

[2021-06-29 09:27] avikivity commented on #8941
It doesn't make sense for this to stall. Maybe your environment has some source of flukes (like continuous new ssh connections competing with Scylla).

[2021-06-29 09:42] eliransin commented on #8836
@roydahan I am working on a fix but we have a disagreement about the implementation.
You can maybe ignore it for now - adding a dtest issue on me to revert it when my code is in.
Sounds good?

[2021-06-29 09:57] shawn-cheng commented on #8946
Thanks for your help. Where can I download the correct verion of debug?

[2021-06-29 10:03] nyh commented on #4244
A user reported that Apache Beam CassandraIO divides queries into sub-queries split into token ranges, which results in queries including both normal restrictions and token restrictions - which breaks on Scylla but works on Cassandra since 2015, as @avikivity noted above.

[2021-06-29 10:20] avikivity commented on #8937
Closing as duplicate of #8938. Both are refill_emergency_reserve().

[2021-06-29 10:20] #8937 closed

[2021-06-29 10:24] avikivity commented on #8946
apt-get should to it. Check that scylla-server and scylla-gdb are exactly the same version.

[2021-06-29 10:25] nyh commented on #4244
At this point, the Cassandra feature is 6 years old and exists on Cassandra 2, 3 and 4 - so users with existing applications or Cassandra-oriented tools which need it will not be content knowing that Cassandra also didn't have this feature once.

[2021-06-29 10:27] avikivity commented on #8924
4.5 does not have a677c4667251f1b26bb28eff14625c64bc3c41bc. I expect that upgrading to 4.6 will remove the .mount file, because rpm will see that the removed version owns the .mount file (with %ghost) and the installed version does not. I will conclude the file needs to be removed.

[2021-06-29 11:41] avikivity commented on #8828
[code]

[2021-06-29 11:43] avikivity commented on #8828
So, only 100MB used per shard (600000000000 and 601000000000), mlockall() did not work.

[2021-06-29 11:44] avikivity commented on #8828
[code]

Although it was requested.

[2021-06-29 11:45] avikivity commented on #8828
Ah! we use MCL_ONFAULT to prevent a huge stall on startup. This translates to small stalls after startup, until all memory is faulted in.

[2021-06-29 11:47] avikivity commented on #8828
[code]

[2021-06-29 11:48] avikivity commented on #8828
Ref #6460.

[2021-06-29 11:50] avikivity commented on #8828
I suppose a fix is to launch a background process to fault in memory at runtime, checking for abort_source, and taking care not to fault concurrently on multiple shards so as not to anger mmap_sem.

[2021-06-29 12:00] avikivity commented on #8828
Maybe it's enough to fault memory sequentially per shard in Seastar, in the foreground. Reportedly[1] an old core has 16GB/s bandwidth, so 1TB will take 60 seconds. @amoskong will that trigger problems in your tests? Like #6460.

[1] https://stackoverflow.com/questions/21590927/memory-bandwidth-achievable-on-a-single-core

[2021-06-29 12:01] avikivity commented on #8828
(note that i3.metal has 512GB, so it will take 30 seconds to fault in).

[2021-06-29 12:09] asias commented on #8828
Can we do all the fault during startup without stall? It is much worse to have stalls during runtime.

[2021-06-29 12:40] asias commented on #8943
It is used by cdc.

[2021-06-29 12:42] asias commented on #8941
@roydahan How frequently will sct talk to scylla node over ssh during SCT test?

[2021-06-29 12:43] roydahan commented on #8947
I couldn't find anything special in the log of the "green" node or other node.

[2021-06-29 12:44] avikivity commented on #8828
Yes, if we're careful. We can employ an algorithm similar to scylladb/seastar@2185f377e317c517e173c099222ad96546500a1a.

[2021-06-29 12:46] avikivity commented on #8943
Yes, but cdc touches it once in a lifetime.

[2021-06-29 12:57] nyh commented on #1789
Hi @vladzcloudius in my fix for #6635 I added an option (which is still not the default, but can be) `--restrict-replication-simplestrategy true` which forbids creating keyspaces with SimpleStrategy.

My question is now what, if anything, is left to be done in this issue.

In the title of the issue, you suggested that the Simple-ness of the snitch should match the Simple-ness of the repliation str

[2021-06-29 13:02] nyh commented on #6712
I can trivially change this default, but I need some advice from bigger experts what kind of implications this change can have:
1. Are we comfortable with the performance and stability of the compression option? (has anyone been using it in practice? testing it?)
2. Will rolling upgrade work? If a new node has compression enabled, but an old node sends it *uncompressed*  data, will the new node ac

[2021-06-29 13:31] gleb-cloudius commented on #6712
On Tue, Jun 29, 2021 at 06:02:44AM -0700, nyh wrote:

Its worthiness depends on cross DC latency. CPU utilization will be
larger as well.

IIRC the ability is negotiated (but we need to test obviously).

--
			Gleb.

[2021-06-29 13:50] avikivity commented on #5715
It's the old "the cluster is as fast as the slowest shard".

Even if we detect and fix it for reads, we can't do it for writes, since all nodes have to write to the slow node. Their queues will increase in size and eventually reach the limit. At that point new writes can be admitted only at the rate that writes are retired, and that's the rate of the slowest node.

So, I think it's unfixable for w

[2021-06-29 14:19] slivne commented on #8947
I am assuming this will reproduce

We have an issue with range tombstones and not having good enough support for them - so depending on the amount of range tombstones you created - we may be hitting this.

rangetombstones must also be fully cached and non evictable - so we may have an issue with that.

master has additional metrics for that

So you can delete the cluster - this is not a regression

[2021-06-29 15:16] agalue opened #8948 "Cassandra 3.11.10 uses "class" instead of "sstable_compression" for compression settings by default"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.4.3-0.20210609.bfafb8456)
Cluste

[2021-06-29 15:34] avikivity commented on #8828
Patch: https://groups.google.com/g/seastar-dev/c/OiBY-kGVm6Y/m/MPgCnhKdAQAJ

[2021-06-29 15:58] avikivity commented on #8943
Well, stalls that happen once are not so important. They don't affect high-percentile latency, only maximum latency.

[2021-06-29 20:25] vladzcloudius commented on #1789
@nyh Requiring people to use `NetworkingTopologyStrategy` (what you did) and forbidding using a `SimpleSnitch` with anything but a `SimpleStrategy` is not the same thing. - but we want to be able to have both those restrictions.

The `SimpleSnitch` + `NetworkingStrategy` combo is harmful too because `NetworkingStrategy` is not only about multi-DC but is also about rack-awarness and a `SimpleSnitch

[2021-06-29 20:48] nyh commented on #1789
@vladzcloudius you'll have to explain this slowly to me because I don't know anything about how snitches are configured.
Am I correct that you don't choose a snitch when creating a keyspace, but rather it's a per-node (why?) setting in scylla.yaml?

If this is the case, then what do you propose should happen when one boots with SimpleSnitch which is the default? Are you saying that in that case (i

[2021-06-29 20:54] nyh commented on #129
Removing backport-candidate tag which seems to have been added here by mistake, and also closing this issue which contains a list of unrelated suggestions some of which we already did, some not. If we still want any of these suggestions we should open a separate issue for each with a clear explanation of why it is a good idea.

[2021-06-29 20:54] #129 closed

[2021-06-29 22:46] vladzcloudius commented on #1789
No problem at all, sir! :)

That's correct.
Why? - This how it is in Cassandra and we decided not to change it. Probably, because it would make migrations more complicated and we would no longer be a "drop-in Cassandra replacement" ;)

Correct. This should shake a user up and make him read the corresponding documentation that clearly states that a SimpleSnitch *should never be used* is a productio

[2021-06-30 00:20] asias commented on #8943
Yes, it is less important than those happen frequently. Since the run had terrible P99 latency up to 250ms, I will report stall that is bigger than 20ms.

And weeks ago there was an argument because get_all_endpoints and other friends are O(N) so no need to run yield.  Yet here we see 26ms stalls.

[2021-06-30 00:41] shawn-cheng commented on #8946
HI. I have install the version and decode the log again.
Scylla version 4.3.5-0.20210614.690a96ff5
scylla-server-dbg_4.3.5
[tracecode1.txt](https://github.com/scylladb/scylla/files/6737240/tracecode1.txt)
[tracecode2.txt](https://github.com/scylladb/scylla/files/6737241/tracecode2.txt)

[2021-06-30 04:25] avikivity commented on #8943
O(N) on a four-node cluster can't take 26ms. A cpu cycle is less than 1ns.

[2021-06-30 04:31] bhalevy commented on #8553
@alecco ping, this test keeps failing consistently.

[2021-06-30 05:41] bhalevy commented on #5619
I'm not sure a application-provided timestamp can or should be checked.

CQL allows one to use arbitrary, pure numbers as timestamps and they are compared relative to each other.

It's true that the server or client-driver do assign timestamps that are based on the current time in microseconds (and this REALLY confusing since the CQL `timestamp` data type is in milliseconds), but an application ma

[2021-06-30 05:46] bhalevy commented on #5619
Also, 2150c0f7a2d56b9ea2a5607a4066c4c1c3aba40f constraints the custom timestamp to 3 days into the future.
This seems overly restrictive.  I'd understand a restriction on the timestamp value that it must be convertible to a valid timeuuid, for example, since the latter has fewer bits (and has a 10 nanoseconds resolution :)), but why can't I provisionally insert data with a timestamp in microsecond

[2021-06-30 05:51] haaawk commented on #5619
Why would you need timestamp 1 month in the future @bhalevy? It seems that most of the time it's just a bug when it happens.

[2021-06-30 06:01] bhalevy commented on #5619
We need not question the application intent if we don't absolutely have to.
The point is that if 1 day into the future is acceptable, why not 1 week, or 1 month?

Why do we restrict only future timestamps and not past timestamps?

This arbitrary 3-days-into-the-future restriction just doesn't make sense....

[2021-06-30 06:16] haaawk commented on #5619
It seems that the restriction is valuable for users. It certainly makes sense in a safe mode.

Timestamps in the future seem wrong in general. I'm wondering whether we're handling them correctly at all. Data inserted with a timestamp in the future shouldn't be visible in queries until the time of that timestamp. I'm curious whether compactions and query engine handle that correctly.

[2021-06-30 06:32] bhalevy commented on #5619
We can't avoid timestamps into the future since we don't have a global synchronized clock so the client or coordinator- generated timestamp could be larger than the replica local time.

Not with the CQL works at the moment.  Read queries return any non-expired data, including data with future timestamps.
In theory we can extend cql to support SELECT queries USING TIMESTAMP that could use the times

[2021-06-30 06:38] bhalevy commented on #5619
I think that the right restriction should be that the given timestamp must be convertible into a timeuuid.
We must support that for various functions and it will reject timestamps representing the current time, but wrongly given in nanoseconds.

[2021-06-30 06:40] bhalevy commented on #5619
Note that we even use pure numbers for timestamp in our unit tests.
See for example https://github.com/scylladb/scylla/blob/edd54a946350689a5032395cbdd799d21481ec39/test/boost/cql_query_test.cc#L975-L1057

They don't fit the model that the query (api) timestamp should be related to the wall clock.

[2021-06-30 06:41] slivne commented on #8936
@syuu1228 please also validate that the setting is correct for the GCE images

[2021-06-30 06:49] haaawk commented on #5619
Yes but the assumption is all the timestamps are relatively close to the current time. Timestamps are suppose to represent real time. Using timestamp should only be used to enable reliable reties. Of course network delays and clock desynchronizations make it impossible for timestamps to be perfectly in sync but the idea is that they are close to each other.

My understanding is that if servers and

[2021-06-30 06:51] haaawk commented on #5619
I think we do that just to make the tests deterministic.

[2021-06-30 06:55] haaawk commented on #5619
I guess it may work.

[2021-06-30 06:58] bhalevy commented on #5619
This is an example of an application that (ab)uses the cql semantics in a different way than your intention, and it proves that the following is not necessarily true, if the application cares to specify the timestamp on all inserts/updates/deletes:

See related issue #5552 72e2ea47c1f085f9da65e79336bff06ded3bb488

[2021-06-30 06:59] nyh commented on #5619
Let me begin by saying that I was against the idea of this issue and its fix but not in this discussions (we had other discussions on this in the past), but several people were involved in documenting, patching and committing this fix and they do agree with its idea, so obviously there is some disagreement.

As you said (and I said in the past), Cassandra originally did not attach any units to the

[2021-06-30 07:01] amoskong commented on #7748
Hi @haaawk

This issue also occurred in https://jenkins.scylladb.com/job/scylla-4.5/job/rolling-upgrade/job/rolling-upgrade-ami-test/26/

test id: e3d3e24a-11d1-4164-9b7e-2abdb7e45b93

#### The failed workload:

cassandra-stress write no-warmup cl=QUORUM n=10100200 -schema keyspace=keyspace1 replication(factor=3
) compression=LZ4Compressor compaction(strategy=LeveledCompactionStrategy) -port jmx=6

[2021-06-30 07:07] bhalevy commented on #5619
If the application generates timestamps that need to compare against other client-generated or server-generated timestamps, then it needs to synchronize the cluster hosts` clocks to a reasonable degree (ntp will do).  Failing to do so is really not the database's business.

Getting the units wrong, as nanoseconds, can be safely caught with the method I proposed (checking the given timestamp is con

[2021-06-30 07:13] haaawk commented on #7748
@amoskong The tools have been fixed with https://github.com/scylladb/scylla-tools-java/pull/252 so just using the latest version of the tools should fix the problem. If you can't use the latest tools then using `maxPending=1024` should solve the problem as well.

[2021-06-30 07:13] nyh commented on #5619
@bhalevy I agree with you, but don't understand why even the "getting the units wrong as nanoseconds" is an interesting case to guard against, especially since, as you said, if we get it wrong as milliseconds it we will not be able to detect it.

The question about what happens when the timestamp is so high it cannot be represented as a timeuuid is interesting, but it doesn't prevent Cassandra fro

[2021-06-30 07:21] bhalevy commented on #5619
Enforcing convertability to timeuuid is not about being interesting, but about protecting self-consistency of the metadata over CQL.

In general, If the application chose to provided timestamps into the future, I don't think it's our business to restrict it.
Certainly not to an arbitrary restriction of 3 days, that is undocumented.
I can understand a warning, or a configurable restriction, but I d

[2021-06-30 07:32] nyh commented on #5619
+1

By the way, I can make this into a configurable restriction ("safe mode"), if there is interest. But I'm not sure how it should be configured - just say "true" that this restriction is enabled? Should the number "3 days" itself be configurable? Who cares if it's 3 days or 17 days? :-(

[2021-06-30 07:36] bhalevy commented on #5619
Exactly.  Therefore if we offer such a configuration option it could be set by default to the current one (using a 3-days duration in microseconds - to make sure that anyone who changes it understands what it means). Allowing anyone whe cares about it to decrease or increase it if needed.

A value of `0` can be reserved to disable the restriction all together in an easy way.

[2021-06-30 08:49] kbr- commented on #8943
I'm guessing that the problem is in
[code]

which seems to be O(n^2) but has no yields:
[code]

This could become a problem if someone user creates their own Everywhere table though.

[2021-06-30 09:32] martin-sucha commented on #5619
It is documented for default timestamp in CQL protocol: https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L373-L378

The for `USING TIMESTAMP` in CQL, there is only [mention that the default value is in microseconds](https://cassandra.apache.org/doc/latest/cql/dml.html#update-parameters):

[2021-06-30 09:40] nyh commented on #8809
In a different discussion we realized that **reading** can fail with a write failure (not a timeout!) if it invokes synchronous read repair. This can happen if one node falls behinds in the writes. I'll open a new issue for this potential bug which may (or may not) explain this one.

[2021-06-30 09:53] nyh commented on #8809
By the way, @yarongilor my guess that read repair is responsible only makes sense if this test reads with ConsistentRead=true (CL=QUORUM). Can you please check if that is the case? Thanks.

[2021-06-30 10:00] nyh opened #8951 "When writes are throttled, reading recently-written items fails"
This is a gedankenbug - based on thinking about the code, and not reproduced yet. I came up with it as a potential explanation for issue #8809.

Consider a mixed read and write workload, both reads and writes are done with CL=QUORUM. Consider that one replica is slightly slower than the rest so our write "throttling" kicks in - all the time there are a lot (10% of coordinator memory) of write requ

[2021-06-30 10:28] avikivity commented on #8943
I do want to support everywhere tables for users (for read-mostly data). One day we can do joins from them and make @kostja happy.

I guess we can override do_get_ranges() for everywhere, the ranges for any endpoint are (-inf, +inf). Reducing algorithm complexity from O(n^2) to O(1), where's my medal.

[2021-06-30 10:29] avikivity commented on #8943
(may need to check pending tokens and all that)

[2021-06-30 10:35] avikivity commented on #8946
It still looks broken. Please paste the pre-decoded trace.

[2021-06-30 11:07] slivne commented on #8573
@avikivity backport to 4.5 we are hitting this.

[2021-06-30 11:10] slivne commented on #8934
@asias can you please help here
- need to validate that the repair ended prior to removenode starting
- according to QA they start the removenode operation only after the nodetool repair ends - I am suspecting that the command may retrn and there is a background non completed repair still running.

[2021-06-30 11:13] slivne commented on #8947
Please create a staging job - only for this nemesis - and lets run it on 4.4 and 4.5 and see:
* If this is a regression
* If this reproduces

[2021-06-30 11:33] bhalevy opened #8952 "Segfault in counters::_steady_now.load during migrate_sstable_with_large_row_number_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/860/artifact/logs-all.release.2/1625020982195_sstableloader_test.TestMigration_with_2_1_x.migrate_sstable_with_large_row_number_test/node1.log
[code]

Decoded:
[code]

Coredump: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/860/artifact/logs-all.release.2/1625020982195_sstableloader_

[2021-06-30 12:03] bhalevy commented on #8952
@xemul / @avikivity can you please look into this?

[2021-06-30 12:07] avikivity commented on #8952
This can't possibly segfault, it's a load from a static variable.

[2021-06-30 12:09] kbr- commented on #5715
You're thinking about background writes, right? Since in order for the foreground part of the write to finish (i.e. to return a result to the client) we don't need all replicas, only to achieve CL.

AFAIK background writes exist ONLY to decide whether a hint should be written. @piodul please confirm
So if hints are disabled, the coordinator can free all resources for the write as soon as the foreg

[2021-06-30 12:19] bhalevy commented on #8952
Could this be related to #8828?

[2021-06-30 12:22] bhalevy commented on #8952
Actually, since it is a static variable it's unrelated to seastar memory.

[2021-06-30 12:30] kbr- commented on #5715
Also observe that when a replica is DOWN, we actually manage completely fine.
Instead of trying to send writes to this replica, we write hints. (or don't write anything if hints are disabled)
If the writes manage to obtain the CL, the client doesn't notice anything.

So why can't we manage if the replica is only slow?

A DOWN replica should be equivalent to an infinitely slow replica.
Why should w

[2021-06-30 12:47] noam-ma-ma opened #8953 "Gocql client driver does not recover after a node failover"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): Scylla Enterprise 2020.1.7 - Cloud

[2021-06-30 12:49] noam-ma-ma commented on #8953
Opening in scylladb/gocql driver github repo

[2021-06-30 12:49] #8953 closed

[2021-06-30 12:52] avikivity commented on #8573
Backported to 4.5. @raphaelsc what about older releases?

[2021-06-30 12:59] piodul commented on #5715
I can agree that hinted handoff usually requires the mutation to be kept in memory for the whole duration of the write - when CL is achieved but some replicas didn't successfully respond within timeout, we write hints for failed replicas - so we need to keep the mutation until the write times out or all replicas respond. Actually, for some writes which can't result in hints (e.g. CL=ALL) this migh

[2021-06-30 13:10] raphaelsc commented on #8573
not vulnerable

[2021-06-30 13:13] raphaelsc commented on #8952
On Wed, Jun 30, 2021 at 9:22 AM Benny Halevy ***@***.***> wrote:

can that be a compiler bug? found that old GCC had a bug when loading
unaligned atomic data, but we do enforce cacheline alignment on
counters struct.

[2021-06-30 13:18] nyh commented on #5715
@kbr- a very nice idea, but one difference is that a DOWN node is supposed to be a temporary thing - if the node is down for too long, we stop writing hints... So the user is expected to do something about this node to bring it back up or remove it entirely from the cluster.

If we add the notion that a replica is considered "SLOW WRITER" - and then some percentage of writes to it are replaced by

[2021-06-30 13:37] elcallio commented on #8418
a0745f9 does indeed force outgoing rpc to bind the local side of a connection to broadcast, this is required to be able to enforce rack/dc matching. But I don't quite understand the comment "the broadcast address is an IP that the machine knows nothing about" @gleb-cloudius . If we don't know broadcast, it is gonna be terribly difficult to use it for any purpose, no? Unless it is 0.0.0.0, in which

[2021-06-30 13:43] avikivity commented on #8952
There is no need to cachline align atomics. They would be impossible to use.

They need to be aligned, but the compiler arranges for that (and on x86 even that is unneeded).

[2021-06-30 13:43] denesb opened #8955 "Some unit tests cause broken promise exceptions, which are ignored"
I have recently added an `std::abort()` to `seastar::internal::set_to_broken_promise()` to debug a broken promise exception I saw in one of the tests I was working on and suddenly when running all the tests I noticed some of them start failing with abort. Turns out, these tests are causing broken promise exception either intentionally or not but these exceptions are silently ignored.

I think we s

[2021-06-30 14:04] bhalevy commented on #8952
[code]

[2021-06-30 14:13] bhalevy commented on #8952
[code]

@elcallio how can this=0x0 in the call to `db::commitlog::segment::sync`?

[2021-06-30 14:19] bhalevy commented on #8952
@avikivity I didn't look at the assembly code but is it possible the segfault occurred on the store part of:
[code]
when this is `nullptr`,
and the backtrace printed by addr2line appears to point to `atomic_base<long>::load` because of inlining?

[2021-06-30 14:31] bhalevy commented on #7500
Scylla doesn't listen on the unencrypted port when `internode_encryption: all`

See https://github.com/scylladb/scylla/blob/029991bfc236f0a3dfc1e8205b1930c85ae98b09/message/messaging_service.cc#L360

[2021-06-30 14:58] slivne commented on #8908
I tried to download the metrics and can't  - so I can;t really know if in this case compaction is not able to keep with the traffic - or

We have a case in which we have a view using STCS and getting more and more sstables with the exact same data - and reaching the space amplification that STCS may reach which is x7-x12 ...

So I restarted another run to try and see if I can understand whats goin

[2021-06-30 15:02] bhalevy opened #8957 "messaging_service listens on a random port when the port is configure to 0."
See https://github.com/scylladb/scylla/pull/8956

@gleb-cloudius wrote:

I'm opening this issue for the record and in case we consider to backport the fix.

[2021-06-30 16:15] bhalevy opened #8958 "named_semaphore_timed_out triggers cql read failure error rather than a read timeout"
The storage_proxy `abstract_read_resolver` implements logic to intentionally swallow timeout errors from replicas and let the query timeout and be reported as a read timeout error to the client.
See https://github.com/scylladb/scylla/blob/029991bfc236f0a3dfc1e8205b1930c85ae98b09/service/storage_proxy.cc#L2812-L2820

The `named_semaphore_timed_out` error returned from https://github.com/scylladb/sc

[2021-06-30 16:26] syuu1228 commented on #8924
@avikivity Ah I see, so it's another .mount bug caused by a677c46
And yes, it reproduced when upgrading from scylla-4.5.rc3-0.20210620.706de00ef to scylla-4.6.dev-0.20210630.029991bfc.
I will try %ghost %config

[2021-06-30 16:30] bhalevy commented on #7500
@nyh, @amoskong, @jul-stas so listening on a random port when the native port is configures to 0 is just to achieve Cassandra compatibility?

I think it mainly causes more confusion and I don't see how this can be practically used?
FWIW, as seen in https://github.com/scylladb/scylla-dtest/pull/2210, for the storage (a.k.a rpc) port the dtest, that I presume reflects the expected Cassnadra behavior

[2021-06-30 16:45] roydahan commented on #8908
Shlomi, in this case it’s LCS.
Why weren’t you able to download the metrics?
Did you try the hydra show monitor?

On Wed, Jun 30, 2021 at 17:58 Shlomi Livne ***@***.***> wrote:

[2021-06-30 17:56] vladzcloudius commented on #3561
@tgrabiec BTW, to decrease the probability of situation as in your example we can improve the original algorithm and the moment an expired tombstone is detected on one of the replicas and if it's the latest version of the data - include all replicas in a read-repair.

This would not promise that the system would become unbreakable since networking partitioning during the read-repair can still make

[2021-06-30 19:16] #8880 closed

[2021-06-30 21:24] syuu1228 commented on #8924
`%ghost %config` worked for both prevent removing .mount while upgrading, and also after package removed.
I will send PR for this.

[2021-06-30 22:10] #8957 closed

[2021-07-01 02:16] shawn-cheng commented on #8946
pre-decoded trace
Jun 15 14:06:07 scylla-cluster-1 scylla[25391]: Reactor stalled for 528 ms on shard 4.
Jun 15 14:06:07 scylla-cluster-1 scylla[25391]: Backtrace:
Jun 15 14:06:07 scylla-cluster-1 scylla[25391]:   0x0000000002b5b002
Jun 15 14:06:07 scylla-cluster-1 scylla[25391]:   0x0000000002b5b690
Jun 15 14:06:07 scylla-cluster-1 scylla[25391]:   0x0000000002b5bb61
Jun 15 14:06:07 scylla-cluste

[2021-07-01 02:43] asias commented on #8934
The nodetool removenode was performed on node 6.

[code]

The version does not have

[code]

[2021-07-01 02:47] asias commented on #8934
Before removenode was performed, _read_concurrency_sem timeout error was observed.
[code]

[2021-07-01 02:54] asias commented on #8934
@fgelcer

Here is all repair performed on node 6.

[code]

The last one with id 1024, uuid 08ce218f-ee71-46ae-b261-972ddb0dfc58 finished successfully.

[code]

Was those repair performed for Step 3, repair before removenode? Those repairs were way earlier (2021-06-24T13:34:43+) than the removenode operations which started at `2021-06-24T20:08:49`.

[2021-07-01 03:05] asias commented on #8934
After repair for removenode started for cdc_test started, we can see nodes 10.0.2.28 (node7) and 10.0.2.204 (node1) were marked as done by 10.0.3.1 (node 6). Node 1 and node 7 were part of the removenode operations (See https://github.com/scylladb/scylla/issues/8934#issuecomment-871868599).

The reason for the failure of the repair for removenode was the participants nodes node 1 and node7 were ma

[2021-07-01 07:19] gleb-cloudius commented on #8418
@elcallio  This is default multi-dc AWS config. Local address is something like 10.0.1.253, but to connect to that node from different DC you need to use some other, non private, address (for instance 34.256.8.22).  The node itself knows nothing about 34.256.8.22. NAT takes care of everything. In such a case the config will have 10.0.1.253 as listen address and 34.256.8.22 as broadcast address. **

[2021-07-01 08:12] avikivity commented on #1593
@tzach maybe it was improved in the last four years, please retest

[2021-07-01 08:14] avikivity commented on #818
Stale bug, rebuild has changed many times over the years. Please retest with a new version.

[2021-07-01 08:14] #818 closed

[2021-07-01 08:15] avikivity commented on #2010
Stale, unclear. Closing.

[2021-07-01 08:15] #2010 closed

[2021-07-01 08:19] avikivity commented on #1430
More or less fixed by ef85cf1cb3e8db881a8554cadbc204f9a8fff5cf, no reported problems with memory used for compression info.

[2021-07-01 08:20] #1430 closed

[2021-07-01 08:23] avikivity commented on #3294
Relevant fixes: b2f995807156e91ed9306a87974d3bf9ded64a90 a08b640fa72bf603c8fd24cbe7700543a1a73cf5

[2021-07-01 08:23] #3294 closed

[2021-07-01 08:26] tgrabiec commented on #3561
On Mon, Jun 28, 2021 at 8:08 PM Vladislav Zolotarov <
***@***.***> wrote:

The property you're talking about falls under the correctness category and
it will be provided by https://github.com/scylladb/scylla/issues/3560.
Repair sending expired tombstones doesn't provide it because it doesn't
prevent each node from dropping expired tombstones in compaction.

[2021-07-01 08:28] tgrabiec commented on #3561
On Wed, Jun 30, 2021 at 7:56 PM Vladislav Zolotarov <
***@***.***> wrote:

Yes.

I still think we should rather do
https://github.com/scylladb/scylla/issues/3560, which covers all scenarios,
than make read-repair more aggressive.

[2021-07-01 08:31] avikivity commented on #1498
Stale, closing. Many bugs were fixed in this area.

[2021-07-01 08:31] #1498 closed

[2021-07-01 09:03] bhalevy commented on #8755
Backport notes:

This issue is presumably triggered by 10ae77966c6dbdce7e71b06c5d2fd0146db005e4
that is present since 4.3.
The test itself was backported only to 4.4 and on, and fails in all releases.

[2021-07-01 09:06] #8459 closed

[2021-07-01 10:03] tgrabiec commented on #3561
On Mon, Jun 28, 2021 at 7:59 PM Vladislav Zolotarov <
***@***.***> wrote:

Today it's GUARANTEED to happen as described above and there is no easy way

The point here was that perpetuating expired tombstones in the system is
also a problem.

But this points at another problem. One way to fix #6033 would be to drop
expired tombstones from cache as soon as they expire (if they don't cover
data in me

[2021-07-01 11:20] avikivity commented on #8573
Dequeued from 4.5, tests fail.

[2021-07-01 11:35] fgelcer commented on #8828
note for self, @avikivity mention in an email thread that:
[code]

[2021-07-01 11:44] bhalevy commented on #7866
Sorry but I think we need to change this part of 29e4737a9b06875ed3ef97e816252a83529c529c that allowed listening on port 0.

(and @jul-stas, for next time, the patch would be much better if it was separated into 2: one fixing the abort issue (#7783) and one implementing this feature - I think it was wrongly mis-categorized as a bug)

Anyhow, even if Cassandra allows listening on a random port by s

[2021-07-01 11:46] bhalevy commented on #7866
@amoskong since you opened this issue, please ack.

[2021-07-01 13:00] avikivity commented on #8946
I see the problem, the trace happened with Scylla 4.3.2 but you decoded with 4.3.5.

Here's the correct decode with 4.3.2:

[code]

[2021-07-01 13:01] avikivity commented on #8946
And the problem appears to be that you have a huge run of tombstones. Either that, or you're using non-paged queries.

[2021-07-01 13:58] vladzcloudius commented on #3561
it will be provided by #3560.

Let's specify exactly the property I'm talking about: "Tombstone (expired or not) should be sent to a replica if it has a data shadowed by that tombstone because tombstones are supposed to be evicted only after the data they shadow is also evicted".

You are right that this is also going to render correctness but not less importantly this is going to improve both the

[2021-07-01 14:24] racevedoo opened #8962 "Inserting null clustering column fails silently"
*Installation details*
Scylla version (or git commit hash): 4.4.3
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): docker on local ubuntu

When inserting a null clustering column, the insert statement returns no error (but does not insert data, as expected). It should return a error to the user, as cassandra does.

On scylla 4.4.3:
[code]

On cassandra 3.11:
[code]

[2021-07-01 14:44] tgrabiec commented on #3561
On Thu, Jul 1, 2021 at 3:58 PM Vladislav Zolotarov ***@***.***>
wrote:

The recorded repair timestamps should be also restored from backup together
with local system tables.

Cache is above sstables, the combined reader will not read from sstables if
it hits the range in cache. So expired tombstones may not be visible
to read-repair if the cache decided to compact them. It is allowed to,
since tha

[2021-07-01 19:02] vladzcloudius commented on #3561
with local system tables.

This is going to be a very sensitive change, @tgrabiec.
For instance: what if the user wants to restore only a single table and schema (of some other tables) has changed since then?

Doable? - Yes. Trivial - no! ;)

But more importantly this wouldn't prevent a data resurrection in a general case since a backup may have a data that has been deleted and compacted out.

My

[2021-07-01 19:14] vladzcloudius commented on #3561
@tgrabiec the performance is hit much more today due to a read-repair storm. So, performance wise the fix is going to improve things and not make them worse.

it hits the range in cache. So expired tombstones may not be visible
to read-repair if the cache decided to compact them. It is allowed to,
since that's what expired means, that the tombstone can go away because it
propagated everywhere.

ar

[2021-07-01 19:33] vladzcloudius commented on #3561
@asias Do you agree with the above?

[2021-07-01 20:58] roydahan commented on #8941
What do you mean by "talk"?
SCT gets the logs by rsync and connect with SSH everytime it needs to runs something on the node.

If we see many SSH tries (but not connections) maybe it's an attack on the nodes as we can sometimes see on nodes that have public IPs and security groups aren't restrictive enough.

[2021-07-01 21:06] nyh opened #8964 "Quick dead-node detection for reads"
The idea described in this issue is based on @psarna's idea in his pull request #7979. Piotr, if you think my summary of your idea doesn't do it justice, feel free to close this issue and open a different one - but we should have an issue describing the idea.

When a replica node goes down, it takes a long time (around 20 seconds) until coordinators recognize by gossip that it is down. All this ti

[2021-07-02 00:05] vladzcloudius commented on #3561
are not guaranteed to hold, and this is an example of when they will stop
    holding.

I think I know what you meant: you probably meant to implement the same broken logic we have today in a read-repair for the cache too. That would be a terrible idea IMO - for same reasons the current read-repair implementation is broken.

What you should probably do to properly fix #6033 is to make expired tomb

[2021-07-02 04:02] shawn-cheng commented on #8946
I have set TTL for update the record.Ｗill it cause the huge run of tombstones? IF it will,should I change the gc_grace_seconds setting for the table?

[2021-07-02 09:15] Felix-zhoux commented on #8929
No, I don't think so.

As we discussed in [https://groups.google.com/g/scylladb-users/c/_gzJOekbQxE](https://groups.google.com/g/scylladb-users/c/_gzJOekbQxE), I think it is caused by multiple clients concurrently executing scan on the same table at the same time.

[2021-07-02 09:37] avikivity commented on #8941
talk = communicate.

How often does it invoke ssh or rsync?

Please fix the security groups, we don't need to debug external attacks on the nodes.

[2021-07-02 15:07] dkropachev opened #8965 "Reactor stall after scylla was stopped on another node"
CPU load stayed not more than 75% all the time on Node-1, no significant disk or memory pressure observed, but yet it raised reactor stall.

Steps:
1. Node-2 (10.0.3.55): "sudo systemctl stop scylla-server.service"
2. Node-1 (10.0.0.35) throw reactor stall

Scylla version: 4.6.dev-0.20210628.c0c1e2601 with build-id be170b54ddb69a5ec11af5b81c1b366ad2b895de (ami-02edc9dc3dbdc1a4a)
Instance type: i3.

[2021-07-02 16:43] syuu1228 opened #8966 "dist/redhat: scylla-node-exporter causes error while executing scriptlet on install"
It seems like scriptlet on scylla-node-exporter has a bug, causes error on install:
[code]

[2021-07-02 17:35] dkropachev opened #8968 "keyspace can become immortal after DROP KEYSPACE"
Steps:
1. Start scylla: `docker run -d scylladb/scylla:4.4.1`
2. On console N1 run: `docker exec -i <docker_id> bash -c "while true; do sleep 1; cqlsh -e 'DROP KEYSPACE drop_table_during_repair_ks_9' || true ; done"`
3. On console N2 run: `docker exec -i <docker_id> bash -c "while true; do cassandra-stress write no-warmup cl=QUORUM -port jmx=6868 -mode native cql3  user=cassandra password=cassandr

[2021-07-02 18:08] dkropachev opened #8969 "can't meet consistency after keyspace cleanup (commitlog hard limit related)"
Version: 4.5

test_id: 331a7428-0325-4d1f-b1e9-ac216068b9df

Steps:
1. Create cluster of 6 nodes
2. Run c-s `cassandra-stress mixed cl=QUORUM duration=4320m -schema keyspace=keyspace1 'replication(factor=3) compaction(strategy=SizeTieredCompactionStrategy)' -port jmx=6868 -mode cql3 native -rate threads=100 -pop seq=1..100000000 -log interval=5 -node x.x.x.x -errors skip-unsupported-columns`
3. Re

[2021-07-02 18:18] vladzcloudius opened #8970 "QUORUM Reads can start randomly return resurrected/current data if the data was deleted and if a full repair failed to run in a gc_grace_second time frame"
## Installation details
HEAD: 373fa3fa07d366ea5a8632f0ddffae6f226f64c3
Cluster size: 3

## Description
If the data was deleted with a CL=QUORUM, the tombstone haven't reached one of the replicas and if it wasn't repaired during the `gc_grace_seconds` following reads with CL=QUORUM are going to randomly return either the old or a NULL data depending on which replicas are chosen.

When this happens

[2021-07-02 18:20] vladzcloudius commented on #8970
@tgrabiec @denesb @eliransin @tarzanek @kostja @gleb-cloudius FYI

[2021-07-02 18:20] vladzcloudius commented on #3561
I created a separate issue for a read-repair problem: https://github.com/scylladb/scylla/issues/8970

[2021-07-02 18:32] raphaelsc commented on #8969
did you start c-s while cleanup was running or after it completed?

[2021-07-02 18:50] dkropachev commented on #8969
According to the steps it was started from the beginning

[2021-07-02 19:10] dkropachev commented on #8886
@roydahan , did not see it on this week

[2021-07-02 19:24] raphaelsc commented on #8969
do you have monitoring data? looks like the cluster was overloaded.

[2021-07-02 19:54] dkropachev commented on #8969
I'm working on it, sct failed to collect it, but I managed to recover Prometheus data folder.

[2021-07-03 06:45] fggarcia opened #8971 "order creation swap in scylla_setup"
### VERSION
Scylla version (or git commit hash): 4.4 - 4.5

### DETAIL
I try to understand next situation

I run scylla_setup with next step:
[code]

Check io_properties.yaml
[code]
output
[code]

if i run scylla_setup again, after create swapfile from first run scylla_setup
[code]

now check again io_properties.yaml
[code]
output
[code]

maybe swap setup must be configure before running io tune i

[2021-07-03 10:05] tzach commented on #8877
@shoshan please include the Manager version for such issues.
The issue might be specific to a Manager version / Scylla version combniation.

[2021-07-04 08:56] bhalevy commented on #8970
@vladzcloudius it's not really random data, isn't it?
Do you mean the reads can return resurrected data inconsistently/randomly?

[2021-07-04 09:01] nyh commented on #8968
Hi, we are well aware that our current implmentation of schema change operations (such as creating and dropping keyspace) is not safe against concurrent conflicting operations from different nodes - we're planning to use Raft to address this.
However, if I understand your scenario correctly it is worse for two reasons:
1. Only one node is involved, so we should have been able to do the right locki

[2021-07-04 09:18] nyh commented on #8968
Unfortunately (or fortunately), I was finally able to reproduce this in a cql-pytest. It is apparently not enough to have a race of CREATE KEYSPACE and DROP KEYSPACE - it is also necessary to CREATE TABLE inside this keyspace in parallel with it being deleted. What I see in the end of this space is that "DROP KEYSPACE" succeeds but attempting "DROP KEYSPACE" again succeeds again (!) and attempting

[2021-07-04 11:01] nyh commented on #8968
Here is a reproducing single-node test, use the cql-pytest framework:

[code]

The test passes on Cassandra, but fails on Scylla - after the two creation and deletion threads are done, the schema is left in an inconsistent state, and some one of the four operations we have the end fails. Usually it is the second DROP KEYSPACE that doesn't fail as it should (in fact, we can do 50 DROP KEYSPACE and

[2021-07-04 12:16] nyh commented on #8968
I sent a patch with a reproducing test to the mailing list, titled "[PATCH] cql-pytest: add reproducer for concurrent DROP KEYSPACE bug"
After that patch is applied, to run the test and see how it fails run:
[code]

[2021-07-04 16:41] yarongilor commented on #8089
reproduced in 4.6 gemini-1t test.
error:
[code]
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210628.c0c1e2601 with build-id be170b54ddb69a5ec11af5b81c1b366ad2b895de`
Cluster size: 3 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   gemini-1tb-10h-master-db-node-e3ff0cc3-1 (13.48.1.21 | 10.0.3.219): 14 shards
   gemini

[2021-07-04 17:15] #8893 closed

[2021-07-04 17:15] #8923 closed

[2021-07-04 17:15] #8924 closed

[2021-07-04 20:13] slivne commented on #8971
@xemul why are there such a big difference between iotune runs ?

I do not think swap has anything todo it.

[2021-07-04 20:18] slivne commented on #8965
what is the stall size

[2021-07-04 21:09] tgrabiec commented on #3561
On Thu, Jul 1, 2021 at 9:14 PM Vladislav Zolotarov ***@***.***>
wrote:

You're talking about performance when we're in a corrupted state. I'm
talking about performance when we're not in a corrupted state. The fix
would affect it too.

The reader would not go to sstables after tombstone expires, it doesn't
have to. The key range is still marked as complete in cache.

Related to the fact that expire

[2021-07-05 01:35] asias commented on #3561
In my view, the tombstone expired or not is of high priority than the gc_grace_period. The tombstone is something that user asked specifically to delete some data. While the fragile gc_grace_period thing is just a compromise made by the database in order not to explode the itself.

When people run repair beyond gc_grace_period it is stupid to say:  I am sorry I know you have deleted something but

[2021-07-05 07:07] gleb-cloudius commented on #3561
On Sun, Jul 04, 2021 at 02:09:27PM -0700, Tomasz Grabiec wrote:

This is precisely the point of disagreement: we should not pessimize
well maintained system in favor of making non maintained one to behave
marginally better.

--
			Gleb.

[2021-07-05 07:11] gleb-cloudius commented on #3561
On Sun, Jul 04, 2021 at 06:35:59PM -0700, Asias He wrote:

The system invariant is that if a tombstone is older than
gc_grace_period it means it is already present on all replicas.
Unfortunately to maintaining this invariant involves manual operation.
There is a proposition that is linked here several time how that can be
improved.

The difference between regular tombstone and gced one that the la

[2021-07-05 07:29] asias commented on #3561
How to fix / improve the broken gc_grace_period logic is another topic. We should not assume it is fixed before it really is when considering weather we should make repair to ignore expired tombstone.

If it is gone before repair we can do nothing. But if it is present when repair runs, we can and should  take advantage it. It can gone at any moment is not an excuse not to make use of it.

[2021-07-05 07:31] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 12:29:43AM -0700, Asias He wrote:

Until it fixed we should maintain invariant manually - run repair in
time.

We should not copy tombstones to a node that already gced them.

--
			Gleb.

[2021-07-05 07:37] denesb commented on #3561
Repair is already propagating expired tombstone (and more) and we are not seeing severe adverse affects. Introducing compaction to streaming and repair with `never_gc` is actually going to be a performance improvement compared to what we have now, so I find the performance argument quite moot.

[2021-07-05 07:40] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 12:37:18AM -0700, Botond Dénes wrote:

Why do you find it moot if you think it will be performance
improvement?

--
			Gleb.

[2021-07-05 07:43] denesb commented on #3561
I find it moot because of how it is used here: opposing the sending of gc'd tombstones because it will have negative effects on performance. Negative compared to the "ideal" state where we are not sending anything compaction would drop, which is not what the present state is. The present state is that we send everything, compared to which sending only live and expired tombstones (but not shadowed

[2021-07-05 07:44] asias commented on #3561
Making this statement does not magically make every cluster run repair in time. It is very easy to miss it in practice.

How do you know it is gced or it is never been there at all. IMO, it is better to send a bit more data than resurrecting data.

[2021-07-05 07:48] asias commented on #3561
Yes, @denesb. Avoid sending the shadowed data is a significant improvement. That's the major reason I requested the compaction reader for repair in the first place.

[2021-07-05 07:48] dkropachev commented on #8965
262 ms

[2021-07-05 07:50] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 12:44:11AM -0700, Asias He wrote:

If you do not do that you _will_ see data resurrection, not matter what
we do with repair and read repair. So yes, people who use
Scylla/Cassandra do run repair in time if they care about their data not
been corrupted.

That's exactly the point. You cannot know (until the data resurrection
protection is implemented). And hence you need to

[2021-07-05 07:53] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 12:43:33AM -0700, Botond Dénes wrote:

With that I agree. Sending just a tombstone is better than also sending
all of the data it hides. Still we will prolong the live of tombstones
which may accumulate and a lot of tombstones cause us performance problems.
Should people that run repair pay that price?

--
			Gleb.

[2021-07-05 07:53] amoskong opened #8972 "Feature: commitlog compression"
### Description

Scylla doesn't support commitlog compression.

Quote from https://cassandra.apache.org/doc/latest/architecture/storage_engine.html:

`commitlog_compression`: Compression to apply to the commitlog. If omitted, the commit log will be written uncompressed. LZ4, Snappy, Deflate and Zstd compressors are supported.

[code]

Related issue: https://github.com/scylladb/scylla/issues/1638

[2021-07-05 07:59] denesb commented on #3561
My point is that everybody is already paying it, yet not complaining (too loudly), so maybe it doesn't have effects as negative as we think it does. Note that I'm not arguing that it has *no* negative effects at all, certainly not sending them would be better. Still, if it helps some real deployments while the negative effects are so negligible that this issue -- which for more than a year now (si

[2021-07-05 08:03] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 12:59:35AM -0700, Botond Dénes wrote:

This is an argument against any kind of pro active optimization :)
Though AFAIK people do suffer from to much tombstones, may be not
expired though.

With that I agree.

--
			Gleb.

[2021-07-05 08:04] elcallio commented on #8418
Well, then internode encryption will pretty much fail, will it not? Unless NAT rewrites local address for outgoing packets as well, in which case we should bind to what? Listen address, or will that be akin to 0.0.0.0? But again, unless question one is dealt with, it won't help. Unless we roll back the whole IP based security thing, and just go with cassandras "I promise I am in the DC" solution -

[2021-07-05 08:09] asias commented on #3561
Yes, repair is important to run. But it is hard to guarantee the repair will be finished all the time as scheduled. Repair is a low priority maintenance operation. It can be slowed down by other workload in the system like compaction and query.

Let's not mix feature that is not there. If we do not know if it is gced or never been there,  we'd better to be extra careful when handling those tombsto

[2021-07-05 08:09] gleb-cloudius commented on #8418
I cannot say I understand what is the problem with internode encryption in the first place. May be NAT does rewrite local addresses in such setup. In fact I do not see how it may work if it does not (responder ip stack knows nothing about internal addressing of a DC the packet is coming from).

[2021-07-05 08:10] bhalevy commented on #3561
One corner case I think was not covered in the discussion here is if repair starts within `gc_grace_seconds` but takes a long time to finish, passing gc_grace_seconds. It pretty clear that we do want to send the gc-expired tombstones in this case since we don't know if they were already repaired or not.

[2021-07-05 08:16] bhalevy commented on #3561
@asias - I agree that it is desirable to send gc-expired tombstones as part of repair and not send the data they shadow.  But, we should also try to prevent accumulation of gc-expired tombstones, and/or deleted data indefinitely.  In the cases that we're repairing node A that has data D that was deleted by tombstone T that's present on node B but not on node A we need to make sure that A receives

[2021-07-05 08:18] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 01:09:45AM -0700, Asias He wrote:

Again, if you do not complete a repair in gc_grace_seconds timeframe you
will have data resurrection not matter what we do here. I do not see how
can you argue that this is fine.

You punish systems that do run repair in time (almost 100% of them out
there) in favor of those that are not properly maintained and hence
have corrupted data no

[2021-07-05 08:27] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 01:10:34AM -0700, Benny Halevy wrote:

It is counter as a repair that was not done in time.

--
			Gleb.

[2021-07-05 08:28] bhalevy commented on #3561
Can the repaired node drop the gc-expired tombstone if it has no data that the tombstone shadows?
If it has such data then it would surely benefit from keeping the tombstone since it obviously didn't get it in the first place.
If it already compacted the tombstone away, along with the data it shadows it can detect that when repairing the partition and drop the gc-expired tombstone since it changes

[2021-07-05 08:32] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 01:28:33AM -0700, Benny Halevy wrote:

Probably. It is surely something that is worth exploring. I think to do
that the repair will have to read the data once more, but I let more
knowledgable people to comment.

--
			Gleb.

[2021-07-05 08:32] bhalevy commented on #8553
@alecco, now the error is a little more specific (though I'm not sure it's sufficient to understand the problem)

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/839/testReport/lwt_banking_load_test/LWTBankingLoadTest/test_bank_with_nemesis/
[code]

[2021-07-05 08:35] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 11:32:12AM +0300, Gleb Natapov wrote:

Another thing to consider is that it may not have the data because it
did not get it, not because it was compacted away and it may receive it
from some other node during same repair run later. Actually this may
happen no matter why the data is not present.

--
			Gleb.

[2021-07-05 08:42] bhalevy commented on #3561
Repair is done against all living nodes if there's a node that should have a copy of the data and it is not responding repair is considered as fails, but still I believe it's doing best effort attempt in this case (@asias please stand me corrected).
If the MIA node will come back to life later on and it has the deleted data but not the tombstones and all other nodes already compacted the data away

[2021-07-05 08:44] asias commented on #3561
I am not arguing it is fine. I am arguing not finish repair can happen in practice. When it happens, we can do better than just ignoring the tombstone is present but it is expired by gc_grace_seconds.

Gleb, you are just assuming repair is performed in time all the time. How do you be so sure it is almost 100% out there? @vladzcloudius can you please comment from your experiences.

The tombstone t

[2021-07-05 08:52] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 01:44:28AM -0700, Asias He wrote:

You do understand that this will not guaranty that there will be no data resurrection, right?

Because otherwise the data is resurrected. The cluster is corrupted at
this point. No amount of repair will fix it.

There is a difference between each node compacting gced tombstones in
their own, different, time and hence eventually getting rid

[2021-07-05 09:26] syuu1228 commented on #8921
I could not able to reproduce the issue, on my test scylla-fstrim.timer becomes inactive when scylla-server.service stopped, no timer triggered after that (Both on CentOS7 and Ubuntu 20.04).
However, I found that `systemctl start scylla-fstrim.timer` triggers scylla-server.service because of the dependency, it may not what we expected.
Since scylla_fstrim script does not really depends on scylla-s

[2021-07-05 10:33] syuu1228 commented on #8931
@avikivity What do you think about this? Should we change the parameter?

[2021-07-05 10:54] elcallio commented on #8418
Yes, I am just unsure if the connection on the other end will see the NAT outside address as "remote". I hope it does. But I typically saw that unless explicitly bound to the right interface, the other side sees the remote as "wrong" address in more "normal" local cases.
Still leaves the question of where to bind to? Listen address is not necessarily the route interface for the broadcast (might be

[2021-07-05 11:11] bhalevy commented on #8573
@raphaelsc the backported patch was dequeued.
see https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/next/62/artifact/testlog/release/sstable_datafile_test.343.log
[code]

Please look into it asap.

[2021-07-05 11:24] nyh commented on #1789
@vladzcloudius I still don't follow your logic on tying the two things (simplesnitch and simplestrategy) together:

We already decided that `NetworkToplogyStrategy` should be recommended **always**, regardless of whether or not you actuall have racks or DCs. It can be used even one a one-node cluster, and this is what we do in tests (or will do - see #8638 ).

I don't want to have a case (when Sim

[2021-07-05 11:46] gleb-cloudius commented on #8418
I think binding to listen address will work (as in the bind() call will not fail). Will it guaranty the "correct" peer address on a server in the AWS NAT setup? Who knows. But why should we ever try to solve the problem in the code? Isn't it possible to close non-tls port in a firewall on DC level?

[2021-07-05 11:49] elcallio commented on #8418
Don't ask me. I am personally partial towards the "encrypt all" approach, but that was deemed to overheady/expensive.
Binding to listen_address _did_ fail for local tests IIRC, but I might be misremembering. As usual, this is not 100% easy to check for all combos.

[2021-07-05 11:56] elcallio commented on #8418
As I said, I might be misremembering. But I seem to recall at least some local setups borked due to this. Will test some.

[2021-07-05 12:17] asias commented on #3561
If the tombstone is gone BEFORE repair, repair will not help. I am talking about the case the tombstone is present even if it is expired. Of course, currently, there is no guarantee when one run repair after  gc_grace_seconds  the expired tombstone is still there.

You are not answering the question. Let me repeat. How do you be so sure that repair is performed in time in real life deployment?

Yo

[2021-07-05 12:37] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 05:18:10AM -0700, Asias He wrote:

Exactly. So you cannot guaranty that the data is not resurrected. Keep
that point in mind.

I am saying that the question is absolutely irrelevant to the
discussion. If you do not you have data resurrection no matter what you
do here. So you just run it in time. How you make sure of it?
Irrelevant.

You said it yourself: If the tombstone i

[2021-07-05 12:45] raphaelsc commented on #8573
will do it. thanks

On Mon, Jul 5, 2021 at 8:12 AM Benny Halevy ***@***.***>
wrote:

[2021-07-05 13:11] elcallio commented on #8418
A somewhat poorly verified patch sent to https://github.com/scylladb/scylla/pull/8974

[2021-07-05 14:13] avikivity opened #8975 "Slowdown in debug mode due to log-structured allocator backtraces"
This is a profile of `database_test`:

[code]

Many of the functions are related to backtrace collection - seastar::decorate, anything with seastar::shared_object, dl_phdr_info, and more. Some of the generic asan overhead (__asan_memcpy) can also be attributed to this functionality. But in a successful run, these backtraces are just thrown away, so they only slow down the test without contributing

[2021-07-05 14:14] avikivity commented on #8975
This functionality should be made optional and non-default.

[2021-07-05 14:29] nyh commented on #8879
I'm closing this issue - there is no agreement that we need or want a common prefix for the "safe mode" options. There is agreement, however, that we want to be able to know (e.g. in "scylla --help", but in the future perhaps more than that) which options are considered "safe mode" options. I'll open a new issue saying that.

[2021-07-05 14:30] #8879 closed

[2021-07-05 14:32] bhalevy commented on #8808
@kostja I see bursts of timeout errors from CAS.
Is this a known issue by any chance?
This issue is blocking the 4.5 release, so please handle in high priority.  Thanks!

For example:
[code]

[2021-07-05 14:33] syuu1228 commented on #8922
It's bonding device handling bug on perftune.py.
It is already fixed at https://github.com/scylladb/seastar/commit/5e6f9a8af2bf8549f567e0f67c35ff24d5e63e19, but looks like not backported yet.
@avikivity @penberg Please backport the commit to branch-4.4, branch-4.5

[2021-07-05 14:44] kostja commented on #8808
Most likely coming from commit log patches, that's the only thing that changed in 4.5 AFAIU

[2021-07-05 14:44] kostja commented on #8808
Most likely coming from commit log patches, that's the only thing that changed in 4.5 AFAIU

[2021-07-05 14:49] bhalevy commented on #8808
@elcallio please confirm.  Any known issue in 4.5 that can lead to this?

[2021-07-05 15:01] avikivity commented on #8965
This looks like yet another duplicate of #8828. It's not exactly the same since this is on decode, not encode. Encode can happen on the first use of a page, but decode cannot, so maybe they're different.

[2021-07-05 15:02] avikivity commented on #8965
Also, there is real reclaim happening here. Although we're only allocating 128k and this in no way justifies a 262ms stall.

[2021-07-05 15:15] nyh opened #8976 "Separate "safe mode" options from the rest of the options"
This is a spin-off from issue #8879, which suggested a different direction but then mutated into the one proposed in this issue.

We currently have two "safe mode" options, `--restrict-replication-simplestrategy` and `--restrict-dtcs`.  In issue #8882 I noted that two pre-existing configuration options, `max_partition_key_restrictions_per_query` and `max_clustering_key_restrictions_per_query`, are

[2021-07-05 17:32] yarongilor commented on #8863
reproduction in 4.6 200gb longevity:

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210628.c0c1e2601 with build-id be170b54ddb69a5ec11af5b81c1b366ad2b895de`
Cluster size: 4 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-200gb-48h-verify-limited--db-node-45a9a514-1 (13.49.76.101 | 10.0.1.36): 14 shards
   l

[2021-07-05 17:36] raphaelsc commented on #8573
@avikivity https://github.com/scylladb/scylla/issues/8531 must be backported first, it fixed a bug in procedure to count overlapping

[2021-07-05 18:29] yarongilor opened #8977 "Segmentation fault and core dump during RollingRestartCluster nemesis"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210628.c0c1e2601 with build-id be170b54ddb69a5ec11af5b81c1b366ad2b895de`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-master-db-node-6027cc13-1 (13.49.73.51 | 10.0.0.158): 14 shards
   longevity-tls-50gb-3d-master-db-node-6027cc13-

[2021-07-05 18:55] tgrabiec commented on #3561
On Mon, Jul 5, 2021 at 9:59 AM Botond Dénes ***@***.***>
wrote:

The proposed fix would affect latency of CQL reads, which currently do not
send expired data on read-repairs. Users don't care about the performance
of repair as much since it runs in the background and is a process which is
expected to take long.

[2021-07-05 19:50] #8926 closed

[2021-07-05 19:50] #8966 closed

[2021-07-05 20:45] slivne commented on #7930
@avikivity / @penberg need this backported to 4.4, 4.3 its a regression

[2021-07-05 21:23] slivne commented on #8908
not sure why the metrics did not download ...

in any case the next run has metrics that can be used

![backlog](https://user-images.githubusercontent.com/3465480/124518638-9ca65200-ddef-11eb-952e-c2f9ceeebb24.png)

this is the backlog its increasing

If compaction was keeping up the backlog should be decreasing and its not.

what is happening here is that for some reason LCS is not able to reduce

[2021-07-05 21:27] kostja commented on #3561
What I don't get in this discussion is why can't the client increase gc_grace_seconds if they are not conforming to the current setting? It seems that the solution @vladzcloudius @asias and others are advocating for is just one configuration tweak on the customer side.

[2021-07-05 21:49] slivne commented on #8908
and here is another proof we have huge sstables

[code]

if  compaction was keeping up this should not happen

maybe those are sstables generated from streaming that need to be broken up later - still seems to be to large

@roydahan is this a regression - I expect 4.4 would behave the same

[2021-07-06 01:33] asias commented on #3561
I never said it will guarantee data will not be resurrected. My point is what we can do to make the situation better in case repair is not run in time and we still have the tombstone.

It is absolutely relevant. You logic seems like this which is broken: You assume repairs are run in time almost 100% in deployment in practice (I am not sure why you get this assumption). You think  it is pointless

[2021-07-06 05:04] bhalevy commented on #3561
@asias even if repair ran in time, some nodes may compact the tombstone with the data it deleted and get rid of both and some may not, thus they'll have both.

In this case it's important that repair will not resurrect both the deleted data and the tombstone that delete it at the nodes that were lucky enough to make further progress with compaction.

[2021-07-06 05:42] mailmahee commented on #8892
Usually creating a keyspace is not a frequent operation - even though the syntax is clumsy, I would think the relative benefit of setting these defaults vs the pain of explicitly stating them is not much.
Of course... except for the case when the user uses simplestrategy in production.

[2021-07-06 06:02] tzach commented on #8892
@nyh sorry, I misread you.
I was referring to adding a DC, you wrote about adding a Keyspace.
I was thinking about default RF for DCs, you wrote about default RF for Keyspaces.

I have no objection, and I support it, use case.
You did not explicitly copy it, but I understand you suggest that the following syntax, with the new config `default_keyspace_rf` will work:

[code]

There is still a risk i

[2021-07-06 06:30] dkropachev commented on #8969
![Screenshot from 2021-07-06 09-23-41](https://user-images.githubusercontent.com/40304587/124552846-b752e800-de3c-11eb-97e7-9fc3fd06ed1b.png)
![Screenshot from 2021-07-06 09-24-02](https://user-images.githubusercontent.com/40304587/124552849-b91cab80-de3c-11eb-8eff-aa1a67272349.png)
![Screenshot from 2021-07-06 09-24-17](https://user-images.githubusercontent.com/40304587/124552852-b9b54200-de3c-11

[2021-07-06 06:45] asias commented on #3561
In this case, repair will not sync the deleted data which is covered by the tombstone. It will only sync the tombstone to the other nodes since currently there is no way to tell if the tombstone was present on the node and is compacted away.  Eventually, all replicas compact both data and tombstone away. To speed up the gc process, perhaps we can even trigger a special compaction to compact the ra

[2021-07-06 07:11] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 11:45:53PM -0700, Asias He wrote:

This guaranty to happen eventually only if we do not keep replicating
gced tombstone to the nodes it was removed from.

--
			Gleb.

[2021-07-06 07:21] gleb-cloudius commented on #3561
On Mon, Jul 05, 2021 at 06:33:45PM -0700, Asias He wrote:

And my point is that the trade off of making a situation when a cluster is
already broken to be marginally better by making well maintained cluster behave
worse (accumulate gced tombstones) is the wrong one.

If propagating gced tombstone would magically prevent resurrection of
all data we would not have this conversation.

Precisely. And

[2021-07-06 07:53] asias commented on #3561
A tombstone can potentially cover a lot of rows. I do not think it is only marginally better. If the tombstone is still there, it will prevent resurrection after repair. No magic is involved.

Regarding accumulating expired tombstone, we can trigger compaction to speed up the removal of them after repair. This is a very good moment to remove expired tombstones.

Reducing the resurrection does matt

[2021-07-06 08:02] gleb-cloudius commented on #3561
On Tue, Jul 06, 2021 at 12:53:38AM -0700, Asias He wrote:

Now you are just speculating. The brokenness of the system is binary. It
either broken or not. If it is broken even when gced tombstones are
transferred then it is still broken.

Compaction affects performance. Now you make things even worse for a
well maintained system in favor of a broke one.

Speculations again. Those numbers are based

[2021-07-06 08:27] bhalevy commented on #8952
Hit again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/865/artifact/logs-all.release.2/1625524756899_bootstrap_test.TestBootstrap.local_quorum_bootstrap_test/node2.log
[code]

[code]

[code]

So it looks like segments were removed during the `parallel_for_each` loop called from `segment_manager::sync()`.

[2021-07-06 08:37] bhalevy commented on #8952
Copying `_segments` should keep them around safely, like:
[code]

(There should be no need to hold `segments` using `do_with` for `parallel_for_each` since it creates all subordinate futures before it returns)

[2021-07-06 08:41] nyh commented on #8892
What I am suggesting is that having a clumsy syntax doesn't just slow down infrequently (which would have been forgivable) - it also means that most people won't remember the syntax and look on Google for examples and then copy-paste them. What we have seen in the past in real users' installations is that based on some example they found on the web they created SimpleStrategy replication instead o

[2021-07-06 08:44] nyh commented on #8892
But I think this ship has already sailed, when we added the so-called "auto-expand" option. Today you can do
[code]
And whether you understand this or not, the meaning of this will be RF=3 on **every DC** and replication to all DCs.

[2021-07-06 09:00] tzach commented on #8892
True

[2021-07-06 09:02] elcallio commented on #8952
Again, how can anything be removed from `_segments` before we've read the whole vector? No code called removes anything. At most it can cause a suspension point, but we should not "pre-emptively" task switch out of the `parallel_for_each` loop because of that.  All invocations here should be safely past the initial `reset_sync_time` call and well into `cycle` once we actually return and hand over

[2021-07-06 09:06] roydahan commented on #8977
Coredump download_instructions:
gsutil cp gs://upload.scylladb.com/core.scylla.113.e5be4e63e4094a1b8aee65695dc3249e.18169.1625379070000000000000/core.scylla.113.e5be4e63e4094a1b8aee65695dc3249e.18169.1625379070000000000000.gz .
gunzip /var/lib/systemd/coredump/core.scylla.113.e5be4e63e4094a1b8aee65695dc3249e.18169.1625379070000000000000.gz

[2021-07-06 09:10] bhalevy commented on #8952
Can't a memtable flush happen if we yield from sync()?
It calls `discard_completed_segments`.

[2021-07-06 09:14] bhalevy commented on #8952
I agree that we're not supposed to preempt `parallel_for_each` while it walks `_segments`.

[2021-07-06 09:14] gcarmin commented on #8892
and from my point of view - this is the desire default for new keyspaces.
It is mor "fail-safe" than the other options.

[2021-07-06 09:35] kostja commented on #8808
@roydahan @shoshan Can we please re-test without this commit:
[code]
?

I am not claiming this commit is the culprit, but we need to start bi-secting somewhere, and it is our current working hypothesis.

[2021-07-06 09:42] kostja commented on #8964
Honestly, I see a lot being done to work around long failure detection/conviction by current gossip. Direct pings, quick dead node detection. It would be nice to solve the problem where it happens: in gossip. Modern epidemic algorithms can propagate failure information in a very large cluster at low cost within 2 seconds. Let's improve the speed of detection/conviction instead?

[2021-07-06 09:43] elcallio commented on #8418
@ShlomiBalalis can you provide/test the above job using the patch in #8974?

[2021-07-06 09:46] gleb-cloudius commented on #8964
I agree. I also do not think the situation is as bad today as it is claimed here (20 sec). IIRC it is close to 5 second.

[2021-07-06 10:05] nyh commented on #8964
Interesting idea. Especially since a 2-second delay in dead-node detection will **not** cause a 2-second unavailability (because speculative retry - if its bugs are fixed - will avoid that), and if the problem is memory use of requests to the dead node it will be 10 times smaller than a 20-second delay, and it can even be solved completely with some effort (#7979).

On the other hand, since a coor

[2021-07-06 10:19] bhalevy commented on #8952
@elcallio sync-> cycle -> flush -> do_flush -> end_flush ->
[code]

[2021-07-06 10:42] asias commented on #3561
We can not predict what is the status of the system so we can not predict how much the syncing of tombstone will help. You stated it is only magically better. I think you are speculating while you make it sound like you are stating a fact.

Without compaction how do you remove those expire tombstones.  For those node that have the tombstones before the repair, nothing has changed.  For the nodes t

[2021-07-06 10:45] asias commented on #8964
We have this config option:

failure_detector_timeout_in_ms(this, "failure_detector_timeout_in_ms", liveness::LiveUpdate, value_status::Used, 20 * 1000, "Maximum time between two successful echo message before gossip mark a node down in milliseconds     .\n")

[2021-07-06 10:46] elcallio commented on #8952
Ah, crap. We get there by never halting. This call was added to deal with deadlocks in shutdown. Fun side effect.

[2021-07-06 10:49] gleb-cloudius commented on #8964
On Tue, Jul 06, 2021 at 03:45:57AM -0700, Asias He wrote:

My experience was before the config was introduced. 20 seconds for a
failure detection is absolutely crazy. 2 is debatable large value.

--
			Gleb.

[2021-07-06 10:50] asias commented on #8964
We can config the time to 2 seconds too.  The question is how confident the 2 seconds would be. The node can be slow to respond. There could be temp network issues.

[2021-07-06 10:52] asias commented on #8964
This really depends on the usage case. For repair / streaming, we do not mind it takes 20 seconds to decide if the node is down to kill the entire node operations.

[2021-07-06 10:54] asias commented on #8964
For the reads / writes, it is much much cheaper to mark a node down even if it is not down in fact.

[2021-07-06 10:55] asias commented on #8964
Please note, if a node is being shutdown. The marking of the node down is instant. The node will send messages to other nodes to notify it is shutdown.

[2021-07-06 11:01] gleb-cloudius commented on #3561
On Tue, Jul 06, 2021 at 03:42:51AM -0700, Asias He wrote:

If a system is not fixed it is only marginally better (it is still
broken). Can the system be totally fixed? Sure, if no tombstone was
gced at all. Should we optimize for this case? Absolutely not. You keep
ignoring the price everyone will pay for something that no well maintained
system needs.

May be we can have a flag to the compaction

[2021-07-06 11:02] gleb-cloudius commented on #8964
On Tue, Jul 06, 2021 at 03:56:00AM -0700, Asias He wrote:

Of course. We are talking about sudden death here.

--
			Gleb.

[2021-07-06 11:03] gleb-cloudius commented on #8964
On Tue, Jul 06, 2021 at 03:50:54AM -0700, Asias He wrote:

If a node is slow to respond to a ping it may as well be considered dead
for read/write purpose.

--
			Gleb.

[2021-07-06 11:06] gleb-cloudius commented on #8964
On Tue, Jul 06, 2021 at 03:52:10AM -0700, Asias He wrote:

The use case of the database it to provide data for a customer, not to run
maintenance operations ;) But I see your point. May be two difference
indicators should be used. Or streaming should use its own logic and not
rely on gossiper. But 20 seconds for primary use case is too large.

--
			Gleb.

[2021-07-06 11:08] nyh commented on #8964
@asias made a very good point that when gossip marks a node "down", this not only applies to reads and writes, but to more long-term operations such as repair, and repairs involving this node will fail. It might make sense to stop using a node for reads after 1 second of unavailability, but wait for 60 seconds of unavailability before failing repairs. Arguably, this can be fixed in their read or r

[2021-07-06 11:56] psarna commented on #8964
One advantage over a dedicated failure detector for reads is that it can take custom dynamic timeouts and workload types into account. E.g. for a request with custom 50ms timeout, a node which fails to respond after 100ms is "as good as dead" and should be skipped, while at the same time it's a perfectly good candidate for serving another request with a default 5s timeout.

And now, since we can d

[2021-07-06 12:18] nyh commented on #8964
@psarna I think your last comment mixes "dead node" and "slow node" detection again, although perhaps in a viable way (unlike the dynamic snitch thing). Still, personally I think we should maintain a differentiation: A "slow" (high latency) node may have 1s of latency for each individual request, but this is completely different from the case of a "dead" node, which doesn't return *any* response i

[2021-07-06 12:22] psarna commented on #8964
Right, I mean a node that's unresponsive for at least X ms, which means that no reply whatsoever arrived for at least that time. I'll try to emphasize that more in the original pull request.

[2021-07-06 12:28] nyh commented on #8964
So my point is that if we didn't get any response in 100ms, it's not just that we should not send it requests that need 100ms timeout - my point is that even if the timeout is 1sec, not getting any response in 100ms may indicate the node is completely unavailable, not just slow. A just slow node will still spew out responses all the time, even if there is huge latencies. Of course assuming there a

[2021-07-06 12:46] psarna commented on #8964
I think that coupling with timeouts is still an advantage, if we consider that there are more scenarios for a node to not reply at all in 100ms, not just that it died. Examples I came up with are network hiccups and occasional page swapping (in the latter case the root cause is misconfiguration, but it can happen nonetheless). And if one of these happen, it sounds correct to skip the node for a re

[2021-07-06 15:20] slivne commented on #8972
we are against that

[2021-07-06 15:21] slivne commented on #8972
https://github.com/scylladb/scylla/issues/24

[2021-07-06 15:21] #8972 closed

[2021-07-06 15:28] slivne commented on #8948
@avikivity if you want me to reassign we can

[2021-07-06 15:31] xemul opened #8983 "Some of appending_hash<> instantiations have throwing operator()"
The `::feed_hash()` and the visitor lambda in `digester::feed_hash()` are marked noexcept (since 5adb8e5) but they call potentially throwing `appending_hash<T>()::operator()`.

[2021-07-06 15:34] slivne commented on #8931
If a customer is running on the same machine as scylla a process that is allocating to much memory - he should fix that - if its a side process of scylla we should fix that.

The same can be claimed for a process that eats to much cpu and is not running in  a systemd cgroup designed to limit it and confine it to cores in which scylla is not running - it needs to be fixed

I pushed this out till av

[2021-07-06 15:39] slivne commented on #8929
If there are multiple scans running and the data is not in cache and the compaction strategy is not optimized for sequential access of files (LCS / ICS) then this may happen - I do not think this is a bug.

If this is a use case you want to support
 - consider using a compaction strategy that is optimized for scans ICS / LCS.
 - if you were using enterprise you could limit these scans in a service

[2021-07-06 15:47] slivne commented on #8907
@ksunil6266
- if you stopped the ec2 machine the ephemeral disks are gone.
- if you did a reboot from the command line / console this should work
can you please clarify what you did

[2021-07-06 19:59] nyh commented on #5064
In https://docs.google.com/document/d/1i4yjF5OSAazAY_-T8CBce9-2ykW4twx_E_Nt2zDoOVs/edit#heading=h.qmq6kez54pdq I mentioned that:

This may be a good way to have full support for this feature - albeit somewhat ugly and slow - quickly, without huge investments in Scylla infrastructures to support transactions in CQL. Amazon have good design document https://github.com/awslabs/dynamodb-transactions/b

[2021-07-07 00:13] asias commented on #8964
Gleb, by use case I meant the usage case of the gossip detection not database. Yes, I was thinking about making failure detection into two types 1) swift detection 2) normal detection. Reads / writes can use the swift detection.

[2021-07-07 00:44] asias commented on #3561
You are just exaggerating the impact of the accumulated expired tombstone to make your point to against syncing expired tombstone. Do you see real complain about expired tombstone because of repair? FYI, we currently do not use compact reader at all.

We can also just set a hint for the compaction to remove the expired tombstones if you are not eager to remove it ASAP. Compact in it own pace as yo

[2021-07-07 05:55] asias commented on #8889
I am closing this issue since both scylla and dtest patch are merged.

[2021-07-07 05:55] #8889 closed

[2021-07-07 06:45] fgelcer commented on #8828
@avikivity , i'm right now collecting the results, and because of an issue with SCT the email wasn't sent, but find the latency results for write:
[code]

for mixed:
[code]

for read:
[code]

[2021-07-07 06:58] bhalevy commented on #8828
With Avi's patches (`scylla-4.6.dev-1.avi.0faultinmemory.20210701.a38d72e0eb`) the long stalls are gone.

We still have shorter ones but they are less concerning.
For example:
[code]

[code]

[2021-07-07 07:06] asias commented on #8828
@fgelcer Where is the RPMs with avi's patch?

[2021-07-07 07:13] gleb-cloudius commented on #3561
On Tue, Jul 06, 2021 at 05:44:42PM -0700, Asias He wrote:

We suffer from a lot of tombstones. We know that. This is not something
up to debate. Whether propagating gced tombstones may cause it?
Theoretically yes, it is obvious, so we shouldn't even let that theoretical
possibility to be in the code. Anything theoretical happen in practice
with a lot of deployments, large cluster sizes and time.

[2021-07-07 07:34] asias commented on #3561
Tombstones are not cleaned up in time is a generic issue of the system. It happens with / without repair. Again you are exaggerating the problem even you think it is "Theoretically yes".

Do you have any guarantee when a expired tombstone will be GCed? The hint tells the node it is safe to remove the expire tombstones. If the system is under pressure in terms of too many tombstones, the system acc

[2021-07-07 07:59] gleb-cloudius commented on #3561
On Wed, Jul 07, 2021 at 12:34:13AM -0700, Asias He wrote:

Without repair cleanup may be slow, but it is guarantied to happen. With
repair like it is today it does not. How do you know the problems we
see today are not caused by the current repair? Pointing a bug in
the system is not exaggeration even if you think it is hard to trigger.
But here we do not even have any evidence for that. For all w

[2021-07-07 08:24] asias commented on #3561
With repair, cleanup is guaranteed to happen too. Repair does not prevent the cleanup to happen. You do not know either while you seems to claim that it is serous issue which is even more important than resurrection issue. We can know for sure by adding a counter for them.

What do you mean by "it is not"?

[2021-07-07 08:29] gleb-cloudius commented on #3561
On Wed, Jul 07, 2021 at 01:24:51AM -0700, Asias He wrote:

Sorry. I do not see how:

1. A, B, C all have tombstones.
2. A gced it.
3. repair restored it to A
4. B, C gced it
5. repair restored it to B and C
6 goto 1

What do you mean by "what do you mean"? What are we discussing here? It
perpetuates gced tombstone life.

--
			Gleb.

[2021-07-07 08:46] asias commented on #3561
cleanup == compaction on a node to remove the expired compaction

It is possible what you describe can happen. It is also possible when you run repair, every node has do the clean up already.  Eventually, the tombstone can go away. The hint after repair can solve this problem. The hint is effectively saying you are safe to drop the expire tombstone.

I am asking what do you mean by "it is not". I

[2021-07-07 08:55] gleb-cloudius commented on #3561
On Wed, Jul 07, 2021 at 01:47:10AM -0700, Asias He wrote:

"Can go away" is not the same as "with repair, cleanup is guaranteed to
happen too" like you said above and "can" != "guaranteed" and  is not
enough. Hence the current behaviour _is_ broken.

"it" is "current code behaviour".

--
			Gleb.

[2021-07-07 09:41] yarongilor commented on #8836
reproduced in master 50GB longevity:

2021-07-04 07:49:31.000: (DatabaseLogEvent Severity.ERROR) period_type=one-time event_id=df14d785-7c3d-4537-80b6-4ea86805a1ff: type=DATABASE_ERROR regex=Exception  line_number=199647 node=Node longevity-tls-50gb-3d-master-db-node-6027cc13-10 [13.53.176.39 | 10.0.2.99] (seed: False)
2021-07-04T07:49:31+00:00  longevity-tls-50gb-3d-master-db-node-6027cc13-10 !WA

[2021-07-07 09:56] yarongilor commented on #8089
reproduced in master 50GB as well:
[code]

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210628.c0c1e2601 with build-id be170b54ddb69a5ec11af5b81c1b366ad2b895de`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-master-db-node-6027cc13-1 (13.49.73.51 | 10.0.0.158): 14 shards
   lon

[2021-07-07 10:42] avikivity commented on #8975
Fixed by 4c01a88c9d020109a65b715d89aa9a31b4c141e6

[2021-07-07 10:42] #8975 closed

[2021-07-07 10:45] roydahan commented on #8908
I don't think it's a regression, However it may happen only or more commonly in GCE where it was revealed as part of 4.5  tests that weren't part of 4.4 testing.

[2021-07-07 11:03] gibsn opened #8985 "Segmentation fault after nodeool refresh"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.10-0.20201201.9ea2a61d6
Cluste

[2021-07-07 11:05] avikivity commented on #8531
Backported to 4.3, 4.4, 4.5.

[2021-07-07 11:06] avikivity commented on #8573
Backported to 4.5. Earlier versions not vulnerable.

[2021-07-07 11:07] slivne commented on #8808
Please test with 4.5rc4

[2021-07-07 11:07] bhalevy commented on #8808
Better try to reproduce with f89f4e69a0d209b0646e9804db281166fc679081
[code]

[2021-07-07 11:09] slivne commented on #8418
@elcallio can you please build debs and provide them -@roydahan will take it from there and run with them.

[2021-07-07 11:16] slivne commented on #8947
not a regression - reproduces on 4.4

[2021-07-07 11:35] asias commented on #3561
We are referring cleanup to different things. Like I just mentioned above , by "clean up" I meant compaction on a node to remove the expired tombstone.

It is a price to pay since we do not have protection with gc_grace_period currently.  The gc_grace_period mechanism is broken. Without syncing tombstone, it is even more broken.

[2021-07-07 11:39] gleb-cloudius commented on #3561
On Wed, Jul 07, 2021 at 04:35:50AM -0700, Asias He wrote:

It does not accomplish much if it gets replicated back again.

It is "broken" by design and it is documented how it should be used
properly. Users who follow the documentation should not pay the
price.

--
			Gleb.

[2021-07-07 11:42] avikivity opened #8986 "4X regression in debug-mode database_test (and others) execution time"
In fce124bd9029a87dd70356eefe5ae16f406e06b3:

[code]

Previous commit:

[code]

This is extremely sad. What's the root cause, and can it be fixed?

[2021-07-07 11:43] asias commented on #3561
So now you think we should drop the expired tombstone with the current code even without the gc_grace_period protection?

[2021-07-07 11:51] gleb-cloudius commented on #3561
On Wed, Jul 07, 2021 at 04:43:22AM -0700, Asias He wrote:

If we are not going to work on a protection (which I think we should
since it looks like Cassandra has it with incremental repair) we should
add a flag to nodetool to enable transferring them conditionally. A user
usually know that he missed a repair I hope.

--
			Gleb.

[2021-07-07 12:07] ShlomiBalalis commented on #8947
Yes, the issue can be reproduced both on 4.5 and 4.4:
4.4 job: https://jenkins.scylladb.com/job/scylla-4.5/job/Reproducers/job/longevity-large-partition-200k-pks-4days-test-8947-with-4.4/
Logs of the 4.4 reproducer job:
[code]
4.5 job: https://jenkins.scylladb.com/job/scylla-4.5/job/Reproducers/job/longevity-large-partition-200k-pks-4days-test-8947/

[2021-07-07 12:24] nyh commented on #5064
I summarized the option of providing transactions over **existing** features in a new design document https://docs.google.com/document/d/1d0RmuWPkGmoKPXwJ2mY6HLhf40otuMvfOKNUYcfn2Cg/edit#. There are good news and bad news. The good news is that this I think this technique can work. The bad news is that the performance will be bad (e.g., a transactional write will be 7-9 times more expensive than a

[2021-07-07 13:40] yarongilor opened #8987 "High latency on mixed workload in steady state - 6ms"
The 250GB performance-with-nemesis test got degraded results for both mixed and read latencies over the last week.
it raised from ~5 to 6ms.

Test: performance_regression_test.PerformanceRegressionTest.test_latency_mixed_with_nemesis_mixed
Test start time: 2021-07-02 05:14:23.614179
Test test id: ac4535df-4ba2-49f1-9c5b-f50e1fe53669
Scylla Server Version: 4.6.dev.20210628.c0c1e2601 with build-id b

[2021-07-07 14:35] avikivity commented on #8987
Please decode the stalls and paste them here. Also ask @fgelcer about how to avoid duplicate reports.

[2021-07-07 14:37] elcallio commented on #8418
That took longer than expected. Debian packages avail at gs://upload.scylladb.com/327cb264-c624-4526-a888-dfd23031e04d/

[2021-07-07 14:38] avikivity commented on #8931
-950 is already a lot. We shouldn't go to -1000, we need to keep ssh at a higher priority. Also there's a chance that Scylla itself will malfunction and allocate too much, and then it needs to be killed.

[2021-07-07 14:40] avikivity commented on #8931
I don't know if kill_allocating_tasks is a good idea. We may have a memory hog allocating a lot of memory, then a new process try to allocate something and get killed off. This new process might be an administrative command to understand what the bad process is or to kill it.

[2021-07-07 14:53] bhalevy commented on #8983
Need to backport starting from 4.3 (that has 19ffc9455de30012666de5c2f71c4095bc5034d6)

[2021-07-07 15:20] #8952 closed

[2021-07-07 15:20] #8983 closed

[2021-07-07 15:35] avikivity commented on #8952
Is this a recent regression? I assume so. But please confirm that no branch (including 4.5) is vulnerable.

[2021-07-07 15:36] avikivity commented on #8983
Backported to 4.3, 4.4, 4.5.

[2021-07-07 15:40] avikivity commented on #8966
Backported to 4.4, 4.5. 4.3 doesn't have this code.

[2021-07-07 16:42] yarongilor commented on #8987
@bhalevy , can you please help decoding and building the tree with your script?

[2021-07-07 17:44] #8921 closed

[2021-07-07 20:39] roydahan commented on #8987
@fgelcer please review and share if it's a dup or something we know or even an issue?

[2021-07-07 20:40] roydahan commented on #8418
@ShlomiBalalis please run a BYO job of multi-dc with the above packages and report back.

[2021-07-08 00:13] #7079 closed

[2021-07-08 02:56] asias commented on #8828
@avikivity @slivne Here is my run with Avi's patch. I still saw stalls from logalloc::region_impl::object_descriptor::encode, but all of the stalls are under 30ms.

[code]

[stall.decoded.txt.gz](https://github.com/scylladb/scylla/files/6781135/stall.decoded.txt.gz)
[stall.txt.gz](https://github.com/scylladb/scylla/files/6781137/stall.txt.gz)

job:
https://jenkins.scylladb.com/view/staging/job/scy

[2021-07-08 03:16] ecerichter commented on #8769
(see attached)

Disk:
[root@sc0b03db ~]# df -h
Sist. Arq.            Tam. Usado Disp. Uso% Montado em
devtmpfs               12G     0   12G   0% /dev
tmpfs                  12G  1,3M   12G   1% /dev/shm
tmpfs                  12G  1,2G   11G  11% /run
tmpfs                  12G     0   12G   0% /sys/fs/cgroup
/dev/mapper/ol-root    10G  545M  9,5G   6% /
/dev/mapper/ol-usr     10G  2,5G  7,6G  25

[2021-07-08 05:32] avikivity commented on #8828
Under 30ms is still huge.

[2021-07-08 05:34] avikivity commented on #8828
stall.decoded.txt shows as an empty directory. Anyway it's better to paste to reduce clicks and so the search feature finds it.

[2021-07-08 05:45] avikivity commented on #8769
What's the value of `/proc/sys/vm/overcommit_memory`?

Is anything else running on that VM?

[2021-07-08 05:56] avikivity commented on #7930
@jul-stas I see it's a regression from 4.2 to 4.3 but I can't figure out how we regressed. Any idea what change triggered the regression?

[2021-07-08 06:01] slivne commented on #7930
@avikivity I think its this commit scylladb/scylla-tools-java@3eca0e3

[2021-07-08 06:01] asias commented on #8828
[stall.decoded.txt](https://github.com/scylladb/scylla/files/6781893/stall.decoded.txt)

[2021-07-08 06:02] asias commented on #8828
Github does not allow me to paste lots of  text.

[2021-07-08 06:02] asias commented on #8828
[code]

[2021-07-08 06:23] bhalevy commented on #8952
@avikivity 4.5 is now vulnerable, with f89f4e69a0d209b0646e9804db281166fc679081

[2021-07-08 06:28] bhalevy commented on #8987
@yarongilor I'd like everybody to be able to use this tool. It's not merged yet, but you can find it in https://github.com/bhalevy/seastar/tree/stall-analyser

You'll need the exact binary (with a matching build-id) the log file containing the stalls.
The defaults are usually good enough so you can simply run `scripts/stall-analyser -e path/to/scylla stalls.log`.
Note that since clang produces bin

[2021-07-08 06:29] bhalevy commented on #8987
The stall-analyser PR is https://github.com/scylladb/seastar/pull/880

[2021-07-08 06:55] avikivity commented on #7930
Backported to 4.3, 4.4. 4.5 was already safe.

[2021-07-08 06:56] avikivity commented on #8952
Backported to 4.5.

[2021-07-08 07:01] avikivity commented on #8828
These stalls are in refill_emergency_reserve(). The background reclaimer should have fixed them, at least for ordinary workloads that use paging and don't have huge blobs.

[2021-07-08 07:04] avikivity commented on #8828
They are also not in object_descriptor::encode. So they're not part of this bug (looks like they are all related). Maybe RBNO allocates memory too quickly and the background reclaimer can't keep up. Please open a new issue for these stalls, I'd like to look at metrics (free memory, background reclaimer shares and cpu usage).

[2021-07-08 07:08] avikivity commented on #8921
Backported to 4.3, 4.4, 4.5.

[2021-07-08 07:25] asias commented on #8828
Hydra commands:

    Restore Monitor Stack command: $ hydra investigate show-monitor 46ad2552-85f1-4878-96d9-3fe419c66912
    Show all stored logs command: $ hydra investigate show-logs 46ad2552-85f1-4878-96d9-3fe419c66912

Logs:

    grafana - https://cloudius-jenkins-test.s3.amazonaws.com/46ad2552-85f1-4878-96d9-3fe419c66912/20210708_023412/grafana-screenshot-longevity-100gb-4h-replacenode-test-

[2021-07-08 07:29] asias commented on #8828
The following stalls are not in object_descriptor::encode? Which stalls do you want me to open new issues?

[code]

[code]

[2021-07-08 08:01] asias opened #8989 "/usr/lib/systemd/system/scylla-helper.slice: Unknown lvalue 'IOAccounting' in section 'Slice'"
I saw the following warning in SCT test using a centos7 based ami.

[code]

Job:

https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/28/

More logs:

[code]

AMI:

[code]

[2021-07-08 08:30] bhalevy commented on #8958
The issue was renamed to indicate the problem, not a solution.
It turns out that throwing a timed_out_error from the r_c_s expiry_handler is higher risk than just handling the `semaphore_timed_out` error in the same way as `timed_out_error`, as there are already several places that would break if the named_semaphore_timed_out exception changes.

[2021-07-08 08:39] avikivity commented on #8989
Duplicate of #7361. We decided to tolerate the error, over time CentOS 7 will be phased out. Newer systemd versions have this directive.

[2021-07-08 08:39] #8989 closed

[2021-07-08 08:49] avikivity commented on #8828
Both of these are under refill_emergency_reserve. That's different from this bug, where we see stalls for tiny allocation in preemptible loops.

[2021-07-08 08:51] avikivity commented on #8828
[code]

Looks like some of the stalls are outside refill_emergency_reserve.

We don't see refill_emergency_reserve without repair based node operations, so it looks like interaction between repair and background reclaim.

[2021-07-08 10:04] nyh opened #8990 "cql-pytest tests are now failing on Cassandra 3"
After commit 76227fafad655933d679dc3218a65f22bd3f40c7 ("cql-pytest: use NetworkTopologyStrategy, not SimpleStrategy|), the cql-pytest tests now `NetworkTopologyStrategy` instead of `SimpleStrategy` in the test keyspaces. The tests continue to use the `replication_factor` option, which is also supported by `NetworkTopologyStrategy`. This is a recently added ability, which is called "auto expand".

[2021-07-08 10:13] avikivity commented on #8892
It guarantees a failure. As soon as you add once node in a new datacenter, repairs will start sending it data. It could easily overwhelm the node. It would also choke on write, slowing down the entire cluster.

[2021-07-08 11:08] cvybhu opened #8991 "SELECT on indexed table returns wrong values"
Steps to reproduce:
[code]
The select returns a wrong result:
[code]
Without an index everything works fine

To run save in `bug.cql` and run `cqlsh -f bug.cql`

Also here is a small test in python:
[code]

*Installation details*
Scylla version (or git commit hash): Docker image (version 4.4.3-0.20210609.bfafb8456) and master (1924e8d2b63e6611b78ac6252b5ddbc4884f9d22)
Cluster size: Single node
OS

[2021-07-08 11:22] bhalevy commented on #8933
@avikivity https://github.com/bhalevy/scylla/commit/8ac83fffa9dc25f801b06e6911c914c77173ac90 prevents the errors we currently see in failing dtests like https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/864/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/simple_add_new_node_while_adding_info_1_test/
[code]

Just note it relies on seastar::gate_holder that

[2021-07-08 11:24] tzach commented on #8991
I hit another strange issue when trying to repreduce:
[code]

Last select should failed with out ALLOW FILTERING!
Note there is no index in my case

[2021-07-08 11:28] cvybhu commented on #8991
Oh maybe the original query should also require ALLOW FILTERING

I ran this example using cassandra and it failed and said that this query requires ALLOW FILTERING

[2021-07-08 11:37] tzach commented on #8991
Look like a regression

[2021-07-08 11:42] nyh commented on #8892
@avikivity I don't understand your statement: When you create a keyspace, it is replicated only to the **existing** data centers. If later you add new data centers, data will not be replicated to it until you ALTER the keyspace. The name "auto expand" is misleading - the data does not expand to new DCs.

[2021-07-08 12:05] avikivity commented on #8892
Then it's not "n every DC and replication to all DCs".

[2021-07-08 12:24] bhalevy commented on #5489
@vladzcloudius please add you input and assign FE priority for this proposal.

[2021-07-08 12:36] nyh commented on #8892
It's all **existing** (at the time of keyspace creation) DCs. This is the current behavior of the "replication_factor" option in NetworkToplogyStrategy, and it should never have been called "auto expand" because if there's anything this option doesn't do is to auto-expand when new DCs are added :-) We recently fixed the documentation to use the phrase "auto expand" much less prominently.

[2021-07-08 12:53] nyh commented on #8991
It seems the second issue discovered by @tzach - about the not-required ALLOW FILTERING - is a separate bug. We have a bunch of tests for when ALLOW FILTERING is needed in test/cql-pytest/test_filtering.py, and should add in that file a test for this newly discovered scenario. CC @dekimir.

The original issue reported by @cvybhu seems more serious :-( CC @psarna

[2021-07-08 12:56] nyh commented on #8991
Correction: the ALLOW FILTERING thing is a **known** bug. #7608. There's a test for it: test_allow_filtering_clustering_key.

[2021-07-08 12:57] nyh commented on #7608
This bug was independently reported by @tzach in #8991. I think we should indeed consider it a bug, not a feature.

[2021-07-08 12:59] ecerichter commented on #8769
vm.overcommit_ratio=85
vm.overcommit_memory=2

vm.swappiness=1

Yes, couple of PostgreSQL 13 databases.
Very low traffic and consume.

[2021-07-08 13:33] psarna commented on #8991
@cvybhu could you also try an older release, like 4.3? Then we'll know if it's a long preexisting bug or perhaps something that came up during the restrictions rewrite

[2021-07-08 13:46] cvybhu commented on #8991
I ran this example on `Scylla version 4.3.5-0.20210614.690a96ff5` and it failed and said that it requires `ALLOW FILTERING`
I'm gonna try bisecting

[2021-07-08 13:50] psarna commented on #8991
If it used to need allow filtering, then I think it's indeed caused (maybe indirectly) by the restrictions rewrite (/cc @dekimir). In this case bisecting may not be that helpful, since the rewrite was quite big. Maybe it makes more sense to add debug prints and try to detect at which step we fetched wrong results and presented them to the client.

[2021-07-08 13:52] psarna commented on #8991
Maybe the previous code correctly detected that this query needs filtering and applied it, while the new one erroneously thinks that filtering is not necessary, so it fetches all rows that satisfy `c2 == 1` from the index and does not filter for `c1 == 1` afterwards?

[2021-07-08 13:56] nyh commented on #8991
@psarna I agree - I think this request indeed **needs** filtering and shouldn't have worked at all without ALLOW FILTERING, so it is very similar to https://github.com/scylladb/scylla/issues/7608 just involving an additional index, and the result is more serious (wrong results, not just performance). The problem is that in the index, the first clustering key is p (and also token, derived from p),

[2021-07-08 13:58] cvybhu commented on #8991
@nyh
I ran this example using cassandra and it failed and said that this query requires ALLOW FILTERING

[2021-07-08 14:03] slivne commented on #8977
do_acceptsEibNS_14socket_addressEENK3$_6clEvENUlNS4_INS_13accept_resultE

[2021-07-08 14:20] nyh commented on #8991
So Piotr's description appears correct. I suggest that you expand your test to try the same thing with and without filtering, and write it so it will pass on Cassandra (run it with `test/cql-pytest/run-cassandra testfile.py::testname`). It probably means that without ALLOW FILTERING the query should fail (and not succeed and produce wrong results...) and with ALLOW FILTERING it should pass and pro

[2021-07-08 14:33] dekimir commented on #8991
This is a duplicate of #7708.  In particular: https://github.com/scylladb/scylla/issues/7708#issuecomment-735917179

[2021-07-08 14:40] ecerichter commented on #8769
May be needed another ticket for this: your query bring me a question: does Scylla require/recomends kernel parameters (sysctl.conf/limits.conf - ex: for small, medium, and large installations)?

[2021-07-08 14:44] nyh commented on #8991
Wow, that bug is almost a year old, and we didn't have an xfailing test for it until today. The text on that issue gave me the impression that this was just an optimization thing (the word "regression" was given in double quotes), while it's actually a request giving wrong results.
@cvybhu are you planning to submit a cql-pytest patch with your example (hopefully with both ALLOW FILTERING and with

[2021-07-08 14:50] avikivity commented on #8933
fe4002c6c42d9eb1b83b72953e4b929d7dc09fd7

[2021-07-08 14:57] vladzcloudius commented on #8970
@bhalevy yes, that's what I meant.  I'll update the description to make it clearer.

[2021-07-08 15:03] ecerichter commented on #8769
Reviewing requirements in page https://docs.scylladb.com/getting-started/system-configuration/#system-configuration-files-and-scripts

[2021-07-08 15:05] vladzcloudius commented on #1789
@nyh I'm coming from the point where we DO support both `SimpleSnitch` and `SimpleStrategy`.

If we want to stop supporting them - that would make all this discussion and corresponding new options/restrictions not necessary.

And as long as we DO support them I believe that this proposal makes more sense than having a separate restriction for a Snitch and a Strategy.

[2021-07-08 15:23] nyh commented on #1789
We already decided (@slivne, @eliransin were involved in this decision) that we will stop supporting SimpleStrategy completely, it's just that it will happen in stages - first we already added an option (restrict_replication_simple_strategy) that forbids SimpleStrategy. This option is not yet the default, but already specific installations (e.g., Scylla Cloud) can enable it, and eventually it will

[2021-07-08 15:25] avikivity commented on #8985
[code]

[2021-07-08 15:26] avikivity commented on #8985
Not sure if that trace makes sense. Please resolve the trace from the segmentation fault message and post that, I'm not sure which trace is relevant.

[2021-07-08 15:27] gibsn commented on #8985
@avikivity traces I posted here are the ones I got from logs and resolved with `seastar-add2line`

[2021-07-08 15:29] avikivity commented on #8985
Yes, but there are 40 of them and most are not the crash.

[2021-07-08 15:29] avikivity commented on #8985
I'm not sure any of them are the crash.

[2021-07-08 15:31] gibsn commented on #8985
ok, probably I by mistake grepped some irrelevant traces, I will double check

[2021-07-08 15:32] dekimir commented on #8991
That's because you [keep mixing up #7708 with #7608](https://github.com/scylladb/scylla/issues/7708#issuecomment-734429703).  I'm going blue in the face repeating that they're different issues not to be comingled.  "Needs filtering" != "needs ALLOW FILTERING".

(Ironically, even the bug numbers differ by just one digit.  I'll never win this...)

[2021-07-08 15:45] gibsn commented on #8985
some examples of SIGSEGV traces:
[code]

resolves to:
[code]

[2021-07-08 15:45] gibsn commented on #8985
another one:
[code]

resolves to:
[code]

[2021-07-08 16:08] vladzcloudius commented on #1789
@nyh If we want to keep allowing booting with a SimpleSnitch at all (with whatever options it requires) and if we want to continue allowing using a SimpleStrategy at all (with whatever options it requires) then my proposal makes sense for reasons I described earlier.

The only reason for an existence of a `SimpleSnitch` and a `SimpleStrategy` is a simplicity (dah): both require no additional confi

[2021-07-08 16:08] avikivity commented on #8985
Ah, so they were all actually segmentation faults. I missed the `sigsegv_action`.

[2021-07-08 16:10] avikivity commented on #8985
@raphaelsc any idea why resharding would cause a null abstract_type for a cell?

[2021-07-08 16:13] vladzcloudius commented on #5489
Thanks, @bhalevy.

The described mode also makes sense if `nodetool drain` times out during the upgrade.

Since this is supposed to be followed by crating a snapshot we want to make sure that all commitlogs are drained.

In such a case we want to kill the service (`kill -9`) and start it in the "maintenance mode" where it would not serve any new WRITEs as a replica and would replay whatever commit

[2021-07-08 16:14] vladzcloudius commented on #5489
@ebenzecri FYI

[2021-07-08 16:29] vladzcloudius commented on #3561
talking about performance when we're not in a corrupted state. The fix
 would affect it too.

well maintained system in favor of making non maintained one to behave
marginally better.

@tgrabiec @gleb-cloudius The "performance penalty" is not going to be measurable because the "extra work" frequency is going to be equal to the frequency of compactions that evict tombstones in the scenario describe

[2021-07-08 16:43] nyh commented on #8991
If you think that **I** am mixing up 7708 and 7608, it doesn't help that **you** wrote in 7708 that it is "a duplicate of 7608". I don't think ALLOW FILTERING and need_filtering are the same - I think both have separate bugs, but specific examples can hit bugs in both :-(

In any case, none of these arguments matter. The **present** issue (8991) outlines a case where we both allow ALLOW FILTERING

[2021-07-08 16:51] dekimir commented on #8991
I didn't.  I wrote that the word "regression" you mention here is 7608 and shouldn't be discussed in 7708.  I also don't like that it's being discussed here.  I wish I could make people discuss it in 7608, which was filed specifically for it.

I disagree. #7708 says in its very first line "returns invalid result".

[2021-07-08 16:55] dekimir commented on #8991
Correction: it says that `need_filtering()` returns invalid result, without clarifying that Scylla returns the wrong query result as a consequence.  But we knew that at the time -- that's why the PR that exposed it [was reverted](https://github.com/scylladb/scylla/pull/7582#issuecomment-733749761).

[2021-07-08 16:55] nyh commented on #8991
Please reread #7708. It says that some internal function need_filtering() returns an invalid result - not that this results in a user-visible incorrect response. Now we have such an example where wrong results are produced.

[2021-07-08 16:57] dekimir commented on #8991
Yes, sorry, I misread it.  See my last comment.  We've had the example before, that's why #7708 was filed.  It just didn't explicitly say which wrong results Scylla returned to that query.

[2021-07-08 17:02] bhalevy commented on #8943
@kbr- yup, `do_get_ranges` passes the `can_yield` arg to `calculate_natural_endpoints`, but the latter ignores it.

[2021-07-08 17:07] bhalevy opened #8995 "storage_proxy::drain_on_shutdown does not synchronize with ongoing queries."
As seen in #8933, there's a race between query readers and database shutdown.
6d79da1 solved the terminate() issue by allowing the gate_closed exception to propagate,
but as seen in e.g. https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/864/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/simple_add_new_node_while_adding_info_1_test/
[code]

https://jenkins

[2021-07-08 17:24] roydahan opened #8996 "Scylla shard-aware Java driver throughput is limited compared to non-shard-aware driver"
Comparing throughput of scylla using the shard aware driver (java) and non-shard-aware driver, resulted in about 25% less throughput (write and read) when using the shared aware version.

Using c-s with scylla-driver: scylla-driver-core-3.10.1-scylla-0-shaded.jar, max write throughput is about **75K ops**.
Using c-s with cassandra-driver: cassandra-driver-core-3.10.2.jar, max write throughput is a

[2021-07-08 18:18] ecerichter commented on #8769
I've setup another VM for testing, and configured "overcommit_memory=1" (IMHO, which seems risky for database servers), and I confirm that kernel check pass without error.
I suppose this needs to be fixed or clarified on docs.

[2021-07-08 18:47] ebenzecri commented on #5489
@vladzcloudius Amazing! Thanks for pushing this forward.

[2021-07-08 19:52] vladzcloudius commented on #7444
This is already supposed to be the case: https://github.com/scylladb/seastar/blob/master/scripts/perftune.py#L854

[2021-07-08 20:07] #8852 closed

[2021-07-08 20:07] #8958 closed

[2021-07-08 20:07] #8990 closed

[2021-07-09 00:53] asias opened #8997 "250ms cassandra-stress p99 latency caused by query io queue latency"
- 4 nodes in the cluster, the test kills one node and replaces it

- RBNO enabled + HH disabled + i3.2xlarge 8 shards + with all recent stall fix patches

- With --compaction-static-shares 100

- Job https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/RBNO/job/repair-based-operation/job/longevity-100gb-4h-ReplaceNode-test/24/

- Up to 250ms c-s latency spike
![image](https://user-imag

[2021-07-09 12:07] dkropachev commented on #8969
Another occasion.
Test-id: 95fc5973-56d4-4368-9bf5-a50866ac45d7

[2021-07-09 13:34] nyh commented on #8962
@racevedoo thanks for discovering this issue. We actually knew about this problem - it's a duplicate of issue  #7852, which was discovered as part of my project to translate Cassandra's unit tests, but unfortunately we haven't fixed it yet. That issue also points two reproducing test cases (one part of a bigger Cassandra test, the second is a minimal test in `test/cql-pytest/test_null.py`.
So I'm

[2021-07-09 13:34] #8962 closed

[2021-07-09 13:36] nyh commented on #7852
This issue was re-discovered by a user, @racevedoo, in #8962.

[2021-07-09 13:37] vladzcloudius opened #8999 "Visualize streaming progress"
*Installation details*
HEAD: 373fa3fa07d366ea5a8632f0ddffae6f226f64c3

*Description*
We can analyze the scylla steaming syslog and tell which KSes/CFs are being streamed right now and with that speed.

Knowing this info can help in analyzing the reason of streaming slowdown.

[2021-07-09 13:49] vladzcloudius commented on #8999
@asias @amnonh @tzach FYI

[2021-07-09 15:06] YeminLi opened #9000 "Imbalanced shard becomes balanced after repair"
- [ ] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.2.3-0.20210104.24346215c2
Cluster size: 14 i3en.6xl
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI
RF=3, Write CL=QUROUM, Read CL=ONE
Driver: gocqlx

I had a hot shard in one of the nodes in the cluster.
Originally I suspected there were more reques

[2021-07-09 17:47] martin-sucha opened #9001 "Log messages do not mention username / query"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 2021.1.2-0.20210620.7bb9428ae

Log

[2021-07-09 17:48] avelanarius commented on #8996
My first attempt at reproducing this (or quite similar) scenario:

1. Start 3 i3.2xlarge nodes with Scylla AMI (4.4.3; ami-09b29bd4c673ace35)
2. Start 2 c5.4xlarge loaders with Ubuntu 20.04 (ami-0996d3051b72b5b2c).
3. On each of the loaders run: `cassandra-stress write cl=QUORUM n=34285714 -pop seq=34285715..68571428 -schema "replication(strategy=SimpleStrategy,replication_factor=3)" -mode native

[2021-07-09 17:57] vladzcloudius commented on #9000
It's hard to be certain given so little data at hand but one possibility is that that shard had a partition with a lot of row tombstones that was deleted (the whole partition) but that node didn't "see" that last partition tombstone. As a result when you read from that replica (you use CL=ONE for reads) you were reading the stale data which cause the shard to work very hard but after the repair th

[2021-07-09 18:02] vladzcloudius opened #9003 "Provide statistics about the amount of expired data on the disk"
*Installation details*
HEAD: 373fa3fa07d366ea5a8632f0ddffae6f226f64c3

*Description*
It would be very useful to see how much of the "garbage" data is on the disk (even if it's an estimate).
It of course makes sense to have it per-table.

If we had this in a real-time then we could export it in a way of a metric.

This metric alone would allow us to reason about at least the following:
* How much d

[2021-07-09 18:03] vladzcloudius commented on #9003
@raphaelsc @amnonh @gnumoreno FYI

[2021-07-09 18:09] xemul commented on #8997
What are the IOPS rates for each class? The picture resolution is not enough to see. @asias

[2021-07-09 18:09] raphaelsc commented on #9003
for TTLd data we already have expired histogram in each individual sstable, so we can potentially sum it and export it as a metric. for explicitly deleted data, it's a big challenge to account data shadowed by tombstones as garbage. but we can report expired tombstones as garbage.

[2021-07-09 18:19] vladzcloudius commented on #9003
We can collect some data when we read.

[2021-07-09 22:56] raphaelsc commented on #8985
followed the backtrace in 4.1.10 and this sigsegv only makes sense to me if there was use-after-free in sstable writer. perhaps old resharding (as 4.1.10 is used) fails to keep writer alive throughout its lifetime. i'll investigate.

@gibsn is there a coredump for this crash? that would be very helpful.

[2021-07-11 06:37] tzach commented on #9001
Very good point @martin-sucha

[2021-07-11 06:45] tzach commented on #8999
@vladzcloudius can you elaborate on what visualization are you looking for?
what info do you want to present?
A nice example is https://netflixtechblog.com/vizceral-open-source-acc0c32113fe

[2021-07-11 07:52] eliransin commented on #8836
Still waiting for #8916 to be reviewed and merged.

[2021-07-11 11:05] slivne commented on #8418
@ShlomiBalalis ping

[2021-07-11 12:28] asias commented on #8997
You can find the monitor data here:

[code]

[2021-07-11 13:19] fgelcer commented on #8421
i'm seeing same in my jobs on master (any one from `2021-05-12T10:09:00Z` until latest master)
s3://downloads.scylladb.com/unstable/scylla/master/relocatable/2021-05-12T10:09:00Z/

this is the full logs i have:
[code]

this is happening for me on a new test i'm writing on `rest_api_tests.py` (all tests fail with the same, so not specific to my test).

@xemul , is there anything else you need to be

[2021-07-11 13:30] ShlomiBalalis commented on #8418
@elcallio I cannot download the debian packages:
`14:14:22  libcloud.common.types.InvalidCredsError: "<?xml version='1.0' encoding='UTF-8'?><Error><Code>AccessDenied</Code><Message>Access denied.</Message><Details>skilled-adapter-452@appspot.gserviceaccount.com does not have storage.objects.list access to the Google Cloud Storage bucket.</Details></Error>"`
Did you upload it to a different bucket

[2021-07-11 13:40] nyh commented on #4972
Let's write a test case for this issue. I'm on it.

[2021-07-11 13:41] fgelcer commented on #8418
@ShlomiBalalis , this is not a repo... you need to use a regular AMI, and then use the `update_db_packages` parameter in your test with that path

[2021-07-11 13:49] ShlomiBalalis commented on #8418
@fgelcer I'm aware - https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/byo-longevity-test/155/parameters/

[2021-07-11 14:06] nyh commented on #4972
This bug no longer exists - the output from @slivne's example is just one row, as expected:
[code]
I'm closing the issue, but I'll try to see if I can reproduce this problem in an older version of Scylla and write a regression test.

[2021-07-11 14:06] #4972 closed

[2021-07-11 14:43] nyh commented on #4972
I reproduced this issue with Shlomi's test case on Scylla 3.0.9 (the same version that @aristotelis79 originally used), but it was fixed in Scylla 3.3.0 (I didn't try to fully bisect it). So it's been solved long ago.

[2021-07-11 16:07] nyh commented on #8964
I think if we have both "swift" and "normal" detection, it's enough to have just the swift one - the "normal" (20 second) one can use the swift one to remember not just that a node is currently up, but also **when** a node was last seen up. Repair can declare a repair failed if a node was last seen up more than 20 seconds ago - or 10 minutes ago or whatever - instead of just checking if it's down.

[2021-07-11 16:14] avikivity commented on #9001
The query is not available at the point this is printed.

We have two options:
1. return it via rpc to the coordinator, and print it there
2. return it via rpc to the coordinator, attach a warning the the query result, and pass it to the driver

The second has the benefit of avoiding log spam in case the application goes crazy, and also directly informing the application. The downside is that the

[2021-07-11 16:15] avikivity commented on #9001
@haaawk does the Java driver (as an example) do anything with warnings returned from the database?

[2021-07-11 16:15] avikivity commented on #9001
/cc @denesb @psarna

[2021-07-11 19:24] vladzcloudius commented on #8999
* KSes that have already been streamed in full (per source node).
* The progress of the currently streamed KS per source node.
* The KSes that are yet to be streamed.
* A pie presenting the current progress of the streaming (by bytes-to-stream).

That's nice but not what we would require as the fist stage.

[2021-07-12 05:37] tzach commented on #8999
@vladzcloudius  @amnonh which of the above is available as Scylla metric?

[2021-07-12 05:51] tzach commented on #9001
1. allow us to prorate the info to Loki (for example), and attach an alert to it.

[2021-07-12 06:32] eliransin commented on #1789
IMO if we are still to allow SimpleStrategy in any constellation we should protect against the snitch mismatch. My justification is
that those restrictions are there to help the user not to shoot himself in the foot but lets say he decided to drop one restriction we
still don't want him to make mistakes, if this is not the case it is equivalent to having one big restriction for strategy (lets call

[2021-07-12 07:13] nyh opened #9008 "cql-pytest testIndexOnRegularColumnInsertExpiringColumn fails sporadically"
In one Jenkins test run, https://jenkins.scylladb.com/job/scylla-master/job/next/3742/consoleText, we saw the following cql-pytest test fail: `cassandra_tests/validation/entities/secondary_index_test.py`::`testIndexOnRegularColumnInsertExpiringColumn`.
This test was translated from Cassandra's unit tests, and tests that TTL works on secondary index. The relevant part of the code is:

The marked as

[2021-07-12 07:31] psarna commented on #9001
Scylla Rust Driver returns warnings along with other auxiliary information like the paging state and tracing uuid, but it's up to the user to explicitly check if any warnings were present. The warnings are represented as a list of strings, but it's the user's decision whether they want to add code that prints or reports them anywhere, so I assume they usually don't.

[2021-07-12 08:07] denesb commented on #9001
Maybe we should have a mode parallel to slow query tracing, where we trace those queries that have any warnings attached to them.

[2021-07-12 08:17] haaawk commented on #9001
The driver logs the warning with WARN logging level unless it's disabled: https://github.com/scylladb/java-driver/blob/scylla-3.x/driver-core/src/main/java/com/datastax/driver/core/RequestHandler.java#L262

[2021-07-12 08:37] nyh commented on #9008
I *was* able to reproduce this bug by running the same test hundreds of more times. The following command runs it 1000 times and stops on the same failure (note that this takes a long time - as each test has two sleeps of one second - parallelism can be used to make it fail faster).
[code]
In my test I saw a different failure in the same test, but it's the same underlying problem:
[code]

I tested

[2021-07-12 08:40] bhalevy opened #9009 "batchlog manager is not stopped if scylla shuts down during startup"
This issue stems off of #8995.

In addition to storage_proxy::drain_on_shutdown not synchronizing with on-going queries, the reason there is an on-going query after the storage_proxy is drained appears to be that the batchlog manager is not stopped if scylla gets a shutdown signal during startup (e.g. when waiting for gossip to settle).

I'm opening a separate issue for that since I think we shoul

[2021-07-12 08:49] elcallio commented on #8418
First off, there are no RPMS on this gc path. Shlomi asked for deb:s. Second, I did not add any particular access rights. I sort of assumed that upload.scylladb.com would have default organization read for anything uploaded (similar to cores).
Why not manually gsutil cp it to somewhere? If all else fails it might be faster to just build the PR?

[2021-07-12 09:33] martin-sucha commented on #9001
There should definitely be a way to find out which user is causing the error messages on the server side (so the database administrator can do it). With multiple database users (that use different drivers) if I don't know which client is causing the issue then I don't know which team should I ask to check their application.

For example, gocql allows to get the warning strings, but does not print

[2021-07-12 09:40] psarna commented on #9001
@piodul corrected me, we do log warnings, but currently unconditionally: https://github.com/scylladb/scylla-rust-driver/blob/efb170182f5d1e0b0a467077c627513a7ee47d40/scylla/src/transport/connection.rs#L534-L536

[2021-07-12 09:45] nyh commented on #9008
Ok, I know what causes this problem. It is indeed how Seastar's lowres clock works:

Seastar's lowres clock has a "granularity" of 10ms. But it it's not as simple as taking the accurate nanosecond time and truncating it to 10ms resolution. Rather, what Seastar does is to keep a millisecond-resolution "now" variable for the lowres clock, and it sets a timer to wake up roughly every 10ms (`_granular

[2021-07-12 10:13] kbr- commented on #8887
Zstd was added to Cassandra 4.0 which is not yet released which is why we didn't yet merge the 4.0 branch into scylla-tools-java... see https://github.com/scylladb/scylla-tools-java/issues/140

But we can try backporting the Zstd support change manually.

[2021-07-12 10:34] gibsn commented on #8985
@raphaelsc

No, how can we enable it? I think the issue is easy to reproduce

[2021-07-12 11:05] slivne commented on #8808
Please retest with 4.5.rc5

[2021-07-12 11:08] slivne commented on #8877
Waiting for 4.5.rc5 runs to see if this reproduces

[2021-07-12 11:11] slivne commented on #8934
@fgelcer / @roydahan is this a regression ? did we have the same issue in 4.4 ?

[2021-07-12 12:13] fgelcer commented on #8934
searching for 4.4 issues related to CDC and repair i found 2 issues, but they are not the same (it could be that, we have different message for them, but it might not be the same):
#7570 and #8296

[2021-07-12 12:25] raphaelsc commented on #8985
On Mon, Jul 12, 2021 at 7:35 AM Kirill Alekseev
***@***.***> wrote:

ulimit -c unlimited

[2021-07-12 12:46] bhalevy opened #9012 "scylla_cache_reads metrics are not found"
A bunch of bypass_cache_test dtests started failing in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/868/testReport/

For example, https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/868/testReport/bypass_cache_test/TestBypassCache/test_alter_table_caching_disable/
[code]

It looks like this could have been caused by 6a6403d19d60204635e40f124

[2021-07-12 13:22] bhalevy opened #9013 "Regression in test_oversize_indexed_values dtest"
Starting https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/868/testReport/junit/secondary_indexes_test/TestSecondaryIndexes/test_oversize_indexed_values/
Scylla version fe4002c6c42d9eb1b83b72953e4b929d7dc09fd7
[code]

[2021-07-12 14:04] elcallio commented on #8418
Ok, new build: rpms this time.
gs://scratch.scylladb.com/calle/8418

[2021-07-12 14:12] #8410 closed

[2021-07-12 14:12] #9008 closed

[2021-07-12 14:21] fgelcer commented on #8418
@elcallio , IIUC the issue is authorization to previous folder, and not the format of the files

[2021-07-12 14:33] vladzcloudius commented on #8999
None, @tzach .
The info is in the log.

[2021-07-12 14:34] bhalevy opened #9014 "main: service_level_controller needs to be stopped both right after it starts and before storage_proxy drain_on_shutdown"
As per 32bcbe59ad9, the sl_controller is stopped after set_distributed_data_accessor is called.
However if scylla shuts down before that happens, the sl_controller still needs to be stopped, right after https://github.com/scylladb/scylla/blob/3fda13e20e10f431d8dbfa735958c697c1f1c7e0/main.cc#L837

[2021-07-12 14:47] kbr- commented on #8977
Segfault during shutdown, it's a classic.
[code]

[2021-07-12 14:50] kbr- commented on #8977
My rough guess is that the lambda inside `do_accepts`:
[code]
tries using `this` (of type `generic_server::server`) after it has been destroyed.

[2021-07-12 14:50] syuu1228 commented on #8936
Can we close this too since https://github.com/scylladb/scylla-enterprise/issues/1830 closed?
Or is it different problem?

[2021-07-12 14:55] slivne commented on #8936
Turns out they were not using the AMI ....

[2021-07-12 14:55] #8936 closed

[2021-07-13 01:32] #8887 closed

[2021-07-13 06:22] bhalevy commented on #8890
Fixed with #8905 and https://github.com/scylladb/scylla-dtest/pull/2195

Dtest passes since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/865/testReport/bootstrap_test/TestBootstrap/seeds_on_duty_test/

[2021-07-13 06:22] #8890 closed

[2021-07-13 07:14] xemul opened #9016 "Automatically convert --max-io-requests to --io-properties-file during upgrade"
The `--max-io-requests` CLI option is deprecated by (https://github.com/scylladb/seastar/commit/a717a7d0a4fe9fd71f9cd003d240bcb9a90e658f) (while the io-properties was declared to be the strongly preferred IO confiuration even earlier by (https://github.com/scylladb/seastar/commit/37a22d9de6b20ee3ecd76cbbec09c343836d7b72)). Some day the `--max-io-requests` will be removed, so the upgrading scripts

[2021-07-13 07:54] elcallio commented on #8418
@ShlomiBalalis literally said (in gchat) that you needed centos packages. Me thinks this is rpms.

[2021-07-13 08:02] xemul commented on #8421
@fgelcer , can you attach the `scylla.yaml` file used in testing?

[2021-07-13 08:09] fgelcer commented on #8421
from one of my last tries:
[code]

and in dtest we have also a "node.conf":
[code]

[2021-07-13 08:09] bhalevy commented on #9013
@psarna git bisect points at bf0777e97a0abb3bebddf84c82de774ebfd9255d for this regression.

[2021-07-13 08:16] #9012 closed

[2021-07-13 08:31] nyh commented on #5064
Our LWT implementation already supports [conditional batches](https://docs.scylladb.com/using-scylla/lwt/#batch-statements): _"The entire conditional batch has an isolated view of the database and is executed using all-or-nothing principle."_.

We could use this existing capability to implement the DynamoDB Transactions feature with one important limitation - that all operations in a transaction m

[2021-07-13 09:07] roydahan commented on #8418
It’s fine. Rpms.
@fgelcer there are also discussions outside this bug and without your PR to support update_db_packages for Ubuntu Shlomo can’t test the deb package.

[2021-07-13 09:12] fgelcer commented on #8418
i see, i will fix the comments and send a new version of if ASAP

[2021-07-13 11:32] #9014 closed

[2021-07-13 11:51] nyh opened #9018 "Alternator's LSI should not be allowed for a base table with no sort key"
The purpose of an LSI (local secondary index) in Alternator is to allow an alternative sort key for the existing partitions - the partitions do not change. So it doesn't make sense to create an LSI on a table that did not originally have a sort key, i.e., has only single-item partitions. DynamoDB indeed doesn't allow this case, it reports the following error:

Alternator current allows this case.

[2021-07-13 14:16] avikivity commented on #9001
By the time the warnings are attached, it's too late. The trace session is created before any warnings can be created.

[2021-07-13 14:18] avikivity commented on #9001
I think these defaults should be changed to "log warnings (with rate-limit), unless an API method was called to read the warnings". Otherwise, this feature will only be used in cqlsh.

[2021-07-13 14:26] juliayakovlev opened #9019 "Gemini load was stopped after internode_compression has been changed (to "dc")"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210706.775a64b00 with build-id 2b277dccbd78b81b6ad5dd834e9d52c51a8fad05`
Cluster size: 3 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   gemini-1tb-10h-master-db-node-93160512-1 (13.51.234.23 | 10.0.1.49): 14 shards
   gemini-1tb-10h-master-db-node-93160512-2 (13.48.104.4

[2021-07-13 14:29] bhalevy commented on #8421
Decoded:
[code]

[2021-07-13 14:29] #7215 closed

[2021-07-13 14:36] vladzcloudius commented on #8936
Right. Sorry, forgot about the OSS issue.

[2021-07-13 14:36] fgelcer commented on #8421
@xemul , i'm trying to download the file locally to be able to add to here, but i have permission issues, maybe you can do it yourself, IDK:
s3://scylla-qa-team/fabio/scylla.trace

[2021-07-13 14:36] fgelcer commented on #8421
or https://scylla-qa-team.s3.amazonaws.com/fabio/scylla.trace

[2021-07-13 15:09] psarna commented on #9013
Right, this series introduced a regression - if a too large value is inserted to an indexed column, view update generation fails, but it's incorrectly ignored in `generate_and_propagate_view_updates()`. Originally, errors in **propagation** were ignored, but errors during **generation** should be forwarded to the user. That unfortunately changed when this routine was rewritten to coroutines.

[2021-07-13 15:27] xemul commented on #8421
I'm having the same permission denied. And AFAIK Benny had failed to download it too. @slivne who can change the permissions on the mentioned ... (?) folder?

[2021-07-13 15:27] tzach commented on #9001
+1
We need to propagate more info to allow users to pin point an issue to a query.
In addition to just username, the connection info (external IP, port), and a CQL statement will be useful
To mitigate the extra info we can propagate the  session "id" and correlate the logs elsewhere.

[2021-07-13 15:28] nyh commented on #9013
@bhalevy imagine that this test lived in cql-pytest, and took 10 milliseconds, instead of dtest and taking 5 minutes. Developers would actually run it before submitting patches... :-(