[2021-01-26 07:59] nyh commented on #7608
Another example of an inconsistency of the current behavior:
In a table with partition key `p`, clustering key `c`, and regular column `r`, the current situation is that:

1. The restriction `WHERE c=1` works without `ALLOW FILTERING`
2. The restriction `WHERE c=1 AND r=2` only works with `ALLOW FILTERING`

This doesn't make sense. If we come up with some justification why we should allow the firs

[2021-01-26 08:00] yakirgb commented on #7962
In my case `tlp-stress` writing into one table only.

[2021-01-26 08:21] tarzanek commented on #7935
nodetool describecluster
?

what are versions of all nodes? the same?

I'd stick with latest minor release (4.1.11) resp. latest supported release(4.2.3) or switch to stable enterprise for prod

[2021-01-26 08:23] tarzanek commented on #7935
Also what is your strategy for replication in keyspace? I hope it's NetworkTopology

[2021-01-26 08:27] tarzanek commented on #7935
Also more hints

gossip state
and state of time(ntp, chrony ? ) on nodes will impact the state of how nodes join

also OS state (seems like old Ubuntu to me) and kernel state might interfere

that said the auto tuning of the node should be checked
if this cluster was updated from old version, tuning might be obsolete and should be rerun

[2021-01-26 09:04] elcallio commented on #6309
I'm pretty sure that run did not have any log levels set to debug, because the log contains not a single debug message, including those releated to truncation and compaction.

[2021-01-26 09:18] nyh opened #7964 "Further restricting a query already limited to a single row should not require ALLOW FILTERING"
In a table with `p`, `c` and `r` being a partition key, clustering key and regular column respectively, a query with `WHERE p=1 AND c=1`, which returns a single row (or none), does not require "ALLOW FILTERING". This is correct.

Now, adding to this restriction yet another restriction on the regular column - `WHERE p=1 AND c=1 AND r=1` - should not require `ALLOW FILTERING` either. This query stil

[2021-01-26 09:48] aleksbykov opened #7965 "nodetool repair and nodetool removenode comands failed during repair process running"
*Installation details*
Scylla version (or git commit hash): `4.4.rc0-0.20210125.f470c5d4d with build-id ca840e9f9c508f2b3fb3d4176d3f64127857285a`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0e045d50c5a6c9a4a` (aws: eu-north-1)

[Jenkins job URL](https://jenkins.scylladb.com/job/scylla-4.4/job/longevity/job/longevity-cdc-4h-test/3/)
Test: `longevity-cdc-4h-test`
Test na

[2021-01-26 09:49] psarna commented on #7964
Well, Scylla is technically correct - you still fetch this row unconditionally and then filter whether to return it to the client or not. It's definitely not a performance-heavy task, but ALLOW FILTERING mentions that the performance *might* be unpredictable, not that it will be. In fact, filtering can often be a much better choice than creating an index or a view , especially if the number of dro

[2021-01-26 10:06] yakirgb commented on #7962
Just small update, based on @tarzanek recommendation in Slack [thread](https://scylladb-users.slack.com/archives/C2NLNBXLN/p1611649782088800?thread_ts=1611566381.061900&cid=C2NLNBXLN), restart to `scylla-jmx.service` released all `nodetool` commands:
[code]

[2021-01-26 10:20] nyh commented on #7964
Note that "WHERE p=1 AND c=1" _already_ may return either one or zero rows. To return zero rows always requires non-zero work, and that is not considered filtering. In my opinion (and we have other issues about needing to define this better), "filtering" is when returning O(1) results (0 results included...) may require O(N) work. And this doesn't happen here. The performance of this query _is_ pr

[2021-01-26 10:21] dkropachev commented on #6309
That is true, no debug logs there, it is a standard run.

[2021-01-26 10:28] psarna commented on #7964
Yup, I meant a  `r=1` in this example too, otherwise it's just a regular slice query :) My point was simply that it's easy to come up with more cases which return a number of rows bounded by a small constant.

[2021-01-26 10:46] amnonh commented on #6309
I compiled and run master (cb9e2ee00a176064cc4458df9aa0312359697e2f) and scylla get stack on truncate at boot time (during db::legacy_schema_migrator::migrate)

[2021-01-26 10:49] yarongilor commented on #7948
no LWT ops during upgrade test.

[2021-01-26 12:21] slivne commented on #6309
@roydahan either provide instructions on how to try and reproduce or please run and collect info.

@amnonh - please open a different issue for what you saw - it does not seem the same issue.

[2021-01-26 12:23] slivne commented on #6155
@kostja / @gleb-cloudius - ping on https://github.com/scylladb/scylla/issues/6155#issuecomment-735384602 - please open a seperate issue and assign someone to fix

[2021-01-26 12:38] nyh opened #7966 "A long scan which filters out most rows can return incomplete results"
In the following cql-pytest test, we have a `SELECT` request which scans an entire table and filters out, with `ALLOW FILTERING`, all the rows except one. This is a difficult case for Scylla, because the scan either needs to return empty pages which are problematic (it's unclear whether the protocol or drivers allow them) or risk timing out the request. But we never want to see what the test below

[2021-01-26 13:04] kostja commented on #6155
There is already a patch from Gleb, but the review spiraled into a grid lock.

[2021-01-26 13:54] bhalevy commented on #7956
Unfortunately we don't save the data directories on dtest failures, just the log.

Can you run an experiment to check the compatibility?
Maybe even develop a quick dtest that will use injected timeuuid's as clustering keys and verify their order compared to the test's ordering.

Maybe we need to use some pytohn library like https://pypi.org/project/time-uuid/ for compatibility, or write our own co

[2021-01-26 14:12] kostja commented on #7956
I know the sort order is not compatible: https://stackoverflow.com/questions/59630690/differences-for-max-time-uuid-in-cqlsh-and-python-cassandra-driver - but as you can see, it's only for lower bits, so in order for that to happen there must be a timestamp collision.y It would be nice to verify that the collision is indeed present, and hence the lower timeuuid bits are taken into account.
If we c

[2021-01-26 14:22] slivne commented on #6403
@tgrabiec / @bhalevy please break this first to a list of items / modules that need to be u[dated to make this done - we can then work on assigning the parts to different owners

[2021-01-26 14:24] slivne opened #7967 "Remove the MIN and MAX tokens use MIN_INT64 and MAX_INT64 instead"
@haaawk please add info

[2021-01-26 14:42] vladzcloudius commented on #7963
True. However the user needs a way to know when the MV contents is ready to be used, @nyh .
According to what I understand MVs have the same issue as SI - they are "readable" right after the corresponding `CREATE` statement is completed.

And just like with SIs the user needs a mean to know that he/she can start reading from the MV.

[2021-01-26 15:12] #7273 closed

[2021-01-26 15:27] tarzanek commented on #5181
@amoskong 4.3 uses out of box configs, so iotune doesn't run, it seems it's about kernel + OS config when it doesn't run

so a retest of just running iotune (NOT scylla_io_setup, which in 4.3 behaves with out of box configs) would be great

[2021-01-26 16:20] aleksbykov opened #7968 "Scylla failed to start after upgrade from 4.3 -> 4.4 with error: scylla_prepare: ERROR: Device e does not exist."
System under test
ScyllaDB version: 4.3.0-0.20210110.000585522 with build-id 7fab6c35a5d403f3416292b37c9a9aa94fe4db1f (ami-09100abf6401dce3a)
Target ScyllaDB repo: https://s3.amazonaws.com/downloads.scylladb.com/unstable/scylla/branch-4.4/rpm/centos/2021-01-25T09:41:42Z/scylla.repo
Instance type: i3.2xlarge
Number of ScyllaDB nodes: 4

job: https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4

[2021-01-26 16:38] psarna opened #7969 "The algorithm for picking an index for a request is not always deterministic"
Scylla version (or git commit hash): master(82585568322824db7f0d9706cae959122a49fb08)

The algorithm for picking an index for a query which is eligible for indexing is not really deterministic in case of multiple indexes of the same type (global/local).
The algorithm is as follows: all indexes are traversed and scored. An eligible global index gets a 1, and an eligible local index gets a 2. While

[2021-01-26 16:50] gnumoreno commented on #5181
@slivne with all do respect, having preconfigured values is far from "that works". io_tune should work on any env on any disks. The problem happens on GCP, Azure and if we test on other instance types on AWS, there is a good chance it won't work either.

Please make sure io_tune is great.

[2021-01-26 16:54] nyh commented on #7963
I added to the top comment an example where an ALLOW FILTERING query can break by adding an index before its fully built, but explained (sort of...) why a query that didn't use ALLOW FILTERING cannot break after adding an index.

[2021-01-26 17:22] dfedick commented on #7935
Great, Thanks for the feedback.  I will work on upgrades and tuning first then respond with outcome.

[2021-01-26 17:53] bhalevy commented on #5714
I wanted to verify that we do the right thing on restart if we hit a failure while moving sstables from `staging`.
When this issue was opened the distributed loader didn't process the folders at the right order and saw both the sstable in the staging directory and its linked copy in the main directory causing confusion.

This code had significantly changed in b34c0c2ff6918d0265393c461b1032c8f9b934

[2021-01-26 18:01] tgrabiec commented on #2252
On Tue, Jan 26, 2021 at 1:53 AM vladzcloudius <notifications@github.com>
wrote:

It depends. If memtables contain a range delete (which includes partition
tombstone), and you don't merge it into cache, you have to invalidate the
range. You may have to invalidate most of the cache this way, which
consumes more resources than inserting the tombstone (assuming no
compact-on-write).

Your proposal red

[2021-01-26 18:21] roydahan commented on #7968
Why does it try to run perftune after upgrade?
@amoskong are you familiar with this?

[2021-01-26 18:34] vladzcloudius commented on #2252
Right.
Yes, my proposal doesn't solve the cache-compaction issue nor its ultimately improving things.
I also agree that it deserves a separate discussion. I'll open a special GH issue for it.

[2021-01-26 18:43] GoranBrkuljan commented on #7936
Here are steps to reproduce:
[code]

[code]
I guess this will hardly affect anyone but I found it while I was testing my schema migration logic.

[2021-01-26 19:14] roydahan commented on #6243
Apparently not closed, still happens on 4.4.rc0 with OEL 8.1.
@yarongilor please add the details.

[2021-01-26 19:27] dfedick commented on #7935
We did end up removing the "new node" then ran an upgrade.  We were being inundated with compactions and our load was extremely high.  We upgraded from 4.1-4.2 then 4.2-> 4.3.

Right now we are not experiencing any performance issues.  We will try again with the additional node but this can be closed as I believe the fix for our problem was to upgrade ..

[2021-01-26 19:29] #7935 closed

[2021-01-26 20:08] fgelcer commented on #7819
this is happening on a Centos 7 too:
node-1 is the node being upgraded, and its last message was:
[code]

but the test timed out and stopped at:
[code]

full logs can be seen here:
[db nodes logs](https://cloudius-jenkins-test.s3.amazonaws.com/54ed49cc-f746-43fb-9f2e-8bf328e25a6c/20210122_055307/db-cluster-54ed49cc.zip)
[sct logs](https://cloudius-jenkins-test.s3.amazonaws.com/54ed49cc-f746-43fb-9

[2021-01-26 20:19] vladzcloudius opened #7970 "Consider the possibility of dropping the heuristics of merging memtable into cache on memtable flush events"
*Installation details*
HEAD: 90a6c3bd7ae21226abbefa74537767bbd47b2c7a

*Description*
We have a heuristics that merges the content of memtables into (read) cache on each memtable flush event today and I'd like to open a discussion about pros and cons of this approach.

Let's start with Pros:
* This allows us not to invalidate the corresponding cache content when we need to flush data that is both i

[2021-01-26 20:21] fgelcer commented on #7819
and on a Centos 8 too, with the same version:
`Scylla version 4.4.dev-0.20201217.a60c81b61 with build-id 2d4859128c252569f28931ada0b983ef01df4f52`

last message:
[code]
< t:2021-01-22 05:19:44,361 f:file_logger.py  l:78   c:sdcm.sct_events.file_logger p:INFO  > 2021-01-22 05:19:44.359: (InfoEvent Severity.NORMAL): message=TEST_END
[code]

[2021-01-26 20:50] roydahan commented on #7819
Issued was fixed.

[2021-01-26 20:50] #7819 closed

[2021-01-26 20:58] vladzcloudius commented on #7963
For the record: there is a way to know if MV is built: one can query `system_distributed.view_build_status` for that.
Thanks, @psarna.

[2021-01-26 20:59] yarongilor commented on #6243
reproduced in:

Test details
Test: artifacts_test.ArtifactsTest.test_scylla_service
Build number: 4
Backend: aws: eu-west-1
Test-id: 1c6a30b2-6099-4ef6-8b88-a773001b4376
Start time: 2021-01-25 16:06:39
End time: 2021-01-25 16:11:39
Started by user: yarongilor
Private repo: https://s3.amazonaws.com/downloads.scylladb.com/unstable/scylla/branch-4.4/rpm/centos/2021-01-20T19:17:24Z/scylla.repo
Test re

[2021-01-26 22:30] #7733 closed

[2021-01-27 04:07] shawn-cheng opened #7971 "scylla_setup IOTune fail"
env: n1-standard-4 (4 vCPUs, 15 GB memory)
os:Ubuntu 18.04 lts
scylla version 4.3(latest)

Do you want IOTune to study your disks IO profile and adapt Scylla to it? (*WARNING* Saying NO here means the node will not boot in production mode unless you configure the I/O Subsystem manually!)
Yes - let iotune study my disk(s). Note that this action will take a few minutes. No - skip this step.
[YES/no]

[2021-01-27 07:47] slivne commented on #7971
- If you are running on a cloud machine can you please share the cloud and
the instance you are using

- If you are running outside of a cloud can you please share the HW specs -
you can try and use (
http://docs.scylladb.com/troubleshooting/report_scylla_problem/#health-check-report
although it tried to collect info from scylla as well - and we arenot
there, nbut it should be able to collect the

[2021-01-27 08:20] slivne commented on #7314
@roydahan / @ShlomiBalalis can we try and reproduce this and get a server into a stuck state - so @amnonh can try and find the bug and figure out whats stuck

[2021-01-27 08:59] shawn-cheng commented on #7971
I did create the instance on google cloud but I cant share the instance. I have upload the file and the uuid is
06285a54-52b0-4e56-8e4d-09ff49fb0e64

[2021-01-27 10:18] aleksbykov commented on #7968
Node where issue reproduced
`| rolling-upgrade-4-4-centos-db-node-fc6d736b-4 | eu-west-1a | 54.216.86.245  |`

[2021-01-27 10:18] slivne commented on #7961
@kbr-  lets clarify the amount of information we need to save in the cdc_stream_descriptions.

[2021-01-27 10:43] denesb commented on #7795
I have a series which make this obsolete.

[2021-01-27 10:45] amoskong commented on #7968
@syuu1228 and @vladzcloudius are familiar of this.

@alexilyaev can you provide the /etc/scylla.d/perftune.yaml and the device list in the instance?

perftune are executed in scylla_prepare from scylla 3.1 (added by Vlad, https://github.com/scylladb/scylla/commit/0e47d8bb1dd1a8bbe47f548f0055ef780e901a35), so it's executed when scylla starts.

[code]
The above error was raised from : https://github

[2021-01-27 10:48] aleksbykov commented on #7968
[code]

[code]

[code]

[2021-01-27 11:07] amoskong commented on #7968
[code]

I found the problem:

[code]

/CC @tarzanek  we should convert the read value to list if it's not a list.

[2021-01-27 12:18] kbr- commented on #7961
@slivne
In `cdc_streams_descriptions` the set of streams is stored as a `frozen<set<blob>>`. As far as I know, this is serialized as follows: 4 bytes for the collection size, then for each blob: 4 bytes for the blob size, followed by the blob itself.

With N nodes, S shards, and V vnodes per node, there will be <= N * S * V stream IDs in a generation. Each stream ID is a 16-byte blob, hence we'll

[2021-01-27 12:29] nyh opened #7972 "toJson() truncates some doubles to integers"
The `toJson()` function, which is supposed to print columns of various types in JSON format, appears to print **some** - but not all - values of type `double` as integers. The following test (which has `d` as a double column) fails in a very curious way:

[code]

The curious part is that the first half of the test succeeds - the number 123.456 is correctly converted to the JSON "123.456". But then

[2021-01-27 12:34] fgelcer commented on #7968
also seeing this error on rolling upgrade ami test:
[code]

upgrading from `4.3.0-0.20210110.000585522` to `4.5.dev-0.20210124.825855683`

[2021-01-27 12:56] slivne commented on #7961
On Wed, Jan 27, 2021 at 2:18 PM Kamil Braun <notifications@github.com>
wrote:

So thats to much ...

A client pulling so much info will cause stalls for everything else - and
if we have multiple clients pulling for cdc information - it will be even
worse.

In my view this has to be fixed with a friendlier format that will not
cause issues:
- how we move from one to the other is open - we can start

[2021-01-27 13:01] kbr- commented on #7961
if we have multiple clients pulling for cdc information - it will be even
worse.

Note that the pulls need happen only on generation changes, which are very rare. They should not be a performance problem in practice.

[2021-01-27 13:03] kbr- commented on #7961
Although they may cause an unexpected stall... assuming that we indeed do a reactor stall in this situation.

[2021-01-27 13:10] kbr- commented on #7961
cause issues:

data to the two tables (potentially as a patch) and in future release
remove the "bad" defined format.

Yes, we can do that (for the client table, upgrade should not cause much problems).
The table could use the stream ID as a clustering key, for example.
However, inserting the streams is then a bit harder - we would probably have to do it non-atomically in batches, and it could pot

[2021-01-27 14:18] #7312 closed

[2021-01-27 14:52] fgelcer commented on #7937
experiencing very similar issue, i'm running `Scylla version 4.5.dev-0.20210124.020da49c89b with build-id 6087ff4830a3bd8ea78dec39851e3bdac0251e7f`

after the test failed, i re-run it with the same seed, and it failed once again, with the same query:
`SELECT * FROM ks1.table1 WHERE pk0=102 AND pk1=-14369 AND pk2=11113 ;`

what i noted is that the oracle's output is much smaller than the other node

[2021-01-27 16:15] tzach commented on #4888
@amnonh please consider adding this info to the CQL dashboard
@vladzcloudius do you think it would be helpful?

[2021-01-27 16:51] vladzcloudius commented on #4888
On 1/27/21 11:15 AM, Tzach Livyatan wrote:

I definitely would.

[2021-01-27 16:53] fgelcer commented on #7937
@aleksbykov gently confirmed that above i'm reporting the same issue. From a chat with Alex:
[code]

[2021-01-27 19:37] xero-lib opened #7974 "Cannot compile on Arch Linux"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): Latest
Cluster size: N/A
OS (RHEL/

[2021-01-27 21:05] gibsn commented on #7753
I can see "storage_service - messaging_service stopped"

Full logs:
[code]

[2021-01-28 00:07] nyh commented on #2440
Indeed in Cassandra, according to https://cassandra.apache.org/doc/latest/operating/bloom_filters.html:

[2021-01-28 03:07] mailmahee opened #7975 "Issue with LWT and time synchronization"
*Installation details*
Scylla version (or git commit hash): 4.3 or Latest OSS
Cluster size: 2DC - 3 nodes each
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos

Here is the sequence of things happening on the cluster

The problem is timestamp  assigned to record in LWT UPDATE transaction is less than timestamp of previous operation also assigned on the server . see field system.totimestamp(cdc$time)
intere

[2021-01-28 03:11] asias opened #7976 "Massive hints generated 5X more writes, causing 17X writes latency, from 20ms to 350ms"
Scylla master: d5da455d95b7d39644d14283fe64d4136da10672

Procedure:

- 3 nodes in the cluster
- stop node 3
- start node 4 to replace 4
- at the end of replacing operation, 5X more writes was seen while the clients sends constant requests.

Repair based node operation is turned on.

![image](https://user-images.githubusercontent.com/320076/106084460-5b7f8700-6159-11eb-9c34-4164f7984cc4.png)
[code]

[2021-01-28 06:51] slivne commented on #7976
@piodul lets start by verifying everything is in the correct scheduling group

In replace operation we have a new node taking over an old node place
- according to asias description the hints were sent at the end of the replace node operation
- this is strange as regular writes are written to the replacing node
- as such I think that hints can and should be replayed at the start of the replace nod

[2021-01-28 06:56] asias commented on #7976
Monitor is still alive:

http://3.239.66.115:3000/d/overview-master/overview?orgId=1&from=1611775995636&to=1611778951490&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&var-func=sum&var-scylla_dash_version=master&var-monitoring_version=3.5

[2021-01-28 07:30] psarna commented on #7974
I can confirm that current master does not build on arch, for several reasons:
1. Outdated rapidjson in the repository - fixable by installing rapidjson-git from AUR
2. Outdated antlr3 - I didn't manage to find a fixed package anywhere, so perhaps one should build antlr3 from the latest source - I haven't tried that yet
3. A couple of warnings treated as errors, both with g++ and clang++ - can be

[2021-01-28 07:39] gleb-cloudius commented on #7976
First of all it looks like hints are replayed at the beginning of replace operation which, in my opinion, is wrong. What if replace operation fails? Hint are gone.

Second I cannot figure out if there is really any issue here at all. To really know if the issue exist you need to look at client side latencies, not Scylla reported one. Scylla included latencies of the hit writes as well and as those

[2021-01-28 07:42] asias commented on #7976
c-s reported ~300ms p99 latency too.

[2021-01-28 07:43] avikivity commented on #272
Fixed by 41f16159b31be275cc75ed4dd0224bab5a0f421a

[2021-01-28 07:43] #272 closed

[2021-01-28 07:44] avikivity commented on #199
@asias I don't remember we have this limitation.

[2021-01-28 07:46] avikivity commented on #274
Fixed by 1429213b4c896d5b20a5bfa5582feb4525682c7f

[2021-01-28 07:48] avikivity commented on #276
Fixed by 1429213b4c896d5b20a5bfa5582feb4525682c7f

[2021-01-28 07:48] #276 closed

[2021-01-28 07:48] gleb-cloudius commented on #4712
What is this mechanism? Do you mean write throttling? If yes, then I do not see any conflict between it and HH. Throttling mechanism postpones an already ready reply until a request is complete from coordinator's POV. The completion may happen in two ways: all replicas relied or timeout is reached and a hint is written for those that didn't.

[2021-01-28 07:50] avikivity commented on #274
Fixed by 0d885702868c2fabbbe98cf69977e2246fc17257

[2021-01-28 07:50] #274 closed

[2021-01-28 07:51] shawn-cheng commented on #7971
I tried to install different OS in GCP instance. CentsOS7 & Debian 10 & Ubuntu 18.04 all thees have the same issue when I try to execute the scylla_setup. And it's only work if I bypass the check.

[2021-01-28 07:52] avikivity commented on #278
Fixed (in another way) by 7b25e3200a07bf8db288f49b9b38f3c5f825c6dd

[2021-01-28 07:52] #278 closed

[2021-01-28 08:02] avikivity commented on #1473
Ubuntu 14.04 is no longer supported.

[2021-01-28 08:02] #1473 closed

[2021-01-28 08:03] avikivity commented on #1693
The transport load balancer has been removed (replaced with shard-aware drivers).

[2021-01-28 08:03] #1693 closed

[2021-01-28 08:03] asias commented on #7976
Another run:

No 300ms latency was seen with HH disabled.

![image](https://user-images.githubusercontent.com/320076/106107385-d65c9800-6181-11eb-82b3-d0cb6284b824.png)

[2021-01-28 08:11] avikivity commented on #1354
This is a bad idea as written. Say we allocate a 37k fragment. When we migrate the fragment, a smaller amount may be available in the new segment, so it will be broken into two fragments. This can repeat on each migration until the managed_bytes object is scattered into large number of fragments.

Perhaps a better idea is to use fragments the size of an entire segment if the object size is larger

[2021-01-28 08:15] avikivity commented on #2300
Certainly one core (or even all cores in some installations) are not enough to keep the disk busy, so this will reduce compaction throughput significantly, in turn increasing read and space amplification.

[2021-01-28 08:17] avikivity commented on #2302
/cc @xemul (may be fixed by radix tree?)

[2021-01-28 08:19] avikivity commented on #1171
/cc @denesb

[2021-01-28 08:20] avikivity commented on #1688
Fixed by 95197a09c91eb719c252abed847b8c035f5f9600 (node_exporter is a package in its own right).

[2021-01-28 08:20] #1688 closed

[2021-01-28 08:22] avikivity commented on #1912
@asias I'm guessing this is fixed with row-level repair.

[2021-01-28 08:24] avikivity commented on #2374
Fixed upstream: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=72822

[2021-01-28 08:24] #2374 closed

[2021-01-28 08:25] avikivity commented on #2481
@denesb we discussed unfreezing directly into a flat_mutation_reader.

[2021-01-28 08:28] avikivity commented on #2737
I believe this work was completed. @xemul are you aware of counterexamples?

[2021-01-28 08:30] nyh commented on #7974
Can't we compile just the Antlr3 output with C++17 parameters? It's ugly, but I think could be a simple workaround - if we weren't so pleased with that other workaround we invented (and you described) - dbuild.

[2021-01-28 08:33] avikivity commented on #1365
We won't do this. Incremental compaction strategy (enterprise only) offers the advantages (and even some more, such as incremental deletion of the compaction source data) in an easier way.

[2021-01-28 08:33] #1365 closed

[2021-01-28 08:35] shoshan opened #7977 "Coredump when using UDF and C-S, TWCS compaction"
*Installation details*
Scylla version (or git commit hash): `4.3.0-0.20210110.000585522 with build-id 7fab6c35a5d403f3416292b37c9a9aa94fe4db1f`
Cluster size: 3 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-09100abf6401dce3a` (aws: eu-west-1)

Test: `longevity-twcs-3h`
Test name: `longevity_twcs_test.TWCSLongevityTest.test_custom_time`
Test config file(s):
- [longevity-twcs-3h.yaml] (htt

[2021-01-28 08:35] avikivity commented on #2773
@amoskong I guess this is fixed?

[2021-01-28 08:37] avikivity commented on #2710
Fixed by 3b2890e1db770b0d23b723df0843073f0cab1a01.

[2021-01-28 08:37] #2710 closed

[2021-01-28 08:39] avikivity commented on #3182
@bhalevy I think you fixed it. Can you find the commit?

[2021-01-28 08:40] nyh commented on #2300
Yes, you already noted this in 2017.
We keep coming back to this idea because of the temporary disk usage of STCS compactions, which can be made much lower by not doing huge compactions on all shards in parallel. I don't know if we need to do it on just one of the shards (which, as you noted, may not be powerfull enough), half of them, or not. But given that we keep thinking about this idea just i

[2021-01-28 08:40] #2300 closed

[2021-01-28 08:43] avikivity commented on #519
I think the data_value(sstring) constructor is good enough for this.

[2021-01-28 08:43] #519 closed

[2021-01-28 08:43] slivne commented on #7976
@asias i fail to access http://3.239.66.115:3000

is this a sct run - can you please provide the info of the SCT-TEST-ID so we can download the monitoring / links to the jenkins job - if it was through

[2021-01-28 08:44] avikivity commented on #3515
Ubuntu 14.04 is no longer supported.

[2021-01-28 08:44] #3515 closed

[2021-01-28 08:46] asias commented on #7976
52315e60-77f5-46ec-8efa-2636d326b49a

[2021-01-28 08:55] psarna commented on #7974
Yeah, there's a good chance it will work. I privately still prefer to be able to compile in a docker-free environment, but in this case dtest is probably the best solution, at least until the repository catches up with more recent dependencies - especially that the things I listed might not be the only issues, they were just first to occur during a compilation attempt.

[2021-01-28 08:59] xemul commented on #2302
The row's storage is `managed_vector<cell_and_hash, 5 /* inline size */, 32 /* maximum size */>`. Also it's `maybe_grow` method has a wierd formula for new capacity, but it will never be less than (SUDDENLY) 13 and then grows doubling.

The radix tree in its current incarnation doesn't have inline storage, and allocates nodes for 4, 16 and 48 cells.

So the "unused memory for cells" until the vect

[2021-01-28 09:03] xemul commented on #2737
Yes, and all of them are hanging aroung the `drain_on_shutdown`.

[2021-01-28 09:20] penberg commented on #6243
This is fixed by the series https://github.com/scylladb/scylla/pull/6244. @syuu1228 there are still some outstanding review comments from @avikivity. Can you please address them and let's get it merged?

[2021-01-28 09:39] avikivity commented on #1289
The gains are unlikely to justify the extra bloat. Closing.

[2021-01-28 09:39] #1289 closed

[2021-01-28 09:41] avikivity commented on #145
Fixed (indirectly) by b569d127a09b78fa7f76e08d3493088254d41cf4.

[2021-01-28 09:41] #145 closed

[2021-01-28 09:42] avikivity commented on #1580
@haaawk I think you were interested in this.

[2021-01-28 10:07] avikivity commented on #2737
:(

[2021-01-28 10:25] psarna opened #7978 "Probabilistic repair can be a source of unbounded background reads which overload the cluster"
This issue is part of the discussion on unbounded background reads.

One of the sources of background reads is probabilistic repair. With given probability, there's a chance that additional nodes will be contacted during a read operation, and a repair process would occur in the background. Background reads do not have their own backpressure mechanisms, so if one of the nodes in the cluster is slow

[2021-01-28 10:37] psarna opened #7979 "Speculative retry can be a source of unbounded background reads which overload the cluster"
This issue is part of the discussion on unbounded background reads.

One of the sources of unbounded background reads is speculative retry. Contrary to probabilistic repair (https://github.com/scylladb/scylla/issues/7978), it's not a viable solution to reduce the chance for speculative retry to trigger, because that would hurt availability. This reduction actually happens now, but it's a bug - htt

[2021-01-28 11:11] gleb-cloudius commented on #7975
I do not understand from the above what exactly is the issue and
what exactly do you expect and why. Or for that matter what exactly you
did and what cdc has to do with it. Can you add all this information
please?

--
			Gleb.

[2021-01-28 11:36] slivne commented on #7341
@fruch / @bentsi
- In all the scenarios - I think that GCP instances are run with much fewer disk/ disk space and that leads to less bandwidth
- how can others run the scenario's you provided ? so I can get someone to check this out - its fine to provide a jenkins job to use to launch this.

[2021-01-28 11:37] dkropachev opened #7980 "Malformed compaction part schema.cql is generated by nodetool snapshot"
Scylla generate malformed compaction part of schema.cql:
[code]

*Installation details*
Scylla version (or git commit hash): 4.2.3, 4.3.0, issue is fixed on master

*Hardware details (for performance issues)*
Platform: docker

*Steps to reproduce*
[code]

[2021-01-28 11:41] bhalevy commented on #3182
This is a duplicate of #3353 that was originally fixed with 93270dd8e04e3caf0e7586311badbaf121c14d3f
and then required 737382547318520772570bd6fb991782f74ea5b4

[2021-01-28 11:43] avikivity commented on #3182
Fixed by 737382547318520772570bd6fb991782f74ea5b4

[2021-01-28 11:43] #3182 closed

[2021-01-28 12:18] #2778 closed

[2021-01-28 12:32] psarna opened #7981 "Timeouts during read operations may contribute to high number of background reads"
This issue is part of the discussion on unbounded background reads.

This issue's root cause would have to be confirmed, but it sounds likely - @gleb-cloudius suggested it via the mailing list. It was observed during an overload test, that even though speculative retry and probabilistic repair were turned off, a considerable number of background reads still appeared in the system.
The reason might

[2021-01-28 13:40] p-osipo-v opened #7982 "Unexpected node restart during adding new DC"
Hi, Scylla team!
We are have 5-nodes scylla cluster in one DC and adding second DC, 5 nodes too.
After altering keyspaces with parameter

`replication = { 'class' : 'NetworkTopologyStrategy', '<exiting_dc>' : 3, <new_dc> : 3};`

we ran nodetool rebuild -- <existing_dc> on one node in new DC. During this command work nodes in existing DC are unexpectedly restarting in random order. Logs before rest

[2021-01-28 13:59] p-osipo-v commented on #7779
We haven't scylla-monitoring installed, but we have metrics in Victoria Metrics json format. Hope, it helps you in diagnostics.
[scylla_metrics.gz](https://github.com/scylladb/scylla/files/5887684/scylla_metrics.gz)

[2021-01-28 14:55] #2956 closed

[2021-01-28 15:17] tgrabiec opened #7983 "Compact mutation fragment stream when flushing memtables"
It can be that most of the data in memtable is covered by range tombstones. Writing rows which are covered by tombstones wastes resources and adds more work for compaction later. We should insert a compacting reader after the flush reader in the reader pipeline.

This matters for RAFT where log is frequently truncated by deleting a range of rows.

[2021-01-28 15:55] kbr- opened #7985 "Use direct RPC streams to exchange CDC generations between nodes."
Issue #7961 brought to our attention a problem with the current method of handling CDC generations.

Currently, when a new CDC generation is created (during bootstrap), the node which creates it inserts it into a distributed table: `system_distributed.cdc_generation_descriptions`. Then announces its timestamp through gossip.
Nodes attempt to retrieve the generation on certain events: restart, or w

[2021-01-28 16:06] fgelcer opened #7986 "test_latency_mixed_with_nemesis - latency during "steady state" get to 20 ms without heavy stalls"
*Installation details*
Scylla version (or git commit hash): 4.4.dev-0.20210114.32fd38f34 with build-id 0642bb3b142094f1092b0d276f6efa858081fe96
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-012cafbb2dc4f1e4d (eu-west-1)

running mixed workload with the command:
`cassandra-stress mixed no-warmup cl=QUORUM duration=350m -schema 'replication(factor=3)' -port jmx=6868 -mode cql3 native -rate 't

[2021-01-28 16:07] fgelcer commented on #7986
i'm running 2 more test cases trying to bisect when these huge latency numbers started.

[2021-01-28 16:42] roydahan commented on #7977
@shoshan please find the backtrace, decode it and add it here.
@bhalevy In case you're interested (we haven't started testing UDF, but tried using it).

[2021-01-28 18:10] #6521 closed

[2021-01-28 20:22] slivne commented on #7451
4.3 images include a swap

scylla_swap_setup

[code]

Lets see if that holds - if not we can change it - closing the issue

[2021-01-28 20:22] #7451 closed

[2021-01-28 21:32] nyh opened #7987 "Unprepared statement fails to set time column from an integer"
The column type `time`  is a 64-bit signed integer representing the number of nanoseconds since midnight. According to the [Cassandra documentation of the "time" type](https://cassandra.apache.org/doc/latest/cql/types.html#times),

But it turns out that Scylla doesn't actually allow setting a `time` column with an integer as this documentation requires that it must allow. The code
[code]
Fails wit

[2021-01-28 22:12] nyh opened #7988 "toJson() produces invalid JSON for columns with "time" type"
The `toJson()` function prints columns of various types in JSON format. Because JSON has no time-specific type, Cassandra represents times in JSON as as string looking like "_hh_:_mm_:_ss_._fffffffff_"

Scylla has a bug where it prints this string without the quotes... This is of course not legal JSON, and JSON parsers reading this output will not like it.

This bug is reproduced by the following

[2021-01-28 22:30] fgelcer commented on #5080
i'm experiencing something very similar with this issue, during `RestartThenRepairNode` nemesis:
[code]
in this current case, this is happening also on a MV, but same description as the original reported one.
in total, we had in this test 81K ERROR events in this test, so i retrieved manually part of the logs.

also, in another run of the same nemesis (`RestartThenRepairNode`) we had backtraces to

[2021-01-28 22:57] fgelcer commented on #5080
`test_id = 6445e5cb-3357-43ff-9389-9bdb729d9f64`

[2021-01-29 00:02] asias opened #7989 "200ms reactor stall during memory allocation"
- Test Procedures:
Start 3 nodes
Start c-s with mixed read/write workload
Run repair
Kill one node
Run replace ops
Bootstrap 4th node
Decommission 4th node

- Setup
Repair based node ops is enabled.

scylla code with new_sched:
https://github.com/asias/scylla/tree/benchmark_new_io_scheduler_with_new_scheduler
sct code:
https://github.com/scylladb/scylla-cluster-tests.git  origin/branch-perf-v10

3

[2021-01-29 00:05] asias opened #7990 "15ms refactor stall during repair"
- Test Procedures:
Start 3 nodes
Start c-s with mixed read/write workload
Run repair
Kill one node
Run replace ops
Bootstrap 4th node
Decommission 4th node

- Setup
  Repair based node ops is enabled.

  scylla code with new_sched:
  https://github.com/asias/scylla/tree/benchmark_new_io_scheduler_with_new_scheduler
  sct code:
  https://github.com/scylladb/scylla-cluster-tests.git  origin/branch-p

[2021-01-29 07:49] asias commented on #7965
When one of the node is down, repair is supposed to fail because one of the node is down. The repair continues as best effort mode, meaning repair with whatever node is live. The repair will report the repair is failed in the end.

[2021-01-29 08:00] asias commented on #7965
The removenode ops failed because other nodes marked the coordinator node to run the removenode as DOWN during the removenode ops.

[code]

[code]

[2021-01-29 08:04] asias commented on #7965
The metrics looks horrible.

![image](https://user-images.githubusercontent.com/320076/106248174-95c95100-624b-11eb-87a6-7b1d343a60a5.png)

[2021-01-29 08:27] amoskong commented on #2773
Yes, it's fixed.

Version: 4.5.dev-0.20210127.a1f93e429
scylla_setup outputs: [scylla-setup-with-pd-ssd-data-disk-log.txt](https://github.com/scylladb/scylla/files/5892349/scylla-setup-with-pd-ssd-data-disk-log.txt)

[code]

![Screenshot from 2021-01-29 16-26-56](https://user-images.githubusercontent.com/309708/106250613-dc6c7a80-624e-11eb-9457-e9fac45d4558.png)

[2021-01-29 09:39] aleksbykov opened #7991 "Command nodetool cfstats stucked for ~2days."
*Installation details*
Scylla version (or git commit hash): `4.4.rc0-0.20210125.f470c5d4d with build-id ca840e9f9c508f2b3fb3d4176d3f64127857285a`
Cluster size: 4 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0e8ece5acf9742edf` (aws: eu-central-1)

Test: `longevity-200gb-48h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-200GB-48h-verif

[2021-01-29 10:20] avikivity commented on #7989
These stalls happen on startup (logalloc::segment_pool::prime).

[2021-01-29 12:59] kbr- opened #7993 "Improve CDC stream description (user-facing) tables"
In order to query CDC log tables properly, users need to know the set of stream IDs. In Scylla 4.3 this is done by querying the `system_distributed.cdc_streams_descriptions` table, which has the following schema:
[code]
The `time` column denotes the timestamp of a CDC generation and `streams` is the set of all stream IDs in that generation (the `expired` column is not relevant in this discussion).

[2021-01-29 13:12] kostja commented on #7975
The timestamp used by LWT to store the change in the base table is the ballot timestamp. Naturally, with many rounds, the ballot timestamp may be earlier than a timestamp of some other non-LWT write happening against this table.
But then again, this report is so scarce, that I could be misunderstanding the problem and thus misjudging.

Please provide exact steps to reproduce, including scylla conf

[2021-01-29 14:39] bhalevy commented on #7977
Hmm, need to look at the crash.  If you have a coredump it would be even better.

That said, we don't support the use of UDFs in the WHERE clause yet.
This is #5607

Does the above scenario work against Cassandra?

[2021-01-29 17:38] tgrabiec commented on #6403
Here's a rough implementation plan.

1. Introduce a new type which represents the concept of a `host`. A host moves in a linear fashion over a well defined set of states (bootstrapping -> normal -> leaving -> left). It can be assumed to contain a monotonic set of writes (doesn't lose data) for the data ranges it owns. Unlike `inet_address`, which can refer to different hosts at different points in

[2021-01-29 17:55] tgrabiec commented on #7200
@gaurarpit12 Does it stay that way? To debug it, I would need complete logs of all the nodes since their boot.

[2021-01-31 08:06] shoshan commented on #7977
@bhalevy coredump is huge 20GB,  can be accessed via gce console https://storage.cloud.google.com/upload.scylladb.com/core.scylla.997.adbbb8751f7146aabfcc4fd89fcf2adf.2934.1611780677000000/core.scylla.997.adbbb8751f7146aabfcc4fd89fcf2adf.2934.1611780677000000.gz

[2021-01-31 08:19] bhalevy commented on #7956
Seen again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/730/testReport/cql_group_functions_tests/TestGroupFunctions/test_dates_type_group/
[code]

[2021-01-31 08:24] bhalevy commented on #7977
Thanks.  By the way, this isn't huge at all :)
We have core dumps of well over 100GB from the largest AWS machines we use...

[2021-01-31 08:31] amnonh commented on #4513
It seems that sstable::filter_size return the wrong information.
I've run a single node with 3 shards. run a load and did nodetool flush.
The reported filter size is:
``Bloom filter space used: 218536``

After the first ``nodetool flush`` the files in the directory are:
$ ls -lrt tmp_data/data/keyspace1/standard1-bf420360639a11eba96e6288801e4a2e/*Filter.db
-rw-r--r--. 1 amnon amnon 73464 Jan 31 10

[2021-01-31 08:42] avikivity commented on #7990
Please use separate issues and put the causing function name in the title so we can deduplicate issues. It's not helpful to have 100 issues called "xxms reactor stall".

[2021-01-31 08:45] slivne commented on #7976
@asias just for clarity

After disabling HH - did you get better latencies - you seem to have an assumption you would - but please post what you got so it will be clear whats the status without HH.

[2021-01-31 08:46] bhalevy commented on #7989
Lokks like a duplicate of https://github.com/scylladb/scylla/issues/7990

[2021-01-31 11:02] roydahan commented on #5080
@fgelcer please check if it happened before / after the "scylla_create_devices" and if after, how long after.
(Need to make sure it's not when scylla try to start while it's missing the disks).

[2021-01-31 11:32] ShlomiBalalis opened #7994 "[CDC] nodes aborting with coredump when writing large row"
*Installation details*
Scylla version (or git commit hash): 4.5.dev-0.20210127.a1f93e429 with build-id f53c1cdd5bf7a862ed05cdf0396dd5725eeaddce
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0395803c0387e0e06 (eu-north-1)
Scenario: **longevity-cdc-100gb-4h**

At `2021-01-28 01:14:22,812` a AddDropColumnMonkey nemesis started (the first nemesis in this longevity). The nemesis constantly adds

[2021-01-31 12:01] roydahan commented on #7991
Could be related to #7244 ?

[2021-01-31 12:03] nyh commented on #3502
Since commit ed0d00f51eda18829aea5bb146e6985a6fb2dc12(a retry of fdd2d9de3d1fb68f96e6a23eb965ad4f957f6805) done for issue #6109, the default of `dc_local_read_repair_chance` is now 0.
So although probabilistic read repair was not officially "removed" as this issue suggests, or even officially deprecated, it's no longer on unless a user deliberately turns it on.

[2021-01-31 12:06] slivne commented on #7991
@amnonh please have a look - if you need help with opening the cores - please see if someone from benny's team can help you.

[2021-01-31 12:07] bhalevy commented on #7991
Refs #7244

[2021-01-31 12:08] slivne commented on #7341
@roydahan help

[2021-01-31 12:11] bhalevy commented on #7977
[code]

[2021-01-31 12:16] amnonh commented on #7991
Cores will not help in this case, can we have a system that is stack so I can test what part is not reponding?

[2021-01-31 12:24] bhalevy commented on #7977
Ah, apparently this is not called in a seastar thread
[code]

[2021-01-31 12:37] amnonh commented on #7991
@elcallio there are a few different reports of nodetool commands getting stack, is it possible that it relates to:
RegistrationChecker? It's one of the only places in the flow thta uses locks

[2021-01-31 12:44] amnonh commented on #4513
@slivne I'm unassigning myself, re-assign me if I'm needed

[2021-01-31 14:26] roydahan commented on #7341
@bentsi to add the longevity-1TB test of GCE in 4.4

[2021-01-31 15:40] shoshan opened #7996 "cqlsh copy data to csv file with TIMEFORMAT is unrecognized"
**Installation details**
Scylla version 4.4.dev-0.20201220.b3e39d81aa8 with build-id 2236f8832730cc63cadf420b4fc02a642dce1f8d

this is split from #2386, some of #2386 tests pass.

**Test:**
dtest test_writing_with_timeformat(self):

**Issue description**
when copy table to csv file with file format error there is message and export fails.

[scylla.yaml.zip](https://github.com/scylladb/scylla/files

[2021-01-31 15:42] nyh opened #7997 "toJson() is missing a timezone on timestamp"
When running the `toJson()` function on a timestamp column, the result in Cassandra looks like `"2014-01-01 00:00:00.000Z"` while in Scylla it is `"2014-01-01T00:00:00"`. Scylla's output has two problems:

1. The "T" instead of space is indeed one of the allowed _input_ formats for timestamp (see https://cassandra.apache.org/doc/latest/cql/types.html#timestamps) but it was not the format chosen by

[2021-01-31 16:07] nyh commented on #7996
@shoshan when you say this is a "split from #2386" did you mean 2386 should be closed and this one retains the problems which still remain, or both should remain open?

This appears to be a CQLSH command, so should be an issue on cqlsh, not on Scylla, but in any case, is this even a **valid** issue? Who said that "TIMEFORMAT" is a valid COPY TO option? For example, Datastax's document https://docs

[2021-01-31 16:42] bhalevy opened #7998 "database_metrics_test total_reads_user_test: scylla_database_total_reads did not increase as expected"
Regression detected in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/730/testReport/database_metrics_test/DatabaseMetricsTester/total_reads_user_test/
Scylla version b32ece6975425f566be78419c027fbb073be62b0
[code]

I bisected the issue to bf115e7d69b12f4ed4f208646b3eb9c02c966ec2

[2021-01-31 17:06] bhalevy opened #7999 "Spurious dtest failures: Exception when communicating with <self>, to read from system_auth.roles: seastar::named_semaphore_timed_out"
Quite a few regressions seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/730/testReport/
Scylla version b32ece6975425f566be78419c027fbb073be62b0

I suspect this was caused by 32cdcc0c8bf90ee915d43097c4b85d59b43dcff9 (`Merge "sstables: consolidate reader factory methods" from Botond`)

For example:

https://jenkins.scylladb.com/view/master/job/scylla-master/jo

[2021-01-31 17:27] bhalevy opened #8000 "consistency_test: short_read_reversed_test: Expecting value5, got value4"
Regression started in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/729/testReport/consistency_test/TestConsistency/short_read_reversed_test/
Scylla version a1f93e42972df729c899c4e6ef3653f101c806dd

[code]

Bisected to aec231ba2eb70ce3eedd4fea0acf1ef9ff833641

[2021-01-31 17:29] bhalevy commented on #8000
This causes another regression: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/729/testReport/thrift_tests/TestMutations/test_get_range_slice/
[code]

Note that this test is much faster to run, either successfully or not.

[2021-01-31 19:13] nyh opened #8001 "Documented unit "µs" not supported for assigning a "duration" type"
The "duration" type was added to Cassandra in 2016 (Cassandra 3.10; see Cassandra commit bfd57d13b7914ad909c75e1e126802e9867cc735 and their issue https://issues.apache.org/jira/browse/CASSANDRA-11873) and is supported by Scylla.

The Cassandra documentation https://cassandra.apache.org/doc/latest/cql/types.html#durations and our copy of it  https://docs.scylladb.com/getting-started/types/#working-

[2021-01-31 19:15] bhalevy commented on #4513
@amnonh the bug is in `cf::get_bloom_filter_disk_space_used` and friends in the way they use [std::accumulate](https://en.cppreference.com/w/cpp/algorithm/accumulate)
The functor passed to it is binary and it should sum the current value into the accumulator, which it doesn't.

[2021-01-31 19:18] amnonh commented on #4513
@bhalevy have you seen the way I reproduced the issue?

[2021-01-31 20:08] shoshan commented on #7996
@nyh updated test with DATETIMEFORMAT, test pass closing this issue.

[2021-01-31 20:08] #7996 closed

[2021-01-31 20:08] shoshan commented on #7996
using DATETIMEFORMAT test pass.

[2021-01-31 20:09] nyh commented on #7996
Thanks. Should #2386 be closed as well or is there something that still needs to be done there?

[2021-01-31 20:36] nyh commented on #7996
Oh, and another question - are you sending a patch for this test error? You could have automatically closed this issue when that patch is committed instead of closing this issue manually - using a "Fixes" with an issue URL.

[2021-01-31 22:00] nyh opened #8002 "toJson() of decimal type doesn't use exponents so can produce huge output"
Scylla's implementation of toJson() for the `decimal` type (the variable-precision number type) mistakenly avoids using exponents in its representation, although exponents are perfectly legal in JSON's number format. So for the number -1.23E-12 it prints `-0.00000000000123`, and for the number 1e100 it prints `1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

[2021-01-31 22:48] ShlomiBalalis opened #8003 "Timed out when attempting to drop a table during repair"
*Installation details*
Scylla version (or git commit hash): 4.5.dev-0.20210127.a1f93e429 with build-id f53c1cdd5bf7a862ed05cdf0396dd5725eeaddce
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0395803c0387e0e06 (eu-north-1)
Scenario: longevity-200GB-48h

At `2021-01-30 06:45:00.612` a `NoCorruptRepair` nemesis has started, with node 3 (13.53.80.132 | 10.0.0.131) being the target node. The neme

[2021-01-31 23:59] bentsi commented on #7341
Added and ran 1TB for 4.4
Job: https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4.4/job/longevity/job/longevity-1tb-7days-GCE-test/3/console
The run failed. @slivne one can use this job to reproduce
![image](https://user-images.githubusercontent.com/5269241/106402212-83ad0580-6439-11eb-9015-295166a2fb79.png)

[2021-02-01 00:05] ShlomiBalalis commented on #7968
The same error occurred in the latest rolling-upgrade-ami job of scylla master:
*Installation details*
Scylla version (or git commit hash): from `4.3.0-0.20210110.000585522 with build-id 7fab6c35a5d403f3416292b37c9a9aa94fe4db1f` to `4.5.dev-0.20210127.a1f93e429`
Cluster size:4
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-09100abf6401dce3a

[code]

Logs:
[code]

[2021-02-01 00:48] asias commented on #7976
I already did. See the comment above: https://github.com/scylladb/scylla/issues/7976#issuecomment-768874250.

[2021-02-01 01:58] amoskong opened #8004 "longevity-1tb-7days: storage_io_error abort occurred during grow_shrink"
*Installation details*
Scylla version (or git commit hash): 4.4.rc0-0.20210125.f470c5d4
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI):  ami-0e045d50c5a6c9a4a (eu-north-1)

### Test info

* test_id: `223f91b5-a2cf-43ea-aa3c-2946b8fa8086`
* SCT test configuration: https://github.com/scylladb/scylla-cluster-tests/blob/master/test-cases/longevity/longevity-1TB-7days-authorization-and-tls-ssl.yaml

#

[2021-02-01 02:40] amoskong commented on #8004
Living Instances:

* https://eu-north-1.console.aws.amazon.com/ec2/v2/home?region=eu-north-1#Instances:instanceState=running;search=223f91b5-a2cf-43ea-aa3c-2946b8fa8086

The instances can be accessed by `ssh -i ~/.ssh/scylla-qa-ec2 -l centos $ip`

[2021-02-01 03:04] asias commented on #7990
There are more than 100 different backtraces in the log. It makes no sense to create 100 issues for each of them.  I do not plan to create more "xxms reactor stall" issues. I suggest to use this issue as the umbrella.

[2021-02-01 05:45] aleksbykov commented on #7950
@bhalevy , i apologize for huge delay. Here is the backtrace decodes:
**node2**
[code]
**node6**
[code]

[2021-02-01 06:54] amoskong commented on #8004
[code]

[2021-02-01 07:18] piodul commented on #7976
![hints-during-replace](https://user-images.githubusercontent.com/4950936/106425994-1747fb80-6465-11eb-80c8-f8c06394ab63.png)

Here is an approximate timeline of the event, based on information I found in the logs:

- 18:46:06 - one node (10.0.3.236) is killed.
  - Shortly after that, hints __start__ being __written__ on other nodes.
- 18:53:27 - replacement node (10.0.1.245) is booted up.
- 18:59

[2021-02-01 07:37] amoskong commented on #7968
The fix had been applied to seastar master,  [rolling-upgrade-ami-test](https://jenkins.scylladb.com/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-ami-test) of the next 4.5.dev build will be fine.

[2021-02-01 07:49] bhalevy commented on #4513
@amnonh how is this unary?
https://github.com/scylladb/scylla/blob/bb202db1ff7c0a3889ec9a7e9c971cbeee7f18e7/api/column_family.cc#L658-L660

It needs to do this:
[code]

[2021-02-01 07:52] shoshan commented on #7996
@nyh yes, sending patch for this legacy test error.

[2021-02-01 08:16] nyh commented on #2386
@shoshan I see you mentioned this issue in #7996, so I guess you looked into it. Can you please clarify what is the state of this issue? Is it still relevant? Is there a dtest that reproduces it?

[2021-02-01 08:42] denesb commented on #1171
Which part is redundant? Iterating over all cells?

[2021-02-01 08:55] avikivity commented on #1171
Probably. And s/query writing/result writing/.

[2021-02-01 08:55] amoskong opened #8006 "`Failed to load schema version` occurred during RestartThenRepairNode"
*Installation details*
Scylla version (or git commit hash): `4.4.rc1-0.20210131.fd868722d with build-id 81a1e1af8194f89648f0de52d16221ac170c539a`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-06dcc54e2d1c77000` (aws: eu-north-1)

Test: `longevity-10gb-3h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-10gb-3h.yaml] (http

[2021-02-01 09:01] aleksbykov commented on #7830
Issue reproduced with Scylla version: 4.4.rc1-0.20210131.fd868722d with build-id 81a1e1af8194f89648f0de52d16221ac170c539a (ami-06dcc54e2d1c77000 (eu-north-1))

*Installation details*
Scylla version (or git commit hash): `4.4.rc1-0.20210131.fd868722d with build-id 81a1e1af8194f89648f0de52d16221ac170c539a`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-06dcc54e2d1c77000` (a

[2021-02-01 09:01] amoskong commented on #8006
### Nemesis executed before the issue occurred.

- All nemesises finishes.
- Only Skipped 3 unsupported nemesises.

[code]

[2021-02-01 09:03] avikivity commented on #7990
It's sad that we have 100 different stalls. But we need separate issues since we'll have 100 separate fixes.

[2021-02-01 09:05] denesb commented on #1171
This would require a cell granularity consume API between the compactor and result builder. The current API has row granularity.

[2021-02-01 09:06] bhalevy commented on #6403
@tgrabiec the above sounds good.
@asias please also review the above plan.

[2021-02-01 09:18] ShlomiBalalis opened #8008 "Scylla Startup fails: perftune.py: TypeError: 'NoneType' object is not iterable"
*Installation details*
Scylla version (or git commit hash):4.5.dev-0.20210131.bb202db1f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Spread across the board between centos, ubuntu, debian
, oel and amazon2 insallations

Most artifact tests fail during scylla installations with the following error when attempting to start scylla server:
[code]

The following artifact installations fail:
artifac

[2021-02-01 09:35] denesb commented on #8000
Investigating...

[2021-02-01 10:59] roydahan commented on #8006
@amoskong please check and describe the steps that happened during the nemesis.
Most importantly, need to make sure that the error happen AFTER we run "create_devices" and start scylla again.
If it happens BEFORE, this is not a real issue and the errors should be filtered.

[2021-02-01 11:06] aleksbykov commented on #8003
The same issue happaned during the job(details below).
2/4 of the NoCorruptRepair nemeis faile with exact same behavior. Also next messages were found during dropping the table
[code]

*Installation details*
Scylla version (or git commit hash): `4.4.rc0-0.20210128.f470c5d4d with build-id f6bf81d70c86ecfcc78916c0a0b98dfad9948ec7`
Cluster size: 4 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `

[2021-02-01 11:16] bhalevy commented on #7965
@asias why did that happen?  what is the root cause?

[2021-02-01 11:21] kbr- commented on #7998
[code]

The increase in `scylla_database_total_reads` didn't come from the `SELECT`, it came from `create_ks` - I'm guessing the reason is that the node checks if the keyspace already exists by reading the schema tables.

After bf115e7, schema tables reside on shard 0. Thus accessing them should not produce operations on other shards. Hence the test fails, because `create_ks` does not increase sha

[2021-02-01 11:37] roydahan commented on #8003
This is a new nemesis added in 4.4.
Most likely not a regression.

[2021-02-01 11:56] denesb commented on #7998
Indeed it appears range scans are not accounted for in this metric. They used to do before the stateful range scan era.

[2021-02-01 11:58] psarna commented on #7978
The simplest solution that comes to mind, and was already mentioned several times on the mailing list, is to simply deprecate probabilistic repair and not activate it at all.

[2021-02-01 12:07] slivne commented on #8003
I think we have a longer timeout for drop - the other thing that may be happening is that we are creating a snapshot that takes time.

[2021-02-01 12:08] slivne commented on #8004
@avikivity will have a look

[2021-02-01 12:08] avikivity commented on #8004
This is a real I/O error.

[2021-02-01 12:09] avikivity commented on #8004
@bhalevy please look at exception handling in append_challenged_posix_file_impl, looks like we don't handle errors will in the destructor.

[2021-02-01 12:12] avikivity commented on #8004
I am not able to log into node 1.

[2021-02-01 12:15] avikivity commented on #8004
The collected logs for node 1 are very partial and don't contain anything useful.

Please add dmesg to log collection.

@amoskong @roydahan you can terminate the cluster.

[2021-02-01 12:17] haaawk commented on #7993
I think I understand this:
[code]
but maybe you could give an example @kbr-

[2021-02-01 12:24] haaawk commented on #7993
If possible I would go with a single batch insertion and then avoid the `ok` column. This simplifies the solution and I think the 30MB partition should be fine. @avikivity please comment on this. Since everything works in terms of mutation fragments we should be ok to have a 30MB partition split into many small clustering rows. At least in theory.

[2021-02-01 12:25] juliayakovlev opened #8009 "Load failed due cql_server exception while processing connection: Invalid argument"
*Installation details*
Scylla version (or git commit hash): `4.4.rc1-0.20210131.fd868722d`
Cluster size: 4 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `-` (gce: eu-west-1)

Test: `longevity-1tb-7days-GCE-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-1TB-7days-authorization-and-tls-ssl.yaml] (https://github.com/scylladb/scylla-cluster-tes

[2021-02-01 12:26] haaawk commented on #7993
I think the second schema. The one that groups streams by vnode is safer. I would give it a try first. Unless anyone sees any drawbacks?

[2021-02-01 12:33] amoskong commented on #8006
### Test scenario of restart_then_repair nemesis:

* Background

Restart in AWS will be a Stop and Start of an instance.
When using storage optimized instances like i2 or i3, the data on disk is deleted upon STOP.  Therefore, we
need to setup the instance and treat it as a new instance.

* restart target_node
  * comment data disk in /etc/fstab, then the device won't be mounted automatically
  * a

[2021-02-01 12:42] kbr- commented on #7993
1. Cluster with nodes A, B
2. Node C starts bootstrapping
3. Node C creates a generation and inserts it into the internal table, gossips timestamp, timestamp reaches {A, B}
4. Partition between {A, B} and {C}, C fails to insert the streams, abandons bootstrap and shuts down
5. Nodes A, B notice the timestamp in gossip state, attempt to retrieve the generation from the internal table, but...
6. Par

[2021-02-01 12:53] haaawk commented on #7993
That's more or less what I was expecting. Including the complexity of the example :D

[2021-02-01 13:01] penberg commented on #8008
@amoskong @tarzanek @dkropachev This breakage looks to be related to https://github.com/scylladb/seastar/pull/861, right?

[2021-02-01 13:02] roydahan commented on #8006
possibly related to https://github.com/scylladb/scylla/issues/5080

[2021-02-01 13:08] haaawk commented on #8008
I find the "Scylla Startup fails ..." title a little disturbing. I hope this is not a prophecy ;)

[2021-02-01 13:16] raphaelsc commented on #7990
went quickly through all stall bts, and found:
- some happen on startup in prime_segment_pool()
- many happen on sstable producer (just fixed by Avi #7883)
- many happen when doing foreground reclaiming (we already have plans on fixing that)
- some happen in producer for memtable flush (recently fixed by me #7885)
- the remaining ones indeed look like new to me, so we need to open issues just for

[2021-02-01 13:16] amoskong commented on #8008
Sorry, it's caused by https://github.com/scylladb/seastar/pull/854
I had posted a fix: https://github.com/scylladb/seastar/pull/863

[2021-02-01 13:29] haaawk commented on #7993
@kbr- please do a POC of a single batch write to a partition that contains 50k rows and has a size of ~50MB. That will give us some knowledge whether this is possible at all.

[2021-02-01 13:37] roydahan commented on #7986
Update:
- Earliest "Master" run we had results from and we rerun is with build: 666.development. **20200910**.02ee0483b.
  The P99 latency on this build is still ok and still stands on 3.4 ms during steady state.

- Another run we did is for 4.3.0 (20210110. 000585522), the P99 latency is still considered good enough there and stands on 4.8 ms during steady state.

Trying now to bisect the regress

[2021-02-01 13:44] amoskong commented on #8004
Got it.

Terminated, thanks.

[2021-02-01 14:27] amoskong opened #8010 "drop tables timeout when repair is executing in background"
*Installation details*
Scylla version (or git commit hash): 4.4.rc0-0.20210125.f470c5d4
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI):  ami-0e045d50c5a6c9a4a (eu-north-1)

### Test info

* test_id: `223f91b5-a2cf-43ea-aa3c-2946b8fa8086`
* SCT test configuration: https://github.com/scylladb/scylla-cluster-tests/blob/master/test-cases/longevity/longevity-1TB-7days-authorization-and-tls-ssl.yaml
*

[2021-02-01 14:30] haaawk commented on #7993
due to commitlog_segment_size_in_mb that limits the size of the mutation we need to write the table a row at a time (or few rows at a time).

[2021-02-01 14:38] piodul commented on #7976
@slivne There is some increase in the time spent in both "streaming" and "statement" scheduling groups when hints are being sent. There is some increase in task quota violations in those groups, but only on the new node - not sure how significant this number is:

![violations](https://user-images.githubusercontent.com/4950936/106472709-3feee600-64a3-11eb-842a-2c1e6484d4bc.png)

[2021-02-01 14:41] piodul commented on #7976
@asias I reviewed logs from the test run containing cassandra-stress output, but couldn't see a significant increase in latency around the time the node replacement ended. Could you show me where this happens?

As for the grafana metrics representing latency, I think that maybe we should change them so that they only show the latency of regular writes? Now, it's confusing - even to us, developers

[2021-02-01 15:49] bhalevy commented on #8004
The code expects the file to be properly closed also after error, leaving no queued work behind,
but we indeed can't require `_logical_size == _committed_size` if `append_challenged_posix_file_impl::flush` hit an error.

[2021-02-01 16:02] yakirgb commented on #7962
@amnonh I have same issue also with `tablestats`,not specific `system` KS, i see same issue on all CF/KS:
`nodetool tablestats -- system.local`
Only restart to `scylla-jmx.service` fixing the issue.

[2021-02-01 16:35] avikivity commented on #6403
I think most of references to hosts should be with a host*, not a host_id. This avoids lookups (but on the other hand, requires care not to delete a host before all references to it are gone).

[2021-02-01 16:44] tgrabiec commented on #6403
@avikivity We can always have

[code]

Which lookups you want to avoid? In the messaging_service's routing table?

[2021-02-01 17:59] avikivity commented on #6403
That triggers huge amounts of lw_shared_ptr overhead and destructor calls, killing many optimizations in the small containers we use.

Yes, I assume (but didn't check) there are also lookups to see if the node is up or down.

[2021-02-01 18:20] yarongilor opened #8012 "Streams: KCL is stuck in endless loop of "DescribeStream", not getting new shard-iterators, after decommission and adding new node"
*Installation details*
Scylla version (or git commit hash): `4.4.dev-0.20210104.d5da455d9 with build-id 56ab4a808a56049c86c5af7a0f4a680dc37f36d1`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-018ec229a4231314c` (aws: eu-west-1)

Test: `longevity-alternator-streams-with-nemesis`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-a

[2021-02-01 18:21] yarongilor commented on #8012
@fruch , please review / confirm assigning this to Dev

[2021-02-01 21:05] slivne commented on #7341
We are overloading the cluster from the start .... writes fail when the load starts not after 20 minutes

![overload](https://user-images.githubusercontent.com/3465480/106517855-b6aad400-64e1-11eb-8c21-df49e3e8c4f4.png)

And again we are provisioning less disks then we should - if these are suppose to be paralle to i3.4x - lets prvision them in the same manner - with the sameamount of disk space -

[2021-02-01 21:15] slivne commented on #7341
We have

[code]

and on AWS we have based on what you wrote

[code]

So I am incorrect - and we have a problem ...

[2021-02-01 21:33] slivne commented on #7341
iostat shows we have high w_await

[code]

[code]

Looking at the limit the io-scheduler is not reaching the limits

So we have something off:
 - are we sending to many requests to the disks and they are being queued ? - which means our tuning of the disk is off from the start.
 - or something else is off ... trying to benchmark the disk - not using the pre-tuned settings

[2021-02-01 21:48] slivne commented on #7341
running io_tune

[code]

and lets compare it to io_properties

[code]

well - it seems io_tune doesn't agree with the numbers we preset

read/write bandwidth is 50% of what we provisioned and read_iops/write_iops are also lower then we preset

@tarzanek - @bentsi - I know you ran a lot of tests to measure this - any view on why its off by so much ?

[2021-02-02 01:33] asias commented on #7976
Here below, I listed p99 latency that is bigger than 80 ms on
ll 4 loaders (c-s.log). We do have high latency during ~18:50 and 19:55.  The latency during ~18:50 is even worse (> 200ms   )

[code]

[2021-02-02 02:15] asias commented on #7965
@aleksbykov  `hydra investigate show-monitor` failed for me.

[code]

[2021-02-02 02:29] asias commented on #7965
The system is heavily loaded. I need the monitor data to dig more. It is probably related to CDC because we do not see such huge drops without CDC.  HH can also contribute extra workload like we saw: https://github.com/scylladb/scylla/issues/7976.

I suggest aleksbykov give me an VM where I can run the tests my self: with a sct branch and a run.sh script inside. I want to limit scope of the tests.

[2021-02-02 06:18] aleksbykov commented on #7965
@asias i restored the monitoring stack on aws instance: http://13.51.48.255:3000/d/gFYbtaYGz/my_gemini-scylla-per-server-metrics-nemesis-master?orgId=1&from=1611601085679&to=1611618200744
(If you will not see results, filter for last 30 days)

[2021-02-02 06:31] tzach commented on #3705
@syuu1228 can we close this?
This is part of https://github.com/scylladb/scylla-enterprise-machine-image/commit/de1bb48faf75fc2edbfa83dc9108d69217476a21
but AFAIK, we did not switch to Amazon Linux 2

[2021-02-02 06:33] aleksbykov commented on #7991
@amnonh it is not reproduced always. Once i got same situation, i will provide the node

[2021-02-02 07:54] slivne commented on #7976
@piodul - please switch to shard view - you are in instance view and as such - a single shard may have higher task quota violations then others.

The shared high latency needs to be correlated with the timeline - QA do include the c-s latency reports in a dashboard you should have that as well - and please align that c-s reported latency with the events timeline you listed above (e.g. when did we

[2021-02-02 08:41] elcallio commented on #7991
Might I suggest using jconsole/jps or even just ctrl-break (sigint) to get the scylla-jmx threaddump instead? It will tell you a lot more about whether anything is broked on the jmx side.
If there is a deadlock, this will tell you.

[2021-02-02 09:15] slivne commented on #7707
fix is in 4.4 - closing

[2021-02-02 09:15] #7707 closed

[2021-02-02 09:53] ShlomiBalalis opened #8013 "Cassandra stress fails to achieve consistency during replace node operation"
*Installation details*
Scylla version (or git commit hash): 4.5.dev-0.20210127.a1f93e429 with build-id f53c1cdd5bf7a862ed05cdf0396dd5725eeaddce
Cluster size:6
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-0395803c0387e0e06 (eu-north-1)
Scenario: longevity-50GB-3days-authorization-and-tls-ssl

At `2021-01-29 11:32:34.192` a RestartThenRepairNode nemesis has started. The nemesis restarts the target node's (no

[2021-02-02 10:03] denesb commented on #8000
The `mutation::consume()` that I added in https://github.com/scylladb/scylla/commit/aec231ba2eb70ce3eedd4fea0acf1ef9ff833641 doesn't support reverse consumption, so results are sent in the wrong order for reverse queries.

[2021-02-02 10:21] elcallio opened #8014 "Make untyped_result_set non-copying and retain fragments"
This type was not intending for what it is used for. (Meant for small, internal data reads).
But now it is the center of CDC.

Still, the type does deep copy+linearization of source data -> potentially very large allocs.

We should try to make it a non-copying proxy to (fragmented) backing storage.

[2021-02-02 10:38] tarzanek commented on #7341
where is above /etc/scylla.d/io_properties.yaml  coming from?
it doesn't match to https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_io_setup#L247
so I don't think it's preset

[2021-02-02 11:08] roydahan commented on #8010
Dup of #8003

[2021-02-02 11:09] nyh commented on #8012
I need help understanding what problem you actually see.
1. You said there is "YCSB verification error" and quoted some lines, but I don't understand at all what this is saying, and what kind of error is this... Are there missing rows? Wrong rows? Or what? It would be helpful to know what kind of error we see, not just that it "failed".
2. Is the write workload using CL=QUORUM and the read using C

[2021-02-02 11:18] tgrabiec commented on #6403
Maybe it's worth to sacrifice some performance for safety, if it's negligible. What kind of optimizations are killed?

[2021-02-02 11:25] amoskong opened #8016 "cleanup executed 5 hours and failed after decommission and re-adding a new node"
*Installation details*
Scylla version (or git commit hash): `4.4.rc1-0.20210131.fd868722d`
Cluster size: 4 nodes (i3en.3xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI):  ami-06dcc54e2d1c77000 (eu-north-1)

Test: `longevity-large-collections-12h`
Job link: https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-large-collections-12h/4/
Test config file(s):
- https://github.com/scylladb/s

[2021-02-02 12:05] slivne commented on #8006
doesn't seem like a regression not blcking the release - need to understand better whats going on

[2021-02-02 12:06] #7880 closed

[2021-02-02 12:07] slivne commented on #8016
collecting more info - once we have it - @bhalevy / @raphaelsc can have a look

[2021-02-02 12:08] fruch commented on #8012
we'll try to see if we can come up with smaller sized reproducer, but it might take us a bit more then 10 hours it's gonna run.

1) we are not running YCSB with full logs, we could try, but that would generate a ton of them.
2) I'm not sure why you are asking about CL ? it's alternator right ? we have control only on reads..., and in those case the cluster was health when reading. (i.e. it wasn't

[2021-02-02 12:10] fruch commented on #8012
The run mentioned here is also with old version of monitoring, we might have better view with a monitoring that have dashboard for the alternator streams APIs, and we'll be running next with the newer version

[2021-02-02 12:16] nyh commented on #8012
@yarongilor I am asking all these questions because if I were tasked to debug this, I would have no idea what your workload is doing, or what exactly is the "proof" that there is even a problem.  How does the test recognize an error? It sees the two tables are different? Do we know **what** is different - does one table (which) have more rows? Errors in the data? Or what?

You're right that Altern

[2021-02-02 12:30] shoshan commented on #2386
@nyh #2386 has several test cases, #7996 sub test case was updated and passing now, there is still one last sub test case  that do not pass, and having multiple errors when running by jenkins, but one notification of timeout when running on laptop.

[jenkins run link](https://jenkins.scylladb.com/job/scylla-master/job/byo/job/dtest-byo/416/consoleText)

**test_bulk_round_trip_with_timeouts** (cqls

[2021-02-02 12:33] nyh commented on #7978
The solution of removing support for probabilistic repair also has its own issue: #3502.
Also note that Since commit ed0d00f (a retry of fdd2d9d) was done for issue #6109, the default of `dc_local_read_repair_chance` is now 0, so although probabilistic read repair was not officially "removed" as #3502 suggests, or even officially deprecated, it's no longer on unless a user deliberately turns it on

[2021-02-02 12:35] roydahan commented on #8013
@ShlomiBalalisplease do as follow:
1. Specify which stress failed, read/write/mixed/all of them (still specify).
2. Check if any of the nodes crashed during that time (go to the db-nodes and check one by one).
3. Add a monitor screenshot showing cpu utlization of nodes.

[2021-02-02 12:42] nyh commented on #2386
The title of this issue mentions SKIPCOLS, and it gives specific CQL commands to reproduce.
I don't understand how this dtest "test_bulk_round_trip_with_timeouts" is relevant... If the CQL commands mentioned at the top of this issue work today, let's close this issue and open a new one for the failing dtest "test_bulk_round_trip_with_timeouts" (is that the only failing dtest in this area, or there

[2021-02-02 12:43] asias commented on #7965
Thanks. I can see the monitor now.

[2021-02-02 12:46] asias commented on #7965
@aleksbykov

The test yaml says:

[code]

There was only 2 loaders. Will each loader run all the 4 c-s cmds at the same time (2*4 c-s in parallel)?

[code]

[2021-02-02 13:00] asias commented on #7965
node 10.0.1.116 is being shut down

     2021-01-25T20:06:55+00:00  longevity-cdc-100gb-4h-4-4-db-node-a92a84b6-1 !INFO    | scylla: [shard 0] gossip - InetAddress 10.0.1.116 is now DOWN, status = shutdown

At time 20:09:08, node1 10.0.0.196  was the coordinator to run the removnoede cmd, and the repair for remoovenode ops started

     2021-01-25T20:09:08+00:00  longevity-cdc-100gb-4h-4-4-db-node

[2021-02-02 13:39] fruch commented on #8012
I'll check that we are using consist reads in the verification stage. we might have missed that.

[2021-02-02 13:40] nyh commented on #8012
Some more thoughts about this test:
1. An idea raised by @slivne is that we should run the verification ycsb also on the base table - maybe some data is missing already there, and not just in the copy?
2. The YCSB verification code - that uses the DynamoDB API? If so, is it using **consistent** read (which translates to CL=local_quorum)? If not, it should.
3. I would like go be confident that none

[2021-02-02 13:42] fruch commented on #8012
we by default using consistent reads (on all ycsb runs):
https://github.com/scylladb/scylla-cluster-tests/blob/master/sdcm/ycsb_thread.py#L134

[2021-02-02 13:43] ShlomiBalalis commented on #8013
CPU utilization during the run:
![Screenshot from 2021-02-02 14-55-50](https://user-images.githubusercontent.com/40186893/106603364-db955a80-6566-11eb-8479-aa196415ebc3.png)
Monitor link: http://localhost:41605/d/A8Wh61YMz/longevity-50gb-3days-scylla-per-server-metrics-nemesis-master?orgId=1&from=1611915053719&to=1611923161763

As for the stresses, all of the stresses that were alive and running (

[2021-02-02 13:46] slivne commented on #8012
On Tue, Feb 2, 2021 at 3:41 PM nyh <notifications@github.com> wrote:

In this case its not safe -you are loosing one replica.

Yet in any other case in which 3 replicas remain the process is supposed to
be safe.

Starting from 3 nodes, adding one, decommissioning another is safe
Starting from 4 nodes, decommissioning one, adding another is safe

[2021-02-02 13:54] nyh commented on #8012
@fruch can you tell me a bit about what the "decomission nemisis" is doing? Is it adding a node and then commissioning a node or the opposite order.

@slivne is the safe decomission procedure documented somewhere? I'm not not sure I understand why even your order is safe: Consider we have 3 replicas, two new values, one old. Now we add a node. That, if I understand correctly, streams some random c

[2021-02-02 13:54] yarongilor commented on #8012
thanks @nyh . what currently slows down the clarification of the issue is that it is not reproduced consistently. once we'll come up with a more consistent reproduction, we can try narrowing down the scenario.

perhaps a somehow useful new insight is that the issue wasn't reproduced with the following nemesis, where no decommission ran:
[code]
the issue did reproduce in another test that did run s

[2021-02-02 13:56] slivne commented on #7967
duplicate of https://github.com/scylladb/scylla/issues/1580 ?

[2021-02-02 14:35] fruch commented on #8012
in our test there are 6 nodes, decommission nemesis is:
1) decomission one node using `nodetoll decomission`
2) deleteing this node from AWS
3) provision and add a new node (wait for steam to end, and not to be available)
4) run `nodetool cleanup` on all of the nodes.

(basically following this https://docs.scylladb.com/operating-scylla/procedures/cluster-management/remove_node/)

[2021-02-02 14:58] avikivity commented on #7967
Closed as duplicate of #1580.

[2021-02-02 14:58] #7967 closed

[2021-02-02 15:04] avikivity commented on #7273
Redis is not production ready, so not backporting.

[2021-02-02 15:05] avikivity commented on #7114
Redis is not production ready, so not backporting.

[2021-02-02 15:05] avikivity commented on #7861
Redis is not production ready, so not backporting.

[2021-02-02 15:16] pveentjer opened #8017 "scylla_setup "unwanted node exporter setup failed""
When the scylla_setup is run a second time and one agrees to install the node exporter again, then the following message is shown:

[code]
It would be better if the script would detect that the node exporter is installed and then skip the installation and give the appropriate message. So something like:
[code]

Currently it initially looks like something went very wrong, but that isn't the case.

[2021-02-02 15:29] avikivity commented on #7792
Backported to 4.2, 4.3 (4.4 already has it).

[2021-02-02 15:30] avikivity commented on #7086
@asias ping

[2021-02-02 15:35] #7883 closed

[2021-02-02 15:35] #7615 closed

[2021-02-02 15:35] #7783 closed

[2021-02-02 15:35] #7866 closed

[2021-02-02 15:35] #7977 closed

[2021-02-02 15:37] fgelcer commented on #5080
@roydahan , can't say now for sure as this is the run that the logs went lost because of ENOSP in the runner, but i'm believe that it is after the devices were re-created.

[2021-02-02 15:49] raphaelsc commented on #8016
cleanup runs against node1, and node1 log shows no failure on cleanup.

it may be the node1 ran out of space, but that should have been reported in the log. i'll try looking at the monitoring

[2021-02-02 15:58] amoskong commented on #8016
There is no ENOSPC error in logs of all db nodes.

[2021-02-02 16:32] raphaelsc commented on #8016
last log in node1 was:
`2021-02-01T22:01:03+00:00  longevity-large-collections-12h-mas-db-node-c6a4e04e-1 !INFO    | scylla: [shard 8] compaction - [Cleanup large_collection_test.table_with_large_collection fa1c3c00-64d8-11eb-afba-000000000007] Cleaning [/var/lib/scylla/data/large_collection_test/table_with_large_collection-b75c53b0647311eb8d04000000000000/md-3608-big-Data.db:level=0, ]`

~25 min

[2021-02-02 16:51] roydahan commented on #8013
@ShlomiBalalis Did the nemesis was running on "longevity-tls-50gb-4d-master-db-node-b38320d5-1" ?
If so, please check if it's the "seed" node that we pass to the c-s command in "-node".

If it does, please try to reproduce it with this nemesis so we can understand maybe it's a limitation of c-s.

[2021-02-02 18:08] dorlaor commented on #4911
@dekimir wouldn't it be a no brainier to implement the case insensitivity?
CC @ultrabug

[2021-02-02 18:16] avikivity commented on #4911
@kostja what is your opinion about syntax?

    col ILIKE pattern
    LOWER(col) LIKE pattern
    col COLLATE UTF8_GENERAL_CI LIKE pattern

COLLATE UTF8_GENERAL_CI seems very elegant.

[2021-02-02 18:29] zooptwopointone commented on #6529
I have also run into something like this.  Cluster info:
Scylla version 4.2.1-0.20201108.4fb8ebccff with build-id d19a95fd85a8e7df2928ccd8c729941f263e8adc
Cluster size: 4 Datacenters (3 x 3 nodes 1 x 7 nodes)
OS (RHEL/CentOS/Ubuntu/AWS AMI): 18.04.5 LTS (GNU/Linux 4.15.0-128-generic x86_64)

Platform (physical/VM/cloud instance type/docker): Physical
Hardware: sockets= 2 cores=8 hyperthreading= 32

[2021-02-02 18:30] zooptwopointone opened #8021 "Crash + Traceback"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

Scylla version 4.2.1-0.20201108.4fb8ebccff with build-id d19a95fd85a8e7df2928ccd8c729941f263e8adc
Cluster size: 4 Datacenters (3 x 3 nodes 1 x 7 nodes)
OS (RHEL/CentOS/Ubuntu/AWS AMI): 18.04.5 LTS (GNU/Linux 4.15.0-128-generic x86_64)

Platform (physical/VM/cloud instance type/docker): Physical
Hardware:

[2021-02-02 18:32] slivne commented on #7341
Unfortunately even after fixing the io_properties

[code]

still iostat shows w_await

[code]

something is still off - compared to our settings

[2021-02-02 18:34] dekimir commented on #4911
To implement, yes.  But to design it will require brains.  That's why I'll let @avikivity and @kostja hammer out a design, and I'll implement it. ;)

[2021-02-02 20:20] zooptwopointone opened #8022 "Tables unable to repair"
I have also run into something like this. Cluster info:
Scylla version 4.2.1-0.20201108.4fb8ebccff with build-id d19a95fd85a8e7df2928ccd8c729941f263e8adc
Cluster size: 4 Datacenters (3 x 3 nodes 1 x 7 nodes)
OS (RHEL/CentOS/Ubuntu/AWS AMI): 18.04.5 LTS (GNU/Linux 4.15.0-128-generic x86_64)

Platform (physical/VM/cloud instance type/docker): Physical
Hardware: sockets= 2 cores=8 hyperthreading= 32

[2021-02-02 20:40] zooptwopointone opened #8023 "consumer not at partition boundary"
I have also run into something like this. Cluster info:
Scylla version 4.2.1-0.20201108.4fb8ebccff with build-id d19a95fd85a8e7df2928ccd8c729941f263e8adc
Cluster size: 4 Datacenters (3 x 3 nodes 1 x 7 nodes)
OS (RHEL/CentOS/Ubuntu/AWS AMI): 18.04.5 LTS (GNU/Linux 4.15.0-128-generic x86_64)

Platform (physical/VM/cloud instance type/docker): Physical
Hardware: sockets= 2 cores=8 hyperthreading= 32

[2021-02-02 22:17] nyh opened #8025 "Alternator: support CORS (Cross-origin resource sharing)"
This issue was noted by @nukemberg - I'm not an expert on this so I'll continue editing this issue until I understand the actual details of what we need to do :-)

Although we usually think of Alternator being used in a three-tier application, where some middle layer communicates with Alternator, in some setups there is no middle layer and the user's browser, running Javascript code, wants to comm

[2021-02-02 22:18] godsey commented on #7958
This is more generic than pulling a map value by key. Please see: https://issues.apache.org/jira/browse/CASSANDRA-10783

Allow literal value as parameter of UDF & UDA

[2021-02-02 23:24] mailmahee commented on #2693
@hakuch @tzach  any update on this issue - we have another customer/user run into this issue...

[2021-02-02 23:28] vladzcloudius opened #8026 "Make sure that all info printed by `large_xx` loggers could be found in corresponding `system.large_xxx` tables and vise versa"
*Installation details*
HEAD: 873e732042aa88b8e84aed0431b6b02e640bbfab

*Description*
Today the data that is printed by the large_partition logger is not the one that can be found in the large_partition table: the former reports partitions that have more than `compaction_rows_count_warning_threshold` rows while the later has partitions which size is greater than the `compaction_large_partition_warn

[2021-02-02 23:29] vladzcloudius commented on #8026
@slivne FYI

[2021-02-03 00:25] asias commented on #7086
Yes. We can safely skip the backport.

[2021-02-03 00:34] asias commented on #7976
@piodul Which cpu and io scheduling does hint use? Do we have any mechanism to add back pressure or  throttle the hint? Is it running at the full speed when we decide to start replaying them? I think it is better to gradually reply the hints over time so we do not have a huge spike in writes as we saw.

[2021-02-03 05:57] xero-lib commented on #7974
So I thought the point of production was to not use a docker. Does this compile to the host somehow? And if so, how do I use it afterwards?

[2021-02-03 06:07] haaawk commented on #7985
The solution sounds reasonable to me in general. I have few questions:
1. What happens when a node that gossips generation timestamp is down before any other node manages to pull the new generation?
2. Why do we need ok static column when we gossip generation timestamp only after the local table was fully persisted? If the node proposing new generation crashes/restarts in the middle of persisting

[2021-02-03 06:08] haaawk commented on #7985
@avikivity @tgrabiec @gleb-cloudius Could you please have a look and let us know whether you see any issues with the proposed solution. It would be marvellous if we could spot any problems now before @kbr- spends a week implementing this. Thanks a lot.

[2021-02-03 06:27] xero-lib commented on #7974
As well, when compiling from those instructions, I get this error:
![image](https://user-images.githubusercontent.com/54485853/106707261-8bde7f80-65b6-11eb-9a2b-2c268556c577.png)

[2021-02-03 06:31] xero-lib commented on #7974
And I don't have SELinux enabled.

[2021-02-03 06:36] psarna commented on #7974
Building a relocatable package ( https://github.com/scylladb/scylla/blob/9eed26ca3d82dadef4cf7c4034cc39bfe5d94c70/docs/guides/building.md#packaging ) will let you create a package with all dependencies needed to run scylla, along with matching libraries.

[2021-02-03 06:38] xero-lib commented on #7974
I see... And what of it not compiling? Also, if you have discord, it would be easier to do a closer debug of some of this stuff (as well as I think you're just a genuinely good person). I realize it's rather unprofessional, but if you wanted to add me, my handle is Silence#6134

[2021-02-03 06:47] nukemberg commented on #8025
My hacky workaround using nginx:
[code]
The headers returned in response to a `OPTIONS` by DynamoDB:
[code]

[2021-02-03 06:49] psarna commented on #7974
If Scylla does not compile with frozen toolchain then it's a bug which should be fixed. Can you attach a log of the failed build (preferably in text form)? The error message you sent a couple of messages above was actually from not being able to **run** Scylla due to the kernel configuration, so I assume that the compilation itself succeeded, otherwise there wouldn't be a binary (build/release/scy

[2021-02-03 07:02] xero-lib commented on #7974
I see. Well then it compiled but will not run. What might be done about this?
Also, please remove my discord handle from your message for potential harassment reasons.

[2021-02-03 07:27] slivne commented on #7971
@shawn-cheng -= benny sent a patch - yet you need to use local ssds to get good performance. Using network drives (which includes the root disk) for storing scylla data may provide bad performance (if I recall correctly - some use a large cache that is not flushed on every fsynch)

please follow the instructions https://www.scylladb.com/download/?platform=gcp

[2021-02-03 07:47] psarna commented on #8025
It looks like it's a matter of returning specific headers to the OPTIONS request (with Access-Control-Allow-Origin being most important, but I also saw Access-Control-Allow-Methods and Access-Control-Allow-Headers), then the fix is probably a couple of lines in the alternator server.

[2021-02-03 07:58] avikivity commented on #7974
The antlr3 output includes our headers, so it likely won't work.

Why not patch the arch sources? That's what I do with Fedora packages that have bugs.

[2021-02-03 08:23] xero-lib commented on #7974
what headers are used and where can I download them.

[2021-02-03 08:35] kostja commented on #4911
* Avi Kivity <notifications@github.com> [21/02/02 21:19]:

I think we should follow ANSI. The exact grammar is in the standard, but
judging by MySQL which is following ANSI here, the position of collate should
be after LIKE:

https://dev.mysql.com/doc/refman/8.0/en/charset-collate.html

In my working draft of SQL 2003/Foundation  it's 10.7 <collate clause>

--
Konstantin Osipov, Moscow, Russia

[2021-02-03 08:37] kostja commented on #4911
* Dejan Mircevski <notifications@github.com> [21/02/02 21:39]:

Collation is a property of a type in ANSI. There are rules for
collation algebra, i.e. what to do if an operator/function
collations do not match.  We could begin by having a similar LIKE syntax.

--
Konstantin Osipov, Moscow, Russia

[2021-02-03 09:06] ShlomiBalalis commented on #8013
No, the target node was node 5 (longevity-tls-50gb-4d-master-db-node-b38320d5-5 13.53.48.68 | 10.0.2.150). The node we used as the point of contact for the stress is node 1 (13.49.80.103 | 10.0.0.166).

[2021-02-03 09:07] avikivity commented on #7974
https://src.fedoraproject.org/rpms/antlr3/c/f1bb8d639678047935e1761c3bf3c1c7da8d0f1d?branch=master

[2021-02-03 09:10] avikivity commented on #7974
I meant that the output of antlr3 contains #include "scylla-header-files.hh", so you can't compile that output in C++17 mode like @nyh suggested.

[2021-02-03 09:11] avikivity commented on #7974
I'm closing this bug as too generic. To build on arch, fix arch dependencies (rapidjson, antlr3) to work with C++20. If problems remain, open a specific bug for each problem, not "Cannot compile".

[2021-02-03 09:11] #7974 closed

[2021-02-03 09:12] avikivity commented on #4911
Ok, let's follow MySQL.

[2021-02-03 09:14] avikivity commented on #4911
We don't need to support every possible language, UTF8_GENERAL_CI is enough to start with.

[2021-02-03 09:38] avikivity commented on #7986
How can I switch to a different dashboard on the monitor snapshot?

[2021-02-03 09:43] aleksbykov commented on #5528
Issue reproduced on Scylla version 4.4.rc1-0.20210201.2500dd1dc with build-id 1788cfa3d84efccd9a73f22e43fb98715bf60423
[code]

[2021-02-03 09:44] bhalevy opened #8028 "commitlog_test.test_allocation_failure fails rarely: Adding mutation of size {} succeeded unexpectedly"
I see spurious failures of commitlog_test in dev/release modes in my branch based on scylladb/scylla@873e73204:
[code]

@avikivity proposed the following:

[2021-02-03 09:46] bhalevy commented on #8028
/cc @elcallio

[2021-02-03 09:51] elcallio commented on #8028
'tis a sad time when test of failure succeed. Maybe we should just drop the test? It is perhaps not the most important thing to validate?

[2021-02-03 09:54] bhalevy commented on #8028
This change seems to fix the issue:
[code]

[2021-02-03 09:55] bhalevy commented on #8028
Maybe it's not the most important, but it is important that verify scylla is resilient to allocation failures, so I think it's valuable to have this test.

[2021-02-03 09:57] avikivity commented on #7893
I can't make sense of this.

@fgelcer how many times did this show?

[2021-02-03 09:58] avikivity commented on #7894
Did this show again?

[2021-02-03 09:59] elcallio commented on #8028
Fair enough, for what it is worth, I approve the change.

[2021-02-03 10:03] avikivity commented on #7892
Did this repeat?

Maybe it's @kbr- 's mega-collection.

[2021-02-03 10:04] bhalevy commented on #8028
Thanks.  I sent a slightly more sophisticated fix to the mailing list for your review...

[2021-02-03 10:07] avikivity commented on #7892
@fgelcer how can I find the stall in the log? The timestamp "2021-01-01T07:05:20+00:00" isn't from the log files, but from the collector, no?

[2021-02-03 10:09] avikivity commented on #7891
@fgelcer please help me locate this in the logs.

[2021-02-03 10:13] avikivity commented on #7181
@fgelcer what's the AMI ID for the last reproducer? And were there no reproducers after the last one?

Maybe it was caused by #7696 (although the close date makes it unlikely).

[2021-02-03 10:46] denesb opened #8029 "Already joined node with replace_address in scylla.yaml shuts down instantly without any error"
If one forgets the `replace_address` in the `scylla.yaml` after the node successfully bootstrapped, on the next restart, the node will simply shutdown instantly after startup without any message about why:
[code]

I know that this is probably a very rookie mistake, but we should still have some indication in the logs about why we shutdown instantly after startup, to guide the poor rookie on what t

[2021-02-03 10:47] xemul commented on #3247
@tgrabiec , the merged 873e7320 should be the fix for this issue. Moving a `rows_entry` is now constant time.

[2021-02-03 10:48] kbr- commented on #7892
This is a 3-node cluster with 8 shards each, that collection will have ~120KB. Is such size problematic?

[2021-02-03 10:58] tarzanek commented on #4911
can we have an ILIKE "alias" to the default utf8 "collate ..." ? ;-) ?
(and I hope I am allowed to suggest it, having more than 2 accents in my name)

[2021-02-03 10:58] #3247 closed

[2021-02-03 11:12] fgelcer commented on #7892
yes, that is the timestamp in the SCT runner, i will check in the node's log (it happened on node-3 and will post its timestamp in the next comment

[2021-02-03 11:35] fgelcer commented on #7892
@avikivity , no, it is indeed the timestamp from the node, maybe the format displayed is a bit different, but it is taken from the node using `rsync` and it looks like this:
[code]

the 1st timestamp is the one from the SCT Runner, and the one in the middle is from the node

[2021-02-03 11:44] fgelcer commented on #7181
this is the AMI id `ami-047c88faadef0dbc6`
and this is the version `4.4.dev-0.20201231.93a2c5233 with build-id 63738ab215ea91209c7488bf63b0556f6adf6c15`

[2021-02-03 11:45] avikivity commented on #4911
ILIKE looks to be PostgresQL specific. Let's stick with standard syntax, unless there is an overriding reason not to.

[2021-02-03 11:46] avikivity commented on #7181
So this rules out the tuned problem.

[2021-02-03 11:51] fgelcer commented on #7891
on node-3's log it is here (including line number):
[code]

[2021-02-03 11:52] fgelcer commented on #7891
and the node-3's logs are in this link:
https://cloudius-jenkins-test.s3.amazonaws.com/236aac08-9e84-45d6-a707-35c201bbae18/20210101_111802/db-cluster-236aac08.zip

[2021-02-03 11:53] fgelcer commented on #7891
@avikivity , i have now a jumpbox i'm using to investigate some logs, and they are place in there, so LMK if you want access to it

[2021-02-03 11:56] bhalevy commented on #7990
@xemul 873e732042aa88b8e84aed0431b6b02e640bbfab likely fixes the stall below, right?
[code]

[2021-02-03 11:57] fgelcer commented on #7893
haven't count, and until we don't have #5464 done for stalls, we can't have this made automatically..
i can again start decoding the stalls and count this specific one, but for it i will need to start an instance and go over each one of the stalls...

[2021-02-03 11:59] bhalevy commented on #7990
https://github.com/scylladb/scylla/pull/7514 is related to the IMR stall

[2021-02-03 12:00] fgelcer commented on #7986
there is a live monitor, that you can access [here](http://13.53.123.13:35535/d/5dpSHILMz/scylla-per-server-metrics-nemesis-master?orgId=1&from=1612204331043&to=1612224519356)

[2021-02-03 12:00] avikivity commented on #7181
I don't understand it.

[2021-02-03 12:02] avikivity commented on #7893
Note that even with #5464 the stall traces won't be exactly the same.

[2021-02-03 12:03] xemul commented on #7990
Yup. There was separate issue for it (#3247)

[2021-02-03 12:04] denesb commented on #8029
`replace_address_first_boot` doesn't have this problem, but I still think we should log some message as long as we support `replace_address` too.

[2021-02-03 12:06] fgelcer commented on #7893
will the decoded backtrace be different?

[2021-02-03 12:20] godsey commented on #7971
Scylla should not force users to use ephemeral vs network block device storage in GCP.

[2021-02-03 12:32] shoshan opened #8030 "IO drop after adding node to cluster with TWCS strategy"
*Installation details*
Scylla version (or git commit hash): `4.3.0-0.20210110.000585522 with build-id 7fab6c35a5d403f3416292b37c9a9aa94fe4db1f`
Cluster size: 3 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-09100abf6401dce3a` (aws: eu-west-1)

Test: `longevity-twcs-3h`
Test name: `longevity_twcs_bench_test.TWCSLongevityTest.test_custom_time`
Test config file(s):
- [longevity-twcs-bench-3

[2021-02-03 12:46] piodul commented on #7976
@slivne here are quota violations, in shard view, for the replaced node:

![new-replica-quota-violations](https://user-images.githubusercontent.com/4950936/106720577-ebaf4780-6603-11eb-8649-f755393ab0f9.png)

Here are quota violations for other nodes:

![node-1-shards](https://user-images.githubusercontent.com/4950936/106720588-ef42ce80-6603-11eb-98d4-a317c6e5ebce.png)

![node-2-shards](https://us

[2021-02-03 12:50] piodul opened #8031 "Hints should not be included in the write count and write latency"
Current Scylla master: 873e732042aa88b8e84aed0431b6b02e640bbfab

Hints re-use much of the storage proxy coordinator logic. In turn, hints update the same coordinator metrics as regular, user-issued writes - they are included in the total count of writes, and are included in the latency histogram.

This can be very confusing, especially in case of the latency. Hints are handled with lower priority,

[2021-02-03 12:56] raphaelsc commented on #8030
@shoshan do you have the screenshot of the detailed dashboard? I'd like to take a look at the compaction shares. thanks

[2021-02-03 13:19] kbr- commented on #7993
Rewriting generations into the new table
---

In today's meeting we decided that the old generations should be rewritten to the new table, unless we can determine that it's unnecessary (e.g. because no table could store data in those generations).

Here's a proposed procedure for this. We execute this procedure on restart, and then - if the initial attempt fails - in a loop running in the backgrou

[2021-02-03 13:21] piodul commented on #7976
@asias

Hints use the "streaming" CPU and IO scheduling groups.

First, we rely on the scheduling groups so that hints won't use more than 20% of either CPU or IO if the cluster is under load.
Second, a single shard can't send more than 128 hints in parallel, and those hints can't exceed 10% of the total shard memory in size.

[2021-02-03 13:32] fgelcer commented on #7894
haven't check newer tests yet, but after we finish to bisect the regression in the mixed workload latency spikes, i will take the latest test and verify this one

[2021-02-03 13:34] kbr- commented on #7993
After implementing the initial version I observed that there's a little problem with scanning for generations in the new table.
The following query:
[code]
results in many empty pages in-between different partitions. This suggests that it may not be efficient to be used as a way to check by clients if there are new generations. We can use an alternative:

Generation timestamps table
---

This woul

[2021-02-03 13:48] slivne commented on #7971
I totally agree - and we will fix the bug - benny's patch was merged and will be rolled out to releases.

Having said that expecting great performance from resources that can't provide that is as expected impossible.

[2021-02-03 14:03] gleb-cloudius commented on #7985
I am not sure what exact requirement the cdc has in term of when the new
record has to be seen by others, but one thing come to mind: with
proposed approach each node will store all teh information (unlike now
where it is distributed between multiple nodes). How large the whole
data can be if one record now can reach 32M?

--
			Gleb.

[2021-02-03 15:01] #8008 closed

[2021-02-03 15:01] #7971 closed

[2021-02-03 15:01] #8000 closed

[2021-02-03 15:01] #5464 closed

[2021-02-03 15:01] #8028 closed

[2021-02-03 15:08] roydahan commented on #7986
Bisceting status for now:
This is the list of commits between last GOOD and first BAD.
We have one more point in time to test with (marked below in bold) and running now.

git lg c518c1de1..e96ef0d62
* e96ef0d62 - tests: Cleanup select_statement_utils (3 months ago) <Piotr Grabowski>
* d47033837 - gossiper: Use dedicated gossip scheduling group (3 months ago) <Asias He>
* bd73898a5 - dist: redhat:

[2021-02-03 15:24] roydahan commented on #8013
Looking at the monitor even "by-shard" at all nodes one by one, shows that there are some shards at 100% but not all of them and not something out of the ordinary.

@ShlomiBalalis let's see if it reproduces easily, please run the same test in "Reproducers" but use only this nemesis (RestartThenRepair).

@slivne do you have any idea on what happened here?

[2021-02-03 15:54] ShlomiBalalis commented on #8013
Reproducer running - https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/longevity/job/reproducers/job/3-days-8013-reproducer/1/

[2021-02-03 16:21] yakirgb commented on #7881
I have similar issue, i think that was writes during drop:
[code]

[2021-02-03 16:26] shoshan commented on #8030
@raphaelsc here detailed dashboard, by instance and by shards

![detailed_compaction_shares_by_instance](https://user-images.githubusercontent.com/99000/106776669-f641ff00-664c-11eb-9e48-7cd381f9d086.png)
![detailed_compaction_shares](https://user-images.githubusercontent.com/99000/106777095-59339600-664d-11eb-8805-c1810ebcf214.png)

[2021-02-03 16:34] syuu1228 commented on #3705
@tzach We reverted Amazon Linux 2 patch but backported "scyllaadm" user and "centos" alias user to CentOS7, so we already have this, can close now.

[2021-02-03 16:48] tzach commented on #3705
Can approve scyllaadm login works with Scylla 4.3 AMI

[2021-02-03 16:49] tzach commented on #3705
Need to update https://www.scylladb.com/download/?platform=aws to reflect this

[2021-02-03 17:03] #6590 closed

[2021-02-03 17:04] haaawk commented on #7642
@kbr- can we close this thanks to https://github.com/scylladb/scylla/pull/7947?

[2021-02-03 17:07] kbr- commented on #7642
@haaawk no, #7947 doesn't fix this issue, it works around it

[2021-02-03 17:17] #6699 closed

[2021-02-03 17:33] etix opened #8032 "scylla_io_setup on GKE: found more than one disk mounted at root"
*Installation details*
Scylla version: 4.3.0
Cluster size: 3
OS: GKE (over GCE) + scylla-operator using Helm

Platform (physical/VM/cloud instance type/docker): GKE cloud instance with K8s v1.16.15-gke.6000
Hardware: n1-standard-2 (vcpu=2 memory=7.5G)
Disks: SSD persistent disk (pd-ssd), no local SSD

Logs when starting the first Scylla instance:
[code]

Result of the `mount` command on the instan

[2021-02-03 17:34] haaawk commented on #6946
Can we close this already @jul-stas ?

[2021-02-03 17:36] yarongilor commented on #8012
@nyh , @fruch , there may be a potential greater hint for the source of the problem.
it is by looking at the cfstats periodical report of source and destination Stream tables. the number of partitions reported for destination table ceases to increase after the first decommission. while on another test without decommission it kept on
increasing with a value similar to source table up to the end of

[2021-02-03 17:42] #3705 closed

[2021-02-03 17:49] haaawk commented on #3016
Can we close this @avelanarius ?

[2021-02-03 17:50] ShlomiBalalis commented on #8013
The issue was reproduced immediately, right on the first occurrence of the nemesis: http://13.49.245.38:3000/d/IeJYmsYMk/3-days-8013-reproducer-scylla-per-server-metrics-nemesis-master?orgId=1&from=1612368351118&to=1612371751418

[2021-02-03 19:33] tzach commented on #3705
2020.1 still does not work with the new login

[2021-02-03 19:35] tzach commented on #3705
done

[2021-02-03 20:37] slivne commented on #8030
I expect this is without off-strategy compaction on boot - lets expedite that work - we are really suffering without it - we are probably compacting and recompacting because of twcs.

@bhalevy / @asias - this is also related to the case you had with CDC - CDC is using TWCS - as I told benny I expect the root cause is TWCS and not CDC.

[2021-02-03 20:46] raphaelsc commented on #8030
indeed looks like this problem could happen due to lack of off-strategy on bootstrap

[2021-02-03 20:46] jul-stas commented on #6946
The encryption info is missing and the last time I talked to @elcallio (> year ago) I learned that it's not trivial to get this info. We can give it a try, but I'm not proficient with crypto unless I'll have to be.

[2021-02-03 21:16] slivne opened #8034 "docker: need to add documentation on how to bypass running io-setup in docker"
we are missing documentation for some of the additional docker flags https://github.com/scylladb/scylla/blob/master/docs/guides/docker-hub.md

specifically - need to document how to bypass io-setup and use a preset io_properties value

https://github.com/scylladb/scylla/issues/6587

[2021-02-04 00:33] etix commented on #8032
Unexpectedly adding local SSDs trigger the exact same error so the problem lies somewhere else.

[2021-02-04 00:36] asias commented on #7965
BTW, I think it is better to rate limit  c-s to generate a constant workload on the loader with the throttle option, like

cassandra-stress user no-warmup profile=data_dir/cdc_profile_preimage.yaml ops'(insert=2,read1=1,update_number=1,update_name=1,delete1=1)' cl=QUORUM duration=200m -port jmx=6868 -mode cql3 native -rate 'threads=100 throttle=5000/s'

Tune the throttle option according to the cl

[2021-02-04 00:53] zooptwopointone commented on #8021
SOrry short report, but I guess let me know what other information I can provide.

[2021-02-04 00:58] asias commented on #8030
Thanks Shlomi and @shoshan. This is a much simpler reproducer.

I agree off-strategy will make it better. But I think even without off-strategy, we are not supposed to have "CQL drop to zero". Yes, we are compacting again and again. Yes,  bootstrap generates more workload to the system.  But how come the system drops the CQL workload to the floor. CQL has highest CPU and IO scheduling. Why is it n

[2021-02-04 01:18] jtnagashima opened #8035 "Scylla upgrade from 4.2.3 to 4.3 yields errors when max_memory_for_unlimited_query parameter is updated to new parameters"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): **scylla-4.3.0-0.20210110.00058552

[2021-02-04 01:21] jtnagashima commented on #8035
To note: we referenced this doc: https://docs.scylladb.com/troubleshooting/reverse-queries/ when we initially encountered the reverse querying issues.

[2021-02-04 07:34] lauranovich opened #8037 "DOCS: Revise the Contribute sections"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

https://scylla.docs.scylladb.com/master/contribute/ all documents in this directory need to be

[2021-02-04 07:55] aleksbykov commented on #7848
the issue reproduced with another job: [longevity-mv-si-4days-test](https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4.4/job/longevity/job/longevity-mv-si-4days-test/2/). same errors were found during and after the nemesis RebuildStreaminErr:
[code]

Monitoring: http://18.195.49.248:3000/d/x7IlS1LMz/longevity-mv-si-4days-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=16123500365

[2021-02-04 08:33] slivne commented on #8035
@jtnagashima - please note

[code]

which is much lower then your soft-limit - I think the configuration change did not take effect

you can check scylla configuration used in runtime

[code]

[2021-02-04 08:38] slivne commented on #8032
@penberg / @syuu1228 I am lost -

there is a ```/var/lib/scylla``` in the output above - so we should not be checking if there are ephemeral / ssd / nvmes we should use this disk and run iotune on it - what additional validation do we need when a directory exists ?

[2021-02-04 08:43] slivne commented on #8026
@avikivity -do we still need the compaction_rows_count_warning_threshold - or should we set it to a very high value now that with binary search and with md format partitions with many rows are not an issue as they were.

In any case vlad is correct this is confusing

[2021-02-04 08:47] slivne commented on #8023
@zooptwopointone
- are all nodes using the same smp count settings for scylla ?
- `ps -ef | grep scylla` on every node will revile this

We have some reports on mixed cluster smp having issues - and we are activly working to fix this - so as afirst step I would like to see if this is your case (not common) or rule this out.

[2021-02-04 08:47] slivne commented on #8023
/cc @denesb / @bhalevy

[2021-02-04 08:58] slivne commented on #8022
@zooptwopointone
- lets get the info on your cluster setup on the other issue #8023

Please note we did find a bug related to aborted repairs https://github.com/scylladb/scylla/issues/7411 that may cause issues and the fix for this was released in 4.2.3. I am not sure its related to what you are seeing - but I do recommend that your upgrade especially if you are having issues in repair - to make s

[2021-02-04 09:35] etix commented on #8032
Scylla operator cluster configuration:

[code]

And of course, if I enable developer mode the nodes are starting since the scripts are bypassed but I'd like to avoid doing that.

[2021-02-04 09:54] titer opened #8038 "TWCS sometimes stops dropping expired SSTables"
*Installation details*
Scylla version: 4.2.1-0.20201108.4fb8ebccff-1
Cluster size: 17 nodes
OS: Debian 9

Hi,
I have a column family (`streamerlogs.access` in the logs linked below) set up with:
[code]
and all data is inserted into it with TTL 86400 (1 day), so it can really go away after 25 hours.

It behaves as expected most of the time, but occasionally a node enters a condition where disk usag

[2021-02-04 11:33] zimnx commented on #8032
Note: 4.2.0 Scylla image works fine, 4.3.0 image fails with error from the issue description.

[2021-02-04 11:39] bhalevy commented on #7990
@asias: s/Refactor/Reactor/

[2021-02-04 11:48] avikivity commented on #7990
Was a large partition involved in this test?

[2021-02-04 12:02] slivne commented on #7855
@amoskong ping - so we need can progress ...

[2021-02-04 12:11] slivne commented on #7991
@roydahan / @fruch - please change ccm so we will have the info calle requested that is, instead of sending sigkill, to send a sigint - so we will be able to collect the information calle is asking for. maybe that will be enough. If not we may need more

[2021-02-04 12:14] slivne commented on #6155
@kostja please ping on the patch and lets get that moving - we need to fix this.

[2021-02-04 12:19] gleb-cloudius commented on #6155
On Thu, Feb 04, 2021 at 04:14:30AM -0800, Shlomi Livne wrote:

I (or somebody else) need to resend it with filtering if this is the only way to get it in.

--
			Gleb.

[2021-02-04 12:21] asias commented on #7990
NO.

prepare_write_cmd: ["cassandra-stress write no-warmup cl=ALL n=62500000 -schema 'replication(factor=3)' -port jmx=6868 -mode cql3 native -rate threads=200 -col 'size=FIXED(128) n=FIXED(8)' -pop seq=1..62500000",
                    "cassandra-stress write no-warmup cl=ALL n=62500000 -schema 'replication(factor=3)' -port jmx=6868 -mode cql3 native -rate threads=200 -col 'size=FIXED(128) n=FIXE

[2021-02-04 12:24] fruch commented on #7991
we could add such automation to CCM (I think @bhalevy added something similar, at least the timeout to be working correctly), but the report here was from SCT.
Alex was killing it as we usually kill scylla to get a coredump (I think by my recommendation), we'll try keep in mind JMX should be "murdered" in a bit of different approach, or to send the connection information straight to @elcallio if r

[2021-02-04 12:25] avikivity commented on #7986
Nothing looks suspicious. Note that clang is not yet used, we just added it to the toolchain.

[2021-02-04 12:28] kostja commented on #6155
* Gleb Natapov <notifications@github.com> [21/02/04 15:20]:

Yes please.

--
Konstantin Osipov, Moscow, Russia
https://scylladb.com

[2021-02-04 12:41] roydahan commented on #7986
The bad build is starting with the "bold" one.
I'm updating it now.

[2021-02-04 12:46] roydahan commented on #7986
@fgelcer please add monitor (live if possible) screenshot or links to both of the runs (28 & 29).
To be sure, till we get RPM to bisect with, let's run again the run from 29 and 28 using the shorter reproducer.

[2021-02-04 13:12] avikivity commented on #7986
Also check for kernel changes between the two runs.

[2021-02-04 13:22] jul-stas commented on #7994
The reason is: one alteration of cdc log table's schema did not reach the SST writer. Coredump shows that `sstables::mc::writer` uses old schema (`84fdfa33`):

[code]

scylla-gdb shows new schema version (`bddeced0`):
[code]

And logs confirm that (I extracted only the relevant events, in order) - assert message displays to the schema_version before ALTER:
[code]

I'm yet to figure out why schema

[2021-02-04 13:34] raphaelsc commented on #8038
@titer please share output of sstablemetadata tool on a sstable that you think should have gone already.

[2021-02-04 13:37] raphaelsc commented on #8038
when a fully expired sstable remains alive, it's likely that an overlapping (token and time wise) sstable is blocking its deletion. this could be due to lack of https://github.com/scylladb/scylla/issues/4617, where memtable flush is able to split content according to the window setting.

[2021-02-04 13:48] shoshan commented on #8030
reproduced drop of IO, with heavy compaction  after nemesis DestroyDataThenRebuild too.
Test-id: c225e987-7c54-4787-9829-93fe77f1b536

![twcs#17_passed](https://user-images.githubusercontent.com/99000/106901386-5d6cbb80-6700-11eb-9308-b75798678e00.png)
![twcs17_compaction](https://user-images.githubusercontent.com/99000/106901401-63629c80-6700-11eb-80e2-3d1c8b675db0.png)

[2021-02-04 13:50] roydahan commented on #7986
Both use the same kernel:
5.4.68-34.125.amzn2.x86_64 #1 SMP Fri Oct 16 20:58:44 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2021-02-04 13:54] titer commented on #8038
Here is the metadata for the SSTable mentioned in the report

<details>
<summary>sstablemetadata ./mc-5450515-big-Data.db</summary>

SSTable: /var/lib/scylla/data/streamerlogs/access-b25989d0507c11e98abf000000000000/mc-5450515-big
Partitioner: org.apache.cassandra.dht.Murmur3Partitioner
Bloom Filter FP chance: 0.010000
Minimum timestamp: 1612303209118422
Maximum timestamp: 1612306765582358
SSTable

[2021-02-04 13:57] raphaelsc commented on #8038
sstablemetadata looks fine

[2021-02-04 13:59] raphaelsc commented on #8038
i wrote the following tool for this purpose: https://gist.githubusercontent.com/raphaelsc/c7dfeab7b1083c129c222762edd4e672/raw/4da9e7cb1b737dd648342f9cbc85efe419bf7338/expired_sstables_status.py

use it like this:
`python expired_sstables_status.py --table /path/to/table --gc-grace-seconds 3600 --default-ttl 86400`

[2021-02-04 14:13] slivne commented on #7986
where is the monitor of the bad run ?

[2021-02-04 14:17] titer commented on #8038
Nice, thank you
<details>
<summary>python expired_sstables_status.py --table /var/lib/scylla/data/streamerlogs/access-b25989d0507c11e98abf000000000000 --gc-grace-seconds 3600 --default-ttl 86400</summary>
<p>

[code]

</p>
</details>

[2021-02-04 14:18] fgelcer commented on #7986
i'm creating a monitor node to recreate the monitor stacks, but for now, here is the test_id `5f729fd8-f048-4b58-bd63-a6c36ac81b15`

[2021-02-04 14:20] fgelcer commented on #7986
running the 2 short longevities, and for now, i'm creating a node to restore the monitor stack

[2021-02-04 14:26] raphaelsc commented on #8038
apparently nothing blocks your expired ssts (which amount to ~20G) from being deleted. there are sstables that overlap in token range, but they don't overlap in timestamp, so they're not considered blockers and shouldn't prevent deletion. i'll investigate this soon. by the time being, try restarting the node if possible as a compaction process will kick in on boot to make sure the sstables respect

[2021-02-04 14:34] slivne commented on #7986
@fgelcer what is the test id of the good run ?

[2021-02-04 14:37] titer commented on #8038
Alright, thanks for your help!
I don't urgently need to reclaim space - that server has spare room to hold maybe a couple weeks - so please let me know if you think of any useful information I might gather while it is in that state.

[2021-02-04 14:41] fgelcer commented on #7986
@slivne , the last good test_id is `e9e3a57f-6045-4273-9efa-9feef30989d0`

[2021-02-04 15:12] fgelcer commented on #7986
@slivne @avikivity @roydahan
the 2 live monitor are here:
[good one](http://13.53.170.109:59693/?orgId=1)
[bad one](http://13.53.170.109:48835/?orgId=1)

[2021-02-04 15:36] nyh commented on #7294
Hi @psarna can you please check what is the status of this fix that you already sent many months ago - was it ever committed? If not, how difficult is it to fix what was broken and commit?

[2021-02-04 15:37] denesb commented on #7623
Managed to reproduce this in a mixed cluster (3 nodes with 8 CPU, 3 nodes with 24CPU), after deleting a few sstables and issuing a repair. After starting the repair a compaction on the repair written sstables hits the issue. The good news is that the validator we rolled out catches it.
Curiously, contrary to what I expected, the bug seems to be in the sstable reader, which when the last clustering

[2021-02-04 16:02] nyh commented on #5283
I think the better option for now would be to disable snapshots for Alternator tables - even if they are enabled by default for CQL for historic reasons. Even if we want to allow recovering of a deleted table, we should probably not do it with snapshots - we should do it by keeping and renaming the table - #7123 explains why snapshots are not a safe way to keep deleted tables alive.

[2021-02-04 16:08] psarna commented on #7294
Fixing the `updateable_value` problem is close to impossible. The whole point was to make this value convenient to use by being cross-shard-safe, and seems it's only achievable by making the whole interface based on futures, which makes it inconvenient to use, which was the whole point for its creation :)

But, regardless of this problem above, adding this limiter to alternator is simple if we jus

[2021-02-04 16:26] psarna commented on #7294
Hm, if I parse the code correctly, it actually requires a <1min of coding, so maybe I'll just push a pull request soon.

[2021-02-04 16:34] nyh commented on #6212
In the time that passed, I added `test/cql-pytest` which also uses a run script. However, `cql-pytest`'s version is in Python, and uses a bunch of utility functions in `run.py` which can be used to run a Scylla process. Before changing anything it `test.py`, let's change `test/alternator/run` to be written in Python like `test/cql-pytest/run`, and shared the same `run.py` utility functions.

Event

[2021-02-04 16:40] etix commented on #8032
I confirm that the 4.2.3 image works as expected with developer mode off. The regression is in 4.3.0

[2021-02-04 17:29] fgelcer commented on #7986
@roydahan , both short longevities finished, and the here the results:
first bad has p99th value `18.30` and the live monitor is [here](http://54.217.62.243:3000/)
last good has p99th value `6.10` and the live monitor is [here](http://34.245.137.206:3000/)

[2021-02-04 17:30] fgelcer commented on #7986
the last good value is almost twice the value we had for a previous good one (`3.5 ms` vs `6.1 ms`)
should i re-run with that better value AMI too?

[2021-02-04 17:32] fgelcer commented on #7986
could be that `Update tools/java submodule` could impact the latency?

[2021-02-04 18:08] roydahan commented on #7986
Live monitors from the runs with metrics of c-s latency:
Good - http://34.245.137.206:3000/d/TGAVhQLGz/last_good-scylla-per-server-metrics-nemesis-master?orgId=1&from=1612453592175&to=1612457347657

Bad - http://54.217.62.243:3000/d/psOqtQYGz/first_bad-scylla-per-server-metrics-nemesis-master?orgId=1&from=1612453169628&to=1612456853349

[2021-02-04 18:11] yarongilor commented on #8012
updated problem scenario is:

1. create source table: usertable_streams for copying its Streams data to: usertable_streams-dest.
2. configure KCL on streams of source to target table.
3. run YCSB insert load.
4. run decommission node (by nodetool).
5. add new node
6. run cleanup on keyspaces
==> results:
1. getRecords and getShardIterator drops dramatically after node decommission.
2. after finish

[2021-02-04 19:52] slivne commented on #7986
On the bad machine we have a single shard with high latency

![single_shard_high](https://user-images.githubusercontent.com/3465480/106947451-0cc28600-6733-11eb-9b17-3c3dd8aca00a.png)

![bad](https://user-images.githubusercontent.com/3465480/106947469-13e99400-6733-11eb-913d-181e6702f1ad.png)

[2021-02-05 01:00] syuu1228 opened #8041 "perftune failing on Ubuntu 20.04LTS AMI"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 338c190842d52e8da5345c027b3df4f1a66

[2021-02-05 01:47] jtnagashima commented on #8035
FWIW, I was able to recreate the outcome on a test cluster:

- deployed a 5 node scylla cluster running 4.2.3 with the query parameter set as follows `max_memory_for_unlimited_query: 536870912` and was able to run a reverse query without issue
- upgraded one node to 4.3 and swapped out `the max_memory_for_unlimited_query` config for `max_memory_for_unlimited_query_soft_limit: 419430400` and `max_m

[2021-02-05 02:36] jtnagashima commented on #8035
... couple more observations:

- after upgrading the entire cluster and keeping the same soft/hard limits, the reverse query runs successfully from the same node
- the reverse query can be run from a node that has been upgraded to 4.3 without issue even when the cluster is a heterogenous mix of 4.2.3 and 4.3 nodes

[2021-02-05 02:48] syuu1228 commented on #8032
I think why it happens is because our script tries to run in GCP mode, but the mode not supported running in GKE (in container).
It should works finely if it run in normal mode, and that's how 4.2.x works, because the GCP support is introduced at Scylla 4.3.x.

[2021-02-05 02:54] syuu1228 commented on #8032
Seems like this code auto-detect GCP and enable GCP code in scylla_io_setup by default:
https://github.com/scylladb/scylla/blob/fd1dd0eac7a303ceaa9f3ff643c4848506b0c85c/dist/common/scripts/scylla_io_setup#L236

I suppose we should align behavior with AWS here:
On AWS, we won't enable aws mode until we specified --ami option.
Maybe we can reuse --ami option, or create another one something like --g

[2021-02-05 06:13] amoskong commented on #8016
Nothing more was outputted.

[2021-02-05 07:24] denesb commented on #8035
@jtnagashima this issue is due to the way we handle mixed clusters in this feature. Since fea5067df the limit is sent by the coordinator to the replicas, to ensure either all participating replicas will bail out or none of them. In a mixed cluster it may happen that the coordinator is an old node which doesn't send this limit. In this case the replicas fall-back to the default limit for paged quer

[2021-02-05 07:31] denesb commented on #8035
Maybe we should fall back to the replica-local settings instead.

[2021-02-05 08:58] denesb commented on #8022
The error `Failed to generated sharding metadata` is raised when the sstable is empty and hence there is no partition range(s) in it to calculate the sharding metadata based on. On a related note we should add a dedicated check to be able to raise a more clear error message.

[2021-02-05 10:13] denesb commented on #8035
@jtnagashima I prepared an RPM with the proposed fix, please test it on your test cluster and see if it makes the problem go away.
http://scratch.scylladb.com/scylla-8035/scylla-server-4.3.0-1.locallimit.20210205.d405089d8.x86_64.rpm

[2021-02-05 10:53] tarzanek commented on #8041
@amoskong isn't this the https://github.com/scylladb/scylla/issues/8008
@syuu1228 do you have the fixes from above?

[2021-02-05 10:54] tarzanek commented on #8041
(I'd close as dup of https://github.com/scylladb/scylla/issues/8008 , but verify first if the patch fixes your prob @syuu1228 Takuya )

[2021-02-05 10:56] tarzanek commented on #8032
hmm, the check for root disk should be fixed too, I'll try to have a look at this and get it fixed, but I lack an env.
@zimnx @gnumoreno do you have any env with above problem reproduced by any chance?

[2021-02-05 12:18] kostja commented on #7956
UUID('00001e98-5de7-11eb-9652-0000600cd32c') is 2021-01-24T01:53:48.376Z[UTC], Raw UUID Timestamp: 138307460283768480

UUID('fe87aeba-5de6-11eb-befe-0000600cd329') is 2021-01-24T01:53:45.909Z[UTC], Raw UUID Timestamp: 138307460259098300

MIN function in Scylla returns a smaller UUID.

[2021-02-05 12:19] syuu1228 commented on #8041
Closing since it looks like duplicate of #8008

[2021-02-05 12:19] #8041 closed

[2021-02-05 12:26] syuu1228 commented on #8017
Maybe we can fix it on previous versions, but on version 4.4 or later we dropped current node_exporter setup code and introduced .rpm/.deb package for node_exporter, so "node_exporter already installed" error doesn't exist anymore.
https://github.com/scylladb/scylla/commit/95197a09c91eb719c252abed847b8c035f5f9600

[2021-02-05 12:29] piodul commented on #8031
It turns out that we already measure the latency separately for each CPU scheduling group. User writes are handled on the "statement" scheduling group, while hints are handled on the "streaming" group, therefore there already is a separation.

We should adjust dashboards in scylla-monitoring so that they display the latency for the "statement" scheduling group only.

Issue in scylla-monitoring: ht

[2021-02-05 12:30] #8031 closed

[2021-02-05 13:22] kostja commented on #7956
True

False

138307460283768472L

138307460259098298L

[2021-02-05 13:31] kostja commented on #7956
The test is using tools.py for UUID value generation, which uses time.time() (float number of seconds) and narrows it down to an int and then passes to uuid1() as a node identifier. The expectation is perhaps that the UUID will be based on the given time, but first, this is too coarse, and second, the value is actually taken as node, not as the current time.
kostja@hulk:~/work/scylla/dtest$ git di

[2021-02-05 13:38] kostja commented on #7956
[code]

[2021-02-05 15:43] kbr- commented on #7985
@haaawk

And the timestamp-gossiping node never gets back up?
Then the generation will be forgotten. No one will actually know about it - except the first node, but it doesn't matter, since it's down.

Well, actually, there might be a problem... if the timestamp-gossiping node manages to insert the generation to the *client-facing table*.  Then we'll have a problem, because no node will actually u

[2021-02-05 16:21] kostja commented on #7956
https://github.com/kostja/scylla-dtest/tree/kostja/gh-7956

[2021-02-05 18:19] zimnx commented on #8032
I can create an env, just let me know once you need it.

[2021-02-05 20:50] jtnagashima commented on #8035
@denesb Much better performance! There were just three initial memory errors showing up on an 4.2.3 node:
[code]
.. but it soon subsided and no amount of reverse queries from that node yielded any further complaints. I think this makes for a much smoother (ie less scary) upgrade process.

Thank you!

[2021-02-06 06:10] zooptwopointone commented on #8023
That is correct not all nodes are the same across the entire cluster.

some DC's have all the same hardware and some have different hardware.  48 Cores vs 32 Cores.  And these are mixed inside the DC.

Looking into this I found something odd with the configuration.  I remember in the past we had set the -smp value, but it appears that it is not set now.  although the -cpuset is set.    And on one

[2021-02-06 09:05] JKeyZ opened #8042 "Restart one node of Cluster failed"
When restart the one node of scylla cluster ,  occur error and service brok down :
Feb 06 16:54:54 scylla2 scylla[25650]:  [shard 7] compaction - Compacted 2 sstables to [/data2/scylla/data/system/truncated-38c19fd0fb863310a4b70d0cc66628aa/mc-11959-big-Data.db:level=0, ]. 91kB to 86kB (~94% of original) in 9ms = 9MB/s. ~2
**Feb 06 16:54:54 scylla2 scylla[25650]:  [shard 4] view - start failed: boo

[2021-02-06 14:28] nyh opened #8043 "Alternator: unexpected ValidationException in ConditionExpression and FilterExpression"
The functions `check_compare()` and `check_BETWEEN()` (in `conditions.cc`) were originally written to implement the older syntax of conditional updates: `Expected`. In that syntax, a condition has two operands - the first operand is always the value of an item's attribute and the second is always comes from the query (from the `Expected` parameter).

Because the second operand comes from the query

[2021-02-06 16:51] zooptwopointone commented on #8023
To be more exact.

dc1 = 3 total nodes 2x32 cores 1x48 cores.
dc2 = 3 total ndoes 3x8 cores

Thinking about this more I seem to remember setting the SMP value to the lower value on the 48 core system in the past.  I am assuming it was after talking to support.   I think the upgrade processes (ours) probably had mutilated the config options along the way.

[2021-02-06 22:48] fruch commented on #8012
one addition, that while seeing that describe stream is being called again and again, we tried it manually to see the output:
[code]

[code]

Am guessing (since getShardIterator wasn't called again), that KCL isn't o.k. with those sequence numbers, or they aren't updated, and it can compare it with sequences it already been reading. (Didn't yet looked up the origin of "Dropped lease for shutting d

[2021-02-07 07:51] slivne commented on #7976
@asias please check the graphs that piodul created of latency vs phases - the biggest issue is during repair running - please comment  / check what can be done on your end - if its dependent on off-strategy - we can wait for raphaelsc graphs

[2021-02-07 07:58] amoskong commented on #8041
Yes, it's duplicated. and had been fixed in master:

https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-ubuntu2004-test/

![Screenshot from 2021-02-07 15-57-43](https://user-images.githubusercontent.com/309708/107140488-41b22100-695d-11eb-80d6-75ac3aad890d.png)

[2021-02-07 08:11] amoskong commented on #7855
I had run and am running upgrade from 4.1.9 to scylla-4.2.0-0.20201026.94597e38e.x86_64
And I had backported [1] to old branch for the testing: https://github.com/amoskong/scylla-cluster-tests/commits/upgrade-4.2

[1] [PATCH] feature(upgrade_test): add second index in complex schema

[2021-02-07 09:59] bhalevy commented on #7990
@asias we need to open separate issue for distinct stalls.

The memory allocation stalls you mentioned look like https://github.com/scylladb/scylla/issues/6189
(@xemul please confirm)

[2021-02-07 10:02] avikivity commented on #7990
Then 873e732 won't fix it.

[2021-02-07 10:18] bhalevy commented on #8021
The decoded stack trace retrieved using the relocatable package is as follows:
[code]

The failed assert is in https://github.com/scylladb/scylla/blob/4fb8ebccff16ddf9cb2729c7c5a8934d31f6ec31/sstables/consumer.hh#L512

[2021-02-07 10:28] slivne commented on #8042
@nyh

The backtrace provided has ```db::system_keyspace::view_build_progress,std::allocatordb::system_keyspace::view_build_progress``` - which is pointing at MV/SI - please have a look - you my want to decode this again.

[2021-02-07 10:31] slivne commented on #8042
@JKeyZ can you pleas provide the full scylla version 4.2.X what is X and what OS  are you running on.

If you can share your schema it may also help

[2021-02-07 10:42] slivne commented on #8023
@bhalevy / @denesb - just to make  sure you have seen this - a user with non symetric deployment - running repairs and hitting errors.

[2021-02-07 10:48] slivne commented on #8022
@bhalevy I tried to search I think we had a case in the past in which we created an sstable in some cases without it having data - I also checked with @zooptwopointone they have a cluster with nodes with a different shard count and running repairs - could it be somehow related.

I know we have discussed this in the past - and sstables are supposed to be open lazily - when there is a first write -

[2021-02-07 10:49] slivne commented on #8021
@bhalevy  / @denesb  this is a mixed cluster deployment with not all nodes having the same smp count

[2021-02-07 10:50] slivne commented on #8021
please note we have #7482 fixed and released in 4.2.3

[2021-02-07 10:52] tzach commented on #8017
Closing, moving forward node-exporter is part of the dependencies, can be remove from scylla_setup
@syuu1228 please reopen if its not the case

[2021-02-07 10:52] #8017 closed

[2021-02-07 10:55] slivne commented on #8016
@amoskong / @raphaelsc how come cleanup took 5 hours and did not end - how much data do we have on the nodes that 5 hours are not enough - thats  strange (tzach asked and I did not have an answer).

Lets look at the monitoring - something is off here

[2021-02-07 10:56] slivne commented on #8013
@slivne ping

[2021-02-07 10:58] slivne commented on #8010
closing as a dup ...

[2021-02-07 11:01] slivne commented on #8009
not sure what is the source - but we are not able to close connections of cql for some reason - lets try to make the closing nicer and have the error more meanigfull if possible,

[2021-02-07 11:05] slivne commented on #7986
@avikivity help - can you take alook - this is blocking 4.4

[2021-02-07 12:01] slivne commented on #6309
@amnonh ping

@roydahan ping

[2021-02-07 12:17] slivne commented on #7341
@slivne check kernel version

[2021-02-07 17:33] avikivity commented on #1634
(reactor load 100%)

[2021-02-07 20:14] slivne commented on #7930
was able to reproduce this in docker with 4.3.0

steps

1. start a docker container using 4.3.0
2. change /etc/scylla/cassandra-rackdc.properties
[code]
3. change /etc/scylla.yaml
[code]
4. restart scylla
[code]
5. check nodetool status
[code]
7. check nodetool describecluster
[code]
8. run nodetool cleanup
[code]
doing the same on 4.2.3 works

[code]

[2021-02-08 00:47] asias commented on #7976
Look at P99. There are > 200 ms latency spikes which is pretty bad.

See  https://github.com/scylladb/scylla/issues/7976#issuecomment-771281709.

[2021-02-08 01:29] asias commented on #7976
He is looking at P95.  We have c-s latency which is bigger than 200ms, which  is the biggest issue, not the one 80ms in the graph above https://github.com/scylladb/scylla/issues/7976#issuecomment-772481898.

Since @piodul confirmed that hints use streaming cpu and io group, like repair, it is just another low priority workload added to the system, I think hint is fine here.

We need to fix the sta

[2021-02-08 01:32] asias opened #8046 "reactor stall during repair freezes a mutataion_fragment"
Split "reactor stall during repair freezes a mutataion_fragment"  from the umbrella  issue https://github.com/scylladb/scylla/issues/7990.

repair freezes a mutataion_fragment  (14ms stall)

[code]

[2021-02-08 01:33] asias opened #8047 "stall during repair clears a list of rows"
Split "stall during repair clears a list of rows" from https://github.com/scylladb/scylla/issues/7990

repair clears a list of rows  (13ms)

[code]

[2021-02-08 01:52] #8010 closed

[2021-02-08 03:05] asias commented on #8029
Did you wait for scylla to print all the logs? In the end, it will print `init - Startup failed: std::runtime_error (Cannot replace address with a node that is already bootstrapped)`

[code]

[2021-02-08 05:32] denesb commented on #8029
@asias I did, but didn't see the message above. I forgot to mention that I observed this with 4.1, is this message a later addition?

[2021-02-08 06:18] asias commented on #8029
No. This message is there for years.

On Mon, Feb 8, 2021 at 1:33 PM Botond Dénes <notifications@github.com>
wrote:

--
Asias

[2021-02-08 06:22] denesb commented on #8029
Maybe journalctl ate the message. Will close this.

[2021-02-08 06:22] #8029 closed

[2021-02-08 07:48] nyh commented on #6750
We had the same failure again, in https://jenkins.scylladb.com/job/scylla-enterprise/job/next/1156/testReport/junit/test.alternator/test_update_expression/Test___test_update_expression_empty_attribute/
This time the failure was when trying to delete the test_table_lsi_4 table. Again, if boto3 times out the deletion call it retries it after a minute - and then this second attempt fails.

[2021-02-08 10:12] aleksbykov opened #8049 "scylla_setup failed to setup with error /etc/bashrc: line 99: TMOUT: readonly variable"
During job: https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-oel81-test/3/execution/node/51/log/
Next scylla version was installed on Oracle Enterprise Linux 8.1 (ami-0e883e67243efea62 (eu-west-1)):
Scylla packages installed:
- scylla-node-exporter-4.5.dev-0.20210207.e1261d10f.x86_64
- scylla-tools-4.5.dev-0.20210207.e1261d10f.noarch
- scylla-conf-4.5.dev-0.20210207.e1261

[2021-02-08 10:39] avikivity commented on #8046
Which table was repaired and what's its schema? The code managing the fragments looks correct, and freezing a single fragment shouldn't take 14ms.

[2021-02-08 11:03] avikivity commented on #8003
It's probably repair not letting the table drop. @asias does repair not abort (for that table) when a table is dropped?

[2021-02-08 11:59] slivne commented on #7855
@amoskong thanks - please update when you have the results

[2021-02-08 12:00] slivne commented on #7965
@slivne ping

[2021-02-08 12:01] slivne commented on #6155
@gleb-cloudius ping ...

[2021-02-08 12:40] amnonh commented on #7930
I suspect the issu is with the location of ``cassandra-rackdc.properties``

When I copied it to:
``/etc/scylla/cassandra/cassandra-rackdc.properties``
It works:
[code]

[2021-02-08 13:26] p-osipo-v commented on #7982
New info about this issue.
In Scylla Opensource 4.3 this behavior is present too, and not during rebuild only, but during nodes repair nodes in other DC are unexpectedly restarting.

[2021-02-08 14:05] bhalevy commented on #7956
Did you open a PR?

[2021-02-08 14:18] kostja commented on #7956
https://github.com/scylladb/scylla-dtest/pull/1931

[2021-02-08 14:41] slivne commented on #7982
If you have a coredump generated can you please upload the core using the instructions in https://docs.scylladb.com/troubleshooting/report_scylla_problem/

Can you please provide info as to what is the setup of the cluster

If you an also upload the health_check it will help to extract the info from each machine with regards to its setup.
- if not please at least provide the number of machines the

[2021-02-08 14:49] bhalevy commented on #7339
@slivne, theoretically, yes. 2dfc5f1 fixes the particular case seen here, but there could be other paths that may throw in `get_host_id` inside the `defer()` above.
We can close this issue since the root cause for this case was fixed. Then open a new issue (as enhancement) to make `do_on_change_notifications` noexcept so it can be safely called inside `defer()`.

[2021-02-08 14:56] #4513 closed

[2021-02-08 15:06] avikivity commented on #4513
Backported to 4.2, 4.3, 4.4.

[2021-02-08 16:08] kostja commented on #7975
We discussed the issue with Oleg from Roblox, the situation could be caused by Paxos commit repair, which will use the original ballot time but apply entry to the base table later. Please reopen if you still need help with this.

[2021-02-08 16:08] #7975 closed

[2021-02-08 17:46] bhalevy commented on #8022
@asias can repair (when the repair master has different number of shards than the repair follower) write empty sstables?

[2021-02-08 18:16] avikivity commented on #7439
@bhalevy does this require a backport? Or was it a regression introduced and fixed on master only?

[2021-02-08 18:22] avikivity commented on #7355
Backported to 4.2, 4.3. 4.4 had it already.

[2021-02-08 19:10] bhalevy commented on #7439
@avikivity the issue has been probably lurking since 4.0 (that's the first release that has https://github.com/scylladb/seastar/commit/35c255dcd39c235712681c404d2a1aa783423127)
Therefor we may want to consider it for 4.4 but I don't think it's worth backporting to earlier releases.

[2021-02-08 20:24] syuu1228 opened #8054 "dist/debian: node-exporter package does not install systemd unit"
Current node-exporter debian package has a bug, it does not install systemd unit.
It seems like only happens when product name is not scylla:
[code]

[2021-02-08 20:25] syuu1228 commented on #8054
Related scylladb/scylla-enterprise#1620

[2021-02-08 20:47] slivne commented on #8035
@denesb please send the official we will need to backport this (I am not sure ifvalue should be rea locall allways or only in case the coordinator did not send something - but lets have others review this)

[2021-02-08 21:07] slivne commented on #7993
@kbr- I am lost - the issue describes two optional solutions and then augments them - its not clear what is the end schema of the tables can you please clarify that.

Have we ended up using a collection (again) -  ```streams set<blob>```
-  if so can you clarify what is the expected size
-  why do we have to use it non frozen (the non frozen version is better in some sense but also entails a highe

[2021-02-08 22:04] syuu1228 opened #8055 "dist: aws_instance.ephemeral_disks() returns rootfs partition"
While testing Ubuntu 20.04 AMI (scylladb/scylla-machine-image#96), I found that scylla_create_devices failed at following error:
[code]

And it looks like because aws_instance.ephemeral_disks() mistakenly includes rootfs partition, so the RAID creation failed.

[2021-02-08 22:48] npeshek-spotx commented on #7808
I'm going to re-open this. By adding the obsoletes, we have to hack around to actually install tuned. (Even if we don't install scylla-kernel-conf, when you attempt to restore tuned, it will be marked as uninstallable because it's obsoleted by scylla-kernel-conf) We use tuned to validate and enforce applying the configs you're providing via our configuration management system. Why not provide a tu

[2021-02-09 00:21] asias commented on #7982
Can you share the exact nodetool cmd you used to run repair?

[2021-02-09 00:43] asias commented on #7982
[code]

[2021-02-09 00:54] asias commented on #8022
The writer on each shard is created when there is at least one mutation fragment belongs to this shard.  @denesb will such error be seen if we only have fragment start and fragment end, no other fragments in the middle?

[code]

[2021-02-09 00:59] asias commented on #8046
[code]

You can find it here too:  https://github.com/scylladb/scylla/issues/7990#issue-796469825

[2021-02-09 07:36] denesb commented on #8022
I think even an empty partition should be enough to make this go away, but I'm not 100% sure, @raphaelsc can you advise?

[2021-02-09 07:47] slivne commented on #8042
@nyh / @eliransin  ping

[2021-02-09 07:57] slivne commented on #7726
AFAIK, thats not how ccm works  - when you setup nodes ccm tries to make bootstrap faster by making the seed list not the same and assumes an order in bootstrap

Can you please provide the scylla.yaml of the nodes

- first node will have only itself
- second node will have 2
- third node will have 3

If this is the case - please close the issue

[2021-02-09 08:01] denesb commented on #8035
Patch on the list: [PATCH v1] query: use local limit for non-limited queries in mixed cluster

[2021-02-09 08:06] avikivity commented on #7986
I don't understand this. I see just two nodes.

http://13.53.170.109:48835/d/advanced-master/advanced?orgId=1&from=1612458721220&to=1612477244751&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&var-dash_version=master&var-scylla_dash_version=master&var-monitoring_version=3.5

[2021-02-09 08:20] fgelcer commented on #7986
@avikivity , this should be the time to look into:
`from=1612337862729&to=1612345934976`

[2021-02-09 08:20] fgelcer commented on #7986
@avikivity , this should be the time to look into:
`from=1612337862729&to=1612345934976`

[2021-02-09 08:22] avikivity commented on #7986
Ok, now I see more nodes.

[2021-02-09 08:25] denesb commented on #7994
The schema is not upgraded in ongoing reads/writes, this is expected. I thought that schemas are backward compatible with data written by previous schemas but looking at the code it appears this is only true for data in sstables, data in memory has to be processed with the schema it was created with. What is happening here is likely resulted from the usage of the wrong schema. Instead of using the

[2021-02-09 08:25] avikivity commented on #7986
Towards the end I see lots of time in the main group:

![image](https://user-images.githubusercontent.com/1017210/107335909-2c560780-6ac1-11eb-96c7-e118133befe8.png)

[2021-02-09 08:30] avikivity commented on #7986
What event happened on 11:20:40?

[2021-02-09 08:33] avikivity commented on #7986
There are also two streaming events, one starting at 11:20.

![image](https://user-images.githubusercontent.com/1017210/107336716-1c8af300-6ac2-11eb-9670-ea78b646e326.png)

@asias does a bootstrapping node run in the main group?
@fgelcer was it a bootstap?

What's the time range for the good run?

[2021-02-09 08:34] avikivity commented on #7986
Note that main has 1000 shares, so it will dominate. If this is bootstrap, then the writes might be competing with streaming and losing.

[2021-02-09 08:41] avikivity commented on #7986
@roydahan if I run the git command you provided, I get different results:

$ git log  b2ce3b1..e96ef0d --format=oneline
e96ef0d62978ef2ff1571c78a0821babf4a93140 tests: Cleanup select_statement_utils
d47033837ad6a6284bd0c60754a63f6a0413de74 gossiper: Use dedicated gossip scheduling group
bd73898a5c80d14015d759dea0debebbda78b484 dist: redhat: don't pull in kernel package
8c645f74ce413e147887e44e6bdd

[2021-02-09 09:07] asias commented on #7986
Is this run with repair based node ops on or off?

In main.cc, we have

 ss.join_cluster().get();

which is not started with with_scheduling_group explicitly.

join_cluster will run the bootstrap code, e.g., start the sync of the code.

Anything that is started by the repair/streaming rpc will run inside the streaming group.

BTW, It is very hard to follow the which scheduling group the code actua

[2021-02-09 09:18] aleksbykov commented on #7965
The issue reproduced with Scylla version  4.5.dev-0.20210206.e1261d10f with build-id 6c45f8a236b89fa9dbdcd135bb26dccf4ffaf154 (ami-0e75b72c70e2d89a5(eu-north-1) during job: https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-100gb-4h-test/300/

Again during the nemesis  TerminateAndRemove after scylla was stopped on node8 and instance was terminated, Repair and n

[2021-02-09 09:20] asias commented on #7986
I think we should reduce the main group to 200 to be safe. If anything is leaked, it is still in the low priority group, not having impact for cql workload.

[2021-02-09 10:07] fgelcer commented on #7986
@avikivity , my bad...

at `11:20:40 ` there was a decommission running...
the regression happened during steady state (my mistake i gave too broad time range) happened between `08:08:56` and `08:38:56`

[2021-02-09 10:30] asias commented on #7965
Thanks.

[2021-02-09 10:35] kbr- commented on #7993
@slivne

First table to store the stream IDs:
[code]

second table to store generation timestamps:
[code]
explanation of these tables can be found in cdc.md, which is updated as part of the PR:
https://github.com/kbr-/scylla/blob/cdc-streams-table/docs/design-notes/cdc.md#streams-description-tables
It also explains the rewriting procedure (next section).

maximum number of shards on any given node

[2021-02-09 10:38] asias commented on #7965
Refs: https://github.com/scylladb/scylla/issues/8030 CDC uses TWCS strategy.
I think it is a combination of repair triggered on all nodes by removenode ops + TWCS triggered by CDC workload + unlimited cql workload generated by c-s (no throttle parameter) overwhelmed the node. Then the node was marked as down and failed the removenode ops.

[2021-02-09 13:11] avikivity commented on #8046
How many times did it happen?

Maybe it's @kbr-'s monster collection. So did it happen while the cassandra-stress table was repaired, or the cdc generation table?

[2021-02-09 13:23] kbr- commented on #8046
@avikivity don't blame everything on my monster collection :( It won't even be a monster on a 3-node cluster.

Last logs before stalls started flooding them:
[code]

and then stall logs only until
[code]

Was the repair still in progress during that time (`8:10` to `11:23`)? Why are there no further repair logs? It looks like it stopped in half (range 358).

The issue does not contain all info, e.

[2021-02-09 14:22] p-osipo-v commented on #7982
I just uploaded health-check-report.txt and output_files.tgz from last restarted node during other node repair running. UUID 22831046-d230-4444-bf07-6aa835212eed
Restart was at 15:57 MSK and health-check-report script ran at 18:31 MSK
Shall I upload report files from other nodes? And shall I run health-check-report script immediately after unexpected restart?

Nodes in DC named 'ds' are unexpected

[2021-02-09 14:28] piodul commented on #5087
It's a race condition. From `storage_service::removenode`:

https://github.com/scylladb/scylla/blob/4498bb0a48496c9cdff29364b8dea09d2ba828ee/service/storage_service.cc#L2278-L2279

`ss.excise` notifies lifecycle subscribers (this includes `hints_manager`) that the node is removed from cluster. Hints manager starts draining hints for that node. During that, the `send_hints_maybe` function is called

[2021-02-09 14:52] Foxlik commented on #7146
I have been looking at similar issues in our setup.

I'd like to point your attention to https://github.com/scylladb/seastar/blob/8ae15f4691fb0ec7cd6dbd5042b09c9592fc598a/apps/iotune/iotune.cc#L666
and more specifically `test_directory.minimum_io_size()`.

It seems that some RAID Controllers (Dell PERC H740P Mini in our case), report the minimum_io_size pretty large:
[code]
This would make sense i

[2021-02-09 14:57] avikivity commented on #8046
Then I have no idea how this happens. This code has the correct preemption checks.

[2021-02-09 15:36] #7595 closed

[2021-02-09 15:47] slivne commented on #8035
fixed by https://github.com/scylladb/scylla/commit/ba1ff70e3f6e4dc853d77fd01c2e8ba8d749872c

[2021-02-09 15:47] #8035 closed

[2021-02-09 16:08] avikivity commented on #8022
Reopening, looks like the wrong issue was references in the commit.

@denesb what is the correct issue?

[2021-02-09 16:13] slivne commented on #8022
@avikivity I already fixed that ....

[2021-02-09 16:14] slivne commented on #8022
It is https://github.com/scylladb/scylla/issues/8035

[2021-02-09 16:16] avikivity commented on #8035
Backported to 4.3, 4.4.

[2021-02-09 16:32] denesb commented on #8022
Looks like I copied the wrong issue number, sorry for the noise.

[2021-02-09 16:59] raphaelsc commented on #8022
Before generating sharding metadata, we retrieve both first and last decorated key, and this will only succeed if they aren't empty.
So "Failed to generate sharding metadata" means that the key range spanned by the sstable belongs to another shard.

See this patch of mine which introduced this exception: https://github.com/scylladb/scylla/commit/fa5a26f12d69c1e1a9a9689308f84ccd6aa54f34

So we need

[2021-02-09 17:00] raphaelsc commented on #8022
@zooptwopointone please share schema of keyspace/table_status

[2021-02-09 17:10] vladzcloudius commented on #7553
@avikivity Could you, please, clarify if this issue is not relevant to 4.0?

[2021-02-09 17:11] tomer-sandler commented on #7553
Are customers running 2019.1 (on cloud), are exposed to this bug? @avikivity

[2021-02-09 19:44] zooptwopointone commented on #8022
CREATE TABLE keyspace.table_status (
    sid uuid,
    contact_id uuid,
    campaign_id uuid,
    campaign_run_id uuid,
    campaign_path list<int>,
    data map<text, text>,
    failure_reason text,
    last_phone text,
    next_node int,
    status set<int>,
    workflow_version int,
    PRIMARY KEY ((sid, contact_id), campaign_id, campaign_run_id)
) WITH CLUSTERING ORDER BY (campaign_id ASC, ca

[2021-02-09 19:48] zooptwopointone commented on #8021
Thank you will update and re-open if it happens again.

[2021-02-09 19:48] #8021 closed

[2021-02-09 20:17] zooptwopointone opened #8058 "Increased reactor stalls with 4.2.1"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*InsScylla version 4.2.1-0.20201108.4fb8ebccff with build-id d19a95fd85a8e7df2928ccd8c729941f263e8adc
Cluster size: 4 Datacenters (3 x 3 nodes 1 x 7 nodes)
OS (RHEL/CentOS/Ubuntu/AWS AMI): 18.04.5 LTS (GNU/Linux 4.15.0-128-generic x86_64)

Platform (physical/VM/cloud instance type/docker): Physical
Hardw

[2021-02-09 23:56] #7294 closed

[2021-02-10 00:37] amoskong commented on #7726
Test log: [dtest-ib_sia65_without_bin.tar.gz](https://github.com/scylladb/scylla/files/5955072/dtest-ib_sia65_without_bin.tar.gz)

[code]

BTW, the subtest (smallest_ip_join_late_test) had been merged: https://github.com/scylladb/scylla-dtest/blob/next/bootstrap_test.py#L773

[2021-02-10 00:49] amoskong commented on #7855
I had reproduced this issue in upgrade from 4.1.9 to scylla-4.2.0-0.20201026.94597e38e.x86_64

- https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/rolling-upgrade-clone/job/rolling-upgrade-centos7-test/7/console
- test id: 679effa7-ec05-4a3b-9701-064ce3e183da

[code]

[2021-02-10 01:30] vladzcloudius commented on #5087
That's exactly the question that I'd ask and that's why I don't think that patches at https://github.com/scylladb/scylla/pull/8057 are good because they are working around the actual problem (which is a wrong order of lines above) instead of fixing it.

[2021-02-10 08:10] avikivity commented on #7986
The monitoring doesn't work any more. Past the retention period?

[2021-02-10 08:16] avikivity commented on #7051
Backported to 4.2 (stewed for too long).

[2021-02-10 08:19] avikivity commented on #7674
Not backporting. While these stalls are large, they are very rare.

[2021-02-10 08:19] avikivity commented on #4089
Minor, not backporting.

[2021-02-10 08:20] avikivity commented on #7364
Backport candidate label added by mistake, removed.

[2021-02-10 08:21] avikivity commented on #7938
Build-only issue, will backport if we hit it in practice.

[2021-02-10 08:23] avikivity commented on #7945
This only bites if we use non-default sharding (e.g. with bf115e7d69b12f4ed4f208646b3eb9c02c966ec2). Since no branch has that, no need for backport.

[2021-02-10 08:25] avikivity commented on #7758
Important, but also tricky and not a regression. So not backporting.

[2021-02-10 08:25] avikivity commented on #7916
Minor, not a regression, so not backporting.

[2021-02-10 08:26] avikivity commented on #4617
Not a regression, so not backporting.

[2021-02-10 08:26] aleksbykov opened #8059 "Repair task from manager failed due to coredumpt on one of the node"
*Installation details*
Scylla version (or git commit hash): `4.5.dev-0.20210204.7f3083739 with build-id 4abdd1a158a7b6e39afe5f03c27cd50a3cd9d46d`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0edd71dfeca9e0df2` (aws: eu-north-1)

Test id: `2b6831c3-23d5-45bd-a7d3-10544ec41d9a`
Test: `longevity-50gb-3days`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test co

[2021-02-10 08:28] avikivity commented on #7740
While a bug, this is for a minor and rarely used (and IMO ill advised) feature. Will backport if it's hit in the field.

[2021-02-10 08:39] fgelcer commented on #7986
checking

[2021-02-10 08:41] fgelcer commented on #7986
@avikivity , i do see the live monitor [here](http://13.53.170.109:48835/d/T2vN0QYMz/scylla-per-server-metrics-nemesis-master?orgId=1&from=1612339680000&to=1612341540000)

[2021-02-10 10:08] yarongilor commented on #6243
fixed on scylla master. not fixed in branch 4.4 after backport.
the fix was:
2500dd1dc - Merge 'dist/offline_installer/redhat: fix umask error' from Takuya ASADA
the backport is:
https://www.google.com/url?q=https://github.com/scylladb/scylla/commit/2500dd1dc47c311179fa98eadbf6d580dbc5efc8&sa=D&source=editors&ust=1612861073002000&usg=AFQjCNF4sTxEAXvMRlXqYNLXs2ehuPa7-w

Test details
Test: artifacts

[2021-02-10 10:22] bhalevy opened #8060 "cassandra_tests/validation/entities/timeuuid_test.py may fail due to datetime_from_uuid1 incompatibility"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3175/artifact/testlog/release/run.407.log
[code]

It seems like `datetime_from_uuid1` doesn't round the timeuuid to milliseconds as required from `dateOf(t)`.
The test should make the client-side value it's comparing to the server's should be rounded properly to milliseconds resolution.

Also, it would help to print the uu

[2021-02-10 10:53] bhalevy commented on #8060
@nyh can you take a look please?

[2021-02-10 10:53] kbr- opened #8061 "Scylla holding unnecessary data/columns in memory when performing range scan queries?"
Perform the following experiment.

Start a single-node cluster. Create a keyspace with RF = 1. Create a table with small partition and clustering columns, and one more (potentially) large column:
[code]

Insert a bunch of large rows. I used the following Python snippet:
[code]
so I inserted 50 rows with `pk = 0`, increasing `ck`, and each storing a collection `coll` with `1000 * 1000` integers.
I

[2021-02-10 10:57] kbr- commented on #8061
Ahh by the way, with `paging on`, this is what I get:
[code]

each row is a single page.

[2021-02-10 11:01] kbr- commented on #8061
Btw., using `bypass cache` doesn't change anything.

[2021-02-10 11:23] avikivity commented on #8058
Decode 1:

[code]

[2021-02-10 11:25] avikivity commented on #8058
Decode 2:

[code]

[2021-02-10 11:27] avikivity commented on #8058
It looks like you are inserting large blobs. Is this the case? Please share `nodetool tablestats`.

Also, use prepared statements.

[2021-02-10 11:37] avikivity commented on #8061
It's probably the cql layer generating the wrong read_command::slice::regular_columns.

[2021-02-10 11:38] avikivity commented on #8061
Recommendation: add a trace including interesting read command info, post it as a patch, and repeat the query with tracing on.

[2021-02-10 11:39] bhalevy commented on #8060
I think that the reason the test is passing most of the times is that it isn't fast enough and consecutive inserts will produce now() values that are unique in millisecond resolution since create_time_safe() uses milliseconds resolution.
Only when two consecutive inserts fall in the same millisecond, create_time_safe will increment the next value in a decimicrosecond and cause the test to fail

[2021-02-10 12:00] bhalevy commented on #8060
The following change reproduces this issue:
/cc @kostja
[code]

[2021-02-10 12:02] bhalevy opened #8062 "test_mix_per_query_timeout_with_other_params may fail in debug mode"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3176/artifact/testlog/debug/run.406.log
[code]

It seems to have failed due to debug build slowness, due to off-by second ttl() result (i.e. the test relies on running fast enough so that the SELECT query runs within 1 second of the INSERT USING  TTL query)

[2021-02-10 12:04] psarna commented on #8062
ttl is actually not that interesting in this test case, so it could simply be removed. Maybe I'll just assign myself since I was the author of this unfortunate case...

[2021-02-10 12:31] denesb commented on #8061
We only drop unnecessary columns when building the query results, they are kept in memory up to that point.

[2021-02-10 12:38] denesb commented on #8061
I think it is the intermediate `reconcilable_result` which is causing this. Single partition queries don't use it and build a `query::result` straight away, shedding the unnecessary fat column quickly. Range scans however first build a `reconcilable_result` with all the columns and then later convert this to `query::result`, so they have to accumulate all that data in memory first.
Just use paging

[2021-02-10 12:39] kbr- commented on #8061
But must they use all columns? We know the slice.

[2021-02-10 12:43] kbr- commented on #8061
Also won't paging perform a round-trip for each row?

[2021-02-10 12:51] denesb commented on #8061
The problem is that we've put a saddle on a cow and attempt it to run like a horse. The `reconcilable_result` as its name suggests is used for reconciliation where all data is needed, so the `reconcilable_result_builder` doesn't even look at what columns were requested and includes all. For whatever reason (probably historic) this result format is used as the result of range scans which means that

[2021-02-10 12:53] denesb commented on #8061
I just realized that there might not be any reason left to build `reconcilable_result` in range scans. In the pre-stateful day we used to issue `database::query_mutations()` calls and produced the final result from the individual results of these calls. We needed `reconcilable_result` because we had to combine and sort the final result (and I think you can't do that with `query::result`). But we d

[2021-02-10 12:55] avikivity commented on #7986
Yes, I see it, I don't know why I missed it before.

[2021-02-10 12:55] haaawk commented on #8061
Why would it be needed for reconcilable_result to contain all the columns? Wouldn't it be enough to include primary key columns + all the requested columns? Any other column will be dropped anyway, no?

[2021-02-10 13:00] denesb commented on #8061
That is how `reconcilable_result` works, when doing a read repair (the purpose it was designed for) you need all columns unconditionally, regardless of what the query requested.

[2021-02-10 13:06] kbr- commented on #8061
In other words: we can probably move away from `reconcilable_result` and the problem will be gone.
Unfortunately I can't rely on that fix in my code, because it's a replica-side fix, and I need a coordinator-side fix/workaround :( (my code is executed on upgrade).
Still, would be nice probably to do it eventually. Seems like a nice (n00b?) task.

[2021-02-10 13:13] denesb commented on #8061
Actually, moving from `reconcilable_result` to `query::result` would be a better solution to https://github.com/scylladb/scylla/issues/7434 than the one I had in mind.

[2021-02-10 13:29] denesb commented on #7434
https://github.com/scylladb/scylla/issues/8061 made me realize that building `query::result` instead of `reconcilable_result` directly would make this go away completely, while solving some other issues. I will take a closer look at how feasible this is. From first look it should be possible, see https://github.com/scylladb/scylla/issues/8061.

[2021-02-10 13:47] avikivity commented on #7986
I don't understand it (I see the problem in shard 0 that @slivne noted).

[2021-02-10 13:48] ManManson opened #8064 "cql3: Move to ANTLR4 for parsing CQL grammar"
ANTLR4 is superior to ANTLR3 in many aspects:

1. It has more powerful parsing algorithm (adaptive `LL(*)` opposed to static `LL(*)`), which is capable of parsing even some explicitly left-recursive grammars. This can probably simplify our grammars a little bit.
2. Some JIT-like caching is utilized under-the-hood, making the parser faster as it processes more input.
3. ANTLR3 is quite outdated and

[2021-02-10 13:50] slivne commented on #8064
@avikivity / @dekimir / @psarna please comment on this - I want to see we agree we do this before it being done

[2021-02-10 14:00] avikivity commented on #7986
@fgelcer what's the two AMIs used for good/bad?

[2021-02-10 14:02] psarna commented on #8064
I'm for it, mainly because of (3.) - we can already see problems in issues like https://github.com/scylladb/scylla/issues/7974 .
It would also be interesting to see some basic performance comparison after we migrate (e.g. by measuring the time spent in the parser by adding debug prints).

[2021-02-10 14:03] avikivity commented on #8064
The main advantage is that it is supported. The main risk is that the grammar will be evaluated slightly differently causing some regressions (I don't think it's a large risk). Another risk is that there will be lots of little differences, causing the implementation time to explode.

[2021-02-10 14:04] fgelcer commented on #7986
@avikivity , last good is `ami-034a120a34bf789ab` and first bad is `ami-0800c63c7984b8c94`

[2021-02-10 14:05] avikivity commented on #7986
I will look for differences in the package lists. May be caused by the kernel dependency drop.

[2021-02-10 14:08] gleb-cloudius commented on #6155
Unhandled exception in `prune` is fixed in 51037e94ecb53c20f4b7d394fe1c0c3b16b0479f

[2021-02-10 14:13] avikivity commented on #7986
[code]

[2021-02-10 14:14] avikivity commented on #7986
The change to ec2-utils does not explain it.

[2021-02-10 14:20] avikivity commented on #7986
In 17226f2, the included Python changed from 3.8.5 to 3.9.0. So, if there is a bug in our Python scripts that is triggered by this version change, that would explain it.

[2021-02-10 14:45] avikivity commented on #7986
The output of scylla_prepare is identical. Usually it's annoying but now it's helpful.

[2021-02-10 14:48] avikivity commented on #7986
Well, not totally identical:

[code]
[code]

But explainable by differences in how the two instances booted.

[2021-02-10 14:48] avikivity commented on #7986
@vladzcloudius please confirm.

[2021-02-10 15:32] slivne commented on #7965
@asias tried to have a look and I am lost

(assuming this is without repair node operation and repair is done prior to  removenode - like users are asked todo)

- One node was stopped a nodetool repair was run - that repair failed - yet we need it to succeed (without repair based operations) - how can we make it succeed by ignoring the failed node? I think we have been chasing this before as well

[2021-02-10 16:05] avikivity commented on #7986
I looked at interrupts, irqbalance, ethtool settings, everything seemed reasonable. Still, the Python thing is the only thing that makes sense.

I suppose we should test AMIs before and after that change.

[2021-02-10 16:42] bhalevy commented on #7965
Cc @raphaelsc

[2021-02-10 16:42] vladzcloudius commented on #7986
Looks the same to me - IRQs are simply chosen in a different order. Other than that IRQs are distributed across all present vCPUs as expected for this mode (`mq`).

[2021-02-10 16:43] nivekuil commented on #4232
Scylla does work on docker swarm, as you can connect to a container directly by either hostname (as of 20.10) or `tasks.[servicename]`, which returns an A record pointing to the container IPs. However, this isn't perfect as I've found that scylla seems to have a stale DNS problem. For example, starting with these args:
`SCYLLA_DOCKER_ARGS="--memory 2G --smp 1 --overprovisioned --listen-address scy

[2021-02-10 16:45] vladzcloudius commented on #7986
I'd guess that those stalls are likely caused by the `mq` mode.
In particular by context switches caused by SoftIRQ handling on the same CPU where scylla shard is running.

@fgelcer Could you run the same test enforcing `sq_split` mode on the same VM, please?

[2021-02-10 16:45] avikivity commented on #4232
Scylla will only resolve a name once.

[2021-02-10 16:46] avikivity commented on #4232
Is there a way to tell swarm not to change addresses?

[2021-02-10 16:57] #8062 closed

[2021-02-10 17:02] nivekuil commented on #4232
It seems there is no way to set a static ip for a container: https://github.com/moby/moby/issues/24170

[2021-02-10 17:17] avikivity commented on #4232
Well, Scylla remembers the IP addresses of nodes. It will require major surgery to fix that. See #6403.

We plan to address it, but it won't be ready any time soon.

[2021-02-10 17:19] avikivity commented on #7986
I saw that softirq time was low on all cpus.

[2021-02-10 17:21] avikivity commented on #7986
![image](https://user-images.githubusercontent.com/1017210/107546580-2fdab300-6bd5-11eb-996d-6b792de96459.png)

[2021-02-10 17:35] avikivity commented on #6566
Aged out.

[2021-02-10 17:36] avikivity commented on #6101
Not a bug, so not backporting.

[2021-02-10 17:38] avikivity commented on #5421
Backported to 4.2, 4.3.

[2021-02-10 17:39] avikivity commented on #827
bot got confused, removing backport candidate label.

[2021-02-10 17:43] roydahan commented on #7986
We don't know what it means and how to do it... can you refer us to it?

[2021-02-10 17:45] avikivity commented on #1175
Was there any fallout from this with dtest?

[2021-02-10 17:51] roydahan commented on #8016
Monitor can be restored using hydra.

[2021-02-10 17:58] roydahan commented on #1175
What do you mean?
If tests started failing due to this change?

[2021-02-10 18:00] dkropachev commented on #7822
Hello,

I've got perfect run that have hit this issue four times on different occasions.
Also worth of noting that during whole run cpu consumption on all of the nodes was lower than 30%

Test id: 8a00c3b4-01e8-4f73-aa37-c1d7a691088a

db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/8a00c3b4-01e8-4f73-aa37-c1d7a691088a/20210204_161251/db-cluster-8a00c3b4.zip
loader-set - https://cloudiu

[2021-02-10 18:59] slivne commented on #7986
If both images have the same setting I don't think we should change it ...

On Wed, Feb 10, 2021 at 7:43 PM Roy Dahan <notifications@github.com> wrote:

[2021-02-10 19:10] fgelcer commented on #7986
@vladzcloudius (cc @roydahan @avikivity @slivne )

i created a machine with last good, and a machine with first bad AMIs, and they are identical in both `perftune.yaml` and `cpuset.conf`:

last good:
[code]

first bad:
[code]

[2021-02-10 19:12] fgelcer commented on #7986
while i was running an unrelated test with bigger instance (i3.4xlarge) the content of `perftune.yaml` is different:
[code]

[2021-02-10 20:20] slivne commented on #8013
I reran the test and it reproduced

I ran a test with 4.4.rc0 and it did not reproduce

I tried to reproduce this with CCM and couldn't - so we are stuck with running the job (at least for now :( ).

Need to try and bisect between then to find the cause

[2021-02-10 20:21] slivne commented on #8013
versions

[code]

the only suspect I saw is this

[code]

need to check it out :)

[2021-02-10 20:22] vladzcloudius commented on #7986
What is the kernel version on "good" and "bad" AMI, @fgelcer ?

[2021-02-10 20:29] slivne commented on #8013
running first attempt to check the above - last image without the gossip change

https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/longevity/job/reproducers/job/3-days-8013-reproducer/4/

[code]

[2021-02-10 20:30] amoskong commented on #6187
I saw this issue in longevity-1tb-7days-test (4.4.rc1-0.20210201.2500dd1dc)

* https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4.4/job/longevity/job/longevity-1tb-7days-test/3

[code]

[2021-02-10 20:36] fgelcer commented on #7986
both have the same kernel:
`Linux ip-172-31-0-15.eu-west-1.compute.internal 5.4.68-34.125.amzn2.x86_64 #1 SMP Fri Oct 16 20:58:44 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux` (bad)
`Linux ip-172-31-8-201.eu-west-1.compute.internal 5.4.68-34.125.amzn2.x86_64 #1 SMP Fri Oct 16 20:58:44 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux` (good)

[2021-02-10 20:39] fgelcer commented on #7986
@vladzcloudius ^^

[2021-02-10 21:04] vladzcloudius commented on #7986
Got it. Then the most likely candidate is a scylla version then.
You may want to install the scylla version from the "good" in the "bad" AMI in order to eliminate the Python-version theory.

@fgelcer  ^

[2021-02-10 21:07] fgelcer commented on #7986
the thing is, the AMIs come already with Scylla installed..

[2021-02-10 22:07] vladzcloudius commented on #8030
On top of what @asias wrote above I think that we'd rather not to compact things over and over for the data beyond the current time window.

[2021-02-10 22:19] vladzcloudius commented on #7986
I'm aware of that ;)

[2021-02-11 00:18] vladzcloudius commented on #8030
I really didn't expect this after 87dd23db0311e960f0964203c8d7509c120a5be7, @slivne.
TWCS should have worked not worse than STCS and obviously if does.

Please, see @raphaelsc and mine comments above for a root-cause.
We definitely don't need off-strategy to have this working.

[2021-02-11 01:35] syuu1228 commented on #8049
I couldn't able to run ami-0e883e67243efea62 since I do not find login user information of the AMI, but I think the environment has non-standard umask configuration, as scylla_setup says.
Only solution to fix it is let user to restore default umask setting manually, since we don't want to change it automatically.

Related: https://github.com/scylladb/scylla/commit/60d8a99f056465cc925f3fa1a21552f95

[2021-02-11 01:38] syuu1228 commented on #8049
Note: Very likely " TMOUT: readonly variable" can ignore, why exiting with non-zero is umask setting.

[2021-02-11 02:43] dorlaor opened #8065 "Fail writes when storage is about to end"
Scylla automatically shuts down when there is no space but it will
be better to add another line of defense, otherwise it will be a bit
complex to bring the node back up while trying to expand the cluster
or the storage.

If we'll configure a threshold that beyond that point, all writes queries
will fail immediately it can help. We can define it in the yaml as % of
overall storage or minimum avail

[2021-02-11 06:59] gleb-cloudius commented on #8065
Update/Insert are not the only way data can be added to a node. Some
reads also require write (lwt). Repair and read repair can also add data
to a node.

--
			Gleb.

[2021-02-11 07:39] zooptwopointone commented on #8058
No blobs in the DB.
I uploaded the requested data.  Here is the ID be6f68a9-252e-4f9d-a41c-de0219f527e0

thanks.

[2021-02-11 08:20] avikivity commented on #8058
You do have some large cells. Maybe collections.

Please look at system.large_cells and system.large_rows (on each node).

[2021-02-11 08:30] avikivity commented on #7986
That is expected. On small machines kernel networking is distributed on all cores. On larger machines we sacrifice a core for networking.

[2021-02-11 09:07] fgelcer commented on #7986
i tested with a bigger instance (i3.4xlarge) the first bad AMI, and c-s P99th was 11.20 ms
`test_id = 9d143782-1a8b-4aaa-a2d5-b2afda4342b0`

[2021-02-11 09:46] slivne commented on #8013
results from above

[code]

The issue doesn't reproduce in that ...

so we are down to ...

[code]

(which is the next AMI we ran ....) - so will not continue bisect

@asias its yours

[2021-02-11 09:58] bhalevy opened #8067 "stream_session::prepare is missing a string format argument"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release-parallel/23/artifact/logs-release.007/1613023693780_materialized_views_test.TestMaterializedViews.mv_populating_from_existing_data_during_node_decommission_test/node1.log
[code]

Apparently this is caused by:
https://github.com/scylladb/scylla/blob/9cbbf40710f0b46056cac18d256e0886d1d62dfc/streaming/stream_session.

[2021-02-11 10:00] avikivity commented on #7986
Well, the bigger instance has less work to do.

[2021-02-11 10:12] enaydanov opened #8068 "All Jepsen's materialized view tests are failing"
*Installation details*

Scylla version (or git commit hash): 4.5.dev-0.20210208.c16e4a042
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian 10

Link to the job: https://jenkins.scylladb.com/job/scylla-master/job/jepsen/job/jepsen-test-all/15/

Jepsen results: https://cloudius-jenkins-test.s3.amazonaws.com/02664337-1e76-46ce-88a1-b56fbb64103b/20210210_103147/jepsen-data.tar.gz

*How to view J

[2021-02-11 10:18] slivne opened #8069 "Add a requirement on mdadm version so TRIM will be supported"
fstrim is not supported by mdadm-4.1-rc1_2.el7.x86_64

users running fstrim will get an error

[code]

add a check in scylla_setup that mdadm version is advanced enough to support trim.

if fstrim is not supported performance will degrade over time

----

reproducing steps
use a scylla ami
download  wget http://vault.centos.org/7.6.1810/os/x86_64/Packages/mdadm-4.1-rc1_2.el7.x86_64.rpm
rpm -Uvh --

[2021-02-11 10:31] fgelcer commented on #7986
but in that case, shouldn't the latency be better?

[2021-02-11 11:54] jul-stas commented on #7756
C* and Scylla work under the assumption that client apps are distributed and reside in DCs alongside DB clusters. If the whole DC fails it's OK for the driver to also fail (i.e. the driver is not expected to contact another DCs). Cross-DC traffic between the driver and cluster is avoided by default. Although it's possible to setup such a failover, it's deprecated and generates a warning.

Driver,

[2021-02-11 12:09] slivne commented on #7848
without ENOSPACE

[2021-02-11 12:56] avikivity commented on #7986
Isn't 11ms better than 20ms?

[2021-02-11 12:58] nyh opened #8070 "Alternator: validate user-provided nested document structure during first write, not during read/update."
In DynamoDB, and thus Alternator, an item can be a nested document: Each top-level attribute may itself be a list or map, which may contain further lists and maps, etc., up to 32 levels (this limit is documented in DynamoDB's documentation - https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html#limits-attributes-nested-depth). Alternator stores each top-level attribute as a

[2021-02-11 13:13] fruch commented on #7341
@slivne is that change enough to close this one ?

[2021-02-11 13:44] fgelcer commented on #7986
well, considering the machine has twice resources as the previous one, it is not even twice better

[2021-02-11 13:46] avikivity commented on #8069
It's a kernel limitation, not mdadm.

[2021-02-11 14:16] slivne commented on #8069
using the same kernel / xfs / disks / mount ...

I upgraded mdadm and fstrim worked -

On Thu, Feb 11, 2021 at 3:47 PM Avi Kivity <notifications@github.com> wrote:

[2021-02-11 14:42] nyh commented on #8064
Yes, but since all our grammars (CQL and DynamoDB syntax) are already written under the existing limitations, it is quite pointless to suddenly get these new features now. It's sad how in `alternator/expressions.g` I even wrote a comment on how easier it would have been to write this parser in Yacc, which I used already 35 (!) years ago. But now that we already wrote those parsers - with tricks ne

[2021-02-11 14:44] vladzcloudius commented on #7986
You should compare apples-to-apples, @fgelcer. Namely run the "good" AMI on a bigger instance too.

However I agree with both @avikivity and @slivne - mq is likely a red herring here.
It must be something else.

[2021-02-11 14:50] slivne commented on #7341
AFAIK: no its not it will make it better but doesn't solve it

[2021-02-11 15:22] nyh commented on #8060
I would consider this a test bug. `toDate()` returns a Cassandra "timestamp", which has millisecond resolution, while the `datetime_from_uuid1(uuid)` has finer resolution. We can't expect them to be equal - we need to truncate the precision of datetime_from_uuid1(uuid) as well....

Note that this is a test directly from Cassandra, and I guess it never failed for them because Cassandra is too slow

[2021-02-11 16:06] kbr- commented on #7985
@avikivity @gleb-cloudius I'm starting to code this - can I have your blessing please?

[2021-02-11 16:27] nyh commented on #8060
Easy patch to reproduce this bug (similar to what Benny did, but even shorter patch):
[code]

Note that +1 does not reproduce this problem. It adds 1/10th of a microsecond, and that difference isn't visible to the test code which sees microsecond resolution.

[2021-02-11 16:51] nyh commented on #8060
Sent a patch to the mailing list titled "[PATCH] cql-pytest: fix flaky timeuuid_test.py" to fix this test. I believe the test, not Scylla, was buggy.

[2021-02-11 17:24] vladzcloudius commented on #7341
@fruch A small comment/question: what would you expect to see as "throttling" from scylla other than timeouts (which you do see)?

[2021-02-11 18:28] zooptwopointone opened #8071 "Unable to Compact table and compaction causing crash loop."
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version 4.2.1-0.20201108.4fb8ebccff with build-id d19a95fd85a8e7df2928ccd8c729941f263e8adc
Cluster size: 4 Datacenters (3 x 3 nodes 1 x 7 nodes)
OS (RHEL/CentOS/Ubuntu/AWS AMI): 18.04.5 LTS (GNU/Linux 4.15.0-128-generic x86_64)

Platform (physical/VM/cloud instance type/dock

[2021-02-11 18:41] zooptwopointone commented on #8071
Other log info f727da6c-f4b1-43d5-bdbd-4cfdf354e824

[2021-02-11 18:48] zooptwopointone commented on #8058
Hum those table are empty.  I wonder if something needs to be enabled to make it track that?
If you are talking about collections Map Set etc.  I am 99% sure they are always minimally used.  short lists of small bits of data.  like max of 10 values only short strings  < 100 characters.  Most would have 3-ish values.

Let me know what else I can provide .  FYI this might be related to a new Ticket

[2021-02-11 19:12] raphaelsc commented on #8071
log shows you ran out of memory (OOM). when reading from a table with a huge number of tombstones, it also contributes massively with OOM (https://github.com/scylladb/scylla/issues/7689). I think compaction is also potentially accumulating lots of tombstones in memory until partition ends. If that's the case, we should probably deoverlap them to help with this. @denesb

which compaction strategy a

[2021-02-11 19:38] nyh commented on #7213
In Seastar commit 4fa0e4b4394b6293555af197b1835418df80398a, @wmitros added support for reading the request body as a stream or (using a utility function) as a vector of chunks instead of a contintugous buffer. We can now use it.

[2021-02-11 19:51] zooptwopointone commented on #8071
Ah sorry default compaction stratengy.

here is the rest of the table info:
WITH bloom_filter_fp_chance = 0.01
    AND caching = {'keys': 'ALL', 'rows_per_partition': 'ALL'}
    AND comment = ''
    AND compaction = {'class': 'SizeTieredCompactionStrategy'}
    AND compression = {'sstable_compression': 'org.apache.cassandra.io.compress.LZ4Compressor'}
    AND crc_check_chance = 1.0
    AND dclocal

[2021-02-11 19:53] zooptwopointone commented on #8071
I have uploaded a listing of one of the directories that came up a log for that table.

6b00b903-6d39-4a93-bcd0-e1c9c7aa89c8

[2021-02-11 20:47] raphaelsc commented on #8038
how is it going with regards to space? i'd ask you to set compaction logging level to debug via nodetool.

please run my script again and share output

[2021-02-11 21:44] slivne commented on #7341
I tested with Ubuntu20.04 on GCE with the same setup and same number of nodes and same number of disks its not any better

for the record this is the Ubuntu20.04 kernel I tested with
[code]

iostat numbers

[code]

(and yes its after setting the numbers correctly - using the fix above)

Since the load does work on AWS and in theory if io_tune measures the same bandwidth (or more) we should be able

[2021-02-11 22:13] zooptwopointone commented on #8071
Follow up with this issue, is how to handle deletes like this.  this table will commonly have all of the data replaced ever so often.   I have other tables as well where TTLs are there which seems to recently started to have some of the same issues.  I know setting a lower gc_grace_seconds and compacting is a thing to do, but as I ran into this problem I can get through deleting data without causi

[2021-02-12 06:54] aleksbykov opened #8072 "Segmentation fault during performance cdc tests"
Scylla version: 4.5.dev-0.20210210.9cbbf4071 with build-id 691db12f188dbfab76a45a9ba951ce7bffe84c51
AMI:  ami-0772751a354bb5a8e(us-east-1)
cluster size: 3

db-logs: https://cloudius-jenkins-test.s3.amazonaws.com/6c83e65f-d033-49b3-8248-c02fffca79a6/20210211_110434/db-cluster-6c83e65f.zip

During performance tests with cdc [
scylla-master-perf-regression-cdc-test-latency](https://jenkins.scylladb.c

[2021-02-12 09:56] dreamerHarshit commented on #7071
Is the issue fixed? As i'm still facing this issue on centOS as well as RedHat linux.

`+ '[' 0 -gt 0 ']'
+ has_java=false
+ '[' -x /usr/bin/java ']'
++ /usr/bin/java -version
++ cut -f 3 -d ' '
++ head -n1
+ javaver='"1.8.0_282"'
+ [[ "1.8.0_282" =~ ^"1.8.0 ]]
+ has_java=true
+ true
+ '[' -z '' ']'
+ true
+ prefix=/home/letsmailharshit/scylladb
++ realpath -m ///home/letsmailharshit/scylladb
+ rp

[2021-02-12 11:02] penberg commented on #7071
@dreamerHarshit, which version of Scylla is this?

@syuu1228, can you please have a look at this?

[2021-02-12 11:14] wmitros opened #8074 "large allocations in canonical_mutation"
As detected in #6376, the `bytes` field in the `canonical_mutation` class can be initialized with a large value, causing an allocation of over 1MB, for example in `convert_schema_to_mutations` (line 776) https://github.com/scylladb/scylla/blob/718976e794790253c4b24e2c78208e11f24e7502/db/schema_tables.cc#L757-L777 which is used during migrations

[2021-02-12 11:26] dreamerHarshit commented on #7071
@penberg I was using scylla 4.3

[2021-02-12 12:00] eric-zattoo commented on #8038
Afraid I was a bit optimistic and I had to restart that node yesterday - but I do see the issue again on several other nodes already, and the logging level was already set to trace.

Here is the script output for one of those: disk usage has been increasing since Feb 6, with 282 GB of reclaimable space now -> [2021021201-scylla-sstable-status.txt](http://eric.lapsus.org/z/2021021201-scylla-sstable

[2021-02-12 12:39] raphaelsc commented on #8038
On Fri, Feb 12, 2021 at 9:00 AM Eric Petit <notifications@github.com> wrote:

please share with me the output of lsof on scylla pid. the script tells us
that there's nothing blocking those expired sstables from being purged,
they're one compaction away from it. the strategy should pick them, but for
some reason, it's not doing so. log can perhaps shed some light on why
that's happening.

also, ple

[2021-02-12 13:15] titer commented on #8038
There you go
* [2021021202-scylla-lsof.txt](https://eric.lapsus.org/z/2021021202-scylla-lsof.txt)
* [2021021203-scylla-sstablemetadata.txt](https://eric.lapsus.org/z/2021021203-scylla-sstablemetadata.txt)

[2021-02-12 13:41] raphaelsc commented on #8038
i do see some deleted sstables which weren't released yet, and those are taken into account when checking if an expired sstable can be purged. i'll investigate now why this is possibly happening.

[2021-02-12 13:56] raphaelsc commented on #8038
please send lsof output again in a few hours from that same node, it's possible that we're dealing with a leak here, where fd of deleted sstables remains opened even though unused.

[2021-02-12 17:17] raphaelsc commented on #8038
@titer I'd advise you to set gc_grace_seconds to 0, if you are deleting your data only through ttl, no explicit deletions.

[2021-02-12 19:39] raphaelsc commented on #8038
I think the problem is that the procedure to get expired sstables for compaction is unconditionally discarding sstables which ancestor is not deleted yet, because there's still something referencing it, it can be a range scan or some streaming-based operation. I'd appreciate if you could share lsof output from the same node as before.

[2021-02-12 20:04] raphaelsc commented on #8038
found out the root cause. we're leaking deleted sstable, and this cause space to not be released and potentially caused expired sstables to not be purged. it's fixed in 4.3, but i'll make sure it's backported to 4.2.1.

[2021-02-12 20:06] raphaelsc commented on #8038
by the time being, you can workaround this by restarting your node, if it's causing significant issue.

[2021-02-12 20:21] raphaelsc commented on #7331
"Before a536988, this was a benign race (only resulting in
deleted file space not being reclaimed until the service is shut
down),"

turns out this is not a benign race. https://github.com/scylladb/scylla/issues/8038

if a deleted sstable remains around, it may potentially prevent expired sstables from being purged. i'll prepare a backport of it to 4.2.1

[2021-02-12 20:42] raphaelsc commented on #8038
patch sent to mailing list to fix 4.2 branch

[2021-02-12 23:47] vladzcloudius opened #8076 "Proposal: Improve the visibility of compactions by providing statistics for each tier"
## Description of the idea
Today the visibility about compactions is limited to the compaction at a whole:
 * Number of compaction running in total
 * I/O of compactions in total
 * etc.

This limits out ability to reason about the kind of the workload, e.g. if the workload is mostly updates or if it's mostly inserts of a new data. You can make some reasoning about this by looking at memtables vs

[2021-02-12 23:48] vladzcloudius commented on #8076
@raphaelsc @bhalevy @avikivity FYI

[2021-02-13 10:41] syuu1228 commented on #8049
Sorry, login failure on the AMI was probably my local environment issue, I able to login after I switched another PC.

BTW, I found why the error happen: the AMI is modifying umask parameter from default setting, as I described at https://github.com/scylladb/scylla/issues/8049#issuecomment-777153378.
Both RHEL8 and OEL8 should have default umask = 0022, like this (it's on OEL8 on Vagrant):
[code]

[2021-02-13 10:49] syuu1228 commented on #8049
Note: As I already mentioned at https://github.com/scylladb/scylla/issues/8049#issuecomment-777153378, we should not auto-configure system umask since it's unsafe.
We may able to relax umask verification code to just a warning, not error exit, but then user may hit #4157.
To avoid both issue, I suppose we need to make all files owned by scylla, perhaps more script run in scylla (or chown file afte

[2021-02-13 10:58] syuu1228 commented on #6243
@yarongilor It is not caused by dist/offline_installer/redhat, since any artifact test running the script.
The script is not well maintained and rarely used, I think we never run any test on it.
And it's NOT what we called "offline installer" today, confusing though.

I found OEL8 AMI causing the issue, please see #8049

[2021-02-13 10:59] syuu1228 commented on #6243
I think this issue can close now.

[2021-02-13 11:02] syuu1228 commented on #8049
Or maybe it can resolve by chmod a+r for every files created by root.

[2021-02-14 08:45] bhalevy commented on #8047
@asias is it from the destruction of `repair_meta`
Can we introduce gentle close of it to yield in the loop and destroy the rows one by one?

[2021-02-14 08:47] slivne commented on #7982
maybe related to https://github.com/scylladb/scylla/issues/8059

[2021-02-14 09:20] amnonh commented on #7930
In 4.2:
CASSANDRA_CONF = /tmp/tmp.AICc1DnTDx
and all files were copied there:
[code]
in 4.3
CASSANDRA_CONF = /etc/scylla/cassandra
But /etc/scylla is not part of the CLASSPATH
[code]

[2021-02-14 09:52] slivne commented on #7930
Thanks amnon

@penberg moving it to your queue -

I know we had the temp directory and copied files in the past can't recall when/who removed that.

[2021-02-14 09:57] avikivity commented on #7331
Backported to 4.2 too, in light of the extra negative effects of the bug.

[2021-02-14 10:09] yarongilor commented on #6243
thanks, @syuu1228 .

[2021-02-14 10:09] #6243 closed

[2021-02-14 10:28] slivne commented on #8068
@kostja who can help look at this - where this tests passing for you with kyle ?

[2021-02-14 10:39] nyh commented on #6732
@Felix-zhoux I added a pull request https://github.com/scylladb/scylla/pull/8066 which fully implements support for nested attribute paths - including in UpdateItem and in ConditionExpression which you asked above.

[2021-02-14 10:55] #8054 closed

[2021-02-14 10:55] #8067 closed

[2021-02-14 10:55] #8060 closed

[2021-02-14 11:05] slivne commented on #8071
Based on the schema - partitions are not multiple rows ```((country_code, did, version))``` - so why do we need to accumelate anything - we can "simply" write a partition or tombstone every time.

@raphaelsc  ?

[2021-02-14 11:15] avikivity commented on #8060
Backported to 4.4. Did not exist in 4.3 and before.

[2021-02-14 11:16] avikivity commented on #8054
Backported to 4.4. The new packages do not exist in 4.3.

[2021-02-14 11:18] avikivity commented on #7341
Backported to 4.3, 4.4. GCP support was not there in 4.2.

[2021-02-14 11:18] avikivity commented on #8067
Backported to 4.2, 4.3, 4.4.

[2021-02-14 11:19] avikivity commented on #8062
Backported to 4.4. Did not exist in 4.3.

[2021-02-14 11:19] slivne commented on #8049
@syuu1228 is this fixed ?

[2021-02-14 11:20] slivne commented on #8042
@nyh / @eliransin ping

[2021-02-14 11:22] slivne commented on #8038
Patch in 4.2-next

[2021-02-14 11:22] tzach commented on #8065
a read-only state per node is problematic, since the node data will become out of date.

[2021-02-14 11:24] slivne commented on #8016
@raphaelsc / @bhalevy ping

[2021-02-14 11:44] nyh commented on #8042
@slivne I'll take a look now. Since you already assigned the issue to me I can't assign it to myself a sign I'm working on it...

[2021-02-14 11:58] roydahan commented on #7948
It's a rolling upgrade with alternator, so it has LWT.

[2021-02-14 12:18] nyh commented on #6934
@psarna you didn't say in this issue how you reached this problem and what the error messages looks like. In issue #8042 a user of 4.2 (to which we never backported this fix) reported a node not coming up because of view_builder failing to start, with the message:
[code]
could this be the same issue as this one, or did this one look different?

[2021-02-14 12:20] slivne commented on #7986
@roydahan - please provide the updated list of commit and we will do a bisect

[2021-02-14 12:20] roydahan commented on #7986
https://github.com/scylladb/scylla/issues/7986#issuecomment-775768509

[2021-02-14 12:21] raphaelsc commented on #8016
On Sun, Feb 14, 2021 at 8:24 AM Shlomi Livne <notifications@github.com>
wrote:

will investigate it tomorrow.

[2021-02-14 12:26] nyh commented on #6453
Is this issue still relevant?

[2021-02-14 12:39] nyh commented on #7693
Unassigning myself. I never actually worked on this issue.

[2021-02-14 12:42] nyh commented on #7839
I haven't worked on this issue. Unassigning myself for now.

[2021-02-14 13:42] nyh commented on #8037
To clarify, the goal here is to revise the files in `docs/contribute/*.md` - these end up on our site as https://scylla.docs.scylladb.com/master/contribute/ (which is linked from https://docs.scylladb.com/contribute/).

I see several problems with the current content:
1. The "contribute" directory looks like a mix of documents for two different target audiences: One is for would-be first-time cont

[2021-02-14 15:31] nyh commented on #8037
@lauranovich I sent a patch to the mailing list (titled "docs: improve CONTRIBUTING.md"). I'm not sure if after that we should close this issue, or leave it open. I am still not a big fan of the "contribute" directory, but it looks like everything left there is actually for maintainers, not contributors, so maybe it just needs to be renamed?
So maybe this issue should be closed unless you or anyon