[2020-09-13 09:00] #1461 closed

[2020-09-13 09:01] slivne commented on #7200
@tgrabiec are you working on a fix ?

[2020-09-13 09:04] slivne commented on #7194
@avikivity can we close this - or is anything else left ?

[2020-09-13 09:05] tzach commented on #1461
@avikivity can you please open a more precise issue

[2020-09-13 09:06] #7194 closed

[2020-09-13 09:06] slivne commented on #7186
closing and adding  comment in #7175 that this needs to be tested as well

[2020-09-13 09:06] #7186 closed

[2020-09-13 09:07] avikivity commented on #1461
I prefer not to. These issues hang around for years and no one comes up with a patch to close them. They don't contribute anything.

[2020-09-13 09:07] slivne commented on #7175
lets test this is fixed

copy from #7186

This is not a regression.
[code]

[2020-09-13 09:08] slivne commented on #7182
@avikivity ping

I am marking this as low for now

[2020-09-13 09:10] slivne commented on #7181
@avikivity any direction on how to address this - so we can assign

[2020-09-13 09:15] avikivity commented on #7181
I believe it's a fluke (the kernel took some time away from us, or the hypervisor). If it doesn't repeat we can close it.

@tgrabiec please opine.

[2020-09-13 09:17] slivne commented on #7056
@Snipa22 can you please retest with 4.1.6 and update us - we would like to resolve this - thanks for all the help so far.

[2020-09-13 09:18] slivne commented on #7036
@penberg - reassigning this to you guys - to remove the changes.

[2020-09-13 09:20] slivne commented on #7012
Do we still need scylla-gdb - I thought its not needed once we moved to relocatable-packages and toolchain.

[2020-09-13 09:21] slivne commented on #6993
@asias / @bhalevy / @avikivity ping

[2020-09-13 09:26] slivne commented on #7043
@haaawk / @avelanarius - we need to extract the CQL queries and then look if they return correct values without spark.

- If there is a difference at CQL level - I expect it will be clearer whats the source of the issue
- If there is no difference at CQL level  - we need to look at whats causing the spark connector to behave differently.

Please queue this

[2020-09-13 09:27] avikivity commented on #2622
The former (shared state in versioned_sstable_set; an sstable_set is a pointer into the shared state with a version identifier).

But before rushing into implementation let's ensure we have a shared understanding of the problem. Here is mine:

1. sstable_sets evolve slowly as memtables are flushed into new sstables that are added, and as some sstables are replaced by compaction
2. each such change

[2020-09-13 09:30] avikivity commented on #7012
We don't need it. A modern gdb can be installed using these commands:

[code]

[2020-09-13 09:31] #7012 closed

[2020-09-13 09:35] avikivity commented on #6993
IIRC @denesb said we don't need the other two for 4.0.

[2020-09-13 09:36] slivne commented on #6601
@aleksbykov I am seeing these traces

"tracing - Dropped 20001 sessions: open_sessions 30, cached_records 90 pending_for_write_records 0, flushing_records 10912"

are those the dropped items - its dropped sessions not connections -  when did this start - can you correlate to any feature - its strange it started with 4.0 and you did not see it before.

Tracing has number of open sessions, number of

[2020-09-13 09:48] slivne commented on #6993
@denesb ?

[2020-09-13 09:53] avikivity commented on #6043
But why would IMR be doing an aligned allocation here?

[2020-09-13 09:56] slivne commented on #6529
4.3 will have the additional debugging information.

I am closing this issue as its stale

@arunsandu1 - if you do have additional information it would be great if you can share it and we will reopen and continue

[2020-09-13 09:56] #6529 closed

[2020-09-13 10:01] slivne commented on #6479
@gleb-cloudius / @kostja are there lwt metrics showing the info if a node had contention - if it was coordinator and for how many requests.

@psarna I thinkl we have additional lwt metrics - that can help you answer the questions you have

[2020-09-13 10:02] slivne commented on #7055
@penberg can we close this

[2020-09-13 10:06] gleb-cloudius commented on #6479
On Sun, Sep 13, 2020 at 03:01:14AM -0700, Shlomi Livne wrote:

There are cas_read_contention/cas_write_contention. Not receiving a
response is not caused by contention though. Usually it means dead or
nearly dead node.

--
			Gleb.

[2020-09-13 11:06] aleksbykov commented on #7222
Snapshot with metrics: https://snapshot.raintank.io/dashboard/snapshot/QI4lzLiLSPfvojtPc1T3xgPnX68fH34K

[2020-09-13 11:06] roydahan commented on #7222
@aleksbykov do you still have the cluster?
Do they have core dumps?

[2020-09-13 11:10] aleksbykov commented on #7222
No coredumps/backtraces/reactor stalls, oversized memory allocations

[2020-09-13 11:11] aleksbykov commented on #7222
Cluster unfortunately was cleared

[2020-09-13 11:26] syuu1228 commented on #7182
Added skipping installation on offline mode at https://github.com/scylladb/scylla/pull/7224

[2020-09-13 11:39] bhalevy opened #7225 "paxos test schema_mismatch_mv_test fails with schema_mismatch_error: (Attempted to deserialize schema-dependent object of version a74e98ad-5464-3631-b6fb-fbfa6d7d38e9 using ks.test 8759ae7e-8563-38ab-8abc-045a6caff3cc)"
Seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/590/testReport/paxos_tests/TestPaxos/schema_mismatch_mv_test_2/
that includes https://github.com/scylladb/scylla-dtest/pull/1652

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/590/testReport/paxos_tests/TestPaxos/schema_mismatch_mv_test/
[code]

[code]

[2020-09-13 11:40] bhalevy commented on #7225
Cc @dkropachev @kostja

[2020-09-13 13:18] avikivity commented on #7182
@syuu1228 I think we can drop it. Anyone using DPDK mode can figure it out.

[2020-09-13 15:22] ShlomiBalalis opened #7226 "Cassandra stress failed: nested_exception"
*Installation details*
Scylla version (or git commit hash): 4.1.6-0.20200831.6d9ff622df with build-id c2ed04d00095c63b7456b5fcda6775c5a9f33b0b
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9

In a rolling upgrade of debian 9 of the master branch, a cluster with version 4.1.6 has started. Afterwards the test

[2020-09-13 16:40] #7058 closed

[2020-09-13 19:08] tgrabiec commented on #7200
@slivne Yes

[2020-09-13 21:13] tgrabiec commented on #7181
Could be a fluke. The fact that there is no stall detector report for smaller periods, just straight to 32ms, supports this hypothesis.

[2020-09-14 04:30] denesb commented on #6993
Yes, we don't need the other two for 4.0.

[2020-09-14 04:32] denesb commented on #6043
IMR is using `utils::allocation_strategy`, and the `utils::standard_allocation_strategy` uses aligned allocations:
https://github.com/scylladb/scylla/blob/764866ed020984da6095f8027c7ad897b19de4e9/utils/allocation_strategy.hh#L187-L200

[2020-09-14 05:16] aleksbykov commented on #6074
During this job https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-lwt-24h-multidc-test/4
when node4 was restarted, on several nodes the next error happened:
[code]

Decoded backtrace:
[code]

all db logs: https://cloudius-jenkins-test.s3.amazonaws.com/ee79078d-5a37-478a-b989-f9d9d816f6cc/20200910_120919/db-cluster-ee79078d.zip

[2020-09-14 05:51] psarna commented on #4567
No idea, I'll browse the code and try to verify

[2020-09-14 06:07] psarna commented on #4567
From what I see here, deleted and never-written cells are *not* treated the same way. Hashes are cached for `atomic_cell`, which boils down to using `atomic_cell_view`, which have special cases for cells which are deleted (assuming that I'm reading our IMR code correctly, which is a very generous assumption:
[code]

[2020-09-14 06:25] Felix-zhoux commented on #6689
@slivne
This is indeed a problem caused by a partition that is too large.
Setting gc_grace_seconds=0 and actively triggering compact at the same time can reduce the read delay to a certain extent. This is the method I got from this issue.
In view of several months of practice, we have transformed our business to use multi-partition tables, and we haven't encountered the problem of high read latenc

[2020-09-14 06:29] asias commented on #7205
O(N), N is the number of sstables. We have a lot of them.

[2020-09-14 06:38] aleksbykov opened #7227 "Load failed with java.io.IOException: Operation x10 on key(s) on multidc cluster during adding new node"
*Installation details*
Scylla version (or git commit hash): 4.2.rc4-0.20200907.bf0c493c28 with build-id 49cc32b091e40433f7006467b50f2e6722d6074b
Cluster size: 6 nodes in 2 dc
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0c145d7f41255036c ami-0c80384341ee0f4eb (eu-west-1 us-east-1)
instance type: i3.4xlarge

Job https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-alterna

[2020-09-14 06:48] asias commented on #7220
One of the salls is due to:

[code]

It takes long time to copy so we saw stalls.

[2020-09-14 07:18] avikivity commented on #7220
4 seconds to copy that?

I think I see why:

[code]

The size scales with the number of keyspaces. We can change the key to be a `replication_config` which is the same for keyspaces configured with the same replication strategy and parameters. Then there would be much fewer entries.

[2020-09-14 07:22] denesb commented on #2622
@wmitros having full instances for each version alive is what we have today and it is what we want to avoid. We want to have a more light-weight version, where adding a new sstable creates just a new version, something that is more lightweight than a full copy. I imagine something like our MVCC, where the oldest version alive is a full snapshot and all later versions are composed of a reference to

[2020-09-14 07:22] denesb commented on #6043
Maybe we should make an unaligned allocation if `alignment` is 0 here.

[2020-09-14 07:42] denesb commented on #4758
@avi what is required for this to move on?

[2020-09-14 07:49] asias commented on #7220
Yes, I thought about this too. Same replicaiton_config == same strategy and same dc config (dc1:1, dc2:3).

[2020-09-14 07:51] aleksbykov commented on #7227
Dashboard snapshot: https://snapshot.raintank.io/dashboard/snapshot/M5EhG6kIzct6eBDuNELlyDmmv6FUldGp

[2020-09-14 07:55] avikivity commented on #6043
I think we can relax our allocator to use standard allocation if the alignment requirement is satisfied by standard alignment.

[2020-09-14 07:55] avikivity commented on #6043
And also, we should hack imr to allocate a block that wouldn't leave any waste.

[2020-09-14 07:56] denesb commented on #6043
Agree, patch is already on the list: [PATCH v1] data/cell: don't overshoot target allocation sizes

[2020-09-14 07:57] aleksbykov commented on #7166
Issue reproduced on scylla version 4.2.rc4-0.20200907.bf0c493c28 with build-id 49cc32b091e40433f7006467b50f2e6722d6074b.
On node 11 RestartThenRepairNode nemesis reproduced same issue:
[code]

[system.log.tar.gz](https://github.com/scylladb/scylla/files/5216926/system.log.tar.gz)

[2020-09-14 07:57] #6689 closed

[2020-09-14 07:59] avikivity commented on #4758
1. Have reader_concurrency_semaphore track how many permit-holding requests are free to run (vs. waiting for I/O to complete).
2. Change reader_concurrency_semaphore not to admit new requests while the number of non-blocked requests is nonzero
3. Move r_c_s in front of the cache

[2020-09-14 08:09] ShlomiBalalis opened #7228 "Cassandra stress failed: Cluster failed to reach schema agreement in time"
*Installation details*
Scylla version (or git commit hash): 4.1.6-0.20200831.6d9ff622df with build-id c2ed04d00095c63b7456b5fcda6775c5a9f33b0b
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): //www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-1604-lts

As part of a preparation of an upgrade test, the following c-s command was executed on the cluster:
[code]

The s

[2020-09-14 08:12] avikivity commented on #7220
I think the strategy should be responsible for generating the replication_config, so we're not limited by anything.

[2020-09-14 08:13] avikivity commented on #2622
It might be enough to tag each element of the data structure with the versions it applies to, and have the iterators skip elements that don't apply to the version being iterated.

[2020-09-14 08:18] denesb commented on #4758
So, basically we need https://github.com/scylladb/scylla/issues/5718.

[2020-09-14 08:19] denesb commented on #4758
I'm working on a series now that adds a permit to all flat mutation readers (it adds it to `flat_mutation_reader::impl` right next to `_schema`). With that, we will be just one step away.

[2020-09-14 08:32] asias commented on #7220
I am thinking about what is inside replication_config. Yes each strategy can generates it. We need different strategy to generate unified replication_config so we can store them in a single map.

replication_config {
uint8_t  replication_type
uint64_t replication_data
}

For network_topology_strategy, is it enough to hash {dc1:n1, dc2:n2, ...} to generate replication_data.

[2020-09-14 08:36] avikivity commented on #7220
It can be a base class and each strategy can generate its own subclass.

[2020-09-14 08:39] asias commented on #7220
What to store in the map, the base class? std::map<replication_config_base, foo>?

[2020-09-14 08:44] avikivity commented on #4567
[code]

Is it correct to use default_hasher here? Shouldn't we use `Hasher`?

Even more in this variant:

[code]

Although xxhash is compatible with legacy_xx_hasher_without_null_digest below the row level. So it's just a code wart, not a correctnesss problem.

[2020-09-14 08:46] avikivity commented on #4567
And that's correct, since we'd want deleted cells with different deletion times to trigger a read repair.

This can cause an unnecessary read repair if a tombstone is hashed in one replica and nothing in another, because the tombstone was expired and garbage collected. But I see nothing we can do about it.

[2020-09-14 08:49] avikivity commented on #7220
You can't use a base class as a key :(.

[2020-09-14 08:50] avikivity commented on #7220
I suppose we can use a variant<> with different types for each replication strategy.

[2020-09-14 08:56] asias commented on #7220
Since those queries are on the fast path, number based replication_config will be easier and faster.

replication_config {
uint8_t replication_type
uint64_t replication_data
}

or

replication_config {
uint8_t replication_type
uint128_t replication_data
}

We can even use replication_config to cache and  speed up calculate_natural_endpoints look ups.

[2020-09-14 08:58] syuu1228 opened #7230 "scylla_cpuscaling_setup: Got warning when installing scylla-cpupower.service"
Got following warning message when installing scylla-cpupower.service on Fedora 32.
The service actually only for Amazon Linux 2, the distribution does not shows up such warning,
but looks like [Install] section is needed anyway.

[code]

[2020-09-14 09:00] psarna commented on #4567
Sounds right. I'll send a patch to remove the wart(s).

[2020-09-14 09:13] aleksbykov opened #7232 "Scylla was not started on new added node with bootstrappstd::runtime_error ({shard 0: std::runtime_error (get_repair_meta: repair_meta_id"
*Installation details*
Scylla version (or git commit hash): 4.2.rc4-0.20200912.338196eab with build-id 2810cfc346e1ebadd0921e145b8423cddb1466e2
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0a08ac3253b2ffb1b (eu-north-1)

During job https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/48/, nemesis TerminateAndReplaceNode terminates one node and  adds new

[2020-09-14 09:20] syuu1228 commented on #7182
@avikivity New PR created to drop this #7233

[2020-09-14 09:22] elcallio commented on #7212
@avikivity  late to the party, but I agree with the eval.

[2020-09-14 10:04] syuu1228 commented on #7133
@avikivity What does it means?
Is it means NOFILE in user mode systemd units is lower than /proc/$$/limits value?
If so we probably have to check both value and use lower one, is it correct?

[2020-09-14 10:04] aleksbykov commented on #6867
Issue reproduced during rolling upgrade from Scylla version 4.1.6-0.20200831.6d9ff622df -> to 4.2.rc4.
Reproduced on Scylla version 4.1.6-0.20200831.6d9ff622df during preparing the data.

[2020-09-14 10:21] ManManson commented on #7225
It's a flaky test, needs to be adjusted or disabled for now. The cause for the failure is that these tests are expected to hit `schema_registry` cache when asking for an outdated schema version, but in case of `debug` build of scylla and, in particular, jenkins setup the node is slow enough to trigger eviction of needed schema version from the local node cache (i.e. `schema_registry`). Well, actua

[2020-09-14 10:22] roydahan commented on #7222
@aleksbykov let's try to reproduce with "keep" on the cluster.

[2020-09-14 10:39] aleksbykov commented on #7222
@roydahan run reproducer with same nemesises and nemesis's sequence?

[2020-09-14 10:45] slivne commented on #7166
4.2.rc4-0.20200907.bf0c493c28 doesn't contain the fix

it's part of 4.2 from 71cbec966b7ec3c1fbb257a15673247beeb55983

closing this issue, @aleksbykov  if you can run a version that has 71cbec966b7ec3c1fbb257a15673247beeb55983 and report it would be great

[2020-09-14 10:45] #7166 closed

[2020-09-14 10:46] slivne commented on #6468
closing this issue - we have a debug patch in 4.3+ - so if thisis hit again please report / reopen and we will be able to analyze

[2020-09-14 10:46] #6468 closed

[2020-09-14 10:48] slivne commented on #6248
AFAIK 4.2.rc4 is not hitting this or other issues related to row level repair getting stuck - we have fixed many issues up to 4.2.rc4 - if we hit the issue in 4.2.rc4+ please repost and we can reopen

[2020-09-14 10:48] #6248 closed

[2020-09-14 10:48] roydahan commented on #7226
rolling upgrade on debian-9 isn't in good status, let's disable this test for now.
This issue doesn't bring any useful information.

[2020-09-14 10:48] #7226 closed

[2020-09-14 10:49] slivne commented on #5797
@eliransin was this fixed ?

[2020-09-14 10:50] slivne commented on #7104
CDC is not GAd in 4.2 - pushing to 4.3

[2020-09-14 10:51] slivne commented on #6069
One item was fixed  - we have an ongoing discussion on the overload exception + hints - pushing this to 4.3

[2020-09-14 10:52] slivne commented on #7110
@asias ping we hit this on 4.2 as well - please update

[2020-09-14 10:54] roydahan commented on #7228
probably a dup of #6867

[2020-09-14 10:56] slivne commented on #6878
closing this issue - it was resolved in sct - incorrect value

[2020-09-14 10:56] #6878 closed

[2020-09-14 11:37] #6949 closed

[2020-09-14 11:44] bhalevy commented on #7225
@ManManson we strive to be able to run debug built scylla in SCT with "real" nemesis events so internal timing should be robust enough for debug mode.

[2020-09-14 11:46] ManManson commented on #7225
@bhalevy Okay, good, then we need to remove parameterize this grace period and provide an option for it. I'll prepare a patch for that.

[2020-09-14 11:48] ManManson commented on #7225
@bhalevy Should I disable the problematic test while we don't have a workaround solution for the test case?

[2020-09-14 11:54] bhalevy commented on #7225
I think so.  You can decorate it with `@skip('7225')`.
@roy, @kostja what do you think?

[2020-09-14 12:37] bentsi commented on #7064
@slivne can somebody triage this? looks like a serious issue

[2020-09-14 12:48] tgrabiec commented on #7225
On Mon, Sep 14, 2020 at 12:22 PM Pavel Solodovnikov <
notifications@github.com> wrote:

We could make it configurable.

But in real world scenarios, this grace period should never cause
correctness issues, it only amortizes the cost of re-requesting old schema
definitions from the sending node which is still behind, and sends requests
rarely.

[2020-09-14 12:50] wmitros commented on #2622
Let me first explain what motivated my previous question.
The sstable_set is not used exclusively as this "evolving" table member, it's also being used independently of any versioned_sstable_set, as a container for a vector of shared_sstables (view_update_generator::start(), compaction::setup()) or as a mutable local copy of a versioned_sstable_set snapshot (regular_compaction::update_pending_rang

[2020-09-14 12:55] ManManson commented on #7225
@tgrabiec Can you please elaborate on how it can cause us problems with correctness? As you've mentioned, it only saves us from doing another request to get schema from the remote node or in case of LWT get the schema locally in case we're, for example, are a lagging for a few seconds more with respect to other nodes. So I think it won't do any harm to make this configurable.

[2020-09-14 12:57] denesb commented on #2622
Note that when calling `select()` at all, the assumption is that:
* we have a non-partitioned sstables set and we select all sstables -- in case we need not make a copy, we can just return a reference to `_all`;
* we have a partitioned sstable set, in which case only a small subset of the sstables will be selected on each select call, so we are copying only a small subset of them in total (and a s

[2020-09-14 13:00] denesb commented on #2622
We are typically adding (memtable flush, compaction) or removing (compaction) a few elements. When adding new elements, we can insert these into a parallel interval map and consult both on select. When removing, we can remember the address of the removed sstable and remove these from the selection.

I expect to have 1-2 versions alive typically.

[2020-09-14 13:22] denesb commented on #7208
@aleksbykov ping.

[2020-09-14 13:57] avikivity commented on #2622
I'd treat this as a low-priority requirement. If the design forces us to have a versioned_sstable_set for view_update_generator, then so be it. Of course it's nicer if it doesn't force us, but it is secondary to meeting the requirement of inexpensive copies and operations on sstable_sets.

This is for bag_sstable_set, yes? The assumption is that bag_sstable_set is used for small numbers of sstable

[2020-09-14 13:59] avikivity commented on #7133
I'm not sure what it means. We'll have to find out what systemd does.

[2020-09-14 14:38] raphaelsc commented on #2622
On Mon, Sep 14, 2020 at 10:57 AM Avi Kivity <notifications@github.com>
wrote:

I'm planning to address this in my upcoming doc for us to close the loop on
LCS. I'm not confident about switching the default *now* as I'm not
confident about LCS' current ability to reshape *effectively* on sstable
size change. There will be an increase in temporary SA, which is expected,
from ~10*160M to ~10*1G, whic

[2020-09-14 14:50] avikivity commented on #2622
One thing we can try is to have a separate interval_map for each level. Mixed levels are expensive because a change to L1 (that happens frequently) touches 10 L2, 100 L3, and 1000 L4. And a promotion from L0 to L1 touches all to L1, so it's basically an O(n) operation.

[2020-09-14 14:50] avikivity commented on #2622
Functions like select() will become less efficient - they'll have to select each interval_map separately and merge the results.

[2020-09-14 14:56] avikivity commented on #7220
Or a lw_shared_ptr<something>. When we create the pointer, we first look it up by content and get a copy of the pointer if it already exists. If not we insert it.

[2020-09-14 15:01] avikivity commented on #6867
What do you mean 'more than 10 sec between nodes'? Are the clocks not synchronized?

[2020-09-14 15:04] avikivity commented on #5797
May have been fixed by bc77939ada60c2bfbdb42f9ed93df8b9fbfd3689 (#7117). @denesb IIRC there were other mis-grouped task bugs fixed, do you remember them?

[2020-09-14 15:08] denesb commented on #5797
@avikivity there was this> https://github.com/scylladb/scylla/issues/6908.

[2020-09-14 15:22] avikivity commented on #5797
So it's probably fixed. @gleb-cloudius please confirm.

[2020-09-14 15:27] avikivity commented on #6993
Closing as fixed in scylla 4.0.8.

[2020-09-14 15:27] #6993 closed

[2020-09-14 15:50] raphaelsc commented on #2622
the insertion cost seems inversely proportional to the level we're promoting data to. promoting from L0->L1 spans 100% of intervals, but L1->L2 only ~10%, and L2->L3 ~1%. so perhaps storing only L1 in a separate interval map is enough? so that will reduce the penalty on select() you were worried about. we already store L0 separately, but to avoid a quadratic space issue.

[2020-09-14 16:19] avikivity commented on #2622
I'd like to reduce the complexity, so I prefer per-level map than special-cases.

[2020-09-14 17:00] gleb-cloudius commented on #5797
It does not reproduce for me lately. Will reopen if will see again.

[2020-09-14 17:00] #5797 closed

[2020-09-14 17:23] avikivity commented on #7181
That depends on the detector threshold. Though I think it is 5ms for these test.

@fgelcer when reporting latency issues, please report the stall detector threshold as well.

[2020-09-14 17:23] gnumoreno commented on #5181
### iotune fails on GPC
**n1-highmem-16**
8 local ssd disks

[code]
[code]
[code]
[code]
[code]

[code]

[code]

@amoskong @slivne please do not close. This will be a problem for new customers on GCP.

[2020-09-14 17:30] gnumoreno commented on #5181
Almost forgot:
[code]

[2020-09-14 17:50] tgrabiec commented on #7181
I saw single-digit stalls in the log as well.

[2020-09-14 17:55] #6043 closed

[2020-09-14 17:55] #7182 closed

[2020-09-14 18:16] tarzanek commented on #5181
[code]
@xemul could above be one of the bugs you fixed in iotune?

[2020-09-14 18:36] xemul commented on #5181
@tarzanek , nope, doesn't seem related.

[2020-09-14 20:57] roydahan commented on #7222
No need to reproduce, this is not an issue.
The disk usage on both nodes reached to 0 and that's why the nodes were down.
There is more than 2TB on each node before the repair.

I didn't notice the disk usage metrics @aleksbykov uploaded in the original description, but to prove it I found "Storage I/O error: 28: No space left on device" messages from both nodes.

[2020-09-14 20:57] #7222 closed

[2020-09-14 21:08] roydahan commented on #7227
Not an issue, the c-s replication startegy (which I don't understand why we even have c-s in this test) is SimpleStrategy (as you can find in the loader logs):
Replication Strategy: org.apache.cassandra.locator.SimpleStrategy

[2020-09-14 21:08] #7227 closed

[2020-09-15 01:59] asias commented on #7220
Yes, lw_shared_ptr is one option.

Btw, we still need the mapping between:

keyspace -> replication_config

if the caller uses the keyspace to query, instead we can ask the caller to provide abstract_replication_strategy  from ks.get_replication_strategy().

[2020-09-15 02:17] asias commented on #7110
The root cause is "semaphore timeout issue" which is caused by hinted handoff. We see lots of similar phenomenon recently and the issue is handled here: https://github.com/scylladb/scylla/issues/7025.

[2020-09-15 04:33] fgelcer commented on #7181
@avikivity , you are right. For those stalls checks I'm running, all of them have `--blocked-reactor-notify-ms 5`.

[2020-09-15 06:41] tarzanek commented on #6106
@avikivity can we backport this to 4.0 and 2020.1 ?

[2020-09-15 07:21] avikivity commented on #7181
I see with_reserve, but not refill_emergency_reserve. So this isn't #325.

[2020-09-15 07:23] avikivity commented on #6944
Closing as duplicate of #6188

[2020-09-15 07:23] #6944 closed

[2020-09-15 07:23] avikivity commented on #6945
Closing as duplicate of #6188

[2020-09-15 07:23] #6945 closed

[2020-09-15 07:25] avikivity commented on #4636
Closing as outdated. This is more than a year old and no one is going to inspect a 3.1 coredump.

[2020-09-15 07:25] #4636 closed

[2020-09-15 07:26] avikivity commented on #6106
@tarzanek we don't discuss enterprise on this tracker, and if you want something this large backported, you must justify it.

[2020-09-15 07:35] tarzanek commented on #6106
this is an upgrade blocker for https://github.com/scylladb/scylla-enterprise/issues/1301 ...
(and I dare to say this isn't that large, it's just validation for commitlog replay, unless there is something I am missing (and thanks for clarification))

[2020-09-15 07:39] avikivity commented on #7220
Yes.

btw, we can convert from several independent maps to one map to a structure. Let's do that first, it will simplify later changes.

[2020-09-15 07:39] avikivity commented on #6106
we don't discuss enterprise on this tracker,

[2020-09-15 07:42] elcallio commented on #6925
See /scylladb/seastar#792

[2020-09-15 08:06] asias commented on #7220
I already have a patch that removes 2 out of 3 of the maps ;)

[2020-09-15 08:31] asias commented on #7220
@avikivity  FYI: https://github.com/scylladb/scylla/pull/7235

[2020-09-15 08:44] avikivity commented on #4703
Ideas for implementing:

1. use the `data_listener` interface we already have for `nodetool toppartitions`
2. instead of tracking partition keys, track hashed tokens. Allocate a vector hits[], and increment hits[hash(token(key))] each time we have a hit. Since the token is already available, this is cheap.
3. Every period, decay hits[*] by shifting it right by 1 (or perhaps multiplying it by a fac

[2020-09-15 08:59] avikivity commented on #2622
@wmitros see #7220 for a similar problem. token_metadata evolves slowly, and is quite large. It can benefit from the same rework. I'm not suggesting to merge the problems, just keep it in mind.

[2020-09-15 08:59] avikivity commented on #7220
@asias see #2622 for a similar problem.

[2020-09-15 09:21] aleksbykov commented on #7208
@asias @denesb

All db logs available by link: https://cloudius-jenkins-test.s3.amazonaws.com/f93d5ecf-da7f-4ec9-a9b0-97e33790be20/20200909_155904/db-cluster-f93d5ecf.zip

unfortunately, cluster was terminated by mistake, and only monitoring stack could be restored. So i can't give the answer whether on node5 any commit log files. If we have any metrics in scylla monitring stack for that, i can re

[2020-09-15 09:24] denesb commented on #7208
I will need to revisit https://github.com/scylladb/scylla/issues/5615 in order to catch this bug -- if we manage to reproduce.

[2020-09-15 09:43] nyh opened #7236 "Add to test/alternator/run an option to run multiple Scylla nodes"
The Alternator test suite is usually run via the script, `test/alternator/run`. This script runs a single-node (with two shards) Scylla and runs the tests against it. However, we might have bugs which are specific to multi-node clusters, so once in a while we should run the same tests against a multi-node cluster. This issue requests adding an option to the `test/alternator/run` script to run mult

[2020-09-15 09:59] nyh opened #7237 "Some Alternator Streams tests fail on multi-node cluster"
I ran the Alternator test suite manually against a three-node Scylla (we should make such runs easy via  `test/alternator/run` - see #7236). Most tests passed, but six Alternator Streams failed: `test_streams_updateitem_keys_only_2`, `test_streams_updateitem_old_image`, `test_streams_updateitem_old_image_empty_item`, `test_streams_updateitem_old_image_lsi`, `test_streams_new_image`, `test_streams_

[2020-09-15 10:12] elcallio commented on #7237
See:
https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_streams_GetRecords.html

`NextShardIterator` is supposed to be null (which I interpreted as set but no value - wrong?) if the shard is closed - which for us means that the stream_id was from an older stream id set, and we've reached end-of-data (i.e. timestamp at generation end).
Question is if this check is broken?

[2020-09-15 10:12] wmitros commented on #2622
Thanks for the advice, I'll go with the skipping iterator approach. Tagging the sstables with versions doesn't give a efficient way of deciding which sstables to remove completely and when to do it, or at least I don't see one, so for that purpose I'll add something like our MVCC where we merge versions that aren't referenced anywhere - when the version that adds an sstable merges with the version

[2020-09-15 10:20] nyh commented on #7237
@elcallio good question! The `fetch_more()` code I wrote for the test checked if there is a `NextShardIterator` attribute at all - not if it is an empty string. It is quite possible that your interpretation is correct, and the test code is wrong (it should check if the attribute is an empty string)  - although we need to confirm which is the correct interpretation. Note that there's even a third o

[2020-09-15 10:29] penberg commented on #6243
@syuu1228 Wasn't this issue fixed by https://github.com/scylladb/scylla/commit/1e2509ffec632b7332832065eeb39df1fe23180d? Can we close the issue?

[2020-09-15 10:38] penberg commented on #7131
@amoskong @syuu1228 Any updates on this?

[2020-09-15 10:58] nyh commented on #7237
What a mess :-(
This person claims that DynamoDB will omit `NextShardIterator` (not set it to an empty string) when a shard is closed:
https://stackoverflow.com/questions/33544974/meaning-of-null-nextsharditerator
But this person claims that it will return a null `NextShardIterator`, which is different from empty - whatever that means
https://forums.aws.amazon.com/thread.jspa?threadID=152029
I'm s

[2020-09-15 11:05] bhalevy commented on #5615
@denesb other than rebasing the patch mentioned above anything else needed?
We can also provide a private build to qa for 4.2 re: #7208

[2020-09-15 11:12] denesb commented on #5615
Off the top of my head only a rebasing is needed. I will resend the patches to the mailing list and give a private version to qa to test to speed things up.

[2020-09-15 11:26] elcallio commented on #7237
Seems omitting is a reasonable approach, and assume either explicit null or missing in test/client code.
As for to why this happens, I think it is simply that one node started before the other, and generated an initial stream id set (based on 1 node, or 2 nodes or whatever), then once all nodes are up, a new generation was computed. But since we have to iterate all "shards" that could ever have ex

[2020-09-15 11:30] nyh commented on #7237
@elcallio thanks. Your explanation of why we reached this case makes sense. I'm writing now a test to confirm what is DynamoDB's real behavior, and can also make the test code more forgiving to also accept the current null-string behavior.

[2020-09-15 11:58] nyh commented on #7237
I verified (wrote a test) that DynamoDB's meaning of "null NextShardIterator" is that it is completely missing - not an empty string. I'll prepare a patch / patches. According to my test, the answer in https://stackoverflow.com/questions/33544974/meaning-of-null-nextsharditerator was correct.

[2020-09-15 11:58] nikolay-toroptsev opened #7238 "Metrics in “CQL ONE CL Queries” 50 times greater than the metrics in “CQL Reads”"
*Installation details*
Scylla version (or git commit hash): 4.1.0
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 8

UUID of uploaded prometheus metrics: CD8654F5-45C2-4FA1-A633-8740C8C461C5

<img width="1592" alt="image" src="https://user-images.githubusercontent.com/46109483/93207263-636afb80-f763-11ea-8285-56748697c5a1.png">
<img width="387" alt="image" src="https://user-images.gi

[2020-09-15 12:48] nyh opened #7239 "Alternator Stream should still be usable (for 24 hours) after disabling"
The DynamoDB documentation https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html says that:

However, in Alternator, we don't allow this.  A new test `test_streams.py`::`test_streams_closed_next` tries to use shard iterators which were obtained before the stream was disabled, and the test shows that this is possible on DynamoDB, but generates an error on Alternator:
[code]

[2020-09-15 13:01] elcallio commented on #7239
Disabling a stream changed cdc options to off, which in turn is a schema change that will in fact drop the cdc log table, so this is why the stream disappears.
Implementing actual stream retention for 24h could be done in a few ways. The most obvious way would be to not drop the cdc log table immediately, but then we need to think really hard about what happens with a cdc log table that exists (di

[2020-09-15 13:19] nyh commented on #7239
Oh, I didn't know that. Maybe this is something that should be considered in the context of CDC, not just Alternator. It is conceivable that a user might want to stop logging new changes, but still be able to read the old changes for the same TTL.

I'm adding a "low" tag because I think it's not critical that we fix this quickly. We'll also have an xfailing test to remind us.

[2020-09-15 13:36] avikivity opened #7240 "reconcilable_result_builder can trigger OOM failure during error recovery"
[code]

Let's say we have a reconcilable_result_builder that ate all memory in its `_result` member. We can out of memory, so we destroy it. C++ destroys last member first, so _memory_accounter is destroyed before _result. This causes requests that wait for memory to be resumed before _result is destroyed, aggravating the OOM, and in one observed instance, causing a crash on bad_alloc when increas

[2020-09-15 14:12] #7044 closed

[2020-09-15 14:22] avikivity commented on #7220
Haha

[2020-09-15 16:33] psarna commented on #6479
The contention metrics are included in the first screenshot I posted, but they do not indicate any problems on this node.
Anyway, I took a closer look at the shard level, suspecting that maybe a single shard gets overloaded, and it looks like the suspicion was correct.
Here, only shard8 of the most overloaded node experiences large latencies:
![hot_shard](https://user-images.githubusercontent.com/

[2020-09-15 17:14] kbr- opened #7242 "Failed to apply mutation, named_semaphore_timed_out during bootstrapping"
While investigating the failure of https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/abykov/job/feature-cdc-replication-longevity/3/ I noticed a lot of `named_semaphore_timed_out` errors in the log of one of the nodes, such as the following:
[code]

I noticed that the timing of the errors is kind of interesting. The node has actually finished the `bootstrap_with_repair` phase, i.e.

[2020-09-15 17:14] kbr- commented on #7242
Also, all the other nodes didn't report any errors. Just the bootstrapping one.

[2020-09-15 17:15] nyh commented on #7218
Unfortunately (or rather, fortunately), I was able to reproduce this issue on my laptop, with 5 Scylla processes (as usual, RF=3), writes in parallel to all of them, each write going to a *different* row in the *same* partition. Exactly as @Felix-zhoux I can easily (a trivial Scan request!) find items which were broken, and they are broken in exactly the same way that @Felix-zhoux saw - one attrib

[2020-09-15 17:21] kbr- commented on #7242
May be caused by the same reason as
https://github.com/scylladb/scylla/issues/7104
https://github.com/scylladb/scylla/issues/6645

It is interesting that the bootstrap-repair phase actually finished, and only then the errors started occurring.
There were a lot of compactions happening, which might have caused the node to overload.

[2020-09-15 17:26] aphyr commented on #7116
This appears to be resolved in scylla-server_4.2~rc4-0.20200915.fdf86ffb8-1_amd64.deb!

[2020-09-15 17:26] #7116 closed

[2020-09-15 18:23] #6925 closed

[2020-09-15 18:26] nyh commented on #7218
Two more observations:
1. The problem does not reproduce if we don't have clients doing writes in parallel. If there is just one client thread and it writes a   sequence of items to random coordinators, I can't reproduce the bug. I need at least two clients threads in parallel, each writing different rows to random coordinators. Two client threads are enough.
2. Not only does the problem reproduce

[2020-09-15 20:35] nyh commented on #7218
The following Python program, if run against Scylla running on two processes on 127.0.0.1 and 127.0.0.2, reproduces the bug every time, in a few seconds. I starts two client threads, each connecting to a different server, and each writing 1000 short items to this same server. At the end, we scan the table, and notice broken items. Here is an example output:
[code]
Each item is supposed to have two

[2020-09-15 20:36] raphaelsc commented on #7242
compaction goes mad because lots of small sstables are generated by repair (one per vtable), we even temporarily increase the min compaction threshold when bootstrapping to reduce the aggressiveness. we need off-strategy on repair (https://github.com/scylladb/scylla/issues/5226) to improve this further, as there's potentially a lot of disjoint SSTables, so partitioned_sstable_set can be used to re

[2020-09-15 20:55] aphyr opened #7243 "Linearizability violation with node removes/adds"
It looks like Scylla 4.2~rc4-0.20200915.fdf86ffb8 can exhibit linearizability violations when nodes are added or removed from the cluster, and when network partitions are involved. There might be other circumstances that lead to this bug; I'm still checking.

For example, consider [20200915T164246.000-0400.zip](https://github.com/scylladb/scylla/files/5228216/20200915T164246.000-0400.zip), where m

[2020-09-15 21:15] nyh commented on #7218
Ok, I found the cause for the bug...
The broken items happened because `put_item_operation::apply()` got called **twice** for the same operation to build the mutation, and I assumed - for performance - that `apply()` is only ever called once per operation, so the implementation `std::moves()` some strings saved in the operation, like the column name.

An obvious fix would be to not move anything,

[2020-09-15 21:55] nyh commented on #7218
I can confirm that fixing Alternator's `cas_request::apply()` implementation to not assume it is only called once, so not "recycle" any strings saved in that object, fixes this bug. I already have a working patch that fixes my reproducing test.

However, before I submit my patch, @gleb-cloudius I would like you to confirm please if it makes sense that `cas_request::apply()` was called more than on

[2020-09-15 23:31] #7240 closed

[2020-09-16 04:09] gleb-cloudius commented on #7218
Sure it can in case of a contention. This is how paxos works: a node
can get a promise but accept may fail if preempted by a higher ballot.
Apply() happens between promise and accept. Since after failed accept
an operation is retried apply() can be called more than once.

--
			Gleb.

[2020-09-16 04:37] aleksbykov commented on #6867
@avikivity
According log schema created on 2 nodes during 2 secods, and on other 2 nodes in 10-15 seconds accroding logs

[2020-09-16 04:54] aleksbykov commented on #7025
@eliransin sorry with delay. Do you still need help with checking the fix?

[2020-09-16 04:58] nyh commented on #7218
Thanks. I had this misconception that `apply()` would only be called once even in this case, but obviously you're right - it will need to be called again because the timestamp changed, and possibly (but not in this test) also the result of the read changed.
By the way, in this specific test case there is no *real* contention - the different clients write to different rows - but I guess the current

[2020-09-16 05:29] syuu1228 commented on #7131
Tested this on my side.
I got following error when executing journalctl:
[code]
It looks like this one: https://serverfault.com/questions/806469/how-to-allow-a-user-to-use-journalctl-to-see-user-specific-systemd-service-logs
It says `However, this only works if the Storage directive of the [Journal] section of /etc/systemd/journald.conf is set to persistent (instead of auto or volatile)`, and defa

[2020-09-16 05:46] denesb commented on #4703
The data_listener is consulted after the reader which is to server the read is already created. We should apply the rate limiting as early as possible to reduce wasted work.

[2020-09-16 05:47] syuu1228 commented on #7131
Ah, looks like I haven't applied systemd update. I need to try updated version too..

[2020-09-16 05:53] roydahan commented on #7025
@aleksbykov based on a previous issue, please check that non of the nodes hit “enospc”.
Check it both in monitor and log.

[2020-09-16 06:01] syuu1228 commented on #7131
Updated from systemd-239-13.el8.x86_64 to systemd-239-31.el8_2.2.x86_64, no difference

[2020-09-16 06:05] asias commented on #7232
I need full logs of all nodes.

[2020-09-16 06:09] asias commented on #7232
Looks like the same issue we saw that one repair follower removes repair instances with the replacing node because it thinks the replacing node is DOWN.

[2020-09-16 06:10] slivne commented on #7242
We have seen this, client not using shard aware driver was the source

eliran fixed an issue we discovered because of that  hinted handoff was not really segregated  from regular workload in cross smp calls  (https://github.com/scylladb/scylla/issues/7177)

@kbr- can you double check both the client sending traffic and replicator are using shard aware drivers.

[2020-09-16 06:12] asias commented on #7232
Similar errors:
[code]
There were tons of such errors:

[code]

[2020-09-16 06:24] psarna commented on #7218
Very nice detective work here 👍

[2020-09-16 06:30] aleksbykov commented on #7232
All logs should be available by link https://cloudius-jenkins-test.s3.amazonaws.com/360918f5-fb68-4dba-9664-4cd1038913c2/20200913_133550/db-cluster-360918f5.zip

[2020-09-16 06:44] gleb-cloudius commented on #7218
On Tue, Sep 15, 2020 at 09:58:16PM -0700, nyh wrote:

Yes, the lock/paxos ballot is per partition right now.

--
			Gleb.

[2020-09-16 06:49] bhalevy opened #7244 "nodetool info gets a nose.plugins.multiprocess.TimedOutException error in secondary_indexes_test: test_insert_data_after_recreating_cf"
Seen intermittently since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/601/testReport/secondary_indexes_test/TestSecondaryIndexes/test_insert_data_after_recreating_cf/
Scylla version f76c519c1fc9f511383024b83f3b015833a65736

[code]

Last debug message from this test is "Waiting for view ks.col1_key_index to finish building..."
https://jenkins.scylladb.com/view/maste

[2020-09-16 06:50] bhalevy commented on #7244
Cc @fruch @psarna

[2020-09-16 07:04] fruch commented on #7244
@bhalevy see
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/601/testReport/secondary_indexes_test/TestSecondaryIndexes/test_insert_data_after_recreating_cf/history/

this is a 2h timeout, something is stuck for 2h while using the nodetool command. question is what exactly is causing that.

[2020-09-16 07:35] asias commented on #7232
Duplication of issue: https://github.com/scylladb/scylla/issues/7025

[2020-09-16 07:52] avikivity commented on #4703
Good point. I think we can start with how it is now to avoid rewriting the world, but later change it to wrap mutation sources:

[code]

This gives the opportunity to react before the reader is created. We might need to add priorities so that we call the rate limiter before the toppartitions listener.

Or how about this: don't use data_listener at all. Check it in table::query. Or even coordinator

[2020-09-16 07:55] aleksbykov commented on #6354
Issue was reproduced : https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/abykov/job/longevity-counters-multidc-test/6/ during this job. During setup cluster in 3 dc, this error happened on 2 nodes in different datacenters and cluster setup failed.
When cluster initialization switched to sequential bootstrap, error was not reproduced

[2020-09-16 08:06] denesb commented on #4703
Yes, this should work. Alter, after we move the r_c_s in front of the cache too, maybe we can put it there. But dont' have to add it to an existing component at all costs.

Won't this be a per-replica metric? I don't see how we can maintain a consistent rate across multiple nodes.

[2020-09-16 08:17] asias commented on #7025
@aleksbykov what is the stall detector configuration in the sct test?

[2020-09-16 08:20] fgelcer commented on #7025
the test 1st reported (the same as the default in SCT) is 500 ms, as in the following arguments set for the test:
`--blocked-reactor-notify-ms 500 --abort-on-lsa-bad-alloc 1 --abort-on-seastar-bad-alloc --abort-on-internal-error 1 --abort-on-ebadf 1 --experimental-features cdc`

[2020-09-16 08:25] avikivity commented on #4703
If the client it token-aware and shard-aware, it ends up the same thing (only less work since fewer rpc messages).

If the client it not token-aware or shard-aware, then coordinator-side can under-estimate the amount of requests reaching the replicas that own the key. Perhaps we should do both: the replica-side is for ultimate safety, coordinator-side provides even more work reduction but only if

[2020-09-16 08:26] denesb commented on #7208
@aleksbykov if we still have the metrics, can you please check the `scylla_database_paused_reads_permit_based_evictions` metric?

[2020-09-16 08:28] nyh commented on #7218
@Felix-zhoux I sent a patch for review to the mailing list, titled "[PATCH] alternator: fix corruption of PutItem operation in case of contention". Thanks for discovering this bug, and making it (relatively) easy to reproduce! If you are compiling Scylla from source you can already try this patch - or just wait for it to reach master.

[2020-09-16 08:34] aleksbykov commented on #7208
@denesb
Here is a screenshot:
![Screenshot from 2020-09-16 15-34-05](https://user-images.githubusercontent.com/44991177/93313051-2883c900-f832-11ea-8baf-b1dac43687f0.png)

Do you need any special query?

[2020-09-16 08:38] aleksbykov commented on #7208
Also here a live snapshot: https://snapshot.raintank.io/dashboard/snapshot/5DJy95TRkZi9N3zlpFMPDXIz1XYHbm9k the latest panel

[2020-09-16 08:39] denesb commented on #7208
@aleksbykov can you filter for the repair master node and for label `class=streaming`?

[2020-09-16 08:40] asias commented on #7025
And we do not see stalls in the test, right?

[2020-09-16 08:54] avikivity commented on #7131
I think it's a bug in systemd. Probably the permissions on /var/log/journal/xxx are created correctly if it's set as persistent and created incorrectly if it's set as auto. Please file a bug in systemd.

[2020-09-16 08:56] roydahan commented on #6354
Itjust means we need to use sequential bootstrap.

[2020-09-16 09:03] aleksbykov commented on #7208
![Screenshot from 2020-09-16 16-03-20](https://user-images.githubusercontent.com/44991177/93316279-32a7c680-f836-11ea-9408-e86a534aa37f.png)

[2020-09-16 09:05] aleksbykov commented on #7208
snapshot: https://snapshot.raintank.io/dashboard/snapshot/L84L0MJ5gsV9bNyWxy4N0ciQuCwfmMBy

[2020-09-16 09:07] Felix-zhoux commented on #7218
@nyh Thank you very much for solving this problem in such a short time. Your high-quality and efficient work makes me feel at ease. I will continue to conduct in-depth testing of Scylla.

[2020-09-16 09:14] aleksbykov commented on #7025
@asias

Yes, no any reactor stalled reported

[2020-09-16 09:51] penberg commented on #7131
@syuu1228 Yeah, please open a ticket on systemd. Meanwhile, I think we can go ahead with a release by documenting the workaround. /cc @slivne

[2020-09-16 09:57] penberg commented on #7131
@avikivity @syuu1228 Isn't the problem here:

https://github.com/systemd/systemd/blob/master/src/journal/journald-server.c#L321

IOW, in the "persistent" mode, `systemd` will create the whole path (including parents), whereas in other modes, it will only attempt to create the leaf directory?

[2020-09-16 09:58] penberg commented on #7131
That is in `system_journal_open` this happens:

[code]

[2020-09-16 10:15] denesb commented on #7208
Thanks @aleksbykov this is enough to confirm the possibility of the theory raised by @tgrabiec that this is likely yet another evictable reader reconstruction bug.

I will write a patch which will validate the start of the buffer after reader recreation to catch these at the source in the future.

[2020-09-16 10:53] denesb commented on #4703
Only true for CL_ONE messages, but even then the client will probably round-robin between replicas.

Agree, there are a lot of questions around the possibility of moving this to a coordinator. Replica side implementation raises some questions too. What if only one replica is saturated? Will we fail the query? Won't the user be surprised that the same query sometimes works sometimes doesn't. Will t

[2020-09-16 11:03] kbr- commented on #7242
@slivne the test was executed on a version of Scylla that included Eliran's change, but it doesn't matter -- the timeouts happened on `smp_service_group#2`, which turns out to be the write group, no the hints group.

[2020-09-16 11:07] bhalevy commented on #7175
These particular dropped columns will not be fixed by my patches since they are inserted by our code (since 834bec5cc9e79eca487928e7b9bd77d751e0370a) before the features are checked.
Dropped time of columns dropped from user tables should show up correctly after upgrade.

[2020-09-16 11:14] bhalevy commented on #7199
[[PATCH v1 0/4] storage_service: set_tables_autocompaction: run_with_api_lock](https://groups.google.com/g/scylladb-dev/c/2IARFnrGuHQ/m/jpvXBN2LAQAJ) is on the ML (Approved by @raphaelsc)

[2020-09-16 11:23] avikivity commented on #4703
Within a factor of CL/RF. The goal is not to have an exact boundary, but to set a limit that is an order of magnitude (or more) than what is expected for a single key, and an order of magnitude (or less) than what is expected from a shard's capacity.

(or course communicating that will be hard)

See the response to the previous question. It's supposed to trigger when the key is obviously under ove

[2020-09-16 11:23] kbr- commented on #7242
@slivne I just confirmed that the gemini version used cannot into shards

[2020-09-16 11:46] slivne commented on #7232
@asias I don't understand the issue fully and I don;t understand if repair based operations will work or not in 4.2 as well

- If we would have used streaming would this work ?

- I thought this happens after the node finishes to replace the missing node - if thats not the case, does it happen while its still repairing/streaming the data ?

- We have the semaphore timeout errors - yet that does no

[2020-09-16 11:52] kbr- commented on #7242
@piodul has checked that:
1. cassandra-stress with our driver correctly picks shards
2. scylla-bench picks shards incorrectly, which results in cross-shard ops
3. gemini picks shards incorrectly, which results in cross-shard ops

Gemini does not pick token-aware policy when configuring the driver (seems like a bug), but even when we modified it to do so, gocql still wrote to the wrong shard

[2020-09-16 12:03] kbr- commented on #7242
actually, locally compiled newest version of scylla-bench picks shards correctly

[2020-09-16 12:20] bhalevy commented on #7244
@fruch this is really strange.  How come the node logs look frozen in time after 6 minutes?

[2020-09-16 12:42] avikivity commented on #7240
Backported to 4.0, 4.1, 4.2.

[2020-09-16 12:44] avikivity commented on #7209
Backported to 4.2, no other vulnerable releases.

[2020-09-16 12:47] avikivity commented on #7198
Backported to 4.0, 4.1, 4.2.

[2020-09-16 12:49] avikivity commented on #6941
Not a regression, so not backporting.

[2020-09-16 12:50] avikivity commented on #7058
Not backporting gdb, though maybe I should.

[2020-09-16 12:51] avikivity commented on #6934
Edge case, so not backporting. Usually there are no bad contents in system tables.

[2020-09-16 12:53] avikivity commented on #5524
Aged out.

[2020-09-16 12:54] avikivity commented on #5520
Aged out.

[2020-09-16 12:55] avikivity commented on #5412
Aged out.

[2020-09-16 12:56] avikivity commented on #5339
Aged out (and never had a vulnerable release).

[2020-09-16 12:56] avikivity commented on #5332
Aged out.

[2020-09-16 12:58] avikivity commented on #4807
Aged out (and not a regression).

[2020-09-16 13:01] bhalevy commented on #7061
@scylladb/scylla-maint ping backport

[2020-09-16 13:02] avikivity commented on #4791
Backported to 4.0 (4.1+ have it)

[2020-09-16 13:04] avikivity commented on #6448
Change is too large and risky to backport, at least now.

[2020-09-16 13:06] avikivity commented on #6773
Backported to 4.0, 4.1, 4.2.

[2020-09-16 13:07] fruch commented on #7244
@bhalevy one nice trivia here, I think it's failing only on `godzilla`, and not on `monster`. still doesn't answer the why question...

[2020-09-16 13:09] avikivity commented on #7019
@penberg why didn't the bot mark this as a backport candidate?

[2020-09-16 13:40] raphaelsc commented on #7205
trim_to_compact() runs on the SSTables selected for compaction, which is usually only a small subset (unless you do major compaction or something). So I wouldn't expect such a stall coming from trim_to_compact() itself. 651ms is too much.

[2020-09-16 13:56] nyh commented on #7236
When we have a `test/alternator/run` option to run a cluster of multiple Scylla nodes, we can also have special tests which need such a cluster - and _skipped_ when the cluster is smaller. For example, the test I wrote for issue #7236 requires a cluster of (at least) two nodes, and can reproduce the bug in a few seconds. Right now I'm planning to move this test to dtest, but theoretically it could

[2020-09-16 14:40] raphaelsc commented on #7205
I am seeing awkward things like this in the log:

2020-09-08T16:14:18+00:00  longevity-cdc-100gb-4h-4-2-db-node-f4c109de-6 !INFO    | scylla: [shard 6] compaction - Compacted 6 sstables to [/var/lib/scylla/data/cdc_test/test_table_scylla_cdc_log-de936812f1d211ea8b07000000000008/mc-27446-big-Data.db:level=0, ]. 71kB to 34kB (~48% of original) in 2600422ms = 13 bytes/s. ~768 total partitions merged

[2020-09-16 14:49] avikivity commented on #6867
That wasn't the question.

[2020-09-16 15:06] avikivity commented on #7061
Backported to 4.2, will wait before backporting further.

[2020-09-16 15:14] amoskong commented on #7150
Job with 1/4 workloads also failed (c-s failed in first nemesis):

- https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/byo-longevity-test/38/
- executed 1 nemesis: HotReloadInternodeCertificate (succeeded)
- Test-id: 7466c41d-4cc8-4072-8c27-a9779c6eb562

----

Reduce the workload threads to 1/8, and reduce the dataset to 1/10.

- https://jenkins.scylladb.com/job/scylla-staging/job/amos/

[2020-09-16 15:20] aphyr commented on #7243
Looks like process pauses plus removes are sufficient as well.

[2020-09-16 15:37] #7218 closed

[2020-09-16 15:37] #7219 closed

[2020-09-16 15:44] aphyr commented on #7243
Ditto for process kills and removes.

[2020-09-16 16:18] avikivity commented on #7218
@nyh I backported to 4.2, but 4.1 requires more effort.

[2020-09-16 16:28] aphyr commented on #7243
It's also unaffected by using write consistency `quorum`.

[2020-09-16 16:29] nyh commented on #7218
Thanks. I'll look into it.

[2020-09-16 16:58] kbr- commented on #7242
I finally know what's happening... gemini does send the writes to the right shard, but it also sends other queries -- SELECTs from system_traces keyspace -- almost as often as the writes themselves, in parallel, and these queries use the control connection, which is sometimes right, sometimes wrong for the given partition key.

There are two things to be done:
1. disable these tracing queries in G

[2020-09-16 18:44] nyh commented on #7218
Backported to next-4.1 (and tested with the new dtest that it fixes the bug, plus that the usual Alternator tests pass). f8c7c485d2d23ca1f9f8bfbf12fbaccad5df70a8

[2020-09-16 18:47] vladzcloudius opened #7248 "MV: Allow altering MVs"
Scylla version: 5f541fbdc55be813e99ff3c0f7ae6034b2908e3a

*Description*
Today we can't alter MV/SI, e.g. if we want to change their compaction strategy, a speculative read retry configuration or a gc_graces_seconds value.

The only way to change it today is to drop the MV and rebuild it.

It makes sense to allow MV changes without having to drop it.

[2020-09-16 19:13] nyh commented on #7248
Issue #3284 suggests that in the past, "ALTER MATERIALIZED VIEW" was possible - and in that example, changes the compaction strategy. Is this no longer possible today?

[2020-09-16 19:20] nyh commented on #5030
We have a new repository, with load-balancing solutions and instructions: https://github.com/scylladb/alternator-load-balancing/
All that remains to do before closing this issue is to put a link into this repository in `docs/alternator/alternator.md`.

[2020-09-16 19:40] nyh commented on #6212
While it still makes sense to improve `test.py` to do some of the work that `test/alternator/run` does today, after 6 months of experience with the `test/alternator/run` script, I grew fond of it. It's important to note that it has several features that `test.py` does not have today:
1. `run` allows running just a subset of the Alternator tests - one file or even just one test function.
2. `run` a

[2020-09-16 19:53] raphaelsc commented on #7022
scylla really should never touch table's dir when scylla is up. we no longer lock writes for table on refresh, so detecting new sstables placed in main dir by user is now susceptible to races. we're deciding not to fix this, and all users should always place their new sstables in upload dir. closing this issue with a wontfix tag.

[2020-09-16 19:53] #7022 closed

[2020-09-16 20:06] avikivity commented on #7218
Backported to 4.0 too.

[2020-09-16 22:20] aphyr commented on #7243
Looks like pure decommissions will do the trick too. I think we may have moved too quick and gotten the cluster confused--it went down halfway through this test and never came back, but not before exposing nonlinearizable results. Note that we still forcibly kill/wipe nodes after issuing decommission commands, so it's possible that decommissions can be in progress when we nuke a node--this isn't a

[2020-09-16 23:15] aphyr commented on #7116
Oh, a weird question--if identical hashes means that users can experience linearizability violations... does that mean that hash collisions could cause them too?

[2020-09-17 05:58] bhalevy commented on #7022
We also need to disable the dtest that was added.

To add some details on top of what @raphaelsc said above: we used to lock the table files for writes during refresh so no new sstables were created (or deleted) during the operation. Although this allowed us to detect sstables added by the user, we really don't want to stop writes during refresh.  With offstrategy compaction we don't lock the main

[2020-09-17 08:08] asias commented on #7232
The issue is not related to repair based operation. The issue can happen even with regular repair. The issue is a node is overwhelmed by hinted-hand off and gossip heartbeat is not updated in a timely manner. As a result, this node is marked as down.

With streaming based node operation, if a node is marked as down, the streaming will fail too.

The difference is that repair based node operation h

[2020-09-17 09:35] penberg commented on #7084
@syuu1228 @amoskong Any updates on this?

[2020-09-17 09:46] amoskong commented on #7084
I didn't reproduce the problem with latest scylla master, let's close this issue.

[2020-09-17 09:46] #7084 closed

[2020-09-17 09:53] avikivity commented on #6925
@roydahan I'd like to backport this, let me know when s-c-t has been run on master with rpc compression (and passed).

[2020-09-17 09:57] avikivity commented on #7230
@syuu1228 please file a Fedora issue

[2020-09-17 10:01] avikivity commented on #6376
Yes. @haaawk ping.

[2020-09-17 11:08] slivne commented on #7232
@avikivity - we need to consider backporting eliran's fix to have HH use a different smp_serice group (and not use the regyular read/writes ones).

[2020-09-17 11:53] slivne commented on #7177
@avikivity ping please consider backport to 4.2

[2020-09-17 12:03] slivne commented on #7242
I know gemini enables tracing so we can check the system_traces when there are issues

@penberg any recollection why what we enable tracing for ?

I have no idea why the gocql or gemini query the system_traces so much

@penberg the same

if its gemini querying it sound like a bug in gocql that sends queries to system_traces on control connection instead of regular conenctions

if its gemini those

[2020-09-17 12:17] aleksbykov opened #7249 "Significant fall down of operations per seconds during replace node"
*Installation details*
Scylla version (or git commit hash): 4.2.rc4-0.20200914.338196eab with build-id 7670ef1d82ff6b35783e1035d6544c7cc9abd90f
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0bb0f15782d03eec3 (eu-north-1)
instance type: i3.4xlarge

During job https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-mv-si-4days-test/5 several times nemesis Termi

[2020-09-17 12:30] slivne commented on #7249
It seems bad I expect there are huge stalls

[2020-09-17 13:09] aleksbykov commented on #7249
Live snapshot: https://snapshot.raintank.io/dashboard/snapshot/VGQcOrXXdss6jYRgZ6AIhypGu30X0W4f

[2020-09-17 13:12] avikivity commented on #7249
There are large spikes in the main group.

![image](https://user-images.githubusercontent.com/1017210/93474851-97c7ee80-f900-11ea-96ed-ff196b3c71b7.png)

[2020-09-17 13:16] avikivity commented on #7249
These coincide exactly with the downward spikes in throughput. So it looks like some work leaked into the main group and took over (gossip?)

[2020-09-17 13:17] avikivity commented on #7249
And yes, those are task quota violations. So it looks like gossip work (maintaining token_metadata or something similar) that caused huge stalls. Please check again for stalls, and report the stall detector threshold you used.

[2020-09-17 13:19] avikivity commented on #7249
![image](https://user-images.githubusercontent.com/1017210/93475613-7e737200-f901-11ea-85e8-893267e78272.png)

[2020-09-17 13:21] avikivity commented on #7249
Also have violations elsewhere, but not as bad.

![image](https://user-images.githubusercontent.com/1017210/93475793-b5498800-f901-11ea-85c8-33cd28234ba0.png)

![image](https://user-images.githubusercontent.com/1017210/93475887-d0b49300-f901-11ea-8ac7-9450ede3d4e9.png)

[2020-09-17 14:07] kbr- commented on #7242
@slivne A bug in gemini :D
https://github.com/scylladb/gemini/issues/247

[2020-09-17 14:25] kbr- commented on #7242
Yes, it's a problem with gocql. Seems like those queries were simply overlooked when shard-awareness was implemented in gocql.
I made an issue:
https://github.com/scylladb/gocql/issues/54

[2020-09-17 14:53] amoskong commented on #7150
Job with 1/8 workloads also failed (c-s failed in first nemesis):

- https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/byo-longevity-test/39/console
- only executed on nemesis:  DecommissionStreamingErr (succeeded)

----

The job failed, because c-s workloads failed after executed 130+ mins, and I didn't found the c-s / db errors.

[2020-09-17 15:29] kbr- opened #7251 "cdc: allow sending writes to the previous generation for some time after switching"
Currently a node which becomes a write coordinator allows the write to proceed only if its timestamp belongs to the currently operating CDC generation (i.e. the one with the latest timestamp).

The reason for this restriction is preserving colocation. We "guarantee" (or plan to guarantee in the future, when we do consistent topology changes on top of Raft) that the latest generation's token ranges

[2020-09-17 15:33] kbr- commented on #7251
@haaawk @elcallio @nyh @piodul
perhaps you have some opinions on the issue

[2020-09-17 17:08] #5030 closed

[2020-09-17 17:08] #7199 closed

[2020-09-17 17:13] bhalevy opened #7254 "user_types_test fails sometimes on shutdown when the tempdir it uses goes away"
I saw this a couple times in my branch based on a81b731a1a2f5a07b0b5b8fde7939be005be0a97

Attaching one example in dev mode, hit in `test_nonfrozen_user_type_insert_delete`
Excerpt from [user_types_test.137.log](https://github.com/scylladb/scylla/files/5240826/user_types_test.137.log)
[code]

[2020-09-17 20:09] vladzcloudius commented on #7248
You are right: the syntax should be "ALTER MATERIALIZED VIEW":

[code]

[2020-09-17 20:09] #7248 closed

[2020-09-17 20:09] vladzcloudius commented on #7248
@gnumoreno FYI

[2020-09-17 21:59] vladzcloudius opened #7255 "Allow throttling repair-based node ops"
*Installation details*
Scylla version: 5f541fbdc55be813e99ff3c0f7ae6034b2908e3a

*Description*
During the PR review I asked for tunables that would allow throttling the repair/streaming intensity of the repair-based node ops.

For instance:
* How many shards should be repairing/streaming at the same time.
* How many ranges in parallel should the repair be streaming on each shard.

These are what w

[2020-09-17 22:04] vladzcloudius commented on #7255
@asias @bhalevy @gnumoreno @eyalgutkind @eliransin @slivne @avikivity FYI

[2020-09-17 23:57] dorlaor commented on #7255
Vlad, don't tag the entire world. Also, Asias has an idea how to throttle
this
in a different way. Not to mention it's time that the repair itself will
'behave'
according to our schedulers and no throttling will be needed but we do have
a plan already, Asias is welcome to point you to the github issue (I hope
one exists)
and close this one in return

On Thu, Sep 17, 2020 at 3:04 PM vladzcloudius <

[2020-09-18 02:18] asias commented on #7255
We have those for regular repair

https://github.com/scylladb/scylla/issues/4847
https://github.com/scylladb/scylla/pull/4848

Avi rejected the idea to allow user to control the parallelism though.

The repair bandwidth limiter idea is not translated to github issue yet.

[2020-09-18 03:03] page4 opened #7256 "Possible read resources leak"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):   9650b8d

https://github.com/scyll

[2020-09-18 07:14] dorlaor commented on #7255
Here's the design doc: https://docs.google.com/document/d/1VmSK3GwhZSX4v6hCGlLrbGn-2Wh8ysh2U1o0bieajQM/edit

[2020-09-18 07:24] denesb commented on #7208
I've written the validator for the evictable reader but it is already finding bugs in the code, just by running the tests.

[2020-09-18 10:35] denesb commented on #7208
Turns out these were bugs in the validation itself. Patch is on the list: [PATCH v1 0/3] evictable_reader: validate buffer on reader recreation

[2020-09-18 11:07] aleksbykov commented on #6867
Couldn't find any log messages about clock synchronized or not synchronized.
[code]

[2020-09-18 11:30] denesb commented on #7208
RPM with the validator backported to 4.2 branch can be found on http://scratch.scylladb.com/bdenes/7208/scylla-server-4.2.rc4-0.20200918.9fd1fe19d.x86_64.rpm, download it as:
[code]

[2020-09-18 12:29] aleksbykov opened #7257 "Coredump during decommission process on decommissioning node."
*Installation details*
Scylla version (or git commit hash): 4.2.rc4-0.20200914.338196eab with build-id 7670ef1d82ff6b35783e1035d6544c7cc9abd90f
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0a6022ca310a1b77e(eu-north-1)

During job https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/50/ decommission command failed and coredump triggered:

On node6 comma

[2020-09-18 13:12] vladzcloudius commented on #7255
@dorlaor Only relevant people were tagged.

@dorlaor @asias This design is very nice and cool but I don't see how this is going to be read sooner than a year from now.

The change I'm suggesting is a trivial change. As I described, without it the repair-based ops feature is as good as dead.

@asias Do we have preformance testing numbers? Something more challenging, like LCS + data uniformly distri

[2020-09-18 13:33] vladzcloudius commented on #7255
I've just read the discussion on the PR above and I totally agree with @asias there.
I think his arguments there are totally in line with my vision (as described above) and with what we see every time we stream in the real life.

[2020-09-18 13:51] aphyr opened #7258 "Aborted reads of writes which fail with "Not enough replicas available""
Infrequently, with network partitions and process crashes, LWT operations which fail with a "Not enough replicas available" message may, in fact, be visible to later reads. @kostja confirms that this message should be interpreted as a definite failure, which means this behavior is technically an aborted read.

For example, see [this list-append test](https://github.com/scylladb/scylla/files/524581

[2020-09-18 15:37] sitano commented on #5981
https://github.com/scylladb/scylla/pull/7252/

[2020-09-19 03:53] aphyr commented on #7258
I thiiink this might involve an overly-aggressive default client retry policy in com.scylladb/scylla-driver-core version 3.7.1-scylla-2. Reproducing this is tricky, so I can't tell for sure, but so far I haven't encountered this issue when we replace the default retry policy with one that *always* rethrows.

[2020-09-19 10:54] haaawk commented on #7251
I think this should be a property user can pick.
If a user cares very much about better consistency then they may prefer the exception.
Otherwise, they may be fine with writing to the old generation.
I would suggest making the tolerance window (those 5 seconds @kbr- mentioned) a CDC table parameter.
This way it will be flexible enough to serve a wide range of use cases.
Probably the right time uni

[2020-09-19 10:59] syuu1228 commented on #7131
It's never happen on Fedora, so I guess it's already fixed on recent release of systemd but haven't backported to RHEL8.

[2020-09-19 11:37] syuu1228 commented on #7131
According to [man page of journald.conf](https://www.freedesktop.org/software/systemd/man/journald.conf.html), Storage will be "auto" when it's not specified, and "auto" mode means write log to /var/log/journal only if the directory exists, otherwise fallback to /run/log/journal.
After I created /var/log/journal and reboot, `journalctl --user -xe` just worked on CentOS8.

[2020-09-19 11:44] syuu1228 commented on #7131
Tested on Vagrant VM image, CentOS8 does not have /var/log/journal by default, but Fedora 32 does have it by default.

Fedora 32:
[code]

CentOS8:
[code]

[2020-09-19 11:58] syuu1228 commented on #7131
Seems like Fedora 32 systemd .rpm creating /var/log/journal, so the difference may comes from .rpm not systemd itself.

[2020-09-19 19:49] slivne commented on #7251
I don't think we should write to previous generations - I would prefer we write to the current generation.

The client side reading - using the window should be smart enough to handle reading info from two generations that is not perfectly aligned by time and merge them for a correct view.

[2020-09-20 00:13] amoskong commented on #6349
Decommission failed in latest longevity-cdc-4h:

- job: https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h-test/106/console
- test id: dc06a2a7-a264-448f-9112-55b1556efe1b
- db log: https://cloudius-jenkins-test.s3.amazonaws.com/dc06a2a7-a264-448f-9112-55b1556efe1b/20200919_130908/db-cluster-dc06a2a7.zip
- repair based ops

[code]

[2020-09-20 00:18] amoskong commented on #6349
The repair still has problem:

- job: https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h-test/105/
- test id: 106b2e13-9250-4a31-973b-c987de6f9a09
- CorruptThenRepair nemesis failed

[code]

[2020-09-20 03:58] amoskong commented on #7035
Hi @elcallio

By default TYPE:CUSTOM will be returned from `Type.fromRepresentation(path.right)` if path.right doesn't match any TYPE.
So IllegalStateException or IllegalArgumentException will never be raised.

The only way to trigger the `"Skipping file {} - unsupported SSTable format or version"` is using a invalid prefix for sstables, and trigger UnsupportedOperationException first.

[2020-09-20 08:44] haaawk commented on #7251
@avikivity didn't want clients to merge streams and I agree with him. With a distributed client one worker can read the stream that contains a given partition in the previous generation and totally different worker can read the stream that contains the same partition in the current generation. Those can be totally different machines and merging would be very hard and error-prone. All guarantees we

[2020-09-20 09:56] kbr- commented on #7251
We have to make it bounded if we want to preserve colocation.

My point was that we **don't have to lose colocation** if we wait for some time after we switch the generation but before we introduce new tokens to the token ring. This time interval will be a global property of the cluster.  During this time interval the cluster still uses old token ranges, hence we can write to the old generation wi

[2020-09-20 10:06] kbr- commented on #7251
Here's what we could do when we introduce new tokens to the token ring:
1. create a new CDC generation that is good for both old and new token rings
2. announce it, but allow all nodes to write both to the old and the new generation
3. wait until everyone's clock is past the new generation timestamp
4. wait 5 seconds
5. tell everyone not to write to the previous generation anymore
6. wait until ev

[2020-09-20 10:10] haaawk commented on #7251
What does it mean to create a new CDC generation that is good for both old and new token rings?

[2020-09-20 10:12] haaawk commented on #7251
I don't get this idea of writing to both the old and new generation at the same time. It will create duplicated records for a single change, no?

[2020-09-20 10:48] kbr- commented on #7251
Say new generation G2, has timestamp `T`, so G1 closes at `T`. Say coordinator's clock is at `C >= T`, so the coordinator entered the new generation.

Today if we get a write with timestamp `T - 10ms` we will reject it because it belongs to G1. This never happens with server-side timestamps because the generated timestamp will be `>= C >= T`, but it can easily happen with client timestamps.

I'm p

[2020-09-20 12:42] haaawk commented on #7251
What's 'current token ring'? Old? New? Something else?

[2020-09-20 12:45] haaawk commented on #7251
That could mean one vnode has twice the number of streams, no?

[2020-09-20 12:51] haaawk commented on #7251
Why do we need 5, and 6? Can't each node just accept writes to old generation until the new generation timestamp + 5s?

[2020-09-20 19:03] slivne commented on #7251
Ok - I understand why we prefer to write to the old and new generations - for client simplicity and to provide the grantees - yet my concerns are:
-  if we have a node restart in a middle of a change then everything becomes more complex to validate and test.
- The co-locality assumption is invalid if we write into old and new generations. When we add a new node into the cluster we end up with a ne

[2020-09-20 19:06] slivne commented on #7251
For CDC GA we need to decide what we will do and can't push the decision

[2020-09-20 19:10] slivne commented on #7249
@aleksbykov
- please change the stall detector to 200ms and lets see what you catch (with repair based operations)
- @asias I need an analysis as to why this happens.

[2020-09-20 19:14] slivne commented on #7242
@kbr- nice :)

[2020-09-20 21:51] slivne commented on #7238
@amnonh I checked and if I look in prometheus

 sum(scylla_query_processor_queries)
![1](https://user-images.githubusercontent.com/3465480/93723111-830b8500-fba4-11ea-9791-b38e27c102e5.png)

vs

sum(scylla_cql_reads) +sum(scylla_cql_inserts) +sum(scylla_cql_updates) +sum(scylla_cql_deletes)
![2](https://user-images.githubusercontent.com/3465480/93723114-8868cf80-fba4-11ea-8169-e1f1bb229ae8.png)

t

[2020-09-21 00:57] asias commented on #7249
@aleksbykov What do you mean by "next" here? I saw it in other report as well.

[code]

[2020-09-21 01:09] asias commented on #7257
It is hints related:

[code]

[2020-09-21 01:12] asias commented on #7249
Hello @aleksbykov, I think you meant replacing a node not bootstrapping a new node. Next time please use the replace operation or bootstrap operation in the report to avoid confusion.

[2020-09-21 01:15] asias commented on #7249
I can open the monitor link here. Is it still there?

[2020-09-21 02:33] asias commented on #7249
Lots of MV errors on node8:

$ cat 8.log |grep db::view::mutate_MV|wc -l
23929

[code]

And lots of semaphore_timed_out errors from sotrage_proxy on node8:

$ cat 8.log |grep seastar::semaphore_timed_out |wc -l
41586
[code]

[2020-09-21 05:12] haaawk commented on #7251
Could you elaborate on this one @slivne, please?

That's why @kbr- wrote in point 1 to generate a generation that's co-located with both old and new token ring. This means it is created with all the tokens from both rings taken into consideration. This can lead to a bit bigger number of streams but should work.

@kbr- please comment on this one

Without Raft the pre-image really gives no guarantee

[2020-09-21 05:15] aleksbykov commented on #7208
Job checking fix is running: https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/Reproducers/job/repro-7208-large-partition-200k-4d/

[2020-09-21 05:31] denesb commented on #7208
It's not a fix, rather its an additional validation that should help us catch the actual bug.

[2020-09-21 05:56] denesb commented on #7256
@page4 the two code fragments are from two different versions, let's look at the first one first (from recent master):
https://github.com/scylladb/scylla/blob/9650b8d4b57cadf4e0e4ede2ffc5ac320987e9e6/reader_concurrency_semaphore.cc#L171-L174

The `resource_units::resource_units()` constructor doesn't allocate so it can't throw, it is even annotated with `noexcept`. `make_ready_future<>()` is also

[2020-09-21 06:08] asias commented on #7249
Filling out the massive errors in the log, we can see node8 started twice

1. first boot performs the replacing operation

2. restarting

[code]

Node 8 finished replace operation even if we have tons of errors logs during the process.

[code]

Node 8 finished bootstrap but did not finsih waiting for gossip to settle because _msg_processing was not zero which was due to apply_state_locally did not

[2020-09-21 06:08] denesb commented on #7256
4.0 and 4.1 is affected.

[2020-09-21 06:20] asias commented on #7249
To make things worse, at ` 2020-09-16T11:37:54+00:00 `
[code]

Node 2 (10.0.0.158) was detected as DOWN bye node8. At that time, node8 was really down according to the log from node2.

[code]

But node8 were still sending view update to node 2.

[code]

And node8 were also sending verb 1 (MUTATION = 1) and verb 42 (HINT_MUTATION)

[code]

We should stop sending view updates or MUTATION or HINT_MUT

[2020-09-21 06:30] aleksbykov commented on #7249
@asias

Drainernemesis were running earlier on the node 8:
[code]

[2020-09-21 07:03] aleksbykov commented on #7249
@asias I saw similar fall down of operations in this job: https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-lwt-3h-test/48/
![Screenshot from 2020-09-21 13-57-23](https://user-images.githubusercontent.com/44991177/93739485-981efd00-fc12-11ea-8921-3d872181713c.png)
But now it happened During Decommission nemesis. After nodo was decommissioned, New node was added successfully,

[2020-09-21 07:04] amnonh commented on #7238
@nikolay-toroptsev can you please add the scylla-monitoring version?
you can find it in the overview dashboard at the bottom

[2020-09-21 07:27] page4 commented on #7256
@denesb yes, the master branch  is safe now, but it may be changed later.  RAII is more safe.

[2020-09-21 07:31] penberg commented on #7131
@avikivity Should this be reported to bugs.centos.org or somewhere else then?

[2020-09-21 07:35] denesb commented on #7256
`reader_permit::resource_units` is a RAII object, it just doesn't do the consume part in its constructor, but it releases it in its destructor.

[2020-09-21 07:45] aleksbykov commented on #7208
@denesb
I got coredump with your patch on same steps. But on this time i got only on same node where nemesis RepairStreamingErr running.

[code]

[2020-09-21 07:49] denesb commented on #7208
@aleksbykov thanks, yes this is expected, the "bad" data should come from the repair master so this is the only node which should trigger the validation error.

Downloading the core.

[2020-09-21 07:56] aleksbykov commented on #7208
@denesb do you need live nodes or i can terminate them?

[2020-09-21 07:57] aleksbykov commented on #7208
Also another one core in 10 minues:
[code]

[2020-09-21 08:02] denesb commented on #7208
Can you leave alive only the node which crashed? The instance doesn't need to be up, I just need the content of its disk.

[2020-09-21 08:11] aleksbykov commented on #7208
Ok. This node could be accessed by 13.53.207.107 it is located on eu-north-1 region

[2020-09-21 08:44] avikivity commented on #7131
yes

[2020-09-21 08:52] denesb commented on #7208
The first fragment in the buffer is a range tombstone: `{start=, end=0008000000000000c34f}`. This is emitted, despite the data being requested from position `000800000000000167be` on.

[2020-09-21 09:13] elcallio commented on #7251
Fwiw, allowing writing to an old generation also has the drawback of data existing in that generation past its expire time, which makes it more difficult to determine when data is exhausted in a particular set of streams. (Obviously can add the window into the select span, but it is yet another place where one has to know magic values to be able to read from cdc log correctly).

+1 for the idea to

[2020-09-21 09:13] denesb commented on #7208
[code]
The range tombstone is relevant to the range, so its emission is not a bug in and on itself. This might be another case of range tombstones not being trimmed to the read range, similar to https://github.com/scylladb/scylla/issues/4104.

[2020-09-21 09:13] amnonh commented on #7238
After my fix it looks like:
![image](https://user-images.githubusercontent.com/2118079/93750283-e678cf80-fc03-11ea-9806-3b932047e4c4.png)

[2020-09-21 09:14] asias commented on #7249
Can you also share the io dashboard?

[2020-09-21 09:18] gleb-cloudius commented on #7258
On Fri, Sep 18, 2020 at 01:51:39PM +0000, Kyle Kingsbury wrote:

Kostja is incorrect here. As the code is written right now we check
availability twice. First before we start paxos operation and second
during learning stage. If the error happens during learning stage the
write will be visible to future serial reads.

It should be possible to distinguish when the error was thrown by
looking at the

[2020-09-21 09:23] tgrabiec commented on #7208
@denesb I don't think readers are currently required to trim range tombstones to the query range (sstable readers don't), only to provide monotonic positions.

This could break evictable readers, which after unpausing may get a tombstone which starts behind already emitted fragments.

[2020-09-21 09:26] denesb commented on #7208
@tgrabiec do you think it would make sense to fix this inside the evictable reader? Should we make it to trim range tombstones on the start of the buffer?

[2020-09-21 09:28] denesb commented on #7208
I think requiring readers to not emit out-of-range fragments is a reasonable expectation, but it is not something we require right now. Imposing this restriction would require sweeping changes across all our readers.

[2020-09-21 09:36] tgrabiec commented on #7208
Yes. But there may be arbitrary amount of range tombstones, more than a single buffer, which precede the first row of the range.

Yes, probably only sstable readers are not doing this.

[2020-09-21 09:40] denesb commented on #7208
The evictable reader is already prepared for this, it will not stop reading until a position strictly larger than the last seen one is encountered to ensure forward progress.

Yes, we fixed this for `partition_snapshot_reader` which is used by both memtable and cache.

So I propose that as a short-term fix we fix this in the evictable reader and I will open an issue to do the proper fix across all

[2020-09-21 10:03] aleksbykov commented on #7249
I/O dashboard: https://snapshot.raintank.io/dashboard/snapshot/xIfcJjCYK9JGk6Xpm7zrsDNnyRzvBSKa

[2020-09-21 10:12] kbr- commented on #7251
What do you mean by G1 is still good for the current token ring? Colocated?

For generation G and token ring R, define G to be **good** for R if G has at least one stream ID for each vnode in R, and tokens inside those vnodes from R are mapped to these stream IDs so that each log write performed using G and R is colocated with its corresponding base write.

Here's what we do today on  token ring c

[2020-09-21 10:15] nyh opened #7261 "Redis test test_exists_multiple_existent_key fails sporadically"
Running the Redis test suite `test/redis/run`  many times, the test `test_exists_multiple_existent_key` fails sporadically - it sometimes succeeds, and sometimes fails with errors like:
[code]
I.e., `exists()` call is expected to return 3, but in some cases it erroneously returns 2, and sometimes 1 (and sometimes 3, in which pased the test passes successfully).

I don't remember seeing this proble

[2020-09-21 10:34] amnonh commented on #7238
It will be solved with the next Scylla-Monitoring release (3.5)

[2020-09-21 10:46] kbr- commented on #7251
Consider the following problem:
1. for token ring T1, generation G1 provides colocation
2. for token ring T2, generation G2 provides colocation
3. for T1, G2 doesn't provide colocation
4. for T2, G1 doesn't provide colocation

We currently use T1 and want to switch to T2. We have two options:
1. first switch T1 to T2, then switch G1 to G2.
But then there's a period of time when T2 operates togethe

[2020-09-21 10:56] bhalevy opened #7262 "RPC server still has handlers registered in dtests involving repair-based operations"
Seen consistently in the following dtests since:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/611/testReport/bootstrap_test/TestBootstrap/killed_wiped_node_cannot_join_test_2/
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/611/testReport/bootstrap_test/TestBootstrap/shutdown_wiped_node_cannot_join_test/
https://jenkins.scylladb.com/view

[2020-09-21 11:08] penberg commented on #7153
@syuu1228 I see https://github.com/scylladb/scylla/pull/7224 is now in master as 12ca7f7aceae0e68aef361c3a904e983c8b185cd. What other pull requests are needed to close this issue?

[2020-09-21 11:47] nyh commented on #5060
We just had an interesting discussion on the mailing list - see https://groups.google.com/g/scylladb-dev/c/Ddv31GGB9pI - on the the compaction-based implementation, some implementation details and possible pitfalls, and how it would work for the Alternator and Redis APIs.

[2020-09-21 11:47] denesb commented on #7256
I would be cleaner if it did the consume in its constructor, I know there was a reason I didn't do it when I wrote this. Maybe with the changes since it can be done. But for 4.0/4.1 we should go for the simpler solution of just allocating the permit before deducting the resources.

[2020-09-21 12:38] xemul opened #7263 "Query pager can try to get keys from empty vector of result::partitions"
*Installation details*
Scylla version (or git commit hash): 208a7212

[2020-09-21 13:25] xemul commented on #7262
Cute. Gossiper registers verbs handlers in two places -- `start_gossiping` and `do_shadow_round`. Unregisters in on -- `stop_gossiping`. The latter is only called on (aborted)? shutdown if `_enabled` is set to true inside `start_gossiping`.

[2020-09-21 14:01] avikivity commented on #7256
What commit fixed it? Maybe the answer is there, or at least a source for a backport.

[2020-09-21 14:05] tgrabiec commented on #7208
On Mon, Sep 21, 2020 at 11:40 AM Botond Dénes <notifications@github.com>
wrote:

cache is not using partition_snapshot_reader.

Yes.

[2020-09-21 14:10] denesb commented on #7256
@avikivity this was fixed by https://github.com/scylladb/scylla/commit/0c6bbc84cd30df1c46a6cd81d87170b99d5a8144, namely commit f417b9a3ea, but the commit had a bunch of preparation steps before it.

[2020-09-21 14:20] bhalevy commented on #6792
So is 4.1 (https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/dtest-release/108/testReport/nodetool_additional_test/TestNodetool/concurrent_drain_test/)

[2020-09-21 14:21] bhalevy commented on #5033
Ref https://github.com/scylladb/scylla/issues/6792

[2020-09-21 14:22] elcallio commented on #7035
Yes, I know this. My question was "why is this a problem"? Is there a case with sstables that cannot be properly enough parsed in backwards compatible parsing mode that should result from opening something not explicitly supported?

[2020-09-21 14:23] denesb commented on #7208
Ok, I'm already working on this.

[2020-09-21 14:26] bhalevy commented on #6792
@slivne I don't think the problem is restricted to d17b05e9112b615bdc055e12c740906aaae070d9 "Adding Optimized pseudo floating point estimated histogram".  It's a tools problem regarding atomic sampling of the statistics.  @amnonh please confirm...

[2020-09-21 14:30] avikivity commented on #7256
Yeah, well we aren't going to backport that.

[2020-09-21 14:31] bhalevy commented on #7244
@fruch any clue what;s going on?
we keep hitting this...

[2020-09-21 14:54] avikivity commented on #6060
Well, those older branches aged out, so no advice from @gleb-cloudius is needed any more.

[2020-09-21 14:59] avikivity commented on #5657
@bhalevy you added the backport candidate label, but what should be backported?

[2020-09-21 15:00] avikivity commented on #5700
Aged out.

[2020-09-21 15:01] avikivity commented on #5753
Aged out.

[2020-09-21 15:03] avikivity commented on #5759
Already backported everywhere.

[2020-09-21 15:04] avikivity commented on #5510
Aged out.

[2020-09-21 15:05] avikivity commented on #5505
I agree, but all the branches aged out.

[2020-09-21 15:06] avikivity commented on #5586
Aged out.

[2020-09-21 15:08] avikivity commented on #5449
Aged out.

[2020-09-21 15:09] avikivity commented on #134
Prehistoric bug, removing backport candidate label.

[2020-09-21 15:10] avikivity commented on #133
Prehistoric bug, removing label.

[2020-09-21 15:11] avikivity commented on #2909
Minor, not backporting.

[2020-09-21 15:11] avikivity commented on #3891
Prehistoric bug, removing label.

[2020-09-21 15:14] avikivity commented on #4211
Prehistoric, removing label.

[2020-09-21 15:15] avikivity commented on #4226
Aged out.

[2020-09-21 15:15] avikivity commented on #4280
Aged out.

[2020-09-21 15:16] avikivity commented on #4567
@roydahan we need feedback on this fix, especially during upgrades.

[2020-09-21 15:18] avikivity commented on #4600
Minor, not backporting.

[2020-09-21 15:19] avikivity commented on #5536
Minor + aged out.

[2020-09-21 15:57] bhalevy commented on #5657
Looks like 35892e4557c6833f4698ddacbe2116e52662c308 is in all active open source branches so no backport required.

[2020-09-21 17:10] avikivity commented on #7177
@eliransin I need help with the backport. It conflicts with 5ff5df1afd3b5de54f110d855a31fd456f920bb4 in subtle ways.

[2020-09-21 17:26] gnumoreno opened #7265 "Implement nodetool gettraceprobability"
Currently we don't have it:
[code]

`https://docs.datastax.com/en/cassandra-oss/3.0/cassandra/tools/toolsGetTraceProbability.html`

[code]

As a workaround we can use for now the API:
`curl -X GET http://localhost:10000/storage_service/trace_probability`

[2020-09-21 17:30] gnumoreno opened #7266 "Improve nodetool getendpoints to return shard in addition to node"
Current state:
[code]

Desired:
[code]
10 above being the shard

[2020-09-21 17:36] vladzcloudius commented on #7266
I like this one - this in particular would allow mapping `large_partitions/rows` content to corresponding shard.

However the best would be to actually have the shard info in the `large_partition/row` to save the hassle.

@avikivity @slivne What do you think?

[2020-09-21 17:39] dyasny commented on #7266
I wonder if the API actually exposes it

[2020-09-21 17:40] dyasny commented on #7265
I think this is a bug - we should support all the c* 3.0 options, and the fact that the API has the option supports this

[2020-09-21 17:43] avikivity commented on #7266
I don't think we can implement getendpoints because we don't know smp::count for other nodes.

We can add it to the local large* tables.

[2020-09-21 17:44] gnumoreno commented on #7266
I like the idea of having this on large* tables as well. Let's go with this idea since Avi and Vlad are in agreement.

[2020-09-21 17:53] haaawk commented on #7266
smp::count is gossiped by each node and we know it. It's used in CDC

[2020-09-21 17:55] dyasny commented on #7266
@avikivity if we're going with having this information in a table, it would be an easy and extra nice UX to have the nodetool command output point the user towards that table

[2020-09-21 18:22] espindola commented on #7117
Botond Dénes <notifications@github.com> writes:

I don't think it supports AIO. Should be possible to add if we always
use a syscall by forcing linux-aio.cc:usable to return false like we do
for valgrind.

Cheers,
Rafael

[2020-09-21 19:19] #7225 closed

[2020-09-21 19:42] roydahan commented on #4567
@avikivity I'll need more information about this.
What is your concern in terms of rolling upgrades?
(The current upgrade tests we have in master and 4.2.rc4 (AFAIU has the fix already) pass)

[2020-09-21 19:52] avikivity commented on #4567
Suppose you have a row pk ck c1 c2 c3
If there is a NULL in the middle (for example, c1=1, c3=3, but c2 has no value), then the patch changes the way such rows are compared when doing quorum reads (previously, we would treat (1, NULL, 2) the same as (1, NULL, 3).

The risk is that during the upgrade we'd see a spike in read repairs.

So we need a test that runs a QUORUM read workload before, durin

[2020-09-21 20:31] slivne commented on #7238
@amnonh can you reference the commit  / issue in manager ?

@amnonh please note there are other ConsistencyLevel graphs did you fix them all ?

[2020-09-21 20:31] locked commented on #7261
I tried to reproduce the failure but in vain, I also tried with a lot more keys in the test.

Is there something special with the tests running in Jenkins that could help me reproduce it ? Number of cores, memory ? The tests are running against the release version of scylla ? Are you reproducing the issue on your dev machine too ?

[2020-09-21 20:34] slivne commented on #7238
@amnonh - read previous comments - and followed the pull request you did address all

closing issue - fixed by https://github.com/scylladb/scylla-monitoring/pull/1058/commits/40b8911bc3933bc57697e66a44a4778831423838

[2020-09-21 20:34] #7238 closed

[2020-09-21 21:26] nyh commented on #7261
I reproduced it *only* on my development machine, these tests do not currently run on Jenkins. I don't know what's special with my development machine... Maybe a slightly different compiler version generates slightly different code and exposes some rare bug? I'll try to investigate.

[2020-09-21 22:26] tgrabiec commented on #7225
I didn't mean to suggest that it could cause correctness problems.

[2020-09-21 23:16] espindola commented on #7201
Shlomi Livne <notifications@github.com> writes:

Correct. Currently we only have UDF.

Cheers,
Rafael

[2020-09-22 06:26] avikivity commented on #5718
I don't think my idea of using tracking_file_impl works. First, it doesn't handle read-aheads. We can have pending I/O that is not blocking anyone.

[2020-09-22 06:26] avikivity commented on #5718
It also doesn't handle multishard readers, where the files are remote.

[2020-09-22 06:32] avikivity commented on #5718
So we'll have to mark blockages manually.

1. change flat_mutation_reader::impl c'tor/d'tor to count the number of impl:s serving this permit
2. every place we wait for non-local-cpu work (sstable index reads, sstable data reads, multishard foreign reads) we bump another counter in the permit. Note sometimes we wait for two operations in parallel (index start and end reads), we have to adjust for

[2020-09-22 06:51] aleksbykov opened #7267 "During bootstrapping node with replacing node with same ip on another node error: lsa - Aborting due to allocation failure"
*Installation details*
Scylla version (or git commit hash): 4.2.rc4-0.20200916.9855e18c0 with build-id 79d22ae7d3a43d7ef1f60fd8e4edf30c7d0af698
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-080d27b98de7a26aa (eu-north-1)
instance type: i3en.3xlarge

Job [longevity-large-collections-12h](https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-large-collections

[2020-09-22 08:18] asias commented on #7249
I suggest to run a same test but without MV to see if MV is the culprit. @aleksbykov

[2020-09-22 08:20] asias commented on #7249
@slivne We need MV experts to clarify the issue I mentioned here: https://github.com/scylladb/scylla/issues/7249#issuecomment-695923071.

[2020-09-22 08:26] eliransin commented on #7177
@avikivity  on it.

[2020-09-22 08:28] asias commented on #7249
@aleksbykov I need access to the monitor data for tje test in the original report. The link is dead. Can I download it locally?

[2020-09-22 08:43] aleksbykov commented on #7249
@asias
you can restore it locally with command:
hydra investigate show-monitor cf34e4a2-b2a3-4eba-b1a7-256d86d876aa
if you don't have scylla-cluster-tests, you first need:
- git clone git@github.com:scylladb/scylla-cluster-tests.git
- cd to scylla-cluster-tests/
- ./install-hydra.sh or
- ./docker/env/hydra.sh investigate show-monitor cf34e4a2-b2a3-4eba-b1a7-256d86d876aa

[2020-09-22 08:43] aleksbykov commented on #7249
ok, i can do it

[2020-09-22 09:26] eliransin commented on #7177
@avikivity I read the commit you are referring to and 5ff5df1 , unless I misunderstood, this is not a conflict but a dependency.
The commit itself is king of a semantic nop as it is only a setup for future commits, it only move the "hardcoded" sync::no up the call stack but doesn't change it.
I think we should backport this as a dependency and then backport the fix on top of it.
The cherry pick is

[2020-09-22 10:03] roydahan commented on #7267
Dup of #5994 ?

[2020-09-22 10:15] denesb commented on #5718
I don't think the condition should be count >= count(impl). We should treat the reader pipeline as a tree. Blocked should propagate up the tree. E.g. a combined reader is only blocked if at least one of its subreaders are blocked. Similarly in the case of the multishard reader, if the current shard is blocked, the reader is blocked despite all the non-current shard readers being available. We prop

[2020-09-22 10:31] roydahan commented on #6925
Testing now.

[2020-09-22 10:34] avikivity commented on #5718
I think you are correct. If you can reuse the existing tree structure, I think it's worthwhile. If we have to create a parallel structure, it's enough to use any(non-blocked) -> this tree is non-blocked, on the assumption that pretty soon all the other branches will block too.

[2020-09-22 10:36] avikivity commented on #7177
Yes, that one. I'm wary of backporting "supposed to be nop" commits that later turn out not to be nops. But there is also risk in doing branch-specific work that ends up being undertested. So if backporting that commit works, we can do it.

[2020-09-22 10:41] avikivity commented on #7267
What are the sizes of the elements in the set?

[2020-09-22 11:02] eliransin commented on #7177
@avikivity compilation and unit tests passes.

I guess that I can't argue with experience :slightly_smiling_face: , I double checked it just now and it looks like a real nop.
The commit message claims it to be the case too (implicitly).

[2020-09-22 11:03] nyh commented on #5718
Similar to @slivne's comment above, I don't understand the *goal* of reader concurrency semaphore after your change, and this goal should be explicitly stated, not just implied amidst lengthy discussions on the implementation details like you and Avi seem to be doing today...

I **thought** that the goal of reader concurrency semaphore was to to limit the amount of memory that the readers use. How

[2020-09-22 11:04] avikivity commented on #7177
Ok. I'll backport the dependency and we'll see.

[2020-09-22 11:05] slivne commented on #7249
@eliransin / @nyh / @psarna We need help with this issue

[2020-09-22 11:06] avikivity commented on #7177
Backported to 4.2. Will revisit later for older branches.

[2020-09-22 11:09] slivne commented on #7257
@piodul ping

[2020-09-22 11:10] asias commented on #7249
I tried hydra in the past and opened an issue for it: hydra does not work on fedora.

[2020-09-22 11:12] aleksbykov commented on #7267
Could n't find exact size, but expecting the biggest list/set up to 40M.
From other side in logs i didn't fine any warning messages that large partition is going to written.

[2020-09-22 11:12] denesb commented on #5718
The task of the reader concurrency semaphore is to regulate access to system resources for reads. This has two parts:
* Limit the amount of memory they are allowed to consume, and
* Make sure the resources are well used.
This latter part is where Avi's suggestions come in. For example, even if we omit the memory consumption completely, it still doesn't make sense to admit infinite amount of reads.

[2020-09-22 11:12] avikivity commented on #5718
The goal has not changed.

The condition is inverted, instead of

It's really

The reason is that we can't predict how much memory readers will consume in practice. They start consuming memory as they run. When they start, they consume very little memory. By letting a ready-to-run reader to proceed, instead of preempting it with another reader, we let it claim what memory it wants, or complete if

[2020-09-22 11:56] avikivity commented on #7267
No large allocation warnings?

[2020-09-22 11:57] nyh commented on #5718
This doesn't convince me. We could have (or already have? is all of this documented anywhere?) a separate semaphore which limits the number of really active disk reads - there is no point of doing 1000 reads in parallel if the physical disk can only do 10 (or even 1, considering that long reads can be internally parallelized). You don't have to do it in the admittance level.

Maybe this makes sens

[2020-09-22 12:02] avikivity commented on #5001
Aged out.

[2020-09-22 12:04] avikivity commented on #4946
Aged out (and probably never affected branches).

[2020-09-22 12:05] avikivity commented on #4804
Feature, not bug fix.

[2020-09-22 12:07] avikivity commented on #4483
Aged out.

[2020-09-22 12:13] avikivity commented on #5340
Aged out.

[2020-09-22 12:14] avikivity commented on #6867
Please explain what "creating schema with time difference more than 10 sec between nodes, cause the c-s command failed". I don't understand the scenario.

[2020-09-22 12:46] avikivity commented on #7232
@slivne done

[2020-09-22 13:05] denesb commented on #7208
@aleksbykov please rename the issue to: "evictable_reader: out-of-range range tombstones emitted on reader recreation cause fragment stream monotonicity violations"

[2020-09-22 13:15] denesb commented on #7208
Patch on the list: [PATCH v2 0/5] evictable_reader: validate buffer on reader recreation

v2 also includes a fix for this issue, in addition to a validator that should catch such issues in the future.

[2020-09-22 13:26] aleksbykov commented on #7208
Done

[2020-09-22 13:38] aleksbykov commented on #7267
No any allocations warning in logs, except error messages before Stacktrace and coredump on node3

[2020-09-22 13:47] denesb commented on #7208
@aleksbykov you can destroy any nodes left over from the cluster.

[2020-09-22 14:27] #7230 closed

[2020-09-22 14:27] #7263 closed

[2020-09-22 15:02] nyh commented on #7261
I sent a patch to fix this, titled "redis: fix yet another object lifetime bug in "exists" operation".

It was (yet another) use-after free, introduced in commit bd82b4fc0300be93c80e5205fc01ff5dceb7f07f. The underlying reason for this bug is that after @locked 's new redesign of the Redis "commands", the "request" object is now passed into a command as a temporary object (request&& req). This mean

[2020-09-22 15:08] denesb commented on #7256
Patch on the list: [PATCH v1] reader_permit: reader_resources: make true RAII class

[2020-09-22 17:33] espindola commented on #7046
patchelf 0.12 is now in fedora. Could you please update the dbuild image? Thanks.

[2020-09-22 17:37] piodul commented on #7257
This abort happens in the destructor of `end_point_hints_manager` and is triggered if the `stop()` method is not called before end point manager's destruction.

It was triggered by the `_ep_managers.clear()` line in the `db::hints::manager::drain_for()` function. The `drain_for` function was called because the node was being decommissioned.

https://github.com/scylladb/scylla/blob/c1e8d077a46fd4db

[2020-09-22 17:55] avikivity commented on #7046
our dbuild image already has patchelf-0.12 (but we don't yet have a multi-arch docker image).

[2020-09-22 18:08] espindola commented on #7046
How do we build rpms on aarch64?

[2020-09-22 18:13] avikivity commented on #7046
We don't have automated build yet. I just start a fedora 32 container and run ./install-dependencies.sh.

I do plan to create multi-arch images once it builds reliably.

[2020-09-22 18:20] espindola commented on #7046
So, anything left to do on this bug or can we close it?

[2020-09-22 18:54] slivne commented on #5232
@penberg I know  we had an AMI created manually - now that we promote the debug rpms as well can we pre install them in a debug AMI ?

[2020-09-22 20:06] locked commented on #7261
Thank you for the investigation, indeed I finally managed to reproduce it using the debug version (causing a crashed, not just a test failure).

I don't think there are other issues, but I am looking into the change from request&& to request& to make it more robust.

Finally, I think it's simpler to replace the do_with+do_for_each by map_reduce : from what I understand it also fixes the current is

[2020-09-22 20:58] #7256 closed

[2020-09-22 22:46] roydahan commented on #6925
Looks like it works (tested on 666.development.20200916.f6f9f832e)

[2020-09-22 23:53] amoskong commented on #7150
There are some big stall (3000+ms) in some nemesis (eg: `rebuild_streaming_err`) even with very small workload (cs threads=1).
It causes the c-s workload failed, so the problem isn't workload heavy, but scylla itself.

c-s failed after job executed 3 hours and 40 mins. (cs workloads works well with other nemesis)
total execute time: 4 hours.

## Test info

Test job: https://jenkins.scylladb.com/jo

[2020-09-23 01:11] asias commented on #7025
@eliransin has a fix for the hint priority inversion which might help.  @eliransin did you manage to run the test with you fix using byo? Do you want QA to run another test with your fix below?

[code]

[2020-09-23 01:13] asias commented on #7249
Can I download the monitor data somewhere?

[2020-09-23 01:23] asias commented on #7249
Refs: https://github.com/scylladb/scylla/issues/7025 because we see similar smp_service_group semaphore timeout https://github.com/scylladb/scylla/issues/7249#issuecomment-695918802

[2020-09-23 02:26] aphyr commented on #7258
Huh, okay! The [error docs](https://docs.datastax.com/en/devapp/doc/devapp/driversServerErrors.html) are remarkably unhelpful about what an UnavailableException actually means--thanks for clearing that up! I managed to dig up an old [Cassandra blog post](https://www.datastax.com/blog/2014/10/cassandra-error-handling-done-right) which mentions UnavailableExceptions in the context of LWT, and... I t

[2020-09-23 03:42] aleksbykov commented on #7249
@asias  you can download whole monitoring stack + prometheus snapshot by link: https://cloudius-jenkins-test.s3.amazonaws.com/cf34e4a2-b2a3-4eba-b1a7-256d86d876aa/20200918_200624/monitor-set-cf34e4a2.zip

[2020-09-23 03:55] denesb commented on #7256
Backporting to 4.2 should be trivial. I will prepare a backport for 4.0/4.1 as those have quite different code around reader permits.

[2020-09-23 05:50] gleb-cloudius commented on #7258
On Tue, Sep 22, 2020 at 07:26:47PM -0700, Kyle Kingsbury wrote:

Note that the behaviour I described here is specific for Scylla.
IIRC Cassandra does not check availability again before attempting
the "learn" stage and will just timeout.

This is a philosophical question :) What it means for an operation to
succeed? If a user writes with "learn" CL set to QUORUM it may rightfully
expect to be able

[2020-09-23 07:00] amnonh opened #7270 "Make repair progress metrics shorter and use label"
Commit 7c8728dd735eecc5d2dae9350c606a28a3ec5876 added repair-based operation metrics.
There are two issues with those metrics:
1. The name is long for example: scylla_node_maintenance_operations_rebuild_finished_percentage
2. The self reporting metrics (i.e. metrics that a node report about itself) would be better off using a single metric differ by label.
this way a user of that metric can check

[2020-09-23 07:19] bhalevy commented on #7262
Still happens, reopening...

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/613/artifact/logs-release.2/1600801102911_replace_address_test.TestReplaceAddress.replace_nonexistent_node_test/node4.log

[2020-09-23 07:41] asias commented on #7249
What operation was running at 1) and 2) below? It is not clear to me if we have big ops drop during decommission and bootstrap. Or we any have the big drop during nodetool cleanup ops.

![drop-ops](https://user-images.githubusercontent.com/320076/93981809-03073a00-fdb3-11ea-8755-7e97d07f67ad.png)

[2020-09-23 07:54] asias commented on #7249
We do not see reports of such drop during bootstrap using repair based node ops, do we?

This suggests the issue is indeed related to a node down which brings hinted handoff.

[2020-09-23 07:56] asias commented on #7249
May I suggest running a replacing test (only replace nemesis) without hinted handoff?

[2020-09-23 08:02] avikivity commented on #6925
I'll start the backport train.

[2020-09-23 08:07] aleksbykov commented on #7249
yes, i can run it

[2020-09-23 08:11] avikivity commented on #6925
Backported to 4.0, 4.1, 4.2.

[2020-09-23 09:01] bhalevy commented on #6833
Hit again, reopening...

Scylla version 75e72d18d20c83b2421efe12d074e2b081447d59
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/613/artifact/logs-release.2/1600807558268_update_cluster_layout_tests.TestUpdateClusterLayout.simple_add_new_node_while_schema_changes_test/node4.log
[code]

[2020-09-23 09:27] xemul commented on #7262
@bhalevy , the fix is a75b0486, but git log says that it was committed _after_ 75e72d18

[2020-09-23 09:36] avikivity commented on #7150
Can you decode the stall?

[2020-09-23 09:37] #7046 closed

[2020-09-23 09:42] psarna commented on #7072
Note: while a total limit for concurrent statements is quite easy to check, separate limits for reads and writes would need to be checked considerably later - because the statement must first be parsed in order for Scylla to know if it's a read or write request. I initially thought that CQL protocol has separate opcodes for reads/writes but it's not the case. It also gets a little bit more complic

[2020-09-23 09:50] psarna commented on #7072
Also, we currently have metrics for the total number of outstanding requests, but that counter is not split per request type (read/write). That would need to be changed as well, and these metrics need to be propagated to cql query processor, since that's where it's possible to see what kind of statement it is.

[2020-09-23 09:57] avikivity commented on #7072
In the general case, a single request can cause a large number of requests, and some of those can be performed in parallel. A request can map to very little load (CL_ONE from the same node/shard satisfied from cache) to a lot of load (indirection through an index, many sstable reads, each sstable read requiring a large partition index traversal, filtering away many tombstones and rows by WHERE cla

[2020-09-23 10:02] psarna commented on #7072
I agree that in general this limit is not very meaningful, but if it can actually help some users recover from OOMs by setting a couple of parameters, then it may still make sense to add this. Under the assumption that a crude mechanism is still better than no mechanism.

[2020-09-23 10:07] bhalevy commented on #7262
Sorry, I got confused by the (incomplete) original fix: e43d6d146013a3cd0b75cfb070254bc8da9c0f5d

[2020-09-23 10:07] #7262 closed

[2020-09-23 10:23] denesb commented on #5718
Doesn't convince you of what? That this feature is needed at all? That it should be in the existing `reader_concurrency_semaphore`? Something else?

Admitting new reads only when all current ones are waiting on I/O doesn't contradict what you are saying, and it certainly doesn't prevent us from implementing restriction on I/O concurrency. But that is not what this issue is about.

In short, it doe

[2020-09-23 10:31] avikivity commented on #5718
Let's define reader_concurrency_semaphore's mission as "keep concurrency as low as possible, not not lower".

Why is low concurrency important?
 - High concurrency results in high memory consumption. Even before OOM, that comes at the expense of cache.
 - High concurrency increases the average latency of admitted requests. This is bad, because the average latency of successful requests is at least

[2020-09-23 10:36] avikivity commented on #7072
I don't think we can separate read and write. It somehow works now, but already we have requests that mix read and write (LWT). Also, if the same connection mixes read and write requests, and we hit (say) the read limit, then we won't read write requests either (head-of-line blocking).

We already have a solution for this in scylla-enterprise, workload prioritization, where we limit by workload in

[2020-09-23 10:48] psarna commented on #7072
Then perhaps allowing to set a single concurrency limit for all types of requests makes some sense. It's also really easy to implement on top of current metrics. The use case I have in mind is where a cluster chronically fails because of concurrency spikes, so a field engineer sets a magic number of `50'000` requests tops and continue to investigate the root cause, while the cluster at least stops

[2020-09-23 10:48] avikivity commented on #7267
Ok. I'll look at the core dump.

[2020-09-23 10:49] avikivity commented on #7267
Where can I find it?

[2020-09-23 10:52] avikivity commented on #7072
It makes sense to have an upper limit (more or less equivalent to increasing the baseline memory consumption estimate).

Note that too little concurrency can cause availability failures. A write consumes a slot as long as we're missing an ack, and if a node is down, we'll run out of slots if it takes too long to detect it is down.

Similarly, it will limit throughput if we have cross-datacenter re

[2020-09-23 10:54] aleksbykov commented on #7267
It available by link https://storage.cloud.google.com/upload.scylladb.com/core.scylla.996.91dd723deeca4a429a3afa7f6ef444b1.18629.1600707924000000/core.scylla.996.91dd723deeca4a429a3afa7f6ef444b1.18629.1600707924000000.gz

[2020-09-23 10:58] eliransin commented on #7025
@aleksbykov Yes, I want to run it with the fix so I can validate it solves it (which might not be the case).
Do we have some kind of byo for this reproducer? (wih HH on)

/cc @asias

[2020-09-23 11:12] #7237 closed

[2020-09-23 11:28] bhalevy commented on #7150
what are the client and server request timeouts?
In dtest we multiply the timeout by 3 for debug mode.
See https://github.com/scylladb/scylla-dtest/blob/f32aef3edd705359fbaf74a1ef05137e961bf675/dtest.py#L649-L662

[2020-09-23 11:32] aleksbykov commented on #7025
@eliransin you could prepare the rpm file and upload it somewhere on scratch.scylladb.com and i will prepare the byo reproproducer to run job with your fix

[2020-09-23 12:53] vladzcloudius commented on #7072
@avikivity our current limits are only good for avoiding OOM situation and proven to be useless when you need to control the latency SLA.

This proposal is mostly about controlling the latency.

However controlling that we don't run out of memory should be done internally and is out of scope of this proposal.

As to your claim that counting CQL requests is not meaningful: each CQL requests queue u

[2020-09-23 14:12] avikivity commented on #7257
[code]

[2020-09-23 14:13] avikivity commented on #7257
half-gigabyte reserve, nice

[2020-09-23 14:44] avikivity commented on #7257
The mutation we write is only 1MB, but the reserve could have been increased in a previous write.

[code]

[2020-09-23 14:46] avikivity commented on #7257
Strange that a write has a large std reserve. Why would it need to reserve anything?

[2020-09-23 14:52] piodul commented on #7257
Ummm... @avikivity , did you mean to comment under #7267 (the last-but-one digit is 6, not 5)?

[2020-09-23 15:02] avikivity commented on #7267
[code]

[2020-09-23 15:03] avikivity commented on #7267
half-gigabyte reserve, nice

[2020-09-23 15:03] avikivity commented on #7267
The mutation we write is only 1MB, but the reserve could have been increased in a previous write.

[code]

[2020-09-23 15:04] avikivity commented on #7267
Strange that a write has a large std reserve. Why would it need to reserve anything?

[2020-09-23 15:04] avikivity commented on #7257
Moved to correct issue (I hope). Thanks.

[2020-09-23 15:04] kbr- commented on #7251
We concluded on a call that it's safest if the current restrictions stay. The client can either use server-timestamps or, if their request gets rejected due to belonging to an earlier generation, simply repeat it with a higher timestamp (note that with this error the client knows that  the write was a definite failure).

[2020-09-23 19:56] locked commented on #7261
I sent an RFC/PATCH for the request&& to request& change .

Concerning the _state field of request, it seems to be used in redis/protocol_parser.rl

[2020-09-23 20:36] locked opened #7273 "redis 'exists' command fails with lots of keys"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 6438c7cc2de49fe6c48bedd81a7b75e36ec00a7f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

When trying to add a test case for the 'exists' command using lots of keys, I found that it was passing with redis but failing with scylla, returni

[2020-09-23 21:32] nyh commented on #7261
Thanks, I'll try to look at it tomorrow.

Yes, I saw it was used, but I didn't understand why it needs to be inside the "request" object. None of the existing operations seem to read this field when they get the request. It's not critical, it's not another loose end I noticed when reading the code.

[2020-09-24 00:18] rmb938 opened #7274 "Restarting node ends up with high phi on node"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.7 (tested on 4.2.rc4 as well)

[2020-09-24 01:29] dorlaor commented on #7274
I googled this (hard to compute the Phi formula in my head) and found
that only from a level of 8 a node is considered down, so you're good,
it makes sense that the reboot caused gossip messages to get lost.

On Wed, Sep 23, 2020 at 5:19 PM Ryan Belgrave <notifications@github.com>
wrote:

[2020-09-24 01:44] rmb938 commented on #7274
Yup I know that when phi > 8 a node is considered down, but that isn't really the issue here.

When a node is restarted it's own failure detector phi endpoint starts reporting it's own node in the list, it didn't before the restart. It also is saying that itself has a high pie value when it shouldn't. The node isn't down, it's acting normally and can take queries.

You can see in my code blocks, b

[2020-09-24 03:42] amoskong opened #7276 "scylla_prepare: 'get_set_nic_and_disks_config_value' is not defined"
*Installation details*
Scylla version (or git commit hash):  scylla.x86_64 0:666.development-0.20200922.c1e8d077a
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description

https://github.com/scylladb/scylla/pull/7102/files (Simplify scylla_util.py #7102) moved `get_set_nic_and_disks_config_value()` from `scylla_utils.py` to `dist/common/scripts/scylla_sysconfig_setup`.

But it sti

[2020-09-24 05:08] amoskong commented on #7150
[code]

[2020-09-24 05:10] amoskong commented on #7150
Thanks, I'm running another longevity with longer request timeouts:

[code]

[2020-09-24 05:37] dorlaor commented on #7274
So far we've never had a problem and usually people do not check it as all.
@Asias He <asias@scylladb.com>, what's your take?

Congrats for leaving C* (we'll assist!)

On Wed, Sep 23, 2020 at 6:44 PM Ryan Belgrave <notifications@github.com>
wrote:

[2020-09-24 06:18] asias commented on #7274
@rmb938 Hello, I guess the weird entry for itself after restart is related to "My nodes are setup to use a broadcast address that points to a DNS record which resolves to a static ip address. They are also setting the rpc broadcast address to a different static ip address."

No one is updating the entry for

[code]
So, as time goes by, it increases all the time.

Can you check nodetool gossipinfo

[2020-09-24 06:28] bhalevy commented on #7150
The stall looks like https://github.com/scylladb/scylla/issues/5192

[2020-09-24 06:37] eliransin commented on #7025
Thanks for your help @aleksbykov , this fix is going to be in 4.2.rc5 so I'll just ping you when it is out.

[2020-09-24 07:22] jul-stas opened #7277 "Shard awareness - rare misrouting of connection"
On a fresh master, e.g. a2cc599a2a026e4cc07eb61653ff8a42af4e490e, experimental advanced-shard-aware cpp-driver said:
[code]
There are 4 shards, so 50008 should connect to shard 0. There is no NAT.
It hapens rarely, once in a few hundred connections.

EDIT: AFAIK drivers are resilient to this, because dealing with NAT is a standard procedure. E.g. cpp-driver is unaffected, but the origin of this er

[2020-09-24 08:14] denesb commented on #7256
This backported suprisingly smoothly to 4.1/4.0. Patch on the list: [branch-4.1] reader_permit: reader_resources: make true RAII class.

[2020-09-24 08:58] tarzanek commented on #7265
I've opened a PR, the default output however differs a bit from what you pasted @gnumoreno :
[code]
what output is current? resp. what output are we compatible against?

[2020-09-24 09:15] slivne commented on #7277
isn't routing based on the destination port in scylla ?  so is int 19042 that defined the shard to be connected to not 50008 ?

[2020-09-24 09:16] slivne commented on #7277
We have to fix this bug or shardawarness will not work for customers in the field with the new drivers

[2020-09-24 09:20] avikivity commented on #7150
This is at initialization. We should disable the stall detector during startup.

[2020-09-24 09:23] slivne commented on #7267
Can we potentially hold a lot of memory because of the repair based operation running in the background ?

[2020-09-24 09:23] jul-stas commented on #7277
Destination port 19042 pays attention to the client-side port. So it should connect the client to shard `50008 % 4 == 0`.
We decided to do it this way to avoid opening too many server-side ports.

[2020-09-24 09:24] tarzanek commented on #7265
fwiw this was merged to java-tools as https://github.com/scylladb/scylla-tools-java/commit/4313155ab636209a773f05593c37eb5cae834a09

[2020-09-24 09:31] slivne commented on #7242
Gemin patch was merged - GoCQL change is still in review and discussion.

[2020-09-24 09:35] slivne commented on #7265
@roydahan  fix is being merged - need to write a test

[2020-09-24 09:38] slivne commented on #7181
closing this for now

[2020-09-24 09:39] slivne commented on #7171
@powellchristoph can you please share the additional information asias requested above - we will be happy to help and resolve this

[2020-09-24 09:42] slivne commented on #7154
@avikivity can I close this ?

[2020-09-24 10:22] piodul commented on #7257
Well, I didn't find any definitive proof, nor anything in the core that would disprove my explanation. End point hints managers don't really keep track when they were created, or how many hints were written by them (we count it but on a per-shard basis, not per-node basis). I found that the offending ep manager's commitlog had metrics which indicated that only two mutations were written to it - wh

[2020-09-24 11:12] avikivity commented on #7036
@penberg ping

[2020-09-24 12:12] avikivity commented on #7154
Prometheus is in the maintenance group.

[2020-09-24 12:12] avikivity commented on #7154
Closing as invalid.

[2020-09-24 12:38] anancds commented on #5638
after applying this, my issue is fixed,thanks

[2020-09-24 12:56] nyh commented on #7249
There are many many things that might have gone wrong in this test, but since it was mentioned that the problem does not happen without the combination **materialized views** and **repair**-based operations, I can't help but think about the recent problems we saw with this combination, and @denesb already fixed some (e.g.,  00155e32b1d6d60c038def3e0409882bdcfbfea9 in 4.2) and maybe we still have m

[2020-09-24 13:06] nyh commented on #7154
There is one small benefit of adding a special scheduling group for the gossiper: Today, every time we see in some benchmark too many tasks in the main group, we immediately suspect the gossiper. If the gossiper had its own group, if we would still see a lot of tasks in the main group we would know we have some sort of bug somewhere, and stop suspecting the gossiper.

[2020-09-24 13:20] aleksbykov commented on #7249
@asias i starte the job with disabled hinted_handoff and only replace nemesis:
Here is a live monitor. http://13.53.118.130:3000/d/sIDx8mKGz/scylla-per-server-metrics-nemesis-master?orgId=1&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&var-sct_tags=InfoEvent&var-sct_tags=DisruptionEvent&from=1600948688010&to=1600952925985
all nodes:
[code]

![Screenshot from 2020-09-24 20-19-2

[2020-09-24 14:25] bhalevy commented on #7050
@tgrabiec you were looking into use-after-free issues with stream. does this look familiar?
https://github.com/scylladb/scylla/issues/7050#issuecomment-677525123

[2020-09-24 15:07] avikivity commented on #7154
That's a valid point. We may need to increase the maximum number of scheduling groups, if we keep adding more.

[2020-09-24 15:14] avikivity commented on #7249
![image](https://user-images.githubusercontent.com/1017210/94164305-8dbe6680-fe91-11ea-89ab-0cd9e5bec423.png)

![image](https://user-images.githubusercontent.com/1017210/94164453-ba727e00-fe91-11ea-9643-75af8480b72f.png)

Looks like the culprit is in compaction. Please decode the stalls.

[2020-09-24 15:42] nyh commented on #7249
Something really bugs me here. Even if the new node is somehow "hung", unable to perform reads because of problems I mentioned, or stuck in compactions because of things Avi noticed, etc. - why does the throughput of the entire cluster drop down to zero or almost zero (55 requests per second)? If I understood correctly, this workload had both reads writes. Even if writes hang (more on this below),

[2020-09-24 16:03] rmb938 commented on #7274
Yup that is my guess. I don't know why though as the IP that the dns record resolves to doesn't change, it's always the same for the same node. The only IP that changes is the `rpc-address` and  `listen-address`, which  is different then the `broadcast-address` and `broadcast-rpc-address` ones.

Gossip looks normal, it isn't reporting any nodes are down. It's only phi that looks weird.

Before Res

[2020-09-24 16:26] avikivity commented on #7249
That's standard. One node doesn't respond. Requests to other nodes are completed and replaced by new requests. If these are also to other nodes, they are also completed and replaced. Eventuall, all requests are replaced by requests to the stalled node.

"the cluster runs at the speed of the slowest shard"

(when concurrency is a given)

[2020-09-24 16:55] avikivity commented on #7265
Fixed by d45df0c705aea1d1dca9d06021bee9fac5dcc8e7

[2020-09-24 16:55] #7265 closed

[2020-09-24 17:44] #7257 closed

[2020-09-24 21:11] kostja commented on #7170
https://github.com/scylladb/scylla-docs/pull/3150

[2020-09-25 04:22] asias commented on #7249
@nyh please note, with repair based node replace ops in this test, the reason for the repair is replace, so the view build process will not run for the sstables generated by node ops.

However, after "Make replacing node take writes"  (d78fbf7c1677a6d30d9f4c24796147c45b582871), the replacing node now takes write. The replacing node is now like the bootstrap node, which takes writes. So we have a t

[2020-09-25 04:39] penberg commented on #7207
Yes, the backport to 4.2 is indeed https://github.com/scylladb/scylla-jmx/commit/ade4edaa20349c84cacd70e8caec1764986ed96d (in `scylla-jmx.git`).

[2020-09-25 05:49] asias commented on #7249
What do you mean by "replaced" in "Requests to other nodes are completed and replaced by new requests"?

[2020-09-25 05:57] asias commented on #7249
@aleksbykov Thanks! The replace nemesis only+ without hinted handoff is very useful. Could you please run the same but without MV tables, i.e., replace nemesis only + without hitned handoff + without MV tables?

IIRC, we do not see such cql operation drop with bootstrap operations, right?

[2020-09-25 06:49] asias commented on #5971
The link is dead. I want to revive this work. The extra unnecessary traffic is fine to a cluster in a good shape but when some of the node or shards are loaded, such messages and the handling of such messages can make the system even busy.

[2020-09-25 06:49] asias commented on #5970
I wanted to revive this work. The extra unnecessary traffic is fine to a cluster in a good shape but when some of the node or shards are loaded, such messages and the handling of such messages can make the system even busy.

[2020-09-25 07:06] aleksbykov commented on #7249
@avikivity i checked logs, No any reactor stalled were found in logs. I set reporting any reactor stalled more than 200ms.

[2020-09-25 07:26] avikivity commented on #7249
Please set it to 20ms (and let's change the default throughput QA).

[2020-09-25 07:49] asias commented on #5200
I want to revive this work. The extra unnecessary traffic is fine to a cluster in a good shape but when some of the node or shards are loaded, such messages and the handling of such messages can make the system even busy.

[2020-09-25 07:57] asias commented on #7249
@aleksbykov the metric did not look like generated during the original test. The time frame in the log for original tests was 2020-09-16 but the metrics are for 2020-09-18.

[2020-09-25 08:08] denesb commented on #7249
@nyh the bugs I fixed around view update generation together with repair caused repair to block forever, not what we see here. AFAIK all relevant patches were backported to 4.2.

[2020-09-25 08:38] aleksbykov commented on #7249
@asias
Here is from original test: https://cloudius-jenkins-test.s3.amazonaws.com/ca850009-fb1d-4d43-ac60-0fdbce75cc71/20200916_203618/monitor-set-ca850009.zip

Small notice: job started by your request( replace nemesis only + without hitned handoff + without MV tables)

[2020-09-25 10:27] aleksbykov commented on #7249
@asias
Here is link to live monitor: http://13.48.13.161:3000/d/6csxeMKMk/scylla-per-server-metrics-nemesis-master?orgId=1&from=1601022825390&to=1601026972918&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&var-sct_tags=InfoEvent&var-sct_tags=DatabaseLogEvent&var-sct_tags=DisruptionEvent
where: replace nemesis only + without hitned handoff + without MV tables
We have also fall d

[2020-09-25 10:30] aleksbykov commented on #7249
No any reactor stalls. Scylla was started with reporting reactor stalls with 20ms

[2020-09-25 10:33] denesb commented on #6365
My plan is as follows. Introduce two new configuration variables:
* seastar_dump_mem_analysis_on_bad_alloc : {always, critical, never}, default to critical (more on this later)
* seastar_dump_mem_analysis_to : {log, file}, default to log
The latter raises some questions: should all reports go to the same file? If not, this has to be a dir and each report goes to a separate file. If we make it a di

[2020-09-25 10:51] asias commented on #7249
Thanks! It drops from 40K to 10K. Not like before dropped from 25K to ~0K.

[2020-09-25 10:54] asias commented on #7249
@albertjosearaujo when did the replace ops start and end exactly 08:56 to 09:10? And the drop happens only during the very end of the ops?

![2020-09-25_18-52 no mv no hint](https://user-images.githubusercontent.com/320076/94258983-55d22480-ff60-11ea-97d7-6c5c9239fe6d.png)

[2020-09-25 10:59] asias commented on #7249
The drop happens when the compaction goes crazy around 09:10.

![2020-09-25_18-57 compaction time](https://user-images.githubusercontent.com/320076/94259409-ff191a80-ff60-11ea-9850-546023ec1684.png)

[2020-09-25 11:52] syuu1228 commented on #7276
This should fixed by https://github.com/scylladb/scylla/commit/eae2aa58faa7e8f04e000887766b9b3c47038794

[2020-09-25 14:17] powellchristoph commented on #7171
Sorry for the late update. Due to production issues, I was unable to wait and had to spin up a replacement datacenter using the latest version and moved all clients over. The old nodes have been decommissioned and I no longer have access.

[2020-09-25 16:47] page4 opened #7284 "list-initialization in g++ is not exception safe"
https://github.com/scylladb/scylla/blob/fd293768e73673e156e7645a5f869aa621a3a7a3/mutation_reader.cc#L708
Sorry, the code fragment is in branch-3.3.
The problem is that if reader_factory throws, the permit will be leaked.
It seems like a g++ bug.

https://stackoverflow.com/questions/43680035/does-the-c-standard-guarantee-that-uniform-initialization-is-exception-safe

The master branch is still usin

[2020-09-25 17:41] tgrabiec commented on #7050
Looks similar to https://github.com/scylladb/scylla/issues/4789

[2020-09-25 18:48] #7208 closed

[2020-09-25 18:48] #7276 closed

[2020-09-25 20:57] espindola commented on #6795
Was this fixed by disabling compression?

[2020-09-26 10:16] bhalevy commented on #2347
We can close the reporting part.
We have now better coverage of testing of corrupt sstables using the scrub compaction dtest that inserts random corruption into sstables and compacts them using scrub compaction.
let's open particular issues based on mid-handling of corrupt sstables as we identify them.

[2020-09-26 10:16] #2347 closed

[2020-09-26 10:18] bhalevy commented on #3014
@xemul please own this wrt your efforts to de-globalize storage_service

[2020-09-26 10:22] bhalevy commented on #4149
Closing with a5369881b3e8b7ab004e520fe71fe39389e87e89

[2020-09-26 10:22] #4149 closed, assigned to espindola, bhalevy

[2020-09-26 10:30] bhalevy commented on #6795
@kostja can you please try to reproduce (since you're working on Ubuntu IIRC)?

[2020-09-26 10:31] bhalevy commented on #6952
@denesb transferring ownership of this issue to you...

[2020-09-27 06:06] keef-cognitiv opened #7285 "Scylla 4.1.7 crashing on repairs (uncaught exceptions)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.7-0.20200918.2251a1c577.x86_64

[2020-09-27 09:12] avikivity commented on #7249
The client code looks something like

while (has_more_work()) {
    issue_request_sync();
    sleep(compute_sleep_time());
}

when a the loop starts a new iteration, it replaces the previous request it issued in the previous iteration.

[2020-09-27 09:37] avikivity commented on #7285
@denesb looks like `print` is not a good name for systems using python2.

@keef-cognitiv you can work around the gdb problem by opening the core dump on a system that uses python3, like a modern fedora. The same scylla rpms should install there.

[2020-09-27 10:34] keef-cognitiv commented on #7285
I'll look into spinning up a fedora AMI w/ the scylla yum sources on a machine that can fit this massive core dump. Meanwhile, perhaps a better sample:

[code]

This one was preceded by zero errors in the logs.

When I do get another AMI up, what outputs should I be capturing from the scylla gdb extensions? Since that'll be a temporary instance solely for getting output from the core dump it would

[2020-09-27 12:17] syuu1228 opened #7286 "Got offline mode warnings on nonroot mode"
Since we defined that nonroot mode is part of offline mode, scylla_setup interactive mode shows up "XXX setup is disabled by default, since the installation is offline mode", but nonroot mode does not able to run them anyway since these scripts requires root privilege.
So it probably should not shows up on nonroot mode.
[code]

[2020-09-27 12:36] syuu1228 opened #7288 "nonroot: systemctl --user enable scylla-server.service failed on Ubuntu 18"
Seems like `systemctl --user enable scylla-server.service` failed because of symbolic link:
[code]

Even though, symlink seems working:
[code]

Maybe we should stop using symlink for this, we can just copy these unit files.

[2020-09-28 01:08] asias commented on #7285
This looks like there was pretty big memory pressure.  One workaround is to reduce the parallelism of repair and make repair use less memory. If you use scylla manager, you reduce the number of ranges per repair.

@avikivity This is an example how https://github.com/scylladb/scylla/pull/4848 would help in practice. The automatic 10% memory allocation to repair does not work for all the use cases a

[2020-09-28 01:34] asias commented on #7249
@aleksbykov reported no stalls https://github.com/scylladb/scylla/issues/7249#issuecomment-698854270.
@avikivity @bhalevy What can we do with the compaction to reduce the latency? The max cql drop is 75% from 40K to 10K.

[2020-09-28 04:24] denesb commented on #7285
This was fixed already by b11d181413. @keef-cognitiv use `scylla-gdb.py` from latest master, it should be backward compatible with all live releases.

[2020-09-28 09:23] kbr- commented on #7242
@slivne I only created an issue, did someone propose a patch?
In any case, in the test discussed in the issue we don't use tracing -- it was enabled due to the gemini bug (https://github.com/scylladb/gemini/issues/247) which is already fixed in the latest release, so the test doesn't make any tracing queries now, hence it doesn't really matter whether gocql supports shard awareness for tracing (fo

[2020-09-28 09:32] syuu1228 commented on #7133
I think user@1000.service decreasing NOFILE for user systemd units, at least on Ubuntu 18.
I added scylla_prepare as ExecStartPre and modify the script to print NOFILE as follows:
[code]

Even hard limit of NOFILE on standard process is 1048576, scylla_prepare reports ` (1024, 4096)`.
The output is same as what user@1000.service says, so it looks like we cannot have lager value than that.
But 4096

[2020-09-28 09:34] syuu1228 commented on #7133
Unlike Ubuntu 18, I don't find any `Limit` on CentOS8's user@1000.service:
[code]

[2020-09-28 09:56] syuu1228 commented on #7133
All Debian variants except Ubuntu 18 does not find any `Limit`, too:

Ubuntu 20.04LTS:
[code]

Debian 9:
[code]

Debian 10:
[code]

[2020-09-28 10:03] syuu1228 commented on #7133
Ahh, I just posted user@1000.service values on our supported distributions, but I did `systemctl cat user@1000.service`, it shows up different value with `systemctl show user@1000.service`, so I need to re-run it and post the result again.

[2020-09-28 10:11] aleksbykov opened #7291 "Warning that schema versions differ on nodes after scylla was restarted with require resharding"
*Installation details*
Scylla version (or git commit hash): 4.2.rc4-0.20200923.2893f6e43 with build-id 35882560db8cf11bd2758115c78cb9be2bd1e49b
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0c817026ae562d228(eu-north-1)
aws instance type: i3.4xlarge

During this job https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-100gb-4h-test/65/ sct detect that schema version are n

[2020-09-28 10:11] denesb commented on #7284
`permit` will release the resource units when destroyed. The only way to leak here is if destructors are not called on unwinding.

[2020-09-28 10:23] syuu1228 commented on #7133
Seems like only new distro has larger value of LimitNOFILE, if it applied as hard limit, we should see `NOFILE rlimit too low` error on CentOS8 too.

CentOS8
[code]

Ubuntu16
[code]

Ubuntu18
[code]

Ubuntu20
[code]

Debian9
[code]

Debian10:
[code]

[2020-09-28 10:24] syuu1228 commented on #7133
I did one more mistake: I mistakenly had tried reproduce the issue on Ubuntu 16, not 18.
https://github.com/scylladb/scylla/issues/7133#issuecomment-699894940

I going to try on Ubuntu 18, and also other distros.

[2020-09-28 11:01] syuu1228 commented on #7133
Confirmed able to reproduce the issue on Ubuntu 18, too.
[code]

[2020-09-28 11:49] aleksbykov commented on #7104
Issue reproduced for scylla version:  4.2.rc4-0.20200923.2893f6e43 with build-id 35882560db8cf11bd2758115c78cb9be2bd1e49b during job https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/54/ on node 6.
All log available: https://cloudius-jenkins-test.s3.amazonaws.com/f4768bf6-52ff-4908-bd07-990497166ffb/20200927_092236/db-cluster-f4768bf6.zip

[2020-09-28 15:48] kostja commented on #6905
I believe this is a duplicate of https://github.com/scylladb/scylla/issues/5962

[2020-09-28 16:49] nemosupremo commented on #6925
Is this issue resolved? I'm trying to parse the issue I'm seeing. I recently upgraded from Scylla Open Source 2.2 to 4.0. My cluster starts normally and seems to be working fine with `internode_compression: all`, I can make queries at CONSISTENCY ALL (R=3). However my logs are completely full of:

[code]

The other IP addresses are the 2 other scylla nodes in this cluster.

[2020-09-28 17:11] slivne commented on #6925
This bug is resolved yet its not yet released we will spin new releases
with the fix

On Mon, Sep 28, 2020, 19:49 Nimi Wariboko Jr. <notifications@github.com>
wrote:

[2020-09-28 18:24] slivne commented on #7285
@keef-cognitiv can you upload a coredump https://docs.scylladb.com/troubleshooting/report_scylla_problem/#how-to-report-a-scylla-problem

[2020-09-28 18:40] slivne commented on #2222
@amnonh can you please check this out - I know you added support to secure jmx (and tested it somehow) - securing nodetool

[2020-09-28 19:18] aphyr commented on #7170
Kostja brought up that this might be due to batch-specific anomalies, so I wrote a second variant of the test to confirm single-row behavior. With perfectly synchronized clocks, a single row, and 500 reads/sec & 500 writes/sec, we see isolation violations roughly every 20 seconds.

[20200928T142938.000-0400.zip](https://github.com/scylladb/scylla/files/5294544/20200928T142938.000-0400.zip)

[2020-09-28 23:31] page4 commented on #7284
This is a sample to simulate the mutation_reader.
Leaks happen with both g++-9.3.0 and g++-10.2.0

[code]

[code]

[2020-09-29 01:17] asias commented on #7154
@avikivity in the past, I had a patch to run code with with_scheduling_group explicitly, you wanted to avoid it and use the inherited scheduling group. I think it is better to use with_scheduling_group as the scheduling is getting more and more complicated. It is hard to track what is inherited.

Per you comments here: https://github.com/scylladb/scylla/pull/7281#issuecomment-699611701.

If we run

[2020-09-29 04:23] tzach commented on #7170
The following docs are updated with by scylladb/scylla-docs#3150

- https://docs.scylladb.com/getting-started/dml/
- https://docs.scylladb.com/getting-started/types
- https://docs.scylladb.com/kb/lwt-differences
- https://docs.scylladb.com/using-scylla/lwt

[2020-09-29 04:38] denesb commented on #7284
I cannot reproduce this, I tried with GCC `10.2.1 20200723`. I compiled my program as:
[code]

[2020-09-29 06:18] lauranovich commented on #2222
Following as this is a doc issue as well.

[2020-09-29 06:37] bhalevy commented on #7249
@asias our plan is to do off-strategy compaction of the repaired sstables

[2020-09-29 06:44] page4 commented on #7284
I retest it on https://gcc.godbolt.org/z/3aGWW5 .
Reproduce with gcc-8.3, while gcc-9.1 doesn't.
Maybe it's my gcc that go wrong.

[2020-09-29 06:50] avikivity commented on #7284
The example in the bug report fails with gcc 10.2. Clang gets it right.

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=66139

[2020-09-29 06:56] avikivity commented on #7249
There is nothing crazy at 09:10, at least the info box you quoted - compaction uses up to 12% of cpu time (please verify it is consistent with the shares).

What's important are the huge task quota violations. We need to figure out what they are. Most likely something related to token_metadata or sstable_sets at the beginning or end of the operation.

[2020-09-29 07:31] asias commented on #7249
It makes is more efficient to compact but I am not sure this will help eliminate the high latency and crazy compaction cpu usage.

[2020-09-29 07:35] avikivity commented on #7133
We will just have to live with it. Let's make setup warn that there will be limits on the total amount of data.

[2020-09-29 07:36] asias commented on #7249
@aleksbykov could you please confirm when the replace operation starts and ends? Is 1 the start and 2 the end in the graph below?
![start end](https://user-images.githubusercontent.com/320076/94527315-5c66e180-0269-11eb-89b2-070c2833804d.png)

[2020-09-29 07:36] avikivity commented on #7249
Compaction cpu usage is not high. It is below 20% at all times except for the stall-related spikes.

[2020-09-29 07:40] asias commented on #7249
By crazy, I mean the spikes both in time used and time spend in task quota violation spikes during 09:10.

[2020-09-29 07:41] asias commented on #7249
@aleksbykov reported no stall with 20ms stall detector.

https://github.com/scylladb/scylla/issues/7249#issuecomment-698854270

[2020-09-29 07:42] avikivity commented on #7249
Maybe it's lots of smaller stalls.

[2020-09-29 07:45] asias commented on #7249
Other than setting the stall detector to smaller number, anything else we can do to check the reason for the latency spike? How about rerun the test with 5ms stall detector?

[2020-09-29 07:51] avikivity commented on #7249
It's worth trying.

[2020-09-29 07:53] asias commented on #7249
@aleksbykov Could you please rerun the test with 5ms stall detector? Thanks!

[code]

[2020-09-29 07:56] avikivity commented on #7249
@asias it's also worthwhile if you try to reproduce. It looks like a straightforward scenario, no?

[2020-09-29 08:10] asias commented on #7249
The test is fully automated. What is the gain to reproduce it manually?

[2020-09-29 08:20] slivne commented on #7249
We did not have this issue with 4.1

Can we please run without repair based operations at this point - we had
enough days to explore whats the issue - so hints (but hints was claimed
the first bad part - but it was enabled in 4.1)

I expect repair based operations are creating different sstables that
stream based operations and that is causing the higher load compared to 4.1

Its time to test this

[2020-09-29 08:26] psarna opened #7294 "Support limiting the number of concurrent requests in alternator"
DynamoDB has a `RequestLimitExceeded` error type which can be returned if the number of concurrent requests is too high. A similar mechanism is going to be introduced for CQL soon (#7279), so we can piggy-back on it and use the same config variable to shed excessive requests.

semi-related: there's also `LimitExceededException`, but this one only applies to "concurrent control plane operations", q

[2020-09-29 08:32] fruch opened #7295 "AMIs based on centos 7 - are not identified as ENA supported by AWS"
All our AMIs based on centos built since Since a few days (24-25/Sep)
are not marked by AWS as EnaSupport (Enabling Enhanced Networking)

AMI created with branch-4.0, branch-4.1, and 2020.1, all doesn't have this flag:
[code]

AMIs created with master (i.e. base on Amazon Linux 2), have them (and also older ones then 24-25/Sep) :
[code]

packer log mention it's trying to set it, and looks the same

[2020-09-29 08:37] asias commented on #7249
The tests we have run so far:

1) replace nemesis only + without hitned handoff + with MV tables:  max drop of cql is from 25K to 0K
2) replace nemesis only + without hitned handoff + without MV tables  + 20ms stall detector:  max drop of cql is from 40K to 10K

The tests suggests MV is the biggest issue.

It is for sure repair based node ops has more sstables generated and more work to do than st

[2020-09-29 08:44] slivne commented on #7249
Asias

I can see you are making progress - but the fact is since QA have to run
this (and they are for every request you have) the cycles are days and not
hours. The exploration without views + hintted handoff is fine.

I do not mind we keep on doing the exploration - but I want to understand
if with old streaming we have the issue or not - if we don't we may decide
to disable repair_based_operati

[2020-09-29 10:19] roydahan commented on #7291
Sounds like #7200, doesn't it?

[2020-09-29 10:24] psarna commented on #7294
Hm, there's also `ThrottlingException` which has a very similar description... Theoretically, `RequestLimitExceeded` is described to be related to throughput limits, while `ThrottlingException` is about the rate of requests, but it also relates to control plane requests *unless* you're in on-demand mode. Quite complicated, but I guess it doesn't matter that much, since sensible driver implementati

[2020-09-29 11:08] slivne commented on #7208
@tgrabiec  please evaluate this for backport to 4.2

@denesb do we need this backported to 4.1 / 4.0

Checking with QA the weekend runs

[2020-09-29 11:11] slivne commented on #7249
@aleksbykov we agreed that we will test with repair_based_operations disabled (with MV + HH) and see whats our status - the exact same test.

[2020-09-29 11:17] slivne commented on #7257
@avikivity this failed on 4.2 testing please consider backporting

[2020-09-29 11:19] avikivity commented on #7257
Backported to 4.2, will backport further after more soak time.

[2020-09-29 11:27] denesb commented on #7208
@slivne yes, 4.0 and 4.1 are affected too.

[2020-09-29 11:30] dkropachev commented on #7127
Just got this issue on 4.1 when node is just about to start and join the cluster:
2020-09-25T03:25:42+00:00  rolling-upgrade-master-centos-db-node-245b5493-0-3 !INFO    | scylla[49388]: [shard 0] init - Shutting down sighup was successful
2020-09-25T03:25:42+00:00  rolling-upgrade-master-centos-db-node-245b5493-0-3 !ERR     | scylla[49388]: [shard 0] init - Startup failed: exceptions::mutation_wri

[2020-09-29 11:53] avikivity commented on #5200
Let's say table A always hits (small table) and table B always misses (large table). After a failure, HWLB will slowly warm up A and not care about B.  If we drop this logic, then we'll try to warm up both A and B. This increases the load on the survivors, since they need to handle more misses for table B.

[2020-09-29 11:55] avikivity commented on #5200
@haaawk I'd go for 100 tables, or even 50. 2000 is a huge number.

The config variable should be live updatable.

[2020-09-29 11:55] nyh commented on #7294
If we look at a specific request type, e.g, `GetItem`, https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_GetItem.html, or `PutItem`, Amazon specifies that it is only expected to return two exception types, not the ones you specified:

1. There is `ProvisionedThroughputExceededException` - this is the normal error that happens in normal cases - when you have provisioned throughput,

[2020-09-29 12:01] psarna commented on #7294
Makes sense. I don't have a strong preference and my first iteration indeed used `RequestLimitExceeded` instead of `ThrottlingException`, which I found later, so I'll just restore the original code.

[2020-09-29 12:08] dkropachev opened #7298 "docs: Coredump handling on the docker"
Currently there is no recipe on how to handle core dumped when you run on the docker.
It would be greate to have it.

https://lore.kernel.org/patchwork/patch/643798/

Here is the recipe:
[code]

[2020-09-29 12:24] amnonh commented on #2222
I tried to find what I did and the best I could find is:
https://groups.google.com/g/scylladb-users/c/udl1nrs6E78

Technically, scylla-jmx supports the java JMX-SSL authentication, so you can set it up like any other java SSL JMX programs and specifically Cassandra.
(scylla-jmx accept '-D' flags).

Note that by default, the remote SSL is set to false and jmx authenticate set to false.

[2020-09-29 12:48] avelanarius opened #7300 "Automatically cleanup old CDC generations"
#### Summary
When querying `system_distributed.cdc_streams_descriptions` it can return generations that are not used by any CDC log tables.

#### How you can cause it
For example if you create a CDC-enabled table with small CDC TTL (default now is 24h), change the topology of the cluster and wait 24 hours (default TTL setting) the previous generation will be unnecessary (granted there are no other

[2020-09-29 12:52] rmb938 commented on #2222
I tried to setup scylla-jmx with the ssl flags but I couldn't seem to get nodetool to use certificates for auth. Without `--ssl` it complained that it needed certificates for auth and with `--ssl` it received an EOF.

I followed the docs here https://docs.datastax.com/en/ddacsecurity/doc/ddacsecurity/secureDDACNodetoolSSL.html to setup ` .cassandra/nodetool-ssl.properties` and it didn't seem to ta

[2020-09-29 12:56] slivne commented on #7300
I would prefer we do not remove old generations but place a time marker
till what point they are valid, given the data / retention / whatever. We
can also have a flag marking the generation is old/obsolete.

We will be able to filter out such generations based on the marker.

After a very long duration it may make sense to drop such generations.

The concern is that we will not have any paper trai

[2020-09-29 12:57] nyh commented on #7294
@psarna there's another thing troubling me a bit, and I'd like your opinion about it:

As we already mentioned above, there are two very different types of requests - there is data-plain requests (`GetItem`, `PutItem`, `Query`, etc.) and there is control-plain requests - `CreateTable`, `UpdateTable`, `TagResource`, and so on.

Are we planning to rate-limit both these requests types with the same l

[2020-09-29 13:05] fruch commented on #7295
We found out the updating the base image to newer version starting with centos 7.4 that has support for ENA out of the box
https://aws.amazon.com/premiumsupport/knowledge-center/install-ena-driver-rhel-ec2/

[2020-09-29 13:08] amnonh commented on #2222
@rmb938 just to make sure, the fie is loaded from: $HOME/.cassandra/nodetool-ssl.properties not local .cassandra directory

[2020-09-29 13:10] haaawk commented on #7300
This is a known 'problem' and we deliberately ignored it because each generation to be created requires a costly cluster topology change operation. This means that probably there won't be an enormous number of those generations.

We can safely remove each generation 24h (configurable) after a newer generation has been created. This is because we TTL CDC Log rows.

[2020-09-29 13:11] haaawk commented on #7300
We already have a way to filter out those generations @slivne and we're already doing the filtering.

[2020-09-29 13:13] rmb938 commented on #2222
Yup I put it in `$HOME/.cassandra/nodetool-ssl.properties`. I could just be an issue on my side, maybe I did something wrong while testing.

I can try again and report my findings.

[2020-09-29 13:34] lauranovich commented on #7298
@dkropachev - can you please submit this as a PR once it has been approved?

[2020-09-29 13:37] psarna commented on #7294
Sure, we can also go that way and have alternator-specific limits from the start. Then we need a decision if `max_concurrent_requests_per_shard` should be ignored by alternator, should it act as a limiter for data plane queries only, or perhaps work as an independent threshold for all requests, because alternator-specific thresholds and this one need not be mutually exclusive. From the comment abo

[2020-09-29 13:46] roydahan commented on #7276
Looks like it's fixed when using latest master.

[2020-09-29 13:52] slivne commented on #7300
So if we are already filtering those generations why do we need to remove
them that eagerly ?

The paper trail is useful to debug issues

On Tue, Sep 29, 2020 at 4:11 PM Piotr Jastrzębski <notifications@github.com>
wrote:

[2020-09-29 13:55] nyh commented on #7072
@vladzcloudius @avikivity you started with discussing different read/write limits, but obviously there are far more absurd variations between different types of requests... The fact you can do 100,000 single-row CL=ONE reads per second, obviously doesn't say you can do 100,000 CREATE TABLE / DROP TABLE requests per second. We also have scans and various other queries that are much slower than the

[2020-09-29 14:01] nyh commented on #7294
I am fine with doing what you did here, and **later** adding a separate limit (as you suggested now) for control operations.
Should be very easy - we just need a counter (not even a gate, strictly) of ongoing control operations, and refuse new ones if the counter is over the limit.
Note that this approach of a "separate limit" still has the problem that control-plane operations can be shed because

[2020-09-29 14:13] vladzcloudius commented on #7072
@nyh I think you are confusing this with the "rate limit" config (which this limit is NOT).

I wish we had a rate limiting capabilities (for background operations like compactions for instance) but this is something Asias is only planning to start working on.

[2020-09-29 14:22] nyh commented on #7072
But it quacks like a duck, so how is it not a duck? I don't understand the difference. Sorry.

Background operations are yet another different story. I'm talking about very different CQL statements - compare "SELECT" of one row, to a "CREATE TABLE". Obviously no single concurrency limit will ever make sense for both of them.

Note that I'm not suggesting that we shouldn't have this option for emer

[2020-09-29 14:34] raphaelsc commented on #7205
BTW, with versioned_sstable_set (https://github.com/scylladb/scylla/pull/7272), we no longer have to actually copy the set into compaction, reducing significantly the stall observed here.

[2020-09-29 14:39] vladzcloudius commented on #7072
This PR is about limiting the max concurrency, not max rate.

If we take a mechanics approach to see the difference:
concurrency is measured in "requests"
rate is measured in "requests/sec".

I hope you see the difference now.

In particular we want to limit the maximum outstanding requests (currently of any kind) which is very different from limiting the maximum rate.

[2020-09-29 14:59] nyh commented on #7072
Yes, you are right, sorry (although the two things are closely related by the request latency (Little's Law)).
I am still worried that  a user who sees this option documented will start to over-think what to set there before he even has a problem... Should I set it to 10? to 1000? to 100,000? Are you planning to document how to choose this value?

[2020-09-29 15:07] haaawk commented on #7300
We don't.

[2020-09-29 15:09] vladzcloudius commented on #7072
It should be set to something like 30, @nyh (it's per shard).
This is our standard recommendation.

[2020-09-29 15:12] nyh commented on #7300
When we "close" a generation, do we update the generation record in `cdc_streams_descriptions`, e.g., to remember the end date of this generation? If the answer is yes, can we use this opportunity to to also rewrite the entire generation record with a 24-hour (same as CDC log) TTL, so it will be removed when the data is removed?

[2020-09-29 15:16] nyh commented on #7072
Can such a low number be the recommendation? Just to give an example, this means that a 3-node, 8-shard-each cluster, will be limited to 720 concurrent clients. Try any more (because 800 of your clients happened to send a request around the same time), you get failures. Is this a good idea?

[2020-09-29 15:42] haaawk commented on #7300
We don't. To know whether generation is closed we look whether there's a newer one existing.

[2020-09-29 16:30] vladzcloudius commented on #7072
Yes it can.
You add more concurrency - your latency will suffer, @nyh
The client can configure whatever they want eventually.
However when SLAs are defined around latencies, which is usually the case, limiting as above is not only not an issue - it's a requirement.

Yes, it is - if you want to keep latencies at a certain level.
30 is just a base line. A user may try increasing it if more bandwidth

[2020-09-29 16:38] avelanarius opened #7301 "NEW_NODE should be sent after listening for CQL clients has started"
After adding a new node to the cluster, Scylla sends a `NEW_NODE` event. Some clients (for example Java Driver 3.x - both Scylla and [DataStax version](https://github.com/datastax/java-driver/blob/373cb519310208f93a3b08b70f913d3e95fd16eb/driver-core/src/main/java/com/datastax/driver/core/Cluster.java#L2398-L2418)) immediately try to connect to such new node, however they (sometimes) fail, because

[2020-09-29 16:49] haaawk commented on #7301
This is the reason why the on-Node-Added notification sometimes wasn't working in the replicator.

[2020-09-29 19:18] nyh commented on #5970
https://github.com/scylladb/scylla/pull/7283 was already committed marking this issue fixed, but note that it checks strict equality of the old and new backlogs, so (as I explained above) it will only make a difference when MV is not used.

[2020-09-29 20:35] vladzcloudius commented on #7072
Also keep in mind that those errors are usually transparent to the application thanks to a retry policy. If the app gets an overload error this means that the DB hints it that it's overloaded - which it is. In this case the app is supposed to try other nodes and/or apply an retry policy which usually has some back-off strategy (exponential is the most popular one).

There are certain corner cases

[2020-09-29 20:39] #7288 closed

[2020-09-29 20:39] #6905 closed

[2020-09-29 20:39] #5970 closed

[2020-09-29 20:39] #7286 closed

[2020-09-29 20:39] #5843 closed

[2020-09-30 00:49] aphyr commented on #7258
It might be helpful to compare the diagrams in the [Datastax documentation](https://docs.datastax.com/en/devapp/doc/devapp/driversServerErrors.html) for UnavailableException vs other classes of failure, like WriteTimeout:

![driversUnavailableException](https://user-images.githubusercontent.com/3748/94630619-50dce000-0294-11eb-8397-d778b971744c.png)

![driversWriteTimeoutException](https://user-im

[2020-09-30 00:51] raphaelsc commented on #4046
The compaction type is case sensitive. Closing this issue because nodetool stop is supported by us. If there's a bug in it, we should open another issue.

[2020-09-30 00:51] #4046 closed

[2020-09-30 01:07] raphaelsc commented on #3064
closing this issue as refresh is no longer disabling writes for a table after off-strategy changes

[2020-09-30 01:07] #3064 closed

[2020-09-30 01:23] raphaelsc commented on #2183
DTCS is deprecated so let's close this

[2020-09-30 01:23] #2183 closed

[2020-09-30 01:26] raphaelsc commented on #3531
ping. looks like we can close this

[2020-09-30 04:18] denesb commented on #4176
With https://github.com/scylladb/scylla/commit/fd1dd0eac7a303ceaa9f3ff643c4848506b0c85c, we have the last major area of the reader pipeline tracked. Closing this generic issue, we should open issues for specific problems we find in the future.

[2020-09-30 04:18] #4176 closed

[2020-09-30 04:25] linux-wizard opened #7302 "Reactor stalled 264 during high write loads using cassandra-spark-connector"
*Installation details*
Scylla version (or git commit hash): scylla-4.0.0-0.20200505.d95aa77b62.x86_64
Cluster size: 3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS Linux release 7.7.1908 (Core)

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): physical
Hardware: Intel(R) Xeon(R) Gold 6230 CPU @ 2.10GHz sockets=2 cores=80 hyperthreading=enabled memory=3

[2020-09-30 04:27] linux-wizard commented on #7302
decoded backtrace

[code]

--

[2020-09-30 05:24] aleksbykov commented on #7249
@slivne
I configured 2 jobs they are running in parallel:
 - replace nemesis only + without hitned handoff + without MV tables + 5ms stall detector + repari based node ops enabled
 - replace nemesis only + without hitned handoff + without MV tables + 5ms stall detector + repari based node ops disabled

[2020-09-30 05:32] aleksbykov commented on #7291
@roydahan
Looks similar, but triggered by other nemesis

[2020-09-30 07:10] gleb-cloudius commented on #7258
On Tue, Sep 29, 2020 at 05:49:31PM -0700, Kyle Kingsbury wrote:

We do not have to follow Cassandra to the letter, so we can document
differently. Of course it is possible to return "indefinite error"
(which in current cql protocol we support will map to a timeout error),
but by doing so we will drop information we have. Namely the fact that
a query was successfully committed, but not learned. Fro

[2020-09-30 07:35] nyh opened #7303 "Alternator's CreateTable should refuse unused AttributeDefinitions entries"
A user reported that he tried a `CreateTable` with `AttributeDefinitions` containing some spurious entries which aren't used in any `KeySchema`, and Alternator accepted it (just ignored it) instead of printing an error as DynamoDB is reported to do:

Don't forget that we need to compare the `AttributeDefinitions` list not just to `KeySchema` of the main table, but also to that of the secondary ind

[2020-09-30 08:05] tarzanek commented on #7130
just hit something similar with 4.2 rc4 upgrade from 4.1
so I guess backport is needed
[code]

[2020-09-30 08:10] avikivity commented on #7130
@tarzanek please provide more context, was this upgrade in a nonroot install?

[2020-09-30 08:18] amoskong commented on #7130
It seems not a nonroot install, need to check if scylla-python3 is installed/upgraded correctly.
Please check if python3-distro exists.

[code]

[2020-09-30 08:23] nyh opened #7304 "Alternator should refuse "reserved names" in expressions"
In the DynamoDB API, attribute names can appear in expressions directly - e.g., `hello = 3` uses the attribute name `hello` directly. Attribute names can also appear indirectly, as a reference to the real name specified outside the expression, in `ExpressionAttributeNames`. For example `#a = 3`, where `ExpressionAttributeNames` is `{ "#a": "hello" }`.

DynamoDB has a huge list of 573 (!) names, li

[2020-09-30 08:27] tarzanek commented on #7130
rpm install from repo, not nonroot, so yes, sorry for hijacking
I should open a new issue

Amos:
[code]
so not there for me

[2020-09-30 08:29] aleksbykov commented on #7249
@asias
Here is a live monitoring for **replace nemesis only + without hitned handoff + without MV tables + 5ms stall detector + repari based node ops disabled**
http://13.49.76.171:3000/d/1Uv2P1FMz/scylla-per-server-metrics-nemesis-master?orgId=1&refresh=30s&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&var-sct_tags=InfoEvent&var-sct_tags=DatabaseLogEvent&var-sct_tags=Disrupti

[2020-09-30 08:32] tarzanek opened #7305 "after upgrade from 4.1 to 4.2 scylla doesn't start anymore"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.2.rc4-0.20200907.bf0c493c28
Clus

[2020-09-30 08:32] tarzanek commented on #7130
sorry, filed https://github.com/scylladb/scylla/issues/7305 to track the problem

[2020-09-30 08:37] asias commented on #7249
Btw, it seems Shlomi wanted :

replace nemesis only + WITH hitned handoff + WITH MV tables + 5ms stall detector + repair based node ops disabled

[2020-09-30 08:37] tarzanek commented on #7305
this seems to be the cause:
https://github.com/scylladb/scylla/commit/eabcb31503eb9896abeeaefe49cd548012dca001

so python3-distro didn't get packaged?

[2020-09-30 08:39] tarzanek commented on #7305
ok
reruning
[code]

[2020-09-30 08:39] #7305 closed

[2020-09-30 08:43] asias commented on #7249
I wanted to clarify that during replacing operation the repair based node oepraiton will NOT generate view update at all. The view updates generated was from the normal writes path the replacing node took during the replace operation. The theory that repair based ops generates more sstables and generates more MV work does not hold.

I did the following to confirm.

n1, n2, n3, with a base table an

[2020-09-30 08:51] aleksbykov commented on #7249
This job also running

[2020-09-30 08:51] avikivity commented on #7302
In 4.0 row_cache::_partitions looks like this:

[code]

this is an API call to compute the number of partitions in cache (no idea why spark wants that, but maybe it's part of a larger nodetool call), and we have `constant_time_size` disabled.

[2020-09-30 08:54] avikivity commented on #7302
Was fixed in 83fe0427d29e6474b900e5324f1fc015557ca3f0 (scylla 4.1).

[2020-09-30 08:55] #7302 closed

[2020-09-30 08:55] asias commented on #7249
I would see it is similar to what we did in the test there:

https://github.com/scylladb/scylla/issues/7249#issuecomment-698853290

There is a short period of drop from 40K to 10K (repair based ops enabled) v.s.  40K to 20K (repair based ops disabled).

Do we have stall reports for this new run?

[2020-09-30 09:01] aleksbykov commented on #7249
exactly on 7.40 i see this reactor stalled:
[code]

[2020-09-30 09:05] aleksbykov commented on #7249
Decoded:
[code]

[2020-09-30 09:12] asias commented on #7249
Thanks! So the stall is from copying token_metadata: replicate_tm_only. We saw this issue in the other issues as well. We
The following patch in master will help.

[code]

Benny's series for token_metadata will help even further.

Do we see a lot of such stalls?

@avikivity A 6ms stall translates to a 40K to 20K cql drop??? I do not see suspicious metrics for the latest run: https://github.com/scy

[2020-09-30 09:16] aleksbykov commented on #7249
@asias
before that there are several stalls:
[code]
but they are not affect on OPS.

[2020-09-30 09:17] aleksbykov commented on #7249
Do you need all or any of them to be decoded?

[2020-09-30 10:17] aleksbykov commented on #7249
Here is the result of first node replacement for configuration **replace nemesis only + WITH hitned handoff + WITH MV tables + 5ms stall detector + repair based node ops disabled** on latest scylla branch-4.2:
Live monitor link: http://13.53.207.38:3000/d/qSJ8rJKGz/scylla-per-server-metrics-nemesis-master?from=1601456781377&to=1601459456606&var-by=&var-cluster=&var-dc=All&var-node=All&var-shard=Al

[2020-09-30 11:07] aleksbykov commented on #7249
By @roydahan request, i also run the same  configuration **replace nemesis only + WITH hitned handoff + WITH MV tables + 5ms stall detector + repair based node ops disabled** for scylla 4.1.0.
Results are similar to version 4.2:
![Screenshot from 2020-09-30 18-04-26](https://user-images.githubusercontent.com/44991177/94677831-c2299b00-0347-11eb-80d4-31f882776e9e.png)

Live monitor is available: ht

[2020-09-30 11:17] slivne commented on #7249
Thanks

Repair-based-operations will be disabled in 4.2 - we will keep chasing this for 4.3

[2020-09-30 11:18] avikivity commented on #7249
Disabled in 4.2. Let's keep tracking this for master.

[2020-09-30 11:24] slivne commented on #7276
@penberg can you please check this is only in  master (4.3)

[2020-09-30 11:28] penberg commented on #7276
@roydahan You asked whether this issue needs backport to 4.2.

The commit eae2aa58faa7e8f04e000887766b9b3c47038794 ("dist/common/scripts: move back get_set_nic_and_disks_config_value to scylla_util.py") fixes a bug in commit 79d8192dc7d160408cc96a9faf350df425913118 ("dist/common/scripts: move functions that are only called from single file"), which is _not_ in `branch-4.2`.

So no need for a backp

[2020-09-30 12:42] roydahan commented on #4567
When looking on any read_repair metric we have, I don't see any that occurred - not before, during or after the upgrade.

![Screen Shot 2020-09-30 at 15 35 04](https://user-images.githubusercontent.com/20959584/94685837-a798f700-0332-11eb-9cdb-6ae63290d176.png)

Example of data in my table:

[code]
I have around 15K op/ss during the insert part and 15K op/s during the reads.
<img width="795" alt="

[2020-09-30 13:39] jul-stas opened #7307 "Logging batches in `system_traces.node_slow_log` should fill "query" field and split "BEGIN BATCH...""
When a slow batch is logged into `system_traces.node_slow_log`, it should have some meaningful value in `command` column, under `query` key. The agreed-to value is "BATCH QUERY". It should also be the case in case of "BEGIN BATCH..." query.

Also, "BEGIN BATCH..." queries that fall here should be split like batches. So the `parameters` column should have keys like `query[0]`, `query[1]`, `param[0]

[2020-09-30 13:59] aphyr commented on #7258
If the exception were named `PartlyCommittedException` that would be fine! The problem is a.) the name "Unavailable", b.) the differentiation in both type hierarchy and retry policy callbacks, and c.) the Cassandra documentation all suggest that an `UnavailableException` is a categorically different kind of error from a timeout. If users interpret "unavailable" that way, then for those users, this

[2020-09-30 14:07] tgrabiec commented on #7208
Backported to 4.2 and 4.1

[2020-09-30 14:16] vladzcloudius opened #7308 "CQL Tracing: potential stalls when huge batches are traced"
*Installation details*
HEAD: 5f541fbdc55be813e99ff3c0f7ae6034b2908e3a

*Description*
There are two sources of stalls in the context of traces of BATCH statements:

1) `trace_state::build_parameters_map_for_one_prepared()`
https://github.com/scylladb/scylla/blob/master/tracing/trace_state.cc#L205 and https://github.com/scylladb/scylla/blob/master/tracing/trace_state.cc#L209
2) The serialization bit

[2020-09-30 14:23] vladzcloudius commented on #7308
While fixing the first is pretty straight forward - we can simply run it in a thread and introduce preemption points; the second may be trickier.

The problem is not only in stalls that will happen during the serialization - another issue may arise when we will attempt to store such a huge row (e.g. 30000 batches + 10-30 parameters each may get to 10s if not 100s of MBs). I think an attempt of sto

[2020-09-30 15:00] dkropachev commented on #7127
@kbr- , if you have details could you specify ones on what does "unavailable node" mean in this context. Nodes was up, cql port was up, gossip completed, what we could miss there?

[2020-09-30 15:07] kbr- commented on #7300
both `cdc_streams_descriptions` and `cdc_generation_descriptions` tables have an `expired` column, which I left in the schema if we would want to implement such cleanup operation eventually. It may not be necessary, but it may be convenient.

Copy-pasted from another topic: let `G` denote a generation

`G.expired = X` for `X != null` means the following: if `now() - X > max{table.cdc.ttl for all t

[2020-09-30 15:41] aphyr opened #7309 "Possible feature: Flake IDs"
Following up on a discussion with @kostja and #7170: it might be nice for Scylla to offer Flake IDs for server-side timestamp generation.

If you're not familiar, [http://yellerapp.com/posts/2015-02-09-flake-ids.html](Flake IDs) are a mechanism for allocating roughly time-ordered, guaranteed-unique identifiers without coordination. After a single round of coordination to establish a node ID (e.g.

[2020-09-30 16:27] kbr- commented on #7127
It was a timeout exception, which could mean many things:
- the replica that coordinator tried to contact was down
- there was a network partition between the coordinator and replica
- the replica was super slow and couldn't process the write in time

Please make an issue -- maybe we should make a better decision what to do in this case. As far as I understand, today the node will simply refuse to

[2020-09-30 16:52] nyh commented on #7309
I proposed something very similar on the Scylla mailing list, but @avikivity righty noted that it will only work in a straightforward and efficient manner for server-side timestamps, because there is a relatively small number of server nodes, and an easy way to coordinate their ids as small integers. We need the ids to be small integers if we want to fit the whole thing - id and time in an accepta

[2020-09-30 17:01] aphyr commented on #7309
You can use any size. Boundary's Flakes were 160 bits, for example. :-)

Yeah. You've got a few options here--you can have clients lease IDs from servers, or, (like I mentioned here and in #7170), you can translate client-provided timestamps to Flake IDs by, say, shifting them up by a few bits for internal use, and filling the low bits with the server ID. 10 bits gets you up to 1024 servers, and l

[2020-09-30 20:05] piodul opened #7310 "Unsynchronized cross-shard memory operations caused by incorrectly used updateable_value"
The bug was introduced in 4b856cf62d839b6d555703f6ba902ff57a132898.

In `transport/controller.cc`, there is a function named `controller::do_start_server()` which creates a `cql_server` service. That function runs on shard 0, where it creates a `cql_server_config` object. This object is then used as an argument to start the `cql_server` service:

[code]

Calling `distributed<cql_server>::start` me

[2020-09-30 20:21] piodul commented on #7310
@avikivity About the comment above `updateable_value`... It certainly is misleading. Should we change the comment so that it doesn't suggest that it's safe to copy across shards, or rather change the implementation so that the comment is true?

[2020-09-30 22:18] rmb938 commented on #7274
@asias Any idea? I tried changing the broadcast address from a dns record to the IP address and the same issue happens, so it wasn't because of that.

[2020-09-30 22:36] nyh commented on #7309
Yes, as I said we **can** use any size timestamps, but if we want to move away from the 64-bit timestamps we have today to something bigger, we'll need to change all the memory structures, disk formats, and protocols which today have these 64-bit timestamps. It also means changing the clients, and pretty-much throwing Cassandra compatibility out of the window :-( So it's not an easy decision to ma

[2020-09-30 22:48] slivne opened #7312 "During replace node operation - replacing node is used to respond to read queries"
Scylla Version: 666.development-0.20200929.1adf2cc84

[code]

you will find sessions like

[code]

lets query the session and see that we have the bootstrapping replica being part of a read query we ran toward keyspace1
[code]

which show that replacing node is being queried and that read repair is happening while the replacing node is still coming up

One more thing to note

I checked and early o

[2020-10-01 02:47] psarna commented on #7310
There's also another series of mine, already queued in next, which adds the same mistake to alternator. I'll temporarily dequeue it.

[2020-10-01 04:38] nathanleyton commented on #6307
We have had to switch back to Cassandra due to this :-( , I hope you guys can fix it soon.  We needed to get the last / highest value in a clustering column. Using max works but is really inefficient and slow for large partitions, seems like it is scanning. What works well in cassandra is reverse sort with a limit 1, seems to directly take the last item in the partition. However in Scylla we get e

[2020-10-01 05:06] dorlaor commented on #6307
@slivne pls consider Nathan's input and assign it to someone

[2020-10-01 05:33] kharmabum commented on #6307
We can't update to 4.0 because of this, errors due to https://github.com/scylladb/scylla/issues/5804 forced us to revert.

[2020-10-01 06:31] denesb commented on #6307
@kharmabum if your reverse queries -- that used to work fine before -- are getting aborted, set `max_memory_for_unlimited_query` to a high enough number so that it fits your partition sizes to work around this problem.

[2020-10-01 06:35] denesb commented on #6307
Introducing this limit out of the blue was too harsh -- we realized that later. So 4.3 will provide two limits to tweak:
* `max_memory_for_unlimited_query_soft_limit`: just log a warning if this limit is reached
* `max_memory_for_unlimited_query_hard_limit`: abort the query -- the same as `max_memory_for_unlimited_query` currently.

The soft limit will have the `1MB` limit that `max_memory_for_unl

[2020-10-01 06:42] nyh commented on #6307
@denesb if the improved limit configuration would help, we could and perhaps backport it to 4.2? But I think @nathanleyton hit the nail right on the head - a reverse query with a small limit should work efficiently, and not have to read 100 MB. It's not good enough that we don't fail these queries - they also need to be reasonably efficient. Even if we can't make them _as efficient_ as forward que

[2020-10-01 06:50] denesb commented on #6307
@nyh I agree, we should fix this. But in the meanwhile, people who had reverse queries working just fine before like @kharmabum can play with the limits to get Scylla not to reject their previously working queries.

[2020-10-01 07:06] bhalevy commented on #6189
@xemul / @tgrabiec I presume the partition/row cache btree project addresses this path, right?
Is there a fix for 4.2 and older releases?

[2020-10-01 07:53] avikivity commented on #6189
This is a refill of the emergency reserve, partially addressed by 7ac59dcc9837658bb9fc1ff06dc4c95fdabef6f8.

btree helps reduce the stall, but does not eliminate it.

[2020-10-01 08:06] avikivity commented on #6307
@nyh we don't have real reverse sstable parsing, so reverse queries work by reading everything into memory and reversing it. Until we add reverse sstable readers, the best we can do is fail the query if it consumes too much memory.

[2020-10-01 08:07] avikivity commented on #7310
updatable_value was explicitly written to support this use case (I know the author personally). It should be fixed, so it is easy and cheap to pass live configuration values across shards.

[2020-10-01 08:21] avikivity commented on #7208
@tgrabiec why not 4.0?

[2020-10-01 08:56] nathanleyton commented on #6307
We did increase the limit, but we can have a lot of records per partition and it keeps coming up, at the moment there is no efficient query to do what we need, as as we are growing the query performance is degrading rapidly, we can't take it to production like this I am afraid.  In the meantime we are moving back to Cassandra for production but will keep an eye on here and if something is done bef

[2020-10-01 09:05] bhalevy opened #7313 "Reactor stalls during decommission with large number of tokens"
This is reproducible with dtest, for example:
[code]

Decoded backtrace
[code]

[2020-10-01 09:08] bhalevy commented on #7313
Refs #6662 #7044

The plan is to futurize both cloning of token_metadata and a big part of the `token_metadata` and `abstract_replication_strategy api` on this path, around `update_pending_ranges`, `calculate_pending_ranges`, `get_address_ranges`, and `calculate_natural_endpoints`.

[2020-10-01 09:09] bhalevy commented on #7313
Cc @asias

[2020-10-01 09:17] denesb commented on #6307
Yes, unfortunately playing with the limit will not help at all with performance.

[2020-10-01 09:35] ShlomiBalalis opened #7314 "Nodetool info times out"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200927.8366d2231 with build-id ce2d999679a623780ccea8bbb6e50cb8b124593e
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0f5133b6e7635dac2 (us-east-1)

During the manager upgrade test, we execute `nodetool info` on each node, twice.
In the first run, all of the executions went without issue:
[code]
In the second ru

[2020-10-01 10:00] dkropachev opened #7315 "4.1 bootstrap failing with failed: exceptions::mutation_write_timeout_exception (Operation timed out for system_distributed.cdc_generations - received only 2 responses from 3 CL=QUORUM.)"
*Installation details*
Scylla version (or git commit hash): 4.1.7-0.20200918.2251a1c577
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 18.04

[db_nodes_logs.zip](https://github.com/scylladb/scylla/files/5311031/db_nodes_logs.zip)

bootstrap of the last  node failed with following message:

[code]

[2020-10-01 10:33] piodul opened #7316 "updateable_value is not shard-safe"
As of writing this issue, master is at fd1dd0eac7a303ceaa9f3ff643c4848506b0c85c

The `updateable_value` is probably best described by this comment in `utils/updateable_value.hh`:

[code]

Later, we have this comment:

[code]

Unfortunately, contrary to the comment, current `updateable_value`'s implementation is not safe for cross shard use (as we learned in https://github.com/scylladb/scylla/issue

[2020-10-01 10:38] piodul commented on #7310
@avikivity I made an issue: https://github.com/scylladb/scylla/issues/7316

[2020-10-01 11:09] kbr- commented on #7315
Node 4 tried to send a write to the other nodes (inserting new CDC generation to the table), but then weird stuff happened. Nodes 2 and 1 rejected the write from node 4 due to the following errors:
[code]

[code]

node 3 handled the write and successfully sent a response.

The RPC frames somehow got corrupted? Super weird. @slivne did you see this error anywhere else?

[2020-10-01 11:39] eliransin commented on #7291
The fix for #7200 (dcaf4ea4d) is not in 4.2, we should considder backporting.

[2020-10-01 11:40] eliransin commented on #7200
This wasn't seen since the fix and it is possibly affecting 4.2, @tgrabiec  can we backport this?
Since it wasn't seen I am closing the issue, fixed by dcaf4ea4d.

[2020-10-01 15:25] gnumoreno commented on #7056
`https://scylladb-users.slack.com/archives/C2NLNBXLN/p1601556025111600`

[2020-10-01 15:46] tgrabiec commented on #7200
Backported to 4.2

[2020-10-01 16:25] #7200 closed

[2020-10-01 16:45] avikivity commented on #5200
The question is which requests it will send over. With per-table statistics, it will send over the 100% of A requests and 0% of B requests (except for a trickle to warm up the cache). In the second case it will send over 90% of A requests and 10% of B requests. In the second case B's performance is drastically reduced while A's performance is not improved signficantly.

[2020-10-01 16:58] kostja commented on #6795
kostja@hulk:/$ dpkg --listfiles scylla-server-dbg
/.
/usr
/usr/lib
/usr/lib/debug
/usr/lib/debug/.build-id
/usr/lib/debug/.build-id/36
/usr/lib/debug/.build-id/36/ea361565782a4d96bf3d160e26edd50967ea3f.debug
/usr/lib/debug/.build-id/36/f8a7b490fb7f7638d7828dfe92eecc2c31cbd9.debug
/usr/lib/debug/.build-id/54
/usr/lib/debug/.build-id/54/2149b840deaa7024f519b534588c41981733fd.debug
/usr/lib/debug/.bu

[2020-10-01 16:59] kostja commented on #6795
[code]

[2020-10-01 16:59] dorlaor commented on #6307
@Avi Kivity <avi@scylladb.com> shall we open a new github issue for real
reverse query that doesn't scan from the end?
If it's done in C* and enabled by the sstable format, we should support it
too

On Thu, Oct 1, 2020 at 2:18 AM Botond Dénes <notifications@github.com>
wrote:

[2020-10-01 17:10] avikivity commented on #6307
Such issues don't help. They just sit there and collect dust.

[2020-10-01 18:44] denesb commented on #6307
We have such an issue for a long time: #1413

[2020-10-01 19:13] kostja commented on #7116
Yes.

[2020-10-01 19:17] kostja commented on #4567
Please backport to 4.2

[2020-10-01 21:15] vladzcloudius commented on #4601
@slivne Do we include this script in every distribution variant these days?
If yes, let's close this issue.

[2020-10-01 21:55] raphaelsc opened #7318 "Useless linearization on large data, of either type bytes or string-derived, potentially cause stalls due to reclaiming"
The type bytes_type_impl doesn't need any validation, and so no linearization. But due to a regression introduced in commit b175657ee7936a7c5ec7b4d4bd2a93617370afb0, bytes_typoe_impl no longer overrides validate(const fragmented_temporary_buffer::view&, ...), Meaning linearization is performed on bytes type even though it needs no validation. Found out this while auditing code (comparing old versi

[2020-10-01 22:09] raphaelsc commented on #7318
Due to the regression aforementioned, we potentially have a serious performance regression on workloads involving data blobs, as we now have to serialize every data blob coming in.

[2020-10-02 02:19] raphaelsc commented on #7318
This following patch will restore the old behavior where linearization on bytes (blob) type is avoided:

diff --git a/concrete_types.hh b/concrete_types.hh
index c80e5dd08..c3bd920a1 100644
--- a/concrete_types.hh
+++ b/concrete_types.hh
@@ -119,6 +119,7 @@ struct utf8_type_impl final : public string_type_impl {

 struct bytes_type_impl final : public concrete_type<bytes> {
     bytes_type_impl();

[2020-10-02 04:33] raphaelsc opened #7319 "CQL Tracing: Inform the amount of elements trimmed off from a list"
Tracing denotes that a list of values was trimmed with three dots (only up to 64 bytes will be logged), for example:
`{'consistency_level': 'QUORUM', 'page_size': '5000', 'param[0]': '1', 'param[1]': '4', 'param[2]': '1', 'param[3]': '15655', 'param[4]': '202011, 202012, 202013, 202014, 202015, 202016, 202017, 202018, ...', `

but it's useful to know the amount of elements trimmed off from a list,

[2020-10-02 08:02] penberg commented on #6795
@kostja So `readelf -n ./opt/scylladb/libexec/scylla | grep "Build ID"` will tell you the build ID of the executable and that's the `.debug` file that contains the symbols.

[2020-10-02 08:23] kostja commented on #6795
[code]

[2020-10-02 08:26] penberg commented on #6795
@kostja The first two characters are used for a directory name... The file will be `/usr/lib/debug/.build-id/36/f8a7b490fb7f7638d7828dfe92eecc2c31cbd9.debug`

[2020-10-02 08:46] aleksbykov commented on #7249
During this job https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-alternator-3h-test/67/
on scylla version 4.2.rc5-0.20201001.5fcc1f205c
with repair-based operation disabled
i see next fall down of OPS during Decommission streaming error nemesis. During this nemesis decommission process started and then interrupted with hard reboot in the middle. After node is up manually reb

[2020-10-02 08:46] jul-stas commented on #7307
@vladzcloudius How to approach "BEGIN BATCH..." (with query opcode)?
That looks like a nightmare to do.

[2020-10-02 09:08] kostja commented on #6795
This file exists and is parsed by addr2line:
[code]

[2020-10-02 09:45] tgrabiec commented on #4567
@roydahan Did you finish testing this?

[2020-10-02 10:11] aleksbykov commented on #7025
During this job https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/56/
for scylla version 4.2.rc5-0.20201001.5fcc1f205c command nodetool repair again failed with next error:
[code]
i have to mention that this happened only with cdc enabled( on another job where there is not cdc this nemesis passed) and the rbo is disabled

This happened during nemesis Corrupt

[2020-10-02 10:40] aleksbykov commented on #7025
Here is a live snapshot: https://snapshot.raintank.io/dashboard/snapshot/m9Vn7OPpyjSBS6uebe7U2k4dNpE9uAfE?orgId=2

[2020-10-02 10:53] syuu1228 commented on #7131
Reported https://bugs.centos.org/view.php?id=17773

[2020-10-02 11:08] aleksbykov commented on #7249
Another example of OPS fall down from 70k to 700 in this job: https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/56/
scylla version  scylla version 4.2.rc5-0.20201001.5fcc1f205c
During decommissionstreaming error nemesis( decommission process started, then instances hardrebooted in the middle of decommissioning, and after node is up running rebuild process
![

[2020-10-02 11:13] syuu1228 commented on #7131
We may need a workaround for this, it should be logging to a file instead of journal.
It can be done by `StandardOutput=file:/path/to/logfile`, but it will be overwrite when restarting the service, we need some hack to save current log file on ExecStartPre, something like this:
`ExecStartPre=/bin/bash -c 'mv /var/log/my/logs.log /var/log/my/$$(date +%%T)-logs.log`
referenced: https://stackoverflow

[2020-10-02 11:33] dkropachev opened #7320 "4.1: returns error "2 replica were required but only 1 acknowledged the write" on cluster that was just created"
*Installation details*
Scylla version (or git commit hash): 4.1.7-0.20200918.2251a1c577
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9

*Steps to reproduce*
1. Create cluster of 4 nodes
2. Run cassandra-stress write no-warmup cl=QUORUM n=10100200 -schema 'replication(factor=3) compression=LZ4Compressor' -po

[2020-10-02 11:44] aleksbykov commented on #7249
@slivne @haaawk
May be it should be another issue, but when rebuild streaming for keyspace with cdc log tables started we got total OPS fall down from 78K to 1.5k

![Screenshot from 2020-10-02 18-34-32_1](https://user-images.githubusercontent.com/44991177/94919727-259a0100-04df-11eb-9ed1-8ac9e185d5c1.png)

Db node log:
[system.log.tar.gz](https://github.com/scylladb/scylla/files/5317674/system.log

[2020-10-02 17:34] raphaelsc opened #7321 ""alter table keyspace1.standard1 with WITH compression = {'class': 'LZ4Compressor'};" is not working anymore"
head: fd1dd0e

[code]

This used to work, but it's no longer working. Intentional or regression?

[2020-10-02 17:34] raphaelsc commented on #7319
@vladzcloudius FYI

[2020-10-02 17:55] #6737 closed

[2020-10-02 17:55] #7310 closed

[2020-10-02 17:55] #7258 closed

[2020-10-02 19:15] aphyr commented on #7116
Huh! Might be interesting to go about deliberately constructing rows with hash collisions. :-)

[2020-10-02 22:03] vladzcloudius commented on #7307
As far as I can tell `BEGIN BATCH` statement is not only executed via QUERY opcode but is also going through the query path in the query_processor code: in particular `query_processor::execute_direct`:

[code]

I don't have a build env now but I'd assume that after that we eventually get to batch_statement::execute(...).

And at that stage the batch is already parsed by `cql_parser` and split into

[2020-10-03 01:07] dekimir commented on #7307
I think this can be done reasonably easily from raw statements, while they exist.  But read on...

That's actually already happening:
https://github.com/scylladb/scylla/blob/scylla-4.2.rc4/cql3/cql_statement.hh#L65-L69