[2020-06-03 03:20] asias commented on #6272
The core  (https://storage.googleapis.com/upload.scylladb.com/scylla/issue_6272/1tb-longevity-repair-stuck/core.10176.gz) is truncated:
[code]

[2020-06-03 03:34] asias commented on #6468
For some reason, node 3 (10.0.12.86) had empty token in gossip when node 3 was finished decommission operation in storage_service::handle_state_left handler.

[2020-06-03 04:44] asias commented on #6543
rlogger.warn("repair_writer: keyspace={}, table={}, write_end_of_stream failed: {}", _schema->ks_name(), _schema->cf_name(), ep);

Probably the repair_writer object was removed when the above runs.

My theory is:

node3 runs repair as  master, node4 is follower
node4 starts the repair writer
node3 runs hard reboot
node4 notices node3 is down by gossip
node4 runs the on_dead gossip handler which re

[2020-06-03 05:03] amoskong commented on #6402
This issue had been fixed by https://github.com/scylladb/scylla/commit/9d9d54c804dd400d90edfdb84c8f5319d06b1633, the new artifact-test of oel76 passed.

- https://jenkins.scylladb.com/view/master/job/scylla-master/job/artifacts/job/artifacts-oel76-test/102/

[2020-06-03 06:13] piodul opened #6575 "CDC: Trace includes information only about one partition key from a batch"
(Found by @aleksbykov)

When processing a batch with more than one key, CDC includes information about only one of the keys:

[code]

In the example above, the batch contains two partition keys ("1" and "3"). There are trace entries for the "3" key (they contain the `pk{000400000003}` part), but there are no such entries for the "1" key.

The trace should contain similar entries for all partition

[2020-06-03 06:57] asias commented on #6468
I need scylla logs.

[2020-06-03 07:13] asias commented on #6436
Patch is sent.

[2020-06-03 07:55] nyh commented on #6573
Happily, the KeyConditions / KeyConditionExpression do not have this bug - the sort keys are already sorted in correct unsigned order and range queries on them work as needed, and tests I wrote for this pass successfully on Alternator. Apparently, Cassandra's sort ordering for blobs is also as unsigned which is why we already did this correctly, but I can't find where this is documented.

I confir

[2020-06-03 09:13] bhalevy commented on #6493
No, it is not how sstables work internally.
partition (and row) tombstones are represented differently than range tombstones.
For the latter we store separate begin and end markers in the sstable, see https://github.com/scylladb/scylla/wiki/SSTables-3.0-Data-File-Format#range-tombstone-marker
so for an unbound range tombstone, one of them will be missing.

Unbound range tombstones were introduced

[2020-06-03 10:19] #6159 closed

[2020-06-03 10:19] #6315 closed

[2020-06-03 10:31] slivne commented on #4711
related to #5919

@denesb is this solved ?

[2020-06-03 10:53] xemul commented on #5685
Steps to reproduce.

1. get 536ab4ebe40266624baeb2f271481b8feb35f71a
2. apply a BUG

[code]

3. build
4. run `test.py --mode=dev boost/row_cache_test`. The output would be like

[code]

    === TEST.PY SUMMARY END ===

5. Run `./build/dev/test/boost/row_cache_test`. The output would be like

[code]

The line ` unknown location(0): fatal error: in "test_cache_delegates_to_underlying": signal: SIGAB

[2020-06-03 10:58] denesb commented on #4711
@slivne yes, https://github.com/scylladb/scylla/commit/0c6bbc84cd30df1c46a6cd81d87170b99d5a8144 solves this, all queries coming from the driver will have timeouts regardless of what table they query.

[2020-06-03 10:59] #4711 closed

[2020-06-03 11:06] denesb commented on #4711
@slivne actually, this was true already before https://github.com/scylladb/scylla/commit/0c6bbc84cd30df1c46a6cd81d87170b99d5a8144, since https://github.com/scylladb/scylla/commit/08a0c3714cb739a7a77c11c15fed1f1ce70f5200. We removed the timeout from internal reads by passing `db::no_timeout` to the various read methods when doing internal reads. Queries coming from the user used the configured time

[2020-06-03 11:16] psarna commented on #6187
@eliransin here's a summary:
1. The error just indicates that a view update was sent to its target, but the operation timed out - which is expected, e.g. when the target is overloaded.
2. What shouldn't happen is to ignore this exceptional future - we should just log it and kill it, but only in case of background operations - e.g. the updates generated by the view builder should still propagate th

[2020-06-03 12:11] nyh commented on #6572
There's a problem in **when** we track which name references (`#xyz`) or value references (`:xyz`) were used: At the moment we do this while **evaluating** the expression. This causes the problem you saw here: when we evaluate the expression `#0 = :0 OR attribute_exists (#1)` , if the first case matches already, the first test is not evaluated at all (we use `boost::any_of` with its short-circuit

[2020-06-03 12:30] amoskong commented on #6564
I also touched this problem in 4.1 longevity-counters-multidc:
- https://jenkins.scylladb.com/job/scylla-4.1/job/longevity/job/longevity-counters-multidc-test/6/
- version: 4.1.rc1-0.20200528.bb8fcbff68f

[2020-06-03 13:25] denesb commented on #4522
I would settle for an entry in "troubleshooting" (if we have that) in HACKING.md as a fix for this.

[2020-06-03 13:29] avikivity commented on #4522
That's strange, test.py only runs two shards per test, so it shouldn't consume so many.

Anyway, we can also tell it to consume even less, since it's not going to be accepting thousands of network connections.

[2020-06-03 13:31] denesb commented on #4522
I haven't seen this in a long time, it is possible that it was fixed, maybe because I bumped my `aio-max-nr` to a really high number.

[2020-06-03 13:48] amnonh opened #6580 "log2utils.hh: pow2_rank_constexpr seems bogus"
While working on something unrelated, I've notice the implementation of `pow2_rank_constexpr`

according to its description: // Returns largest N such that 2^N <= v.
But it's off by one.

For example v = 2.
It would return 1 + 1 = 2, instead of 1.
Note that `pow2_rank` does work correctly.

[2020-06-03 13:50] dekimir commented on #6493
I'd need the notion of infinity, of course.  I presume that's not something the sstable format can support?

Thinking about a better name, how about "symmetrically bounded"?  Meaning, it's either bounded or unbounded on both sides.

[2020-06-03 14:07] avikivity commented on #4522
Closing until it happens again.

[2020-06-03 14:07] #4522 closed

[2020-06-03 15:11] slivne commented on #6564
@asias can you pleas have a look - not clear if its a regresison

[2020-06-03 15:20] denesb opened #6581 "Fold query::result_memory_accounter into reader_concurrency_semaphore"
This was suggested by @avikivity on the review of [[PATCH v1 00/14] Limit non-paged query memory consumption](https://groups.google.com/d/msg/scylladb-dev/DiNHszs8fWo/WCwOJe54AwAJ), more specifically on [[PATCH v1 01/14] database: query_mutations(): obtain the memory accounter inside](https://groups.google.com/d/msg/scylladb-dev/DiNHszs8fWo/YImmqO54AwAJ).

The two components have very similar role

[2020-06-03 15:55] #6573 closed

[2020-06-03 15:55] #6575 closed

[2020-06-03 16:55] kbr- opened #6582 ""test_schema_digest_does_not_change" and friends are not specific enough"
During rolling upgrade nodes are partitioned into two subsets
- the nodes that are already upgraded,
- and the nodes that are still running the old version.
Rolling upgrade is a process in which the DB admin moves nodes from the second subset to the first, one by one.

The following tests:
- `test_schema_digest_does_not_change`,
- `test_schema_digest_does_not_change_after_computed_columns`,
- `tes

[2020-06-03 17:12] tgrabiec commented on #6582
The test was supposed to catch accidental changes of the hash, not caused by changing the schema. If you change the schema, the digest is expected to change, and you need to re-generate the test data. That's by design.

If the test wouldn't fail if the schema digest changes, it would lose its accuracy. For example, if we'd ignore new tables as you suggested, then unintended changes in the digest o

[2020-06-03 23:20] aleksbykov commented on #6388
Issue was reproduced with scylla version: Scylla version 4.1.rc1-0.20200602.4a3eff17ff7 with build-id 73aae5b39d17ba95001626da62cffd927ea695ca

job: https://jenkins.scylladb.com/job/scylla-4.1/job/gemini-/job/gemini-3h-cdc-preimage-write/9/

![Screenshot from 2020-06-04 06-05-01](https://user-images.githubusercontent.com/44991177/83698336-65350700-a62b-11ea-81b9-647eb2bfefef.png)

[2020-06-03 23:26] janknieling opened #6583 "Alternator https port not working with docker"
*Installation details*
Scylla version (or git commit hash): 4.0.1
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu (Docker)

Hi,

I would like to use ScyllaDB Alternator with https/tls support. If I try to pass the argument/command "--alternator-https-port=XXX2" to the container via docker compose I will receive the following error:

`docker-entrypoint.py: error: unrecognized arguments: --a

[2020-06-04 06:50] tzach commented on #6583
@nyh ?

[2020-06-04 07:06] nyh commented on #6583
Yes, unfortunately our docker command line parser (`dist/docker/redhat/commandlineparser.py`) doesn't take all of Scylla's command-line parameters, it just takes allows an arbitrary subset of them, and while `--alternator-port` is listed (and so is `--alternator-write-isolation` which is now mandatory, and `--alternator-addresss) but `--alternator-https-port` is missing.

One quick workaround you

[2020-06-04 07:11] avikivity opened #6584 "python3 .deb package build fails"
running reloc/build_deb.sh fails with

[code]

[2020-06-04 07:17] tzach commented on #6583
Or by [Overriding scylla.yaml with a Master File](https://docs.scylladb.com/operating-scylla/procedures/tips/best_practices_scylla_on_docker/#overriding-scylla-yaml-with-a-master-file)

[2020-06-04 07:22] nyh commented on #6572
By the way, if we need a quick workaround for this issue, it can be done easily by ensuring that our evaluation of conditions doesn't short-circuit (i.e., doesn't use `boost::any_of`) but always evaluates all the sub-expressions before doing the "OR".

The performance loss by evaluating unnecessary parts of the condition will be negligible (and most of it would be offset anyway by our need to chec

[2020-06-04 07:39] slivne commented on #6531
@roydahan / @amoskong ping

[2020-06-04 07:39] slivne commented on #6543
@asias any progress on this one ?

[2020-06-04 07:43] #6402 closed

[2020-06-04 07:43] #6012 closed

[2020-06-04 07:46] slivne commented on #4487
supposed to be working - waiting for a jenkins run that actually has a succesfull run with the coredump creation and removal passing.

[2020-06-04 07:51] slivne commented on #6468
@juliayakovlev I extracted this from an issue that had your information #6386 - can you please provide asias download links (you included the test-id)

[2020-06-04 07:51] denesb commented on #6529
This is from the sstable parser code: https://github.com/scylladb/scylla/blob/97cb2892b28222e680a68cdb210c5fe1770f731d/sstables/partition.cc#L296-L299

[2020-06-04 07:52] denesb commented on #6529
@arunsandu1 would it be possible for us to get the sstable and the schema?

[2020-06-04 07:53] fgelcer commented on #6468
@asias , here you find the scylla logs:
[code]

[2020-06-04 07:57] asias commented on #6543
My use after free theory above should not happen. We always wait for the repair_writer to finish before we free the repair_meta object in the gossip  on_dead handler. I added debug code and ran repair locally to verify.

[2020-06-04 08:30] asias commented on #6468
Thanks @fgelcer !

[2020-06-04 08:33] asias commented on #6564
It is repair basded node operations related, so it is a regression.

[2020-06-04 08:35] slivne commented on #6564
@asias if the issue repai-based-operation (and not gossip general) we can move it to 4.2,

repair-based-operations are being disabled by default in 4.1

[2020-06-04 08:43] asias commented on #6564
OK. Let's do that.

[2020-06-04 08:55] haaawk commented on #6485
Any results @aleksbykov ? Did you manage to reproduce or could we close this?

[2020-06-04 08:55] mmatczuk opened #6587 "docker: Running scylla_io_setup does not work and is not needed in some cases"
*Installation details*
Scylla version (or git commit hash): 4.1 and 4.0
OS (RHEL/CentOS/Ubuntu/AWS AMI): Docker

In [scyllasetup.py](https://github.com/scylladb/scylla/blob/branch-4.1/dist/docker/redhat/scyllasetup.py#L62) we now run scylla_io_setup, one needs to note that it requires running with privileges and some setup to make it work. I suggest to disable that if developer mode is enabled.

[2020-06-04 08:55] avikivity commented on #6382
It's possible to view Scylla's behavior as correct.

[code]

will result in the counter being 1. This implies it was zero before. If it was NULL, it should remain NULL, since NULL + 1 = NULL.

A different way to achieve the same is to consider what a counter is: it counts events that happened. If no events happened, the counter is zero. Should the result be different for these two histories?

1.

[2020-06-04 08:58] slivne commented on #6564
@asias I still need an confirmation that this is not generic gossip related

[2020-06-04 09:00] haaawk commented on #6537
@kostja Could you please rename the issue to something which describes the real problem? For example "CDC prevents rolling upgrade from pre 4.0 to a newer version with experimental enabled"

[2020-06-04 09:04] haaawk commented on #6084
@piodul @jul-stas @kbr- what's the status of this? Have we fixed all the issues here?

[2020-06-04 09:08] haaawk opened #6588 "Implement tool that pulls changes from CDC and pushes them to another cluster"
This is needed to perform correctness testing of CDC.

[2020-06-04 09:08] slivne commented on #6587
There is indeed a discrepancy - when running scylla outside of docker , setting developer-mode allows scylla to run without scylla_io_setup.

[2020-06-04 09:11] asias commented on #6468
node4 is the only node that saw the empty tokens for 10.0.12.86.

[code]

[2020-06-04 09:11] haaawk opened #6590 "Implement a test that checks replication based on CDC works correctly"
1. Setup two Scylla clusters
2. Start a tool that reads CDC on one of those clusters and populates the second cluster with changes pulled from CDC (#6588)
3. Run load and nemesis on the first cluster
4. Compare that those two clusters contain the same data.

[2020-06-04 09:16] haaawk opened #6591 "Implement a mechanism to avoid selecting empty CDC Log partitions"
CDC uses large number of streams and depending on the workload some of them may be empty most of the time. Running selects for empty partitions is wasteful and has negative impact on the performance of the cluster. We should implement a way to select only non-empty partitions. It can be either CQL Events or long pooling.

[2020-06-04 09:19] haaawk opened #6592 "Improve CDC generation creation by using custom partitioning and sharding."
The idea is based on using triple <token, shard_id, timestamp> as a stream id and always use end of vnode token.

More in the presentation: https://docs.google.com/presentation/d/1r8S4y31aLzIj6Jh_jWWR9Jb126dhQPisVSy7uTBPCMc/edit?usp=sharing

[2020-06-04 09:19] slivne commented on #6588
isn't this a dup of #6556

[2020-06-04 09:21] slivne commented on #6555
@elcallio ping ?

[2020-06-04 09:26] haaawk commented on #6588
It is. I will close one.

[2020-06-04 09:26] slivne commented on #6548
@bhalev could this be related to @denesb patch merged 0c6bbc84cd30df1c46a6cd81d87170b99d5a8144

[2020-06-04 09:26] slivne commented on #6548
Is this a regression ?

[2020-06-04 09:27] haaawk commented on #6556
Closing because it's a duplicate of #6588

[2020-06-04 09:27] #6556 closed

[2020-06-04 09:29] slivne commented on #6529
@arunsandu1 thanks for reporting - would it be possible for you to share the schema and sstable (mc-195800-big-Data.db) from that specific node so we can try and reproduce/check it in our lab ?

[2020-06-04 09:32] tzach commented on #6518
@roydahan suggest the following

[code]

the `--jre-headless` part is new

[2020-06-04 09:32] slivne commented on #6492
Yes - we are doing non CL=ONE reads.

[2020-06-04 09:34] slivne commented on #6486
@alienth any information you can share will help ...,

[2020-06-04 09:36] slivne commented on #6479
@eliransin can you please have someone look at the metrics shared

[2020-06-04 09:40] slivne commented on #6455
reference from java documentation https://docs.datastax.com/en/developer/java-driver/3.6/manual/metadata/#schema-agreement

Need to check what python does ...

[2020-06-04 09:41] denesb commented on #6529
I will cook a patch to resolve that FIXME, so next time we will have some more context.

[2020-06-04 09:52] slivne commented on #6409
@piodul / @haaawk please look at the issue  - we may have resolved this already (3.2 is old and not supported).

- if you think we have handled it - please comment with which commit / version should have the fix.

[2020-06-04 09:54] slivne commented on #6410
seems a dup of https://github.com/scylladb/scylla/issues/4344 ?

[2020-06-04 10:05] jul-stas commented on #6084
To my knowledge #6491 has everything settled. A review by Nadav is the only missing component.

[2020-06-04 10:24] nyh commented on #6084
I'm having a really hard time understand what is the actual problem reported in this issue, because it seems to have mutated and/or rethought through the different comments, and pull request 6491 also tries to explain a problem, but I didn't understand 1. what is exactly the *problem* (not just a description of what happens) and 2. how is it related to the issue in this bug, about an empty postima

[2020-06-04 11:09] #5028 closed

[2020-06-04 11:09] #6568 closed

[2020-06-04 11:09] #6569 closed

[2020-06-04 11:09] #6227 closed

[2020-06-04 11:09] #6441 closed

[2020-06-04 11:55] amoskong opened #6594 "select query is empty after loading the sstable by 'nodetool refresh ...'"
*Installation details*
Scylla version (or git commit hash): 4.1.rc1-0.20200602.4a3eff17ff7
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-07772e2fe7a213b27 (eu-west-1)

### Test info
- test id: e226e8d2-6b1e-464f-b14e-2bf2156a8203
- test log: https://cloudius-jenkins-test.s3.amazonaws.com/e226e8d2-6b1e-464f-b14e-2bf2156a8203/20200604_000154/sct-runner-e226e8d2.zip
- db log: https://cloudius-

[2020-06-04 12:02] amoskong commented on #6543
I didn't reproduced this segfault after disabled CDC.

- job: https://jenkins.scylladb.com/job/scylla-4.1/job/longevity/job/Reproducer/job/longevity-cdc-4h-test-only-repair/3/
- CDC disabled.

[2020-06-04 12:04] denesb commented on #6548
Maybe https://github.com/scylladb/scylla/commit/0c6bbc84cd30df1c46a6cd81d87170b99d5a8144 uncovered that some repair-related reads are done under the system group.

[2020-06-04 12:12] bhalevy commented on #6437
@roydahan is there a github issue/pull request for the dtest task that we can link to close this issue?

[2020-06-04 12:20] aleksbykov commented on #6485
@haaawk

[code]

[2020-06-04 12:25] aleksbykov commented on #6485
Question should the Preimage postimage have the cdc$ttl value same as delta?

[2020-06-04 12:26] jul-stas commented on #6475
This aligns with behavior of compression/compaction. It even aligns with C*, please see:

SCYLLA: untouched table, all defaults.
[code]

CASSANDRA: untouched table, all defaults.
[code]
So C* prints **both** values of `min/max_threshold` iff any of them is non-default. But it doesn't change the fact that omitted params are set to default.
What can we do? E.g. when we omit `'class' : 'XYZCompaction

[2020-06-04 12:30] haaawk commented on #6485
I think it should.

[2020-06-04 12:31] aleksbykov commented on #6485
Then it looks like issue is still here

[2020-06-04 12:34] haaawk commented on #6475
In such case we probably can close the issue. What do you think @slivne ?

[2020-06-04 13:13] enaydanov opened #6595 "scylla_coredump_setup: coredumpctl: invalid option -- 'v'"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

**Installation details**

Scylla version (or git commit hash): 666.development-0.20200603.97cb

[2020-06-04 14:38] fruch commented on #6595
@enaydanov thanks for the analysis, @amoskong  already did tat ontop of email thread
and I fixed it in #6589

[2020-06-04 14:55] enaydanov commented on #6595
@fruch, should this issue be closed right now or after merge from [`scylladb:next`](https://github.com/scylladb/scylla/tree/next)?

[2020-06-04 14:59] fruch commented on #6595
If it was mentioned in the commit, it would have closed automatically when hitting master.

But since bit was open after the merge took place...
I think we can close it

[2020-06-04 14:59] #6595 closed

[2020-06-04 15:02] bhalevy commented on #6507
Verified with https://jenkins.scylladb.com/view/master/job/scylla-master/job/byo/job/dtest-byo/175

[2020-06-04 15:02] #6507 closed

[2020-06-04 15:09] slivne commented on #6594
@amoskong - are the sstables (using mc) created with RF=3 ? - if they were created with RF=1 - then it could be that the files copied don't have relevant tokens.

In other words - how did you create the sstables used for the refresh, please share the schema

[2020-06-04 15:20] amoskong commented on #6594
Details to prepare the sstables files:

    1. Created keyspace1 and standard1 by:
     # cassandra-stress write no-warmup n=0

    2. Prepare data for small snapshot
     # cassandra-stress write no-warmup n=1000 -pop seq=2000000000..2000001000

    2. Additional data for 100M snapshot
     # cassandra-stress write no-warmup n=500000 -pop seq=3000000000..3000500000

    $ du -sh *
    99M     key

[2020-06-04 15:33] bhalevy commented on #6548
@denesb I think you're right.

I saw the following errors during shutdown.  Do you think it's the same issue, or a diffrent one (that could be related)?

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/497/artifact/logs-debug.2/1591253897798_repair_additional_test.RepairAdditionalTest.repair_option_pr_multi_dc_test/node6.log
[code]

[2020-06-04 15:59] roydahan commented on #6531
Main question is how long should a cleanup take on such keyspaces.
IIRC, the size of the deflate keysapce for example is about 10GB.

[2020-06-04 16:12] denesb commented on #6548
@bhalevy I think this is something different. The query classifying changes should not affect writes (unless they do a read-before-write).

[2020-06-04 16:17] #6584 closed

[2020-06-04 16:50] nyh commented on #6572
Interestingly, we already have one xfailing test that fails because the problem that the unused names are checked at the wrong time (at evaluation, instead of parse time): `test_condition_expression.py::test_update_condition_unused_entries_failed`. That case is the "opposite" of the case that you found - it is a case where there really is an unused name, but we don't know because we never even eva

[2020-06-04 17:21] nyh commented on #6572
Sent to the mailing list a patch with a test case reproducing this bug. Message titled "[PATCH] alternator test: reproducer for unjustly refused condition expression".

[2020-06-04 17:38] roydahan commented on #6437
https://trello.com/c/euCXKfJc

[2020-06-05 06:54] tzach commented on #6518
Closing. Download page update base on @roydahan suggestion above.

[2020-06-05 06:54] #6518 closed

[2020-06-05 07:54] denesb commented on #6548
I cannot reproduce locally, probably because I have a much faster/less congested disk than whatever dtests run on. I do see tons of scans to `system_auth.roles` that run in the `main` group (and hence uses the system semaphore). This table is created by `auth` using normal DDL statements, which means scylla considered it to be a user table before, and hence queries to it would use the user semapho

[2020-06-05 08:01] denesb commented on #6548
There are ~7K scans of `system_auth.roles`, over the course of 6 seconds, all on shard 0.

[2020-06-05 08:20] asias commented on #6564
No, I looked at the logs, it is not gossip related.

[2020-06-05 08:29] denesb commented on #6428
If we are deciding on dropping requests from the front of the queue that we consider as too risky to time out before completion, why not jut continue dropping request from the queue head, until we find a request we consider worth serving. Won't jumping between FIFO and LIFO generate a feedback loop, where the jumping itself will trigger more jumping, via letting the front of the queue to sit some

[2020-06-05 08:29] asias commented on #6564
@juliayakovlev can you please confirm the node and dc mapping?

You mentioned:

 node1 node2 are us-east-1
 node3 node4 are us-west-2

Do you actually mean

 node1 node2 are us-eastscylla_node_east,
 node3 node4 are us-west-2scylla_node_west

?

I saw:

node5 is  us-west-2scylla_node_west

But I saw:

[code]

So, node1 node2 are in one dc, node 3 , 4, 5 are in another dc?

Did you change the RF of

[2020-06-05 08:35] asias commented on #6468
I had a theory that why we see this "gossip - InetAddress 10.0.12.86 is now UP, status = UNKNOWN" on node4 during restart, but I could not see how node4 ended up not having TOKENS application state for 10.0.12.86 almost 4 hours after node4 restarted.

[code]

[2020-06-05 08:40] kbr- commented on #6582
Thanks @tgrabiec , that explains a lot.
And it means my suggestion is just completely wrong.

I'm gonna send a PR adding a comment which explains this test in more detail.

[2020-06-05 08:49] jul-stas commented on #6112
I ran the test on debug build over 1000 times - no error so far. And I don't think that counters would fail in such a simple scenario - it's a solid piece of code and we would detect such error much earlier. So there must be another factor at play.

@bhalevy do you have any hints/ideas what might be the "another factor"? If not, then I'm afraid that we'll have to wait until the assert fires.

[2020-06-05 11:53] kbr- commented on #6084
@nyh

the issue reported by Aleks was that the post-image was calculated incorrectly.
As @jul-stas observed, this issue was fixed by @elcallio's patches.

However, a concurrent thread was started by @haaawk about collection inserts creating a lot of entries in the CDC log and there was a discussion whether or not we can improve it.
It turned out we can, and PR https://github.com/scylladb/scylla/pu

[2020-06-05 11:59] aleksbykov commented on #6084
@kbr- should all rows have ttl? because in the latest example for POSTIMAGE rows and for UPDATE rows the cdc$ttl is None

[2020-06-05 12:12] kbr- commented on #6084
`cdc$ttl` only makes sense for delta rows, I guess.

And there is no well-defined notion of TTL for deletions. Only for addition of cells. So for example:
[code]
doesn't have a TTL.

[2020-06-05 12:16] haaawk commented on #6084
I agree with comment about deletions but ttl can be useful for preimage/postimage. TTL is part of the state of the row so it makes sense to include it into pre/post image.

[2020-06-05 12:19] kbr- commented on #6084
Saying that `cdc$ttl = X` in a post-image entry would suggest that all cells in this row have TTL `X`, which is not true in general. We don't know what TTL do the different cells end up with after applying the mutation, we only know it for the mutation that we're applying right now.

Same applies to pre-image.

[2020-06-05 12:25] haaawk commented on #6084
Fair enough. In such case we probably can close this issue.

[2020-06-05 12:28] aleksbykov commented on #6084
@kbr- , Thanks for clarification. then #6485 could be also closed

[2020-06-05 12:36] denesb commented on #6548
The queries seems to be legit, they are generated by auth on initializing. Also, we don't have 7k queries, this is just the range-scan algorithm dividing a scan into vnode chunks, with increasing concurrency.

The auth subsystem seems to use a hardcoded timeout of 5s for distributed queries. A solution would be to make this configurable, and bump it to a bigger value for dtests.

[2020-06-05 12:55] piodul opened #6597 "CDC: collection updates which are split have incorrect pre/postimages"
Consider the following example:

[code]

The batch contains two UPDATEs, each of them appending a cell to the same row. Appended cells have different TTLs, therefore we create separate log entries for them.

The first two rows of the `tbl_scylla_cdc_log` correspond to cell 1 with TTL 10000. The table was empty before the first update, so there is no preimage. There is postimage, with correct value

[2020-06-05 13:25] piodul opened #6598 "CDC: within a batch, clearing collection in one clustering row can cause wrong pre/postimage in another row"
Consider this example:

[code]

The example above does the following:

1. Set `c = [1, 2, 3]` in row with `ck = 1`,
1. In a single batch:
   1. Set `c = []` in row `ck = 0` (not the same row as in the first step). This does nothing because it sets `c` to null and there is row marker.
   1. Append `c = c + [4]` in row with `ck = 1` (the same row as in the first step).

The last preimage and postima

[2020-06-05 13:44] denesb opened #6599 "storage_proxy::query_partition_key_range_concurrent(): use more aggressive range merging"
Ranges scans work on vnodes resolution, scanning one vnodes in a single step. When scanning an empty table, the range scan algorithm uses exponentially increasing concurrency. In each iteration it will read concurrently 2 X more vnodes than in the iteration before, until it has enough data to fill the page. Often, especially with higher concurrency, many of the vnodes selected for the current iter

[2020-06-05 13:44] denesb commented on #6599
/cc @avikivity, @tgrabiec, @gleb-cloudius

[2020-06-05 13:52] denesb commented on #6599
I should also note that the reason I think we could do this is that with the current replica-local range scan algorithm, scanning the same table with a high concurrency (dividing the work between many scans) has no advantage over just one scan with the entire range.

[2020-06-05 13:56] denesb commented on #6548
I also proposed a solution to improve range scans on empty and near-empty tables, such as `system_auth.roles`: https://github.com/scylladb/scylla/issues/6599.

[2020-06-05 16:55] espindola commented on #6428
In networks I think the common practice is to start dropping requests probabilistically (https://en.wikipedia.org/wiki/Random_early_detection)

Could we keep track of the average time in queue, compare that with the timeout of a incoming request and compute a probability for it to be dropped instead of queued?

[2020-06-05 18:09] raphaelsc opened #6600 "Resharding can theoretically resurrect data"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

@glommer, @avikivity

The explanation below is based on a research done by me and @glommer.

Th

[2020-06-05 18:48] #6553 closed

[2020-06-05 18:48] #6582 closed

[2020-06-05 18:51] syuu1228 commented on #6518
I suppose update-java-alternatives messages are not problem, it just saying some java packages are not installed.
For example, mozilla-javaplugin.so should be Java plugin for the web browser, javac is the Java compiler, both are not required for running scylla-tools / scylla-jmx, so not installed by package dependencies.

And scylla_setup error should be not related.

I also think running "sudo ad

[2020-06-05 21:03] Pr0methean commented on #4413
This is affecting us on https://github.com/bionicles/coronavirus.

[2020-06-05 21:36] vladzcloudius commented on #6409
@avikivity I posted a theory [here](https://github.com/scylladb/scylla/issues/6409#issuecomment-632311620) how this could have happened and @elcallio needs to give his opinion.

The code in manager.cc doesn't keep more than a single `commitlog` instance per destination.

[2020-06-06 06:05] penberg commented on #4413
If I understand the scenario correctly, connections are working fine from the Windows host to the Docker containers *except* to port 9042, which is the CQL protocol -- even when `listen-address` is configured in the YAML, right?

One possible explanation might be that if the `--listen-address` command line option is not configured, we default it to `hostname -i`, even overriding whatever is in YAM

[2020-06-06 18:17] aleksbykov opened #6601 "A lot of warning messages with drop connections during gemini tests"
*Installation details*
Scylla version (or git commit hash): 4.0.1-0.20200602.4f4845c94c9 with build-id 955278702ed6c80fc056a6812c6512de20da16a4
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-02d233b677e59b301
Job link: https://jenkins.scylladb.com/job/scylla-4.0/job/gemini-/job/gemini-3h/41/

test scylla instances type: i3.large
Gemini comand was running over cluster with 3 nodes:
[code]
Nex

[2020-06-06 18:25] dkropachev commented on #6453
@psarna , you probably right, there was nemesis working that does add random columns with random types, it is possible for it to create collection up to 10 levels deep (meening collection inside of collection inside of collection ..etc).

There is only one problem, if you look at the memory graphic - https://user-images.githubusercontent.com/40304587/81930259-8dc07700-9612-11ea-8fe2-ab546d0e91c0.p

[2020-06-06 18:43] tzach commented on #6518
Thanks @syuu1228 to validate:
can we remove
`sudo add-apt-repository ppa:openjdk-r/ppa`
from Ubuntu 16,18 (and laster 20)?

[2020-06-07 07:20] juliayakovlev commented on #6564
Yes, us-east-1 and us-west-2 are region names in AWS.
us-eastscylla_node_east and us-west-2scylla_node_west - DC centers names in Scylla
But it's same

yes, but node5 was decommissioned, so it shouldn't be there

no

[2020-06-07 07:26] bhalevy commented on #5642
Still happening...
https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2074/testReport/junit/test_boost_row_cache_test/cc/test_exception_safety_of_reads/

[2020-06-07 07:34] bhalevy opened #6602 "data_distribution_balance_test dtest fails from time to time"
Seen recently in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/497/testReport/data_distribution_balance_test/TestDataDistribution_with_TimeWindowCompactionStrategy/data_distribution_balance_test/
[code]

and more severely in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/508/testReport/junit/data_distribution_balance_test/TestDataDistrib

[2020-06-07 07:40] bhalevy commented on #6602
@asias can you please look into this?

[2020-06-07 08:20] gleb-cloudius commented on #6428
On Fri, Jun 05, 2020 at 09:55:27AM -0700, Rafael Ávila de Espíndola wrote:

We can only drop randomly from queues that are before the point requests
are split to multiple sub-requests that go to different replicas. After
that point dropping uncoordinated will only cause a slowdown in
processing. But those queues were never seen to be a problem.

Also in a networking dropping randomly helps because

[2020-06-07 09:20] syuu1228 commented on #6010
Okay, able to reproduce the error with @hagitsegev provided Docker image, it seems like similar issue as #5640 but another repository (original issue was scylla main repo and this is scylla-jmx).

The solution should be prevent installing *.service using install.sh, use debian/*.service instead.
(see: https://github.com/scylladb/scylla/commit/29285b28e2de2f07593a65a5f03977da440b2e42)

[2020-06-07 09:38] bhalevy opened #6603 "no_read_amplification_on_repair_with_mv_test dtest times out"
Seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/506/testReport/read_amplification_test/ReadAmplificationTest/no_read_amplification_on_repair_with_mv_test/
Scylla version 97cb2892b28222e680a68cdb210c5fe1770f731d
(Last successful run on master was at dtest-release #505 9d9d54c804dd400d90edfdb84c8f5319d06b1633)
[code]

It appears like node repair does not retur

[2020-06-07 10:37] bhalevy commented on #6603
Correction, shard 1 completed successfully, but not shard 0.
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/508/artifact/logs-release.2/orphaned/1591420389_read_amplification_test.ReadAmplificationTest.no_read_amplification_on_repair_with_mv_test/node2.log
[code]

[2020-06-07 12:31] nyh commented on #6084
I'm at a loss here. @haaawk said "we can probably close this issue" and yet there seem to be here several threads of discussions I don't understand continuing, and the pull request https://github.com/scylladb/scylla/pull/6491 is still open and says it "fixes" this issue. Can someone who understand this issue please close it and perhaps replace it by a new issue if a part of this issue is still rel

[2020-06-07 12:40] bhalevy commented on #5780
Not seen in last ~50 runs.  Closing...

[2020-06-07 12:40] #5780 closed

[2020-06-07 14:23] bhalevy commented on #6112
@jul-stas No, sorry.  I don't even have a speculation...

[2020-06-07 14:24] #6600 closed

[2020-06-07 14:45] ShlomiBalalis opened #6604 "scylla_setup fails - node exporter fails to start"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200605.1b7f1806acd
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): debian9/10 and ubuntu 16/18

The 4 artifact tests of debian 9, debian 10, ubuntu 16 and ubuntu 18 of the master branch fail on the activation of the scylla_setup script. Specifically, the node exported failed to start:
[code]
(The error pasted here was

[2020-06-07 14:55] relunctance commented on #830
I'm looking forward to solving this problem

[2020-06-07 16:02] avikivity commented on #6548
If those are system queries, then they should not time out, should they?

[2020-06-07 16:07] avikivity commented on #6548
Ah, distributed queries must have a timeout. Still, why are we issuing so many?

[2020-06-07 16:07] avikivity commented on #6599
We should avoid optimizations for empty tables, since these are rare. As long as we give somewhat reasonable service, that should be enough. Moreover, this is an optimization for small cluster sizes, and becomes less effective as the cluster size increases.

#6548 is debug mode, yes? this makes it an even more specialized optimization.

[2020-06-07 16:12] avikivity commented on #6601
@aleksbykov something is enabling tracing.

@roydahan @dahankzter any idea what that can be?

@roydahan @dahankzter why are your handles so similar?

[2020-06-07 17:58] roydahan commented on #6601
I have no idea (on both questions).
It doesn’t look like something on SCT side that enables it.

[2020-06-07 19:44] #6084 closed

[2020-06-07 21:43] mattcobley commented on #4413
@penberg thanks for the response. I've had to recreate the environment, as this was obviously logged a long time ago, but can recreate it again.

The output of the command that you suggested is the following for scylla-node1:

[code]

I've tried running the containers with the parameters that you suggested, but unfortunately I still get the same problem.

[2020-06-08 00:28] asias commented on #6602
The key space is quite small in the test. It is not guaranteed to have perfect distribution. I think we should increase the key space to make the test meaningful.

[code]

[2020-06-08 01:09] asias commented on #6272
We did not manage to get the cores under sct yet. I will try to reproduce locally.

[2020-06-08 02:45] asias commented on #6272
On top  of commit a4aa753f0f, I added the following debug code to 1) increase parallelism of ranges we repair in parallel 2) track the pending flat mutation reader.
[code]

Data of myks is inserted as follow:
[code]

3 nodes in the cluster, each node has 1 shard, and 1GB memory.

I got repair hang very easily when I run repair on 3 nodes in parallel.

[code]

After the hang, I looked at the pendin

[2020-06-08 07:17] tzach commented on #6518
Tested the install process without
`sudo add-apt-repository ppa:openjdk-r/ppa`
and its just works
Removing it from Scylla Open Source and Enterprise Ubuntu 16 and 18

[2020-06-08 07:37] bhalevy commented on #6602
@asias from a successful run's cfstats it doesn't look small at all

Here are the numbers from node1, the others cfstats are very similar.
[code]

[2020-06-08 07:38] elcallio commented on #6591
As long as one can do either select-all or use scylla paging, `select * from log where pk IN { [ids of one or more nodes] }` works pretty ok for avoiding empty selects.

[2020-06-08 07:47] ShlomiBalalis opened #6606 "Scylla initialization freeze on on the activation of the API server"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200602.9d9d54c80 with build-id 3e81f3c9a7384d17c476155dd41f6244f44c9f8a
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-077499b10f31487f8

In the 4h-100gb longevity of the master branch, during a soft_reboot nemesis (the target node is restarted using `sudo reboot`) the target node's, node#3, scylla failed to star

[2020-06-08 08:03] nyh commented on #6606
What happens between this message ("Scylla API server listening on ") and the next message we never got ("initializing storage service") is the following code from `main.cc`:
[code]
There are only two get() calls here that can hang - cql_config.start() and gossiper.start().
Also other things could crash - did you verify there was no core dump?

[2020-06-08 08:10] syuu1228 commented on #6518
Yes.

[2020-06-08 08:13] elcallio commented on #6555
Call me old fashioned, but I think that if one says there is a race, one should explain said race instead of insisting on a treasure hunt.
Truncate flushes or clears memtables, picking up the RP at this point, then removes all sstables before or at said RP. Data can absolutely come in after this, but is there an actual race you have observed?

[2020-06-08 08:18] haaawk commented on #6555
Yes, there is a race w observed. This issue wasn't created after eyeballing the code but after running tests and observing this behavior. The test was as follows:
1. Have two nodes
2. Run write workload on them
3. Stop workload
4. Run truncate

This occasionally led to resurrected data but if we include nodetool flush between 3 and 4 then the resurrection never happened.

[2020-06-08 08:20] asias commented on #6602
Do you mean the on disk size is not small at all (275684362 bytes)? It does not matter the on disk size. What matters is the number of partitions in the tests. The test inserted 210000 partitions. The more partitions we insert the higher chance we have better distribution of the partitions among the nodes.  I suggest to reduce the `-col size=fixed(200) n=FIXED(5)` and increase `n=210000` in c-s cm

[2020-06-08 08:44] bhalevy commented on #6602
Looks like the problem is that the load map is updated every minute and we don't wait in the test.

[2020-06-08 08:45] slivne opened #6607 "Scylla doesn't crash on first SIGABRT (it requires two)"
Scylla: 4.1.rc1-0.20200604.44cc4843f1

[code]

[code]

**Yet CQLSH still works  - thats not expected**

[code]

checking the status  - no coredump is being generated

[code]

sending kill abrt again to the same process

now we get a coredump generated
[code]

checking journal again

[code]

and as expected the process is not operational

[code]

[2020-06-08 08:46] avikivity commented on #6410
Was this before you disabled hints?

[2020-06-08 08:50] gibsn commented on #6410
@avikivity, yes, it was before

[2020-06-08 08:50] ShlomiBalalis commented on #6606
Yes, there was no core dump from the node.

Also, an identical situation happened to the 4h-cdc-100gb:
At the setup of the test, the scylla service at node#6 could not start, and froze at the same stage:
[code]

Nodes:
[code]

Logs:
[code]

[2020-06-08 08:58] asias commented on #6272
@denesb It seems I hit this issue https://github.com/scylladb/scylla/issues/3866

[2020-06-08 08:58] denesb commented on #6599
On Sun, Jun 7, 2020 at 7:07 PM Avi Kivity <notifications@github.com> wrote:

Actually this gets worse for larger clusters, as more nodes mean more
vnodes. I think this is precisely why we see this with #6548: it launches 6
nodes instead of the usual 3 or less used in most dtests. I was expecting
the tablet answer but I agree that this is a corner-case. Empty and sparse
tables should be rare, but i

[2020-06-08 09:03] aleksbykov commented on #6601
@avikivity as @dahankzter  said gemini running without tracing by default, sct doesn't enable tracing too. This warning messages happened not for each run, and looks like some how related to generated schema

[2020-06-08 09:16] denesb commented on #6548
On Sun, Jun 7, 2020, 19:02 Avi Kivity <notifications@github.com> wrote:

These are distributed queries. Should those have no timeout either (I don't
know what the other distributed system queries do). The auth code
explicitely uses timeouts and is prepared for a failure.

[2020-06-08 09:17] denesb commented on #6548
On Sun, Jun 7, 2020, 19:07 Avi Kivity <notifications@github.com> wrote:

There isn't a lot, the replicas see a lot of reads due to our scan
algorithm's very high parallelism on near empty tables.

—

[2020-06-08 09:23] syuu1228 commented on #6604
The error message "subprocess.CalledProcessError: Command '['systemctl', 'cat', 'node-exporter.service']' returned non-zero exit status 1." means the script does not able to find systemd unit file, which means .deb does not installed node-exporter.service correctly.

And I found latest next does not packaging node-exporter.service correctly, will send PR to fix this.

[2020-06-08 09:25] syuu1228 commented on #6604
Probably we should have better error message, BTW.

[2020-06-08 09:27] amoskong commented on #6460
The 'stuck' time reduced from 100s to 5s, so the issue had been fixed.

Test id: bc5093f6-b01f-4909-8421-b26a0e7f467c
job: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/artifacts/job/artifacts-ami/113/

[code]

[2020-06-08 09:30] haaawk commented on #6537
@slivne @avikivity ping

[2020-06-08 09:35] slivne commented on #6607
checked on 4.0.1 , 3.3.3 - works in the same manner - so its long standing still needs to be resolved.

[2020-06-08 09:48] bhalevy commented on #6602
@asias said:

It seems like we have around 250000 partitions, isn't it enough?
[code]

[2020-06-08 10:41] fgelcer commented on #4046
running with master from June 7th, got this error:

[code]

[2020-06-08 11:33] #5459 closed

[2020-06-08 11:33] #6488 closed

[2020-06-08 11:39] psarna commented on #6572
The patch reached master - closing.

[2020-06-08 11:46] nyh commented on #6572
Reopening. The patch was a test case, not a fix. I'm working on a fix.

[2020-06-08 12:04] psarna commented on #6572
Oopsie :)

[2020-06-08 12:29] juliayakovlev opened #6613 "Segmentation fault and coredump on the few nodes during reading from materialized view"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200607.a1e
235b1a with build-id f71dfc93f549d44c958d52d11ffc78757e085386
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b53d2c2e5f6eb7d6 (eu-west-1)

Test: [longevity-lwt-3h](https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/yulia/job/staging-longevity-lwt-low-load-3h/22/console

[2020-06-08 12:29] djuwa4 opened #6614 "Script scylla_setup freezes"
I greet everyone!
I install the scylla, i also installed python 3.8.2.
Then i run the script scylla_setup, on stage: "Do you want IOTune to study your disks IO profile and adapt Scylla to it?"
This is the data that i get after choosing "Y":
...............................................................................................................................................................

[2020-06-08 13:28] elcallio commented on #6561
There is a missing pre-image check in the row deletion code in log.cc. I've sent a patch fixing it.

[2020-06-08 13:43] dekimir commented on #6382
That would imply that Cassandra's behaviour is not correct, wouldn't it?  And that means we should file a bug against Cassandra and test this argument there.

[2020-06-08 13:48] dyasny commented on #4046
@fgelcer I ended up finding the correct syntax:

`curl --fail -S -s -X POST http://localhost:10000/compaction_manager/stop_compaction?type=COMPACTION`

But you always have to specify the type, this is why you see the error. Try `nodetool stop COMPACTION`

[2020-06-08 13:55] haaawk commented on #6561
Thanks @elcallio

[2020-06-08 14:03] fgelcer commented on #4046
yes, i did that, but it doesn't work, failed with another error:
[code]

[2020-06-08 14:05] dyasny commented on #4046
@fgelcer if the API call fails, this is a regression. I works for me right now in 4.0 and 2019.1.8

[2020-06-08 15:05] slivne commented on #4487
@amoskong can you please update if on 4.1 / master it passes after we fixed the coredumps

[2020-06-08 15:08] bhalevy commented on #6493
To me `asymmetrical bounded` tombstone sounds more obscure than `semi-bounded`, but in any case, I'm don't think we have a good enough reason to rename it.

[2020-06-08 15:08] slivne commented on #6468
currently not seeing this on 4.1 runs - so its not considered a blocker for 4.1 (currently)

[2020-06-08 15:11] slivne commented on #6543
Since CDC is experimental in 4.1 - this issue will not be a blocker for 4.1 (and will be a blocker in the release CDC is GAd).

[2020-06-08 15:13] avikivity commented on #6382
It's also possible to view Cassandra's behavior as correct. It's not clear cut here.

[2020-06-08 15:16] dekimir commented on #6493
OK, closing.

[2020-06-08 15:16] #6493 closed

[2020-06-08 15:20] slivne commented on #6606
@ShlomiBalalis if this reproduces - please generate a coredump and upload it

If that doesn;t work, please provide a reproducer / a stuck server.

[2020-06-08 15:33] psarna commented on #5997
some notes at the end of the day:
First of all, if we decide to drop commitlogs for views, base commitlog segments must be kept alive until all memtables of both base and view are flushed. That's problematic, because currently the view updates are applied *before* the base update - so the base commitlog entry does not yet exist at the moment of applying its view updates. There's also high potentia

[2020-06-08 17:11] avikivity commented on #6614
First Scylla 3.1 is end of life. Please try again with 4.0.1.

Second, iotune is known to be problematic with HDD. You can work around it by creating io_properties.conf with the following contents:

[code]

adjust for the specs of your disk.

[2020-06-08 19:15] fgelcer opened #6616 "huge oscillation on total requests under regular stress"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200507.791acc7f3 with build-id 1139cd664398ee41df931ec793deba9f87a3f531
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-02227311665d5f430

running a regular job of 200gb-48h on master and 4.1 we observed a strange behavior in the stress ops generated, that they run as spikes, jumping up to ~45k ops, and dropping b

[2020-06-08 19:19] fgelcer commented on #6616
this is how to gather all the monitors of all mentioned jobs:
[code]
here the list of test-ids:
master job, from May 8th - test-id `cf816984-7362-491f-b364-ee107388e8e9`
master job, from June 5th - test-id `67c10a6d-5d5f-4d87-938f-a944867ed8b3`
4.1 staging job from June 7th - it is currently running - monitor ip `54.72.61.198`

[2020-06-08 19:21] fgelcer commented on #6616
to see the relevant logs, use the following command:
[code]
using previous test-ids

[2020-06-08 21:21] raphaelsc commented on #6531
It's important for me to know if this is a preexisting problem or a regression.

By  the time being, I will assume it's a new problem and look for anything that could explain the source of slowness. What's the compaction strategy(ies) used in all those keyspaces?

Are you sure that all those keyspaces were only 10GB in size (total) at time of cleanup? the longevity test name says 50GB, how is that

[2020-06-08 21:38] raphaelsc commented on #6531
@amoskong @roydahan keyspace is cleaned up one at a time? is there any operation running in parallel to cleanup?

[2020-06-08 22:37] amoskong commented on #6531
The keyspaces are cleaned up one by one (only one at a time).

We only have some background workloads during the nemesis.
[code]

[2020-06-08 23:08] ShlomiBalalis opened #6617 "nodetool refresh caused a malformed_sstable_exception"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200602.9d9d54c80 with build-id 3e81f3c9a7384d17c476155dd41f6244f44c9f8a
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-077499b10f31487f8
machine type: i3.4xlarge

In a 200gb-48h longevity, a nodetool_refresh nemesis started at `2020-06-06 07:43:29.003` on node#7. The nemesis takes pre-made SSTables, move them to

[2020-06-09 02:52] amoskong commented on #6531
All keyspaces used 'SizeTieredCompactionStrategy'.

50GB is the total dataset size.
We have 6 keyspaces, workloads use different keyspace for each compression, so you can see the compression name in suffix of keyspace name.

[2020-06-09 03:02] amoskong commented on #6617
Issue https://github.com/scylladb/scylla/issues/6594 occurred in above job, the select query is empty after loading the sstable file.

[code]

[2020-06-09 05:11] bhalevy commented on #6467
Hit again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/510/testReport/lwt_destructive_ddl_test/LwtDestructiveDDLTest/test_drop_column/

[2020-06-09 05:15] #6602 closed

[2020-06-09 05:27] avikivity commented on #5977
@syuu1228 let's just detect that it fails and skip it in that case.

[2020-06-09 05:42] asias commented on #6602
It is really depends on the distribution variance we allow in the test. If this number indeed makes the test pretty stable we can keep using it.

[2020-06-09 06:06] djuwa4 commented on #6614
Please tell me in which directory do I need to create the file?

[2020-06-09 08:32] roydahan commented on #6617
@amoskong did you verify that if we take these files and load them into empty 3 nodes cluster, the refresh works and the data is there?

[2020-06-09 08:35] amoskong commented on #4487
PASSED.

The two jobs already used fixed scylla (contained coredump setup fix)
- https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/artifacts/job/artifacts-centos8/23/
  - version: scylla-4.1.rc1-0.20200604.44cc4843f1.x86_64.rpm
  - BTW: recent two jobs (24, 25) failed for SCT issue.
- https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-centos8-test/106/
  - ver

[2020-06-09 09:56] fgelcer commented on #6616
checking what was the 1st AMI that had such issue:

ami `ami-0df0de5988901e7f3` (the 1st one after 4.1.rc0) doesn't have such behavior:
![Screenshot from 2020-06-09 11-58-50](https://user-images.githubusercontent.com/32832995/84128024-ac1a6680-aa48-11ea-948b-7d4567ea60f5.png)

this is the 1st build with this issue, it was created on `May 22, 2020 at 9:40:07 PM` from job `jenkins-scylla-4.1-ami-16`

[2020-06-09 10:03] #6436 closed

[2020-06-09 10:03] #6540 closed

[2020-06-09 10:03] #6604 closed

[2020-06-09 10:04] #6010 closed

[2020-06-09 11:41] eliransin commented on #6616
@fgelcer can you point me to the time window where this oscillation happen?
I couldn't find it in the two links to raintank you posted.

[2020-06-09 11:45] fgelcer commented on #6616
looks like thos raintank snapshots are missing data...
here there is a monitor alive for you to mess around
http://54.72.61.198:3000/

[2020-06-09 11:45] eliransin commented on #6616
According to the window provided by @fgelcer

suspects are: `git log --oneline 0760107b9fa..a1c15f06902`

a1c15f069 repair: Make sure sinks are always closed
4d68c5338 repair: Fix race between write_end_of_stream and apply_rows
7d1f352be hinted handoff: don't keep positions of old hints in rps_set
0fe533544 hinted handoff: remove discarded hint positions from rps_set
8a026b8b1 Revert "compaction_m

[2020-06-09 11:47] eliransin commented on #6616
So few question @fgelcer :slightly_smiling_face:  :
1. Was HH enabled?
2. Does this happen every time now?

[2020-06-09 12:02] fgelcer commented on #6616
i bisect the 1st AMI for branch-4.1 that had this issue, and it is **not** present on **4.1.rc0** !

if the default of HH is enabled, and we don't explicitly disable it on `scylla.yaml`, then it is enabled

Yes, it now happens to all builds I have tried (from the AMI created on `May 22, 2020 at 9:40:07 PM`) when running a job called 200gb-48h

[2020-06-09 12:26] avikivity commented on #6616
None of those commits are likely.

[2020-06-09 12:29] avikivity commented on #6616
It may be that the kernel version changed.

[2020-06-09 12:42] roydahan commented on #6616
For some reason, I don't see it when running performance job of throughput and IIUC we don't see it on all types of longevities.

@amoskong & @fgelcer please mention on which tests (except the longevitiy-200gb) we see it and what are the stress commands that we run there.

[2020-06-09 12:46] #6561 closed

[2020-06-09 13:01] eliransin commented on #6616
It looks like a weird stats / sampling issue.
observations about the stats:
1. If you closely look on the stats of the **requests served per instance** it is stable.
2. If you move the cursor on them (the per instance stats) you see that when jumping between two sampling points, some of the samples doesn't change (not in value but the actual sample stays the same).
3. if you change the time scope

[2020-06-09 13:04] avikivity commented on #6540
Backported to 3.3, 4.0, 4.1.

[2020-06-09 13:04] denesb commented on #4176
Another under-the-radar area is the read-ahead buffers of `seastar::input_stream`. They can use up quite a lot of memory. This will require cooperation from the `seastar::input_stream`, in a general form (being a seastar component we can't just pass it the `reader_permit`).

[2020-06-09 13:05] avikivity commented on #4176
No, these work already. input_stream allocates buffers from file, which is a traced_file_impl in our case.

[2020-06-09 13:10] amnonh opened #6618 "Running with dbuild on docker failed on permission denied"
I compiled and try to run using dbuild.
I'm using docker 19 running as a user not as root.

It failed on permission denied :
ERROR 2020-06-09 15:42:20,971 [shard 0] init - Directory '"/var/lib/scylla/view_hints/5"' cannot be initialized. Tried to do it but failed with: storage_io_error (Storage I/O error: 13: filesystem error: mkdir failed: Permission denied [/var/lib/scylla/])

As a workaround I'

[2020-06-09 13:36] fgelcer commented on #6616
i will take a look into other master jobs (from last week), but 4h job isn't affected for sure

[2020-06-09 13:37] fgelcer commented on #6616
i still can't point out side effects of this in the test (as i figured it out while testing a patch i'm trying to send to SCT repo)

[2020-06-09 13:38] eliransin commented on #6616
@fgelcer is it consistent?

[2020-06-09 13:45] fgelcer commented on #6616
^^

[2020-06-09 13:52] psarna commented on #5997
Another batch of notes:
It looks like a proper solution should take `db::rp_handle` obtained when applying the base mutation and propagate it all the way down the call chain. `db::rp_handle` is a replay position handle which keeps the commitlog entry alive - used in order to keep the segments alive until specific memtables are flushed. Now, this handle should be passed to the view updates which ar

[2020-06-09 14:56] avikivity commented on #6618
@penberg is the scylla process inside the container running as root or some other user?

It should run as root for minimum friction.

[2020-06-09 15:01] avikivity commented on #6604
@syuu1228 please provide a backport for 4.1.

[2020-06-09 15:02] avikivity commented on #6604
(if needed)

[2020-06-09 15:04] #4487 closed

[2020-06-09 15:21] slivne commented on #6594
@amoskong can you please provide the path to download the files

[2020-06-09 16:04] slivne commented on #6594
I found the files on s3 - but they do not seem updated

![s3](https://user-images.githubusercontent.com/3465480/84171774-e05f4880-aa83-11ea-899b-5f81cf268b6b.png)

the last modified date is 3.5 years ago !!!!

@roydahan / @amoskong please double check this - I think we are still using the old files

[2020-06-09 16:05] slivne commented on #6617
Also commented on the other issue

I found the files on s3 - but they do not seem updated
![s3](https://user-images.githubusercontent.com/3465480/84171943-0d136000-aa84-11ea-8ec8-638357ea7a89.png)

the last modified date is 3.5 years ago !!!!

@roydahan / @amoskong please double check this - I think we are still using the old files

If not please provide me access to the files and I'll test them a

[2020-06-09 17:09] rnz commented on #5155
May be reopen?

[2020-06-09 17:17] avikivity commented on #5808
Backported to 4.0, 3.3 (4.1 is safe).

[2020-06-09 18:07] slivne commented on #6613
@psarna I think you had a look - since @denesb was out on holiday on monday - nut lets get the right person checking this.

@psarna can you please update the issue if you found anything

@bhalevy / @denesb I expect you need to look at this

[2020-06-09 18:36] psarna commented on #6613
I spent the day on trying to run the core + binary under gdb properly, but I ultimately discovered that the binary from this AMI is corrupt in a weird way - it doesn't have a proper dynamic linker path and it crashes gdb when trying to print a backtrace. Eventually, Rafael pointed me to this link, and that's what I was planning to start with tomorrow: https://github.com/scylladb/scylla-pkg/#lookin

[2020-06-09 18:50] espindola commented on #5642
With a41258b1160d3cef24935425a89ea1479f974b61 and the attached change I can reproduce it every time with

./build/dev/test/boost/row_cache_test_g -t test_exception_safety_of_reads --report_level=no  --catch_system_errors=no  -- -c2 -m2G --overprovisioned --unsafe-bypass-fsync 1 --blocked-reactor-notify-ms 2000000 --collectd 0 --random-seed 404629206

[t.patch.txt](https://github.com/scylladb/scyll

[2020-06-09 19:58] slivne commented on #6606
I tried to reboot an instance with the same AMI 10 times - it doesn't reproduce - we need help in reproducing this and getting a machine stuck.

[2020-06-09 21:55] nyh commented on #6572
I have a patch for this issue, which completely changes the way that name references ("#name") and value reference (":val") are handled in Alternator - instead of being resolved at evaluation time, it happens earlier, right after parsing, in a separate step called "resolving".

The patch is big, so I need to go over it again before sending, but it's mostly ready. This patch will fix the two xfaili

[2020-06-10 00:46] asias commented on #6272
After applying following patch to increase the reader limit, the hang is gone.

[code]

[2020-06-10 00:55] espindola commented on #5642
I was able to reduce the testcase a bit and pushed it to

https://github.com/espindola/scylla/tree/debug-next-failure

I still don't understand why, but the failure happens if the cache is evicted during two very specific allocations. I have attached the backtrace of both.

To reproduce, run
 ./build/dev/test/boost/row_cache_test_g -t test_exception_safety_of_reads --report_level=no --catch_system

[2020-06-10 01:00] espindola commented on #5685
Another case where it looks like stderr is missing:
https://jenkins.scylladb.com/job/scylla-master/job/next/2086/consoleText

[2020-06-10 05:25] avikivity commented on #5642
@tgrabiec that's you

[2020-06-10 06:11] bhalevy commented on #5685
@espindola in that case the full log kept locally under testlog/$mode is copied to jenkins artifact dir: https://jenkins.scylladb.com/job/scylla-master/job/next/2086/artifact/testlog/dev/row_cache_test.274.log and seems to contain everything.

In the case that @xemul is describing it looks like the saved log is truncated, with this part missing:
[code]

[2020-06-10 06:12] bhalevy commented on #5642
Cc @xemul

[2020-06-10 06:22] bhalevy commented on #5685
Apparently, boost prints some of these messages to stdout, not to stderr...
[code]

[2020-06-10 06:54] bhalevy commented on #6613
The package is here: http://downloads.scylladb.com.s3.amazonaws.com/relocatable/unstable/master/2020-06-07T17%3A36%3A22Z//scylla-package.tar.gz

(Note that due to a different bug there are two consecutive slashes (`//`) in the url.
and that confuses the scylla-pkg `scripts/scylla-s3-reloc` tool.

[2020-06-10 07:01] slivne commented on #6272
@denesb please have a look

[2020-06-10 07:08] denesb commented on #6272
@slivne will do.

[2020-06-10 07:18] asias commented on #6272
I added more debug code to check where repair master and follower actually hang at. The following is a repair instance where node 1 is repair master and node 2 and node 3 are followers.

[code]

[2020-06-10 07:21] asias commented on #6272
More information:

Increasing max_count_streaming_concurrent_reads alone, I still saw hang with -m 1024M per node, I saw no hang with -m 2048M per node (1 shard per node).

It seems it is related to memory tracking in the reader.

[code]

[2020-06-10 07:24] bhalevy commented on #6606
A coredump will surely help understand what's going on...
@xemul can you make something out of the logs we have at hand?

[2020-06-10 07:53] penberg opened #6624 "sstable_3_x_test memory leak"
The sstable_3_x_test failed once out of three runs:

[code]

with ASan detecting a memory leak in the failing one:

[code]

Full log here:

https://jenkins.scylladb.com/job/scylla-4.0/job/next/88/consoleText

[2020-06-10 08:18] avikivity commented on #6614
`/etc/scylla.d/io_properties.yaml`

[2020-06-10 08:22] fruch commented on #6513
@nyh did anyone took a look into this issue/test ?

[2020-06-10 08:25] ricardoheyn opened #6625 "Materialized Views OperationTimedOut and nodes restart after re-create them"
Hello,

*Installation details*
Scylla version: 3.1.4-0.20200224.c25f627a6
Cluster size: 3
OS: Ubuntu 18.04.4 LTS

I am facing some issues with Materialized Views on Scylla. Following the backtrace logs:

[backtrace.txt](https://github.com/scylladb/scylla/files/4757073/backtrace.txt)

Sometimes I can not load any data from some Materialized Views even limiting the result. It is displaying the follo

[2020-06-10 08:34] ricardoheyn commented on #6625
Hello,

Maybe this backtrace can help as well (seastar - Exceptional future ignored: std::_Nested_exception<no_such_column_family> (Can't find a column family with UUID):

[backtrace2.txt](https://github.com/scylladb/scylla/files/4757169/backtrace2.txt)

Thank you.

Regards,
Ricardo

[2020-06-10 08:52] avikivity commented on #6272
It's a real problem. In a large cluster each vnode can go to a different node so we really need 256 readers. But readers are expensive, if each one take just a megabyte (can easily be more) that's a quarter of a gigabyte.

A more urgent problem is why we deadlock. I can understand that some readers make no progress (waiting in the queue) but the others should complete and make space for them. This

[2020-06-10 09:00] penberg opened #6626 "Unified offline installer script"
We are going to generate a single, unified tarball for the offline installer. Let's also implement a unified installer script, which calls the different component (core, jmx, tools) installers to simplify offline installation process for the user.

[2020-06-10 09:11] denesb commented on #6272
I think the reason for the deadlock is that readers don't release their count permit while they are alive. I seem to recall that the repair code tries to drive all readers it creates to completion before starting to destroy them. So once you have more readers then available permits this leads to deadlock.

With the current permit infrastructure, it would be quite simple to come up with a patch tha

[2020-06-10 09:13] asias commented on #6272
No. There is only one reader per node per shard per repair instance.

[2020-06-10 09:15] asias commented on #6272
Yes, the reader is created when the repair instance starts and destroyed when it finishes.

Send me the patch, I will try it.

[2020-06-10 09:25] slivne commented on #6537
fixed by d89b7a0548a9ec60efc5bf456de2396f69341856

[2020-06-10 09:25] #6537 closed

[2020-06-10 09:26] #6485 closed

[2020-06-10 09:27] slivne commented on #6475
@slivne ping

[2020-06-10 09:28] denesb commented on #6272
@asias
branch: https://github.com/denesb/scylla/tree/restricted-reader-release-permit-experiment
Cherry-pick the top commit to get the patch on your branch.

[2020-06-10 09:29] amoskong commented on #6594
The latest test of master & 4.1 uses the new path.

New files:
- https://s3.amazonaws.com/scylla-qa-team/refresh_nemesis/keyspace1.standard1.100M.tar.gz
- https://s3.amazonaws.com/scylla-qa-team/refresh_nemesis/keyspace1.standard1.tar.gz

Old files:
- https://s3.amazonaws.com/scylla-qa-team/keyspace1.standard1.100M.tar.gz
- https://s3.amazonaws.com/scylla-qa-team/keyspace1.standard1.tar.gz

[2020-06-10 09:45] fruch commented on #6625
@nyh @psarna, this one rings a bell ?

[2020-06-10 09:46] bhalevy commented on #6624
I'll build sstable_3_x_test_g at the same version and try addr2line on it to decode the backtrace.

[2020-06-10 09:46] avikivity opened #6627 "gnutls CVE-2020-13777"
http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-13777

Some gnutls versions are vulernable to attack; need to update the relocatble packages.

[2020-06-10 09:49] avikivity commented on #6627
gnutls 3.6.14 is [safe](https://gnutls.org/security-new.html#GNUTLS-SA-2020-06-03).

[2020-06-10 09:49] avikivity commented on #6627
Incidentally fixed on master by 4eae7f66eb142574d2d7325a5c7e58aa0ad8debf.

[2020-06-10 09:49] #6627 closed

[2020-06-10 09:54] avikivity commented on #6627
Fedora 31 hasn't received the update yet, it's due to arrive in 1-2 days.

[2020-06-10 10:52] asias commented on #6272
I saw conflicts. Can you rebase on top of commit a4aa753f0f596c883065b75d0a65b4ba24966a6b?

[2020-06-10 11:01] avikivity commented on #6272
Why? As soon as you have a permit, you never block.

If the readers tried to reacquire the permit, sure that would lead to immediate deadlock.

But then the restriction is bypassed.

[2020-06-10 11:03] denesb commented on #6272
Ohh, this is 4.1. This will not be a simple rebase... the infrastructure I used in this patch is simply not in place. Let me see if I can redo the patch on top of 4.1.

[2020-06-10 11:04] roydahan commented on #6616
@eliransin just want to make sure you're not waiting for us on this one.

[2020-06-10 11:06] denesb commented on #6272
AFAIU the reader code does roughly the equivalent of the following:

[code]
`reader11` will not be able to acquire a permit until another reader is not destroyed and hence will block the entire operation.

The reader acquires the permit before each "use" and releases it after.

[2020-06-10 11:11] eyalgutkind commented on #4447
@avikivity @tzach Do we have a patch for the above issue ?

[2020-06-10 11:30] fgelcer commented on #6616
@eliransin , i have a monitor alive that you can connect to it http://34.250.199.70:3000/

[2020-06-10 11:39] eliransin opened #6628 "Wrong order of initialization in messaging service constructor"
The register_handler function uses one of the scheduling mechanism functions to determine
the scheduling group to register for each verb.
https://github.com/scylladb/scylla/blob/4c9369e449623f5efd3676c8954179b7c3c952b8/message/messaging_service.cc#L272
The scheduling mechanism itself is initialized in the messaging service's constructor.
https://github.com/scylladb/scylla/blob/4c9369e449623f5efd36

[2020-06-10 14:08] tarzanek opened #6631 "support gcp disks tuning out of box"
Scylla should automatically set the speeds of nvme raids for GCP VMs,
similar as it does for AWS

[2020-06-11 04:50] denesb commented on #6272
Ok, so guessing doesn't work. I'll try to reproduce locally using the procedure you describe [above](https://github.com/scylladb/scylla/issues/6272#issuecomment-640330925).

[2020-06-11 05:47] asias commented on #6272
Thanks. Let me know if you want me to try some more patches.

[2020-06-11 06:00] eliransin commented on #6616
Even though this issue is closed there were some concerns that the analysis is incorrect, @fgelcer
was rightfully asked, why is it happening with rc0 and not with later versions unless we changes something in Scylla. My guess is that when running SCT it is somehow picks the monitor differently depending on the version of Scylla.
So here is a way to determine if the monitoring is configured in a wa

[2020-06-11 08:12] amoskong commented on #6617
In the manual testing, I have a cluster with 3 db nodes.
I put the sstable files to upload directory on db node1, and executed nodetool refresh.
But I can only get the select result of that key  from db node3.
I waited a while and executed nodetool flush / nodetool repair, I can query this key on all 3 db node.

[2020-06-11 09:10] avikivity commented on #6616
I agree we need to analyze this further. Note that with a 15 s sample rate, if we have oscillations at a higher frequency, aliasing effects can eliminate them from the dashboard.

[2020-06-11 09:12] avikivity commented on #5661
@gleb-cloudius please investigate if you have a reproducer.

It can be that exception handling change and we now report an exception during normal disconnects rather than swallow it, or it can be that we don't handle a connection correctly and so the driver closes it unexpectedly.

[2020-06-11 09:27] gleb-cloudius commented on #5661
On Thu, Jun 11, 2020 at 02:13:04AM -0700, Avi Kivity wrote:

Avi, anyone has a reproducer. It happens every time a client is stopped
abruptly. Run c-s, ^C, get the error.

Most probably the former.

--
			Gleb.

[2020-06-11 10:30] xemul commented on #6606
[code]

[2020-06-11 10:39] denesb commented on #6272
Managed to reproduce locally, with some additional help from @asias.

[2020-06-11 10:43] djuwa4 commented on #6614
Thank you so much! But in the end, only the installation of the new version helped. Our product just worked with the old version and we were afraid of instability when working with the new one.

[2020-06-11 11:13] denesb commented on #6272
On node1 there are 10 active streaming reads and 500 queued ones. This does look like a deadlock on the semaphore.

[2020-06-11 11:15] xemul commented on #6606
3 sorts of stacks out there:

[code]

[2020-06-11 11:25] avikivity commented on #6606
io_pgetevents is normal for waiting for something to happen. I don't understand why io_submit_one() blocks, it should be non-blocking.

[2020-06-11 11:26] avikivity commented on #6614
So, can this be closed?

[2020-06-11 11:39] denesb commented on #6606
@xemul you will need to find the futures and find out what they are blocked on. You can attempt to switch into main's seastar thread, it sometimes works (sometimes it crashes scylla).

[2020-06-11 11:43] xemul commented on #6606
@denesb this is what I wanted to do. "Soft" scylla-gdb.py commands like "shard", "tasks", "timers" only complained about inability to find thread-local variables. The "scylla thread" did crash scylla, it restarted and didn't locked up again :(

[2020-06-11 11:44] xemul commented on #6606
Another interesting observation is that 'info threads' from gdb didn't show any threads but the main one. Attaching to individual threads worked nonetheless.

[2020-06-11 11:49] denesb commented on #6606
Without thread-local variables debugging is going to be *very* hard.

:(

[2020-06-11 11:50] denesb commented on #6606
seastar::thread is not visible to `gdb` they are user-space threads. The magic `scylla thread` command does some magic to get gdb to load its stack. There is some highly specific magic involved that I suspect is out-of-date w.r.t. more recent gdb, libc, or something else, or maybe something is simply buggy.

[2020-06-11 11:57] #6351 closed

[2020-06-11 11:57] denesb commented on #6606
Another way to look for what's blocking a thread is to list all seastar threads (there shouldn't be many during startup), then try to find references to them. The promise of the future the thread is waiting on will reference the `seastar::thread_context`.

[2020-06-11 12:05] denesb commented on #6272
After re-applying my patch that parks readers after use, I see 0 active reads (because the readers release their permits) but there is still 700+ queued reads. The semaphore is not letting in new reads even with the entry cost reduced to 0, because memory consumption is still above the limit: -N < 0.

This is "caused" by 17eaf552f, which improved the memory tracking, so the semaphore is not so len

[2020-06-11 12:26] avikivity commented on #6351
Backported to 4.1.

[2020-06-11 12:34] lseelenbinder commented on #5808
Is there any plan for a new release on packages for 3.3 and 4.0 to address this?

It appears this bug also affects all currently packaged versions, and appears to prevent initializing a cluster with IPv6.

[2020-06-11 13:19] xemul commented on #6606
Not to forget -- next time use `set auto-load safe-path /` in gdb before attaching to process.

[2020-06-11 13:25] avikivity commented on #6606
We need some script to automate all the bureauocracy

[2020-06-11 14:06] avikivity commented on #5808
Yes, new 3.3 and 4.0 point releases will be issued with this fix.

[2020-06-11 15:06] avikivity commented on #6472
Backported to 4.1.

[2020-06-11 15:07] avikivity commented on #6537
Backported to 4.1.

[2020-06-11 15:32] roydahan commented on #6617
While it explains #6594, it still doesn't explain this issue....

[2020-06-11 15:33] roydahan commented on #6594
It seems like invalid issue.
The keys should be loaded to all replicas and they are loaded only to one server.
I think we should add repair to the nemesis.

[2020-06-11 18:28] arunsandu1 commented on #6529
@slivne here is the schema.
`CREATE TABLE kairosdb.data_points (
    key blob,
    column1 blob,
    value blob,
    PRIMARY KEY (key, column1)
) WITH COMPACT STORAGE
    AND CLUSTERING ORDER BY (column1 ASC)
    AND bloom_filter_fp_chance = 0.01
    AND caching = {'keys': 'ALL', 'rows_per_partition': 'ALL'}
    AND comment = ''
    AND compaction = {'class': 'SizeTieredCompactionStrategy'}
    AN

[2020-06-11 18:57] tzach opened #6635 "Remove SimpleStrategy Replication Factor"
*Installation details*
Scylla version (or git commit hash): 4.1

SimpleStrategy Replication Factor is dangerous, since it does not support multi DCs.
The (minor) advantage of SimpleStrategy is one does not have to know the DC name to set the RF, which makes it easier to use for simple demos and trivial use cases.

Instead of disabling it, and break exiting code, we can automatically convert Simple

[2020-06-11 18:57] tzach commented on #6635
Related #1789

[2020-06-12 08:47] kbr- commented on #6537
Thanks!

[2020-06-12 09:20] tzach opened #6636 "scylla_setyp on Ubuntu 16 / GCE fails"
*Installation details*
Scylla version (or git commit hash): 4.0
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker):  GCE n1-standard-2 (2 vCPUs, 7.5 GB memory)

RAID step of scylla_setup fails:

[code]

[2020-06-12 09:24] denesb commented on #6272
Looking at all the combined readers (I really should upstream this command now):
[code]
503 is exactly the number of queued readers on this node. The remaining 20 belongs to the 10 allowed reads, 10 top-level (combining memtable readers + restricting reader) and 10 combining the sstable readers.

I examined one of them and it is at EOS, yet the `repair_meta` still references it.
Theory:
Nodes: A,

[2020-06-12 09:32] denesb commented on #6272
Testing this patch now to confirm:
[code]

[2020-06-12 09:53] denesb commented on #6272
I applied another patch to stress the fix even more:
[code]
The hang doesn't reproduce anymore. Although I should note that even with increased memory, one of the nodes always OOM crashes after a while.

[2020-06-12 10:02] #6290 closed

[2020-06-12 10:02] #6628 closed

[2020-06-12 10:30] denesb commented on #6272
With a further increase of memory (1G->2G->8G) finally the repair <strike>completes</strike> proceeds with no `std::bad_alloc`... then proceeds for a hang-suspicious amount of time. Maybe I removed *one* source of deadlock.

[2020-06-12 11:11] denesb commented on #6272
Deadlock is also possible by a repair going into `negotiate_repair_boundary()`, doing some read, then waiting for the follower to provide its suggested sync boundary. If remote is queued behind a repair instance which in turn has followers blocked on this node, we again have a deadlock.
It appears that deadlocks are inevitable with high enough parallelism (>10).

[2020-06-12 11:58] asias commented on #6272
Good progress!

I think the deadlock can be simplified as follows:

Assume max_count_streaming_concurrent_reads = 1,
[code]
For repair 1, reader 1 gets the permit. For repair 2, reader2' gets the permit. repair 1 waits for reader1' and repair 2 waits for reader2 to return which never happens.

[2020-06-12 12:03] denesb commented on #6272
@asias thanks, that is indeed a good distillation of what is happening. I'm working on a quick 'n' dirty patch to see if pausing-resuming readers (a.la. multishard reader style) will solve this problem.

[2020-06-12 12:11] asias commented on #6272
This is a very good idea to release the reader earlier.  Can we drop the lock inside the reader in case of eos automatically?

[2020-06-12 12:13] denesb commented on #6272
The problem is that the reader doesn't know if it is a genuine EOS. Forwardable readers can have more data after fast-forwarding.

[2020-06-12 13:18] psarna commented on #6625
I see that it's from Scylla 3.1, which reached end-of-life a long while ago, so it can be a whole bunch of bugs that got fixed in newer releases... so my first suggestion would be to update and see if the problem persists.

[2020-06-12 16:31] denesb commented on #6272
I have good news and bad news. The good news is that we have identified the culprit and my quick 'n' dirty fix seems to get rid of the hang. The bad news is that the fix involves making the repair reader evictable. Making readers evictable is non-trivial and has loads of corner cases as evidenced by the amount of bugs found and fixed for the multishard combining reader whose shard readers are also

[2020-06-12 18:51] tgrabiec commented on #5642
This is caused by the fact that (1) key comparison may involve linearization if the key is large, which may need to reclaim, which invalidates iterators (and linearization_context), and (2) the code is unprepared for this (in many places) and we hit undefined behavior.

Refs https://github.com/scylladb/scylla/issues/6108

[2020-06-12 19:37] tgrabiec opened #6637 "Linearization of large (fragmented) keys may cause undefined behavior"
This is relevant only when using partition or clustering keys which have a representation in memory which is larger than 12.8 KB (10% of LSA segment size).

See https://github.com/scylladb/scylla/issues/6108 for description of linearization.

There are several places in code (cache, background garbage collection) which may need to linearize keys because of performing key comparison, but it's not d

[2020-06-12 19:45] syuu1228 commented on #6626
@penberg We can use previously implemented unified install.sh on scylla-unified-pkg test repo:
https://github.com/syuu1228/scylla-unified-pkg/blob/master/install.sh
Tested with latest relocatable package, it worked.

But, which repo should we merge this script? scylla main repo or scylla-pkg repo, or newly created repo?

[2020-06-14 07:55] avikivity commented on #6637
I think we should drop with_linearized_managed_bytes and replace it with dual-compilation of any code that uses managed_bytes using fat pointers and int8_t* (and remove managed_bytes::data()). This is a big hammer, but allows us to avoid linearizing managed_bytes outside lsa as well, which reduces latency caused by defragmentation (std storage can use 128k as the fragment size).

Perhaps we should

[2020-06-14 08:33] nyh opened #6639 "Alternator: wrong type validation in ConditionExpression "contains()" function"
It turns out that the `contains()` function in the new syntax of conditions (ConditionExpression, FilterExpression) is not identical to the CONTAINS operator in the old-syntax conditions (Expected).
In the new syntax, one can check whether *any* constant object is contained in a list. In the old syntax, the constant object must be of only a specific set of allowed types.

Currently, our implementa

[2020-06-14 08:41] nyh commented on #6637
On Sun, Jun 14, 2020 at 10:55 AM Avi Kivity <notifications@github.com>
wrote:

I wish we had docs/lsa.md, so I can read about what this means.

Perhaps we should use a smaller hammer first, and make

By the way, if these checks are not trivial, you can add them to debug mode
only. This might have allowed us to spot these bugs in development or
testing time, when we (sometimes) happen to run debug

[2020-06-14 09:13] nyh opened #6640 "alternator - incorrect error path in begins_with() function"
The begins_with() function in expressions (`ConditionExpression`, `FilterExpression`) should report an error if a constant is passed to it which isn't one of the supported types - string or bytes (e.g., a number).

We have code that checks this, but the logic is wrong. If the item attribute also had a bad type, we silently returned false, and didn't go on to detect that the second parameter - the

[2020-06-14 09:15] slivne commented on #6072
fixed by scylladb/scylla-tools-java@e5c911381acb324c6d6a58810328880b90c8ab60

[2020-06-14 09:15] #6072 closed

[2020-06-14 09:16] nyh opened #6641 "alternator - incorrect error path in attribute_type() function"
The `attribute_type()` function, which can be used in expressions like `ConditionExpression` and `FilterExpression`, is supposed to generate an error if its second parameter is not one of the known types. What we did until now was to just report a failed check in this case.

[2020-06-14 09:59] avikivity commented on #6637
These checks are relatively cheap, but indeed they are triggered in many, many places, so perhaps debug mode is a better place.

[2020-06-14 10:47] gleb-cloudius commented on #5661
27dfda0b9edcb76bb787752af51d22f2fb63767a promoted the logging from debug to info level.

[2020-06-14 11:10] slivne commented on #6635
We can't do it under the hood - the user needs to be aware.

I think the alternative approach of adding a flag that when set will block this (and other non safe options) is preferred.

[2020-06-14 11:16] slivne commented on #6625
@ricardoheyn I am closing this issue if you still hit an issue after upgrade please post and we will reopen and try to help

[2020-06-14 11:16] #6625 closed

[2020-06-14 11:19] slivne commented on #6614
@djuwa4 - closing this issue, if you still need help post and we can reopen

[2020-06-14 11:19] #6614 closed

[2020-06-14 11:27] slivne commented on #6601
So there is a bug somewhere - because tracing is enabled

@aleksbykov does this reproduce on every run - if so we will assign to an engineer

[2020-06-14 11:39] avikivity commented on #5661
So let's demote it back. Better, let's demote just this exception, not others.

[2020-06-14 11:48] avikivity commented on #6636
I'm guessing that /dev/sda14 does not exist (and was misdetected somehow).

[2020-06-14 12:32] eliransin commented on #6635
@slivne can you please create "safe mode" label?
I think we should start collecting issues that falls under this.

[2020-06-14 17:29] #6380 closed

[2020-06-14 17:29] #6539 closed

[2020-06-14 17:34] syuu1228 commented on #6636
@avikivity I found that they actually created such strange partition number for bios boot region and UEFI boot, I guess why mkfs.xfs fails is because sda14 is too small (looks like it only 4194kb).

It seems has partition type uuid "21686148-6449-6e6f-744e-656564454649" = "BIOS boot partition", we can avoid listing up such partition.
Maybe EFI partition need to skip, too.

[code]

referenced: http

[2020-06-14 18:40] slivne commented on #6594
if we are using nodetool refresh - with new data:
 - we need todo it on all nodes
- we need RF=#number of Nodes in the cluster, load on one node and run repair

I am reassigning this to you guys - please test on a small scale first that this works for you share what you are doing how many nodes / whats the schema - and lest clear this out.

[2020-06-14 18:49] syuu1228 commented on #6636
We probably also can limit listing by partition size, we cannot use such very small partition anyway.

[2020-06-14 22:11] ShlomiBalalis commented on #6613
This issue seems to reoccur in the latest lwt-3h job, where two segmentation faults occurred in two nodes::
node#1:
[code]
Backtrace:
[code]
Translated:
[code]
Node#4:
[code]
Backtrace:
[code]
Translated:
[code]

Logs:
[code]

[2020-06-15 05:12] avikivity commented on #6627
Backported to 3.3, 4.0, 4.1.

[2020-06-15 06:04] arunsandu1 commented on #5260
@slivne we started to notice similar issue, not sure if it is related to using i3en instance types we recently swapped. cluster is reporting higher latencies and requests are getting timeout with failed reads. load and cpu are normal.

[code]
schema
[code]
range query with less than 20 rows for a given partition key.

[code]

We see spikes with sstable reads and queued sstables reads.
![image](htt

[2020-06-15 07:05] ShlomiBalalis opened #6645 "Semaphore Timed out during repair"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200610.65d3e3992 with build-id e42da3a7b88f607f972cc487f08ce35faaa60fe5
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0d09d231757b4571f

In a run of *100gb-cdc*, at `2020-06-11 04:46:35.435` a CorruptThenRebuild nemesis occurred, with target node being node#3. The nemesis consists of shutting down the scylla ser

[2020-06-15 07:15] denesb commented on #6637
We already have an assert in place: https://github.com/scylladb/scylla/blob/4220ed849bebe02de5838b1e779c2b5099fe3a50/utils/managed_bytes.cc#L37

[2020-06-15 08:00] psarna commented on #6613
I'm clueless... I can see from `gdb` that `cache_flat_mutation_reader` uses some LSA linearized memory and eventually fails when trying to extract a clustering key from managed_bytes, but the stacktrace is so long and optimized out that I'm not able to spot the problem.

Also, I'm unfortunately unable to run `scylla-gdb.py` commands, even with all the freshest tricks from https://github.com/scylla

[2020-06-15 08:15] amoskong opened #6646 "boot_strapper - Error during bootstrap: streaming::stream_exc eption (Stream failed)"
*Installation details*
Scylla version (or git commit hash): 4.1.rc2-0.20200609.c6ee86b512f
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-09310b5117d81331a

### DB log: https://cloudius-jenkins-test.s3.amazonaws.com/ca3f1548-ba99-44d6-8cf6-bf56bcd5e765/20200613_014948/db-cluster-ca3f1548.zip

### Description
In Longevity-200gb-48h of 4.1.rc2, the first decommission nemesis succeeded, but the

[2020-06-15 08:19] asias commented on #6564
Reproduced and patch is sent: https://github.com/scylladb/scylla/pull/6647

[2020-06-15 08:34] avikivity commented on #6637
This assert is only triggered if you have large keys. So you only hit it in a tiny subset of workloads.

Moving it to managed_bytes::data() will catch it much earlier, in small-key workloads.

[2020-06-15 08:37] aleksbykov commented on #5528
Reproduced on 4.0: Scylla version 4.0.1-0.20200614.1e2e203cf0f with build-id 065967bc92eb196551b3ebf92b0c9b3351bae955

job link: https://jenkins.scylladb.com/job/scylla-4.0/job/longevity/job/longevity-cdc-100gb-4h/47/artifact/scylla-cluster-tests/latest/longevity-cdc-100gb-4h-4-0-db-cluster-4dcffeb0/longevity-cdc-100gb-4h-4-0-db-node-4dcffeb0-1/

cdc experimental feature is enabled.

[2020-06-15 08:38] avikivity commented on #6636
Agree about filtering by partition types.

[2020-06-15 08:46] amoskong commented on #6187
I saw this issue in longevity-50gb-4days of 4.1.rc2
- test_id: db1685a6-ef05-4b26-9e1b-5feaf3a874b6
- scylla version: 4.1.rc2-0.20200609.c6ee86b512f
- job: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/longevity/job/longevity-50gb-4days/5/

[2020-06-15 08:46] eliransin commented on #5514
@syuu1228 I have 2 questions:
1. What about using >= and << in depends to eliminate the need for knowing the commit hash?
Something like  >=3.x.0 <<3.x+1.0
2. What about trying to install using aptitude? (maybe even coming up with an automated way to choose the option of downgrade as aptitude is automatic.

[2020-06-15 08:48] denesb commented on #6637
I think moving it to `managed_bytes::data()` would make scylla unbootable. We just have some many places where we implicitly linearise keys. One example is [validation::is_cql_key_invalid()](https://github.com/scylladb/scylla/blob/4220ed849bebe02de5838b1e779c2b5099fe3a50/validation.cc#L52), so even if scylla did start you'd only have to wait until the first query to trigger the assert.

[2020-06-15 08:49] eliransin commented on #5514
Another option is to put in the repo a curl script that does the call that you mentioned above and just
run it using Curl. Or include the exact command line in the release-notes/configuration.

[2020-06-15 08:59] eliransin commented on #5514
Did you try the `apt-get` command with --allow-downgrades ?

[2020-06-15 09:08] avikivity commented on #6637
We could assert only if in lsa context.

Long term we should remove data() and replace it with something that doesn't require linearization. This is quite a project though.

[2020-06-15 09:19] penberg commented on #6626
@syuu1228 Let's put it into scylla.git.

[2020-06-15 09:20] amoskong opened #6648 "Startup failed: std::runtime_error (Could not find tokens for 10.0.179.211 to replace)`"
*Installation details*
Scylla version (or git commit hash): 4.1.rc2-0.20200609.c6ee86b512f
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-09310b5117d81331a (eu-west-1)

### Db log: http://upload.scylladb.com/amos/4.1/longevity-50gb/longevity-tls-50gb-4d-4-1-db-node-db1685a6-4.tar.gz

### Living cluster:
- https://eu-west-1.console.aws.amazon.com/ec2/v2/home?region=eu-west-1#Instances:search=

[2020-06-15 09:39] bhalevy commented on #6602
@asias in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/522/testReport/data_distribution_balance_test/TestDataDistribution_with_DateTieredCompactionStrategy/data_distribution_balance_test/
the imbalance is slightly over the test's threshold of 20% of average, by it looks like it is mostly on node1 and not on the other nodes.

From https://jenkins.scylladb.com/view/ma

[2020-06-15 09:48] piodul opened #6649 "Add error injection points for hinted handoff"
Currently, the error handling logic in hinted handoff lacks testing. Some scenarios, such as network/disk IO/OOM errors are hard to trigger deterministically, therefore adding error injection that simulates those errors would greatly simplify writing mentioned tests.

[2020-06-15 09:53] bhalevy commented on #6603
Hit again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/522/artifact/logs-release.2/orphaned/1592094880_read_amplification_test.ReadAmplificationTest.no_read_amplification_on_repair_with_mv_test/node2.log

[2020-06-15 10:02] avikivity commented on #5528
I don't see any toppartition calls in database.log

[2020-06-15 10:43] bhalevy commented on #6613
@tgrabiec, @denesb could this be caused by https://github.com/scylladb/scylla/issues/6637?

[2020-06-15 10:46] tgrabiec commented on #6613
@bhalevy No, keys are small here.

[2020-06-15 10:47] amoskong commented on #6648
### Nemesis info

[code]

[2020-06-15 10:51] amoskong commented on #6646
### Nemesis info

- there is a refresh nemesis before the failed decommission nemesis.
- the refresh nemesis loaded the sstables, but select query failed for known SCT (test) issue

[code]

[2020-06-15 10:58] amoskong commented on #6646
Hi @asias

There is known problem, in refresh nemesis, we load some sstable files to keyspace1.standard1 (RF=3), but the data only exists in one db nodes, we need to repair all the db nodes one by one.

Related issues:
- https://github.com/scylladb/scylla/issues/6594
- https://github.com/scylladb/scylla/issues/6617

Currently we didn't repair all db nodes in refresh nemesis.
In Longevity-200gb-48h

[2020-06-15 11:11] bhalevy commented on #5749
@haaawk you didn't quote what errors the test failed with and the logs are long gone.
If they were `Timer callback failed: seastar::metrics::double_registration` (see https://github.com/scylladb/scylla/issues/5697) then adf07f971b4bbb9a076146bcfc06df82a6e1ef16 ignores them and fixes its flakiness with this respect.
Anyhow, the test failed only once in master in the last 3 months and for a differen

[2020-06-15 11:11] #5749 closed

[2020-06-15 11:21] haaawk commented on #5749
Sorry. Didn't thought it will take so long :D.

[2020-06-15 11:34] denesb commented on #6637
I wish we could do away with linearization in our code-base for good. A pre-requisite to that is our types to support de/serializing, validating and comparing directly from fragmented storage. The vast majority of types works with smallish values that could be safely linearized on-the-fly as needed. For string comparison we could use magic bytes iterators that know how to stitch together fragments

[2020-06-15 11:37] bhalevy commented on #6613
@ShlomiBalalis what's scylla's build-id? same as the one in the original report?
Please make sure to identify the build-id and scylla git version otherwise we can't even start to debug any core dump

[2020-06-15 11:39] psarna commented on #6613
@bhalevy it's definitely different from the original. I extracted the info from cluster logs (database.log):
[code]
, but the https://github.com/scylladb/scylla-pkg/#looking-for-a-build script returns an empty directory when I used it to look up and download the version... so maybe it was never uploaded yet.

[2020-06-15 11:39] denesb commented on #3866
We recently did an experiment with readers releasing their count when inactive. Contrary to the expectations this resulted in a disaster. The problem is that inactive readers still hold on to memory, so we quickly got into a state, where the semaphore couldn't admit even a single reader, because despite all count resources being available, no memory was available at all. See #6272.

This could wor

[2020-06-15 11:45] bhalevy commented on #6529
Thanks @arunsandu1. I assume that (regular) compaction was finally able to compact this sstable so it is possible that the problem was transient, rather than in the sstable itself.

Can you please grep the log for messages mentioning the sstable? (`kairosdb/data_points-.*/mc-195800-big-Data.db`)

Also, if you hit the issue again with a different sstable, please send the schema and sstable for it.

[2020-06-15 11:46] avikivity commented on #6637
Serialization/deserialization isn't hard, especially if we can guarantee a minimum fragment length so the fixed-size types can assume a single fragment.

For comparison the trick isn't to use byte iterators, but to iterate on fragments and compare longest common fragment sizes.

[2020-06-15 11:50] denesb commented on #6637
Regardless of how large a single fragment is, an `int` in the middle might be split into two fragments. Consider a partition key that contains a frozen collection.

Yes, this could work.

[2020-06-15 12:09] avikivity commented on #6637
We could linearize those when exploding or iterating.

[2020-06-15 12:21] denesb commented on #6637
Yes, that's what I meant above.

We can even have allocation-safe linearization with stack-buffers:
[code]

[2020-06-15 12:22] bhalevy commented on #6613
`http://downloads.scylladb.com/relocatable/unstable/master/2020-06-10T13:31:52Z/` just looks empty due to https://github.com/scylladb/scylla-pkg/issues/1365
`http://downloads.scylladb.com/relocatable/unstable/master/2020-06-10T13:31:52Z//` will serve you better.

[2020-06-15 12:24] bhalevy commented on #6613
In any case I downloaded http://downloads.scylladb.com.s3.amazonaws.com/relocatable/unstable/master/2020-06-07T17%3A36%3A22Z//scylla-package.tar.gz to debug the origin core dump (`gs://upload.scylladb.com/core.scylla.996.d36fdba55cb44fc98409492539496158.3898.1591613633000000/core.scylla.996.d36fdba55cb44fc98409492539496158.3898.1591613633000000.gz`)
and it seems to go well so far.

[2020-06-15 12:44] bhalevy commented on #6613
[code]

[2020-06-15 13:20] tgrabiec commented on #6637
The problem in `handle_end_of_stream()` should never cause undefined behavior in production but rather trigger the assert in `managed_bytes::do_linearize()` due to absence of linearization context. The unit test is more eager to inject memory reclamation, it does so even for keys which don't require linearization, that's why it triggers undefined behavior and not the assert.

This means that we ei

[2020-06-15 13:33] slivne commented on #6617
@roydahan / @amoskong table creation is bad

[code]

there is no **C1,C2,C3,C4** columns

you can compare that to ks_truncate that you have all columns

[code]

- Lets add something that dumps the schema so we will double check the schema is correct prior to refresh "desc schema"

Please check your code - it on your end

[2020-06-15 14:05] lseelenbinder commented on #5808
Is there a planned date for the point releases @avikivity?

(Asking only because we're trying to schedule a deployment on our side that needs this fix. )

[2020-06-15 14:17] avikivity commented on #5808
@lseelenbinder we'll likely to start rolling them tomorrow (we were waiting for #6627, which just landed).

[2020-06-15 14:18] roydahan commented on #6617
Probably the same issue in #6646

[2020-06-15 14:19] lseelenbinder commented on #5808
Perfect—thank you! Definitely makes sense to wait on #6627.

[2020-06-15 14:28] roydahan commented on #6617
@amoskong in #6594 you wrote how you created the schema (with C0-C4), if this is really the case and you can dump the sstables and show it, please reopen this issue.
Till then, I treat it as invalid as @slivne showed.

[2020-06-15 14:57] avikivity commented on #6272
@asias what is the repair buffer size? and do we read it in one go?

[2020-06-15 15:34] roydahan commented on #6646
probably invalid issue.
the 200gb longevity has one column while the refresh try to load schema with 5 columns.

[2020-06-15 15:43] #6572 closed

[2020-06-15 15:43] #4746 closed

[2020-06-15 15:43] #5815 closed

[2020-06-15 15:43] #6639 closed

[2020-06-15 15:43] #6640 closed

[2020-06-15 15:43] #5038 closed

[2020-06-15 15:43] #6641 closed

[2020-06-15 15:43] #6564 closed

[2020-06-15 15:56] ShlomiBalalis opened #6650 "setup fails: scylla fails to identify recognize swap"
*Installation details*
Scylla version (or git commit hash): 666.development_20200615.eda80cbb05e
Cluster size:1
Instance type: n1-standard-2

The artifact tests of centos7, debian9, debian10, ubuntu1604, ubuntu1804 failed during setup due to scylla failing to acknowledge the swap disk of the node:
[code]
Logs:
centos 7:
[code]
debian 9:
[code]
debian 10:
[code]
ubuntu 16:
[code]
ubuntu 18:
[code]

[2020-06-15 16:11] haaawk commented on #5239
@avikivity Can we just open a port on the server for each shard and then client would be able to connect to a particular shard by just targeting the right port?

[2020-06-15 21:31] syuu1228 commented on #6650
Fmm, my local test does not reproduce the issue, I think we need more information to reproduce the issue, something like Dockerfile or shell script or VM image, log, workplace archive... etc

[2020-06-15 23:20] #6498 closed

[2020-06-15 23:20] #6637 closed

[2020-06-16 00:21] amoskong commented on #6617
Currently the prepared sstable had 5 columns, refresh will success if the schema columns number is larger or equal to 5.

In our old discussion, I thought we try to use more columns  (>=5). We should change the columns number if it's less than 5.

However, let's change the nemesis, and try to adapt the situation.

[2020-06-16 00:25] amoskong commented on #6646
It is still valid, maybe low priority.

If the schema (column number) doesn't match, the refresh will fail, but it should not effect the cluster, the stream_exception should not be caused in decommission or bootstrap of new node.

I will verify manually.

[2020-06-16 01:10] amoskong commented on #6617
Yes, In longevity-200gb-48h, they prepare write workload will create keyspace1.standard1, which only had 1 column.

I reproduced this issue (`sstables::malformed_sstable_exception (Column C1 missing in current schema in sstable`) with following scenario on One node cluster.

- create a cluster (only has one db node)
- create keyspace1.standard1 by `cassandra-stress write no-warmup n=0 -col 'n=FIXE

[2020-06-16 01:15] amoskong commented on #6617
Hi @slivne @roydahan

The schema doesn't match, but why the 'nodetool refresh' succeeds, and there is any db error during refresh. And the 'refresh/load' error was finally exposed in querying.

I will fix the test, but Scylla should catch this schema mismatch problem early.

If user refreshing the old backup sstable files, but the schema changed (some columns were deleted after backup), then refre

[2020-06-16 01:21] asias commented on #6648
I think the issue is already fixed in mater:

[code]

Logs from node4. Node4 sent SHUTDOWN message which caused the issue.

[code]

[2020-06-16 01:22] arunsandu1 commented on #3844
could this be related to the issue? https://github.com/scylladb/scylla/issues/3844 @avikivity

[2020-06-16 01:24] asias commented on #6648
Backport  to 4.1 requested.

[2020-06-16 03:52] amoskong commented on #6594
We can close this issue, not a real problem.

I tested with above two methods, they all work.
In our longevity jobs, the RF isn't always same as #number of Nodes, so I will use method in the nemesis.

- 3 db nodes - RF = 1  (have to run refresh on all db nodes)
   - after run refresh, parts of the keys will be loaded, (can be queried)
- 3 db nodes - RF = 3 (run refresh on one node, and execute rep

[2020-06-16 04:34] arunsandu1 commented on #4952
we noticed higher timeouts during resharding on i3en instances. can find more details here https://github.com/scylladb/scylla/issues/5260#issuecomment-643921994

[2020-06-16 04:52] bhalevy opened #6652 "alternator test_dynamo_types: items are missing"
Regression seen in https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/524/testReport/alternator_tests/AlternatorTest/test_dynamo_types/
Scylla version ecc83e83e586c10271f8e08946103cfc10995d62

[code]

[2020-06-16 05:25] bhalevy commented on #6652
Cc @psarna could this be related to your latest changes?
45bf039357 alternator: use has_function instead of try-catch
911dee5417 schema: add has_column utility function
b1684cf2e1 alternator: move function handlers to a lookup map
e76fba6f86 alternator: remove outdated TODO for adding timeouts

[2020-06-16 05:37] psarna commented on #6652
Sounds likely, but I wonder why such an issue wouldn't be caught by unit tests... I'll investigate.

[2020-06-16 05:40] psarna commented on #6652
Hm, now that I looked at the function it doesn't sound that likely anymore, since the test doesn't seem to use functions at all...

[2020-06-16 05:50] asias commented on #6272
It is 32MiB.  Yes, most of the time, we read in one go. We may read less than 32MiB if previous round uses only part of the buffer.

[code]

[2020-06-16 05:58] psarna commented on #6652
At first, this test failed for me for two unrelated reasons.
1. looks like the mypy dynamodb library changed in Python 3.8:
[code]
2. It always failed with "address already taken", until I manually changed the number of nodes to 1 and this line:
[code]
... after which it always passed. (always == 3 times in a row)

This scenario doesn't seem related to using functions for calculating values, so I

[2020-06-16 06:19] denesb commented on #6272
After the discussion on the [mailing list](https://groups.google.com/d/msg/scylladb-dev/fMqQPcp-Kaw/WBRW3Fj5AwAJ) I implemented a distributed lock POC. This lock is taken before the repair starts and it ensures that a repair instance either has a permit on all nodes, or it doesn't start until it does.
The algorithm is as follows:
1) Repair master iterates over all nodes in defined order, asks them

[2020-06-16 06:30] nyh commented on #6652
I think this is a test bug: It writes data and then uses `compare_table_data()` to read it back and expect the same items, but, this function uses `scan_table()` which doesn't seem to use ConsistentRead=True. If it doesn't, it can't expect to be able to immediately read back the data. Sometimes it will (like @psarna saw), sometimes it won't. We should add the consistent read option.
@Orenef11 plea

[2020-06-16 06:58] slivne commented on #6272
Its not clear how many repairs are allowed to run in parallel after this
change - a single repair ?

@Asias He <asias@scylladb.com> / @Michał Matczuk <michal@scylladb.com> can
you shed some light on how manager invokes the repairs - I think for row
level repair we moved "back" to run a repair on a vnode token range (across
shards), yet am not sure.

On Tue, Jun 16, 2020 at 9:19 AM Botond Dénes <no

[2020-06-16 06:59] psarna commented on #6652
True, that would also explain why the test always passed for me, since I changed it to use only a single node, otherwise it won't boot locally. `ConsistentRead=True` is definitely needed.

[2020-06-16 07:14] asias commented on #6272
The reader semaphore is hard coded as 10. So, after this change each shard can run 10 repairs in parallel at most.

Yes.

[2020-06-16 07:18] asias commented on #6272
With multiple shards per node, a repair instance will have to win the flight for the permit on each and every shards on all master and followers to complete a repair.

[2020-06-16 07:22] denesb commented on #6272
Only in this test, where -- to stress the anti-deadlock code -- we decreased concurrency to 1.

[2020-06-16 07:25] aleksbykov opened #6653 "Scylla couldn't start after enospc nemesis(no space left on device)"
*Installation details*
Scylla version (or git commit hash): 4.1.rc2-0.20200615.81dc8eeec74 with build-id 22a41c33473ec080043608af342d47e68b8ccb61
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-04779f357686fc0c0

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): i3.large

gemini tool runs over scylla test cluster with 3

[2020-06-16 08:06] nyh commented on #6652
By the way, the Alternator unit tests (test/alternator in scylla.git) also forgot ConsistentRead=True in some of the tests, and I just sent two patches to fix them (@psarna please review). We never noticed this in practice, because we rarely run those tests on a multi-node cluster, and even when we do, it is even rarer for the timing and request routing to be such that a read doesn't see what it w

[2020-06-16 08:07] bhalevy commented on #6603
Without MV, the test seem to be always pass:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/524/testReport/junit/read_amplification_test/ReadAmplificationTest/no_read_amplification_on_repair_test/history/

[2020-06-16 08:30] Orenef11 commented on #6652
Thanks, I added it to test :-)

[2020-06-16 09:11] aleksbykov commented on #6601
@slivne, no. it is reproduced  periodically, and looks depend on schema generated by gemini. I will reproduce with same seed id and find another jobs failed with same warnings

[2020-06-16 09:11] tgrabiec commented on #5642
Fixed by e81fc1f

[2020-06-16 09:11] #5642 closed

[2020-06-16 09:35] piodul commented on #5155
@rnz Sorry for the delay. After your explanation I agree that this is wrong behavior. Although Cassandra has the same problem, it is unlikely that an application is going to depend on current behavior, so it's OK to change this.

Please keep in mind that although the issue is small - it only happens if a user uses permissions, UDTs, and has CREATE but not DROP permission on a keyspace - it will re

[2020-06-16 10:02] roydahan commented on #6617
@slivne, there is a point in what @amoskong says.
It also reflects from the issues title.
In case a user mistakenly load a non-matching schema, the nodetool refresh would work, but it will cause problems later for any sstable read.
We don't know even if this issue is recoverable and what happen if the user try to load the files to all or even some nodes.

So, the schema may be incorrect but the ex

[2020-06-16 10:16] ShlomiBalalis commented on #6617
The issue reoccurred in the latest 200-gb run of master, but I guess this explains it. In any case:
scylla version: 666.development-0.20200610.65d3e3992 with build-id e42da3a7b88f607f972cc487f08ce35faaa60fe5
After a run of the refresh nemesis on node#2 has failed, several nemesis related to the keyspace that was refreshed:
At `2020-06-12 22:23:12.605` the refresh nemesis ran on node#2, which cause

[2020-06-16 11:14] bhalevy commented on #6613
@denesb can you please look into this?

[2020-06-16 11:16] slivne commented on #6645
There is work now on adding a  "lock" for repairs for guaranteeing resource availability (#6272), lets recheck after that is merged

[2020-06-16 11:16] roydahan commented on #6650
@syuu1228 it happens for us when running on GCE instances, not docker or VM.
We just choose a plain image on GCE running on n1-standard-2 with local_ssd

[2020-06-16 11:22] Orenef11 commented on #6652
After the tests are fixed, can the bug be closed?

[2020-06-16 11:26] nyh commented on #6652
Yes, but I don't know how do we conclude if the tests are fixed. Do we wait for one successful dtest run? @bhalevy?
We can always close and reopen if the problem re-appears...

[2020-06-16 11:39] Orenef11 commented on #6652
I would rather close and open the bug that it will stay open and another two months we will ask why it is still open...

[2020-06-16 13:19] denesb commented on #6613
This doesn't look like a valid address.

In frame 11 (`position_in_partition::for_range_start(const query::clustering_range& r)`):
[code]
This doesn't look like a valid address either.
[code]
A corrupt value as expected.

[2020-06-16 13:22] denesb commented on #6613
In frame 13 cache::cache_flat_mutation_reader::move_to_next_range (cache_flat_mutation_reader.hh:546):
[code]
The `_ck_ranges_curr` iterator is corrupt.

[2020-06-16 13:28] denesb commented on #6613
`_ck_ranges` seems to reference a valid memory area, which contains a corrupt vector:
[code]

[2020-06-16 13:30] aleksbykov commented on #6601
@slivne , i reproduced the issue. Could some body take a look:
[code]

[2020-06-16 13:37] denesb commented on #6613
The memory at `0x601009306640` seems to contain a continuation which belongs to legit-looking fiber.

[2020-06-16 13:40] denesb commented on #6613
It appears the `_slice` member of the `read_context` is a dangling reference.

[2020-06-16 13:57] denesb commented on #6613
The `_range` field appears to be corrupt as well, but other fields look sane.

[2020-06-16 15:28] avikivity opened #6655 "Sporadic failures building .deb related to fakeroot"
This happens sporadically:

[code]

[2020-06-16 16:26] bhalevy commented on #6652
Yes, by convention the bugs are closed as soon as the fix is merged.
Naturally, we can reopen as needed.

It'd be nice to run the test fix against master using  [dtest-byo](https://jenkins.scylladb.com/view/master/job/scylla-master/job/byo/job/dtest-byo/build?delay=0sec) to verify it even before merging to next.

[2020-06-16 18:06] fgelcer opened #6657 "scylla_setup on Amazon2 AMI fails consistently on "/dev/nvme0n1 is busy""
*Installation details*
Scylla version (or git commit hash): scylla-server-3.3.3-0.20200524.06f18108c04.x86_64
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0395703cabcaeee08

it relates to scylladb/scylla-machine-image#44

when running artifacts_test for this amazon image, getting consistently:
[code]

checking the mounts, i see that /var/lib/scylla is mounted (not sure if it is mounted dur

[2020-06-16 18:06] fgelcer commented on #6657
cc @roydahan @syuu1228

[2020-06-16 18:08] fgelcer commented on #6657
there is right now an instance running if it is needed for debugging

[2020-06-16 19:00] glommer opened #6658 "provide strong exception guarantees from load_sstable()"
`load_sstable()` does not provide any exception guarantees. As a result, the caller has to figure out what to do if an SSTable fails to load.

As an example, see this snippet from `load_new_sstables` :

[code]

[2020-06-16 20:56] #5661 closed

[2020-06-16 21:35] raphaelsc commented on #6658
This abort() comes from this recent patch: 1021eb29c9
@bhalevy why are we now aborting if we failed to load a particular sstable? don't think that's a good reason enough to abort the whole system.

BTW, it looks like we'll need a function like table::load_sstables() to atomically load a set of SSTables in a given table.

[2020-06-16 22:34] roydahan commented on #6657
Why did you run scylla_setup?
If you’re testing the Scylla AMI that is based on amazon Linux, the Scylla should be already configured and that’s why the device is busy...

[2020-06-16 22:34] #6657 closed

[2020-06-17 01:10] asias commented on #6646
I looked at the log. Bootstrap and repair failed on similar issues "C1 missing in current schema in sstable files". Do we load wrong sstables in the tests?

Repair:
[code]

Bootstrap:

[code]

[2020-06-17 03:51] syuu1228 opened #6659 "scylla_swap_setup: swapsize become 0 when memory size less than 1GB"
swapsize become 0GB when memory size less than 1GB, and causes the error:
[code]

Scylla does not work such low memory environment anyway, we probably should raise error with better message.

[2020-06-17 04:20] syuu1228 commented on #6650
It seems like because fallocate created sparse file, XFS does not able to swapon on such file (but ext4 works with same file):
https://bugzilla.redhat.com/show_bug.cgi?id=1129205

Getting a kernel message "swapon: swapfile has holes", which means it's sparse file and cannot use it:
[code]

But, since it only affects XFS system, the error on Debian & Ubuntu may different problem (CentOS7 is XFS by

[2020-06-17 07:06] fruch commented on #4488
we are working on a test-case to cover two case, killing gracefully and killing ungracefully, while bootstraping

our observation so far:
* **gracefully** -
  **master** - the cluster seemed available from c-s POV for the whole time, no delays or failures (like observed in ungraceful test)
  **2019.1.9** - availability was lost, and c-s failed completely

* **ungracefully** - both on 2019.1.9 and

[2020-06-17 07:21] fgelcer commented on #6657
it was a wrong parameter configured in the amazon2.yaml (`use_preinstalled_scylla` was set `false` instead of using the aws_config.yaml default, that is `true`)
fixed it and running it again.

[2020-06-17 08:53] amoskong commented on #6646
Yes.

Expected columns: 'C0 C1 C2 C3 C4'
Actually columns: 'C0'

The backup sstable files have different schema with the cluster.

[2020-06-17 09:12] #6652 closed

[2020-06-17 09:31] bhalevy commented on #6658
@raphaelsc the abort is not new per-se, it just happened elsewhere and moved here IIRC.  We don't support old-format counters hence we can't load the sstable.

[2020-06-17 11:10] tzach commented on #4391
We need to move away from downloading anything in scylla_setup.
See #2190 for node_exporter, but this true for other packages

In particular this will not work when using offline install #5830

[2020-06-17 11:12] tzach commented on #2978
Look like the issue was fixed in 2017, Closing.

[2020-06-17 11:12] #2978 closed

[2020-06-17 11:14] tzach commented on #2758
Its also good security practice to remove the history from the AMI

[2020-06-17 11:15] tzach commented on #892
@avikivity is this still an issue?

[2020-06-17 11:16] tzach commented on #796
Closing. Working with services means you need to check the logs.
No reasonable way to fix this.

[2020-06-17 11:16] #796 closed

[2020-06-17 11:19] tzach commented on #765
This issue has been automatically as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you

[2020-06-17 11:20] tzach commented on #553
This issue has been close because it has not had recent activity.
Thank you for your contributions.

[2020-06-17 11:20] #553 closed

[2020-06-17 11:21] tzach commented on #493
This issue has been close because it has not had recent activity.
Thank you for your contributions.

[2020-06-17 11:21] #493 closed

[2020-06-17 11:23] #6204 closed

[2020-06-17 11:24] tzach commented on #5224
@slivne see Doc fix https://github.com/scylladb/scylla-docs/pull/2189

[2020-06-17 11:26] tzach commented on #4604
@glommer is this still valid?

[2020-06-17 11:28] tzach commented on #2630
@syuu1228 is this still valid?

[2020-06-17 11:29] tzach commented on #1288
Closing. VM are less popular these days.

[2020-06-17 11:29] #1288 closed

[2020-06-17 11:30] glommer commented on #4604
I guess there are indeed cases in which iotune can return a different result. So it is still valid.

[2020-06-17 11:47] tzach commented on #6219
No love for unicode here. Closing.

[2020-06-17 11:47] #6219 closed

[2020-06-17 11:52] nyh commented on #2758
If this issue is still relevant, I think it should be moved to https://github.com/scylladb/scylla-machine-image/issues and removed from here, no?

[2020-06-17 11:53] tzach commented on #5272
@kbr- UX is for **User** Experience not Developer Experience (DX?)

[2020-06-17 11:55] kbr- commented on #5272
What I had in mind is that developers are users of the testing framework. But yeah, the label is probably for "end-user" experience only.

[2020-06-17 11:56] tzach commented on #3864
Closing. scyllatop is less popular these days, as users moved to the monitoring stack.

[2020-06-17 11:56] #3864 closed

[2020-06-17 11:57] tzach commented on #3806
@bhalevy any updates?

[2020-06-17 12:07] tzach commented on #3541
issue still happen in 4.1

[2020-06-17 12:08] bhalevy commented on #6613
@roydahan this looks like use-after-free,  any chance we can try to reproduce this using debug build syclla?

[2020-06-17 12:09] tzach commented on #3179
Answering myself **experimental** is supported in Scylla AMI user data:
[code]

[2020-06-17 12:09] #3179 closed

[2020-06-17 12:12] tzach commented on #2959
@slivne is this still valid?

[2020-06-17 12:14] tzach commented on #2920
fix with https://github.com/scylladb/scylla/commit/ec66dd65627d7907dd68f82aafc2c49ec7cf05e6

[2020-06-17 12:14] #2920 closed

[2020-06-17 12:15] tzach commented on #2689
@syuu1228 / @penberg ping

[2020-06-17 12:23] amoskong opened #6662 "stall 16262 ms occurred on new added nemesis in cleanup table"
*Installation details*
Scylla version (or git commit hash): 4.1.rc2-0.20200615.81dc8eeec74
Cluster size: 1
Loader number: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-04779f357686fc0c0 (eu-west-1)

### Description

At the end of Decommission Nemesis, we try to cleanup all the test tables on all db nodes one by one, there was a big stall in the new added node in cleanup feeds table on the new node.

###

[2020-06-17 12:27] tzach commented on #2736
Problem does not exist in Scylla 4.0

[code]

[2020-06-17 12:27] #2736 closed

[2020-06-17 12:29] amoskong commented on #6662
2020-06-16T19:51:33+00:00  longevity-5000-tables-4-1-db-node-e09e8414-7 !INFO
| scylla: Reactor stalled for 16262 ms on shard 4.

[code]

[2020-06-17 12:30] tzach commented on #2665
Closing. This is a non longer supported Scylla version, on a non longer supported Ubuntu.

[2020-06-17 12:30] #2665 closed

[2020-06-17 12:32] tzach commented on #2498
Closing. Ubuntu version of Docker is not supported.

[2020-06-17 12:32] #2498 closed

[2020-06-17 12:32] #2442 closed

[2020-06-17 12:33] tzach commented on #2368
@syuu1228 do we have such a restriction implemented ?

[2020-06-17 12:34] tzach commented on #2336
@raphaelsc can you provide a list of valid values?

[2020-06-17 12:35] tzach commented on #2016
@amnonh is this still valid?

[2020-06-17 12:37] tzach commented on #1748
Look like it was never committed.

[2020-06-17 13:17] yuqin11 opened #6663 "build error"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

centos7: build as readme.

`
make[5]: *** No rule to make target '/data1/cpp/scylla/build/relea

[2020-06-17 13:56] hagitsegev commented on #6010
@penberg / @slivne Do we want to backport this to 2020.1 / 4.1? This enables testing the version during promotion (see that the version we expect, is the one we get).

[2020-06-17 14:01] bhalevy commented on #3806
Sorry, I just saw this.
Trying to reproduce with a dtest

[2020-06-17 20:19] #6570 closed

[2020-06-17 21:03] roydahan commented on #6613
@bhalevy i doubt we will be able to start the Scylla debug in SCT.
Last time @juliayakovlev tried it, it didn’t work.

[2020-06-18 03:34] asias commented on #6603
I tried to reproduce the repair does not finish issue (main issue in this report). So far I haven't. I noticed that time to insert data in the test has big variation. Sometimes it took 1.5 minutes sometimes it took 6 minutes.

Another bigger issue in the test is that, the test checks streaming metrics. However with row level repair, streaming is not used any more.

[2020-06-18 05:48] bhalevy commented on #5942
Unfortunately we're seeing the exact failure again, so I'll reopen.
If we eventually determine that the reason happens to be new and confined to master, let's open a new issue to track the fix.

Scylla version 8628ede009b339205e26b680c4e95c601fa38a6a

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/526/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/simp

[2020-06-18 06:04] bhalevy opened #6666 "materialized_views_test: interrupt_build_process_with_resharding_max_to_half_test: View ks.t_by_v2 not built"
Scylla version 8628ede009b339205e26b680c4e95c601fa38a6a

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/526/testReport/materialized_views_test/TestMaterializedViews/interrupt_build_process_with_resharding_max_to_half_test/
[code]

The test stop the cluster (gently) during view building and then starts all nodes back up with a different number of shards.

We see on htt

[2020-06-18 06:09] bhalevy commented on #6666
@psarna please look into this

[2020-06-18 06:12] bhalevy commented on #6666
It's odd that according to https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/526/artifact/logs-release.2/dtest.log
[code]

The test waited for 8 minutes, starting at `2020-06-18 03:55:26,843` but we see no activity in the node logs after 03:55:1*.
node1:
[code]
node2:
[code]
node3:
[code]

[2020-06-18 06:16] bhalevy opened #6667 "remove_node_during_mv_insert_4_nodes_test dtest failed in debug mode: registering metrics twice for metrics: storage_proxy_coordinator_background_replica_writes_failed_remote_node"
Scylla version 8628ede009b339205e26b680c4e95c601fa38a6a

Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/197/testReport/materialized_views_test/TestMaterializedViews/remove_node_during_mv_insert_4_nodes_test/
[code]

[2020-06-18 06:17] bhalevy commented on #6667
@xemul can you please look into this?

[2020-06-18 06:19] bhalevy commented on #3806
Hmm, another issue with cfhistograms (I don't know if it's related)
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/197/testReport/nodetool_additional_test/TestNodetool/concurrent_restart_test/
Scylla version 8628ede009b339205e26b680c4e95c601fa38a6a
[code]

@amnonh how can that happen?

[2020-06-18 06:28] amnonh commented on #3806
It's clearly a bug somewhere, even with restarts I don't see a reason this would happen.
How reproducible is it?

[2020-06-18 07:17] avikivity commented on #6199
The fix landed in linux 5.7.3, 5.6.19, and 5.4.47.

[2020-06-18 08:06] nyh commented on #6666
Could this be a duplicate of #6094 ? In that issue the view *was* built, but not marked as built. @psarna commited a patch hoping to fix it, but apparently not all the problems are gone (and 6094 is still open too...).

[2020-06-18 08:24] psarna commented on #6666
What's weird is that node2 shows no logs indicating that this view building even started... Perhaps the node is somehow not aware that it needs to build the view, or thinks that's already finished? I grepped node2's log for information about failed bookkeeping, but haven't found any.

[2020-06-18 09:42] avikivity commented on #6662
@asias please take a look

[2020-06-18 09:46] avikivity commented on #6010
@roydahan do we have confirmation that the problem is fixed? if so I can backport.

[2020-06-18 09:59] mmatczuk opened #6669 "docker: run scylla_prepare before running"
*Installation details*
OS (RHEL/CentOS/Ubuntu/AWS AMI): Docker

Scylla in systemd runs `scylla_prepare` before running we should do that as well in docker.
This must be run post io_setup and cpuset.

[2020-06-18 10:01] avikivity commented on #6669
We should do it carefully, so as not to fail if we don't have sufficient permissions.

[2020-06-18 10:53] asias commented on #6603
Finally, I can reproduce the repair hang with the dtest with reloc binary only.  Scylla commit 97cb2892b28222e680a68cdb210c5fe1770f731d. On node 2, repair on shard 0 hangs.

@denesb, in the test, there is only a single repair instance in parallel , 2 shards per node, each shard has 512MB of memory.

[code]

[code]
[code]

[code]

[2020-06-18 10:53] asias commented on #6662
Will do.

[2020-06-18 11:21] slivne commented on #6666
Check if there was replay of commitlog / sync to the commitlog

We should check the RF of system_distributed.

[2020-06-18 11:33] psarna commented on #6666
Actually, the progress should be stored locally in `system.scylla_views_builds_in_progress` and `system.built_views`. My point from #6094 about using higher cl when checking if a view was built still stands, but that seems to be a different issue - what's worrying is that I don't see `Finished building view ks.t_by_v2` anywhere in node2 logs. It suggests that after the restart, node2 somehow decid

[2020-06-18 11:34] psarna commented on #6666
Also, logs do not indicate that any commitlog activity was ongoing.

[2020-06-18 13:08] roydahan commented on #6010
I think this issue is specific for installation on docker which is not something we test (but maybe @scylladb/releng are testing).

[2020-06-18 14:25] psarna commented on #6666
sadly, this test always passes fine for me locally

[2020-06-18 15:41] #4007 closed

[2020-06-18 15:41] #6021 closed

[2020-06-18 16:31] bhalevy commented on #6293
Duplicate of #5642

[2020-06-18 16:31] #6293 closed

[2020-06-18 16:33] bhalevy commented on #4186
@espindola please put this on your queue after/along with #6365

[2020-06-18 16:44] bhalevy commented on #3806
And the commit it happened includes d17b05e9112b615bdc055e12c740906aaae070d9

[2020-06-18 19:46] raphaelsc commented on #5159
@bhalevy is this idea worth implementing? otherwise, i think we can close this issue

[2020-06-18 21:03] raphaelsc opened #6672 "Make LCS take advantage of SSTable run infrastructure"
LCS can take advantage of the sstable run infrastructure to make everything more robust. With SSTable runs, we can decouple the physical level from the logical one. With run identifier, the run structure is properly persisted to disk and likewise runs structure can be recovered across restarts.

Now LCS levels can be stored as an array of sstable_run, sorted by size. LCS will work towards a run R2

[2020-06-18 21:05] glommer commented on #6672
This is a good direction. To make it work you'd have to, at startup time, logically map existing runs to logical levels.

New SSTables that are promoted to an existing level L, will have the same run id. If a new run needs to be created, then we create a new run id.

[2020-06-18 22:42] syuu1228 opened #6673 "scylla_setup: "apt-get install -y hugepages" fails on Ubuntu 20.04LTS"
Seems like "hugepages" package does not exists on Ubuntu 20.04LTS.
See: https://packages.ubuntu.com/search?suite=focal&searchon=names&keywords=hugepages
Related: #6343
[code]

[2020-06-18 22:54] syuu1228 opened #6674 "scylla_setup: systemctl shows up warning after scylla_setup finished"
After scylla_setup finished, systemctl shows following warning.
It's highly likely because of RAID constraction, since scylla_raid_setup adds mounts.conf without running systemctl daemon-reload.

(Note: the test running on Ubuntu 20.04 but the issue should be generic problem)
[code]

[2020-06-18 23:06] arunsandu1 commented on #6529
thanks @bhalevy . here is the new schema, enabled compression and tried to compact. During cleanup operation we hit the same issue.

`2020-06-18T22:39:25.628486+00:00 ip-10-0-67-243 scylla:  [shard 4] compaction_manager - compaction failed: sstables::malformed_sstable_exception (consumer not at partition boundary in sstable /var/lib/scylla/data/kairosdb/data_points-6bb3b390d10911e8871b000000000008

[2020-06-18 23:07] syuu1228 commented on #6673
Looks like it renamed to libhugetlbfs-bin:
 https://packages.ubuntu.com/focal/libhugetlbfs-bin

We don't need this for non-dpdk mode, anyway.

[2020-06-18 23:13] syuu1228 commented on #6673
Note: we might able to install it in scylla_prepare instead of scylla_setup, since it only for dpdk mode.

[2020-06-18 23:16] arunsandu1 commented on #6529
Here is the log from 3 different nodes along with the sstable size.

`2020-06-18T22:39:25.628486+00:00 ip-10-0-67-243 scylla:  [shard 4] compaction_manager - compaction failed: sstables::malformed_sstable_exception (consumer not at partition boundary in sstable /var/lib/scylla/data/kairosdb/data_points-6bb3b390d10911e8871b000000000008/mc-13394-big-Data.db): retrying
37G	mc-13394-big-Data.db
2020-0

[2020-06-18 23:59] espindola opened #6676 "Test crashes when open file limit is too low"
There can clearly be a minimum supported limit on the number of open file descriptors, but we should error, not crash.

This can be reproduced with
[code]

@raphaelsc

[2020-06-19 00:23] asias commented on #6662
The stall comes from compaction_manager::perform_cleanup where it calls service::get_local_storage_service().get_local_ranges. I will futurize it.

[2020-06-19 02:02] asias commented on #6662
Patch is posted: https://github.com/scylladb/scylla/pull/6679

[2020-06-19 08:13] denesb commented on #6272
Update: after further discussion on the [mailing list](https://groups.google.com/d/msg/scylladb-dev/fMqQPcp-Kaw/WBRW3Fj5AwAJ) @nyh insisted that I give evictable readers another chance, as he thought the read amplification we saw in https://github.com/scylladb/scylla/issues/6272#issuecomment-643371914 are not realistic. So I went back to play with the evictable reader idea some more. I rebuilt my

[2020-06-19 10:22] shantanu422 opened #6681 "Issues with read consistency on a Single Node cluster"
*Installation details*
Scylla version (or git commit hash): 3.1.2-0.20191127.9d78d848e
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): 18.04.3 LTS (Bionic Beaver)

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): GCP VM
Hardware: n2-highmem-16 (16 vCPUs, 128 GB memory)
Disks: 24 x 375GB Local SSDs

Trying to run a perf benchmarking on Scylla, however

[2020-06-19 11:47] denesb commented on #6603
[code]
This is strange. There are no active readers, yet there is no memory available. Can you run this gdb script on the shard where the memory of the semaphore is negative?
[code]

[2020-06-19 11:48] denesb commented on #6603
Just copy this into `scylla-gdb.py`, source it in gdb, then run it with:
[code]

[2020-06-19 11:49] denesb commented on #6603
BTW do you happen to have any of the permit-dropping patches I developed for https://github.com/scylladb/scylla/issues/6272 applied?

[2020-06-19 15:28] syuu1228 commented on #2630
@tzach still same on latest AMI.
For low memory node, we probably should recommend to specify developer-mode from userdata.
To do so, we want a document page on our web site something like 'how to use userdata to specify options for the AMI', then we can print message on the login prompt with the URL.

[2020-06-19 16:03] syuu1228 commented on #6343
I only able to find this issue installing scylla on Ubuntu 20.04LTS, at this point:
https://github.com/scylladb/scylla/issues/6673

Everything else looks fine.

[2020-06-19 17:35] raphaelsc commented on #6681
Changing compaction strategy from STCS to LCS results in the same data being organized different in disk and also using a different data structure in memory for storing them. Going from STCS to LCS should make read a lot faster. Could it be that we're failing to properly propagate timeout and we're returning an empty result instead for the query in some edge case? I will search for some unknown bu

[2020-06-19 18:03] shantanu422 commented on #6681
The initial set of queries and the compaction strategy change were run pretty close to each other (wouldn't say right before, however no other commands were run between them). Perhaps the issue is not related to CompactionStrategy change. Here are some more observations, post CompactionStrategy change to LeveledCompaction

Some keys still appeared to be missing:
[code]

Trying the same set of quer

[2020-06-19 18:41] espindola commented on #6624
I will try to reproduce first, failing that I will build with the same revision and path to try to decode the backtrace.

[2020-06-19 20:23] slivne commented on #6681
If you have very large sstables you may be suffering from 90002ca3d261de87868a911939028bc4577bf9f4

Please note that 3.1 is end of lifed - we do not support this release anymore and don't backport fixes to it.

Please upgrade to a supprted release at this time 3.3.X / 4.0.X

If you still have an issue after upgrading to the latest release in 3.3 / 4.0 please post and we will be happy to look at th

[2020-06-19 20:27] slivne commented on #6681
Looking at the schema - its probably not the issue - to hit the issue you need huge partitions with many rows - and you have a single row per partition.

Yet, still, please upgrade to a supported release - so we can try and assist you.

[2020-06-19 20:54] raphaelsc opened #6682 "SSTable upgrade has a 2x disk space requirement"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 7351db7cab7

SSTable upgrade requir

[2020-06-19 21:10] espindola commented on #6624
I think the bug is that in sstable::~sstable

Nothing waits for this file close:

   }
    if (_data_file) {
        // Registered as background job.
        (void)_data_file.close()...

[decoded.txt](https://github.com/scylladb/scylla/files/4806697/decoded.txt)

[2020-06-19 21:29] espindola commented on #6624
Nevermind, some of the leaked memory is from the call to await_background_jobs. There might be something being scheduled to new phase.

[2020-06-19 21:31] raphaelsc commented on #6624
On Fri, Jun 19, 2020 at 6:10 PM Rafael Ávila de Espíndola <
notifications@github.com> wrote:

it takes the background jobs phased barrier, which can be waited
via await_background_jobs(), perhaps the test is not calling it. test_env
facility, used in most sstable tests, should be
calling await_background_jobs() in the end. if it doesn't, then that's a
problem.

[2020-06-19 21:36] raphaelsc commented on #6624
On Fri, Jun 19, 2020 at 6:31 PM Raphael S. Carvalho <raphaelsc@scylladb.com>
wrote:

[raphaelsc@localhost scylla]$ cat test/boost/sstable_3_x_test.cc | grep
SEASTAR_THREAD_TEST_CASE | wc -l
90
[raphaelsc@localhost scylla]$ cat test/boost/sstable_3_x_test.cc | grep
'await_background_jobs' | wc -l
87

[2020-06-19 21:54] raphaelsc commented on #6624
On Fri, Jun 19, 2020 at 6:36 PM Raphael S. Carvalho <raphaelsc@scylladb.com>
wrote:

test_sstable_write_large_row and test_sstable_log_too_many_rows aren't
awaiting for background jobs, I think this patch should fix this particular
problem:
diff --git a/test/lib/test_services.cc b/test/lib/test_services.cc
index 8df601d27..25fa2b02b 100644
--- a/test/lib/test_services.cc
+++ b/test/lib/test_servic

[2020-06-20 05:53] arita37 opened #6683 "scylla_setup : using a config file instead of interactive setup or CLI"
Hardward related infos requires some extra steps to check before inputting correct info.
Having a file based config like  scylla_setup.yaml :
    Re-use for another node, backup the config, put comments, ...

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):   2019.1 ENT
Cluster size:
OS (RHEL/C

[2020-06-20 06:00] arita37 opened #6684 "nodetool or CQLSH : Cryptic or inconsistent messages"
When Scylla failed due to file missings or access un-authorized file reading,
"cryptic" or un-related messages are out:

CQLSH --ssl   connect with key file on disk
    "permission denied to IP_adresss"
     --> Mis-leading message :  actual cause is "on disk  key file read is denied".... and not the SSL.

nodetool repair ....
      Failure message is cryptic (just some java stack) crash.
      Ac

[2020-06-21 05:28] tzach commented on #6684
@amnonh is this a nodetool or scylla issue?

[2020-06-21 06:07] arita37 opened #6685 "Yum dependency issues"
When installing 2019.1 ENT, current issues found :

some python packages since YUM deprecated
python36 , psutil in their latest repository.

—> We have to find the right version, right URL,
donwload and and install manually.

Save the dependency package inside scylla,
Reduces external deprecation issues over the years and more reproductible install...

- [] I have read the disclaimer above, and I

[2020-06-21 06:13] arita37 opened #6686 "Notify better with background behavior with encryption"
When tables are encrypted,

If the encryption key file is corrupted
or whatever situation which prevents “write on disk”, node status does not inform of this situation
(State is OK).

However, the node is available for read/write access
(ie similar that shut down).

We need to look at each node file to see
if no error msg appears....

nodetool status should be more verbose
on the state of encrypti

[2020-06-21 06:15] amnonh commented on #6684
@tzach It's hard to tell without the actual messages, it could be an invalid response from Scylla or it could be an unhandled exception somewhere.

[2020-06-21 07:08] tzach commented on #6684
@arita37 can you please include relevant part of the journalctl?

[2020-06-21 07:14] tzach commented on #6686
@arita37 if I understand correctly you are reporting Encryption at Rest issue
Encryption at Rest is a Scylla Enterprise feature, and this project (and issues) are limited to Scylla Open Source. As a Scylla Enterprise customer you are welcome open a support ticket.

[2020-06-21 07:14] #6686 closed

[2020-06-21 08:07] bhalevy commented on #6351
The test test still fails in 4.1: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/dtest-release/36/artifact/logs-release.2/1592500627759_replace_address_test.TestReplaceAddress.replace_shutdown_node_test/node4.log
[code]

@avikivity I don't see 761f0516f18445095628611920bf0e28864c8413 in 4.1
was it dequeued?

[2020-06-21 08:19] bhalevy opened #6687 "paxos schema_mismatch_test fails: Expected to have "schema_mismatch_error" exception"
This test never passed after it was reenabled in scylladb/scylla-dtest@8a18bf2bf69351f703159395a1b9e0d388f29391
(See https://github.com/scylladb/scylla-dtest/issues/1534)

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/519/testReport/paxos_tests/TestPaxos/schema_mismatch_test/history/

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/519/testRe

[2020-06-21 08:34] arita37 commented on #6686
Where can we open the ticket ?
Was not informed of ticket service....
Looks like Open Source is more reactive(!)

[2020-06-21 08:39] arita37 commented on #6684
When connecting eith SSL
cqlsh —ssl  ...

CQLSH says :
   “Permission denied”

Not clear if related to server access,
wrong certificate,....

Actual cause was key file was not readable correctly by CQLSH (ownership issues).

—> File reading issues is not clearly output by the system so, diagnostic/investigation is difficult...
(Unless you have experience the exact issue before)

[2020-06-21 08:42] bhalevy commented on #6687
@alecco can you please check if error injection works properly for this test?

[2020-06-21 08:48] nyh commented on #6477
By the way, even though `build_reloc.sh` still runs `configure.py` and `ninja`, the situation now is much better than it was. A few of @penberg's recent patches ensured that although `configure.py` is indeed re-run, it isn't run with any special options, so if the user previously compiled Scylla, the re-run of `ninja` typically finishes in a few seconds doing nothing - instead of recompiling every

[2020-06-21 09:12] avikivity commented on #6637
Backported to 3.3, 4.0, 4.1.

[2020-06-21 09:17] avikivity commented on #6584
Since it's a just a build-time bug, will backport if it reproduces on older branches.

[2020-06-21 09:18] avikivity commented on #6575
Minor issue, not backporting.

[2020-06-21 09:19] avikivity commented on #6569
Backported to 4.0, 4.1.

[2020-06-21 09:21] avikivity commented on #6568
Backported to 4.0, 4.1.

[2020-06-21 09:22] avikivity commented on #6539
This is a feature, not a bugfix, so not backporting.

[2020-06-21 09:28] bhalevy commented on #6474
Never reproduced.  Closing with b155eef72662363b5ab7badfb5aeed4b4e517767

[2020-06-21 09:28] #6474 closed

[2020-06-21 09:29] avikivity commented on #6494
Backported to 3.3, 4.0, 4.1.

[2020-06-21 09:33] avikivity commented on #6346
This is in 4.1, and 4.0 (and older) don't lock memory. So not backporting.

[2020-06-21 09:33] avikivity commented on #6346
Well, they can lock memory with an option. I'll backport to 4.0.

[2020-06-21 09:36] avikivity commented on #6346
Backported to 4.0.

[2020-06-21 09:37] avikivity commented on #6290
This is a minor performance bug only, not backporting.

[2020-06-21 09:39] avikivity commented on #6241
Already backported.

[2020-06-21 09:42] avikivity commented on #5818
CentOS 8 did not make it to 3.3, so this need not be backported.

[2020-06-21 09:45] avikivity commented on #5811
Backported to 3.3. 4.0 had it already.

[2020-06-21 09:47] avikivity commented on #5764
Backported to 3.3 (4.0 already had it).

[2020-06-21 09:49] avikivity commented on #5793
3.1 was aged out.

[2020-06-21 09:52] avikivity commented on #5641
No current release is vulnerable.

[2020-06-21 09:53] avikivity commented on #5638
Already backported; removing label.

[2020-06-21 09:54] avikivity commented on #6655
Since this is a build problem, will backport only if it reproduces when building these branches.

[2020-06-21 09:58] avikivity commented on #6297
Backported to 3.3, 4.0, 4.1.

[2020-06-21 09:58] avikivity commented on #6169
Not backporting word police.

[2020-06-21 10:00] avikivity commented on #6018
It's in 4.0 already, and minor, so not backporting further.

[2020-06-21 10:01] avikivity commented on #5977
Amazon Linux 2 support is new, so not backporting.

[2020-06-21 10:01] avikivity commented on #5881
Already backported.

[2020-06-21 10:03] avikivity commented on #5857
Backported to 3.3 (4.0 had it already).

[2020-06-21 10:04] avikivity commented on #5856
@penberg why is the bot re-adding the backport candidate label?

[2020-06-21 10:04] tzach commented on #6686
Can you please email me to tzach at scylladb.com ?

[2020-06-21 10:06] avikivity commented on #5844
@xemul is branch-3.3 vulnerable?

[2020-06-21 10:07] avikivity commented on #5671
Backported to 3.3 (4.0 not vulnerable).

[2020-06-21 10:09] avikivity commented on #5661
Backported to 3.3, 4.0, 4.1.

[2020-06-21 10:11] avikivity commented on #5639
Since it affects mostly downgrades, not backporting to 3.3. 4.0 has it already.

[2020-06-21 10:12] avikivity commented on #5621
Removing the backport candidate label which the bot re-added (@penberg).

[2020-06-21 10:12] avikivity commented on #5616
Already backported; removing label.

[2020-06-21 10:16] avikivity commented on #5569
Already backported; removing label.

[2020-06-21 10:35] avikivity commented on #6332
Backported to 4.0, 4.1.

[2020-06-21 10:39] nyh commented on #6199
I think you are wrong and this issue should be reopened.
Not supporting a kernel that came out more than 3 days ago *is* a Scylla bug. Scylla should have worked around this known kernel bug. We can remove the workaround some period after the fixed kernels come out, but not *3 days* after came out - and definitely not, as was the case here - two months *before* the fix came out :-(

[2020-06-21 11:10] slivne commented on #6354
@roydahan please post updated logs and I'll check whats wrong

[2020-06-21 11:12] avikivity commented on #6199
We support those old kernels. We just don't support them with podman, and _without_ a data volume. It's just this combination that is broken.

I don't see how keeping the bug open helps, though.

[2020-06-21 11:25] avikivity opened #6688 "tri_compare/less_compare can be used when the other is expected, leading to strange results"
tri_compare returns int, and less_compare returns bool. This types convert to each other, but the function semantics are very different. This results in a trap where one can use one where the other is expected.

[2020-06-21 11:26] avikivity commented on #6688
/cc @dekimir (I believe you were bitten by this)
/cc @tgrabiec

[2020-06-21 11:27] avikivity commented on #6688
Now that we're using C++20, we can return std::strong_ordering (or std::partial_ordering where appropriate); these don't convert to bool, and can't be constructed from bool.

[2020-06-21 12:13] nyh commented on #6583
I have a patch adding the "--alternator-https-port" option to docker, but unfortunately it is not enough. We also need the files /etc/scylla/scylla.crt and /etc/scylla/scylla.key to exist inside the docker - with the key and certificate to use for this SSL.

I'm still not sure what I should do about these files. Should I just document the need to create them inside the docker image? Or what? Docke

[2020-06-21 13:01] nyh commented on #6199
Avi, the thing is that I just followed the "getting started" instructions we have all over the place - I ran Scylla inside "docker" on Fedora 32 (which is really podman - this is Fedora 32's "podman-docker" package, since the "docker" one doesn't work at all), and it failed on this obscure error.

You are right that *today*, just upgrading your kernel will work although it's still not exactly fool

[2020-06-21 13:32] alecco commented on #6687
Error injections work fine. The very similar test `schema_mismatch_mv_test` use the same error injection and it seems to work. I added debug points and the error injection is triggered and test passes fine.

Perhaps @ManManson can throw some light on this.

[2020-06-21 13:40] dekimir commented on #6199
FWIW, the package docker-ce works on F32.

https://linuxconfig.org/how-to-install-and-configure-docker-ce-moby-engine-on-fedora-32

[2020-06-21 13:43] ShlomiBalalis commented on #6650
We've experienced the issue again in the debian artifact jobs:
[code]
The build the jobs used, for example http://downloads.scylladb.com/deb/unstable/unified/master/2020-06-18T22:18:11Z/, seem to already include #6661 , especially since the centos jobs passed with no issue.

The failed jobs' logs:
artifacts-debian9-test
[code]
artifacts-debian10-test
[code]
artifacts-ubuntu1604-test
[code]
artifac

[2020-06-21 13:44] hagitsegev commented on #6010
I use it to test installation during promotion (to verify that promotion uploaded the right version). ( don't have a good way to know if it works, unless I try it.
I can suggest: backport to 4.1, I'll test it, and if OK - consider more backports? (3.3 / 4.0 / 2020.1)?

[2020-06-21 13:54] avikivity commented on #6010
How about you manually test what the test does? I don't want to use backports as a way to test if something works. Backports are a way to get something that works to users.

[2020-06-21 14:00] avikivity commented on #6685
Can you explain? "yum install python36" works in centos 7 (but installs python3).

[2020-06-21 14:08] ShlomiBalalis commented on #6354
Logs of the latest ubuntu 16 rolling upgrade that has experienced that issue:
[code]

[2020-06-21 14:08] tgrabiec commented on #6688
Duplicate of https://github.com/scylladb/scylla/issues/1449

[2020-06-21 14:08] #6688 closed

[2020-06-21 14:13] avikivity commented on #6688
lol

[2020-06-21 14:41] avikivity commented on #1449
Proposing this for a migration:

[code]

[2020-06-21 15:06] nyh commented on #6199
@dekimir I didn't check "docker-ce". One of the reasons I didn't try it is that https://www.linuxuprising.com/2019/11/how-to-install-and-use-docker-on-fedora.html told me that docker-ce also doesn't work with containers v2. Maybe it does now?
In any case, even if it does work and runs Scylla, having two out of the three ways to install docker on Fedora 32 not be able to run Scylla's image isn't a

[2020-06-21 15:16] avikivity commented on #6199
@nyh unfortunately few users run Fedora, and even with fedora+podman, the problem only occurs if you don't bind-mount a storage volume (which is the proper way to run a database).

[2020-06-21 15:41] dekimir commented on #6382
When c1c7fc0 hits master, the promoter will close this issue automatically.  Please feel free to reopen if you strongly believe Scylla shouldn't match Cassandra on this.

[2020-06-21 15:45] dekimir commented on #6199
Really, 90%?  How come they're not flooding us with feedback about it?

I suppose this might be common knowledge among certain professionals, but don't count on the average user knowing that.  Does our getting-started guide mention that this is the only proper way?  And if it does, how come @dorlaor , @nyh, and I managed to miss it?

[2020-06-21 15:53] avikivity commented on #6199
If you don't bind-mound a storage volume, you'll lose all your data once the container is restarted.

It is [documented](https://docs.scylladb.com/operating-scylla/procedures/tips/best_practices_scylla_on_docker/#configuring-a-data-volume-for-storage) (but says nothing about the default storage being volatile)

[2020-06-21 15:56] avikivity commented on #6199
(and likely users are using the "real" docker, not podman, it's only Scylla developers who are driven to use podman by our Fedora affinity + docker's disregard for the cgroupv2 change (which is five years old or so)).

[2020-06-21 16:11] nyh commented on #6199
Avi, I was using the real docker and had to change to podman because you decided we all need to switch to Fedora 32 now, and docker which I had installed no longer worked... I didn't choose podman just to spite you, really 😂

[2020-06-21 18:11] nyh commented on #6199
I obviously made this number 90% up. I only know that everyone in *our* team I asked told me he had the same problem at some point. I guess Avi is right and most people don't actually use Fedora, so we at Scylla - Fedora diehards - are particularly susceptible to this problem more than the average user.

I haven't seen or heard anything about this "storage volume" thing. I only use docker for temp

[2020-06-21 22:52] dekimir commented on #6199
Ah, sorry, I see that I misused the word "user".  What I meant by it is the reader of the getting-started guide, a person new to Scylla who just wants to give it a quick spin as they gain confidence and gradual understanding.  They'll get neither if bitten by this bug.  It's imperative for the getting-started procedure to work smoothly for the majority of such users.  They don't really care about

[2020-06-22 05:01] bhalevy commented on #6492
@asias what's your take on this issue?

Cc @tgrabiec

[2020-06-22 05:15] bhalevy commented on #6478
It looks like we can close this issue with #6536. Any objections @asias, @juliayakovlev, @slivne ?

[2020-06-22 05:39] bhalevy commented on #6648
@asias 2ee321d88e40caa011a3342a5657bfb51f945bb0 was already backported to 4.1.
It is not included in the version this issues was opened with (c6ee86b512f) though.
Let's close the issue and reopen if hit again.

[2020-06-22 05:39] #6648 closed

[2020-06-22 05:53] bhalevy commented on #6377
@xemul can you try to bisect the commits range mentioned above and pinpoint the commit that caused this regression.  Now, even if changing the row cache to b+tree, let's shoot for a simpler fix for backporting to 4.0 (#6378) and 4.1.

[2020-06-22 05:54] slivne commented on #6354
From the logs
You are starting the seed node and then in a loop with delay of 30 seconds other nodes.

[code]

This doesn't work - as the nodes do not complete their bootstrap

[code]

There are two sources that could have caused this to be slower:
1. repair based operations
2. cdc generation

Having said that starting all nodes at the same time is not the prepferred method - you should be adding

[2020-06-22 06:12] Felix-zhoux opened #6689 "Alternator table got GetItem latency 524ms while PutItem latency 4ms with scylla_tags = {'system:write_isolation': 'forbid'}"
*Installation details*
Scylla version (or git commit hash): 4.0.0-0.20200601.d95aa77b6
Cluster size: 9
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): physical
Hardware: cores=40 memory= 192G
Disks: (SSD/HDD, count) NVMe SSD *9

I created a alternator table and tagged scylla_tags = {

[2020-06-22 06:49] nyh commented on #6689
If I understand correctly, you are only doing about 60 reads per second, so there is hardly any possibility of overwhelming the server. So I would be really surprised to see 524ms read latencies, not even on spinning disks (and you are reporting that you are using SSD).

@amnonh, I need your help. Is it possible the "Average GetItem Latency" graph labels are simply wrong? The lowermost tick mark s

[2020-06-22 06:53] aleksbykov commented on #6601
Issue again reproduced with Scylla version: 666.development-0.20200618.7351db7ca with build-id 78b8df91057b9a1973488ef351b3cf175c73129e

job link: https://jenkins.scylladb.com/job/scylla-master/job/gemini-/job/gemini-1tb-10h/30/

Additionally, were found in logs next errors:
[code]

Issue mostly is reproduced with schema containing UDT.

[2020-06-22 06:57] aleksbykov commented on #6601
instances available:
[code]

[2020-06-22 06:59] asias commented on #6478
No objection. I checked the patch is not backported to 4.0 nor 4.1 though.

[2020-06-22 07:03] nyh commented on #6689
By the way, @amnonh, I have another unrelated question - what do the words "by Indexer" on all these graphs mean?

[2020-06-22 07:09] Felix-zhoux commented on #6689
I changed the name of this Indexer, which was originally Cluster

[2020-06-22 07:11] asias commented on #6492
From above, I assume you shutdown all the nodes during the night. I think you hit exactly the issue https://github.com/scylladb/scylla/issues/4325#issue-420383185

[2020-06-22 07:15] asias commented on #6603
No. I did not include your patches.

[2020-06-22 07:17] Felix-zhoux commented on #6689
@nyh

The delay seen by the application client is indeed 500+ms.

I created a new alternator table in this scylla cluster. The PutItem/GetItem delay of this newly created table now looks normal.
![image](https://user-images.githubusercontent.com/59597542/85259088-00870280-b49b-11ea-9dd7-08baf176fe81.png)

The table with an abnormal delay was normal when it was first created. After a period of read

[2020-06-22 07:19] amnonh commented on #6689
@nyh just to answer the question about the units. The graphs are defined in microseconds because that's how the information is reported, Grafana auto-scale the units to make it easier to read.

[2020-06-22 07:21] AnshumanTripathi opened #6690 "scylla-housekeeping url encoding error"
*Installation details*
Scylla version (or git commit hash): 4.0.2
Cluster size: 1
Platform (physical/VM/cloud instance type/docker): docker

I am creating the cluster using the following docker-compose
[code]

I am seeing the following error when starting the cluster
[code]
This error goes away when I remove the volume binding `/opt/scylla/dev:/var/lib/scylla`. I was seeing this with `scylladb/scy

[2020-06-22 07:24] asias commented on #6603
[code]

[2020-06-22 07:27] nyh commented on #6689
Thanks. I'm happy the latencies went back to normal (and that our monitoring is showing the correct units), but the question now is what to do about your original bug report. I'm not familiar with a problem that a recently-created table has terrible read latencies, and later go back to normal. If there's some sort of sequence of events that can reproduce this issue, maybe we can look into that.

[2020-06-22 07:33] psarna commented on #6689
If the table started having abnormal latencies after a period of read, write and delete operations, maybe it's a tombstone problem? Perhaps most of the time is spent reading tombstones. One way to check would be to set `gc_grace_period` to 0, perform a compaction, and see if the problem eventually disappears.

[2020-06-22 07:35] Felix-zhoux commented on #6689
@nyh

Sorry, my description may be a little unclear.
I mean, the newly created table is normal, and after a period of testing, the delay becomes abnormal.

[2020-06-22 07:55] jul-stas commented on #6382
I can ask on the C* group and reopen if they decide to change this behavior on their side.

[2020-06-22 07:57] denesb commented on #6603
[code]
Try this.

[2020-06-22 08:05] asias commented on #6603
[code]

[2020-06-22 08:09] asias commented on #6603
I added this
[code]
to print state directly.

[code]

[2020-06-22 08:09] ManManson commented on #6687
@bhalevy I'll look into it now. Probably has something to do with log levels in Scylla. I usually run tests with `TRACE` log level, I suspect this is the issue.

[2020-06-22 08:11] asias commented on #6603
With:
[code]

[code]

[2020-06-22 08:13] denesb commented on #6603
Sorry it has to be:
[code]
In the else branch, you can put:
[code]

[2020-06-22 08:13] denesb commented on #6603
Can you please generate a core and upload somewhere I can access it?
This is very strange, I'd like to have a look.

[2020-06-22 08:16] asias commented on #6603
After changing the else branch:
[code]

[2020-06-22 08:17] asias commented on #6603
I will give you both the core and the reloc package.

[2020-06-22 08:21] avikivity commented on #6199
I know you didn't. And there is nothing wrong with using podman, it is better than docker IMO.

[2020-06-22 08:21] avikivity commented on #6199
That's true, but again ordinary users are unlikely to be using podman.

[2020-06-22 08:30] xemul commented on #5844
@avikivity , it is. The patch from master is cherry-pick-able.

[2020-06-22 08:37] syuu1228 commented on #6650
Okay, then it's different issue with #6661. I will try to reproduce it on Debian/Ubuntu.

[2020-06-22 08:42] asias commented on #6603
Here it is:

gs://scratch.scylladb.com/asias/repair_hang_6603_for_botond

[2020-06-22 09:11] #6687 closed

[2020-06-22 09:15] syuu1228 commented on #6659
This patch just cause error && exit when <1GB RAM, but do we want to support such environment since we are trying to handle EC2 instance type t2.micro / t2.small (#2630) ?
cc: @tzach

[2020-06-22 09:50] slivne commented on #6690
@amnonh can you please take a look

[2020-06-22 10:09] slivne commented on #6689
I think we need to take a capture with tracing / slow query logging to understand where this is coming from - https://docs.scylladb.com/using-scylla/tracing/#slow-query-logging

another option is that we have an unknown stall, check the logs if you see some backtraces for stalls then those may be related.

[2020-06-22 10:24] slivne commented on #6663
@yuqin11 can you please provide:
1. the git commit you tried to build
2. the exact commands you ran to build scylla - so we can try and reproduce

[2020-06-22 10:26] amoskong commented on #6690
I also see this error in a old scylla-nightly docker (666.development-0.20200310.d895f5e1311).
The first housekeeping call will be  executed at the beginning of node init, api server is ready. But if scylla-jmx isn't ready, the call might be failed.

We started scylla-housekeeping and scylla-jmx almost at same time. and scylla-housekeeping will sleep 5 seconds before calling the api.

And I didn't

[2020-06-22 10:30] slivne commented on #6646
- It would be better to detect this and provide good errors
- Yet lets start by comparing C* behavior

(not urgent)

[2020-06-22 10:33] slivne commented on #6635
label added

[2020-06-22 10:37] slivne commented on #6617
@roydahan - please make sure that refresh now uses the correct schema - lets not block all runs on this.

With regards to loading sstables that have a different schema
- we should check the code should not crash and error
- we can also check what C* does

Last when user takes a snapshot schema is also extracted and saved.

(the priority for this is low)

[2020-06-22 10:40] amnonh commented on #6690
@AnshumanTripathi I tried to reproduce it locally (I bind `/var/lib/scylla` to a local directory and I'm using version 3.7) without success.

The error you are seeing is from the housekeeping that tries to check for a newer version and faces some error (most likely a connectivity issue).
I'm not sure why it is related to the volume binding.
It does not affect any functionality

[2020-06-22 10:41] slivne commented on #6529
@bhalevy ping

[2020-06-22 10:41] amnonh commented on #6690
@amoskong syclla housekeeping does not use the jmx, so I don't think it is related

[2020-06-22 11:15] syuu1228 opened #6691 "scylla_util.py: duplication on detecting distribution"
Seems like we mistakenly made two different way to detect distribution,
 1. is_redhat_variant() / is_debian_variant() uses /etc/os-release, also we have a variable 'os_release' to get ID, ID_LIKE, VERSION, VERSION_ID etc.
 2. dist_name() / dist_ver() were previously used platform.dist(), now switched to distro package.

We can keep these functions, but no need to keep using both interface, os-rele

[2020-06-22 11:22] tgrabiec commented on #4325
The more general problem which encloses this issue is https://github.com/scylladb/scylla/issues/6088

[2020-06-22 11:22] tgrabiec commented on #6492
If this is indeed the same scenario as in #4325, then this is https://github.com/scylladb/scylla/issues/6088

[2020-06-22 11:26] xemul commented on #6667
@bhalevy , this is dup of #5697 . Last time it crashed (#5985), but it was workarounded with commit 513ce1e6, and the messages about double registration are present in logs.

[2020-06-22 11:26] nyh commented on #5467
@bhalevy should we close this issue? I think we always want to have one RPM with the stripped executable, and a second RPM with the debug information, and we never really want what you suggested in this issue, which was to completely strip the executable and not leave the debugging information anywhere.

[2020-06-22 11:33] syuu1228 commented on #6650
I think I found it:
[code]

[2020-06-22 11:46] nyh commented on #5231
@bhalevy, @penberg explained above that it is, in fact, possible to create debugging RPMs. In any case you need to run build_reloc first and only then build_rpm, and build_reloc has the "--mode" option.

There seems to be another issue here regarding the resulting package's **name**. I think it would be better to close this one and open a new issue with a clearer explanation of what is actually th

[2020-06-22 11:59] kbr- commented on #6601
Does gocql even support non-frozen UDTs?
A quick glance at some of the errors in the log + some googling and looking at gocql code and its commits suggests that it doesn't. So there's no point in testing schema that contains non-frozen UDTs with gemini, which uses gocql underneath. Gemini goroutines will just panic like here:
[code]

If the gocql instance crashes, Scylla will report a dropped conn

[2020-06-22 12:00] kbr- commented on #6601
It will be best if a Gemini developer confirms whether or not gocql supports non-frozen UDTs.

[2020-06-22 12:15] roydahan commented on #6601
@dahankzter / @penberg any insight from your end?

[2020-06-22 13:10] juliayakovlev commented on #6478
the issue didn't recreated

[2020-06-22 13:11] n-canter opened #6693 "Segmentation fault in star::prometheus"
*Installation details*
Scylla version (or git commit hash): 3.3.1-0.20200418.6f939ffe199 with build-id ea9bf3b4c32c1dc414e467287990f8fdde231150
Cluster size: 3 nodes, centos7
OS (RHEL/CentOS/Ubuntu/AWS AMI):

I'm starting only one seed node (two other nodes are down).
In logs I see "Segmentation fault on shard <xx>"

[code]

Decoded:
[code]

[2020-06-22 13:13] haaawk commented on #6693
CC @amnonh

[2020-06-22 13:16] haaawk commented on #6693
This seems like it could be an issue with ZSTD. @kbr- what do you think?

[2020-06-22 13:23] roydahan commented on #6617
We would like to keep the nemesis as is and test this negative behaviour when this issue is fixed.
For now we will disable this nemesis till the issue is fixed.
I recommend to fix it because the consequences of such scenario are pretty bad.

[2020-06-22 13:23] haaawk commented on #6693
On second thought, I think it's unlikely.

[2020-06-22 13:26] slivne commented on #6617
@roydahan to be clear - you need to fix this we need nodetool refresh to be tested as part of your nemesis runs.

AFAIK this is the way it was in the past as well.

If you believe this is a regression in scylla behaviour please provide some input on which release introduced this regression.

If there is no such release - please fix this in SCT / revert the change that casues this regression in SCT

[2020-06-22 14:25] avikivity commented on #6693
The trace looks bogus.

[2020-06-22 14:33] avikivity commented on #5231
Note you can now build debug rpms with ninja `build/dist/debug/redhat`

[2020-06-22 14:36] avikivity commented on #5467
@bhalevy already consented to closing, so closing.

[2020-06-22 14:36] #5467 closed

[2020-06-22 14:40] avikivity commented on #6650
I thought /bin was a symlink to /usr/bin.

[2020-06-22 14:42] #6583 closed

[2020-06-22 14:42] #6557 closed

[2020-06-22 14:42] #6682 closed

[2020-06-22 14:42] #6674 closed

[2020-06-22 15:11] avikivity commented on #6693
Here's a better trace:

[code]

[2020-06-22 15:13] avikivity commented on #6693
/cc @gleb-cloudius - looks like a problem in storage_proxy::get_read_executor().

[2020-06-22 15:16] avikivity commented on #6693
[code]

looks like `all_replicas` is empty.

[2020-06-22 15:23] gleb-cloudius commented on #6693
On Mon, Jun 22, 2020 at 08:16:47AM -0700, Avi Kivity wrote:

9827efe554b41c67c3fc6ece05eac4192413999b

--
			Gleb.

[2020-06-22 15:29] avikivity commented on #5935
Backported to 3.3 (newer versions have the fix).

[2020-06-22 15:31] avikivity commented on #6693
Duplicate of #5935, closing. @n-canter the fix is already in 4.0, and will be in a future 3.3 point release.

[2020-06-22 15:31] #6693 closed

[2020-06-22 15:39] ShlomiBalalis opened #6695 "scylla-server.service takes 8 minutes to start"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200618.7351db7ca with build-id 78b8df91057b9a1973488ef351b3cf175c73129e
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03686624408329d46

In the 200gb longevity, a StopStartService nemesis started on node#3. After the scylla service was stopped, sct attempted to start it again at `2020-06-21 15:41:35,906`. Howeve

[2020-06-22 15:44] avikivity commented on #6695
@glommer what have you done

@raphaelsc please find out why we needed reshaping. In general stop+start should not require a reshape.

[2020-06-22 16:11] raphaelsc commented on #6695
@ShlomiBalalis please share the full log for that node.

[2020-06-22 16:16] raphaelsc commented on #6695
@ShlomiBalalis what's the compaction strategy of keyspace1/standard1?

[2020-06-22 16:21] juliayakovlev commented on #6074
Same error recreated with ```2020.1.rc1-0.20200621.0659b8e6599``` version, test: longevity-lwt-3h

[code]

Logs:
[code]

[2020-06-22 16:38] #6650 closed

[2020-06-22 16:49] ShlomiBalalis commented on #6695
@raphaelsc I forgot to mention that I left the node alive, it's IP is 3.250.121.190. In any case, its log is available in https://cloudius-jenkins-test.s3.amazonaws.com/cf7117b0-0a85-4ec7-b0d2-12904eefc8b3/20200621_160543/db-cluster-cf7117b0.zip, in the issue it's under 'db-cluster'.

The compaction strategy is LeveledCompactionStrategy

[2020-06-22 17:19] omareltotongy opened #6696 "i get that error when debugging this program : terminate called after throwing an instance of 'std::out_of_range' what(): basic_string::at: __n (which is 51) >= this->size() (which is 50)"
[code]

[2020-06-22 17:32] nyh commented on #6696
I don't see how this question has anything to do with Scyla :-( closing.

[2020-06-22 17:32] #6696 closed

[2020-06-22 17:34] roydahan commented on #6617
It started happening since we changed the files we are loading into scylla that used "COMPACT STORAGE" while our tests doesn't have compact storage anymore.
Why it didn't happen in the past and if it's related to compact storage or not, I don't know.

This issue is about the fact that if one loads sstables that doesn't match his current schema, its cluster will be non operational shortly after.
I

[2020-06-22 17:34] nyh commented on #6696
Anyway, I was curious, so I found you your answer - your string is missing the letter "j", so it is one character too short ;-)

[2020-06-22 17:45] raphaelsc commented on #6695
Reproduced this. Looks like reshape is unable to retrieve level information, and it will always reshape everything on boot. I will work on finding the exact root cause and send a patch to fix the problem.

[2020-06-22 18:05] roydahan commented on #5179
@syuu1228,  Now, when switching to Amazon Linux 2, maybe there is an easy and working option to set the IPv6 routing persistent and fix this issue.

[2020-06-22 18:25] raphaelsc commented on #6695
Turns out we were incorrectly mutating all SSTables to level 0. Will send a patch to fix it. @avikivity, please correct me if I am wrong, but if resharding didn't take place, we shouldn't even consider trying reshape.

[2020-06-22 20:31] amoskong opened #6697 "cdc - Could not retrieve CDC streams with timestamp 2020/06/18 20:14:37: exceptions::read_failure_exception (Operation failed for system_distributed.cdc_generations - received 1 responses and 2 failures from 2 CL=QUORUM.). Will retry again"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

### Test info
-Job link: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/rolling-upgrade/job/rolling-upgrade-centos7-test/39
- Test-id: 7a398b2c-6f7e-48f3-9cd6-0c7b08bc9d0a
- Test / SCT log: https://cloudius-jenkins-test.s3.amazonaws.com/7a398b2c-6f7e-48f3-9cd6-0c7b08bc9d0a/2

[2020-06-22 20:36] amoskong commented on #6697
Before rolling back the upgraded node (`rolling-upgrade-4-1-centos-db-node-7a398b2c-0-1`), the test will drain it firstly, I saw the cdc exception occurred during the `nodetool drain`.

[code]

[2020-06-22 22:10] ShlomiBalalis commented on #6695
@raphaelsc Can I kill the remaining node?

[2020-06-22 23:22] espindola commented on #5231
Should we close this?

[2020-06-23 03:45] AnshumanTripathi commented on #6690
@amnonh I could not find an image with tag 3.7, but I was able to reproduce it on version 3.3.4.

[2020-06-23 05:53] nyh commented on #6684
The words "Permission denied" is most likely from perror() or the Java equivalent. But Unix tradition is that this ernno string is preceded by the the filename whose read failed. In other words, a message like
[code]
Would have been much more helpful than just "Permission denied".

[2020-06-23 06:12] fruch commented on #6690
@amnonh I think it's relevant to the mount of older data dir, since scylla might take more time to finish booting, and some of the API call might be unresponsive at that time.

Anyhow it's just a but of us passing the exceptions between processes, we can just stop doing that, and just print it, since we should be retrying it anyhow.

@AnshumanTripathi I think @amnonh meant python3.7, not scylla 3.

[2020-06-23 06:25] AnshumanTripathi commented on #6690
Aah didn't realize that. I have python 3.7.7 on my machine.

[2020-06-23 06:44] xphoniex opened #6698 "Trouble installing ScyllaDB on Ubuntu 18"
Following the guide [here](https://www.scylladb.com/download/?platform=ubuntu-18.04&version=scylla-4.0):

[code]

In the installation guide (above link), java is configured after scylla is installed, so this is unexpected.

Also when trying to install dependencies separately, for example `scylla-jmx`:

[code]
If `openjdk-11` is the problem here, why then is it trying to remove `cuda`? Also I'm sur

[2020-06-23 08:14] elcallio commented on #6412
The `low_mark` is set by assigning setting `_lowest_allowed_rp = _highest_rp` and returning the same value. `_lowest_allowed_rp ` forces any new mutations to have higher values. `_highest_rp` is the highest rp put into the memtable.
We then flush/clear, which means that somewhere in the mutations that will go to sstable there is a mutation with rp == `_highest_rp`. Either that, or empty. Which is

[2020-06-23 08:38] #6478 closed

[2020-06-23 09:39] tzach commented on #6698
Hi @xphoniex
I fail to reproduce on Ubuntu 18
Can you please add `lsb_release -a` info?
Are you using a minimalist Ubuntu?

[2020-06-23 09:39] tzach commented on #6698
@syuu1228 does this look familiar ?

[2020-06-23 09:45] roydahan commented on #5179
It looks like the AMI that is based on Amazon Linux 2 won't need the workaround or any other fix.
After verifying this and merging we will be able to close this issue.

[2020-06-23 09:48] avikivity commented on #6478
Backported to 3.3, 4.0, 4.1.

[2020-06-23 09:49] xphoniex commented on #6698
[code]

[2020-06-23 09:54] avikivity commented on #6695
Why not? The user may have added sstables while the node was down.

[2020-06-23 09:54] avikivity commented on #6695
@ShlomiBalalis kill it

[2020-06-23 10:09] bhalevy commented on #6351
@avikivity ping. it looks like the backport to 4.1 didn't happen after all.
We need to backport the following patches:
* fa9ee234a0 streaming: Use separate streaming reason for replace operation
* 81f0260816 range_streamer: Handle table of RF 1 in get_range_fetch_map

[2020-06-23 10:12] bhalevy commented on #6478
@scylladb/scylla-maint please backport #6536 to 4.0 and 4.1.

[2020-06-23 10:15] slivne commented on #6689
@Felix-zhoux have you been able to look at tracing / stalls in the logs ?

[2020-06-23 10:39] haaawk opened #6699 "Implement reference CDC client in Go"
Create a Go library that allows consumption of Scylla CDC.

It should be generic enough to work with wide variety of applications and have good performance.

[2020-06-23 10:47] avikivity commented on #6583
@nyh consider bind-mounting those files

[2020-06-23 10:49] avikivity commented on #6351
Yes, it was dequeued due to compilation faiure.

[2020-06-23 10:53] avikivity commented on #6351
Re-backported.

[2020-06-23 11:51] kostja commented on #6096
I suggest the issue is fixed by applying MVCC principles to schema versioning. Each mutation should have a schema versioning.  The fix could be in switching to the new format of schema hash, which doesn't include some volatile items which do not impact layout, but explicitly includes hash of the column mapping and truncation generation. When applying a mutation with an older truncation generation

[2020-06-23 12:03] avikivity commented on #6096
Good idea. We already have most of the machinery in place. We'd need to add the truncation timestamp to the schema. and adjust mutation_partition::upgrade() to check if timestamps cross the truncate boundary.

[2020-06-23 12:04] avikivity commented on #6096
In fact we have so much of the machinery in place that it can be quite a small patch.

[2020-06-23 12:10] avikivity commented on #6096
Note that a mutation can include multiple timestamps (and often does). So we need to filter out cells that have timestamps from before the truncation.

[2020-06-23 12:43] fruch commented on #6695
I've encounter something that sounded like this issue:
A node got stuck `systemctl scylla-server.service start`

I've killed scylla with `kill -6` and this is the backtrace
[code]

@raphaelsc you think it's same issue ?

[2020-06-23 13:14] denesb commented on #6603
This is another case of https://github.com/scylladb/scylla/commit/0c6bbc84cd30df1c46a6cd81d87170b99d5a8144 uncovering a a bug that used to hide in dark corners before.

Initially I suspected a permit leak, there are no active restricted readers, but a lot of memory is consumed from the streaming concurrency semaphore. Searching for references to the semaphore revealed 1468 references to it. Diggin

[2020-06-23 13:40] raphaelsc commented on #6695
On Tue, Jun 23, 2020 at 6:54 AM Avi Kivity <notifications@github.com> wrote:

Correct. Later on I realized that it may be good even for the scenario
where strategy felt behind and we want to give it a chance to catch up.

[2020-06-23 13:40] raphaelsc commented on #6695
On Tue, Jun 23, 2020 at 9:44 AM Israel Fruchter <notifications@github.com>
wrote:

Possibly.

[2020-06-23 14:26] bhalevy commented on #6667
Duplicate of #5697
Closing...

[2020-06-23 14:26] #6667 closed

[2020-06-23 14:38] bhalevy commented on #6377
Could this be caused by https://github.com/scylladb/scylla/issues/5857?

[2020-06-23 14:39] bhalevy commented on #6377
Sorry, the respective fix is included in the version in this issue

[2020-06-23 15:35] psarna commented on #6513
This test case **never** works for me locally, because it always hits:
[code]
How to work around it? I checked and port 8080 is not taken by any processes before I start the test, so it looks like a clash of different alternator servers starting on the same machine.

[2020-06-23 15:39] psarna commented on #6513
Ok, I figured that my dtest repo was outdated, but now I can't run because of
[code]
I have mypy_boto3 installed in the latest version - is the test adapted for Fedora32? I'll try hacking around this issue for now.

[2020-06-23 15:49] psarna commented on #6513
Alright, the first error still applies - the test always fails because it's unable to bind to 0.0.0.0:8080. Wasn't the idea to bind to local addresses instead of 0.0.0.0? Is it a known issue I can easily work around?

[2020-06-23 16:02] psarna commented on #6513
The issue disappeared after updating scylla-ccm.

[2020-06-23 16:37] psarna commented on #6513
The problem is as follows: in order to update tags I used an internal CQL call (`ALTER TABLE`), naively thinking that schema propagation will take care of the rest. Unfortunately, internal statements have a special flag which prevents the schema from propagating! Which is useful for local system tables, but not for distributed tags. Effectively, tags will only be visible for the node which receive

[2020-06-23 16:41] syuu1228 commented on #6691
I suppose we don't really need dist_name() / dist_ver(), we just can use ```import distro``` and then ```distro.name()``` or ```distro.ver()```.
dist_name() / dist_ver() was introduced for make platform API readable, since it was like ```platform.dist()[1]```.

[2020-06-23 17:18] nyh commented on #6513
@psarna great you found the reason. And @yarongilor thanks again for finding this bug, which would have otherwise gone unnoticed.

[2020-06-23 17:50] nyh commented on #6603
@denesb I'm not an expert in those permit details, nor of the view update generator (@psarna is the bigger expert there and recently fixed bugs there) so I have some questions / comments.

First, the observation that we are reading 207 sstables concurrently. This is bad. For example, compaction always limits the number of sstables read together, because we know that reading 207 sstables together i

[2020-06-23 17:53] psarna commented on #6513
Well, that's is embarassing. I wrote the original code which uses internal CQL queries because I was too lazy, but it turns out the correct code is even shorter... I'll send a fix soon, the test already started passing.

[2020-06-23 17:57] nyh commented on #6513
@psarna I think you should open a new issue about these "internal CQL queries" doing the wrong thing. Why should an "internal CQL query" do almost the right thing, but not quite? If "internal CQL queries" are not usable (for whatever reasons) for non-local tables then the code should contain an assert(), and a clear comment saying it shouldn't be used. Otherwise we can make the same mistake again

[2020-06-23 17:59] psarna commented on #6513
Yeah, the internal queries do the right thing, since they expect local tables, I just used them in a wrong way - I'll try to find a place to add an assertion, so that people do not make the same mistake.

[2020-06-23 18:04] psarna opened #6700 "Internal schema change CQL queries should not be used for distributed tables"
As @nyh suggested in #6513, I'm creating a separate issue for a thing that came up in the discussion.

Internal CQL queries are generally expected to be used for local tables, not regular, distributed ones. One of the reasons is that any schema changes issued by internal CQL queries are only propagated locally, which means that calling `ALTER TABLE` on a regular, distributed table will result in n

[2020-06-23 18:05] tzach commented on #6698
Might be similar to #4665

[2020-06-23 18:06] syuu1228 commented on #6698
Because CUDA requires OpenJDK:
[code]

It used for scylla-tools and scylla-jmx.
I suppose we will switch to OpenJDK-11 in future releases, but for now I think you'll need to use a container to use Scylla and OpenJDK-11 apps in same machine.

[2020-06-23 18:20] denesb commented on #6603
I didn't say the view building was done, I said `thread::join()` was called, which just means that somebody is waiting on it. This may have been an irrelevant and confusing piece of information.

Again, I don't think the readers are staying around indefinitely. To be honest I don't know how long repair has been waiting on these readers, I received a core to look at, which doesn't contain this info

[2020-06-23 20:14] syuu1228 commented on #6698
@tzach It also OpenJDK-8 vs OpenJDK-11 issue, but #4665 was about Debian 10 does not provide OpenJDK-8 on their official repo.
So we supported 3rdparty repo's OpenJDK-8 for the distribution at https://github.com/scylladb/scylla-jmx/commit/f2fc1b912c522664577b8879f7ed717141a4e73b
But this issue is about the user want install both Scylla and OpenJDK-11, instead of uninstall OpenJDK-11.
So it bit rel

[2020-06-23 20:50] nyh commented on #6689
Before we have more data on what's wrong, I can only work with guesses. So I want to comment on @psarna 's good guess - the tombstones.

We can indeed have the huge number of tombstones, but only if the workloads creates and then deletes many **different** items in the **same** partition. In another words, you create an item with sort key 1, then delete it, then create an item with sort key 2, the

[2020-06-24 02:20] #6513 closed

[2020-06-24 06:14] tzach commented on #6698
+1

[2020-06-24 07:08] asias commented on #6603
Normally, the test took 480 seconds. When it hangs, it does not finish in around 50 minutes.

[2020-06-24 07:33] juliayakovlev commented on #6187
I got this in the longevity-1tb-7days running ```2020.1.rc1-0.20200621.0659b8e6599```
test_id: 08a066b6-21c5-45ac-a26c-4995035779b5 (the test still running)
job: https://jenkins.scylladb.com/view/enterprise-2020.1/job/enterprise-2020.1/job/longevity/job/longevity-1tb-7days/2/console

[2020-06-24 07:38] nyh commented on #6603
Two more notes on reading 207 sstables at the same time:
1. Shouldn't all these tables have disjoint token ranges, so we can open and close them as needed instead opening all of them at once? Or are we lacking this feature (I'm not up to date there...).
2. If there is no other alternative (I still hope there is) and we really need to read hundreds of sstables in parallel, another option is to redu

[2020-06-24 07:42] slivne commented on #6603
@nyh / @psarna / @eliransin I don;t understand view building is not restricted ?

[2020-06-24 07:48] nyh commented on #6603
Unfortunately, I'm not sure how it ought to be "restricted". The existing staging-update code has:
[code]
Is this `make_permit()` thing good enough? Does it make sense to "make" a single permit and then read 207 sstables in parallel? I need advice from people who are more familiar with the permit mechanism on what's actually wrong in this code.

[2020-06-24 07:52] asias commented on #6603
The core was generated from node2 (the repair master, 3 repair followers). node2 receives data from 2 nodes (node 1 and node3). node2 generates 1 sstables per vnode range per peer nodes. The sstables generated for each peer node is disjoint. But sstables for the same range but came from different nodes are *not* disjoint.

In the tests, there were 803 ranges to repair. On each shard, there was 803

[2020-06-24 08:00] amnonh commented on #6690
With `version` I was referring to the docker file, because I suspect this is network reachability issue (housekeeping inside the container is unable to find what the latest version is) then the same problem will consist.

[2020-06-24 08:23] denesb commented on #6603
`make_permit()` is not good enough, making a permit just ensures that used resources will be accounted for, but the reader will not magically wait for admission. `make_range_sstable_reader()` bypasses the restriction mechanism, `table::make_sstable_reader()` is the one that waits for admission before starting the actual reading.
Its fine to use a single permit for any number of actual sstable read

[2020-06-24 08:31] nyh commented on #6603
@denesb I'm out of my depths here... Some questions:

1. If "make_range_sstable_reader()" doesn't do the right thing, should we attempt to hide it and audit and fix all the places it is used, not just this one?
2. If I understand correctly, if we make this specific code wait for the permit, all that would change is that the repair-caused view updates will sometimes block. But how does that help an

[2020-06-24 08:35] nyh commented on #6603
Doesn't this mean that while scanning this data, although we have 1606 (!) sstables, at any single point (i.e., token) during our scan we just need *two* reading sstables, because all the others are disjoint? Botond reported seeing 207 reading sstables, and I'm wondering why. I thought that long ago we added code which only starts reading from an sstable when its token range becomes relevant, and

[2020-06-24 08:35] denesb commented on #6603
`make_range_sstable_reader()` is used by compaction (and maybe more, we should indeed check) which has its own ways to restrict concurrency. Also going through the semaphore might cause some of the reads belonging to a compaction to be admitted and some not, which is highly undesirable. So I think we should keep this function, but we should rename it. Despite what their name suggests the *only* di

[2020-06-24 08:41] asias commented on #6603
In practice, it is less than 1606 because not all ranges contain data the repair master needed.

[2020-06-24 08:50] denesb commented on #6603
This is a very good question. Indeed just changing `make_range_sstable_reader()` to `table::make_sstable_reader()` won't magically make this problem go away. Restricting the view readers won't make the competition for resources go away, it will just make it more explicit. AFAIK view building is driven by repair. Repair creates staging sstables which it registers with view building. View building t

[2020-06-24 08:52] denesb commented on #6603
We indeed have this code, but it is only used for LCS and ICS(?). We don't use it for compaction strategies which don't normally keep disjoint sstables. We could use it in this case, but better yet would be to do an off-strategy compaction on these sstables before we start generating view updates.

[2020-06-24 09:25] nyh commented on #6603
So I think beyond all the rest of the ideas raised in this thread about permits and why we even need to read all the "staging" sstables at once - we found a concrete bug. Repair is known to create hundreds of sstables with disjoint ranges, yet we read them without making use of code we have exactly for this case. I'll create separate issue about that.

[2020-06-24 10:15] avikivity commented on #6478
@bhalevy looks like it's already backported

[2020-06-24 10:16] avikivity commented on #6478
@asias I dequeued the 3.3 backport, it doesn't build. Please check.

[2020-06-24 10:23] kbr- commented on #6697
@amoskong

1. Do I understand correctly: you tried to perform a downgrade on a fully upgraded cluster?
2. Were the other nodes available (up) when you started downgrading `rolling-upgrade-4-1-centos-db-node-7a398b2c-0-1`? Was this the first node you started downgrading?

[2020-06-24 10:37] nyh opened #6707 "Post-repair view updates keep too many sstable readers open"
This is a spinoff from issue #6603.

During repair, the repair master creates hundreds of small sstables - one per each token range and remote replica - and puts them in a staging directory. It the table has a materialized view, later the code in `db/view/view_update_generator.cc` reads all these sstables together to generate view updates for this new data. It reads these sstables together using `

[2020-06-24 10:44] tzach opened #6708 "Add API to extract all config values, including description, default and current value"
Getting the config parameter is useful for:
- Documenting (and generating) of config parameters
- Capturing the system status in production and testing

At least three alternatives (not exclusive)
- Virtual table
- REST API
- CLI commands, e.g. `scylla --config`

[2020-06-24 11:17] nyh commented on #6513
backported to next-4.1 (dfa464c35b9f403a3ba1e9b6f9baa6c0ce776ee2) and next-4.0 (e95bcd0f8f2f8f99875a66e320dfa56163e4430e)

[2020-06-24 13:10] denesb commented on #6613
After some further investigation I managed to narrow the problem down, but haven't managed to pinpoint the faulty code yet.

[code]
This is the non-first page of a multi-page scan. It is not known whether the reader was successfully looked up on the start of the page or not. No reader or querier was evicted due to resource shortage yet.
In different parts of the reader stacks there are 3 different

[2020-06-24 13:12] bhalevy opened #6709 "test_parallel_operations_create_list_clear_for_all_ks: Assertion `_u.st == state::future' failed."
I'm not sure if the bug is in scylla or in seastar.

Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/531/testReport/snapshot_test/TestParallelSnapshotOperations/test_parallel_operations_create_list_clear_for_all_ks/
[code]

Scylla version 9033fa82d7c968417c5bce208fdabade8e948207
Core dump: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-rel

[2020-06-24 13:12] bhalevy commented on #6709
@espindola can you please do the initial core dump analysis?

[2020-06-24 15:23] #6695 closed

[2020-06-24 15:23] #6272 closed

[2020-06-24 16:00] bhalevy commented on #6603
Cc @raphaelsc

[2020-06-24 16:53] espindola commented on #6709
taking a look now

[2020-06-24 17:38] espindola commented on #6709
Looks like we try to call 'then' on http's _accepts_done twice. The problem is probably in the recursion:

        _accepts_done = _accepts_done.then([this, which] {
            return do_accepts(which);
        });

if _accepts_done is ready, we call do_accept before then returns.

I will try writing a test to reproduce that and change the code to use one of our loop helpers.

[2020-06-24 19:57] ShlomiBalalis commented on #6601
Are they still necessary? Can I terminate them?

[2020-06-24 21:10] raphaelsc commented on #5226
For off-strategy on compaction strategy change, I realized it will be very important for the old sstable set still use the previous sstable_set_impl, like in STCS->LCS, or vice-versa, until the off strategy has completed. Otherwise, read performance during transition will be terribly bad.

[2020-06-24 23:20] roydahan commented on #6601
terminate

[2020-06-24 23:26] espindola commented on #6709
Patch sent:
httpd: Avoid calling future::then twice on the same future

[2020-06-25 03:22] syuu1228 opened #6711 "scylla_setup: on RAID disk prompt, typing same disk twice cause traceback"
I mistakenly input same disk name twice then it causes traceback:

[code]

[2020-06-25 05:35] AnshumanTripathi commented on #6690
Actually running docker-compose with version "3.3", does not bubble up this error.

[2020-06-25 06:12] tzach opened #6712 "Change internode_compression default to 'dc'"
Traffic between DC is much more expensive and less sensitive to latency.
It make sense to enable it by default.

[code]

[2020-06-25 06:29] denesb commented on #2644
With the current infrastructure it would be reasonably easy to fix this in a general way. We now have one `reader_permit` instance per read, propagated to all readers that might create sstable subreaders. Although it doesn't currently, we can easily have this permit know about all resources accounted to the read. If there is already a count on the permit, the restricted reader would skip the wait

[2020-06-25 06:38] denesb commented on #6603
Note that this still doesn't solve the starving of repair readers. View generation can create readers during normal writes as well, that can run parallel to repair, yet these readers will still snatch the semaphore's resources from repair. It is a good question whether it would be acceptable to have such view update generation be queued up behind repair? The fact of the matter is that view update

[2020-06-25 06:43] denesb commented on #6707
I think the decision on whether this optimization can be used or not should happen above `make_range_sstable_reader()`, in the layer which actually knows this. There is really no way to find out whether you can use this optimization or not reliably. The way this optimization works is that you arrange your sstables in a special `partitioned_sstable_set`. The thing is you can create this set from an

[2020-06-25 06:46] denesb commented on #4693
https://github.com/scylladb/scylla/commit/a9c7a1a86c426a235f20d8a742cfdeba56930672 should solve this for good on the repair level. I think we should close this as there is no good general anti-deadlock solution, we should solve them case-by-case.
If you disagree please reopen.

[2020-06-25 06:46] #4693 closed

[2020-06-25 07:14] tzach commented on #6452
@nyh for new install, user need to provide a value.
What is the status for upgrade from 4.0? will current Alternator deployment stop working till the value is provided?
Can it be added to scylla.yaml? if so, please provide an example