[2017-03-31 09:42] tgrabiec commented on #2098
@ibalashov Do you have a core dump for the initial error? What's the new error?

[2017-03-31 15:58] ibalashov commented on #2098
Unfortunately, no.

[code]

The error was something about commit log files missing, aborting.

Anyway, after `nodetool removenode foo ; nodetool removenode force` the clients are back to working state at least (at the expense of one lost node, but I can wipe it up and re-add to cluster I guess).

[2017-03-31 16:56] tgrabiec commented on #2098
@ibalashov It would be good to know why coredumps are not generated, they may be critical to solving some problems. Is there anything in system logs which gives a hint why it was not generated? Maybe not enough disk space?

[2017-03-31 17:22] ibalashov commented on #2098
@tgrabiec Here is what I see in syslog:

Mar 31 11:41:52 scylla-gce-us-2 systemd[1]: Started Process Core Dump (PID 18731/UID 0).
Mar 31 11:41:52 scylla-gce-us-2 systemd-coredump[18732]: Coredump file descriptor missing.
Mar 31 11:41:52 scylla-gce-us-2 systemd[1]: scylla-server.service: Failed with result 'core-dump'.

Here are some more system info, jic:
https://gist.github.com/ibalashov/62ac8c41

[2017-04-01 00:28] amoskong opened #2244 "longevity-gce: Segmentation fault occurs after breaking another node"
*Installation details*
Scylla version (or git commit hash): 1.7.rc2-0.20170328.9b26a57
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.3.1611

- [Jenkins Job](http://jenkins.cloudius-systems.com/job/scylla-1.7-longevity-gce/label=gce/45/)
- segfault node: **35.185.77.230 / 10.240.0.30** （nodes were removed by job)
- coredump: [s3 link 2.6G](https://s3.amazonaws.com/scylladb-users-upload/

[2017-04-01 02:16] kongove commented on #2244
- database log:  [segfault-node-database-log.txt](https://github.com/scylladb/scylla/files/887280/segfault-node-database-log.txt)

- CoreDump Info

[code]

[2017-04-01 02:44] kongove commented on #2244
* More detail
1. start CorruptThenRepair test on target node (10.240.0.31), try to break scylla data by below script

[code]
2. kill `scylla` process of 10.240.0.31, scylla server will try to restart itself
3. segfault occurred on another node 10.240.0.30
4. target node raised many timeout errors
`warning|  [shard 0] gossip - Fail to send EchoMessage to 10.240.0.30:0: rpc::timeout_error (rpc call

[2017-04-01 04:28] kongove commented on #2244
Grafana snapshot around the problem occurred

![grafana snapshot-around segfault](https://cloud.githubusercontent.com/assets/309708/24575370/a2dedec4-16d6-11e7-96b3-28c216411344.png)

[2017-04-01 18:03] amnonh opened #2245 "storage_service api should support metrics load"
The load attribute can be called from two APIs storage_service/load and storage_service/metric/load.
That follows C* jmx API.

currently only storage_service/load is implemented, there's no reason why not to support both.

[2017-04-02 06:47] slivne commented on #2244
Gleb can you analyze this when you get in this morning

בתאריך 1 באפר' 2017 03:29,‏ "Amos Kong" <notifications@github.com> כתב:

[2017-04-02 06:54] gleb-cloudius commented on #2244
On Sat, Apr 01, 2017 at 11:47:40PM -0700, Shlomi Livne wrote:

OK. Looks like a file descriptor that is not closed properly, but from
the trace it is hard to say which one. Will looks into core.

--
			Gleb.

[2017-04-02 07:41] #2193 closed

[2017-04-02 08:28] #2236 closed

[2017-04-02 10:09] #2155 closed

[2017-04-02 10:10] slivne commented on #2149
@kongove ping

[2017-04-02 10:19] #1683 closed

[2017-04-02 10:24] slivne commented on #2245
@amnonh not clear why do we need 2 apis for the same thing - can you elaborate - in general there should be a single api unless there is a difference between the two.

does Cassandra have two different api's ?

[2017-04-02 10:35] gleb-cloudius commented on #2239
Are you using DPDK?

[2017-04-02 10:37] slivne opened #2246 "support 'stop' mode only for commiltlog / disk failure"
two configurations are available commit_failure_policy , disk_failure_policy, we should disable these and use hardcoded value for 'stop'.

related issues #2231 #2232

[2017-04-02 10:39] slivne commented on #2232
@abvgedeika once #2246 is closed lets not run these tests.

[2017-04-02 10:39] #2232 closed

[2017-04-02 10:39] slivne commented on #2231
@abvgedeika once #2246 is closed lets not run these tests.

[2017-04-02 10:39] #2231 closed

[2017-04-02 10:41] slivne commented on #2229
this is not a scylla bug - it happens sometimes on gce.

[2017-04-02 10:49] gleb-cloudius commented on #2229
What happens sometimes on gce?

[2017-04-02 10:50] slivne commented on #2178
@ban4785 can you please provide the additional information

[2017-04-02 10:52] slivne commented on #2177
@tzach - please check its an enhancement request

[2017-04-02 12:05] kongove commented on #2244
FYI, The test job continue running after the segfault, the target instance and segfault instance were already destroyed. We can't login the machines to debug. So I kill the job and cleanup all gce instances.

[2017-04-02 12:20] tzach commented on #2177
Added to Cassandra 3.6
https://issues.apache.org/jira/browse/CASSANDRA-10406

[2017-04-02 13:08] amnonh commented on #2245
We have two APIs because cassandra has two.
You can see the patch I've sent for it, there are two options, one, remove one of the APIs and change the JMX accordingly, or add an implementation.

Add an implementation is simple, we can add a patch in the JMX to use a single API for both options and then remove the unused one, but we should do it in that order.

[2017-04-02 14:03] tzach commented on #2160
To summarize:
Scylla failed to read file with the wrong permission, and as a result executed the generic disk error policy of stopping the node.  This is the correct policy - as long as it provides clear logging to the users about what happened.
@slivne @nyh @tgrabiec do you agree?

[2017-04-02 14:05] tzach commented on #2140
@infordb if you got the answer to your question - can we close this ticket?
If not, please let us know

[2017-04-02 14:05] tzach commented on #2135
@glommer can you please advise?

[2017-04-02 14:43] kongove commented on #2149
update - Apr 2: I still didn't reproduce the issue with single drainer test
I will do more time stress test before drain one node.

[2017-04-02 15:24] gleb-cloudius commented on #2244
The crash happened because RPC receiver side tries to use a socket that
was closed by sender side. The code actually tries to handle this case:
sender's side sets _error when it closes a socket and a receiver does not
read from the socket if the _error is set. But for that to work there
should be no defer point between _error check and reading from the
socket and on the first glance there is none

[2017-04-02 23:33] infordb commented on #2226
@slivne you are right , but, I think that  scylla should not go down with this minor problem

[2017-04-02 23:50] kongove commented on #2149
Another simple scenario to reproduce the error:
keep running c-stress in background, and repeatedly to execute Drainer nemesis (choose one non-seed node to drain, restart if it's fail to drain)

Result:
The rpc::timeout_error occurred after c-s run 6 hours.

----

I'm testing with another scenario, will update the result later.
1. keep running c-stress in background
2. wait 7 hours
3. start to rep

[2017-04-03 05:55] tzach commented on #2226
@infordb not been able to access SSTable is not a minor issue. I agree we can do better in some cases, but IMHO this is not one of them. I'm closing this issue for now, and we should open a new enhancement request for more granular IO error handling.

[2017-04-03 05:55] #2226 closed

[2017-04-03 05:58] slivne commented on #2226
scylladb/scylla-tools-java#26

[2017-04-03 08:20] tgrabiec commented on #2244
Note that @elcallio made some progress recently towards scylladb/seastar#232 in scylladb/seastar@2494d4c

[2017-04-03 09:01] penberg commented on #2242
Fixed by b8e4113dba0d04756d142de7e8d94bf8921b69c9, which contains Seastar commit https://github.com/scylladb/seastar/commit/d468ea5c627aa210b41cec522b3bc12c7cc0c3d2

[2017-04-03 09:01] #2242 closed

[2017-04-03 10:22] roydahan commented on #1694
reassigned to @abvgedeika

[2017-04-03 10:49] tzach opened #2247 "ORDER BY should allow skipping equality-restricted clustering columns"
Scylla required all clustering keys to be part of the ordering, even if they are already fixed by WHERE

Reproduce:
[code]
Since b is restricted by an equality restriction, it does not have to be in the ORDER BY clause.

Cassandra correlating ticket: https://issues.apache.org/jira/browse/CASSANDRA-10271

[2017-04-03 11:05] tgrabiec commented on #2160
@tzach It seems better to only fail the refresh command rather than stopping the whole node.

[2017-04-03 11:08] tzach commented on #2160
@tgrabiec make sense
Scylla should propagate the error back to the `nodetool refresh` operation and print the error to the terminal (in addition to the log)

[2017-04-03 13:15] benoit-canet opened #2248 "perf_sstable alerting of stalled task in a loop"
*Installation details*
Scylla version (or git commit hash):58e628eb3d7a0011bd4baa554a985d22c500b748
Cluster size:1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Fedora 25

Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets= cores= hyperthreading= memory= 8 HT core i7
Disks: (SSD/HDD, count) SSD

root@localhost scylla]# ./build/release/tests/perf/perf_sstable
Reactor stalled for 2002

[2017-04-03 13:19] gleb-cloudius commented on #2248
It is not crashing. There is a continuation that entered endless loop
and stall detector points you to where it is.

--
			Gleb.

[2017-04-03 13:31] benoit-canet commented on #2248
Ok I'll try in debug mode to get the symbols. But it do look broken right ?

[2017-04-03 13:33] gleb-cloudius commented on #2248
On Mon, Apr 03, 2017 at 06:31:15AM -0700, Benoît Canet wrote:

Right, but hanging, not crashing. You do not need debug build. Run
"addr2line -iCpf -e scylla" on those symbols.

--
			Gleb.

[2017-04-03 13:58] benoit-canet commented on #2248
I got:

std::tuple<int, std::function<void ()> >::tuple(std::tuple<int, std::function<void ()> >&&) à /usr/include/c++/6.3.1/tuple:942
reactor::signals::handle_signal_once(int, std::function<void ()>&&)::{lambda()#1}::function({lambda()#1}&&) à /work/scylla/seastar/core/reactor.cc:201
reactor::task_quota_timer_thread_fn() à /work/scylla/seastar/core/reactor.cc:469
?? ??:0
void future<>::schedule<a

[2017-04-03 14:00] benoit-canet commented on #2248
I will bissect it for glauber.

[2017-04-03 14:17] glommer commented on #2135
Hello

On Mon, Mar 6, 2017 at 1:35 AM, Junghyun Park <notifications@github.com>
wrote:

The default value is the same number of shards. It is not set unless iotune
sees the need to reduce that value.

That sounds to me like a permission issue. Did you run iotune as root?
It will write the file to /etc/, so you have to.

You don't need to run it again: go to /etc/scylla.d/io.conf and add:
"--max-io

[2017-04-03 15:27] glommer commented on #2160
On Mon, Mar 13, 2017 at 6:17 AM, Tomasz Grabiec <notifications@github.com>
wrote:

Yes, that would be the sane way in my view.

[2017-04-03 15:29] glommer commented on #2160
On Mon, Mar 13, 2017 at 7:27 AM, Shlomi Livne <notifications@github.com>
wrote:

Isn't that equivalent to a lost mutation ?

That makes sense.

[2017-04-03 19:14] raphaelsc commented on #2160
On Mon, Mar 13, 2017 at 7:17 AM, Tomasz Grabiec <notifications@github.com>
wrote:

We do that if user does refresh for files in cf's upload dir. We probably
need to do it too when reshuffling sstables in cf's root dir.

[2017-04-03 19:25] raphaelsc commented on #2160
On Mon, Mar 13, 2017 at 8:48 AM, nyh <notifications@github.com> wrote:

I think the problem happens when reshuffling column family directory, which
does linking and unlinking (lack of permission here results in shutdown) of
files. We also need to make the operation is transactional to make sure
files aren't left in an inconsistent state, when reshuffling. As with
upload dir, we need to make sure a

[2017-04-04 02:32] infordb opened #2249 "nodetool compact"
version : scylla-server-1.6.1-20170218.2ea4da2.el7.centos.x86_64

we set follow
    default_time_to_live = 3600
    gc_grace_seconds = 0
    size tiered compaction

After all the data had expired I ran nodetool compact
I expected all data will be removed.
But, By compaction, scylladb created one new sstable for each core
It's odd why all the files were not removed.
If I queryed the data with cql,

[2017-04-04 06:56] abvgedeika opened #2250 "unable to restart node after kill it: Exiting on unhandled exception: std::invalid_argument (Not a scylla format commitlog file)"
*Installation details*
Scylla version (or git commit hash): https://github.com/scylladb/scylla/commit/27c42359bc72f5fbc9b6f43b817d78748a85d1b5
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

found in test_commitlog_replay_on_startup
https://github.com/scylladb/scylla-dtest/blob/master/commitlog_test.py#L147

the simplest code to reproduce:
[code]

we unable to restart it with error:
INFO

[2017-04-04 11:38] slivne commented on #2250
@elcallio could this be related to b12b65db92f49a76ea9b40d9910354458492448c I think it was merged after the commit @abvgedeika is referring to

[2017-04-04 11:40] elcallio commented on #2250
Yes. It is most likely that issue.

On 2017-04-04 11:38, Shlomi Livne wrote:

[2017-04-04 11:48] roydahan commented on #2167
Range latency still missing:
proxy histograms
Percentile      Read Latency     Write Latency     Range Latency
                    (micros)          (micros)          (micros)
50%                 27228.50             36.00              0.00
75%                 28079.75             42.00              0.00
95%                 35144.25             72.00              0.00
98%                 40214.00

[2017-04-04 11:53] slivne commented on #2250
@abvgedeika is this test a new test or something we have been running for a
while - we can try and check on jenkins master-dtest if it passed after the
fix was applied.

If we haven't run it till now / its a new test - we need to check a later
commit (not sure head is stable).

On Tue, Apr 4, 2017 at 2:40 PM, Calle Wilund <notifications@github.com>
wrote:

[2017-04-04 11:58] slivne commented on #2167
@gleb-cloudius @amnonh - I checked with Larisa and the queries she runs for
ranges at least in cassandra change the range latency returned by
proxyhistograms - we also saw that the same queries in scylla cause a
change in the read latency - we may have an api bug or a scylla measuring
bug.

On Tue, Apr 4, 2017 at 2:48 PM, Roy Dahan <notifications@github.com> wrote:

[2017-04-04 12:12] gleb-cloudius commented on #2167
On Tue, Apr 04, 2017 at 04:58:47AM -0700, Shlomi Livne wrote:

Yes, something like this should fix it (not even compile tested):

diff --git a/service/storage_proxy.cc b/service/storage_proxy.cc
index deca008..bab6347 100644
--- a/service/storage_proxy.cc
+++ b/service/storage_proxy.cc
@@ -3097,7 +3097,10 @@ storage_proxy::do_query(schema_ptr s,
     }

     return query_partition_key_range(cmd, s

[2017-04-04 12:35] #2230 closed

[2017-04-04 12:47] gleb-cloudius commented on #2244
On Mon, Apr 03, 2017 at 01:20:49AM -0700, Tomasz Grabiec wrote:

What is missing for scylladb/seastar#232 after this commit. As far as I
can tell this commit should fix the crash we are seeing here.

BTW the commit changed semantics in a way that may cause the code that
worked previously to no longer work. Before the change closing sink
caused source to get an error, after the change this is no lo

[2017-04-04 13:44] #2233 closed

[2017-04-04 13:46] #2246 closed

[2017-04-04 13:52] slivne commented on #2249
not clear when did you run compaction - after 3600 seconds of the last write ?

[2017-04-04 14:33] abvgedeika opened #2251 "marshaling error: unable to parse date '1399-02-03 04:05+0000'"
Installation details
Scylla version (or git commit hash): 27c4235
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

still reproduced https://github.com/scylladb/scylla/issues/521

[code]

 File "/home/andrei/scylladb_fork/scylla-dtest/limits_test.py", line 385, in test_limit_date_value_out_of_range_lower_limit
    "values (%s, '%s', '%s-02-03 04:05+0000', %s);" % (i, i, 2000-i, i*1.0))
  Fi

[2017-04-04 15:28] raphaelsc commented on #2249
On Mon, Apr 3, 2017 at 11:32 PM, Junghyun Park <notifications@github.com>
wrote:

and I retried to run nodetool compact

were you able to query data again here?

could you please upload the full log?

which scylla version are you running?

what are the scylla settings? did you change smp count at some point?

[2017-04-04 17:26] tgrabiec opened #2252 "Compact memtables and cache during reads"
Currently compaction is done on the fragment stream, memtables and cache are not modified by reads. This can pose a performance problem, because the same data may be compacted over and over again.

Consider a partition with a tombstone covering many rows. Readers will still scan through all those rows, each time. We could teach readers how to compact and let them erase such rows so that next reads

[2017-04-04 17:28] tgrabiec commented on #652
The deferral of compaction comes from the current trade-off of preferring fast writes over reads and memory conservation (typical for log-structured merge tree). The cost of compaction is deferred to reads and async compaction process. This applies to both memtables and sstables. Although for memtables the overhead of doing compaction is not as big as for on-disk storage, it still exists. When app

[2017-04-04 18:28] duarten commented on #652
A compromise would be to compact at the row level for deletable_row::apply_reversibly(), deletable_row::apply() and clustering_row::apply() (considering only what's in memory).

[2017-04-05 01:11] infordb commented on #2249
@raphaelsc @slivne
1. After all the data had expired I ran nodetool compact -> this mean  after 3600 seconds I ran compact

2. schema
CREATE TABLE xxxxxxxx (
    part_key text,
    param_index int,
    ts timestamp,
    lt text,
    product frozen<fdc_product_udt>,
    spec frozen<fdc_spec_udt>,
    st text,
    vl text,
    PRIMARY KEY ((part_key, param_index), ts)
) WITH CLUSTERING ORDER BY (ts

[2017-04-05 04:30] ban4785 opened #2253 "remain expired sstables after nodetool compaction"
*Installation details*
Scylla version (or git commit hash): 1.6.1
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.2
relate issue : https://github.com/scylladb/scylla/issues/2249

Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets= cores= hyperthreading= memory= smp 8, m 20G
Disks: (SSD/HDD, count) SSD

test schema info
CREATE TABLE foms.data (
    part_key text

[2017-04-05 04:45] fooltux commented on #2239
@gleb-cloudius  yes   I'm using DPDK

[2017-04-05 06:43] ban4785 commented on #2253
one more,
**i commanded truncate table and found expired sstables remain linux table directory.**
only new sstables were moved to snapshot directory.
i guess scylladb can't recognizes sstable so cracked sstable meta system.

1. only 2 sstables moved to snapshot directory.
![truncate2](https://cloud.githubusercontent.com/assets/20348151/24692914/1f31a3ca-1a16-11e7-812f-123c194e2ebb.png)

2. other s

[2017-04-05 07:03] tomer-sandler opened #2254 "nodetool gossipinfo not working on 2 nodes when both see a 3rd node from the cluster as down"
*Installation details*
Scylla version (or git commit hash): 1.6.2
Cluster size: 3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): RHEL7.3

**Problem is on nodes 10.240.0.27/28 -> both see node 10.240.0.26 as down (which is indeed it's status:**
[tomer@tomer-4cpu-15gb-rhel7-2 ~]$ nodetool status
Datacenter: datacenter1
=======================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address

[2017-04-05 07:49] avikivity commented on #2239
Do you have hugepage reservation on your kernel command line?

Rebooting the node may help.

@syuu1228 vfio support will eliminate the need for hugetlbfs

[2017-04-05 07:51] kongove commented on #2149
Update: I didn't reproduce with above steps.

[code]

[2017-04-05 07:54] asias commented on #2254
btw, you can paste the output between two triple-`

[code]
 to make the format looks better.

[2017-04-05 09:04] syuu1228 commented on #2239
@avikivity VFIO seems requires to enable VT-d/AMD IOMMU on the machine's firmware, what should seaster/scylla do when IOMMU doesn't enabled and DPDK mode requested?
Is it okay to cause error and refuse working? Or tries to use existing UIO driver mode?

[2017-04-05 09:10] avikivity commented on #2239
@syuu1228 see `VFIO_NOIOMMU_IOMMU` in recent kernels.  dpdk supports it.  I think it's okay to require a new kernel for dpdk, it's better than the complexity of configuring hugepages (we can provide a 4.x kernel for CentOS).

[2017-04-05 09:15] #2235 closed

[2017-04-05 09:24] tgrabiec opened #2255 "Using "contains" CQL restriction on partition key column doesn't generate an error"
CONTAINS can only be used with collection-typed columns:
    http://docs.datastax.com/en/cql/3.1/cql/cql_reference/select_r.html#reference_ds_d35_v2q_xj__refSelSSQryColl

[code]

[2017-04-05 14:17] benoit-canet commented on #2248
It's between:

commit f2e4629254e56621f0fd0040d33b8401a39d0487
Author: Vlad Zolotarov <vladz@scylladb.com>
Date:   Tue Feb 14 09:48:23 2017 -0500

    main.cc: expose scylla version as a gauge metrics

    Add a new metric that exposes the current ScyllaDB version as a
    gauge metrics.
:

andcommit 113ed9e96301ade45cc55ca0f4bad2c7105dd52a
Author: Avi Kivity <avi@scylladb.com>
Date:   Thu Feb 16

[2017-04-05 15:10] slivne opened #2256 "gossip is stuck (scylla_gossip_heart_beat is not updated)"
*Installation details*
OS (RHEL/CentOS/Ubuntu/AWS AMI): i3.16x
AMI : scylladb-private-glauber-scylla_2017-04-03T17-57-05Z (ami-0a77e16a)

A cluster of 3 nodes

After some time of running load - one of the nodes was disconnected from the cluster

nodetool status on the 2 remaining nodes shows

[code]

nodetool status on the failed node shows the node still UN

checking scylla_goosip_heart_beat -via

[2017-04-05 15:14] #2245 closed

[2017-04-05 15:44] tgrabiec commented on #2248
@benoit-canet In general seeing stalls is not fine, we should first understand if it is fine here, it could be not. The backtrace you pasted doesn't make much sense. Did you run addr2line on the same binary you were executing? I can see `scylla/main.cc` in the backtrace, maybe you mistakenly used `scylla` binary instead of `perf_sstable`?

[2017-04-05 15:53] nokernel opened #2257 "Ambigous configuration option set under "Not currently supported, reserved for future use" but is in use"
*Installation details*
Scylla version (or git commit hash): 1.7-RC2
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

In /etc/scylla.yaml

The setting murmur3_partitioner_ignore_msb_bits: is placed under the "Not currently supported, reserved for future use", but from what I can see this settings works and need to be set to 0 when upgrading from 1.6 to 1.7...

Please move this setting under

[2017-04-05 15:57] benoit-canet commented on #2248
Oh yes :(

I will run it again thanks.

2017-04-05 17:44 GMT+02:00 Tomasz Grabiec <notifications@github.com>:

[2017-04-05 17:25] tzach opened #2258 "Missing metrics in scylla-dash-io-per-server dashboard"
*Installation details*
Scylla version (or git commit hash): 1.6.3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI

When looking at https://github.com/scylladb/scylla-grafana-monitoring dashboard [scylla-dash-io-per-server.1.6](https://github.com/scylladb/scylla-grafana-monitoring/blob/master/grafana/scylla-dash-io-per-server.1.6.json)
The bottom 6 dashboards have no data:
* scylla_io_queue_total_operations_s

[2017-04-05 17:39] tzach opened #2259 "Release process: create AMI in more regions"
Users are looking for Scylla in other regions than the default [3 US regions we use](http://www.scylladb.com/download/#EC2)
Starting with `eu-central-1`.

Need more regions? use the comments to let us know!

[2017-04-05 18:35] tzach commented on #2258
@amnonh can you please take a look?

[2017-04-05 18:49] amnonh commented on #2258
please assigned to me

[2017-04-05 18:52] amnonh commented on #2258
BTW for streaming, you only see data when there are streaming in progress

[2017-04-06 03:49] asias commented on #2256
How did you generate the core?

[code]

[2017-04-06 03:55] asias commented on #2256
[code]

[2017-04-06 03:58] asias commented on #2256
I saw this in dmesg. We have a vfs_read kernel error.

[code]

[2017-04-06 04:30] fooltux commented on #2239
@avikivity  I'm using centos 7.2 and the kernel version is 3.10.0-327.el7.x86_64

[2017-04-06 04:40] infordb commented on #2249
@slivne @raphaelsc

1. create table
CREATE TABLE test.users (
    user_id bigint PRIMARY KEY,
    country text,
    name text
) WITH bloom_filter_fp_chance = 0.01
    AND caching = '{"keys":"ALL","rows_per_partition":"ALL"}'
    AND comment = ''
    AND compaction = {'min_threshold': '4', 'class': 'SizeTieredCompactionStrategy'}
    AND compression = {'sstable_compression': 'org.apache.cassandra.i

[2017-04-06 05:55] ban4785 opened #2260 "DateTiredCompaction for remove expired SSTable shows loop compaction"
*Installation details*
Scylla version (or git commit hash): 1.6.1
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets= cores= hyperthreading= memory= smp 8 m 20G
Disks: (SSD/HDD, count) SSD

i inserted data(about 70G size, time series data, non update&delete) using **TTL 3600 with DateTiredCompaction,**
one day afte

[2017-04-06 05:56] ban4785 commented on #2260
https://github.com/scylladb/scylla/issues/2253

[2017-04-06 06:38] benoit-canet commented on #2248
The trace is:

Backtrace:
  0x00000000006d3618
  0x000000000041e38a
  0x0000000000422e46
  0x00007f3fad5e25bf
  0x000000000121359b
  0x00000000011ec78a
  0x00000000011c0698
  0x00000000011a0f4d
  0x00000000011a10a1
  0x00000000011a2c27
  0x000000000111c1d6
  0x0000000001124a83
  0x0000000001153c5d
  0x0000000001141e68
  0x0000000001137460
  0x0000000001124bdf
  0x0000000001143309
  0x0000000001144

[2017-04-06 06:39] asias commented on #2256
@slivne there is no such core dump you mentioned on host 172-31-45-122

[centos@ip-172-31-45-122 ~]$ ls -l /var/lib/systemd/coredump/core.scylla.994.8a126e440235439f95ea7e942ee060f2.14451.1491404113000000
ls: cannot access /var/lib/systemd/coredump/core.scylla.994.8a126e440235439f95ea7e942ee060f2.14451.1491404113000000: No such file or directory

[2017-04-06 06:44] infordb commented on #2178
@tgrabiec @slivne

We found table with read
It is system_auth.users

We use  authenticator/authorizer and default replication factor of 1 for the system_auth keyspace
so,  replica read occurred on only node 1 which manaages users table

The odd thing is, I do not know why scylla check the users table for each cql

==> we use cassandra user as superuser so, read didn't occur on permission table
cfs

[2017-04-06 06:59] avikivity commented on #2256
I also saw "dazed and confused" NMI traces when running perf.  Looks like the amazon kernel and hypervisor are not quite perfected yet.

[2017-04-06 06:59] avikivity commented on #2256
@asias maybe it got compressed?

[2017-04-06 07:02] gleb-cloudius commented on #2248
On Wed, Apr 05, 2017 at 11:38:36PM -0700, Benoît Canet wrote:

You can put all addresses on on command line, or, alternatively, run
addr2line without providing any addresses and insert backtrace output to
stdin.

--
			Gleb.

[2017-04-06 07:02] asias commented on #2256
No.

[code]

Also coredumpctl info does not list the coredump file path like

 Coredump: /var/lib/systemd/coredump/core.vim.1000.8a126e440235439f95ea7e942ee060f2.53229.1491460197000000

[code]

[2017-04-06 07:12] tzach commented on #2258
Make sense, maybe its not a bug at all
I will retest

[2017-04-06 07:17] benoit-canet commented on #2248
@gleb-cloudius thanks. It's give more or less the same result.

[root@localhost scylla]# cat t|addr2line -iCpf -e ./build/debug/tests/perf/perf_sstable
?? ??:0
boost::system::system_error::system_error(boost::system::system_error const&) à ??:?
?? ??:0
?? ??:0
?? ??:0
std::vector<std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >, std::allocator<std::__cxx11::basic_str

[2017-04-06 07:18] benoit-canet commented on #2248
I will try to see where it is with gdb.

[2017-04-06 07:31] benoit-canet commented on #2248
ah I found the --tests-debuginfo param

[2017-04-06 07:39] tzach commented on #2258
OK, charts are active when there is streaming.
There is another general problem:  once streaming stops, the graphs continue to show the last value for 5 min.

[2017-04-06 07:39] #2258 closed

[2017-04-06 07:44] benoit-canet commented on #2248
With --test-debuginfo addr2line gives:

[root@localhost scylla]# cat r|addr2line -iCpf -e ./build/debug/tests/perf/perf_sstable
backtrace_buffer::append_backtrace() à /work/scylla/seastar/core/reactor.cc:271
print_with_backtrace(backtrace_buffer&) à /work/scylla/seastar/core/reactor.cc:282
reactor::block_notifier(int) à /work/scylla/seastar/core/reactor.cc:498
?? ??:0
__gnu_cxx::new_allocator<std:

[2017-04-06 07:55] benoit-canet commented on #2248
So it's    void fill_memtable() {$
        for (unsigned i = 0; i < _cfg.partitions; i++) {$
            auto key = partition_key::from_deeply_exploded(*s, { random_key() });$
            auto mut = mutation(key, s);$
            for (auto& cdef: s->regular_columns()) {$
                mut.set_clustered_cell(clustering_key::make_empty(), cdef, atomic_cell::make_live(0, utf8_type->decompose(random

[2017-04-06 07:59] gleb-cloudius commented on #2248
On Thu, Apr 06, 2017 at 12:55:25AM -0700, Benoît Canet wrote:

You have later(), or you can run it in a thread and yield.

--
			Gleb.

[2017-04-06 08:07] benoit-canet commented on #2248
Thanks.

2017-04-06 9:59 GMT+02:00 Gleb Natapov <notifications@github.com>:

[2017-04-06 08:14] tgrabiec commented on #2248
2017-04-06 8:38 GMT+02:00 Benoît Canet <notifications@github.com>:

What does "file /build/debug/tests/perf/perf_sstable" say? It is probably
stripped. addr2line gives you the nearest symbol with smaller address,
likely incorrect.

You need to build and run a binary with debug symbols (with the "_g"
suffix):

ninja /build/debug/tests/perf/perf_sstable_g

[2017-04-06 08:19] benoit-canet commented on #2248
@tgrabiec I had to make a build with --test-debuginfo passed to configure in order to get a not stripped binary. I documented this here : https://github.com/scylladb/scylla/wiki/addr2line

[2017-04-06 08:38] tgrabiec commented on #2248
2017-04-06 10:19 GMT+02:00 Benoît Canet <notifications@github.com>:

I documented this here : https://github.com/scylladb/scylla/wiki/addr2line

We already have a page on how to resolve backtrace:

https://github.com/scylladb/scylla/wiki/How-to-resolve-backtrace

[2017-04-06 08:42] benoit-canet commented on #2248
ok I added a mention to  --test-debuginfo in it and remove my extra page.

Thanks.

[2017-04-06 09:07] tgrabiec opened #2261 ""nodetool compact" fails with exception"
With current master.

scylla-jmx: scylladb/scylla-jmx@0c541d73e7d7a70797b0a3f31c9c3bc69c9b4587
scylla-tools-java: scylladb/scylla-tools-java@93ffc67554cf499ce1b1dce3c80e6d47178855f1

[code]

[2017-04-06 09:59] #2261 closed

[2017-04-06 10:16] slivne commented on #2149
Amos

I am lost I admit
 - if there is a reproducer - can you repost it and make it clear that you
have been able to reproduce using it more then once.
- if there is no reproducer and you are still hitting this I guess we will
needsomehow to allow pawel access to a system that hits this and allow him
to chekc if he can find additional info.

On Wed, Apr 5, 2017 at 10:51 AM, Amos Kong <notification

[2017-04-06 10:18] benoit-canet commented on #2248
Tested with a raw patch that transforming this function in a yielding thread solved the issue.

Will iterate to write something more tasty and post it.

[2017-04-06 11:26] tgrabiec commented on #2178
\cc @elcallio

One problem is that using replication factor of 1 for system_auth is not recommended, if you loose that node, your user will not be able to log into the cluster. So use something bigger than 1, maybe even replicate to all nodes. That should also help with the cost of querying of system_auth, since such queries could be local then.

As for frequent queries of system_auth, there's som

[2017-04-06 12:23] slivne commented on #2244
not regression removing showstopper - upstream should have a fix

[2017-04-06 12:24] slivne commented on #2244
@gleb-cloudius - does that mean that we need to fix anything ?

[2017-04-06 12:26] tgrabiec commented on #2249
I was not able to reproduce the problem by following the steps from the previous comment on a clean database.

After step 3 I get the same:
[code]

But after step 4 all sstables are removed.

@infordb After step 4, do you have any sstables on disk apart from the ones which are the result of `nodetool compact`?

[2017-04-06 12:28] gleb-cloudius commented on #2244
On Thu, Apr 06, 2017 at 05:24:12AM -0700, Shlomi Livne wrote:

May be backport the commit to 1.7. Also now that closing s sink does not
stop corresponding source the code that assumes that should be fixed.

--
			Gleb.

[2017-04-06 12:55] glommer commented on #2248
This was written ages before we had a hung detector, and since it was
initialization only for a test program, I really didn't take any of that in
consideration.

But now we should. a futurized loop checking need_preempt() should be good.

On Thu, Apr 6, 2017 at 6:18 AM, Benoît Canet <notifications@github.com>
wrote:

[2017-04-06 13:28] tgrabiec commented on #2253
@ban4785 Note that `unchecked_tombstone_compaction` is currently ignored, Scylla always acts as if it was `false`. Do you have active reads at the time you run `nodetool compact` ?

[2017-04-06 14:07] avikivity commented on #2256
I think the vfs_read crash explains both the lack of core dump and hang.  vfs_read can kill a reactor (this is probably a syscall thread reading from eventfd) and then both coredump and gossip hang on that.

Need to see if the timelines match.

[2017-04-06 14:09] slivne commented on #2256
there was a coredump ... we also had a sleep coredump that is gone ....

On Thu, Apr 6, 2017 at 5:07 PM, Avi Kivity <notifications@github.com> wrote:

[2017-04-06 14:09] slivne commented on #2256
I am not sure what removed them - but something did  - trying to reproduce
the issue

On Thu, Apr 6, 2017 at 5:09 PM, Shlomi Livne <shlomi@scylladb.com> wrote:

[2017-04-06 14:24] tgrabiec opened #2262 "Reduce impact of permission checks on queries"
We've seen high load on system_auth tables in issue #2178.

There is a permission cache which helps avoiding system_auth queries, which in general are remote queries. The cache expires periodically, every 2 seconds by default. When entries expire, they are removed from the cache. Each concurrent request which finds the entry missing will issue a separate query. We could issue only one, with later

[2017-04-06 14:48] slivne commented on #2262
"Another problem is that refreshing is done in the foreground, it adds
latency to CQL requests. It would be better to do it in the background." So
that once 2 seconds we will reread the info and once we processed it -
replace the cache with an updated one ?

If we do that it will remove the issue of having parallel requests finding
the cache invalid and rereading the info - no ?

On Thu, Apr 6, 20

[2017-04-06 14:50] avikivity commented on #2262
If we have triggers, the cache won't be a cache but a copy of the data
(that perhaps lags a bit).

[2017-04-06 15:17] tgrabiec commented on #2256
@slivne Maybe GDB core dump wiped out earlier core dumps due to space constraints. Did you check the journal?

[2017-04-06 15:20] avikivity commented on #2256
There was basically infinite space there, but maybe coredump.conf had a limit.

[2017-04-06 15:25] slivne commented on #2262
Yet we domt have triggers and dont have them on the plan so tomek's
suggestion todo that in rhe background seems as a good solution till we do

On Apr 6, 2017 5:50 PM, "Avi Kivity" <notifications@github.com> wrote:

If we have triggers, the cache won't be a cache but a copy of the data
(that perhaps lags a bit).

—
You are receiving this because you commented.

Reply to this email directly, view i

[2017-04-06 15:39] tgrabiec commented on #2262
2017-04-06 16:48 GMT+02:00 Shlomi Livne <notifications@github.com>:

Yes

Yes, this solution covers the first one, provided we would pre-populate the
cache and the cache would remain always valid.

[2017-04-06 15:47] tgrabiec commented on #2262
It could be a cache. A trigger could only make sure that information in
cache is in sync, but we still could have eviction policies, or simply not
populate with entries which were not there. They would be populated on
first access.

2017-04-06 16:50 GMT+02:00 Avi Kivity <notifications@github.com>:

[2017-04-06 15:55] kongove commented on #2149
On Thu, Apr 6, 2017 at 6:16 PM, Shlomi Livne <notifications@github.com>
wrote:

There is no reproducer, I will give pawel access to a system that hits the
issue.

[2017-04-06 16:04] avikivity commented on #2262
That's true.  Still, an eviction in a running load could cause tons of requests to serialize on the cache repopulation, which could result in a disk access, and a hiccup for the load.

[2017-04-06 18:05] tgrabiec commented on #2262
I was thinking about size-based eviction policy with an LRU to put a sane cap on cache size, in case permission table gets large, but not all of it is going to be needed at the same time. Maybe that's not going to be a problem in practice, and we could get away with no eviction, I'm not sure.

[2017-04-06 21:40] slivne commented on #2256
tried to reproduce this without luck ..

[2017-04-06 23:29] asias commented on #2256
The gdb and vim dump is very small.

[2017-04-06 23:32] asias commented on #2256
The gdb core dump is probably because I tried /usr/bin/gdb instead of /opt/scylla/bin/gdb, then it crashed with a core dump. vim core dump is triggered with "kill -6" by me for testing.

[2017-04-06 23:35] infordb commented on #2249
@tgrabiec There is only one which are the result of nodetool compact
my scylla version is scylla-server-1.6.1-20170218.2ea4da2.el7.centos.x86_64

[2017-04-06 23:49] ban4785 commented on #2253
@tgrabiec do you mean nodetool cfstats in read count? that was zero.
 Local read count: 0
 Local read latency: NaN ms
and while nodetool compact, there was no read operations.

[2017-04-07 02:55] raphaelsc commented on #2260
@ban4785 I was able to reproduce it. I still need to investigate. @slivne please assign it to me

[2017-04-07 03:14] kongove opened #2263 "artifact-test: IndexError in executing scylla_io_setup"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20170407.f579e4c.el7.centos
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

- [jenkins job ](http://jenkins.cloudius-systems.com:8080/job/scylla-master-centos-rpm-test/label=muninn/147/)
- [Jenkins job log](http://jenkins.cloudius-systems.com:8080/job/scylla-master-centos-rpm-test/label=muninn/147/artifact/late

[2017-04-07 03:39] kongove commented on #2263
If we directly execute `scylla_io_setup` after scylla installation, IndexError will occur.

[code]

We can't assume there exists an effective CPUSET parameter in cpuset.conf.
The scylla_util.py script was just introduced by @glommer

[2017-04-07 04:04] glommer commented on #2263
I sent a patch for this today.

On Apr 6, 2017 11:39 PM, "Amos Kong" <notifications@github.com> wrote:

[2017-04-07 04:58] kongove commented on #2263
I just saw the patch, thanks.
[PATCH] scylla_util: handle empty cpuset.conf files

[2017-04-07 10:31] tgrabiec commented on #2262
There may be a problem of ensuring that nodes don't use stale permissions with the trigger solution. Replication may fail, we don't repair automatically. Maybe we should enforce CL=ALL for permission updates. Maybe that's what we should do regardless of which solution we implement.

[2017-04-07 11:53] ultrabug opened #2264 "Packaging for Gentoo Linux"
Hi,

I am in the process of packaging Scylla for Gentoo Linux and would like to know about your position about supporting and dealing with the packaging of scylla on Linux distributions.

Since I would love to do this right and stay in line with the scylla development and releases, it occurred to me to ask for your guidance and feedback about some points.
- Do you have a strong position in the Lin

[2017-04-07 17:02] kongove opened #2265 "/usr/lib/scylla/scylla_io_setup: Permission denied"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20170407.f579e4c
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04

[Artifact test job](http://jenkins.cloudius-systems.com:8080/job/scylla-master-ubuntu-deb-16.04-test/label=huginn/205/artifact/latest/job.log)

[code]

The execute permission was removed by 2fa698ee95a8a34fa216073577c606518f9e518e
[code]

@gl

[2017-04-07 17:06] slivne commented on #2262
If a node ia.sown cl=all will not work - we nees to be able.to update
authorization even of a mode isndown in my view

On Apr 7, 2017 1:31 PM, "Tomasz Grabiec" <notifications@github.com> wrote:

[2017-04-09 12:37] avikivity commented on #1632
We should do this, since I see workloads struggling with copying `sstable_list`s.  But to do this, we need to make sure we can demote sstables (since there will be fewer levels).

[2017-04-09 12:51] slivne commented on #1632
can you elaborate where are the copies of stable_list coming from - using
leveled readers should not have many sstables - so it should not be coming
from readers - or I hope not

On Sun, Apr 9, 2017 at 3:37 PM, Avi Kivity <notifications@github.com> wrote:

[2017-04-09 12:56] avikivity commented on #1632
Every time we add an sstable we clone the list of all sstables.  Any reader will pick up the list and will hold on to it until the read completes.

[2017-04-09 13:21] slivne commented on #1632
Just to make sure - compaction - could that be the source of all evil - is
it doing all the changes it needs via a single copy applying remove and add
or is it using a helper that in the underneath may be doing insert/remove
for every single sstable -

On Sun, Apr 9, 2017 at 3:56 PM, Avi Kivity <notifications@github.com> wrote:

[2017-04-09 13:54] nyh commented on #1632
Some notes:

1. @slivne, if I understand correctly (but @raphaelsc please correct me if I'm wrong, this code changed a lot), the compaction code builds the new list at once, and doesn't build it many times when we need to remove multiple sstables (in case multiple were merged) or add multiple sstables (in leveled compaction). Check out column_family::rebuild_sstable_list()

2. Making a copy of the

[2017-04-09 15:16] #2167 closed

[2017-04-09 15:23] amnonh opened #2266 "latency metric calculation should be consistent in storage_proxy"
Currently, we are using two type of metrics to monitor latency in the storage_proxy and there is a mix between sampled and non-sampled code.

It should be clean

[2017-04-09 18:07] raphaelsc commented on #2260
This issue happens due to DTCS impl and also external factors. DTCS always look for at least one fully expired sstable to compact.

1) So let's say DTCS finds a sstable containing expired cells only. This sstable is compacted and a new one containing tombstone cells is created.
2) This new sstable with tombstone cells is also considered expired. So it's again compacted.

The loop compaction happen

[2017-04-09 19:44] slivne commented on #2260
1. I am missing something If a table is fully expired and it does not need
to help "cover" any live data in other sstables - why aren't we dropping it
completely, why do we create tombstones. ?

2. Having an sstable full of only tombstones is something not that common
... can't we do an additional check at the end in such a case and see if we
can remove the new created sstable that contains only t

[2017-04-09 19:57] raphaelsc commented on #2260
On Sun, Apr 9, 2017 at 4:44 PM, Shlomi Livne <notifications@github.com>
wrote:

That's exactly my thought. So I sent patch 'compaction: do not write
expired cell as dead cell if it can be purged right away'. The lack of it
means we need two compactions to purge data. One to convert expired sstable
into sstable of tombstones, and another to purge tombstones. Assuming they
don't cover old data.

One

[2017-04-10 00:28] kongove opened #2267 "Seastar unhandled exception (runtime_error (This node was decommissioned and will not rejoin the ring unless override_decommission=true has been set,or all existing data is removed and the node is bootstrapped again))"
*Installation details*
Scylla version (or git commit hash): 1.7.rc2-0.20170328.9b26a57
Cluster size:  6 (one node was down, so only 5 works before drain)
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

*Description*

Seastar unhandled exception (runtime_error) occurred in a node which was drained after job run 4 days + 2 hours

[code]

I will provide more info later.

[2017-04-10 02:30] kongove commented on #2265
Fixed commit ca8ca3b8232915d43a6734c485e26fd2fb68d9f3

[The latest artifact test](http://jenkins.cloudius-systems.com:8080/job/scylla-master-ubuntu-deb-16.04-test/label=huginn/208/artifact/latest/job.log) of 666.development-0.20170409.b4c368a-0ubuntu1 is good. Verified the fix.

[2017-04-10 02:30] #2265 closed

[2017-04-10 02:47] kongove commented on #2263
The problem was found in CentOS, but it's a general issue and exists in Ubuntu.
The latest artifact test of 666.development-0.20170409.b4c368a-0ubuntu1 is good. Verified the fix.

[2017-04-10 02:47] #2263 closed

[2017-04-10 05:37] tzach opened #2268 "Installing Scylla on an off line nodes"
*Installation details*
Scylla version (or git commit hash): 1.7

On some cases, the Scylla cluster deployment does not have external access. In such cases, it will be useful to generate a self-contained, one-file, installation package per distro, which users can download and manually copy and install on each server.

[2017-04-10 05:37] tzach commented on #2268
related https://github.com/scylladb/scylla/issues/2190

[2017-04-10 05:56] slivne commented on #2267
@asias

1. could this be just "bad luck" - e.g. we had a node with IP X that was decomissioned and when we created the new node AWS/GCE provided it ip X and when we tried to add it we got the erorr message.

2. Please note that the new node will not have system tables so the "or all existing data is removed and the node is bootstrapped again" should be true for the new node, so in this case should

[2017-04-10 06:36] ban4785 commented on #2253
i did one more test.
with same schema(SizeTiredCompaction),
1. i inserted data(setting 3,600 TTL, gc_grace_time 0) size was 244G.
2. one day after i commanded

while small data loading(20,000 TPS).
**3. result was 244G -> 114G. almost full expired sstables were removed, but some remain.**
/var/log/messages compaction info shows all full expired sstables were compacting, but some remain.

_below im

[2017-04-10 07:17] kthommandra opened #2269 "posix_net_conf.sh with bonded nic fails with error in 1.6.2"
*Installation details*
Scylla version (or git commit hash): 1.6.2-20170310.d41ba3b
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.2

[code]

The fix seems to be to have the following at line 349

[code]

[2017-04-10 08:03] kongove commented on #2267
@slivne Yes, the new node reused the public and internal ip
 35.190.171.7 | 10.240.0.29

[code]

[2017-04-10 08:15] ban4785 commented on #2253
plus above that case, i tested truncate and restart scylladb.
below is test process.
1. truncate table
2. check remain expired sstables(whether move to snapshot directory)
3. restart ScyllaDB & cfstats table
4. select data in truncate tables

_1. truncate & /var/log/messages log. i found seastar exception logs._
 Apr 10 16:17:11 swfosldb02 scylla: [shard 0] compaction - Compacting [/scylla/data/sy

[2017-04-10 09:14] benoit-canet commented on #2248
@glommer patch on the list

[2017-04-10 09:45] pdziepak commented on #2149
Those RPC do not look very worrying – a node shuts down and the others cannot reach it or don't get any response to requests that were in progress.
It looks like our drain implementation (`storage_service::drain()`) stops RPC server first and only then calls `stop_gossiping()`:
[code]

@asias, wouldn't it be better to call `stop_gossiping()` before shutting down RPC servers?

[2017-04-10 09:57] tzach commented on #2149
@pdziepak according to your (reasonable) explanation, we should have seen this issue before, but we didnt, and it is repeating in 1.7

[2017-04-10 10:25] Petterhg opened #2270 "Multi-host containers fails to connect"
*Installation details*
Scylla version (or git commit hash): latest container
Cluster size: 2
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): docker
Hardware: sockets= cores= 20 hyperthreading= memory= 128 G
Disks: 4 SSD

ISSUE:
I have 3 hosts running on my network (i.e 3 physical com

[2017-04-10 14:10] glommer commented on #2248
thanks

On Mon, Apr 10, 2017 at 5:14 AM, Benoît Canet <notifications@github.com>
wrote:

[2017-04-10 14:24] glommer commented on #2269
@vladzcloudius please take a look at this.

1.6 and 1.7 still use the legacy posix_net_conf.sh, so we'll need a separate fix for those.

[2017-04-10 17:53] raphaelsc commented on #2253
On Mon, Apr 10, 2017 at 3:36 AM, ban4785 <notifications@github.com> wrote:

you can use sstabledump (from scylla-tools-java) on each individual
sstable, but I suppose you want to work with stats that covers all sstables
of a column family.

BTW, I sent a RFC patch to mailing list '[RFC] compaction: do not write
expired cell as dead cell if it can be purged right away' that will
probably solve the

[2017-04-11 00:21] vladzcloudius commented on #2269
@slivne The patches for 1.6 and 1.7 are on the list.

[2017-04-11 07:17] avikivity commented on #2264
What do you mean by "a strong position"?  We support the distributions our users and customers use. We appreciate and welcome support added by distributions to ScyllaDB. I personally favor Fedora, but perhaps that's not what you were asking.

If you have questions, requests, or patches, you're welcome to post them on the development list.  Be aware we require a CLA to be signed to accept patches.

[2017-04-11 07:17] #2264 closed

[2017-04-11 08:43] ultrabug commented on #2264
Thanks for your reply @avikivity.

My question was more about guidance on how to properly package Scylla on a Linux distro and if you guys were okay to help if needed.

I take it you're pointing me to the dev ML for this then.

Thanks for the tip, that's the kind of thing I'm looking for in this issue.

[2017-04-11 09:17] kongove commented on #2267
It's a complex story.

* Summary *
Decommission one node and destroy it, create a new node which got same private & public ip as destroyed node, it failed to install epel, not sure if it related with the same IP or not.

The added ill node caused `another node` was decommissioned but not destroyed, and no new node readded.

Then the `another node` was drain, stop & start. the unhandled error was r

[2017-04-11 09:22] asias commented on #2267
@kongove The node with the "runtime_error (This node was decommissioned and will not rejoin the ring unless override_decommission=true has been set,or all existing data is removed and the node is bootstrapped again)". Did you remove the system table data on that node, before you reuse that node to join the cluster.

If not, the error is expected.

[2017-04-11 10:42] kongove commented on #2267
@slivne any suggestion how to avoid the  "bad luck" situation in  GCE/AWS?

[2017-04-11 13:18] RobinUS2 commented on #577
When is the next stable release expected which contains counters?

[2017-04-11 13:27] Citrullin commented on #577
I think it's not that important. Focus on the main features. It's only a nice to have. In my opinion, it's a better design to count in your streaming application and write it as aggregated data to scylla.

[2017-04-11 13:28] avikivity commented on #577
@RobinUS2 1.7 (released in a few days) will have experimental (but working) support for counters

[2017-04-11 13:32] RobinUS2 commented on #577
@avikivity thanks, that sounds like a reasonable timeframe for us to wait for!

[2017-04-11 13:34] avikivity commented on #577
@RobinUS2 if your fingers are itching, you can try the last release candidate: https://groups.google.com/d/topic/scylladb-users/jQtFnuCikL4/discussion

[2017-04-11 14:25] lukasz-golebiewski commented on #2173
Just got this error during 1.6.3 startup. I was running 1.6.1 when the error started occurring. What can I do to fix it?

[code]

[2017-04-11 14:45] kongove commented on #2267
@asias will `nodetool decommission` or `nodetool drain` remove the system table data?
I didn't directly remove the  system table data.

[2017-04-11 14:51] asias commented on #2267
It will not! We need to rm the files under /var/lib/scylla manually.

On Tue, Apr 11, 2017 at 10:45 PM, Amos Kong <notifications@github.com>
wrote:

--
Asias

[2017-04-11 15:07] kongove commented on #2149
Reproduced the RPC::timeout_error in longevity test, the test stop at that time. I sent an email with detail info.

Mail Subject: About reproduce rpc_timeout issue in drain test

[2017-04-11 22:56] syuu1228 commented on #2227
@eyalgutkind I suppose this is platform dependent issue, could you explain how can we reproduce the issue? Including how to install Scylla on "Joyent".

[2017-04-11 23:23] eyalgutkind commented on #2227
@syuu1228 I can provision a node for your usage on a Joyent system.
If you can provide me on the internal email your public ssh-id key, I can add it to a node I'll create for you.
I'll also provide the procedure used to install scylla

[2017-04-11 23:26] kongove commented on #2267
[code]

The node started successfully after remove original data by above script.
`sudo rm -rf /var/lib/scylla/*` doesn't work for some 'dir not found' error in starting.

[code]

[2017-04-12 00:40] asias opened #2271 "gossip: Fix possible use-after-free of entry in endpoint_state_map"
The following core dump is seen.

[code]

[2017-04-12 00:41] asias commented on #2271
From Gleb:

[code]

[2017-04-12 06:42] AREXP opened #2272 "Select strange behaviour"
*Installation details*
Scylla version (or git commit hash): 1.6.3-20170405.5ab8601
Cluster size: 1
OS : Debian 8.7

Hello, I have such a table:
[code]
Now I'm testing the table and putting there a piece of data(about 1/48 size of real data).
When i try to select some data I get some strange output.
For example, when I do the next query:
[code]
Output is. Show only one hour/hour_ts:
[code]
Output a

[2017-04-12 07:22] abvgedeika opened #2273 "unable to start nodes with authenticator parameters( latest master)"
*Installation details*
Scylla version (or git commit hash): https://github.com/scylladb/scylla/commit/0318dccafd65a9aa10c10c962bb09a7f6425f2f2

OS: ubuntu 16.04

 I get crash for auth tests when I start 2 nodes with authenticator/authorizer
https://github.com/scylladb/scylla-dtest/blob/master/auth_test.py

[code]

at the same time it works fine with 1 node or without auth config
[code]

[code]

[2017-04-12 07:32] Petterhg commented on #2270
# Solution
To have it working on two hosts with load balancing and gossip on the same network you do

## On host 1, with ip 192.168.1.115
`docker run -d -p 9042:9042 -p 9160:9160 -p 9180:9180 -p 9100:9100 -p 7000:7000 --name testnode1_scylla scylladb/scylla --broadcast-rpc-address 192.168.1.115 --broadcast-address 192.168.1.115 --memory 30G --smp 8`

## On host 2, ip 192.168.1.157
`docker run -d -

[2017-04-12 08:31] tgrabiec commented on #2272
@AREXP I was not able to reproduce with my data set. Does the problem persist after you restart the database? Can you upload your sstables to an S3 bucket? Instructions are here: https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-problem#send-the-core-dump

[2017-04-12 09:57] RobinUS2 commented on #644
So we have a similar error:
[code]
which was NOT related to IO, even though the error looks very similar. Which caused us to chase our tails for a bit regarding the aysnc IO and all of that. It turned out to be misconfiguration of the listen_address (was localhost, must have been the internal ip in our case). Writing this here so other people with this vague error might be helped by it.

[2017-04-12 10:07] #2186 closed

[2017-04-12 10:11] slivne commented on #2149
the issue "storage_service - Shutting down communications due to I/O errors until operator intervention" could not be reproduced - if i happens again lets pen a new issue for that.

the issue here is about getting rpc warnings when running drain - this is not a regression - we need to fix it if possible but it should not block 1.7 pushing it out to 1.8

[2017-04-12 10:18] slivne commented on #2267
@kongove - it seems the source of all evil is

and this is an SCT bug not anything else - it led to the chain of events - no ?

If so - please open a bug on SCT and fix it.

With regards to a manner we can force GCE/AWS not to reuse IP's I think our customers may be facing the same thing - e.g. they remove a node and then add a new node and happen to get the same ips - so I think we should not try

[2017-04-12 10:19] slivne commented on #2267
I am closing this issue as it does not seem to be a scylla bug rather a SCT bug - if anyone disagrees we can reopen.

[2017-04-12 10:19] #2267 closed

[2017-04-12 10:57] kongove commented on #2267
On Wed, Apr 12, 2017 at 6:18 PM, Shlomi Livne <notifications@github.com>
wrote:

Yes, yum fail caused the other fails.
It's not a scylla issue, I agree to close the issue.

Our scylla users might touch same issue (yum or net doesn't work in bad
luck case), but it completely unrelates with 'scylla'.
So it's fine to just workaround the issue in SCT. I'm using  `yum retry`,
`avoid reuse ip` to work a

[2017-04-12 11:11] #1694 closed

[2017-04-12 11:21] tzach commented on #2270
@penberg worth adding to the Scylla Docker page

[2017-04-12 11:43] nyh commented on #1839
@slivne answering your question, yes, I think yes, the **live** code is correct:

Currently, the range the user gives with -st/-et is translated into the "ranges" option in our REST API (not the "startToken/endToken" options - that is the dead code and never get used). The repair.cc code which processes the "ranges" option assumes the user-given ranges are *wrapping* ranges, and unwraps them (see

[2017-04-12 11:45] slivne commented on #1839
@nyh thanks

[2017-04-12 12:22] slivne commented on #1980
closing this - we provied the info in the release notes

[2017-04-12 12:22] #1980 closed

[2017-04-12 12:36] kongove commented on #2225
I just saw the problem. It's worth to verify the number before real updating counter, and raise error.

[2017-04-12 12:49] slivne commented on #2262
I am in favor of starting simple:

- use a background process timebased that refreshes the information and exchanges the cache

defer:
- triggers (once we have that we can change the impl)
- not evict / limit space

[2017-04-12 12:51] slivne commented on #2250
@abvgedeika ping

[2017-04-12 16:21] tgrabiec commented on #2262
As far as implementation effort is concerned, the internal (not CQL) support for triggers should be trivial.

Note that the "simple" option you mention has its own downside. It implies frequent full scans of system_auth from all nodes in the cluster, even when permissions don't change.

And the problem of ensuring consistency of auth changes still remains. I think that what admins could reasonably

[2017-04-12 19:34] penberg commented on #2225
@kongove But you also say that Cassandra has the same behaviour, no?

[2017-04-12 19:35] penberg commented on #2225
Oh, it was @roydahan that said that. But if that's the case, why do we have a bug open about this?

[2017-04-12 19:38] slivne commented on #2225
We want to be better unless rollovwr behaviour is part ofnthe comtractbwe
qant to maintain

On Apr 12, 2017 10:35 PM, "Pekka Enberg" <notifications@github.com> wrote:

[2017-04-12 19:43] slivne commented on #2249
@infordb I ran the  test according to your instructions on the same exact version 1.6.1-20170218.2ea4da2 (using docker) and am not able to reproduce this as well - following nodetool compact there are no sstables

[2017-04-12 20:45] raphaelsc commented on #2249
On Wed, Apr 12, 2017 at 4:43 PM, Shlomi Livne <notifications@github.com>
wrote:

@slivne: '[RFC] compaction: do not write expired cell as dead cell if it
can be purged right away' will fix this issue. I need to add some test
cases for v2.

[2017-04-12 23:34] kongove opened #2274 "auth: null password isn't identified"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20170407.f579e4c
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

Priority: not serious

I have doubt for the error message when try to connect scylla with null user and password.

self.get_session(user='', password='')
[code]

self.get_session(user='cassandra', password='')
[code]

[code]

@elcallio

[2017-04-13 05:13] penberg commented on #644
@RobinUS2 Which Scylla version is this? I am not able to reproduce with this information alone because `listen-address` set to `localhost` seems to work OK.

[2017-04-13 06:57] tzach commented on #2260
Is C* doing the same?

[2017-04-13 07:36] pdziepak commented on #2225
For a general case there is nothing we can do. Counter shards are updated independently and concurrently on all replicas and without additional coordination there is no telling whether there is overflow.

As long as we don't have counter cache we could make leaders check if the update they are applying causes overflow according to their knowledge of the counter state, but I'm not sure if this will

[2017-04-13 07:37] tzach opened #2275 "LDAP authentication"
Use external LDAP authenticator.

[2017-04-13 07:38] avikivity commented on #2225
It's not a real problem. `long` variables in Java will exhibit the same behavior.

[2017-04-13 07:38] #2225 closed

[2017-04-13 07:38] tzach opened #2276 "Kerberos Authentication"
Use external Kerberos authentication

[2017-04-13 07:59] #2249 closed

[2017-04-13 09:25] avikivity commented on #1632
@raphaelsc can you check what happens if we take a node with >1TB in a leveled compaction strategy table, and change it to use 1.6GB sstables?  How much time recompaction takes, and will it reduce the number of levels correctly?

[2017-04-13 10:00] kokizzu opened #2277 "docker-entrypoint.py: error: unrecognized arguments: --volume /home/foo/scylla1:/var/lib/scylla"
*Installation details*
Scylla version (or git commit hash): scylladb/scylla docker latest
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): docker

running `docker logs scylla$x | tail` gives an error those error.

steps to reproduce:

[code]

output:

[code]

reference: https://hub.docker.com/r/scylladb/scylla/

[2017-04-13 10:02] kokizzu commented on #2277
my bad, the `--volume` part should be on the beginning..

[2017-04-13 10:02] #2277 closed

[2017-04-13 10:05] penberg commented on #2277
@kokizzu Yes, exactly. It's an argument for `docker run` command, not Scylla.

[2017-04-13 10:16] #2268 closed

[2017-04-13 10:18] #2271 closed

[2017-04-13 10:23] syuu1228 commented on #2228
On master, we don't execute lspci anymore, since we don't execute dpdk-devbind.py when NETWORK_MODE is posix:
https://github.com/scylladb/scylla/commit/a7b0a899a36f8ecc69536ae9a749bdb25aeedf40

But the code still exists on 1.6, I suppose we can merge the commit to branch-1.6.

[2017-04-13 10:31] syuu1228 commented on #2181
@slivne This is not dist/ scripts bug, since *.repo is generated on Jenkins.
Can I change the jenkins jobs to produce .repo file to follow the new rule that @avikivity suggested?

[2017-04-13 10:33] avikivity commented on #2181
@penberg already did it for on repo

[2017-04-13 10:34] kokizzu opened #2278 "docker nodetool: Failed to connect to '127.0.0.1:7199' - ConnectException: 'Connection refused (Connection refused)'."
*Installation details*
Scylla version (or git commit hash): docker scylladb/scylla latest
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): docker

I'm trying to simulate this:
[code]

but it shows:
`nodetool: Failed to connect to '127.0.0.1:7199' - ConnectException: 'Connection refused (Connection refused)'.`

is there something wrong with those configuration?

[2017-04-13 10:41] syuu1228 commented on #848
@slivne I already created signed package generation script on Jenkins years a go, can I enable it (perhaps only on 1.8?)

[2017-04-13 10:58] roydahan commented on #2021
Verified on 1.7rc2, seems like issue is fixed.

[2017-04-13 10:58] #2021 closed

[2017-04-13 11:56] tzach commented on #830
related update in C* 3.2
https://issues.apache.org/jira/browse/CASSANDRA-6696

[2017-04-13 12:07] tzach commented on #819
related C* feature: compressing the hint files
https://issues.apache.org/jira/browse/CASSANDRA-9428

[2017-04-13 12:40] avikivity commented on #819
On-disk compression for logs and hints makes sense for spinning disks, where the bandwidth is limited by the disk and controller.

For modern SSDs, it makes less sense since compression will be the bottleneck (esp. for logs that are only written, not read).

[2017-04-13 12:49] tomer-sandler opened #2279 "v1.6.1 -> SELinux mode changes back to "Enforcing" after scylla node reboot"
**Installation details**
Scylla version (or git commit hash): 1.6.1-20170218.2ea4da2
scylla-kernel-conf-1.6.1-20170218.2ea4da2.el7.centos.x86_64
scylla-tools-1.6.1-20170218.710229c.el7.centos.noarch
scylla-server-1.6.1-20170218.2ea4da2.el7.centos.x86_64
scylla-jmx-1.6.1-20170218.d0401e7.el7.centos.noarch
scylla-conf-1.6.1-20170218.2ea4da2.el7.centos.x86_64
scylla-1.6.3-20170405.5ab8601.el7.centos.

[2017-04-13 12:51] tzach opened #2280 "Support type casting in selection clause"
*Installation details*
Scylla version (or git commit hash): 1.7

reproduce
[code]

The non cast avg is ~22.14

Correlating C* ticket:
https://issues.apache.org/jira/browse/CASSANDRA-10310

[2017-04-13 13:34] tomer-sandler commented on #2279
RCA (thanks to Gleb!): /etc/sysconfig/selinux is link to /etc/selinux/config -> there the selinux was still enforcing
We should probably change the selinux value in /etc/selinux/config and that should solve the issue.

[2017-04-13 13:34] gleb-cloudius commented on #2279
out script does:

[code]

but /etc/sysconfig/selinux is a softlink to /etc/selinux/config and
after our script runs this is no longer the case. Apparently nobody
looks at /etc/sysconfig/selinux.

--
			Gleb.

[2017-04-13 15:12] doublex opened #2281 "Configure "-fsanitize""
Hello,
Is there a configure option to compile with AddressSanitizer?
GCC/clang option:  `-fsanitize=address -fno-omit-frame-pointer`
Thanks
Marcus

[2017-04-13 15:13] avikivity commented on #2281
`./configure.py --mode debug` (output in build/debug)

[2017-04-13 15:13] #2281 closed

[2017-04-13 19:29] raphaelsc commented on #1632
@avikivity

if we change default size from 160 to 1.6G, every level can store 10^level
more data. After the change, the strategy mission is to first make level 1
reach its new size limit.

When sstable size changes, level 0 -> level 1 compaction is currently not
using a sstable from a higher level that has gone many compaction rounds
without compaction. I'll understand the reason because this may

[2017-04-13 22:08] slivne commented on #1632
I think there is potentially an issue with disk space as in leveled we
overwrite all files

Avi you have done this already in a customer - not sure it was 1.6 GB - yet
we have already ran into an issue in which they ran out of disk space and
then we reverted this change.

In the customer deployment the smaller nodes had a disk of ~500 GB and 24
shards

Disk usage was ~50 %.

As we enabled this we

[2017-04-14 00:57] kthommandra opened #2282 "nodetool on empty keyspace shows incorrect info"
When cfstats shows that the keyspace is empty why does `nodetool status` for that same keyspace say that the Load (size on disk) is 100+GB ?

KS1 is a newly created keyspace and is empty.

CentOS 7.2
scylla version 1.6.2-20170310.d41ba3b

# nodetool status KS1
Datacenter: DC1
===============
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address       Load       Tokens  Owns (effective)

[2017-04-14 08:12] lukasz-golebiewski opened #2283 "Exiting on unhandled exception: std::runtime_error (Bad I/O Scheduler configuration)"
*Installation details*
Scylla version (or git commit hash): 1.6.3-20170405.5ab8601
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20170303 (ami-1f83aa79)

Hey guys! I'm getting the following error when starting scylla:
[code]

The thing is my `/var/lib/scylla` is on XFS and it has 1TB of disk space. I would like to avoid running in developer

[2017-04-14 13:03] tzach commented on #2283
@glommer ?

[2017-04-14 13:14] tzach commented on #2282
@amnonh ?

[2017-04-14 14:18] abvgedeika commented on #2250
the issue not reproduced with the latest master

[2017-04-14 14:18] #2250 closed

[2017-04-14 15:11] syuu1228 commented on #2227
@avikivity to suppress the warning message, I think we need to skip ::mbind() on seastar/core/memory.cc when we running scylla in container.
Something like
[code]
Or pass --container flag on the program argument, then
[code]
In that case we need to detect container in our scripts.

Do you agree the change, or should we need to leave the warning?

related to scylladb/seastar#211

[2017-04-15 11:53] tzach opened #2284 "Installing Scylla on an off line nodes - Ubuntu / Debian"
The same as #2268 for Ubuntu / Debian packages

[2017-04-15 11:55] tzach opened #2285 "Installing Scylla on an off line nodes - include in the release procedure"
*Installation details*
Scylla version (or git commit hash): 1.7

#2268 and #2284 cover the creation of the "uber" install package. This issue is for generating, validating and upload it to s3 as part of the release procedure.

[2017-04-15 12:17] #1984 closed

[2017-04-15 16:05] Jsynk opened #2286 "Failed to install scylla 1.6.3 on raspbery pi / raspbian"
Scylla version (or git commit hash):
1.6
OS (RHEL/CentOS/Ubuntu/AWS AMI):
Raspbian based of Debian Jessie / Debian 8.7

Hi i tried installing scylladb according install instructions http://www.scylladb.com/download/#fndtn-Debian
and http://docs.scylladb.com/getting-started/debian8/

i executedthe following on the terminal
sudo wget -O /etc/apt/sources.list.d/scylla.list http://downloads.scylladb.c

[2017-04-15 16:09] avikivity commented on #2286
Scylla was not ported to ARM yet (and a 32-bit port is unlikely)

On Apr 15, 2017 19:05, "Jorge Andrés Guerra Guerra" <
notifications@github.com> wrote:

[2017-04-15 18:41] amnonh commented on #2282
Unless I'm wrong, nodetool status reports all load, not just the keyspace,
see the following answer:
http://stackoverflow.com/questions/39590657/why-does-nodetool-status-keyspace-still-show-hundreds-of-mbs-of-data-after-tru

On Fri, Apr 14, 2017 at 4:14 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2017-04-16 00:39] kongove commented on #2274
Posted a fix to scylladb-dev LIST.
[PATCH scylla v2] auth: strictly delimit in decoding client token

[2017-04-16 09:29] avikivity opened #2287 "Streaming with Leveled Compaction Strategy can cause OOM"
Streaming generates many small SSTables with large token ranges.  The SSTables are small because streaming limits memtable size to reduce performance impact on normal loads; the token ranges are wide because we combine data from multiple peers (and each peer may send us multiple ranges).

The `partitioned_sstable_set` data structure used to hold SSTables with LCS is O(N^2) in space in such circums

[2017-04-16 09:42] avikivity commented on #2287
Possible solutions:

 - switch to Cassandra's [OverlapIteraor](https://github.com/hobinyoon/apache-cassandra-3.0.5-src/blob/master/src/java/org/apache/cassandra/utils/OverlapIterator.java); problem is, it's O(N) for small or singular  range selects
 - store Level 0 in a bag instead of the interval map, so it doesn't trigger O(N^2) behavior
 - throttle streaming until L0 gets smaller; this has the

[2017-04-16 09:42] avikivity commented on #2287
/cc @gleb-cloudius @tgrabiec @raphaelsc

[2017-04-16 09:54] avikivity commented on #2287
My preference is to start with a bag for L0, then add throttling to reduce the impact on reads.

[2017-04-17 08:02] Jsynk commented on #2286
I see thanks.
I guess my dream of running scylladb on a 3 watt server has been shattered.

Also I just stumbled upon http://docs.scylladb.com/admin/ and in the
CPU section i noticed that it said
Scylla requires modern Intel CPUs that support the SSE4.2 instruction set and will not boot without it.

Does that also mean the new cheaper amd ryzen cpu is also currently not supported?

Thanks again

[2017-04-17 09:34] khandeliants opened #2288 "Checking Scylla with PVS-Studio static analyzer"
Hello,
I have found some weaknesses and bugs using PVS-Studio tool. PVS-Studio is a static code analyzer for C, C++ and C#: https://www.viva64.com/en/pvs-studio/

Analyzer warnings:
* [V596](https://www.viva64.com/en/w/V596/) ([CWE-390](https://cwe.mitre.org/data/definitions/390.html)) The object was created but it is not being used. The 'throw' keyword could be missing: throw runtime_error(FOO);

[2017-04-17 11:13] avikivity commented on #2286
Ryzen supports SSE4.2 so it is supported.  The page uses "Intel" where it really means "x64".  We expect good performance on those 32-core chips.

When we support ARMv8/aarch64 (not so far in the future) you can try Scylla on a mobile-class chip.

[2017-04-17 11:19] #1715 closed

[2017-04-17 13:12] penberg commented on #2286
Raspberry Pi 3 has a 64-bit ARM CPU.

[2017-04-17 13:18] avikivity commented on #2286
Then it should be easy to support Scylla on it, provided it implements the crc32c instruction.

@Jsynk do you know if it does?  Perhaps `/proc/cpuinfo` will tell.

[2017-04-17 13:41] Jsynk commented on #2286
Nice looking forward to testing scylladb arm support in the near future.
raspberry pi 3 raspbian - terminal > cat /proc/cpuinfo > outputted >
[code]
crc32 seems to be listed in the features section, so far so good.

I will be prototyping/learning with Virtualbox/CentOS in the meantime.

Thanks for all the help guys.

[2017-04-17 15:03] raphaelsc commented on #2287
On Sun, Apr 16, 2017 at 6:54 AM, Avi Kivity <notifications@github.com>
wrote:

Like the idea. We likely include every L0 sstable for every read anyway.

BTW, LCS performs STCS in L0 when L0 has more than max_threshold sstables.
That's to reduce the impact on reads ASAP. By throttling, I suppose you
mean measuring the compaction backlog (only L0 is interesting) and tweaking
compaction i/o priority

[2017-04-17 15:10] penberg commented on #2286
@Jsynk ARMv7 is 32-bit. You're seeing that because all the official distributions for Raspberry Pi are 32-bit.

[2017-04-17 15:33] amoskong opened #2289 "can't login instance with ssh key at the beginning of boot"
*Installation details*
Scylla version (or git commit hash): scylla-1.7.rc2-0.20170328.9b26a57
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-2c3db73a

http://jenkins.cloudius-systems.com/job/scylla-1.7-ami-test-amostmp/label=muninn/3/artifact/latest/remote.log

*Problem*
Create an ami instance with AMI_ID: ami-2c3db73a, can't login guest with the SSH key.
Wait about 2 mins, the SSH key works

[2017-04-17 15:41] avikivity commented on #2287
@raphaelsc can you come up with a quick patch for that?  if not, I can do it.

When the data comes from the user, we can adjust compaction priority, but for streaming that's not a good option, because it will allow repair or rebuild to impact regular work.

[2017-04-17 15:51] raphaelsc commented on #2287
On Mon, Apr 17, 2017 at 12:41 PM, Avi Kivity <notifications@github.com>
wrote:

working on it

[2017-04-18 00:21] amoskong opened #2290 "seastar - Exiting on unhandled exception: std::runtime_error (Unable to gossip with any seeds (ShadowRound))"
*Installation details*
Scylla version (or git commit hash): 1.7.rc2-0.20170328.9b26a57
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): centos7

*Problem*
One node (10.240.0.27) failed  to connect seed (10.240.0.62) after second breaking in longevity test. The first breaking_rebuild test on node (10.240.0.27) was executed 10 mins ago, and PASS.

[code]

It seems the seed node was killed and restar

[2017-04-18 01:58] laxmi-narayan-nitdgp commented on #1991
issue is still present with

 http://s3.amazonaws.com/downloads.scylladb.com/deb/ubuntu xenial/scylladb-1.6/multiverse

[2017-04-18 06:45] AREXP commented on #2272
Sorry for waiting. I have some troubles with getting a coredump.
As I read from the given instruction, coredump is creating when Scylla fails, falls, crashing etc. But my installation is a quite stable and I couldn't get any coredump.
Is there more "explicit" way to generate a coredump?

[2017-04-18 07:40] slivne commented on #2287
@avikivity  could it be that we have the files covering large range because of applying SizeTiered compaction in L0 after streaming ?

Please note that we may also need to disable STCS in L0 as we may be accumulating many files in L0

Cassandra has a special flag to disable STCS in L0 for Leveled (https://issues.apache.org/jira/browse/CASSANDRA-6621) - we may need to impl that as well.

[2017-04-18 07:53] avikivity commented on #2287
I don't think it applies to us.  We don't stream sstables, we stream mutations, so we'll combine mutations from different ranges.

Perhaps we should stream directly to sstables (shouldn't be hard: open a writer and write to it, instead of writing to memtable) but that's a bigger change.

[2017-04-18 08:02] slivne commented on #2073
@roydahan / @larisau - lets change the test and create the schema in a different manner (you can still use c-s).

[2017-04-18 08:02] #1813 closed

[2017-04-18 08:21] gleb-cloudius commented on #2272
On Mon, Apr 17, 2017 at 11:45:46PM -0700, AREXP wrote:

kill -ABRT $scylla_pid

--
			Gleb.

[2017-04-18 09:19] slivne commented on #2282
@amnonh is correct - nodetool status provides the "load" of all the keyspaces on the node.

@kthommandra - I am closing this issue - we will be happy to provide additional clarification if needed.

[2017-04-18 09:19] #2282 closed

[2017-04-18 10:04] #2287 closed

[2017-04-18 12:00] slivne commented on #2289
@amoskong is this a regression ? which instance type ?

[2017-04-18 12:38] raphaelsc opened #2291 "dropping keyspace crashes Scylla if resharding"
resharding isn't waited when removing a column family because manager isn't registering the operation properly.

I'm cooking a patch.

[2017-04-18 12:55] amoskong commented on #2289
@sliven Not a regression,  [A old 1.7 ami test (2017-03-28)](http://jenkins.cloudius-systems.com/job/scylla-1.7-ami-test/11/) succeeded, but I can reproduce this problem with the ami-id (ami-e67dc4f0)

instance type: c3.2xlarge

[2017-04-18 14:01] imriss opened #2292 "An error when compiling on Arch Linux"
Scylla version (or git commit hash):
commit 7e1b245887665ff0cc08bc1f4584d600d6289d89
Author: Pekka Enberg <penberg@scylladb.com>
Date:   Wed Feb 1 13:58:06 2017 +0200
    release: prepare for 1.6.0
diff --git a/SCYLLA-VERSION-GEN b/SCYLLA-VERSION-GEN
index d9105480..a7c644e1 100755
--- a/SCYLLA-VERSION-GEN
+++ b/SCYLLA-VERSION-GEN
@@ -1,6 +1,6 @@
 #!/bin/sh
-VERSION=1.6.rc2
+VERSION=1.6.0

OS (RHE

[2017-04-18 14:39] #2291 closed

[2017-04-19 02:12] amoskong opened #2293 "i3.2xlarge AMI instance used driver 'vif', not expected 'ena'"
*Installation details*
Scylla version (or git commit hash):  1.7.rc2
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-2c3db73a

driver info of i3.2xlarge instance
[code]

Related commits:
- https://github.com/scylladb/scylla/commit/33309f66
- https://github.com/scylladb/scylla/commit/b8f40a2dffeec778549004ade9e388e7f2fd827a

@syuu1228

[2017-04-19 03:07] glommer commented on #2293
That is expected in 1.7. The AMI will not be running the amazon kernel if
we didn't backport those.

On Apr 18, 2017 7:12 PM, "Amos Kong" <notifications@github.com> wrote:

[2017-04-19 07:02] syuu1228 commented on #2284
This fixed by https://github.com/scylladb/scylla/commit/86e464ab2667291ab724009d403d1087b205ab72, can close.

[2017-04-19 07:05] #2284 closed

[2017-04-19 07:13] syuu1228 commented on #2293
@amoskong ENA is not enabled for the release so we cannot use it, but ixgbevf should available on C3, C4, D2, I2, R3, and M4 (excluding m4.16xlarge) so you can check them.

Note: https://github.com/scylladb/scylla/commit/b8f40a2dffeec778549004ade9e388e7f2fd827a is not merged on branch-1.7, so we don't able to get the warning message.

[2017-04-19 07:14] tgrabiec commented on #2287
@avikivity

You mean O(N) in terms of space or time complexity? For which operation?

[2017-04-19 07:39] pdziepak opened #2294 "Scylla node becomes unresponsive"
*Installation details*
Scylla version (or git commit hash): 1.7-rc2
Cluster size: 3

Glauber has noticed that under certain conditions Scylla nodes may become unresponsive (or barely responsive, serving around a fifth of the requests the other nodes can do).
Workload to reproduce:
Servers: 3x i2.8xlarge
Loaders: 10x c4.8xlarge
Load:
[code]
The problem doesn't appear in every run. Sometimes the bad

[2017-04-19 08:32] roydahan commented on #2273
@slivne, any idea?

[2017-04-19 08:45] amoskong commented on #2293
@glommer do we have plan to backport it to 1.7?

So for scylla master, the ami instance (using amazon kernel) will use ena driver, right?

[2017-04-19 08:46] amoskong commented on #2293
@syuu1228 we tested both ena and ixgbevf.

c3.2xlarge instance used ixgbevf driver as expected in job:
http://jenkins.cloudius-systems.com/job/scylla-1.7-ami-test-amostmp/label=muninn/8/

[2017-04-19 08:56] slivne commented on #2273
no idea - I checked jenkins and I think the tests do pass

http://jenkins.cloudius-systems.com:8080/job/scylla-master-dtest/label=monster,mode=release,smp=1/348/testReport/auth_test/TestAuth/

On Wed, Apr 19, 2017 at 11:32 AM, Roy Dahan <notifications@github.com>
wrote:

[2017-04-19 09:28] asias commented on #2290
@amoskong "2017-04-15 05:43:24 [shard 0] seastar - Exiting on unhandled exception: std::runtime_error (Unable to gossip with any seeds (ShadowRound))" is not the real issue here. What is the status of 10.240.0.62 around the period "2017-04-15 05:43:24". I do not know what was done during the test. Can you confirm the seed node 10.240.0.62 was actually alive.

[2017-04-19 09:31] amoskong commented on #2290
@asias Scylla service on node 10.240.0.62 was killed

[code]

[2017-04-19 09:31] slivne commented on #2273
@abvgedeika - can you please enable full logging (trace) - maybe that will be enough to find what the issue is.

[2017-04-19 09:36] asias commented on #2290
Then i do not understand what is the problem. We can not talk to a killed
node. This is expected.

On Apr 19, 2017 17:31, "Amos Kong" <notifications@github.com> wrote:

[2017-04-19 12:44] #1156 closed

[2017-04-19 15:29] slivne commented on #2262
Ok - so I am not against that - just to confirm we need a distributed trigger, even in the case the node does not store the information in the auth sstables, so all nodes will know to refetch the info.

[2017-04-19 17:11] tgrabiec commented on #2272
@AREXP I think I confused you. The link was just to show how to upload files to an S3 bucket. I didn't ask for a core dump. I need the data files for your table (dramiel_test.hour_data), which are by default located on disk in `/var/lib/scylla/data/`.

[2017-04-20 00:23] amoskong opened #2296 "User with empty password can be created, but fails to login"
*Installation details*
Installation details
Scylla version (or git commit hash): 666.development-0.20170407.f579e4c
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

*Problem*
We can create user with empty password, but fails to login.
This problem doesn't exist in C*.

[code]

[code]

Related C* issue: https://issues.apache.org/jira/browse/CASSANDRA-13455

@slivne @elcallio @roydahan

[2017-04-20 08:45] amoskong commented on #2293
I tried to install amazon kernel to that instance, but the driver name is also 'vif'

[code]

[2017-04-20 10:37] AREXP commented on #2272
Yes, you did=)
Uploaded two files under uuid `adc9ed62-5ee5-4343-93b5-9a7171d773e9`

[2017-04-20 11:14] tiago-msilva opened #2297 "COPY FROM - failed to import - QueryMessage' object has no attribute 'to_binary'"
Hi all,

ScyllaDB running from docker image scylladb/scylla
1.6.2-20170310.d41ba3b

Error in COPY FROM:
[code]

[2017-04-20 11:17] tiago-msilva opened #2298 "COPY FROM - failed to import - Read wrong filename"
Hi all,

ScyllaDB running from docker image scylladb/scylla
1.6.2-20170310.d41ba3b

Error in COPY FROM:
[code]

[2017-04-20 14:30] glommer commented on #2293
I don't know. There are patches to the ami repo needed as well to enable it
- not just the kernel.

On Apr 19, 2017 1:45 AM, "Amos Kong" <notifications@github.com> wrote:

[2017-04-20 15:39] roydahan opened #2299 "Repair of large dataset (1TB) streams too much data than actually needed"
*Installation details*
Scylla version (or git commit hash): 1.6.2
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

(Found by Longevity-1TB test).
In the test scenario, we have a repair that runs during cassandra-stress load (details below) on a "healthy" data set. (No corruption before the repair and no errors/timeouts during the load).
(When we tested repair without the ongoing loa

[2017-04-20 18:55] syuu1228 commented on #2293
@amoskong @glommer It's not just amazon kernel, we need to add "EnaSupport" variable in the AMI metadata on AMI building time (or probably can add it manually after the build).
This commit enables it: https://github.com/scylladb/scylla/commit/f4502bfb79447869c7a853c711c98d749a272486

But it's not included 1.7 since we don't merge ENA/i3 things in 1.7, this commit also doesn't merged.
I just built

[2017-04-20 18:58] glommer commented on #2293
We wont support i3 with 1.7

The changes are just too big at the time.

One avenue we are exploring is to offer an unsupported version that is
custom built.

On Apr 20, 2017 11:55 AM, "Takuya ASADA" <notifications@github.com> wrote:

[2017-04-22 20:24] itsuugo commented on #2299
The grafana URL hasn't any protection and permits everybody to create and delete things.

[2017-04-23 07:34] nyh opened #2300 "size-tiered compaction: avoid similarly-sized parallel compactions even on different shards"
We noted in the past that it is counter-productive to do several compactions in parallel: These will compete for the same disk bandwidth (a single compaction can already do prefetching to use a lot of disk bandwidth on its own), increase memory usage, and also increase temporary disk space usage: While compaction is in progress, we use disk space for both source sstables and the new sstable. We su

[2017-04-23 07:57] gleb-cloudius commented on #2300
On Sun, Apr 23, 2017 at 12:34:30AM -0700, nyh wrote:

We shard CPU and memory, the problem is that we do not shard disk. Can
we assign DiskSize/ShardsNumber of disk space for each shard and make
sure that no shard uses more the that? If during compaction or regular
writes shard exceeds its limit it throw OutOfSpace exception without
waiting for error from fs.

--
			Gleb.

[2017-04-23 08:20] nyh commented on #2300
We could shard disk, but this would actually go against the idea I was trying to promote: I was trying to suggest that our (CPU) sharding can help with size-tiered-compaction's temporary disk space usage. Because even if compaction can (at worst case) require half the disk space to be free, if we only compact on one shard in parallel, we don't need half but only 1/2N. If you shard the disk space,

[2017-04-23 09:35] avikivity commented on #2300
Even with mediocre disks, one core is not enough to saturate them.  We really need to compact in parallel.

[2017-04-23 10:23] slivne opened #2301 "Run cleanup more sequentially instead of in parallel"
*Installation details*
Scylla version (or git commit hash): 1.7-rc1 (ea4a2da)

Running cleanup in parallel on all files will cause rewritting of all files in parallel (requiring double the current usage of disk) - we should limit the parallelism and make it more sequential.

example

[code]

[code]

@raphaelsc - are cleanups run via the compaction_manager today ? (I think they should)

[2017-04-23 11:23] tzach commented on #1592
@duarten any update on this issue?

[2017-04-23 11:24] tzach commented on #1825
@asias any update on this issue?

[2017-04-23 11:42] duarten commented on #1592
@tzach No, it's still not clear to me if there's still an issue after d53f96e was merged.

[2017-04-23 14:00] nyh commented on #2300
Via email @avikivity suggested a technique of splitting the sstables reminiscent of the idea I suggested above, but in a way not requiring coordination between shards:

If we decide to go with that approach we should close this issue and open a different one just for that idea.

[2017-04-23 16:33] avikivity opened #2302 "small externally stored row wastes memory"
This is a managed_vector<atomic_cell> for a 10-column schema created by `cassandra-stress write -col 'n=FIXED(10)'`

    _size = 10,
    _capacity = 13,
    _data = 0x6000021c6368

The schema has 10 columns, why to we reserve 13?

[2017-04-23 16:33] avikivity commented on #2302
/cc @pdziepak

[2017-04-23 22:28] asias commented on #1825
I have a patch to do a rough estimation. @slivne think it is worse if the estimation is not correct than not estimating at all. The patch is not merged.

[2017-04-24 03:48] dobbs90001 commented on #1270
I am still getting these with on AWS with a cluster of (4) i3.xlarge running 1.6.3 AMI (ami-247ee844).
I have
in io.conf
SEASTAR_IO="--max-io-requests=32"

Apr 24 00:46:23 ip-10-49-10-245 scylla[13614]:  [shard 3] storage_proxy - exception during mutation write to 10.49.10.245: std::bad_alloc (std::bad_alloc)

This is causing the entire cluster to stop responding until it clears.  Running 2:1 r/w,

[2017-04-24 08:15] tgrabiec commented on #1634
There is still some remaining problem. We can still arrive at high occupancy, e.g. when LSA has large amounts of free segments to fill up before eviction starts. That's the case when it warms up, then we reach 100% occupancy.

When we reach this, if LRU order doesn't match allocation order, we may have to do a lot of eviction in order to bring any segment below the threshold.

That will not be the

[2017-04-24 08:21] amoskong commented on #2273
I didn't reproduce this issue with CentOS

[2017-04-24 08:21] avikivity commented on #1270
@dobbs90001 can you provide more information about your workload, and some logs?

Interesting information:
 - schema
 - nodetool cfstats
 - typical cql row size, and number of cql rows per partition

[2017-04-24 08:24] avikivity commented on #1634
Perhaps we could introduce some randomization by having >1 open segments, although it's probably not good for performance.

[2017-04-24 08:26] amoskong commented on #2273
@abvgedeika
You can enable full logging (trace) by editing scylla.yaml:

default_log_level: trace

[2017-04-24 08:37] amoskong commented on #2290
It's expected to get this gossip error, so the problem is why the seed node is killed and restarted in breaking another node. I hadn't understand this and will analysis the job log again.

[2017-04-24 08:38] avikivity opened #2303 "Improve core uploading experience"
We can install the aws package, and add a small wrapper to upload files, without running `split` and managing multiple files.

[2017-04-24 08:50] duarten commented on #1634
We could also have a policy where after X objects are evicted, or T time has elapsed, we handpick and evict the remaining objects in the sparsest segment to make the region compactible. We would essentially be switching from an allocator-agnostic eviction policy to one that benefits the allocator.

[2017-04-24 08:55] tgrabiec commented on #1634
2017-04-24 10:24 GMT+02:00 Avi Kivity <notifications@github.com>:

How would this help?

[2017-04-24 08:59] avikivity commented on #1634
@tgrabiec half-baked thought, it wouldn't; the problem is too much randomization

[2017-04-24 09:00] avikivity commented on #1634
@duarten we can't in general evict based on address, there's no path from a leaf to an unlinkable item.

[2017-04-24 09:13] duarten commented on #1634
@avikivity True. Although if the eviction function knows the concrete type, and the managed type has the backref, all we're missing is the position of the leaf in the unlinkable item (in some cases it could be fully determined based on the types alone).

[2017-04-24 09:22] duarten commented on #1634
Oh, scratch that, we can't get the type from the address.

[2017-04-24 10:00] avikivity commented on #1634
We actually can (we have a migrate_fn_type* stored in front of every object), but that's not enough.  Even though we have a backreference, we have no idea what object type the backreference is embedded in.

Given

   void* obj;

We can determine the dynamic type of obj `Type`, and all (usually 1) pointers to obj `Type** forward_reference`, but `forward_reference` is usually a field in some other t

[2017-04-24 10:11] slivne commented on #2298
@tiago-msilva can you please provide a sample csv file (and a schema) so we can make sure we  resolve the issue you opened .

[2017-04-24 10:13] nyh commented on #2299
I copied one random sstable from Roy's setup and am now writing a test program to try to estimate paritition counts and see why we're off (if that is the case at all...).

[2017-04-24 10:13] slivne commented on #2297
@tiago-msilva can you please provide a sample schmea and sample populated data so that we can try and reproduce this (and make sure the issue is fixed).

[2017-04-24 10:15] duarten commented on #1634
Momentarily forgot about the migrators :)  We could have an eviction function per `Embedder`, but that would only work when it directly contains the managed object and not a pointer. But I think this is the common case?

[2017-04-24 10:16] slivne commented on #2293
@amoskong - master (1.8 ...) should have this - can you check if the nightly AMI's work on i3 and enable ena

[2017-04-24 10:18] slivne commented on #2290
@amoskong ping any additional info - this may be a regression in 1.7

[2017-04-24 10:19] tiago-msilva commented on #2298
Hi,

I've already had help on the Slack channel.
Just as Avi said I tried 1.7-rc2 and the issues I reported are solved.

Thanks.

I'll close this now.

[2017-04-24 10:19] #2298 closed

[2017-04-24 10:19] tiago-msilva commented on #2297
Hi,

I've already had help on the Slack channel.
Just as Avi said I tried 1.7-rc2 and the issues I reported are solved.

Thanks.

I'll close this now.

[2017-04-24 10:19] #2297 closed

[2017-04-24 10:20] slivne commented on #2289
@amoskong - did we have this issue in 1.6 / 1.5 / 1.4 ?

[2017-04-24 10:24] slivne commented on #2283
@glommer ping

[2017-04-24 10:27] slivne commented on #2278
@penberg can you please help

[2017-04-24 10:31] slivne commented on #2276
enterprise feature

[2017-04-24 10:31] #2276 closed

[2017-04-24 10:32] slivne commented on #2275
enterprise feature

[2017-04-24 10:32] #2275 closed

[2017-04-24 10:32] #2286 closed

[2017-04-24 10:32] avikivity commented on #1634
It doesn't help, consider

[code]

[2017-04-24 10:39] #2270 closed

[2017-04-24 10:39] slivne commented on #2266
@amnonh - what does that mean - show we align on sampled or non-sampled ?

can you provide additional information or is this enough info for @gleb-cloudius

[2017-04-24 10:45] amoskong commented on #2293
@slivne master (1.8) AMI on i3 uses 'ena' driver.

[jenkins job 121
](http://jenkins.cloudius-systems.com/job/scylla-master-ami-test/label=muninn/121/) [debug.log](http://jenkins.cloudius-systems.com/job/scylla-master-ami-test/label=muninn/121/artifact/latest/test-results/1-_home_centos_avocado_tests_jenkins_slave_workspace_scylla-master-ami-test_label_muninn_scylla-artifacts.py:ScyllaArtifactSani

[2017-04-24 10:55] slivne commented on #2262
Lets start with doing the background update of the cache and differ the more optimal trigger based one.

[2017-04-24 11:20] duarten commented on #1634
I was thinking we could encode the embed-position in the managed objects (stealing some bits from the backref?), but you're right, we would also need to encode the types of the embedders to be able to navigate to an unlinkable object :(

[2017-04-24 13:14] tiago-msilva opened #2304 "Feature request - Server side scripting - Lua perhaps"
Hi all,

This is a feature request.
In the Slack channel @glommer already said it was planned for sometime in the future.
I would just like to add my point of view on the importance it has as a feature for the future of ScyllaDB.

Nowadays databases range from fast to ultra fast.
We have document, graph, columnar storage, K/V, column family, relational, everything.
As I see it the model that Scyll

[2017-04-24 13:56] nyh commented on #2299
So far I still can't figure out a problem. I'm continuing to investigate sst->estimated_keys_for_range(r).

So far I only found one small problem (when there are zero partitions in the range, it returns 1 while the correct answer is 0) but this can't be causing the problem we are having - at worst, if we have 1000 sstables at this shard, this should add 1000 to the total estimate for this shard, b

[2017-04-24 14:05] amoskong opened #2305 "scylla_setup gets stuck when executes with invalid option"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20170412.0318dcc
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

[code]

[code]

@syuu1228

[2017-04-24 14:19] tzach commented on #2304
related to #2204

[2017-04-24 15:19] nyh commented on #2299
I tested that sst->estimated_keys_for_range(tok_range) is correct, or nearly correct, for one of the sstables I took from @roydahan - this sstable had about 160,000 partitions in a small range (it came from a leveled compaction setup so each sstable has a small range), and tested ranges larger than the sstable's range, smaller than it, half-infinite ranges, and ranges disjoint from the sstable's r

[2017-04-24 15:19] glommer commented on #2283
It says it dumped the core.

Can you share the coredump ?

On Apr 24, 2017 6:25 AM, "Shlomi Livne" <notifications@github.com> wrote:

[2017-04-24 17:04] dobbs90001 commented on #1270
We are testing scylladb right now with the Flink datarunner.  We are loading data at the moment.

I see we are using one large partition, but still are below the 2B row limit mark.  We are going to try partitioning by date as well.

[syslog.txt](https://github.com/scylladb/scylla/files/952525/syslog.txt)
[scylla.yaml.txt](https://github.com/scylladb/scylla/files/952526/scylla.yaml.txt)
[nodetool.t

[2017-04-24 17:17] avikivity commented on #1270
@dobbs90001 what Scylla version?

[2017-04-24 17:50] dobbs90001 commented on #1270
EC2  with (4) i3.xlarge running 1.6.3 AMI (ami-247ee844).

[2017-04-24 18:23] tgrabiec commented on #2272
@slivne Probably introduced in 1.4 by 700feda0db9aa781635758f5b73487d46a692dab

[2017-04-24 19:25] raphaelsc opened #2306 "lack of tombstone removal compaction"
When disk space is low (also at some interval), compaction strategy will now choose for compaction the
sstable with the highest droppable tombstone ratio. We can determine droppable tombstone ratio for each sstable because they store a histogram with expiration time as the key.

This feature is really needed because droppable tombstones may be forgotten in the oldest sstables (as with size tiered

[2017-04-24 19:27] raphaelsc commented on #2306
'[RFC 0/9] introduce tombstone removal compaction' was posted to mailing list a few months go.

[2017-04-24 19:40] raphaelsc commented on #2301
On Sun, Apr 23, 2017 at 7:23 AM, Shlomi Livne <notifications@github.com>
wrote:

Hi Shlomi. This issue is already fixed by
7deeffc9536b71ac80cf789bd6219893ad3e0d50 (database: serialize sstable
cleanup).

Yes, cleanup goes through compaction manager.

[2017-04-24 19:57] #2301 closed

[2017-04-24 21:08] abvgedeika opened #2307 "compilation errors on debian in log_histogram_test"
*Installation details*
Scylla version (or git commit hash): started from https://github.com/scylladb/scylla/commit/c83768d6bb12c83c864c99a8b069ad0aae4475f2

Platform (physical/VM/cloud instance type/docker): Ubuntu16.04/debian
I'm not able to build scylla on my Ubuntu16.04 host and the same I see on jenkins
http://jenkins.cloudius-systems.com:8080/view/scylla-master/job/scylla-master-debian-deb-8/

[2017-04-24 21:09] abvgedeika commented on #2307
assigned to @tgrabiec

[2017-04-24 22:48] vladzcloudius opened #2308 "writes may get lost when Node joins the custer"
*Installation details*
Scylla version (or git commit hash): 68f0df12ee9cc659435f1ac7e0af878afab05cc3

*Description*
Right now the joining Node waits for `ring_delay_ms` (which is 30s by default) after which it assumes that all Nodes in the cluster has received the `gossiper` messages with the new ring definition (e.g. they get the message that the new Node is joining the Cluster).

After this dela

[2017-04-25 06:24] tgrabiec commented on #2307
@abvgedeika What's your gcc version? Perhaps you hit https://gcc.gnu.org/bugzilla/show_bug.cgi?id=52036.

[2017-04-25 07:31] abvgedeika commented on #2307
@tgrabiec gcc version 5.4.0 20160609
[code]

[2017-04-25 08:51] roydahan commented on #2308
I think I had this exact issue in a test I added recently for large clusters (50 nodes), but in my case the ring_delay_ms was lowered to 5s (in Jenkins) and setting it back to the default "solved" the issue.
Since than, I was trying to reproduce it with the default value (and describe it) with no luck.

In my test I could see that several rows were missing (e.g. expecting 4000 rows but got 3998).

[2017-04-25 09:00] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 01:51:07AM -0700, Roy Dahan wrote:

The ring_delay_ms is there to prevent exactly this issue. With 5s delay
each of 50 nodes were running only 5 gossip rounds which is not enough
to spread information over entire cluster. For large cluster it has to
be enlarged, not lowered.  What Vlad is concerned about that relying on
timing alone is not enough. Theoretically true, practi

[2017-04-25 09:15] #2307 closed

[2017-04-25 09:15] amoskong opened #2309 "UX: scylla_setup: can't auto select (disk & nic) in non-interactive mode"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20170412.0318dcc
Cluster size: 1

If we execute scylla_setup with options, it will enter  non-interactive mode.
Currently we need to assign the unused disks,  specify nic in non-interactive mode.

Expect result:
If raid setup isn't disabled and disk isn't assigned in cmdline, then always auto select unused disk.
If nic s

[2017-04-25 09:55] slivne commented on #2248
@benoit-canet was the patch committed - can you please reference it so we can close this issue

[2017-04-25 09:59] slivne commented on #2194
it may be related to #2299

[2017-04-25 10:05] slivne commented on #2175
the issue is probably fixed - need to be validated as part of 1.8

[2017-04-25 10:10] slivne commented on #2162
@tzach can you retest the nightly ?

[2017-04-25 10:12] slivne commented on #2160
scylladb/scylla-tools-java#26

[2017-04-25 10:16] slivne commented on #2157
@syuu1228 good idea - lets add a conflict with cassandra packages

[2017-04-25 10:17] slivne commented on #2156
in 1.7 we removed the sstablesplit - as it creates ma format - we may revisist once we support ma

[2017-04-25 10:57] amoskong opened #2310 "Abort in artifact-test on ubuntu14: fail to start scylla-server"
*Installation details*
Scylla version (or git commit hash): 1.7.rc2-0.20170328.9b26a57
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04

Other OS:
1.7.rc2-0.20170328.9b26a57 works well on CentOS, [Jenkins artifact-test job](http://jenkins.cloudius-systems.com/job/scylla-1.7-centos-rpm-test-amostmp/label=muninn/4/artifact/latest/job.log)

Description:
Failed to start scylla server, exe

[2017-04-25 11:00] amoskong commented on #2310
[code]
Setup Log:
[code]

[2017-04-25 11:15] amoskong commented on #2310
There is a coredump file, but I failed to get the backtrace from gdb:

[code]

[2017-04-25 11:25] benoit-canet commented on #2248
I forgot the Fixes: # tag.

Yes it's commited.

2017-04-25 11:55 GMT+02:00 Shlomi Livne <notifications@github.com>:

[2017-04-25 11:40] #2248 closed

[2017-04-25 11:41] vladzcloudius commented on #2308
On 04/25/2017 05:00 AM, Gleb Natapov wrote:

The race is far easier to hit than to make a git generate two equal hashes.
The description of the race is there. - We can ignore it and wait for it
to be hit at the customers site or we may fix it, which is quite easy by
the way.

[2017-04-25 11:44] slivne commented on #2308
@asias any inputs ?

[2017-04-25 11:50] vladzcloudius commented on #2308
On 04/25/2017 05:00 AM, Gleb Natapov wrote:

Enlarged how? 6s? 10s? 30s? Maybe 33s? If I set it to 1m will it always
work? The answer is - no!
This ring_delay_ms is not a solution it's a ugly workaround for the problem.

[2017-04-25 11:55] avikivity commented on #1270
@dobbs90001 does decreasing the page size in the driver help?

[2017-04-25 12:06] tzach commented on #2309
Good catch, This is important for everyone trying to automate Scylla install

[2017-04-25 12:11] tzach commented on #2162
Same or similar problem

[code]

[2017-04-25 12:17] amoskong commented on #2310
[code]

[2017-04-25 12:33] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 04:41:55AM -0700, vladzcloudius wrote:

According to Asias a random generator has to make a lot of bad
decision for it to be hit. The fact is with 30s timeout everything
works.

--
			Gleb.

[2017-04-25 12:36] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 04:50:36AM -0700, vladzcloudius wrote:

That's not a perfect solution, this is simple solution that works. If
there is simple solution that does not rely on timer and handles downed
node well (does not relay on all nodes been alive), then implement it.
But no need to pretend that this high priority problem since it does not
manifest itself on practice.

--
			Gleb.

[2017-04-25 12:50] vladzcloudius commented on #2308
On 04/25/2017 08:33 AM, Gleb Natapov wrote:

The fact is it fails with 5s and this fact proves that it can fail with
30s (or any amount of seconds) if you try hard enough.
And it doesn't have to be a matter of a cluster size - it's just a
matter of a proper timing just as described in the issue.

[2017-04-25 12:55] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 05:50:26AM -0700, vladzcloudius wrote:

No it does not. This is not how mathematics works. It is like saying if
I can count to 10^5 I can count to 10^30.

The issue does not take in consideration that nodes will be marked down
if they cannot communicate and nodes that are down just not start
sending things when network is up. They exchange state and mark
themself up and onl

[2017-04-25 13:02] vladzcloudius commented on #2308
On 04/25/2017 08:36 AM, Gleb Natapov wrote:

Stop calling it a "solution" that "works" - Roy has demonstrated that it
not a solution and that only works for a specific cluster parameters.

Streaming do relies of the relevant Nodes to be alive - what's the
difference?
So, now the steaming requires only the Nodes that stream data to the new
Node to be alive - a straight-forward solution would requir

[2017-04-25 13:02] syuu1228 commented on #2310
@amoskong Have about to try scylla-gdb instead of distribution version of gdb?

[2017-04-25 13:04] vladzcloudius commented on #2308
On 04/25/2017 08:55 AM, Gleb Natapov wrote:

You make it sound as an advantage - that's one of the reasons why this
issue exists!

[2017-04-25 13:06] vladzcloudius commented on #2308
On 04/25/2017 08:55 AM, Gleb Natapov wrote:

In general, Gleb, could you clarify to us why 30s is "promised" to be
working while 5s doesn't? I was always wondering about this number (30s)
- where it came from?

[2017-04-25 13:09] tgrabiec commented on #2162
@tzach Can you resolve the backtrace?

[2017-04-25 13:21] amoskong commented on #2310
@syuu1228 do we have scylla-gdb for ubuntu OS? I didn't find it.

[2017-04-25 13:50] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 06:02:16AM -0700, vladzcloudius wrote:

There is a lot of ways to make incorrect configuration.

Because it relies only on relevant nodes (range owners) to be alive not all
nodes.

Roy said he cannot reproduce it with correct config. If he can I take
everything back.

--
			Gleb.

[2017-04-25 13:51] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 06:04:56AM -0700, vladzcloudius wrote:

I do not get it.

--
			Gleb.

[2017-04-25 13:52] syuu1228 commented on #2310
@amoskong It should available in 3rdparty https://s3.amazonaws.com/downloads.scylladb.com/deb/3rdparty/trusty/pool/scylladb/multiverse/s/scylla-gdb/scylla-gdb_7.11-0ubuntu1_amd64.deb
Is that inaccessible from apt?

[2017-04-25 13:58] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 06:06:42AM -0700, vladzcloudius wrote:

Cassandra. And there from field experience (and they have large
clusters). I talked about it with Asias yesterday actually. Here what he
says:

a node talk to 3 nodes every 1 seconds
1 normal node
1 seed node
1 unreachable node

the normal node is chosen randomly so, if a node is very un-luck, no one
tries to talk to him and it talks

[2017-04-25 14:06] syuu1228 commented on #2309
always auto select unused disk.

Automatically tuneup NIC sounds okay, but automatically format unused disk
sounds  dangerous...
I think current "print_usage && exit 1" approach is correct for this.
But if it's not easy to understand, maybe we should shows up an error
message something like "Please specify disks for RAID".

then always auto select invalid nic

What the method to pick default NIC f

[2017-04-25 14:37] vladzcloudius commented on #2308
On 04/25/2017 09:51 AM, Gleb Natapov wrote:

And what would be a "correct" configuration may I ask?

There were a few more sentences in my comment - could you address them
all, please, and not only the first one?

What makes 30s more correct than 5s?

[2017-04-25 14:42] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 07:37:11AM -0700, vladzcloudius wrote:

30s

The reset just discuss how breaking that is not a big deal. I do not
want to bike shading about it without knowing enough about streaming.
For instance if streaming prefers DC local replica for a range (I hope
it does!) then requiring that all the nodes in remote DC are alive to
bootstrap a node is not a reasonable requirement.

[2017-04-25 14:45] vladzcloudius commented on #2308
On 04/25/2017 09:51 AM, Gleb Natapov wrote:

You don't regret what? - The fact that you don't understand what is the
root-cause of the issue?
BTW, what you said above is incorrect - Nodes don't "exchange state and
mark themselves up and only then start communication" - they simply send
the message to other Nodes that they are up and will start the streaming
(I guess that's what you called the "com

[2017-04-25 14:55] vladzcloudius commented on #2308
On 04/25/2017 09:58 AM, Gleb Natapov wrote:

Wow! That's the best proof of correctness I've ever heard! I rest my
case! :'D
You can't be serious?! - Is it the best proof you've got? I thought you
could do better...

And what about network congestion/delay/drops? Are they unlikely too?
What Cassandra says about it? ;)

So, why 5s are not enough then? :D
Come on! Read your own description above care

[2017-04-25 14:55] vladzcloudius commented on #2308
On 04/25/2017 10:42 AM, Gleb Natapov wrote:

I say 25s - prove me wrong!

[2017-04-25 14:57] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 07:45:14AM -0700, vladzcloudius wrote:

Where did you get "regret"? I do not get what you want to say by
"You make it sound as an advantage - that's one of the reasons why this
issue exists!"

I asked Asias about that too yesterday. He said:

Asias: when the network is fixed, gossip will update the "partitioned" node with the latest token ranges
Me: before it sees all other

[2017-04-25 15:01] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 07:55:15AM -0700, vladzcloudius wrote:

I never said the protocol is mathematically correct, but just like git
hash collision then one who says it is a remote possibility can be
dismissed as a nutcase.

Everything may happen. If a node does not get updates for a long time
(but much less then 30s) it will be marked down.

No.

One gossiper message contains info about all oth

[2017-04-25 15:16] vladzcloudius commented on #2308
On 04/25/2017 10:57 AM, Gleb Natapov wrote:

:D So, at least part of my statement was correct - you do not understand
what the root-cause is. :)

I dunno why I read "get" as "regret" - my bad. ;)

Anyway, I suggest you re-read the issue again.

You see, that's problem (unless I miss something big here) - you have to
understand that gossip doesn't use "verbs" with a response - it's more
like shoot-

[2017-04-25 15:19] amoskong commented on #2310
[code]
[code]

[2017-04-25 15:27] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 08:16:21AM -0700, vladzcloudius wrote:

I reread. At no point nodes are marked down although there was a long
disconnect.

For a disconnected node to mark other nodes up it has to get an update
from at least one of them. This one update will contain all the
information about all other nodes and range movements. I has nothing to
do with how ECHO verb actually sent.

If other

[2017-04-25 15:29] vladzcloudius commented on #2308
On 04/25/2017 11:01 AM, Gleb Natapov wrote:

Ok, that's a progress! Then now, when we know that the "algorithm" is
bogus and we may stop arguing about it let's concentrate on the solution.

No it won't - the Nodes that see it (see the extension of my example
with Nodes groups) would consider it UP and kicking just fine.
Then consider that the partitioning is such that two disconnected groups
may c

[2017-04-25 15:34] syuu1228 commented on #2305
@amoskong You're correct, please send a patch witch attached on this issue.

[2017-04-25 15:36] syuu1228 commented on #2310
@amoskong did you installed 3rdparty list?
https://s3.amazonaws.com/downloads.scylladb.com/deb/3rdparty/trusty/scylla-3rdparty.list

[2017-04-25 15:40] vladzcloudius commented on #2308
On 04/25/2017 11:28 AM, Gleb Natapov wrote:

Because they don't have to be marked DOWN.

Add 30 mode Nodes to cluster in the example (that simply participate in
the gossiping protocol) and the example would still be correct.
Let's wait for @asias to comment on this.

[2017-04-25 15:53] amoskong commented on #2305
Just posted a patch to scylladb-dev list:
[PATCH scylla] scylla_setup: fix deadloop in inputting invalid option

[2017-04-25 16:13] amoskong commented on #2279
What can we do for users who tried to disable selinux by our problem script?
The upgrade can't solve the existed problem, even resetup with write setup script (applied takuya's fix [1]).

Their softlink was rewrite, we should suggest them to recover the softlink manually in Release Note?
@slivne @tzach

[1] [PATCH scylla] dist/common/scripts/scylla_selinux_setup: keep symlink on /etc/sysconfig/sel

[2017-04-25 17:05] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 08:29:36AM -0700, vladzcloudius wrote:

Just like git "algorithm" is bogus by relying on hash collision to not happen.
I never said otherwise so I do not see what the progress is.

I do not see any extension. All I see is :
  Node3 informed Node1 and Node2 about itself but none of them has received the message yet.
  However Node1 and Node2 see each other just fine.

So Nod

[2017-04-25 17:08] gleb-cloudius commented on #2308
On Tue, Apr 25, 2017 at 08:41:13AM -0700, vladzcloudius wrote:

They either see new info that contains up-to-date heartbit and new ring
state and then everything is alright or they do not see new info and then
the nodes will be marked down. There is no other options that I can see.

I do not see how.

--
			Gleb.

[2017-04-25 17:47] tzach commented on #2162
@tgrabiec from te link you attached its look like I need the source code. Is it the case?
Can you please try on your laptop and check if you see the same?
Its 100% reproducible for me

[2017-04-25 19:37] dobbs90001 commented on #1270
We are actually doing a 50/50 ratio of inserts and upserts, with next to no read queries.

We have fiddled with the page size but it hasn't really fixed the problem.

We are pushing 1M inserts / 1M upserts a minute with the 4 unit cluster.

[2017-04-25 22:36] dobbs90001 commented on #1270
Restarting with

Apr 25 22:26:45 ip-10-49-11-40 scylla[12595]:  [shard 0] storage_proxy - Failed to apply mutation from 10.49.10.22#2: std::bad_alloc (std::bad_alloc)
Apr 25 22:26:45 ip-10-49-11-40 scylla[12595]:  [shard 0] storage_proxy - Failed to apply mutation from 10.49.10.83#2: std::bad_alloc (std::bad_alloc)
Apr 25 22:26:45 ip-10-49-11-40 scylla[12595]:  [shard 1] storage_proxy - Failed to

[2017-04-25 22:49] syuu1228 opened #2312 "Compile fail occurs at boost::apply_visitor(), on Ubuntu 14.04"
*Installation details*
Scylla version (or git commit hash): 92dba05f0d0b2bac0dba80c21d1e64c7751f348f
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04

[code]

[2017-04-25 22:56] syuu1228 opened #2313 "scylla-kernel-conf doesn't install when user tries to install scylla-server only"
Since scylla-kernel-conf is requires from scylla metapackage instead of scylla-server package, when user tries to "yum install scylla-server" or "apt-get install scylla-server" scylla-kernel-conf won't install.
However, all kernel tuneup on scylla-kernel-conf is for scylla-server.

So I suppose we need to move dependency from scylla to scylla-server.
[code]

[2017-04-26 00:01] dobbs90001 commented on #1270
Second stacktrace (different)

print_backtrace_safe at /usr/src/debug/scylla-1.6.3/seastar/core/reactor.cc:2475
 (inlined by) print_with_backtrace at /usr/src/debug/scylla-1.6.3/seastar/core/reactor.cc:3323
sigabrt_action at /usr/src/debug/scylla-1.6.3/seastar/core/reactor.cc:3331
 (inlined by) operator() at /usr/src/debug/scylla-1.6.3/seastar/core/reactor.cc:3303
 (inlined by) _FUN at /usr/src/de

[2017-04-26 00:25] syuu1228 commented on #1724
I found that older AMI (ami-2d39803a = kernel 3.13.0-91-generic) has kernel panic bug, but I cannot reproduce it on newer AMI (ami-772aa961 = kernel 3.13.0-116-generic, and this is current official AMI).
Probably a bug fixed somewhere between kernel-3.13.0-91-generic - 3.13.0-116-generic, I think we only should skip tunables when kernel is < 3.13.0-116

[2017-04-26 00:34] syuu1228 commented on #2279
@amoskong Or maybe we can recover it by scylla package postinst script, when user tries to upgrade scylla. It feels bit dirty way though..
Even we don't recover it automatically, we still can printout warning message on the script.

[2017-04-26 00:54] syuu1228 commented on #1997
@slivne ping

[2017-04-26 02:53] amoskong commented on #2309
The original purpose:
- I don't want to rewrite get_unused_disks() outside scylla_setup script.
- current non-interactive mode should be smart as interactive mode (auto select uniq nic)
- re-enter interactive mode in requesting users' input (eg: has multiple nics, disks isn't assigned)

Currently Interactive mode scylla_setup only lists unused disks and users need to select by themselves. I agree

[2017-04-26 03:10] amoskong commented on #2279
Maybe just warning user in upgrading scylla, user can recover manually or confirm to recover by postinst script.

[2017-04-26 04:30] infordb opened #2314 "Question about using multiple network interfaces"
ScyllaDB Version : scylla-1.6.1-20170218.2ea4da2.el7.centos.x86_64

I am setting multiple network interface.
after starting seed node, I found scylla which listen on both listen_address and broadcast_address with two network interfaces.

[PROD-root]swfosldb01:/root>netstat -nap | grep scylla | grep LISTEN
tcp        0      0 10.x.x.101:9160       0.0.0.0:*               LISTEN      31258/scylla
tc

[2017-04-26 07:13] asias commented on #2308
The problem is we can start bootstrap streaming from a node which does not know the joining node and does not list it as in the pending ranges.

Node 1: existing node
Node 2: existing node
Node 3: joining nodee

A write from node1 is supposed to send to both Node 2 and Node3. However, Node1 does not know Node 3 as joining node. It will only send to Node2.
The write arrived later after Node2 starts

[2017-04-26 07:44] asias commented on #2308
Suppose, before the joining node starts to stream, it adds a check to make sure all the UP nodes knows the new nodes.  What if a DOWN is back after the check and becomes UP but it does not know the joining node. The same thing can happen.
BTW, we can not require all nodes must be in UP state before we allow to bootstrap a node.

[2017-04-26 08:05] gleb-cloudius commented on #2308
On Wed, Apr 26, 2017 at 12:13:33AM -0700, Asias He wrote:

But for that to not happen we wait for 30s for the info to propagate.
The question is if this is good enough.

--
			Gleb.

[2017-04-26 08:21] infordb commented on #2314
The current situation is that node#2 is trying to connect an external network(10.x.x.101/seed) through the internal network(192.x.x.102)
so  connect fail occurs

[2017-04-26 08:26] asias commented on #2308
On Wed, Apr 26, 2017 at 4:05 PM, Gleb Natapov <notifications@github.com>
wrote:

In practice, I think it is good enough, with larger cluster user is
supposed to use larger ring_delay_ms. I think ring_delay_ms is a well known
option cassandra user familiar with.

db/config.hh:748:    val(ring_delay_ms, uint32_t, 30 * 1000, Used, "Time a
node waits to hear from other nodes before joining the ring in

[2017-04-26 08:36] gleb-cloudius commented on #2308
On Wed, Apr 26, 2017 at 01:26:17AM -0700, Asias He wrote:

Sure, in theory we all agree the race is there. As Roy said it can hit
it with short ring_delay_ms easily.

--
			Gleb.

[2017-04-26 08:44] syuu1228 commented on #1724
No, I was wrong.. Looks like it just changed timing of panic, kernel-3.13.0-116-generic will panic little bit later than kernel-3.13.0-91-generic.
I misunderstood it doesn't causes panic because it doesn't occur just after installed the package, but it still happens.
So we should not run tunables any revision of kernel-3.13.0.

[2017-04-26 08:54] #1724 closed

[2017-04-26 08:54] abvgedeika opened #2315 "ubuntu: scylla_setup - No module named 'pyudev'"
*Installation details*
Scylla version (or git commit hash): https://github.com/scylladb/scylla/commit/f3609fc8134eb6a73392f2f8bcc399647bf8995f
OS : Ubuntu16

pyudev is not default library in python3

when I run scylla_setup
[code]
could we take this dependency into account for installation packages?

or all logs:
[code]

[2017-04-26 09:06] asias opened #2316 "Add comments for cluster_name in scylla.yaml"
People tried to change the cluster_name of an existing cluster and failed.  It is not allowed (we have a check during boot to see the cluster_name in the scylla.yaml is the same as we saved in system table).  Hank (https://scylladb-users.slack.com/team/hank) suggested we'd better make it clear in the scylla.yaml that it is not allowed to change the cluster_name of an existing cluster.  By default

[2017-04-26 10:54] syuu1228 opened #2317 "scylla_kernel_check reports Ubuntu 14.04's default kernel is "supported kernel version""
*Installation details*
Scylla version (or git commit hash): d4b6e430ed7b8f67a7d4ca460c9c45b3a81b289c
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-772aa961

According to our knowledge base page, Scylla requires >= 3.15 kernel but our kernel checker says we supported kernel 3.13:
[code]

Since the script calling iotune --fs-check, it's probably iotune problem.

[2017-04-26 12:07] AREXP commented on #2272
When you gonna release build with bugfix?

[2017-04-26 12:48] nyh commented on #2299
@roydahan @slivne @asias @avikivity  I believe I found the cause of this bug:

Repair starts on shard 0 (repair_start() invokes do_repair_start() on shard 0), and ends up calling repair_cf_range(), for a single cf and single vnode, also on shard 0.
This this code runs on shard 0, it cannot directly read data from other shards. So when it calls checksum_range() to find this node's checksum over thi

[2017-04-26 13:01] syuu1228 opened #2318 "scylla_kernel_check causes error on Joyent container"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): Joyent container
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

Seems we don't have /dev/loop* inside Joyent container, we don't able

[2017-04-26 13:03] syuu1228 opened #2319 "bootloader setup fails on Joyent container"
I think we need to detect container and skip the configuration
[code]

[2017-04-26 13:05] syuu1228 opened #2320 "NTP setup fails on Joyent container"
Seems the container does not have capabilities to modify system clock, so need to detect Joyent & skip setting.

[code]

[2017-04-26 13:09] vladzcloudius commented on #2308
On 04/26/2017 03:13 AM, Asias He wrote:

I was under the impression that the streamer would send a specific key
only once regardless where it read it from either memtable or sstable.
The "interesting" scenario is when the write arrives *after* the
specified key has been streamed already. Would the streamer be able to
detect such a case and re-send the new value for already streamed key?

[2017-04-26 13:10] syuu1228 opened #2321 "setup coredump fails on Joyent container"
[code]

[2017-04-26 13:11] syuu1228 opened #2322 "NIC queue setup fails on Joyent container"
[code]

[2017-04-26 13:13] vladzcloudius commented on #2308
On 04/26/2017 03:44 AM, Asias He wrote:

The question is how a streaming plan is built - it may consider only the
Nodes that "ACKED" ring state update reception.

In the scenario you proposed above if the node that has become UP and
haven't acked the state update is not going to be a part of the
streaming plan we are still good.

[2017-04-26 13:17] vladzcloudius commented on #2308
On 04/26/2017 04:26 AM, Asias He wrote:

This is all great but it's still a magic number that has to be manually
adjusted in a non-trivial installation.
The main goal of this issue is to try to answer a question if we can
eliminate the magic and how expensive it would be.

[2017-04-26 13:17] syuu1228 opened #2323 "CPU scalling governor setup fails on Joyent container"
[code]

[2017-04-26 13:20] syuu1228 opened #2324 "systemd denied to setup LIMITS on Joyent container"
Maybe we don't have such capability inside the container?

[code]

[2017-04-26 13:21] vladzcloudius commented on #2308
On 04/26/2017 04:36 AM, Gleb Natapov wrote:

Ok, it great we all agree.
This means that it's not only a theory - you simply need a cluster big
enough.
So, again, the question is can we make this work all the time instead of
demanding from the user to increase this delay after he/she consults
with his/her fortune teller... ;)

[2017-04-26 13:24] syuu1228 opened #2325 "tcp_syncookies sanity check causes warning message on Joyent container"
It actually doesn't have the sysctl entry, so we need to skip the sanity check:
[code]

[2017-04-26 13:31] asias commented on #2299
@nyh if you are not working on the fix, I will do.

[2017-04-26 13:54] nyh commented on #2299
Thanks. I need to be with the kids for a few hours now, so I can't work on it right now, so feel free to do it. Thanks! I think it should be pretty simple to fix (we're going to rewrite the whole thing anyway, so I guess the style or performance isn't an utmost concern here).

Then we'll need to ask Roy to test this again. Would have been nice to come up with a dtest as well - should be fairly eas

[2017-04-26 14:08] asias commented on #2299
Sure. Working on that.

[2017-04-26 14:12] tgrabiec commented on #1865
Here are some notes on possible implementation.

We need to be able to associate mutation_readers globally with each client query. Current read_command is not enough, because two different queries may have the same restrictions (same page), but since they were started at different times, may need to see different set of writes. Also, mutation_reader can only be used by one process at a time. So we

[2017-04-26 14:32] avikivity commented on #1865
I think more natural is to remove a reader from the cache when you start using it, then reinsert it when you're done, if it's not exhausted.  This is because readers are single-user.

[2017-04-26 14:36] #1933 closed

[2017-04-26 15:06] #2253 closed

[2017-04-26 15:40] tgrabiec opened #2326 "Sstable reads with clustering restrictions of a large partition may miss range tombstones relevant for the range"
*Installation details*
Scylla version (or git commit hash): 1.4+

Suppose the promoted index looks like this:

block0:  start=1 end=2
block1:  start=4 end=5

start and end are cell names of the first and last cell in the block.

If there is a range tombstone covering [2,3], it will be only in block0, because it is no longer in effect when block1 starts. However, slicing the index for [3, +inf], wh

[2017-04-26 15:59] tgrabiec opened #2327 "Range tombstones are not recognized properly by promoted index reader"
*Installation details*
Scylla version (or git commit hash): 1.4+

Fixed in master by commit 4742008.

Range tombstones are serialized to cell names in this place:

[code]

Note that the column set is empty. This is correct. A range tombstone only has a clustering part.

The cell name is deserialized by promoted index reader using mp_row_consumer::column, like this:

[code]

The problem is, `column

[2017-04-26 16:59] tzach commented on #2272
@AREXP if all goes well, in a day

[2017-04-26 18:45] vladzcloudius opened #2328 "system_auth: assign a separate region_group"
`system_auth` operations should not be blocked by user requests on highly loaded Nodes.
We should assign it a separate region_group like system_region_group for system tables.

[2017-04-26 18:49] vladzcloudius opened #2329 "system_auth: use a separate network QoS for it"
system_auth remote write and read operations are quite rare but are rather critical.
We should consider using a separate network QoS for them.
We may begin with passing them on a separate socket and handling them with a higher priority on a replica Node.

[2017-04-26 19:05] vladzcloudius commented on #2288
V547 is fixed by e06bafdc6c5644feb6c4f5537c83ecefe736d6f1 already.

[2017-04-26 19:07] vladzcloudius commented on #2288
V502 is fixed by a496ec7f. Apparently clang caught it too.

[2017-04-26 19:25] tgrabiec commented on #1865
2017-04-26 16:32 GMT+02:00 Avi Kivity <notifications@github.com>:

Agreed.

[2017-04-26 21:22] dorlaor commented on #1865
@avikivity @slivne in case it is the customer issue we discussed, let's assign a person and a target release

[2017-04-26 21:39] syuu1228 commented on #848
@slivne ping

[2017-04-26 21:40] syuu1228 commented on #1712
Fixed by https://github.com/scylladb/scylla-ami/commit/9e8c36dd4cfa3ee3f31d33176e4f0407b6d7b6bd

[2017-04-26 21:40] #1712 closed

[2017-04-27 00:11] dorlaor commented on #2314
@eyalgutkind @nirmaayan can you please check if this is a configuration problem or not?

[2017-04-27 05:48] tzach commented on #2315
@syuu1228 can you please take a look?

[2017-04-27 05:56] syuu1228 commented on #2315
@tzach sure, will handle in today

[2017-04-27 08:05] infordb opened #2330 "Semaphore timedout"
sometime we got Semaphore timedout in lower reactor usage
when does this time out occur ?

/var/log/messages
Apr 27 16:35:30 swfosldb02 scylla: [shard 7] storage_proxy - Exception when communicating with 192.168.200.102: Semaphore timedout
Apr 27 16:35:31 swfosldb02 scylla: [shard 7] storage_proxy - Exception when communicating with 192.168.200.102: Semaphore timedout
Apr 27 16:35:31 swfosldb02 sc

[2017-04-27 08:40] #2288 closed

[2017-04-27 08:42] tgrabiec commented on #2330
@infordb The timeout could be on the queue which limits the concurrency of reads from disk.

Checkout the value of "scylla_database_queue_length_queued_reads" counter (there should be a chart for it in the "per server" dashboard titled "Queued sstable reads")

If that is above zero, it means reads are queuing waiting for active reads to complete. If active reads take long enough to complete, the q

[2017-04-27 08:45] avikivity commented on #2330
Another related metric can be found in the per-server disk I/O dashboard. The "Query I/O Queue Delay" graph indicates how long reads are waiting for disk.

[2017-04-27 08:45] tgrabiec commented on #2330
Another possibility is a timeout on the entry of writes to the commitlog, if the disk is not keeping up with writing of commitlog segments. Checkout if "Writes blocked on commitlog" is above zero. That doesn't necessarily mean they have to timeout, but is an indication that CL is not keeping up. If the disk is slow enough, the queue may build up so large the requests may start to time out.

[2017-04-27 10:21] tgrabiec opened #2331 "Scylla aborts when writing an empty composite to sstables"
May happen when writing a range tombstone with -inf or +inf bounds, which are represented as such.

Empty composites are allowed, see org.apache.cassandra.db.composites.Composites.EmptyComposite.

[code]

The problem is in `sstable::write_column_name()`, which expects eoc to always be there:

[code]

Another problem is that `composite::from_exploded()` should not write an EOC when there are no com

[2017-04-27 10:30] amoskong opened #2332 "hardcode api_address & api_port in scylla-housekeeping and node_health_check scripts"
*Installation details*
Scylla version (or git commit hash):  666.development-0.20170412.0318dcc
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

When I changed api_address from `127.0.0.1` to ip address of eth0, it's failed to start scylla-server for housekeeping error. Users might change the api_address for calling it outside the node, eg. for monitoring.

I found both `scylla-housekeepi

[2017-04-27 11:04] tgrabiec commented on #2326
Refs #2213

[2017-04-27 11:34] tgrabiec opened #2333 "Scylla may write incorrect cell names in promoted index blocks"
*Installation details*
Scylla version (or git commit hash): 1.4+

When promoted index block starts on a range tombstone, `maybe_flush_pi_block()` is invoked like this:

[code]

from_clustering_element() always creates a composite with eoc=0. But it's a range start, so eoc may be != 0. This information is lost.

Suppose rt.start is a prefix (1, eoc=1), which sorts after the key of (1, 2). It will b

[2017-04-27 12:33] nyh commented on #2333
I think you are right :-(
Seems like maybe_flush_pi_block needs to take the eoc as paramter instead of assuming it is  composite::eoc::none as it does now?
write_range_tombstone, for example, also takes the eoc in addition to the composite.
`components_writer::consume(range_tombstone&& rt)` has the necessary information, in rt.start_kind.

[2017-04-27 12:42] tgrabiec commented on #2333
That's a possible fix. Maybe it would be cleaner to create a correct `composite` object (with appropriate eoc) from the start though.

[2017-04-27 14:53] tgrabiec commented on #1621
Fixed by 68f0df1

[2017-04-27 14:53] #1621 closed

[2017-04-27 15:15] duarten commented on #2331
How did you trigger this? Since we reached the conclusion we couldn't correctly serialize infinite bounds, we should protect against this somewhere. As a reminder, the issue was that we couldn't serialize the top bound: if written as a single component with 0 bytes in size and some EOC, it would always sort before other values; the same would happen if represented as an empty (no components) compo

[2017-04-27 15:37] tgrabiec commented on #2331
@duarten You're right that we can't represent the +inf bound. However, an empty composite is a valid composite. We could get such composite as range tombstone bounds when created from thrift, and it should sort and serialize as in Cassandra.

[2017-04-27 15:51] duarten commented on #2331
@tgrabiec I guess we can have an empty clustering key and that counts as an empty composite? As for the range tombstone via thrift, can you give an example? Not sure how the semantics of ranged deletions will be kept given this sort order. Looking at the thrift interface now, it seems like empty keys in `SliceRange` are meant to delete `count` rows instead of all rows...

[2017-04-27 16:02] tgrabiec commented on #2331
Can you point me to that part which interprets empty start this way?

https://wiki.apache.org/cassandra/API10 says this about `start` of a `SliceRange`:

[code]

Which suggests that an empty composite in start is a valid bound which sorts before all composites.

`org.apache.cassandra.thrift.CassandraServer#deleteColumnOrSuperColumn` has this:

[code]

[code]

[2017-04-27 18:12] vladzcloudius commented on #2262
Triggers may not replace the timely refresh because trigger (if it's going to be a one time event and not something that is **100% promised to eventually happen**) may get lost/fail just like a mutation write on a specific replica. However as an optimization this would do nicely indeed.

I'd like to give a short summary of the current status of this code and ask a few questions about the things ar

[2017-04-27 18:14] duarten commented on #2331
Ah, the start bound can definitely be empty. The end bound is the one I have more doubts about. https://github.com/scylladb/scylla/blob/master/interface/cassandra.thrift says:

[code]

[2017-04-27 18:34] slivne commented on #2262
I don't think we should do rf=all - cassandra had that in cassandra 2.0 and
moved from it in cassandra 2.1

http://stackoverflow.com/questions/25891353/replication-factor-to-use-for-system-auth

Searching a bit it seems that one of the reasons this was changed was that
to maintain the auth was challenging - e.g. trying to repair the
system_auth with high RF is challanging.

I think one of the item

[2017-04-27 18:43] vladzcloudius commented on #2262
On 04/27/2017 02:34 PM, Shlomi Livne wrote:

I tried to read their threads too but I couldn't find where they give
any proper reason why not to.
Here are the threads I read:

https://issues.apache.org/jira/browse/CASSANDRA-12629
https://issues.apache.org/jira/browse/CASSANDRA-826

We are talking about a quite critical piece of data - users credentials.
IMHO it doesn't matter how challenging it is

[2017-04-27 18:43] tgrabiec commented on #2262
2017-04-27 20:12 GMT+02:00 vladzcloudius <notifications@github.com>:

An important part of that proposal was to force use of RF=ALL and CL=ALL
for updates. In such case, a successful update is guaranteed to have
replicated everywhere.

For unsuccessful update we don't have to guarantee this.

Wouldn't it be safer to always perform both read and write operations above

I don't understand why a writ

[2017-04-27 18:57] vladzcloudius commented on #2262
On 04/27/2017 02:43 PM, Tomasz Grabiec wrote:

Absolutely.
However for a classic CL=ALL it may be a problem on big clusters since
Nodes may become UP and DOWN all the time and you will never succeed to
successfully write new credentials - with CL=QUORUM the data will go in
a lot faster. And if we pair it with reading with CL=QUORUM it would
provide the consistency guaranties strong enough.
For the

[2017-04-27 19:10] slivne commented on #2262
We need to figure out how we are handling multi-dc .... e.g. we need to be
able to operate in case the cluster is disconnected from another dc.

On Thu, Apr 27, 2017 at 9:57 PM, vladzcloudius <notifications@github.com>
wrote:

[2017-04-27 19:16] vladzcloudius commented on #2262
On 04/27/2017 03:11 PM, Shlomi Livne wrote:

Are you talking about everywhere_replication_strategy? Doesn't it
replicate everywhere - in all Nodes in all DCs?
In this case when DCs are disconnected they will continue to operate as
if they are separate clusters and when they are re-connected back then,
first, it's advised to run a repair on system_auth KS if there were
changes in it during the peri

[2017-04-28 03:58] infordb commented on #2330
@tgrabiec @avikivity

 reads are queuing waiting for active reads to complete like you said
while all the resources(reactor,disk,network) are not busy, I do not know why the read waits.

![image](https://cloud.githubusercontent.com/assets/10610884/25513589/2023b93c-2c11-11e7-9044-f9519c186d0f.png)

![image](https://cloud.githubusercontent.com/assets/10610884/25513597/34e0e30e-2c11-11e7-99da-68ade0

[2017-04-28 13:57] pdziepak opened #2334 "Counter cells in static rows are not converted to shards"
*Installation details*
Scylla version (or git commit hash): 14b9aa228537c4e4543f1195a1eb2475cdd73148

@elcallio has noticed that counter cells are not converted from counter updates to counter shards. This results in an abort when Scylla tries to access such cells later expecting them to contain shards.

For example:
[code]

[2017-04-28 14:00] pdziepak opened #2335 "Size of LSA zones is unbounded"
*Installation details*
Scylla version (or git commit hash): 14b9aa228537c4e4543f1195a1eb2475cdd73148

Currently, there is no upper bound on the size of LSA zone. This is bad because creating a zone is an O(N) operations with regards to the zone size. Moreover, #660 makes it even slower.

The solution is to introduce an upper bound on the LSA zone size which should be much smaller than the current

[2017-04-28 19:59] raphaelsc opened #2336 "Validate compaction strategy option values"
Compaction strategy option value should be validated when either creating or altering a column family's schema. A bad value can lead the strategy to behave very badly.

[2017-04-28 22:03] raphaelsc commented on #2260
@tzach: Apparently yes. Issued major compaction on a column family with one fully expired sstable, which results in an empty column family. I'll double check it. BTW, the patch mentioned is already merged.

[2017-04-30 07:45] slivne commented on #2262
I mean that I think the queries from the system_auth should be with
LOCAL_QUORUM and the writes should also be with LOCAL_QUORUM.

We should allow reads to work if the local dc is disconnected from the
outside world.

QUORUM in Large clusters with many DCs may effectively require you to have
connectivity
 - for example: 5 DCs each  RF=3
- QUORUM requires 8 nodes (so you must have connectivity to o

[2017-04-30 07:58] #2335 closed

[2017-04-30 08:05] #2315 closed

[2017-04-30 09:39] slivne commented on #2290
@amoskong ping

[2017-04-30 09:40] slivne commented on #2289
@amoskong ping

[2017-04-30 09:41] slivne commented on #2272
fixed in 1.6.4

[2017-04-30 09:41] #2272 closed

[2017-04-30 09:44] slivne commented on #2334
@tzach - should be included in 1.7 release notes

[2017-04-30 09:46] slivne commented on #2333
backport to 1.7 and earlier supported releases

[2017-04-30 09:46] slivne commented on #2331
backport to 1.7 and earlier supported releases

[2017-04-30 09:50] slivne commented on #2328
why not make it part of the system_region_group - ? why add another ?

[2017-04-30 09:51] slivne commented on #2329
Can't we reuse the connection for Gossip for such administration items ?

[2017-04-30 09:52] slivne commented on #2327
backport to 1.7 and earlier supported releases

[2017-04-30 09:52] slivne commented on #2326
backport to 1.7 and earlier supported releases

[2017-04-30 10:04] slivne commented on #2312
@pdziepak / @avikivity  - not sure which one should handle this - master does not compile in jenkins on 14.04

[2017-04-30 10:06] slivne commented on #2310
@amoskong - this may block 1.7 - can you please provide the additional info

[2017-04-30 10:16] slivne commented on #2135
@infordb if there is a need for additional clarification please post on this and we can reopen

[2017-04-30 10:16] #2135 closed

[2017-04-30 10:19] slivne commented on #2131
@CogumelosMaravilha we support Debian

[2017-04-30 10:19] #2131 closed

[2017-04-30 10:21] slivne commented on #2125
@andrewrong if there is a need for additional information please post and we can reopen.

[2017-04-30 10:21] #2125 closed

[2017-04-30 10:25] slivne commented on #2118
its currently not on our workplan - nevertheless if you have been able to advance, it would be great if you can send patches - it will help once we do add it

[2017-04-30 10:25] #2118 closed

[2017-04-30 10:26] slivne commented on #2073
@roydahan - @larisau - ping

[2017-04-30 10:30] slivne commented on #2069
@glommer  - I think you had a patch for that - no ?

[2017-04-30 10:32] slivne commented on #2056
@vladzcloudius - not clear what was the last comment you had - can you repost.

[2017-04-30 10:56] larisau commented on #2073
the test was changed:  https://github.com/scylladb/scylla-dtest/pull/483

[2017-04-30 11:03] #2312 closed

[2017-04-30 11:41] #2326 closed

[2017-04-30 11:49] #2073 closed

[2017-04-30 11:58] slivne opened #2337 "Systemd: move scylla-server.service to be after network-online.target instead o network.target"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

[2017-04-30 11:59] slivne commented on #2337
from @syuu1228

[2017-04-30 13:30] slivne commented on #2330
can you please export the full prometheus database so we will be able to look at additional info

[2017-04-30 14:05] glommer commented on #2069
He mentions scylla 1.3, which is no longer supported. I fixed similar
issues that were merged in 1.7

On Apr 30, 2017 6:30 AM, "Shlomi Livne" <notifications@github.com> wrote:

[2017-04-30 14:09] #2069 closed

[2017-04-30 16:35] #2260 closed

[2017-04-30 18:31] Ik-williams commented on #1755
cqlsh>  CREATE KEYSPACE "todolist" WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : '1'};

SimpleStrategy should be written without space

[2017-04-30 20:40] abvgedeika opened #2338 "we should not be able to drop system_auth/system_traces"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20170427.14b9aa2
Cluster size: 2
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu16

start cluster with 2 nodes with config
config = {'authenticator': 'org.apache.cassandra.auth.PasswordAuthenticator',
                  'authorizer': 'org.apache.cassandra.auth.CassandraAuthorizer',
                  'permissions_validity_in_ms':

[2017-05-01 00:52] abvgedeika opened #2339 "no appropriate error when AuthenticationFailed due to consistency level does not match(system_auth)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20170427.14b9aa2
Cluster size: 2
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu16

1) start cluster with 2 nodes with config
config = {'authenticator': 'org.apache.cassandra.auth.PasswordAuthenticator',
'authorizer': 'org.apache.cassandra.auth.CassandraAuthorizer',
'permissions_validity_in_ms': permissions_validity}

2) set RF=

[2017-05-01 13:11] vladzcloudius commented on #2262
On 04/30/2017 03:45 AM, Shlomi Livne wrote:

Good example, thanks.
However if, we use LOCAL_XXX for reads we may still get stuck with old
data until repair (this is true regardless the cache).

Seeing failures with QUORUM (like in your example) maybe bad but won't
accessing the data with old permission be even worse?

[2017-05-01 13:15] vladzcloudius commented on #2328
On 04/30/2017 05:50 AM, Shlomi Livne wrote:

system tables and system_auth have rather different nature, e.g.
system_auth may create pressure on memory due to some networking
conditions while system tables are completely local.
Therefore IMHO it makes more sense to separate them.

[2017-05-01 13:16] vladzcloudius commented on #2329
On 04/30/2017 05:51 AM, Shlomi Livne wrote:

As long as it ensures the prioritized handling - sure. Does it?

[2017-05-01 14:26] vladzcloudius commented on #2056
@slivne It must have got scrambled by the mailer somehow - I edited the post.

[2017-05-01 15:21] vladzcloudius commented on #2262
On 05/01/2017 09:11 AM, Vlad Zolotarov wrote:

Even if we write with QUORUM and only read with LOCAL_QUORUM we may
still have the same problem: e.g. DC1: 8, DC2: 3, QUORUM would require 6
Nodes and all of them could come from DC1. DC2 nodes would be stuck with
old credentials for a long time if they read with LOCAL_QUORUM.
Your example would also brake the WR(QUORUM) + RD(LOCAL_QUORUM) strategy...

[2017-05-01 18:44] syuu1228 commented on #1997
@slivne ping

[2017-05-02 00:08] infordb commented on #2330
@slivne
According to company regulations, I can not transfer large files to the outside world.
Do you know how to cut a metric for a certain period of time?

[2017-05-02 01:33] eyalgutkind opened #2340 "Nodetool cfstats do not provide correct information after dropping a table from a keyspace"
*Installation details*
Scylla version (or git commit hash): scylla --version
1.6.2-20170310.d41ba3b
Cluster size:3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): centos7.2

Platform (physical/VM/cloud instance type/docker): GCE
Hardware: sockets= cores= hyperthreading= memory= n1-standard-8

executing nodetool cfstats <CF> do not provide information after dropping a table from a keyspace.
Created 2 tables

[2017-05-02 01:35] raphaelsc commented on #2038
I think the problem may be that file_data_sink_impl isn't propagating failure to flush() or close() callers. Failure is only being propagated if there's another call to put(). So basically, if only one put() is needed (files smaller than buffer size such as TOC) for user + flush() + close(), it may happen the user never sees the problem. I'll check if this is true.

[2017-05-02 01:37] raphaelsc commented on #2038
However, it still doesn't explain TOC (not temporary) which wasn't truncated to actual size. When creating a new sstable, we write TOC content into temporary TOC and truncate it before starting writing content to DATA, and only when done, we rename temporary TOC.

[2017-05-02 05:55] avikivity commented on #2038
How are flush() or close() not propagating errors?  They are very simple.

[2017-05-02 06:32] raphaelsc commented on #2038
On Tue, May 2, 2017 at 2:55 AM, Avi Kivity <notifications@github.com> wrote:

It turns out I was wrong, but my concern was if a failure in write (write
behind enabled) would always be propagated through subsequent calls to
flush() or close(). That could have explained missing TOC for data and
index files, resulting from a sstable write which failed.

[2017-05-02 06:34] raphaelsc commented on #2038
On Tue, May 2, 2017 at 3:32 AM, Raphael S. Carvalho <raphaelsc@scylladb.com>
wrote:

It couldn't actually because there should be an empty temporary TOC, at
least.

[2017-05-02 06:50] asias opened #2341 "user after free in gossip mark_alive"
Use after free in mark_alive. It is seen by user with slow connections between DC when bootstrapping a node.

[code]

[2017-05-02 08:41] amoskong opened #2342 "ubuntu14.04: softlink to configure file isn't recreated after raid setup"
*Installation details*
Scylla version (or git commit hash): 1.5.4-20170427.f58104c
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04

CentOS and Ubuntu 16.04 is fine.
This problem isn't regression

Post script created a softlink in `/var/lib/scylla` directory by `ln -sfT /etc/scylla /var/lib/scylla/conf`.
But the softlink isn't lost after raid setup, scylla-server fails to start

Error

[2017-05-02 10:31] amoskong commented on #2342
Related to issue #2236

We need to backport this commit:
https://github.com/scylladb/scylla/commit/b087616a6ce6aaff521c270f4f07bef99160fd0c

@slivne

[2017-05-02 11:02] syuu1228 commented on #892
@avikivity ping

[2017-05-02 11:56] amoskong commented on #2310
The scylla-server failed to start for issue #2236, it's already fixed in branch-1.7.

The coredump occurred when I try to directly start scylla from cmdline.
I had used a cmdline from another machine, then coredump occurred. I just changed the collectd port to a unexist port '25824', the coredump is reproduced.

`It seems the coredump is caused by collectd udb/net prepare setup.`

[code]

Failed t

[2017-05-02 13:05] amoskong commented on #2310
I didn't reproduce the coredump (abort_fd/close/udp) with 1.7.rc3-0.20170501.e836964

Scylla Server can be started successfully.
[code]

[2017-05-02 13:13] amoskong commented on #2332
`api_port` is also hardcode, need to be fixed together.

[2017-05-02 13:16] amoskong opened #2343 "gdb: fail to load /usr/bin/scylla (core dumped)"
*Installation details*
Scylla version (or git commit hash): `1.7~rc2-0.20170328.9b26a57,  1.7.rc3-0.20170501.e836964, 1.6.2-20170310.d41ba3b`
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04
GDB: `GNU gdb (Ubuntu 7.7.1-0ubuntu5~14.04.2) 7.7.1`

`CentOS7` and `Ubuntu 16.04` are fine.

[code]

[code]

[2017-05-02 17:26] syuu1228 commented on #2343
Is this gdb or scylla-gdb?

[2017-05-02 21:08] abvgedeika opened #2344 "automatically grants permissions on a role to its creator"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20170427.14b9aa2

auth_test.py:TestAuth.list_permissions_test https://github.com/scylladb/scylla-dtest/blob/master/auth_test.py#L700-L738

since 2.2.0 C* ( we are 2.2 now) after objects creation like:
[code]
from 'LIST ALL PERMISSIONS' we expect to get the following rows but they are not created:
[code]

[2017-05-03 00:17] peerbelt-build commented on #2058
Any progress on this? Thanks.

[2017-05-03 02:05] vladzcloudius opened #2345 "sstables::index_reader::read_partition_data(): Assertion `!eof()' failed during c-s read test with authentication enabled"
*Installation details*
Scylla version (or git commit hash): 8b0e358d731d5c87ed0d81ad30f2bdd01db70b02
Cluster size: 3 nodes ccm cluster
OS: Ubuntu 16.02

* Create ccm 3 Nodes cluster:
[code]
* Enable authentication. Append the following lines to each scyllaX.yaml file:
[code]
* Start the cluster:
[code]
* Load the data:
[code]
* Run the READ test:
[code]
* After some time one of the nodes is going

[2017-05-03 07:26] penberg commented on #2342
Fixed by https://github.com/scylladb/scylla/commit/32cd286a5c694706010378c64ad0e03ac082a69f

[2017-05-03 07:26] #2342 closed

[2017-05-03 07:30] #2188 closed

[2017-05-03 08:57] abvgedeika opened #2346 "unauthorized user can drop system_auth from node without authorization"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20170427.14b9aa2
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu16.04

steps
1) 2 nodes joined in the cluster. first node(127.0.0.1) is with authorization parameters in config:
authenticator: org.apache.cassandra.auth.PasswordAuthenticator
authorizer: org.apache.cassandra.auth.CassandraAuthorizer

the second one(127.0.0.2) witho

[2017-05-03 09:06] penberg commented on #2342
You did all the hard work, @amoskong, thanks!

[2017-05-03 09:19] #2341 closed

[2017-05-03 09:24] slivne commented on #2346
Does this reproduce in cassandra - I think it will.

AFAIT there is no code that checks that allthe nodes have authorization
setup in the same way (or else there will not be a way to turn on/off
authorization on a running cluster via change the config and a rolling
restarts).

On Wed, May 3, 2017 at 11:58 AM, Andrei <notifications@github.com> wrote:

[2017-05-03 09:38] Citrullin commented on #600
Same issue here on the 64bit ARM Scaleway server.

[2017-05-03 10:03] avikivity commented on #600
@mxk1235 sorry for not getting back. This "killed" is usually the compiler running out of memory.  Reduce your build parallelism (need 3-4GB per concurrent compilation).

@Citrullin is your compiler also killed?

[2017-05-03 11:20] avikivity opened #2347 "Improve reporting of sstable corruption"
If an sstable is corrupted, we should report it together with its keyspace and table name.  The message catalog (`journalctl -x`) should contain a pointer to documentation about remedial action.

[2017-05-03 11:25] lukasz-golebiewski commented on #2283
Unfortunately the dump is lost as the EC2 instance it was written to was stopped. Now the issue cannot be reproduced - Scylla starts successfully.
Will reopen if it happens again.

[2017-05-03 11:25] #2283 closed

[2017-05-03 12:09] Citrullin commented on #600
@avikivity  I got a compile error message
`build/release/gen/cassandra_types.cpp:1:0: error: bad value (nehalem) for -march= switch`

I tried to build it on Ubuntu. Had some issues with the dependencies but it works with this list:
`sudo apt-get install libyaml-cpp-dev liblz4-dev libghc-zlib-dev libsnappy-dev libjsoncpp-dev thrift-compiler libantlr3c-dev antlr3 libgcc-4.9-dev g++ libgnutls-dev lib

[2017-05-03 12:13] avikivity commented on #600
Just remove -march=nehalem from ./configure.py.

[2017-05-03 12:39] asias commented on #2343
Use /opt/scylladb/bin/gdb instead of the stock gdb provided by the distro repo.

[2017-05-03 13:25] #2299 closed

[2017-05-03 14:14] amoskong commented on #2343
@syuu1228 I was using gdb, not scylla-gdb

`/opt/scylladb/bin/gdb /usr/bin/scylla core` is fine.

[2017-05-03 14:58] slivne commented on #2343
not a bug

[2017-05-03 14:58] #2343 closed

[2017-05-03 15:00] amoskong opened #2348 "Terminate Scylla in start by Ctrl-C causes two kind of coredump"
*Installation details*

Scylla version (or git commit hash):  1.7.rc3-0.20170501.e836964
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04

*Test steps*

1. start scylla cmdline:
 ulimit -n 20000
 /usr/bin/scylla --log-to-syslog 1 --log-to-stdout 1 --default-log-level info --collectd-address=127.0.0.1:25824 --collectd=1 --collectd-poll-period 3000 --network-stack posix --max-io-request

[2017-05-03 15:00] slivne commented on #2344
we are not 2.2 compatible in auth

[2017-05-03 15:11] roydahan opened #2349 "Repair - streaming reads and reads ahead are much larger than they should be (using "Fix partition estimation")"
*Installation details*
Scylla version (or git commit hash): 66e3b73b9c7aee32a9dcbd1f3434610498155f9a
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI

Following Asias patch 66e3b73b9c7aee32a9dcbd1f3434610498155f9a using a data set of 1TB, the checksum phase takes 9 hours (vs 30 minutes before the patch).
During these 9 hours we read for checksum 17.5/13/13/13 TB, we also read ahead and d

[2017-05-03 15:13] roydahan commented on #2349
@nyh , this is the issue you're currently looking into.

[2017-05-03 16:35] amoskong commented on #2310
I just reproduced this coredump (abort_fd/close/udp)  on latest 1.7.rc3-0.20170501.e836964 with a special method. `It should not occur in common usage, so not hight priority`

1. Start scylla cmdline from `/root`, it will touch an error:
/usr/bin/scylla --log-to-syslog 1 --log-to-stdout 1 --default-log-level info --collectd-address=127.0.0.1:25824 --collectd=1 --collectd-poll-period 3000 --network

[2017-05-03 17:30] vladzcloudius commented on #2308
After talking with Asias about the solution I proposed (synchronize all Nodes in the cluster before starting the streaming) he draw my attention to the fact that we may still miss writes when Node1 sends its mutation before Node3 is loaded and thus had any chance to inform Node1 about itself.

Another possibility that is actually simpler to implement is to make Node2 forward the mutation from Node

[2017-05-03 21:19] glommer opened #2350 "coredump when metrics connect"
*Installation details*
Scylla version: 8b0e358
Cluster size: 2 nodes
OS Centos7

Using i3 with 1.7-rc2. Booted a cluster of 2 nodes. Later in time, started the monitoring image. Up until that point everything was fine. When monitor connects, scylla backtraces.

Note the timestamps:
[code]

That is the time when monitoring connected. Happened to one of the nodes. That backtrace is not really useful

[2017-05-03 21:19] glommer commented on #2350
@amnonh @slivne

[2017-05-03 21:51] glommer commented on #2350
Guys - there is something strange here. I don't know how this happened, but this is not a 1.7 AMI. It is a *MASTER* AMI. I will re-check my generation procedures. The bug is there, but the code seems significantly different - which is what tipped me that something was not right.

The rpm is:
[code]

[2017-05-03 23:40] Citrullin commented on #600
So, this worked except some other issues. Compiled Apache Thrift in the versions 0.10 0.9.3 0.9.2 0.9.1. 0.9.1 is the version which works with scylla. So, compiled it with 1 CPU and got a memory allocation error.

`FAILED: g++ -MD -MT build/release/http/httpd.o -MF build/release/http/httpd.o.d -O2 -I build/release/gen -I build/release/c-ares -std=gnu++1y -g  -Wall -Werror -Wno-error=deprecated-dec

[2017-05-03 23:50] raphaelsc commented on #1900
This can be closed after 0977f4fdf8f1334d4544015c65a14f3977979f91

[2017-05-04 06:47] tzach commented on #2350
@glommer  which AMI (ami-id) are you using?

[2017-05-04 09:36] slivne commented on #2294
the following patches have been applied to remove the regression in behaviour

98d782cfe1f53873c4afae1fa0f19b5d94d8ac8d
7eedd743bf5324ab3f41da336fbce63bfee32d3f
1a77312aece718c59a618a8eca571ec96a28bda9

[2017-05-04 09:36] #2294 closed

[2017-05-04 09:43] slivne commented on #2346
@abvgedeika can you please provide the additional information

[2017-05-04 09:44] slivne commented on #2345
@tgrabiec - can this be related to the changes you have done ?

[2017-05-04 09:49] #2140 closed

[2017-05-04 09:49] asias commented on #2287
@avikivity backport to 1.5?

[2017-05-04 09:53] slivne commented on #2107
the tool uses the internal protocol of cassandra and does not use cql/thrift protocol to insert the information.
scylla is not compatible with cassandra in the internal protocol - as such the tool does not work.

possible alternatives are tools that use CQL to load CSV files
or use a tool that converts CSV to SSTABLE and then use scylla's sstableloader to load the information (or sstable refresh f

[2017-05-04 09:54] #2107 closed

[2017-05-04 09:54] #2110 closed

[2017-05-04 09:55] #2026 closed

[2017-05-04 09:56] #2018 closed

[2017-05-04 10:00] slivne commented on #2000
@andrewrong I am closing this issue if there is a need for additional information / help please post and we can reopen.

[2017-05-04 10:00] #2000 closed

[2017-05-04 10:02] avikivity commented on #2287
@tgrabiec small or singular range query.  It's O(N) in both space and time, it can't efficiently seek into a token. (sorry for delay)

In contrast partitioned_sstable_set is O(log N).

[2017-05-04 10:03] avikivity commented on #2287
@asias we'll be releasing 1.7 real soon now, and this only impacts streaming+large LCS tables.

[2017-05-04 10:24] slivne commented on #1696
@raphaelsc - we changed LCS and now have a list of L0 - is there additional work we need todo for this item (did we resolve the major issue - and now its good enough ?).

Is there anything else we need todo here ?

[2017-05-04 11:28] tomer-sandler commented on #2340
Did the same exact scenario described by Eyal on the following version:
[tomer@tomer-4cpu-15gb-centos7-loader7 ~]$ scylla --version
1.6.1-20170218.2ea4da2

I got an exception and few seconds later, the same error as Eyal got.  Maybe it would be of some use:

[tomer@tomer-4cpu-15gb-centos7-loader7 ~]$ nodetool cfstats test123
error: null
-- StackTrace --
java.util.ConcurrentModificationException

[2017-05-04 12:01] tgrabiec commented on #2345
@slivne Yes, I have a theory why. Will send a patch soon.

[2017-05-04 12:18] amnonh commented on #2340
I've checked it on Master and it works as expected, I'll try to see the problem on 1.6 and see where it comes from

[2017-05-04 13:52] amnonh commented on #2340
@elcallio can you take a look at MetricsMbean.postDeregister from the stack it seems that it tries to register an mbean instead of unregistering it

[2017-05-04 14:01] glommer commented on #2350
The AMI is custom made - but it is just master code from that HEAD I
mentioned, no extra patches.

The ID is : ami-56a3cf40 (east-1)

On Thu, May 4, 2017 at 2:47 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2017-05-04 14:15] #2327 closed

[2017-05-04 14:47] raphaelsc commented on #1696
On Thu, May 4, 2017 at 7:24 AM, Shlomi Livne <notifications@github.com>
wrote:

the problem was that we were checking for overlapping on every level every
time strategy was called, but there's still room for improvement because we
are building a list for every level from scratch, which is only a O(N)
operation. Strategy is called at interval of a compaction, so I think it
should be fine now.

[2017-05-04 16:17] pdziepak opened #2351 "Segfault when running with CQL load balancer enabled"
*Installation details*
Scylla version (or git commit hash): 1.7-rc3 (fc9db8bb033d948740888277dd15249d67b3a603)

When running with flag `--load-balance round-robin` Scylla segfaults very soon after benchmark (tried with cassandra-stress and scylla-bench) starts.

Stack trace:
[code]

[2017-05-04 16:31] abvgedeika commented on #2346
hi @slivne
in C* we can't delete drop system_auth at all, please see https://github.com/scylladb/scylla/issues/2338

here are steps with the same scenarios in C*( 127.0.0.1 - with authorizer, 127.0.0.2 - without)

[code]

[2017-05-04 16:49] #2345 closed

[2017-05-04 18:07] tzach commented on #2299
@avikivity is this commit part of 1.7?

[2017-05-04 18:09] avikivity commented on #2299
Yes

[2017-05-04 19:41] tgrabiec commented on #2328
01.05.2017 3:15 PM "vladzcloudius" <notifications@github.com> napisał(a):

On 04/30/2017 05:50 AM, Shlomi Livne wrote:

system tables and system_auth have rather different nature, e.g.
system_auth may create pressure on memory due to some networking
conditions while system tables are completely local.
Therefore IMHO it makes more sense to separate them.

Region groups control amount of memory not

[2017-05-04 21:08] vladzcloudius commented on #2328
On 05/04/2017 03:41 PM, Tomasz Grabiec wrote:

Oh, I thought it's about the allocated memory in general.
And how the limits are calculated then? How do you know how much is
"enough" for system_region_group for instance?

[2017-05-04 22:31] amoskong commented on #2343
We should mention in our document that only scylla-gdb is recommended and supported by us.

@nirmaayan @tzach

[2017-05-05 01:47] glommer opened #2352 "identify ourselves in the log as early as possible"
We had an issue in the field today, where the user was using a dns entry for their listen address / rpc address.

During scylla restart, those entries were changed - although the node IPs were kept the same. The nodes didn't start properly.

Scylla is not supposed to work in this setup. But by looking at the logs, we had no clue about what was going on, and it took us a while to figure out. We sho

[2017-05-05 08:03] tgrabiec commented on #2328
2017-05-04 23:08 GMT+02:00 vladzcloudius <notifications@github.com>:

Currently the system group is given 10 MiB.

The regular group is given 45% of all memory, and streaming is given 10%.

Technically there is no lower bound for things to work, but performance may
suffer with smaller buffers. Throughput will be reduced if the buffer is
too small, there are some constant parts of the latency of th

[2017-05-05 11:15] vladzcloudius commented on #2328
On May 5, 2017 4:03 AM, "Tomasz Grabiec" <notifications@github.com> wrote:

2017-05-04 23:08 GMT+02:00 vladzcloudius <notifications@github.com>:

Currently the system group is given 10 MiB.

The regular group is given 45% of all memory, and streaming is given 10%.

Technically there is no lower bound for things to work, but performance may
suffer with smaller buffers. Throughput will be reduced if

[2017-05-05 13:22] tgrabiec opened #2353 "Sstable scans over single-row partitions are much slower than scans within a single partition"
[code]

Within-partition scans are about 3x faster. The small-partition case needs to read a bit more data (partition header), that accounts for only 10% of more data read from disk. The per-byte throughput is still 3x better for large partition. The workloads are CPU-bound.

Some of this could be due to lack of fragment buffering across partitions.

single partition, many rows:
[code]

single-row

[2017-05-05 14:15] avikivity commented on #2353
Maybe it's saying it wants a flat mutation_reader (with new partition as a mutation_fragment).

[2017-05-06 19:27] avikivity opened #2354 "dependency loop: sstable <-> memtables"
One of the sstable::write_component() overloads accepts a memtable. In addition, memtable knows about sstables.

We should divorce the two completely, with no includes between the two modules.  Some other file can provide the glue logic.

Writing an sstable should only accept a mutation_reader, nothing else.

[2017-05-06 19:27] avikivity commented on #2354
/cc @raphaelsc

[2017-05-06 19:32] avikivity commented on #2354
btw, we should simplify the sstable writing logic. Instead of all the parameters and variants, we should have something like:

[code]
One of the configuration items could be an `std::function<future<> ()> can_seal` (defaults to `make_ready_future<>`) to take the place of `leave_unsealed`. `write_sstable()` writes the components, waits for `can_seal()`, and seals. No two-part protocol to follow. Of

[2017-05-07 08:42] slivne opened #2355 "CQL v4 support - incorrect Result for prepared statement"
*Installation details*
Scylla version (or git commit hash): 1.7.rc3

scylla's result for a prepared statement is not populating the <pk_count> field

example

[code]

reference https://git-wip-us.apache.org/repos/asf?p=cassandra.git;a=blob_plain;f=doc/native_protocol_v4.spec - "4.2.5.4. Prepared"

[2017-05-07 09:04] avikivity commented on #2355
See FIXME:

[code]

[2017-05-07 10:17] slivne opened #2356 "CQL - incorrect returned body when enabeling compression and tracing on specific requests"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

[2017-05-07 11:11] avikivity commented on #2356
Are there no additional details?

[2017-05-07 11:44] slivne commented on #919
@roydahan can we close this ?

[2017-05-07 11:48] tomer-sandler commented on #2332
The only place where I call localhost is line #177
curl -s -X GET "
http://localhost:10000/storage_service/scylla_release_version" >
$OUTPUT_PATH2/scylla-version.txt && echo "" >>
$OUTPUT_PATH2/scylla-version.txt

Both CQL + JMX ports are not hard coded, each has a variable with user can
change by proper flag when running the script:

Usage:
-p   Port to use for nodetool commands (default: 7199)
-

[2017-05-07 11:56] tomer-sandler commented on #2332
Forgot to mention that node_health_check is meant to run only locally, on
the node you are running it, not from remote.
So I don't think this issue is relevant for the node_health_check script.

On Sun, May 7, 2017 at 2:48 PM, Tomer Sandler <tomer@scylladb.com> wrote:

--
Tomer Sandler
ScyllaDB
www.scylladb.com

[2017-05-07 13:02] #2334 closed

[2017-05-07 13:07] slivne commented on #2278
@tzach - since you are a scylla-docker user - can you please reproduce

[2017-05-07 13:08] slivne commented on #2269
@vladzcloudius - can we close this was everything merged

[2017-05-07 13:09] #2228 closed

[2017-05-07 13:13] slivne commented on #2178
The reads are from system_auth as you have pointed out.

There is another issue to improve performance of reading from system_auth.

Closing this issue

[2017-05-07 13:13] #2178 closed

[2017-05-07 13:17] slivne commented on #2149
@asias ping can you please review @pdziepak suggestion to change the order

[2017-05-07 13:31] slivne commented on #1997
I think the correct method would be:

1. To ask the user in scyall-setup and allow him to abort

2. We can also warn to the log in scylla-prepare that the device setup is not optimized for networking

[2017-05-07 13:32] slivne commented on #1978
@asias ping - do you have additional info

If not we will close this and reopen once we have enough information

[2017-05-07 13:33] slivne commented on #1974
@vladzcloudius can we close this ?

[2017-05-07 13:33] slivne commented on #1973
@vladzcloudius was this done in 1.5 or post 1.5 - if so we can close.

[2017-05-07 13:34] slivne commented on #1971
@syuu1228 - did you resolve this ?

[2017-05-07 13:38] slivne commented on #1913
since this does not seem worse (is not a regression) - the issue is the timeout in cqlsh - the operation is a long running one since we are flushing information to disk.

[2017-05-07 13:39] #1900 closed

[2017-05-07 13:58] tzach commented on #2278
The following works for me(copy of your code above)
[code]
Can you please attach the `docker logs` result?

[2017-05-07 14:30] #2279 closed

[2017-05-07 19:55] leoromanovsky opened #2357 "`seeds` configuration unable to use comma separated list of URLs"
*Installation details*
Scylla version (or git commit hash): 1.7
Cluster size: 9
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04

On start up:

`May  7 19:41:47 ip-10-0-18-156 scylla:  [shard 0] seastar - Exiting on unhandled exception: std::runtime_error (Wrong format for IPv4 address cassandra-seed-a-scylla.foo.com. Please ensure it's in dotted-decimal format)`

This was expected behavior in Cassan

[2017-05-07 23:41] amoskong commented on #2279
We need a solution for broken softlink.

'--follow-symlinks' in fixed script doesn't work in broken env, because `/etc/sysconfig/selinux` is no longer a softlink. The script still can't changed the real configure file (/etc/selinux/config)

[2017-05-07 23:42] amoskong commented on #1913
So, it's not a bug?

[2017-05-08 01:07] asias commented on #1978
I can not reproduce it any more. Close it.

[2017-05-08 01:07] #1978 closed

[2017-05-08 02:44] kokizzu commented on #2278
Output in my computer (`Docker version 17.04.0-ce, build 4845c567eb`):
[code]
docker logs scylla1
https://0bin.net/paste/V6hN4SueKOMxhbKa#yC351waCzuJvk0zkPunIFnaNW879aufnW27PMIIRT2A

docker logs scylla2
https://0bin.net/paste/k0A6jksCQ64Qq1lM#8WgZDN4ZtONNpybv-F4V7QnGYwOwl8QK9EBUHl3q3aq

[2017-05-08 05:36] m0t0k1ch1 opened #2358 "Unknown errors occured when using set type"
*Installation details*
Scylla version (or git commit hash): 1.6.4-20170425.65862c4-ubuntu1
Cluster size: 1 (for debug)
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04 LTS

---

I used set type column for high speed processing in my C++ application.
The application was working without problems before using set type.
However, when I started using set type, sometimes I got unknown errors.

### What I d

[2017-05-08 06:17] tzach commented on #2357
@elcallio as far as I can see URL resolution does not apply to seeds yet, even after your commit
https://github.com/scylladb/scylla/commit/feffc2bbe1a219b31787e9ca275e00ab3cf8cbbf is it the case?

[2017-05-08 07:00] infordb opened #2359 "std::bad_alloc (std::bad_alloc)"
version : scylla-1.6.1-20170218.2ea4da2.el7.centos.x86_64

We have been doing long term write tests since 4/28
But, today(5/8) node#1 was down, other 2node was not working
now data size is about 2Tera

## node1 log
![image](https://cloud.githubusercontent.com/assets/10610884/25793379/1a4052d4-3407-11e7-84ea-f341d8df3f0f.png)

## node2 log
![image](https://cloud.githubusercontent.com/assets/1061088

[2017-05-08 07:16] syuu1228 commented on #2279
@amoskong sent a patch named "[PATCH scylla] dist/redhat: show warning on package upgrade when /etc/sysconfig/selinux is corrupted" which shows warning message when upgrading the package, if the symlink is broken.

[2017-05-08 07:24] tgrabiec commented on #2359
Non-LSA memory is constantly growing, which it shouldn't, and eventually the node runs out of memory.

Can you upload [1] the core dump to our S3 bucket for analysis?

[1] https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-problem#send-the-core-dump

[2017-05-08 07:35] tgrabiec commented on #2359
It could be due to amount of sstable metadata.

@infordb Can you run this in your data directory (refs #2125):

[code]

[2017-05-08 07:50] tzach commented on #2278
@kokizzu are you running Docker on Mac by any chance?

[2017-05-08 07:57] infordb commented on #2359
@tgrabiec
1942723410609 Data.db
13902380976 CompressionInfo.db
6294414814 Index.db
10724172 Summary.db
656656 Filter.db
358128 Statistics.db
8080 TOC.txt
3040 Scylla.db
808 TOC.txt.tmp
776 Digest.sha1
Unfortunately, the core dump file was not created because of coredump dir space shortage.

[2017-05-08 07:59] kokizzu commented on #2278
@tzach hi, no, I'm using ArchLinux/Manjaro

[2017-05-08 08:04] infordb commented on #2359
I think scylla can not sustain a 2Tera compaction load.
server spec
  --smp 8 -m 20G --max-io-requests=69
   (physical core 6core 32G memory)

[2017-05-08 08:07] slivne commented on #2357
DNS support in scylla will be part of 1.8 its not part of 1.7

On Mon, May 8, 2017 at 9:17 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2017-05-08 08:08] syuu1228 opened #2360 "Cannot get debuginfo on Ubuntu 14.04 with scylla-gdb"
*Installation details*
Scylla version (or git commit hash): 1.7
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04

Even scylla-server-dbg installed, we cannot get debugging symbol on scylla-gdb:
[code]

It's probably because separate-debug-dir is NOT /usr/lib/debug, we should pass correct PATH for ./configure when building the package:
[code]

[2017-05-08 08:34] tgrabiec commented on #2359
The total size of in-memory sstable components in your case is about 20 GiB (CompressionInfo, Index, Summary, Filter), which explains why we run out of memory.

Are you suggesting that most of that 2 TiB is not live data? After you stop the load, does the disk usage drop?

We currently don't throttle writes based on compaction backlog, there is an open issue about this #1369.

Scylla currently sto

[2017-05-08 08:42] avikivity opened #2361 "data_read_resolver::resolve() computes for hundreds of milliseconds"
Seen around this line:

[code]

We need both to add defer points, and to understand why this is so slow.

[2017-05-08 08:44] avikivity commented on #2361
/cc @pdziepak @gleb-cloudius

[2017-05-08 09:48] gleb-cloudius commented on #2361
Some other traces:

[code]

[2017-05-08 09:50] gleb-cloudius commented on #2361
[code]

[2017-05-08 09:54] gleb-cloudius commented on #2361
[code]

[2017-05-08 09:56] syuu1228 commented on #2310
@amoskong did you set SCYLLA_CONF and SCYLLA_HOME environment variables when you run scylla from cmdline? If not, it should causes the error.

[2017-05-08 10:08] syuu1228 commented on #2309
@amoskong

Ah okay, then it's very easy to implement.
But it's the feature to skip interactive NIC selector when the environment has only one NIC, so it won't work when user has multiple NICs including virtual one(like virbr0 for libvirt).

[2017-05-08 10:20] syuu1228 commented on #2309
@amoskong

I think this is not really "non-interactive mode"...
If you feel current interactive mode is too much verbose and want to setup the environment almost automatically(means excluding RAID), maybe we can add an argument to suppress question for each setup something like "--yes".

[2017-05-08 10:42] tzach commented on #2278
@penberg any idea?

[2017-05-08 12:56] Citrullin commented on #600
Checked it with 4GB ARM Node. Also not enough memory.
`[25/59] CXX build/release/core/fstream.o
FAILED: g++ -MD -MT build/release/core/prometheus.o -MF build/release/core/prometheus.o.d -O2 -I build/release/gen -I build/release/c-ares -std=gnu++1y -g  -Wall -Werror -Wno-error=deprecated-declarations -fvisibility=hidden -pthread -I. -U_FORTIFY_SOURCE   -Ifmt -DBOOST_TEST_DYN_LINK -Wno-overloaded-vi

[2017-05-08 13:15] vladzcloudius commented on #2269
@slivne As far as I can tell it was only merged into the 1.6 branch. A patch for 1.7 is still *not* merged.

[2017-05-08 13:19] vladzcloudius commented on #1974
@slivne Yes. It's fixed in the master but it's still present in both 1.6 and partially on 1.7.

[2017-05-08 13:33] #2355 closed

[2017-05-08 13:36] vladzcloudius commented on #2269
@slivne I've just noticed that it was fixed the different way in 1.6 and 1.7 - they merged the transition of `posix_net_conf.sh` to `perftune.py`, which automatically fixes this issue.
So, yes, the issue may ne safely closed.

[2017-05-08 13:38] vladzcloudius commented on #1973
@slivne It's definitely done in 1.6 and 1.7. I can't find the branch-1.5 so, I can't tell what's the status of 1.5.

[2017-05-08 13:38] avikivity commented on #600
You need about 4GB/cpu.  4G should be enough for -j1 (maybe a little more for ARM).

The file that failed is special, it's in seastar, which is called from within the main ninja file.  You can hack configure.py and change `ninja` to `ninja -j` in the place where it compiles seastar, maybe this will help.

[2017-05-08 14:43] glommer commented on #2278
the correct parameter is --seeds, not -seed.

By not finding the seeds parameter, the image assumes 127.0.0.1. It will
try to connect to it and fail.

On Sun, May 7, 2017 at 9:58 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2017-05-08 15:28] pdziepak commented on #2361
I don't see anything obviously wrong. We have O(N log N) apply and a bunch of linear operations, like freeze and unfreeze. Overall, it is not very surprising that resolve is an expensive operation, though hundreds of ms is probably a bit excessive.
It would be great to know what N is, perhaps, we are dealing with partitions much larger than they should be (e.g. coordinator's increase-limit-and-ret

[2017-05-08 15:46] avikivity commented on #2361
N was something ridiculous; there was a jmx call to get compaction history, and we implement that by internally performing a non-paging select on the compactionhistory table.  Since that node was busy resharding for a while, there was lots of history.

[2017-05-08 15:47] pdziepak opened #2362 "Significant differences between shard performance"
*Installation details*
Scylla version (or git commit hash): fc9db8bb033d948740888277dd15249d67b3a603 (branch-1.7)
Nodes: 3x i2.8xlarge
Loaders: 10x c4.8xlarge
Load:
[code]

It was noticed that in the aforementioned configuration often one or few shards are significantly slower than the others. In this particular workload this causes memtable flushes to lag behind which can cause virtual dirty to h

[2017-05-08 16:01] pdziepak opened #2363 "Timeouts are reported using exceptions"
In a Scylla cluster timeouts may be a part of (relatively) normal operation, especially when CL=ONE is used or some nodes are slower than the others.
This means that exceptions are not the right tool to report timeouts as they are both slow and do not scale. On large machines which had requests that (for unrelated reasons) started to timeout it was observed that the node eventually reached the sta

[2017-05-08 16:05] gleb-cloudius commented on #2361
On Mon, May 08, 2017 at 08:46:46AM -0700, Avi Kivity wrote:

Note that compaction history is local table, so reconciliation step can
be completely dropped.

--
			Gleb.

[2017-05-08 16:57] amoskong commented on #2310
@syuu1228 I didn't set the env variables.
Coredump isn't acceptable.

[2017-05-08 17:23] avikivity commented on #2361
Why was it even attempted, for RF=1?

[2017-05-08 17:24] cjquinon opened #2364 "Exception when communicating with xx.xx.xx.xx: Can't find a column family with UUID"
*Installation details*
Scylla version (or git commit hash): 1.6.0
Cluster size: 3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04.5 LTS

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): LXC Container
Hardware: sockets= cores=16 (restricting to 2) hyperthreading=Yes memory=512MB
Disks: (SSD/HDD, count) SSD, 6

I have configured [JanusGraph](https://

[2017-05-08 17:50] duarten commented on #2364
@cjquinon Could you please provide the Scylla logs containing an instance of the problem? If you can reproduce it consistently, maybe even set the log level to trace (run Scylla with `--default-log-level`, or use the [API](https://github.com/scylladb/scylla/blob/master/api/api-doc/system.json)) . On Ubuntu logs are kept in `/var/log/syslog`. Alternatively, you can follow the procedure [here](https

[2017-05-08 17:55] tzach opened #2365 "Fail to install Scylla 1.7 on Debian"
*Installation details*
Scylla version (or git commit hash): 1.7
Cluster size: 1
OS: Debian 8.7
[code]
Installing of Scylla 1.6 works fine

[2017-05-08 17:55] tzach commented on #2365
@syuu1228 can you please take a look?

[2017-05-08 18:37] gleb-cloudius commented on #2361
On Mon, May 08, 2017 at 10:24:04AM -0700, Avi Kivity wrote:

Range queries always goes through reconciliation code path since there
is no hash matching stage. Single key read fall back there only if there is
hash mismatch. Reconciliation code should be optimized for RF=1 case by
skipping most of the logic and jumping directly to building a result.

--
			Gleb.

[2017-05-08 19:46] roydahan commented on #919
Yes.

[2017-05-08 20:02] cjquinon commented on #2364
@duarten: I've uploaded a tar file with TRACE logs for my three nodes into your dedicated s3 instance.  My UUID is B73C18F5-7586-4E43-8F4C-B6B601ED5BE0.

[2017-05-08 21:25] duarten commented on #2364
@cjquinon Thanks! I had a look at the logs and this still seems like a manifestation of #420.

It doesn't matter that you configured JanusGraph to communicate with just one node in the cluster, as long as the cluster contains more than one Scylla instance then the keyspace will be partitioned such that each node is responsible for only part of it. If one node receives a query for a key it is not r

[2017-05-08 23:25] vladzcloudius commented on #2356
@avi It seems that we don't compress the Tracing session ID while according to the The [CQL v3 binary protocol spec](https://git-wip-us.apache.org/repos/asf?p=cassandra.git;a=blob_plain;f=doc/native_protocol_v3.spec) (see the "Tracing Flag" description in the chapter 2.2)  it should be the "first thing in the response body" and thus should be compressed as a part of the body.

The function in ques

[2017-05-09 01:49] kokizzu commented on #2278
I have replace it to `--seeds` still does the same:
[code]

[2017-05-09 02:53] cjquinon commented on #2364
@duarten -- thanks for the analysis.  We're bundling Thrift 0.9.0 with our application.

[2017-05-09 07:45] slivne commented on #2365
@syuu1228 - no need to take a look

[2017-05-09 07:55] avikivity opened #2366 "compactionhistory API implementation doesn't use paging, induces latency"
See the `get_compaction_history()` function, it should use paging (and also stream the result back to the caller rather than return a huge string).

[2017-05-09 07:56] avikivity commented on #2366
Root cause of #2361

[2017-05-09 08:22] Citrullin commented on #600
HI @avikivity,
I'm again :)
I compiled it on an 8GB machine. So, there's another place where you use some x86 specific thing.
`[56/59] CXX build/release/core/reactor.o
FAILED: g++ -MD -MT build/release/core/reactor.o -MF build/release/core/reactor.o.d -O2 -I build/release/gen -I build/release/c-ares -std=gnu++1y -g  -Wall -Werror -Wno-error=deprecated-declarations -fvisibility=hidden -pthread -I.

[2017-05-09 08:28] avikivity commented on #600
You can remove the #ifdef the #include for arm, and replace `_mm_pause()` (line 41) with `asm volatile ("yield")`.

[2017-05-09 08:55] duarten commented on #2364
@cjquinon Does the problem still happen if you configure Janus to use Astyanax instead of the Cassandra Thrift Client? It seems to [wait for schema agreement](https://github.com/Netflix/astyanax/blob/4324ba7d133983ef93c5e7311bd5346adcc0bdf4/astyanax-thrift/src/main/java/com/netflix/astyanax/thrift/ThriftClusterImpl.java#L472), while the Cassandra Thrift Client [doesn't](http://grepcode.com/file/re

[2017-05-09 12:42] cjquinon commented on #2364
@duarten -- the code you've pointed to in Astyanax doesn't wait.  It'll still throw an exception if there is a schema mismatch.

You mentioned that the underlying Thrift driver should wait for the schema to converge.  Do you know if that statement is version dependent?

[2017-05-09 13:19] duarten commented on #2364
@cjquinon The caller, [executeSchemaChangeOperation](https://github.com/Netflix/astyanax/blob/4324ba7d133983ef93c5e7311bd5346adcc0bdf4/astyanax-thrift/src/main/java/com/netflix/astyanax/thrift/ThriftClusterImpl.java#L141), does wait. Although it waits before the call, so I guess a subsequent read or write could cause the problem to happen.

I don't, I looked at version 2.1.8 of the Cassandra Thrif

[2017-05-09 13:23] duarten opened #2367 "CQL3: Delay restriction validation to better support MVs"
*Installation details*
Scylla version (or git commit hash): master

Restrictions on a Materialized View where clause are not subject to the same requirements that restrictions on normal select statements are. For example, we can restrict a clustering column without having restricted the previous ones.

The validation in `statement_restrictions` knows whether the restrictions apply to a view and ca

[2017-05-09 13:31] cjquinon commented on #2364
@duarten, Ah, was looking at the `precheckSchemaAgreement` function.  I'll give the astyanax client a try.  Similarly, it seems like we can add defensive code to the thrift libraries.

Will Scylla's CQL driver also wait for schema agreement?

[2017-05-09 13:38] duarten commented on #2364
@cjquinon I think the Janus Thrift backend could do the waiting for schema agreement, as I think the Cassandra Thrift driver has been deprecated.

There is no Scylla-specific CQL driver. Since we implement the protocol, any driver can talk with Scylla.

[2017-05-09 13:46] tomer-sandler opened #2368 "Need to detect unsupported Kernel version during Scylla installation and exit with proper message"
We encounter users deploying Scylla on old kernels, and later on opening mail threads about it.
Last one was someone in scylla-users mailing list complained about installing 1.6.3 on Ubuntu14.04 with kernel 2.6.x. which did not work.
After 4 days of emails exchange with Asias, eventually the kernel was upgraded to 3.10 and the problem was solved.

This could save a lot of head-aches to both users,

[2017-05-09 13:59] nyh commented on #2368
Do we know **why** kernel 2.6.x doesn't work? Is there a missing feature? Some known bug?
We could test for the specific features we need instead of having a specific version number we require.

[2017-05-09 14:00] gleb-cloudius commented on #2368
On Tue, May 09, 2017 at 06:46:53AM -0700, tomer-sandler wrote:

He installed Scylla on Centos6 in chrooted Centos7 environment, not on
Ubuntu14.04 and forgot to mention it at the beginning.

--
			Gleb.

[2017-05-09 14:02] cjquinon commented on #2364
@duarten -- thanks for your insight!  From our conversation, it looks like I'll need to workaround this problem for now.  I've subscribed to #1207.

[2017-05-09 14:10] tomer-sandler commented on #2368
Yet in his last reply he wrote that after upgradin to  kernel 3.10 problem
was solved.
He mentioned the Ubuntu14.04 on a different installation he did, that's why
I got my facts mixed-up.
Yes, it was with chroot, but that was not the root cause for the problem
AFAIU, the old kernel was the issue.

On Tue, May 9, 2017 at 5:00 PM, Gleb Natapov <notifications@github.com>
wrote:

--
Tomer Sandler
Scyl

[2017-05-09 14:15] gleb-cloudius commented on #2368
On Tue, May 09, 2017 at 07:11:06AM -0700, tomer-sandler wrote:

We do not know what the root cause was. We do require new kernel, but
mostly because of XFS bugs (since he was using Centos6 I am not sure he
actually used XFS, it is not default there if supported at all). He had
networking troubles but network is known to be working on kernel 2.6, so
I do think chroot had something to do with it.

-

[2017-05-09 15:25] slivne opened #2369 "CQL v4 Prepared Statments using named parameters are not not selecting correct node"
*Installation details*
Scylla version (or git commit hash):  1.7 + patch for cql4 prepared statements (on the list)
Cluster size: 3

Using cassandra 3.0.9

[code]

using scylla

[code]

as can be seen some queries are not sent to the correct node and the mutations are forwarded.

the foramt that do not work are the following:

[code]

the format that do work are:
[code]

[2017-05-09 15:35] eyalgutkind opened #2370 "Change default snitch in scylla.yaml to GossipingPropertyFileSnitch"
Currently our default snitch when installing Scylla is the SimpleSnitch.
Users using the SimpleSnitch will face issues if and when moving to multidc deployment.

Documentation mentions that for production installations users should use : GossipingPropertyFileSnitch or Ec2MultiRegionSnitch

However, it will beneficial for users and Scylla to default to the  GossipingPropertyFileSnitch snitch and pr

[2017-05-09 15:55] duarten opened #2371 "[MV] Allow clustering column based filtering"
*Installation details*
Scylla version (or git commit hash): master

A Materialized View's where clause obeys a different set of restrictions than that of a normal select statement. In particular, it allows restricting a clustering column without restricting the previous ones. For example, consider the following definitions:

[code]

While this is not a problem to verify whether a base table update

[2017-05-09 16:06] slivne commented on #848
@syuu1228 we need to make sure:
- we know how to promote these packages (previous simple attempt failed).
-  be able to rebuild them when we need to add minor versions fixes
- verify the key is good.

- I suggest we start with the non signed repo change and verify its good and then move and sign

[2017-05-09 17:11] syuu1228 commented on #848
On Wed, May 10, 2017 at 1:06 AM, Shlomi Livne <notifications@github.com>
wrote:

Does it means we will switch to aptly, but with non-signed repo?

Where can we start with, maybe test it on master?

[2017-05-09 17:21] vladzcloudius commented on #2356
@slivne @amnonh I can't reproduce the issue: I compiled the app in the enterprise ticket but it refuses to run returning the most annoying Java runtime errors. I either need an assistance with executing this application or some other way to reproduce the issue.

[2017-05-09 17:48] tzach commented on #2370
As you said, SimpleSnitch just works out of the box, while GossipingPropertyFileSnitch requires an extra step. Using the later will break Scylla simple Docker clustering for example.

[2017-05-09 18:46] Sam-I-Am-Not commented on #577
I'm not clear on something here.  On the compatibility page (http://docs.scylladb.com/cassandra-compatibility/) the feature of consistency level SERIAL says to follow here.  Does this issue imply support for SERIAL?

[2017-05-09 19:31] tgrabiec opened #2372 "Avoid entry lookups for each partition when populating cache from a range scan"
`range_populating_reader` will perform a lookup for each partition key it tries to populate. We could cache the iterator to avoid the lookups, which we don't have to perform for all but the first key if the iterator was not invalidated.

[2017-05-09 20:11] dorlaor commented on #577
@Sam-I-Am-Not you're right, it's not related to this. @tzach please fix and point SERIAL towards LWT

[2017-05-09 20:40] vladzcloudius commented on #2346
@slivne @abvgedeika There is more - in C* one can't ALTER any `system_auth` or `system_traces` table. The means that if the corresponding table has changed (e.g. was added a new column) in the new release the upgrade is simply impossible and the whole cluster has to be rebuilt from scratch - which is crazy IMO.

I suggest we don't follow the C* pattern **exactly** but rather allow the ALTER comman

[2017-05-09 20:49] vladzcloudius commented on #2346
@slivne @avi @abvgedeika In general this issue describes quite a serious security hole - this means that a malicious user may add a Node to the cluster (without authentication enabled) and by pass the authentication in the cluster. Is that right? If yes, then all authentication in scylla (and C*) is a fake! Something is really fishy here...

[2017-05-09 21:11] vladzcloudius commented on #2346
I thought about it a little more - maybe it's not a fake but in order to ensure any protection the cluster has to be strongly protected against such unauthorized Nodes, e.g. by keeping all Node in a secure VPN.

@slivne, @tzach We have to make sure that this use case is very well described somewhere in our authentication documentation.

[2017-05-10 00:13] infordb commented on #2359
@tgrabiec
1. Our total live data is about 3.5 Tera

2.  Is the index file always cached in memory?
    The index file is also quite large.

3.  Does sstable meta (CompressionInfo, Index, Summary, Filter) use non-lsa memory ?

4. if I change chunk_length_kb from 4k to 64k,  Can the std :: bad_alloc problem be solved?

[2017-05-10 00:21] dorlaor commented on #2359
On Tue, May 9, 2017 at 5:14 PM, Junghyun Park <notifications@github.com>
wrote:

This is what we believe. Can you test it?

[2017-05-10 00:33] ban4785 opened #2373 "ScyllaDB 41hour Compaction with No load(related 2359 issue)"
version : scylla-1.6.1-20170218.2ea4da2.el7.centos.x86_64

#2359
after load, ScyllaDB compacted sstables about 41hours.
below is metric info.
![41hourcompaction](https://cloud.githubusercontent.com/assets/20348151/25877995/68ac6550-3562-11e7-878f-36947779c9e8.png)

![41hourcompaction2](https://cloud.githubusercontent.com/assets/20348151/25878030/b01f74cc-3562-11e7-831a-9ff15e5d7bff.png)

**first e

[2017-05-10 04:15] syuu1228 commented on #2310
@amoskong Ah.. right. It should shows up error but shoudn't produce coredump.

[2017-05-10 06:02] tzach commented on #577
Good catch @Sam-I-Am-Not
Fixed.

[2017-05-10 06:31] tzach commented on #2346
Why should we allow ALTER?
If the code assumes a system table schema, an ALTER will kill the code.

[2017-05-10 06:34] jfilak commented on #892
ABRT will not be in charge of core dumping in Fedora26 by default. Fedora folks have decided to switch to coredumpctl and ABRT will be getting core dump files from coredumpctl.

[2017-05-10 06:37] avikivity commented on #892
Instead of conflict, perhaps "Obsoletes". It's less friendly but works.

On Mar 18, 2017 00:41, "Takuya ASADA" <notifications@github.com> wrote:

[2017-05-10 07:09] amnonh commented on #2356
Please post/email as much information as you can

On Tue, May 9, 2017 at 8:21 PM, vladzcloudius <notifications@github.com>
wrote:

[2017-05-10 07:42] gleb-cloudius commented on #2370
On Tue, May 09, 2017 at 10:49:01AM -0700, Tzach Livyatan wrote:

And in additions there is an easy procedure to switch a snitch in a
running cluster without entire cluster going down:

http://docs.datastax.com/en/cassandra/3.0/cassandra/operations/opsSwitchSnitch.html

--
			Gleb.

[2017-05-10 08:23] abvgedeika commented on #2346
A little more information.

we are not able to CREATE/DROP/ALTER table from non-authorized node. we only can 'drop keyspace system_auth;'

[code]

After adding non-authorized node and waiting a little, we can't connect to authorized node at all:

[code]