[2016-12-19 08:28] avikivity commented on #1944
Do you have bad_alloc again?

[2016-12-19 08:33] andrewrong commented on #1944
yes, It has the same problem and phenomenon

[code]

![image](https://cloud.githubusercontent.com/assets/1272833/21300579/24d879be-c5e0-11e6-89aa-787b9621b507.png)

[2016-12-19 08:48] amnonh commented on #1940
The API has limited support to a body in the request as it gets its
parameters from the query.
In your scenario, the body caused the API call to fail, but aside of that
the error can be ignored.

On Mon, Dec 19, 2016 at 4:15 AM, duanshisan <notifications@github.com>
wrote:

[2016-12-19 08:58] avikivity commented on #1944
Please send the output of `scyllatop -b -n 10 > metrics.txt`.

[2016-12-19 11:15] slivne commented on #1908
1.4.3 has been released to workaround the issue in systemd, you can upgrade to that.

Closing the issue @dahankzter if there is still an issue please update and we will reopen.

[2016-12-19 11:15] #1908 closed

[2016-12-19 11:28] tgrabiec commented on #1911
The concurrency used by the client is enough to saturate the CPU. Latency of writes is low when throughput is high (order of microseconds), so processing of the whole "batch" of writes from all concurrent clients takes little time. When flush/compaction tasks start, they can consume the CPU continuously for 2ms on average until they are preempted. This will delay polling and processing of incoming

[2016-12-19 11:37] andrewrong commented on #1944
one node don't reboot, the log is `Exiting on unhandled exception: std::runtime_error (Exception while populating keyspace 'sentrydata' with column family 'datapoints' from file '/media/bigsd/data/sentrydata/datapoints-b26f28002ee011e69b50000000000001': std::bad_alloc (std::bad_alloc))`

[metrics.txt](https://github.com/scylladb/scylla/files/660753/metrics.txt)

[2016-12-19 12:49] avikivity commented on #1944
We have `non_lsa_memory_in_use` at absurd values in some shards.  How can that be?  I though all our data was managed now.

/cc @tgrabiec @pdziepak

[2016-12-19 12:50] avikivity commented on #1944
[code]

[2016-12-19 12:54] avikivity commented on #1944
Shard 15 has the smallest amount of free memory (21MB), with 2.4GB in non-lsa memory:

[code]

[2016-12-19 13:00] avikivity commented on #1944
[code]

[2016-12-19 13:23] tgrabiec commented on #1944
@avikivity `non_lsa_used_space` shows amount of live data allocated using standard allocator, minus memory allocated by LSA. So it includes standard allocations for sstable read buffers, etc. 2.5G doesn't sound implausible.

[2016-12-19 13:29] avikivity commented on #1944
There is 2.6GB/shard; no wonder we're out of memory.

[code]

[2016-12-19 22:18] slivne opened #1945 "StorageService.TokensEndPointMap returned tokens need to be sorted"
The returned tokens are sorted lexicographiclly instead of numericlly

as an example

[code]

the correct ordering is

[code]

there are tools that rely on the returned order such as cassandra-reaper

[2016-12-20 01:38] andrewrong commented on #1944
@avikivity how to solve this problem? What is causing this problem?

[2016-12-20 08:41] avikivity commented on #1944
@andrewrong I tried to reproduce it but did not succeed.  Please generate a core dump (pkill -ABRT -x scylla) and upload it for us to analyze.

[2016-12-20 10:19] avikivity commented on #1944
@andrewrong I think the problem is that you have too much data for the node.  Scylla holds the all the Summary.db files in memory.  What is the sum of the sizes of all Summary.db files on your node?

[2016-12-20 10:28] andrewrong commented on #1944
[code]

the result is 456279166 Byte, this is about 450MB;
I use your command `pkill -ABRT -x scylla`, but It is not valid, I have run `/usr/lib/scylla/scylla_coredump_setup --dump-to-raiddir --compress`; I don't know why?

[2016-12-20 10:32] avikivity commented on #1944
450 MB is not enough to cause the server to run out of memory; perhaps there are other tables?

What do you mean "not valid"?  Does it not generate a core?

[2016-12-20 10:34] avikivity commented on #1944
Please also check Filter.db and CompressionInfo.db

[2016-12-20 10:37] andrewrong commented on #1944
Filter.db: 1626089336 byte;
CompressionInfo.db: 32465845426 byte

yes, I don't generate a core;

[2016-12-20 10:46] avikivity commented on #1944
@andrewrong CompressionInfo.db occupies 32 GB RAM; how much do you have on your servers?

to recover, boot with more RAM, and run the following CQL command:

[code]

or disable compression entirely.

[2016-12-20 10:48] avikivity commented on #1944
You are running with around 2000:1 disk:memory ratio, this is too much for ScyllaDB.

[2016-12-20 10:50] avikivity opened #1946 "Bad handling of high disk:RAM ratios"
*Installation details*
Scylla version (or git commit hash): 1.4+

Ref: #1944

Scylla loads CompressionInfo.db, Fillter.db, and Summary.db into RAM, but this can push out everything else.

We need better handling:
 - page these files to memory on demand?
 - limit total size in memory to X%, and mark the containing table as failed when exceeded?

[2016-12-20 10:54] andrewrong commented on #1944
My server have 64G memory and 64T hdd,  I give 50G memory to scylladb; I don't know the meaning for words(You are running with around 2000:1 disk:memory ratio, this is too much for ScyllaDB);
 Your means that my hdd is so bigger than my memory?

I don't give more memory to my server, I can delete my data;  How to configure the scylladb and my server?

[2016-12-20 10:59] andrewrong commented on #1944
how to solve with this problem that  I running with around with 2000:1 disk:memory ratio? And what have the effect with the parameter `chunk_length_kb `

[2016-12-20 10:59] avikivity commented on #1944
It is okay to have more disk space than memory, but there is a limit to the ratio (size(disk) / size(memory)).  Above the limit ScyllaDB cannot function.  For you, the ration is (64T / 50G) = 1280.

You can improve things by doing the following:
 - run the ALTER TABLE command above
 - restart the node with more memory (try 55 GB)

after the node compacts some data, it will reduce the memory requir

[2016-12-20 11:01] avikivity commented on #1944
ScyllaDB needs 8 bytes of RAM for every (chunk_length_kb * compression_ratio) of disk space.  The default is 4k, so if your compression ration is 4:1, it needs 8 bytes for every 1kB of disk space.  By increasing chunk_size_kb, you reduce the amount of RAM needed (it only works after compaction).

[2016-12-20 11:07] avikivity commented on #1944
@andrewrong it is even better to disable compression completely (if you have enough free disk space):

[code]

In the long run, a server with 64TB disk needs more RAM.

[2016-12-20 13:02] belliottsmith commented on #1946
You could also try compressing the CompressionInfo.db in memory.  I discussed some simple approaches in my document on https://issues.apache.org/jira/browse/CASSANDRA-7447

Admittedly they were only ideas I riffed on and did basic simulation of; it's not guaranteed they would work, but it's pretty likely CompressionInfo.db can be made materially smaller, without a whole lot of work.

Of course, I

[2016-12-20 13:16] avikivity commented on #1946
Compressing CompressionInfo is indeed easy and works well with paging, each page has the initial offset and a bunch of deltas relative to the initial offset.  We could do relative deltas but then recovering an offset is O(n) work.

Summary.db is small, but we are experimenting with reducing the sampling interval in order to reduce index reads (we can't rely), so it's growing.  Perhaps we could loa

[2016-12-20 13:38] belliottsmith commented on #1946
Well, actually the idea for compression I was riffing on was storing the delta from the "expected" compression offset, by assuming a uniform distribution of offsets).  It's probable this would permit smaller values, packing more values into a given page.  Probably with variable length compressed encodings of these values (at the time I was considering Golomb coding, but I think that could be impro

[2016-12-20 13:43] nyh commented on #1946
On Tue, Dec 20, 2016 at 3:02 PM, Benedict Elliott Smith <
notifications@github.com> wrote:

Thanks. This is a good idea, but is that the right link? I don't see there
any discussion of the CompressionInfo file?

Something we could theoretically do is to make the bloom filter smaller, at
the expense of more false-positives.
This could lead to more disk accesses per read, but if our database has
mul

[2016-12-20 13:49] belliottsmith commented on #1946
It's in the linked PDF, that's a quite dense discussion of my (fairly out-of-date) thoughts on storage format improvements.

https://issues.apache.org/jira/secure/attachment/12694441/storage_format.pdf

You're right that bloom filters could also have dynamic false positive ratios, and in fact I had entirely forgotten another ticket I had filed to discuss this.  It's actually very easy to do.  With

[2016-12-20 13:59] nyh commented on #1946
On Tue, Dec 20, 2016 at 3:38 PM, Benedict Elliott Smith <
notifications@github.com> wrote:

If we're trying to achive efficient in-memory compression, not just on-disk
compression, a very important concern is how efficiently can we do
random-access in that compressed format.

Right now, in the uncompressed compressioninfo, to read data in position p
in the before-compression file, we calculates p

[2016-12-20 14:17] belliottsmith commented on #1946
It is difficult to express these thoughts concisely and well over text, but I did attempt to suggest that it *may* be that it would be fine to simply pick a number of binary digits necessary to represent the maximum delta from your base value (in my supposed case, from start_of_page+i*(end_of_page-start_of_page)/N).

The number of binary digits could be picked globally, or locally, either providin

[2016-12-20 15:08] andrewrong commented on #1944
@avikivity

1. what configure is the most reasonable about the ration, I can learn it and better use scylladb;
2. the default value of chunk_length_kb in the scylladb is 4KB?
3. If I disable compression, how much several  times than before about the data size;
4. In my case, the chunk_length_kb:4K and my ratio is 1280, so it needs 8 bytes for every 4k/1280, Do i understand correctly?
5. why  the l

[2016-12-20 16:05] avikivity commented on #1944
1. Our recommendation is about 100:1, but it is not a hard limit, it can be larger or lower depending on your workload.  With a read-intensive load you need it higher, write-intensive can be lower.
 2. yes, it is 4kB, optimizing for read bandwidth.  On HDD, or if you don't to a lot of random reads, you can increase it.
 3. You can use `nodetool cfstats` to see the compression ratio
 4. Almost, we

[2016-12-20 17:04] syuu1228 opened #1947 ""Could not read configuration file" causes SIGSEGV on DPDK mode"
posix mode able to exit successfully, but DPDK mode causes SIGSEGV:
[code]

Seems like net::ipv4_udp::registration::unregister() triggers this:
[code]

[2016-12-20 17:09] syuu1228 commented on #1947
It also happens on " NOFILE rlimit too low".

[2016-12-20 17:57] avikivity opened #1948 "Incremental generation of CompressionInfo.db"
*Installation details*
Scylla version (or git commit hash): 1.6

Part of #1946.

Right now we hold CompressionInfo.db in memory for sstables being written, but this is completely unnecessary, we can stream them to disk incrementally.  Holding them in memory doubles memory usage with size-tiered compaction strategy.

[2016-12-20 18:21] raphaelsc commented on #1948
On Tue, Dec 20, 2016 at 3:57 PM, Avi Kivity <notifications@github.com>
wrote:

At first, I thought you were also suggesting to do incremental generation
(loading) of compression metadata after restart. What if we load summary
and compression metadata on demand for cold sstables? The problem is to
persist coldness.

[2016-12-20 19:10] tgrabiec commented on #1641
Fixed by 4357d0a6d994a07324bd2565be2c3b8ea32245d9

[2016-12-20 19:10] #1641 closed

[2016-12-20 19:27] tgrabiec opened #1949 "Add counters for RPC resource throttling"

[2016-12-21 08:38] avikivity commented on #1948
See #1946.

[2016-12-21 08:54] avikivity commented on #1944
@andrewrong were you able to make progress?

[2016-12-21 09:10] #1843 closed

[2016-12-21 09:13] andrewrong commented on #1944
@avikivity

1. I change memory limit to 55G
2. I alter table by your suggestion
3. Now the scylla still have `bad_alloc`

How to solve this problem and maintain my data;

[code]

[code]

[code]

[2016-12-21 09:16] gleb-cloudius commented on #1949
What do we want to count here? The throttling is done by not reading
from a socket, so we do not know how many messages are throttled. Do we
want to report current resource utilization? Such counters are usually
not good with infrequent sampling. Something else?

--
			Gleb.

[2016-12-21 09:22] avikivity commented on #1944
@andrewrong you can try `--smp 2 -m 55G`, until some sstables get rewritten with the new setting, then go back to larger `--smp` setting.  You should see the total size of `CompressionInfo.db` files decreasing.

[2016-12-21 09:29] andrewrong commented on #1944
@avikivity I try your suggestion; the total size of CompressionInfo.db still 32G

[2016-12-21 09:54] avikivity commented on #1944
Is the node starting without bad_allocs?  If so, as soon as some compactions finish, it will remove some CompressionInfo.db files.

[2016-12-21 09:56] avikivity commented on #1944
You can use `nodetool compactionstats` to see if there are compactions in progress.

[2016-12-21 09:58] tgrabiec commented on #1949
The goal is to be able to detect that throttling is happening and be able to correlate that with e.g. latency issues. A counter of how many times be blocked could be enough.

If we also had a counter of admitted request, we could asses if it was a one time event or we're still blocked.

Reporting current resource utilization could also be useful. It's true that accuracy varies with sampling period

[2016-12-21 10:00] andrewrong commented on #1944
@avikivity Your suggestion is valid,  the compact tasks is decreasing;  Though the size of compressionInfo.db still 32G..

[code]

[2016-12-21 10:01] tgrabiec commented on #1949
If we also add a counter for completed requests, we could derive the number of active requests by subtracting number of admitted requests.

We have similar set of counters for the CQL server, I found them useful.

[2016-12-21 10:24] avikivity commented on #1944
@andrewrong you can try to see if the latest sstable has or does not have CompressionInfo.db; the files created after ALTER TABLE should not have that component.

[2016-12-21 10:27] andrewrong commented on #1944
@avikivity  Yes, you are right,  the newest compressionInfo.db is 2016.12.19 and the size of compressioninfo.db is 31G now, It shows that your suggestion works; Thank you very much;

[2016-12-21 10:28] avikivity commented on #1944
Good to hear, please let me know when the cluster is fully recovered.

[2016-12-21 10:28] avikivity commented on #1944
You can follow #1946 to see progress on fixing the underlying issues.

[2016-12-21 10:30] avikivity opened #1950 "Metrics not working with collectd"
*Installation details*
Scylla version (or git commit hash): ~1.6
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

[code]

[2016-12-21 10:30] andrewrong commented on #1944
@avikivity Yes.

[2016-12-21 10:34] avikivity opened #1951 "Excessive memory usage during resharding"
*Installation details*
Scylla version (or git commit hash): 1.6

1.6 (and also other versions in some circumstances, but 1.6 will do it immediately after installation) will re-shard data across shards.  This involves opening all sstables on all shards, and rewriting them.  This means that memory consumption increases by a factor equal to the number of shards; in some installations this will lead t

[2016-12-21 10:35] avikivity opened #1952 "Excessive disk usage during resharding"
*Installation details*
Scylla version (or git commit hash): 1.6

Need to make sure all shards re-shard sstables in the same order, to allow disk space to be reclaimed sooner.

[2016-12-21 10:40] amnonh opened #1953 "Scylla housekeeping with systemd, should use r mode for restart and d mode for daily check"
Version 1.6 and up

In ubuntu 14, the timer script uses r mode for checking the version during restart and d mode for checking the version once a day.

This is the better behavior and should be the same for systemd support

[2016-12-21 10:42] slivne opened #1954 "rpc - client XXXX - unknown verb exception 6 ignore are logged on cluster nodes when one of them shuts down"
*Installation details*
Scylla version (or git commit hash): 1.5-rc3
Cluster size: 6

[code]

previously #1341 when we had this logging it was related to boot sequence (and was resolved by changing the boot order) now it happens in shutdown.

[2016-12-21 14:15] slivne commented on #1950
@amnonh can you please take a look

[2016-12-21 14:16] slivne commented on #1943
@tgrabiec is there anything else here - or can we close this ?

[2016-12-21 17:23] tgrabiec commented on #1943
I cannot check the perf profile after the changes due to #1909.

But I think all ideas for improvement we had were implemented.

[2016-12-21 17:26] tgrabiec commented on #1943
Well, maybe the hash could be improved like @avikivity suggested. Let's leave this open until we validate.

[2016-12-21 20:34] vladpetric opened #1955 "Scylla server allocating >16TiB of virtual space"
*Installation details*
Scylla version (or git commit hash): 1.4.3-20161216.b10dcfc
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS Linux release 7.3.1611 (Core)

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets=2 cores=36 hyperthreading=72 memory=768MiB
Disks: (SSD/HDD, count) 6 HDD in hard

[2016-12-21 20:45] avikivity commented on #1955
No, it is reserving 16 TiB of virtual address space, but only allocating 2 GiB per core.  Lines marked as `---p` are not backed by memory.

[2016-12-21 20:46] #1955 closed

[2016-12-21 20:58] vladpetric commented on #1955
So you're saying that this is expected behavior? May I ask why?

[2016-12-21 21:12] avikivity commented on #1955
We do that so that we can quickly identify by inspecting a pointer's top bits whether it belongs to the arena we allocated, or not.

[2016-12-21 21:18] #1952 closed

[2016-12-21 22:54] nyh commented on #1349
Issue #1952 was a dup of this, and fixed. So I think this issue can be closed.

[2016-12-22 08:28] slivne commented on #1788
1.5 AMI can be upgraded via the regular procedure (it installs the artifacts via the build repo and at the end places the generic repo data).

I do not think that the AMI on boot should check for release and upgrade - it will take much longer to boot an instance / cluster (we also download and install the debug version).

[2016-12-22 08:45] #1349 closed

[2016-12-22 09:06] slivne opened #1956 "Export metrics to StatsD"
https://github.com/b/statsd_spec

[2016-12-22 09:10] tzach commented on #1898
restarted with 1.5, and the problem is solvedI see a different profile
Note the read error timeout
![image](https://cloud.githubusercontent.com/assets/170200/21420583/36b1463a-c837-11e6-94a6-3fb53f4eb33f.png)

[2016-12-22 10:08] tgrabiec opened #1957 "Use lowres_clock as a base for gc_clock"
gc_clock has precision of 1 second so we could use a cheaper lowres_clock instead of system_clock.

[2016-12-22 10:58] tzach commented on #1898
interesting, when running 15m and 1h loads, there is a similar pattern of a change after ~8m, with a short drop in throughput (and load) and a better performance after
![image](https://cloud.githubusercontent.com/assets/170200/21423454/c977ff46-c845-11e6-81d6-d5c96ff662a6.png)

I upload the prometheus data to:
scylladb-users-upload.s3.amazonaws.com/37c6ad8d-d43e-4ac2-bea5-24a984ca3351/prometheus_d

[2016-12-22 11:02] slivne commented on #1898
Are we populating the data before the mixed workload

On Thu, Dec 22, 2016 at 12:58 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-12-22 11:04] tzach commented on #1898
No. The stress command is at the original issue report above

[2016-12-22 11:56] duanshisan commented on #1940
Thanks

[2016-12-22 11:56] #1940 closed

[2016-12-22 12:37] kongove opened #1958 "useradd[13618]: failed adding user 'scylla', exit code: 9"
*Installation details*
Scylla version (or git commit hash):  scylla-1.5.0-20161221.654919c.el7.cen
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.3

During the artifact test, I found an error of adding user `scylla` in journal log.
It's the second time to add scylla user, so returned error 9 (username already in use)

[code]

[code]

@syuu1228

[2016-12-22 12:43] kongove commented on #1958
We can use `getent` to check if scylla group/user exists before adding.

[code]

[2016-12-22 12:58] avikivity commented on #1958
https://www.freedesktop.org/software/systemd/man/sysusers.d.html

[2016-12-22 13:24] tzach commented on #1898
One more example
![image](https://cloud.githubusercontent.com/assets/170200/21426982/a601b38a-c85a-11e6-9a4c-0c21434fa146.png)

[2016-12-22 13:36] #1841 closed

[2016-12-22 13:49] penberg commented on #1839
/cc @nyh @avikivity @asias

Nadav sent patches to fix this on the mailing list but they have not been applied.

[2016-12-22 14:38] tgrabiec commented on #1898
Before the speedup there are a lot of cache misses and sstable reads, but no cache insertions. Then after 7 minutes cache we start seeing insertions, cache is populated, and we start to see a lot of hits and little misses, that's why performance improves:

![screenshot from 2016-12-22 15-27-16](https://cloud.githubusercontent.com/assets/283695/21428615/2ed079d0-c85b-11e6-983a-766067ebf7db.png)

It

[2016-12-22 14:43] tzach commented on #1898
Good point
The table is **not** populated in advance, and its likely that after 7min the population starting to repeat itself. Any idea how to validate this theory?

[2016-12-22 14:50] gleb-cloudius commented on #1898
On Thu, Dec 22, 2016 at 06:43:46AM -0800, Tzach Livyatan wrote:

Populate before running mixed test.

--
			Gleb.

[2016-12-22 20:15] syuu1228 commented on #1958
@avikivity seems like sysusers.d and systemd-sysusers only available on Fedora, but CentOS7 and Ubuntu 16.04 doesn't have it. So I suppose we cannot use it at this point.

[2016-12-23 01:48] ustczen commented on #693
@duarten , how about 1.5?

[2016-12-23 07:37] bobymicroby opened #1959 "nodetool drain hangs forever"
Scylla version (or git commit hash): scylla 1.4.3
Cluster size: 3
OS : CentOS

We have a fresh cluster, size 3, created just a day ago.
Executing ```nodetool drain``` hangs forever. We've had the same Behavior with 1.4.1 and 1.4.2.

Logs :
[code]

After breaking out with ``` ctrl c  ``` and doing ```nodetool status ```

[code]

After trying again to drain
[code]

[2016-12-23 09:08] penberg commented on #1959
/cc @glommer @raphaelsc @asias

We have not had `nodetool drain` changes recently and those "Connection reset by peer" warnings look harmless. You could be hitting a compaction manager shutdown hang that's fixed in master as commit 56df53f51e8739248bd1a8355a56f391319bbd22 but not backported to 1.5 or 1.4 yet.

[2016-12-23 09:14] penberg commented on #1959
@bobymicroby Can you change Scylla's log level to `debug` in `/etc/sysconfig/scylla-server` and try to reproduce the `nodetool drain` hang? Hopefully we'll get some more information on where exactly it's hanging.

[2016-12-23 09:20] avikivity opened #1960 "SSTable expiration statistics"
When we write an sstable, we can collect information about future expirations: the time when the expiration happens, the  number of bytes recovered (due to a cell being converted to a tombstone or a tombstone disappearing), and the number of tombstones removed.  To conserve space, this information would be stored in a histogram with expiration time as the key.

Compaction strategies could then con

[2016-12-23 09:44] #1764 closed

[2016-12-23 20:50] raphaelsc commented on #1960
There's a streaming histogram with estimated tombstone drop time in Statistics. It's used by C* for tombstone compaction IIRC. In addition to low disk space scenario, we could also run this logic when there's nothing to compact.

[2016-12-23 21:53] duarten commented on #693
@ustczen Unfortunately no, but  it will be fixed in 1.6.

[2016-12-24 07:14] penberg commented on #693
@duarten, which commit(s) fix the issue? Can we backport them to 1.5.x?

[2016-12-24 09:49] duarten commented on #693
@penberg Both 6bb875bdb74652ac844f5052e0458e244ef9a1df and 57f49108322e907e0896b5b4db67ca6db7366a86. Not sure if we want to backport them all, since some of fixes appear in a series with bigger changes, but I can find out which are the minimum, less intrusive set of commits that fix things and prepare the patches to be backported.

[2016-12-24 14:02] syuu1228 opened #1961 "On Ubuntu 14.04, build_dep.sh failed when multiarch(i386) package installed"
This issue pointed out by @asias ,

When i386 package installed
[code]
Then scylla-3rdparty-trusty.list doesn't works for the environment:
[code]

This is because we haven't specify architecture of the repository to amd64:
[code]

To fix the issue, we need to specify the repository as:
[code]
to limit the architecture.

[2016-12-24 14:03] syuu1228 commented on #1961
@slivne This requires to modify the .repo file on S3, is it okay to do it?

[2016-12-24 15:08] avikivity opened #1962 "Optimize single-partition small partition reads"
Right now, to read a partition (or several) we instantiate a `continuous_data_consumer` that implements a state machine, able to stop at any byte boundary when it runs out of available data, save its state, and resume when we get more data from disk.

However, when reading a small (<128k) partition from disk, non of that cleverness is needed -- we will never run out data, except when the partition

[2016-12-25 05:11] manigandham opened #1963 "Scylla setup does not list local SSD disks on Google Cloud VM, cant add manually at prompt"
*Installation details*
Scylla version: 1.5.0
OS: CentOS 7 on Google Cloud Engine (x86_64 built on 2016-12-12)

Disks:
10GB SSD persistent disk for boot/OS
375GB Local SSD for data

Devices output:
[code]

Previously under version 1.3 (our current running version), `scylla_setup` would not list any devices but still allowed entry so I could still enter `/dev/sdb` and it would work.

With #1673 the

[2016-12-25 05:29] manigandham commented on #1963
I looked up the script and ran this again, which worked fine:

[2016-12-25 05:37] dorlaor commented on #1963
Mani, so the generic scylla_setup doesn't work while the specific
raid_setup does?
Btw, better use NVMe abstraction from GCE. It's much more faster and costs
the same.

On Sat, Dec 24, 2016 at 9:29 PM, Mani Gandham <notifications@github.com>
wrote:

[2016-12-25 05:48] tzach commented on #1963
@syuu1228 can you please take a look?

[2016-12-25 05:50] manigandham commented on #1963
Hey @dorlaor

The setup process works, but the interactive script just doesn't list all the devices on a fresh VM because (as far as I can tell) it uses the `blkid` command which doesn't show unmounted disks. Since it skips the prompt if it cant find any devices, I don't have a chance to enter any disks manually.

I just work around it by directly calling the scylla_raid_setup script myself.

[2016-12-25 08:00] tzach commented on #1898
I repeated the test with a write phase before the mixed phaese:

[code]

Results shows the load on both use cases is much more study.

![image](https://cloud.githubusercontent.com/assets/170200/21470251/c2e201e6-ca88-11e6-8665-b0d4120bddf4.png)

[2016-12-25 08:00] #1898 closed

[2016-12-25 08:26] benoit-canet commented on #1963
I was the last one touching this code.

I just sent "[PATCH] scylla_setup: Use ls to list potentials block devices"
on the list to make the code specifically look for /dev/sd* /dev/vd and
/dev/xvd*
patterns.

On Sun, Dec 25, 2016 at 6:50 AM, Mani Gandham <notifications@github.com>
wrote:

[2016-12-25 08:29] benoit-canet commented on #1963
Hmm this patch is wrong because of lvm :(

On Sun, Dec 25, 2016 at 9:26 AM, Benoît Canet <benoit@cloudius-systems.com>
wrote:

[2016-12-25 08:39] benoit-canet commented on #1963
Sent a better version of the patch accounting lvm's dev mapper.

On Sun, Dec 25, 2016 at 9:26 AM, Benoît Canet <benoit@cloudius-systems.com>
wrote:

[2016-12-25 08:41] slivne commented on #1961
@syuu1228 - AFAIK for ubuntu we are using this repo only on the build -  is
that correct ? - if so its ok.

Please note that the deb repos are already set with that - so its only the
3rd parties

http://downloads.scylladb.com/deb/ubuntu/

deb  [arch=amd64] http://s3.amazonaws.com/downloads.scylladb.com/deb/ubuntu
trusty scylladb-1.5/multiverse

On Sat, Dec 24, 2016 at 4:03 PM, Takuya ASADA <notifi

[2016-12-25 09:36] avikivity commented on #1958
Ah, it was added in 7.3.

[2016-12-25 09:37] #1958 closed

[2016-12-25 09:40] avikivity opened #1964 "prometheus metrics are name seastar_* instead of scylla_*"
*Installation details*
Scylla version (or git commit hash): 1.6

/cc @amnonh

[2016-12-25 10:02] amnonh commented on #1964
@slivne please assign to me

[2016-12-25 10:03] #1963 closed

[2016-12-25 13:07] gleb-cloudius opened #1965 "reading from memtable is not considered cache hit"
*Installation details*
Scylla version (or git commit hash): 3421ebe8be96cc429b14061cd06f846fc5b5b6e1

Reading data from memtable is considered cache miss which may skew  the statistics. Only actually read from a storage should be a miss.

[2016-12-25 13:22] #1964 closed

[2016-12-25 15:29] avikivity commented on #1965
Memtables are outside cache.  We read in parallel from memtable and (cache | disk), and merge the results, so a hit in memtable can be either a cache hit or a cache miss.

[2016-12-25 15:32] gleb-cloudius commented on #1965
On Sun, Dec 25, 2016 at 07:29:38AM -0800, Avi Kivity wrote:

I know that memtable is outside of the cache, but What is important is if read causes disk access and currently cache hit
does not represent that.

--
			Gleb.

[2016-12-25 15:35] avikivity commented on #1944
@andrewrong from your earlier comment:

   		SSTable Compression Ratio: 0.157303

So compression was very effective.

You can re-enable compression with a large chunk size, for example

    ALTER TABLE sentrydata.datapoints
    WITH compression = {'sstable_compression': 'org.apache.cassandra.io.compress.LZ4Compressor', 'chunk_length_kb': 128};

and issue the `nodetool compact` command to recover s

[2016-12-25 15:38] andrewrong commented on #1944
@avikivity Thank you for your reply in this time; I will try it, I also guess this reason about this problem;

Merry Christmas!

[2016-12-25 15:42] #1944 closed

[2016-12-25 15:46] avikivity commented on #1951
We could use the following tricks to reduce memory and file descriptor usage:

 1. open every sstable on shard `generation % smp::count`; this distributes the sstables evenly, and in most cases, on the shard that they will be used
 2. once opened, open the various files and load statistics/compression/scylla.db etc.
 3. look at sharding information, and based on that, tell other shards to open
 4.

[2016-12-25 15:47] avikivity commented on #1965
Why not? whether a read hits memtable or not says nothing about the cache.

[2016-12-25 15:47] avikivity commented on #1965
Maybe you mean a read for a missing partition (which may only be present in an sstable).

[2016-12-25 15:50] gleb-cloudius commented on #1965
On Sun, Dec 25, 2016 at 07:47:15AM -0800, Avi Kivity wrote:

"Why not" what? We need a counter that represent a ratio between reads
that go to disk and those that do not. Cache hit counter looks like one,
but it is not, so we either should fix it to be or add another one that
is more accurate.

--
			Gleb.

[2016-12-25 15:51] gleb-cloudius commented on #1965
On Sun, Dec 25, 2016 at 07:48:00AM -0800, Avi Kivity wrote:

Missing partition from where?

--
			Gleb.

[2016-12-25 15:52] avikivity commented on #1965
The cache hits counter is incremented for every read that does not go to
disk.  The miss counter is incremented for every read that does go to
disk.  What does memtable have to do with it?

[2016-12-25 15:53] avikivity commented on #1965
Consider a new write, then a read for the same partition.  The partition will hit in memtable, then miss in cache, most likely hitting the bloom filter and resulting in no real disk access.

[2016-12-25 15:55] gleb-cloudius commented on #1965
On Sun, Dec 25, 2016 at 07:52:54AM -0800, Avi Kivity wrote:

If data is only in memtable why it would go to disk?

--
			Gleb.

[2016-12-25 15:55] gleb-cloudius commented on #1965
On Sun, Dec 25, 2016 at 07:53:50AM -0800, Avi Kivity wrote:

Exactly.

--
			Gleb.

[2016-12-25 19:07] duarten commented on #1965
Won't the memtable populate the cache upon being flushed? In that sense it's more like a cache hit than a miss.

[2016-12-26 07:38] slivne commented on #1965
Yet you can get a memtable hit and then a cache miss that will lead to
reading from disk in that sense its a cache miss

On Dec 25, 2016 9:07 PM, "Duarte Nunes" <notifications@github.com> wrote:

[2016-12-26 07:54] gleb-cloudius commented on #1965
On Sun, Dec 25, 2016 at 11:38:11PM -0800, Shlomi Livne wrote:

Yes, so bloom filter result is what determine here if there will be IO
(no matter if partition is in memtable or not exists at all).

--
			Gleb.

[2016-12-26 08:07] nyh commented on #1965
On Sun, Dec 25, 2016 at 5:53 PM, Avi Kivity <notifications@github.com>
wrote:

Very true - remember that the Cassandra model is that there is (supposed to
be) no read before write, so after a write, if we read the same partition,
we still need to do a full read even though we have something in the
memtable.

But maybe what bothers Gleb is that we consider this to be a "cache miss"
even if the Bloo

[2016-12-26 08:42] slivne commented on #1275
this conflicts with #1951
The solution in #1951 is different - closing this issue

[2016-12-26 08:42] #1275 closed

[2016-12-26 09:27] slivne commented on #1939
@vladzcloudius is there anything else left - can we close this ?

[2016-12-26 11:57] avikivity commented on #1080
It's relevant, but if #1541 is implemented, this is no longer needed.

[2016-12-26 14:01] vladzcloudius commented on #1939
Actually it is fixed. I'm closing it.

[2016-12-26 14:01] #1939 closed

[2016-12-27 07:41] penberg commented on #742
The patch series was reverted from master in commit https://github.com/scylladb/scylla/commit/1d9ee358f11b8299045eabfcb373d1a22558030f so I'll reopen the issue.

[2016-12-27 07:46] penberg commented on #693
@duarten Oh, those patch series are definitely too big to backport to 1.5. Thanks for the information, though!

[2016-12-27 07:50] penberg commented on #1963
@avikivity @slivne Backports?

[2016-12-27 08:40] avikivity commented on #1963
yes

[2016-12-27 10:38] penberg commented on #1963
How far back? 1.4?

[2016-12-27 10:40] avikivity commented on #1963
It only applies to new installs, so 1.5 is sufficient.

On Dec 27, 2016 12:38, "Pekka Enberg" <notifications@github.com> wrote:

[2016-12-27 12:09] slivne commented on #1953
@amnonh what is r mode and what is d mode - can you provide a bit more information

[2016-12-27 12:23] amnonh commented on #1953
the housekeeping gets a mode parameter, it needs to get the right mode according to the state of the request

[2016-12-28 02:26] infordb opened #1966 "Question about H/W spec"
Hi..
Which of the following two cases is more suitable for Scylladb?
it depends on business use case, but I would appreciate your opinion in general situation.

Case1)
8Core, 32GB memory , 2node

Case2)
4Core, 32GB memory, 3node

[2016-12-28 02:48] benoit-canet commented on #1966
Hi,

Scylla is designed to benefit well from multicore thanks to it's sharded
design
and is cpu intensive.

It scale perfectly well on multicore.

Regarding memory usage it will depend if you have hyperthreading enabled
and the number of core you have on your machine.

See Avi's advices on
https://groups.google.com/forum/#!topic/scylladb-users/j_21dRCFflo as hint

Also look at the FAQ: http://docs

[2016-12-28 02:50] benoit-canet commented on #1966
http://docs.scylladb.com/admin/

On Wed, Dec 28, 2016 at 3:48 AM, Benoît Canet <benoit@scylladb.com> wrote:

[2016-12-28 08:32] tzach commented on #1758
@syuu1228  two questions for you:
- Do I need to restart with 1.5?
- Can we fix the message for 1.6?

[2016-12-28 08:37] tzach opened #1967 "Run Scylla service as the last step of scylla_setup"
*Installation details*
Scylla version (or git commit hash): 1.5

Currently, one need to run scylla_setup, restart the server, and then run scylla as a service.
Once we remove the restart phase with #1758, the  `sudo systemctl start scylla-server`* command can be part of scylla_setup, simplify the install process for the user.

* or equivalent in each distribution

[2016-12-28 08:40] avikivity commented on #1967
A step before needs to be setup of the various parameters in `scylla.yaml`.

btw, the script is now so complicated, we better convert it to a TUI, so you can go back to a step you already did.

[2016-12-28 08:43] avikivity commented on #1967
http://urwid.org/examples/index.html

[2016-12-28 08:45] tzach commented on #1967
You are right, in most production system its a must, so running Scylla as part of setup does not make sense

[2016-12-28 08:45] #1967 closed

[2016-12-28 08:47] tzach opened #1968 "node_exporter running as root"
*Installation details*
OS (RHEL/CentOS/Ubuntu/AWS AMI): 1.5

Question: why does node_exporter runs as root?
Its better to run it as user scylla, if it can

`
$ ps -ef | grep node
root     10772     1  0 08:22 ?        00:00:00 /usr/bin/node_exporter
`

[2016-12-28 08:47] tzach commented on #1968
@amnonh ?

[2016-12-28 09:41] syuu1228 commented on #1758
@tzach if we care about overhead of SELinux permissive mode and want to disable it completely, we need restart.
For hugepage allocation we don't use DPDK mode by default, and we can allocate it dynamically, don't need restart.

What kind of message do you prefer?

[2016-12-28 10:35] nyh opened #1969 "Support Cassandra 3 sstable format"
We should support Cassandra 3's new sstable format, for two reasons:

1. It has several advantages over the Cassandra 2 sstable format which we currently use, e.g., smaller on-disk footprint without compression.
2. It will be helpful for people migrating from Cassandra 3 and could use their existing data.

Other options are possible - like an offline migration tool from Cassandra 3 to ScyllaDB, or

[2016-12-28 11:42] #1927 closed

[2016-12-28 11:44] #1923 closed

[2016-12-28 11:53] slivne commented on #1905
@yijiangnan23 can you provide more info so we can resolve this

[2016-12-28 11:59] slivne commented on #1838
@syuu1228 ping

[2016-12-28 12:03] tzach commented on #1933
@syuu1228 putting the implementation aside, we should replace the error and exit for ext4 with a warning and let Scylla runs. Otherwise, the support work is useless.

[2016-12-28 12:06] tzach commented on #1758
1. What the gain from disabling SELinux? restarting the server is a drag
2. Assuming we do need to disable SELinux, lets ask for restart just in case we actually did

[2016-12-29 04:16] honggui commented on #1750
When will we get the fixing?

[2016-12-29 04:24] honggui commented on #1969
Another reason is that COPY FROM is not working correctly yet, and then the migration from Cassandra 3.x to Scylla is not easy.

[2016-12-29 06:38] yijiangnan23 opened #1970 "http performance problem with the v1.0.2 on ubuntu 16.04"
*Installation details*
Scylla version (or git commit hash):1.0.2
Cluster size:1
OS (RHEL/CentOS/Ubuntu/AWS AMI):Ubuntu

Platform (physical/VM/cloud instance type/docker):VM
Hardware: sockets= cores=4  hyperthreading= memory=8G
Disks: (SSD/HDD, count)SSD

we have found that : the http performance is very slow if we run the v1.0.2 on ubuntu 16.04. The result is as follows:
![default](https://cloud.g

[2016-12-29 06:43] dorlaor commented on #1970
The stock Ubuntu 14.04 kernel has 250hz clock and that's the source for the
difference.
There is a 3.15 kernel you can upgrade 14.04 with which will allow 1000hz
timers, try it.

On Wed, Dec 28, 2016 at 10:38 PM, yijiangnan23 <notifications@github.com>
wrote:

[2016-12-29 06:48] yijiangnan23 commented on #1970
But our test result is that the http performance is slower when run on  ubuntu 16.04 than ubuntu 14.04 .

[2016-12-29 07:49] tzach commented on #1969
For migration, having Scylla sstableloader supporting 3.* format is a valid solution

[2016-12-29 11:20] tzach opened #1971 "install on OEL 7.3 generate an error: Error finding grub config entry"
*Installation details*
Scylla version (or git commit hash): 1.5
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): OEL 7.3, on Oracle cloud

TL;DR
`Error finding grub config entry` during install, but other then that Scylla is working.

Full log below

[code]

Packages are installed correctly
[code]

`scylla_setup` and `sudo systemctl start scylla-server` do work, but NTP install return the same `Er

[2016-12-29 11:32] infordb commented on #1966
@benoit-canet  Thank you for your feedback..  Do you mean that case1 is better than case2 ? because of total core count

[2016-12-29 11:35] slivne commented on #1970
@yijiangnan23 scylla-1.0.2 did not support ubuntu 16, we started supporting it from 1.2.
can you please test it with 1.5

can you please elaborate why you are running a load toward the admin rest api

[2016-12-29 11:41] slivne commented on #1729
@infordb can we close this - I think you ran the use case (in our office) ~2 weeks ago with a higher scylla version and did not hit this

[2016-12-29 11:42] slivne commented on #1420
@penberg ping

[2016-12-29 11:45] slivne commented on #1304
closing this issue we can reopen if there is still an issue

[2016-12-29 11:45] #1304 closed

[2016-12-29 11:54] slivne commented on #1248
@syuu1228 can you please check what other products do to overcome this - do they specify that the installed user id should be higher than 1000

[2016-12-29 11:55] slivne commented on #1227
once we have support for MV/SI it can be done by adding another index.

You can track #401

[2016-12-29 11:58] slivne commented on #936
we can reconsider this if/when btrfs will have better AIO support

[2016-12-29 12:05] slivne commented on #784
@tgrabiec added support for backtrace generation in scylladb/seastar@379e928805ea2930b8acc1138a1a3435d45c171d

[2016-12-29 12:05] #784 closed

[2016-12-29 12:10] #1788 closed

[2016-12-29 12:11] benoit-canet commented on #1966
Not an expert but one of our reasoning is favoring high end machine
because they lead to less nodes to maintains and scylla is cpu intenssive.

From the doc as a rule of thumb.

   - "Typical recommended for production: *16 GiB or 2GiB/lcore* (whichever
   is higher)"

Case1)
- 8 core * 2 for HT * 2Gig per logical core = 32GB ram used per node

total logical core count = 8 * 2 * 2 = 32

No ram lef

[2016-12-29 12:12] slivne opened #1972 "housekeeping should provide info about patch releases as well"
currently houskeeping provides information about the latest release only, that is a user on 1.4.2 will get a notification that 1.5.0 is out. however it would also be information for the user that there is a 1.4.3 that he can upgrade to.

[2016-12-29 12:13] slivne commented on #1961
@syuu1228 did you update the repo file ?

[2016-12-29 12:13] amnonh commented on #1972
Users who uses 1.4.2, should he get a notification that 1.4.3 is available, 1.5, or both?

[2016-12-29 12:18] slivne commented on #1888
@syuu1228 ping

[2016-12-29 12:19] slivne commented on #1884
@syuu1228 @amnonh - lets fix this

[2016-12-29 12:22] slivne commented on #1839
@asias - did you fix this in your series ?

[2016-12-29 12:28] slivne commented on #1758
@syuu1228 if selinux is already disabled - will we instruct to restart as well

[2016-12-29 12:31] #1742 closed

[2016-12-29 12:32] slivne commented on #1724
I think we should - @avikivity  ?

[2016-12-29 12:38] slivne commented on #1347
lets add this to the houskeeping - lets check what happens when this is run (how does it affect scylla performance)

[2016-12-29 12:39] #693 closed

[2016-12-29 12:42] slivne commented on #1972
both

On Thu, Dec 29, 2016 at 2:13 PM, Amnon Heiman <notifications@github.com>
wrote:

[2016-12-29 13:39] infordb commented on #1966
@benoit-canet
Our core is already hyper-threaded.
so case1)
 - 8core * 3Gig per logical core  = 24GB ram used per node
   8GB ram left for other things..

As a result, case1 could be  better than case2

[2016-12-29 13:49] penberg commented on #1854
@slivne Why did you close the issue? Did we decide _not_ to change the flush criteria?

[2016-12-29 14:25] #1779 closed

[2016-12-29 14:30] slivne commented on #1854
I thought we did do what we wanted to - we are flushing the oldest memtable

[2016-12-29 14:38] penberg commented on #1420
I'm not sure there's any action required here. The `scylla-kernel-conf` kernel requires procfs to be present to be able to fiddle with kernel configuration. And you probably need procfs anyway for other things to function correctly as well.

However, if someone *really* wants to avoid the package, they can avoid the super-package and install `scylla-server`, `scylla-jmx`, and `scylla-tools` packag

[2016-12-29 14:39] slivne commented on #1420
thanks

[2016-12-29 14:39] #1420 closed

[2016-12-29 15:39] avikivity opened #1973 "rpx/xps on small aws ec2 instances"
*Installation details*
Scylla version (or git commit hash): 1.5

on i2.2xlarge and below we do not dedicate a core for networking, so we should use rps/xps to balance networking cpu load across all cores.

[2016-12-29 15:40] avikivity opened #1974 "networking interrupt mitigation"
*Installation details*
Scylla version (or git commit hash): 1.5

I noticed that on aws ec2 i2.2xlarge enabling interrupt mitigation reduces interrupt processing load dramatically.

The command used was `ethtool -C eth0 rx-usecs 800`, but maybe adaptive would be better, or a different number,

[2016-12-29 15:41] amnonh opened #1975 "Metrics should support StatsD"
Supporting native statsD API would be usefull

[2016-12-29 15:43] slivne commented on #1975
duplicate of #1956

[2016-12-29 15:43] #1975 closed

[2016-12-29 16:42] vladzcloudius commented on #1974
@avikivity The above configuration is beneficial for a throughput-oriented load, when there is always a lot of received data to process and and one don't really care about the response latency. However it's most like going to hit a latency case, where you want to handle the packet as soon as possible.
So, the command above is at least not good for a general case.
The adaptive configuration would b

[2016-12-29 16:46] avikivity commented on #1974
It worked for me.  Did you enable enhanced networking when you launched the instance?  It was the ivxgbe or whatever driver.

[2016-12-29 16:53] vladzcloudius commented on #1974
AFAIK this type of instance doesn't support Enhanced Networking. I'm checking the above with the c3.8xlarge which do supports it.

[2016-12-29 16:57] avikivity commented on #1974
I'm sure I was on an i2.2xlarge.

[code]

[code]

[2016-12-29 19:27] vladzcloudius commented on #1974
For ixgbevf driver the default interrupt coalescing configuration is as follows:
[code]

Which is effectively an adaptive interrupt coalescing. The relevant code in ixgbevf driver hasn't changed  since the official ixgbevf-2.15. Bellow are code snippets from the `net-next` tree:

[code]

So, like I suspected the dynamic coalescing is enabled by default and your configuration disabled it.
Like I al

[2016-12-29 19:31] vladzcloudius commented on #1974
@avikivity @slivne Could you clarify what's the idea behind this ticket? Enable the adaptive interrupt mitigation? If yes, then this issue may be closed.

[2016-12-29 19:32] vladzcloudius commented on #1973
@avikivity This is done by the posix_net_config.sh script. What is the issue exactly?

[2016-12-29 21:02] vladzcloudius opened #1976 "system_traces and system_auth tables creation may trigger issue #420"
*Installation details*
Scylla version (or git commit hash): 1.4 (b10dcfc5f60fc65a834143f83d814e8ba6856247), master (436ce7ae4902594f74410ac6a9519f0379099c64)
Cluster size: 2+

*Description*
When a scylla cluster of 2 or more is created by simultaneous creation of all Nodes the creation of tables from `system_auth` and `system_traces` keyspaces may trigger issue #420.

The issue has been reproduced

[2016-12-29 23:09] kongove opened #1977 "segfault in Longevity - branch-1.6"
*Installation details*
Scylla version (or git commit hash):  1.6.rc0-20161229.01737a5
https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/branch-1.6/3/scylla.repo
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

Jenkins job: [job/scylla-1.6-longevity-gce/15/](http://jenkins.cloudius-systems.com:8080/job/scylla-1.6-longevity-gce/label=master/15/consoleFull
)

I'm trying to r

[2016-12-30 00:58] asias opened #1978 "nodetool repair: java.lang.IllegalStateException: Timer already cancelled"
I saw this error from time to time.
[code]

[2016-12-30 08:30] penberg commented on #1854
@slivne So which commit(s) in master does that? I'm pretty sure we did _not_ merge that part of @glommer's series.

/cc @tgrabiec

[2016-12-31 21:10] slivne commented on #1854
@penberg you are right, my mistake - I thought we had reopenning

[2017-01-01 07:55] tzach opened #1979 "Reporting Scylla version over metrics"
*Installation details*
Scylla version (or git commit hash): 1.5

Reporting scylla version as a metric will make it easier for a monitoring server (like Grafana / Prometheus)  to present the right dashboard per scylla version.
Its also useful to monitor upgrades, and the affect of upgrades from using monitoring tools

[2017-01-01 07:57] avikivity commented on #1966
case 1 has 16 cores and 64 GB RAM spread across the cluster (and presumably 2 disks)
case 2 has 12 cores and 96 GB RAM spread across the cluster (and presumably 3 disks)

If your load is cpu bound, then case 1 is better; if it is I/O bound, then case 2 is better.

[2017-01-01 09:43] avikivity commented on #1977
Please install scylla-debug on test machines so we can get better backtraces.

[2017-01-01 09:57] avikivity commented on #1977
[code]

[2017-01-01 09:59] avikivity commented on #1977
[code]

[2017-01-01 10:05] gleb-cloudius commented on #1977
On Sun, Jan 01, 2017 at 01:57:38AM -0800, Avi Kivity wrote:

is 4ca58959ad139898cae97d753826bcf7b743551e there?

--
			Gleb.

[2017-01-01 11:20] tzach opened #1980 "Update metrics names to 1.6 standard with a sed script"
*Installation details*
Scylla version (or git commit hash): 1.6

In Scylla 1.6 metrics name are updated to a new format https://github.com/scylladb/scylla/issues/1964
While https://github.com/scylladb/scylla-grafana-monitoring users will get updated dashboards, consumers of collectd metrics or users with their own dashboards will have to do the change themselves.

To help these users, we should pr

[2017-01-01 11:22] nyh commented on #1839
Avi didn't like that my patch adds more uses for "wrapping_range" - apparently he'd like those to be phased out, not used more, even though here it would definitely be a correct use.

I can fix this code to use *two* subtractions of half-lines instead of one subtraction of a wrapping range (with the added complication that the user-specified token range might itself be wrapping). @avikivity, @penb

[2017-01-01 11:30] tzach commented on #1980
@amnonh ?

[2017-01-01 12:00] avikivity commented on #1839
yes

[2017-01-01 13:33] nyh commented on #1839
Ok, I think this is a mistake, but I'll do it.

Basically instead of just using code for wrapping ranges which we already have and already tested, now I need to re-invent the same wrapping-range support in ad-hoc code. Remember that the user-specified range may wrap (as is conventional in Cassandra), so it is a wrapping_range par excellence. I don't understand why you want to not use wrapping_rang

[2017-01-01 14:00] avikivity commented on #1839
If you think it's a mistake please repost the patch and I'll have a
second look.

[2017-01-01 14:13] nyh commented on #1839
The patch was a trivial one-liner (changing one wrongly typed "nonwrapping_range" to a "wrapping_range"), but also required a preparation patch to allow subtract(), which already internally worked on a wrapping range, to officially support one. See
https://groups.google.com/d/topic/scylladb-dev/K3gk3esU304/discussion

[2017-01-02 09:05] avikivity commented on #1839
I re-read, and I don't think it's a correct use of wrapping_range.  If you want a range's complement, say so, the trick of swapping start and end and using a wrapping range is hacky (IMO).

Moreover, you're looking for intersections there, and using complement+subtract.  It's better to just write and use intersection() instead.

[2017-01-02 09:58] tzach opened #1981 "Export aggregated metrics as a way to reduce the number of metrics"
*Installation details*
Scylla version (or git commit hash): 1.5

When using hosted monitoring systems, like hostedgraphite, cost is a function of the number of metrics per second. With per-core metrics, large clusters will generate a lot of metrics per sec.

To reduce the volume of metrics Scylla should:
- export aggregate metrics (for example for reactor load)
- control the exported metrics, allo

[2017-01-02 10:00] slivne commented on #1981
I think we have a way to control metrics (we disable the internal
communication by default) - @amnonh  ?

On Mon, Jan 2, 2017 at 11:59 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2017-01-02 10:36] tzach opened #1982 "Set exported metrics level from a config file"
*Installation details*
Scylla version (or git commit hash): 1.6

When using aggregated metrics (#1981) it's useful to set the system **not** to send per-core metrics. This is currently possible using REST API, but using the REST after each restart is a hustle.
A better UI will be to have a config to enable/disable metrics while keeping the option to override it in runtime using REST.

[2017-01-02 11:09] nyh commented on #1839
On Mon, Jan 2, 2017 at 11:06 AM, Avi Kivity <notifications@github.com>
wrote:

"incorrect" and "hacky" are not the same thing.
The complement was actually a tiny bit incorrect (the "inclusive" flag
should be reversed) but the swapping start and end was mostly right.

In this case, we truely have a wrapping range, coming from the user, so
it's not surprising that using the existing machinary for wr

[2017-01-02 11:41] avikivity commented on #1839
If the range started out as wrapped around from the user, then yes it's correct.  Still, I want to unwrap those as soon as possible, because they are hard to get right.

[2017-01-02 12:43] amnonh opened #1983 "io_queue metric should not contain the shard number"
Ver 1.6

With the changes made in the metrics for version 1.6 the type_instance of the collectd is concatenated to the metric name instead of passed as an attribute.

This change breaks the dashboard, as there is no way now to sum over all the queues.
To solve this the owner should be removed from the queue name, it's redundant and appears in the shard attribute.

[2017-01-02 13:42] nyh commented on #1839
On Mon, Jan 2, 2017 at 1:09 PM, Nadav Har'El <nyh@scylladb.com> wrote:

I tried very hard to test this case, and couldn't get it to happen in
practice.

Turns out that commit 4ed049739a2778b76b420d240da890b56f5e1e34 in
scylla-jmx broke the handling of the startToken/endToken support, and it no
longer provides the startToken/endToken paramters as the code expects. I'll
need to fix that before I can

[2017-01-02 13:51] tzach commented on #803
@slivne is it part of 1.6?

[2017-01-02 16:03] noamha-ken commented on #792
Tested it again:
- Scylla AMI 1.5
- AWS: c3.8xlarge
- 3 nodes cluster
- 5 stresses

At first we had bad performance, but that was due to not using enhanced network.
Once we used a VPC with enhanced network these are the averages we got:
[code]

High max latency was when stress tool started running, and is probably due to a glitch in the stress tool.

[2017-01-02 16:04] #792 closed

[2017-01-02 16:19] slivne opened #1984 "Scylla AMI - warn users not running in VPC as Enhanced Networking will not be enabled"
Scylla AMI supports Enhanced Networking. To utilize that - the user must select an instance that supports Enhanced Networking and use VPC.

Scylla AMI can check the instance type and if the instance is running in VPC (using meta-data) or check the instance type using meta-data and the interfaces once the instance start and warn the user that he will not be getting the best performance

[2017-01-02 16:35] slivne commented on #1980
As discussed - lets start by collecting the info and pasting the diff between 1.5 and 1.6 and then work on what extra we can do

[2017-01-02 16:56] slivne opened #1985 "1.6 longevity crash"
*Installation details*
Scylla version (or git commit hash): 1.6 (01737a51a9723c0cffb99513b2629d36a81a7c36)
it does not include 0ccdbbf1af9b75ce42a1651776f8ef68342c2834 "storage_proxy: do not deref unengaged stdx:optional "
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI

[code]

not clear to me if its related to 0ccdbbf1af9b75ce42a1651776f8ef68342c2834 or something else - rerunning a build on 1.6

[2017-01-02 18:50] tzach commented on #792
@noamha-ken did you test Cassandra on the same setup?

[2017-01-03 09:21] tgrabiec opened #1986 "Writes to system keyspace tables are bypassing commitlog"
The commitlog is initialized after system tables are populated, so `database::_commitlog` is `nullptr` at that time, and all those tables will run without commitlog.

[code]

[code]

[2017-01-03 09:26] slivne commented on #1986
can this explain the issue we have with batchlog replay test following the
update of calle to 3.X

extract from "Build failed in Jenkins: scylla-master-dtest »
monster,release,1 #228"

* batch_test.TestBatch.replay_after_schema_change_test*

 - changes to scylla-tools-java (nodetool flush) are not flushing system
tables any more. Once a killed node is restarted the batchlog + commitlog
are replaye

[2017-01-03 09:29] tgrabiec commented on #1986
@slivne Yes.

[2017-01-03 09:40] slivne commented on #1816
scheduling fstrim #1347

[2017-01-03 09:42] tgrabiec commented on #1759
Fixed by 5ea235e3e88d0a223a817c8f119bde00b174e00c

[2017-01-03 09:42] #1759 closed

[2017-01-03 10:59] amnonh opened #1987 "scylla housekeeping missing uuid when no setup is run"
Version 1.6

the uuid file is created in scylla_setup, on upgrade or when the scylla_setup is not used the uuid file is missing

[2017-01-03 12:35] tgrabiec commented on #1834
It has been de-prioritized since it seems relatively unlikely to cause problems.

[2017-01-03 13:36] slivne opened #1988 "storage_proxy_replica counters seem incorrect - some of them have negative valued / others are not incremenented"
Version: 1.6

some metrics seem incorrect

Please note this is via the collectd interface not the prometheus interface

not sure if its related to #1950 - it seems unrelated

[code]

[2017-01-03 13:53] gleb-cloudius commented on #1988
On Tue, Jan 03, 2017 at 05:36:40AM -0800, Shlomi Livne wrote:

They all look like garbage.

--
			Gleb.

[2017-01-03 14:04] vladzcloudius commented on #1988
Yes. This is related to the d227f531f911e5b7f9f45612ac4b8dcbb5944770 seastar patch. We should either capture the values in lambda or backport the above patch to 1.6.

[2017-01-03 18:53] tgrabiec opened #1989 "prometheus metrics are exported with "localhost" instance label when collectd is not enabled"
They should probably default to `gethostname` like collectd does.

[2017-01-04 03:22] truyet opened #1990 "Install Scylladb on ubuntu 16.04"
*Installation details*
Scylla version (or git commit hash):1.5
Cluster size:1
OS (RHEL/CentOS/Ubuntu/AWS AMI):Ubuntu 16.04

I want to install scyllaDB to Ubuntu 16.04 on vagrant (VirtualBox) from repository but get error:
The following packages have unmet dependencies:
 scylla : Depends: scylla-server but it is not going to be installed
          Depends: scylla-jmx but it is not going to be insta

[2017-01-04 03:58] zhshw opened #1991 "ubuntu 16 apt install release NOT found"
*Installation details*

Ubuntu 16.04
Stable release 1.5 (recommended)

sudo wget -O /etc/apt/sources.list.d/scylla.list http://downloads.scylladb.com/deb/ubuntu/scylla-1.5-xenial.list
sudo apt update

Err:7 http://s3.amazonaws.com/downloads.scylladb.com/deb/ubuntu xenial Release
  404  Not Found
Reading package lists... Done
E: The repository 'http://s3.amazonaws.com/downloads.scylladb.com/deb/ubu

[2017-01-04 07:39] bobymicroby commented on #1959
@penberg Sorry for the late replay, holidays and etc... First thing in the morning i've done what you requested and here are the logs :

[code]

[2017-01-04 08:06] untoreh opened #1992 "provide alpine docker image"
I tried building one, thrift compiled from source because no package, antlr3 created the exec, after that got stuck because of old gcc required by seastar i think

[2017-01-04 09:01] penberg commented on #1991
/cc @syuu1228 @slivne

[2017-01-04 09:04] tzach commented on #1991
@zhshw I just retested on Ubuntu 16 server and it works fine for me.

You should ignore the following warning after `sudo apt update`
[code]
Its a known issue we need to fix. Running `sudo apt-get install scylla` works for me.

Maybe you have a networking issue (firewall?) stopping you from downloading file from s3?

[2017-01-04 09:04] avikivity commented on #1959
/cc @gleb-cloudius

[2017-01-04 09:13] avikivity commented on #1990
Do you have held packages?  See the first answer to http://askubuntu.com/questions/363200/e-unable-to-correct-problems-you-have-held-broken-packages.

[2017-01-04 09:55] gleb-cloudius commented on #1959
Is cluster idle when you run drain or is it serving queries? How many per second?
Do you have node-to-node encryption enabled?

--
			Gleb.

[2017-01-04 10:02] bobymicroby commented on #1959
@gleb-cloudius cluster is idle, encryption is enabled both node-to-node and client-to-node

[2017-01-04 10:14] quexer opened #1993 "Can't start on ubuntu 14.04 + docker 1.12.4"
*Installation details*
Scylla version (or git commit hash): 1.5.3
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):  ubuntu 14.04

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker):  vm + docker 1.12.4
Hardware: cores= 8 memory=16G
Disks: (SSD/HDD, count),  100G SSD with ext4

Works fine on MacOSX + docker.
But can't start service even in developer-mode. he

[2017-01-04 10:36] avikivity commented on #1993
What is the command line you used to start the docker instance?

[2017-01-04 10:53] quexer commented on #1993
@avikivity

or

with this docker-compose.yml

[code]

but both approaches lead to the same result and no "coredump" is found at "/xx/path"

[2017-01-04 10:54] gleb-cloudius commented on #1959
On Wed, Jan 04, 2017 at 02:02:41AM -0800, Bobby Microby wrote:

Can you try disabling encryption to narrow where the problem my be?

--
			Gleb.

[2017-01-04 11:03] bobymicroby commented on #1959
We have just upgraded to 1.5 :) Anyways...i will disable encryption and will update you.

[2017-01-04 11:09] gleb-cloudius opened #1994 "seastar - Exceptional future ignored: std::system_error (error system:32, Broken pipe) when using node to node encryption"
*Installation details*
Scylla version (or git commit hash): 1444a52fae79ea43ae6e90e9d2a32173a5e52a84
"Exceptional future ignored: std::system_error (error system:32, Broken pipe)" error is printed when a node is stopped/drained

[2017-01-04 11:23] slivne commented on #1988
fixed by c6928247863964e0147ffaf9391d0837f82b3a98

[2017-01-04 11:23] #1988 closed

[2017-01-04 11:24] slivne commented on #1950
fixed

[2017-01-04 11:24] #1950 closed

[2017-01-04 12:32] #1884 closed

[2017-01-04 12:47] avikivity commented on #1993
Worked for me - docker 1.12 on ubuntu 14.04.  What's the filesystem type underlying `/xx/path`?  Did you adjust any files inside the image?

[2017-01-04 13:28] quexer commented on #1993
- Neither  **ext4** nor **xfs** could work
- No adjust to image
- Is there any parameter to control log level ?  maybe more detailed log could help

[2017-01-04 13:36] avikivity commented on #1993
What does /proc/cpuinfo say on the host?  What hypervisor are you using?

[2017-01-04 13:36] avikivity commented on #1993
Sorry, I meant in the guest.  Either in docker or outside, but in the VM.

[2017-01-04 14:10] quexer commented on #1993
- I believe my cloud host provider is using KVM
- output of `cat /proc/cpuinfo`, both inside & outside are attached
[inside_docker.txt](https://github.com/scylladb/scylla/files/684816/inside_docker.txt)
[outside_docker.txt](https://github.com/scylladb/scylla/files/684817/outside_docker.txt)

[2017-01-04 14:14] avikivity commented on #1993
Good choice.  I suspected the hypervisor is virtualizing an older cpu (Scylla requires Nehalem-class or newer), but that is not the case.

/cc @penberg - any idea how to get core dumps to work?

[2017-01-04 14:40] benoit-canet commented on #1056
@avikivity Are those _get_data_source the place too look at ? https://github.com/scylladb/scylla/blob/f3c8cbbac5a36f73a8262cb8a06ae145a8a84cc3/sstables/partition.cc#L1028

[2017-01-04 14:43] avikivity commented on #1056
Yes.

[2017-01-04 16:07] avikivity opened #1995 "Intentional short reads causing slowdown on sparsely populated tables"
*Installation details*
Scylla version (or git commit hash): 1.6+

It looks like we return really small rows, which cause a lot of back-and-forth traffic; we try to fill the buffer to avoid this.

[2017-01-04 16:07] avikivity commented on #1995
Reproducer: cqlsh `select * from smalltab;` invokes the pager every 2-3 lines.

[2017-01-04 16:13] avikivity commented on #1995
Maybe an artifact of something else, investigating

[2017-01-05 02:17] ban4785 opened #1996 "repeat "gossip - Fail to send EchoMessage" after unexpected eof on a server while reading data: expected 579 got 517"
*Installation details*
Scylla version (or git commit hash): 1.4.1
Cluster size: 3 node
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOs 7.2

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets= cores= hyperthreading= memory : 10G Network=48cores=yes=192G
Disks: (SSD/HDD, count) : 2SSD(raid 0)

i got title mess

[2017-01-05 02:44] truyet commented on #1990
No, I don't. I checked as same as the answer, and not found held packages ?

[2017-01-05 07:28] slivne opened #1997 "scylla_setup should check the networking device and warn in case its a virtual device"
In AWS there is an option to use EnhancedNetworking - users installing scylla on their own in AWS may overlook this and run scylla with the default device.

Warn users that this is a non optimal setup (it would be better to detect that we are on AWS validate the instance type and warn).

This may be a common issue to other cloud providers that have more then one mode

rackspace -  https://support.

[2017-01-05 08:24] gleb-cloudius commented on #1996
Is replication factor 3? It looks like networking cannot keep up
and at some point (at 15:41) one node (dbtest02) lose connectivity
to another (70.60.31.132) and as a result stop replicating there which
reduces demand on networking and you can see it in the graphs that at
15:41 networking metrics are going down and amount of background writes
is going down too.

The question is why 10G networking

[2017-01-05 08:57] #1294 closed

[2017-01-05 09:02] tzach commented on #1488
@raphaelsc how and why should the user choose to enable/disable?
Its look like something Scylla should take care for

[2017-01-05 09:13] tzach commented on #984
Fixed by 9c27b5c.
Duplication of #1378

[2017-01-05 09:13] #984 closed

[2017-01-05 09:16] tzach commented on #726
@avikivity @syuu1228 this is already working.
Can we close this?

[2017-01-05 09:18] amnonh commented on #1945
Should be closed by cc8f5e275b3461a06f544b809cdbb7e831f0417b

[2017-01-05 09:21] ddorian commented on #984
But whats committed is still the 'old unrecommended way' right ?

[2017-01-05 09:25] #1961 closed

[2017-01-05 09:28] slivne commented on #1985
the last run on 1.6 that has ""storage_proxy: do not deref unengaged stdx:optional " passed closing this issue

[2017-01-05 09:28] #1985 closed

[2017-01-05 09:33] penberg commented on #1993
I think the kernel will try to run whatever is in `/proc/sys/kernel/core_pattern`. On my Fedora 24 machine, it's pointing to `systemd-coredump` both on the host and in the container:
[code]

@quexer what does `cat /proc/sys/kernel/core_pattern` within the container say on your machine?

[2017-01-05 09:37] #1945 closed

[2017-01-05 09:46] quexer commented on #1993
the output is :    `|/usr/share/apport/apport %p %s %c %P`

[2017-01-05 09:49] avikivity opened #1998 "range scan will not respect token sort order"
## Installation details
Scylla version (or git commit hash): 1.6

With the new intra-node sharding code, parallel queries are sorted in shard order, but in some cases that's not the same as partition order.  Consider the case where the first shard queried is smp::count - 1 and we query two shards, the next shard (0) is sorted before, even though its partition range is afterwards.

In combination w

[2017-01-05 10:00] avikivity commented on #1297
Fixe by db2f5e6be175f1091cbb1b341ccb4738153070db

[2017-01-05 10:00] #1297 closed

[2017-01-05 10:04] syuu1228 commented on #1888
This issue fixed at https://github.com/scylladb/scylla/commit/7f2df8f86e0f0a2b4dbefcbda87df78cc393c7c5

[2017-01-05 10:04] #1888 closed

[2017-01-05 10:04] infordb commented on #1996
@gleb-cloudius

1. iptables unloaded on all nodes

[root@dbtest02 ~]# systemctl status iptables.service
● iptables.service
   Loaded: not-found (Reason: No such file or directory)
   Active: inactive (dead)

2. Bandwidth test results are sufficient with iperf

[root@dbtest02 ~]# iperf -c 70.60.31.132 -t 60
------------------------------------------------------------
Client connecting to 70.60.31.1

[2017-01-05 10:06] syuu1228 commented on #1887
This issue fixed at 7f2df8f

[2017-01-05 10:06] #1887 closed

[2017-01-05 10:27] syuu1228 commented on #1758
@tzach @slivne How about to change scripts:
- drop scylla_bootparam_setup, since we don't need to setup hugepages on boot time
- shows up "Please restart" message when scylla_selinux_setup was executed by user
- skip running scylla_selinux_setup and skip message, when SELinux is already disabled

[2017-01-05 10:29] syuu1228 commented on #1896
@avikivity Is there workaround for the issue?

[2017-01-05 10:29] gleb-cloudius commented on #1996
iperf uses much large packets, may be Linux has problem handling all the
networking interrupts. Are NIC interrupts distributed between cores?
What output of "cat /proc/interrupts" says?

--
			Gleb.

[2017-01-05 10:32] syuu1228 commented on #1864
ping

[2017-01-05 11:04] syuu1228 commented on #1867
@avikivity ping

[2017-01-05 11:22] syuu1228 commented on #1748
@tzach Sent "[PATCH scylla] dist/common/scripts/scylla_setup: improve scylla_sysconfig_setup prompt message" while ago, please review it

[2017-01-05 11:44] avikivity commented on #1984
Good question.  There is only so much we can do at the prompt.

We could have an API to return node notices, and display them in `nodetool status`.

[2017-01-05 11:44] syuu1228 commented on #1724
I found some problem to add conflict:
Maybe adding conflict is better than do nothing, but when user installs newer kernel just following our doc(http://docs.scylladb.com/faq/#faq-check-update-kernel), old kernel package remains on the machine even the user already rebooted with newer kernel.
The user requires to do "apt-get remove linux-image-old_version_number", otherwise apt-get install scylla

[2017-01-05 11:53] #1998 closed

[2017-01-05 12:53] #1986 closed

[2017-01-05 13:11] tzach commented on #1758
Looks good to me.

[2017-01-05 13:16] slivne commented on #1758
+1

On Thu, Jan 5, 2017 at 3:11 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2017-01-05 13:17] tzach commented on #1829
Thanks @syuu1228 15b156c solve the issue
If scylla_dev_mode_setup is not in the default path, please open a new issue for it

[2017-01-05 13:17] #1829 closed

[2017-01-05 14:28] avikivity commented on #1724
Maybe we should change scylla-kernel-conf not to update the tunables if 3.13 is detected.

[2017-01-05 14:38] avikivity commented on #1867
I don't know what's the right thing to do here.  Maybe the following:

 - disable data/ and commitlog/ auto-creation (except in --developer-mode)
 - refuse to start if they don't exist (except in --developer-mode)
 - remove conf symlink, move it /etc/{sysconfig,default}/scylla-server as a separate variable
 - update everything (startup scripts, admin scripts) to use that variable (defaults to /var

[2017-01-05 14:41] avikivity commented on #1896
We can issue `blkdiscard` on individual RAID members, then create the RAID device, then `mkfs.xfs -K`, which won't be slow.

[2017-01-05 16:04] #742 closed

[2017-01-05 16:07] avikivity commented on #1974
With the default configuration I saw very high load on core 0 (about 20-30%), and since the node progresses at the speed of the slowest core, the node was slowed down severely.  After setting the parameter and enabling rps/xps, performance was increased significantly.

800us is very high, but perhaps there is some middle ground which recovers most of the performance without sacrificing latency too

[2017-01-05 17:08] vladzcloudius commented on #1974
If `posix_net_conf.sh` was ever enabled then XPS should have been enabled. This is what I see when I boot the 1.5 AMI on this instance:
[code]

Which seems like and expected XPS configuration:
[code]

The interrupts are also seem to be distributed as expected:
[code]

There isn't such thing as a "common ground" - the best or good performance depends on the specific load type. Like I've described a

[2017-01-05 17:25] vladzcloudius commented on #1974
I'll think on how we can improve the MQ/SQ mode selection heuristics in order to overcome the SP IRQ glitch.

[2017-01-05 17:37] tgrabiec commented on #1965
It's true that cache hits / misses don't tell you if and how much I/O is done per read, they only tell how effective is caching layer. A single query can generate multiple hits and also multiple misses, if it's a range query. Each miss may or may not generate I/O, that's for the sstable layer to determine. It may determine that no I/O is needed even before bloom filters are consulted, if it sees t

[2017-01-05 18:48] tgrabiec opened #1999 "Use continuity information to decide whether to populate cache with new entries"
If cache is missing given key, but it has the range it falls into marked as continuous, it means sstables don't have that entry and we can insert it without asking the presence checker (bloom filter based). The latter is more expensive and gives false positives.

[2017-01-05 18:49] vladzcloudius commented on #1974
I think Linux kernel doesn't support the round-robit interrupt distribution mentioned in the link above, so effectively there will be a single core that would handle the interrupts of a specific IRQ despite the mask that has a few set bits. So, what you must have seen was that Rx0 or Tx0 queue was working hard creating a lot of interrupts and by setting the value above you cut the interrupt rate b

[2017-01-06 07:50] ban4785 commented on #1996
scylladb use -> cpu 0,1,2,3,12,13,14,15
scylladb use -> network dev :  enp130s0f0
local 70.60.31.132 /proc/interrupts info file
[interruptinfo.zip](https://github.com/scylladb/scylla/files/689238/interruptinfo.zip)

same case
![samecase](https://cloud.githubusercontent.com/assets/20348151/21711096/3313bd82-d430-11e6-8cf4-34c855582356.png)

[2017-01-06 11:27] gleb-cloudius commented on #1996
Can you also provide /proc/cpuinfo? What do you mean by "same case"?
Graphs looks very different. It looks like the load was very bursty.

--
			Gleb.

[2017-01-06 12:05] penberg commented on #1993
@quexer You have an Ubuntu host, right? Apport doesn't exists in the CentOS-based Docker image so coredumps are lost.

One thing you can do is run the following command on the host:

[code]

which should now make the kernel generate coredumps to the current working directory in the container (probably `/var/lib/scylla`). Unless you have a better idea, @avikivity?

[2017-01-06 13:54] quexer commented on #1993
@penberg Yes, I've an Ubuntu 14.04 host and I've run the command following your suggestion. But nothing new found in `/var/lib/scylla`, only two empty directory `data` and `commitlog`

What should I do if I want scylla work in this situation ?  Tell my host provider to change their hypervisor config , virtualizing newer cpu ?

thx.

[2017-01-06 19:15] vladzcloudius commented on #1974
What I wrote above was wrong: Linux kernel not only supports the "round-robin" interrupt distribution - it's its default mode.

Like Alex described in general in [Why interrupt affinity with multiple cores is not such a good thing](http://www.alexonlinux.com/why-interrupt-affinity-with-multiple-cores-is-not-such-a-good-thing) it's called the *Lowest Priority* mode (see its short description here:

[2017-01-06 19:55] raphaelsc commented on #1488
@tzach: In scylla, there's currently no easy way of disabling regular compaction. User could set compaction strategy of column family to NullCompactionStrategy. There's a nodetool command that allows to enable or disable it, but it's currently not supported by us. In my opinion, user shouldn't disable it or read performance will suffer, but I suppose user may need to do it for analyzing impact of

[2017-01-07 17:52] eyalgutkind commented on #1971
Few more errors are appearing on OEL 7.3 when installing:
Following the procedures on scylladb.com, and using scylla_setup. The following are the errors appearing:

sudo scylla_setup
Skip any of the following steps by answering 'no'
Do you want to run kernel version check?
Answer yes to have this script verify that the currently installed kernel is qualified to run Scylla; answer no to skip this c

[2017-01-08 02:49] andrewrong opened #2000 "write timeouts per second, but i don't know why??"
*Installation details*
Scylla version (or git commit hash): 1.4.2
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): centos7

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): phy
Hardware: sockets= cores=32 hyperthreading= memory=64G
Disks: (SSD/HDD, count) HDD raid5 30T

scylla-service

[code]

I find that the scylla have som

[2017-01-08 07:22] tzach commented on #1488
Thanks @raphaelsc make sense
Let's wait for user requests before moving forward

[2017-01-08 08:01] avikivity commented on #2000
It's impossible to say just from these metrics.  However 1.5 has some improvements in this area (see http://www.scylladb.com/2016/12/15/sswc-part1/) so upgrading may help.

[2017-01-08 08:48] tzach commented on #1971
@syuu1228 ?

[2017-01-08 11:08] avikivity opened #2001 "short read indication swallowed in certain range scans"
`mutation_result_merger::get()` assumes that the merged result may be a short read if at least one of the partial results is a short read (in other words, if none of the partial results is a short read, then the merged result is also not a short read).  However this is not true; because we update the memory accounter incrementally, we may stop scanning early.  All the partial results are full; but

[2017-01-08 11:10] avikivity commented on #2001
Seen with `SELECT COUNT(*) FROM tab` where the selection is more than enough to fill a megabyte's worth of results.

[2017-01-08 12:11] #1987 closed

[2017-01-08 12:15] benoit-canet opened #2002 "Spurious low memory condition"
*Installation details*
Scylla version (or git commit hash): 38b2fa27ad1fe46506fca583b5314857af6c0f3f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Fedora 25

*Hardware details (for performance issues)* 16 lcore , 64 GiB ram
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets=1  cores=8 hyperthreading=yes memory=64GiB
Disks: (SSD/HDD, count) 256 GB SSD

Without develope

[2017-01-08 12:17] avikivity commented on #1974
We do dedicate a core for networking with machines with >= 8 cores.  However, on a machines with 4 cores (i2.2xlarge), core 0 is overloaded with networking.  So we need to reduce its load somehow (without dedicating it to networking only).  I saw we needed all of (rps, xps, interrupt mitigation) to get reasonable loads on core 0, but maybe a different configuration can yield better results.

[2017-01-08 12:29] slivne commented on #1987
backport to 1.6

On Sun, Jan 8, 2017 at 2:11 PM, Avi Kivity <notifications@github.com> wrote:

[2017-01-08 13:14] #2002 closed

[2017-01-08 13:38] vladzcloudius commented on #1974
On Jan 8, 2017 7:17 AM, "Avi Kivity" <notifications@github.com> wrote:

We do dedicate a core for networking with machines with >= 8 cores.
However, on a machines with 4 cores (i2.2xlarge), core 0 is overloaded with
networking. So we need to reduce its load somehow (without dedicating it to
networking only). I saw we needed all of (rps, xps, interrupt mitigation)
to get reasonable loads on core 0,

[2017-01-08 19:09] tzach commented on #1265
For reference: Active Anti-Entropy (AAE), Riak style continues repairs
http://docs.basho.com/riak/kv/2.2.0/learn/glossary/#active-anti-entropy-aae

[2017-01-09 01:41] ban4785 commented on #1996
i mean same business program in same nodes(3node 3replication)
added file is 48core hyperthreading server(3server same spec)
[cpuinfo.txt](https://github.com/scylladb/scylla/files/692589/cpuinfo.txt)

[2017-01-09 07:44] #1895 closed

[2017-01-09 07:51] #1968 closed

[2017-01-09 09:23] #2001 closed

[2017-01-09 09:55] #1284 closed

[2017-01-09 10:40] gleb-cloudius commented on #1996
According to /proc/interrupts some cpus that run ScyllaDB also handle
networking interrupts (cpus 12,13,14,15). Since you have enough free
cores can you move Scylla to cores that do not handle networking
interrupts?

--
			Gleb.

[2017-01-09 11:13] WhiteTrashLord opened #2003 "Best Java driver"
I would like to test Scylla with Java. I saw that you have this Github project:

https://github.com/scylladb/java-driver

The problem is that it wasn't updated for a long time.  Maybe you can add to the project documentation why it wasn't updated in a long time :)

Would be https://github.com/datastax/java-driver the better driver?

Or are there even better Java drivers?

[2017-01-09 12:10] avikivity commented on #2003
You should use the datastax Java driver with Scylla.

[2017-01-09 12:51] kongove opened #2004 "instances created from same AMI have repeated housekeeping.uuid"
*Installation details*
Scylla version (or git commit hash):  1.6.rc0-20170105.337d6fb
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-a3a5bfb4

Right now, we have a generated housekeeping.uuid in setup stage, so AMI already has one, the new instances won't re-generate, so they are repeated.

[private job/scylla-ami-perf-regression-dev/slave=muninn,sub_test=test_write/104/console ](http://jenkins.cloudius-sys

[2017-01-09 12:54] kongove commented on #2004
This patch from @amnonh should already solve this issue:
[PATCH scylla v2 0/2] scylla-housekeeping create its own uuid file

[2017-01-09 13:09] penberg commented on #1683
The bug is no longer present in latest HEAD. I suspect it was fixed in cc30da38f94d07cb892afa0cd0c5b9fa86a64e9e. Ping @pdziepak

[code]

[2017-01-09 13:22] pdziepak commented on #1683
Unlikely. cc30da38f94d07cb892afa0cd0c5b9fa86a64e9e is mostly about adding additional validation to creation of compact storage tables and ability to write to them. It doesn't touch the actual logic responsible to create compact storage table and write its description to system tables.
Besides, that series was merged over a year before this bug was reported.

[2017-01-09 13:45] svetob commented on #1533
Hi, just poking this issue a little since our tests and possibly our use case seems to run into this, causing disk throttling on AWS due to excessive IOPS on read, see discussion at https://groups.google.com/forum/#!topic/scylladb-users/O33qCifwzNA

[2017-01-09 13:49] penberg commented on #1683
Right, I can't believe I didn't read the _year_ of the commit... Another potential fixer is 3bb16fba7ebf54d60bdbc0a14f0a904daea57fa9, which happened after the commit 17b45fae9ebcdce4fb5d4b47687236f1d79bd0ab that's being tested here.

/cc @glommer

[2017-01-09 13:55] #1989 closed

[2017-01-09 13:57] avikivity commented on #1683
Dates are hard...

[2017-01-09 14:44] gleb-cloudius opened #2005 "enlarge block queue size in setup script"
*Installation details*
Scylla version (or git commit hash): 85f4e16336145700c97c3c64916a8e0917eadfd9

block layer sleeps even with async io if it hits block queue limit.

[2017-01-09 15:02] penberg commented on #2004
@slivne this is fixed by commit https://github.com/scylladb/scylla/commit/8cd3d7445cc4a2eb3c674c7f369b41f9b982bf19. Closing.

[2017-01-09 15:02] #2004 closed

[2017-01-09 15:12] infordb commented on #1996
@gleb-cloudius
If the total number of cores is 8 and all can be  assigned to scylla
Is it a good idea to allocate only 7 cores to the scylla except for one core for network processing ?

[2017-01-09 15:32] noamha-ken commented on #882
Ran the benchmark again, with configurations.
Scylla: 1 x AWS i2.8xlarge, Scylla AMI, Version: scylla-server-1.5.0-20161221.654919c.el7.centos.x86_64
Stress Tools: 3 x c3.8xlarge

Still got errors after running for a while.

I've attached a trace file @avikivity ran on the server

[trace.txt](https://github.com/scylladb/scylla/files/693835/trace.txt)

[2017-01-09 15:53] avikivity commented on #882
There is an `fdatasync` call there taking 1.7 seconds.  Any file opens would have to wait until it completes.

In addition we see that *any* operation takes at least 1 msec.

Things we can do:
 - raise the priority of the iothread (needs RLIMIT_TRPRIO) to get sub-millisecond response times
 - take into account not only the number of requests, but also their size, when admitting a request into the

[2017-01-09 16:04] slivne commented on #1971
1.5 does not include the fix from #1824 - that is related to the network/nic configuration
1.6 will include this fix.

@eyalgutkind can you either provide us access to such an instance - or test scylla_setup with 1.6-rc1 once its out later this week.

[2017-01-09 16:26] avikivity commented on #882
Maybe another option: have separate iothreads for fdatasync, allow some fdatasyncs to run in parallel (need to make sure the kernel can make use of this parallelism), and/or increase the segement reserve queue.

I couldn't find counters to see when we wait on the segment reserve queue being replenished.

[2017-01-09 16:27] avikivity commented on #882
(I did see thousands of writes in pending_allocations)

[2017-01-09 16:35] slivne opened #2006 "system keyspace should use a class of its own"
ref #1459 , #1913

system keyspace operations should not be blocked behind other operations.

the only exception to this maybe the batchlog

its not clear if we should provide a "fast" path for system commitlog entries.

[2017-01-09 16:43] slivne commented on #1849
@avikivity we already have a check for the limited memory per shard and not boot in non developer mode - maybe we should also do the same in developer mode - not boot if memory for each shard is less then 128M /256M

[2017-01-09 16:45] slivne commented on #1848
@avikivity , @penberg - in my view its better to have a user able to run by default with docker then getting stuck - so maybe we should start docker with limited settings and warn about it and then have the user modify the settings.

[2017-01-09 18:56] #1951 closed

[2017-01-09 19:57] tgrabiec commented on #2006
@slivne There is no issue #4529, which one did you mean?

Refs #1926.

[2017-01-09 20:50] slivne commented on #2006
@tgrabiec I referenced the same issue you have pointed to #1459

[2017-01-09 20:53] tzach commented on #1991
@syuu1228 @slivne ping

[2017-01-10 00:58] dorlaor commented on #1533
@slivne please assign it to a person and a release since couple of users are hitting it and the performance diff is LARGE

[2017-01-10 07:52] slivne commented on #1533
This (and more) will be included in #960 @haaawk  is actively working on it

[2017-01-10 07:53] gleb-cloudius commented on #1996
On Mon, Jan 09, 2017 at 07:12:34AM -0800, Junghyun Park wrote:

Yes, that what we do on AWS instances. Unless you have a NIC with 8
queues, then it may be better to redistribute HW interrupts between all
cores equally.

--
			Gleb.

[2017-01-10 07:59] gleb-cloudius commented on #882
On Mon, Jan 09, 2017 at 11:54:33PM -0800, Shlomi Livne wrote:

I think you meant @glommer (easy mistake to make) especially as "take into account not only the
number of requests, but also their size" is on his todo list.

--
			Gleb.

[2017-01-10 08:02] gleb-cloudius commented on #882
On Mon, Jan 09, 2017 at 07:53:53AM -0800, Avi Kivity wrote:

How this will help? Do you think fdatasync takes seconds because of a low
thread priority? Highly unlikely. It is probably another case of
starvation. BTW did we use a kernel with @glommer fix or used disk
scheduler that did not suffer from the bug?

--
			Gleb.

[2017-01-10 08:05] slivne commented on #882
thats why I wanted to distribute the work - yet we can talk about it on the
daily - @glommer should be back today :)

On Tue, Jan 10, 2017 at 9:59 AM, Gleb Natapov <notifications@github.com>
wrote:

[2017-01-10 08:12] avikivity commented on #882
Raising the priority will prevent all system calls that block from taking at least 1 ms, limiting the overall iothread throughput.  It doesn't help fdatasync() (well it might, if fdatasync does many blocking operations sequentially).

[2017-01-10 08:16] gleb-cloudius commented on #882
On Tue, Jan 10, 2017 at 12:12:37AM -0800, Avi Kivity wrote:

You assume they are waiting because they do not get enough cpu time. But the
system is not fully loaded.

--
			Gleb.

[2017-01-10 08:17] avikivity commented on #882
On AWS we spin for 2 ms, so we can utilize 100% cpu even under a very low reactor load.

[2017-01-10 08:22] gleb-cloudius commented on #882
On Tue, Jan 10, 2017 at 12:17:35AM -0800, Avi Kivity wrote:

Right, but Linux's scheduler should give priority to threads that are
mostly slipping anyway.

--
			Gleb.

[2017-01-10 08:52] eyalgutkind commented on #1971
I can do both :)
Can you provide me with a public ssh key and I'll place it in to the
instance.?
Regards,

On Mon, Jan 9, 2017 at 8:04 AM, Shlomi Livne <notifications@github.com>
wrote:

--
Eyal Gutkind
ScyllaDB
www.scylladb.com

[2017-01-10 09:23] slivne commented on #1470
@roydahan - I assigned this to you - and we can change if you relay this

The goal is to have this in regression testing.

[2017-01-10 10:10] #2003 closed

[2017-01-10 10:49] slivne commented on #1991
@zhshw  I tried to run it as well of hosts located in asia and it works ... so we are not able to reproduce this :(

can you please try the following:

[code]

this is a different manner to access the http://downloads.scylladb.com.s3.amazonaws.com/deb/ubuntu/scylla-1.5-xenial.list file

does that work for you ? if not its an access issue.

if it does not work - then we can try to update the repo f

[2017-01-10 10:53] slivne commented on #1959
@bobymicroby thanks for all the help - any update on this

[2017-01-10 10:55] #1966 closed

[2017-01-10 10:57] slivne commented on #1976
@vladzcloudius did 8014adc2a159a524f2cc5daf932a2992f22ebe18 resolve this issue ?

[2017-01-10 10:59] slivne commented on #1978
@asias can you please ellaborate on which versions scylla / scylla-jmx / scylla-tools-java

if you hit this again can you provide all three (expecially if its of master as we have done a lot of update to scylla-tools-java

[2017-01-10 11:15] penberg commented on #1993
@quexer When Scylla aborted, did it also say "core dumped"?

Can you run the following command in the container to see if the core dump was generated some other directory?

[code]

[2017-01-10 11:24] slivne commented on #1996
@infordb , @ban4785 I am at lost here.

The machine 24 physical cores and 48 hyperthreads - why are you limiting scylla to run on 8 ?
Are you running on this machine somthing else - an application as well ?

If you are running an application as well - then please note that you need to analyze if the blame for networking/disk issues are related to the additional deployed application and what it doe

[2017-01-10 11:52] bobymicroby commented on #1959
@slivne The problem seems related with node-to-node encryption,  check #1994 as well.

[2017-01-10 12:28] penberg commented on #1848
We can certainly change the defaults to:

[code]

or to something more elaborate such as:

[code]

@avikivity, comments?

[2017-01-10 12:30] penberg commented on #1849
We shouldn't have such checks for ``--developer-mode`` because it's used for various development purposes. Perhaps we should have a ``--docker-mode`` instead, which relaxes filesystem requirements but has those per-shard memory limit checks in place.

[2017-01-10 13:00] #936 closed

[2017-01-10 13:42] nyh commented on #936
Not critical, but It would still be nice to get some sort of error message that AIO is not functional (or whatever) instead of  a mysterious hang.

[2017-01-10 14:09] penberg commented on #936
@nyh The report is from February 2016. We should have an error message stating that the filesystem is not supported now.

[2017-01-10 14:34] avikivity commented on #936
It should not hang on btrfs (just be extremely slow).

[2017-01-10 14:46] glommer commented on #882
I arrived quite late yesterday and still need to put some stuff in order.
Should only be full op. tomorrow

On Jan 10, 2017 3:05 AM, "Shlomi Livne" <notifications@github.com> wrote:

thats why I wanted to distribute the work - yet we can talk about it on the
daily - @glommer should be back today :)

On Tue, Jan 10, 2017 at 9:59 AM, Gleb Natapov <notifications@github.com>
wrote:

DCE57lZYg3wKxar0_f

[2017-01-10 15:07] avikivity commented on #324
We should keep track of how helpful it is in practice, because it can increase latency.  If one column if updated frequently and another rarely, then we would still need to query multiple sstables.  Agree it's important.

[2017-01-10 15:51] vladzcloudius commented on #1976
Yes, sir! ;)

[2017-01-10 15:56] slivne commented on #1976
so what is it ?

[2017-01-10 16:01] vladzcloudius commented on #1976
Or actually it is not. The thing is that it may still happen if a few seeder Nodes are booting up at the same time. This was actually the case in the dtest run mentioned in the initial issue post. We need to make sure that seeders are synchronizing their schemas when they boot in order to resolve this issue.

Me and @tgrabiec have described the issue to @asias on the dtest thread. Here is the Tome

[2017-01-10 19:40] powellchristoph commented on #803
I second this. I am a new user but have alot of experience with Cassandra. I cannot tell which settings in the config file are valid. Especially when trying to write a Chef cookbook.

[2017-01-10 20:42] sharpe5 commented on #1848
I think it's more important to have Scylla run with no issues out of the
box with Docker. That way, developers can check that (a) it works with some
sample CQL queries and perhaps (b) that its compatible witih Cassandra.

Perhaps make the final log entry something like this:
WARNING: Multiple copies of ScyllaDB detected. Each copy of ScyllaDB will
share CPU resources.

Usually, people run it first

[2017-01-11 01:04] vladzcloudius commented on #1973
@avikivity @slivne ping

[2017-01-11 02:14] quexer commented on #1993
@penberg

Before I update  `/proc/sys/kernel/core_pattern`,  scylla log says

` INFO exited: scylla (terminated by SIGFPE (core dumped); not expected)`.

Then I do `echo 'core.%e.%p' | sudo tee /proc/sys/kernel/core_pattern` per your suggestion, now scylla log says

 `INFO exited: scylla (terminated by SIGFPE; not expected)`.

In either case , command `find / -name "core*"` shows no scylla related

[2017-01-11 12:21] penberg commented on #1993
@quexer Yes, so it's not dumping core now.

[code]

[2017-01-11 12:23] tgrabiec commented on #1976
For `system_auth` the problem should not happen because all nodes use the same table ID (`generate_legacy_id`), like Cassandra.

[2017-01-11 14:22] raphaelsc opened #2007 "populate non system keyspaces in parallel"
When populating non-system keyspaces, we scan data dir and for each entry (keyspace dir) which name isn't 'system', we populate the keyspace. That's done serially.

I think it makes sense to load non system keyspaces in parallel so as to increase parallelism and reduce boot time because population is I/O intensive and barely uses CPU.

The list of non system keyspaces is available, and scanning da

[2017-01-11 14:56] raphaelsc commented on #2007
It's worth adding that population of column families for a keyspace K is done in parallel, and in turn, loading of sstables for a column family C is also done in parallel. The question is: Is that enough to saturate really fast disks? Do we also want to populate all non system keyspaces in parallel?

[2017-01-11 19:02] raphaelsc opened #2008 "bad resource usage distribution when resharding due to refresh via upload dir"
That's because a *single* shard is used to calculate generation for new sstables in upload directory, and that will result in that single shard sharing all the resources with other shards.

For refresh without upload dir, it currently works fine because we reshuffle column family dir instead.

[2017-01-11 19:02] raphaelsc commented on #2008
@avikivity: should this be fixed for 1.6?!

[2017-01-11 21:08] raphaelsc commented on #1808
Closing this issue. It's already covered by #1488

[2017-01-11 21:08] #1808 closed

[2017-01-12 01:04] vladzcloudius commented on #803
The patch is on the list.

[2017-01-12 04:00] zhshw commented on #1991
Still the same error

W: The repository 'http://downloads.scylladb.com/deb/ubuntu xenial Release' does not have a Release file.
N: Data from such a repository can't be authenticated and is therefore potentially dangerous to use.
N: See apt-secure(8) manpage for repository creation and user configuration details.

[2017-01-12 04:19] syuu1228 commented on #1991
@zhshw You are right, it's secure apt issue.
I think following commands works for you:
[code]

Sorry for inconvenience.

[2017-01-12 04:47] quexer commented on #1993
We can't change container "ulimit" by updating `/etc/security/limits.conf`.

ref1 : https://docs.docker.com/compose/compose-file/#/ulimits
ref2 : https://github.com/docker/docker/issues/11740#issuecomment-222909497
ref3 : https://github.com/docker/docker/issues/12515

After I finally get `ulimit -c` to `unlimited` in container,  I find core dump file at root directory  `/`, not `/var/lib/scylla/`

[2017-01-12 05:50] kongove opened #2009 "scylla-housekeeping: fail to create `/etc/scylla.d/housekeeping.uuid` for permission denied"
*Installation details*
Scylla version (or git commit hash):  1.6.rc0-20170112.7b40e19 (built by myself)
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI):   ami-c6c122d0 (built by myself)

Commit 05f2bf5bd599b033d34e9431da6828066a1ff44a introduced a new problem, it's failed to generate housekeeping.uuid file.

[code]

[2017-01-12 06:47] penberg commented on #1993
@quexer Which Scylla version are you using? The reported "1.5.3" does not exist.

@avikivity I dowloaded Scylla server and debug Ubuntu 14.04 packages for 1.5.0, but only see this backtrace from the core file:

[code]

The line number seems to refer to the end of this function:

[code]

That `0x000000000058c3df` address doesn't disassemble to a call-site so perhaps I'm looking at the wrong version

[2017-01-12 07:01] quexer commented on #1993
@penberg sorry it's my typo.  the version should be "1.5.0"

I'm using `scylladb/scylla:latest`, which refers to `scylladb/scylla:1.5.0`

![image](https://cloud.githubusercontent.com/assets/92157/21880033/a0a0ec66-d8d7-11e6-8ac8-030d578c4d83.png)

[2017-01-12 08:25] penberg commented on #1993
@quexer Thanks.

Downloading the Scylla 1.5.0 CentOS RPMs (which Docker uses) I get a saner backtrace but am still missing some symbols:

[code]

@avikivity @tgrabiec is there some gdb magic I'm missing here:

[code]

[2017-01-12 08:47] syuu1228 commented on #2009
This is because we changed housekeeping user from root to scylla.
But I don't feel making /etc/scylla.d writable from scylla user, probably it's not secure.
Can we move the file somewhere on /var/lib/scylla?

[2017-01-12 08:57] avikivity commented on #2008
I disabled the new sharding algorithm for 1.6, so no. But should be fixed ASAP.

[2017-01-12 09:36] #1976 closed

[2017-01-12 10:31] avikivity commented on #2009
`/var/lib/scylla` is not a good place, the user may want to mount a partition over it, hiding existing files.

Maybe `/var/something/else`.

[2017-01-12 13:56] syuu1228 commented on #2009
Then maybe we need to create /var/lib/scylla-housekeeping.

[2017-01-12 20:11] tgrabiec commented on #1993
@penberg Without debug info of the library owning the first symbol (`0x00007fa0c4616ba9`, probably libc) all subsequent frame addresses can't be trusted.

Do you have debug info installed for shared libraries?

[code]

If you're cross-debugging using different OS, assuming the original libraries are installed in `/remote`, you can tell GDB to look for shared libs there like this:
[code]

It could

[2017-01-13 04:25] infordb opened #2010 "Spike occurs in only one shard"
*Installation details*
version : scylla 1.5 / SSD / cetos / 3node / 16core 48GB / bare metal server

I tested write only load ..  ( 100 batch insert)

seastar_commitlog(requests_blocked_memory,pending_allocations) graph shows a spike on just only one shard ( #15 shard in node2)

Could you explain now status of scylla and how to solve this ??

purple line is shard15

irate(seastar_commitlog{type="t

[2017-01-13 04:59] infordb opened #2011 "Need to improve cache"
Installation details
version : scylla 1.5 / SSD / cetos / 3node / 16core 48GB / bare metal server
              cassandra 3.9

I tested performance comparison of scylla vs cassandra

test result..
![image](https://cloud.githubusercontent.com/assets/10610884/21925123/548b125a-d9bf-11e6-90ac-0d914194b2f4.png)

*1.2GB disk io is really amazing

scenario
 - read only
 - sql : select * from test_table

[2017-01-13 07:00] penberg commented on #1993
I was lazy and fired up a Scylla 1.5.0 AMI, which shows that the SIGFPU happens in libhwloc:

[code]

The installed version of hwloc is 1.11.2 (I also verified the Docker image has the same version):

[code]

The `SIGFPE` is a divide-by-zero:

[code]

[code]

[code]

AFAICT, code is parsing `/proc/self/cpuset` or `/proc/self/cgroup` here and failing. @quexer, which cloud provider are you using? Pe

[2017-01-13 08:48] penberg commented on #2011
Are the read I/O numbers reversed for Scylla and Cassandra? That is, isn't it Scylla that's reading 1.2 GB? If I remember correctly, Scylla doesn't cache large partitions at all after a certain threshold.

/cc @avikivity

[2017-01-13 09:45] infordb commented on #2011
@penberg  you are right.  I mistyped I revised it
I remember that Scylla dicides a partition larger than 10M as a large partition
and scylla doesn't cache large partitions at all
this scenario may be large partition...
By the way why does cache hit increase ? I think it is problem with metric..

[2017-01-13 10:13] tgrabiec commented on #2011
Refs #960

[2017-01-13 11:36] tgrabiec opened #2012 "Implement apply() atomicity on MVCC level"
In order to provide apply() atomicity, memtable::apply() needs to have strong exception guarantees. Currently it's implemented on mutation_partition::apply() level by using reversible merging (see reversibly_mergeable.hh), which basically works by swapping atoms between source and destination.  If merging fails in the middle, the atoms are swapped back.

We could implement this more efficiently no

[2017-01-13 14:28] #2009 closed

[2017-01-14 07:25] quexer commented on #1993
@penberg I'm using [ucloud.cn](https://ucloud.cn) and maybe this could help:

/docker/b6fdb338d8a125701f640a52535540798dc93af0a0888f5d0d2b7d0003741512
[root@b6fdb338d8a1 /]# cat /proc/self/cgroup
11:name=systemd:/docker/b6fdb338d8a125701f640a52535540798dc93af0a0888f5d0d2b7d0003741512
10:hugetlb:/docker/b6fdb338d8a125701f640a52535540798dc93af0a0888f5d0d2b7d0003741512
9:perf_event:/docker/b6fdb338d8

[2017-01-15 08:31] slivne commented on #2011
@infordb  - yes we are working to improve the cache - to have it in row level

- Is this the first scan of the partition or consecutive scans (we cache the info that a partition is large - so consecutive reads will have less io)

- Another item related to this is #1842 (that is also in progress) - if the partitions are very large you can modify the (min_index_interval / max_index_interval) - so th

[2017-01-15 08:40] #1983 closed

[2017-01-15 22:21] benoit-canet commented on #1056
@avikivity: Is this bug suposed to be easy, media or hard ? I picked it up at random a while ago and have all the pain in the world to fix it.

[2017-01-16 09:53] avikivity opened #2013 "iotune for latency"
Currently, iotune selects for throughput by admitting requests until we're just after the throughput knee.  We could provide an alternative tuning, so it is just before the latency knee (the two knees are related, probably within a factor of two of each other).

[2017-01-16 12:45] svetob opened #2014 "Cluster nodes erroneously marking other nodes as DOWN by gossip"
*Installation details*
Scylla version (or git commit hash): 1.5
Cluster size: 9 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): AWS m4.2xlarge
Disks: 1x 1500GB gp2 EBS per node

*Details*
We have been running a scale-test on a 9-node scylla cluster. N=3, quorum=QUORUM. After a few days of indexing at roug

[2017-01-16 13:03] svetob opened #2015 "std::bad_alloc during compactions followed by reduced throughput"
*Installation details*
Scylla version (or git commit hash): 1.5
Cluster size: 9 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): AWS m4.2xlarge
Disks: 1x 1500GB gp2 EBS per node

We have been running a scale-test on a 9-node scylla cluster. N=3, quorum=QUORUM. After a few days of indexing at roughly 80K DP

[2017-01-16 13:44] tgrabiec commented on #2015
Do you have large partitions? What does `nodetool cfstats` say for your tables, both on the problematic and non-problematic nodes?

[2017-01-16 13:45] kongove commented on #2009
Verified that Takuya's patch (bee7f54) fixed Issue #2004 and Issue #2009, Unique uuid file can be generated for each AMI instance.

[2017-01-16 13:46] kongove commented on #2004
Verified that Takuya's patch (bee7f54) fixed this issue, Unique uuid file can be generated for each AMI instance.

[2017-01-16 14:15] penberg commented on #2014
Looks similar to #1996.

/cc @gleb-cloudius @asias

[2017-01-16 14:18] haaawk commented on #1938
How will it work with a streamed_mutation created from memtable for older version of partition?

For example, we have partition P which is in initial version V1. There's a read which creates a streamed_mutation to this partition. Then a write comes and changes P to new version V2.

The read uses a V1 view through MVCC. If we drop the snapshot and start reading from sstables then it will be reading

[2017-01-16 14:28] svetob commented on #2015
Not sure how to tell if we have large partitions? We are writing all data to a single table with few small columns, if that helps.

`nodetool cfstats` on our keyspace on ok node 001:
[code]

and on the above problematic node 004:
[code]

[2017-01-16 16:10] tgrabiec opened #2016 ""Memtable cell count" in "nodetool cfstats" actually shows partition count"
*Installation details*
Scylla version (or git commit hash): 1.6

[2017-01-16 16:15] amoskong opened #2017 "default value of auto_bootstrap in scylla and scylla-ami is inconsistent"
*Installation details*
Scylla version (or git commit hash): latest scylla /scylla-ami
OS (RHEL/CentOS/Ubuntu/AWS AMI):

`auto_bootstrap` is enabled by default scylla code
[code]

auto_bootstrap is disabled by default in scylla-ami
[code]

We can easy configure bootstrap parameter in user-data in creating cluster by AMI. But the problem is RPM installed scylla has different default value with AMI i

[2017-01-16 16:16] tgrabiec commented on #2015
`Compacted partition maximum bytes` says 215, so partitions are not large.

Could you create a Scylla process core dump when it experiences bad_alloc and upload it using instructions from https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-problem#send-the-core-dump?

Recording of Scylla metrics would also be valuable: https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-probl

[2017-01-16 20:43] glommer commented on #2010
In my experience, the two main causes for spikes are:
1) bad sharding
2) bad data modeling.

What we need to determine here is whether all those requests are being sent to the same partition key (bad modeling), or if they are sent to a group of partition keys that all happen to shard to the same shard (bad sharding).

[2017-01-17 01:08] infordb commented on #2010
this is schema and sample data
![image](https://cloud.githubusercontent.com/assets/10610884/22004090/2fa5858a-dc9c-11e6-9f9c-dd27ab376624.png)
 - partition_key : 1day
 - param_index : sensor_id
 one partition is 1day data of 1 sensor..

write load program put sensor data uniformly

[2017-01-17 01:15] glommer commented on #2010
Hi,

It is important to understand that Scylla always map the same partition key to the same CPU, not only the same node. This is one the things that allow us to use a lot of lockfree algorithms and a core part of our design.

So if all writes over a period of time have the same partition key + param_index, they will all be served by the same CPU - regardless of their clustering key. We have seen

[2017-01-17 02:50] dorlaor commented on #2010
@glauber, I think Junghyun  knows that, the question if the load was even
and whether a single sensor
was mostly used or it's an even case. More data is needed to analyze it

On Mon, Jan 16, 2017 at 5:15 PM, Glauber Costa <notifications@github.com>
wrote:

[2017-01-17 02:59] glommer commented on #2010
@dorlaor it seems like you have just tagged a random person - my username is glommer =)

But yes - from my original answer, most of the time we have seen patterns like this, it turned out to be because only (or mostly) a single partition was getting writes. We need to first hear from them to make sure whether or not this is the case.

[2017-01-17 03:39] #1970 closed

[2017-01-17 06:51] infordb opened #2018 "how to use pstack command for scylladb stack trace"
*Installation details*
Scylla version (or git commit hash): 1.6
OS (RHEL/CentOS/Ubuntu/AWS AMI):CentOS

I  tried to check stack trace of Scylladb..
But pstack command returned nothing

[root@stgtest01 ~]# ps -ef | grep scylla
scylla   23429     1 99 15:44 ?        00:00:26 /usr/bin/scylla --log-to-syslog 1 --log-to-stdout 0 --default-log-level info --collectd-address=127.0.0.1:25826 --collectd=1 -

[2017-01-17 08:22] elcallio commented on #1994
This is due to a limitation/bug in the TLS layer socket shutdown. I've sent seastar patches.

[2017-01-17 08:46] tgrabiec commented on #2015
@svetob You can start Scylla with `--abort-on-lsa-bad-alloc=1 --abort-on-seastar-bad-alloc` arguments to force crash (and core dump) on bad_alloc.

[2017-01-17 09:01] infordb commented on #2010
@glommer  I tested it with 30,000 param_index , and All sensors(param_index) are input simultaneously.

Below is another use case
 - schema : partition key / column   (not using clustering key)
 - write only ( partition key is always different)
Shard8 does not process requests much, but has pending spike ..
What do I need to check to find the cause of the problem?

![image](https://cloud.githubuse

[2017-01-17 09:48] elcallio opened #2019 "schema_tables::column_families "comparator" column value incompatible with cassandra"
Given

    create keyspace ks WITH replication={ 'class' : 'SimpleStrategy', 'replication_factor' : 1 } ;
    CREATE COLUMNFAMILY ks.cf (key varchar, s text STATIC, i int, PRIMARY KEY (key, i)) WITH comment='test cf' AND read_repair_chance=0.000000;

On query of this particular CF in the system_table,  scylla will return
`org.apache.cassandra.db.marshal.CompositeType(org.apache.cassandra.db.marsha

[2017-01-17 10:20] slivne commented on #2019
I have tried doing that on 1.6 and am getting the same

cassandra 2.1.15
[code]

scylla 1.6
[code]

So this to be post 1.6

[2017-01-17 11:09] svetob commented on #2015
Adding these settings and restarting the node, will see if we can get a core dump to happen.

On a side note, similarly to #1885 we are seeing similar error message and another similarity is that we are also sending unlogged batches during this test run. We are sending 30 items per batch. Plan is to switch to single inserts but we have not completed that switch yet. So maybe this error is connecte

[2017-01-17 12:59] #2019 closed

[2017-01-17 22:04] dorlaor commented on #2010
@slivne @glommer Pls assign it to someone that can help soon

[2017-01-18 01:02] glommer commented on #2010
@infordb in your first graph, can you tell us exactly which metric are you using for the  "segments migrated" graph ?

[2017-01-18 02:09] infordb commented on #2010
@glommer seastar_lsa{instance="stgtest02" , metric="segments_migrated"}

[2017-01-18 07:20] kongove opened #2020 "fail to call scylla-housekeeping for wrong path of housekeeping.cfg"
*Installation details*
Scylla version (or git commit hash): 1.6.rc0-20170105.337d6fb

Jan 18 08:45:14 localhost.localdomain systemd[1]: Started Scylla Housekeeping.
Jan 18 08:45:14 localhost.localdomain systemd[1]: Starting Scylla Housekeeping...
Jan 18 08:45:14 localhost.localdomain scylla-housekeeping[2813]: Config file /etc/scylla.d/housekeeping.cfg is missing, terminating

[2017-01-18 07:31] kongove commented on #2020
Posted a fix to maillist: [PATCH scylla] dist/redhat: fix path of housekeeping.cfg

[2017-01-18 08:50] tgrabiec commented on #2010
@infordb Note that Scylla shard numbers are not the same as CPU numbers. So when you do `perf top -C15`, you don't necessarily sample shard 15. Did you check with `mpstat -P ALL 1` that it is `-C15` which is most busy?

[2017-01-18 09:40] infordb commented on #2010
@ I checked all cores with top + 1  core15 was most busy , and other cores also were busy too

[2017-01-18 10:05] tgrabiec commented on #2015
@svetob In addition to collecting core dumps on bad_alloc, I encourage you to setup metrics collection: https://github.com/scylladb/scylla-grafana-monitoring. They will be very valuable for analysis, not only for bad_alloc issues.

[2017-01-18 10:47] slivne commented on #2010
@infordb can you download the prometheus data and upload it somewhere - this will probably help in reducing the back and force,

can you also provide the ``mpstat -P ALL 1`` info @tgrabiec requested.

[2017-01-18 11:12] tgrabiec commented on #2010
It's best to run node_exporter (https://github.com/prometheus/node_exporter), then if we get the metrics, we would also get the data mpstat would report.

[2017-01-18 18:27] roydahan opened #2021 "coredump during c-s read performance test"
**Installation details**
Scylla version (or git commit hash): 1.5.0
Cluster size: 3 node, i2.2xlarge
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI (ami-0d73641a)

During ami-perf-regression testing, a coredump was issued for test-read scenario.

The test uses 4 loaders and run c-s read for 50 mins, however the coredump was issued during the write phase of the test after about 1 hour.

**Test Details:**

[2017-01-18 18:28] roydahan commented on #2021
System is still alive and marked as keep=alive in case someone want to drill down.

[2017-01-18 18:31] avikivity commented on #2021
Please copy the core somewhere instead.

[2017-01-18 19:12] benoit-canet commented on #2021
Hi Roy

Instruction for core dumps are here I think.

https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-problem

On Wed, Jan 18, 2017 at 7:31 PM, Avi Kivity <notifications@github.com>
wrote:

[2017-01-18 19:13] benoit-canet commented on #2021
Look in https://gist.github.com/tzach/03e23eb56b64e1f143c8

On Wed, Jan 18, 2017 at 8:12 PM, Benoît Canet <benoit@scylladb.com> wrote:

[2017-01-18 19:16] roydahan commented on #2021
Already uploaded it.
Please see coredump location in the issue description.

[2017-01-19 08:46] penberg commented on #1437
@slivne @tzach Scylla 1.7 claims Cassandra 2.2 compatibility to drivers so we probably need to fix this for the release.

[2017-01-19 09:03] tgrabiec opened #2022 "Sstable index reader is destroyed without being closed"
*Installation details*
Scylla version (or git commit hash): master, could apply to earlier as well

Refs #990

Created from:
[code]

Destroyed at:

[code]

[2017-01-19 09:09] #2020 closed

[2017-01-19 10:01] slivne commented on #1880
@raphaelsc did your work on loading sstables / resharding  (as part of moving to use other bits for partitioning data) solve this

[2017-01-19 10:11] amnonh opened #2023 "Nodetool status, should use the gossip information to decide the nodes' state"
Any version

Nodetools status, prints a state indication (UDJLMN).
Current implementation pick the state based on the token_metadata list the node belongs to: _leaving_endpoints, _bootstrap_tokens etc'.

This solution limits us to the states cassandra supports.
A better solution would be to get the status directly from the gossiper.

A specific example is when replacing a dead node, internally we

[2017-01-19 10:13] #1628 closed

[2017-01-19 10:31] slivne commented on #1363
@glommer - is there anything left todo here - after your changes in 1.5 ?

[2017-01-19 10:46] slivne commented on #1069
in prometheus we support more metrics with node-explorer

[2017-01-19 10:46] #1069 closed

[2017-01-19 11:08] tzach commented on #726
@avikivity @syuu1228 this is already working.
Can we close this?

[2017-01-19 11:09] tzach commented on #697
@amnonh any update on this issue?

[2017-01-19 11:11] tzach commented on #657
@noamha can you please validate this?

[2017-01-19 11:18] tzach commented on #1374
@penberg how hard it is to do so?

[2017-01-19 11:20] #732 closed

[2017-01-19 11:29] penberg commented on #1374
@tzach It's a small matter of submitting a PR against their repositories and addressing all the review comments. :wink: So in short: I have no idea.

That said, I don't think our Docker image is really robust enough for that yet. For example, the default Docker configuration takes over the whole machine (see #1848 and #1849, for example).

[2017-01-19 11:43] amnonh commented on #697
I think it's assigned to @gleb-cloudius

[2017-01-19 11:50] #726 closed

[2017-01-19 11:54] avikivity commented on #1880
Not sure what's the problem in this bug.  Is parallel probing problematic?  It's only a problem if it consumes large amounts of memory.

[2017-01-19 12:21] avikivity opened #2024 "Automatically adjust bloom filter size for an sstable"
If an sstable has very small partitions (perhaps it is just a bunch of tombstones), then the bloom filter may be too large to hold in memory; so the false positive rate should be increased (more false positives) to reduce the impact on memory.

Otherwise, if an sstable has very large partitions, then its bloom filter can be very small.  We can increase the accuracy of the bloom filter since it won

[2017-01-19 12:30] svetob commented on #2015
Unfortunately we were not able to get a core dump this time. #2014 has been causing issues making the indexing tests unreliable, and now we've had to destroy the cluster instances to make room for other things.

We did notice that until the point where we restarted the node, it was running compactions which were eventually failing with  std::bad_alloc the same way as in the logs above, and indexin

[2017-01-19 13:14] slivne commented on #888
we support 16.04

[2017-01-19 13:14] #888 closed

[2017-01-19 13:15] slivne commented on #855
we support 16.04

[2017-01-19 13:15] #855 closed

[2017-01-19 13:16] #812 closed

[2017-01-19 13:17] slivne commented on #664
we support ubuntu 16.04 - if there is an issue - please open a new issue

[2017-01-19 13:17] #664 closed

[2017-01-19 13:19] slivne commented on #616
in 1.7 we will support uploading 2.2 sstable via sstableloader.

[2017-01-19 13:20] duarten opened #2025 "Better filtering support (without indexes)"
*Installation details*
Scylla version (or git commit hash): 1.6

Consider the following table:

[code]

Trying to filter the regular columns `v` results in errors about indexes not being implemented:

[code]

On Cassandra 3.X, however, they are supported:

[code]

I don't know if this is a consequence of storage format improvements, or just plain code.

[2017-01-19 13:29] #654 closed

[2017-01-19 13:30] slivne commented on #500
we support additional partitioners and the condif is used

[2017-01-19 13:30] #500 closed

[2017-01-19 13:33] slivne commented on #261
@avikivity , @glommer - glommer's work in 1.5 changed all of this - can I close this issue

[2017-01-19 13:36] slivne commented on #31
we support tracing of slow queries

[2017-01-19 13:36] #31 closed

[2017-01-19 14:07] glommer commented on #261
yes you can

[2017-01-19 14:09] glommer commented on #1363
Things that are left to do (potentially) are not described here, but in their own bugs like #1854.

Let's close this.

[2017-01-19 15:07] #261 closed

[2017-01-19 15:07] #1363 closed

[2017-01-19 16:55] #2008 closed

[2017-01-19 17:14] tgrabiec commented on #2021
@roydahan How do I extract the core file from the fragments? I joined the 4 fragments using cat but pigz refuses to decompress the result:
[code]

[2017-01-19 17:59] raphaelsc opened #2026 "resharding may break LCS invariant"
If we're resharding a L1 sstable (it remains in level 1), it may happen that an ongoing L0->L1 compaction is writing to same token range at the moment, leading to overlap in level 1. We should either limit LCS to STCS in level 0, or resharded sstable goes to level 0, or somehow lock ranges for a specific level.

[2017-01-19 18:01] raphaelsc commented on #2026
The latest idea is the hardest to implement, but it seems to be the best one.

[2017-01-19 18:20] tgrabiec commented on #2021
Better backtrace:
[code]

Looks like later() throws an exception, probably because task allocation fails. We abort because region_group::release_requests() is noexcept. It has to be noexcept, it's called in the free path. Here, from a reclaimer.

[2017-01-19 18:40] tzach commented on #654
The original issue was about validating the install process, starting from the link in the download page

[2017-01-19 18:53] tzach opened #2027 "Support IPv6 for client to node and node to node communication"
*Installation details*
Scylla version (or git commit hash): 1.6

[2017-01-19 19:06] tgrabiec commented on #2021
So, we're likely low on memory when this happens. Do we have logs/metrics for this run?

[2017-01-19 19:13] lmr commented on #654
A part of the work was implemented in scylla-artifact-tests. About validating the link in the download page, that sounds like a fairly manual process (although it could be automated with some web page scraping, or, better, selenium tests).

[2017-01-20 02:45] dorlaor commented on #1934
@maximmai how is the port going?

[2017-01-20 02:50] infordb commented on #1996
We limited resources to meet customer requirements
and we run scylla only on this machine..

[2017-01-20 05:32] infordb commented on #2010
from : 2017-01-20 13:53:00
to     : 2017-01-20 14:24:00
timezone : gmt +9

[prometheus_spike.tar.gz](https://github.com/scylladb/scylla/files/718497/prometheus_spike.tar.gz)

[2017-01-20 06:15] penberg commented on #616
I think this issue was about Scylla supporting 2.2 sstables _natively_, no?

We also have an open issue for supporting 3.0 sstables by Scylla in https://github.com/scylladb/scylla/issues/1969.

[2017-01-20 06:15] penberg commented on #1631
@elcallio @slivne Can we close this? Sstableloader has supported 3.0 sstables since https://github.com/scylladb/scylla-tools-java/commit/98725449500895e1d1dc00c2d6889503a3252a89

[2017-01-20 06:17] penberg commented on #1300
@slivne I think we should have closed this issue, but kept https://github.com/scylladb/scylla/issues/616 open.

[2017-01-20 09:02] tgrabiec opened #2028 "The limit in CQL query involving aggregates should apply to CQL result rather than input to the aggregate"
*Installation details*
Scylla version (or git commit hash): 1.7

Currently `select count(*) from table limit 1` will return `1`. It should return the actual number of CQL rows in the table instead.

This change of semantics was introduced in Cassandra 2.2.

[2017-01-20 09:08] tgrabiec opened #2029 "Align ordering of results of CQL queries using IN restriction with Cassandra 2.2"
*Installation details*
Scylla version (or git commit hash): 1.7

Cassandra's NEWS.txt entry for 2.2 :

Change made as part of  https://issues.apache.org/jira/browse/CASSANDRA-7981

[2017-01-20 09:20] tgrabiec commented on #2021
Allocating from reclaimer is dangerous, since there is no guarantee that the allocator will be able to satisfy the allocation without reclaiming (and we can't reenter the reclaimer). This can happen for example if the small pool for the allocation is out of spare objects and need to do a large allocation to repopulate.

I think the code calling later() should be refactored to use alloc-free waking

[2017-01-20 10:29] #1056 closed

[2017-01-20 11:37] roydahan commented on #2021
We should have the Prometheus's DB in the Jenkins job. I can upload it later if you need it.

[2017-01-20 12:00] #2022 closed

[2017-01-20 12:46] tgrabiec commented on #2021
@roydahan Please do, or just tell me where to find it.

[2017-01-22 03:41] manigandham commented on #577
@meteozond @atin65536 @mike86k @itayadler @sequoiar @horschi @npenkov @rohitjoshi

FYI: When voting, it's best to use the Github reactions feature to add a "thumbs up" on the issue itself - this avoids the extraneous +1 comments and allows issues to be easily sorted by the number of reactions on the main issues page.

![image](https://cloud.githubusercontent.com/assets/457226/22179530/8dd9c766-e00

[2017-01-22 06:54] dorlaor commented on #577
btw @pdziepak is actively working on it and we're confident we'll deliver it in March, probably sooner on the main branch

[2017-01-22 07:28] tzach commented on #616
Agree with @penberg here. The original issue was a native support.
Having said that, sstableloader is a better solution for more users, so the original issue can be pushed to the future.

[2017-01-22 09:55] roydahan commented on #2021
Promethues data attached below:
[perf-regression-master-scylla-monitor-node-cccf1559-1.zip](https://github.com/scylladb/scylla/files/721848/perf-regression-master-scylla-monitor-node-cccf1559-1.zip)

[2017-01-22 10:11] roydahan commented on #1300
I'm working (finalizing my work) to add the necessary tests to our dtest regression.
If you want, I can close this one when we merge it.

[2017-01-22 10:13] roydahan commented on #1631
I'm working to add the necessary dtest support for it.
If you want, we can keep it as a placeholder and close it when I merge the tests.

[2017-01-22 11:18] penberg commented on #1300
@roydahan 👍

[2017-01-22 11:19] penberg commented on #1631
@roydahan 👍

[2017-01-22 11:46] slivne commented on #616
@tzach as we do not intend to support it at this point lets close it as wont-fix

[2017-01-22 11:52] avikivity commented on #616
Why? We'll support it at some point.

[2017-01-22 12:01] tzach commented on #616
We can keep it open and wait for the community feedback. For now it does not look urgent

[2017-01-22 12:04] avikivity commented on #616
It's a simple change that will improve our bloom filter performance and a step on the way to the 3.x format.

[2017-01-22 12:07] penberg commented on #616
@avikivity Indeed. I certainly don't see why we would _not_ support 2.2 format. We already supported it pre-1.0 and it was a last minute decision to go back to 2.1 format. /cc @glommer

[2017-01-22 14:08] benoit-canet commented on #1962
Do you mean SFINAE by specializing ?

[2017-01-22 14:12] avikivity commented on #1962
No, have two classes, with different behavior.

[2017-01-22 14:38] nyh commented on #1962
@avikivity I'm not sure I understand where the performance gain will come from...
1. In the "data_available" stuff you'll still have the same if()'s, and just as now, they will always or almost always come out true (so we can do "expect" trickery if you want).
2. In my original implementation, indeed proceed::no meant we finished reading; But in the current implementation, if I understand it, we f

[2017-01-22 14:48] avikivity opened #2030 "Cache footprint reductions"
- specialize the cache for the cases where we have no clustering key and/or no static row
 - use btree instead of rbtree (reduces pointer overhead from 3/node to 1.125/node)
 - only store tokens in non-leaf nodes
 - specialize cache for 64-bit tokens
 - use compressed (32-bit) pointers in cache

[2017-01-22 15:02] avikivity opened #2031 "Native type storage"
Instead of storing data as vectors of `managed_bytes`, store it as tuples of the native type.  This removes indirections since our small-string-optimization only works for <= 15 bytes, and this includes metadata such as the timestamp.

This will include
 - replacement of `managed_vector<managed_bytes>` by a synthesized tuple type containing the `native_type`s of the stored columns
 - encode NULLs

[2017-01-22 15:07] avikivity commented on #1962
1. There's a difference between an if () that affects control flow, and an if (...) throw; The latter allows simpler code generation
 2. Good point; we need to also supply a custom mp_row_consumer that always return proceed::yes

[2017-01-22 15:15] avikivity commented on #2031
Note the indirections are particularly expensive, since we need to store a pointer, a back-pointer, size, and allocation metadata for the chunk.  Each one costs 40-50 bytes.

[2017-01-22 15:23] avikivity opened #2032 "Reduce LSA object descriptor overhead"
[code]

If we

 - force alignment to always be 8
 - add `migrate_fn_type::size(void* object)`
 - add a `dead_migrate_fn_type` subclass (instead of live_flag)

then we can reduce `sizeof(object_descriptor)` from 14 bytes to 8 bytes

[2017-01-22 15:54] avikivity commented on #2031
A follow-up would be to jit comparators for partition key / clustering key tuples.

[2017-01-22 17:09] roydahan commented on #2021
BTW, two more observations:
1. The coredump doesn't happen in 1.4.1 and 1.6.rc1 but happened in earlier 1.6 build.
2. This happened also when we ran the above cassandra stress with much less load (rate-threads=100 instead of 500).

[2017-01-22 17:27] avikivity opened #2033 "DISCARD is broken on CentOS RAID"
*Installation details*
Scylla version (or git commit hash): 1.0+

[code]

and

[code]

[2017-01-22 17:28] avikivity commented on #2033
Dropping a file into `/etc/modprobe.d` should fix it.

[2017-01-22 17:36] avikivity commented on #2033
Verified that it works after setting the parameter.

So we should just drop a file into /etc/modprobe.d, and also write the parameter directly in case the module is already loaded.

[2017-01-22 17:36] avikivity commented on #2033
[code]

@dorlaor

[2017-01-23 08:41] gleb-cloudius commented on #2014
I see that in issue #2014 you report that the node 10.14.101.6 has
memory issues. Is this happen simultaneously? It may be that 10.14.101.6
fail to process gossiper messages from 10.14.103.131 due to not
having enough memory, but that's just a theory.

--
			Gleb.

[2017-01-23 09:02] dorlaor commented on #2033
Looks important. I recon the AWS SSDs deserve this file

On Sun, Jan 22, 2017 at 9:36 AM, Avi Kivity <notifications@github.com>
wrote:

[2017-01-23 09:30] avikivity commented on #1854
Here's another workload that highlights why flush oldest is better:

 - table A is written at 1 MB/sec
 - table B is written at 100 MB/sec

let's say we flush at 1 GB.  With flush biggest, for the first 500 seconds, B will be flushed, with memtables sizes starting from 1GB and ending at 500MB. Then A will be flushed (at 500 MB) and the cycle repeats again.

Average A memtable size is around 650 MB

[2017-01-23 10:13] duarten commented on #1854
On Mon, Jan 23, 2017 at 10:30 AM Avi Kivity <notifications@github.com>
wrote:

Memtables are limited to 1GB?

Shouldn't it be 550MB (500 seconds + 50 seconds to flush B)?

In terms of compaction load, flush oldest decreases bandwidth by an extra

Where does 0.6 come from?

[2017-01-23 10:45] avikivity commented on #1854
On 01/23/2017 12:13 PM, Duarte Nunes wrote:

That's the assumption for this scenario.  In general memtables are
limited to ~25% of shard memory.

The throughput figures above are incoming throughput, disk write rate
can be higher.  Assuming it is instantaneous here for simplicity.

Actually 0.65, average memtable size over max memtable size.

If memtables are N times smaller then we add another co

[2017-01-23 11:00] tgrabiec commented on #2021
@roydahan Are those metrics from the same run? They end at 14:24 whereas from the log excerpt you pasted it looks like the crash was at 15:02. I also do not see the IP from the log (54.173.233.146) in the instance set from the metrics recording:

![screenshot from 2017-01-23 11-59-47](https://cloud.githubusercontent.com/assets/283695/22201354/74961bd4-e163-11e6-980f-9f00b9c2db5c.png)

[2017-01-23 12:13] roydahan commented on #2021
Sorry @tgrabiec, you are correct, it's not from the same run but one run earlier.
unfortunately, I don't have the data from the same run, because I chose to keep the setup alive.

[2017-01-23 14:02] noamha commented on #657
Tested again, this time there were 2 disk io per each read.

Scylla configuration:
- Scylla 1.5
- Single i2.8xlarge node

Loader:
- Single i2.8xlarge node

Stress for write:
[code]

Restarted Scylla and ran the following stress for read:
[code]

- There were 50K reads per second
- There were 0 cache hits
- Both iostats and Scylla Grafana dashboard shows around 100K disk ops per second

[code]

[2017-01-23 14:12] tzach commented on #657
Thanks @noamha
Closing this issue then

[2017-01-23 14:12] #657 closed

[2017-01-23 14:43] tgrabiec commented on #2010
Looks like all shards have more or less the same write throughput, and all commitlog IO queues do more or less the same IOPS.

![screenshot from 2017-01-23 15-11-05](https://cloud.githubusercontent.com/assets/283695/22207387/3f334a9a-e17f-11e6-862f-dca9598e3d0c.png)

The queues for shards 15 and 8 experience much more delay (two shades of purple):

![screenshot from 2017-01-23 15-23-00](https://cl

[2017-01-23 14:53] noamha commented on #942
Ran the same configurations and stress commands only on AWS i2.8xlarge.
This time looks like the average block size is around 100kb:
[code]

[2017-01-23 15:09] #942 closed

[2017-01-23 15:14] noamha opened #2034 "nodetool netstats shows error when node is joining"
Configuration:

- Scylla 1.5 official AMI
- Started with a 4 nodes cluster
- Decommissioned the first node
- Wrote data to the 3 nodes cluster
[code]
- In the first decommissioned node
   - deleted the data & commit log folders
   - changed the default auto bootstrap back to true (it's false in AWS)
   - Started the Scylla service
- While the node was joining I ran "nodetoool netstats" from the jo

[2017-01-23 15:27] tzach commented on #2034
@amnonh?

[2017-01-23 16:25] avikivity commented on #548
Closing, leaving #420.

[2017-01-23 16:25] #548 closed

[2017-01-23 16:27] avikivity commented on #420
Once we have LWT we can leverage that infrastructure to fix this.

[2017-01-23 16:30] avikivity commented on #263
Fixed by 895e838ac0b6950f9badb73b5a28d1795b426600.

[2017-01-23 16:30] #263 closed

[2017-01-23 16:34] #1023 closed

[2017-01-23 16:40] avikivity commented on #814
Making the log behave like a metrics database will make it unusable for its original purpose. Suggest closing.

[2017-01-23 16:40] avikivity commented on #152
@pdziepak we have this now, no?

[2017-01-23 16:42] avikivity commented on #145
See also #2030.

[2017-01-23 16:43] avikivity commented on #56
Behavior is correct and needed to maximize cpu utilization.

[2017-01-23 16:43] #56 closed

[2017-01-23 16:50] noamha commented on #861
Ran a similar test as before, only with the following exception:
- Scylla 1.5 AMI
- i2.8xlarge
And all stress test ran with 100 threads instead of 700 threads.

Didn't get any errors while running the repair.

[2017-01-23 17:18] amnonh commented on #814
I suggest statd instead

[2017-01-23 17:22] amnonh commented on #2034
On Mon, Jan 23, 2017 at 5:27 PM, Tzach Livyatan <notifications@github.com>
wrote:

Lookds like the API wasn't started yet, probably because the node was in
joining state

[2017-01-23 17:24] #861 closed

[2017-01-23 19:09] noamha commented on #2034
I don't know if it helps, my if I recall correctly nodetool status did fuction.

[2017-01-23 22:01] svetob commented on #2014
This was happening before and after node 10.14.101.6 encountered memory issues, and most nodes in the cluster seemed to be affected by it.

[2017-01-23 22:04] duarten commented on #1873
Has this happened again?

[2017-01-24 09:12] gleb-cloudius commented on #2014
m4.2xlarge is listed as having "High" networking bandwidth, but I did not find anything official about how "high" is it (unofficially it is around 1Gbps) and if it is guarantied to stay the same. When you have connectivity problem can you check what is your bandwidth usage?

[2017-01-24 09:52] tgrabiec commented on #2021
I finally got the core dump.

The bug is directly triggered by the fact that the pending task buffer needs to grow above 64K elements and memory reclamation is needed and it is satisfied by compacting memtable segments. The bug exists on 1.3, but it could be that 1.5 made those conditions more likely for some reason to occur.

Because the reclaimer tries to schedule a task using later(), it is bou

[2017-01-24 09:53] tgrabiec commented on #2021
There could be another bug lurking here, which is causing large number of tasks to be scheduled in the first place. Will dig a bit more.

[2017-01-24 11:03] infordb commented on #2010
@tgrabiec
[root@stgtest01 ~]# cat /etc/scylla.d/io.conf
SEASTAR_IO="--max-io-requests=60 --num-io-queues=15"

I will test whth 16 io queue

[2017-01-24 11:24] benoit-canet commented on #1962
@akivity: are base class with virtual an derived class for specialisation allowed ?

[2017-01-24 11:31] avikivity commented on #1962
In this case I meant the existing method of specialization, which is CRDT:

[code]

Change to

[code]

With two DataProviders: one behaving like an input_stream, the other a single buffer (they need a similar interface).

[2017-01-24 11:33] avikivity commented on #1962
btw, we should go further.  Since the input is <128k, we should specialize the StateProcessor too to always return `proceed::yes`.  This way we never exit the loop, and the state machine becomes just a regular loop to the compiler.

[2017-01-24 13:16] roydahan opened #2035 "Installation on clean debian8 produce errors for missing lspci"
*Installation details*
Scylla version (or git commit hash): 1.6.rc1
Cluster size: N/A
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian

During scylla_setup on a clean debian8.6 box, there are errors that are caused by missing pciutils (the command lspci).

To overcome the issue, the user should install pciutils before running scylla_setup
sudo apt-get install pciutils

[2017-01-24 14:24] tgrabiec commented on #2010
@infordb Note that the throughput seems to be the same for shards 8 and 15 despite they experiencing larger commitlog latency. I wouldn't expect throughput to improve, though it's still worth doing. The system seems CPU-bound. If improving throughput is your goal, then we should check CPU flame graphs.

[2017-01-24 14:31] tgrabiec commented on #2032
Rather than forcing the alignment, shouldn't we pack the objects (require alignment of 1) to reduce overhead? I've heard that nowadays misaligned accesses are no longer detrimental to performance on x86.

[2017-01-24 15:05] avikivity commented on #2032
We can force alignment of 1.  Will require adding `static_assert(alignof(T) == 1)` to make sure we declare everything as packed (not that it makes a difference).

[2017-01-24 15:36] tgrabiec commented on #2032
What do you mean by "not that it makes a difference"?

[2017-01-24 15:44] avikivity commented on #2032
It is illegal to construct an object with alignof greater than actual alignment. On x86 and aarch64, however, the same code is emitted when when constructing a regular object and a [[gnu::packed]] object, so even if you make a mistake, no one notices (except perhaps a sanitizer).

On other architectures (like armv7) you have different code emitted for the two cases.

[2017-01-24 17:11] avikivity opened #2036 "byte-based streamed_mutation buffer_limit"
Currently `streamed_mutation` buffers 16 rows, this is bad for very small or very large row (but probably just right for 1k-4k rows).

[2017-01-25 01:48] glommer commented on #1551
@tgrabiec I wonder if this is still an issue after you have fixed memtable's clear() function to gracefully move entries to the cache instead of at once ?

[2017-01-25 08:23] #2035 closed

[2017-01-25 09:27] benoit-canet commented on #1962
@avikivity how comes data_source.get() will read 128k at once ? is it read ahead ?

[2017-01-25 11:03] duarten opened #2037 "Thrift: Range deletions should cover static rows"
*Installation details*
Scylla version (or git commit hash): master @ bce0fb3

Not sure if it's needed, but the Thrift code should special case range deletions so it can also delete a static row, as is expected by the dtest test_range_tombstone_and_static. Currently, the range delete is just mapped to a range tombstone which doesn't apply to static rows.

[2017-01-25 12:16] tgrabiec commented on #1551
After 3511bf4a81b36e50ec772938eafa063f93a3aa44, clearing is done incrementally and will not block the reactor for the whole duration. However, I think the fact that clearing is slow is still something which we should improve upon, because memory is not released until clearing is complete.

Some of the ideas were mentioned in this issue. I also recently opened https://github.com/scylladb/scylla/iss

[2017-01-25 12:44] gleb-cloudius opened #2038 "cannot boot after "out of disk space error""
*Installation details*
Scylla version (or git commit hash): 8c65b98ea7821a9e62a57b0e1d50f7418a4b65f2

During compaction a node ran out of space and stopped, after restarting I get:

[code]

There is 11G of free space, so enough for strartup at least.

[2017-01-25 13:50] benoit-canet commented on #1962
@avikivity ok I get it 128k is the block size of an sstable so the first read on the data source will return up to 128k

[2017-01-25 14:23] avikivity commented on #2038
Because we use DMA, we write 4k into the TOC, then truncate it.  Looks like that failed.

However, we should have written that 4k into a "temporary TOC", then truncated it, then renamed it.  Somehow the write worked, the truncate did not, but the rename did.

[2017-01-25 15:45] benoit-canet commented on #1962
@avikivity I am writing first_block_input_stream in seastar with the corresponding tests.

[2017-01-25 17:04] pdziepak commented on #152
Yes, these blocks of segments are called "zones".

[2017-01-25 17:05] penberg opened #2039 "CQL binary protocol v4 unset values"
The CQL binary protocol v4 has a concept of "unset values", which can be used with prepared statements, for example, to avoid updating some bound variables. Scylla currently does not support them, although it claims v4 compatibility.

[2017-01-25 17:40] glommer commented on #2010
On Tue, Jan 24, 2017 at 6:03 AM, Junghyun Park <notifications@github.com>
wrote:

Note that to use 16 I/O queues, you will need at least 64 requests.

You can bump that up manually for the sake of testing.

[2017-01-25 18:42] roydahan opened #2040 "Node decommission failure during longevity test"
*Installation details*
Scylla version (or git commit hash):1.6.rc1
Cluster size: 6 (and changing)
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

Platform (physical/VM/cloud instance type/docker): i2.4xlarge

During longevity testing, after 12+ hours of run, node decommission failed with the following error:
[code]

The streaming failed for node: 172.30.0.184 (54.162.107.7)
[code]
However, it seems like

[2017-01-25 18:47] roydahan commented on #2040
Jog log:
[job.log.gz](https://github.com/scylladb/scylla/files/730653/job.log.gz)

[2017-01-26 07:28] avikivity opened #2041 "Prepared statement pushdown to replica"
Right now prepared statements only have a footprint on the coordinator, not the replica.  This means that any preparation work cannot be done on the replica side, and they have to interpret the entire query; for example, they can't cache the column_family object, they have to look it up.

We should have an equivalent to prepared statements on the storage proxy -> replica channel; it doesn't have t

[2017-01-26 09:34] tgrabiec commented on #2021
Pending task queue looks like this:
[code]

One problem is that there is a lot of tasks associated with `release_requests()` (32K). The `later()` tasks are also associated with `release_requests()`:

[code]

We shouldn't have as much as 16K pending writes at a time given loader concurrency, so I presume that the writes started to time out and accumulate. The fix for this (5ea235e3e88d0a223a817c8f1

[2017-01-26 10:07] tgrabiec commented on #2021
There are traces of write timeouts on this node:

[code]

[2017-01-26 11:51] roydahan opened #2042 "Node remains in status UL after failed decommission"
*Installation details*
Scylla version (or git commit hash): 1.6.rc1
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

In case a decommission operation failed (e.g. remote node was killed during the streaming), the decommissioned node remains in status UL and doesn't return to status UN.

(The status is the same in all nodes in the cluster)

[code]

[2017-01-26 13:47] slivne commented on #2040
in the job.log we had 28 decommissions ... so its not that ever decommission fails.

I was not able to easily reproduce this - maybe its "simply a bad AWS instance"

![screenshot from 2017-01-26 15-44-43](https://cloud.githubusercontent.com/assets/3465480/22333361/80e67622-e3de-11e6-80c9-e9a7e5e9957d.png)

doing the same query on other instances ``` collectd_reactor_gauge{type="gauge_queued-io-req

[2017-01-26 14:44] glommer opened #2043 "make compaction log less noisy"
Nowadays, most of the Scylla system log is taken by compaction information. That makes the log files gigantic and hard to read, parse, and transfer around for remote debugging.

Compaction is a normal and expected process and we should log them somewhere else.

We need to be able to query the process of compaction, including the number of SSTables compacted and their sizes (but their names is rare

[2017-01-26 14:46] glommer opened #2044 "add more counters about timeouts"
Timeouts can occur for many reasons, and right now we only log the fact that they have happened - not where exactly they have happened.

We should augment that information throughout the storage proxy code to increase our debugging capabilities.

[2017-01-26 14:49] burdandrei commented on #848
hey @avikivity  how's going?
just wanted to say that i remembered another great option for packages - Launchpad PPA!
What do you say? cause it's nightmare to install scylla with unsigned package.
Cheers!

[2017-01-26 14:51] gleb-cloudius commented on #2044
On Thu, Jan 26, 2017 at 06:46:46AM -0800, Glauber Costa wrote:

Storage proxy code already has counters for each failed read/write from a
replica, database layer should have such counters in each place request
may timeout.

--
			Gleb.

[2017-01-26 15:34] tgrabiec commented on #2021
Metrics from "perf-regression-master-scylla-monitor-node-cccf1559-1.zip" seem to belong to a successful run, cause both write and read phases completed, with clients disconnecting before each node goes down:

![screenshot from 2017-01-26 16-32-56](https://cloud.githubusercontent.com/assets/283695/22337440/3aae71f8-e3e5-11e6-985e-646de0d9e127.png)

![screenshot from 2017-01-26 16-32-42](https://clo

[2017-01-26 15:41] avikivity commented on #2021
32k writes, even if each write is 1k, should still not overwhelm a shard.  It's just 32M.

We need to improve in this area, but I don't think this is the root cause here.

[2017-01-26 15:44] avikivity commented on #2021
@tgrabiec a possible improvement for the task queue is to allocate a fixed size vector, and also support a singly-linked-list as part of the task structure.  Try to enqueue to the fixed ring buffer, if it fails, use the linked list.  This will give good performance when not stressed, and allocation-free operation when stressed.

[2017-01-26 17:23] dbathgate opened #2045 "nodetool clearsnapshot not freeing space"
*Installation details*
Scylla version (or git commit hash): 1.5
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

*Hardware details*
AWS: c4.2xlarge
Platform (physical/VM/cloud instance type/docker): AWS
Disks: (SSD/HDD, count): single 1TB EBS

I dropped and recreated a table with 25GB of sstable storage, which created a snapshot.
Running `nodetool clearsnapshot` did not free the 25 GB of s

[2017-01-26 18:37] tgrabiec commented on #2021
@avikivity The fact that we have 32K tasks means that writes are timing out as the client concurrency is way lower than that. When we reach 32K tasks and there are writes blocked on dirty, we hit the reclaimer bug resulting in a crash. But this bug is there since 1.3 so this suggests that on earlier versions we had less blocking of writes (and/or also less pending tasks due to less timeouts).

I'm

[2017-01-27 02:49] caizixian commented on #848
+1 for PPA

[2017-01-27 08:04] penberg commented on #2045
/cc @vladzcloudius @amnonh

[2017-01-27 17:53] vladzcloudius commented on #2045
I'll take a look.

[2017-01-27 19:13] vladzcloudius commented on #1217
@tzach I'm not sure "reads" are only "foreground reads". AFAICT "reads" are all pending reads since it's incremented in the abstract_read_executor and decremented in its destructor. I'm also not sure that the semantics of foreground/background operations in read and write context is equivalent and thereby the differences in the metrics sets are rather expected. However, I admit that there is some

[2017-01-27 19:52] tgrabiec commented on #1217
Refs scylladb/scylla-grafana-monitoring#75

[2017-01-27 21:47] vladzcloudius commented on #2045
@dbathgate The timeout you saw was a cqlsh timeout. It happened because the DROP operation actually took a long time: on my laptop it took about 3 minutes.
You may control the cqlsh timeout using the `request_timeout` parameter in the `cqlshrc`.

The snapshot in your report is created as a result of the `DROP TABLE` command.
I noticed that the snapshots of dropped tables are not deleted by the `no

[2017-01-29 08:45] gleb-cloudius commented on #1217
On Fri, Jan 27, 2017 at 11:14:05AM -0800, vladzcloudius wrote:

Initially writes also had "writes" and "background_writes" metrics, but
when I was adding write throttling code and had to use those counter a
lot I found out that often those two graphs are very close and thus not
very informative. Having "foreground_writes" counter instead of total
"writes" one was much more informative (049ae37d08f

[2017-01-29 09:22] #2039 closed

[2017-01-29 09:41] slivne commented on #2021
On previous versions the flush logic for memtables was different - so we
probably flushed "earlier" in the case of a single keyspace.table

On Thu, Jan 26, 2017 at 8:37 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2017-01-29 10:41] #1217 closed

[2017-01-29 11:58] nirmaayan commented on #1521
@slivne ping

[2017-01-30 14:57] elcallio commented on #1994
The corresponding fixes have been merged into seastar. This should fix this issue. Please verify and close.

[2017-01-31 11:06] gleb-cloudius commented on #1994
Verified. Would be nice to get a commit that fixed it here.

[2017-01-31 11:06] #1994 closed

[2017-01-31 11:44] elcallio commented on #1994
Fixed by d2fc98270e809263564f6dc1d71203f14b174b95, though that is just a seastar update. Seastar commits scylladb/seastar@098db66de38dfd9857d43592379907ad0194115e and scylladb/seastar@87773a82dfaf1cc143915663c2a96424110c39aa

[2017-01-31 12:15] tgrabiec opened #2046 "Default limit for commitlog size on disk is too small resulting in more frequent memtable flushes"
The per-node limit will be total memory divided by number of shards instead of just total memory. For example, when Scylla is started with `-c16 -m16G`, the commit log will induce flushes on given shard when unflushed data exceeds on that shard 62MB instead of 1GB.

[2017-01-31 12:27] tgrabiec opened #2047 "Commitlog may trigger many flushes in order to bring the on-disk size down"
The commitlog evaluates whether to flush due to on disk size limit being reached from the periodic timer tick (default: 10 sec), regardless of whether previous flush completed or not. If a flush takes more than that (including cache update), multiple flushes can be triggered, which is sub optimal as it results in small sstables.

Example (see the saw pattern with low height on the right which indi

[2017-01-31 13:02] avikivity commented on #2047
Aside from the bug, evaluating the size every 10 seconds can be too late for some memory size / disk bandwidth combinations.  We should evaluate it every segment allocation.

[2017-01-31 13:05] tgrabiec commented on #2047
@avikivity Agreed

[2017-01-31 13:35] elcallio commented on #2047
The case whether previous memtable flushes are done yet or not should perhaps not be the commit logs responsibility, since it has no notion of what actions are already in place due to its callbacks. It seems more reasonable that the callback in database should take into consideration the amount of pending flushed (i.e. size of the flush queue).

[2017-01-31 13:41] glommer commented on #2047
Note that with 1.5, there can  (in the absence of bugs) only be one flush
per CF. So if in 10 seconds we haven't yet finished the previous flush, we
will just tag into the shared future of the existing flush and return.

On Jan 31, 2017 7:27 AM, "Tomasz Grabiec" <notifications@github.com> wrote:

[2017-01-31 14:25] penberg opened #2048 "Rack and datacenter configuration options to Docker image"
The Docker image does not support rack or datacenter configuration options, which are part of the Apache Cassandra image.

See discussion on Stack Overflow:

http://stackoverflow.com/questions/41957464/how-do-i-set-rack-and-datacenter-name-for-scylladb-using-docker

[2017-01-31 14:42] tgrabiec commented on #2047
For efficiency of flushing we allow more than one flush to proceed concurrently and commitlog segments are released some time after the next flush is allowed to start. We should move the releasing of segments earlier in the flush process, right after sstable is sealed, and also do external flush coalescing at this point. We would still allow the next pressure-induced flush to start before sealing

[2017-01-31 15:13] #2046 closed

[2017-02-01 11:53] tgrabiec opened #2049 "WHERE clause in SELECT DISTINCT is silently ignored"
Mirror of https://issues.apache.org/jira/browse/CASSANDRA-11339

[code]

[code]

Whereas it is expected to reject the query with clustering key restrictions.

[2017-02-01 11:59] tgrabiec opened #2050 "SELECT on tuple relations are broken for mixed ASC/DESC clustering order"
Mirror of https://issues.apache.org/jira/browse/CASSANDRA-7281

[code]

[code]

Actual:
[code]

Expected:
[code]

[2017-02-01 13:04] tgrabiec commented on #1897
Closed by 45b607083290e7899bc3c6b9394463aba2707211

[2017-02-01 13:04] #1897 closed

[2017-02-01 14:24] dahankzter commented on #1248
I am happy to report that this no longer happens on our RHEL 7.3 with Scylla 1.5.
Close?

[2017-02-01 14:47] #1248 closed

[2017-02-01 18:31] syuu1228 opened #2051 "scylla_cpuscaling_setup doesn't works on AWS/GCE, because these VMs doesn't support cpufreq"
Since we run scylla_cpuscaling_setup by default, we get error on scylla_setup with default interactive selection.
We probably need to do "exit 0" when the machine doesn't able to load cpufreq device driver, instead of causing such error.

[code]

And it seems these VMs does not support cpufreq:
[code]

[code]

[2017-02-02 01:45] glommer commented on #1900
@tgrabiec do we already have any idea about what could be causing this ?

[2017-02-02 10:41] #577 closed

[2017-02-02 10:46] infordb opened #2052 "Recommended storage size per node"
What is the maximum storage capacity one hyperthreading core can handle?

dor said "A general rule of the thumb is 1TB of SSD per 4 cores or 10TB per node." at https://groups.google.com/forum/#!msg/scylladb-users/j_21dRCFflo/MhfDYRoABAAJ

Is this mean that machine with 32core with hyperthreading can handle 8Tera Data ?

If this is correct,
Does the machine  need 12Tera(8tera + 4tera) disk consider

[2017-02-02 11:11] tgrabiec commented on #1900
@glommer It very much looks like #990, which happens when you abandon a writer without closing it, typically when exception is thrown which interrupts the writer. I wasn't able to reproduce this particular scenario (crash while stopping compaction). It seems very likely that the writer is interrupted by exception, but the fact that we get an exception in the first when stopping indicates there is

[2017-02-02 12:25] rohitjoshi commented on #577
Great !! Thanks.

[2017-02-03 01:45] dorlaor commented on #2052
Well, it really depends how this data get accessed.
Data that get accessed (rd or wr) frequently needs more cpu power and the opposite.
That's why there is rule of the thumb but in practice it needs to match your usage pattern.
We have a user who managed to store 60TB (tera) on a medium server but they didn't
access the data that much.

You'd need to leave enough space for the compaction margin if

[2017-02-03 05:35] ban4785 opened #2053 "is data_file_directories option available in scylla?"
*Installation details*
Scylla version : 1.5.0
Cluster size: 3
OS (CentOS 7.2):

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical):
Hardware: sockets= 32cores= hyperthreading= memory=64G
Disks: (SSD raid0)

in scylla.yaml file
i configured data_file_directories to several directory
example => - /var/lib/scylla/data1 - /var/lib/scylla/data2 - /var/lib/scylla

[2017-02-03 05:59] infordb opened #2054 "H/W Spec"
I think your H/W spec is very high

![image](https://cloud.githubusercontent.com/assets/10610884/22580847/284c7c36-ea1f-11e6-83de-28f13285000b.png)

In general, we use  8 , 16 cores
In particular, customers don't want to use high spec machine for nosql.

Could you provide a recommendation value in the form below?
Of course, I think it may be different by usecase.
However, standards are needed in g

[2017-02-03 06:24] infordb commented on #2053
If there are 3 nodes and one is down, the repair effect is too great
During the repair period, the TPS decreased considerably.
![image](https://cloud.githubusercontent.com/assets/10610884/22581583/83734676-ea24-11e6-825b-7091f54baae9.png)
refer to  https://github.com/scylladb/scylla/issues/1907

So, we need to a way to reduce the impact of repair

[2017-02-03 19:05] dorlaor commented on #2053
You're asking to implement JBOD support. We may have such a github issue
already.
JBOD has an advantage but also has disadvantages - it doesn't utilize all
drives in parallel
and one drive can become full while others aren't.

The repair effect is a bug and should be fixed regardless. @asias has code
that improves
it and we have a work in progress to provide a better algorithm instead of
the curre

[2017-02-03 20:15] dorlaor commented on #2054
Some do need high end machines and some can settle for low end.
When a user has the option to chose and the cluster size is large, the rule
of the thumb is to reduce the number of machines as much as possible. This
reduces any potential distributed computing effect and increases utilization.
Although Scylla (and Cassandra) scales out with the number of machines, the scaling
has some overhead and t

[2017-02-03 20:15] #2054 closed

[2017-02-03 20:18] dorlaor commented on #2053
Closing, duplicate of #830

[2017-02-03 20:18] #2053 closed

[2017-02-04 01:00] vladzcloudius opened #2055 "snapshot for an empty CF is created while it shouldn't"
*Installation details*
Scylla version (or git commit hash): 937ed1bacb08b18efe5fe86643c5e930bfa9e857
Cluster size: 1
OS: Ubuntu

*Description*
According to the `nodetool snapshot` documentation snapshot directory should not be created for an empty CF (the one that has no data). However we create it and put a `manifest.json` file there.

[2017-02-04 04:04] vladzcloudius opened #2056 "Insecure defaults for prometheus_address"
Scylla version (or git commit hash): 937ed1bacb08b18efe5fe86643c5e930bfa9e857

*Description*
The default of `prometheus_address` (`0.0.0.0`) would make scylla listen to every address of the Node, which is not a secure default.

The default should be changed to `127.0.0.1`

[2017-02-05 01:38] syuu1228 opened #2057 "SCYLLA_CONF / SCYLLA_HOME environment variables on /etc/sysconfig/scylla-server confuses users"
We have SCYLLA_CONF / SCYLLA_HOME environment variables, originated from CASSANDRA_CONF / CASSANDRA_HOME environment variables on upstream.
We are using them to determine default config directories on following code:

[code]

However we have --options-file option to specify scylla.yaml path, I guess we don't really need it.
Also SCYLLA_HOME sounds like a variable to specify data directory since it

[2017-02-05 08:08] #1838 closed

[2017-02-05 08:10] #1758 closed

[2017-02-05 08:46] #1953 closed

[2017-02-05 10:57] roydahan commented on #1900
I think the issue was just reproduced on longevity-1.6-1TB test.

This is the relevant section in the log:
`2017-02-02 17:09:42,433 nemesis          L0161 INFO | sdcm.nemesis.ChaosMonkey: StopStartService Node longevity-1.6-1TB-scylla-db-node-c1dc9d95-3 [54.84.58.48 | 172.30.0.176] (seed: False)
2017-02-02 17:09:42,433 remote           L0862 DEBUG| Remote [centos@54.84.58.48]: Running 'sudo system

[2017-02-05 14:14] slivne commented on #1437
ref  2.2 has two different items

Support IN clause on any clustering column https://issues.apache.org/jira/browse/CASSANDRA-4762,
Support IN clause on any partition key column https://issues.apache.org/jira/browse/CASSANDRA-7855

[2017-02-05 14:18] slivne opened #2058 "Add support for SELECT JSON, INSERT JSON syntax and new toJson(), fromJson() functions"
Mirror of https://issues.apache.org/jira/browse/CASSANDRA-7970

[2017-02-05 14:20] slivne opened #2059 "CREATE TABLE WITH ID"
Mirror of https://issues.apache.org/jira/browse/CASSANDRA-9179

[2017-02-05 14:21] slivne opened #2060 "Allow mixing token and partition key restrictions"
Mirror of https://issues.apache.org/jira/browse/CASSANDRA-7016

[2017-02-05 14:38] slivne opened #2061 "Support / Change create table sytanx for compression options"
Support specifying compression options for tables via

[code]

instead of  / in addition to:

[code]

[2017-02-05 14:42] slivne commented on #2029
and remove duplicates ref "Duplicate rows returned when in clause has repeated values (https://issues.apache.org/jira/browse/CASSANDRA-6706) "

[2017-02-05 14:44] slivne opened #2062 "Support conditions on static columns"
Mirror of https://issues.apache.org/jira/browse/CASSANDRA-10264

[2017-02-05 14:50] slivne opened #2063 "Some DROP ... IF EXISTS incorrectly result in exceptions on non-existing KS"
mirror of https://issues.apache.org/jira/browse/CASSANDRA-10658

[code]

[2017-02-05 16:46] slivne opened #2064 "Assertion on "scylla: locator/token_metadata.cc:144: size_t locator::token_metadata::first_token_index(const token&) const: Assertion `_sorted_tokens.size() > 0' failed.""
*Installation details*
Scylla version (or git commit hash): 634761dbbad63377612628489e4929412e7ae885

this does not reproduce easily but it
[code]

[2017-02-05 18:05] maximmai commented on #1934
@dorlaor Hi, I have the initial port available.

However, I am only able to get Scylla to work with the Thrift protocol. With the native CQL3 protocol, I am getting this error from cqlsh:

`Connection error: ('Unable to connect to any servers', {'127.0.0.1': KeyError('cluster_name',)})`

I am stuck at debugging the root cause of it at the moment.

The clients I have tried:
- apache-cassandra-2.1.1

[2017-02-05 18:10] avikivity commented on #1934
First, very impressive work.

Second, I recommend upstreaming the work you've already done, starting with Scylla.

To debug your connection error, is the server listening on port 9042? Can you provide a packet capture of the traffic on this port?

[2017-02-05 18:21] maximmai commented on #1934
Yes, I will upstream the code to these 2 repositories, then make a pull-request. https://github.com/linux-on-ibm-z/scylla https://github.com/linux-on-ibm-z/seastar

Good call on examing the packets! The issue is very likely coming from the cksum, as suggested by the tcpdump:

`cksum 0xfe30 (incorrect -> 0x571d)`

Long Version output:

[code]

[2017-02-05 18:25] avikivity commented on #1934
The checksum is usually incorrect on localhost connections, because it's not computed (or checked) at all.   Can you attach a .pcap file?  It looks like the connection was established and even some queries got through (you can see a SELECT statement in the dump above).

[2017-02-05 18:38] maximmai commented on #1934
Here is the tcpdump in .pcap format (zipped as github doesnt support .pcap attachment).
[tcpdump.pcap.zip](https://github.com/scylladb/scylla/files/753194/tcpdump.pcap.zip)

I am examing it with Wireshark now as well, thanks.

[2017-02-05 18:44] avikivity commented on #1934
If you use a really new version of wireshark, you'll see the last query returns a result with 1 row but 0 columns.  So something got lost.

Recommend running the server with `--default-log-level trace` to see what.

[2017-02-05 19:49] maximmai commented on #1934
Thanks.

Just curious, are you aware of any performance difference between the native protocol CQL and Thrift?

[2017-02-05 19:53] maximmai commented on #1934
For your information, this is part of the trace log that of interest.

[scylladb.trace.txt](https://github.com/scylladb/scylla/files/753241/scylladb.trace.txt)

[2017-02-05 20:48] maximmai commented on #1934
The trace log does show that the result is properly retrieved from the storage_proxy:

...data_center="datacenter1" cluster_name="Test Cluster" partitioner="org.apache.cassandra.dht.Murmur3Partitioner" schema_version="6b3d42b6-ccb3-de0e-ed71-761a092cacb7"

Longer version:
[code]

[2017-02-05 21:24] avikivity opened #2065 "optional statistics collector"
We can have a statistics collector that reports data, like many user-facing packages do. The user can opt out of this, of course.

Among the statistics we can report:
 - backtraces collected during a crash
 - backtraces collected by the high latency detector

[2017-02-06 11:51] #1531 closed

[2017-02-06 12:46] tgrabiec commented on #1900
The coredump file seems broken:

[code]

Perhaps because `scylla-server.service` killed it when stopping timed out:

[code]

[code]

[2017-02-06 16:10] maximmai commented on #1934
@avikivity hi Avi,

It seems that the query result gets sent back to the CQL client as "{}", any thoughts on what might cause this?

[2017-02-06 16:19] avikivity commented on #1934
You can instrument `cql_server::fmt_visitor::visit(const messages::result_message::rows& m)` (in `transport/server.cc`) and log `rs.size()`, that will tell us if the problem is between storage_proxy and cql_server, or after cql_server.

[2017-02-06 16:35] vladpetric opened #2066 "Really slow select distinct <partition keys>"
*Installation details*
Scylla version (or git commit hash): 1.6 (1.5, 1.4 behave the same)
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI):

*Hardware details (for performance issues)*          Delete if unneeded
Platform physical
Hardware:  Scylla gets 8 hyperthreads/16 G of RAM.
Disks: HDD with SSD cache

Schema - note that the parameters are all default.

CREATE TABLE idtest (
    id1 text,

[2017-02-06 19:52] vladpetric commented on #2066
Converting the table to the same thing, "with compact storage" reduces the data size by a factor of 5 and the query time to about 2 minutes.

[2017-02-06 20:47] vladpetric commented on #2066
I cloned the data into Cassandra as well (default parameters).

Time to run the same query - ~8 seconds !!!

(and a part of that is the python interpretor, cqlsh)

[2017-02-06 20:50] benoit-canet commented on #2066
How is working the SSD cache ? It is in the HDD or something done with
Linux ?
If the later chances we are bypassing completely any sort of system software
cache due to the fact we use DIRECT_IO and not mmap().

On Mon, Feb 6, 2017 at 5:35 PM, vladpetric <notifications@github.com> wrote:

[2017-02-06 20:52] benoit-canet commented on #2066
s/DIRECT_IO/O_DIRECT/g

On Mon, Feb 6, 2017 at 9:50 PM, Benoît Canet <benoit@scylladb.com> wrote:

[2017-02-06 21:03] benoit-canet commented on #2066
In doubt give scylla some Solid State Drive :)

On Mon, Feb 6, 2017 at 9:52 PM, Benoît Canet <benoit@scylladb.com> wrote:

[2017-02-06 21:27] vladpetric commented on #2066
Well, the Cassandra tests I conducted over a purely-HDD array.

Also, there's sh*tloads of memory on both systems (the one with ScyllaDB and the one with Cassandra).

I can't really say for sure how well the SSD cache is working. Fetches of data tend to be really fast though (select everything for a specific partition key).

Can I try it over pure SSD? Sure. But the issue seems to be an algorithmi

[2017-02-07 04:32] maximmai commented on #1934
@avikivity Thanks Avi for the hint.

I am certain now that the result gets lost somewhere between `storage_proxy` and `cql_server`.

From trace log, and extra `logger.trace()` added, it shows that the result was prepared, but somehow, somewhere between `service/storage_proxy.cc` and `transport/server.cc`, the result gets lost.

`[shard 0] storage_proxy - [S390X] query_result id=59, size=6186`

[co

[2017-02-07 05:27] dorlaor commented on #1934
Maxim, the performance difference depends on a lot of factors, on one hand
the storage format
of Thrift is more efficient and thus one can get better results. On the
other, CQL has prepared statement
which is very good too. So there is no conclusive winner across the board.

On Mon, Feb 6, 2017 at 8:32 PM, Maxim Mai <notifications@github.com> wrote:

[2017-02-07 06:06] haoyixin commented on #1265
+1

[2017-02-07 08:09] amnonh opened #2067 "housekeeping should support private repositories"
Private repositories can have their own version scheme.
When checking for current version, the repository ID should be consider

[2017-02-07 09:21] avikivity commented on #1934
The main difference between the thrift and cql transports is that cql allows reordering of responses.  In thrift, if you send requests 1, 2, 3 you will receive responses 1, 2, 3.  Using the cql transport, the responses an be reordered.  This means that if you are sensitive to latency, you can use a small number of connections and still get the first query to be computed to return first.

In turn,

[2017-02-07 09:32] avikivity commented on #1934
@maximmai An intermediate data structure between the two is result_set.  You can add traces to the methods of result_set (like result_set::add_row()) and see if they are called or not.

If they aren't (likely) then the next stop is result_set_builder in selection.cc.

[2017-02-07 18:31] pdziepak commented on #2066
It seems that the main problem here is that Scylla has a partition cache and not a row cache, which means that even though only a single live row per partition is needed Scylla has to read everything. This issue is being addressed in #960.

[2017-02-07 18:39] vladpetric commented on #2066
Paweł , understood.

Forgive my ignorance, but why is even a single row needed at all for the select distinct <partition keys> from <table>?

Couldn't that query be satisfied entirely by looking at all partitions, and check if there's any data in them?

[2017-02-07 22:48] pdziepak commented on #2066
Some data in partition is not enough, there may be cells fully covered by higher level tombstone (for example a partition tombstone), there may be only tombstones or all cells may have TTL set and be already expired at the time of the query. `SELECT DISTINCT` is supposed to return only the partitions that are alive so Scylla needs to do a proper read until it finds at least one live row.

[2017-02-08 00:20] eyalgutkind commented on #2010
Hi, Another data point, with similar phenomenon.
Using ScyllaDB 1.5.0 (ami-23b80f43), on three (3), c3.2xlarge using their SSD volumes. Benchmarking with Cassandra-stress. 10 loaders, each have a different range of data writes. (see command used to stress, below), we are getting similar experience:
![image](https://cloud.githubusercontent.com/assets/17868115/22717528/6833ca78-ed50-11e6-9025-896c1f

[2017-02-08 05:57] maximmai commented on #1934
@avikivity Hi Avi,

`result_set::add_row()` is off the hook, as I can see the data being added to it, and the size is 6:

[code]

In `transport/server.cc`, before sending the result back to the client, `rs.size()` becomes 1:

[code]

I am stuck at tracing where `result_set` goes after exiting `cql3/result_set.cc`. Unfortunately, GDB doesn't work because a bug in GCC crashes the demangler, and Scyl

[2017-02-08 07:54] maximmai commented on #1934
I have identified the place where the output _body "becomes" empty:

in `transport/server.cc`, method `visit`:

` for (auto&& cell : row | boost::adaptors::sliced(0, rs.get_metadata().column_count())) `

`rs.get_metadata().column_count()` always returns `0`, this is causing _`response->write_value(cell);` never gets called!

[code]

[2017-02-08 08:30] avikivity commented on #1934
Well, the metadata was prepared a lot earlier.  I think this is in the `selection` class in selection.cc.

[2017-02-08 08:46] avikivity commented on #2066
Ugh, I was about to suggest an index scan, but that won't work.

@vladpetric does running the query a second time return the results faster? everything should have been brought into cache.  If not, our contiguity indicator has a problem.

[2017-02-08 09:39] tgrabiec commented on #2010
@eyalgutkind Please [upload](https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-problem#prometheus) the prometheus database

[2017-02-08 09:56] quexer commented on #1993
@avikivity @penberg
any update ?  thanks!

[2017-02-08 11:07] tzach commented on #2056
This will make the default installation harder to use, as one always need **external** Prometheus to read the data. How about we change the default to 127.0.0.1, but prompt to open it as part of scylla_setup?

[2017-02-08 11:10] #2052 closed

[2017-02-08 11:23] avikivity commented on #2056
Then it gets overwritten when someone deploys their cluster from configuration management.

I suggested to set it to {listen_address}, which the user has to configure anyway.  Any client that can connect to the database will be able to connect to prometheus.

btw, we should move the port configurations close together, so it is easy to see at a glance what ports need to be secured.

[2017-02-08 11:28] tzach commented on #2026
@raphaelsc is the fix for this part of your resharding patch?

[2017-02-08 11:29] tzach commented on #2025
@duarten is it new in C* 3.x?

[2017-02-08 11:32] tzach commented on #2023
@amnonh the enhancement make sense, but not necessarily tied to the gossip info change you suggested

[2017-02-08 11:32] tzach commented on #2021
@tgrabiec can we close this issue?

[2017-02-08 11:34] tzach commented on #2018
@infordb I'm not sure pstack will give you what you need.
Can you elaborate on what you are trying to find?

[2017-02-08 11:38] tzach commented on #2017
This actually makes sense:
- If an AMI is launched as part of a new cluster, there is no data to stream
- If an AMI is launched as a standalone, there is no nodes to stream from

Streaming (auto_bootstrap=true) make sense only if we provide seeds as part of the user data.

[2017-02-08 11:44] tzach commented on #1885
@slivne can you assign

[2017-02-08 11:49] tzach commented on #2014
@slivne

[2017-02-08 11:49] duarten commented on #2025
@tzach I think so, yes.

[2017-02-08 11:51] tzach commented on #2011
duplicate with #960 and #1842

[2017-02-08 11:51] #2011 closed

[2017-02-08 11:55] tzach commented on #2005
@slivne ping

[2017-02-08 11:57] tzach commented on #2000
@andrewrong can you please update?
Did moving to 1.5 help?

[2017-02-08 12:31] tzach commented on #2056
Is it an issue? Default is closed; you can open it from scylla_setup, configuration management or other

In many cases, the monitoring system is external to client and DB network, so binding Prometheus port to listen_address will not always work. We can use the same default, which is (as @vladzcloudius suggested) 127.0.0.1

[2017-02-08 12:35] tzach commented on #2025
https://issues.apache.org/jira/browse/CASSANDRA-6377

[2017-02-08 12:42] avikivity commented on #2056
It's confusing to have multiple agents reaching in and updating scyla.yaml.  The uses loses visibility.

[2017-02-08 13:11] vladzcloudius commented on #2056
body p { margin-bottom: 0cm; margin-top: 0pt; }

    On 02/08/2017 06:23 AM, Avi Kivity
      wrote:

      Then it gets overwritten when someone deploys their cluster
        from configuration management.
      I suggested to set it to {listen_address}, which the user has
        to configure anyway. Any client that can connect to the database
        will be able to connect to prometheus.

[2017-02-08 15:03] glommer commented on #2014
We need to come up with a reproducer for this. I am almost certain that this is a load issue that would happen when the gossip messages find themselves behind a storm of continuations - could even be fixed by the avalanche patches recently merged.

[2017-02-08 15:14] avikivity opened #2068 "duplicate gossip messages"
I stopped a node with the debugger, when I released it this is what its friends had to say:

[code]

I guess all the messages were queued up, then processed by .131, then responses were sent, all printed at the same time.  We should print just one message for each transition.

[2017-02-08 15:15] avikivity commented on #2068
This could happen during a short network partition, not just due to the debugger.

[2017-02-08 16:02] vladpetric commented on #2066
@avikivity Afraid not. It takes exactly the same time, about 2 minutes (variance of a few seconds).

Note that total data size is about 1 GiB (du -h on the subdir with that specific table). I initially gave ScyllaDB 8 GiB of RAM. I doubled it to 16 GiB and the query time was exactly the same.

[2017-02-08 18:44] tzach commented on #2068
duplicate with #1184 ?

[2017-02-08 20:24] susantomahato88 opened #2069 "scylla-ami-setup.service entered failed state."
*Installation details*
Scylla version (or git commit hash):
Cluster size:Instace type c3.xlare.
OS (RHEL/CentOS/Ubuntu/AWS AMI):AWS AMI

Issue:
scylla 1.3 is not able to up after server reboot.

 scylla_ami_setup[2554]: RAID does not constructed, going to initialize...
 scylla_ami_setup[2554]: Found disk /dev/xvdd
 scylla_ami_setup[2554]: Creating RAID0 for scylla using 1 disk(s): /dev/xvdd
 scyll

[2017-02-08 21:56] maximmai commented on #1934
hi @avikivity , by just looking at this result, can you tell me the `rows.size()` and `get_columns.size()` this `query_result` from `storage_proxy`:

[code]

I have a feeling that, somehow the `query_result_builder` mixed the columns and rows, in my case here?

Things that I have traced to make sure the result_set and metadata are properly constructed:

- cql3_selection - column_specification raw_

[2017-02-09 00:23] eyalgutkind opened #2070 "Houskeeping: uuidgen, is it a mandatory package, do you check its presence before try to execute it?"
*Installation details*
Scylla version (or git commit hash): Scylla 1.5
Cluster size: 1   node
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): Joyent Container environment

While executing scylla_setup
The script exited with the following error, can you explain the reason for pr

[2017-02-09 03:13] vladzcloudius opened #2071 "database.cc: possible undefined behaviour during lister::scan_dir() call"
*Installation details*
Scylla version: 9e4ae0763d2ef708cbd5da6cda63de297b723192

*Description*
lister::guarantee_type() assumes that engine().file_type() always returns engaged optional value. However this is a wrong assumption since it may return a not-engaged optional value if fstat() for the corresponding file failed with `errno` set to ENOENT or to ENOTDIR. This may happen for example due to s

[2017-02-09 03:19] andrewrong commented on #2000
@tzach Because I have used scylladb in my product environment，so I don't update the scylladb immediately; Today the scylladb version is 1.6, so i will update it soon;

My problem:

my replication is two and my client consistency level is all, If i update the scylla, would cause write failure???

[2017-02-09 09:24] avikivity commented on #2000
Yes.  You should either increase the replication factor (with `ALTER TABLE`) or decrease the consistency level.  It's not just a problem with upgrades, any failure would cause this.

[2017-02-09 11:11] tgrabiec commented on #2021
@tzach I think so, but @roydahan needs to confirm by rerunning the test (a couple of times)

[2017-02-09 11:28] larisau commented on #1470
the test worked for cassandra2.2.6, but failed for cassandra3.3.0
for scylla(dev) sstableloader fails which the following error:

CQL: 'INSERT INTO ks.cf (a,key,d) values (?,?,?) USING TIMESTAMP ?;' [4, 234, 5, 1486638222419607]
java.lang.AssertionError: Unknown column b in table ks.cf
	at org.apache.cassandra.db.LegacyLayout.readLegacyAtom(LegacyLayout.java:1026)
	at org.apache.cassandra.db.Unfil

[2017-02-09 14:43] #2036 closed

[2017-02-09 17:31] susantomahato88 commented on #2069
ISSUE:
--------
After reboot scyllla_ami_setup was again want to configure RAID-0 and got failed so all process was terminated with exit 1.

FIX:
----------
On file
/usr/lib/scylla/scylla-ami/scylla_ami_setup

comment part of the code which again trigger RAID configuration  and rerun scylla_ami_setup.

This time scylla will be work.

if [ $RAIDCNT -ge 1 ]; then

    echo "RAID already constructed.

[2017-02-09 18:06] vladzcloudius opened #2072 "gauge metrisc always stay zero"
*Installation details*
Scylla version (or git commit hash): 9e4ae0763d2ef708cbd5da6cda63de297b723192
Cluster size: 1
OS: Ubuntu 16.04

*Description*
Gauge metrics like `reactor::gauge-utilization-gauge` or `memory::bytes-total_memory-bytes` always stay zero (0) in `scyllatop`, while Derive metrics seem to be alive:

![image](https://cloud.githubusercontent.com/assets/6103981/22796504/8d27a010-eec8

[2017-02-10 01:23] vladzcloudius commented on #2072
[code]

[2017-02-10 04:21] ban4785 opened #2073 "sstableloader limited 65535 rows"
*Installation details*
Scylla version (or git commit hash): 1.5.0
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.2

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets= cores= hyperthreading= memory=32core hyperthreading, 64G mem
Disks: (SSD/HDD, count) : raid0 SSD

i made sstables which ha

[2017-02-10 04:22] ban4785 commented on #2073
and sstableloader(scylladb) only support 9042 default port?

[2017-02-10 04:24] infordb commented on #2018
@tzach We use it to check thread stack information. I can not use pstack only with scylla.

[2017-02-10 20:47] slivne commented on #2073
@ban4785 thanks, can you please calrify if the 10M rows are on a single partition ? just so we will have a correct reproducer.

[2017-02-12 11:46] tzach commented on #1984
That will be a good start, with the addition of writing to the log

[2017-02-12 11:48] tzach commented on #1971
@syuu1228 can you work with Eyal to solve this?

[2017-02-12 11:50] tzach commented on #1959
@elcallio can we close this?

[2017-02-12 11:55] tzach commented on #1896
@syuu1228 can we have a progress bar, or any other indication of progress?

[2017-02-12 12:02] tzach commented on #1864
@glommer @avikivity
@syuu1228 ruled out the system timeout, how should we progress on this issue?

[2017-02-12 12:07] tzach commented on #1849
We need to make the Docker experience is smooth as possible for newcomers.
making the default `--smp=1 --memory=512MB` will do this, without standing on the way of production users.

[2017-02-12 12:08] tzach commented on #1848
I agree.

[2017-02-12 12:12] tzach commented on #1839
@elcallio is it a bug or a change of C* 3.0?

[2017-02-12 12:18] tzach commented on #1724
Let's decide Scylla is only supported on Ubuntu 14 with kernel>3.13
- document it
- add it do dependencies

Supporting old versions is hard, a source of issues and not useful for the majority of users.

[2017-02-12 12:21] tzach commented on #1689
@avikivity does your patch close this issue?

[2017-02-12 12:22] tzach commented on #1348
@slivne lets prio this issue, it will save both us and the user time when reporting issues.

[2017-02-12 12:23] tzach commented on #1346
@syuu1228 did we resolve this?

[2017-02-12 12:24] #1300 closed

[2017-02-12 12:24] #1200 closed

[2017-02-12 12:24] avikivity commented on #1689
No.

[2017-02-12 12:25] tzach commented on #1200
Debian packages are now available http://docs.scylladb.com/getting-started/debian8/

[2017-02-12 12:27] tzach commented on #1009
@slivne ping

[2017-02-12 12:29] tzach commented on #882
@slivne ping

[2017-02-12 13:25] slivne opened #2074 "scylla: database.cc:1003: future<> column_family::seal_active_memtable(memtable_list::flush_behavior): Assertion `_highest_flushed_rp < old->replay_position() || (_highest_flushed_rp == db::replay_position() && old->replay_position() == db::replay_position())' failed."
*Installation details*
Scylla version (or git commit hash):  bb72425b612304f2586d8a9d64b25775f3ee3648

this does not reproduce easily but it does from time to time

it started happening wehn we enables runnig tests in parallel - maybe related to timing.

[code]

[2017-02-12 14:30] sharpe5 commented on #1849
@tzach: This is 90% correct - **but it might still fail**. This would only work if a single CPU had <= 12 hyperthreaded cores. If a single CPU had more cores, it may fail.

In Docker, the default memory is 2GB. Better to limit the number of cores _so that each core gets a minimum of 166MB of memory_. Otherwise, skylladb may fail to start.

Quote from @penberg:

Please use the equation above when d

[2017-02-12 14:34] slivne opened #2075 "need to register cache_service api sooner not on goosip_settle"
*Installation details*
Scylla version (or git commit hash): bb72425b612304f2586d8a9d64b25775f3ee3648

current registration of cache api is done in ```api.cc::set_server_gossip_settle(...)```

need to register them as part of ```api:.cc::set_server_storage_service(...)```

[2017-02-12 15:00] avikivity opened #2076 "repair does not respect shutdown"
*Installation details*
Scylla version (or git commit hash): afe98f85721813099857eb2b64efe57a8347e271
Cluster size: 3

Start repair on one node, shutdown on another -> shutdown does not complete.

[2017-02-12 23:13] elcallio commented on #1959
Yes.

[2017-02-13 02:18] ban4785 commented on #2073
10M rows have each partitions per row.
Schema was
CREATE TABLE testcase(
    key text primary key,
    value text
);
non clustering key schema.

[2017-02-13 08:50] kientt86 commented on #1485
Anyone know if this issue is still active? When we can run scylladb without root access?

[2017-02-13 09:23] syuu1228 commented on #2070
It already fixed, the patch should available on Scylla 1.6.
Could you test it again on 1.6?

The commit is: https://github.com/scylladb/scylla/commit/3b74c50546bdcad366929d517ca2acd27547057f

[2017-02-13 09:29] #1959 closed

[2017-02-13 09:30] tzach commented on #1959
Thanks @elcallio
Can you reference a commit?
What release includes this fix?

[2017-02-13 09:40] tzach commented on #1849
Make sense and should not be too hard.
@penberg ?

[2017-02-13 09:41] elcallio commented on #1959
The fix was in [seastar](https://github.com/scylladb/seastar/commit/098db66de38dfd9857d43592379907ad0194115e), and afaik it is in at least 1.6, but you will have to ask the branch management.

[2017-02-13 09:53] elcallio commented on #2073
Older sstableloader does not limit batch statement sizes, other than per routing. 1.7 version both limit the number of statements, and has the option to turn them off completely.
Do we want a fix for <= 1.6?

[2017-02-13 09:53] tzach commented on #1959
@slivne @penberg ?

[2017-02-13 11:22] avikivity commented on #2073
I think 1.7 loader will work with Scylla 1.6 and older, yes?  If so we can give @ban4785 a 1.7 package.

[2017-02-13 14:05] elcallio commented on #2073
1.7 sstableloader should work, yes, but using 1.7 scylla-tools-java with
pre-c3 scylla might run into issues with the other tools (esp.
nodetool). So if so it should be used side-by-side. At most.

On 2017-02-13 11:22, Avi Kivity wrote:

[2017-02-13 14:07] avikivity commented on #2073
It should be run on a host outside the cluster.

[2017-02-13 14:14] avikivity opened #2077 "Multiple metric families with same name in prometheus"
*Installation details*
Scylla version (or git commit hash): 1.6

According to the prometheus [protocol](https://prometheus.io/docs/instrumenting/exposition_formats/#protocol-buffer-format-details), each MetricFamily must have a unique name, but this is not respected.

[2017-02-13 14:15] avikivity opened #2078 "Prometheus scape has quadratic behavior, affects latency"
*Installation details*
Scylla version (or git commit hash): 1.6

Scraping the prometheus access point invokes quadratic behavior with >10ms latency.

[2017-02-13 14:17] amnonh commented on #2077
Or they can be combined together under the same name with different labels

[2017-02-13 14:22] #2078 closed

[2017-02-13 14:22] #2077 closed

[2017-02-13 14:36] slivne commented on #1959
its only in 1.7

https://github.com/scylladb/scylla-seastar/commit/098db66de38dfd9857d43592379907ad0194115e

it was not backported to 1.6

On Mon, Feb 13, 2017 at 11:53 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2017-02-13 15:19] pdziepak opened #2079 "cqlsh is unable to parse tracing data"
*Installation details*
Scylla version (or git commit hash): 8b1d34f39dc3296186470081eb90ce4c8ff18706

When executing a query with tracing enabled cqlsh fails to parse the received response.
[code]

This happens both with cqlsh from an old version of scylla-tools-java (before the build was broken) as well as upstream.

Tracing events are written to `system_traces.events`.

[2017-02-13 15:36] elcallio commented on #1470
What does "worked with cassandra2.2.6, but failed for cassandra3.3.0"
mean here?

If the table was written by cassandra 3.x, we should not be running the
LegacyLayout scanner, so which sstable was actually being read here?

In any case, the AssertionError, contrary to its message is not actually
about the column being gone, the scanner is fine with that. It is
actually complaining about the fact t

[2017-02-13 15:55] tgrabiec opened #2080 "Sstable reader accumulates all range tombstones between clustered rows before emiting"
*Installation details*
Scylla version (or git commit hash): 1.3+

We do this in order to correctly read sstables written by pre-1.3 Scylla. See #1203.

[2017-02-13 15:59] avikivity commented on #2080
Hmm, how can we safely remove this?

I guess we can instruct everyone to run `nodetool clean` before running a version that doesn't have this.

[2017-02-13 19:06] tzach commented on #2079
@vladzcloudius ?

[2017-02-13 19:30] slivne commented on #2080
We can detect version using the new sstable component

We should also start adding in scylla sstable component version to.make
sure we can cope with this

We can have resharding rewrite files that do not have the scylla component
or wait 1，2 versions for the change in bits used for sharding to force
rewrite of everything

On Feb 13, 2017 5:59 PM, "Avi Kivity" <notifications@github.com> wrote:

[2017-02-13 23:37] duarten commented on #621
We should now be able to support Kong. A good way to find out is to run their integration tests with Scylla as a backend.

[2017-02-14 00:41] dorlaor commented on #621
+1

On Mon, Feb 13, 2017 at 3:37 PM, Duarte Nunes <notifications@github.com>
wrote:

[2017-02-14 01:22] infordb opened #2081 "question about bootstrapping"
Hi...
I read under a document of cassandra
"replacing node doesn’t accept writes during bootstrapping for replace node
so, we rely on the hinted handoff’s for making this node consistent"

Q1)
Does scylladb work the same?
Because scylladb does not have a hint function, should I use the repair function to overcome the current situation?

Q2)
Does normal bootstrapping of adding new node work the sam

[2017-02-14 06:43] tzach commented on #1630
@slivne is this part of 1.7? (I guess not)

[2017-02-14 06:44] tzach commented on #1455
@gleb-cloudius did this made it into 1.7?

[2017-02-14 07:09] asias commented on #2081
Q1): Yes. Replacing node does not receive new writes. Only the dead node (with replace_address_first_boot option) is replaced. The logic is that:  It is dead for a time anyway. We will have to run repair anyway if the down time > max_hint_window_in_ms before the replacing procedure starts.  I would recommend run repair after the replacing node is done.
Q2): During normal bootstrap (e.g., add a new

[2017-02-14 07:15] avikivity commented on #2080
Resharding may leave some sstables alone (if smp::count == 1, or some leveled sstables in a very large table).

[2017-02-14 07:20] gleb-cloudius commented on #1455
On Mon, Feb 13, 2017 at 10:44:16PM -0800, Tzach Livyatan wrote:

no.

--
			Gleb.

[2017-02-14 07:48] slivne commented on #2080
We can still force it todo that in case there is no scylla component.

On Tue, Feb 14, 2017 at 9:15 AM, Avi Kivity <notifications@github.com>
wrote:

[2017-02-14 08:15] infordb commented on #2081
@asias Thank you for your response and more question...
Q1) If I replace a dead node with a new node, the new node has no data at all, so new node will get data from rest live nodes, not dead node
so I think down time have nothing to do with max_hint_window_in_ms
Could you explain it more ?

Q2)  During normal bootstrap (e.g., add a new node), will reads go to the new node
if yes, when replication

[2017-02-14 08:19] slivne commented on #1470
"worked with cassandra2.2.6, but failed for cassandra3.3.0"
if you run the test - trying to upload sstabled that have been altered with cassandra 2.2.6 - data is loaded
if you run the test with cassandra 3.3.0 it fails - sstableloader is not able to load the files
@larisau - please try this with cassandra 3.0.9 / 3.9 - they had some bug fixes go into sstableloader (https://issues.apache.org/jira/b

[2017-02-14 08:34] asias commented on #2081
On Tue, Feb 14, 2017 at 4:15 PM, Junghyun Park <notifications@github.com>
wrote:

Sure, the time to recover the replacing node (e.g., time to streaming the
data) has nothing to do with max_hit_window_in_ms. I meant, the node was
dead, then some time later T , the admin figured this out, and decided to
run the replacing dead node procedure. The T can be larger than
max_hint_window_in_ms already.

A

[2017-02-14 08:58] gleb-cloudius commented on #2081
CL will be increased by 1 too. That is the reason you can get
errors line "write failed for CL=ONE only 1 reply received expected 2"
when you have bootstrapping node.

--
			Gleb.

[2017-02-14 09:17] infordb commented on #2081
@gleb-cloudius
when RF=1, CL=1 , I have bootstrapping node..
RF will be increased by 1, also CL will be increased by 1 , so RF=2, CL=2
In this case, write will success and read will fail becase read will not be served by bootstrapping node
Your feedback is a little confusing to me
Could you explain it more..?

[2017-02-14 09:24] gleb-cloudius commented on #2081
On Tue, Feb 14, 2017 at 01:17:13AM -0800, Junghyun Park wrote:

Sorry, only write CL will be increased. Reads will not consider
bootstrapping node at all. For the read purpose bootstrapping node
does not exist until it moves to normal stat at which point it will have
all the data.

--
			Gleb.

[2017-02-14 09:43] infordb commented on #2081
@asias @gleb-cloudius  Thank you  it is so helpful
one more question...
Can Node that are in rebuilding using nodetool rebuild serve write request ?

[2017-02-14 10:02] asias commented on #2081
On Tue, Feb 14, 2017 at 5:43 PM, Junghyun Park <notifications@github.com>
wrote:

You are welcome ;-)

Yes, the rebuilding node is already in NORMAL state.

—

--
Asias

[2017-02-14 12:12] #1254 closed

[2017-02-14 15:04] tgrabiec opened #2082 "sstable count and size on disk reported by nodetool are too large"
`column_family::stats::live_sstable_count` et al. are incremented when new sstable is added, but not decremented when sstable is removed (e.g. by compaction).

[2017-02-14 15:19] raphaelsc commented on #2082
On Tue, Feb 14, 2017 at 1:04 PM, Tomasz Grabiec <notifications@github.com>
wrote:

live_sstable_count takes into account sstables that were compacted but not
deleted yet. After compacted sstables are actually deleted, we call
rebuild_statistics again (
https://github.com/scylladb/scylla/blob/master/database.cc#L1335) which
will decrease the stat. BTW, that's possibly telling us that deletion of
co

[2017-02-14 15:42] tgrabiec commented on #2082
@raphaelsc Right

[2017-02-14 15:42] #2082 closed

[2017-02-14 18:55] tzach commented on #2081
@gleb-cloudius can we have a different error in this case? it is confusing

[2017-02-14 19:01] gleb-cloudius commented on #2081
On Tue, Feb 14, 2017 at 10:55:24AM -0800, Tzach Livyatan wrote:

No. The error reply contains only CL, number of received replies and
expected replies. If you know how things work it is opposite of
confusing, it tells you that the problem is related to a bootstrapping
node, so it is actually informative.

--
			Gleb.

[2017-02-14 23:34] vladzcloudius opened #2083 "API: SET storage_service/slow_query command doesn't work"
*Installation details*
Scylla version (or git commit hash): 8b1d34f39dc3296186470081eb90ce4c8ff18706
Cluster size: 1
OS: Ubuntu 16.04

*Description*
Found on the ccm cluster with a single Node run on a local machine.

[code]

[2017-02-14 23:37] vladzcloudius commented on #2083
When I printed the `enable` string received from the following line in api/storage_service.cc: line 706

[code]

using the following patch:
[code]
The value was:
[code]

Something is really broken here. ;)