[2021-04-19 13:15] dekimir commented on #4776
Are you asking what the SQL standard says or what Postgres will return?  The standard says the result of this comparison is unknown.  And Postgres can be easily checked.  My understanding has been all along that we should mimic Postgres.

[2021-04-19 13:39] roydahan commented on #4059
@amoskong maybe reviving this issue isn't the optimal way to go.
Anyway, @syuu1228 / @slivne now that the AMI is based on ubuntu, we need to either disable the apt-daily services (not recommended) or "try:except" every call to apt-get with a retry for any "apt lock failure".

[2021-04-19 15:12] nyh commented on #2203
I vote that we don't close this issue. This issue allows other users who might look for SASI in Scylla to find the issue, and see what we wrote here - i.e., that Scylla indeed doesn't have this feature, and that Tzach and Dor are saying that we're not planning to do it any time soon. This is useful information - I don't think it should be hidden in a closed issue.

[2021-04-19 16:14] nyh opened #8514 "Alternator - incorrect set equality comparison inside a nested document"
In issue #5021, we noted that Alternator needs special code for comparing equality of two sets because the order of items may change. But unfortunately our fix in the `check_EQ()` was not general enough: It only handles the case where the attribute is a set itself - but not he more general case that the attribute is a nested document, and contains, possibly inside some hierarchy of dictionaries an

[2021-04-19 18:42] raphaelsc commented on #8507
make_shared_schema() is using a deprecated schema ctor, grepping for usage of make_shared_schema(), schema_builder seems to always wrap the result of m__s__s(), to produce the final schema. So it's likely that m__s__s() is unable to produce correct schema for sstables which version > MC. Your check "*s == *ss" didn't catch it probably because schema comparison function is mostly comparing raw sche

[2021-04-19 19:10] shamoya opened #8515 "Scylla-server crash in large item - large scale query testing (using Alternator)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.4.1-0.20210406.00da6b5e9
Cluster

[2021-04-19 20:04] nyh commented on #4776
I was very surprised to learn (after @dekimir told me...) that neither Cassandra nor Scylla support the "!=" operator in filters... It's part of the syntax and allowed for example in LWT conditions, but not in filters. If we try to use it to filter, we get the error:
[code]
So at least that additional strange case I asked about doesn't exit.

[2021-04-19 20:49] fggarcia commented on #8378
@bhalevy @slivne
report_uuid = 759c5701-7b6a-4b5f-88fb-d5eff55b61da

i used http://upload.scylladb.com/759c5701-7b6a-4b5f-88fb-d5eff55b61da/core_dump.xz

[2021-04-19 21:11] veramine opened #8516 "Trouble joining/bootstrapping a new node to replace a dead seed node"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.9-0.20201026.b80dab6d58
Cluste

[2021-04-19 21:33] nyh opened #8517 "Add "IS NULL" support to WHERE clause"
In issues #4776, #7872, #8489, and also in Cassandra's https://issues.apache.org/jira/browse/CASSANDRA-10715, users expressed the wish to be able to filter only rows where a particular column is unset (i.e., null).

In all these requests, the users originally asked that the syntax `WHERE x = null` should serve this purpose of matching the rows with column `x` unset. However, @avikivity and @dekimi

[2021-04-19 21:40] nyh commented on #4776
I'm closing this issue as "wontfix", and also removing the "cassandra 4.x compatibility" tag because the feature requested here was never committed into Cassandra 4.x (https://issues.apache.org/jira/browse/CASSANDRA-10715 is still open).

As explained above, the consensus decision was that it is a feature, not a bug, that `WHERE x = NULL` returns an empty data set. I opened a new issue, #8517, req

[2021-04-19 21:40] #4776 closed

[2021-04-19 21:50] nyh commented on #8489
@TDtianzhenjiu we need more information to understand exactly which query you run, how, and what you mean by a "lost connection". Without this information, we will need to close this issue.

But in any case, as explained in #4776, the restriction `WHERE field = NULL` is not a useful one - it will not match any rows, and this is by design. So in any case it should be pointless for you to send such

[2021-04-20 01:12] #8503 closed

[2021-04-20 01:12] #8482 closed

[2021-04-20 03:44] amoskong commented on #8438
@ShlomiBalalis @elcallio

I touched coredumps in https://jenkins.scylladb.com/job/scylla-master/job/byo/job/dtest-byo/522/artifact/logs-byo.release.2/
But it doesn't occur in my local test (running dtest on a GCE instance)

- 4.6.dev-0.20210418.dbd0b9a3ef

[code]

### Failed to decode the coredump

[code]

[2021-04-20 07:59] yarongilor opened #8519 "Scylla committed time-duration granularity (1ms) is smaller than actual internal one (10ms)"
There is a time-duration granularity issue that originates from Seastar clock that measures in 10ms granularity.
this conflict with scylla claimed support of 1ms granularity, as in the CQL TIMEOUT parameter, for example.
The original bug and discussion can be found in the following PR:
https://github.com/scylladb/scylla-dtest/pull/2075

from @psarna :

thus 2 questions are discussed here:
1) Addre

[2021-04-20 09:14] edisonqkj opened #8520 "[Packaging fail]how can i build RPM package for scylla 4.4.0?"
Hi @avikivity ,
I have built scylla 4.4.0 from sources and tested it in debug mode in docker-based environment. Now, i want to package scylla in rpm to distribute it into CentOS servers.
However, I found **reloc/build_reloc.sh** was missing which scylla 3.1.2 had. Also, this link (https://github.com/scylladb/scylla/blob/scylla-4.4.0/docs/building.md) returned 404.
Finally, i tried the methods ment

[2021-04-20 09:27] yaronkaikov commented on #8501
Looks like it doesn't recognize the disks
[code]
@ktjd123 Can you share the output of `fdisl -l` ?

[2021-04-20 09:30] tzach commented on #8501
@yaronkaikov you can try it yourself, it reproduce for me on the first try on  t3a.medium

[2021-04-20 09:48] yaronkaikov commented on #8501
@tzach Looking into it

[2021-04-20 10:40] fgelcer commented on #4059
i have opened a [trello task](https://trello.com/c/ceWDHLJ7/3268-add-a-generic-installpackage) for it

[2021-04-20 11:33] nyh commented on #8515
@bhalevy decoded this stacktrace to be in `rjson::print()`:
[code]

[2021-04-20 11:57] nyh commented on #8515
I think the original problem here is that we ran out of memory, something which we should have avoided. So I added the "overload" tag to this issue.

But one we did run out of memory, the immediate cause of the crash is that rapidjson 's CrtAllocator is just unable to handle out of memory - it calls malloc() and realloc() without checking if the result is null (out of memory), e.g. in internal/sta

[2021-04-20 12:11] nyh commented on #7926
`rjson::print` not only doesn't yield, it also uses internally a `rapidjson::internal::Stack` (see https://rapidjson.org/stack_8h_source.html) which keeps the output as one contiguous string. Allocating a big contiguous buffer can fail, and when it does, rapidjson crashes on null pointer dereference (this is issue #8515).
So it will be much better to generate the JSON string in pieces instead of t

[2021-04-20 12:16] nyh commented on #8515
The problem of not handling the allocation failure (as explained in the previous comment), is exacerbated by the fact that even have this large allocationand that it's contiguous - instead of just write the result in pieces without any large allocation. This is covered by issue https://github.com/scylladb/scylla/issues/7926#issuecomment-823222738.

[2021-04-20 12:26] psarna commented on #8515
Sounds like a viable workaround for the crash is to wrap rapidjson's Allocator class to throw if Malloc or Realloc is unable to allocate memory.

[2021-04-20 12:27] psarna commented on #8515
We'd still run out of memory more easily until #7926 is fixed, but at least we'd be able to handle the error gracefully.

[2021-04-20 12:30] nyh commented on #8515
I'm not sure how well rapidjson's code will handle such an exception - e.g., it needs to be careful not leave objects in some mixed state, and not to leak memory. But maybe it's worth trying.

[2021-04-20 12:37] psarna commented on #8515
In the example you posted the `_stack` address is thankfully only updated after the `Realloc` so it would be safe to call Stack's destructor, but you're right that such a change should be preceded by code inspection. And perhaps some fuzzy tests which involve large allocations and reallocations.

[2021-04-20 12:38] psarna commented on #8515
I'll create a spin-off issue about that.

[2021-04-20 12:44] psarna opened #8521 "rapidjson's default allocator does not handle allocation failures properly"
Spin-off from #8515

Scylla uses the rapidjson library for parsing JSON documents. Unfortunately, as observed in Tencent/rapidjson#1168, Tencent/rapidjson#1359 and Tencent/rapidjson#1269, once the allocation fails due to not enough memory, rapidjson's default behavior is undefined - it does not check whether its allocator returned a proper address or null and proceeds, which usually results in a s

[2021-04-20 13:09] avikivity commented on #8521
Wow, this is terrible.

Combined with them refusing to make releases, I'm sorry we use them.

[2021-04-20 13:12] psarna commented on #8521
Yeah. On the other hand - they make it quite easy to hack through everything. Thankfully allocators are abstracted away and users can fix them on their own, which is still better than writing your own JSON parser.

[2021-04-20 13:13] psarna commented on #8521
(although, writing your own JSON parser *as a student project* is to be considered)

[2021-04-20 13:15] nyh opened #8522 "Alternator should stream JSON response object - not convert it to a contiguous string"
This is a spinoff from https://github.com/scylladb/scylla/issues/7926#issuecomment-823222738 and #8515:

Currently, Alternator's request handlers return the response as a JSON-formatted string. As noticed in issue #8515, this string can be very big, it requires a contiguous allocation - and worse - the rapidjson implementation crashes if it can't allocate the big contiguous allocation.

So instead

[2021-04-20 14:15] avikivity commented on #8520
You need docker or podman installed to run dbuild.

[2021-04-20 14:15] #8520 closed

[2021-04-20 14:59] avikivity commented on #4776
`NULL != 3` is NULL, and NULL isn't true, so NULL rows should not pass the filter.

[2021-04-20 20:25] KevinGlanville commented on #4232
Is the following summary correct?

It's difficult to deploy Scylla as a service in a Docker Swarm because:
1. Docker Swarm currently doesn't support static IPs for services
2. Scylla currently relies on IP addresses to identify nodes

[2021-04-21 05:12] fggarcia commented on #8378
@avikivity @bhalevy @slivne my issue is not the same as @krisdaniels.

Can you check my coredump?

[2021-04-21 06:42] syuu1228 opened #8527 "dist/debian: when PRODUCT != scylla, scylla-node-exporter.default does not added with node exporter package"
I found that scylla-enterprise-node-exporter package on Ubuntu does not install default file:
[code]

It seems like because we mishandled .default file when packaging:
[code]
To install node exporter default fie to /etc/default/scylla-node-exporter, it should be renamed to 'scylla-enterprise-node-exporter.scylla-node-exporter.default', not 'scylla-enterprise-node-exporter.default'.

Related with s

[2021-04-21 06:53] syuu1228 commented on #8501
Isn't it same issue with https://github.com/scylladb/scylla-machine-image/issues/111#issuecomment-805083342 ?

[2021-04-21 06:57] yaronkaikov commented on #8501
According to https://www.scylladb.com/download/?platform=aws#open-source section #4 - we must have more then one volume attached to instance
When creating the image with another volume it's working

[2021-04-21 06:58] syuu1228 commented on #8501
Yes, and t3a.medium does not attached any additional disks by default, so it fails.

[2021-04-21 07:01] syuu1228 commented on #8501
And I recently merged PR that avoids python traceback and print better error message to journal log, when data disks not found:
https://github.com/scylladb/scylla-machine-image/pull/115

[2021-04-21 07:37] nyh commented on #5944
On #8515, a user wanted to exceed those DynamoDB limits. So maybe we should rethink the goal of this issue: Instead of enforcing limits on BatchGetItem, maybe it makes more sense to work on making large BatchGetItem requests (i.e., requesting many items, resulting in a large response) behave well. In particular, we should work on:
1. Controlling the parallelism of the reads, don't always start all

[2021-04-21 07:38] psarna commented on #8521
anecdote: I found a very interesting problem with `fmt` when implementing the allocator. I put the allocator in our internal `rjson` namespace and some random alternator tests started failing. After the gdb investigation it turned out that the error originates from `fmt::format`, which somehow calls `rjson::to_string_view` on an object which is not a string, which causes an assertion failure. Now,

[2021-04-21 07:43] tzach commented on #8501
@syuu1228 in this case, can we replace
"t3a is not eligible for optimized automatic tuning! To continue startup ScyllaDB on this instance, run 'sudo scylla_io_setup' then 'systemctl start scylla-server'."

with something like "t3a is not eligible for optimized automatic tuning!
To continue startup ScyllaDB on this instance, you need to attach an additional disk, then run 'sudo scylla_io_setup' the

[2021-04-21 09:35] #8508 closed

[2021-04-21 09:35] #8511 closed

[2021-04-21 09:35] #8513 closed

[2021-04-21 09:35] #8514 closed

[2021-04-21 09:35] #8378 closed

[2021-04-21 10:37] avikivity commented on #8494
Wow, this is sad.

[2021-04-21 11:05] kbr- commented on #8411
@lseelenbinder the fixes were backported to the 4.4 branch, meaning that they will appear in the next 4.4 patch release.

[2021-04-21 11:07] slivne commented on #7937
@eliransin ping

[2021-04-21 11:59] lseelenbinder commented on #8411
Thanks @kbr- ! Is there a projected release data for the next patch release?

[2021-04-21 12:03] kbr- commented on #8411
@slivne would probably know that. Shlomi, when could we expect the next 4.4 patch release, assuming everything goes smoothly (no problems during testing etc.)?

[2021-04-21 13:56] raphaelsc opened #8531 "Reshape may ignore overlapping in level L where L > 0"
Due to a bug in overlapping check, reshape may end up ignoring overlapping in level L, if a sstable's last key matches the first key of another sstable in the same level. With overlapping ignored, sstable set will not be properly reshaped.

[2021-04-21 14:22] fggarcia opened #8532 "Stuck server while upgrading to 4.4"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.3.2
Cluster size: 3
OS (RHEL/Cent

[2021-04-21 14:24] #8093 closed

[2021-04-21 14:29] slivne commented on #8270
potentially fixed by 8e808a56d2a9b12638b454005b95c88957f70b28

[2021-04-21 16:32] avikivity commented on #8516
@asias please help

[2021-04-22 01:26] asias commented on #8516
Run nodetool gossipinfo and nodetool status on the working node, so we can know what is the status of the cluster.

Try scylla-4.4.1 which has the fix for "shard 0] init - Startup failed: std::runtime_error (Cannot replace token -9104640237226732752 which does not exist!)".

It is best that you can find a window to rolling restart the working node to 4.4.1.

So, we can try this:
1) use 4.4.1 for s

[2021-04-22 05:50] ktjd123 commented on #8501
Oops I didn't see that the instance needs additional storage. Tho adding more info to error would be great!

[2021-04-22 06:22] veramine commented on #8516
Okay I upgraded the new node to 4.4.1.  This is the node that has not yet joined the cluster.  This is the node where I am using the replace_address_first_boot.  So far so good.  The working node is streaming data to it.  I had been cautious to use the same version but this seems so far to be working fine.  After this new node comes fully online and is able to service requests as the second node i

[2021-04-22 07:18] fgelcer commented on #7956
probably and hopefully will be fixed by https://github.com/scylladb/scylla-dtest/pull/2089

[2021-04-22 07:39] #7814 closed

[2021-04-22 08:19] asias opened #8533 "NoHostAvailable system_distributed_everywhere.cdc_generation_descriptions_v2"
Start one node in the clsuter
Do query after the node is up
[code]

Commit:

https://github.com/asias/scylla/tree/cdc_everywhere_v2

[2021-04-22 09:15] kbr- opened #8534 "Cannot bootstrap a node in presence of Everywhere strategy tables with RBO enabled"
Commit: current master (2ad09d0bf83c5bd47b93efd3021858d69a00ab6d)

1. create a single node cluster with repair-based node operations enabled
2.
[code]
3. try bootstrapping second node

Result (on the bootstrapping node):
[code]

decoded:
[code]

[2021-04-22 09:21] haaawk commented on #8534
@slivne @asias Could someone look at this? It is blocking CDC fix.

[2021-04-22 09:23] kbr- commented on #8533
What build? Some special node config parameters? How is Scylla started? I can't reproduce.

[2021-04-22 09:42] wmitros commented on #7952
@avikivity did you have an idea about how could we merge both row_consumers for kl and mx sstables into sstable_mutation_reader?

We could make separate readers for both cases,  but that would duplicate a lot of code,  so we could make them inherit from the sstable_mutation_reader, but that looks as complex as the current implementation with templates

[2021-04-22 10:08] haaawk commented on #7952
It might be useful to remember than LA/KA are there only for backwards compatibility so it might be beneficial to simplify MX reader at the expense of more complex LA/KA reader. Not sure if it's possible but the tradeoff seems right.

[2021-04-22 10:19] juliayakovlev commented on #7064
@slivne ping

[2021-04-22 10:30] edisonqkj opened #8535 "[FileError]scylla_blocktune.py and scylla-blocktune are given the wrong names?"
Hi @avikivity,
I have built the unified packages with this shell(scylla_4.4.0/unified/build_unified.sh).
And installing on Centos7
[code]
When running **scylla_setup** steps, error as following occurred:
![image](https://user-images.githubusercontent.com/5396193/115691621-cf17e580-a390-11eb-9771-a39868175c6d.png)

i checked /opt/scylladb/scripts/**scylla_blocktune.py** which was a shell rather tha

[2021-04-22 10:38] asias commented on #8534
@haaawk The issue is gone with the PR https://github.com/scylladb/scylla/pull/8536. You guys can continue to test cdc + repair based node ops,  on top of this. I see cdc fails with the PR.

[code]

[2021-04-22 10:50] asias commented on #8533
https://github.com/asias/scylla/tree/cdc_everywhere_v2. No special config.

[2021-04-22 11:10] bhalevy commented on #8534
@asias
Is it ok that the bootstrapping node self netaddr appears in row_level_repair::run `master.all_nodes()`?
Is it ok that it appears there twice?

Is it ok for the self ip address be present in `bootstrap_with_repair` `old_endpoints_in_local_dc`?
And from there it gets to `neighbors` in the `everywhere_topology` case.

[2021-04-22 11:20] kbr- commented on #8534
@asias

With #8536 Everywhere tables stop working completely (RBO and without RBO).

[2021-04-22 11:27] kbr- commented on #8533
I think we can continue on #8536 and close this issue.

[2021-04-22 11:27] asias commented on #8534
See https://github.com/scylladb/scylla/issues/8533.

I think 8536 exposed more problem with Everywhere topology.

[2021-04-22 11:33] asias commented on #8534
yes.

no.

No. We have bugs with Everywhere topolgy. https://github.com/scylladb/scylla/pull/8536. That's why we it showed up in old endpoints list.

[2021-04-22 11:42] kbr- commented on #8534
Why are you pointing to #8533? It refers to your own branch, how can you be so sure that you didn't break something on that branch with your custom code? The issue in #8533 may be with your code, not with how currently Everywhere works on `master`.

I tested Everywhere tables **extensively** without RBO and _everything worked._

[2021-04-22 11:44] #8533 closed

[2021-04-22 11:47] bhalevy commented on #8459
ping @StarostaGit

[2021-04-22 11:50] asias commented on #8534
Because it shows the problem with everywhere strategy.

I did not say my customer code did not break anything. I was just saying I found issues.

[2021-04-22 11:59] StarostaGit commented on #8459
In the middle of fixing, had to finish something first

[2021-04-22 12:29] tarzanek commented on #7341
just on the testing side of this (since I see the graphs of patched and unpatched systems in front of me)
customer runs janusgraph spark job every X minutes and the drop of disk read speed (10G/s) with disabled writeback cache is just visible when they write, picture attached (I think we even go higher than max speed 9 360 MB/s - so wondering if io_properties are even getting obeyed ;-) )

![n2_hi

[2021-04-22 13:44] avikivity commented on #7952
Probably we can't.

Yes. We can simplify by making sstable_mutation_reader a template of just one thing, rather than the current DataConsumeRowsContext and Consumer.

We have now

[code]

data_consume_rows_context_m converts mx sstable bytes to columns and pushes them to mp_row_consumer_m, which converts them to fragments and pushes them into the reader.
data_consume_rows_context_rows_context conv

[2021-04-22 15:00] asias commented on #8534
I tested latest https://github.com/scylladb/scylla/pull/8536. Everywhere strategy read issue is gone.  Repair based node ops + cdc is working too. @kbr- @haaawk . Can you try?

[2021-04-22 15:05] kbr- commented on #8534
@asias Thanks. I checked simple bootstrapping of few nodes and operations with CDC, it seems to work. I'm gonna try rerunning all the tests I did with my patchset rebased on top of this PR with RBO enabled on Monday.

[2021-04-22 18:19] veramine commented on #8516
Everything looking good so far.  1.5TB streamed so far overnight.  No errors yet. 🤞

[2021-04-22 19:25] fggarcia commented on #8532
@avikivity @bhalevy @slivne someone help?

[2021-04-22 21:39] tgrabiec commented on #7952
On Thu, Apr 22, 2021 at 3:45 PM Avi Kivity ***@***.***> wrote:

I would argue for not inlining mp_row_consumer_m
into data_consumer_rows_context_m, even if the latter is only ever wired
with the former. 2 medium parts separated by a narrow interface are easier
to understand than 1 larger part which combines the two. mp_row_consumer_m
is flat_mutation_reader's impl on top of sstable parser, and con

[2021-04-22 21:59] #7457 closed

[2021-04-22 21:59] #6376 closed

[2021-04-22 21:59] #8468 closed

[2021-04-22 21:59] #8521 closed

[2021-04-22 21:59] #8527 closed

[2021-04-22 21:59] #8531 closed

[2021-04-23 01:53] veramine commented on #8516
The 4.4.1 node finished streaming all the data and successfully joined the cluster.  The AWS instance itself subsequently became unreachable.  I'm not sure why.  I suspect resource consumption but not sure.  I rebooted the instance via the AWS console and when the node restarted the "reshaping" feature kicked in and now the new node seems to be reshaping all the data.  This might be the cost of ta

[2021-04-23 02:17] altanozlu commented on #4516
any update on this 🤔

[2021-04-23 06:56] shauru001 opened #8538 "nodetool drain failed: std::runtime_error"
Hi,

Last week, I removed a dean node, and removenode process done a few days ago.
I need to upgrade a UN node today, when I use nodetool drain with error `nodetool: Scylla API server HTTP POST to URL '/storage_service/drain' failed: std::runtime_error (Operation removenode is in progress, try again)`
And nodetool removenode status show this `RemovalStatus: Node has no token`

I try to stop compac

[2021-04-23 14:51] crispinkoech commented on #7201
Hey, are both UDF and UDA supported on version 4.4?

[2021-04-23 15:52] dorlaor commented on #7201
It's still experimental, Rafael left and thus we need to find a replacement
to
this project which we do like but it's not a near term priority.

On Fri, Apr 23, 2021 at 7:51 AM Crispin Koech ***@***.***>
wrote:

[2021-04-23 16:54] tgrabiec opened #8541 "Multi-partition scans in cache can degenerate LRU and cause latency spikes during memory reclamation"
Applies only to schema with no clustering key.

Every partition in cache has a dummy row at the end of the clustering range (last dummy). That dummy must be evicted last, because MVCC logic needs it to be there at all times. If LRU picks it for eviction and it's not the last row, eviction does nothing and moves on. Eventually, all other rows in this partition will be evicted too and then the parti

[2021-04-24 18:23] slivne commented on #8003
@asias / @bhalevy  ping

[2021-04-24 18:29] slivne commented on #7748
@haaawk I am reassigning this to you guys - try and assign someone to figure this out

[2021-04-24 18:39] slivne commented on #8532
@bhalevy please have someone look at the coredump

[2021-04-24 18:40] slivne commented on #8519
@avikivity ?

[2021-04-24 18:43] michoecho opened #8542 "logalloc: reclaim_from_evictable evicts up to 3(N^2) segments when asked to reclaim N segments"
https://github.com/scylladb/scylla/blob/f7e00e781c21fbaa6cb11b88f026be7d57f92c07/utils/logalloc.cc#L1912-L1947

When asked to reclaim n bytes, `reclaim_from_evictable` first evicts n bytes,
then it compacts a segment, and then the function restarts from the
beginning, with n reduced by the memory freed during that compaction.

Since the maximum occupancy of compactible segments is 85%, it takes up

[2021-04-24 18:51] michoecho commented on #8542
Excerpt from the logs of the reproducer:
[code]

[2021-04-24 19:01] slivne commented on #8500
The removenode operation streams data around the cluster moving data to other nodes in the cluster that are taking ownership for the lost node.

If you do not have enough space in the existing nodes - then the correct thing would have been to start a new node with replace_address_first_boot.

The only manner to halt the ongoing removenode operation is to shutdown all the cluster and the restart it

[2021-04-24 19:07] slivne commented on #8498
@bhalevy please have someone help @gibsn out -  he is also available on slack.

[2021-04-24 19:08] slivne commented on #8498
(to make it clear lets help him replace the node), the error he got should be chased after that is done.

[2021-04-24 19:44] slivne commented on #8496
backport request

[2021-04-24 20:02] slivne commented on #8535
there is a python called scylla-blocktune its located at ```./dist/common/scripts/scylla-blocktune```

it imports "./dist/common/scripts/scylla_blocktune.py" which actually does the tunning

I am not sure what's the issue you are facing - we did not have anyone report a problem with the packages we build

The "correct" way to build scylla is documented  https://github.com/scylladb/scylla/blob/bran

[2021-04-24 20:03] #8535 closed

[2021-04-24 20:05] slivne commented on #8493
@denesb which versions are suspect to this ?

[2021-04-24 20:13] slivne commented on #8491
schema related to MV / SI I suspect you may have seen this in the past

[2021-04-24 20:57] slivne commented on #8458
@Jasperav I am not sure why this is happening and without additional info on why scylla fails to start its hard to tell.

You can try to limit scylla resources by adding additional limitations,

here is a sample from scylla university

https://github.com/scylladb/scylla-code-samples/blob/master/mms/docker-compose.yml

[2021-04-25 05:20] eliransin commented on #7937
@psarna please have a look. @avikivity mentioned that it might be an expected (bad) behavior of the list datatype.

[2021-04-25 05:53] eliransin commented on #8491
@thirstycrow was the data/schema created with an older version?
Can you describe the test process, for example:
1. Start a new cluster
2. Populate (how? using a snapshot? or using some script and cql, maybe cassandra stress?)
3. etc...

[2021-04-25 06:44] nyh commented on #8491
This assertion is a very old one (added in commit 54268889a1, in 2015), and basically says that columns in a schema are ordered by type (e.g., all the regular columns together) and then numerically. If this assertion fails, something really weird happened, like perhaps one column went missing. @thirstycrow what change did your "ALTER" do? Also, was this something which happened to you once or some

[2021-04-25 07:24] nyh opened #8543 "test/{alternator,cql-pytest,redis}/run: don't always use SIGKILL to kill Scylla"
The `test/*/run` scripts run Scylla to run various Alternator/CQL/Redis tests against it. At the end of the test, we kill Scylla abruptly with "kill -9". The rationale for using SIGKILL was that killing Scylla more gracefully would be a waste of time: Any sort of memtable flushing, finishing lingering compactions, etc., that such graceful shutdown might do would be unnecessary given that a millise

[2021-04-25 08:33] shauru001 commented on #8500
Hi @slivne

Thanks for your reply.

Removed dead node successfully a few days ago through enlarge storage size on the other nodes.
In regarding removenode operation, I have two questions:

- Restart all clusters, it could be over 10 mins downtime. Is it possible to kill pid of removenode and no downtime when RF=3?
- After removenode completely, cause other issue "nodetool drain" failed with error

[2021-04-25 08:33] thirstycrow commented on #8491
It is possible but I'm not sure. The cluster is shared by many users for testing. I upgraded it from 3.1.2 several months ago. I have no idea the schema is created before or after that.

I asked the guy who was using the table. He said he did not submit an ALTER statement. No idea what's happening before the crash.

It happened only once, and I cannot reproduce it.

[2021-04-25 08:36] bhalevy commented on #8013
Reopening since this depends on enabling repair-based node operations by default.

[2021-04-25 08:43] nyh commented on #8491
But he did deliberate `DROP INDEX`, right?

If the answer is yes then I guess the `ALTER` of the base table is just a red herring - we need to `ALTER` the base table to say it no longer has an index - but this automatic `ALTER` shouldn't change anything in its list of columns (what this assertion checks) - the computed column should exist in the view (which is being dropped), not in the base table

[2021-04-25 09:36] avikivity commented on #8496
Backported.

[2021-04-25 09:43] yarongilor commented on #8012
Test reran using a minimum of 1 num_tokens and KCL extended debug configuration.
from some reason it looks like no data is transferred to the target table.
KCL log:
https://drive.google.com/file/d/1RBaWDSyNIImpGfRRGSBXZsPFxjg4UEF8/view?usp=sharing
test details:

Restore Monitor Stack command: `$ hydra investigate show-monitor 1ad97d55-5bd1-4217-860f-878a8860ae40`
Show all stored logs command: `$ h

[2021-04-25 11:16] nyh commented on #4516
No, no progress on this yet.

Can you please help motivate us by saying a few words why you would be interested in using such a feature?
The reason I'm asking this is that in my comments above I raised the idea that we can estimate the amount of repair work by sampling only part of the data. However, it turns out (as far as I can tell...) Cassandra doesn't do this. Cassandra really does checksum t

[2021-04-25 12:41] avikivity commented on #8542
Wasn't known to me. I always assumed reclaim tried to first evict enough memory so that later compaction could free the required memory without further eviction, but never checked that assumption.

[2021-04-25 12:58] nyh commented on #8012
@yarongilor a few questions:
1. Did this test involve any topology changes, or not?
2. Did the topology changes happen before, or during, this 1 minute of KCL activity?
3. Are you sure that original table wasn't empty when you started this test?

The nice thing about the KCL log is that it includes all the DynamoDB API requests and responses (in a hard to use way, but we take what we get...) from

[2021-04-25 12:59] bhalevy commented on #8133
@scylladb/scylla-maint Based on conversation on slack with @pveentjer, please backport.

[2021-04-25 13:10] pveentjer opened #8544 "scylla_setup: r5b doesn't support enhanced networking!"
*Installation details*
Scylla version 4.4:
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0908bf554a8e333db us-east-2

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): EC2
Instance type: r5b.metal

I'm getting the following error:

[code]
Since this is a super new and powerful instance, I guess there is something wrong

[2021-04-25 13:18] avikivity commented on #8133
Backported, but don't we lose the configuration for iotune now?

[2021-04-25 13:21] pveentjer commented on #8544
The following is the problem

[code]

r5b is missing.

[2021-04-25 15:03] bhalevy commented on #8498
@asias can you please help on this issue?

[2021-04-25 15:07] altanozlu commented on #4516
I have never used `preview` command in cassandra, if it would do same work as repair then probably not needed.

[2021-04-25 15:13] yarongilor commented on #8012
1. there was one single decommission at start of test. then another one after 10 hours.
[code]
2. the topology changes happened after KCL log time:
[code]
[code]
3. it makes sense the KCL thread started 2 minutes before YCSB stress:
[code]
in any case there are SCT info events that shows the progress of source table increasing size like:
[code]
@nyh , if it sounds helpful - i can rerun the test wi

[2021-04-25 15:20] ShlomiBalalis commented on #8270
The issue reoccurred in the latest longevity-lwt-3h run in scylla master:
[code]

Scylla version: `4.6.dev-0.20210424.f7e00e781c2 with build-id cf643cfd81b2c4b5b659b84a6ba411aa1939581c`

Logs:
[code]

[2021-04-25 15:24] bhalevy commented on #8532
Hmm, I get a different build-id from the core dump:
[code]

@fggarcia can you please double check the log to see what version / build-id corresponds to the coredump you uploaded?

[2021-04-25 15:29] fggarcia commented on #8532
How can I check it?

[2021-04-25 15:31] bhalevy commented on #8532
The build-id is printed to the node log.
The one you quoted [above](https://github.com/scylladb/scylla/issues/8532#issue-863947545) doesn't match:
[code]

[2021-04-25 18:05] #1076 closed

[2021-04-25 18:28] Jasperav commented on #8458
@slivne Thanks I will try it with the provided docker compose file. What additional info do you need? I included the logging. The reproduction path is also simple:

1. Fork the project
2. Run the action a few times until it fails

[2021-04-25 19:17] nyh commented on #8522
It turns out to be significantly harder than I hoped. Actually the part described above - getting the HTTP server to take the response from an output stream instead of a contiguous string - was the easy part... The harder part was getting rapidjson use an output stream as its serialization output. Rapidjson does have an outputstream-like concept, but it's not _futurized_: there is no way for the d

[2021-04-25 19:35] yarongilor opened #8545 "Semaphore timed out and repair failure on CorruptThenRepair nemesis"
failure scenario:
1. started a nemesis of corrupt-then-repair on node-7 - deleting some sstables while node down.
[code]
2. started getting a lot of semaphore timeouts for a lot of time.
[code]
3. node-7 started a repair when it is up, then repair failed with error:
[code]

*Installation details*
Scylla version (or git commit hash): `4.3.3-0.20210408.28f5e0bd2 with build-id e15c01c2027d60ca12ad9dc

[2021-04-25 19:42] psarna commented on #8522
One important thing with the threaded solution we have for parsing jsons is that they are only used for requests larger than a threshold. If a threshold is well balanced, small requests should be able to be executed without the additional queueing, and at the same time not cause reactor stalls, because they're small.

On the other hand - perhaps we should reconsider forking rapidjson (or just copy

[2021-04-25 20:27] nyh commented on #8522
I started to think of perhaps doing this for the **printing** part won't be too hard. E.g., it's not that hard to print a JSON array by printing `[`, then the individual items separate by commas, and finally `]`.

However, to do this efficiently might not be very easy. It is probably inefficient to use a future-based `output_stream::write()` every tiny piece of the JSON object. The more efficient

[2021-04-25 22:02] fggarcia commented on #8532
oh yes @bhalevy because the coredump was made trying to update to 4.4.1. The output is the same. Do you want that i paste the new output?

[2021-04-26 00:14] asias commented on #8498
[code]

The problem is that after step 3, replacing does not revert the cluster back to the state before replacing. Other nodes in the cluster still think the replacing node 10.161.180.24 is doing replace and sends the writes to the replacing node as pending ranges.

This problem is solved in master commit 323f72e48a7d89d9edc40257a1f45c202accc146 (repair: Switch to use NODE_OPS_CMD for replace ope

[2021-04-26 00:19] asias commented on #7940
FYI, https://github.com/scylladb/scylla/pull/8481 will make it much safer to block parallel bootstrap.

[2021-04-26 02:40] thirstycrow commented on #8491
The base table is dropped at the end of the test. I expect the index being dropped as well, but `DROP INDEX` is not manually triggered.

[2021-04-26 05:15] eliransin commented on #8491
The only thing I can think of is creating the schema in 3.1 and then upgrading. My biggest suspicion is the computed column but I will need to try and reproduce it before being sure.
@thirstycrow just to make sure, when upgrading the cluster, did you do it incrementally passing through all of the versions between 3.1 to 4.3 or just one shot? The later case is not supported and a lot of bad stuff c

[2021-04-26 06:43] avikivity commented on #8493
@denesb please check which release streams are vulnerable

[2021-04-26 06:44] avikivity commented on #8493
@penberg why didn't the promoter mark it closed? Is it confused by "Fixes:" vs "Fixes"?

[2021-04-26 06:45] avikivity commented on #8493
Or maybe, it didn't get merged at all.

[2021-04-26 06:45] avikivity commented on #8493
(i.e. dequeued)

[2021-04-26 06:46] denesb commented on #8493
The affected branches are 4.3 and 4.4.

[2021-04-26 06:47] denesb commented on #8493
It was dequeued on the 21st by @psarna because the unit test added by the fix failed on the build machines. I force pushed a fix and he said he'll re-queue soon

[2021-04-26 07:14] psarna commented on #8493
I'm requeueing, just waiting for a recompilation to finish, since there was a minor conflict.

[2021-04-26 07:21] psarna commented on #8493
done

[2021-04-26 07:39] nyh commented on #8491
Interesting. So the first crash happened when the user deleted the table (and as part of that - its index), and this appears to have left the schemas on disk in such a state that booting up again fails again when reading it.

[2021-04-26 08:14] psarna opened #8547 "Alternator tracing does not include valid user info"
Alternator tracing requests contain a "username" entry,
but it is not set anywhere, so it always states "<unauthenticated request>".
Each alternator request is actually tied to a username as long as authentication
is enforced, so this information can be cheaply added to tracing.

[2021-04-26 08:34] avikivity commented on #8493
And 4.5!

[2021-04-26 08:37] ShlomiBalalis commented on #7899
Occurred again during the rolling-upgrade-centos7 test of scylla master:
scylla version: 4.3.2-0.20210301.5cdc1fa66 with build-id 3a7f9a6b65ec73bba0a38f3f349a91c49129c598

The timeout took place during the second truncate of the test.
The first truncate, of truncate_table0, finished with no issue. However during the truncation of the second table, truncate_table1, the timeout takes place:
`< t:202

[2021-04-26 08:55] elcallio commented on #8012
Note that the streamdesc returned in the log @yarongilor posted separately is:
[code]

This means that:
* We have a very small number of vnodes in this cluster
* There was no topology change inside the TTL of CDC (24h)
* There is no data in the shards above (seemingly, since we get none from reading)

At least the two last points seem wrong/strange(?)

[2021-04-26 08:56] elcallio commented on #8012
Note: The table can also be younger than the last topology change. Is this the data table being processed (usertable_streams)?

[2021-04-26 08:58] nyh commented on #8012
@yarongilor it seems to me that you gave us a KCL log spanning time 21:27:05 through 21:28:20, but the writer only started at 21:29:08, So obviously there will be no data in the table, and KCL will not read any data, so this log is not interesting and not surprising...

I think what we wanted is a KCL log covering the **problem** that you had, namely that after returning some data, KCL simply stop

[2021-04-26 09:03] nyh commented on #8012
Yes, this was a 1-vnode (per node) test.
However, @yarongilor, please note that the whole point of the 1-vnode test was to check whether it makes the bug go away, or the bug remains. Well, you forgot to tell us what was the conclusion - is the bug dependent on having many vnodes, or also exists in the 1-vnode case?
You don't need any KCL logs to answer that - it's just the question if your KCL wor

[2021-04-26 09:15] gibsn commented on #8498
@asias thank you for response

I don't understand how it leads to the problem that we see. So after step 3 dead 10.161.180.24 is considered replacing by mistake, writes to that node from other nodes fail, but we still have another node for the same ranges which is alive and can serve CL=ONE writes well, however we get errors. Why CL=ONE writes fail if we have enough alive nodes?

[2021-04-26 09:17] gibsn commented on #8498
compaction_enforce_min_threshold = true

compaction_static_shares = 200

To make the compaction less aggressive to have a better chance to make the replace success.

We restarted the replace with this arguments as you suggested when we talked on Slack, thank you. We 10 static shares per shard so the total for the node is 300 now

[2021-04-26 10:15] psarna commented on #8493
dequeued again - one of the tests failed to compile due to a (trivial) conflict

[2021-04-26 11:02] elcallio commented on #8270
It would probably help to up the log level for commitlog to at DEBUG iff we think that this is caused by said subsystem.

[2021-04-26 11:11] slivne commented on #8270
@elcallio  - We did a bisect - we found its in this commit - the regression what do we do now ?

OK - lets do that - @ShlomiBalalis - can you please have a run with DEBUG enabled for commitlog and collect the info so Calle can look at it - alternativly provide a staging job so calle can run whatever he wants.

[2021-04-26 11:21] slivne commented on #8493
@psarna are you chasing this - do you need botond to send a new version - lets make it clear when we dequeue

[2021-04-26 11:22] elcallio commented on #8270
@slivne as far as I can tell, this was run with the verified deadlock fix applied. But the logs do not show any sign of things "stopping". So I would as usual suggest trying to find a smaller reproducer. Or at the very least more info - i.e. CL debug logs.

[2021-04-26 11:28] denesb commented on #8493
I need to rebase on top of @bhalevy's close flat mutation readers series, with which I now have conflicts with. I'm working on it.

[2021-04-26 11:40] elcallio commented on #8270
Note that the cluster seems to be hung up on the first node, `longevity-lwt-3h-master-db-node-5176f0f0-1` - `10.0.2.15`. This however does not even mention any streaming/lwt related stuff. It just seems to be very busy doing repair and compaction.

One suggestion for these tests & logs: Provide a scylla log that is not from system log source. The problem is that once piped through systemd or whate

[2021-04-26 12:33] denesb commented on #8493
I will send a new version because I found and fixed a bug in the close readers code.

[2021-04-26 12:51] roydahan commented on #8545
@slivne this is for 4.3.3, I don't know if it's a regression or not.

[2021-04-26 13:16] denesb commented on #8493
New version on the list: [PATCH v2 0/5] reader_permit: always forward resources to the semaphore

[2021-04-26 13:18] bhalevy commented on #8532
Yes please.  I'd need to know the 4.4.1 version and build-id to be able to debug the coredump.

[2021-04-26 14:28] tgrabiec commented on #8542
This is not an intended behavior, we should evict the deficit once per reclaim_from_evictable(). Still, we should evict inside the loop like today until segments are compactible.

[2021-04-26 14:45] bhalevy commented on #8003
@asias ping

[2021-04-26 14:51] fggarcia commented on #8532
Hi @bhalevy sorry for late.

Here is the output
[code]

[2021-04-26 16:21] roydahan commented on #8244
Closing this issue as I think the issue was temporary.

[2021-04-26 16:21] #8244 closed

[2021-04-26 17:05] bhalevy commented on #8532
@raphaelsc it looks like we're in `distributed_loader::process_sstable_dir`
can you please take it from here?

[code]

[code]

[2021-04-26 17:18] raphaelsc commented on #8532
i'll take it from here. thanks @bhalevy for the data you've already collected.

[2021-04-26 20:35] veramine commented on #8516
I ended up migrating to a two node cluster both nodes running 4.4.1.  replace_address_first_boot  worked fine.  Thanks for the help!

[2021-04-26 20:35] #8516 closed

[2021-04-26 22:46] tgrabiec opened #8552 "Memtable flushes can generate random LRU in row cache making memory reclamation expensive"
I think we can still suffer from the problem described in one of the comments here: https://github.com/scylladb/scylla/issues/1634#issuecomment-380002902. Random LRU coupled with high occupancy can make time-to-first-released-segment high.

This is theoretical for now. We probably need https://github.com/scylladb/scylla/issues/4186 before this effect is could in practice.

The source of random LRU

[2021-04-26 23:53] asias commented on #8013
I will work on a patch to make it work without repair based node operations.

[2021-04-27 03:42] #8493 closed

[2021-04-27 03:42] #8547 closed

[2021-04-27 04:40] avikivity commented on #1329
@tgrabiec is the serializer problem fixed? or do we have both the serializer problem and apply_reversibly?

[2021-04-27 04:43] bhalevy opened #8553 "lwt_banking_load_test failed assert result[0].count == BICS * BANS"
Seen e.g. in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/774/testReport/lwt_banking_load_test/LWTBankingLoadTest/test_bank_with_nemesis/
[code]

I'm not sure if it's a bug in scylla or in the test so opening it against scylla first for investigation.

[2021-04-27 04:43] bhalevy commented on #8553
Cc @kostja @alecco

[2021-04-27 04:50] avikivity commented on #1329
Looks like partition_key is skipped:

[code]

[2021-04-27 04:50] avikivity commented on #1329
Partially fixed by c3707ff754476da0be24ee781dcd4809808b3398.

[2021-04-27 05:06] avikivity commented on #1329
I see that apply_reversibly was dropped for rows (without explanation): 70e14f78a775b13bf4719499572528dbd1aff471

So maybe this is fixed, and maybe we can drop the rest of the apply_reversibly machinery.

[2021-04-27 05:07] avikivity commented on #1329
Some explanation is in the merge commit: 4cfcd8055ebe1b221e980bbd103d505ebb5654ac

[2021-04-27 05:09] avikivity commented on #1329
So we still have an allocation that can be thrown away, but if it's an append-only workload we don't have garbage, yes?

[2021-04-27 05:10] bhalevy commented on #7956
Closing.  Please open a new issue if seen again

[2021-04-27 05:10] #7956 closed

[2021-04-27 07:52] crispinkoech commented on #7201
Ahhh, okay. No prob :+1:

[2021-04-27 08:06] eliransin opened #8554 "materialized views: pulled old schemas are not fixed"
The is another breach in the schema registry through which a materialized view with a non-writable base link can
be created. This can happen when a node pulls schema to fulfill a write/read request. When a node actively pulls a schema
of a materialized view with computed columns, if the schema is an old secondary index one, it is not fixed as it should be.
The reason for not encountering this is t

[2021-04-27 08:07] eliransin commented on #8554
Fixed by #8509

[2021-04-27 08:07] #8554 closed

[2021-04-27 08:14] eliransin commented on #8554
/cc @avikivity

[2021-04-27 08:30] thirstycrow commented on #8491
I not sure, it's been a long time. The versions we use includes 3.1.2, 4.1.9 and 4.3.2, so it might be upgraded to 4.1.9 before 4.3.2, but I can't remember exactly.

[2021-04-27 08:39] slivne commented on #8270
@ShlomiBalalis is this happening in the populate phase or in a different phase - if this is happening post the populate phase and we can reproduce it - please create a different issue provide the reproducer - staging job and we can check it.

[2021-04-27 08:44] psarna commented on #7937
Possibly related: https://github.com/scylladb/scylla/issues/3559

[2021-04-27 08:47] asias commented on #7056
@raphaelsc Looking at the code, we will throw from get_first_decorated_key or get_first_decorated_key, if no keys were written into the sstable. We did see the throw was coming from line 1602 below. So, the upper layer must have written keys into the sstable.  What could go wrong is that the sstable was written with keys that belongs to the shard. However, looking at multishard_writer::handle_muta

[2021-04-27 09:46] psarna commented on #7937
Kamil pointed me to a line of code in gemini which retries the queries:
https://github.com/scylladb/gemini/blob/e0014702159a4a787675a7caeb6d9265a8d9b16a/store/cqlstore.go#L49
, depending on the `--max-mutation-retries` parameter. Does anybody know what's the default value for it? In order to confirm that it's the root cause, it would be nice to log all retries - then we could check if a retried qu

[2021-04-27 10:21] tgrabiec commented on #1329
partition_entry::apply() allocates a temporary partition version to provide atomicity in case of failure:

[code]

[2021-04-27 10:24] kbr- opened #8555 "Huge reactor stalls in `token_metadata` during topology changes when `EverywhereStrategy` tables are present"
In this job:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/KamilBraun/job/features-scale-180-200-cluster-test-test/3/consoleText
the test was bootstrapping a 100 nodes. There was a table in `system_distributed_everywhere` keyspace which uses `EverywhereStrategy`. After ~15 nodes we start seeing reactor stalls:
[code]

Repair-based node operations were enabled, although this does

[2021-04-27 10:25] tgrabiec commented on #1329
We generate garbage even if it's an append-only workload, any update does this.

[2021-04-27 10:28] tgrabiec commented on #1329
One way to solve it would be to allocate the partition_version object from a different segment, by adding a concept of "allocation group" which segregates objects with similar life time during allocation. Objects in the "garbage group" would land in the same segment, which will be promptly reclaimed.

[2021-04-27 10:48] bhalevy opened #8556 "split_range_to_single_shard: start_token may go out of sync with start_boundary"
In https://github.com/scylladb/scylla/blob/e2c8ff6bf2f7c0d110e6da92473f465ad1862b71/dht/i_partitioner.cc#L256
if `(start_shard = sharder.shard_of(start_token)) != shard`, we set start_boundary to `ring_position::starting_at(sharder.token_for_next_shard(start_token, shard))`.
In this case, start_token must be set to the result of `sharder.token_for_next_shard(start_token, shard)`
to stay in sync wi

[2021-04-27 10:49] bhalevy commented on #8556
Refs #7056

[2021-04-27 10:52] elcallio commented on #8012
Just to add some more useless info; I re-ran testing of hydra-kcl (i.e. alternator streams replication process), with a initial two-node cluster, but paused data generation to add a third node. Then adding a fourth node while actually streaming. Other than some race warnings (expected apparently) from the shard lease coordinator in kinesis, it worked flawlessly (if ever so slow).
I have yet to see

[2021-04-27 10:52] avikivity commented on #8555
/cc @bhalevy

[2021-04-27 10:53] avikivity commented on #8555
IIRC, the results of this call are cached, so yielding is acceptable as a quick fix. A faster algorithm is better, but can come later.

[2021-04-27 10:57] bhalevy commented on #8556
"dht/i_partitioner: split_range_to_single_shard: keep start_token in sync with start_boundary" sent to scylladb-dev mailing list.

[2021-04-27 11:11] avikivity commented on #8493
@denesb can the call to close_reader() be dropped when backporting to 4.5 and below?

[2021-04-27 11:14] denesb commented on #8493
Yes, you furthermore have to drop all the deferred semaphore drops from the unit tests, but that should be it.

[2021-04-27 11:56] kbr- commented on #8555
I'm still worried though. With 100 nodes 255 tokens each we need to perform ~650M operations, where an operation is basically taking an element from `unordered_set` (while iterating over it) and pushing it back onto a vector, so those operations are not that cheap. Assuming that we can perform 1M operations in ~one second (just guessing - this estimate is probably nowhere close to reality) then `g

[2021-04-27 12:59] avikivity commented on #8493
Apparently not enough, please provide a backport to 4.5.

[2021-04-27 13:59] denesb commented on #8493
An additional backport is needed. Good thing I wrote a deadlock detector test which found out that we'd deadlock with just this series.

[2021-04-27 15:11] denesb commented on #8493
@avikivity: https://github.com/scylladb/scylla/pull/8558

[2021-04-27 15:20] bhalevy commented on #8555
We can pass the `can_yield` parameter down to `get_all_endpoints`.

[2021-04-27 15:24] kbr- commented on #8555
Looking at this again - this is obviously wrong.
With 3825 tokens we got ~14M ops and this caused a 0.5 sec reactor stall.
So with ~650M ops we should get ~23secs computation, not ~11 minutes.

So I guess a yield is OK, at least for 100 nodes.

[2021-04-27 16:32] bhalevy commented on #8532
@fggarcia have you made any changes to scylla.yaml?

[2021-04-27 16:44] fggarcia commented on #8532
No, i only modify next fields:

[code]

example of final scylla.yaml
[code]

[2021-04-27 17:52] yarongilor opened #8559 "scylla service restart takes 20 minutes after enospc nemesis"
scenario:
1. run enospc nemesis to reach 99% used disk capacity on node-6.
2. then delete all above created files, sleep a bit and restart scylla service.
3. the timeout command for scylla service restart expired after 8 minutes.
4. then it took another 12 minutes as a total of 20 minutes for node-6 to complete initialization.

logs:
[code]

*Installation details*
Scylla version (or git commit has

[2021-04-28 00:50] alecco commented on #8553
@bhalevy that assert is to verify the initialization part of the test worked well by creating the expected number of bank accounts (`BICS * BANS`). Batches of `INSERT_BATCH_LEN` (up to 100) rows are inserted at a time.

    INSERT INTO {KEYSPACE}.accounts (bic, ban, balance, pending_amount) VALUES (?, ?, ?, 0)
    ["BEGIN BATCH\n"] + [INSERT_ACCOUNT] * INSERT_BATCH_LEN + ["APPLY BATCH"]

Then that

[2021-04-28 07:52] denesb commented on #8493
Hold on backporting because I think this might be the cause for multishard query test timing out.

[2021-04-28 10:00] haaawk commented on #7748
@ShlomiBalalis 2 questions:

1. Would you have a full stacktrace for BusyPoolException you're seeing?
2. Could you please set PoolingOptions.setMaxConnectionsPerHost and PoolingOptions.setCoreConnectionsPerHost to higher numbers. My theory is that shard aware driver opens `CoreConnections` connections to a node but it's really `CoreConnections / ShardCount` connections to each shard on the node. I

[2021-04-28 11:25] #8494 closed

[2021-04-28 12:48] denesb opened #8561 "[<=4.4] reader_concurrency_semaphore: inactive reads can block shutdown"
Pre 4.5, `inactive_read_handle` is a pure weak reference to the inactive read. Destroying the handle leaves the associated inactive read in the semaphore. As inactive reads have no TTL of their own, these can sit there indefinitely. If one is unlucky, some inactive reads might be left in the semaphore during shutdown. As the messaging service is stopped before the database, this means nobody is co

[2021-04-28 13:37] denesb commented on #8561
One thing that is not clear is how these inactive reads are left in the semaphore. The querier cache is supposed to clean up after itself.

[2021-04-28 13:58] bhalevy commented on #8561
@denesb what's the earliest version exposed to this issue?

[2021-04-28 14:08] denesb commented on #8561
The sstables manager was introduced in 3.1, so I guess 3.1, which basically means all currently supported OSS releases.

[2021-04-28 14:26] psarna commented on #7937
I was able to reproduce the failure locally with gemini and two local clusters. Here's the outcome from both:
1:
[code]

2:
[code]

As you can see, the entries in cluster 2 are duplicated. It's unfortunately not possible to retrieve the writetime for unfrozen collection items, so I took the writetime value from another column, **but** the gemini logs suggest that all inserts/updates were always ad

[2021-04-28 15:35] bhalevy commented on #8532
@fggarcia I still can't find the smoking gun in the coredump for why scylla is stuck.

Is it possible it was just very slow to start and if you wait long enough it does start eventually?

From the coredump it seems like scylla is in progress of populating the system keyspace.
Can you share the sstables in the system tables?
It's a long shot, but maybe something there causes scylla to get stuck on

[2021-04-28 15:43] bhalevy commented on #8553
Yes, any exceptions should propagate upward if uncaught.
Is it possible that due to error injection not all bank accounts are successfully created?

[2021-04-28 16:00] alecco commented on #8553
The point is to test banking transactions (LWT) over existing accounts. The accounts are created with plain non-LWT INSERTs. We assume this step works.

The nemesis worker starts after setup.

Assert failing line 1092
https://github.com/scylladb/scylla-dtest/blob/3ab05beb8a3d628c9d5aee9f6023e3e93ec6f6ae/lwt_banking_load_test.py#L1092

Nemesis process starts on line 1112 https://github.com/scylladb

[2021-04-28 16:28] bhalevy commented on #8553
I see some retries in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/774/artifact/logs-all.debug.2/dtest.log:
[code]

And eventually a 1000 accounts are missing, i.e. one worker was unsuccessful.

Maybe an exception in `populate_worker` is not propagated via `proc.join()`, and we need to check [proc.exitcode](https://docs.python.org/3/library/multiprocessing.html#multip

[2021-04-28 17:12] avikivity commented on #8532
@bhalevy you can try `task_histogram --all` to make sure you don't miss something important.

[2021-04-28 17:24] bhalevy commented on #8532
I did so to no avail.
I'll upload the output later when I'm back in front of my computer. Maybe I missed something.

[2021-04-28 18:44] bhalevy commented on #8532
@raphaelsc fyi, here's the output of `scylla task_histogram -a` on all shards: [task_histogram.txt](https://github.com/scylladb/scylla/files/6394053/task_histogram.txt)

[2021-04-28 20:10] nyh commented on #5060
Started to work on this feature. A draft pull request - currently including just tests - is in https://github.com/scylladb/scylla/pull/8564.

[2021-04-28 21:03] fggarcia commented on #8532
Hi @bhalevy last time i tried update to 4.4.1... i was waiting around 30 min until rollback to 4.3.2.... i will try again.... i will do coredump until that time

[2021-04-28 21:08] raphaelsc commented on #8532
did you share the full log or just part of it?

[2021-04-28 21:10] fggarcia commented on #8532
Hi @raphaelsc right now i trying update the cluster

log until now:

[code]

Stuck here

[2021-04-28 21:27] fggarcia commented on #8532
our cluster is very little

Using /etc/scylla/scylla.yaml as the config file
Datacenter: xxxxx
=====================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address         Load       Tokens       Owns    Host ID                               Rack
UN  instance1   4.78 GB    256          ?       cbc5fc38-b6f6-4df5-bede-4e87cdb3868d  rack1
UN  instance2   4.37 GB    256          ?

[2021-04-29 04:36] asias opened #8566 "cdc_tests.py:TestCdc.add_field_with_cdc_test fails"
scylla master: 6c168ee0eb8df1ab509ab193a79a9973836ef31c
dtest master: 3ab05beb8a3d628c9d5aee9f6023e3e93ec6f6ae

The test  cdc_tests.py:TestCdc.add_field_with_cdc_test fails as follow:

[code]

[2021-04-29 04:36] asias commented on #8566
@kbr- any ideas?

[2021-04-29 04:52] asias opened #8567 "repeated message: service_level_controller - service level default was deleted"
scylla commit: 6c168ee0eb8df1ab509ab193a79a9973836ef31c

The message is showed every 10 seconds repeatedly. Is this expected? Why is it useful?

[code]

[2021-04-29 07:16] asias commented on #8566
Ok, I know what is going on.

[code]

The test assumes the num_tokens = 256, but I changed the num_tokens to non default number.

[2021-04-29 07:17] asias commented on #8566
I am closing this issue.  We can improve dtest for it.

[2021-04-29 07:17] #8566 closed

[2021-04-29 07:34] aleksbykov commented on #7937
@psarna the --max-mutation-retries  is set to 5 for all gemini tests

[2021-04-29 08:47] denesb commented on #8493
Turned out to be a test-only issue, fix on the list: [PATCH v1] test: multishard_mutation_query_test: fuzzy-test: don't consume resource up-front

[2021-04-29 09:47] avikivity commented on #8561
Fixed in 4.3, 4.4.

[2021-04-29 09:47] #8561 closed

[2021-04-29 09:55] aleksbykov commented on #5610
Issue reproduced during upgrade from 4.4(ScyllaDB version with details: 4.4.1-0.20210406.00da6b5e9) -> 4.5.rc1 (http://downloads.scylladb.com/unstable/scylla/branch-4.5/rpm/centos/2021-04-21T18:17:04Z/scylla.repo)

before upgrade next table was created with query:
[code]

table was populated with next queries:
[code]
after node1 was upgraded next queries were run to verify table data after first n

[2021-04-29 10:03] avikivity commented on #8552
I think we should have an LRU for memtable too, and then choose to only integrate rows that were touched while they were in that memtable (avoiding write flooding). We could then iterate over the memtable in LRU order.

(of course, rows in partitions that exist in cache must be integrated into cache even if they were not touched).

Scratch algorithm:

iterate over rows in memtable from least-recen

[2021-04-29 10:45] avelanarius commented on #7748
Following a discussion I had with @haaawk and realization we might need more detailed logging, here's a "hacky" commit that adds periodic reporting of started connections by `borrowConnection`:

https://github.com/avelanarius/java-driver/commit/1aa1f40f7bae3dd90ce9718a5d8b2cb804167cae

I hope it will be useful to determine what is happening. Unfortunately, this week I won't investigate this proble

[2021-04-29 11:25] denesb commented on #8567
I'm also seeing this and it is annoying.

[2021-04-29 11:47] avikivity commented on #8493
How far back should I backport d600be211b922d1df76204021903da9d14dc954b?

[2021-04-29 11:52] psarna commented on #7937
I ran the test again and confirmed with extended logs that the duplicated values are a direct result of a retried operation on a list, so it's #3559.

In short, the issue goes like that - overwriting an unfrozen list with timestamp `t` is implemented in Scylla as two mutations:
1. create a tombstone for each list cell with timestamp `t-1`
2. create a new value with timestamp `t`

Now, if this oper

[2021-04-29 12:03] denesb commented on #8493
It has to be ported everywhere https://github.com/scylladb/scylla/pull/8558 is. I can include it in the latter to make it easier.

[2021-04-29 12:49] avikivity commented on #8532
If you kill the server and restart it, the problem continues, yes? If so please install strace and prefix the command in the scylla-server.service unit file with `strace -f -o /tmp/strace.txt` and we'll see what it was thinking when it stopped.

[2021-04-29 13:22] bhalevy commented on #8382
@scylladb/scylla-maint please backport to 4.5

Seen on master in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/779/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/simple_add_new_node_while_adding_info_1_test/

then, the test continues to fail in 4.5 that doesn't have this fix:

https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/dtest-relea

[2021-04-29 15:09] psarna commented on #8567
@eliransin perhaps something was not forward-ported properly? I'll be out until Tuesday due to a holiday period in Poland, so I won't be able to take a look soon.

[2021-04-29 15:11] psarna commented on #8567
Meanwhile, if somebody wants to volunteer, the solution is to simply downgrade the logging level from `service_level_controller.cc` messages from `info` to `debug`. Here's one of the culprits:
https://github.com/scylladb/scylla/blob/0e8818f6aca35c7481192fb517ef2a0a81e5421f/service/qos/service_level_controller.cc#L163
, but generally all these messages can be moved from `info` to a lesser logging l

[2021-04-29 15:45] avikivity commented on #8554
Backported to 4.3, 4.4, 4.5.

[2021-04-29 18:42] avikivity commented on #8493
@denesb I'll need help with 4.4 too.

[2021-04-29 22:47] laurovenancio opened #8569 "TWCS: sometimes SSTables are not compacted together when time window finishes"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.3.2
Cluster size: 1
OS (RHEL/Cen

[2021-04-29 23:04] raphaelsc commented on #8569
Thanks for the detailed report. I will investigate it soon.

[2021-04-30 07:02] tarzanek opened #8570 "cqlsh C* 4.0 compatibility with python3 and DESC SCHEMA"
cassandra 4.0 python3 cqlsh from https://github.com/apache/cassandra/tree/trunk/bin does not support DESC SCHEMA on scylla

it can likely translate to https://github.com/scylladb/scylla-tools-java repo only, but I wanted to file here first so we can check compatibility from scylla / cql protocol first

[2021-04-30 08:18] denesb commented on #8493
Here you go: https://github.com/scylladb/scylla/pull/8571

[2021-04-30 08:55] avelanarius commented on #8544
Did your Pull Request (https://github.com/scylladb/scylla/pull/8546) fully fix this issue?

If yes, then you should have written "Fixes #8544" inside a commit message in that PR - that way this issue would be closed automatically.

[2021-04-30 10:02] avelanarius commented on #8301
Closing, as this is almost certainly a duplicate of #8363 (now fixed).

[2021-04-30 10:02] #8301 closed

[2021-05-02 08:14] bhalevy opened #8573 "Off-strategy compaction with LCS keeps reshaping the last remaining sstable"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/800/artifact/logs-all.release.2/1619749504253_secondary_indexes_test.TestSecondaryIndexes.test_remove_node_during_index_build/node1.log
[code]

Coredump here: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/800/artifact/logs-all.release.2/1619749504253_secondary_indexes_test.TestSecond

[2021-05-02 08:26] bhalevy commented on #8555
@kbr- are you working on fixing this issue?

[2021-05-02 08:43] eliransin commented on #7526
@avikivity can we backport #8560 to 4.3?

[2021-05-02 09:01] eliransin commented on #8491
@thirstycrow if the upgrades were not incremental it is hard to tell what problems might occur. I am afraid it will be hard to
eliminate a problem in the upgrade path. However, if you can provide us with reproducer we will be more than happy to investigate. If the issue is not reproducible, I am afraid there is not much more we can do.

[2021-05-02 09:08] eliransin commented on #7937
@penberg I assigned this to you since AFAICR you are the father of Gemini :slightly_smiling_face: , please reassign if someone else should handle this.

[2021-05-02 10:14] kbr- commented on #8555
No, I'm on vacation till 9th

niedz., 2 maj 2021, 10:26 użytkownik Benny Halevy ***@***.***>
napisał:

[2021-05-02 11:01] #7998 closed

[2021-05-03 04:53] ShlomiBalalis opened #8577 "Scylla shutdown process stuck when Shutting down drain storage proxy"
*Installation details*
Scylla version (or git commit hash): 4.6.dev-0.20210424.f7e00e781c2 with build-id cf643cfd81b2c4b5b659b84a6ba411aa1939581c
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0d88d7366cb227e2b (eu-north-1)
This is a short **alternator** longevity

At `2021-04-25 02:22:45.517` an Enospc nemesis started on node 4 (13.53.173.30 | 10.0.1.229). The nemesis deliberately fills the

[2021-05-03 05:19] bhalevy commented on #8555
@asias please own this while @kbr- is out

[2021-05-03 06:06] bhalevy commented on #8577
@ShlomiBalalis can you please generate a coredump of the stuck node?

Cc @xemul

[2021-05-03 06:08] bhalevy commented on #8577
It looks like at least shard 3 hints_manager is hung while stopping.
I guess due to the ENOSPC nemesis.

[2021-05-03 06:56] bhalevy commented on #8577
#8578 has a provisional fix for this issue.
@ShlomiBalalis Can we please try the fix with the same longevity test?

[2021-05-03 07:16] nyh commented on #8230
This bug can be encountered by Alternator users who use sstableloader and for some weird reason decide to use its "-nx" option, so I'll backport. The backport to branch-4.5 is especially necessary because we already have a dtest testing this feature.

Backported fix into the tools/java submodule, in branches:
* next-4.5 (d881d539f370f15288e133e7393274da0d3b7275)
* next-4.4 (ebd2c9bab0bbfdc215da21a

[2021-05-03 08:24] bhalevy opened #8579 "Reactor stall in consume_mutation_fragments_until"
Seen in QA performance SCT tests with `4.6.dev-0.20210421.2ad09d0bf` 2ad09d0bf
[code]

[code]

[2021-05-03 08:39] bhalevy commented on #8577
https://github.com/scylladb/scylla/pull/8578#discussion_r624934677 raises a valid point that with ENOSPC nemesis we might not be able to ensure a clean shutdown, so it's unclear whether the node should be able to restart cleanly.
@ShlomiBalalis is the ENOSPC nemesis still active during shutdown?

Reading:

Does this mean that the file that deliberately fills the target node's storage is removed be

[2021-05-03 09:06] avikivity commented on #7526
We don't backport to branches without backporting to all later branches.

[2021-05-03 10:13] #8567 closed

[2021-05-03 10:26] nyh commented on #5224
Should this issue be closed as the doc was fixed, or is there a request here for something more (warning, error, expert mode, or something)?

[2021-05-03 12:25] nyh opened #8582 "Switch internal distributed keyspaces from SimpleStrategy to NetworkTopologyStrategy / EverywhereStrategy / Raft Group 0"
In our documentation (and see also issue #5224) we strongly recommend that users who create a keyspace should not use `SimpleStrategy` replication, and instead should use `NetworkTopologyStrategy`. The problem with the former is that as soon as you want to add more DCs to the cluster, `SimpleStrategy` is no longer good enough: Its main problem is that it fails to achieve the _availability_ expecte

[2021-05-03 12:38] slivne commented on #8582
Please note - we need to validate this will not cause issues in upgrades - if tables already exist they should retain SimpleStrategy. If tables don't exist (new cluster / new keyspace) they should start with NetworkTopologyStrategy.

[2021-05-03 13:52] avikivity commented on #7314
Closing as duplicate of #7991.

[2021-05-03 13:52] #7314 closed

[2021-05-03 14:10] aleksbykov commented on #8270
Issue reproduced.
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210429.0e8818f6a`
Cluster size: 4 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-lwt-3h-master-db-node-fe6df809-1 (13.48.55.111 | 10.0.3.235): 8 shards
   longevity-lwt-3h-master-db-node-fe6df809-2 (13.49.246.169 | 10.0.0.94): 8 shards
   longevity-lwt-3h-master-db-

[2021-05-03 14:32] elcallio commented on #8270
This log is borderline identical to the previous one. But it has not a single word about commit log. So I am given to assume that noone changed the log levels as I requested.

[2021-05-03 14:46] roydahan commented on #8270
@juliayakovlev can you please run a reproducer of this issue with commitlog set to debug level?
Please work directly with @elcallio when you have the info.

It should be very easy to reproduce, just to run the longevity-lwt-3h and the stress will fail during populate phase.

[2021-05-03 15:05] roydahan commented on #8577
Yes, first we clean the file to recover the space and then restarting the service.

@bhalevy, Do you still need coredump?
@ShlomiBalalis, please check if we got a coredump on this node while systemd eventually killed the service.
Now that we use Ubuntu 20 as AMI and it has systemd version > 240, the SIGABRT should be the final kill behaviour.
@enaydanov can help in case there is a question about i

[2021-05-03 15:19] slivne opened #8583 "Add support for Cassandra NB format (Cassandra 4.0)"
Cassandra 4 introduced the NA format which is a set of changes

- I collected the following - yet it should certainly be double checked.

One of the changes we have introduced is the ability to stream information internally in scylla at nodetool refresh instead of using the sstableloader - as such it would be appropriate for scylla to support the NA format naively - even only for reads

[code]

[2021-05-03 18:41] nyh commented on #8582
I think this will happen naturally, as all these internal keyspaces (I compiled a full list above) we only create them once, if they don't exist - and afterwards never touch them again.

[2021-05-03 19:00] #8579 closed

[2021-05-04 05:32] bhalevy commented on #8577
yes, we better understand exactly what scylla is waiting on

[2021-05-04 07:23] eliransin commented on #8582
@slivne, I think we should be more active and figure out an upgrade path, it doesn't have to be in the first version but IMHO it has to be at some point, even if it is manual, maybe we need to provide the procedure used for converting user tables. Those tables are small so I expect this to be a breeze in comparison to user tables and the first benefit of this is that we immediately get auth availa

[2021-05-04 08:16] tzach commented on #3306
Done!

[2021-05-04 08:16] #3306 closed

[2021-05-04 09:21] bhalevy opened #8584 "STCS get_buckets insertion algorithm may break the bucket invariant"
Currently (9cc45fe5c91bc72359021108e2f032f20d7177e2), as we insert increasingly larger sstables into a bucket, its average size drifts up and eventually this may break the bucket invariant that all sstables in the bucket should be within the `(bucket_low, bucket_high)` range relative to the bucket average.

For example, here's a simulation run of the algorithm for these sstable sizes:
`[21, 123, 2

[2021-05-04 09:42] ShlomiBalalis commented on #8577
It doesn't appear that a coredump was created/uploaded.

[2021-05-04 11:11] nyh opened #8586 "Add option to forbid SimpleStrategy in CREATE KEYSPACE"
This issue is a continuation or duplicate #5224 (which was about documentation), and related but orthogonal to #8582 (which is about internal keyspace, not those created by CREATE KEYSPACE).

The request in this issue is to add an option which causes CREATE KEYSPACE to fail if given SimpleStrategy as a replication class. Not a warning, but outright failure.

The rationale is that users should neve

[2021-05-04 11:13] nyh commented on #5224
Created issue #8582 about switching internal tables to NetworkStrategy, and #8586 about forbidding SimpleStrategy in CREATE KEYSPACE. I think nothing is left to do in this issue, and it can be closed?

[2021-05-04 13:14] aleksbykov opened #8587 "scylla_io_setup failed with error: seastar - Could not setup Async I/O on aws instances (r5, r5b) and gp3 ebs volumes"
If create scylla cluster on aws instances type r5.2xlarge, r5b.2xlarge with version 4.6.dev, 4.5.0 and attached ebs volumes, scylla require to run the scylla_io_setup to configure io. But it always faild with next errors:

instance type: r5.2xlarge: ami_id: ami-0d13b2ae9a31597e7(us-east-1) ebs volume type: gp3
[code]

instance_type_db: r5b.2xlarge; ebs volume type: gp3; ami_id: ami-079d79dcd52e12e

[2021-05-04 13:14] aleksbykov commented on #8587
@yaronkaikov FYI

[2021-05-04 13:15] aleksbykov commented on #8587
PR with fix: https://github.com/scylladb/scylla/pull/8512

[2021-05-04 13:47] eliransin commented on #5469
@vladzcloudius, @tarzanek  reading this issue, I see that the only open question remains is if @tzach agrees to change our production images to have scylla disabled by default, right?
What other loose ends are there it this issue?

[2021-05-04 13:49] enaydanov commented on #8577
@ShlomiBalalis can you check that there is `/etc/systemd/system/scylla-server.service.d/override.conf` file with

[code]

in it?

[2021-05-04 13:52] enaydanov commented on #8577
Also you can try to see effective value for this setting:

[code]

[2021-05-04 14:26] gibsn commented on #8348
@avikivity this is the first time I use `blktrace/blkparse` so please tell me if this not what you expected to see.

We have 2SSDs in a RAID1 for clogs.

/dev/sdc:
[code]

/dev/sdd:
[code]

[2021-05-04 14:41] #8102 closed

[2021-05-04 17:22] laurovenancio opened #8588 "STCS: Scylla uses uncompressed data size while Cassandra uses on-disk data size for min_sstable_size parameter"
*Installation details*
Scylla version (or git commit hash): 4.4.1
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

As Scylla uses the uncompressed data size from generating the sstable buckets, the min_sstable_size behavior differs from Cassandra. It is also not documented the use of uncompressed size for the min_sstable_size parameter.

[2021-05-04 18:34] fee-mendes opened #8589 "Unified Installer: Incorrect file security context cause scylla_setup to fail"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.4.1-0.20210406.00da6b5e9
Cluster

[2021-05-04 22:23] laurovenancio commented on #8569
I could confirm that this issue is caused by the missing initialization of _highest_window_seen. I will send a patch.

[2021-05-05 08:30] hartmut-co-uk commented on #8380
may I ask if this is planned and/or will be added with a particular release?

[2021-05-05 08:32] denesb opened #8591 "storage_proxy::get_max_result_size() uses the unlimited max-size for service levels"
Very similar to https://github.com/scylladb/scylla/issues/8508, when executed in the context of an unknown scheduling group, a prime example being a service level, the system limit is chosen, which is infinite.

[2021-05-05 08:34] haaawk commented on #8380
We're thinking about some potential solutions but it's not on the roadmap yet.

[2021-05-05 09:09] eliransin commented on #8419
Can we backport this to 4.3?

[2021-05-05 10:01] bhalevy commented on #8591
Refs #8508

[2021-05-05 10:32] tarzanek commented on #5469
nope, it's about having different behaviours for start of service based on certain conditions
I think the fix for this lies in systemd lands (e.g. a verify/sanity script that will have logic if to allow service to start upon boot of node or not)

[2021-05-05 11:03] yaronkaikov opened #8593 "Support Microsoft Azure snitch"
Need to add support to Microsoft Azure snitch like AWS and GCE.

Can use https://github.com/yoshw/cassandra/commit/7101f3ad8f622612248a866fca37a8864f51943c for reference

[2021-05-05 11:23] bhalevy commented on #8382
@scylladb/scylla-maint ping backport

[2021-05-05 12:21] avikivity commented on #8419
We don't backport to specific branches; instead we backport to all versions above some release stream.

Why do you think this should be backported?

[2021-05-05 12:22] avikivity commented on #8382
Backported to 4.5. Is 4.4 safe?

[2021-05-05 12:37] #8325 closed

[2021-05-05 13:13] eliransin commented on #8419
scylladb/scylla-enterprise#1690

[2021-05-05 13:20] shoshan commented on #7779
Seen also in 4.5 LWT  test

[code]

Full logs links:
[code]

[2021-05-05 14:58] aleksbykov opened #8594 "Scylla was not started with systemctl restart command: scylla-server.service: State 'stop-sigterm' timed out"
Test: `longevity-alternator-3h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-alternator-3h.yaml](https://github.com/scylladb/scylla-cluster-tests/blob/0d21beeb95740f69f66ef07af45df7d24a22b9d0/test-cases/longevity/longevity-alternator-3h.yaml)

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0

[2021-05-05 15:15] denesb opened #8595 "scrub with disable_snapshot=false sometimes fails with std::runtime_error (Keyspace synapse: snapshot pre-scrub-1620227363225 already exists.)"
I don't have a reliable reproducer for this, but I have seen it in the past and recently a user experienced it when running scrub, even after having cleared all snapshot. Full error message:
[code]

[2021-05-05 15:16] denesb commented on #8595
`scrub_mode=SEGREGATE` is a feature of scrub not merged yet, but this error was happening before it was added too, so it is not specific to that branch.

[2021-05-05 15:18] bhalevy commented on #8382
@xemul what say you?

[2021-05-05 15:30] xemul commented on #8382
The 887a1b0 is only needed after 6035fd05, so 4.4 is not affected

[2021-05-05 15:41] #8156 closed

[2021-05-05 19:02] roydahan commented on #8594
@aleksbykov can you please check if we got a coreump on that SIGABRT?
It's a special addition of SCT that configures systemd final behavior to SIGABRT in order to catch a coredump in such cases.

@eliransin FYI.

[2021-05-05 19:58] #8584 closed

[2021-05-05 19:58] #8569 closed

[2021-05-05 19:58] #8591 closed

[2021-05-05 20:15] vladzcloudius commented on #7415
What's the status of this?
We have a rather shameful Doc page: https://docs.scylladb.com/kb/increase-permission-cache/

How difficult is it to fix this? It looks pretty ridiculous when we have corresponding graphs on the "Advanced" Monitoring dashboard showing non-zero values simply because we send internal queries the way we teach our users NOT to do.

Non-zero values on these graphs should be re

[2021-05-06 02:06] asias commented on #8555
OK. We need to fix stalls on top of  "token_metadata: Fix get_all_endpoints to return nodes in the ring"

[2021-05-06 05:51] aleksbykov commented on #8594
@roydahan check logs and node, no coredumps were found

[2021-05-06 05:53] avikivity commented on #8569
Backported to 4.3, 4.4, 4.5.

[2021-05-06 07:29] slivne commented on #8594
@aleksbykov is the machine still up - if not lets do the experiment we settled on - create a version that gets stuck in shutdown and test that we get a coredump

[2021-05-06 07:34] slivne commented on #8588
@raphaelsc can you please comment

[2021-05-06 07:40] slivne commented on #8583
@avikivity - need your input on this

I want to break it into three parts

- tools (sstableloader)
- reading na (nodetool refresh - Asias new feature in 4.5)
- read/write - and this is something I think we can discuss if we want an support.

[2021-05-06 07:42] slivne commented on #8577
@eliransin another case lets do the test with an executable that does not shutdown and see it works

[2021-05-06 07:43] slivne commented on #8577
Once we do the test and the techincal part is overcome - please remove your assignment - hoefuly we will fix the bug have the issue in parallel.

[2021-05-06 07:47] slivne commented on #8559
I expect its doing commitlog replay - but you can double check that in the log.

Calle - can you check and see if its commitlog replay that is taking a long time - or something else that is "strange" and do the first analysis.

[2021-05-06 07:58] eliransin commented on #8577
Already provided a version waiting for results from @roydahan

[2021-05-06 08:53] slivne commented on #8544
assuming it did  c255903  - closing the issues

[2021-05-06 08:53] #8544 closed

[2021-05-06 08:56] slivne commented on #8542
@michoecho / @avikivity is one of you working on a fix ?

[2021-05-06 08:57] slivne commented on #8541
@tgrabiec are you working on an additional fix for this ?

[2021-05-06 08:59] slivne commented on #8538
@shauru001 can you please share logs from the machines (since the remove node) on the machine you ran the removenode so we can actually check it ended succesfully.

@asias - do we block operations (drain) while other operations are running ?

[2021-05-06 09:00] slivne commented on #8532
@fggarcia any chance you can test this out - we fixed one or two issues already but you still seem to have an issue and we would like to resolve that.

[2021-05-06 09:11] aleksbykov opened #8597 "node doesn't switch status to UP and normal after scylla had started on node, which was previously drained"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210429.0e8818f6a`
Cluster size: 3 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-twcs-3h-master-db-node-0d6f2886-1 (13.51.176.123 | 10.0.0.128): 8 shards
   longevity-twcs-3h-master-db-node-0d6f2886-3 (13.51.156.24 | 10.0.3.157): 8 shards
   longevity-twcs-3h-m

[2021-05-06 09:17] slivne commented on #7930
@penberg / @avikivity ping on backport this is a regression

[2021-05-06 09:32] avikivity commented on #8542
I'm not working on it. @michoecho please review my proposal, you can also suggest other ideas.

[2021-05-06 10:54] syuu1228 commented on #8589
@slivne @penberg I think we haven't tested on SELinux enforcing mode environment enough since our recommendation is disabling SELinux for performance reason.
This bug probably able to fix easily, but if we want to keep supporting such environment, we should add a test to setup & run Scylla in SELinux enforcing mode.
And it should be not only Unified Installer, also with RPM installation.

BTW, to

[2021-05-06 12:26] thirstycrow commented on #8467
Got the same issue with 4.4.1. It seems fixed by https://github.com/scylladb/seastar/commit/5e6f9a8af2bf8549f567e0f67c35ff24d5e63e19

[2021-05-06 13:05] avikivity commented on #8467
@vladzcloudius please confirm

[2021-05-06 15:01] roydahan commented on #8597
@aleksbykov the title and description is unclear, please fix it.

[2021-05-06 15:15] aleksbykov commented on #8597
@roydahan, is it clear now?

[2021-05-06 15:50] tgrabiec commented on #8541
Not at the moment, but I think we should have a better fix.

On Thu, May 6, 2021 at 10:58 AM Shlomi Livne ***@***.***>
wrote:

[2021-05-06 15:51] psarna opened #8598 "CQL grammar: property values are represented by strings, which is not a sufficient abstraction"
Property values in CQL grammar are currently represented internally as strings:
https://github.com/scylladb/scylla/blob/745f63991f2229fe2910158ada3abea9784611fc/cql3/Cql.g#L1621-L1624

Property value is a generic key-value pair used in mutiple configuration maps (e.g. `CREATE KEYSPACE ks WITH <properties>`). The problem is that aside from strings, CQL allows passing a certain set of keywords (call

[2021-05-06 17:36] raphaelsc commented on #8588
STCS achieves low write amplification by compacting together similar-sized data and allowing their accumulation. Compaction is performed on input data after decompressed, so it's natural that the strategy makes decisions using the uncompressed size. If compressed size were used instead,  sstables with different compression ratio could be considered similar-sized even though they aren't, which coul

[2021-05-06 17:40] raphaelsc commented on #8588
Agreed this should be documented at least.

[2021-05-06 17:40] aleksbykov opened #8599 "'nodetool refresh' has been running for 2 days on one node"
Test: `longevity-200gb-48h`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test id: `69f71bbe-3617-4bf3-bc73-7ff028645a74`
Test config file(s):
- [longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml](https://github.com/scylladb/scylla-cluster-tests/blob/162e8df658f9f31dbfac1463d9bf6e74dde3b88f/test-cases/longevity/longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml)

*Installation deta

[2021-05-06 18:52] nyh commented on #4146
I'm closing this issue. I don't think we'll ever want to change this. This issue has some useful information on index and their backing-MV naming - but it doesn't mean it should remain open.

[2021-05-06 18:52] #4146 closed

[2021-05-06 18:59] nyh opened #8600 "IndexInfo system table lists MV name instead of index name"
Cassandra has a system table `system."IndexInfo"` (note the capitalized table name) which lists built indexes using a somewhat strange schema - the `table_name` column lists the keyspace name (_not_ the table name!), and `index_name` is the index name.

Scylla has a bug where if the index name is xyz, it puts **`xyz_index`** in `index_name`. This `xyz_index` string is the materialized view backing

[2021-05-06 19:18] nyh commented on #8600
Note that there is an interesting question here. If we fix the IndexInfo table, it will fix its compatibility with Cassandra, but break compatibility with earlier versions of Scylla. So if someone wrote code using this IndexInfo table especially for Scylla, this code will break. I doubt much (or any...) such code actually exists in the wild, so I prefer to fix compatibility with Cassandra, but it'

[2021-05-06 19:28] yarongilor opened #8601 "CQL query duration takes much longer than the CQL TIMEOUT parameter value specified"
The new CQL TIMEOUT parameter was added to SCT fullscan thread.
(in https://github.com/scylladb/scylla-cluster-tests/pull/3491 )

it now can get a randomize timeout duration between 2 minutes to 3 hours for the select query.

as can be seen in the log below, the command actually takes much longer than the timeout many times.

log:
[code]
the test job URL is:
https://jenkins.scylladb.com/job/scylla

[2021-05-06 21:05] nyh commented on #8600
Note that it appears that we have unit tests **and** dtests, which enshrine the broken behavior. It saddens me every time how we spent time to write tests, but instead of writing tests that will help us catch bugs (differences from the Cassandra API we intended to copy), we wrote tests that make it difficult to fix them :-(

[2021-05-06 22:09] vladzcloudius commented on #8467
@avikivity bonding configuration is broken without scylladb/seastar@5e6f9a8 in 4.4.1

[2021-05-06 23:44] #8471 closed

[2021-05-06 23:44] #8472 closed

[2021-05-07 00:13] syuu1228 commented on #8589
Ah, there is a option to apply default file context on /usr/bin/install, we don't need to `restorecon`, correct context can apply on copying time:
[code]
https://man7.org/linux/man-pages/man1/install.1.html

[2021-05-07 05:47] pveentjer commented on #8544
Thanks @slivne

[2021-05-07 05:54] shauru001 commented on #8538
@slivne

I just want to tell you this issue. This problem has be resolved by myself.
I force stop scylla service without drain and start, then drain again, the error disappear.
However, I do't think the issue is normal, drain should't be stuck after removenode, and stop scylla service without drain is a risk.

[2021-05-07 06:35] haaawk opened #8604 "LWT sporadic failure if a non-deterministic function is used to assign partition key"
[code]

Insert without `if not exists` works perfectly fine.

[2021-05-07 06:36] haaawk commented on #8604
FYI @kostja

[2021-05-07 06:41] haaawk opened #8605 "[Feature request] Make it possible to delete a partition using `if exists`"
At the moment, it is impossible to delete a partition and learn whether it was truly removed:

[code]
Conditional delete does not work even though unconditional delete works just fine.
It would be great if conditional delete could work too.

For now, there's a work around that achieves the same result:
[code]

[2021-05-07 06:41] haaawk commented on #8605
FYI @kostja

[2021-05-07 07:16] nyh commented on #8600
Just to update my progress on this issue: I have an implementation which fixes the virtual reader enough to make the Cassandra unit tests' `wait_for_index()` work. The virtual reader removes the "_index" from the view names to generate the list of index names. But this implementation is not good enough to make a different test pass. The problem is that the other test case adds a slice to the WHERE

[2021-05-07 09:39] psarna commented on #8601
Is the node still alive? The output in this issue includes inputs from `system_traces.node_slow_log_time_idx` and `system_traces.sessions`, but these do not really contain any context. The most valuable information will be in `system_traces.node_slow_log` and `system_traces.events` - only from there we can deduce which operation took longer than expected (that's what stored in `system_traces.node_

[2021-05-07 11:42] denesb opened #8608 "configure.py: --with options doesn't work"
Only the most basic functions work: no rules will be generated to build artifacts that are not included.
But as soon as one wants to use these, one will find that many things are broken around it:
* Dependent rules will still be generated, attempting to build these will result in an error, as ninja doesn't know how to build dependencies. Maybe we should still generate rules for all artifacts, just

[2021-05-07 15:24] vladzcloudius commented on #2581
@amihayday FYI

[2021-05-08 05:28] bhalevy opened #8609 "wild pointer dereference during shutdown after failing to create sstable component"
https://jenkins.scylladb.com/job/scylla-master/job/dtest-debug-random/456/artifact/logs-all.debug.2/1620426126479_alternator_tests.AlternatorTest.test_batch_with_auto_snapshot_false/node1.log
[code]

[2021-05-08 05:51] bhalevy commented on #8573
@raphaelsc in addition,
In https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/807/artifact/logs-all.release.2/1620439161463_secondary_indexes_test.TestLocalIndexes.test_remove_node_after_local_index_build/node3.log
this apparently leads to running out of file descriptors so possibly shared sstables aren't released as they should.

[2021-05-08 06:09] bhalevy opened #8610 "storage_service isolate log message should be an error"
See
https://github.com/scylladb/scylla/blob/04c5e42f80f98dfc4b0a0e53c79cc326fb825c5c/service/storage_service.cc#L3512-L3513

This is a very serious condition that requires the immediate attention of the system administrator.
That warrants a bold ERROR message, not a mere WARNING.

Seen in https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/807/artifact/logs-all.release.2/1620439161463

[2021-05-08 18:37] noc404 commented on #4232
Please address it ...

[2021-05-08 21:25] michoecho commented on #8542
The proposal in https://github.com/scylladb/scylla/pull/8483#issuecomment-829106877 and the surrounding discussion are only tangentially related to this issue. This bug is a programmer error, not a bad heuristic, and the fix is simple, see #8611. But the discussion was needed to confirm what we expect from reclaim.

As for https://github.com/scylladb/scylla/pull/8483#issuecomment-829106877, it's n

[2021-05-08 22:18] dekimir commented on #8604
I can reproduce it in dev mode, but in debug mode the query succeeds. :thinking:

[2021-05-08 22:26] dekimir commented on #8604
It only happens when the value inserted is `uuid()`:
[code]

[2021-05-09 04:38] bhalevy commented on #8609
Decoded:
[code]

[2021-05-09 05:54] bhalevy commented on #8609
reproduced with branch-4.5 e36e49046 but not with branch-4.4 065111b42

[2021-05-09 10:01] avikivity commented on #8600
Using memtables for virtual readers is much more tractable.

[2021-05-09 11:05] #8573 closed

[2021-05-09 11:10] bhalevy opened #8612 "repair_while_table_is_dropped_test dtest fails"
Regression started in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/805/testReport/repair_additional_test/RepairAdditionalTest/repair_while_table_is_dropped_test/
Scylla version df65d09e089c218bb8b1f53bb18bab38753fb471
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/805/artifact/logs-all.release.2/1620176327164_repair_additional_t

[2021-05-09 11:48] bhalevy commented on #8599
Duplicate of https://github.com/scylladb/scylla/issues/8573

[2021-05-09 11:48] #8599 closed

[2021-05-09 11:54] nyh commented on #8600
Incredibly, the more I look into this issue, the more I'm starting to feel like this is indeed the only realistic option, and that the existing IndexInfo implementation needs to be dumped, rather than fixed.

What the existing code does today after I tried to fix it is to take a table with rows that list materialized view names (e.g, `a_index`, `b_index`) and generate a virtual reader which return

[2021-05-09 14:12] nyh commented on #8600
Patch on mailing list, titled "[PATCH] secondary index: fix index name in IndexInfo system table".
It still has the problem described in the previous comment. Fixing this problem will require completely rewriting the virtual table, and if my patch is committed, I'll open a new issue on the need to do this.

[2021-05-09 14:17] bhalevy commented on #8609
Correction: `table::try_flush_memtable_to_sstable` is called after the table is deleted by alternator `executor::delete_table` using `_mm.announce_column_family_drop`

[2021-05-09 16:33] bhalevy commented on #8609
"[PATCH v1 0/2] table: clear: wait on pending flushes" sent to ML.
See https://github.com/bhalevy/scylla/commits/wait-on-memtable-flush

[2021-05-09 17:36] avelanarius commented on #7824
I'm reviving this issue as this week I will probably work on fully correct support for schema changes in scylla-cdc-java.

1. Forbidding renaming columns - so should we go forward with it? It is even not documented on Scylla Docs: [Scylla Docs - Getting started: DDL](https://docs.scylladb.com/getting-started/ddl/).
2. In scylla-cdc-java, our model of CDC schema requires some information from the C

[2021-05-09 21:29] nyh commented on #8605
Would be good to write a cql-pytest test for this and run it against Cassandra as well.
The thing is, the Cassandra documentation https://docs.datastax.com/en/archived/cql/3.1/cql/cql_reference/delete_r.html says that "Use IF EXISTS to make the DELETE fail if there are no rows that match the WHERE conditions.", but it never says that the WHERE conditions must refer to a single row (as your error m

[2021-05-09 21:51] nyh commented on #8598
I want to comment that beyond strings and "unreserved keywords", these propertyValue can actually be any **constant** (which is a type in our parser), which can include all sorts of numbers, durations, etc. We use get_raw_text(). The result (if I understand correctly) is not just that `"null"` and `null` are the same, also (I think) `123` and `"123"` are the same. I think we need to decide whether

[2021-05-10 07:08] bhalevy opened #8613 "phased_barrier move-assignment may leak a gate entry"
utils::phased_barrier holds a `lw_shared_ptr<gate>` that is typically `enter()`ed in `phased_barrier::start()`,
and left when the operation is destroyed in `~operation`.

Currently, the operation move-assign implementation is the default one that just moves the lw_shared gate ptr from the other operation into this one, without calling `_gate->leave()` first.

multishard_mutation_query `read_contex

[2021-05-10 07:10] nyh commented on #8598
If you're worried specifically about null, we didn't have to decide on the syntax `WITH write_timeout = null`. You could also say that `WITH write_timeout = 0` or `WITH write_timeout = infinity` (IIRC, our parser understands `infinity` as an infinite floating point constant) without introducing new syntax conventions.

By the way, I'm curious why we or Cassandra even wanted to allow `unreserved_ke

[2021-05-10 07:17] psarna commented on #8598
Alternatives to `null` were also mentioned, but it ended up with 2 opinions in favor of null (me and https://github.com/scylladb/scylla/pull/7913#discussion_r627398579), and 0 against it. I have no idea when it's actually used... maybe I'll just browse `git blame` from Cassandra to see why the unreserved keywords were allowed as property values in the first place.

[2021-05-10 07:36] psarna commented on #8598
I found the commit which adds unreserved keywords to property values, but it still doesn't answer the question...
[code]
It refers to this issue: https://issues.apache.org/jira/browse/CASSANDRA-4186 , but it doesn't explain why these keywords are needed in property values. I'm hesitant to just blindly remove this line, since I doubt that we have tests which cover 100% of the grammar defined in Cql

[2021-05-10 07:47] yarongilor opened #8615 "c-s failed with NoHostAvailableException after sstables deletion during rebuild_streaming_err nemesis"
scenario:
1) run c-s load of longevity 4 hours.
2) started a nemesis of rebuild_streaming_err on node 1: start by deleting sstable files.
==> all c-s load failed like:
[code]

error scenario summary from log:
[code]

*Installation details*
Kernel version: `5.4.0-1047-aws`
Scylla version (or git commit hash): `2021.1.0-0.20210507.f8bd6dc0d`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with sha

[2021-05-10 07:54] nyh commented on #8598
Interesting! The patch included in that issue (https://issues.apache.org/jira/secure/attachment/12524300/0001-Add-unreserved-words.txt) did NOT add them to the property - just in other more reasonable places (like table names, etc.). As you noted, it was added to properties in a separate followup patch, commit 249456b07dc9b1aa9d3ec97b6383e8d5ce60f94f, but I can't find any explanation *why* this ex

[2021-05-10 08:08] eliransin opened #8616 "gossip: add local application state excess logging"
The function `gossiper::add_local_application_state` has an excess logging which is both, pollutes the log and has
and excess severity. The function logs and error and throws the same error as an exception just to catch it few lines below
and log it as a warning.
I propose to remove the error loging prior to throwing the exception in order to allow future exception propagation if this
is desired.

[2021-05-10 08:12] roydahan commented on #8615
Don't open such issues.

[2021-05-10 08:24] elcallio commented on #8559
Only node 6 is doing replay. That is one with a _lot_ of files (including recycled ones, which seem to indicate we are not filtering correctly). But it takes ~2m:

[code]

At this point, the rest of the cluster seems to have connected with the restarted node again, and everyone is back to doing compaction. Followed by some compaction.

I can't see anything "strange" as such. The node restarts, it

[2021-05-10 08:35] slivne commented on #8559
I guess it may be an issue the shutdown ... that takes long and then systemd kills scylla since we have a timeout of 15 minutes if I recall correctly.

[2021-05-10 08:42] slivne commented on #8570
Cassandra 4.0.0 is not yet out - there is only an rc1 now ... once its out we can revisit this

[2021-05-10 08:51] kostja commented on #8605
Cassandra doesn't allow this.

[2021-05-10 10:32] xemul commented on #8559
@slivne , #8079

[2021-05-10 10:42] elcallio commented on #8559
Sorry, but the hints thing is _before_ node restart (first run shutdown). Replay etc is on the start after.

[2021-05-10 10:43] elcallio commented on #8559
I somewhat misunderstood the issue somewhat. The concern is that the restart _as a whole_ timed out, not the actual node start?

[2021-05-10 10:44] slivne commented on #8559
Yes

And I don;t think the commitlog hard limit is part of 4.3 https://github.com/scylladb/scylla/commit/4082f57edc3e7764e11e9e858a0a8059981c6309

[2021-05-10 10:46] elcallio commented on #8559
I can't really comment on whether added53b7d614280695d5468c08f401d6833cbab fixes this, but it seems likely, if it is a hints hang.

[2021-05-10 10:49] slivne commented on #8559
How the hard limit is not part of 4.3 so why do we need this "soft limit"

On Mon, May 10, 2021 at 1:46 PM Calle Wilund ***@***.***>
wrote:

[2021-05-10 10:51] elcallio commented on #8559
Ugh, not at my best here today. It is not? Then I am confused.

[2021-05-10 11:07] tzach opened #8619 "Add option to restrict Replication Factor"
On a multi-rack deployment (e.g., X nodes per Rack/AZ), it is strongly advised to use a RF to match the number of racks.
In such a case, it will be useful for the system admin, who manages the deployment, to limit the replication strategy and factor to values that make sense, in this case, multiplication of X.

[2021-05-10 11:07] tzach commented on #8619
This is an extension of https://github.com/scylladb/scylla/issues/8586

[2021-05-10 11:10] piodul commented on #8559
If the commitlog didn't enforce a hard space limit in 4.3.3, then the patch which makes it soft for hints again won't help.

Maybe it's https://github.com/scylladb/scylla/issues/8577? It also had an ENOSPC nemesis. @bhalevy saw that commitlog shutdown might get stuck if an I/O error happens and sent a PR which should help with it (https://github.com/scylladb/scylla/pull/8578).

Looking at the logs

[2021-05-10 11:11] elcallio commented on #8559
One hints manager on shard 9 had a `no space left on device`. Possibly during a hints drain, which is includes a commitlog shutdown call. If the exception was hit here, it is possible this is hitting the problem @bhalevy addressed in #8578.

[2021-05-10 11:11] elcallio commented on #8559
@piodul - samesis!

[2021-05-10 11:19] zaddok commented on #2962
I saw the tag for 4.5 and downloaded the 4.5 nightly via docker, to check if this made it into 4.5. It looks like it didn't, is that correct? (Not complaining, just excited to start using scylladb, and I index sets quite a lot)

[2021-05-10 11:34] bhalevy commented on #4998
Cc @cmm

[2021-05-10 13:01] psarna opened #8620 "Creating a table which looks like a secondary index breaks the secondary idnex creation mechanism"
When testing an unrelated change, I came across a way to ;eave the secondary index creation mechanism in Scylla in a broken state.

Reproducer:
[code]

The snippet exploits the fact that the internal table created for the secondary index is named after a pattern - in this case, an index on `t(v)` is going to be named `t_v_idx`, and its table is going to be `t_v_idx_index`.

Since we happened to cr

[2021-05-10 13:14] psarna commented on #8620
edit: It's even worse when the fake table contains column names not found in the base table. It returns an ugly internal error with a backtrace. A new reproducer:
[code]
And here's the ugly result:
[code]

[2021-05-10 13:34] vladzcloudius commented on #7312
@bhalevy Please, consider bringing the "showstopper" tag back. This is critical that this issue is fixed/backported ASAP.

Replacing the node by itself is one of the very frequent maintenance operations: when the node looses the disk, disk gets replaced and then the node boots back up "replacing itself".

@slivne FYI. Please, consider prioritizing this high(er).

[2021-05-10 13:34] vladzcloudius commented on #7312
@eliransin @amihayday FYI

[2021-05-10 13:36] vladzcloudius commented on #8013
@asias We need this issue to be fixed with the 4.0 code base which doesn't have repair-based ops.

@slivne @eliransin @amihayday FYI

[2021-05-10 14:32] nyh opened #8623 "IndexInfo virtual system table lists indexes in subtly incorrect order"
In commit 3e39985c7a6742c8b602c10d9d58e36c188bd91f we first added an implementation of Cassandra's `IndexInfo`. This system table lists the already-built secondary-indexes, and applications can use it to determine when a new index created by `CREATE INDEX` has been built. Our implementation used a virtual reader on top of the real table listing the built _materialized views_.

In #8600 we discover

[2021-05-10 14:58] piodul opened #8624 "Hints are not isolated wrt. disk IO from regular writes on the receiver side"
## Context and the problem

Hinted handoff reuse the storage_proxy logic for sending hints - the node sending hints acts as a coordinator, and the receiving node acts as a replica.

In the past, hints used to share the same verb in RPC as regular writes (`MUTATION`) which made it easy for hints to overwhelm the connection. They were also handled on the same CPU scheduling group ("statement"), whic

[2021-05-10 15:18] tgrabiec opened #8625 "Overlapping range tombstones can lead to very slow reads and OOMs"
When compacting a mutation fragment stream (e.g. for sstable compaction, data query, repair), the compactor needs to accumulate range tombstones which are relevant for the yet-to-be-processed range. See `range_tombstone_accumulator`.

When encountering a new mutation fragment, irrelevant range tombstones are dropped. This operation needs to compute the current range tombstone, which is currently O

[2021-05-10 15:19] tgrabiec opened #8626 "Reads of many rows covered by a single range tombstone which go through row cache are very slow"
Row cache reader can produce overlapping range tombstones in the mutation fragment stream even if there is only a single range tombstone in sstables, due to scylladb/scylla#2581. For every range between two rows, the row cache reader queries for tombstones relevant for that range. The result of the query is trimmed to the current position of the reader (=position of the previous row) to satisfy ke

[2021-05-10 15:37] avikivity commented on #8625
I'm in favor of B. mc+ is unconditional already (57c7964d6ca), so we can drop the ka/la writer.

[2021-05-10 15:38] kbr- commented on #8555
@asias did you find any time to work on this? If not, I can do it.

[2021-05-10 15:38] avikivity commented on #8624
TCP already batches, and seastar does some extra batching on top.

[2021-05-10 15:39] avikivity commented on #8624
Not each hint; when A replays its hints to B, it asks for a memtable flush before deleting the hint log.

[2021-05-10 15:39] haaawk commented on #8625
I'm working on it -> https://github.com/scylladb/scylla/issues/8352. I have a patch ready just need to fix gazillion tests that fail after switching them from LA to MC.

[2021-05-10 16:41] piodul commented on #8624
I think the goal of reducing the concurrency is to make this process actually less efficient. Scylla is too eager to receive hints, which results in a higher I/O load and worse latencies for other writes. Note that for each concurrent hint there is a cost of the round-trip latency. If we decrease concurrency, then this cost is more visible. At least, that is how I understand this idea, @avikivity?

[2021-05-10 16:51] avikivity commented on #8624
It's not really the goal to reduce efficiency (the goal is to reduce throughput, efficiency loss is a negative side effect).

The root cause is that we don't have performance isolation between hints and the user workload, and they fight over CPU and I/O. We do have isolation on the sender side, but not on the receiving side. Because hints have high concurrency and low latency compared to c-s (they

[2021-05-10 16:53] avikivity commented on #8624
A memtable flush takes some CPU and I/O, but it does not overwhelm user read/write, since it is controlled by a scheduling group.

[2021-05-10 18:51] nyh opened #8627 "Cleanly reject updates with indexed values where value > 64k"
In Cassandra and Scylla, keys lengths are limited to 64KB. Because an indexed (with secondary-index) column is used as a key (in Scylla's implementation - of a materialized view), it mustn't contain a value larger than 64KB.  Scylla should reject such an update with a clear error message returned to the client.

But currently, trying such an oversized update results in a generic quorum failure (ze

[2021-05-10 18:55] vladzcloudius commented on #8624
I believe that reducing the concurrency as-is is the easiest thing to do but it's unlikely going to deliver the reliable solution for the problem.

And the reason is that today it's the sender that controls the concurrency.
However the one that is going to be choked is the receiver. So, even if we allow only a single outstanding hint per-shard a single receiver shard could possibly get <nr_shards>

[2021-05-10 19:12] nyh commented on #8627
Note that it is likely we have a similar bug with materialized views themselves, so we should write a test for that as well (unless Cassandra already has one for us :-)) and fix it (it is possible that the same fix will fix both MV and SI).

[2021-05-10 23:55] asias commented on #8555
I was waiting for "token_metadata: Fix get_all_endpoints to return nodes in the ring" series to be merged. Kamil, please go ahead and take over this.

[2021-05-11 01:48] asias commented on #8013
See https://github.com/scylladb/scylla/pull/8614

[2021-05-11 01:57] yangly0815 opened #8628 "nodetool info error for getting "percent repair""
When I execute nodetool info, I got an error as follows:
[code]
But when I execute another env that the scylla version is the same, it work correctly.

[2021-05-11 05:29] bhalevy opened #8629 "null pointer deref during simple_decommission_node_while_query_info_2_test dtest"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-parallel/42/artifact/logs-full.debug.074/1620536387094_update_cluster_layout_tests.TestUpdateClusterLayout.simple_decommission_node_while_query_info_2_test/node1.log
[code]

Decoded:
[code]

[2021-05-11 06:36] nyh commented on #8628
@amnonh @asias any ideas?

[2021-05-11 07:24] bhalevy commented on #8612
I guess this was triggered by 6ffd813b7ba555a972b12b03cb8f7cca2b2f49f9 (Merge 'hints: delay repair until hints are replayed' from Piotr Dulikowski)
@piodul please look into this issue.

[2021-05-11 07:32] bhalevy commented on #8510
Seems like a non-issue to me.
Why is repair expected to fail when it can't communicate to all nodes?

[2021-05-11 07:38] asias commented on #8498
Good to hear. I am closing this issue since we have a fix in the master. @glbsn thanks for reporting.

[2021-05-11 07:38] #8498 closed

[2021-05-11 07:43] avikivity commented on #8624
You're right that limiting on the sender is not going to help on large clusters. But limiting on the receiver is problematic too, because the latency on the receiver is tiny (when commitlog is in periodic mode). Throughput = concurrency / latency, so even with small concurrency throughput will be high.

Let's start with reducing concurrency on the sender, it will help smaller clusters, then bypass

[2021-05-11 07:52] eliransin commented on #8594
This is great. I hope we have a coredump :smiley:

[2021-05-11 07:56] amnonh commented on #8628
I'm cc @elcallio the error is from the Java-JMX, it means that for some reason, the nodetool does connect to Scylla-JMX but is looking for an object that is not found.
The relevant object (https://github.com/scylladb/scylla-jmx/blob/a7c4c39dd0a06afd20238175d23fd2ddaffd475c/src/main/java/org/apache/cassandra/metrics/TableMetrics.java#L297) have been there for a few years.

It's worth looking for er

[2021-05-11 08:12] nyh opened #8631 "Create a simple Scylla troubleshooting tool"
We have issues like #8586 (forbid SimpleStrategy in CREATE KEYSPACE) where we suggest that certain operations or options often cause problems in real deployment where they are used unintentionally. There are also certain data modeling mistakes - such as ending up with large rows, extremely large partitions, tons of tombstones, and so on - which users might not be aware of but are hurting their wor

[2021-05-11 08:48] yarongilor commented on #8601
@psarna , the test is now rerunning and has slow query traces enabled. please be welcome to look at it.
nodes traces status is:
[code]
![Screenshot from 2021-05-11 11-46-58](https://user-images.githubusercontent.com/9427929/117787129-d5420900-b24e-11eb-9709-765cc403b179.png)

[2021-05-11 09:29] avikivity commented on #8601
The timeout is refreshed each time a new page is generated, so it doesn't apply to a full scan (just to individual pages with a scan).

[2021-05-11 09:33] rajeshahuja-bsft opened #8633 "Description in scylla-fstrim.timer is incorrect"
*Installation details*
Scylla version (or git commit hash): 2020.1.7-0.20210304.e42189e09
Cluster size: 18
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04

The description inside Unit section says timer is executed daily.
Ref: https://github.com/scylladb/scylla/blob/121eb32679a2c8850cfec057dad9c81171adcb93/dist/common/systemd/scylla-fstrim.timer
However the actual timer is set to run it weekly every

[2021-05-11 09:50] juliayakovlev commented on #8510
It's not clear why the communication between nodes is lost

[2021-05-11 13:16] psarna commented on #8601
@yarongilor It can be terminated now, Avi found out the cause - the timeout applies to fetching individual pages, so that's why the whole operation may take much longer time than the timeout declared with `USING TIMEOUT`

[2021-05-11 15:01] bhalevy commented on #8510
So clarify it in the issue title. It's quite misleading as it is.
Something like: "Connection between nodes lost after node restart, causing repair failure"

[2021-05-11 15:33] bhalevy opened #8636 "exception phased_barrier::advance_and_await is not handled"
Currently, phased_barrier::advance_and_await may throw, e.g. bad_alloc from `make_lw_shared<gate>()`.
Although it's returning a future, the exception is propagated rather than being returned as an exception future.

This exception is not handled and may cause several issue, for example:

1. in `table::await_pending_ops`:
https://github.com/scylladb/scylla/blob/84808399327c595ec7aa1cb7a7956d181baf9

[2021-05-11 19:49] #8534 closed

[2021-05-11 19:49] #8610 closed, assigned to nobody

[2021-05-11 19:49] #8600 closed

[2021-05-11 19:49] #8613 closed

[2021-05-11 20:38] nyh opened #8638 "Switch tests from SimpleStrategy to NetworkTopologyStrategy"
We have more than a hundred uses of the `SimpleStrategy` replication strategy in Scylla's unit tests of different types and almost two hundred more in dtests. I am proposing that we convert almost all of these uses to `NetworkTopologyStrategy` instead - with the possible (?) exception of tests specifically designed to test `SimpleStrategy` itself.

The motivation for proposing this change is two-f

[2021-05-11 20:40] vladzcloudius opened #8639 "Use LCS as a default compaction strategy for MVs"
*Installation details*
HEAD: 84808399327c595ec7aa1cb7a7956d181baf9284

*Description*
Today we will always create an MV with a STCS (apparently we use regular tables' default).

However MV's updates are a read -> delete -> insert sequence.
Therefore it's sstables are always going to have a lot of tombstones and STCS is very bad for this kind of workload because it's terrible in getting rid of delet

[2021-05-11 20:41] vladzcloudius commented on #8639
@nyh @psarna @raphaelsc Please, comment.

[2021-05-11 22:25] dekimir commented on #8604
I believe this is the std::get that throws, based on asserts I've sprinkled around:
https://github.com/scylladb/scylla/blob/cee4c075d24129788dacb75f9868f1e2a16b02ae/transport/server.cc#L836

[2021-05-11 22:40] zooptwopointone commented on #8071
I really would like some help on this. as it has been quite a while now.  I have upgrade the cluster it is running a 4.3 version.  if I allow the auto compaction of this table it just crashes the server.  If I run a manual compaction it tries to compact all partitions or maybe all shards at the same time causing more problems.    I can provide stables files or whatever you need, but I would think

[2021-05-11 22:41] zooptwopointone commented on #8071
Cluster is now running Scylla version 4.3.2-0.20210301.5cdc1fa66 with build-id 3a7f9a6b65ec73bba0a38f3f349a91c49129c598 starting ...

[2021-05-11 22:42] zooptwopointone commented on #8058
Cluster has been updated to Scylla version 4.3.2-0.20210301.5cdc1fa66 with build-id 3a7f9a6b65ec73bba0a38f3f349a91c49129c598
Still no change

[2021-05-11 22:45] zooptwopointone commented on #8022
Please let me know if there is something I an provide to help this along.

[2021-05-11 23:09] raphaelsc commented on #8071
I think you may be affected by a known bug where OOM happens if sstable parser bumps into a large run of tombstones.

Could you please run the following script of mine against the table which cause this issue?
find it here: https://gist.githubusercontent.com/raphaelsc/eaf0ae9352a362df91d1c82f1fff3579/raw/a875ab33d7d6b8ca2341810d2b4a36808da973da/describe_sstable_layout.py

`usage: descript_sstable_

[2021-05-11 23:29] dekimir commented on #8604
@gleb-cloudius looks like you added the "has to be foreign ptr" comment; would you mind taking a look at this?

[2021-05-12 02:04] asias opened #8640 "frozen_mutation_fragment is not memory efficient"
The mutation_fragment is serialized into frozen_mutation_fragment before it is exchanged between nodes over network. frozen_mutation_fragment is used by streaming and repair. frozen_mutation_fragment uses bytes_ostream to store data which is not very efficient.

We saw significant memory allocation bloat.  Here below is an example.

[code]

[2021-05-12 02:26] asias opened #8641 "repair: Consider memory bloat when calculate repair parallelism"
The repair parallelism is calculated by the number of memory allocated to
repair and memory usage per repair instance. Currently, it does not
consider memory bloat issues (e.g., issue #8640) which cause repair to
use more memory and cause std::bad_alloc.

Be more conservative when calculating the parallelism to avoid repair
using too much memory.

[2021-05-12 02:58] vladzcloudius commented on #8624
Right.
BTW, @asias suggested to use streaming for sending hints which will bypass memtables and will write directly into sstables. It may be worth taking a look at this idea...

The on-disk data will be updated by compactions if you meant the reconciliation above.

[2021-05-12 07:55] nyh commented on #8639
@vladzcloudius you are correct that **after** gc_grace_seconds STCS finds it more difficult to get rid of tombstones. I was talking about what happens before that period, but you're right that in a setup running for months, it's probably more important what happens in the long run.

@vladzcloudius the problem with your suggestion is that making LCS the recommended (or even default) compaction stra

[2021-05-12 09:13] #8636 closed

[2021-05-12 10:18] gleb-cloudius commented on #8604
First of all I can confirm that this is the `get` that throws. But then things looks bad. The logic here is that we have a function that can either return a result or a shard number the query should be processed on (based on the taken). If a shard number is returned the code jump to that shard and expect result to be returned this time, but instead we again getting redirected to a different shard.

[2021-05-12 10:22] robertczupiol opened #8642 "Docker Image doesn't work on Mac M1 architecture"
For development part it's a critical mission to start local Scylla cluster on developers Mac (for example - local integration tests).

Command:
[code]

Scylla didn't get up:
[code]

journalctl and /var/log/scylla are empty

[2021-05-12 11:12] piodul commented on #8624
As @avikivity  pointed out, we need to organize the data from hints segments first before we can persist them as sstables. Although we could sort them on the sender and then transfer to the destination, I'm worried it may create lots of small memtables if a segment contains mutations from a large number of tables. This probably could be mitigated by aggregating mutations from multiple hints segmen

[2021-05-12 13:25] psarna opened #8648 "Scylla unconditionally waits 15 seconds for auth to be initialized, which is wasteful"
When authentication is enabled (e.g. by passing a `--authenticator PasswordAuthenticator` parameter to Scylla on boot), Scylla unconditionally waits 15 seconds before trying to set up internal tables for the authentication module. The original delay was implemented following Cassandra (as its commit message states). Later, this logic was extended by adding a retry mechanism, which actually depreca

[2021-05-12 13:40] gleb-cloudius commented on #8604
The problem is that the cql statement is not deterministic and will produce different pk each time it is evaluated. It means after re-executing the statement on the destination shard we may get different pk and request to bonce the request to another shard again.
I honestly do not see any easy solution to that, if at all (short of trying to execute the statement in a loop on the same shard hoping

[2021-05-12 13:47] kostja commented on #8604
If we execute such statements on this shard in a loop we will have uneven data distribution across shard. We may want to execute the statement on destination shard in a loop. But that may have unpredictable performance implication, including performance dropping to 1/(n_shards) of the normal one, since it will take n_shards attempts on average to re-generate a new random value that falls on the sa

[2021-05-12 13:49] kostja commented on #8604
We could assign each non-deterministic function used in a partition key a dedicated  slot in client_info, addressed by an integer. Then, any such function would have to fill that slot when invoked, and use that slot if it's not empty.

[2021-05-12 13:50] kostja commented on #8604
That would require mark-up of the expression tree during semantic analysis pass, which we're lacking (both the pass and the markup).

[2021-05-12 13:50] gleb-cloudius commented on #8604
That what I meant, and yes, this is not the brightest idea.

[2021-05-12 14:33] dekimir commented on #8604
Why must we evaluate the function multiple times?  Shouldn't we be able to evaluate it once at the beginning and rewrite the term with the evaluation result?

[2021-05-12 14:43] gleb-cloudius commented on #8604
We need to pass the evaluation result for processing to a different shard and the current prepared statement is not suitable for that.

[2021-05-12 14:47] psarna commented on #8601
To clarify - this behavior is not a Scylla bug, it's how timeouts work: the test performs a paged full scan, and uses a timeout parameter which applies to fetching a single page. The timeout is per-query, and a single query fetches a single page of results. Here's the place in SCT code which makes this query paged:
https://github.com/scylladb/scylla-cluster-tests/blob/9d02b357cc82b6a2bc20b65e3b5a8

[2021-05-12 15:02] kostja commented on #8604
Each shard has an own copy of the prepared statement to begin with. It would be a bad idea to rewrite the parsed tree during execution. But if we assign slots during semantical analysis in a deterministic way, it is a possible way to "share" evaluation results via client_info.

[2021-05-12 15:11] dekimir commented on #8604
I'll keep this in mind as I evolve the AST.  One of the goals is certainly to make it easier to share AST across shards.

[2021-05-12 15:14] gleb-cloudius commented on #8604
That was always the right way to do what the hack we have now tries to do. The question is how we fix what we have now.

[2021-05-12 15:29] avelanarius commented on #7748
I ran `cassandra-stress` (with my modified shard-aware driven) locally with large number of threads. I saw `BusyPoolException`s, but my logging does not indicate that some shard is exhausted. Looking at `borrowConnection`, in my local scenario (after `BusyPoolException`s appeared):

1. 20% of `borrowConnection` invocations end here: https://github.com/scylladb/java-driver/blob/3.7.1-scylla/driver-

[2021-05-12 15:38] vladzcloudius commented on #8639
@nyh
I don't have benchmark results.
But we do have at least one user that switched to LCS for MVs recently and so far they haven't seen issues.

More will follow I believe.

There are other accounts that run periodic majors on MVs and this is obviously a more time consuming option.

The idea of switching to LCS is to not have to run majors at all.

That's a very good question. If MV deletes are e

[2021-05-12 15:43] dekimir commented on #8604
That would depend on how urgent this is.  Can it wait until the AST evolves sufficiently?

[2021-05-12 15:45] vladzcloudius commented on #8639
There are multiple "tombstones problems" when we talk about MVs and I agree that the main is that there are too many tombstones in the MV to begin with ;)
And you are right that LCS is not going to resolve that one.

However LCS is definitely a much better default choice than STCS.
And you are right that in a heavy-write-to-the-base case the disk can choke on the write amplification LCS is going t

[2021-05-12 15:47] dekimir commented on #8604
I bet fixing #7216 would make the right solution possible.  Maybe I should give it top priority?

[2021-05-12 16:21] avelanarius commented on #7748
Nevermind, I can reproduce this locally (meaning shard-aware `cassandra-stress` with 1000 threads throws `BusyPoolException`, while non-shard-aware with the same 1000 threads does not throw `BusyPoolException`).

[2021-05-12 17:23] gleb-cloudius commented on #8604
@kostja who can decide about priority of this bug. How common is the usage of uuid() timeuuid() functions like this? Workaround seams simple - generate uuid on a client.

[2021-05-12 17:37] kostja commented on #8604
Affected built-in functions:
[code]

[2021-05-12 18:35] vladzcloudius commented on #8624
So called "new streaming" already takes care of that, @piodul. And it bypasses memtables and writes directly into sstables.

@asias Are there any pre-conditions for using it with hints? How the sorting part is resolved there?
Is the sender responsible to send data in the proper order?
How did we use it in the repair context? Did we use it in the repair context at all?

[2021-05-12 19:30] tgrabiec commented on #2109
Another thing we could do is to make schema propagation two-phase. Each table will now have two schema versions: replica-side schema and coordinator-side schema. The coordinator-side schema lags behind the replica-side schema.

Schema tables reflect the replica-side schema. On boot, coordinator-side schema is set to replica-side schema.

coordinator-side schema is used by the CQL layer. Replica-si

[2021-05-13 01:23] asias opened #8651 "Abort restore_replica_count when node is removed from the cluster"
Consider the following procedure:
[code]
 Node n1 will set n3 to removing gossip status during removenode
 operation. Whenever existing nodes learn a node is in removing gossip
 status, they will call restore_replica_count to stream data from other
 nodes for the ranges n3 loses if n3 was removed from the cluster. If
 the streaming fails, the streaming will sleep and retry. The current
 max number

[2021-05-13 05:05] #8626 closed

[2021-05-13 05:05] #8616 closed

[2021-05-13 06:58] tzach commented on #8631
@nyh this seems similar to exiting node_health_check script, maybe we can enhance it
See also #4378

The tool can also include a self reporting feature, opening a Scylla issue and update relevant info in it

[2021-05-13 07:01] amnonh commented on #8631
And has similiar functionality to the Advisor,
You can create Advisor specific issues here:
https://github.com/scylladb/scylla-monitoring/issues/new?assignees=&labels=advisor&template=50-advisor-issue.md

[2021-05-13 07:44] gleb-cloudius commented on #8604
I do not think client_info is a good place. It is per connection, not per query. May be put it into query options.

[2021-05-13 09:08] avikivity commented on #1459
Note that fsyncs should be quite fast on enterprise disks.

[2021-05-13 09:31] avikivity commented on #2109
To avoid on-disk changes, perhaps something like this:

1. DDL coordinator: fellow coordinators, keep using schema version v1 for the next five seconds, or until I tell you
2. other coordinators: take a 5-second lock around source of schema used for coordinator
3. other coordinators: okay
4. DDL coordinator: perform schema change
5. DDL coordinator: wait for propagation
6. DDL coordinator: fellow

[2021-05-13 09:37] bentsi commented on #8032
@tzach @slivne this is blocking us to test Scylla Operator with Scylla versions 4.3 and above on GKE

[2021-05-13 09:50] tgrabiec commented on #2109
This is very similar to this proposal: https://github.com/scylladb/scylla/issues/2109#issuecomment-840041635

[2021-05-13 09:57] avikivity commented on #2109
Yes, my goal was to propose how to do it without having two schema versions on disk.

[2021-05-13 10:01] avelanarius commented on #7748
Some additional statistics:

Tested `cassandra-stress` with both non-shard-aware driver and shard-aware driver (3.7.1 and 3.7.1 with Scylla additions). Hardcoded the number of connections to be the same between those two drivers (and my instrumentation below confirms it). Ran `cassandra-stress` with exactly the same parameters.

Previously I said that no shard was overloaded/exhausted when using s

[2021-05-13 10:21] tgrabiec commented on #2109
On Thu, May 13, 2021 at 11:57 AM Avi Kivity ***@***.***>
wrote:

I did not intend to have two schema versions on disk. Only replica-side
schema would be on disk.

[2021-05-13 11:11] bhalevy commented on #251
Closing this issue with https://github.com/scylladb/scylla/pull/8630

[2021-05-13 11:11] #251 closed

[2021-05-13 15:16] avikivity commented on #8624
We already sort hints on the receiver, using normal memtables. Moving them out of normal memtables and into streaming memtables would let us do the sorting under the streaming scheduling group instead of competing with normal writes.

We an use rpc streaming for that. Open a stream, send hints, close the stream. The close completes when the receiver persisted everything. It could even delay the fl

[2021-05-13 15:57] haaawk commented on #7748
Here's what's happening: Cassandra stress is stupid and sets max pending requests for each connection to 128 even tough a default for V3 and higher is 1024. This can fortunately be changed by adding `maxPending=1024` to the cassandra stress command. @ShlomiBalalis could you please add such option in the loaders and check if it helps?

We probably should change the default in our cassandra stress t

[2021-05-13 16:56] avelanarius commented on #7748
But to be fair - `cassandra-stress` with non-shard-aware driver was running fine with the same settings (128 requests in-flight).

### More in-depth analysis of what was happening

In non-shard-aware `cassandra-stress`, it creates 8 connections per host. In shard-aware `cassandra-stress` it creates 1 connection per shard. In my tests, I manually hardcoded number of connections in non-shard-aware `

[2021-05-13 20:05] Phara0h opened #8654 "Update requires all clustering keys to update"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.3
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

In your tests (https://github.com/scylladb/scylla/blob/68f69671b5cec493b6f7656919ab2d39fde606da/test/cql/cassandra_cql_test.result#L1365) and other documentation, you have examples of

[2021-05-13 20:07] dekimir commented on #8654
@Phara0h Can you please share what you mean by "seems not to be working"?  Are you getting an error message?

[2021-05-13 20:09] Phara0h commented on #8654
Yes error message on everyone

### by index

[code]

### by full partition
[code]

[2021-05-13 20:29] dekimir commented on #8654
Note that the test you quote updates a _static_ column, while your examples attempt to update a regular column.  The LWT documentation states:

[2021-05-13 20:34] dekimir commented on #8654
Thinking about it more, this isn't related to LWT.  Even regular updates can specify only the partition key when they're updating static columns.  That's because static column have only one value per partition, shared across all the rows in that partition.

[2021-05-14 04:33] asias commented on #8013
2020.1 (4.0 based) is not affected because the replacing node takes write is not present there.

We only need to backport to 2021.1 branch (4.3 based).

storage_service: Delay update pending ranges for replacing node  (PR 8614)
gossip: Add helper to wait for a node to be up
gossip: Allow deferring advertise of local node to be up

[2021-05-14 05:13] kylerchin commented on #5638
It is still broken

[2021-05-14 05:14] kylerchin commented on #8458
please help i don't understand why i'm bugging out like this
![image](https://user-images.githubusercontent.com/7539174/118224687-86f05e00-b438-11eb-9d93-f3adcb35fa40.png)
![Screenshot from 2021-05-13 21-50-39](https://user-images.githubusercontent.com/7539174/118224726-966fa700-b438-11eb-9f51-a09b64868710.png)

[2021-05-14 10:36] chinese20201103 commented on #8451
future<>
reactor::init_new_scheduling_group_key(scheduling_group_key key, scheduling_group_key_config cfg) {
    auto& sg_data = _scheduling_group_specific_data;
    sg_data.scheduling_group_key_configs.resize(std::max<size_t>(sg_data.scheduling_group_key_configs.size(), key.id() + 1));
    sg_data.scheduling_group_key_configs[key.id()] = cfg;
/*	printf("_task_queues.size() %lu\n", _task_queues.si

[2021-05-14 16:01] Phara0h commented on #8654
Can change this to a feature request then please since update should work exactly the same way as to select and delete does.

[2021-05-14 16:16] Phara0h commented on #8654
Seems it would be a rather easy fix. https://github.com/scylladb/scylla/blob/f186de909d461003e83ce24f256c2fb6884b6004/cql3/statements/update_statement.cc#L115

[2021-05-14 16:33] Phara0h commented on #8654
@dekimir Seems to also be only in here because of thrift and even in the comment above the only line that uses it says it should not be in here. https://github.com/scylladb/scylla/blob/7d2df8a9bc282f084eaae22497288c39316b6075/cql3/statements/modification_statement.cc#L433

[2021-05-14 16:51] michoecho commented on #8507
Detailed explanation:

The relevant difference between the schema made with `schema_builder` and schema made just with `make_shared_schema` (which uses the deprecated constructor) is that `schema_builder` sets the version:

https://github.com/scylladb/scylla/blob/68f69671b5cec493b6f7656919ab2d39fde606da/schema.cc#L1189-L1193

When mc reader constructs a `column_translation`...
https://github.com/s

[2021-05-14 16:55] dekimir commented on #8654
Not quite the same way, as update has the `SET` part.  What happens if the statement tries to `SET` a clustering column in this scenario?

[2021-05-14 18:45] vladzcloudius commented on #8013
This is even worse, @asias. We need this patch in 2020.1. More precisely, we need the replacing node to take writes.

[2021-05-14 19:35] Phara0h commented on #8654
So for this example state is  a  clustering key

| lastname | firstname | id | state | city | age |
|----------|-----------|----|-------|------|-----|
| SMITH    | JOHN      | 1  | CA    | a    | 12  |
| SMITH    | JOHN      | 2  | MI    | b    | 13  |
| SMITH    | JOHN      | 3  | FL    | c    | 14  |

[code]

| lastname | firstname | id | state | city | age |
|----------|-----------|----|-------

[2021-05-14 19:53] zooptwopointone commented on #8071
--- SHARD #0 ---
[Run 1629847460834668108110966181638552143826: size: 54.1GiB, partitions: 392833345 rows: 386598614, tombstones: 6239318
	{ md-118824-big-Scylla.db: size: 54.1GiB, partitions: 392833345, rows: 386598614, tombstones: 6239318 }
]
[Run 1290312017309147348211643449084511099976: size: 10.2GiB, partitions: 73624891 rows: 73542155, tombstones: 83714
	{ md-122432-big-Scylla.db: size: 10.2

[2021-05-14 19:57] zooptwopointone commented on #8071
The delete statement is just a standard delete on the partition key.  as the fill primary key is the partition key

[2021-05-14 19:58] zooptwopointone commented on #8071
Also FYI I have not deleted all the data I need to delete.  probably 20% or so might have been deleted.

[2021-05-14 20:21] raphaelsc commented on #8071
This is very likely an OOM bug (already fixed in master) when processing a large run of partition tombstones inside the input sstables in compaction.

[2021-05-14 20:25] raphaelsc commented on #8071
Sending a patch to fix the bug in older branches...

[2021-05-14 21:58] STRATZ-Ken commented on #7738
I second this, I have been down for about 24 hours, and expect an outage of about 4 days while the data reshapes. :(

[2021-05-15 00:32] dekimir commented on #8654
This question is actually irrelevant; SET rejects any primary-key columns:
https://github.com/scylladb/scylla/blob/68f69671b5cec493b6f7656919ab2d39fde606da/cql3/statements/update_statement.cc#L398-L400

And that's a good thing, since otherwise you could make a row's primary key equal to some other row's primary key, which violates basic assumptions.  If we keep that restriction, I think this is a

[2021-05-15 01:21] raphaelsc opened #8657 "Exceptions in resharding and reshaping are being incorrectly swallowed"
Scylla version (or git commit hash): 68f69671b5cec493b
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

With exceptions being swallowed, it could happen that a failure is interpreted as success in the upper layer. In resharding for example, shared sstables could be propagated to table which would lead to an abort as table no longer accept shared sst.

[2021-05-15 05:42] penberg opened #8658 "DSE CQL wire protocol version compatibility"
Some drivers default to DSE CQL protocol version, which causes Scylla to print out scary-looking errors, which makes people think the driver does not work:

[code]

Let's special case this somehow or add support for DSE protocol version.

[2021-05-15 17:10] slivne commented on #8658
We should not add DSE protocol; they have extensions for proprietary
interfaces (Graph) they have added.

The drivers are supposed to default back to the standard protocol based on
what we return them (the same that cassandra 3.11.X would return).

So the solution is to check

What happens for this driver with Cassandra 3.11 vs Scylla and then figure
out why the driver thinks it can use the incorr

[2021-05-16 10:45] avikivity commented on #8658
I imagine it just tries the DSE protocol and falls back to the standard protocol if it fails.

Probably you get the same error with Cassandra. So the driver should be fixed not to emit those scary warnings.

[2021-05-16 11:41] avikivity commented on #8507
So what's the conclusion? False positive due to using the wrong schema?

@haaawk how about using the new schema builder (and dropping the deprecated constructor)?

[2021-05-16 16:21] #8641 closed

[2021-05-16 16:21] #8648 closed

[2021-05-16 16:22] #8013 closed

[2021-05-16 16:22] #8633 closed

[2021-05-17 02:52] asias commented on #8013
Making replacing node take writes is a major feature not a bug fix. I do not think we should backport the whole thing to 2020.1 branch.

[2021-05-17 05:42] haaawk commented on #8507
@avikivity yes - I think we should just replace all instances of the deprecated constructor with the schema_builder.

[2021-05-17 07:01] Felix-zhoux opened #8661 "seastar_memory - oversized allocation: 1564672 bytes in alternator, while preparing a response"
*Installation details*
Scylla version (or git commit hash): 4.4.1

I found the following error in the scylla log:
[code]

decoded log
[code]

[2021-05-17 07:08] penberg commented on #8658
@avikivity Yes, this is what the driver does:

https://github.com/datastax/nodejs-driver/blob/master/lib/connection.js#L238

I am now unsure _where_ this error is being displayed. I see no indication that it would end up in the driver logs. I pinged the person who reported this issue on the users mailing list for more information.

[2021-05-17 10:40] syuu1228 commented on #8480
@amoskong It is a bug, but there is no option `--nonroot` for uninstall.sh, installation mode is auto-detect.

[2021-05-17 10:49] amoskong commented on #8480
Ok, I will remove the option.

[2021-05-17 11:46] syuu1228 opened #8663 "nonroot installation broken at 4.5.rc1"
Tested with scylla-unified-package-4.5.rc1.0.20210418.4a78d6403.tar.gz on Vagrant CentOS7 VM,

It seems like install command did not create target directory:
[code]
Once created ~/.config/systemd/user, install failed on next directory:
[code]

I guess recent changes causing install command behavior, or we mistakenly changed option to pass install command.

[2021-05-17 12:05] syuu1228 commented on #8663
Ah, this is happens because we have added scylla-node-exporter top of the install script, but haven't moved `install -d -m755 "$rsystemd"` and `install -d -m755 "$rsysconfdir"`.
So probably the bug introduced at https://github.com/scylladb/scylla/commit/95197a09c91eb719c252abed847b8c035f5f9600, may affect Scylla 4.4, 4.5 and master.

[2021-05-17 12:13] syuu1228 commented on #8663
Verified the bug caused on Scylla 4.4.1:
``
[vagrant@localhost ~]$ cd unified/
[vagrant@localhost unified]$ tar xpf ~/scylla-unified-package-4.4.1.0.20210406.00da6b5e9.tar.gz
[vagrant@localhost unified]$ ./install.sh --nonroot
install: failed to access ‘/home/vagrant/.config/systemd/user’: No such file or directory
[code]

[2021-05-17 12:26] syuu1228 commented on #8663
@amoskong I think you added unified installer testcase, did it happen on the test?

[2021-05-17 12:28] syuu1228 commented on #8663
Ah, testing on CentOS7 was incorrect since this is about nonroot, but it won't be different on CentOS8 since it is bash script logic problem.

[2021-05-17 13:15] #8343 closed

[2021-05-17 14:19] Phara0h opened #8666 "Mismatched types for base and view columns id: timeuuid and timeuuid"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.3
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

I have a global secondary index and it returns back 1020 results and if I try to retrieve anymore it throws this error ('Unable to complete the operation against any hosts', {<Host: 1

[2021-05-17 14:21] psarna commented on #8666
Could you provide the schemas for your base table and the offending index (with sensitive column names mangled)?

[2021-05-17 14:25] psarna commented on #8666
Also, if these schemas were ever changed (e.g. some columns were added or removed), that information would also help.

[2021-05-17 14:30] psarna commented on #8666
And one more helper question - does the base table or the index contain a non-standard ordering? In particular, is the indexed column a clustering column in the base table with descending order defined? That could explain my suspicion.

[2021-05-17 14:40] psarna commented on #8666
Ok, managed to reproduce myself - it's exactly that. The indexing code contains some additional checks if all the types match, but the checks don't work properly if the clustering order differs. Thanks for reporting, I'll create a reproducing test case and a fix.

[2021-05-17 15:08] psarna commented on #8666
Here's the fix and the new test case: #8667

[2021-05-17 15:23] vladzcloudius commented on #8013
Well, I agree with you, @asias.
It's @slivne you need to convince - he believe that this is a very serious issue making "replace" being "much worse" than "removenode + add node" process of replacing a dead node.

And if we all agree with Shlomi on that then this becomes a bug and we should consider backporting whatever needs to be backported to 2020.1.x

[2021-05-17 16:54] amoskong commented on #8663
We didn't test nonroot offline installation of centos7  (unsupported), there is a problem of systemd
centos8 works well: https://jenkins.scylladb.com/job/scylla-4.5/job/artifacts-offline-install/job/artifacts-centos8-nonroot-test/

[2021-05-17 16:57] slivne commented on #8013
Vkad

We are not backporting this to 4.0

We need to backport the fix for replace node takes writss to enterprise
versions that use  4.3 as the baseline

On Mon, May 17, 2021, 18:23 Vladislav Zolotarov ***@***.***>
wrote:

[2021-05-17 17:36] bentsi commented on #8279
Same happened on Scylla version `2021.1.0-0.20210507.f8bd6dc0d`:

Server was restarted and boots:

[code]
var-lib-scylla.mount starts before even PC speaker detected:
:point_down:
[code]
mount: /var/lib/scylla: **can't find UUID=3f898508-7ce9-4728-b7a3-fe118e5bddda.**
:point_down:
[code]

[2021-05-17 18:59] praveenkhatra commented on #8467
@vladzcloudius @avikivity . Thanks for your help. The issue was with the seaster code and that was fixed by @vladzcloudius . Now the issue is resolved as after this I was able to perform the upgrade successfully.

[2021-05-17 18:59] #8467 closed

[2021-05-18 04:49] gaurarpit12 opened #8669 "Scylla cluster bootstrapping fails with the error: [shard 0] init - Startup failed: std::runtime_error (sorted_tokens is empty in first_token_index!)"
- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): **4.3.1**
Cluster size: **8 nodes (i3.4xlarge)**
OS (RHEL/CentOS/Ubuntu/AWS AMI): **AWS (ami-04e6c84cc1508a271)**

While starting the cluster from scratch, the scylla-server.service is getting failed with the error:
```[shard 0] init - Startup fa

[2021-05-18 06:19] eliransin commented on #8013
@vladzcloudius given that we are going to backport this to 4.3 which means that eventually we are going to have it in 2021.1.X
is there a chance that the customer will move to a 2021.1 version when such is available?

[2021-05-18 08:28] slivne commented on #8013
This is an open source issue

Lets stop the customer / enterprise discussion on it.

If there is a need open an enterprise issue and continue the discussion

On Tue, May 18, 2021, 09:19 Eliran Sinvani ***@***.***> wrote:

[2021-05-18 08:33] slivne commented on #8657
@raphaelsc please clarify which versions are suspect to this

[2021-05-18 09:51] #8657 closed

[2021-05-18 10:01] avikivity commented on #8657
Backported to 4.3, 4.4, 4.5.

[2021-05-18 10:11] yangly0815 opened #8670 "Scylla server start hangs"
When I deploy scylla and start it, it hangs:
[code]

[2021-05-18 10:23] denesb opened #8671 "row_cache_test: test_partition_range_population_with_concurrent_memtable_flushes fails with segmentation fault"
This test checks populating cache reads parallel to cache updates. Adding a continuation to `fast_forward_to(position_range)`, or more generally speaking, increasing the amount of cache updates that can run in parallel to the reads leads to a segmentation fault in the cache:
[code]
Although this failure doesn't happen on master, the problem exists there too, it just doesn't happen to manifest. I c

[2021-05-18 12:26] #8666 closed

[2021-05-18 12:26] #8663 closed

[2021-05-18 12:26] #8589 closed

[2021-05-18 12:29] avikivity commented on #8666
Backported to 4.3, 4.4, 4.5.

[2021-05-18 12:33] avikivity commented on #8663
Backported to 4.4, 4.5. 4.3 is okay since it predates the node_exporter change.

[2021-05-18 12:33] avikivity commented on #8589
Backported to 4.3, 4.4, 4.5.

[2021-05-18 12:45] avikivity commented on #8641
@asias I think this should be backported, do you agree?

[2021-05-18 12:50] avikivity commented on #8661
[code]

buffer grows returning a large result. Maybe we can replace string_buffer with a chunked class (and return a chunked thing rather than std::string).

[2021-05-18 12:50] avikivity commented on #8661
/cc @nyh

[2021-05-18 12:52] bhalevy commented on #5489
also known as "maintenance mode" (for github keyword search)

[2021-05-18 12:59] asias commented on #8641
Yes.

On Tue, May 18, 2021, 20:46 Avi Kivity ***@***.***> wrote:

[2021-05-18 14:45] slivne commented on #8626
We need to backport this - users are hitting this issue

[2021-05-18 15:33] slivne commented on #8669
according to the docs - you are following the procedure listed https://docs.scylladb.com/operating-scylla/procedures/cluster-management/create_cluster/

there is/was a timeout at bootstrap that allowed seed nodes to start after 5 minutes - and during that time it would warn about the status

please note starting from 4.3 3b1ff90a1a80c4b0d2b6784de052a376ad75e7ee seed has changed and auto_bootstrap

[2021-05-18 15:36] #8671 closed

[2021-05-18 15:36] #8651 closed

[2021-05-18 15:43] avikivity commented on #8651
@asias should this be backported? (is this a response to a problem in the field?)

[2021-05-18 15:50] slivne commented on #7909
seastar fix  https://github.com/scylladb/seastar/commit/e22a58dcc48b450a97c50bdbd2e6ac02407cfdea

part of 4.5 55609f2033457d1e75d8220e3086e7d708daab92

[2021-05-18 15:51] slivne commented on #8270
@juliayakovlev / @roydahan ping

[2021-05-18 15:53] slivne commented on #7715
slosing this issue - the (assumed) fix is in all supported OSS releases - if this is hit again please post and we can reopen

[2021-05-18 15:53] #7715 closed

[2021-05-18 15:54] slivne commented on #6922
@elcallio was this fixed ? if so can you reference the commit that fixed it

[2021-05-18 15:59] slivne commented on #8670
@yangly0815
- can you please provide the scylla version
- can you please generate a coredump from the stuck node and upload it
to generate a coredump at this state you can send a signal ```kill -6  <scylla-pid>```

to upload https://docs.scylladb.com/troubleshooting/report_scylla_problem/

[2021-05-18 16:01] slivne commented on #8658
Till its clearer what we need todo not setting a milestone

[2021-05-18 16:05] slivne commented on #8605
since there is a workaround pushing it out - static fields are not a great solution - need to get user votes for this

[2021-05-18 16:06] #8601 closed

[2021-05-18 16:15] slivne commented on #8532
@bhalevy / @raphaelsc ping anyway we can progress with this ?

[2021-05-18 16:20] slivne commented on #8500
- there is a way to abort removenode operation on master - so this was added but not avail yet in supported releases (it will be part of 4.6)
- after removenode completes - not clear which node did you run nodetool drain

[2021-05-18 18:06] gaurarpit12 commented on #8669
Thanks for the information @slivne .
My cluster is built-up from scratch without any data. When I created the 8 node cluster using `i3.2xlarge` AWS boxes, I did not run into this issue. Unable to get why the issue is coming up now when I am using `i3.4xlarge` AWS boxes.
Though, scylla is going into WARN state while bootstrapping, but then getting into ERROR state as bootstrapping fails due to the

[2021-05-18 19:09] fggarcia commented on #8532
0h sorry. I don't see last comments
@avikivity i can't edit service unit file because i don't have enough permission in prod environment. (security team don't have time to help me..... grrr)

@slivne I don't have problem to try next version to see if problem will be result.

[2021-05-18 21:18] avikivity commented on #8666
@psarna something is missing in the 4.4/4.5 backport, and cql-pytest fails on the new test. Can you please figure out what it is?

[2021-05-18 21:19] avikivity commented on #8666
(I suspect it's in the test harness, not the fix)

[2021-05-18 23:48] asias commented on #8651
Yes. I will send a PR for 2020.1 backport. Let's discuss there.

[2021-05-19 01:10] asias opened #8673 "token_metadata: Speed up get_all_endpoints"
The current code walks through the whole toekn to node map to the the nodes.

[code]

We can even introduce a filed inside token_metadata to track the nodes directly (modified whenever we modify _token_to_endpoint_map). This avoids walking through the map to get the endpoints and makes the get_all_endpoints  O(1).

[2021-05-19 02:34] yangly0815 commented on #8670
The scylla version as follows and the coredump was also uploaded.
[code]

[2021-05-19 06:22] elcallio commented on #6922
This was fixed in seastar, by changing the dh param init to act as a "minimum required" instead of actual calclulated hash set.
https://github.com/scylladb/seastar/commit/02ad74fa7d100cf0a032c52e3d77f12f3396d814

No changes required in scylla.

[2021-05-19 06:46] psarna commented on #8666
checking

[2021-05-19 07:17] psarna commented on #8666
cql-pytest ran fine for me, **but** perhaps I see the problem. There was a conflict in `test_secondary_index.py` when cherry-picking to 4.5 that looked trivial, but simply accepting the incoming changes resulted in incidentally importing test cases from https://github.com/scylladb/scylla/pull/8632, which was not backported. Now, https://github.com/scylladb/scylla/pull/8632 is not really a showstop

[2021-05-19 08:14] #8501 closed

[2021-05-19 08:47] #6922 closed

[2021-05-19 09:01] slivne commented on #8670
@elcallio can you please have an initial look at this - on why we are stuck

[2021-05-19 09:24] avikivity commented on #7732
Backported to 4.3 (4.4+ have it).

[2021-05-19 09:37] avikivity commented on #8666
Ah, for cleanliness I'll remove that unwanted change. We can decide on #8632 separately.

[2021-05-19 10:14] syuu1228 commented on #8642
@robertczupiol Our Docker image is only supported x86_64 architecture, you need to specify option to force using x86_64 like this:
`docker run --platform linux/amd64 --name some-scylla --hostname some-scylla -ti scylladb/scylla`

[2021-05-19 10:42] elcallio commented on #8270
Finally got a repro with proper commitlog info. Yes, we are hitting an apparent deadlock due to waiting for segments to be free. Which never happens for some shards, because we never ask to flush things. My initial guess here is that we've created a bunch of segments but did not really fill them, which breaks the condition for flushing in the timer callback.

[2021-05-19 11:16] eliransin commented on #8545
@slivne ping

[2021-05-19 12:06] juliayakovlev commented on #8270
@elcallio can I terminate the cluster?

[2021-05-19 12:11] syuu1228 commented on #8279
I guess this is timing bug between initialization of MDRAID volume vs var-lib-scylla.mount, but the question is why it happens even we specified `After=local-fs.target mdmonitor.service`...
Maybe `After=mdmonitor.service` does not guarantee MDRAID volume is started?

[2021-05-19 12:12] elcallio commented on #8270
Can you archive all the db node logs first?

[2021-05-19 12:19] juliayakovlev commented on #8270
@elcallio yes, the logs will be collected in the end of test. If you need cluster I can keep it. And monitor

[2021-05-19 12:34] avikivity commented on #8279
I think you are right, it just guarantees mdmonitor.service is started.

[2021-05-19 12:42] avikivity commented on #8279
Don't know what to do. One option is to find and empty device name and set it up in /etc/mdadm.conf. It's not pleasant.

[2021-05-19 12:44] juliayakovlev commented on #8270
@elcallio

Restore Monitor Stack command: $ hydra investigate show-monitor 2109d278-2ad0-433c-a004-53271d0dd7bf
Show all stored logs command: $ hydra investigate show-logs 2109d278-2ad0-433c-a004-53271d0dd7bf

Logs:
db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/2109d278-2ad0-433c-a004-53271d0dd7bf/20210519_122426/db-cluster-2109d278.zip
sct-runner - https://cloudius-jenkins-test.s3.a

[2021-05-19 12:58] avikivity commented on #8279
I found a way, add a Wants=dev-disk-by\x2duuid-a8568c68\x2d0013\x2d4581\x2d9dc9\x2dd48bc8073eb0.device (use the UUID that xfs gives the disk).

I created a raid0 (from loop0/loop1), formatted it, and then I see this in systemctl --all:

[code]

So if var-lib-scylla.mount waits for it, it will be mounted after it is discovered.

[2021-05-19 13:12] vladzcloudius opened #8674 "loading_cache: improve pollution resilience"
*Installation details*
HEAD: 84808399327c595ec7aa1cb7a7956d181baf9284

*Description*
If cache is being polluted by used-once entries it may possibly evict entries that are meant to be cached due to cache size restriction.

This is because we use LRU algorithm based on the creation and last usage timestamp when we decide which items to evict.

For instance, if the used-once entries are being pushed

[2021-05-19 13:13] vladzcloudius commented on #8674
@avikivity Please, comment.

[2021-05-19 13:16] elcallio commented on #8270
So, I can't 100% tell from prometheus if my theory that we've managed to hit a corner case of usage visavi disk footprint or not, but I'd like to make a patch to

a.) Count "wasted space" - i.e. pre-allocated disk that did _not_ get data written, but remain in closed segments when determining flush or not
b.) increase the eagerness to flush to include "someone needs segments".

@juliayakovlev can

[2021-05-19 13:19] juliayakovlev commented on #8270
When you will apply the patch and create new ami, I can re-run the test, or you can do it, as you wish

[2021-05-19 13:21] elcallio commented on #8270
I have no idea on how to create an AMI. I was more thinking in the line of "check out code, apply patch, compile, run"...

[2021-05-19 13:26] fgelcer commented on #8270
if you can provide executables (RPMs or DEBs) in a S3 bucket, we can easily run it, or prepare a staging job for you, so you can only set your executables URL and that's it...

[2021-05-19 13:28] elcallio commented on #8270
Aha. How about providing a git repo + branch and hope there is some sort of automation for generating said things to said places? While I can build rpms, you kindof lost me at s3 bucket... :-)

[2021-05-19 13:31] fgelcer commented on #8270
OK, create the RPMs, i will send you a S3 bucket you can use (you should install awscli in your machine, and then use a command as simple as `aws s3 cp <files_names> <s3_bucket_url>`)

[2021-05-19 14:51] yarongilor commented on #7948
got a similar (but not identical) issue on alternator streams longevity (no upgrade or rollback) in 4.5:
[code]
test is still running in:
[code]

[2021-05-19 15:36] elcallio commented on #8270
Right, what I sincerely hope is a patched version should now be in the bucket mentioned. Would be great to get the same test run, but using this build.

[2021-05-19 15:40] elcallio commented on #8670
Uhm, I can't locate a relocatable package for this. Core says it is build-id f1b7ffd311c0488984c05a1b3c0d658551419367. Neither enterprise, master, 4.4 or 4.5 seem to have such as build?

[2021-05-19 16:03] hagitsegev opened #8675 "Ninja build feature request: Set packages to be created with architecture name"
As we want to support both Arm and existing x86, we will have a package for each architecture. Such as
- scylla-package.tar.gz
- scylla-unified-package-4.6.dev.0.20210513.68f69671b5.tar.gz
- scylla-debug-package.tar.gz
- scylla-debug-unified-package-4.6.dev.0.20210513.68f69671b5.tar.gz
- scylla-python3-package.tar.gz

We need to know which package is for which architecture.

Please set the package

[2021-05-19 16:39] bhalevy commented on #8670
Right, so is the coredump's build-id (upload uuid `4c4ae935-02bc-46bc-b2ec-4b1150095048`)
[code]

Based on https://github.com/scylladb/scylla/issues/8670#issuecomment-843698308 the version is supposed to be `4.4.1-0.20210413.00da6b5e9`

But I can't find the respective relocatable packages either.

@hagitsegev @yaronkaikov were some relocatable packages removed from `http://downloads.scylladb.com.s

[2021-05-19 16:47] yaronkaikov commented on #8670
@bhalevy http://downloads.scylladb.com/unstable/scylla/branch-4.4/relocatable/2021-04-10T00%3A28%3A06Z/

[2021-05-19 17:04] bhalevy commented on #8670
@yaronkaikov it has neither the right version string nor build-id.
Having the same scylla.git-sha doesn't help with debugging the core dump.
We must match the exact relocatable package with the coredump, based on matching build-id's.

[2021-05-19 17:11] yaronkaikov commented on #8670
@bhalevy I looked for the version you mention above. Are we sure it's the version?
Anyway let me try to understand what is going on

[2021-05-19 23:09] 2peter3 commented on #4232
hopefully a fix for this come soon

[2021-05-20 00:15] asias opened #8677 "Wire off-strategy compaction for regular repair"
We have enabled off-strategy compaction for bootstrap, replace, decommission and removenode operations when repair based node operation is enabled.

We need to enable off-strategy compaction for regular repair as well.

[2021-05-20 01:10] amoskong commented on #8353
Not a scylla issue, I just adjusted the test.

by https://github.com/scylladb/scylla/issues/8353

[2021-05-20 01:18] yangly0815 commented on #8670
The package was build from branch 4.4.1 by myself.

[2021-05-20 08:17] fgelcer commented on #8270
@juliayakovlev is able to run a job with your RPMs, let's wait for results now

[2021-05-20 09:06] fgelcer commented on #8270
@elcallio , could you please provide us DEB files instead RPMs?
our tests are now running on the default base image (that is Ubuntu), so RPMs are not working for us...

[2021-05-20 09:21] yarongilor commented on #8270
according to Gleb, this issue is possibly reproduced in this Dtest:

https://jenkins.scylladb.com/job/scylla-master/job/byo/job/dtest-byo/539/consoleFull
[code]

[2021-05-20 10:00] roydahan commented on #8270
@fgelcer / @juliayakovlev you can find in master also an AMI that is CentOS based.

[2021-05-20 11:36] fgelcer commented on #8270
is SCT still succeed to run a longevity with a CentOS based AMI?

[2021-05-20 11:42] roydahan commented on #8270
Yes

On Thu, May 20, 2021 at 2:36 PM Fabio Gelcer ***@***.***>
wrote:

[2021-05-20 12:09] juliayakovlev commented on #8270
Running the test with CentosOS ami: `ami-0d02c1bca2bcceb0b`

[Monitor](http://13.51.167.249:3000/d/A7GZJSqGk/longevity-lwt-3h-repr-8270-scylla-per-server-metrics-nemesis-master?orgId=1&from=1621510404000&to=now&refresh=30s)

[Job](https://jenkins.scylladb.com/view/master/job/scylla-master/job/reproducers/job/longevity-lwt-3h-repr-8270/7/console)

[2021-05-20 12:41] bhalevy commented on #6952
We can close this issue with https://github.com/scylladb/scylla/pull/8618
Any further fixes / improvement can be tracked in new GH issues.

[2021-05-20 12:41] #6952 closed

[2021-05-20 12:58] nyh commented on #8661
This is a duplicate of #8522 - ("Alternator should stream JSON response object - not convert it to a contiguous string").

The problem is that Alternator takes a JSON response object (which isn't contiguous) and to return it as an HTTP response, it serializes it to one big contiguous string (which is what the HTTP server expects), and returns that to the HTTP server.

In issue #8522 I suggested th

[2021-05-20 12:58] #8661 closed

[2021-05-20 13:23] psarna commented on #8522
I agree, it sounds like a good low-hanging fruit to take as a first step.

[2021-05-20 14:49] kostja commented on #8604
Workaround: use a parameter marker and generate the partition key on the client.

[2021-05-20 15:39] robertczupiol commented on #8642
@syuu1228 thx for Your suggestion but that kind of command also didn't work :(

[code]

[2021-05-20 16:38] roydahan commented on #7341
The failing stress commands are not related.
I think we can close this issue.

@slivne FYI

[2021-05-20 16:58] nyh commented on #8522
Created a test, `test_batch.py::test_batch_get_item_large`, to reproduce the oversized allocation warning from within the JSON writer:
[code]
Note that this is the second oversized allocation warning produced in this test - the first one is unrelated - it is due to #8183 and has a different stack trace.

[2021-05-20 18:19] avikivity commented on #8604
Wow, nice bug.

Perhaps we can try to make things deterministic. When the query starts executing, set up state that includes the time (for now()) and the random number seed (perhaps they can be the same thing). When the query fails, return this state in the "bounce to shard" response, and when it is re-executed it will restart with the same state.

Unfortunately, it means adding this state as a pa

[2021-05-20 18:29] avikivity commented on #8604
Looks like my solution duplicates @kostja almost exactly. Maybe we're two copies of a deterministic function.

[2021-05-20 19:12] forsberg commented on #8411
Also hitting this one, do we have an update on the timeline of the 4.4 patch release?

[2021-05-20 21:03] vladzcloudius commented on #5109
@asias by looking at the patch I don't think we need to set `enforce_compaction_min_threshold: true` in order for a heuristics to kick in.
Do I miss something?

[2021-05-20 21:07] nyh commented on #8522
Frustratingly, this fruit hangs higher than I had hoped :-( Seastar's HTTP server can only take an "sstring" (not anything similar -  an actual sstring) or a function, and while the former always has a known length and uses `Content-Length`, the latter always - unfortunately - assumes the length is not know and uses chunked encoding and a complex wrapper stream. What I would like to have - a funct

[2021-05-21 01:15] asias commented on #5109
The option is written as : compaction_enforce_min_threshold.
[code]

The min threshold is enforced during bootstrap and replace operation even if compaction_enforce_min_threshold is set to false.

[2021-05-21 01:46] raphaelsc commented on #5109
@asias i am worried _is_bootstrap_or_replace flag will not be turned on, on rebuild's behalf. could you please confirm? as rebuild seems to take a different code path than bootstrap_or_replace in storage service.

[2021-05-21 01:49] asias commented on #5109
No. The flag _is_bootstrap_or_replace is not turned on for rebuild operation build.

[2021-05-21 02:00] raphaelsc commented on #5109
looks like it should. otherwise rebuild will suffer with bad write amplification. i'll cook a patch

[2021-05-21 07:52] syuu1228 commented on #8279
@avikivity I verified that `After=dev-disk-by\x2duuid-32a8e8d1\x2d8e58\x2d4bd1\x2d8291\x2d78025c667fc3.device` will wait for MDRAID volume startup.

But I also found replacing `What=UUID=32a8e8d1-8e58-4bd1-8291-78025c667fc3` with `What=/dev/disk/by-uuid/32a8e8d1-8e58-4bd1-8291-78025c667fc3`  has same effect.
I guess systemd has feature to automatically wait for device (likely for systemd-fstab-gen

[2021-05-21 08:44] tgrabiec commented on #8153
Backported to 2020.1 and 2021.1

[2021-05-21 14:27] bhalevy commented on #8353
Closing with scylladb/scylla-dtest#2135 / https://github.com/scylladb/scylla-dtest/commit/6238d420f73c3319fc7a66e25e4f21bb1ccf1704

[2021-05-21 14:27] #8353 closed

[2021-05-21 15:31] sitano commented on #8674
what about distinguishing to what generation an item belongs?
would you prefer to count the number of touches with `size_t` or just introduce a `bool young` which will be true for the first touch?

[2021-05-21 16:02] vladzcloudius commented on #8674
You don't need any count while the semantics is `bool`.

The heuristics is that if a statement has been used more than once - this is means that it's not a "pollution".

The implementation is as follows:
 1) On creation the item gets into the new LRU list you need to introduce (and *not* into the current LRU list).
 2) Next time it's "touched" it's removed from the new list and appended to the cur

[2021-05-21 16:03] vladzcloudius commented on #8674
There are more complex cache eviction schemes, like the one used by ARC cache.
However we want to keep things simple for now.

[2021-05-21 16:52] vladzcloudius commented on #5109
Potato - potAto - the important thing is that you got my point :P
(but you were right, @asias )

That's what I was telling you and this is an expected behavior.
I was asking you because you seem to have instructed @slivne to enforce the `compaction_enforce_min_threshold: true` during the replace node operation recently and this made little sense to me.

[2021-05-21 17:32] avikivity opened #8682 "INSERT JSON ... IF NOT EXISTS ignores IF_NOT_EXISTS"
4383674760c61ed4158caf3db11a5462725228fb

I removed -Wno-unused-private-field, and the compiler noticed `insert_json_statement::_if_not_exists` is unused. It should be used!

[2021-05-21 18:39] tgrabiec commented on #8682
How is 4383674 related to this?

[2021-05-23 02:23] #8542 closed

[2021-05-23 05:32] juliayakovlev commented on #8270
The test with patch succeeded. Cluster and monitor are alive.
@elcallio do you need the cluster or I can terminate it?

[2021-05-23 07:36] nyh opened #8691 "Alternator's health-check request doesn't work properly with HTTPS"
When Alternator is configured to listen to HTTPS, the health-check service should work with HTTPS as well. This works in Amazon DynamoDB:
[code]
We have a unit test for this, but to run the test in HTTPS mode we need to do it explicitly, and we don't do it in Jenkins, so this appears to be a regression: `test/alternator/run --https test_health.py` now fails.  When running all tests on https (`test

[2021-05-23 08:34] nyh commented on #8691
This is most likely a recent regression - the test test/alternator/run --https test_health.py passes on scylla-4.4.1. I'll do a git bisect now.

[2021-05-23 08:56] nyh commented on #7677
Issue #8691 was exactly such a regression that was not noticed because we don't run the HTTPS tests by default.
Note, however, that in that issue, not every test failed with HTTPS... In fact most of them passed and just the healthcheck-related ones failed... So it would not have been enough to just add one HTTPS-using test to catch that bug.

[2021-05-23 10:26] nyh commented on #8691
Bisection shows that the offending commit is f41dac2a3ae0b631b7381072dfc7d7fd03b3f1fb (by me):
[code]

[2021-05-23 12:10] nyh commented on #8691
It turns out that two Seastar bugs conspire to create this problem (@wmitros who's the expert in that new Seastar code):
1. Seastar's new "request body streaming" feature (https://github.com/scylladb/seastar/commit/4fa0e4b4394b6293555af197b1835418df80398a) recognizes when the application's request handler did not fully read its request's body, and marks the connection for closing as it can no long

[2021-05-23 12:48] tzach commented on #7831
@asias please link to the corresponding nodetool issue

[2021-05-23 13:44] nyh commented on #8691
I analyzed the second issue listed above and opened a Seastar issue https://github.com/scylladb/seastar/issues/906.

Note that although fixing that Seastar bug will solve **this** issue, fixing that issue alone is not enough. The test will start working, but we won't notice that the connection got closed without reason. To fix that remaining problem we must do one or two of the following (and if w

[2021-05-23 18:03] yarongilor commented on #8012
Updating with this followup test according to the lighter minimal test Core asked for (#8012 reproduction).

In this test it seems KCL continued working properly after a single decommission and add-node operation.

the below 2 screenshots shows a scenario of:

1. The configuration had one vnode and one nemesis to run.
2. ycsb (shorter) stress started.
3. decommission + add-node nemesis ran once. (

[2021-05-23 18:43] nyh commented on #8691
I sent a patch to the Seastar mailing list, titled "httpd: allow handler to not read an empty content", fixing Seastar issue 907 and making all the broken HTTPS tests involving empty request bodies to work again.

[2021-05-24 00:08] asias commented on #7831
https://github.com/scylladb/scylla-tools-java/issues/253

[2021-05-24 07:30] elcallio commented on #8270
Is there any way to access the log files for the db nodes? I can't quite see where they are from the jenkins job...

[2021-05-24 07:33] elcallio commented on #8670
Then I can't really make much of the core file. Or be very sure it is not a build error. I would suggest reproducing the problem using an official build.

[2021-05-24 07:52] juliayakovlev commented on #8270
@elcallio You can down all logs:

db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/3f9d2ac4-a7f9-48dd-80a6-2ba7a11ce0f6/20210520_150933/db-cluster-3f9d2ac4.zip

Also the cluster and all nodes are alive

[2021-05-24 08:15] yangly0815 commented on #8670
It may not a build error, because it was not happend for every installing. And after the promblem arised, i uninstall it and reinstall, I can start the scylla server normally.

[2021-05-24 08:48] slivne commented on #8670
@yangly0815 can you elaborate why you build locally and not use our builds ?

[2021-05-24 09:04] elcallio commented on #8012
Using a "normal" vnode set should work just fine, given a reasonable interval between topology changes. I think it would be good to run this with a standard node set and a topology change every 15-30 minutes or something. To ensure "slightly" stressed environment works.

[2021-05-24 09:45] kbr- commented on #8411
As far as I know, if nothing goes wrong, 4.4.2 should be released in ~2 weeks from now.

[2021-05-24 09:47] yangly0815 commented on #8670
I'm learning scylla and build it from branch-4.4. But I'm sure that I didn't modify the code.

[2021-05-24 09:55] yangly0815 commented on #8670
I'm learning scylla and build it from branch-4.4. But I'm sure that I didn't modify the code.

[2021-05-24 10:17] syuu1228 commented on #8675
I agree we need this.
BTW. how about to add architecture name to the tail of the filename, such as <package name - version>.x86_64.tar.gz, it would be similar to .rpm, and easier to handle in shell (ex: ls *.x86_64.tar.gz).

[2021-05-24 10:21] syuu1228 commented on #8675
Does frozen toolchain already enabled aarch64? Seems like at least fedora-33-20201027 has support it, but not sure on latest version (on latest master we use fedora-33-20201214 but strangely hub.docker.com does not shows up supported architecture on the version).
https://hub.docker.com/r/scylladb/scylla-toolchain/tags?page=1&ordering=last_updated

[2021-05-24 10:27] bentsi opened #8693 "Segfault during forced repair termination"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210523.03faf139c8 with build-id 0938795de9fde12c54614dba4cda1c1379f23fd6`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-10gb-3h-master-db-node-fa646266-1 (13.48.67.9 | 10.0.1.11): 14 shards
   longevity-10gb-3h-master-db-node-fa646266-2 (13.53.

[2021-05-24 10:41] syuu1228 commented on #8480
@amoskong Not able to reproduce "ERROR 1", it should be missing SCYLLA-NONROOT-FILE on ~/scylladb.
And I able to reproduce "ERROR 2", should be fixed by https://github.com/scylladb/scylla/pull/8662.

[2021-05-24 10:42] syuu1228 commented on #8480
So unless "ERROR 1" can reproduce, I think we can close this.

[2021-05-24 10:44] syuu1228 commented on #8480
Note that if we want to fix the issue at released version / rc version, we need to backport a3b25e3

[2021-05-24 12:40] eliransin commented on #7609
@slivne are we considering this a fix or do you think we should try and look for the root cause (the cause for memory bloat on jmx)

[2021-05-24 12:59] elcallio commented on #7609
Fwiw, we've already done a bunch of tweaks to reduce the jmx bloat, virtualizing jmx objects etc. The proper fix is to eventually get rid of the jmx and instead base node tool on rest calls.

[2021-05-24 13:03] nyh commented on #8604
This is a good observation. Because of this observation, I wonder if we shouldn't just declare using "uuid()" et al. in the partition key an error and not bother to implement it at all. Because, as you said, asking the server to pick the random partition key will almost always lead to an extra hop that can be avoided if the client picks it. Another problem with the server picking the random partit

[2021-05-24 13:49] elcallio commented on #8270
Ok, log more or less verifies my assumptions. You can kill the cluster. I will send a proper PR.

[2021-05-24 14:04] #8488 closed

[2021-05-24 14:04] #8279 closed

[2021-05-24 14:17] piodul commented on #8624
@vladzcloudius I agree that reducing concurrency on the sender side is not a reliable solution, but I have doubts that limiting concurrency on receiver in the way you propose will work reliably either. @avikivity mentioned that the latency/processing time on the receiver is very small, so it might be possible for the concurrency limit not to be hit on the receiver even if there is a lot of concurr

[2021-05-24 14:25] avikivity commented on #8279
Backported to 4.3, 4.4, 4.5

[2021-05-24 14:28] kostja commented on #8604
I wish I could agree we can reject all work we can't do efficiently, however, users may want to run this statements even despite efficiency implications. E.g. when playing with the database from the command line and  parameter markers are unavailable. Or when it's necessary to use the server-side timeuuid, not client-side timeuuid, for partition key.

[2021-05-24 14:48] gleb-cloudius commented on #8604
On Mon, May 24, 2021 at 07:29:02AM -0700, Konstantin Osipov wrote:

Nadav touched here something interesting. What if a client uses
timeuuid() for a pk, but the operation fails to reach the quorum (only one
replica gets the write). The client will retry but will get different
key obviously. Later the failed write may be resurrected and there will
be two writes instead of one.

--
			Gleb.

[2021-05-24 15:32] nyh commented on #8691
I confirmed that the Alternator tests with HTTPS work on master now. Thanks @avikivity for the commits.
As I mentioned above, we still need to backport the Seastar patch to 4.5, but not to earlier branches (since this is a recent regression).

[2021-05-24 19:04] #8691 closed

[2021-05-25 02:42] asias opened #8700 "Respect --enable-repair-based-node-ops flag during removenode operation"
In commit 829b4c14380020fa4058335c4c43cefec135b3de (repair: Make removenode safe by default), removenode was changed to use repair based node operations unconditionally. Since repair based node operations is not enabled by default, we should respect the flag to use stream to sync data if the flag is false.

[2021-05-25 04:47] haaawk commented on #8604
On Mon, May 24, 2021, 16:48 Gleb Natapov ***@***.***> wrote:

That's true. Client side generated uuids and timeuuids are the only sane
way to do retries.

[2021-05-25 04:56] bhalevy opened #8702 "Crash from gossiper::apply_new_states run_listeners: Host 127.0.60.2 does not have HOST_ID application_state"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/799/artifact/logs-all.debug.2/1621896380366_batch_test.TestBatch.replay_after_schema_change_test/node1.log
[code]

Decoded:
[code]

https://github.com/scylladb/scylla/blob/948e2c0b36fa35c4c471ba01b00babb6ed2550fd/gms/gossiper.cc#L1666-L1670

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/

[2021-05-25 05:03] bhalevy commented on #8702
Seen also https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/471/artifact/logs-all.debug.2/1621896068321_consistency_test.TestAvailability.test_network_topology_strategy/node1.log

[2021-05-25 05:06] bhalevy commented on #8702
I guess this might be related to 425e3b118, though I don't see exactly how.

[2021-05-25 05:43] asias commented on #8702
I will take a look.

[2021-05-25 06:02] slivne commented on #8669
II may be a timing difference between the instances - e.g. you got lucky and the i3.2x seeds started first and then the rest started one after the other with some delay.

If you still have the cluster you can check the logs and see the sequence at bootstrap.

[2021-05-25 06:03] asias commented on #8702
When n1 handles saw n2 finished bootstrap and set the status to normal, in handle_state_normal, it failed to find host id for n2 because n1 had removed n2 from gossip.

[code]

The test was running non-default 30s ring delay but a 5s ring delay.  It was a debug build, n2 did not update gossip for 5s so n1 removed it.

I ran the test locally with dev build + 5s ring delay, it did not reproduce.

I

[2021-05-25 06:18] asias commented on #8702
This can happen without 425e3b1 too.

[2021-05-25 08:37] avikivity commented on #8691
Backported to 4.5.

[2021-05-25 08:56] elcallio commented on #8670
And yet I cannot debug a core file using your local build. For one, because I do not have it. You can provide all the relocatable data and debug info normally produced by a verified build, but I am unsure if we have procedures for publishing these here. Seems reproducing the issue using a provided rpm build is easier.
Also, not modifying the code and guaranteeing that the build was proper are two

[2021-05-25 08:59] aleksbykov commented on #7948
Issue reproduced during next job:  https://jenkins.scylladb.com/view/nexts/job/scylla-4.4/job/rolling-upgrade/job/rolling-upgrade-alternator-test/42/

After upgrade first node db-node1 from Scylla version 4.3.2-0.20210301.5cdc1fa66 to Scylla version 4.4.2-0.20210520.93457807b with build-id 74e3e6d9dc6bf73c6ed405321e811dbe8717220b and starting scylla 4.4.2, there are a lot of warnings and errors:
[

[2021-05-25 09:00] nyh commented on #8691
Thanks @avikivity !

[2021-05-25 09:19] tzach opened #8704 "Disable writes while allowing reads"
In some cases, a DBA might want to stop writes to a cluster but allowing reads to continue.
While drain stops all CQL operations, this request is just for writes and schema changes.
An example might be a disk space is getting close exhausted.

[2021-05-25 09:34] gleb-cloudius commented on #8704
Some reads require writes as well (lwt)

--
			Gleb.

[2021-05-25 09:39] yarongilor commented on #8012
The issue is reproduced with default number of vnodes.
see in screenshot.
live monitor is in:
http://18.133.175.74:3000/d/alternator-4-5/alternator?orgId=1&refresh=30s&from=now-1h&to=now
[code]
![Screenshot from 2021-05-25 12-36-27](https://user-images.githubusercontent.com/9427929/119475779-1e698100-bd56-11eb-88e5-ac9b82505692.png)

[2021-05-25 09:56] amoskong opened #8705 "Missing gossip UP notification in restart after kill the node"
*Installation details*
Scylla version (or git commit hash): 4.6.dev-0.20210516.5e39cedbe3
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description
When the db node is killed, and restart will fail with `[node2] Missing: ['127.0.56.1.* now UP']:`
It works well if we stop the node by node.stop(gently=True).

### reboot_test.py
[code]

### Test log
2021-05-25 08:21:07.766700 reboot_t

[2021-05-25 09:57] elcallio commented on #8012
If I read this correctly, it is stuck doing describe stream, so what is the frequency of topology changes?

[2021-05-25 10:41] roydahan commented on #8012
AFAIU it, There is only one topology change and that's it.

[2021-05-25 10:52] elcallio commented on #8012
The live log would suggest something was happening? But not any longer. Did the cluster die? Also, how many shards/node did the cluster have (i.e. how many vnodes total?) I am not great at reading this from prometheus...

[2021-05-25 10:53] elcallio commented on #8012
Monitor says "down"...

[2021-05-25 11:18] eliransin commented on #5469
After reading https://www.freedesktop.org/software/systemd/man/systemd.service.html I believe that it is pretty easy to change the
Scylla unit to start or not start conditionally. Specifically https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecCondition=
@Saikumarn78 have you looked into this option? (and in general the options provided by systemd)

[2021-05-25 11:26] aleksbykov commented on #7901
Similar issue happened during job: https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4.4/job/longevity/job/longevity-100gb-4h-test/43/console
with scylla version:Scylla version 4.4.2-0.20210520.93457807b with build-id 74e3e6d9dc6bf73c6ed405321e811dbe8717220b

Node was restarted. Which means that after node started with clean /var/lib/scylla/data.
During that moment next errors appeared:
[cod

[2021-05-25 11:30] yarongilor commented on #8012
right, it was set to destroy nodes on test end.
monitor and could now be available in below details.
@elcallio , if needed, test can be re-spinned, keeping the nodes.

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.rc2-0.20210524.b81919dbe with build-id f22c2ac3d227678bb260ee4447b5cdc3f47c6935`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running wit

[2021-05-25 11:30] FlorianHockmann commented on #6252
We just ran into this issue with our cluster after updating the (3) nodes from 3.0 to 3.1. We also ran `nodetool compact` and then tried the repair again as it was suggested [above](https://github.com/scylladb/scylla/issues/6252#issuecomment-624379956), but we still see the error when we execute a repair.
Is there anything else we can try?

To give some more context, our cluster was still on 2.1 a

[2021-05-25 11:33] asias commented on #6252
The 3.1 release is way too old and not supported. Please consider upgrading your cluster.

[2021-05-25 11:37] FlorianHockmann commented on #6252
What do you mean with upgrading? We are currently upgrading our cluster but the suggested upgrade path is to go through all minor version which is why we are currently on 3.1. Are you suggesting that we just upgrade immediately to 4.4 or that we ignore the error for now and just proceed with the upgrade path and then retry the repair later when we are on a supported version?

[2021-05-25 11:40] elcallio commented on #8012
It looks like the test was still doing updateitem calls when it got terminated? Why was it terminated? What determined that it failed? Are we sure it did not just take a looong time?

[2021-05-25 11:55] gleb-cloudius commented on #8704
On Tue, May 25, 2021 at 04:50:23AM -0700, Tzach Livyatan wrote:

For LWT this is, unfortunately, not the case.

--
			Gleb.

[2021-05-25 12:08] asias commented on #6252
Upgrade from 3.1, 3.2 ...4.0, ... 4.4 then run repair.

[2021-05-25 12:13] yarongilor commented on #8012
Nodes are terminated but the monitor is alive and can show all test details.
one unclear this is grafana reports no getRecord or getShardIterator after nemesis, yet it does report continuing writes.
the writes can be either YCS or KCL , but it seems to continue after YCSB stress finished as well.

[2021-05-25 12:26] FlorianHockmann commented on #6252
But don't we have to execute a repair still at least weekly (or more regularly than `gc_grace_seconds`) in order to not run into inconsistent data?
We only manage to update a minor version every one or two days as taking the snapshots and copying them to another location takes so long. So, it will definitely take more than a week for us to reach 4.4 if we continue with the upgrade like this.

Woul

[2021-05-25 12:54] aleksbykov opened #8706 "A lot of warnings Exceptional future ignored: exceptions::mutation_write_timeout_exception (Operation timed out for system.paxos after node was remove from cluster"
*Installation details*
Scylla version (or git commit hash): `4.4.2-0.20210520.93457807b with build-id 74e3e6d9dc6bf73c6ed405321e811dbe8717220b`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0aacbcf9ff6bc6ed7` (aws: eu-north-1)

Test: `longevity-alternator-3h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-alternator-3h.y

[2021-05-25 12:57] elcallio commented on #8012
One thing: I don't think the KCL in this test is running with periodic shard sync, but instead uses sync-on-end-of-shard. This is not very good for alternator, since we have a gazillion shards, most being empty. This would sort of explain why we seem to be doing an exponential # shard syncs (visavi actual shards existing). The kinesis library is very much written for situations where we have ~1-2

[2021-05-25 13:01] aleksbykov commented on #8706
May be dub of https://github.com/scylladb/scylla/issues/6155

[2021-05-25 13:42] aleksbykov opened #8707 "Total Request drop down from 10k to 100 during memory stress on one node."
*Installation details*
Scylla version (or git commit hash): `4.4.2-0.20210520.93457807b with build-id 74e3e6d9dc6bf73c6ed405321e811dbe8717220b`
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0aacbcf9ff6bc6ed7` (aws: eu-north-1)

Test: `longevity-lwt-3h-test`
Test name: `longevity_lwt_test.LWTLongevityTest.test_lwt_longevity`
Test config file(s):
- [longevity-lwt-basic-3h.

[2021-05-25 13:54] hagitsegev commented on #8455
@slivne This issue also found on 4.4.2 by @aleksbykov
https://jenkins.scylladb.com/view/nexts/job/scylla-4.4/job/rolling-upgrade/job/rolling-upgrade-debian9-test/12/
Please triage.

[2021-05-25 14:03] slivne commented on #8559
Thanks - #8578 is still not merged and this is not a blocker - its not a regression

[2021-05-25 14:06] aleksbykov commented on #8455
This happened only on debian 9 during preparation data before upgrade on 4.3 version. On step when truncate table were being created,
Executing CQL 'CREATE TABLE IF NOT EXISTS truncate_table6 (my_id int PRIMARY KEY, col1 int, value int)'

[code]
failed with error:
[code]
Also c-s command report next warning:
[code]

System under test
ScyllaDB version: 4.3.2-0.20210301.5cdc1fa66 (-)
Target ScyllaDB

[2021-05-25 14:45] slivne commented on #8545
we have this messages

[code]

this seems simillar to https://github.com/scylladb/scylla/issues/7570 - that we hit in 4.4 testing and did not backport to 4.3.

So this is not a regression, its bad and we need to fix it - yet lets see its better in 4.4 testing and then backport to 4.3 - not before we pass in 4.4

[2021-05-25 15:17] dyasny commented on #5469
@eliransin I checked these options and we worked a solution out, but I really wish https://github.com/systemd/systemd/issues/14644 was addressed

[2021-05-25 15:28] slivne commented on #8455
this is the create table /keyspace code

sdcm/fill_db_data.py
[code]

so we have sleeps here for longer duration  and in some cases depedent on the schema we have internal sleeps - maybe the issue is that node1 is loaded with a workload while we are creating the schema ?

nope it not file:///tmp/mozilla_shlomi0/grafana-screenshot-rolling-upgrade-centos7-test-scylla-per-server-metrics-nemesis-20210

[2021-05-25 15:28] avikivity commented on #8707
Not sure why you expect things to work well under such stress.

[2021-05-25 15:29] slivne commented on #8455
A workaround for now can be to increate the timeout on schema agreement - but there is maybe something here that we are not seeing and is an issue.

@eliransin given that you fixed many issue in schema agreement (mostly around mv/si) any idea

[2021-05-25 15:42] aleksbykov commented on #8707
@avikivity the stress run on 1 node, why other nodes drop down total requests?

[2021-05-25 15:47] avikivity commented on #8707
The cluster runs as fast as the slowest node (and slowest shard). As soon as one node is slow, all the requests that reference other nodes complete and all the remaining requests wait for the slow node. The client can't push new requests to fast nodes, because its concurrency is limited.

[2021-05-25 15:54] aleksbykov commented on #8707
@avikivity thanks for clarification. Then issue could be closed i think

[2021-05-25 15:55] #8707 closed

[2021-05-25 16:36] avikivity commented on #8604
This query is a bad idea, but bad ideas should be caught before they are made into public, documented, stable APIs. Not after.

[2021-05-25 16:38] avikivity commented on #8604
But it highlights something we'll have later in multi-partition queries.

[2021-05-25 16:53] #8449 closed

[2021-05-25 16:53] #8555 closed

[2021-05-25 16:53] #8609 closed

[2021-05-25 18:08] nyh opened #8708 "Secondary index is missing partitions with only a static row"
Normally, a partition cannot exist without any clustering rows (there is no notion of a "partition marker" to keep an empty partition). However, when a schema has static columns, a partition may exist without any clustering row by having a _static row_ (i.e., a value for some static column).

When we have a compound partition key and create a secondary index on one of the its columns, the index sh

[2021-05-25 21:09] nyh commented on #2203
Some translated Cassandra unit test that test the SASI feature:
* `cassandra_tests/validation/entities/secondary_index_test.py`::`testPrepareStatementsWithLIKEClauses`

Note that [the current Cassandra documentation](https://cassandra.apache.org/doc/latest/configuration/cassandra_config_file.html) calls SASI indexes "experimental and are not recommended for production use" and not enabled by defau

[2021-05-25 22:16] vladzcloudius commented on #8624
We could introduce a semaphore which is regularly replenished, but received hints take either a fixed number of units or proportional to the mutation's size (I think this algorithm is called token bucket).

@piodul I believe the above is going to limit the concurrency - not the throughout. And yes, this is what I had in mind as an implementation. We have a similar mechanism on the sender side toda

[2021-05-26 00:44] asias commented on #8705
I think this is expected because when a node is killed forcefully and restarted  immediately, it is possible that other nodes will not notice the node is down before the node finishes restart. As a result, other nodes will not mark the down, thus will not print the log xxx is now UP when the node restarts.

[2021-05-26 00:59] asias commented on #8693
@bentsi could you please help decoding the backtrace.

[code]

[2021-05-26 01:34] asias commented on #6252
I see. If you could find a time window to stop the clients, you can speed up the upgrade. Even if you do not want to stop the clients, you can avoid do snapshots for each and every minor release upgrade.

[2021-05-26 06:37] amoskong commented on #8705
Ok. Let's close this issue?

[2021-05-26 07:31] bhalevy commented on #8705
Yes. It's the expected behavior.

[2021-05-26 07:31] #8705 closed

[2021-05-26 07:38] avikivity commented on #8609
Do we know for sure that 4.4 is not vulnerable (i.e. do we know which commit introduced the bug?)

[2021-05-26 07:39] asias commented on #8705
Amos, yes.

[2021-05-26 08:24] bhalevy commented on #8609
So it's possible that the fix for this issue will resurrect https://github.com/scylladb/scylla/issues/4294
I'll try to come up with a test to measure the effect.

[2021-05-26 08:29] bhalevy commented on #8609
Reproduced also with 4.3

[2021-05-26 08:42] eliransin commented on #5469
@dyasny maybe I failed to understand but the means to achieve this are already in systemd.
Specifically they have:
1. https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecStopPost= - which can record when and **how** the process was stopped.
2. https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecCondition= - to evaluate what you just asked for
3. and unit

[2021-05-26 08:49] nyh commented on #8604
After I get the first "safe mode" restriction in, this can also become one of these safe mode restrictions - we will disable this "problematic" query unless the user actively disables this restriction.