[2018-04-10 07:41] asias opened #3347 "Can not replace a node after all nodes shutdown"
Problem:
       Start node 1 2 3
       Shutdown node2
       Shutdown node1 node3
       Start node1 node3
       Try to repalce_address for node 2
       The replace operation fails with the error:
         seastar - Exiting on unhandled exception: std::runtime_error
         (Cannot replace_address node2 because it doesn't exist in gossip)

This is because after all nodes shutdown, the other no

[2018-04-10 07:46] tgrabiec commented on #1634
Maybe, when reclaimer figures out that eviction is not effective, it should switch to compaction regardless of the threshold not being met, sacrificing throughput for latency.

[2018-04-10 07:46] avikivity commented on #1634
That's not a random LRU, that's an adversarial LRU. Truly random should generate outliers that we can pick off.

It may be that repeated eviction+compaction turns a random LRU into a worst-case LRU.

[2018-04-10 07:48] avikivity commented on #1634
Maybe. There's a risk that it will dig itself into a corner, with each compaction becoming harder and harder due to more compacted-segments-per-reclaimed-segments each iteration.

[2018-04-10 07:57] tgrabiec commented on #1634
2018-04-10 9:47 GMT+02:00 Avi Kivity <notifications@github.com>:

True. According to my simulartor, for 128K segments, 1GiB shard, and 1 KiB
objects, we'd have to evict 6% of shard's memory for a single segment to go
below the threshold.

[2018-04-10 08:11] #3341 closed

[2018-04-10 08:13] avikivity commented on #1634
That's 60,000 items, certainly a stall.

Starting from fully packed? That can happen, but it's not a likely case. After you evict 6% and compact the bottom 6-7 segments you have a "residual" S-curve so you aren't starting from scratch.

However, large allocations, even if not requiring contiguous memory, will tend to pack lsa and we'll see more of these edge cases compared to interspersing allocat

[2018-04-10 08:55] tzach commented on #3347
@asias which version?

[2018-04-10 08:56] asias commented on #3347
all

[2018-04-10 09:14] amoskong commented on #3241
Manually tested latest Debian9 repo, the basic test is fine.
- repo: [deb/unstable/stretch/master/134/scylladb/scylla.list](http://downloads.scylladb.com.s3.amazonaws.com/deb/unstable/stretch/master/134/scylladb/scylla.list)
- scylla version:  666.development-0.20180409.80651e6dc-1~stretch

The artifact-test job is running with the repo:
[job/scylla-staging-debian-deb-9-test-amos-clone/1](http://j

[2018-04-10 10:11] suknark commented on #1969
Hi everyone
can i use sstableloader to migrate data  from cassandra 3.1 or only from 3.0?

[2018-04-10 10:41] glommer commented on #1634
I am not disputing that allocations can cause stalls. I am clarifying that the bug specifically deals with filling an array.

[2018-04-10 10:43] glommer commented on #1634
Would it help if we brought compact-on-idle back? One would argue at this point that maybe we are never idle, but that isn't true anymore: with the CPU scheduler, we can guarantee that we can run "idle" tasks for no more than, say, 1 % of the CPU time (unless we are really idle)

[2018-04-10 10:47] tgrabiec commented on #1634
@glommer We could use idle time to implement https://github.com/scylladb/scylla/issues/1921, which may make running into this problem less likely.

[2018-04-10 10:53] glommer commented on #1634
I am all for making the whole thing more efficient and reducing complexity. But having segment compaction happening in the request path is double nasty. It will take away vruntime from request processing, and the CPU scheduler may not schedule request processing for a long time because it just ran a lot. Except it didn't - because all that time was spent compacting segments, not running requests.

[2018-04-10 10:56] avikivity commented on #1634
Compact-on-idle makes it worse, by packing segments. Sure it frees memory but that gets taken up by writes immediately. As soon as a large allocation comes by, lsa will have to work a lot harder to satisfy it.

[2018-04-10 11:12] avikivity commented on #1634
It's a synchronous operation, the scheduler doesn't know about it.

[2018-04-10 11:34] #3347 closed

[2018-04-10 11:59] glommer commented on #1634
It doesn't, but we can teach it.

Now statements are all in their own group. We can just call compact with `with_scheduling_group(default_sg()`

[2018-04-10 12:01] avikivity commented on #1634
It's in a synchronous call, no continuations.

[2018-04-10 12:08] amoskong opened #3348 "debian9: collectd.service is inactive (dead) after scylla-server is up"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180410.252c5dfa5
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian 9

Job link: [debian9 artifact test](http://jenkins.cloudius-systems.com:8080/job/scylla-staging-debian-deb-9-test-amos-clone/label=huginn/1/artifact/latest/job.log)

After scylla setup and scylla-server is up, artifact-test checks collectd.servic

[2018-04-10 13:41] avikivity opened #3349 "build_deb.sh sometimes fails with "Unsupported distribution""
We've seen `build_deb.sh --target jessie` fail with

[code]

Notice pbuilder complains about missing .pbuilderrc and using sid instead of jessie.

[2018-04-10 14:53] hakuch commented on #2344
@penberg, it's commit 6a360c2d17bcd71f9db0cd332918762b17740fd5 and the duplicate issue is #3216.

[2018-04-10 16:29] dorlaor commented on #1969
Should work on any 3.x

Cassandra has three minor versions of SSTables 3.0 labeled ma, mb and mc, they
only differ in some additional commitlog positions stored in Statistics.db.

On Tue, Apr 10, 2018 at 3:11 AM, Roman <notifications@github.com> wrote:

[2018-04-10 17:46] #3279 closed

[2018-04-10 23:08] slivne opened #3350 "select count(*) are broken"
*Installation details*
Scylla version (or git commit hash): branch-2.2 a74183eb1
Cluster size: 1

to reproduce:
[code]

on 2.1 this will take less than a minute.

[2018-04-10 23:55] syuu1228 commented on #3050
Similar as https://github.com/scylladb/scylla-enterprise/issues/503,
Can we document to run following command to downgrade packages, instead of just running "yum downgrade scylla\*"?
This way it able to downgrade packages w/o errors:
[code]
Since scylla-tools package split into two, it seems we cannot resolve package conflict to downgrade direction.

[2018-04-11 01:00] amoskong commented on #3348
I can't reproduce this problem with scylla master of `Debian8`.

Job link: [job/scylla-master-debian-deb-8-test/label=huginn/154/](http://jenkins.cloudius-systems.com:8080/job/scylla-master-debian-deb-8-test/label=huginn/154/)  : Good
Scylla Version: 666.development-0.20180410.252c5dfa5-1~jessie

[2018-04-11 02:11] amoskong commented on #3050
@tzach @slivne is the solution acceptable?

On Wed, Apr 11, 2018 at 7:55 AM, Takuya ASADA <notifications@github.com>
wrote:

[2018-04-11 07:50] asias opened #3351 "Floating point exception"
After rebased to master: 638a647b7de6c984a96818a6f6b83f3b7d524174, I saw `Floating point exception` when I try to boot up an node with sstables created a few days ago which was working fine until today.

INFO  2018-04-11 13:23:10,874 [shard 0] database - Populating Keyspace system
INFO  2018-04-11 13:23:10,874 [shard 0] database - Keyspace system: Reading CF schema_functions
INFO  2018-04-11 13:23

[2018-04-11 07:50] asias commented on #3351
The culprit is the commit below. After reverting it, it works again.

[code]

[2018-04-11 08:11] suknark commented on #1969
@dorlaor Ok thnx
can you help me please?
when i try to use sshtableloader on cassandra host i got this on scylladb
[code]

and stacktrace from sshtableloader
[code]
i'm using `AMI ID ScyllaDB 2.1.1 (ami-11845b6c)`

[2018-04-11 08:36] gleb-cloudius commented on #1969
On Wed, Apr 11, 2018 at 08:12:05AM +0000, Roman wrote:

This means that someone other than Scylla tries to connect to port 7000.
Is it possible this IP is still listed as a Cassandra peer at some other
cluster? Also often we saw that as a result of port scanners if you
happen to be open to the Internet.

--
			Gleb.

[2018-04-11 08:40] tgrabiec commented on #3350
Broken in what way?

[2018-04-11 08:43] elcallio commented on #1969
You are running a native cassandra loader tool. Scylla does not support
this, as it uses a different protocol for streaming data.

The tool you want is the "sstableloader" one in the scylla java tools
package.

On 04/11/2018 08:12 AM, Roman wrote:

[2018-04-11 08:49] gleb-cloudius commented on #1969
On Wed, Apr 11, 2018 at 08:43:44AM +0000, Calle Wilund wrote:

Ah, if the tool connects to port 7000 it explains rpc message too.

--
			Gleb.

[2018-04-11 08:49] suknark commented on #1969
@elcallio thnx
when i try to use sshtableloader from scylla-tools i got this

[code]

[2018-04-11 09:14] elcallio commented on #1969
Bad error reporting, but I would guess that the table you are trying to
load is not defined in the target node.

Scylla sstable loader requires the target node(s) to have the
source/target table created, so if you are importing from a different
cluster you should first issue the appropriate "create table" statements
into the new scylla cluster.

On 04/11/2018 08:50 AM, Roman wrote:

[2018-04-11 09:18] suknark commented on #1969
oh big thanx
keyspace for this table was with uppercase
that was a problem

[2018-04-11 13:03] syuu1228 commented on #3339
It's Seastar issue so I created issue on Seastar, @vladzcloudius will help us to fix it. https://github.com/scylladb/seastar/issues/432#issuecomment-379720961

[2018-04-11 13:32] #3223 closed

[2018-04-11 13:32] #3222 closed

[2018-04-11 14:18] glommer opened #3352 "Writes and streaming writes can escape the CPU Scheduler"
memtable writes and streaming writes run inside `run_when_memory_available`.

Because we had to revert 3b53f922a3858ceda0a130aab5e805a109213e3e, that means that those functions won't run in the scheduling group they are supposed to if `run_when_memory_available` defers (if it doesn't defer, it executes correctly).

Opening a bug so we can track it.

[2018-04-11 14:33] hakuch commented on #3175
@amoskong, I think this has been fixed now. Please verify, and if so, close this issue.

[2018-04-11 14:39] amoskong commented on #3175
Absolutely fixed, I checked recent dtest results, and tested in my localhost.

[2018-04-11 14:39] #3175 closed

[2018-04-11 14:42] #3324 closed

[2018-04-11 15:35] avikivity opened #3353 "gc_clock will explode in 2038"
gc_clock uses a 32-bit representation with 1-second resolution, ending the world in 2038. Given we store times in the future (for TTLs), we can already see the problem with large TTLs.

We should move gc_clock to 64 bits, and make sure atomic_cell and sstable representations are adjusted. Likely `m` format sstables will work if they use vint serialization.

[2018-04-11 15:36] avikivity commented on #3353
Related Cassandra issue: https://issues.apache.org/jira/browse/CASSANDRA-14092

[2018-04-11 16:05] syuu1228 commented on #3052
I think this is correct behavior of apt-get, there is no fix.
You'll need to specify ALL packages to downgrade.
But as you noticed it looks like full version number can be shorten by \*.
As the result we need to run following command in this case:
[code]

[2018-04-11 16:15] #3351 closed

[2018-04-11 17:12] raphaelsc commented on #3152
Patch sent, waiting for review...

[2018-04-12 08:09] ban4785 opened #3354 "Major Compaction cause Over Size SSTables and Merge into lv0 in LeveledCompaction"
*Installation details*
Scylla version (or git commit hash): 2.1.1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.2

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets= cores= hyperthreading= memory= 8vCore
Disks: (SSD/HDD, count) 440G SSD

i know that Default LeveledCompaction SSTables not

[2018-04-12 08:25] avikivity commented on #3354
Duplicate of #1431.

[2018-04-12 08:25] #3354 closed

[2018-04-12 09:01] beorn- commented on #3141
It seems to be ok now !

i will close this issue. If it was to appear again i would re-open here. Thanks !

[2018-04-12 09:01] #3141 closed

[2018-04-12 09:42] avikivity commented on #3152
Wow, that's truly terrible. Oh well.

[2018-04-12 10:34] #3152 closed

[2018-04-12 10:59] gleb-cloudius opened #3355 "Use after free of cql connection object by schma change notifiers"
*Installation details*
Scylla version (or git commit hash): 98d784aba72d6924ab2b3850203c0a61b713d25d

If cql connection sends schema change subscription request but is closed before the request is processed, the dangling pointer will remain in notifiers list and Scylla will crash when notification will be
attempted.

[2018-04-12 12:52] dahankzter commented on #2118
It takes a bunch of time to install but it seems to work! :)

[2018-04-12 14:17] #3355 closed

[2018-04-12 15:58] vladzcloudius opened #3356 "types_test unit test crashes in a debug mode"
Installation details
Scylla version (or git commit hash): 1a9aaece3e38e0418d30a632140b3062e8d37bce
OS: CentOS 7.4.1708
Tool chain: ScyllaDB's 7.2 or 7.3 toolchain (I used 7.3 toolchain)

Hardware details
Platform: GCE n1-standard-32 instance

Description

1. Clone the sources.
2. `python3.4 ./configure.py --static-boost --compiler=g++-7.3 --python python3.4 --ldflag=-Wl,-rpath=/opt/scylladb/lib64`

[2018-04-12 16:35] dorlaor commented on #3152
It will be nice to push to 2.2

On Thu, Apr 12, 2018 at 3:35 AM, scylladb-promoter <notifications@github.com

[2018-04-12 16:40] slivne commented on #3350
branch 2.2 a74183eb1ea0e709d202ab51072a4915daa9a478

broken in the form that the read query does not succeed to complete in less than 120 seconds

after bisect

the first bad commit
[code]

the commit before 9569ba5e386991c6800e972fbf57d65ce3a89a07 that the test passes

this maybe off - @glommer did we have followup patches to the above to fix something

the unitest in dtest is

[code]

using bran

[2018-04-12 16:52] vladzcloudius commented on #3356
@slivne I tested the same test on a Fedora 26 with the in-box gcc 7.3.1 and boost 1.63 (with and without static boost) and the test passed. This means that this failure clearly has something to do with our toolchain.

[2018-04-12 16:57] glommer commented on #3350
@slivne I don't see a tag for 2.2 in the seastar branch. So I thought that meant we are still using seastar master?

There are a bunch of backports needed from seastar master to the HEAD that the scylla 2.2 branch points to. I was aware of those backports, but again - was aware that the seastar branch was frozen (due to the lack of the 2.2 tag)

For this bug specifically, we need the following bac

[2018-04-13 03:57] shivakar commented on #3029
Yes. The bug is in hwloc. https://github.com/open-mpi/hwloc/issues/142
It has been fixed in hwloc 1.11.3 about 2 years ago. Unfortunately, CentOS 7 still has hwloc 1.11.2.
So this won't be fixed until hwloc is updated in CentOS 7.

[2018-04-13 15:33] vladzcloudius commented on #3345
When I compiled the same test with the in-box tool chain on Fedora 27 the test failed as follows:

[code]

which resembles the issue described here: https://github.com/google/sanitizers/issues/682,
which is supposed to be fixed by https://reviews.llvm.org/rL269633. I guess this either didn't make to ppc64le branch or this doesn't fix the issue on Power.

[2018-04-13 18:31] duarten commented on #3324
Still not solved for me:

[code]

Scylla doesn't boot and this just keeps happening.

[2018-04-13 18:36] raphaelsc commented on #3324
On Fri, Apr 13, 2018 at 3:31 PM, Duarte Nunes <notifications@github.com>
wrote:

looks like another bug to me, possibly originated from the attempt to fix
this issue's bug.

[2018-04-13 18:39] duarten commented on #3324
You're likely right, the last time I ran Scylla from this directory was without this patch.

[2018-04-13 20:44] veramine opened #3357 "Crash when dropping materialized view created in support of a secondary index"
*Installation details*
Scylla version (or git commit hash):  2.1.0-0.20180216.58b90ceee
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

*Hardware details (for performance issues)*
AWS i3.xlarge

I had truncated a base table a few days ago that had 7 secondary indexes.  The base table at the time of truncatation had something like 30GB of data.  We had stopped using this table and were in

[2018-04-13 20:48] glommer commented on #3357
@veramine decoding that backtrace - the same way you do for the stall traces - is a great start. Even without the core we can just with that at least pinpoint the culprit subsystem

[2018-04-13 20:53] veramine commented on #3357
I used the wrong addr2line options and wrong binary.  Sorry, here's the correct backtrace:

[code]

[2018-04-13 21:09] veramine commented on #3357
Here are the metrics and disk stats at the time of the crash.

![metrics1](https://user-images.githubusercontent.com/26036714/38758074-3cdd54a8-3f24-11e8-98e7-cf5bd1c5a108.png)

![disk1](https://user-images.githubusercontent.com/26036714/38758080-40befe46-3f24-11e8-97d2-38f8ff194ecd.png)

[2018-04-13 21:40] veramine commented on #3357
Glauber helped me extract the backtrace from the dump.  I will start it uploading tonight before I go to bed.

[code]

[2018-04-14 13:10] #3334 closed

[2018-04-14 15:47] avikivity commented on #3029
Well, we can package a newer hwloc, or someone with a Red Hat subscription can ask for a fix.

[2018-04-14 17:31] avikivity commented on #3029
Actually, looks like RHEL 7.5 packages 1.11.8, so the problem is solved. We just have to wait until CentOS 7.5 is released.

[2018-04-14 17:38] avikivity commented on #3350
@glauber as soon as scylla is branched, seastar is frozen. Otherwise branching would be meaningless.

[2018-04-14 17:51] avikivity opened #3358 "TLS session can be closed while an IO continuation is still in flight"
Quoting scylladb/seastar#426:

If another continuation races before and closes + frees the tls session, he will not wait for this IO task to complete (or at least leave the session object), because the error flag allows us to shortcut the locks (semaphores).

[2018-04-14 17:55] avikivity commented on #3358
Fixed by 1fa8682412a09e520a98266c66a4562ef47af21b.

[2018-04-14 17:55] #3358 closed

[2018-04-15 09:42] hagrid-the-developer commented on #3324
@duearte Could you provide more context? I tried to simulate the issue but everything seems to work. I tried: Build older version of scylla, start it with empty /var/lib/scylla and then build the up-to-date version of scylla and start it again, with already initialised /var/lib/scylla.

I tried both versions before fix of 3324 and version before la format was introduced...

[2018-04-15 09:54] duarten commented on #3324
Unfortunately, that's the extent of the information I can provide. There were `ka` sstables (I didn't preserve them, and I don't know the commit I was at when they were created), Scylla booted and tried to delete `la` sstables instead of `ka`, and then it tried to delete that missing sstable (presumably because that's the standard reaction to an error), and so on and so forth.

[2018-04-15 09:57] duarten commented on #3324
Looking closer, it seems the issue is probably unrelated to this: we were failing to create the sstable and getting ENOENT, which missing something was missing in the path?

[2018-04-15 11:39] slivne commented on #3050
@amoskong

yes its acceptable

did it work ?

I need an answer

* can we upgrade from 2017.1.6 and rollback
* can we upgrade from 2.X and rollback

[2018-04-15 14:50] nyh opened #3359 "In LCS, do strong compression on highest level, no compression on low levels"
This idea is based on the RocksDB paper (http://cidrdb.org/cidr2017/papers/p82-dong-cidr17.pdf). It was called "Worthwhile idea" by @avikivity and "[one of] nice optimizations that we should do"  by @dorlaor  in internal mails.

The idea is, in leveled compaction strategy (LCS), to use heavy-duty and possibly slow compression for the highest levels (they say level 3 and above), and very light comp

[2018-04-15 18:29] slivne commented on #3350
@glommer are these supposed to fix the issue - after backporting them - did the test pass (it doesn't pass for me)

[2018-04-15 19:40] duarten opened #3360 "Base table regular column in view's PK should determine its liveness"
*Installation details*
Scylla version (or git commit hash): >= 1.6

When views contain a primary key column that is not part of the base table primary key, that column determines whether the row is live or not. We need to ensure that when that cell is dead, and thus the derived row marker, either by normal deletion of by TTL, so is the rest of the row.

Assume:
[code]

Example without TTL:
[code]

[2018-04-15 20:06] duarten opened #3361 "Selected columns in MV should keep row alive regardless of timestamp"
*Installation details*
Scylla version (or git commit hash): >= 1.6

When a view's PK only contains the columns that form the base's PK, then the liveness of a particular view row is determined not only by the base row's marker, but also by the selected and, more importantly, unselected columns.

This issues concerns itself with late update to selected columns.

Consider the following:

[code]

Aft

[2018-04-15 20:39] duarten opened #3362 "Unselected columns should keep MV row alive"
*Installation details*
Scylla version (or git commit hash): >= 1.6

Related Cassandra issue: Issue: https://issues.apache.org/jira/browse/CASSANDRA-13826

When a view's PK only contains the columns that form the base's PK, then the liveness of a particular view row is determined not only by the base row's marker, but also by the selected and, more importantly, unselected columns.

However, unselec

[2018-04-16 03:33] lokkju commented on #755
One use case I'd give is a table that is constantly being updated; for instance, a user-resource-last-accessed table, with a UserId, ResourceId, FirstAccessedDate,LastAccessedDate, and AccessedCount.  If this is constantly being updated and accessed, and in memory table that has batched writes or similar would be useful.  Of course, the argument could be made this isn't a proper use case for Scyll

[2018-04-16 03:46] glommer commented on #3350
I haven't run then - I just pointed out patches that were obviously missing (one of them could very well explain the regression). If it still fails, then I will run it tomorrow.

[2018-04-16 03:49] dorlaor commented on #755
We're planning to support it in the enterprise release of 2018.2 (mid year)

On Sun, Apr 15, 2018 at 8:33 PM, Loki Coyote <notifications@github.com>
wrote:

[2018-04-16 07:33] slivne commented on #3050
On Mon, Apr 16, 2018 at 7:23 AM, Amos Kong <notifications@github.com> wrote:

I don't understand what this means

I'll try to ask in a clearer fashion

Can we rollback with the new procedure that takuya provided above ?

[2018-04-16 08:29] amoskong opened #3363 "Fail to upgrade from 2.1 to 2018.1 by `sudo yum update scylla\*`"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

[code]

@syuu1228

[2018-04-16 08:30] amoskong commented on #3363
The working (workaround) scenario is remove 2.1 packages first, then reinstall scylla-enterprise 2018.1

[2018-04-16 08:32] slivne commented on #3363
@amoskong
the workaround is the only procedure that should work
can you also please test rollback (again you may need to remove enterprise and install 2.1)

[2018-04-16 09:01] amoskong commented on #3050
On Mon, Apr 16, 2018 at 3:33 PM, Shlomi Livne <notifications@github.com>
wrote:

Takuya's procedure only provide a way to downgrade parts of packages, we
need to reinstall the miss packages.

sudo yum remove scylla-enterprise-tools-core
(scylla-enterprise-tools-core, scylla-enterprise, scylla-enterprise-tools
will be removed)

sudo yum downgrade scylla\*
(other scylla-enterprise packages will be d

[2018-04-16 09:29] tgrabiec commented on #3357
I haven't looked at the coredump, but it smells like a use-after-free on the dropped `column_family`.

[2018-04-16 10:40] roydahan commented on #3343
@slivne, can we fix it somehow?

[2018-04-16 13:00] nyh commented on #2367
I'm working on this issue. @duarten has already written a couple of tests for this case in view_schema_test.cc which fail so they are commented out - I'll make these tests pass, and think if more cases need to be tested.

[2018-04-16 13:34] slivne commented on #3350
@glommer - the tests passed on jenkins and I rebuilt from scratch and tested and they do pass now - closing the issue

[2018-04-16 14:01] duarten commented on #3362
Proper regular column filtering also depends on this patch. Regardless of whether the view's PK includes a base regular column, having the view row depend on the values and, thus, liveness of (typically) unselected base columns, is another instance of this issue.

[2018-04-16 15:07] #3350 closed

[2018-04-16 15:08] #3332 closed

[2018-04-16 15:08] #3330 closed

[2018-04-16 15:51] syuu1228 commented on #3363
@amoskong @slivne Looks like incorrect/missing "Obsoletes" tag problem, "[PATCH scylla-enterprisfe] dist/redhat: scylla-enterprise metapackage should obsoletes scylla metapackage" and "[PATCH scylla-enterprise-tools] dist/redhat: obsolete scylla-tools-core < 2.2 as well" should fix the upgrade error.

[2018-04-16 16:15] ysubach commented on #3262
@avikivity Any ETA for next 2.1 release?

[2018-04-16 16:37] avikivity commented on #3262
@ysubach I'll start the ball rolling.

[2018-04-16 17:08] ysubach commented on #3262
Thanks!

[2018-04-16 19:11] syuu1228 opened #3364 "dist/debian: 'lsb_release: command not found' causes when it doesn't installed"
[code]
we need to call it only after command existence check.

[2018-04-16 20:13] syuu1228 opened #3365 "dist/debian: "WARNING: apt does not have a stable CLI interface. Use with caution in scripts.""
We get following warning on Ubuntu package building:
[code]

dist/debian/ubuntu_enable_ppa.sh should use apt-get install instead of apt install.

[2018-04-16 23:26] syuu1228 opened #3366 "dist/debian: sudo may breaks .deb build when it's forcing to reset HOME"
I found that some environment does not load correct pbuilderrc and tries to use default distribution even we specified another distribution version:
[code]
We get this on our Fedora27 Jenkins build servers.
This is because sudo reset HOME environment variable, we need to keep HOME or copy pbuilderrc to /root or specify config file path on pbuilder parameter.

[2018-04-16 23:31] syuu1228 commented on #3366
Looks like this is the parameter on /etc/sudoers which breaking build:
[code]

[2018-04-17 10:40] #3364 closed

[2018-04-17 10:40] #3365 closed

[2018-04-17 10:40] #3366 closed

[2018-04-17 10:42] duarten opened #3367 "gossip: Streamline feature checking"
As Scylla evolves, it gains new features and capabilities. Some of these change the inter-node protocol, so we ensure those features are enabled only when the whole cluster supports them. This is typically the case when doing a rolling upgrade, where the upgrade can be aborted at any step. Downgrades are not supported.

When a node attempts to join a cluster we perform feature checking, which veri

[2018-04-17 13:01] nyh commented on #2367
I've managed to fix part of this issue, but there is one big problem I'm still struggling with.
Our code creates from the SELECT statement a "restrictions" object, and later validates it in, for example, statement_restrictions::process_clustering_columns_restrictions().
But while it is easy for me to remove the excessive validation from the code which builds the "restrictions" object, it is very h

[2018-04-17 13:07] duarten commented on #2367
I don't.

I've proposed in the past that we move our structure closer to Cassandra's, or these types of issues might keep popping up :/

[2018-04-17 13:35] avikivity commented on #2367
IMO the best structure would be a neutral AST (no methods) with all of the operations done via visitors.

[2018-04-17 16:25] nyh commented on #2371
See also somewhat related #2367.
However, @duarten, there is something I don't understand: Given the user updated a row (a, b, c) in the base table, we can check if this specific row matches the filter, and read only this specific row from disk. Given we already know which row to read, why do we need to represent that "c=1" restriction in the read?

[2018-04-17 16:40] duarten commented on #2371
Oh, I had forgotten what this issue was about. It is very low priority IMO.

To answer your question, because no existing row many fulfil that restriction. Now we have to validate in the view building code whether the existing row matches the view's constraints, but we wouldn't have to do that if we could push them down.

[2018-04-17 16:46] nyh commented on #2371
I am still not sure I understand. We ask to read just one row, and then, yes, we need to check if this row actually matches the filter (if it doesn't, we can assume there is no such data in the view table). You're suggesting we can somehow read less than the full row (e.g., just the key columns) and figure out we don't need the row even without reading the entire row? Or is your suggested optimiza

[2018-04-17 16:50] duarten opened #3368 "Unable to count() a column with type UUID"
*Installation details*
Scylla version (or git commit hash): >= 1.0

The following error happens when `count()`ing a column with type UUID:

[code]

[2018-04-17 16:53] nyh commented on #2371
Oh, and @duarten is this issue about performance optimization, or correctness? If it the former, I think we should drop the "cassandra 3.x compatibility" tag?

[2018-04-17 16:55] duarten commented on #2371
I already dropped the tag :)

We don't read just one row, because the user may be mutating more than one row. We read N rows. If none of them match the filter, we perform needless work. If our readers can skip rows that don't match the filters, then we skip some extra work.

[2018-04-17 16:55] duarten commented on #2371
Oh, I did but github didn't. Eventual consistency ftw!

[2018-04-17 17:39] argenet opened #3369 "perf_sstable crashes when running 'write' mode tests"
Scylla version (or git commit hash): 638a647b7de6c984a96818a6f6b83f3b7d524174

When running
[code]

it crashes with:
[code]

Encoded backtrace is:
[code]

[2018-04-17 17:51] raphaelsc commented on #3369
we need to add these perf tests to our continuous integration. they're
breaking very constantly

On Tue, Apr 17, 2018 at 2:39 PM, Vladimir Krivopalov <
notifications@github.com> wrote:

[2018-04-18 01:08] eyalgutkind commented on #3187
Any update on this issue?
/cc @gmatza

[2018-04-18 09:17] #3368 closed

[2018-04-18 14:09] penberg commented on #2962
The relevant Apache Cassandra issues are:

https://issues.apache.org/jira/browse/CASSANDRA-4511

https://issues.apache.org/jira/browse/CASSANDRA-6383

https://issues.apache.org/jira/browse/CASSANDRA-8473

[2018-04-18 14:11] penberg commented on #2963
The relevant Apache Cassandra issue is:

https://issues.apache.org/jira/browse/CASSANDRA-8103

[2018-04-18 16:31] amoskong opened #3370 "coredump occurred when restarting scylla-server during scylla-ami-setup"
*Installation details*
Scylla version (or git commit hash): 2.1.2-0.20180417.87cb8a1fa
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI ami-98dd7ee7

[code]

[code]

Coredump info:
[code]

Uploaded Coredump: upload.scylladb.com/core.scylla.994.8295552df6cc43d7b3c7c4bb9dedaea9.12886.1523988483000000/core.scylla.994.8295552df6cc43d7b3c7c4bb9dedaea9.12886.1523988483000000.gz  (access by gce stora

[2018-04-19 22:38] raphaelsc commented on #3302
252 DFS should be total number of sstables generated by resharding, because all the 36 sstables now became shared by all shards. I was having a discussion with Avi, and we think it's not good but not a terrible problem for CFs without leveled strategy. For leveled strategy, we need to reshard more sstables together to avoid it being actually terrible.

[2018-04-19 22:39] raphaelsc commented on #3302
There's a problem with resource usage though, which will be fixed by patch sent to mailing list as -> sstables: fix bloom filter size after resharding by properly estimating partition count

[2018-04-19 22:45] raphaelsc commented on #3303
@juliaangell Hi. I need more details. Was it a clean restart? Did you upload any sstable in the interval scylla was offline? From the log, i see it's a dtest. Which one?

[2018-04-20 09:12] tgrabiec opened #3371 "Range scans after repair may OOM due to large amount of small sstables"
*Installation details*
Scylla version: <= 2.0.x

If partitions which are streamed are large-enough to be fragmented (>128KB), they will be stored in sstables which are attached only after the streaming is done. This may result in a lot of small sstables attached to a table at once. A range scan will need to open and read from all of them at once, which may exhaust memory if the number of sstables

[2018-04-20 10:06] psarna commented on #3292
From these variants of implementing system.large_partitions:
  - creating this table in system keyspace and using regular `execute_cql()` to insert/update/delete rows
_or_
  - creating this table in system keyspace with specified `virtual_reader`, which generates rows on the fly from some local data structures

which one is better? Suggestions? Variant A is definitely easier to implement and manag

[2018-04-20 10:16] duarten commented on #3292
From an implementation POV a virtual table is better, but having a persistent table means the data isn't lost upon a restart. @glommer will know best whether that's valuable.

[2018-04-20 10:27] duarten commented on #3292
It's better because you don't have to do periodic inserts (what's the period?), or have sstable code call into the query processor (or implement some decoupling boilerplate); you also don't incur in the costs of storage, which can also mean hiccups or worsen tail latency due to flushes and compactions.

[2018-04-20 12:09] tgrabiec commented on #3292
2018-04-20 12:27 GMT+02:00 Duarte Nunes <notifications@github.com>:

I assumed we'd go with having an entry per sstable, so we would insert when
writing to an sstable and not periodically. Decoupling sstable writing from
updates of the new table is what we need to do anyway. I think calling into
query processor is still simpler than implementing a generic reader
interface.

Perhaps the overhead of

[2018-04-20 17:18] Meai1 commented on #3208
master fails to build for me still, I have the latest boost and gcc 7.2 on centos 7.4
I'm including the configure command with the params but the error is below.

[code]

[2018-04-22 08:19] nirmaayan opened #3372 "Improve error message - nodetool refresh"
*Installation details*
Scylla version (or git commit hash): 2.0.2
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

Steps to reproduce
1. Create keyspace - `CREATE KEYSPACE nba WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : '3'};
`
2. Create table - `
CREATE TABLE nba.omg (
id int,
a int,
b text,
c text,
PRIMARY KEY ((id, a), b)
);
`
3. Run `nodetool refresh nba omg`
This issu

[2018-04-22 10:33] slivne commented on #3344
@avikivity , @syuu1228 - ping - any resolution

[2018-04-22 10:37] slivne commented on #3343
it should be fixed now

[2018-04-22 10:44] avikivity commented on #3344
@syuu1228 does it work without the capability line? if so, we can just remove that line for now.

[2018-04-22 10:44] avikivity commented on #3344
(just for debian 8)

[2018-04-22 10:44] slivne commented on #3250
@vladzcloudius - can you summarize the regression - was it 3% difference ?

[2018-04-22 10:45] slivne commented on #3248
@syuu1228 ping

[2018-04-22 11:01] slivne commented on #3209
@raphaelsc  - I retested this on 2.1.1 it still crashes

[2018-04-22 11:06] slivne commented on #3180
#2576 is fixed as part of 2.2 - we can test using the profile and see if its fixed

[2018-04-22 11:28] syuu1228 commented on #3344
@avikivity It just starts finely (w/o the capability line), and I also tested with cassandra-stress for few minites, no errors occurred. So I think we can drop the line for Debian8 for now

[2018-04-22 11:44] slivne commented on #3155
@roydahan lets retest this on master / 2.3

[2018-04-22 11:47] slivne commented on #3052
@amoskong - installation / upgrade / rollback - are they aligned - if so I'll close this issue

[2018-04-22 11:48] slivne commented on #3076
@tzach - can I close this

[2018-04-22 11:49] slivne commented on #2950
@roydahan ping

[2018-04-22 11:52] syuu1228 opened #3373 "dist/redhat: fails to upgrade 2.1 -> 2.2 on CentOS"
scylla-libgcc73 conflicts with scylla-libgcc72, since it does not have Obsoletes tag correctly:
[code]

[2018-04-22 12:11] nyh opened #3374 "Truncating a base table should also truncate its materialized views"
https://docs.datastax.com/en/cql/3.3/cql/cql_reference/cqlTruncate.html explains that TRUNCATE "Removes all data from the specified table immediately and irreversibly, **and removes all data from any materialized views derived from that table.**".

According to what is described in issue #3357, this doesn't happen - the data is removed from the base table, but the view tables remain at their origi

[2018-04-22 12:24] nyh commented on #3278
I'm assuming that by "date" you mean a day (not including time), so all your 1.5 million records fall into just 365 partitions in the index, and if the date is really random, there should be about 4109 records in each partition. If you asked to read all those partitions it could take some time because the actual data is all over the cluster (although, 4109 is not a huge number), but just counting

[2018-04-22 12:46] #3076 closed

[2018-04-22 12:50] nyh commented on #3357
By the way, the problem of the MV tables not being truncated was already solved (see #3200), but of course we still need to fix the crash bug.

[2018-04-22 13:11] nyh commented on #3231
@slivne  I think you should remove the "sec index" tag from this issue. It is an "ALLOW FILTERING" issue, but not a secondary index issue, and a secondary index would not have helped as far as I can tell (an implementation like SASI could, but this is not what we have planned now).

[2018-04-22 13:16] nyh commented on #3230
By the way, even if we don't add this feature, we should at least fix the error message to print "id_c" instead of the gibberish "69645f63".

[2018-04-22 13:45] dorlaor commented on #3230
Even though it can translate to an extreme case, it can still be functional
to user. I think functionality is more important than protecting the user

On Sun, Apr 22, 2018, 06:16 nyh <notifications@github.com> wrote:

[2018-04-22 13:46] nyh commented on #2964
@penberg can you please say a few more words about what is missing? Is some sort of API missing (which)? Something wrong with SI or MV support for Thrift-created tables? Or what?

[2018-04-22 14:07] duarten commented on #3230
At the moment I don't think this can be implemented in any sane way. Our SI/MV implementation is eventually consistent with the base table, so using that to drive updates to the base table will result in inconsistencies (not all base rows matching the filter are updated); in the worst case, the update is lost.

[2018-04-22 17:01] nyh commented on #2963
It appears this feature was only added in Cassandra 3.4, so I would consider this a lower priority item.

[2018-04-22 18:04] nyh commented on #2962
@duarten I think the answer is "frozen". If I understand correctly, when indexing either sets or lists, the key in the index table should be the individual values - not the entire set as a whole. So one row in the base table would be translated to many partitions in the index table, basically many copies of the same row under many keys. I think we'll need special support for MV doing that, that it

[2018-04-22 18:34] duarten commented on #2962
We could represent this at the schema level by an MV whose partition key column name maps to a collection regular column in the base, and whose type is that of the collection's elements (might be tricker for maps). Then, when generating view updates, delete and insert N view rows based on the collection's contents. This would work both for frozen and unfrozen collections.

[2018-04-22 18:48] roydahan commented on #2950
we can close this one.

[2018-04-22 18:48] #2950 closed

[2018-04-22 21:48] raphaelsc opened #3375 "Limit bloom filter size based on shard memory"

[2018-04-22 21:50] duarten commented on #3375
Overlaps (maybe duplicates) #2130.

[2018-04-22 21:51] raphaelsc commented on #3375
thanks. closing it

[2018-04-22 21:51] #3375 closed

[2018-04-23 01:49] asias opened #3376 "node stuck at boot up"
Commit scylla master:

513479f624b58e402eeac3241e21842f4bb15bd6

How to reproduce:

export SCYLLA_EXT_OPTS="--smp 2 --memory 2G"
update_cluster_layout_tests.py:TestUpdateClusterLayout.simple_add_node_1_test

[code]

[2018-04-23 02:11] asias commented on #3376
After revert 513479f624b58e402eeac3241e21842f4bb15bd6, the test passes.

[2018-04-23 03:46] avikivity commented on #3376
/cc @haaawk

[2018-04-23 07:15] denesb commented on #3208
I have successfully compiled scylla master on centos 7.4 just today. Unfortunately `install-dependencies.sh` does not install the correct packages it's somewhat outdated. I will send some patches to correct this soon. In the meanwhile please try this:
* Install `scylla-gcc73-c++` (unfortunately you'll need to uninstall gcc72 manually).
* Install `ragel-devel`
* Install `scylla-boost163-devel`
* In

[2018-04-23 08:31] syuu1228 commented on #3344
Sent patch "[PATCH scylla] dist: Drop AmbientCapabilities from scylla-server.service for Debian 8"

[2018-04-23 08:50] elcallio commented on #3187
While it is fairly easy to replace the use if ipv4_addr as native type (and consequent non-support for ipv6) in the actual data type used in scylla, it would break all the code (various places) that put and retrieve inet cells in tables, since these places right now assume and use ipv4-only address types. And since the connection cql->what comes out in our native code is somewhat loose, it would b

[2018-04-23 08:56] tzach commented on #3187
@elcallio note that this is for CQL only, not for seastar/scylla itself to support ipv6 (#2027)
Does this make it easier?

[2018-04-23 09:00] elcallio commented on #3187
No. Scylla still writes/reads ipv4 addresses from/to tables. But it might be possible to augument reasonably semi-intrusively. I just worry about places that might do the equivalent of reinterpret_cast.

[2018-04-23 11:17] #3344 closed

[2018-04-23 11:35] ishibaev opened #3377 "scylla-server conflicts with abrt-2.1.11-50.el7.x86_64"
*Installation details*
Scylla version (or git commit hash): trying to create 2.1.2 offline package
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): Red Hat Enterprise Linux Server release 7.5 (Maipo)

When I run (as root)
yumdownloader --installroot=/build/installroot --archlist=x86_64 --destdir=build/offline_installer --resolve scylla

I received error -
_scylla-server conflicts with abrt-2

[2018-04-23 12:48] vladzcloudius commented on #3250
@slivne No, it's ~9% difference as mentioned in my post from March 2 above.

[2018-04-23 12:53] denesb commented on #3208
Patches are on the mailing list. Though I can confirm that `tests/perf/perf_fast_forward` is not compiling. @argenet can you have a look please? Is it related to `jsoncpp` version somehow?

[2018-04-23 13:38] alokgogate opened #3378 "select count(*) from table not working"
Hello

I have installed scylla db and when I do
`select count(*) from abc`
or count(*) or count(1) from table I get timeout errors. Rest queries do seem to work

Any suggestion?

[2018-04-23 15:56] #3140 closed

[2018-04-23 15:56] #3360 closed

[2018-04-23 15:56] #3361 closed

[2018-04-23 15:56] #2367 closed

[2018-04-23 15:56] #2672 closed

[2018-04-23 17:26] dorlaor commented on #3378
Count goes over the entire table. You should increase your timeout in order
to wait for the answer which is
a function of the amount of data you have and cluster speed

On Mon, Apr 23, 2018 at 6:38 AM, alokgogate <notifications@github.com>
wrote:

[2018-04-23 18:23] argenet opened #3379 "Improve install-dependencies.sh for Debian and Ubuntu"
Scylla version (or git commit hash): master (11940ca39e26bebcb67c074ea48da170836e75f9)

Currently, the `install-dependencies.sh` script does not contain/use information about supported versions of external packages used for building Scylla. Also, it doesn't install some packages (`thrift`, `antlr3`) and notifies the user on that:
[code]

Our current logic of the `install-dependencies.sh` for Debia

[2018-04-23 19:56] slivne commented on #1560
2.2 will introduce the cpu scheduler - we will update the issue with tests done with SCT

@roydahan

[2018-04-23 20:04] slivne commented on #1825
streaming is being updated  providing progress will be done following the updated

[2018-04-23 20:06] slivne commented on #2042
the answer is yes .... in cassandra a reboot is required as well.

we may need to document that / include it in FAQ - @tzach

[2018-04-23 20:13] slivne commented on #2419
closing this issue

we had many fixes in gossip - we have not tackled that since Jul 2017 (1.7.X) - if it happens again we can reopen and investigate the issue

[2018-04-23 20:13] #2419 closed

[2018-04-23 20:28] slivne commented on #2804
@roydahan we had a fix in 1.7 - but since then we have moved code from posix_net_conf.sh to perftune.py  need to retest and see if this is not resolved

[2018-04-23 20:30] slivne commented on #2877
@nirmaayan / @vladzcloudius - is this still open ?

[2018-04-23 20:32] slivne commented on #2893
closing this issue - if we see it again we can reopen

[2018-04-23 20:32] #2893 closed

[2018-04-23 20:39] nirmaayan commented on #2877
I’ll double check it

Sent from my iPhone

[2018-04-23 23:18] asias commented on #2782
On Tue, Apr 24, 2018, 04:23 Shlomi Livne <notifications@github.com> wrote:

What change are you referring to?

[2018-04-24 00:20] argenet commented on #3208
The problem occurs because CentOS ships with JsonCpp 1.5.0 which has the following typedefs:
[code]

So, when `Json::Value` is cast to an underlying value with `as(U)Int64()`, it effectively returns not `(u)int64_t` but `(unsigned) long long int` which can be or can be not the same type hence the ambiguity.
See more on that here: https://stackoverflow.com/questions/4160945/c-long-long-int-vs-long-

[2018-04-24 05:29] tzach commented on #2042
Already documented http://docs.scylladb.com/operating-scylla/troubleshooting/failed_decommission/
Thanks to @nirmaayan

[2018-04-24 05:33] tzach commented on #3377
duplicate with #892

[2018-04-24 06:52] slivne opened #3380 "Redefine LCS"
Quoting Avi:

more in "[dev-int] backlog estimation for LeveledCompaction"

[2018-04-24 06:58] syuu1228 commented on #3373
The issue fixed on scylla-gcc73-7.3.1-1.1, now building on Copr (usually it takes 5-7 hours) https://copr.fedorainfracloud.org/coprs/scylladb/scylla-3rdparty/build/744774/

[2018-04-24 07:02] nyh commented on #3380
This the a dup of #2912 ?

[2018-04-24 07:13] syuu1228 opened #3381 "dist/debian: fails to upgrade 2.1 -> 2.2 on Ubuntu/Debian"
Same problem with #3373, but on different distribution:
[code]

[2018-04-24 07:42] avikivity commented on #3373
@syuu1228 we should strive for parallel-installable tools in scylla-3rdparty, so a single workstation can be used to build several versions without uninstalling packages.

[2018-04-24 08:42] #3208 closed

[2018-04-24 08:57] ishibaev commented on #3377
#892 case is about problem with ABRT.
My problem with one step, when I'm  trying to create local installer, the strange message about ABRT package appeared. ABTR package is not installed on host, it's only available in yum, but not installed.
with all this information above, does my  case still duplicate with #892 ?

[2018-04-24 09:04] #2784 closed

[2018-04-24 09:37] tzach commented on #3377
@ishibaev I'm not sure. @syuu1228 can you help?

[2018-04-24 09:43] nyh commented on #3346
I have the following. Not sure if it's the same problem:

[2018-04-24 09:48] haaawk commented on #3376
@avikivity There was a wrong conflict resolution in sstable::read_filter. I fixed it and resubmit the patchset. Sorry I haven't found it earlier but the issue does not appear on the first start (only on second and later) of the server.

[2018-04-24 09:52] denesb commented on #3376
Maybe we should have a boot unit test (not sure how to do that). This
is not the first time a dev have run all the unit tests but forgot to
check if scylla boots (guilty).

[2018-04-24 10:04] haaawk commented on #3376
In this case you have to boot it twice to see the problem - that's more than you can ask from a dev :P.

I agree though that a boot test (I wouldn't call it unit test) would be great. Especially if it could boot the server twice ;). I don't think it would be enough if it was a part of checks performed on next branch.

[2018-04-24 10:10] tzach commented on #3378
@alokgogate closing this since it's not a bug. Selecting over the entire DB and all nodes will take time.
As @dorlaor suggested, you can increase the client side timer, but it's a short-term solution. Running `select count` is an anti-pattern.
See #1385 for a possible enhancement to improve in this case.

[2018-04-24 10:10] #3378 closed

[2018-04-24 10:11] tzach commented on #3363
@amoskong this issue belongs in the enterprise project

[2018-04-24 10:12] tzach commented on #3309
@himanshuk359 any updates?

[2018-04-24 10:17] tzach commented on #3231
@nyh so this is not a bug, and not Apache Cassandra compatibility issue (C* does not support it either) rather a possible enhancement. Is it the case?

[2018-04-24 10:24] nyh commented on #3231
@tzach maybe I'm misunderstanding something, but this is a bug - first that without "ALLOW FILTERING" the user doesn't get an informative message, and second, that with "ALLOW FILTERING" it doesn't work but apparently (?) it does work in Cassandra. Maybe the second part is a dup of #2200 - @penberg ?

[2018-04-24 10:45] duarten commented on #1385
A potential complication is that for CL > 1, different replicas for the same range may have different rows which need to be merged. We would need to send back a digest to the coordinator along with the reduced result, so it knows to do a full, reconciling query.

[2018-04-24 11:07] asias opened #3382 "dtest fail with sorted_tokens is empty in first_token_index"
Scylla version (or git commit hash): 11940ca39e26bebcb67c074ea48da170836e75f9

update_cluster_layout_tests.py:TestUpdateClusterLayout.increment_decrement_counters_in_threads_nodes_restarted_test

[code]

[2018-04-24 11:39] duarten commented on #3382
This happens in many tests. I think it may be related to #3121.

[2018-04-24 11:55] tzach commented on #3378
The timeout you are getting is most likely from the client
If for example, you are using cqlsh, try using
[code]

[2018-04-24 12:12] duarten commented on #3357
@tzach Why do you think this is related to materialized views and secondary indexes?

[2018-04-24 12:16] tzach commented on #3357
From the issue subject

[2018-04-24 12:28] slivne opened #3383 "Use hinted handoff to "replay" missed consistency updates from base to view"

[2018-04-24 12:28] nyh commented on #3357
@duarten he got this problem when dropping a materialized view created automatically by the SI code (probably it's not a good thing that this is even allowed :-)). So it may be related to MV or SI - or just be a generic bug which was randomly found in an SI use case. I don't think we really know yet?

[2018-04-24 12:28] slivne commented on #3340
created #3383 to use hintted handoff for base --> view failed updates

[2018-04-24 12:45] LavishPatodi commented on #3378
@tzach  thanks for your quick response it really helped.

[2018-04-24 12:53] nyh opened #3384 "Metrics for secondary index feature"
We should define, and implement, various metrics for the secondary index feature.

For example, we could count:
- secondary index creations, deletions, number existing concurrently, etc.
- requests using a secondary index (searches)
- ditto, but only count first page request.
- rows returned as result of such search

And probably other stuff we'll think of, and/or inspired by other counters we hav

[2018-04-24 13:08] juliayakovlev commented on #3382
I received same problem despite the #3121 is closed.
I ran dtest (materialized_views_test.py) on scylla master includes the commit that the #3121 is closed with:

[juliay@juliay scylla]$ git branch
* master
[juliay@juliay scylla]$ git log | grep 3c8ed25
commit 3c8ed255ace9575aca161e45f190cd2ba7224c1c

[2018-04-24 13:22] duarten opened #3385 "Metrics for materialized views"
*Installation details*
Scylla version (or git commit hash): >= 1.6

We should add metrics for materialized views, namely:

- View updates pushed to the paired view replicas;
- View updates we failed to push;
- Similar to `cell_locker_stats`, stats about row lock acquisition, maybe even the time a particular fiber had to wait.

[2018-04-24 13:56] syuu1228 commented on #3381
The bug fixed on scylla-gcc73-7.3.0-3ubuntu2, started building on launchpad/OBS, takes few more hours:
https://launchpad.net/~scylladb/+archive/ubuntu/ppa/+packages
https://build.opensuse.org/package/show/home:scylladb:scylla-3rdparty-jessie/scylla-gcc73
https://build.opensuse.org/package/show/home:scylladb:scylla-3rdparty-stretch/scylla-gcc73

[2018-04-24 14:07] duarten commented on #3357
I think we probably have a pointer or reference where we would probably need to keep a `lw_shared_ptr`.

It's true that we should disallow `drop materialized view` on views backing secondary indexes, I've sent a patch for that.

[2018-04-24 15:17] slivne commented on #3303
its the wrong julia ..... @juliayakovlev

"Hi. I need more details. Was it a clean restart? Did you upload any sstable in the interval scylla was offline? From the log, i see it's a dtest. Which one?"

[2018-04-24 17:25] roydahan commented on #1560
I'll update with findings soon

[2018-04-24 20:42] gnumoreno commented on #3068
Reproduced on Scylla 2.1.2-0.20180417.87cb8a1fa using AWS AMI (i3.2xlarge)

[2018-04-24 20:56] glommer commented on #3068
@gnumoreno the fix is not in 2.1. You can check that by viewing which commit fixes the issue (it gets printed when it is closed), and then searching for it in origin/branch-2.1

[2018-04-25 08:13] frank8989 commented on #2397
It occurred on our cluster for Scylla 2.0 with  12 "Reactor stalled for 2000 ms on shard .." on one node.

[2018-04-25 08:33] amoskong opened #3386 "scale 200: seastar - Exiting on unhandled exception: std::runtime_error (Unable to contact any seeds!)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180416.07fb2e9c4
Cluster size: 200
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-6812b317

Test steps:
1. create a cluster with 200 db nodes
2. add nodes to the cluster one by one (increase db nodes number to 500)

Test result:
Error raises after first node (the seed node) started:  Exiting on unhandled exception: std::runtime_

[2018-04-25 08:41] asias commented on #3386
What do you mean by the first node? Is it node 1 or node 201?

On Wed, Apr 25, 2018, 16:33 Amos Kong <notifications@github.com> wrote:

[2018-04-25 08:42] asias commented on #3386
What is the seed configuration?

On Wed, Apr 25, 2018, 16:41 Asias He <asias@scylladb.com> wrote:

[2018-04-25 08:57] amoskong commented on #3386
The first node is node1, it's created first. The seed is configured by AMI it self.  The cluster were already destroyed, I can't provide the data.

[2018-04-25 09:01] asias commented on #3386
Do do you start the 200 node in step 2. I saw "--bootstrap true
--totalnodes 200". This is not going to work because we can not bootstrap
200 node at a time. When you want to start a empty cluster with a lot of
nodes, run with --bootstrap false.

On Wed, Apr 25, 2018 at 4:57 PM, Amos Kong <notifications@github.com> wrote:

--
Asias

[2018-04-25 09:04] syuu1228 commented on #3381
Fixed now.

[2018-04-25 09:04] #3381 closed

[2018-04-25 09:09] amoskong commented on #3386
Attached some related log of ami-setup:
- `Using seed indexes: [0, 200, 200]`
- `Reflector: Received 1 of 1 responses from: [u'172.16.1.44']`

Node cluster-scale-test-amos-db-node-320d7df8-1 [52.201.241.214 | 172.16.1.92]
Node cluster-scale-test-amos-db-node-320d7df8-14 [34.227.96.97 | 172.16.1.44]

[code]

scylla-ami-setup of cluster-scale-test-amos-db-node-320d7df8-14 (172.16.1.44) was started v

[2018-04-25 09:14] asias commented on #3386
On Wed, Apr 25, 2018 at 5:09 PM, Amos Kong <notifications@github.com> wrote:

This is problematic.

I think in the test, you can start the seed node(s) first. Then add the
remaining 200 - N node. Then bootstrap more node.

--
Asias

[2018-04-25 09:15] syuu1228 opened #3387 "dist/debian: fails to downgrade from 2.2 -> 2.1"
Related with #3052, but on 2.2 we are not able to downgrade by a method that I described on #3052 thread (https://github.com/scylladb/scylla/issues/3052#issuecomment-380507268), due to libstdc++6/libgcc1 package name change:

[code]

[2018-04-25 09:15] syuu1228 commented on #3387
Also related with https://github.com/scylladb/scylla/issues/3381

[2018-04-25 09:28] nyh opened #3388 "materialized view doesn't work when partition column's name is case sensitive"
If a materialized view is created when the base table's partition key column name is case-sensitive (wrapped in double-quotes), we get errors while using it:
[code]

The table is created fine, but the INSERT fails with the following line in the log
[code]

This bug also directly causes a bug in secondary-indexing when the table's partition key column name is case-sensitive. That bug is similar in

[2018-04-25 09:31] duarten commented on #3388
`test_case_sensitivity` was supposed to cover this, but I guess it doesn't!

[2018-04-25 09:35] tgrabiec opened #3389 "Exception during schema merge may leave the node with an inconsistent schema until restarted"
Schema change notifications are processed in two steps:
  1) applying changes to local schema tables
  2) updating in-memory structures based on the diff

If a failure happens after 1 is completed but before 2 is completed then in-memory structures will use stale schema, until the node is restarted or affected entities are altered. The node gossips its schema version based on local schema tables c

[2018-04-25 09:43] nyh commented on #3388
Hi, @duarten does that even test anything?
First of all, because none of the identifiers in that test are quoted, they are NOT actually case sensitive, and all should be folded to lowercase despite the fancy camel casing.
Second, even that folding isn't tested, because you always used the same camel casing and didn't even try to use "theClustering" on one line and "tHecLusTerinG" on another line t

[2018-04-25 09:47] duarten commented on #3388
It's missing the quotes. If it was working, it wouldn't be passing :)

No need for a new test unless it does something totally different, we should fix and add to the current one.

[2018-04-25 09:52] nyh commented on #3388
@duarten I have no idea what this test intended to test, so it's hard for me to "fix". In particular you do there weird things like renaming columns, and other stuff, which I'm not sure how it's even related to case sensitivity or why we want to retain any of this in test which never really tested what it was supposed to test ;-)

[2018-04-25 09:54] duarten commented on #3388
The test is supposed to test case sensitive columns work correctly, that data can be inserted and queried, and that case sensitive columns in views can be renamed. It's just the quotes that are missing.

[2018-04-25 10:40] amoskong opened #3390 "unstable 2.1.3: scylla-jmx/scylla-tools-core/scylla-tools aren't prepared"
*Installation details*
Scylla version (or git commit hash): 2.1.3-0.20180425.8e33e80ad.el7.centos
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

[Test job log](http://jenkins.cloudius-systems.com:8080/job/scylla-2.1-centos-rpm-test/label=muninn/104/artifact/latest/job.log)  , [used repo link](https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/branch-2.1-branch-2.1-branch

[2018-04-25 10:42] slivne commented on #3390
2.1.3 was not released - what is this job ?

@avikivity - did you update scylla-jmx / scylla-tools as well ?

On Wed, Apr 25, 2018 at 1:40 PM, Amos Kong <notifications@github.com> wrote:

[2018-04-25 10:47] tzach commented on #1470
@roydahan do we have a dtest to check this?

[2018-04-25 10:50] tzach commented on #1560
According to @avikivity 2.2 will not include CPU scheduler tags for repair.
2.3 should include tags and improve this case.

[2018-04-25 10:52] tzach commented on #1800
@amoskong can you please send a patch?

[2018-04-25 10:53] tzach commented on #2038
@roydahan do we have out of disk space nemesis to test such use cases?

[2018-04-25 10:56] tzach commented on #2175
Thanks, @roydahan closing the issue.

[2018-04-25 10:56] #2175 closed

[2018-04-25 11:15] amoskong commented on #3390
The artifact-test used [unstable repo](https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/branch-2.1-branch-2.1-branch-2.1/93/scylla.repo) from `scylla-2.1-centos-rpm` job.

[2018-04-25 13:02] #3154 closed

[2018-04-25 13:02] #3187 closed

[2018-04-25 13:43] nyh opened #3391 "materialized view doesn't work when partition column's name is case sensitive"
This is the same issue title as issue #3388, but it is a different issue with a different cause.

If a materialized view is created when the base table's partition key column name is case-sensitive (wrapped in double-quotes), and this column name explicitly appears in the "SELECT" clause (as opposed to, say, using "SELECT *") we get errors while using it:

[code]

The table is created fine, but th

[2018-04-25 15:28] avikivity opened #3392 ""debugsource" rpm causes centos build to fail"
*Installation details*
Scylla version (or git commit hash): branch-2.0

rpm 4.14 has "debugsource" rpms, in addition to "debuginfo". That's fine, but somehow when building an srpm on Fedora 27, it is infected with debugsource macros, which then don't build in mock centos7.

Found on branch-2.0, but other branches may be affected.

[2018-04-25 17:31] tgrabiec opened #3393 "Multi-DC writes may fail during schema change"
Currently, replicas request schema definition from the local coordinator, not from the original coordinator in another DC. If the local coordinator hasn't yet learned about the new schema version used by the original coordinator, replication may fail with the following message:

[code]

[2018-04-25 17:32] tgrabiec opened #3394 "Nodes may start to frequently exchange schema"
*Installation details*
Scylla version: 2.x

After upgrade from 1.7 to 2.0, nodes will record per-table schema versions which match that on 1.7 to support the rolling upgrade. Any later schema change (after the upgrade is done) will drop this record from affected tables so that the per-table schema version is recalculated. If nodes perform a schema pull (they detect schema mismatch), then the merge

[2018-04-25 17:34] roydahan commented on #2038
Yes.

[2018-04-25 22:17] duarten commented on #2538
Some further comments on the subject.

For a table with V materialized views, an admitted write at a base replica will result, on average, in V * 2 view updates being generated. These updates are then propagated to a set of view replicas, which grows with the amount of view updates generated. We should hold onto an update until the corresponding view replica has acknowledged it, or until resource

[2018-04-26 02:34] syuu1228 commented on #3373
@avikivity Maybe python scripts are not serious issues, but how can we coexist with completely same library with same version number?
Both versions have following libraries:
 /opt/scylladb/lib64/libgcc_s.so.1
 /opt/scylladb/lib64/libstdc++.so.6.0.24

Maybe create different lib directory or change version number?
(Both sounds like not really great idea, but I don't see other solutions)

[2018-04-26 02:36] syuu1228 commented on #3373
Note: We had installation issue after published new version, so we temporally dropped it:
https://github.com/scylladb/scylla/issues/3373#issuecomment-383824542
So we still have this issue now.

[2018-04-26 05:58] tzach commented on #2038
Thanks @roydahan
@gleb-cloudius @raphaelsc @avikivity closing as this is an old issue that was not reproduced.

[2018-04-26 05:58] #2038 closed

[2018-04-26 06:25] slivne commented on #3381
@syuu1228 - is this fixed - or should we reopen

[2018-04-26 06:35] slivne commented on #2538
For regular writes we move background writes to become foreground writes -
and thus delay the response to the client - providing some backpressure
toward the client.

In MV - AFAIK we do not do that - should we consider moving the base -->
view writes from being background to foreground ?

On Thu, Apr 26, 2018 at 9:21 AM, Avi Kivity <notifications@github.com>
wrote:

[2018-04-26 08:53] juliayakovlev opened #3395 "In 2.2.x version sstableloader should support both la and lb files."
In 2.2.x version sstableloader should support both la and lb files.

2 dtests failed for 2.2 version (for 2.1. they passed):
- migration_test.py/migrate_sstable_with_counter_2_2_test
- migration_test.py/migrate_sstable_with_variant_data_types_2_2_test

The error is:

NodetoolError: Nodetool command '/home/juliay/scylla_repo/scylla/resources/cassandra/bin/nodetool -h localhost -p 7100 refresh -- ks

[2018-04-26 09:02] slivne commented on #3395
thanks @juliayakovlev - sstableloader supports both - and we can check that - the error you received is from refresh.

migration test are split into two:

1. migration by trying directly to read from cassandra sstables (this is what your test does with nodetool refresh)
2. migration by sstableloader (that should be working)

Can you please provide the branch that has these changes so we can test t

[2018-04-26 09:27] #2677 closed

[2018-04-26 09:29] tzach commented on #2683
@avikivity will the CPU scheduler in 2.3 handle refresh operations?

[2018-04-26 09:33] tzach commented on #2804
@roydahan can you please validate the fix?

[2018-04-26 09:34] tzach commented on #2808
@avikivity looks like you referenced the wrong seastar commit here. Please check.

[2018-04-26 09:38] tzach commented on #2820
@amoskong please help

[2018-04-26 09:40] amoskong commented on #3390
The files in unstable repo doesn't match, scylla-jmx/scylla-tools/scylla-tools-core aren't updated to 2.1.3

![image](https://user-images.githubusercontent.com/309708/39298345-7af5f9da-4978-11e8-8992-f00ef2ada082.png)

![image](https://user-images.githubusercontent.com/309708/39298403-ab63eb86-4978-11e8-9852-7c169ac62e6f.png)

[2018-04-26 09:41] avikivity commented on #2804
Fixed in 1.7 by f6f91a49cb8beef9dd9078696d84cb3922ada645

[2018-04-26 09:41] #2804 closed

[2018-04-26 09:43] duarten commented on #2538
Yes, I didn't mention the part where the queues need a limit; I assume that to be solved by hinted handoff.

Good point on the separate verbs. I don't think this is strictly needed if we apply controls per table; only selected base tables would be throttled.

Yeah, a controller may not be the best choice. What we want to do is slow down the user writes for a particular table, so we need to park th

[2018-04-26 09:44] tzach commented on #2843
At the very least Scylla node gracefully exit, as it does for regular out of disk space error.

[2018-04-26 09:47] tzach commented on #2851
https://github.com/scylladb/scylla/issues/3380

[2018-04-26 09:48] tzach commented on #2877
@nirmaayan ping

[2018-04-26 09:49] tzach commented on #2916
@denesb did you sent patches for this issue?

[2018-04-26 09:50] gleb-cloudius commented on #2538
On Wed, Apr 25, 2018 at 11:21:02PM -0700, Avi Kivity wrote:

How having different verbs will allow you to admit one and not the
other? It would be possible only if both verbs are running on dedicated
connections. Why not apply the limit on a coordinator?

--
			Gleb.

[2018-04-26 10:42] denesb commented on #2916
Yes I recently sent patches to fix build issues on Centos7 and they address all issues here, except `libsystemd`, but that is an optional dependency and is trivial to add. I'll send a patch for that too.

[2018-04-26 10:42] amoskong commented on #1800
@tzach  Posted a patch to scylladb-dev maillist.
[PATCH scylla-ami] [ds2_configure.py: always use Ec2Snitch for single region case](https://groups.google.com/forum/#!topic/scylladb-dev/EK1nfn_OIB0)

[2018-04-26 10:59] amoskong commented on #2820
@harelassayag @roydahan It seems we didn't touch this problem in recent longevity testing of 2.1/2.2?

@tgrabiec I will recheck the log, and answer your question soon.

[2018-04-26 11:03] amoskong commented on #2820
@roydahan @slivne  I failed to download the log by `https://s3.amazonaws.com/scylladb-users-upload/scylla-qa-team/job-2017-12-12T23.27-c58f5c3.tar.gz`  (Access denied).
I try to make it public in s3 console, but also failed.

Anyone can help to make it available for us?

[2018-04-26 11:04] denesb commented on #2916
@tzach I think this can be closed.

[2018-04-26 11:33] glommer commented on #2683
The cpu scheduler doesn't help with stalls.

On Thu, Apr 26, 2018, 5:29 AM Tzach Livyatan, <notifications@github.com>
wrote:

[2018-04-26 11:33] #2916 closed

[2018-04-26 11:52] tgrabiec commented on #2820
@amoskong I'll work with you in private.

[2018-04-27 01:04] syuu1228 commented on #3381
@slivne fixed, unlike .rpm there is no conflict on older releases, so we don't drop the new gcc release.
But @avikivity may want to make multiple libgcc versions coexist without conflict on .deb too (discussion is here https://github.com/scylladb/scylla/issues/3373#issuecomment-383835339), maybe we need to release new version to support it. Anyway we are able to upgrade to 2.2 now.

[2018-04-27 03:22] EmpireJones opened #3396 "Scylla 2.1.2 docker image tag is reporting as 2.1.1"
`docker run --name dev-scylla -d scylladb/scylla:2.1.2 `
`docker exec -it dev-scylla scylla --version`
2.1.1-0.20180325.cce455b1f

[2018-04-27 07:38] slivne commented on #3396
@EmpireJones - thanks

Fixed

[2018-04-27 07:38] #3396 closed

[2018-04-27 10:30] duarten commented on #432
I see that @psarna was assigned to this, so a few words about the current state of range deletions.

TL;DR: we don't support infinite-bound range deletions or non-inclusive bounds in `compact storage` tables; we need support for the Cassandra 3.x sstable format before solving this.

Currently, we enforce that both range bounds in a range delete be specified, because we can't represent infinite bou

[2018-04-27 14:59] avikivity commented on #432
Let's decouple sstable capabilities from this.

`parsed_statement::prepare()` should receive some bools saying what we can and can't do (perhaps via an existing parameter, perhaps a new one).

Those parameters would then be updated by gossip. When gossip learns that the cluster supports the new format, those parameters are `true`d, and prepares start working.

@duarten would you list those paramet

[2018-04-27 15:05] #3394 closed

[2018-04-27 15:24] vladzcloudius opened #3397 "scylla_setup sets scylla parameters that will fail the bootup"
*Installation details*
Scylla version (or git commit hash): 1a9aaece3e38e0418d30a632140b3062e8d37bce

*Description*
scylla_setup is missing the detection of the particular server limitations that require extra scylla parameters. For instance, if the server has a lot of CPUs but not enough RAM scylla should be restricted to a CPU set smaller than the total CPU set of the server in order to boot up.

[2018-04-27 17:42] vladzcloudius commented on #3397
@dor No, it wouldn't.
@tzach What would we like to do in this case? Print an informative message and disable the service? Detecting the problem is simple but choosing a "good" configuration is more complicated since there may be multiple options.

[2018-04-27 18:01] #1800 closed

[2018-04-27 18:02] duarten commented on #3230
Same goes for deletions.

[2018-04-28 15:11] glommer commented on #68
@raphaelsc @slivne can we close this ?

[2018-04-28 15:13] glommer commented on #74
@raphaelsc claims this issue can be closed, but it is still open (I don't have closing permissions)

[2018-04-28 15:14] glommer commented on #81
Generic bug from 2016 saying logs need to be improve. Which improvements exactly ? The repairs logs seem ok to me as they are today. @slivne can we close ?

[2018-04-28 15:16] glommer commented on #109
@raphaelsc didn't we fix this ?

[2018-04-28 15:16] glommer commented on #159
@slivne raphael claims this can be closed but it is still open ( I have no closing permissions ).

Please close.

[2018-04-28 15:21] #344 closed, assigned to nobody

[2018-04-28 15:26] glommer commented on #440
We have no one assigned for this. I took a stab once but it was never merged. There has been already situations in the field where this would have been very helpful when handling nodes that are having issues.

Can we assign someone ?

[2018-04-28 15:27] glommer commented on #468
Can we close this? Nobody uses graphite anymore and docker works fine with modern scylla monitoring

[2018-04-28 15:28] glommer commented on #465
@avikivity still relevant ?

[2018-04-28 15:29] glommer commented on #497
Is this still an issue ?

[2018-04-28 15:30] glommer commented on #536
@slivne please close. The compaction controller now handles that. We still have to close the backlog for non-SizeTiered strategies but there is a bug open because of that.

[2018-04-28 15:31] glommer commented on #595
Is this still an issue ?

proxyhistograms works fine for me.

[2018-04-28 15:33] glommer commented on #618
@syuu1228 is this still an issue ?

[2018-04-28 15:34] glommer commented on #746
Didn't we do this already ?

[2018-04-28 15:34] glommer commented on #696
We export range latencies now. Can we close ?

[2018-04-28 15:36] glommer commented on #758
We already do this, with addresses only.
We also have external scripts for symbol resolution. Can we close this ?

[2018-04-28 15:39] glommer commented on #997
We should probably close this. We haven't done this, but I don't see a push for us to do it.
iotune has been working well as a standalone application.

[2018-04-28 15:43] glommer commented on #866
Is there anything about this that scylla_setup is not handling yet ?

[2018-04-28 15:44] glommer commented on #920
@slivne please close. Scylla ships with all the infrastructure to do this natively now.

[2018-04-28 15:46] glommer commented on #1101
Issue is well understood now and fixed by the Compaction controllers. @dorlaor please close (I don't have closing permissions)

[2018-04-28 15:49] glommer commented on #1186
@slivne @avikivity Raphael claims this is fixed. Please close.

[2018-04-28 15:50] glommer commented on #1374
@tzach we have an official docker image. Please close.

[2018-04-28 15:54] duarten commented on #1186
Fixed in d53f96e0dac9a39bb954d14024d89b6520aaa5e6.

[2018-04-28 15:54] #1186 closed

[2018-04-28 15:55] glommer commented on #1441
@tzach can this be closed? We have the health check script now and instructions in the website.

Those can always be improved but we should maybe be opening specific bugs for that if needed.

[2018-04-28 15:57] glommer commented on #1469
@nyh not sure if this should still be open. We have no plans of implementing a key cache.

Instead, we now:
- cache negatives
- will cache the promoted index (there is an issue about that)
- can cache individual rows.

Anything else still needed after the above that justifies a separate bug ?

[2018-04-28 16:00] #1802 closed

[2018-04-28 16:03] #74 closed

[2018-04-28 16:03] #159 closed

[2018-04-28 16:04] glommer commented on #2013
@avikivity please close, as this was recently reworked. IOTune no longer works with knee-finding.

[2018-04-28 16:04] duarten commented on #311
I think we can, there have been a bunch of improvements here recently.

[2018-04-28 16:04] #311 closed

[2018-04-28 16:06] #468 closed

[2018-04-28 16:06] glommer commented on #2043
Closing this, as this is unlikely to happen. This is also how cassandra does it, and the list of files being compacted is usually very useful.

[2018-04-28 16:06] #2043 closed

[2018-04-28 16:13] glommer commented on #2480
@avikivity isn't this done? please close if so.

[2018-04-28 16:17] glommer commented on #2601
Update: we have now more infrastructure on the iotune side to make this work, if anybody wants to move this forward.

[2018-04-28 16:24] glommer commented on #2971
@amoskong or @duarten please close this.

[2018-04-28 16:24] duarten commented on #595
Probably stale, closing.

[2018-04-28 16:24] #595 closed

[2018-04-28 16:27] glommer commented on #2927
@tgrabiec  isn't this is handled by the per-request timeout patchset ? Am I missing something ?

[2018-04-28 16:28] #1374 closed

[2018-04-28 16:40] glommer opened #3398 "Changing scylla user more complex than it should be"
There is a USER variable in /etc/sysconfig/scylla-server, but systemd specifies the user explicitly.

To make matters worse, although a user may have sudo permissions to modify /etc/sysconfig/scylla-server, it is extremely unlikely that the admin will grant the same permissions for editing the systemd files.

The problem exists as well in scylla-jmx.

[2018-04-28 16:48] #2971 closed

[2018-04-28 16:52] duarten commented on #1271
Closing as duplicate of #1969.

[2018-04-28 16:52] #1271 closed

[2018-04-28 16:57] duarten commented on #479
Closing, as this is working now.

[2018-04-28 16:57] #479 closed

[2018-04-28 16:58] duarten commented on #519
I think this can be closed?

[2018-04-28 17:01] duarten commented on #847
I think this issue has rotted a bit, can it be closed?

[2018-04-28 17:03] duarten commented on #1213
With `nonwrapping_range<>`, is the issue still relevant?

[2018-04-28 17:05] duarten commented on #643
This should be moved to scylla-jmx, although it's probably not very relevant, as those beans are very straightforward.

[2018-04-28 17:09] duarten commented on #2068
Closing as duplicate of #1184.

[2018-04-28 17:09] #2068 closed

[2018-04-28 17:34] duarten commented on #1529
Fixed by b7e1575ad4a253f6da54525babf1408e6589a97f.

[2018-04-28 17:34] #1529 closed

[2018-04-28 17:36] duarten commented on #1700
Is this still failing?

[2018-04-28 19:46] duarten commented on #440
Duplicates https://github.com/scylladb/scylla-tools-java/issues/41

[2018-04-29 06:32] tzach commented on #3397
@vladzcloudius is it a duplicate of  #2808?

[2018-04-29 06:38] nirmaayan commented on #223
We have the procedure - http://docs.scylladb.com/procedures/switch_snitch/

[2018-04-29 08:06] avikivity commented on #2480
Fixed by 252c5dfa5209a9bd83cc55b9ea15fbd4f32f870b.

[2018-04-29 08:06] #2480 closed

[2018-04-29 08:08] avikivity commented on #2043
Actually, I think compaction should be moved to DEBUG, and we should provide tools around the compaction_history table.

[2018-04-29 08:10] #1101 closed

[2018-04-29 08:11] avikivity commented on #997
I think it's still useful. Some applications might not want a separate install step but instead run iotune when starting up for the first time.

[2018-04-29 08:11] avikivity commented on #465
Yes.

[2018-04-29 08:12] avikivity commented on #325
It's still relevant.

[2018-04-29 08:14] avikivity commented on #361
Yes.

[2018-04-29 08:32] avikivity commented on #847
I'm guessing it's still there. However, with `nodetool drain` it should not be there, so maybe it's not a real issue.

[2018-04-29 08:33] avikivity commented on #1213
It's there in a different form, #3035. Closing in favor of that.

[2018-04-29 08:33] #1213 closed

[2018-04-29 08:34] avikivity commented on #519
I think the hoops have not changed.

[2018-04-29 08:35] #223 closed

[2018-04-29 08:36] avikivity commented on #3398
Do we want this ability? Seems like a lot of effort, but no real use.

You can override systemd config with `systemd edit scylla-server.service` (which does not edit the shipped configuration files, instead it creates an overlay).

[2018-04-29 08:46] hagrid-the-developer opened #3399 "ka tables are translated to la tables during nodetool refresh"
*Installation details*
Scylla version (or git commit hash):03c22ad52485089a942cbfd31167003090cf3903

Reported by @glommer:

*When we called nodetool refresh on a set of ka tables they were moved down as la.
This shouldn't happen. If we are loading from an existing format we should keep that format.
Nodetool refresh calls load_new_sstables in database.cc to upload the files.*

[2018-04-29 09:47] nyh commented on #1469
@glommer, one might argue that "caching the promoted index" **is** a key cache :-)

In other words, since each sstable has a separate promoted index for a partition, a "promoted index" cache will need to remember which sstable had a match for this partition and which didn't, and parts of what the promoted index content was. If the promoted index is empty, we choose to the byte range of the entire

[2018-04-29 09:56] slivne commented on #1234
@amnonh - moving this to your queue

[2018-04-29 10:43] slivne commented on #2882
I am not able to reproduce this - closing the issue

[2018-04-29 10:43] #2882 closed

[2018-04-29 10:45] slivne commented on #2921
@tgrabiec - could this be related to #3394

[2018-04-29 10:49] slivne commented on #2956
We have a similar issue with streaming when we add a lot of sstables at once -

- For streaming we are working on a change that will create larger sstables
- For refresh - I do not think we have a solution when we are adding alot of ssatbles at once

[2018-04-29 10:55] slivne commented on #3015
@harelassayag / @roydahan - we are not supposed to hit timeout on system tables anymore - if we do hit the issue please create a new one with all the info

[2018-04-29 10:58] slivne commented on #3050
the docs are updated closing the issue

[2018-04-29 10:58] #3050 closed

[2018-04-29 11:01] slivne commented on #3052
2.1 --> 2.0 Rollback docs are updated closing this issue.

[2018-04-29 11:01] #3052 closed

[2018-04-29 11:03] slivne commented on #3171
@roydahan / @harelassayag - lets see if this reproduces in 2.2 (it shouldn't) since the cpu scheduler is merged

[2018-04-29 11:16] #1441 closed

[2018-04-29 11:31] roydahan commented on #1470
migrate_sstable_with_schema_change_test

[2018-04-29 11:48] tzach commented on #3399
This shouldn't happen. If we are loading from an existing format we should keep that format.

Why is that? Doesn't it make sense to write to the "canonical" format?

[2018-04-29 13:07] amnonh commented on #866
I thought that it would be helpful even before you start installing have some script that checks those requirements, the way I thought about it is a script you download and run as a one liner

[2018-04-29 13:26] nyh opened #3400 "util::maybe_quote() is wrong"
As a lot of our code, util::maybe_quote() doesn't explain what it is supposed to do.
But looking at where it is called, it seems its purpose is to quote column names which need to be in quotes to be used in CQL. Because CQL folds unquoted names to lowercase and doesn't allow non-alpha-numeric characters, a name containing anything except lowercase or digits needs to be quoted. But maybe_quote() do

[2018-04-29 14:12] #3210 closed

[2018-04-29 16:23] nyh opened #3401 "Yet another secondary-index case sensitivity bug"
After fixing other case-sensitive-name bugs in in materialized views and secondary index, we still have a bug in:

[code]
The error is `restriction 'foobar IS NOT null' unknown column foobar`
This bug is very similar to #3388 but my patch for it didn't fix this bug so something is still missing (note that #3388 involved the primary key of the base table, this bug involves the indexed column).

In

[2018-04-29 16:41] clanstyles commented on #3150
Hey just curious if this went anywhere?

[2018-04-29 17:26] tgrabiec commented on #2927
@glommer The work which has already been implemented for this will expire reads on replica side if they are blocked on sstable read concurrency limiter. They still won't expire after admitted.

[2018-04-29 23:02] nyh commented on #2962
According to https://docs.datastax.com/en/cql/3.3/cql/cql_reference/cqlCreateIndex.html, Cassandra defaults to indexing the values of a map column, but if you use KEYS(column) as a "target", the keys are indexed instead. You also have the option to use ENTRIES(column) or FULL(column) for frozen collections.
It seems our code already has some support for this syntax, but I don't think it was ever t

[2018-04-30 05:10] hagrid-the-developer commented on #3109
So we need to implement printing of .0 for integers stored in floating point and we need to implement printing of more decimal digits for floating points with non-zero fraction part. We can either implement Java's algorithm or we can use C++/Boost way: print all possible decimal digits after the dot.

[2018-04-30 07:18] gleb-cloudius commented on #2927
On Sun, Apr 29, 2018 at 10:26:28AM -0700, Tomasz Grabiec wrote:

What expiration points do we still have that do not honor the timeout?

--
			Gleb.

[2018-04-30 07:32] tgrabiec commented on #2927
What do you mean by "expiration point"? Actual reading from sstables doesn't respect the timeout.

[2018-04-30 07:33] #3388 closed

[2018-04-30 07:33] #3391 closed

[2018-04-30 07:33] #3400 closed

[2018-04-30 07:33] #3401 closed

[2018-04-30 07:38] gleb-cloudius commented on #2927
On Mon, Apr 30, 2018 at 12:32:21AM -0700, Tomasz Grabiec wrote:

I mean points where a read can stuck without timeout. What is "actual
reading"? A read submitted to IO queue?  Actually sstable read may
require more than one IO, right? So the code that tracks how long the
overall process takes is missing?

--
			Gleb.

[2018-04-30 07:42] tgrabiec commented on #2927
2018-04-30 9:38 GMT+02:00 Gleb Natapov <notifications@github.com>:

Yes, a read may do many IOs, on many files. Some of them in parallel, some
of them sequentually. We will not timeout at any point once the read is
admitted to start reading from sstables, past the concurrency limiting
queue.

[2018-04-30 09:50] tgrabiec opened #3402 "In-memory MVCC snapshots on latest version are leaving the version unmerged with older versions"
`partition_snapshot::merge_partition_versions()` will not attempt merging if the snapshot is attached to the latest version (in which case `_version` is nullptr and `_entry` is != nullptr). This will cause `partition_version` objects to accumulate if there was an older snapshot and it went away before the latest snapshot. Versions will be removed when the whole entry goes away (flush or eviction).

[2018-04-30 10:26] penberg commented on #3219
The Docker startup scripts will always override `.cqlsh`

https://github.com/scylladb/scylla/blob/master/dist/docker/redhat/scyllasetup.py#L46

Perhaps a sufficient fix here is to write the file only if it's not already there to preserve user-specified file.

[2018-04-30 12:41] avikivity commented on #3109
We can probably use fmt:

[2018-04-30 12:44] slivne commented on #2058
this will be part of 2.3

[2018-04-30 12:44] #2058 closed

[2018-04-30 13:15] vladzcloudius commented on #3056
@glommer I think, as long as scylla doesn't support a BIG ENDIAN platform, this issue is not a bug. We should keep this in mind however I don't think that a transition of C* cluster built on a BE machine to scylla on a LE in unreasonable since the same transition won't work with C*. If this kind of a transition is required anyway we should suggest a customer to use a different path of data migrati

[2018-04-30 13:17] vladzcloudius commented on #3397
@tzach @dorlaor Looks like it. Closing...

[2018-04-30 13:17] #3397 closed

[2018-04-30 13:42] glommer commented on #3015
@slivne then please close the issue.

[2018-04-30 14:21] nyh opened #3403 "Secondary-Index default name may be different in Scylla than in Cassandra"
By default, a secondary index created on table xyz for column abc will be called "xyz_abc_idx". There's hardly a reason to know this name except for one thing: You need to know this name to **drop** the index. If you didn't specify a name explicitly, you need to know this default name policy. It is the same in Cassandra and Scylla, so Cassandra CQL code will continue working. Except for one (fairl

[2018-04-30 15:04] #3393 closed

[2018-04-30 20:38] nyh opened #3404 "Support for secondary-index of partition-key column"
When there is just one partition key column, "create index" for this column is forbidden by Scylla, and by Cassandra, because such an index is not needed - the column is already the partition key.

However, when there are multiple partition key columns (a.k.a. a composite partition key), it does make sense to add an index for each individual partition key column, and Cassandra does allow this. It

[2018-04-30 21:27] raphaelsc commented on #68
retested, and it worked as expected:

INFO  2018-04-30 18:26:29,228 [shard 0] compaction - Compacting
[./data/data/ks/users-f0823d704cbc11e89d4b000000000000/la-1-big-Data.db:level=0,
]
INFO  2018-04-30 18:26:29,228 [shard 0] compaction - Compacted 1 sstables
to []. 4910 bytes to 0 (~0% of original) in 0ms = 0.00MB/s. ~1 total
partitions merged to 0.

please close this

On Sat, Apr 28, 2018 at 12:1

[2018-04-30 21:42] #68 closed

[2018-05-01 12:53] nyh opened #3405 "Secondary index gives wrong results on table with multiple clustering columns"
I created a table with 6 columns: two partition-key columns, two clustering-key columns, and two regular columns. I then indexed all 6 columns, and searched using them.

The search results over the two partition key columns, and the *first* clustering key column, were correct. But the search results over the *second* clustering key column, as well as on either of the two regular columns, were inco

[2018-05-01 14:31] nyh commented on #3405
If I understand correctly now, the bug is limited to the case where we have a composite clustering key (multiple clustering key columns), but will be fairly hard to fix:

**`indexed_table_select_statement::do_execute()`** does the indexed search: It first calls `indexed_table_select_statement::find_index_partition_ranges()` which executes the query on the index view, to get a list of matching **pr

[2018-05-02 05:30] #3404 closed

[2018-05-02 09:20] #3343 closed, assigned to nobody

[2018-05-02 14:52] bentsi opened #3406 "stop_transport takes more than two minutes after detection of storage error"
*Installation details*
Scylla version (or git commit hash): 2.1.2-0.20180417.87cb8a1fa
Cluster size: 4
OS: CentOS Linux release 7.4.1708 (Core)
Kernel: 3.10.0-693.21.1.el7.x86_64
Description:
- injected an EIO error on ftruncate syscall
- ran create keyspace

JournalCtl
[code]

[2018-05-03 08:16] juliayakovlev commented on #3303
@raphaelsc
Hi Raphael, sorry for delay with answer.
The procedure is:
- run cassandra stress and wait for the finish
- stop the node
- set 'murmur3_partitioner_ignore_msb_bits' to the same value
- start the node with the same SMP

In the time when node was offline, any sstables shouldn't be uploaded.
The test named "resharding_by_same_smp_test"

[2018-05-03 09:15] slivne commented on #2360
@syuu1228 - ping ?

[2018-05-03 09:16] slivne commented on #2386
@larisau  ?

[2018-05-03 09:25] slivne commented on #3059
@larisau ping

[2018-05-03 09:25] slivne commented on #3059
@larisau ping

[2018-05-03 09:28] slivne commented on #3091
3068 is fixed in 2.1.3

if the cluster was upgrade from 1.7 we have found an issue #3394 - could this be it ? - to solve this there is a need todo a rolling restart in the cluster.

I am closing this - if the problem still persists with 2.1.3 and after a rolling restart - please post on the issue with updated logs and I'll reopen

[2018-05-03 09:28] #3091 closed

[2018-05-03 09:30] slivne commented on #3100
Closing this issue

if there is additional information please post and I'll reopen

[2018-05-03 09:30] #3100 closed

[2018-05-03 09:31] slivne commented on #3105
closing fixed

[2018-05-03 09:31] #3105 closed

[2018-05-03 09:32] slivne commented on #3122
closing this issue - if there will be additional information we can reopen

[2018-05-03 09:32] #3122 closed

[2018-05-03 09:32] slivne commented on #3132
closing this issue since there is no additional information

[2018-05-03 09:32] #3132 closed

[2018-05-03 09:40] slivne commented on #3134
@vabezruchko can you please clarify

"If there is a workload in parallel that is writing data to the cluster - then there will be "some" difference between the nodes - that is related to the in flight writes."

do you have ongoing writes ?

with regards to "We rewrote our schema and declined to this table." - it seems you have done something to overcome this - can you clarify ?

[2018-05-03 09:43] #3162 closed

[2018-05-03 09:57] larisau commented on #3059
Unfortunately I don't have this log anymore. But we can workaround the problem by creating the schema before running cassandra stress(we already have it in longevity test). So we can close this issue.

[2018-05-03 09:57] slivne commented on #3054
with 2.1.3 AMI I get

[code]

[2018-05-03 10:18] slivne commented on #3390
this should be fiuxed since all repos are synched now

[2018-05-03 10:18] #3390 closed

[2018-05-03 12:11] lauranovich opened #3407 "testing the ticket process"
Testing the ticket process
UUID 30a93e1a-d505-4f42-9556-8e7d9878355d

*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

[2018-05-04 10:27] #3201 closed

[2018-05-04 11:17] duarten commented on #3293
I can't repro this, and I'm not aware of any bug in 2.1 about `limit` not working, so I'm closing this. Please comment if you're still hitting the issue.

[2018-05-04 11:17] #3293 closed

[2018-05-05 00:40] gnumoreno opened #3408 "AWS i3.8xlarge - Under heavy read load NIC gets Tx timeout and gets reset, loses smp_affinity configurations and all IRQs are handled by cpu0 only thus limiting throughput."
*Installation details*
Scylla version (or git commit hash): Scylla 2.1.3 AMI
Cluster size: 1 node
OS (RHEL/CentOS/Ubuntu/AWS AMI):  us-west-2 | ami-c6e793be
CentOS Linux release 7.2.1511 (Core)

*Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): AWS _i3.8xlarge_
Hardware: 32vcpus | 244GB RAM | 10 Gigabit NIC
Disks: (SSD/HDD, count): 4 x 1.9 NVMe SSD

NIC

[2018-05-05 00:40] gnumoreno commented on #3408
@vladzcloudius, please add any details I may have missed.

[2018-05-06 07:44] slivne commented on #3246
@denesb any update on this - I think you have looked at it and did not find the cause

[2018-05-06 07:50] #3015 closed

[2018-05-06 07:50] slivne commented on #2877
@nirmaayan ping

[2018-05-06 09:11] juliayakovlev commented on #3303
@raphaelsc
I performed some tests.
If I does not set smp **AND** murmur3 in time node start **explicitly**, re-sharding is not started:

If I set both of parameter in time of starting the node, like in the test (see below), re-sharding is started:
     self.node.set_configuration_options(values={'murmur3_partitioner_ignore_msb_bits': murmur3})
     self.node.start(jvm_args=['--smp', smp, '--memory

[2018-05-06 09:37] bentsi commented on #3406
@slivne

[2018-05-06 10:13] slivne commented on #3406
Currently we close
- gossip
- everything else

Since shutdown via gossip may take more time - we can stop cql/thrift first and then stop gossip - that maybe better

[2018-05-06 11:30] nyh commented on #2025
Note that #3405 (of secondary indexing) is related to this issue. In #3405, we don't have an API to get a bunch of individual CQL rows from the table, so we use the API to read entire **partitions** instead, and end up with too many rows, which we need to filter according to the given restrictions. I.e., we need filtering of the results just like in this issue.

[2018-05-06 12:06] nyh commented on #3405
@slivne I'm working on this issue, already submitted a test, and have a partial solution which still is missing an important part (filtering of the result set, see also #2025).

[2018-05-06 12:48] avnerbarr opened #3409 "Can't find a column family with UUID abc..."
Scylla version (or git commit hash):
2.1.2
Cluster size: 3
CentOS

Getting this error:

[code]

I've seen it once in a production environment, but it happens relatively frequently when running through docker.

[2018-05-06 13:00] tzach commented on #3409
@avnerbarr can you please attach Scylla log?
What is the CQL command you using?

[2018-05-06 13:01] nyh commented on #3409
Could this be https://github.com/scylladb/scylla/issues/2852? @tzach do you know if its fix ever backported to 2.1 (it seems to me the answer is no, but maybe I'm looking wrong)?
What do you see in the log a few lines before the exception?

[2018-05-06 13:03] avikivity commented on #3409
This can happen if you create tables dynamically. It can take time for the schema to propagate. Is this the case?

@avnerbarr please describe your scenario in detail.

[2018-05-06 13:21] duarten opened #3410 "`assert_that_failed()` should receive expected exception type"
This allows more precision when using this assertion, since one type of error may mask others.

[2018-05-06 13:33] nyh commented on #3410
By the way, even more precision could be had by expecting that the exception's what() be a certain string, or match a certain regex.

[2018-05-06 19:44] syuu1228 commented on #2360
This was scylla-gdb package bug, fixed at newly released scylla-gdb 7.11-2.

[2018-05-06 19:44] #2360 closed

[2018-05-06 20:16] Extarys opened #3411 "Real time notifications"
*Installation details*
Scylla version (or git commit hash): Latest docker image
Cluster size: 3 local

I'm trying to find a scallable database that can offer something to create live events. Notifications, chat, etc. Scylla advertise itself as realtime.

The Scylla guide is lacking a little I think since I never used cassandra. Even their docs is incomplete.

Im using rhe cassandra-driver for node

[2018-05-07 08:03] avnerbarr commented on #3409
Yes, the tables are created dynamically in some cases (in production environment).

But in this particular case (the last time I saw it) the table was generated using a script like this (through docker):

[code]

[2018-05-07 08:25] syuu1228 commented on #3408
We have fix for this on scylla-ami, but it's not merged into branch-2.1 (available on branch-2.2 and master). Need to backport:
https://github.com/scylladb/scylla-ami/commit/5170011fbc478a93d9f03d12b214f7df4c678b91#diff-6ea74efa9c4f13dcc2c2e52e1a8f5180

[2018-05-07 08:28] avikivity commented on #3408
master uses kernel-ml, will the kmod work on the centos kernel?

[2018-05-07 08:44] denesb commented on #3246
I checked my theory above and although I could see improvements in micro-benchmarks these improvements were not visible in the read tests done by @vladzcloudius.

[2018-05-07 08:44] avnerbarr opened #3412 "Latency problems with Scylla 2.1.2"
Scylla version (or git commit hash): 2.1.2-0.20180417.87cb8a1fa
Cluster size: 3 nodes @ i.x3large 4 Core 32Gig
Centos

I've uploaded prometheus data with UUID d264af01-4028-45ef-9634-6669089cd40d per instructions [here](http://docs.scylladb.com/operating-scylla/troubleshooting/report_scylla_problem/)

We are peaking at 30-40K read requests (close to 0 writes ops in some cases)
We experience latenc

[2018-05-07 08:46] avnerbarr commented on #3412
Note that the prometheus data is a small snapshot from yesterday, Please check around 18:00

[2018-05-07 09:18] syuu1228 commented on #3408
@avikivity Since it's kernel module source code + dkms, it should work on multiple kernel versions unlike binary module, and also we had built ixgbevf / ena drivers for CentOS kernel on older AMIs, I suppose it's works finely.
But if we want to do that we need to modify the commit not to use kernel-ml, I'll send new one for branch-2.1

[2018-05-07 09:55] avikivity commented on #3409
In that case it is normal to have some propagation delay for the schema.

[2018-05-07 10:37] avnerbarr commented on #3409
So what is the action to take?

[2018-05-07 12:47] avikivity commented on #3409
Wait for a few seconds for the schema to propagate, or tolerate the error, or check on all nodes before writing.

[2018-05-07 13:46] harelassayag opened #3413 "Reactor stalled for 3199 ms - Waiting for schema agreement"
*Installation details*
Scylla version (or git commit hash): 2.2.rc0-0.20180425.c4af043ef
Cluster size:1 TB 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI):Centos
[code]
reactor stall:
[code]
decoded:
[code]

[2018-05-07 13:48] glommer commented on #3399
I think this is fine - although I haven't verified again. In conversation with @slivne , there is a chance that we aren't changing the files -> they are compacted, and then the new files generated by compaction are in the new format (which is fine)

[2018-05-07 13:50] bentsi commented on #3406
On Scylla version: 2.1.3-0.20180501.8e33e80ad the port was not closed even after more than half an hour

[2018-05-07 13:52] denesb opened #3414 "Queriers that outlive the table they read from may cause segfault when they are destroyed"
*Installation details*
Scylla version (or git commit hash): master, 2.2

Backtrace:
[code]

Found by dtest: `limits_test.py:TestLimits.max_column_value_size_test`

[2018-05-07 14:01] avikivity commented on #3413
Usual io_submit() stall, closing.

[2018-05-07 14:01] #3413 closed

[2018-05-07 17:33] nyh commented on #3405
Here is a summary of this issue and what it would take to fix it which I sent to the mailing list:

In secondary index search, we have two steps: First, use the index table to find a list of **primary keys** matching the query. Second, read the rows matching these primary keys from the base table and return the selected columns.

The second step is easy when the base table's primary key contains j

[2018-05-08 08:04] juliayakovlev commented on #3303
Yes, you are right. The murmur3 default value is 12, not 15.
I fixed the test and now it's passed.
Closing the issue

[2018-05-08 08:04] #3303 closed

[2018-05-08 09:25] duarten commented on #3411
Please use the mailing list to ask questions, not the bug tracker.

[2018-05-08 09:25] #3411 closed

[2018-05-08 09:26] duarten commented on #3407
@lauranovich Can this be closed?

[2018-05-08 13:16] duarten commented on #3411
I'm an automated bot!

The [contributing guidelines](https://github.com/scylladb/scylla/blob/master/CONTRIBUTING.md) should have all the necessary info.

[2018-05-08 13:17] #3407 closed

[2018-05-08 15:15] gnumoreno opened #3415 "Docker command listed on instructions does not pull the current Scylla version."
On our [instructions](https://hub.docker.com/r/scylladb/scylla/) we list the command:
`docker run --name some-scylla -d scylladb/scylla`

[code]
Please note Scylla version above.

If I use the **latest** tag, same result:
[code]

I have to explicitly ask for the version to get the actual "latest":
[code]

[2018-05-08 16:44] glommer commented on #2678
I am not sure avoiding I/O overlap is a goal (although maybe nice to have).

The permit system essentially control virtual dirty. When we are writing auxiliary components, we aren't - maybe for a long time - releasing virtual dirty. That can lead to stalls - as virtual dirty keeps increasing but there is nothing decreasing it.

[2018-05-08 17:55] tzach commented on #3415
I think its a docker, not scylla, feature
If you already have a local "latest" image of Scylla (for example), `docker pull` or `docker run` will not pull a new version, even if there is a new "latest" on the hub.
Try `docker rmi scylladb/scylla` and then `docker run --name some-scylla -d scylladb/scylla`

[2018-05-08 18:03] gnumoreno commented on #3415
@tzach, indeed it works. Should we put a note in the instructions for "upgrades" maybe?

[code]

[2018-05-09 05:34] tzach commented on #3415
IMHO opinion using "latest" with docker is not a good idea.
As you can see, it is unpredictable, depends on the host state.
Best is using specific version (tag)

[2018-05-09 07:39] slivne commented on #2921
@tgrabiec ping

[2018-05-09 08:34] amoskong commented on #2804
Can't reproduce on both 1.7 & 2.2

[2018-05-09 08:36] slivne commented on #2877
@nirmaayan ping

[2018-05-09 08:52] amoskong commented on #2804
Strictly, we should check if the configure file exists before writing.

* 1.7
[code]

* 2.2/master:
[code]

[2018-05-09 08:59] #3414 closed

[2018-05-09 09:58] syuu1228 commented on #3373
Looks like there are no way to coexist scylla-2.1 and scylla-libgcc73 / scylla-libstdc++73, once we specified "Obsoletes" tag on the package yum will tries to install scylla-libgcc73 / scylla-libstdc++73 when installing scylla-2.1 (that requires scylla-libgcc72 / scylla-libstdc++72, not 73).
However upgrading 2.1 -> 2.2 we requires "Obsoletes" tag since we need to replace scylla-libgcc72 / scylla-

[2018-05-09 10:06] nirmaayan commented on #2877
I ran the procedure again, results are the same.
There is no error message when tracing as non-superuser.

[2018-05-09 10:17] syuu1228 commented on #3373
@avikivity any ideas with this issue?

[2018-05-09 10:32] syuu1228 commented on #3408
I posted patchset to install recent ixgbevf/ENA driver on AMI that backported from master, but it doesn't fix the problem if users keep using 2.1.x AMI instances, even they are keep using latest Scylla by "yum update", since we don't provide ixgbevf/ENA drivers.
I also think it's not just NIC driver problem, we don't have any mechanism to upgrade scylla-ami scripts on AMI instances.
Even users upg

[2018-05-09 10:44] duarten opened #3416 "Don't count MV view replica writes as user writes"
View replica writes are performed with CL=ONE (and RF=1 + pending_endpoints.size()), which are counted towards the user write metrics (foreground writes and background writes). This shouldn't be the case, since view replicas writes are not in the user request path.

The view replica writes are accounted separately in the view-specific metrics (#3385).

We can leverage the `db::write_type` argument

[2018-05-09 11:34] amoskong commented on #3370
I reproduced this issue with 666.development-0.20180416.07fb2e9c4 (ami-6812b317)
[Job link](http://jenkins.cloudius-systems.com:8080/job/scylla-staging-scale-cluster-test-clone-amos/label=aws-scylla-qa-builder1/8/)

[2018-05-09 12:14] amoskong opened #3417 "Eror during bootstrap: seastar::sleep_aborted (Sleep is aborted)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180416.07fb2e9c4
Cluster size: init 50 + additional 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-6812b317

#### #Test Scenario:
1. create a cluster with 50 nodes, wait until they all ready.
2. add more nodes one by one

#### #Result:
1. Problem occurred when try to add the first node (cluster-scale-test-amos-db-node-dda608d0

[2018-05-09 13:31] avikivity commented on #3373
We should have placed scylla-libgcc73 in its own directory (/opt/scylladb/gcc7.3/{bin,lib,include}) so it would  allow parallel install.

Maybe we can move to a new copr where each package has its own directory. Or move to conan.

[2018-05-09 13:47] nyh commented on #3416
Yes, the MV code (`mutate_MV()`) already passes a different write type - `db::write_type::VIEW` - which can be used to differentiate these writes.

[2018-05-09 14:03] bentsi opened #3418 "Coredump when EIO returned on ftruncate during "create keyspace""
*Installation details*
Scylla version (or git commit hash): 2.1.3-0.20180501.8e33e80ad
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

Using CharybdeFS
- injected EIO fault on ftruncate syscall
- ran create keyspace

[code]

[2018-05-09 14:05] bentsi commented on #3418
coredump available here:
http://upload.scylladb.com/core.scylla.997.92421518044e4f97acdabadb7f188c75.4622.15257091650000

[2018-05-09 14:06] nyh opened #3419 "Rename "background writes" / "foreground writes" metrics"
The "background_writes" metric is explained as "number of currently pending background write requests". This explanation is correct, and every word counts: First of all, it doesn't count the number of writes but the number of **currently pending** writes. I.e., it measures a queue's length, not the number of writes. Second, it measures **write requests**, where "requests" means a user's actual CQL

[2018-05-09 14:50] #3402 closed

[2018-05-09 16:43] hakuch opened #3420 "LIST ROLES does not include custom authentication options"
*Installation details*
Scylla version (or git commit hash): `2.2`, `master` (8d098204723c8e155776fc7a36ba0a920948544a)

Apache Cassandra displays custom options associated with roles when `LIST ROLES` is executed, but Scylla does not:

`LIST ROLES;`

Apache Cassandra:
[code]

Scylla:
[code]

Since none of the `authenticator` implementations in Scylla actually supports `OPTIONS` (yet), this omissio

[2018-05-09 17:45] tzach commented on #3419
+1 for renaming
I'm not sure about the "current" prefix, why not self-explanatory name like `coordinator_queued_pending_cql_requests` ?

[2018-05-09 17:48] glommer commented on #3419
Changing metric names is okay, but best to avoid if we can. The reason is that we have a lot of users using their own dashboards with their own monitoring systems. Every time a metric name changes, that means that break.

We don't *promise* compatibility, so we *can* do it, but that doesn't mean we should.

That said, the grafana name in our provided dashboard can be changed at will. And people do

[2018-05-09 18:04] tzach commented on #3419
@glommer agree we should try to keep backward compatibility, but at least for this case, the ongoing damage this confusing naming is causing is greater than the pain of replacing it.
Note that we are replacing names with each release. The problem is not just in monitoring, as you say yourself, not everyone is using our monitoring dashboards.

We can also keep the old name as deprecated for two rel

[2018-05-10 04:00] gleb-cloudius commented on #3419
On Wed, May 09, 2018 at 10:45:43AM -0700, Tzach Livyatan wrote:

Because this "self-explanatory name" has no sense at all. First of all
this metric is not about all cql retests, but only those that maps to
database write and second what "pending" means? When request moves to
background it does not become not "pending". We do have a counter for
all outstanding cql requests at transport level. IMO
b

[2018-05-10 05:36] amnonh commented on #3419
On Wed, May 9, 2018 at 1:48 PM, Glauber Costa <notifications@github.com>
wrote:

It is safe to change the metrics documentation, even if the name is
confusing the help line can explain what it means, and can be used in the
dashboard.

[2018-05-10 05:40] avikivity commented on #3373
Ah! I think if we make scylla-server-2.2 Obsoletes: scylla-libgcc72 (and similar packages), it will work.

[2018-05-10 05:47] infordb opened #3421 "Question about sstable format"
How does scylla repeatedly store columns in the sstable?
(numeric id or full column name)

If I tested it, the size of the sstable grew as I use longer column names.

this documentation states that scylla stores ids instead of full column name.

http://docs.scylladb.com/architecture/sstable/sstable-interpretation/
Scylla’s rows do not store the full column name, but rather store a numeric id which

[2018-05-10 05:53] veramine commented on #3373
@avikivity, are there any configuration changes we could make locally on a build machine to build 2.2 in advance of this issue being fixed for everybody?  We tried building on centos 7 via the  build_redhat.sh script and it appeared to work fine with no errors but the jmx and tools RPMs were not generated.  I was assuming they were not generated due to this issue.

[2018-05-10 05:59] denesb commented on #3421
Hi, please post questions to the [scylladb-users mailing list](https://groups.google.com/forum/#!forum/scylladb-users) instead.

[2018-05-10 06:02] denesb commented on #3373
@veramine those RPMs are generated by building the [scylla-tools-java](https://github.com/scylladb/scylla-tools-java) and [scylla-jmx](https://github.com/scylladb/scylla-jmx) repositories respectively.

[2018-05-10 06:04] veramine commented on #3373
Ah!  Great! Okay we will try that later.

[2018-05-10 06:04] veramine commented on #3373
thank you!

[2018-05-10 06:10] syuu1228 commented on #3373
@avikivity I'll try it, but does it solve scylla-libgcc73's file conflict error? If obsoleting package always prioritized and package upgrade comes earlier than scylla-libgcc73 it wouldn't be a problem, but if we specifies "Obsoletes: scylla-libgcc72" on scylla-server package, I guess it's likely scylla-libgcc73 installation comes earlier since scylla-server depends on it.

[2018-05-10 06:45] avikivity commented on #3373
@syuu1228 I don't know.

[2018-05-10 08:07] syuu1228 commented on #3373
@avikivity Okay I confirmed adding following lines on scylla metapackage makes scylla-2.2 upgradable:
[code]
(Provides: was needed to satisfy scylla-libgcc72 / scylla-libstdc++72 dependencies prior to upgrade scylla package)

[2018-05-10 13:26] glommer commented on #3419
I am fine with documentation changes and grafana changes.
naming -> better avoid if we can.

[2018-05-10 16:00] roydahan opened #3422 "Streaming takes longer than expected"
*Installation details*
Scylla version (or git commit hash): 2.2.rc0-0.20180508.dfe5b38a4
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

During longevity test of 2.2.rc0-0.20180508.dfe5b38a4, we noticed that the repair/rebuild nemesis take long time and the streaming_write bandwidth is very small.

An example of the case can be found in the following run of the nemesis "corrupt_then_rebui

[2018-05-10 17:30] #3420 closed

[2018-05-11 13:53] duarten opened #3423 "Rows in a secondary index should be ordered by token"
When indexing a column of a base table we create an underlying materialized view whose partition key is the indexed column, and the remainder of the base primary key columns appear as clustering columns.

This means that the base partition key will appear in lexicographical order in the view, but results should appear in token order to match base table order.

Due to paging and LIMIT clauses, it’s

[2018-05-11 13:55] duarten commented on #3423
/cc @nyh

[2018-05-11 14:44] denesb opened #3424 "Possible use-after-free in querier_cache"
Scylla version (or git commit hash): master, 2.2
`querier_cache::meta_entry` keeps an iterator that points to the `entry` in the `_entries` (`std::unordered_map`) it represents. `std::unordered_map` however can invalidate iterators when a rehashing occurs but this is not accounted for in the code, which happily keeps iterators indefinitely. The reason we didn't hit this yet might be pure luck, or

[2018-05-12 02:37] EmpireJones opened #3425 "Feature detection failure after failed startup"
*Installation details*
Scylla version (or git commit hash): 2.1.2
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): kubernetes/docker image, coreos host

I believe this is the second time that this has happened to me. If a cluster is created in a state in which NOFILE rlimit is not set high enough, scylla refuses to start (this is as expected). Once that is resolved and the nodes are restarted, I g

[2018-05-12 11:41] krishnaod opened #3426 "std::bad::alloc"
*Installation details*
Scylla version (or git commit hash): 2.0.3
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.4.1708

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): Dedicated VM
Hardware: sockets= cores= hyperthreading= memory= 48 CPU
Disks: (SSD/HDD, count): HDD

May 12 11:03:44 37cassandradb scylla: [shard

[2018-05-13 06:28] argenet commented on #3426
Hi @krishnaod,

Can you please add the information about how much RAM is available on cluster nodes?

[2018-05-13 07:30] tomer-sandler commented on #2756
@avikivity / @slivne - this bug has been open for 8.5 months (found while using 2.0 RC3). Do you know if this is fixed for 2.1.3 and we can use the default C-S schema, or the recommended change by Avi is still needed?
Reason I'm asking is that we are about to conduct new benchmark test for Scylla 2.1.3 vs. C* 3.11. It will also include killing a node, bringing it back and running repair.

[2018-05-13 07:33] tomer-sandler commented on #2756
@avikivity / @slivne / @tzach  ignore my last comment, I see that the related issue #2757, is closed. So we probably need to close this bug as well.

[2018-05-13 07:59] slivne commented on #2756
yes we can close it

please note that we have a different issue about speculative retry that is still open #3156 - but its not related to killing a node

[2018-05-13 07:59] #2756 closed

[2018-05-13 08:05] krishnaod commented on #3426
I was inserting 80 K records, every 5 min (router data). Preparing the reports. Keeping data for 10 days and drop tables after 10 days.
Compaction Strategy: NULL
Things were good till one week.
The total data was 900GB approx (300GB on each node)
Cluster size: 3

[2018-05-13 08:06] nyh commented on #3423
@duarten I thought about exactly this solution, but there's a catch... We will need the ability to create a materialized view which has a new clustering column - the token column - which did not exist in the original base table. Interestingly, ,CQL already has a syntax for SELECTing such a virtual column - the "token(...)" function can be used in SELECT - but do we support it in materialized view'

[2018-05-13 08:50] duarten commented on #3423
I don’t think we support it, but it shouldn’t be too hard to add.

Maybe we can also live with this and wait for a user request.

On Sun, 13 May 2018 at 10:06, nyh <notifications@github.com> wrote:

[2018-05-13 09:46] amoskong opened #3427 "raid0: Unknown parameter `devices_discard_performance'"
*Installation details*
Scylla version (or git commit hash): 2.1.3-0.20180501.8e33e80ad
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

[Artifact-test job link - centos-rpm-test](http://jenkins.cloudius-systems.com:8080/job/scylla-staging-centos-rpm-test-clone-amos/label=muninn/33/)

* Description: Scylla_setup finished, but the data disk wasn't mounted to `/var/lib/scylla`.
artifact-test

[2018-05-13 11:10] slivne commented on #3337
@asias - we had a change in streaming - can that explain the rate change ?

[2018-05-13 11:15] slivne commented on #3246
thanks pushing this out

[2018-05-13 11:17] slivne commented on #3229
leaving this open, pushing this out - we do not have a lead at this point - we will try to run debug and dtests

[2018-05-13 11:18] slivne commented on #3209
pushing this out to next release

still not clear why this happens

[2018-05-13 11:29] slivne commented on #3422
@asias - rebuilding a small table takes longer then a large table ?

how do we throttle - based on bandwidth / based on # of ranges ?

this is strange - can you exolain this ?

[2018-05-13 11:32] slivne commented on #3415
@tzach so lets either close this or change the docs

[2018-05-13 11:42] tzach commented on #3415
Closing since its not related to Scylla

[2018-05-13 11:42] #3415 closed

[2018-05-13 15:39] harelassayag opened #3428 "runtime error (sorted_tokens is empty in first_token_index!) during CorruptThenRebuild"
*Installation details*
Scylla version (or git commit hash): 2.2.rc0-0.20180508.dfe5b38a4
Cluster size: 1TB 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos
runtime error (sorted_tokens is empty in first_token_index!) during CorruptThenRebuild
[code]
might be related to: https://github.com/scylladb/scylla/issues/3382

[2018-05-13 17:52] tzach commented on #2190
@slivne can we package node_exporter as part of Scylla package?
The current process is fragile

[2018-05-13 18:53] #3373 closed

[2018-05-13 18:53] #3013 closed

[2018-05-14 00:49] asias commented on #3428
@gleb-cloudius The error comes from storage_proxy. The fix to #3121 was the "storage_service: Set NORMAL status after token_metadata is replicated" .

Is it possible, storage_proxy sends mutations to a node that is still during boot process, e.g. not in NORMAL status?

[2018-05-14 06:13] dorlaor opened #3429 "Use Caffeine (W-TinyLFU) for the cache"
Turns our my thesis professor has written an article about least frequently used cache management and it performs even better than ARC plus was integrated into C*:
https://arxiv.org/pdf/1512.00727.pdf
https://issues.apache.org/jira/browse/CASSANDRA-10855

[2018-05-14 06:16] dorlaor commented on #3429
https://github.com/mandreyel/w-tinylfu

[2018-05-14 06:30] dorlaor commented on #3429
http://highscalability.com/blog/2016/1/25/design-of-a-modern-cache.html

[2018-05-14 06:32] gleb-cloudius commented on #3428
On Sun, May 13, 2018 at 05:49:53PM -0700, Asias He wrote:

Yes, if a node restart before other nodes notice that it went
down this may happen. Usually this is not a problem though
because regular read/write path invoked by RPC callbacks does
not check token metadata.  The counter mutation path though does
(send_counter_mutation()->mutate_counters_on_leader()) and it will
trigger this error. Do not

[2018-05-14 12:31] nyh opened #3430 "Materialized Views: filtering by a column not part of the base table's primary key"
A materialized view is created given a "SELECT" statement, which can also use the "WHERE" clause to filter only some of the rows into the view.

However, our current implementation only allows filtering by columns which were part of the base table's primary key (clustering key or partition key). We have a number of tests in view_schema_test.cc which demonstrates that this works correctly, and one

[2018-05-14 13:41] duarten commented on #3430
Duplicates https://github.com/scylladb/scylla/issues/2025 ?

[2018-05-14 13:56] nyh commented on #3430
I think that you're right that internally, both issues are hitting the same code path which results in "No index found".

However, I believe in both issues there are additional things need fixing, so they are not exact duplicates. In #2025, the whole "ALLOW FILTERING" thing needs to be implemented (i.e., it's not enough that we don't show an error, we also need to do the filtering itself), and her

[2018-05-14 18:44] syuu1228 commented on #3427
@amoskong Looks like amazon kernel does not support raid0.devices_discard_performance.
However, when I tested 2.1.3 AMI it able to mount /dev/md0 on /var/lib/scylla even I'm getting "Unknown parameter" error.
I think there is another reason to fail mounting (or constructing) RAID volume.

[2018-05-14 19:39] syuu1228 commented on #3392
Looks like fixed by https://github.com/scylladb/scylla/commit/81fbcbf6bc102d7d0df4cbfe842e3dc58298112a#diff-f73ce435eaf0bc15861dcf2293edeedb, verified able to build scylla-debugsource for F27 on latest master.

[2018-05-15 00:44] asias opened #3431 "Support sending mutation_fragment over RPC"
We need this for new scylla streaming and row level repair.

For example, the streaming data flow is:

on the sender side flat mutation reader generates mutation_fragment -> serialization of mutation_fragment -> send over RPC -> on the receiver side deserialization mutation_fragment -> write the mutation_fragment.

[2018-05-15 00:50] asias opened #3432 "Add generating_mutation_reader with mutation_fragment as source"
We need this for new scylla streaming.

The data flow is:

on the sender side flat mutation reader generates mutation_fragment -> serialization of mutation_fragment -> send over RPC -> on the receiver side deserialization mutation_fragment -> use the mutation_fragment as the generating_mutation_reader source -> put the  generating_mutation_reader into a sstable writer.

[2018-05-15 01:09] asias commented on #3337
I don't think so. It changes how we use the stream plan (smaller range per time), the underlying streaming code is not changed.  It might increase the streaming time a little bit, because the overhead of doing N stream_plan instead of a single one. But the observed X4 slowness is not supposed by the recent streaming change.

Any changes in mutation reading code. The backtraces points to sstables::

[2018-05-15 01:25] asias commented on #3422
The slowness in the smaller table is probably due to the "The session made no progress with peer", the session stalls for some time so the total time to complete increases.

Refs:
Decommission takes longer than usual x4 #3337
Regression in the read-from-disk test #3246

[2018-05-15 01:28] asias commented on #3422
To reduce the problem space, it is better to benchmark rebuild only, not repair, for streaming.

[2018-05-15 02:00] asias commented on #3422
Question: Are all those different keyspaces have the same schema and partition size / rows per partition? The only difference is the number of partitions in the keyspace?

Before, we  stream the whole range in one stream plan.
After the recent streaming change, we stream 10% of the ranges per stream plan.

160GB
[code]

1TB
[code]

That is:

160GB keyspace:  0.5GB per stream plan, bw~=10MB/s
1TB k

[2018-05-15 08:55] tomer-sandler commented on #2756
@avikivity / @slivne / @tzach
I just reproduced this issue in Scylla 2.1.3.

6-node cluster (i3.8XL)
200K IOps, killing 1 node and I see ~75% IOps drop for ~30. Looks like exactly the same problematic behaviour.

Same Schema (with ```'99.0PERCENTILE'```)
[code]

[2018-05-15 10:00] slivne commented on #2756
@tomer-sandler - to know if its the exact same thing or not - can you try to change the speculative_retry like you have done before

@gleb-cloudius any inputs ?

[2018-05-15 11:04] baiwfg2 commented on #2562
@duarten Hi. I found that in `column_family::truncate`, first `discard_sstables()`, then  `db::system_keyspace::save_truncation_record()`. I wonder what if discard_sstables() is not fully completed because of exception or crash, then the truncation record hasn't been recorded. Would it be a problem when restarting ? How could you handle those unsuccesfully-deleted sstables files ?

[2018-05-15 11:55] tomer-sandler commented on #2756
@slivne, once repair completes I'll ALTER the schema and repeat the test with ```specilative_retry ='2ms'```
@gleb-cloudius, as for the 99th percentile -> see screenshot

![image](https://user-images.githubusercontent.com/25585995/40055270-03100ea6-5850-11e8-9f2b-30dcbde9e177.png)

[2018-05-15 12:04] roydahan commented on #3422
Not the same schema for all keyspaces.
The 1TB keyspace is key,value with a size of 1KB (I'll add the schema details soon).
The others (smaller) are the c-s default schema.

[2018-05-15 12:09] gleb-cloudius commented on #2756
Hard to see the value exactly. Can you post it here (the value before
the jump). Also do you have max latency graph?

--
			Gleb.

[2018-05-15 12:48] tomer-sandler commented on #2756
Background workload: 50% Writes (updates) + 50% Reads.

Write 99th: ~7 ms

![image](https://user-images.githubusercontent.com/25585995/40056620-a29c96e8-5854-11e8-9f96-1ff35e7c9a16.png)

Read 99th: ~13ms

![image](https://user-images.githubusercontent.com/25585995/40056676-bf46a7ac-5854-11e8-9f6d-59143ba0f530.png)

I Duplicated the matric and modified from 0.99 to 1.0, to get the MAX but every tim

[2018-05-15 13:00] gleb-cloudius commented on #2756
What is the max read latency when 99 picks at 400ms?

Try 13ms instead of 2ms. If it will work it may mean that we decay
99 percentile to fast.

--
			Gleb.

[2018-05-15 13:25] tomer-sandler commented on #2756
You originally asked for the 99th before the node was killed (11:44:15) and these are the results I posted.
When the 99th jumps to 400ms (11:44:30) that already when the node is dead.

In order to see the MAX I did the following:
1. Edit the original metrics:
```histogram_quantile(0.99, sum(rate(scylla_storage_proxy_coordinator_write_latency_bucket{instance=~"[[node]]", shard=~"[[shard]]"}[30s]))

[2018-05-15 13:28] harelassayag opened #3433 "scylla_setup should fail with error when mdadm fails in Silent mode"
*Installation details*
Scylla version (or git commit hash): 2.2.rc0-0.20180513.7ca5e7e99
Cluster size: 1TB
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos

scylla_setup in silent mode does not even though mdadm fails on both cases below

case 1:
[code]
case 2:
[code]

[2018-05-15 13:33] nyh opened #3434 "Inefficient secondary-index storage for searching on a partition-key column"
When a secondary index is build to search on one of the **partition** key columns, we don't care about individual clustering keys - if a partition matches a search, this whole partition matches the search, and we don't need to check each individual row.

We already have this as a special case, "whole_partitions" in the code (select_statement.cc), where the read happens at a whole partition granula

[2018-05-15 13:33] gleb-cloudius commented on #2756
On Tue, May 15, 2018 at 06:25:48AM -0700, tomer-sandler wrote:

I am interested in latencies of other nodes, not the one that got
killed.

Never used histogram in grafana. May be @glauber knows.

--
			Gleb.

[2018-05-15 13:52] tomer-sandler commented on #2756
The results I posted are for all the nodes, so you can see that just before it was killed the 99th AVG (avg means the results from all 6 nodes) was as I wrote before.
Write 99th: ~7 ms
Read 99th: ~13ms

I was able to find the spot where the latency spikes in the C-S output log - you can see the spike to ~15K-30K ms (1.5-3 sec) a bit before that it's ~200-300 ms, and a little bit more before that i

[2018-05-15 13:58] nyh opened #3435 "In some cases, allow view primary key to be subset of base table's primary key columns"
New Materialized Views feature idea:

When creating a MV on a base table, we **require** that the view's primary key includes at  all the primary key columns from the base table. The reason for that limitation is explained, for example, in https://github.com/scylladb/scylla/wiki/Materialized-Views#example - if we don't take all the primary key columns into the new primary key, we can't guarantee u

[2018-05-15 15:17] slivne commented on #3422
@asias - still not clear o me

We have users with many small tables

it seems that if we have a single table size X and 5000 tables of size x/5000 - we will be streaming in completely different rates. shouldn't the bandwidth be the limiting factor (given that disk/cpu are not the bottleneck)

"The session made no progress with peer", the session stalls for some time so the total time to complete i

[2018-05-15 15:37] #3339 closed

[2018-05-15 16:02] #3369 closed

[2018-05-15 20:03] slivne commented on #3428
We also have this error log here

http://jenkins.cloudius-systems.com:8080/view/scylla-2.2/job/scylla-2.2-dtest/label=scylla-build,mode=release,smp=2/lastCompletedBuild/testReport/materialized_views_test/TestMaterializedViews/add_dc_during_mv_insert_test/

On Mon, May 14, 2018 at 12:23 PM, Asias He <notifications@github.com> wrote:

[2018-05-15 22:42] duarten commented on #3435
We can never allow the view's PK to be a subset of the base's. The view must always include the base's partition key, or we end up in situations where we have to read the whole database. For example, considering a base PK of (p1, c1, c2) and a view PK of (c1, c2), every time a row of a given partition is deleted, we need to read the whole database to see if we should delete the entry from the view

[2018-05-15 23:14] asias commented on #3422
I am not saying we have should not support small tables and not make it stream fast. The monitor shows the cpu load is 100%. I suspect we have inefficiency problem reading small tables with small ranges.

@roydahan we have merged the streaming patches long time ago. Did we saw such slowness only recently?

It is a sign that something went wrong. The log happens when there is no mutations is sent o

[2018-05-15 23:32] asias commented on #3422
@roydahan how many tables does each keyspace have?

[2018-05-16 01:28] vladzcloudius commented on #2888
This issue is resulted by a discussion on a thread with the Message-ID: 20170810202139.GB18598@moon

[2018-05-16 01:54] baiwfg2 commented on #2562
How could it know truncation should be retried when restarting ? Besides truncate record, is there other things that can indicate truncation occurred before ?

[2018-05-16 02:09] asias commented on #3422
[code]

[2018-05-16 07:26] amoskong commented on #3373
Upgrade from  `2.1.3-0.20180501.8e33e80ad` to `2.2.rc0-0.20180513.7ca5e7e99` is fine.
Rollback from `2.2.rc0-0.20180513.7ca5e7e99` to `2.1.3-0.20180501.8e33e80ad` has problem.

`2.2.rc0-0.20180513.7ca5e7e99` already contains `[PATCH] dist/redhat: replace scylla-libgcc72/scylla-libstdc++72 with scylla-2.2 metapackage`

[code]

[2018-05-16 07:56] avikivity commented on #3373
I don't think we can do better, since 2.1 is out there. We can have a procedure with `yum shell`, involving yum downgrade in conjuction with `yum remove scylla-libstdc++73` and similar.

[2018-05-16 08:09] amoskong commented on #3373
I just verified the workaround in rollback from 2.2 to 2.1:
[code]

In my test, I have to resetup `/etc/scylla.d/io.conf` after rollback, then scylla-server will start successfully.

[code]

[2018-05-16 08:26] tomer-sandler commented on #2756
Ran the test again with ```speculative_retry ='13ms'``` (per Gleb's request).  Same background workload (50% read  50% write, total 200K IOps). Still got 50% drop in throughput for ~30 sec. Gleb and I also noticed there are 40 read timeout per second during that time, and that writes are also affected, not only reads.

I repeated the test with ```speculative_retry ='2ms'``` and I got the same outc

[2018-05-16 08:46] asias opened #3436 "flush_streaming_mutations is slow"
Scylla version (or git commit hash): 2.2.rc0-0.20180508.dfe5b38a4

In simple_add_node_1_test, I found  It took 2 seconds to do the cf.flush_streaming_mutations.
[code]

Comment out cf.flush_streaming_mutations in ms().register_stream_mutation_done()
[code]

[code]

This makes  it is very slow to stream a keyspace with many tables.

In the following commit, we make the streaming session transfer a

[2018-05-16 09:00] slivne commented on #2756
I assume you are killing a node not stopping it - can you try and stop it
and lets see what happens

On Wed, May 16, 2018 at 11:26 AM, tomer-sandler <notifications@github.com>
wrote:

[2018-05-16 13:39] avikivity opened #3437 "raid0.devices_discard_performance kernel parameter causes raid0 module load failure"
*Installation details*
Scylla version (or git commit hash): 2.0+
OS: RHEL / CentOS

Newer RHEL kernels, as well as non-RHEL kernels, don't have the `raid0.devices_discard_performance` module parameter. The kernel refuses to load the module, so we don't have access to the RAID array.

[2018-05-16 13:46] slivne commented on #3437
dup #3427

[2018-05-16 13:56] harelassayag opened #3438 "scylla_setup fails to create raid0 - mdadm: RUN_ARRAY failed: Invalid argument"
*Installation details*
Scylla version (or git commit hash): 2.2.rc0-0.20180513.7ca5e7e99
Cluster size: 1 node with 8 nvme disks (350 gb each)
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos 7
kernel version:
[code]

when running scylla_setup manually. scylla setup fails to create raid0
[code]

[2018-05-16 14:00] avikivity commented on #3438
Likely #3427, #3437.

[2018-05-16 14:09] amoskong commented on #3438
Yes, I saw `raid0: Unknown parameter `devices_discard_performance'` in dmesg of Harel's machine.

[code]

[2018-05-16 14:12] amoskong commented on #3438
@syuu1228 This issue is duplicated with #3427 , and disks weren't mounted successfully.

[2018-05-16 14:13] #3438 closed

[2018-05-17 00:14] asias commented on #3436
Added some more debug:
[code]

The log shows it is _streaming_memtables->seal_active_memtable_delayed that is slow.

[code]

[2018-05-17 00:16] asias commented on #3436
@duarten Any ideas why seal_active_memtable_delayed takes so long?

The latest commit:
[code]

[2018-05-17 02:07] syuu1228 commented on #3437
@avikivity should we drop the parameter unconditionally, or we should keep it for older kernel (and try to prevent applying to newer kernel)?

[2018-05-17 02:25] eyalgutkind commented on #3405
See similar issue when having a single clustering key in the table,
The query on the clustering key secondary index return an empty results.
Here is the use case:
[code]

[2018-05-17 07:48] amoskong commented on #3427
I saw this issue in those jobs, they use same test env (kernel-3.10.0-862.2.3.el7.x86_64)
- job/scylla-2.0-centos-rpm-test
- job/scylla-2.1-centos-rpm-test
- job/scylla-2.2-centos-rpm-test
- job/scylla-enterprise-2018.1-centos-rpm-test

[2018-05-17 08:01] avikivity commented on #3437
@syuu1228 it would be better to apply the parameter conditionally, but it is very hard. The installed kernel need not be the same as the running kernel (we can have old and new kernel co-installed) and there is no way to make the modprobe configuration file conditional.

So I think the best we can do is remove the parameter and ask everyone who is impacted to upgrade the kernel (which delivers bet

[2018-05-17 08:37] amoskong opened #3439 "scyll_setup fail: This is an unsupported kernel version: kernel-3.10.0-862.2.3.el7.x86_64"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180515.83e64192d
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

Artifact-test job link: [job/scylla-master-centos-rpm-test/406](http://jenkins.cloudius-systems.com:8080/job/scylla-master-centos-rpm-test/406/label=muninn/artifact/latest/job.log)

I'm using the latest centos7, and the kernel is updated to late

[2018-05-17 08:40] avikivity commented on #3439
It's scylladb/seastar#448 and scylladb/seastar#449.

[2018-05-17 08:44] tgrabiec commented on #3436
@asias We're coalescing streaming seals since commit 455d5a57d2e30ec1ece77f0346f1da4772051c09:
[code]

seal_active_streaming_memtable_delayed() arms the timer with 2s.

[2018-05-17 08:44] denesb opened #3440 "SEGFAULT in add_50_nodes_test"
*Installation details*
Scylla version (or git commit hash): 2.2-rc1 (eb646c61ed1e6d3a1137140a382fc56f78dff38a)
dtest: update_cluster_layout_tests.TestLargeScaleCluster.add_50_nodes_test

Backtrace:
[code]

[2018-05-17 08:45] amoskong commented on #3439
Thanks.

[code]

[2018-05-17 09:32] nyh commented on #3405
@eyalgutkind yes, I think it's the same bug. I've sent a patch series fixing this bug and closing this issue. When it's committed, please retest your scenario.

[2018-05-17 09:59] roydahan commented on #3422
1TB keyspace:
`cassandra-stress write cl=QUORUM n=1100200300 -schema 'replication(factor=3) compaction(strategy=LeveledCompactionStrategy)' -port jmx=6868 -mode cql3 native -rate threads=1000 -col 'size=FIXED(1024) n=FIXED(1)' -pop seq=1..1100200300
`

Smaller keyspaces:
[code]

[2018-05-17 10:02] roydahan commented on #3422
@asias, there is an older issue (2.1.0) for decommission take 4 time longer than what it used to (https://github.com/scylladb/scylla/issues/3337)

[2018-05-17 13:03] glommer commented on #3439
Can I get access ? I can repro none of that locally.

[2018-05-17 13:04] avikivity commented on #3439
Will be fixed by 98967da94f24597eeac8be9038c6d0974563bc14.

[2018-05-17 13:04] #3439 closed

[2018-05-17 13:13] #3437 closed

[2018-05-17 13:37] slivne commented on #3212
@nyh - should this work now ?

[2018-05-17 13:39] slivne commented on #3357
@duarten did you fix this issue ?

[2018-05-17 14:16] glommer commented on #3436
On Thu, May 17, 2018 at 4:44 AM, Tomasz Grabiec <notifications@github.com>
wrote:

This is very ancient though, and couldn't really explain a regression now.

[2018-05-18 01:15] asias commented on #3436
I would say it is a regression we just found.  It makes streaming a keyspace with large amount of tables slow. The 2s delay in seal_active_memtable_delayed wastes 2 seconds per stream plan. We stream a keyspace in around 10 stream plans, 10% of ranges a time. If we have 5000 tables, even if they are almost empty, that is 27 hours.

[2018-05-18 02:42] syuu1228 commented on #3427
@amoskong should fixed by  https://github.com/scylladb/scylla/commit/3b8118d4e546e0eef74ea90676cd709fd268d3b8

[2018-05-18 05:46] asias commented on #3422
I am aware of #3337. Did you see "sstable inactive read queue overloaded" error in this issue too?

[2018-05-18 05:53] asias commented on #3337
@harelassayag how many tables are in the keyspace?

[2018-05-18 05:55] asias commented on #3422
I tried the same c-s command line ( compression=DeflateCompressor ), I can not reproduce the slowness.

[2018-05-18 06:32] frank8989 opened #3441 "scylla-server.service should be started after md0 data path mounted"
*Installation details*
Scylla version (or git commit hash): 2.0.0-0.20170929.e265c91
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI):  CentOS Linux release 7.2.1511 (Core)

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets= cores= hyperthreading= memory=62G
Disks: (SSD/HDD, count) 3T SSD

One node

[2018-05-18 06:38] denesb commented on #3246
The exact source of the regression was not identified. It seems that the flattening of the combined reader is one of the main source of it but other than that we don't know what exactly is causing this. @vladzcloudius feel free to correct me.

[2018-05-18 06:42] asias commented on #3422
@roydahan To rule out the scheduling issue between normal cql request and streaming, can you run corrupt_then_rebuild, rebuilding a keyspace with 1 table that is 160GB in size without the c-s in the background when you run rebuild.

What was the streaming bandwidth for such test in the past, 160GB / 1TB rebuild?

[2018-05-18 06:48] asias commented on #3246
Do we have any tests that can benchmark the reader performance?

[2018-05-18 07:27] frank8989 commented on #2683
Is there any plan to fix this?  We heavily reply on truncate or drop to remove the old table daily/weekly/monthly. Each time, during drop table, there will be lots of stalls and timeouts from clients.
In our scenario, we don't keep the dropped data(auto_snapshot = false), so if just scan the cache entries and set a flag to indicate it has been recycled, it will alleviate the problem？

[2018-05-18 07:59] amoskong commented on #3427
@syuu1228 do we need to backport this fix to 2.0/2.1/2.2/2018.1?

[2018-05-18 08:14] slivne commented on #3427
2018.1 + 2.2 already have it

2.1 / 2.0 will be the next ones.

On Fri, May 18, 2018 at 10:59 AM, Amos Kong <notifications@github.com>
wrote:

[2018-05-18 11:06] denesb commented on #3440
I ran this test on GCE on a `n1-highmem-64` machine (64 cores, 416GB RAM) and it passed without problems. I only managed to reproduce it once on my local box. I'm starting to think the crash was the result of not enough resources (both on my machine and on jenkins).

[2018-05-18 11:30] avikivity commented on #3440
btw, having timeouts in commitlog is questionable. Disk operations shouldn't time out.

[2018-05-18 12:43] glommer commented on #3440
On Fri, May 18, 2018 at 7:30 AM, Avi Kivity <notifications@github.com>
wrote:

But is that the disk operation timing out here?
We still want time outs in the high level because if the request waited for
so long to be processed that it timed out, we don't want to process it.

Once it goes to disk, the disk operation itself shouldn't timeout.

But batch_cycle seems to me to be doing more than that.

[2018-05-18 12:48] denesb commented on #3440
I ran the test again on the GCE box but it finished successfully.

[2018-05-18 12:50] denesb commented on #3440
I'll try to run this again on my own machine on Monday while I'm compiling and whatnot, which is exactly what I did on that one time when I managed to reproduce it. This time I'll make sure I have core generation enabled.

[2018-05-18 12:56] glommer commented on #3440
I think that move of me is illegal.

[2018-05-18 13:42] vladzcloudius commented on #3246
@asias Do you refer a unit test that would test the combined_reader performance stand alone?

[2018-05-18 18:15] avikivity commented on #3440
@glommer good catch, it doesn't match the backtrace exactly but the compiler may have moved things around.

[2018-05-18 18:15] avikivity commented on #3440
Possible fixed by 596a52595038e531fdab65815cc410c44c28b41a.

[2018-05-18 18:54] glommer commented on #2683
This is currently scheduled for 2.3. But @tgrabiec should confirm what is his availability to work on this, since he'll be the one doing the work.

[2018-05-19 15:33] duarten opened #3442 "Leverage hinted handoff when replaying matches"
*Installation details*
Scylla version (or git commit hash): >= 1.0

Apache Cassandra's batchlog replay checks whether the target endpoint is live before attempting to send, and in case the endpoint is not live, it stores a hint for it. Now that we have hinted handoff we can do something similar (maybe we just have to change CL level from ALL to ANY).

[2018-05-19 15:40] duarten commented on #3442
Refs #1222

[2018-05-19 20:06] #2793 closed

[2018-05-19 22:07] syuu1228 commented on #3441
@avikivity Since our script setup fstab entry for RAID with auto option, I think local-fs.taget should be wait for complete mount the filesystem.
So I think adding local-fs.target to the dependency should work.
Looks like some services such as collectd or nfs doing like this, should be usable on scylla-server too:
[code]

[2018-05-20 07:48] veramine opened #3443 "Scylla 2.2 exception during mutation write std::out_of_range (Column not found for id = 22)"
*Installation details*
Scylla version (or git commit hash):  2.2.rc0-0.20180504.9aa172f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI):  AWS AMI  (CentOS 7.3)

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker):  AWS i3.xlarge

We have been testing 2.2 on a test cluster and everything has been looking really good.  We are eager to deploy it more widely.

[2018-05-20 10:51] avikivity commented on #3441
Yes, local-fs is a good solution.

[2018-05-20 11:27] bisratyalew opened #3444 "How can i install scylladb on ubuntu 17.10?"
Is scylladb only available for ubuntu 14 & 16?

[2018-05-21 01:04] asias commented on #3246
Yes, a unit test that can test:  how fast the reader can read from sstables and generates the mutation_fragments.

One way I can think of is to hack the streaming a little bit so that we never really send mutations over network. We can watch the bandwidth of streaming in the log and know the reader's bandwidth.

[code]

[2018-05-21 02:42] syuu1228 opened #3445 "Dependency is not satisfiable: realpath on Ubuntu 18.04(bionic)"
Seems like realpath is independent package on 14.04, but it becomes virtual package to install coreutils on 16.04, now only coreutils package is provided on 18.04.
Need to fix dependency lines for 18.04.

[2018-05-21 07:31] tgrabiec commented on #3443
@duarten I suspect this is related to materialized views handling, can you confirm?

[2018-05-21 09:31] roydahan commented on #3422
We'll do the test and update.

[2018-05-21 12:56] slivne commented on #3443
@veramine - can you be more specific - which alters have you executed ... we will try to reproduce (more than once)  on our end.

[2018-05-21 12:58] slivne commented on #3212
@psarna - please try and reproduce on master - if you can't great - its closed - if there is still an issue - lets fix it.

Please provide the commit you tested

[2018-05-21 13:10] duarten commented on #3443
I tried to repro this but couldn't. We only call `cell_at` in 3 places in the MV code, and they all look sane (they are used to fetch primary key columns of the base, or the regular column of the base in the view's PK, which at that point we ensure it exists in the update).

@veramine Do you recall what were the order of schema changes? What MVs were already created when the new columns were added

[2018-05-21 14:00] elcallio opened #3446 "commitlog does not perform explicit "file::close" on segments released outside shutdown"
Segments released via normal CF flush or similar are not actually file::closed, but only drops their file objects and rely on RAII disposal of file object.
This would be fine, since the segments are always guaranteed to be fully synced (flushed to disk), but the wrap-around layer "append_challenged_posix_file_impl" has dispatch logic relying on file objects actually doing close before being free:d

[2018-05-21 14:28] slivne opened #3447 "dist/debian/build_deb.sh create artifacts with root ownership"
artifacts are created with root ownerhsip - they should be created (or chowned) to the running user.

[2018-05-21 14:59] syuu1228 opened #3448 "scylla_io_setup(iotune) fails on Ubuntu 18.04"
*Installation details*
Scylla version (or git commit hash): c053275a480d0c6a5038ae73c16c32dace1042a1
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 18.04LTS

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): physical
Hardware: i7 6950X / 64GB RAM
Disks: (SSD/HDD, count) Samsung SSD SM951

It seems IO measurement itself

[2018-05-21 17:23] vladzcloudius opened #3449 "Improve memory consumption estimates in prepared_statements_cache and authorized_prepared_statements_cache"
Currently these classes use a static approximation for an entry size.
We need to come up with a better solution than that.

[2018-05-21 20:08] veramine commented on #3443
Yes, I can confirm that this procedure resolved the issue:

1- Repro issue (it had "spread" to a second table row)
2- Drop each materialized view
3- Recreate each materailized view
4- Iterate over each row, re-writing each value to repopulate the materailzied view
5- Attempt same update

In this case, the update prior to the MV drop/recreate returned an error.  After dropping and recreating the MV

[2018-05-21 20:30] bisratyalew commented on #3444
Ok, Thanks

[2018-05-21 20:30] #3444 closed

[2018-05-21 22:03] duarten commented on #3443
Do you have the errors regarding those other columns?

Even if changing the schema while sending updates would triggers bugs, nothing could be so permanent.

I tried to repro again and failed (with 2.2.). We'll need a more sophisticated setup, I guess.

More technical notes:

The only thing that explains the behavior is indeed loading a value for which the column is `null`, and trying to fetch it.

[2018-05-21 22:30] veramine commented on #3443
The other errors were similar, just different column ID's.  For example:

[code]

and

[code]

Your technical notes are helpful for me.  In response to that, anytime I add new columns, I will iterate through all rows and set those nulls to an empty value.  Probably that will help us avoid these kind of issues.

[2018-05-22 03:04] frank8989 commented on #2683
@glommer Thanks for feedback.  This is vital for our system's stability.  Hope 2.3 is coming soon.  :)

[2018-05-22 07:08] asias commented on #3436
Most of the time there will be one stream plan at a time, the next stream plan won't start until the previous one is finished. I think current coalescing won't work at all.

[2018-05-22 08:03] denesb commented on #3246
@pdziepak contributed a micro-benchmark framework (https://github.com/scylladb/seastar/commit/bae83edc9f6343c4750977b55226e17a3ddc840c)  explicitly for reader-testing and also some benchmarks for combined reader (https://github.com/scylladb/scylla/commit/f6434c9941).
`tests/perf/perf_fast_forward` can also be used to assess reader performance.

[2018-05-22 10:27] psarna commented on #3202
There are two separate issues here, I think they should be split.
1. Dropping a table with secondary indexes - I'll send a patch series for that soon. The issue is that dropping a table should be allowed even if it has secondary indexes.

2. Dropping a keyspace with **any materialized views** present, not just secondary indexes.
Here's a reproduction:
[code]

If any materialized views are present,

[2018-05-22 11:53] psarna commented on #3212
I tried 05c94bc98d083c3db9f30c7e81311e88e8780a2c and didn't manage to reproduce. No assertions failed when adding indexes on non-regular columns.

[2018-05-22 12:28] #3383 closed

[2018-05-22 12:28] #3446 closed

[2018-05-22 16:05] raphaelsc commented on #2684
we already feed the compressed data offset (when compression is enabled) to the summary sampling procedure. So this issue can be closed @slivne

[2018-05-22 17:03] tzach opened #3450 "Use Scylla as default username and password for the Authenticator"
*Installation details*
Scylla version (or git commit hash): 2.2

Current username is Cassandra
http://docs.scylladb.com/operating-scylla/authentication/

[2018-05-22 18:33] #3385 closed

[2018-05-22 19:27] raphaelsc opened #3451 "Scylla fails to boot due to inexistence of /var/lib/scylla/hints"
*Installation details*
Scylla version (or git commit hash): 62c3b4c429c365273ce8d1086616feb994fcc6a2
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

Regression may have been introduced in this series 4b2fd8d6f28e0eff936980ddac1a3efb8c4ae755

[2018-05-22 19:31] psarna commented on #3451
Yeah, creating `/var/lib/scylla/hints` should be added to install.sh and some docs, I'll make a patch

[2018-05-22 19:34] raphaelsc commented on #3451
Actually we should have a internal way of dealing with it when running in developer mode. Like creating a directory ourselves in the parent directory of user-specified data directory

[2018-05-22 19:37] glommer commented on #3451
we create the commitlog and data directories inside scylla.

Hints should be no different.

We still want to install them from packaging, because tools that run before
Scylla may check for them. But the safe bet is to do both.

On Tue, May 22, 2018 at 3:34 PM, Raphael Carvalho <notifications@github.com>
wrote:

[2018-05-22 19:43] psarna commented on #3451
oh, my bad... we do create them with `hinted_handoff` explicitly enabled, but not when it's only enabled because of materialized views... will fix.

[2018-05-22 22:10] #3202 closed

[2018-05-22 22:10] #3451 closed

[2018-05-23 06:08] juliayakovlev opened #3452 "Data amount in the MV less then expected after cluster restart with resharding"
Dtest  interrupt_build_process_with_resharding_half_to_max_test failed with error:

**Failure**
Traceback (most recent call last):
  File "/usr/lib64/python2.7/unittest/case.py", line 367, in run
    testMethod()
  File "/home/juliay/scylla_repo/scylla-dtest/materialized_views_test.py", line 1917, in interrupt_build_process_with_resharding_half_to_max_test
    self._do_resharding_test(str(cpu_coun

[2018-05-23 10:35] #3433 closed

[2018-05-23 10:42] duarten commented on #3452
Stopping the cluster forces the nodes to go down and doesn't do an orderly shutdown, so one thing that could maybe explain this would be an un-flushed commit log.

I don't think there's a bug per se, but we should understand the behavior nonetheless.

@juliayakovlev Also told me a similar error happens in the non-MV resharding tests, so it may be unrelated to MVs after all.

[2018-05-23 11:47] avikivity opened #3453 "build fails on power due to missing libunwind"
Inexplicably, libunwind is not available on CentOS 7.5 ppc64le, so the build fails.

[2018-05-23 13:05] #3453 closed

[2018-05-23 14:07] gleb-cloudius opened #3454 "Ec2MultiRegionSnitch does not (always) honor prefer _local"
*Installation details*
Scylla version (or git commit hash): 2.0.4
Cluster size: 2 dcs 3 nodes each with TLS enabled

I expect to see connections on local address only between nodes in the same DC in netstat, but netstat shows only some (very low number of) connections use local address and all others continue to be on global one. Note that test setup is with TLS. may it has something to do with it

[2018-05-23 14:36] aerskine opened #3455 "Coordinator timeout"
*Installation details*
Scylla version (or git commit hash):  2.1.1-0.20180325.cce455b1f
Cluster size: 3 machines, 12 cores
OS (RHEL/CentOS/Ubuntu/AWS AMI): RHEL 7.4

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): Physical
Hardware: sockets= cores=48 hyperthreading= memory=64GB
Disks: (SSD/HDD, count) 2x SSD in RAID1

Files

[2018-05-23 17:58] roydahan commented on #3337
2 tables.

[2018-05-23 19:26] argenet opened #3456 "build_deb.sh fails on Debian 9 (stretch)"
Scylla version (or git commit hash): 4eb47d136b0ec13ccd2fb9b7e9936b0a7b37b06b
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian 9

I am following the steps from this wiki page: https://github.com/scylladb/scylla/wiki/Building-.deb-package-for-Ubuntu-Debian

The `build_deb.sh` script fails to produce Scylla package with the following error:

[code]

On branch `branch-2.2` (commit `17cc62d0b`) it gets past th

[2018-05-23 20:43] syuu1228 commented on #3456
@argenet I found the bug on build script that causes build error on master branch, sent a fix on ml https://groups.google.com/forum/#!topic/scylladb-dev/HW0qBdWIdDM

[2018-05-23 23:47] amoskong opened #3457 "upgrade: seastar - Exceptional future ignored: std::system_error (error system:32, Broken pipe)"
*Installation details*
Scylla version (or git commit hash): 2.1.3-0.20180501.8e33e80ad -> 2.2
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

Procedure reference: http://docs.scylladb.com/upgrade/upgrade-guide-from-2.1-to-2.2-rpm/
error occurred after drain the first node which will be upgraded.

[code]

[code]

[2018-05-24 02:21] infordb opened #3458 "TWCS timestamp overlap"
*Installation details*
Scylla version (or git commit hash): scylla-enterprise-tools-core-2018.1.0-0.20180425.5ce22ad.el7.centos.noarch
Cluster size: 1 node

* table config
    AND compaction = {'class': 'TimeWindowCompactionStrategy', 'compaction_window_size': '1', 'compaction_window_unit': 'DAYS'}
    AND compression = {'chunk_length_kb': '64', 'sstable_compression': 'org.apache.cassandra.io.comp

[2018-05-24 02:37] raphaelsc commented on #3458
On Wed, May 23, 2018 at 11:21 PM, Junghyun Park <notifications@github.com>
wrote:

Depends. A sstable is bound to a time window based on its maximum
timestamp. That's why TWCS decided not to merge 2904 with those old
sstables which time range overlap. Is the client the one providing the
server with timestamps? I could see this problem happening either with
repair (where old and new data can be mix

[2018-05-24 03:42] infordb commented on #3458
@raphaelsc
We used one client  for the same server as scylla, and the timestamp was provided by the client.
there was no read repair, anti-entropy repair, etc
I think our test case should not cause timestamp overlap.

[2018-05-24 04:45] infordb commented on #3458
@raphaelsc
We are using the dfault setting. may be microsecond-precision timestamp
https://docs.datastax.com/en/developer/java-driver/3.0/manual/query_timestamps/

[2018-05-24 08:51] #3456 closed

[2018-05-24 09:01] gleb-cloudius opened #3459 "Use after free in TLS shutdown"
*Installation details*
Scylla version (or git commit hash): 2.0/2.1

Not waiting for output during shutdown can lead to use-after-free: while the reactor checks if the file descriptor is writtable, the posix_data_sink_impl which owns the packet is destroyed, and the reactor later accesses a freed packet.

[2018-05-24 09:18] slivne commented on #3408
in 2.2 (49896ec5d183532b9e40546a4c0b58b7d0c1d3e6) / master this is fixed (3567f0828bc987be2370c491d2f2f61fb7e74198)

2.1 backport still not merged

@syuu1228 - am I missing something ?

[2018-05-24 09:19] slivne commented on #3422
@roydahan / @asias ping

[2018-05-24 09:26] slivne commented on #2877
closing - as not reproduced - we can reopen if there is an issue

[2018-05-24 09:26] #2877 closed

[2018-05-24 09:27] slivne commented on #3459
@gleb-cloudius - is this fixed in 2.2 ?

[2018-05-24 09:28] gleb-cloudius commented on #3459
On Thu, May 24, 2018 at 02:27:36AM -0700, Shlomi Livne wrote:

Avi says "yes".

--
			Gleb.

[2018-05-24 09:31] slivne commented on #3458
- how many shards - the ssatbles can belong to different shards - in which case its clear why they can overlap - they hold different data.

[2018-05-24 09:32] harelassayag commented on #3171
@slivne we are still waiting for major compaction to happen.

[2018-05-24 09:33] slivne commented on #3457
@gleb-cloudius / @elcallio - is this familiar ?

@amoskong - just to verify that we have the correct info - this happend on the 2.1 node - right ?

[2018-05-24 09:36] slivne commented on #3455
@aerskine - we need more info to help

[2018-05-24 09:40] slivne commented on #3452
@juliayakovlev how do we stop the nodes - is that will kill -9 or a clean shutdown.

if its a clean shutdown then its a bug.

If its kill -9 we may be missing something - can you try clean shutdown and see if this happens.

[2018-05-24 09:43] duarten commented on #3452
I wrote those tests. It's not a clean shutdown. A clean shutdown takes too long, and the build process is not interrupted.

[2018-05-24 09:49] slivne commented on #3436
patch on ML: [RFC scylla] db: Get rid of the streaming memtable delayed flush

[2018-05-24 09:52] slivne commented on #3432
related to new streaming

[2018-05-24 09:52] slivne commented on #3431
related to new streaming

[2018-05-24 09:55] slivne commented on #3427
backported to all - closing

[2018-05-24 09:55] #3427 closed

[2018-05-24 09:58] slivne commented on #3426
how many tables ?

did it happen during a drop of tables ?

can you share additional logs /promethues data

[2018-05-24 10:13] infordb commented on #3458
@slivne
 we set compaction_window_size': '1', 'compaction_window_unit': 'DAYS'
  It is strange that such a long time window(4day) is made.

Max: 05/23/2018 08:50:48
Min: 05/19/2018 08:54:05
Estimated droppable tombstones: 0.0021456454530204704 11G May 23 09:19 test-ka-2904-Data.db

[2018-05-24 10:39] roydahan commented on #3422
Was pending due to the GCE issue.
We'll check the metrics on AWS longevity, add the data here and will do the test @asias asked us to do.

[2018-05-24 10:41] roydahan commented on #3180
Should happen this week.

[2018-05-24 11:05] krishnaod commented on #3426
Tables: 240
It happen during massive inserts.
I don't have promethes at the moment.

[2018-05-24 11:07] jkdntc opened #3460 "NoHostAvailable:"
*Installation details*
Scylla version (or git commit hash):Scylla version 2.1.3-0.20180501.8e33e80
Cluster size:5
OS (RHEL/CentOS/Ubuntu/AWS AMI):Linux version 4.4.0-127-generic (buildd@lcy01-amd64-023) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9) ) #153-Ubuntu SMP Sat May 19 10:58:46 UTC 2018

Platform (physical/VM/cloud instance type/docker): KVM
Hardware: sockets= cores=4 hyperth

[2018-05-24 11:37] slivne commented on #3459
closing fixed

[2018-05-24 11:37] #3459 closed

[2018-05-24 15:06] harelassayag opened #3461 "system_error (error system:32, Broken pipe) from other nodes while node stop"
*Installation details*
Scylla version (or git commit hash): 2.2.rc1-0.20180516.eb646c61e
Cluster size: 1 TB 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-59a73726

while node a stops other nodes in the cluster are repporting system_error (error system:32, Broken pipe) with a backtrce:
[code]
decoded:
[code]

[2018-05-24 15:09] slivne commented on #3461
@elcallio / @gleb-cloudius rings a bell

[2018-05-24 15:10] gleb-cloudius commented on #3461
Same as #3457

--
			Gleb.

[2018-05-24 15:30] harelassayag opened #3462 "runtime_error (sorted_tokens is empty in first_token_index!)"
*Installation details*
Scylla version (or git commit hash): 2.2.rc1-0.20180516.eb646c61e
Cluster size: 1 TB 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-59a73726
probably related to: https://github.com/scylladb/scylla/issues/3428
[code]
Counter write stress crashed NoHostAvailableException:
[code]

[2018-05-24 17:05] harelassayag commented on #3171
@slivne the first major compaction nemesis occurred. the issue has not reproduce

[2018-05-24 17:38] duarten commented on #3462
Duplicates #3428 and #3382.

[2018-05-24 17:38] #3462 closed

[2018-05-24 18:26] veramine commented on #3443
Dropping and recreating all materialized views on this table seems to have caused the problem to disappear.  But today it is back after I added two additional columns to the problematic 'hosts' table and then inserted a new row with some values not specified.

To recap, here is the full set of relevant events:

(recap of the above):
1 - Table with 20+ columns of various types, including collection

[2018-05-24 18:34] veramine commented on #3443
I just performed nodetool drain, systemctl stop scylla-server, systemctl start scylla-server and this problem has gone away again.  We will try restarting the server after making schema changes to this table in order to avoid the issue.

[2018-05-24 19:06] duarten commented on #3443
Very odd. Next time this happens, it would be great if you try just doing a flush. Seems like we're storing an old schema somewhere, and rebooting refreshes all the schemas. I'll comb the code again to look for such a case.

I tried to repro again, but still couldn't; I did:

- create a table;
- create a view;
- insert a row;
- [flush to ensure data is on disk; flush and read, to ensure data is on

[2018-05-25 00:50] #3405 closed

[2018-05-25 04:02] jkdntc commented on #2435
I got same error，this error always on the same node， how to solve？

[2018-05-25 22:19] homer6 commented on #3150
@clanstyles ScyllaDB had a presentation where they demoed this working chart. Looks pretty slick! https://github.com/scylladb/scylla-code-samples/pull/44

[2018-05-27 06:10] tzach commented on #3460
Two comments:
- You do not need to include all cluster nodes as seeds, 2 or 3 should do
- With RF=1, even with one fail node, you already loose availability, as some of the data is not available

[2018-05-27 07:32] slivne commented on #3461
@gleb-cloudius / @elcallio - yet this happens on the 2.2.rc1 node - is this something we are familiar with ?

[2018-05-27 10:14] slivne commented on #3059
starting from 2.2 we will not have timeouts for system tables - so scylla will not generate the timeout (or not supposed to).

client side timeout may still occur - we can retest this on 2.2 and see if the issue still exists.

Its fine we have a solution for out workloads - we need to understand what will happen for users that have a large cluster and are trying to create a schema.

[2018-05-27 10:19] slivne commented on #3134
@vabezruchko - ping

Please note that we are working on #3033 that will provide better performance.

[2018-05-27 10:26] slivne commented on #3235
@roydahan - can you please provide a log of a cluster with ssl so we can check the gossip settle time.

[2018-05-27 10:28] slivne commented on #3240
@pdziepak can you please provide @frank8989 some instructions so we can try and make progress on this as well.

[2018-05-27 10:32] slivne commented on #3263
@noamha so can we close this.

[2018-05-27 10:32] #3270 closed

[2018-05-27 11:31] nirmaayan opened #3463 "Improve nodetool listsnapshots command"
Scylla version (or git commit hash): 2.1 / Enterprise 2018

Enable auto_snapshots in the scylla.yaml, deleted CF's are snapshot first.
With time this garbage tends to accumulate.
Unfortunately, nodetool has no way to show it or auto remove.

Possible options:

- add options to the command, e.g. nodetool listsnapshots -f
- add a new command, e.g. nodetool listallsnapshots

[2018-05-28 02:46] jkdntc commented on #3460
@tzach You mean：
parameters:
- seeds: "192.168.0.14, 192.168.0.15, 192.168.0.16"
and
set RF=2 or 3？

[2018-05-28 06:44] tzach commented on #3460
Thanks for the update @jkdntc
Yes, RF=3 is the most common option for medium and small clusters.
With RF=3 you can use CL=ONE or QUORUM base on your read/write consistency requirements.
You can read more about CL and RF here http://docs.scylladb.com/architecture/architecture-fault-tolerance/

[2018-05-28 06:44] #3460 closed

[2018-05-28 07:39] avikivity opened #3464 "Avoid building result_messages"
Currently, the signature of `cql_statement::execute` is

[code]

where `result_message` contains the result of the query, which is then transcribed by a visitor to the client protocol (native or thrift).

We can avoid building the `result_message` by instead passing the visitor to execute():

[code]

The new `result_message_visitor` would be have callbacks for starting and ending rows, for individ

[2018-05-28 12:02] elcallio commented on #3457
See scylladb/seastar#453

[2018-05-28 12:26] hakuch commented on #3450
This makes sense, but it's possible that clients are depending on the default username and password being `"cassandra"`.

[2018-05-29 07:05] veramine commented on #3443
We hit this issue again today on a different table (groups2) and nodetool flush of just that one table and that did not seem to help:

[code]

Here is what we see from database journalctl:

[code]

Also tried nodetool flush of everything and that also did not seem to help.

I think the nodetool flush was a good idea because this server has way too much memory for the load so it might keep everythi

[2018-05-29 07:48] slivne commented on #3443
@veramine

can you please provide us the system_schema tables (this should hold the persisted schema on the disk)  - we can boot an instance with this schema information and check the schema id (similar to what will happen on reboot)

can you please run nodetool describe cluster (this will provide us the schema id in memory)

if they are not the same (the schema from the disk used on a new server,

[2018-05-29 08:07] veramine commented on #3443
Sure.  I've attached output of this command

[code]
And here is the nodetool describecluster output:
[code]
I don't see that guid in the result of the previous select:
[code]

The system_schema.columns select for this schema and this table name does not include the column that I recently dropped (filepathpolicypb blob).  It does include the column that I am unable to update:

[code]
[sst.txt](http

[2018-05-29 08:11] slivne commented on #3443
On Tue, May 29, 2018 at 11:07 AM, Veramine <notifications@github.com> wrote:

You will not see it - its something that scylla computes from all the
information in system_schema.

Can you please upload all the sstables in system_schema tar.gz

[2018-05-29 08:17] veramine commented on #3443
Sure, here you go:
[code]

[2018-05-29 08:41] syuu1228 opened #3465 "Our AMI does not start on newer instance types (c5d, i3.metal)"
Not just i3.metal, but also c5d.*.
It even does not able to start, I got following message just after launched the instance:
[code]

[2018-05-29 09:02] syuu1228 commented on #3465
About c5d.*, since we are able to boot on c5.*, we have enough driver to boot up with NVMe, so it must be something else.
Looks like RHEL7 marketplace image does support so tried to find a difference with ours, then I noticed they are using GPT instead of MBR:

[code]

This is Scylla AMI:
[code]
And CentOS Marketplace image does not able to choose c5d.*, i3.metal, it's grayed out.
I think it's lik

[2018-05-29 09:28] duarten commented on #3443
Well, the issue is clearly related to us using an old schema somewhere. A dump would help if we could enumerate all schemas and see who references an old one.

[2018-05-29 09:34] pdziepak commented on #3464
I am actually working on with that part of the code right now as a follow up to the IMR series to avoid linearisation of large buffers in the remaining parts of the pipeline. My original idea was just to simply use views to avoid copying and linearisation, but non-trivial selectors make this less simple and it doesn't avoid the cost of creating `cql3::result_set`.

Using visitors directly will all

[2018-05-29 09:39] amnonh commented on #1234
I thought about it, the number of relations between all nodes is on the order of O(N^2) in the number of nodes, with a large cluster it could get huge, this limitation is on the Prometheus server.

I think that if at all, it should be on a separate Prometheus server.
I can add a metric that sum each of those types and show it in a per server dashboard

[2018-05-29 09:54] pdziepak commented on #3431
Implemented in 3a4d11d3741f049c27574d4e75c4f148c70d7621.

[2018-05-29 09:54] #3431 closed

[2018-05-29 10:46] glommer commented on #3465
We got an explanation about that on twitter from an AWS representative.

[2018-05-29 10:51] syuu1228 commented on #3465
@glommer but this is happen even applied initramfs fixes exactly same as what we said: https://twitter.com/_msw_/status/1001311228902322177
And looks like it does not started instance, shows up error message before launching it (maybe there is a validator of the AMI image or something like that).

[2018-05-29 10:54] syuu1228 commented on #3465
@glommer And because of it doesn't looks like started an instance, I don't think scylla_create_devices fixes does not fix current issue: https://twitter.com/_msw_/status/1001315237553848320
I suppose we need fix something to make our image bootable, then we need this.

[2018-05-29 11:32] slivne commented on #2888
@vladzcloudius - can we close this ?

If not what is missing ?

[2018-05-29 12:22] tgrabiec commented on #1938
A possible solution may rely on the idea from https://github.com/scylladb/scylla/issues/2825.

[2018-05-29 12:34] #3384 closed

[2018-05-29 13:16] psarna commented on #3423
An example will help me grasp the issue better, so here I go.
If I have a table with key:
[code]
and create a secondary index on `E`, it will result in a materialized view with this key:
[code]
but if it was instead
[code]
where `token(A, B, C)` is an implicitly added invisible column, then order by token would be preserved for queries. Right?

[2018-05-29 13:17] slivne commented on #3212
Closing this as we can not reproduce on master (probably fixed in merging other changes)

@veramine - if there is still an issue - please post here and we will reopen and ask for additional info to reproduce

[2018-05-29 13:17] #3212 closed

[2018-05-29 13:23] nyh commented on #3212
I think I fixed this issue in 79c6bb642ff575d71cfd17cd3b1c8dc37c02336b

[2018-05-29 13:26] duarten commented on #3423
Yeah. Since we don't really expose the materialized view underlying a secondary index, it doesn't really have to be an invisible column.

[2018-05-29 13:31] nyh commented on #3423
Yes, it doesn't need to be "invisible". Above I suggested that as part of the SELECT syntax you should theoretically be able to use a token() function in the SELECT for the view, but I'm guessing support for this doesn't really exist in the current code (it was certainly never tested) so we'll need to fix this in the materialized-view code, before using it in the secondary-index code.

[2018-05-29 13:52] slivne commented on #1234
Why ...each scylla needs to provide the view of all other servers ?

Its true that prometheus will collect that from all the scylla servers - but this is true for all metrics.

[2018-05-29 14:30] psarna commented on #3423
Ok, more questions:

1. I thought that CQL function calls are applied *after* all the arguments are fetched, isn't it the case? Why would using a function on view fields behave differently? token() is yet another CQL function after all.

2. I get that having an actual column in view schema (like in the example above) would influence the order of results. But will it also be the case if I just used

[2018-05-29 14:35] nyh opened #3466 "Example in README.md is out of date"
In README.md we have an example of running Scylla in a "tmp" directory:
[code]
This example no longer works - it has become necessary, unfortunately, to also add a `--hints-directory tmp` option to this list.

The easy fix is to add this option to README.md.

A harder but perhaps more satisfying fix could be to add a new option, "--home", where all the other directories default to a subdirectories

[2018-05-29 14:40] nyh commented on #3423
@psarna we're not talking about a normal SELECT query, but rather the SELECT used to **define** the materialized view, i.e., it defines which columns the view would have (secondary-indexing later uses this view to perform the search). This SELECT gets applied during updates - not during searches.

If you need a slightly longer introduction to how we do secondary indexing over views, please let me

[2018-05-29 14:44] amnonh commented on #1234
let's say we have a 100 node cluster, if each node report about all the other nodes, we get 100*99 = 9900 metrics, which is a lot.

The patch I'm about to send has two types of metrics:
1. aggregated metrics of the number of nodes in joining, leaving and moving mode
2. The node own status, we can use these metrics to report similar to what we are doing with unreachable nodes.

[2018-05-29 14:53] slivne commented on #2888
fixed by 4eb47d136b0ec13ccd2fb9b7e9936b0a7b37b06b

[2018-05-29 14:53] #2888 closed

[2018-05-29 17:01] duarten commented on #3443
Regarding the groups2 table (can you share the schema?), you dropped a column, inserted a row, and then failed to update it?

[2018-05-29 17:10] veramine commented on #3443
I've attached the groups2 schema.  The sequence of events was something like this:

1- Create the table.  Inserted/updated/dropped a bunch of rows.
2- Added several materialized views.  Inserted/updated/dropped a bunch of rows.
3- Added 5 new columns (concurrentupdates, incrementalconfigid, autoactionid, filepathpolicyid, filepathpolicypb).  Inserted/updated/dropped a bunch of rows.
4- Realized I

[2018-05-29 17:33] duarten commented on #3443
Alright, I was able to semi-reproduce it:

[code]

I was really paying attention to values before, as I was expecting a crash. But this makes sense:  the wrong id is used to fetch the regular base column in the view's primary key, which probably points to a new column for which the cell is `null`, and thus we won't even consider it.

[2018-05-29 18:05] duarten opened #3467 "Scylla can't shutdown due to sstable write error when data directory disappears from under it"
*Installation details*
Scylla version (or git commit hash): ffe52681ea

[code]

And it just keeps going.

[2018-05-30 02:53] syuu1228 commented on #3465
Looks like I was mistakenly trying to run older image that is using CentOS Market place AMI as base AMI.
I guess that's why I got "The instance configuration for this AWS Marketplace product..." message.
Using CentOS Market place AMI was mistake, reverted at https://github.com/scylladb/scylla/commit/55d6be92548ed9dcac9e1f14dfb673bd627cbbc1.

I tested again with latest Scylla 2.2 AMI (us-east-1: am

[2018-05-30 02:53] #3465 closed

[2018-05-30 07:22] amnonh commented on #251
I'm looking over the metrics, derivative metrics (i.e. bytes/sec) should be calculated at the monitoring server, so the metrics should report the total (bytes, number etc')

I've looked at how other global statistics are implemented (sstable index) and can use the same approach.

The main issue is the duplications, we can have the same sstable on multiple shards, for the total number of reads/writ

[2018-05-30 08:16] amnonh opened #3468 "remove the histogram jmx metrics"
JMX support two types of histograms, regular and estimated.
The original histogram, suppose holds some kind of latest samples, it's meaningless and was replaced by the estimated histogram, that uses buckets, we should drop the histogram support.

[2018-05-30 08:31] amnonh opened #3469 "Prometheus - Should we report Summary instead of histogram?"
Histograms hold row representation of the data, but have a big representation on the network and need to be manipulated on the server side.

Summaries are a short representation of a histogram, instead of reporting all the buckets, it reports a few quantiles (like the 95%, 99% etc').

The main advantages of using summary:
* Minimize the data on the network
* Simple to use on the dashboards

The co

[2018-05-30 08:34] amnonh commented on #2785
I suggest replacing the implementation to log_heap and rename the issue accordingly

[2018-05-30 10:45] slivne commented on #2888
fixed by 4eb47d136b0ec13ccd2fb9b7e9936b0a7b37b06b

[2018-05-30 14:32] #3416 closed

[2018-05-30 14:54] jaspreetb opened #3470 "ServerError: No index found."
*Installation details*
Scylla version (or git commit hash): 2.1.3-0.20180501.8e33e80
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04

**Keyspace created using** :
`create keyspace list_sample with replication = {'class': 'SimpleStrategy', 'replication_factor': '1'} AND durable_writes = true;`

**Table created using** :
`create table test ( name text, dog_name text, genres list<

[2018-05-30 20:44] jvanz commented on #2905
I performed some tests last night... I added 2 more options in the `db/config.hh`, one using `sstring` type and another one `std::string`. The option which using the `sstring` type show the same issue of the `cluster-name` option. However, the option of the `std::string`  does not have the issue.

[code]

[2018-05-30 21:27] duarten commented on #3470
This `No index found.` issue is fixed master. What isn't done is #2962, so I don't think the `contains` query would work correctly.

[2018-05-31 07:20] amoskong commented on #3457
@slivne Yes, thie happened on 2.1 node.

[2018-05-31 07:56] syuu1228 opened #3471 "Does not able to compile Scylla on older distribution because of libjsoncpp version difference"
We get following compile error on Debian 8 and Ubuntu 14.04, since https://github.com/scylladb/scylla/commit/cdcbf654a878b9e28d6e9e3baef9eb99d4b8e08d merged:
[code]

Looks like the compile error only happens when libjsoncpp is 0.6.0 which is the version Debian 8 / Ubuntu 14.04 official repo provided.
Other distributions provides more recent version (CentOS is 0.10.0, others are 1.7.x), it seems th

[2018-05-31 08:01] slivne commented on #3471
@psarna can you please look at this

[2018-05-31 08:20] psarna commented on #3471
For older versions of libjsoncpp there's a deprecated `memberName()` function that can be used. It's deprecated because it doesn't work properly for strings with embedded null character (so, quite common with binary strings).

So, options are to either backport newer libjsoncpp or add some `#if defined(JSONCPP_VERSION_HEXA)` ifdefs that fall back to `memberName()` if jsoncpp's version is lower tha

[2018-05-31 08:58] avikivity commented on #3471
Let's take the #ifdef for now. Ubuntu 14.04 is reaching EOL.

Is CentOS 7's 0.10.5 sufficiently new?

[2018-05-31 13:26] amnonh opened #3472 "remove collectd support from scyllatop"
scyllatop now uses prometheus by default that is enabled in scylla.
There is no need to keep the collectd support

[2018-05-31 13:45] jaspreetb commented on #3470
I see. It isn't just contains query that throws errors, I wasn't able to insert any data to the table after creating the index.
Will there be support for indexing collections in the near future? Thanks

[2018-05-31 15:01] vladzcloudius opened #3473 "dtest auth_test.py tests are causing scylla to fail to boot with the "loading_cache: caching is enabled but refresh period and/or max_size are zero" error"
*Installation details*
Scylla version (or git commit hash): a1cbeeffcd9921cb61b15f1a8850adf3786e123e
Cluster size: 1

*Description*
1. Run the dtest as follows:
[code]
2. Observe the error.

[2018-05-31 15:06] vladzcloudius commented on #3473
The root-cause is that the test disables the permissions cache caching by setting its expiration and refresh timeouts to 0 which in turn makes the authorized prepared statements to set its refresh timeout to zero as well and since its expiration timeout is equal to prepared statements expiration timeout (fixed 60m) it causes the error above.

The fix should be to set the authorized prepared statem

[2018-05-31 16:19] #1541 closed

[2018-05-31 16:19] #3443 closed

[2018-05-31 16:19] #3471 closed

[2018-05-31 17:34] jaspreetb commented on #3470
Got it. I'll close the issue. Thanks

[2018-05-31 17:34] #3470 closed

[2018-06-01 06:03] onlyjob opened #3474 "FTBFS when building from source tarball"
[code]

Apparently this is because `./SCYLLA-VERSION-GEN` unconditionally assumes that it is running from git checkout.

[2018-06-01 06:52] asias opened #3475 "Get rid of the moving operation support"
The moving operation changes a node's token to a new token. It is supported only when a node has one token. The legacy moving operation is useful in the early days before the vnode is introduced where a node has only one token.  I don't think it is useful anymore.
Removing it simplifies the cluster operation logic and code.

[2018-06-01 06:52] asias commented on #3475
@avikivity What do you think?

[2018-06-01 07:24] asias opened #3476 "range_streamer: Remove column_families parameter in add_rx_ranges and add_tx_ranges"
In 4b1034b9cdb468a463abbd0df3fc2f036aad3105 (storage_service: Remove the stream_hints), we removed the only user of the api with the column_families parameter.

std::vector<sstring> column_families = { db::system_keyspace::HINTS };
streamer->add_tx_ranges(keyspace, std::move(ranges_per_endpoint), column_families);

We can simplify the code range_streamer a bit.

[2018-06-01 13:10] onlyjob opened #3477 "How to build with system (i.e. dynamically linked) c-ares on Debian?"
How can one properly build _seastar_ with dynamically linked (system) _libc-ares-dev_ (using _pkg-config_ to query `libcares.pc`),
instead of statically linked sub-moduled _c-ares_ from git repository??

I'm investigating feasibility of packaging ScyllaDB for Debian but ScyllaDB's build system seems to be a mess...

[2018-06-01 13:18] hakuch commented on #3477
I'm in the process of finalizing a proposal for an alternative structure for Seastar's build system with CMake that will make this a piece of cake. Until then, I'm not sure this is possible to do without a patch to the build scripts.

[2018-06-01 15:58] veramine opened #3478 "Scylla 2.2rc0 shutdown after _stream_position.position assertion failure"
*Installation details*
Scylla version (or git commit hash):  2.2.rc0-0.20180504.9aa172f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets=2 cores=6 hyperthreading=yes memory=64gb
Disks: (SSD/HDD, count) SSD/RAID0

We have been testing 2.2 on a single node test clus

[2018-06-01 20:35] syuu1228 opened #3479 "dist: scylla_setup non-interactive mode always fails at ntp setup, even it's looks like succeed"
Looks like this commit https://github.com/scylladb/scylla/commit/300af655554e9a50bf33e8271e188d715737bc88 is incorrect, need to fix.

[code]

[2018-06-01 22:40] onlyjob commented on #3477
It is a good idea to use CMake. Please do it.

[2018-06-02 18:18] avikivity opened #3480 "asan internal error around has_unsalted_hash"
Observed this internal asan error running cql_auth_query_test:

[code]

[2018-06-02 20:28] #3480 closed

[2018-06-02 20:47] avikivity commented on #3477
@onlyjob please post a patch to make seastar's use of the bundled c-ares optional (I'd like to get rid of the bundled c-ares eventually and this is a good first step).

[2018-06-03 04:41] juliayakovlev opened #3481 "nodetool rebuild_index is missed in Scylla"
Cassandra supports rebuild secondary index without dropping.
They support rebuild_index option in nodetool.
We miss this ability

[2018-06-03 07:46] amnonh opened #3482 "Node to report its own status"
https://github.com/scylladb/scylla/issues/1234 talks about exposing the gossip information, but it combines two different issues, one the status of the cluster as reported by each node and the status of the cluster as seen from other nodes.

Let's say a node is joining, the node itself can report that it is in joining state, other nodes maybe didn't see it, or think it has a different state.

[2018-06-03 07:46] amnonh commented on #1234
I'm moving the self reporting part to:
https://github.com/scylladb/scylla/issues/3482

[2018-06-03 11:29] tomer-sandler commented on #3256
Indeed we do not support ```toUnixTimestamp``` according to these tickets:
 #2915 -> #2950 (Closed) -> #2949 (open for 7 months)

[2018-06-03 14:06] avikivity commented on #3474
Yes, we should add a `./configure.py --set-version` option that sets the version explicitly.

[2018-06-03 16:27] duarten opened #3483 "Virtualize `built_indexes` table"
The `built_indexes` table tracks the secondary indexes that have already been populated. Since our secondary index implementation is backed by materialized views, we can virtualize that table so queries are actually answered by `built_views`.

[2018-06-03 17:04] duarten opened #3484 "secondary_index_manager: Index list not scoped by keyspace"
The index list is a map from index name to the index metadata, but ignored the keyspace.

[2018-06-03 17:53] duarten commented on #3484
Oh, the index manager is per CF.

[2018-06-03 17:53] #3484 closed

[2018-06-04 01:43] amoskong opened #3485 "scylla_setup: `NTP setup failed.` is raised even the setup is good"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180603.6f2d3b7f9
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

* Description
Currently even the `scylla_ntp_setup` script was executed successfully, we can still see error: `NTP setup failed.` in scylla_setup.

This is a regression introduced by  commit 300af655554e9a50bf33e8271e188d715737bc88

[code]

* Te

[2018-06-04 01:44] amoskong commented on #3485
@syuu1228
A fix draft, it fixed this issue in my testing:

[code]

[2018-06-04 03:27] amoskong opened #3486 "OEL7.4: Failed at step CAPABILITIES spawning /usr/bin/scylla: Invalid argument"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): OEL 7.4

* Test Job link [job/scylla-enterprise-2018.1-oel7.4-rpm-test/3](http://jenkins.cloudius-systems.com:8080/job/scylla-enterprise-2018.1-oel7.4-rpm-test/label=muninn/3/artifact/latest/job.log)

* Description:
Scylla_setup is good, but it failed to start the service.

* Reference: (@syu

[2018-06-04 04:10] onlyjob commented on #3477
I won't be able to contribute, sorry. I also have no incentive in hacking on this unusual build system. I will wait for transition to CMake (https://github.com/scylladb/seastar/issues/313) which should solve this problem.
Hopefully one day this project will use less uncommon build system... :)

[2018-06-04 06:17] syuu1228 commented on #3485
@amoskong same patch already on the ml "[PATCH scylla] dist/common/scripts/scylla_setup: Show setup failed message only when one of setup failed"

[2018-06-04 07:20] #3477 closed

[2018-06-04 07:32] #3485 closed

[2018-06-04 07:49] amoskong opened #3487 "storage_proxy - Exception when communicating with 10.240.0.128: sstable inactive read queue overloaded"
*Installation details*
Scylla version (or git commit hash):
- src version: 2.1.3-0.20180501.8e33e80ad
- dest version: 2.2.rc1-0.20180516.eb646c61e

Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

Test job link: [job/scylla-staging-rolling-upgrade-gce/37
](http://jenkins.cloudius-systems.com:8080/job/scylla-staging-rolling-upgrade-gce/base_version=2.1,label=gce3-qavpc/37/artifact/latest/)

[2018-06-04 07:54] onlyjob commented on #3477
@avikivity, let's not close bugs without explanation please. I reckon you've closed this one in favour of https://github.com/scylladb/seastar/issues/313? Problem is not solved, you know, and closing just because I can't contribute a patch is inappropriate.

[2018-06-04 07:56] avikivity commented on #3477
@onlyjob, let's not tell other people what to do.

This is not a bug, so it shouldn't have been on the tracker in the first place. If you have questions, ask them on the mailing list.

[2018-06-04 07:59] onlyjob commented on #3477
It is a bug as long as you consider serious limitations in build system to be a problem.
This one is serious enough to block downstream integration - definitely a bug and not a question. Please don't be confused by my wording.

[2018-06-04 08:24] avikivity opened #3488 "cql server reports wrong port when failing to listen"
`(CQLServer error while listening on 127.0.0.1:21027 -> std::system_error (error system:98, Address already in use))`

21027 is byte-swapped 9042

[2018-06-04 08:27] nyh commented on #3477
@onlyjob why is it a "serious limitation" that Scylla comes with its own version of c-ares instead of using the one already included in the system? What other downside is there besides a small waste of disk space, because Scylla now includes a copy of c-ares inside its executable?

All the discussion of cmake in this thread is a red herring, to not use harsher words. There's nothing in cmake which

[2018-06-04 08:41] onlyjob commented on #3477
I don't know enough about Ninja build system but here I read it is pretty much confirmed that using current state of ScyllaDB build system it is difficult to dynamically link with system c-ares due to lack of such option...

CMake is much more common than Ninja and that's an advantage even if it is just as easy to implement dynamic linking with Ninja as it is with CMake.

As for "serious limitatio

[2018-06-04 08:46] amoskong opened #3489 "request to re-setup after rollback from 2.2 to 2.1"
*Installation details*
Scylla version (or git commit hash):
- 2.1.3-0.20180501.8e33e80ad
- 2.2.rc1-0.20180516.eb646c61e

Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

* Reference upgrade guide: http://docs.scylladb.com/upgrade/upgrade-guide-from-2.1-to-2.2-rpm/

* Test steps
1. create a cluster with 4 nodes
2. upgrade the first node from 2.1 to 2.2
3. upgrade the second node from 2.1 t

[2018-06-04 08:46] avikivity commented on #3488
Already fixed by d340a03e8174207251e612ce8a9e6628723dc020.

[2018-06-04 08:46] #3488 closed

[2018-06-04 08:48] nyh commented on #3477
@onlyjob c-ares is just one tiny library, and statically linking it does not make the entire project "statically linked". Invariably, in a huge project such as Scylla, thousands of design decisions are involved and not all of them are the "best practice", what you would consider "best practice". So instead of being pedantic about not using the project before your least-favorite decision is reverse

[2018-06-04 08:54] slivne commented on #3487
![grafana-snapshot-0](https://user-images.githubusercontent.com/3465480/40907479-a90de8ea-67ec-11e8-8fe3-47de74c8acd1.png)

@tgrabiec - can you please look at this ...

[2018-06-04 09:19] onlyjob commented on #3477
Policy compliance is a big thing in Debian and perhaps exception could be made for a _good_ reason. I'm not sure if lack of build system option to use system library is good enough excuse... Besides, size of the library doesn't matter. It dfoesn't make it OK to statically link the library just because it is small. Moreover it is not just _c-ares_... All dependency chain would have to be packaged s

[2018-06-04 09:36] tgrabiec commented on #3487
Is this a regression, that is, did you perform the same test before without problems?

[2018-06-04 09:49] amoskong commented on #3487
I didn't perform the same test (fixed scenario & workload) before.
I saw the error was added by Botond on March 5 in
commit 1259031af3db2fbd2103fe6be84b4fc779f4405a.

On Mon, Jun 4, 2018 at 5:36 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2018-06-04 11:02] tgrabiec commented on #3487
@amoskong Dropping readers when the sstable read queue is overloaded is something we had for a while, since bea7d7ee94b2e0014f675002b546c46c0680c1f3 (scylla-1.3).

The situation here is that the node which was upgraded and restarted has a cold cache and unlike other nodes is serving reads from sstables. It seems that the sstables cannot sustain the concurrency within the timeout.

There are just a

[2018-06-04 11:06] tgrabiec commented on #3487
For one, perhaps background reads should be given separate scheduling priority on replica side, so that they don't affect foreground reads as much.

[2018-06-04 11:10] gleb-cloudius commented on #3487
On Mon, Jun 04, 2018 at 04:06:50AM -0700, Tomasz Grabiec wrote:

All reads are started as foreground and become background when enough
replies for CL are received.

--
			Gleb.

[2018-06-04 11:30] #3473 closed

[2018-06-04 11:53] avikivity opened #3490 "Remove default-install of collectd"
Since bc7503feee1a8c7292e09217fecfca7fe2aad40b `scyllatop` no longer needs collectd. This allows us to drop collectd, which consumes a lot of CPU on large machines.

We can move collectd support (including the dependency on `collectd`) to a sub-package `scylla-collectd` that is not installed by default, and change the default configuration to disable collectd.

[2018-06-04 11:53] avikivity commented on #3490
/cc @syuu1228

[2018-06-04 13:22] roydahan opened #3491 "bad_function_call during read operation"
*Installation details*
Scylla version (or git commit hash): 2.2.rc1-0.20180516.eb646c61e
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

During longevity of 2.2.rc1 the following "Exception when communicating with 172.30.0.45: bad_function_call" errors are thrown for about an hour.

That happened in 2 consecutive runs.
We can see that the errors are thrown for several shards (0, 5, 8) and

[2018-06-04 13:22] tzach commented on #3490
@avikivity this is a breaking change for anyone who does use collectd.
We should add a 2.2 disclaimer that collectd is deprecated, and will be disable by default in the future.
In 2.3 (or 2.4) we can implement the change with a proper note.

[2018-06-04 13:22] roydahan commented on #3491
Testing now with "more verbose" rpms got from @gleb-cloudius trying to reproduce the issue.

[2018-06-04 13:32] slivne opened #3492 "Add a counter for reverse queries"

[2018-06-04 13:41] avikivity commented on #3490
It is not a breaking change, we retain collectd support. It's just not default.

When upgrading, they'll need an additional step of `yum install scylla-collectd` and everything will continue working.

[2018-06-04 13:41] avikivity commented on #3490
2.2 and 2.3 will still ship with collectd enabled by default/

[2018-06-04 14:56] slivne commented on #3489
@amoskong
- Not clear to me if we have todo Workaround 1 & Workaround 2

If only Workaround 1 is needed its fine and we should update the docs.

[2018-06-04 15:07] slivne commented on #3487
@amoskong - can you please disable ```cache_hit_rate_read_balancing``` and lets try this as well.

One option that may exist is that there is a difference in computation between releases and that is forcing more traffic to the restarted node than what would happen if all nodes were in the same version.

(We can also check that by running a cluster of 2.2 and restarting one node under the same work

[2018-06-04 15:08] slivne commented on #3487
another option is to look at the metrics - @gleb-cloudius do we have metrics for the stats that are used by cache_hit_rate_read_balancing we can check the values of the old nodes vs the upgraded node and see if we are forcing to much traffic toward that node

[2018-06-04 15:09] avikivity commented on #3490
It's nicer to pull in fewer dependencies.

In the past, EPEL's collectd pulled in qt and half a million xorg dependencies; this has since been correctd. Still, it's nicer not to pull in something you don't need.

btw, since we no longer need a local collectd, perhaps we don't need anything. Someone who wants collectd can just configure it to point to their remote instance.

It will mean an extra s

[2018-06-04 15:15] gleb-cloudius commented on #3487
On Mon, Jun 04, 2018 at 03:08:45PM +0000, Shlomi Livne wrote:

cache_hit_rate_read_balancing has its own metric but it is per CF and
hence is disabled by default.

--
			Gleb.

[2018-06-04 15:27] tgrabiec commented on #3487
2018-06-04 17:07 GMT+02:00 Shlomi Livne <notifications@github.com>:

I don't think that explains the overload, the client concurrency is only
100, whereas the node has tens of thousands requests sitting in the queue.
Even if there was such a bias, its efect would be limited to the client's
concurrency (100), and wouldn't explain overload.