[2020-03-27 16:04] raphaelsc commented on #6091
@asias

[2020-03-27 17:03] slivne commented on #5818
Please backport to 3.3, so we can consider if to add Centos 8.0 support in 3.3

[2020-03-27 17:25] slivne commented on #4487
3.3.0 will install yet coredumps don't work

[2020-03-27 23:23] erozycki opened #6092 "Some nodes repeatedly perform unnecessary compactions ad infinitum"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.3-0.20200304.48253eb1832
Clust

[2020-03-27 23:46] dorlaor commented on #6092
Can you please share the compaction logs?
@raphaelsc did we consider to add a 'compaction reason' or some other insight into the compaction backlog so users will have a better idea what's going on?

[2020-03-28 00:05] erozycki commented on #6092
Attached it. This was generated with `nodetool setlogginglevel compaction debug`. The big unnecessary compactions are on shard 1 and take around 40m. I believe the following is an example (though it is somewhat difficult for me to accurately differentiate between necessary and unnecessary compactions, so maybe this particular compaction was actually justified).

[code]

[compaction_log.txt](https:

[2020-03-28 19:53] slivne commented on #5657
@gleb-cloudius closing this if you hit it again please provide a core / instructions on how to reproduce this

[2020-03-28 19:53] #5657 closed

[2020-03-28 19:53] slivne commented on #5659
@amnonh / @nyh ping

[2020-03-28 19:56] slivne commented on #5663
@bublikOff we would like to try and help - if you can provide additional information it would be appreciated.

[2020-03-28 19:57] slivne commented on #5677
@asias please have a look at the logs and see if you can figure out whats going on

[2020-03-28 20:13] slivne commented on #5678
I can't find a single line with ` range_streamer ` in the logs

Please note you provided the logs from the 28th of January the error is from the 30th of January

[code]

@dyasny please provide correct logs or close the issue

[2020-03-28 20:14] slivne commented on #5681
@bhalevy ping

[2020-03-28 20:38] slivne commented on #6014
fixed by a092f5d1f4f1b39c3e3734df00bd30e91b6d4282

will be part pf 3.2.4

[2020-03-28 20:38] #6014 closed

[2020-03-28 23:16] #5678 closed

[2020-03-29 08:29] nyh commented on #5659
@slivne I think this was "resolved" in a different way, by making sure that when a node handles schema changes it received from other nodes, it handles view deletions *before* handling other deletions. This was done in commit 923a46030b2c09ed105f903cb3247a567c479120 by @eliransin to fix issue #5614.
After that fix, theoretically the current code to get the index type - which assumes that if the vi

[2020-03-29 11:36] fgelcer commented on #6045
the test has total 100 lines in the table.
queries are executed without paging ([dtest PR](https://github.com/scylladb/scylla-dtest/pull/1322/files#diff-e5cf0811cbb96548391bb9a325eaa2ebR94-R96))

[2020-03-29 12:07] bhalevy commented on #4469
Hit again https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/442/testReport/materialized_views_test/TestMaterializedViews/multi_mvs_on_different_populated_base_tables_test/

[2020-03-29 12:56] bhalevy opened #6093 "Crash from storage_proxy::query_partition_key_range_concurrent during shutdown"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/441/artifact/logs-release.2/1585388830764_compaction_additional_test.CompactionAdditionalStrategyTests_with_SizeTieredCompactionStrategy.compaction_is_started_on_boot_test/node1.log
Scylla version c639a5ec6f081c857b4f62ab3501b74347ff52ee
[code]

Core: https://jenkins.scylladb.com/view/master/job/scylla-master/job/

[2020-03-29 13:16] bhalevy opened #6094 "View is built but not showing as such in view_build_status system table"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/442/testReport/materialized_views_test/TestMaterializedViews/mv_populating_from_existing_data_during_node_restart_test/
Scylla version c639a5ec6f081c857b4f62ab3501b74347ff52ee
scylladb/scylla-dtest@6caf0ec86e08b90b9d137e8a91c90dde08bcbf82

I'm not 100% certain this is a bug in scylla and not in the test...
Anyhow,

[2020-03-29 13:16] bhalevy commented on #6094
@eliransin / @psarna please take a look

[2020-03-29 13:17] bhalevy commented on #6094
Why do we see 2 reports for `Finished building view ks.tm_table_mv_1` on nodes 3 and 4?

[2020-03-29 13:52] eliransin commented on #4469
It seams that only half of my patch-set went in. The part that nests the exceptions and adds field
values didn't go it because I was expected to fix something. I will fix it and submit it so we will have
the info next time.

[2020-03-29 15:00] psarna commented on #6094
Double `Finished building view ks.tm_table_mv_1` is caused by a schema change occurring in the middle of view building, here's the whole context:
[code]
I can't reproduce this failure, but, first of all, this is one of the test which run without schema agreement:
[code]
... that's because otherwise, while we wait for schema agreement, the views could have already finished building and this test wo

[2020-03-29 15:20] yaronkaikov opened #6095 "All SCT artifacts failed on cassandra-env.sh"
`/tmp/tmp.7XHx5kzWiC/cassandra-env.sh: line 90: [: -ge: unary operator expected
mkdir: cannot create directory '/opt/scylladb/share/cassandra/logs': Permission denied
/opt/scylladb/share/cassandra/bin/nodetool: line 96: : command not found`

[2020-03-29 15:21] yaronkaikov commented on #6095
@syuu1228 @penberg  FYI

[2020-03-29 15:32] nyh commented on #6094
I don't understand how the schema agreement hypothesis explains this problem. As `view_built_status_query()` in `scylla_tools.py` shows, the list of fully built views is kept by view **name**, not UUID or anything of this sort. So if the log reports that we finished building a table, how does the schema changing explain why we don't see it in the table of finished builds?

[2020-03-29 15:56] ShlomiBalalis commented on #5840
The latest rolling upgrade failed all the same.
From the centos test:
[code]
svylla version: `666.development-0.20200325.9fee712d62` with build-id `0908e1527b1f134a4e4a46ca44ffe85f0f877318`

test id: `398aee0b-08df-4438-8f97-12b58c709812`
logs:
[code]

[2020-03-29 16:03] psarna commented on #6094
@nyh right, uuids are used only for `host_id`, but I think we can still expect some flakiness from racing with schema agreements, e.g.:
1. We want to be able to assume that all views are built for our test case, so we call `wait_for_view`
2. A wild schema change appears since we didn't wait for a schema agreement, and it causes our view to be recreated from scratch
3. The assumption is no longer t

[2020-03-29 16:52] eliransin commented on #6095
@takuya It looks like several issues during the run of nodetool:
1. There is no $JAVA_VERSION variable in the environment which I can't easily explain.
2. The cassandra-emv.sh file is trying to make a log directory for the garbage collector and
it fails on permissions.
The below code is the problematic code, it was introduced in scylladb/scylla-tools-java@afd40c7273

https://github.com/scylladb/sc

[2020-03-29 17:31] bhalevy commented on #5681
@slivne I don't think it ever passed before.  I'd assume it is not a regression

[2020-03-29 17:35] eliransin commented on #6095
This looks like scylla-tools-java issue so I have opened:
scylladb/scylla-tools-java#147

[2020-03-29 17:35] #6095 closed

[2020-03-29 18:19] slivne commented on #5627
@bhalevy did his reproduce ?

[2020-03-29 18:23] slivne commented on #5768
There is a known issue with streaming related to MV (https://github.com/scylladb/scylla/pull/6000 - there is a pending fix)

The other issue is related to rpc / streaming and @gleb-cloudius needs to get to it

[2020-03-29 18:25] slivne commented on #5856
@psarna ping

[2020-03-29 18:30] slivne commented on #6005
Ok its clear there is a change that is not compatible and we need to either ok it and leave with it or say its not acceptable and find a different solution.

In the past we had issues with customers complaining that they do not want to change the seeds and would rather have 3 nodes always configured at bootstrap.

So the question in my view - can a node bootstrap as seed if it is not able to conne

[2020-03-29 18:33] slivne commented on #6060
@gleb-cloudius ping

[2020-03-29 19:49] nyh commented on #6094
@psarna yes, my point was that regardless of whether or not schema changes can cause problems in view building (and I have to be honest, I'm not sure), it can't be the issue we're looking for here so let's not discuss them in the context of this issue (you can open a new issue if you think it is a problem).

Your latest guess at the end of your last comment seems more likely. In the past, we had a

[2020-03-29 20:06] psarna commented on #6094
Right. This particular case is a restart, so the node should probably eventually come back to life, but then, it might also simply be a timing issue - i.e. a node failed to stop&start in the arbitrary 60 seconds window, which is the default timeout for wait_for_view. Doesn't seem entirely unlikely, given that booting itself can be a lengthy process.

[2020-03-30 02:50] amoskong commented on #5840
Currently the exception/err in subTest won't break the test, and the next steps will continue run.
We can try to use SCT branch-3.2 to test scylla master.

[2020-03-30 03:08] amoskong commented on #5840
The cassandra.OperationTimedOut occurred after successfully upgraded the first node (bootstrap completed, port is also up).

[code]

[2020-03-30 05:16] amoskong commented on #4705
Do we request the decommissioned node to be dead?  Or we can just decommission a normal node , and check if 'gossip - unknown endpoint' error still exists after the new node is up?

How much time should we cost to wait the error after the new node is up?

[2020-03-30 06:56] gleb-cloudius opened #6096 "Data may be resurrected aftre truncate by hinted handoff"
Installation details*
Scylla version (or git commit hash): 3159ad4484b26f424d9a4657c58f678d76db70d4

HH does not check a table's truncation time when sending or applying a hint which may cause data to be resurrected.

[2020-03-30 08:03] eliransin commented on #5840
@ShlomiBalalis @roydahan can you please provide the shortest scenario that reproduces this?
It will help us to do the bisect.

[2020-03-30 08:07] syuu1228 commented on #6012
Scylla already should refuse startup when /var/lib/scylla not mounted, by ff55e3c247a91ba5139f71f6e4ec6eef84563b76 (From 3.0)
Related: #3640

@roydahan Is there more logs while startup?
Does the instance have /etc/systemd/system/scylla-server.service.d/mounts.conf?

[2020-03-30 08:08] asias commented on #5677
I need answer I asked: https://github.com/scylladb/scylla/issues/5677#issuecomment-581203485

[code]

It is not clear to me what was performed.

p1:
[code]

p2

[code]

p3
[code]

Gossip marked node down at different time points. What was the problem? It could be the network is not stable during that time. I see a lot of rpc timeout and connection closed error.

[code]

[2020-03-30 08:10] psarna commented on #6094
Oh wait, it's actually 5 minutes of waiting (60x5mins). That should be enough to acknowledge everything... I'll check the logs again to look for inspiration.

[2020-03-30 08:17] asias commented on #5677
They ran TLS between nodes.

I saw:

[code]

The version 3.2.1-e3e301906 did not contain the tls fix

[code]

[2020-03-30 08:23] tzach commented on #4487
@slivne can we close this?
According to @amoskong install on CentOS 8 and RHEL 8 is successful

[2020-03-30 08:37] tzach opened #6097 "CDC: Limit available disk space, block writes when space is exhausted"
*Installation details*
Scylla version (or git commit hash): 3.3

CDC table can quickly fill up the disk. It is hard to set a TTL value to match the available space.
It will be useful to define a hard limit for CDC disk space (in percent), and:
- Notify the user when the space is close to its limit
- Block writes to the base table if the CDC space is exhausted
the second is required to keep CDC and

[2020-03-30 08:38] tzach commented on #6097
A similar limitation in Apache Cassandra
http://cassandra.apache.org/doc/latest/operating/cdc.html
(CDC implementation is very different)

[2020-03-30 08:43] syuu1228 commented on #6010
Not able to reproduce this... Just able to install finely.

[code]

[2020-03-30 08:43] asias commented on #6091
The stream might take a long time to complete. Is there an API in table to check if the table is being dropped?

The patch looks reasonable. In addition to that, I think we need to abort the stream write if the table is being dropped. It make no sense to wait for long time then drop the table.

[2020-03-30 08:45] bhalevy commented on #6094
@psarna I speculate that the schema change might have something to do with this.
`view_builder::on_drop_view` is runs a background task that eventually calls `_sys_dist_ks.remove_view`

and in node4 logs we see:
[code]

`system_distributed_keyspace::remove_view` deletes the row for for the view (by name) from view_build_status:
[code]

and `system_distributed_keyspace::finish_view_build` tries to

[2020-03-30 08:46] bhalevy commented on #6094
Should we keep the version uuid in view_build_status to uniquely identify the view?

[2020-03-30 09:01] fgelcer commented on #5808
@slivne @elcallio , after lots of fighting I succeeded to build an AMI with @elcallio code, but is looks bogus:
```/tmp/tmp.TVQD8HscRO/cassandra-env.sh: line 90: [: -ge: unary operator expected```

then it fails the whole SCT execution as it was ```Unable to get nodetool status```

[2020-03-30 09:10] amoskong commented on #4487
Our test with scylla-3.3 passed, but we didn't really check if coredump can be generated or not.
- https://jenkins.scylladb.com/job/scylla-3.3/job/centos-rpm-8-test/3/

setup cmd:
- `sudo /usr/lib/scylla/scylla_setup --nic eth0 --disks /dev/nvme0n1`

output:

[code]

[2020-03-30 09:14] amoskong commented on #4487
Latest PASSed artifact-test is https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-centos8/28/
- log: https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-centos8/28/artifact/scylla-cluster-tests/latest/sct.log

Recent artifact job failed for https://github.com/scylladb/scylla-tools-java/issues/147

[2020-03-30 09:42] tzach commented on #5912
https://github.com/scylladb/scylla/commit/b1e8170bf9f9c442320e22c6db35b73d920147d3

[2020-03-30 09:59] kbr- commented on #6005
@fruch

Indeed this `set_configuration_options` changes the lists of seeds, which is weird.
But this test has commented out the first `cluster.start(...)` call, so you're calling `cluster.stop()` without first calling `cluster.start(...)`.

If you let the nodes start the first time, then you will be able to restart the cluster even after changing the configuration to use all nodes as seeds. Just m

[2020-03-30 10:08] kbr- commented on #6005
I'll assume that by "booting" you mean "bootstrapping" (joining new nodes to the cluster), because restarting works as before.

The problem with joining nodes is as follows. When a node joins the cluster, this requires some serious reconfiguration of the cluster -- of every other node that already is in the cluster. If we don't do this reconfiguration, we break some important invariants and it is

[2020-03-30 10:24] kbr- commented on #6005
@slivne

With CDC enabled, it won't. But it's not CDC-specific. I added this check not only because CDC requires nodes to be aware of a joining node; the entire replication mechanism depends on token rings being synchronized to work properly. If they are not synchronized, writes will be sent to wrong nodes, and data will be lost.

And for token rings to synchronize when a new node is joining (and

[2020-03-30 10:57] kbr- commented on #5252
@kostja @tgrabiec

I think there are other solutions to this problem. We can find them by looking at which invariants of the Synod protocol could be broken today, and how to make sure that we maintain them instead.

Correctness of Synod depends on (among other things) what Lamport calls invariant B2 in his paper, i.e. the quorums of any two ballots must have a non-empty intersection.

The problem

[2020-03-30 11:34] denesb commented on #5252
@kbr- what is this "Synod protocol"? Google turning up nothing useful for it. I don't recall hearing of it before, is this something we are planning on using?

[2020-03-30 11:38] kbr- commented on #5252
@denesb

It's also called "single-decree Paxos". It's what we are running (more like a variant of it).
https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf page 4. I highly recommend reading the whole paper, it's very enjoyable (this is the original Paxos paper).

[2020-03-30 11:41] denesb commented on #5252
Thanks @kbr- will do. I read the "Paxos made simple" paper, which has no mention of this Synod as I recall.

[2020-03-30 11:44] kbr- commented on #5252
Yeah, the terminology today is a bit mixed.
The protocol in section 2 of "Paxos made simple" was originally called Synod, and the state machine replication algorithm in section 3 was the actual Paxos. This "multi-decree Paxos" is described in much more detail in the original paper.

[2020-03-30 12:10] piodul commented on #6050
@aleksbykov Did you re-run the test with a recent Scylla master? Does this error still occur?

[2020-03-30 12:20] piodul commented on #4712
The byo job ran the nemesis a few times already, so I aborted it. Live metrics are here: [link](http://18.206.159.72:3000/)

The test scenario was the same as before, with the exception that this time there was no cassandra-stress process that caused materialized view updates. The TerminateAndReplace nemesis had 6 complete runs, but I'll concentrate on the first - there were unrelated issues that

[2020-03-30 12:50] kostja commented on #6005
Kamil, I agree that joining nodes concurrently is known to be unsafe. However, AFAIK it's common to boot all seeds concurrently. Is it possible to fix it? Are there issues with distinguishing a fresh cluster boot from joining?

[2020-03-30 12:55] kbr- commented on #6005
@kostja
There's the Elasticity plan:
https://docs.google.com/document/d/18jNNj0U6Q2ikyedknH5LGHYpCxu0_Vsx5TmnEdgvtKw/

I'm also working on a draft design for multi-node bootstrap (including the case where we start from 0 nodes), I'm hoping it will be ready by Friday.

[2020-03-30 13:02] aleksbykov opened #6098 "CDC: reactor stalled up to 17000 ms after change cdc log table property"
*Installation details*
Scylla version (or git commit hash):
version 666.development-0.20200325.9fee712d62 with build-id 0908e1527b1f134a4e4a46ca44ffe85f0f877318
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-045e69a7ca1cb853f

Cluster was configured with cdc feature. For base table cdc_test.test_table_preimage  cdc preimage was enabled. After several minutes, for cdc log table properties was

[2020-03-30 13:39] skeetor opened #6099 "Unable to connect with datastax cpp_driver"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0.11
Cluster size:
OS (RHEL/CentOS/U

[2020-03-30 13:56] dyasny commented on #5677
A node was failing to start up, it was working in this cluster before. After looking at the logs, we decided it would be easiest to simple wipe the data and commitlog dirs and do a dead node replacement with this node again, same IP. That did not work, so in order to force it to join back in, we only took it's old system tables files, and pushed them in, to work around the failing bootstrap.

[2020-03-30 13:59] psarna commented on #5856
I don't have any meaningful progress, so I'll just update with whatever I gathered so far:

1. `2020-02-19T17:52:48+00:00  gemini-8h-large-num-columns-GeminiL-db-node-f2d6a8e0-1 !WARNING | scylla: [shard 0] tracing - Maximum records limit is hit 2750001 times` is benign and simply means that there was too much tracing traffic, so some records have been dropped.

2. I didn't reach anything conclusi

[2020-03-30 14:01] kbr- commented on #6082
Could you more precisely describe what do you mean by that?

I'm thinking about a write that reached some replica, and then was observed by anyone, using e.g. CL=ALL. The write could have been a failed write, it doesn't matter.
The property would then say that any further CL=ALL reads must also observe the write.

I was thinking whether such property can be at all guaranteed in presence of topolog

[2020-03-30 14:18] aleksbykov commented on #6050
@piodul sorry for delay with answer. Yes, on latest master the error was not appeared.

[2020-03-30 14:20] haaawk commented on #6050
It such case, I'm closing the issue.

[2020-03-30 14:20] #6050 closed

[2020-03-30 15:10] psarna commented on #6094
@bhalevy not so, inserting via `UPDATE` is also a valid way to create a Scylla row - the difference is that in case of `UPDATE WHERE`, only the columns keep the row alive, there's no row marker.

To demonstrate the difference, if you have this table:
[code]
and insert two rows like that:
[code]
and then remove v from both:
[code]
... then the first row will still be alive, while the second will di

[2020-03-30 15:12] bhalevy opened #6100 "remove_node_from_gossip_test failed: Missing: ['FatClient .* has been silent for .*ms, removing from gossip']"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/443/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/remove_node_from_gossip_test/
Scylla version 3159ad4484b26f424d9a4657c58f678d76db70d4
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/443/artifact/logs-release.2/1585536895525_update_cluster_layout_tests.TestUpd

[2020-03-30 15:12] tgrabiec commented on #6082
"replica-level monotonic reads" holds if all writes [*] returned by a replica-level reader created at some moment in time are also seen by any replica-level reader created later on the same table on the same replica.

replica-level reader is a reader which combines shard-level readers from all shards on a given replica for a given table. A shard-level reader is a reader created using `table::make_

[2020-03-30 15:12] bhalevy commented on #6100
@asias please look into this

[2020-03-30 15:17] bhalevy commented on #5942
@asias the test failed again, not sure if for exactly the same reason.
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/443/artifact/logs-release.2/1585537147355_update_cluster_layout_tests.TestUpdateClusterLayout.simple_add_new_node_while_schema_changes_test/node4.log
[code]

[2020-03-30 15:20] bhalevy commented on #5942
@slivne the test failed at commit f1aaa91e2193e3db32af5e8899734e2a28476da0 which is in 4.0.
Should it be considered a release blocker?

[2020-03-30 15:37] kbr- commented on #6082
Ok, so it sounds like a mostly internal thing. Hence why do we care whether we have replica-level monotonic reads, if that doesn't affect the user (who cares only about cluster-level consistency properties)?
Is is just for the convenience of our internal algorithms, which might want to use such a property?

Ok, thanks for the clarification.
I'm aware of the read repair mechanism, although I though

[2020-03-30 15:58] tarzanek opened #6101 "add option to completely disable compaction only on single node"
Sometimes support needs a way how to stop compactions on a single node only.

E.g. when you have problems when starting the node with commit log files and you want to load them by batches (to pinpoint the faulty log file).
I know we list corrupted log files, but we don't list files which have corrupted data in them already.

Can this be supported? (implemented?)
I know we can disable compaction cl

[2020-03-30 15:59] tarzanek commented on #6101
fwiw we spoke with @glommer  about setting the compaction shares to 0
but this also won't disable compactions (but perhaps it should, since it is on one node only)

[2020-03-30 16:02] denesb commented on #6101
@tarzanek also see https://github.com/scylladb/scylla/issues/5489.

[2020-03-30 16:36] mailmahee commented on #6067
another customer who has requested this feature is Dexcomm and they are using vault for this
https://www.hashicorp.com/blog/certificate-management-with-vault/

[2020-03-30 17:18] roydahan commented on #4705
Node is up and we decommission it (normal mode).

I think it happens immediately.
Please pay attention it's multi DC scenario.

[2020-03-30 17:35] bhalevy commented on #6093
@xemul said:

[2020-03-30 18:00] hagitsegev commented on #6010
I still see the error on https://jenkins.scylladb.com/view/scylla-3.3/job/scylla-3.3/job/releng-testing/job/debug-promote/112/artifact/debian9_docker_build.log/*view*/

All other tests I run passes (you see failures as of the midnight version issue).

[2020-03-30 18:19] slivne commented on #6005
@avikivity please review the additional limitation on bootstrap - its indeed safer but it was possible to bootstrap unsafe before and it mostly worked

[2020-03-30 18:24] slivne commented on #5768
Patch from Asias exists and needs to be merged and then this should be retested

[2020-03-30 18:33] roydahan commented on #6012
One of our nemesis stops i3 instance (uses ephemeral drives).
When you stop such instance, it clears the ephemeral disk.
So, what we do in the nemesis is removing the **/var/lib/scylla** from fstab.
(otherwise, it waits on disk that doesn't exist and the node can't boot successfully).

So, I'm not sure if what we do is "legal" for your above solution, but it's possible.
In this case, scylla just s

[2020-03-30 21:42] kostja opened #6102 "Remove lightweight transactions from --experimental and --experimental-features"
We're making lightweight transactions generally available in 4.0 and thus should remove it from --experimental and --experimental-features switch.

[2020-03-30 22:50] nyh commented on #6094
But @psarna maybe the issue isn't insert vs update, but rather the timing of these updates or deletes: Maybe it's possible (I don't know...) that a millisecond after the view finished building and inserted (updated) the build-finished row, another piece of code that noticed that the old schema was deleted went and **deleted** this row. If this is what happens (I didn't check the code...), I think

[2020-03-31 00:19] asias commented on #5677
OK. I see. Do you still have the log when bootstrap failed? I guess it is due to node is being marked down while streaming. Anyway, we need the tls fix "tls: Fix race and stale memory use in delayed shutdown" for the user.

Please me know if  the issue persists after the upgrade with a scylla version that contains the tls fix.

[2020-03-31 05:57] sid226 opened #6103 "Build failing due to gnutls ubuntu 18.04 gcc 8.3"
*Installation details*
Scylla version (or git commit hash): scylla-3.2.1
OS :  Ubuntu 18.04
Arch : s390x

Platform (docker):
Hardware: cores= 8 memory=8

Dependencies
[code]

Build
[code]

Error
[code]

[2020-03-31 06:42] psarna commented on #6094
Indeed, I'm fairly certain that the issue is not insert vs update, the example above was just trying to show that it should *not* be problematic :)

We already had a similar issue related to view building bookkeeping: https://github.com/scylladb/scylla/commit/fb37394995da8051057fbd4c67ab9df05052d189, where the recreation of a view could result in it disappearing from bookkeeping. Perhaps there's s

[2020-03-31 07:15] amoskong commented on #5181
I didn't reproduce this issue with latest default kernel (3.10.0-1062.12.1.el7.x86_64) in GCE instance.

test job: https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/rolling-upgrade-3.2/job/rolling-upgrade-centos7/11/console

[code]

[2020-03-31 07:34] #6063 closed

[2020-03-31 09:23] amoskong commented on #5181
@slivne let's close this issue?

[2020-03-31 09:28] asias commented on #5942
I will look into it.

[2020-03-31 09:29] asias commented on #6100
Will look into it.

[2020-03-31 09:38] asias commented on #6100
According to log in [node4](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/443/artifact/logs-release.2/1585536895525_update_cluster_layout_tests.TestUpdateClusterLayout.remove_node_from_gossip_test/node4.log), node4 managed to finish bootstrap, that is the reason node1 failed to see "ccmlib.node.TimeoutError: 30 Mar 2020 02:54:55 [node1] Missing: ['FatClient .* has be

[2020-03-31 10:36] fgelcer opened #6104 "cql_server - exception while processing connection: std::system_error - Broken pipe"
this message is being seen many times, and it is most likely failing Manager repair:

[code]

[code]

from manager perspective, it couldn't connect to the Scylla nodes, hence the failure, but there is not reason the Scylla node going down.

[code]

[2020-03-31 10:51] roydahan commented on #6104
Close this one and open the issue on mermaid.

[2020-03-31 11:34] #6104 closed

[2020-03-31 12:13] amnonh opened #6105 "Missing metrics queued_write_bytes and background_write_bytes"
I suspect patch 971711a5461c09421f1c9b1b3b2d9f6209a425da that change
how those metrics are registered because I can't see that they are reported.

[2020-03-31 12:14] amnonh commented on #6105
@eliransin can you take a look, I believe it's a change made by your

[2020-03-31 12:31] fruch commented on #5802
@nyh @slivne
I've been able to reproduce this issue: (it depened on this ccm PR: https://github.com/scylladb/scylla-ccm/pull/231)
https://gist.github.com/fruch/f97ade6e117761c8b52a2dde9fbfed1a

and came to a conclusion it's would fail in the exact same way on CQL call, when call are getting to the node that has it port 7000 blocked.

I'll need to find a way to silence the alerts and errors in our

[2020-03-31 12:59] denesb opened #6106 "Empty partition keys make nodes unbootable"
Observed with 3.1 but applies to master as well.

In theory we shouldn't have empty keys in the database, as we validate all keys that enter the database via CQL with `validation::validate_cql_keys()`, which will reject empty keys. In this context, empty means a single-component key, with its only component being empty.

Yet recently we've seen empty keys appear in a cluster and wreak havoc on it,

[2020-03-31 13:18] piodul commented on #6096
We had a discussion with @haaawk on how to solve this issue without causing races between hints and truncation, and we came up with an idea for the solution.

The main part of the idea is to make the truncation a two-step process. Both steps consist of coordinator sending a message and sending for all replies. Step 2 is only executed if step 1 is successful. So, it would be something like a two-st

[2020-03-31 13:31] dyasny commented on #5677
@asias which OSS version contains the TLS fix?

[2020-03-31 13:43] hagitsegev commented on #6010
The differences between "my log" and "Takuya's log"
Last line of Takuya's log:
Unpacking scylla (3.3.0-0.20200319.7ae2cdf46c7-1) ...

I also have this line, but after that I also have:
Unpacking scylla (3.3.0-0.20200319.7ae2cdf46c7-1) ...
Selecting previously unselected package ocl-icd-libopencl1:amd64.
Preparing to unpack .../51-ocl-icd-libopencl1_2.2.11-1_amd64.deb ...
Unpacking ocl-icd-libopenc

[2020-03-31 13:50] penberg commented on #6010
The error seems to be:

[code]

I am not sure why it works for @syuu1228 ...

[2020-03-31 13:52] penberg commented on #6010
@syuu1228 It looks like you are installing Ubuntu packages (the URL has `bionic` in it):

[code]

[2020-03-31 13:55] asias commented on #5677
You can easily check git log.

git log origin/branch-3.3
git log origin/branch-3.2
git log origin/branch-3.1

3.3 has the fix at least.

The patch name is "tls: Fix race and stale memory use in delayed shutdown".

[2020-03-31 14:45] denesb opened #6108 "key linearization is confusing"
Keys (partition and clustering keys) use `managed_bytes` as their storage type. This suggests that they might have values that are large enough to be fragmented, and that great care has to be taken when using them, to provide a valid `managed_bytes::linearization_context` through `with_linearized_managed_bytes()` when accessing their value in linearized form.

Yet, `compound_wrapper` and by extens

[2020-03-31 15:11] slivne commented on #5840
@roydahan the info you shared is great can we get the schemas it will hep to tests ig this is a regression in 3.3.0

[2020-03-31 15:19] bhalevy commented on #5627
@slivne This wasn't reproduced anywhere (jenkins / SCT / locally) AFAIK.

[2020-03-31 15:25] bhalevy commented on #6038
@scylladb/scylla-maint please backport to 4.0

Also, can you please add the a `Backport 4.0` label?

[2020-03-31 15:30] bhalevy commented on #6093
Note: this is on master only, no backport to 4.0 needed.

[2020-03-31 15:31] bhalevy commented on #5899
@scylladb/scylla-maint please consider backport to 4.0

[2020-03-31 15:37] vladzcloudius commented on #6096
@piodul Looks good but there should be a very specific sequence of steps which is kinda speared in the description above.
On reception of a TRUNCATE request:
 1) stop generating any hints and/or applying any mutations to the table in question.
 2) Flush all pending hints to the disk.
 3) Remember the current time point as a cut off time (let's call it time X).
 4) Delete all sstables.
 5) On succe

[2020-03-31 15:46] raphaelsc commented on #6101
I think the following can be used to achieve this: https://github.com/scylladb/scylla/pull/5877

[2020-03-31 18:20] glommer opened #6109 "Consider disabling dc_local_read_repair_chance by default"
`dc_local_read_repair_chance` is a legacy of old times: Cassandra itself now defaults to zero, and we should look into that too.

Most serious production clusters are either repaired through our asynchronous repair, or don't need repair at all.

Synchronous read repair can help things converging, but it implies an impact at query time. For clusters that are on an asynchronous repair schedule this

[2020-03-31 18:25] nyh commented on #6058
@slivne I think the compaction strategy thing is a separate bug - #3283. That issue is about inheriting parameters from the base table to the invisible secondary-index view, so that the user doesn't need to know about this view and modify its parameters separately.

[2020-03-31 18:34] #4791 closed

[2020-03-31 18:34] #5779 closed

[2020-03-31 18:34] #6087 closed

[2020-03-31 20:43] slivne commented on #5610
I found the capture that has the error, unfortunately not the request

![error_0x83](https://user-images.githubusercontent.com/3465480/78069467-d7c30580-73a2-11ea-8e7e-d347c735bb00.png)

I then tried to extract the tcp connection for the traffic from that specific endpoint toward scylla

![only_packets](https://user-images.githubusercontent.com/3465480/78069535-f2957a00-73a2-11ea-8c5e-c2e64e009c75

[2020-03-31 20:44] PleasingFungus opened #6110 "Scylla crashes with `std::bad_alloc` error"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.1.0-0.20191012.9c3cdded9
Cluster

[2020-03-31 20:52] PleasingFungus commented on #6110
Per request, config files from `/etc/scylla.d/` and `scylla.yaml`:
[scyllaconf.zip](https://github.com/scylladb/scylla/files/4411549/scyllaconf.zip)

[2020-03-31 20:58] PleasingFungus commented on #6110
Per requests, per-shard and per-instance graphs.

![Screen Shot 2020-03-31 at 1 53 23 PM](https://user-images.githubusercontent.com/1192475/78074419-922d1b00-7357-11ea-8f35-12de76506266.png)
![Screen Shot 2020-03-31 at 1 53 29 PM](https://user-images.githubusercontent.com/1192475/78074424-935e4800-7357-11ea-88c7-2173e8f6c089.png)
![Screen Shot 2020-03-31 at 1 53 36 PM](https://user-images.githubus

[2020-03-31 21:57] dorlaor commented on #6110
It's an out of memory. Is there a reason why - do you have large wide
partitions
or extremely large collections/blobs? I assume it's not reproducible that
easily.
Getting the backtrace with debug symbols will help.

On Tue, Mar 31, 2020 at 1:58 PM Nicholas Feinberg <notifications@github.com>
wrote:

[2020-03-31 22:16] raphaelsc commented on #6110
@PleasingFungus could you please share output of ` find /mnt/scylla/data/ -type f -printf '%f %s\n'` and also all schemas in tribute keyspace?

[2020-03-31 22:32] bhalevy commented on #5033
@slivne yes.  It's unclear why stress fails in this test and if it's a scylla bug or not.

[2020-04-01 01:31] dimaqq commented on #5796
We use another library, https://github.com/HENNGE/aiodynamo which is notably faster :)
The divergence from boto* was fixed there too, just in case.

[2020-04-01 01:37] dorlaor commented on #5796
Nice! I guess it works for you after the fix?
Can you please share performance numbers, I see there is a performance
section in the docs but no actual results.

On Tue, Mar 31, 2020 at 6:32 PM Dima Tisnek <notifications@github.com>
wrote:

[2020-04-01 02:08] ojii commented on #5796
Some results can be found in [this comment](https://github.com/HENNGE/aiodynamo/pull/17#issuecomment-596409057), they were generated with the code found [here](https://github.com/HENNGE/aiodynamo/tree/master/benchmarks/query).

TL;DR: For query/scan (especially of many items), aiodynamo is about 2x faster than boto based libraries.

[2020-04-01 02:26] asias commented on #5942
I managed to reproduce.

The fix below is not enough. The repair followers might drop the keyspace sooner than the repair master.  At the time the repair master checks `db.local().has_keyspace(keyspace)` the keyspace can still present on the master, so we fail the repair.

[code]

[2020-04-01 02:50] asias commented on #3561
Thanks botond for the awesome reader ;-)

On Tue, Mar 24, 2020 at 9:24 PM Botond Dénes <notifications@github.com>
wrote:

--
Asias

[2020-04-01 05:14] denesb commented on #6110
@PleasingFungus can you please upload the coredump as well? See instructions here https://docs.scylladb.com/troubleshooting/report_scylla_problem/#core-dump.

[2020-04-01 05:25] denesb commented on #3561
@asias note that we don't need https://github.com/scylladb/scylla/blob/dee0b6834738778921fc582b5a90484a214ef56f/sstables/compaction.cc#L76 like we discussed before. Tomek revealed that since streaming and repair will be reading all sstables containing relevant data for the range we read, we can purge all tombstones, so you can just pass `[] (const dht::decorated_key&) { return api::max_timestamp;

[2020-04-01 05:38] asias commented on #3561
Good to know.

[2020-04-01 05:52] amoskong commented on #6098
/CC @slivne @haaawk

[2020-04-01 06:58] bhalevy commented on #6100
@asias I'll fix the test to do `node4.stop(gently=False)`
since the timing was supposed to work, it just stopped, as you said, after finishing repair.

[node4.log](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/443/artifact/logs-release.2/1585536895525_update_cluster_layout_tests.TestUpdateClusterLayout.remove_node_from_gossip_test/node4.log):
[code]

[dtest.log](http

[2020-04-01 07:04] skeetor commented on #6099
I also tried the sample on Ubuntu 16.04 and it shows the same behavior.

[2020-04-01 07:14] dorlaor commented on #6099
You're using LWT, need to enable --experimental flag for it in <= 3.3
releases.
The upcoming 4.0 has it in GA. Pls report if it's solved and turn on some
logging too

On Wed, Apr 1, 2020 at 12:04 AM skeetor <notifications@github.com> wrote:

[2020-04-01 07:28] eliransin commented on #5840
This version is in the second node upgrade without errors:
`757c1cf Merge ' Remove unnecessary schema copies' from Piotr`

Our suspect list is now:
9eb6ac7 docker: add rsyslog for syslog support
1659135 Revert "features: Stop on shutdown"
3164456 row: append(): downgrade assert to on_internal_error()
140520f sstables/compaction_manager: add metric for pending compaction tasks
4309785 dist/debian:

[2020-04-01 07:36] bhalevy opened #6112 "multi_counter_update_test sometimes fails to select counter_one in debug mode"
Test first regression in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/434/testReport/counter_tests/TestCounters/multi_counter_update_test/
Scylla version cb26de89a173e3538e42b2a22f174963f888de22
[code]

I don't see anything wrong with the test at first glance so I'm filing this against scylla until proven otherwise.
I'll improve the assert message just in case.

Happe

[2020-04-01 07:50] eliransin commented on #5840
The run just failed on:
[code]
Which is the same so this changes our half to:

8b69257 Reduce usage of global_partitioner()
27b36be Update seastar submodule
ff69668 add missing include to timestamp.hh
e719ea1 Merge "Fix assert on initialization error" (in large_data_handler) from Rafael
31593e1 Merge "Change token representation to int64_t" from Piotr
6764316 cql3: Simplify maybe_quote
cdecb21 Upd

[2020-04-01 08:03] eliransin commented on #5840
Just for the record, my main suspect is (as I previously wrote in https://github.com/scylladb/scylla/issues/5840#issuecomment-590954573):
31593e1 Merge "Change token representation to int64_t" from Piotr (/cc @haaawk )

But I'm going to continue my bisection unbiased until a short reproducer is found or someone will have a better idea what is going on here :slightly_smiling_face:

[2020-04-01 08:40] haaawk commented on #6098
Those stalls are in cache update when memtable is flushed. The good think is I'm finishing a PR that will make CDC Log not use cache. That should fix the issue.

[2020-04-01 10:02] gleb-cloudius commented on #6109
On Tue, Mar 31, 2020 at 11:20:59AM -0700, Glauber Costa wrote:

Cassandra deprecated both local and global probabilistic read repairs in https://issues.apache.org/jira/browse/CASSANDRA-13910

And we have this  https://github.com/scylladb/scylla/issues/3502, so
this issue may be considered as a dup.

--
			Gleb.

[2020-04-01 10:49] #6100 closed

[2020-04-01 10:55] piodul commented on #4712
@slivne @vladzcloudius Could you take a look at the new results above? I removed tables with MVs from the test and now performance decreases only by about 20-25% when hints are involved. Is this acceptable? If so, can we close this issue?

[2020-04-01 12:08] nyh opened #6113 "Add HTTP/2 support to Alternator"
DynamoDB does not yet, at the time of this writing, support HTTP/2, it only supports HTTP 1.1. So we did the same in Alternator.

However, it appears that other AWS services do support HTTP/2 (see https://github.com/aws/aws-sdk-go/issues/2984) so it seems likely that one day, in the future, Amazon will enable HTTP/2 also on DynamoDB. Switching to HTTP/2 would give them (and us) several benefits, p

[2020-04-01 12:13] skeetor commented on #6099
Thanks for your response!

What do you mean by "I'm using LWT"? What is that and how can I disable it? Or do I have to enable it with that switch? I assume this "--experimental" is when I compile the cpp_driver? Or is this on the server side?

[2020-04-01 12:30] kostja opened #6114 "Do not sync commit log on non-essential Paxos writes"
Currently entire system.paxos table is marked as sync-commit-log one, so every write to this table writes to the commit log in sync mode.
We don't need to do it for non-essential writes, which are definitely learn and prune writes, and possibly even accept writes (this needs to be verified).

The sync writes to the commit log are a single biggest consumer of io bandwidth with lwt, now that paxos t

[2020-04-01 12:36] amnonh commented on #6113
@nyh maybe we should add a seastar issue for the http server?

[2020-04-01 13:04] skeetor commented on #6099
I found now the solution to the problem. After comparing the release notes, I noticed this:
    [CPP-914] Possible for a WaitForHandler's on_set() method to be called after timeout/error

So I downgraded to 2.15.0 and this works now. I don't know if this indicates a bug in your latest release, or just some missmatch with my scallydb version, but for me this issue seems to be relsolved for now.

[2020-04-01 14:28] gleb-cloudius opened #6116 "cas_now_pruning is incorrect which may cause prunning to not happen"
*Installation details*
Scylla version (or git commit hash): dee0b6834738778921fc582b5a90484a214ef56f

[2020-04-01 15:17] nyh opened #6118 "Update Alternator documents and scripts now that LWT is no longer experimental"
A patch for marking LWT no longer experimental is now in the process of being committed.
Once it gets in, we should update the Alternator documents and scripts that mention the need for enabling experimental LWT, to not do that.

The files we should update are `alternator-test/run`, `docs/alternator/alternator.md` and `docs/alternator/getting-started.md`.

CC @guy9 @psarna

[2020-04-01 15:27] roydahan commented on #5840
We run the upgrade and stopped the cluster as soon as we get the error (after one node upgrade).

I was able to see the issue manually, when running the query below on the nodes that were NOT upgraded:

Node 1: 666.development-0.20200331.3159ad4484b
Node 2,3: 3.2.4-0.20200325.4c38534f75

Running the. query on node1 immediately returns result:
[code]

Running the query on node2 and node3 (even with

[2020-04-01 15:34] roydahan commented on #5840
With tracing on:
[code]

[2020-04-01 16:27] dorlaor commented on #6099
Please scratch my comment (note to self, don't write at 1am, I read
CASS as Cas as compare and swap..).

CPP-914 looks like a fix in connection timeout code and indeed is
directly related.
I'd test with a new Scylla 3.3 (3.0 is end of life), if the problem
persists, check also with new Cassandra
and report it to the driver project.

On Wed, Apr 1, 2020 at 6:04 AM skeetor <notifications@github.com>

[2020-04-01 17:12] PleasingFungus commented on #6110
@dorlaor How would I get the backtrace with debug symbols?

@raphaelsc [Output of find](https://github.com/scylladb/scylla/files/4416584/out.txt).

(Note that the server is back up and running now, so this doesn't perfectly reflect the state the server was in when it crashed. Sorry!)

Schemas:

[code]

@denesb I can't find a core dump, unfortunately. `/var/lib/scylla/coredump/` exists, but the dir

[2020-04-01 17:20] dorlaor commented on #6110
https://docs.scylladb.com/kb/decode-stack-trace/

On Wed, Apr 1, 2020 at 10:12 AM Nicholas Feinberg <notifications@github.com>
wrote:

[2020-04-01 18:06] bhalevy commented on #5942
This patch is in 4.0.rc0

[2020-04-01 18:08] slivne commented on #5942
This patch is part of 4.0 d310e7c7eacb2c980f475e04fce655cf38642964

Asias what is the solution to restart the node and bootstrap it again.

In 3.3 and older releases would we succeed a bootstrap if a table was dropped while the node was bootstrapping ?

[2020-04-01 18:12] bhalevy commented on #6094
@nyh can you please state your opinion on the above suggestion?
I'm don't feel familiar enough with the MV implementation to have a valuable opinion about it.

[2020-04-01 18:18] vladzcloudius commented on #4712
@piodul I think it's more than acceptable.
The idea behind your series that put the receiver side of hints in the streaming class which has a static shares number of 300 (while query has 1000) was to ensure that the impact is limited by 33%.

Your results are in the expected range.

I'm ok with closing the issue.
@slivne

[2020-04-01 19:36] PleasingFungus commented on #6110
Following the instructions on the page, I get:

[code]

Is there a repo I need to add? Can I download the debian package directly from somewhere?

[2020-04-01 19:39] dorlaor commented on #6110
@yaronkaikov do we have debug packages for 3.1 ?
I hope we do ship them with newer releases.
@PleasingFungus until you get help and regardless, I suggest to upgrade to a newer
release since 3.1 became end of life with the introduction of 3.3

[2020-04-01 19:56] PleasingFungus commented on #6110
OK, I'll take a look at upgrading.

[2020-04-01 20:00] PleasingFungus commented on #6110
https://www.scylladb.com/download/open-source/#binary says:

Is that out of date?

[2020-04-01 20:15] nyh commented on #6113
@amnonh created Seastar issue: https://github.com/scylladb/seastar/issues/734

[2020-04-01 20:48] dyasny opened #6119 "This part of the code will drop into interactive query about the NIC whether it was in the --nic arg or not"
https://github.com/scylladb/scylla/blob/0b23e7145d05c6b49a66bb2197ea0eff8ab16d95/dist/common/scripts/scylla_setup#L376

Observed at a customer install, workaround to go completely non-interactive is to use `--no-sysconfig-setup` which isn't very healthy

[2020-04-01 20:48] dyasny commented on #6119
CentOS Linux release 7.7.1908 (Core)
Scylla 3.2.2

[2020-04-01 20:52] dyasny commented on #6119
setting FT2 tag @vladzcloudius please change if you think it'a more urgent

[2020-04-01 21:09] nyh commented on #6094
@psarna, I'm not fluent in these code paths, Duarte wrote them initially and you improved on them, so I can't say I understand exactly where the bug is, but here is my own guess (which is somewhat different than your guess above):

Imagine that the view builder is happily building a view, calling `calculate_shard_build_step()`  in a loop. Now, in parallel, somebody removes and re-adds this view. T

[2020-04-02 04:39] yaronkaikov commented on #6110
@dorlaor did you mean to ask me or Yaron from QA?

[2020-04-02 06:30] psarna commented on #6094
@nyh Makes sense, especially that you mentioned one thing that is reflected in the logs of this issue - the view building was indeed super quick.
I think I'll try a shot in the dark - I'll prepare a patch that serializes more bookkeeping operations under the semaphore (the ones that you mentioned and perhaps some other ones if I find them) - bookkeeping the events related to build creation/deletio

[2020-04-02 07:14] juliayakovlev opened #6120 "Repair failed with runtime error"
*Installation details*
Scylla version (or git commit hash): 4.0.rc0-0.20200325.78f5afec30
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ee5a732dd840a135 (us-east-1)
Test: longevity-lwt-3h

Repair failed with error:
[code]

Test scenario:
1. stop scylla-server on the one node
2. remove data files on this node
3. start scylla-server
4. run ```nodetool repair```

One of the

[2020-04-02 08:46] juliayakovlev opened #6121 "Decommission failed on repair with marshaling error: composite iterator - not enough bytes"
_Installation details_
Scylla version (or git commit hash): 4.0.rc0-0.20200325.78f5afec30
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ee5a732dd840a135 (us-east-1)
Test: longevity-lwt-3h

Test runs decommission on the 172.30.0.15 node:
[code]

And start repair based operation for decommission:
[code]

After 4 minutes got marshaling error:
[code]

Decoded:
[code]

Anothe

[2020-04-02 09:21] psarna commented on #6094
Hm, it's actually more convoluted. `calculate_shard_build_step` is only called at startup, not in a loop. That said, it's still outside of any semaphore, so it still seems possible that it can race with `on_drop_view`. I think that it's actually enough to just wrap this entire initial step with a semaphore as well, since it's capable of removing view info.

[2020-04-02 09:30] nyh commented on #6094
@psarna I thought it's not called in a "loop" simplistically, but still called over and over to calculate the next step. Otherwise, who calculates the next build step, after the first one finished?

You are right that if on_create_view() cannot be called before on_drop_view() ends (that's your previous patch) and you change it so on_drop_view() cannot start before calculate_shared_build_step() end

[2020-04-02 09:50] psarna commented on #6094
@nyh the names may be misleading (they also mislead me until today :)) - `calculate_shard_build_step` is actually `since it looks like the node (re)started, let's calculate from which token we need to restart the view building process on each shard`. From there,  each next step is kept as a next token, since they're ordered, so we don't need to recalculate anything. And as for view-building multip

[2020-04-02 10:37] #5033 closed

[2020-04-02 10:47] slivne opened #6122 "Alternator: make sure users can access the system tables providing them info on their apps"
We have many system tables that are used by developers to check their application behavior.

It would be preferable if this is exposed via the alternator api

Can users access these tables ?

[2020-04-02 10:48] slivne commented on #6122
@psarna / @nyh is this possible today ?

[2020-04-02 11:17] psarna commented on #6122
Not possible without CQL interface. I suppose we could expose read-only system tables by introducing a notion of virtual tables in alternator.

[2020-04-02 12:53] gleb-cloudius opened #6123 "When speculative read is configured a write may fail even though enough replicas are alive"
*Installation details*
Scylla version (or git commit hash): dee0b6834738778921fc582b5a90484a214ef56f

If during a read that has a replica to for speculation there is a missmatch the read repair is done between all replicas which may fail if one of them does not answer. We need to repair between CL replicas.

[2020-04-02 12:59] slivne commented on #6123
What does C* do ?

[2020-04-02 13:13] gleb-cloudius commented on #6123
On Thu, Apr 02, 2020 at 05:59:50AM -0700, Shlomi Livne wrote:

What does it matter? Their code is completely different.

--
			Gleb.

[2020-04-02 13:18] eliransin commented on #5840
I am pretty sure this is the problem, the exception we get is :
https://github.com/scylladb/scylla/commit/b569d127a09b78fa7f76e08d3493088254d41cf4#diff-9ef2b44d8760453089ee2402372b5c51R239-R240

I guess that something has changed in the mutation structure (it looks like that maybe the data size is 0 when it should't be / we don't expect it)

I have close in and the situation is (from an unbiased b

[2020-04-02 13:22] haaawk commented on #5840
I'm looking at it. Thanks @eliransin. What's the easiest way to reproduce?

[2020-04-02 13:30] eliransin commented on #5840
6764316 cql3: Simplify maybe_quote just passed.
@haaawk I have an aws machine set up to serve as an rpm repo for the upgrade test.
would you like me to keep it running for now so you will be able to test your patch?

[2020-04-02 15:10] slivne commented on #6120
@asias please note this workload has LWT - we do not think its LWT related but one can never know - please try to have a look.

We have not seen this in other workloads so it maybe LWT related - but still I want you todo the first analysis.

[2020-04-02 15:16] bhalevy commented on #6121
@juliayakovlev any other thing going on?  Schema change?  Are there materialized views / secondary indexes?

[2020-04-02 15:18] bhalevy commented on #6121
@denesb please look into this.
What other information we need from QA?

[2020-04-02 15:19] bhalevy commented on #6121
Cc @asias since this appears to be from the repair-based decommission path.

[2020-04-02 15:22] juliayakovlev commented on #6121
Yes, the schema has materialized views
But repair failed on the table that has no views

[2020-04-02 15:33] gleb-cloudius opened #6124 "LWT "pruning" counter may leak"
*Installation details*
Scylla version (or git commit hash): dee0b6834738778921fc582b5a90484a214ef56f

get_schema_for_read() could fail, in which case we'd leak "pruning" count.

[2020-04-02 15:41] kostja opened #6125 "lwt_test.py:read_round_optimization test is flaky"
Error Message
{'scylla_storage_proxy_coordinator_cas_failed_read_round_optimization': 0} {'scylla_storage_proxy_coordinator_cas_failed_read_round_optimization': 0}
Stacktrace
Traceback (most recent call last):
  File "/usr/lib64/python3.7/unittest/case.py", line 60, in testPartExecutor
    yield
  File "/usr/lib64/python3.7/unittest/case.py", line 645, in run
    testMethod()
  File "/jenkins/work

[2020-04-02 16:03] denesb commented on #6121
@bhalevy we need either a reliable reproducer, or a core. Does this scenario always reproduce the error?

[2020-04-02 16:22] juliayakovlev commented on #6121
it's first time that we got this error. No coredump in this run

[2020-04-02 16:32] juliayakovlev commented on #6120
failed repair session was run on the table that LW transactions were not run on it.
And this table has no views

[2020-04-02 17:39] tgrabiec opened #6126 "CL=1 writes concurrent with a bootstrap of a new node may be lost"
When adding a node, the coordinator increases CL by 1 to make sure that CL=QUORUM writes will keep the quorum in both the old and the new replica set.

For RF>1 and CL=1, this doesn't make sure that CL is met in both the old and the new replica sets. As a result such writes may be lost after bootstrapping finishes.

[2020-04-02 17:54] tgrabiec commented on #6126
This can be solved by changing the coordinator to require CL to be achieved in both old and new replica sets if there is an active topology change.

This can improve availability a bit in the CL=QUORUM case as well because we wouldn't always require an extra replica (in case the 2 replicas which responded are shared between the old and new replica sets).

This generalization will also allow us to

[2020-04-02 17:55] gleb-cloudius commented on #6126
I do not see why. Can you be a little bit more verbose?

--
			Gleb.

[2020-04-02 18:24] vladzcloudius commented on #6119
@dyasny Could you, please, describe how the problem manifests itself?

[2020-04-02 19:42] tgrabiec commented on #6126
I don't see why now as well.

[2020-04-02 19:42] #6126 closed

[2020-04-02 21:00] raphaelsc commented on #5048
This is a serious bug, because a simple alter statement on a TWCS table (like reconfiguring time window or any other property) could block deletion of a considerable amount of expired data and also introduce incorrect behavior in the application because data inserted will never be expired.

[2020-04-02 21:11] slivne commented on #6126
Sorry I am missing something, don't we increase the CL in writes to be +1 during bootstrap CL=ONE ?

I think we should

[2020-04-02 21:11] raphaelsc commented on #5048
This is a serious bug, because a simple alter statement on a TWCS table (like reconfiguring time window or any other property) could block deletion of a considerable amount of expired data and also introduce incorrect behavior in the application because data inserted will never be expired.

[2020-04-02 23:06] asias commented on #6120
I will take a look.

[2020-04-02 23:38] asias commented on #6121
The error happened when keyspace1 was repaired.
[code]

The reason for the reason was decommission.

[code]

Perhaps it is caused by that we build the view table [twice](https://github.com/scylladb/scylla/pull/6000).

[2020-04-02 23:49] asias commented on #6120
Look the log from node4 belong. The composite iterator error happened already before any repair was performed. Node4 was started with auto_bootstrap = false. It did not stream (using repair), so at line 9588, no repair was run.

[code]

[2020-04-02 23:57] PleasingFungus commented on #6110
Unfortunately, that node failed last night and had to be taken out of the cluster. When I bring the node back up and run that query on it, I don't see anything.

[code]

[2020-04-03 04:55] amoskong commented on #4705
I can easy (`100%`) reproduce the 'unknown endpoint' issue with 3.1.0.rc0-0.20190604.24e2c7288 by dtest. But `can't` reproduce the problem in master (666.development-0.20200329.3159ad4484b).

### dtest Reproducer
- [reproducer-issue-4705.sh.txt](https://github.com/scylladb/scylla/files/4424977/reproducer-issue-4705.sh.txt)

### Highlight
- Running a WRITE workaround in background. can't reproduce

[2020-04-03 07:46] amoskong opened #6127 "many named_semaphore_timed_out of smp_service_group caused the rebuild node is unavailable"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200320.df8b3cd5dc1
Cluster size: 6
loader number: 2
instance_type_db: 'i3.4xlarge'
OS (RHEL/CentOS/Ubuntu/AWS AMI): eu-west-1: ami-0386a4a8dc2086366

### Description:

Nemesis description:
- corrupt the data file on target node
- repair by 'nodetool repair'
- interrupt 'nodetool repair'
- rebuild data by 'nodetool rebu

[2020-04-03 08:00] denesb commented on #6121
Both backtraces are from the sstable read path. This smells like wrong schema to me.

[2020-04-03 08:32] asias commented on #6121
Note. They use auto_bootstrap = false. There might be a race that different nodes see difference schemas.

[2020-04-03 08:35] amoskong commented on #4935
I always see the 'Too many in flight hints (C-S OverloadedException)' error in longevity-large-collections-12h job.

I tried to reduce the collection size from 2 * 8M to 1 * 1M, but it still has this problem, and workload failed.

The only Workload:
- "JVM_OPTION='-Xms8033M -Xmx8033M -Xmn400M' cassandra-stress user profile=/tmp/large_collections.yaml ops'(insert=3,read1=1,update1=1)' cl=QUORUM dur

[2020-04-03 10:13] kbr- opened #6128 "Reads performed during a topology change might not see previous writes"
Bootstrapping a node is performed roughly using the following steps:
1. Every node uses the same token ring, which contains only _normal_ tokens.
2. Every node adds _pending_ tokens to the token ring. Those pending tokens will be normal tokens of the bootstrapping node after the topology change is finished.
3. Nodes start streaming data from _natural_ replicas (which are calculated using normal to

[2020-04-03 10:16] haaawk commented on #5048
I have a fix here: https://github.com/scylladb/scylla/pull/6129

[2020-04-03 10:28] haaawk commented on #5840
This test is flaky. I just got both a failure and a success on 31593e

[2020-04-03 10:33] piodul commented on #6096
@gleb-cloudius ping

[2020-04-03 11:03] gleb-cloudius commented on #6096
Why can't we do the same as we do for checking that hint are not older than gc grace period: replay a hint only if  the oldest hint in a file is younger that truncation time?

[2020-04-03 11:15] haaawk commented on #6096
If I understood correctly, we're mixing hints for different tables in one file, no? @gleb-cloudius

[2020-04-03 11:29] gleb-cloudius commented on #6096
Yes, but the same is true for gc period. It is per table as well. You do the check for each mutation while replaying a segment. Drop those that are too old.

[2020-04-03 11:33] haaawk commented on #6096
I agree that we can check each mutation while replaying a segment. We just can't check the whole file as a single unit.

[2020-04-03 11:36] piodul commented on #6096
@gleb-cloudius

Adding the check you are talking about is also a part of the solution, but it won't suffice.

Currently, truncate operation is now implemented in such way that coordinator sends a request to all nodes to remove their local data, and waits until all nodes reply. Truncate requests from coordinator may arrive to each node at a different time and it may race with hint sending. An examp

[2020-04-03 11:42] denesb commented on #4422
This was fixed by 9bbf55e9c0.

[2020-04-03 11:42] #4422 closed

[2020-04-03 11:51] gleb-cloudius commented on #6096
@haaawk I did not suggest that, only use file's modification time as a basis for time calculation like we do for gc.

[2020-04-03 11:54] haaawk commented on #6096
I see. No I understand. Makes total sense to not store modification time per mutation.

[2020-04-03 11:58] piodul commented on #6096
@haaawk As far as the file modification time goes, we would need to flush currently accumulated hints just before we truncate locally. If we do that, we will not mix hints generated before/after the truncation in one file, and we can use the file modification time to check if the hint is OK to be sent.

[2020-04-03 12:12] gleb-cloudius commented on #6096
@piodul about the race I think it can be solved by not accepting any hints for truncation timeout.

[2020-04-03 12:17] denesb commented on #6128
I thought we are not counting pending nodes towards QUORUM during read/write.

[2020-04-03 12:58] piodul commented on #6096
@gleb-cloudius Oh, that's a good idea! If we reject hints with an error:

- hints generated before the truncation will be retried until they start being ignored due to them being older than the truncation,
- hints generated after the truncation will be retried until they start being accepted by the destination.

This way we will neither replay the old hints after truncation, nor lose new hints gen

[2020-04-03 13:59] haaawk commented on #5840
I think I found what the issue is. I'm running the test couple of times more to make sure it's really fixed and I will send a PR.

[2020-04-03 14:13] glommer commented on #6123
I don't see backport tags here. Should we backport this to stable versions ?

[2020-04-03 14:50] espindola commented on #5693
Failed again:

https://jenkins.scylladb.com/job/scylla-master/job/next/1790/consoleText

Not sure if the same bug or not.

[2020-04-03 15:39] vladzcloudius commented on #6096
@piodul
After the TRUNCATE handling is complete hints generated before the truncation should be simply dropped on the sender side. No need to do anything special about it - just like we do for gc_grace case. I described how to do it in detail before.

The node that received the TRUNCATE command should stop applying any hints and/or regular mutations white it processes the TRUNCATE. This is also in

[2020-04-03 16:37] #5109 closed

[2020-04-03 16:37] #6109 closed

[2020-04-03 16:37] #6102 closed

[2020-04-03 16:37] #6116 closed

[2020-04-03 16:37] #6123 closed

[2020-04-03 16:55] denesb commented on #454
EAR is in enterprise 2019.1, can we close this issue, @tzach ?

[2020-04-03 20:25] dyasny commented on #6119
Not reproducing internally, closing.

[2020-04-03 20:25] #6119 closed

[2020-04-03 20:50] kostja commented on #6125
Changed the test case to make the failure easy to reproduce:
https://github.com/kostja/scylla-dtest/tree/lwt

According to trace, replicas for whatever reason yield empty cell for a row:

node3.log-TRACE 2020-04-03 23:36:42,180 [shard 0] paxos - CAS[0] prepare_ballot: got a response prepare_promise(empty, empty) from 127.0.3.2
node3.log-TRACE 2020-04-03 23:36:42,180 [shard 0] paxos - CAS[0] prepar

[2020-04-03 22:46] santithorn opened #6130 "Upgrade from 3.1.1 to 3.2.4 corrupt an SStable with frozen UDT"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.4
Cluster size: 1
OS (RHEL/Cen

[2020-04-04 07:23] tzach commented on #454
Closing. EaR as a Scylla Enterprise feature.

[2020-04-04 07:23] #454 closed

[2020-04-04 09:15] coelho commented on #2112
This is also an issue in Kubernetes environments with scylla-operator. It wouldn't be fully resolved by the PR because the /etc/scylla.d/ directory is reconstructed every boot I believe?

[2020-04-04 12:17] haaawk opened #6131 "Rolling upgrade fails because of std::runtime_error (Wrong token bytes size: expected 8 but got 0)"
When we switched token representation to int64_t
we added some sanity checks that byte representation
is always 8 bytes long.

It turns out that for token_kind::before_all_keys and
token_kind::after_all_keys bytes can sometimes be empty
because for those tokens they are just ignored. The check
introduced with the change is too strict and sometimes
throws the exception for tokens before/after all k

[2020-04-04 13:33] kbr- commented on #6126
It does. The reason why the trick works is that at most one node may leave the natural replica set, and at most one node may join the natural replica set.

Suppose that the old replica set is X and the new replica set (due to a node bootstrapping or decommissioning) is Y. Since at most one node can bootstrap or decommission at a time, one of the following is true:
1. Y = X + {A}, for some A not in

[2020-04-04 13:45] haaawk commented on #5840
The fix was merged here https://github.com/scylladb/scylla/pull/6132. Once it's backported it might be worth re-running the test. The test is flaky so it was passing and failing for me in rounds but the previous exception does not appear anymore.

[2020-04-04 15:36] #6131 closed

[2020-04-04 17:20] avikivity commented on #6131
Backported to 4.0.

[2020-04-04 21:31] slivne commented on #6130
@santithorn I am not able to reproduce this "easily"

I did the following:

Started an instance with 3.1.1

ran the following commands via cqlsh

[code]
ran  ```select * from pacificdb.config ;``` that shows the content

Upgraded to 3.2.4 using scylla docs: https://docs.scylladb.com/upgrade/upgrade-opensource/upgrade-guide-from-3.1-to-3.2/upgrade-guide-from-3.1-to-3.2-rpm/

ran  ```select * from p

[2020-04-05 08:27] eliransin commented on #5797
This commit specifically has a comment:

statistic didn't "cross a scheduling group boundary", such validation
is possible but it can easily be added in the future. There is a
subtlety to doing so since if the operation did cross to other
scheduling group two connected statistics can lose balance
for example written bytes and completed write transactions.

Nevertheless there is a quick fix for res

[2020-04-05 10:28] amnonh opened #6133 "Aggregate storate_proxy read/write under the same metric name"
there are currently multiple types of read/write timeouts (regular, range, CAS)
Use a single metric name for all of them and differentiate them by labels.

See: https://github.com/scylladb/scylla-monitoring/issues/876

[2020-04-05 10:48] avikivity commented on #6093
Backported to 4.0.

[2020-04-05 13:15] bhalevy opened #6134 "secondary_indexes_test: test_truncate_base: Error from server: code=0000 [Server error] message="Column key was expected to be provided in the index clustering key, but the whole index clustering key is missing""
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/447/testReport/junit/secondary_indexes_test/TestSecondaryIndexes/test_truncate_base/
Scylla version a15b32c9d9668928aaddd7b8491c63322b1aa578
[code]

This exception was added in b3fdb742aed5ef1b8d849ef099a1e2044561831e for #5856

[2020-04-05 13:15] bhalevy commented on #6134
@psarna please look into this

[2020-04-05 13:23] psarna commented on #6134
Yay, the trap worked :) Now I only need to figure out how the heck this situation happened, and perhaps #5856 can finally get solved.

[2020-04-05 14:13] amnonh commented on #4058
@slivne let's close this

[2020-04-05 14:17] amnonh commented on #4469
@slivne can we assign Eliran until it is clear?

[2020-04-05 14:54] slivne commented on #4058
@amnonh rethinking this...
 - I am missing something I know we did not implement all the JMX endpoints only those we found that needed to be used by nodetool commands we used.
- I did not think that swagger had non implemented endpoints.
- If this is the case swagger should have endpoints not impld documented - even for us its needed.

[2020-04-05 15:15] slivne commented on #6121
Patch merged into master:
[code]

[2020-04-05 15:23] slivne commented on #6121
@roydahan
 - we currently will not backport this patch to 4.0 - please try to run on master more then once and see if we can force trigger the issue
- Asias mentioned a possible cause starting a node with auto_bootstrap=false, @asias did you see this in the logs ?

[2020-04-05 15:25] gleb-cloudius commented on #6060
This cluster uses tls. Does it reproduces without tls?

[2020-04-05 15:25] slivne commented on #6120
@asias it seems you understand whats going with both issues and why `auto_bootstrap = false` caused both, can you clarify what the issues are.

[2020-04-05 15:30] amnonh commented on #4058
I think that we should move towards v2, and leave v1 align with the jmx

[2020-04-05 15:31] slivne commented on #6060
@slivne
- please validate this has the tls fix from calle ....
- if the run is without the tls fix, close the issues.

@fgelcer - please update with the results from 4.0

[2020-04-05 15:35] slivne commented on #5856
@aleksbykov / @roydahan - the additional info patches have been merged to master we need a new run to try and reproduce

@eliransin please check if we need to add a special flag to get the additional info

[2020-04-05 15:54] bhalevy commented on #6125
@kostja how about https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/447/testReport/junit/lwt_test/LwtTest/metrics_test/?
Do you suspect it's the same issue?

[2020-04-05 16:54] nyh commented on #4058
@amnonh but why not remove this unimplemented API function? Nobody could use it anyway so it's not like we're breaking compatibility?

[2020-04-05 17:01] amnonh commented on #4058
The current API is for internal use and suppose to be one-to-one matching to the jmx.

When we find a new function we need, we only need to replace its implementation and everything else works.

[2020-04-05 17:07] fgelcer commented on #6060
build #4 ran it 5 times, where 4 of those took around 80 seconds, and 1 time it took 16 minutes (didn't check, bur most likely related to previous commands executed.

[2020-04-05 17:20] fgelcer opened #6135 "node status on gossip schema after node is removed"
basically what happens is that a node was removed (during terminate [by brute force] and replace).

the messages seen after the new node is added to the system is
[code]

and the node status shows us:
[code]

node ```10.0.5.255``` is marked as shutdown, but we are expecting to see that it is ```LEFT```

[logs can be found here](https://cloudius-jenkins-test.s3.amazonaws.com/22efe1aa-e5b9-46d0-9314

[2020-04-05 17:20] fgelcer commented on #6135
@asias , @slivne asked to report it as an issue.

[2020-04-05 18:14] psarna commented on #6134
I'll just leave a hypothesis I just came up with for tomorrow: perhaps lack of the clustering key is a valid paging state after all, and this assertion should is too strict? E.g. when the last row from a paged query was a static row - that would mean that the paging state should have a partition key to indicate a partition, but no specific clustering key...
If that's the case, the solution would b

[2020-04-05 18:17] psarna commented on #6134
... indeed, that's the case (the comment says it all):
[code]

[2020-04-05 18:17] psarna commented on #6134
So - the assertion from b3fdb74 is incorrect, but instead of reverting it, it's better to simply fix the code. I'll send a patch tomorrow at the latest.

[2020-04-05 18:24] roydahan commented on #6135
@fgelcer please check if the next clusterHEalthValidator reported this issue or not.

I think this is “expected”, but @juliayakovlev can elaborate more.

[2020-04-05 18:32] fgelcer commented on #6135
I have checked with @juliayakovlev , and it doesn't reproduce very often...
this is only a matter of the actual state of a node after terminate and replace status of the nodes from gossip schema.
it could be that took very long to move the removed node from ```shutdown``` to ```LEFT```, but @juliayakovlev saw this very same issue last September (maybe for the first and only time)

[2020-04-05 18:37] psarna commented on #6134
or rather - the assertion itself is correct, but due to another bug, it can be triggered in an incorrect path

[2020-04-05 20:34] kostja commented on #6125
It's also addressed by this patch.

[2020-04-05 22:14] slivne commented on #6005
With regards to 4.0 the decision is: since the additional limitation (bootstrap of seeds in parallel) is only applied if experimental is set - this is not a blocker and will be pushed out to 4.1

With regards to 4.1: this has to be fixed to get CDC out of experimental mode

[2020-04-05 22:16] slivne commented on #5627
I am closing this issue - as we are not able to hit it, if we will we can open a new issue

[2020-04-05 22:16] #5627 closed

[2020-04-05 22:24] slivne commented on #3628
Patch to tune nvme interrupts was merged (check #3816) closing this issue

[2020-04-05 22:24] #3628 closed

[2020-04-06 06:22] juliayakovlev commented on #6135
Fabio and I are in the touch with Asis about this problem. Fabio sent the details to Asias last week and we are waiting for his conclusion

[2020-04-06 06:26] denesb commented on #6121
@slivne just want to note that the above mentioned patch will not cover the unserializing iterator we see in the backtrace here. To produce a core in the above situation too, we'll need yet another patch.

[2020-04-06 06:39] amnonh commented on #4513
@slivne how we calculate BF size currently:
For every-shard:
    For every table (one or more):
         for every stable:
              sum filter_size

Maybe it should be counted only once per table?

[2020-04-06 08:13] mrsinham commented on #4337
is this impacting performance or just reporting ? thx

[2020-04-06 08:56] bhalevy commented on #4337
It's just about statistics accounting, there is no affect on performance.

[2020-04-06 09:32] mrsinham commented on #4337
Thanks.

[2020-04-06 11:29] kbr- commented on #6130
@santithorn

was this cluster previously upgraded from 3.0.x?
I have a hypothesis that the malformed sstables were created in 3.0 (they didn't add the FrozenType<...> tag), but I haven't been able to verify it yet (compiling 3.0 these days is not trivial).

[2020-04-06 12:01] kbr- commented on #6130
Indeed. I compiled Scylla on branch-3.0 and created a table with map and frozen user type inside:
[code]

Scylla logs showed:
[code]

Notice the lack of `FrozenType<...>` around `UserType<...>`.

Still need to investigate why this wasn't catched after upgrading to 3.1.

[2020-04-06 12:55] bhalevy commented on #6121
So let's do this patch and run in qa with `abort_on_internal_error`

[2020-04-06 13:32] dyasny commented on #5725
@slivne @eliransin hitting this in the field, we need the fix backported to 3.2 and 3.3

[2020-04-06 15:07] denesb opened #6138 "types: de/serialization: work in terms of fragmented buffers"
In the past few years we have converted most of our codebase to work in terms of fragmented buffers, instead of linearised ones, to help avoid large allocations that put large pressure on the memory allocator.
One prominent component that still works exclusively in terms of linearised buffers is the types hierarchy, more specifically the de/serialization code to/from CQL format. Note that for most

[2020-04-06 15:14] slivne commented on #6121
@denesb / @bhalevy please update once you have the patch avail and we can see how to run a test

[2020-04-06 15:14] bhalevy commented on #6121
@denesb  The patch mentioned above was for https://github.com/scylladb/scylla-enterprise/issues/1263, right?

[2020-04-06 15:18] kbr- commented on #6130
Ok, here's the problem:

there is an sstable which uses wrong serialization headers: it uses `UserType<...>` instead of `FrozenType<UserType<...>>`. One way to create such sstable is to use Scylla 3.0 with `enabled_sstables_mc_format: true`, then flush/compact your tables.

Scylla 3.1 fixed this bug, perhaps accidentally. When Scylla 3.1 saw `UserType<...>` without `FrozenType<...>` around it, it

[2020-04-06 15:22] haaawk commented on #6130
We can also fix 3.2 to know that inside collection UDT is always frozen.

[2020-04-06 15:22] slivne commented on #5856
We need to check backports.

[2020-04-06 15:23] kbr- commented on #6130
@haaawk

maybe, but it would be a 3.2 specific fix, we certainly should not include it into future releases (if we plan to add non-frozen UDT/collection inside collection support).

[2020-04-06 15:24] denesb commented on #6121
@bhalevy correct.

[2020-04-06 15:24] slivne commented on #5840
Centos7 upgrade test passed

[2020-04-06 15:24] #5840 closed

[2020-04-06 15:24] haaawk commented on #6130
I think we can assume we won't. As far as I know, non-frozen collections are also not allowed inside other collection.

[2020-04-06 15:27] kbr- commented on #6130
Yes, today, but not necessarily in the future. See Cassandra:
https://issues.apache.org/jira/browse/CASSANDRA-7826

[2020-04-06 15:28] haaawk commented on #6130
Fair point.

[2020-04-06 15:31] slivne commented on #6130
@avikivity please provide input on how you want this solved

[2020-04-06 15:38] avikivity commented on #6130
We can have a config flag that says udt_inside_collection_is_always_frozen, and a scylla metadata (Scyla.db) flag that says correct_udt_in_collection.

The rules will be:
 - new version always writes according to the specification, and also sets correct_udt_in_collection in new sstables
 - if correct_udt_in_collection is set, or if udt_inside_collection_is_always_frozen is clear, we read that ssta

[2020-04-06 15:47] kbr- commented on #6130
The `correct_udt_in_collection` flag should be enough.

No flag inside sstable
 => the sstable was written before this flag was implemented
 => the sstable was written before non-frozen udt inside collection was implemented

thus, if we see sstable without this flag, we can be liberal in reading the sstable (i.e. read it even if it doesn't wrap `FrozenType` around `UserType`
if we see sstable with

[2020-04-06 16:01] tarzanek commented on #6130
confirming reproduction steps, critical is the use of frozen UDT in a map and a switch to mc in 3.0 and lack of compaction in when upgrading from 3.1 to 3.2
(which is understandable, but at the same time if one can afford it, this is a _workaround_: If you have frozen UDTs in 3.0 with mc, then please _compact in 3.1_. )

[2020-04-06 16:39] piodul commented on #6096
@vladzcloudius

Oh, I see. I missed that detail before. It makes sense to reject those writes during truncation.

If TRUNCATE was implemented as a kind of a range tombstone, it would have different semantics - after truncating you wouldn't be able to write data with timestamps older than the truncate tombstone. Current implementation does not have this limitation.

----

If there are no objections

[2020-04-06 16:48] vladzcloudius commented on #6096
@piodul

Actually, this is a good example of why the "tombstone TRUNCATE" would make much more sense than what we have today:
  * You *would* be able to write with (user) timestamps before the truncation time just fine. However these writes would be shadowed (at least as long as this tombstone is not evicted).

IMO this is a much more sane semantics than what we have today - seeing data with a tim

[2020-04-06 17:05] tgrabiec opened #6139 "Conflicting LWT transactions may be committed when prepares and accepts are using different quorums"
Scylla version (or git commit hash): 3.2+
Cluster size: 3+

Scenario:

CAS1 ballot (t0) < CAS2 ballot (t1)

1. nodes {A, B, C}
2. CAS1 prepares on A and B
3. CAS2 prepares on A and B
4. CAS2 accepts on B and C
5. CAS2 commits on B and is done
6. CAS1 is accepted on C
7. CAS3 uses A and C and doesn't see effects of CAS2, is not aware that CAS2 was accepted, so won't replay it

**Edit:** As Kamil po

[2020-04-06 17:09] tgrabiec commented on #6139
There is also a similar scenario which involves paxos-state pruning (4.0+):

0. x = 0
1. CAS1 is preparing set x = 1 if x = 0 using ballot t0
2. CAS1 is successfully prepared and got read results with x = 0 but hasn't moved to the accept phase yet
3. CAS2 is preparing set x = 2 if x = 0 using ballot t1
4. CAS2 also sees x = 0, is accepted, committed and prunes paxos_state
5. CAS1 attempts accept()

[2020-04-06 17:27] hakimkartik opened #6140 "Adding a new scylla node to an existing cluster is taking too long"
I had added a new node (belonging to i3en6.xlarge family, rest of the nodes belong to i3.8xlarge)
to an existing Scylla cluster
it has been more than 4 hours since i have launched
but still, the node status is being displayed as JOINING
I had changed the bootstrap to false
but still, it is taking time
anyone knows
how can i speed up or monitor the progress or
check if something is wrong?
any sugge

[2020-04-06 18:01] bhalevy opened #6141 "scylla crashed during scrub dtest: utils/managed_bytes.cc:37: const value_type* managed_bytes::do_linearize() const: Assertion `lc._nesting' failed."
Happened with scylla debug based at 4e6f5436767ef84072af7964b49fe56b0ffbc6c4
during scrub compaction with random data injected into sstable

The updated test is currently at bhalevy/scylla-dtest@0125f478624dde92d4bd06fedc60c5fae4809cfb

[code]

node1.log:
[code]

Decoded:
[code]

[2020-04-06 18:03] bhalevy commented on #6141
Cc @denesb

[2020-04-06 18:08] bhalevy commented on #6125
Closed by scylladb/scylla-dtest#1412

[2020-04-06 18:08] #6125 closed

[2020-04-06 18:26] bhalevy opened #6142 "scrub prints binary strings when key is corrupted"
As seen with `nodetool_additional_test:TestNodetool.scrub_with_one_node_expect_data_loss_test` with https://github.com/scylladb/scylla-dtest/pull/1414
`scrub_compaction::on_invalid_partition` and `scrub_compaction::on_invalid_mutation_fragment` may print binary strings to the log when printing `key().with_schema`.
This corrupts the log and causes a failure in the python parser when parsing the log

[2020-04-06 18:27] bhalevy commented on #6142
@denesb please look into this (in low priority)

[2020-04-06 19:07] fgelcer commented on #5808
after scylla-tools-java were fixed, i'm building a new AMI and hopefully tomorrow it will be ready to give a try

[2020-04-06 19:28] jul-stas opened #6143 "Segfault in CDC postimage"
On fresh master, e.g. 4e6f5436767ef84072af7964b49fe56b0ffbc6c4 :
[code]
(Segmentation fault on shard 1). Backtrace:
[code]
Without `'postimage':true` issue does not appear.

[2020-04-06 21:49] kostja commented on #6139
Initially I was thinking that a repair at step 7 should resolve this.
In prepare response to CAS3 most_recent_commit will be empty, while accepted_proposal will be CAS1, as CAS1 is stored on C.  Since we have in_progress accepted proposal, but missing most_recent_commit (neither A nor C have committed CAS1 or CAS2), CAS3 will switch to committing CAS1 proposal with CAS3 ballot.
Unfortunately, this

[2020-04-06 22:39] slivne commented on #6130
So cassandra had the same issue https://issues.apache.org/jira/browse/CASSANDRA-11613 - they fixed the schema during the upgrade.

From what I understand their solution was to update the schema as well during the upgrade, are we doing that ?

[2020-04-06 22:55] kostja commented on #6139
An alternative fix is to keep accepting the proposal, but update system.paxos *only* if the proposal is greater than the currently accepted one, so that we don't forget the highest accepted proposal and return it to the next prepare request. This would perhaps be closer to spirit of Paxos Made Simple.

[2020-04-06 23:24] PleasingFungus opened #6145 "Scylla node performance degrades over time with a constant workload"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.1.0-0.20191012.9c3cdded9
Cluster

[2020-04-07 00:28] glommer commented on #6145
Hi

You still have the cluster around correct ?
Can you try to cqlsh and to `TRACING ON`, then issue a query to one of your partitions, adding the string `BYPASS CACHE` at the end?

The theory is that the number of SSTables we are consulting grows due to some issue with expiration of SSTables. Tracing with `BYPASS CACHE` will show you exactly which SSTables the query is consulting.

[2020-04-07 00:46] PleasingFungus commented on #6145
Sure! I don't know if this will be fully representative of the old state, since the lack of writes means most of the old data has expired, but hopefully it's close enough.

On an old node:

[code]

On a new node (new cluster, still getting writes from prod):

[code]

[2020-04-07 01:02] glommer commented on #6145
hi

Sorry, I lacked clarity (my fault on that).

We need a select where you specify a single key (`where key = `). It's best indeed if you select something that is not expired.

[2020-04-07 01:20] PleasingFungus commented on #6145
Sure!

Old:

[code]

New:

[code]

Is that what you meant?

[2020-04-07 01:22] glommer commented on #6145
yes! but we need the `bypass cache` string at the end, otherwise the answer may come (in this case it did come) from cache and we won't see which files it accessed

[2020-04-07 01:24] PleasingFungus commented on #6145
Oops, sorry!! OK, try three. Old:

[code]

New:

[code]

[2020-04-07 01:40] amoskong commented on #4935
ping @slivne

[2020-04-07 01:47] raphaelsc commented on #6110
@PleasingFungus I'd highly recommend you to consider aligning your partition keys to your time windows. 1) Read will touch only 1 sstable. 2) Bucketing partitions keep their size reasonable, which brigs lots of space and perf advantages.

For the table with 30 min window, you could put some field as part of primary key which will uniquely identify that window. For example, a table with 1 day windo

[2020-04-07 03:31] asias commented on #6120
Just to be clear. I think this error happened before even repair was run during startup. The auto_bootstrap = false might cause the schema sync issue which  botond suspected the composite iterator error was due  wrong schema. https://github.com/scylladb/scylla/issues/6121#issuecomment-608289888

[2020-04-07 04:14] slivne commented on #6121
@roydahan / @juliayakovlev - what will help to understand if we have a case of schema not synched is if you add a nodetool gossipinfo command after every add node add / in case you booted a node with auto_bootstrap=false.

[2020-04-07 04:28] slivne commented on #5677
@dyasny please update the issue if this happens when the user uses a newer version, Asias referenced a bug we had with tls that was probably the root cause for the issue.

I am closing this issue for now.

[2020-04-07 04:28] #5677 closed

[2020-04-07 04:59] denesb commented on #6141
We are reading a fragmented managed bytes without an enclosing `with_linearized_managed_bytes()`.

[2020-04-07 04:59] denesb commented on #6141
See https://github.com/scylladb/scylla/issues/6108.

[2020-04-07 05:18] slivne commented on #5707
@glommer assigning this to you to get this unstuck

[2020-04-07 06:22] eliransin commented on #6040
@Termite one more question, did you have mc format enabled in 3.0 prior to the upgrade?
Can you send me the `scylla.yaml` configuration file you used for the nodes?

[2020-04-07 06:59] eliransin commented on #5797
@gleb-cloudius do you have a reproducer for this?

[2020-04-07 07:27] gleb-cloudius commented on #5797
At the commit provided it happened after the fresh boot for me.

[2020-04-07 09:13] psarna commented on #4270
Let's see if this failure is still observed after dcfdd917e got merged - it addresses a race in view building bookkeeping.

[2020-04-07 09:15] psarna commented on #4995
I assume the issue was not reproduced, since the last update is from October '19?

[2020-04-07 09:16] psarna commented on #5020
Was this issue reproduced since its last update in October?

[2020-04-07 09:19] ShlomiBalalis opened #6146 "Bad_alloc after alter table (add column)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200401.dee0b68347 with build-id fad26a9d18b8b394f2ed3e73aa18aee26a8806d5
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-024fdfe78273cb36b (Ireland)
instance type: i3.4xlarge

Node list:
[code]

At `2020-04-02 04:55:49,405` another add_drop_column nemesis started with node#6 as the target.
The "add_drop_column" ne

[2020-04-07 10:25] denesb commented on #6121
Patch on the list: [PATCH v1 0/2] compound-compat: composite::iterator: cover error paths with `on_internal_error()`

[2020-04-07 10:28] ShlomiBalalis opened #6147 "Semaphore Timed out during destroy_data_then_rebuild"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200401.dee0b68347 with build-id fad26a9d18b8b394f2ed3e73aa18aee26a8806d5
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-024fdfe78273cb36b (Ireland)
Instance type: i3.2xlarge

Node list:
[code]

At `2020-04-02 05:34:27,045` a destroy_data_then_rebuild nemsis started with node#4 as the target node.
during the nemes

[2020-04-07 11:25] bhalevy commented on #6092
@raphaelsc please look into this

[2020-04-07 11:40] STRATZ-Ken commented on #6140
I don't believe its taking too long. I believe the debug outputs that the streams are not active is untrue.    I saw network traffic happening, even though it said 100%.

[2020-04-07 11:48] STRATZ-Ken opened #6148 "CommitLog Not Honoring its Input Size"
It seems like my cluster is not honoring the limit sizes enforced by the config file.

Example 1 : I left the default commit log size at `-1` upon investigation, I gave the commitlog disk 75GB of space.  I later found after a small bit of time, my commit log file drive size was at 100%.  How is it possible if my max RAM size is 35GB, that the commit log got over 75GB.

Example 2 : I set in the con

[2020-04-07 11:50] glommer commented on #5707
What's the systemd version in this box?
Systemd keeps changing the properties which is why in the default slice I had to add a lot of redundancy.

I'll check which properties are supposed to work in this particular version

[2020-04-07 12:02] tgrabiec opened #6149 "Conflicting LWT transactions may be committed due to TTL on paxos state"
RF=3, {A, B, C}

CAS1 ballot < CAS2 ballot

1. CAS1 prepares on B and C, is prepared on quorum
2. CAS2 prepares on A and B, is prepared on quorum
3. CAS2 is accepted on A
4. CAS2 is accepted on B, is accepted by quorum
5. CAS1 is accepted on C, will be rejected on A and B
6. CAS2 commits on A
7. time passes so that all writes to the paxos state table prior to step 6 are lost due to TTL

The paxos

[2020-04-07 12:05] mmatczuk commented on #5707
`systemd 219`

[2020-04-07 12:14] bhalevy commented on #6149
Cc @kostja @gleb-cloudius @slivne

What's the priority for 4.0?

[2020-04-07 12:19] glommer commented on #5707
Michal, the slice code is not in 2019 so you have obviously added the files manually.
Just so I can reproduce your setup exactly, can you tell me all files you added, and their respective paths?

The systemd documentation just mention which options are deprecated, but hot when that happened. I'll give this a go.

[2020-04-07 12:27] mmatczuk commented on #5707
We do the following https://github.com/scylladb/mermaid/blob/master/dist/scripts/scyllamgr_agent_setup#L105

This is part of manager so you can check in [this RPM](http://downloads.scylladb.com.s3.amazonaws.com/manager/rpm/unstable/centos/branch-2.0/62/scylla-manager/7/x86_64/scylla-manager-agent-2.0.2-0.20200401.ab6c6b96.x86_64.rpm).

[2020-04-07 12:28] bhalevy commented on #5020
Not AFAIR. We can close it.

[2020-04-07 12:28] #5020 closed

[2020-04-07 12:29] bhalevy commented on #4995
Not AFAIR. Can be closed...

[2020-04-07 12:29] #4995 closed

[2020-04-07 12:29] gleb-cloudius commented on #6149
On Tue, Apr 07, 2020 at 05:02:53AM -0700, Tomasz Grabiec wrote:

I do not understand how you got that state. First of all A cannot be
in that state since writing MRC also removes an accepted proposal and
second if everything up until 6 is dropped how C still has cas1
proposal.

--
			Gleb.

[2020-04-07 12:36] tgrabiec commented on #6149
Right, proposal should be "none" on node A. The bug still holds.

It should say "prior to step 5".

Description has been corrected.

[2020-04-07 12:37] slivne commented on #6035
@psarna - can you please take a look
- try reproducing and provide a reproducer
- we need to find out what's generating those

[2020-04-07 12:39] #1431 closed

[2020-04-07 12:39] #6118 closed

[2020-04-07 12:39] #6134 closed

[2020-04-07 12:39] #5048 closed

[2020-04-07 12:39] #5874 closed

[2020-04-07 12:39] #6124 closed

[2020-04-07 12:49] glommer commented on #5707
Systemd is ignoring the percentage setting, likely due to too-old-version

[code]

So despite the documentation saying they support it, at least in this version they do not. Let me see if I can find more about which version supports what...

[2020-04-07 12:54] glommer commented on #5707
Ok, so percentage-based was added in systemd commit systemd/systemd@875ae5661a011b757f0eaa468dea6ba91cbe5437

v219 is older than that
It's in v231 so we'd need at least that for percentage-based to work.

Thanks systemd.

[2020-04-07 13:01] slivne commented on #5707
So does that mean that we want to work with whatever Michal did and change
to what they are doing in manager now to add the slice ?

On Tue, Apr 7, 2020 at 3:54 PM Glauber Costa <notifications@github.com>
wrote:

[2020-04-07 13:06] tgrabiec commented on #6139
@kostja Because committing a proposal deletes information about the accept, I think we also need to take MRC ballot into account (or not delete the proposal ballot information).

Scenario:

CAS1 ballot < CAS2 ballot

1. nodes {A, B, C}
2. CAS1 prepares on A and B
3. CAS1 accepts on A
4. CAS2 prepares on A and B
5. CAS2 accepts on B and C
6. CAS2 commits on C and is done (this erases the informatio

[2020-04-07 13:11] gleb-cloudius commented on #6149
If "using timestamp" does not guaranty the order of expiry it defeats
its purpose, no?

--
			Gleb.

[2020-04-07 13:15] glommer commented on #5707
I want to keep percentage-based limits because well, obviously they are better, but we're obviously not going to be able to change Centos7's systemd version.

Likely the best route is to add a version check to the creation of their memory.conf override - overrides are a good way to deal with it, and use bytes in that case.

[2020-04-07 13:23] kostja commented on #6149
@bhalevy there are a lot of potential TTL based consistency issues - we can't clear system.paxos from any intermediate state and expect the algorithm to stay correct. These issues are also present in Cassandra from day one. Specifically to weed out such issues we're introducing Paxos table pruning, to not rely on TTL for correctness. So I believe it's not a blocker. @slivne ^^

[2020-04-07 13:39] kbr- commented on #6139
that's not true. C accepted proposal numbered `t1`, and acceptors store the highest-numbered accepted proposal. So after step 6 C still stores `t1` (even though it accepted `t0`). So CAS3 will see CAS2 on node C.

[2020-04-07 13:41] kbr- commented on #6139
You can see in the code that C will still store the proposal numbered `t1` even after accepting the proposal numbered `t0`, because in `save_paxos_proposal` it uses the proposal number as a timestamp.

[2020-04-07 13:56] hos-omar opened #6150 "docker-entrypoint.py doesn't gracefully shutdown scylla when the container is stopped"
Looks like the current **docker-entrypoint.py** is not able to handle graceful shutdown of the DB.
when I stop the container I don't see any logs indicating the DB is shutting down, and eventually it gets killed after the termination grace period.

to correctly propagate the SIGTERM signal shouldn't supervisord be running as PID 1?
As this is currently not the case.

This is Scylla's bug tracker,

[2020-04-07 14:07] kbr- commented on #6139
The CAS1 proposer must learn either of the two things from C:
- either the highest-numbered accepted proposal in this round (accepted_proposal),
- or that the round has ended (most_recent_commit).

[2020-04-07 14:11] kbr- commented on #6128
Solution "2" above unfortunately doesn't help for read repair :( Note that read repair might also save writes (for maintaining quorum read monotonicity). If one quorum read read-repairs using the old token ring but another quorum read uses the new token ring, it might not necessarily see the previous read.

[2020-04-07 14:20] tgrabiec commented on #6139
You're right.

We still have a bug though, because the fact that C responds to accept with success even though it failed leads CAS1 coordinator to think that it has a quorum when it has not, and it will proceed to commit.

[2020-04-07 14:23] kbr- commented on #6139
C should send the highest-numbered accepted proposal to the CAS1 coordinator (in this case, the `t1` proposal). If it doesn't, then indeed we have a bug.
If it does, then CAS1 can safely commit the `t1` proposal. Committing should be idempotent.

[2020-04-07 14:49] alecco opened #6151 "ALTER TYPE row inconsistency"
On a dtest with a thread running SELECT with consistency level ALL, if there's a concurrent ALTER TYPE sometimes there are values returned as None.

Repro:
https://github.com/alecco/scylla-dtest/tree/alter_bug_test
https://github.com/alecco/scylla-dtest/commit/98561bd78b898dcd6f0c7c310f0a3fdb5bd4caba

    $ nosetests -v -I DEBUG --nocapture ./alter_bug_test.py
    schema_bug_repro_test (alter_bug_

[2020-04-07 14:49] alecco commented on #6151
@kostja

[2020-04-07 14:52] tgrabiec commented on #6139
@kbr- I'm not sure what you mean by "CAS1 can safely commit the t1 proposal". CAS1 should fail or restart when his proposal is not going to be accepted. We commit other proposal in the prepare phase,  not in the accept phase.

[2020-04-07 15:07] dyasny commented on #5725
Ticket number 1135

[2020-04-07 15:09] kbr- commented on #6139
@tgrabiec

forget that last post, I confused the prepare and accept phases.
You're right that CAS1 will fail in your old scenario. In this case CAS1 will fail because it didn't receive an accept from a quorum (only from C).

Also, your new scenario doesn't show any problem, at least I don't see one. In this scenario indeed both CAS1 and CAS2 had a quorum, but their proposals *used the same mutatio

[2020-04-07 15:14] psarna commented on #6035
I'll run a Scylla cluster with mc format disabled, so the node should crash the moment it sees an open-ended range tombstone - I'll run a bunch of workloads on it with YCSB, hopefully it reproduces. I also locally reverted the deprecation of KA format, just in case.

[2020-04-07 15:22] psarna commented on #6035
Huh, it worked... I can see `std::runtime_error (Open-ended range tombstones are not allowed in LA/KA SSTables.)` after running a ycsb workload... I hope it reproduces every time, to make the pinpointing easier.

Steps to reproduce:
1. Revert 91aba4011402152a3d6242fefa6e7ac5a210427a and a0f025f4ceb06905547f07d18b0f222c4e46073b just in case
2. Run alternator with `enable_sstables_mc_format` option

[2020-04-07 15:23] tzach commented on #6150
@penberg  ?

[2020-04-07 15:25] slivne commented on #5856
@aleksbykov a patch has been merged related to this issue into master can you rerun gemini to try and reproduce the issue with master latest and lets see if you still hit the bug or we can close it

[2020-04-07 15:33] psarna commented on #6035
Note though, that regular ycsb's `workloada` does not trigger this behaviour, since its 1000 operations is not enough to trigger a flush. Setting the workload to large values (e.g. 20000000 as in the issue description) works too, but it's simpler to just run a `nodetool flush` after the workload - it works even if only 1 key is inserted via ycsb, which makes it easier to debug.

[2020-04-07 15:47] slivne commented on #6035
Ok now lets find who / what writes the open ended range tombstone

On Tue, Apr 7, 2020 at 6:33 PM Piotr Sarna <notifications@github.com> wrote:

[2020-04-07 15:49] fruch commented on #6150
I've managed to pass along the signals, with the following code in `docker-entrypoint.py`:

[code]

[2020-04-07 15:54] PleasingFungus commented on #6110
OK, I'll try that and report back. Thank you for the advice!

[2020-04-07 15:56] psarna commented on #6035
note for tomorrow - I changed the exception to an abort to see if we indeed try to write a range tombstone from an alternator table, and it seems to be the case:
[code]

I'll continue digging tomorrow.

[2020-04-07 16:24] tgrabiec opened #6154 "Conflicting LWT transactions may be committed due to pruning"
Scylla version (or git commit hash): >= 4.0
Cluster size: > 3

Split from https://github.com/scylladb/scylla/issues/6139

1. x = 0
1. CAS1 is preparing set x = 1 if x = 0 using ballot t0
1. CAS1 is successfully prepared and got read results with x = 0 but hasn't moved to the accept phase yet
1. CAS2 is preparing set x = 2 if x = 0 using ballot t1
1. CAS2 also sees x = 0, is accepted, committed and

[2020-04-07 16:40] juliayakovlev opened #6155 "mutation_write_timeout_exception: Failed to apply mutation - operation timed out for system.paxos"
*Installation details*
Scylla version (or git commit hash):
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-059738984f9119de8 (eu-west-1)

Test: longevity-lwt-basic-3h

LWT longevity test.

Schema has 1 base table and 5 materialized views.

Load is running when the problem happened: conditional updates (LWT) and select

One node (IP 10.0.137.103) got "No space left" :
[code

[2020-04-07 17:27] pidiaquez opened #6156 "via cqlsh not possible to escape special characters such as ' when used as FILTER for UPDATE"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0.2

Issue Description: when havi

[2020-04-07 17:59] santithorn commented on #6130
@kbr- Thanks for tracking down the problem. If the tool you mentioned is readily available, I would love to try that. Otherwise, I can try compacting the sstables in 3.1 as you suggested.

[2020-04-07 19:05] tgrabiec commented on #6139
It indeed seems like there is no problem as long as acceptors always keep the latest proposal. When we see CAS2 being accepted on C, it means that CAS2 was also prepared on a quorum.
There are two possibilities, either (1) CAS2 prepares didn't see any of CAS1 accepts, then CAS1 will not be able to achieve a quorum of accepts and it doesn't matter how C (which doesn't belong to the CAS2 preparing q

[2020-04-07 19:24] tgrabiec commented on #6035
Maybe you're representing partition deletion for partitions without clustering columns by adding a tombstone to the row rather than to the partition. rows in partitions without clustering columns will have an empty clustering key, and row tombstone will appear as an open-ended range tombstone on both ends.

[2020-04-07 19:26] tgrabiec commented on #6035
The sstable writer should probably handle this by writing partition tombstone instead.

[2020-04-07 19:26] fgelcer commented on #5808
@slivne / @elcallio , I confirm now (after lots of efforts to create and execute the AMI with @elcallio 's commit) that it works (actually the test failed with some unrelated issues).
@elcallio , can you please patch your change?
Thank you.

[2020-04-07 20:17] slivne commented on #6151
Please note we have some other bugs opened on ALTER TYPE.

#4550 - was opened and we did not agree fully on it
#5422 - was opened on ALTERs that may cause a crash

I would still check whats the issue and if the bug is confined to alter type or may be caused by something else as well.

[2020-04-07 20:25] nyh commented on #6156
In our CQL syntax parser, `cql3/Cql.g`, the parsing code seems correct:
In the `relation` target, we have the relevant production:
[code]
In the `term` we have `value`, and in `value` in turn we have a `constant`, and `constant` can be a `STRING_LITERAL` - and this is the code which parses the $$ stuff, and is supposedly the same code for all the string literals, not special for updates...

So thi

[2020-04-07 20:56] PleasingFungus commented on #6110
To be clear, are you suggesting something like:

[code]

That is, using "time rounded to the compaction window size" (`time_bucket`) as the partition key, and the original key `k` (used for queries) as a clustering column with an index to allow for queries for the form `SELECT txid, v, version FROM tribute.impressions1d WHERE k = foo`?

If so, how would you suggest I test for performance improveme

[2020-04-07 21:37] raphaelsc commented on #6110
On Tue, Apr 7, 2020 at 5:57 PM Nicholas Feinberg <notifications@github.com>
wrote:

I'd suggest we look at cache metrics, IOPS, and RPS. By aligning partitions
to time windows, more data can be cached and a miss will result in only 1
sstable read in average, which translates into improved read performance.

[2020-04-07 21:42] PleasingFungus commented on #6110
OK, thanks!

[2020-04-08 05:34] psarna commented on #6035
That's exactly the kind of unexpected tombstone semantics I was trying to pinpoint... I'll verify, but I'm fairly sure it's the problem, since everything matches - YCSB's workloada uses only the partition key without clustering keys, and enabling several trace level logging didn't show any explicit range tombstones to be created by user actions.

[2020-04-08 05:35] psarna commented on #6035
A simple workaround for alternator would I guess be to simply use partition tombstones if there's no clustering key present.

[2020-04-08 05:50] psarna commented on #6035
@tgrabiec spot on, a row tombstone created on a table without clustering keys was exactly the issue - I'll send an alternator patch with a workaround

[2020-04-08 05:59] aleksbykov commented on #5856
@slivne will do it asap

[2020-04-08 06:08] psarna opened #6157 "alternator: an index identical to the base table will fail with KA/LA sstable format"
While it's not an interesting case at all from the user's point of view, it should still be handled (with low priority).

Alternator allows creating a somewhat useless index: for a table with one partition key `X` and no clustering key, it allows creating an index on column `X` as partition key. The absurdity of this index is that it provides no value, since one can just read directly from the bas

[2020-04-08 07:17] haaawk commented on #4985
Closing this one as the first version of CDC was implemented.

[2020-04-08 07:34] bhalevy commented on #6035
Awesome detective work folks!

[2020-04-08 09:30] amoskong opened #6159 "UX: suggest to clean coredump file at the end of scylla_coredump_setup"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200407.16246d1c99e
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0d6a24fe35fdf5dc4 (eu-west-1)

### Description:
Commit https://github.com/scylladb/scylla/commit/5f18964763608b5e5d5a833c0777e253d2c21624 added a coredump test in scylla_setup (scylla_coredump_setup), which will generate a coredump file.

### Sugge

[2020-04-08 09:34] haaawk commented on #6127
If we failed to generate the right streams for some shards then CDC may increase the number of cross shards operations. We have a PR ready which makes us always generate the right streams and it may help with this issue: https://github.com/scylladb/scylla/pull/6117

[2020-04-08 10:35] Termite commented on #6040
Am Dienstag, 7. April 2020, 08:22:18 CEST schrieb Eliran Sinvani:

Yes, we enabled mc format in 3.0.

cheers
 Michael

[2020-04-08 10:48] psarna commented on #6157
In order to reproduce, simply disallow `mc` format in `scylla.yaml` config file when booting Scylla - it will result in using LA format, which is enough to reproduce this problem:
[code]

[2020-04-08 11:01] psarna opened #6161 "alternator: trying to fetch data from a nonexistent table may result in segfault"
When a table name is getting resolved and it's not found in the database, alternator also tries to check if maybe the table is actually an index. Unfortunately, it tries to extract the index name from the request even if the user didn't pass the `IndexName` parameter, which results in dereferencing a `nullptr`.

This issue is already solved by a patch which resides on a mailing list, but this issu

[2020-04-08 11:11] psarna commented on #6161
Patch in question: https://groups.google.com/d/msg/scylladb-dev/85kim_PKOxU/mbjPEDE3AQAJ

It's easy to miss it in Gmail UI, since it shows as a response for the whole series, even though it's re-sent as a separate patch. Thunderbird shows it properly as a separate patch.

[2020-04-08 12:00] kostja commented on #6139
To sum up: the updated (Edit:) scenario doesn't have a bug either, since CAS2 must switch to committing CAS1 proposal after seeing it on A. Thanks to timestamp-based proposal versioning, neither Cassandra nor Scylla have an issue here.
I'm attaching a link to stackoverflow as a historical reference and closing as not a bug:
https://stackoverflow.com/questions/29880949/contradiction-in-lamports-pax

[2020-04-08 12:00] #6139 closed

[2020-04-08 12:18] nyh commented on #6035
@tgrabiec this case (row deletion with an empty clustering prefix) is a landmine, because it will work as expected on MC but then on LA will fail, but nobody runs test suites with the LA format any more... Should we perhaps add an assert() somewhere to verify that a row deletion with an empty key is not accepted?

[2020-04-08 12:19] nyh commented on #6157
@psarna forgot to mention the name of the test failing when MC format is disabled: it is `test_gsi.py::test_gsi_identical`.

Since commit 55240e9db2a0157cfccb0c55a8433248e13e36c4 this test is skipped - since it can either succeed (in MC format) or hang (with MC format disabled).

[2020-04-08 12:21] denesb commented on #3915
@tzach after looking at this again, I actually think the message is correct. Also, once you read through the entire doc page (which is not long) you understand why the error message is about wrong kernel version.

[2020-04-08 12:21] #3915 closed

[2020-04-08 12:24] denesb commented on #2778
@avikivity I think we should close this. We already track I/O buffers used by index reads. While we don't track every aspect of index reads, we shouldn't strive to, unless a certain aspect turns out to be problematic, in which case we should open a specific issue for it.

Restricting is not something we will do anyway.

[2020-04-08 12:26] denesb commented on #3205
I will close this. It is impossible to determine whether the abort reported here is fixed or not, and as such the issue is not useful. We'll open new issue if we see new OOM crashes.

[2020-04-08 12:26] #3205 closed

[2020-04-08 12:42] nyh commented on #6157
On the mailing list @psarna and @tgrabiec explained that the problem is that we (in this case, the view upgate code) generates - for a table without clustering keys - row tombstones with and empty clustering key instead of a partition key.

They suggested that this situation should simply be handled by the ka/la writers themselves (and actually mc writers as well) - they're aware of the schema, so

[2020-04-08 13:49] bhalevy opened #6162 "test_streaming_sstables_with_several_timewindows fails with TWCS"
Moved from https://github.com/scylladb/scylla-dtest/issues/1416 since this seems to be a valid regression in scylla.

Test fails occasionally since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/447/testReport/compaction_additional_test/TestTimeWindowDataSegregation/test_streaming_sstables_with_several_timewindows/
Scylla version scylladb/scylla@a15b32c9d9668928aaddd7

[2020-04-08 13:52] glommer commented on #6162
That is very likely due to the recent change, but it's hard to say from the logs if it is a test problem or a scylla problem. I will look today anyhow.

Thanks Benny!

[2020-04-08 13:57] glommer commented on #6162
@bhalevy what hash of dtest are you using? The line number it complains about maps to this for me:

`        self.assertTrue(len(statistics_files) > 0)`

This has nothing to do with TWCS or the splitter, it seems to complain that the statistics file is missing.

[2020-04-08 14:34] glommer commented on #6162
FYI, I ran it locally and the test passed.
Also checking on the version Benny put in the log (my bad, I had missed at first), plus the backtrace, the assert indeed seems to be about missing statistics file.

How can I get the SSTable list from the test?

[2020-04-08 14:50] kbr- commented on #6130
@slivne

In the proposed PR I'm reinterpreting the sstable's schema when reading data from it into memory. But I'm not changing the sstable itself.
But compaction the schema in new sstables will be fixed.

@santithorn

We don't have a tool like that, but I opened a PR with a patch which will allow Scylla 3.2 to read these sstables. Hopefully it will be merged and backported soon.

[2020-04-08 14:53] glommer commented on #6162
Facts:
- The assertion that triggers means that the node has no SSTables.
- Looking at node2.log, there are no strings at all that indicates that any compaction was even attempted at `ks`. That essentially means that node1 didn't transfer the data for whatever reason.

Node1's log is even weirder: it doesn't mention any bootstrap or repair strings at all.

Indeed node2 says
[code]
(so it didn't re

[2020-04-08 14:56] glommer commented on #6162
For the sake of comparison, in a local successful run, this is what I see:

- node1 log doesn't mention any SSTables from the user keyspace
- node2 repair does: ` tx_row_nr=0, rx_row_nr=4800, tx_row_bytes=0, rx_row_bytes=710400,` (so it got data) and successfully shows compactions happening as the data is received.

[2020-04-08 16:43] tgrabiec commented on #6128
Read-repairs would have to also replicate the repairing writes to a quorum in the sibling topology (new vs old) until writes start switching to the new topology.

[2020-04-08 16:50] kbr- commented on #6128
There's still a problem:
1. one quorum read repairs into the new topology (because it finished the topology change and switched to using only the new topology)
2. then another quorum read contacts only the old topology (because it's still during the ring change phase)

I don't see any solution than QUORUM reads contacting both topology for the actual reading phase too. I.e. solution 1 above.

[2020-04-08 17:44] ManManson opened #6164 "Scylla crashes when auth is enabled and 'permissions_validity_in_ms'=0 when using prepared statements"
*Installation details*
Scylla version (or git commit hash): dee0b6834738778921fc582b5a90484a214ef56f

**Problem description**

Given the following Scylla configuration arguments:
[code]
Scylla crashes with the following failed assert message when trying to execute a prepared statement on a node in the cluster:
[code]
Decoded backtrace:
[code]

The assert is coming from `loading_cache::get_ptr` fun

[2020-04-08 18:54] #6035 closed

[2020-04-08 18:54] #6143 closed

[2020-04-08 18:54] #6161 closed

[2020-04-08 18:54] #5102 closed

[2020-04-08 22:23] bentsi commented on #5355
@slivne
1) when we terminate node, cassandra-stress continues to work, we don't lose the load completely
2) we use the same interface for interconnecting and CQL

[2020-04-08 22:25] bentsi commented on #5715
@slivne need to assign somebody. Probably related to #5355

[2020-04-09 03:04] asias commented on #6135
In the log I saw there were 10 nodes. Please help me understand what operations were performed.

After a node was decommissioned, it was not in the cluster any more. What do you mean by "once with decommission and once time with terminate and replace".

Node 6 is 10.0.5.255. I did not see decommission in the log of node6.  I saw no decommission in all 10 nodes.
Node7 tried to replace 10.0.5.255. B

[2020-04-09 03:47] pidiaquez commented on #6156
given that CQLSH in this case does not seems to finish the command ( waiting for EOF), is it possible that the issue is on the client side?

[2020-04-09 07:04] haaawk commented on #6143
@avikivity This is a bug in 4.0 and it would be good to backport it to to 4.0

[2020-04-09 08:01] amoskong opened #6166 "large collections: Load/Throughput of each db node isn't balanced"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200405.df48b5ec9d5
Cluster size: 4 * i3.4xlarge
loader: 1 * c5.xlarge
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0d8e83b5352fe4da7 (eu-west-1)

### Description:

Load and Throughput of one db node (`longevity-large-collections-12h-lar-db-node-13892b84-3` [34.244.231.87 | 10.0.229.225]) is very low, but the numbers of other 3

[2020-04-09 08:25] amoskong opened #6168 "cdc perf: large collections: Load/Throughput of each db node isn't balanced"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200405.df48b5ec9d5
Cluster size: 6 * i3.4xlarge
loader: 2 * c5.xlarge
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0d8e83b5352fe4da7 (eu-west-1)

### Description:
In CDC longevity jobs, the Load and Throughput of 3 db nodes are very low, but the numbers of other 3 db nodes are very similar (higher).

![image](https://user-imag

[2020-04-09 11:47] #1488 closed

[2020-04-09 11:47] #440 closed

[2020-04-09 17:18] kostja opened #6169 "LWT word police"
In Scylla, we decided to use terms prepare, accept, learn for Paxos protocol steps.
Still, some of the user visible metrics use the old (Cassandra) terminology, and should be updated:

* cas_propose
* cas_commit

[2020-04-09 17:20] glommer opened #6170 "speculative retries are mistagged"
Speculative retries are not correctly tagged.

I am looking at a cluster that is set up to use workload prioritization with Scylla Enterprise. The queries all go to `service_level_pc_0`. However the I/O graph still showed activity in the `query` class.

Upon disabling speculative retry, the query class activity went down to zero, indicating that speculative retry was the source of those queries.

[2020-04-09 18:47] udayan0095 opened #6171 "reverse query: single key sstable reader uses the smallest clustering range from slice to determine read range end"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.3-0.20200304.48253eb1832
Cluste

[2020-04-09 18:53] gleb-cloudius commented on #6170
@glommer why is this issue on open source and not on the enterprise bug tracker?

@eliransin  workload prioritization is your turf. Speculative retries are started from a timer. I guess they are not properly tagged there unless a timer inherits scheduling group from whoever armed them
automatically. There are other things that are running from timers. It looks like the timer infrastructure should

[2020-04-09 18:57] glommer commented on #6170
Because the tagging of requests and inheriting service levels seems to be
totally open source. If you, who know the code better thinks this is best
in Enterprise let me know and I will move it.

On Thu., Apr. 9, 2020, 2:53 p.m. Gleb Natapov, <notifications@github.com>
wrote:

[2020-04-09 19:08] glommer commented on #6170
To clarify my comment, in my understanding all we need to do is to make sure that speculative retry is executed with the same scheduling class / I/O class that originated the request. We don't need to worry about which scheduling class is that. Therefore, OSS.

[2020-04-10 05:33] asias commented on #6162
bootstrap code did stream the range it should stream from n1. row_from_disk_bytes={{127.0.36.1, 0}, {127.0.36.2, 0}} shows that the reader on node1 emits zero rows.  I think we have a bug in n1 which prevented to read data from the data set (memtable or sstables).

[code]

[2020-04-10 07:08] aleksbykov commented on #5856
Issue was reproduced on master

next messages and coredumps were found:
[code]
[code]
[code]

[code]
Opened backtrace:
[code]

Next Core dump info:
[code]
**All db node logs: https://cloudius-jenkins-test.s3.amazonaws.com/15b7a915-8632-4709-b34c-cca7976c1e54/20200409_174003/db-cluster-15b7a915.zip**

[2020-04-10 10:20] aleksbykov commented on #6050
@haaawk @piodul
The issue again appeared on latest master:

[code]

[2020-04-10 10:40] piodul commented on #6050
@aleksbykov could you provide an instruction on how to reproduce this error? A sequence of CQL statements and schema information would be the best.

[2020-04-10 11:44] aleksbykov commented on #6050
@piodul
[code]

[2020-04-10 13:06] kbr- commented on #6139
@kostja

how so?

Accepting it doesn't break the invariants commonly used to prove Paxos' correctness, and it doesn't contradict e.g. the algorithm described in Paxos Made Simple.

(it does contradict the algorithm described in Part-time Parliament (the Synod protocol), but that algorithm is unnecessarily strict. For example, an acceptor (priest) in Synod accepts only if the proposal's ballot numb

[2020-04-10 13:10] kbr- commented on #6139
What we should focus on IMHO is the "commit"/"learn" phase, which was invented by Cassandra developers based on intuition and "I think it works" reasoning, without any formal spec or even sketch of a proof of correctness.

For example, making acceptors forget about their highest-numbered accepted proposals due to a learn seems very fishy. It might break the invariants if there's a proposer who's s

[2020-04-10 13:14] kostja commented on #6139
Here's a link to TLA+ specification:
https://github.com/tlaplus/DrTLAPlus/blob/master/Paxos/Paxos.tla#L109

maxBal is updated on accept, and you never accept anything older than maxBal

[2020-04-10 13:26] kbr- commented on #6139
So this is a version where the acceptor, on accepting, also makes a promise.

Still, note that this is **a** version of Paxos, it isn't *the* Paxos (because there's no such thing). There are versions of Paxos which work but don't do this (e.g. the one in Paxos Made Simple).

But I won't argue, it's nice if we stick to some version that has a formal spec written down (and it even has a proof, which

[2020-04-10 14:37] piodul opened #6172 "CDC: Frozen lists are serialized incorrectly in CDC log"
(discovered by @aleksbykov, [here](https://github.com/scylladb/scylla/issues/6050#issuecomment-611995704))

A column of type `frozen<list<T>>` will have a corresponding column of type `frozen<map<timeuuid, T>>` in CDC log:

[code]

When preparing mutation to the log table, if `transformer::transform` encounters an update of an atomic column, it just copies the value directly to the corresponding c

[2020-04-10 14:41] aleksbykov commented on #6172
The error happened for any frozen type (list, set,  map)

[2020-04-10 15:06] piodul commented on #6172
@aleksbykov I tried re-running the example above with frozen map or frozen set, and I did not get any errors.

I identified the issue, and it is specific to frozen lists - the corresponding type of the column in cdc log is incorrect only in case of frozen lists. I'll submit a patch shortly.

[2020-04-10 15:07] aleksbykov commented on #6172
I will recheck.

[2020-04-10 15:37] haaawk commented on #6172
Are you sure @aleksbykov it fails for all the types? only list is handled in a special way so there shouldn't be a problem with collections other than list.

[2020-04-10 16:14] aleksbykov commented on #6172
@haaawk @piodul
I rechecked. You were right. Reproduced only for frozen list

[2020-04-10 17:04] alecco opened #6174 "ALTER DROP/ADD of same column name while LWT DELETE bug/hang"
While doing row LWT DELETEs with prepared statements removes an int column and adds it again as bigint. This brings up a bug and connection to the node is closed.

The same problem happens with other types but this case was picked as it is more  realistic.

Also if there's a sleep of 1 second Scylla seems to hang altogether.

Repro:
https://github.com/alecco/scylla-dtest/tree/alter_table_delete_bu

[2020-04-10 17:35] vladzcloudius opened #6175 "Trace MV update in the context of Write request trace"
*Installation details*
HEAD: f1aaa91e2193e3db32af5e8899734e2a28476da0

*Description*
We don't have very little tools to debug MV related performance issues today.
In particular MVs write path is completely not instrumented by Tracing.

Tracing write path instrumentation stops at mutate_begin() (not including).

It will make a lot of sense to instrument this path.

[2020-04-10 17:36] vladzcloudius commented on #6175
@slivne @psarna @eyalgutkind FYI

[2020-04-10 18:46] Laboltus commented on #5963
I put traffic in the OpenVPN tunnel (turned off encryption and turned on LZ4 compression), and it was reduced by at least half. So I'm pretty sure that the internode_compression does not work.

[2020-04-10 19:59] dyasny commented on #6156
@vladzcloudius can you please assign this field priority as well? This is from support ticket 1145

[2020-04-10 21:50] dorlaor commented on #5963
@elcallio @gleb-cloudius do we use this parameter? From a quick git grep I didn't find we actually use it.

[2020-04-10 21:54] vladzcloudius opened #6178 "Improve CQL Tracing granularity in the read path"
*Installation details*
HEAD: f1aaa91e2193e3db32af5e8899734e2a28476da0

*Description*
Our tracing granularity on the replica side is too coarse:

![image](https://user-images.githubusercontent.com/6103981/79025368-88739680-7b53-11ea-8cf1-35758601884a.png)

Above is a real life example (including some time skew between nodes).

We see that it takes more than a second for the coordinator (203) to get

[2020-04-10 21:56] vladzcloudius commented on #6178
@slivne @eyalgutkind FYI

[2020-04-10 22:51] PleasingFungus commented on #6110
@raphaelsc I tried this suggestion. The resulting schema was:

[code]

This seems to produce performance that is dramatically worse. The great majority of writes are localized onto a single node, causing large numbers of timeouts.

[code]

![Screen Shot 2020-04-10 at 3 49 54 PM](https://user-images.githubusercontent.com/1192475/79027925-f19ede00-7b42-11ea-8b3e-c39fdb6d413e.png)
![Screen Shot 2020-

[2020-04-11 13:59] tzach opened #6179 "Improve Alternator docs"
*Installation details*
Scylla version (or git commit hash): 3.3

This refer mostly to https://github.com/scylladb/scylla/blob/master/docs/alternator/alternator.md

Some features are missing from Alternator API, but do have good solution via other API from Scylla, and should be documented as such.
Examples are:
- Backups. No Alternator API. Good [Backup solution with Scylla Manager (https://docs.sc

[2020-04-12 05:19] eliransin commented on #6040
@Termite is it possible for you to send me the `scylla.yaml` that you used in the nodes?
I am trying to reproduce and it is better to do it with the exact same configuration you used.

[2020-04-12 06:00] eliransin opened #6180 "storage proxy: current stats collection "hides" imbalance in operations"
The imbalance appeared in #5797 and it is made visible by 971711a
Since the fix is non-trivial, the current fix for #5797 will "hide" the imbalance by counting
the stats as part of the scheduling group that an operation originated from.

This issue will be eventually need to be fixed since this imbalance emphasizes the possibility that
some possibly cpu-time consuming are performed from the incorr

[2020-04-12 06:01] eliransin commented on #5797
Doesn't reproduce, even though it is a known issue. I think it is better to preserve the balance at the price of "correctness" in this case.
An underflow counter is not an option. For solving the actual issue of performing operations from
the incorrect scheduling group I have opened: #6180

[2020-04-12 06:38] gleb-cloudius commented on #6180
https://github.com/scylladb/scylla/issues/6170 is related

[2020-04-12 07:08] gleb-cloudius commented on #6060
Looking a the core shard 1 messageing_service::stop() is stucl on server_tls shutdown. The server shutdown is stuck on rpc::server::_reply_gate.close() because there are two outstanding rpc calls that are stuck:
[code]

[2020-04-12 08:06] fgelcer commented on #6135
@asias , to clarify:

I see that TerminateAndReplaceNode nemesis run 4 times, and the other nemesis mentioned didn't run at all. It makes us starting with 6 nodes, and going until 10 nodes (where 4 were actually removed).

The one that failed happened at ```2020-04-01 13:28:49.088```, the 1st one that run:

[code]

The full list of nemesis are here (if there might be something related with other a

[2020-04-12 08:08] fgelcer commented on #6135
Those ```Gathering node replacement information``` messages happened during the nemesis, and is no different in the 3 ones that didn't fail with HealthCheck.

[2020-04-12 08:09] fgelcer commented on #6135
I also updated the issue description to avoid the wrong comment I wrote about different nemesis.

[2020-04-12 08:22] fgelcer commented on #6135
I only see node7 going down at 14:48:44, after it has already replaced all range tokens of 10.0.5.255 long ago.

[2020-04-12 08:28] nyh commented on #6179
Sent a patch titled "docs, alternator: alternator.md cleanup" to the mailing list. Fixed more than just the things you asked for. @tzach please review, and consider how/if you want to copy the updates to the website as well.

[2020-04-12 08:57] #6150 closed

[2020-04-12 10:58] Termite commented on #6040
Am Sonntag, 12. April 2020, 07:20:07 CEST schrieb Eliran Sinvani:

of course. I sent it on 08.04.2020, did the attachment  got lost?

Here it is again, just mail me if it's ok.

Cheers
 Michael

[2020-04-12 11:25] eliransin commented on #6040
@Termite I believe the problem is that github doesn't "understand" attachments through emails.
Can you please try to attach it through the github gui? (in the browser).
Thanks a lot,

[2020-04-12 11:38] Termite commented on #6040
Ok, didn't  know that. Here is the config..
[scylla.yaml.txt](https://github.com/scylladb/scylla/files/4466231/scylla.yaml.txt)

[2020-04-12 11:59] eliransin commented on #6040
@Termite thanks, I went through ok now :slightly_smiling_face:

[2020-04-12 13:30] juliayakovlev opened #6181 "The rows that were missed because of timed outs during LWT inserts, were not repaired during "nodetool repair" running"
*Installation details*
Scylla version (or git commit hash): 4.0.rc0-0.20200325.78f5afec30
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ee5a732dd840a135

The rows that were missed because of timed outs during LWT inserts, were not repaired during "nodetool repair" running

Test schema:
[code]

Test flow has 3 steps:

**Step 1.** run LWT inserts (prepare data). cassandra-stress comman

[2020-04-12 13:42] gleb-cloudius commented on #6181
Why would running repair will cause timeouted rows to be written into
the table? This is not true for regular writes (if timeout happened before any node
managed to do a write) let alone LWT.

The only way to complete a failed LWT write is to do another LWT
operation on the same key.

--
			Gleb.

[2020-04-12 13:44] eliransin commented on #6156
definetly a cqlsh thing -
I tried it with the cqlsh provided with 3.0 and it shows what you saw.
[code]
And when I tried it with pip installed cqlsh on my system I got:
[code]

I am now validating with master latest (in a docker).

[2020-04-12 14:08] roydahan commented on #6181
I don't think she meant the write failed completely for all nodes, but only one replica timed out, but it still managed to reach a quorum write.

[2020-04-12 14:11] gleb-cloudius commented on #6181
On Sun, Apr 12, 2020 at 07:08:41AM -0700, Roy Dahan wrote:

That is not how LWT works. This is not eventual consistency.

--
			Gleb.

[2020-04-12 14:37] gleb-cloudius commented on #6060
Look like the verb is MUTATE and it stuck in trying to send ACK back.

[2020-04-12 15:18] slivne commented on #5856
@psarna please have a look

[2020-04-12 15:23] roydahan commented on #6181
ok, so I don't understand what "revives" these two lines during the read period.

[2020-04-12 15:32] gleb-cloudius commented on #6181
On Sun, Apr 12, 2020 at 08:23:51AM -0700, Roy Dahan wrote:

And I answered the above. To quote:

 The only way to complete a failed LWT write is to do another LWT
 operation on the same key.

--
			Gleb.

[2020-04-12 15:36] slivne commented on #6162
Avi commented that there may be an issue if repair is only using sstables and not using memtables - since we will miss writes that happen before a bootstrapping node was added as joining that haven't been flushed.

@asias ^^ ?

[2020-04-12 15:55] roydahan commented on #6181
Ok, do we plan to have some kind of repair for LWT that will solve such issues?

[2020-04-12 16:00] gleb-cloudius commented on #6181
On Sun, Apr 12, 2020 at 08:55:32AM -0700, Roy Dahan wrote:

There is nothing to solve here. If you want to know what is the real
value after the failure - read it back.

--
			Gleb.

[2020-04-12 16:19] psarna commented on #5856
I'll take a closer look after Easter indeed, but I'll leave a short note: looks like it was never an `indexed_table_select_statement` issue... I thought it was, but it turns out that `indexed_table_select_statement` was only mentioned because it appeared in a **stall** backtrace, not a segfault... well, at least #6134 got discovered and fixed as a side effect :)

Looks like the fault is always sta

[2020-04-12 17:51] tzach commented on #1359
Experimental flag removed in
https://github.com/scylladb/scylla/commit/9948f548a582422876a133b23c9cf86efb823d40

[2020-04-12 17:51] #1359 closed

[2020-04-12 19:03] fgelcer opened #6182 "replace_with_repair failed during terminate_and_replace_node nemesis"
running version ```4.0.rc0-0.20200405.511773d4662```
[code]

nemesis run to terminate node-2:
[code]

and replaces it with with node-7:
[code]

after running repair for a while:
[code]

here the message when it fails:
[code]

here the logs can be found:
[code]

[2020-04-12 19:27] fgelcer commented on #6182
@slivne , this is the issue we found during the 1TB longevity on 4.0

[2020-04-12 19:44] roydahan commented on #6182
The repair didn't run for a while, it failed immediately.
All the messages for all the ranges are from the same time.

[2020-04-13 00:20] #5808 closed

[2020-04-13 00:53] asias commented on #6162
I do not see how.  Repair uses the same reader as we use in stream plan. It reads from both memtable and sstables on disk.

[code]

[2020-04-13 01:04] asias commented on #6135
Let's get back to some basics.  There were no nodetool decommission or nodetool removenode operations in the entire time of the tests.  Nodes are shutdown and then replaced by new nodes.
If this is the case, why do we expect a node in LEFT status at all? What am I missing?

[2020-04-13 06:01] fgelcer commented on #6135
because we set the new node to replace it?

[2020-04-13 06:13] eliransin commented on #6170
I agree to that. I will have a look, it turns out we have several of these cases. In OSS it manifests in unbalanced statistics (#5797) that happens when an operation starts in on SG and completes/times out in another. I will start picking some long hanging fruits in this area (including this one) soon.
Then we might need to think of ways to catch the others.

[2020-04-13 06:19] asias commented on #6135
When we use --replace-address to replace an existing dead node, the existing dead node will not be in the LEFT status. What happened is that the replacing node will use the same host_id and tokens of the replaced node to replace the existing dead node. Other nodes in the cluster think this node is replaced with another ip address (can be the same ip as well). No tokens were removed from the token

[2020-04-13 06:49] fgelcer commented on #6135
@juliayakovlev ?

[2020-04-13 06:51] bhalevy commented on #5856
Cc @denesb ^

[2020-04-13 07:13] bhalevy commented on #4042
@xemul this is tangential to the work you're doing on the row cache.  Please look into this issue.

[2020-04-13 07:43] eliransin commented on #6156
The cqlsh in master latest (7ae2cdf46c7) suffers from the same problem.
This means that it is a problem in our supplied cqlsh.

[2020-04-13 08:17] juliayakovlev commented on #6135
@asias  which status in the gossip we can expect for the removed node? Is "shutdown" is expected status? If yes - how we can understand that the node does not exist anymore? Because of existent (not removed) node that was shutdown and wasn't removed from the cluster, also may got "shutdown" status. How we can discern between two those situations?

[2020-04-13 08:25] syuu1228 opened #6184 "ami: RAID on Ephemeral disk does not working beyond AMI stop/start"
On i3 with RAID on ephemeral disks (which is default on i3), /var/lib/scylla does not correctly initialized beyond AMI stop/start.

After started the instance again, it shows up:
[code]
It seems like we mistakenly broke ephemeral support on our AMI at some point, the setup script tries to handle ephemeral disk as non-ephemeral disk, and failing (because it have lost data on shutting down the insta

[2020-04-13 08:56] syuu1228 commented on #6184
Seems like scylla-ami-setup.service itself supports ephemeral but does not started since it has ```ConditionPathExists=!/etc/scylla/ami_configured```, so after deleting the file /etc/scylla/ami_configured and then shutdown & restart, the instance succeed to re-construct RAID and start scylla-server.

[2020-04-13 09:13] syuu1228 commented on #6184
I do not remember / does not understand why we decided we need this, but the commit https://github.com/scylladb/scylla-ami/commit/37fad2eee37ea65f91a2627abfe3ddaf91b1e25d,  https://github.com/scylladb/scylla-ami/commit/b7db861643422a41302aa657f2cf9e72fecfaed9 is for  https://github.com/scylladb/scylla/issues/3640, and seems like we were fine with this.

[2020-04-13 09:24] syuu1228 commented on #6012
Okay I found ```RequiresMountsFor=/var/lib/scylla``` in /etc/systemd/system/scylla-server.service.d/mounts.conf does not prevent starting up scylla-server.service when /var/lib/scylla is removed from /etc/fstab.
But, I suppose correct usage of our AMI is not removing the entry from /etc/fstab.

[2020-04-13 09:35] syuu1228 commented on #4601
Fixed by https://github.com/scylladb/scylla/commit/cbaea172cd78792cfdb3c196f6a248f21615865e

[2020-04-13 09:39] syuu1228 commented on #3663
bind-mount coredump directory is merged at https://github.com/scylladb/scylla/commit/5f18964763608b5e5d5a833c0777e253d2c21624

[2020-04-13 09:50] avikivity commented on #6170
I think it makes sense for seastar::timer to capture the scheduling group it is called with (and also provide an explicit constructor). That means that timers will have to be executed in a task, not in the poller.

[2020-04-13 09:53] avikivity commented on #6170
@gleb-cloudius @glommer as reported the bug should be in enterprise, but note it also affects open-source, since speculative retries will fall to the main group instead of the statement group, giving retries an edge over normal statements.

[2020-04-13 09:59] gleb-cloudius commented on #6170
I am less worried where it should be and more about timers not
respecting scheduling class. @avi can you confirm the timer part?

--
			Gleb.

[2020-04-13 10:10] roydahan commented on #6012
Make sense, thing is that it's the only way to boot the node after loosing the disk.
I guess we can disable Scylla if we want to workaround it.

[2020-04-13 10:13] roydahan commented on #6184
We need to differentiate between simple reboot like in #3640 (very common) and "stop-> start" i3 instance (pretty rare).

[2020-04-13 10:14] avikivity commented on #6170
Confirmed, patch soon.

[2020-04-13 10:32] avikivity commented on #6170
https://groups.google.com/d/msg/seastar-dev/0JFob8-Qvc0/KKc3HN7YBgAJ

[2020-04-13 10:35] roydahan commented on #6181
So, IIUC (@juliayakovlev please correct me If I'm wrong with the scenario):
- One can insert 10 rows.
- Select count(*) get 8 rows.
- query each row specifically get 10 rows?

[2020-04-13 10:41] eliransin commented on #6156
Closing - this issue was moved to scylla-tools-java repo , scylladb/scylla-tools-java#150

[2020-04-13 10:41] #6156 closed

[2020-04-13 10:45] gleb-cloudius commented on #6181
On Mon, Apr 13, 2020 at 03:35:21AM -0700, Roy Dahan wrote:

If there were errors in step one then yes.

--
			Gleb.

[2020-04-13 11:43] bhalevy commented on #6038
0c11e07faf4afb512096100893b0b5f3d82275b5 is in branch-4.0, removed "Backport candidate" label...

[2020-04-13 11:48] bhalevy commented on #6134
@scylladb/scylla-maint please consider backporting to 4.0

[2020-04-13 11:57] juliayakovlev commented on #6181
@roydahan You are correct. Some row can't be queried despite should exist in the table. To be able to read this row, the user has to query with SERIAL? Otherwise this row won't be returned to user. I think it's problem for the user

[2020-04-13 12:16] alecco opened #6185 "Changing schema inconsistency"
On a dtest, if a table's schema is updated in parallel from 2 different threads but modifying different columns on each thread, there's an error. Even if both use the same node. (3 nodes, RF 1, empty or full table).

`CREATE TABLE ks.t (pk int PRIMARY KEY, a int, b int)`

Thread 1:
[code]
Thread 2:
[code]

`cassandra.InvalidRequest: Error from server: code=2200 [Invalid query] message="Invalid col

[2020-04-13 12:18] gleb-cloudius commented on #6181
On Mon, Apr 13, 2020 at 04:57:44AM -0700, juliayakovlev wrote:

The row cannot be queried only if there was an error writing it. This
how things suppose to work. After an error you cannot assume anything
about the row so you need to either repeat the operation or read it back
to see if a value was written. If this is how the system work than close
the bug.

Non LWT writes are similar BWT so I do n

[2020-04-13 12:48] fgelcer commented on #6127
i'm seeing very similar issue (in my case, the node is unavailable because it was terminated) 180K times.
10.0.56.93 is the node that was terminated.
[code]

full logs to this run will be below:
[code]

[2020-04-13 14:05] syuu1228 commented on #4290
Fixed by https://github.com/scylladb/seastar/commit/8dcbd6658dd30b32208869cfc36f5af29ae697e9#diff-b91a03e7bd419101d56d8f07413d47ca

[2020-04-13 14:05] #4290 closed

[2020-04-13 14:38] fgelcer opened #6186 "multiple Semaphore timed out: smp_service_group"
Scylla version: 4.0.rc0-0.20200405.511773d4662 with build-id de88161d63d02e10ad1b3f2a761cb15aee71d8c9
Cluster size: 4 DB nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-02ffbefa17e58c217

~180K messages of named_semaphore_timed_out
[code]
those messages popped up when one node was **terminated**:
[code]

we suspect that it could have flooded the node-3, as it got alerts that node went down (```longevit

[2020-04-13 14:45] fgelcer commented on #6186
it looks similar to #6127

it could be the cause of the failure reported on #6182

[2020-04-13 14:51] gleb-cloudius commented on #6060
So what happened here is this:

There was an error (tls related since tls session has the error flag set) in `send_loop()` of an rpc client that is used to send mutate acks (this rpc client never receives anything, only sends!). The error set `_error` flag in the client. After the error it had two unsent messages stuck in the send queue. When an error happens the messaging service removes  a clien

[2020-04-13 15:17] slivne commented on #6182
failed - it could be related to auto_bootstrap: false, QA are not sure

[2020-04-13 15:20] slivne commented on #6186
following the node that did not boot at #6182 - QA hit an issue with another node

[2020-04-13 15:28] slivne commented on #6060
Patch on ML "[seastar-dev] [PATCH] rpc: always shutdown socket when stopping a client"

[2020-04-13 15:36] slivne commented on #6162
@asias lets try to understand better where the issue is
 - can we modify the test to boot without the cache and flush the sstables, this will force reading from sstables and lets see if the test fails.

[2020-04-13 15:50] juliayakovlev commented on #5817
_LWT longevity test (3 hours)_

IO Exception during restart with resharding:
[code]

Scylla version: 4.0.rc1-0.20200412.a8ef820f27c
AMI: ami-0e1584bf517753731 (eu-west-1)

This exception was received when node was restarted with resharding.
Flow before failure:
- start scylla-server was completed
[code]
- waiting for DB services up
- run resharding and compactions
- storage_proxy reported about ex

[2020-04-13 17:01] bhalevy commented on #6134
@nyh please evaluate backport.  Is it required? Is it safe?

[2020-04-13 18:18] rahultaing commented on #5968
number of vcpus = 16

[2020-04-13 18:51] rahultaing commented on #5968
we reached our open file threshold again in prod. operator had to restart the process in order to recover. i got some of the above mentioned info after the process restart. not sure if it is helpful. I think we should have captured this before process restart. Here is lsof from one of the host.
[host-a_lsof.log](https://github.com/scylladb/scylla/files/4471233/host-a_lsof.log)

[2020-04-13 19:02] fgelcer opened #6187 "Error applying view update (Operation timed out for mview...)"
*Installation details*
Scylla version (or git commit hash): 4.0.rc0-0.20200405.511773d4662 with build-id de88161d63d02e10ad1b3f2a761cb15aee71d8c9
Cluster size: 4 DB nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-02ffbefa17e58c217

This error is printed many times during a terminate and replace nemesis.

One node went down, and once we started seeing this error message (multiple times), it is possible

[2020-04-13 19:17] slivne commented on #6181
@gleb-cloudius you are correct in the sense that failed writes nothing is guaranteed for them.

Having said that:
- doing a repair after failed regular writes to table A will synch all replicas to the same state of table A.
- doing a repair after failed lwt writes to table A does not synch all replicas to the same state of table A (as there is the system.paxos table that can hold data for table A

[2020-04-13 19:19] fgelcer opened #6188 "reactor stalled for 654 ms during abort repair nemesis (refill_emergency_reserve)"
*Installation details*
Scylla version (or git commit hash): 4.0.rc0-0.20200405.511773d4662 with build-id de88161d63d02e10ad1b3f2a761cb15aee71d8c9
Cluster size: 4 DB nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-02ffbefa17e58c217

job running is 1TB 7 days longevity.

node that experienced issue is node-3
[code]
decoded:
[code]

full logs can be found here:
[code]

[2020-04-13 19:24] fgelcer opened #6189 "reactor stalled for 656 ms during abort repair nemesis"
Installation details
Scylla version (or git commit hash): 4.0.rc0-0.20200405.511773d4662 with build-id de88161d63d02e10ad1b3f2a761cb15aee71d8c9
Cluster size: 4 DB nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-02ffbefa17e58c217

job running is 1TB 7 days longevity.

node that experienced issue is node-3

[code]

decoded:
[code]

full logs here:
[code]

[2020-04-13 19:24] fgelcer commented on #6189
could be related to #6188

[2020-04-13 19:27] fgelcer opened #6190 "reactor stalled for 1304 ms during abort repair nemesis"
Installation details
Scylla version (or git commit hash): 4.0.rc0-0.20200405.511773d4662 with build-id de88161d63d02e10ad1b3f2a761cb15aee71d8c9
Cluster size: 4 DB nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-02ffbefa17e58c217

job running is 1TB 7 days longevity.

node that experienced issue is node-3
[code]

decoded:
[code]

full logs here:
[code]

[2020-04-13 19:27] fgelcer commented on #6190
could be related to #6188 and #6189 6188

[2020-04-13 19:33] fgelcer opened #6191 "large reactor stalls when recalculating TLS diffie-helman parameters"
Installation details
Scylla version (or git commit hash): 4.0.rc0-0.20200405.511773d4662 with build-id de88161d63d02e10ad1b3f2a761cb15aee71d8c9
Cluster size: 4 DB nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-02ffbefa17e58c217

job running is 1TB 7 days longevity.

node that experienced issue is node-3
[code]

decoded:
[code]

full logs can be found here:
[code]

[2020-04-13 19:33] fgelcer commented on #6191
could be related to #6190 , #6189 or #6188

[2020-04-13 19:42] fgelcer opened #6192 "reactor stalled for 1802 ms after node restarted - while service is starting"
Installation details
Scylla version (or git commit hash): 4.0.rc0-0.20200405.511773d4662 with build-id de88161d63d02e10ad1b3f2a761cb15aee71d8c9
Cluster size: 4 DB nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-02ffbefa17e58c217

job running is 1TB 7 days longevity.

node that experienced issue is node-3

[code]

decoded:
[code]

full logs can be found here:
[code]

[2020-04-13 19:42] fgelcer commented on #6192
could be related to #6188, #6189, #6190 or #6191

[2020-04-13 20:37] fgelcer opened #6193 "Data distribution not well balanced in a cluster"
*Installation details*
Scylla version (or git commit hash): 4.0.rc1-0.20200412.a8ef820f27c with build-id 15fa5c2e803b98279bb1932abf806dfb7937238c
Cluster size: 4 DB nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e1584bf517753731

no nemesis run during the prepare data.

the seed node has much less data than other nodes.

nodetool status before preparing the data set:
[code]

nodetool status after the

[2020-04-13 20:40] slivne commented on #6193
which longevity are you running large partition ?

[2020-04-13 20:41] fgelcer commented on #6193
1TB

[2020-04-13 20:41] roydahan commented on #6193
No, it's the regular 1TB longevity

[2020-04-13 20:44] fgelcer commented on #6193
c-s results of the prepare data set:
[code]
[code]
[code]
[code]

[2020-04-13 20:46] fgelcer commented on #6193
this is the reproducer job
https://jenkins.scylladb.com/view/scylla-4.0/job/scylla-4.0/job/reproducers/job/longevity-1tb-7days

[2020-04-13 20:47] slivne commented on #6193
what is the schema ?

![disk_size](https://user-images.githubusercontent.com/3465480/79159447-c1746b00-7de0-11ea-9e18-f142bf418cf1.png)

~20:15 you have a node that was removed ?

~20:30 you have another node being added ?

can you clarify this please

[2020-04-13 20:47] fgelcer commented on #6193
yes, after the prepare was done, there was a nemesis (that is still running at this very moment) that terminate and replace node

[2020-04-13 20:54] slivne commented on #6193
can you please validate that all have auto_bootstrap=true set correctly

[2020-04-13 20:58] fgelcer commented on #6193
nope, the nodes for some reason are set as ```auto_bootstrap: false```

[2020-04-13 21:04] gleb-cloudius commented on #6181
On Mon, Apr 13, 2020 at 12:17:53PM -0700, Shlomi Livne wrote:

They are all on the same state. The state is different between two
different protocol. Why are you even bothering to compare? Given HH even
your first statement is incorrect BTW.

LWT only has any guaranties wrt other LWT operations. There is no any
guaranty vs non LWT reads which what scanning the table does.

Repair has nothing to do

[2020-04-13 21:17] fgelcer commented on #6193
nodetool describering keyspace1:

[nodetool_describering.log](https://github.com/scylladb/scylla/files/4471908/nodetool_describering.log)

[2020-04-13 21:22] dorlaor commented on #6193
Did you also run nodetool cleanup?

On Mon, Apr 13, 2020 at 1:48 PM Fabio Gelcer <notifications@github.com>
wrote:

[2020-04-13 21:43] kostja commented on #6181
@slivne Gleb is trying to point out it works the same way in Cassandra. We need a repair that completes partial LWT rounds - and we've already started looking into how this can be accomplished - but we're on a new ground here, it's a feature that needs to be specifiedd out, not a bug, and we need to finish with pruning first.

[2020-04-13 21:59] slivne commented on #6193
indeed something is off here:

[code]

[code]

so on the seed there is ~50% of the files - and they do not fit into memory - something is broken

[2020-04-13 22:15] slivne commented on #6193
![writes_per_instance_replica](https://user-images.githubusercontent.com/3465480/79165891-b9222d00-7dec-11ea-848d-40ecae6ca2ed.png)

the green line is the seed node - its receiving much less replica writes - which aligns with the fact it has much less data - but doesn't explain why this happens.

[code]

checking

[code]

could this be related to the token selection algorithms ?

[2020-04-13 22:34] slivne commented on #6193
could it be related to this https://github.com/scylladb/scylla/pull/5485/commits/32f4489a1879ed29fa82315e45c5adbe08f09a44#

@roydahan / @fgelcer if this reproduces for you - e.g the seed is allways with less data.

Please disable experimental flag (LWT is not experimental anymore) - and lets see if this fixes the problem.

I recall vaguely that CDC had to change the way that tokens had to be selec

[2020-04-13 22:45] slivne commented on #6187
Lets clear the auto_bootstrap=false thing and retest

[2020-04-13 22:51] slivne commented on #6181
OK - so we made some progress, we at least agree its not handled by repair (and diasgree if it should :) ). I also agree that prune should be complete and this can be pushed.

(after all users are expected to retry / read if they had a failure).

Do we have counters for this failures ? that will come in handy when we need to debug such issues if/when on the field.

@tzach FYI

[2020-04-13 23:05] slivne commented on #6171
@udayan0095
- did you upgrade this cluster from  3.0  to 3.1 to 3.2 ?
- can you please share the schema
-  will it be possible for you to upload a coredump  (https://docs.scylladb.com/troubleshooting/report_scylla_problem/#core-dump)

extracting the info of the back trace so we can search it in the future

[code]

[2020-04-13 23:07] slivne commented on #6169
@kostja - lets get this in - updating metrics later is a mess

[2020-04-13 23:09] slivne commented on #6168
It may be related to the tokens issue - https://github.com/scylladb/scylla/issues/6193 - look at the results without cdc and you should have an answer if its related to that or not

[2020-04-13 23:13] slivne commented on #6155
@juliayakovlev did we run ENOSPC nemesis thats why we ran out of diskspace - or something else happend

[2020-04-13 23:14] slivne commented on #6155
Lets see if we are overloading nodes - please note that we need to be able to restart nodes and not have them crash. So if the workload is not overloading the cluster to begin with - restarting the server should be working.

[2020-04-13 23:16] slivne commented on #6166
Is this with experimental set true  ?

if so please disable and lets see what we get

simillar to https://github.com/scylladb/scylla/issues/6193

[2020-04-13 23:16] slivne commented on #6166
Is this on 4.0 or master ?

[2020-04-13 23:20] slivne commented on #6154
@kostja is this also in C* ?

[2020-04-13 23:30] slivne commented on #6147
which version 4.0 or master ?

#6155 probably related

[2020-04-13 23:31] slivne commented on #6147
restart of node should work we need to check that the reads for paxos or tagged correctly so they will be assigned to the correct scheduling group. rebuild should be using streaming.

[2020-04-13 23:34] slivne commented on #6141
Is there a fix ?

which versions are suspect to this bug ?

[2020-04-13 23:36] slivne commented on #6140
indeed nodetool netstats in scylla does not provide estimation of completion  - we are still missing that

https://github.com/scylladb/scylla/issues/4439

you can see progress by looking at scylla monitoring in the disk-io page - you will see streaming reads (from the nodes that are sending data) and streaming writes in the node that is being bootstrapped.

[2020-04-13 23:40] slivne commented on #6135
which ami ?

which scylla version ?

is this with auto_bootstrap: false ?

[2020-04-13 23:53] slivne commented on #6127
Lets also validate https://github.com/scylladb/scylla/issues/6193

[2020-04-14 00:03] slivne commented on #6110
@PleasingFungus - the change you did

CREATE TABLE tribute.impressions7d (
    time_bucket timestamp PRIMARY KEY,
    k blob,
    txid bigint,
    v blob,
    version int
);

doesn't align with
CREATE TABLE tribute.impressions1d (
    k blob,
    time_bucket timestamp,
    txid bigint,
    v blob,
    version int,
    PRIMARY KEY (time_bucket, k)
);

your change created a single partition that is

[2020-04-14 00:07] slivne commented on #6101
fixed by 1c444b7e1ed1e77cac2004d1f5600e8e666bfc34

[2020-04-14 00:07] #6101 closed

[2020-04-14 00:16] slivne commented on #6094
@psarna please check if the same issue occurred in, and if your patch was merged
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/451/testReport/materialized_views_test/TestMaterializedViews/mv_populating_from_existing_data_during_node_restart_test/

[2020-04-14 00:18] slivne commented on #6089
@penberg can you please check this out and try and help

[2020-04-14 00:20] slivne commented on #6085
@penberg can you please try and assist

[2020-04-14 00:27] slivne commented on #6029
without a coredump it will be very hard to resolve

@denesb does this ring a bell - anything else that can help understand whats going on ?

[2020-04-14 00:30] slivne commented on #6020
closing this issue stale for 21 days

[2020-04-14 00:30] #6020 closed

[2020-04-14 00:34] slivne commented on #5963
We do use this in the code ...

@Laboltus can you please share
- nodetool status
- a scylla.yaml

if all the nodes are in one dc there will be no compression.

[2020-04-14 00:37] slivne commented on #5932
I think we discussed this - whats is the size of the collections - if the collections are huge this is expected.

[2020-04-14 00:39] slivne commented on #5922
@gibsn yes you are correct

the tracing issue is fixed in 3.2 by a092f5d1f4f1b39c3e3734df00bd30e91b6d4282

closing the issue

[2020-04-14 00:39] #5922 closed

[2020-04-14 00:41] slivne commented on #5921
@gibsn you can't add nodes with different major versions - this is not supported.

The solution is first to upgrade the other nodes and then add a node ...

Can we close this ?

We are working on a better solution, https://github.com/scylladb/scylla/issues/5226

[2020-04-14 00:43] slivne commented on #5740
I am closing this issue its stale

[2020-04-14 00:43] #5740 closed

[2020-04-14 00:43] slivne commented on #5738
@tzach do we need to doc this ?

[2020-04-14 00:54] slivne commented on #5707
[code]

Well we need to fix this - its not working, which basiclly means its not used (or being tested).

[2020-04-14 01:02] asias commented on #6135
I guess you actually mean "replaced node". The replaced node will be removed from gossip (if the replacing node is using a different IP address). We will see logs like `FatClient .* has been silent for .*ms, removing from gossip` after the replace operation is done.

We can only replace a dead node. The dead node can be shutdown or due to network issues. The replaced node should be in DN status.

[2020-04-14 01:05] #5930 closed

[2020-04-14 01:05] #5998 closed

[2020-04-14 02:24] amoskong commented on #5932
The collection (list) is about 2M.

[code]

[2020-04-14 02:29] amoskong commented on #5932
For making the large collection longevity to be more stable, we disabled hinted_handoff for a know scylla issue(https://github.com/scylladb/scylla/issues/4935), and reduced the collection size (using two 1M set).

Two 4M set collections: workloaded can run many hours (6  to 10) hours, but workload might fail in some strict nemesis.

[2020-04-14 02:35] amoskong commented on #6166
Yes.

I will retest by disabling cdc.

[2020-04-14 02:40] amoskong commented on #6166
Both.
The issue is found with master (666.development-0.20200405.df48b5ec9d5)
It also exists with `scylla-4.0.rc1-0.20200412.a8ef820f27c.x86_64`

Scylla 4.0.rc1 job:
- https://jenkins.scylladb.com/job/scylla-4.0/job/longevity/job/longevity-cdc-100gb-4h/6/
- test id: ebcc5a46-175e-4add-864e-41f4eb3fe59b
- version: scylla-4.0.rc1-0.20200412.a8ef820f27c.x86_64
- DB log: https://cloudius-jenkins-test.

[2020-04-14 03:28] asias commented on #5942
I have sent a patch for this issue. Now the test passes all the time. I think it is a 4.0 blocker.

[2020-04-14 03:29] asias commented on #5942
PR: https://github.com/scylladb/scylla/pull/6194

[2020-04-14 03:42] amoskong commented on #6168
The issue still exists after disabled cdc:

- job: https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/longevity-cdc-100gb-4h/9/
- version: 666.development-0.20200405.df48b5ec9d5
- grafana snapshot: https://snapshot.raintank.io/dashboard/snapshot/cHQb34j6IA2GZFabskW6OENEiH8gA4ba

![image](https://user-images.githubusercontent.com/309708/79183752-f1edf080-7e44-11ea-8cf7-2e60710983a5.png)

[2020-04-14 05:51] gleb-cloudius commented on #6181
On Mon, Apr 13, 2020 at 02:43:45PM -0700, Konstantin Osipov wrote:

We do not _need_ a repair that completes partial LWT rounds. We may need a
repair that repairs not fully learnt LWT rounds. Not completed LWT
rounds can be safely forgotten after TTL since they were never written.
We do not want to wait for TTL though to keep the table smaller, so we
may scan it periodically and either complete th

[2020-04-14 05:52] asias commented on #6182
db-cluster-bbc128f5.zip is 3.8GB in size. it took 30 minutes to download the log at ~3MB/s.  Is it possible to zip and upload the scylla db log separately in sct?

[2020-04-14 05:59] tzach commented on #5738
We do, altho I'm not sure how frequent this issue will be (follow updates on one hand and truncating it on the other)

@kbr- can you please open a doc issue ? (or just sent a PR?)
Thsi can be a `.. note::` in the docs

[2020-04-14 06:01] tzach commented on #6169
@amnonh this will require dashboard update, pleas keep track.

[2020-04-14 06:05] fgelcer commented on #6182
that's actually a good idea.
@aleksbykov / @bentsi ?

[2020-04-14 06:27] psarna commented on #6094
@slivne it was run with the patch merged and the beginning of this issue is the same - schema update arrives in the middle of building view4, so the view building is restarted, but I think that the root cause is different... Since this test involves a node restart, here's what happens:
1. View building finishes on node1
2. In the middle of updating `system_distributed.view_build_status` table, nod

[2020-04-14 06:33] asias commented on #6182
The download failed in the middle, so I need to do it again ;(

We can also use better compression like xz instead zip to reduce the size further.

[2020-04-14 06:45] juliayakovlev commented on #6155
Yes, it was during ENOSPC.
But I see this error every longevity run and not just during ENOSPC.
If it help, I can update with new scenario every time when we get it

[2020-04-14 06:48] bhalevy commented on #6094
+1

[2020-04-14 06:52] Laboltus commented on #5963
I tried set the option to "all", so the topology is not the problem, I guess.
Here is nodetool status:
Datacenter: us-colo-bocaraton
===============================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address       Load       Tokens       Owns    Host ID                               Rack
UN  172.16.2.69   1.52 TB    256          ?       d4966382-d74b-4ff9-84c2-cb8b8deb406f

[2020-04-14 07:23] udayan0095 commented on #6171
1) did you upgrade this cluster from 3.0 to 3.1 to 3.2 ? Yes. We upgraded this cluster from 3.1 to 3.2. But we had found same problem in 3.1 also.
2) can you please share the schema
[schema.txt](https://github.com/scylladb/scylla/files/4473489/schema.txt)
3) will it be possible for you to upload a coredump (https://docs.scylladb.com/troubleshooting/report_scylla_problem/#core-dump)
Somehow coredum

[2020-04-14 07:43] gibsn commented on #5921
@gibsn you can close, thanks

[2020-04-14 07:51] slivne commented on #6193
@kbr- / @haaawk does the patch 32f4489 change the way tokens are assigned to nodes ?

[2020-04-14 07:54] haaawk commented on #6193
As far as I know, no. Tokens should be assigned in exactly the same way. @kbr- will know better.

[2020-04-14 08:00] #5921 closed

[2020-04-14 08:16] asias commented on #6162
I ran the test 30 times. All passed. I couldn't reproduce it locally.

[2020-04-14 08:45] slivne commented on #5252
relevant after asias's patch for quick bootstrap

[2020-04-14 08:46] #2042 closed

[2020-04-14 09:07] penberg opened #6195 "commitlog_test failure"
The commitlog_test is failing every now and then. For example, in the
following next promotion, it passed 3/3 release mode and 3/3 debug
mode but failed 1/3 out of dev mode tests...

https://jenkins.scylladb.com/job/scylla-master/job/next/1813/consoleText

The failure looks as follows:

[code]

This failure keeps appearing from time to time and makes the next
promotion process even more unreliable

[2020-04-14 09:08] ShlomiBalalis commented on #6147
It's master, version `666.development-0.20200401.dee0b68347`

[2020-04-14 09:11] amoskong commented on #6067
nodetool doesn't have this subcmd : `nodetool reloadssl`

[code]

It exists in Apache Cassandra.
[code]

[2020-04-14 09:27] denesb commented on #5615
There seems to be no interest in this at the moment. There is a patch on the mailing list since January 2020 (with a rebased version sent in March). I'm giving up on pinging it, and keeping up with conflicts. Linking it here, in case we want to resume working on this: https://groups.google.com/d/topic/scylladb-dev/SmaOvNK8TrY/discussion

[2020-04-14 09:53] slivne commented on #6193
There are two issues:

- We need to figure out why we have incorrect distribution - we will try to see if we can bisect this with dtest.

- We need to understand nodetool describring - the nmber of replicas each node should exist in is 768 in all cases.

[2020-04-14 09:54] slivne commented on #6193
QA will try to see if they can help find the source of the issues

[2020-04-14 09:58] kostja commented on #6155
@juliayakovlev According to the report, the exceptions appear after restart. Is enospc nemesis done at this point or there is still no space at one of the nodes?
@slivne The troublesome part is that the cluster should survive issues with a single node, yet it doesn't. It may be not direclty related to LWT but caused by congestion/overload at other nodes, when one of the nodes is out of space. I'd

[2020-04-14 10:14] kostja commented on #6155
E.g. it is possible that a query which happens to run on the node experiencing ENOSPC issues is more affected than a query running on a node with space available. It is conceivable that this query is impacted by reactor, logging, or tracing being stuck. Why are they stuck if we're simply running out of space?

[2020-04-14 11:11] elcallio commented on #6067
The implementation as it is currently done uses file watches to monitor file changes. It should effectively make reloadssl redundant, as there is no real delay between a file changing and reloading happening (i.e. it is not a poll mechanism).

[2020-04-14 11:20] denesb commented on #6029
Based on the backtrace this looks like https://github.com/scylladb/scylla/issues/2252. @asimshankar, @gauthamt do you do a lot of deletes?

[2020-04-14 11:23] fgelcer opened #6196 "slow cleanup after terminate node and replace nemesis"
*Installation details*
Scylla version (or git commit hash): 4.0.rc1-0.20200412.a8ef820f27c with build-id 15fa5c2e803b98279bb1932abf806dfb7937238c
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-090de38e556f9f2a2

Running 50g 4 days job.
During the very beginning of the execution, a node was terminated and replaced.
The cleanup run for each keyspace for each node (6 nodes with 6 keyspaces).
Af

[2020-04-14 11:24] fgelcer commented on #6196
similar to https://github.com/scylladb/scylla-enterprise/issues/1186

[2020-04-14 12:03] glommer commented on #6162
So far only @bhalevy and @raphaelsc could reproduce this. Guys, we'll need your heproducer relp to get more info from the state of the system here.

[2020-04-14 12:44] haaawk opened #6197 "Implement reference client for CDC"
The reference client should be just a simple Java library that uses Java driver to read CDC Log for the selected table(s).

The library should work more or less like this:

1. Read streams description
2. For each stream keep doing:
2.1. Wait for some amount of time
2.2. Execute select * from CDCLog where time > <timeuuid of last processed change> and time < now() - 30s
2.3. Execute some callback o

[2020-04-14 13:29] enaydanov commented on #6193
I've run modified SCT 100gb longevity test with 4 DB nodes, RF=3, LCS compaction strategy, NoOpMonkey nemesis and got following results:

AMI mentioned in this issue (ami-0e1584bf517753731): uneven distribution
[code]

3.3.0 AMI (ami-00eb480a240d1955e): even distribution
[code]

4.0.rc0 AMI (ami-02a85d5a79509d2d5): run in progress

[2020-04-14 14:22] enaydanov commented on #6193
Issue reproduced on 4.0.rc0 (ami-02a85d5a79509d2d5):

[code]

[2020-04-14 14:30] slivne commented on #6193
Thanks @enaydanov - so we know its a regression now the hard task of finding the bad commit on master :(

[2020-04-14 14:30] bhalevy commented on #6162
@glommer @asias I reproduced the scenario when there is no user data on the bootstrapped node with version a15b32c9d9 using the following command line:
[code]

The run that failed reported:
[code]

I uploaded the whole test cluster content to gs://scratch.scylladb.com/test_streaming_sstables_with_several_timewindows/test_streaming_sstables_with_several_timewindows-a15b32c9d9-1586872774651.tar.gz
i

[2020-04-14 14:44] bentsi commented on #6193
on 4.0.rc0 (ami-02a85d5a79509d2d5) distribution is also uneven (copying from Evgeniy's email)
[code]

[2020-04-14 14:51] glommer commented on #6162
Thanks Bennyran

All right, so node1 has SSTables inside the keyspace:

[code]

But none of them are created through compaction, because we don't log any compaction in that keyspace:

[code]

Compactions are just on system keyspaces.
The node is ready and initialized at 16:57:18:

[code]
INFO  2020-04-14 16:58:41,672 [shard 0] storage_service - JOINING: schema complete, ready to bootstrap
[code]
I

[2020-04-14 14:55] fgelcer commented on #6193
Is it on seed node as we seen on 1tb job?

On Tue, 14 Apr 2020, 16:29 Evgeniy Naydanov, <notifications@github.com>
wrote:

[2020-04-14 15:44] glommer commented on #6162
There is another possibility of course, which is that maybe the inserts themselves were not done by the time node2 started join. I will try to reproduce with benny's command line

[2020-04-14 16:16] dekimir opened #6199 "Docker image fails with IO errors on podman 1.8.2"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): unknown
Cluster size: 1
OS (RHEL/C

[2020-04-14 16:21] PleasingFungus commented on #6110
I'm not sure what you mean by that, sorry. Can you rephrase?

My intent was to follow Raphael's advice [here](https://github.com/scylladb/scylla/issues/6110#issuecomment-610126548).

[2020-04-14 16:31] dekimir opened #6200 "Other restrictions ignored when clustering key is constrained"
When the clustering key is constrained with a multi-column restriction, additional restrictions seem to be ignored.

Scylla:
[code]

Clearly the first and second SELECT should return different result sets.

Cassandra:
[code]

[2020-04-14 16:39] dekimir commented on #6200
Of further interest:
[code]
This is Scylla, of course.

[2020-04-14 18:42] tgrabiec commented on #5251
@gleb-cloudius @kostja I think this is still not fixed by solutions proposed for https://github.com/scylladb/scylla/issues/5252

Replicas: A, B and C
Adding D which replaces A.

Scenario:

CAS2 ballot > CAS1 ballot
CAS2 and CAS1 conflict

1. topology change starts, advertises on C
1. CAS1 starts on node C, uses {A, B, C, D}
1. CAS2 starts on node A, still uses {A, B, C}
1. topology change is adver

[2020-04-14 18:46] tgrabiec commented on #5252
hmm, I don't think it's an accurate description of Kostja's proposal. We're not stopping the Synod and start a new one, while we wait we still allow new transactions using the new set of quorums to start and interact with results of transactions using the old set of quorums. The waiting is only a barrier which tells us when transactions using the old set of quorums are no longer (and will not be)

[2020-04-14 18:54] slivne commented on #6110
For this  schema

[code]
(there is no clustering_key)

sample inserts

insert into tribute.impressions7d (time_bucket, k) values (11,0x00)
insert into tribute.impressions7d (time_bucket, k) values (11,0x11)

will result in a single partition holding only time_bucket = 11, k= 0x11.

since there is no clustering_key.

[2020-04-14 19:59] PleasingFungus commented on #6110
Ah, I think I see. I'll try it again using the clustering key, then - thanks!

[2020-04-14 20:27] aleksbykov commented on #6193
Issue reproduced with dtest on branch-4.0 (unstable/branch-4.0:2020-04-14T10%3A17%3A01Z):
[code]

with 3.3 is not reproduced (unstable/branch-3.3:2020-04-13T20%3A29%3A26Z):
[code]

[2020-04-14 20:33] slivne commented on #6193
Lets start with the point we switched the AMI images, lets find the last master ami prior to switching to macine-image and lets see if the issue reproduces on that one.

[2020-04-14 21:38] kostja commented on #6169
Since scylla-jmx depends on old names, following Amnon's
suggestion this version doesn't change the rest API, only updates
the internals.
Hence it also does not need a backport to 4.0.

[2020-04-14 23:38] giorgiozoppi opened #6201 "Alternator encryption at rest"
DynamoDB encryption at rest provides an additional layer of data protection by securing your data in an encrypted table—including its primary key, local and global secondary indexes, streams, global tables, backups, and DynamoDB Accelerator (DAX) clusters whenever the data is stored in durable media. Organizational policies, industry or government regulations, and compliance requirements often req

[2020-04-15 00:10] dorlaor commented on #6201
Our Enterprise product has encryption at rest and within the next rebase
of Scylla 4.0 OSS of Enterprise 2020.1 release will result in encryption at
rest

[2020-04-15 00:43] dorlaor commented on #6199
I have a similar issue, some scylla releases do work, and some (nightly) do not.

[2020-04-15 05:19] penberg commented on #6199
The issue is that `read`, `lseek` or some other system call is failing with `EOVERFLOW`:

[code]

This could be a Scylla bug or some issue with whatever `podman` uses for storage.

[2020-04-15 05:23] penberg commented on #6199
@dekimir @dorlaor What storage engine is your `podman` using? I think you can see that in the `$HOME/.config/containers/storage.conf` file.

[2020-04-15 07:36] asias commented on #6182
The replace operation failed because node3 is not alive.

[code]

Node 7 see node3 is down:

[code]

Before the replace operation, node3 were overwhelmed by the view update failure.
[code]

No log on node 3 during the replacing operation:

[code]

[2020-04-15 07:45] asias commented on #6162
With benny's cmd to run the test in a loop. I managed to reproduce once.

With ''--enalbe-cache 0",  I couldn't reproduce  after 76 runs.

[2020-04-15 09:20] haaawk commented on #6197
@kbr- please link the documentation you mentioned on the call.

[2020-04-15 09:21] kbr- commented on #6193
No, the CDC patches didn't change the way tokens are assigned. At least not intentionally.

[2020-04-15 09:27] aleksbykov commented on #6193
Issue already reproduced on this build:
[code]

[2020-04-15 09:58] elcallio opened #6202 "Need distributed loader concurrency control bypass"
Distributed loader sstable opening is gated through the `database::sstable_load_concurrency_sem()` semaphore, at a concurrency of 3.
This is (according to creation comment) to reduce memory footprint during bootstrap, by partially serializing the actual opening of existing sstables.

However, in certain versions of the product, there exist circular dependencies between data in some sstables and th

[2020-04-15 11:13] kbr- commented on #6197
https://docs.scylladb.com/using-scylla/cdc/cdc-querying-streams/#reacting-to-topology-changes

[2020-04-15 11:39] #6046 closed

[2020-04-15 11:39] #6172 closed

[2020-04-15 11:39] #6060 closed

[2020-04-15 11:39] #6195 closed

[2020-04-15 11:43] kbr- commented on #5252
I'm not completely sure if what I'm saying makes 100% sense, but lemme try to state it more precisely:

Before any node starts using the new tokens exclusively, say at time `T`, there must be a time `T' < T` such that the following must be true for any proposal `P` chosen after `T'`:
- the most recent commit used by `P` (i.e. the result of the previous instance) has been accepted and committed by

[2020-04-15 11:47] STRATZ-Ken commented on #6148
Would anyone on the team have a suggestion on how to handle this temporary?  I am using Scylla in a production environment, but I just have two servers crash over night due to the commitlog/hints file directory usage.  I expanded to 250GB hard drives, in attempt to give it more time, but seems that still is not enough.

[2020-04-15 12:01] elcallio commented on #6148
You can try disabling recycling of segments, which I suspect are not correctly respecting the disk limits, by setting the option:
`commitlog_reuse_segments: False`
in scylla.yaml.

[2020-04-15 12:08] STRATZ-Ken commented on #6148
Thanks, I will give it a try, but is there anything I should worry about in backlash for setting this command?

[2020-04-15 12:18] elcallio commented on #6148
It will cause all commitlog segments to be created new, instead of reused. This in turn will make writes slightly less performant. So, yes, you will get overall less commitlog throughput.

However, I find it very strange that you should get recycled segment in any large excess over the set disk limit. While it is possible that you would get one or two segment extra, it should in general keep to th

[2020-04-15 12:20] denesb commented on #6141
@slivne I think this is not a real bug in the sense that normally we wouldn't even have keys this large. The reason we have a key this large is that the key is coming from a corrupted (by the test) sstable and is likely corrupt. However like I mentioned in https://github.com/scylladb/scylla/issues/6108, this all happens to work incidentally, which serves us fine for now, but we'd be in for a nasty

[2020-04-15 12:29] STRATZ-Ken commented on #6148
The only changes I make in the config file is basic settings.  Cluster Name, Data File Log Path, Password, etc.

[2020-04-15 12:36] elcallio commented on #6148
I was under the impression that you had actively limited the commit log size?
If no, then using recycling or not will probably not help at all. But you definitely have a problem somewhere, because it would seem that the machine is not managing to flush written data to actual sstables fast enough, and you instead get an ever increasing commit log size.

I would then suggest setting something like:

[2020-04-15 12:37] STRATZ-Ken commented on #6148
You are correct.

I do have `commitlog_total_space_in_mb=10240` set to 30GB.

[2020-04-15 12:41] STRATZ-Ken commented on #6148
The workload consists of two tables.

[code]

There is about 500 Million rows in `data` and about 5 billion rows in `player`

[2020-04-15 12:50] kbr- commented on #5252
Below is an algorithm to satisfy the property stated above.
I don't know if the steps stated below are sufficient for correctness, but whatever algorithm we end up with, it probably will have to be perform at least the steps described below (they are probably necessary).

1. make sure that every new proposal requires promises from a majority of new replicas (additionally to a majority of old repli

[2020-04-15 13:06] elcallio commented on #6148
Then I am somewhat at a loss. Can you attach your full config (scylla.yaml - feel free to redact any sensitive info), and do a run with added `--logger-log-level commitlog=debug` and attach the logs as well? It might provide some insights.

[2020-04-15 13:15] glommer commented on #6162
Good news Asias!!

May I suggest we try to reproduce with database and sstable logging ?
Either debug or trace : sstable debug should be enough, because we'll see
when they are flushed to disk.
database, the apply() message to make sure the mutation was applied is
under trace level.

On Wed, Apr 15, 2020 at 3:46 AM Asias He <notifications@github.com> wrote:

[2020-04-15 13:22] tgrabiec commented on #6035
@nyh I think LA writer should be fixed to properly handle tombstones at row level for any table.

[2020-04-15 13:40] STRATZ-Ken commented on #6148
[code]

Attached is my YAML file. I removed anything that was commented out.

[2020-04-15 14:07] #6169 closed

[2020-04-15 15:23] dekimir commented on #6199
Is fuse-overlayfs a storage engine?  My config mentions it:
[code]

[2020-04-15 15:34] bhalevy opened #6203 "Failed to allocate 148002600 bytes in scrub_with_multi_nodes_expect_data_rebuild_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/455/testReport/nodetool_additional_test/TestNodetool/scrub_with_multi_nodes_expect_data_rebuild_test/
Scylla version 13a9c5eaf7fa4c7be33c047382e05e62f4852b24
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/455/artifact/logs-release.2/1586859808448_nodetool_additional_test.TestN

[2020-04-15 15:37] bhalevy commented on #6203
The test is corrupting the sstable... I'll close this issue and adjust the test to ignore this error.

[2020-04-15 15:37] #6203 closed

[2020-04-15 16:42] tgrabiec commented on #6108
I'm in favor of the first option as well.

[2020-04-15 17:04] dorlaor commented on #4442
@slivne per your question, we did have a single user who hit it

[2020-04-15 17:11] bhalevy commented on #6203
https://github.com/scylladb/scylla-dtest/pull/1429 fixes the test to ignore this error and resulting core dump

[2020-04-15 17:57] Qsick opened #6204 "Scylla 3.2.4 JMX wouldn't start"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.4-0.20200325.4c38534f75-1
Clus

[2020-04-15 18:14] tzach commented on #6197
This is not mentioned explicitly, but the client should read *all* updates in face of network, client, and nodes restarts, as well as toplogy changes.

[2020-04-15 19:46] slivne commented on #6193
@roydahan / @aleksbykov please prioritize this - I need our help to find the commit (as a starting point ranges) that caused this regression - please use the relocatable repo and try and bisect.
between (3.3.0 - 4.0.rc0)
- 3.3.0 - doesn't have the issue,
- 4.0.rc0 - has the issue.

Thanks,

Shlomi

[2020-04-15 19:49] slivne commented on #6182
@fgelcer did we hit this with auto_bootstrap=false or not ?

@asias whats the next step, this is blocking 4.0

[2020-04-15 19:51] slivne commented on #6162
@glommer / @asias who is working on a patch / further analysis - this is blocking 4.0

[2020-04-15 19:54] slivne commented on #6121
patch merged 40459fea0e752730cb3ac4ec8cc1670cb790331b to master

@juliayakovlev we need to test on master and see if we can reproduce this with the additional information - we should set abort-on-internal-error

[2020-04-15 19:55] slivne commented on #6120
@juliayakovlev / @roydahan this also needs to be reproduced on master with #6121 and with auto_bootstrap: true

[2020-04-15 19:58] slivne commented on #5856
@bhalevy / @denesb unless you are handling another high priority item - please reassign this to you - (sarana is handling other cases as well)

[2020-04-15 20:06] slivne commented on #5768
Patch from Asias was merged into master - still needs backport (requested) 13a9c5eaf7fa4c7be33c047382e05e62f4852b24
Patch from Gleb was merged into master ba6653f60c4f539f174c5b76043a059fbfd5c408 - still needs a backport (requested)

[2020-04-15 20:18] tzach commented on #4820
@psarna can / should we add the Scylla node IP to the table as well?

[2020-04-15 20:32] slivne commented on #2160
Java tools were moved in 4.1 - pushing this out

@elcallio can you please look at this now that the tools have been updated

[2020-04-15 20:33] slivne commented on #3875
@asias we did fix some gossip issues - did we fix this issue ?

[2020-04-15 20:34] slivne commented on #3975
@bhalevy is this still failing - if not can we close ?

[2020-04-15 20:34] slivne commented on #3995
@syuu1228 / @penberg is this fixed ?

[2020-04-15 20:35] slivne commented on #4270
Closing this issue - @bhalevy if we hit this again please reopen / create new issue

[2020-04-15 20:35] #4270 closed

[2020-04-15 20:40] slivne commented on #4918
@bhalevy I know we did some fixes around memeory management - are we still hitting this - if not please close

[2020-04-15 20:44] slivne commented on #4927
seen here https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/379/testReport/cql_additional_tests/TestCQL/mc_sstables_case_sensitive_add_column_test/

[2020-04-15 20:45] slivne commented on #5080
@roydahan / @juliayakovlev are we still hitting this issue in master / 4.0 - if not please close

[2020-04-15 20:46] slivne commented on #5202
@kostja please close the issue with 4.0 items create a new generic issue to track LWT for 4.1 and onwards

[2020-04-15 20:48] slivne commented on #5357
fixed by d4a26f2ad08891d57b9a4ac41de9eac8bf1a5fcb

[2020-04-15 20:48] #5357 closed

[2020-04-15 20:49] slivne commented on #5359
@asias did we add timeouts ?

[2020-04-15 20:51] slivne commented on #4999
@juliayakovlev I know you are hitting semaphore timeouts - now we have the additional info of which semaphore - can you circle back and check if in 4.0 testing we are hitting this specific overload in this specific nemesis in this specific workload and we will be able now to continue.

[2020-04-15 20:53] slivne commented on #5388
CDC is still experimental in 4.0

[2020-04-15 20:54] slivne commented on #5414
@amnonh ping

[2020-04-15 20:56] slivne commented on #5439
Passing for the last 100 runs ... the fix works closing

[2020-04-15 20:56] #5439 closed

[2020-04-15 21:01] slivne commented on #5515
@amoskong are we hitting this - if not please close

[2020-04-15 21:03] slivne commented on #5523
@asias so do we have a solution for this ?

[2020-04-15 21:03] slivne commented on #5568
AFAIK this is fixed and working on master

[2020-04-15 21:03] #5568 closed

[2020-04-15 21:07] slivne commented on #5608
@xemul was the fix merged ?

[2020-04-15 21:09] #5622 closed

[2020-04-15 21:10] slivne commented on #5642
@denesb is the test running now ?

[2020-04-15 21:12] slivne commented on #5647
@asias I hnk we have better row level repair bandwidth control in 3.3 / 4.0 - is that so ?

@roydahan when we get to this tests  please post an update on 4.0 status

[2020-04-15 21:13] slivne commented on #5661
@gleb-cloudius ping

[2020-04-15 21:14] slivne commented on #5717
@bhalevy / @xemul is this supposed to be fixed - if so please close

[2020-04-15 21:15] slivne commented on #5722
@penberg ping

[2020-04-15 21:16] slivne commented on #5766
I am closing this issue - if we see this in 4.0 testing please create a new issue.

[2020-04-15 21:16] #5766 closed

[2020-04-15 21:18] slivne commented on #5780
@bhalevy can we close this

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/420/testReport/materialized_views_test/TestMaterializedViews/interrupt_build_process_with_resharding_half_to_max_test/history/

seems to be green in the last ~25 runs or so

[2020-04-15 21:21] slivne commented on #5917
@kbr- / @denesb any followup fix for this ?

[2020-04-15 21:25] slivne commented on #5979
@bhalevy is this still happening if not please close

[2020-04-15 21:30] slivne commented on #6086
@haaawk / @piodul was this fixed ?

[2020-04-15 21:45] jtnagashima opened #6205 "Upgrading Scylla from 3.0 to 3.1 while having `internode_compression: all` prevents node from joining cluster"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

**Installation details**
Scylla version (or git commit hash): `scylla-server-3.0.11-0.20191126

[2020-04-15 21:51] vladzcloudius opened #6206 "Implement user defined compactions like Cassandra has"
*Installation details*
HEAD: 20bc93b941c8ba1de7ad211f2657036851327070

*Description*
Implement user defined compactions that allow compacting specific sstables upon user request.
Similar to Cassandra: https://docs.datastax.com/en/dse/6.0/dse-dev/datastax_enterprise/tools/nodetool/toolsCompact.html

[2020-04-15 21:52] #5202 closed

[2020-04-15 21:52] kostja opened #6207 "LWT follow up: 4.x"
## 4.x
- [ ] ensure jepsen tests work and contribute them to the upstream
- [ ] https://github.com/scylladb/scylla/issues/5252 Writes concurrent with a topology change may experience reduced effective CL
- [ ] LWT performance  (ops/sec) vary too much https://github.com/scylladb/scylla/issues/5834
- [ ] https://github.com/scylladb/scylla/issues/6068 - follow up related to iotune changes/cost model

[2020-04-15 21:55] vladzcloudius commented on #6206
@raphaelsc FYI

[2020-04-15 22:50] tomer-sandler commented on #6205
Not sure if related but see this ticket as well: https://github.com/scylladb/scylla/issues/5963

[2020-04-16 00:16] tomer-sandler commented on #6205
More info from Slack:
[code]

[2020-04-16 00:23] tomer-sandler commented on #6205
@jtnagashima if you can share the scylla logs and `scylla.yaml` files from all nodes that will help.
https://docs.scylladb.com/getting-started/logging/

[2020-04-16 00:37] jtnagashima commented on #6205
scylla.yaml
[code]

[2020-04-16 00:42] asias commented on #5359
No. Avi is against adding the timeout because it can cause false alarm, e.g., the read is slow and exceed what ever timeout we choose. Adding timeout is a workaround, the proper fix should be fixing the reader. Recently hang suggests the hang is not from reader. Adding timeout is less urgent now.

[2020-04-16 00:58] asias commented on #3875
I think the problem is caused by replacing node is listed as seeds, which is fixed by

399d79fc init: do not allow replace-address for seeds

In addition, we have gossip fixes:

cdcedf5eb gossip: Make is_safe_for_bootstrap more strict
62774ff88 gossiper: Always use the new generation number

I am closing this issue now.

[2020-04-16 00:58] #3875 closed

[2020-04-16 01:02] jtnagashima commented on #6205
[code]

[2020-04-16 01:04] asias commented on #6182
We need to understand why node3 keep sending view updates to 10.0.56.93 which is marked as DOWN already. We need mv experts to have a look.  This seems to cause node3 being unresponsive and being marked as down by the replacing node, which in turn failed the replace operation.

[code]

[2020-04-16 01:17] asias commented on #6162
The test starts node2 after the write is done. node2 asked the node1 to send the correct range. But node1 sends nothing when we hit the bug. How could it be a repair bug? I think the bug is in node1's mutation fragment reading path.The streaming reader asks to read from both memtable and sstable.  Perhaps there is race between  node1 flushing data from memtable and data landing in sstables. The re

[2020-04-16 01:19] asias commented on #6162
Glauber, can you please add the log level and run with benny's cmd to reproduce and see the sstable logs? Extend SCYLLA_EXT_OPTS to enable more loggers.

[2020-04-16 01:26] asias commented on #5647
We still do not have network scheduling. We can not control the network bandwidth usage between cql and repair traffic.

[2020-04-16 01:26] glommer commented on #6162
I can but so far I reproduced this zero times.
I am the unluckiest of the bunch.

On Wed., Apr. 15, 2020, 9:19 p.m. Asias He, <notifications@github.com>
wrote:

[2020-04-16 02:23] asias commented on #5523
I do not have good solution so far. It is a nice to have thing because it prevents a user operation error. We should document and emphasize not to do this in the replace procedure.

[2020-04-16 02:31] #5515 closed

[2020-04-16 02:41] asias commented on #6162
Reproduced with more debug info:
[code]

node1 write data for keyspace=ks on disk

[code]

node1 noticed node2 is up:
[code]
node1 started to read from disk and reads zero rows:
[code]

See full details here:

[1.txt](https://github.com/scylladb/scylla/files/4484609/1.txt)

[dtest-qmjrfcfp.tar.gz](https://github.com/scylladb/scylla/files/4484575/dtest-qmjrfcfp.tar.gz)

[2020-04-16 03:41] psarna commented on #4820
@tzach I think it's unnecessary - system.clients is a local table (keeps separate local system information separately on each node, without any replication), so IP of the Scylla node is implied as the node you sent the request to.

[2020-04-16 04:37] aleksbykov commented on #6193
Issue was found on next relocatable package on master
scylla-product: scylla
scylla-release: 0.20200206.27b36beb4ab
scylla-version: 666.development
scylla-BuildID[sha1]: 3b5f026ff5948080990403bca77313d71dbea59d
scylla-debug-BuildID[sha1]: e486d8a7a3399e22f0d360f274f9047dd272bd48

[2020-04-16 05:01] haaawk commented on #6086
Not sure. @piodul?

[2020-04-16 05:13] denesb commented on #5642
@slivne yes, failure injection is enabled in debug and dev modes.

[2020-04-16 05:18] denesb commented on #5856
@aleksbykov where is the core? Also please specify the git hash you used.

[2020-04-16 05:38] aleksbykov commented on #5856
@denesb, sorry forgot to mention that:
Scylla version: Scylla version 666.development-0.20200405.df48b5ec9d5 with build-id 1afcb48459b35bffeebb05db8f1fc258419cf3e3
Core file link:
https://storage.cloud.google.com/upload.scylladb.com/core.scylla.996.72430f2419dd4e31a8c3951a72ca8da7.3305.1586436641000000/core.scylla.996.72430f2419dd4e31a8c3951a72ca8da7.3305.1586436641000000.gz
download_instructions=

[2020-04-16 05:50] haaawk opened #6208 "currentTimeUUID creates duplicates when called at the same point in time"
The issue was reported on StackOverflow [here](https://stackoverflow.com/questions/61223391/how-to-guarantee-monotonically-increasing-timeuuid-when-selecting-from-scylla/61243270)

Internally currentTimeUUID calls [get_time_UUID](https://github.com/scylladb/scylla/blob/d13492485f1772fc2350b09595ca1fc57e783f8a/utils/UUID_gen.hh#L94) which creates UUID using current time and a [clock_seq_and_node](h

[2020-04-16 06:04] gleb-cloudius commented on #5661
@slivne I am not an expert here and did not looks the code too much, I just reported that those errors are started to appear recently (in metoo fashion) after some changes to cql server that were supposed to be a clienup.

[2020-04-16 06:44] haaawk commented on #6208
This issue will affect CDC as well because CDC generates TimeUUID for clustering keys in CDC Log

[2020-04-16 06:55] haaawk commented on #6208
Fix is here -> https://github.com/scylladb/scylla/pull/6209

[2020-04-16 07:12] avikivity commented on #6060
Backported to 4.0. Need advice from @gleb-cloudius about backports to older branches.

[2020-04-16 07:12] gleb-cloudius commented on #5918
dup of #6060

[2020-04-16 07:12] #5918 closed