[2022-04-08 16:15] KnifeyMoloko commented on #10026
From more recent runs of the same longevity-lwt-3h-test:

The CQL command `ALTER KEYSPACE system_traces WITH replication = {\'class\': \'NetworkTopologyStrategy\', \'us-east\': 2}" 10.0.1.106 9042` still fails during DisruptAddRemoveDC nemesis with `Warning: schema version mismatch detected; check the schema versions of your nodes in system.local and system.peers.`

Good news is: no more segfaults

[2022-04-09 02:52] raphaelsc commented on #10308
Good points.

[2022-04-10 00:02] github-actions[bot] opened #10346 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 184   |
| ✅ Successful | 158   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 19    |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/guides/debugging.md
* [http://some.mirror.example/mirrors/scylla/versioned/2019100201/ubuntu/pool/main/s/scylla-gcc73/scy

[2022-04-10 02:12] raphaelsc commented on #10276
Hi @codingcuisg

did you play with tombstone compaction options? Tombstone compaction will allow a partially expired sstable to be included for compaction. It's enabled by default, but perhaps the default values are not good enough for you.

take a look at option details here: https://docs.scylladb.com/getting-started/compaction/#common-options

[2022-04-10 02:15] raphaelsc commented on #10276
FWIW, user-defined compaction is tracked by this issue: https://github.com/scylladb/scylla/issues/4907

[2022-04-10 02:16] raphaelsc commented on #10276
@codingcuisg If you have a problem with tombstone compaction not working for you, then please open another issue with all the details. I am closing this issue as duplicate of #4907

[2022-04-10 02:16] #10276 closed

[2022-04-10 07:28] juliayakovlev commented on #8706
Reproducer finished.

Scylla version: 5.0.rc2-0.20220316.839d9ef41 with build-id 1319e7e64335b7e5c7531f773e92ef997b6c51ba (`ami-07df681f83cd78172`, eu-west-1)

Found **16003867** warnings like:
[code]

And **32246085** messages like:
[code]

Full scan nemesis was not started.

Running instances:
[code]

Monitor: http://176.34.67.225:3000/d/cql-master/yulia-longevity-lwt-24h-test-scylla-per-server-

[2022-04-10 09:33] nyh opened #10347 "Alternator doesn't limit partition and sort key lengths"
According to the DynamoDB documentation on [Service Quotas, formerly referred to as limits](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ServiceQuotas.html), there is a limit on key lengths: a partition-key's length must be 2048 bytes or less, and a sort-key's length must be 1024 bytes or less.

It can be argued that Alternator doesn't necessarily need to adhere to the same lim

[2022-04-10 13:19] avikivity commented on #10318
No response from submitter, closing.

[2022-04-10 13:19] #10318 closed

[2022-04-10 15:20] nyh commented on #5047
It's indeed a good possibility. We already define the secret keys used for DynamoDB-API authentication using the same CQL table  `system_auth.roles` that is used for role-based access controls. Because Alternator uses the same "roles" and also uses ordinary CQL tables (each Alternator table is implemented as a CQL table whose name can be derived from the Alternator table's name), we can indeed spe

[2022-04-10 18:18] nyh commented on #10189
I'm sorry, I looked at the test, and I simply don't understand what it does :-( It has layers upon layers of variables and abstractions, and I'm completely lost in the details to figure out what went wrong - certainly when I can't reproduce the failure myself... I don't know if the trace message "accept_proposal: send accept proposal" doesn't appear on one of the nodes, or appears in the wrong ord

[2022-04-11 08:01] eliransin commented on #10146
within this particular merge we have some results from the bisect (higher is newer):
* __[bad]  957003e73 compaction_manager: stop_compaction: wait for ongoing compactions to stop__
* b9ba181d3 compaction_manager: stop_ongoing_compactions: log Stopping 0 tasks at debug level
* 03e969dbe compaction_manager: unify stop_ongoing_compactions implementations
* 94011bdcc compaction_manager: stop_ongoing_

[2022-04-11 09:14] eliransin commented on #10146
Running again https://github.com/scylladb/scylla/commit/595cc328b154d6014319dbca79619a8b8a906dc8 showed good results (~90K).

Next run is with 4affa80 reverted and if it crashes again or shows good results I will run with a419759 reverted.

[2022-04-11 09:27] avikivity opened #10349 "add login role to logs"
When multiple applications are used with Scylla and one causes trouble, it is hard to find which application is responsible.

If each application logs with a different user (role), and we log the user in log messages and traces, then understanding becomes easier.

However, it's a challenge to pass the user via rpc since it requires an extra allocation as a string.

[2022-04-11 09:28] avikivity commented on #10349
/cc @jul-stas

[2022-04-11 09:38] soyacz opened #10350 "enterprise 2021.1 - scylla_raid_setup: failed due to the "mdmonitor.service: Failed with result 'protocol'""
## Installation details

Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-2022-1-centos-8-db-node-7b8524d0-0-4 (34.138.102.92 | 10.142.0.166) (shards: 8)
- rolling-upgrade-2022-1-centos-8-db-node-7b8524d0-0-3 (34.74.134.182 | 10.142.0.138) (shards: 8)
- rolling-upgrade-2022-1-centos-8-db-node-7b8524d0-0-2 (34.139.7.240 | 10.142.0.112) (shards: 8)
- rolling-upg

[2022-04-11 09:40] fgelcer commented on #10350
wrong repo

[2022-04-11 09:40] #10350 closed

[2022-04-11 09:53] eliransin commented on #10335
Those queries should be cached. I will handle this.

[2022-04-11 09:58] eliransin commented on #9331
Thanks.
@elcallio can you take a look. This is a run with hard limit on.

[2022-04-11 10:53] avikivity commented on #9331
The core dump is a separate issue. @tgrabiec is it a manifestation of #10290?

[2022-04-11 11:14] tgrabiec commented on #10290
In cbe2c3bb-40e8-4df9-822d-0facb0728891:

[code]

The direct reason for a crash is that `lsa::chunked_managed_vector`, which stores `managed_ref<index_entry>`, has empty first chunk, so `begin()` is invalid.

The second chunk looks good. It has 880 items, and 2518 - 880 is 1638, the expected size of the first chunk (`max_contiguous_allocation/8`).

In d79b1cb3-86bf-462e-a75b-25d90ce5f01c:

[code]

[2022-04-11 12:03] eliransin commented on #10146
Here is a run with commit hash:  '63249777d'
Which is d3abff9ea with the revert of 4affa80 on top.
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/12/

![image](https://user-images.githubusercontent.com/22260843/162735202-bb89c526-cadc-4d75-b91f-bab3ee192766.png)

/cc @bhalevy

Here is the git log I was running fro

[2022-04-11 12:16] bhalevy opened #10351 "multishard_mutation_query: do_query doesn't stop ctx if lookup_readers fails"
lookup_readers might fail after populating some readers
and those better be closed before returning the exception.

[2022-04-11 12:31] elcallio commented on #10309
The only real option is to teach cqlsh to interpret certain extension tags and deserialize the extension content. But that is not very scalable. And typically only helps users of cqlsh. Which is not exactly the end of all db introspection.
Extensions are by design black-box opaque...

[2022-04-11 12:54] KnifeyMoloko commented on #10265
Same issue for recent runs. Example run with around 20k error messages for "Too many in flight hints":

##Scylla version
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`

## Logs:
- **db-cluster-bf05b667.tar.gz** - [https://cloudius-jenkins-test.s3.amazonaws.com/bf05b667-b9d1-4934-a094-0efb32ecd7eb/20220407_102105/db-cluster

[2022-04-11 13:15] soyacz opened #10352 "no such file or directory errors during reshape on boot"
scylla version: 4.6.0-0.20220306.2f2d22a86 with build-id d487cdea729e95d8caebe2e9e2ae8698f35f19ee

[code]
1. Flush the memtable data to sstables.
2. Copy sstable files to the upload and staging dirs.
3. Change the compaction strategy to TimeWindowCompactionStrategy.
4. if reshape_on_boot==True: restart scylla
5. Stop the compaction mid-flight with <nodetool stop RESHAPE>.
6. Grep the logs for a li

[2022-04-11 13:46] bhalevy commented on #10146
@aleksbykov does the test disable / enable auto compaction during the run?

[2022-04-11 14:09] nyh opened #10354 "SELECT DISTINCT should allow filter on static columns, not just partition keys"
Cassandra noticed in 2016 in [CASSANDRA-11339](https://issues.apache.org/jira/browse/CASSANDRA-11339) that with `SELECT DISTINCT,` most filtering did not make sense (and in fact were silently ignored), and just filtering on partition key and static columns should be allowed. They fixed it in Cassandra commit 6ad874509d6c7edd53bb3a4b897477d6a2753c19, with backports to the Cassandra 3 and Cassandra

[2022-04-11 14:09] enaydanov commented on #10200
## Installation details

Kernel Version: 3.10.0-1160.59.1.el7.x86_64
Scylla version (or git commit hash): 4.6.1-0.20220328.2309d6b51 with build-id b82694809fb853b33db490da163c0a46561beb4f
Cluster size: 4 nodes (n1-highmem-8)
OS / Image: `https://www.googleapis.com/compute/v1/projects/centos-cloud/global/images/family/centos-7` (gce: eu-west-1)
Test: `rolling-upgrade-centos7-test`
Test id: 606f5631

[2022-04-11 14:15] aleksbykov commented on #10146
@bhalevy , No test doesn't disable/enable autocompaction. Run with default settings.

[2022-04-11 14:48] #10332 closed

[2022-04-11 14:48] #5058 closed

[2022-04-11 15:03] bhalevy commented on #10146
Then I'm puzzled as to how 4affa801a5ea1994e226d3e7581f3f38506dcc22 makes any change.

[2022-04-11 15:08] aleksbykov opened #10355 "Cluster start stucked on first node where seed is only node itself"
Scylla version: Scylla version 5.1.dev-0.20220401.af0751992861 with build-id 6cdf33534b4e6cb7e6d0388411c310957961e94a
Dtest to reproduce: materialized_views_test.py::TestInterruptBuildProcess::test_interrupt_build_process_test

Cluster with raft feature initialization stucked on first node even with correct sequence of cluster configuration with ccmlib:

1. cluster.set_configuration
2. cluster.pop

[2022-04-11 15:11] eliransin commented on #10146
Ran with the revert of the revert and got:

![image](https://user-images.githubusercontent.com/22260843/162770261-413a23cc-02ea-4693-9c67-9143cfa6d685.png)

[2022-04-11 15:14] enaydanov opened #10356 "repair: Failed to send node_ops_cmd::repair_updater after upgrade"
## Test details

Test: upgrade_test.UpgradeTest.test_rolling_upgrade
Test name: `rolling-upgrade/rolling-upgrade-centos7-test`
Test config file(s):
  - [rolling-upgrade.yaml](https://github.com/scylladb/scylla-cluster-tests/blob/31cb864142df8a7c1a7e5ed0b61fbcb48cb886ca/test-cases/upgrades/rolling-upgrade.yaml)

Test-id: cc6b30a3-39dd-4e42-b6fd-583e797d07e8
OS / Image: `https://www.googleapis.com/c

[2022-04-11 15:23] eliransin commented on #10146
@bhalevy let me know if you would like me to run a special build with some debug (or the links and instructions of how to do it yourself).

[2022-04-11 15:30] nyh opened #10357 "Spurious static row returned from query with filtering, despite not matching filter"
Scylla fails three translated Cassandra unit tests in `cassandra_tests/validation/operations/select_test.py`:
* `testAllowFilteringOnPartitionKeyOnStaticColumnsWithRowsWithOnlyStaticValues`
* `testFilteringOnStaticColumnsWithRowsWithOnlyStaticValues`
* `testFilteringWithoutIndices`

And in one test in `cassandra_tests/validation/operations/select_limit_test.py`:
* `testFilteringWithPartitionWithou

[2022-04-11 16:09] bhalevy commented on #10146
@eliransin at the start of the run throughput looks over 80K ops but then it drops (3 times) and stabilizes around 55K ops.
Do you know what are these events?

[2022-04-11 17:06] tgrabiec commented on #9331
@aleksbykov Where can I download the scylla package from for https://storage.cloud.google.com/upload.scylladb.com/core.scylla.113.48a4d31dbdf9408383b279374b5560bf.1045.1649209370000000000000/core.scylla.113.48a4d31dbdf9408383b279374b5560bf.1045.1649209370000000000000.gz (buildID = 9ece0e262fa50f78100c9f36902be19ac0cbe4b5)?

http://backtrace.scylladb.com/index.html does not know this build id.

[2022-04-11 19:36] aleksbykov commented on #9331
@tgrabiec i think you need to ask @eliransin , because i ran custom ami provided by him

[2022-04-11 19:39] nyh commented on #5545
This difference is also noted by the translated Cassandra unit test `cassandra_tests/validation/operations/select_test.py`::`testFilteringWithoutIndices`. The test code has:
[code]
While this is what happens in Cassandra, in Scylla the first request is rejected with a different message (saying that ALLOW FILTERING is missing) but the second request is actually not rejected.

Because we don't consi

[2022-04-11 19:56] nyh commented on #4776
I just realized that not only does "WHERE x = NULL" works but matches nothing, deliberately, so does "WHERE x > NULL". More strangely, while "WHERE x = NULL" works without specifying ALLOW FILTERING, the "WHERE x > NULL" does require ALLOW FILTERING. This makes little sense :-( I'll prepare tests...

[2022-04-11 21:42] #10339 closed

[2022-04-11 22:06] nyh opened #10358 "Comparison with UNSET_VALUE should produce an error"
In issue #4776 we decided that although Cassandra generates an error on a "WHERE x=NULL", Scylla will not - and simply match nothing.

It turns out that Scylla also silently ignores an UNSET_VALUE binding of "WHERE x=?", whereas Cassandra prints the error message "Unsupported unset value for column %s" (added in Cassandra commit 9c3855b5fd83b9fa9ffb2e5495e43cbea9855dee) in this case.
UNSET_VALUE i

[2022-04-12 08:24] avikivity commented on #10339
When was this introduced? does it need a backport?

[2022-04-12 08:26] gleb-cloudius commented on #10339
On Tue, Apr 12, 2022 at 01:24:58AM -0700, Avi Kivity wrote:

No. It was introduces last week by 9fdb49c86a8f07b499717b86f4af58cf7c41bbb0

--
			Gleb.

[2022-04-12 08:42] slivne commented on #10026
@psarna we go this on 5.0.rc3 that's not yet promoted but should have your code merged please have a look

[2022-04-12 08:48] slivne commented on #10026
I removed master/triage as we do not crash - we need to fix schema change issue - Tomek has posted a pull request https://github.com/scylladb/scylla/pull/10333 that is a big change for schema changes, it does not fix schema like raft is supposed todo but is supposed to help - once its in we can chase whats left (or hope raft gets to be default)

[2022-04-12 09:43] eliransin commented on #9331
@tgrabiec I don't have the package, the only way to get it is from the ami itself.

[2022-04-12 09:49] tgrabiec commented on #9331
@eliransin Which region is the ami-00228bf2feb470747 in? Global search on EC2 can't find it.

[2022-04-12 09:54] aleksbykov commented on #9331
@tgrabiec , here is the amis per regian

[2022-04-12 10:03] kbr- commented on #10355
Only the first node should have seed as itself, other nodes should point to the first node / one of the earlier nodes.

[2022-04-12 10:18] aleksbykov commented on #10355
Updated the description

[2022-04-12 10:25] nyh opened #10359 ""CONTAINS NULL" and "CONTAINS KEY NULL" restrictions should match nothing"
If we have a set column `s` and a restriction `s CONTAINS NULL`, Cassandra rejects it with an InvalidRequest `Unsupported null value for column s`.

In Scylla we decided in the past (e.g., see #4776) **not** to reject queries that compare things to NULL. We decided that "= NULL" or "< NULL" should 1. not fail, and 2. not match anything. We have tests that verify these comparisons in `test_null.py`

[2022-04-12 10:39] eliransin commented on #10146
@bhalevy I was blindly running the tests without any analysis besides visual  confirmation of performance drops (metrics).
However, in all of the bad runs I did, there were the same drops. Since your code is compaction related I would guess it is when compaction kicks in or maybe stopped (?) for some reason?

[2022-04-12 12:16] avikivity commented on #10359
"x CONTAINS y" means that set x contains element y. But it's not possible (IIUC) for a set to contain NULL. The empty set certainly doesn't contain it. So x CONTAINS NULL should return false for any x.

[2022-04-12 13:07] avikivity commented on #5610
We have

[code]

so we explicitly not write numfailures for version < 4.

[2022-04-12 13:11] yarongilor commented on #10309
But how would a user know what's he's table tombstone_gc mode? is there any alternative way to get it?

[2022-04-12 13:18] nyh opened #10361 "Null or UNSET_VALUE subscript should generate an invalid request error"
If a user tries the to use "NULL" as a map index, e.g., `e` is a map column and one does
[code]
Cassandra yields a InvalidRequest with the message "Unsupported null map value for column e", but Scylla currently yields an internal Server Error, with the message "std::get: wrong index for variant".

Reproduced by cql-pytest `test_null.py`::`test_map_subscript_null`, and also by translated Cassandra

[2022-04-12 13:34] avikivity opened #10363 "chunked_vector crashes in certain cases if reserve() is called twice without the reservation being consumed"
Found by @tgrabiec via code review:

[2022-04-12 13:36] avikivity opened #10364 "managed_chunked_vector crashes in certain cases if reserve() is called twice without the reservation being consumed"
Found by @tgrabiec via code review:

[2022-04-12 13:51] avikivity commented on #10309
Saying "by design" doesn't excuse it. It could have been designed not to be opaque (serializers could serialize into a human readable string).

[2022-04-12 13:51] avikivity commented on #10309
We could fix it by adding a second column with human readable strings, and after a transition period delete the first column.

[2022-04-12 13:56] avikivity commented on #10290
@horschi it will be part of 4.6.3, not 4.6.2. We'll start building 4.6.3 as soon as 4.6.2 is out.

[2022-04-12 14:18] enedil opened #10365 "`IS NOT NULL` in materialized view is not respected"
Scylla version: latest from docker, but should work the same in master.

Issue description:

Even though, the view filter for the mv contains `value2 IS NOT NULL`, the view ends up containing rows for which `value2` was NULL. This is related to the fact, that as it seems, `IS NOT NULL` restriction is never really checked (the `matches_view_filter` invokes `cql3::expr::is_satisfied_by`, which ignor

[2022-04-12 14:41] nyh commented on #10365
he "IS NOT NULL" was added with materialized views to be put on the **key** columns, to eliminate the possibility of rows with null keys (which aren't allowed). We have a test for this - `test_materialized_views.py`::`test_mv_is_not_null`.

In your use case, you used `IS NOT NULL` on a non-key columns value2, basically as a filter. While filters are indeed supported in views general, as you discov

[2022-04-12 14:46] #10346 closed

[2022-04-12 17:30] tzach commented on #10346
@nyh this is a link-check bot created by the doc team, and only test the doc section (for all projects)
@dgarcia360 can you please look at this false positives? for example,  https://github.com/scylladb/scylla-pkg/#looking-for-a-build is a working link, not sure why it reported an error.

[2022-04-12 17:30] #10363 closed

[2022-04-12 17:30] #10364 closed

[2022-04-12 17:55] soyacz commented on #10352
Seems Issue is not reproducing anymore.

[2022-04-12 17:55] #10352 closed

[2022-04-12 18:01] tzach commented on #10346
@dgarcia360 also, please disable the bot till we figure out the issue

[2022-04-12 18:20] yaronkaikov commented on #10290
@avikivity https://jenkins.scylladb.com/job/scylla-4.6/job/next/158/

[2022-04-12 20:08] tzach commented on #10346
Indeed!
https://github.com/scylladb/scylla-pkg/#looking-for-a-build - this is a private repo. It would be better not to link to private repos from a public one.

https://docs.scylladb.com/kb/contributing/ - should be https://docs.scylladb.com/contribute/ (this is a real issue)

[2022-04-12 20:29] nyh opened #10366 "Enforce Key-length limits during SELECT"
Partition keys length are limited to 64KB, and and clustering keys are similarly limited (the CQL column name needs to fit in 64KB - see issue #3017)

If the user attempts a SELECT based on the **partition key**, i.e., `WHERE p = ?`, if the string is too long Cassandra returns a clean InvalidRequest error with the message "Key length of 66560 is longer than maximum of 65535". In Scylla, we get an

[2022-04-12 22:16] sdjerdj opened #10367 "scylla_setup fails while executing perftune.py script"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

Background info:
While testing a new storage protocol setup (NVMe over RDMA), I have run into

[2022-04-12 22:17] sdjerdj commented on #10367
Complete output of the scylla-setup steps:

[root@kvm111 ~]# scylla_setup
Skip any of the following steps by answering 'no'
Do you want to run check your kernel version?
Yes - runs a  script to verify that the kernel for this instance qualifies to run Scylla. No - skips the kernel check.
[YES/no]no
Do you want to verify the ScyllaDB packages are installed?
Yes - runs a script to confirm that Scyll

[2022-04-12 22:19] sdjerdj commented on #10367
If needed I can provide the exect steps how to set up the NVMe over RDMA client  and target.

[2022-04-13 00:12] #5610 closed

[2022-04-13 01:33] sdjerdj commented on #10367
For testing purposed, I have disabled the var-lib-scylla.mount system service and re-ran the scylla_setup

[root@kvm111 /]# systemctl stop var-lib-scylla.mount
[root@kvm111 /]# systemctl status var-lib-scylla.mount
● var-lib-scylla.mount - Scylla data directory
   Loaded: loaded (/etc/systemd/system/var-lib-scylla.mount; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since

[2022-04-13 01:45] sdjerdj commented on #10367
After this setup was completed I have made sure that the automatic load of the nvme over rdma stack is working
and rebooted the VMs
After this, I have configured the additional parameters in the scylla.yaml file and successfully started up the cluster.

[2022-04-13 02:01] sdjerdj commented on #10367
Did a quick cassandra-stress write test and I can definitely see data on the nodes:

[root@kvm111 ~]# nodetool status
Datacenter: sc1
===============
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address       Load       Tokens       Owns    Host ID                               Rack
UN  172.16.1.112  581.16 MB  256          ?       4fd87cd7-68a7-4a80-9614-e209283bf544  r2
UN  172.16.1

[2022-04-13 02:11] sdjerdj commented on #10367
I think I found what might be confusing the script:

nvme lists the device names as expected (nvme0n1), however, iostat actually shows the "controller" id in the naming (nvme0c0n1):

[root@kvm111 lib]# nvme list
Node                  SN                   Model                                    Namespace Usage                      Format           FW Rev
--------------------- --------------------

[2022-04-13 02:19] sdjerdj commented on #10367
The same is visible if I list the devices via the configfs:

[root@kvm111 lib]# ls -l /sys/block/nvme*
lrwxrwxrwx. 1 root root 0 Apr 12 21:06 /sys/block/nvme0c0n1 -> ../devices/virtual/nvme-fabrics/ctl/nvme0/nvme0c0n1
lrwxrwxrwx. 1 root root 0 Apr 12 21:06 /sys/block/nvme0c0n2 -> ../devices/virtual/nvme-fabrics/ctl/nvme0/nvme0c0n2
lrwxrwxrwx. 1 root root 0 Apr 12 21:06 /sys/block/nvme0c0n3 -> ../d

[2022-04-13 06:55] avikivity commented on #5610
Backported to 4.5, 4.6, 5.0.

[2022-04-13 06:56] avikivity commented on #10290
@yaronkaikov @horschi needs the artifacts, not a link to a Jenkins job

[2022-04-13 06:57] avikivity commented on #10363
Backported to 4.5, 4.6, 5,0 (just in case)

[2022-04-13 06:57] avikivity commented on #10364
Backported to 4.6, 5.0 (just in case). 4.5 does not have the code.

[2022-04-13 08:08] benipeled commented on #10290
@horschi @avikivity the last build that contains the fix:
reloc http://downloads.scylladb.com/unstable/scylla/branch-4.6/relocatable/2022-04-08T11:06:56Z/
deb & rpm packages http://downloads.scylladb.com/unstable/scylla/branch-4.6/build-packages/2022-04-08T11:06:56Z/

[2022-04-13 09:46] k0machi commented on #9458
Encountered this recently on an enterprise-2022.1 run. Nothing to add, same issue:

[code]

- Restore Monitor Stack command: `$ hydra investigate show-monitor e41f6264-1ee0-4939-9eef-4fbba1d02903`
- Restore monitor on AWS instance using [Jenkins job](https://jenkins.scylladb.com/view/QA/job/QA-tools/job/hydra-show-monitor/parambuild/?test_id=e41f6264-1ee0-4939-9eef-4fbba1d02903)
- Show all stored

[2022-04-13 11:05] slivne commented on #10026
Id we do not have a crash anymore - lets move the schema part out and close this one

[2022-04-13 11:06] slivne commented on #10356
@asias ping need you input here if we can release 4.6.2

[2022-04-13 11:38] asias commented on #10356
Looking it now.

[2022-04-13 12:03] asias commented on #10356
Thee log "Failed to send node_ops_cmd::repair_updater to node=10.142.0.72 " happened in a mixed cluster 4.5 and 4.6 nodes running repair. It is expected because 4.5 node does not have the repair_updater support.

The log is harmless. It will not affect the correctness of repair even in a mixed cluster.

When the cluster is fully upgraded, this log will be gone.

[2022-04-13 12:48] benipeled commented on #10346
1. The scylla-pkg README is not maintained, you can skip it.
2. It might be better to add the `assignees` param to the workflow step so the issue will be assigned to the relevant.

[2022-04-13 13:12] bentsi commented on #10356
Another thing to mention in such a case is when we see those warnings, overall upgrade time increases, and our job times out.
@asias is it expected?
(Evgeniy is running a staging job to understand how much it takes in such a case)

[2022-04-13 13:51] aleksbykov commented on #9845
The issue reproduced on 5.0.rc3

[2022-04-13 15:18] yarongilor opened #10369 "db-node fails to boot after changing inter node compression to dc"
## Installation details

Kernel Version: 5.11.0-1022-aws

Scylla version (or git commit hash): `4.7.dev-20220407.3e21fea2b` with build-id `d7c55eaaa9df57f9f445c73c5e983cae6ea272c3`

Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-master-db-node-b3620c0e-7 (34.245.201.23 | 10.0.0.175) (shards: 16)
- longevity-100gb-4h-master-db-node-b3620c0e-6 (34.244.177.105

[2022-04-13 15:25] #10131 closed

[2022-04-13 16:04] aleksbykov commented on #10355
Another place where the cluster start is stucked, is on third node for test: **batch_test.py::TestBatch::test_batchlog_manager_issue[rack_names[0]**

1st node started successfull, but 2nd/3rd node hang on this:
[code]
Steps to reproduce:
1. using patch for ccm -  https://github.com/scylladb/scylla-ccm/pull/382
2. Using patch for enable raft - https://github.com/scylladb/scylla-dtest/pull/2639
3. r

[2022-04-13 17:09] tgrabiec commented on #9331
No. It's an OOM which happens to affect index page cache loading.

[code]

[code]

[2022-04-13 17:14] yarongilor opened #10370 "db node gets permanently down after a decommission of another node and nodetool cleanups"
## Installation details

Kernel Version: 5.11.0-1022-aws

Scylla version (or git commit hash): `4.7.dev-20220407.3e21fea2b` with build-id `d7c55eaaa9df57f9f445c73c5e983cae6ea272c3`

Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-b2dba361-7 (34.241.76.213 | 10.0.2.2) (shards: 8)
- longevity-twcs-48h-master-db-node-b2dba361-6 (34.242.120.63 |

[2022-04-13 17:42] slivne commented on #10370
There is a problem with this run - the run is using 4.7.dev-20220407.3e21fea2b

We have changed SCYLLA-VERSION-GEN to 5.0 ~3 month ago

[code]

We are not chasing this issue - the verson used for this run is way too old

[2022-04-13 17:43] slivne commented on #10370
@yarongilor / @fgelcer - I am assigning this to you so you can clarify why we have a run using such an old AMI - somehting is broken

Once you have an answer please close this issue

[2022-04-13 17:44] slivne commented on #10369
This is an issue of a 3 month old master - the same as https://github.com/scylladb/scylla/issues/10370

Please check why we have such a run closing as not fixed

[2022-04-13 17:44] #10369 closed

[2022-04-13 17:57] slivne commented on #10349
I think @numberly asked for a similar thing based on how mongodb does.  Todo that on login - and pass that as meta data info so it will appear also in system.clients

https://www.mongodb.com/docs/manual/reference/connection-string/

appName - https://www.mongodb.com/docs/manual/reference/connection-string/#mongodb-urioption-urioption.appName

[2022-04-13 21:44] slivne commented on #10322
I expect this is a bug in cassandra-stress or in the driver.

We are supposed to shutdown when the load ends and we don't

@avelanarius assigning this to you - you can get someone from your team to check.

- Please note I was not able to reproduce this on a single machine, so you may need a cluster.
- QA are also maybe running a version they settled on so it may not be the exact same thing as the

[2022-04-13 21:49] slivne commented on #10309
The solution is todo the describe schema on the server side - this is what users are supposed todo.

We have an issue for this https://github.com/scylladb/scylla/issues/9571

[2022-04-13 22:02] slivne commented on #4186
Whats left to close this ?

[2022-04-13 22:06] slivne commented on #10052
waiting for @aleksbykov input - pushing this put for now

[2022-04-13 22:09] slivne commented on #9933
pushing out edge case

[2022-04-13 22:10] slivne commented on #9625
@eliransin / @roydahan I know we discussed this and I think eliran actually checked and from his end it seems commitlog hard limit can be enabled (its not worse then without it ...) lets align and then verify the above - leaving in 5.0 as it may be important

[2022-04-13 22:12] slivne commented on #9460
another c-s issue - pushing it out

[2022-04-14 06:53] eliransin commented on #9625
@slivne
There is #9331 , the population indeed don't take longer, however, on additional runs from the ones @roydahan requiered
there are some unexplained stalls that might or might not be related. @elcallio is supposed to be looking at this, we will do it next
week.

[2022-04-14 07:42] asias commented on #10356
The node_ops_cmd::repair_updater is sent every 30s.  It is not supposed to have real impact. How does the job actually do? Is it designed to run repair with partially upgraded nodes (mixed cluster) ? Why do you run repair during upgrade?

[2022-04-14 07:56] fgelcer commented on #10370
i have reported https://github.com/scylladb/scylla-pkg/issues/2856 as SCT finds this old build in a recently created AMI.

[2022-04-14 07:56] fgelcer commented on #10369
https://github.com/scylladb/scylla-pkg/issues/2856

[2022-04-14 08:15] slivne commented on #8947
We are working on better support for range tombstones - pushing this out till we think we are done and then we can retest

[2022-04-14 08:17] slivne commented on #8908
@raphaelsc is this supposed to be fixed now with the new computation of the backlog controller ?

pushing this out to 5.1

[2022-04-14 08:20] slivne commented on #8818
This is not a regression so pushing this out - yet its a bug that needs to be fixed

[2022-04-14 08:23] slivne commented on #8809
Pushing this out - as AlternatorStreams are not fully out.

The new IO Scheduler and the updated compaction backlog should make things better if it wasrelated to compaction using to much disk I/O

[2022-04-14 08:24] slivne commented on #8778
Pushing this out - if it will remain stale we will close

[2022-04-14 08:27] slivne commented on #8759
pushing this out

[2022-04-14 08:29] slivne commented on #8754
We have a ne IO scheduler in 5.0 that is supposed to be better, in mater (5.1) we have a better compaction of compaction backlog. I expect this should be much better (potentially resolved) - pushing it out

[2022-04-14 08:35] slivne commented on #8515
We have a background reclaimer in newer releases that resolved/helped in many cases in which we had stalls related to memory.

We have also added better resource monitoring in later releases (completely revisiting how we allow reads to enter to get executed).

I am assuming this is fixed - yet since we do not have a reproducer its not 100%.

Please open a new issue if there is still a problem.

[2022-04-14 08:35] #8515 closed

[2022-04-14 08:36] slivne commented on #8497
not a regression pushing out

[2022-04-14 08:38] slivne commented on #8302
@tzach ping

[2022-04-14 08:41] slivne commented on #8273
not a regression pushing out

we are trying to push out repair-based-node-operations and approve them - so if repiar-based-node-operations are ok'd and it works well on that we will not chase this issue

[2022-04-14 08:41] slivne commented on #8118
the dtest patch was merged

closing this issue

[2022-04-14 08:41] #8118 closed

[2022-04-14 08:46] slivne commented on #8068
I am pushing this out and removing assignment ... we are not actively checking this

[2022-04-14 09:25] slivne commented on #10356
We will push 4.6.2 - given its not causing a problem

Yet, lets try to understand - whats going on

@enaydanov / @bentsi do we run repair on a mixed cluster in upgrades test ?

[2022-04-14 09:43] xemul commented on #9505
Something that surprised me recently. If running two scyllas on one node like this
[code]
both will happen on the same core as seastar ignores the `taskset`'s mask. And the cpuhogs running on both sides will induce extra RPC processing latency.

[2022-04-14 10:18] juliayakovlev commented on #8706
Looks like this issue was reproduced in `2022.1~rc3-20220406.5cc3b678c`

https://jenkins.scylladb.com/job/enterprise-2022.1/job/longevity/job/longevity-lwt-24h-test/3/

Region: eu-west-1
AMI ImageId: ami-071c70d20f0fdbb2c
Kernel Version: 5.13.0-1021-aws
Scylla Version: 2022.1~rc3-20220406.5cc3b678c
Build Id: 48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a
Instance Type: i3.2xlarge
Node Amount: 4

Unfortu

[2022-04-14 10:48] fgelcer commented on #10356
yes, we do run `repair` in a mixed cluster:
[code]

in this stage, we upgraded 1st node, then 2nd node, then rolled back 2nd node, and then we run this `nodetool repair`

[2022-04-14 11:19] avikivity commented on #10356
This is why using cluster features is important. Yes you need to type in some more code. But it is repaid when you don't have to analyse logs with errors.

[2022-04-14 14:47] aleksbykov opened #10372 "INSERT query failed to be written by timeout with gemini while commit log I/O queue delay shows about ~1,6 min delay for instances."
**Issue description**

test with gemini failed because gemini couldn't write the mutation and operation failed by timeout.
gemini generate next schema:
[code]

next query failed to be written:
[code]

DB logs doesn't have any errors, but Advanced dashboard shows huge delay for commit log:

![Screenshot from 2022-04-14 21-35-58](https://user-images.githubusercontent.com/44991177/163413329-ac4a4bd1-

[2022-04-14 15:01] ilya-rarov opened #10373 "Binary values of parameters with `type = 'restriction mode'` in table system.config"
*Installation details*
Scylla version:  `5.0.rc2-0.20220316.839d9ef41`, build-id: `1319e7e64335b7e5c7531f773e92ef997b6c51ba`

There is a new virtual table `system.config` introduced in commit https://github.com/scylladb/scylla/commit/f74b25892828d03b0322d39ff32e92767f8051a7

There are a few parameters there that have `type = 'restriction mode'`. The values for those parameters are binary and they

[2022-04-14 16:28] avikivity commented on #10373
@ilya-rarov is this a duplicate of #10047? If so, don't open a new issue when an existing one can be extended.

[2022-04-14 16:29] avikivity commented on #10047
Backported to 5.0. This is new to 5.0 so no further backports needed.

[2022-04-14 16:47] ilya-rarov commented on #10373
@avikivity since the fix for https://github.com/scylladb/scylla/issues/10047 highly probably solves this issue too, I think, yes, it can be considered as a dup. Closing this issue

[2022-04-14 16:47] #10373 closed

[2022-04-14 20:26] slivne commented on #8706
Killed the servers from the previous run.

[2022-04-15 06:49] bhalevy opened #10376 "added keyspace storage options break java tools"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/1175/testReport/offline_tools_test/TestOfflineTools/test_sstablelevelreset/
[code]

Test test passes at 379892142d0b656bb9535edd372a9c2a9cd46925
and fails as above starting 59d56a3fd7ab22a3184de2ebfb3df67580316ff9

[2022-04-15 09:01] soyacz commented on #10275
## Installation details

Kernel Version: 5.13.0-1021-aws

Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`

Cluster size: 5 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-large-partitions-8h-2022--db-node-d764b84e-6 (16.171.64.162 | 10.0.2.204) (shards: 8)
- longevity-large-partitions-8h-2022--db-node-d764

[2022-04-15 09:35] psarna commented on #10376
Oh, the series contained a terrible non-backward-compatible leftover, it added an unused "storage" column to `system_schema.keyspaces`.... I'll push a patch that fixes it in a minute.

[2022-04-15 10:27] KnifeyMoloko opened #10378 "Compaction manager error: "bad_optional_access (bad optional access): retrying" when triggering maintenance compaction after disable autocompaction"
Scylla version: 5.1.dev.0.20220411.59d56a3fd7ab
docker image name: scylla-nightly: 5.1.dev-0.20220411.59d56a3fd7ab
unified-pack-url-x86_64: downloads.scylladb.com/unstable/scylla/master/relocatable/2022-04-11T03:57:56Z/scylla-x86_64-unified-package-5.1.dev.0.20220411.59d56a3fd7ab.tar.gz

ISSUE DESCRIPTION:

Scylla commit: https://github.com/scylladb/scylla/commit/be6cfa4a83ec417f80f88658612ecd25e2

[2022-04-15 13:52] kbr- opened #10379 "raft: entry forwarding on non-voter may hang"
A non-voter server may become a candidate when it considers the leader dead. It will immediately revert to follower state (because it's a non-voter) but the damage is done - it no longer knows who the leader is.

If the leader has no entries to send, because the logs are synced, the non-voter will not re-learn about the leader - there are no append_entries calls coming from the leader.

Trying to

[2022-04-15 13:52] kbr- commented on #10379
cc @kostja @gleb-cloudius

[2022-04-15 15:30] raphaelsc commented on #8908
@slivne

By comment on https://github.com/scylladb/scylla/issues/8908#issuecomment-867401135, rebuild ran 6x on the same node.

Asias wrote above: "A wild guess is that rebuild failed in the middle and it performed retry of the rebuild automatically. Withtout RBNO, rebuild will restream all the data again. Then out of disk."

LCS is used. Cannot keep up with the write rate, due to its high writeam

[2022-04-16 02:01] syuu1228 commented on #10367
@sdjerdj Hi,

Cloud you try this command on the VM, and copy & paste result on this thread:
[code]

Also, I need to know more detail of this VM configuration, so I have few questions:
 - please provide VM configuration file such as libvirt XML file, if possible.
 - I'm guessing default NIC `enp1s0` is KVM virtual NIC, and `ib0` /`ib1` are pci-passthrough IB interface, correct?
 - What happens if w

[2022-04-17 00:02] github-actions[bot] opened #10382 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 183   |
| ✅ Successful | 157   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 19    |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/guides/debugging.md
* [http://some.mirror.example/mirrors/debian/versioned/2018060600/ubuntu/pool/main/g/glibc/libc6_2.23

[2022-04-17 07:06] juliayakovlev commented on #10068
Reproduced with `2022.1~rc3`.

[code]

## Installation details

Kernel Version: 5.13.0-1021-aws

Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`

Cluster size: 5 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-mv-si-4d-2022-1-db-node-b8f84a1a-9 (13.48.67.166 | 10.0.0.248) (shards: 14)
- longevity-mv-si-4d-

[2022-04-17 07:13] juliayakovlev commented on #10217
Reproduced with `2022.1~rc3`

[code]

## Installation details

Kernel Version: 5.13.0-1021-aws

Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`

Cluster size: 5 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-mv-si-4d-2022-1-db-node-b8f84a1a-9 (13.48.67.166 | 10.0.0.248) (shards: 14)
- longevity-mv-si-4d-2

[2022-04-17 08:12] juliayakovlev opened #10383 "off-strategy compaction of MV during resharding failed due to std::runtime_error: SSTable write failed due to existence of TOC file for generation 14669 of mview.users"
## Installation details

Kernel Version: 5.13.0-1021-aws

Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`

Cluster size: 5 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-mv-si-4d-2022-1-db-node-b8f84a1a-9 (13.48.67.166 | 10.0.0.248) (shards: 14)
- longevity-mv-si-4d-2022-1-db-node-b8f84a1a-8 (13.53.126.15

[2022-04-17 09:55] enaydanov opened #10384 "Fail to forcingly terminate repair on very early stage"
## Installation details

Kernel Version: 5.13.0-1021-aws

Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`

Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-1tb-7d-2022-1-db-node-436e2326-9 (34.252.226.229 | 10.0.1.245) (shards: 14)
- longevity-tls-1tb-7d-2022-1-db-node-436e2326-8 (54.75.

[2022-04-17 10:07] enaydanov commented on #10384
Note, the test run not finished yet, so, no published logs, but nodes still running.

[2022-04-17 11:03] raphaelsc commented on #10383
This is an enterprise branch, let's please move the issue to there. @juliayakovlev

[2022-04-17 11:06] juliayakovlev commented on #10383
https://github.com/scylladb/scylla-enterprise/issues/2190

[2022-04-17 11:07] raphaelsc commented on #10383
closing this one...

[2022-04-17 11:15] DoronArazii commented on #9906
@tgrabiec can you please update on this issue?

[2022-04-17 11:35] bentsi commented on #10383
@juliayakovlev please move it back, @raphaelsc per decision of Shlomi/Avi we open issues in Enterprise repository only for bug in enterprise features only, all other issues are opened in OSS even if they were found in the Enterprise version.

[2022-04-17 11:39] juliayakovlev commented on #10383
We can just re-open this issue and close in enterprise

[2022-04-17 11:57] fgelcer commented on #9906
seeing this once again on 2022.1.rc3

## Installation details

Kernel Version: 5.13.0-1021-aws

Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`

Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run:
- longevity-tls-2tb-4d-1dis-2nondis-2-db-node-6fa016c6-5 (34.244.193.95 | 10.0.2.139) (shards: 12)
- longevi

[2022-04-17 12:00] raphaelsc commented on #10383
@avikivity please clarify. if only an enterprise branch is affected, is it the correct decision to have the enterprise issue opened here? it may happen that the relevant code which caused issue isn't even present in OSS.

[2022-04-17 12:11] raphaelsc commented on #10383
Anyway, the problem happens because that branch is missing https://github.com/scylladb/scylla/commit/a1d0f089c8b30316f1507fe0ac3d7d9a0b0b6067.

[2022-04-17 13:08] ShlomiBalalis commented on #9906
Another occurance in 2022.1.rc3:
## Installation details

Kernel Version: 5.13.0-1021-aws

Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`

Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-2022-1-db-node-f210dd9e-9 (54.247.46.206 | 10.0.2.178) (shards: 14)
- longevity-tls-50gb-3d

[2022-04-18 04:46] aleksbykov commented on #10372
Issue doesn't reproduced on 4.6

[2022-04-18 06:12] bhalevy commented on #4186
@tgrabiec / @cmm ?

[2022-04-18 08:39] enaydanov commented on #10384
## Logs:
- **db-cluster-436e2326.tar.gz** - [https://cloudius-jenkins-test.s3.amazonaws.com/436e2326-9e19-4cd8-b8a8-dc9d832fe92e/20220417_174612/db-cluster-436e2326.tar.gz](https://cloudius-jenkins-test.s3.amazonaws.com/436e2326-9e19-4cd8-b8a8-dc9d832fe92e/20220417_174612/db-cluster-436e2326.tar.gz)
- **monitor-set-436e2326.tar.gz** - [https://cloudius-jenkins-test.s3.amazonaws.com/436e2326-9e19-4

[2022-04-18 09:34] syuu1228 opened #10390 "scripts: not able to get perftune.py error message when capture_output=True"
We currently does not able to get any error message from subprocess when we specified capture_output=True on subprocess.run().
This is because CalledProcessError does not print stdout/stderr when it raised, and we don't catch the exception, we just let python to cause Traceback.
Result of that, we only able to know exit status and failed command but not able to get stdout/stderr, like this:
[code]

[2022-04-18 10:44] ShlomiBalalis opened #10392 "resharding + alternator LWT -> Scylla service takes 36 minutes to start"
## Installation details

Kernel Version: 5.13.0-1021-aws

Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`

Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- alternator-48h-2022-1-db-node-81cb61d9-5 (34.241.246.188 | 10.0.2.75) (shards: 14)
- alternator-48h-2022-1-db-node-81cb61d9-4 (52.30.41.107 | 10.0

[2022-04-18 10:44] ShlomiBalalis commented on #10392
@roydahan

[2022-04-18 10:53] avikivity commented on #10392
How do I use hydra? If I run the docker image, I get a python prompt.

[2022-04-18 11:19] bentsi commented on #10392
`./docker/env/hydra.sh` in SCT repo

[2022-04-18 11:26] DoronArazii commented on #10392
@raphaelsc can you please have a look (there's 15 min between the shards)
2022-04-16T09:51:20+00:00 alternator-48h-2022-1-db-node-81cb61d9-4 !    INFO |  [shard 0] init - starting sstables loader
2022-04-16T10:07:47+00:00 alternator-48h-2022-1-db-node-81cb61d9-4 !    INFO |  [shard 0] init - starting system distributed keyspace

[2022-04-18 11:31] k0machi opened #10393 "`nodetool refresh` ignored by server"
## Installation details

Kernel Version: 5.13.0-1021-aws

Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`

Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-200gb-48h-verify-limited--db-node-4713492b-8 (54.247.51.85 | 10.0.2.239) (shards: 14)
- longevity-200gb-48h-verify-limited--db-node-4713492

[2022-04-18 11:44] roydahan commented on #10287
@aleksbykov / @kostja, I don't understand if the issue is only relevant to dtest or it also happens in regular upgrade.

[2022-04-18 11:56] avikivity commented on #10392
[code]

[2022-04-18 12:14] ShlomiBalalis commented on #10392
@avikivity Did you follow these instructions: https://github.com/scylladb/scylla-cluster-tests#setting-up-sct-environment

[2022-04-18 12:28] bentsi commented on #10392
@avikivity podman not supported...
anyway, as mentioned,  in this specific run logs were not collected. Per @ShlomiBalalis  all nodes are still alive so you can ssh and see the logs there

[2022-04-18 12:55] roydahan commented on #10061
@KnifeyMoloko, I discussed this issue with @eliransin and I think that the new HW benchmarks you added to SCT can help us here.
What we want to do is to re-run this test with the new tools that benchmark the HW (cassandra-fio and sysbench).
If the degredation reproduces, we will want to look at the output and possibly run also iotune on them.
(as a later task, we may want to add iotune to the set

[2022-04-18 13:03] avikivity commented on #10392
It is too difficult.

We can't keep machines alive all the time, it's too expensive.

[2022-04-18 13:31] ShlomiBalalis commented on #10392
We don't do this all the time, in fact we almost never do it. In this once-in-a-thousand time we ran into a bug that caused an issue with the log collection so I decided to keep the nodes alive so the issue can be investigated.

[2022-04-18 14:34] #10376 closed

[2022-04-18 14:57] avikivity commented on #10392
Did you find someone to debug it? Or do you just keep the servers in the hope that someone will look?

When will the instances be terminated?

[2022-04-18 15:27] sdjerdj commented on #10367
@syuu1228
Here is the requested output of the command above:

`[root@kvm111 ~]# sudo /opt/scylladb/scripts/perftune.py --tune disks --dir /var/lib/scylla/data --dir /var/lib/scylla/commitlog --dir /var/lib/scylla/hints --dir /var/lib/scylla/view_hints --tune net --nic enp1s0 --get-cpu-mask
ERROR: [Errno 2] No such file or directory: '/sys/devices/virtual/modalias'. Your system can't be tuned until

[2022-04-18 15:37] ilya-rarov opened #10394 "Attempt to update the live-updatable option in `system.config` with wrong value produces the error `bad_lexical_cast` in the log"
*Installation details*
Scylla version: `5.0.rc3-0.20220406.f92622e0d`, build-id: `2b79c4744216b294fdbd2f277940044c899156ea`
Platform: `docker`

While implementing tests for the virtual table `system.config` I noticed the following: when I try to update one of the live-updatable options in this table, but provide the value of the wrong type, then besides the error message in cqlsh (which is quite e

[2022-04-18 18:48] #10390 closed

[2022-04-18 23:54] asias commented on #10384
The problem was that:

- get repair request from user, repair info is not created yet
- abort all repairs
- repair info is created and repair continues to run since the repair info is not aborted

[code]

As a workaround, one can run abort request again.

@enaydanov In your test when did you run abort repair? Did you wait for the start repair request to finish before you start the abort one after

[2022-04-19 00:35] asias opened #10395 "streaming: Allow drop table during streaming"
Currently, if a table is dropped during streaming, the streaming would
fail with no_such_column_family error.

Since the table is dropped anyway, it makes more sense to ignore the
streaming result of the dropped table, whether it is successful or
failed.

This allows users to drop tables during node operations, e.g., bootstrap
or decommission a node.

This is especially useful for the cloud users

[2022-04-19 05:53] enaydanov commented on #10384
Yes, we're waiting while number of active repair changed from 0 to 1 using `http://127.0.0.1:10000/storage_service/active_repair/` API call: https://github.com/scylladb/scylla-cluster-tests/blob/fa6ed9c2efde0b25bde7299889b4284a1f15f4a7/sdcm/nemesis.py#L2108

The test flow: https://github.com/scylladb/scylla-cluster-tests/blob/fa6ed9c2efde0b25bde7299889b4284a1f15f4a7/sdcm/nemesis.py#L2119

[2022-04-19 12:31] nyh commented on #10355
I can confirm that `test/cql-pytest/run --raft` hangs when trying to boot the single-node Scylla
(note that this command has a 200-second timeout when it gives up, but as soon as it takes more than a couple of seconds to start printing test progress, you already know it's broken).

This command used to work well, so it must be a relatively-recent regression, and can be bisected with that command.

[2022-04-19 12:47] aleksbykov commented on #10355
for latest dtest run with raft for single and not single tests, the problem periodically reproduced during different tests.
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/abykov/job/Dtest/job/dtest-parallel-byo/13/

[2022-04-19 12:54] aleksbykov commented on #10287
I think this issue is related and depend on the issue https://github.com/scylladb/scylla/issues/10355.
For that moment we have only dtest upgrade test as PoC.

[2022-04-19 14:30] vponomaryov opened #10398 ""Exceptional future ignored" during the upgrade of the second node in the rolling upgrade test"
## Installation details

Kernel Version: 5.13.0-1023-gcp
Base Scylla version:  `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Target Scylla version: `5.1.dev-0.20220415.75786c42cb2e` with build-id `624bf766a24fba740b118c805912a1b94df59dc5`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-ubuntu-focal-db-node-953b10

[2022-04-19 16:21] raphaelsc commented on #10393
According to log here:
[code]

it failed to detect resharding at ~ 05:11.

But there's resharding activity at ~ 05:10

[code]

and refresh seem to have completed successfully a bit after resharding is done:

[code]

@k0machi could u please double check that the longevity test is capturing resharding correctly? resharding happened prior to detection attempt, making me think test failed to detect it

[2022-04-19 17:17] k0machi commented on #10393
@raphaelsc test executes nodetool refresh on each node in sequence, and checks each node's log for a resharding message - yet it seems the activity only appears on the first node. Is this intended?

[2022-04-19 17:21] #10393 closed

[2022-04-19 17:37] raphaelsc commented on #10393
Thanks.

[2022-04-19 18:38] aleksbykov commented on #10271
Issue reproduced with:
*Installation details*
Kernel version: `5.13.0-1021-aws`
Scylla version (or git commit hash): `5.0.rc3-0.20220406.f92622e0d with build-id 2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (i3en.2xlarge)
Scylla running with shards number (live nodes):
   longevity-twcs-48h-2022-1-db-node-5e9bfd25-1 (34.243.2.155 | 10.0.2.187): 8 shards
   longevity-twcs-48h-2022

[2022-04-20 09:23] nyh opened #10399 "Crash during cq-pytest - test_null.py::test_map_subscript_null"
In https://jenkins.scylladb.com/job/scylla-master/job/next/4787/consoleText we see a fluke failure of the cql-pytest suite, in one run of the "release" build, we see:
[code]

The decoded backtrace using http://backtrace.scylladb.com/ (the build id is f86b97bb3473f340a972a1d6740e051b4e03aedd, as reported in the consoleText) is:

[code]

[2022-04-20 11:36] nyh commented on #10399
Initially I thought that Scylla crashed while deleting the test table, but the Scylla log above doesn't confirm that guess - the last message is about creating a table cql_test_1650408159394 - not about deleting a table. Also the backtrace suggests we were in the middle of a query.

The implicated test, `test_null.py::test_map_subscript_null`, does a weird query, `WHERE m[null] = 3` and we expect

[2022-04-20 12:17] nyh commented on #10361
I said above that Scylla *currently yields an internal Server Error, with the message "std::get: wrong index for variant"* but now that I ran the same reproducer again it doesn't generate any error and just silently matches nothing, and in #10399 it seems that we got a crash. So maybe there's some undefined behavior in the code that gets invoked.

[2022-04-20 13:40] nyh commented on #10361
By the way, we have exactly the same bug for UNSET_VALUE. I'll fix it too. And add a test for the subscript feature - that we didn't have.

[2022-04-20 14:13] nyh commented on #10361
I figured out why sometimes `test_null.py::test_map_subscript_null` got that internal error and sometimes it just silently returns nothing. That wasn't an undefined behavior but rather a question of whether the table had any data. When running  `test_null.py::test_map_subscript_null` alone, we have a filter on an empty table, so the filter is never called and the result is empty. When running the

[2022-04-20 14:36] nyh commented on #10361
@cvybhu I just realized that the question of **when** to do the null check (there is no doubt it's needed and missing today, though...) is somewhat dependent on what we want to allow our expressions to support:
1. If subscripts are always constant, we can and should check it for being null before filtering out any data - and in particular recognize the error even if the result set is empty. Cassan

[2022-04-20 16:51] k0machi commented on #6438
Another CDC Longevity with same issue:
[code]

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.1.dev-20220415.75786c42cb2e` with build-id `624bf766a24fba740b118c805912a1b94df59dc5`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-cdc-100gb-4h-master-db-node-e2c651c6-8 (3.251.88.249 | 10.0.0.148) (shards: 14)
- longevity

[2022-04-20 18:18] npeshek-spotx commented on #10337
OK, I worked through this: Since a node's out, we're seeing sustained CPU usage across the cluster when a node crashes and shard 0 cannot respond to node operations in a timely manner. Due to the hardcoded 30 second watchdog timer on node operation metadata
https://github.com/scylladb/scylla/blob/branch-4.6/service/storage_service.hh#L125
the uuid gets ejected from the pending list on the coordina

[2022-04-20 18:50] delgec opened #10400 "Data management tool?"
Hello everyone

Is there a data management tool? I looked the DataGrip and DBeaver but I didn't find it.

Are you using any data management tool?

Thanks

[2022-04-20 19:17] nyh commented on #10361
By the way, another non-crashing error we see in test_map_subscript_null when run with a non-empty table (i.e., when the full test file is run) instead of the usual ""std::get: wrong index for variant":
[code]

[2022-04-20 19:20] nyh commented on #10400
Please use the Scylla developers mailing list (scylladb-dev at googlegroups.com) or Scylla's user slack channel, or stackoverflow for questions. or discussions This is a bug tracker, for reporting bugs or features that you know that are missing.

[2022-04-20 19:20] #10400 closed

[2022-04-20 19:29] avelanarius commented on #10399
@nyh I was able to get a local crash by running:
[code]
(I'm not sure if this `taskset` makes it less/more probable)

Log (full attached at the end):
[code]

The backtrace decodes to this:
[code]

Full logs:
[full_logs.txt](https://github.com/scylladb/scylla/files/8524759/full_logs.txt)

[2022-04-20 19:38] nyh commented on #10399
Thanks. I wasn't able to reproduce a crash, but I was able to reproduce other problems in #10361 with the same cause. Basically the problem is that `get_value()` in `expressions.cc` when the subscript is a null (or an UNSET_VALUE), dereferences crap assuming it is a valid key, and all sort of bizarre errors can happen including, apparently, rare crashes.

I already have a patch that avoids the inv

[2022-04-20 19:41] nyh commented on #10399
The patch which should avoid this crash, but doesn't fix #10361 because "WHERE m[null] = 2" will simply match nothing, instead of printing an error:

[code]

[2022-04-20 23:03] nyh commented on #10399
@cvybhu @psarna @avikivity I need help from someone who is more familiar than me with the new expressions design.

If we have a WHERE expression "m[null] = 2" (or with prepared statements, "m[?] = 2" bound with null), which is perfectly valid syntacticly, but still not allowed and should generate an error. But the error-check cannot happen when **evaluating** the expression, because if the result-

[2022-04-21 03:48] hansh0801 commented on #10384
I have same issue too.

[2022-04-21 06:56] psarna commented on #10399
@nyh https://github.com/scylladb/scylla/blob/cc40685c288fc90376094fddeb86b4a3e7f8c3b8/cql3/expr/prepare_expr.cc#L893 is where an expression is prepared, and indeed if you try to type `WHERE m[2] = 3` with a mismatched key type, it's where it would be validated, because one of the parameters is "receiver", and it's where a constant (`2`) can be verified if it's assignable to the receiver type.

How

[2022-04-21 07:47] nyh commented on #10399
@psarna you're right in your observations, and it is beginning to seem that I'll need to fix this issue (invalid behavior and potentially a crash) quickly and only fix #10361 (adding an error message) later. Indeed, adding validation before binding is too early. What I need is to validate the expression (e.g., looking for null subscripts) right after binding the expression, but before evaluating i

[2022-04-21 08:13] psarna commented on #10399
Yes, it's something that should definitely be done, we just decided to wait until the whole layer is rewritten to expressions before applying any such optimizations. It's definitely a good idea to only bind once

[2022-04-21 08:40] nyh commented on #10361
Update:

After pull request https://github.com/scylladb/scylla/pull/10401, the weird errors mentioned above that can happen during expression evaluation ("std::get: wrong index for variant" or "marshaling error", or even crash of #10399) are gone, but we remain with the issue that a null or UNSET_VALUE subscript is silently ignored (the filter returns no rows) instead of causing an error. That pul

[2022-04-21 12:25] soyacz commented on #10275
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.1.dev-20220414.d293bd95799d` with build-id `7f69d9a2c0a5a41085da23a3f74007aa8b06aef7`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-6cc210bb-8 (63.34.20.246 | 10.0.1.161) (shards: 8)
- longevity-twcs-48h-master-db-node-6cc210bb-7 (176.34.95.184

[2022-04-21 13:59] vponomaryov opened #10402 "coredump on the scylla-server startup after upgrade in multi-dc rolling upgrade test in ec2_multi_region_snitch::start()"
## Installation details

Kernel Version: 5.13.0-1021-aws
Base Scylla version: `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Target Scylla version: `5.1.dev-0.20220415.75786c42cb2e` with build-id `624bf766a24fba740b118c805912a1b94df59dc5`
Cluster size: 6 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- multi-dc-rolling-upgrade-master-ubu-db-node-d4a9c255-

[2022-04-21 14:01] soyacz opened #10403 "Coredump when streaming data to new node"
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.1.dev-20220414.d293bd95799d` with build-id `7f69d9a2c0a5a41085da23a3f74007aa8b06aef7`
Cluster size: 3 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- gemini-1tb-10h-master-oracle-db-node-c0c7fc43-1 (34.254.172.2 | 10.0.0.232) (shards: 14)
- gemini-1tb-10h-master-db-node-c0c7fc43-5 (52.48.6.212 | 1

[2022-04-21 14:07] soyacz commented on #6309
Reproduced on master:

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.1.dev-20220414.d293bd95799d` with build-id `7f69d9a2c0a5a41085da23a3f74007aa8b06aef7`
Cluster size: 3 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- gemini-1tb-10h-master-oracle-db-node-c0c7fc43-1 (34.254.172.2 | 10.0.0.232) (shards: 14)
- gemini-1tb-10h-master-db-node-c0c7

[2022-04-21 15:49] vponomaryov opened #10405 "reader_concurrency_semaphore time outs on various Scylla nodes running on centos7 during the rolling upgrade"
## Installation details

Kernel Version: 3.10.0-1160.59.1.el7.x86_64
Base Scylla version: `5.0.rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Target Scylla version: `5.1.dev-0.20220415.75786c42cb2e` with build-id `624bf766a24fba740b118c805912a1b94df59dc5`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-centos-db-node-0

[2022-04-22 00:58] yangly6207 opened #10407 "nodetool can not work when deploy scylla with ipv6"
I deploy scylla with ipv6, scylla-server was finally,but when i execute nodetool status, it doesn't work normally:

[code]

 But the port 7199 was on ipv6 address, so i want to know whether nodetool support the ipv6.？
scylla version is 4.5.0

[code]

[2022-04-22 09:19] soyacz commented on #10251
reproducing on master

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.1.dev-20220414.d293bd95799d` with build-id `7f69d9a2c0a5a41085da23a3f74007aa8b06aef7`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-master-db-node-2c0a5ee0-9 (34.248.92.234 | 10.0.3.105) (shards: 14)
- longevity-tls-50gb-3d-master-db-n

[2022-04-22 16:19] raphaelsc opened #10410 "Partial SSTables from failed write attempt are only being deleted on restart"
HEAD: cc40685c288fc9037

Scylla is unable to unlink partial SSTable, so space is only reclaimed automatically on next restart.

`sstable - Failed to delete /home/raphaelsc/tmp/1/keyspace1/standard1-a2c616c0c23c11ecabeb3563da930d60/me-228-big-TOC.txt: std::filesystem::__cxx11::filesystem_error (error generic:2, filesystem error: cannot make canonical path: No such file or directory [/home/raphaelsc

[2022-04-22 21:21] fee-mendes opened #10412 "scylla_prepare fails when SET_NIC_AND_DISKS != "yes" and other tuning options are involved"
**Installation details**
Scylla version (or git commit hash): 4.6.2-0.20220405.eb372d7f0
Cluster size: 1
OS: Ubuntu 20.04

**Description**
It looks like that we reference the `nic` variable within [scylla_prepare](https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_prepare#L71) even when `SET_NIC_AND_DISKS` is different than `yes`, which - in turn - cause such weird failures

[2022-04-22 21:21] fee-mendes commented on #10412
cc @syuu1228

[2022-04-22 21:55] fee-mendes opened #10413 "scylla_prepare fails when cpuset modes are not as expected by perftune.py"
**Installation details**
Scylla version (or git commit hash): 4.6.2-0.20220405.eb372d7f0
Cluster size: 1
OS: Ubuntu 20.04

**Description**
[scylla_prepare](https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_prepare#L20:L44) logic today is really simple: It will first retrieve the configured `CPUSET` within `/etc/scylla.d/cpuset.conf` and compare it against the cpu masks as r

[2022-04-22 22:20] vladzcloudius commented on #10413
@fee-mendes the behavior you have described is exactly what was meant when the corresponding code was written.

This code is going to auto-generate perftune.yaml in cases when the configuration in cpuset.conf is one of the known standard ones (mq, sq, sq_split).

In all other cases the same user who wrote non-standard cpuset.conf is also responsible to write the corresponding configuration in perf

[2022-04-23 01:23] vladzcloudius commented on #10413
Not sure what "optimal" has to do with it.

What is clear to me is that we are missing a documentation explaining how one can hack non-default CPUSET + perftune.yaml configuration and this is really not a rocket science and is quite straight forward when you know where to write what you want.

We already have it and it's auto-generated by scylla_setup. It's located in /etc/scylla.d/perftune.yaml a

[2022-04-24 00:02] github-actions[bot] opened #10415 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 183   |
| ✅ Successful | 157   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 19    |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/guides/debugging.md
* [http://some.mirror.example/mirrors/scylla/versioned/2019100201/ubuntu/pool/main/s/scylla-gcc73/scy

[2022-04-24 06:11] tzach commented on #10407
Is the problem in nodetool or the REST API?

[2022-04-24 08:25] yarongilor commented on #10275
This issue might be a known scylla-bench problem. we may consider filtering out these s-b messages temporarily.

[2022-04-24 08:47] nyh opened #10417 "Filtering on map with subscript can crash or throw if the map is null"
This is a spinoff from #10399, which was about errors (and even crashes) when we have a filtering expression with a null subcript on a map column - e.g., `m[null] = 3` because null objects are being incorrectly deserialized. During that problem's debugging I found an more serious problem and am opening this issue for it:

Even if the expression is perfectly non-null, e.g., `m[2] = 3`, we can get s

[2022-04-24 08:50] nyh commented on #10399
The new "marshaling error" is a separate bug (that has nothing to do with the null in the query!) so I opened a separate #10417 for it.

[2022-04-24 08:55] DoronArazii commented on #2927
@tgrabiec can you please refer to last [comment](https://github.com/scylladb/scylla/issues/2927#issuecomment-1005671561) by @bhalevy ?

[2022-04-24 09:04] nyh commented on #10417
I was wrong that we need the column "s" or the two rows to reproduce this bug. The reproduction is just random (probably relying on some random values in memory). The following even simpler test seems to fail in about half the runs, and worse - it also crashed Scylla on a segmentation fault just like #10399:

[code]

[2022-04-24 09:30] bhalevy opened #10418 "Scylla 4.6 size_tiered_compaction_strategy estimated_remaining_tasks remains above 0"
Seen since https://jenkins.scylladb.com/job/scylla-4.6/job/dtest-release/41/testReport/junit/resharding_test/ReshardingTombstones_with_TimeWindowCompactionStrategy/disable_tombstone_removal_during_reshard_test/
[code]

Before that the test passed regularly but in 1 hour so I suspect this is a false positive...

[2022-04-24 10:10] slivne commented on #10356
@avikivity so do you want us to add a feature bit ?

[2022-04-24 10:12] slivne commented on #10262
@jul-stas ^^

[2022-04-24 10:14] slivne commented on #10251
@eliransin / @asias ping

[2022-04-24 12:59] DoronArazii commented on #7570
@asias
Is this solved for 5.0?

[2022-04-24 13:06] DoronArazii commented on #7720
@slivne #8030 is targeted to 5.1 - Do we want this issue to be solved on 5.0?

[2022-04-24 13:10] DoronArazii commented on #9919
@elcallio is it going to be solved for 5.0?

[2022-04-24 13:23] DoronArazii commented on #7840
@aleksbykov is it still reproduced?

[2022-04-24 13:36] bhalevy commented on #10218
@scylladb/scylla-maint needs backport to 5.0 as the root cause - a144d301620db27d8e5fe90568b98e1ae4090ed4 is there.

[2022-04-24 14:05] roydahan commented on #10275
Not a scylla issue.

[2022-04-24 14:05] #10275 closed

[2022-04-24 14:07] DoronArazii commented on #8927
@asias ping

[2022-04-24 14:39] avikivity commented on #10218
Backported to 5.0, earlier releases not vulnerable.

[2022-04-24 15:44] bhalevy opened #10421 "memtable::clear_gently crash in test_truncate_base_during_mv_insert_test_without_auto_snapshot"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/1182/artifact/logs-all.release.2/1650798403468_materialized_views_test.py%3A%3ATestMaterializedViews%3A%3Atest_truncate_base_during_mv_insert_test_without_auto_snapshot/node2.log
[code]

[code]

It looks like https://github.com/scylladb/scylla/blob/2325c566d9af608b1effc768edc174359f34558a/replica/database.cc#L1577

[2022-04-24 16:14] avikivity commented on #10421
2325c566d9af608b1effc768edc174359f34558a?

[2022-04-24 16:18] avikivity commented on #10405
Looks like a huge slowdown. It was even slow before the upgrade, so might not point to a regression, maybe a systematic issue.

[2022-04-24 16:24] avikivity commented on #10421
[code]

Aren't we missing a _memtables.clear() too? looks like it grows without bounds.

[2022-04-24 16:44] bhalevy commented on #10421
Yes, I think this change introduced the issue.

Correct, we do miss it.

[2022-04-24 16:48] bhalevy commented on #10421
Also, I think we need to synchronize with ongoing flushes.

[2022-04-24 18:09] avikivity commented on #10421
I'll revert it then, so it doesn't break other tests while we fix it.

[2022-04-24 20:28] #10395 closed

[2022-04-25 00:16] #10417 closed

[2022-04-25 00:16] #10361 closed

[2022-04-25 00:16] #10399 closed

[2022-04-25 00:16] #10421 closed

[2022-04-25 01:11] asias commented on #10251
There is no way scylla would start a rebuild without the api request. I suspect there is something in the sct started the rebuild after restart. Or scylla-jmx / nodetool did not cleanup the previous nodetool rebuild cmd correctly and send another api request by mistake.

The log shows:
[code]
This is an entry point from the rebuild api request. So the rebuild must be started my an api request.

[2022-04-25 01:18] asias commented on #8927
I think this is probably caused by the "deadlock caused by silent logger bug". The bug caused other deadlock issues and was mixed in recent branches.

I am closing it since it is not reproduced with latest build.

[code]

[2022-04-25 01:18] #8927 closed

[2022-04-25 01:38] asias commented on #10356
It is not about type more code. I think we do not need a cluster wide feature for each tiny minor thing.

1) It is completely ok for the node that does not support the repair off-strategy compaction.  It just ignores the off-strategy update.

2) It is ok for nodes that support repair off-strategy compaction to use off-strategy even if in a mixed cluster.

[2022-04-25 05:21] asias commented on #7570
https://github.com/scylladb/scylla/issues/7570#issuecomment-1014411968

The above repair failed because node running repair was being shutdown.

[code]

When a node was shutdown, peer node will remove repair instance of the node being shutdown, so we saw warnings like repair_meta_id 33088 for node 10.0.0.227 does not exist.

[2022-04-25 05:23] asias commented on #7570
The original issue was that node was marked down during repair.

With direct failure detector + deadlock fix for silent logger. I think the issue is fixed. I am closing this issue for now. Please reopen if we see similar issues.

[2022-04-25 05:23] #7570 closed

[2022-04-25 05:40] asias commented on #10337
Hello, 30s should be more than enough. Which scylla version are you using? I think it might be caused by a bug which could cause deadlock in some cases. The bug is fixed in recent release.

[code]

[2022-04-25 06:14] psarna commented on #10417
Do we need to backport the fix somewhere?

[2022-04-25 06:37] bhalevy commented on #10281
Reopening since a4be927e2314fd2cafdfc972555c345e8b5c6d90 reverted 2325c566d9af608b1effc768edc174359f34558a

[2022-04-25 06:51] psarna commented on #10262
@slivne there was still no response to your previous question set, particularly:

Neither Juliusz nor I found anything in the code that makes counter reads unique wrt. timeouts. Lack of retrying could explain the issue, but it's still not clear why it's counters that would time out more often than other things. Or maybe it's just a coincidence and some counter data landed on a hot shard.

[2022-04-25 06:57] nyh commented on #10417
As I answered Avi in https://github.com/scylladb/scylla/pull/10420, the specific evaluation function which I fixed in my patch was merged a month and a half ago, commit https://github.com/scylladb/scylla/commit/a8287a158ab06081725ed6087deb3c35f3898939 part of the merge https://github.com/scylladb/scylla/commit/9359a2caad3460ec1f23b70cdfdc3a83486e9ba0, so we surely had the same bug for a month and

[2022-04-25 07:02] nyh commented on #10417
@avikivity @benipeled do you know how come this issue didn't get a "backport candidate" tag yet despite being closed 7 hours ago? I see other issues closed by the same patch, like #10399, did get a backport candidate tag! Maybe our bot has a bug where it only adds this tag to one issue fixed by a patch instead of all of them?
I'll add the tag manually now.

[2022-04-25 07:25] slivne commented on #10415
@tzach ?

[2022-04-25 07:29] slivne commented on #10403
The crash is under the caching of index pages - I assigned tomek by default - not sure its correct. @bhalevy please double check.

[2022-04-25 07:29] tzach commented on #10415
This is a new tool reporting on broken links in the /doc directory

[2022-04-25 07:31] slivne commented on #10402
@vponomaryov where is the core ?

[2022-04-25 07:32] slivne commented on #10402
The crash is in master !!!

[2022-04-25 07:34] elcallio commented on #9919
@DoronArazii there are a number of changes both merged and awaiting approval that potentially addresses the above, but reducing the test to something a developer can run and compare results with would go a long way towards bot 100% identifying and solving said issue.

[2022-04-25 07:35] slivne commented on #10398
@elcallio the failed future is in tls handshake - I am not sure this is critical,  is this a known issue ? are we expected to get such issues if we shutdown cleanly ?

[2022-04-25 07:42] nyh commented on #10415
This is not what issues normally look like. You don't open a single issue listing 8 bugs, and tomorrow open another issue listing the same 8 bugs again because they still exist :-(

Good issues would be:
1. A single issue on a single problem.
2. Make sure the error is described well. The dead link https://github.com/scylladb/scylla/blob/master/mutation_reader.hh is real, but we could do better tha

[2022-04-25 07:47] nyh commented on #10415
Also @tzach what does the "report" tag on this issue supposed to mean? As I noted above, I don't think issues should ever be "reports", which I presume means some periodic statement of the current state. Issues should describe one newly-discovered problem.

[2022-04-25 07:50] slivne commented on #10384
@asias

repair was created it does exist as far as the user is concerned `repair id [id=1, uuid=db854db1-bd3c-4304-bacb-c14992a7866e]`

I disagree with this - we need to make abort work - not have the user check if abort worked and then attempt to abort again (and again ...).

I don;t think we should block the release on this - yet we need to fix this - we can list it as an open issue for 5.0.0

[2022-04-25 07:52] slivne commented on #10382
@tzach / @annastuchlik - is this expected to run every week ?

Can you auto-assign these issue ?

[2022-04-25 07:54] tzach commented on #10415
Look like this reports generate noise and does not lead to fixing broken links.
Lets close this, and w will send a new PR to disable this Github Action.

@dgarcia360 FYI

[2022-04-25 07:54] #10415 closed

[2022-04-25 07:55] slivne commented on #10372
potential regression in 5.0 in commitlog - please check this out - it may be a release blocker

[2022-04-25 07:56] tzach opened #10422 "Disable linkcheck report"
The  weekly broken link report cause too much noise, and better be disabled for this project.
For example
https://github.com/scylladb/scylla/issues/10415

[2022-04-25 07:56] tzach commented on #10422
@dgarcia360 can you please send a PR?

[2022-04-25 07:59] tzach commented on #10382
see https://github.com/scylladb/scylla/issues/10422

[2022-04-25 07:59] #10382 closed

[2022-04-25 08:00] slivne commented on #10370
@fgelcer / @bentsi / @yarongilor  we will not analyze this run - can we please have an updated run / have a run on 5.0 (we may have one already)

[2022-04-25 08:09] nyh commented on #10415
If you don't want to improve the automation, you can have this action mail the report to you, and then you can open good issues for the real problems.

By the way, please note that the link checker also appears to have some bugs. I see it reports that https://docs.google.com/document/d/1i4yjF5OSAazAY is a broken link. Well, that link is broken - but it's not the link in alternator.md... The real l

[2022-04-25 08:13] elcallio commented on #10398
The error is "Connection reset by peer", i.e. other end is gone. So it seems quite plausible this can happen if more than one node is shutting down. Unfortunately, assuming I read the above right, we don't really know the holder of the TLS socket, i.e. who is not catching this, and where...?

[2022-04-25 08:27] DoronArazii commented on #7748
@fgelcer is this issue still relevant?

[2022-04-25 09:41] yangly6207 commented on #10407
The port 10000 was up and the scylla servier was ok, so i think the problem is in nodetool.

[2022-04-25 10:04] ShlomiBalalis commented on #10392
Forgot to mention, The nodes were already terminated, the logs were added to the issue description.

[2022-04-25 10:19] slivne commented on #10271
how is decommissioning related to reshape = not clear to me

maybe  we hold sstables during streaming and they are compacted and new sstables are generated - not clear to me

I expect this is not a regression -but would need @bhalevy / @raphaelsc to validate.

[2022-04-25 10:24] slivne commented on #10068
@juliayakovlev does this happen without raft being enabled ?

If so we will remove the raft label.

[2022-04-25 10:25] slivne commented on #10068
@juliayakovlev if this is not related to raft please open a different issue -  https://github.com/scylladb/scylla/issues/10068#issuecomment-1076301837

[2022-04-25 10:25] slivne commented on #10068
/cc @roydahan

[2022-04-25 10:28] slivne commented on #9458
@avikivity this was fixed https://github.com/scylladb/seastar/issues/930 we need a backport in seastar

[2022-04-25 10:28] #9458 closed

[2022-04-25 10:30] avikivity commented on #10356
It's okay for you who wrote the code and understands it.

It's not okay for people who see an error and try to understand if there is something broken with their cluster.

Cluster features add a lot of boilerplate, but maybe we can have a helper that makes it a one-liner.

[2022-04-25 10:33] avikivity commented on #9458
Will track backport in #10238.

[2022-04-25 10:34] avikivity commented on #9458
Actually it was already backported.

[2022-04-25 10:50] avikivity commented on #10392
I need help to restore the monitor locally. I can't use hydra on my machine.

[2022-04-25 11:06] fgelcer commented on #7748
haven't seen it during last 4.5 runs

[2022-04-25 11:38] DoronArazii commented on #7748
Thanks, closing this issue.
Please reopen with you'll see it once again.

[2022-04-25 11:38] #7748 closed

[2022-04-25 11:51] DoronArazii commented on #7901
@aleksbykov is it still relevant?

[2022-04-25 12:15] roydahan commented on #10262
This timeout isn't unique to counters, we get it for every workload in scylla_bench.
AFAIK, scylla_bench doesn't have a retry mechanism and it just throw this message and move to the next key.

[2022-04-25 12:24] nyh commented on #7825
@kbr- can we close this issue? Was your problem fixed by the fix for #7740, or does a problem remain?

[2022-04-25 12:40] benipeled commented on #10417
AFAIK the backport-candidate script is looking for commits with the `Fixes #<num>` pattern,
I see you closed the commit that was linked to this issue, if you have no other merged commit with the required pattern the script will not gonna mark it as backport candidate.

[2022-04-25 13:11] nyh commented on #10358
This bug is not really specific to to equality comparisons. Perhaps in general, an UNSET_VALUE anywhere (or in most places?) in any WHERE expression (as opposed to an INSERT or UPDATE) should be considered an error. In commit 808a93d29bc8e4335e111201f99e4b2296ccc8d0 I fixed another bug involving an UNSET_VALUE in the WHERE expression `m[?]` which even led to a crash. So, perhaps instead of checkin

[2022-04-25 13:27] nyh commented on #10417
@benipeled commit 808a93d29bc8e4335e111201f99e4b2296ccc8d0 does have "Fixes #10417". The merge commit 728479a6eae6b1c00b214b59bdf13f33288452cb should have also had it but had a typo. Is it possible you only look for Fixes in **merge** commits and not in individual commits?

[2022-04-25 13:51] fruch commented on #10392
@avikivity
to get it running locally, docker is needed, https://docs.docker.com/engine/install/fedora/ (as @bentsi mentioned we don't support podman)

you can also use this jenkins job, which would create a VM in AWS with the monitoring data of this run:
https://jenkins.scylladb.com/view/QA/job/QA-tools/job/hydra-show-monitor/parambuild/?test_id=81cb61d9-8d3f-45ae-8b50-f7882b4a6af8

[2022-04-25 13:58] avikivity commented on #10392
I have podman on my machine, and I don't want to create an AWS instance to look at some metrics.

[2022-04-25 14:06] #7825 closed

[2022-04-25 14:14] bhalevy opened #10423 "Truncating a table during memtable flush might trigger an assert failure in ~flush_memory_accounter"
While investigating #10421 and trying to reproduce it with a unit test I hit this issue where
https://github.com/scylladb/scylla/blob/bcd35af7cf93eac9664a044816847521cfddb0ac/replica/memtable.cc#L546-L548
is triggered when truncating a table while there are memtable flushes in the background.

[2022-04-25 14:38] bhalevy commented on #10403
I wonder if this could have similarities to https://github.com/scylladb/scylla/issues/9446
@denesb please look into this issue too.

[2022-04-25 14:44] npeshek-spotx commented on #10337
I was on Scylladb 4.6.2. I have since upgraded the cluster to a custom compiled version with the timeout extended and I can get replaces to start finally. The other "symptom" I see is it takes a long time for gossip to "settle" on restart, on the range of several thousand seconds, and both of these behaviors seem to have started when we upgraded the cluster to the 4.6 series.

[2022-04-25 14:45] bhalevy commented on #10403
[code]

Decoded:
[code]

[2022-04-25 16:26] vladzcloudius opened #10427 "[regression]: a flow of picking up pre-calculated io_properties values is very unclear and bogus"
*Installation details*
Scylla version 4.6+:

*Hardware details*
Every "standard" setups.
Today these are as follows:
AWS: i2, i3, i3en
GCP: all instances that have a proper CPU-to-RAM ratio (e.g. n1's n2's, etc.) and have NVMes attached.

*Description*
Before this PR https://github.com/scylladb/scylla/pull/9957 if one runs `scylla_io_setup` on one of the "standard" setups it would not run `iotune`

[2022-04-25 16:27] vladzcloudius commented on #10427
@avikivity @tarzanek @eliransin FYI

[2022-04-25 19:56] raphaelsc commented on #10271
**gcGraceSeconds=864000**

defaultTimeToLive=900

compactionStrategyOptions={compaction_window_size=1, compaction_window_unit=MINUTES

**(864000+900) / 60 = 14400 windows**

with streaming, off-strategy is only enabled for bootstrap and replace.

so streaming-based decommission does perform segregation when creating new files, but to avoid exploding memory, we limit segregation to 100 windows, by

[2022-04-25 20:03] raphaelsc commented on #10271
Of course, 14385 (14400−(900/60)) windows would be expired (waiting for gc period), composed of tombstones, but that's still data that can be pushed through decommission to remaining nodes. Unless I am missing something... Thanks.

[2022-04-25 20:33] raphaelsc commented on #10271
As this is a longevity test, I think 1 min window is terribly small. We should be running with window of size ~5h (48h / 10), such that the total # of windows decrease considerably, even with gc period of 10d.

[2022-04-26 01:44] asias commented on #10356
It is not an error. It is just a warning message. The code works perfectly fine without a gossip feature. It works even better than with a gossip feature in this case, i.e. two peer nodes can use off strategy immediately without waiting for all nodes.

This happens *only* during upgrade. Do we recommend people run repair in the middle of upgrade, why? The repair will fail when rolling reboot happe

[2022-04-26 01:49] asias commented on #10384
I am not sure why are disagreeing with the workaround.

[code]

Of course, check again and again is not a solution.

Yes.

[2022-04-26 04:43] asias commented on #10384
PR is sent: https://github.com/scylladb/scylla/pull/10428

[2022-04-26 05:41] bhalevy commented on #10271
@aleksbykov see https://github.com/scylladb/scylla/issues/10271#issuecomment-1109013897

[2022-04-26 05:52] fruch commented on #10257
Happens again a few times when running with 2022.1:

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
OS / Image: `ami-071c70d20f0fdbb2c` (aws: eu-west-1)

Running monitor: http://54.77.168.104:3000/

@xemul you need more logs of this one ?

[2022-04-26 06:18] juliayakovlev opened #10429 "52747 "Too many in flight hints" cassandra-stress errors"
## Installation details

Kernel Version: 5.13.0-1017-aws
Scylla version (or git commit hash): `5.0~rc2-20220316.839d9ef41` with build-id `1319e7e64335b7e5c7531f773e92ef997b6c51ba`
Cluster size: 5 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-mv-si-4d-5-0-db-node-1bb24db5-9 (13.53.124.99 | 10.0.1.97) (shards: 14)
- longevity-mv-si-4d-5-0-db-node-1bb24db5-8 (13.53.182.167 | 10.0.3.1

[2022-04-26 06:18] juliayakovlev commented on #10068
https://github.com/scylladb/scylla/issues/10429

[2022-04-26 06:24] slivne commented on #10271
@bhalevy
 - decommission was aborted
 - the nodes that was restarted is the node that was trying to decommission not the nodes that received its data
 - Its clear that the nodes that receive the data from the decomissioning node may need to reshape
 - *Why would the node that attempting to decommission have todo reshape - thats still not clear*

@bhalevy / @raphaelsc all your explanations have wit

[2022-04-26 06:29] slivne commented on #10429
@piodul / @psarna
I know we worked to improve hinted handoff replay - and I think its actually supposed to be better - need to validate this in this run and see that we see what we expect a 1M hints maybe ok if we are writing 10M op/sec - I doubt that).

@avelanarius
We have constant issue with c-s and hints - and my concern is that this is also causing issue to customers we need to figure out bes

[2022-04-26 06:32] slivne commented on #10418
I don't really understand is this only in 4.6 branch ?
- if the bug is in master we merge first to master and then backport
- the patch should have a clear note which are the effected branches.

[2022-04-26 06:32] slivne commented on #10418
@bhalevy ^^

[2022-04-26 06:43] slivne commented on #10407
scylla-jmx is not bound to the localhost

[code]

as such you need to connect to that address
[code]

I saw that benny and felipe tried to help on the users mailing list

https://groups.google.com/g/scylladb-users/c/6_VZVRHTT5s

[2022-04-26 06:46] slivne commented on #10402
I doubt we can do anything without the coredump - the stack is "too small"

[code]

@bhalevy / @avikivity ?

@vponomaryov - can you try and see if this reproduces

[2022-04-26 06:56] slivne commented on #10337
@npeshek-spotx - 4.6.3 is out with the fix for (https://github.com/scylladb/scylla/issues/10337#issuecomment-1108099788) - can you try and see if that resolves your issue.

@asias 4.6. does have https://github.com/scylladb/scylla/issues/8488 - yet its not supposed to cause an issue / @npeshek-spotx gossip also has its own scheduling group - under advanced dashboard of monitoring you should be able

[2022-04-26 07:09] asias commented on #10337
It is not supposed to have such long gossip settle time. Please try 4.6.3 to see if helps.

[2022-04-26 07:40] bhalevy commented on #10402
[code]

Decode:
[code]

Cc @xemul

[2022-04-26 07:42] bhalevy commented on #10402
Could this be related to fa75d58cf0a9aa69ce0a7656f3dd603428726454?

[2022-04-26 07:47] bhalevy commented on #10418
I'm not sure exactly how, but the problem isn't manifested by this dtest in 5.0 or master, only in 4.6.
I presume it's related to the change in compaction_manager to use table state rather than table&, but I couldn't isolate the exact change or set of changes that fixed the symptom in 5.0.

That said, the fix makes sense and applies to master so it better be fixed there and backported, even if it'

[2022-04-26 08:50] elcallio commented on #9331
I can't seem to get resolved lines out of that AMI... The scylla-packaged python addr2line is missing, and trying to use scripts with local (apt) packages fails due to version mismatches (?). Even trying to use native elfutils on the scylla exec just dies... Is there debug info installed into the AMI?

[2022-04-26 09:00] nyh opened #10431 "Alternator: support new table attribute "TableClass""
DynamoDB [announced](https://aws.amazon.com/blogs/aws/new-dynamodb-table-class-save-up-to-60-in-your-dynamodb-costs/) in December 2021 a new attribute of a table, called _table class_. The choice of "table class" doesn't change anything in the table's capabilities - it just controls the way it is stored: There are currently two options ([described here](https://docs.aws.amazon.com/amazondynamodb/l

[2022-04-26 09:03] vponomaryov commented on #10402
@slivne
The next one multi-dc rolling upgrade weekly run failed the same way AND, this time, with successfully saved core file.

## Installation details

Kernel Version: 5.13.0-1021-aws
Base Scylla version: `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Target Scylla version: `5.1.dev-0.20220421.cc40685c288f` with build-id `fde9a351743afef6ce27c7787712211d9ee

[2022-04-26 11:59] yarongilor opened #10435 "(ReadTimeoutException): Cassandra timeout during read query at consistency QUORUM (2 responses were required but only 1 replica responded) after nodetool cleanup"
## Installation details

Kernel Version: 5.11.0-1022-aws
Scylla version (or git commit hash): `4.7.dev-20220407.3e21fea2b` with build-id `d7c55eaaa9df57f9f445c73c5e983cae6ea272c3`
Cluster size: 6 nodes (r5b.2xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-master-db-node-96eef9fb-7 (52.16.169.40 | 10.0.3.10) (shards: 8)
- longevity-100gb-4h-master-db-node-96eef9fb-6 (3.250.173.56 | 10.

[2022-04-26 12:33] yarongilor opened #10436 "cqlsh describe-keyspace command fails with ReadTimeout while adding a new node"
## Installation details

Kernel Version: 5.11.0-1022-aws
Scylla version (or git commit hash): `4.7.dev-20220407.3e21fea2b` with build-id `d7c55eaaa9df57f9f445c73c5e983cae6ea272c3`
Cluster size: 6 nodes (r5b.2xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-master-db-node-96eef9fb-7 (52.16.169.40 | 10.0.3.10) (shards: 8)
- longevity-100gb-4h-master-db-node-96eef9fb-6 (3.250.173.56 | 10.

[2022-04-26 14:52] fgelcer commented on #5610
i'm still seeing such failure in rolling upgrade test (from 4.4 to 4.5.6)

[sct logs](https://cloudius-jenkins-test.s3.amazonaws.com/dff76c5b-2455-4356-8b37-949ac8279429/20220425_232304/sct-runner-dff76c5b.tar.gz)
[db logs](https://cloudius-jenkins-test.s3.amazonaws.com/dff76c5b-2455-4356-8b37-949ac8279429/20220425_232304/db-cluster-dff76c5b.tar.gz)
[loader logs](https://cloudius-jenkins-test.s3.a

[2022-04-26 16:52] fruch commented on #5610
@fgelcer did it happen on 4.4 ? i.e. before the upgrade ?
ו

[2022-04-26 16:59] fgelcer commented on #5610
i was sure i wrote it down, but it happened after we upgraded the 2nd node (so we are having an hybrid cluster, with 2 nodes having 4.4 and 2 nodes having 4.5), in the verification just after the 2nd node is started after upgrade...

[2022-04-26 18:01] fruch commented on #5610
So it can be from 4.4 node which didn't got this fix. since we are not releasing more 4.4 releases.

[2022-04-26 18:47] twunderlich-grapl opened #10439 "hwloc-induced crash on ChromeOS [Scylla terminated by SIGFPE on startup on ChromeOS]"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): Tested on 4.5.0,  4.5.4, 4.6.0 ,

[2022-04-26 19:07] avikivity commented on #10402
Possible culprit: fa75d58cf0a9aa69ce0a7656f3dd603428726454

[2022-04-26 19:27] avikivity commented on #10439
Please share the output of `lstopo-no-graphics` (may need to install the hwloc package). Scylla is confused by the cpu topology.

[2022-04-26 19:28] avikivity commented on #10439
Ah, you already noticed it's hwloc related. Anyway, run it from both host and container to see what stands out.

[2022-04-26 20:52] twunderlich-grapl commented on #10439
Hi @avikivity,

Running from both the host and the container results in `Floating point exception (core dumped)`

Dmesg
[code]
(gdb) break sched_setaffinity
Function "sched_setaffinity" not defined.
Make breakpoint pending on future shared library load? (y or [n]) y
Breakpoint 1 (sched_setaffinity) pending.
(gdb) n
The program is not being run.
(gdb) run
Starting program: /usr/bin/hwloc-ps
warning

[2022-04-26 21:16] twunderlich-grapl commented on #10439
Ah well here's something interesting. Reading through https://github.com/open-mpi/hwloc/issues/525, I decided to try their debug steps.

HOST
lstopo --version
2.4.1

[code]

From within the container
[code]

[2022-04-26 21:37] avelanarius opened #10440 "Regression: batch with prepared stmts can cause (Java) driver to infinite loop re-preparing"
Affected versions: 5.0.rc0+, 2022.1.rc0+

After `Loading cache improve eviction use policy` series was merged, batches with prepared statements can now cause (Java) driver to infinite loop re-preparing the statements. This Java reproducer:

[code]

works correctly for the first ~5000 iterations and then goes into an infinite loop of:
[code]

after that you can rerun the reproducer with `ITER_COUNT

[2022-04-26 21:45] #10351 closed

[2022-04-26 21:52] twunderlich-grapl commented on #10439
I think we've found a potential root cause of the issue:
https://bugs.chromium.org/p/chromium/issues/detail?id=1304418

hwloc has released a workaround as of 2.7.1: https://github.com/open-mpi/hwloc/commit/33b555b5a1c8339daeb4215bad57430b57a6b33f

I'm going to test using the newest release of hwloc

[2022-04-26 22:16] avelanarius commented on #10440
TRACE logs of `prepared_statements_cache` describing how it is updated during "Re-preparing already prepared query":

[code]

[2022-04-26 22:35] avelanarius commented on #10440
Replacing md5 hashes with query strings in TRACE log from previous comment:

[code]

What is interesting is that the issue is not `INSERT INTO` evicting `UPDATE` and then `UPDATE` evicting `INSERT INTO`, but as you can see from the logs it's a case that one `INSERT INTO` (with one padding configuration) interacting with another `INSERT INTO` (with a different padding configuration).

[2022-04-26 23:19] raphaelsc commented on #10271
analysis done on logs from node attempting decommission: **10.0.1.46** / **longevity-twcs-48h-2022-1-db-node-5e9bfd25-4**:

node **10.0.2.206** was decommissioned at 04-14T12:53:
`
2022-04-14T12:53:03+00:00 longevity-twcs-48h-2022-1-db-node-5e9bfd25-4 !    INFO |  [shard 0] storage_service - decommission[d8cbf20b-c882-4e36-8503-f97f8f6a5eb3]: Added node=10.0.2.206 as leaving node, coordinator=10.0

[2022-04-26 23:28] avelanarius commented on #10440
The previous snippet might have been an outlier (although it repeated thousands of times). This snippet (which repeats a similar number of times) looks more reasonable - `INSERT INTO` evicting `UPDATE` and then `UPDATE` evicting `INSERT INTO`:

[code]

[2022-04-27 02:50] twunderlich-grapl commented on #10439
@avikivity,
After replacing the hwloc dynamically linked lib in /opt/scylladb/libreloc/libhwloc.so.15 manually I was able to at least run the scylla command without it crashing:
[code]

I'm not sure if you would consider upgrading the version of hwloc you have, if not I'll plan on creating a custom container for the moment until ChromeOS fixes their bug.

[2022-04-27 02:51] avelanarius commented on #10440
A better reproducer, which describes where I believe the problem lies (fundamental (?) flaw of two-tier PREPARED cache):

[code]

[2022-04-27 06:31] fruch commented on #9823
@asias some of those are warnings, but some are printed with error level, can we at least make sure they are all warnings in this case ? or we should ignore those during repairs in our case of dropping tables in the middle of repair ?

FYI this test case (nemesis) was added to test https://github.com/scylladb/scylla/commit/c02fea5f04bc239b0c6ccfffea5d4a6dae235de3

[code]

[2022-04-27 06:31] bhalevy commented on #10418
@scylladb/scylla-maint please backport 01f41630a50ea7abaf59b7445c5a597dbe665e0b to 5.0 and 4.6

[2022-04-27 06:36] fruch commented on #10392
@avikivity, can you try this version ? https://github.com/scylladb/scylla-cluster-tests/pull/4648

[code]

[2022-04-27 06:37] slivne commented on #9505
So @xemul  https://github.com/scylladb/scylla/issues/9505#issuecomment-1098944194 after fixing the pinning does your rpc simulator reproduce this ?

[2022-04-27 06:53] bhalevy commented on #10307
I came to the conclusion that the following are pretty much inevitable:
- unfreeze in `table::push_view_replica_updates` is needed since the apply path to the database requires a frozen_mutation (since it is applied across shards) and do_push_view_replica_updates upgrades the mutation schema so it requires a mutation to upgrade.
- apply_with_commilog(const mutation&) freezes the mutation since the

[2022-04-27 06:54] denesb commented on #10307
I agree, this is not worth the effort, closing.

[2022-04-27 06:54] #10307 closed

[2022-04-27 06:56] bhalevy commented on #10083
@havaker anything else to be done or can this issue be closed with https://github.com/scylladb/scylla/issues/10131?

[2022-04-27 06:58] slivne commented on #8012
Pushing this out - lets go back to this on the next CDC call.

[2022-04-27 06:59] avikivity commented on #10439
We source our hwloc from Fedora. So two things need to happen: Fedora upgrades their hwloc (you can help it out by filing a Fedora bug) and we update our baseline Fedora version (currently blocked on compiler problems, but we are working on fixing them). So it's good you have a workaround for the near term.

[2022-04-27 07:01] slivne commented on #7840
pushing it out - it was not a regression and never passed - we still should followup and understand the issues it uncovers

[2022-04-27 07:04] bhalevy commented on #4076
To summarize our 1:1 discussion: we could have a constant (normalized) cost per sstable + variable cost proportional to the sstable data size such that many small sstables will still contribute the backlog.
We need to do some research to find out the coefficients for `C + F * data_size / mem_size`

[2022-04-27 07:05] slivne commented on #7726
closing this issue - there is a doc issue about this.

[2022-04-27 07:05] #7726 closed

[2022-04-27 07:06] bhalevy commented on #10314
@tgrabiec following up on our conversation, here's the dtest I mentioned that triggers stalls on the reconciliation (read repair) path: https://github.com/scylladb/scylla/issues/10314#issuecomment-1085852481

[2022-04-27 07:06] slivne commented on #7720
moving this out to 5.1

[2022-04-27 07:09] slivne commented on #8706
@kostja - @juliayakovlev is able to reproduce this - lets have a look and understand whats going on - I am not sure this is a regression - so we may not wait for a fix - but lets do some analysis as to what is happening in this case.

[2022-04-27 07:57] nyh commented on #4244
This issue is reproduced by the translated Cassandra unit test `cassandra_tests/validation/operations/select_test.py`::`testFilteringWithMultiColumnSlices`

[2022-04-27 08:29] avikivity commented on #10440
Note, any cache will exhibit this behavior when it overflows, if the batch size is greater than the cache size.

We can't solve it completely, but we can reserve some minimum size for the non-privileged section.

[2022-04-27 08:30] avikivity commented on #10440
I'd give 50% for each section. The 50% for the non-privileged section is needed to give a prepared statement some time to graduate.

[2022-04-27 08:33] bhalevy commented on #10271
Thanks for the analysis @raphaelsc. It is enlightening!

[2022-04-27 08:35] slivne commented on #10440
I don't understand is this a regression ?

will this test also fail on 4.6 and earlier releases ?

[2022-04-27 09:29] ShlomiBalalis commented on #10322
The issue happened again in the rolling upgrade ami test of master:

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- rolling-upgrade-master-centos-db-node-000670ad-4 (34.251.74.54 | 10.0.1.236) (shar

[2022-04-27 10:40] psarna commented on #10440
@slivne it is a regression, this test used to succeed

[2022-04-27 10:51] tgrabiec commented on #10308
Duplicate of https://github.com/scylladb/scylla/issues/4116 ?

[2022-04-27 10:58] #10308 closed

[2022-04-27 11:07] slivne commented on #10356
@asias please add a feature bit and we will backport ...

[2022-04-27 11:20] asias commented on #10356
As far as I can tell we are still in discussion, no?

[2022-04-27 11:51] avikivity opened #10442 "nodetool complains about malformed ipv6 addresses"
[CASSANDRA-17581](https://issues.apache.org/jira/browse/CASSANDRA-17581)

[2022-04-27 12:09] nyh opened #10443 "SELECT with IN and ORDER BY orders rows per partition instead of for the entire response"
Scylla (and Cassandra) allow IN and ORDER BY to be combined - but only in an unpaged query, where the server can sort the single page of results and doesn't need to handle paging of multiple streams from the multiple IN option).

For example,
[code]

This SELECT selects various rows from two separate partitions 21 and 31, but is then supposed to sort all the resulting rows by a descending b. This

[2022-04-27 13:09] ShlomiBalalis opened #10446 "Node aborted after rolling upgrade - `forward_result::merge(): operation cannot be completed due to invalid argument sizes.`"
## Installation details

Kernel Version: 3.10.0-1160.59.1.el7.x86_64
Scylla version (or git commit hash): `5.0.rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-centos-db-node-ccf52aa1-0-4 (35.243.147.153 | 10.142.0.137) (shards: 8)
- rolling-upgrade-master-centos-db-node-cc

[2022-04-27 15:37] aleksbykov commented on #10271
@bhalevy i will update sct test

[2022-04-27 18:51] twunderlich-grapl commented on #10439
I've confirmed that the workaround works.
For anyone else that encounters this prior to ChromeOS fixing their bug, the way to workaround this is to download hwloc 2.7.1+, compile it (./configure, make, make install) and then replace `/opt/scylladb/libreloc/libhwloc.so.15` with the compiled version (as of 2.7.1 it should be `/usr/local/lib/libhwloc.so.15.5.3`)

[2022-04-27 18:51] #10439 closed

[2022-04-27 22:38] #10442 closed

[2022-04-28 06:34] fgelcer commented on #10257
i'm seeing it on alternator longevity for 4.5.6:

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.6-0.20220424.85d3fe744`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   alternator-3h-4-5-db-node-6ef7edc2-1 (16.16.66.22 | 10.0.0.60): 14 shards
   alternator-3h-4-5-db-node-6ef7edc2-2 (13.51.13.163 | 10.0.2.56):

[2022-04-28 07:20] juliayakovlev commented on #10291
Reproduced in `2022.1.rc3`

It began right after c-s load was started

[code]

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 3 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- system-sla-2022-1-db-node-d1c7104e-3 (18.203.127.238 | 10.0.3.67) (sh

[2022-04-28 07:24] juliayakovlev commented on #10429
Reproduced in `2022.1.rc3`

19131 errors from cassndra-stress:
[code]

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 3 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- system-sla-2022-1-db-node-d1c7104e-3 (18.203.127.238 | 10.0.3.67) (shards: 8)

[2022-04-28 07:59] ShlomiBalalis opened #10447 "Multiple error messages when node is drained - `Exception when communicating with 10.142.0.30`, `abort requested`"
## Installation details

Kernel Version: 5.13.0-1024-gcp
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-ubuntu-focal-db-node-e454ae74-0-4 (34.75.26.179 | 10.142.0.125) (shards: 8)
- rolling-upgrade-master-ubuntu-focal-db-node-e454

[2022-04-28 08:12] nyh opened #10448 "The CQL token() function should validate its parameters"
As [our documentation of the `token()` function](https://docs.scylladb.com/getting-started/functions/) explains,

If the number or type of arguments passed to `token()`'s do not match the requirements of the partition key, an invalid request error should be thrown. Currently it is not - the SELECT seems to silently match nothing but I'm worried that under the hood it might be doing something undef

[2022-04-28 08:16] slivne commented on #10442
@avikivity please backport - we are seeing users complaining

[2022-04-28 08:17] slivne commented on #10421
@bhalevy is 5.0 vulnerable as well ?

[2022-04-28 08:20] bhalevy commented on #10421
No, it isn't.

[2022-04-28 08:21] slivne commented on #10383
Prior to releasing .0 releases: an issue will be created on enterprise only if its related to an enterprise only feature, all the rest will be tracked on OSS

[2022-04-28 08:22] slivne commented on #10383
@raphaelsc to make it clear do we need to backport https://github.com/scylladb/scylla/commit/a1d0f089c8b30316f1507fe0ac3d7d9a0b0b6067 to 5.0 to fix this ?

[2022-04-28 08:29] slivne commented on #10446
@kostja - assigning this to your team - need to split the load.

[2022-04-28 08:36] avikivity commented on #10442
Backported to 5.0, 4.6, 4.5.

[2022-04-28 08:50] denesb opened #10450 "database::drop_column_family(): has a window where new queries can be created for the dropped cf"
When such an entry expire, it will cause a crash because destroying the reader objects requires the table object to be around (which obviously isn't after the drop).
https://github.com/scylladb/scylla/blob/333fdcb3f544a6fc2ef3066e2ddbf1bde18cb7a1/replica/database.cc#L930-L936

Even though all querier cache entries related to the to-be-dropped table are removed by `database::remove()`, a read runni

[2022-04-28 08:58] slivne commented on #10436
@yarongilor / @fgelcer - why an old image (Scylla version (or git commit hash): 4.7.dev-20220407.3e21fea2b with build-id d7c55eaaa9df57f9f445c73c5e983cae6ea272c3
)

?

If we are still clearing some backlog please double check the images are "new"

[2022-04-28 09:39] kostja commented on #10446
@ShlomiBalalis can the bug be triggered by restarting the job?

[2022-04-28 09:49] juliayakovlev commented on #10405
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 3 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- system-sla-2022-1-db-node-d1c7104e-3 (18.203.127.238 | 10.0.3.67) (shards: 8)
- system-sla-2022-1-db-node-d1c7104e-2 (34.250.44.179 | 10.0.1.153) (s

[2022-04-28 09:56] gleb-cloudius commented on #10446
@havaker it looks like this is yours. Any ideas?

[2022-04-28 11:06] slivne commented on #10440
Decision: we will revert this - next version should have a solution for this as well

[2022-04-28 11:09] slivne commented on #10440
@avelanarius - where is this test running ? is it a driver test ?

We may be missing tests that try to fill the prepared statements cache - need to see if we can add this in the unitests

[2022-04-28 11:10] ShlomiBalalis commented on #10446
I can try, but there is no guarantee it will be recreated. Do need a live node?

[2022-04-28 11:13] slivne commented on #10372
@xemul - can you have a look at this - since 5.0 has a new i/o scheduler - one of the goals was to make sure compaction doesn't take over all bandwidth (it can have higher shares but not "steal").

[2022-04-28 11:24] avikivity commented on #10440
It turns out to be too difficult to revert due to important follow-on patches. @avelanarius please try to create a fix quickly, otherwise I'll try the revert again.

[2022-04-28 11:30] raphaelsc commented on #10383
thanks for the explanation.

[2022-04-28 11:33] avikivity commented on #10446
@kostja with a core dump, you often don't need a reproducer. In any case it's @havaker's bug.

[2022-04-28 11:40] avikivity commented on #10392
It starts by asking questions:

[code]

btw it would be nice to detect the tool automatically.

[2022-04-28 11:41] avikivity commented on #10392
[code]

[2022-04-28 11:43] avikivity commented on #10392
It will also be nice not to sudo stuff.

[2022-04-28 11:48] psarna commented on #10446
@havaker please take a look

[2022-04-28 11:49] avelanarius commented on #10440
I initially observed it in Java Driver 3.x integration tests. The reproducers posted I made myself and they are not run anywhere. Note that Java Driver integration tests do not specifically try to overwhelm prepared statement cache - the problem was observed in normal execution of tests (but there are lots of tests, so prepared statement cache filled naturally).

[2022-04-28 11:49] denesb commented on #10403
We crash in:
https://github.com/scylladb/scylla/blob/d293bd95799d1c6b731c1739800d6a148c4b15e5/sstables/consumer.hh#L609-L612

[code]
We are trying to fast-forward to a smaller position.

[2022-04-28 11:52] avelanarius commented on #10440
@avikivity Am I correct that the best idea right now is to enforce the minimum size of the "unprivileged section" of the prepared statement cache? (cc @vladzcloudius) Alternatively, I could do poor man's revert: comment out promotion from unprivileged to privileged, so that effectively there is only one tier.

[2022-04-28 12:29] denesb commented on #10403
We are reading from 713 sstables, wow.

[2022-04-28 13:08] KnifeyMoloko opened #10453 "Gemini test fails on warmup phase with Validation failed: row count differ"
## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.1.dev-20220421.cc40685c288f` with build-id `fde9a351743afef6ce27c7787712211d9ee8f41f`
Cluster size: 3 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- gemini-1tb-10h-master-oracle-db-node-ed9b280b-1 (54.77.240.103 | 10.0.0.96) (shards: 14)
- gemini-1tb-10h-master-db-node-ed9b280b-3 (34.240.55.239 |

[2022-04-28 13:26] denesb commented on #10403
@tgrabiec did you happen to write a gdb script which can iterate over `bplus_tree`? I started working on one, let me know if you have something, to avoid duplicating effort.

[2022-04-28 13:29] havaker commented on #10446
It looks very similar to #10174. I hoped that fixes added by #10174, #10185 & #10329 would fix this behavior, but it seems like it didn't work.

I have exhausted all my ideas why this abort happens. I suspected
- [lifetime issues](https://github.com/scylladb/scylla/pull/10329/commits/e170961b4dda2702f4587650ec71efcc0598c33d)
- [implicit capture lists capturing something unwanted](https://github.co

[2022-04-28 13:43] roydahan commented on #10200
@DoronArazii / @slivne please assign

[2022-04-28 13:47] slivne commented on #10446
At least this bug was opened on 5.0.rc3-20220406.f92622e0d and I am not sure the backports have been done - can you please check if they have been done and if not request backports

[2022-04-28 13:48] havaker commented on #10446
Oops i wrote that too early.

I think that there still might be some lifetime issues in the dispatching code.
https://github.com/scylladb/scylla/blob/de0ee13f4548c24b02a2e85415c44d37a0296eaa/service/forward_service.cc#L219
This lambda takes a reference to the `req` function parameter into it's capture list. `&req` is then used between await points and, from what i know, this can cause some weird b

[2022-04-28 13:48] slivne commented on #10446
Ohh ... the crash in 5.1 code not 5.0

[2022-04-28 14:03] ultrabug commented on #10349
Indeed as Shlomi said we often run into the case where we get server logs that we can't trace back to applications.

Since our applications are tied to dedicated users, this would be of great help to get the information of the "owner" of a log / trace to help pinpoint which application (or user) is misbehaving.

MongoDB does this for a while indeed, and it has proven useful numerous times :+1:

Of

[2022-04-28 14:09] fgelcer commented on #10435
@yarongilor must pay more attention to the version being used, and this was related to an issue with scylla-pkg...
i'm not sure this issue was already addressed, but IMHO we can close it, and if seen again, we will report a new one, or re-open this one.

[2022-04-28 15:10] roydahan commented on #10405
@slivne / @DoronArazii, this one also need to be looked at.
relevant for 5.0 & 2022.1

[2022-04-28 15:12] roydahan commented on #10429
@slivne why is it target to 5.1?

[2022-04-28 15:17] rayakurl opened #10455 "artifacts-ubuntu1804-test, artifacts-debian10-arm-test and artifacts-debian10-test failed due to systemd-timesyncd is inactive instead of activating it"
## Installation details

Cluster size: 1 nodes (n1-standard-2)

Scylla Nodes used in this run:
- artifacts-ubuntu1804-jenkins-db-node-ea949929-0-1 (34.138.6.71 | 10.142.0.105) (shards: -1)

OS / Image: `https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts` (gce: us-east1)

Test: `artifacts-ubuntu1804-test`
Test id: `ea949929-ab2e-44b9-8fa7-cc4c453a13f

[2022-04-28 15:19] ns-sjorgedeaguiar commented on #10135
I was having the same issue with 4.6, but removing `platform: linux/amd64` fixes it for me.

[2022-04-28 15:32] fruch commented on #10392
yeah, I need to prepend docker.io to the image name...

which version of podman you have ?

It was working for me on this version:
[code]

[2022-04-28 19:35] raphaelsc opened #10458 "Off-by-one in formula used by LCS reshape to calculate ideal output level"
LCS reshape uses the following formula to calculate target level for a given input set:

[code]

`input_set_size / max_fragment_size` calculates the # of fragments, but it can be missing the last fragment, if not filled up to max_fragment_size, therefore off-by-one.

It's unlikely to happen in real world, but it can happen under the following conditions:

1) input set for reshape has total size of

[2022-04-29 01:03] #10410 closed

[2022-04-29 08:43] psarna opened #10459 "Implement (time)UUID-based SSTable generation numbers"
With UUID- or timeUUID-based generation numbers, we achieve globally unique identifiers for SSTables, which can be a foundation for multiple interesting projects, like shared storage.

The timeUUID-based idea comes from @raphaelsc's comment here: https://github.com/scylladb/scylla/pull/10404#issuecomment-1105620744

/cc @raphaelsc @avikivity

Ref:
* https://issues.apache.org/jira/browse/CASSANDRA-

[2022-04-29 13:22] havaker commented on #10083
@bhalevy I think it should be closed.

[2022-04-29 13:48] KnifeyMoloko opened #10460 "Repair failed after RemoveNodeThenAddNode failed to properly remove node"
## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.1.dev-20220421.cc40685c288f` with build-id `fde9a351743afef6ce27c7787712211d9ee8f41f`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-acecfe6e-9 (54.194.242.138 | 10.0.1.123) (shards: 8)
- longevity-twcs-48h-master-db-node-acecfe6e-8 (34.243.183.

[2022-04-29 13:50] tarzanek opened #10461 "please provide an auth cache flush API"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubun

[2022-04-29 15:13] soyacz opened #10462 "Too many open files during terminate and replace node (scale test)"
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (i3.metal)

Scylla Nodes used in this run:
- longevity-many-clients-4h-5-0-db-node-4133baf8-5 (54.216.121.122 | 10.0.1.85) (shards: 70)
- longevity-many-clients-4h-5-0-db-node-4133baf8-4 (54.246.175

[2022-04-29 16:43] #10083 closed

[2022-04-29 16:55] raphaelsc commented on #10462
10.0.1.85, which is the replacing node, triggered the problem

there are 50 keyspaces, with 1 table each

so 50 tables total

at peak, ~5600 sstables opened for each shard = 390k sstables across all 70 shards.

~5600 sstables / 50 keyspaces / shard = ~112 sstables / keyspace / shard

~400k sstables found in data dir:

[code]

which should translate into ~805k file descriptors opened

OS metric rep

[2022-04-29 17:59] avelanarius opened #10463 "Add metrics for memory footprint/count of entries in different sections of prepared statement cache"
A potential follow-up to #10456. This PR introduced separate bookkeeping of memory footprint of privileged/unprivileged section of `loading_cache`. Those values could be exposed as metrics of prepared statements cache (and other structures that use `loading_cache`).

[2022-04-29 18:14] raphaelsc commented on #10462
[code]

52780 / 70 = 754 ranges per shard

Sum of those ranges == 518654

With repair creating one sstable for each range, we have 518654 sstables, and 1037308 (data + index) file descriptors. enough to exhaust limit of 1048576.

For each keyspace with RF=3, we will create ~754 * SMP_COUNT.

This test has 50 keyspaces and 70 shards, so by completion, it would create 754×70×50=2639000 sstables. Whi

[2022-04-30 02:03] #10379 closed

[2022-04-30 02:03] #10450 closed

[2022-04-30 12:54] yangly6207 commented on #10407
Thanks! I tried with the -h parameter, but it did not work normally:
`[root@node1 /]# ps -ef
UID          PID    PPID  C STIME TTY          TIME CMD
root           1       0  0 12:45 ?        00:00:00 /opt/scylladb/python3/bin/python3 /opt/scylladb/python3/bin/../libexec/python3.9.bin -s /docker-entrypoint.py
root          26       1  0 12:45 ?        00:00:00 /usr/bin/python /usr/bin/supervisord

[2022-05-01 00:03] github-actions[bot] opened #10464 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 183   |
| ✅ Successful | 157   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 19    |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/guides/debugging.md
* [http://some.mirror.example/mirrors/scylla/versioned/2019100201/ubuntu/pool/main/s/scylla-gcc73/scy

[2022-05-01 05:24] tzach commented on #10464
Closing.
https://github.com/scylladb/scylla/pull/10434 will disable this action once merged.

[2022-05-01 05:24] #10464 closed

[2022-05-01 06:17] bhalevy commented on #10083
fe65122ccd40a2a3577121aebdb9a5b50deb4a90 is in maser (5.1.dev) only so no backport is needed at the moment.

[2022-05-01 06:41] bhalevy commented on #10462
I totally agree with that.  I already suggested in the past to trigger offstrategy compaction during repair if there are enough sstables already in the maintenance set.

Whether it be per table, per keyspace, per shard, or a global threshold, I'm not sure.  The file descriptor limit is global so it is fairly easy to come up with a sensible global or per-shard threshold (assuming the inter-shard va

[2022-05-01 08:15] bhalevy commented on #10418
@scylladb/scylla-maint ping

[2022-05-01 10:40] eliransin commented on #10335
hi @codingcuisg

The permissions themselves are cached in the common cache (consequence calls to the same query will "fetch" results from RAM and not disk) - this fact is true for all of the queries, not only internal ones.
Moreover, the permissions themselves aren't checked every time the query is run (if it is prepared of course) and only checks
permissions prior to preparation of the query.

Yo

[2022-05-01 11:11] slivne commented on #10462
@fgelcer  need to understand if this is a regression from 4.6 or not

@bhalevy if this is a regression we need to fix it prior to 5.0 going out.

[2022-05-01 11:15] slivne commented on #10429
According to @roydahan this is a regression compared to 4.6 https://github.com/scylladb/scylla/issues/10146 (maybe a duplicate)

[2022-05-01 11:17] slivne commented on #10429
@piodul / @psarna - @eliransin is doing a bisect so we should have some answer as to what maybe causing this.

[2022-05-01 13:30] fruch opened #10466 "scylla_setup failing on platforms that timesyncd isn't installed"
Since 48b6aec16a76f8cd60babf97cede99e7c0e50db1, scylla_setup is failing in platforms where `timesyncd` isn't installed:

[code]

Jenkins run:
https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-ubuntu1804-test/529/

[2022-05-01 13:40] fruch commented on #10466
duplicate of #10455

[2022-05-01 13:40] #10466 closed

[2022-05-01 13:41] fruch commented on #10455
Seem like the root cause if 48b6aec16a76f8cd60babf97cede99e7c0e50db1 @syuu1228 can you take a log, I think using the `out()` for `is-active` is the cause

[2022-05-01 14:26] avikivity commented on #10450
Backported to 4.5, 4.6, 5.0.

[2022-05-01 16:37] raphaelsc commented on #10462
Commit 97bb2e47ff004b32b2d72f1b1f085710a14cb4e2, present in 4.6.0, enables repair-based replace by default. All tables use STCS, meaning no data segregation involved, and commit a4053dbb721707ddedb4910efc487042134ad013 is also available at 5.0 branch. So potentially not a regression but rather a preexisting issue. But I can be missing something, so let's wait for @fgelcer to confirm it.

[2022-05-02 01:10] #10440 closed

[2022-05-02 01:10] #10335 closed

[2022-05-02 06:05] slivne commented on #10460
I don't understand why repair should fail ?

Are we running repair while an active topology change (adding / removing node) is being done ?

[2022-05-02 06:12] slivne commented on #10453
Does this reproduce - easily,  if you start again with the same seed ? how long does it take to reproduce ?

If this reproduces - @kostja I'll assign to your team

[2022-05-02 06:14] slivne commented on #10356
@avikivity - please confirm that you requested a feature bit be added so @asias can work on that.

[2022-05-02 06:59] slivne commented on #10117
@avikivity backport ping

[2022-05-02 07:01] bhalevy commented on #4186
ping @tgrabiec / @cmm
is there anything left to be done here or can the issue be closed?

[2022-05-02 07:18] bhalevy commented on #2361
Recent stalls in "[scylla-perf-results] Performance Regression Compare Results - PerformanceRegressionCDCTest.test_mixed_throughput - 5.1.dev - 2022-05-01 07:16:36.190302"
build date: 2022-04-28
commit id: 333fdcb3f544
build-id: 415dea72992f5c04c11c4171a5b878d2e1c48fa9

For example:
[code]

Decoded:
[code]

[2022-05-02 07:20] bhalevy commented on #10038
A recent example from "[scylla-perf-results] Performance Regression Compare Results - PerformanceRegressionCDCTest.test_mixed_throughput - 5.1.dev - 2022-05-01 07:16:36.190302"
build date: 2022-04-28
commit id: https://github.com/scylladb/scylla/commit/333fdcb3f544a6fc2ef3066e2ddbf1bde18cb7a1
build-id: 415dea72992f5c04c11c4171a5b878d2e1c48fa9

[code]

Decoded:
[code]

[2022-05-02 07:24] slivne commented on #7429
@bhalevy was this backported to 2021.1  ?

[2022-05-02 07:28] slivne commented on #10277
Lets update the test and allow a longer timeout.

Lets allow 10 minutes for this to complete.

I don't think we really need this - on the other hand we are working to move schema to raft tables (and its alrady in experimental mode - yay) - so this will be resolved once we switch.

[2022-05-02 07:28] slivne commented on #10277
@aleksbykov / @fgelcer ^^

[2022-05-02 07:31] bhalevy commented on #6189
Avi, there are still longer stalls (shorter than the original report, but significantly longer than 7ms), e.g. in
"[scylla-perf-results] Performance Regression Compare Results - test_mixed - 5.1.dev - 2022-05-01 04:16:05.841536 disk and cache"

build date: 20220428
commit id: 333fdcb3f544
build-id: 415dea72992f5c04c11c4171a5b878d2e1c48fa9

<br class="Apple-interchange-newline">
[code]

Decoded:
[c

[2022-05-02 07:37] slivne commented on #9812
@fgelcer / @ilya-rarov / @roydahan are all the additional tests also running scrub - or not - its not clear  please make it clear when people say the issue happens again.

if this happens only on scrub it will probably not block the release (scrub is used in rare cases) - if this happens during regular workload then we will need to look at this and understand at least why to set the priority.

[2022-05-02 07:50] bhalevy commented on #7429
No, 5b312a123873050819395067ed910ea89d92181a was merged in 4.4 and it was decided not to backport it (see https://github.com/scylladb/scylla/issues/7429#issuecomment-735384398)

[2022-05-02 08:46] cmm commented on #4186
I don't believe the "the number (and kinds) of objects migrated and evicted" part is covered, for example

[2022-05-02 09:53] avikivity commented on #6189
We should report the reserve size during these calls. It's impossible to understand whether the reason is that the reserve is too high, or whether migrating a single segment took 25ms.

[2022-05-02 10:09] juliayakovlev commented on #10217
Reproduced with `2022.1~rc3-20220406.5cc3b678c`
https://jenkins.scylladb.com/job/enterprise-2022.1/job/longevity/job/longevity-mv-si-4days-test/4/
Test is still running
Test_id: ee400458-62ee-424f-970e-b57323a09b3c

[code]

During RepairStreamingErr nemesis

[2022-05-02 10:20] ShlomiBalalis commented on #10402
The issue was recreated in the latest run of the same test this week:

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 6 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- multi-dc-rolling-upgrade-master-ubu-db-node-a36e82d7-6 (18.134.196.100 | 18.134.

[2022-05-02 10:43] ShlomiBalalis opened #10469 "Nodetool repair during mid cluster upgrade (When only node is upgraded) failed"
## Installation details

Kernel Version: 4.18.0-373.el8.x86_64
Scylla version (or git commit hash): `5.0.rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade-master-centos-8-db-node-b63c50e7-0-4 (35.185.26.43 | 10.142.0.140) (shards: 8)
- rolling-upgrade-master-centos-8-db-node-b63c50

[2022-05-02 10:43] juliayakovlev commented on #10383
Reproduced with `2022.1~rc3-20220406.5cc3b678c` (ami-001615890d21c8784, eu-north-1)
https://jenkins.scylladb.com/job/enterprise-2022.1/job/longevity/job/longevity-mv-si-4days-test/4/
The test is still running

[code]

[2022-05-02 10:50] #10458 closed

[2022-05-02 10:57] fgelcer commented on #10462
@soyacz checked a 1TB job on 4.6 and saw the amount of open files seems normal, and he is now trying to reproduce it with the same job, running on 4.6

[2022-05-02 11:07] denesb opened #10470 "Add virtual table for in-progress reads"
We already keep a list of permit in each semaphore in each shard. As all reads must have a permit, this means we effectively have an exhausting list of all the ongoing reads in the system. This could be exposed in the form of a virtual table, to answer the age-old question of: what queries are running currently in my system?
At the moment the permits have the following information about the reads:

[2022-05-02 11:10] bhalevy commented on #10402
@xemul please look into this

[2022-05-02 11:11] denesb opened #10471 "Document how diagnostics output of the reader concurrency semaphore"
Problems (timeout, queue overload) related to the reader concurrency semaphore are quite common. For some time now, the semaphore dumps diagnostics when any such event happens. This output however is quite terse (it has to fit in the logs) and it is non-trivial to interpret. We need good documentation with detailed explanation of all parts of the report, as well as case-studies of analyzing real-w

[2022-05-02 11:29] bhalevy commented on #9983
With no further information, closing as duplicate of https://github.com/scylladb/scylla/issues/7552

[2022-05-02 11:29] #9983 closed

[2022-05-02 11:45] KnifeyMoloko commented on #10460
@slivne This failure happened about a half hour after a RemoveNodeThenAddNode nemesis failed, due to one of the nodes not being removed properly. Apart from that, I don't see any nodes being removed or added during this nemesis. The nemesis iteself stops the scylla service on one of the nodes, deletes some non-system data files and starts the scylla service again.

[2022-05-02 11:53] denesb commented on #8595
I think this was fixed some time ago by @bhalevy. I seem to recall that this was a problem when scrubbing multiple tables, and the failure would happen because the code which checks for the presence of existing snapshot would find the snapshot of other tables in the keyspace. Benny do you remember which commit solved this?

[2022-05-02 13:11] soyacz commented on #10462
I reexecuted the same test for 4.6 (although different set of nemesis got executed). During remove_node_then_add_node nemesis, problem exists but is few times smaller - we reached ~1M peak in number of open files, which was handled without issues.
![image](https://user-images.githubusercontent.com/18242288/166238607-14d26d0c-69ff-4d06-80bf-9c7f343d5b01.png)

For 4.6 1TB job mentioned by Fabio, the

[2022-05-02 13:14] vladzcloudius commented on #10470
Following our Slack discussion with Botond. Here are my 5 cents on the topic:

Having the momentarily state as in "what queries run right now" has a limited value.
What IS interesting is to have a statistics data as in "what are the most popular queries recently".
The best is to present "top X" of queries by their rate.
In addition to that have the "top X" by a query size.
And we eventually need t

[2022-05-02 13:24] kbr- opened #10473 "cdc: dropping a column from the base table does not update `system_schema.dropped_columns` for the CDC log table, preventing queries from CDC log sstables which contain this column"
Perform the following experiment:
1. start a cluster (can be single-node)
2. cql: `create keyspace if not exists ks with replication = {'class': 'SimpleStrategy', 'replication_factor': 1};`
3. cql: `create table ks.t (pk int primary key, v int) with cdc = {'enabled':true};`
4. cql: `insert into ks.t (pk, v) values (0, 0);
5. `nodetool flush`
6. cql: `alter table ks.t drop v;`

Now the query `selec

[2022-05-02 13:24] raphaelsc commented on #10462
I need to understand exactly what changed between those two tests.

Please share with me the logs of the machine which # of files almost reached 1M

You're saying remove_node_then_add_node nemesis, which means bootstrap, and not replace, right? Repair-based op is only enabled for replace, so this 4.6 test is stressing something different. The issue says the problem was triggered with terminate_and

[2022-05-02 13:26] kbr- commented on #10473
@elcallio could you look into this bug?

[2022-05-02 13:27] elcallio commented on #10473
Sure. I think this is simply the case of us totally forgetting to implement treating removal of columns as a drop - since the schema code was done really early in proof-of-concept stage. Sort of funny that this survived testing so long...

[2022-05-02 13:30] elcallio commented on #10473
Hm, we don't drop anything, we should be doing a proper update table mutation for the log table. Weird it does not create the appropriate dropped column data...

[2022-05-02 13:40] denesb commented on #10470
Ideally we need both coordinator and replica side data on recent read stats. These could be separate virtual tables. It is important that data is on a per-shard level.
Also, @vladzcloudius noted that it is very important to develop this with visualization (Grafana) in mind.
Since virtual tables are public API we have to get the schema right on first try, so when working on this we have to have Fie

[2022-05-02 13:42] elcallio commented on #10473
Oops. We don't update the schema_builder... Not automatic...

[2022-05-02 13:43] denesb commented on #10470
Thinking ahead, these tables will probably contain not just reads: but all DB operations (reads, writes, batches, LWT), so if at all possible, the schema should be such that it can accommodate all these.

[2022-05-02 13:44] denesb commented on #10470
From @vladzcloudius :

[2022-05-02 15:06] denesb commented on #10403
I just discovered that the file we are trying to fast forward in is the index file. The bad positions come from the summary file.

[2022-05-02 16:47] KnifeyMoloko commented on #6653
Reproduced with:

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.1.dev-20220428.333fdcb3f544` with build-id `415dea72992f5c04c11c4171a5b878d2e1c48fa9`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-master-db-node-0b394e0c-9 (54.217.53.62 | 10.0.1.39) (shards: 14)
- longevity-tls-50gb-3d-master-db-node-0b3

[2022-05-02 17:43] KnifeyMoloko commented on #8297
Also reproduced with below run. Startup took 10 minutes:

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.1.dev-20220428.333fdcb3f544` with build-id `415dea72992f5c04c11c4171a5b878d2e1c48fa9`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-98f6aa26-8 (34.247.88.105 | 10.0.0.204) (shards: 8)
-

[2022-05-02 18:09] bhalevy commented on #6653
@elcallio it seems like a bug that the commitlogs are corrupted after hitting ENOSPC.  Please confirm.

[2022-05-02 18:11] bhalevy commented on #6653
If segment reservation fails with ENOSPC and scylla crashes, I'd expect us to clean the partially prepared segments on restart, similar to unsealed sstables.

[2022-05-02 18:24] elcallio commented on #6653
We are indeed supposed to, but here it seems we miss the exception handling in the replayer. We're doing a hard throw, methinks, which is not caught by the then_wrapped used. As well as the fact that we really should not rethrow at this point either (or need a handler in outer loop).

[2022-05-02 18:24] KnifeyMoloko opened #10475 "Scylla setup script fails at NTP setup"
## Installation details

Cluster size: 5 nodes (n1-standard-4)

Scylla Nodes used in this run:
- jepsen-ubuntu-db-node-2d685449-0-5 (34.148.0.36 | 10.142.0.96) (shards: -1)
- jepsen-ubuntu-db-node-2d685449-0-4 (34.73.216.183 | 10.142.0.95) (shards: -1)
- jepsen-ubuntu-db-node-2d685449-0-3 (35.196.208.79 | 10.142.0.94) (shards: -1)
- jepsen-ubuntu-db-node-2d685449-0-2 (34.139.172.21 | 10.142.0.93)

[2022-05-02 18:29] soyacz commented on #10462
I confirm, on 4.6.0 issue is also present. In terminate_and_replace node we reach 4.6M files open.

[2022-05-02 18:33] raphaelsc commented on #10462
Good. Thanks @soyacz

[2022-05-03 04:42] denesb commented on #10403
Summary has a single entry:
[code]
The range we are fast-forwarding to is: `range=[{-6908989862533000900, 1}, {-6886117644814373783, 1}]`.

[2022-05-03 05:49] denesb commented on #10403
There is something strange going on here:
https://github.com/scylladb/scylla/blob/d293bd95799d1c6b731c1739800d6a148c4b15e5/sstables/index_reader.hh#L621-L686

The summary has a single entry.
[code]
The calculation at line 633 yielded 1, which is expected. `std::lower_bound()` should have found the end iterator, which is at distance 1 from begin.
According to this, the calculation at line 641 shoul

[2022-05-03 05:53] denesb commented on #10403
If I go down one frame, `summary_idx = 0`, so this might be just gdb being confused.

[2022-05-03 06:47] aleksbykov commented on #10473
@kbr- we have such basic tests in cdc_test.py. i will recheck why they don't catch such issue

[2022-05-03 06:47] DoronArazii commented on #7901
@roydahan
Since this issue is "High" for 5.0, can you please update if it's still happens?
(It was reproduced last time in May 2021)

[2022-05-03 07:16] bhalevy commented on #9133
Closing with #9174

[2022-05-03 07:16] #9133 closed

[2022-05-03 07:36] xemul commented on #10402
It's because of 2400c87e740 -- gossiper starts after snitch. I (accidentally?) fixed it in xemul/scylla@6cf6395e250bde57a21ccb74eed3b807ac4f782c of https://github.com/xemul/scylla/tree/br-gossiper-deglobal . The branch is on ML titled `[PATCH 00/14] De-globalize gossiper`, but it's slightly outdated since then. I'll re-send v2.

[2022-05-03 07:55] bhalevy opened #10476 "Reactor stalled for 90ms in row_cache::make_reader"
Seen with row_cache_test (not with any particular seed)

[code]

Decoded:
[code]

[2022-05-03 07:58] bhalevy opened #10477 "Reactor stalled for 48 ms in row_cache::populate"
In addition to #10476
In a branch based on 5169ce40ef60e37ac85af5a242d0a24448269975

[code]

Decoded:
[code]

[2022-05-03 08:46] avikivity commented on #10477
I stall in a test may not mean anything.

[2022-05-03 08:50] bhalevy opened #10478 "Reactor stalled for 25 ms in logalloc::region_impl::object_descriptor::decode_backwards in logalloc_test"
Seen with logalloc_test in a branch based on 5169ce40ef60e37ac85af5a242d0a24448269975
(https://github.com/bhalevy/scylla/commits/logalloc-reclaim-stall-report-wip-1)

[code]

Decoded:
[code]

[2022-05-03 08:51] bhalevy commented on #10477
True, but I'd like Tomek to vet on that, to see if the test generates realistic input that is worth fixing.

The branch to reproduce this is https://github.com/bhalevy/scylla/commits/logalloc-reclaim-stall-report-wip-1

[2022-05-03 08:52] bhalevy commented on #10476
The branch to reproduce this is https://github.com/bhalevy/scylla/commits/logalloc-reclaim-stall-report-wip-1

[2022-05-03 11:28] denesb commented on #10403
Trying to find where the partition-range we are fast forwarding to comes from. We have a multi-range reader in the reader tree. Unfortunatly gdb cannot parse the type to its adaptor so I cannot examine it.
The reader tree is part of streaming, specifically it is owned by `streaming::send_info` (to which naturally all references are optimized out) This struct has a list of partition ranges.
In fram

[2022-05-03 11:42] bhalevy opened #10479 "test_network_topology_strategy_counters fails from time to time"
test_network_topology_strategy_counters has been flaky for a long while.
Recently, improvement on the test side allow us to see what it is complaining about
and it seems like scylla could be in fault.

Most recent failure is:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/9/testReport/consistency_test/TestAccuracy/Run_Dtest_Parallel_Cloud_Machines___FullDtest___

[2022-05-03 12:02] avikivity commented on #10470
"top x queries" by query string makes sense. We'll need to add the query string to the prepared statement, but I wanted to do that for another reason anyway. We can reuse the toppartitions code for that (but count unique statements at the query processor level rather than unique partition keys at the replica level).

@slivne please add to the backlog, we can offer it as a fun project.

[2022-05-03 12:09] avikivity commented on #10217
/cc @nyh @xemul @gleb-cloudius

By itself, the exception isn't a big problem. We're trying to stop the service and the view update loses the race. We end up with a small view inconsistency.

It's another manifestation of the storage_proxy dependency loop: sp (for base table) -> replica::database -> sp (for views).

The solution should be to have two storage proxies. Then there is no loop: sp -> re

[2022-05-03 12:14] gleb-cloudius commented on #10217
On Tue, May 03, 2022 at 05:09:37AM -0700, Avi Kivity wrote:

You do not need a separate sp for any kind of recursive work. You will
end up with millions of them. To solve the problem the storage proxy may
account for different work separately and have a way to stop top level
requests and internally generated requests separately. So the stop
sequence will be:

co_await sp.stop_cql_requests();
co_aw

[2022-05-03 12:16] xemul commented on #10217
The replica::database -> sp (for views) is artificial in some sense. It's only triggered from sp -> database one thus when a database needs to update a view it can return some work for storage proxy instead of recursing into it.

[2022-05-03 12:34] nyh commented on #10217
I agree with Gleb. I don't understand why we can't begin with **stopping front-ends** (CQL, Alternator, etc. but also RPC writes!) and then stop background processes (TTL, repair, compaction, etc.,) and then finally, when we're sure that no write is in progress, stop the backend objects. Avi, isn't this simpler than your proposal?

There would still be a question of what does "stopping" CQL entail

[2022-05-03 12:59] denesb commented on #9446
@geobeau are you still experiencing this error?

[2022-05-03 13:12] eliransin commented on #9331
yes

[2022-05-03 13:29] elcallio commented on #9331
Unfortunately, I could still not get any info out of the image, neither the booted up ubuntu, or copying the scylla executable to another machine. No idea why the ubuntu addr2line fails, but it does...

[2022-05-03 13:38] nyh opened #10481 "Create default ("superuser") role before accepting CQL commands"
@kostja noticed in https://github.com/scylladb/scylla/pull/10406 that when Scylla is run with `--authenticator PasswordAuthenticator` Scylla may become responsive to CQL requests before the default (a.k.a. "superuser") user cassandra/cassandra is set up - so CQL is still not usable for a while longer, until this user is finally set up.

This a bug - CQL should not become responsive before it is ex

[2022-05-03 13:44] kostja commented on #10481
I believe the root cause is standard_role_manager::start() which calls do_after_system_ready() which loops and retries.

[2022-05-03 13:51] denesb commented on #10403
The only explanation I can see is this:
* We lookup a key, which has `token >= summary.entries.front().token`
* We read index page of the first (and only) summary entry. We effectively read the entire file.
* `bound.current_summary_idx = 0`
* Cache entry referenced by `bound.current_list` is somehow deleted[1].
* Next lookup will trigger re-read of same index page.
* Results in attempt to fast-for

[2022-05-03 13:54] xemul commented on #10217
@nyh  -- c17a03727ce593bb4ed6fcad8e178070fb23dc05

[2022-05-03 13:56] raphaelsc commented on #10392
I was unable do it either. Found out later there's this tool: https://jenkins.scylladb.com/view/QA/job/QA-tools/job/hydra-show-monitor

Restored monitoring using it and can be accessed here: http://44.199.210.253:3000/

[2022-05-03 14:21] eliransin commented on #10146
it looks like the regression comes from:
3226c5bf9 (HEAD) Merge 'sstables: mx: enable position fast-forwarding in reverse mode' from Kamil Braun - 89.3K

/cc @kbr- , @slivne
An explanation of what I did:
I ran the write throughput test and examined the averaged per hour request per second parameter.
The graphana formula is: `avg_over_time(sum(irate(scylla_transport_requests_served{cluster=~"$clust

[2022-05-03 14:39] denesb commented on #10403
Actually, we have an assert in `~entry()` which triggers if the entry is deleted while having live references. So I'm out of ideas how this situation can come about.

[2022-05-03 15:12] nyh commented on #10481
In "normal" dev runs on my laptop, I see in the logs:
[code]
(note the order, and the same time up to the millisecond). So the test is not able to send requests before the "cassandra" role is available and this bug is not reproduced. To reproduce this problem reliably I may need to add an artificial sleep to `create_default_role_if_missing()`.

[2022-05-03 15:30] nyh commented on #10481
If I add an artificial 5-second sleep to the beginning of `create_default_role_if_missing()`, I can see the message "standard_role_manager - Created default superuser role 'cassandra'." printed only 5 seconds after the "cql_server_controller - Starting listening for CQL clients on ..." message. But the strange thing that I can't explain is that somehow, the test which creates a test keyspace waits

[2022-05-03 15:36] vponomaryov commented on #10453
One more occurrence of this bug.
@slivne `gemini` jobs use `GeminiChaosMonkey` kind of nemesis in SCT which is not compatible with `nemesis_seed` feature (just fact).
I would also assume that 2 other following bugs (a bit older than this one) are about the same problem:
- https://github.com/scylladb/scylla/issues/10301
- https://github.com/scylladb/scylla/issues/10343

## Installation details

Ker

[2022-05-03 15:50] nyh commented on #10481
I easily fixed the initialization wait for `create_default_role_if_missing()`, but I'm beginning to wonder whether it is not dangerous to do so: Because the roles is a distributed table, reading from it or writing it can block (we have a timeout of a minute). This will mean that the initialization can block for a whole minute. I just wonder if this is acceptable. I don't think I have a choice, but

[2022-05-03 16:27] bhalevy commented on #10392
@slivne I see no relation to resharding in the logs so I de-assigned @raphaelsc .

[code]

Resharding throughput looks fine.

Then, later:
[code]

Node 4 has tons of errors

[2022-05-03 16:33] bhalevy commented on #10392
[code]

[2022-05-03 16:34] bhalevy commented on #10392
Maybe the system.paxos errors are slowing down the starting node

[2022-05-03 17:34] avikivity commented on #10392
Sure, let's launch an instance for everything, then wonder why Jeff is so rich.

[2022-05-03 18:09] raphaelsc commented on #10392
my fault. you're right, we need to stop listing that jenkins job as a way to restore monitoring (see issue description), in the problems triggered by longevity tests, and focus on making it easy for everybody to run hydra locally

[2022-05-03 19:36] avikivity commented on #10392
Up to 09:51 we were resharding.

2022-04-16T09:51:20+00:00 alternator-48h-2022-1-db-node-81cb61d9-4 !    INFO |  [shard 0] init - starting sstables loader
2022-04-16T10:07:47+00:00 alternator-48h-2022-1-db-node-81cb61d9-4 !    INFO |  [shard 0] init - starting system distributed keyspace
20

So, thecode between "starting sstables loader" and "starting system distributed keyspace" took 16 minutes.

[2022-05-03 19:38] avikivity commented on #10392
[code]

Somehow, we don't see "sstables loader API", "storage service notifications", "migration manager notifications" but we do see "system distributed keyspace".

[2022-05-03 19:41] avikivity commented on #10392
Resharding

![image](https://user-images.githubusercontent.com/1017210/166553391-0f0c3f9a-ed51-4503-9268-8f260bff72e6.png)

[2022-05-03 19:42] avikivity commented on #10392
We're doing some compaction after resharding, but with low shares.

![image](https://user-images.githubusercontent.com/1017210/166553572-3864ca9c-5a00-4a52-8f81-e361b480e4c6.png)

[2022-05-03 19:44] avikivity commented on #10392
We're spending a bunch of time in sl:default, but doing what?

![image](https://user-images.githubusercontent.com/1017210/166553867-e9a2e8c0-dd1b-481f-8248-b882a51d117b.png)

[2022-05-03 19:46] avikivity commented on #10392
Also lots of I/O.

![image](https://user-images.githubusercontent.com/1017210/166554116-a7cf4193-068f-4c02-951f-d2220b3a2f16.png)

[2022-05-03 19:51] avikivity commented on #10392
I think we got a bad disk on node 4. I/O queue delay is 500ms - 1s on most queues, even though the bandwidth is not high. The maximum bandwidth we see is 600 MB/s (during resharding), which is 300 MB/s read and 300 MB/s write. Everything else is lower.

I recommend to close this as a fluke due to bad hardware.

[2022-05-03 20:03] dorlaor commented on #10392
Could it be there is RAID-1 traffic which we don't see in our metrics?

On Tue, May 3, 2022 at 10:51 PM Avi Kivity ***@***.***> wrote:

[2022-05-04 00:36] #10402 closed

[2022-05-04 05:05] roydahan commented on #10392
@avikivity do you see bad disk behavior also after the node startup? (Or before if it isn’t a new node)

[2022-05-04 05:20] roydahan commented on #10146
Putting the throughput aside, do you get the “too many inflight hints” with the commit before this suspected commit?

[2022-05-04 06:40] soyacz commented on #6309
Reproduced in 5.0 rc3 in longevity-100gb-4h-ebs-gp3-test longevity test

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 6 nodes (r5b.2xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-5-0-db-node-fb1bc2a8-7 (34.254.187.25 | 10.0.0.155) (shard

[2022-05-04 06:42] rayakurl opened #10483 "OEL 76: scylla_setup fails due to an authentication issue: PAM account management error: Authentication service cannot retrieve authentication info"
## Installation details

Cluster size: 1 nodes (i3.large)

Scylla Nodes used in this run:
- artifacts-oel76-jenkins-db-node-63f05ebe-1 (54.216.87.45 | 10.0.2.86) (shards: -1)

OS / Image: `ami-0d6a24fe35fdf5dc4` (aws: eu-west-1)

Test: `artifacts-oel76-test`
Test id: `63f05ebe-42b3-49f6-a194-dce457d7c912`
Test name: `scylla-master/artifacts/artifacts-oel76-test`
Test config file(s):

- [oel76.yaml

[2022-05-04 06:50] bhalevy commented on #10392
For resharding of ~300GB to take 5 minutes we need compaction throughput of at least 1 GB/s (on i3.4xlarge).
Is it realistic?

Was that achieved in 4.6?

[2022-05-04 06:57] bhalevy commented on #10462
The plan, as discussed with @raphaelsc, is to trigger off-strategy compaction when we finish with each sstable.
It will compact together the 754 sstables that are created and will compact them together into the main set in a single pass (using the incremental selector, since the sstables are disjoint).

@asias / @avikivity what do you think?

[2022-05-04 09:28] #10394 closed

[2022-05-04 09:48] DoronArazii commented on #10262
@rayakurl can you please provide the schema?
@psarna needs that to keep evaluating this issue

[2022-05-04 09:51] DoronArazii commented on #10251
@asias @eliransin
What are next steps for this issue?

[2022-05-04 10:43] roydahan commented on #10392
I think there is a confusion here (hope not my).

@ShlomiBalalis AFAIK, we don't limit the "resharding" to take 5 minutes (nor expecting it).
The "wait_for" resharding can take "forever" (we didn't even set timeout there).
Then, after resharding completes we "wait_for_db_up" and the default timeout there is 1 hour.

@ShlomiBalalis, from you issue description, it's not exactly clear what failed and

[2022-05-04 11:08] elcallio commented on #9053
Is this still valid?

[2022-05-04 11:11] slivne commented on #10146
@kbr- while we are trying to understand the hints part,

Please try and look at the issue (https://github.com/scylladb/scylla/issues/10146#issuecomment-1116159257) that the patch adding fast forwarding for reverse is causing a regression

@eliransin please look at roys question - we are unsure if this is causing the "hints problem"- can you run the AMI prior to this commit and see if the hints pro

[2022-05-04 11:11] slivne commented on #10146
@kbr- please extract the performance degredation related to fast forwrading to a seperate issue so we can use this to track the problem QA found (there maybe multiple problems)

[2022-05-04 11:19] roydahan commented on #10026
@KnifeyMoloko if the issue isn't the same (not crashing, please split it to a different issue).

[2022-05-04 11:20] kbr- commented on #10146
https://github.com/scylladb/scylla/commit/3226c5bf9d6db6c3f3c57008aacab9cab8c57fc9 (HEAD) Merge 'sstables: mx: enable position fast-forwarding in reverse mode' from Kamil Braun - 89.3K

@aleksbykov is the test running reverse reads? If not, then I seriously doubt this caused a regression.

If the results are inconsistent, I'm guessing that they are nondeterministic - you'd get different ops/s depe

[2022-05-04 11:23] aleksbykov commented on #10146
I am sure it doesn't

[2022-05-04 11:23] kbr- commented on #10146
Also, it doesn't make sense to bisect this patchset, because there is exactly one commit there which changes logic inside Scylla: https://github.com/scylladb/scylla/pull/9484/commits/8722e0d23cdaf40ec7020e0bcd62db0f6c0d00a7. The other commits are changes in tests and one commits only adds a comment.

So if the results are inconsistent, that proves your results depend on the run, not (just) the com

[2022-05-04 11:23] slivne commented on #8969
@eliransin AFAIK we did not enable the commit log hard limit in 5.0 - whats the status of this from your end - if we still have issues we will push that.

[2022-05-04 11:25] soyacz commented on #6309
I noticed, that flush that we do before truncation - we do it only on one node and takes several minutes to complete (in truncate_large_partition disruption). If truncation requires flushing memtables on all nodes, then this flushing may cause this timeout issue.
@roydahan shouldn't we trigger flush on all nodes in this nemesis before truncating?

[2022-05-04 11:25] slivne commented on #10217
@nyh / @avikivity / @xemul - ping

[2022-05-04 11:27] slivne commented on #10251
@roydahan please have someone check @asias explanation above

[2022-05-04 11:28] raphaelsc commented on #10462
@bhalevy turns out the granularity of each range repair is keyspace, meaning we repair a range for all tables in a keyspace at once. That can be seen in the logs, where after repair is done with a range, 1 sstable is added to maintenance set for each of the tables belonging to the same keyspace.

So assuming a keyspace has N tables, where N is high, we'd probably have to trigger off-strategy earli

[2022-05-04 11:30] slivne commented on #10372
@xemul - ping

[2022-05-04 11:33] rayakurl commented on #10392
@roydahan  -  seems like the timeout for "wait_for_db_up" expired after 5 minutes:
tenacity.RetryError: RetryError[Wait for: Node alternator-48h-2022-1-db-node-81cb61d9-4 [52.30.41.107 | 10.0.3.6] (seed: False): Waiting for DB services to be up: timeout - 300 seconds - expired]

[2022-05-04 11:36] slivne commented on #10447
Did we change something in the drain lately ?

[2022-05-04 11:37] slivne commented on #10447
@rayakurl can you try and narrow the timeline from which this failure started ?

[2022-05-04 11:37] roydahan commented on #10447
@ShlomiBalalis please check if we had this error or something similar as filtered?

[2022-05-04 11:38] geobeau commented on #9446
@denesb we are assessing 4.6.3. We didn't see it on a small subset of our dataset so we need to scale up our reproducer

[2022-05-04 11:44] bhalevy opened #10484 "lister::rmdir is extremely slow"
Reproduced using a unit test that creates thousands of entries in a shallow tree,
lister::rmdir demonstrated throughput of less than 10 entries per second.
It turns out that calling remove_file for each entry is a bad idea since it
triggers full path lookup in the kernel, and `lister::rmdir` should use `unlinkat`
instead, since it already has the listed directory file opened.

[2022-05-04 11:51] raphaelsc commented on #10484
do we use this procedure to remove temporary dir during sstable creation?

[2022-05-04 11:53] bhalevy commented on #10484
No, we delete the individual files based on the sstable TOC

[2022-05-04 11:55] bhalevy commented on #10484
Sorry, you were asking about the temporary sstable...
We expect it to be empty, so we call `remove_file` on it.
It should be fast enough for our purposes, plus we don't have it's parent directory opened at the moment, so we can't use `unlinkat`

[2022-05-04 11:56] avikivity commented on #10440
Backported to 5.0. Older versions unaffected (regression from 94eb5c55c81e006e47f82109350e4d4426323ce2)

[2022-05-04 11:56] raphaelsc commented on #10484
I meant that temporary directory to guarantee XFS places the sstables in different allocation groups

[2022-05-04 11:57] bhalevy commented on #10484
Oddly enough, I see that rmdir's current implementation progresses much faster in debug mode vs. dev mode.
Looking also into scheduling aspects.

[2022-05-04 11:58] bhalevy commented on #10484
yes, sorry, my mistake.
See my answer above (https://github.com/scylladb/scylla/issues/10484#issuecomment-1117223340)

[2022-05-04 12:01] roydahan commented on #10262
To make my previous comment clearer, if this issue is about the "operation timeout" error we get from scylla_bench, it's not a real issue.
Regardless of counters, we get this error from every workload of scylla_bench because the tool doesn't do retries.

[2022-05-04 12:04] bhalevy commented on #10484
@avikivity / @xemul I think that this might have to do with seastar system call queuing.
Is see the slowness also in release mode, but not always.
In some runs rmdir finishes very quickly and in some runs it crawls.

FWIW, In debug mode, remove_file throughput seems more consistent...

[2022-05-04 12:10] aleksbykov opened #10485 "The restapi major compaction request stucked for 30 minutes and don't get response from scylla."
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-cdc-3d-400gb-2022-1-db-node-87d4d86d-9 (54.246.175.205 | 10.0.2.124) (shards: 14)
- longevity-cdc-3d-400gb-2022-1-db-node-87d4d86d-8 (54.2

[2022-05-04 12:13] bhalevy commented on #10484
https://github.com/scylladb/scylla/pull/10486 introduces an implementation that uses `unlinkat` that is much faster in all modes.

That said, I'll continue to dig around the system call queuing and scheduling to figure out why the `remove_file` throughput is so pitiful in dev/release modes and ok-ish in debug mode.  There might be a generic underlying issue that we need solve too, orthogonally to

[2022-05-04 12:16] tgrabiec commented on #7929
Yes, coordinator fetches from the replica the entire mutation with all the tombstones. If that times-out, coordinator-side logic which stalls will not be executed. That's why you don't see stalls. Maybe results are not served from cache any more, for example.

[2022-05-04 12:18] xemul commented on #10372
New IO delay metrics reports accumulated delay, not a single-request one (see scylladb/scylla-monitoring#1714). The "real" commit delay would look like this
![commitlog-delay-real](https://user-images.githubusercontent.com/4498177/166677580-546bf1e0-ef0a-4efb-9b0a-06f5a0e32044.png)

Disk is under 250MB/s load. AFAIK, it's i3.large write bandwidth limit and it's pretty much all consumed already.
![

[2022-05-04 12:26] roydahan commented on #10392
Ok, looking at the traceback I think I know what's the issue, and it's probably a test issue.

Traceback (most recent call last):
[code]
The code is:
[code]
The nemesis calls start_scylla_server with "timeout=7200" so we know the start should take much longer than the default.
But the actual timeout this test is failing for is the "verify_up_timeout", which is 300 by default and we don't override

[2022-05-04 12:37] roydahan commented on #6309
Well, I think the flush itself was a try to workaround the issue.
Reading some of the early comments above, maybe we should even remove the manual flush we do there completely, but not sure.

[2022-05-04 12:45] soyacz commented on #10429
Same happened on another run during remove_node_then_add_node.
In this nemesis we do:
[code]
On step 2 - full repair - it failed with errors:
[code]
I saw in logs there are leftovers from previous truncate_large_partitions nemesis (which already should be truncated...) - so in this case we work also with large partitions.

Later in logs problems with too many inflight hints can be found.
## Instal

[2022-05-04 13:04] bhalevy commented on #10378
@raphaelsc please look into this in high priority

[2022-05-04 13:04] avikivity commented on #10117
Backported to 4.5, 4.6, 5.0.

[2022-05-04 13:05] bhalevy commented on #4076
@mikolajsieluzycki is looking into taking the number of sstables into account in `compaction_manager::calculate_weight`

[2022-05-04 13:08] jul-stas opened #10487 "Wrong auth opcode crashes node"
A faulty or malicious client can crash a node by sending wrong opcode while in `AUTHENTICATION` state:
[code]
To get to this point some race between two connections and/or reusing of stream ID might need to occur. Anyway, we should drop the connection instead of firing assertion.

[2022-05-04 13:10] bhalevy commented on #8969
@eliransin please take over shepherding this issue

[2022-05-04 13:13] raphaelsc commented on #4076
this procedure is used for the sole purpose of serializing similar-sized jobs, so has no impact on compaction shares. I think we should look at size_tiered_backlog_tracker::refresh_sstables_backlog_contribution() instead

[2022-05-04 13:26] raphaelsc commented on #10378
will do. thanks

[2022-05-04 13:27] fruch commented on #10392
@roy seems like you're correct about the timeout and we should fix, but we don't have any previous indication of such failure, I was running this one on 5.0, and didn't seen this kind of issue.

Anyhow putting 2h timeout for boot seems a bit too wide to me.

[2022-05-04 13:55] denesb commented on #9446
Let me know if you are still experiencing this error on 4.6.3 and we will consider backporting the additional checks to 4.6.

[2022-05-04 14:04] fee-mendes commented on #10487
For the record, trying to naively craft a client to send a wrong opcode is not enough to trigger the assertion error. We validate that early on the process and drop the connection with:

[code]

[2022-05-04 14:25] raphaelsc commented on #10484
maybe you were hitting a file system issue.

[2022-05-04 14:29] bhalevy commented on #10462
The only idea that come into my mind, is run the equivalent of regular compaction in the maintenance set (just with significantly higher min_threshold), until repair completes and then we run offstrategy compaction, since regular compaction that is confined to the maintenance set will reduce the number of sstables, but will keep them disjoint from each other.

[2022-05-04 14:57] raphaelsc commented on #10462
I think this could work. but we'd need to run the equivalent of major instead, as we want all input files to be placed into a single output file. To increase efficiency, output files of this intermediate compaction won't be picked by another "major", but only later by off-strategy, which will then perform reshape on still disjoint files and place them into main set. even if we pick a threshold of

[2022-05-04 17:59] fee-mendes opened #10489 "Disabling CDC should not require base table writes to be stopped"
**Installation details**
Scylla version (or git commit hash): `4.6.3-0.20220414.8bf149fdd` build-id `8d16d8972498cc769071ff25309b009eb77bf77a`
Cluster size: 1 node
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 20.04

**Description**
[CDC documentation](https://docs.scylladb.com/using-scylla/cdc/cdc-intro/#enabling-cdc) states that `If you enabled CDC and later decide to disable it, you need to stop all

[2022-05-04 17:59] fee-mendes commented on #10489
cc @kbr-

[2022-05-04 18:12] fee-mendes commented on #10236
@slivne ping

[2022-05-04 20:40] #10473 closed

[2022-05-04 21:44] fee-mendes opened #10490 "IMDSv2-only enabled EC2 instances break Ec2Snitch and Ec2MultiRegionSnitch"
**Installation details**
Scylla version (or git commit hash): `4.6.3-0.20220414.8bf149fdd` with build-id `8d16d8972498cc769071ff25309b009eb77bf77a`
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 20.04

**Description**
[AWS allows for instances to be required](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-options.html#configuring-IMDS-existing-instances)

[2022-05-05 00:35] asias commented on #10462
Let's solve the issue in stages.

First and easy thing we can do is triggering off strategy whenever a keyspace is finished. In RBNO, we process one keyspace at a time.

Another thing we can do is to sync data using repair one table at a time and trigger off strategy when a table is done.

Third thing we can do is to allow trigger off strategy automatically for a given table when accumulated sstab

[2022-05-05 00:45] raphaelsc commented on #10462
How hard is this change? Would we lose efficiency by serializing repair of tables in a keyspace? If we do this, we don't need the  threshold kicking off off-strategy earlier.

[2022-05-05 01:44] asias commented on #10462
The change is not trivial because inside repair we loop the ranges then the tables.

We can still have parallelism if there are multiple ranges for the given table.

[2022-05-05 03:26] yangly6207 commented on #10407
When i set the api_address to 0.0.0.0 and nodetool can work:
[code]
So， i can't set all the configuration parameter to ipv6？

[2022-05-05 05:10] denesb commented on #10403
I think a previous call to `advance_to_end(bound)` can explain the symptoms.

[2022-05-05 08:33] denesb commented on #10403
Indeed the index file is at `eof()`:
[code]

[2022-05-05 09:13] denesb commented on #10403
Reproduced in a unit test. The index reader fails to detect that it reached EOF and happily goes on to advance the lower bound on the next fast-forward-to call. If one is lucky and the previously looked up index page is still in the cache, this succeeds. If one is not lucky (like in this issue) and the entry was evicted, it is attempted to be read again, leading to the assert failure seen here.

[2022-05-05 09:42] kbr- commented on #10473
Queued to 4.5, 4.6, 5.0, 2021.1.
Not queued to 2020.x because CDC is experimental there.

[2022-05-05 10:34] psarna commented on #10487
I think it's possible to race if a malicious/buggy client sends multiple opcodes concurrently.

Our code currently works like that:

1. Receive a frame
2. Verify that the opcode from that frame matches our "auth state"
3. \<possible yield point\>
4. Run the opcode assuming that it passed verification from (2.); this stage can modify auth state

Now, imagine two opcodes racing concurrently - STARTU

[2022-05-05 13:38] dominikwerder opened #10493 "SEGV Scylla 4.6.1 Redhat 7 with Rust driver 0.4.4"
*Installation details*
Scylla version (or git commit hash): 4.6.1 from RPM
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): redhat 7.9
Platform (physical/VM/cloud instance type/docker): physical
Client: Rust, 0.4.4

Query against scylla (not sure which yet, might vary) crashes the node:

scylla[17801]: Segmentation fault on shard 23.
scylla[17801]: Backtrace:
scylla[17801]: 0x3db6c38
scylla[17801]

[2022-05-05 13:42] psarna commented on #10493
I would guess it's a duplicate of https://github.com/scylladb/scylla/issues/9774 , fixed in master (with experimental Raft), not in 4.6

[2022-05-05 15:42] aleksbykov opened #10494 "coredump during creating instance on azure on single node"
## Installation details

Kernel Version: 5.13.0-1022-azure
Scylla version (or git commit hash): `5.1.dev-20220504.b26a3da584cc` with build-id `ab2a33a30756c1513f4c516cd272291e75acec0e`
Cluster size: 6 nodes (Standard_L8s_v2)

Scylla Nodes used in this run:
- longevity-10gb-3h-master-db-node-835fbc85-eastus-8 (20.127.8.251 | 10.0.0.14) (shards: 8)
- longevity-10gb-3h-master-db-node-835fbc85-eastus-

[2022-05-05 16:13] aleksbykov commented on #10372
Looks issue reproduced

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 3 nodes (i3.large)

Scylla Nodes used in this run:
- gemini-with-nemesis-3h-normal-2022--oracle-db-node-3a581b99-1 (34.200.251.15 | 10.0.3.191) (shards: 2)
- gemini-with-nemesis-3

[2022-05-05 16:36] jmaixl commented on #9869
Hi, just following up on this @bhalevy, will we see this in 4.6.x or 5.0? It's the main addition to allow us to migrate to Scylla easily. Thanks!

[2022-05-05 17:09] Cary4 opened #10495 "compaction failed: invalid_mutation_fragment_stream"
*Installation details*
Scylla version: 4.4.8-0.20211215.9af2e5ead-4.5.5-0.20220328.c789a1819
Cluster size: 16
OS: Ubuntu-20.04

# Datacenter: Data LA.
Hardware details.
Platform: physical
Hardware: sockets=2 cores=24 hyperthreading=48 memory=128GB
Disks: 4 1TB SSD per node
# Datacenter: Data GC.
Hardware details.
Platform: VM
Hardware: sockets=1 cores=16 hyperthreading=32 memory=96GB
Disks: 16TB 3

[2022-05-05 19:39] jul-stas commented on #10487
Exactly this. Yielding in `cql_server::connection::process_options` fires this assert 100% under this load (OPTIONS + STARTUP):
[code]
Now I'm thinking what to do. We can drop the connection (ez, although the client is innocent here) or we can overhaul the request flow (somehow introduce a barrier around STARTUP so it doesn't reorder with other opcodes?).

[2022-05-05 20:04] raphaelsc commented on #10378
While investigating this problem, found use-after-free when clean up fails, as cleaning sstable is moved into descriptor and therefore will be freed when used on retry.

[2022-05-05 22:05] raphaelsc commented on #10378
By running maintenance compaction before any regular, a disengaged optional in LCS can be found when updating metadata on compaction completion.

[2022-05-05 22:09] fee-mendes commented on #10236
Actually after taking a closer look this was introduced when we introduced the `broadcast_rpc_address` at https://github.com/scylladb/scylla/commit/7ddf8963f598edc8b3dc13ee5cadd696eb021910 :-)

@asias do you know why it was decided to enforce a public RPC address back then for this snitch?

[2022-05-05 23:41] jul-stas commented on #10487
Also, in practice, this must be an extremely unlucky event. I shot millions
of these CQL hanshakes at a Scylla node harassed by C-S. Didn't trigger a
single assertion.

czw., 5 maj 2022, 12:34 użytkownik Piotr Sarna ***@***.***>
napisał:

[2022-05-06 05:02] psarna commented on #10487
I think that downgrading the assert to an exception is good enough and easy to backport. And the client that lost the race can simply retry.

[2022-05-06 06:59] enaydanov commented on #6309
Got it on 2022.1rc3:

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-1tb-7d-2022-1-db-node-10419cea-9 (34.244.12.201 | 10.0.3.117) (shards: 14)
- longevity-tls-1tb-7d-2022-1-db-node

[2022-05-06 07:51] enaydanov opened #10496 "Resharding on restart failed with out of space"
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-1tb-7d-2022-1-db-node-10419cea-9 (34.244.12.201 | 10.0.3.117) (shards: 14)
- longevity-tls-1tb-7d-2022-1-db-node-10419cea-8 (54.246.46

[2022-05-06 08:36] enaydanov opened #10497 "Timeouts on altering table encryption during NoCorruptRepair"
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-2022-1-db-node-d42bf9f0-9 (54.229.119.180 | 10.0.3.188) (shards: 14)
- longevity-tls-50gb-3d-2022-1-db-node-d42bf9f0-8 (52.212

[2022-05-06 08:41] bhalevy opened #10498 "seal_active_memtable may spin forever"
`table::seal_active_memtable` contains has a retry loop, in https://github.com/scylladb/scylla/blob/eeec502aee7a693ccaf84bbf4a4313350c1a26bd/replica/table.cc#L602-L614

The loop might spin forever if there is a "poison pill" in the memtable that would cause memtable flush to fail to write it into a sstable, and we currently have no way to recover from that.

For example, https://github.com/scyllad

[2022-05-06 08:43] enaydanov opened #10499 "Altering table with compaction class LeveledCompactionStrategy failed with exit code 2"
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-2022-1-db-node-d42bf9f0-9 (54.229.119.180 | 10.0.3.188) (shards: 14)
- longevity-tls-50gb-3d-2022-1-db-node-d42bf9f0-8 (52.212

[2022-05-06 08:48] bhalevy commented on #10498
One option is to abort if we suspect that the write error is unrecoverable (*), since the commitlog replay already has logic to skip invalid records, and the core dump will contain a copy of the memtable for postmortem analysis.

(*) Or the other way around, ignore only errors such as std::bad_alloc, and isolate on any other error.

Alternatively, we may want to isolate the node if we suspect that

[2022-05-06 08:48] enaydanov commented on #5087
Got many of such errors again on 2022.1rc3:

[code]

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `2022.1~rc3-20220406.5cc3b678c` with build-id `48dfae0735cd8efc4ae2f5c777beaee2a1e89f4a`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-2022-1-db-node-d42bf9f0-9 (54.229.119.180 | 10.0.3.188) (shards: 14)
- lo

[2022-05-06 08:55] bhalevy opened #10500 "table::snapshot might hang if a shard hits an error"
We've seen snapshot hanging due to https://github.com/scylladb/scylla/issues/10498
Where one of the shards waits at https://github.com/scylladb/scylla/blob/eeec502aee7a693ccaf84bbf4a4313350c1a26bd/replica/table.cc#L1412
or, for that matter, at https://github.com/scylladb/scylla/blob/eeec502aee7a693ccaf84bbf4a4313350c1a26bd/replica/table.cc#L1390

while another shard if hanging, calling `flush` at

[2022-05-06 09:40] soyacz opened #10501 "Core dump on startup (Azure)"
When setting up new node on Azure platform, coredump happened. Unfortunately we have no logs from db during that time (it must have happened before we configured logging system):

[code]

[code]

# Test details
## System under test:
Scylla version: 5.1.dev-0.20220504.b26a3da584cc with build-id ab2a33a30756c1513f4c516cd272291e75acec0e (-)
Instance type: Standard_L8s_v2
Number of scylladb nodes: 6
#

[2022-05-06 11:44] avikivity commented on #10484
Maybe it has to do with syscall thread failing to wake the reactor (and then having to wait for some random event to wake it).

[2022-05-06 11:44] avikivity commented on #10484
It absolutely has nothing to do with path lookup.

[2022-05-06 14:38] raphaelsc opened #10505 "Use-after-free when retrying maintenance compaction on failure"
Regression introduced by 177a8e8259f71dcea4da01ea081240f039ac55bd

Only master is affected

[2022-05-06 14:41] soyacz commented on #10501
Duplicate of https://github.com/scylladb/scylla/issues/10494. Closing

[2022-05-06 14:41] #10501 closed

[2022-05-07 18:27] cjbottaro opened #10514 "ReadTimeout when using local secondary index"
`scylladb/scylla:4.6.3` running on a Core i3-8100 machine as a "single node cluster".

[code]

The table is tiny; 8322 rows, but many (millions) rows have been deleted. Notice the very low `gc_grace_seconds`, in combination with manual major compactions to purge tombstones. The sstable is only 796kB.

[code]

The use of _any_ of the local secondary indices consistently fails...
[code]

The global

[2022-05-08 00:02] github-actions[bot] opened #10515 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 183   |
| ✅ Successful | 157   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 19    |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/guides/debugging.md
* [https://github.com/scylladb/scylla-pkg/#looking-for-a-build](https://github.com/scylladb/scylla-pk

[2022-05-08 05:22] tzach commented on #10515
Closing.
https://github.com/scylladb/scylla/pull/10434 will disable this action once merged.

[2022-05-08 05:22] #10515 closed

[2022-05-08 05:49] eliransin commented on #9571
@psarna added you so we know who to approach :slightly_smiling_face:

[2022-05-08 05:53] eliransin commented on #8570
It is a duplicate of #9571 I will sync with @psarna about what are we doing with that.

[2022-05-08 06:23] bhalevy commented on #10418
@scylladb/scylla-maint ping

[2022-05-08 06:35] bhalevy commented on #10284
@xemul what's the status of this issue?

[2022-05-08 08:15] bhalevy commented on #10462
@asias / @raphaelsc - so let's consider that only for the long term.
We still need to find a solution for 5.0.

Let's summarize the latest proposal we discussed:

- Introduce `_intermediate_sstables` in addition to `_main_sstables` and `_maintenance_sstables` in table.
- When the number of sstable in `_maintenance_sstables` crosses a threshold (e.g. max_threshold == 32), compact them together and

[2022-05-08 08:38] fruch commented on #10483
@syuu1228

seems like it's too related to https://github.com/scylladb/scylla/commit/48b6aec16a76f8cd60babf97cede99e7c0e50db1, since before that the return value from those commands weren't checked.

[2022-05-08 09:03] avikivity commented on #10498
In these crazy situations it's better to lose availability than risk data loss.

[2022-05-08 09:05] avikivity commented on #10421
Recent regression, no backports needed.

[2022-05-08 09:06] avikivity commented on #10319
Raft, which is experiemental, and test-only, so not backporting.

[2022-05-08 09:06] avikivity commented on #10324
Not a regression, so not backporting.

[2022-05-08 09:08] avikivity commented on #10211
No branch is vulnerable.

[2022-05-08 09:09] avikivity commented on #10178
Harmless in existing branches, so not backporting.

[2022-05-08 09:10] avikivity commented on #10156
Backported to 4.5, 4.6, 5.0.

[2022-05-08 09:12] avikivity commented on #10173
Already backported.

[2022-05-08 09:13] avikivity commented on #10131
Not a regression (and count(*) is vulnerable to transient failures regardless), not backporting.

[2022-05-08 09:14] avikivity commented on #10079
Build-only, not backporting.

[2022-05-08 09:17] avikivity commented on #10027
Backported to 5.0. @raphaelsc please provide a backport for 4.6.

[2022-05-08 09:18] avikivity commented on #9544
Already backported.

[2022-05-08 09:20] avikivity commented on #9953
Test-only, not backporting.

[2022-05-08 09:21] avikivity commented on #9898
Minor, not backporting.

[2022-05-08 09:22] avikivity commented on #9927
No vulnerable branches.

[2022-05-08 09:23] avikivity commented on #9923
No vulnerable branches, not backporting.

[2022-05-08 09:24] avikivity commented on #9915
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-05-08 09:25] avikivity commented on #9860
scylla-gdb problem, not affecting production, not worth the effort to backport.

[2022-05-08 09:26] avikivity commented on #9754
Minor, and not a regression, not backporting.

[2022-05-08 09:27] avikivity commented on #10102
Not a bug, not backporting.

[2022-05-08 09:38] avikivity commented on #10129
Backported to 4.5, 4.6, 5.0.

[2022-05-08 09:48] avikivity commented on #9962
Test-only, not backporting.

[2022-05-08 09:48] avikivity commented on #9961
No vulnerable branches, not backporting.

[2022-05-08 09:52] nyh commented on #8570
This is indeed a duplicate of #9571. It is customary to close the newer duplicate, but in this case, the newer duplicate has slightly more information so I'll close this one - I hope nobody minds.

[2022-05-08 09:52] #8570 closed

[2022-05-08 10:12] yarongilor commented on #10068
Reproduced again in same test, now repeating endlessly. The SCT log shows ~ 55K such similar errors.
error log + a decommission command failure:
[code]

## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run

[2022-05-08 10:45] nyh commented on #10514
Hi @cjbottaro, you indicated that you did major compaction and the sstables are only 796k, but is this for the **base table** ("jobs") or the index view ("jobs_indexed_idx_index", or something like that)?

Every time you deleted items from the base table, they would also be deleted from the materialized-view that holds the index. I'm worried that this view does not have the same gc_grace_seconds c

[2022-05-08 11:09] psarna commented on #10514
@nyh it's just an inconsistency between what was used to create an index and what's presented when you issue a DESCRIBE statement via cqlsh. Once we implement server-side describe we could also fix that, but right now cqlsh would just show the local index target in its serialized form - in json.

[2022-05-08 11:14] avikivity commented on #9869
It will be in 5.1.

[2022-05-08 11:34] yarongilor opened #10516 "Severe throuput drop after a delete-rows nemesis in large-partitions test"
## Installation details

Kernel Version: 5.13.0-1021-aws
Scylla version (or git commit hash): `5.0~rc3-20220406.f92622e0d` with build-id `2b79c4744216b294fdbd2f277940044c899156ea`
Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run:
- longevity-large-partitions-200k-pks-db-node-a893ca9f-9 (16.16.67.169 | 10.0.1.200) (shards: 12)
- longevity-large-partitions-200k-pks-db-node-a893ca9

[2022-05-08 11:59] #10505 closed

[2022-05-08 12:22] yarongilor commented on #10516
Reproduce in 2022.1.rc3 + delete-row-ranges nemesis as well.

Happned right on the first run of this nemesis:
![Screenshot from 2022-05-08 15-19-10](https://user-images.githubusercontent.com/9427929/167295920-21d5cf52-c8d0-4e58-8516-90adaccf76ec.png)

+---------------------------------------------------------------------------------------------------------------------------------------------------

[2022-05-08 14:59] rayakurl opened #10517 "Artifacts test on Ubunto 20.04 fails since "systemctl is-enabled fstrim.timer" result is "disabled" instead of"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubunt

[2022-05-08 15:41] roydahan commented on #10068
@yarongilor please move your comment to the relevant issue.

[2022-05-08 15:51] tgrabiec commented on #10476
I think the stall is because the test case populates the cache with 100k keys without yielding.

All stall I reproduced locally in cache.populate(). Maybe you got make_reader(), which follows the population loop, by chance.

Those unit tests are not written with the intention to be stall-free.

[2022-05-08 17:13] yarongilor commented on #10217
Might reproduced as well in Gemini-3h longevity.
Got many errors during the streaming repair nemesis:
[code]

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.0~rc3-20220503.3e98e17d1` with build-id `9bb31d710ed5084b792891adbae7c4144484501f`
Cluster size: 3 nodes (i3.large)

Scylla Nodes used in this run:
- gemini-with-nemesis-3h-normal-5-0-oracle-db

[2022-05-08 17:31] roydahan commented on #10499
@enaydanov some information is missing here, what was the previous nemesis / schema change?
Was it completed? What's the output of the "health Check" before the nemesis? (it should contain the schema versions).

[2022-05-08 17:33] yarongilor commented on #10257
Reproduced in Alternator-3h longevity test:
[code]

## Installation details

Kernel Version: 5.13.0-1022-aws
Scylla version (or git commit hash): `5.0~rc3-20220503.3e98e17d1` with build-id `9bb31d710ed5084b792891adbae7c4144484501f`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- alternator-3h-5-0-db-node-79c893f9-7 (18.206.86.191 | 10.0.3.43) (shards: 14)
- alternator-3h-5-0-d

[2022-05-08 17:34] roydahan commented on #10499
Could it be that #10497 is the cause of this one? (please describe which one happened when)

[2022-05-08 17:37] roydahan commented on #10497
@enaydanov please add the information on what happened on the servers side during that time.
Were they waiting for schema agreement? How long?

[2022-05-08 17:41] roydahan commented on #10496
@slivne this is a bit weird, we use LCS in this test with apx. 1TB per node.

[2022-05-08 19:39] avikivity commented on #10505
No vulnerable branches, not backporting.

[2022-05-08 19:47] avikivity commented on #9733
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-05-08 19:48] avikivity commented on #9704
@eliransin please confirm nothing is left to do. I removed the backport candidate label.

[2022-05-08 21:06] slivne commented on #10407
You may have hit a bug https://github.com/scylladb/scylla-tools-java/commit/a4573759a2bbf47ef46fadd511601fca2a36b127

This will be included in the next patch release 4.6.4

[2022-05-08 21:07] slivne commented on #8706
@kostja ping

[2022-05-08 21:08] slivne commented on #10146
@kbr-  you are correct, there is some instability we are looking for the bigger offender

[2022-05-08 21:09] slivne commented on #10251
@roydahan ping

[2022-05-08 21:18] slivne commented on #10372
@xemul thanks for https://github.com/scylladb/scylla/issues/10372#issuecomment-1117245085 - so it sees we are reaching the HW limits - I don't understand why 4.6 did not suffer from this - but maybe iits related to what eliran is chasing in #10146

[2022-05-08 21:20] slivne commented on #10392
@roydahan is this a test issue - if so I'll reassign and we will push out of 5.0

[2022-05-08 23:09] cjbottaro commented on #10514
@nyh Yeah, that was my suspicion also. I wanted to set `gc_grace_seconds` on the index's materialized view and trigger a manual compaction it, but you get a CQL error when trying to issue the `alter table` command.

And yes, the syntax is `CREATE INDEX ON table ((pk),v)`, what was pasted above came from `desc table` output.

I forgot I opened this issue and already deleted the Scylla cluster this

[2022-05-09 01:25] yangly6207 commented on #10407
Yes，I have know the issue https://github.com/scylladb/scylla-tools-java/commit/a4573759a2bbf47ef46fadd511601fca2a36b127
and i modify the scylla-tools-java code according to the issue，but i also get the same result.
[code]

[2022-05-09 02:43] asias commented on #10236
Yes, it makes sense to  set broadcast_rpc_address in Ec2MultiRegionSnitch only when user does not specifies broadcast_rpc_address. If user sets broadcast_rpc_address, we should keep using it.

[2022-05-09 02:44] asias commented on #10236
PR sent: https://github.com/scylladb/scylla/pull/10519

[2022-05-09 05:47] psarna commented on #9571
Do we want higher priority on this? A while ago I queued this task for @Jadw1 after he's done with distributing UDA statements.

[2022-05-09 06:36] denesb commented on #10418
Backported to 4.6 and 5.0.

[2022-05-09 07:23] DoronArazii commented on #4116
@mikolajsieluzycki
Any progress with this one? it's required by the Mavenir case

[2022-05-09 08:00] bhalevy opened #10520 "truncate api should be removed"
See https://github.com/scylladb/scylla/blob/9623589c773d85eb27243f76b67c745f5b891dbb/api/storage_service.cc#L789-L795

[2022-05-09 08:02] bhalevy opened #10521 "set_logging_level api is unimplemented"
Unlike get_logging_level, set_logging_level is still unimplemented (and could be useful).

See https://github.com/scylladb/scylla/blob/9623589c773d85eb27243f76b67c745f5b891dbb/api/storage_service.cc#L744-L750

[2022-05-09 08:05] bhalevy opened #10522 "take_snapshot tag parameter is inconsistently documented as optional"
https://github.com/scylladb/scylla/blob/9623589c773d85eb27243f76b67c745f5b891dbb/api/api-doc/storage_service.json#L618-L623

is inconsistent with

https://github.com/scylladb/scylla/blob/9623589c773d85eb27243f76b67c745f5b891dbb/db/snapshot-ctl.cc#L56-L58

@amnonh please clarify

[2022-05-09 08:19] nyh commented on #10520
Do you or @amnonh have a bit on context on why we need or want a truncate command in the REST API, considering that it is already available as a CQL command? Is it available via nodetool or JMX and this is for compatibility, or there is some other reason?

As a CQL command, `TRUNCATE TABLE ks.cf` will cause the table to be truncated on all nodes, obviously. What is the truncate REST API, sent only

[2022-05-09 08:46] rayakurl commented on #10517
Opened by mistake through Argus link. Closing this issue

[2022-05-09 08:46] #10517 closed

[2022-05-09 09:00] amnonh commented on #10522
I went down the rabbit hole of finding what should be, we are forcing the tag, so it should have been ``required`` but on the nodetool and API it's not.
What does happen from the nodetool side is that if there is no tag the name is the current time in millisecond.

I guess we can either change the API to mimic that behaviour (change in https://github.com/scylladb/scylla/blob/9623589c773d85eb27243f

[2022-05-09 09:06] amnonh commented on #10520
The original API is based on Cassandra 2.1 JMX. Although the API definition is complete only a required subset is implemented. From a simple grep that I did, around 75 are not implemented because we didn't need to.

If you want to implemente any of those API calls, please add a reason, if not, there's no point of opening such an issue and it should probably be closed.

[2022-05-09 09:20] nyh commented on #10520
According to the Datastax documentation https://docs.datastax.com/en/cql-oss/3.x/cql/cql_reference/cqlTruncate.html, the CQL truncate command uses the JMX operation under the covers:

So this is why the JMX operation exists in Cassandra - not to be used independently (there is no nodetool command that calls it!) but just as an implementation detail of the CQL "TRUNCATE".  So our implemention of th

[2022-05-09 09:22] nyh commented on #10520
I would like the decision in this and similar issues to be either to implement the API call, or to outright delete it. I think just closing the issue and keeping the "unimplemented" API call would be a mistake, and will just lead us to waste our time on the same question a year from now again.

[2022-05-09 09:55] eliransin commented on #9331
I will try to help with this.

[2022-05-09 09:58] eliransin commented on #10146
As discussed, we are going for the one that we can reproduce reasonably reliably:
[code]
Jenkins job: https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/eliran/job/scylla-master-perf-regression-aws-test-throughput-10146/40/
test id: dbcba3da-40e0-4d78-b0c1-d86afd1adc22
ami-id: ami-0c2c3d506101401f4
ops/s: 89.5K

![image](https://user-images.githubusercontent.com/22260843/167356703-01

[2022-05-09 10:00] bhalevy commented on #10520
That makes sense.  It is misleading to list the API call while returning an error when it's invoked.

Regarding CQL TRUNCATE, it is currently using a rpc call from the coordinator to all nodes.
As I proposed on the mailing list, I would even like to improve our implementation to use a new kind of tombstone that will logically delete and data prior to its api::timestamp.  The latter could be given

[2022-05-09 10:11] bhalevy commented on #10522
We can do that, though it is typically easier for the user to provide the tag when taking the snapshot so it can be deleted later given the same tag.
Otherwise, if the server picks the tag, the user will need to get the snapshots details to try to guess what tag the server picked in order to delete it.
That said, we already generate tags automatically with auto_snapshot before truncate/drop column

[2022-05-09 10:54] nyh commented on #10520
Generally, I argue that testing should -  as much as possible - use real APIs that users can use. If a normal user cannot possibly do something, there is no reason to test it. An exception to this can a special API to make a rare occurance easier to reproduce - e.g., APIs for injecting errors or sleeps.

This is a bigger issue (see #5283 #7123 and countless other discussions). I think our default,

[2022-05-09 11:11] syuu1228 opened #10523 "scylla_sysconfig_setup: does not able to handle >=32 CPUs cpuset correctly"
Seems like 59adf05951c9acfef4e27141d041a606a938291f has a bug, regex pattern does not able to handle >=32 CPUs cpuset.
Result of that, it generates incorrect cpuset.conf like this:
[code]
It is ignoring first `0xfffffffe,` and handle the string as perftune warning message.

[2022-05-09 11:13] bhalevy commented on #10520
The REST API would be interesting only for testing.
I don't think that truncating a table node-by-node via the API is a valid use-case for users or admins / FE.

[2022-05-09 11:14] nyh commented on #10522
If the server picks the tag, it should return it in the response :-(

[2022-05-09 11:15] slivne commented on #10392
based on Avi's comment

closing

[2022-05-09 11:17] nyh commented on #10520
I still don't understand how it will be useful for testing.
What does it do that CQL's "TRUNCATE" can't in a test?

If you want to test the auto_snapshot feature, you need to run Scylla with auto_snapshot and check that CQL `TRUNCATE` creates snapshots. It is pointless to invent a new API, run that, and then test that this API that nobody actually uses.

[2022-05-09 11:19] roydahan commented on #10516
@yarongilor what do you see in the logs from scylla nodes?

[2022-05-09 11:24] slivne commented on #10257
@xemul ping on https://github.com/scylladb/scylla/issues/10257#issuecomment-1088318195 - was this merged and backported ?

[2022-05-09 11:27] slivne commented on #10257
@fgelcer please extract the comment from https://github.com/scylladb/scylla/issues/10257#issuecomment-1111801203 - to a separate issue and reference the jobs that worked and the runs so we can compare them as well.

[2022-05-09 12:09] fgelcer opened #10525 "[Alternator] - ERROR site.ycsb.db.DynamoDBClient -com.amazonaws.services.dynamodbv2.model.InternalServerErrorException: Internal server error: exceptions::read_timeout_exception (Operation timed out for alternator_usertable_no_lwt.usertable_no_lwt - received only 1 responses from 2 CL=LOCAL_QUORUM.) (Service: AmazonDynamoDBv2; Status Code: 500; Error Code: InternalServerError; Request ID: null)"
i'm seeing it on alternator longevity for 4.5.6:

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.6-0.20220424.85d3fe744`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   alternator-3h-4-5-db-node-6ef7edc2-1 (16.16.66.22 | 10.0.0.60): 14 shards
   alternator-3h-4-5-db-node-6ef7edc2-2 (13.51.13.163 | 10.0.2.56):

[2022-05-09 12:09] fgelcer commented on #10257
moved comment to #10525

@slivne , FYI