[2020-03-08 13:52] bhalevy commented on #5956
Based on our conversation, this may cause performance degradation.
This is not a correctness issue.

[2020-03-08 14:03] ShlomiBalalis commented on #5768
@roydahan It is not related to [scylladb/scylla-enterprise#1268](https://github.com/scylladb/scylla-enterprise/issues/1268)

[2020-03-08 15:14] nyh commented on #5970
@asias your main observation - that if the view backlog estimate doesn't change we don't need to get it again from the gossiper - is correct. We don't expire backlog estimates even if they are very old. We always use the latest view backlog estimate we have - either from a gossip or piggybacked on a response - no matter how old is this latest estimate. The only purpose these timestamps serve is to

[2020-03-08 15:18] bhalevy commented on #5856
@aleksbykov no need for the running instances.  The core is good.

[2020-03-08 15:20] bhalevy commented on #5856
@slivne the code I quoted was there from the original version: 564bcfa4d07366fe0a601a2c5b0b1847b2fc5a71 (in 3.0 and scylla-enterprise/2019.1)
But the jury is still out if this indeed can cause this issue.

[2020-03-08 15:26] bhalevy commented on #5928
Closing scylla issue as the problem is in the test.

[2020-03-08 15:26] #5928 closed

[2020-03-08 16:02] #5709 closed

[2020-03-08 16:02] #5935 closed

[2020-03-08 18:23] nyh opened #5983 "View building wrongly counted as "Non-paged CQL reads""
A user reported that during view building (i.e., adding a materialized-view to an existing table), the "Non-paged CQL reads" counter is increased. The user considers this confusing. Definitely, view building does do reads and they should be counted somewhere, but there is nothing "CQL" about these reads.

[2020-03-08 19:42] slivne commented on #5065
On Sun, Mar 8, 2020 at 3:40 PM nyh <notifications@github.com> wrote:

I would put this to a test ...

I think DynamoDB collocated LSI with the Base Table for a reason - so when
partitioning needs to happen then both can be moved.

I expect that dynamodb streams also align with that partitioning - that is
I expect for a 1TB database with a very slow write rate to have more than
one stream (since 1

[2020-03-08 20:00] nyh commented on #5894
@haaawk,

We recently got a patch which deprecates that "cdc column" in favor of a "schema extension". Is this problem still relevant there, or not?

I'm afraid that this issue (or a similar one regarding the schema extension) might be serious in the following sense: Imagine that somebody is using 3.1, 3.2, etc., upgrading version by version, never even trying CDC because he's afraid of experiment

[2020-03-08 20:22] haaawk commented on #5894
We deprecated cdc column and stopped using it but we didn't remove it so upgrade is safe and shouldn't fail because old cluster has cdc column.

[2020-03-08 20:39] nyh commented on #5065
@slivne definitely, just like we did for the rest of the Alternator project, the Streams part will need to start with a short design process - we'll need to fully understand how this feature works, including experimenting with the actual DynamoDB implementation. Indeed there is the "Kinesis" client library (described here - https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.K

[2020-03-08 23:35] asias commented on #5970
No, gossip sends the difference only. If an application state does not change, gossip will not exchange them at all.  So, I am proposing to send VIEW_BACKLONG only when it really changes.

[2020-03-08 23:42] asias commented on #5970
The overhead of calling add_local_application_state per second is tiny but it causes the updated VIEW_BACKLONG to be propagated in the whole cluster while the value does not really change. Number of nodes in the cluster - 1 nodes will receive this information.

[2020-03-08 23:50] asias commented on #5970
This is a good idea. I am wondering what is the impact if we do not send, say 10%, view_backlog.

[2020-03-09 00:22] asias commented on #5906
The patch is merged: scylladb/scylla-dtest#1340. Closing it now. Please reopen if needed.

[2020-03-09 00:22] #5906 closed

[2020-03-09 05:24] asias commented on #5942
I am working on a patch to relax the failure when keyspace was removed during the bootstrap procedure.

[2020-03-09 05:25] yuqin11 opened #5984 "Drop key space do not remove data on disk. do i need to remove manually?"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):3.0.7
Cluster size:2
OS (RHEL/CentOS

[2020-03-09 06:13] amoskong commented on #5984
You can release the space by two commands:

1. nodetool cleanup
https://docs.scylladb.com/operating-scylla/nodetool-commands/cleanup/

2. nodetool clearsnapshot
https://docs.scylladb.com/operating-scylla/nodetool-commands/clearsnapshot/

[2020-03-09 06:29] yuqin11 commented on #5984
is there any method that use java package com.datastax.driver.core.Cluster or rest api?

[2020-03-09 06:30] nyh commented on #5984
Indeed, Scylla keeps dropped tables (including the case where a keyspace was dropped) as a "snapshot" to allow undoing the "drop table" operation, if required. This behavior surprises many (it surprised me when I first encountered it!) but was done intentionally, and documented:

https://docs.scylladb.com/troubleshooting/drop_table_space_up/
https://docs.scylladb.com/faq/#dropping-a-table-does-not

[2020-03-09 06:30] #5984 closed

[2020-03-09 06:42] bhalevy opened #5985 "Node stuck on shutdown in tracing_shutdown_test"
Seen most recently in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/410/testReport/cql_tracing_test/TestCqlTracing/tracing_shutdown_test/

(https://github.com/scylladb/scylla/issues/5697 seen too, for reference)

Scylla debug version b4b08be0e10846c1dbb9719af6511014d387c458
build-id 28e7bf7b3ee69cf43c7fd23c576bbe623d1ca27f
[code]

Core dump: https://jenkins.scylladb.co

[2020-03-09 06:45] bhalevy commented on #5985
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/410/artifact/logs-debug.2/1583724287757_cql_tracing_test.TestCqlTracing.tracing_shutdown_test/node2.log
[code]

[2020-03-09 08:06] haaawk commented on #5969
Not a bug. This is an expected behaviour. When we were designing CDC we decided that this situation has to be handled by the client in the following way:
1. Stop using column you want to remove
2. Wait until all the history that contains this column is read
3. Drop the column.

[2020-03-09 08:06] #5969 closed

[2020-03-09 08:13] slivne commented on #5790
@roydahan / @ShlomiBalalis ping

[2020-03-09 08:14] haaawk commented on #5920
This was fixed with https://github.com/scylladb/scylla/pull/5923

[2020-03-09 08:14] #5920 closed

[2020-03-09 08:15] haaawk commented on #5737
Fixed with https://github.com/scylladb/scylla/pull/5908

[2020-03-09 08:15] #5737 closed

[2020-03-09 08:37] asias commented on #5942
Patch sent. With the patch, the test passes for me.

[2020-03-09 08:53] piodul commented on #5966
This is already fixed in master. It was fixed by https://github.com/scylladb/scylla/pull/5724.

When I ran the c-s workload described in the issue, the master version of Scylla correctly refused to create the CDC log table:
[code]

[2020-03-09 08:53] #5966 closed

[2020-03-09 09:18] ShlomiBalalis commented on #5790
@asias It seems that the issue occurred again, with your packages installed:

scylla version: 666.development-0.20200226.642e8deed
build id: 5447b328d71aabbdc71d49e2314b129ce18a83ce

test id: 4dc1defa-542c-4ed2-866a-1aa7cb32bd5d

nodes:
longevity-200gb-48h-verify-limited--db-node-4dc1defa-1 [34.244.95.19 | 10.0.139.104]
longevity-200gb-48h-verify-limited--db-node-4dc1defa-2 [34.250.73.75 | 10.0.12

[2020-03-09 09:29] nyh commented on #5978
@slivne rightly raised the possibility that if this latency spike only happens in the **beginning** of the view building, and not throughout the process, then it might be something else that happens when creating the materialized view - **not** the view building itself.

Notably, adding a view sends all clients a notification that the schema has changed, and causes all the clients to start fetchin

[2020-03-09 09:48] bhalevy commented on #5881
@scylladb/scylla-maint ping backport

[2020-03-09 09:56] bhalevy commented on #1488
ping @raphaelsc

[2020-03-09 09:59] amoskong commented on #5966
Hi @piodul

How about my first suggestion in https://github.com/scylladb/scylla/issues/5966#issue-576625206 ?
- `So we should deny user to create table with _scylla_cdc_log suffix, at least giving a WARNING.`

With latest scylla (666.development-0.20200308.b4b08be0e10), I can't reproduce this segfault.
But I can still create table with _scylla_cdc_log suffix, and the table can't be dropped.

[code

[2020-03-09 10:40] piodul commented on #5966
@amoskong

We wanted to allow users to create tables `X_scylla_cdc_log` suffix  if `X` does not exist. We currently check for conflict if somebody tries to create `X` with cdc, or enable cdc for an existing table `X`.

[code]

It should be possible, to drop `X_scylla_cdc_log` table when `X` table does not exist - this is a bug. I'll prepare a fix shortly.

[2020-03-09 10:47] denesb commented on #5856
@bhalevy I can you print the whole `r` object, to see if there are any other fields with values that could be corrupt?

[2020-03-09 10:54] ShlomiBalalis commented on #5790
Logs:
[code]

[2020-03-09 11:06] bruno-barin-ifood commented on #5936
@slivne Any news on this?

[2020-03-09 11:15] slivne commented on #5936
can you please attach the tcpdump / wireshark capture so I can analyze it

On Mon, Mar 9, 2020 at 1:06 PM Bruno Barin <notifications@github.com> wrote:

[2020-03-09 11:16] kbr- commented on #5065
But does the client care what the underneath reasons are? It's an implementation detail.

In DynamoDB, the client has to handle multiple shards. He's not given any choice - the database decides when/if shards are split, and the client must act accordingly. Whatever the database's reasons were.
In Scylla, ... it's the same, with shards replaced by streams.

That's a real issue, I agree. But in this

[2020-03-09 11:21] asias commented on #5172
I reproduced it. The problem is that during bootstrap when we check if a node is safe to bootstrap, we do not consider HIBERNATE node to be unsafe.  To be extra safe, I think we can whitelist the status that is allowed to be bootstrapped, i.e., node is not in gossip at all, STATUS_LEFT (for node being decommissioned), REMOVED_TOKEN (for node removed with nodetool removenode)

[code]

Yes.

[2020-03-09 11:38] asias commented on #5790
The streaming for decommission for keyspace 1 finished successfully.

[code]

I did not see the logs for the rest of decommission nor system_auth streaming though.

[2020-03-09 11:40] denesb commented on #5917
We can wrap allocation sites susceptible to large allocations in `zstd_processor` with `try catch` and decorate the exception with additional information that might reveal why `ZSTD_estimateCCtxSize_usingCParams()` estimated such a large buffer to be needed.

[2020-03-09 12:37] gnumoreno commented on #3174
Reproducer:

[code]

[2020-03-09 12:43] bruno-barin-ifood commented on #5936
The dump is pasted on the previous message

[2020-03-09 12:56] denesb commented on #5930
The ranges sstables cover are disjoint, with the exception of 11 sstables that cover mostly the same range.

[2020-03-09 13:08] slivne commented on #5936
I need the raw packets themself

On Mon, Mar 9, 2020 at 2:43 PM Bruno Barin <notifications@github.com> wrote:

[2020-03-09 13:08] denesb commented on #5930
What's strange is that I don't see any compaction in the task histogram. Also, the shares of the `compaction` class is very low: `50.12`, compared to that of `statement`, which is `1000`.

[2020-03-09 13:16] denesb commented on #5930
[code]

Looks like the sstables were added en-masse and for some reason compaction didn't kick in even though its invariants are clearly violated. This hints at bootstrap (repair).

[2020-03-09 13:21] avikivity commented on #5794
Backported to 3.3.

[2020-03-09 13:33] raphaelsc commented on #1488
@bhalevy that suggested approach is outdated, we moved towards a different solution. please check out https://github.com/scylladb/scylla/pull/5877/

[2020-03-09 13:33] slivne commented on #3174
@gnumoreno  its casting not a sum function, why do you need to cast the value (in this case it was an attempt to make the value an int that can be summed.

[2020-03-09 13:35] avikivity commented on #5936
I think two things are happening:
1. The rust driver is not re-preparing statements for which it gets this message. It's the driver's responsibility to re-prepare, since if a node goes down, it loses all prepared statements.
2. The application is generating a large amount of prepared statements. This usually happens when the statement undergoes formatting on the client side and some parameter is e

[2020-03-09 13:38] slivne commented on #5936
That maybe the case, we did see this in the past when a comment was
embedded inside a prepared statement - and that caused an issue.

It would really help to get a tcpdump of such traffic so we can provide
input on why this happens.

On Mon, Mar 9, 2020 at 3:35 PM Avi Kivity <notifications@github.com> wrote:

[2020-03-09 13:49] bhalevy commented on #5930
Cc @raphaelsc

[2020-03-09 14:00] bhalevy commented on #5930
@asias is repair-based bootstrap supposed to repair the mv tables?
[code]

[2020-03-09 14:13] psarna commented on #3517
@eliransin I won't be involved in this issue anymore and the discussion seems to have died, so I'm unassigning myself to avoid confusion.

[2020-03-09 14:16] psarna commented on #4365
@eliransin update: I totally forgot that I have an RFC for it, but it looks like I do, so I'll just pursue it one day, once I'm done with other priorities. I think I'll go with using tags to enable/disable synchronous view updates, now that we have them from alternator.

[2020-03-09 15:03] yarongilor opened #5990 "manager repair fails on node: "failed to prepare repair for keyspace system_auth""
Installation details
Scylla version (or git commit hash): 3.3.rc1-0.20200223.756574d0946
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0c85a055819845e7f eu-west1

scenario:
mv-si longevity.
had some reboot nemesis and restart-service nemesis prior to running manager repair.
then when running manager repair nemesis the repair failed with an error.

nemesis that ran prior to manager repair ar

[2020-03-09 15:07] bhalevy commented on #5856
@denesb
[code]

[2020-03-09 15:30] roydahan commented on #5911
@yarongilor, please do the same but now use branch-3.2 of SCT.
The test may have changed and more data/higher load was added causing the bootstrap to take longer.
We would like to understand if that's true.

[2020-03-09 16:52] bhalevy commented on #5856
@aleksbykov Do we have the schema for the latest run and the node logs?

[2020-03-09 17:25] gnumoreno commented on #5936
@bruno-barin-ifood can you please provide the tcpdump raw packages?

[2020-03-09 17:31] gnumoreno commented on #3174
@slivne the original poster also mentioned casting, please check the first post on the thread.

[2020-03-09 17:37] #5899 closed

[2020-03-09 17:37] #5962 closed

[2020-03-09 17:54] bhalevy commented on #5856
Also, were there any schema changes in this test?
After further analysis of the core dump with @tgrabiec we now suspect an inconsistency in the schema when parsing the clustering key for compare where we expect a float type but have a single byte value in the `clustering_key_prefix`.

[2020-03-09 22:28] rahultaing commented on #5968
https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/cassandra/schema

[2020-03-09 22:41] rahultaing commented on #5968
let me know what other information you need from me on this.

[2020-03-09 23:31] asias commented on #5930
Yes. We stream/repair the view table during bootstrap as normal table.

[2020-03-10 00:11] asias commented on #5911
This is the 3.2 run. 3.3 run had the same pattern. I tired to figure out  the mapping between metrics and the operations. 2 & 4 were decommission, 3 & 5 were bootstrap. What operation was done for period 1?

![3 2 stream](https://user-images.githubusercontent.com/320076/76267558-24d12180-62a6-11ea-9d59-7f95aef534fc.png)

[2020-03-10 00:12] asias commented on #5911
3.2

![3 2](https://user-images.githubusercontent.com/320076/76267745-bc367480-62a6-11ea-994f-af91d3a53fac.png)

3.3
![3 3](https://user-images.githubusercontent.com/320076/76267750-bf316500-62a6-11ea-9973-11f663f7b209.png)

[2020-03-10 00:17] asias commented on #5911
Thanks for the data. The 3.2 and 3.3 bootstrap time were 247 and 268 minutes. 3.3 has increased 8.5%. Both are longer than the 3 hours deadline.

[2020-03-10 00:25] asias opened #5992 "CDC_STREAMS_TIMESTAMP application state is printed as UNKNOWN"
I saw UNKNOWN application state in the logs:
[code]
 It turned out it was CDC_STREAMS_TIMESTAMP.

 $ nodetool gossipinfo|grep 1583371936128
   X8:1583371936128
   X8:1583371936128

[2020-03-10 00:46] asias commented on #5790
The logs on node 3 ends at

[code]

According to the metrics, there were streaming traffic until Mar 09 04:03:00. We are missing ~20 minutes of logs. So either the [log](https://github.com/scylladb/scylla/issues/5790#issuecomment-596457875) is collected before the test really finishes or we have lost some logs. Can you please recollect the logs?

![2020-03-10_08-42](https://user-images.githubuserc

[2020-03-10 00:49] asias commented on #5790
There were no stream reader timeout exception in the log.

For the record, the scylla commit used in the test is: 642e8deed74713e98b34522812def4e0496bcf2e
at asias/issue_5790_decommission_never_ends

[2020-03-10 01:49] dekimir commented on #5887
The results described below happen with consistency level ONE.  But I noticed that with LOCAL_ONE, the returned count is always 1000, no matter how many times I query.

[2020-03-10 02:24] amoskong opened #5994 "OOM with clustering rows with very large (collection) cells"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200304.325c3e13ebf
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-036b8dab794ffaa41  (eu-west-1)
Instance type: i3.4xlarge
Number of loader nodes: 1

### Description

Coredump occurred during decommission Nemesis, `lsa - Aborting due to allocation failure`
There is some large collections, some big item is about 3

[2020-03-10 02:35] amoskong commented on #4877
I can still reproduced the crash in latest master

Scylla version (or git commit hash): 666.development-0.20200304.325c3e13ebf
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-036b8dab794ffaa41 (eu-west-1)
Instance type: i3.4xlarge
Number of loader nodes: 1

[code]

/CC @roydahan @espindola

[2020-03-10 02:40] amoskong commented on #5994
### Uploaded coredump:
https://storage.cloud.google.com/upload.scylladb.com/core.scylla.996.7c2a06d3ad284f719d70918519ddf1d4.1800.1583774058000000/core.scylla.996.7c2a06d3ad284f719d70918519ddf1d4.1800.1583774058000000.gz

### Decoded backtrace:

[code]

[2020-03-10 02:50] amoskong commented on #5994
There were also some `seastar_memory - oversized allocation` Warning on all 4 db nodes.

[code]

[2020-03-10 06:09] aleksbykov commented on #5856
@bhalevy
No, there is no any planned schema changes in test

[2020-03-10 06:12] aleksbykov commented on #5856
yes, db logs could be found here: https://cloudius-jenkins-test.s3.amazonaws.com/529d2f0d-392c-45f5-92a8-5e33847349b5/20200308_155912/db-cluster-529d2f0d.zip

[2020-03-10 06:14] aleksbykov commented on #5856
here the schema generated by gemini:
[code]

[2020-03-10 07:57] asias commented on #5930
The [node5.log](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/407/artifact/logs-release.2/1582995866790_materialized_views_test.TestMaterializedViews.mv_populating_from_existing_data_during_extend_test/node5.log) shows tons of compaction for the view table tm_table_mv_{0, 9}. But there is no compaction for the base table at all tm_table.
[code]

[2020-03-10 07:59] denesb commented on #5930
Yes I also noticed that, but no theory yet as to why that happens. I think this will be the key to why we have so many sstables.

[2020-03-10 08:04] slivne commented on #4877
@espindola  / @bhalevy ?

[2020-03-10 08:17] asias commented on #5930
The ranges for tm_table to sync with are 780 . There are 4 nodes to sync data to node5. So the sstables for tm_table per shard is 780 * 4 =  3120 sstables in worst cases. I misread you comments above, I thought you meant there were ~37K sstables.

[code]

In https://github.com/scylladb/scylla/issues/5930#issuecomment-595763298, the 648 sstables on per shard or on all shards (2 shards in total). Ac

[2020-03-10 08:18] asias commented on #5790
Btw, I tried to ssh to those machines to check the log myself but I couldn't login.

[2020-03-10 08:40] #5810 closed

[2020-03-10 08:42] slivne commented on #5790
extracting logs for asias

node
34.249.81.187

[code]

[log.gz](https://github.com/scylladb/scylla/files/4311174/log.gz)

[2020-03-10 08:54] asias commented on #5790
So, one of the node is stuck with streaming. The node with 10.0.139.104 is not finished.

[code]

[2020-03-10 09:01] denesb commented on #5930
[code]

[2020-03-10 09:41] asias commented on #5790
So, node 1 (receiver) on shard 5 missed the log like below for  stream plan 79c00170-61b6-11ea-8b01-000000000006.  node1 finished receiving all the data on all shards except shard5.

[code]

node3 started the sending on shard 5.

[code]

[2020-03-10 09:41] denesb commented on #5870
Maybe we do have to do https://github.com/scylladb/scylla/issues/5919 before we can do this. Materialized views also issue unpaged queries when generating view updates, and we definitely don't want to abort those. See https://github.com/scylladb/scylla/issues/5983.

We'll have to carefully tag all internal queries to avoid suprizes.

[2020-03-10 09:42] asias commented on #5790
Do we know a recent "good" version for the test?

[2020-03-10 09:56] #5777 closed

[2020-03-10 10:12] slivne commented on #5808
@fgelcer ping

[2020-03-10 10:16] slivne commented on #5759
@roydahan / @fgelcer  https://github.com/scylladb/scylla/issues/5759#issuecomment-588740975

@fgelcer - so its clear on 3.2 you ran the exact same SCT version with the nemesis (including networking) and weren't able to reproduce the issue

Can we please run SCT on 3.3 without TLS and verify this doesn't reproduce - it will point the finger toward TLS

[2020-03-10 10:16] slivne commented on #5722
@penberg ping

[2020-03-10 10:25] psarna commented on #5887
Question: this whole test is based on the idea of repairing a single datacenter and querying with `cl == LOCAL_ONE`, and yet `assert_repair_option_pr_rows()` is called with a default consistency level, i.e. `ONE`. Isn't it a bug? I ran this test 3 times after explicitly changing it to `LOCAL_ONE` by: `self.assert_repair_option_pr_rows(session, 1200, 1800, ConsistencyLevel.LOCAL_ONE)` and it passed

[2020-03-10 10:42] slivne commented on #4924
we also fixed d7a9fc3611a96b862d35166763897dcf5708c848

I am closing this for now

[2020-03-10 10:42] #4924 closed

[2020-03-10 10:48] roydahan commented on #5911
Yes @asias thanks for verifying as well.
As of now, It doesn't  seem like a regression in Scylla (unless we missed it between 3.1 and 3.2).
We are going to run the same comparison with 3.2 and 3.3 but using branch-3.2 of SCT to check if it's something that was introduced as part of SCT (e.g. new workload for zstd compression that increase the load on the nodes and cause the bootstrap to take more

[2020-03-10 10:55] bruno-barin-ifood commented on #5936
Sure, below you have a sample:

[code]

[2020-03-10 10:57] avikivity commented on #5936
We need it in binary .pcap format.

[2020-03-10 10:58] psarna opened #5997 "Commitlog for local view updates could be skipped"
When applying view updates locally on the same node, multiple commitlog entries will be used - one for the base table, and one for each view. That's redundant both in terms of storage space and latency - we could benefit from skipping the commitlog stage for local view updates, as long as the commitlog segment is kept not only until the base memtable is flushed, but rather after all related view m

[2020-03-10 11:09] bruno-barin-ifood commented on #5936
[traffic.txt](https://github.com/scylladb/scylla/files/4312004/traffic.txt)

Please rename it to pcap extension as Github does not support that format for file upload.

[2020-03-10 11:12] gleb-cloudius commented on #5997
Do we generate view updates on commitlog replays?

--
			Gleb.

[2020-03-10 11:19] bhalevy commented on #4877
@amoskong the new instance jujst looks superficially the same as the original one in this issue
The decoded backtrace indicates https://github.com/scylladb/scylla/pull/5509
[code]

[2020-03-10 11:19] #4877 closed

[2020-03-10 11:24] asias commented on #5790
Can you tell me the exact c-s cmd that is used to write and read data during the test?

[2020-03-10 11:52] psarna commented on #5997
Looks like we don't - commitlog uses the `db::apply_in_memory` path, which is not responsible for generating view updates. That would naturally need to be taken into account for local updates as well.

[2020-03-10 12:01] jul-stas commented on #3174
Aggregation is already solved and merged to master: https://github.com/scylladb/scylla/pull/5632 . (GH somehow didn't close this issue...)
Rearding casts: currently only **implicit** cast to long is supported. If we need other casts let's open a new issue and talk about it.

[2020-03-10 12:03] ShlomiBalalis commented on #5790
Stress commands:

stress_cmd: "cassandra-stress write cl=QUORUM duration=2860m  -schema 'replication(factor=3) compaction(strategy=LeveledCompactionStrategy)' -port jmx=6868 -mode cql3 native -rate threads=250  -col 'size=FIXED(1024) n=FIXED(1)' -pop seq=400200300..600200300 -log interval=15"

stress_read_cmd: "cassandra-stress read cl=ONE duration=2860m -schema 'replication(factor=3) compaction(s

[2020-03-10 12:21] ShlomiBalalis commented on #5790
As for a recent successful run of the test, the latest run of the job, the decommission nemesis ran three time and all three were successful.
Details:
scylla version: 666.development-0.20200304.325c3e13ebf
build-id: 7bfdd5275beb441afbc1163877293b8043150fc8
test id: 91c4d8ab-0ae1-4d3f-a132-bd6143b0dcdd

logs:
[code]

The decommission ran in the following times:
Node longevity-200gb-48h-verify-limit

[2020-03-10 12:38] eliransin commented on #5933
@penberg ping

[2020-03-10 12:47] bhalevy commented on #5887
It's unintended, it was copied from the original test in scylladb/scylla-dtest@2ffcb2690fdeaff7b73063f37b7b2cac217f4801
but I think you're right and we need to fix the test.

[2020-03-10 12:50] eliransin commented on #5887
@psarna please push your fix :smile:

[2020-03-10 12:59] denesb opened #5998 "Node operations will process materialized view twice"
Node operations (both streaming and repair based) will transfer over materialized view tables along with the normal ones. Both streaming and repair has a hook from the view building code however that will cause each transferred sstable to be registered with the `view_mutation_builder`, which will then generate view updates for it. This is good if the view is missing updates for some of the base ta

[2020-03-10 13:06] dyasny commented on #5870
@denesb according to @nyh MVs do not issue queries as such, and this feature should not break that functionality. See https://github.com/scylladb/scylla-enterprise/issues/1279#issuecomment-596234707

[2020-03-10 13:11] denesb commented on #5870
@dyasny rows can be big, even a single cell can be bigger than the limit (of 1MB). Since we know MVs read single rows, we can tag its queries as system and as such not subject to the limit.

[2020-03-10 13:13] gleb-cloudius commented on #5870
On Tue, Mar 10, 2020 at 06:11:20AM -0700, Botond Dénes wrote:

I do not think we enforce a limit for one row otherwise it will be
impossible to read a large row.

--
			Gleb.

[2020-03-10 13:14] denesb commented on #5870
@gleb-cloudius we don't. For paged queries, we just close the page off whenever we go above the limit (by however much), for unpaged queries there is no limit.

The plan is to introduce a limit for unpaged queries as well, and be mores strict about it. Fail any queries that go above it.

[2020-03-10 13:14] psarna commented on #5887
https://github.com/scylladb/scylla-dtest/pull/1354

[2020-03-10 13:15] slivne commented on #5998
I am not sure this is true (at least with old non repair based operations
it wasnt).

When you bootstrapped a new node - you transferred the base and the views -
I don't think we force the new added node todo view building for all the
base sstables it just got ownership of.

On Tue, Mar 10, 2020 at 3:00 PM Botond Dénes <notifications@github.com>
wrote:

[2020-03-10 13:17] gleb-cloudius commented on #5870
On Tue, Mar 10, 2020 at 06:14:11AM -0700, Botond Dénes wrote:

We can punish unpaged queries all we want, but if we apply a limit (for
paged queries) before there is a row ready to be returned it means there
will be no way to read the row. Of course there is already such limit:
shard memory.

--
			Gleb.

[2020-03-10 13:20] dyasny commented on #5870
So maybe
1. We should calculate the imit from the amount of shard memory instead of hardcoding it to 1Mb?
2. Make the limit configurable (in scylla.yaml)

[2020-03-10 13:22] denesb commented on #5998
Indeed it is not as bad as I thought:
https://github.com/scylladb/scylla/blob/d895f5e1311118cc93e8c84384914a0a9bde2267/db/view/view.cc#L1848-L1861

We will only generate view updates if the stream reason is repair or if there is view building going on for any of the affected views.

[2020-03-10 13:24] denesb commented on #5870
I don't plan to do any changes for paged queries. For those the sky is already the shard's memory.
The plan is to simply don't allow any **unpaged user query** to read more than the limit (1MB) by default. We of course want to exclude system queries from this, and MV update is technically a system query, just wrongly tagged.

[2020-03-10 13:25] slivne commented on #5998
Great

Now we need to figure out - if this changes since we moved bootstrapping to
be based on repair.

@Piotr Sarna <sarna@scylladb.com> / @Asias He <asias@scylladb.com>  need
your inputs on this.

On Tue, Mar 10, 2020 at 3:22 PM Botond Dénes <notifications@github.com>
wrote:

[2020-03-10 13:27] denesb commented on #5870
What if there is another unpaged query executing already? In general determining how much memory is **safely** consumable is very hard. Users just shouldn't do unpaged queries.

This I planned to do anyway, in fact there is already such a limit introduced in https://github.com/scylladb/scylla/commit/75efa707cec1895253f569bb6363190bc295b899 in scope of https://github.com/scylladb/scylla/issues/5804

[2020-03-10 13:30] denesb commented on #5998
Actually https://github.com/scylladb/scylla/issues/5930 does view building. So we just need a simple confirmation from @asias that repair based node operations use the correct streaming reason and we can close this.

[2020-03-10 14:02] asias commented on #5790
Did you have a older good run? The version scylla version: 666.development-0.20200304.325c3e13ebf is more recent than what we tested 642e8de. Also, the version  666.development-0.20200304.325c3e13ebf contains the repair based node ops patch series.

[2020-03-10 14:50] eliransin commented on #5029
@psarna this is the issue.
What I have so far is that it is one thing to hook into admission control and another to actually calculate meaningful admition.

[2020-03-10 15:02] denesb commented on #5930
I reproduced locally and added additional logging:

It looks like `ks.tm_table` is not compacted because `cs.get_sstables_for_compaction(cf, get_candidates(cf));` returns an empty descriptor for it.

[code]

[2020-03-10 15:24] denesb commented on #5930
https://github.com/scylladb/scylla/blob/d895f5e1311118cc93e8c84384914a0a9bde2267/table.cc#L1468-L1473

We filter out sstables that are staging. Also, during streaming/repair, sstables that have an ongoing view building are created as staging ones. This wasn't a big problem for the old streaming based bootstrap as 10 extra uncompactable sstables are not that a big deal, but with the amount of sstab

[2020-03-10 15:34] denesb commented on #4176
Another scenario we should improve: loads of sstable with little to no content: https://github.com/scylladb/scylla/issues/5930.

[2020-03-10 15:50] denesb commented on #5930
Ideally the `reader_concurrency_semaphore` wouldn't admit so many reads to trigger OOM, however we are not quite there [yet](https://github.com/scylladb/scylla/issues/4077).

So we have to make sure we don't start serving reads with loads of tiny sstables. Maybe we should wait until we can compact the sstable set into shape before we mark the node ready to serve reads.

[2020-03-10 15:55] denesb commented on #5930
@glommer will off-strategy compaction address this?

[2020-03-10 16:06] espindola commented on #4877
Why close this now? Shouldn't it wait for 5509 to be merged?

[2020-03-10 16:23] ShlomiBalalis commented on #5790
Oh, you said recent. from what time do you mean then? the last good run before the issue occurred?

[2020-03-10 16:42] bhalevy opened #5999 "~timer crashed during shutdown in simple_add_new_node_while_schema_changes_test: Assertion `!hook.is_linked()' failed."
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/417/artifact/logs-release.2/1583810078409_update_cluster_layout_tests.TestUpdateClusterLayout.simple_add_new_node_while_schema_changes_test/node4.log
[code]

Decoded bracktrace:
[code]

Core dump here: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/417/artifact/logs-release.2/15838100

[2020-03-10 17:03] gibsn commented on #5922
Found a bug in client, client would set the tracing bit even though tracing is disabled in app config. Will deploy the fix and report

[2020-03-10 17:25] roydahan commented on #5790
Yes

[2020-03-10 17:49] xemul commented on #5999
Destroying a timer not unlisted from reactor lists.

[2020-03-10 18:31] vladzcloudius commented on #5951
Well, this is, of course, correct and we have the same "issue" with CQL Tracing today - and we were able to deal with this.

`activity` field above was meant to have exactly that. ;)

Sounds like a plan to me ;)

[2020-03-10 18:36] xemul commented on #5999
Aborted start. The join_token_ring -> bootstrap resulted in exception after set_mode(mode::JOINING, "Starting to bootstrap...", true);, then the unroll began.

From logs:

    storage_service - JOINING: Starting to bootstrap...
    ... <repair/compaction stuff>
    init - Shutting down gossiping

[2020-03-10 18:47] xemul commented on #5999
The timer is the one one expiring_fifo. The latter is used by reader_concurrency_semaphore and logalloc::region_group

[2020-03-10 19:05] xemul commented on #5999
Crash is in expiring_fifo::pop_front -> unique_ptr::reset -> ... -> timer::~delete

[2020-03-10 19:05] xemul commented on #5999
Candidate: reader_concurrency_semaphore::signal -> _wait_list.pop_front();

[2020-03-10 19:49] #5814 closed

[2020-03-10 23:39] asias commented on #5790
Anything that before the commit 27b36beb4abd856d0b5ac4826b5ad7b82a798ec6 is ok. So we can know changes between the good commit and the bad commit 27b36beb4abd856d0b5ac4826b5ad7b82a798ec6 to bisect.

[code]

[2020-03-10 23:40] asias commented on #5790
Yes to which question?

[2020-03-11 00:14] asias commented on #5930
Thanks Botond! Very good progress.

[2020-03-11 00:28] asias commented on #5998
Currently, all repair use streaming::stream_reason::repair unconditionally, including the ones used by repair based node ops.  We can extend repair to send the real reason for the repair, e.g., bootstrap, repair. We need to consider the resume cases though. Say, bootstrap failed in the middle, we need to resume the bootstrap. Since the repair reason is now bootstrap, the view update will not be tr

[2020-03-11 06:32] asias commented on #5930
PR sent. With https://github.com/scylladb/scylla/pull/6000, the test now passes for me.

[2020-03-11 06:56] bhalevy opened #6001 "schema disagreement in changes_while_node_down_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/83/testReport/concurrent_schema_changes_test/TestConcurrentSchemaChanges/changes_while_node_down_test/
Scylla version b4b08be0e10846c1dbb9719af6511014d387c458
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/83/artifact/logs-debug.2/1583719383387_concurrent_schema_chan

[2020-03-11 07:17] xemul commented on #5999
#7  seastar::timer<seastar::lowres_clock>::~timer (this=0x6000000c83a8, __in_chrg=<optimized out>) at ./seastar/src/core/reactor.cc:589
(gdb) p (seastar::timer<seastar::lowres_clock>*)0x6000000c83a8
$1 = (seastar::timer<seastar::lowres_clock> *) 0x6000000c83a8
(gdb) p $1->_expired
$2 = false
(gdb) p $1->_queued
$3 = false
(gdb) p $1->_armed
$4 = false

[2020-03-11 07:31] xemul commented on #5999
#17 seastar::future<>::then_wrapped_common<false, void, seastar::shared_future<>::shared_state::get_future(std::chrono::time_point<seastar::lowres_clock, std::chrono::duration<long, std::ratio<1l, 1000l> > >)::{lambda(seastar::future<>&&)#1}>(seastar::shared_future<>::shared_state::get_future(std::chrono::time_point<seastar::lowres_clock, std::chrono::duration<long, std::ratio<1l, 1000l> > >)::{la

[2020-03-11 07:36] asias commented on #5790
OK.

According to #5768 ([comment](https://github.com/scylladb/scylla/issues/5768#issuecomment-590055212))
[code]

I propose to run the same test with 666.development-0.20200128.b06b34478ed to have more confidence that b06b34478ed is a good version to narrow down the bisect ranges.

[2020-03-11 08:00] asias commented on #5790
@denesb Does your series "17eaf552f  Merge "Improve the accuracy of reader memory tracking" from Botond" would affect the readers like generating readers or the reader we passed to sstable writer? On the streaming side, we use mutation_writer/multishard_writer.cc which in term uses the generating readers and the sstable writer consumes the reader.

I filtered (shifted to right) some of the unrelat

[2020-03-11 08:01] haaawk opened #6002 "Add metricts for CDC"
We need to add some metrics to CDC to be able to monitor it.

The most important is the number of successful/unsuccessful CDC augmentations.

Additionally, the number of successful/unsuccessful preimage selects.

It would be also useful to have number of successful/unsuccessful CDC augmentations that required mutation splitting.

It might be also useful to track the number of CDC augmentations tha

[2020-03-11 08:01] haaawk commented on #6002
@amnonh would you have any other recommendation?

[2020-03-11 08:12] amnonh commented on #6002
It's better to start early with one for total and one for error than wait for a later everything.
Would you need latency reporting?

[2020-03-11 08:15] haaawk commented on #6002
It would be nice to have an average latency of preimage select and total CDC operation probably divided to successful and unsuccessful because unsuccessful can be slower.

[2020-03-11 08:24] haaawk commented on #6002
@amnonh Can we have multiple labels added to the same operation? What I mean is that one CDC operation can be touching static row, range delete and sth else at the same time so we would like to mark it as multiple labels.

[2020-03-11 08:39] amnonh commented on #6002
@haaawk You can add multiple labels, note that you should count whatever you are counting, only once.
In general, labels are used to group by so if you have label A and label B.
sum(metric) = sum(sum(metric by A)) = sum(sum(metric by B))

[2020-03-11 08:48] haaawk commented on #6002
I don't understand. Did you mean second = to be +?

[2020-03-11 08:55] amnonh commented on #6002
No, I meant it doesn't matter how you sum, you should always get the same number.
Think that you have a metric for the number of writes and you add  labels per keyspace/table

so the total number of writes should be equal to the sum of the number the number of writes per table and should be equal to the the sum of the number of writes per keyspace.

[2020-03-11 09:03] haaawk commented on #6002
Hmm. How would it work with the following labels: STATIC_ROW, ROW_DELETE, UDT and following operations:
1. touches static row and udt
2. touches row delete and udt
3. touches static row

Total number of operations is 3. Total of UDT is 2. Total of row delete is 1. Total of static row is 2.

those labels are not exclusive.

[2020-03-11 09:06] juliayakovlev commented on #5002
Hint manager drops were found in large partition test (longevity-large-partition-200k-pks-4days)

Installation details:
Scylla version: 3.3.rc2-0.20200305.3bed8063f6c
AMI: ami-01c890a4541178da1
Cluster size: 5 nodes (i3en.3xlarge)

Hinted handoff is enabled.
Scylla on one node was restarted. Scylla was down about 30 sec.
After the Scylla was up, reported about hint drops:

![Screenshot from 2020-0

[2020-03-11 09:09] avikivity opened #6003 "Out-of-memory during startup despite free memory available with many tables, in tracker::impl::register_region"
[code]

[2020-03-11 09:11] avikivity commented on #6003
This is on startup (while loading tables), so all memory is free but in LSA due to prime_segment_pool().

[2020-03-11 09:20] slivne commented on #5918
@roydahan ping

[2020-03-11 09:31] slivne commented on #5894
@haaawk  can I close this

[2020-03-11 09:35] #5894 closed

[2020-03-11 09:50] piodul commented on #6002
@haaawk

What do we consider to be a successful augmentation? A successful write of the mutation generated by the augmentation?

How should we count successes/failures of augmentations if splitting is involved?

[2020-03-11 09:56] amnonh commented on #6002
I think we should give it some thoughts.
a naive approach is to add a boolean label like STATIC_ROW  ROW_DELETE and UDT

And then sum(touches{STATIC_ROW='true'}) = 2
sum(touches) = 3
etc'
But I'm not sure that is the best way

[2020-03-11 10:00] haaawk commented on #6002
Why is it not good? It sounds like exactly what we want. Even more STATIC_ROW_SUCCESSFUL + STATIC_ROW_UNSUCCESSFUL

[2020-03-11 10:10] xemul commented on #5999
The entry being deleted is the container of the timer:

    #7  seastar::timer<seastar::lowres_clock>::~timer (this=0x6000000c83a8, __in_chrg=<optimized out>) at ./seastar/src/core/reactor.cc:589

timer is 0x6000000c83a8. Its offset in expiring_fifo::entry is

    (gdb) print (int)(&(((seastar::expiring_fifo<seastar::promise<>, seastar::promise_expiry<>, seastar::lowres_clock>::entry *)0)->tr))

[2020-03-11 10:12] xemul commented on #5999
Timer's list is

    {next_ = 0x1, prev_ = 0x0}

this is why it thinks it's is_linked().

[2020-03-11 10:16] aleksbykov commented on #5856
@bhalevy
Sorry for wrong information. gemini tool could change the schema. Today i got gemini issue, when it try to alter table with deleting column which is used by MV.

[2020-03-11 10:51] penberg commented on #5933
@amoskong I would start with 3.0 -> 3.1 -> 3.2 just to keep it simple, and perhaps when 3.3 comes out, move forward so that it becomes 3.1 -> 3.2 -> 3.3.

Of course, if that does not trigger this bug, making the chain longer is needed.

[2020-03-11 10:52] penberg commented on #5933
@syuu1228 Did you already send a packaging somewhere?

[2020-03-11 11:11] fruch opened #6004 "trace data with python-driver can return the trace query"
*Installation details*
Scylla version (or git commit hash): 3.2.0
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): docker

## Summary

When using `get_query_trace()` something we'll get the query getting the tracing data, inside the tracing data.

[code]

to avoid this issue, I've queried the events on my own:
[code]

[2020-03-11 11:24] roydahan commented on #5918
The hanging streaming issues are on master, so we suspect that maybe something else caused the streaming to hang.

@yarongilor is checking if there were any network nemesis during the streaming before the drain that may caused it.

[2020-03-11 11:56] bhalevy commented on #5994
@denesb

[2020-03-11 11:58] slivne commented on #5856
@aleksbykov can you please run this with 3.2 so we will know if its a regression that should block the release

[2020-03-11 12:02] bhalevy commented on #5856
@aleksbykov do we know which column was deleted? `ck9` by any chance?

[2020-03-11 13:04] aleksbykov opened #6005 "Scylla is not starting if cdc configured and all nodes marked as seed on startup."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): Scylla version 666.development-0.20

[2020-03-11 14:29] xemul commented on #5999
mm notifier is already stopped, but

    (gdb) scylla tasks
    (task*) 0x6000013d11c0  vtable for seastar::continuation<seastar::future<>::then_impl<seastar::async<service::migration_notifier::drop_keyspace(seastar::basic_sstring<char, unsigned int, 15u, true> const&)::{lambda()#1}>(seastar::thread_attributes, std::decay&&, (std::decay<service::migration_notifier::drop_keyspace(seastar::basic_sst

[2020-03-11 14:33] xemul commented on #5999
@bhalevy , if my drilling is correct, I tend to think this is dup of #5903 -- the migration manager's fiber is not stopped. The patch for it is on the mailing list.

[2020-03-11 14:51] aleksbykov commented on #5856
@slivne
Will start ASAP. Use Latest ami?

[2020-03-11 14:56] aleksbykov commented on #5856
WIll try to find out, but the problem that when debug mode for gemini is enabled, when each mutation is logged, issue is not reproduced.

[2020-03-11 14:57] yarongilor opened #6006 ""Failed to load schema version" with "Can't find a keyspace mview" on node restart"
Installation details
Scylla version (or git commit hash): 3.3.rc1-0.20200225.4ca9d23b839
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0201e35abd1a2a79d eu-west1

scenario:
1TB longevity.
A nemesis of RestartThenRepairNode started on node 10.0.184.122.
on scylla restart there were errors of:
"Failed to load schema version" with "Can't find a keyspace mview"
then got errors of:
"Not enough d

[2020-03-11 15:08] xemul commented on #5999
[PATCH v2] migration_manager: Run background schema merge in gate

[2020-03-11 17:13] avikivity commented on #5936
It looks like a driver bug. The driver keeps sending statements and ignores the error. The correct response is to re-prepare the statement, but the driver makes no attempt to do so.

[2020-03-11 17:24] avikivity commented on #5759
Seastar issue: scylladb/seastar#727

[2020-03-11 17:24] elcallio commented on #5759
This is maybe caused by scylladb/seastar#727

[2020-03-11 17:32] yarongilor commented on #5911
complete results of this test are:
Bootstrap duration comparison results:

3.2

4h & 7m
3h & 57m
5h & 45m
3h & 30m
3h & 4m

3.3

8h & 45m
2h & 15m
2h & 15m
2h & 20m

[2020-03-11 17:36] fruch commented on #6004
with `scylladb/scylla:3.2.0` i'm reproducing it easily

with `scylladb/scylla-nightly:666.development-202003110720` (latest master) I can't reproduce this issue.

[2020-03-11 18:54] vladzcloudius commented on #6004
@fruch Could you, please, attach the full result of `get_query_trace()`?

[2020-03-11 19:34] slivne commented on #5790
@asias does the analysis above remove the suspicion that this is also the issue on 3.3 ...

[2020-03-11 19:52] #6006 closed

[2020-03-11 19:53] roydahan commented on #6006
Again, when Scylla is started without its disk.

[2020-03-11 22:03] #4365 closed

[2020-03-11 22:03] #6003 closed

[2020-03-11 23:02] nyh opened #6008 "alternator: write failure when GSI has two new key columns and one has no value"
When an Alternator GSI (i.e., materialized view) has a regular-base-column X as a key column in the view, if one inserts an item **without** a value for X into the base table, this is fine - but the item will not be inserted into the view. We already have a test case for this: `test_gsi.py::test_gsi_missing_attribute_3`.

However, Alternator also allows a GSI to have *two* regular base columns, sa

[2020-03-12 00:06] asias commented on #5790
If the good commit (b06b34478ed) is really a good commit, we have a good chance that 3.3 is not affected.  The changes between the 3.3 branch and good commit is below.

[code]

[2020-03-12 00:14] asias commented on #5911
Thanks @yaronkaikov. Can you explain what are the times below? Especially, 8 h & 45m in 3.3.

[code]

[2020-03-12 03:15] asias opened #6009 "Could not retrieve CDC streams with timestamp"
I saw this with scylla master 0cb71827684480cd9b5466633cb4165d6012cd03

[code]

[2020-03-12 05:07] gleb-cloudius commented on #6009
Me too!

--
			Gleb.

[2020-03-12 06:31] asias commented on #5812
No need to set `auto_bootstrap=false` when adding new DC.

Say we have dc1, now we want to add dc2.

1. Before we have RF = {dc1:3}, the new dc2 is not in the RF
2. Bootstrap nodes in dc2 with auto_boostrap = true
3. Set RF = {dc1:3, dc2:3}
4. Run rebuild on all nodes

Since we have zero replica in dc2 when bootstrap nodes in dc2, nodes will bootstrap fast without streaming data for that keyspace.

[2020-03-12 06:34] asias commented on #5812
IIUC, the root cause is that nodes join the cluster in parallel without knowing all other nodes and having wrong view about tokens in the ring when generating cdc streams.

[2020-03-12 06:43] nyh commented on #6008
Sent to the mailing list a patch with an xfailing test, `test_gsi.py::test_gsi_missing_attribute_3`, reproducing this issue (basically the same test shown above).

[2020-03-12 06:43] asias commented on #5172
PR sent. https://github.com/scylladb/scylla/pull/5995

[2020-03-12 06:47] asias commented on #5790
@denesb FYI, the reader 10m timeout on the sender did not trigger. Can you please take a look at https://github.com/scylladb/scylla/issues/5790#issuecomment-597494318?

[2020-03-12 06:47] haaawk commented on #6009
Could you give more context, please? When did this happen? In tests? During some topology changes? If yes then what was the change?

[2020-03-12 06:52] asias commented on #6009
It happened when I reboot a 3 node cluster I created yesterday. No topology changes. The cluster is probably created with commit 27b36beb4abd856d0b5ac4826b5ad7b82a798ec6, but I am not sure.

Data inserted with:

[code]

[2020-03-12 06:59] haaawk commented on #6009
It is interesting. Are all your nodes using the same version of Scylla? It looks like a timestamp deserialization has failed because the input was longer than expected.

[2020-03-12 07:12] asias commented on #6009
Yesterday: All 3 nodes run with 27b36be.
Today: All 3 nodes run with 0cb7182. CDC error was seen.

[2020-03-12 07:40] yaronkaikov commented on #5911
@asias You probably meant @yarongilor  :-) , right?

[2020-03-12 07:48] fruch commented on #6004
Run it again with 3.2.0
[code]

this is the results from the python-driver end (`get_query_trace()`)
[code]

And this is from scylla end (after enabling traces):
[code]

clearly `SELECT * FROM system_traces.sessions WHERE session_id = 0c59a520-6434-11ea-9834-000000000000` shouldn't be in the trace

[2020-03-12 07:51] asias commented on #5911
Yes. Sorry about that ;-).

[2020-03-12 08:00] denesb commented on #5994
Looking.

[2020-03-12 08:01] gleb-cloudius commented on #6009
I see it with one node cluster.

--
			Gleb.

[2020-03-12 08:06] gleb-cloudius commented on #6009
On Thu, Mar 12, 2020 at 10:01:04AM +0200, Gleb Natapov wrote:

The cluster was "upgraded" though. Was first booted with an older
version.

--
			Gleb.

[2020-03-12 08:29] slivne commented on #5918
@roydahan / @yarongilor ping

[2020-03-12 08:30] slivne commented on #5790
@ShlomiBalalis / @roydahan ping https://github.com/scylladb/scylla/issues/5790#issuecomment-597486109

We need to run according to what asias requested to help understand the source of this hangs.

[2020-03-12 08:31] yarongilor commented on #5918
the nemesis that were executed up to the time of drain are:
[code]

[2020-03-12 08:32] slivne commented on #5856
@aleksbykov ping on https://github.com/scylladb/scylla/issues/5856#issuecomment-597591194

[2020-03-12 08:35] aleksbykov commented on #5856
@slivne Test is running, no issue for that moment

[2020-03-12 08:44] denesb commented on #5790
@asias my series only affects readers that go through one of the `reader_concurrency_semaphore`. Currently this is user, system and streaming reads. Any reader pipeline that contains a restricted reader in it is affected.

The reader on the receiving node can only be affected indirectly, by way of affecting the reader on the sending node.

[2020-03-12 08:48] denesb commented on #5994
[code]
@amoskong what is the correct URI?

[2020-03-12 09:04] slivne commented on #6004
a tcpdump without having compression will clarify how is the fetch of the
tracing data sent.

If the fetch tracing data has the trace bit set then its a driver issue
(and we may have a scylla bug that both session are somehow attached).

If the fetch tracing data doesn't have the trace bit set then its a scylla
issue for sure.

On Thu, Mar 12, 2020 at 9:49 AM Israel Fruchter <notifications@github.

[2020-03-12 09:25] fruch commented on #6004
tcpdump clearly shows it's a scylla issue (again, I've seen it only in 3.2.0, and not on master)

### Query
![image](https://user-images.githubusercontent.com/340979/76506306-a4e8ba00-6453-11ea-8076-c5cbcd0f3aec.png)

### Response
![image](https://user-images.githubusercontent.com/340979/76506339-b5993000-6453-11ea-87f4-55d69fc7764c.png)

full tcpdump:
[scylla.port.9042.debug.txt](https://github.c

[2020-03-12 09:26] avikivity commented on #6003
Backported to 3.1, 3.2, 3.3.

[2020-03-12 09:26] amoskong commented on #5994
It's strange that the corefile doesn't exists in the server.

There are 4 coredump generated in the test.  [4-coredumps.txt](https://github.com/scylladb/scylla/files/4323330/4-coredumps.txt)

There other 3 still exists:

[code]

[2020-03-12 09:39] aleksbykov commented on #5856
@slivne
Got reproduce on 3.2.3:
[code]

[2020-03-12 09:44] aleksbykov commented on #5856
Do i need to add decoded backtrace?

[2020-03-12 09:49] slivne commented on #5856
please upload everything as well...

On Thu, Mar 12, 2020 at 11:44 AM aleksbykov <notifications@github.com>
wrote:

[2020-03-12 10:07] aleksbykov commented on #5856
Next error were found in scylladb.log:
[code]
Unfortunately, backtraces are not decoded on instance:
[code]
[code]
db logs could be found by link: https://cloudius-jenkins-test.s3.amazonaws.com/fe3d2bfc-dea4-4536-90d9-7db1ebf3f739/20200312_095703/db-cluster-fe3d2bfc.zip

Instances are running:
[code]

[2020-03-12 10:11] avikivity commented on #5962
Backported to 3.1, 3.2, 3.3.

[2020-03-12 10:13] slivne commented on #4413
@penberg if you can check this out and help (even for the next user that has the issue)

[2020-03-12 10:20] slivne commented on #5040
I expect resharding did not end and as such it restarted (potentially with more todo) after the stop and start.

I am closing this for now as 3.3 is almost out - if it happens on 3.3 and newer releases please create a new issue

(we are also working on changing the way we handle resharding as part of off compaction strategy)

[2020-03-12 10:20] #5040 closed

[2020-03-12 10:24] slivne commented on #5173
@avikivity / @tzach  maybe we should limit docker to run by default with smp=1 as the default is anyways to run in developer mode

[2020-03-12 10:25] slivne commented on #5174
this was resolved and fixed - if there is still an issue please create a new issue with specific scylla version information and procedure

[2020-03-12 10:25] #5174 closed

[2020-03-12 10:27] slivne commented on #5181
@amoskong did we do any changes to mark the bad kernel - restrict kernels that have the fix ?

[2020-03-12 10:37] slivne commented on #5216
@rishabhkumar296 sure - send a patch, please note that to contribute to scylla you need to follow https://github.com/scylladb/scylla/blob/master/CONTRIBUTING.md (and https://github.com/scylladb/scylla/blob/master/HACKING.md can help as well)

[2020-03-12 10:39] slivne commented on #5219
Configuration at scylla is node specific - if you change configuration (and most of them can't be changed post boot) you need to change it on all the nodes.

[2020-03-12 10:44] slivne commented on #5227
closing this issue - will be tracked in #5080

[2020-03-12 10:44] #5227 closed

[2020-03-12 10:46] slivne commented on #5080
@asias can you check the issue if somehow its related to repair running. I think we changed the code to validate the schema when repair starts (I think its part of 3.3)

[2020-03-12 11:36] yarongilor commented on #5911
these are the time of bootstrap durations that were measured under the decommission comparison test. that means , for example, that one bootstrap for 3.3 took 8 hours and 45 minutes. another one later on took 2 hours and 15 minutes etc.. and same for the above 3.2 list.

[2020-03-12 11:37] hagitsegev opened #6010 "3.3 Installation via docker on debian9 fails"
I install Scylla 3.3 on a debian-9 docker, and fails.
See log on
https://jenkins.scylladb.com/view/scylla-3.3/job/scylla-3.3/job/debug-jobs/job/debug-promote/63/artifact/debian9_docker_build.log/*view*/

Failed to open connection to "system" message bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory

Only affects Docker, I think. Not a release blocker as fa

[2020-03-12 11:40] slivne commented on #5918
since the test is with tls - it may be related to the tls issue that calle fixed here https://github.com/scylladb/seastar/issues/727

We can test also in master - yet master has large changes since we moved to use repair based operations

So we will backport the tls fix after it gets into master and then rerun on 3.3.

[2020-03-12 11:41] #5759 closed

[2020-03-12 11:41] #5811 closed

[2020-03-12 11:41] #5939 closed

[2020-03-12 11:44] bhalevy opened #6011 "Node doesn't start in simple_add_new_node_while_schema_changes_test"
Most recently seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/418/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/simple_add_new_node_while_schema_changes_test/
but the regression appears to have been introduced before repair-based operations (in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/410/testReport/update_cl

[2020-03-12 11:45] bhalevy commented on #6011
@asias please look into this ad determine if the problem is with scylla or with the test.

[2020-03-12 11:49] tzach commented on #5173
Make sense to me. One can always use SMP to change this.

[2020-03-12 11:53] slivne commented on #5080
We assume this is an issue stop/starting an aws node and mounting the device ...

We will create a separate issue for this.

Pushing this out to 3.4 to be verified with the fix

[2020-03-12 11:55] slivne commented on #6011
@asias I think we changed repair to synch schema before starting - why is this failing ?

[2020-03-12 11:57] bhalevy commented on #5080
#6011 reports the same error during repair-based bootstrap

[2020-03-12 12:26] roydahan commented on #5080
@juliayakovlev please verify if the issue happened BEFORE or AFTER the scylla_create_devices.
If it's BEFORE and the second start was ok, it's not an issue.

[2020-03-12 12:30] kbr- commented on #6009
Yes, there was a backward incompatible change:
https://github.com/scylladb/scylla/commit/968177da049a455edd8b8b6856698c277635f3f1
I assume you had the experimental flag on?

czw., 12 mar 2020, 09:06 użytkownik Gleb Natapov <notifications@github.com>
napisał:

[2020-03-12 12:32] kbr- commented on #6009
Related PR: https://github.com/scylladb/scylla/pull/5972

czw., 12 mar 2020, 13:29 użytkownik Kamil Braun <kamilgbraun@gmail.com>
napisał:

[2020-03-12 12:32] roydahan opened #6012 "Scylla should refuse starting if its FS is missing"
*Installation details*
Scylla version (or git commit hash): 3.3.rc1-0.20200223.756574d0946 (but relevant since 2.3).
Cluster size: ANY
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

In case scylla starts when its FS is missing (/var/lib/scylla), the service is able to start but produces many errors like:
"ERR     | scylla: [shard 0] storage_proxy - Exception when communicating with 10.0.181.73: std::ru

[2020-03-12 12:33] roydahan commented on #5080
reported https://github.com/scylladb/scylla/issues/6012 to stop having these errors.

[2020-03-12 12:41] kbr- commented on #6009
Anyway, if you don't want to start a new cluster, delete all sstables for
cdc_description and cdc_topology_description in the system_distributed
keyspace, then restart.

czw., 12 mar 2020, 13:32 użytkownik Kamil Braun <kamilgbraun@gmail.com>
napisał:

[2020-03-12 12:54] kbr- commented on #6009
Also delete sstables for system.cdc_local on every node before restarting
or you will be flooded with warnings "cannot retrieve cdc generation" and
won't be able to use cdc.

czw., 12 mar 2020, 13:41 użytkownik Kamil Braun <kamilgbraun@gmail.com>
napisał:

[2020-03-12 13:24] gleb-cloudius commented on #6009
After doing all that I cannot boot the node. It shuts down itself after
printing "cdc - Generation of CDC streams failed to create streams for
some (vnode, shard) pair. This can lead to worse performance."

--
			Gleb.

[2020-03-12 13:28] gleb-cloudius commented on #6009
After I removed everything under /var/lib/scylla the node boots again
and prints the same message, so the shutdown was not related to the
message directly but definitely related to the procedure.

--
			Gleb.

[2020-03-12 14:39] juliayakovlev commented on #5080
scylla_create_devices was started before and finished successfully

[code]

[2020-03-12 15:00] denesb commented on #5994
This is not a large allocation. We allocate a standard 128K buffer:
[code]

[2020-03-12 15:24] #2684 closed

[2020-03-12 15:26] espindola commented on #5219
This bug came from

https://groups.google.com/d/msg/scylladb-dev/lGfFZyLXnoE/Zu6phrrPEAAJ

@avi, do you agree that we should ask users to modify each node? If so, can we close this?

[2020-03-12 15:28] tgrabiec commented on #4255
Making multi-partition reads insert dummy entries for their bounds would fix this. This is the remaining part of https://github.com/scylladb/scylla/issues/2579.

[2020-03-12 16:01] denesb commented on #5994
[code]
There is plenty of free memory, but it is heavily fragmented. No 128KB (or greater) spans available, most free memory is in 16KB spans.

[2020-03-12 16:24] bruno-barin-ifood commented on #5936
I've filled a ticket for the rust driver:

https://github.com/AlexPikalov/cdrs/issues/318

Indeed seems to be a problem with the driver

[2020-03-12 16:35] nyh commented on #6008
Patch set to the mailing list, titled "materialized views: fix corner case of view updates used by Alternator".

[2020-03-12 18:55] jul-stas opened #6013 "Make counters work with CDC"
A table with counters cannot have CDC enabled:
[code]
This happens for a purely technical reason: counter columns are territorial animals and don't allow anyone else into CF, apart from PK and CK (and other counters). If we try to enable CDC for a table-with-counters, CDC tries to create "ordinary" columns like `ttl`, `deleted$*` which are in conflict with (a) counter column(s). The CDC column typ

[2020-03-12 22:32] gibsn opened #6014 "system_traces.events gets populated even though tracing has been disabled"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

Installation details
Scylla version (or git commit hash): 3.2.2
Cluster size: 9 nodes
OS (RHEL

[2020-03-13 00:30] amoskong commented on #5181
We workaround the issue in SCT, will test if it's fixed in recent kernel or Upstream kernel.

[2020-03-13 00:33] asias commented on #5790
Update:  I talked to Botond, 1 ) the reader on the receiver side used by streaming does not block 2) the timeout I added for the reader.peek() and reader() did not trigger when the stream hang occurred. We can have the conclusion the hang did not come from the reader.

The cluster had internode_encryption turned on. The tls issue https://github.com/scylladb/seastar/issues/727 is suspected to cause

[2020-03-13 00:34] asias commented on #5918
Thanks, Shlomi. This information is very useful!

[2020-03-13 00:43] asias commented on #6011
node4.log shows the test is using scylla d895f5e1311, which does not contain my fix https://github.com/scylladb/scylla/pull/5986. Let's retest when the fix is merged.  5986 should fix the issue here too.

[code]

[2020-03-13 00:45] asias commented on #6011
Duplication of #5942

[2020-03-13 00:46] asias commented on #6011
Because keyspace is dropped in the middle of repair.

[2020-03-13 01:19] asias commented on #5652
@slivne please consider to reassign, the stall does not come from repair.

[2020-03-13 08:25] aleksbykov opened #6015 "CDC: change compaction strategy on base table with cdc, disable it"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 666.development-0.20200308.b4b08be0

[2020-03-13 09:06] kostja opened #6016 "Crash on attempt to access partition key in lightweight transaction SELECT"
When evaluating the right shard for an unbounded select we assume there always is a partition key supplied in the query and crash on attempt to access it.

Backtrace:

https://pastebin.com/fpEmT4DF

Unchecked access:

https://github.com/scylladb/scylla/blob/master/cql3/statements/select_statement.cc#L342

How to reproduce:
        self.create_ks(session=session1, name="lwt")
        cql = "create

[2020-03-13 09:08] kostja commented on #6016
Note that Cassandra will simply fool you it handles the query using serial consistency in this case:
cassandra@cqlsh:test> serial consistency serial
Serial consistency level set to SERIAL.
cassandra@cqlsh:test> select * from lwt;

 a
---
 1
 2
 3

(3 rows)

[2020-03-13 10:53] haaawk commented on #6013
I think that representing counter as a map<shard_id, int64> would be best. This way we would be able to replicate counter value to another Scylla instance. This map should be non-frozen and each counter shard leader should write only updates to its own shard.

[2020-03-13 11:39] kbr- commented on #6013
Is it possible to reliably log the actual delta (difference between counter values caused by an update)?
Also, there's the third option:

3. don't allow CDC on counter tables

[2020-03-13 11:46] haaawk commented on #6013
Let's first explore other options.

[2020-03-13 12:17] kbr- commented on #6009
and prints the same message, so the shutdown was not related to the
message directly but definitely related to the procedure.

I reproduced the problem by compiling https://github.com/scylladb/scylla/commit/d1db1982113e331c9ca092cfa2454ec78b942f33, running scylla, then compiling https://github.com/scylladb/scylla/commit/968177da049a455edd8b8b6856698c277635f3f1, and running again.

Indeed deleting

[2020-03-13 12:23] vladzcloudius commented on #6004
#6014 may also be related

On Thu, Mar 12, 2020, 5:25 AM Israel Fruchter <notifications@github.com>
wrote:

[2020-03-13 12:44] yuqin11 opened #6017 "unable to mbind shard memory; performance may suffer: is this common on HDD?"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

/usr/bin/scylla --log-to-syslog 0 --log-to-stdout 1 --default-log-level info --network-stack po

[2020-03-13 14:20] syuu1228 opened #6018 "install.sh: adduser options does not compatible RHEL/CentOS/Fedora"
Seems like adduser in redhat variants and deiban variants are incompatible.
Since adduser in install.sh is implemented on debian variants, does not work on redhat compatible.
[code]

[2020-03-13 14:46] denesb commented on #5994
Most of the memory is in the 16KB size class (6.3GB). So far I failed to identify the object in said class.
![graph](https://user-images.githubusercontent.com/1389273/76631306-20c52e00-654a-11ea-9e39-e4d53b2bfbdc.png)
It seems to be some linked list (probably intrusive).

[2020-03-13 14:48] denesb commented on #5994
Nothing suspicions in `scylla task_histogram -a`, `scylla smp-queues` and `scylla sstables`.

There are some in-progress reads but not a lot. It could be that these are part of the fragmented storage for the large collections.

[2020-03-13 17:07] denesb commented on #5994
I followed the chain back to one of its ends, then walked all over it. It consists of around 4500 elements, which amounts to about 75MB of data. Haven't managed to identify the owning data structure yet.

[2020-03-13 17:42] jul-stas commented on #6013
Seems doable to me - we can try augmenting counter update mutations. The cdc-deltas would be propagated alongside corresponding counter-shards-mutations, as reliably as counters do it..?

ATM I'm investigating how C* solved it (yes, they have something). We can think in the meantime on how to do it perfectly.

[2020-03-13 19:18] SaubereSache opened #6020 "Error while updating rows in table - Storage Proxy Exception"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.1-0.20200122.e3e301906d5
Clust

[2020-03-13 20:49] haaawk commented on #6009
Closing as the behavior is expected

[2020-03-13 20:49] #6009 closed

[2020-03-14 00:51] #5007 closed

[2020-03-14 14:34] slivne commented on #6013
I don't think its a good idea to log the delta - AFAIK thats how counters in Cassandra started and they switched to the current method.

Counters AFIAK do enforce RMW for their operation - which means you have a pre-image fetched and a post-image computed as well (since this is what we write at the end to the sstables/memtables).

Given that counters enforce a RMW for their operation - I think we

[2020-03-15 04:29] raphaelsc opened #6021 "Compaction Backlog can be calculated incorrectly"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 0cb71827684480
Cluster size:
OS (RH

[2020-03-15 09:37] bhalevy opened #6022 "member call on null pointer of type 'const struct schema' during decommission_node_during_mv_insert_4_nodes_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/91/artifact/logs-debug.2/1584227523710_materialized_views_test.TestMaterializedViews.decommission_node_during_mv_insert_4_nodes_test/node2.log
Scylla version 6b747f4673c0bce50248c3a8208b9b854cda499f
[code]

Core:
reloc: https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/507/artifact/scylla/b

[2020-03-15 09:51] bhalevy commented on #6022
[code]

So the `names` vector passed to get_partitioner_for_tables is empty which seems to be valid input that we should handle.

[2020-03-15 09:52] bhalevy commented on #6022
@asias please look into this issue.

[2020-03-15 09:57] yarongilor commented on #5918
rerun without tls in: https://jenkins.scylladb.com/job/scylla-3.3/job/reproducers/job/longevity-2tb-4days-1Dis-2NonDis-no-encryption/

@asias , looks like drain nemesis got stuck endlessly again.
monitor in:
http://34.244.92.154:3000/

[2020-03-15 10:20] bhalevy opened #6023 "node2 doesn't start in ttl_is_respected_on_delayed_replication_test, hits: rpc - connection refused"
Regression since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/420/testReport/ttl_test/TestDistributedTTL/ttl_is_respected_on_delayed_replication_test/
Scylla version c020b4e5e20e7f3b5e8fe0a12271f3adc5449be2

[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/420/artifact/logs-release.2/1584056488113_ttl_test.TestDistributedTTL.ttl_i

[2020-03-15 10:22] bhalevy commented on #6023
Last successful run is d895f5e1311118cc93e8c84384914a0a9bde2267
List of scylla changes:
[code]

[2020-03-15 11:39] #6008 closed

[2020-03-15 13:48] ShlomiBalalis commented on #5840
The issue (or a very similar one) reoccurred in the recent rolling upgrades:
rolling-upgrade-ubuntu18.04:
test id: b9826da6-dc8b-4220-99e1-006bfc3bd68c

[code]
Logs:
[code]

rolling-upgrade-debian9:
Test id: f84de3db-f659-453b-85ab-6928d8c4df8f

[code]
Logs:
[code]

In the centos7 rolling upgrade job, a similar issue occurred, but after a different query:
rolling-upgrade-centos7:
test id: 9e8715e9

[2020-03-15 13:48] bhalevy commented on #6011
Duplicate of #5942

[2020-03-15 13:48] #6011 closed

[2020-03-15 13:52] bhalevy commented on #5942
Starting https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/422/artifact/logs-release.2/1584210818901_update_cluster_layout_tests.TestUpdateClusterLayout.simple_add_new_node_while_schema_changes_test/node4.log
scylla 086f0ffd5a14d8a21a254a28b88565b3a9e46acc
the error signature changed a bit:
[code]

[2020-03-15 14:28] #5992 closed

[2020-03-15 14:53] bhalevy commented on #4877
@espindola it was wrongly reopened.  This issue was closed on a specific root cause in the commitlog that was fixed in 6160b9017db9d8bf96538cc8346288bc7953aaae.
And in general, when a new issue duplicates another one, there's no point in keeping both open, so we close one a duplicate of the other.

[2020-03-15 15:05] roydahan commented on #5918
@yarongilor please collect logs + write on which node the drain was running on + leave this node up while you can kill the rest of them.

[2020-03-15 15:46] ShlomiBalalis commented on #5790
After a full run, with 9 successful runs and 1 unrelated failure (seem to recreate #5450) I think we can guarantee that 666.development-0.20200128.b06b34478ed does not suffer from the same issue.
Test id: bd13b423-5d98-4c8d-8ae9-946066e14429

Logs:
[code]

[2020-03-15 15:47] ShlomiBalalis commented on #5450
@slivne I was to recreate the issue with version `666.development-0.20200128.b06b34478ed`, is it relevant to the issue?

[2020-03-15 16:03] bhalevy commented on #6023
This is a test issue caused by scylladb/scylla-ccm@c1762841eec615ba315be1b4b841aaef5108281d

[2020-03-15 17:18] yarongilor commented on #5918
drain executed on node 10.0.11.124 :
[code]
monitor node is: http://34.244.92.154:3000/
logs:
[code]

[2020-03-15 17:36] slivne commented on #5918
so is drain stuck or not without tls ?

On Sun, Mar 15, 2020 at 7:18 PM yarongilor <notifications@github.com> wrote:

[2020-03-15 17:55] slivne commented on #5450
Version 20200128 is ~1.5 month old we had a lot of updates since then - you can kill the env.

[2020-03-15 18:00] slivne commented on #5790
the tls fix was merged to 3.3 90b4e9e595a45477aa19e890dc4fdf3439d41650, yet additional tests on 3.3 for https://github.com/scylladb/scylla/issues/5918 without tls - show there is still an issue with drain not working even with tls not enabled.

Lets wait for https://github.com/scylladb/scylla/issues/5918 analysis before another run

[2020-03-15 18:02] yarongilor commented on #5918
there is a no-corrupt-repair nemesis on another node that started 16 minutes before, and doesn't seem to finish when drain started -
[code]

[2020-03-15 18:09] roydahan commented on #5918
We can see that after the drain starts, the repair starting get some errors:

[code]

[2020-03-15 19:23] slivne commented on #5918
QA claims:
- Node A run repair
- Node B (before repair ends) run drain

The drain on node B doesn't return.

@asias can you try and check this out

[2020-03-15 19:26] bhalevy commented on #5887
Respective dtest-debug tests now passing with the dtest fix.
Closing this issue.  No need for a fix/backport in scylla.

[2020-03-15 19:26] #5887 closed

[2020-03-15 19:27] slivne commented on #5790
@asias following Shlomo's tests - can you please clarify if we have an issue in 3.3 and if so why - the issue is very long - so lets start by clarifying what we know now.

Lets run it again on 3.3.rc3

[2020-03-15 19:39] slivne commented on #6005
blocks testing in dtest

[2020-03-15 19:39] slivne commented on #6005
maybe related to to token / stream generations

[2020-03-15 20:14] kbr- commented on #6005
Yes, and it's expected.
@fruch @aleksbykov why are you using this configuration? Most dtests use a different configuration, where node N configures nodes {1, ..., N} as seeds. (so node 1 configures {1}, node 2 configures {1, 2} etc.). And this other configuration is a hack anyway, because Scylla doesn't support joining nodes as seeds safely (only the first node should be joined as a seed).

The on

[2020-03-15 20:36] fruch commented on #6005
I'm running the python-driver integration tests.
And seems there are places where we stop all the nodes.
And then start them all again, all of the nodes are configured as seeds. seems like it's the default ccm behavior, and it works in Cassandra and works fine if we disable CDC.

So what you are saying, we have to start seeds one by one if CDC is enabled ?

[2020-03-15 22:20] kbr- commented on #6005
The error messages described in the issue should only show up when you're
**joining** a node to the cluster, not after you've already joined and then
restarted a node which was previously UN.

Did they show up after the node was joined and restarted or when you tried
to start it for the first time (hence join the cluster)?

[2020-03-15 23:09] asias commented on #5942
Patch 2 in the PR makes the error clear:

https://github.com/scylladb/scylla/pull/5986/commits/6a7c3f0af0bbf2d35c1dac7861ca3047e056a536

[2020-03-16 01:43] asias commented on #5790
Here is the change between good commit (b06b34478ed) and 3.3.rc3. The chance of 3.3.rc3 has the streaming hang issue is very low. I excluded most of the commits as unrelated to this issue. I am not 100% sure a few commits like 1f8bb754d, but I think it is very low chance to cause hange.

90b4e9e595a45477aa19e890dc4fdf3439d41650 is probably the root cause of the stream hang.

Since we already have

[2020-03-16 06:18] asias commented on #5918
I tried to reproduce the repair + drain hang, using same commit used in this test 3bed8063f6ca3eb71ea9874c2f01cabb696543b8, without tls.  I could not reproduce so far.
[code]

[2020-03-16 07:57] asias commented on #5918
In the run (https://github.com/scylladb/scylla/issues/5918#issuecomment-599238858), node 5 was stuck at drain procedure waiting for message service to stop. It is the same as we saw in previous run with streaming (https://github.com/scylladb/scylla/issues/5918#issuecomment-594983965). Message service shutdown should return no matter what. If not, we might had a bug in the rpc send/receive loop whi

[2020-03-16 08:24] avikivity commented on #1946
Closing this. We have decent jandling of high disk:memory ratios now, and generic "this can be improved" bugs cannot ever be closed because they don't address a specific problem.

[2020-03-16 09:08] asias commented on #6022
@bhalevy can you share the commit id of the dtest?

[2020-03-16 09:54] fruch opened #6024 "All nodes crash when using doing CQL query with execution_profile='serial'"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200315.aa72a1c556d (build-id 7a715f6c14f3c2abc13f3c05704702d82f21a69e)
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu (CCM)

## Summary

While working on python shard-aware driver, I've run the some of the driver integration tests and run into this issue:

all 3 scylla nodes crushing when driver run this comma

[2020-03-16 09:55] haaawk commented on #6015
@kbr- can we close this issue with your PR being merged?

[2020-03-16 09:57] #6015 closed

[2020-03-16 10:08] gleb-cloudius commented on #6024
This is dup of #6016. Just make sure that expected result is an error in this test.

[2020-03-16 10:08] #6024 closed

[2020-03-16 10:42] eliransin opened #6025 "commitlog_test.TestCommitLog.test_mixed_mode_commitlog Fails"
Seen in dtest run on:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/424/testReport/commitlog_test/TestCommitLog/test_mixed_mode_commitlog/

From skimming through the dtest code and validating with @kostja it seams that validating
that a periodic log is flushed upon submission to the batch log fails.

cc @kostja @gleb-cloudius

[2020-03-16 10:51] kostja commented on #6025
https://jenkins.scylladb.com/job/scylla-enterprise/job/next/480/testReport/junit/test_boost_commitlog_test.cc/test_boost_commitlog_test/test_commitlog_delete_when_over_disk_limit/

(another failure, possibly unrelated)

[2020-03-16 10:53] haaawk commented on #5389
Test is already merged so I'm closing this.

[2020-03-16 10:53] #5389 closed

[2020-03-16 10:53] haaawk commented on #5390
Test is already merged so I'm closing this.

[2020-03-16 10:53] #5390 closed

[2020-03-16 10:56] haaawk commented on #5912
Already fixed.

[2020-03-16 10:56] #5912 closed

[2020-03-16 10:56] haaawk commented on #5900
Behavior is expected and tests are fixed to handle it.

[2020-03-16 10:56] #5900 closed

[2020-03-16 11:01] haaawk commented on #5746
What was the conclusion here @jul-stas?

[2020-03-16 11:03] haaawk commented on #6013
It seems that we can move forward with map<shard_id, value> idea, no?
Any findings in Cassandra, @jul-stas?

[2020-03-16 11:11] jul-stas commented on #5746
There wasn't any. So far, we only agreed to start an email thread about this.
(wasn't it you who volunteered to start it? :) )

[2020-03-16 11:14] gleb-cloudius commented on #6025
The test operates under the false assumption. It assumes that lwt writes
persists all non lwt writes before it. First of all this is incorrect:
it happens to persist all lwt writes that happened on the same shard,
not all of them, but even that is an implementation detail that should
not be relied upon and definitely not set in stone by a test. Suggest
just delete the test altogether.

--
			Gleb.

[2020-03-16 11:20] asias commented on #6022
Working on this.

[2020-03-16 12:43] jul-stas commented on #6013
Just some indirect evidence.
I tried two tools that read C*'s CDC, but they weren't able to deserialize counter updates. So the log of a counter column is not just an integer. I also found this in the release notes:

Given that C*'s CDC has the logic of commitlog, we can speculate that the local counter-shards are being logged. So the map approach looks like the way to go.

[2020-03-16 12:52] amnonh commented on #4784
I've looked at the implementation, what we are currently supporting is a single keyspace.table

[2020-03-16 14:09] bhalevy commented on #6022
@asias it's scylladb/scylla-dtest@d42f761ad307581059ef39220bf0299afbf2fdea

[2020-03-16 16:35] denesb commented on #5994
The data structure owning this is a `clustering_row` that is part of a `combined_mutation_reader`. There is not a lot of combined readers in memory (48) but we are reading very large cells so they can still cause trouble.
[code]
There is 2.7GB worth of data just in the fragment heap of the combined readers and 15MB further data in their buffers (and their subreaders' buffers).

[2020-03-16 16:53] yarongilor commented on #5911
retesting the above comparison using SCT branch-3.2 no regression or real degradation is identified. so this issue can be concluded and closed.
in scylla 3.3 bootstrap took sometimes even less than 2 hours -
[code]
in scylla 3.2 it took 2.5 or 4.5 hours -
``
< t:2020-03-15 22:32:14,728 f:cluster.py      l:1291 c:sdcm.cluster         p:DEBUG > 020-03-15T22:32:00+00:00  ip-10-0-215-139 !INFO    | sc

[2020-03-16 16:57] slivne commented on #5918
@asias what can we do to figure this out ?

- If we take a ```coredump``` will that help / should we run ```netstat -an``` will that help
- We need to figure this out what is the bug and fix it
- Naturally we can call reinforcement (the RPC guru gleb for help :).

[2020-03-16 17:04] slivne commented on #5918
We removed the high marker - this is detected in the case of repair and drain running at the same time and not easy to reproduce. The node does drain.

We will keep looking for the issue but its not blocking 3.3 from going out.

[2020-03-16 17:06] slivne commented on #5790
QA are running 200gb-48hr run with 3.3.rc3 and will try and see if the fix for TLS was the source for this.

[2020-03-16 17:11] slivne commented on #5840
@amoskong help

[2020-03-16 17:47] vladzcloudius commented on #6004
@slivne @eliransin This together with #6014 are very serious issues that require an urgent attention.
It looks like CQL Tracing is broken in 3.2.

@tzach @eyalgutkind FYI

[2020-03-16 18:38] gleb-cloudius commented on #5834
With two changes:
1. Changing default_sstable_buffer_size to 4k
2. Hack scheduler to submit not more than on IO from non commitlog queue at each poll period

I get better results:

![perf](https://user-images.githubusercontent.com/6554938/76789608-d94ad600-67c5-11ea-8d93-53fd8513a966.png)
![io](https://user-images.githubusercontent.com/6554938/76789619-dd76f380-67c5-11ea-983e-b941e9c1e70f.png)

As

[2020-03-16 21:41] slivne commented on #5257
@vladzcloudius  I am closing this issue, if there is a need in your view to change something (on top of what tomek explained - please comment and we can reopen)

[2020-03-16 21:43] slivne commented on #5260
closing this issue as there are no updates, if there is anything else to check @zhaoyuankui / @eyusim please post and we can reopen

[2020-03-16 21:43] #5260 closed

[2020-03-16 21:46] slivne commented on #5274
2019.1.5 includes the fix for 7c87405 closing the issue

[2020-03-16 21:46] #5274 closed

[2020-03-16 21:50] slivne commented on #5648
we do have a way to access the config via rest api (at least for read) - so while we want to provide better access via virtual tables - there is already some support via rest api

I am placing this into the 3.x bucket

[2020-03-16 21:56] slivne commented on #5652
@roydahan I don;t really understand whats going and all the back and forth on the issue doesn't really help.

When we run the tests on 3.3.rc3 - if we have such stalls please report them here - if not please close the issuse and we can create a new (clean one) if that happens on the next release

[2020-03-16 21:56] slivne commented on #5657
@espindola / @gleb-cloudius is this resolved / is there a core - if we can't do anything with this info please close

[2020-03-16 21:58] slivne commented on #5659
@amnonh / @nyh was this resolved - if so please close if not please clarify what should be done and we can assign, there is a long description with multiple options - yet no decision at the end.

AFAIK we fixed the order of deletion / views/index and only then base so there should not be an issue anymore

[2020-03-16 22:01] slivne commented on #5661
@gleb-cloudius with regards to this https://github.com/scylladb/scylla/issues/5661#issuecomment-579716896 is this the expected behavior, is it a race condition between closing the connection and response sent to the client ?

Even if its a race condition - if we were able to avoid the "scary log" it would be better to remove it now as well.

[2020-03-16 22:05] slivne commented on #5663
Its not clear why commitlogs fill up your disk, commitlogs should be cleared when data is flushed from memtables to disk as sstables - so its not expected.

can you try and run a nodetool flush and see if this helps.

Are those maybe hints being accumulated ?

[2020-03-16 22:09] slivne commented on #5681
@bhalevy is this a regression ?

[2020-03-16 22:21] slivne commented on #5693
seems to be fixed https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/418/

[2020-03-16 22:21] #5693 closed

[2020-03-16 22:22] slivne commented on #5692
seems to be fixed https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/418/testReport/concurrent_schema_changes_test/TestConcurrentSchemaChanges/

[2020-03-16 22:22] #5692 closed

[2020-03-16 22:23] slivne commented on #5691
seems to be fixed https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/424/testReport/secondary_indexes_test/TestLocalIndexes/

[2020-03-16 22:23] #5691 closed

[2020-03-16 22:24] espindola commented on #5657
I do need a core or instructions on how to reproduce this.

[2020-03-16 22:41] slivne commented on #6014
probably related to scylladb/scylla#5700 and (https://github.com/scylladb/scylla/issues/5700#issuecomment-586706321),

https://github.com/scylladb/scylla/commit/866c04dd6440cb51e752dd072019426aa5192659

[2020-03-16 22:52] slivne commented on #6014
I checked on 3.3.rc3 the issue indeed seem to be resolved using the simple reproducer provided above

[2020-03-16 22:53] slivne commented on #5922
I think this was resolved in 3.3 I updated #6014 - the change was not backported as it was not trivial

[2020-03-17 00:58] asias commented on #6022
Reproduced.
PR Sent.
https://github.com/scylladb/scylla/pull/6028

[2020-03-17 01:05] asimshankar opened #6029 "Node unreachable, unresponsive to clients (nodetool status disagrees)"
*Installation details*
Scylla version (or git commit hash): 3.2.3
Cluster size: 10 nodes, ~1TB of data total (3x replication)
OS (RHEL/CentOS/Ubuntu/AWS AMI): Running on Kubernetes on Amazon EKS. AWS AMI `amazon-eks-node-1.14-v20191213 (ami-087a82f6b78a07557)`

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): docker on i3.2xlarge (NVMe SSD)

Scylla fla

[2020-03-17 02:05] asias commented on #5918
We do need gleb to look at the rpc level. It is up to gleb to decide what need to be collected.

To quote gleb:

[code]

[2020-03-17 07:10] eliransin commented on #5708
@psarna can you have a look?

[2020-03-17 07:17] eliransin commented on #876
cql_additional_test is running for a long time now. We also implemented the roles interface.
closing.

[2020-03-17 07:17] #876 closed

[2020-03-17 08:15] heenasuman commented on #4964
Hello All
I am also running with this kind of issue. Whatever command I tried to run, I got following error:

Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt-get -f install' to correct these:
The following packages have unmet dependencies:
 python3 : Depends: libpython3-stdlib (= 3.5.1-3) but 3.4.0-0ubuntu2 is to be installed
 pyt

[2020-03-17 08:26] amnonh commented on #5033
I've looked at it and tried unsuccessfully to reproduce.
There is no reason, I've sent a PR to the dtest to add the entire output of cfstats.

In general, there shouldn't be a situation that this validation should fail, so I prefer to identify the root cause rather than relax the tests.

[2020-03-17 09:08] psarna commented on #5708
Sure. I see that I can reproduce on master, I'll add some debug info and hopefully have some more insights in the evening.

[2020-03-17 12:34] #5652 closed

[2020-03-17 12:43] roydahan commented on #5840
@ShlomiBalalis will do the bisecting to help finding the suspected build.

[2020-03-17 12:47] roydahan commented on #5911
It  took 4.5 hours.
Closing the issue.

[2020-03-17 12:47] #5911 closed

[2020-03-17 12:54] #4992 closed

[2020-03-17 14:50] bhalevy commented on #5999
14de126ff83d8322090e4190273aecf06ce64b31 is on master.
Closing this issue, will reopen if reproduced.

[2020-03-17 14:50] #5999 closed

[2020-03-17 14:50] bhalevy commented on #5903
14de126ff83d8322090e4190273aecf06ce64b31 is on master.
Closing this issue, will reopen if reproduced.

[2020-03-17 14:50] #5903 closed

[2020-03-17 14:59] bhalevy commented on #5780
There are similar errors in `materialized_views_test:TestMaterializedViews.interrupt_build_process_with_resharding_*`
not that they are using `eventually` but it show no real progress.  For example, when ran locally:
[code]

[2020-03-17 15:05] eliransin commented on #5780
@bhalevy does this reproduce every time? any special steps to reproduce?

[2020-03-17 15:48] slivne commented on #6014
@eliransin you don;t need todo anything here - we need todo a backport when we think the code in 866c04d is stable enough probably after 3.3 goes out

[2020-03-17 15:48] slivne commented on #6014
I am removing assignment

[2020-03-17 15:49] slivne commented on #6004
@eliransin removing you

@frucj please test with 3.3.rc3 or with 3.1

[2020-03-17 15:52] bhalevy commented on #5780
@eliransin it seems to be reliably reproduced on jenkins since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/420/testReport/materialized_views_test/TestMaterializedViews/interrupt_build_process_with_resharding_half_to_max_test/
(Scylla version c020b4e5e20e7f3b5e8fe0a12271f3adc5449be2)

I needed no special steps to reproduce locally.  Try this command on a machine wit

[2020-03-17 16:24] vladzcloudius opened #6033 "Expired tombstones are kept in cache indefinitely"
*Installation details*
HEAD: 0cb718276
Cluster size: 1

*Description*
Tombstones seems to be kept in the cache even after 'nodetool flush'.

How to reproduce:
1) Create a 1 node ccm cluster:
[code]
2) Start it:
[code]
3) From cqlsh create the table with `gc_grace_seconds=0`:
[code]
4) Run the test where we create and entry, delete it with the tombstone in the future, then call `flush` and `compact

[2020-03-17 16:24] vladzcloudius commented on #6033
@tgrabiec FYI

[2020-03-17 17:15] tgrabiec commented on #3914
@raphaelsc Do we drop fully expired sstables during reads like we do during compaction? Or maybe, are fully expired sstables supposed to be dropped immediately when they expire?

[2020-03-17 17:17] tgrabiec commented on #3568
@denesb We can now fix this since we have a compacting reader.

[2020-03-17 17:20] fruch commented on #6004
I think I've narrowed it to a branch-3.2 only issue.
*scylladb/scylla:3.1.4* - Can't reproduce the issue
**scylladb/scylla:3.2.0** - Reproduced
**scylladb/scylla:3.2.3** - Reproduced
*scylladb/scylla:3.3.rc2* - Can't reproduce the issue

[2020-03-17 17:28] psarna commented on #5708
I see where the problem is - when we qualify additional columns to be fetched for filtering, we first check if they are not indexed - if they are, then we don't need to fetch them for filtering, because their index will be used. The issue is that `d > 42` should **not** be qualified for indexing, because our indexes only support `EQ` operator. I'll prepare and send a fix today.

[2020-03-17 17:33] fruch commented on #6004
Reproducer:

[code]

failure looks like that:
[code]

the query on token 8497859890784024364 was is of the trace, hence goes to wrong shard. (i.e. the test expects to be only on shard 0)
[code]

[2020-03-17 18:07] tzach commented on #2654
@penberg can you please look into this?

[2020-03-17 18:08] tzach commented on #3626
Fix with https://github.com/scylladb/scylla/commit/58e47fa0b358d8690e174dfffbe35aa6a8dc2dee

[2020-03-17 18:08] #3626 closed

[2020-03-17 18:11] tzach commented on #5488
Fixed with https://github.com/scylladb/scylla/commit/9616956c16714cfa0f9dbd6d7c491e8605c492b1

[2020-03-17 18:11] #5488 closed

[2020-03-17 18:14] slivne commented on #6014
@avikivity / @gleb-cloudius - this is the issue related to tracing

[2020-03-17 18:53] gleb-cloudius commented on #6014
I would be surprised if #5700 is indeed to blame. When tracing is off no tracing ptr should be created at all, so what I would expect with the bug disabling tracing would cause some entries that should be there no be, but not other way around.

OTOH I am not sure the issue as described is an issue at all. If some queries that were run before turning off the tracing are still running in the backgro

[2020-03-17 19:14] slivne commented on #6014
@Gleb Natapov <gleb@scylladb.com> I ran the reproducer the user provided -
its not background queries its new queries that are logged.

On Tue, Mar 17, 2020 at 8:53 PM Gleb Natapov <notifications@github.com>
wrote:

[2020-03-17 19:16] gleb-cloudius commented on #6014
Yes, I see it in the provided file. Looks wrong indeed.

[2020-03-17 20:50] mailmahee commented on #6029
Please upload the Prometheus data and share the UUID here

https://docs.scylladb.com/troubleshooting/report_scylla_problem/#server-metrics-with-prometheus

https://docs.scylladb.com/troubleshooting/report_scylla_problem/#send-files-to-scylladb-support

[2020-03-17 20:51] mailmahee commented on #6029
Also do share if core dumps are already generated.

[2020-03-17 20:53] slivne commented on #6033
why do you think nodetool flush removes things from the cache - AFAIK it doesn't

nodetool flush only flushes memtables and merged them into the cache - not anything else

[2020-03-17 20:53] mailmahee commented on #6029
Also please upload the scylla logs from the nodes
**systemctl -u scylla-server --since=-2d**   (for the last two days - feel free to change this based on the time period)

[2020-03-17 20:55] slivne commented on #6025
@kostja  ?

[2020-03-17 21:10] slivne commented on #5968
There are two compaction startegies used (or so it seems):
- TimeWindowCompactionStrategy
- SizeTieredCompactionStrategy

Yet its not clear what are the params for retain the TWCS sstables it would be the best to run ```desc scehma``` on your cluster and share that.

Please note we have had issue with TWCS not freeing disk space: https://github.com/scylladb/scylla/issues/4969

You can follow the i

[2020-03-17 21:14] slivne commented on #5971
we had

https://github.com/scylladb/scylla/issues/5200

and AFAIK @haaawk even coded a suggestion related to this that was not merged

[2020-03-17 21:17] haaawk commented on #5971
POC is here https://github.com/haaawk/scylla/commits/5200-v1

[2020-03-17 21:17] slivne commented on #5173
@avikivity ping users are failing to run docker

[2020-03-17 21:19] slivne commented on #5983
We have system and user generated queries - we should be able to split this apart, still it would be good to understand that we have a non paged range scan running in the system.

[2020-03-17 21:25] slivne commented on #5990
Lets start by extracting the cluster status when repair was attempted

- does the node `10.0.9.232` exist in the cluster ?

[2020-03-17 21:33] gauthamt commented on #6029
@mailmahee

* journalctl on the scylla nodes show no entries.
journalctl -u scylla-server --since=-2h
No journal files were found.
-- No entries --

* scylla logs from our 10 nodes uploaded from yesterday. if you grep through the logs you can see events when we've had to manually unwedge unreachable nodes with supervisorctl restarts.

/tmp/scylla/scylla-1:2020-03-16 17:39:29,271 INFO stopped: scyl

[2020-03-17 21:38] slivne commented on #6020
- can you please run ```nodetool describecluster ``` so we can check that all nodes agree with the schema.
- can you please run ```desc schema``` so we can check the schema that exists in the cluster.
- can you please provide the full sequence of operations starting from the original schema - so we can try and reproduce on our end.

[2020-03-17 22:57] raphaelsc commented on #3914
On Tue, Mar 17, 2020 at 2:15 PM Tomasz Grabiec <notifications@github.com>
wrote:

Almost sure we don't. BTW, fully expired sstables in compaction terms mean
sstable that can be purged for sure because its tombstones don't possibly
shadow any data in non-compacting sstables. For reader purpose, we'd need
to do the same.

Yes, we don't even care about compacting those, we just delete them at the
end

[2020-03-18 02:21] Felix-zhoux opened #6035 "failed to write sstable, Open-ended range tombstones are not allowed in LA/KA SSTables"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 666.development-0.20200212.a8a4e584

[2020-03-18 04:13] vladzcloudius commented on #6033
@slivne To remind you, memtables are considered as a cache in a read path together with the actual cache.

I'm not 100% sure but I think that before `nodetool flush` the tombstone in my example resides in the memtable. And the `flush` is going to push it into the actual cache.

I'm not sure/care what should have flushed it away from any cache (memtable and/or 'real cache') but something should hav

[2020-03-18 04:39] bhalevy commented on #6023
Closing since there was no issue with scylla, just with the test, and it is now fixed.

[2020-03-18 04:39] #6023 closed

[2020-03-18 06:45] eliransin commented on #6025
@kostja I agree with @gleb-cloudius , unless the is a cassandra parity issue here. AFIAR every time the issue of a mixed writes issue was discussed (LWT and non LWT) , we came to a conclusion that the behavior is undefined for this situation.

[2020-03-18 06:51] gleb-cloudius commented on #6025
On Tue, Mar 17, 2020 at 11:45:54PM -0700, Eliran Sinvani wrote:

The test writes into different partitions and this is well defined, but it
also guaranties nothing about durability of non lwt writes.

--
			Gleb.

[2020-03-18 08:00] juliayakovlev commented on #6025
This is explanation of @gleb-cloudius :
"LWT write flushes all non-LWT writes that come before it."

And:

Yes. You wrote "But running together with LWT writes, non-LWT looks like are flushed
immediately, like LWT". And what I was trying to clarify is that it is
true only for non-LWT writes that were done before an LWT write. But if
there was no LWT write after non-LWT one it may not be flushed.

[2020-03-18 08:10] gleb-cloudius commented on #6025
Here is your original question and my answer:

  It is expected to find all rows that were written before last LWT write.

So the answer stands. It is expected in certain situations to see
non-lwt entries to be flushed as well. It is guarantied as in "has to
happen and have to be tested to do so", nope it is implementation
detail that not even true in all circumstances.

--
			Gleb.

[2020-03-18 08:38] avikivity commented on #5968
What does the graph show?

[2020-03-18 08:39] juliayakovlev commented on #6025
In case that it's not garantiee that non-LWT writes will be flushed, the test can validate LWT writes only (when exists both LWT and non-LWT writes)

[2020-03-18 08:52] eliransin opened #6038 "materialized_views_test.TestMaterializedViews.interrupt_build_process_with_resharding_low_to_half_test Fails"
The following tests are failing with the view containing less rows than expected.
The failing tests:
1. https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/429/testReport/junit/materialized_views_test/TestMaterializedViews/interrupt_build_process_with_resharding_low_to_half_test/
2. https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/429/testReport

[2020-03-18 09:10] psarna commented on #6038
Hm, that's interesting, fd49fd7 was intended to introduce **no** functional changes... all view updates are still performed in the background, just like before.

[2020-03-18 09:15] psarna commented on #6038
Oh wait, snap, of course, view building. That's true, here, the contract there was different - we kept waiting for the view updates to be applied... I didn't notice that `mutate_MV` was used in two places - once for generating view updates during writes in the background, and once for view building for generating view updates in the *foreground*. It's a bug, I'll fix it.

[2020-03-18 09:28] eliransin commented on #6038
@psarna you are too fast, but I was suspecting the same thing and wanted to start writing it here when your response popped.
I will still give myself a pet on the back for being only few steps behind you :laughing:

[2020-03-18 12:00] kostja commented on #6025
Julia, I am assigning this to you since under any circumstances the fix is in the test, and not in the code. Please let me know if I should reassign.

[2020-03-18 12:05] juliayakovlev commented on #6025
It's mine. Will change the test

[2020-03-18 14:14] ruimateus commented on #3034
was this bug solved? we are hitting the same behaviour.

[2020-03-18 14:25] kostja commented on #6005
Affects my local setup too.

[2020-03-18 14:29] bhalevy commented on #6038
Let's add one of those test cases to next-gating once this bug is fixed to prevent regression.

[2020-03-18 14:36] bhalevy commented on #6022
For the record hit in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/429/artifact/logs-release.2/1584499384601_concurrent_schema_changes_test.TestConcurrentSchemaChanges.decommission_node_test/node2.log
Scylla version 14de126ff83d8322090e4190273aecf06ce64b31
[code]

[2020-03-18 14:40] bhalevy commented on #5985
Still happening regularly...
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/429/artifact/logs-release.2/1584500532732_cql_tracing_test.TestCqlTracing.tracing_shutdown_test/node2.log
[code]

[2020-03-18 14:51] bhalevy commented on #1239
But can't we return those token from the memtable before it's flushed?
Should we filter those tokens on the read path when reading from either the memtable or even from a sstable?
Can we filter them out when flushing the memtable regardless of `nodetool cleanup`?

[2020-03-18 14:52] tgrabiec commented on #6033
Expiring tombstones in cache/memtable is covered by this: https://github.com/scylladb/scylla/issues/2252

[2020-03-18 15:07] tgrabiec commented on #1239
Filtering is not necessary, the coordinator is not supposed to request data from the replica which is not owned by it. Cleanup drops keys which are no longer owned by the replica, so no read should touch them. Replica can re-obtain ownership only after cleanup is finished, we prohibit topology changes concurrent with cleanup.

[2020-03-18 15:19] Termite opened #6040 "scylla 3.1.1, records disappear in big table after upgrad from 3.0"
Hi,

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.1.1
Cluster size: 8
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian stretch

Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets= 1, cores=4, hyperthreading=8, memory=64GB
Disks: HDD, 2 per node as raid-0,  ca 7TB per no

[2020-03-18 15:41] bhalevy commented on #1239
In this case I agree we need to flush before cleanup

[2020-03-18 15:45] denesb commented on #5994
I managed to cross reference all clustering row cell values reachable from combined readers vs. all linked lists composed of 16KB items found in memory, the latter being suspected to be all cell values. Out of the 444 such lists, 369 are reachable from the combined readers.

However there is a discrepancy between the sum of buffer sizes reported by the readers and the total size of the reachable c

[2020-03-18 15:53] denesb commented on #5994
So it looks like that instead of another 3GB of memory being consumed by something else (as I initially thought), it's just a mistake in summing buffer sizes (either in Scylla or my script). I'll have a look at that tomorrow, but I think its safe to say this issue is yet another symptom of https://github.com/scylladb/scylla/issues/4176.

[2020-03-18 15:57] denesb commented on #3568
We need some further changes to expose https://github.com/scylladb/scylla/blob/14de126ff83d8322090e4190273aecf06ce64b31/sstables/compaction.cc#L76. Or we could do this as part of adding the first user of the compacting reader, be that cache or streaming.

[2020-03-18 16:07] slivne commented on #5840
@ShlomiBalalis ping

[2020-03-18 16:07] yarongilor commented on #5528
reproduced in 3.3 running longevity of 50gb.
live monitor is: 52.215.203.95
error is:
[code]

[2020-03-18 16:27] avikivity commented on #6035
/cc @nyh

Why is the master branch using ka/la? It should be using mc.

[2020-03-18 16:28] avikivity commented on #6017
It's not related to HDD. Are you running on docker or some other container manager?

[2020-03-18 16:32] roydahan commented on #5528
@yarongilor please replace the live monitor link with "live screenshot" and with hydra show monitor.

[2020-03-18 17:50] #5172 closed

[2020-03-18 17:50] #6016 closed

[2020-03-18 18:39] rahultaing commented on #5968
[schema.txt](https://github.com/scylladb/scylla/files/4350741/schema.txt)
attached schema from the cluster.

[2020-03-18 19:33] tgrabiec commented on #4951
The original fix was incomplete.

[code]

The type of c is `chunked_vector*`. Assigning `{}` clears the pointer, while the intended behavior was to clear the `chunked_vector` instance. The original instance is left unmodified with all its reserved space. Because of this the fix has no effect at all because token ranges are stored entirely inline and popping them does nothing.

[2020-03-18 20:21] yarongilor commented on #5528
the error happened on show-top-partitions for a node, 15 minutes after a nodetool drain complete.
see snapshot:
https://snapshot.raintank.io/dashboard/snapshot/iKbrTpsh4U1NCq4DaBgzvo6TE4ARJ03c
logs:
[code]

[2020-03-18 21:16] slivne commented on #5968
@rahultaing

I see you have two keyspaces

```jaeger_archive_v1``` and ```jaeger_v1```

- jaeger_archive_v1 tables have ```default_time_to_live = 0 ```
- jaeger_v1 tables have ```default_time_to_live = 25920```

are you using both keyspaces.

unless something else is writting a TTL for data in jaeger_archive_v1 - you will not be deleting anything from that keyspace and keep on accumulating data (e

[2020-03-18 23:33] gnumoreno opened #6042 "Please create a design/engineering document about scylla bootstrap process."
The only document I could find about scylla bootstrapping process was this:
[Directory layout and bootstrapping](https://github.com/scylladb/scylla/wiki/Directory-layout-and-bootstrapping)
So users, customers, field teams and engineers have to rely on either reading the code or recurring to C*/DS documentation (which is not entirely applicable, I guess).

Can someone familiar with scylla bootstrap

[2020-03-18 23:58] asias commented on #6042
We have procedure documents:

https://docs.scylladb.com/operating-scylla/procedures/cluster-management/

What kind of information you want to know for the bootstrap process?

[2020-03-19 00:08] gnumoreno commented on #6042
@asias I'm not really talking about procedures. I'm talking about what scylla is actually doing in all these different scenarios. Something from an engineering perspective and not operation. A good example is what @nyh wrote about [protocols](https://github.com/scylladb/scylla/blob/master/docs/protocols.md), [logging](https://github.com/scylladb/scylla/blob/master/docs/logging.md), etc. github doc

[2020-03-19 02:24] yuqin11 commented on #6017
Yes on docker .

[2020-03-19 02:44] Felix-zhoux commented on #6035
You are right, this message comes from sstables/writer.hh: line493. And in the data directory, the generated sstable is indeed in mc format.
But I don't know, I didn't configure these versions, is that the problem?

[2020-03-19 03:29] robfreund commented on #4823
I was hoping to find this fixed. I have upgraded to 3.3.rc3 and have same error as before. I was hoping to avoid having to roll my own scylla again.

running: (['/opt/scylladb/scripts/scylla_dev_mode_setup', '--developer-mode', '0'],)
running: (['/opt/scylladb/scripts/scylla_io_setup'],)
tuning /sys/devices/pci0000:00/0000:00:03.0/virtio0/host0/target0:0:5/0:0:5:0/block/sdb
tuning: /sys/devices/pc

[2020-03-19 06:11] asimshankar commented on #6029
Apologies, figuring out how to prune out metrics from our application before uploading (we have a single monitoring stack for all the services we us and our application. Any tips on how to do so are much appreciated)

Some more information on our workload: This problem seems to be easily triggered by a job that scans the entire table (that job is following [recommendations](https://www.scylladb.co

[2020-03-19 07:58] denesb commented on #5994
Seems like there is a 100% difference between what the `mutation_fragments` thinks about how much memory it owns, and how much it actually owns, some random samples below:
[code]

Notice how the `chain_size` (size of the linked-list in memory) is consistently 2X more than `mf_size` which is `mutation_fragment::data::_size_in_bytes`.

[2020-03-19 08:00] denesb commented on #5994
This is possibly due to our buddy allocator. `IMR` uses 8KB as the chunk size for its fragmented cell values, however due to accidental overflow of this storage, the seastar allocator might actually allocate 16KB spans instead of the requested 8KB one.

[2020-03-19 08:06] avikivity commented on #5994
If you allocate an exact power of two you should get it. Also, we use malloc_usable_size() to get the real size.

Of course, it's possible we missed one or two in one of these.

[2020-03-19 08:13] avikivity commented on #6035
It should automatically default to mc.

[2020-03-19 08:13] avikivity commented on #6035
What's your scylla.yaml like?

[2020-03-19 08:14] denesb commented on #5994
Hmm, there is also 3 size classes between 8KB and 16KB:
[code]
So even a 8KB + 1B allocation shouldn't get you a 16KB span.

[2020-03-19 08:14] avikivity commented on #6035
@nyh can alternator generate open-ended range tombstones?

[2020-03-19 08:18] Felix-zhoux commented on #6035
# Scylla storage config YAML

#######################################
# This file is split to two sections:
# 1. Supported parameters
# 2. Unsupported parameters: reserved for future use or backwards
#    compatibility.
# Scylla will only read and use the first segment
#######################################

### Supported Parameters

# The name of the cluster. This is mainly used to prevent machi

[2020-03-19 08:25] denesb opened #6043 "Size of row reported by mutation_fragment is only half of real size"
Observed on: 325c3e13ebf
While investigating an [OOM](https://github.com/scylladb/scylla/issues/5994), I noticed that the `mutation_fragment::data::_size_in_bytes` is only half of the number one arrives at if one iterates over all the cell storage referenced by all cells in the row.
See [this comment](https://github.com/scylladb/scylla/issues/5994?email_token=AAKTFWIJBEXH6ZLPWCPSQI3RG537HA5CNFSM4L

[2020-03-19 08:26] denesb commented on #5994
I opened https://github.com/scylladb/scylla/issues/6043 for the size bookeeping mismatch.

[2020-03-19 08:26] Felix-zhoux commented on #6035
The following is scylla.yaml without comments.
I ran the Scylla cluster through docker.

docker run --name scylla --volume /data1/scylla1:/var/lib/scylla -d -p 8000:8000 scylladb/scylla-nightly --alternator-port=8000 --experimental=1 --overprovisioned=1 --developer-mode=0 --cluster-name my_cluster
docker run --name scylla2 --volume /data2/scylla2:/var/lib/scylla -d -p 8002:8002 scylladb/scylla-nig

[2020-03-19 08:36] Felix-zhoux commented on #6035
@avikivity
**Before an error is reported, an instance is accidentally restarted, and an error is reported on that instance. After I manually restarted the instance, it stopped reporting errors.YCSB continues the Insert with two more instances.
Here are some of the log snippets:**

2020-03-18 13:26:15,352 INFO exited: scylla (terminated by SIGKILL; not expected)
2020-03-18 13:26:16,844 INFO spawned

[2020-03-19 08:51] avikivity commented on #5994
Yes, the buddy allocator applies to large allocations, not small pools

[2020-03-19 09:08] avikivity commented on #5968
How many files are on your nodes in /var/lib/scylla/data?

[2020-03-19 09:32] bhalevy commented on #6035
@haaawk @tgrabiec that shouldn't happen, right?
We're not supposed to admit open-ended range tombstone to the commitlog unless we committed to mc format, no?

[2020-03-19 09:32] bhalevy commented on #6035
Cc @eliransin

[2020-03-19 09:41] bhalevy commented on #6035
Ref https://github.com/scylladb/scylla/issues/4113, https://github.com/scylladb/scylla/issues/4205

[2020-03-19 09:47] bhalevy commented on #6035
@Felix-zhoux, can you please share the compelete node log from this boot, and the one before it?

[2020-03-19 09:50] denesb opened #6044 "Consolidate consumer concepts and `consume()` variants"
We currently have the following consumer concepts:

https://github.com/scylladb/scylla/blob/7401a63e92038020508702b62c37d615f912ddb5/mutation_fragment.hh#L249-L301
https://github.com/scylladb/scylla/blob/7401a63e92038020508702b62c37d615f912ddb5/flat_mutation_reader.hh#L42-L66
https://github.com/scylladb/scylla/blob/7401a63e92038020508702b62c37d615f912ddb5/mutation_compactor.hh#L44-L56

Due to conc

[2020-03-19 10:22] denesb commented on #6043
Possible causes:
* A mistake in my `gdb` script - there is no bug at all.
* A mistake in the memory accounting of `row`. Minor impact, we are not using this as input for tracking the memory consumption of readers yet. Some readers might have larger buffers then they think they have, but at the cell-size we are seeing in this issue, this is not a problem, a single cell is larger then the targeted b

[2020-03-19 10:53] ShlomiBalalis commented on #5840
It seems that the issue first start to occur sometime between `666.development-0.20200208.576f80be74c with build-id 8d8b628b2a37c9db715d47b31f0c2ef32d1f0161` and `666.development-0.20200210.43097854a5e with build-id dd559c5ddfc5689027d1dcebc322302a7093433a`

[2020-03-19 11:04] denesb commented on #4176
Another scenario seen recently: very large clustering rows (in the hundred(s) of MB order of magnitude per cell): #5994.

[2020-03-19 13:19] slivne commented on #5742
closing this

[2020-03-19 13:19] #5742 closed

[2020-03-19 13:51] fgelcer opened #6045 "metric 'select_partition_range_scan' misbehaves: instead of increase by 1 is increasing by 2"
writing a new [dtest](https://github.com/scylladb/scylla-dtest/pull/1322) for this metric, resulted that 'select_partition_range_scan' metric that is supposed to increment by one once every select with partition range scan is being increased by 2.

[2020-03-19 13:52] fgelcer commented on #6045
@alecco !

[2020-03-19 14:38] nyh opened #6046 "Run Alternator tests from test.py"
`test.py` currently runs several different types of tests, but does not run Alternator's tests.

We have a separate script (commit pending) `alternator-tests/run` which runs Scylla in a temporary directory and runs all the Alternator functional tests against it (at the moment of this writing, 342 tests), but since this existing Jenkins jobs run `test.py`, not the new script, we don't have these te

[2020-03-19 17:33] tgrabiec commented on #6035
We don't check this at commitlog entry, only in the CQL layer which generates the deletion. Maybe we enabled mc before the restart but for some reason restart doesn't see it? Full log is needed like you already requested

[2020-03-19 18:13] haaawk commented on #6035
I see alternator name in the description. Is the test performed through alternator API? I think alternator uses storage_proxy directly so it may bypass the check that rejects open-ended range tombstones.

[2020-03-19 18:47] #4951 closed

[2020-03-19 18:47] #5708 closed

[2020-03-19 18:47] #6038 closed

[2020-03-19 18:47] #5029 closed

[2020-03-19 19:28] tgrabiec commented on #3568
I don't understand the problem.

Ignoring #1745, isn't `get_max_purgeable_timestamp()` equal to `api::max_timestamp` for cache sstable reader? We read all sstables, so can drop whatever expired.  To account for #1745, we'd have to account for memtables.

[2020-03-19 20:59] kostja commented on #6042
@gnumoreno I shared a google doc with you. Perhaps we could use it as a starting point. If you could comment on it with items that are not clear/fully qualified, I would be happy to clarify.

[2020-03-19 21:23] gnumoreno commented on #6042
Thanks, @kostja  Much appreciated. Maybe we should invite Asias too since he is the bootstrap wizard.

[2020-03-19 21:28] slivne commented on #5840
@haaawk can you check the commits provided and see if this helps to clarify what you requested above https://github.com/scylladb/scylla/issues/5840#issuecomment-591489469

That is, is this related to CDC changes ? If so please assign someone to deal with it.

[2020-03-19 21:35] slivne commented on #5790
So 200gb-48H longevity passed and we had decomissions so this means that 3.3 is not suspect to this issue, which is great.

However, @ShlomiBalalis / @asias I think we may still have an issue in master (3.4). https://github.com/scylladb/scylla/issues/5790#issue-563117496 is using 666.development-0.20200206.27b36beb4ab which is not part of 3.3

So we need to clear this out on master as well.

@Shlo

[2020-03-19 21:36] slivne commented on #5918
@gleb-cloudius I need your help here - what do you need to analyze this ?

[2020-03-19 22:29] haaawk commented on #5840
@slivne there's only one CDC commit between those two commits:
[code]

[code]

but I would much rather suspect
`"Move features from storage- into feature-service" from Pavel`

[2020-03-19 23:17] slivne commented on #6035
I am able to reproduce this easily - e.g. get files written in ka format.

[code]

[code]

[2020-03-19 23:43] slivne commented on #6040
@Termite
- Thanks, we will start working on reproducing the issue with what you provided, if there is a bug we want to find it and fix it.
- Just so its clear were you able to reproduce the issue with the reproducer you provided ?

[2020-03-19 23:57] tomer-sandler commented on #2511
@avikivity @slivne @bhalevy it would make a lot of sense to have this backported to all supported OSS version (currently 3.2 + 3.1) and to 2019.1. We are seeing a lot of cases where customers hit issues due to no swap setup.
70% of our paying customer deployments are on 2019.1 +  12% are still on 2018.1
The rest are on various OSS, but we should have this in 3.2 + 3.1 for sure, and if possible in

[2020-03-20 00:10] rahultaing commented on #5968
@slivne we are not writing anything to archive table. so that's not a problem.

[2020-03-20 00:11] rahultaing commented on #5968
@slivne we are not writing anything to archive so that's not the issue.

[2020-03-20 00:30] vladzcloudius commented on #5257
@slivne I'm not sure what's the resolution?
Today we see that the cache is being populated during a write-only workload as described in the issue.
Do we conclude that that's what it is and we are going to do nothing about it?

Only in that case we may close this issue.

However AFAIU it's not the case.

If there is a planned future fix - this issue should stay opened until that fix gets in and we

[2020-03-20 00:42] vladzcloudius commented on #6014
@gleb-cloudius @slivne The regression has been introduced by
[code]
Until that patch a new instance of `client_state` was created for each `cql_server::connection::process_request_one(...)` call and passing of tracing state in it was totally safe.

The patch above broke that invariant.

[2020-03-20 00:44] vladzcloudius commented on #2511
@tomer-sandler I agree.

[2020-03-20 00:47] vladzcloudius commented on #6033
From April 2017...
A few more years it will have to go to the Elementary... ;)

[2020-03-20 00:49] vladzcloudius commented on #6004
@fruch FYI: https://github.com/scylladb/scylla/issues/6014#issuecomment-601479903

[2020-03-20 01:30] rahultaing commented on #5968
@avikivity there are about 90K files on those hosts and looks like the oldest modified timestamp is about 3 days old which matches our TTL. Any thoughts on what we could be doing wrong for file count to grow this big?

[2020-03-20 01:50] rahultaing commented on #5968
ran sstablemetadata on some of the files and the min/max timestamp seems to be within 3 day TTL window. I am wondering if reducing the TTL is the correct solution here or is there something else we can do?

[2020-03-20 02:25] Felix-zhoux commented on #6035
Here are the docker logs for the three instances, the key information is in scylla2-json.log. You can search for "terminated by SIGKILL; not expected" to find the key points.

[scylla3-json.log](https://github.com/scylladb/scylla/files/4357641/scylla3-json.log)
[scylla-json.log](https://github.com/scylladb/scylla/files/4357642/scylla-json.log)
[scylla2-json.log](https://github.com/scylladb/scylla/

[2020-03-20 02:41] eyalgutkind commented on #2511
+1 @Tomer Sandler <tomer@scylladb.com>

On Thu, Mar 19, 2020 at 5:45 PM vladzcloudius <notifications@github.com>
wrote:

[2020-03-20 06:30] denesb commented on #3568
Good point, we are opening all relevant sstables, so we don't even need that, we can just use `api::min_timestamp` and purge all tombstones.

[2020-03-20 06:54] gleb-cloudius commented on #5918
On Thu, Mar 19, 2020 at 02:37:02PM -0700, Shlomi Livne wrote:

A core.

--
			Gleb.

[2020-03-20 07:10] gleb-cloudius commented on #6014
That's good news since this is what 866c04d fixes, though I still not see how the bug can prolong trace_ptr live, only shorten it.

[2020-03-20 07:15] haaawk commented on #6035
In such case, we probably need to add checks in alternator to not allow range deletions unless MC format is enabled.

[2020-03-20 10:25] Termite commented on #6040
Am Freitag, 20. März 2020, 00:43:17 CET schrieb Shlomi Livne:

Thanks for the answer.

We have so far tested with our real data, not with data from the generator.
But the data from the generator is not distinguishable from our real data.

We would have to make a complete dump again and check every record and at the
moment we can't do that.

I don't know if clustersize play a role in the bug, the g

[2020-03-20 14:26] tgrabiec commented on #5257
Refs https://github.com/scylladb/scylla/issues/3429

[2020-03-20 15:44] kbr- opened #6049 "CDC: key columns get corresponding `cdc$deleted_` columns in the log table"
Each non-key column in the base table gets a `cdc$deleted_`-prefixed column in the log table to indicate column deletions. However, key columns shouldn't have such deletion columns.

Now they do for some reason:
[code]

the `cdc$deleted_pk` and `cdc$deleted_ck` columns should not exist.

[2020-03-20 15:45] kbr- commented on #6049
Should be fixed soon because it's a backward-incompatibility-breaking bug.

[2020-03-20 16:05] vladzcloudius commented on #6014
@gleb-cloudius You mean, "how the patch can prolong", right?
That's exactly as in the description of 866c04d: trace_ptr is stored in the client_state and since the lifetime of the client_state is no longer bound to the life time of the current request handling it remains alive (since it's referenced from the shared client_state, which is not a field in the cql_server::connection).

As a result the

[2020-03-20 16:56] piodul opened #6050 "CDC: failed decoding of result column while fetching from cdc log table"
The following sequence of cql commands fail with an error:

[code]

[2020-03-20 18:06] gleb-cloudius commented on #6014
Right. For some reason I thought that when you disable tracing a pointer
in client_state is overwritten with nullptr, but looking at the code it does
not.

--
			Gleb.

[2020-03-20 20:26] slivne opened #6052 "Discard redundant overwrites that do not modify anything in base tables for MV/SI"
Regular writes in scylla even if they do not update anything are merged into memtables and then flushed to sstables.

MV/SI writes require a read prior to applying the write inorder to compute what needs to be updated in MV/SI.

As a read is done, and delta is computed we can omit the redundant overwrites that do not update anything (including Writetime/TTL).

[2020-03-20 20:33] slivne commented on #6052
sample

[code]

[code]

[code]

[code]

[code]

[2020-03-20 21:38] espindola commented on #5946
I think that the patch "gms: Add a default constructor to feature_config" might fix this.

[2020-03-20 22:21] espindola commented on #5946
I tried to use valgrand to confirm it, but it can't handle our use of io_submit. We should try to get msan going one day, but that requires building with clang *and* having a build system that allows us to build all of our dependencies.

[2020-03-20 22:31] slivne commented on #6035
There are two different issues in ths case:

1. Does alterantor use open range tombstones - and I don't think it does, yet @nyh / @psarna should provide the info
1 We are running a 3.4 / 3.3 version and are creating KA files - this should not happen in new clusters - they should only write mc format tables, something is not working correcyly with setting the mc flag. it seems that early at boot ti

[2020-03-20 23:02] vladzcloudius opened #6053 "Prevent 'nodetool refresh' to block until all running compactions on all shards finish"
*Installation details*
Scylla version: 0cb71827684480cd9b5466633cb4165d6012cd03

*Description*
Today `nodetool refresh` is going to block till all running compactions on all shards finish and only then proceed.

This significantly reduces from the `nodetool refresh` usability on live clusters or when we need to upload sstables from a backup of multiple nodes (e.g. when the topology of the 'source'

[2020-03-20 23:09] vladzcloudius commented on #6053
The root cause of this is the existence of _sstables_lock which is a rwlock and it's being held by compactions from the beginning till the end.

From what I can tell this lock is mainly (only?) needed in order to protect the sstables generation process.

If that's the case I don't see any reason why this lock is required to be held beyond consuming the next generation value by compactions, memtabl

[2020-03-20 23:10] vladzcloudius commented on #6053
@raphaelsc @glommer @slivne @eyalgutkind FYI

[2020-03-21 11:00] SaubereSache commented on #6020
Restarting all nodes in the cluster fixed it. Unable to reproduce.

[2020-03-21 16:06] raphaelsc opened #6054 "Compaction Backlog controller will misbehave for time series use cases"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): df8b3cd5dc1a2
Cluster size:
OS (RHE

[2020-03-21 18:45] #6049 closed

[2020-03-21 21:22] gnumoreno opened #6055 ""Greater than" on secondary index does not work but works on underlying MV"
*Installation details*
Scylla version (or git commit hash): 3.3.0-202003200707
Cluster size: 1 node
OS (RHEL/CentOS/Ubuntu/AWS AMI):

[code]
Querying the base table does not work
[code]
Querying the Index underlying MV works
[code]

Related to #5823 ?

### Docker Reproducer
NOTE: gtihub does not let me attach .sh files so renamed to .txt
[db_setup.txt](https://github.com/scylladb/scylla/files/4364

[2020-03-21 21:30] gnumoreno opened #6056 "Count function returns incorrect results with allow filtering."
*Installation details*
Scylla version (or git commit hash): 3.3.0-202003200707
Cluster size: 1 node
OS (RHEL/CentOS/Ubuntu/AWS AMI): docker

[code]

[code]

Related to #6055 ?

### Docker Reproducer
NOTE: gtihub does not let me attach .sh files so renamed to .txt
[db_setup.txt](https://github.com/scylladb/scylla/files/4364105/db_setup.txt)
[docker_setup.txt](https://github.com/scylladb/scylla/file

[2020-03-21 22:26] tskweres commented on #3357
Error while dropping materialized view on DB Table -> ResponseError: Cannot use DROP MATERIALIZED VIEW on Index

I'm using express-cassandra with ScyllaDB, I have my database set to 'drop' on each startup, I'm writing code / fleshing out my models.

When I start up the app, I get the error above. How can I just completely drop and rebuild the DB while I'm coding, and get rid of this error?

[2020-03-21 23:20] tskweres commented on #4448
If I have my DB configured to 'drop' in dev, I'm still getting:

[code]
How can I drop the DB & start over as I'm fleshing out the models?

[2020-03-22 07:11] psarna commented on #6055
It's a duplicate of https://github.com/scylladb/scylla/issues/5547 - I'll close this one to avoid confusion.

[2020-03-22 07:11] #6055 closed

[2020-03-22 07:25] psarna commented on #3357
@kstweres materialized views which back secondary indexes should not be deleted directly - instead, you simply drop the base table and indexes are automatically dropped too (along with their underlying materialized views). The proper order for dropping a table with multiple materialized views and indexes would be:
1. Drop all materialized views manually created for this table with `CREATE MATERIAL

[2020-03-22 07:27] psarna commented on #4448
@tskweres see https://github.com/scylladb/scylla/issues/3357#issuecomment-602159685

[2020-03-22 07:52] psarna commented on #6056
Related to https://github.com/scylladb/scylla/issues/5708, fixed by https://github.com/scylladb/scylla/pull/6034

[2020-03-22 07:52] #6056 closed

[2020-03-22 07:53] psarna commented on #6056
@gnumoreno I verified your scripts on master with the fix from #6034 already applied, and it returns correct `count(*)`.

[2020-03-22 10:30] psarna commented on #6035
@slivne alternator does not use any kind of range/partition tombstones - in fact, DynamoDB does not allow range deletions/partition deletions at all, the only way is to either delete the whole table or delete items one by one.

[2020-03-22 10:57] avikivity commented on #6035
@slivne the truncated table ka sstables are probably written before the node knows the cluster features, it's not relevant for user tables.

I think the problem is due to commitlog replay - we did not contact other nodes yet, so we replay into a ka sstable.

[2020-03-22 10:58] avikivity commented on #6035
One way to fix it is to remember which features the cluster agreed to, so we don't have to re-agree each time.

[2020-03-22 11:39] nyh commented on #3357
@psarna I wonder if his problem is that existing code which lists materialized views lists the materialized views used for indexing. So existing code which wishes to remove all tables by removing all materialized views first fails.
This is unfortunate (and arguably can be considered a bug in Cassandra compatibility and deserves a separate issue - I'll create one), but fixing such existing code sho

[2020-03-22 11:51] psarna commented on #3357
@nyh yes, that's the root cause, and I think there already was a discussion or two whether we should include indexing-induced views to be listed as materialized views - I vaguely remember that we also already have such a github issue, but I can't find it now.

The same thing causes benign problems when people use the output of `DESCRIBE TABLE` to recreate a table (e.g. during migrations), since it

[2020-03-22 12:27] nyh opened #6058 "Materialized views created for secondary indexes are listed but cannot be deleted"
This is a spinoff from https://github.com/scylladb/scylla/issues/3357#issuecomment-602113458. It describes a rather esoteric and low-priority compatibility problem with Cassandra, but it's a compatibility problem nonetheless.

When we list the materialized views in a table or keyspace (e.g., cqlsh's "describe table" or "describe keyspace"), if a table has a secondary index, a materialized view is

[2020-03-22 12:27] nyh commented on #3357
Opened https://github.com/scylladb/scylla/issues/6058

[2020-03-22 12:39] nyh commented on #3357
I also thought there would be such a github issue, but couldn't find one. So I created #6058, with two proposed solution. One difficult one is to fix the basic problem (that these views shouldn't be listed), but an easier way is just to make @tskweres 's application work, by allowing the view deletion.

[2020-03-22 14:57] juliayakovlev opened #6059 "Scylla start with resharding took 12 minutes with a lot of semaphore timed out messages"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200320.df8b3cd5dc1
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0386a4a8dc2086366
Test: longevity-lwt-3h

Test runs LWT updates in parallel with node operations.

When Scylla was restarted with resharding - changed murmur3_partitioner_ignore_msb_bits from 15 to 12 - got a lot of semaphore tim

[2020-03-22 15:29] eliransin commented on #6025
The issue was fixed in dtest - closing.

[2020-03-22 15:29] #6025 closed

[2020-03-22 15:35] gnumoreno commented on #6056
@psarna thanks!

[2020-03-22 15:37] ShlomiBalalis opened #6060 "(200gb-48h) Nodetool drain fails to end within 1 hour"
*Installation details*
Scylla version (or git commit hash):666.development-0.20200318.cdcedf5eb9c
build-id: ad8bef0ba97e00482e590a9f7ea4e870d4ecf645
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b91846d312e383c6 (Ireland)

Test id: 63a88de2-e744-478e-962a-7e80c6242d08

Node list:
[code]

Possibly related issue: #5918
During a run of `disrupt_nodetool_drain`, where the target node was node#

[2020-03-22 15:56] ShlomiBalalis commented on #5790
On the latest run of master there were 8 occurrences of disrupt_nodetool_decommission and all of them were successful, so I guess we can close this issue. @roydahan Any objections?

[2020-03-22 16:08] slivne commented on #5790
ok closing this if you have new issues please create a new issue

[2020-03-22 16:08] #5790 closed

[2020-03-22 16:10] slivne commented on #5840
There is a simple way to check this out - create a build without your commit and validate where the upgrade issue is from

@xemul / @bhalevy  - please do this validation and check if upgrade works.

[2020-03-22 16:32] slivne commented on #5918
@yarongilor / @roydahan can you guys reproduce the issue on master without tls and upload cores for all the machines that are associated with the hang (e.g. both the machine that nodetool drain fails and the machine that repair did not end for it). If in doubt reach out to gleb and ask.

[2020-03-22 16:35] slivne commented on #5918
please make sure you are using latest version of 3.3

[2020-03-22 16:46] gleb-cloudius commented on #5918
If they can reproduce it is better to give an access to the setup.

--
			Gleb.

[2020-03-22 16:59] roydahan commented on #6060
This is reproduce of #5918
(We added a timeout for drain and we create a coredump if it stuck)

[2020-03-22 17:00] roydahan commented on #5918
please see if the coredump in #6060 is helpful.

[2020-03-22 17:48] espindola opened #6062 "test.py uses tmpfs"
In regular developer workstations /tmp is a tmpfs and that is where tests runs by test.py store their files. We had a few bugs in the past that would reproduce on real filesystems, but not tmpfs.

We should evaluate changing test.py so that TMPDIR points to somewhere in testlog/

[2020-03-22 18:47] espindola commented on #5946
The patch is now 9445608df63b60966daae2f5789c1b360187e4c2 in master.  Lets close this. Please reopen if you see a failure again.

[2020-03-22 18:47] #5946 closed

[2020-03-22 19:18] yarongilor commented on #5990
reproduced in 50gb longevity. looks like all db nodes are in state UN and after a minute the manager/manager agent reports a connection issue to a db node that fails its repair.

some logs of that:
[code]
full logs:
[code]

[2020-03-22 20:39] tskweres commented on #3357
@nyh I appreciate you guys looking into this. As I have my database configured to 'drop' on every init, I'm assuming it should be able to drop on its own?

clientOptions: {
    contactPoints: process.env.SCYLLA_CONTACT.split(','),
    keyspace: process.env.SCYLLA_KEYSPACE,
    protocolOptions: {
      port: parseInt(process.env.SCYLLA_PORT, 10),
    },
    queryOptions: {
      consistency: 1,

[2020-03-22 21:14] slivne commented on #6035
@avikivity
- I do think it will be better if scylla does not write ka/la on boot if it can conclude it should default to mc, it confuses users later when they see ka/la/mc files.
- We do store the feature bits locally on system tables (system.local + system.peers) so this is known, we do not allow to remove feature bits in an active cluster (@asias / @tgrabiec please approve) - so whatever we have

[2020-03-22 23:13] #6018 closed

[2020-03-23 05:53] bhalevy opened #6063 "unbalanced token in repair_option_pr_multi_dc_test"
Seen a few times, most recently in dtest-release:
https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/431/testReport/repair_additional_test/RepairAdditionalTest/repair_option_pr_multi_dc_test/
[code]

According to @asias, the node log confirms that:
[code]

Other instances of this issue:
https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/412/testReport/repair_additional_

[2020-03-23 09:10] nyh commented on #6058
@psarna pointed out that another benefit of the first option is that code that tries to list tables and recreate them on another cluster can also get confused by these index-backing materialized views. Such code shouldn't recreate these views explicitly, but rather should do it via "CREATE INDEX", so it would be better if this code didn't see those views listed at all.

[2020-03-23 09:26] dongyujun opened #6064 "Gcc compile source code of scylla and use cpu 100%，but compiling-Program jammed"
when compiling scylla，cpu is used about 100%  and compiling-Program  is jammed。After waittting for a long time，it remains jammed.

scylla version : 3.1.2
compiling use 8 cpu,and memory is 32G.

[2020-03-23 09:38] nyh commented on #6064
Please give more details. What does " jammed" mean - is it very slow but eventually completes? Does it never complete? On **which source file** does it hang (you can do "ps auxww" to see which compilations are active)? What version of gcc are you using (`gcc --version`).

Finally, minus some rare gcc bug that causes it to go into an infinite loop (we never saw such a problem before), the most like

[2020-03-23 09:45] elcallio commented on #6050
Probably means there is an issue in corresponding unit test - i.e. my manual unpacking does not correlate with the python drivers...

[2020-03-23 10:21] tzach opened #6067 "Support SSL Certificate Hot Reloading"
Scylla version (or git commit hash): 3.4

Support hot reloading of SSL Certificates, perdiacly and using `nodetool reloadssl` command
See http://cassandra.apache.org/doc/latest/operating/security.html#ssl-certificate-hot-reloading

[2020-03-23 12:07] kostja opened #6068 "Extend iotune/io_scheduler cost model to account for latency"
Currently iotune measures maximal bandwidth, assuming the disk device provides reasonable latency even at maximal bandwidth. The io_scheduler assumes that a single write latency is within milliseconds or tens of milliseconds. In scope of research of https://github.com/scylladb/scylla/issues/5834 demonstrates that real latencies can be in hundreds of milliseconds at maximal bandwidth. This leads to

[2020-03-23 14:33] kostja commented on #5251
Paxos tables are local tables and are thus not streamed. Thus the resolution of this ticket depends greatly on how streaming is done, and it used to be an issue indeed, before repair-based streaming was implemented. With repair-based streaming, all nodes available during nodetool operations will get the latest version of the row, and thus conditions described in both tests will be impossible.
I wi

[2020-03-23 14:37] kostja commented on #5251
In scenario 1, at step 4, C and D will get the committed version of the row, thus will reply with the newest value.

[2020-03-23 14:40] kostja commented on #5251
In scenario 2, steps 4 and 5 are not realistic: if a commit time-outs, write will on replica side will also time out after Botond and Pavel's patches for timeouting writes to paxos and base table. Even if it was realistic, step 6 (streaming) is expected to repair the key with repair-based streaming.

[2020-03-23 14:41] kostja commented on #5251
Closing, please reopen if necessary.
Re QA: conditions described in scenario 2 are impossible to meet, and with scenario 1,  the issue should be fixed with nemesis-based correctness test, the test scenario is in the test plan for LWT.

[2020-03-23 15:35] tgrabiec commented on #6035
On Sun, Mar 22, 2020 at 10:15 PM Shlomi Livne <notifications@github.com>
wrote:

SStable format is stored in system.local in the "sstable_format" column.
Saved when MC feature is enabled, before UNBOUNDED_RANGE_TOMBSTONES is
marked as supported. Read on boot via read_sstables_format() before
commitlog replay starts.

[2020-03-23 15:36] kostja commented on #5252
This is a duplicate of #5154. Streaming must not start before the joining node has confirmed that all affected nodes has received its tokens.

[2020-03-23 15:47] tgrabiec commented on #5252
@kostja Are you saying that #5154 is supposed to fix this issue? In its current form, this issue is out of the scope of that pull request. For example, it doesn't address the problem of waiting for pending requests which are still using the old topology. The main goal of #5154 is to allow fast bootstrap in the happy path without changing current safety guarantees much.

[2020-03-23 16:16] denesb commented on #5901
@espindola @bhalevy we already have such a `make()` function: `make_file_output_stream()` and `make_file_data_sink()` and they fail us just the same.

I sent an RFC to move closing the file on failure on the `make_file_data_sink` level.

[2020-03-23 16:18] denesb commented on #5901
See the RFC here: https://groups.google.com/d/msg/seastar-dev/0hBiwNzr6mE/AdVhTYjXBgAJ

[2020-03-23 16:31] tgrabiec commented on #5251
Regarding scenario 2, I'm not convinced that it's entirely impossible. Streaming will start as soon as the coordinator-side CAS times out because streaming will wait for active ops using old topology. There could be situations (below) in which replica-side writes will still make it into the memtable regardless. Those writes will race with streaming and if they loose we will end up with inconsisten

[2020-03-23 16:32] denesb commented on #3673
@tgrabiec how is having the separate L and T streams help in the face of a lot of tombstones. The reader would still have to process all those tombstones in T, no?

[2020-03-23 16:34] #3295 closed

[2020-03-23 16:34] #6022 closed

[2020-03-23 16:38] bhalevy commented on #6035
@tgrabiec  we do that after the feature service and the gossiper are started, so isn't it possible that `feature_enabled_listener::on_enabled` is called for `_la_feature_listener`?

[2020-03-23 16:40] haaawk commented on #6035
I implemented this some time ago.

[2020-03-23 16:50] tgrabiec commented on #3673
@denesb We create results page out of L, so the amount of processing is O(L * log(T)) instead of O(L+T). Consider a large sstable with a single row. `select *` has to read the whole sstable to fill the page. If you start with L which has a single row, you only need to verify if there is a range tombstone covering it by fast-forwarding inside T. There is a break-even point when it becomes profitabl

[2020-03-23 16:54] gauthamt commented on #6029
As mentioned before, we are now able to reproduce the scylla node going unreachable (and spinning on a CPU) when we _do_not_ set BYPASS CACHE in a full table scan. When we send a SIGQUIT and looked a the core dump, one of the threads shows below in what looks like a tight loop in cache relevant code. Does this help?

[code]

[2020-03-23 16:59] denesb commented on #3673
This requires L and T to be stored separately inside the sstable too, no?

[2020-03-23 17:02] tgrabiec commented on #3673
Yes

[2020-03-23 17:05] tgrabiec commented on #6035
There is a monotonicity check in `feature_enabled_listener::on_enabled()` which ensures that we don't revert to an older format:

[code]

[2020-03-23 17:11] bhalevy commented on #6035
Yes, I'm not claiming otherwise.  But could there be a window of time until `read_sstables_format` sets `storage_service._sstables_format` to mc, that it could be set to la/ka?

[2020-03-23 17:20] tgrabiec commented on #6035
The commitlog replay starts after read_sstables_format() finishes (the two are ordered by a single thread in main.cc), so commitlog replay should use the mc format if that was set in system tables.

[2020-03-23 17:25] avikivity commented on #6035
Something's not working. @slivne noticed the truncation record table is in ka (and I see the same myself). This is also after read_sstables_format().

[2020-03-23 17:25] avikivity commented on #6035
Fresh boot:

[code]

[2020-03-23 17:27] gleb-cloudius commented on #5251
On Mon, Mar 23, 2020 at 09:32:02AM -0700, Tomasz Grabiec wrote:

This is horrible bug if this happens. Commitlog and memtable application
should be atomic. Since memtable write is simple copy operation it
should be done before commitlog write and final pointers are updated
after. There should not be timeout check after commitlog write.

There is no reliance on synchronized clock between a coordina

[2020-03-23 17:28] avikivity commented on #6035
That's not an important data point though, it happens before the node has a chance to gossip and upgrade itself to mc.

[2020-03-23 18:26] tgrabiec commented on #5251
Why is it problematic that they're not atomic?

Even if we make this atomic, I don't think it fixes the timing issue raised here. After we land the write in the commit log buffer, we can no longer time it out. But we can publish the write in the memtable only when commit log buffer finishes writing to disk. So there is still a period of time during which streaming may not see the write which we wi

[2020-03-23 19:28] raphaelsc commented on #5226
Resharding analysis for off-strategy compaction
@avikivity @glommer

Right now, resharding may produce N * smp::count sstables, where N is the number of input shared sstables. That's because resharding may decide to put each shared sstable into a separate resharding job, resulting in each input sstable being resharded individually.

To produce only 1 sstable for each shard, as envisioned by off-st

[2020-03-23 20:18] kostja commented on #5252
1) I checked the latest patch for #5154 and indeed, it simply times out in case of "unhappy" path. I believe there should be no "unhappy" path at all, wait_for_gossip_to_settle() should not return until at least the *token metadata* hashes match. If they don't match for an extended period (300 seconds?) the operation can abort. As long as we add one or two nodes at a time I can't imagine a conditi

[2020-03-23 20:26] kostja commented on #5251
@tgrabiec there may be issues in subsystems you identify, but it looks like these are different issues, which extend the scenarios 1 and 2. I suggest we describe these scenarios on the mailing list, agree they are not impossible, and open new issues for them. The original scenarios are indeed fixed by stream-based repair, does it make sense?

[2020-03-23 20:45] slivne commented on #6059
The issue may also be with hintted handoff need to extract metrics

[2020-03-23 20:52] slivne commented on #6058
There are cases in which we need access to the MV backing and Index, as an exmaple changing compaction strategy.

If we do not display the MV then users will not be able to access them.

There is another option and that is to add the IF NOT EXIST to those view listing, in this manner the views can still be visible and the replay of the schema can still be done.

Its not great since the properties

[2020-03-23 20:54] slivne commented on #6054
using STCS for this king of workload seems wrong users should be using TWCS for this kind of workload.

Does this issue also exist in TWCS.

[2020-03-23 20:58] slivne commented on #6053
Glauber sent a patch related to this that was not merged AFAIK a while "[PATCH 0/2] Make sure nodetool refresh don't wait on compactions and flushes"

Please note we are working on Off-Strategy Compaction (https://github.com/scylladb/scylla/issues/5226) that will also probably change the manner that nodetool refresh is done

[2020-03-23 21:06] dorlaor commented on #5202
It's needs an update since there is no 3.4 and we go directly to 4.0

[2020-03-23 21:19] raphaelsc commented on #6054
@slivne the leakage happens outside any strategy-specific implementation of backlog tracker, which means TWCS is also affected.

[2020-03-23 21:27] raphaelsc commented on #6054
The side effect of this bug is that compaction will potentially steal resources from other system components even when the *actual* compaction backlog is very low, leading to an unstable state.

[2020-03-23 21:37] slivne commented on #6045
@fgelcer how many rows do you have can you please provide the CQL trace for this exuection.

If you are using paging and have multiple pages then this is expected.

You can try and correlate this with the amount of cql_reads.

[2020-03-23 21:39] slivne commented on #6042
@kostja please have this shared here as well ... you can make the doc accessible to everyone as well - till its converted into an md file.

[2020-03-23 21:40] slivne commented on #6040
@eliransin please update on progress here - so it will be clear what you have done so far and where we stand

[2020-03-23 21:41] slivne commented on #6035
I still don't understand what could have caused "Open-ended range tombstones are not allowed in KA/LA" (if alternator does not use range tombstones at all)  - anyone ?

[2020-03-23 21:48] slivne commented on #6029
@gauthamt can you upload the coredump ? maybe this will help

[2020-03-23 21:49] slivne commented on #6020
@SaubereSache to try and reproduce this can you please try and provide the info requested here https://github.com/scylladb/scylla/issues/6020#issuecomment-600313774

[2020-03-23 21:49] vladzcloudius commented on #6053
@slivne Glauber mentioned this, yes.
Thanks for referencing.

Noted.
However this doesn't seems to be related because this issue is relevant to Off-Strategy compaction in exactly same way as to regular compactions: `refresh` should not block on any compactions running - at least not till compaction(s) end.

In this sense Off-Strategy compactions are not any different from compactions that we have

[2020-03-23 21:51] slivne commented on #6014
@gleb-cloudius since you are familiar with the code whats the easy way to fix this in 3.2 - is there a simple backport ?

[2020-03-23 21:53] slivne commented on #6004
@fruch please move and test with 3.3.0 just released.

Close this issue if it's solved.

We have another issue open for tracing on 3.2 being incorrect.

[2020-03-23 22:03] slivne commented on #5968
what would help is to get an `ls -l` of the files and also `nodetool cfstats`

You can try and force more compaction by changing the min_threshold for both STCS and TWCS to be `'min_threshold': '2'` instead of the default 4.

how many vcpus do you have on those machines ?

[2020-03-23 22:05] slivne commented on #5968
you can also use `lsof` to list all the files (we may find that some files are held deleted and then look at why is that).

[2020-03-23 22:08] slivne commented on #5922
@gibsn since we know the issue is related to tracing #6014 - can we close this issue ?

[2020-03-23 22:14] fggarcia commented on #5622
Hi @penberg

can i close this issue? There was an issue with openjdk version installed in instances.

[2020-03-23 22:16] slivne commented on #5738
@elcallio so its clear

a user can truncate the cdc tables as well if he wishes to ... that is,

he will:
1. stop writes
2. truncate the table
3. truncate the cdc log table

will that work - am I missing something, we should provide a complete procedure (preferably with an option to truncate the cdc log instead of reading all that was accumulated)

[2020-03-23 23:33] vladzcloudius opened #6069 "Hints need to get the same backpressure from MV as regular WRITEs"
*Installation details*
HEAD: 0cb71827684480cd9b5466633cb4165d6012cd03

*Description*
Regular hints need to receive the backpressure from MV flow control as regular writes.

Otherwise hints to the base table may overwhelm it in the same way regular writes can.

[2020-03-23 23:34] vladzcloudius commented on #6069
@nyh @slivne @eyalgutkind
FYI

[2020-03-23 23:58] nyh commented on #6069
@vladzcloudius is this issue specific to MV? When one node write its backlog of hints to another node, what _concurrency_ does it use to do that? If it doesn't use a low concurrency, or fails to wait for previously sent hints before starting new ones, it can break also our regular flow control, not just for materialized views.

@vladzcloudius I think you are the hints expert. If node A has 1 milli

[2020-03-24 02:06] #6002 closed

[2020-03-24 02:28] vladzcloudius commented on #6069
@nyh
There is fixed maximum concurrency for hints.
The code in question may be found here: https://github.com/scylladb/scylla/blob/master/db/hints/manager.cc#L685

As you may see each hint consumes from the per-shard budget which is going to ensure on each sending shard that:
 * There are not more than 128 outstanding hints at any given time.
 * There are not more than 10% of the shards total memo

[2020-03-24 04:10] raphaelsc commented on #5968
You have 3 STCS tables and 5 TWCS tables (excluding the archive ones which you said are unused).

STCS tables should have little impact on # of files opened. Those are supposed to contain a small amount of sstables.

Each of those TWCS should have 72 windows (due to 3 day TTL and window config of 1H). So we're hoping for (72 * 5 * # of cpus * 2 (Data + Index components)) files for TWCS tables. Eve

[2020-03-24 06:19] gleb-cloudius commented on #6014
I do not understand what is the difference between this an any other
issue that is already fixed in master. The easiest way is to do a
backport of the fix like we always do. If maintainers have issues they
can always ask for help.

--
			Gleb.

[2020-03-24 07:15] xemul commented on #5840
I've just create a cluster with 4 nodes, scylla built from e3e30190 (release: prepare for 3.2.1).
Then one-by-one replaced the nodes with newer build from 43097854 (the suspicious one).
No errors.

[2020-03-24 07:52] gleb-cloudius commented on #5251
Lets recall that the problem only happens if a write is stuck on a replica
side for more than the ring delay, otherwise a coordinator would have
seen pending node and increase the RF. With that in mind...

On Mon, Mar 23, 2020 at 11:26:25AM -0700, Tomasz Grabiec wrote:

You described the problem by yourself, If it is not atomic a failed write
may re-appear which makes it much harder to reason abou

[2020-03-24 07:55] gleb-cloudius commented on #5252
@kostja the problem and the proposed fix is not CAS specific. @vladzcloudius started to implemented it once, but he probably has other things on his plate right now.

[2020-03-24 09:06] roydahan commented on #5840
Did you have any load during the upgrade?

[2020-03-24 09:15] eliransin commented on #6040
Hi @Termite , I am documenting here the details I have so far and the information I have so you can correct me if I am wrong.
I use the following schema:
[code]
The generator also needed a little change so it formats the timestamp field so that Scylla
can understand parse it.
attached is the revised generator:
[generator.zip](https://github.com/scylladb/scylla/files/4374263/generator.zip)

I was d

[2020-03-24 09:19] elcallio commented on #5738
Truncate cdc log seems optional. The log is of write events, not current
contents. So depending on what he is using it for, it may still hold
value (for example transaction analysis). But in general, yes.

In most cases, truncate should only mean that any preimage data starts
to be rather empty.

Den 2020-03-23 kl. 23:16, skrev Shlomi Livne:

[2020-03-24 09:24] aleksbykov opened #6070 "CDC: wrong postimage row in cdc_log table for updated column with collection type"
*Installation details*
Scylla version (or git commit hash):
scylla-release: 0.20200324.ec36c7cb2f4
scylla-version: 666.development
scylla-BuildID[sha1]: 4e070c4e748edd9413aa15aa32eef026005445e7
Cluster size: 1

found during dtest for postimage mode.
when updated the column with collection type, the postimage row in cdc_log contains old and new values:
[code]

[2020-03-24 09:29] haaawk commented on #6070
Could you please have a look @elcallio ?

[2020-03-24 09:37] fruch commented on #6004
I can confirm `3.3.0-0.20200319.7ae2cdf46c7` doesn't have this issue

[2020-03-24 09:37] #6004 closed

[2020-03-24 09:38] elcallio commented on #6070
[code]

This is correct/expected. First you null the `value` column + null delta -> null postimage, then you set the column to `[1,2]` -> delta == postimage == `[1,2]`. Same thing for the second case (but with added preimage).

[2020-03-24 09:41] aleksbykov commented on #6070
Post image should show the current state base table after operation. in this case the result is not same. Postimage operation shows that the value column is [1,2,3,4] instead of [3,4].

[2020-03-24 09:47] elcallio commented on #6070
Ah, assign. Ok, yes, that seems off.

[2020-03-24 09:58] nyh opened #6071 "Alternator can't restart when there are old-style (ka) sstables"
A user reported the following errors (user-specific details redacted) while restarting Scylla with Alternator:
[code]

I don't know yet how to reproduce this issue - the presence of an "alternator" keyspace indicates that this is a relatively old sstable, because we now use per-table keyspaces and not a single "alternator" keyspace, and, moreover, I don't know why any "ka" tables were created in t

[2020-03-24 10:04] tzach opened #6072 "Add nodetool scrub command"
Scylla version (or git commit hash): 3.3

[2020-03-24 10:05] tzach commented on #6072
The command was disabled in https://github.com/scylladb/scylla-tools-java/commit/e36f2228
Now Scylla has REST API support, and we should enable it

[2020-03-24 10:05] tzach commented on #6072
https://github.com/scylladb/scylla/issues/5487
https://github.com/scylladb/scylla-docs/issues/2484

[2020-03-24 10:13] elcallio commented on #6070
The problem here is that splitting has separated the tombstone/clear of the column from the delta assignment, while we still provide the preimage.
Not sure how we can communicate that we have processed a tombstone short of adding transformer state.

[2020-03-24 10:44] aleksbykov opened #6073 "CDC: don't store preimage operation in cdc_log if preimage is not enabled"
*Installation details*
Scylla version (or git commit hash):
scylla-release: 0.20200324.ec36c7cb2f4
scylla-version: 666.development
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

if preimage is not enabled, appropriate row in cdc_log should not be stored.
For that moment, if postimage enabled and preimage disabled, we store in cdc_log preimage operation row

[code]

[2020-03-24 10:44] xemul commented on #5840
@roydahan , no, I was doing it while the sct stuff was downloading/configuring. Now I'm fighting with it.

[2020-03-24 11:13] nyh commented on #6071
@haaawk explained on the mailing list that:

@tgrabiec explained that the choice between KA and LA...

[2020-03-24 11:14] juliayakovlev opened #6074 "Failed to load schema version: <schema_mismatch_error> exception during mutation write"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200320.df8b3cd5dc1
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0386a4a8dc2086366 (eu-west-1)

Test: longevity-lwt-basic-3h

Test runs using c-s user profile and create table:
[code]

Also MVs are created:
[code]

During the load was run nemesis, that added a few columns with different compli

[2020-03-24 11:19] roydahan commented on #5840
@amoskong can you please help @xemul with an easy way to reproduce it and which will leave the cluster in this state?

[2020-03-24 11:24] haaawk commented on #6073
We shouldn't store preimage if it wasn't requested.

[2020-03-24 11:52] juliayakovlev opened #6075 "Oversized allocation during compaction"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200320.df8b3cd5dc1
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0386a4a8dc2086366 (eu-west-1)

Test: longevity-lwt-basic-3h

Test runs using c-s user profile and create table:
[code]

Also MVs are created:
[code]

10M rows were inserted:
[code]

During compaction got seastar_memory - oversize

[2020-03-24 12:53] gibsn commented on #5922
@slivne could you please elaborate on how #6014 would lead to huge timeouts? Am I right that after one read query (since we trace only read queries) is traced, all the write queries (which we have 10000 times more) on the same connection start being traced as well?

Also we are planning to update next week, so we will be able to confirm whether our exact problem is solved in 3.3

[2020-03-24 13:12] eliransin commented on #6014
@vladzcloudius  FYI :+1:  https://github.com/scylladb/scylla/issues/6014#event-3157262031

[2020-03-24 13:24] denesb commented on #3561
The compacting reader is available as of 342c967b6.

[2020-03-24 13:48] tgrabiec commented on #5251
On Tue, Mar 24, 2020 at 8:52 AM Gleb Natapov <notifications@github.com>
wrote:

The coordinator doesn't have to see the new topology immediately, that's
one of the reasons to have ring delay. A network partition could isolate
the coordinator node and it can reconnect arbitrarily short before ring
delay elapses. We can call this period "stream delay" (before it gets the
new topology and streaming s

[2020-03-24 13:51] tgrabiec commented on #5251
I agree that this issue was too general. It was grouped by the solution
rather than the problem. It makes sense to split.

On Mon, Mar 23, 2020 at 9:26 PM Konstantin Osipov <notifications@github.com>
wrote:

[2020-03-24 14:33] gleb-cloudius commented on #6059
io queue delays are huge:
![io](https://user-images.githubusercontent.com/6554938/77437280-22fe7680-6ded-11ea-87e3-61d812256b3b.png)

[2020-03-24 14:38] nyh commented on #6071
The antique KA format differed from the LA format in that instead of keyspaces being a directory, they were part of the sstable file name. A KA-format file name looks like: `keyspacename-tablename-ka-12-Data.db`. But this separator, "`-`", is unusable for Alternator because both keyspace name and table name may contain a dash, which is a legal character name in DynamoDB tables.

I think the proper

[2020-03-24 16:16] nyh commented on #6071
Sent a patch titled "sstable: default to LA format instead of KA format" to the mailing list.

Note that this patch will not "fix" sstables already written in the KA format and causing this problem. It will only prevent this problem from ever occurring again in the future. Because Alternator is not yet GA and we don't support upgrades yet, this is fine.

[2020-03-24 18:08] kostja commented on #5252
A discussion clarifying why wait_for_started_paxos_rounds() should wait on all nodes:

@kostja  4:57 PM
#5252 is about two things, ensuring that gossip never falls through to streaming
without acknowledging that new tokens are out thre, and that streaming never
starts before acknowledging that all transactions that started with old tokens
have finished (edited)
ok, so let's distill the issues besi

[2020-03-24 19:18] xemul commented on #5840
@ShlomiBalalis , @slivne , if the features-move set is the suspect, and while the set-up for custom build check is being prepared, can we re-run the test on some ready build that includes commit 9445608d, it includes a fix for uninitialized feature-related bits.

[2020-03-24 21:29] slivne commented on #6035
@eliransin please assign someone to figure out why we have range tombstones in alternator  (it may be related to collection operations - yet even then I would expect a tombstone not a range tombstone, and certainly not an open ended range tombstone).

[2020-03-24 21:35] slivne commented on #6005
@fruch can you provide a simple reproducer outside of python matrix using CCM so @kbr- can look at whats going on and fix it if needed.

[2020-03-24 21:43] slivne commented on #5792
@alecco is this merged ?

[2020-03-24 21:48] slivne commented on #3174
fixed by https://github.com/scylladb/scylla/commit/127e258adeb044873d20606b82fc1f1d7e62d34b

[2020-03-24 21:48] #3174 closed

[2020-03-24 22:01] slivne commented on #4127
The read path for scans has changed a lot since this issue was created.

We cache the readers (and have fixed multiple issues around this).

I am closing this issue - if there is another issue like this - please open a new issue and provide the relevant information

[2020-03-24 22:01] #4127 closed

[2020-03-24 22:02] roydahan commented on #5840
I started another run with latest scylla which supposed to have this commit.
https://jenkins.scylladb.com/view/master/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-centos7/55/console

[2020-03-24 22:09] slivne commented on #5968
we also had an issue with bad drivers causing connection leak and that eating up all the file handles

https://github.com/scylladb/scylla/issues/4220

[2020-03-24 22:10] slivne commented on #4374
closing this issue no update

[2020-03-24 22:10] #4374 closed

[2020-03-24 22:12] slivne commented on #4319
closing this issue - no update, Scylla includes large partition / large row / large cell detectors so simillar issues if they exist will be easier to analyze

[2020-03-24 22:12] #4319 closed

[2020-03-24 22:21] #4416 closed

[2020-03-24 22:23] slivne commented on #4421
this is work in progress (still trying to get scylla-tools-java to compile with java 11) - should be fixed by 4.1

[2020-03-24 22:26] #4456 closed

[2020-03-24 22:30] slivne commented on #4303
passed in the last 100 runs on master closing

[2020-03-24 22:30] #4303 closed

[2020-03-24 22:32] slivne commented on #4469
@amnonh please have a look its in the rest api metrics

[2020-03-24 22:34] slivne commented on #4487
will be part of 4.0

[2020-03-24 22:34] slivne commented on #4476
since it fixed on master closing

[2020-03-24 22:34] #4476 closed

[2020-03-24 22:38] slivne commented on #4488
@asias does repair based operations behave any differently - that is, in a cluster that has a bootstrapping node starting and has another node in the cluster failing - will the bootstrapping node fail itself in a correct manner, can you test this out ?

do you know if we have a dtest with this scenario - if not create an issue and we will have someone code this scenario.

[2020-03-24 22:38] slivne commented on #4491
@roydahan any update ?

[2020-03-24 22:41] slivne commented on #4550
@avikivity / @tzach ping

[2020-03-24 22:43] slivne commented on #4588
@glommer ping

[2020-03-24 22:46] slivne commented on #4621
closing this issue we have nightly docker builds https://hub.docker.com/r/scylladb/scylla-nightly/tags

[2020-03-24 22:46] #4621 closed

[2020-03-24 22:49] slivne commented on #4705
@roydahan ping

[2020-03-24 22:50] slivne commented on #4712
@piodul what is the expected status now after you patch to move the hints to the correct verb ?

[2020-03-24 22:53] slivne commented on #4735
I am closing this issue since repair was updated with regards to resource management if this happens in versions > 4.0 please open a new issue

[2020-03-24 22:53] #4735 closed

[2020-03-24 22:55] slivne commented on #4739
should be part of 4.1

[2020-03-24 22:58] glommer commented on #4588
not even close

On Tue., Mar. 24, 2020, 6:43 p.m. Shlomi Livne, <notifications@github.com>
wrote:

[2020-03-24 23:00] slivne commented on #4769
we have cartesian limits enforced now in scylla 080989d29624aeced6fab113ebdcbfa6e85be57b so this is not supposed to be allowed anymore - closing this issue - if this happens again please create a new issue.

[2020-03-24 23:00] #4769 closed

[2020-03-24 23:02] slivne commented on #4791
@asias ping since we have moved to used repair for base operations we need this cleared out

[2020-03-24 23:04] slivne commented on #4810
@bhalevy / @asias / @gleb-cloudius - is this resolved

[2020-03-24 23:07] slivne commented on #4815
we moved 4.0 to use repair based operations, @fruch / @roydahan please update on how it looks with repair based operations.

[2020-03-24 23:08] slivne commented on #4843
We have fixed bugs related to hintted handof and counters - I am closing this issue - if there is another case, please create a new issue

[2020-03-24 23:08] #4843 closed

[2020-03-24 23:10] slivne commented on #4853
still happens https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/414/testReport/materialized_views_test/TestMaterializedViews/test_expired_liveness_with_limit_rf3/

[2020-03-24 23:15] slivne commented on #4927
@xemul / @bhalevy did you handle this as part of the shutdown / startup rehawl ?

[2020-03-24 23:18] slivne commented on #4959
closing no update on 3.3

[2020-03-24 23:18] #4959 closed

[2020-03-24 23:20] slivne commented on #4981
@piodul whats the current status - after moving hints to its own verb and making it on the correct scheduling group is this any better ?

[2020-03-24 23:21] slivne commented on #4989
So is this supported in 4.0 ?

[2020-03-25 01:27] asias commented on #4815
We still process one table at a time with repair based operations. I do not expect it will be faster.

[2020-03-25 01:46] asias commented on #4488
Repair based should behave the same in terms of the increased RF to the bootstrap node.

We can add a test like:

Add n1,n2
Create ks with RF =2
Insert data with CL = 2
Bootstrap n3
Kill n3  before n3  finishes bootstrap
Check n1 and n2 will notice n3 is gone
Check writes with CL = 2 will recover

Notes:
Write enough data so that we have enough time to kill n3 before it finishes
Some of the writes

[2020-03-25 01:48] asias commented on #4810
Please return the test. It is supposed to be fixed by the rpc deregistration bug which we fixed already.

[2020-03-25 02:19] asias commented on #4791
Schema sync should be done before we use repair to sync the data during bootstrap. To be safe, I think we can make migration_manager::sync_schema return exceptional future if not all nodes has responded the schema pull request.

[2020-03-25 03:05] asias commented on #6063
I think it is the test is not reliable.

What the test does:

[code]

The rf is dc1:2 dc2:2 dc3:2. So each row in keyspace ks will be stored on all the 6 nodes.

node1 will repair 256 ranges out of 256*6 ranges. In theory, node1 will get only 1/6 of the data from node2 which is inserted to node2 only.
However, the key is between 2000, 3000. There is no guarantee that the data will be distributed t

[2020-03-25 03:07] asias commented on #4791
PR sent https://github.com/scylladb/scylla/pull/6079

[2020-03-25 04:11] xemul commented on #4927
No, AFAICS this is different

[2020-03-25 08:02] fruch commented on #6005
@slivne @kbr-

@aleksbykov supplied a example dtest in the bug description.

In CCM, when using `cluster.populate(3)` nodes go one by one. but when calling `cluster.stop(); cluster.start()` all nodes starts at the same time, and they are all seeds, hence we run into this problem.

[2020-03-25 08:23] haaawk commented on #4989
This is done. Will open new issue for improvements.

[2020-03-25 08:23] #4989 closed

[2020-03-25 08:24] haaawk opened #6080 "Use transactions for CDC topology change support"
Currently, support is based on gossip and timing. We can make it more solid by employing a transaction.

[2020-03-25 08:32] eliransin commented on #6040
Also "SELECT *" on the table retrieves all records.

[2020-03-25 09:06] Termite commented on #6040
Thanks for the tests.
I don't know if cluster size plays a role, we have 8 nodes.

And, since we imported quite a few times, we know that with few data the error
doesn't show up. So you need to import at least 5*10^9 rows to see it.

Also, I don't know the period of the random number generator of the importer.
So with that amount of data, hopefully there are no duplicates if you run it
in parallel

[2020-03-25 10:19] tzach commented on #6067
Example: using https://letsencrypt.org/ to generate the Certificates that expire every 60 days

[2020-03-25 11:16] kbr- commented on #6005
@fruch

First: this is not what happens in the script provided by Aleks, nor in the test log.
The script configures all nodes to use all nodes as seeds, and then tries to **join** them (start them for the first  time) using this configuration:
[code]

[code]

The test log provided by Aleks confirms that the **first** start failed. Even better, the test doesn't even have a `cluster.stop()` call.

S

[2020-03-25 11:29] fruch commented on #5802
this issue still happening
https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-alternator-3h-test/26

@nyh, you basically say that if **one** node isn't available on this port, user start getting error ?

We are getting those errors, from all the loaders, when communicating to different nodes:
[code]

Again we are blocking only one node port, I find it very weird

[2020-03-25 11:56] aleksbykov commented on #6050
Got similar error for cassandra driver for frozen collection:
[code]

[2020-03-25 12:12] jul-stas commented on #6013
I'm still unsure if it plays well with existing code...

- Imagine a table with 2 counter columns.
- Now update affects only 1 column. One counter-shard-mutation arrives in `augment_...`, then it's converted to 1 map and goes to CDC "delta" log - **all good**.
- But we want pre-/postimage to display all columns (2 counters). It's a bit clumsy because:

a. `preimage_select` receives `pirow` with su

[2020-03-25 12:34] nyh commented on #6071
Already backported the important part of the fix (the change of default) to 4.0. No need to backport to earlier versions, as Alternator was experimental.

[2020-03-25 13:21] elcallio commented on #6050
This works fine for me, albeit running on a branch containing my latest changes (pr #6077 and #6078).
I would suggest revisiting with latest master, possibly once those pr:s are merged.
Note that I remember an error like this from before, so I think you are running a branch before previous collections fixes were merged.
I'll add a small unit test verification though.

[2020-03-25 13:52] bhalevy commented on #5942
@asias The test still fails in the same way.
See https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/438/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/simple_add_new_node_while_schema_changes_test_2/

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/438/artifact/logs-release.2/1585112533469_update_cluster_layout_tests.TestUpdate

[2020-03-25 14:27] nyh commented on #5802
@fruch you are suggesting that this only happens with LWT - did you check it with the LWT option disabled? If not, can you, please?
If this is the case, we should re-tag this an LWT issue and get the LWT guys involved for their advice on this. I don't know what LWT does with LOCAL_ONE...

One thing worth noting is that in the DynamoDB HTTP-based API, there is no request pipelining: If one request

[2020-03-25 16:11] piodul commented on #4712
I dug into logs and metrics from the last SCT run, and have more information now. For context, here are graphs with metrics I felt were relevant.

![zoomed-in](https://user-images.githubusercontent.com/4950936/77546934-d4181600-6eac-11ea-86a0-61bb4461787b.png)

Zoomed out:

![zoomed-out](https://user-images.githubusercontent.com/4950936/77546957-d9756080-6eac-11ea-9303-de33951b8305.png)

There wer

[2020-03-25 16:12] gauthamt commented on #6029
@slivne we can't upload the coredump as it has some sensitive data. We can run a gdb and send more info if you need.

[code]

[2020-03-25 17:35] fruch commented on #5802
the workload here is read only with data integrity checks.

I can try it once with disabling the LWT, and see the behavior. will do.

[2020-03-25 18:00] nyh commented on #5802
@fruch if this is really a read-only workload then it doesn't use LWT, and LWT has nothing to do with it.
If you see errors with CL=ONE reads, it means you are doing weak-consistency reads.
So my comment about connections hanging can (I think) easily explain the problem:
When **any** of the coordinators gets a CL=ONE read, there is some chance (e.g., 1/3rd) that the coordinator will choose to forw

[2020-03-25 18:04] piodul commented on #4712
@slivne I ran the test suggested by Bentsi with Scylla version that had the fix, and a performance drop still occured. Now, the criteria seem to be more specific - the drop happened only during repair of a keyspace that contained materialized views, otherwise the performance was reasonable. I pinged Piotr S and Asias, and will investigate/discuss further.

[2020-03-25 18:09] piodul commented on #4981
@slivne I think it have helped. While I did encounter a performance drop when running a (different) longevity test with fixed Scylla (more details in #4712), it happened only during repair of a keyspace that had materialized views in it. During repair of other keyspaces, the performance was reasonable. This longevity test does not use MVs, so I would now expect performance to be better here.

[2020-03-25 18:40] ShlomiBalalis commented on #5840
Roy's run failed for the same issue:
[code]

Scylla (updated) version: `666.development-0.20200312.c020b4e5e20` with build-id `3831e521340491bc985227768a26f62117de60a5`
test-id: 59e3c798-46cb-4c04-9068-f4d0e48b3393

logs:
[code]

[2020-03-25 18:53] fruch commented on #5802
If we'll change it to strong consistent reads, problem solved, and no more user getting errors ? BTW this test runs with 6 nodes, to accommodate the Nemsis.

And the if we disable consistent reads, we expect those errors to go away in 10sec or so ?

Right now the test is halting, if there more then 5 errors in one minute. I can fine tune the tolerance for errors, in case we choose to disable consi

[2020-03-25 18:59] fruch commented on #5802
Also isn't the definition of ONE
ONE – Only a single replica must respond

In our case we only send it to one node ? Or it's like that only in the alternator implemention ?

[2020-03-25 19:32] bhalevy commented on #6063
@asias coming to think about, with this multi-dc RF why is repiar only for ~1/6 and not ~1/2, since there are only 2 nodes in each dc?

[2020-03-25 19:41] tgrabiec opened #6082 "Writes which failed at replica layer may reappear after restart leading to resurrection of deleted data"
Currently, writes are first applied to the commit log and then to the memtable. If the commit log part succeeds but the memtable part fails, then the write will not be visible in the system but may reappear on restart after commit log is replayed.

The memtable part may fail, for example, when the write times out while waiting for admission due to lack of room in the memtable space (blocked on sst

[2020-03-25 20:17] nyh commented on #5802
@fruch, you said "Right now the test is halting, if there more then 5 errors in one minute.". I think this is a mistake. It can't distinguish between a bunch of errors while one node suddenly was quarantined, and a permanent failure. Maybe 5 errors is also bad, but it makes it really difficult to understand what problem exactly we're seeing - if it's something transient during the transition, or p

[2020-03-25 20:38] vladzcloudius commented on #5252
@gleb-cloudius @kostja I was actually trying to rebase that series on the current master a few days ago but failed miserably due to tectonic changes in the OPTIONS related code.

I have a version that have addressed all comments - I just need to rebase, test and send it out.

The relevant thread is "gossip: gracefully shut the node down"

[2020-03-25 21:59] alecco commented on #5792
@slevine no, I need to resend a patch

[2020-03-26 02:51] asias commented on #6063
The rf is dc1:2 dc2:2 dc3:2, for any key, the key will be stored on all the 6 nodes. The repair starts with the -pr option, which asks the node to repair only the primary ranges. A primary range is a range that a node is the first one in the list of nodes that  calculate_natural_endpoints returns. n1 owns 1/6  of all the ranges as primary range.

[2020-03-26 05:15] aleksbykov opened #6084 "CDC: wrong value for set in cdc_log table after second insert"
*Installation details*
scylla-release: 0.20200325.78f5afec30
scylla-version: 4.0.rc0
scylla-BuildID[sha1]: 6a210b1adac28793113c61e037cdd06040f0d217
Scylla version (or git commit hash):
Cluster size: 1

table configured with value column as set<text> and cdc postimage enabled. After inserting twice same row, postimage row contains empty value:
[code]

[2020-03-26 06:50] yuqin11 commented on #6017
anyone can have a look at this  problem?

[2020-03-26 06:53] yuqin11 opened #6085 "scylla in Docker WARNING: unable to mbind shard memory; performance may suffer:"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

/usr/bin/scylla --log-to-syslog 0 --log-to-stdout 1 --default-log-level info --network-stack po

[2020-03-26 07:17] psarna commented on #4712
@piodul do you also have a way of determining what was the number of sstables?

Materialized views causing trouble during repair sound like an issue with staging sstables - i.e. sstables received from another node, which are temporarily not subject to compaction, because we wait until we generate view updates from them. We don't generate view updates from all incoming sstables, but in case of repa

[2020-03-26 07:31] fruch commented on #6005
Again, I was just using the code in python-driver integration tests. and assuming the configuration worked for Cassandra  should work for scylla, I've enabled experimental flag months cause of other option enabled by default in those tests, and it was working until CDC was introduced.

here is the exact sequence that the test were doing:
[code]

seem like the call to `set_configuration_options()`

[2020-03-26 07:43] r4fek opened #6086 "Segmentation fault in multiple nodes at the same time(hinted handoff related)"
*Installation details*
Scylla version (or git commit hash): latest 3.2.3
Cluster size: 29
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian Stretch

I upgraded yesterday from 3.1 to 3.2.3 and reenabled hinted handoff. Unfortunately my nodes started to restart after some time. In logs I could see this:

[code]

Decoded backtrace:

[code]

I reported similar issue in the past (https://github.com/scylladb/scyl

[2020-03-26 08:10] haaawk commented on #6086
Bactrace points to somewhere in [manager::end_point_hints_manager::sender::send_one_file](https://github.com/scylladb/scylla/blob/scylla-3.2.3/db/hints/manager.cc#L736)

This is the most recent change in this method:
[code]

@espindola could you have a look please?

[2020-03-26 08:21] haaawk commented on #6086
@espindola has removed `s->done().get();` and now it seems we don't wait for commitlog::read_log_file. Here's the full change -> https://github.com/scylladb/scylla/commit/e4b8f52237dee8aa776f3cfb0c1b3f8d7912d306

The change makes commitlog::read_log_file return future<> instead of std::unique_ptr<subscription<buffer_and_replay_position>> but it's still a future and we probably should still wait fo

[2020-03-26 08:32] haaawk commented on #6086
ok it seems that this change is not even in 3.2.3 after all. Sorry @espindola

[2020-03-26 08:33] psarna commented on #6086
@r4fek do you have a core file to upload and share? It looks like OOM, so it would be helpful to investigate the coredump and see what was the internal memory usage in Scylla.

[2020-03-26 08:34] haaawk commented on #6086
The core wasn't created.

[2020-03-26 08:35] r4fek commented on #6086
I don't see any indication of OOM in logs (dmesg).

[2020-03-26 08:53] psarna commented on #6086
@r4fek I mean internal Scylla out-of-memory - since I see that both issues mention `std::bad_alloc` happening multiple times before the failure. It seems that there may be a problem with hinted handoff when memory is scarce, but I don't have a clear idea what's wrong yet.

[2020-03-26 09:23] slivne commented on #4712
@piodul / @psarna  the reason you are seeing repair now is that we moved to repair based operations (that is we will do repairs in some operations instead of streaming)

There is an issue related to repair based operations and materialized views that Asias has a fix
https://github.com/scylladb/scylla/pull/6000

So don;t focus on the matrialized views / secondary indexes - we know why this is "wors

[2020-03-26 10:09] haaawk commented on #6084
[code]

This is confusing. Why a single insert is represented as 2 operations? There are two distinct cdc$time 36976f1a-6f20-11ea-c953-f6fb8f2d34a5 and 36976f24-6f20-11ea-94ca-5ce3c02b9709. I guess that this could be because setting a collection is first removing it and then updating but why can't this be a single operation (same cdc$time) and just different rows (different batch_seq_no)?

[code]

[2020-03-26 11:00] #6071 closed

[2020-03-26 11:20] gleb-cloudius commented on #5251
On Tue, Mar 24, 2020 at 06:48:26AM -0700, Tomasz Grabiec wrote:

A rose by any other name...

It does not matter how do we call the delay if it is long enough. A
node may also delay streaming if it gets streaming request too close to
learning new topology.

Not completely, since it only makes sure that request completes on
storage proxy level, but it definitely shortens the time we have to
wait.

[2020-03-26 12:07] gleb-cloudius opened #6087 "Rename "in_progress_ballot" in systen.paxos table to "promise""
*Installation details*
Scylla version (or git commit hash): 7ed083a6a79fc33c832d30e6318b72a814fe3699

The value that is stored in "in_progress_ballot" cell is the value of
promised ballot, so call the cell accordingly to avoid confusion
especially as we have a notion of "in progress" proposal in the code
which is not the same as in_progress_ballot here.

[2020-03-26 12:16] alecco commented on #5792
@slivne sent patch, waiting for queue/merge

[2020-03-26 12:18] roydahan commented on #5840
Apparently, my run did not include the requested commit.
For some reason when using scylla/latest I got a repo from 20200312.

I started another run with a specific repo that should contains the. above mentioned commit:
http://downloads.scylladb.com/rpm/unstable/centos/master/2020-03-25T21%3A01%3A21Z/

[2020-03-26 12:35] roydahan commented on #4705
@amoskong can you please try to reproduce the issue with dtest.
It's mostly UX issue for exploding the logs.

[2020-03-26 12:38] roydahan commented on #4491
Not yet.

[2020-03-26 13:11] bhalevy commented on #6063
Ah, I presumed that the primary range is per dc, not cluster global...

[2020-03-26 16:05] espindola commented on #6086
That change is on master, the issue is on 3.2.3, which as far as I can tell doesn't include that patch. Am I missing something?

[2020-03-26 16:08] haaawk commented on #6086
Yes. See my other comment -> https://github.com/scylladb/scylla/issues/6086#issuecomment-604297690

[2020-03-26 17:59] tgrabiec opened #6088 "Bootstrapping node gets incorrect topology after cluster restart with not all nodes up"
Scenario:

1. cluster nodes: n1, n2, n3
2. n1, n2, n3 go down
3. start n1, n2 (n3 still down)
4. add n4

n4 will only know about n1 and n2 and will proceed with bootstrapping as if n3 didn't exist in the ring:

[code]

n4 will use incorrect replica sets which can lead to data loss.

That's because topology on the bootstrapping node is derived from gossiped endpoint states. Endpoint states are not

[2020-03-26 18:34] bhalevy commented on #6086
Duplicate of https://github.com/scylladb/scylla/issues/4728?

[2020-03-26 21:24] vladzcloudius commented on #4488
@slivne @roydahan Keep in mind that AFAIU by "kill" @asias means "kill -9" kill.
The idea is not to let `n3` inform other nodes that it went down.

If we want to have a test that checks the graceful `n3` shutdown we may want to add some debug scylla parameter that would shorten `bootstrapping` retries or (maybe even better) disable them at all.

After that we may test the case as originally descri

[2020-03-26 21:34] vladzcloudius commented on #4712
@slivne @psarna The MV backlog @piodul is seeing with a very high probablitlity may be related to https://github.com/scylladb/scylla/issues/6069

[2020-03-26 21:44] slivne commented on #6087
I am not sure I am in favor of renaming a system table column that we inherited from C* - although the raw content is scylla specific, tools may expect the specific structure.

[2020-03-26 23:19] slivne commented on #5355
Hm...

- AFAIK if a node goes down / disappears scylla-bench and cassandra-stress handle it much better than the 19/32 seconds (respectively). At least SCT does this all the time and there is no bug on loosing all traffic
- Its a bit strange that on interface down the recovery time is much longer then on node going down

@bentsi are you using two different interfaces one for interconnect and one f

[2020-03-26 23:22] slivne commented on #5266
did you flush the memtables before running the major compaction ?

[2020-03-26 23:25] slivne commented on #5149
the https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/268/testReport/junit/sstable_generation_loading_test/TestSSTableGenerationAndLoading/history/ have been passing for more then the last 50 builds - closing this

[2020-03-26 23:25] #5149 closed

[2020-03-26 23:26] slivne commented on #5148
the https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/268/testReport/junit/resharding_test/history/ have been passing for the last 50 build closing this issue

[2020-03-26 23:26] #5148 closed

[2020-03-26 23:28] slivne commented on #5145
@bentsi when we run this on 4.0 , if there are still stalls - please create a new issue.

Closing this for now as we can't do anything wih the info provided

[2020-03-26 23:28] #5145 closed

[2020-03-26 23:37] slivne commented on #5033
the tests are failing all over for other reason https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/439/testReport/nodetool_additional_test/TestNodetool/concurrent_drain_test/ ... leaving this open till we fix that

it seems this is relate dto other changes done in dtest and ccm

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/353/

and the fac

[2020-03-26 23:43] slivne commented on #5014
We have improved memory management for reads - if this happens on 4.0 or later release please open a new issue

[2020-03-26 23:43] #5014 closed

[2020-03-26 23:46] slivne commented on #4947
this test has been passing for the last 50 runs

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/436/testReport/junit/concurrent_schema_changes_test/TestConcurrentSchemaChanges/changes_while_node_down_test/history

closing this issue

[2020-03-26 23:46] #4947 closed

[2020-03-26 23:52] slivne commented on #4810
thelast 50 runs of this test passed https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/436/testReport/junit/repair_additional_test/RepairAdditionalTest/repair_ttl_update_test/

closing this issue

[2020-03-26 23:52] #4810 closed

[2020-03-26 23:57] slivne commented on #5558
I am closing this issue (since we did not get an answer on the version)

As Asias confirmed we have a new state in gossip RPC_READY marking that CQL is open and all clients should be notified only after that.

All versions higher than 3.1 should have this fixed.

If this is not the case please reopen and specify the exact version tested and the scenario.

[2020-03-26 23:57] #5558 closed

[2020-03-26 23:58] slivne commented on #5529
closing this issue as Avi clarified (https://github.com/scylladb/scylla/issues/5529#issuecomment-571160585) SI will not be used in this case

[2020-03-26 23:58] #5529 closed

[2020-03-27 00:04] slivne commented on #5523
@asias is the patch `storage_service: Prevent a replaced node rejoins the cluster again` merged ?

[2020-03-27 00:57] asias commented on #5523
No. It is turns out the patch does not really  prevent the replaced node joining again. When the replaced node start again it will use a new gossip generation number. There is no way to tell if it is the old replaced node.

[2020-03-27 03:17] #6070 closed

[2020-03-27 03:17] #6073 closed

[2020-03-27 08:30] yuqin11 opened #6089 "Unable to set SCHED_FIFO scheduling"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 2.3.1
Cluster size:1
OS (RHEL/CentO

[2020-03-27 08:30] yuqin11 commented on #6089
does these warnings lead to bad performance?

[2020-03-27 09:23] haaawk commented on #6084
It seems that the problem is that we create multiple postimage's for a single operation. I think it would be better to have no more than one preimage and one postimage under a single cdc$time

[2020-03-27 09:46] haaawk commented on #6050
@aleksbykov could you retest on master. It should already be fixed.

[2020-03-27 09:47] aleksbykov commented on #6050
Yes

[2020-03-27 10:16] haaawk commented on #6084
After some more thinking, it seems that the problem is that we split insert into multiple rows. The fix probably would be to just have a single operation for insert.

[2020-03-27 10:56] tarzanek commented on #4487
fwiw 3.3 repos seem to have this implemented and scylla installs OK on RHEL 8
(I will try Centos 8 too and update here)

[2020-03-27 13:33] raphaelsc commented on #4504
Avi says: "LCS cannot split a partition. If it does, then a partition key can be found on more than one sstable in a level, violating the constraint (potentially on all sstables in a level)."

Raphael says: "Makes sense. It looks like we should then recommend that LCS should be
configured such that partition size will not disrespect max sstable size.
That disrespect implies in each level having le

[2020-03-27 14:23] piodul commented on #4712
I'm running the test again, but this time I removed cassandra-stress process that writes to MV tables. I'll update after the test completes.

[Jenkins link](https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/byo-longevity-test/57/)

[2020-03-27 16:03] raphaelsc opened #6091 "Table drop procedure doesn't await for streams in progress before truncating the table"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): c639a5ec6f
Cluster size:
OS (RHEL/C