[2020-08-05 07:48] avikivity commented on #6938
@raphaelsc if in sstable is being cleaned or otherwise used in a compaction, then lcs compactions involving it should be blocked.

[2020-08-05 07:50] bhalevy commented on #6983
@xemul since you're the last one to touch the row cache, please investigate :)

Cc @tgrabiec please also have a look and see if you have some insights from the available test logs.

[2020-08-05 08:14] avikivity commented on #6982
[This](https://wiki.gentoo.org/wiki/Binutils_2.32_upgrade_notes/elfutils_0.175:_unable_to_initialize_decompress_status_for_section_.debug_info) implies we just need newer binutils. Maybe it's enough to package a relocatable addr2line.

[2020-08-05 08:16] avikivity commented on #6982
As an alternative workaround, you can decode the backtrace on any recent Fedora.

[2020-08-05 08:34] avikivity commented on #6983
We're familiar with the problem, some background query touched the cache and its statistics.

[2020-08-05 08:38] avikivity commented on #6983
We might run the query 10 times and check that the stat change is >= smp::count * 10 with the cache, and <= 2*smp::count without it (tolerating two unrelated scans).

[2020-08-05 08:38] #5101 closed

[2020-08-05 08:40] slivne commented on #6983
We have metrics today to distinguish system vs user queries - we should
check if there was a system generated query and if so try again.

On Wed, Aug 5, 2020 at 11:38 AM Avi Kivity <notifications@github.com> wrote:

[2020-08-05 10:26] amoskong commented on #6973
I reproduced this issue, there are two issues:

1. scylla-image-setup service was **Unexpectedly** executed in creating the AMI.

The AMI should be generated on Aug 03, I created the instance on Aug 05.

[code]

2. We run basic scylla_setup in creating AMI, we didn't disable it like coredump, raid, etc.
- aws/ami/files/scylla_install_ami: `run('/opt/scylladb/scripts/scylla_setup --ntp-domain amazo

[2020-08-05 11:15] bhalevy opened #6984 "snapshot may try to link same sstable from different shards concurrently"
Seen while working on https://github.com/scylladb/scylla/issues/5714.
And actually there's even a comment in the already warning about this, added in 9083a0e5a7bc15528e483e32e984897dd0357381:
https://github.com/scylladb/scylla/blob/257c17a87aade379acbc8d0924b2718edb8c93de/table.cc#L1486-L1487

We need only one of the shards owning each ssatble to call create_links.
This will allow us to simplify i

[2020-08-05 11:17] bhalevy commented on #6984
Fixed by 122136c6177255cfe8fe344f66fbb07d4755d025

[2020-08-05 11:17] #6984 closed

[2020-08-05 11:19] avikivity commented on #6984
Why backport? It's not a real problem in practice, is it?

[2020-08-05 11:25] avikivity commented on #6940
Looks like we need to yield while clearing the list.

[2020-08-05 11:28] avikivity commented on #6923
That's a good idea. However, it's hard to coordinate across the cluster without transactions now, as each node has a different idea about the number of windows.

[2020-08-05 11:32] avikivity commented on #6376
This isn't fixed.

[2020-08-05 11:38] avikivity commented on #6376
This is due to (trigger warning: generate code):

[code]

[2020-08-05 11:45] avikivity commented on #6376
Low priority. It's just a warning, triggers on rare occasions, and in extreme scenarios (5000 tables).

I don't understand why 5000 tables triggered a warning on a 1MB allocation though. What's the schema of an individual table?

Moving to a git-like system where the overall schema refers to hashes of individual tables will improve this, since then we'll only need 5000 rows, not 5000*n rows.

/cc

[2020-08-05 12:28] amoskong commented on #6973
Just sent a PR to scylla-machine-image to fix this issue.
I built an AMI (ami-067205d8f03ec7b4b (us-east-1)), it works well.

----
But I can still see scylla-machine-image service was started in stopping the SOURCE instance.

#### New Instance log:

[code]

#### AMI log:
[code]

[2020-08-05 13:13] raphaelsc commented on #6956
The patch is ready, but I need the logs to just be 100% certain. @bishnuagrawal-zeotap please upload the logs when you have time.

[2020-08-05 13:17] dyasny commented on #6982
@avikivity the machine where we store all the unpacked binaries and run the decodes is a CentOS7, the decoding still works for older Scylla builds, but fails for the newer ones. Is it possible to simply pull in a newer bin-utils in there? Will the newer bi-utils work for decoding the older builds as well as the new?

[2020-08-05 13:18] dyasny commented on #6982
This is what we have installed:
[code]

[2020-08-05 13:49] avikivity commented on #6982
elfutils should work. I recommend migrating that machine to CentOS 8.

[2020-08-05 13:51] avikivity commented on #6309
@bhalevy this should not have happened in 4.2.

[2020-08-05 14:14] dyasny commented on #6982
I just tried a few addresses using eu-addr2line v0.176:

[code]

Is the version too old? There are no errors reported, but everything resolves to ??:0

[2020-08-05 14:16] dyasny commented on #6982
After a fresh update, I have binutils-2.27-43.base.el7_8.1.x86_64 and elfutils 0.176 (newer than the ones the gentoo article mentions)

[2020-08-05 14:17] avikivity commented on #6982
Maybe it's too old. You can try a new plain addr2line via docker (and mount /var/lib/binaries into the container).

[2020-08-05 14:25] bhalevy commented on #6983
Duplicate of #6773

[2020-08-05 14:25] #6983 closed

[2020-08-05 14:26] bhalevy commented on #6773
@xemul please continue under the original github issue

[2020-08-05 14:40] bhalevy commented on #6984
You're right, the existing code ignores errors resulting from the concurrent links.

[2020-08-05 15:11] amoskong commented on #6973
Created a new issue for scylla-machine-image:

- scylla-image-setup service is started when stopping the source instance
#49 (https://github.com/scylladb/scylla-machine-image/issues/49)

[2020-08-05 15:18] avikivity commented on #4119
A possible fix for TWCS is to split the windows on the clustering key, rather than the timestamp.

[code]

The idea is that Scylla evaluates the window_selector expression (a normal CQL expression depending on only the clustering key) to derive an integer. The value should be monotonic with the clusteirng key. Rows with the same value are placed in the same bucket. In the example, we create one wi

[2020-08-05 15:20] avikivity commented on #2851
I think this is fixed now, we'll reshape the data after streaming it.

[2020-08-05 15:21] avikivity commented on #3867
We haven't see it since, so it was likely fixed by the commits referenced above.

[2020-08-05 15:21] #3867 closed

[2020-08-05 15:23] avikivity commented on #3119
We have no aio related stalls for a long time. Closing.

[2020-08-05 15:23] #3119 closed

[2020-08-05 15:24] avikivity commented on #3029
CentOS 7.5 was released some years ago, closing.

[2020-08-05 15:24] #3029 closed

[2020-08-05 15:25] avikivity commented on #1971
Stale issue, closing.

[2020-08-05 15:25] #1971 closed

[2020-08-05 15:25] avikivity commented on #2310
Ubuntu 14 is EOL, closing.

[2020-08-05 15:25] #2310 closed

[2020-08-05 15:27] avikivity commented on #2313
This is by design - for users that don't want scylla to take over the machine.

To install scylla-kernel-conf automatically, use the superpackage.

Closing as invalid.

[2020-08-05 15:27] #2313 closed

[2020-08-05 15:29] dyasny commented on #6982
okay, I can confirm, with a fodera:latest container (after manually installing elfutils and binutils) the decoding works. It is VERY slow, but I suppose that's due to the slowness of bindmounting and the size of the debug binary

I still get `addr2line: '/opt/scylladb/libreloc/libc.so.6': No such file; addr2line: '/opt/scylladb/libreloc/libpthread.so.0': No such file` but I think these aren't impo

[2020-08-05 15:40] avikivity commented on #6453
@psarna you might examine the collection in the backtrace. If it's huge, you're probably right.

[2020-08-05 15:45] avikivity commented on #275
Stale, closing. Repair is supposed to be shutdown-safe.

[2020-08-05 15:45] #275 closed

[2020-08-05 15:49] avikivity commented on #477
Fixed by 122136c6177255cfe8fe344f66fbb07d4755d025. /cc @bhalevy

[2020-08-05 15:49] #477 closed

[2020-08-05 15:50] avikivity commented on #186
@xemul let's close this 3-digit bug

[2020-08-05 15:51] avikivity commented on #624
@amnonh please update

[2020-08-05 15:53] avikivity commented on #153
Streaming was rewritten twice since the issue was opened. Closing as stale.

[2020-08-05 15:53] #153 closed

[2020-08-05 15:55] avikivity commented on #821
Gone in a5bb6c4b1b65819fbc3531dcbf70c9e8f593616e, closing.

[2020-08-05 15:55] #821 closed

[2020-08-05 15:57] avikivity commented on #1423
It's now possible via SCYLLA-VERSION-GEN SCYLLA_BUILD field.

[2020-08-05 15:57] #1423 closed

[2020-08-05 15:58] avikivity commented on #1362
mc format shares timestamp/ttl within a row.

[2020-08-05 15:58] #1362 closed

[2020-08-05 16:04] avikivity commented on #2420
@tzach does this still happen?

[2020-08-05 16:07] avikivity commented on #2473
Working in 4.3 (likely earlier too).

[2020-08-05 16:07] #2473 closed

[2020-08-05 16:08] avikivity commented on #2448
Still unsupported.

[2020-08-05 16:09] avikivity commented on #2424
We no longer bundle a c-ares submodule. Closing.

[2020-08-05 16:09] #2424 closed

[2020-08-05 16:10] avikivity commented on #2543
We won't support ppas. So Ubuntu users will have to manually install dependencies or use dbuild.

[2020-08-05 16:10] #2543 closed

[2020-08-05 16:11] avikivity commented on #2513
Counters are now non-experimental. Closing.

[2020-08-05 16:11] #2513 closed

[2020-08-05 16:14] avikivity commented on #2522
Fixed by 472afea6cd3f856d7a47ece8138c149973db8962

[2020-08-05 16:14] #2522 closed

[2020-08-05 16:16] avikivity commented on #2749
Fixed by e6e43594142fc484da3e6397e2893ba181bee3cc.

[2020-08-05 16:16] #2749 closed

[2020-08-05 16:18] avikivity commented on #2980
@tzach does this still happen?

[2020-08-05 16:18] avikivity commented on #2913
:(

[2020-08-05 16:20] avikivity commented on #2320
No real users on Joyent, closing.

[2020-08-05 16:20] #2320 closed

[2020-08-05 16:20] avikivity commented on #2321
No real users on Joyent, closing.

[2020-08-05 16:20] #2321 closed

[2020-08-05 16:20] avikivity commented on #2324
No real users on Joyent, closing.

[2020-08-05 16:20] #2324 closed

[2020-08-05 16:21] avikivity commented on #2325
No real users on Joyent, closing.

[2020-08-05 16:21] #2325 closed

[2020-08-05 16:21] avikivity commented on #2319
No real users on Joyent, closing.

[2020-08-05 16:21] #2319 closed

[2020-08-05 16:21] avikivity commented on #2323
No real users on Joyent, closing.

[2020-08-05 16:21] #2323 closed

[2020-08-05 16:21] avikivity commented on #2322
No real users on Joyent, closing.

[2020-08-05 16:21] #2322 closed

[2020-08-05 16:21] avikivity commented on #2318
No real users on Joyent, closing.

[2020-08-05 16:21] #2318 closed

[2020-08-05 16:22] avikivity commented on #2227
No real users on Joyent, closing.

[2020-08-05 16:22] #2227 closed

[2020-08-05 16:23] avikivity commented on #2014
Stale, closing.

[2020-08-05 16:23] #2014 closed

[2020-08-05 16:24] avikivity commented on #2006
Fixed by 0c6bbc84cd30df1c46a6cd81d87170b99d5a8144

[2020-08-05 16:24] #2006 closed

[2020-08-05 16:24] avikivity commented on #2674
@syuu1228 I think this was fixed?

[2020-08-05 16:25] avikivity commented on #1907
New repair alogorithm in place, closing.

[2020-08-05 16:25] #1907 closed

[2020-08-05 16:26] avikivity commented on #2798
@asias any update?

[2020-08-05 16:28] avikivity commented on #1485
This is now supported (with degraded performance) from scylla-package.tar.gz.

[2020-08-05 16:28] #1485 closed

[2020-08-05 16:28] avikivity commented on #2194
Stale, closing.

[2020-08-05 16:28] #2194 closed

[2020-08-05 16:32] bishnuagrawal-zeotap commented on #6956
Hey @raphaelsc ,

- Thanks for finding out the possible bugs and spending time-solving this. I added a few more details of the issue in the description. I would be happy to test the new release with your patch fix.

- I need a day time to get you complete logs & other possible details for your analysis (Apologies for the delay)

[2020-08-05 16:40] psarna commented on #6453
Geez... so obvious, and yet I haven't thought of checking it. Here's a frame responsible for deserialization:
[code]
and looks like it has a 100MiB string. Also, one frame above:
[code]
shows a 1.6GiB reservation request for a chunked vector. So I guess it even more strongly suggests a huge collection?

[2020-08-05 17:36] raphaelsc opened #6987 "Fractional part of size values in compaction log is being incorrectly discarded"
compaction - [Compact keyspace1.standard1 2e221070-d73e-11ea-bcf1-000000000000] Compacted 8 sstables to [... ]. 1GB to 1GB (~86% of original) in 11426ms = 98MB/s. ~1211136 total partitions merged to 1046926.

Log is saying input size is 1GB and output is also 1G, while size was shrunk by 14%.

That's happening because the recently introduced pretty-printer for data size is limited by integer, so t

[2020-08-05 17:53] raphaelsc commented on #6938
@avikivity Actually, Iam not talking about the sstable being cleaned up itself, that's already handled, but I am talking about the token range spanned by the sstable being cleaned up.

For example, let's say a sstable being cleaned up spans the range [0, 10] in level 1.

Now let's say regular compaction promotes a sstable into level 1, before that sstable above is finished being cleaned up.

Level

[2020-08-05 17:55] raphaelsc commented on #6938
We don't perform reshape on bootstrap yet, but we eventually will. The only scenarios now at which reshape is triggered is on boot and refresh.

[2020-08-05 19:45] #6979 closed

[2020-08-05 20:55] tgrabiec commented on #6486
@alienth Can you paste the log with a trace-level enabled on the sstable logger for a query which passes?

One hypothesis I have is that the nodes which can handle the read have the data fully in cache, which is not as prone to out of order ranges.

[2020-08-06 01:34] asias commented on #6938
By "boot", you mean restart a node, right? How do we decide if reshape is needed? This means a rolling restart might take much longer to complete.

[2020-08-06 01:41] asias commented on #2798
No request from either user or scylla manager since then. It is not implemented yet. Perhaps it is best to add this when we transit to UUID repair job id.

[2020-08-06 01:51] asias commented on #6940
Yes. Perhaps
[code]

[2020-08-06 02:30] glommer commented on #2674
This should be fixed by 32896422233722b316063266960a3d91e70adc5b, with the option to override it through the command line.

[2020-08-06 03:51] asimshankar commented on #6029
Thanks @slivne @denesb , sounds good. Just to make sure I understood - this behavior of being non-responsive is _somewhat_ expected if there are high volumes of range tombstones and there is no `BYPASS CACHE` (Just making sure I understand, we got rid of the range deletes and don't have a problem ourselves anymore).

Thanks much!

[2020-08-06 04:26] denesb commented on #6029
@asimshankar yes, range tombstones cause a lot of problems during reads if there is a lot of them. They have to be all accumulated in memory before reading any row to which they might apply, and when reading a row it has to be checked against all  these tombstones to determine whether the row is alive or not. This causes significant overhead (mostly CPU load) which can get to a point where queries

[2020-08-06 04:33] denesb commented on #4119
I think the combined reader doesn't have to know about windows, it is enough to make selection work on the clustering row level as well and select based on the min/max clustering ranges of sstables.

[2020-08-06 05:23] syuu1228 commented on #6973
@amoskong thanks for fixing the issue.

The PR looks good but scylla_swap_setup proceed creating swap even no disk space available is an another bug, I need fix it.
Also we should have a swap size prompt, as @amoskong pointed out ( #6947 )
Additionally, to avoid out of disk space, we probably limit swap size when disk space is limited, something like limit to 50% of free space or something like th

[2020-08-06 05:49] denesb commented on #6831
I tried several things that led nowhere:
* Reproducing with ASAN -- didn't reproduce a single failure after essentially a half day running tests non-stop in various build modes (sanitize, debug).
* Add ASAN support to seastar allocator -- way more complicated than I thought.
* Bisecting. Did three bisecting sessions yielding three different completely irrelevant commits.

On the flip side I found

[2020-08-06 07:31] aleksbykov commented on #6892
Issue reproduced for Scylla version 4.2.rc2-0.20200803.c5ed14bff with build-id 377a88e9234ddae99025e9a5e5f5eeda0cda88cb.

Job is still running (https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-50gb-4days-test/10/). Node 5 was restarted and nodetool repair executed after node was started.
the process nodetool repair is running for 1d15h for that moment and con

[2020-08-06 07:33] aleksbykov commented on #6892
@bhalevy @denesb Could you take a look on running node?

[2020-08-06 07:38] eliransin commented on #5514
@syuu1228 ping, see my questions above.

[2020-08-06 08:20] denesb commented on #6892
@aleksbykov based on the metrics this is something else. I don't see any reads queued on the streaming semaphore, there doesn't appear to be a reader deadlock.

[2020-08-06 08:23] slivne commented on #6892
@Asias He <asias@scylladb.com> ?

On Thu, Aug 6, 2020 at 11:21 AM Botond Dénes <notifications@github.com>
wrote:

[2020-08-06 08:38] denesb commented on #6892
I see active reads and paused reader eviction in the streaming semaphore between 15:30-16:45 GMT and no activity for the remainder of the test.

[2020-08-06 08:40] asias commented on #6892
We lost some lines of log in https://github.com/scylladb/scylla/files/5033235/node5.log.tar.gz.  Starting message of repair job id 11 was not even shown. It was repair with mv table again:

repair - Repair 719 out of 775 ranges, id=11, shard=0, keyspace=mview, table={users, users_by_first_name, users_by_last_name}, range=(8079827648274913491, 8094329519117371080]

[2020-08-06 08:42] aleksbykov commented on #6892
@asias this log was copied from node5 /var/log/messages.

[2020-08-06 08:43] asias commented on #6892
The version used contains all:

[code]

[2020-08-06 08:46] avikivity commented on #2674
I seen a ghost

[2020-08-06 08:46] #2674 closed

[2020-08-06 08:47] asias commented on #6892
Thanks. @avikivity we see lost of logging lines in SCT test multiple times in different tests. Any ideas? The log is copied so it excludes SCT lost some of the logs.

[2020-08-06 08:58] avikivity commented on #4119
Yes.

[2020-08-06 09:02] bishnuagrawal-zeotap commented on #6956
**Scylla-server logs:**
[server.log](https://github.com/scylladb/scylla/files/5033664/server.log)

- I couldn't get core-dump from **/var/lib/scylla/coredump** directory
- We have kept server intact post-recovery

 Let me know if I can help more for analysis

[2020-08-06 09:04] avikivity commented on #6938
Isn't the problem only if we restart? If we don't restart, LCS will tolerate the invariant and eventually fix itself.

In general I prefer being more tolerant than adding locks.

[2020-08-06 09:05] avikivity commented on #6892
What kind of loss? syslog squashing duplicate message, or just disappearing lines?

Are we using rsyslog? Maybe it's UDP packate loss.

[2020-08-06 09:11] avikivity commented on #6275
@raphaelsc please increase priority

[2020-08-06 09:16] slivne commented on #6982
@avikivity with relocatable packages shouldn't the decode be done with the toolchain ?

[2020-08-06 09:17] asias commented on #6892
Some of the lines are disappearing.

I am not sure. @aleksbykov can you check?

[2020-08-06 09:24] avikivity commented on #6982
It's indeed best with the toolchain that was used to build it. But it's nice if people can decode on any up-to-date distribution and not have to switch to containers each time.

[2020-08-06 09:24] avikivity commented on #6982
Closing since reporter confirmed it works.

[2020-08-06 09:31] avikivity commented on #6453
Yes. @dkropachev this workload is impossible for Scylla.

[2020-08-06 09:31] aleksbykov commented on #6892
We use to get logs on sct runner: rsyslog
action(type="omfwd" Target="10.0.246.104" Port="33136" Protocol="tcp")

[2020-08-06 09:38] avikivity commented on #6453
@psarna it's still worthwhile to examine other frames to see if they are consistent. For example, check the schema in some frame and see that it has collections, so that we don't pass off a memory corruption as a collection explosion.

[2020-08-06 09:41] slivne commented on #6981
@tzach there are more tools than CQLSH user can use - cassandra-stress / sstableloader - I do not see why CQLSH is different (I certainly don;t want to start creating dockers for evert permutation) - I think a good compromise is to ask users to use scylla docker (although it also contains scylla)

[2020-08-06 09:47] slivne commented on #6972
@roydahan https://github.com/scylladb/scylla/issues/6972#issuecomment-668564001 we need this assigned we will not be able to figure this out without additional info.

[2020-08-06 09:48] avikivity commented on #6892
What does that line mean?

[2020-08-06 09:51] denesb commented on #6831
I started commenting out tests and found that I need to leave these 4 test case in to reproduce the crash:
* test_multishard_combining_reader_next_partition
* test_multishard_combining_reader_non_strictly_monotonic_positions
* test_multishard_streaming_reader
* test_compacting_reader_as_mutation_source

[2020-08-06 09:53] aleksbykov commented on #6892
Additionally forward messages to remote rsyslog server over tcp, which is running on jenkins builder or sct-runner.

[2020-08-06 09:55] avikivity commented on #6563
CentOS 7 gdb is too old to be used.

We have two options:
 - not debug codes on nodes
 - package gdb in the relocatable package (@syuu1228 had something for it)

I think we should just avoid using gdb on a node. Things like gcore are too disruptive. If you want a core, send SIGABRT and copy it to another machine for debugging.

[2020-08-06 09:56] avikivity commented on #6892
Well, maybe check logs on the rsyslog server. Maybe it is dropping messages.

[2020-08-06 10:05] aleksbykov commented on #6892
It looks some messages could be lost:
[code]

[2020-08-06 10:53] psarna commented on #6453
[code]
Looks like this column's type is `set<frozen<list<frozen<map<frozen<set<frozen<map<uuid, uuid>>>>, frozen<map<frozen<map<float, text>>, frozen<map<text, ascii>>>>>>>>>` and the full **name** of this type is 843 characters long... here it is in its fullest (happy scrolling everyone!):
[code]
also,
[code]
suggests a huge collection value as well.

[2020-08-06 10:54] psarna commented on #6453
Oh no, wait, this particualr optional I quoted is disengaged, so its payload is irrelevant.

[2020-08-06 11:32] withings-sas commented on #6275
We are seeing this related error on our 4.0 cluster:

[code]

And stuck pending compactions:

[code]

Will upgrading to 4.1 fix this or should I wait for a patch release of 4.0 ?

[2020-08-06 12:29] avikivity commented on #6275
Upgrading should fix it.

[2020-08-06 12:30] avikivity commented on #6892
So disable rate limiting.

[2020-08-06 12:30] raphaelsc commented on #6275
On Thu, Aug 6, 2020 at 6:11 AM Avi Kivity <notifications@github.com> wrote:

Alright. I will work on it today.

[2020-08-06 13:33] denesb commented on #6831
[code]
Somehow we are linking a size 512 free object into the size 384 freelist. I don't yet know if this is also a symptom of memory corruption or its cause itself. Two size classes using the same freelist sounds like something that could cause memory corruption itself. One argument supporting this not being another symptom is that I modified the layout of `free_object` (added another field) and

[2020-08-06 13:51] denesb commented on #6831
A few more strategically placed asserts later, in `small_pool::deallocate()`:
[code]

[code]

[2020-08-06 14:47] jonerer commented on #6971
We created a test cluster, and before connecting any clients to it we started getting these logs. So even though they say "cql_server", it seems to be related to crosstalk between nodes (or to itself?)

[2020-08-06 15:06] raphaelsc commented on #6956
By looking at logs, I figured out that Scylla loaded table idgraph1.system_properties_lock from two different directories:
`	Dirs: {'/var/lib/scylla/data/idgraph1/system_properties_lock_-2fe61d40d7af11ea8c5a000000000005', '/var/lib/scylla/data/idgraph1/system_properties-33310280d7af11ea8c5a000000000005'}`

The first dir belongs to mc SSTables, whereas the second belong to ka SSTables, which uses a

[2020-08-06 15:13] dfedick opened #6989 "Unable to write for longer than a few minutes after 3.2 upgrade from 3.1"
Report UUID:  1c9965bb-0062-4da9-bf60-27ecf183deba

This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*

**Old Scylla versi

[2020-08-06 15:16] raphaelsc commented on #6938
That's correct.

 If we don't restart, LCS will tolerate the invariant and eventually fix itself.

I am considering rethinking the overlapping tolerance we impose on each level when restarting the node. I think it could be interesting to go from the constant fan_out*2 to a per-level tolerance of max(fan_out, fan_out ^ level * 0.1). Right now, we're issuing major compaction if level 3 has overlappi

[2020-08-06 15:35] #6792 closed

[2020-08-06 16:04] bishnuagrawal-zeotap commented on #6956
Hey @raphaelsc,

Thanks for prompt reply.

- Is Compaction run with multiple tables as input possible? Like compacting **system_properties_lock** table with **system_properties** table, logically seems wrong(correct if wrong) ?
- Can a table have two different SSTable types, like ka & mc?

- Considering compaction runs where input is from multiple directories, is it a bug which we are running with

[2020-08-06 16:55] raphaelsc commented on #6956
Hmm, those are two different tables, indeed.

What I think is happening here is that a SSTable from **system_properties_lock** was incorrectly placed at **system_properties** dir, but Scylla was still able to place that SSTable at the correct table. However, Scylla should not even be allowed to boot if that happened. I need to think more about think.

Yes, they can coexist as long as the SSTables

[2020-08-06 18:45] tzach commented on #6981
@slivne I did mention cassandra-stress in the original issue...
Running Scylla is problematic since its easy to connect to it instead of the actual DB you want to use.
See an examples:
https://hub.docker.com/r/mongoclient/mongoclient/

[2020-08-06 19:29] slivne opened #6990 "sstableloader --ignore-missing-columns doesn't work"
reproducer

run on a single node

cqlsh
[code]

[code]

stop scylla

copy /var/lib/scylla/data /var/lib/scylla/data1

start scylla

cqlsh
[code]

attempt to load sstables

[code]

[2020-08-06 19:51] slivne commented on #6989
@dfedick
- I tried to download the info from 1c9965bb-0062-4da9-bf60-27ecf183deba and was not able to find anything - can you please double check that you uploaded to that directory
- can you paste the upload command

[2020-08-06 20:13] dfedick commented on #6989
I just re-ran the following:
[code]
and
[code]

(I renamed the name of the file so you had context of which IP this server ran as in the logs.)

[2020-08-06 20:26] dfedick commented on #6989
working on gathering prometheus data and pushing.  taking a while to cobble together.

[2020-08-06 20:58] dyasny commented on #6982
@avikivity I indeed have to switch to containers in this case though :)

[2020-08-06 20:59] dfedick commented on #6989
I just added prom_data.tar.gz
[code]

[2020-08-06 22:03] raphaelsc commented on #3380
This issue also talks about a backlog issue which is a side effect of the SA issue affecting LCS, so let's keep it opened.

[2020-08-06 23:07] raphaelsc commented on #6928
Thanks. Keep us posted!

[2020-08-07 00:35] cogitaria-admin opened #6991 "scylla_setup tool error on AWS instance: c5n doesn't support enhanced networking!"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1
Cluster size: 3
OS (RHEL/CentO

[2020-08-07 04:38] denesb commented on #6831
The call comes from:
[code]

[code]
The vector thinks it only owns 384 bytes, but the seastar allocator put this object in the 512 byte pool, maybe for alignment reasons. The seastar allocator can allocate more bytes than requested and the application code will not know it. So we shouldn't blindly trust the `size` parameter passed down in `operator delete[](void*, size_t, std::align_val_t)` becaus

[2020-08-07 05:42] denesb commented on #6831
I rolled back my asserts to have a look again at the segfault, this time I got a crash like this:
[code]
It is easy to see how a 384 byte object in the 512 size freelist can cause corruption. The 512 size pool will return this object for an 512 byte allocation and the application will write outside of its boundaries, corrupting the next object in the pool.

[2020-08-07 06:11] denesb commented on #6563
Doesn't the devtoolset-toolchain bring in a sufficiently recent debugger. I remember in a previous life we used the devtoolset to use more recent gcc and gdb on centos7.

[2020-08-07 07:04] jonerer commented on #6971
We've now created a separate test cluster. The issue appears even on a single-node cluster with the `3.3.4` image, before any clients have connected (netstat shows nothing connected to 9042). The issue appears as soon as we add

[code]

To the config. The cert is not self-signed, but signed by a CA in the truststore

[2020-08-07 08:14] denesb commented on #6831
The 512 pool somehow acquires a 384 size span in:
[code]
[code]
`span` is optimized out (of course) but I managed to find it in `$rbp`:
[code]

[2020-08-07 08:15] antonio-tringali opened #6992 "Failure to upgrade Scylla open source from 4.0.0 to 4.0.x, x >3"
I was trying to upgrade from Scylla 4.0.0 to 4.0.5 using containers. Containers are pulled from Scylla Docker Hub.

In short, when upgrading seed nodes and then a regular node, or in reverse order (have tried), nodes do not communicate. This is an example of the relevant part in the logs:

[code]

From this page: https://docs.scylladb.com/upgrade/upgrade-opensource/upgrade-guide-from-4.x.y-to-4.x.

[2020-08-07 08:33] antonio-tringali opened #6993 "Node crashing for Scylla open source version 4.0.0-0.20200513.faf300382ac during repair"
In a Scylla open source version 4.0.0-0.20200513.faf300382ac a node has crashed with the following logs:

[code]

Sometimes some shards do not complete repair for other nodes in the cluster.

In general, for some tables some SELECTs are sluggish. If you ask for more than a row or a couple of rows queries tend to timeout.

Sometimes we see rows like:

[code]

These are the logs in the nodes when cq

[2020-08-07 09:14] denesb commented on #6831
span lists are completely corrupted:
[code]

[2020-08-07 09:54] gibsn commented on #6928
Hi!

Weekly compactions were ok, but today timeouts are back sporadically on some nodes, it did not happen on 3.2.4

![Снимок экрана 2020-08-07 в 12 49 06](https://user-images.githubusercontent.com/11294101/89633550-ac01e000-d8ac-11ea-8c7f-359b33254353.png)
![Снимок экрана 2020-08-07 в 12 49 09](https://user-images.githubusercontent.com/11294101/89633558-af956700-d8ac-11ea-86e9-bb577715a226.png)
!

[2020-08-07 10:17] aleksbykov commented on #6892
Could you take a look on running node. The repair process is still running. Job could be set as failed. But while cluster are alive, you can find what is the problem?

[2020-08-07 10:17] aleksbykov commented on #6892
Node is available by ssh centos@54.194.162.254

[2020-08-07 10:19] Antti-Kaikkonen commented on #6307
I can confirm that reverse queries do not work.

I migrated my application from cassandra and an "ORDER BY ... DESC" query stopped working for all partitions with more than ~4k rows.

Here is the error message:
`ReadFailure: Error from server: code=1300 [Replica(s) failed to execute read] message="Operation failed for dash.daily_address_balance_changes - received 0 responses and 1 failures from 1

[2020-08-07 11:01] raphaelsc commented on #6928
Could you please show the dashboard of the node which had time outs? (like the one depicted by yellow color). I'd like to have a per-shard view instead, for that specific node.

[2020-08-07 13:51] nyh commented on #6307
@Antti-Kaikkonen what version of Scylla are you using? On master, it seems that reverse queries on partition about 1 MB are still allowed but produce a warning like
[code]
But once you pass 100 MB (`max_memory_for_unlimited_query_hard_limit`) it becomes an error:
[code]

[2020-08-07 14:11] nyh opened #6995 "Crash with assertion failure when dropping a table with auto_snapshot = false"
The following trivial Alternator test creates - using the Alternator API - a single partition with 10,000 items where each has a 10,000 byte string attribute - so totalling a little over 100 MB of data. The data is successfully written, but at the end of the test, the temporary table is deleted, and at that point *then* Scylla crashes with an assertion failure.
The test:
[code]
The end of the log:

[2020-08-07 14:40] vladzcloudius commented on #6982
@dyasny @avikivity Can a user decode a backtrace on the machine (Ubuntu/CentOS/Debian) where the  backtrace has been generated using tools and binaries from our `dgb`/`debug` packages?

If the answer is "no" then I don't understand why we closed this issue.

[2020-08-07 16:57] dfedick commented on #6989
Well, I'm not sure what the problem was.  But the fix for us was to keep upgrading to 4.1. Once we did that we turned on our ingest and everything looks great! :D

[2020-08-07 16:57] #6989 closed

[2020-08-07 17:10] denesb commented on #6307
@nyh the soft/hard dual limit is a quite recent change that hadn't made it into any release yet.

[2020-08-07 19:21] nyh commented on #6995
I discovered that I can only see this assertion failure with "--auto-snapshot 0" (which we use in Alternator's tests). When auto_snapshot is true (which is the default, ), the assertion failure goes away.

[2020-08-07 20:25] raphaelsc commented on #6309
i am interested in accessing the dashboard for understanding this better, but it's offline to me.

[2020-08-07 21:36] vladzcloudius commented on #6982
The backtrace provided by @dyasny makes little sense to me:

[code]

@slivne Please take ownership on this. The container hack still doesn't seem to be working.

[2020-08-07 21:39] dyasny commented on #6982
I ran the decode in a fedora:latest container using seastar-addr2line and the debug package for 4.0.4

[2020-08-07 21:48] nyh commented on #6995
The difference with `--auto-snapshot 0` which breaks this assertion isn't the actual creation of the snapshot. Rather, it's the fact that with `--auto-snapshot 1`, `database::truncate()` calls `cf.flush()` to flush the last memtable, but when `--auto-snapshot 0`, it calls `cf.clear()` instead because it's pointless to bother flushing the memtable if you intend to immediately delete it anyway. But

[2020-08-08 00:41] Antti-Kaikkonen commented on #6307
From `journalctl _COMM=scylla`

[2020-08-08 00:46] dorlaor commented on #6307
Would you mind to give the nightly build a try (docker)?

On Fri, Aug 7, 2020 at 5:41 PM Antti Kaikkonen <notifications@github.com>
wrote:

[2020-08-08 01:44] Antti-Kaikkonen commented on #6307
Unfortunately being able to (ineffectively?) query 100x bigger partitions doesn't really solve the issue for me. I would be happy to test when there is a better solution. I wouldn't really mind reverse queries being 10x slower as long as the speed doesn't depend on the partition size. For now I will probably create a duplicate table in reversed clustering order if I absolutely need to traverse the

[2020-08-08 04:09] aleksbykov commented on #6309
it is already terminated. But you can do next:
1. clone scylla-cluster-test repo: git@github.com:scylladb/scylla-cluster-tests.git
2. install hydra: ./scylla-cluster-tests/install-hydra.sh
3. run next command: hydra investigate show-monitor 2c7313f7-3669-4ee0-9ac5-3918a3f03390

this stesp restore monitoring stacks on your local host

[2020-08-08 05:10] penberg opened #6997 "CQL unecrypted native transport is enabled unconditionally"
@gnumoreno writes:

[code]

As it turns out, we enable the unencrypted native transport unconditionally in `controller::do_start_server()`. This makes it impossible to configure Scylla to only accept encrypted native transport.

[2020-08-08 05:37] aleksbykov commented on #5528
issue reproduced for Scylla:
during job: https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/24/
several tables with cdc were under c-s tool.
next command is executed and failed:
[code]
in node log i found next messages
2020-08-07T09:55:12+00:00  longevity-cdc-100gb-4h-master-db-node-460d73d7-6 !INFO    | scylla: [shard 0] api - toppartitions query: name=cdc_t

[2020-08-08 06:10] haaawk commented on #6997
I think it is possible to do that already. You just need to set both native_transport_port_ssl and native_transport_port to the same port and then that port will be using encryption and there won't be any port that is unencrypted.

[2020-08-08 07:23] aleksbykov commented on #6645
issue reproduced  for Scylla version 4.2.rc2-0.20200804.ec874bdc3 with build-id 6b383f5dce562286b248e35824ec576216af955f.

On node scylla was stopped, several sstables were removed and scylla was started again. Once scylla had been started, nodetool rebuild command was executed.
this command failed with:
[code]

[system.log.tar.gz](https://github.com/scylladb/scylla/files/5044794/system.log.tar.gz

[2020-08-08 07:43] aleksbykov commented on #6645
And again repeated during same job on another node
[system.log.tar.gz](https://github.com/scylladb/scylla/files/5044822/system.log.tar.gz)

[2020-08-08 08:03] #6486 closed

[2020-08-08 08:03] #186 closed

[2020-08-08 13:07] amoskong commented on #6973
This issue had been fixed by https://github.com/scylladb/scylla-machine-image/pull/48

The next-machine-image (job 15) triggered ami and ami-test all PASSed.

- ami: https://jenkins.scylladb.com/job/scylla-master/job/ami/377/
- ami-test: https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-ami-test/146/

[2020-08-08 16:49] avikivity commented on #6486
Bacported to 4.0, 4.1, 4.2.

[2020-08-08 18:42] avikivity commented on #6831
It's likely a use-after-free outside the allocator. The allocator is too heavily used to have such a simple bug.

[2020-08-08 18:45] avikivity commented on #6831
[code]

std::atomic in a seastar application. I bet it's a multithreading bug.

[2020-08-08 18:48] avikivity commented on #2912
From #3380 :

Quoting Avi:

I think we should redefine LCS from

nr_sstables(level) = fan_out ^ level
to

nr_sstables(level) = nr_sstables(level + 1) / fan_out

This prevents an LCS pathology where we have 10 sstables in L1, 100 sstables in L2, and 100 sstables in L3, resulting in 2X space amplification instead of the expected 1.1X. The fact that space amplification depends on total size may be th

[2020-08-08 18:48] avikivity commented on #3380
Merged into #2912

[2020-08-08 18:48] #3380 closed

[2020-08-09 05:43] avikivity commented on #6992
There is nothing in the 4.0.3 -> 4.0.3 changes that could cause this. Please provide more logs (from the both the node being upgraded and nodes that fail to communicate with it).

[2020-08-09 05:48] avikivity commented on #6992
4.0.2 changed gnutls from 3.6.13 to 3.6.14 (for CVE-2020-13777).

Are you able to upgrade to 4.0.1 but not 4.0.2?

[2020-08-09 05:53] nyh commented on #6831
I also see the `db::view::node_update_backlog::~node_update_backlog()` call in the backtrace. I'll review this code and where it's used.

[2020-08-09 06:18] nyh commented on #6831
I couldn't find a problem with the node backlog code or its usage in the CQL test environment :-( The CQL test environment, `single_node_cql_env::do_with(func)`, creates a seastar::thread, and inside it starts all the CQL objects including a local `db::view::node_update_backlog` variable (one like that, on shard 0), and only after waiting (with `get()`) for the test function to end, this local var

[2020-08-09 06:21] nyh commented on #6831
Also, if we're seeing this failure always in one test, and never in other tests, isn't it an indication that the bug is likely to be specific to what this test checks or even in the test code itself, and not in some generic framework setup that all the tests use?

[2020-08-09 07:31] avikivity commented on #6831
I think it's an inconsistency between aligned sized allocation and aligned sized deallocation.

[2020-08-09 07:34] avikivity commented on #6831
I see it, patch soon.

[2020-08-09 08:15] eliransin commented on #3779
Fixed in version Scylla version 3.1 by commit b39eac653

[2020-08-09 08:15] #3779 closed

[2020-08-09 09:06] antonio-tringali commented on #6992
Thank you for your swift answer Mr. Kivity.

4.0.2 was skipped because we tried to update straight to 4.0.6 and then went for bisection.

This was the sequence, updating Docker containers:

[code]

Being a container from Docker Hub, I presume that the right gnutls library version is available inside, or am I wrong? But the Gossip failed. Is it TLS-protected?

Each time during the rolling update te

[2020-08-09 09:06] avikivity commented on #6831
Patch sent: `[PATCH seastar v1] memory: fix small aligned free memory corruption`. @nyh please review.

[2020-08-09 09:18] ShlomiBalalis commented on #6925
The issue occurred in master-branch's rolling upgrade test of centos 8:
Scylla version:

Upon setup, sct restarted node#3's scylla service. However, the node did not start:
[code]

From the log of node#2:
[code]

Node list:
[code]

[2020-08-09 09:25] nizarh11 opened #6999 "InvalidBlockDeviceMapping: Volume of size 15GB is smaller than snapshot <SNAP_NAME> (expect size >= 30GB)"
*Installation details*
Scylla version (or git commit hash): master:latest
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-0b3b647af24631ea3

I am getting the following exception on set-up:

[code]
Jenkins Job:

https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/longevity/job/longevity-200gb-48h/59/

Logs:

New directory created: /home/nizarh/sct-results/20200809-09

[2020-08-09 10:19] roydahan commented on #6999
Issue moved to [scylladb/scylla-cluster-tests #2484](https://github.com/scylladb/scylla-cluster-tests/issues/2484) via [**ZenHub**](https://www.zenhub.com/)

[2020-08-09 10:20] eliransin commented on #5514
@syuu1228 ping

[2020-08-09 10:20] ShlomiBalalis commented on #6925
It also happened in ubuntu-18's rolling upgrade, though it looked a bi different:

node#4 failed to start:
[code]

from the log of node#2:
[code]

from node#1's log:
[code]

Logs:
[code]

node list:
[code]

[2020-08-09 10:22] avikivity commented on #6831
mutation_reader_test was especially susceptible since it used smp=3, triggering the 384/512 discrepancy. Other tests with smp=2 have 256/256 alloc/free sizes, and so don't trigger the problem.

[2020-08-09 10:28] avikivity commented on #6831
This turned out to be incorrect. The reason we don't see it everywhere is that over-aligned allocation is extremely rare (probably we have one or two such call sites).

[2020-08-09 10:33] #6999 closed

[2020-08-09 10:45] ShlomiBalalis opened #7000 "Scylla setup failed: unit mdmonitor.service is not found or invalid"
*Installation details*
~~Scylla version (or git commit hash):~~ scylla repo: http://downloads.scylladb.com/deb/unstable/unified/master/2020-08-05T19:49:15Z/scylladb-master/scylla.list
(The node never started, so I have no way of knowing the build-id)
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-1604-lts

[2020-08-09 11:05] avikivity commented on #6992
gossip is encrypted if internode communications is encrypted, but since you were able to upgrade to 4.0.3, we can rule out this cause.

[2020-08-09 11:07] slivne commented on #6892
@asias please note you can access the node (hopefully its still there - and check what you need)

[2020-08-09 11:07] avikivity commented on #6992
@asias any idea?

[2020-08-09 11:08] #6973 closed

[2020-08-09 11:14] slivne commented on #6925
@gleb-cloudius - please download the logs of the last run - and find whats going on - its not clear if this is during the initial start of the node or another step - please figure out whats going on (according to roy - they are not killing nodes in the run to cause issues)

[2020-08-09 11:28] roydahan commented on #6925
Few things to make it clearer:
1. "Rolling-upgrade centOS8 and Ubuntu 18.04 tests are using the parameter "internode_compression: all".
This configuration in this test is NEW.

2. The failure happens during the initial setup of the cluster (4 nodes) before the upgrade even starts.

[2020-08-09 11:59] avikivity commented on #6925
Possible related commit: bf2ab10b6a1b448c38129cb747c8985e95465dc8 (new in 4.1), seastar commit scylladb/seastar@9faf2c3d852175972195590a2ec2955c569608a6

[2020-08-09 12:20] avikivity commented on #5528
@elcallio @amnonh  can you help me make sense of the trace? I presume this is a nodetool->jmx call, but why would something not be serializable at random?

Maybe it's a float infinity?

[2020-08-09 12:37] gleb-cloudius commented on #6925
On Sun, Aug 09, 2020 at 04:28:42AM -0700, Roy Dahan wrote:

What do you mean? You never tested internode compression before?

--
			Gleb.

[2020-08-09 13:42] slivne commented on #6990
trying to run ```--simulate``` also failed - lets fix the bugs and also add dtests to make sure this works

[2020-08-09 13:50] slivne commented on #6982
@penberg the trce provided seems to be mangled from multiple shards - yet lets try and resolve this somehow - so people will be able to extract the stacktrace.

We need to update the docs as well - since we instruct users on how to decode backtrace.

https://docs.scylladb.com/kb/decode-stack-trace/

one solution is to update seastar-addr2line so it works with the correct toolchain, so we don't nee

[2020-08-09 14:23] avikivity commented on #6838
Enhancement, not backporting.

[2020-08-09 14:26] avikivity commented on #6776
Backported to 4.0, 4.1, 4.2.

[2020-08-09 14:28] amnonh commented on #5528
@eliransin checked an issue we had with infinite representation that caused json parsing error.
Is +/-inf an optional valid value here?

[2020-08-09 14:32] avikivity commented on #6759
Enhancement, not backporting.

[2020-08-09 14:36] amnonh commented on #624
Commit: https://github.com/scylladb/scylla/commit/54b4f26cb0c0fce28cb55e8077ad8c5f2e63e35a
Removed the compaction_summary endpoint, `/compaction_manager/compactions` return a list of running compactions.
And `/compaction_manager/compaction_history` the compactions history

[2020-08-09 14:36] #624 closed

[2020-08-09 14:52] avikivity commented on #6730
Not a regression, performance impact only. Not backporting.

[2020-08-09 14:54] avikivity commented on #6613
@penberg why is the bot re-adding the "Backport candidate" label?

[2020-08-09 14:54] avikivity commented on #6561
@nyh ping

[2020-08-09 15:19] avikivity commented on #5985
Backported to 4.0 (4.1+ have it).

[2020-08-09 15:20] avikivity commented on #5899
Already backported to 4.0+.

[2020-08-09 15:21] avikivity commented on #5709
In 4.0+, no need to backport.

[2020-08-09 15:23] avikivity commented on #4885
In all active branches.

[2020-08-09 15:24] avikivity commented on #4768
Aged out.

[2020-08-09 15:25] avikivity commented on #4501
Aged out.

[2020-08-09 15:25] avikivity commented on #4560
Aged out.

[2020-08-09 15:26] #6831 closed

[2020-08-09 15:26] #6844 closed

[2020-08-09 15:26] avikivity commented on #4642
Aged out.

[2020-08-09 15:27] avikivity commented on #4766
Aged out.

[2020-08-09 15:27] avikivity commented on #4857
Aged out.

[2020-08-09 15:28] avikivity commented on #5074
Aged out.

[2020-08-09 15:29] avikivity commented on #5028
Enhancement, no backports.

[2020-08-09 15:30] avikivity commented on #5998
Already backported, removing label.

[2020-08-09 15:30] avikivity commented on #5849
Aged out.

[2020-08-09 15:31] avikivity commented on #5782
Aged out.

[2020-08-09 15:32] avikivity commented on #5799
@penberg why is the bot adding the "backport candidate" label?

[2020-08-09 15:33] avikivity commented on #5967
Aged out.

[2020-08-09 15:47] avikivity commented on #6844
@nyh please evaluate for backport. It doesn't look like a regression, but if it makes alternator unusable, it's a major bug.

[2020-08-09 15:47] avikivity commented on #6831
Backported to 4.0, 4.1, 4.2.

[2020-08-09 15:50] avikivity commented on #624
Already in 0.13+, not backporting further.

[2020-08-09 17:33] sivanidwarampudi commented on #1755
Cassandra is case sensitive so you should use SimpleStrategy instead of simplestrategy

[2020-08-09 18:23] slivne commented on #5797
@eliransin ping

[2020-08-09 18:25] #6811 closed

[2020-08-10 00:48] asias commented on #6892
I tried to login with no luck. Looks like the node is destroyed.

@aleksbykov  Will SCT generate a core when we suspect a hang (It will be helpful if SCT support this. It can be manual trigger)?

[2020-08-10 01:40] asias commented on #6993
Do you have MV Tables or Secondary Index tables?

[2020-08-10 01:43] asias commented on #6993
We need to backport

[code]

for the "repair does not complete" issue.

@anton-dessiatov those patches are related but are not present in 4.0 branch. It will take some time to backport to 4.1 branch. I recommend to upgrade to 4.1 or even 4.2 branch.

In the meanwhile, I will take a look at #/6992.

[2020-08-10 01:56] asias commented on #6992
None of the gossip and seastar changes between 4.0.0 and 4.0.6 are relevant to the issue.  I highly suspect it was TLS change.  Being able to roll upgrade to 4.0.3 might just be lucky and the issue is timing related.

[code]

[code]

[2020-08-10 04:37] avikivity commented on #6992
@antonio-tringali do you have internode encryption enabled? what is the configuration?

[2020-08-10 05:10] aleksbykov commented on #6892
@asias yes, we have such functionality, but this command doesn't run with timeout, because it is difficult to determine exact time of command run for different jobs (from 4h to 7d)
will try to reproduce the issue with coredump

[2020-08-10 06:36] aleksbykov opened #7001 "Semaphore timed out: _read_concurrency_sem) errors on cleanup after node replace with decommission and node status is DN"
*Installation details*
Scylla version (or git commit hash): 4.2.rc2-0.20200803.c5ed14bff with build-id 377a88e9234ddae99025e9a5e5f5eeda0cda88cb
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0edbce030f3cb9761

Job [1T-7d-tls](https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-1tb-7days-test/11/) was failed after 2d running. it failed during Decommission n

[2020-08-10 07:16] asias commented on #6976
Patch sent: https://github.com/scylladb/scylla/pull/7002

[2020-08-10 07:16] asias commented on #6940
Patch sent: https://github.com/scylladb/scylla/pull/7002

[2020-08-10 07:16] asias commented on #6975
Patch sent: https://github.com/scylladb/scylla/pull/7002

[2020-08-10 07:24] bhalevy commented on #4469
Still happens: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/575/testReport/materialized_views_test/TestMaterializedViews/multi_mvs_on_different_populated_base_tables_test/

[2020-08-10 07:41] gibsn commented on #6928
We had a discussion with @raphaelsc in direct messages and decided that we should try disabling speculative retries. I noticed that on Friday read load increased ~2 times, so I am pretty sure read timeouts were not correlated with the new data segregation feature.

However I can see that disks are underutilised yet Scylla times out

[2020-08-10 07:49] nyh commented on #6844
Yes, it does make Alternator unusable for users of a specific driver (a C++ one) which appears to use this HTTP feature. However, I'm not sure how to backport. I guess that instead of putting a new version of Seastar in the branches, I should backport the specific Seastar patch to the branch-specific-seastar we have? So I should basically follow the instructions for that in the maintainers.md?

[2020-08-10 08:12] jonerer commented on #6971
Hello again. We can consider this closed.

The issue was that we had a load balancer in front of scylla, creating connections and then dropping them. This will happen on EKS when you have a load balancer, since it has automatic health checks. We have a load balancer in place for external (like from the office) connections, since the internal traffic to scylla nodes use DNS that can't be seen from

[2020-08-10 08:12] #6971 closed

[2020-08-10 09:50] eliransin commented on #5797
@slivne I have sent a patch a long time ago that was even reviewed and was approved, I simply forgot to push for merge.
The title of this patch is: `[PATCH] Storage Proxy: Maintain metrics in response handler classes`
I will adjust it since it has been such a long time and revive the thread.

[2020-08-10 10:53] bhalevy commented on #6529
@denesb let's try to reproduce this issue with a dtest

[2020-08-10 11:13] elcallio commented on #6995
Heh. Now that I look at it (and you so helpfully isolated it to `autosnapshot=0`, I can see now that this was in fact broken back in old https://github.com/scylladb/scylla/commit/c2c6c71398470995a739fc35bc5347de8d4148b5, when the condition for flushing was changed from `durable || autosnapshot` to just `autosnapshot`.

What the former meant was that for all tables that actually had sstables, we di

[2020-08-10 11:14] bhalevy commented on #6993
In addition, the following is an instance of https://github.com/scylladb/scylla/issues/6448
[code]

[2020-08-10 11:25] slivne commented on #6925
@gleb-cloudius roy mentioned its a change done - please check the issue

[2020-08-10 11:29] denesb commented on #6529
@bhalevy I'll first try to reproduce with the update sstables.

[2020-08-10 11:32] gleb-cloudius commented on #6925
I still do not understand. It sounds like the compression was never
tested which does not make sense. If it was tested than I need to know
how was it tested and if those tests still work. I need to understand
if this is a new issue or simply something that was never tested and
hence does not work.

--
			Gleb.

[2020-08-10 11:32] nyh commented on #6767
By the way, apparently this issue was fixed, I don't know when: https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2370/testReport/test.alternator/ - it's beatiful, shows all the little Alternator tests one by one. Thanks @penberg and @hagitsegev !

[2020-08-10 11:35] nyh opened #7004 "Alternator test test_streams.test_streams_last_result failed on Jenkins"
The `test_streams.py`::`test_streams_last_result` test failed on the following Jenkins job:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2370/testReport/test.alternator/test_streams/Test___test_streams_last_result_2/

Noted by @psarna and @bhalevy

[2020-08-10 11:46] nyh commented on #6995
But @elcallio, it's actually correct and good that we don't flush the memtables is no autosnapshot! When we intend to delete the table, it's a complete waste of time to write the memtables to disk first... We should just delete them. Doing a `flush()` would be a waste of time, no?
Maybe we should simply not do the `assert()` if `!autosnapshot`? We can just delete the commitlog and everything, and

[2020-08-10 12:28] avikivity commented on #6844
I suppose we need an instructions.md that tells you to follow the instructions.

[2020-08-10 12:30] elcallio commented on #6995
Yes, that is what I mean. The change in question is not bad per sé, but it did not modify the assert to fit the new reality. And I did not manage to see this until now, despite numerous spurious issues popping up over that time. Hello blind spot.

[2020-08-10 12:35] nyh commented on #5345
In issue #6995 this happens specifically with auto_snapshot = 0. @eliranshlomo1 could you have been using the auto_snapshot = 0 configuration option?

[2020-08-10 12:36] nyh commented on #6412
In issue #6995 this happens specifically with auto_snapshot = 0. @veramine  could you have been using the auto_snapshot = 0 configuration option (which avoids saving a backup copy of the table when it's deleted)?

[2020-08-10 12:37] nyh commented on #6419
In issue #6995 this assertion failure was shown to happen when the auto_snapshot = 0 configuration option is used. @veramine  could you have been using the auto_snapshot = 0 (which avoids saving a backup copy of the table when it's deleted)?

[2020-08-10 12:39] nyh commented on #6995
I found 3 potential duplicates for this issue and asked the submitters if perhaps they were using auto_snapshot = false - if they are then it's the same issue. I'm surprised anyone uses Scylla without auto_snapshot = false - what's the point of deleting a table if it stays behind? :-)

[2020-08-10 12:41] elcallio commented on #6995
Thanks for saving me the work of going through the potential duplicates. Now you volunteered to mark them as such! :-)

[2020-08-10 13:05] eliranshlomo1 commented on #5345
@nyh Yes,
in our configuration it set to auto_snapshot: false

[2020-08-10 13:14] elcallio commented on #6990
See /scylladb/scylla-tools-java#193

[2020-08-10 13:32] nyh commented on #5345
Thanks for confirming. Then this is almost certainly a dup of #6995. Patch is already on "next" branch, should appear in master branch today and in other branches later. Closing as a dup.

[2020-08-10 13:32] #5345 closed

[2020-08-10 13:43] hagitsegev commented on #6767
I didn't do anything, so I'm not the one to thank.

[2020-08-10 13:48] eliranshlomo1 commented on #6995
@nyh setting auto_snapshot to true, will prevent the crashes?
If so we might change that in our current production cluster and set a cleanup job for the snapshots

[2020-08-10 14:17] denesb commented on #6529
@arunsandu1 do you still see the error happening? If yes could you please upload another sstable, this time with all the components (not just `*-Data.db`)? Thanks.

[2020-08-10 14:31] elcallio commented on #6995
@eliranshlomo1 setting auto snapshot on prevents the bug yes, but we do want both configurations tested. You should probably instead make sure to run scylla versions with the patch applied.

[2020-08-10 14:46] nyh commented on #6995
Yes, it should (unless we have a second bug in the same area of the code, of course...)

Right. At least until you upgrade to a fixed version.

[2020-08-10 15:09] nyh commented on #7004
The failing test reproduces issue #6942 - i.e., that when we have only one event in the stream, when we read it from a stream shard, if we try to read again, we should NOT get the same event again. This suggests this issue was not completely solved. However, I cannot reproduce it on my own machine, and it also didn't always happen on Jenkins.

One special thing we see in that test result is that r

[2020-08-10 15:33] ShlomiBalalis opened #7007 "Decommission error: nodes fail to acknowledge decommission: Connection refused"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200809.8e87c5274 with build-id 5d2cbc3dc5156a08dd86de9c772eb0c03b5b6fb4
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-044a8f8c1644d7620 (Ireland)

At '2020-08-10 03:35:41' A decommission has started on node#4. As a whole, it seems that the node was decommissioned successfully:
[code]

However, at the end of the

[2020-08-10 15:39] roydahan commented on #7007
Were they updated with the "Real" status after few minutes? (the next nodetool status you have)

[2020-08-10 15:49] raphaelsc commented on #6938
Cleanup and regular can incorrectly pick the same SSTable, I think it's a regression caused by 8014c7124d2bb043999430726b7df660e37f4b42

[2020-08-10 16:16] ShlomiBalalis commented on #7007
Yes, a nodetool status ran on node#1 at `2020-08-10 04:04:59,064` which included the real status of all of the nodes.
I looked further into it, and I think there were further effects to this issue. In the period of the time that the issue occurred in, when node#1 was queries the `cl=ONE', the query failed:
[code]
My assumption is that the node tried to direct the query to node#4 and failed.

[2020-08-10 17:08] nyh opened #7008 "Alternator test failing in Scylla 4.0 on s390x"
Prasanna Kelkar reported on the scylladb-dev mailing list that:

"_I was able to build v4.0.3 on s390x architecture with similar steps. But while running the tests observed one test case failure for alternator/run. Test case alternator/run failed due to segmentation fault with following logs._
[code]
"

It turns out that this is a use-after-move bug in **Seastar** that @espindola has already fixed

[2020-08-10 17:27] antonio-tringali commented on #6992
Very simple...

[code]

[2020-08-10 17:42] nyh commented on #7008
Backported the relevant Seastar patches to 4.0, now in next-4.0 commit 1d3c00572cb8395bde03b3a42afcd9c9c6d3d953
Issue should hopefully be auto-closed when next-4.0 is promoted to branch-4.0.

[2020-08-10 18:04] #6631 closed

[2020-08-10 18:04] #6947 closed

[2020-08-10 18:04] #6995 closed

[2020-08-10 18:27] roydahan commented on #6925
AFAIR there are tests that set this param in dtest, but don’t really test this.
So, I would assume this param was never tested.

[2020-08-10 18:38] roydahan commented on #7007
Doesn’t look like real issue even if it does, very minor.

[2020-08-10 20:25] nyh commented on #6995
This is a fairly annoying bug, that was independently reported at least 4 times (see list of duplicates above), so although it is not a recent regression (it started in March 2019) I think we should backport it. I'll backport to 4.2, 4.1 and 4.0.

[2020-08-10 21:04] nyh commented on #6995
Backported to next-4.0 (commit 29df4167206ac0a9d058e2bb770f25f2ae79def0), next-4.1 (commit 29df4167206ac0a9d058e2bb770f25f2ae79def0), next-4.2 (commit d70cab044484810cf08d5d0785d491fcce70bbb5)

[2020-08-10 23:45] dyasny commented on #6982
@slivne @penberg whatever you guys decide to do, we need it as soon as possible to be able to help customers

[2020-08-11 04:41] aleksbykov commented on #6892
@asias Issue again reprdouced. Can you check the node4 : 18.202.57.193

[2020-08-11 04:41] aleksbykov commented on #6892
i didn't yet trigger coredump, thought may be you want to get a look on running instances

[2020-08-11 05:57] asias commented on #6892
I can not login with ssh.

[2020-08-11 06:12] asias opened #7009 "Track repair_meta created on both repair follower and master"
It is pretty hard to find the repair_meta object when debugging a core.
We can put the repair_meta object created by both repair follower and master into a map.

[2020-08-11 06:15] aleksbykov commented on #6892
do you have ssh key?

[2020-08-11 06:18] aleksbykov commented on #6892
@asias  Sorry, wrong IP. Use this one: 34.253.205.35

[2020-08-11 06:19] asias commented on #6892
Of course, I have a ssh key. It is probably the qa firewall blocked me. I need to update my ip address there. You can send me an instruction how to login privately over email. I guessed multiple qa keys and failed.

[2020-08-11 06:59] aleksbykov opened #7011 "Scylla initializtion was not completed during terminate node3 (without decommission) and add new node."
*Installation details*
Scylla version (or git commit hash): Scylla version 4.2.rc2-0.20200808.be115149858 with build-id f17bc019f1761caa5413c4f6c4f34d2035705636
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-06738d5cce19f789e

During job [longevity-counters-3h](https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-counters-3h-test/2/) Nemesis TerminateAndRep

[2020-08-11 07:28] asias opened #7012 "scylla-gdb does not install on centos 7"
$ cat /etc/redhat-release
CentOS Linux release 7.8.2003 (Core)

$ cat /etc/yum.repos.d/scylla.repo
[code]

$ sudo yum install scylla-gdb.x86_64
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: d36uatko69830t.cloudfront.net
 * elrepo: www.jules.fm
 * extras: d36uatko69830t.cloudfront.net
 * updates: d36uatko69830t.cloudfront.net
Resolving Dependencies
--> Running tr

[2020-08-11 07:36] bhalevy commented on #7012
/cc @penberg

[2020-08-11 07:36] aleksbykov commented on #7011
All DB Logs: https://cloudius-jenkins-test.s3.amazonaws.com/995eea3f-c60a-49de-81a3-c37484560e9c/20200810_105230/db-cluster-995eea3f.zip

[2020-08-11 07:37] bhalevy commented on #7011
@ShlomiBalalis is this the issue you talked to me about yesterday?

[2020-08-11 07:50] bhalevy commented on #7011
@aleksbykov did you mean enabling autocompaction?

[2020-08-11 07:53] asias opened #7013 "how to install scylla-gdb is not documented"
I checked download page and doc page. It is not mentioned how and where (e.g. yum repo) to install it.

[2020-08-11 07:54] bhalevy commented on #7011
Did the node eventually finished bootstrapping and joined the cluster?
The error from `enableautocompaction` seems legit at the state the node was when it was executed.
After it finishes initialization the command should succeed.

[2020-08-11 07:54] aleksbykov commented on #7011
@bhalevy yes,
nodetool  enableautocompaction scylla_bench

sorry

[2020-08-11 07:57] withings-sas commented on #6923
Hello,

We're still having bad_alloc, even with a lot less files (~1850 Data files)

So our non_lsa memory is always growing and at some point it just start having bad_alloc:

```Aug 11 04:31:13 fr-eqx-scylla-04 scylla[10177]: WARN  2020-08-11 04:31:13,007 [shard 0] storage_proxy - Failed to apply mutation from 192.168.96.47#0: std::bad_alloc (std::bad_alloc)```

![2020-08-11_non_lsa_scylla-04](ht

[2020-08-11 07:57] aleksbykov commented on #7011
But i didn't see in log that initializtion was completed till end the test. while the nodetool status report:
[code]

[2020-08-11 07:58] gleb-cloudius commented on #6925
On Mon, Aug 10, 2020 at 11:28:06AM -0700, Roy Dahan wrote:

So I understood that "internode_compression: all" is new, but what about
"internode_compression: dc" was this ever tested?

--
			Gleb.

[2020-08-11 08:03] eliransin commented on #5514
@avikivity / @syuu1228 I have a working solution for this problem, however it is a little bit cumbersome and the direction needs your approval:
It includes two stages: Add range dependencies in the scylla meta-package and then use aptitude to install those dependencies:
I tested it on enterprise so I will keep the examples using an enterprise version names:
Specifically lets assume that the enterp

[2020-08-11 08:32] nizarh11 commented on #7011
This also reproduces on master-longevity4h:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-100gb-4h-test/193/console

Scylla version (or git commit hash):Scylla version 666.development-0.20200809.8e87c5274 with build-id 5d2cbc3dc5156a08dd86de9c772eb0c03b5b6fb4
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b3b647af24631ea3

Important to add i see the

[2020-08-11 08:54] asias opened #7014 "scylla rpm should install scylla-gdb.py dependences"
$ rpm -qa|grep scylla
scylla-conf-4.2.rc2-0.20200809.0ce379918.x86_64
scylla-tools-4.2.rc2-20200809.712738dfda.noarch
scylla-debuginfo-4.2.rc2-0.20200809.0ce379918.x86_64
scylla-server-4.2.rc2-0.20200809.0ce379918.x86_64
scylla-tools-core-4.2.rc2-20200809.712738dfda.noarch
scylla-machine-image-4.2.rc2-20200810.86ed907cf5.noarch
scylla-python3-3.8.5-0.20200809.0ce379918.x86_64
scylla-kernel-conf-4.

[2020-08-11 08:59] asias opened #7015 "scylla threads does not work in scylla-gdb.py"
scylla-server-4.2.rc2-0.20200809.0ce379918.x86_64

(gdb) set python print-stack full
(gdb) scylla threads
Traceback (most recent call last):
  File "/opt/scylladb/scripts/scylla-gdb.py", line 2316, in invoke
    gdb.write('[shard %2d] (seastar::thread_context*) 0x%x\n' % (shard, int(t.address)))
gdb.error: Cannot convert value to int.
Error occurred in Python command: Cannot convert value to int.

[2020-08-11 09:13] gibsn commented on #6928
Hi! Do you think this fix will be released soon? We are also waiting for another [fix](https://github.com/scylladb/scylla/issues/6776), which has been backported recently and we cannot update until this fix is released

[2020-08-11 09:15] roydahan commented on #7011
It's not clear to me what is the user impact?
Is the node operating normally? (reads and writes?)
Does it have any error?

Is it just missing the log message?

[2020-08-11 09:23] avikivity commented on #7014
Why should scylla install gdb? Most users aren't interested in debugging scylla.

[2020-08-11 09:24] asias opened #7016 "gdb scylla databases gives the same address for different shards"
scylla-server-4.2.rc2-0.20200809.0ce379918.x86_64

(gdb) scylla databases;
    0 (database*)0x60d009436010
    1 (database*)0x601009436010
    2 (database*)0x602009436010
    3 (database*)0x603009436010
    4 (database*)0x604009436010
    5 (database*)0x605009436010
    6 (database*)0x606009436010
    7 (database*)0x607009436010
    8 (database*)0x608009436010
    9 (database*)0x609009436010
   10

[2020-08-11 09:25] denesb commented on #7014
This is a ptyhon3 vs. python2 thing, `html` comes from the python standard library.

[2020-08-11 09:28] avikivity commented on #6923
yes

[2020-08-11 09:28] roydahan commented on #6990
task created.

[2020-08-11 09:29] denesb commented on #7014
Fix on the list: [PATCH v1] scylla-gdb.py: restore python2 compatibility

[2020-08-11 09:36] asias commented on #7014
Not gdb. I mean installing what scylla-gdb.py depends on.

[2020-08-11 09:48] asias commented on #6892
Due to issues like https://github.com/scylladb/scylla/issues/7012 https://github.com/scylladb/scylla/issues/7016, I can not get the repair_meta objects.

This is what I can get from the _streaming_concurrency_sem. All looks idle.

[code]

[2020-08-11 09:53] asias commented on #6892
I saved the core on node 34.253.205.35.

/var/lib/scylla/coredump/my1947.core

[2020-08-11 10:08] denesb commented on #6892
@aleksbykov I want to have a look, leave the machine alive for some time. Will let you know when I'm done with it.

[2020-08-11 10:22] aleksbykov commented on #6892
@denesb Ok, will mark them to keep-alive

[2020-08-11 10:34] nyh commented on #6844
Backported the Seastar patch to the Seastar branch of Scylla 4.2, 4.1 and 4.0

[2020-08-11 11:01] aleksbykov commented on #7011
it is not clear which use impact exactly, despite of nodetool status said the node is UN, but sct didn't see it as free node for another nemesis,
[code]
And if another nemesis will run on this node, it may lead to some data loss or corruption, but it is only guess.

Yes, According log the node continue to operate normaly.

No any error or critical messages

Yes, according log it is not clear was n

[2020-08-11 11:11] slivne commented on #6892
@asias / @aleksbykov lets upload the core to make sure we will not loose it - was the machine on-demand or spot.

[2020-08-11 11:14] bhalevy commented on #7011
@asias I see in https://github.com/scylladb/scylla/files/5055259/system.log.tar.gz the following messages repeated many times:
[code]

and it looks like bootstrapping didn't finish...
[code]

but no "Bootstrap completed" message

[2020-08-11 11:16] aleksbykov commented on #6892
@slivne
Instances are on_demand

[2020-08-11 11:22] withings-sas opened #7019 "some non-prepared statements can leak memory (with set/map/tuple/udt literals)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version: 4.0.4
Cluster size: 10 nodes, 4 shards per node
OS: Ubu

[2020-08-11 11:25] aleksbykov commented on #6892
I think it was automatically detected and uploaded.
[code]

[2020-08-11 11:30] asias commented on #6892
I am not sure who generated the core dump. It looks like it is not the one I generated and stored /var/lib/scylla/coredump/my1947.core.

[2020-08-11 11:35] aleksbykov commented on #6892
@asias yes, it looks like the core of gdb process not scylla

[2020-08-11 11:42] asias commented on #6892
Can you help storing /var/lib/scylla/coredump/my1947.core somewhere after Botond handle over the machine to you.

[2020-08-11 11:57] avikivity commented on #7019
Please provide the output of `lsof` (as root).

[2020-08-11 12:00] avikivity commented on #7014
Right, I misread.

What does it depend on?

[2020-08-11 12:02] avikivity commented on #7016
/cc @denesb

[2020-08-11 12:11] denesb commented on #7014
Nothing besides the standard python library. Python is complaining about the `html` library because this was added in python3, while the system where @asias tried to use the script has python2.

[2020-08-11 12:18] lishiling5121 opened #7020 "can a fixed-length sets feature be added"
I create a table named carinfo to record car's info and there is a field named location in the table. The attribute of location field is the sets, I will write some data into the field. But some records have a lot of data in location field, the amount is more than one million, which seriously affects query performance, and worse, I only need the first 5000.
This is the carinfo table:
CREATE TABLE

[2020-08-11 12:37] raphaelsc commented on #6928
I plan to send next iteration of the fix today, and after it cooks for a few days in master, it will probably be backported to your version.

[2020-08-11 13:17] aleksbykov commented on #6892
@asias i uploaded the core. download link : https://storage.cloud.google.com/upload.scylladb.com/6892/my1947.core.gz it is compressed with pigz.

[2020-08-11 13:23] avikivity commented on #7014
So nothing needs to be done?

[2020-08-11 13:24] avikivity commented on #7020
We only see the size of a set during compaction, and even then only in some cases. But it may be doable. I agree it makes some sense.

/cc @tzach

[2020-08-11 13:25] denesb commented on #6892
@aleksbykov https://storage.cloud.google.com/upload.scylladb.com/6892/my1947.core.gz has 0 bytes.

[2020-08-11 13:29] denesb commented on #7014
The patch above fixes the issue (gets rid of the problematic `html` import).

[2020-08-11 13:29] withings-sas commented on #7019
I have uploaded it on upload.scylladb.com: 7d1a94ea-eea4-455d-a335-2cdf8ae858f7 / 2020-08-11.lsof.gz

But the node just restarted, I can do it later or on another node more close to its capacity, if necessary

[2020-08-11 13:35] avikivity commented on #7019
I see you have lots of tables names window_xx. How many talbes do you have? What is their schema?

[2020-08-11 13:36] avikivity commented on #7014
Ah, and the patch references the issue too.

[2020-08-11 13:42] avikivity commented on #6992
And how were the certificates generated (not that I understand anything about it, but maybe it will help @elcallio).

[2020-08-11 13:43] avikivity commented on #6992
Also, do you have internode compression?

[2020-08-11 13:43] aleksbykov commented on #6892
Will recheck and reupload.

[2020-08-11 13:43] aleksbykov commented on #6892
Will recheck and reupload.

[2020-08-11 14:06] bhalevy commented on #6773
Sent "[PATCH 1/1] test: cql_query_test: test_cache_bypass: use table stats" to scylladb-dev

[2020-08-11 14:24] roydahan commented on #7007
It seems similar to other issues where some nodes are "stuck" with old state.

Regarding why the query has failed, I don't know.

[2020-08-11 14:38] nyh commented on #7020
Nice idea.

You mentioned "sets", but note that sets are not ordered by time, so there is no trivial way to drop specifically the **oldest** items in the set as @lishiling5121 requested. For small number of kept items (like the 5000 @lishiling5121 mentioned), a reasonable approach is to keep a heap of "newest N" items, and only output it after reading all the items of the set. This is possible but

[2020-08-11 14:57] withings-sas commented on #7019
we have 45 window_xx tables and the same number of window_xx_last

window_xx_last are small, and window_xx contain the data:
[code]

[2020-08-11 16:48] avikivity commented on #7019
Does the total number of files agree with the number of table * number of windows * number of shards?

It's best to avoid such similar tables and consolidate them.

[2020-08-11 16:58] antonio-tringali commented on #6992
Certificate were generated by an internal certificate authority and worked well before upgrade. I do not know many more details.
Internode compression is enabled for datacenters:
[code]

[2020-08-11 17:00] avikivity commented on #6992
@elcallio please help

[2020-08-11 17:32] #4442 closed

[2020-08-11 17:32] #6976 closed

[2020-08-11 17:32] #6948 closed

[2020-08-11 17:32] #7000 closed

[2020-08-11 17:32] #6448 closed

[2020-08-11 17:32] #6997 closed

[2020-08-11 17:32] #6940 closed

[2020-08-11 17:32] #6975 closed

[2020-08-11 17:56] slivne commented on #6992
@antonio-tringali I ran multiple upgrade tests from 4.0.0 --> 4.0.5 with server_encryption, client_encryption, server+client_encryption and can't reproduce this.

it will help if you can share the info about the certificates / keys.

If its possible and you can generate test keys/certificates using the same parameters you use just with different strings - it will help to try and see if we can repr

[2020-08-11 18:08] avikivity commented on #6975
@fgelcer please re-run the repair stall tests on master

[2020-08-11 19:07] slivne commented on #6905
@eliransin can you please have someone help with this

[2020-08-11 19:40] withings-sas commented on #7019
Yes it does agree,

I see, we could also try to decrease further the number of files by increasing the size of the windows or reducing the number of shards, but we already reduced quite a lot the number of files (about 5x) and it didn't help much (we discussed it on slack).

We could also try to add a column (corresponding to the 'xx') to consolidate all the tables, though I am not sure it's wise

[2020-08-11 19:53] gnumoreno commented on #6381
@slivne FYI just tried this on 4.0.6 and 4.1.4, same problem.

It will hurt us on k8s operator and everything docker related.

@penberg also FYI.

[2020-08-11 21:00] #6773 closed

[2020-08-11 21:35] espindola commented on #6982
We don't compress debuginfo in executables ourselves since b5667b9c31cdf78b2552948fc9aa44e769eae1a1, which is even in 3.3.
So any compression is done during the rpm/deb creation, which I am not familiar with. At least for rpms we put the debug info in another rpm. Do we do the same for .deb? If so, could we just disable compression? The rpm/deb will not even be that big, since the package is compr

[2020-08-12 01:59] amoskong opened #7022 "nodetool won't fail in refreshing in main SSTable directory, no db error raised"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200810.52ec0c683  & 4.2.rc2-0.20200810.0ce3799187c
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

Loding SSTable files from main directory isn't supported by Scylla from 4.1
We disabled it by https://github.com/scylladb/scylla/commit/70e5252a5d5183a51635154b3aa602a4812c67ce

In my test result, it's only unsu

[2020-08-12 02:45] lishiling5121 commented on #7020
Thank you very much for your reply. To add a capped feature on sets maybe complex and inefficient, but it's very uesful to me. In my sense, every car's `location` field should be deduplicated. Many times there is no need to duplicate data, nor too much old data.

[2020-08-12 04:43] denesb commented on #7014
The patch was merged as b11d181413, we can close this.

[2020-08-12 04:43] #7014 closed

[2020-08-12 05:44] denesb commented on #7015
I don't understand why this error is happening. Initially I thought `t.address` is `None` (it is for objects whose address cannot be obtained), but that is not the case. Changing `int(t.address)` to `int(str(t.address), 16)` works. Could have something to do with python2 or slightly older gdb (8.0).

[2020-08-12 05:52] denesb commented on #7020
Actually, in non-frozen collections, individual cells have timestamps, which we can use to order them and drop any in excess of the limit. Of course this is the mutation timestamp which is overridable by the user, so it can cause some suprises.

[2020-08-12 06:55] nyh commented on #7020
Yes, we definitely do have the *data* needed to keep only the newest items also in a set. My point was that there is no trivial way to do it as we (and MongoDB) can do it with lists. I this being possible in sets by using a heap of N kept items on every read, but that requires O(NlogN) time complexity and O(N) memory complexity on every read operation (or compaction). This may be perfectly fine fo

[2020-08-12 07:42] withings-sas commented on #7019
I think I found something interesting, if I configure our app to query only some nodes, the non_lsa memory growth is suddenly becoming flat on the non active nodes:

![2020-08-12_non_lsa_split](https://user-images.githubusercontent.com/5138925/89988481-e5a56300-dc7f-11ea-817e-35bf669a27a5.png)

So the memory seems to be used to handle client connections ? It's worth noting that our client being ph

[2020-08-12 07:59] avikivity commented on #7019
Ah, good hint. Maybe there are connection leaks. Look at the current connection count (per shard). What are the numbers?

Scylla has protection against too much memory used in queries, but we may miss something with the total number of connections.

[2020-08-12 08:05] avikivity commented on #6982
Yes (-gdb.deb suffix)

Another option is to adjust the compression to something understood by older tools. Or just to use newer tools.

[2020-08-12 08:23] avikivity commented on #7020
5000 is way too much for a collection.

We can require read-before-write for bounded lists (and some list operations already do a read-before-write).

[2020-08-12 08:35] avikivity commented on #4442
New feature, not backporting.

[2020-08-12 08:42] denesb commented on #6892
Just for the record the latest version this was reproduced with is 4.2.rc2-0.20200809.0ce379918, build-id: 9d98e70c2e1b2804e3c5c97cbd90db1fb31df2cd.

[2020-08-12 08:58] nyh commented on #7020
This is a good point. We have a fairly good explanation in https://docs.scylladb.com/getting-started/types/#noteworthy-characteristics on the downsides of collections. It particular, a single collection is a single row (Scylla has good support for long partitions, but not as good for long rows) and can only be retrieved as a whole. I don't know if 5000 is too much or still fine - it also depends o

[2020-08-12 09:00] bhalevy commented on #4042
Fixed by 3530e80ce10fc20b178c8fbe94ab151b43cf1714

[2020-08-12 09:00] #4042 closed

[2020-08-12 09:04] denesb commented on #7016
This is because:
[code]
`not shard` will evaluate to `True` for `shard=0`, so if this is invoked from any shard besides `0`, the database instance for shard 0 will be replaced with that of the current shard.

[2020-08-12 09:08] denesb commented on #6892
It is crazy how fragile thread debugging is. On the server, with gdb 8.0 (devtoolset-7-gdb) *only* the following sequence of commands worked:
[code]
This same command sequence is not working anymore with gdb 8.3 (devtoolset-9-gdb).

In dbuild, *only* this works:
[code]

[2020-08-12 09:12] denesb commented on #7020
On Wed, 2020-08-12 at 01:59 -0700, nyh wrote:

In the code we have a per-partition row limit that you can pass down in
the slice, this could be used to limit the number of clustering rows in
each partition to 5000. Not sure what the CQL syntax is.

If the clustering key was a monotonically increasing id, one could also
pair a deletion with ($recent_id - 5000) to each write to this table.

[2020-08-12 09:13] denesb commented on #6892
The only way to figure out what works is through endless trial-and-error.

[2020-08-12 09:21] penberg opened #7023 "Reduce build system dependency on SCYLLA-VERSION-GEN"
@avikivity writes:

[code]

Various other scripts assume that `SCYLLA-VERSION-GEN` (or the files it generates) exist. Let's clean up the build system to discover the version number once and pass it as a parameter to the various scripts.

[2020-08-12 09:38] aleksbykov commented on #6892
@denesb finally coredump uploaded
https://storage.googleapis.com/upload.scylladb.com/6892/my1947.core.gz

[2020-08-12 09:42] denesb commented on #6892
[code]
It seeems two shards have repair activity.

[2020-08-12 09:43] denesb commented on #6892
@aleksbykov I have already downloaded it locally. If @asias is also done with the machine it can be shut down.

[2020-08-12 09:47] aleksbykov commented on #6645
Issue reproduced during job: https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/29/
for scylla version : init - Scylla version 4.2.rc2-0.20200810.0ce3799187c initialization completed
For db node-2:
[system.log.tar.gz](https://github.com/scylladb/scylla/files/5061882/system.log.tar.gz)

[2020-08-12 10:01] nyh commented on #6561
Looks like a bug fix that should be backported, but I need to check now which of the version branches actually includes the relevant code - this CDC code has been moving quickly.

[2020-08-12 10:08] asias commented on #6892
Yes, we can destroy it now.

[2020-08-12 10:23] aleksbykov opened #7025 "nodetool repair failed on target node and another node goes to status DN"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.2.rc2-0.20200810.0ce3799187c with build-id fa7b6ed9379c15526c5f6507e7ca4dff217427c9
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-00ff43fdf830abda7

Job with [longevity-cdc-100gb-4h-test](https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/29/) was failed, after node2 was detec

[2020-08-12 10:27] aleksbykov commented on #6892
@asias @denesb Thanks. I am going to destroy cluster.

[2020-08-12 10:58] nyh commented on #6561
This relatively-old patch is already in branch-4.2.
Backported to next-4.1 - commit 07b7df9171e5cd6b75efaa4cc8dad086be2e1e89
Backported to next-4.0 - commit 3ee854f9fcc584a28a26a26bc0e81a5475c0539d

[2020-08-12 11:06] fgelcer commented on #6975
running, will post results and report new and old issues when we hit them.

[2020-08-12 12:00] withings-sas commented on #7019
For transport_cql_connections it's quite high (6M before I restarted the node) and always growing:

![2020-08-12_scylla_connections](https://user-images.githubusercontent.com/5138925/90012574-e9e37780-dca3-11ea-825f-40803e926a39.png)

[2020-08-12 12:42] avikivity commented on #7019
Well, we don't support an infinite number of connections.

What does `ss -t` say? To find out whether those are established connections, or whether they are zombies.

[2020-08-12 13:20] tzach commented on #5160
@slivne AFAIU this is not going to be in 4.2

[2020-08-12 13:21] tzach commented on #3705
We should take advantage of #5160
Does not make sense to switch to yet another proprietary login

[2020-08-12 13:36] avikivity commented on #3705
How is #5160 related?

[2020-08-12 13:39] avikivity commented on #5514
I think we should implement @syuu1228 's idea. We need it anyway for master.

[2020-08-12 13:45] eliransin commented on #5514
@avikivity are you refering to this?
If you do, what is there to implement except specifying this line somewhere? (in the docs or somewhere else)
I would still add the dependency part since without it users will be mislead that they are installing a certain version while
in fact they are installing the latest one.

[2020-08-12 13:48] avikivity commented on #5514
No, the idea of having the same full version for all packages.

https://github.com/scylladb/scylla/issues/5514#issuecomment-576516050

[2020-08-12 13:49] avikivity commented on #5514
But I see he later said it doesn't work. If debian doesn't support it, we don't need to support it either.

[2020-08-12 14:02] withings-sas commented on #7019
I think they are zombies, ``ss -t`` has ~200 lines, mostly scylla nodes IPs, not many clients

[code]

maybe the clients are not behaving correctly but should scylla have some kind of protection, especially if there is no corresponding alive tcp connection ?

[2020-08-12 14:03] eliransin commented on #5514
OK, the idea that will definitely work is the one from @syuu1228 comment, simply move to a single package.
However the real bug here is that a user that tries to install an older version end up with a newer one without him knowing,
IMO it is better if the installation will fail if the user tries to do this and not end up with a version he doesn't expect.

[2020-08-12 14:08] avikivity commented on #7019
200 connections shouldn't cause any problems. I've seen nodes with thousands with no trouble.

[2020-08-12 14:10] avikivity commented on #7019
`transport_cql_connections` is the total number of connections since the node booted, look for current_connections for the current number.

[2020-08-12 14:11] avikivity commented on #7019
btw, non_lsa memory of 20MB is quite reasonable (even low).

[2020-08-12 14:11] avikivity commented on #7019
If it grows high, kill it with SIGABRT and we can look at the core to find the reason.

[2020-08-12 14:12] avikivity commented on #5514
Single package is too much. We want the ability not to install jmx or kernel-conf.

[2020-08-12 14:13] #1244 closed

[2020-08-12 14:13] #7009 closed

[2020-08-12 14:13] #7016 closed

[2020-08-12 14:27] nyh opened #7030 "Alternator Streams: OldImage is missing unmodified LSI/GSI-key attributes"
DynamoDB Streams includes the entire old item as the value of OldImage when OLD_IMAGE mode is enabled.
In contrast, in our CDC implementation, the "preimage" only includes the columns touched by the update - not the entire old item.
In most cases, this doesn't cause problems: Usually Alternator's attributes are not kept as separate Scylla columns - they are just elements of a single map column - a

[2020-08-12 14:56] avikivity commented on #2622
@wmitros try to get yourself assigned to this

[2020-08-12 15:34] raphaelsc commented on #2622
On Wed, Aug 12, 2020 at 11:56 AM Avi Kivity <notifications@github.com>
wrote:

This will help a lot with the incremental compaction approach, which
modifies the sstable set way too frequently.

[2020-08-12 15:36] withings-sas commented on #7019
the graph shows the derivative so it's the *changes* not the amount, we currently have 20+**G** of non_lsa (see first graph).

indeed, all '*_current_connections' are less than 5.

understood

[2020-08-12 15:52] slivne commented on #6990
@elcallio is ```--simulate``` also fixed ?

[2020-08-12 16:03] elcallio commented on #6990
What do mean "is `--simulate` fixed"? It was never broken.

[2020-08-12 17:11] #6991 closed

[2020-08-12 17:57] nyh opened #7031 "Alternator: ignore disabled SSESpecification"
`SSESpecification` is a `CreateTable` parameter choosing "server-encryption" options, described here: https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_SSESpecification.html

Currently, we do not allow this option at all - if this parameter is given, we fail the `CreateTable`:
[code]

However, this is the wrong thing to do - we should allow `SSESpecification` itself, and only prin

[2020-08-12 23:29] #7030 closed

[2020-08-13 00:47] asias opened #7032 "Status of drained node after restart stayed as DN in the output of "nodetool status" on another node"
Test runs scylla-bench load with large partitions.
During drain nemesis node 2 (IP 10.0.161.27) has been drained. Then Scylla was restarted on this node.

Node was back at 12:55:26:
[code]
All other nodes see node 2 as UN (up and normal). For example, node 3 (public IP 54.154.31.77):
[code]
Except of node 5. There node 2 is in DN status:
[code]

From node 5 log at 12:57:43 (after the node 2 was ba

[2020-08-13 06:12] tzach commented on #3705
Is it just the kernel, or will the AMI be based on Amazon AMI?
If the first, you can close this issue
If the second, it have a different default login (not `centos`)

[2020-08-13 07:16] nyh commented on #7031
Patch being reviewed on the mailing list, titled "Alternator: allow CreateTable with SSESpecification explicitly disabled"

[2020-08-13 07:57] slivne opened #7035 "sstableloader should warn in case a ks/cf directory holds sstables with an unknown format"
sstaleloader today emits stats for its run

We need to add a stat + warning that sstable loader failed to upload sstables of unknown format.

[2020-08-13 08:09] aleksbykov opened #7036 "Performance regression on I3en with Linux 5.8"
*Installation details*
Scylla version (or git commit hash): version 4.2.rc2-0.20200811.b052f3f5cea
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-04983b862895e0534

Job [longevity-8h-large-num-columns](https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/gemini-/job/gemini-8h-large-num-columns-test/12/) was failed.

gemini command
[code]
the command generated table with 9 partitio

[2020-08-13 08:18] avikivity commented on #7036
I don't see ami-04983b862895e0534 in Ireland. Which region is it in?

[2020-08-13 08:21] avikivity commented on #7036
Also, what instance type was used?

[2020-08-13 08:26] avikivity commented on #7036
Couldn't find an the exact AMI ID, but a similar one:

    ami-0bf36261ff9c82df5

has Linux 5.8.1:

    Linux ip-172-31-1-234.eu-west-1.compute.internal 5.8.1-1.el7.elrepo.x86_64 #1 SMP Tue Aug 11 12:01:11 EDT 2020 x86_64 x86_64 x86_64 GNU/Linux

This is consistent with other reports with problems in 5.8 kernels.

[2020-08-13 08:31] aleksbykov commented on #7036
Sorry, forgot to mentioned that it on eu-north-1 region.

[2020-08-13 08:32] aleksbykov commented on #7036
Instance type was : i3en.3xlarge

[2020-08-13 08:34] roydahan commented on #7036
@aleksbykov do you have monitor?

[2020-08-13 08:35] aleksbykov commented on #7036
@roydahan instances were removed.  but i think i can restore it

[2020-08-13 08:35] avikivity commented on #7036
This is consistent with the other reports that mentioned i3en+5.8

[2020-08-13 08:36] avikivity commented on #7036
No need to restore it.

[2020-08-13 08:38] asias opened #7037 "scylla-gdb.py: Add boost_intrusive_list_printer"
It is needed to print the boost::intrusive::list which is used by repair_meta_for_masters in repair.

[2020-08-13 09:13] avikivity commented on #7036
Linux kernel version from the reported AMI ID: `5.8.1-1.el7.elrepo.x86_64`

[2020-08-13 10:22] aleksbykov commented on #6925
Issue was reproduced during job: https://jenkins.scylladb.com/job/scylla-4.2/job/rolling-upgrade/job/rolling-upgrade-centos8-test/27/consoleFull
for scylla version: Scylla version 4.1.4-0.20200809.76f4bc4c6f0 with build-id e679737b8b1822cd4bcfdceb8cf5482a98689efd

3 nodes: node1, node2, node3 reported the
2020-08-13T08:59:54+00:00  rolling-upgrade-4-2-centos-db-node-103f1dd0-0-3 !ERR     | scylla[

[2020-08-13 11:07] slivne commented on #7011
@asias any way to understand if this is caused by the stuck repair ?

[2020-08-13 11:15] avikivity commented on #7036
@roydahan

 - please check on I3en.metal
 - please provide a simple reproducer (launch single-node cluster, launch loader, run command) that is suitable for someone with no Scylla experience to run

[2020-08-13 11:28] aleksbykov commented on #6925
Similar issue happened in job https://jenkins.scylladb.com/job/scylla-4.2/job/rolling-upgrade/job/rolling-upgrade-ubuntu18.04-test/34/

Node2 reported next errors during bootstrapping:
[code]
And scylla was n't up.

All db logs: https://cloudius-jenkins-test.s3.amazonaws.com/9ba87a47-87d8-48bd-a973-c93df30b8edd/20200813_111342/db-cluster-9ba87a47.zip

[2020-08-13 11:29] penberg opened #7039 "Unified tarball is not compressed"
As pointed out by @hagitsegev, the unified tarball is larger than the sum of the individual tarballs. As it turns out, it's not compressed:

[code]

In comparison:

[code]

[2020-08-13 13:25] avikivity commented on #3705
#5160 is about the kernel.

I don't see why I can close either issue.

What is "it" in "it can have a different default login"?

[2020-08-13 14:07] penberg commented on #6982
If I set up a Docker container as follows:

[code]

Resolving this backtrace:

[code]

Looks as follows:

[code]

@vladzcloudius Does this backtrace look correct to you?

[2020-08-13 14:30] denesb commented on #6892
[code]
Repair is blocked here:
https://github.com/scylladb/scylla/blob/b052f3f5cea30a8b518981310870930742d5addd/repair/row_level.cc#L2567-L2569

[2020-08-13 14:33] denesb commented on #6892
@asias
[code]

[2020-08-13 14:47] vladzcloudius commented on #6982
@penberg No, it doesn't. It looks all mixed up, e.g. reactor::run_tasks() is usually one of the first symbols at the bottom - here it's at the top.
So, one could think it's reversed but then when you start following calls you see that it isn't.

@avikivity suspects that this may be because there are symbols from two (or more) backtraces that happened at the same time on different shards and symbol

[2020-08-13 14:48] slivne commented on #7036
Please note this bug doesn't reproduce every time - for us its 1 out of 4 runs (so you may need to retry provisioning a scylla node till you hit the bad case)

Simple reproducer

- Run ScyllaDB 4.1.4 AMI on i3en.3xl instance - this is the scylla node
- Run ScyllaDB 4.1.4 AMI on c4.4xl instance - this is the loader node
((in US-EAST 1 - the AMI ID is ami-06f7b1e45dd4b54eb)

On the loader node run t

[2020-08-13 14:54] denesb commented on #6892
I inspected another repair instance, same backtrace:
[code]

[2020-08-13 15:28] slivne commented on #6956
@bishnuagrawal-zeotap anyway to prove Raphael's theory that sstables from one table where placed incorrectly in another tables directory ?
- Did you restore files at some point ?
- Is the a "clean" scylla cluster you started from scratch and wrote CQL - or a "migrated" cluster from cassandra ?

[2020-08-13 20:17] raphaelsc commented on #7022
refresh is now ignoring the SSTables placed in the main table dir. The question is: was the period of deprecation long enough? it's been only 3 months since we deprecated the feature.

I think we unintentionally did this after the off-strategy changes for refresh. Not sure.

@slivne @avikivity @bhalevy

[2020-08-13 21:28] raphaelsc commented on #6885
scylla metadata is apparently growing like never before, probably a regression after off-strategy changes, i will investigate

input sst 111 [
  data   = 9kB
  index  = 3kB
  filter = 1kB
  summar = 92 bytes
  scylla = 78 bytes
]

output sst 116 [
  data   = 4kB
  index  = 1kB
  filter = 176 bytes
  summar = 92 bytes
  scylla = 88kB
]
output sst 117 [
  data   = 5kB
  index  = 2kB
  filter = 176 b

[2020-08-14 01:17] asias commented on #6892
node 5 is using the "bad" 5.8 kernel:

`2020-08-04T16:23:56+00:00  longevity-tls-50gb-4d-4-2-db-node-d47cc9a7-5 !NOTICE  | kernel: Linux version 5.8.0-1.el7.elrepo.x86_64 (mockbuild@Build64R7) (gcc (GCC) 9.3.1 20200408 (Red Hat 9.3.1-2), GNU ld version 2.32-16.el7       ) #1 SMP Sun Aug 2 18:18:16 EDT 2020`

[2020-08-14 07:24] denesb commented on #6892
In frame 3:
[code]
The `parallel_for_each` state has no incomplete futures, yet the future of the parallel for each state is unavailable.

[2020-08-14 08:06] denesb commented on #6892
This parallel for each turned out to be a red herring. There is one future it is still waiting on:
[code]

The last future is blocked on:
[code]
The first future is unavailable, this is: `write_end_of_stream(node_idx)`.

[2020-08-14 08:49] syuu1228 commented on #6982
I guess we may able to solve issue by providing relocatable addr2line from Fedora 32,
since the error caused because toolchain is too old on the distribution.

But I checked debuginfo compression status of rpm/deb anyway, described below:

----

On rpm, we disabled DWARF compression from branch-3.2:
https://github.com/scylladb/scylla/commit/df3563c1ae2b64f541023a5844d3e757f38c1e50
related: #5289

[2020-08-14 09:17] denesb commented on #6892
Full fiber:
[code]

[2020-08-14 12:58] penberg commented on #7039
I have sent a patch ("[PATCH scylla] build_unified.sh: Compress generated tarball") to fix this on the mailing list.

[2020-08-14 14:01] krisplazonic opened #7043 "scylla vs cassandra compatibility issue (spark connector filtering on secondary index)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.4-0.20200809.76f4bc4c6f0
Clust

[2020-08-14 14:39] roydahan commented on #7036
Based on what @amoskong reported on the enterprise issue, in order to reproduce we need a cluster with at least one node that has the “bad” kernel.

5.8.1-1.el7.elrepo.x86_64: Good
5.8.0-1.el7.elrepo.x86_64: Bad
5.7.12-1.el7.elrepo.x86_64: Good
5.7.6-1.el7.elrepo.x86_64: Good

According to @amoskong he couldn’t find which commit in 5.8.1 fixes the issue, but the issue is fixed.

[2020-08-14 15:31] raphaelsc commented on #6885
that seems like expected behavior. when you change smp count from M to N, where N > M, the sharding metadata of the resharding sstable may grow bigger as a result of splitting more the token range spanned by it. So if data size of input sstable is relatively small, we'll see compaction producing output which is bigger than input. This problem will not happen with reasonably sized sstables, as a re

[2020-08-14 20:51] roydahan commented on #4573
@slivne / @tzach, out of personal curiosity, how hard would it be to support “GeoJson” and develop geospatial queries using UDF or its infrastructure.

[2020-08-15 07:22] bhalevy commented on #7022
I think we should fail refresh like we did before rather than just ignore sstables in the main directory since those may cause errors due to clash of generation numbers, or will seem to appear out of nowhere after restart.

[2020-08-15 17:11] avikivity commented on #7036
There is nothing relevant in 5.8.1, please try again.

[2020-08-16 08:34] tzach commented on #4573
The challenge is making it efficient, hance find "close" location point fast, not using a full scan.

[2020-08-16 10:09] bhalevy opened #7044 "abstract_replication_strategy::do_get_ranges is passed a reference to token_metadata that may be invalidated if it yields"
Change 94995acedb42fc7d15c5e65fcd5def9dcfca1984 added yielding to `abstract_replication_strategy::do_get_ranges`.
However, there is nothing to prevent `token_metadata`, and in particular its `_sorted_tokens` to change while iterating over them in `do_get_ranges` if the latter yields.

`token_metadata_impl::update_normal_tokens` may overwrite `_sorted_tokens`, freeing the previous vector `do_get_ra

[2020-08-16 10:25] roydahan commented on #7025
@aleksbykov if the second rebuild during RebuildStreamingErr on node2 failed, this nemesis may have left the node with missing data.

I don’t know if this is the cause of the failed repair (doesn’t look like) but just to be aware of it.

[2020-08-16 10:32] bhalevy commented on #7044
The call from `compaction_manager::perform_cleanup` that was added in 07e253542d6b2611ee4b1c8df2653b0af4ef085a is problematic since it walks over the keyspace replication strategy's `token_metadata`.

The call from do_rebuild_replace_with_repair that was added in e3c2d08f4f9 is ok since it uses a local token_metadata parameter.

[2020-08-16 10:47] nizarh11 opened #7045 "nodetool status fails: Unexpected exception while handling result in ResponseFuture"
*Installation details*
Scylla version (or git commit hash):master:latest
Cluster size:6
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-0f005568801b03e76

Description:
"nodetool -u cassandra -pw cassandra  status " failed on cassandra.cluster.ResponseFuture._set_result:
```Unexpected exception while handling result in ResponseFuture: < t:2020-08-14 16:09:24,450 f:libevreactor.py l:361  c:c```

SCT.log:
[code]

[2020-08-16 10:55] avikivity commented on #6885
Ah, does the report include all components?

If so it makes sense.

[2020-08-16 11:04] raphaelsc commented on #6885
yes

[2020-08-16 11:13] bhalevy commented on #7044
Currently this is confined to master so not backport needed.

[2020-08-16 11:22] avikivity commented on #7044
Please consider people who write release notes when authoring issues. How is someone to make sense of it?

The issue should describe the problem (what's wrong now), not the fix (what it should be doing).

[2020-08-16 11:22] avikivity commented on #6885
Closing as invalid.

[2020-08-16 11:22] #6885 closed

[2020-08-16 11:55] avikivity commented on #7043
Can you extract the CQL queries generated by Spark? Perhaps with Scylla tracing, or with Spark logging.

[2020-08-16 12:28] syuu1228 opened #7046 "building rpm on aarch64 fails with "Missing build-id""
On Fedora/aarch64, rpm build fails with "Missing build-id" error as follows:
[code]

The binary on BUILDROOT does not have build-id as rpmbuild says, even origin binary has it:
[code]

I found that patchelf erasing build-id, which we uses in install.sh:
[code]

[2020-08-16 12:29] syuu1228 commented on #7046
Related #7026

[2020-08-16 12:43] #7032 closed

[2020-08-16 12:43] #7037 closed

[2020-08-16 15:16] avikivity commented on #7046
@espindola please investigate

[2020-08-16 15:18] avikivity commented on #7022
I think it's fine not to support it. We added upload/ many years ago.

[2020-08-16 15:21] avikivity commented on #6982
/cc @denesb

[2020-08-16 15:29] avikivity commented on #6563
It's not exactly yound but may be good enough.

[2020-08-16 16:39] #7039 closed

[2020-08-16 17:41] santithorn opened #7047 "Repair session stuck forever"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [✓] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.4
Cluster size: 3+2
OS (RHEL/C

[2020-08-17 00:42] amoskong commented on #7022
We don't expect refreshing in main directory is re-supported, but raise error when user try to do that, 'nodetool refresh' command should fail.

[2020-08-17 01:43] #6738 closed

[2020-08-17 05:59] denesb commented on #7015
Even if the annoying `Cannot convert value to int` doesn't show up, `scylla thread` doesn't work because `GDB` crashes when we try to write the registers, but even if it wouldn't crash it wouldn't work in coredumps as registers (and memory) cannot be written to in coredumps.
I'm working on a patch to GDB to provide a way to inspect `seastar::thread` backtraces that works in coredumps too. Initial

[2020-08-17 06:47] asias commented on #6892
One of the repair instance hangs on repair_row_level_stop below

[code]
which in turn calls

[code]

The core shows it was waiting for _repair_writer.wait_for_writer_done, and the flat mutation reader associated with _mq[node_idx] has had empty buffer and it was in the status of EOS. This suggests the consumer of this reader (sstable consumer which reads data from the reader and writes to disk) ha

[2020-08-17 07:19] eliransin commented on #6915
@psarna / @haaawk what should be done to find this patch? (besides brute force bisection of course :slightly_smiling_face: )
Can one of you help with that?

[2020-08-17 07:30] #6938 closed

[2020-08-17 07:30] #6982 closed

[2020-08-17 07:55] piodul opened #7048 "Update hinted handoff configuration format to the newest Cassandra format"
Our implementation of hinted handoff supports the old format for specifying towards which DCs hints are enabled. There is a single option 'hinted_handoff_enabled' that controls it. Examples:

[code]

In version 3.0, Cassandra switched to a new format which separates global on/off switch from a list of DCs. An example taken from [cassandra.yaml](https://github.com/apache/cassandra/blob/139ad44e8b53

[2020-08-17 08:03] denesb commented on #6892
[code]
There are no available units and 24 waiters ... and 24 stuck repairs. It seems repairs are blocked on view generation.

[2020-08-17 08:09] haaawk commented on #6915
Do we have to do anything? It seems that the patch is fine on master is backporting necessary?

[2020-08-17 08:36] asias opened #7049 "scylla-gdb.py: print source file of function associated with scylla tasks"
(gdb) scylla tasks
[code]
It is almost impossible to read what the function is associated with the task.

It would be great if we print the source file + line the function associated with the task.

[2020-08-17 08:41] denesb commented on #6892
[code]
[code]

This looks very wrong. The view generation loop is idle (waiting for more sstables), yet the repair instances that registered sstables are still blocked.

[2020-08-17 08:43] denesb commented on #6892
I double checked and 4.2.rc2 has fea83f6ae, which is supposed to fix the register semaphore. But maybe there is another bug I overlooked, or the fix itself introduced one.

[2020-08-17 09:45] slivne commented on #7047
@asias what additional information do you need ?

Please note this is happening on tables without MV as well

[2020-08-17 10:02] slivne commented on #7020
@tzach assigned it to you o set priority

[2020-08-17 10:10] nizarh11 opened #7050 "Coredump detected on node, while compaction is running (during CDC)"
*Installation details*
Scylla version (or git commit hash):
version 666.development-0.20200816.7e01ae089e1 with build-id 356b1d2909ecd962085042f1e010589f790f3705
Cluster size:6
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-060f01648147dd51b

**Description**: Coredump detected on node3 while compaction is running

CoreDump happened twice for the same node:
[code]

Compaction messages after the coredump:

[co

[2020-08-17 10:21] asias commented on #7047
4.1.4 is missing the following patch which fixes non-mv table stall.

[code]

[2020-08-17 10:43] amoskong commented on #7036
I do reproduce the issue with 5.8.1. Before retest, I cleaned the data of cluster.

Reproduce scenario:

- create a cluster (2 db nodes)
- update kernel to 5.8.0 / 5.8.1
- clean the cluster data
- run c-s workload from db node 1
    - cassandra-stress write no-warmup duration=20s -rate threads=200 -schema 'replication(factor=2)'

[2020-08-17 10:58] roydahan commented on #7050
@nizarh11 please add the backtrace and decode it.

[2020-08-17 11:01] elcallio commented on #7035
Not sure what you are aiming for here, or what the use case/point of pain is? The SSTable parser code in origin (which is what read stuff for sstableloader) does validation of format, in the sense that it checks if it is too old (or in general not recognized), but for it sort of assumes that formats _newer_ than the "current" one (mc) are enough backwards compatible that they can be read.

Do we h

[2020-08-17 11:13] piodul opened #7051 "Hinted handoff is using very long timeout to sending some hints"
A hint that is stored on disk is associated with a target endpoint. When a hint is considered to be sent, it is usually sent directly to the target endpoint.

However, the topology might have changed since the time the hint was written, and the target endpoint is no longer a replica for the hint. In such case, the hint is sent with CL=ALL to all known current replicas.

Both cases are handled with

[2020-08-17 11:15] nyh commented on #7031
@slivne @psarna patch already on the mailing list, needs review and commit.

[2020-08-17 11:16] slivne commented on #7025
@asias this a case of repair without MVs that is failing - we need to understand the source.

[2020-08-17 11:19] elcallio commented on #6992
Actually, #5963 looks somewhat applicable here. And it is in the 4.0.3+ range.  Since the whole issue there was that compression did in fact not work, it might be the case that upgrading from a cluster where internode_compression is _enabled_ but does not actually work to a version where it _does_ would cause some confusion on RPC level (old nodes say "I am compressed, but send uncompressed data -

[2020-08-17 11:20] haaawk commented on #7051
Good catch @piodul

[2020-08-17 12:12] withings-sas commented on #7019
I've wait to fill a bit the RAM, and did a coredump, under report: 3158f06f-c05d-4ccd-b351-1bb7202e2834

Scylla version: 4.0.6-0.20200806.da9e7080c

[2020-08-17 12:25] amoskong commented on #7036
Hi @avikivity @roydahan

I didn't reproduce the problem with kernel 5.7.0 , there are 17595 commits from 5.7 to 5.8
We need build kernel and test 14 times to find the introduce commit. Do we want to find the commit?

[code]

[2020-08-17 12:55] denesb commented on #6892
I think the bug is in this loop:
[code]
This will roughly translate  to:
[code]
But while loop body is running, new sstables can be added to `_sstables_wit_tables` for the processed table. These will be discarded and hence the associated count units will be leaked.

[2020-08-17 12:55] denesb commented on #6892
This is a regression introduced by https://github.com/scylladb/scylla/commit/fea83f6ae0ebc01bf339cea1b3afec7fed1ad614.

[2020-08-17 13:03] #6845 closed

[2020-08-17 14:06] denesb commented on #6892
Actually for loops test their condition before running the loop body. Still I think the bug will be here somewhere. I will write exploratory unit tests to confirm.

[2020-08-17 14:11] nizarh11 commented on #7050
Backtrace:
[code]
Decoded backtrace

[code]

[2020-08-17 14:39] elcallio commented on #7035
See /scylladb/scylla-tools-java#196

[2020-08-17 14:55] raphaelsc commented on #6892
On Mon, Aug 17, 2020 at 11:06 AM Botond Dénes <notifications@github.com>
wrote:

I think register_staging_sstable() now potentially can race with the
iteration introduced here
https://github.com/scylladb/scylla/commit/fea83f6ae0ebc01bf339cea1b3afec7fed1ad614
.
For example, as we iterate through _sstables_with_tables,
register_staging_sstable() can introduce a new table or re-add a table
previously

[2020-08-17 15:34] denesb commented on #6892
Reproduced with a unit test.

[2020-08-17 15:37] amoskong commented on #7036
I only successfully tested 5.8-rc4, the issue can be reproduced.

The built rpm can't be installed to centos7, and no err message from rpm and yum. I have to install the kernel and modules by make install. It's easy to make the instance to be dead after restart.

I can saw an error ofefi/libstub in build 5.8-rc1/5.8-rc2/5.8-rc3, so I disalbed CONFIG_EFI_STUB=n to workaround the build error. But th

[2020-08-17 16:06] kostja opened #7054 "Sleep is aborted message during shutdown can be misleading"
Scylla can print the following message during shutdown:

 **Startup failed: seastar::sleep_aborted (Sleep is aborted)**

Last time seen when trying to set up a scylla cluster in a raw LXC container for Jepsen testing with @aphyr:

https://gist.github.com/aphyr/1691a5bd5efe35f043b0e53515da8d37

Searching through our bugs database indicates that the message has occurred in the past and added to conf

[2020-08-17 16:10] denesb commented on #6892
Patch on the list: [PATCH v1] view_update_generator: fix race between registering and processing sstables

[2020-08-17 16:30] #7031 closed

[2020-08-17 18:55] kostja opened #7055 "Scylla installation in Debian 10 docker container (no)"
I have a debian:buster docker container which I'm using to set up Scylla:

`$ docker run -it debian:buster /bin/bash
`

I follow the official installation procedure as installed [at the website](https://www.scylladb.com/download/?platform=debian-10&version=scylla-4.2):

[code]

If I am new to docker I'm lost already, but fortunately I know `apt update` helps. Still it would be a good idea to add i

[2020-08-17 20:21] #6284 closed

[2020-08-17 20:37] raphaelsc commented on #7050
looks like use-after-free involving read ahead. where can I download the coredump from?

[2020-08-17 20:40] raphaelsc commented on #7050
the backtrace looks bogus, from the stack trace of a relevant thread, it looks like we bumped into this: "Mutation stream ends with unclosed partition during write"

[2020-08-17 20:45] raphaelsc commented on #7050
looks similar to https://github.com/scylladb/scylla/issues/6511, we thought it was fixed, but turns out it's not. I will investigate it tomorrow.

[2020-08-17 21:28] Snipa22 opened #7056 "Issue generating sharding metadata during repair"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.3
Cluster size: 5 Servers
OS (

[2020-08-18 02:11] lishiling5121 commented on #7020
Thank you very much for your suggestions. After discussion, we decided to use  maps instead of sets, use month as a part of the primary key, and use the TTL to keep small amount of data.
What is the time complexity of maps when read?

[2020-08-18 02:13] vladzcloudius opened #7057 "Unable to ALTER system_auth tables"
*Installation details*
Scylla version: 4.0.3 (I suspect it's broken in the `master` too)
Cluster size: 1

*Description*
When I try to alter most (not all!) system_auth tables as follows I'm getting an error:

[code]

The error above has been received both when authorization was disabled and enabled.

This seems to be a regression from https://github.com/scylladb/scylla/commit/a855e82eff5dfe7f2b2a4

[2020-08-18 02:34] asias opened #7058 "scylla-gdb.py: scylla task does not work"
Scylla: ee7291aa882d925d3de3dd3db14df443db020034

$ gdb -v
GNU gdb (GDB) Fedora 8.3.50.20190824-30.fc31
The scylla task-queues shows there are tasks in a task queue but scylla tasks command failed to show it.

[code]

[2020-08-18 02:37] vladzcloudius commented on #7057
The problem comes from the `standard_role_manager::protected_resources()`.
There is also seems to be no way to disable a role manager or choose some kind of "allow all role manager" similarly to authenticator.

[2020-08-18 02:43] asias opened #7059 "scylla-gdb.py: Add support to walk futures backward for scylla fiber command"
Given future f2 in the fiber chain:

f1().then([] { return f2() }).then([] {return f3() })

with `scylla fiber`, we can walk from f2 to f3.

We can repeat `scylla find --resolve f2` to find all the futures that leads to f2.

It would be simpler if we can add the support in scylla fiber.

E.g.,

[code]

[2020-08-18 06:15] avikivity commented on #7020
O(n), where n is the number of items.

[2020-08-18 06:26] avikivity commented on #7036
This commit should fix it: 5435f73d5c4a1b7504356876e69ba52de83f4975

[2020-08-18 06:26] avikivity commented on #7036
Most likely, the problem was introduced in -rc1 (where most of the patches are).

[2020-08-18 06:27] avikivity commented on #7036
I think we should bisect it, it's the only sure way of arriving at the root cause.

[2020-08-18 07:01] aleksbykov commented on #7047
@asias
i got similar issue on this job https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-alternator-200gb-48h-test/3/console. For scylla version: Scylla version 4.2.rc2-0.20200811.b052f3f5cea
On node 6, after first rebuild was interrupted by instance hardreboot, second rebuild according log stucked:
[code]

But command was finished with exit code 0.
[system.log.tar.gz](https:

[2020-08-18 07:46] eliransin commented on #6148
@elcallio I am guessing your commit doesn't close the issue because the commitlog can still exceed the limit, right?
@elcallio / @avikivity perhaps we should have a soft and hard limits. One is the target disk space and the other is the one which
waits for some space to be freed before writing to the commitlog. Is it easily doable?

[2020-08-18 07:51] elcallio commented on #6148
@eliransin No, the limits are not hard limits. This is simply because I am not confident that imposing a hard commitlog limit will not freeze the system. Partially because all segments taking space are shared between column families, thus to remove one you might need to flush several CF:s, and there could be deadlocks hiding somewhere in that path.
The patch sent encourages flushing "earlier" in c

[2020-08-18 07:58] RobertKettler commented on #7036
I have reproduced the issue on 5.8.0 and 5.8.1 . Sometimes it requires several (5-8) restarts of the database in order to reproduce the issue. Usually the DB works fine after a machine reboot.

My bisection is pointing in the direction of the commit: [633260fa143bbed05e65dc557a492667dfdc45bb](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=v5.8.1&id=633260fa143bbed05e65d

[2020-08-18 08:51] slivne commented on #7035
Lets add a test for this

[2020-08-18 09:09] denesb opened #7060 "table::get_sstables_by_partition_key(): dangling reference to list of sstables when do_for_each() defers"
Scylla version (or git commit hash): 9aa47122705ff31c92fa1f83c605235bb718c14b

https://github.com/scylladb/scylla/blob/9aa47122705ff31c92fa1f83c605235bb718c14b/table.cc#L1152-L1164

Even though `incremental_selector::selection::sstables` is a reference that is guaranteed to be kept valid until the next `select()` call, as we assign it to `auto sst`, we make a copy. This results in a dangling refer

[2020-08-18 09:12] denesb commented on #7060
All live releases are affected.

[2020-08-18 09:25] denesb commented on #7060
This function is called from the REST API method `/column_family/sstables/by_key/{name}`.

[2020-08-18 10:14] avikivity commented on #7036
Wow, I would have assumed that patch would either work perfectly or crash very early after boot, since it's touching such a senstive area. Any idea how it's broken?

Thanks for the update.

[2020-08-18 10:35] tgrabiec opened #7061 "Materialized view updates use incorrect schema to interpret writes after base table schema is altered"
If the materialized view's primary key includes a regular column of the
base table, then after changing the base table's column set (add/drop) the view
update will use incorrect ids, which may cause aborts, segfaults, write failures
or data of the wrong column landing in the view.

The view_info object, which is attached to the schema object of the
view, contains a data structure called
"base_non_

[2020-08-18 10:49] amoskong commented on #7036
I didn't reproduce the problem with above commit.

633260fa143bbed05e65dc557a492667dfdc45b~1 + [PATCH] efi/x86: Fix build with gcc 4
- Good

633260fa143bbed05e65dc557a492667dfdc45b + [PATCH] efi/x86: Fix build with gcc 4
- Good

What's your test scnario?

[2020-08-18 10:59] tgrabiec commented on #7061
I already have a patch for this.

[2020-08-18 11:24] roydahan commented on #7035
added a task for it.

[2020-08-18 11:34] avikivity commented on #7019
@withings-sas thanks, we'll take a look

[2020-08-18 12:56] nizarh11 commented on #7050
@raphaelsc I decoded the backtrace to get coredump. do you need me to get a new coredump? or you already found the issue?

[2020-08-18 13:21] RobertKettler commented on #7036
Have you restarted the db several times?

I'm using the ami provided running and on an second node:
cassandra-stress write no-warmup n=100000000 -node <scylla-node-internal-ip>

Let me get the build info for you.

[2020-08-18 13:23] RobertKettler commented on #7036
The bisection there is a bit messy since multiple commits got introduced with a branch merge and several ended up in kernel panics.

Currently I'm trying to run 633260fa143bbed05e65dc557a492667dfdc45b~1 and see if that is good

[2020-08-18 13:25] juliayakovlev opened #7064 "Scylla should uses IPv6 for broadcast_address in case multi DC cluster"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200816.7e01ae089e1
Cluster size: multi DC cluster

Scylla init failed when uses IPv6 with multi DC cluster.

Start the cluster in 3 regions (1 node in each region)
In SCT define ip_ssh_connections = "ipv6"

In this case SCT update all addresses in scylla.yaml with IPv6 address of the instance:
[code]

Restart scylla af

[2020-08-18 13:29] slivne commented on #5514
@syuu1228 / @penberg ping

[2020-08-18 14:11] amoskong commented on #7036
633260fa143bbed05e65dc557a492667dfdc45b~1 + [PATCH] efi/x86: Fix build with gcc 4

Good
633260fa143bbed05e65dc557a492667dfdc45b + [PATCH] efi/x86: Fix build with gcc 4

[2020-08-18 15:26] RobertKettler commented on #7036
Thanks for verifying @amoskong ! I'll look into that commit and see what going on.

[2020-08-18 16:11] avikivity commented on #7019
@withings-sas please supply the output of `find /var/lib/scylla -ls`

[2020-08-18 16:22] avikivity commented on #7036
@RobertKettler it's worthwhile to report to lkml, please copy @amoskong and me if you do.

[2020-08-18 16:22] avikivity commented on #7036
Pretty amazing failure.

[2020-08-18 17:00] avikivity commented on #7019
Memory is filled with compressioninfo objects. Here's one I found:

[code]

[2020-08-18 17:09] vladzcloudius commented on #6776
@avikivity
Please, consider backporting to 3.0 and to the current Enterprise builds (2019.1.x).

[2020-08-18 17:09] avikivity commented on #7019
_M_map_size = 78 -> number of 512-byte deque elements
-> 78 * (512/16) = 2496 -> number of compression::segmented_offset::bucket objects
-> 2496*128k = 320MB = memory usage of this sstable

[2020-08-18 17:10] avikivity commented on #7019
/cc @denesb

[2020-08-18 17:11] avikivity commented on #7019
the sstable is 7.6GB uncompressed. 7.6G / 320M = 23, so every byte on disk needs a byte in memory, instead of around 2000:1 that we expect.

[2020-08-18 17:15] avikivity commented on #7019
Actually bucket_size is 4k. So the last calculation is 2496*4096 = 10223616, and the ratio is 750:1.

[2020-08-18 17:34] avikivity commented on #7019
There is just 200MB in those 4k objects. But compared to just 5GB of data in the shard, that's a lot. Still, it shouldn't cause huge problems.

[2020-08-18 17:41] avikivity commented on #7019
@withings-sas please also provide the output of `nodetool tablestats`

[2020-08-18 18:36] #6751 closed

[2020-08-18 18:36] #6892 closed

[2020-08-18 18:36] #7060 closed

[2020-08-18 21:04] raphaelsc commented on #7050
From the backtrace alone, I was unable to find the root cause, so if you could please upload the coredump, that would be great!

[2020-08-18 21:10] avikivity commented on #7060
Backported to 4.0, 4.1, 4.2.

[2020-08-18 22:34] roydahan commented on #7050
@raphaelsc the coredumps were uploaded and are part of the original description under "download instructions", for example:
download_instructions=
gsutil cp gs://upload.scylladb.com/core.scylla.996.9b833866779e484cade213bdb26ada31.80197.1597626970000000/core.scylla.996.9b833866779e484cade213bdb26ada31.80197.1597626970000000.gz .
gunzip /var/lib/systemd/coredump/core.scylla.996.9b833866779e484cade2

[2020-08-19 01:53] asias commented on #7025
I am not sure what is the problem here.

Node6 ran repair. The repair failed because one of the repair followers,  node6,  is down. The repair kept going to do a partial repair (ignoring the node that is down) and reported the repair failed.  There was no hang.

[code]

[2020-08-19 02:49] raphaelsc opened #7065 "Schema change, adding a counter column into a non-counter table, is incorrectly persisted and results in a crash"
*Installation details*
Scylla version (or git commit hash): f3af6ff22198f14d6
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

[code]

Scylla crashes when adding counter column into non-counter table
[code]

[code]

When node is restarted, it can be seen schema change was incorrectly persisted even though scylla crashed

[code]

It should have failed with
` ConfigurationException: Cannot add a coun

[2020-08-19 04:08] raphaelsc commented on #7065
this was supposed to be handled by this patch 4cbbbc67f0cc79c88ac64a7f17ad731595a57506, so it looks like a regression.

[2020-08-19 04:35] aleksbykov commented on #6799
Issue not reproduced on latest amis for branch-4.2

[2020-08-19 05:59] aleksbykov opened #7066 "Nodetool rebuild command failed after scylla up"
*Installation details*
Scylla version (or git commit hash): 4.2.rc2-0.20200817.b052f3f5c
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0eadd1bdaace4c843(eu-north-1)

During job https://jenkins.scylladb.com/job/scylla-4.2/job/gemini-/job/gemini-3h-with-nemesis-test/34/ first run of nemesis CorruptThenRebuild failed. Nemesis logic is : Stop scylla, remove several sstables, Start scylla and ru

[2020-08-19 06:10] slivne commented on #7065
Please note this happens only if there are no columns

[code]

will not crash;

[2020-08-19 06:32] slivne commented on #7050
the backtrace decoding is bogus (it doesn;t align with what is shown here)

[code]

[2020-08-19 06:51] withings-sas commented on #7019
Thank you for looking at it,

I am not sure this explain why I only get the non_lsa memory increase on the nodes receiving traffic from application clients ? For the nodes not receiving app traffic I am sure I can run them several months without trouble.

I've uploaded the requested files under acd2ee46-03dc-45c3-b44d-4ace3edb3673 (2020-08-19_scylla-02_tablestats and 2020-08-19_scylla-02_find_ls)

[2020-08-19 07:35] dekimir opened #7067 "Switch column_condition to the new expression representation"
The `column_condition` class currently uses its own expression representation, requiring separate maintenance.  Since the new expression representation in restrictions/expr is general enough now to support column conditions, we should leverage it in column conditions to avoid duplicating efforts.

[2020-08-19 08:09] eliransin commented on #7057
@vladzcloudius Why is this a bug? This table is protected for a reason. The system relies on a some of it's properties like schema for functionality. Lets assume for the sake of argument this is a virtual table, what meaning would be to this alter
query now.
Another question is what is the purpose of the query?
If anything, I would expect something like a configuration option like: `internal_table

[2020-08-19 08:23] avikivity commented on #7019
Indeed it doesn't fit my findings. I'll take a look at the uploads.

[2020-08-19 08:29] avikivity commented on #7019
Here are the sstables component sizes, summarized per shard:

[code]

[2020-08-19 08:31] avikivity commented on #7019
The ratio between compressioninfo and data is > 100:1, and the amount of data is >100GB/shard, not as I've seen from the core.

[2020-08-19 08:37] aleksbykov commented on #6645
Issue reproduced twice with same steps on job: https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/34/
First on node3 was executed
sudo pkill -9 scylla

After scylla properly started
in 5 minutes Scylla was stopped, several sstables were removed. scylla started and executed nodetool rebuild command.
The command nodetool rebuild failed on node3:
[code]

in an h

[2020-08-19 08:48] elcallio commented on #6930
On paper it looks like it would be solvable in `get_records`, but there are some caveats, all due to selection windows and result limit. Since the tombstone marking  the "it's a new row" is `ts-1`, it would be perfectly possible to get a query window that includes the tombstone, but not the actual insert. So, to handle this we would pretty much be forced to never always skip a trailing `REMOVE` an

[2020-08-19 09:11] Felix-zhoux opened #7068 "When Alternator creates a secondary index, is it compatible with the Projection parameter?"
*Installation details*
Scylla version (or git commit hash): 4.1.3-0.20200729.9002592ee0c
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

When I used the Alternator interface to create a table with a global secondary index, I used the following command
[code]

Then I got the response like this：
[code]

When I use cqlsh to query the table structure, I get the following output:
[code]

I hav

[2020-08-19 09:18] psarna commented on #7068
As for projections, here's a corresponding issue: https://github.com/scylladb/scylla/issues/5036

As for the underlying materialized view - that's an implementation detail of alternator, which in turn relies on an implementation detail of Scylla's views: the whole base primary key must be included in the view primary key in order to ensure correct row liveness. Still, the API exposed by alternator

[2020-08-19 09:27] haaawk commented on #6900
@elcallio This is the issue we've been talking about on the status call

[2020-08-19 09:39] Felix-zhoux commented on #7068
Yes, I just noticed this.

The reason for raising this question is that there are two considerations
1. Storage space occupied by GSI. I don't know the underlying storage details of GSI, but what I saw is that it exists. Does reducing the projection of the attribute mean that the storage space can be reduced?
2. The number of items in a single partition. If 'obj' can **not** be part of the GSI pri

[2020-08-19 09:43] haaawk commented on #6930
At some point we were thinking about marking this tombstone with ts instead of ts-1. This works fine with CQL because update SET x = null using timestamp T actually uses T-1. I don't remember whether we did this in the end or not. @kbr- do you remember? I think we did.

[2020-08-19 09:49] kbr- commented on #6930
1. This should happen only for collections, because that's where the `T-1` tombstone appears. The OP says this happens for every `PutItem`. Does `PutItem` refer to collections only?
2. Actually this shouldn't happen for non-TTLed operations even with collections. Today if we replace a collection without a TTL, we show it as a single delta entry in the CDC log, we don't split anymore.

The issue is

[2020-08-19 09:50] psarna commented on #7068
1. Yes, generally, reducing the projection should reduce the storage overhead. It's not the case for alternator yet, until #5036 is resolved.
2. I get what your idea is, but keys are also used for ensuring uniqueness. If you removed `obj` from the view's primary key, then it also implies that there can only be up to one row with specific values of onepar, bi. E.g. these two rows:
[code]
could not

[2020-08-19 10:00] nyh commented on #6930
The test still xfails (this is why I love test-first development).

[code]

[2020-08-19 10:20] Felix-zhoux commented on #7068
You are right, this situation does exist.

However, in fact, this scene will not affect me, because I only want to use GSI to get an orderly ‘bi’. I will not project any other attributes except ‘onepar’ and ‘bi’ to GSI. Therefore, there will be no overwriting.
Of course, if other people need to project some common attributes (such as head) to GSI, then all the original primary keys will be automat

[2020-08-19 11:07] slivne commented on #7025
So we need to understand why node6 went down - lets check if there is a core / check the logs in noe6

[2020-08-19 11:07] elcallio commented on #6930
@kbr Alternator put_item explicitly puts a row tombstone at ts-1 when doing insert. See executor.cc:1277

[2020-08-19 11:13] avikivity commented on #7019
The above were all herrings, and all red. I think the problem is a query that is memory-unlimited. Will verify soon.

[2020-08-19 11:33] avikivity commented on #7056
This can happen if we somehow generated empty sstables during repair. @asias ?

[2020-08-19 12:21] nyh commented on #6930
Right, I'll explain. When Alternator wishes to **replace** an item completely (not merge some new attributes with old attributes) it needs to delete the old item and then write the new item. If a write and delete are done with the same timestamp the delete wins, which is why we must do the delete at ts-1. This is not a new Alternator invention - Scylla already does exactly the same thing when **re

[2020-08-19 12:36] nyh commented on #6930
This is a good question. If the item did exist before, replacing it is indeed equivalent to a REMOVE followed by an INSERT (See #6918 on the separate issues of an item which didn't exist before, and on INSERT vs MODIFY). I think we need to learn more about how real users use DynamoDB streams, and how much they might care about this issue and about #6918.

So maybe these issues should be considered

[2020-08-19 12:37] kbr- commented on #6930
Writing a cell completely replaces the older versions of this cell.
I don't understand why you need a row tombstone?

Unless:
- you have multiple columns in the schema
- you want to write a completely new row that is empty for all columns except one column with some new value.

So if I understand correctly
- those alternator "items" are rows composed of multiple cells which represent attributes,
-

[2020-08-19 12:39] avikivity commented on #7019
Here is a 2GB query:

[code]

[2020-08-19 12:55] avikivity commented on #7019
Walking down the bytes_ostream chain:

[code]

[2020-08-19 12:57] elcallio commented on #6930
Instead of just setting ts-1 for tombstone, we could for internal purposes mark it in such a way that it is recognized as not being user generated. For all the cases in scylla, i.e. collections etc. It should effectively make cdc easier.
Not sure how such a mark would look, if we have any status bits or anything to play with, but it would extend the expressiveness of our internal manipulations so

[2020-08-19 12:59] slivne commented on #7056
Can you please do an ls -l on one of those sstable ids ?

Would it be possible to share one of those sstable ids (even sharing all
the components (aside of tha actual XXX.Data - will be helpfull).

On Wed, Aug 19, 2020 at 2:33 PM Avi Kivity <notifications@github.com> wrote:

[2020-08-19 13:01] nyh commented on #6930
Because we want to replace the entire row - not a single cell.
Imagine that no matter what this row previously contained you want to set "a=3". Even if it had previously "b=4", you need to remove it as well. Not merge and have both "a=3" and "b=4".

As I said, Scylla also has exactly the same need in a CQL operation which wants to set - i.e., replace - a collection (e.g., a set). It also needs to

[2020-08-19 13:05] haaawk commented on #6930
On Wed, Aug 19, 2020 at 3:01 PM nyh <notifications@github.com> wrote:

+1 to Kamil's comment. This is Alternator stream specific and better not to
inject it into core CDC code.

[2020-08-19 13:21] elcallio commented on #6930
@haaawk we already do ts-1 _detection_ in cdc code, to deal with collections tombstones and avoid generating to many cdc rows. I don't think it unreasonable that even this code would benefit from the ts-1 pattern being marked as "generated by internal code" and thus treated explicitly. In fact, it would be safer.
Again, I am not advocating we add more assumptions to cdc. I am advocating that the t

[2020-08-19 13:40] nyh commented on #7068
I'm closing this issue - as @psarna noted your observation that "Projection" is not obeyed is correct, and is a duplicate of issue #5036. It's not that we don't want to implement "Projection" - we do want to implement it (hence the open issue 5036), but we just never got around to do it. It was never a priority and wasn't yet requested by a customer, so we did other things first...

As to the ques

[2020-08-19 13:40] #7068 closed

[2020-08-19 13:40] raphaelsc commented on #7056
On Wed, Aug 19, 2020 at 8:33 AM Avi Kivity <notifications@github.com> wrote:

I think this Tomek's theory may explain it:
https://github.com/scylladb/scylla-enterprise/issues/1349#issuecomment-618376735

[2020-08-19 13:47] nyh commented on #7068
What you're asking for here is basically issue #3435. This "deduplication" is not a simple problem because when somebody **deletes** a row on the base table, it's not easy to know whether the view row (which in your case only lists partition keys of the base table) should be deleted or not. See issue #3435 for a longer discussion of the problems with this wish.

In any case, what you are wishing f

[2020-08-19 13:58] kbr- commented on #6930
@nyh

You can use a collection tombstone for that, you don't need a row tombstone.

No, I'll see one entry with one timestamp. We changed it some time ago (https://github.com/scylladb/scylla/pull/6491).
[code]
 That's the special collection handling that I mentioned in my previous post.

[2020-08-19 14:04] nyh commented on #6930
This is a very good observation, which I already made for other reasons in https://github.com/scylladb/scylla/issues/6918#issuecomment-664237567. Whereas we currently use a row tombstone to delete the item, we could use individual cell tombstones (for regular columns, if not overwritten by a new value) plus a collection tombstone (for the ":attrs" column) to delete the item. If CDC already has spe

[2020-08-19 14:08] kbr- commented on #6930
@elcallio

This is done by simply adding `1` to every collection tombstone's timestamp.
The "moral justification" why we can/should do that is the following: if `X` is a non-frozen column, then the statement
`update ... using timestamp T set X = V ...`
creates a `T-1` timestamp collection tombstone. So we show it in CDC log under `T - 1 + 1 = T` timestamp.

So we made a decision based on CQL speci

[2020-08-19 14:17] elcallio commented on #6930
@kbr - I agree. We should in fact not do any of these things. The tombstones should be marked as "artificial", "created internally" to express something. Then we could safely instead generate more expressive cdc info for whatever is happening.

[2020-08-19 14:29] kbr- commented on #6930
Today, CDC takes a base table mutation and returns a log table mutation. It's very simple.

What you're proposing would require a significant redesign: we would have to take additional data as input.
It would require changes in other places in the code, not just CDC. For example, we would have to plumb down the information about an "internally generated" collection tombstone all the way from CQL l

[2020-08-19 14:37] elcallio commented on #6930
Yes. And I think it might be worth considering doing so. Having more explicit track-keeping of what we are doing is not a bad thing.

[2020-08-19 15:19] raphaelsc commented on #7065
Indeed. Looks like Scylla is incorrectly treating the schema as a counter table, based on the counter column we attempted to add to it. That's wrong.

[2020-08-19 17:23] #6928 closed

[2020-08-19 18:39] vladzcloudius commented on #7057
@eliransin I agree that this whole KS (together with other `system_xxx` KSes) is special - no doubt.
That's why only a privileged users should be allowed to alter them - which I think IS the case.

As to being able to alter both KS and tables - this is a fact of life and we need to do it from time to time, e.g. when we want to change its replication configuration, or like here - when we want to ch

[2020-08-19 18:44] withings-sas commented on #7019
looks like a nice catch :)

let me know if I can do something,

[2020-08-19 20:01] kharmabum commented on #6884
@dorlaor can you recommend resources for learning how to split up large partitions, i.e. next steps after identifying problematic partitions/tables.

[2020-08-19 20:38] Snipa22 commented on #7056
ls -l shows that the files do not even exist.
[code]

I'm glad to provide any debugging information I can, though not familiar with how to pull the ID's etc/ offhand.  Glad to share as much information as I can to help make sure this gets debugged though.

I'll see about re-running a repair and getting a few more live-stats, we're currently in the middle of what appears to be a halted repair on a

[2020-08-19 21:50] dorlaor commented on #6884
Recently Tomasz has committed an (sstable) index to hold the location of
the row
within the partition, so the performance of master is much better and with
an additional
cache for it we like to add, the performance of fetching a row from a large
partition will
be almost identical to a regular partition. Assuming there are no
hot-partitions - naturally the
fewer partitions you have (and more rows),

[2020-08-20 00:02] amoskong opened #7071 "offline-install: Failed to get D-Bus connection: No such file or directory on CentOS 7"
*Installation details*
Scylla version (or git commit hash):  scylla-unified-package-0.20200819.2e1499ee93f.tar.gz / 666.development-0.20200819.2e1499ee93f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description

The offline installation failed for a dbus connection error.

#### prepare

- curl http://downloads.scylladb.com.s3.amazonaws.com/relocatable/unstable/master/latest/scyll

[2020-08-20 00:03] vladzcloudius opened #7072 "Limit the maximum parallelism on the DB level"
## Description
Unlimited parallelism is a common issue we see a lot in the field.

When the DB gets hit by a burst of many outstanding requests that queue on a front end (Coordinator) this naturally leads to increased latencies and in extreme cases may cause the Scylla node to run out of memory (due to queuing of many requests contexts).

Fixing this today requires an application change which is m

[2020-08-20 00:32] vladzcloudius commented on #7072
@eliransin @slivne @avikivity @dorlaor FYI

[2020-08-20 01:01] dorlaor commented on #7072
@Piotr Sarna <sarna@scylladb.com> FYI

On Wed, Aug 19, 2020 at 5:32 PM vladzcloudius <notifications@github.com>
wrote:

[2020-08-20 01:17] asias opened #7073 "killed_wiped_node_cannot_join_test failed"
Scylla version 666.development-0.20200817.9aa47122

[code]

[2020-08-20 02:53] amoskong commented on #7071
The error is raised in executing `systemctl --user daemon-reload` in the end of install.sh

[code]

[2020-08-20 03:56] asias commented on #7025
I guess you meant why node2 went down.

Before node6 (repair master) marked node2 (repair follower) as down, node2 was overwhelmed with "storage_proxy: Failed to apply mutation from ... " errors.

There was 436K of such messages.
$ cat node2.txt |grep 'Failed to apply'|wc -l
436202

[code]
@eliransin  it is smp_service_group, ideas?

[2020-08-20 04:18] amoskong commented on #2190
But scylla_setup => current node_exporter_install script still downloads package from github.
- https://github.com/scylladb/scylla/blob/master/dist/common/scripts/node_exporter_install

We expect the scylla-node_exporter package is included into the unified-package, and install.sh of unified-package will install node_exporter_install package.

/CC @penberg @tzach @roydahan

[2020-08-20 04:37] amoskong opened #7075 "scylla_setup: do_verify_package() should support to check installed files directly, not just rpm/deb"
*Installation details*
Scylla version (or git commit hash): master unified-package-0.20200819.2e1499ee93f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description

Currently scylla_setup supports to verify scylla-jmx/scylla-tools packages, it's optional.
But generally it's checked by `rpm -q $name` or `dkpg -s $name`, so it will fail even scylla-jmx/scylla-tools had been installed

[2020-08-20 04:55] tzach commented on #2190
This is true for any other packages we pull from scylla_setup (NTP?)
we can either:
- package it in Scylla
- give a clear procedure on how to install it off-line (airtight)
Best is clearly better UX

[2020-08-20 05:19] penberg commented on #7071
@syuu1228 @avikivity How do these user services in cgroup work? Is reloading the systemctl daemon supposed to work when the `--user` flag is passed?

[2020-08-20 05:45] amoskong opened #7076 "offline installer: uninstall isn't supported"
*Installation details*
Scylla version (or git commit hash): latest master: scylla-unified-package-0.20200819.2e1499ee93f.tar.gz
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS/Debian/Ubuntu

### Description

Original https://github.com/scylladb/scylla/wiki/Offline-Installer is based on RPM/DEB, so we can easily uninstall scylla by removing the RPM/DEB packages.

The new offline installer (

[2020-08-20 06:54] eliransin commented on #7025
@asias I have encountered it in other circumstances. I am pretty sure that it means that this is caused due to the write requests not being sent to the correct shard.
@gleb-cloudius implemented a semaphore to limit the amount of cross shard operations, this is because cross shard operations are very bad for performance.
The best lead I can give you for this is that somehow the hash functions that

[2020-08-20 07:09] aleksbykov commented on #6645
Got again this issue with failed rebuild but nodes were not DN on job : https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/35/
[code]

During repair also were found next backtraces:
[code]
[system.log.tar.gz](https://github.com/scylladb/scylla/files/5101260/system.log.tar.gz)

[2020-08-20 07:12] avikivity commented on #6928
@roydahan please let me know as soon as we have some runs with TWCS, so I can backport.

[2020-08-20 07:21] avikivity commented on #7019
Yes, what queries are you running? and are you running unpaged queries?

[2020-08-20 07:24] avikivity commented on #7071
Yes, it's supposed to work.

@amoskong are you testing in a vm or a container? some (most) containers don't have systemd.

[2020-08-20 07:38] asias commented on #7025
Check for smp::submit_to in repair/row_level.cc, and make_multishard_streaming_reader and multishard_writer.  However since the shard config in the test are the same, so the multishard reader and writer would be a normal local reader / writer.

Please note, the log complained timeout in  storage_proxy. Do you suspect repair used a lot of cross shard operation, the storage_proxy was the victim?

[2020-08-20 07:40] aleksbykov commented on #6925
Issue reproduced for scylla version: 4.1.4-0.20200809.76f4bc4c6f0

Node-4 failed to init with error:
[code]
while 2 other nodes reported error:
[code]
Job: https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/rolling-upgrade/job/rolling-upgrade-ubuntu18.04-test/42
db log links: https://cloudius-jenkins-test.s3.amazonaws.com/2af54209-47f8-4000-a1bd-597d0b554fee/20200820_043555/db-cluster

[2020-08-20 07:54] amoskong commented on #7071
I'm testing in a GCE instance (centos7), which has systemd.

[2020-08-20 08:05] aleksbykov commented on #5528
Issue reproduced for scylla:   Scylla version 4.2.rc3-0.20200819.e931d28673 with build-id 49fed78fe9021e4b74722c92b6a4ed223cff5810 During job: https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/36/

[code]

[2020-08-20 08:07] aleksbykov commented on #6645
Issue reproduced for scylla: Scylla version 4.2.rc3-0.20200819.e931d28673 with build-id 49fed78fe9021e4b74722c92b6a4ed223cff5810

Db logs: https://cloudius-jenkins-test.s3.amazonaws.com/d62b2da2-193b-4541-b01c-3155202d7b6f/20200820_015516/db-cluster-d62b2da2.zip

[2020-08-20 08:37] withings-sas commented on #7019
I've uploaded slow_queries.log under acd2ee46-03dc-45c3-b44d-4ace3edb3673 that should contains the most frequent/heavy queries,

I think we're never doing paging, but our queries are always bounded by timestamps, with intervals that should never be more than 48h worth of data (so it should not retrieve 2GB),

[2020-08-20 10:27] roydahan commented on #6645
@aleksbykov let's run this in "reproducers" setting the event to CRITICAL so it'll stop the test and we can take a coredump.

[2020-08-20 10:34] roydahan commented on #7066
@aleksbykov let's try to run in REPRODUCERS with this nemesis only and see if we can reproduce with more information.

[2020-08-20 10:49] aleksbykov opened #7077 "Scylla stucks on stopping by command systemctl stop scylla-server.service"
*Installation details*
Scylla version (or git commit hash): 4.2.rc2-0.20200817.b052f3f5c
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0fa8d1a760f535d83(eu-north-1)

Node 4 was choose to run CorruptThenRebuild nemesis. First step of nemesis is stopping scylla.
But command sudo systemctl `stop scylla-server.service` was stucked and kill by timeout:
[code]

Latest messages from log:
[code]

N

[2020-08-20 10:54] nizarh11 commented on #7050
I might have used a different AMI to decode it, @raphaelsc can you check this one?
[code]

[2020-08-20 11:10] avikivity commented on #7019
You mean you are issuing queries with paging disabled? That can easily cause this problem.

Scylla 4.3 will introduce limits to such queries to prevent disasters (like this), but they'll just start to fail. Why not enable paging?

[2020-08-20 11:12] avikivity commented on #7076
/cc @syuu1228

[2020-08-20 11:26] avikivity commented on #7071
Ho hum. On centos 7, `systemctl --user status` fails in the same way. It works on my Fedora machine.

From systemd rpm changelog:

[code]

So it looks like --user doesn't work on CentOS 7.

I don't want to add a new supervisor (like we did for the docker image). Let's document that supervisor support is only for CentOS 8 or above, and not run set up the .service files. The user will have to run th

[2020-08-20 11:28] slivne commented on #7077
@bhalevy can you have someone look at this - thanks - the node is avail

[2020-08-20 12:03] Felix-zhoux commented on #7068
@nyh Okay, I understand what you mean. This matter is more complicated than I thought. You have considered it a long time ago. It just so happens that the issue in my hand is already pending, and we can wait to consider this issue later.

[2020-08-20 12:12] xemul commented on #7077
@aleksbykov , you can take the node, thanks.

[2020-08-20 12:12] xemul commented on #7077
Last shard 0 stopping messages:

[code]

[2020-08-20 12:13] bhalevy opened #7078 "test_nodetool_refresh_main_sstable_directory: Refresh in main directory succeeded unexpectedly!"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/583/testReport/backup_restore_tests/TestBackupRestore/test_nodetool_refresh_main_sstable_directory/
with scylla version 2e1499ee93f1cca310fb73476d2d781c62a4da8c

[code]

but it fails also with 4.2 at 6ae6eb97b2a4b33f6ac442dea4e0bc44d19987e4

This is probably a result of off-strategy compaction.

and passed with 4.

[2020-08-20 12:16] raphaelsc commented on #7078
looks like a dup of https://github.com/scylladb/scylla/issues/7022

[2020-08-20 12:17] avikivity commented on #7019
Here's the script I used to find the chain:

[code]

[2020-08-20 12:33] bhalevy commented on #2921
@tgrabiec @slivne can this issue be closed?

[2020-08-20 13:10] xemul commented on #7077
All shards went through
[code]
message, but not any further.

[2020-08-20 13:19] avikivity commented on #7019
Here's a chain search from shard 1:

[code]

This time there were two pointers into the initial 512-byte chunk, but neither makes sense. We'd expect just one. That block looks like memory area that was reused form a sstables::shareable_components (same size, initial contents match),

[2020-08-20 13:29] raphaelsc commented on #7050
@roydahan @nizarh11 please share the schema of table which had cdc enabled at.

[2020-08-20 13:51] withings-sas commented on #7019
I will check if our php library does or even support pagination,

It was not a concern for us because we are not seeing slow queries and none *should* return huge results (it's OLTP workload only). Also memory should then be freed I guess even if we would occasionally have big queries.

[2020-08-20 13:53] avikivity commented on #7019
no, it can destabilize the server, and 4.3 will abort those queries.

[2020-08-20 13:55] avikivity commented on #7019
Here's the same thing from another shard. curiouser and curiouser.

[code]

The beginning of the chain is now not a power of two, but it is legal bytes_ostream behaviour IIRC. Again we find it rooted in two places in a 640-sized block, which is impossible, but same two places.

[2020-08-20 13:57] avikivity commented on #7019
And that 640-byte block again looks like a shareable_components:

[code]

This matches with

[code]

which is at the beginning of shareable_components.

[2020-08-20 14:00] avikivity commented on #7019
[code]

So if the is true, then the chain is rooted in

[code]

[2020-08-20 14:01] avikivity commented on #7019
but there is no bytes_ostream anywhere near sstables::compression::segmented_offsets::bucket!

[2020-08-20 14:38] withings-sas commented on #7019
I've set a page_size of 100, unfortunately I am not seeing any changes in the growth of non_lsa

[2020-08-20 14:45] avikivity commented on #7019
Are you sure you set it for all queries? There isn't one that sneaked in?

Also restart the server, it's possible that a query that was started and abandoned is still doing this.

[2020-08-20 14:45] raphaelsc commented on #7019
@withings-sas what's the version of your sstables in your table window_xx? ka/la or mc?

[2020-08-20 14:47] avikivity commented on #7019
@tgrabiec could it be sstables::mc::writer::_tmp_bufs somehow?

[2020-08-20 14:49] avikivity commented on #7019
[code]

so it could be the 640-byte object we see is a recycled 1280-byte object that was migrated into a different pool.

[2020-08-20 14:50] avikivity commented on #7019
The offset is wrong though -
[code]

[2020-08-20 14:51] avikivity commented on #7019
also, the contents does not look like sstables at all.

[2020-08-20 14:54] avikivity commented on #7019
Maybe it's the cursed promoted index

[2020-08-20 14:56] avikivity commented on #7019
The largest partition (from tablestats) is 43MB, I don't see a 2GB promoted index needed for it.

[2020-08-20 16:08] tgrabiec opened #7079 "Share sstable index page cache between readers"
In 9322c07c712967b3eb4c30f6955890e05932c655 we added a page cache for the index file to support binary search in promoted index. This cache is currently not shared between readers. We could improve efficiency by sharing it.

When doing random reads over a large partition, some pages will be shared by the reads. In particular, the middle page, which corresponds to the root of the binary search tree

[2020-08-20 16:12] withings-sas commented on #7019
I restarted a few nodes (3 out of 10) without any differences,

The increase is (relatively) slow and similar over all nodes that receive traffic so I doubt that it's a single query that is doing this.

I could with a bit of work split the write and read traffics to different nodes, if this would help to understand ?

[2020-08-20 19:07] espindola commented on #7046
I tested this with a copy of bash from my raspbarripy. It is interesting that llvm-readelf can read it:

[code]

But gnu readelf complains:

[code]

Looking a bit more

[2020-08-20 19:24] espindola commented on #7046
I think patchelf is corrupting the PT_NOTE program header. I think llvm is reading the section table and not hitting that problem. In contrast gnu readelf reads the program headers.
The bug has been fixed in upstream patchelf

[2020-08-20 19:26] espindola commented on #7046
The commit fixing it is 43a33482b501b0f5ee9da312aabfca3806570cc9. It is not in any release yet.

[2020-08-21 00:19] amoskong commented on #7071
Thanks, I will recheck with CentOS8.

[2020-08-21 02:36] amoskong commented on #7071
I had successfully (nonroot) install scylla on CentOS8, and it can be started by 'systemctl --user start scylla-server'

There is some problem in scylla_setup, and I skipped the problem by manual config.
I will report issues for those problem
- scylla-python3 bin isn't correct in sbin/scylla_setup
    - python3 isn't installed inside /opt/scylladb, but /home/scylla-test/install_root/ (the prefix f

[2020-08-21 06:18] veramine commented on #6419
Yes we usually set auto_snapshot = 0 because otherwise truncating tables takes very very long time.

[2020-08-21 08:11] jul-stas opened #7081 "Cannot enable UDF via CCM"
I'm trying to run C* cpp-driver's test suite against Scylla @ master, (e.g. 2e1499e). When it fires this sequence of commands:
[code]
...then Scylla halts with the following log msg:
[code]
But I provided both options, right?

[2020-08-21 21:21] aphyr opened #7082 "Lost inserts in CQL sets and maps with chaotic timestamps"
In ScyllaDB 4.2, it appears that inserting unique elements into a CQL map or set can, when clocks are not synchronized, result in the loss of acknowledged inserts. See, for example, [this Jepsen test run](http://jepsen.io.s3.amazonaws.com/analyses/scylla-4.2/20200821T143821.000-0400.zip), in which a single client, performing approximately one insert per second to a single CQL set, loses roughly 35

[2020-08-23 06:40] yaronkaikov opened #7083 "ninja test command missing parameters"
Today when testing scylla build we are running the command:
[code]
we want to use now `ninja test` command to run those tests in parallel, but it looks like we are missing `--timeout` and `--repeat` parameters.

[2020-08-23 09:59] amoskong opened #7084 "RAID setup should be skipped, which requires root permission"
*Installation details*
Scylla version (or git commit hash): scylla-unified-package-0.20200819.2e1499ee93f.tar.gz / 666.development-0.20200819.2e1499ee93f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

## Description

After successfully installed scylla by offline installer (unified package). The scylla_setup failed in RAID setup.
PermissionError: [Errno 13] Permission denied: '/dev/nvme

[2020-08-23 10:16] #7082 closed, assigned to kostja

[2020-08-23 11:18] nizarh11 opened #7085 "coredump while node hit enospc: "Assertion `!this->_future && this->_state && !this->_task' failed"
*Installation details*
Scylla version (or git commit hash):666.development-0.20200820.5e9a7d260
Cluster size:6
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-08d9c44a11cf0cdbf

** coredump while node hit enospc: "Assertion `!this->_future && this->_state && !this->_task' failed**

[code]

The node's log:
[code]

coredump on SCT  - After Scylla's restart

[code]

Logs:

[code]

[2020-08-23 12:54] bhalevy opened #7086 "repair_joint_row_3nodes_1_diff_shard_count_test fails on unexpected rx_row_nr"
Since 3b1ff90a1a80c4b0d2b6784de052a376ad75e7ee there are a number of dtest regressions related to repair.
This one, in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/581/testReport/repair_additional_test/RepairAdditionalTest/repair_joint_row_3nodes_1_diff_shard_count_test/
Looks like:
[code]

It's highly reproducible.
I changed the assert to a warning and the rest of

[2020-08-23 13:43] bhalevy opened #7087 "test_topology_change_in_presence_of_down_node fails since gotten rid of seed concept"
Since 3b1ff90a1a80c4b0d2b6784de052a376ad75e7ee
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/581/testReport/paxos_tests/TestPaxos/test_topology_change_in_presence_of_down_node/ fails as follows:
[code]

And the node fails to start, and reported as yet another failure (but it's the same one)
[code]

This seems 100% reproducible at 3b1ff90a1a80c4b0d2b6784de052a376ad75e

[2020-08-23 16:47] avikivity commented on #6925
@gleb-cloudius please help

[2020-08-23 17:51] nyh commented on #6469
This crash can be easily reproduced by now by running `test/redis/run test_strings.py::test_exists_multiple_existent_key` after compiling in dev mode.

Strangely, we only *sometimes* see the backtrace for these crashes, so we need to run it multiple times to see the backtrace. I'm not sure why - maybe a missing flush when writing it or race in copying the log file in the run script?

[2020-08-23 18:21] nyh commented on #6469
I simplified the test to just
[code]
And it still crashes.  While `r.exists(key1) == 1` seems to always pass.
So there appears to be a bug in the implementation of exists with multiple parameters.

[2020-08-23 18:27] nyh commented on #6469
The bug is one missing "&" in the code leading to a use after free :-( I'll send a patch in a few minutes.

[2020-08-23 19:07] nyh commented on #6469
Note to self: after this issue is closed, the redis tests should work - so at that point we should add `test/redis/suite.yaml` to enable them in test.py.

[2020-08-23 19:40] dyasny commented on #6982
@avikivity do we have a procedure or will the old seastar-addr2line just work again?

[2020-08-23 20:50] #6331 closed

[2020-08-24 06:13] fgelcer commented on #6975
running

[2020-08-24 06:14] fgelcer commented on #6975
this last try failed with an issue on SCT, that was fixed last week.

[2020-08-24 07:18] aleksbykov commented on #6645
@slivne @denesb

Got next core during reproducing the issue:
https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/Reproducers/job/reproduce-6645/1

rebuild failed:
[code]
Next coredumpt were generated right after command failed:
[code]

[2020-08-24 07:18] aleksbykov commented on #6645
And one more core:
[code]

[2020-08-24 07:52] roydahan commented on #6645
@aleksbykov please add the exact versions you used for reproducer.

[2020-08-24 07:54] aleksbykov commented on #6645
Issue reproduced and core generated for Scylla version 4.2.rc3-0.20200820.e931d2867 with build-id 9e2f16fd3eb812c4f12cf1c7b86d23fae9f8e8d1

[2020-08-24 08:06] haaawk commented on #6930
It seems to be the best solution here to just use cell/collection tombstones instead of row tombstones. That would solve the issue and not add any complexity to the CDC itself.

[2020-08-24 08:10] avikivity commented on #6982
It should work.

[2020-08-24 08:17] fruch opened #7088 "Semaphore timed out: smp_service_group#2 during MemoryStressMonkey nemesis"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200823.fe8679a6e
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0615979559e10f431 (eu-north-1)

## Summary

During running of `MemoryStressMonkey` when allocating 120% of memory, so all memory should swap
[code]

We start getting timeout errors out of YCSB (this use case is running alternator via YCSB, in YCSB we

[2020-08-24 08:33] roydahan commented on #7085
@nizarh11 please clean all the non relevant messages from the original description, leave only the backtrace and asserstions part:
Aborting on shard 13 ...
...seastar::promise<T>::get_future() [with T = {}]: Assertion `!this->_future && this->_state && !this->_task' failed.

Also, add the coredump link to download and change the topic of the issue to:
"coredump while node hit enospc: "Assertion `!

[2020-08-24 08:59] nizarh11 commented on #7085
coredumped wasn't saved due to low storage, will decode the one that was added...

[2020-08-24 11:04] slivne commented on #7025
@asias / @gleb-cloudius ping

[2020-08-24 11:24] slivne commented on #6645
- @bhalevy the last one is in compaction, the one before its not clear, if there are multiple issues please split this apart.

[2020-08-24 11:32] bhalevy commented on #7085
[code]

This seems like an issue in daf305e34ad182aab824f4abc8a62b77ccda0a3a

[2020-08-24 11:42] raphaelsc commented on #6328
This bug could result in snapshot not saving the data being resharded, but if we do backport this patch, we need to backport https://github.com/scylladb/scylla/commit/c06cdcdb3ca410a81929b8aff0c13d67d3c67475 too, like @bhalevy pointed out, because this fix caused #6439.

[2020-08-24 12:02] raphaelsc commented on #6645
from the error msg wrapped by the exception, it doesn't seem related to compaction.

ex: `shard 10: std::runtime_error (get_repair_meta: repair_meta_id 74879 for node 10.0.1.236 does not exist)`

do we have the full logs for that last report? @aleksbykov

[2020-08-24 12:15] slivne commented on #6938
Please backport to 4.2 we are hitting this on 4.2

[2020-08-24 12:16] slivne commented on #6799
closing thanks

[2020-08-24 12:16] #6799 closed

[2020-08-24 12:18] slivne commented on #6792
@amnonh is 4.2 suspect to this bug as well - do we need to backport the fix in scylla-tools-java ?

[2020-08-24 12:25] slivne commented on #7085
@bhalevy so this is assigned to the correct person :)

[2020-08-24 12:29] raphaelsc commented on #6938
also worth backporting 7d7f9e1c5482f481842b4334c2dcbc02299ac462, which refers this issue and is part of solution.

[2020-08-24 12:38] kbr- commented on #2622
Sounds like we could just replace these `std::unordered_*map` structures with purely-functional data structures.
https://en.wikipedia.org/wiki/Persistent_data_structure
Doesn't boost or abseil have anything?

[2020-08-24 12:44] avikivity commented on #2622
Not that I know. And note that one of the sstable_set implementations is an interval map, so not a common container.

[2020-08-24 12:51] avikivity commented on #6938
@slivne why not 4.0/4.1?

[2020-08-24 13:10] slivne commented on #4712
So, lets use Avi's suggestion (https://github.com/scylladb/scylla/issues/4712#issuecomment-626602867) - lets start by replaying the hints and afterwords continue with repair.

[2020-08-24 13:34] dyasny commented on #2425
@penberg tagging you since you expressed interest. As you can see, this one has been open for quite a while now

[2020-08-24 13:52] nizarh11 commented on #7050
We run the following yaml  ```longevity-cdc-100gb-4h.yaml``` with these schamas:
- cdc_profile_preimage.yaml
- cdc_profile_postimage.yaml
- cdc_profile_preimage_postimage.yaml
- cdc_profile.yaml

Note: The files Can be found in scylla ```data_dir/```

[2020-08-24 13:59] nizarh11 commented on #7050
The issue was reproduced again on longevity-cdc-100gb-4h ( ami-04c99b6bdec462a4b)

https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h-test/82

logs:
[code]

[2020-08-24 14:05] bhalevy commented on #7085
yes, absolutely.  I looked at the source code to see if I can come up with a plausible theory of what promise hit the assert but I couldn't find anything yet.  A core dump will be appreciated.

[2020-08-24 14:29] withings-sas commented on #7019
the result is the same on the non_lsa memory change for read and write queries, so maybe it's something common to both paths.

[2020-08-24 15:04] avikivity commented on #7019
The leak rate is about 20 kB/s.

Is there a compaction in progress? There is a metrics with "compaction_manager_compactions" for that.

[2020-08-24 15:06] withings-sas commented on #7019
I will check but that I don't think that would explain why it changes when I put traffic on a node or not ?

[2020-08-24 15:07] avikivity commented on #7019
It doesn't. Maybe it's this:

[code]

[2020-08-24 15:23] avikivity commented on #7019
No.

[2020-08-24 15:24] avikivity commented on #7019
Actually, compaction depends only on data location, not on front-end traffic.

[2020-08-24 15:27] avikivity commented on #7019
But, found the missing bytes_ostream in the thread_local area.

[2020-08-24 15:28] avikivity commented on #7019
[code]

So, the variable is at at %fs:-0x11ff8

[2020-08-24 15:40] fgelcer commented on #4080
i'm seeing this issue, i'm running `666.development-0.20200823.fe8679a6e with build-id d452ab0ff02e7815f2bbef29b9a18509680bf9c8`

full logs:
[code]

it happened during initialisation of the 1st node (SCT test failed because 1st node was still "UJ" while it was expected to be "UN")

[2020-08-24 15:40] fgelcer commented on #4080
@slivne , should I reopen this one?

[2020-08-24 15:40] avikivity commented on #7019
@espindola do you know of a way to associate a TLS offset to a variable? Other than disassembling, which I'll try.

[2020-08-24 15:44] brycejlowe opened #7094 ""Too many files open" when joining new node to an existing cluster"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.3-0.20200729.9002592ee0c
Clust

[2020-08-24 16:21] avikivity commented on #7019
I think it's this:

[code]

[2020-08-24 16:23] avikivity commented on #7019
[code]

_size = 2GB

[2020-08-24 16:27] elcallio opened #7095 "cdc delta == keys does not produce cdc$operation nor cdc$ttl"
If cdc::delta is set to "keys" (keys only), the result is postprocessed to remove certain columns or rows (inefficient - with the latest refactor, it should be easy to just not create it in the first place).

However, even `cdc$operation` and `cdc$ttl` is removed. That does not seem right.

[2020-08-24 16:29] espindola commented on #7019
Avi Kivity <notifications@github.com> writes:

You can use the symbol value. Given, for example

__thread int a = 1;
__thread int b = 2;
int main() {
    return a - b;
}

We get
    36: 0000000000000004     4 TLS     LOCAL  HIDDEN    16 a
    37: 0000000000000000     4 TLS     LOCAL  HIDDEN    16 b

0000000000201696 <main>:
  201696:       64 8b 04 25 fc ff ff    mov    %fs:0xfffffffffffffffc,%eax

[2020-08-24 16:35] aleksbykov commented on #6645
@raphaelsc sorry, forgot to add a link
All nodes db logs: https://cloudius-jenkins-test.s3.amazonaws.com/65a217a7-9b66-40e9-91c4-ad0869d1f587/20200821_181651/db-cluster-65a217a7.zip

Node4 for first core, and node3 for second core

[2020-08-24 16:36] avikivity commented on #7019
@withings-sas it's a longstaning bug in scylla (years!), you can work around it by using prepared statements.

[2020-08-24 16:43] avikivity commented on #7019
[code]

query_options::DEFAULT is a thread_local, containing query_options::_temporaries, which is appended to but never cleared.

[2020-08-24 17:00] avikivity commented on #7019
@espindola I did end up disassembling the binary, I asked if there was a more direct way. Disassembly is ambiguous because the location ended up a member that wasn't directly referenced, so I had to search for a larger (more negative) offset.

[2020-08-24 17:01] haaawk commented on #7095
It seems that @jul-stas was sure this is correct `// We can surely remove "cdc$*" columns.`
but I think we need them actually

[2020-08-24 17:03] avikivity commented on #7019
Ah, and I didn't see the HIDDEN symbols.

[2020-08-24 17:06] elcallio commented on #7095
Indeed. Fixing.

[2020-08-24 17:07] haaawk commented on #7095
I have a patch already

[2020-08-24 17:07] haaawk commented on #7095
Sending it now

[2020-08-24 17:09] haaawk commented on #7095
The fix is here https://github.com/scylladb/scylla/pull/7096

[2020-08-24 17:12] avikivity commented on #7019
Schema has a map<>, which matches the leak sources (collection and tuple literals).

[2020-08-24 17:14] nizarh11 commented on #7085
Backtrace
[code]

[2020-08-24 17:16] avikivity commented on #7019
Fix plan:
 - create a new class cql3::temporaries, change cql3::query_options::_temporaries to use that
 - pass a temporaries object to prepare()
 - store the temporaries created during prepartion in the prepared statement, instead of query_options::DEFAULT

Each query will use two temporaries objects, one that is embedded in the prepared statement and was used during the prepare phase (read-only)

[2020-08-24 17:23] espindola commented on #7019
Avi Kivity <notifications@github.com> writes:

What command did you use? They are not in the dynamic symbol table, but
"readelf -sW" should still list them.

Cheers,
Rafael

[2020-08-24 18:00] elcallio commented on #7095
I think a better fix is to not generate the value parts in the first place, and remove the filtering. With @kbr- :s visitor pattern it is quite straight forward. I have it included in a patch set. I'll send a PR tomorrow.

[2020-08-24 19:03] slivne commented on #7094
@brycejlowe can you please share larger part of the logs prior to this error.

I expect the cause to be that during bootstrap in 4.1.X we are generating many small sstables - we have ongoing work on off-strategy compaction (https://github.com/scylladb/scylla/issues/5226) that is supposed to run a compaction before moving the created files. I expect this will solve the issue - once its out in a ver

[2020-08-24 22:00] amoskong opened #7098 "install.sh: openjdk-11 isn't checked for dependency"
Version: scylla-jmx master

## Description

Currently (unified-package) offline install does't provide openjdk package, it has to be installed in advance.

[code]

Actually both openjdk-8 and openjdk-11 work fine.

## Suggestion

We should check both openjdk-8 and openjdk-11 in install.sh, the error message also needs to be fixed.

- "Please install openjdk-8 or openjdk-11 before running install.s

[2020-08-25 00:30] asias commented on #7086
I am looking at it.

[2020-08-25 00:31] asias commented on #7056
Repair is not supported to create empty sstables because the write is created lazily when  a mutation fragment is received.

[2020-08-25 00:34] asias commented on #7047
The  4.2.rc2-0.20200811.b052f3f5cea misses:

It is now backported to 4.2 branch. Let's see if the issue is gone.

[code]

[2020-08-25 00:35] asias commented on #7047
@santithorn we are in the process of backporting the repair hange related patches to 4.1 and 4.2 branch. Have a go when the new release is out. Thanks for reporting.

[2020-08-25 02:59] asias commented on #7086
I found the issue. The nr of rows of the repair for bootstrap is counted. This causes the nr of rows expected to be wrong. I am sending a patch.

[2020-08-25 03:01] asias commented on #7086
Patch for scylla core is sent: https://github.com/scylladb/scylla/pull/7101

[2020-08-25 03:02] asias commented on #7086
I will send the dtest change once #7101 is merged in master.

[2020-08-25 03:27] amoskong commented on #7036
Alexander Graf mentioned this issue in LKML thread
- https://lkml.org/lkml/2020/8/24/1517
- Subject: Re: [patch V9 21/39] x86/irq: Convey vector as argument and not in ptregs

[2020-08-25 06:51] asias opened #7103 "scylla-gdb.py: Add scylla repairs helper"
It will be helpful if we have a scylla repairs command that prints all the pending repair_meta objects and at which step the master and followers are.

[2020-08-25 07:23] aleksbykov opened #7104 "Decommission nodetool command failed std::runtime_error for _scylla_cdc_log tables"
*Installation details*
Scylla version (or git commit hash): 4.2.rc3-0.20200823.48d79a1d9 with build-id 25354a7731343d354888b0a41ceeb8dac437d78d
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0f0e2f160a57c7c15(eu-north-1)

During job [longevity-cdc-100gb-4h-test](https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/38/) Decommission of node2 faile with nex

[2020-08-25 07:49] bishnuagrawal-zeotap commented on #6956
@slivne -
1. I rechecked if we misplaced files in the wrong directory ...but this was not the case
2. We restored the Scylla backup of our old cluster - We use GCP and intermittently we get disk corruption issue, to handle this we have backup and recovery pipeline.

We deleted the content of _system_properties_lock_ table (since it's a lock/meta table) and Scylla started.

[2020-08-25 08:12] avikivity commented on #7094
Do you not have the scylla-kernel-conf package installed?

[2020-08-25 08:18] asias commented on #7073
Fixed by: https://github.com/scylladb/scylla/pull/7074

[2020-08-25 08:24] nyh opened #7106 "Alternator streams test is missing tests for NEW_IMAGE and NEW_AND_OLD_IMAGE modes"
We have in `test/alternator/test_streams.py` tests for the `OLD_IMAGE` mode which discovered issue #6935 (that `OldImage` is missing the item's key), but it likely (I think...) that `NEW_IMAGE` mode has exactly the same issue, and we need to write similar tests for `NEW_IMAGE` mode as well. Moreover, we need do the same tests for `NEW_AND_OLD_IMAGE` as well - we cannot trust that if `OLD_IMAGE` an

[2020-08-25 08:26] slivne commented on #6191
@fgelcer / @roydahan - are the stalls gone, I am closing this issue, if you hit this again please report

[2020-08-25 08:26] #6191 closed

[2020-08-25 08:29] avikivity commented on #6191
@fgelcer also let us know if it is fixed so we can consider backporting the fix.

[2020-08-25 08:30] slivne commented on #6148
@avikivity / @tzach - we don't have code to make this a hard limit, I think that current setting of trying to meet the limit is good enough and the  configuration / metrics should be documented as such. If you are ok with that - we can update the wording around the config and also close this issue as wontfix

[2020-08-25 08:31] avikivity commented on #7056
@denesb maybe a multishard writer did this?

[2020-08-25 08:33] slivne commented on #6412
AFAIK @veramine uses auto_snapshot = 0, I am closing this issue - @veramine if you hit this again please open an issue / update us

[2020-08-25 08:33] #6412 closed

[2020-08-25 08:34] avikivity commented on #6148
35GB -> 75GB is not a small overflow.

[2020-08-25 08:37] avikivity commented on #7019
objdump -xtT. I'll keep in mind readelf -sW for the next time. Ideally gdb `info symbol` should also resolve them.

@denesb feature request: gdb `scylla find` searching in the shard's thread local storage area.

[2020-08-25 08:42] avikivity commented on #7019
https://sourceware.org/bugzilla/show_bug.cgi?id=26531

[2020-08-25 08:48] fgelcer commented on #6191
my test failed once again with an issue on SCT (that finally got merged), so I'm re-running the test, and will start decode stalls as soon as i get them to check all the stall issues were fixed.

[2020-08-25 09:01] bhalevy commented on #7085
The backtrace above looks interesting and might be related to the original issue but it doesn't lead to that assertion error.

[2020-08-25 09:01] avikivity commented on #6191
@fgelcer it was merged a month ago! was no test run since then?

[2020-08-25 09:02] bhalevy commented on #7085
Without a core dump it's hard to understand what exactly is going on.

[2020-08-25 09:04] slivne commented on #6148
thats without calle code ...

[2020-08-25 09:09] eliransin commented on #6148
@slivne do we have some stats about how it is with calles code? IIUC once a node lags behind, you can get to any number of
an overflow the question is how fast you'll get there, no?
Maybe it is yet another kind of overload (space/memory) that we should consider? :slightly_smiling_face:

[2020-08-25 09:23] fgelcer commented on #6191
tests are run manually so far, and in addition to other issues in Scylla and SCT prevented us from getting those results.

[2020-08-25 09:28] psarna commented on #7019
@avi the high-level fix plan sounds reasonable, but I think that in order to comprehend what these temporaries are used for, I need to write some code which removes all usages of `query_options::DEFAULT` for binding values and see what happens. This experiment is probably going to be very useful for the fix later, so maybe I'll just assign myself to this task and provide a fix once I'm done.

[2020-08-25 09:32] avikivity commented on #7019
I was worried that this would happen.

[2020-08-25 09:32] psarna commented on #7019
@avikivity one more weird idea: maybe we could just drop this weird map and inject the temporary straight into the raw view? E.g.
[code]

[2020-08-25 09:33] psarna commented on #7019
And then, the temporary will only live as long as this view. If it's a shared pointer, it would be quite cheap to copy.

[2020-08-25 09:33] avikivity commented on #7019
@psarna in this context those aren't really temporaries, those are literals that are described by the CQL code and need a place to live. Since our values are views, they need some backing storage.

[2020-08-25 09:34] psarna commented on #7019
The problem with another map is that temporaries are only used in a handful of `bind_and_get` calls, but we'd need to poison the whole api, thanks to its object-oriented approach... So we'd rewrite tons of function declarations just to use a temporary map in 4 places.

[2020-08-25 09:35] avikivity commented on #7019
Ordinarily I'd object to variant pollution, but this variant already exists. I think it can work.

[2020-08-25 09:36] psarna commented on #7019
I'll give it a try and see. Shared pointers are not pretty, but they sound a whole lot better than an ever-growing map.

[2020-08-25 09:36] avikivity commented on #7019
Although it may lead to bad code generation if all of the other options are destructor-free and can be destroyed trivially.

[2020-08-25 09:36] avikivity commented on #7019
I think those are passed by value, not by shared pointers.

[2020-08-25 09:40] psarna commented on #7019
Yes, I mean that temporary may itself use a shared pointer, so it would behave similarly to how views are expected to behave - to allow copying `raw_value_view`, etc.:
[code]
But instead of pseudo-programming on github, I'll just try to code something quickly and see if it makes any sense to use temporaries inside `raw_value_view`.

[2020-08-25 09:42] avikivity commented on #7019
Ah. Please check if it makes passing raw_value_view more expensive (it could be that the compiler already gave up and made the variant expensive in the existin code).

[2020-08-25 09:44] avikivity commented on #7019
This thing is so icky.

[2020-08-25 09:48] avikivity commented on #7019
How about this: instead using bind_and_get() with query_options::DEFAULT, create a term subclass literal_term and return that. The literal_term can contain the storage for the literal.

[2020-08-25 09:49] avikivity commented on #7019
It's similar to constexpr - the compiler has to duplicate the runtime machinery in order to calculate the result of a function. Here we had a bad side-effect.

[2020-08-25 09:51] avikivity commented on #7019
This is what non-structured constants do (but they have the privilege of not requiring evaluation of their components):

[code]

[2020-08-25 09:54] avikivity commented on #6148
So then we should mark it as fixed, not won'tfix.

[2020-08-25 10:12] bhalevy commented on #7085
@raphaelsc the stack above looks garbled, no?
In particular, this:
[code]
Does that make sense to you?

Anyhow, the `on_internal_error` call is from the mc `writer::consume_end_of_stream`
https://github.com/scylladb/scylla/blob/5e9a7d2608ad6a88d93f71b52f23a214543163b4/sstables/mx/writer.cc#L1388-L1391

and I speculate that a previous error, maybe
[code]

may have terminated compaction prematurely,

[2020-08-25 10:19] bhalevy commented on #7085
Scratch that.  The backtrace is bogus, probably using the wrong binary.
Based on the build-id:
[code]
I located the relocatable package:
[code]

And apparently, the correct backtrace is this one:
[code]

[2020-08-25 11:06] slivne commented on #6938
@raphaelsc which versions should we backport this patches ?

[2020-08-25 11:07] slivne commented on #6938
@roydahan - please check that this was fixed on master before we do backports

[2020-08-25 11:08] slivne commented on #7025
@asias / @gleb-cloudius ping

[2020-08-25 11:09] slivne commented on #7066
@aleksbykov ping

[2020-08-25 11:12] bhalevy commented on #7078
Duplicate of #7022

[2020-08-25 11:12] #7078 closed

[2020-08-25 11:14] aleksbykov commented on #7066
2 latest runs didn't reproduce the issue.
Used  only the single nemesis CorruptThenRebuild , which cause an issue, latest 4.2.rc3 ami and gemini command with same seed(generate similar schema)  and different seed.

[2020-08-25 11:20] nyh opened #7107 "Alternator Streams: NewImage is missing the old item's key"
This issue is similar related to #6935, which is the same problem for `OldImage` whereas this issue is about `NewImage`. It is probably possible to solve both problems with the same patch set, although there may be some differences in the implementation so we may end up closing the two issues with separate patches.

DynamoDB Streams includes in `NewImage` the entire new item - including its key at

[2020-08-25 11:22] elcallio commented on #7107
Can you post the tests? Or did I miss them?

[2020-08-25 11:33] nyh commented on #7107
Sorry, I was about to post them and was too slow :-( Expect the patch in a few minutes.

[2020-08-25 11:41] nyh commented on #7107
On the mailing list now, titled "alternator test: tests for NewImage feature of Alternator Streams". Sorry about the delay, I created the issue first, to get an issue number to use in the patch, but then was too slow to send out the patch :-)

[2020-08-25 11:55] psarna commented on #7019
I created a proof of concept of my idea (well, the whole thing really) here: https://github.com/psarna/scylla/commits/move_temporaries_to_value_view

I haven't measured yet if it makes any significant performance changes to `raw_value_view` copying.
I also switched from providing another variant to just adding a new field, because adding a new variant adds ugly complexity - getting the value via o

[2020-08-25 11:57] raphaelsc commented on #7056
could potentially be a combination of multishard writer and interposer consumer

[2020-08-25 12:13] fgelcer commented on #6944
this one was seen again, after the whole cluster became UN:
[code]

[2020-08-25 12:15] raphaelsc commented on #7056
@Snipa22 do you use TWCS?

[2020-08-25 12:18] fgelcer commented on #6944
it happened actually many times in this test

[2020-08-25 12:27] denesb commented on #7056
We'd need a coredump to be able to tell for sure.

[2020-08-25 12:35] raphaelsc commented on #7056
looking at writer code alone, it's unlikely that this problem is about an empty sstable. somehow the data written for a particular sstable at shard S no longer belongs to shard S by the time end of stream is consumed, so that's why writer failed to generate sharding metadata. Could it happen that cluster topology changed while we were repairing data?

[2020-08-25 12:42] #7065 closed

[2020-08-25 12:42] #7075 closed

[2020-08-25 12:42] #7095 closed

[2020-08-25 12:42] #7086 closed

[2020-08-25 13:28] fgelcer opened #7108 "Reactor stall for 6 ms in sstables::seal_summary()"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): Scylla version 666.development-0.20

[2020-08-25 13:33] psarna commented on #7019
It took me a long while to figure out a scenario where such temporary values are actually instantiated, but I finally found one - when one of the restrictions has a list literal, as in `select * from my_table where my_frozen_list1 = [1,2,3] and my_frozen_list2 = [4,5] and my_frozen_list3 = [6] allow filtering;` - that would create 3 temporaries. Now, I wonder if the fact that these 3 are allocated

[2020-08-25 13:42] avikivity commented on #7108
Probably this code:

[code]

[2020-08-25 13:47] raphaelsc commented on #7108
we can add a conditional yield as seal_summary() always run in a thread, and also allocate s.positions upfront to avoid excessive reallocation.

[2020-08-25 14:02] fgelcer commented on #6976
there is a running test, and so far, this one didn't happen, but i will give the test more few hours to go to be sure

[2020-08-25 14:03] fgelcer commented on #6975
there is a running test, and so far, this one didn't happen, but i will give the test more few hours to go to be sure

[2020-08-25 14:03] fgelcer commented on #6940
there is a running test, and so far, this one didn't happen, but i will give the test more few hours to go to be sure

[2020-08-25 14:07] avikivity commented on #7019
In this path the function is called on literals, so the result is a literal.

This shouldn't be a huge problem.

perf_simple_query (for reads) should provide some indication.

My worry is that we relied on value views to be cheap to copy/destroy and now that's no longer the case, but perhaps it already wasn't the case.

[2020-08-25 14:10] avikivity commented on #6944
We must do background reclaim!

[2020-08-25 14:14] psarna commented on #7019
I'll run release perf_simple_query now and provide the output

[2020-08-25 14:15] fgelcer commented on #6974
@avikivity, i didn't report (if you say it contributes i will copy here few decoded backtraces) but this one also happened many times in my current running test.

[2020-08-25 14:20] raphaelsc commented on #6938
@slivne @avikivity

https://github.com/scylladb/scylla/commit/11df96718a8ce59017ca3703fd8d5d55c99164b5 should be backported to 4.2, 4.1 and 4.0 (both of which are affected by the bug which cleanup can pick a compacting sst), and https://github.com/scylladb/scylla/commit/7d7f9e1c5482f481842b4334c2dcbc02299ac462 backported to 4.2 only, as it's the only which has reshape in it.

[2020-08-25 14:20] avikivity commented on #6974
This is another case where we need background reclaim.

[2020-08-25 14:24] bhalevy commented on #7108
Both sound good.

[2020-08-25 14:27] denesb opened #7110 "nodetool rebuild fails with exception: get_repair_meta: repair_meta_id X for node Y does not exist"
*Installation details*
Scylla version (or git commit hash): 4.2.rc3-0.20200820.e931d2867
Build id: 9e2f16fd3eb812c4f12cf1c7b86d23fae9f8e8d1

Split from issue https://github.com/scylladb/scylla/issues/6645 as this error is unrelated to the main issue investigated there (semaphore timeout).

There are two cores, see https://github.com/scylladb/scylla/issues/6645#issuecomment-678953539 and https://gi

[2020-08-25 14:49] denesb commented on #7110
Sadly, as the cores were generated *after* the error message was written to the log, the cores don't contain the information on who and under what circumstances did try to to obtain the non-existent repair-meta.

[2020-08-25 15:20] nyh commented on #6469
Unfortunately, even though yesterday I was sure my patch fixed this bug, it still exists. `test/redis/run -vs test_strings.py::test_exists_multiple_existent_key` still crashes many of the times (though apparently not always) in dev mode and debug mode (at least, I didn't check release mode).
So I'm reopening.

[2020-08-25 15:25] nyh commented on #6469
Believe it or not, I found another misplaced ampersand in the same function :-(
I'll now run it many times in all modes to make more sure I got the last stray ampersand....

[2020-08-25 15:27] denesb opened #7111 "Toggleable abort on log messages and exceptions"
Most issues can only be debugged by inspecting the internal state of scylla, which is usually done by either obtaining a coredump or reproducing the issue locally. The latter options is often*very* time-consuming and sometimes even after many hours of trying is unsuccessful. The issue might need very special environment/workload/data/etc. So we often fall back to obtaining a coredump. This is easy

[2020-08-25 15:30] #6900 closed

[2020-08-25 15:30] #7073 closed

[2020-08-25 15:32] avikivity commented on #6469
You can use two ampersands for extra safety.

[2020-08-25 16:30] bhalevy commented on #7085
I managed to reproduce this with `database_test` using the following error injection:
[code]

[code]

I still don't understand how promise::_state became null

[2020-08-25 16:43] nizarh11 opened #7112 "Node gets overloaded when other node is preparing for upgrade"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.1.5-0.20200817.382dcb9d34f with build-id 81e17a64e43d05e201237c9322c225d5f005ab2c
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI):

**Node was overloaded [Too many in flight hints: 10485768] while another node was preparing for the upgrade on debian9**

Error:

[code]

Node gets overloaded message:

[code]

After this we

[2020-08-25 16:45] bhalevy commented on #7085
It's a double close.

Apparent with this added assert:
[code]

And avoided with:
[code]

[2020-08-25 16:53] bhalevy commented on #7085
@avikivity are you ok with adding the assert mentioned above detecting double `file::close()`?

[2020-08-25 16:59] aphyr opened #7113 "Weird return values from batch updates"
I've been trying to figure out how to perform batched reads in order to work around limitations in SELECT queries. @kostja suggested that the return value from batch UPDATE IFs should return the state of the row prior to the update taking place--by performing no-op updates, I could turn UPDATEs into reads. Scylla's docs [don't seem to talk about this at all](https://docs.scylladb.com/getting-start

[2020-08-25 17:09] haaawk commented on #7113
There's absolutely no guarantee regarding the order of statements in the batch. At least when no LWT statement is present in the batch. Does LWT change anything @kostja ?

[2020-08-25 17:27] roydahan commented on #7112
This is happening only in debian9, right?

[2020-08-25 17:33] roydahan commented on #6938
I can't tell with 100% certainty but it looks like in master the issue is fixed.

[2020-08-25 19:05] nyh opened #7114 "redis test "test_raw_cmd.py::test_ping_and_eof" fails in debug build"
The test `test/redis/run test_raw_cmd.py::test_ping_and_eof` fails, but only in debug mode. The problem reported is:

[code]

The same test always passes in dev mode.

CC @syuu1228

[2020-08-25 19:42] fgelcer opened #7115 "stall in repair apply_rows_on_follower (Reactor stalled for 15 ms)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): Scylla version 666.development-0.20

[2020-08-25 19:42] aphyr opened #7116 "Possible split-brain with LWT ops over CQL lists"
In a workload comprised of single-key select and update queries appending unique integers to CQL lists, it appears that histories may not be linearizable, even in healthy clusters--no partitions, crashes, etc. Reads executed at `SERIAL` fail to observe recent writes. Reads reflect states that could not possibly be the product of any order of updates.

 Our schema involves a single table, `lists`,

[2020-08-25 19:46] fgelcer commented on #7115
@avikivity , could this other backtrace be the same or similar to this issue's one?
[code]

[2020-08-25 20:09] fgelcer commented on #6191
just now i saw that it is related to 1TB longevity jobs, and yes, they are constantly running, but i didn't check for stalls on those jobs just yet.

once done with the other latency verification i will jump into this one

[2020-08-25 20:20] nyh commented on #7114
The plot thickens :-(

Both `test/redis/run test_raw_cmd.py::test_ping_and_eof` and `test/redis/run test_raw_cmd.py::test_ping` **fail** when run against the standard redis (just run redis in the background, and then "pytest"). Which is bad - all our tests should pass on Redis first.

Both tests expect an invalid command name (they use the silly one-character command "0x04") to elicit an "-ERR unk

[2020-08-25 20:30] fgelcer commented on #6376
sorry for the delay.

here is the keyspace definition:
[code]

here is the table definition:
[code]

here are the "extra" definitions:
[code]

[2020-08-26 01:12] asias commented on #7025
I am not sure what we can do in repair level. The system is loaded storage_proxy complains semaphore_timed_out. The scheduler is supposed to either slow down the queries or repair job.

[2020-08-26 01:39] aphyr commented on #7116
I've written a variant of this test which operates over plain old registers, to rule out any weirdness with CQL collections. Those also appear to exhibit some sort of weird nonlinearizable behavior--maybe a stale read? Hard to tell with just reads and writes. For instance, check out what key 10531 does [in this test run](http://jepsen.io.s3.amazonaws.com/analyses/scylla-4.2/20200825T141332.000-040