[2016-03-10 16:06] glommer commented on #1014
On Thu, Mar 10, 2016 at 11:04 AM, Raphael Carvalho <notifications@github.com

How? All the conversions are done with rename. That should be atomic.

[2016-03-10 16:09] raphaelsc commented on #1014
@glommer I am talking about when sstable::write_components is called to write a sstable using an existing generation. Right now, we are unconditionally creating a "toc.txt.tmp" at the beginning. Then we will have all components of existing generation + "toc.txt.tmp" created by sstable::write_components which failed in sstable::create_data() because data component exists.

[2016-03-10 16:16] tzach opened #1020 "Scylla AMI 19 fail to boot"
The following problem in incontinent, happened on 1/3 of the times
The AMI fail to complete the init, get stuck on "1/2 checks passed" status
System log below

Tested on AMI scylla_2016-03-10T12-31-07Z (ami-a2a846c2), at Oregon (us-west-2)

[code]

[2016-03-10 16:19] gleb-cloudius commented on #1012
On Thu, Mar 10, 2016 at 05:47:19AM -0800, Lucas Meneghel Rodrigues wrote:

We disable systemd coredump handling IIRC, so this is normal.

--
			Gleb.

[2016-03-10 16:20] gleb-cloudius commented on #1012
On Thu, Mar 10, 2016 at 05:47:55AM -0800, Lucas Meneghel Rodrigues wrote:

That's something new.

--
			Gleb.

[2016-03-10 16:27] tzach commented on #1020
tested on c3.xlarge

[2016-03-10 16:32] slivne commented on #1019
ami ami-f90a0e93

[2016-03-10 16:32] slivne commented on #1020
ami ami-f90a0e93

[2016-03-10 16:33] slivne commented on #1020
@syuu1228 please handle this first - we need to release 0.19

[2016-03-10 16:41] nyh commented on #657
I did a small test which contradicted the complaint here: I see only two reads (one from index, one from data file) per query:

I filled a bunch of data with cassandra-stress (on two nodes, RF=2, just for the heck of it), then connected with cqlsh and ran `SELECT * from keyspace1.standard1` and scrolled down a bunch of screens and picked one of the keys at random. Then I restarted scylla (to clear

[2016-03-10 16:44] tgrabiec commented on #1012
@lmr Maybe it's just slow, how long did you wait? On my system it takes gdb a while to read scylla object with debug symbols.

[2016-03-10 16:46] tzach commented on #1020
Its look like the init take more time, but do succeeded.
I just needed to wait longer.
There might be a regression in boot time here, I'm not sure. Closing this issue till I can reproduce.

[2016-03-10 16:46] #1020 closed

[2016-03-10 17:04] lmr opened #1021 "[AMI 0.19] Scylla crashes on short execution of CorruptThenRepair monkey"
I was just trying a smoketest before starting the 24 hour run of the cluster tests when I found this problem.

So let's try to recollect the events that can be found in the test log:

1) 11:13:41 - Test starts
2) 11:15:48 - Still at DB cluster init stage, we see the first suspicious messages from all nodes:

    11:15:48 DEBUG| [54.164.158.3] [stdout] Mar 10 14:15:48 ip-172-30-0-77 scylla[2114]:

[2016-03-10 17:09] lmr commented on #1021
Corrupt then rebuild monkey
===========================

What the nemesis does
---------------------

1. Destroy user data by running the script

    #!/bin/bash

    DELETE_COUNT=5

    ls /var/lib/scylla|sort -R |tail -$DELETE_COUNT |while read file; do
        rm -rf $file
    done

in one of the nodes

2. Run

    sudo pkill -9 scylla

On that same node.

3. Wait until DB services are down (Po

[2016-03-10 17:17] slivne commented on #1021
On Thu, Mar 10, 2016 at 7:04 PM, Lucas Meneghel Rodrigues <
notifications@github.com> wrote:

this is not OK - anyone ?

is the cluster really connected - nodetool status shows what  - how to
validate that it is really connected ?

I think there is a change in 0.19 that restarts scylla if it fails unless
it exited with exit 0 - so you may have a reboot - what does the disrupt do
?

is lmr-scylla-l

[2016-03-10 17:22] lmr commented on #1021
Q1 - is the cluster really connected - nodetool status shows what  - how to
validate that it is really connected ?
A1 - The criteria for nodes to be considered up is that port 9042 is occuppied on each of them. The test will simply not progress if 9042 is free.

Q2 - I think there is a change in 0.19 that restarts scylla if it fails unless
it exited with exit 0 - so you may have a reboot - what do

[2016-03-10 17:24] gleb-cloudius commented on #1021
On Thu, Mar 10, 2016 at 09:17:32AM -0800, slivne wrote:

"unknown verb exception 6 ignored" is normal. This is gossiper verbs
starting to come in before gossiper registered its handlers. Eventually
gossiper will register them and will start to handle incoming requests.

--
			Gleb.

[2016-03-10 17:53] tzach opened #1022 "AMI 0.19 fail to connect to reflector"
I started a cluster of 10 Scylla AMI c3.xlarge
9 succeeded
1 failed

The one who failed, have the following error in journal
[code]

Could be that the reflector time window is too small?

[2016-03-10 19:24] dmarti opened #1023 ""dnf upgrade" on Fedora 22 is still getting 0.18"
What I did: run a dnf upgrade on Fedora 22 and check scylla-server version

What I expected to see: version 0.19

What I got: version 0.18

[code]

[2016-03-10 19:41] lmr commented on #1019
It's a known issue, and the fix by @glommer didn't make into 0.19, as @slivne mentioned.

[2016-03-10 19:42] lmr commented on #1019
https://github.com/scylladb/scylla/issues/986. After re-visiting the issue, I'm not so sure @glommer's patches were actually merged onto master.

[2016-03-10 20:03] lmr commented on #1023
@dmarti I think cleaning the dnf cache should solve this -> `dnf clean all` before the commands you mentioned.

[2016-03-10 20:08] lmr commented on #1019
nitpick: 'runs for a long time, then crashes'.

[2016-03-10 21:06] slivne commented on #1014
On another server I found this

[code]

so here 36,26 have both TOC.txt and TOC.txt.tmp

[2016-03-10 21:10] glommer commented on #1014
Shlomi,

Please keep the time ordering. It's a mess to analyze without it.

On Thu, Mar 10, 2016 at 4:06 PM, slivne <notifications@github.com> wrote:

[2016-03-10 21:14] raphaelsc commented on #1014
@glommer: That's what I am talking about. We have all components of generation 36 (created in Feb 29), and apparently in a subsequent boot (at Mar 9), we create a temporary TOC (and that's all because create_data will fail with EEXISTS or something). write_components() unconditionally creates a temporary TOC. I sent a RFC patch for that. With the initialization problem fixed, I think that this pro

[2016-03-10 21:18] glommer commented on #1014
On Thu, Mar 10, 2016 at 4:14 PM, Raphael Carvalho <notifications@github.com>
wrote:

Yes, we need to fix both issues.

—

[2016-03-10 22:52] nyh commented on #1014
For completeness, I want to summarize here my understanding of all (as far as I know) symptoms we've seen on this issue. Assuming (Occam's razor!) that it's all based on one root cause, the root cause is probably this (discovered by Glauber and Pekka): Something (the gossiper?) wrote to a column_family which exists but not yet column_family::populate()'ed and then flushed the memtable before or du

[2016-03-10 22:57] nyh commented on #1014
BTW, I forgot to say how fix an installation which encountered this problem... I think the solutions are (but please think hard before doing them :-)):

Symptom set 1: Delete the entire partial sstable (if you find an sstable generation which is missing the toc, data and index - also delete its other files).

Symptom set 2: Delete the ".txt.tmp" file. Leave everything else in that generation intac

[2016-03-10 22:58] raphaelsc commented on #1014
That matches exactly my understanding of the problem :-) Very nice summary @nyh!

[2016-03-10 23:17] glommer commented on #1014
BTW, guys: Let's pay attention to one thing: the table where that problem happens is the schema_keyspaces table. That holds information about the keyspaces.

Who could be possibly be writing to that table with a bogus generation? I think gossip is unlikely here.

[2016-03-10 23:19] dmarti commented on #1023
Working now, thank you.

[2016-03-10 23:39] slivne commented on #1014
With regards to restoration in system table

The only item we should not change is the local token anything else we may
be able to loose and restore / not suffer from
* schema will be resurected by schema management
* compaction history / inprogress will be lose
* hints / paxos we do not supper
* sstable_activity / size_estimates - are stats
* batchlog -  may hold data that we need - yet in our ca

[2016-03-10 23:40] glommer commented on #1014
Looking at possible culprits: the migration manager generates keyspace mutations quite early. They do that with `announce_new_keyspace`, that calls `make_create_keyspace_mutations`

That used to happen way before populate - now it is no longer the case. The question is: who could be possibly causing a flush here?

[2016-03-11 03:13] asias commented on #962
@penberg can you reproduce locally. I tried 20 runs of
update_cluster_layout_tests.py:TestUpdateClusterLayout.simple_removenode_1_test
I did not reproduce with current master 16135c2084decd94e76c26706ddb2ecafa9d0043

[2016-03-11 05:28] asias commented on #962
@penberg I did another 60 runs with no problem.

[2016-03-11 06:37] tzach commented on #1019
instances?

If we can, we should. The long boot time, even if it works, is bad UX

[2016-03-11 06:49] tzach commented on #1023
@dmarti worth while to to add to the upgrade doc section

[2016-03-11 07:17] avikivity commented on #1008
@tgrabiec correct.

[2016-03-11 07:23] avikivity commented on #1023
It should work without any `dnf clean all`.

[2016-03-11 07:28] penberg commented on #1014
@glommer IIRC, migration manager will flush in most scenarios when the schema is changed.

[2016-03-11 08:56] tgrabiec commented on #1014
@penberg schema merge will flush schema tables, but we merge only in the announce path. When we populate the database, no server should be up yet.

[2016-03-11 09:29] penberg opened #1024 "nodetool cfstats dtest failure with smp > 1"
The test case passes with ``--smp 1``:

[code]

but fails with ``--smp 2``:

[code]

[2016-03-11 09:29] penberg commented on #1024
@amnonh @raphaelsc Faulty test or faulty API?

[2016-03-11 11:02] tgrabiec commented on #1014
It looks like rpc and storage_proxy are up before we loading schema tables, so yes, an incoming schema sync can explain this.

[2016-03-11 12:16] penberg commented on #1014
@tgrabiec Can we defer registration of the schema verbs? Wanna send a patch?

[2016-03-11 12:37] penberg commented on #771
Fixed by https://github.com/scylladb/scylla-jmx/commit/a38bbfd6032d886c301d1d45543e255fa2fa589c

[2016-03-11 12:37] #771 closed

[2016-03-11 12:43] penberg commented on #962
@asias Yes, I am able to reproduce locally but I forgot to mention that I am testing with ``--smp 2``:

[code]

[2016-03-11 14:56] arunsandu666 commented on #534
@penberg
Versions
Cassandra 2.1.11.969
CQL spec 3.2.1
Please find the actual yaml file attached.
[yaml file.zip](https://github.com/scylladb/scylla/files/169379/yaml.file.zip)

[2016-03-11 16:09] tgrabiec commented on #1014
@penberg We should probably defer registration of most verbs. Either that, or we should start listening after everything is set up. I don't want to step on the toes of whomever is working on this. @gleb-cloudius @asias ?

[2016-03-11 16:30] gleb-cloudius commented on #1014
On Fri, Mar 11, 2016 at 08:09:19AM -0800, Tomasz Grabiec wrote:

Everyone who is responsible for a component that register verbs has to
make sure it registers them only after they can be handled. For
mutation read/write verbs this means they should be registered whenever
cql server starts. Or the entire storage_proxy initialization should be
delayed till then. Unfortunately IIRC storage_proxy is n

[2016-03-11 16:43] gleb-cloudius commented on #1014
On Fri, Mar 11, 2016 at 06:30:15PM +0200, Gleb Natapov wrote:

Alternatively db may just fail to serve a query if it is not ready yet.
Storage proxy will handle that just fine, In fact since read/write verbs
are not used to access system tables this is exactly what happens now: If
those verbs are used to early db throws exception because it fails to find cf.

--
			Gleb.

[2016-03-11 17:07] amnonh commented on #1024
On Fri, Mar 11, 2016 at 11:29 AM, Pekka Enberg <notifications@github.com>
wrote:

It could be a fault API.
From the test failure message I get that we expect a single sstable, but we
get two.
So maybe we count the number of sstable twice.

[2016-03-11 17:36] tgrabiec commented on #1014
2016-03-11 17:30 GMT+01:00 Gleb Natapov <notifications@github.com>:

mutation read/write verbs this means they should be registered whenever

delayed till then. Unfortunately IIRC storage_proxy is needed by other

They could talk to local_storage, which wraps distributed<database> and
contains algorithms to query it. This was proposed before and there was an
argument against it which said that we

[2016-03-11 17:39] tgrabiec commented on #1014
2016-03-11 18:36 GMT+01:00 Tomasz Grabiec <tgrabiec@gmail.com>:

There would be shared code between  storage_proxy_client and
storage_proxy_server and it would contain all those x_locally() methods. We
could move that to local_storage which would be used by both
storage_proxy_client and storage_proxy_server.

[2016-03-11 17:39] glommer opened #1025 "Scylla crashes if stream does not end properly"
I have a cluster with 3 nodes running.

Node3 is the repair master, and some of the streams it sends to Node1 never get acknowledged. That's fine, and we should be able to handle that. But after a timeout occurs (10 minutes, but can be reduced in messaging_service.cc to make this quicker to happen), Node3 crashes instead of gracefully handling this.

Backtrace is as follows:

[code]

[2016-03-11 17:45] penberg commented on #1024
@amnonh There's two sstables because of sharing. I am not sure what's the right way to fix it.

Ping @raphaelsc @glommer

[2016-03-11 17:47] penberg commented on #1025
Fixed by commit https://github.com/scylladb/scylla/commit/f747df2aff2b3a39bacfc0c8e21c13074e3ab70d, no?

[2016-03-11 17:50] glommer commented on #1024
We can't really guarantee that a single SSTable will be created for anything with more than one partition key in smp > 2.

The only way to do so is to make the test token-aware, so that it only introduces partition keys that would fall into the same shard.

[2016-03-11 17:50] gleb-cloudius commented on #1014
On Fri, Mar 11, 2016 at 09:36:12AM -0800, Tomasz Grabiec wrote:

There is not need for yet another service that will have to be
initialized and destroyed somewhere. Database is already distributed,
distributed<distributed<database>> does not make sense. The problem is
that sharder logic for the database for some reason sits in storage_proxy
despite not using anything except _db from it. It should

[2016-03-11 17:51] gleb-cloudius commented on #1014
On Fri, Mar 11, 2016 at 09:39:16AM -0800, Tomasz Grabiec wrote:

Just move those x_locally to db. Why do you need yet another sharded
object?

--
			Gleb.

[2016-03-11 18:01] glommer commented on #1025
I don't have this commit in my tree. Will retest.

[2016-03-11 18:05] glommer commented on #1025
Yes. The cluster is still alive after the timeout when I apply that change.

[2016-03-11 18:05] #1025 closed

[2016-03-11 18:44] tgrabiec commented on #1014
2016-03-11 18:50 GMT+01:00 Gleb Natapov <notifications@github.com>:

"database" represents a single shard, it is not aware of other shards, just
like std::string in std::vector<std::string> doesn't have access to other
strings in that vector nor is aware of what vector<string> in particular
context means.

local_storage wouldn't be a distributed service. It would own
distributed<database> and cont

[2016-03-11 19:04] gleb-cloudius commented on #1014
On Fri, Mar 11, 2016 at 10:44:20AM -0800, Tomasz Grabiec wrote:

This statement is correct for all non distributed objects. storage_proxy
represents a single shard also. distributed<database> though represents
all shards, just like distributed<storage_proxy> and coincidentally
distributed<database> is the one the storage_proxy holds because
storage_proxy does not care about how database is sharded

[2016-03-11 19:42] tgrabiec commented on #1014
2016-03-11 20:04 GMT+01:00 Gleb Natapov <notifications@github.com>:

1) It's easier to discover interface through a class interface. For example
when I have a method:

void foo(local_storage& ls) {

}

I can type "ls." in an IDE and see what I can do with it.

2) local_storage could be extended with new state without adding state to
database or adding new parameters to methods accepting
distribute

[2016-03-11 20:31] slivne opened #1026 "Test for developer-mode in scylla_io_setup does not cove all options of setting the flag"
current code

[code]

need to support
--developer-mode true
--developer-mode 1
--developer-mode=true
--developer-mode=1

(if all of this are legal)

current check does not allign with the instruction of how to setup developer-mode - in our website we have --developer-mode trye

[2016-03-12 02:12] amnonh opened #1027 "on a single node AMI nodetool info returns an error"
After installing Scylla from ami: ami-f90a0e93

Trying to run nodetool info throws an error:

$ nodetool info
ID                     : 4480467f-e9d5-4a4e-8613-eb77023ec371
Gossip active          : true
Thrift active          : false
Native Transport active: true
Load                   : 107.04 KB
Generation No          : 1457747839
Uptime (seconds)       : 823
Heap Memory (MB)       : 50.87 / 247.

[2016-03-12 03:51] s905060 opened #1028 "Couldn't install Scylla 0.17 && 0.19 on Ubuntu 14.04 baremetal"
`$ sudo apt-get install scylla-server -y`

start: Job failed to start
invoke-rc.d: initscript scylla-server, action "start" failed.
dpkg: error processing package scylla-server (--configure):
 subprocess installed post-installation script returned error exit status 1
Setting up libhwloc-plugins (1.8-1ubuntu1.14.04.1) ...
Processing triggers for libc-bin (2.19-0ubuntu6.6) ...
Errors were encountere

[2016-03-12 04:15] indykish opened #1029 "scylla-server has dependency to OpenJDK7 which conflicts in softwares who use JDK8"
### Why does `scylla-server` need Open JDK ?

I see scylla-jmx (JMX an instrumentation for the JVM) will need Java.

Since `scylla-server` is native and why is it dependent on  scylla-jmx.

Should `scylla-jmx` if it collects metrics be an optional package ?

### In ubuntu 14.04, OpenJDK 7 is available, but it has reached EndOfLife.

We use another server that is written in scala using OpenJDK8. We

[2016-03-12 07:56] gleb-cloudius commented on #1014
On Fri, Mar 11, 2016 at 11:42:18AM -0800, Tomasz Grabiec wrote:

I disagree. Luckily we are not programming in java so we do not create
object for everything, so free standing functions in a nameapace
define interface perfectly.

If local_storage will gain state it will have to be change to
distributed<local_storage> at which point this become
distributed<distributed<database>> and then it make mo

[2016-03-12 12:56] tzach commented on #1028
@s905060 in reason you are not using the latest version (0.19)?

[2016-03-12 14:57] s905060 commented on #1028
I only found 0.17 in our internal-repo. So I did the following experiment but still no luck.

**Same issues on version 0.19**
`sudo wget -O /etc/apt/sources.list.d/scylla.list http://downloads.scylladb.com/deb/ubuntu/scylla.list`
`sudo apt-get update`
`sudo apt-get install scylla-server scylla-jmx scylla-tools`

Setting up scylla-server (0.19-20160308.4e3b98f-ubuntu1) ...
start: Job failed to star

[2016-03-12 23:27] s905060 commented on #1028
Found errors `sudo: no tty present and no askpass program specified`  in `/var/log/upstart/scylla-server.log`

The scylla-server has finally been installed once I added `scylla ALL=(ALL) NOPASSWD: ALL` in `/etc/sudoers`

Any suggestions?

[2016-03-13 03:44] indykish commented on #1029
What % of users(administrators) will use `nodetool` in cassandra land ?

Do you plan on making the scylla-server point to `java-runtime-headless`

[2016-03-13 10:01] tzach opened #1030 "scylla_setup fail to set RAID on Ubuntu 14.04"
Running scylla_setup on Ubuntu 14.04, I got the following:

[code]

Test was on EC m3.xlarge

[2016-03-13 10:03] tzach opened #1031 "scylla_setup - provide default values"
scylla_setup should provide the recommended value as default.
Right now:
[code]

Should be:

[code]

[2016-03-13 10:11] tzach commented on #1030
As a result (I suspect) of this, Scylla service fail to start  after running the setup script.

[code]

[2016-03-13 10:49] vladzcloudius commented on #1004
@slivne According to logs during the second _refresh_ shard 1 succeeds to read `Filter.db` while shard 0 fails to do so right after it (in the original error report it was TOC.db):
[code]

and the test fails as follows:
[code]

[2016-03-13 10:54] tzach opened #1032 "scylla_setup - setup RAID: options not clear, setup failed"
On RHEL 7.2  I get the following prompt:

[code]
How should I provide the selected drives? in what format?
I suggest adding:
"Please select disks from following list:
/dev/xvda /dev/xvdb /dev/xvdc
by typing the full disk name and click eneter
"
In addition:
- selection should ignore choosing the same drive more than once
- allow to restart

After selecting /dev/xvdb and /dev/xvdc, I got the follow

[2016-03-13 11:24] vladzcloudius commented on #1004
I've printed the content of the SStable directory right before the second `nodetool refresh` call:
[code]
No .tmp files or something like that as in #1014
After the failure the above directory has only `manifest.json` file. All other files above are gone.

[2016-03-13 11:36] tzach commented on #1032
When trying to run the script again, I got:

[code]

[2016-03-13 11:36] tzach commented on #1032
Disk info below

[code]

[2016-03-13 12:05] tzach commented on #1028
Failed to reproduce this install issue on EC2, with instances r3.xlarge, m3.xlarge
The following works for me:
[code]
Ubuntu 14.04.2 LTS.

@s905060 can you please share your `lsb_release -a`  and `uname -r` ?

[2016-03-13 12:30] s905060 commented on #1028
FYI.

TEST ENV 1
$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.2 LTS
Release:	14.04
Codename:	trusty

$ uname -r
3.16.0-37-generic

------------------------

TEST ENV 2
$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.2 LTS
Release:	14.04
Codename:	trusty

$ uname -r
3.13.0-44-generic

[2016-03-13 12:32] tzach commented on #1028
@s905060 same as what I have, so the cause is elsewhere

[2016-03-13 12:42] s905060 commented on #1028
I have found some other users have the same issues:
https://groups.google.com/forum/#!msg/scylladb-users/Im_OV6RFw3E/khmjh8XbBAAJ

[2016-03-13 12:59] nyh commented on #1028
On Sun, Mar 13, 2016 at 2:05 PM, Tzach Livyatan <notifications@github.com>
wrote:

dist/ubuntu/debian/scylla-server.upstart.
But the same file specifies "setuid scylla", meaning that this script will
try to run "sudo" as the user "scylla".

Depending on the machine's setup on who can run "sudo" and how, this may
NOT work: For example, many installations require users to type in their
own password

[2016-03-13 13:02] nyh commented on #1028
On Sun, Mar 13, 2016 at 2:58 PM, Nadav Har'El <nyh@scylladb.com> wrote:

After I wrote the above, I noticed this commit:

https://github.com/scylladb/scylla/commit/6ae41a71c9d1c7c8f206d8f8cbb4ec7cd85abe83
<https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Fscylladb%2Fscylla%2Fcommit%2F6ae41a71c9d1c7c8f206d8f8cbb4ec7cd85abe83&sa=D&sntz=1&usg=AFQjCNHN6KUc-dAX22mIhqrNImRKHaTvWw>

So apparently,

[2016-03-13 18:06] tzach commented on #1028
@nyh The commit you pointed to is part of 0.19, but @s905060 report the issue still exist in this version

[2016-03-13 21:10] s905060 commented on #1028
I am able to see `scylla ALL=(ALL) NOPASSWD:SETENV: /usr/lib/scylla/scylla_prepare,/usr/lib/scylla/scylla_stop,/usr/lib/scylla/scylla_io_setup` in `/etc/sudoers.d/scylla`, however, the installation is still failed.

I did another try with official 0.19 on fresh VM:

After this operation, 0 B of additional disk space will be used.
Setting up scylla-server (0.19-20160308.4e3b98f-ubuntu1) ...
start:

[2016-03-13 21:59] s905060 commented on #1028
It turns out that our `/etc/sudoers` does not have `#includedir /etc/sudoers.d` inside. Once I added this into `/etc/sudoers` everything works as expected.

[2016-03-14 03:23] asias commented on #962
@penberg Thanks. Managed to reproduce with --smp 2 + current master f747df2aff2b3a39bacfc0c8e21c13074e3ab70d

[2016-03-14 06:34] #182 closed

[2016-03-14 07:35] asias opened #1033 "simple_removenode_1_test falling with Cannot achieve consistency level for cl TWO"
[code]

[2016-03-14 08:03] syuu1228 commented on #1028
This looks like caused by https://github.com/scylladb/scylla/issues/1017, because package installation is aborted by "invoke-rc.d: initscript scylla-server, action "start" failed.".
It may cause when you are not using XFS rootfs and haven't setup RAID partition for /var/lib/scylla, etc.
There are number of reason scylla failing startup, and we require configuration to prepare running it, but Ubunt

[2016-03-14 08:13] syuu1228 opened #1034 "On c4/m4 AMI instances, login message says "To see status of ScyllaDB, run 'systemctl status scylla-server'" but it's never started until scylla-io-setup finishes"
It should notice about scylla-io-setup.service

[2016-03-14 08:18] syuu1228 opened #1035 "On AMI instances, login message says "To see status of ScyllaDB, run 'systemctl status scylla-server'" but it's never started until scylla-ami-setup finishes"
Similar to https://github.com/scylladb/scylla/issues/1034, scylla-ami-setup does construction of RAID, it may not finished until ssh login completed.

[2016-03-14 08:21] tgrabiec commented on #1014
2016-03-12 8:56 GMT+01:00 Gleb Natapov <notifications@github.com>:

What's the downside of encapsulating this? I can see only benefits.

It wouldn't have to, it could have a private distributed<state>.

local_storage could have state which does not belong to database class, in
which case it shouldn't be moved there. Just because we don't need it now
doesn't mean we shouldn't design for it.

Isn't

[2016-03-14 08:24] #1033 closed

[2016-03-14 08:30] syuu1228 commented on #996
It seems we are disabling cpu0 on scylla_sysconfig_setup, when NR_CPU >= 8 and SET_NIC == no: https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_sysconfig_setup#L79

(BTW, is this code can be used for generic environment, or it meant for AWS only??)

So scylla_io_setup should parse $SCYLLA_ARGS and get actual number of cpus assigned for scylla.

[2016-03-14 08:30] nyh commented on #1028
On Sun, Mar 13, 2016 at 11:10 PM, Cheng-Hsiu (Jash) Lee <
notifications@github.com> wrote:

With great power, comes great responsibility. With use of "sudo", come
great security holes. Especially if used incorrectly.

In particular, what was the thinking behind adding the "SETENV" option
above?
Let's walk through *one concrete security hole*, which will let anyone
breaking into the "scylla" accoun

[2016-03-14 08:32] tgrabiec commented on #1014
2016-03-14 9:21 GMT+01:00 Tomasz Grabiec <tgrabiec@gmail.com>:

Scratch that, of course it's the client who needs mutate_done.

[2016-03-14 09:13] slivne commented on #1003
@nyh any update on this ?

[2016-03-14 09:36] gleb-cloudius commented on #1014
On Mon, Mar 14, 2016 at 01:21:23AM -0700, Tomasz Grabiec wrote:

namespace is an encapsulation.

What the point of the indirection?

When we will have it we would no what to design to. It is pointless to
discuss something we do not have and do not plan to have.

Mutation_done is a response to a client request.

I mean something like storage_proxy::init_messaging_service() which what
we have alread

[2016-03-14 09:42] nyh commented on #1003
On Mon, Mar 14, 2016 at 11:13 AM, slivne <notifications@github.com> wrote:

No, I'm working on my presentation for tomorrow. This will be next on my
list.

[2016-03-14 09:45] #1004 closed

[2016-03-14 09:53] penberg commented on #1024
Perhaps we should relax the test case then?

@slivne @lmr

[2016-03-14 10:19] syuu1228 commented on #1028
@nyh SETENV was for /usr/bin/sudo -E on https://github.com/scylladb/scylla/blob/master/dist/redhat/systemd/scylla-server.service#L16.
Without this scylla_prepare and scylla_stop won't work because it's depends on EnvironmentFile variables passed through environment variables, but we still can do ". /etc/sysconfig/scylla-server" in the script instead of using environment variables.

And why we have

[2016-03-14 10:21] syuu1228 commented on #1030
Probably Ubuntu's lsblk is not compatible with CentOS/Fedora's. Will take a look.

[2016-03-14 10:34] syuu1228 commented on #996
Doing --smp $((CPU_NR - 1 )) was copied from dist/ami/files/scylla-setup.sh, so I think running it on non-AWS environment is bug. https://github.com/scylladb/scylla/commit/89dcc5dfb3f3c4c867b4b1d6a8b9dae917454524#diff-60739d0e2ff01fb16ba6c5151dfd47aaL43

[2016-03-14 10:45] nyh commented on #1028
On Mon, Mar 14, 2016 at 12:19 PM, Takuya ASADA <notifications@github.com>
wrote:

I see, but this "SETENV" setting is still a security faux-pas (the
sudoers(5) manuals says "only trusted users should be allowed to set
variables in this manner."). If you want to pass *certain* environment
variables, there is also a way to do that (I think "env_check", but I don't
remember the details) and you don't

[2016-03-14 12:05] tgrabiec commented on #1014
2016-03-14 10:36 GMT+01:00 Gleb Natapov <notifications@github.com>:

It's not, at least not in the sense I'm aware of. Encapsulation is about
hiding internal state behind a well defined set of methods for manipulating
it in a consistent way.

Having namespace-level methods doesn't encapsulate state, the state runs
free. In that case the set of methods which can manipulate the state is
open - any p

[2016-03-14 12:27] vladzcloudius commented on #670
with scyllaDB HEAD d4b4baad98152f474a35700a401745a11042208d the issue doesn't reproduce.

[2016-03-14 12:27] #670 closed

[2016-03-14 12:29] gleb-cloudius commented on #1014
On Mon, Mar 14, 2016 at 05:05:21AM -0700, Tomasz Grabiec wrote:

That is if you have a state. We do not have a state to encapsulate, so
all we have is an interface which can be perfectly encapsulated in a
namespace.

Having it in a namespace does the same. Not everything has to be an
object.

User only has a db reference and a method to query it in db namespace.
That's the clearest interface you c

[2016-03-14 13:12] avikivity commented on #1028
Need to check which version of sudo added sudoers.d, and add a dependency on that version. This will refuse to install on too old versions.

[2016-03-14 13:28] pdziepak commented on #773
On 9 March 2016 at 09:25, slivne <notifications@github.com> wrote:

prevent oom in general, given high enough demand from concurrent readers or
other operations, we may run out of memory in the middle of the read, or
despite even low thresholds.

can be thrown not in the context of the read causing it but anywhere else,
in the worst case in future::then_wrapped() triggering an abort. We should
str

[2016-03-14 13:54] tgrabiec commented on #1014
2016-03-14 13:29 GMT+01:00 Gleb Natapov <notifications@github.com>:

We have state, distributed<database> is the state.

The first obstacle is that you need to know that you should look for free
functions in some particular namespace. When you have
distributed<database>&, it doesn't occur to you immediately that you should
look in the db:: namespace.

Even when you know that, finding all methods w

[2016-03-14 14:08] gleb-cloudius commented on #1014
On Mon, Mar 14, 2016 at 06:54:39AM -0700, Tomasz Grabiec wrote:

This is an object we are working upon not a state. You do not propose to
change all function that get distributed<storage_proxy> to get an object
that contains distributed<storage_proxy> and do the same for all other
similar things I hope.

Hind private in internal namespace.

I do not see any. I do see disadvantages. When last time

[2016-03-14 14:34] lmr opened #1036 "[AMI 0.19] Scylla crashes when trying to run nodetool repair (coredumps and stack traces available)"
When running the cluster test suite on the 0.19 AMIs, we found a problem running the CorruptThenRepairMonkey (more details on what the nemesis does later).

Cassandra-stress with 1000 threads start around 20:39:

    20:39:16 DEBUG| Remote [centos@52.23.167.103]: Running 'cassandra-stress write cl=QUORUM duration=1440m -schema 'replication(factor=3)' -port jmx=6868 -mode cql3 native -rate threads=

[2016-03-14 15:26] tzach opened #1037 "Running scyllatop on AMI 0.19 fail"
[code]

[2016-03-14 15:30] tzach commented on #1037
Look like collectd is not configure and not running by default on AMI.

[2016-03-14 16:16] lmr opened #1038 "[AMI 0.19] Scylla crashes when trying to run nodetool rebuild (coredumps and stack traces available)"
When running the cluster test suite on the 0.19 AMIs, we found a problem running the CorruptThenRebuildMonkey (more details on what the nemesis does later).

Cassandra-stress starts around 20:09:

    20:09:30 remote           L0773 DEBUG| Remote [centos@54.210.168.95]: Running 'cassandra-stress write cl=QUORUM duration=1440m -schema 'replication(factor=3)' -port jmx=6868 -mode cql3 native -rate t

[2016-03-14 16:17] lmr commented on #1036
I forgot to mention I left the clusters up and running just in case someone wants access to it. I won't be keeping them indefinitely up, though.

[2016-03-14 16:17] lmr commented on #1038
I forgot to mention I left the clusters up and running just in case someone wants access to it. I won't be keeping them indefinitely up, though.

[2016-03-14 16:44] lmr commented on #1036
@amnonh, you may want to take a look at the issue description, specially the part relative to scylla-jmx:

    20:54:25 DEBUG| [52.205.255.31] [stdout] Mar 11 20:54:25 ip-172-30-0-67 scylla-jmx[2131]: Mar 11, 2016 8:54:25 PM org.apache.cassandra.net.MessagingService$CheckDroppedMessages run
    20:54:25 DEBUG| [52.205.255.31] [stdout] Mar 11 20:54:25 ip-172-30-0-67 scylla-jmx[2131]: INFO: Dropped

[2016-03-14 17:37] tgrabiec commented on #1014
2016-03-14 15:08 GMT+01:00 Gleb Natapov <notifications@github.com>:

I am proposing to encapsulate distributed<database> inside local_storage,
meaning that it would be owned by it. Functions currently working on
distributed<database>& would either work on local_storage& or will become
methods of local_storage, depending on level of abstraction.

Fine, what about other points.

I'm not familiar wit

[2016-03-14 18:16] vladzcloudius opened #1039 ""WARNING: exceptional future ignored of type 'std::out_of_range': deque::_M_range_check: __n (which is 281474976710655)>= this->size() (which is 1)" errors during batch-crash-subset-bootstrap"
scylla HEAD: d4b4baad98152f474a35700a401745a11042208d
Test: `lein test :only cassandra.batch-test/batch-crash-subset-bootstrap`
Test description:
1. Start 3 Nodes on a clean DB.
2. Start to repeat in parallel the following 3 operations:
   1. Bootstrap 2 additional Nodes with some delay between each other.
   2. Kill one of the Nodes started in (1) and restart it after some delay.
   3. Stream dat

[2016-03-14 18:30] gleb-cloudius commented on #1014
On Mon, Mar 14, 2016 at 10:38:02AM -0700, Tomasz Grabiec wrote:

And I do not see any advantage of doing so. Working on
distributed<database>& makes it very clear what is going on, no need to
obfuscate that. We have a lot of functions that get distributed objects
and no one propose to put those distributed objects into another object
and pass it around instead.

What other points? If I see distrib

[2016-03-14 19:08] penberg commented on #986
This is fixed by the following seastar merge: https://github.com/scylladb/scylla/commit/7ae2298081fe3117e26c33502542c590ad5b90ec

[2016-03-14 19:08] #986 closed

[2016-03-14 19:16] penberg commented on #1038
@glommer @raphaelsc Is this already fixed in ``master`` by one of your sstable changes?

[2016-03-14 19:30] raphaelsc commented on #1038
As far as I can tell, we shouldn't be facing that problem anymore. For the record, that problem refers to "Mar 11 23:15:18 ip-172-30-0-237 scylla[4708]: Exiting on unhandled exception of type 'sstables::malformed_sstable_exception': Invalid State encountered. Temporary TOC file found after TOC file was processed". @glommer?

[2016-03-14 19:47] amnonh commented on #1036
On Mon, Mar 14, 2016 at 6:44 PM, Lucas Meneghel Rodrigues <
notifications@github.com> wrote:

I've looked at the jmx part:
The failure is a result of a call to get_node_token with 127.0.0.1

curl -X GET http://127.0.0.1:10000/storage_service/tokens/127.0.0.1

That is mapped
to service::get_local_storage_service().get_token_metadata().get_tokens("127.0.0.1");
When using the local ip address:
 curl

[2016-03-14 19:55] glommer commented on #1038
@penberg That is very likely the same issue as #1014 , or at least partially, which is very good news.
However, I would not dare to say this is fixed until all the verbs get their initialization delayed.

I see there is a patch that moved some verbs' initialization to a later time. Did that patch move all verbs' initialization?

[2016-03-14 20:02] penberg commented on #1038
@glommer No, not all of them.

[2016-03-14 20:04] glommer commented on #1038
@penberg Our patches will prevent further corruption by not allowing a new table to overwrite existing ones. But if a verb arrives too early and we trigger a write, we'll still crash.

So is it fixed? Technically it depends on which verb is the early bird here, but in a broad level, no.

[2016-03-14 21:17] lmr opened #1040 "[Fedora RPM] Failure to start scylla service"
The daily RPM smoke test failed - after installing the RPM, starting the scylla service failed because `scylla-io-setup.service` timed out.

    14:13:38 process          L0275 INFO | Running 'systemctl start scylla-server.service'
    14:43:39 process          L0362 DEBUG| [stderr] A dependency job for scylla-server.service failed. See 'journalctl -xe' for details.
    14:43:39 service          L

[2016-03-14 21:54] lmr commented on #1040
I started to look at the scylla-io-setup.service file:

https://github.com/scylladb/scylla/blob/master/dist/redhat/systemd/scylla-io-setup.service

And indeed we have a timeout of 1800 seconds here. Looking at the script executed by this service:

https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_io_setup

I notice it grabs information from a certain IP address, 169.254.169

[2016-03-14 22:06] lmr commented on #1038
Scylla package versions:

    scylla-boost-filesystem-1.58.0-11.el7.centos.x86_64
    scylla-boost-program-options-1.58.0-11.el7.centos.x86_64
    scylla-boost-system-1.58.0-11.el7.centos.x86_64
    scylla-boost-test-1.58.0-11.el7.centos.x86_64
    scylla-boost-thread-1.58.0-11.el7.centos.x86_64
    scylla-env-1.0-1.el7.centos.noarch
    scylla-gdb-7.10.1-30.el7.centos.x86_64
    scylla-jmx-0.19-2

[2016-03-14 22:06] lmr commented on #1036
Scylla package versions:

    scylla-boost-filesystem-1.58.0-11.el7.centos.x86_64
    scylla-boost-program-options-1.58.0-11.el7.centos.x86_64
    scylla-boost-system-1.58.0-11.el7.centos.x86_64
    scylla-boost-test-1.58.0-11.el7.centos.x86_64
    scylla-boost-thread-1.58.0-11.el7.centos.x86_64
    scylla-env-1.0-1.el7.centos.noarch
    scylla-gdb-7.10.1-30.el7.centos.x86_64
    scylla-jmx-0.19-2

[2016-03-14 22:32] raphaelsc opened #1041 "nodetool info is not working properly"
The following AMI is used:
scylla_2016-03-10T05-43-00Z (ami-7c545016)

Error happens when simply issuing the command, look:
[code]

After that, Scylla is still up and log doesn't show anything strange:
[code]

[2016-03-14 23:37] amnonh commented on #1041
Already covered by #1027
Please close

On Tue, Mar 15, 2016 at 12:32 AM, Raphael Carvalho <notifications@github.com

[2016-03-14 23:42] raphaelsc commented on #1041
@amnonh  thx

[2016-03-14 23:42] #1041 closed

[2016-03-15 00:40] raphaelsc commented on #1036
Let me first mention that SIGSEGV occurs at sstable::data_consume_rows(). While searching for the root of SIGSEGV (using core dump provided by @lmr),  I found that sstable::data_consume_rows()'s parameter consumer (of type row_consumer) is apparently destroyed when the function is called. Look at 'info args' of the function's frame:
[code]

Then I moved on to the next frame, which is:
[code]

Take

[2016-03-15 00:47] glommer commented on #1036
Hi Raphael

The only patches I remember that got in that touch this code, are @nyh's
patches to reduce
the size of the read_buffer.

Have you tried reverting them ?

On Mon, Mar 14, 2016 at 8:40 PM, Raphael Carvalho <notifications@github.com>
wrote:

[2016-03-15 00:58] raphaelsc commented on #1036
@glommer I didn't reproduce the problem yet (just debugging it via core dump). I will try it now, and if i succeed, I will do it! Thanks.

[2016-03-15 01:29] amnonh opened #1042 "nodetool status return wrong value"
On a single node testing, nodetool status has the following errors:
1. ignore the keyspace name:
2. the load is wrong, in the example the directory size is 178MB but the load report 1.73 TB
$ nodetool status keyspace1
Datacenter: datacenter1
=======================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address         Load       Tokens  Owns    Host ID

[2016-03-15 03:20] raphaelsc commented on #1036
Unfortunately, I wasn't able to reproduce the problem with scylla single-node. I will try again tomorrow.

[2016-03-15 03:46] glommer commented on #1036
On Mon, Mar 14, 2016 at 11:20 PM, Raphael Carvalho <notifications@github.com

If it's a repair problem, you'll need more than one node, for sure.

[2016-03-15 03:54] raphaelsc commented on #1036
I am now thinking that a problem in repair triggered an exception (which seems to be true because of the error message `20:54:31 DEBUG| [54.84.166.104] [stdout] Mar 11 20:54:31 ip-172-30-0-72 scylla[3636]:  [shard 0] stream_session - [Stream #bc616e21-e7ca-11e5-ad61-000000000000] GOT STREAM_MUTATION_DONE from 172.30.0.71: Can not find stream_manager`), and mutation_reader::impl was destroyed befor

[2016-03-15 03:59] raphaelsc commented on #1036
@glommer Thanks. Tomorrow, I will try it with a cluster configuration. By the way, I am thinking that we will possibly have to remove that scheduling from constructor. That's bad in terms of RAII. We cannot guarantee that _context_future is done when destructor gets called. Unless, we add an assert in destructor and make sure that _context_future always gets resolved before object is destroyed (wh

[2016-03-15 06:36] slivne commented on #1040
1. Do we have enough disk space on the vm to run iotune the current code
needs 10 gb

2.
On Mar 14, 2016 11:55 PM, "Lucas Meneghel Rodrigues" <
notifications@github.com> wrote:

https://github.com/scylladb/scylla/blob/master/dist/redhat/systemd/scylla-io-setup.service

executed by this service:

https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_io_setup

I can't ping this m

[2016-03-15 06:53] tzach commented on #1019
The reason might be iotune require 10GB to run
We need to either relax that for smaller storage machines.
@avikivity @glommer , thoughts?

[2016-03-15 07:17] penberg commented on #1039
This exception comes from ``std::deque::at()`` that's getting somewhere from the streaming code:

[code]

@vladzcloudius, would it be possible to run the same test with DEBUG logging?

@asias, thoughts?

[2016-03-15 07:29] tzach opened #1043 "Scylla AMI 0.19 fail to start, creates coredumps"
Launching Scylla  AMI 0.19, on c3.8xlarge, Scylla process fail to start, coredump
Log start below

[code]

coredump
[code]

[2016-03-15 07:43] tzach commented on #1043
[code]

the log include:
[code]

Look like iotune set a num-io-queues which is higher than scylla valid range

[2016-03-15 07:44] tzach commented on #1043
@slivne @syuu1228 I assume iotune should not run for c3 types instances
look like it does

[2016-03-15 08:22] tgrabiec commented on #1014
2016-03-14 19:30 GMT+01:00 Gleb Natapov <notifications@github.com>:

I am. I don't know why you had to unpack the interface into namespace
instead of unnesting the class.

I don't see why unnesting a class would break encapsulation. Noone can use
your inner class to manipulate the state if you don't leak your state from
the main class. If you want to hide the interface of the unnested class you
ca

[2016-03-15 08:35] gleb-cloudius commented on #1014
On Tue, Mar 15, 2016 at 01:22:19AM -0700, Tomasz Grabiec wrote:

Because the class was nested for a reason. The reason it to make it
encapsulated into implementation's namespace. This is what you want to
use class for here.

Well, I do not see how it will not do so.

There is not state in a thing we are talking about, so the only reason
you propose the use of a class is a namespace with "private".

[2016-03-15 08:50] #1000 closed

[2016-03-15 09:07] avikivity opened #1044 "rpc_keepalive parameter is ignored"
config has an `rpc_keepalive` parameter, but we ignore it.

Since the default is true, we may as well respect it.

@gleb-cloudius

[2016-03-15 09:09] gleb-cloudius commented on #1044
On Tue, Mar 15, 2016 at 02:07:41AM -0700, Avi Kivity wrote:

Is this parameter about inter node communication or thrift rpc?

--
			Gleb.

[2016-03-15 09:10] gleb-cloudius commented on #1044
On Tue, Mar 15, 2016 at 11:09:14AM +0200, Gleb Natapov wrote:

Answering my own question looks like it is about client connection.

--
			Gleb.

[2016-03-15 09:13] avikivity commented on #1044
Right, so this is invalid.

[2016-03-15 09:16] gleb-cloudius commented on #1044
On Tue, Mar 15, 2016 at 02:13:21AM -0700, Avi Kivity wrote:

We can still honor it for client connections.

--
			Gleb.

[2016-03-15 09:17] avikivity commented on #1044
We don't suppor thrift now.

[2016-03-15 09:20] gleb-cloudius commented on #1044
On Tue, Mar 15, 2016 at 02:17:42AM -0700, Avi Kivity wrote:

This is for both:

rpc_keepalive
    (Default: true) Enable or disable keepalive on client connections (RPC or native).

Never underestimate how confusing Cassandra naming can be.

--
			Gleb.

[2016-03-15 09:21] avikivity commented on #1044
It would make more sense for the client to enable keepalive than the server, too.

[2016-03-15 09:22] gleb-cloudius commented on #1044
On Tue, Mar 15, 2016 at 02:21:51AM -0700, Avi Kivity wrote:

Totally agree.

--
			Gleb.

[2016-03-15 09:55] tzach opened #1045 "sstable2json fail"
Trying to run sstable2json on scylla 0.19 AMI, I get the following error
Is it a bug, or am I'm using it wrong?

[code]

[2016-03-15 09:59] slivne commented on #1045
You need to run it on a Data file not on a directory

On Tue, Mar 15, 2016 at 11:55 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-03-15 10:03] vladzcloudius commented on #1039
On 03/15/2016 09:17 AM, Pekka Enberg wrote:

@penberg - NP. I'll update the issue once I have new data.

[2016-03-15 10:05] slivne commented on #1040
Lucas

the sanity test from a day or two before on head did pass (
http://jenkins.cloudius-systems.com:8080/job/scylla-rpm-test/150/parameters/)
what is the difference ?

On Tue, Mar 15, 2016 at 8:36 AM, Shlomi Livne <shlomi@scylladb.com> wrote:

[2016-03-15 10:15] slivne commented on #1043
thats not the issue we are using one core dedicated for networking and for some reason this is nto taken into consideration it should (or at least it did in 0.18)

so the number of 32 queues is incorrect as you have more queues then cores that scylla runs on.

trying to test this on my own.

[2016-03-15 10:19] slivne commented on #1043
something is incorrect which AMI did you run ?

I ran a c3.8xlarge using scylla_2016-03-10T12-31-07Z (ami-f90a0e93)

and have a different setup then you

[code]

In which zone did you run this ? and of which AMI ?

[2016-03-15 10:23] tzach commented on #1045
You mean like this?
[code]
I get the same error about saved_caches dir

[2016-03-15 10:25] avikivity commented on #1040
The test should complete within a few minutes, regardless of disk speed.  It is probably hung.

Can you rerun iotune manually on the same machine?

[2016-03-15 10:25] tzach commented on #1043
I used  ami-a2a846c2 in Oregon (use-west-2)

[2016-03-15 10:26] slivne commented on #1040
In previous runs it passed - we need to understand what happend

and we need to limit iotune to X minutes (X should 4 to 5 minutes probably
not more then that)

On Tue, Mar 15, 2016 at 12:25 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-03-15 10:26] tzach commented on #1043
Maybe the fact that I run 3 node cluster is a factor?
The reflector logic might change init ordering

[2016-03-15 10:28] avikivity commented on #1045
Try adding `-Dcassandra.storagedir=/var/lib/scylla` (and running with a user that has write permissions to `/var/lib/scylla`)

[2016-03-15 10:29] slivne commented on #1043
I ran a cluster or 2 as well in virginia it worked

now testing a 2 node cluster in oregon

On Tue, Mar 15, 2016 at 12:26 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-03-15 10:31] avikivity commented on #1040
For some reason the test runs on a VM image that is hosted on NFS (`/home/f22-64.qcow2`).  If the NFS server is heavily loaded, we won't get reasonable results.

Need to run the test on local storage.

[2016-03-15 10:33] slivne commented on #1043
ran a 2 node cluster on oregon with c3.8x

ami scylla_2016-03-10T12-31-07Z (ami-a2a846c2)

using reflector

I have the same

[code]

On Tue, Mar 15, 2016 at 12:29 PM, Shlomi Livne <shlomi@scylladb.com> wrote:

[2016-03-15 10:33] slivne commented on #1043
Can you reproduce the issue via the AWS console and not via your scripts

On Tue, Mar 15, 2016 at 12:33 PM, Shlomi Livne <shlomi@scylladb.com> wrote:

[2016-03-15 10:37] slivne commented on #1045
I did the following without an additional flag and it worked for me

sstable2json /var/lib/scylla/data/system/schema_keyspaces-b0f2235744583cdb9631c43e59ce3676/system-schema_keyspaces-ka-49-Data.db

[code]
 on AWS AMI instance

what env are you testing this ?

[2016-03-15 10:38] slivne commented on #1040
It is on /home because he ran out of local disk space on muninn ... ok will
try to clear some old "OSV" items of its local disks.

On Tue, Mar 15, 2016 at 12:31 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-03-15 10:40] slivne commented on #1040
Luca muninn does not seem to have an additional local disk  - huginn has
how hard would it be to seitch to it ?

On Tue, Mar 15, 2016 at 12:38 PM, Shlomi Livne <shlomi@scylladb.com> wrote:

[2016-03-15 10:47] avikivity commented on #1045
@slivne you are running as root so it was able to create `/saved_caches`.

[2016-03-15 10:50] tzach commented on #1045
Thanks
It was a permission issue, using sudo solve the problem

[2016-03-15 10:50] #1045 closed

[2016-03-15 10:51] #1044 closed

[2016-03-15 11:56] gleb-cloudius commented on #1038
update_schema_version() is called before std::unique_ptr<query_context> qctx is initialized

[2016-03-15 12:00] slivne commented on #1038
So is this fixed now by boot order update ?

On Tue, Mar 15, 2016 at 1:56 PM, Gleb Natapov <notifications@github.com>
wrote:

[2016-03-15 13:15] gleb-cloudius commented on #1038
It may be. From the core it is not clear who called update_schema_version() to early. Since in the log we have complains from mutation verb it is reasonable to assume it was responsible in which case problem should be fixed already, but this is just assumptions.

[2016-03-15 13:27] asias commented on #1039
streaming code does not use std::deque.  The streaming sender reads mutations from disk and the sstable uses std::deque, it might be a bug in sstable.

[2016-03-15 13:39] slivne commented on #1024
@amnonh is the owner of this tests ....

[2016-03-15 13:40] gleb-cloudius commented on #1038
Do we have a full log for that?

[2016-03-15 13:44] slivne commented on #1022
the time limit of 5 minutes is common to Scylla and Cassandra - I don;t think we should increase it - we can try and deploy multiple reflector services one in each zone and see if that helps in any manner (it will require some knowledge to figure out which reflector server to use).

[2016-03-15 13:44] slivne commented on #1038
@lmr ?

On Tue, Mar 15, 2016 at 3:40 PM, Gleb Natapov <notifications@github.com>
wrote:

[2016-03-15 14:07] glommer commented on #1019
@avikivity claims that smaller files may lead us to be tricked by disk caches.

But I do believe we can run smaller files.

[2016-03-15 14:25] lmr commented on #1038
@gleb-cloudius and @slivne sure, there is a full log for the test. It's just humongous and therefore may be hard to read. I can compress it and upload it somewhere.

[2016-03-15 14:32] lmr commented on #1040
@avikivity the VM is on an image hosted on NFS because that was the only place I could find disk space (all the images had to be resized to accomodate the new iotune disk requirements, making muninn to run out of space).

[2016-03-15 14:34] lmr commented on #1040
@slivne I guess we can move to huginn, I need to do all libvirt setup shenanigans, change the job configuration and re-test. I think it should take 2-3 hours on a rough estimate.

[2016-03-15 14:35] avikivity commented on #1040
Please relocate the tests to huginn which has a 1TB disk.  Also, we can mount the data directory from a separate, transient volume, no need to keep it in the image.

[2016-03-15 16:33] vladzcloudius commented on #1039
@penberg @asias
Here is a snippet of the log from Node `n1`:
[code]

Here is the same snippet but filtered by `shard 3`:
[code]

[2016-03-15 16:35] vladzcloudius commented on #1039
@penberg @asias
Here are log snippets from another Node - `n5`:
[code]

and now filtered by `shard 0`:
[code]

[2016-03-15 16:53] slivne commented on #1043
@tzach currently its on your end - to check what is your code doing differently - correct ?

[2016-03-15 16:55] slivne commented on #1019
@lmr please retest with new ami (post 0.19 - I should have one tomorrow)

[2016-03-15 19:20] tzach commented on #1043
Instances which are created by using Ansible/Boto ec2 module have 8 disks in the metadata
which is not the case for instances created directly from the EC2 site.

[code]
This somehow make iotune runs and produce wrong values

[2016-03-15 19:42] tzach commented on #1043
@lmr did you try running 0.19 AMI with c3.8xlarge?
if you see the same, it might be related to Boto API

[2016-03-15 20:51] benoit-canet commented on #797
@slivne: What do you expect from me ? Write the two test ? Fix the issue ? or Both ?

[2016-03-15 20:56] penberg commented on #1036
There's bunch of streaming related fixes like d9ead889f3bad22171599318766a9a023fc37e04 in master that are not in 0.19. Perhaps the issue is already resolved? Ping @asias

[2016-03-15 21:45] lmr commented on #1043
I didn't try with that particular instance size. I also don't recall seeing that particular error message as well.

[2016-03-16 02:32] glommer commented on #1036
Hi

Sorry I couldn't take a detailed look before.
You are right Raphael about the root cause of this. But those futures are fine. This can probably be triggered by an empty read with a range that takes some time to resolve.

The futures in the constructor are, by themselves, fine. At least start and end are. But we have no way, indeed, to be sure that the object is still alive when is called.

The

[2016-03-16 05:15] gleb-cloudius commented on #1038
On Tue, Mar 15, 2016 at 07:26:08AM -0700, Lucas Meneghel Rodrigues wrote:

Have you?

--
			Gleb.

[2016-03-16 06:11] asias commented on #1036
@penberg I think d9ead88 and friends are not related to this issue.

[2016-03-16 06:14] asias commented on #1039
@vladzcloudius In step 2.3 "Stream data to the cluster", do you mean insert data into the cluster, e.g. using cassandra-stress?

[2016-03-16 06:32] asias commented on #1039
Thee deque error happens with both storage_proxy and streaming transfer task

[code]

I guess both of them are due to some problems applying the mutations.

@gleb-cloudius does the error above in n1 come from the MUTATION verb?

@vladzcloudius can you post the log of n4  at the same time period like n1 and n5.

[2016-03-16 06:40] penberg commented on #1023
@avikivity @slivne Any updates on this? Perhaps we did not upload some RPM metadata to the S3 repository?

[2016-03-16 06:47] gleb-cloudius commented on #1039
On Tue, Mar 15, 2016 at 11:32:41PM -0700, Asias He wrote:

It comes from read. So anyone who tries to read from sstable gets it.
The problem is obviously in a lower layer than either streaming or
storage proxy.

--
			Gleb.

[2016-03-16 06:56] asias commented on #1039
@penberg why are you sure it is not from the write?  But, it  probably is because I saw no error "Fail to send STREAM_MUTATION" in the log. This suggests the error does not come from the receiver but the sender (the reader).

[2016-03-16 06:57] tzach commented on #1023
@penberg if this was the case dnf clean would not help
Maybe its a dnf "feature"

http://dnf.readthedocs.org/en/latest/user_faq.html#why-do-i-get-different-results-with-dnf-upgrade-vs-yum-update
http://dnf.readthedocs.org/en/latest/user_faq.html#is-it-possible-to-force-dnf-to-get-the-latest-metadata-on-dnf-upgrade

[2016-03-16 07:15] vladzcloudius commented on #1039
On 03/16/2016 08:14 AM, Asias He wrote:

@asias No, just a regular jepsen's load - a /batch/ load in this
particular case.

[2016-03-16 07:28] asias commented on #1039
On Wed, Mar 16, 2016 at 3:15 PM, vladzcloudius <notifications@github.com>
wrote:

For me stream data == streaming data in scylla ;-)

--
Asias

[2016-03-16 07:58] slivne commented on #996
This is meant for AWS - we dedicate a core - and actually we need to dedicate the core and its associated hyperthread for networking

So if we are doing it in non aws envs its a bug lets fix it.

What is the fix for the hwloc issue - its really strange we are running into this ?

If we have an issue with hwloc - it needs to be resolved we rely on it

@avikivity any idea

@syuu1228  is we are doing

[2016-03-16 07:59] slivne commented on #1028
@syuu1228 can you please fix this

[2016-03-16 08:15] tzach commented on #1043
I'm getting similar error on i2.8xlarge

[code]

[2016-03-16 08:16] slivne commented on #1043
Are you getting the same via the console or via your tool ?

On Wed, Mar 16, 2016 at 10:15 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-03-16 08:17] avikivity commented on #996
@glommer

I don't think we dedicate a core on all instance sizes.  Maybe there is a mismatch between the ways we calculate whether to dedicate a core or not.

[2016-03-16 08:18] tgrabiec commented on #797
2016-02-18 11:59 GMT+01:00 Avi Kivity <notifications@github.com>:

@avikivity Do we agree that it is an error for data removed by an ACKed
truncate statement to get resurrected at some point later? It would at
least violate read monotonicity.

Current mechanism, which only marks sstables for deletion, with actual
deletion happening possibly much later, doesn't provide this in case of a
crash. Corr

[2016-03-16 08:45] avikivity commented on #797
@tgrabiec agree on problem and solution.  Renaming the TOC is a persistent way to mark an sstable for deletion.

[2016-03-16 08:46] slivne commented on #797
I admit I am not following all - no one will do a restart in real systems,
will this sstables be removed prior to restart - or only on next restart -
no one restarts servers for weeks (or at least this is our goal)  it will
take up disk space - if it waits for next restart

On Wed, Mar 16, 2016 at 10:45 AM, Avi Kivity <notifications@github.com>
wrote:

[2016-03-16 08:47] asias commented on #1039
so, I found nothing with

grep "Fail to send STREAM_MUTATION" n*/*

on all nodes in the log

The error in streaming must come from the reader.

[2016-03-16 08:55] avikivity commented on #797
We can have involuntary restarts on crashes.

[2016-03-16 08:57] slivne commented on #1039
wild idea - @vladzcloudius can you change the code so that it assert and then we will have a coredump and a backtrace and from there we can pinpoint and debug what happend

[2016-03-16 09:00] tgrabiec commented on #797
2016-03-16 9:46 GMT+01:00 slivne <notifications@github.com>:

@shlomi Those sstables will be removed as soon as they are no longer used
on all shards. The issue is about dealing with crashes which may happen
before that.

[2016-03-16 09:00] tzach commented on #1043
For i2.8xlarge the problem is also from the console
For  c3.8xlarge just from my script
Probably this are two different problems.
I will open a new issue for the first

[2016-03-16 09:02] slivne commented on #797
Ok thanks ....

So I'll reassin this.

On Wed, Mar 16, 2016 at 11:00 AM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-03-16 09:05] slivne commented on #1043
Ok thanks

On Wed, Mar 16, 2016 at 11:00 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-03-16 09:07] tzach opened #1046 "Scylla AMI 0.19 fail to start on i2.8xlarge"
Launching Scylla 0.19 AMI on i2.8xlarge, I get the following error
ami-f90a0e93 on use-east

[code]

Looking at the code  `cat /proc/cpuinfo |grep processor|wc -l ` is 32
If $SET_NIC is yes, than NR_SHARDS would be 32, which is above the max

On a second thought, why do scylla_io_setup runs at all? shouldnt i2 instances have a pre define /etc/scylla.d/io.conf ?

(this is a different issue than #10

[2016-03-16 09:08] slivne commented on #1046
@syuu1228 I think we need to add a validty test at the end of the formula to make sure we do not have more queues then shards and round down

[2016-03-16 09:27] vladzcloudius commented on #1039
On 03/16/2016 10:57 AM, slivne wrote:

@slive Unfortunately no - when I tried to go this path i was unable to
read any sane info from the coredumps generated in a Debian containers
we use in jepsen. So the best approach to advance there is to
"instrument" the code with lots of prints and this is what I do right
now with Asias helping me.

[2016-03-16 09:55] syuu1228 commented on #1028
@avikivity I installed 14.04LTS without any update, checked sudo package, it already supported /etc/sudoers.d
So I don't think we may have such version on 14.04LTS. If installed Ubuntu is more older, we won't support it so it won't be a problem.

[2016-03-16 10:00] asias commented on #1016
it is t2.micro. it looks like a low on memory issue.

[2016-03-16 10:18] vladzcloudius commented on #1039
with the patch
[code]
I've got :
[code]

while
[code]
The `deque` exceptions have shown in n1, n2 and n3 logs (306, 210 and 204 appearances correspondingly). The `reader()` has thrown only on n1 and n2 however (1 and 4 appearances).

[2016-03-16 10:53] tzach commented on #1043
Still not sure what the original issue is but its look like meta-data/block-device-mapping/ is not always an accurate source of info. In particular it will not work with EBS, which can be attach after the instance is running, while meta data is static.

I suggest using something like **lsblk** which give current disk list:
[code]

[2016-03-16 11:22] slivne opened #1047 "io_tune limit execution time"
We need to limit io_tune execution time to make sure that on slow disks we are not stalling boot for a very long time.

Lets limit the whole run of io_tune to 5 minutes (can be additional command line flag with default time limit of 300s) - if we need to abort run before it ends lets right the "best educated" guess.

@glommer - I would rather have you handle other items - yetgetting th best educat

[2016-03-16 11:55] #1017 closed

[2016-03-16 11:59] penberg commented on #1028
The Ubuntu packaging issue is fixed now: https://github.com/scylladb/scylla/issues/1017

Is there anything else that needs to be addressed before we can close this?

[2016-03-16 12:02] penberg commented on #1014
We fixed the registration of all RPC verbs and we also changed the sstable code to be more robust against failures like these.

@slivne Can we close the issue?

[2016-03-16 12:03] penberg commented on #864
@slivne The problem is limited to the *debug build* so perhaps we should lower the priority?

[2016-03-16 12:09] avikivity commented on #1028
Looks like it was a local configuration issue in @s905060 setup.

[2016-03-16 12:09] #1028 closed

[2016-03-16 12:16] avikivity commented on #1039
Any luck with 'catch throw'?

[2016-03-16 12:40] vladzcloudius commented on #1039
On 03/16/2016 02:16 PM, Avi Kivity wrote:

gdb crashes immediately inside the container.

[2016-03-16 12:42] tgrabiec commented on #1039
2016-03-16 13:40 GMT+01:00 vladzcloudius <notifications@github.com>:

What's the error? Maybe it's just an old version of gdb.

[2016-03-16 12:44] vladzcloudius commented on #1039
On 03/16/2016 02:42 PM, Tomasz Grabiec wrote:

"bad address"
it's GNU gdb (Debian 7.7.1+dfsg-5) 7.7.1

[2016-03-16 12:49] nyh commented on #1039
Vlad, am I right that the first error is an "attempt to uncompress beyond end"? Could it be that the other errors somehow stem from that (I don't know how, though).
I'll take a look if I can find a bug in the compress.cc code.

[2016-03-16 12:52] penberg commented on #1029
@indykish Are you using Ubuntu or Fedora? AFAICT, our RPMS are already OK -- they depend on ``java-headless``. Ubuntu, on the other hand, currently requires Java 7, and I sent a patch to hopefully fix that up.

[2016-03-16 12:56] vladzcloudius commented on #1039
On 03/16/2016 02:49 PM, nyh wrote:

It looks like the deque exception in question is thrown from different
places. I'm currently digging the read() direction with the help of Tomek.
Here is a teaser:

/var/lib/lxc/n2/rootfs/var/lib/scylla/system.log:INFO  2016-03-16
12:51:16,571 [shard 3] compress - exception has thrown from
compression::locate(): position 18446744073709551615 ucl 65536

[2016-03-16 12:57] nyh commented on #1039
If someone creates a compressed_file_data_source_impl() with pos=0, len=0, we look for locate(-1) which can cause this exception. I'll send a patch (but don't know how to check it).

[2016-03-16 13:01] vladzcloudius commented on #1039
On 03/16/2016 02:57 PM, nyh wrote:

@nyh one option would be to give it to me first... ;)

[2016-03-16 13:02] nyh commented on #1039
Vlad, can you please check this:

[code]

[2016-03-16 13:26] slivne commented on #1047
we also need to handle the case in which io_tune can not create the 10GB file - should we also write a default value in this case ?

[2016-03-16 13:30] slivne commented on #980
In case there is no 10GB of free space we need to decide what do we do:
 - do we use a smaller file
- do we provide a preset low value
- do we force the user to select either a small value or enabling developer-mode

[2016-03-16 13:33] avikivity commented on #1047
It can be the same fix.  Write data until a timeout, ENOSPC, or 10GB is
reached (whichever is earliest) and run the test on the resulting file.

On 03/16/2016 03:26 PM, slivne wrote:

[2016-03-16 13:33] vladzcloudius commented on #1039
On 03/16/2016 03:02 PM, nyh wrote:

@nyh
With this and Glauber's " sstables: do not assume mutation_reader will
be kept alive" patch I don't see deque errors but I still see a lot of

/var/lib/lxc/n3/rootfs/var/lib/scylla/system.log:ERROR 2016-03-16
13:27:25,038 [shard 3] storage_proxy - Exception when communicating with
192.168.122.12: attempt to uncompress beyond end

errors. I'll try to revert

[2016-03-16 13:38] nyh commented on #1039
@vladzcloudius you can try to abort() in the case of the "attempt to uncompress beyond end" and see who tries to read beyond the end of the file?

I'm also curious who tries to read 0 bytes from position 0, and why (this caused the out of range we had previously).

[2016-03-16 13:39] vladzcloudius commented on #1039
On 03/16/2016 03:33 PM, Vlad Zolotarov wrote:

The test is still failing with both patches above. There is a lot lost data.

[2016-03-16 13:40] slivne commented on #1047
If we do not complete to write the file

should we provide a default or should we force the user to take action
(enable developer-mode) ?

On Wed, Mar 16, 2016 at 3:33 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-03-16 13:44] avikivity commented on #1047
eof or timeout mean a small or slow disk, so it should work.

Any other error should result in a failure.

On 03/16/2016 03:40 PM, slivne wrote:

[2016-03-16 13:45] benoit-canet commented on #822
@penberg: The theorical limit is 2 billions. We are way below I will dig this.

[2016-03-16 13:51] slivne commented on #1039
I think we had a read of 0 in the EOF (I think that was the case for
uncompressed files)

On Wed, Mar 16, 2016 at 3:39 PM, vladzcloudius <notifications@github.com>
wrote:

[2016-03-16 13:54] vladzcloudius commented on #1039
On 03/16/2016 03:33 PM, Vlad Zolotarov wrote:

Yes. Without your patch deque errors have returned.

[2016-03-16 13:55] nyh commented on #1039
Hmm, I see.
If we have a zero byte file, and ask to read 0 bytes from its end, we'll print a message on uncompressing beyond the end, because, truely, reading from position 0 is an error (there is no byte in that file...).
I'll send a patch to avoid this error in this case.

[2016-03-16 13:56] slivne commented on #1039
@vladcloudius - if the test still fails yet the errors are now the same I
suggest we create a new bug and continue the debug of the test on that bug

On Wed, Mar 16, 2016 at 3:54 PM, vladzcloudius <notifications@github.com>
wrote:

[2016-03-16 14:04] nyh commented on #1039
I propose this patch:
[code]

[2016-03-16 14:06] avikivity commented on #1039
Maybe pos + len > ...?

[2016-03-16 14:08] nyh commented on #1039
@avikivity, what I did in that code was to just enforce that pos itself is inside the file - and then truncated len to also be in that file. That allows you to read with len=MAXINT for example, and get the whole file.

[2016-03-16 14:10] avikivity commented on #1039
I see, your proposal makes sense.

[2016-03-16 14:14] nyh commented on #1039
@vladzcloudius all the problems I'm fixing now come from some code reading 0 rows, from an empty byte range. Beyond fixing the low-level stuff (which I'm doing now), it would be very useful to debug why this is happening - what code is trying to read 0 rows, and why?

[2016-03-16 14:17] nyh commented on #1039
A more accurate patch instead of the above (I'm sending it now to the mailing list):
[code]

[2016-03-16 14:26] tgrabiec commented on #1039
2016-03-16 15:14 GMT+01:00 nyh <notifications@github.com>:

I don't know for sure, but it could be that there is code like this (names
made up):

  read_range(data_lower_bound(key), data_upper_bound(key))

If key is missing, read will get offsets forming an empty range. I don't
see anything wrong with such code.

[2016-03-16 14:42] slivne commented on #1019
ami scylla_2016-03-16T08-25-42Z (ami-8d4343e7)) - based on scylla-server-666.development-20160315.e228ef1.el7.centos.x86_64 does not have the fix for io_tune to abort on low disk it should be in the next one

in any case it dependns on fixing #1047

[2016-03-16 14:42] penberg commented on #822
@benoit-canet It's the *practical* limit (i.e. what C* has) that matters much more here.

[2016-03-16 14:44] tzach commented on #1043
On c3.4xlarge, I get:
[code]

[code]

[code]

[2016-03-16 15:06] benoit-canet commented on #822
I wonder if we are hitting a limit of the python driver. Some test have
this problem.

On Wed, Mar 16, 2016 at 3:42 PM, Pekka Enberg <notifications@github.com>
wrote:

[2016-03-16 15:23] indykish commented on #1029
@penberg  ubuntu 14.

Thanks for the fix.

[2016-03-16 15:33] nyh commented on #1003
In the "--smp 2" case, what is most conspicuous in the logs of the failing test is serious problems of timeouts.
For example, in one of my runs, the test starts repair of node 1, 2 and 3 in parallel. repair of node 1 and 3 finished correctly, but the repair of node 2 failed because some of its streams failed. I see the following evidence of timeouts:

1. In node1's log,
[code]
This indicates that

[2016-03-16 15:51] #1036 closed

[2016-03-16 16:03] glommer opened #1048 "sstables mutation_reader constructors are too complicated"
As most overly complicated things, it was also wrong. We have merged a fix for now in the form of 6a3872b35598321006c60151609b8213ec01eee5 for a SIGSEGV described in #1036, but the result is still not looking as good as it could.

We had a discussion about possible ways to start in the path of the right fix in [this thread](https://groups.google.com/d/msg/scylladb-dev/EkFM-mh7ppY/Qwb6NlD8DAAJ) in

[2016-03-16 16:32] nyh commented on #1003
What worries me most about what I found in the previous comment are these two consecutive messages:

[code]

What causes the stream to fail immediately here, instead of waiting for the retry (and retrying for 600 seconds, as the first message suggests will be done)?

This immediate failure is what fails the stream, and therefore the repair, and the whole test.

[2016-03-16 16:36] syuu1228 commented on #1043
This is same as #996, and sent a patch

[2016-03-16 16:36] syuu1228 commented on #1046
Same as #996

[2016-03-16 16:42] nyh commented on #1039
@vladzcloudius Avi committed also my second patch, allowing reading at the end-of-file to return nothing instead of throwing an exception. Can you please check if it fixes your test errors? Thanks.

[2016-03-16 16:58] glommer commented on #996
I have just reviewed our invocation of iotune in the script, and it is wrong:
It reads:
[code]

On EC2, we use a `--cpuset` parameter for some machines. iotune is supposed to be ran with the same `--cpuset` parameters as the expected invocation.

Changing the script to include the right `--cpuset` will fix this.

[2016-03-16 17:18] glommer commented on #1047
a timeout of 5 minutes may be too little. I don't think it makes sense for an usability point of view to limit the amount of time we spend on file creation. That's an internal detail.

It makes sense to limit the total amount of time, and then we limit the file creation to a fraction of that (1/3 ?)

Each of the iotune passes is limited by time, not IOPS, so I am less concerned about those. Still,

[2016-03-16 17:20] slivne commented on #996
c3.2x is not running io_tune - it is computed via  a formula you provided a while back.

Yet the update to use cpuset seems correct for all other cases.  @syuu1228 please handle this as well

[2016-03-16 19:27] vladzcloudius commented on #1039
With the HEAD 6a3872b35598321006c60151609b8213ec01eee5 the issue doesn't reproduce AND the test is consistently passing (I ran it twice).

[2016-03-16 19:27] #1039 closed

[2016-03-16 19:31] benoit-canet commented on #808
@slivne: I got the same limit on cassandra

[2016-03-16 20:13] scorpnode opened #1049 "3rd party utilities https://github.com/scylladb/scylla/wiki/3rd-party-utilities"
Just a quick question..will the pliugin below and its search function work? Jiust since i noted secondary index isnt fully supported yet?

cassandra-lucene-index a plugin for Apache Cassandra that extends its index functionality to provide near real time search such as ElasticSearch or Solr

Thanks Brian

[2016-03-17 02:12] dlandoll opened #1050 "Make SSE4.2 CPU Requirement Optional"
Are the SSE4.2 instructions only needed when running with the dpdk? If so, can that new requirement be ignored if running with the Posix stack?

[2016-03-17 06:22] tzach commented on #1049
Thanks for pointing this out.
The list is for Cassandra tools, most was not yet tested with Scylla, just added some wording at the start to clarify this. Next we need to organize this list for supported / non  supported tools.

In particular, sec index are not supported yet, you can follow it here #401

[2016-03-17 06:33] penberg commented on #1050
It's actually for the ``CRC32`` instruction that is used by the commitlog. What kind of setup are you running on? SSE 4.2 appeared in Nehalem in 2008 so most servers today should have it.

Ping @avikivity

[2016-03-17 07:31] penberg commented on #1003
I have a different failure scenario with ``--smp 2``. The dtest runner just *hangs* after the following:

[code]

Node 1 logs have:

[code]

Node 2 logs have:

[code]

and node 3 logs have:

[code]

Node 1 and node 2 are not accessible via ``cqlsh``, but node 3 is:

[code]

[2016-03-17 08:04] slivne commented on #996
c3.2x is not running io_tune - it is computed via  a formula you provided a
while back.

Yet the update to use cpuset seems correct for all other cases.

On Wed, Mar 16, 2016 at 6:58 PM, Glauber Costa <notifications@github.com>
wrote:

[2016-03-17 08:31] penberg commented on #1026
I sent a patch for this to the mailing list.

[2016-03-17 08:41] nyh commented on #1003
On Thu, Mar 17, 2016 at 9:31 AM, Pekka Enberg <notifications@github.com>
wrote:

As I just noticed myself, the failing test takes ages - over 10 minutes.
Could it be that it doesn't hang, it just waits for 10 minutes?

If scylla has become so slow that  it can't write a mutation (one of only
1000!) in 10 minutes, I'm not surprised it also can't answer a cqlsh
connection. But the big question is, o

[2016-03-17 08:58] #1026 closed

[2016-03-17 09:55] penberg opened #1051 "Listen address parsing failure error message is confusing"
If an user sets ``listen_address`` to a value that is not a valid IP address, Scylla fails to start up with the following, very confusing, error message:

[code]

``gdb`` points to ``fb_utilities::set_broadcast_address``:

[code]

[2016-03-17 10:58] slivne opened #1052 "[0.18.2] scylla failling to boot after upgrade"
[code]

[2016-03-17 11:24] dlandoll commented on #1050
I'm trying to do some testing/development/prototyping on an older server I picked up for use at home and it has the Intel Xeon X5450 which appears to have launched in 2007.

If there ends up being other people in a similar situation, maybe it would be worth having the development mode support a different CRC32 implementation?

[2016-03-17 11:28] tzach commented on #1049
I updated the [3rd party wiki page](https://github.com/scylladb/scylla/wiki/3rd-party-utilities), for project which are:
* known to work with Scylla
* known not to work with Scylla yet
* not tested with Scylla yet

comments are welcome

[2016-03-17 11:28] #1049 closed

[2016-03-17 11:29] penberg commented on #1050
@dlandoll We already had a CRC32 implementation base on boost so supporting your CPU really just a matter of reverting commit a8ff8ea44295e2f87bf1d6c36890ca431834ea97. The problem, of course, is coming up with a version that switches between the correct implementation at runtime for us to be able to include it.

[2016-03-17 11:56] dlandoll commented on #1050
Yeah, it's probably not worth changing for my single use case unless there is enough demand from others trying to use older hardware (I'll get new hardware eventually).

I can try to compile my own version with the CRC changes reverted for now.

[2016-03-17 12:59] #1051 closed

[2016-03-17 13:04] benoit-canet commented on #822
The limits are the same as cassandra. closing the bug

[2016-03-17 13:04] #822 closed

[2016-03-17 13:05] benoit-canet commented on #808
same limit as cassandra. closing the bug

[2016-03-17 13:05] #808 closed

[2016-03-17 13:10] penberg commented on #808
@benoit-canet Can you please fix the failing dtest?

[2016-03-17 13:11] penberg commented on #822
@benoit-canet Can you please fix the limit in our dtest and re-enable it?

[2016-03-17 13:22] syuu1228 opened #1053 "default AMI disk size is not enough when extra ephemeral disks are not attached"
When I launched AMI instance without ephemeral disks (used c4 instance), got following messages:
[code]

So probably we need to extend default disk size to at least 12GB.

[2016-03-17 13:24] avikivity commented on #1050
Runtime switching of the CRC implementation won't be easy without sacrificing performance.

That said, just compiling Scylla on a 2007 machine won't be a fun exercise.

[2016-03-17 14:44] #996 closed

[2016-03-17 14:57] tzach commented on #882
I see the same message while testing one node, AMI 0.19 on c3.8xlarge,
with cassandra-stress
[code]

[2016-03-17 15:00] gleb-cloudius commented on #882
On Thu, Mar 17, 2016 at 07:58:06AM -0700, Tzach Livyatan wrote:

How your io queues are configured and what is the load?

--
			Gleb.

[2016-03-17 15:09] lmr opened #1054 "[AMI ami-8d4343e7 based on 15-March Head (scylla-server-666.development-20160315.e228ef1.el7)] Scylla consistently crashes during longevity with CorruptThenRebuildMonkey test"
I've got a 0.19 build with the contents of master as of 2016-03-15, and started running a 24 longevity run on it. To my surprise, the test didn't finish as I write this report, but we already have 93 core dumps generated so far. As I read through the logs, I've noticed they seem to be triggered from the same place in the code - that is, they are all very similar to:

           PID: 5537 (scylla)

[2016-03-17 15:12] lmr commented on #1054
Updated the description with the exact AMI ID I used - AMI ami-8d4343e7 based on 15-March Head (scylla-server-666.development-20160315.e228ef1.el7)

[2016-03-17 15:14] gleb-cloudius commented on #1054
Isn't this a dup of #1038?

--
			Gleb.

[2016-03-17 15:23] lmr commented on #1054
@gleb-cloudius I didn't have the specifics of #1038, but it seems you're right. I thought it was a different issue because this time around the issue happened consistently, several times in a row.

[2016-03-17 15:27] gleb-cloudius commented on #1054
On Thu, Mar 17, 2016 at 08:23:22AM -0700, Lucas Meneghel Rodrigues wrote:

That's good. #1038 suppose to be fixed on head, so we can verify that.

--
			Gleb.

[2016-03-17 15:38] vladzcloudius commented on #1039
On 03/16/2016 04:26 PM, Tomasz Grabiec wrote:

 From what I can tell the zero-length reads are trying to read from the
middle of the file most of the times. Tomek, does it make any sense to u?

[2016-03-17 15:42] tgrabiec commented on #1039
2016-03-17 16:38 GMT+01:00 vladzcloudius <notifications@github.com>:

Yes. lower_bound() returns offset of the first not smaller entry and
upper_bound() returns offset of the first greater entry. That can be in the
middle of the file.

[2016-03-17 15:46] slivne commented on #1039
On Thu, Mar 17, 2016 at 5:42 PM, Tomasz Grabiec <notifications@github.com>
wrote:

So if the key is missing why do we need to read ?

[2016-03-17 15:51] avikivity commented on #1039
It was a bloom filter false positive, should be rare, but maybe our bloom filter is buggy.

I will file issues to improve bloom filter testing, and to short-circuit the read in case there is no data.

[2016-03-17 15:52] avikivity opened #1055 "Add unit tests for bloom filter efficacy"
Create an sstable with N random keys, try to read M random non-existing keys, see the false positive ratio.

[2016-03-17 15:52] slivne commented on #1039
but if we know there is no data from the index file why do we read from the
data file ?

On Thu, Mar 17, 2016 at 5:51 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-03-17 15:53] avikivity opened #1056 "Short-circuit sstable read if index indicates no data"
If the sstable index indicates there is no data to read, we can return an empty_reader instead of a real sstable reader, which is more expensive.

[2016-03-17 15:53] avikivity commented on #1039
#1055, #1056

[2016-03-17 15:55] raphaelsc commented on #1054
I don't see the SIGSEGV here. Glauber's patch to 1038 fixes the SIGSEGV. I looked at the stack trace, and it seems to be a different problem.  execute_cql() was called and an assert failed right after.

[2016-03-17 16:00] slivne commented on #1055
there is a known issue with false positives ....

https://issues.apache.org/jira/browse/CASSANDRA-8413

On Thu, Mar 17, 2016 at 5:52 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-03-17 16:03] avikivity commented on #1055
We should gain the fix when we update our sstable format to 2.2+.

[2016-03-17 16:35] #965 closed

[2016-03-17 17:27] tzach commented on #882
`SCYLLA_IO="--num-io-queues 8 --max-io-requests 32"`
I'm generating load from 3 c3.8xlarge machine using cassandra-stress write

[2016-03-17 20:45] nyh commented on #1054
On Thu, Mar 17, 2016 at 5:55 PM, Raphael Carvalho <notifications@github.com>
wrote:

Indeed, the stack trace seems like an assert() failure, not a SEGV.
Supposedly it's in execute_cql() but I couldn't figure out where
execute_cql() would have an assertion. Could you find the "assertion
failed" message in the logs somewhere?

[2016-03-17 21:43] lmr commented on #1054
@nyh I grepped the log for `assert` and the only lines I see are the ones from the stack traces.

[2016-03-17 21:43] lmr commented on #1054
Things like

    08:38:44 cluster          L0269 ERROR| Node corrupt_then_rebuild_monkey-scylla-db-node-1841a5e7-2 [54.84.109.202 | 172.30.0.214] (seed: None):                 #2  0x00007fb27b55f566 __assert_fail_base (libc.so.6)

[2016-03-18 00:27] raphaelsc commented on #1054
On Thu, Mar 17, 2016 at 5:45 PM, nyh <notifications@github.com> wrote:

This confusion is my fault. Glauber's patch fixed issue 1036, not 1038.

--
Raphael S. Carvalho

[2016-03-18 01:03] amnonh opened #1057 "Call to service::get_local_storage_service().effective_ownership fails"
A call to service::get_local_storage_service().effective_ownership("keyspace1") fails with:
Attempt to access value of a disengaged optional object

How to reproduce:
Create a cluster and keyspace1 (run a small load) call:

http://127.0.0.1:10000/storage_service/ownership/keyspace1
Attempt to access value of a disengaged optional object
This effect
nodetool status keyspace1

[2016-03-18 07:15] penberg commented on #1043
Fixed by https://github.com/scylladb/scylla/commit/4cc589872d0ab629be4440e9dc1e2e1b2faf4604

[2016-03-18 07:16] penberg commented on #1046
Fixed by https://github.com/scylladb/scylla/commit/4cc589872d0ab629be4440e9dc1e2e1b2faf4604.

[2016-03-18 07:16] #1046 closed

[2016-03-18 07:30] penberg opened #1058 "Listen address and RPC address options don't support interface names"
The `listen_address` and `rpc_address` configuration options don't support interface names (e.g. eth0) although comments in `scylla.yaml` say that they do.

[2016-03-18 08:43] asias opened #1059 "Failed to stop messaging_service with smp 2"
With simple_kill_streaming_node_while_bootstrapping_test

export SCYLLA_EXT_OPTS="--smp 2 --memory 1G"

I found we have issue stop messaging_service.

[code]

With following debug code:

[code]

[2016-03-18 11:59] avikivity commented on #1058
Shouldn't be hard to fix by using the nice socket ioctls from sockios.h.

We should also add support for setting subnets there, e.g. `listen_address: 10.1.0.0/16`, telling the code to bind to any interface that is covered by those subnets.  The advantage is that a single setting works for the entire cluster, avoiding differences in interface naming and addresses.

[2016-03-18 21:12] amnonh commented on #1042
I believe the root cause of the load issue is the migration.

Can it be that when moving Cassandra files each shared get the entire file as its own? and then the load is counted as multiplication between the file size and the number of shared.

After all the files where compacted the load is correct

[2016-03-19 20:32] slivne opened #1060 "dist: ami failing to start on machines with #cpu < 8"
ami - scylla_2016-03-19T08-04-38Z (ami-e3787a89) - head

starting a c3.xlarge

based on commit e52b869b250305d02c4d7e168dcdb69632633713
Author: Glauber Costa <glauber@scylladb.com>
Date:   Fri Mar 18 14:32:08 2016 -0400

    fix small typo

    will sent -> will send

    Signed-off-by: Glauber Costa <glauber@scylladb.com>
    Message-Id: <20eaf0cea6fe14b03332547b7c4a3b85e9b619e7.1458325926.git.gl

[2016-03-19 20:38] slivne opened #1061 "dist: build on ubuntu 14.04 failing"
http://jenkins.cloudius-systems.com:8080/job/scylla-ubuntu-deb/28/

[code]

[2016-03-19 21:19] slivne commented on #1061
build http://jenkins.cloudius-systems.com:8080/job/scylla-ubuntu-deb/27/ also failed

build http://jenkins.cloudius-systems.com:8080/job/scylla-ubuntu-deb/26 passed (6a3872b35598321006c60151609b8213ec01eee5)

[2016-03-19 23:28] slivne commented on #1043
using ami-e3787a89 that includes this code and using boto api to start an instance the issue still exists - we are not able to start scylla on c3.8xlarge

[code]

Once you start servers via this using aws ec2 metadata service ( curl http://169.254.169.254/latest/meta-data/block-device-mapping/
) returns the incorrect information about disks

I sent a patch to the list to work around this using lsb

[2016-03-20 07:49] avikivity commented on #1061
Looks like somehow there was a file `seastar/build/release/gen`, and `mkdir` was not able to cope with it.

[2016-03-20 08:07] slivne opened #1062 "dist: ami does not set correct io parameters for instaces when started from boto api"
using ami-e3787a89 that includes this code and using boto api to start an instance - theetc/scylla.d/io.conf - is still not correct when we start scylla on c3.8xlarge

[code]

Once you start servers via this using aws ec2 metadata service ( curl http://169.254.169.254/latest/meta-data/block-device-mapping/
) returns the incorrect information about disks (you will get 8 disks)

I sent a patch to th

[2016-03-20 08:07] slivne commented on #1043
openned a new issue #1062

[2016-03-20 08:07] #1043 closed

[2016-03-20 08:33] slivne commented on #1053
we need to test t2.micro itfi its working without attached disk anything else should work without attached disks

[2016-03-20 08:35] slivne commented on #1052
The upgrade was from previous  version 0.18.1 - in version 0.18.2 this issues have been resolved

[2016-03-20 08:35] #1052 closed

[2016-03-20 08:38] slivne commented on #1058
For GA I suggest we update the comments if at all

[2016-03-20 08:41] slivne commented on #1054
@lmr not clear to me if this is the same as #1038 - if it is please link the issues

@lmr - @gleb-cloudius  requested for #1038 logs to analyze the issue do you have them available - please share what you have on the 0.19 version.

[2016-03-20 08:46] slivne commented on #1021
Lets resolve #1038, #1054

Glauber is working to fix bandwidth issues caused by repair - once that code goes in there is a need to rerun the test

[2016-03-20 08:48] slivne commented on #1016
lets retest this when glaibers code  related to repair is merged

[2016-03-20 08:53] slivne commented on #1061
@avikivity  can you send a patch ?

[2016-03-20 08:54] #1014 closed

[2016-03-20 08:55] slivne commented on #1003
At least the nightly tests are running on monster which has deidicated cores for instance

@nyh - any update on this ?

[2016-03-20 09:01] slivne commented on #980
There are patches on the mailing list that need to be merged

[2016-03-20 09:07] slivne commented on #1038
you can use the following ami of head to retest this ami-e3787a89

[2016-03-20 09:15] vladzcloudius opened #1063 "Handle physical devices under virtual bridge"
posix_net_conf.sh is not able to properly configure the relevant physical networking interface(s) when a virtual bridge name is provides as a networking interface parameter.

This is mostly relevant for VM setups but not only them

[2016-03-20 09:19] vladzcloudius commented on #891
@slivne By the way, what our plans to support bridging interfaces used in VM environments? They resemble bonding interfaces in the way they don't have their own IRQ but rather have some underlying interfaces that sometimes do have their IRQs. "some times" is because VMs are allowed to work on top of a loopback interface.
The bottom line is that if we want to start supporting VM environments we'd r

[2016-03-20 09:21] avikivity commented on #1063
Bridges are usually on the host, not the guest.

[2016-03-20 09:24] avikivity commented on #1061
It's not clear where the problem is.  Did you wipe out the workspace?

[2016-03-20 09:26] slivne commented on #1061
ubuntu is built of a machine booted on AWS - so the workspace is erased
once the machine is shutdown -you can trigger a build and then connect to
the machine

On Sun, Mar 20, 2016 at 11:24 AM, Avi Kivity <notifications@github.com>
wrote:

[2016-03-20 09:27] vladzcloudius commented on #1063
On 03/20/2016 11:21 AM, Avi Kivity wrote:

Indeed. This in particular means that IRQ configuration has to be
performed (if at all) on the host as well.

[2016-03-20 09:29] vladzcloudius commented on #1063
@avi By the way, as far as I remember IRQ configuration is a privileged task and thus not allowed from inside the Guest, is it?

[2016-03-20 09:40] syuu1228 commented on #1061
@slivne I'll handle this

[2016-03-20 09:53] syuu1228 commented on #1061
I found following build error on http_response_parser.hh:

[code]

[2016-03-20 10:51] avikivity commented on #1063
Guest IRQs are managed inside the guest, host IRQs are managed on the host (and are invisible to the guest).

For a normal bridge on the host, the guest won't see it at all, it only has to manage the guest IRQs on the virtio (or whatever) device.

[2016-03-20 11:04] vladzcloudius commented on #1063
On 03/20/2016 12:51 PM, Avi Kivity wrote:

Thanks for clarification and like I assumed this strengthens my previous
point: in case of a normal bridge the posix_net_conf.sh has to be
invoked on a host to achieve its goal.

[2016-03-20 11:06] tzach opened #1064 "Cassandra timeout during write query at consistency LOCAL_ONE (1 replica were required but only 0 acknowledged the write)"
While testing one standalone instance of Scylla 0.19 AMI with c-s I'm getting
[code]
On the client, while running s tress with a customize profile
[code]
Both loader and db server instance type: c3.4xlarge
server  IO parameters: `SCYLLA_IO="--num-io-queues 8 --max-io-requests 32"`

I do not see errors in Scylla log.

[2016-03-20 11:13] gleb-cloudius commented on #1064
On Sun, Mar 20, 2016 at 04:07:02AM -0700, Tzach Livyatan wrote:

What's in the cust_s/case2.yaml and how many client have you ran in
parallel.

In general the error means that you asked for to much for the node. The
solution is usually to reduce parallelism.

--
			Gleb.

[2016-03-20 11:17] tzach commented on #1064
parallel.

I'm using one loader node
case2.yaml is a private user profile
https://github.com/cloudius-systems/urchin-qa-internal/blob/master/cust_s/case2.yaml

solution is usually to reduce parallelism.

Shouldn't the back pressure take care of that?

BTW, the problem is not consistent. Not always happened.

[2016-03-20 11:18] avikivity commented on #1063
No, you can't and shouldn't touch the host at all.

Run `posix_net_conf.sh` on the guest to configure the guest IRQs.

[2016-03-20 11:27] gleb-cloudius commented on #1064
On Sun, Mar 20, 2016 at 04:17:34AM -0700, Tzach Livyatan wrote:

Number of loaders does not define parallelism.

Do I read it correctly that
insert:
  partitions: fixed(1)
  select:    fixed(1)/1000
  batchtype: UNLOGGED

means that you will send unlogged batch of 1000 queries? It means that
effective parallelism is
1000*1000 = 10000000

Back pressure works per client connection. If we hit disk li

[2016-03-20 11:31] vladzcloudius commented on #1063
The point of this github issue is all about configuration of physical interfaces when they are used with virtual bridges. This use case is used but not limited to VM configurations. I've just mentioned it as an example. The configuration inside the VM is a different matter not related to virtual bridges.

But to address your comment (let's discuss the mode when all IRQs are bound to CPU0 to make i

[2016-03-20 11:35] tzach commented on #1064
@gleb-cloudius good point
Maybe I misused the batch ratio

"select distribution ratio -  The ratio of rows each partition should insert as a proportion of the total possible rows for the partition (as defined by the clustering distribution columns). default FIXED(1)/1"
http://www.datastax.com/dev/blog/improved-cassandra-2-1-stress-tool-benchmark-any-schema

Does  `select:    fixed(1)/1000` mean 10

[2016-03-20 12:06] gleb-cloudius commented on #1064
On Sun, Mar 20, 2016 at 04:35:48AM -0700, Tzach Livyatan wrote:

Well, as far as I understand this means one thousands of all raws in a
partition should be updated by a batch. Since you have only one row per
partition I have no idea what this does in your case.

--
			Gleb.

[2016-03-20 12:14] avikivity commented on #1063
Let's not confuse users with host configuration.  It's very rare that the user is in control of the host.

[2016-03-20 12:27] vladzcloudius commented on #1063
On 03/20/2016 02:14 PM, Avi Kivity wrote:

This issue is all about physical NICs configuration with
/posix_net_cont.sh/ script when it's given a virtual bridge interface as
a network interface. Just like with bonding case this networking
configuration scenario has its challenges that have to be addressed.
This github issue has nothing to do with running ScyllaDB inside the VM.

If you think that t

[2016-03-20 13:12] avikivity commented on #1063
The case where we have a bridge inside the VM, or a bridge on the physical host that is also running Scylla (or another seastar application) will be very rare in production.

I suggest in that case we do nothing.

[2016-03-20 13:24] vladzcloudius commented on #1063
On 03/20/2016 03:12 PM, Avi Kivity wrote:

No objections on my side. I'll print an error message from
/posix_net_conf.sh/ if it detects this situation then.

[2016-03-20 13:27] avikivity commented on #1063
On 03/20/2016 03:24 PM, vladzcloudius wrote:

Not an error (but an informative message).

[2016-03-20 13:31] vladzcloudius commented on #1063
On 03/20/2016 03:27 PM, Avi Kivity wrote:

Right. Good point.

[2016-03-20 15:14] nyh commented on #1003
I'm still not any closer to understanding *why* these problems actually happened. I had all sorts of guesses related to threads sleeping due to ext4, huge queues of ready-to-run continuations, slow wakeup, and other guesses, but nothing really confirmed - for example, Shlomi ran with dedicated cores, and Asias ran with xfs, and still saw the same bug.

However, the good news is that Glauber's patc

[2016-03-20 15:24] #921 closed

[2016-03-20 15:59] slivne opened #1065 "dist: io_tune packaging"
**Standard installation**

- iotune will NOT be a part of scylla service - remove the scylla.io.service
- User will have to run it manually - using a script call scylla_io_tune_setup (that will do the exact same thing the service does today.
- if they wont, and do not use --developer-mode, scylla init will fail will a proper error - scylla will not start (in the same manner it does not start if yo

[2016-03-20 16:03] dorlaor commented on #1065
On Sun, Mar 20, 2016 at 5:59 PM, slivne <notifications@github.com> wrote:

It should be fine (and easier) to run the iotune service instead of playing
with scripts.

[2016-03-20 16:05] slivne commented on #1065
On Sun, Mar 20, 2016 at 6:03 PM, Dor Laor <notifications@github.com> wrote:

Service is not interactive .., - yes I'll allow tzach to provide his view
on this

[2016-03-20 17:50] tzach commented on #1065
with scripts.

What the advantage of running a stand alone program as a service?
The disadvantage, as mentioned, is poor feedback to user.
Note that we have other install time scripts, like `scylla_raid_setup` , `scylla_ntp_setup` etc
None is running as service. Why is iotune different?

[2016-03-20 18:34] avikivity commented on #1065
Under systemd services can provide feedback.

[2016-03-20 18:41] #998 closed

[2016-03-20 20:15] tzach commented on #1065
It can, but I still do not get why it is better than just running the script directly.
If we can have a service provide a "progress bar" like feedback, I do not object to it.

[2016-03-21 08:18] tzach opened #1066 "Add Bloom Filter metrics"
Cassandra support the following Bloom filter metrics:
- Bloom Filter False Positives
- Bloom Filter False Ratio
- Bloom Filter Space Used
- Bloom Filter Disk Space Used

Scylla already expose this metrics via cfstat, it will be useful to also share them via collectd metrics.

[2016-03-21 08:51] tzach opened #1067 "Add down Endpoint Count metric"
Cassandra have a org.apache.cassandra.gms.FailureDetector: ["DownEndpointCount"]  which report how many nodes are down, from the reporting node perspective.
Its a useful metric to have and set alarm on.

Among other it is used by
[blablacar](http://www.slideshare.net/jbfavre/monitoring-a-billion-kilometers-of-monthly-ride-sharing-at-blablacar-zabbix-conference-2015), @thoersch [cassandra new relic

[2016-03-21 09:06] tzach opened #1068 "Add PreparedStatementsRatio metric"
Cassandra have PreparedStatementsRatio[1] gauge return the ratio between
regularStatementsExecuted and preparedStatementsExecuted

This is usrful metric to have and build alert on.
If the ratio change in favor of the first

[1] https://github.com/apache/cassandra/blob/cassandra-2.1/src/java/org/apache/cassandra/metrics/CQLMetrics.java#L50

[2016-03-21 09:15] slivne commented on #1065
The agreement is to have (currently for 1.0) scylla_io_setup script that will run io_tune in the same manner that we do that in the scylla.io-service

scylla-io.service will be removed.

[2016-03-21 09:18] slivne commented on #1065
@benoit-canet lets start by sending a cript that will do this

next step is to remove the io service and the depdency that others have on it - in some cases (such as the ami) you will need to change the code so that the dependency is on scylla-service

As we are changing this some items will become obsolete #1060, #1062 - maybe others as well

[2016-03-21 09:24] penberg commented on #1061
@avikivity, I added the following commit to ensure ``http_response_parser.hh`` is generated early enough: 97bef4fb7c05381d05e9c55551fa1a570db03ca4. Can you see anything wrong with the patch?

[2016-03-21 09:28] penberg commented on #1061
The ``exist_ok`` argument in ``os.makedirs`` only exists in Python 3.2 and later. I think Ubuntu 14.04 still uses Python 2. Does anyone have access to the machine to confirm that?

[2016-03-21 09:31] avikivity commented on #1061
There should be only one ninja call to seastar, parallel calls can cause corruption (even if generating different files).

[2016-03-21 09:36] avikivity commented on #1061
docker run -i -t --rm ubuntu:14.04 /bin/bash

[2016-03-21 09:36] dorlaor opened #1069 "Add collectd metrics"
Currently we use too few metrics and it's desirable to enable more plugins.
The current config file is under dist/common/collectd.d/scylla.conf and looks like this:

[code]

Let's add ethstat, disk stat, cpu stat and many more.
Let's also have a 1-3sec Interval (global config) updates.

[2016-03-21 09:37] avikivity commented on #1061
Appparently it does has Python 3.4.3.

[2016-03-21 09:39] avikivity commented on #1069
1-3 sec intervals generate an enormous load on the collection servers when you have many cores, it needs to be less frequent.

[2016-03-21 09:39] dorlaor opened #1070 "Scyllatop exits w/o a reason many times"
Running Scyllatop exits many times with this message:
AttributeError: 'NoneType' object has no attribute 'groupdict'

Nothing special is needed to achieve it, seems almost random.

[2016-03-21 09:52] asias commented on #1059
@slivne it turns out it is a rpc connection closing issue in seastar. @gleb-cloudius Can you take a look?

[2016-03-21 10:11] dlandoll commented on #1050
I was able to revert the needed changes and rebuild a scylla-server deb package for Ubuntu 14.04 fairly easily so this can probably be closed if there is no desire to support an official (compile or runtime) option for the CRC implementation.

[2016-03-21 10:14] avikivity commented on #1050
Thanks for confirming

[2016-03-21 10:14] #1050 closed

[2016-03-21 10:15] penberg commented on #1050
I don't really see a problem with a compile-time option. @avikivity?

[2016-03-21 10:19] avikivity commented on #1050
It's just work

[2016-03-21 11:27] slivne commented on #973
adding support for setting keep alive for connections solved the issue

[2016-03-21 11:27] #973 closed

[2016-03-21 12:02] dorlaor opened #1071 "Truncate command may timeout on loaded cluster"
When a loaded cluster receives a truncate command it may timeout.
Once the load decreases (under 50%) the command succeeds.
The keyspace truncated is the same one which the load (cassandra-stress) is using

[code]

[2016-03-21 12:19] tzach commented on #1071
Note that driver side timeout does not mean the truncate did not worked

[2016-03-21 12:25] tzach commented on #1071
scylla.yaml have an unused  configuration `truncate_request_timeout_in_ms`  with default value 10000, cassandra.yaml default is 60000
Maybe scylla should use the same value as cassandra?
(not a perfect solution for sure. truncate is a heavy operation)

[2016-03-21 12:28] penberg commented on #1061
I sent a patch to fix parallel invocations of seastar build. I was not able to reproduce the issue in a Docker container, though.

[2016-03-21 12:37] tgrabiec commented on #1069
Maybe we should have levels for counters like we have for logging? SMP queue counters for example send a lot of data on large machines, we have a counter for each core pair, but they are not important for basic monitoring.

[2016-03-21 12:54] #1030 closed

[2016-03-21 13:02] penberg commented on #1029
Fixed by https://github.com/scylladb/scylla-jmx/commit/d7e3dae3232856edb15d06c04a1d695b54bc7d05

[2016-03-21 13:02] #1029 closed

[2016-03-21 13:13] nyh opened #1072 "regression: use-after-free sanitizer error in dtest"
I'm running one of the repair dtests with smp==2 and built in debug mode, with the following command
[code]

This crashes in the setup phase (when the test is checking some data it wrote), before even repair starts, so the problem is probably not repair-specific. The errors I see in the log are different at different runs, but always at the same time (at the "checking data" phase, before starting

[2016-03-21 13:13] dorlaor commented on #1069
I agree, better control them through our configuration file.
As for the 1-3 sec I asked for, it's not for scylla config but for the
collectd
itself. It has a global 'Interval' parameter which defaults to 10sec.

On Mon, Mar 21, 2016 at 2:37 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-03-21 14:16] avikivity commented on #1069
The ability to play with individual counters as well as with the rate through the API can help a lot, up the frequency while actively looking, drop it back for normal operation.

We can default the smp counters to off (and instead provide a per-shard counter for smp, instead of per-queue, avoiding quadratic explosion).

[2016-03-21 14:28] slivne commented on #1072
Is thi on head or the side branch of Glauber's version

On Mon, Mar 21, 2016 at 3:13 PM, nyh <notifications@github.com> wrote:

[2016-03-21 14:34] nyh commented on #1072
On Mon, Mar 21, 2016 at 4:28 PM, slivne <notifications@github.com> wrote:

Glauber's version.

[2016-03-21 14:37] dorlaor commented on #1071
I increased the timeout on the server side but it didn't help.
What did help is to increase the cqlsh timeout on the client by

vi ~/.cassandra/cqlshrc

Example to set a 40 second timeout:

[connection]
client_timeout=40

On Mon, Mar 21, 2016 at 2:25 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-03-21 14:42] nyh commented on #1072
I just checked, and I get the same sanitizer failure with "--smp 1". It's not specific to smp 2.

[2016-03-21 15:02] penberg commented on #1057
I am not able to reproduce:

[code]

@amnonh Please tell me more about your setup. How many nodes? What does "a small load" mean exactly? Are you able to reproduce all the time?

[2016-03-21 15:06] slivne commented on #1072
we found its a regression via jenkins

build http://jenkins.cloudius-systems.com:8080/job/urchin-dtest/label=monster,mode=debug,smp=1/795/ has this test pass

build http://jenkins.cloudius-systems.com:8080/job/urchin-dtest/label=monster,mode=debug,smp=1/796/ has this tests fail

its not related to glaubers branch

[2016-03-21 15:10] vladzcloudius opened #1073 "'nodetool refresh' fails with 'No such file or directory' error"
scylla HEAD: 6d031b4c6b40048e81379e4cb6f140a42e582425
seastar HEAD: c193821f9a061c80fbb0c2ae12061f022f3321ab

Setup:
AWS instance: c3.8xlarge
OS: Ubuntu 14.04 with 3.19.0-56-generic kernel
scylla packages:
[code]

Note: make sure to change the NOFILE rlimit to 200000. Otherwise you'll hit `Too many files` error.

Steps to reproduce:
1. Clean the previous data: `sudo rm -rf /var/lib/scylla/data/* /

[2016-03-21 15:16] nyh commented on #1072
I'm bisecting this now. As usual, the compilation is excruciatingly slow (I only set up one compilation machine - I need to set up the second one to get a little more speed....)

[2016-03-21 15:57] nyh commented on #1072
@slivne @glommer the result of the bisection is:

[code]

So somehow, while this patch fixed one problem, it created another one - apparently starting a call for lower_bound() and not keeping the sstable alive before it completes. I'll investigate.

[2016-03-21 16:16] glommer commented on #1072
On Mon, Mar 21, 2016 at 11:57 AM, nyh <notifications@github.com> wrote:

Thanks Nadav.

[2016-03-21 16:22] amnonh commented on #1057
I did the following:
1. Started a single node cluster.
2. Create a keyspace with:
./tools/bin/cassandra-stress write n=1  -mode native cql3  -rate threads=1
 -pop seq=1..3000000 -node 127.0.0.1

$ curl http://127.0.0.1:10000/storage_service/ownership/keyspace1
{"message": "Attempt to access value of a disengaged optional object",
"code": 500}

On Mon, Mar 21, 2016 at 5:02 PM, Pekka Enberg <notific

[2016-03-21 16:42] avikivity commented on #1071
So, close issue?

[2016-03-21 17:06] dorlaor commented on #1071
I'll close it but it is nice to know why it takes time to truncate

[2016-03-21 17:06] #1071 closed

[2016-03-21 18:01] tzach commented on #1071
From C* list:
"Why truncate takes a long time? That because all memtables should be
flushed to free up commit logs, then truncated sstables should be snapshotted
All this takes time for a truncate."
This need to happened on all nodes, so a slow node will slow down the operation.

http://mail-archives.apache.org/mod_mbox/cassandra-user/201203.mbox/%3C4F6AE949.5010109@free.fr%3E

[2016-03-21 19:38] slivne opened #1074 "repair_additional_test.py:RepairAdditionalTest.repair_option_pr_test is failing"
this test started to fail in

http://jenkins.cloudius-systems.com:8080/job/urchin-dtest/label=monster,mode=release,smp=1/798/testReport/junit/repair_additional_test/RepairAdditionalTest/repair_option_pr_test/

e52b869b250305d02c4d7e168dcdb69632633713

it passed in

http://jenkins.cloudius-systems.com:8080/job/urchin-dtest/label=monster,mode=release,smp=1/797/

based on head

4cc589872d0ab629be4440

[2016-03-21 19:42] slivne opened #1075 "cql_additional_tests.py:TestCQL.batch_and_list_test fails regression"
this test started to fail

http://jenkins.cloudius-systems.com:8080/job/urchin-dtest/label=monster,mode=release,smp=1/800/testReport/cql_additional_tests/TestCQL/batch_and_list_test/

head e1e4766cc65e57643473e631df7bdef0513bb506

it passed in http://jenkins.cloudius-systems.com:8080/job/urchin-dtest/label=monster,mode=release,smp=1/798//

head e52b869b250305d02c4d7e168dcdb69632633713

[2016-03-21 20:38] nyh commented on #1072
In one of the runs with smp==1, I was lucky to get much more information about the use-after-free bug:

[code]
[code]

[2016-03-21 21:00] tgrabiec commented on #1072
Perhaps 'pc' should be captured by reference here (and similarly for end):

[code]

[2016-03-21 21:08] nyh commented on #1072
Exactly :-) I found the same thing....

[2016-03-21 21:28] #1072 closed

[2016-03-21 22:02] nyh opened #1076 "More sstable code need a close() method to avoid use-after-free bugs"
This issue is the result of a Gedankenexperiment I did while debugging issue #1072 - I did not see these problems happening **yet** in a real run, but they may appear in the future and result in serious use-after-free bugs:

For better or for worse (depending on whose viewpoint), Seastar's input_stream requires its user to call its close() method, and wait for the returned future to conclude, befo

[2016-03-21 22:29] lmr opened #1077 "AMI sanity: scylla-io-setup failing"
Running the AMI tests, I've noticed that they can't get past the scylla-io-setup stage. The relevant journalctl logs show:

    Mar 21 20:38:04 ip-172-30-0-108 scylla_io_setup[2017]: Dload  Upload   Total   Spent    Left  Speed
    Mar 21 20:38:04 ip-172-30-0-108 scylla_io_setup[2017]: [155B blob data]
    Mar 21 20:38:04 ip-172-30-0-108 scylla_io_setup[2017]: % Total    % Received % Xferd  Averag

[2016-03-21 22:29] lmr commented on #1077
AMI ID: ami-e3787a89

[2016-03-21 22:30] lmr commented on #1077
I've looked at the script and apart from the fact it's probing number of shards and things like that, I couldn' t figure out where is the actual failure so far.

[2016-03-21 22:30] slivne commented on #1077
which head ?

On Tue, Mar 22, 2016 at 12:29 AM, Lucas Meneghel Rodrigues <
notifications@github.com> wrote:

[2016-03-21 22:32] slivne commented on #1077
what instance type mayge its 1060

you need to have --smp & --cpuset in SCYLLA_ARGS

benoit sent patches to fix this on the list

On Tue, Mar 22, 2016 at 12:30 AM, Lucas Meneghel Rodrigues <
notifications@github.com> wrote:

[2016-03-21 22:32] lmr commented on #1077
m3.medium, which was the default the AMI job was using

[2016-03-21 22:33] lmr commented on #1077
I'm re-trying with c3.xlarge

[2016-03-21 22:35] slivne commented on #1077
you need at least 8 cpus to have this working so it must be atleast
c3.2xlarge (yet there there is another issue on the list ...)

try c3.4xlarge or c3.8x

On Tue, Mar 22, 2016 at 12:33 AM, Lucas Meneghel Rodrigues <
notifications@github.com> wrote:

[2016-03-21 22:36] slivne commented on #1077
sorry my mistake the issue of c3.2x is #996 and it shoudl be fixed you can
try that as well

On Tue, Mar 22, 2016 at 12:35 AM, Shlomi Livne <shlomi@scylladb.com> wrote:

[2016-03-21 22:50] lmr commented on #1077
c3.2xlarge is working so far, c-s is running

[2016-03-21 23:01] lmr commented on #1077
OK, the c3.2xlarge size did work. I've edited the jenkins job to use only this size for now.

Down the road we'll have to revisit this to actually get all desired sizes working.

[2016-03-21 23:09] duarten commented on #958
Submitted a patch for scylla to trim ipv4 addresses in the seeds list and submitted another
 to seastar to be more explicit when failing to parse ipv4 addresses.

[2016-03-22 00:59] raphaelsc commented on #1073
@vladzcloudius, @glommer

I added some logs, and I found that Scylla is potentially deleting an existing SSTable that it tries to load with refresh.

Let me use generation 4 as an example. At boot stage, generation 4 is marked for deletion by shards 1, 2 and 3, meaning that it belongs to shard 0 (log message says which shard(s) a generation belongs to).
[code]

Now when refresh is called, generati

[2016-03-22 04:39] raphaelsc commented on #1073
Using AWS, I verified that the problem is not a regression caused by recent changes on initialization code. I tested it up to Scylla 0.16, and the problem still happens.

[2016-03-22 06:21] penberg commented on #1061
@slivne @syuu1228 This issue is likely fixed by 4892a6ded94790f4db65229cd8edcac56c3c9805 but as I was not able to reproduce, I think we should lower the priority to "high" and wait for a while to see if it happens again on the Jenkins build.

[2016-03-22 06:58] raphaelsc commented on #1073
I found the actual problem. It's a problem with reshuffle which sets a new generation for all sstables in a column family, and thus, _shards_agreeing_to_remove_sstable becomes outdated. sstable::set_generation() needs to update _shards_agreeing_to_remove_sstable. However, that only happens because we are re-using an existing generation given that column_family::disable_sstable_write() isn't return

[2016-03-22 07:49] #1027 closed

[2016-03-22 08:00] slivne commented on #1064
@tzach , @gleb-cloudius can we close this ?

[2016-03-22 08:00] vladzcloudius commented on #1073
On Mar 22, 2016 8:59 AM, "Raphael Carvalho" <notifications@github.com>
wrote:

new generation for all sstables in a column family, and thus,
_shards_agreeing_to_remove_sstable becomes outdated.
sstable::set_generation() needs to update
_shards_agreeing_to_remove_sstable. However, that only happens because we
are re-using an existing generation given that
column_family::disable_sstable_write() isn'

[2016-03-22 08:28] tzach commented on #1064
Clearly my original cassandra-stress profile did not make sense.
Not sure its related to the problem, so I'm closing this and will try to reproduce a simpler, sane, example.

[2016-03-22 08:28] #1064 closed

[2016-03-22 08:31] dorlaor commented on #1037
It does work on HEAD, the only issue I had is that it pollutes the log with collectd msg

[2016-03-22 08:55] #283 closed

[2016-03-22 08:58] slivne opened #1078 "CQL: extend support for STRING_LITERAL to support"
We currently do not support in Cql.g

[code]

add support for it.

[2016-03-22 09:11] #958 closed

[2016-03-22 09:47] haarcuba commented on #1070
does this happen after a while? or is the time scyllatop is up also random?

[2016-03-22 09:52] haarcuba commented on #1037
scyllatop.py --print-config will suggest this for your collectd configuration:

LoadPlugin unixsock

<Plugin unixsock>
   SocketFile "/var/run/collectd-unixsock"
   SocketGroup "wheel"
   SocketPerms "0660"
   DeleteSocket false
</Plugin>

also make sure you have permissions to connect to that socket.

[2016-03-22 10:05] #1077 closed

[2016-03-22 10:07] slivne opened #1079 "DTETS test_paged_count_with_limit (paging_additional_test.TestAggregatePaging) failing in debug"
[code]

from @elcallio that did an initial anbalysis of this

To recapitulate:
The dtest creates X thousand rows of data, then reads it using 10,20,50,100 etc page sizes.
However, for some reason, the paged query generated (query_pagers.cc), with modified ranges and
limit, still returns ~all rows (or at least ~2000) _per iteration_. The resulting amount of processing is
why we time out.
From what

[2016-03-22 10:31] penberg commented on #1078
@slivne Btw, this is a CQL (the language) 3.3.0 feature that appeared in Cassandra 2.2.

[2016-03-22 11:00] #1059 closed

[2016-03-22 11:42] haarcuba commented on #1037
turns out the Network plugin is also not enabled, and collectd is not running by default.

IMO for the next release we should have collectd configured properly by default.

[2016-03-22 12:04] haarcuba commented on #1070
could you attach a scyllatop.log next time it happens? it should be in the directory you run scyllatop from.

[2016-03-22 12:46] pdziepak commented on #1079
@elcallio I am not sure why you have come to a conclusion that storage_proxy::reconcile is the culprit. The test times out when executing a query with page size 10 and limit 1000 (at least on my machine). I've added additional logging to the storage proxy and the output doesn't suggest any problems there.
[code]
output (it looks similar on all nodes):
[code]
So, the paging codes asks for min(limit

[2016-03-22 12:54] elcallio commented on #1079
Yes, I also got the same basic result without 77dbe3c, which is why I said that I don't think it is your change per sé that is guilty.
But when I added similar printouts, I got the !rr_opt result, which in turn lead to repeated reconciles. So it is weird that you get a different result now.

[2016-03-22 13:02] #1037 closed

[2016-03-22 13:14] penberg commented on #1037
@slivne @dorlaor This is fixed in ``master``. Do we want to backport the fix to 1.0?

[2016-03-22 13:15] avikivity commented on #1037
Yes.

[2016-03-22 13:17] avikivity opened #1080 "Dynamic collectd rate"
Usually, send metrics every 10 seconds to reduce load and cpu consumption.

When scyllatop is active, increase rate to 3 seconds, drop it when scyllatop exits.

[2016-03-22 13:32] glommer commented on #1047
A patch to seastar was just merged, that allows us to use timeouts with iotune.

[2016-03-22 15:05] #1065 closed

[2016-03-22 15:46] nyh opened #1081 "messaging_service.o taking too much memory to compile"
I just had compilation of messaging_service.o in distcc die in the middle for no apparent reason (reported a "compiler error").

When I compiled it locally, cc1plus grows to 4 GB of resident memory to complete this compilation.
We should probably find a way - including possibly splitting this source file - to make this compilation take less memory.

[2016-03-22 15:49] #1060 closed

[2016-03-22 18:16] slivne commented on #1073
Can yoy pleade ypdate the issue

On the daily we agreed that refresh shpukd not touch old files only new
found files
On Mar 22, 2016 10:00 AM, "vladzcloudius" <notifications@github.com> wrote:

[2016-03-22 18:31] vladzcloudius commented on #1073
On Mar 22, 2016 20:16, "slivne" <notifications@github.com> wrote:

Raphael is working on a fix and hopefully the series would hit the mailing
list today.

A summary of today's progress:
1) We've found a bug in the function that calculates the max generation
number. Fixing this would resolve #1073 and would prevent scylla from
touching the existing sstables but would not address the case when the
n

[2016-03-22 18:33] raphaelsc commented on #1073
I am about to cook a patch to fix refresh. The first problem is that column_family::disable_sstable_write() was incorrectly using end() method to get last element of _sstables, but instead it was reading garbage. Fix to this problem is about using rbegin() instead.

The second problem is that we were passing maximum generation to reshuffle_sstables, so sstable with maximum generation would be said

[2016-03-22 18:59] #1075 closed

[2016-03-22 19:12] avikivity opened #1082 "lists::setter_by_uuid does unneeded RMW"
It inherits from `lists::setter_by_index`, which does a RMW via `requires_read()`.

@elcallio

[2016-03-22 20:14] glommer commented on #862
While trying to stop an in-flight repair with Ctrl-C, I've seen tons of messages like this at the repair master. (The other two nodes stop fine)

[code]

After 10 minutes elapse, then it finally stops trying, flushes all data, and shuts down correctly.
I would assume I am seeing the same thing described in this issue?

[2016-03-22 21:25] dorlaor commented on #1070
I wasn't aware there is such a log file. Will do. From what I remember it
happened randomly.

On Tue, Mar 22, 2016 at 2:04 PM, Yoav Kleinberger <notifications@github.com>
wrote:

[2016-03-22 22:27] slivne commented on #1062
checked this issue still exists on 5f44afa31192119e63384805ee7d532994dfd930

[2016-03-23 00:02] haarcuba commented on #1070
it doesn't reproduce for me.

there are only a few places in the code that could be responsible - it's probably some specific metric that I don't see on my machines but you do - a metric whose text-pattern is different from expected.

once I have a log it'll be easy.

I can also defend against such events - probably a good idea, since we never know what collectd can come up with.

[2016-03-23 00:40] dioptre commented on #888
I tried that sorry :(

[2016-03-23 05:22] tzach opened #1083 "Full Text Search Integration"
Cassandra integrate with tools like Lucene / Solr / ES
Similar integration with Scylla will be useful for many users.

[2016-03-23 07:20] penberg commented on #797
There are patches on the mailing list but we are still waiting for review from @nyh, @raphaelsc, @glommer.

[2016-03-23 08:22] #1073 closed

[2016-03-23 08:28] gleb-cloudius commented on #1081
On Tue, Mar 22, 2016 at 08:47:00AM -0700, nyh wrote:

messaging_service.cc has two kind if functions:

 Convenience functions for verb handlers to use - almost all of then templates
 Verb handling functions - non template function

If each verb or set of verbs will be defined in a separate file each of
those files will take less memory to compile (it may take more time
overall though). Since we wa

[2016-03-23 08:47] #1062 closed

[2016-03-23 09:03] avikivity opened #1084 "Alternative to nodetool refresh"
nodetool refresh is dangerous, since the user may overwrite an existing sstable, or Scylla may attempt to overwrite a user sstable (it won't, because `O_EXCL`), or something.

We can have an `ingest` subdirectory and have refresh look at that.

In fact we can just extend refresh to look at `ingest` in addition to the regular directory; and just recommend that users use `ingest` exclusively.  Scyll

[2016-03-23 09:15] tzach commented on #1084
:+1:
Copy new files to the active sstable dir is just dangerous

[2016-03-23 09:17] slivne commented on #1084
duplicate of #487

[2016-03-23 09:17] #1084 closed

[2016-03-23 11:10] pdziepak commented on #1079
That !rr_opt is strange, I am not able to reproduce it. Did you get it in that dtest or in some other test case?

As for the time outs, both storage proxy and paging code seems to be working correctly and the only issue is that since the query in that test uses an aggregate function the client doesn't get any reply until the CQL code on coordinator receives all data (even though paging is used int

[2016-03-23 11:33] avikivity commented on #862
@duarten this is where `unconnected_socket` is wanted

[2016-03-23 11:43] duarten commented on #862
Got it, thanks @avikivity. I'm chasing a heap-use-after-free on scollectd registrations that's preventing me from testing the patch, but I should publish it soon.

[2016-03-23 13:49] tzach commented on #536
@slivne is this still open?

[2016-03-23 13:51] tzach commented on #176
This issue is handled in Scylla using the IO scheduler
I'm closing it till we found there is a real problem here.

[2016-03-23 13:51] #176 closed

[2016-03-23 13:53] tzach commented on #72
@slivne I closed #176 as Scylla handles this kind of issue with IO scheduler, not configuration.
If you agree please close this as well.

[2016-03-23 13:59] glommer commented on #72
On Wed, Mar 23, 2016 at 9:53 AM, Tzach Livyatan <notifications@github.com>
wrote:

Please note that we still may have the problem of excessive processor-bound
continuations. It would be advisable to test some compaction scenarios to
see how much they are affecting us. But the disk part is certainly ok by
now.

[2016-03-23 14:12] tzach commented on #813
@amnonh can we close this?

[2016-03-23 14:21] amnonh commented on #813
Sure

[2016-03-23 14:24] #813 closed

[2016-03-23 14:25] tzach commented on #436
@amnonh 'nodetool stop' for compaction is merged.
If it is tested I will close this.

[2016-03-23 14:25] #944 closed

[2016-03-23 14:29] amnonh commented on #436
I didn't test it and don't have a test for it yet, but I understand that it
is working.

I'm working on adding tests, so I'll let you know when I'll add a test for
it

On Wed, Mar 23, 2016 at 4:25 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-03-23 14:31] penberg commented on #1003
Glauber's series is now merged: https://github.com/scylladb/scylla/commit/8bf3d4f550746526579ca3e45d9c89b231b3c9cb

Someone needs to retest before we close this issue.

[2016-03-24 10:02] #797 closed

[2016-03-24 10:34] #1018 closed

[2016-03-24 11:16] vladzcloudius opened #1085 "jepsen cassandra.batch-test/batch-halves-decommission fails with branch-1.0"
HEAD:
[code]
Test command: `lein test :only cassandra.batch-test/batch-halves-decommission`
Test description:
This test defines two tables as follows:
[code]

Then it fills it using the following commands:
[code]
Initially the cluster has 5 nodes but during the the test randomly chosen 2 of them are decommissioned. In addition the networking disruptions are applied and removed during the whole tes

[2016-03-24 11:38] avikivity opened #1086 "stdout/stderr not logged on Ubuntu"
Bad experience when we fail right during startup, for example when SCYLLA_ARGS cannot be parsed.

[2016-03-24 11:40] avikivity commented on #1086
Actually, it is present in `/var/log/upstart/scylla-server.log`

[2016-03-24 11:40] #1086 closed

[2016-03-24 11:43] avikivity opened #1087 "Ubuntu: upstart does not detect failed starts"
To reproduce, add some garbage to SCYLLA_ARGS.

    root@ip-172-31-3-35:~# start scylla-server
    scylla-server start/running

(it really crashed)

    root@ip-172-31-3-35:~# start scylla-server
    start: Job is already running: scylla-server

[2016-03-24 11:44] slivne commented on #1085
Vlad just to be sure

This test passed in the past - correct ?
On Mar 24, 2016 1:16 PM, "vladzcloudius" <notifications@github.com> wrote:

[2016-03-24 11:52] asias commented on #1085
@vladzcloudius  Question: 1) When did the inserting of data happen? Did it happen only before the decommission or it happened all the time (before, during and after decommission)? 2) So the result suggests some of the data inserted are missing after the decommission?

[2016-03-24 11:59] penberg commented on #1003
I ran ``repair_additional_test.py:RepairAdditionalTest.repair_multiple_test`` 30 times with ``--smp 2`` successfully.

[2016-03-24 11:59] #1003 closed

[2016-03-24 12:14] tgrabiec opened #1088 "create_lots_of_tables_concurrently_test dtest hangs with --smp=2"
Not always happens, but happens most of the time.

The hang usually happens inside table merging, which doesn't complete and blocks all further schema change operations, because it runs under global lock.

The hang is directly caused by `invoke_on_all()` not completing, for example this one in `merge_tables`:
[code]

The continuation is invoked on local shard, but is never invoked on the remote sh

[2016-03-24 12:54] lmr opened #1089 "[1.0-rc1] Error messages for badly configured scylla.yaml are not very helpful"
As suggested by @vladzcloudius, I'm opening this issue.

I did start a scylla cluster node and noticed that scylla wasn't starting on the nodes. I kept getting messages like:

    17:28:12 remote           L0182 DEBUG| [54.152.24.83] [stdout] Mar 23 17:28:12 ip-172-30-0-250 scylla[2142]: Exiting on unhandled exception of type 'std::system_error': Error system:99 (Cannot assign requested address)

[2016-03-24 13:02] dorlaor opened #1090 "docker image doesn't run jmx"
sudo docker pull scylladb/scylla

sudo docker run -p $(hostname -i):9042:9042 -i -t scylladb/scylla
[code]

Both netstat and nodetool cannot reach port 7199

[2016-03-24 13:06] vladzcloudius commented on #1085
@slivne as far as I remember - yes.
@asias the data insertion happens all the time: before during and after the decommission.

[2016-03-24 13:23] slivne commented on #1085
Vlad is this on branch 1.0 or something else ? We need to test the branch
not master
On Mar 24, 2016 3:06 PM, "vladzcloudius" <notifications@github.com> wrote:

[2016-03-24 13:25] vladzcloudius commented on #1085
[history.txt](https://github.com/scylladb/scylla/files/187904/history.txt)

[n1-system.txt](https://github.com/scylladb/scylla/files/187909/n1-system.txt)
[n2-system.txt](https://github.com/scylladb/scylla/files/187910/n2-system.txt)
[n3-system.txt](https://github.com/scylladb/scylla/files/187911/n3-system.txt)
[n4-system.txt](https://github.com/scylladb/scylla/files/187912/n4-system.txt)
[n5-syst

[2016-03-24 13:44] vladzcloudius commented on #1085
@slivne it's on the branch-1.0 - this fact is stated in the name of the issue.

[2016-03-24 13:58] vladzcloudius commented on #1085
[history.txt](https://github.com/scylladb/scylla/files/187965/history.txt)
[n1-system.txt](https://github.com/scylladb/scylla/files/187966/n1-system.txt)
[n2-system.txt](https://github.com/scylladb/scylla/files/187967/n2-system.txt)
[n3-system.txt](https://github.com/scylladb/scylla/files/187968/n3-system.txt)
[Uploading n4-system.txt…]()
[Uploading n5-system.txt…]()
[Uploading results.txt…]()

[2016-03-24 13:59] vladzcloudius commented on #1085
[history.txt](https://github.com/scylladb/scylla/files/187972/history.txt)
[n1-system.txt](https://github.com/scylladb/scylla/files/187974/n1-system.txt)
[n2-system.txt](https://github.com/scylladb/scylla/files/187973/n2-system.txt)
[n3-system.txt](https://github.com/scylladb/scylla/files/187976/n3-system.txt)
[n4-system.txt](https://github.com/scylladb/scylla/files/187978/n4-system.txt)
[n5-syste

[2016-03-24 14:48] asias commented on #1085
On Mar 24, 2016 21:06, "vladzcloudius" <notifications@github.com> wrote:

the decommission.

Is it possible that the insertion itself does not succeed?

[2016-03-24 15:21] slivne commented on #1085
Pawel asias please work on this together ... calle will be able to join on monday

[2016-03-24 15:24] avikivity opened #1091 "Scylla starts even though scylla_io_setup has not been run"
## Installation details
Scylla version (or git commit hash): 1.0-rc1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

Scylla starts even though scylla_io_setup has not been run.

[2016-03-24 15:24] avikivity opened #1092 "scylla_io_setup should be available on /usr/bin"
Since scylla_io_setup is now a user command, it should be on $PATH.

[2016-03-24 15:36] vladzcloudius commented on #1085
Here is some more input:

- The test fails with a high probability: it failed 4 times out of 5 for me.
- Cassandra passed this test 2 times out of 2.
- Scylla has passed the same test without a `decommission` component.
- According to [documentation](http://docs.datastax.com/en/cql/3.1/cql/cql_reference/batch_r.html)

[2016-03-24 15:52] gleb-cloudius commented on #1085
The relevant code in our code path is not converted.

[2016-03-24 16:01] vladzcloudius commented on #1085
On 03/24/2016 04:48 PM, Asias He wrote:

The insertion was not reported as a success (see a /history.txt/ file)
but a batch operation was obviously written into the relevant /batchlog/
because according to the documentation "/To achieve atomicity, Cassandra
first writes the serialized batch to the batchlog system table that
consumes the serialized batch as blob data./" and because we read the
valu

[2016-03-24 16:05] tgrabiec commented on #1088
It's a deadlock.

The `smp_message_queue` limits the number of not completed fibers that can be submitted to another core. This can lead to deadlock if completion of those tasks depends on completion of the task on current core, which needs to submit something to another core to complete.

That's the case for schema merging, where schema change tasks block on the merge lock and merging itself need

[2016-03-24 16:22] benoit-canet opened #1093 "/usr/lib/scylla/scylla_io_setup fails with rpm on rackspace"
## Installation details
Scylla version (or git commit hash): RC1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): RHEL

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): Rackspace compute optimize 15 GB RAM
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

While testing the RC1 rpm on rackspace.

 yum remove -y abrt
yum install

[2016-03-24 16:37] slivne commented on #1093
Thanks bemoit

This wss fixed by a followup patch i sent that was merged this morning by pekka and is not padt og the rpm bit is part of the ami

It also means that all the rest installer testers did not run this script

So thia can be retested on the next rpms (tomorrow)  and then closed

[2016-03-24 16:40] slivne commented on #1085
Can you elaborate is it only relevant for this decomission batch case or is
batch broken
On Mar 24, 2016 5:52 PM, "Gleb Natapov" <notifications@github.com> wrote:

[2016-03-24 16:41] slivne commented on #1092
Avi we have many setup scripts why is this different
On Mar 24, 2016 5:25 PM, "Avi Kivity" <notifications@github.com> wrote:

[2016-03-24 16:43] avikivity commented on #1092
Anything the user needs to run should be on /usr/bin.

Internal scripts should be in /usr/lib (or /usr/libexec)

[2016-03-24 17:15] lmr commented on #1070
Disclaimer: I haven't done much hacking on scylla top yet, but this should be easy to prevent against - just look for the places in the code that access said groupdict, and do a `if not None` test before doing whatever you will do with it.

    git grep groupdict
    tools/scyllatop/collectd.py:        howManyLines = int(match.groupdict()['lines'])
    tools/scyllatop/metric.py:            key = m

[2016-03-24 17:16] lmr commented on #1070
So instead of blindly trying to access keys on a match.groupdict() that might be None, check first before getting values.

[2016-03-24 17:29] lmr commented on #1070
From the limited amount of time I looked into this, the patch seems straight forward:

    From 08d8236b01118c5e81c6c69138d2ddf3a8bdb99f Mon Sep 17 00:00:00 2001
    From: Lucas Meneghel Rodrigues <lmr@scylladb.com>
    Date: Thu, 24 Mar 2016 14:27:50 -0300
    Subject: [PATCH] scyllatop: Skip collectd output lines that don't match metric
     patterns

    Fixes #1070.

    Currently scyllatop do

[2016-03-24 17:33] nyh commented on #1092
On Thu, Mar 24, 2016 at 6:44 PM, Avi Kivity <notifications@github.com>
wrote:

The traditional location for scripts that only a superuser would run is
"/usr/sbin".

[2016-03-24 18:43] ycui1984 opened #1094 "no logs can be found on syslog"
## Installation details
Scylla version (or git commit hash): 0.19
Cluster size: 3 nodes in each datacenter (6 nodes total)
OS (Ubuntu):

no logs can be found in syslog, we use the default logging method which prints to syslog, but there is not

## Hardware details (for performance issues)
Platform (physical):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

[2016-03-24 18:46] ycui1984 commented on #1094
there is some info in dmesg, but not enough to tell me the whole story.

[2016-03-24 18:48] syuu1228 commented on #1092
Probably all of scylla_*setup scripts should move to /usr/sbin, since it's requires root permission, and user need to run. scylla_prepare, scylla_stop and /usr/lib/scylla/scylla-ami can stay there, since it's internal.

[2016-03-24 19:10] duarten opened #1095 "Scylla tries to delete missing sstable"
## Installation details
Scylla version (or git commit hash): 0.19-20160308.4e3b98f-ub
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04, with XFS.

I got the following error by trying to run `nodetool compact` after running cassandra-test on a system that was forcefully rebooted:

[code]
I have keyspace1-standard1-ka-117-TOC.txt on disk, then following that I have a bunch of keyspace1-

[2016-03-24 19:35] slivne commented on #1095
@duarten the version is 0.19 it is not the rc1 version I sent in the email - please try and reproduce on the correct version.

[2016-03-24 19:36] duarten commented on #1095
Oh, sorry about that. Will try to repro.

[2016-03-24 19:37] slivne commented on #1091
@avikivity  is there additional info on how to reproduce ? or any ubuntu 14.04 (with kernel upgraded) without --developer-mode set will reproduce this ?

[2016-03-24 19:39] slivne commented on #1090
@penberg I know you have looked at this in the past and sorting this out was not simple ... (e.g. getting systemd working on docker)

Can you add the info here so we can continue

[2016-03-24 19:41] slivne commented on #1085
@gleb-cloudius  can you please  elaborate is it only relevant for this decomission batch case or is batch broken

[2016-03-24 19:45] benoit-canet opened #1096 "ENOSPC issue"
## Installation details
Scylla version (or git commit hash): rc1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos rackspace

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): compute 15GB
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

I created a huge file on disk leaving only 3MB of disk space _before_ starting scyll

[2016-03-24 19:51] dorlaor commented on #1096
On Thu, Mar 24, 2016 at 9:45 PM, Benoît Canet <notifications@github.com>
wrote:

Benoit, you're missing lots of details - what's the cluster size, what's
the RF and the CL.
Exact log msg of c-s, that cluster status (nodetool status), etc

[2016-03-24 19:52] duarten commented on #1095
Reproduced:

[code]

[2016-03-24 19:54] raphaelsc commented on #1095
@duarten: I got a slightly different problem, but I am confident that the problem is the same: WARN  2016-03-24 16:51:17,494 [shard 0] sstable - Exception when deleting sstable file: std::system_error (error system:2, No such file or directory)

I reproduced it by eating all disk  before running 'nodetool compact keyspace1', so compaction will fail when writing a new sstable, and this partial ssta

[2016-03-24 19:54] duarten commented on #1095
(Version is 666.development-20160324.0afd1c6-ubuntu1)

[2016-03-24 20:04] ycui1984 commented on #1090
there is a fix on ubuntu platform  @slivne @dorlaor @penberg
https://github.com/scylladb/scylla/pull/988

[2016-03-24 20:29] glommer commented on #1095
@raphaelsc I think we should keep deleting compaction files. Compactions can increase the disk utilization twofold almost, so we can't leave failed compactions just lying around.

The message @duarten posted indicates that we're trying to delete the TOC. If the SSTable write fails, it's expected that the TOC is non-existent. Why aren't we more robust about it? I thought we could delete unfinished

[2016-03-24 21:18] dorlaor commented on #1090
@ycui1984, can you please translate your pull request to patches and send them on the list?
Thanks for bringing it to the surface again

[2016-03-24 21:39] raphaelsc commented on #1095
@glommer : I think that this commit should handle it: 4e52b41a46ca68daa3312a08db424ce0d2ca24c4

I see that it was applied just few hours ago.

[2016-03-24 22:05] gleb-cloudius commented on #1085
On Thu, Mar 24, 2016 at 12:41:33PM -0700, slivne wrote:

Batchlog is not replayed on decommission. If during decommission batchlog
is not empty it will cause data lose.

--
			Gleb.

[2016-03-24 22:36] ycui1984 commented on #1090
@dorlaor   I have send the patch to scylla-dev
https://groups.google.com/forum/#!topic/scylladb-dev/nwY21LrJDt4

[2016-03-24 23:04] amnonh opened #1097 "row_merged is missing in db::system_keyspace::get_compaction_history()"
The row merged should be propagate to the API.

Affected nodetool command:
nodetool compactionhistory

## Installation details
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

[2016-03-24 23:45] glommer commented on #1095
Although that commit was done for another bug with different symptoms, it does look like it would handle this case.

[2016-03-25 00:45] slivne opened #1098 "dtest: backup_restore_tests.TestBackupRestore.incremental_backup_test regression"
## Installation details
Scylla version : master (scylla 5f44afa31192119e63384805ee7d532994dfd930, scylla-jmx 524763cfeda89c9f9998c015ed1ad2ee8fb0e9ad)
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

we have regression in this tes

[2016-03-25 00:51] slivne opened #1099 "dtest: migration_test.TestMigration.migrate_sstable_with_cell_tombstone_test, migration_test.TestMigration.migrate_sstable_with_range_tombstone_test, migration_test.TestMigration.migrate_sstable_with_row_tombstone_test regression"
## Installation details
Scylla version nmaster (scylla 0afd1c6f0aae53eb23e5a5d22d97ae0df4000a57 , scylla-jmx 524763cfeda89c9f9998c015ed1ad2ee8fb0e9ad)
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

http://jenkins.cloudius-system

[2016-03-25 01:01] slivne commented on #1085
@gleb-cloudius  thanks - next question how hard it is to fix this can you provide pointers

[2016-03-25 01:02] asias commented on #1085
On Fri, Mar 25, 2016 at 9:01 AM, slivne <notifications@github.com> wrote:

Patch on the way.

--
Asias

[2016-03-25 03:08] asias commented on #1085
@vladzcloudius can you please share a new jepsen ami that works. It took me a very long time to reconfigure my jepsen instance to run, due the new dependency changes: boost, scylla-server, libgnutls28 (>= 3.2.10-0), nodetool is not working. It is still not working properly.

[2016-03-25 03:15] asias commented on #1085
@vladzcloudius Or can you please test the attached patch
[v1-0001-storage_service-Do-BatchLog-replay-in-decommissio.patch.zip](https://github.com/scylladb/scylla/files/189017/v1-0001-storage_service-Do-BatchLog-replay-in-decommissio.patch.zip)

[2016-03-25 06:08] vladzcloudius commented on #1085
@asias the AMI on the jepsen page is an updated one. I've updated it since
the last time u ran jepsen.
On Mar 25, 2016 6:08 AM, "Asias He" <notifications@github.com> wrote:

[2016-03-25 08:38] syuu1228 commented on #1094
This seems same issues as https://github.com/scylladb/scylla/issues/1015

[2016-03-25 10:39] syuu1228 commented on #1091
@avikivity @slivne After implemented https://github.com/scylladb/scylla/issues/1065, we able to run scylla without running iotune.
Should we prevent it? I think it can be implement on scylla_prepare.

[2016-03-25 11:10] syuu1228 opened #1100 "Ubuntu AMI rootfs is not XFS"
Since we are using Ubuntu's official AMI it is using ext4, we need extra ephemeral disks to construct RAID for /var/lib/scylla.

[2016-03-25 11:28] syuu1228 commented on #1091
Seems https://github.com/scylladb/scylla/commit/e750a943000716939bba71c565414eed8b917c68 solve  the problem?

[2016-03-25 14:52] amnonh commented on #1098
I sent a patch

[2016-03-25 17:56] haarcuba commented on #1070
I've already submitted a fix - which more or less does what you suggested, thanks - d2cfb86dc801ba74084b937af7e05e5bc2539f70

it's already merged - but someone else who has seen this bug should confirm it fixes the issue, @dorlaor

[2016-03-25 21:12] lmr commented on #1054
This problem doesn't happen anymore as of ami-c25e51a8 (1.0-rc1). I'm closing this issue.

[2016-03-25 21:12] #1054 closed

[2016-03-25 21:13] lmr commented on #1040
I'm closing this as we traced the issue back to a slow root disk over NFS.

[2016-03-25 21:13] #1040 closed

[2016-03-25 21:14] lmr commented on #1038
The problem seems to be fixed with the latest 1.0-rc1 ami-c25e51a8, I'm closing this issue.

[2016-03-25 21:14] #1038 closed

[2016-03-25 21:15] lmr commented on #1021
This doesn't happen on tests with the 1.0-rc1 AMI, ami-c25e51a8. I'm closing this issue.

[2016-03-25 21:15] #1021 closed

[2016-03-25 21:18] lmr commented on #1016
This issue does not reproduce under the latest 1.0-rc1 to date (ami-c25e51a8), I'm closing this bug.

[2016-03-25 21:18] #1016 closed

[2016-03-25 21:19] lmr commented on #925
This problem doesn't reproduce anymore as of the latest 1.0-rc1 AMI (ami-c25e51a8). I'm closing this issue.

[2016-03-25 21:19] #925 closed

[2016-03-25 21:27] lmr commented on #962
I still observe this using the latest 1.0-rc1 AMI

    18:29:36 remote           L0773 DEBUG| Remote [centos@54.191.177.102]: Running 'cassandra-stress write cl=QUORUM duration=1440m -schema 'replication(factor=3)' -port jmx=6868 -mode cql3 native -rate threads=1000 -node 172.31.42.50'
    ...
    23:44:07 remote           L0182 DEBUG| [54.191.177.102] [stdout] java.io.IOException: Operation x10 o

[2016-03-25 23:43] lmr commented on #1012
I can't reproduce this on the latest 1.0-rc1 AMI, so I'm closing this.

[2016-03-25 23:43] #1012 closed

[2016-03-25 23:44] lmr commented on #961
This problem doesn't reproduce anymore as of the latest 1.0-rc1 AMI (ami-c25e51a8). I'm closing this issue.

[2016-03-25 23:44] #961 closed

[2016-03-25 23:45] lmr commented on #924
This problem doesn't reproduce anymore as of the latest 1.0-rc1 AMI (ami-c25e51a8). I'm closing this issue.

[2016-03-25 23:45] #924 closed

[2016-03-25 23:47] lmr commented on #980
This problem was fixed as of the latest 1.0-rc1 rpms, so I'm closing this issue.

[2016-03-25 23:47] #980 closed

[2016-03-26 00:16] slivne commented on #962
@gleb-cloudius can you have a look at this as well

Drain is different then remove node as it does not change the token ownership - so although the removenode issue may have been fixed - I doubt that any of the patches that asias has sent are related

[2016-03-26 01:30] slivne commented on #1074
following glauber's repair/streaming patches does not reproduce on 6fe88a663f6bdbc5d7a617ae3f29e06b0256c301

(3 out of 3 passed)

[2016-03-26 01:30] #1074 closed

[2016-03-26 14:10] nyh commented on #1074
@slivne can you please clarify - you closed this issue, and after closing it, assigned it to me - why?

After recent changes to streaming and before the spree of fixing what broke, several of the repair tests failed, and this was probably one of them. I don't think we need to pay special attention to this one in particular.

[2016-03-26 20:06] slivne commented on #1074
@nyh - by mistake - nothing todo with this bug

[2016-03-26 20:37] dorlaor opened #1101 "Investigate little throughput drops caused by compaction/memtable flush"
Installation details
Scylla version (or git commit hash): RC1
Cluster size: 3 nodes, RF=3, CL=Q
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS, i8.2xl

Glauber provided these graphs. One can easily identify a pattern of a big drop of ~100k ops
every couple of seconds with two intermediate
![disk-usage](https://cloud.githubusercontent.com/assets/1735237/14062314/8c37340e-f3ab-11e5-8181-7d4d60eec9fe.png)
![re

[2016-03-26 22:43] duarten commented on #1078
scylla: https://groups.google.com/d/msg/scylladb-dev/6NczQR_Lh40/soqdMqhHEAAJ
scylla-tools-java: https://groups.google.com/d/msg/scylladb-dev/6NczQR_Lh40/KxhEPKtHEAAJ

[2016-03-27 06:55] tzach commented on #1101
Wild theory: compaction in different levels.
Small tables compaction - small drop
Bigger table - bigger drop

[2016-03-27 07:03] #1099 closed

[2016-03-27 07:09] gleb-cloudius commented on #962
I believe there may be a problem with a test scenario (as in result we are getting is expected). Suppose we have three nodes: A B C.
1. A is stopped.
2. write to B & C is started
3. A is started
4. B is stopped
5. write that was started at 2 will timeout

The problem is aggravated by the fact that we do not wait for all ongoing messages to complete before shutting does messaging service during dra

[2016-03-27 07:31] dorlaor opened #1102 "Create higher level systemd service that starts all services in one go"
Instead of running scylla-server and scylla-jmx directly a scylla-start or just 'scylla' should
start them all in one go

[2016-03-27 07:37] slivne commented on #1102
duplicate of #726

[2016-03-27 07:37] #1102 closed

[2016-03-27 07:39] slivne commented on #1097
duplicate of #748

[2016-03-27 07:39] #1097 closed

[2016-03-27 07:51] slivne commented on #962
Two comments:

   - The test does executed drain before stopping the node - doesn't drain
   wait for all the current commands to finish
   - The nemesis waits for the next cycle so there are 5 minutes between 3
   and 4 (@lmr is that the current interval in your test)

updating your example:

1. A is stopped.
2. write to B & C is started
3. A is started
4. Wait 5 minutes
5. B is drained, B is the

[2016-03-27 08:00] slivne commented on #1095
Fix is merged into 1.0 - please retest with https://s3.amazonaws.com/downloads.scylladb.com/deb/unstable/ubuntu/branch-1.0/8/scylla.list

[2016-03-27 08:03] slivne commented on #1093
on branch-1.0 this is fixed

8422a42381eefad48cacf73add7077d992865dbd

[2016-03-27 08:03] #1093 closed

[2016-03-27 08:04] avikivity commented on #1088
A complete fix would assign each local procedure call a level, and reserve some execution slots for each level.  Level assignment can be explicit (a parameter to submit_to), or implicit by inheriting the current level from the fiber and increasing it while we're in a submit_to().

Since that is a huge change, we'll be forced to do something like your patch.  It's risky in that many shards can push

[2016-03-27 08:34] avikivity commented on #1088
Maybe we can change lock acquisition to be non-blocking with exponential backoff.  This should remove all dependencies:

    while (!submit_to(0, try_lock))
         sleep(exponential_backoff)
    submit_to(all, broadcast_results)
    submit_to(0, drop_the_lock)

[2016-03-27 08:39] avikivity commented on #1088
I see that it already runs on the current shard (not shard 0), so maybe it's enough to replace the lock acquisition with exponential backoff.  I'll try it.

[2016-03-27 09:08] tzach opened #1103 "scylla-service silently failed on Ubuntu"
Reproduce on Ubuntu 14.0 AMI (ami-5189a661 on west-2)
[code]
Scylla do not start, and do not return any error to the terminal.

In this case, Scylla service did not start because data dir is not XFS, from `/var/log/syslog`
[code]

This is similar to https://github.com/scylladb/scylla/issues/743 on CentOS

[2016-03-27 09:16] avikivity commented on #1088
@gleb-cloudius says that we should assign a limiter at the receive side of submit_to, and have a separate limiter per message type.

[2016-03-27 10:51] gleb-cloudius commented on #962
OTOH first message has UnavailableException which cannot be explained by the race, but both errors can be caused by test not detecting that node is alive correctly or by a node failing to join the cluster back, but still opening  cql port. What nodetool says about the cluster when it fails?

[2016-03-27 11:20] avikivity commented on #1088
My suggestion:

1. apply my fix to master and 1.0 (non-blocking lock)
2. add server-side submit_to() concurrency limiters based on resource use (similar to rpc memory limiters).  These limiters would be applied for every local procedure call (master only)
3. undo 1 on master

A limiter might look like

    return db.invoke_on(shard_of(...), [] (database& db) {
         return with_semphore(db._lim

[2016-03-27 11:26] slivne commented on #962
The first messages is from an AMI on older version - the new WriteTimeout
is on an updated ami

On Sun, Mar 27, 2016 at 1:52 PM, Gleb Natapov <notifications@github.com>
wrote:

[2016-03-27 11:27] duarten commented on #1095
Tested and got this:

[code]

There's still a ENOENT, but with less information.

[2016-03-27 11:37] slivne commented on #1103
judgin by the repo this was run against 0.19 not toward 1.0

On Sun, Mar 27, 2016 at 12:08 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-03-27 11:38] tzach commented on #1103
@slivne correct, I followed the instruction in the site, and the public repo (0.19)

[2016-03-27 11:41] nyh commented on #1088
On Thu, Mar 24, 2016 at 6:05 PM, Tomasz Grabiec <notifications@github.com>
wrote:

I think we need to rethink whether there is a theoretical justification to
having a limited queue size, or we *have* to use an unlimited queue.

Having a limited queue size is useful when you want to put "flow control"
on a single fiber: A single fiber which continues to additional requests to
a remote core will at

[2016-03-27 11:59] nyh commented on #1095
On Sun, Mar 27, 2016 at 2:27 PM, Duarte Nunes <notifications@github.com>
wrote:

Looking at the the remove_by_toc_name() code it *almost* does the right
thing: deletes all the components listed in the toc, in parallel. If any of
these components fail to be deleted, one or more exceptions can be found by
parallel_for_each but only one will be reported (I'm tired of explaining
how wrong that is...).

[2016-03-27 12:07] avikivity commented on #1088
That's what @gleb-cloudius says, and I agree.

I'm just worried about the transition (dropping the client-side limit without instating a server-side limit) because it can cause a shard to be overwhelmed, where before it would be protected by the client-side limits of callers.

[2016-03-27 12:17] avikivity commented on #1095
Flow should be:
  - remove all components in parallel
    - forgive ENOENT, since the compoent may not have been written; otherwise deletion error should be raised
  - fsync the directory
  - delete the temporary TOC

[2016-03-27 12:25] slivne opened #1104 "sstable: summary and statistics difference in size"
## Installation details
Scylla version (or git commit hash): 1.0-rc1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

I have created a table and inserted a single row and did a flush -
- TOC, CRC, Digest, Data, Filter, Index hav

[2016-03-27 12:53] tgrabiec commented on #1088
27 mar 2016 2:07 PM "Avi Kivity" <notifications@github.com> napisał(a):

I agree as well.

I think we should not limit at submit_to level using single limit for all
kinds of invocations. We should have separate limits for different things,
but that must be determined on higher level of abstraction.

Some submissions don't have to be limited at all, for example memory
release from foreign_ptr. It's

[2016-03-27 13:21] avikivity commented on #1088
Even on writes, is the limit applied before allocating extra resources, or not?

Since we pass a `frozen_mutation` by reference, we might be lucky and O(mutation) memory use might be only after we pass another controller.

[2016-03-27 13:52] avikivity opened #1105 "submit_to server-side resource limits"
See #1088

Currently we have a client-side queue limit for submit_to().  This can create deadlocks if fiber A running on shard 0 takes a lock on shard, then fiber B running on node 0 takes a lock on shard 1, then fiber A runs an operation on shard 1, which is a prerequisite to dropping the lock.

We need to drop the client-side limits, and replace them with server-side per-operation-type limits in

[2016-03-27 13:53] avikivity commented on #1088
Filed #1105 for the long-term fix

[2016-03-27 14:13] avikivity commented on #1088
Tried this:

[code]

But it appears to still hang.

[2016-03-27 14:57] slivne commented on #1103
@tzach the version you used is 0.19 ...

Can you try rc1
On Mar 27, 2016 12:08 PM, "Tzach Livyatan" <notifications@github.com> wrote:

[2016-03-27 15:47] raphaelsc commented on #1095
On Sun, Mar 27, 2016 at 9:17 AM, Avi Kivity <notifications@github.com>
wrote:

but I think this approach is better. I will send a patch tomorrow.

--
Raphael S. Carvalho

[2016-03-27 15:58] avikivity commented on #1088
Looks like many concurrent callers lock-steped the exponential backoff, causing very long delays.

Randomizing the delay works better.

[2016-03-27 16:29] tzach commented on #1103
Reproduce the same problem for RC1, using the same Ubuntu AMI
[code]

Same XFS error in /var/log/syslog

[2016-03-27 16:34] syuu1228 opened #1106 "scylla_raid_setup causes 'yum: command not found' on Fedora 22 AMI"
## Installation details
Scylla version (or git commit hash): 077c0d1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Fedora-22 official AMI

On Fedora-22 official AMI, I've got following error:
[code]

I suppose this is not happen on normal setup Fedora, since "Minimal Install" package group includes dnf-yum.
But AMI (probably also Docker images) doesn't installed all "Minimal Install" package set, the error hap

[2016-03-27 17:37] raphaelsc commented on #1104
Cassandra inserts garbage at the end of summary which is only relevant to it. I only remember that it has something to do with memory map. And yes, Cassandra can work with a summary that doesn't have the garbage at the end. And related to statistics file, it's probably that our cardinality information (which is of variable length) is generated in a different way. I would also like to verify that m

[2016-03-27 17:41] syuu1228 opened #1107 "scylla_setup causes "Failed to execute operation: No such file or directory" error when scylla-jmx package is not installed"
scylla_setup unconditionally tries to enable scylla-jmx.service when we input 'yes' on enable ScyllaDB services prompt:
[code]

We probably should check scylla-jmx package is installed, when it's not installed the script should show error message.

[2016-03-27 19:13] slivne opened #1108 "[1.0 rc1] nodetool statusbinary is not working"
## Installation details
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

[2016-03-27 19:25] nyh commented on #1104
As @raphaelsc said above, the Cassandra and Scylla start out identical, and then Cassandra adds something ("garbage", to use Raphael's nomenclature ;-)) additional at the end. I'll try to figure out what it is an explain it in https://github.com/scylladb/scylla/wiki/SSTables-Summary-File, which I already started to expand.

By the way, Raphael left the following comment in the code about the unkno

[2016-03-27 19:33] syuu1228 opened #1109 "scylla_setup causes 'Unsupported bootloader' on Fedora 22 AMI"
On Fedora-22 official AMI, I've got following error:
[code]
This is because Fedora-22 AMI uses extlinux, and scylla_booparam_setup doesn't supported it.
This is unusual configuration, so we probably won't get this error on another environment, but need to fix.
We actually supported extlinux at once, but we dropped it when we switched base AMI to CentOS:
https://github.com/scylladb/scylla/commit/b3

[2016-03-27 19:42] dorlaor commented on #1109
IMHO it doesn't worth to have a Fedora rpm and it's only worth
to maintain the source code build on Fedora. Most users use either Ubuntu
or Centos while
Fedora is purely for developers. We can't keep up with the fast pace
releases too

On Sun, Mar 27, 2016 at 10:33 PM, Takuya ASADA <notifications@github.com>
wrote:

[2016-03-27 19:43] syuu1228 opened #1110 "scylla_raid_setup misinterprets blank input as '/dev/'"
It seems regression after merged https://github.com/scylladb/scylla/commit/6edd909b00dcd0f608b4809a6d4bce565b0a954c
[code]

[2016-03-27 19:44] syuu1228 commented on #1110
Note: not affected on branch-1.0

[2016-03-27 20:02] syuu1228 opened #1111 "On distribution AMI, constructing RAID on /dev/xvdb always fails"
This problem only occurs on Fedora | CentOS | RHEL | Ubuntu AMI, not occurs on our AMI.

Since cloud-init tries to mount /dev/xvdb to /mnt by default, scylla_raid_setup always fails on distribution AMI, because it's already mounted.
Following commands are needed before running scylla_raid_setup
[code]
Otherwise we get 'Device or resource busy'
[code]

Since the script is already showing correct er

[2016-03-27 20:47] dorlaor opened #1112 "Change the commitlog naming so it won't match origin"
sstables2json may write commitlog files and thus may confuse Scylla.
It's totally bogus that it writes any commitlog and thus we like to stay on
the safe side and change our commitlog naming scheme.

[2016-03-27 21:37] nyh commented on #1104
As we might have guessed, the stuff at the end of the sstable is not quite "garbage", and has a meaning which I'll try to explain now.

Cassandra based on antediluvian programming languages and programming techniques, mmap()s sstable files, and is limited to doing that in 2 GB chunks. So it has the notion of a SegementedFile which is divided into 2 GB segments (I believe it makes an pick segment b

[2016-03-27 21:44] slivne commented on #1104
Thanks nadav

What is not clear to me is if a file needs to be bigger then 2gb how does
it look at the fs level

Are there multile data files for a generation number without additional
other files (toc,summary etc.)

Are we able to cope with such files qhen we are migrating such latge files
will we read them corrwctly if thwy are copied over
On Mar 28, 2016 12:37 AM, "nyh" <notifications@github.co

[2016-03-27 21:52] nyh commented on #1104
If I understand correctly, there is just a single data file, and different segments of it are mmap'ed separately, and that "garbage" at the end of the summary file is what makes it easy to know which positions to map. I believe this "boundary" stuff assumes that both filesystem and mmap are 64 bit, but just Java is limited to mapping 2^31 byte chunks at a time (see for example http://nyeggen.com/p

[2016-03-27 21:55] slivne commented on #1111
better error is appropriate - this is not a setup we have built (e.g. AMI) - this is also true in cases when it is run on non AWS env's and the disks are formatted and mounted - the user needs to deal with that in his own.

[2016-03-27 22:06] slivne commented on #1104
Thanks

Yes we did try to migrate our files - yet never at this scale.

On Mon, Mar 28, 2016 at 12:52 AM, nyh <notifications@github.com> wrote:

[2016-03-27 22:10] nyh commented on #1104
On Mon, Mar 28, 2016 at 1:06 AM, slivne <notifications@github.com> wrote:

But looking at the Cassandra code, I got the impression that even at a
small scale, Cassandra should not be able to read our summary files because
it should complain that it can't read the disk access mode. If no such
error gets printed, I think I'm missing another piece of logic in Cassandra
which might make it ok not to h

[2016-03-27 22:12] slivne commented on #1104
I'll try to test this ... (or you can) it's simple

On Mon, Mar 28, 2016 at 1:11 AM, nyh <notifications@github.com> wrote:

[2016-03-27 22:25] #1104 closed

[2016-03-27 22:27] nyh commented on #1104
On Mon, Mar 28, 2016 at 1:12 AM, slivne <notifications@github.com> wrote:

I ran Cassandra on our (truncated) summary file, and it works.

But it works because the Summary file gets rewritten by Cassandra!

I didn't find this in the code yet, but apparently Cassandra either always
rewrites the summary file (based on the index fille) or only does this when
it fails to read the summary file. In any

[2016-03-27 22:28] nyh commented on #1104
@slivne I agree with your WONTFIX conclusion.

[2016-03-28 02:32] asias opened #1113 "ami: nodetool status prints lots of log if it fails to write to directory cassandra.logdir_IS_UNDEFINED"
We should set the log directory properly instead of writing to the current directory.

[code]

[code]

[2016-03-28 06:55] syuu1228 commented on #1110
My previous note was wrong.
It occurs on branch-1.0.
https://github.com/scylladb/scylla/blob/branch-1.0/dist/common/scripts/scylla_setup#L171

[2016-03-28 06:59] syuu1228 opened #1114 "scylla_setup should not proceed to launch scylla_raid_setup when no disk assigned"
When we choose to setup RAID but never assigned any disks, scylla_setup executes "/usr/lib/scylla/scylla_raid_setup --disks --update-fstab" without any check.

And scylla_raid_setup misinterprets argument, thinks "--update-fstab" is target disk for RAID, pass it to mdadm.

So we need to fix two thing:
- skip running scylla_raid_setup when no disk assigned, or deny 'done' until disk assigned
- devi

[2016-03-28 07:12] #1088 closed

[2016-03-28 07:55] syuu1228 opened #1115 "scylla_setup / scylla_bootparam_setup should notice restart is required after changing boot parameter"
Since we are changing boot parameter, we should notice restart is required.

[2016-03-28 08:05] syuu1228 opened #1116 "scylla_setup should notice "apt-get install linux-image-generic-lts-vivid" is required for Ubuntu, before iotune failed"
This is not critical problem, but Ubuntu 14.04LTS default kernel is not usable for Scylla, and iotune error message is not easy to understand.

[code]

We should have kernel version check for Ubuntu, and warn "apt-get install linux-image-generic-lts-vivid" is required.

[2016-03-28 08:31] gleb-cloudius opened #1117 "support EACH_QUORUM for read"
relevant Cassandra issue https://issues.apache.org/jira/browse/CASSANDRA-9602

[2016-03-28 08:34] gleb-cloudius opened #1118 "enable tcp_synchookies"
Scylla may open a lot of connections simultaneously which may overflow Linux's syn backlog. tcp_synchookies eliminate sync backlog entirely and handle large number of simultaneous connection much better.

[2016-03-28 08:39] slivne commented on #1117
Why are we adding this ?

Do the drivers support this at all ?

On Mon, Mar 28, 2016 at 11:31 AM, Gleb Natapov <notifications@github.com>
wrote:

[2016-03-28 08:51] nyh commented on #1118
What is this issue about? Enabling the Linux option tcp_syncookies (sic) in the AMI? Adding this feature in the native stack? Recommending it in a document? All of the above?

By the way, on my Fedora 23, by default:
[code]

[2016-03-28 08:54] gleb-cloudius commented on #1118
On Mon, Mar 28, 2016 at 01:51:46AM -0700, nyh wrote:

Wherever it is appropriate to do so. My guess is in our setup script.

It is disabled on (at least some) Ubuntus.

--
			Gleb.

[2016-03-28 09:30] tzach opened #1119 "nodetool cfstats missing info with LeveledCompactionStrategy"
Scylla 0.19

[code]

Cassandra 2.1.8
[code]

Note the `SSTables in each level: [1, 0, 0, 0, 0, 0, 0, 0, 0]` info

[2016-03-28 10:05] tzach commented on #1117
Scylla doc includes EACH_QUORUM for both read and write.
http://www.scylladb.com/doc/cassandra-compatibility/

Is it a doc bug?

[2016-03-28 10:08] gleb-cloudius commented on #1117
On Mon, Mar 28, 2016 at 03:05:34AM -0700, Tzach Livyatan wrote:

Well yes. It also claims ANY is supported for reads which does not even
make sense.

--
			Gleb.

[2016-03-28 10:11] avikivity opened #1120 "Automatic NUMA balancing may reduce performance"
On NUMA hardware, autonuma may reduce performance by unmapping memory.

Since we do manual NUMA placement, autonuma will not help anything.

We ought to disable it by setting the `kernel.numa_balancing` sysctl to 0.

[2016-03-28 10:18] tzach commented on #1117
https://github.com/cloudius-systems/new-company-site/issues/716

[2016-03-28 10:52] avikivity commented on #1112
This is problematic, because a migrated commitlog directory will be ignored, and the user will experience data loss.

[2016-03-28 11:31] tzach opened #1121 "Support Authentication and user management"
When using authentication, the following CQL operations are required:
CREATE USER
ALTER USER
DROP USER
LIST USERS

[2016-03-28 11:37] amnonh commented on #1119
@slivne please reassign

[2016-03-28 11:43] nyh commented on #1112
On Mon, Mar 28, 2016 at 1:52 PM, Avi Kivity <notifications@github.com>
wrote:

We could explicitly check (based on filename) for the existance of such
Cassandra commitlogs on startup, and add a clear and explicit message in
that case suggesting what to do. It's better than failing in the middle of
the boot process with some exception from the middle of the file parsing
code. Also checking for file

[2016-03-28 12:21] nyh opened #1122 "Fix check_marker() messages"
check_marker() in sstables/key.hh has a few problems:

1. It uses uint8_t(...) which may (and apparently does) print the byte as a (likely invisible or even null)  character, not an integer.
2. The second overload has a message with 3 "%d"'s but only two parameters.

[2016-03-28 12:34] nyh opened #1123 "When compaction failed reading sstable, say which"
When compaction fails to read one of the input files, it can generate a log message looking like:
[code]
It would be useful to know read of *which* sstable failed.

Either the code in sstables/compaction.cc which does sprint("read exception: %s", std::current_exception()) (and similarly for write exception) or the more inner sstable-reading code should put the sstable's name into the message.

[2016-03-28 12:41] nyh opened #1124 "Refresh doesn't handle Statistics.db correctly?"
In an application of "refresh", we saw tons of the following log messages:

[code]

All of these error messages are on Statistics.db. Are we create this specific file or the whole sstable twice, or something silly like that?

[2016-03-28 12:56] nyh opened #1125 "Certain Cassandra sstable cannot be read"
We "refreshed" a bunch of existing Cassandra sstables into Scylla. But Scylla was unable to read them, both for compaction (compacting a few of the old files into one new file) and for reading. Typical log messages look like:

Read failed:
[code]
Compaction failed:
[code]
Sadly these messages are less helpful than they could because of issues #1122 and #1123, but the real problem is the "Unexpecte

[2016-03-28 12:59] avikivity commented on #1124
[code]

callled from ```load_new_sstables()```

[2016-03-28 13:00] avikivity commented on #1124
Exposed by

[code]

[2016-03-28 13:01] avikivity commented on #1124
A fix would be to create the new statistics file under a new name, then rename it into place.

[2016-03-28 13:13] avikivity commented on #1124
Not only does mutate_sstable_level() recreate the statistics file, it does so on every shard!

[2016-03-28 13:46] slivne commented on #1119
I don;t know what the issue is - to know to who to reassign ...
why is this not working ?

[2016-03-28 14:06] #1078 closed

[2016-03-28 14:09] #1125 closed

[2016-03-28 14:47] nyh commented on #1125
While the patch committed above definitely fixes a real bug reading a real Cassandra sstable, I still don't understand exactly where the zero EOC is coming from.

https://issues.apache.org/jira/browse/CASSANDRA-7651 is very explicit about the start column possibly being wrongly set to 0 by Cassandra 2.0, but doesn't say the same can happen to the end column (which we fixed in this patch). Indeed t

[2016-03-28 14:54] penberg commented on #1088
@avikivity Not backported to 1.0?

[2016-03-28 14:55] duarten commented on #1078
@avikivity Did you see https://groups.google.com/d/msg/scylladb-dev/6NczQR_Lh40/KxhEPKtHEAAJ? Gmail/google groups lumped the patches together in the same thread.

[2016-03-28 14:57] avikivity commented on #1078
@duarten v3 was applied, anything else?

[2016-03-28 14:57] avikivity commented on #1088
Cook for a few days?

It's not a bug that users are likely to trigger.

[2016-03-28 14:59] duarten commented on #1078
@avikivity The patch for scylla-tools-java.

[2016-03-28 15:01] avikivity commented on #1078
Saw it and forgot.  Thanks for the reminder.

On 03/28/2016 05:59 PM, Duarte Nunes wrote:

[2016-03-28 15:42] amnonh commented on #1119
Column family sstable don't have an api for that sstable count per level
like cassandra has

On Mon, Mar 28, 2016 at 4:46 PM, slivne <notifications@github.com> wrote:

[2016-03-28 15:46] slivne commented on #1119
Thanks

Can you provide a reference to the original code in cassandra

On Mon, Mar 28, 2016 at 6:42 PM, Amnon Heiman <notifications@github.com>
wrote:

[2016-03-28 15:48] amnonh commented on #1119
ColumnFamilyStore.java: getSSTableCountPerLevel

On Mon, Mar 28, 2016 at 6:46 PM, slivne <notifications@github.com> wrote:

[2016-03-28 16:01] avikivity opened #1126 "NIC interrupts routed to cpu0 kill performance"
*Installation details*
Scylla version (or git commit hash): 1.0-rc2
Cluster size: 9
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): Rackspace physical 20 core
Hardware: sockets=2 cores=20 hyperthreading=y memory=128GB

All NIC interrupts are routed to cpu0 by default, killing its performance.

Running

    /usr

[2016-03-28 16:03] avikivity commented on #1126
We actually have code for this in `scylla_prepare`, but:

 - `IF_NAME` is set incorrectly
 - `SET_NIC` is `no`
 - the script doesn't use `-mq`

[2016-03-28 16:14] lmr opened #1127 "[AMI 1.0-rc1 m3.medium] - Longevity Tests - corrupt_then_repair_monkey - cassandra-stress does not survive"
## Installation details
Scylla version (or git commit hash): 1.0-rc1
Cluster size: m3.medium
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): AWS
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

Running the latest AMI for 1.0-rc1, m3.medium instance, using our CorruptThenRepair monkey, cassan

[2016-03-28 16:16] lmr opened #1128 "[AMI 1.0-rc1 m3.medium] - Longevity Tests - corrupt_then_rebuild_monkey - cassandra-stress does not survive"
## Installation details
Scylla version (or git commit hash): 1.0-rc1
Cluster size: m3.medium
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): AWS
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

Running the latest AMI for 1.0-rc1, m3.medium instance, using our CorruptThenRebuild monkey

[2016-03-28 16:18] lmr opened #1129 "[AMI 1.0-rc1 m3.medium] - Longevity Tests - drainer_monkey - cassandra-stress does not survive"
## Installation details
Scylla version (or git commit hash): 1.0-rc1
Cluster size: m3.medium
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): AWS
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

Running the latest AMI for 1.0-rc1, m3.medium instance, using our Drainer monkey, cassandra

[2016-03-28 16:20] lmr opened #1130 "[AMI 1.0-rc1 m3.medium] - Longevity Tests - stop_start_monkey - cassandra-stress does not survive"
## Installation details
Scylla version (or git commit hash): 1.0-rc1
Cluster size: m3.medium
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): AWS
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

Running the latest AMI for 1.0-rc1, m3.medium instance, using our StopStart monkey, cassand

[2016-03-28 16:21] lmr opened #1131 "[AMI 1.0-rc1 m3.medium] - Longevity Tests - decommission_monkey - cassandra-stress does not survive"
## Installation details
Scylla version (or git commit hash): 1.0-rc1
Cluster size: m3.medium
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): AWS
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

Running the latest AMI for 1.0-rc1, m3.medium instance, using our Decomission monkey, cassa

[2016-03-28 16:33] syuu1228 opened #1132 "--setup-nic argument on scylla_sysconfig_setup does not functioning"
SET_NIC is unconditionally applied when AMI=yes and NR_CPU <= 8, --setup-nic simply ignored.
Probably following lines should move to AMI setup script, call scylla_sysconfig_setup to set SET_NIC and SCYLLA_ARGS parameters.
[code]
And --setup-nic parameter should be just for enable/disable SET_NIC parameter.

[2016-03-28 16:56] syuu1228 commented on #1126
I think we should config it by scylla_setup script.
When we need to use posix_net_conf.sh? Any machines which has cpus >= 8?

[2016-03-28 16:59] avikivity commented on #1126
With -mq it can be used for any size (without reserving cpu0 for interrupts), as long as the NIC supports multiqueue.

[2016-03-28 17:50] slivne commented on #1126
Check #1063 and #891 they are directly related to this and vlad i think has
made some progress
On Mar 28, 2016 7:59 PM, "Avi Kivity" <notifications@github.com> wrote:

[2016-03-29 07:21] penberg commented on #1092
The commit was reverted in https://github.com/scylladb/scylla/commit/227daecba613d0bd7deb0d84faea8bf5fae0b99b, reopening.

[2016-03-29 07:31] penberg commented on #1098
Fixed by https://github.com/scylladb/scylla-tools-java/commit/19f19fb71e939462eb4963a5b0bb17f882965ad3

[2016-03-29 07:31] #1098 closed

[2016-03-29 07:37] penberg commented on #1108
Fixed by https://github.com/scylladb/scylla-tools-java/commit/01ce9cf3d71d6c1e43061d868bf8df58e1992ee6

[2016-03-29 07:37] #1108 closed

[2016-03-29 07:38] #1095 closed

[2016-03-29 07:48] amnonh opened #1133 "nodetool snapshot does not support -kc tag"
nodetool snapshot should support the -kc tag which allows passing a list of keyspace.column_family.
Currently when passing the -kc tag, no snapshot is being created.

## Installation details
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hy

[2016-03-29 08:14] #1087 closed

[2016-03-29 08:29] #1106 closed

[2016-03-29 08:44] slivne opened #1134 "[1.0-rc2 ubuntu] scylla-jmx package tried to start autmaticlly on install"
1. downloaded debs manually
2. installed scylla-server (dpkg -i ...)
3. installed scylla-jmx - it tried to start autmaticlly

[2016-03-29 08:46] avikivity commented on #864
shared_ptr errors are not caught on the release build but can be very damaging (memory corruption)

[2016-03-29 08:53] syuu1228 commented on #421
This is marked as post 1.0, but isn't it better to do now?
After we released, probably it become more difficult to do such big change on packages.

[2016-03-29 09:22] nyh commented on #1124
We discussed this issue extensively on the mailing list, but for completeness, I want to explain the issue also here:

Leveled compaction (see https://github.com/scylladb/scylla/wiki/SSTable-compaction#leveled-compaction for description) assumes that the sstables held in one level have non-overlapping key ranges. So we can't import a new sstable directly to level 2, because its key range will like

[2016-03-29 09:32] amnonh opened #1135 "removenode status and force not supported"
Affected nodetool command
nodetool removenode force
nodetool removenode status
## Installation details
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

[2016-03-29 09:41] nyh opened #1136 "Certain Cassandra sstable cannot be read"
This bug has the same title as #1125 but it's a different issue ;-) This time, we found a Cassandra sstable which, when imported into Scylla, elicits the following message:

[code]
(again the message doesn't tell us which sstable had this problem, because of issue #1123)

[2016-03-29 09:43] penberg commented on #864
I am not able to reproduce with a debug build:

[code]

[code]

[2016-03-29 10:12] tzach opened #1137 "nodetool disablebinary"
Disables the native transport
Similar to
http://docs.datastax.com/en/cassandra/2.1/cassandra/tools/toolsDisableBinary.html

[2016-03-29 10:26] amnonh commented on #1137
This is supported, please close

[2016-03-29 10:26] tzach commented on #1137
I'm happy to

[2016-03-29 10:26] #1137 closed

[2016-03-29 12:18] tzach opened #1138 "Support Authorization"
Cassandra allowed granting permissions to users per action and keyspace, using the following CQL operation:

* GRANT
* LIST PERMISSIONS
* REVOKE

It will be useful to support similar operation in Scylla

Cassandra extended  Authorization further in later version of CQL with ROLE operations like
`CREATE ROLE` which are out of scope for this issue
https://cassandra.apache.org/doc/cql3/CQL.html#creat

[2016-03-29 13:19] ChrisFeldmeier opened #1139 "Facebook Presto"
Is it possible to connect Facebook's prestodb.io to scylla? Has anyone tested this yet?

[2016-03-29 13:39] avikivity commented on #1139
It's not clear if the connector requires thrift, or whether thrift is optional.  If thrift is optional, it prestodb should work.

[2016-03-29 13:48] benoit-canet opened #1140 "nodetool decommission not completing"
## Installation details
Scylla version (or git commit hash):ami-438f8629
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): C3.4xlarge
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count) SSD, 1 root + 2 data

 cassandra-stress write n=1000000000 -rate threads=700 -node 10.35

[2016-03-29 13:56] benoit-canet commented on #1140
from a cqlsh describe schema replication factor is 1.

[2016-03-29 14:12] benoit-canet commented on #1140
[centos@ip-10-137-133-165 ~]$ nodetool gossipinfo
/10.137.133.165
  generation:1459255077
  heartbeat:5772
  NET_VERSION:0
  DC:datacenter1
  RACK:rack1
  HOST_ID:25f1aeb5-865c-4be7-bbb0-671c3cbd6965
  RELEASE_VERSION:2.1.8
  STATUS:LEAVING,941992870314431344
  LOAD:5.01487e+10
  SCHEMA:b656e4a0-f72c-3bad-ab23-8da25b1151cb
  RPC_ADDRESS:10.137.133.165
/10.35.212.14
  generation:1459253555
  heartb

[2016-03-29 14:19] tzach opened #1141 "Support Materialized Views"
http://www.datastax.com/dev/blog/new-in-cassandra-3-0-materialized-views

[2016-03-29 14:51] ChrisFeldmeier commented on #1139
I don't know. Maybe the docu does say nothing about that. I have created an issue and waiting for an answer: https://github.com/prestodb/presto/issues/4894

[2016-03-29 15:16] #1123 closed

[2016-03-29 15:24] lmr opened #1142 "[AMI 1.0-rc2] system logs have lots of useless collectd messages"
## Installation details
Scylla version (or git commit hash): 1.0-rc2
Cluster size: c3.2xlarge
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

If you issue a `journalctl -xe` command to see what is going on with one of our AMI instances, you'll see a lot of messages from collectd:

    Mar 29 15:21:57 ip-172-30-0-40 collectd[791]: Available write targets: [none]
    Mar 29 15:21:57 ip-172-30-0-40 collectd

[2016-03-29 15:32] benoit-canet opened #1143 "add node failing on EC2"
# Installation details

Scylla version (or git commit hash):ami-438f8629
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

## Hardware details (for performance issues)

Platform (physical/VM/cloud instance type/docker): C3.4xlarge
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count) SSD, 1 root + 2 data

[2016-03-29 15:37] benoit-canet opened #1144 "add node failing on EC2"
# Installation details

Scylla version (or git commit hash):ami-438f8629
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

## Hardware details (for performance issues)

Platform (physical/VM/cloud instance type/docker): C3.4xlarge
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count) SSD, 1 root + 2 data

	cassandra-stress write n=1000000000 -rate threads=700 -node 10.3

[2016-03-29 16:17] lmr commented on #1142
As @penberg pointed out, there's a fix for this going into -rc3:

https://github.com/scylladb/scylla/commit/740d98901fd6aa79102a1aca4a7d11d188be8d14

[2016-03-29 16:18] slivne commented on #1110
@syuu1228 is this only when working in interactive mode ?

[2016-03-29 16:18] #1110 closed

[2016-03-29 16:21] lmr commented on #1142
Closing this, as it's a dup of #1018.

[2016-03-29 16:21] #1142 closed

[2016-03-29 16:23] #1122 closed

[2016-03-29 16:25] syuu1228 commented on #1110
@slivne only on interactive mode. But it was also missing device existence check, implemented at https://github.com/scylladb/scylla/commit/c1277bacb4dcce70f10422dc87f63a4921eeecc2

[2016-03-29 18:14] tzach opened #1145 "CQL base SSTable Loader"
Cassandra sstable loader is using internal interfaces which make it error prone and hard to use.
A better SSTable Loader will use the native, well define CQL interface.

[2016-03-29 18:18] tzach opened #1146 "Support CQL TRACING"
https://docs.datastax.com/en/cql/3.3/cql/cql_reference/tracing_r.html

[2016-03-29 19:07] dorlaor commented on #1143
What about the logs? How did the operation fail?..

On Tue, Mar 29, 2016 at 6:32 PM, Benoît Canet <notifications@github.com>
wrote:

[2016-03-29 19:14] tzach commented on #1144
The problem might be specific to the AMI code and the configuration generated by
[code]

[2016-03-29 19:34] tzach commented on #1145
duplicate #514 ?

[2016-03-29 21:07] syuu1228 commented on #1092
Shouldn't we create symlink on /usr/sbin for these scripts?

[2016-03-30 00:06] asias commented on #382
@slivne we can close this now since we have @glommer 's patches merged.

[2016-03-30 00:14] asias commented on #820
@nyh As we discussed, the 600 seconds time wait  is a feature not a bug.  See c971fad61846a0c3de553fec694917d8e969ab0b.

[2016-03-30 00:16] glommer commented on #382
No. We still have a lot to do not to polute the row cache. The writers will
not touch it but the readers will.
On Mar 29, 2016 8:06 PM, "Asias He" <notifications@github.com> wrote:

[2016-03-30 00:20] asias commented on #382
@glommer You are right. Thanks.

[2016-03-30 06:37] penberg commented on #1145
Yes, it's a duplicate, and we already have this implemented: https://github.com/scylladb/scylla-tools-java/commit/da4585a429b4f314aa2e29867a58147415cfae06

[2016-03-30 06:50] tzach commented on #562
@slivne I think we can close this

[2016-03-30 07:20] tzach commented on #367
Close with https://github.com/scylladb/scylla/commit/03caacaad023f840e4a53ab12545f57388a56001
One can do it using collectd.conf now

[2016-03-30 07:20] #367 closed

[2016-03-30 07:22] tzach commented on #240
Closed with https://github.com/scylladb/scylla-tools-java/commit/04603659a383db9565b8091b2c111e5048ba30e5

[2016-03-30 07:22] #240 closed

[2016-03-30 08:04] #1092 closed

[2016-03-30 08:07] #1132 closed

[2016-03-30 08:24] #1082 closed

[2016-03-30 10:09] slivne commented on #1143
@benoit-canet is this a dup of #1144 with less info

[2016-03-30 10:12] vladzcloudius commented on #891
@slivne By the way, what our plans to support bridging interfaces used in VM environments? They resemble bonding interfaces in the way they don't have their own IRQ but rather have some underlying interfaces that sometimes do have their IRQs. "some times" is because VMs are allowed to work on top of a loopback interface.
The bottom line is that if we want to start supporting VM environments we'd r

[2016-03-30 10:40] #1136 closed

[2016-03-30 11:16] benoit-canet commented on #1144
The issue is reproductible:

Here in attachment an output from journalctl on one of the existing nodes.
[journalctl.txt](https://github.com/scylladb/scylla/files/195370/journalctl.txt)

[2016-03-30 11:35] asias commented on #1144
@benoit-canet please provide the log on the node which tries to join the node.

[2016-03-30 12:07] asias commented on #1144
@tzach I think the way used to add a new node is fine. I used this method in the past, it worked fine.

[code]

The only difference is I specified

--reflector http://reflector.scylladb.com/reflector.php

as well.

[2016-03-30 12:08] benoit-canet commented on #1144
hmm I have trouble reproducing it this time. I will wait longer for it to fail.

[2016-03-30 12:08] asias commented on #1144
@benoit-canet It is even better to get all the logs for all 4 nodes.

[2016-03-30 12:09] benoit-canet commented on #1144
ok I will trash all the vm an restart the experiment.

[2016-03-30 12:12] asias commented on #1144
@benoit-canet Look for 'Stream failed' in the log. Since there are 40GB of data on each of the existing node, I suspect it fails because some of the stream_mutations timeout. Did you see things like "Retry verb={} to {}, retry={}: timeout in {} seconds"?

[2016-03-30 12:31] #1061 closed

[2016-03-30 12:38] benoit-canet commented on #1144
This is running. I am waiting for it to reproduce right now.

[2016-03-30 12:58] duarten opened #1147 "antlr3 leaks memory when recovering from a missing token"
In the case where antlr3 recovers from a mismatch by inserting the expected token, in the statement "insert into test (p1) values ('key';", it creates and leaks the token corresponding to the missing ")".

This is the problematic code:
https://github.com/antlr/antlr3/blob/5c2a916a10139cdb5c7c8851ee592ed9c3b3d4ff/runtime/Cpp/include/antlr3baserecognizer.inl#L482

I think we can override antlr's rec

[2016-03-30 13:11] benoit-canet commented on #1144
I am running the test again. No symptom of it reproduce again. Maybe it's linked to the state of EC2 infrastructure (networking).

[2016-03-30 13:35] penberg opened #1148 "Scylla does not start up if data directory has temporary sstables"
I ran ``cassandra-stress`` against Cassandra 2.1.8, issued ``nodetool flush``, stopped Cassandra, and copied over the sstables (including system schema) to Scylla:

[code]

Scylla, however, refuses to boot because it trips over temporary sstables:

[code]

@avikivity says that we should just ignore them but I did not verify that it's what Cassandra does.

[2016-03-30 14:14] asias commented on #1144
In the log you attached. I saw

[code]
I assume 10.113.188.71 is the new node joining the cluster, but in the bug report the joining node is with IP 10.146.60.157. They are from different run? Anyway, the streaming failed because we haven't heard from the new node for 30 seconds and we removed it from gossip and failed all session with that node.

[code]

[2016-03-30 15:08] avikivity commented on #1148
Perhaps, instead of ad-hoc pattern matching, the sstable code should register patterns and handlers for those patterns.  It could then register empty handlers for these patterns.

[2016-03-30 15:10] #1134 closed

[2016-03-30 16:27] tgrabiec commented on #1101
Looks like duplicate of #470

[2016-03-30 16:45] avikivity commented on #1112
This can work, but if we change the names of commitlog segments generated by offline tools (sstable2json) and keep Scylla names the same.

So, copying a commitlog file from Cassandra will prevent Scylla from starting up (and losing data), while running sstable2json will generate commitlog segments that Scylla will ignore.

[2016-03-30 17:02] benoit-canet opened #1149 "nodetool removenode not ending"
Installation details

Scylla version (or git commit hash):ami-438f8629
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

Hardware details (for performance issues)

Platform (physical/VM/cloud instance type/docker): C3.4xlarge
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count) SSD, 1 root + 2 data

cassandra-stress write n=1000000000 -rate threads=700 -node 10.35.212.

[2016-03-30 18:14] syuu1228 commented on #1015
We can see syslog output on /var/log/syslog with latest master, this can be close.
#1094 can be close too.

[2016-03-30 18:18] syuu1228 commented on #1103
I think this is Upstart specification, it does not have same behaviour as systemd.
You need to see /var/log/syslog, or /var/log/upstart/scylla-server.log.
It's not limited to scylla, all Upstart jobs.
Possible solution is switch to 16.04LTS, it is using systemd.

[2016-03-30 19:15] dorlaor commented on #1149
Mar 30 15:24:00 ip-10-71-201-74 scylla[2465]: [shard 0] gossip - Node
10.16.214.27 has restarted, now UP

@benoit, can you explain why we see these restart messages in the logs?
Is the 10.16.214.27 node is the one you removed?
Please send full information.

Also, you can filter the journalctl for scylla messages only. No need to
bring a gigantic log which is less relevant.

Mar 30 15:24:00 ip-10-7

[2016-03-30 20:56] benoit-canet commented on #1149
We see the restart message in the log because I tried to pkill -9 scylla to
stop it before switching
to systemctl stop scylla-server.service because scylla was restarted asap.

On Wed, Mar 30, 2016 at 9:15 PM, Dor Laor <notifications@github.com> wrote:

[2016-03-31 06:01] #1147 closed

[2016-03-31 07:19] penberg opened #1150 "Nodetool complains about logging configuration"
## Installation details

Scylla version (or git commit hash): 1.0-rc2
Cluster size: 1
OS: Ubuntu/Docker

## Problem

When I run `nodetool` in our Ubuntu-based Docker container, I'm greeted with this error message because `nodetool` wants `logback-tools.xml` but it's not part of our packages:

[code]

[2016-03-31 07:19] penberg commented on #1150
@syuu1228, @slivne ping

[2016-03-31 07:38] syuu1228 commented on #1150
@penberg We can add, but I don't understand why other environments does not causes this error, we don't have logback-tools.xml both on .rpm / .deb.
Even my Ubuntu VM with 1.0-rc2 does not causes the error.
I'll check what's happening in docker instance..

[2016-03-31 08:29] #1109 closed

[2016-03-31 08:31] slivne commented on #1100
It does not need to be XFS we are not distributing this AMI - so for now we must attach additional disks and this is good enough for us

[2016-03-31 08:31] #1100 closed

[2016-03-31 08:35] slivne commented on #1015
@syuu1228
is this fixed ?
can you provide a reference to the code fix ?

[2016-03-31 08:39] tzach opened #1151 "Validate / Fix SSTable tools"
Cassandra include the following tools to handle SSTables:

- json2sstable
- sstable2json
- sstablelevelreset
- sstablemetadata
- sstableofflinerelevel
- sstablerepairedset
- sstablesplit

Since Scylla SSTable format is compatible, all tools *should* work, but some have known issues[1]
We should test the tool, validate Scylla compatibility and fix the issues.

[1] https://issues.apache.org/jira/bro

[2016-03-31 08:44] asias commented on #1149
[code]

You run the c-s against 10.35.212.14, which node is it? I see no such node in the log at all.
cassandra-stress write n=1000000000 -rate threads=700 -node 10.35.212.14

From the log, I guess you started a cluster of 3 nodes, with the following IP.
10.71.201.74 (the node you pasted the log)
10.16.214.27 (You first killed the node with kill -9, then run systemctl stop scylla-server.service)
1

[2016-03-31 08:45] slivne commented on #1079
we split the case up so that we will run a few cases on debug and all the cases on release

cloudius-systems/urch-dtest@57576665be2ca74cb40d4e6a6659cc5e437e1a7d

[2016-03-31 08:46] #1079 closed

[2016-03-31 09:05] slivne commented on #1144
@benoit-canet - can you please provide a scneaio that reproduces this consistently (or if not consistent 1 out of 2)

[2016-03-31 09:08] slivne commented on #1140
@benoit-canet can you please provide a scenario that reproduces this consistently (if not ocnsistent 1 out of 2) and then we will be work on this.

Once you do provide a scenario I'll ask @asias to take over and reproduce on his own - and teach us  how to analyze this cases.

[2016-03-31 09:09] slivne commented on #1149
@benoit-canet we need a way to reproduce this consistently - can you provide such a scenario and then we will be able to analyze this.

[2016-03-31 09:29] slivne commented on #945
@syuu1228 did you get this again ?, if not can you close this

[2016-03-31 09:32] asias commented on #1140
@benoit-canet can you please provided the complete logs of each node. It is hard to tell what is going without looking at it.

[2016-03-31 09:55] slivne opened #1152 "Add support for SUPPORTED_FEATURES"
There is a need to have an ability to detect whether a features is
supported by entire cluster. The way to do it is to advertise feature
availability over gossip and then each node will be able to check if all
other nodes have a feature in question.

The idea is to have new application state SUPPORTED_FEATURES that will contain
set of strings, each string holding feature name.

[2016-03-31 10:06] nyh opened #1153 "Write range tombstones to sstables like Cassandra does"
Cassandra and Scylla hold internally the list of range tombstones differently: Scylla holds overlapping tombstones of whole clustering rows of various levels, while Cassandra keeps a list of non-overlapping ranges (see RangeTombstoneList.java) which might not be whole rows.

As an example, the following two deletions of whole rows of two levels:
[code]

Are written by Cassandra to the sstable as *

[2016-03-31 10:07] nyh opened #1154 "range"
## Installation details
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

## Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

[2016-03-31 10:07] #1154 closed

[2016-03-31 10:16] slivne commented on #729
@tzach ping ?

@amnonh we have a test for this ?

[2016-03-31 10:20] nyh opened #1155 "In internal representation, hold generic range tombstones"
Cassandra and Scylla hold internally the list of range tombstones differently: Scylla holds overlapping tombstones of *whole* clustering rows of various levels, while Cassandra keeps a list of non-overlapping ranges (see RangeTombstoneList.java) which might not be whole rows.

This difference complicates the sstable reading and writing code, which needs to convert the two types of lists back and f