[2020-05-18 14:56] jul-stas commented on #6476
@slivne ouch, confirmed - doesn't work with Cassandra on v4. Closing.

[2020-05-18 14:59] slivne commented on #6476
open a bug on the cassandr cpp driver for this ... you can kip this open linked to the cpp driver bug

[2020-05-18 15:12] eliransin commented on #6040
Importing the sstable to a docker image of version 3.2.4 is missing the key.
Importing the sstable to a docker image of version 3.0.0 has the key.
Both are started with smp 1 but 3.3.0 creates two sstables while 3.2.4 creates only one.
/cc @bhalevy

[2020-05-18 15:16] jul-stas commented on #6476
Issue at cpp-driver's tracker: https://datastax-oss.atlassian.net/browse/CPP-916

[2020-05-18 15:19] slivne commented on #6472
@ShlomiBalalis Did you have a refresh nemesis in the flow prior to this point

@roydahan did you merge the fix for SCT with the sstables

[2020-05-18 15:21] bhalevy commented on #6473
Should be fixed by  "repair: Make sure sinks are always closed" 311fbe2f0afe5de5e26c60a2fb6e216707f32aab

[2020-05-18 15:23] juliayakovlev commented on #6309
We don't change this flag explicitly

[2020-05-18 15:29] glommer commented on #6309
Can we test with changing that flag explicitly, then ?
If the flag is set to true (the default), then this behavior is, unfortunately expected.
Shlomi - maybe it's time for us to consider changing this default?

The challenge is how to do it without breaking anything since people out there may be relying on it.

[2020-05-18 15:31] slivne commented on #6309
@Glauber Costa <glommer@scylladb.com> I am missing something why do you
expect compaction to kick in when we take a snapshot before truncate.

According to Calle compaction was running

On Mon, May 18, 2020 at 6:29 PM Glauber Costa <notifications@github.com>
wrote:

[2020-05-18 15:32] psarna commented on #6412
Here's the decoded trace (I didn't load all the symbols, since the seastar ones are enough):
[code]
It means that Scylla hit an assertion when calling a lambda spawned in `database::truncate`. The only assertion that fits the description seems to be (database.cc:1826):
[code]
Git history shows that this assert was problematic before and it was relaxed by b2b1a1f7e1b75afb135b3bcacd4be33ce10d57c4. U

[2020-05-18 15:39] glommer commented on #6309
because if `auto_snapshot` is true, it will trigger a flush before snapshots, which may trigger compactions.

We can try to make this slightly better, but in general the flush can take forever too so I just don't think this is worth fixing if `auto_snapshot` equals true

[2020-05-18 15:42] slivne commented on #6040
@eliransin we need 3.0 to read the sstables with compacting them.

Once done please add that info

On Mon, May 18, 2020, 18:12 Eliran Sinvani <notifications@github.com> wrote:

[2020-05-18 15:45] slivne commented on #6309
Ok now its clearer.

Yet compaction maybe running already in the background irrespective of the
flush and we will still need to kill compactions for truncate not time out

On Mon, May 18, 2020, 18:39 Glauber Costa <notifications@github.com> wrote:

[2020-05-18 15:47] ShlomiBalalis commented on #6472
@slivne There was no refresh nemesis prior to the segmentation fault (or at all for that matter)

[2020-05-18 15:48] roydahan commented on #6300
@bentsi / @syuu1228 seems like we still suffer from the issue.
see the issue that @ShlomiBalalis mentioned, we don't have the environment but if we can't get this from the logs we can try reproduce.

[2020-05-18 15:51] glommer commented on #6309
yeah, I think it is reasonable. If you want to auto snapshot your data on truncate, that doesn't mean you want to do it in the best compacted shape possible

[2020-05-18 15:52] eliransin commented on #6040
I did the same procedure for both versions, both dockers started with smp 1:
[code]
For 3.0:
[code]
For 3.2.4:
[code]

[2020-05-18 16:02] bentsi commented on #6300
@roydahan this is the same issue we encounter on OEL: #6402

[2020-05-18 16:23] juliayakovlev opened #6478 "Stream ended with unclosed partition and coredump"
*Installation details*
Scylla version (or git commit hash): 4.0.0-0.20200505.d95aa77b62
Cluster size: 5 nodes (i3en.3xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ad095d521c760c3f

Test: longevity-large-partition-200k_pks-4days.yaml ([jenkins job](https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/yulia/job/Staging-unclosed-partition/34))

Nemesis: DecommissionStreamingErr
[code]

De

[2020-05-18 17:02] raphaelsc commented on #6092
@glommer "This state can persist for many days, with the affected shards pegged at 100% CPU usage. The only way I am able to resolve this is by restarting Scylla on the affected nodes. After restarting, Scylla is no longer in this bad state and behaves normally." this looks like the backlog issue I am fixing (https://github.com/scylladb/scylla/issues/6054). Fully expired SSTables are not removed f

[2020-05-18 17:53] bhalevy commented on #4554
Related commits that help synchronization of snapshot operations and preventing hitting ENOENT
88d2486fcafc4e0e25d988b4dc9c4022ddf9bd1d sstables: Synchronize deletion of SSTables in resharding with other operations
682fb3acfd17deb5f98b57cfab72cddfa569cbc4 api: storage_service: serialize true_snapshot_size

[2020-05-18 18:54] avikivity commented on #6040
I think it's unlikely that it's the bloom filter, so it's probably the indexing. I recommend bisecting.

[2020-05-18 18:58] avikivity commented on #6040
What's the schema for that sstable? `pk int primary key`?

[2020-05-18 18:58] avikivity commented on #6040
Oh, I see it.

[2020-05-18 19:11] raphaelsc commented on #6309
Currently, nodetool stop COMPACTION can help. We do have infrastructure to abort ongoing compactions, we should have truncate issuing a compaction manager's cancel operation on behalf of table being truncated.

[2020-05-18 19:16] raphaelsc commented on #6309
The code tells me it wants to abort ongoing compactions on behalf of a truncating table, so we probably have a bug.

[2020-05-18 19:36] raphaelsc commented on #6309
Confirmed that truncating a table aborts its ongoing compactions:

`INFO  2020-05-18 16:29:05,195 [shard 0] compaction - Compacting [./data/data/keyspace5/standard1-5ce815b0993d11eaace8000000000000/mc-43-big-Data.db:level=0, ./data/data/keyspace5/standard1-5ce815b0993d11eaace8000000000000/mc-34-big-Data.db:level=0, ./data/data/keyspace5/standard1-5ce815b0993d11eaace8000000000000/mc-36-big-Data.db:

[2020-05-18 22:03] roydahan commented on #6309
@juliayakovlev i think your case is easier to reproduce, can you please enable the debug messages that @raphaelsc asks.

[2020-05-18 22:37] #6435 closed

[2020-05-18 23:11] raphaelsc commented on #6337
Turns out we'll needlessly try to create links at all shards a shared SSTable belongs to, but only one of the owner shards will succeed in creating the links, while all the others will fail with EEXIST but they're able to go through it by swallowing the EEXIST exception. I think this is ugly, and we could improve this situation by only trying link creation at one of the owner shards. This can be f

[2020-05-18 23:12] raphaelsc commented on #6337
Anyway, after off-strategy work, we will don't even need to do this, so once off-strategy work is completed, we can just close this issue.

[2020-05-18 23:14] glommer commented on #6337
Thanks for the analysis Raphael.
This doesn't depend on the whole off-strategy (just nitpicking), but reshard-at-boot.

This won't take long

[2020-05-19 00:37] veramine commented on #6412
Thanks @psarna I also hit that same assert on another issue I filed.  You can probably mark that one as a duplicate given this investigation.  I thought it was a different issue but I remember seeing that exact same assert in the log. There's another crashdump with that issue but its the same assert.

https://github.com/scylladb/scylla/issues/6419

[2020-05-19 02:18] Felix-zhoux opened #6479 "Internal server error: exceptions::mutation_write_timeout_exception——received only 1 responses from 2 CL=LOCAL_SERIAL.)"
*Installation details*
Scylla version (or git commit hash): 4.0.0-0.20200514.d95aa77b6
Cluster size:  9 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

I used the aws-sdk-cpp developer tool to test Scylla through alternator, and I got a lot of HTTP 500 errors on the client side. When I opened the trace log of alternator-server, I found the following error:
[code]

KEYSPACE AND TABLE INFORMATION:
[c

[2020-05-19 04:55] bhalevy commented on #6337
On Tue, May 19, 2020, 02:11 Raphael Carvalho <notifications@github.com>
wrote:

Can we use the sstable generation to determine the owning shard or is it
not guaranteed to be listed here?

[2020-05-19 06:21] eliransin commented on #6040
I think it's unlikely that it's the bloom filter, so it's probably the indexing. I recommend bisecting.
:+1: will try to bisect.

[2020-05-19 07:32] slivne commented on #6478
@asias / @denesb / @gleb-cloudius -

this is "old streaming" - not repair based operations

can you please look at this and provide initial analysis:
- if this corruption was created prior to rebuild staring in which case we need to look at what the history
- if this corruption is related to the error in streaming and retry in streaming in which case the issue is in rebuild.

[2020-05-19 07:50] bhalevy commented on #6473
Let's close this issue now that 311fbe2f0afe5de5e26c60a2fb6e216707f32aab was merged to master.
Please reopen if reproduced.

[2020-05-19 07:50] #6473 closed

[2020-05-19 07:54] slivne commented on #6476
Looks related to #6099

[2020-05-19 07:55] psarna opened #6480 "Alternator should start supporting empty strings and binary blobs"
Following https://aws.amazon.com/about-aws/whats-new/2020/05/amazon-dynamodb-now-supports-empty-values-for-non-key-string-and-binary-attributes-in-dynamodb-tables/ , DynamoDB started supporting empty string and binary blob values (not keys). In order to remain compatible, alternator should implement handling these empty strings as well, along with accompanying tests.

[2020-05-19 08:13] slivne commented on #6472
@ShlomiBalalis thanks

[2020-05-19 08:18] asias commented on #6478
start decommission on n2
the server is rebooted on n2
start rebuild on n2
n2 writes end of stream to the flat mutation reader attached to the sstable writer but the partition_end is not written before the end of stream.
[code]
No repair was involved. All ran the old stream plan based code which does not emulate the partition end write.  Partition end is read from the sender and sent to the receive

[2020-05-19 08:19] avikivity commented on #6479
It may be that the workload is too intensive for the cluster. How many threads are running on the client, and what does the server hardware look like?

[2020-05-19 08:19] slivne commented on #6472
@ShlomiBalalis
the crash is on node#1
its not clear if rebuild is the cause since it ran on other node (node#6)

Can you please extract the full list of nemesis that ran up to this point.

One more thing to node - node#1 is the seed node - right, AFAIK you do not do operations on the seed node, so it should have been up and running without restarts for scylla process / vm from the start - is that

[2020-05-19 08:22] asias commented on #6478
@ juliayakovlev can you please share the scylla logs?

[2020-05-19 08:31] asias commented on #6478
@gleb-cloudius Any ideas what could cause this?

[code]

[2020-05-19 08:40] gleb-cloudius commented on #6478
On Tue, May 19, 2020 at 01:31:15AM -0700, Asias He wrote:

Closing a connection in the middle of receiving a message.

--
			Gleb.

[2020-05-19 08:45] juliayakovlev commented on #6478
@asias
[node2_log.tar.gz](https://github.com/scylladb/scylla/files/4649208/node2_log.tar.gz)

[2020-05-19 08:47] asias commented on #6478
In this issue n2 is the stream receiver, so while n2 was still calling source() to receiver data, the sender called sink.close()? Shouldn't the sender flush out whatever already queued by calling sink()? Will n2 get from source() calls what the sender has already sent before it calls sink.close() or it gets an empty optional immediately from source()?

[2020-05-19 08:53] asias commented on #6478
The ./node2_log/database.log is a link in the tarball. It is empty.

./node2_log/database.log -> ../../hosts/longevity-large-partitions-200k-pks-db-node-3243f275-2/messages.log

[2020-05-19 09:03] juliayakovlev commented on #6478
@asias
[node2_log.tar.gz](https://github.com/scylladb/scylla/files/4649288/node2_log.tar.gz)
[10.0.33.55_log.tar.gz](https://github.com/scylladb/scylla/files/4649289/10.0.33.55_log.tar.gz)
[10.0.152.202_log.tar.gz](https://github.com/scylladb/scylla/files/4649290/10.0.152.202_log.tar.gz)

[2020-05-19 09:07] gleb-cloudius commented on #6478
On Tue, May 19, 2020 at 01:47:46AM -0700, Asias He wrote:

As with regular tcp a receiver receives everything that was sent prior to
calling close. The error above may happen if, for some reason, a stream
tcp connection was aborted before end of stream was received.

--
			Gleb.

[2020-05-19 09:24] slivne commented on #6460
This machine is a beast i3.metal :)

its the locking of the memory

slow
[code]

fast

[code]
@avikivity is it a known limitation we should accept that locking of the memory is slower.

[2020-05-19 09:34] ShlomiBalalis commented on #6472
@slivne Full nemesis list:
[code]

In general, this is correct, but there are very few exceptions of nemesis that run on a few nodes, including the seed, like the NodetoolCleanupMonkey nemesis in the beginning of this test. But I do not believe that any of them are disruptive or should effect the scylla process in any way

[2020-05-19 09:40] slivne commented on #6472
there are some repairs in the history - so its potentially an issue related to repair based operations.

[2020-05-19 09:54] Felix-zhoux commented on #6479
I ran three instances of Scylla on a physical node, compiled using frozen toolchain.The following is the hardware information of my physical node:

[code]

16 threads were used in the alternator test. And I found that the total ops of the cluster at the time of testing was similar to what I had previously tested using the Cassandra-stress tool.Looking through the grafana panel, the Scylla cluster

[2020-05-19 09:59] Felix-zhoux commented on #6479
![image](https://user-images.githubusercontent.com/59597542/82312595-e2406980-99f9-11ea-99eb-e5c4358e80a6.png)
![image](https://user-images.githubusercontent.com/59597542/82312914-46632d80-99fa-11ea-9250-5ebc90e6b214.png)

[2020-05-19 09:59] ultrabug commented on #6458
Thanks @dekimir I confirm this is of great interest indeed and will be put to use.

[2020-05-19 10:00] psarna commented on #5459
Good news is that when I hardcode Scylla to always duplicate the paired endpoint into the list of pending endpoints, it's easy to reproduce the broken promise. I should be able to pinpoint the source of this error today.

[2020-05-19 10:05] amoskong commented on #6460
Then, it's not a test blocker.

[2020-05-19 10:38] slivne commented on #6478
@gleb-cloudius in that case the partial sstable created from that failed stream session should have been dropped.

[2020-05-19 10:40] #6332 closed

[2020-05-19 10:46] nyh commented on #5030
For this issue, I'm writing a publicly-accessible document about the various load balancing options.
It will be here:

https://docs.google.com/document/d/1twgrs6IM1B10BswMBUNqm7bwu5HCm47LOYE-Hdhuu_8/edit#heading=h.2uba364pdulv

[2020-05-19 10:58] gleb-cloudius commented on #6478
On Tue, May 19, 2020 at 03:38:33AM -0700, Shlomi Livne wrote:

I am unfamiliar with that part of the code. I would expect that failed
stream (for any reason) will not result in new data added to the DB,
especially corrupted data, but that something that Asias should know.

--
			Gleb.

[2020-05-19 11:11] gibsn commented on #6409
@avikivity do you need anything else from us?

[2020-05-19 11:14] juliayakovlev commented on #6478
Test is stopped.
Logs:
[code]

Terminating cluster

[2020-05-19 11:17] juliayakovlev commented on #6309
@raphaelsc  here all cluster logs:
[code]

Do you see if the debug messages enabled in that node?
If not - please, explain, which debug do you need and how can I enable it

[2020-05-19 11:22] psarna commented on #5459
Here's what happens without the fix:
1. An insertion request arrives to endpoint **E**, and it triggers a local view update
2. Sometimes, the list of pending endpoints contains a duplicated entry of the paired local endpoint **E**
3. A write response handler is created for pending endpoints, which includes a handler for endpoint **E**
4. The request handler waits for a response from endpoint **E**

[2020-05-19 11:23] psarna commented on #5459
I'm closing this issue since it was determined that duplicated entries are a root cause, specifically because they created incorrect response handlers for local mutations.

[2020-05-19 11:29] avikivity commented on #6409
Sorry, I missed the notification. Can you upload the core dump?

[2020-05-19 11:29] gibsn commented on #6409
@avikivity we can not since it contains user data

[2020-05-19 11:35] avikivity commented on #6409
Ho hum.  Then please open the core dump in a container based on the image `docker.io/scylladb/scylla-toolchain:fedora-30-20191022`:

1. create the container, with bind mounts to some directory where you have the core
2. install the scylla-server and scylla-debuginfo rpms (same version)
3. run gdb /opt/scylladb/libexec/scylla /path/to/core
4. check out that backtrace etc. work
5. find scylla-gdb.py

[2020-05-19 12:42] Termite commented on #6040
@eliransin:
 I run the test you made: getting the endpoints of a missing key gave me nodes 1 , 2 and 5.
Then I run on all 8 hosts 'sstabledump  *Data.db  -k <key>
The key was indeed found three times (RF=3), in one sstable file on three hosts, but not the hosts which "nodetool getendpoints" returned: I found the key on hosts 1, 6 and 7

(A select in the cqlsh does not find the key)

[2020-05-19 12:47] nyh commented on #5459
So @psarna, so if I understand you correctly the root cause for this bug wasn't the duplicated IP address per-se, and rather it seems it was the fact that we had the *local* IP address on the list of remote IP addresses, and since a packet was never sent to this one, we would get a broken promise?

[2020-05-19 12:54] psarna commented on #5459
Yes, the real reason is a local address on a list of remote addresses.

[2020-05-19 12:57] psarna commented on #5459
And yes, we should also make sure that there's no other way for a local address to end up on this list. This duplication is one of the possible causes, but perhaps there might be others. I don't have any concrete scenario in mind though - the only times I ever observed a local address on this list, it was a duplicated local paired endpoint.

[2020-05-19 13:29] Termite commented on #6040
An update after checking a few more keys:
a) there are keys for which nodetool getendpoints gives a result (3 nodes in my case), but sstabledump shows three other nodes where the key is stored,
b) there are keys for which nodetool getendpoints gives a result (3 nodes in my case), but sstabledump gives no result at all. (on all nodes).

[2020-05-19 14:57] dkropachev commented on #6454
@nyh,

Yes, you are correct, we 'attack' users table, but as you can see this bug happened only at the end of the test, while whole test took 14 hours.

Correct.

Note sure, also It depends on definition of reprdocutability, test took 14 hours to complete, during this time we run the nemesis 26 times, and only very last one produced this issue.

Please confirm that you want to run same test but wi

[2020-05-19 15:01] dkropachev commented on #6453
@nyh, same setup, same run. #6454 happened on node#4 at 2020-05-14 05:30:01.000, while this one happened on node3 at 2020-05-14 05:31:09.000

[2020-05-19 15:15] elcallio commented on #6459
So the problem is that when a node moves between racks, we are in this case left with empty racks (no endpoints, they don't actually exist) in `topology`. On restart, since no nodes are configured to the racks, we don't.

Seems a reasonable fix is to prune empty racks on endpoint changes.

[2020-05-19 15:30] gleb-cloudius commented on #6459
On Tue, May 19, 2020 at 08:15:33AM -0700, Calle Wilund wrote:

Yes, but the algorithm should have chosen enough replicas anyway, no?

--
			Gleb.

[2020-05-19 15:36] elcallio commented on #6459
No, because it believes that there exists racks that are in fact removed at this point.
I've sent a patch that prunes dead racks from topology.

I am not so fond of doing defensive checking on the returned dc->rack set in the strategy itself, since we should make the available data consistent between clean boot and call after cluster change.

[2020-05-19 15:53] espindola opened #6482 "repair may fail to close a sink"
This is already fixed on master by 311fbe2f0afe5de5e26c60a2fb6e216707f32aab. Reporting just to see if we need to backport. It applies cleanly to 4.0 at least.
@avikivity

[2020-05-19 16:06] bhalevy commented on #6040
/cc @asias @haaawk ^

[2020-05-19 16:11] glommer commented on #6092
I can't see how a bug in the controller can cause compactions to happen.
It can cause them to lag and go slowly, but it shouldn't trigger compactions that would not otherwise happen

[2020-05-19 16:19] haaawk commented on #6040
I can see few options:
1. Cluster was changed (new node or node removed) and those keys used to belong to nodes that sstabledump shows them on and now they belong to the nodes shown by getendpoints. The data hasn't been streamed yet. Not sure how probable this is though.

2. Those sstables with keys that belong to different nodes may be a leftovers after the change of the cluster. If I'm not mista

[2020-05-19 17:04] raphaelsc commented on #6309
@juliayakovlev We'll need to rerun the test with debug message enabled, we can do it with:
nodetool setlogginglevel database debug
nodetool setlogginglevel table debug

[2020-05-19 17:15] raphaelsc commented on #6092
Looks like tombstone compaction is *one of the sources* of many undesired compactions here, look:

Mar 27 04:17:10 ip-172-31-44-53 scylla[24984]:  [shard 0] compaction - Checking if candidate of generation 402158 and max_deletion_time 1585954876 is expired, gc_before is   1585282630

Here we can see that sstable with generation 402168 is not fully expired, max_deletion_time > gc_before

Mar 27 04:

[2020-05-19 17:20] raphaelsc commented on #6092
@erozycki I'd like to understand if you're doing anything that is causing out of order writes. Do you rely on USING TIMESTAMP for any of your writes? What about read repair?

[2020-05-19 19:35] Termite commented on #6040
@haaak:
There was not the slightest change to the cluster

Ok, I see, the destination nodes are just calculated from the key, or the murmured key

[2020-05-19 19:39] erozycki commented on #6092
@raphaelsc

I update the table in the following two ways:
1. batch inserts: I execute unlogged batches of ~100 statements, where each statement has the form `UPDATE audio_hashes_cg SET m = m + ? WHERE f = ?;`
2. batch deletes: I execute unlogged batches of ~100 statements, where each statement has the form `UPDATE audio_hashes_cg SET m = m - ? WHERE f = ?;`
I probably delete about 35% of the value

[2020-05-19 19:58] haaawk commented on #6040
@Termite Could you please give an example of a key that has a mismatch between nodetool getendpoints and actual nodes with sstables that contain them?

It would be great if you could describe your cluster and give an example of a key with a mismatch describing which nodes are returned from nodetool getendpoint for that key and which nodes actually contain sstables with that key.

[2020-05-19 20:28] Termite commented on #6040
Yes of course, I can give you some keys which have a mismatch.

The cluster is the same as described at the beginning of this thread

[2020-05-20 00:13] espindola commented on #2347
I don't think so. There were two parts of this issue
* Including info in the journal
* Better handling of corrupted sstables and testing of that

I haven't been able to put any time on either

[2020-05-20 00:32] vladzcloudius commented on #6442
@slivne That's exactly why this is the issue - user needs a clarity as to what is the actual current table/KS configuration.

`min_threshold` is a very good example: our documentation states that its default value is 4 and this is correct. HOWEVER, unless `compaction_enforce_min_threshold` is set to `true` its effective value is `2`.

This is very confusing to say the least.

And, in general, it's

[2020-05-20 01:06] vladzcloudius commented on #4491
@nizarh11
Please, follow steps in the description without modifications.
If don't wait till actual streaming begins you won't be able to reproduce it.
If the message that denotes streaming has changes since the time the issue has been filled you obviously need to re-adjust.

@roydahan Please, unassign me and assign somebody from your team.
If the issue is not reproducible even if you do exactly (!

[2020-05-20 02:17] dorlaor commented on #6403
https://issues.apache.org/jira/browse/CASSANDRA-15823

[2020-05-20 03:30] #6480 closed

[2020-05-20 05:04] avikivity commented on #6433
Backported to 3.3, 4.0, 4.1.

[2020-05-20 05:06] avikivity commented on #6422
Backported to 3.3, 4.0, 4.1.

[2020-05-20 05:59] avikivity commented on #6414
Backported to 3.3, 4.0, 4.1.

[2020-05-20 06:16] slivne commented on #6462
@syuu1228 ping - can we close this as not a bug ?

[2020-05-20 06:22] slivne commented on #6252
@jtnagashima any update - can you please provide the additional information requested.

[2020-05-20 06:55] eliransin commented on #6040
I am still bisecting (it will take a half a day more) but after the last few rounds the suspect list is ~50 commits with a one very promising candidate and a few others that are suspects just because they
have sstable in their name:
Main suspect: 6c5f8e0ed sstables: index_reader: Simplify offset calculations

Full suspect list:
0eb703dc8 all: rename view_update_from_staging_generator
a5d24e40e dis

[2020-05-20 06:58] eliransin commented on #6040
BTW - maybe it only happens when the index size is too big and thus the math in the above commit gets wrong. A link to an example index file (with the infamous 77 key can be found) [here](https://github.com/scylladb/scylla/issues/6040#issuecomment-630120303)

[2020-05-20 07:00] asias commented on #6478
I found two problems so far:

1) rebuild request was issued by SCT to node 2 while node2 hadn't finished boot up progress. SCT should not do that. Scylla core should reject that.  See attached log for the run that was after the hard reboot for node2.

[node2.abort.run.txt](https://github.com/scylladb/scylla/files/4655083/node2.abort.run.txt)

2) Node 2 was shutdown while boot up process and rebuil

[2020-05-20 07:28] slivne commented on #6040
lets split the issues out - nodetool getendpoints seems to have a bug -
take this out of this issue.

please compare nodetool getendpoints for an incorrect key and what replicas
are shown when you do a
cqlsh>
tracing on;
select * from ....

we will try to reproduce locally - yet nodetool getendpoints - should be
split to a new issue.

On Wed, May 20, 2020 at 9:58 AM Eliran Sinvani <notifications@g

[2020-05-20 07:37] eliransin commented on #6040
Already did, the coordinator queries the right endpoints which are different than the ones we get through nodetool/rest api.

[2020-05-20 07:38] slivne commented on #6040
@Eliran Sinvani <eliransin@scylladb.com> thanks for the confirmation - so
lets split the nodetool getendpoints to a different issue - and have this
one for the missing keys.

On Wed, May 20, 2020 at 10:37 AM Eliran Sinvani <notifications@github.com>
wrote:

[2020-05-20 07:50] slivne commented on #4442
@penberg are you working on this ?

[2020-05-20 08:16] slivne commented on #6472
could this be the same as https://github.com/scylladb/scylla/issues/6478 - which asias analyzed as a rebuild starting before a node is fully up (https://github.com/scylladb/scylla/issues/6478#issuecomment-631278046).

@ShlomiBalalis can you please check this out

[2020-05-20 08:20] slivne commented on #6478
@asias we should kill ongoing rebuild on shutdown - are we doing that ?

[2020-05-20 08:32] asias commented on #6478
During shutdown, messaging service will be closed, the streaming will be closed and the rebuild will fail.

[2020-05-20 08:43] slivne commented on #6478
@asias

we have rebuild failing - (and scheduling to be redone - which is not good).

[code]

and "after" that we have the coredump .....

[code]

[2020-05-20 08:52] juliayakovlev commented on #6478
Yes, it's done by test, it's part of the test:
[code]

[2020-05-20 08:53] asias commented on #6478
The retry is supposed to happen in 60 seconds. We hit the abort long before the second try. It is not nice to retry but it is not relevant for the abort in this issue.

The rebuild failed because node2 shutdown itself and peer node failed the streaming when they saw the SHTUDOWN status.

The failure of the rebuild is expected. But the shutdown and the abort is not expected.

[2020-05-20 08:55] eliransin commented on #6040
OK, this hunch made things faster, found it :slightly_smiling_face:
I don't know enough about this area of the code to just see if the problem is in position() function
that was introduced in another commit or in the new position calculations introduced in this one.

[code]
/cc @tgrabiec @bhalevy

a very simple reproducer:

1.  Download the sampled example ( `gsutil cp gs://upload.scylladb.com/7cf

[2020-05-20 08:59] asias commented on #6478
That is not the shutdown I am talking about. I am talking the one around `2020-05-18 13:31:02` which is after the hard reboot.

[code]

[2020-05-20 09:11] psarna commented on #6453
The backtrace doesn't look right. It suggests that the crash was caused by an out-of-memory error caused by deserializing a large collection, but this schema does not contain any collections... is it the only schema used in this scenario? The code will only try to deserialize a collection if a collection was used in the schema. The failure comes from these lines: https://github.com/scylladb/scylla

[2020-05-20 09:33] yarongilor opened #6483 "Alternator read failure on enoscp nemesis: exceptions::mutation_write_failure_exception"
Installation details
Scylla version 4.0.0-0.20200518.30a96cc592 with build-id 9ef24d39cab8fa8002927264b7789919c0e2a29d
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-051dae22d072367be

scenario:
1. Run alternator longevity of 3 hours.
2. Ran nemesis of manager repair.
3. Ran nemesis of enospc on node: tbd.
==> YCSB got a read error of: "Internal server error: exceptions::mutation_write_failu

[2020-05-20 09:35] juliayakovlev commented on #6478
I didn't understand also why it happened and who call this

[2020-05-20 12:00] slivne commented on #6257
@juliayakovlev can we rerun the test on master - gleb added debug patches to extract additional info.

[2020-05-20 12:19] juliayakovlev commented on #6257
Started

[2020-05-20 12:20] eliransin commented on #6218
@psarna it got priority :smile:

[2020-05-20 12:23] roydahan commented on #6460
@amoskong does it happen only on the i3.metal?
If so, and this is expected according to @slivne and @avikivity, we can increase the timeout for it.
(I don’t know if we can increase only for specific instance type).

[2020-05-20 12:31] psarna commented on #6218
As far as I know it's already done as a side effect of one of @glommer's series. All registered staging sstables for a given table are now bundled together and processed together, which also means that they will not use each other for reading, which this issue is all about.
Source: 4e6400293e8cb6e7729d30cfb7e27dc03a3190f9

[2020-05-20 12:37] gibsn commented on #6409
@avikivity sry for the delay. I could not launch `fedora-30-20191022` (it would just exit) so I am taking the closest version `fedora-31-20191030`. Also I could not find fedora repos for 3.2x (naively changing "centos" to "fedora" in centos repos does not help) so now I am downloading rpms to manually install it. Should I go any other direction?

I also tried running gdb in not in container but on

[2020-05-20 12:41] glommer commented on #6218
hi - saw me being tagged

This is done, no ? (which seems to be exactly what you are saying)

@psarna I was lying before: I didn't do this issue because of an upcoming series of mine. I did it because I was secretly subconsciously aware of this one issue here and I just like you too much.

[2020-05-20 12:43] slivne commented on #6218
The problem is that this bug exists in earlier releases ...

I xpect glauber patches will not be backportable to earlier releases

If its simple lets fix it in older releases as well.

On Wed, May 20, 2020 at 3:41 PM Glauber Costa <notifications@github.com>
wrote:

[2020-05-20 12:44] slivne commented on #6069
@juliayakovlev can you reference the results (issues you uncovered)

[2020-05-20 12:46] glommer commented on #6218
I expect the patches the be backportable. They are not hard.

Shlomi, which version do you need ?

On Wed., May 20, 2020, 8:43 a.m. Shlomi Livne, <notifications@github.com>
wrote:

[2020-05-20 12:52] slivne commented on #6218
4.0, 3.3 (+Enterprise)

On Wed, May 20, 2020 at 3:46 PM Glauber Costa <notifications@github.com>
wrote:

[2020-05-20 12:52] juliayakovlev commented on #6069
Problems found during running [job](https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/yulia/job/features-2mv-backpressure-4days/5/):

1. https://github.com/scylladb/scylla/issues/6438
2. https://github.com/scylladb/scylla/issues/6386

[2020-05-20 12:59] glommer commented on #6218
I will look into this in the afternoon shlomi

[2020-05-20 13:04] glommer commented on #6218
@slivne the backport to 4.0 is clean. Commit is 4e6400293e8cb6e7729d30cfb7e27dc03a3190f9

There is another commit in the series but it is for tests only, we don't need to backport.

Backport to 3.3 is harder. I will prepare later.

[2020-05-20 13:07] slivne commented on #6429
If I understand the issue correctly

We may generate a tombstone on one base-view pair and not generate it on another base-view pair. Since each base will query the current data with a bit different now() so one can return data from the base table and another will not (in case the base table data has a TTL attached to it).

Table tb {
   x int,
   y int,
   v int.
   primary key (x)
}
create mater

[2020-05-20 13:10] slivne commented on #5997
@psarna - the fact we had to replay commitlog doesn't mean the view was not updated - its probably the opposite view has been updated (or a hint has been written to update it).

[2020-05-20 13:11] slivne commented on #6218
Ok thanks,

On Wed, May 20, 2020 at 4:05 PM Glauber Costa <notifications@github.com>
wrote:

[2020-05-20 13:16] kostja commented on #6342
@ManManson let's disable the problematic tests. Could you please send a pull request for dtest-4.0 branch? Thanks!

[2020-05-20 13:25] nyh commented on #5065
@elcallio sent a pull request, https://github.com/scylladb/scylla/pull/6481, starting to add the DynamoDB Streams feature. In his implementation, the streams API is implemented on the same endpoint as the regular DynamoDB API. The initial implementation will do a one-to-one correspondence between Scylla CDC "streams" and DynamoDB Streams "shards", which can result in a very large number of shards

[2020-05-20 13:30] slivne commented on #6272
still waiting for long runs on 4.1 to see if this is resolved

[2020-05-20 14:01] ManManson commented on #6342
@kostja Sure, will do.

[2020-05-20 14:12] glommer commented on #6218
@slivne I'll need a Fixes tag for the backport to 3.3
What issue should I quote? This one doesn't seem tobe describing any bug

[2020-05-20 14:35] slivne commented on #6218
#6218 is a bug.

[2020-05-20 14:44] glommer commented on #6218
It's this bug, shlomi =)
What I means is that it doesn't report any failure, ill behavior or anything. Just says this should be done.
That's usually not enough for a backport in Avi's view.

In any case I have the 3.3 backport ready and will send now

[2020-05-20 15:10] fruch commented on #6483
@yarongilor can you change the title `s/enoscp/ENOSPC/` ?

[2020-05-20 16:44] aleksbykov opened #6485 "wrong value in cdc$ttl column for operations with ttl with collections in cdc log table"
*Installation details*
Scylla version (or git commit hash):
git@github.com:scylladb/scylla.git-sha: a96087165a92959ff4da74364b681c2906c16745
scylla-release: 0.20200516.a96087165a9
scylla-version: 666.development
scylla-BuildID[sha1]: b00c2631939d1214944b942b91bbebc4e8639085
scylla-debug-BuildID[sha1]: 43294a1fdcc11b0e7621208733601cb295
Cluster size: 1

insert the collection with TTL, have invalid

[2020-05-20 16:46] avikivity commented on #6409
@tgrabiec do you remember if we have a receipe for debugging relocatable packages?  if not I will write one.

[2020-05-20 17:27] alienth opened #6486 "Node crashlooping in `continuous_data_consumer`."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.3.1, 6f939ffe199
Cluster size: 9

[2020-05-20 17:41] alienth commented on #6486
Just tested: Wiping out the data in the node results in the crashloop ceasing. Going to try and binary search to find the culprit.

[2020-05-20 17:51] alienth commented on #6486
Narrowed the culprit CF down via binary search. Very curiously, it's a CF with only one small (1MB) sstable. That sstable dumps just fine with `sstabledump`, so nothing seems obviously corrupt about it.

Going to copy that single sstable to a one-node ring and see if the breakage follows.

[2020-05-20 18:11] alienth commented on #6486
Curiously, scylla logged that it dumped its core, yet `/var/lib/scylla/coredump` is empty :thinking: .
[code]

[2020-05-20 18:30] #6459 closed

[2020-05-20 18:35] gibsn commented on #6409
@avikivity

https://pastebin.com/6uqVPYR8

execute source /path/to/scylla-gdb.py
execute scylla memory and scylla task_histogram and post the results.

[code]

[2020-05-20 18:49] slivne commented on #6486
@alienth

can you please share ``` cat /proc/sys/kernel/core_pattern```

[2020-05-20 18:56] alienth commented on #6486
@slivne
[code]

[2020-05-20 19:14] slivne commented on #6486
lets try to force the setup to be according to scylla preference

[code]

and then run

[code]

[2020-05-20 19:14] alienth commented on #6486
So, I copied the CF that was causing the trouble to a one-node ring, and wasn't able to repro there. Going to try and repro again elsewhere. I think the reason for the missing coredump is insufficient space to store it on the root volume.

[2020-05-20 19:20] slivne commented on #6486
@alienth the info to setup for scylla I listed above (https://github.com/scylladb/scylla/issues/6486#issuecomment-631671265)

[2020-05-20 19:26] alienth commented on #6486
I'm able to repro again, but still no coredump (even when running the coredump setup that symlinks). Going to just force the kernel to coredump to non-systemd.

[2020-05-20 19:27] slivne commented on #6486
so its clear once it setup correctly you should see something like

[code]

[2020-05-20 19:31] alienth commented on #6486
Yea, everything validates yet I still can't get any cores generated. I also tried
[code]
to no avail. Something is hosed with coredumps on this box, I s'pose? Continuing to dig.

[2020-05-20 19:43] alienth commented on #6486
Ah, default system ulimit on coredump was hampering me :P. Getting the coredump now.

[2020-05-20 19:50] jtnagashima commented on #6252
Hi Shlomi! Our cluster is performing normally every since Asias recommended manually running  compactions on the problematic tables. Unfortunately, we're out of capacity to provide the data to replicate the scenario. We do believe the issue resulted from upgrading too quickly from one version to the next thereby preventing the compactions to throughly run on our cluster.

[2020-05-20 20:09] tgrabiec commented on #6409
@avikivity There's something here: https://github.com/scylladb/scylla/blob/master/docs/debugging.md#relocatable-binaries

[2020-05-20 20:15] glommer commented on #3778
Folks, this issue is sitting here just cluttering the issue list.
We have already confirmed that the behavior is what we expect.

@nyh if you still feel that a dtest is necessary to guarantee that, please open an issue with scylla-dtest (sorry, but literally have 1,000s of issues and a stalebot now to handle that...)

[2020-05-20 20:15] #3778 closed

[2020-05-20 20:21] glommer commented on #5359
If on the one hand Botond is right, on the other hand we did see in the past many issues in which timeouts would trigger in recoverable situations.

I am in favor, however, of adding manual controls to stop a running repair in this case. Then we hav a human timeout.

[2020-05-20 20:22] glommer commented on #5359
@asias we have mechanisms to kill a repair now, right?
If we already do and they are satisfactory I will close this issue.

[2020-05-20 20:25] glommer commented on #5647
Hi QA friends: are you going to re-do this?
We'll soon start a sprint to try and solve all issues related to effects of repair and maintenance in the cluster.

If this is still happening with row level repair we'll prioritize. Let us know

[2020-05-20 20:28] glommer commented on #6075
@asias help me understand what's the maximum expected size theses sets can grow to. Will we have larger sets the larger the differences? Is there a maximum?

We may have to look into an alternative data structure

[2020-05-20 20:40] avikivity commented on #6075
@espindola is there something suitable in abseil?

We're looking for a hash table that doesn't require a large contiguous allocation.

[2020-05-20 20:41] avikivity commented on #6075
If not, we'll have to write something on top of chunked_vector.

[2020-05-20 20:46] glommer commented on #6075
That would be very welcome.

[2020-05-20 20:49] slivne commented on #6486
@alienth great (one small step ...)

if you can please provide also the schema from that specific node and also the specific sstables if you can share them

to upload the info please follow https://docs.scylladb.com/troubleshooting/report_scylla_problem/#send-files-to-scylladb-support

[2020-05-20 22:49] roydahan commented on #5647
@fgelcer please report results from the second run you had.
another option is to run again with TerminateAndReplaceNode nemesis.

[2020-05-20 23:34] roydahan commented on #4491
@vladzcloudius why did you grep here node4 and not node3?
Isn't the bug about node3 that doesn't exit?

[2020-05-20 23:34] gnumoreno commented on #3463
@eliransin @bhalevy I see this is tagged for 4.x any chance we can have this soon?

Let me explain the use case I have in mind:

Scylla cloud is not aware when a customer truncate/drop a table. Because scylla has `auto_snapshot: true` by default a snapshot will be created but never listed by `nodetool snapshot` and can't be cleared by `nodetool clearsnapshot`.

Users that do not use cloud have sim

[2020-05-21 00:07] #6466 closed

[2020-05-21 00:11] vladzcloudius commented on #4491
Correct. Probably a typo in a grep command, @roydahan

[2020-05-21 05:48] amoskong commented on #6460
On Wed, May 20, 2020 at 8:23 PM Roy Dahan <notifications@github.com> wrote:

Yes

Currently we only have a general timeout for all ami-tests. Just sent a PR
to increase the general timeout:
https://github.com/scylladb/scylla-cluster-tests/pull/2174/
<https://github.com/scylladb/scylla-cluster-tests/pull/2174/files>

[2020-05-21 06:18] asias commented on #6482
Please backport to 4.0 and 4.1.

I saw the assert from logs on node 1 reported in https://github.com/scylladb/scylla/issues/6472.

[code]

[2020-05-21 06:20] asias commented on #6472
Looking at log of node 1, I found more issues
[code]
It is fixed in 311fbe2, we need to backport to both 4.0 and 41.  https://github.com/scylladb/scylla/issues/6482

[2020-05-21 06:30] asias commented on #6472
No. rebuild request was after node 6 finished boot up.

[code]

[2020-05-21 06:39] asias commented on #6472
node 6 was overwhelmed with `Failed to apply mutation from: timed out: smp_service_group#2` error during the segment fault time frame `2020-05-15T00:36:57+00:00  longevity-cdc-100gb-4h-master-db-node-2c781dcf-1 !INFO    | scylla: Segmentation fault on shard 12.` node6 was running repair based rebuild operations. 60K such error messages in total on node 6.

[code]

[2020-05-21 06:43] gibsn commented on #6409
Now we are getting two nodes failing at the same every day, from different DCs :( so our cluster becomes unresponsive

[2020-05-21 06:48] gibsn commented on #6409
Also the node that we started with `--abort-on-seastar-bad-alloc` did not actually abort

[code]

[2020-05-21 07:09] gibsn commented on #6409
Also do you know why we might be getting this message?

[code]

 Lots of our retries fail with this message

[2020-05-21 07:33] gibsn commented on #6409
[code]

This helps:
https://github.com/scylladb/scylla/blob/master/docs/debugging.md#namespace-issues

[code]
I tried running `info sharedlibrary` and seems like all the libraries have been found. However I am getting lots of warnings on GDB startup:
https://pastebin.com/PpDju8WC

[2020-05-21 07:36] asias commented on #6472
The segfault on node1 came from compaction code: ./sstables/compaction.cc:552.

[2020-05-21 07:45] slivne commented on #6482
4.1 a1c15f06902b208430be3e43ab954a61ba8f7cec
4.0 baf0201a6e5c9925cb8f0b34fde9c7814c3e4c49
3.3 da2390231122669954bd9439a1e507efb93f3184

[2020-05-21 07:45] #6482 closed

[2020-05-21 07:46] slivne commented on #6470
@ShlomiBalalis are they passing now - can we close this ?

[2020-05-21 07:59] avikivity commented on #6409
Copying scylla memory output here for reference

[code]

[2020-05-21 07:59] asias commented on #6436
@bhalevy the commit e44b282 disables repair based ops, the replace operations should fail like `ERROR 2020-05-21 15:49:20,069 [shard 0] init - Startup failed: std::runtime_error (unable to find sufficient sources for streaming range (-9118212697790705053, -9083627894488168363] in keyspace system_auth)`.

Did the test enable repair based ops?

[2020-05-21 07:59] avikivity commented on #6409
We really need to package all the hacks used to start gdb into a nice scripts.

[2020-05-21 08:00] avikivity commented on #6409
Well, it's a real OOM. Are you sure you didn't miss some scylla memory output? It should say a lot more.

[2020-05-21 08:01] nyh opened #6487 "Check if base64 decoding in Alternator needs to allow inputs without padding"
I'm creating this issue based on reviewing the code - it's not based on noticing an actual bug.

The DynamoDB API uses base64 encoding for binary blobs.
The base64 definition, https://tools.ietf.org/html/rfc4648, says that:

Our `base64_decode()` function indeed just ignores these padding characters, and does not require them. However, I am afraid our newer `base64_len()` and`base64_begins_with()`

[2020-05-21 08:11] asias commented on #6396
The repair failed on node5 because one of the peer node (node3) was DOWN. This is expected.  Why is this an issue?

node5
[code]

node3:
[code]

[2020-05-21 08:24] asias commented on #6437
The test checks "Token .* changing ownership from" message to check if the token ownership has changed correctly. However it is is not reliable because very time token_metadata_impl::update_normal_tokens is called, we print the message. update_normal_tokens can be called on temporary token_metadata object.

I plan to move the "Token {} changing ownership from {} to {}" message from warn to debug.

[2020-05-21 08:33] gibsn commented on #6409
`scylla task_histogram` has been running for half an hour with no output

[2020-05-21 08:34] gibsn commented on #6409
Sry, I did miss. This's the missing part:
[code]

[2020-05-21 08:38] avikivity commented on #6409
There should be much more. Please pick up the latest scylla-gdb.py from master and try to use it instead.

[2020-05-21 08:41] nyh commented on #3778
@glommer, @lauranovich, @asias  two years after I opened this issue, it is still just as relevant as it was on the first day. It's not "stale" - the document https://docs.scylladb.com/operating-scylla/nodetool-commands/repair/ still has the same grammar mistake ("on a specific host"), and it still doesn't really explain what "--hosts" does. Also nobody ever wrote a test for "-hosts", so nothing in

[2020-05-21 08:48] gibsn commented on #6409
version c29ccdea7e74dd5a8894a6f3186592eb56d7ec2a:

scylla memory: https://pastebin.com/828hnSh7
scylla task_histogram: https://pastebin.com/JM1nGFSe

[2020-05-21 08:50] avikivity commented on #6409
scylla memory:

[code]

[2020-05-21 08:50] avikivity commented on #6409
task_histogram:

[code]

[2020-05-21 08:52] avikivity commented on #6409
Looks like lots of memory in 32k spans.

[2020-05-21 08:53] nyh commented on #3778
Despite all I said above, one *good* reason to close this issue is to decide that documentation issues must go to the scylla-docs repository, and missing dtest requests must go to the scylla-dtest repository. I can understand this sentiment, and we can indeed keep this issue - on scylla.git - closed.
I'll open/comment in those places, then.

[2020-05-21 08:54] avikivity commented on #6409
The huge number of metric_group_impls is suspicious. You don't have a huge number of tables, do you?

[2020-05-21 08:54] gibsn commented on #6409
I have 2 tables, others are system

[2020-05-21 08:56] avikivity commented on #6409
Very odd.

[2020-05-21 08:57] avikivity commented on #6409
Please run `scylla task_histogram --all`, maybe we'll get more information.

[2020-05-21 09:00] asias commented on #3778
@nyh I think I explained what the --host options actually do in the code base. If the goal of this bug report is to improve documentation, let's open issues in the doc repo.

With more efficient repair implementations, e.g., row level repair, in the long term, I think we should drop the support of the --hosts options. It is very hard for the user to understand what it is and choose the right hosts

[2020-05-21 09:08] psarna commented on #6487
For the record, dynamodb replies with:
[code]

[2020-05-21 09:09] psarna commented on #6487
I used this quick manual test with pytest:
[code]
with `YWJjZGVmZ2g` being a correct base64-encoded string, but with one `=` padding missing.

[2020-05-21 09:16] gibsn commented on #6409
definitely more information:
https://pastebin.com/5jUY4k9N

[2020-05-21 09:31] nyh commented on #3778
@asias the purpose of this issue was to have 1. better documentation of the existing behavior, 2. test that this behavior was actually doing the expected thing. It seems that today (more than two years ago) the sentiment is that documentation and dtest issues should go to different repositories. I can accept it (though I wouldn't have made this separation in my own project). So I'll open dtest and

[2020-05-21 09:52] fgelcer commented on #5647
last multi-keyspaces longevity job didn't run decommission nor terminate_and_replace nemesis.
i will re-run this job with terminate_and_replace nemesis only to gather more info about this.

[2020-05-21 09:54] nyh commented on #6487
Interesting, I assume it's the PutItem which failed, not the Scan?
For us, I think it won't fail - our baset64_decode() doesn't check this (we do decode before storing, right?). I think we should be more consistent - either don't allow unpadded base64 at all (as apparently DynamoDB does) or always allow it, but not a mixture of the two.

[2020-05-21 10:05] avikivity commented on #6409
[code]

[2020-05-21 10:06] psarna commented on #6487
yes, DynamoDB refuses to write an unpadded base64 string. I marked this issue as n00b for now, since I strongly suspect that 99.9% of the drivers provide correct base64 strings and that users don't actually use begins_with operators or size() functions on a binary string that often. Still, we should add a test (e.g. the one I posted above, with some validations added) and make alternator's behavio

[2020-05-21 10:07] avikivity commented on #6409
@tgrabiec @gleb-cloudius @elcallio please help it looks like there are 91k commitlog segments, and 91k commitlog segment managers? how can this be?

[2020-05-21 11:47] glommer commented on #3778
The point of closing this issue is that all of the things that are left to do are not in Scylla: some are in docs, some are in dtest.

So nothing to do with scylla + the fact that we're approaching 1500 issues... poof! gone!

[2020-05-21 11:48] glommer commented on #5647
Good luck @fgelcer ! run it from a 2m distance so you don't get covid-19

[2020-05-21 11:52] glommer commented on #6409
Maybe flushes are falling behind? We used to have metrics (not in the default dashboard) for pending flushes. According to the code we still do

should be something like `scylla_commitlog_pending_flushes` (granana should auto-complete)

@gibsn maybe try plotting that ?

[2020-05-21 12:16] gibsn commented on #6409
beccasc7 failed at ~17:18

<img width="1427" alt="Снимок экрана 2020-05-21 в 15 12 14" src="https://user-images.githubusercontent.com/11294101/82558260-f1e4bd00-9b75-11ea-94cd-d5e4a4a07b96.png">
<img width="1428" alt="Снимок экрана 2020-05-21 в 15 12 37" src="https://user-images.githubusercontent.com/11294101/82558267-f610da80-9b75-11ea-9ebe-0b97396f19a9.png">
<img width="1428" alt="Снимок экрана

[2020-05-21 12:48] psarna opened #6488 "Materialized view code should have error injection points"
Now that the error injection framework is merged, it should be integrated into more services within Scylla, and among these - materialized views. Many potential MV/SI test scenarios are almost impossible to code in a deterministic way, and error injection can be of great help here.

[2020-05-21 13:13] tgrabiec commented on #6409
Maybe those were created by the hints manager.

[2020-05-21 13:13] glommer commented on #6409
hi @gibsn the first two metrics you plotted are not interesting the way they are. They are monotonic counters so you have to `irate` them. The last one is indeed a gauge and it does show that we have many pending flushes.

There is another metric of interest (I am having to read a lot of that code again, rusty on it):

`++totals.flush_limit_exceeded` (should be `scylla_commitlog_flush_limit_exceed

[2020-05-21 13:14] glommer commented on #6409
@gibsn let me know what does `commitlog_total_space_in_mb` in your yaml says

[2020-05-21 13:14] nyh opened #6490 "Alternator: improve KeyConditions error message on forbidden operators"
A KeyCondition only allows specific operators on the sort key (see list in https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.KeyConditions.html). One of the operators **not** allowed is "NE". The issue is that if a user uses "NE", he gets an error message looking like:

"Unknown primary key bound passed: 1"

This message comes from `calculate_ck_bound()`.

[2020-05-21 13:17] denesb commented on #6409
@glommer flushes can fail for other reason as well, I've seen a case where memtable flushes failed because memory was fragmented and a large collection couldn't be linearized for flushing. This can be a vicious cycle if the failed flushes trigger more allocations.

[2020-05-21 13:18] tgrabiec commented on #6409
@gibsn Do you see 91k files in your hints directory?

[2020-05-21 13:28] glommer commented on #6472
I see something very strange in this backtrace. It's full of calls to the garbage_collected_sstable_writer. This should never be called in OSS runs, and it's only there because of ICS enterprise.

It calls this:
[code]

This code instantiate a `_writer` unconditionally, and that `_writer` is likely null, since we are not even supposed to have a gc writer for this compaction.

Maybe rebuild is caus

[2020-05-21 13:36] slivne commented on #6483
If one of the node runs into ENOSPC then it should drain it self and the others should keep on working

I assume this error is generated after one node was drained
[code]

We need to understand if the nodes have been overloaded somehow and thats why the writes fail, or if there is another reason ?

[2020-05-21 13:48] gibsn commented on #6409
@glommer,

But at the time the node failed metrics are 0. Am I missing something? The next spike is the node coming online and receiving hints I guess

This is the one on the first screenshot, here is the irate of it:
<img width="1428" alt="Снимок экрана 2020-05-21 в 16 45 10" src="https://user-images.githubusercontent.com/11294101/82565054-70475c00-9b82-11ea-8ad7-aa1907e2b3f8.png">

We have separ

[2020-05-21 13:51] gibsn commented on #6409
@tgrabiec,

Nope, ~10k. Keep in mind that fail happened a couple of days ago and since then the node has been running for some time

[2020-05-21 13:51] glommer commented on #6472
The first thing I would like to understand is why the `gc_garbage_collector` was triggered at all.
Raphael - we need to understand that.

However, it should still work. It would have generated no mutations and be all good. The fact that this crashed would signify that a valid case where we have a gc_garbage_collector could crash.

My theory on what is likely happening is that we are calling `consu

[2020-05-21 14:26] nyh commented on #6479
Grasping at straws here, but I can't help but notice that in your original report, I see trace-level log messages in the log. If you enable those, just logging all these silly messages can really tank performance. Can you please make sure they aren't enabled?

The error message mentions "LOCAL_SERIAL", which we use for LWT (which is used in Alternator writes, by default). The issue might be relate

[2020-05-21 14:38] tgrabiec commented on #6409
To sum up, the OOM is due to large number of commitlog segments (91k * 32KB =~ 3GB), one per segment manager. If I read the code right, we should have one segment manager per commitlog, so one per hints endpoint.

@gibsn I assume you don't have thousands of endpoints? From grafana it looks like you don't. Then this 91k doesn't make sense.

Maybe we hit some kind of memory corruption which caused `

[2020-05-21 14:42] gibsn commented on #6409
I am not sure what you mean by endpoint, we have 10 Scylla nodes and 4 client nodes

Unfortunately I can not since it contains user data. But I can do what you need and send the results

[2020-05-21 15:10] raphaelsc commented on #6472
@glommer LCS can trigger incremental compaction, which leads to GC writer creation if needed.

It looks like we're finishing sstable writer for GC writer before we consume its end of partition, which explains why consume_end_of_partition bumps into a freed writer. This bug is likely regression introduced by this recent work of mine: https://github.com/scylladb/scylla/commit/a214ccdf89bcb001d9a9a2a

[2020-05-21 15:21] avikivity commented on #6409
endpoint = scylla node

As a workaround, you can disable hints. Please keep that core dump though, we'll want to extract more information.

[2020-05-21 15:26] glommer commented on #6472
@ShlomiBalalis Please confirm that this test uses LCS compaction.

@raphaelsc for now just work on the patch. We have time

[2020-05-21 15:26] gibsn commented on #6409
@avikivity ok, ty

Do you happen to know what this means:
[code]

We are getting lots of those when a node fails. Should not one response with CL=ONE be enough?

[2020-05-21 15:31] glommer commented on #6409
@gibsn that's likely #6123

[2020-05-21 15:34] bhalevy commented on #4042
@avikivity the incorrectness of the clustering key extremums is due to https://issues.apache.org/jira/browse/CASSANDRA-14861 where updating the min/max ck components is not done properly for range tombstones.  Although we need to fix that on our write path, fixing #3553 will include considering sstables having either partition tombstones or range tombstones, regardless of their clustering range.

[2020-05-21 15:45] gibsn commented on #6409
Another node has just failed. Before restarting:
[code]

[2020-05-21 15:50] gibsn commented on #6409
We will now diasble hints and update to 3.3.2

[2020-05-21 15:53] gibsn commented on #6409
@glommer @avikivity can we update?

[2020-05-21 16:44] juliayakovlev commented on #6257
The problem didn't recreated. Will try again

[2020-05-21 16:46] juliayakovlev commented on #6309
Working on it. When I set both database and table debug level scylla-bench failed to create session with the node. If I set debug for table only, I can run the load. @raphaelsc  is it enough?

[2020-05-21 17:07] raphaelsc commented on #6309
On Thu, May 21, 2020, 1:47 PM juliayakovlev <notifications@github.com>
wrote:

For debugging purpose we need both. You can also trying enabling debug mode
with an additional command line arg for scylla process, no need to restrict
it to only table and database logs

—

[2020-05-21 19:56] vladzcloudius commented on #6409
@tgrabiec That would be an interesting one. For this either std::hash<unit32_t> or std::equal_to<uint32_t> or both should be returning a random value all the time.

There is another possibility however (connecting to @glommer's slow backend theory): hints manager "flushes" hints segments to the disk every 10s (see sender::flush_maybe() -> end_point_hints_manager::flush_current_hints()) where we wi

[2020-05-21 20:25] raphaelsc commented on #6472
Update: it's unlikely that this bug is caused by that patch of mine aforementioned. I suspect the mutation compactor code is the one to blame, I will try to come up with a reproducer as suggested by @glommer

[2020-05-21 20:43] slivne commented on #6437
@asias can you please suggest how this can be fixed - what other methods can be used

[2020-05-21 21:03] gibsn commented on #6409
@vladzcloudius we use SSD for clogs and, therefore, for hints. We HDDs for data

[2020-05-21 22:05] vladzcloudius commented on #6409
@gibsn Hints are written into the different directory: `hints_directory` configuration parameter.
Does it point to a location on SSD?

[2020-05-21 22:45] amoskong commented on #6354
We see this issue in rolling upgrade from 4.0 to 4.1
- https://jenkins.scylladb.com/job/scylla-4.1/job/rolling-upgrade/job/rolling-upgrade-centos7-test/12/

init cluster version: 4.0.0-0.20200505.d95aa77b62
sct test id: 13eb0811-4d0a-4cf2-9873-1ac7545d2567

[2020-05-22 01:34] asias commented on #6437
For example, use the output of nodetool ring.

[2020-05-22 01:42] asias commented on #6245
Hello @mmatczuk

The calculation is:

max_repair_ranges_in_parallel = max_repair_memory / max_repair_memory_per_range = 10% * memory_per_shard / max_repair_memory_per_range = 0.1 * memory_per_shard / 32 MiB

E.g., 1GiB memory  per shard, we will have:

INFO  2020-05-14 10:13:12,161 [shard 0] repair - Setting max_repair_memory=107374182, max_repair_memory_per_range=33554432, max_repair_ranges_in_pa

[2020-05-22 07:33] gibsn commented on #6409
@vladzcloudius, it points to a location on SSD, right next to commitlogs

[2020-05-22 11:51] mmatczuk commented on #6245
Yes so this is in essence what I wrote. In my version it's aggregated for all shards plus I estimate Scylla memory. Need to check if there is a metric for that.

[2020-05-22 13:06] vladzcloudius commented on #6409
Got it. Thanks.
This still doesn't change my point.

[2020-05-22 13:19] raphaelsc commented on #6472
@ShlomiBalalis could u please share the logs?

[2020-05-22 13:23] raphaelsc commented on #6472
@glommer I think this could be a bad interaction between interposer consumer and garbage collected writer. Multiple consumers would use the same GC writer in parallel, potentially resulting in 1 consumer freeing the writer, and another one finding it freed.

I think TWCS could be incorrectly using GC writer because its interposer may have compaction generate more than 1 SSTable in a single compact

[2020-05-22 13:24] mmatczuk commented on #6245
I found:

[code]

[2020-05-22 13:51] glommer commented on #6472
It is possible, but compactions should not use an interposer unless it is either a resharding or TWCS. The logs are attached to the initial message, let's fetch them @raphaelsc

[2020-05-22 14:04] dyasny opened #6492 "4.0 replace dead node: init - Startup failed: std::runtime_error (Cannot replace token -2586637851476083025 which does not exist!)"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.0.0-0.20200505.d95aa77b62 with build-id c9cf14d33523aca01a1ba502a91eb9d400de9c34
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI/CentOS7

t3.xl using gp2 SSD only

I lost a node in a 4 node cluster, and tried to replace it with a new node.
Following the procedure, added `replace_address_first_boot` with the IP of the

[2020-05-22 14:08] raphaelsc commented on #6472
@glommer my theory is that it's exactly TWCS triggering it. CDC table has recently switched to TWCS and this issue was found while running CDC test.

[2020-05-22 14:09] glommer commented on #6472
Okay. So the main table is on SCTS, but because it has CDC that switched to TWCS already (have you verified that it did, in the hash tested?), TWCS triggers this bug.

It's a good theory, let's keep pursuing

[2020-05-22 14:19] dyasny commented on #6492
[code]

system.peers:

[code]

scylla.yaml on the replacing node:

[code]

[2020-05-22 14:40] dyasny commented on #6492
[code]

[2020-05-22 14:45] glommer commented on #6472
This is a showstopper for the release because it can crash the entire cluster at once.

[2020-05-22 14:52] slivne commented on #6492
please include the schema - you have a keyspace with RF=1 ?

On Fri, May 22, 2020 at 5:40 PM Dan Yasny <notifications@github.com> wrote:

[2020-05-22 14:55] dyasny commented on #6492
@slivne

[code]

[2020-05-22 17:11] slivne commented on #6492
Desc full schema you are missing the system keyspaces

On Fri, May 22, 2020, 17:55 Dan Yasny <notifications@github.com> wrote:

[2020-05-22 17:29] dyasny commented on #6492
Those were at the default. I don't have the cluster any longer, had to restart it from scratch

[2020-05-22 18:25] alienth commented on #6486
A new node started crashing today on the same CF, so seems like this is definitely some data corruption bug that is somehow unique to that CF. It's a thrift-built CF, so no special schema. Unfortunately I can't upload the sstables without legal clearance, so going to try and troubleshoot myself.

I've resolved the backtrace, which can be found here: https://gist.github.com/alienth/2f3d0d486255f432

[2020-05-22 20:18] raphaelsc commented on #6472
CDC log has already switched to TWCS in the shared commit hash, and I was able to bump into this exact segfault by running a workload where interposer and gc writer were both enabled for a particular compaction.

[2020-05-22 20:36] espindola commented on #6075
Avi Kivity <notifications@github.com> writes:

It has absl::node_hash_map and absl::node_hash_set. Those allocate a
node per value and the table has pointers.

It also has btree_map and bstree_set which should avoid large allocation
even for very large tables.

Cheers,
Rafael

[2020-05-22 20:39] espindola commented on #6075
Avi Kivity <notifications@github.com> writes:

I would try absl::btree_set or, if we want to keep the hash, a simple
wrapper over btree_multiset from hash to (key,value).

Cheers,
Rafael

[2020-05-22 20:43] dekimir opened #6493 "features::UNBOUNDED_RANGE_TOMBSTONES has suboptimal name"
When `gms::features::UNBOUNDED_RANGE_TOMBSTONES` is disabled, Scylla must reject DELETE statements that don't bound the clustering key from both sides.  The testcase [`test_invalid_range_deletion`](https://sourcegraph.com/github.com/scylladb/scylla@c29ccdea7e74dd5a8894a6f3186592eb56d7ec2a/-/blob/test/boost/cql_query_test.cc?subtree=true#L1095:19) checks this and currently passes.

But there is som

[2020-05-22 22:33] dekimir commented on #6493
One complication is that `UNBOUNDED_RANGE_TOMBSTONES` is disabled by default, but startup executes this statement: `DELETE FROM system_schema.keyspaces USING TIMESTAMP 1590185870213731 WHERE keyspace_name = ?` and expects it to succeed.  If we change the code to consider this unbounded, we'll have enable UNBOUNDED_RANGE_TOMBSTONES.

[2020-05-23 15:09] yckbilly1929 commented on #5638
thanks a lot, it solved my problem after upgrading to Ubuntu 20.04 from 18, where /etc/sysctl.conf was replaced

[2020-05-24 00:04] #6040 closed

[2020-05-24 05:19] bhalevy commented on #4442
@slivne I took @penberg's patch and taking from there.
There's more into it (like fixing the way we generate min/max clustering keys metadata to be compatible with the md format)

[2020-05-24 06:14] fruch commented on #6492
@dyasny
sounds a bit like:
https://github.com/scylladb/scylla/issues/4325

were the other node were up ?, seem like there was a talk there to remove this check...

[2020-05-24 06:54] slivne commented on #4442
@bhalevy if there are bugs "fixing the way we generate min/max clustering keys metadata to be compatible with the md format" - please open them and reference

[2020-05-24 06:56] avikivity commented on #6040
Backported to 3.3, 4.0, 4.1.

[2020-05-24 06:56] nyh commented on #6490
@Orenef11 noticed a different error in other tests for unsupported ComparisonOperator:
 "An error occurred (Internal Server Error) when calling the Query operation (reached max retries: 9): Internal server error: fmt::v5::format_error (argument index out of range)"
Having an "internal error" like this (basically, an uncaught exception) is even more frustrating to users than the usual unhelpful err

[2020-05-24 07:01] slivne commented on #5638
@yckbilly1929 which scylla version are you running - this was supposed to be fixed in 3.3 and 4.0 and work out of the box.

[2020-05-24 07:15] yckbilly1929 commented on #5638
i am working on a local machine and installed through container image
version:
3.2.3-0.20200315.89deac77958

[2020-05-24 07:46] slivne commented on #5638
@yckbilly1929 thanks, it is indeed not fixed in 3.2 (and will not be) so all is clear.

Please note 3.2 reached its End Of Life. We only support two latest releases (currently 3.3, 4.0).

[2020-05-24 09:29] bhalevy commented on #4442
I think we can just put it under this issue since it's basically incompatibility with Cassandra's md format.

[2020-05-24 09:41] slivne commented on #6472
@raphaelsc / @glommer is this fixed by https://github.com/scylladb/scylla/commit/2f0f72025e66256fc906ac7646805e7caf81b970 ?

[2020-05-24 09:46] slivne commented on #6182
closing this issue if we hit this in 4.1 (that has repair-vased-operations enabled) - please create a new issue

[2020-05-24 09:46] #6182 closed

[2020-05-24 11:49] bhalevy opened #6494 "gdb 8.3.50.20190824-30.fc31 cannot find shared libraries with our patchelf'ed test binaries"
I tried debugging a coredump of build/release/test/boost/database_test_g
Scylla version based on 076c8317c78c4cd0cf1dbe70e3da206a14d75326
[code]

Unfortunately setting the interpreter using patchelf didn't help either:
[code]

[code]

[code]

[2020-05-24 12:21] avikivity commented on #6409
@tgrabiec do you know what those 32k allocations are?

Of course that's a minor point compared to those 91k segment managers.

[2020-05-24 12:34] bhalevy commented on #6494
happens also with dbuild

[2020-05-24 12:36] nyh commented on #6490
Another ugly error message from KeyConditions: if we use the wrong type of parameter - e.g.,, a sort key is a string but we query for an int value, Alternator gives the obscure:

"JSON error: condition not met: false"

While DynamoDB says:
"One or more parameter values were invalid: Condition parameter type does not match schema type"

[2020-05-24 12:40] roydahan commented on #5528
still happens according to @fgelcer on Scylla version: 4.0.0 (ami-051dae22d072367be)

[2020-05-24 12:47] roydahan commented on #6354
Something is wrong with how we start the cluster.
We need to understand if it's started happening due to timing changes or issue in scylla.

@amoskong, IIRC we first start the seed and then start all the other nodes together.
They somehow should manage to start one by one, right?

[2020-05-24 13:00] raphaelsc commented on #6472
On Sun, May 24, 2020 at 6:42 AM Shlomi Livne <notifications@github.com>
wrote:

no, i came up with that patch as part of my investigation and also serves
the purpose of hardening compaction code, to avoid similar problems in the
future. My patches to fix this issue should be released by tomorrow.

[2020-05-24 13:02] nyh opened #6495 "Alternator: KeyConditions with "bytes" value doesn't work"
The functions calculate_pk_bound() and calculate_ck_bound() used in the implementation of Query's KeyConditions (but *not* KeyConditionExpression)) incorrectly parses the condition's parameter: it uses

[code]

This not only results in a meaningless "condition not met: false" error (see issue #6490) when attrs doesn't have the expected member (for the desired type), but also does the wrong thing f

[2020-05-24 15:24] fgelcer commented on #5647
we had 1 success on terminate_and_replace and 1 failure.
the success one took around 3.5 hours.
during the 1st replace nemesis we have a running repair, and then we have suppressed messages, so no info about repair finishing:
[code]

the 2nd one failed with spot termination

[2020-05-24 15:25] fgelcer commented on #5647
i'm running it from few thousands of km, as it is running on North Ireland :-)

[2020-05-24 15:25] fgelcer commented on #5647
@roydahan , shall i re-run the job, with on_demand to have the terminate_and_replace running more than once?

[2020-05-24 15:33] roydahan commented on #5647
Yes, and you didn't report on the throughput fluctuations this bug is talking about...

[2020-05-24 16:23] fgelcer commented on #5647
there is a different fluctuation in the latest test, but as it got spot termination, then we don't know what was supposed to happen:

![throughtput](https://user-images.githubusercontent.com/32832995/82759132-f1f1f080-9df3-11ea-9373-78fb06fc2b51.png)

i will re-run it with on_demand to try to reproduce the issue

[2020-05-24 17:23] bentsi opened #6496 "Load failed with std::system_error (error system:32, sendmsg: Broken pipe)"
*Installation details*
Scylla version (or git commit hash): `666.development-0.20200521.c29ccdea7` with build-id 4e3de54c9e8a65011446f42451dd6266212d02e
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-000ea26cf6685813a [eu-west-1]

Stress command that was running on Loader `longevity-100gb-4h-master-loader-node-6bb58cd8-1 [34.251.207.212 | 10.0.128.213]` failed at `2020-05-22 05:37:39,276`
[c

[2020-05-24 17:31] roydahan commented on #6496
@slivne, I don’t know if it’s the same as #6104 but the effect here was critical as it failed the write load (CL=Quorum and one node had nemesis).

[2020-05-24 17:35] roydahan commented on #6496
@bentsi I'm not sure if the broken pipe is the cause or just the result.
AFAIK, when client disconnects we may see this “broken pipe” error.
So, it may be the result of the real issue and not the issue itself.

[2020-05-24 17:50] bentsi commented on #6496
agree. @dkropachev can you help us understand the Java Exception:

[code]
Which action did C-S to perform?

[2020-05-24 19:32] bentsi commented on #6496
The issue happened on another [run](https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-200gb-48h/37/consoleFull) with the same Scylla version (logs `hydra investigate show-logs 5ec552e9-acdb-4362-9098-3a4f7d5f365b`)
[code]

Searched all the Db logs (`grep  "2020-05-22T06:04:0[0-5]" */*`) around the time of the issue

longevity-200gb-48h-verify-limited--db-node-5ec552e9-1
[c

[2020-05-24 19:40] bhalevy commented on #6446
This was deemed valid since C++17, so closing the issue.
See https://github.com/bhalevy/seastar/commit/321d9ef470865ae35a135edfd6f5b9772dbc6732

[2020-05-24 19:40] #6446 closed

[2020-05-24 19:50] #6421 closed

[2020-05-24 19:59] slivne commented on #6486
backterace

[code]

[2020-05-24 20:01] slivne commented on #6486
@tgrabiec can this be related to your fix for https://github.com/scylladb/scylla/issues/6040 ?

[2020-05-24 20:05] slivne commented on #6462
@syuu1228 ping

[2020-05-24 20:06] slivne commented on #6460
We are leaving this issue open we need to see if we can find a different (and faster( way to lock the memory

This should not block the releases

[2020-05-24 20:10] slivne commented on #6460
this was added in scylladb/seastar@c15055cbb8fe50a3b2249febebef4fc9c6a44962

@avikivity any suggestion on what we should try ?

[2020-05-24 21:27] nyh commented on #6460
Just a thought:

We use `mlockall()` to ensure that when it's done, Scylla can no longer block on page faults. But the price is that Scylla will block doing a gazillion soft page faults **now**, during the `mlockall()` call.
Maybe something we could do instead is to run a (preemption-timer-honoring) loop doing mlockall() on small chunks of memory. If this works, instead of Scylla being stuck for o

[2020-05-24 21:59] nyh commented on #6460
A second idea: (if it works, it's much simpler)

Can we create a separate thread (real Linux thread) and call mlockall() in that thread instead of directly in the main thread?

Yes, if this thread uses CPU it will block Scylla's threads once in a while, and not obey our latency goals, but I am hoping that during startup this will be acceptable - especially if during startup we have a lot of idle C

[2020-05-25 00:47] asias commented on #6351
Patch is being reviewed.

[2020-05-25 05:24] haaawk opened #6498 "Create a nodetool command to check CDC streams and regenerate them if needed."
This will be a way to check that CDC streams are correct and repair them in case something went wrong.

[2020-05-25 05:41] avikivity commented on #6486
@alienth please check if you have any files named *Index.db that are 4GB in size or larger.

[2020-05-25 06:01] nyh commented on #6421
Backported to next-4.1 (6d1301d93ce814b61d7f5c73f895585d9dc5ab5c), would be useful together with the fix to #6452 which would also be backported to 4.1
Not backporting to 4.0 where the default will remain always_lwt (originally we wanted to do this for 4.0.1, but since 4.1 is coming out quickly, better do it in 4.1 instead).

[2020-05-25 06:41] slivne commented on #6498
@haaawk to make it clearer - is this command supposed to run on all the nodes in the cluster / one of the nodes in the cluster ?

[2020-05-25 06:57] haaawk commented on #6498
One node. If needed, user can run nodetool on selected node or all of them one by one.

[2020-05-25 06:57] dkropachev commented on #6496
@bentsi ,
This trace:
java.lang.RuntimeException: Failed to execute stress action
        at org.apache.cassandra.stress.StressAction.run(StressAction.java:101)
        at org.apache.cassandra.stress.Stress.run(Stress.java:143)
        at org.apache.cassandra.stress.Stress.main(Stress.java:62)

 is thrown whenever c-s failed to run any operation more than errors.tries, which is 9 by default.

This

[2020-05-25 07:01] dkropachev commented on #6496
So basically broken pipe is normal to see when c-s is stopped due to the any sort of excepton.
In this particular case original problem was in getting inconsistency errors more than {errors.tried} times, for one run/partition key.

[2020-05-25 08:10] asias commented on #6472
@raphaelsc could the compaction issue you found somehow cause compaction to end up  writing sstable without a partition_end?

[2020-05-25 08:17] avikivity opened #6499 "Commitlog replays non-commitlog files that happen to be in the commitlog directory"
If some files happen to be in the commitlog directory, commitlog replay will attempt to replay them. This can cause surprises as the files will not be in the expected format.

[2020-05-25 08:17] avikivity commented on #6499
Fixed by 2039b79664ba22d4f8d7dd376e6c5868093bfa1a

[2020-05-25 08:17] #6499 closed

[2020-05-25 08:19] asias commented on #6478
I couldn't find a theory how the end_of_stream would be written before the partition_end was written at the streaming level, even under different scenarios that error happened. I suspect the data on disk (sstable) miss the partition_end somehow.

I will dig more.

[2020-05-25 08:27] tgrabiec commented on #6409
@avikivity Maybe those are wait lists of semaphores, https://github.com/scylladb/seastar/issues/629

[2020-05-25 08:31] tgrabiec commented on #6486
Users says he gets this with a small (1MB) sstable, so it's not #6040.

@alienth What kind of read query are you issuing which triggers this?

[2020-05-25 08:35] avikivity commented on #6409
I think you're right. So we're back to trying to understand if it is indeed hints (seems likely) and if so what caused the problem.

[2020-05-25 09:49] avikivity commented on #6465
Backported to 3.3, 4.0, 4.1.

[2020-05-25 09:49] enaydanov opened #6501 "scylla_raid_setup: failed to get Linux distribution info"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

**Installation details**

Scylla version (or git commit hash): 666.development-0.20200524.076c

[2020-05-25 09:51] avikivity commented on #6394
Already backported to all active branches.

[2020-05-25 09:53] fgelcer commented on #5647
the monitor is alive for a limited time, and can be accessed in this [address](http://3.250.196.71:3000/d/UWA5JVzGk/scylla-per-server-metrics-nemesis-master?orgId=1&refresh=30s&from=now-12h&to=now&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All)

in any case, i took a [snapshot](https://snapshot.raintank.io/dashboard/snapshot/tewNOVYEIdrX3rrp7s6BJeAhem6KFZeq) of the monitor.

he

[2020-05-25 09:53] fgelcer commented on #5647
@glommer , @asias

[2020-05-25 09:55] avikivity commented on #6385
@bhalevy what's the relationship between 95acfd1d588afd03515f0284747420691f6c6b35 and the patch fixing this and ?

1. one introduced the bug, this patch fixes it
2. both are needed to fix the bug
3. they are unrelated, except for the textual conflict

It's easy enough to backport just the patch, but I'm worried that it's unneeded (1) or insufficient (2).

[2020-05-25 09:59] avikivity commented on #6363
Backported to 4.0, 3.3. 4.1 already has it.

[2020-05-25 10:01] avikivity commented on #6332
@tgrabiec please evaluate for backport

[2020-05-25 10:04] avikivity commented on #6297
I'd like to backport, but want a confirmation that a run with scylla-manager repair was performed on https://github.com/scylladb/scylla/commit/7c4562d532554438425d4c2a431ebcc732962d7e or later.

[2020-05-25 10:04] avikivity commented on #6297
@roydahan @ShlomiBalalis ^

[2020-05-25 10:04] avikivity commented on #6305
Not a bug, so not backporting.

[2020-05-25 10:06] avikivity commented on #6299
@tgrabiec please evaluate for backport

[2020-05-25 10:08] avikivity commented on #6265
Backported to 4.0. 3.3 appears not to have the problem, @elcallio please confirm.

[2020-05-25 10:09] avikivity commented on #6237
Very low probablility, so not backporting.

[2020-05-25 10:10] avikivity commented on #6235
Internal change, not backporting.

[2020-05-25 10:10] avikivity commented on #6233
Not a bug, not backporting.

[2020-05-25 10:12] avikivity commented on #6231
@nyh I agree we should merge streaming read and streaming write. Especially as they aren't isolated from the cpu perspective.

[2020-05-25 10:12] avikivity commented on #6231
Minor issue, not backporting.

[2020-05-25 10:16] ManManson opened #6502 "lwt: validate `frozen_mutation` schema version against the current schema before replaying locally in `paxos_state::learn`"
Paxos transactions store mutations in paxos tables in case the
transaction will need a repair. The mutation is stored using
frozen_mutation format. However, to deserialize frozen_mutation, one
needs to have a schema_ptr of the same version.

In the current implementation `paxos_state::learn` function calls
`mutate_locally` and doesn't check the schema version that is
stored in the mutation against

[2020-05-25 10:18] ManManson commented on #6074
The bug can be triggered with the dtest from the following branch:
https://github.com/ManManson/scylla-dtest/tree/feature/paxos_schema_mismatch_test (`TestPaxos.schema_mismatch_mv_test`).

[2020-05-25 10:31] gleb-cloudius commented on #6502
We should not scatter checks sporadically everywhere. This will just
slow down innocent users. The check should be added at the root of the
problem in the begin_and_repair_paxos() where a mutation we got in in_progress
reply is adopted. We should check that it matches our schema. It is not
clear though what should we do if it does not? Just throwing an
exception will not resolve the situation with

[2020-05-25 10:41] avikivity commented on #6098
cdc=experimental, so not backporting.

[2020-05-25 10:42] avikivity commented on #6073
cdc=experimental, not backporting this big change.

[2020-05-25 10:43] avikivity commented on #6070
cdc=experimental, not backporting this big change.

[2020-05-25 10:43] gleb-cloudius commented on #6502
Same when we try to repair most_recent_commit. We should check that the
schema matches. Here if we no longer have the same schema we can force
read repair and prune old mutation from paxos table.

--
			Gleb.

[2020-05-25 10:44] avikivity commented on #6049
Already in 4.0, not backporting.

[2020-05-25 10:47] avikivity commented on #6022
@asias I think 3.3 is not vulnerable, can you confirm?

Removing backport label meanwhile.

[2020-05-25 10:48] avikivity commented on #5907
No vulnerable branches.

[2020-05-25 10:49] avikivity commented on #5744
cdc=experimental, not backporting.

[2020-05-25 10:50] elcallio commented on #6265
3.3 (and older I presume) still have the subscription-returning variant, so not susceptible, no.

[2020-05-25 10:57] avikivity commented on #5541
Older releases got aged out.

[2020-05-25 11:09] kbr- opened #6505 "CDC: ttls don't show up for collection updates"
[code]

`cdc$ttl` should be `5`.

[2020-05-25 11:21] bhalevy commented on #6385
@avikivity they aren't directly related. They are fixing different causes for a similar issue.

95acfd1d588afd03515f0284747420691f6c6b35 is part of the fix to #6221 (merged in 280854ab46344e5db16f95ca6989d5763f2d928b)  and it is in 4.1.rc0 already.

In any case, backporting any of them and not the other will be insufficient.

[2020-05-25 11:24] avikivity commented on #5238
Alrready backported.

[2020-05-25 11:31] avikivity commented on #5172
Backported to 3.3. (already in 4.0).

[2020-05-25 11:42] ShlomiBalalis commented on #6472
@raphaelsc

I included any available log from this run in the opening comment:

[code]
The nodes' logs are in `db-cluster`

@glommer

It uses Size Tiered Compaction Strategy

[2020-05-25 12:01] avikivity commented on #5248
Already present on all active branches.

[2020-05-25 12:19] kostja commented on #6375
Closing as duplicate of #6330, this issue describes the problem, while #6330 revolves around the solution, but #6330 is patch pending.

[2020-05-25 12:19] #6375 closed

[2020-05-25 12:20] juliayakovlev commented on #6309
@raphaelsc
I got this error when run truncate manually on the cluster that run large partition test.
![Screenshot from 2020-05-25 15-13-46](https://user-images.githubusercontent.com/34435448/82811951-9d558080-9e9a-11ea-8db9-0aabddab46b1.png)

Cluster is alive now. I set debug level as you asked:
[code]

There is not error in the journalctl. This is print that I fount in the journalctl:
[code]

You

[2020-05-25 12:37] slivne commented on #6359
@slivne ping ...

[2020-05-25 12:55] raphaelsc commented on #6309
I'd appreciate if you could upload the full logs from the node which truncate was issued against.

[2020-05-25 13:11] juliayakovlev commented on #6309
@raphaelsc
[node1_journalctl.log.tar.gz](https://github.com/scylladb/scylla/files/4677299/node1_journalctl.log.tar.gz)

[2020-05-25 13:25] dyasny commented on #6492
@fruch all the nodes were shut down for the night, in the morning one was missing from AWS, so I created a new node and tried to perform the replace-dead-node procedure. Which lead to this bug being open :)

[2020-05-25 13:27] raphaelsc commented on #6472
On Mon, May 25, 2020 at 5:10 AM Asias He <notifications@github.com> wrote:

BTW, this bug can only be triggered with interposer feature enabled (only
TWCS or *recently* in master with resharding). What's happening here is
that concurrent access to a shared resource is leading to use-after-free.
Don't think that could cause us to miss a partition end in an output
sstable.

[2020-05-25 13:54] kbr- commented on #5272
@dekimir

Looks better indeed, but still, the most painful thing for me, which is defining all these types and defining helpers for value decomposition, is still there :(
[code]

The nicest thing IMO is if we had dtest-like tests in Python, so each retrieved row is a list/tuple of values, each of the appropriate type (according to the table specification). Which is what @nyh suggests, if I underst

[2020-05-25 14:09] dekimir commented on #6493
@eliransin tells me that this is just a terminology bug, but the code is correct as it stands.  Queries deleting an entire partition are always allowed, even with the old sstable format (ie, `UNBOUNDED_RANGE_TOMBSTONES` disabled).  Furthermore, at startup time, the feature should be disabled, as we don't know if there are other nodes in the cluster that don't support it.

/cc @bhalevy

[2020-05-25 14:16] penberg commented on #6204
@syuu1228 If I understand correctly, this issue is fixed in 3.3 by commit 46681753cd43dd563cceea4fe422b44a77230de2 and we can just backport that to fix 3.2?

[2020-05-25 14:17] penberg commented on #6204
Btw, thanks for reporting and analyzing the issue, @Qsick!

[2020-05-25 14:23] nyh commented on #5028
I added `test_query_filter.py` with a comprehensive test suite for the `QueryFilter` feature requested in this issue.
Testing `Scan` would be similar, but probably not necessary to this level of detail.
The tests in `test_query_filter.py` exercise all the parts we implemented and the parts we didn't: 32 tests all pass on DynamoDB, but 21 still xfail on Alternator.

The new tests show that our impl

[2020-05-25 14:52] dekimir commented on #5272
Agreed, though a lot of the helper code can be generalized and factored out into cql_assertions.hh.  I do a bit of that almost every time I touch the testing code.

Yes, our views are slowly converging on an email thread.  I might send out an RFC for it one of these days, when I catch a spare moment.

... for your usecase.  But it seems to work well enough for a lot of other Scylla usecases _and_

[2020-05-25 14:57] fruch commented on #6359
Can you clarify whom you are pinging ?

[2020-05-25 15:08] fruch commented on #6492
but all those other nodes were up and running when you started the procedure ?

trying to figure the exact case, and where we might be able to reproduce it  the easiest. (hopefully dtest)

[2020-05-25 15:19] dyasny commented on #6492
of course. You can see the cluster state in https://github.com/scylladb/scylla/issues/6492#issuecomment-632717344

[2020-05-25 15:19] nyh commented on #5272
I strongly agree with Kamil, though since some people (such as @kostja and you) prefer the textual method, I don't think it should be outlawed. I just don't understand why you or anyone *prefers* it.

The benefits of a writing tests in a programming language - in Python or the C++ tests which started this thread - go beyond just being able to do calculations. In my view, the biggest benefit of wri

[2020-05-25 15:20] kostja commented on #6405
Checked the source, closing as Won't fix.

[2020-05-25 15:20] #6405 closed

[2020-05-25 15:21] bhalevy opened #6507 "reload_certificates_test: Missing: ['^.*cql_server.*Reloaded.*ccm_node\\.pem\\.*']"
Dtest failed in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/490/testReport/native_transport_ssl_test/NativeTransportSSL/reload_certificates_test/
scylla version 076c8317c78c4cd0cf1dbe70e3da206a14d75326
scylladb/scylla-dtest@df06c04d7dce4f8ac3240866635f5c80b184158f
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/493/artifact/logs

[2020-05-25 15:25] bhalevy commented on #6507
Note that this test failed once more recently and the failure looks slightly different.

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/490/testReport/native_transport_ssl_test/NativeTransportSSL/reload_certificates_test/
Scylla version 0673e44fc1e6587e0154a7644f317a8c86e03fa4
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/490/art

[2020-05-25 15:42] slivne commented on #6204
3.2 is EOL - we will not backport or spin new releases for it

[2020-05-25 15:57] dekimir commented on #5272
Actually, I don't prefer it.  I just keep seeing it again and again across many projects, so I conclude that a) it's clearly valid, and b) it's worth my while to understand why.  I suspect those who rely on it would agree with you that readability is paramount, but they consider loops, test harnesses, intricate asserts, and all other collars around the actual input and output to be readability-red

[2020-05-25 16:19] aleksbykov commented on #5528
Issue again reproduced on
Scylla version 666.development-0.20200520.0673e44fc with build-id 218273df61455a7baafb497c6a4a282f7aa88f48

scylla cluster with configured cdc enabled. several cassandra stress commands were run in parallel:
[code]

[code]

db.logs:
https://cloudius-jenkins-test.s3.amazonaws.com/34258e4f-dd6c-4083-a51b-e528e5728d87/20200521_074534/db-cluster-34258e4f.zip

[2020-05-25 16:47] avikivity commented on #6460
It will block everything, since locking is done under mmap_sem.

[2020-05-25 18:15] nyh commented on #6460
Hmm.... It appears there has been a series trying to fix this, but I don't know what ever became of it: https://www.phoronix.com/scan.php?page=news_item&px=Kernel-Spec-Page-Faults-V12

So how about my first idea? calling mlock() gradually on all the memory we know about, in small pieces (potentially finishing it off with an lockall() at the end)? Could this make sense?

[2020-05-25 18:37] gibsn commented on #6409
we disabled HH on Friday and since then we had no issues

[2020-05-25 18:39] fruch commented on #6501
@avikivity I think that the update to of dbuild to Fedora 32, is causing this:
https://github.com/scylladb/scylla/commit/a61b3f2d78e0ae30426ad188ee51e96813301b05

I find it weird that we deliver the relocatable python stright from the Fedora distro, I thought we are building it on our own, like what was written in the blog about it...

Any we should think of a way to test/lint all our python code

[2020-05-25 18:53] bentsi commented on #6496
closing this issue since "Broken pipe" is unrelated. Will open a new one with the investigation of the root cause

[2020-05-25 18:53] #6496 closed

[2020-05-25 19:44] bentsi opened #6508 "Quorum write timeouts and fails when adding column on the stressed table"
*Installation details*
Scylla version (or git commit hash): `666.development-0.20200521.c29ccdea7` with build-id 4e3de54c9e8a65011446f42451dd6266212d02e
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-000ea26cf6685813a [eu-west-1]
SCT test id:  5ec552e9-acdb-4362-9098-3a4f7d5f365b
Live monitor: [link](http://99.81.48.181:37296/d/1xC8FDkGk/scylla-per-server-metrics-nemesis-master?orgId=1&from=

[2020-05-25 20:08] slivne commented on #1817
closing this issue

[2020-05-25 20:08] #1817 closed

[2020-05-25 20:34] slivne commented on #3300
@avikivity / @tgrabiec - shuld we prioritze this for overloading / cache enhancements - or defer it to later releases ?

[2020-05-25 20:39] alienth commented on #6486
@tgrabiec The node crashes as soon as it starts and I _think_ before it's accepting read queries (haven't confirmed that, though).

The queries that hit this CF are just standard thrift `get` calls fetching down a single partition.

[2020-05-25 20:39] bentsi commented on #6508
the same issue happened on another run on the same Scylla version but after different Nemesis called `RejectInterNodeNetwork` that blocks internode communication port 7000/7001:
[code]

[2020-05-25 21:00] tgrabiec commented on #6332
Seems safe for backporting.

Could bring a cluster down when hit, so we probably should backport.

[2020-05-25 21:12] slivne commented on #2956
Off strategy compaction should help in this case - we plan todo a compaction prior to adding the files - so this will mean fewer files will be loaded.

Needs to be rested once that is done https://github.com/scylladb/scylla/issues/5226

[2020-05-25 22:03] slivne commented on #3247
@xemul is working on moving cache and memtables to B+tree - this should be revaluated one this done and hopefully avi is correct (https://github.com/scylladb/scylla/issues/3247#issuecomment-369614963) and it "will be gone"

[2020-05-25 22:17] slivne commented on #1446
mc sstables provide:
- close to the same space saving benefits that are provided by compact storage
- they are also the default moving forward and should be used

reducing the priority of this issue

[2020-05-25 22:20] fruch commented on #6501
I've open https://github.com/scylladb/scylla/pull/6510, to help identify this kind of breakage in earlier stages

[2020-05-25 22:27] slivne commented on #3602
Support for collections has been enhanced pushing additional work on this to later releases

[2020-05-25 23:04] slivne commented on #4712
@avikivity / @glommer we need to decide on the direction
- dropping hints
- replaying them and differing the repair based operation till they have been replayed (at least some)

I want to assign the work on this

[2020-05-25 23:07] glommer commented on #4712
As already stated, my view is drop hints.

[2020-05-25 23:20] slivne commented on #6437
@roydahan please assign someone to fix the test

[2020-05-25 23:25] slivne commented on #6354
there is a pull request to fix this in master https://github.com/scylladb/scylla/pull/6484

[2020-05-25 23:26] slivne commented on #6354
Lets see that this works on master

[2020-05-25 23:27] slivne commented on #6354
@roydahan - do you enable experimental - if so please disable it.

[2020-05-25 23:38] slivne commented on #6192
we do have some stalls during boot - pushing this out to later releases

[2020-05-26 00:30] ShlomiBalalis commented on #6470
2 are passing and the ones that don't fail from different reasons. I believe we can close this issue

[2020-05-26 00:47] ShlomiBalalis commented on #6297
@avikivity
The 200gb-48 job of master this weekend, using `666.development-0.20200521.c29ccdea7` with build-id `4e3de54c9e8a65011446f42451dd6266212d02e0` ran a successful manager repair.

[code]

Logs:
[code]

[2020-05-26 01:04] raphaelsc commented on #6472
"[PATCH] compaction: Disable garbage collected writer if interposer consumer is used" was sent to mailing list to fix this issue.

[2020-05-26 01:10] Felix-zhoux commented on #6479
To answer some of your questions first：
1. I opened the trace log manually to see what happened.
2. With LWT enabled by default, whether my workload writes different items or the same items, the client will get some 500 responses.
3. After I turned off the LWT feature and wrote different items, I found that there were no more 500 errors on the client side, and the delay of alternator's putitem was

[2020-05-26 01:17] Felix-zhoux commented on #6479
I wonder why LWT can cause such a big delay, can we do some optimization for it?When LWT is enabled, the 99th percentile PutItem latency by Cluster in the alternator reaches 524ms. When LWT is turned off, the delay is only 2ms, which occurs when I write different items.

before
![image](https://user-images.githubusercontent.com/59597542/82851185-9cbbf900-9f31-11ea-9ef5-92da9fc6c39e.png)

after
![i

[2020-05-26 03:51] alienth commented on #6486
A few more details:

The CF contains a single partition with about 80k columns, all of which have TTLs. As such, the row is constantly rotating out old columns and having new ones written.

The single partition is read a couple hundred times a second.

Row cache is enabled.

The model was working fine for a few days before the crashing began. When that occurred I just failed back to C*, which has

[2020-05-26 04:15] amoskong commented on #5883
I can still see manager backup fail in latest longevity:
- job: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/longevity/job/longevity-2tb-4days-1Dis-2NonDis-Nemesises/2/

[code]

[2020-05-26 04:21] fruch commented on #5883
@amoskong why you do you think it's related to this issue ?

[2020-05-26 04:37] amoskong commented on #5883
I saw management backup fail in comment 0. It seems the error isn't completely same. It should be a different issue.

I will check if it's a new scylla issue.

[2020-05-26 05:53] bhalevy commented on #5942
Although repair-based ops are disabled by default in 4.0 / 2020.1 I'd consider backporting the fix there too, since it may be enabled in the field.

[2020-05-26 06:48] #6470 closed

[2020-05-26 06:55] roydahan commented on #6272
Happens in 4.1.
@amoskong please add the details here

[2020-05-26 07:06] slivne commented on #6272
@Amos Kong <amos@scylladb.com> I need the specific version this happens
with - to check if you have some fixes or not.

@Asias He <asias@scylladb.com> FYI

On Tue, May 26, 2020 at 9:56 AM Roy Dahan <notifications@github.com> wrote:

[2020-05-26 07:17] amoskong commented on #6272
Job: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/longevity/job/longevity-1tb-7days/2/
Monitor: https://www.google.com/url?q=http://34.242.46.157:3000/d/cX5PveRMz/scylla-per-server-metrics-nemesis-master?orgId%3D1%26refresh%3D30s%26from%3D1590094800000%26to%3Dnow%26var-by%3Dinstance%26var-cluster%3D%26var-dc%3DAll%26var-node%3DAll%26var-shard%3DAll&sa=D&ust=1590470536214000&usg=

[2020-05-26 07:57] slivne commented on #4940
Don't we have a similar mechanism today for hints - limit the number of in flight hints sent to other nodes (I am not sure if its per destination or not). Lets reuse that if we can.

[2020-05-26 08:00] aleksbykov opened #6511 "Segmentation fault on existing nodes during adding new node to clusters with cdc enabled"
*Installation details*
Scylla version (or git commit hash):666.development-0.20200520.0673e44fc with build-id 218273df61455a7baafb497c6a4a282f7aa88f48
Cluster size: 6 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-04d2848ff6d5c4a41

cluster configured with six nodes. scylla was configured with cdc feature. Job link https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h

[2020-05-26 08:16] slivne commented on #3156
@gleb-cloudius - any suggestion on how to fix this ?

[2020-05-26 08:27] gleb-cloudius commented on #3156
I already provided my insight above, no? The only real issue with speculative retry is that we assume they are rare and do not have throttling for background reads. We should implement the throttling.

[2020-05-26 08:37] amoskong commented on #6272
scylla-4.1.rc0-0.20200520.a1c15f06902.x86_64 already contained https://github.com/scylladb/scylla/commit/4d68c5338983f8a2e73e2cc80658829ecc28a078  (repair: Fix race between write_end_of_stream and apply_rows) from @asias

[2020-05-26 08:46] xemul commented on #3247
For the record. The patchset "switch partitions cache from BST to B+" addresses similar issue, but with cache_entry/memtable_entry -- eviction is logN there with std::set and is constant with B+.

[2020-05-26 08:51] kostja commented on #6257
Can't repeat, closing until it reprodues again.

[2020-05-26 08:51] #6257 closed

[2020-05-26 09:27] slivne commented on #3156
@gleb-cloudius thanks, please reference the issue describing the "throttling for background reads"

[2020-05-26 09:28] dkropachev opened #6512 "LWT throughput dropped in twice on 4.1.rc0 (0760107b9fa) for DELETE and INSERT"
TestId: 5da131c2-5d2e-4b59-85ef-23be3a86c196
Dataset: small

INSERT results:
dropped from 12473.00 (4.0.rc3) to 5488.00
![INSERT](https://user-images.githubusercontent.com/40304587/82882577-73b85a00-9f6b-11ea-914a-0c94ab1fa22f.png)

DELETE results:
IF <condition> - dropped from 12473.00 (4.0.rc3) to 5488.00
IF <exists> - dropped from 12882.00 (4.0.rc3) to 5405.00
![DELETE](https://user-images.gith

[2020-05-26 09:37] xemul commented on #3247
Also, not only moving is expensive, but also eviction (which implies erasure by node iterator) is logN as it also walks up the root of the in destructor.

[2020-05-26 09:49] gleb-cloudius commented on #6512
Insert, update and delete have the same throughput which is expected.

[2020-05-26 09:53] gleb-cloudius commented on #3156
On Tue, May 26, 2020 at 02:27:59AM -0700, Shlomi Livne wrote:

May be the oldest still open one (besides #1).

https://github.com/scylladb/scylla/issues/673

--
			Gleb.

[2020-05-26 09:55] yarongilor opened #6513 "Alternator: modifying write-isolation tag is not propagated to a node of another DC"
*Installation details*
Scylla version: 4.0
Cluster size: 6 nodes (3 per DC)
OS (RHEL/CentOS/Ubuntu/AWS AMI): Dtest

scenario:
1. set write-isolation = 'forbid' to table 'user-table' (via node1 resource of dc1 )
2. Issue a wait for new tag value to be updated (on node2 resource of dc2)
==> result: the table tag is not updated for 30 seconds timeout threshold (failing the test).

full Dtest is:
http

[2020-05-26 09:56] rjeczalik opened #6514 "alternator: make http server elb-aware - idea for research"
During today's cloud meeting we had an idea for an improvement to eliminate one hop on the typical network call path.

With LB-enabled Alternator cluster the call path looks like the following:

client -> load balancer -> coordinator -> replica

There's was an idea worth researching of using AppCookies for ELB (stickiness features): if the backend (scylla-server) sets proper session cookie, then A

[2020-05-26 09:56] rjeczalik commented on #6514
cc @tzach @nyh

[2020-05-26 10:08] nyh commented on #6513
@yarongilor can you please write a test specifically for this issue - i.e., write the tags on dc1 and not how they are not readable on dc2? You can strip anything irrelevant from this test (no need to actually do a conditional update, no need to have more than one node on each dc, etc.) to have a clean reproducer for this issue.

[2020-05-26 10:08] yarongilor commented on #6513
[node1_system.log](https://github.com/scylladb/scylla/files/4681418/node1_system.log)
[node4_system.log](https://github.com/scylladb/scylla/files/4681420/node4_system.log)

[2020-05-26 10:21] yarongilor commented on #6513
Added a new test "test_modified_tag_is_propagated_to_other_dc" in:
https://github.com/scylladb/scylla-dtest/blob/4ab73604afbf2cc84fd762eac34811ee8f751024/alternator_tests.py#L269

[2020-05-26 10:26] yarongilor commented on #6513
[system.log](https://github.com/scylladb/scylla/files/4681502/system.log)
[system.log](https://github.com/scylladb/scylla/files/4681503/system.log)

[2020-05-26 10:51] tgrabiec commented on #1446
@slivne compact storage is not just about saving space in sstables, it is also a thrift-compatibility mode which affects the shape of data as seen by the thrift API. You'll get different results for the same state of the database without `compact storage`.

[2020-05-26 11:44] amoskong commented on #5459
Hi @psarna

This version (4.1.rc0-0.20200520.a1c15f06902) already contained https://github.com/scylladb/scylla/commit/f48e414eab8a2947974bcb818648146dd2b78c88
[PATCH] db, view: remove duplicate entries from pending endpoints
related issue: https://github.com/scylladb/scylla/issues/5459

But I can still see the broken_promise errors:

< t:2020-05-24 16:12:51,336 f:cluster.py      l:1409 c:sdcm.clus

[2020-05-26 12:06] slivne commented on #4703
@avikivity - I think you had some suggestion around this (and also CQL syntax to provide the limits) - yet I maybe mistaken.

[2020-05-26 13:46] fgelcer opened #6515 "storage_service - Disk error: std::system_error (error system:61, No data available) with no apparent reason"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.0.1-0.20200524.8d9bc57aca6 with build-id 778b5fddea1d144ace993fe09de0ef6f050bafe6
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b5e73fd332621b16

those are the nemesis that ran on the node that failed, much before the related failure:
[code]

here is the failure, that i found in its log:
[code]

here the full list

[2020-05-26 14:47] slivne commented on #6462
@syuu1228 closing this - others have tried and succeeded, if there is still an issue please post with additional information

[2020-05-26 14:47] #6462 closed

[2020-05-26 14:54] juliayakovlev commented on #6508
Same problem received with Scylla version ```4.0.1-0.20200524.8d9bc57aca6 with build-id 778b5fddea1d144ace993fe09de0ef6f050bafe6``` (ami-0b5e73fd332621b16, eu-west-1)

Nemesis: RejectInterNodeNetwork

[code]

A lot of WriteTimeoutException:
[code]

And after 25 sec c-s reported about IOException and after about 2 minutes got a Prometheus error about high latency.

[code]
[code]

Load on one of loa

[2020-05-26 14:54] slivne commented on #6396
@ShlomiBalalis ping - why did  we expect the repair to pass - if it shouldn't have passed - please close the issue

[2020-05-26 14:55] slivne commented on #6348
closing

[2020-05-26 14:55] #6348 closed

[2020-05-26 15:07] tgrabiec commented on #6486
@alienth I understood that the crash is during a read from one of your app's tables. Scylla doesn't read from user tables on its own during boot so it must be some external query triggering this.

What's the schema of the CF involved in the crash?

To get to the root cause we may need the core dump.

[2020-05-26 15:12] dkropachev commented on #6512
@gleb-cloudius
Could you explain that, why it is expected to see numbers twice less than on prior version ?

[2020-05-26 15:14] slivne commented on #6508
@bentsi / @juliayakovlev - the schema change and network issue are two different cases - please split them apart.

We need for the 7001 block network port issue
- schema (to check you have speculative retry) ...

[2020-05-26 15:14] tgrabiec commented on #3300
@slivne I'm not sure if we have evidence of hitting this in the field. It can be verified by looking at metrics (concurrent_misses_same_key)

[2020-05-26 15:22] gleb-cloudius commented on #6512
Didn't we investigated it earlier and found out that during insert unlike during update we had a lot of condition unmet cases? Now both cases met and unmet do the same amount of work.

[2020-05-26 15:36] slivne commented on #6263
nodetool compact indeed moved all to mc but may have also removed tombstones as well.

[2020-05-26 15:42] avikivity commented on #3300
Agree it should be evidence based.

[2020-05-26 15:56] bhalevy commented on #4469
Still hit in 4.1
https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/dtest-release/15/testReport/materialized_views_test/TestMaterializedViews/multi_mvs_on_different_populated_base_tables_test/

[2020-05-26 16:40] tgrabiec commented on #6299
It's a high-risk change and the problem has been in Cassandra from the beginning. I'd say we don't backport.

[2020-05-26 17:59] tzach commented on #4826
@gleb-cloudius why do we need this?

[2020-05-26 18:02] tzach commented on #3974
This is possible via mount
[code]

[2020-05-26 18:02] #3974 closed

[2020-05-26 18:03] tzach commented on #3879
@avikivity if you are against this, please close the issue

[2020-05-26 18:05] tzach commented on #3780
@nyh I understand we can enable this (correctly) but I'm not sure why
In what use case is this useful?

[2020-05-26 18:07] tzach commented on #3689
@amnonh @mmatczuk is this still relevant?
if not please close

[2020-05-26 18:08] tzach commented on #3264
AFAIU this is supported with latest AMI.
@noamha can we close this?

[2020-05-26 18:09] tzach commented on #3179
@bentsi AFAIU this is part of latest AMI. Is it the case?

[2020-05-26 18:11] tzach commented on #3106
@amoskong was this ever merged?

[2020-05-26 18:11] tzach commented on #2654
@penberg can you please look into this?

[2020-05-26 18:13] psarna commented on #5459
Hm, if it's the same error, then that could only happen if a local endpoint ends up on the pending_endpoints list... Is that possible? Perhaps it is - replica X can receive user's write request and generate an update for its paired endpoint Y, but the pending endpoint for this key is actually X due to range movements. I have no idea if this scenario is feasible, @asias? If it is, then it can be ha

[2020-05-26 18:13] tzach commented on #2556
server.

Was this ever enabled?

[2020-05-26 18:14] tzach commented on #2456
AFAIK this was done. @asias ?

[2020-05-26 18:15] tzach commented on #2285
Dup with #5830

[2020-05-26 18:15] #2285 closed

[2020-05-26 18:16] tzach commented on #2141
@asias now that repair base operation is done, can we close this issue?

[2020-05-26 18:18] vladzcloudius commented on #4940
@slivne We definitely have it - the max outstanding (send) hints is limited in a per-shard level (not per-destination). See `manager::end_point_hints_manager::sender::send_one_hint()`.

[2020-05-26 18:19] tzach commented on #1244
Dup with #2456

[2020-05-26 18:51] alienth commented on #6486
Hi @tgrabiec ,

It's just a thrift-built table, so schema is

[code]

Yeah, kinda what I suspected. I'm trying to pry open the core dump myself but hitting a separate tooling issue. Hoping once I can get that resolved I can pick the core dump apart to find the trouble.

[code]

Unfortunately I can't share the core dump without getting legal clearance.

[2020-05-26 19:11] nyh commented on #3780
I explained in my proposal above in which situation this can be useful - just for doing a repair before a "nodetool remove" operation, with one of nodes dead, and doing this repair as efficiently as possible (doing a full repair, without "-pr", on all the nodes, repeats the same work multiple times, so is not as efficient as possible). Note how (as I explain) normally, you can't use "nodetool repa

[2020-05-26 19:42] nyh commented on #6514
This will be very complicated to implement, for several reasons:

First, it's important to realize that usually, when we're talking about a "sticky session", the idea is send many requests from the same client to the same server. But here, you want to do something completely different: If a single client reads first partition "A" and then reads partition "B", you do **not** want both requests to a

[2020-05-26 19:46] glommer commented on #6478
How reproducible is this ?

[2020-05-26 20:09] tgrabiec commented on #6486
On Tue, May 26, 2020 at 8:52 PM Jason Harvey <notifications@github.com>
wrote:

This usually means that gdb didn't load debug info properly. Maybe you
don't have the debug info package installed?

[2020-05-26 20:37] nyh commented on #6460
This issue will hopefully be solved by a Seastar patch by @avikivity - https://github.com/scylladb/seastar/commit/4d61dba522606358f5bf4032592ccb692a140116
When the new Seastar reaches Scylla, please check if it solved the Scylla issue, and if it did, close this issue. Thanks!

[2020-05-26 20:57] alienth commented on #6486
don't have the debug info package installed?

Yeah, it's definitely installed. Likely something mucked up in my environment elsewhere. I'll update once I figure it out.

[2020-05-26 21:32] tgrabiec commented on #6486
@alienth Note that relocatable binaries may need special treatment do debug: https://github.com/scylladb/scylla/blob/master/docs/debugging.md#relocatable-binaries

[2020-05-26 21:33] kostja commented on #6075
https://en.wikipedia.org/wiki/Linear_hashing

[2020-05-26 21:34] kostja commented on #6075
Implementations: https://github.com/tarantool/tarantool/blob/master/src/lib/salad/light.h
https://github.com/MariaDB/server/blob/10.5/mysys/hash.c

[2020-05-26 21:36] kostja commented on #6075
An alternative to linear hashing is to simply keep a shadow table and incrementally move values into it, but that still suffers from large allocation costs.

[2020-05-27 00:03] alienth commented on #6486
I must be really missing something fundamental here. I installed all of the debugging symbols for libc and python3 on ubuntu and couldn't get it to work. Also tried using the `dbuild` container and I get the exact same error :thinking: .

[2020-05-27 00:08] asias commented on #6272
The version a1c15f06902 contains:

[code]

but does not contain:

[code]

[2020-05-27 00:19] asias commented on #2141
Yes. Now, the bootstrap node is the one initiates the transfer and controls the speed.

[2020-05-27 00:19] #2141 closed

[2020-05-27 00:19] alienth commented on #6486
I think it might be related to the binutils mess on Ubuntu: ```
unable to initialize decompress status for section .debug_info
[code]

[2020-05-27 00:22] asias commented on #6272
"repair: Abort the queue in write_end_of_stream in case of error" is not guaranteed to be the cause of the hang Amos saw in the latest test, but we should run the test with all the fixes we have so far.

[2020-05-27 03:59] amoskong commented on #6354
experimental is enabled by default in SCT.
https://github.com/scylladb/scylla-cluster-tests/blob/master/defaults/test_default.yaml#L10

It's safe to disable `experimental` for upgrade tests.

On Tue, May 26, 2020 at 7:27 AM Shlomi Livne <notifications@github.com>
wrote:

[2020-05-27 04:00] amoskong commented on #6354
Yes. If we thought it's not a scylla issue, it's designed like this, we should fix SCT.

[2020-05-27 05:06] avikivity commented on #6262
Duplicate of #1454

[2020-05-27 05:06] #6262 closed

[2020-05-27 05:21] avikivity commented on #6515
You had a disk failure:

[code]

Scylla reacted correctly and stopped the node.

[2020-05-27 05:21] #6515 closed

[2020-05-27 05:26] avikivity commented on #4703
To implement we can reuse `toppartitions_item_listener` but instead of counting, throw.

We'd need to adjust to decay the counts over time so we measure over a sliding window.

CQL:

[code]

[2020-05-27 05:26] avikivity commented on #4703
By reused, I mean a new class that is similar, not hack it to do two things.

[2020-05-27 05:31] tzach commented on #4703
The problem is its hard to pick numbers which make sense
It would be good to have some reasonable defaults, but its impossible in absolute values.

[2020-05-27 05:35] avikivity commented on #6192
/cc @elcallio

[code]

These to look like they could take a long time. The only solution I can see is to offload it to an alien thread.

btw, the manual says:

[2020-05-27 05:57] dkropachev commented on #6512
@gleb-cloudius , this issue is not about performance difference between update and insert, this issue is about performance degradation in UPDATE and DELETE between scylla versions.

[2020-05-27 06:00] eyalgutkind opened #6518 "Scylla 4.0 installation on Ubuntu 18.04 sends errors when updating alternatives"
Scylla version (or git commit hash): 4.0.0-0.20200505.d95aa77b62
Cluster size:1
OS (RHEL/CentOS/Ubuntu/AWS AMI):Ubuntu 18.04 (us-east-1 ami-085925f297f89fce1)

When installing Scylla 4.0 following the instructions on the download website.
The last stage of the installation when setting the alternatives, the process barfs on multiple errors, no idea if the installation process was successful.
The e

[2020-05-27 06:04] tzach commented on #6518
@syuu1228 ?

[2020-05-27 06:10] tzach opened #6519 "reimplmenent nodetool in Golang"
Scylla version (or git commit hash): 4.x

The Java JMX proxy part of the system is an ongoing source of pain.
See https://github.com/scylladb/scylla/issues/6518 https://github.com/scylladb/scylla/issues/6204  and many more
Reasons are memeory consumption, Java versions.
A Go lang (or similar) implementation, deliver as binary will allow us to fix both.

It would not be a full solution, as there ar

[2020-05-27 06:51] yuqin11 commented on #6017
docker-entrypoint.py: error: unrecognized arguments: --security-opt seccomp=unconfined
failed!
Traceback (most recent call last):
  File "/docker-entrypoint.py", line 11, in <module>
    arguments = commandlineparser.parse()
  File "/commandlineparser.py", line 21, in parse
    return parser.parse_args()
  File "/usr/lib64/python3.4/argparse.py", line 1731, in parse_args
    self.error(msg % ' '.j

[2020-05-27 06:51] yuqin11 commented on #6017
docker-entrypoint.py: error: unrecognized arguments: --security-opt seccomp=unconfined
failed!
Traceback (most recent call last):
  File "/docker-entrypoint.py", line 11, in <module>
    arguments = commandlineparser.parse()
  File "/commandlineparser.py", line 21, in parse
    return parser.parse_args()
  File "/usr/lib64/python3.4/argparse.py", line 1731, in parse_args
    self.error(msg % ' '.j

[2020-05-27 06:56] dorlaor commented on #4703
Tzach, usually these limits will be placed to solve an existing
problem, and I see ALTER_TABLE used more than create table.
So defaults matter less.

Can we define an error code to return, so the client won't need to wait
for a time out?

On Tue, May 26, 2020 at 10:32 PM Tzach Livyatan <notifications@github.com>
wrote:

[2020-05-27 07:00] dorlaor commented on #6519
I'd rather invest in sctools instead and with a better
api that will match cloud users patterns

On Tue, May 26, 2020 at 11:10 PM Tzach Livyatan <notifications@github.com>
wrote:

[2020-05-27 07:14] gleb-cloudius commented on #6512
On Tue, May 26, 2020 at 10:57:52PM -0700, Dmitry Kropachev wrote:

The issue is one and the same. The moment met and unmet started to do
the same amount of rounds the difference disappeared and you saw it as a
performance degradation. The reason for both is the same problem in the
test itself.

--
			Gleb.

[2020-05-27 07:15] gleb-cloudius commented on #6512
On Wed, May 27, 2020 at 10:14:33AM +0300, Gleb Natapov wrote:

To clarify (hopefully): due to how the test works the result is expected.

--
			Gleb.

[2020-05-27 07:20] slivne commented on #6017
@yuqin11 my bad I placed the arg in the wrong order can you try

[code]

[2020-05-27 07:26] yuqin11 commented on #6017
thanks it works, but there still remains some warn:

[code]

[2020-05-27 07:51] tzach commented on #4703
problem

Why? it make sense no one partition to take more than 1/x of the load of the table
Setting it as default will stop many issue from happening in the first place

~X can be the number of cores in the system.

[2020-05-27 07:59] slivne commented on #6017
@syuu1228 / @penberg we need to resolve this somehow

It seems we are blocked from issuing some system calls in new docker versions - the workaround (above) was to disable it completely.

The real solution is to enable the capabilities we require "--cap-add=sys_nice" and maybe something else - I'll leave it for you to find the solution.

The other thing we should consider - is to make this depende

[2020-05-27 07:59] slivne commented on #6017
@tzach - I found a workaround for an issue docker users may be hitting - it may take time to have a proper fix - do we have an FAQ we can add this info

[2020-05-27 08:02] slivne commented on #6017
@yuqin11 thanks,

lets try and if we can get rid of one of them

[code]

[2020-05-27 08:06] yuqin11 commented on #6017
add `--privileged=true` will  solve `warning: unable to tune /sys/devices/pci0000:00/0000:00:05.0/virtio2/block/vdb/queue/nomerges to 2
`
but this remains, `
[code]
--cap-add=sys_nice` will lead to error.
[code]

[2020-05-27 08:09] yuqin11 commented on #6017
`docker run -it -d --security-opt seccomp=unconfined --cap-add=sys_nice ` can not get rid of `WARN  2020-05-27 06:59:06,047 [shard 0] seastar - Unable to set SCHED_FIFO scheduling policy for timer thread; latency impact possible. Try adding CAP_SYS_NICE`

[2020-05-27 08:17] Felix-zhoux opened #6520 "How do I query the number of items in a table that contains many, many, many pieces of data?"
*Installation details*
Scylla version (or git commit hash): 4.0.0-0.20200514.d95aa77b6
Cluster size: 9
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

I have a table with hundreds of millions of rows of data, all in the same partition.
How do I query the number of items? If I use
`select count(*) from tablename;`
 it takes a very, very long time that I can't stand.

Who can help me, please~

[2020-05-27 08:30] Felix-zhoux opened #6521 "alternator: nodetool cannot work on table with a dot in its name"
*Installation details*
Scylla version (or git commit hash): 4.0.0-0.20200514.d95aa77b6
Cluster size: 9
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

nodetool version: ReleaseVersion: 3.0.8

When I use the `nodetool tablestats` command to query some tables for information, I get an error for Unknown keyspace/Unknown table, which is the alternator table starting with '.'

[code]
I tested another table th

[2020-05-27 08:33] slivne commented on #6518
To make it clear - if the instruction on scylladb.com/download for scylla4.0, ubuntu18.04 are followed the installation succeeds and scylla runs.

@eyalgutkind - did you have an issue running scylla post the installation ?

We need to look at the error messages shown above ```update-alternatives: error: no alternatives for ```

These is fixed in 4.1 as we moved to use Java11 (scylladb/scylla-tools

[2020-05-27 08:43] slivne commented on #6017
@yuqin11 thanks we will try to have a look at that.

BTW 2.3.1 is EOL the two supported versions are 3.3, 4.0

[2020-05-27 09:05] nyh commented on #6521
The problem is that Alternator (the DynamoDB API) and nodetool (assuming the CQL API) have different naming rules. In CQL table names and keyspace names can only contain letters, numerals, or underscore (see [here](https://docs.datastax.com/en/cql-oss/3.3/cql/cql_using/useCreateTable.html#Tablecharacteristics) and the first character must be a letter. In the DynamoDB API, a table name can contain

[2020-05-27 09:24] avikivity commented on #6520
please send questions to the mailing list, this tracker is for bugs.

scylla doesn't support fast counting of all rows in a table.

Putting all rows in the same partition will make things a lot worse. You have to use a large number of partitions.

[2020-05-27 09:24] #6520 closed

[2020-05-27 09:26] avikivity commented on #4703
I don't see how you can calculate this. We know the number of shards, but we don't know anything else.

[2020-05-27 09:28] avikivity commented on #6075
I think a has table is better than a btree here. I'll looks at merging abseil once next promotion starts working again, and we can then use it.

[2020-05-27 09:29] Felix-zhoux commented on #6520
I get it, thanks!

[2020-05-27 09:34] avikivity commented on #2456
Closing as duplicate of #1244

[2020-05-27 09:34] #2456 closed

[2020-05-27 09:36] #3879 closed

[2020-05-27 09:37] nyh commented on #6520
Hi,

You phrased this as a question, not as a specifc bug report or a feature request, so it's not appropriate for the issue tracker. The scylla users mailing list (or even the developers' mailing list) would have been a more suitable location for it.

Nevertheless, since you're already here, I'll try to answer before closing the issue:

In general the answer is unfortunately no - there is no way

[2020-05-27 10:10] juliayakovlev opened #6522 "Load fails with IOException after Reject Inter Node Network nemesis"
*Installation details*
Scylla version (or git commit hash): 4.0.1-0.20200524.8d9bc57aca6 with build-id 778b5fddea1d144ace993fe09de0ef6f050bafe6
Cluster size: 6 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b5e73fd332621b16, eu-west-1

Test: longevity-10g-3h
Nemesis: RejectInterNodeNetwork
Nemesis was run on node 4 (10.0.42.110)
[code]

A lot of WriteTimeoutException:
[code]

And after 25 sec c-s rep

[2020-05-27 10:18] denesb commented on #6486
This could be https://github.com/scylladb/scylla/blob/master/docs/debugging.md#namespace-issues.

[2020-05-27 10:20] juliayakovlev commented on #6522
Reproduces with version ```4.0.0-0.20200505.d95aa77b62``` (ami-0ad095d521c760c3f, eu-west-1)

Test id: e04cc24a-db37-4a75-afa0-5e0396615411

Nemesis was started on node3 (IP 10.0.158.30):
[code]

cassandra-stress command was sent to node 1:
[code]

In this time cassandra-stress latency was increased and load on the one of the loaders was stopped:
![Screenshot from 2020-05-27 13-16-18](https://user

[2020-05-27 11:53] slivne commented on #6522
The problem here maybe with the client end - we have a node that doesn't have connectivity to other nodes but has the CQL port up and running (or at least I expect it does) - need to validate that and then think of a solution (one solution is to drain the scylla node in such a case).

Its not clear to me what information the client is getting from the drivers n such a case.

[2020-05-27 11:57] slivne commented on #6521
@amnonh nodetool is one concern the other it hat it calls - rest api - does this work via the rest api ?

I am in favor of

[2020-05-27 12:03] slivne commented on #6511
@bhalevy are those backtraces familiar, they seem in the area you / espindola have been fixing issues

[2020-05-27 12:27] glommer commented on #6478
@juliayakovlev can you let me know in which region is this AMI you quoted located? I searched in us-east and us-west 1 and 2.

I'd like to extract the binary to look at the core

[2020-05-27 12:31] juliayakovlev commented on #6478
@glommer
It's eu-west-1 (Ireland)

[2020-05-27 12:35] roydahan commented on #6437
Added a task for it, you can close this for now if you want.

[2020-05-27 12:46] glommer commented on #6478
spasibo @juliayakovlev

[2020-05-27 12:55] juliayakovlev commented on #6478
@glommer pojaluista :)

[2020-05-27 13:43] dkropachev commented on #6512
Why did they started to do the same amount of rounds ?
How to fix the test ?

[2020-05-27 13:47] gleb-cloudius commented on #6512
On Wed, May 27, 2020 at 06:43:52AM -0700, Dmitry Kropachev wrote:

We fixed it. The fact that the did not cause a linearisability issues.

Ideally each stage should work on a fresh cluster or on different key
ranges.

--
			Gleb.

[2020-05-27 13:59] eyalgutkind commented on #6518
@slivne Not successful.
I want to use a t2 instances, it failed.
This is the output:
[code]

[2020-05-27 14:32] kbr- commented on #5272
By saying "won't do", I meant "it's not sufficient". I agree that it's necessary.
But it's also necessary to have more complex tests written in a general programming language to perform calculations.
So we need both options, and use whichever's better for the use case at hand.

[2020-05-27 15:39] tzach commented on #6518
I was able to reproduce the original issue with the same results for the `sudo update-java-alternatives -s java-1.8.0-openjdk-amd64`
At least for the official Ubuntu 18 AMI this step is actually not required, and everything works without it. Still it is confusing, I might be required on other Ubuntu 18 evns. if not we should remove it.

The t2 issue is not related, deserve a new issue.

[2020-05-27 15:47] tzach commented on #2511
**No swap is configured, it is highly recommended to setup swap on Scylla node.**

I'm getting this warning when running on i3.large, but what should I do next? Google for swap?
And if there is a command, why not add it to the setup_script?

This is not a great UX to "highly recommended" an action and leave him to find out on his own.

[2020-05-27 16:58] kbr- opened #6523 "Unnecessary includes everywhere"
Well not exactly, not everywhere.
But in some places. At least one.

We have a problem with big header files.
For example, storage_proxy.hh is a big header file. It is included by other files that never actually use the `storage_proxy` object, but only pass references to other functions defined in other files.
In such cases a forward declaration would be enough. Maybe even a special _fwd.hh header

[2020-05-27 17:11] kbr- opened #6525 "migration_notifier might call services which are not listening anymore"
`migration_notifier` is responsible for informing other services about changes to table definitions.

It uses the `migration_listener` interface for that, which has a bunch of virtual methods such as:
[code]

A service interested in changes to tables inherits from `migration_listener` (or a subclass of it) and registers itself in `migration_notifier`. For example:
[code]

then, when it's not inter

[2020-05-27 17:57] nyh opened #6527 "Implement join_ring option (coordinator-only nodes)"
Cassandra has a configuration option **join_ring**, which if set to false means that the node will join the cluster but without adding any of its own tokens to the ring. In essence this becomes a [proxy node](https://image.slidesharecdn.com/cassandrasummit2016-160913041336/95/cassandra-at-instagram-2016-dikang-gu-facebook-cassandra-summit-2016-17-638.jpg?cb=1473961469), a coordinator only without

[2020-05-27 17:59] nyh commented on #6527
Note that we had in the past a broken implementation of this option, and it was removed in
https://github.com/scylladb/scylla/commit/998f51579aef1639cf81a57e6fdac29556bb7265

Some discussion about it:
https://groups.google.com/forum/#!msg/scylladb-dev/FueD7O9cuo4/RVxy4OvzAQAJ

[2020-05-27 18:24] Born2Bake opened #6528 "Scylladb 4.0 following "get started" guide with 1 node is failing"
*Installation details*
Scylla version (or git commit hash): 4.0.1
Cluster size: 1 node
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos 7 1804

*Hardware details (for performance issues)*     8 vCPU, 16GB RAM
Platform (physical/VM/cloud instance type/docker): VM - openstack
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count) HDD

Hey guys, I need help with ScyllaDB installation and te

[2020-05-27 19:01] dorlaor commented on #6528
You run within an old VM with very old cpu emulation, pls update the VM
config.

May 27 17:56:29 fasfasf.novalocal scylla_prepare[8984]: Scylla
requires the sse4.2 and clmul instruction sets, check your processor
and hypervisor

On Wed, May 27, 2020 at 11:24 AM Born2Bake <notifications@github.com> wrote:

[2020-05-27 19:05] Born2Bake commented on #6528
Hi, thank you for your response.

Can you please specify what does it mean old VM with old cpu emulation? Its running on KVM (Openstack, latest train release). As you can see:

[code]
sse4_2 is there.

[2020-05-27 19:34] arunsandu1 opened #6529 "Failed compaction : compaction_manager - compaction failed: sstables::malformed_sstable_exception (consumer not at partition boundary"
Cleanup process does not complete for days and compactions are failing.

`2020-05-27T18:40:51.959269+00:00 ip-10-0-70-221 scylla:  [shard 10] compaction_manager - compaction failed: sstables::malformed_sstable_exception (consumer not at partition boundary in sstable /var/lib/scylla/data/kairosdb/data_points-6bb3b390d10911e8871b000000000008/mc-195800-big-Data.db): retrying
2020-05-27T18:40:51.95938

[2020-05-27 22:19] #6495 closed

[2020-05-27 22:19] #6175 closed

[2020-05-27 22:19] #6490 closed

[2020-05-27 22:19] #6005 closed

[2020-05-27 22:19] #6330 closed

[2020-05-27 22:19] #6452 closed

[2020-05-27 22:38] dorlaor commented on #6528
clmul isn't there and scylla_prepare ORs sse4.2 with it.
No idea why your guest doesn't have this instruction, it's
old and I'm sure the physical cpu supports it.

On Wed, May 27, 2020 at 12:05 PM Born2Bake <notifications@github.com> wrote:

[2020-05-27 22:58] Born2Bake commented on #6528
From the docs: Scylla requires modern Intel CPUs that support the SSE4.2 instruction set and will not boot without it.

If I check cpuinfo, sse4.2 is there.... its weird. Can I use earlier versions of Scylla then?

Thank you

[2020-05-27 23:47] dorlaor commented on #6528
You can try 3.0 (which is end of life already). The additional instruction
dependency
is from Aug 2019. Avi, do you have any idea why CLMUL isn't there?

commit 07010af44c02606890a4c9def6070c237b89688b
Author: Avi Kivity <avi@scylladb.com>
Date:   Thu Aug 29 15:34:29 2019 +0300

    scylla_prepare: verify processor satisfies instruction set requirements

    Scylla requires the CLMUL and SSE 4.2 i

[2020-05-28 06:23] nyh commented on #6528
On Thu, May 28, 2020 at 1:38 AM Dor Laor <notifications@github.com> wrote:

A silly, but important, comment:

There is no reason why Scylla should check a OR and then report that it
failed the OR. It should check both and then give you this list of exactly
the missing features.
It will be a few more lines of code but the result will be more useful for
the user who typically has no idea what is "cl

[2020-05-28 08:33] dkropachev commented on #6512
@gleb-cloudius , Got it.

[2020-05-28 08:33] #6512 closed

[2020-05-28 08:44] amoskong opened #6531 "Cleanup keyspaces after decommission took too much time"
*Installation details*
Scylla version (or git commit hash):
Cluster size: 6
instance_type_db: i3.4xlarge
Loader num: 3
instance_type_loader: c4.2xlarge
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0df0de5988901e7f3 (eu-west-1)

### Test info
- test id: b33caf01-2799-44fa-8460-1e5ea1bff376
- test job: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/longevity/job/longevity-50gb-4days/4 (The

[2020-05-28 09:28] juliayakovlev commented on #6522
Test with 3.3.2 (3.3.2-0.20200510.c8c057f5f8 ) succeeded.
Test id: cde0f9b2-2711-4476-9418-508825f8b2c1
Jenkins [job](https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/yulia/job/staging-10gb-3h-3.3.2/1/)

![Screenshot from 2020-05-28 12-27-03](https://user-images.githubusercontent.com/34435448/83124294-b2baec80-a0de-11ea-8022-f9695b1b6736.png)

![Screenshot from 2020-05-28 12-28-01]

[2020-05-28 09:29] juliayakovlev commented on #6508
3.3.2 [result](https://github.com/scylladb/scylla/issues/6522#issuecomment-635228616)
4.0.0 [result](https://github.com/scylladb/scylla/issues/6522#issuecomment-634568469)

[2020-05-28 11:57] penberg opened #6532 "Docker image "--experimental" flag does not enable Lua support"
I started the Docker image with `--experimental` flag:

[code]

and see with `docker logs` that the flag is also passed to `/usr/bin/scylla`:

[code]

However, if I try to use the Lua support, it fails as follows:

[code]

I don't know if this is specific to Lua or all experimental features.

[2020-05-28 15:17] raphaelsc commented on #6309
Opened the log and debug level is apparently not enabled. Searched for basic debug-level logs like "Setting compaction strategy" and was unable to find. Could u please rerun the test with debug level log enabled?

[2020-05-28 15:19] raphaelsc commented on #6309
Turns out I am wrong @juliayakovlev. Sorry. Apparently you enabled debug level for table logger after scylla instance were up and running, which means early log messages aren't available.

[2020-05-28 15:52] raphaelsc commented on #6309
The problem is that compaction can only be stopped at partition boundary. So if we have already started writing a large partition, we'll only be able to abort this compaction when we're done with this partition and start writing the next one.

Truncate is composed of the following steps: Aborting ongoing compaction, flushing active memtable, snapshot and deletion, followed by cache invalidation.

[2020-05-28 16:10] glommer commented on #6309
@raphaelsc thanks a lot for the analysis. I don't think my work is related to this.

We can only stop at partition boundary because we only check for abort signal at partition boundary. I changed the possible sources for abort, but not the check.

The fix here should be simple: just check for abort at the row boundary. I think we should definitely do that, no question asked. Should be a simple pat

[2020-05-28 16:12] mailmahee opened #6533 "Add a check to validate RAM:Disk ratio"
Some customers (Especially using GCP instances where they can customize these settings)  fail to allocate the correct amount of RAM:DISK ratio whether they are using private DC instances or public cloud,  like GCP. This results in scenarios where we spend a lot of time debugging if the necessary allocation is skewed. Based on prior experience the recommendation is typically anywhere from 1:30 to 1

[2020-05-28 17:11] espindola commented on #6532
As far as scylla is concerned, that is expected behaviour. We have enable_user_defined_functions mostly because cassandra has it. Do you think we should drop it or change the value?

[2020-05-28 19:39] tomer-sandler commented on #2511
There are our docs reference for swap - again no command/steps on how to set it up:
FAQ: https://docs.scylladb.com/faq/#do-i-need-to-configure-swap-on-a-scylla-node
KB: https://docs.scylladb.com/kb/unresponsive-nodes/

The steps on how to setup swap can be found here (We could copy-paste them to our docs, or reference this link):
https://linuxize.com/post/create-a-linux-swap-file/

@tzach @laurano

[2020-05-29 00:02] dorlaor commented on #2511
How about we'll get back to this and setup swap as part of scylla_setup ?

[2020-05-29 08:09] tzach commented on #2511
Thanks @tomer-sandler
As much as I love our docs, Scylla install process should be self contained. We should not send someone to docs mid process; unless its a very rare case. This is **not** a rare case.

[2020-05-29 09:46] #6429 closed

[2020-05-29 09:46] #6472 closed

[2020-05-29 09:46] #6494 closed

[2020-05-29 13:33] denesb commented on #6502
You can use `canonical_mutation` instead, which allows unserializing with a later version of the schema.

[2020-05-29 15:04] #5919 closed

[2020-05-29 16:57] kostja opened #6537 "CDC prevents +rolling upgrade from pre 4.0 to a newer version with experimental enabled"
Start Scylla single node, --developer-mode=true
Observe the following periodic messages every 5 seconds:
[code]

[2020-05-29 17:19] dorlaor commented on #6537
I saw this too, both on master yesterday and also two weeks ago.

On Fri, May 29, 2020 at 10:02 AM Kamil Braun <notifications@github.com>
wrote:

[2020-05-29 17:31] kostja commented on #6537
[Backtrace #0]
seastar::internal::backtraced<marshal_exception>::backtraced<seastar::internal::backtraced<marshal_exception>&>(seastar::internal::backtrace
d<marshal_exception>&) at /home/kostja/work/scylla/scylla/seastar/include/seastar/util/backtrace.hh:111
std::__exception_ptr::exception_ptr std::make_exception_ptr<seastar::internal::backtraced<marshal_exception> >(seastar::internal::backtraced

[2020-05-29 17:31] kbr- commented on #6537
Looks like some problem with deserialization of collection-type values, but
I can't reproduce it. Will investigate further on Monday.

pt., 29 maj 2020, 19:19 użytkownik Dor Laor <notifications@github.com>
napisał:

[2020-05-29 17:34] raphaelsc commented on #6309
We need to wait for flush completion if truncate does a snapshot. Flush is much less harmful because it's bounded by amount of available memory. Compaction, on the other hand ...

[2020-05-29 17:34] raphaelsc commented on #6309
Patch sent: compaction: increase the frequency at which we check for abortion requests

[2020-05-30 00:23] dorlaor opened #6538 "Social & project banners"
@penberg can you pls add nice banners (or alike) to the ones that this project has:
https://github.com/openebs/openebs

Twitter, Slack, CI,all of them are good options.

[2020-05-30 06:47] nyh commented on #5028
It's not as trivial as I hoped to implement other operators besides EQ:

The implementation is in the `get_filtering_restrictions()` function in `conditions.cc`. The problem is that usually (when GSI/LSI keys are not involved), the check whether "a < 3" really means checking whether "attributes[a] < 3" for the attributes map column. Scylla's existing "restrictions" type currently only offers one t

[2020-05-31 00:37] ShlomiBalalis commented on #6396
Yes, it was because node 3 was down due to another nemesis, which shouldn't have happened. Closing.

[2020-05-31 00:37] #6396 closed

[2020-05-31 06:45] eliransin commented on #4469
Ahhha, finally I have the field that caused it :smile:
I will look into it.

[2020-05-31 06:50] tzach opened #6539 "Scylla_setup does warns about swap, but not help to set it correctly"
Scylla version (or git commit hash): 4.0

Installing Scylla ion AWS i3 add the following warning:
**No swap is configured, it is highly recommended to setup swap on Scylla node.**

It is not clear what one should do next, if at all.
A better  UX will either:
- guide the user on fixing this
- Add this as a step in scylla_setup (better)

[2020-05-31 06:50] tzach commented on #2511
https://github.com/scylladb/scylla/issues/6539

[2020-05-31 06:52] tzach commented on #6518
@syuu1228 please advise

[2020-05-31 07:22] slivne commented on #6537
@kostja did you have any table with cdc enabled - can you please share the schema / what test you ran ?

[2020-05-31 07:33] kostja commented on #6537
@shlomi the bug is in the latest master. Start single node from scratch, no tables at all.

[2020-05-31 08:10] pankajsoni19 opened #6540 "scylla_setup script broken: scylla_ec2_check"
*Installation details*
Scylla version (or git commit hash): 4.0.0
Cluster size: 1
OS: Ubuntu 18.04/Debian 10 Buster 64 Bit
AWS instance: t3a.[medium/micro] [ 2 cpu, 1-2 GB RAM]

[code]

while I can verify module is present `modinfo ena`

[code]

and module is enabled on nic ` ethtool -i  ens5`

[code]

[2020-05-31 09:39] slivne commented on #6540
@pankajsoni19 you can run in dev-mode https://docs.scylladb.com/getting-started/install_scylla/dev_mod/

[2020-05-31 09:41] slivne commented on #6533
@avikivity can you please comment what are the limits ...

we do run on i3en that have a ratio of ~ 1:80

GCP issue is usually in iops not RAM:DISK ratio

[2020-05-31 09:42] slivne commented on #6532
You need to enable UDF as well - we may need an additional flag for this

[2020-05-31 09:56] slivne commented on #6529
@arunsandu1 thanks for reporting - would it be possible for you to share the schema and sstable (mc-195800-big-Data.db) from that specific node so we can try and reproduce/check it in our lab ?

[2020-05-31 10:00] nyh commented on #5153
"Backport candidate" label was re-added after I manually removed it, @penberg do you have any idea why? Anyway, removing it again.

[2020-05-31 10:00] slivne commented on #6528
so lets check each feature and print the correct error message

[2020-05-31 10:04] slivne commented on #6527
ref additional discussion if this is needed https://groups.google.com/d/topic/scylladb-dev/C8Gn5QkkaTk/discussion

[2020-05-31 10:05] nyh commented on #6319
The Seastar patch is in 4.1, and backported to 4.0, so no futher backports are needed. Removing the "Backport candidate" label.

[2020-05-31 10:07] nyh commented on #6340
Not backporting, this is an error-message improvement but doesn't fix a bug in any error-free path.

[2020-05-31 10:09] slivne commented on #6518
@penberg / @syuu1228 can you please comment on this - can we understand what those error message are and remove them.

with regards to the t2 issue - thats second prio in my view - lets clear the common case first (installation on i3.large using ubuntu on aws).

[2020-05-31 10:09] slivne commented on #6514
closing this issue

[2020-05-31 10:09] #6514 closed

[2020-05-31 10:09] nyh commented on #6345
The "backport candidate" label was re-added by the bot by mistake: The fix is already in 4.1, and backported to 4.0 and 3.3. So removing the label, again.

[2020-05-31 10:11] slivne commented on #6513
@yarongilor does the dtest reproduce this ?

[2020-05-31 10:11] avikivity commented on #4690
Looks like it doesn't happen any more:

[code]

[2020-05-31 10:11] #4690 closed

[2020-05-31 10:11] nyh commented on #6347
Not backporting. This fix just improves error messages in some boot failure situations (where some ports are already taken).

[2020-05-31 10:13] avikivity commented on #6460
Fixed by 9c26bdf9442981dab40e2a14c330da8a8ebb4fb4.

[2020-05-31 10:13] #6460 closed

[2020-05-31 10:14] nyh commented on #6353
Backported to 4.1. This is just a documentation improvement, but it has no risk so it will be a shame to make a new release with known errors in the documentation on the first day.

[2020-05-31 10:15] slivne commented on #6508
@bentsi / @juliayakovlev - this issue is for the schema change not something else (https://github.com/scylladb/scylla/issues/6508#issue-624459250)

@bhalevy I need help in looking at the logs and why all the traffic died on the schema change

[2020-05-31 10:22] nyh commented on #6361
Backporting to 4.1. This is not a major bug, but can nevertheless hit users, and even more so - does hit our dtests, so if we'd like to run Alternator dtests against the official release 4.1, we want this patch to be in.

[2020-05-31 10:23] slivne commented on #6492
@glommer we need to understand what happend here - I expect its a case in which a keyspace had RF=1 and is related to the discussion we are holding in https://github.com/scylladb/scylla/pull/6400 but am not sure.

[2020-05-31 10:23] avikivity commented on #6460
Backported to 4.1, the only vulnerable release (where we started to mlock).

[2020-05-31 10:28] slivne commented on #6479
@Felix-zhoux if you share the metrics during the run with LWT + without tracing we can try to check if this is an overloaded case

Pleas upload the metrics https://docs.scylladb.com/troubleshooting/report_scylla_problem/#server-metrics-with-prometheus

[2020-05-31 10:29] slivne commented on #6455
@amoskong ping

[2020-05-31 10:38] nyh commented on #6366
Already in 4.1. Not backporting anywhere else.

[2020-05-31 10:40] nyh commented on #6421
Bot erroneously re-added "backport candidate" label after it was already removed. Re-removing it.

[2020-05-31 10:43] nyh commented on #6452
Backporting to 4.1. This will require the user to change the way they run Alternator, but we want it to be in 4.1. Not backporting to 4.0, where the default Alternator write isolation will remain always_use_lwt.

[2020-05-31 10:47] nyh commented on #6513
@slivne in an above comment, @yarongilor did point to a dtest reproducing this, test_modified_tag_is_propagated_to_other_dc - https://github.com/scylladb/scylla-dtest/blob/4ab73604afbf2cc84fd762eac34811ee8f751024/alternator_tests.py#L269

This may be a bigger issue than just Alternator (Alternator is just using Scylla's schema agreement protocols) but we still haven't started to debug what's causi

[2020-05-31 10:52] nyh commented on #6480
This is an improvement, not a fix. Not backporting it per policy. This means we will only see this improvement in 4.2.

[2020-05-31 11:14] nyh commented on #6495
This is a bugfix, so backported to 4.1 ( 2e00f6d0a14d26f46831f8006d2850c0d4a909b8) and to 4.0 (ef745e1ce76d9f2ea2c0d95ee974fd7a2e1dac82)

[2020-05-31 11:38] kostja commented on #6519
Do we need an extra tool at all? Have we considered extending CQL with all the necessary administrative commands? This would greatly simplify test automation.

[2020-05-31 11:42] slivne commented on #6507
@elcallio please check this out - we need some dtest coverage for this feature and its beeing disabled

[2020-05-31 11:55] avikivity commented on #6519
Good idea.

Snags:
 - nodetool commands used to enable/disable the protocol server
 - we don't want to start the protocol server on a node before it is ready to serve, which may be later in the boot process

We might be able to resolve this with a separate port for administration.

[2020-05-31 12:45] nyh commented on #5028
Implementing a "map_value_slice" restriction as described above is significantly more involved than we thought, and will be Alternator-specific:

Remember that in Alternator, attribute values may be of any type - and are therefore put inside the Scylla map, whose value must always have the same type, as a serialized byte array. So the restriction to check whether "attributes[a] < 3" cannot require

[2020-05-31 13:27] kostja opened #6541 "Scylla panics on Fedora 32 on start because not every CPU is inside a numa node"
I am using AMD Ryzen 2970wx with the following NUMA topology:
[code]
And most  unit tests (as well as Scylla itself) fail with the following at start:
[code]

The root cause is that scylla can't find the right Numa node for some of io_queues it is trying to create.

[2020-05-31 13:40] dyasny commented on #6492
Is there any reason for a 4 node cluster to have rf=1 in system keyspaces by default?

[2020-05-31 14:22] #6501 closed

[2020-05-31 17:44] tzach commented on #6519
Having all (or most) admin operations in CQL is even more useful for Scylla Cloud users, where REST (or JMX , CLI) is not available
In the past we discuss basing both REST and CQL operations on the same underline virtual tables.
This is more natural for queirs (for example node toppartitions ), less so for operations like compaction, drain or decommission.

Note that even if we remove nodetool, we

[2020-05-31 18:04] psarna commented on #5028
One more way we could consider is *alternator-side filtering*, i.e. implementing this layer not along our regular (CQL) filtering, but in alternator executor - e.g. in `describe_items_visitor`. I'm not really a huge fan of this option, but perhaps it's worth mentioning, since this visitor is precisely when we need to deserialize these alternator-specific values anyway - we might just as well apply

[2020-05-31 18:35] dekimir commented on #5028
The comparison is performed by the `abstract_type` from the column definition.  Maybe you can have an Alternator-specific `abstract_type` that knows how to compare correctly.  The rest of the code is unaffected.

I thought we already have deserialization code from #5034.

[2020-05-31 19:23] nyh commented on #5028
@psarna, yes, that's an excellent point. We could indeed do the filtering completely on the Alternator side - when preparing the JSON output of Query or Scan, we could simply leave out some items out of the output. This would simplify **everything** - there will be no need to add restrictions or more deserialization code, and the filtering code will be the same regardless if the filtered column is

[2020-05-31 20:16] psarna commented on #5028
My initial thought was that the idea of having several filtering implementations happening on different layers sounds like bad design. But the more I think about it, the more it makes sense... Since we already have an alternator-specific serialization layer, it's natural that it's exactly the right place to filter these results as well. It *would* be nice to have one single generic place in the co

[2020-05-31 22:02] slivne commented on #6476
@jul-stas based on your comment it seams CPP Driver 2.15.2 doesn't hang - if this works ok with Scylla as well - please close this and the associated issue

[2020-05-31 22:03] slivne commented on #6437
I'll leave this open till we have the dtest fixed

[2020-05-31 22:18] slivne commented on #6239
@roydahan are we hitting this on 4.1 - if not lets close

[2020-05-31 22:20] slivne commented on #6184
@syuu1228 roy provided his view - can we close this ?

[2020-05-31 22:22] slivne commented on #6168
@amoskong AFAIK latest master numbers are much better - can we close this ?

[2020-05-31 22:32] slivne commented on #2767
@syuu1228 / @penberg - is this solved by https://github.com/scylladb/scylla/commit/ff55e3c247a91ba5139f71f6e4ec6eef84563b76

[2020-06-01 00:14] roydahan commented on #6455
@slivne what is the way to wait for schema agreement?
I don’t think we do it...

[2020-06-01 02:01] amoskong commented on #6455
How do we wait or check the schema agreement of one change? If there are many changes executes in parallel, it's complex to watch it from db log.

[2020-06-01 03:10] amoskong commented on #6168
Yes, throughput and load of each node is stable in latest master/4.1/4.0 CDC longevity.

### Scylla version: 666.development (ami-04d2848ff6d5c4a41)
![image](https://user-images.githubusercontent.com/309708/83372439-dbe9be80-a3f7-11ea-98c0-e8d85de85d76.png)

### Scylla version: 4.1.rc1 (ami-00907d577946117dd)
![image](https://user-images.githubusercontent.com/309708/83372538-266b3b00-a3f8-11ea-9fd

[2020-06-01 03:10] #6168 closed

[2020-06-01 03:22] mikulely opened #6542 "20200601 master static build is broken on Fedora 31"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):

commit eabcb31503eb9896abeeaefe49c

[2020-06-01 03:47] bhalevy commented on #6529
@denesb / @raphaelsc does it ring a bell?

[2020-06-01 04:09] amoskong opened #6543 "interrupted repair by reboot and segfault occurred on another db node"
*Installation details*
Scylla version (or git commit hash): 4.1.rc1-0.20200528.bb8fcbff68f
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-00907d577946117dd (eu-west-1)

### Description

In repair_streaming_err, repair was running on target node db-node-3, hard reboot db-node-3 to interrupt the repair task. but segfault occurred on another node db-nod-7.

#### Cluster info:
- Node longevity-c

[2020-06-01 04:09] amoskong commented on #6543
[code]

[2020-06-01 04:16] amoskong commented on #6543
Hi @slivne @bhalevy , can you help to check if this issue is related with or same as https://github.com/scylladb/scylla/issues/6370 ?

[2020-06-01 06:36] Felix-zhoux opened #6545 "Failed to compile the static link library in frozen toolchain"
Scylla version (or git commit hash):
scylla
[code]
seastar
[code]

Cluster size: 1 node build env
OS (RHEL/CentOS/Ubuntu/AWS AMI):
[code]
### What I want to do
I wanted to run the executable Scylla on CentOS, so I compiled Scylla in the form of frozen toolchain and specified the generation of a static link library.To avoid creating unsolvable dependent library problems.

### frozen toolchain
[code

[2020-06-01 06:46] bhalevy commented on #6543
@amoskong this looks completely different.
The segfault happens in a call to `rlogger.warn`
while in #6370 the segfault happens in `seastar::expiring_fifo`

Is there a coredump?

Cc @asias

[2020-06-01 06:48] slivne commented on #3504
@penberg / @hagitsegev can we close this ?

[2020-06-01 06:50] slivne commented on #3773
@glommer please set a milestone for this to be 4.3 / 4.4 based on your priority estimation

[2020-06-01 06:53] nyh commented on #6545
@Felix-zhoux the idea of the "static-thrift" and "static-stdc++" options is to look for the static, i.e. ".a", libraries, not for the shared libraries ("*.so"). So the container is probably missing libstdc++.a and libthrift.a - not the ".so" you noticed that it does have.

I think this is by design - the "static" option are rarely used so we don't want `install-dependencies.sh` to force their inst

[2020-06-01 06:54] slivne commented on #3941
@bhalevy is this familiar to you - I don't recall we hit this recently and if we haven't I want to close the issue

[2020-06-01 06:55] slivne commented on #3965
@psarna did we fix this ?

[2020-06-01 06:56] slivne commented on #3975
@bhalevy ping

[2020-06-01 06:58] nyh commented on #6513
@yarongilor, in #6455 @amoskong noticed that even without separate DCs, schema agreement can take a long time (in his test, 11 seconds). If I understand correctly, your test had a longer timeout (30 seconds), but still, can you please check whether "eventually" (e.g., after 5 minutes) the change does reach that other DC - or it actually never does reach the other DC? Thanks.

[2020-06-01 07:03] dorlaor commented on #6519
On Sun, May 31, 2020 at 4:55 AM Avi Kivity <notifications@github.com> wrote:

If we really want CQL only (REST addition isn't too bad), we can have
two modes, the basic admin which will work by default and will be similar
to REST/JMX in functionality, and the extended, full CQL protocol

[2020-06-01 07:04] slivne commented on #4739
support for java8...java11 was merged closing

[2020-06-01 07:04] #4739 closed

[2020-06-01 07:07] slivne commented on #5738
@kbr- ping I want to close this issue if we can

[2020-06-01 07:11] nyh commented on #3965
@slivne we recently discussed this issue in the context of repair's writes. In the specific context of write during repair, this proposal makes sense: Indeed, there is no reason to think that after repair writes a particular row, the client will read or write it again - so caching it isn't useful.

However, in the general case, of regular user writes, I think this proposal is wrong (or at least, n

[2020-06-01 07:17] bhalevy commented on #6436
@asias this was on master with repair-based node ops enabled by default.

[2020-06-01 07:22] slivne commented on #6543
@amoskong can you please reference the uploaded coredump

[2020-06-01 07:23] slivne commented on #6543
2 nodes down causes availability issues

[2020-06-01 07:31] slivne commented on #6436
@asias this test is failing since 471 for 3 weeks on master - it always fails (at least on jenkins) you can try and reproduce locally.

[2020-06-01 07:32] slivne commented on #6436
It consistently fails on 4.1 as well https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/dtest-release/20/testReport/replace_address_test/TestReplaceAddress/replace_node_no_hibernate_state_test/history/

[2020-06-01 07:34] slivne commented on #6272
@roydahan the fix was backported and merged - can we please check if we are hitting this issue in 4.1 on version that have the fix

[2020-06-01 07:37] slivne commented on #6012
@roydahan - sorry I'm lost if the FS is not mounted will scylla boot or not - are you removing something prior to reboot ?

[2020-06-01 07:37] slivne commented on #6010
@syuu1228 / @penberg is this fixed ?

[2020-06-01 07:39] slivne commented on #5350
@asias / @avikivity can I close this ?

[2020-06-01 07:44] asias commented on #6436
The code has repair-based node ops disabled by default. Did you enable it in the test explicitly?

[2020-06-01 07:45] asias commented on #6436
I tried and failed to reproduce

[2020-06-01 07:48] yarongilor commented on #6513
reproduced on increasing to 5 minutes timeout as well:
[code]
[code]

[2020-06-01 07:53] Felix-zhoux commented on #6479
@slivne  hi, I have uploaded the monitoring data of Prometheus according to the steps on the webpage, please check whether it is the data you want.

My report_uuid is:
`86803743-4568-4fac-8c33-6d94868e2d80`

[2020-06-01 07:58] nyh commented on #5459
I'm reopening this issue because it seems from @amoskong that it still happens. Please re-close if I misunderstood.

@psarna I don't think we ever understood why the local endpoint ends up on the "pending_endpoint" list and what this case means. If this node is a "a pending node", why does it receive a request?
But given that it does receive a request, and we do want it to update its pair, how/why

[2020-06-01 08:03] bhalevy commented on #6436
@asias are you hitting https://github.com/scylladb/scylla/issues/6351, or not even that?

[2020-06-01 08:07] bhalevy opened #6548 "repair_option_pr_dc_host_test fails in debug mode: seastar::named_semaphore_timed_out"
Seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/492/testReport/junit/repair_additional_test/RepairAdditionalTest/repair_option_pr_dc_host_test/
Scylla version c4bbeb80dbd867b565e96e7fdc8a86abc4c90672

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/492/artifact/logs-debug.2/1590890039856_repair_additional_test.RepairAdditionalTest.re

[2020-06-01 08:08] asias commented on #6436
Yes, with the commit in this issue, I hit #6351 when I tried to reproduce. I did not see "Cannot replace token 3444658265712363823 which does not exist" issue.

[2020-06-01 08:16] bhalevy commented on #6436
This test seems to fail either due to this issue or https://github.com/scylladb/scylla/issues/6437

Last time I noticed this particular pattern was in
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/499/artifact/logs-release.2/1590884422224_replace_address_test.TestReplaceAddress.replace_node_no_hibernate_state_test/node4.log
Scylla version c4bbeb80dbd867b565e96e7fdc8a

[2020-06-01 08:23] psarna commented on #5459
@nyh I agree, and I actually think that the code does not work correctly even if the paired endpoint is actually local, but pending endpoints exist... The code in `mutate_MV` does the following:
 * If the paired endpoint is local **and** there are no pending endpoints, apply the update locally
 * Otherwise, send remotely

So, it seems that as long as there are **any** pending endpoints, the local

[2020-06-01 08:28] penberg commented on #3504
The URL @tzach is referencing here does not exists, and Ubuntu nightly build URL is also different (with relocatable package, they're unified across different Ubuntu variants):

http://downloads.scylladb.com/deb/unstable/unified/master/latest/scylladb-master/

So I'm closing this.

[2020-06-01 08:28] #3504 closed

[2020-06-01 08:38] hagitsegev commented on #6010
BTW, When I opened it, I talked about 3.3. But it is relevant for later releases too (I didn't test it recently, so I don't know if it was fixed).

[2020-06-01 08:42] amoskong commented on #6543
No coredump was collected.  /CC @slivne

[2020-06-01 09:22] amoskong commented on #6272
The repair stuck still exists after the backport.

AMI: Scylla-branch-4.1-nightly-20200529213950 (ami-00907d577946117dd)
Version: 4.1.rc1-0.20200528.bb8fcbff68f

The above AMI already contained backport of https://github.com/scylladb/scylla/commit/bb8fcbff68f1212366754cac521ed9d7e3d6685b
I started a 1TB longevity on last Saturday, the repair in first nemesis (destroy_data_then_repair) stuck again.

[2020-06-01 09:28] syuu1228 commented on #6010
Tested again on Debian 9 docker instance, with correct debian 9 repo, I still don't see any errors.

Repos are:
https://s3.amazonaws.com/downloads.scylladb.com/deb/debian/scylla-3.3-stretch.list
https://s3.amazonaws.com/downloads.scylladb.com/deb/debian/scylla-4.1-stretch.list

Output:
[code]

[2020-06-01 09:31] #6184 closed

[2020-06-01 09:58] mikulely commented on #6542
used g++ 8.2.* , works with g++ 10.1.1 after upgrade to fedora 32

[2020-06-01 09:58] #6542 closed

[2020-06-01 10:20] haaawk commented on #6485
@aleksbykov  Could you please retest once https://github.com/scylladb/scylla/pull/6506 is merged and close if the bug is fixed?

[2020-06-01 10:21] slivne commented on #6505
fixed by 7a98db2ab301ebec4ed9a5e4c90847c2c84e63a7

[2020-06-01 10:21] #6505 closed

[2020-06-01 10:24] aleksbykov commented on #6485
@haaawk, yes.

[2020-06-01 10:24] slivne commented on #6475
This needs to be inline with other items that have a map - compaction / compression

[2020-06-01 10:28] bhalevy commented on #6436
With latest scylla (022d5f6498), I hit a different problem on node4:

[code]

[code]

[2020-06-01 10:28] haaawk commented on #6223
This only happens when you do rolling upgrade not in a serial way and don't make sure network works correctly once you do it.

[2020-06-01 10:31] amoskong opened #6552 "segfault occurred in killing scylla process when repair stuck"
*Installation details*
Scylla version (or git commit hash): 4.1.rc1-0.20200528.bb8fcbff68f
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): Scylla-branch-4.1-nightly-20200529213950 (ami-00907d577946117dd) (eu-west-1)

### Test info
- job link: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/longevity/job/longevity-1tb-7days/3
- test id: df994b68-ef2a-4cd0-9c1c-e32671ea1e8b

### Des

[2020-06-01 10:33] amoskong commented on #6552
### Decode first segfault

[code]

[2020-06-01 10:34] amoskong commented on #6552
### Decode backtrace of `utils/logalloc.cc:807: void logalloc::segment_pool::deallocate_segment`

[code]

[2020-06-01 10:36] syuu1228 commented on #6518
@tzach @slivne will try to reproduce the issue now.

[2020-06-01 10:37] slivne commented on #6127
@amoskong / @fgelcer - are we hitting this on 4.1 - we had an issue in 4.0 with incorrect token that caused bad distribution of data (and it was fixed), I want to make sure we are hitting this post that fix.

[2020-06-01 10:40] haaawk opened #6553 "Disallow enabling CDC on counters table"

[2020-06-01 10:42] haaawk commented on #5812
Joining multiple nodes at the same time is not allowed.

[2020-06-01 10:42] #5812 closed

[2020-06-01 10:54] amoskong opened #6554 "scylla_coredump_setup: verify the coredump file inside /var/lib/scylla/coredump/"
*Installation details*
Scylla version (or git commit hash): 4.1.rc1-0.20200528.bb8fcbff68f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Scylla-branch-4.1-nightly-20200529213950 (ami-00907d577946117dd) (eu-west-1)

### Description

Currently scylla_coredump_setup only checking by execute 'coredumpctl info' after killing the bash process by 'kill -SEGV $$'. But not really verify the coredump fil

[2020-06-01 10:54] haaawk opened #6555 "Data can get resurrected if flush and truncate run on the same time"

[2020-06-01 10:56] haaawk commented on #6555
@elcallio @gleb-cloudius could you please comment?

[2020-06-01 10:56] amoskong commented on #6554
In the bad example, the fail might cause by problem in `utils/logalloc.cc:807: void logalloc::segment_pool::deallocate_segment`.

Or the problem of coredump setup itself. So it's necessary to verify the generated coredump file of bash in /var/lib/scylla/coredump/.

[2020-06-01 10:58] fgelcer commented on #6127
@slivne , i'm missing something... what is the relation between those "named_semaphore_timed_out" and the bad data distribution?

[2020-06-01 11:05] amoskong commented on #6127
Yes, we can still see a lot of `!WARNING | scylla: [shard 1] storage_proxy - Failed to apply mutation from 10.0.223.182#1: seastar::named_semaphore_timed_out (Semaphore timed out: smp_service_group#2 0->1 semaphore)` in the longevity-cdc-100gb-4h of 4.1.rc1

test id: 89aa4120-9057-4d7f-921d-3a9f330b99da
job link: https://jenkins.scylladb.com/job/scylla-4.1/job/longevity/job/longevity-cdc-100gb-4h/

[2020-06-01 11:07] roydahan commented on #6522
@slivne it looks like a regression between 3.3 to 4.0.

[2020-06-01 11:11] haaawk opened #6556 "Create a tool which reads CDC Streams and sends them to another cluster"

[2020-06-01 11:23] avikivity commented on #6184
This is the expected behavior. Stop/start causes data loss, so we should alert the operator that something is wrong and not proceed.

[2020-06-01 11:46] avikivity commented on #5350
I tried again, and it worked.

[2020-06-01 11:46] #5350 closed

[2020-06-01 11:47] roydahan commented on #6354
@slivne, we start scylla as follow, we first start the seed and then start all other nodes.
Till now, it worked without any issue (for few years).
Also, we don't see this issue in longevities or any other tests, just on rolling upgrades that are running on GCE.
Are we doing it wrong?
What is the recommended way to bootstrap a new cluster?

[2020-06-01 11:52] kbr- commented on #5738
Created https://github.com/scylladb/scylla-docs/issues/2685, closing this.

[2020-06-01 11:52] #5738 closed

[2020-06-01 11:55] bhalevy commented on #3975
With ddac002 we should not see this particular error anymore.

So closing this issue.

[2020-06-01 11:55] #3975 closed

[2020-06-01 11:56] roydahan commented on #6543
This happened on a longevity with CDC.
@amoskong let's run reproducer of this nemesis only with a simple longevity without CDC.
(It may reduce the severity of the issue because CDC isn't GA for 4.1)

[2020-06-01 12:01] kbr- commented on #6223
Still, we could at least use better defaults:
[code]

(instead of use these weird values, use the sharding info of the current node)

[2020-06-01 12:06] avikivity commented on #6409
@vladzcloudius so it's hints.

I can't see how loading_shared_values can fail here, but something did break.

[2020-06-01 12:09] avikivity commented on #6012
Agree that the bug is invalid. The fstab entry was used to prevent scylla from starting, you removed it, and it started.

[2020-06-01 12:09] kbr- opened #6557 "cdc: report unexpected exceptions using "error" level in generation management code"
When a node sees in gossip that a new CDC generation has appeared, it will try to retrieve the generation data from distributed system tables (`system_distributed.cdc_topology_description`).

The attempt may fail due to e.g. a network partition. It would then report something like UnavailableException or Timeout in the log using the WARN level, and schedule a background process to retry the retrie

[2020-06-01 12:11] avikivity commented on #3941
I haven't seen it in a long while.

[2020-06-01 12:13] #3941 closed

[2020-06-01 12:14] avikivity commented on #2767
@slivne yes. Note if the user bypasses scylla_raid_setup they are at risk (but they can add the RequireMountsFor themselves).

[2020-06-01 12:14] avikivity commented on #2767
Fixed by https://github.com/scylladb/scylla/commit/ff55e3c247a91ba5139f71f6e4ec6eef84563b76

[2020-06-01 12:14] #2767 closed

[2020-06-01 12:15] slivne commented on #2767
@tzach Do you want to add a comment in the docs for https://github.com/scylladb/scylla/issues/2767#issuecomment-636824503

[2020-06-01 12:16] avikivity commented on #6541
@glommer please help

[2020-06-01 12:39] dimaqq opened #6559 "Question about read performance"
I'm testing ScyllaDB in a single container on mac, all default settings.

My table definition looks like this:
[code]

On purpose, the dataset has a long tail, it has many small and few huge partitions:
* total partitions (distinct `h` values): ~220
* smallest partitions: ~1 row, largest ~50% of the dataset
* total data: ~70K rows, ~54MB data size (values as strings)
* largest partition: ~35K rows

[2020-06-01 12:42] amoskong commented on #6354
About SCT:

In the past we started all nodes of init cluster in parallel.

We changed this from 2018/10 by https://github.com/scylladb/scylla-cluster-tests/commit/777f82d9f3189704254433b369e416fe3bb58e12 for better support of multidc testing.  seeds will be started firstly, then non-seeds will be started in parallel.

[2020-06-01 12:43] roydahan commented on #6300
#6402 was opened specifically for OEL.
It seems like we still have issues with getting coredumps.
@amoskong is checking if it's this one / 6402 or a totally new one.

[2020-06-01 12:49] avikivity commented on #6559
Please ask questions on the mailing list, where more people will see the answers.

In small datasets, when moving between partitions, scylla also has to move between shards often. A single partition is always in a single shard, so this overhead is avoided.

With a large dataset, scylla still has to move between shards, but not very often, so the overhead is negligible.

[2020-06-01 12:49] #6559 closed

[2020-06-01 12:52] glommer commented on #6541
I didn't think it was possible.

Indeed the code will try to match every CPU to a numa node. I see this is affecting testing only at the moment, so one way to move forward in the short term is to disable `SEASTAR_HAVE_HWLOC`

[2020-06-01 12:54] bhalevy commented on #6493
@dekimir I don't think this is a misnomer since it refers to *range* tombstones, not to partition tombstones nor row tombstones.  I understand that this not apparent in the cql layer, but I think we can live with that feature name as it is.

[2020-06-01 12:59] nyh commented on #6541
Can please explain to idiots like me what the problem is? From @kostja's output it does seem that every cpu is in a NUMA node...
Though some of these nodes have zero memory - is that the problem?

[2020-06-01 13:15] psarna commented on #5459
I'll just rewrite `mutate_MV`, since it needs some deduplication anyway, and post it here as a pull request for review. In the new implementation, I'll make sure that **if** a local IP address is present, it will become the paired endpoint, and that the list of pending_endpoints only contains remote endpoints.

[2020-06-01 13:32] glommer commented on #6541
We use the hwloc library to deal with topology and its mappings.
It will expect a mapping of each CPU to a NUMA node, which is what we've always seen to happen so far.

So what matters most here is what the library returns. It probably consider a numa node without memory to be not a numa node as far as its topology is concerned. To know for sure I'll have to set up some time to investigate the det

[2020-06-01 14:19] slivne commented on #1796
@glommer ping on https://github.com/scylladb/scylla/issues/1796#issuecomment-573454671

Instead of everywhere I want to move to networktoplogystrategy with default replica_factor of 3.

[2020-06-01 14:22] slivne commented on #5634
we support changing config at runtime - we have some samples in the code lets align (I think there are also nodetool specific commands for this

[2020-06-01 14:29] kostja commented on #6541
![Screenshot from 2020-05-29 15-01-39](https://user-images.githubusercontent.com/482910/83419245-744e6600-a42d-11ea-8d89-4b0ac072fea4.png)

[2020-06-01 14:32] kostja commented on #6541
Basically for PU#12-24 and PU#36-47 there is no own numa node, so they should use some other.

[2020-06-01 14:38] avikivity commented on #6541
Why is it limited to testing?

[2020-06-01 14:39] glommer commented on #6541
I didn't say it is limited to testing, I said Kostja reports a failure in testing, so if this is blocking any progress of him he can disable that until a solution is found

[2020-06-01 14:41] kostja commented on #6541
I'm not blocked. I'm curious to know if any other platform than Fedora32 + Ryzen 2970wx is affected - if not, perhaps the impact is very low. Please note that there were no issue on Fedora 30 on the same machine.

[2020-06-01 15:11] avikivity commented on #6541
Probably a change in hwloc version. Or perhaps you didn't have hwloc installed earlier.

[2020-06-01 15:11] avikivity commented on #6541
It is probably limited to Zens. Since we bundle libraries, the problem will happen on any host OS.

[2020-06-01 15:17] bhalevy commented on #6552
@tgrabiec can you make anything out of the stack trace above?

[2020-06-01 15:20] raphaelsc commented on #6529
I was thinking this could be due to race condition involving GC writer, but it looks like this problem was triggered while running cleanup and there's no way GC writer could be enabled here. Also, from the logs, it looks like no interposer is enabled.

[2020-06-01 15:31] kbr- commented on #6537
It turns out that @kostja was using an old data dir created on Scylla using a commit before PR https://github.com/scylladb/scylla/pull/5676 was merged.

This PR changed the representation of tokens to use int64_t internally. It also changed the way how tokens were serialized inside `system_distributed.cdc_topology_description`: instead of using `utf8_type`, they now use `long_type`.

We've confirm

[2020-06-01 15:40] kbr- commented on #6537
If you:
1. create a cluster pre-4.0 with experimental disabled
2. upgrade to post-4.0 and enable experimental
your cluster will refuse to start :(

[2020-06-01 15:52] dekimir commented on #6493
We can live with it, but should we? How many developers will get confused
when half a partition is "unbounded" but the whole partition isn't? I just
spent a few hours trying to fix this before realizing there's nothing to
fix. Can we save the next person to some along from the same fate?

[2020-06-01 16:00] roydahan commented on #6522
Based on @juliayakovlev tests results who ran this nemesis repeatedly on 3.3, 4.0 and 4.1.
Only 3.3 survived all the nemesis runs (see results above).

[2020-06-01 16:04] bhalevy commented on #6493
Please suggest a better name then.
In other places we referred to them as open-ended, but this seems equally confusing, if your perception of a partition tombstone is of a range tombstone open on both ends.
Maybe "semi-bound"?

[2020-06-01 16:32] dekimir commented on #6493
I'm trying to think of a better name, but it's such an unintuitive notion: "clustering key bounded from both-or-neither ends". Is that really how sstable works?

[2020-06-01 16:38] dekimir commented on #6493
I mean, what if I wanted to DELETE WHERE ck > 10?  Isn't that fully equivalent to DELETE WHERE ck > 10 AND ck < 9999999999999999999999?  Isn't that trivial to support?

[2020-06-01 17:18] glommer commented on #1796
I think that makes sense.
It would solve the issue with people having to change it manually.
Ever since we first opened the issue, we found and fixed many issues with scalability in the auth cache layer so we should be less dependent on CL=LOCAL_ONE

Go for it, but let's make this RF=3 per DC so we can keep the auth queries local

[2020-06-01 17:53] roydahan commented on #6508
@juliayakovlev the results you posted aren't relevant to this issue.
This is about adding a new column.
we still not 100% sure that this nemesis is the cause of the issue, we need to run this nemesis alone on both versions and verify.

[2020-06-01 17:59] roydahan commented on #6012
Yes, if the fstab is our way to prevent it from starting we can close the issue.
AFAIK, we don't have an easy way to handle this in our testing without commenting it first from the fstab.

[2020-06-01 18:30] roydahan commented on #6239
haven't seen that yet, but let's wait for the other issues where repair get stuck before we're closing this.

[2020-06-01 18:35] slivne commented on #5459
Is this a regression (compared to 3.3 as an example) - if its not a regression I am pushing this out to 4.2

[2020-06-01 19:01] roydahan commented on #5459
It was detected on 3.3 by us and even prior to that by @bhalevy, so It's not a regression from 3.3.

[2020-06-01 20:19] tgrabiec commented on #6552
The abort is caused by attempt to free a segment which is not owned by LSA.

The segfault was manually triggered, so the first backtrace points to the location in code which happened to be executing at the time it was triggered. The abort which immediately follows looks suspiciously close in time, it could be that the sigsegv handler corrupted memory somehow.

[2020-06-01 20:37] aleksbykov opened #6561 "cdc: failed to restore cdc log table from snapshot for postimage enabled only with refresh operation"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200530.0c6bbc84cd3 with build-id 2d1467d0fd54ded4cae64f3b4d50fa7b6a9dd690
Cluster size: 1

base table was configured with cdc and postimage: enabled only.
Base table is populated with some data, then rows are deleted with DELETE operation, and new data is inserted again
After that snapshot for keyspace is created.

Res

[2020-06-02 01:51] asias commented on #6436
I tried latest maser: eabcb31503eb9896abeeaefe49cd548012dca001. The test passed. I could not reproduce.

[2020-06-02 05:16] penberg commented on #6010
@syuu1228 Looking at the second URL in this issue, installation failed as follows for @hagitsegev:

[code]

Hagit was installing 3.3.0, you are installing 3.3.3. However, I don't see fixes in this area... What am I missing?

[2020-06-02 05:44] hagitsegev commented on #6010
I'm running now https://jenkins.scylladb.com/view/scylla-3.3/job/scylla-3.3/job/releng-testing/job/debug-promote/113/ so you will have a fresh log

[2020-06-02 06:47] asias commented on #6436
I think I found the root cause. I will work on a fix.

[2020-06-02 06:53] amoskong commented on #6300
I tried to started an instance with AMI ami-0eb50f8319265a36f in comment #0.
Scylla version (or git commit hash): 666.development-0.20200426.ac3c1f6c0fb

scylla-ami-setup service failed, but the scylla-server is running...
The status of var-lib-systemd-coredump.mount is inactive, scylla-ami-setup isn't executed as expected, so coredump setup isn't executed.

AS Bentsi said in https://github.com/sc

[2020-06-02 06:57] amoskong commented on #6402
Latest status:  the problem ONLY exists on OEL
FYI, @roydahan @bentsi @syuu1228

- scylla-master:  https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-oel76-test/100/
- scylla-4.1: https://jenkins.scylladb.com/job/scylla-4.1/job/artifacts/job/artifacts-oel76/19

[2020-06-02 07:09] amoskong commented on #6432
This isn't not same issue as #6402

- This issue is that: var-lib-systemd-coredump.mount  file isn't found in coredump_setup.
- Issue #6402 is that var-lib-systemd-coredump.mount file exists, but the content is invalid (failed to load the config)

[2020-06-02 07:09] amoskong commented on #6432
Latest status:  the problem ONLY exists on OEL
FYI, @roydahan @bentsi @syuu1228

- scylla-master:  https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-oel76-test/100/
- scylla-4.1: https://jenkins.scylladb.com/job/scylla-4.1/job/artifacts/job/artifacts-oel76/19

[2020-06-02 07:34] juliayakovlev commented on #6508
Yes, I updated the relevant issue #6522  with details. Here I just answered to the question

[2020-06-02 07:35] amoskong commented on #6402
This was introduced by https://github.com/scylladb/scylla/commit/e77dad3adf7051a489223bbd55ecbc461b377421
I will fix this issue by revert this commit, it's no longer needed right now.

And it only occurred OEL7 artifact-test.
When we executed `systemctl cat var-lib-systemd-coredump.mount`, only OEL7 verified the config content, then the configure error can be identified, and failed the job.

The p

[2020-06-02 07:37] amoskong commented on #6432
In scylla_util.py, we always raise exception 'Unit xxx not found' when exception raised in executing 'systemctl cat xxx'.

The error is confused.

[code]

I just manually tested on OEL7. Actually it's same issue as #6402
Detail: https://github.com/scylladb/scylla/issues/6402#issuecomment-637350677

I will post a patch to fix the error.

Close this issue as duplicate with #6402

[2020-06-02 07:37] #6432 closed

[2020-06-02 08:10] amoskong opened #6563 "scylla-gdb: failed to get coredump by gcore or debug scylla process"
*Installation details*
Scylla version (or git commit hash): 4.1.rc1-0.20200528.bb8fcbff68f
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): Scylla-branch-4.1-nightly-20200529213950 (ami-00907d577946117dd) (eu-west-1)

### Test info
- job link: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/longevity/job/longevity-1tb-7days/3
- test id: df994b68-ef2a-4cd0-9c1c-e32671ea1e8b

### Des

[2020-06-02 08:20] juliayakovlev opened #6564 "Nodetool decommission can not find new node in local dc despite the node exist (multi DC test)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200521.c29ccdea7
Cluster size: 4 nodes (multi DC)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0421a30fbb1b10b4a(us-east-1), ami-0961b54b8b942b1a6(us-west-2)

[Jenkins job](https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/yulia/job/staging-counters-multidc/22)

Test: longevity_counters-multidc

Setup:
- 2 nodes

[2020-06-02 08:29] amoskong opened #6565 "dev UX: ignore the cql data /cache data etc to reduce the core size"
*Installation details*
Scylla version (or git commit hash): master / 4.1.rc1-0.20200528.bb8fcbff68f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Scylla-branch-4.1-nightly-20200529213950 (ami-00907d577946117dd) (eu-west-1)

Discussion with Asias:

[code]

[2020-06-02 08:40] aleksbykov commented on #6561
Here is a link to dtest result:
https://jenkins.scylladb.com/job/scylla-master/job/byo/job/dtest-byo/173/testReport/

[2020-06-02 08:48] amoskong commented on #6300
Hi @roydahan

The error "unit scylla-ami-setup.service not found" doesn't exist on latest scylla master and 4.1.
It caused the scylla-ami-setup failed, and coredump_setup won't be executed.
So `Not enough disk space` occurred after coredump is generating.

I think we can close this issue, because the root problem '"unit scylla-ami-setup.service not found"' doesn't exists now.

[2020-06-02 08:59] fruch commented on #6513
we merged those tests, and they are failing on master now
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/501/testReport/alternator_tests/AlternatorTest/test_modified_tag_is_propagated_to_other_dc/

[2020-06-02 09:00] slivne commented on #6342
On 4.0 we disabled the dtest (to not nackort testing code into 4.0)

@ManManson . @kostja whats the status on 4.1 - are these tests running in 4.1 and passing

[2020-06-02 09:01] slivne commented on #6335
closing this issue for now - till we have more info

[2020-06-02 09:01] #6335 closed

[2020-06-02 09:01] slivne commented on #6232
@roydahan did you fix this in SCT ?

[2020-06-02 09:03] slivne commented on #6187
@eliransin p[lease have someone look at this

[2020-06-02 09:04] ManManson commented on #6342
@slivne Yes, it's present in 4.1 and passing.

On Tue, Jun 2, 2020 at 12:00 PM Shlomi Livne <notifications@github.com>
wrote:

[2020-06-02 09:05] slivne commented on #6121
@roydahan did we fix the bug in sct with using wrong data ?

[2020-06-02 09:08] slivne commented on #6468
@asias any update on this one ?

[2020-06-02 09:10] eliransin commented on #6187
@fgelcer  What is the RF for the users table (the table that the MV is defined for) ?

[2020-06-02 09:15] eliransin commented on #6187
@psarna can you please have a look at this. It's weird that the write fails, the only reason I can think about is that we don't acknowladge if we wrote a view hint (for normal table CL ANY acknowladges after  writing an HH hint...)

[2020-06-02 09:17] #6342 closed

[2020-06-02 09:27] fgelcer commented on #6187
all c-s user-profiles we run are using RF=3

[2020-06-02 09:28] eliransin commented on #6428
Just to see that I correctly understand, at the core this is an optimization problem where you need to
execute the request in the sequence that will generate the maximum of successful results (no timeout,
resource shortage etc...).

[2020-06-02 09:29] roydahan commented on #6300
@amoskong so it’s not clear if the issue is 6300 or something else?
If something else, please open such and move your comments there.

You are commenting on the existing issues and we can’t follow.

[2020-06-02 09:36] roydahan commented on #6232
Yes

[2020-06-02 09:37] roydahan commented on #6121
Yes

[2020-06-02 09:47] amoskong opened #6566 "var-lib-systemd-coredump.mount isn't started after setup"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200426.ac3c1f6c0fb
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0eb50f8319265a36f

### Description

Currently we use a systemd mount (var-lib-systemd-coredump.mount) to mount default coredump directory (/var/lib/systemd/coredump) to (/var/lib/scylla/coredump).
The /var/lib/scylla had been mounted to a big storage, so we will h

[2020-06-02 09:54] amoskong commented on #6300
Just opened a new issue:
- var-lib-systemd-coredump.mount isn't started after setup #6566

[2020-06-02 10:49] amoskong commented on #6272
Hi @asias

Because of scylla-gdb issue (https://github.com/scylladb/scylla/issues/6563), I have to use gcore from general gdb to generate the corefile.
Can you check if the decoded backtrace helpful?

#### Failed to get coredump of scylla process by `gcore from scylla-gdb`:

[code]

#### Successfully get coredump of scylla process by `gcore from general gdb`:
[code]

#### Successfully decode the c

[2020-06-02 11:12] kostja commented on #6442
MySQL:

CREATE TABLE `test` ( `a` int(11) NOT NULL, PRIMARY KEY (`a`) ) ENGINE=InnoDB DEFAULT CHARSET=utf8

[2020-06-02 11:28] Felix-zhoux commented on #6545
@nyh Thank you for your patience to solve my problem.
Through the "relocatable building" method, I can successfully compile the rpm packages, which can meet my needs.

[2020-06-02 11:28] #6545 closed

[2020-06-02 11:31] slivne commented on #6561
@haaawk malformed_sstable_exception is alarming - can you check if this is a CDC or sstable issue if its sstable issue we will reassign to @bhalevy

[2020-06-02 11:53] #6300 closed

[2020-06-02 12:00] amoskong commented on #6309
Hi @slivne @raphaelsc do we want to backport this fix to scylla 4.1?

[2020-06-02 12:08] avikivity commented on #6428
And another one, derived from this: switch to LIFO when the waiting time approaches some fraction (e.g. ½) of the timeout.

Justification: the timeout is some non-trivial multiple of the expected service time; otherwise ordinary jitter would cause the timeout to be exceeded.

Complication: different requests have different timeouts and even requests with the same timeouts can be queued not in expi

[2020-06-02 12:11] glommer commented on #6309
up to @avikivity
On the one hand it is not a regression, but more of an annoying issue that has been there forever.

On the other hand the fix is very straightforward and safe.

I lean towards don't backport: we're on time-based releases now, meaning users will soon be able to consume this through 4.2, and 4.1 is in rc stage already

[2020-06-02 12:13] avikivity commented on #6309
I agree, we should only backport regressions or serious bug fixes (e.g. data loss).

4.2 will arrive soon enough.

[2020-06-02 12:14] gleb-cloudius commented on #6428
We do not have a single queue where all requests are waiting to be server. How practical is it to make all queues FIFO/LIFO switchable? Not all of the queue are even request  specific (smp).

[2020-06-02 12:32] eliransin commented on #4758
@avikivity I see you have a commit that is noted as fixing this. It it still relevant?

[2020-06-02 12:44] elcallio commented on #6507
Caused/fixed by /scylladb/seastar#756

[2020-06-02 12:50] nyh commented on #5028
Another bug in the current partial implementation: The "Count" output field returns the pre-filter count, while it should return the post-filter count. Wrote a test `test_query_filter_counts` to show that.

[2020-06-02 14:02] nyh opened #6568 "Alternator: should output empty map, not empty JSON"
This is an issue raised in the past by @tzach and now discovered again by @fruch by running a real application which runs on DynamoDB:

Currently, a `PutItem` request returns an empty response (it is empty because #5027 hasn't been done yet). However, this empty response is output as a completely empty string, which is wrong - it should be an empty map, "{}".  The DynamoDB documentation https://do

[2020-06-02 14:18] nyh opened #6569 "Alternator: missing UnprocessedKeys/Items attribute in BatchGetItem/WriteItems result"
Issue discovered by @fruch by running code from https://github.com/pynamodb/PynamoDB/tree/master/examples:

The response of the `BatchGetItem` and `BatchWriteItems` requests is supposed to contain a `UnprocessedKeys` and `UnprocessedItems` attribute, respectively. Currently Alternator always processes all the keys/items (see issue #5944) but still, the DynamoDB documentation (https://docs.aws.amaz

[2020-06-02 14:36] avikivity commented on #4758
The commit is not committed.

@denesb's work will make it possible to revisit this soon.

[2020-06-02 14:46] haaawk opened #6570 "Scylla crashes when CDC Log is queried with a wrong stream_id"
Executing:
`select * from tb_scylla_cdc_log where "cdc$stream_id" = 0x00;`

causes:

[code]

[2020-06-02 15:03] avikivity commented on #6428
smp queues are request type specific (using separate smp_service_groups).

I don't see a choice but to apply the policy everywhere. We can start from the queues that usually have problems. For example, the smp queues aren't a problem when using the shard-aware driver.

[2020-06-02 15:09] slivne commented on #6552
closing this issue - the fixes for ciredump should go in, and we hit this again please generate a coredump

[2020-06-02 15:09] #6552 closed

[2020-06-02 15:10] slivne commented on #6543
@asias can you check the params passed to the log call -

[2020-06-02 15:11] slivne commented on #6531
@glommer / @raphaelsc ping ... any view on this one

[2020-06-02 15:11] fruch opened #6572 "Alternator: UpdateItem with Attribute only in ConditionExpression fails"
doing this UpdateItem

[code]

causes the following failure:
[code]

I'm guessing the check validation check of `ExpressionAttributeNames` need a bit more logic...

[2020-06-02 15:14] amoskong commented on #6552
I will retest when the new AMI is built.

[2020-06-02 15:16] amoskong commented on #6543
The reproduce job is running :
- https://jenkins.scylladb.com/job/scylla-4.1/job/longevity/job/Reproducer/job/longevity-cdc-4h-test-only-repair/2/console
- only with Corrupt_data_then_repair nemesis
- CDC disabled.

[2020-06-02 16:23] raphaelsc commented on #6092
@erozycki Reading the logs, it became clear that many of those unexpected compactions are related to tombstone compaction. From the logs, it looks like you aren't having issues with purge of fully expired SSTables, so I'd suggest disabling tombstone compaction by removing all of its properties from the compaction properties.

Something like this will help:
`ALTER TABLE nats.audio_hashes_cg with co

[2020-06-02 18:10] erozycki commented on #6092
@raphaelsc

Thanks for looking into it. Originally, I configured my table with `tombstone_threshold: 1.0`, since it seemed pointless to compact tombstones for an sstable that was just going to fully expire soon after. However, I ran into an issue where old TWCS sstables were retained far, far longer than expected, causing my nodes to run out of disk space. (I posted that issue here: https://groups

[2020-06-02 18:14] erozycki commented on #6092
I am now running the latest release, 4.0.1.

[2020-06-02 18:22] glommer commented on #6092
Note that 4.1 , when is out, will include working TWCS major compaction. This means that if you ever run into the problem of things not expiring correctly again, you'll be able to call a major compaction and fix it.

[2020-06-02 18:59] erozycki commented on #6092
@glommer Good to know. This would be a manual operation that I could execute in response to seeing old sstables that haven't expired correctly, right?

[2020-06-02 19:54] kostja commented on #4522
Never happened here, but maybe because I set aio-max-nr to ridiculously high value. Is it still relevant? If so, what should be the fix, in the tests or in test.py? I'd say the fix should be in HACKING.md, where we should instruct ppl to change aio-max-nr for any serious hacking.

[2020-06-02 20:02] nyh opened #6573 "Alternator: wrong ordering of bytes attributes with "negative" bytes"
DynamoDB documentation defines (see https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Condition.html) the order of byte arrays assuming they are **unsigned** bytes.

Unfortunately, Alternator in `conditions.cc`'s `check_compare()` does
[code]
But `base64_decode()` returns Scylla's `bytes` type, which is an array of **signed** bytes... This means that Scylla sorts byte 128 as comin

[2020-06-02 20:04] nyh commented on #5028
See also issue #6573 - we have a bug in the sort order of byte arrays (we do them as signed instead of unsigned bytes), and this will also affect filtering and need to be fixed.

[2020-06-02 22:00] raphaelsc commented on #6531
Is it a regression? Is there logs for the relevant node? The snapshot is not working for me, cannot see the graphics. It's said that cleanup took took 20hours / 34hours. So I assume that cleanup took much less time before with the same settings. How long did it take before? I need to know how much worse things are now. If you can please fix the snapshot of grafana @amoskong  that would be great. I

[2020-06-02 22:03] raphaelsc commented on #6092
Correct. TWCS' major compaction will be able to purge everything there's to be purged (a.k.a. expired data).

[2020-06-03 01:58] #5069 closed

[2020-06-03 01:58] #6566 closed

[2020-06-03 02:22] asias commented on #6272
Thanks Amos! The backtrace is not very helpful though. I am downloading the core (30GB).

Did you start repair with scylla manager? I saw each nodes was running repairing in parallel. Each repair request  had 10 ranges.