[2022-09-29 18:12] avikivity commented on #9065
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-09-29 18:15] avikivity commented on #11620
Cosmetic, not backporting.

[2022-09-29 18:16] avikivity commented on #7689
Absolutely won't be backported.

[2022-09-29 18:17] avikivity commented on #7689
But, why didn't the bot mark it as a candidate? @benipeled

[2022-09-29 18:36] syuu1228 commented on #11617
On #11399, I was thinking `udevadm settle` after `mkfs.xfs` gurantee UUID device file existance (since the command should block the creation finishes), but the SCT result it isn't, at least on some condition.

So I sent new PR to stop checking UUID device file existance before running `systemctl start var-lib-scylla.mount`, checking it only the service failed to start, to make better error message

[2022-09-29 18:48] syuu1228 commented on #11617
I guess this is enough to avoid this error and also `'systemctl  start var-lib-scylla.mount' returned non-zero exit status 1` error on #11359.

But if we still get `'systemctl  start var-lib-scylla.mount' returned non-zero exit status 1` even after merging #11666, I guess we need to try more ad-hoc way, such as stop using systemd unit file to mount the volume on first boot, just run  `mount $fsdev

[2022-09-29 19:42] avikivity commented on #9623
Not sure what to do about this. Schema changes are relatively heavyweight and are expected to take longer.

This was improved by 3b20407f2536de65bb599116876095bd5ec6a585 (5.1), but that is included in 2022.2. So that doesn't help.

[2022-09-29 19:43] avikivity commented on #9623
Perhaps we should patch Gemini to use a longer timeout for schema changes. We're unlikely to be able to improve the situation.

[2022-09-29 19:49] soyacz commented on #11655
I don't know - we didn't run this nemesis for this test in previous releases

[2022-09-29 19:52] avikivity commented on #11655
Let's have a field in the report form for regression status: yes (working in x.y), no, unknown, unknown (new test). @roydahan

Please run the test against an older version so we know if it's a regression or not.

[2022-09-29 19:58] fruch commented on #9623
it's SCT code that uses python-driver (not gemini), and it's using a 30sec timeout by default (to all CQL queries),
so you suggest we should put a bigger values for table drops ? what should we consider reasonable here ? 1min ? 5min ?

[2022-09-29 20:00] avikivity commented on #9623
Ah, node 5 took 2m10s. I looked at node 6.

2m10s sounds too much. I want to look at it but will probably forget.

[2022-09-29 20:00] avikivity commented on #9623
I used the github save thing, but nothing guarantees I'll look at the save file.

[2022-09-29 20:35] avikivity commented on #11622
Not a bug, not backporting.

[2022-09-29 20:38] avikivity commented on #11621
Minor documentation issue, not backporting

[2022-09-29 20:38] avikivity commented on #11600
Not a bug, not backporting.

[2022-09-29 20:39] avikivity commented on #11517
Backported to 5.1, only vulnerable release.

[2022-09-29 20:40] avikivity commented on #11503
Developer-oriented bug, and these live in master, so not backporting.

[2022-09-29 20:41] avikivity commented on #11452
Documentation, not backporting.

[2022-09-29 20:41] avikivity commented on #11450
Minor documentation issue, not backporting

[2022-09-29 20:44] avikivity commented on #11421
Backported to 4.6, 5.0, 5.1.

[2022-09-29 20:44] avikivity commented on #11408
Not a bug, not backporting.

[2022-09-29 20:45] avikivity commented on #11374
@nyh please evaluate for backport. Will likely expose other fixes that want backporting.

[2022-09-29 20:45] avikivity commented on #11363
Minor documentation issue, not backporting

[2022-09-29 20:47] avikivity commented on #11359
I want to backport, but IIRC there's a related bug in this area. Should I backport now or wait? @syuu1228

[2022-09-29 20:47] avikivity commented on #11353
No vulnerable branches, not backporting.

[2022-09-29 20:48] avikivity commented on #11349
@elcallio do we need to backport it to any branch?

[2022-09-29 20:48] avikivity commented on #11333
Minor documentation issue, not backporting

[2022-09-29 20:50] avikivity commented on #11327
Not a regression, and UDAs are still experimental, so not backporting this relatively serious bug.

[2022-09-29 20:50] avikivity commented on #11322
Minor, not backporting.

[2022-09-29 20:51] avikivity commented on #11316
No vulnerable branches, not backporting.

[2022-09-29 20:52] avikivity commented on #11315
Minor documentation issue, not backporting

[2022-09-29 20:52] avikivity commented on #11314
Minor documentation issue, not backporting

[2022-09-29 20:53] avikivity commented on #11303
Not sure whether to backport or not. @xemul please backport or not (and explain why).

[2022-09-29 20:55] avikivity commented on #11288
Raft = experimental, not backporting.

[2022-09-29 20:56] avikivity commented on #11239
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-09-29 20:56] avikivity commented on #11237
No vulnerable branches, not backporting.

[2022-09-29 20:57] avikivity commented on #11235
raft = experimental, not backporting.

[2022-09-29 20:58] avikivity commented on #11232
@bhalevy should this be backported?

[2022-09-29 20:58] avikivity commented on #11231
@bhalevy should this be backported?

[2022-09-29 20:59] avikivity commented on #11222
@nyh please evaluate for backport.

[2022-09-29 20:59] avikivity commented on #11218
Minor documentation issue, not backporting

[2022-09-29 21:03] avikivity commented on #11211
Although not a regression and not a trivial fix, backported to 5.0 and 5.1 since it can be quite painful.

Left 4.6 alone, users who need it can update to 5.0.

[2022-09-29 21:29] bhalevy commented on #11621
but there's no risk either

[2022-09-29 21:30] bhalevy commented on #11622
I see this as a bugvin the documentstion.
since it's versioned now it should be in sync with the code in each branch

[2022-09-30 04:34] denesb commented on #11608
The extra `partition_end` fragments are emitted to the compactor and is ignored by the reader. This mechanism (injecting partition-end into the stream on `next_partition()`) was added to this reader because the compactor it uses expects each partition to end properly with a `partition_end`, even if it is not consumed completely. The consumer of the reader however doesn't want a `partition_end` fra

[2022-09-30 04:52] denesb opened #11668 "db::view::view_builder: resuming a view build step doesn't re-emit active range tombstones"
When pausing a build-step, we keep the reader but not the compactor. When resuming said build-step we create a new compactor and re-inject the partition start into the start of the fragment stream,  to correctly initialize the compactor into the state it was before it paused. This is not enough however since the v2 conversion, as in addition to the partition start, the range tombstone active at th

[2022-09-30 04:52] denesb commented on #11607
The closing is taken care of by the compactor when the step is stopped. But the resuming is not because we start a new consumer and reuse the same reader (so the range tombstone is not re-emited). I created a separate issue for this: https://github.com/scylladb/scylladb/issues/11668.

[2022-09-30 05:51] denesb opened #11669 "compatible_ring_position_or_view is not cheap to copy"
This class exists for one purpose only: to serve as glue code between `dht::ring_position` and `boost::icl::interval_map`. The latter requires that keys in its intervals are:
* default constructible
* copyable
* have standalone compare operations

For this reason we have to wrap `dht::ring_position` in a class, together with a schema to provide all this. This is     `compatible_ring_position`. The

[2022-09-30 06:01] denesb commented on #11174
I think this issue shouldn't be a showstopper -- the fixes should be and they are already in.
Well we just found https://github.com/scylladb/scylladb/issues/11668 but this is also in 5.0 AFAIK so not a regression.

[2022-09-30 06:31] #11612 closed

[2022-09-30 06:33] bhalevy commented on #11231
It's a real byg however extremely rare and IIRC we've stumbled upon it only in the said dtest, so I think it doesn't merit backport

[2022-09-30 06:51] bhalevy commented on #11231
Also, not a regression. It's been buggy forever

[2022-09-30 07:24] bhalevy commented on #11232
No, it is minor and not a regression.

[2022-09-30 08:10] denesb commented on #11668
Looks like we even loose the partition tombstone.

[2022-09-30 08:23] denesb commented on #11668
After thinking about a bit I think both issues have been present since the beginning: even with range tombstone (v1)  the compactor created after resume will not know about it and so will happily resurrect any shadowed rows.

[2022-09-30 08:28] denesb commented on #11607
Wow, we also loose the partition tombstone. How did no one stumble on this. Also, we lost the range tombstone(s) even with v1, so the bug is there since the beginning.

[2022-09-30 13:44] soyacz opened #11675 "Table not created on node during restart in 5000 tables test"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/scylladb-2022.2/scylla-enterprise-x86_64-package-2022.2.0-rc1.0.20220902.a9bc6d191031.tar.gz
Cluster size: 1 nodes (i3.8x

[2022-09-30 19:08] michoecho commented on #10981
@avikivity I posted a patch to https://github.com/scylladb/scylladb/pull/11680 which does something slightly different: it requires the measured duration to be at least 1 tick bigger than the stall threshold. This also prevents false positives for thresholds bigger than a tick. (E.g. if we just require two ticks, if resolution is 4ms resolution and threshold is 8ms, a 5ms reclaim will be measured

[2022-10-01 15:22] raphaelsc opened #11681 "API, to return list of sstable names containing a given partition key, is not considering all sstables"
After commit 1e7a444a8b0, replica::table::get_sstable_set() is only returning SSTable in main set, meaning SSTables in maintenance set aren't being considered. If a tool relies on this API for extracting data / metadata from files containing pkey K, it's going to miss relevant files that are temporarily stored in the maintenance set.

[2022-10-01 20:03] d-mankowski-synerise commented on #11595
@michoecho @vladzcloudius I would like to ask about one more thing - you said that

Since Scylla has shard per core architecture, is it safe to re-run setup with `--setup-nic-and-disks`? In other words, if right now there are 32 shards on machine with 32 vCPUs, will taking away 1 vCPU do any harm?

[2022-10-01 23:06] michoecho commented on #11274
Bump.
Other relevant pages:
https://docs.scylladb.com/stable/operating-scylla/procedures/tips/benchmark-tips.html#dont-use-reverse-queries
https://monitoring.docs.scylladb.com/stable/use-monitoring/cql_optimization.html#reversed-cql-reads
https://monitoring.docs.scylladb.com/stable/use-monitoring/advisor/cqlReverseOrder.html

[2022-10-02 06:32] juliayakovlev commented on #10885
I didn't get this problem yet

[2022-10-02 09:22] tzach commented on #11223
@denesb can we close this? The following are part fo 5.0.4

e0acb0766 evictable_reader_v2: terminate active range tombstones on reader recreation
4f26d489a evictable_reader_v2: restore handling of non-monotonically increasing positions
43cbc5c83 evictable_reader_v2: simplify handling of reader recreation

[2022-10-02 09:29] bhalevy commented on #2917
@tgrabiec anything else to do here or can this issue be closed?

[2022-10-02 09:57] avikivity commented on #10801
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-10-02 09:58] avikivity commented on #10763
Test-only, not backporting. Tests should be stable in the frozen toolchain environment.

[2022-10-02 09:59] avikivity commented on #10785
Removing backport candidate label again, @benipeled

[2022-10-02 10:03] avikivity commented on #10789
Backported to 4.6, 5.0. Already in 5.1.

[2022-10-02 10:04] avikivity commented on #10793
Test only, not backporting.

[2022-10-02 10:04] bhalevy commented on #1446
@tgrabiec if the only thing left here is relevant only to thrift, let's add the `thrift_api` label

[2022-10-02 10:05] fgelcer commented on #11659
so, we don't want to have this item to be set through `scylla.yaml`?

so, should a new issue be report for it? who can confirm for us if the major compaction should be affected by it or no? @raphaelsc ?

[2022-10-02 10:07] fgelcer commented on #9623
@avikivity , i can ping you, if it will help you remember to look into it

[2022-10-02 11:01] avikivity commented on #11659
It's possible to set it in scylla.yaml by adding new lines.

Let's just document it.

[2022-10-02 11:05] avikivity commented on #10760
Backported to 5.0. 5.1 has it already. 4.6 left broken, it required adjustment and the bug is not sufficiently important to bother.

[2022-10-02 11:07] avikivity commented on #10757
Since we don't behave incorrectly on legal requests, not backporting.

[2022-10-02 11:07] avikivity commented on #10753
Performance only, not backporting.

[2022-10-02 11:08] avikivity commented on #10752
@syuu1228 ping2

[2022-10-02 11:08] avikivity commented on #10498
Not backporting per above.

[2022-10-02 11:09] slivne commented on #11675
We discussed this on the call
 - we need to check if the schema got in synch at all ?
 - if it did how long it took for it to get in synch ?

[2022-10-02 11:09] avikivity commented on #10403
Removing the backport candidate label again.

[2022-10-02 11:09] avikivity commented on #10335
Not backporting per above.

[2022-10-02 11:11] avikivity commented on #10332
Removing the backport candidate label again, @benipeled

[2022-10-02 11:12] avikivity commented on #10097
Performance only, not backporting.

[2022-10-02 11:13] avikivity commented on #10075
Minor, not backporting.

[2022-10-02 11:14] avikivity commented on #10046
Performance only, not backporting.

[2022-10-02 11:15] slivne commented on #11644
Probably a duplicate of #2577

I don't think this is a regression

Closing

[2022-10-02 11:15] #11644 closed

[2022-10-02 11:18] avikivity commented on #11607
@nyh please comment

[2022-10-02 11:21] avikivity commented on #11543
Backported to 5.1. @raphaelsc please evaluate for 5.0.

[2022-10-02 11:22] avikivity commented on #11531
No vulnerable branches, not backporting.

[2022-10-02 11:26] bhalevy opened #11684 "repair did not send row after replication factor increase"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/106/testReport/ttl_test/TestDistributedTTL/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split004___test_ttl_is_respected_on_repair/
Scylla version 060dda8e00b7 with build-id b4e08d869feb2fecb04c6ea45eb8946cade10c70
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-rel

[2022-10-02 11:26] bhalevy commented on #11684
@asias why wasn't the live row repaired?

[2022-10-02 11:27] bhalevy commented on #11684
Cc @eliransin

[2022-10-02 11:58] bhalevy opened #11685 "large data thresholds should be live-updateable"
Ref https://github.com/scylladb/scylladb/pull/11674/commits/bcd4a8d842fd6d0c56169fe4fee1473c52874540#r985218768

[2022-10-02 12:26] bhalevy opened #11686 "large_data stats entries should be kept as members in memory"
Refs https://github.com/scylladb/scylladb/pull/11674/commits/373583647dda05cfa450b9084dbfeaa0898e57ec#r985220551

[2022-10-02 13:20] benipeled commented on #11371
Failed again https://jenkins.scylladb.com/job/scylla-master/job/janusgraph-test/446/

[2022-10-02 13:23] nyh commented on #11607
@avikivity unfortunately there's not much I can say except that clearly, we have a lot of complicated code regarding pausing build steps (I don't even remember what this is about...) that was never covered in a test case :-( If I understand what @denesb wrote, this issue is marked close, but #11668 is open. The first step towards fixing that issue should be to be able to reproduce it in a test cas

[2022-10-02 13:52] avikivity commented on #9623
The tested version contains 3b20407f2536de65bb599116876095bd5ec6a585, but still the logs show:

[code]

(the commitlog shutdown messages are due to #11508, since fixed)

@tgrabiec maybe schema commitlog isn't enabled due to a bug?

[2022-10-02 15:18] avikivity commented on #9623
@denesb I see this:

[code]

Note negative number in `-183863682/0 memory resources`. Could there be a misaccounting that causes the semaphore to think it is overcommitted, due to signed/unsigned overflow?

[2022-10-02 15:22] avikivity commented on #9623
Commitlog latency from node 5. Note queue latency is terrible (disk latency is fine), despite low-ish load.

![image](https://user-images.githubusercontent.com/1017210/193461888-3bc99fed-7f6d-418c-985c-02b030e1e748.png)

[2022-10-02 15:30] avikivity commented on #9623
Disk statistics. About 300MB/s write, 400 MB/s read.

![image](https://user-images.githubusercontent.com/1017210/193462115-12345ed7-440e-4341-8607-0eb87062f7e3.png)

This is i3en.3xlarge. It should handle 2 GB/s read bandwidth according to https://aws.amazon.com/blogs/aws/new-the-next-generation-i3en-of-i-o-optimized-ec2-instances/. Diskplorer shows 1GB/s write bandwidth: https://github.com/scylla

[2022-10-02 15:31] avikivity commented on #9623
Still, at 300MB/s write there is plenty left over. @xemul what's going on?

[2022-10-02 15:34] juliayakovlev commented on #10192
Reproduced

Nemesis `ToggleTableIcs`:
[code]

Alter MV with "IncrementalCompactionStrategy":
[code]

Altering MV and base table:
[code]

Schema agreement has been completed:
[code]

But started to report about storage_proxy exception during mutation write
[code]

And cassandra stress `WriteFailureException`:
[code]

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git co

[2022-10-02 16:30] #9903 closed

[2022-10-02 16:30] #10121 closed

[2022-10-02 16:30] #11385 closed

[2022-10-02 19:53] fgelcer commented on #11459
reduced the stress commands (and many verifications that might not be necessary), and running it here:
https://jenkins.scylladb.com/job/scylla-staging/job/fabio/job/issue_11459_reproducers_and_staging/job/rolling-upgrade-ubuntu18.04-test/3/

[2022-10-02 19:54] fgelcer commented on #11459
it should be much shorter than regular runs, and later this week i will try to create a even shorter reproducer..
@eliransin , i will try to ping you tomorrow morning about the result of this reproducer, so we can bisect it

[2022-10-02 20:17] fgelcer commented on #11639
running here from `5.0.1`:
https://jenkins.scylladb.com/job/scylla-staging/job/fabio/job/issue_11639_reproducers_and_staging/job/rolling-upgrade-debian11-test/3/

[2022-10-02 20:18] fgelcer commented on #11639
need to change in the test itself how to select the correct image, but it should not be hard... i will give it a try

[2022-10-02 20:34] fgelcer commented on #11639
running it in here:
https://jenkins.scylladb.com/job/scylla-staging/job/fabio/job/issue_11639_reproducers_and_staging/job/rolling-upgrade-aws-debian11-test/2/

[2022-10-03 00:16] #10981 closed

[2022-10-03 03:41] denesb commented on #11607
My validator didn't found this. My validator only found the extra partition-start case that this issue is about. When discussing whether to backport or not, @avikivity asked whether we should also re-emit range-tombstones when re-emitting the partition start. Upon looking at the issue closer (and writing a unit test) I found that indeed this is broken and not just for range tombstone changes: also

[2022-10-03 03:43] denesb commented on #11223
Yes, we can close it. We can reopen (or open a new issue) if the problem persists after the update.

[2022-10-03 03:43] #11223 closed

[2022-10-03 06:49] denesb commented on #9623
AFAIK this is due to the way the semaphore group distributes memory along the semaphores. They are all created with 0 memory, and are credited memory later as scheduling groups are created/destroyed. This issue was discussed with @eliransin before but I don't remember where. The solution is to also adjust the `_initial_resources` (used as the right side of the $current/$total memory resources) too

[2022-10-03 07:03] AdamStawarz commented on #11379
Because "Merging is blocked" and @psarna is not involved anymore, could someone tell me what is the plan for this patch ?

[2022-10-03 07:07] bhalevy commented on #11174
I concur

[2022-10-03 08:40] benipeled commented on #11465
That's the point - as described on the other issue - it doesn't work that way but going one by one from start (next head) to end (master head)

yes, and not sure who wrote it but that's how it "works" **since ~2020**

The plan is to refactor the backport script to gather the relevant commits by github API `/compare/{master-head}...{next-head}` and parse the results

[2022-10-03 08:56] nyh opened #11690 "A few cql-pytest tests are failing on Cassandra"
One of the design goals of the cql-pytest framework was to be able to run every test also in Cassandra, to be able to tell during test development if the behavior we're test is compatible with Cassandra, or we're accidentally enshrining an incompatible behavior. We have markers like scylla_only and cassandra_bug for rare cases where we know we're testing a Scylla-only feature, or the Cassandra beh

[2022-10-03 09:24] elcallio commented on #11349
If possible, it should be backported to 2021.x, where the feature was both introduced and apparently (accidentality) removed. Not sure if the code is compatible though. Or we can consider replicated key provider an outlier and not backport for things like that...?

[2022-10-03 11:03] bhalevy opened #11692 "test: lib: random_mutation_generator generates mutations with marker uncompacted with shadowable tombstone"
This testing infrastructure issue appears to be causing instability in row_cache_test.

It is already fixed by #11663 / https://github.com/scylladb/scylladb/commit/5268f0f837a7d92af359673bf7d1a22397882684
and was opened to track the backport.

[2022-10-03 11:15] eliransin commented on #11174
@roydahan @bhalevy @denesb can we close this.
It have been split into separate and specific issues. (?)

[2022-10-03 11:21] denesb commented on #11174
I only split out the bugs the validator found. This issue should remain open until the validator is added to the compactor, which is still pending.

[2022-10-03 11:24] nyh commented on #11222
I'll backport. This isn't a terrible bug but breaks specific applications that are surprised when this specific piece of DescribeTable is missing - and the fix is simple and (I think) risk-free.

[2022-10-03 11:29] nyh commented on #11222
Backported to next-5.1 (d3fd09042980142ef9005903315e46814bdf59ae), next-5.0 (50c2c1b1d44c6538b9e9d166287447a3ae362b47), next-4.6 (5ee69ff3a90f1c98d2285838fb81251a69b3bced)

[2022-10-03 12:19] tgrabiec commented on #2917
Was the problem fixed? I don't see any commit referencing this issue.

[2022-10-03 12:22] tgrabiec commented on #1446
@bhalevy It's not only relevant for thrift api, you can reach this via CQL if you use `with compact storage` on your table.

[2022-10-03 12:24] tgrabiec commented on #9623
It's easy to find out if it's enabled by looking for the following log message during boot:

[code]

versus:

[code]

[2022-10-03 12:27] tgrabiec commented on #9623
Also note that the schema commitlog doesn't affect decisions of the compaction manager, so the fact that you see lots of compactions doesn't mean the schema commitlog is not in use. The memtable flush threshold is low for schema tables, because we give only 10MB of dirty memory for system tables.

[2022-10-03 12:39] bhalevy commented on #2917
No reference, but the following address this issue:
9bbe7b14823c1ca48e6659014f7edc235b3df10a
and then
fa5d70da32669213360444389abd139d027b87a8

[2022-10-03 12:53] michoecho commented on #11595
Restarting a node with a different number of shards is fine. But be aware that this will trigger a _resharding_ on restart — a rewrite/restructurization of the entire dataset on the node to prepare it for the new number of shards. Since it has to process the entire dataset, the restart may take a long time to complete, depending on how much data there is.

However, I don't remember if re-running t

[2022-10-03 14:21] nyh opened #11695 "Alternator test test_metrics.py::test_ttl_stats sometimes timeouts on debug build"
The test `test_metrics.py::test_ttl_stats` - which tests the metrics associated with Alternator TTL expiration events - normally finishes in less than a second (the TTL scanning is configured to run every 0.5 seconds, and takes a fraction of a second to complete).

We arbitrarily set a 60 second timeout for this test, but it appears it is not enough for slow debug builds on extremely overcommitted

[2022-10-03 14:28] bhalevy commented on #2917
9bbe7b14823c1ca48e6659014f7edc235b3df10a is in 4.6 so no backport needed either.

[2022-10-03 14:38] fgelcer commented on #11459
it failed with a wrong c-s command, that i have fixed, and re-running on build 4 of test above

[2022-10-03 14:43] yarongilor opened #11697 "Scylla failed to start after some sstable files deleted: init - Startup failed: std::runtime_error .. (error system:2, filesystem error: stat failed: No such file or directory"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc2-20220919.75d087a2b75a` with build-id `463f1a57b82041a6c6b6441f0cbc26c8ad93091e`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/scylladb-2022.2/scylla-enterprise-x86_64-package-2022.2.0-rc2.0.20220919.75d087a2b75a.tar.gz
Cluster size: 5 nodes (i3.4x

[2022-10-03 14:48] fgelcer commented on #11639
it passed the pre-test phase, and failed for the repair, during mixed cluster (seems like #11459)

so, with confidence, there is a regression from 5.0.1 to 5.0.3

@avikivity @slivne

ps: i'm still checking the run on AWS, as it seems like many changes are needed in SCT to be able to run this test in there...

[2022-10-03 15:49] kbr- opened #11698 "test.py: pass ASAN/UBSAN options to Scylla servers used in tests"
The code does attempt to pass these options through environment variable and it even prints a very suggestive log message. In `run_test` (test.py):
[code]

The spawned process is `pytest`.

But then in test/pylib/scylla_cluster.py:
[code]

The actual Scylla process is spawned with an empty enviroment.
And even if we didn't do `env.clear()`, it seems that `env` does not contain `ASAN_OPTIONS`/`UBSA

[2022-10-03 15:56] raphaelsc commented on #11574
Unlimited parallelism is rarely a good idea. I have some examples in my mind where it shoot us in the foot, due to memory usage exploding and CPU hogging. parallel_for_each() is good when the container is small, but once it grows to high amounts, it can become problematic. We should prefer and recommend the variant that enforces a limit.

[2022-10-03 15:58] nyh commented on #11698
What do you mean "pytest doesn't forward the environment"? Isn't it code in test.py, not in individual pytest tests, which runs Scylla?
These environment variables worked in test/cql-pytest/run.py - I checked when I added them. I don't know what in test.py made them disappear.

[2022-10-03 16:00] nyh commented on #11698
Looking at the code you pasted, it appears buggy and adds these environment variables in the wrong place... So it's straightforward to fix, no?

[2022-10-03 16:01] kbr- commented on #11698
Ahh you're right.
It doesn't matter what we pass to `pytest`.

So this code which passes `ASAN_OPTIONS`/`UBSAN_OPTIONS` in `run_test` is only relevant when we're running tests through run.py - because then they are passed to run.py and run.py starts the Scylla server.

The tests which are not using run.py (topology, cql approval) were actually never passing these options.

[2022-10-03 17:03] #11668 closed

[2022-10-03 23:04] vladzcloudius opened #11699 "scylla_setup prints a bogus"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubunt

[2022-10-03 23:09] vladzcloudius opened #11700 "scylla_setup "provisioning in a similar environment" message is missing a value for `--online-discard` parameter"
*Installation details*
HEAD: 95f31f37c1d2

*Description*
`scylla_setup` printed the following message at the end of the interactive execution when "online discard" mount option has been selected:

[code]

However the `--online-discard` requires a boolean parameter hence the command above fails with the following error when attempted:

[code]

The correct command would look like this:

[code]

In a

[2022-10-03 23:10] vladzcloudius commented on #11700
@DoronArazii FYI

[2022-10-04 00:26] vladzcloudius opened #11701 "[Regression] scylla_prepare: fails to generate perftune.yaml for a former MQ mode"
*Installation details*
HEAD: 2041744132344d1f7ca513152b44d73af30a230c
Introduced by:
[code]

*Description*
On setups where a former `MQ` mode is requested:
* Auto-detected on small machines of 4 or less CPUs.
* Explicitly configured by a user via cpuset.conf by choosing all present CPUs.

`scylla_prepare` is going to generate an invalid value for `irq_cpu_mask` - it will set it to `0x0`.

As a res

[2022-10-04 06:01] fgelcer commented on #9621
ping @yarongilor

[2022-10-04 06:06] nyh commented on #11698
Oh :-) By the way, it's also not necessary for run.py - because that script knows the user can run it directly, **not** through test.py, so it cannot and does not assume anything from the caller's environment. You can see in test/cql-pytest/run.py that it sets these variables itself (this is since a8b02f7965787ec20396b9c852b34cb178f8fc81).

I think the one place that these environment variables ha

[2022-10-04 07:01] yarongilor commented on #9621
@eliransin , i created a new branch and updated it in job:
https://jenkins.scylladb.com/job/scylla-4.6/job/SCT-Reproducers/job/longevity-50gb-3days-test-repro-9621/

So you can just rerun the last run (https://jenkins.scylladb.com/job/scylla-4.6/job/SCT-Reproducers/job/longevity-50gb-3days-test-repro-9621/8/) where modifying parameters you like: better to use "on-demand" provisioning and your requ

[2022-10-04 08:35] fgelcer commented on #11639
this issue is invalid... with this failed build we didn't have https://github.com/scylladb/scylla-cluster-tests/pull/5294 in it, so that is the reason for the failure.
once re-running with that patch applied, we are back to reasonable create table times.

[2022-10-04 08:35] #11639 closed

[2022-10-04 09:00] fgelcer commented on #11542
@eliransin , news about this one?

[2022-10-04 09:10] avikivity commented on #11639
The patch says "revert x" without any explanation what was wrong with it and what we're losing by reverting it. How was anyone able to review it?

[2022-10-04 09:35] fgelcer commented on #11639
well, the issue is basically what is reported in this issue, but the issue was in SCT... although i don't see an issue in SCT for it, but the revert was sent straight away once we figured out the regression it caused...

[2022-10-04 11:31] xemul opened #11706 "API GET /snitch/{rack|datacenter}?host=<unknown> still returns back some dc/rack"

[2022-10-04 11:57] denesb opened #11707 "db::view::view_update_generator: calculating the sstable-set for the baseline-reader is inefficient"
The view update generator generates view updates for staging sstables -- sstables brought in by repair, streaming or node ops in general. The view update generator creates a reader from the accumulated staging sstables. This reader is then consumed by `db::view::view_updating_consumer` which splits this data into chunks (either a partition or a chunk of it), then generates updates for each chunk.

[2022-10-04 12:05] denesb opened #11708 "db::view::view_update_generator: throws away baseline reader after generating update for a chunk"
The view update generator generates view updates for staging sstables -- sstables brought in by repair, streaming or node ops in general. The view update generator creates a reader from the accumulated staging sstables. This reader is then consumed by `db::view::view_updating_consumer` which collects consumed mutation fragments in a buffer. When this buffer is of a certain size (regulated by `db::

[2022-10-04 12:23] #11695 closed

[2022-10-04 13:18] avikivity commented on #10821
No vulnerable branches, not backporting.

[2022-10-04 13:20] avikivity commented on #10394
Backported to 5.0, only vulnerable release.

[2022-10-04 13:23] avikivity commented on #11524
Backported to 4.6, 5.0, 5.1.

[2022-10-04 13:35] avikivity commented on #7748
No vulnerable branches, not backporting.

[2022-10-04 13:36] avikivity commented on #8137
No vulnerable branches, not backporting.

[2022-10-04 13:37] avikivity commented on #8143
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-10-04 13:39] avikivity commented on #8410
Fix present on all active branches, not backporting.

[2022-10-04 13:49] d-mankowski-synerise commented on #11595
Thank you for the explanation

[2022-10-04 14:20] DoronArazii commented on #11584
@avikivity ^^

[2022-10-04 14:55] DoronArazii commented on #10250
@syuu1228 what's left to do here?

[2022-10-04 15:03] avikivity commented on #11584
Backported to 5.1. Presumably older branches are okay since we've seen no complaints.

[2022-10-04 15:04] DoronArazii commented on #10398
@elcallio what's the plan for this issue?

[2022-10-04 15:57] aleksbykov opened #11710 "Stalls in std::regex in commitlog"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/scylladb-2022.2/scylla-enterprise-x86_64-package-2022.2.0-rc1.0.20220902.a9bc6d191031.tar.gz
Cluster size: 6 nodes (i3.4x

[2022-10-04 16:20] apesaDS opened #11712 "Scylla documentation missing for AzureSnitch"
I am working with Intel in Azure and noticed our Azure Image is using the AzureSnitch. When looking throuogh docs for Scylla Snitches I noticed the AzureSnitch is not documented.

[2022-10-04 18:50] #11651 closed

[2022-10-04 18:50] #11669 closed

[2022-10-05 00:51] #10490 closed

[2022-10-05 06:40] piodul opened #11718 "Missing instructions on how to configure a non-java driver to connect to the local DC only"
The last section of the page "Adding a New Data Center Into an Existing Scylla Cluster" describes how to configure the client so that it doesn't connect to remote DCs. However, it only explains how to do it for the Java driver.

The API of other drivers is not necessarily the same. Notably, for the gocql driver it is necessary to provide a set a HostFilter which defines to which nodes connections

[2022-10-05 08:32] wyfo opened #11719 "docs: Issue in page Data Manipulation"
I would like to report an issue in page https://docs.scylladb.com/master/cql/dml

### Problem

In paragraph https://docs.scylladb.com/stable/cql/dml.html#the-where-clause, it's explained that clustering columns can be *grouped*.

[code]

[code]

However, the second example is invalid:
[code]

###  Suggest a fix

[2022-10-05 10:03] michoecho opened #11721 "raft: test_topology.test_remove_node_add_column is flaky"
The just-added (c200ae222) test_remove_node_add_column is failing sometimes.

Example failure 1:
https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2546/testReport/junit/(root)/non-boost%20tests/test_topology_release_2414/

Example failure 2:
https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2547/testReport/junit/(root)/non-boost%20tests/test_topology_dev_2414/

Example non-failure (after c

[2022-10-05 10:03] michoecho commented on #11721
cc @kbr- @alecco

[2022-10-05 10:06] michoecho commented on #11721
The salient part of the error:
`seastar::rpc::remote_verb_error (node_ops_cmd_check: Node 127.103.161.4 rejected node_ops_cmd=removenode_abort from node=127.103.161.10 with ops_uuid=180e1afb-14dc-4abc-9333-c6f3ce94b05e, pending_node_ops={}, the node ops is unknown`

[2022-10-05 10:26] alecco commented on #11721
It's a Python driver problem...

[code]

[2022-10-05 10:31] kbr- commented on #11721
The test started with the cluster
[code]

Then it successfully added a new node: `127.103.161.4`
Then it shutdown node `127.103.161.14` and started to remove it using `127.103.161.10` as removal coordinator.

The `removenode` proceeded until the last step (logs from `10`), which tries to remove the node from group 0 configuration:
[code]

That step had to throw an exception, because the removenode

[2022-10-05 10:32] kbr- commented on #11721
It's sad that the exception is silenced by the `catch` clause...

[2022-10-05 10:35] michoecho commented on #11721
@alecco The second failure does not have the "is already closed" error.

[2022-10-05 10:37] michoecho commented on #11721
Though it does have others:
[code]

[2022-10-05 10:37] kbr- commented on #11721
Those Python driver exceptions are perfectly normal.

[2022-10-05 10:42] kbr- commented on #11721
I know why this happens.

The removenode procedure starts by contacting every node in the cluster (except the removed one) and giving them an UUID for the operation, which they save in internal `_node_ops` data structure.

At the end it sends a `removenode_done` message:
[code]
this clears the `_node_ops` entry.

The `remove_from_group0` step happens **after** the clearing step. If it throws an ex

[2022-10-05 10:47] kbr- commented on #11721
@gusev-p do you know what the cause of `removenode` failing might be?

[2022-10-05 10:53] kbr- opened #11722 "`storage_service::removenode` should not silence exceptions"
`removenode` contains this `catch` clause:
[code]

as we can see the exception is not printed, it's silenced. There is no way to check the reason of failure in the logs.

[2022-10-05 10:54] kbr- commented on #11722
cc @asias

[2022-10-05 10:54] kbr- commented on #11722
Ref: https://github.com/scylladb/scylladb/issues/11721

[2022-10-05 10:55] kbr- opened #11723 "Failure of `remove_from_group0` in `storage_service::removenode` is not handled correctly"
This is how `storage_service::removenode` looks like:
[code]

As we can see, the `remove_from_group0` step happens after the "Finish" step.
If `remove_from_group0` throws an exception, the exception handler will send a `node_ops_cmd::removenode_abort` message to other nodes. The other nodes will have already cleared their knowledge about this operation by now (due to the Finish step) and they will

[2022-10-05 10:55] kbr- commented on #11723
Ref: https://github.com/scylladb/scylladb/issues/11721

[2022-10-05 10:59] kbr- commented on #11721
@gusev-p I'm guessing it may be caused by what you describe and fix in this PR: https://github.com/scylladb/scylladb/pull/11691
We should create issues for these things.

[2022-10-05 11:08] gusev-p commented on #11721
It definitely is.

How issues would help here? I mentioned this issue and [another one](https://github.com/scylladb/scylladb/pull/11704) on the daily.

[2022-10-05 11:21] kbr- commented on #11721
They make it easier to find known problems for anyone - if I encounter a problem with removenode I can type removenode into issues search and maybe I'll save some time. Not everybody working on Scylla attends our team dailies, but everybody can be affected by the issues we find. And even me who attends the dailies gets lost because too many things are happening at once, I can't keep everything in

[2022-10-05 11:40] tzach opened #11724 "docs: misformat links to Scylla University from Data Manipulation page"
I would like to report an issue in page https://docs.scylladb.com/master/cql/dml

### Problem

Two links to Scylla U are not properly formated

You can read more about TTL in the [documentation](https://docs.scylladb.com/stable/cql/time-to-live.html) and also in this Scylla University lesson <https://university.scylladb.com/courses/data-modeling/lessons/advanced-data-modeling/topic/expiring-data-w

[2022-10-05 11:51] tzach commented on #11719
Good catch!
Look like this problem inherited from Apache Cassandra docs
https://cassandra.apache.org/doc/latest/cassandra/cql/dml.html#where-clause

The second example would return an error in both Scylla and Apache Cassandra.
Not sure if this ever worked or if the wording is misleading, and " which would not be the case for" should be updated to "unlike the following illegal example."

The best w

[2022-10-05 11:52] gusev-p commented on #11721
It [shows PRs](https://github.com/scylladb/scylladb/issues?q=removenode) as well.

There is already a lot of auxiliary "paper" work to be done for every code change (convoluted github workflow/PRs, commit comments, comments on daily chat etc), let's try to effectively use what we already have.

[2022-10-05 12:08] kbr- commented on #11721
OK, good to know. But that only works for issues which already have fixes posted, and what about issues that someone knows about but didn't post a fix for yet? And there is no guarantee that the person is actually working on a fix, if they don't it's likely they'll forget. Even if they do, someone else might encounter the issue in the meantime - it will save them a lot of time if they have a way t

[2022-10-05 13:01] gusev-p commented on #11722
Ref: #11704

[2022-10-05 13:27] #11681 closed

[2022-10-05 13:41] kbr- commented on #11721
@gusev-p

But now that I think of it - the node we're removing was stopped gracefully. And we know that at least the gossiper has noticed that it is DOWN (otherwise removenode would fail earlier). So I think it's very likely that Raft also noticed it. So it's very unlikely that the dead node is still considered the leader. So `remove_from_group0` shouldn't have attempted to RPC the dead node.

[2022-10-05 13:48] gusev-p commented on #11721
Why don't just merge [the patch](https://github.com/scylladb/scylladb/pull/11691) and see if the problem goes away?

[2022-10-05 13:58] annastuchlik opened #11726 "Update the documentation landing page"
Update the landing page to:
- include the link to https://cloud.docs.scylladb.com/stable/scylladb-basics/.
- reorganize the content.
- remove duplication.
- add the link to the tutorials.
- replace all occurrences of "Scylla" with "ScyllaDB"

https://docs.scylladb.com/

[2022-10-05 14:37] kbr- commented on #11722
The exception is rethrown, I think it propagates all the way to the REST endpoint.
Nevertheless, logging it in Scylla might also be useful.

[2022-10-05 14:41] kbr- commented on #11722
Ah, the exception may be completely silenced (not propagated) if the `removenode_abort` step throws an exception (say due to connection error).

[2022-10-05 14:48] wyfo commented on #11719
I think the best would be to make it work :sweat_smile: joking aside, I'm ok with that.

[2022-10-05 14:48] gusev-p commented on #11722
This is exactly what I'm talking about in the PR above.

[2022-10-05 14:53] kbr- commented on #11722
Ah, I didn't notice, and now I see that your PR also adds a warning there.

[2022-10-05 14:58] kbr- commented on #11722
@gusev-p please extract the warning to a separate commit. I feel that #11704 will not be merged very soon.

[2022-10-06 06:28] fruch commented on #11017
still happens on the same job:

## Installation details

Kernel Version: 5.15.0-1020-aws
Scylla version (or git commit hash): `5.2.0~dev-20220929.c194c811df01` with build-id `3e922fa2f3dd7546827b4bb02ec4cebd184e062b`

Cluster size: 6 nodes (i4i.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-master-db-node-dac566bd-9 (35.168.111.10 | 10.12.23.164) (shards: 14)
- longevity-tls-50gb

[2022-10-06 06:48] fruch opened #11733 "Node fails to allocate memory during ScyllaKill nemesis"
## Installation details

Kernel Version: 5.15.0-1020-aws
Scylla version (or git commit hash): `5.2.0~dev-20220929.c194c811df01` with build-id `3e922fa2f3dd7546827b4bb02ec4cebd184e062b`

Cluster size: 6 nodes (i4i.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-master-db-node-dac566bd-9 (35.168.111.10 | 10.12.23.164) (shards: 14)
- longevity-tls-50gb-3d-master-db-node-dac566bd-8 (3

[2022-10-06 10:59] slivne commented on #11059
In the example above there was drop in traffic in the terminate phase

![Screenshot from 2022-10-06 13-39-21](https://user-images.githubusercontent.com/3465480/194293007-18074e4e-0d8d-4563-b439-da4c32a2e096.png)

The error on the read maybe real - yet is hard to extract data via metrics.

I don't think we will be able to make progress in this manner - we need to be able to catch a cluster that has

[2022-10-06 11:28] DoronArazii commented on #11697
@raphaelsc can you please have a look

[2022-10-06 11:32] DoronArazii commented on #10192
@juliayakovlev can you please share if this a regression

[2022-10-06 12:18] slivne commented on #10885
Given that we haven't seen this lets close it - if it happens again we will need to look at it.

[2022-10-06 12:18] #10885 closed

[2022-10-06 15:04] nyh opened #11737 "Alternator TTL: continue a scan when it fails temporarily"
The Alternator TTL scans an entire table in pieces, dividing it into token ranges.
Currently, if any part of this scan fails, we warn that "table {}.{} expiration scan failed: {}", and then wait until the next scan period to start scanning the same table again. This breaks our goal of scanning every item at least once every scan period. What we should do in this  case is to retry scanning the same

[2022-10-06 15:46] fgelcer commented on #11655
i see that running with `Scylla 2022.1.2-20220905.f1a246a8b build-id aae082a8a9a1136b4d3f3751749267327a63014b` also has similar failure, although the nemesis passed twice, and failed in the 3rd and 4th runs:

[code]

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.1.2-20220905.f1a246a8b` with build-id `aae082a8a9a1136b4d3f3751749267327a63014b`

C

[2022-10-06 16:05] nyh opened #11739 "Alternator: support new S3 Import feature"
As [announced in August 2022](https://aws.amazon.com/about-aws/whats-new/2022/08/amazon-dynamodb-supports-bulk-imports-amazon-s3-new-dynamodb-tables/), DynamoDB recently got new operations for filling a new table from content stored on S3: [`ImportTable`](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_ImportTable.html),  [`DescribeImport`](https://docs.aws.amazon.com/amazondyna

[2022-10-07 00:34] #11449 closed

[2022-10-07 00:34] #10359 closed

[2022-10-07 00:34] #11685 closed

[2022-10-07 00:34] #11686 closed

[2022-10-07 00:34] #11701 closed

[2022-10-07 03:58] denesb opened #11743 "view update generation repair/streaming backpressure doesn't work when there are a lot of nodes"
When repairing/streaming data for a table which have materialized views, the sstables written as part of the operation are registered as staging. These sstables need view updates generated for them. To avoid generating too many staging sstables, which are not compacted before being added to the main set, we have a back-pressure mechanism: https://github.com/scylladb/scylladb/blob/72dbce8d4638964f1

[2022-10-07 04:28] denesb commented on #11733
I would recommend starting with [docs/dev/debugging.md](https://github.com/scylladb/scylladb/blob/master/docs/dev/debugging.md). It also has a [section](https://github.com/scylladb/scylladb/blob/master/docs/dev/debugging.md#debugging-out-of-memory-oom-crashes) dedicated to debugging OOM cores.

[2022-10-07 06:49] denesb opened #11744 "db/view/view_update_generator: process all staging sstables for a table in one go"
Currently in each iteration of the view update generator loop, all accumulated staging sstables of all tables are processed, one table at a time. If for any reason staging sstables manage to pile up, this results in a "cliff" behaviour. All staging sstables for a table are processed at once and are all moved to the main sstable group only after all of them are processed. If for any reason the proc

[2022-10-07 08:32] JerryKwan commented on #2921
@tgrabiec When I tried to add a new node to the cluster, encountered this problem again.

[2022-10-07 09:04] yarongilor opened #11746 "[Alternator] TTL scan fails with read_timeout_exception after several hours"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.1.0~rc1-20220902.d10aee15e7e9` with build-id `c127c717ecffa082ce97b94100d62b2549abe486`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla/relocatable/scylladb-5.1/scylla-x86_64-package-5.1.0-rc1.0.20220902.d10aee15e7e9.tar.gz
Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in th

[2022-10-07 15:10] avikivity commented on #7316
Not sure why the author of updateable_value thought it could be thread safe.

Here is some idea to fix it:

1. create an `updateable_value_engine` class, which is meant to be used as a `sharded<updateable_value_engine>`. It is started early in main() and destroyed late.
2. Creating an `updateable_value_source` requires an engine as a parameter. This is easy since our `updateable_value_source`s are

[2022-10-07 15:11] avikivity commented on #7316
Well, we have the beginning of this plan in config_file::_per_shard_values. But updateable_value is not aware of it.

[2022-10-08 22:05] half0wl opened #11752 "docs: GitHub links on page "Using ScyllaDB" leads to a invalid repository"
I would like to report an issue in page https://cloud.docs.scylladb.com/stable/learn-more/index.html

### Problem

Clicking on "Create an issue" or "Edit this page" leads to `https://github.com/scylladb/scylla-cloud-doc/issues/new?<...snip>` which is an invalid repository.

###  Suggest a fix

Update the links to point to this repository.

[2022-10-08 22:07] half0wl opened #11753 "Docs: "Apache Cassandra Query Language (CQL)" on page "Using ScyllaDB" leads to a 404"
I would like to report an issue in page https://cloud.docs.scylladb.com/stable/learn-more/index.html

### Problem

Clicking on "Apache Cassandra Query Language (CQL)" leads to https://docs.scylladb.com/using-scylla/cql/ which 404s.

###  Suggest a fix

Update the link to a non-404 destination (looks like that should lead to https://docs.scylladb.com/stable/cql/index.html?)

[2022-10-09 04:57] tzach commented on #11752
The repo is private, so it look like invalid to you.
In any case, we will fix this. Thanks for thre report!

[2022-10-09 05:06] fruch commented on #2921
@JerryKwan again you are commenting on a 5y issue, which mean most of the information here isn't directly relevent to what you are facing, I would recommend opening a new issue with full details, logs, configurations, version being used, and step that were taken.

[2022-10-09 05:15] eliransin commented on #11459
We didn't find a proper reproducer so we will run it on the full job simultaneosly.
There are 3 commits to check:
78eccd8763aaab201b8628958d70ee98121e7dad
b1b22f2c2bf25657e8e41575a9b9ec266957583b
cd5fec8a2306c5edc77e10649069b07388f5febd

[2022-10-09 08:03] DoronArazii commented on #11245
@avikivity ping

[2022-10-09 08:14] eliransin commented on #10296
@xemul , Avi thought you might have an idea if there is a change in token metadata that can cause this?

[2022-10-09 08:17] roydahan commented on #10274
I don't think this issue still happens, since we run this longevity and this nemesis many times since and I don't see more mentions of the reproducers.
If we still see it, please re-open it.

[2022-10-09 08:25] asias commented on #11655
Off strategy is not enabled for rebuild ops using the classic streaming.

If we run rebuild with RBNO, the problem should be gone:

--enable-repair-based-node-ops true --allowed-repair-based-node-ops rebuild

[2022-10-09 08:25] roydahan commented on #11618
@soyacz can you please try to reproduce it in dtest?

[2022-10-09 08:27] DoronArazii commented on #11617
@syuu1228 ping - what's the progress here?

[2022-10-09 08:33] asias commented on #11565
We can reject the rebuild ops if the dc is invalid.

[2022-10-09 08:34] DoronArazii commented on #11611
@eliransin ping

[2022-10-09 08:37] roydahan commented on #11611
I suggested to remove the high.
I don't know how often it happens and if it's just a temporary state of high load.

[2022-10-09 08:43] DoronArazii commented on #11542
@eliransin please assign to someone

[2022-10-09 08:43] avikivity commented on #11542
This is NOT #2577

[2022-10-09 08:45] eliransin commented on #11542
@kostja this hapeened during LWT, can you please determine if it is related to LWT and if not, return this to QA with your
observations as of why is it not an LWT issue so we can reasign?
Tx

[2022-10-09 08:46] DoronArazii commented on #11507
@eliransin please assign to someone for further investigation

[2022-10-09 08:48] DoronArazii commented on #11488
@raphaelsc ping

[2022-10-09 08:52] roydahan commented on #11468
Waiting for it to reproduce.
@soyacz I see that it was opened for 5.0 to 2022.1.x.

I don't think we backported the fix to these versions.
Let's backport if we haven't and run once or twice to see if it reproduces.

[2022-10-09 08:53] asias commented on #11490
Note: skip_wait_for_gossip_to_settle is set to zero which should never happen in real deployment.

[2022-10-09 08:56] DoronArazii commented on #11121
@xemul ping, please have a look

[2022-10-09 08:59] DoronArazii commented on #11054
@avikivity please decide what to do with it

[2022-10-09 09:01] asias commented on #10274
I am closing this.

In https://github.com/scylladb/scylladb/issues/10296, we requested to get more info when the issue happens.

[code]

[2022-10-09 09:01] #10274 closed

[2022-10-09 09:03] fgelcer commented on #11655
@asias , but it is not enabled by default on 5.1 / 2022.2 (nor 5.0 / 2022.1)...

[2022-10-09 09:08] asias commented on #11655
I know that. If the above helps, it at least tells us if off strategy would help.

Is this a new test? Is this a regression?

[2022-10-09 09:48] fgelcer commented on #11655
not a new test, and AFAICT this is a regression

[2022-10-09 10:21] fgelcer commented on #11746
in the last run, without LWT enabled, we had not encountered this issue

[2022-10-09 12:54] michoecho commented on #11710
I took a look. It looks like a system, rather than a Scylla problem. The "stalls" are happening in random code, simultaneously across shards, and even across multiple nodes (which are presumably located on the same physical machine?).

Example:

Node 1:
[code]

Node 9:
[code]

Node 10:
[code]

It seems to me that this should be closed as a platform-related outlier.

@avikivity Agreed?

[2022-10-09 13:24] michoecho commented on #11710
Wait, I got that terribly wrong. The stall which happens across nodes happens in `std::regex` at `db::commitlog::descriptor::descriptor()` and has nothing to do with the LSA destructor stalls, which happen on one shard at a time. I retract my previous comment completely.

[2022-10-09 13:59] avikivity commented on #11710
[code]

[2022-10-09 14:03] avikivity commented on #11245
Why me?

[2022-10-09 14:04] avikivity commented on #11655
@asias please see what can be done

[2022-10-10 08:21] aleksbykov commented on #11582
Issue reproduced with Scylla version : `5.2.0~dev-20221002.060dda8e00b7`

## Installation details

Kernel Version: 5.15.0-1020-aws
Scylla version (or git commit hash): `5.2.0~dev-20221002.060dda8e00b7` with build-id `b4e08d869feb2fecb04c6ea45eb8946cade10c70`

Cluster size: 8 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-cdc-100gb-8h-multi-dc-tpc-db-node-d5febf1d-9 (3.230.2.18 | 10

[2022-10-10 09:24] #11753 closed

[2022-10-10 09:57] xemul commented on #10296
@eliransin , `c45050895403` version has no token-metadata changes I've made so far

[2022-10-10 09:59] xemul commented on #11121
Ah, it's due to #10927, but this time it's non-0 shard that steps on an io-queues that had been released on misconfiguration

[2022-10-10 09:59] #11121 closed

[2022-10-10 10:02] soyacz commented on #11655
It failed with the same error for reproducer on 2022.1.2 - so it's not a regression for 2022.2

@asias I can start another reproducer if you want to take a look into running cluster. Ping me on slack/google chat.

[2022-10-10 10:07] asias commented on #11655
I want to know if this test has ever passed? Which version has passed? E.g. if 2021.1.X has passed but 2022.1 started to fail.

Let's understand more before we run more tests.

[2022-10-10 10:50] soyacz opened #11756 "Coredump when adding column in large partition test"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc2-20220919.75d087a2b75a` with build-id `463f1a57b82041a6c6b6441f0cbc26c8ad93091e`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/scylladb-2022.2/scylla-enterprise-x86_64-package-2022.2.0-rc2.0.20220919.75d087a2b75a.tar.gz
Cluster size: 4 nodes (i3en.

[2022-10-10 11:04] annastuchlik commented on #11753
@half0wl Thank you for reporting the problem. It is now fixed.

[2022-10-10 11:40] soyacz commented on #11655
This nemesis was not run before for this test - so I cannot say.

[2022-10-10 12:27] kbr- opened #11757 "test.py: topology test files with multiple tests take longer and longer to run with `--repeat`"
When running, for example,
[code]

the subsequent repeats of `test_topology.py` will take longer and longer - and eventually start timing out.

This happens due to how the test framework is handing out clusters to tests (using `Pool`). For example: after the first test of `test_topology.1` (the first repeat of `test_topology`)  finishes, we won't immediately lease a cluster to the second test in `

[2022-10-10 12:36] kostja commented on #11757
The clusters are marked dirty in topology tests. So they are not returned to the pool. The problem apparently they are not destroyed (since recently) to avoid ip address reuse. WDYT?

[2022-10-10 12:41] kbr- commented on #11757
It doesn't matter if they are marked dirty or not, returned to the pool or not.
Whether the Pool creates a new cluster or gives out an existing one doesn't matter. The problem is in the **order** of how it handles requests.

If you imagine the sequence of events of how clusters are handled out, and consider the test file run assigned to each event - the problem is that the intervals between each o

[2022-10-10 12:42] kbr- commented on #11757
Instead, existing runs should be prioritized (again assuming pool size == 4; suppose there are 3 test cases in the file):
[code]

in this sequence we managed to run all tests in the first 4 runs before starting the first test in run 5 and so on.

[2022-10-10 13:01] kostja commented on #11757
The way test.py does it is that it builds a list of cases. With --repeat, it creates more object. Each object is independent. Then it begins running the tests in the order they are added to the list. Why should the order of tests have anything to do with the pool?

[2022-10-10 13:14] kbr- commented on #11757
test.py builds a list of **test files**. Each file contains multiple tests (test cases). The test file leases a single cluster at the beginning, then passes it to the first test case. Then each subsequent test case attempts to lease a cluster for itself.

Initially we manage to lease 4 clusters, one to each test file, so we start 4 runs of the test file, let's call them 1, 2, 3, 4. (`test_topology

[2022-10-10 13:19] kostja commented on #11757
Indeed, this changed with leasing clsuters per test case, not per test file (my mental model is deprecated after alejo's chagnes). In any case it shouldn't matter unless we have a quadratic algorithm sitting somewhere in there. Its also fine to not return clusters back to the pool if they are leased by a file (i.e. return to leasing the cluster to a file, not to a case).

[2022-10-10 13:23] kbr- commented on #11757
I think we should go all the way so that test.py operates on test (case) level, not on test file level.

It would solve this problem: we would not longer care about how long a single test file runs, only about how long a test case runs.

It would also solve a different problem: it would give us the ability to run test cases from a single file concurrently. Right now, even though we have 4 clusters

[2022-10-10 17:24] michoecho commented on #2577
@tgrabiec I'm working on this right now and I'm taking the partition_version reuse route. This may incur some conflicts with your mutation_partition_v2. Do you have any estimate about when it's coming to master?

[2022-10-10 20:48] aleksbykov opened #11760 "Large reactor stall 270ms during complex schema with MV and SI and cdc"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`

Cluster size: 3 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- gemini-cdc-preimage-write-2022-2-db-node-a2de1764-3 (34.240.10.43 | 10.4.0.253) (shards: 14)
- gemini-cdc-preimage-write-2022-2-db-node-a2de17

[2022-10-11 06:05] bhalevy commented on #11245
@xemul whay else has to be done to close this issue?
weren't the fixes merged already?
@roydahan any news from testing?

[2022-10-11 06:24] git-sindu opened #11761 "disk issue while creating backup"
We use scylla manager to backup our data to s3. Every time backup happens, we hit disk space issues on nodes where we reach 100% disk usage. We hit this 100% before data is even uploaded to s3 and we have to delete the snapshots, is there any workaround/ better way to do this?

*Installation details*
Scylla version: 4.6
Cluster size:  8 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

[2022-10-11 06:48] xemul commented on #11245
I'd call for testing. And storage_service's IO error subscription still haunts my mind...

4c8dc41f7513bdb7730cbd01a45725945ef99559 & 5fd4b1274ee7e1104f79048bf6750e776a5e4f93

[2022-10-11 07:03] gleb-cloudius commented on #10578
On Mon, May 16, 2022 at 08:53:32AM -0700, Kamil Braun wrote:

The whole leader_commit_idx is an optimization and not really necessary for read barrier to work.
I think setting it to min(matched_idx, _commit_idx) when sending should
fix it.

Something like this:

diff --git a/raft/fsm.cc b/raft/fsm.cc
index e013746924..aed89ba3d0 100644
--- a/raft/fsm.cc
+++ b/raft/fsm.cc
@@ -1021,7 +1021,7 @@ void

[2022-10-11 07:15] DoronArazii commented on #11245
I pinged you because I saw the "backport candidate" label

[2022-10-11 07:48] bhalevy commented on #3984
@tgrabiec anything else in particular that is required to be done here?

[2022-10-11 07:49] bhalevy commented on #3983
@tgrabiec anything else in particular that needs to be done here?

[2022-10-11 07:51] bhalevy commented on #3614
@DoronArazii this issues hasn't reproduced again.
I suggest closing it for aging out

[2022-10-11 07:53] bhalevy commented on #3246
@DoronArazii this issues aged out.
A ton of improvements had already been made to the mutation readers path so this issue isn't relevant anymore, so it can be closed IMO.

[2022-10-11 07:56] asias commented on #10665
That is per node. If you choose per shard the number will be normal. I used
per shard to analyze multiple nodes.

On Wed, Jun 29, 2022, 19:15 Avi Kivity ***@***.***> wrote:

[2022-10-11 07:56] DoronArazii commented on #3614
Closing per @bhalevy suggestion.

/Cc @roydahan

[2022-10-11 07:56] #3614 closed

[2022-10-11 07:56] bhalevy commented on #3209
We have dtests aroung regenerating the sstable summary file and I don't know of any remaining issue with it.
@raphaelsc can you please verify by trying to reproduce the scenario described here. If we can't reproduce it, let's close the issue.

[2022-10-11 07:57] DoronArazii commented on #3246
Closing per @bhalevy suggestion.

/Cc @roydahan

[2022-10-11 07:57] #3246 closed

[2022-10-11 08:34] slivne commented on #9505
We do off-strategy compaction at the end  + cache invalidation - you can
try and correlate the metrics with latency

On Wed, May 25, 2022 at 12:39 PM Avi Kivity ***@***.***>
wrote:

[2022-10-11 08:56] gleb-cloudius commented on #9505
On Wed, May 18, 2022 at 06:42:32AM -0700, Avi Kivity wrote:

I am not sure it will not evolve into ad-hoc queue implementation :)

We can try to do that and see if it helps here.

--
			Gleb.

[2022-10-11 09:15] asias commented on #11552
5.0.4 is out. I am closing this issue. If you saw this again please reopen. Thanks for reporting.

[2022-10-11 09:15] #11552 closed

[2022-10-11 09:18] r4fek commented on #11552
I confirm that problem no longer exists. Thank you so much!

[2022-10-11 09:46] #11752 closed

[2022-10-11 09:51] annastuchlik commented on #11752
@half0wl Thank you for reporting the problem. It is now fixed.

[2022-10-11 11:55] avikivity commented on #11245
Ah, it was open so I thought not fixed. But I see there are fixes merged.

[2022-10-11 11:56] avikivity commented on #11245
Fixed by 4c8dc41f7513bdb7730cbd01a45725945ef99559 and 5fd4b1274ee7e1104f79048bf6750e776a5e4f93.

[2022-10-11 11:57] #11245 closed

[2022-10-11 12:01] avikivity commented on #11245
@xemul please backport it, the two commits don't apply cleanly so there must have been another fix.

[2022-10-11 12:04] avikivity commented on #11760
Decoded bactrace:

[code]

[2022-10-11 12:08] avikivity commented on #11760
The two stalls are both in stall-resistant code. They also both happen at exactly the same time, and on different shards.

This suggests a VM-level or OS-level event rather than bugs in the code reported.

[2022-10-11 12:12] avikivity commented on #11760
The logs are truncated:

[code]

[2022-10-11 12:13] avikivity commented on #11760
Closing as insufficient information. Btw this is a run from a month ago!

[2022-10-11 12:13] #11760 closed

[2022-10-11 12:35] avikivity commented on #11655
[code]

@asias do we need something similar to 3dc9a81d02a26d021ad1954d57b574ad4899561d for streaming?

[2022-10-11 12:35] soyacz commented on #11468
I backported to 2022.1/5.0 - I'll try upgrade test couple of times to reproduce

[2022-10-11 17:17] raphaelsc commented on #3209
assigned this issue to myself, will take a look soon.

[2022-10-11 18:15] fgelcer commented on #11584
either the fix is not enough, or it is missing/broken from 2022.2.0~rc3:

## Installation details

Kernel Version: 4.18.0-147.0.3.el8_1.x86_64
Scylla version (or git commit hash): `2022.2.0.rc3-20221009.994a5f0fbb4` with build-id `756ea8d62c25ed4acdf087054e11b3d07596a117`
Relocatable Package: http://downloads.scylladb.com/unstable/scylla-enterprise/enterprise-2022.2/relocatable/2022-10-09T10:39:11

[2022-10-11 18:16] fgelcer commented on #11584
@avikivity , did the backport reach enterprise 2022.2?

[2022-10-11 18:28] tgrabiec commented on #2577
I think we should wait with this until mutation_partition_v2 is done. It's "almost done", should be soon.

[2022-10-11 18:43] roydahan commented on #11617
Removing the high label, since all runs after this fail (at least 10) on master passed without any issue.

[2022-10-11 18:45] roydahan commented on #11617
The runs of 5.1 and 2022.2 also pass now, so @syuu1228 I don't mind to close this issue.

[2022-10-11 19:00] roydahan commented on #7840
It was easily reproduced for @slivne even without CDC.
If we want to check what's the current status of this issue now that we have "offstrategy", it's possible to do it.

[2022-10-11 19:07] roydahan commented on #7840
In the last run we had for 2022.2 (https://argus.scylladb.com/test/609d13a8-f864-473f-b5fe-660f147b70e7/runs?additionalRuns[]=feb1547d-7dd5-4f5d-b24b-3824668990af), we had this nemesis 3 times.
I see the IO drop, but I think it's not as severe as it was when originally reported.

@aleksbykov please verify that.

Also, there is a related issue reported on the same nemesis in this same test #11710

[2022-10-11 19:09] roydahan commented on #7720
@aleksbykov can you please check some of the CDC runs and report here if you still see an issue.
If not, let's close this.

[2022-10-12 08:12] denesb opened #11770 "reader_concurrency_semaphore: inactive readers are only evicted on the admission path"
Inactive readers are supposed to be evicted whenever there is demand for new permits. However it appears this doesn't work as intended. A user (on 4.6) reported the following:
[code]
There are many waiters here, yet there are 59 inactive readers.

[2022-10-12 08:16] DoronArazii commented on #10687
This is not a regression - pushing to 5.2

[2022-10-12 08:19] avikivity opened #11771 "enhancement: schema disagreement metric"
It's often difficult to understand if a schema mismatch is eventually resolved, or if it stays forever. This is because the client may give up and go away, and we are left with collecting the logs and analyzing them.

To improve this, we can have a schema disagreement metric, nominally at zero and non-zero when a schema disagreement is detected. This allows us to understand at a glance is a schema

[2022-10-12 08:19] avikivity commented on #11771
@tgrabiec @asias please suggest implementations

@eliransin suggested count-of-nodes-that-disagree-with-my-schema

[2022-10-12 08:20] DoronArazii commented on #10356
Not a blocker for 5.1

[2022-10-12 08:24] DoronArazii commented on #10250
@syuu1228 What's the next step here? Do we have PR?

/Cc @yaronkaikov

[2022-10-12 08:25] DoronArazii commented on #10192
@juliayakovlev ping

/Cc @roydahan

[2022-10-12 08:28] DoronArazii commented on #10061
@roydahan / @aleksbykov please update if this is still happening

This is a **regression**

[2022-10-12 08:33] DoronArazii commented on #9565
@aleksbykov /  @roydahan please try to reproduce it

[2022-10-12 08:34] DoronArazii commented on #9446
@geobeau plese try to reproduce it

[2022-10-12 08:37] DoronArazii commented on #9059
Not a regression - pushing to 5.2

[2022-10-12 08:42] DoronArazii commented on #8273
Pushed to 5.2

[2022-10-12 08:43] DoronArazii commented on #8030
@roydahan ping

[2022-10-12 08:48] DoronArazii commented on #7901
@roydahan ping

[2022-10-12 08:50] juliayakovlev commented on #10192
@DoronArazii as I found it happened in 5.0, 5.1, 2022.1 and 2022.2

[2022-10-12 08:50] DoronArazii commented on #7840
Pushing to 5.2

@roydahan let's try to reproduce it

[2022-10-12 08:53] DoronArazii commented on #7249
Closing.

We have a new bug ^^

[2022-10-12 08:53] #7249 closed

[2022-10-12 08:55] DoronArazii commented on #7232
@eliransin / @roydahan i'm closing this case - we can always reopen

[2022-10-12 08:55] #7232 closed

[2022-10-12 08:55] DoronArazii commented on #7110
@eliransin / @roydahan i'm closing this case - we can always reopen

[2022-10-12 08:55] #7110 closed

[2022-10-12 08:57] DoronArazii commented on #7087
@eliransin please have a look (it seems to be old)

[2022-10-12 08:59] DoronArazii commented on #5251
@eliransin ping - please check what can be done here.

Pushing to 5.2

[2022-10-12 09:17] yaronkaikov commented on #10250
@DoronArazii There is a PR under review for this https://github.com/scylladb/scylladb/pull/11688

[2022-10-12 10:48] DoronArazii commented on #11675
@eliransin this is a 'schema changes' case - do you want me to push it to 5.2?

/Cc @roydahan @avikivity

[2022-10-12 10:49] KnifeyMoloko commented on #11103
Reproduced while running 5.0.5:

## Installation details

Kernel Version: 5.15.0-1021-aws
Scylla version (or git commit hash): `5.0.5-20221009.5a97a1060` with build-id `5009658b834aaf68970135bfc84f964b66ea4dee`

Cluster size: 3 nodes (i3.large)

Scylla Nodes used in this run:
- gemini-with-nemesis-3h-normal-5-0-oracle-db-node-34523c77-1 (34.205.92.61 | 10.0.0.24) (shards: 2)
- gemini-with-nemesis-

[2022-10-12 10:51] fgelcer commented on #11359
seeing it in recent build of the same job for `2022.2.0~rc3` in this [job here](https://jenkins.scylladb.com/job/enterprise-2022.2/job/artifacts-offline-install/job/artifacts-ubuntu2204-arm-test/6/)

@syuu1228 , should it be backported? other fixes too?

[2022-10-12 11:34] DoronArazii commented on #11700
@avikivity please have a look

[2022-10-12 11:38] DoronArazii commented on #11017
@eliransin please have a look and determine the priority

[2022-10-12 11:49] rayakurl commented on #11584
seems like it happened on 2022.2 :

## Installation details

Kernel Version: 4.18.0-147.0.3.el8_1.x86_64
Scylla version (or git commit hash): `2022.2.0.rc3-20221009.994a5f0fbb4` with build-id `756ea8d62c25ed4acdf087054e11b3d07596a117`
Relocatable Package: http://downloads.scylladb.com/unstable/scylla-enterprise/enterprise-2022.2/relocatable/2022-10-09T10:39:11Z/scylla-enterprise-x86_64-package.tar

[2022-10-12 11:58] annastuchlik opened #11773 "Fix the notes on the OS Support by Platform and Version page"
The notes on the OS Support by Platform and Version page look off.
https://docs.scylladb.com/stable/getting-started/os-support.html

Fix the misleading information and remove repetition.

[2022-10-12 12:09] eliransin opened #11774 "Service Levels: Node crashes during parsing of service level creation with unreserved keywords"
There is a coding mistake making service level queries to crash when involving a service level name which is an
unreserved word.
Unreserved words are cql type names such as `int` or `text` and the word `empty`
The bug is due to trying to consume an already consumed text in the parser.
Affected branches - All service level supporting branches 4.6,5.0,5.1 and master itself.
An example for a such a q

[2022-10-12 12:27] avikivity commented on #11584
It as missing from 2022.2, will be there once the next promotion happens.

[2022-10-12 13:13] #11302 closed

[2022-10-12 13:13] #6088 closed

[2022-10-12 13:14] roydahan commented on #11103
@KnifeyMoloko please extract the failure to be in a more readable way and please check if it's the exact same issue as this original bug that was opened - you can also consult @aleksbykov if it's known issue or not.

[2022-10-12 14:11] aleksbykov commented on #9621
I updated this issue because error is very similar. The problem happened with c-s in [longevity-alternator-3h-test](https://jenkins.scylladb.com/job/scylla-5.1/job/longevity/job/longevity-alternator-3h-test/6/).
During nemesis TerminateAndReplace ( the nemisis terminate one node and the replace it with new one) c-s reported a lot of errors:
[code]
This errors terminated the c-s and test itself. Th

[2022-10-12 14:18] KnifeyMoloko commented on #11103
@roydahan I extracted it to be a bit more readable now. I do believe it's the same as the one reported here. Same error encountered at the same time (end of warmup in Gemini, row values look to be the same, i.e. the above "+map" and "-map" output is the same)

[2022-10-12 15:49] dorlaor commented on #10296
@asias @eliransin this is the last regression to fix in 5.1, pls have a look

[2022-10-12 18:10] tzach commented on #9504
@raphaelsc does https://github.com/scylladb/scylladb/commit/0d5ac845e1a71d18097c65309979e90494d93230 fix this issue?

[2022-10-12 19:26] raphaelsc commented on #9504
https://github.com/scylladb/scylladb/commit/0d5ac845e1a71d18097c65309979e90494d93230 improves things a lot, but we can improve it further, with a space-oriented ticket system, for limiting space usage across shards, when low on disk space.

[2022-10-13 01:27] asias commented on #11771
What about each node publishes the schema UUID directly as a metric. If UUID is not possible, we can convert them to integers (e.g., 128bits or 64bits + 64bits).

With this, we can know exactly which node is out of sync over time.

[2022-10-13 01:48] asias commented on #10296
I asked to collect more information here:

https://github.com/scylladb/scylladb/issues/10296#issuecomment-1217684547

Such information is not collected yet.

[2022-10-13 02:02] asias commented on #10296
Do we know it is a regression since when? 5.0.0 is good?

[2022-10-13 04:18] denesb commented on #11721
Seen again in https://jenkins.scylladb.com/job/scylla-master/job/next/5343/.

[2022-10-13 05:45] asias commented on #10296
Here is a private build on top of scylla_5.1.0~rc3:

https://storage.googleapis.com/scratch.scylladb.com/asias/10296/b761e35a452d.tar

It adds debug info when truncate fails. It also contains a potential fix.

@ShlomiBalalis @k0machi

Could you please rerun the test with the above deb packages?

[2022-10-13 07:32] avikivity commented on #11771
We can also export it as a label. But why won't a disagreement metric work? The disagreeing node will have N-1 disagreements, the others will have 1.

[2022-10-13 07:33] avikivity commented on #11771
(I like metrics to refer to a count of something, not be completely arbitrary)

[2022-10-13 07:54] alecco commented on #11721
https://jenkins.scylladb.com/job/scylla-master/job/next/5343/artifact/testlog/x86_64/debug/test_topology.7242.log

...

[code]

For some reason new server `127.109.102.80` is up but didn't want data or something.

@kbr-  do you know what could this be or how can we prevent it?

[2022-10-13 08:06] gusev-p commented on #11721
Perhaps we should wait until `127.109.102.80` becomes active from the point of view of the node on which decomission will be perfromed (`127.109.102.90` ?). We can query the active nodes [through this method](https://github.com/scylladb/scylladb/blob/master/api/api-doc/gossiper.json#L30).

[2022-10-13 08:07] asias commented on #11771
Exporting the schema id has less indirection. It is the source of the true. Say n1 sees 2 nodes have different schema. We do not which node nodes are out of sync.

[2022-10-13 08:51] avikivity commented on #11771
That's true. I just don't a metric that has a random value. We'd also need 4 ints, because the tools might convert int64->double along the way and lose precision.

[2022-10-13 09:19] kbr- commented on #11721
Deducing from the error message, not every node thinks that `80` is up:
[code]
On the other hand, looking at the logs of `90` (which tried to do the decommission):
[code]
It does consider it UP. But it doesn't consider it NORMAL. Perhaps the status update didn't arrive to `90` yet - `80` has just finished bootstrapping. And perhaps the error message is misleading: "down" doesn't mean DOWN, in this

[2022-10-13 09:19] kbr- commented on #11721
Fortunately, different test.

[2022-10-13 09:21] kbr- commented on #11721
But it's weird that this test started failing now.
Regression?

[2022-10-13 09:56] tgrabiec commented on #11771
With raft, schema version could be (will be?) a timestamp, then by exporting it as a metric we would immediately know which node is behind and which is ahead.

What to export depends on what you really want. If you just want to see how long the disagreement took, then exporting a boolean called "in disagreement" is enough.

[2022-10-13 09:59] kbr- commented on #11721
I have an idea:
in my recently merged "raft upgrade tests" PR, I changed the `cql_is_up` function used by the framework; it no longer creates and drops keyspaces, now it does a simple select from system.local. This shifts earlier the moment the framework considers a node to have finished bootstrap. If this problem is caused by other nodes not noticing that the bootstrapping node entered NORMAL sta

[2022-10-13 10:48] kbr- commented on #11721
Nope, it seems something else is happening.

This message:
[code]
happens when some node fails to answer the `node_ops_cmd::decommission_prepare` message:
[code]

So it means that `90` got `seastar::rpc::closed_error&` exception when it sent the message to `80`. Indeed we can see earlier in `90`'s logs:
[code]

However, looking at `80`'s logs... it did receive the message:
[code]
this log is print

[2022-10-13 11:09] DoronArazii commented on #9621
@roydahan please decide about the severity

[2022-10-13 11:11] DoronArazii commented on #11245
@xemul ^^

[2022-10-13 11:18] DoronArazii commented on #11733
@avikivity / @michoecho please update on the progress

[2022-10-13 11:24] michoecho commented on #11733
Every read from a compressed SSTable gets an instance of `compressed_file_data_source`, which contains an instance of `compressor`, which is an abstraction over the `algorithm_processor` algorithm-specific compressors.

The seen in this issue is that every instance of `zstd_processor` holds a persistent memory buffer for (de)compression context. The size of this buffer directly depends on compress

[2022-10-13 11:37] denesb commented on #11733
I'm not sure reads done on behalf of view updates wait for admission. I.e. they will ignore how many resources are available. We should still account for this buffer if it makes sense (depending on which solution we go for).

Can't we use a stack buffer? The stack is not infinite either but 1MiB should be fine.

If every table can have a different buffer size, how will you choose the correct size?

[2022-10-13 11:38] denesb commented on #11770
I'm trying to reproduce this with a unit test. No luck so far.

[2022-10-13 11:57] michoecho commented on #11733
That might be. I see that view_update_concurrency_semaphore exists, but I'm completely clueless about views, so I don't know what's it's role.

Won't this blow up in a seastar::thread? Also, compression contexts can grow bigger than 1MiB rather easily. (Decompression contexts have a constant size, about 96KiB).

Yes, I just reallocate the buffer when it's too small. But to prevent a situation wher

[2022-10-13 12:02] geobeau commented on #9446
Hello, we are in the middle of testing.
Last week, we tried to reproduce the bug on 5.0.1 with data injected on a test cluster. We didn't see the bug.
Now we are are testing by joining a cluster that is receiving live data. I'll keep you updated

[2022-10-13 12:32] kbr- commented on #11721
I'm trying to reproduce this problem locally and I haven't managed to reproduce this exactly yet, but something similar: streaming started, but then randomly at some point there was an RPC error. In this run, node `54` was decommissioning and there was another node `63` in the cluster to which it streamed data. Then, on node `54`:
[code]

on node `63`:
[code]

so apparently it did start streaming

[2022-10-13 12:47] xemul commented on #11245
Backported to 5.1 :point_up:
Backporting to 5.0 depends on the #10498 fix which includes 54-patches (4438865a26ee86ce7eb19f5529680863a9105b0b) and was acknowledged as non-backportable

[2022-10-13 12:50] roydahan commented on #11550
Ok, so if the test schema can explain how we reached 2.9 TB with a raw dataset of 1TB (e.g. STCS, MV, SI), I think we can close the issue as a dup of one of the other coredump due to enospc issues.

[2022-10-13 13:01] kbr- commented on #11721
I wish `stream_closed` and `closed_error` gave a non-zero amount of details about what happened. It seems that these exceptions can be returned in a number of different error situations, but they don't say what the error was.

[2022-10-13 13:03] xemul commented on #11245
And compaction manager piece to 4.6 :point_up:

[2022-10-13 13:47] DoronArazii commented on #10192
@avikivity is it something we need to handle with in 5.1?

[2022-10-13 13:53] DoronArazii commented on #11507
@eliransin ^^

[2022-10-13 13:55] DoronArazii commented on #11542
@kostja please have a look on this case.
this "high" priority case meant to be fixed in 5.1

[2022-10-13 13:57] DoronArazii commented on #11710
@avikivity / @michoecho / @elcallio what's the next step for this issue?
We intend to fix it for 5.1

[2022-10-13 14:12] michoecho commented on #11710
@DoronArazii To be clear, there seem to be multiple unrelated sources of stalls in the log. I took a look, but what caught my eye (the regex) seems to be a separate issue from the one described in the original post, and probably a rather minor one. The cause of stalls described in the original post for this issue remains a mystery.

In other words, nobody has worked on the actual issue yet.

[2022-10-13 15:03] kbr- commented on #11721
For some reason, while we're handling NORMAL status for a given node (`storage_service::handle_state_normal`), connections to the node are dropped. If we try to send the `node_ops` RPC *after* `handle_state_normal` finishes, it's fine: we will re-establish the connection (in `get_rpc_client`). However, the dropping of connections may race with the sending of the RPC. To send the node_ops RPC we ma

[2022-10-13 15:15] kbr- commented on #11721
Well, in any case, decommission should probably wait until all nodes are in NORMAL state. Not only that - it must wait until `handle_state_normal` finishes - there may be no mechanism implemented for that yet

[2022-10-13 15:19] kbr- commented on #11721
But there's just so many things that could be improved:
- Some place in the code drops all connections, causing all in-flight RPCs to fail.
- RPCs are failing and not retrying. This fails a big administrative operation like `decommission`.
- Decommission can start in weird states where not every node is up/normal

[2022-10-13 15:22] kbr- commented on #11721
@asias in 58c65954b8cedc498678e97027885aea1cad24f3 you made decommission fail if some nodes are dead.
Perhaps we should improve this and require something stronger - that every other node has been "fully joined"? (`handle_state_normal` finished)

[2022-10-13 15:28] kbr- opened #11780 "Decommission can fail due to concurrent fiber dropping RPC connections"
The decommission operation sends a bunch of RPCs and opens RPC streams. These remote call may fail due to connection dropping by concurrently running fiber.

This concurrent dropping is caused by `storage_service::handle_state_normal`. Note that even if the operator first checks that every node is considered to be in NORMAL state from the POV of the decommissioned node before starting the operatio

[2022-10-13 15:28] kbr- commented on #11780
cc @asias @xemul

[2022-10-13 15:29] kbr- commented on #11780
This causes `test_topology.test_decommission_node_add_column` to fail.

[2022-10-13 15:29] kbr- commented on #11721
Closing this issue because it's about another test.
Opened another where I described the root cause: https://github.com/scylladb/scylladb/issues/11780

[2022-10-13 15:29] #11721 closed

[2022-10-13 15:36] kbr- commented on #11780
cc @gleb-cloudius

[2022-10-13 16:02] xemul commented on #11780
not _all_, but only those whose location was unknown at the time of the fist RPC verb in this verb-group was sent to

[2022-10-13 16:54] jorge-pessoa opened #11781 "ServerError from all nodes on query hitting indexes after insert operations"
*Installation details*
Scylla version (or git commit hash): Scylla Enterprise 2021.1.12 @ Scylla Cloud
Cluster size: 2 datacenters, 3 nodes each

* Issue *
While investigating an issue with some of our data pipelines failing inconsistently we've identified a possible problem (and at least a dubious error message).
Our table is structured as
[code]
and adding to indexes
[code]

If we perform a sign

[2022-10-13 20:00] #10250 closed

[2022-10-13 20:00] #11355 closed

[2022-10-14 02:45] anwareset commented on #11770
this happen when the node restarted, or downscale.

[2022-10-14 04:23] denesb commented on #11733
Oh, so this buffer is only used when writing sstables? I somehow missed that. Writing sstables is relatively rare (compared to reading them). Also, it happens with very low concurrency on a per-table, or in other words per compressor basis. So I think it makes sense to allocate the buffer once per sstable write and reuse it while writing that sstable, then throw it away.

[2022-10-14 07:26] JerryKwan opened #11782 "Where to set JMX to remote and config the authenticate and password?"
Where to set JMX to remote other than local? and how to config the authenticate password?

In cassandra, we can config it in cassandra-env.sh, which allow the following configuration

JVM_OPTS="$JVM_OPTS -Dcom.sun.management.jmxremote.authenticate=true"
JVM_OPTS="$JVM_OPTS -Dcom.sun.management.jmxremote.password.file=/etc/cassandra/jmxremote.password"
But where we can configure them in Scylla?
Tri

[2022-10-14 09:49] kostja commented on #11542
It could be a dormant schema bug that has been around forever, or related to refactorings made during the transformation to support raft based schema changes. Have no immediate idea how a failure to alter a table could corrupt the schema cache so that the column definition is missing.

[2022-10-14 10:10] denesb commented on #11770
Managed to reproduce, working on a fix.

[2022-10-14 10:43] denesb commented on #11770
Affected releases: 4.6+
The effects are excessive reader timeouts in a situation where normally there possibly shouldn't be any.

[2022-10-14 12:09] xemul commented on #7255
Presumably 1f21c1ecc8e90d2bced38c019b1de0b3f651ddf1 fixes it

[2022-10-14 12:09] #7255 closed

[2022-10-14 17:01] kostja commented on #11581
This should be addressed in the latest master please recheck. @aleksbykov

[2022-10-14 18:04] kostja commented on #10192
see also https://github.com/scylladb/scylladb/issues/11542
Looks like pretty much the same issue.

[2022-10-14 18:10] kostja commented on #11582
@aleksbykov same here, this should be fixed on master now, please re-test

[2022-10-14 18:13] #11229 closed

[2022-10-14 18:16] kostja commented on #11068
@kbr- what's the problem fixing it, why did you have to report it?

[2022-10-14 18:18] kostja commented on #10826
@aleksbykov please re-test, should be fixed.

[2022-10-14 18:19] kostja commented on #10287
@aleksbykov please re-test, should be addressed in the latest master

[2022-10-14 18:24] kostja commented on #5696
@nyh this has been hanging around for a while. And we handle ctrl-c quite well now.
I think this should be closed.

[2022-10-14 18:26] kostja commented on #3760
@tgrabiec I believe this is addressed by raft schema changes and can be closed. We only transfer schema using a migration manager with raft a as a whole chunk, so should transfer everything and apply in order. Do you agree?
If you have an idea how to construct a test case for the issue, please write it down here.

[2022-10-14 18:29] kostja commented on #4458
@tgrabiec This is solved by persisting the supported features. Now, with the new test.py machinery we could in theory test this, but I believe it still would be difficult (cross-version testing, or we'll have to add a special "test" feature enabled with a command line option just for the sake of testing, which I think is an overkill).
Agree to close this?

[2022-10-14 18:32] kostja commented on #6174
@alecco I believe this is fixed now, could you please retest?

[2022-10-15 06:09] bhalevy commented on #11245
Does the bug exist in 5.0?

[2022-10-15 13:09] tgrabiec commented on #3984
The code changed since then (binary search), and there is no concrete action item. Closing as obsolete.

[2022-10-15 13:09] #3984 closed

[2022-10-15 13:18] tgrabiec commented on #3760
@kostja It would be fixed if `migration_manager::get_schema_for_write()` would pull the latest schema before calling `get_schema_definition()`. It doesn't, local schema can lag behind the request's schema.

[2022-10-15 13:20] tgrabiec commented on #4458
Which commit do you think fixes this?

[2022-10-15 14:17] michoecho commented on #2577
Progress update: I have a working[^1] patch at https://github.com/michoecho/scylla/commits/gentle_schema_upgrade, but it's not prepared for review yet. It also has multiple local improvement opportunities (e.g. naming, using a move instead of a copy, etc.), and it needs more tests, but it's generally shaped up.

I'll probably wait with finalizing it until mutation_partition_v2 is done, as @tgrabie

[2022-10-16 06:30] DoronArazii commented on #11710
@avikivity if this issue needs to be solved for 5.1 - it must have an assignee

[2022-10-16 06:32] tzach commented on #11782
@syuu1228 ?

[2022-10-16 07:47] eliransin commented on #11684
@asias this looks like a correctness issue please handle with high priority.

[2022-10-16 08:38] avikivity commented on #11359
@syuu1228 need advice about backport.

[2022-10-16 08:39] avikivity commented on #11208
Not sure why this has the High label (or even bug). Looks like a refactoring that doesn't need backports. @bhalevy ?

[2022-10-16 08:41] avikivity commented on #10804
I'm guessing this was a transient bug that never appeared on a release branch. Not backporting.

[2022-10-16 08:42] avikivity commented on #10668
Backported to 5.0. This is raft, so not backporting further.

[2022-10-16 08:45] avikivity commented on #10250
This deserves a backport, but will let it stew for a bit first. It appears to be very rare.

[2022-10-16 08:46] avikivity commented on #10174
No vulnerable branches, not backporting.

[2022-10-16 08:48] avikivity commented on #9955
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-10-16 08:49] avikivity commented on #9666
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-10-16 08:50] avikivity commented on #9653
No response from @elcallio, but 4.5 is end-of-life anyway.

[2022-10-16 08:53] avikivity commented on #9483
Backported to 5.0 by @tgrabiec, now further backported to 4.6.

[2022-10-16 08:54] avikivity commented on #9425
No vulnerable branches, not backporting.

[2022-10-16 08:54] avikivity commented on #9256
Fix present on all active branches, not backporting.

[2022-10-16 08:55] avikivity commented on #9198
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-10-16 08:56] avikivity commented on #8776
Fix present on all active branches, not backporting.

[2022-10-16 09:17] nyh commented on #5696
As I explained above, this issue is **not** about test.py, but about individual tests when run stand-alone.
There is no reason why we should not be able to run tests individually without test.py.

And exactly like more than two years ago when I created this issue, if you try to run an individual test manually - e.g., `build/dev/test/boost/view_schema_test`, you cannot interrupt it with control-C.

[2022-10-16 11:19] bhalevy commented on #11208
True, it's a work item, not a bug.
No backport is required (and the change is quite intrusive so the bar is even higher for it for backporting)

[2022-10-16 12:10] roydahan commented on #10296
@k0machi can you please try to reproduce the issue with the attached private build from @asias.
You should use "update_db_packages" option in SCT (also verify that the installed version of Scylla afterwards is the correct version).

[2022-10-16 13:27] #11773 closed

[2022-10-16 14:32] raphaelsc opened #11789 "View building fail to move staging SSTables to base dir because generations are taken"
Manifests in the following scenario:

1) staging directory is reshaped on boot
2) reshape picks a generation for output sstable without awareness of generations in base dir. that's because staging files are populated first to underlying table
3) now a sstable in staging and base dir share the same generation
4) staging files are registered for view building
5) view building completes but fail to m

[2022-10-17 02:37] raphaelsc commented on #11488
Unfortunately I am unable to make any progress without a coredump that actually belongs to Scylla core. Using eu-unstrip on the core provided showed it belongs to a different program that segfaulted.

[2022-10-17 02:57] asias commented on #11054
My patch

[code]

Fixed the root cause.

I think we do not need to do anything for 5.1.

[2022-10-17 02:59] asias commented on #11078
I am closing this one since the later releases contain all the fixes mentioned above. Please reopen if you see the problems again. Thanks.

[2022-10-17 02:59] #11078 closed

[2022-10-17 03:02] asias commented on #11034
I think this problem is fixed by:

reader stuck
1) Some shards get stuck in tight loop during repair #11223

rcp stuck
2) seastar: c8f9d6906b7165f32015bc6a851bf7c2dbacd2f9
rpc: Make server::connection::negotiate synchronous

[2022-10-17 03:02] #11034 closed

[2022-10-17 03:06] asias commented on #10536
@jmaixl  How is the cluster going? Can you upgrade to latest 5.0.X release and retry? We have bunch of fixes regarding the reader stuck which takes a lot of cpu, along with rpc hangs which could have impact on decommission.

[2022-10-17 03:12] asias commented on #9805
The dtest was fixed. The fix 1f8b529e08bc613ca250314b51bbd41f728c1d7a is in master.

[2022-10-17 03:12] #9805 closed

[2022-10-17 03:15] asias commented on #11684
@bhalevy I assume this is a recent regression. Do you know the last good version?

[2022-10-17 03:19] asias commented on #11684
@bhalevy  can you confirm the dtest and ccm version used in the report?

![image](https://user-images.githubusercontent.com/320076/196082054-e6601767-42fb-47e0-8b69-067122e2bd26.png)

[2022-10-17 04:04] asias commented on #11684
Looking at the logs

[code]

So,  n1 initially did not contain  the row(2,2), n2 contained row(2,2), the repair above showed n1 got the row(2,2) from n2.

But the test complained n2, did not contain the row(2,2) on n2
[code]

This sounds like a bug in the query where the row(2,2) with ttl 2000 was not returned in the query to n2.

[2022-10-17 07:48] bhalevy commented on #11684
Cc @tgrabiec @denesb any recent changes to the query logic that could explain the above?

We should bisect the branch and pinpoint the patch that caused this regression.

[2022-10-17 08:01] denesb commented on #11684
I see no flushes, maybe they new compact-on-read gets rid of the ttl'd data from memtable.

[2022-10-17 09:15] tgrabiec commented on #11684
Isn't repair writing to sstables directly?

[2022-10-17 09:25] denesb commented on #11684
I understood that regular reads don't show the row either. If the row was collected before repair would start then repair will not have a chance of sending it.

[2022-10-17 09:44] tgrabiec commented on #11684
The row shouldn't be collected, it has ttl of 1000.

[2022-10-17 09:46] tgrabiec commented on #11684
I don't have an idea what could be wrong, we need to reproduce it.

[2022-10-17 09:57] denesb commented on #11684
Yeah, I was also just shooting from the hip and this was the first thing that came to my mind.

[2022-10-17 10:19] tgrabiec commented on #9906
You can terminate the cluster.

[2022-10-17 10:36] tgrabiec commented on #9906
node 3 lags behind schema version more than other nodes between 4:56 and 5:00 (it eventually recovers):

![Screenshot from 2022-10-17 12-13-56](https://user-images.githubusercontent.com/283695/196156077-10841b14-ec6f-4969-a94e-9f8c742ff833.PNG)

Looks like the commitlog is overloaded during that time (node 3 is green):

![screencapture-127-0-0-1-3000-d-detailed-master-detailed-2022-10-17-12_31_37]

[2022-10-17 10:44] tgrabiec commented on #9906
Commitlog io queue delay is ~46 seconds at that time. Reactor load is low. Looks like an IO layer problem. This is a slow ebs disk.

@xemul Could you please check if the io config makes sense for this disk?

[2022-10-17 10:51] xemul commented on #11054
This issue's point is purely about the size of hitrates payload. This fix did nothing with that size.

[2022-10-17 11:08] tgrabiec commented on #9906
@fgelcer If you still haven't terminated the cluster, how can I access it?

[2022-10-17 11:39] xemul commented on #9906
io_properties.yaml says 32k IOPS

[code]

EBS config says 16k

[code]

It would also be nice to screenshot `scylla_io_queue_total_exec_sec`, `scylla_io_queue_queue_length` and `scylla_io_queue_disk_queue_length` metrics. There were issues about all three in scylla-monitoring, all fixed, so they should be displayed on some dashboard

[2022-10-17 13:38] xemul opened #11792 "GDB command `scylla lsa-segment` miscalculates size for trees"
E.g. for radix tree cells:
[code]

(refs: #2455)

[2022-10-17 20:01] jmaixl commented on #10536
Sure thing, I will test again.

[2022-10-17 20:51] vladzcloudius commented on #7277
@jul-stas was there a fix? I don't see any reference. If there wasn't a fix - please, don't close there issue till there is.

The same issue has just been reported for a Java driver `3.11.2.1`

[2022-10-18 01:46] asias commented on #9895
@raphaelsc I saw

[code]

Can we close this issue now?

[2022-10-18 06:57] eliransin commented on #11459
Old to new:
 - Commit just before 78eccd8763 is 08ed4d7405
 - Commit just before b1b22f2c2b is aee94b7176
 - Commit just before cd5fec8a23 is aab052c0d5

[2022-10-18 06:58] fgelcer commented on #9906
cluster was terminated long time ago, but perhaps we can re-run to reproduce the issue.
here is the job:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/reproducers/job/issue_9906/job/longevity-1tb-reproducer/

[2022-10-18 07:44] bhalevy commented on #11756
@denesb please look into this.  It seems to be in your realm...

[2022-10-18 07:51] bhalevy opened #11793 "distributed_loader should first detect the highest generation in a table before allowing new sstables to be created in it"
This is the root cause for https://github.com/scylladb/scylladb/issues/11789
See also discussion in https://github.com/scylladb/scylladb/pull/11790

Currently, we call `populate_column_family` for each sub-directory in the table:
https://github.com/scylladb/scylladb/blob/4ff204c028ded45e33e7d53687de2a6f43b069dc/replica/distributed_loader.cc#L563-L565

and the latter calls
https://github.com/scylla

[2022-10-18 07:52] bhalevy commented on #11793
Cc @raphaelsc

[2022-10-18 08:54] denesb commented on #11756
Will have a look.

[2022-10-18 09:31] DoronArazii commented on #11618
@soyacz ^^

[2022-10-18 09:39] fgelcer commented on #10398
reproduced again:

## Installation details

Kernel Version: 5.15.0-1021-aws
Scylla version (or git commit hash): `5.2.0~dev-20220825.df87949241fc` with build-id `288b8488a4d0bdadd82b8ceb7f2d0f6e5398dcd5`
Relocatable Package: http://downloads.scylladb.com/testing/unstable/scylla/master/relocatable/2022-08-25T23:04:54Z/scylla-x86_64-package.tar.gz
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes use

[2022-10-18 12:01] jul-stas commented on #7277
No. But it's NAB - just a transient warning; and cpp-driver is being replaced by cpp-rust-wrapper so I'm hesitant to introduce any risky changes. Let's get the opinion from the master of drivers, CC @avelanarius

[2022-10-18 12:23] tzach commented on #8180
API Spec can be found here
https://github.com/scylladb/scylladb/tree/master/api/api-doc

[2022-10-18 12:23] tzach commented on #8180
@dgarcia360 please take a look

[2022-10-18 12:24] avelanarius commented on #7277
@vladzcloudius Could you point me to where it was reported for Java Driver?

[2022-10-18 14:15] nyh commented on #5047
In pull-request https://github.com/scylladb/scylladb/pull/11380 @psarna added the username information to the request, so we are one step closer to implementing this feature.

[2022-10-18 14:28] bhalevy commented on #9559
A better approach that could work is stopping view building during cleanup, cleaning up the sstables in the staging dir in-place, then resuming view building if there are any staging sstables left.

[2022-10-18 14:28] bhalevy commented on #9559
Cc @raphaelsc @denesb

[2022-10-18 14:37] goodwinbg1906 opened #11796 "docs: Issue in page Upgrade Guide - ScyllaDB 5.0 to ScyllaDB Enterprise 2022.1 for Ubuntu"
I would like to report an issue in page https://docs.scylladb.com/master/upgrade/upgrade-to-enterprise/upgrade-guide-from-5.0-to-2022.1/upgrade-guide-from-5.0-to-2022.1-ubuntu

### Problem
In the instructions for **Start the node** we state to start scylla service the command is `sudo service scylla-enterprise-server start`

###  Suggest a fix
The resolution should be `sudo service scylla-server s

[2022-10-18 14:42] nyh commented on #5673
Since this issue was created, we added the option of doing writes without LWT, and this problem was discovered in practice by @Felix-zhoux - see #10966. Because of that, in commit 5faf3c711dd38b19994bc561cba0189c6a6458a4 I added a section to the documentation explaining that if LWT is not used for writes, the clocks must be synchronized.

@eliran suggested in #10966 that perhaps Scylla should dete

[2022-10-18 14:43] eliransin commented on #11459
@fgelcer can you help me please with running those 3 versions above in parallel on the reproducer?
I just can't get around to run it.
Tx

/cc @roydahan

[2022-10-18 14:51] fgelcer commented on #11459
ah, just saw you provided AMIs... i will re-run the test with them (on a branch that isn't affected by the workaround i sent)
will post the job runs in the next comment

[2022-10-18 15:05] nyh commented on #5650
Note that the read-side version of this issue (#9984) was fixed by @psarna in merge commit 8a745593a217dea437d3e697f22ae4953b44d624 (from pull request #9986).
We should do something similar - including the ability to test these failures - also for writes.

[2022-10-18 15:17] nyh commented on #6278
We should consider how the feature requested here cooperates with various load-balancing options. If the scan request is sent by a load balancer to a different coordinator than the previous page of the scan, it will not be able to enjoy the cache I proposed. We should perhaps consider how this affect the design of Alternator load balancing (https://github.com/scylladb/alternator-load-balancing) an

[2022-10-18 15:20] nyh commented on #6350
We now have a new Python testing framework in-tree, test/topology, which allows a test to create a multi-node cluster and writing a concurrency-heavy test using futures.
So we can implement these tests in this new framework instead of in dtest. CC @kostja @alecco @kbr-.

[2022-10-18 15:29] nyh commented on #6389
This problem will be solved automatically when we switch to using Raft for schema operations.

[2022-10-18 15:38] nyh commented on #7236
In #11645, we noticed that several tests of test/cql-pytest (we didn't check test/alternator) currently fail against a 3-node cluster and nobody noticed. Most of these are caused by problems in the test - not in Scylla. This demonstrates why having the ability to run 3-node tests once in a while would be useful.

[2022-10-18 16:04] nyh commented on #9169
I added tests for this issue in `test_limits.py`  (in commits 9d49a32486bfd46ababa4ea7a1b8180f2720552 and f6ce7891a5901c59bc887549ef85adf04ae6359b).

These test demonstrate that happily, Alternator is _not_ more limited than DynamoDB in this area (e.g., the 64KB attribute names do work). But the tests also demonstrate cases where because we don't enforce any limits, exceeding the DynamoDB limits b

[2022-10-18 16:12] nyh commented on #10017
The afforementioned commit is now in all releases 5.0 and newer. If we can't reproduce this issue let's close this issue (and reopen if it is re-discovered).

[2022-10-18 16:19] bhalevy opened #11798 "test_content_remove_node dtest: the node being removed is alive"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/116/testReport/system_tables_test/TestClusterStatusTable/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split001___test_content_remove_node/
Scylla version 87b7e7ff9ca1
[code]

[2022-10-18 16:21] bhalevy commented on #11798
Reproduced locally.
Need to bisect to pinpoint what caused the regression.

Last passed in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/115/testReport/system_tables_test/TestClusterStatusTable/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split001___test_content_remove_node/
Scylla version f673d0abbe75

[2022-10-18 16:40] bhalevy commented on #11798
These failures probably share the same root cause:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/116/testReport/repair_based_node_operations_test/TestRepairBasedNodeOperations/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split014___test_disable_rbno/
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/116/testReport/repair

[2022-10-18 16:43] bhalevy opened #11799 "test_smallest_ip_join_late dtest: Startup failed: std::runtime_error (Node 127.0.*.2 has gossip status=UNKNOWN"
Regression seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/115/testReport/junit/bootstrap_test/TestBootstrap/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split001___test_smallest_ip_join_late_2/
Scylla version f673d0abbe75
[code]

@asias please look into this

[2022-10-18 16:47] bhalevy commented on #11798
git bisect points at c76cf5956da7c60b5f24bced4d057c9eda58b03b
Cc @gusev-p

[2022-10-18 16:51] tomer-sandler commented on #11796
@annastuchlik ^^

[2022-10-18 17:32] bhalevy commented on #11799
@asias git bisect points to 810b424a8c3612a0a3419cd556839596e381829a

[2022-10-18 19:27] k0machi commented on #10296
I've set up a repro [here](https://jenkins.scylladb.com/job/scylla-staging/job/alexey/job/longevity-twcs-48h-test/), but it seems to be crashing a node during shutdown in a `disrupt_restart_with_resharding`, it begins shutdown but then this happens:

[code]
Node doesn't restart afterwards

[2022-10-18 20:08] nyh opened #11800 "Typo in Alternator code"
@fee-mendes discovered the following typo in the Alternator code, `executor.cc`:

[code]
clearly the second `view_hash_key` should be `view_range_key`, no?
This is the GSI code - curiously the code for the LSI code is similar but with the correct variable.

The interesting question is whether this bug can be demonstrated in a real use case, and if so we should write a test that reproduces it.

Whi

[2022-10-18 21:22] nyh opened #11801 "UpdateItem setting the same value again for GSI range key may drop the row"
This bug was first described by @fee-mendes, after he noticed it at a user's installation.

This bug is specific to the case of a GSI where **both** partition and range key were non-key attributes in the base table. For example, `test_table_gsi_3` in our test suite where the base table has just a partition key `p` and the GSI has partition key `a` and range key `b` - both non-key attributes. Such

[2022-10-19 01:00] #10017 closed

[2022-10-19 02:26] asias commented on #11799
The test is problematic. It tested starting multiple nodes in parallel which we do not support. The patch https://github.com/scylladb/scylladb/commit/810b424a8c3612a0a3419cd556839596e381829a makes scylla detect such and reported it correctly. I think we should drop the test.

[code]

[2022-10-19 03:15] asias commented on #11655
We do table by table in legacy streaming long time ago.

[2022-10-19 03:26] asias commented on #11684
yes

[2022-10-19 03:35] asias commented on #11684
There are only two rows in the tests

row(1,1) with ttl 5
row(2,2) with ttl 1000

Initially,  the rf = 1, then rf is increased to 2 and repair was performed, repair is supposed to bring row(2,2) with ttl 1000 to the node that does not own it when RF =1, repair did that form the log (n1 did not have row(2,2), n2 had row(2,2) when RF =1)

However, the strange thing is that the test complained n2 did

[2022-10-19 04:08] denesb opened #11803 "reader_concurrency_semaphore: inactive reader eviction is too aggressive"
1) `register_inactive_read()` will evict the to-be-registered inactive read immediately and unconditionally if the `_wait_list` is not empty.
2) `evict_readers_in_background()` will not stop evicting until either the inactive reader list or the waiter list is empty.

In both cases, this strategy is too aggressive. The current admission algorithm will not admit new reads even if there are resources

[2022-10-19 06:23] bhalevy commented on #11799
@roydahan are you ok with dropping this test based on @asias analysis?

[2022-10-19 06:35] fgelcer commented on #11459
basically, to run rolling upgrade tests, we need rather a repository link, other than AMIs (also, it runs on GCE, so EC2 images won't help anyway)..
probably @yaronkaikov / @benipeled can help create these repositories, given commit hashes

[2022-10-19 07:03] denesb commented on #11756
[code]
We are trying to allocate something enormous:
[code]
LSA wants to create a 8.5GB reserve.

[2022-10-19 07:10] denesb commented on #11756
The code that fails to allocate is the snippet:
https://github.com/scylladb/scylla-enterprise/blob/9fc9211d87bc746a8c211e0dfa58f0e8595cc4f4/row_cache.cc#L749-L766
I don't understand what could possibly be that large, given that cache is almost completely evicted.

[2022-10-19 07:38] denesb commented on #11756
[code]
I don't understand how we went from 1 -> 65536? I see no loop here and when allocations fail we just double the reserve. We also seem to revert the reserve each time we fail the allocation.

[2022-10-19 09:44] denesb commented on #11756
[code]
Wow, we have a 98GB sstable. I'll double check thought.

[2022-10-19 09:49] denesb commented on #11756
@soyacz are the nodes still available?

[2022-10-19 09:54] aleksbykov opened #11805 "C-S command failed with errors: WriteTimeoutException: Cassandra timeout during SIMPLE write query at consistency QUORUM (3 replica were required but only 2 acknowledjava.io.IOException: Operation x10 on key(s) during node replace at bootsrap"
## Installation details

Kernel Version: 5.15.0-1020-aws
Scylla version (or git commit hash): `5.1.0~rc3-20221009.9deeeb4db1cd` with build-id `4e3d124e4636ed9e7f88aeaace85c1ac637ed200`
Relocatable Package: http://downloads.scylladb.com/unstable/scylla/branch-5.1/relocatable/2022-10-09T10:30:27Z/scylla-x86_64-package.tar.gz
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- altern

[2022-10-19 09:56] roydahan commented on #11617
According to @rayakurl (please add the details) this is still failing in 5.1.rc3.
Adding back to 5.1 and putting the high lable.

[2022-10-19 09:58] roydahan commented on #11617
There is a PR waiting for backport - https://github.com/scylladb/scylladb/issues/11359

[2022-10-19 10:10] rayakurl commented on #11617
@roydahan - do you still need the details?

[2022-10-19 10:14] denesb commented on #11756
Yep, 98 GB it is.

[2022-10-19 10:20] denesb commented on #11756
I'm quite baffled to be honest on what this could be. I considered some bug/corruption causing us to try to allocate some humongous amount of memory. But allocations that are larger than `logalloc::segment_size` are forwarded to the seastar allocator, and them failing will not cause an increase in `_lsa_reserve` (instead these will bump `_std_reserve`).
So this means we are indeed trying to alloca

[2022-10-19 10:59] denesb opened #11806 "test/topology/test_random_tables.py test_new_table failed with cassandra.ReadFailure"
[code]

Seen in https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2733/

[2022-10-19 10:59] denesb commented on #11806
@kbr- @alecco

[2022-10-19 11:09] avikivity commented on #11805
What's the last version where this test passed?

[2022-10-19 11:13] fgelcer commented on #11805
this same test passed for `5.1.0~rc2-20220919.66f34245fc6c`

[2022-10-19 11:14] k0machi opened #11807 "`disrupt_memory_stress` freezes node for the duration of the stress-ng command"
The `memory_stress` nemesis installs stress-ng and dispatches 1 vm hog that takes all available memory. On this version of scylla this causes write timeouts in stress commands. Logs appear clean of anything, just gossip marking node as down. This appears to be some kind of regression, as this issue isn't present on previous versions of scylla (or previous kernels).

disrupt_memory_stress | longevi

[2022-10-19 11:23] DoronArazii commented on #11798
@avikivity ping (maybe revert?)

[2022-10-19 11:23] #11550 closed

[2022-10-19 11:29] roydahan commented on #11059
We need to run a reproducer with the same nemesis_seed and gemini_seed.
Set the cluster to "keep" and run the test again.

However, it will be good to have someone from dev assigned as well, so we won't start looking for assignee when the cluster is waiting alive.

[2022-10-19 11:31] roydahan commented on #11799
@asias why not just adjusting the test, so node3 will join after node2?
Does it defeat the test purpose?

[2022-10-19 11:32] fgelcer commented on #11359
ping @syuu1228

[2022-10-19 11:33] roydahan commented on #11617
Yes

On Wed, Oct 19, 2022 at 1:10 PM Raya Kurlyand ***@***.***>
wrote:

[2022-10-19 11:52] bhalevy opened #11809 "heap-use-after-free in cql3::statements::select_statement::primary_key reported on aarch64 debug tests"
Seen, for example, in https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1221/artifact/testlog/aarch64/debug/scylla-1.log
[code]

*Decoded*

[code]

[code]

[code]

My best guess, is that this was caused by df8e1da8b2aea4a47873405ba038d504fb6babdb

[2022-10-19 12:21] bhalevy commented on #11798
@gusev-p is on vacation according to the shared calendar, so revert is even more appropriate.

[2022-10-19 13:10] alecco commented on #11806
I only see a `storage_service` exception in logs.

[test.py.log](https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2733/artifact/testlog/x86_64/test.py.dev.log)
[code]

[scylla-12](https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2733/artifact/testlog/x86_64/dev/scylla-12.log)
[code]

[scylla-9](https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2733/artifact/testlog/x86_64/dev/scylla-

[2022-10-19 13:26] #5516 closed

[2022-10-19 15:20] avikivity commented on #11807
Looking at the sorted log:

[code]

[2022-10-19 15:30] avikivity commented on #11807
The log is misleading since the sort reordered lines with the same timestamp.

The logs for node 6 are:

[code]

[2022-10-19 15:31] avikivity commented on #11807
But, look at .1.172. It says UP and then DOWN. Could we have reordered the up/down events?

@asias

[2022-10-19 15:32] avikivity commented on #11807
@roydahan I don't think it's a regression, we haven't touched this area.

Please fire off another run to be sure.

[2022-10-19 15:34] avikivity commented on #11710
Reassigned to @elcallio

[2022-10-19 15:35] avikivity commented on #11710
The code in question is from 2019 (41b1ad8600e). No idea how it's a regression. Do we call it more often now?

[2022-10-19 15:36] avikivity commented on #11054
@DoronArazii this isn't a regression and shouldn't block 5.1.

[2022-10-19 15:42] avikivity commented on #11809
This is not an area that that commit touches.

[2022-10-19 15:43] avikivity commented on #11809
Scratch that, it is.

[2022-10-19 15:44] DoronArazii commented on #11054
Pushing to 5.2

[2022-10-19 16:23] vladzcloudius commented on #9441
@DoronArazii Please, assign somebody to work on this. This is an easy but very important fix we are long waiting for.

[2022-10-19 16:54] michoecho commented on #11710
@avikivity I'm going to repeat myself, but the regex stall is just a side thing. This issue is about other stalls, which I didn't investigate. (I meant to but I bumped into the regex one and didn't notice it's just one of multiple stall sources). The backtrace originally reported in the issue is unrelated to commitlog.

[2022-10-19 17:21] fgelcer commented on #11807
@avikivity , we already re-run it ([here](https://jenkins.scylladb.com/job/scylla-5.1/job/longevity/job/longevity-10gb-3h-test/7/)), and we see the same nemesis passed, although the final test status being failed

[2022-10-19 18:41] ebenzecri opened #11812 "scylla_cpuset_setup default CPUSET value"
(This started as a regular question from one of our ScyllaDB users)

The user wanted to update the number of vCPUs used by Scylla (from 2 to 12).
He ran `scylla_cpuset_setup --cpuset all`, which set `cpuset.conf` as follows:
[code]

`scylla_cpuset_setup --help` output:
![Help](https://user-images.githubusercontent.com/62569533/196775873-91104d5b-7fb3-48f2-9549-c0a4a4265f11.png)

As `perftune.yaml`

[2022-10-19 19:48] vladzcloudius commented on #7711
@nyh Why do we need to go through `mutate_MV()` to begin with? Why not to simply stream MVs data like every other table's data and avoid all this madness?

[2022-10-19 21:12] nyh commented on #11379
@AdamStawarz Piotr's patch for this issue was forgotten, but now merged.

[2022-10-19 21:28] vladzcloudius commented on #7711
To remind you while there is an ongoing topology change each write (to a base table) is sent to BOTH old and new replicas (so called "pending" endpoints). This means that writes that are going on WHILE streaming are going to arrive to both new and old nodes and will trigger regular MV updates.

So, there is nothing that needs to be done here. And this is EXACTLY what I was afraid of.

What we have

[2022-10-19 23:50] #11574 closed

[2022-10-19 23:50] #11789 closed

[2022-10-20 06:37] nyh commented on #7711
@vladzcloudius if this is the case, this is a separate and perhaps more serious issue than the topic of this issue (which was about user writes happening while the streaming is in progress).

I didn't think, or remember, that this was the case in the past. I thought that when we stream data when moving ranges (not the same as repair), we stream base-table and view-table data separately, and don't

[2022-10-20 06:44] tarzanek commented on #11812
ref https://scylladb-users.slack.com/archives/C2NLNBXLN/p1666040785730969

[2022-10-20 06:44] tarzanek commented on #11812
[code]

[2022-10-20 06:48] tarzanek commented on #11812
https://github.com/scylladb/scylladb/blob/master/dist/common/scripts/scylla_cpuset_setup#L20 needs fixing
and later needs some argument parsing/validation for supported format
(https://github.com/scylladb/scylladb/blob/master/dist/common/scripts/scylla_cpuset_setup#L34)

[2022-10-20 06:48] #11809 closed

[2022-10-20 07:35] asias commented on #7711
We stream both view table and base table when add or remove node.  Up receiving of the base table from streaming (either classic streaming or RBNO), we do NOT process the received data for view update. We only process the data marked as repair. The streaming::stream_reason::repair is set only for regular repair operation.

[code]

[2022-10-20 07:39] asias commented on #7711
I am pasting the original email I sent which leads to this github issue.

Mail1:
[code]

Mail2:

[code]

[2022-10-20 07:41] fruch commented on #10398
happened again during the weekly longevity tests:

## Installation details

Kernel Version: 5.15.0-1021-aws
Scylla version (or git commit hash): `5.2.0~dev-20220825.df87949241fc` with build-id `288b8488a4d0bdadd82b8ceb7f2d0f6e5398dcd5`
Relocatable Package: http://downloads.scylladb.com/testing/unstable/scylla/master/relocatable/2022-08-25T23:04:54Z/scylla-x86_64-package.tar.gz
Cluster size: 4 node

[2022-10-20 08:13] nyh commented on #7711
So what @asias wrote above confirmed my understanding that this is still what today's code does: We stream view tables separately and do not do futile "view building" on incoming data from streaming (this is very different from what repair does). So @vladzcloudius I think the problem you thought about doesn't exist. The problem that started this issue is different, and still exists. The original i

[2022-10-20 08:17] asias commented on #11799
The node would fail like this now days.

Node 2:
[code]

Node 3:
[code]

@roydahan Can assign someone from you team to modify the test?

Also the setting below is useless and can be dropped.

[code]

[2022-10-20 08:37] gleb-cloudius commented on #11542
I do not have permissions to any of the logs.

[2022-10-20 08:45] fgelcer commented on #11359
ping @syuu1228

[2022-10-20 09:19] juliayakovlev commented on #11542
@gleb-cloudius please, check now

[2022-10-20 10:15] roydahan commented on #11807
Not accurate.
In this run, during this nemesis we had a coredump for "systemd-networkd.service".
It crashed and changed the behaviour of the nemesis.

[code]

[2022-10-20 10:17] roydahan commented on #11807
I started another run, to see how it goes.

[2022-10-20 11:14] bhalevy commented on #11199
@enedil let's start working on this issue.

[2022-10-20 11:18] bhalevy opened #11816 "Implement vector_deserializer reverse iterator"
Required for consuming frozen mutations in reverse (#11199).

We can make the vector_deserializer::iterator a template that could do either forward or backward iteration.
See https://github.com/scylladb/scylladb/blob/264f453b9da29ee901e4a85fc743ff73b7db636d/serializer_impl.hh#L825

Also, need to extend https://github.com/scylladb/scylladb/blob/264f453b9da29ee901e4a85fc743ff73b7db636d/test/boost/se

[2022-10-20 12:16] gleb-cloudius commented on #11542
To reproduce run use https://github.com/scylladb/scylla-cluster-tests/blob/master/data_dir/c-s_lwt_basic.yaml file and run:
[code]

then run
[code]

and while it is running connect to the cluster with cql and issue:
[code]

At which point the load will fail.

[2022-10-20 12:17] yaronkaikov commented on #11459
[Repo file](https://s3.amazonaws.com/downloads.scylladb.com/testing/unstable/scylla/master/deb/unified/byo/2022-10-20T13%3A57%3A53Z/scylladb-master/scylla.list)
[Jenkins job](https://jenkins.scylladb.com/job/scylla-master/job/byo/job/byo_build_tests_dtest/1521/)

[Repo file](https://s3.amazonaws.com/downloads.scylladb.com/testing/unstable/scylla/master/deb/unified/byo/2022-10-20T14%3A41%3A34Z/scyl

[2022-10-20 12:24] DoronArazii commented on #10296
@asias any progress here?

*this is blocking the 5.1 release

[2022-10-20 12:26] DoronArazii commented on #11805
@bhalevy any progress here?

*this is blocking the 5.1 release

[2022-10-20 12:29] DoronArazii commented on #11528
@fgelcer this is still relevant?

[2022-10-20 12:30] DoronArazii commented on #11527
@rayakurl any updates regarding this case?

[2022-10-20 12:39] avikivity commented on #11805
f60bab9471474e89ada9e53148d3e2bfa4b4f6cc test: row_cache: Use more narrow key range to stress overlapping reads more
26ead53304bdc3f7259bce50f014192cad92e4e8 Merge 'Fix mutation commutativity with shadowable tombstone'
b05903eddd6366f598550a3bb1e64913c49d0aee messaging_service: Fix gossiper verb group
86dbbf12cccafaf1759059d132f123526d1e52bd shard_reader: do_fill_buffer(): only update _end_of_stre

[2022-10-20 12:42] avikivity commented on #11805
Maybe it's https://github.com/scylladb/scylladb/commit/b05903eddd6366f598550a3bb1e64913c49d0aee messaging_service: Fix gossiper verb group - and we confuse gossip in some way. Nothing else looks remotely relevant.

@aleksbykov @roydahan if I prepare a build without that patch, can you rerun that test on it?

[2022-10-20 12:42] avikivity commented on #11805
/cc @xemul

[2022-10-20 12:58] aleksbykov commented on #11805
@avikivity , i think yes

[2022-10-20 14:28] vladzcloudius commented on #7711
This is obviously an incorrect understanding (on @asias side) of what's actually going on.

We DO process streamed data of the base table via MV update flow and it hurts us BADLY. This needs to be fixed ASAP!

[2022-10-20 15:20] dtaht opened #11819 "monitoring tcp_info"
- [Y] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

Sorry tho, this is just a feature request. If you add monitoring of the tcp_info data from the kernel, you will learn much about many misbehaviors in the network stack today and across the edge, and perhaps, how to optimize some things better.

Pretty simple patch (used heavily by google and others).

Th

[2022-10-20 16:09] aleksbykov commented on #11805
i will check

[2022-10-20 16:17] nyh opened #11820 "Streaming should not do "view building" on streamed base-table data"
This issue was discovered by @vladzcloudius and originally written in #7711, but that was a unrelated bug so I'm moving the new issue here.

The issue is about streaming (e.g., when a new node is added to the cluster) when tables have materialized views - doing an extra "view building step" which they shouldn't do, which slows streaming considerably.

As we know, in **repair**, we only repair base

[2022-10-20 16:19] nyh commented on #7711
I think we spammed this unrelated issue for too long... So I opened https://github.com/scylladb/scylladb/issues/11820, let's move the discussion there.

[2022-10-20 16:21] vladzcloudius commented on #11820
It should be easily reproducible.

[2022-10-20 17:28] enedil commented on #11816
Can't I just wrap it into `std::reverse_iterator`?

[2022-10-20 17:37] bhalevy commented on #11816
Let's give it a try

[2022-10-20 17:49] enedil commented on #11816
It cannot be simply done like that since we are using deserialize on arbitrary types. So we cannot parse it from reverse unless the coding used in serialize is prefix-free. If I understand it correctly, the we serialize data by first writing the size, and later the data of each of the objects. So, without scanning the whole stream, we cannot know the length of the current chunk, if we are at the e

[2022-10-20 18:12] xemul commented on #11805
@avikivity , b05903eddd6366f598550a3bb1e64913c49d0aee only matters if there are nodes in different DCs, i.e. -- there are at least 2 datacenters in the test. Otherwise both patched and unpatched lambda would always return `true`.

@aleksbykov , was it multi-DC test?

[2022-10-20 18:22] aleksbykov commented on #11805
No, it is single dc with 6 nodes

[2022-10-20 18:29] aleksbykov commented on #11805
the latest rerun was passed. no such errors appeared. only reactor stalls during Killscylla up to 230ms was detected.
The reproduce job where only replace node operation was running which reproduce issue also passed .
Job with provided binary is running.

[2022-10-20 20:02] roydahan commented on #11805
@aleksbykov it's not clear what passed and what failed.
Can you please summarize with versions?

[2022-10-20 20:16] aleksbykov commented on #11805
Regular job with same scylladb version:  5.1.0~rc3-20221009.9deeeb4db1cd in job: [longevity-alternator-3h-test](https://jenkins.scylladb.com/job/scylla-5.1/job/longevity/job/longevity-alternator-3h-test/9) was passed after rerun.
Reproducer job with same scylladb build but with only TerminateAndREplace nemesis https://jenkins.scylladb.com/job/scylla-5.1/job/SCT_Reproducers/job/lon/2 also passed.

[2022-10-20 20:21] roydahan commented on #11805
Running with the custom build without being able to reliably reproduce the issue doesn't help us much.
We need to find a way to reproduce the issue or better understand  what happened there.

[2022-10-20 23:29] bhalevy commented on #11816
It's not ideal but we can scan the stream forward to get each entry's size and keep those in a vecror in memory, and use that in turn to skip backwards when derserializing the stream in reverse.

I think we could play dirty tricks and replace each entry's size with the previous entry's size and the current one in the iterator, but that would exception unsafe and could leave the buffer corrupt if w

[2022-10-21 00:28] asias commented on #7711
Vlad, both the code itself and the test below shows my understanding is correct. You can prove me wrong with your own reproducer.

1) Start two nodes n1, n2

2) Insert data into the cluster
[code]
3) Create MV and wait for it to finish

cqlsh> CREATE MATERIALIZED VIEW keyspace1.mv1 AS SELECT * FROM keyspace1.standard1 WHERE "C2" IS NOT NULL  PRIMARY KEY(key, "C2");
[code]
4) Run decommission on n2

[2022-10-21 01:28] asias commented on #10296
The shutdown issue is not relevant here. My patch in the private tarball should be irrelevant two.  Can you disable the disrupt_restart_with_resharding nemesis and rerun? Let's focus on the truncate issue.

If update_db_packages is not working, you can build an ami with my tarball above.

[2022-10-21 06:15] denesb commented on #11820
I just checked the code again on how we store view build status.
The status of built-view is stored in `system_distributed.view_build_status` table, which has the following schema:
[code]
The system distributed keyspace itself uses SimpleStrategy, with RF=3.
All reads and writes to this table happen with CL=ONE.
This is the code determining whether view update generation is necessary:
[code]
Like

[2022-10-21 11:44] roydahan commented on #10296
Asias, it doesn’t work this way.
If shutdown crashes with your private build, we won’t be able to run a
reproducer.
There are many nemesis that do shutdown.

On Fri, Oct 21, 2022 at 04:28 Asias He ***@***.***> wrote:

[2022-10-21 11:59] SarpongAbasimi opened #11824 "docs: Question in page Expiring Data with Time to Live (TTL)"
I would like to report an issue in page https://docs.scylladb.com/master/cql/time-to-live

@denesb This is not really an issue but rather a question.
Based on the example in the documentation.
 Let us say I have this table with `1 billion` data in it
[code]
but all of the sudden I decide to
`ALTER TABLE heartrate_ttl WITH default_time_to_live = 3600;`

What is the performance implications?
My init

[2022-10-21 12:11] SarpongAbasimi commented on #11824
@pdziepak

[2022-10-21 12:11] SarpongAbasimi commented on #11824
@krewenki

[2022-10-21 13:06] aleksbykov commented on #11805
i went over again logs for failed jobs and the last  passed job. Logs looks very similar and no any errors during period when c-s reported error and  node is replaced.

from logs for failed job, c-s reported error when node 6 was terminated:
[code]
these errors continue to appear for 5 minutes while new node7 was not added.

in 5 minutes, node7 was initialized and added to node. When bootstrap is

[2022-10-21 13:56] denesb commented on #11824
Please ask questions on slack or the scylladb-users@googlegroups.com email group.

This statement will only have effect on writes executed *after* this statement, no effect whatsoever on the already written data.

[2022-10-21 13:56] #11824 closed

[2022-10-21 14:21] Bouncheck commented on #10619
Seems to work now.
I've launched new scylla docker container, created "view" table the following way:
[code]
Made a snapshot using nodetool and copied its directory to the host.
After that I have launched another clean dockerized scylla, run CREATEs and sstableloader'd data.
All 3 rows were present.

[2022-10-21 14:21] #10619 closed

[2022-10-21 14:43] sharonovd commented on #10649
Hi @nyh  @eliransin  a question - can this issue cause records missing from output, if I use pagination?
Customer claims that his (paginated) query on a secondary index is missing tons of records.
I am trying to figure out, whether this issue can cause it (e. g. if it can lead to gaps between queried pages).

[2022-10-21 14:45] SarpongAbasimi commented on #11824
@denesb thank you, I thought so 😊.
I have tried is and it affects only the writes after the statement
`ALTER TABLE heartrate_ttl WITH default_time_to_live = 3600;`
Which means that there is no performance issue or outages in Sylla.

[2022-10-21 15:57] roydahan commented on #10296
Sorry, I meant that node doesn’t start after shutdown. Do you think it’s
because of resharding?
What’s special in your build with regards to that?

On Fri, Oct 21, 2022 at 15:55 Asias He ***@***.***> wrote:

[2022-10-21 19:55] #11793 closed

[2022-10-21 19:55] #11801 closed

[2022-10-21 19:55] #10284 closed

[2022-10-21 21:17] vladzcloudius commented on #7711
@asias You are testing the wrong thing. And you still don't understand what the problem is. Please, see my clarification on https://github.com/scylladb/scylladb/issues/11820

[2022-10-21 21:25] vladzcloudius commented on #11820
Following @asias post here: https://github.com/scylladb/scylladb/issues/7711#issuecomment-1287444686

Asias, the problem is not whether MV is streamed or not - it's why a *base table* streamed data goes into `staging` and triggers a corresponding view update for every partition that is streamed.

The test you have performed doesn't trigger the interesting flow - you have created a local MV by usin

[2022-10-21 21:33] vladzcloudius commented on #11820
`system_distributed` IS repaired but how does it help us, @denesb ? (no need to answer this rhetorical question)

If we care to read what we wrote we need consistencies of corresponding operations satisfy a well known formula: W + R > RF.
Using `QUORUM` or `EACH_QUORUM` for writes and `QUORUM`/`LOCAL_QUORUM` for reads would do the trick.

[2022-10-21 22:13] nyh commented on #10649
The specific bug in this issue only happens when LIMIT is used: If the customer uses "LIMIT 100" (and filtering, and secondary index) in a query, they may receive only 10 responses, even though there are 100 (and even more) matches. The customer who sees only 10 matches expecting 100 may indeed think tons of matches are missing.
If this customer is **not** using LIMIT then it's not this bug - but

[2022-10-22 07:50] denesb commented on #11820
This is very much not a rhetorical question and is relevant to all our current versions. It helps us because the as I explained above in detail, the code which determines whether streaming needs to generate view updates reads the system distributed keyspace with CL=ONE to determine this (after earlier writes with CL=ONE). So without a repair, it is very much possible for streaming to read a stale

[2022-10-23 05:29] bhalevy commented on #11468
[code]

shards 0 and 1 are hung stopping tls server:
[code]

[2022-10-23 05:47] bhalevy commented on #11468
@xemul last seastar rpc patch backported to this branch is https://github.com/scylladb/scylla-enterprise-seastar/commit/d50ebafd742b8c5ed6e14d1f73d6eb902fd29ec6
Maybe it broke the stop path.

[2022-10-23 07:42] bhalevy opened #11825 "consistency_test.py::TestAvailability::test_network_topology_strategy regression: token_metadata - Node 0:0:0:0:0:0:0:0 is not in topology"
Seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/117/testReport/consistency_test/TestAvailability/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split017___test_network_topology_strategy_2/
scylla version 5.2.0~dev-0.20221020.264f453b9da2
[code]

Decoded (from https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/119/a

[2022-10-23 07:54] bhalevy commented on #11825
There are a bunch of other dtests failing the same way, for example:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/119/testReport/hintedhandoff_additional_test/TestHintedHandoff/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split018___test_hintedhandoff_rebalance/
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/

[2022-10-23 07:55] bhalevy commented on #11825
Another backtrace, in test_hintedhandoff_rebalance above, is different:
[code]

[2022-10-23 08:35] bhalevy commented on #11825
bisected to 4206b1f98f1c961f861946244345c16ef878f0e3

[2022-10-23 14:53] bhalevy opened #11826 "test_verify_latest_copy_removenode_node: shared_ptr accessed on non-owner cpu"
Seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/70/artifact/logs-full.debug.028/1666414874050_update_cluster_layout_tests.py%3A%3ATestUpdateClusterLayout%3A%3Atest_verify_latest_copy_removenode_node/node1.log
[code]

Decoded:
[code]

Looks like the offending change is 8231b4ec1ba42d4e86ee2fdd20362a0ae3b484bb
where https://github.com/scylladb/scylladb/blo

[2022-10-24 02:02] asias commented on #10296
Here is the patch on top of which is on top of 9deeeb4db1cd8ab4ce43adaa12291c11ca206e89 (scylla-5.1.0-rc3). It changes truncate. @k0machi  did not provide the logs how the restart failed exactly. So I do not know why the restart failed. Since it is a reshard  nemesis,  it is probably due to reshard.

[code]

[2022-10-24 02:05] asias commented on #10296
@k0machi @roydahan Let's make some progress.  I suggest doing one of the following

1) Disable reshard nemesis and rerun
2) Keep reshard nemesis and return.

Report what failed exactly.

[2022-10-24 03:14] JerryKwan opened #11828 "How to solve "Detected timeout skew ""
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size: 5
OS (RHEL/CentOS/Ub

[2022-10-24 05:23] syuu1228 commented on #11617
I sent a PR https://github.com/scylladb/scylladb/pull/11666 to fix the issue and waiting for merge

[2022-10-24 05:29] syuu1228 commented on #11359
the bug (#11617), and I sent a fix for this (#11666).
Let's merge it first, then we can backport #13999 and #11666 together.

[2022-10-24 07:53] syuu1228 commented on #11812
@tarzanek @ebenzecri First of all, `default: all` does not means we can spcify `--cpuset all`, it means the default configuration is use all cpus.

Anyway, scylla_cpuset_setup was written for just passing --cpuset and --smp parameter to /usr/bin/scylla without parsing / verifying parameters, since /usr/bin/scylla itself should cause error with invalid parameter.
So I just copied option description

[2022-10-24 07:56] syuu1228 commented on #11812
BTW if you have an idea better description than `CPUs to use (in cpuset(7) format; default: all)`, please comment here, I will send a patch to  change the message.

[2022-10-24 07:58] bhalevy commented on #11660
@enedil, I added this to your queue.
(after consuming frozen mutations in reverse order)

[2022-10-24 08:00] bhalevy commented on #11743
@denesb, just added it to your queue

[2022-10-24 08:22] bhalevy opened #11829 "test_replace_node_same_ip[rbo_disabled]: Could not find CDC generation in distributed system tables"
Seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/117/testReport/junit/replace_address_test/TestReplaceAddress/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split013___test_replace_node_same_ip_rbo_disabled_/

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/117/artifact/logs-full.release.013/1666281801354_replace

[2022-10-24 08:36] bhalevy commented on #11829
Also with rbno enabled, in debug mode, so it could be affected by timing
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/72/testReport/replace_address_test/TestReplaceAddress/Run_Dtest_Parallel_Cloud_Machines___HeavyDtest___heavy_split001___test_replace_node_same_ip_take_write_rbo_enabled_/
[code]

[2022-10-24 08:45] bhalevy opened #11830 "repair_based_node_operations_test: Rejected removenode operation, removing node=127.0.83.3, sync_nodes=[127.0.83.2, 127.0.83.1], ignore_nodes=[]; the node being removed is alive, maybe you should use decommission instead?"
Several repair base node operations started failing since
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/116/testReport/junit/repair_based_node_operations_test/TestRepairBasedNodeOperations/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split014___test_enable_rbno_for_all_operations/
Scylla version 87b7e7ff9ca1
[code]

I'm not sure yet if the issue is with

[2022-10-24 08:45] bhalevy commented on #11830
@asias can you please look into this?

[2022-10-24 09:07] bhalevy commented on #11830
Similar failure here: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/72/testReport/system_tables_test/TestClusterStatusTable/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split007___test_content_remove_node/
[code]

[2022-10-24 09:20] tarzanek commented on #11812
maybe instead of all write a sample with <x> ?
e.g. default: 0..<maxcpu>
where maxcpu is your total cpu count -1
?

[2022-10-24 09:53] bhalevy commented on #11829
@xemul git bisect points at 4206b1f98f1c961f861946244345c16ef878f0e3

[2022-10-24 09:57] syuu1228 commented on #11700
This is because we construct "provisioning in a similar environment" message from type of variables in `args`, and default value of `--online-discard` is set to `True`, so the code expect the option should be configured as `action='store_true'` which use boolean type, so the code print `--online-discard` without option, as @vladzcloudius described avobe.

But --online-discard is actually doesn't s

[2022-10-24 10:13] asias commented on #11830
This suggests in the dtest when removenode was run, the removed node was indeed still up or it was killed forcefully and the other nodes hadn't marked the node down yet.

[2022-10-24 11:09] syuu1228 commented on #11700
Note: We cannot modify `--online-discard` to use `action='store_true', default=True`, since we cannot pass False to store_true option since it doesn't take parameter.
To use `action='store_true'`, we need change the option to `--no-online-discard` and use `action='store_true', default=False`.
But probably which is not what we want, so better to use int like `--io-setup`.

[2022-10-24 11:57] xemul commented on #11825
The top-level crash happens because

[code]

[2022-10-24 12:43] bhalevy commented on #11830
Makes sense. So c76cf5956da just exposed the test issue, not caused it.

BTW, When fixing the test it hit another failure due to the fact that it passes the node-to-be-removed ip address to nodetool (as https://docs.scylladb.com/stable/operating-scylla/nodetool-commands/removenode.html suggests), but storage_service::removenode supports only uuid as the host id.

I'm baffled about how the test pas

[2022-10-24 13:20] bhalevy opened #11834 "removenode doesn't accept an ip address to identify the node to be removed"
In contrast to our documentation for removenode: https://docs.scylladb.com/stable/operating-scylla/nodetool-commands/removenode.html
`nodetool removenode <ip-address>` fails as follows (taken from the test_content_remove_node dtest):
[code]

[2022-10-24 13:24] bhalevy commented on #11834
The exception is thrown in https://github.com/scylladb/scylladb/blob/9e34779c533722bcc212159b9ccf3db620a5bf28/utils/uuid.cc#L45
via https://github.com/scylladb/scylladb/blob/9e34779c533722bcc212159b9ccf3db620a5bf28/service/storage_service.cc#L2336

[2022-10-24 13:38] k0machi commented on #10296
Will try option one first.

Well, the log snippet above is actually all there's to it, the logs end after that line

[2022-10-24 13:48] bhalevy commented on #11830
Okay, mystery solved. The test_content_remove_node dtest uses `node2.hostid()` rather than the node ip address.
When stopping the node before invoking nodetool removenode, I changed that to use the ip address since the hostid cannot be discovered using `nodetool info` when the node is down.

[2022-10-24 14:21] denesb opened #11835 "view_builder: reads/writes to view_build_status with CL=ONE"
This table is part of the `system_distributed` keyspace, which has RF=3. Said table is used to keep track of in-progress builds and is also used by streaming to determine whether view updates have to be generated for the streamed data. Since all writes and reads to/from this table happen with `CL=ONE`, forgetting/failing to repair this table before node operations can result in unnecessary view up

[2022-10-24 14:22] denesb opened #11836 "view_builder doesn't clean up view_build_status table after removed nodes"
If nodes are removed while view building is going on, entries corresponding to these nodes are not cleaned up from said table, potentially resulting in unnecessary view update generation for node operations in the future, adding significant excess load to the affected nodes.

[2022-10-24 14:25] xemul commented on #11829
Got
[code]
once

[2022-10-24 14:27] xemul commented on #11829
Hmm... The repair messages mention `UNKNOWN_DC` all they through replacement repair process

[2022-10-24 14:44] tarzanek commented on #11836
another scenario to consider is if records are cleaned up, when the nodes get decommissioned before view is rebuilt

[2022-10-24 15:13] xemul commented on #11829
There are two bugs here. First -- the replacing node gets (seems to be temporary, but not sure yet) mis-configured DC value. Due to this repairing of `system_distributed_keyspace` delays and CDC doesn't see all mutations on its timestamps in time -- I'm seeing success every 2nd run

[2022-10-24 16:56] tzach commented on #11782
@amnonh I guess this is you

[2022-10-24 23:05] vladzcloudius commented on #11836
@denesb @nyh @asias What I still don't understand is why the view build status has any impact on the way a streamed data is handled?

In particular, why a base table streamed data has to go via staging EVEN IF there is an ongoing view building?

[2022-10-25 00:57] JerryKwan commented on #11782
@tzach
Thanks for following up
I have encountered another issue when using JMX, where should I report? Is there someone following this? thank you

[2022-10-25 01:13] asias commented on #11836
Because if the view building is half done, streaming the existing view table + handling pending writes for view update is not enough.

[2022-10-25 01:17] asias commented on #11836
A safer way is to ignore the host id that is not currently part of the cluster.  view_status has returned the host id. check_view_build_ongoing should check if the host id is valid.

[code]

[2022-10-25 01:23] asias commented on #10296
[code]

[2022-10-25 04:40] bhalevy commented on #11834
Closing based on https://github.com/scylladb/scylladb/pull/11832#issuecomment-1289856875

[2022-10-25 04:40] #11834 closed

[2022-10-25 04:48] bhalevy opened #11839 "docs: nodetool removenode host ID is a UUID, not ip address"
https://docs.scylladb.com/stable/operating-scylla/nodetool-commands/removenode.html
provides the following example:
[code]

which doesn't work on scylla since basically forever (9ebae1261439d345580e8c76191faaff3a7a8da1).

The host_id must be a UUID, not an ip address.

Ref https://github.com/scylladb/scylladb/pull/11832#issuecomment-1289856875

[2022-10-25 12:00] enedil commented on #11816
So it appears that I would need support for reading from the end from seastar::memory_input_stream. Do you think I should do that?

[2022-10-25 14:06] #11825 closed

[2022-10-25 14:47] vladzcloudius commented on #11836
I had a call with Botond and he explained to me why this is needed in general.
However the current implementation seems to be a "poor people" one because it's hard to imagine something less optimal than this:
1) Since the leaving node is going to continue view building till it leaves this is going to make all that data to be processed twice: by both old and new owners of the base table tokens.
2)

[2022-10-25 14:59] vladzcloudius commented on #9149
@syuu1228 Did you see @ebenzecri comment (above https://github.com/scylladb/scylladb/issues/9149#issuecomment-988336043)?

Based on Eduardo's experiment there is a big difference between unquoted and quoted value. And this seems to be a regression, @tomer-sandler.

The issue is more than 1 year old and it's quite about time it's fixed.

@DoronArazii FYI.
Please, prioritize.

[2022-10-25 15:42] vladzcloudius commented on #7277
One of our customers reported it, @avelanarius.

[2022-10-25 15:52] bhalevy commented on #11816
What kind of support do you have in mind?

Maybe as a first step we can clone the original input stream and skip forward using an offset (keeping all entries offsets in a vector), and using the iterator idx to point to the entry's offset in the vector.

As a follow up, maybe consider either changing skip to get a ssize_t param (which is an api change but it's backward compatible, so maybe @avikivi

[2022-10-25 17:41] syuu1228 commented on #9149
There was a long time pending PR to fix this, stalled middle of review:
https://github.com/scylladb/scylladb/pull/9153

I will try to merge it soon.
@vladzcloudius could you review it please?

[2022-10-25 17:51] bhalevy commented on #11816
Hmm, that's indeed true for the fragmented memory input stream.

Looks reasonable.  Needs some testing...
Better open a PR for it so we can have the review there.

[2022-10-25 17:59] vladzcloudius commented on #9149
Done, @syuu1228.
Please, see Eduardo's report above (I referenced it in my previous comment too).

[2022-10-25 22:51] vladzcloudius commented on #6088
@asias I have questions about the patch that closed this issue:
* Why n4 can't tell if n3 is part of the ring - ring information is present on every node including n1 and n2. So is the schema. So, n4 should be able to tell just fine that n3 is part of the ring.
* IMO bootstrapping should only be rejected if the `DN` node(s) need to stream data to a joining node - I believe corresponding bits are a

[2022-10-26 00:38] asias commented on #6088
n4 knows the topology through gossip status. Yes, n1 and n2 knows n3 isl part of the ring before they are shutdown. However, it is possible when n1 and n2 is down, n3 is removed from the cluster. Thus, n1 and n2 could have a wrong topology view that n3 is still part of the ring. This is the that reason, n1 and n2 should not inject gossip status for n3. Instead n3 should advertise n3's gossip statu

[2022-10-26 06:12] denesb opened #11842 "mutation_reader_test.combined_mutation_reader_galloping_over_multiple_partitions_test exited with code -11(SIGSEGV)"
Seen in https://jenkins.scylladb.com/job/scylla-master/job/next/5374/.
[code]
There is no details whatsoever here. Also, it looks like the crash happened in infrastructure code (most likely boost::test), the test successfully finishes and the crash happens after boost have iterated over and skipped the remaining test cases in the file.

[2022-10-26 06:35] JerryKwan commented on #11828
@tzach
I have write a script to fetch date from the nodes, but not found any one with time skew about 294882ms,but there is still messages pop up about time skew.  Any body can help to look into this? How can it be solved?
This is the dates of the node, as you can see they are almost identical

![image](https://user-images.githubusercontent.com/990113/197952100-d69ac9ca-1651-4e17-87e7-5e9ad3758c76

[2022-10-26 12:24] vladzcloudius commented on #6088
I see your point. Yes, we need a majority-based algo to not require all nodes to be up for a topology change. Raft will do ;)

EverywhereStrategy is not a problem since any alive node can stream such a data.

[2022-10-26 12:35] asias commented on #6088
It is not about streaming data. It is about n3 in this case could use wrong topology. When n3 writes to everywhere, it will not write to n4 which is wrong.

[2022-10-26 12:43] #11829 closed

[2022-10-26 12:51] bhalevy opened #11843 "test_add_node_during_index_build: validator 0x61c0000673a0 for sstable writer: Unexpected partition key"
Stumbled upon in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/74/artifact/logs-full.debug.035/1666759799464_secondary_indexes_test.py%3A%3ATestSecondaryIndexes%3A%3Atest_add_node_during_index_build/node4.log
[code]

Decoded:
[code]

Core dump: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/74/artifact/logs-full.debug.035/1666759

[2022-10-26 12:52] bhalevy commented on #11843
This happened from compaction.
Cc @raphaelsc

[2022-10-26 12:57] bhalevy commented on #11816
@enedil I'm not sure how you plan to use the reverse memory input stream.
Since we want to deserialize the entries from last to first (rbegin() to rend()), but each entry needs to use a forward memory input stream for deserializing, I think adding skip backward to the forward input stream would make more sense.
Then we can skip forward to get to rbegin(), keeping the sizes in an auxiliary vector,

[2022-10-26 15:48] raphaelsc commented on #11843
That's weird. I suspect my changes for splitting large partition, but it's not stressed with defaults. I think that regression comes from the upper layer.

[2022-10-26 15:52] tzach commented on #11828
@syuu1228 does this ring a bell?

[2022-10-26 16:30] sharonovd commented on #10649
@nyh thanks for clarification. I am not that aware of qurey executor internals - does __pagination__ utilize LIMIT under the hood. Customer (and we, via sqlsh) paginate the query implicitly, via fetch size (which is certainly smaller than entire result dataset).

[2022-10-26 17:26] k0machi commented on #10296
The instance is using `on demand` provisioning, and another run that I did after disabling restart with resharding exhibits the same issue only on another nemesis that restarts scylla, however, this one is a bit more verbose as to what happened:

[code]

I am re-running the test without installing the debug build right now to get a baseline, this could be an issue with packages or an issue with pa

[2022-10-26 22:27] k0machi commented on #10296
Okay, I've recompiled scylla and built an `ami-00a0e22699c50d9df` on `us-east-1` with patch from asias applied on top of 9deeeb4db1cd8ab4ce43adaa12291c11ca206e89, started the longevity again, will see what happens in around 12 hours from now I think.

[Link to the run](https://jenkins.scylladb.com/job/scylla-staging/job/alexey/job/longevity-twcs-48h-test/10)

[2022-10-27 00:27] JerryKwan commented on #11828
Anybody knows why ScyllaDB complains about time skew? and How to fix it? thank you

[2022-10-27 01:11] asias commented on #10296
I am not surprised that update_db_packages function of sct is not working properly.

[2022-10-27 08:12] bhalevy commented on #11055
@arbfay I've submitted #11844 to add support for timeuuid in v7 format.
Feel free to review, and also try it out with you application.

[2022-10-27 09:05] JerryKwan opened #11845 "A lot of corrupted commitlog file after running several days"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

*Installation details*
Scylla version (or git commit hash): scylla-server-5.0.5-0.20221009.5a97a1060.x86_64
Cluster size: 5 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

A lot of commitlog

[2022-10-27 10:18] bhalevy commented on #11207
This is an internal feature, no need to backport.

[2022-10-27 10:44] DoronArazii commented on #9441
@avikivity please share your thoughts regards this issue

[2022-10-27 18:06] k0machi commented on #10296
It basically does this and I think this is another quirk of dpkg:
[code]
Skips dependency checks and unpacks the packages - I think dpkg considers service files as config files and doesn't override with new ones, but when it goes to clean the old versions - it removes the service file

[2022-10-27 18:30] #11839 closed

[2022-10-28 00:52] arbfay commented on #11055
@bhalevy that's brilliant! thanks for this!

[2022-10-28 01:00] JerryKwan commented on #11845
@elcallio Thanks for looking into this issue
Not sure why it occupy almost 100G, seems like there is no node dies, and the commitlog disappear once node is restarted

[2022-10-28 05:58] JerryKwan opened #11850 "compaction becomes extremely slow after running somedays"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): scylla-server-5.0.4-0.20220921.1c8

[2022-10-28 07:03] raphaelsc commented on #11850
Do you have monitoring set up? It's helpful for correlating the slowdown with whatever else is running in the system. What's the compaction strategy used? If you're using LCS, its write amplification may be impractical for HDDs depending on the write rate.

@JerryKwan restarting scylla helps the problem?

[2022-10-28 07:27] JerryKwan commented on #11850
@raphaelsc Thanks for looking into this issue
The compaction strategy is compaction = {'class': 'LeveledCompactionStrategy'} and the other parameters are default
There is nothing else running on the machine
What should I do to figure out why It's so slow?

[2022-10-28 07:36] DoronArazii commented on #11805
@aleksbykov what is that means? do you need to run more tests here? or it's on Dev side (@bhalevy) now?

*Reminding that this case is a showstopper for 5.1
If we need to re-think about the priority of it - please raise a flag.

/Cc @roydahan

[2022-10-28 07:39] DoronArazii commented on #11459
@asias any idea what's going on here? or next steps?
(consulting with you since Eliran is OOO).

This case is a showstopper for 5.1

/Cc @yaronkaikov @roydahan

[2022-10-28 07:41] DoronArazii commented on #11807
@roydahan @k0machi any updates here?

*this is a 5.1 regression and blocking the release

[2022-10-28 07:42] aleksbykov commented on #11805
@DoronArazii , i described what happened and what i found in scylla logs on nodes, when error was detected and c-s failed.
May be provided info could help to understand what happened.
Latest 3 runs are passed. I will run test several more times and try to reproduce issue.

[2022-10-28 07:43] DoronArazii commented on #11468
@soyacz did you reproduced it?

@bhalevy / @xemul can you update on the progress on your side?

[2022-10-28 08:02] asias commented on #11459
I do not know the status of the runs from [commit provided]( https://github.com/scylladb/scylladb/issues/11459#issuecomment-1283503389) by Eliran.

[2022-10-28 08:05] raphaelsc commented on #11850
What's the write : read ratio in that table? Scylla monitoring can shed some light on this, do you have it set up?

Like I said, Leveled compaction has high write amplification, which may impact significantly the write throughput. Why did you pick Leveled compaction? What's the expected bandwidth for your disk setup?

[2022-10-28 08:22] JerryKwan commented on #11850
@raphaelsc
We are migrating from Cassandra, and when using Cassandra, Leveled compaction works bests for our scenario.  The requirement is  write once, read multiple times, very little chances of update, and with huge number of items are coming continuously. Any suggestion about the compaction strategy? thank you

After setting up scyllaDB, the content of io_properties.yaml is like this
[code]
Reg

[2022-10-28 09:09] raphaelsc commented on #11850
If chances of updates are very rare, then Size Tiered can be a fit for you. Leveled is good at deduplicating, but if you rarely have to do it, then the extra write amplification won't pay off.

644839680/40

Yes. That could show us the amount of SSTables being compacted, then bandwidth devoted for each component, etc.

Please share output of nodetool compactionstats and nodetool tablestats (latter

[2022-10-28 09:35] JerryKwan commented on #11850
@raphaelsc Thanks for the following up. I will install Scylla Monitor later, and share more information

[2022-10-28 10:21] #9149 closed

[2022-10-28 12:39] xemul commented on #11468
I checked known problems in networking code -- all fixes are backported. So it's either one of the known rpc hangs (in seastar) or something new. So far no more ideas

[2022-10-28 12:46] k0machi commented on #11807
The latest run succeeded (one started by roy). I can start another one to see if that success repeats or if that was a fluke.

[2022-10-28 12:52] syuu1228 commented on #11569
Implemented .deb/.rpm/relocatable on the new repo:
https://github.com/fruch/scylla-cqlsh/pull/4

[2022-10-28 16:59] #11634 closed

[2022-10-28 23:59] #11792 closed

[2022-10-30 00:59] k0machi commented on #10296
The run finished and did not fail at either of truncates there, I'm going to re-run this job again this time using sct master branch without any alterations to nemeses and see if it reproduces.

[2022-10-30 06:29] bhalevy commented on #11642
@raphaelsc ping, what's your status?

[2022-10-30 07:08] bhalevy commented on #11684
@Jadw1 since the issue happens in `SELECT count(*)`, please look into this issue

[2022-10-30 07:09] bhalevy commented on #11684
I suspect this might be related to 5a30f9b7894abbeb196d179294f9320cc53534ba

[2022-10-30 07:56] fruch opened #11853 "[jespen] Bootstrap of multiple nodes as seeds is failing"
## Installation details

Kernel Version: 4.19.0-21-cloud-amd64
Scylla version (or git commit hash): `5.2.0~dev-20221027.e245780d568b` with build-id `eabf9c884f530ffeaf1cfc0513fa5f0d11db764d`

Cluster size: 5 nodes (n1-standard-4)

Scylla Nodes used in this run:
- jepsen-ubuntu-db-node-06909595-0-5 (34.73.97.225 | 10.142.0.122) (shards: 4)
- jepsen-ubuntu-db-node-06909595-0-4 (34.74.59.212 | 10.142

[2022-10-30 07:57] fruch commented on #11853
@asias, can you take a look into this one ?

[2022-10-30 08:06] #11798 closed

[2022-10-30 08:06] #11830 closed

[2022-10-30 11:12] fruch commented on #11853
a dtest that reproduce the issue:
[code]

@kostja, since you know jespen test, is there a way to make them not start all the nodes at the same time ?

[2022-10-30 11:36] mykaul commented on #11807
@k0machi , please do. Although I'm not sure what the expectation is. Processes (which we do not own, such as systemd-networkd) *will* crash on OOM, and there's little we can do about it?

For the time being, let's take it off the critical items for 5.1 until we figure out what the expected results from this tests are.

[2022-10-30 11:37] mykaul commented on #11805
Hi @aleksbykov  - any updates on additional runs? Do above 3 passed runs sufficient to close or defer this issue from 5.1?

[2022-10-30 11:38] mykaul commented on #11710
@michoecho - is anyone looking at the other stalls? @elcallio ?

[2022-10-30 11:40] mykaul commented on #11675
@eliransin ?

[2022-10-30 11:41] mykaul commented on #11618
Thanks @soyacz - can we close this issue until it reproduces again?

[2022-10-30 11:42] mykaul commented on #11542
@kostja , are @gleb-cloudius reproduction steps enough to make progress here? What's the next step and who owns it?

[2022-10-30 11:45] mykaul commented on #11468
@soyacz , @roydahan - have we seen it recently in any upgrades?

[2022-10-30 11:56] gleb-cloudius commented on #11542
@mykaul I am bisecting

[2022-10-30 12:11] fgelcer commented on #11459
https://jenkins.scylladb.com/job/scylla-staging/job/fabio/job/issue_11459_reproducers_and_staging/job/rolling-upgrade-ubuntu18.04-test/6/

https://jenkins.scylladb.com/job/scylla-staging/job/fabio/job/issue_11459_reproducers_and_staging/job/rolling-upgrade-ubuntu18.04-test/7/

https://jenkins.scylladb.com/job/scylla-staging/job/fabio/job/issue_11459_reproducers_and_staging/job/rolling-upgrade-ubun

[2022-10-30 12:27] bhalevy commented on #11805
@gleb-cloudius @asias when replacing a node (using a different ip), do we increase the required quorum?
In this case RF=3, and the write timeout complains that:
[code]

[2022-10-30 12:43] gleb-cloudius commented on #11805
The right question would be "does replacing a node using a different ip results in a pending nodes from some ranges".

I do not see why would it (the previous node is dead anyway), but @asias probably knows better.

[2022-10-30 12:58] kostja commented on #11853
https://github.com/scylladb/jepsen/blob/master/src/scylla/db.clj#L486 start is not waiting for a complete join, and the seeds are specified upfront. db.clj needs to be fixed to account for the new procedure.

[2022-10-30 13:37] benipeled opened #11855 "[microbenchmarks] ERROR: Expected no disk reads"
Recently we saw a few microbenchmarks tests failed with ERROR: Expected no disk reads, ex.

- https://jenkins.scylladb.com/job/scylla-master/job/microbenchmarks/944
- https://jenkins.scylladb.com/job/scylla-master/job/microbenchmarks/943

The only error logs I can see is

[code]

[2022-10-30 14:22] nyh opened #11856 "Allow manually selecting compaction strategy for Alternator tables"
Today, Alternator tables are always created with the default compaction strategy (which in the open-source branch is STCS). For some use cases, this choice may not be optimal: For example a use case which constantly adds new items with a one-month TTL on each might want to use TWCS with (say) a one-day time window.

Today a user can modify this default compaction strategy using CQL, but there is n

[2022-10-30 15:26] mykaul commented on #6403
@kostja - which teams own this feature and can scope it and estimate the effort?

[2022-10-30 15:37] mykaul commented on #11527
@roydahan - did we see this issue on other tests, and specifically, non ARM machines?

[2022-10-30 15:49] raphaelsc commented on #11642
Still in progress.

[2022-10-30 16:00] mykaul opened #11857 "Use newer zstd version and/or lz4"
Scylla is using a rather old zstd version. Newer version offer substantially improved performance (mainly decompression, also across multiple archs, including ARM). For comparison:

[code]

It makes sense to decide that we prefer lz4 with slightly lower general compression ratio but with much faster performance, btw.

[2022-10-30 16:29] nyh commented on #11857
Why are you saying that Scylla is "using a rather old zstd version"? As far as I can tell, Scylla is simply using the build system's libstd version, and I checked our dbuild (I think it uses Fedora 34? I don't remember) and it includes /usr/lib64/libzstd.so.1.5.2. Where did you see an older version?

Also, you are suggesting that we should decide to prefer lz4 over zstd, but don't we already? Isn'

[2022-10-30 16:34] juliayakovlev commented on #11542
@kostja cluster is alive, do you need it or I can terminate?

[2022-10-30 16:38] mykaul commented on #11857
https://github.com/scylladb/zstd

@annastuchlik , please review.

[2022-10-30 16:42] yarongilor commented on #11856
IIUC, we probably should keep in mind that, unlike the case of 'write-isolation' tag, there we be kind of a duplication in the case of table compaction-strategy value since it will appear as a standard table attribute and as a table tag as well. something like:
[code]

[2022-10-30 17:23] nyh commented on #11856
@yarongilor you're very right. We'll have to special-case reads and write to this specific tag in Alternator, and instead read and write the table property.
So indeed it will not be exactly the same implementation as the write-isolation tag, though for the user it will "feel" like they are similar - the same API will be used to configure both.

Interestingly, we have the opposite direction already

[2022-10-30 17:33] roydahan commented on #11805
One need to restore a monitor or logs and suggest a reasonable theory why would a QUROUM write fail during replace node.
It doesn't matter how many passed runs we have till we understand the root cause.

[2022-10-30 17:39] roydahan commented on #11807
The expectation is that QUORUM writes will succeed even if one of the nodes is OOM.

One need to restore monitor and dive into metrics and suggest what could cause this issue (why 0 replicas ack'ed the  write instead of 2).

[2022-10-30 17:42] nyh commented on #11857
@mykaul, @avikivity removed the **use** of the zstd submodule in in Scylla in commit 0dc78d38f174e5a064ff9b65e60f20472603fb31, so we no longer use that repository which you found - as I said we are using Fedora 34's zstd package which is fairly recent (1.5.2), and as we update the dbuild environment, zstd package will continue to get updated.
The repository https://github.com/scylladb/zstd which y

[2022-10-30 17:48] roydahan commented on #10296
@asias how would we know if your patch fix the issue or we just couldn't reproduce it?
Is it possible to have only the part of the patch that adds the debug info?
will it help you then to understand the root cause?

[2022-10-30 17:50] roydahan commented on #11059
@aleksbykov please try to find a consistent reproducer as I suggested above.

[2022-10-30 18:42] roydahan commented on #11807
Looking at one of the reproducers we ran where this nemesis succeed (didn't fail the stress), we can still see that there is a problem.
While one of the nodes is suffering from the memory stress, the throughput drops dramatically and there are also write timeouts.
Maybe In this case it didn't last long enough or c-s was able to recover quickly enough before killing the stress.

![Screen Shot 2022-

[2022-10-30 19:54] fgelcer commented on #11459
@eliransin , from above, 2 our of 3 reproduced the issue (builds 6 and 7), and 1 failed with the "old" JDK problem (build 8), so i try to understand why, and re-queue the workaround, in case it will be needed, and re-run it

[2022-10-30 19:55] fgelcer commented on #11459
cc @asias

[2022-10-30 20:03] nyh opened #11858 "docs: Issue in page Data Definition"
I would like to report an issue in page https://docs.scylladb.com/master/cql/ddl

There are multiple problems in a couple of sentences in the document describing **compression options**:

We have a sentence:

One small problem is the use of the word "Default" here - as the other column in the same table explains, the default is LZ4Compressor - the other ones are **available** compressors, not **de

[2022-10-30 20:05] nyh commented on #11857
Opened a documentation issue https://github.com/scylladb/scylladb/issues/11858 and closing this issue. @mykaul feel free to reopen if you feel there's anything left to do here besides the documentation issue.

[2022-10-30 20:05] #11857 closed

[2022-10-30 21:57] roydahan commented on #11807
RC1 has also some effect, but doesn't look that bad.
![Screen Shot 2022-10-30 at 23 55 43](https://user-images.githubusercontent.com/20959584/198903392-bb6486bd-8642-42e0-aba6-37e70a503fdf.png)

Same in RC2:
![Screen Shot 2022-10-30 at 23 56 27](https://user-images.githubusercontent.com/20959584/198903429-05b9a26d-eadb-44ce-9f5a-498dbe832dc4.png)

Not sure if it's a coincidence or not.
@k0machi ca

[2022-10-30 21:58] k0machi commented on #11807
Will do

[2022-10-31 00:50] asias commented on #10296
The following is without the fix.

Here is the branch

https://github.com/asias/scylla/tree/truncate_issue_5_1.qa.test2

Or the patch on top of 9deeeb4db1cd8ab4ce43adaa12291c11ca206e89:

[code]

[2022-10-31 02:00] jmaixl commented on #10536
As of 5.0.4, this still happens. I will test on 5.0.5.

[2022-10-31 02:21] asias commented on #11459
There are 2422 commits between the good and bad commits. Considering the time we need to reproduce for each run, it is too time consuming to do a proper bisect.

[code]

There are only 3 suspected commits are checked so far.

We need something else.

1) I will add more debug log and provide a private branch to test and reproduce.

2) @fgelcer  can you check if the latest 5.1 (currently scylla-5.1.

[2022-10-31 02:41] asias commented on #11459
While looking adding debug logs, I found:

Node1 version used over time:
[code]

Node3 version used over time:
[code]

Error on Node1: (repair master, 5.1.0~rc1-0.20220902.d10aee15e7e9)
[code]

Error on Node3: (repair follower, 5.0.2-0.20220807.299122e78)
[code]

@raphaelsc, it looks like the repair follower node (5.0.2-0.20220807.299122e78) chose a used geneartion, so the sstable write failed (SS

[2022-10-31 02:43] asias commented on #11459
@raphaelsc  @bhalevy This is a showstopper for 5.1. Please take a look. Thanks.

[2022-10-31 04:30] k0machi commented on #11807
5.1rc3 is running [here](https://jenkins.scylladb.com/job/scylla-staging/job/alexey/job/memory-stress-10gb-3h-test/3/)

[2022-10-31 04:47] bhalevy commented on #11459
I don't understand how is the workaround related to the issue.

[2022-10-31 05:24] fruch commented on #11459
It move the action that initiated a schema change into earlier stage of the test.

[2022-10-31 06:20] soyacz commented on #11618
I think we can close until reproduction.

[2022-10-31 06:20] #11618 closed

[2022-10-31 06:41] bhalevy commented on #11459
I understand from @fgelcer that the test is new.
It is possible that the bug is preexisting in 5.0 since the generation clash happened on the downgraded node and in this case it shouldn't be a showstopper for 5.1.
Another possibility is that the schema is created on 5.1 (without the workaround) and after the downgrade, it triggers the bug.

In any case, we should fix the bug in 5.0 causing
[code]

[2022-10-31 06:45] tzach opened #11859 "docs: no mention of the new off offstrategy compaction"
I would like to report an issue on page https://docs.scylladb.com/master/cql/compaction

### Problem
offstrategy compaction is missing from the docs.

###  Suggest a fix

offstrategy compaction needs to be described, including:
- what it is, and why it was introduced
- what it does
- how to monitor and track it (how to know when it starts? what is the progress?)
- how to control it: can one stop /

[2022-10-31 07:13] yarongilor commented on #11746
Looks like the error is reproduced with non-LWT as well. It seems to happen right where data was TTLed (after ~14 hours, for a short period).

error log:
[code]
monitor: http://34.245.191.30:3000/d/PJHnPPHVk/longevity-alternator-1h-scan-12h-ttl-no-lwt-2h-grace-4loaders-nemesis-scylla-per-server-metrics-nemesis-master?orgId=1&from=1667164397300&to=1667172243147

## Installation details

Kernel Vers

[2022-10-31 07:21] bhalevy commented on #11459
Hmm, it looks like the keyspace is created and written to when the node runs 5.1:
[code]

But it is not recognized after the downgrade and then it is recreated,
but we don't have the latest generation since it didn't go though distributed_loader::populate_column_family.

[code]

It looks like somehow scylla_bench is created and written to

[2022-10-31 07:36] bhalevy commented on #11459
@tgrabiec:
1. Was there a backward incompatible change in 5.1 schema that may cause 5.0 to not find the user keyspace create on 5.1?
2. Should we even start scylla in such a case?  Maybe we should refuse to start by default when failing to load all keyspaces.

[2022-10-31 07:43] aleksbykov commented on #11805
I restored monitor stack. It is available by http://3.227.17.84:3000/d/g2g9SwHVz/longevity-alternator-3h-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1665323360886&to=1665334554507

Link to logs: https://cloudius-jenkins-test.s3.amazonaws.com/dae9a7ce-90b3-45af-808c-a97020b6670a/20221009_164735/db-cluster-dae9a7ce.tar.gz

[2022-10-31 07:46] bhalevy commented on #11459
My theory is that due to 3b20407f2536de65bb599116876095bd5ec6a585, in scylla-5.1.0-rc0
the creation of the scylla_bench keyspace is present only in the system schema commitlog
which is unknown to 5.0 therefore it is not replayed after the downgrade.

@tgrabiec why don't we simply flush the system schema memtable after create keyspace?

[2022-10-31 07:55] mykaul commented on #11588
@bhalevy - can you prioritize, assign and target this work?

[2022-10-31 07:55] asias commented on #11805
Yes. During replacing, the replacing node will be considered as pending node. Write needs go to both current replicas and  pending replica.

[2022-10-31 08:09] gleb-cloudius commented on #11805
Well, the error is not surprising then. But @asias is `replace` happens while a node being replaced is still alive? If it is not why would we try to send data to it?

[2022-10-31 08:10] gleb-cloudius commented on #11805
Ah, we probably need to increase CL because if a replace operation fails the consistency level will be still satisfied. So the error makes sense.

[2022-10-31 08:18] asias commented on #11805
The node to be replaced must be down. Otherwise, it is an operation error.

Yes, the pending replica does not count as CL because the replace operation might fail and the replacing node (pending replica) might gone.

If RF=3, CL = QUORUM, the writes must go to the existing two replica nodes, plus one write to the pending node, thus 3 replica required as showed in the error message.

[2022-10-31 08:30] kostja commented on #6403
@mykaul There is no clearly defined scope in this ticket. On one hand, all Raft messages already identify peers with Raft IDs. So for all future work which uses Raft messaging this ticket is done. On the other, we have a lot of legacy RPC that serves reads and writes to eventually  consistent tables, and legacy cluster management/repair RPC. It is still uses the old API. Fixing it is a lot of work

[2022-10-31 08:32] kostja commented on #11542
@juliayakovlev You can terminate, @gleb-cloudius was able to reproduce locally.

[2022-10-31 09:31] denesb commented on #11842
The crash didn't reproduce since. I don't think we have anything to go on here. Closing, will reopen if we see it again.

[2022-10-31 09:55] michoecho commented on #11710
@mykaul AFAIK no.

[2022-10-31 09:58] bhalevy opened #11861 "test_enable_disable_optimized_query_for_twcs fails with missing results with optimization disabled"
This dtest fails consistently with scylla in debug mode, as seen in e.g.
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/77/testReport/compaction_additional_test/TestTimeWindowDataSegregation/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split005___test_enable_disable_optimized_query_for_twcs/
[code]

[2022-10-31 10:26] ShlomiBalalis opened #11862 "Reactor stalled for 527 ms during alter table query"
## Installation details

Kernel Version: 5.15.0-1020-aws
Scylla version (or git commit hash): `2022.1.3-20220922.539a55e35` with build-id `d1fb2faafd95058a04aad30b675ff7d2b930278d`
Relocatable Package: http://downloads.scylladb.com/unstable/scylla-enterprise/enterprise-2022.1/relocatable/2022-09-22T13:36:03Z/scylla-enterprise-x86_64-package.tar.gz
Cluster size: 6 nodes (i3.2xlarge)

Scylla Nodes u

[2022-10-31 10:46] nyh opened #11863 "Schema change in parallel with view build can cause bad things to happen"
This issue is likely to be a duplicate of #9059 and may be (?) the underlying cause of #11542:

@gleb-cloudius noticed in #11542 a test that does a benign schema change (e.g., even just change the "comment" on the schema) in parallel with view building active, fails in different ways in different releases - crashes when the view building tries to build, broken-looking schemas, etc. I **suspect** t

[2022-10-31 11:05] nyh commented on #11863
The `view_info` that I suspect here was added five years ago, in bfb8a3c1725d7ba27ab9dd527d4ba0e66bb8cdd0. So if my suspicion is correct we had this bug for a very long time and it may have caused various bizarre things to happen when changing the schema during view build, including the two issues I referenced above. Now to try to prove this suspicion and fix it...

[2022-10-31 11:22] nyh commented on #11588
I created a reproducing test for this - see https://github.com/scylladb/scylladb/pull/11864.

[2022-10-31 11:45] bhalevy commented on #11805
Just capturing the timeline form one of the nodes perspective:

[code]

This is where we call https://github.com/scylladb/scylladb/blob/477e0c967a246eabea1b4075e77288418532e6c6/service/storage_service.cc#L912
https://github.com/scylladb/scylladb/blob/477e0c967a246eabea1b4075e77288418532e6c6/service/storage_service.cc#L899
and
https://github.com/scylladb/scylladb/blob/477e0c967a246eabea1b4075e77288

[2022-10-31 12:07] bhalevy commented on #11805
I see the following message in the log, indicating that replace creates a large number of sstables for the alternator table:
For example:
[code]

[2022-10-31 12:09] bhalevy commented on #11805
I don't see any reactor stalls, but maybe the reshape of many sstables causes intermittent write timeouts for keyspace1.standard1 due to the increased I/Os.

[2022-10-31 12:13] bhalevy commented on #11805
@raphaelsc any recent changes to off-strategy compaction that could cause this?

[2022-10-31 12:19] nyh commented on #11863
I'm closing this issue and rethink what to do about it, or https://github.com/scylladb/scylladb/issues/9059 or https://github.com/scylladb/scylladb/issues/11542 which may have the same underlying cause.
My proposal above that the view_info is broken is wrong. The thing is, `view_updates` has:
[code]
So while "_view_info" merely holds an unprotected reference to the schema, the "schema_ptr _base" a

[2022-10-31 12:19] #11863 closed

[2022-10-31 12:24] roydahan commented on #11853
@kostja are you doing this change?

[2022-10-31 12:24] bhalevy commented on #11805
Large reshapes on the replacing node:
[code]

[2022-10-31 12:27] bhalevy commented on #11805
I suspect there could be interaction with e66809d0514bf552ec832540ce4ea4ac84a82599
where sstables are accumulated and memtable flush on the replacing node blocks until compaction reduces the number of sstables.

[2022-10-31 12:29] roydahan commented on #10296
@asias, @k0machi is out, can you please create an AMI with this patch?
(There should be an easy jenkins job to allow this)

[2022-10-31 12:35] denesb commented on #11756
After a tip from @tgrabiec, I thought that the reserved are bumped by a concurrent read request, but evidence contradicts this:
* All code wrapped by `_read_section` I could find is synchronous, so so fibers cannot use it concurrently.
* This means that whatever is the current value of `_lsa_reserve` it got to that value from the initial value saved in `prev_lsa_reserve`. And this is just `1` curr

[2022-10-31 12:37] kostja commented on #11853
No.

[2022-10-31 12:37] kostja commented on #11853
@margdoc do you encounter any startup issues when running your jepsen test?

[2022-10-31 13:11] nyh opened #11867 "Multiple "commitlog - cannot parse the version" warnings during boot"
When Scylla boots (e.g., I tried running a test like `test/cql-pytest/run test_null.py`), I see the following warning messages in the log:

[code]

@tgrabiec @elcallio does this ring a bell?

[2022-10-31 13:19] elcallio commented on #11867
It is the effect of having a separate schema commitlog sharing storage folder with the "normal" commitlog. They find each others files and complain about unknown files. Could easily be fixed by either moving the schema logs or joining the two instances  back together again, but use two-phased replay.

[2022-10-31 13:41] bhalevy commented on #11805
No indication of this warning: https://github.com/scylladb/scylladb/blob/dff7f3c5ba689d47449766c98b04b1902d9e15a5/compaction/compaction_manager.cc#L1056

But there is a burst of the following warnings:
[code]

[2022-10-31 13:49] denesb commented on #11756
The only viable theory I could come up with is that the allocation failure happens due to schema upgrade. When upgrading the schema of a partition entry, we essentially create build an updated copy of it, then swap it out in the end. This happens atomically, as part of the method we attempt to call here. If the partition is large enough that its copy won't fit into memory, it is maybe possible tha

[2022-10-31 13:49] bhalevy commented on #11459
[code]

[2022-10-31 14:12] tgrabiec commented on #11756
Refs https://github.com/scylladb/scylladb/issues/2577

[2022-10-31 14:14] tgrabiec commented on #11756
We've encountered this in https://github.com/scylladb/scylladb/issues/10059#issuecomment-1088012218

The test should have been disabled until the issue is fixed, otherwise we'll keep spending time on analyzing reports. @bhalevy @roydahan

[2022-10-31 14:19] tgrabiec commented on #11459
The schema commitlog should be only enabled after full upgrade, after which downgrade is not allowed.

Even if it was enabled, clean shutdown should flush the memtables. If you downgrade with unclean shutdown, there could be problems indeed. Is this supposed to be supported?

[2022-10-31 14:21] tgrabiec commented on #11459
We want to avoid flushing memtables for performance reasons, that was the reason for the change in the first place.

[2022-10-31 15:22] tgrabiec opened #11868 "Restarting nodes with different IPs without going through replace operation is not safe"
The context of this issue is the planned feature of supporting restarting nodes with a different IP. This issue does not apply to the node replacement procedure, which is bootstrapping a new node with the same IP.

Consider the following scenario:

1. nodes A (10.0.0.1), B (10.0.0.2), C (10.0.0.3), D (10.0.0.4)
2. Replicas for key K are (A, B, D)
3. node B is restarted with IP 10.0.0.5
4. node C i

[2022-10-31 15:30] tgrabiec commented on #11868
#6403 helps with safety, but not with liveness.

For liveness, we need to ensure that restarts with different IPs propagate to all nodes when the operation is performed. Otherwise, we may introduce unavailability into the cluster if more than one node is restarted with a different IP.

[2022-10-31 15:32] mykaul commented on #11217
@asias - what's the status of your fix (mentioned @ https://github.com/scylladb/scylladb/issues/11217#issuecomment-1214530454 ) ?

[2022-10-31 15:35] bhalevy commented on #11459
Shutdown was clean:
[code]

[2022-10-31 15:37] tgrabiec commented on #11459
If you don't see `Using schema commit log` in the logs, then the old path was used (no schema commitlog).

[2022-10-31 15:46] bhalevy commented on #11805
It looks like the issue wasn't reproduced again.
In this I suggest we continue to investigate it but won't block the release.

[2022-10-31 15:50] bhalevy commented on #11459
Agreed.  But still there's a bug somewhere causing the table to disappear after downgrade.

As a preventive manner, I wonder if we should refuse to start by default (and have an option to bypass that) if there is a user keyspace or table on disk that are not in the schema (I presume we could add a system keyspace or table that won't be in the hard coded system schema, so this should be allowed).

[2022-10-31 15:53] yarongilor commented on #10210
Might be reproduced in the same test (after gemini warmup phase):
Got error of:
[code]
then Gemini failed with:
[code]

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc2-20220919.75d087a2b75a` with build-id `463f1a57b82041a6c6b6441f0cbc26c8ad93091e`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/s

[2022-10-31 16:02] bhalevy commented on #11805
@asias it seems like we allow replacing a node while it's still not DN in gossip.
Should this be prevented similar to refusing removenode of non-DN nodes?
If so, please open an issue about that, and we can consider backporting a fix to 5.1/5.0.

[2022-10-31 18:22] raphaelsc commented on #11805
Not sure it's related to that, because sstables introduced by repair are placed in maintenance set, which isn't accounted for in maybe_wait_for_sstable_count_reduction().

[2022-10-31 20:23] fgelcer commented on #11528
@avikivity , seeing this again, this time on run build 8 (previous run was 3).
it is using `Scylla version 2022.1.3-0.20220922.539a55e35 with build-id d1fb2faafd95058a04aad30b675ff7d2b930278d`

we had only 2 stalls reported in this test, at the very same time.

decoded:
[code]

[code]

[2022-10-31 20:23] fgelcer commented on #11528
so it wasn't a fluke

[2022-10-31 21:34] fgelcer commented on #10210
it was seen some time ago on 4.4, but it was never assigned, so i'm setting bot master and release triage, so we can address it

[2022-10-31 23:25] roydahan commented on #11756
Thanks for investigating.
What shall we disable in order to avoid the notorious 2577?
Do we need to disable schema changes in all “large partitions” longevities?

[2022-11-01 00:04] #11826 closed

[2022-11-01 01:48] asias commented on #10296
OK. Can you show me the jenkins link to build the AMI? Who is going to run the test when we have the AMI?

[2022-11-01 04:08] k0machi commented on #10296
I have everything set up already, so I'll use the branch you've linked: `truncate_issue_5_1.qa.test2`, here is the new ami: `us-east-1`: `ami-0444217138b144e3d`.

Version string: `5.1.0~rc3-0.20221101.5bd9b0846be3`.

I've already launched a test with the fix yesterday morning, had to restart it after the weekend unfortunately, something went wrong with the network. I'll queue up the job without th

[2022-11-01 04:39] denesb commented on #11756
Yes, that should be enough. We do want to test the other aspects of large partition support, but this is known to not work currently and so like @tgrabiec said, such reports are just duplicated efforts if the person investigating is not familiar with the issue and has to rediscover it on their own.

[2022-11-01 07:13] denesb commented on #11756
I think we can close this issue as duplicate of #2577.

[2022-11-01 07:13] #11756 closed

[2022-11-01 09:38] nyh commented on #11801
Backported to next-5.1 (fa9422266259756e09bda6dc03d4f2fa9b4054b0), next-5.0 (8c56b0b268dab9d90d4db15b5bc75a7d3dbf9ef8), next-4.6 (80bea5341e21dd9cfc67502c64225020ec476145).

[2022-11-01 11:14] denesb commented on #11843
[code]
I can't open the core. I used the packages from http://downloads.scylladb.com/unstable/scylla/master/relocatable/2022-10-26T03:03:58Z/scylla-unstripped-5.2.0~dev-0.20221026.64c9359443fb.x86_64.tar.gz and used the dbuild container.

[2022-11-01 11:16] denesb commented on #11843
Nevermind, I accidentally used the packages from an earlier investigation (wrong version).

[2022-11-01 12:00] denesb commented on #11843
On first look this doesn't seem to be related to partition splitting.

[2022-11-01 15:16] bhalevy opened #11870 "Hints manager starts too early (before topology info is available)"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/127/testReport/hintedhandoff_additional_test/TestHintedHandoff/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split018___test_hintedhandoff_rebalance/
[code]

Scylla version 5.2.0~dev-0.20221101 276ec377c0ba that included the latest related fixes like
e245780d568b1b38cdf1d7e7b3137236211a4bed
64c9359443

[2022-11-01 18:08] bhalevy commented on #11870
See also https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/78/testReport/alternator_stream_tests/TestAlternatorStreams/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split037___test_sequence_numbers_during_add_decommission_node/

[2022-11-01 18:10] bhalevy commented on #11870
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/78/testReport/bootstrap_test/TestBootstrap/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split023___test_decommissioned_wiped_node_can_join/

[2022-11-01 18:11] bhalevy commented on #11870
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/78/testReport/materialized_views_test/TestMaterializedViews/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split032___test_decommission_node_during_mv_insert_4_nodes/

[2022-11-01 19:40] avikivity commented on #11528
It's again a #8828 type stall, only super high. We'll have to fix the kernel stall reporter.

Was this GCP or AWS?

[2022-11-01 20:16] KnifeyMoloko opened #11872 "DB node joining the cluster took 1.5 minutes between finishing Scylla Cloud Image service and the first logs of starting Scylla Server"
## Installation details

Kernel Version: 5.15.0-1021-aws
Scylla version (or git commit hash): `2022.2.0~rc3-20221009.994a5f0fbb4c` with build-id `ad2ce7ef5214afc9f921ccfa2ce00706376f77dc`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/scylladb-2022.2/scylla-enterprise-aarch64-package-2022.2.0-rc3.0.20221009.994a5f0fbb4c.tar.gz
Cluster size: 6 nodes (im4g

[2022-11-01 20:34] avikivity commented on #11862
This is super odd. The call stack uses mutation_partition::clear_gently(), which clears row by row.

[2022-11-01 20:37] avikivity commented on #11862
Ah,

[code]

This can't be gentle since we can't yield in a destructor.

[2022-11-01 20:41] avikivity commented on #11862
[code]

This is seal_active_memtable().

[code]

@tgrabiec, @bhalevy I think we should clear_gently() even if cache_enabled(), since _cache.update() may not move all of *m into the cache.

[2022-11-02 03:57] asias commented on #11868
The key of the above proposal is to make A detect C have a wrong host id as expected and reject the write during rpc re-connection. This is good in terms of detecting such errors.

However, I have an idea of a different approach to this problem.  Instead just detecting and rejecting such bogus writes, we can make the change ip operation more robust. We can make change ip an official node operation

[2022-11-02 06:19] fgelcer commented on #11528
GCP

[2022-11-02 07:36] nyh commented on #11856
I'm closing this issue for now. While there might be in theory some reasons why we might want to configure the compaction strategy on an Alternator table, as @raphaelsc noticed (in a discussion on the mailing list), the motivating example given above was wrong:

TWCS works well with CQL's TTL, because it can notice that entire old windows have expired and delete entire sstables. But it will work t

[2022-11-02 07:36] #11856 closed

[2022-11-02 08:19] bhalevy opened #11874 "alternator_tests.TesterAlternator.test_cluster_traces fails intermittently"
Last seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/128/testReport/alternator_tests/TesterAlternator/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split004___test_cluster_traces/

[code]

But the test seems to fail intermittently since it started running regularly.
See also https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily

[2022-11-02 08:20] bhalevy commented on #11799
ping @roydahan

[2022-11-02 08:20] kbr- commented on #11868
This won't work for the main intended use case for IP change - restarting pods in Kubernetes.
In K8s whenever a pod is restarted, it may change its IP address.
Multiple pods may be killed due to e.g. hardware failure. When you restart them, the IP address will be in general different.

So what happens if 2 out of 3 nodes are killed - something you cannot assume not to happen? With the solution you

[2022-11-02 08:22] kbr- commented on #11868
It's temporary and will be resolved as soon as the IPs are propagated. I think it's fine. It's just as if the restart took a bit longer.

[2022-11-02 08:46] gleb-cloudius commented on #11542
Moving back in the history shows that old releases behaved differently with the same load. Instead of producing "missing column" error they crashed. Bisecting points to d6b0a8338a07b3d439a7b27334dc71f4ac4fad62 as a culprit. The crash trace (with revision a6b59f0d89) is:

[code]

[2022-11-02 08:48] margdoc commented on #11853
No, there wasn't any problem with startup, but I was running jepsen test with scylla 4.6

[2022-11-02 08:50] gleb-cloudius commented on #11542
If I short circuit `matches_view_filter` (the function changed by a commit that bisection points too) like that on master:

[code]

The problem does not reproduce.

[2022-11-02 08:55] avikivity commented on #11528
Please check the GCP logs if there was a maintenance event on the node.

[2022-11-02 08:56] bhalevy commented on #11862
makes sense

[2022-11-02 08:57] avikivity commented on #11862
But please check that _cache.update() doesn't clear the memtable on its own. Maybe it's better done there (since we're already iterating).

[2022-11-02 09:09] tgrabiec commented on #11868
It's fine if they both went down and we're restarting concurrently. Sequential restart, however, is not supposed to introduce unavailability, as at most one node is down at a time. If we have propagation delays, it now can. I'm not sure sequential restart like this, with IP changes, is a plausible scenario though.

[2022-11-02 09:44] tgrabiec commented on #11862
`_cache.update()` always clear the memtable.

[2022-11-02 09:51] avikivity commented on #11862
Then the only explanation is that we had an exception. But then the memtable should not have been released.

[2022-11-02 09:51] nyh commented on #11874
I'll take a look at this test now.

[2022-11-02 09:56] avikivity commented on #11862
I don't understand this.

[2022-11-02 10:03] tgrabiec commented on #11862
This is inside `~mutation_cleaner_impl`, which destroys what it owns synchronously (it must do it, it is being destroyed). It's the memtable's cleaner. But this cleaner is merged with the cache cleaner when cache update starts, so cleaning initiated before, or later should go to the cache cleaner. Weird.