[2018-12-10 17:24] vladzcloudius commented on #3968
@slivne Hi. Is the a file I forgot to patch? It seems like it's a docker image building scriptology issue which I have no idea about. It looks like we don't use the corresponding tag/branch for all files when we build the image.

[2018-12-10 17:31] gnumoreno commented on #3968
@penberg can probably help here.

[2018-12-10 18:13] duarten opened #3977 "Error out if custom indexes are created"
Right now we accept `create custom index` commands, although this feature is part of SASI, which we don't support.

[2018-12-11 09:25] page4 commented on #3964
We're working on upgrading.
I don't add `-Cfpi` when calling `addr2line` .
After resolving, the backtrace is as following.
[code]

[2018-12-11 12:05] roydahan commented on #3816
still not clear.
We are checking current runs, not sure if these bad disks or something with scylla.

[2018-12-11 14:49] avikivity opened #3978 "libdeflate uses gcc, instead of configured compiler"
libdeflate is build with the host's compiler, so if it's bad, we'll get bad results.

[2018-12-11 16:30] #3978 closed

[2018-12-11 16:34] espindola commented on #3960
A few stats:
running "git grep throw.*malformed_sstable_exception" finds 39 throws. 2 are rethrows, so we have 37 leaves.
broken_sstable_test.cc currently has tests for 6 of those.

[2018-12-11 21:56] slivne commented on #3844
@amoskong so please boot a cluster and have it running so gleb can check the status on a running cluster

[2018-12-12 00:30] #3669 closed

[2018-12-12 00:30] #3977 closed

[2018-12-12 02:51] asias opened #3979 "Notify NEW_NODE only when a node is new node"
A restarted node will be reported as new node with NEW_NODE cql notification. We should only send NEW_NODE notification when the node was not part of the cluster before.

[2018-12-12 03:24] syuu1228 opened #3980 "scylla_setup on offline installer always fails because of scylla-housekeeping"
Since we run scylla-housekeeping unconditionally on scylla_setup, it likely always fails since it's offline.
We should ask before running, also it's better to skip scylla-housekeeping when it's in offline installer (special mode of scylla_setup, perhaps specify by --offline or something).

[2018-12-12 07:20] syuu1228 commented on #3980
My description was bit wrong, scylla_setup actually asks "Do you want to enable Scylla to check if there is a newer version of Scylla available?", and disables housekeeping service if answer is "No".
However, scylla_setup tries to run scylla-housekeeping unconditionally just after that, to notify user if new version available.
And that code will always fail on offline node.
I think we shouldn't ru

[2018-12-12 07:20] syuu1228 commented on #3980
reference: https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_setup#L224

[2018-12-12 09:15] breign commented on #3858
on ubuntu 16.04 I had too choose java-8-openjdk-amd64 for scylla-jmx.service to work too

[2018-12-12 11:29] tgrabiec opened #3981 "Skipping across rows in sstable reader is slow due to full schema copy"
Scylla version (or git commit hash): Tested with 34a31a8

Introduced in 7e15e436decbb53c3c1c9c3b8eeeec2c67b82fb1.

Exposed by perf_fast_forward:

[code]

![screenshot from 2018-12-12 12-22-20](https://user-images.githubusercontent.com/283695/49866730-de71e600-fe08-11e8-97c1-8c8831d85deb.png)

[2018-12-12 13:08] haaawk opened #3982 "'Request timed out while waiting for schema agreement.[...]' in restore_snapshot_using_old_token_ownership_test (backup_restore_tests.TestBackupRestore)"
This issue is very hard to reproduce. I managed to do it only once.
[error.log](https://github.com/scylladb/scylla/files/2671990/error.log) has more details

Possibly related to #2820 and #3413

Seems not SSTable MC format related because I reproduced it without "--enable-sstables-mc-format true"

More logs are available here:
http://jenkins.cloudius-systems.com:8080/job/scylla-byo-dtest/label=mon

[2018-12-12 13:40] tgrabiec commented on #3982
On Wed, Dec 12, 2018 at 2:08 PM Piotr Jastrzębski <notifications@github.com>
wrote:

Those look unrelated. In #2820 agreement is eventually reached, and #3413
is about a reactor stall.

Does the failed run contain a fix for
https://github.com/scylladb/scylla/issues/3976?

[2018-12-12 13:45] tgrabiec commented on #3981
Fixed in 0a853b88662762a7b376d911577cc2d56af7b810

[2018-12-12 13:45] #3981 closed

[2018-12-12 13:55] haaawk commented on #3982
I don't think so. Dtest run was started over 7 days ago and the fix was commited on 12 Dec.

[2018-12-12 15:06] tgrabiec commented on #3874
Attaching current results for [population tests](https://github.com/tgrabiec/scylla/blob/75f8de90c7a123ebd7a66a3061a4dcdda8a45ebc/tests/perf/perf_fast_forward.cc) (scylla-2.3.1 vs df607a1e07b9740296e9cbd948711ae4b5fdc69b), on XFS @ NVMe.

The only case which is regressed is for tiny rows (1 cell @ 8 byte), where MC has 4% lower throughput.

[code]

[2018-12-12 15:27] tgrabiec opened #3983 "Regression in scan performance with sstable MC format"
[perf_fast_forward](https://github.com/tgrabiec/scylla/blob/f0a7a434a6810e88f583f27f2e46953779432a9f/tests/perf/perf_fast_forward.cc) results between LA @ scylla-2.3.1 and MC @ df607a1e07b9740296e9cbd948711ae4b5fdc69b (to the right) on XFS @ NVMe.

The regressed data sets include the one with small partitions and the ones with large partitions with rows in the following configuration: 1 (cell) x

[2018-12-12 15:51] tgrabiec opened #3984 "Regression in speed of fast forwarding within large partition on MC sstable format"
[perf_fast_forward](https://github.com/tgrabiec/scylla/blob/75f8de90c7a123ebd7a66a3061a4dcdda8a45ebc/tests/perf/perf_fast_forward.cc) results between LA @ scylla-2.3.1 and MC @ df607a1e07b9740296e9cbd948711ae4b5fdc69b (to the right) on XFS @ NVMe.

[code]

[2018-12-12 15:54] tgrabiec commented on #3984
large-partition-select-few-rows with large stride is also impacted, e.g.:

[code]

[2018-12-12 16:01] roydahan opened #3985 "2 Nodes crashed with Segmentation fault during latency performance test"
*Installation details*
Scylla version (or git commit hash): 3.0.rc1-0.20181206.c9ec9d408
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS ami-077a5942fa1a8c869

During population phase of test_latency (population 1 Billion keys of 1KB each), 2 nodes (out of 3) crashed with "Segmentation fault":

Node1:
[code]

Node2:
[code]

Coredump is available.
You can download it by https://storage.cloud.g

[2018-12-12 16:03] roydahan commented on #3985
Tried to decode the backtraces, not sure which decode is the actual one, so here both of them:
[code]

[2018-12-12 17:21] gleb-cloudius commented on #3985
Suppose to be fixed by 4820130abebf6a0639d64cc6df9a05cc36db6573 which is
not in this build.

--
			Gleb.

[2018-12-12 21:46] vladzcloudius opened #3986 "Confusing warning message about big partition"
*Installation details*
HEAD: 9388f3d626ce9f366f5fa16c2a683c419e427cc2

*Description*
The message is reporting a large *row* while the intent is a large *partition*.

[2018-12-13 00:56] #3986 closed

[2018-12-13 03:09] amoskong commented on #3844
I didn't reproduce this issue in http://jenkins.cloudius-systems.com:8080/job/scylla-staging-scale-cluster-test-clone-amos/label=aws-scylla-qa-builder1/40/artifact/latest/

I will try again.

[2018-12-13 06:11] amoskong commented on #3844
I had reproduce the problem by http://jenkins.cloudius-systems.com:8080/job/scylla-staging-scale-cluster-test-clone-amos/label=aws-scylla-qa-builder1/41/
And sent gleb email with job detail.

[code]

[2018-12-13 07:46] #1969 closed

[2018-12-13 08:21] denesb opened #3987 "querier_cache: be prepared for immediate eviction of the querier"
Versions: master, 3.0
414b14a6bd introduced the capability of the `reader_concurrency_semaphore` immediately evicting an inactive reader, when it is registered. Unfortunately the `querier_cache` was not prepared for this. After registering the `querier` with the semaphore it unconditionally proceeded to further process entry (insert it into the indexes, etc). This lead to use-after-free when the q

[2018-12-13 10:37] slivne commented on #3985
@gleb-cloudius - both crashes are supposed to be fixed by this ? or only one of them.

[2018-12-13 10:42] gleb-cloudius commented on #3985
On Thu, Dec 13, 2018 at 10:37:21AM +0000, Shlomi Livne wrote:

The one that is decoded correctly, second decode looks wrong.

--
			Gleb.

[2018-12-13 10:42] slivne commented on #3982
there have been only to runs since the fix for #3976 went in both passed

direct link http://jenkins.cloudius-systems.com:8080/view/master/job/scylla-master/job/dtest/label=scylla-dtest,mode=release,smp=2/969/testReport/junit/backup_restore_tests/TestBackupRestore/restore_snapshot_using_old_token_ownership_test/history/

lets wait 3-4 additional runs if they all path - assume its fixed by that and

[2018-12-13 11:01] slivne opened #3988 "Large row detector"
Large rows can be a problem.

Lets enhance the Large Partition to detect also large rows.

[2018-12-13 11:07] duarten commented on #3966
This together with #3826 should be fairly high on our priority list.

[2018-12-13 11:45] amnonh opened #3989 "node-exporter.service not working with node_exporter 0.17"
node_exporter broke their backward compatibility in the command line argument, this will result with the node_exporter service will not start after moving to 0.17.

[2018-12-13 12:41] pdziepak opened #3990 "mutation_fragment_filter lacks unit tests"
`mutation_fragment_filter` is central to how mc sstable reader decides what's inside requested range and what isn't  yet it completely lacks unit tests or any documentation.

[2018-12-13 13:47] denesb opened #3991 "query_mutation_on_all_shards(): problems around resuming paused readers"
Scylla version (or git commit hash): master, 3.0

`query_mutation_on_all_shards()` has all sorts of problems w.r.t. resuming paused readers:
* If the reader was evicted and it was attempted to re-create it `read_context::make_remote_reader()` would barf as it doesn't expect the reader-state to be in `evicted_state`.
* If an evicted reader is not re-created or if it is re-created but then fails (e.

[2018-12-13 17:00] eliransin commented on #3843
@asias @duarten is the merge above fixes the issue (or at least suppose to) ?

[2018-12-13 17:01] duarten commented on #3843
I think so.

[2018-12-13 17:01] #3843 closed

[2018-12-13 17:07] slivne commented on #3843
I am not as optimistic we need to check this out ... from reading the driver the code it may attempt to open a connection on getting a NEW_NODE event and not wait for the UP event.

Asias tested this out - in any case we need to check this works over 3.0 and decide if we are backporting this - currently its only in master

[2018-12-13 17:11] duarten commented on #3843
I backported it, I had asked on the mailing list and I think Asias said it was supposed to be on 3.0.

[2018-12-14 09:40] tgrabiec opened #3992 "Slicing sstable reader always reads the head of the partition"
Scylla version: 2.2

After 4b9a34a85425d1279b471b2ff0b0f2462328929c, read_partition() is always called through read_next_partition(), even if we're at the beginning of the read.  read_next_partition() is supposed to skip to the next partition. It still works when we're positioned before a partition, it doesn't advance the consumer, but it clears _index_in_current_partition, because it (correctly)

[2018-12-14 10:37] psarna opened #3993 "Trying to create an index on static column works, even though the index itself does not"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): master (7da1ac2c2cb86ec55c0c2d70b4

[2018-12-14 14:30] psarna commented on #3295
Hi, I was in desperate need of this API for at least 5 times already, so I'm calling dibs on it (as a weekend project). If there are no objections, feel free to assign this one to me.

[2018-12-14 14:33] duarten commented on #3295
Have fun :)

[2018-12-14 20:52] #3993 closed

[2018-12-16 14:18] nyh opened #3994 "Consider non-random token distribution, and lower num_tokens"
The main reason we need to use a high number of vnodes per node (currently our default is num_tokens=256) is, IIRC, because the token distribution is random, so having too few of them can lead to unbalanced sizes of different nodes. Having a high number of tokens also has its prices (not very high, but still...), so Cassandra 3.0 replaced random token distribution with an algorithm - see https://i

[2018-12-16 15:43] avikivity commented on #3994
Cassandra's algorithm has several problems:
 - it only works for one replication factor, others can get large imbalance
 - it does not work when nodes are removed; you can get large imbalance
 - you have to specify a keyspace for the algorithm to work on (to get the replication strategy and replicaton factor)

Is there a problem with num_tokens=256?

[2018-12-16 15:50] nyh commented on #3994
@avikivity thanks for clarifying the downsides of Cassandra's new approach (this is why I labeled the bug "consider", I wasn't entirely sure this was a good idea).
One of the problems with num_tokens=256 is that some algorithms are proportional to this. But the real reason that led me to look at this was a complaint from a user why we need such high number when Cassandra doesn't :-) I created scyl

[2018-12-16 16:33] roydahan commented on #3816
Still no answer, all "streaming" nemesis takes very long time in the recent runs and we check what is the issue.

[2018-12-16 17:02] roydahan commented on #3985
I tried to test with latest AMI and it still fails with segmentation fault.
Backtrace looks different so it may be different one:

AMI ID: ami-0ce5cc382826db8a5
scylla-version: 3.0.rc1-0.20181207.59cf9d907

Decoded backtrace:
[code]

[2018-12-16 17:03] roydahan commented on #3985
coredump:

[code]

[2018-12-16 19:32] gleb-cloudius commented on #3985
On Sun, Dec 16, 2018 at 09:02:59AM -0800, Roy Dahan wrote:

The fix is not in this version either. Wait for rc2.

--
			Gleb.

[2018-12-17 09:16] #3989 closed

[2018-12-17 09:44] syuu1228 opened #3995 "dist/offline_installer/redhat: HEAD scylla_setup does not accepts an argument passed from offline installer"
[code]

[2018-12-17 13:51] avikivity opened #3996 "Spurious EIO due to RWF_NOWAIT aio"
Linux support for RWF_NOWAIT has a bug that can cause it to return EIO under some uncertain conditions, even though everything is fine.

https://lore.kernel.org/lkml/9bab0f40-5748-f147-efeb-5aac4fd44533@scylladb.com/

[2018-12-17 14:43] pdziepak opened #3997 "SSTables 3: mp_row_consumer_m may emit a range tombstone outside of the expected range"
MC format stores range tombstones as begin and end markers. This is different from internal Scylla model which uses a single type of a range tombstone object with both bounds. That requires the sstable reader to split range tombstones whenever a clustered row is being read.

If the sstable reader reaches the end of the file stream it needs to emit any tombstone that is still open (i.e. end marker

[2018-12-17 16:29] denesb opened #3998 "tests/mutation_reader_test:test_multishard_combining_reader_as_mutation_source relies on sleep"
Tests should avoid relying on sleeps to simulate delays as much as possible. It is very hard to guarantee the effects of a sleep as the boxes the test runs on vary wildly both in performance and in load.
The test in question uses sleep to simulate the pausing and resuming of shard readers being delayed, but `sleep()` is a poor choice. An amount that is excessive on some environment will be inadequ

[2018-12-17 16:32] #3987 closed

[2018-12-17 16:32] #3991 closed

[2018-12-17 17:09] tgrabiec opened #3999 "SStable reader for the MC format is triggering undefined behavior for static rows"
`mp_row_consumer_m::consume_row_marker_and_tombstone()` is called for both clustering and static rows, but it dereferences and modifies `_in_progress_row`, which is only set when inside a clustering row.

[2018-12-18 12:46] nyh commented on #440
Looking at the code it appears we already have a `compaction_enabled` flag for tables,  and CQL support for setting it from the "enabled" option, but the compaction manager just ignores this parameter. Also, the REST API has /column_family/autocompaction/ but it's a GET-only API (just get the value, can't change it) and its implementation is hard-coded to return TRUE in any case.

[2018-12-18 13:44] gleb-cloudius opened #4000 "Crash in rpc streaming"
*Installation details*
Scylla version (or git commit hash): 3.0-rc2

Segmentation fault with the trace:

[code]

Connection seams to be a stream:

[code]

Code that fails is at line 133:

[code]
But _fd object is not null!:

[code]

[2018-12-18 15:18] duarten opened #4001 "Mark existing views as built for bootstrapping nodes"
When a new node is bootstrapping, it will be streamed data for its base tables. If the views for those tables are marked as built, then the bootstrapping node does nothing. On the other hand, if the views haven't been built, then the node will eventually generate and propagate the associated view updates.

In both cases the node should mark the view as built in its local system tables, to prevent

[2018-12-18 15:54] slivne commented on #4001
@duarten - so it will be clearer.

if the new node does "start the view building process" - the outcome of that is that it will rebuild the vews although they are updated - it seems a performance issue not a correctness one

once the view building process ends it will write to the distributed system views built table - so again its not a correctness issue - but performance one.

[2018-12-18 16:03] duarten commented on #4001
It is a performance one, yes. Although there’s a defenerate use-case, that of successive bootstraps where the same subset of keys keeps being moved around and being built.

[2018-12-18 16:25] raphaelsc commented on #3735
Issue not completely fixed because compaction manager may still hold descritor to cleaned sstables, so disk space may still not get released

[2018-12-18 23:38] raphaelsc opened #4002 "commitlog flush is apparently broken"
*Installation details*
Scylla version (or git commit hash): 1f578be1877b6
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

commitlog flush fails with: ```
ERROR 2018-12-18 20:53:50,371 [shard 0] commitlog - Failed to persist commits to disk for CommitLog-1-152780838.log: storage_io_error (Storage I/O error: 5: Input/output error)
WARN  2018-12-18 20:53:50,373 [shard 0] seastar - Exceptional future

[2018-12-18 23:43] duarten commented on #4002
Are you able to decode the backtrace?

[2018-12-18 23:47] raphaelsc commented on #4002
backtrace<seastar::current_backtrace()::<lambda(seastar::frame)> > at /home/raphaelsc/scylla/seastar/include/seastar/util/backtrace.hh:56
 (inlined by) seastar::current_backtrace() at /home/raphaelsc/scylla/seastar/src/util/backtrace.cc:84
seastar::report_failed_future(std::__exception_ptr::exception_ptr) at /home/raphaelsc/scylla/seastar/src/core/reactor.cc:4566
seastar::future<>::~future() at /h

[2018-12-19 07:52] slivne commented on #4002
@elcallio is the code for reusing files in - could it be related (thats the last change we did AFAIK).

[2018-12-19 07:59] gleb-cloudius commented on #4002
On Tue, Dec 18, 2018 at 03:38:55PM -0800, Raphael Carvalho wrote:

Do you have commit https://github.com/scylladb/seastar/commit/e67572ef68a6cd1f0785d1f19 in your seastar?

--
			Gleb.

[2018-12-19 08:23] avikivity opened #4003 ""enable_sstables_mc_format" help text wants to remove itself"
The `enable_sstables_mc_format` config item wants to remove itself before release, according to its own help text. This is confusing.

[2018-12-19 10:32] denesb commented on #4002
Is this a debug build? Could it be that you are seeing this: https://github.com/scylladb/seastar/commit/e67572ef68a6cd1f0785d1f19f5ab8e18816763b

[2018-12-19 10:35] nyh commented on #4001
Note that as @juliayakovlev noticed, this fix is also important for correctness of several dtests, such as mv_populating_from_existing_data_during_node_decommission_test and mv_populating_from_existing_data_during_extend_test, tests where a new node is added while a view is being built:
Our wait_for_view() dtest function (scylla_tools.py) checks for all living nodes to be marked in the distributed

[2018-12-19 11:10] gleb-cloudius commented on #3844
The node 172.16.1.59 also read from disk much more than all other nodes which may explain why its io wait time is larger:

![disk-0](https://user-images.githubusercontent.com/6554938/50216685-222b9900-038f-11e9-88ac-9de5da8bc4cf.png)

The node was also added first from 10 new nodes.

One possible explanation is that because it was added first it got more data that other nodes and hence has more ss

[2018-12-19 11:15] avikivity commented on #3844
Do we run `nodetool cleanup`?

It could be that compaction is slow because the disk is slow, and then that slows the reads because there are too many sstables. Cap on 250 MB/s is evidence that the disk is the bottleneck.

[2018-12-19 12:32] raphaelsc commented on #4002
On Wed, Dec 19, 2018 at 5:59 AM Gleb Natapov <notifications@github.com>
wrote:

I do.

[2018-12-19 12:33] raphaelsc commented on #4002
On Wed, Dec 19, 2018 at 8:32 AM Botond Dénes <notifications@github.com>
wrote:

Release.

[2018-12-19 13:47] #2896 closed

[2018-12-19 13:47] #4003 closed

[2018-12-19 14:45] elcallio commented on #4002
Afaik, yes it is in, though I don't see how it could really cause this IO error, as it does not change anything about actual IO. Should be easy to test though:

@raphaelsc . if you run with commitlog_reuse_segments=false, does anything change? (Though that does not affect null-terminating segments).

[2018-12-20 03:11] amoskong commented on #3844
On Wed, Dec 19, 2018 at 7:15 PM Avi Kivity <notifications@github.com> wrote:

We didn't run it in scale test.

[2018-12-20 04:30] amoskong opened #4004 "coredump in restart_then_repair_node & enospc nemesis"
*Installation details*
Scylla version (or git commit hash): 3.0.rc2-0.20181213.6b011fbe0
Cluster size: 6 db_nodes, 2 loaders
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0441d73b099ec2c23

* Jenkins job:
http://jenkins.cloudius-systems.com:8080/job/scylla-3.0/job/3.0-test/job/scylla-longevity-test/label=aws-scylla-qa-builder1/14/

* Backtraces:
I found two kinds of backtrace in jobs, different error but s

[2018-12-20 04:33] amoskong commented on #4004
Comment from @roydahan in email:
[code]

[2018-12-20 05:21] amoskong opened #4005 "longevity 1tb: Reactor stalled for 8000 ms on shard x, nemesises took very long time"
*Installation details*
Scylla version (or git commit hash): 3.0.rc2-0.20181213.6b011fbe0
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0441d73b099ec2c23

* Jenkins job:
http://jenkins.cloudius-systems.com:8080/job/scylla-3.0/job/3.0-test/job/scylla-longevity-1TB-aws-test/12/

* Description:
In longevity-1tb job, there are many Reactor stalled message, the backtraces are same.
Another seriou

[2018-12-20 06:54] asias commented on #4005
The log shows we have stall in streaming::send_info::estimate_partitions(). We can futurize it.
What nemesises took long time? What operation triggered streaming?

[2018-12-20 07:14] tzach opened #4006 "Add enable_sstables_mc_format to scylla.yaml"
*Installation details*
Scylla version (or git commit hash): 3.0

The new enable_sstables_mc_format parameter deserve place in scylla.yaml

related #4003

[2018-12-20 07:56] amoskong commented on #4005
* terminate_and_replace_node nemesis took almost 2 days
[code]

* destroy_data_then_rebuild took 5 hours
[code]

* another terminate_and_replace_node took 6 hours
[code]

[2018-12-20 08:01] amoskong commented on #4005
In `another older` 1tb longevity, the nemesises were very very slow... the job log was lost after renaming.

There are only some streaming error in terminate_and_replace_node nemesis.

[code]

Grafana snapshot:

![fireshot capture 1 - grafana - scylla per server metrics ne_ - http___18 209 104 145_3000_dashboar](https://user-images.githubusercontent.com/309708/50271667-5f1b8c80-0470-11e9-8c64-2a9d

[2018-12-20 08:05] slivne commented on #4005
On Thu, Dec 20, 2018 at 9:56 AM Amos Kong <notifications@github.com> wrote:

that's off ...

We may have an issue with compaction being "aggresive" in adding sstables
comming from streaming and compacting them over and over.

streaming sstables will not have overlaps - so compaction maybe over
aggressive in taking every sstable and compacting it with a single huge
sstable that we may have.

this i

[2018-12-20 09:46] nirmaayan commented on #83
+1

[2018-12-20 10:30] slivne commented on #4002
@raphaelsc I need an answer if its related to commitlog_reuse_segments ... it will help us assure its not in 3.0 release as well.

[2018-12-20 10:32] raphaelsc commented on #4002
On Thu, Dec 20, 2018, 8:30 AM Shlomi Livne <notifications@github.com wrote:

It actually seems related to nowait aio, I'll double check.

—

[2018-12-20 10:37] avikivity commented on #3996
Fixed by 122737a8ab3996ae9705b63af9991899a51129e0 (master), 46efc088828a449e9738bc578be4d15f825e76d5 (3.0), 1498c4f1507647ae5140453bda1d8fb7e29901cb (2.3).

[2018-12-20 10:37] #3996 closed

[2018-12-20 10:39] avikivity commented on #3996
Looks like I forgot to push the 2.3 fix, pushed it now.

[2018-12-20 10:40] slivne commented on #3985
@roydahan please confirm that this is sloved and we will close

[2018-12-20 10:46] amoskong commented on #4004
It occurred after instance restart. When RAID setup finished, try to restart the scylla-server service, then the error occurred.

[code]

[2018-12-20 10:51] slivne commented on #3982
so it hasn't failed since ... so I am closing this we can reopen/create new one if it fails again

[2018-12-20 10:51] #3982 closed

[2018-12-20 10:54] slivne commented on #3964
closing this issue - we do not support this version.

@page4 if after upgrade this happens we will dig into this - please post and we will reopen.

[2018-12-20 10:54] #3964 closed

[2018-12-20 10:57] tgrabiec opened #4007 "Use offset maps to improve skipping in the MC-format sstable"
Currently, the promoted index (a row index within a partition) reader has to read all entries up to the target entry. Doing that is expensive in terms of CPU time and IO.

We could avoid this by doing a binary search in the promoted index. To do that, we need to know the offsets of promoted index entries (they have a variable length). The promoted index of the MC format contains an array with offs

[2018-12-20 10:57] slivne commented on #3956
@syuu1228 patches for main were they merged ?

[2018-12-20 10:59] tgrabiec commented on #3984
The main cause for regression in the test cases which skip or slice into the partition seems to be more expensive promoted index parsing on MC.

This would be improved by implementing https://github.com/scylladb/scylla/issues/4007

[2018-12-20 10:59] slivne commented on #3952
fixed

[2018-12-20 10:59] #3952 closed

[2018-12-20 11:00] slivne commented on #3951
since this is schema upgrade closing we have an issue for this.

[2018-12-20 11:00] #3951 closed

[2018-12-20 11:08] slivne commented on #3896
@dyasny 3.0 is shipped with tools based on cassandra 3.11 train - 2.3 was based on cassandra 3.0 ... so we have merged many fixes that have been done.

[2018-12-20 11:11] juliayakovlev opened #4008 "Segmentation fault during MV inserts on the branch with MV backpressure feature support"
*Installation details*
Scylla version (or git commit hash): 3.0.rc2-0.20181217.087916d7b
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0be0c41776836fc2d

The test was run on the private branch with MV backpressure feature.

Test scenario:
- one keyspace has 1 base table and 2 materialized views
- run insert 25M rows from 4 loaders, 200 threads on each loader
- run with mc sstable form

[2018-12-20 11:11] slivne commented on #3875
@asias ping

[2018-12-20 11:12] penberg commented on #3968
@vladzcloudius @gnumoreno Sorry, I don't undestand the question. What exactly is _scriptology_?

Please note that Scylla's Docker image uses `supervisord` to manage service. The Scylla server is started with:

https://github.com/scylladb/scylla/blob/master/dist/docker/redhat/scylla-service.sh

and

https://github.com/scylladb/scylla/blob/master/dist/docker/redhat/etc/supervisord.conf.d/scylla-serv

[2018-12-20 11:19] duarten commented on #4008
@tgrabiec, does this ring a bell?

[2018-12-20 11:22] tzach commented on #4006
On second thought, having the parameter in scylla.yaml will be problematic in future releases, where the format should be enabled by default.

[2018-12-20 11:22] #4006 closed

[2018-12-20 11:24] roydahan commented on #3985
solved on 3.0.rc2

[2018-12-20 13:10] asias commented on #4005
@amoskong Do we have this issue in 3.0.rc1 ?

[2018-12-20 13:14] asias commented on #4005
@amoskong Do you still have the disk IO Grafana dashboard snapshot?

[2018-12-20 13:43] tgrabiec commented on #3983
[perf_fast_forward](https://github.com/tgrabiec/scylla/blob/75f8de90c7a123ebd7a66a3061a4dcdda8a45ebc/tests/perf/perf_fast_forward.cc) results between LA @ scylla-2.3.1 and MC @ e6d26a5 (on the right) on tmpfs.

[code]

[2018-12-20 13:55] #2538 closed

[2018-12-20 13:55] #4005 closed

[2018-12-20 15:37] #3992 closed

[2018-12-20 15:37] #3963 closed

[2018-12-20 15:37] #3997 closed

[2018-12-20 15:37] #3999 closed

[2018-12-20 16:05] #4000 closed

[2018-12-20 16:05] gleb-cloudius commented on #4000
dup of #4004

[2018-12-20 16:06] gibsn opened #4009 "Non-null component after null component in sstable"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0.rc1
Cluster size: 4 nodes
OS (

[2018-12-20 16:08] slivne commented on #4009
@gibsn would it be possible for you to share the sstable and the schema ?

[2018-12-20 16:13] gibsn commented on #4009
I can't share the SSTable since in contains sensitive date

Here is the schema:
{code}
CREATE KEYSPACE ks
    WITH replication = {
        'class': 'NetworkTopologyStrategy',
        'DC1': 1,
        'DC2': 1
    }
AND durable_writes = true;

CREATE TABLE tbl (
    field1 text,
    field2 smallint,
    field3 tinyint,
    field4 timeuuid,
    field5 smallint,
    field6 smallint,
    field7 inet,

[2018-12-20 16:15] slivne commented on #4009
@gibsn do you have maybe a c-s profile to populate it or some tool we can use to inject data

[2018-12-20 16:17] slivne commented on #4009
We will attempt to use what you will share to reproduce on 3.0.rc1  - yet since we just released 3.0.rc2 that has many fixes for mc format - can you try and check if it fixes the issue for you

[2018-12-20 16:17] avikivity commented on #4009
Very strange, non-null component after null component, but there is only one clustering key componet.

[2018-12-20 16:21] gibsn commented on #4009
I do have a simple bench script but I guess it won't be useful since we have been using it for testing for about a month and this issue did not show itself.

[2018-12-20 16:22] gibsn commented on #4009
How is it supposed to fix it? Is it going to fix the corrupted data, skip the corrupted row/cell or?

[2018-12-20 16:41] haaawk commented on #4009
As @avikivity said - this is strange because there's only a single field in the clustering key.

@gibsn Would you be able to try running sstabledump on this sstable to see if it complains too?

[2018-12-20 16:45] haaawk commented on #4009
This could be related maybe: https://github.com/scylladb/scylla/commit/91ce3a795719b15ad828fa8638e6a3a7f86c5976

[2018-12-20 16:51] avikivity commented on #4009
Unlikely, it should only trigger if you had 16 or more clustering key components.

[2018-12-20 17:33] gibsn commented on #4009
[code]

[2018-12-20 17:33] #4004 closed

[2018-12-20 18:25] dyasny commented on #3896
This is in 3.0-rc2 in docker:

[code]

Also tried various options of playing with the apostrophes, double chars etc - same result.

[code]

[2018-12-20 19:09] tgrabiec commented on #4009
This error happened during sstable compaction. The compaction will fail and nothing will be changed in the sstables. Next read from that sstable will probably fail in the same way, unless the failure was not due to corruption of the sstable but due to bad process state.

If the bug is in the reader, then after we fix it the data will be recovered. If it was badly written or corrupted then write lo

[2018-12-20 21:34] gibsn commented on #4009
@tgrabiec

Will do

I double-checked and actually the number of "big files" (for the whole time window) is not consistent with the number of shards (28 vs 30)

[2018-12-20 22:24] dorlaor opened #4010 "Restrict TLS to flawless versions"
Older TLS releases have vulnerabilities, let's disable them by default.
Could be that the default is too open:

The configuration code is here: https://github.com/scylladb/scylla/blob/bb85a21a8f748d4f1aa937b1ef596af706208ed1/conf/scylla.yaml

The string to enable TLS1.2 and prevent TLS 1.0 is:
Enabling the 128-bit secure ciphers, while disabling TLS 1.0:
   "SECURE128:-VERS-TLS1.0"

[2018-12-21 00:30] duarten commented on #4008
I can't resolve the backtrace to anything else but this. I used scylla-debuginfo 3.0.rc2-0.20181217.087916d7b.el7; I assume this is the one that matches the scylla-server:

[code]

However, the backtrace can't be right :(

[2018-12-21 02:36] asias commented on #4005
@roydahan Do you think this longevity test is a victim of the nvme irq issue?

[2018-12-21 08:44] tgrabiec commented on #4009
On Thu, Dec 20, 2018 at 10:35 PM Kirill Alekseev <notifications@github.com>
wrote:

If the sstable was successfully compacted, this means you no longer have it
in the data directory, right?

What do you mean by "for the whole time window", do you mean all files in
the data directory, or something else?

[2018-12-21 11:14] tgrabiec commented on #4008
@duarten Were you able to eu-unstrip that debug info file? I was not:

[code]

[2018-12-21 11:17] duarten commented on #4008
I was not, only `/usr/lib/debug/usr/bin/scylla.debug` was usable, but that produces that same stacktrace.

[2018-12-21 13:48] tgrabiec opened #4011 "MC-format promoted index parser doesn't handle CK_SIZE split across buffers correctly"
Scylla version (or git commit hash): 3.0+

When data.size() is smaller than 2 in `(1)` below, we will incorrectly fall-through to the next state instead of returning and reading more data:

[code]

This can manifest in a number of ways, an abort, or incorrect read.

Introduced in 917528c4274c49f6b166078bc401fe4ef8e1d822

[2018-12-21 14:47] gibsn commented on #4009
@tgrabiec

 time window) is not consistent with the number of shards (28 vs 30)

If the sstable was successfully compacted, this means you no longer have it
in the data directory, right?

Right, but compaction did not finish successfully for all shards, only for 28 out of 30.

the data directory, or something else?

We use TWCS, "for the whole time window" means major compaction of all data in the

[2018-12-21 14:49] gibsn commented on #4009
@tgrabiec

Guess it has something to do with the UTF8 validation I mentioned in the beginning

[code]

[2018-12-21 15:32] tgrabiec commented on #4008
gdb gives this (no inlined-by):
[code]

[2018-12-21 15:35] tgrabiec commented on #4009
On Fri, Dec 21, 2018 at 3:47 PM Kirill Alekseev <notifications@github.com>
wrote:

What was the cause of failure this time (log message)?

[2018-12-21 15:41] gibsn commented on #4009
Same, it can not compact some SSTables, sleeps and starts again

[2018-12-21 15:43] tgrabiec commented on #4008
I had more luck with `eu-addr2line`:
[code]

[2018-12-21 15:50] tgrabiec commented on #4009
On Fri, Dec 21, 2018 at 4:41 PM Kirill Alekseev <notifications@github.com>
wrote:

With exactly the same error message ("non-null component ...")?

[2018-12-21 15:53] tgrabiec commented on #4009
On Fri, Dec 21, 2018 at 3:49 PM Kirill Alekseev <notifications@github.com>
wrote:

Yes, though it doesn't explain the compaction failure, since we do no
string validation on compaction.

Can try to run sstabledump with -d option, it will not generate a JSON.

[2018-12-21 17:51] juliayakovlev commented on #4008
@duarten @tgrabiec
I ran the same test but with mc format is disabled.
The test failed with segmentation failure.
Coredump:
[code]

From job log:
[code]
Decoded:
[code]

[2018-12-21 22:16] dorlaor commented on #4011
Tomek, did you use your hawk eyes and brains or also an additional tool
that goes
through the code and automatically suggests interrogation of such
clauses/patterns?

On Fri, Dec 21, 2018 at 5:48 AM Tomasz Grabiec <notifications@github.com>
wrote:

[2018-12-21 22:40] eliaslevy commented on #3994
Large numbers of vnodes affect availability as discussed in this [mailing list thread](http://mail-archives.apache.org/mod_mbox/cassandra-dev/201804.mbox/%3CCALShVHcz5PixXFO_4bZZZNnKcrpph-=5QmCyb0M=w-MhdYL89w@mail.gmail.com%3E) and the [paper](https://github.com/jolynch/python_performance_toolkit/raw/master/notebooks/cassandra_availability/whitepaper/cassandra-availability-virtual.pdf) by Joseph L

[2018-12-22 00:13] #4011 closed

[2018-12-22 13:09] Remember2015 commented on #1083
So is there any solution or possible way  to integrate tantivy / sphix with scylla?

[2018-12-23 09:10] bhalevy commented on #4011
@dorlaor https://groups.google.com/forum/#!searchin/scylladb-dev/continuous_data_consumer$3A$20Randomize$20buffer$20splits$20in$20debug$20mode$20build%7Csort:date/scylladb-dev/KUkAruw6CKw/61D8qGrPCAAJ

[2018-12-23 10:31] ddorian commented on #984
This was fixed (kinda wrong fix since cassandra had already suggesting to not use it) and then was depreciated.

So open again ?

[2018-12-23 11:56] avikivity commented on #3994
The improvement in availability is only for large clusters, and it is large clusters that are most affected by imbalance when there is a low number of vnodes. Large clusters are also more likely to have node removals.

[2018-12-24 04:30] amoskong commented on #4005
The `another older longevity` I mentioned in
https://github.com/scylladb/scylla/issues/4005#issuecomment-448907688 is
`3.0.rc1-0.20181205.3cf26a60a`, nemesis were also very slow.

On Thu, Dec 20, 2018 at 9:10 PM Asias He <notifications@github.com> wrote:

[2018-12-24 04:33] amoskong commented on #4005
Not

On Thu, Dec 20, 2018 at 9:14 PM Asias He <notifications@github.com> wrote:

[2018-12-24 06:37] veramine opened #4012 "Segfault after upgrading from 2.3.1 to 3.0-rc3 (with MV backpressure changes)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):  3.0.rc3-0.20181223.dfb23f4 (branc

[2018-12-24 06:44] penberg commented on #3968
@vladzcloudius Please re-test with 3.0-rc2. Perhaps the RPM repository was not switched in time for -rc1:

https://github.com/scylladb/scylla/commit/f94b46e7e0373988c7a3bca070c68dc717e57cae

[2018-12-24 06:59] asias opened #4013 "Failure in changes_while_node_down_test"
[code]

[2018-12-24 07:03] asias commented on #4013
[PATCH scylla] storage_service: Stop cql server before gossip

[2018-12-24 07:26] veramine opened #4014 "Confusing 3.0 error message: Skipping undefined keyspace: view_pending_updates"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):  3.0.rc3-0.20181223.dfb23f4

I was

[2018-12-24 07:51] slivne commented on #4012
@nyh is this #4008 ?

[2018-12-24 07:59] slivne commented on #4013
Its not a regression ... it should go into 3.1 only

[2018-12-24 08:00] amnonh commented on #696
@tzach let's close this, see the comments above

[2018-12-24 08:03] nyh commented on #4008
Possibly fixed by commit 6c4a34f37883fc22b90e9739122c1c48df92706e
[code]

[2018-12-24 08:05] nyh commented on #4012
@slivne yes I think this is a duplicate of #4008 and solved by commit 6c4a34f37883fc22b90e9739122c1c48df92706e (also backported to branch-3.0).

[2018-12-24 08:06] slivne commented on #4008
closing the issue - we can reopen if the issue happens over the version with the fix

[2018-12-24 08:06] #4008 closed

[2018-12-24 08:07] slivne commented on #4012
@veramine closing the issue - if it reproduces over the version with the fix we will reopen.

[2018-12-24 08:07] #4012 closed

[2018-12-24 08:08] veramine commented on #4012
Okay thanks for the quick reply!  We will build with that fix and test.  Thanks.

[2018-12-24 08:10] slivne commented on #3844
@avikivity / @gleb-cloudius - so how do we progress with this, we did not run ```nodetool cleanup``` yet it apperas that is not the issue at hand at least 7:00 - 7:06 - compaction bandwidth seems to be 0 while query  i/o bandwidth on one of the nodes is high

[2018-12-24 08:11] dorlaor commented on #1083
We haven't look at it yet, you're welcome to give it a try

On Sat, Dec 22, 2018 at 5:10 AM 子龙 <notifications@github.com> wrote:

[2018-12-24 08:12] slivne commented on #3816
@roydahan updated ping - do we have an update - we ran longevity without m/v and with the fixes for streaming.

[2018-12-24 08:15] gleb-cloudius commented on #3844
On Mon, Dec 24, 2018 at 12:11:01AM -0800, Shlomi Livne wrote:

Such low compaction bandwidth is a problem in itself. There are
compactions running on the node, so they are either cpu limited
or their IO is starved.

--
			Gleb.

[2018-12-24 11:01] gleb-cloudius commented on #3844
@slivne figured out how to get number of files and we can see that indeed problematic node has much more files:

![files-0](https://user-images.githubusercontent.com/6554938/50397821-a0b37c80-077b-11e9-9226-2dda2281565e.png)

Here is the same graph from the start of the test:

![files-start-0](https://user-images.githubusercontent.com/6554938/50397854-da848300-077b-11e9-9704-a8d3c4ffe7a7.png)

[2018-12-24 11:13] gleb-cloudius commented on #3844
For some reason compaction shares very low throughout the run on all shards:

![cshares-0](https://user-images.githubusercontent.com/6554938/50398105-ae6a0180-077d-11e9-9910-a4cb77c0e17b.png)

[2018-12-24 12:10] gibsn commented on #4009
[code]

[2018-12-24 12:36] nyh commented on #4014
@slivne I sent a patch for this. Please add the backport-to-3.0 label on this so we'll also backport it to 3.0. As usual, I don't have the permissions :-(

[2018-12-24 12:43] juliayakovlev opened #4015 "Insert using JSON: not clear message when primary key omitted from the column list and omitted from the JSON data"
Scylla branch: master
JSON test run from 23.12.2018 failed.

Scenario:
1. Create table like:
     CREATE TABLE primitive_type_test (key1 text PRIMARY KEY, col1 ascii)
2. Run insert:
     INSERT INTO primitive_type_test JSON '{"col1": "bar"}

Expected error message:
     "InvalidRequest: Error from server: code=2200 [Invalid query] message="Missing mandatory PRIMARY KEY part key1""

Received messag

[2018-12-24 15:21] roydahan commented on #3816
From recent longevity of 400GB dataset with 4 DB nodes, I suspect the issue still exist.
Although, it doesn't look like only one Shard is left behind to do streaming, the repair takes ~12 hours (2 out of 2 repairs on this test).

This is with build where the IRQs should be balanced (3.0.rc2-0.20181221.04e982f90).

![screen shot 2018-12-24 at 17 12 42](https://user-images.githubusercontent.com/2095

[2018-12-24 16:15] espindola opened #4016 "remove trust_promoted_index::no"
Avi says:

We should work to remove trust_promoted_index::no ... Perhaps when populating tables on bootstrap we can see if they have nontrustworthy promoted indexes and mark them for rewrite.

It will take a while until we can be reasonably sure no bad sstables exist, but it's better than carrying these workarounds forever.

[2018-12-25 01:54] asias opened #4017 "nodetool info took long time to complete"
From line 21 and line 26, we can see nodetool info took 28 seconds to complete.
The test expected uptime from the second run of nodetool info is within [99(uptime from first nodetool info) + 10, 99 + 20]. It was 138, so the test failed.

first run of nodetool info
uptime1 = 99
sleep 10
second run of nodetool info  (took 28 seconds to complete)
uptime2 = 138

Line 21 and Line 26:
[code]

Full dtest

[2018-12-25 06:16] asias commented on #3816
@roydahan Can you share the Grafana Dashboard and the Scylla logs? On which node did you run repair? Repair checksum reads will be counted as streaming read in the metrics. So the period from 10:00 to 22:00 looks like the nodes were doing repair checksum and had no streaming on wire.

[2018-12-25 06:44] gnumoreno commented on #3968
@penberg tested with rc2 and the error is gone. Please close the issue.

[2018-12-25 07:20] juliayakovlev opened #4018 "Coredumps during stress test with materialized views and backpressure feature"
*Installation details*
Scylla version (or git commit hash): 3.0.rc3-0.20181224.5558fa8c4
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-09377adf265208e72

The test was run with fix for #4008 MV backpressure feature.
Test scenario:

- one keyspace has 1 base table and 2 materialized views
- run insert 25M rows from 4 loaders, 200 threads on each loader
- run with mc sstable format enabl

[2018-12-25 08:22] nyh opened #4019 "Three dtests failing after MV backpressure series"
On branch-3.0, we are seeing three dtests failing:
[code]
The failures do not happen every time, but happen quite often.
All tests stop a cluster of nodes while it is building a view for existing data. This stopping is done gently, i.e., a signal is sent to the process and if it fails to stop within two minutes, the test is marked failed.

As it turns out, the shutdown process hangs in `view_build

[2018-12-25 08:41] slivne commented on #4018
we may have 2 separate cases here ...

some from
[code]

and

[code]

its does not seem related to mv/si

[2018-12-25 08:43] veramine opened #4020 "Many 2000ms reactor stalls in 3.0 working with large rows/partitions"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):  3.0.rc3-0.20181224.5558fa8
Cluste

[2018-12-25 08:58] avikivity commented on #4020
@elcallio this is at commitlog's `read_entry()` funciton. Are we reading super-large entries? Under what conditions can this happen?

[2018-12-25 09:12] asias commented on #3816
@roydahan What is the time to repair considered normal with the same config "400GB dataset with 4 DB nodes" within the runs in the past?

[2018-12-25 09:53] slivne commented on #4020
I tried to check the metrics for view hints and there are things that seem odd ...
![veramine_view_hints](https://user-images.githubusercontent.com/3465480/50419804-71644480-083b-11e9-8747-c96f8a40d200.png)

metrics used is this
[code]

it seems that we are on specific node (green one) keep on sending? while we are not accumulating additional writes - does this make any sense ?

[2018-12-25 09:55] nyh commented on #4019
What happens is that all through a single "build step" the semaphore is taken, so the code assumes it will be able to abort an ongoing build step immediately (more or less) via the abort_source. But this is not happening: on one of the shards, a build step hangs and doesn't respond to the abort source.

The logs confirm that this shard is sending updates to a node which has gone down (in this test

[2018-12-25 09:55] asias commented on #3816
We do not have streaming during the time 10:00 to 20:00.

![image](https://user-images.githubusercontent.com/320076/50419809-c751e000-086d-11e9-8045-e0eea909b7b5.png)

Compaction steal most of the disk IO:
[code]
Compaction has dynamic io queue shares. While Query and Repair read has const 1K and 200 shares.

![image](https://user-images.githubusercontent.com/320076/50419893-49420900-086e-11e9-9b0

[2018-12-25 10:32] gleb-cloudius commented on #4019
On Tue, Dec 25, 2018 at 02:29:36AM -0800, nyh wrote:

I explained it in details on the patch that changed timeout to 30m (and
before that too) that thinks do not work this way, but all I was able to
achieve is changing timeout back to 5m.

--
			Gleb.

[2018-12-25 12:01] gleb-cloudius commented on #4019
On Tue, Dec 25, 2018 at 03:26:02AM -0800, nyh wrote:

RPC does not get notifications from gossiper. They are on entirely
different level. Storage proxy may subscribe to DOWN event an than
iterate over all handler that involve DOWN destination and notify them
they will probably not get a reply, but first we lack that code, second,
a node may restart faster then we seeing DOWN event, there is RESTAR

[2018-12-25 12:48] nyh commented on #4019
@gleb-cloudius If I understand correctly now, a CL=ANY write (like we do for view writes) may in fact wait the full timeout when the remote node is down instead of immediately writing a hint. Whether it does wait the full timeout or not depends on the circumstances: A write that starts after we know the other node is down, will not wait at all (just write a hint) but if the node goes down in the m

[2018-12-25 13:15] ddorian commented on #984
It's the bigtable/hbase usecases.
Unbounded partitions (+ efficient scans on them and better compression compared to scattering the rows)

Better range scans on unbounded partitions. Better range-scans on secondary-indexes/materialized-views.
etc

[2018-12-25 13:42] roydahan opened #4021 "Segmentation fault with coredump during longevity 1TB"
*Installation details*
Scylla version (or git commit hash): 3.0.rc3-0.20181224.5558fa8c4
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

During longevity 1TB (with MV load) there is the following segault:

[code]
(maybe related to issue #4018)

[2018-12-25 13:45] roydahan commented on #4021
You can download it by https://storage.cloud.google.com/upload.scylladb.com/core.scylla.996.696beff6fdca42f783321b21e63ad946.7154.1545707145000000/core.scylla.996.696beff6fdca42f783321b21e63ad946.7154.1545707145000000.gz (available for ScyllaDB employe
To decompress you may use: 'pigz --fast core.scylla.996.696beff6fdca42f783321b21e63ad946.7154.1545707145000000.gz'

[code]

[2018-12-25 13:55] slivne commented on #4021
@roydahan can you provide some logs around the crash for this specific node (did it complete boot being added / rebuilding) - did it complete streaming of base tables for some operation ?

[2018-12-25 14:01] avikivity commented on #984
Better in what way?

We have plans to make range scans token aware by sending each page query to a coordinator that is also a replica. So maybe that suffices.

[2018-12-25 14:36] roydahan commented on #4021
Seems like it happened right after node complete bootstrapping.
Here is the log around the segfault (filtered out compactions):

[code]

[2018-12-25 14:41] slivne commented on #4021
@roydahan we have this "Dec 25 03:04:52 ip-172-16-99-64.ec2.internal scylla[7154]:  [shard 0] database - Replace address on first boot requested; this node is already bootstrapped" - is this node booting as replace node ? if so are we clearing all sstables before booting as replace - or leaving files in place ?

[2018-12-25 14:47] roydahan commented on #4021
previous nemesis set this flag and it was already replacing another node (or itself in case of restart_nemesis), so it just noticed this flag here.

[2018-12-25 16:41] bhalevy opened #4022 "Compaction should recalculate encoding stats"
Currently (since 15ef4ca73ca1b09a17f4661161c48343e736c36a) compaction just uses the default encoding_stats for writing the resulting sstable. It can do better by, e.g.:
1. Merge all input sstables encoding stats by taking the minimum values across the sstables.
2. Run an initial read-only phase to calculate the effective minimum values before constructing the writer.

[2018-12-25 16:58] bhalevy opened #4023 "Encoding stats minimum values should default to zero"
Cassandra picked an arbitrary date (2015-09-22 00:00:00 UTC) for the default
encoding stats (see [CASSANDRA-9828](https://issues.apache.org/jira/browse/CASSANDRA-9828)) for optimizing delta encoding by increasing the baseline value for unix timestamps.  We currently use these arbitrary epoch values as the default minimum encoding stats values in compaction.

This works ok while gc_clock::rep is in

[2018-12-25 17:17] avikivity commented on #4022
I don't understand phase 2.

[2018-12-25 17:34] bhalevy commented on #4022
Compaction may remove old mutations (especially with TWCS) so the minimum deletion time in the compacted sstable may be larger than the minima of the input sstables.  We must determine that before writing the sstable statistics (and data) file but if I understand correctly compaction runs a single pass to consume the input data and write the output.  If we want to determine the new minimum values

[2018-12-25 17:37] avikivity commented on #4022
Doubling the cost of compaction to make the timestamp baseline more accurate is terrible in terms of cost/benefit. The gain is almost nil, and you are making the most expensive process in the system twice as expensive.

Note that we can have accurate statistics, just not an accurate baseline for the timestamps.

[2018-12-25 18:05] veramine commented on #4020
We have some large partitions in this test.  We also add to sets or maps that previously might have had a lot of entries.  Also, this stress test does not distribute well across all partitions so one node or one shard might be getting more load than the others.  I saw at one point from the node exporter stats that one node was trying to read from disk sustained 1GB/s - that doesn't seem good.  I w

[2018-12-25 19:31] bhalevy commented on #4022
Agreed. I just gave it as an example. What I had in mind was the smaller sstable run fragments that may fit in memory but even then 2 passes may prove to be too costly.

[2018-12-25 20:18] KamalKang opened #4024 "scylla_io_setup returning huge read IOPs"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubunt

[2018-12-25 21:43] duarten commented on #3826
We don't need this for #4019, we need #3966.

[2018-12-25 22:36] nyh commented on #3826
@duarten, I'm not sure what concrete proposal #3966 is making. According to @gleb-cloudius (if I understood what he said correctly...) the write that a view build is hung on in #4019 (a write which started when we didn't know the node went down) will never stop until the timeout. So we need a way to tell a write that has already started that it needs to give up the network send immediately. This i

[2018-12-25 22:57] duarten commented on #3826
#3966 is about completing a shutdown in a timely fashion, regardless of nodes being down or just being slow.

We can detect that there is a shutdown in progress without enlisting the gossiper. All we need to do in the `storage_proxy` is to complete any outstanding writes with an exception, which for the case of view writes (but not only), will result in a hint being stored.

For this, it doesn't m

[2018-12-26 07:08] bhalevy commented on #4023
@slivne because of the future compatibility issue I mentioned above this should be fixed in 3.0.

[2018-12-26 07:32] asias commented on #3816
In the last 3 hours before the repair completes, there are multiple shards finishes the checksum reading at different times. More shards finish around 22:00. It is not the case that only some "bad" shards left behind.

![image](https://user-images.githubusercontent.com/320076/50436536-6d125700-0921-11e9-907a-8a0d0054b937.png)

@avikivity Compaction got 80MB/s of disk bandwidth while repair checksu

[2018-12-26 07:36] avikivity commented on #4022
Interesting, I didn't consider fragments. But yes the end result is still expensive in terrms if CPU consumed, and even with smallish fragments it will require huge amounts of memory.

[2018-12-26 07:40] bhalevy commented on #4022
So let's start with the first option then, and if particular compaction strategies can do better and analytically determine better lower bounds on the to-be-encoded ttl/deletion_time/timestamp they may use these instead.

[2018-12-26 10:18] avikivity commented on #3816
@asias can you isolate the bad shard? there's too much noise in the graphs.

We need a perf report on the bad shard to understand what it is doing.

Also, let's verify that we don't lose the io_priotity_class for repair.

[2018-12-26 10:51] avikivity commented on #3844
@gleb-cloudius shares are low because the controller thinks the backlog is low (usually because total space occupied by sstables is low)

[2018-12-26 10:52] avikivity commented on #3844
So do we have a large number of very small sstables? What's the distribution?

[2018-12-26 10:54] gleb-cloudius commented on #3844
On Wed, Dec 26, 2018 at 02:51:39AM -0800, Avi Kivity wrote:

Yes, that was my and @slivne conclusion too, but graph of number of
files shows that there are a lot of file there, presumably sstables.
Is it possible sstables that were added as a result of streaming throw
backlog controller off?

--
			Gleb.

[2018-12-26 10:55] gleb-cloudius commented on #3844
On Wed, Dec 26, 2018 at 02:52:11AM -0800, Avi Kivity wrote:

Distribution of what?

--
			Gleb.

[2018-12-26 10:57] gleb-cloudius commented on #3844
On Wed, Dec 26, 2018 at 12:55:17PM +0200, Gleb Natapov wrote:

Here is loader line:

cassandra-stress write cl=QUORUM duration=1440m -schema keyspace=keyspace$2 'replication(factor=3)' -port jmx=6868 -col 'size=FIXED(2) n=FIXED(1)' -mode cql3 native -rate threads=500 -pop seq=1..10000000 -node 172.16.1.158

--
			Gleb.

[2018-12-26 11:08] avikivity commented on #3844
sstable sizes (per shard)

[2018-12-26 11:12] gleb-cloudius commented on #3844
On Wed, Dec 26, 2018 at 03:08:10AM -0800, Avi Kivity wrote:

All we have at this stage is Prometheus data. Can we get it from there?

--
			Gleb.

[2018-12-26 11:14] avikivity commented on #3844
I don't think so. If full logs are available, we can reconstruct it from the compaction logs with some awk.

[2018-12-26 11:16] gleb-cloudius commented on #3844
@roydahan do we have logs from the run?

[2018-12-26 11:53] asias commented on #3816
By "lose the io_priotity_class for repair", do you mean use do not use the streaming io priority to read the data from disk? We can't, because the checksum code uses the table::make_streaming_reader() which uses service::get_local_streaming_read_priority to get the priority. And, if it does not use the streaming io priority, we won't  see data in the io streaming io query metric at all.

I sent yo

[2018-12-26 12:47] duarten commented on #4021
Where are the scylla binaries?

[2018-12-26 13:55] duarten commented on #4021
(found it)

[2018-12-26 13:59] duarten commented on #4020
@slivne Those metrics seem off, since they are decreasing below zero.

@avi The issue is probably that we are writing big view updates as hints, because some view replica is unavailable, which we then have read in order to send.

[2018-12-26 14:06] slivne commented on #4020
they are decreasing because I am decreasing one from the other -

how many hints written - hints sent

[2018-12-26 14:31] avikivity commented on #4020
@duarten big updates, or many updates?

If the former, how big?

If the later, why are we allocating them in huge contiguous buffers?

Note that 4469f76e7c95041702de6a22f4260dcec03225 is in 3.0rc1, but maybe it doesn't extend to replay. @pdziepak ?

[2018-12-26 14:32] duarten commented on #4020
@avikivity big updates, I think. @veramine mentioned some collections with many elements.

[2018-12-26 14:36] avikivity commented on #4020
@veramine how big? do you have oversize allocation warnings?

[2018-12-26 14:52] gibsn commented on #4009
Got a new error today on single node single shard:
{code}
beccasc4/scylla.log-2018.12.26-02:2018-12-26T01:54:11.469716+03:00 beccasc4 scylla: [shard 27] compaction_manager - compaction failed: sstables::malformed_sstable_exception (Too big ttl: 1410261982 in sstable /storage/scylla/becca/events-7c8165f0fdf511e881a5000000000006/mc-33177-big-Data.db)
{code}

[2018-12-26 15:00] avikivity commented on #4009
@gibsn

Does that mean you tested mc format with rc1 or earlier? What's the earliest git hash that you tested with?

It's possible those older versions generated bad sstables.

[2018-12-26 15:24] yarongilor opened #4025 "Scylla crashed with "/builddir/build/BUILD/scylla-3.0.rc3/seastar/core/iostream.hh:299: seastar::output_stream<CharType>::~output_stream() [with CharType = char]: Assertion `!_in_batch' failed.""
*Installation details*
Scylla version (or git commit hash): 3.0.rc3-0.20181224.5558fa8c4
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

Scylla crashed with coredump during longevity test with the following error and backtrace:
[code]

Decoded Backtrace:
[code]

[2018-12-26 15:30] avikivity commented on #4009
@gibsn I see. If you can please clear the data and try with rc3.

[2018-12-26 15:30] avikivity commented on #4009
make sure to shut down the cluster completely before deleting the sstables.

[2018-12-26 15:32] gibsn commented on #4009
truncating won't help? should we `rm -rf` all data and start with a new cluster?

[2018-12-26 15:35] avikivity commented on #4009
Well, truncating should work but let's be extra careful.

Either would work:

1. shutdown + rm -rf /var/lib/scylla/data/your_keyspaces /var/lib/scylla/commitlog + start
2. new cluster with wiped data partititions

The former saves you from having to recreate the schema.

[2018-12-26 15:37] bhalevy opened #4026 "sstables: update_local_deletion_time for row marker deletion_time and expiration"
For some reason sstable::maybe_write_row_marker doesn't update min_local_deletion_time in column stats, only tombstone_histogram for dead row marker; and neither for expiring row marker.
This may affect mc format delta encoding that needs to track accurate min_local_deletion_time.

[2018-12-26 15:44] slivne commented on #4009
On Wed, Dec 26, 2018 at 5:36 PM Avi Kivity <notifications@github.com> wrote:

so please also erase  the hints /var/lib/scylla/hints

[2018-12-26 15:46] gibsn commented on #4009
@avikivity @slivne

We will update to rc3 tomorrow, see what changes. Then [most probably] we will erase all data and start with a new cluster

[2018-12-26 15:53] duarten commented on #4021
In gdb I get:

[code]

It can only be that `staging_sstable_reader` is bad, or `entry` is bad. `staging_sstable_reader` appears to be valid, but `entry` has been optimized out.

I'll try to figure out what happened from reading the code.

Was there any resharding or anything, btw?

[2018-12-26 16:12] bhalevy commented on #4026
Edit: currently this does not affect mc format encoding since these stats reach stats_metadata and not serialization_header.

[2018-12-26 16:21] yarongilor opened #4027 "Segmentation fault with coredump during longevity 200GB"
got the following segfault and backtrace in longevity 200GB -
[code]
[code]
fault happened at 2018-12-26 02:30:11,222.

*Installation details*
Scylla version (or git commit hash): 3.0.rc3-0.20181224.5558fa8c4
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

can be downloaded in:
[code]

[2018-12-26 16:48] nyh opened #4028 "View build hangs for 5 minutes when one of the nodes is removed"
After commit e33e1870963b45db3dab37e81fdce47df43a2e55, as we already noted in #4019, a view build may hang for 5 minutes (the timeout set in `storage_proxy::send_to_endpoint()`) when one of the other nodes is taken down.

This behavior is arguably (?) reasonable if the remote node is down temporarily: In that case it may make sense to pause building the view for 5 minutes, instead of spending 5 mi

[2018-12-26 17:04] gleb-cloudius commented on #4027
This trace does not look correct. Do you have a core for it?

--
			Gleb.

[2018-12-26 17:21] roydahan commented on #4021
It shouldn't have any resharding (at least not intentionally by the test).

[2018-12-26 17:33] roydahan commented on #3816
Do you mean "perf record" on this shard?
If so, It won't be easy or something I can do quickly, it's part of a longevity that already ended.

[2018-12-26 17:54] duarten commented on #4028
Doesn't this duplicate #3826?

[2018-12-26 18:12] espindola opened #4029 "Check for schema mismatches earlier"
Currently we check for schema mismatches in column_translation::state::build. Since all we need is the serialization metadata and the schema, we could do this check when opening the sstable instead.

[2018-12-26 18:12] nyh commented on #4028
Duarte, #3826 is very vague. As I said above, #3826 will indeed solve this. But this issue is about a very specific test which is failing, secondary_indexes_test.TestSecondaryIndexes.test_remove_node_during_index_build
Maybe I should change the title...

[2018-12-26 19:53] duarten commented on #4021
Looking at the contents of `_sstables_with_tables`, everything looks valid, no `nullptr`s or anything.

[2018-12-26 20:13] duarten commented on #4021
Oh, seems like `table::_schema` is bad:

[code]

[2018-12-26 20:35] duarten commented on #4021
Another question: was there any schema drop?

Are there full logs someplace?

[2018-12-26 21:18] veramine commented on #4020
@avikivity yes, here on one of the nodes:

[code]

I tried decoding the stack trace reported there but I am not sure I did it right:

[code]

[2018-12-27 01:02] argenet commented on #4023
Beware that Cassandra's default values are used to delta-encode values that are stored in the SerializationHeader in Statistics.db, so changing those values will break reading Cassandra-written files because base values will be incorrectly complemented when reading metadata stats from Statistics.db.

In fact, delta-encoding is applied twice on writing:
1) Values in Data.db file are delta-encoded a

[2018-12-27 01:04] argenet commented on #4022
I believe just addressing #3971 should be enough and will put Scylla in line with Cassandra for compactions.

There is no goal to have the exact minimal values across mutations actually stored in the data file so if the mutation that has the smallest value is dropped during compaction it is still fine to use, the delta-encoded values may take a bit more disk space but it is so small a per cent it

[2018-12-27 01:08] argenet commented on #4026
`sstable::maybe_write_row_marker` is only used for writing `ka`/`la` files, `mc` files don't use it.
For `mc` files, `writer::write_liveness_info` is used (from sstables/mc/writer.cc) and it updates timestamp/ttl/local_deletion_info values as follows, same as Cassandra (src/java/org/apache/cassandra/io/sstable/metadata/MetadataCollector.java, `void update(LivenessInfo newInfo)`)

[2018-12-27 02:02] asias commented on #3816
Yes, "perf record". I thought you still have this longevity cluster around.

[2018-12-27 06:19] #3968 closed

[2018-12-27 06:20] penberg commented on #3968
Thanks @gnumoreno and @vladzcloudius!

[2018-12-27 06:51] bhalevy commented on #4023
@argenet

Yeah, I noticed that :-/  It's a pity.

I came to the same unfortunate conclusion last night. Cassandra's defaults for delta-encoding the serialization header are hard coded rather than stored in the SSTable, so it's not self describing as it should.

[2018-12-27 06:56] bhalevy commented on #4022
FWIW, that might be true if most values are close to the minimum.  If their dynamic range is large and the table consists many timestamp'ed cells that don't use the row's time stamp or tombstones, the savings might be more significant...

[2018-12-27 07:35] bhalevy commented on #4023
I'm actually testing a close approach right now of keeping the serialization header's min_local_deletion_time as vint<uint64_t> so that if it needs to wrap around Cassandra's epoch it would do that in a future compatible way - when gc_clock will be upgraded to 64 bits.  Then in the new world we will store also every other local_deletion_time as vint<uint64_t>

[2018-12-27 07:36] avikivity commented on #4023
That doesn't work, because if Cassandra encodes a baseline that is before its epoch it will encode it as 32-bit positive number, which we will interpret as way in the future.

[2018-12-27 07:37] avikivity commented on #4023
The idea is to use one of the delta encodings to make sure we never have a negative number in the other, and then the other can be 64-bit. It was really silly to use delta encoding in the serialization header, it happens once per file.

[2018-12-27 07:47] bhalevy commented on #4023
I strongly agree.

I'm not sure we'll see that in the field, but we do see that in testing.  If we care to support importing of C* files with these earlier-than-epoch baselines then we should keep it as 32 bits as you said.  But doing that will also expose us to the 32 bit wraparound in the data file (scylladb/scylla-enterprise#664).

Either way we can be screwed...

Keeping the serialization head

[2018-12-27 08:14] avikivity commented on #4023
Yes

No. Currently, we decode as

    local_deletion_time = cassandara_epoch + decode_32(serialization header delta) + decode_32(cell delta)

I propose to change it to

    local_deletion_time = uint32_t(cassandara_epoch + decode_32(serialization header delta)) + decode_64(cell delta)

if cell_delta is never negative, this is compatible in both directions.

The format will change by then.

That wo

[2018-12-27 08:18] bhalevy commented on #4023
Wouldn't encoding cell delta values larger than max int32 have the same problem?

[2018-12-27 08:19] avikivity commented on #4023
Cassandra doesn't support it anyway. We only need to keep compatibility for deletion times that can be expressed in Cassandra.

[2018-12-27 08:37] gleb-cloudius commented on #4025
On Wed, Dec 26, 2018 at 07:30:08AM -0800, yarongilor wrote:

Do you have logs from 172.16.99.10 for DEC 25?

--
			Gleb.

[2018-12-27 09:13] bhalevy commented on #4026
@argenet, looking at mc writer::write_liveness_info and writer::write_collection I see that we don't update the tombstone_histogram (when the cell is dead or expiring and when the collection has_complex_deletion).  What's the reason for that?

[2018-12-27 09:49] gleb-cloudius commented on #4025
On Thu, Dec 27, 2018 at 10:37:07AM +0200, Gleb Natapov wrote:

No need, the core is from dec 26.

--
			Gleb.

[2018-12-27 10:30] roydahan commented on #4021
Yes, we have full logs.
Do you want from all hosts (very big) or just from this host?

[2018-12-27 10:38] duarten commented on #4021
Just from this host, please.

[2018-12-27 11:08] gibsn commented on #4009
We have updated to rc3, but nothing changed. We have erased all data and started with a new cluster

[2018-12-27 11:35] yarongilor commented on #4027
please find available cores temporarily on node host:
[code]
segfault log is:
[code]

[2018-12-27 14:39] duarten commented on #4021
That's not good :(

Do you know if during the test there were schema changes, namely drops?

[2018-12-27 14:54] penberg commented on #2200
I tested @tzach's CQL query and it works with 3.0-rc3. @psarna, can you point us to the commit that implements the functionality so that we close this issue?

[2018-12-27 14:55] penberg commented on #3231
I tested @mbiamont's CQL query and it works with 3.0-rc3. @psarna can you please point us to the git commit that implements the functionality so that we can close the issue?

/cc @tzach

[2018-12-27 15:43] duarten commented on #4021
I can access some data through `_sstables_with_tables._M_impl._M_start._M_node`, but not through `_sstables_with_tables._M_impl._M_start._M_cur`, which, from reading the code, is what is actually used. I have no idea how that could have become corrupted, and I'm not sure it did.

Looking at `_sstables_with_tables._M_impl._M_start._M_node`, a `lw_shared_ptr<table>`, I see:

[code]

It's strange tha

[2018-12-27 16:02] #4025 closed

[2018-12-27 16:19] tgrabiec opened #4030 "Use-after-free on memtable::_cleaner when partition snapshot is destroyed in the background after memtable flush"
Scylla version: f3da043230c7719f5412724e6d25ba1807e5c07a (>= 3.0-rc1)

May manifest as a crash in the following place:
[code]

Split from #4018

[2018-12-27 18:00] roydahan commented on #4021
We have some schema changes but no drop changes.
Also, we change other tables, not the base for MV.

[2018-12-27 18:15] argenet commented on #4026
@bhalevy indeed, looks like that's a missing piece. I'm a bit surprised with that because we have a test in sstable_3_x_test that specifically covers a collection-wide update that generates complex deletion so Statistics.db validation should probably have caught this but it hasn't.

But looking at what Cassandra code does, we clearly need to update the tombstone histogram for the `liveness_info` a

[2018-12-27 19:31] duarten commented on #4021
I also don't understand how the same shared pointer can be both in `database::_column_families` and in `view_update_from_staging_generator::_sstables_with_tables` with a count of just 1. And it's the same object:

[code]

[2018-12-27 19:33] duarten commented on #4021
Ok, `view_update_from_staging_generator::_sstables_with_tables` is bonkers:

[code]

[2018-12-27 19:49] duarten commented on #4021
This is also relevant:

[code]

We placed an sstable for a table with no views (@roydahan can you confirm keyspace_LZ4.standard1 doesn't have any views?) in the staging directory, and then we failed to move it.

[2018-12-27 20:03] roydahan commented on #4021
Correct, it doesn’t have any view.

[2018-12-28 10:18] amoskong opened #4031 "Segfault in verifying data after rolling upgrade."
*Installation details*
Scylla version (or git commit hash): 3.0.rc3-0.20181224.5558fa8c4
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

* The segfault occurred after rolling upgrade (all ndoes were upgraded from 2.3.1-0.20181021.336c77166 to 3.0.rc3
* sst3 is enabled
* db log after segfault: `scylla-server.service holdoff time over, scheduling restart.`
* query around the problem occurre

[2018-12-28 10:22] amoskong commented on #4031
living monitor:
http://35.243.229.117:3000/dashboard/db/scylla-per-server-metrics-nemesis-2-3?orgId=1&from=1545904796983&to=1545909531121

[2018-12-28 10:42] duarten opened #4032 "Race between streaming and view creation"
During streaming, we check whether we need to generate view updates for a particular session: if a base table has views, we generate updates if we're streaming due to repair or if any of its views are still being built.

In both cases, there's a race between creating a new view, and a stream session happening on one of the base tables. We accumulate base mutations in an sstable that we then make v

[2018-12-28 11:35] #4030 closed

[2018-12-28 15:07] tgrabiec commented on #4021
On Wed, Dec 26, 2018 at 9:13 PM Duarte Nunes <notifications@github.com>
wrote:

_M_finish is end(), so _M_finish._M_cur should not be dereferenced.

[2018-12-28 15:50] duarten commented on #4021
Yeah, shouldn't have pasted that. But the issue happens with `_M_start` too:

[code]

`_M_start._M_node` is good though:

[code]

[2018-12-28 18:35] tgrabiec commented on #4009
By "nothing changed", you mean that you're still getting those `malformed_sstable_exception`?

How long does it take to reproduce?

Once you get them, do you get them each time you do `nodetool cleanup` on that table, for the same sstable?

Does it reproduce with `enable_sstables_mc_format` disabled?

What kind of insert/update statements are executed on that table?

[2018-12-28 19:17] veramine commented on #4020
With a new partition scheme, we were able to resolve the oversized allocations, the 1gb+ partitions, and the stalls.  Unless any stack traces in that backtrace.txt attachment are super interesting, you can probably close this.  And we will keep an eye out for too large partitions and allocation warnings.

[2018-12-28 23:31] argenet commented on #4026
In Cassandra, all stats collection for `local_deltion_time` is done by an `updateLocalDeletionTime()` helper that both adds it to a min value tracker and, if not a special `NO_DELETION` value, adds it to the tombstone histogram.
It looks reasonable to introduce a similar helper in our code too.

[2018-12-29 09:08] avikivity commented on #2811
@amnonh I think we need to add jmx support, no?

[2018-12-29 09:26] bhalevy opened #4033 "tombstone histogram not updated in mc writer::write_liveness_info and writer::write_collection"
Seen while code inspecting for #4026

[2018-12-29 13:14] gibsn commented on #4009
Yes

What do you mean by reproduce? We had been getting those errors in the live cluster constantly on the same SSTables. I am not sure how to reproduce malformed SSTables.

Does it reproduce with enable_sstables_mc_format disabled?

Can't say, we erased all the data. Now it's been a couple of days with rc3 and no compaction errors so far.

Just inserts with no TTL or timestamp

[2018-12-29 13:18] tzach commented on #2811
reopen since there is no nodetool command in place.

[2018-12-29 17:36] #4021 closed

[2018-12-30 07:38] slivne opened #4034 "View updates are not generated by row level repair"
As repair can "fix" base tables - there is need to generate view updates on repair.

In c96fc1d585e092e2fb56aae5d6f7aded2e01e8fe row level repair was introduced which does not use streaming_session.

As such currently row level repair that "fixes" base tables does not lead to view update generation.

[2018-12-30 11:37] slivne commented on #4020
thanks @veramine for the update

@duarten any luck looking at the hints for view update

[2018-12-30 11:40] slivne commented on #3896
lets start with verifying cassandra

[2018-12-30 11:42] avikivity commented on #4020
@duarten those 4MB updates shouldn'd cause 2000 ms stalls. So something else (probably commitlog_replayer, just because it's so new) is doing something wrong. Maybe it has the regular "we limit concurrency but not memory" bug.

[2018-12-30 11:42] slivne commented on #4014
@tzach lets release note this for 3.0.0

[2018-12-30 11:44] slivne commented on #4019
@nyh for 3.0 did we fix the dtests ? - we agreed to not change the 5 minute default that causes the tests to fail AFAIK.

[2018-12-30 11:45] duarten commented on #4020
@AviKivity I have a patch series to make reading commit log entries use fragmented buffers, which I'll send today. The traces point to hint replaying.

[2018-12-30 11:46] duarten commented on #4020
@shlomi You mean why we send more hints than we write? I forgot to check, but there's no difference in behaviour between normal hints and view hints.

[2018-12-30 12:11] avikivity commented on #4020
Looking at commitlog code, if anything it has too little concurrency - everything is serialized. This is usually okay since read-ahead and memtables can generate their own concurrency. It's only bad if we're resharding since nothing will hide the cross-shard latency.

[2018-12-30 13:00] nyh commented on #4019
@slivne Indeed with much regret on my part, we agreed to "fix" the dtests, not the code.
My patches for the dtest were already committed: https://github.com/scylladb/scylla-dtest/pull/780
So I'll close this issue.

[2018-12-30 13:00] #4019 closed

[2018-12-30 14:25] bhalevy opened #4035 "Memtable encoding stats of live collection tombstones are not updated properly"
When a row has complex deletion time, some collection columns may have deletion tombstones and some may not. That said, the latter also need to be written if the the row flags contain has_complex_deletion so we need to account for their values as well.

Currently the memtable code does not update encoding stats at all for "live" tombstones.

[2018-12-30 14:57] nyh commented on #4014
Update on the status of this issue:
I already sent a patch fixing this issue by avoiding treating a data subdirectory by the name `view_pending_updates` as a keyspace.
However, @avikivity didn't like this direction - he thought the underlying problem is more serious than just spurious warning messages - it will cause real problems if somebody accidentally decides to call a keyspace by the specific

[2018-12-30 14:58] nyh commented on #4014
Oh, and I think it's a mistake to postpone moving the view_pending_updates directory beyond 3.0.0. If we do, we'll later need to support upgrades and both locations...

[2018-12-30 15:00] avikivity commented on #4014
It's not just the name collision, scripts may expect directories in the data directory to behave like keyspaces, and break when they don't.

[2018-12-30 15:19] nyh opened #4036 "View building may be marked finished while many writes still as hints"
If a node X is doing view-building, and recognizes that one of the other nodes Y is down, all of the view updates we intend to send to that node are written do disk, as hints. Node X may eventually mark itself as "finished view building", despite these writes not having reached Y yet.

This issue was raised in an email thread with @duarten and I'm not sure it's an actual problem (we can close it i

[2018-12-30 15:53] nyh commented on #4036
Note that issue #3857 suggests that view building should not use hints at all. That solves the problems described above although opens up new ones. If we go with the approach of 3857, we should close this one.

[2018-12-30 16:11] duarten commented on #4036
The issue is not with Y, but with X. If X is lost, and the operator calls removenode, then the other replicas of X will stream data to some node Z, which becomes paired with Y. However, since view building is marked as complete, Z will assume Y already has that data that is being streamed, while it doesn't, because it was written as hints and lost. Makes sense?

[2018-12-30 16:16] nyh commented on #4036
I'm opening a separate issue about X. I think we may have a problem with not guaranteeing that Z will be paired to Y (and not one of the other nodes). Second, I think there is a case where we Y does come back after a long time, after we have lost hits because or timeout or too much data being written to hints (although #3857 will solve this, so if we go with #3857, I guess we can close this issue)

[2018-12-30 16:20] duarten commented on #4036
The problem with Y coming back after, say, GC_GRACE_PERIOD won't be solved by #3857 in the normal write path, where we do write hints. That problem is tracked in #3340.

About this issue in particular, it should either become about X, or closed.

[2018-12-30 16:34] avikivity commented on #4018
Do we have a core dump somewhere?

[2018-12-31 06:33] juliayakovlev commented on #4018
@avikivity
Nodes IP, where found coredumps:
node 3 : 3.83.182.206
node 4: 3.84.204.14

[2018-12-31 08:08] veramine opened #4037 "Sustained average 3000+ ms write latency due to huge (and growing) compaction queue"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0.rc3-0.20181224.5558fa8
Cluster

[2018-12-31 08:14] avikivity commented on #4037
@veramine Sometimes a request can arrive at the shard that is experiencing stalls even though it should be served by another shard. You can use the shard-aware driver to prevent that.

Can you decode the stalls? Large partitions should not cause stalls!

Please provide details about the schema and data sizes in each column.

[2018-12-31 08:34] veramine commented on #4037
Looks like scylla eventually died, possibly due to OOM.  I've uploaded the journalctl log from the last few hours here:  http://upload.scylladb.com/e8c2fd37-5ecf-4700-b1a4-6eb4983f1b28/today.txt.

[2018-12-31 08:39] avikivity commented on #4037
The problem is not large partitons, but large individual rows (possibly due to collections). How large are your rows?

[2018-12-31 08:41] avikivity commented on #4037
Note, you are using time window compaction strategy but without any parameters. Are the defaults sufficient for you?

You are also using TWCS on the views. Is all this data TTLed? @duarten don't TTLed columns in views cause extra effort?

[2018-12-31 08:45] avikivity commented on #4037
Nice large partition - 1.4GB. Note that by itself this isn't a problem:

[2018-12-31 08:47] gleb-cloudius commented on #3844
@roydahan this is incorrect log. The test is from 12/13 the log is from 12/10

[2018-12-31 08:54] gleb-cloudius commented on #3844
Actually the log is from October 12. I think I found correct one her: http://jenkins.cloudius-systems.com:8080/job/scylla-staging-scale-cluster-test-clone-amos/41/label=aws-scylla-qa-builder1/consoleFull

[2018-12-31 08:55] veramine commented on #4037
I went looking for large individual rows and couldn't find any huge ones.  A couple that could be 1mb but nothing larger than 2mb.  I will keep looking.

I naively selected time window compaction because data is written in time series order and never updated again.  I will review the defaults.  Not all the data includes TTLs but the highest volume tables do have TTLs of between 8 and 90 days.  It'

[2018-12-31 09:57] gleb-cloudius commented on #3844
Here is the compaction log for shard 0. I left some "Semaphore timedout" errors as an indicator when read started and ended. We can see that even before read started some compaction had very low
bandwidth 0.04MB/s (may be because of streaming, need to verify). While read load is running we see an attempt to compact 21 sstables at 04:57:19 which completes at 05:07:55 after read load stops. The band

[2018-12-31 11:33] duarten commented on #4037
I don't know if it can have an affect, but the read-before-write done by MVs will populate the cache (#3965). Maybe that stresses the cache too much?

[2018-12-31 12:33] duarten commented on #3965
The entry can be a range tombstone, and what we're reading into cache might be a large number of rows (which we won't read again, since they're going to be deleted). Even if it's a row update, it's better to have the cache be sensitive to the read workload and not so much to the write one (otherwise we would just add all updates to the cache), no?

[2018-12-31 14:21] gleb-cloudius commented on #3844
Current theory:
According to "number of files" graph bad node has around 30 sstables ((800-200)/8/2) (amount of compaction confirms). The overall amount of data in all sstables is around 1.5G and we consider this to be small backlog, but since the workload is  overwrite one we need to read a lot of sstable on cache miss. The read workload is essentially random and generates 100% cache miss, so a l

[2018-12-31 14:37] slivne commented on #4027
quoting gleb

[2018-12-31 18:00] avikivity commented on #4018
So far, looks like a use-after-free.

[code]

We're supposed to be evicting a `querier_inactive_read`, but the data is used by a valid `when_all_state<...>` (that came from a `when_all(future<>, future<>)`)

[2018-12-31 19:54] veramine commented on #4037
I uploaded a coredump here http://upload.scylladb.com/e8c2fd37-5ecf-4700-b1a4-6eb4983f1b28/core.tgz

[2018-12-31 21:46] avikivity commented on #4018
@juliayakovlev I downloaded the cores, so you can destroy the cluster if it is not needed.

[2018-12-31 23:39] veramine commented on #4037
I tried changing from TimeWindow to SizeTiered compaction for those large partition tables and views.  It didn't seem to help.  In fact, we are seeing 10s write latency in some cases now on this single node cluster.  And there are new oversized allocation warnings.  And a new segfault.

Here's the back trace at one of the oversized allocations:
[code]

And here's teh back trace at the segfault - i

[2019-01-01 10:38] avikivity commented on #4018
/cc @denesb

[2019-01-01 10:39] avikivity commented on #4018
Probably note related to the crash, but a problem: we restrict readers under the cache, instead of above it, which means cache sees more concurrency than it should:

[code]

[2019-01-01 11:01] avikivity commented on #4018
In the other core, I see the same use-after-free. This time the querier_cache::entry object is occupied by a continuation from seastar's issue_read_ahead's function.

[2019-01-01 11:08] nyh opened #4038 "Isolate view writes from base writes"
A single Scylla node has many functions on the cluster. Among other things, it functions as a **base replica** and as a **view replica**. A base replica receives write requests (to a base table) from a coordinator, while a view replica receives write requests (to a view table) from base replicas. Both occur using the same RPC verb (note that view writes can also happen locally, without RPC) and ru

[2019-01-01 16:10] avikivity commented on #3913
The problem is deeper, we need to read sstables to determine gossip features but we need gossip features to know which sstable version we ought to write.

We can fix with a hack: sstable_version = max ( gossip sstable version, sstable versions on disk )

We should also hardcode it to mc in master so the problem is eliminated for future versions.

[2019-01-01 19:37] bhalevy commented on #4024
9223372036854775808 == 0x8000000000000000 can result from dividing by zero in iotune io_worker::get_io_rates and I'll add an exception in this case, though this might not be the root cause. FWIW, the request issuers use dma_{read,write} respectively and I don't see why an exception there would be intercepted and ignored.

[2019-01-01 21:22] duarten opened #4039 "View update hints shouldn't count towards marking a view as built"
When building a view, any view update a node fails to deliver is stored as a hint. This enables the view builder to continue making progress and eventually mark the view as built. This is, however, wrong, since some updates have not made it to the view yet.

This is important in the context of streaming, where the view update propagation path can be invoked based on whether the view is built or no

[2019-01-01 22:17] nyh commented on #4039
While I agree this should perhaps fixed, I think (please correct me if I'm wrong and I'll delete this comment...) that your proposal is not really relevant to the problem you outlined as "can happen". Let me explain:

The reason why that special streaming path is needed is not because Ba didn't finish updating Va - that's not a problem, since Va will be dropped anyway so it doesn't matter at all i

[2019-01-01 22:32] nyh commented on #4039
Sorry, I messed up the example. I'm removing my comment and rethink the example tomorrow.

[2019-01-02 09:05] gleb-cloudius commented on #4039
On Tue, Jan 01, 2019 at 01:22:52PM -0800, Duarte Nunes wrote:

How is it different from a regular MV write path where some updates may
end up as hints and a node that hold the hints may be removed thus
loosing some updates?

--
			Gleb.

[2019-01-02 09:07] duarten commented on #4039
It's different because the view is marked as built, when not all view updates have been delivered. In other words, we know the view replica isn't synced.

[2019-01-02 10:23] gleb-cloudius commented on #4039
On Wed, Jan 02, 2019 at 01:08:05AM -0800, Duarte Nunes wrote:

But replicas may go out of sync immediately after view build completed
successfully and regular traffic begins, so why the view build is so
special? With a window of 10s between commit log sync it may even happen
with any writes after view build.

--
			Gleb.

[2019-01-02 10:30] duarten commented on #4039
I don't understand your argument. Then why write hints at all, if a node can go down and lose them?  Or, why did we introduce the mechanism in streaming to allow another node to continue the view building a previous one was in the middle of? We do these things to keep inconsistency to a minimum. In this case, a node can accumulate hints for a large period of time, which a) is not really needed, an

[2019-01-02 10:39] duarten commented on #4020
Oh, right. That's a lot of copying. I wonder if we could reuse the buffer where we store the commitlog entries, for the span of a commitlog file.

[2019-01-02 10:41] gleb-cloudius commented on #4039
My argument is that unless we can solve all inconsistency problems all
together I do not see a point to special casing some code paths. We
should have proper view repair and run it regularly. Of course
continuing view building if it fails in the middle is required, but
aborting view building just because a messages was written into HH is
overkill and will only annoy people when MV building fails f

[2019-01-02 10:45] duarten commented on #4039
I don't think anyone suggested aborting view building. View building is a resumable process, if a node is down it can just wait until it's up again.

We don't have proper view repair, and we may not have it.

View building is special though, because while the normal view write path can be implemented in the future using strong consistency, that's harder to do for view building. So we should take c

[2019-01-02 10:52] gleb-cloudius commented on #4039
On Wed, Jan 02, 2019 at 02:45:26AM -0800, Duarte Nunes wrote:

OK. So what does it mean to not mark view build is complete? Who will
complete it and when? If one write was dropped, but all other succeed
from which point view building will be restarted?

How is it even optional? View and base may get out of sync.

I presume using strong consistency for view building precludes using of
hints anyway,

[2019-01-02 10:58] tgrabiec commented on #4037
The crash in `query::querier_inactive_read::evict()` is probably the same as in #4018

High write latency can be related to #4038

[2019-01-02 10:58] bhalevy opened #4040 "mc format: sstabledump MarshalException: String didn't validate"
Seen over an sstable generated by database_test.

/tmp/tmpdir_aSZthI/ks/cf-264c03c00e7111e98233000000000000/snapshots/1546421474991-cf/mc-2-big-Data.db:
[
  {
    "partition" : {
      "key" : [ "\u0001\u0000\u0000\u0000" ],
      "position" : 0
    },
    "rows" : [
      {
        "type" : "row",
        "position" : 23,
        "clustering" : [ "ck0000000000" ],
        "cells" : [
          {

[2019-01-02 11:05] bhalevy commented on #4040
[mc-2-big.zip](https://github.com/scylladb/scylla/files/2720552/mc-2-big.zip)

[2019-01-02 11:05] duarten commented on #4039
If the base node that was in the middle of building a view is removed, the nodes the ranges will migrate to will continue the build process.

Right now we build in chunks. If one write fails, then we would need to restart from the beginning of the chunk. (Similar to HH, which can re-send more hints than needed depending on the position of the mutation that failed to be sent in the file.)

Yes, in

[2019-01-02 11:06] tgrabiec commented on #3913
On Tue, Jan 1, 2019 at 5:10 PM Avi Kivity <notifications@github.com> wrote:

So, we shouldn't start to write until we determine gossip features.

For a bootstrapping node that should already be the case, the node joins
the ring after it gossips.

For a restarting node, we should fix this bug, and start compaction only
after we read our state from system tables.

We can fix with a hack: sstable_ver

[2019-01-02 11:09] psarna commented on #2200
c126b0079 introduced filtering of both regular and primary key columns. There were also multiple fixes related to filtering that were merged later, but this one is a good reference.

[2019-01-02 11:11] bhalevy opened #4041 "Memtable should update encoding stats for ttl in dead row marker"
We need to encode ttl=-1 for dead row markers and therefore we need to account for it in encoding_stats.min_ttl

[2019-01-02 11:11] psarna commented on #3231
c126b0079

[2019-01-02 11:15] gleb-cloudius commented on #4039
On Wed, Jan 02, 2019 at 11:05:43AM +0000, Duarte Nunes wrote:

In that case using HH will guaranty progress if networking is fluky.
Instead of restarting from beginning of a chunk on each failure we
delegate fixing small inconsistencies to HH. What you said about HH is
true, but more of implementation details because of how commitlog code
was written. If it will cause us problems we can change tha

[2019-01-02 11:36] duarten commented on #4039
Yes, that was the thinking. But it can introduce inconsistencies, which we want to minimize.

I don't follow. The view build code will be the same, it's just new writes that will leverage LWT.

[2019-01-02 11:45] tgrabiec opened #4042 "SStable reads should rule out sstables based on the query clustering range"
Currently, single-row queries which miss in the cache will have to read from all sstables which contain given partition. This is inefficient, especially for time-series workloads which produce lots of sstables containing the same partition but have non-overlapping clustering ranges.

There was already an infrastructure to do this, but it was disabled in e1efda8b0c10aa71a425e1854e1e8e3d5f0f1efe due

[2019-01-02 11:45] tgrabiec commented on #4037
The issue can be amplified by https://github.com/scylladb/scylla/issues/4042

[2019-01-02 11:53] haaawk opened #4043 "Several sstables used as golden files in write tests for MC format fail to work with sstabledump"
[golden_sstables_dumps.txt](https://github.com/scylladb/scylla/files/2720620/golden_sstables_dumps.txt) was generated using the following bash command:

[code]

Following sstables fail:
1. scylla/tests/sstables/3.x/uncompressed/write_compact_table/mc-1-big-Data.db
[code]
2. scylla/tests/sstables/3.x/uncompressed/write_counter_table/mc-1-big-Data.db
[code]
3. scylla/tests/sstables/3.x/uncompressed/

[2019-01-02 11:53] haaawk commented on #4043
@bhalevy

[2019-01-02 11:55] gleb-cloudius commented on #4039
On Wed, Jan 02, 2019 at 03:36:52AM -0800, Duarte Nunes wrote:

And the chance to introduce them is the same as in regular write path,
so why special case view building code? That's my only point here.

You've said: "Whether it precludes hints in the view build path depends
on the outcome of these issues.". How LWT using or not using hints
depends on outcome of this issue?

Also if base write will

[2019-01-02 12:43] haaawk commented on #4043
[golden_sstables_dumps-scylla.txt](https://github.com/scylladb/scylla/files/2720751/golden_sstables_dumps-scylla.txt) was generated with the same command as previously but using sstabledump from scylla-java-tools not from Cassandra.

The same sstables fail except for one:

scylla/tests/sstables/3.x/uncompressed/write_different_types/mc-1-big-Data.db

which works ok with sstabledump from scylla-jav

[2019-01-02 13:10] psarna commented on #4032
I can see why 2. is complicated, involving putting sstables in different directories temporarily etc, but why is 1.? Waiting for all current streaming sessions to finish sounds like a textbook use case for a phaser, doesn't it?

[2019-01-02 14:13] duarten commented on #4032
I think the complication lies in exposing the phases to the view building code. But maybe that's just because I'm not super familiar with the streaming parts.

[2019-01-02 14:15] haaawk commented on #4043
Running with Benny's pathset (https://github.com/bhalevy/scylla/commits/projects/gc_clock_64/WIP) makes no difference. Same sstables are failing.

[2019-01-02 15:21] vladzcloudius commented on #3816
On 12/24/18 10:21 AM, Roy Dahan wrote:

Roy, I'm a little confused. The perftune.py patches that address the
NVMe IRQ balancing issue on i3 hasn't been merged yet.
Could you, please, clarify how you ensure the proper balancing?

[2019-01-02 16:10] roydahan commented on #3816
AFAIK, some patches already merged, but it wasn’t optimal as suggested by Gleb.

[2019-01-02 16:41] avikivity commented on #4020
@duarten you mean freeze the mutations into a reusable buffer? probably we could, we some non-trivial work.  We could also unfreeze from a reusable buffer, with temporary_buffer::share(), but the reusability is limited (because we don't know the lifetime of the consumers).

[2019-01-02 16:46] haaawk commented on #4043
I checked and all those sstables are actually used in the tests.

[2019-01-02 16:50] avikivity commented on #4018
Looks like querier-cache resource-based eviction doesn't remove pointers to the evicted entry in r_c_s:

[code]

We have 772 inactive_reads in r_c_s, but only 31 queriers in querier_cache.

[2019-01-02 18:22] argenet commented on #4043
For `write_compact_table`, there is a bug in Cassandra/`sstabledump` that I have reported as CASSANDRA-14486.
For `write_shadowable_deletion`, the failure is expected as we use a Scylla-specific extension to write the second tombstone that Cassandra does not support or recognize.
Scylla's `sstabledump` fork should be extended appropriately to recognize the `HAS_SCYLLA_SHADOWABLE_DELETION` flag and

[2019-01-02 18:36] haaawk commented on #4043
Thanks @argenet - this is very useful. I will focus first on sstables other than write_compact_table, write_shadowable_deletion and *_many_partitions then.

[2019-01-02 20:46] duarten commented on #4020
@avikivity I meant that instead of reading from the commitlog file into a newly allocated temporary buffer, then deserializing that into a `commitlog_entry` (which contains the `frozen_mutation`), we could reuse the same temporary buffer. `read_log_file()` could specify that the buffer is up for grabs when the future returned by the caller-supplied callback is resolved, by passing the buffer by re

[2019-01-02 20:50] duarten commented on #4039
Like I said, the view building path is already special. If we can avoid introducing inconsistencies, we should do so.

I got trapped in my own sentence structure. I meant to say, a future version of MVs may not have hints in the write path due to LWT, and it may or may not have hints in the view build path depending on this issue.

[2019-01-02 21:22] argenet commented on #4043
I looked a bit closer and I think all failures except `write_different_types` are easy to explain. Those files don't have a `Statistics.db` file that is required for `sstabledump` to successfully output the data from a Data.db file. So, strictly speaking, they are not bugs.

`Statistics.db` have been disabled for binary comparison in 8f686af9aff33fa68ce066d97021addc0e1a57e3 and later those files h

[2019-01-02 21:54] vladzcloudius commented on #3816
@roydahan I don't see anything merged (it was a single patch).

[2019-01-03 06:17] slivne commented on #4043
thanks @argenet

[2019-01-03 07:57] denesb commented on #4031
This appears to be the same problem as that in https://github.com/scylladb/scylla/issues/4018 (use-after-free on the semaphore evicting an inactive read). I will soon send a patch that fixes another possible place this might happen (Avi already sent a patch for one).

[2019-01-03 09:16] #4018 closed

[2019-01-03 09:19] bhalevy commented on #4043
I tried copying the required Statistics files from sstable_3_x_test output directories.
And verified with sstabledump (from scylla-tools-java).  So besides the expected failure with write_shadowable_deletion, there is only write_different_types:
Exception in thread "main" org.apache.cassandra.exceptions.ConfigurationException: Unable to find abstract-type class 'org.apache.cassandra.db.marshal.Dur

[2019-01-03 09:22] haaawk commented on #4043
@bhalevy BTW write_different_types fails with cassandra's sstabledump but works fine with the one from scylla-java-tools.

[2019-01-03 09:55] asias opened #4044 "Fail to stop a table during shutdown"
[code]
In the attached log, we can see it failed to stop the keyspace=ks,table=cf, because " dblog.info("table::stop 3, ks={}, cf={}", schema()->ks_name(), schema()->cf_name())" never showed up, which suggested we hang with the code in table::stop().
[code]

[2019.1.3.patch.txt](https://github.com/scylladb/scylla/files/2723251/2019.1.3.patch.txt)
[2019.1.3.node1.repair.zip](https://github.com/scyl

[2019-01-03 09:55] haaawk commented on #4040
Here's an error message obtained using sstabledump from the lastest 3.11 cassandra branch:
[code]

[2019-01-03 11:35] denesb commented on #4031
This issue can be closed. Fixed by 918d255 and e5a0ea3.

[2019-01-03 11:37] #4031 closed

[2019-01-03 12:02] tomer-sandler opened #4045 "Running c-s from version 2018.1.6 to 3.0RC3 cluster fails"
See attached log with various errors...
[nohup.out.txt](https://github.com/scylladb/scylla/files/2723623/nohup.out.txt)

[2019-01-03 12:08] tomer-sandler opened #4046 "`nodetool stop` command is documented in our docs + in `nodetool help` but we do not support it"
[code]

And in our docs: https://docs.scylladb.com/operating-scylla/nodetool-commands/stop/

[2019-01-03 13:36] tzach commented on #4046
@tomer-sandler as far as I can see `nodetool stop COMPACT` is implemented
https://github.com/scylladb/scylla/blame/master/api/compaction_manager.cc#L71
@raphaelsc please comment

Its true the doc is not complete, as https://docs.scylladb.com/operating-scylla/nodetool-commands/stop/#nodetool-stop does not provide the relevant parameters to `nodetool stop`

[2019-01-03 13:44] nyh commented on #4044
@duarten this "await_pending_writes()"/"reads()" thing is your recently-added code. Any thoughts?

[2019-01-03 13:53] duarten commented on #4044
I don't know, maybe a deadlock. I didn't add await_pending_reads(), but await_pending_writes() will complete as soon as all current writes complete. Having a core dump would be useful.

[2019-01-03 14:05] tomer-sandler commented on #4046
From what I spoke with @slivne it seems we never tested it in QA...
This is the error I got when I tried to run it (without the `COMPACT` flag - as I did not know about it)
[code]

[2019-01-03 14:08] nyh commented on #4044
@asias I don't see this "repair_one_missing_row_test" in the scylla-dtest repository - is it a new test you haven't committed yet? Does it involve materialized views?

If it does, maybe it's again that 5 minute timeout: Repair sends also sends view updates, but doesn't wait for them. If the test now shuts down a node which has ongoing view updates, a view update may hang for a whopping 5 minutes,

[2019-01-03 14:27] duarten opened #4047 "View updates should be generated by sstables introduced via nodetool refresh"
The sstables that are placed in the `/upload` directory are introduced in the system by `nodetool refresh`. Currently, we don't generate view updates for them, but we should, in a fashion similar to what we do for streaming sstables.

[2019-01-03 15:30] #4034 closed

[2019-01-03 15:30] #4001 closed

[2019-01-03 18:49] argenet commented on #4043
For `write_different_types`, I suggest that you try to do the following:
1) Re-generate SSTables with the statements from test comments using Cassandra.
2) Check that the data file matches the one currently stored as a golden copy.
3) Try to dump this new file using `sstabledump` shipped along with Cassandra
4) Try to dump this new file using `sstabledump` from `scylla-java-tools`

This may as wel

[2019-01-03 18:52] haaawk commented on #4043
I tried with a newer version of sstabledump and it worked - I guess I was just using too old version.

[2019-01-03 20:28] dorlaor opened #4048 "Add network diagnostic mode to Scylla"
Some times network outages cause issues which are hard to trace. Network issues
may come and go, some may stay for a long while and the opposite.

It's desirable to have a network diagnostic in scylla so once we configure (dynamically, maybe through restapi or virtual table) a running node to enter diagnostic mode that will do:
 - Open and close x number of connections with dummy data on them
 - A

[2019-01-03 20:38] amnonh commented on #4048
Unless we want the node to behave differently during diagnostic (in the sense that it will handle a lower load, or temporarily put itself outside of the cluster) why do it inside scylla?

It's very much like the CQL ping functionality @mmatczuk implemented in the manager, isn't it safer and easier to create such a functionality completely standalone (plus it can work even if scylla nodes are crush

[2019-01-03 22:54] vladzcloudius commented on #4048
@dorlaor I agree with @amnonh that we'd rather have this as a stand alone tool for case when `scylla` is unable to start (e.g. due to networking issues).

[2019-01-03 23:51] dorlaor commented on #4048
Agree that scylla manager's cql health is a good idea but we need more than
a single idea.
That specific customer issue was about the rpc port (7000), so it could be
any node (not a cluster issue) or
any scylla service. There is no silver bullet and we need couple of
mechanisms .

On Thu, Jan 3, 2019 at 2:54 PM vladzcloudius <notifications@github.com>
wrote:

[2019-01-04 00:41] asias commented on #4044
@nyh Yes, the test is not in dtest repo yet.

https://github.com/scylladb/scylla-dtest/pull/784

The test does not involve mv explicitly.

[code]

[2019-01-04 01:35] asias commented on #4044
@nyh I increased the node.stop() to wait for 800 seconds. The hang persists.

[code]

[2019-01-04 03:10] amoskong opened #4049 "cs: RuntimeException: Encountered exception creating schema"
*Installation details*
Scylla version (or git commit hash): 3.0.rc3-0.20190103.c1f6ce425
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

* Description: In artifact test, c-s raised error at the beginning stage.

Based on the timestamp of db log and cs log, the c-s exception occurred after keyspace1 was created
It's not the first time I saw this error with 3.0-rc3, the problem can't be re

[2019-01-04 06:30] gleb-cloudius commented on #4048
Part of the gossiper functionality is to check for network outages and
for most simple cases this is usually enough. I do not know what
customer issue was that motivated you to open this issue, but in the
past the problematic scenarios we encountered were some weird NATs that
forgot some long running connection (not even sending reset on them,
just starting to drop packets) and nothing from the fu

[2019-01-04 07:09] asias opened #4050 "multishard_streaming_reader hangs in repair"
Start 2 nodes, 1 with --smp 2, 1 with --smp3
Insert some data: cassandra-stress write no-warmup n=1000 cl=ONE -schema 'replication(factor=2)' keyspace=myks2 -pop seq=10000000..20000000 -rate threads=100 -node 127.0.0.1

Repair node1
Node2 hangs on the make_multishard_streaming_reader.
Press Ctrl-C on node2,  backtrace was seen
(Attached: [node2.backtrace.txt](https://github.com/scylladb/scylla/fil

[2019-01-04 09:07] mmatczuk commented on #4048
My 2c
if feels like we could have a bunch on nmap scripts to run as a smoke test to automate troubleshooting process but I think its usability is limited.

[2019-01-04 11:08] eyalgutkind opened #4051 "nodetool snapshot race condition with compaction removing files."
This is Scylla's bug tracker, to be used for reporting bugs only.

*Installation details*
Scylla version (or git commit hash): Scylla 3.0rc3
OS (RHEL/CentOS/Ubuntu/AWS AMI):

When executing nodetool snapshot while a node is running compactions we see the following error out of the snapshot command. It looks like the snapshot command is trying to create a snapshot to a file group that is no longer

[2019-01-04 13:32] mrusme opened #4052 "std::experimental::fundamentals_v1::optional<raw_view_info>): Assertion `!def.id || def.id == id - column_offset(def.kind)' failed."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): `scylladb/scylla:latest` (3.0-rc3)

[2019-01-04 20:20] dorlaor commented on #4048
@gleb-cloudius this is another customer, not with nat issue but with intermediate AWS issue.
There is no silver bullet but it will be nice that Scylla core can run various validity checks, network is one of them it can be:
  - network tests:
     - send/receive 10 packets with {one node, all local nodes, all nodes within a DC, all nodes)
     - With/without encryption
     - all ports
  - Disk tes

[2019-01-04 21:19] veramine commented on #4037
We built and deployed a version of Scylla that was 3.0.rc4 + the initial fix @nyh checked in for #4038.  Initially it seemed to help but then a few hours into our stress test we see 5-20 second write latencies again.  Nadav's idea is still good, but just not addressing what we are seeing here.

In response to @tgrabiec suggestion, we enabled debug logging level on the commitlog logger and the data

[2019-01-04 21:30] veramine commented on #4037
@duarten That's correct - no more stalls as described in #4020.  It's tough to know for sure whether it was your fragmented buffer change, the Nadav changes, some other recent branch-3.0 change, or the switch from TimeWindow to SizeTiered.  We got all those changes all at once since we took the branch-3.0 post RC4 and manually merged the Nadav #4038 change.

[2019-01-04 22:36] slivne commented on #4051
@eyalgutkind can we get the logs from the node ?

[2019-01-04 22:44] slivne commented on #4050
@asias does this reproduce on 3.0 ?

[2019-01-04 22:46] eyalgutkind commented on #4051
asked the user to provide us the logs.
In his testing he claims he is able to reproduce time after time.

On Fri, Jan 4, 2019 at 2:37 PM Shlomi Livne <notifications@github.com>
wrote:

--
Eyal Gutkind
Head of Solutions Architects
www.scylladb.com

[2019-01-04 23:32] hakuch opened #4053 "Scylla needs to link against libatomic"
Scylla version (or git commit hash): 36e4e9fb54a0adcbe785d869f965da94ab8ac32f

Scylla uses functions from the `atomic` header, but does not independently link against `libatomic`.

Currently, Scylla's build system inherits the compilation flags of Seastar and therefore transitively links against `libatomic`. However, since Scylla uses these functions independent of Seastar, it should also explicit

[2019-01-04 23:39] hakuch commented on #4053
Patch on the [mailing list](https://groups.google.com/d/msg/scylladb-dev/ctSWX-8JaG8/MxLM9kIwDQAJ).

[2019-01-05 00:18] slivne commented on #4051
true I was able to reproduce this on docker as well....

ran cassandra-stress

in two session
session 1: run nodetool flush
session 2: wait 1 sec; run nodetool snapshot

and the issue reproduces.

[2019-01-05 09:53] veramine commented on #4037
Tonight I tried switching to use a single gocql connection instead of four like I normally use for this test.  The single node cluster still eventually got "stuck" in the bad state of 3000ms write latencies and thousands of timeouts per second but it was interesting to see that the write latencies for the other three shard was 0ms, no delay.  Writes were happening on all four shards but with only

[2019-01-05 13:39] #4053 closed

[2019-01-05 17:22] espindola opened #4054 "Run tests with halt_on_error=1"
Currently we build with ubsan, but we run the tests without halt_on_error=1, which means it just reports an issue and keeps going.

[2019-01-06 07:49] tomer-sandler opened #4055 "compression C*: `chunk_length_in_kb` | Scylla: `chunk_length_kb` - should be the same syntax"

[2019-01-06 08:14] avikivity commented on #4055
dup of #3669

[2019-01-06 08:14] #4055 closed

[2019-01-06 08:33] slivne commented on #4043
bottom line we need to add support for the shadowable tombstone in sstabledump ....

merge the patches that "reintroduce" the statistics.db back into the repo.

[2019-01-06 08:34] slivne opened #4056 "MC Format add support for shadowable tombstones in sstabledump"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubunt

[2019-01-06 09:41] slivne commented on #4044
@asias does its fail to stop everytime ?

I modified your test (emitting the check_repair_tx_rx_rows) and it passed on 3.0 ...
I am currently marking this for 3.1 - but can you please validate this does not reproduce for 3.0 as well.

[2019-01-06 10:03] slivne commented on #4050
@asias
I am not able to reproduce this on 3.0 ... I am marking this as 3.1
please also double check me ...

[2019-01-06 10:32] slivne commented on #4045
@elcallio can you please try and help ...

I want to understand if this is a driver issue - e.g. if 3.0 requires users to use updated drivers then what we require in 2.3 / 2.2 / 2018.1.X ...

[2019-01-06 10:34] slivne commented on #4040
@bhalevy / @haaawk we need to understand if this is a regression from 2.3 or not

if we create the same schema and insert the same values on 2.3 does this reproduce ?

[2019-01-06 10:38] haaawk commented on #4040
I checked and the tool complains because it gets the following sequence of bytes that should be UTF-8 bytes.
[code]

[2019-01-06 10:42] roydahan commented on #4045
@tomer-sandler if you set the rpc_address does it work?

[2019-01-06 10:45] slivne commented on #4037
@veramine - just so its clear (and I can tag the bug correctly) - you are using mv/si in this case (you mentioned #4038)

[2019-01-06 10:50] slivne commented on #4027
@roydahan -
- gleb thinks this has been solved (like 4025)

whats our status of the longevity runs - have we reproduces this ?

[2019-01-06 10:52] slivne commented on #3839
@senthilrag we have released 3.0.rc3 and and about to release 3.0.rc4 - can you please retests - I am pushing this out of 3.0 release - if there will not be any update I'll close

[2019-01-06 10:52] tomer-sandler commented on #4045
@Roy Dahan <roy@scylladb.com> I was using 3.0RC3 cluster deployed using our
AMI - can it be that our AMI does not configure rpc_address? that's a
mandatory param in scylla.yaml...

On Sun, Jan 6, 2019 at 12:42 PM Roy Dahan <notifications@github.com> wrote:

--
Tomer Sandler
ScyllaDB
www.scylladb.com

[2019-01-06 10:54] slivne commented on #3816
patch "[seastar-dev] [PATCH v2] perftune.py: tune only active NVMe HW queues on i3 AWS instances" in master

[2019-01-06 10:55] roydahan commented on #4045
default is probably 0.0.0.0 and c-s may not work with it well (or at least that version) or maybe the fallback IP it tries isn't reachable.

[2019-01-06 11:14] slivne commented on #3794
Scylla 3.1 will include this counters

[2019-01-06 11:15] slivne commented on #3794
@amnonh please open an enhacement in scylla-grapha-monitoring and we can close this issue in scylla

[2019-01-06 11:17] slivne commented on #3624
@amnonh can you please provide the info from which API we get the load information ? so we can map this to someone.

[2019-01-06 11:30] avikivity commented on #4037
@veramine if the data is well distributed, the shard aware driver can help a lot. But if the materialized views partition keys are not well distributed, it won't help.

To see if you have a distribution problem, you can run master and use the script https://github.com/scylladb/scylla/blob/master/scripts/nodetool-toppartitions to see if you have a hotspot. You will need to run it for each table/vie

[2019-01-06 16:39] veramine commented on #4037
@slivne yes, we use MV/SI feature.  However, we are still able to repro this consistently after dropping many of the views.  So I'm not sure its related specifically to those features.  It may be and might not be.

@avikivity Okay thanks.  We will try running master to get access to that feature.  Do you think the current "Nightly unstable release (for the brave) Repository for RHEL/CentOS 7 and a

[2019-01-06 20:59] #4027 closed

[2019-01-06 22:18] slivne commented on #4045
closing

* tested with AMI scylla-enterprise_2018-12-24T12-28-23Z (ami-0adf800c08a90d7e7) 2018.1.8+ (internal)
* tested with AMI scylla_2019-01-06T18-38-53Z (ami-093fc065976f6227b) 3.0.rc4 (internal)

running c-s works :)

[2019-01-06 22:18] #4045 closed

[2019-01-07 04:53] amoskong opened #4057 "scylla_prepare: Failed to write into /proc/irq/412/smp_affinity: (<class 'OSError'>, OSError(5, 'Input/output error'),"
*Installation details*
Scylla version (or git commit hash): 3.0.rc4-0.20190106.5a178ff63
Cluster size: 1
Instance type: i3.metal
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-093fc065976f6227b

* Description: I saw many write errors in scylla-prepare log:

`Failed to write into /proc/irq/412/smp_affinity: (<class 'OSError'>, OSError(5, 'Input/output error'), <traceback object at 0x7f1df3163808>`

* Test lo

[2019-01-07 07:09] denesb commented on #4050
I could reproduce only with `experimental = true`.

[2019-01-07 07:13] asias commented on #4050
On Mon, Jan 7, 2019 at 3:09 PM Botond Dénes <notifications@github.com>
wrote:

I could see the hang with dtest which does not turn on experimental.

--
Asias

[2019-01-07 07:26] denesb opened #4058 "column_family/major_compaction/{name} either not working or has incorrect documentation"
[code]

[code]

Trying:
[code]

Yields the same result. The documentation says that the `{name}` parameters should be:
[code]

Either the documentation is incorrect (another format is expected) or the implementation is not correct.

/cc @amnonh

[2019-01-07 07:33] asias commented on #4044
It does not reproduce on 3.0.

On master, it fails to stop every time for me.

[2019-01-07 07:36] denesb commented on #4058
I was using the Swagger UI (http://172.17.0.3:10000/ui/#!/column95family/force_major_compaction).

[2019-01-07 07:56] denesb commented on #4050
So far I have tried the following combinations:
[code]
Where omitted, options have their default value. Looks like some experimental stuff is causing the problems. But according to @asias `experimental = false` reproduces as well for him, so maybe `experimental=true` just makes it more likely.

[2019-01-07 08:30] avikivity commented on #4050
experimental=true just makes it possible to use experimental features, it doesn't do anything by itself.

[2019-01-07 08:42] amnonh commented on #4058
I've checked, compaction is not implemented in column_family, compaction is implemented in the POST /storage_service/keyspace_compaction/{keyspace}
you can specify one or more column families for a CF level compaction

[2019-01-07 08:57] denesb commented on #4050
Yes, I know, I thought that there is some interference with some experimental feature. But it looks like this is not the case, it just doesn't always reproduce. When it doesn't reproduce, I have to wipe and rewrite all my data to have a chance of reproducing. Running repair over-and-over on the same data doesn't help.

[2019-01-07 09:01] denesb commented on #4058
So the endpoint doesn't even exists?

[2019-01-07 09:07] amnonh commented on #4058
the endpoint is not implemented

[2019-01-07 09:14] roydahan commented on #3844
200 nodes scale test passed using 3.0.rc4 with the above fixed.

[2019-01-07 09:34] amoskong opened #4059 "need retry for all yum/apt-get install commands in setup scripts"
*Installation details*
Scylla version (or git commit hash): 3.0~rc4-0.20190107.874d88c98
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian8

* Job http://jenkins.cloudius-systems.com:8080/job/scylla-3.0/job/3.0-test/job/scylla-debian-deb-9-test/54/label=huginn/artifact/latest/job.log

* Description: the scylla_coredump_setup failed for installing systemd-coredump, it's a network problem. We

[2019-01-07 09:42] avikivity commented on #4037
@veramine I'm afraid you'll have to build it.

[2019-01-07 11:04] raphaelsc commented on #4051
snapshot gets the list of all current sstables and iterates through them, copying each one into snapshot dir. The problem exists because one of the sstables may have been compacted before the iteration aforementioned reaches it. i thought about a few options (all respecting snapshot semantics), follow:

1) wait for compaction to finish, prevent sstables being snapshot'd from being compacted
2) pos

[2019-01-07 11:13] bhalevy commented on #4051
Option 2 looks much better.  If snapshot can increase the reference count on the sstable and compaction would mark it for deletion we can remove it once the last reference (snapshot or compaction) is released.

[2019-01-07 11:38] slivne commented on #4051
On Mon, Jan 7, 2019 at 1:13 PM Benny Halevy <notifications@github.com>
wrote:

Wow ... that bad ... I assumed this is how it was supposed to be working
before.

[2019-01-07 11:39] tgrabiec commented on #4051
On Mon, Jan 7, 2019 at 12:04 PM Raphael Carvalho <notifications@github.com>
wrote:

Deletion of an sstable should be already posponed as long as there are live
shared_sstable references to it, reads also rely on that. Did this change
recently? Does compaction delete the files bypassing shared_sstable
refcounting?

[2019-01-07 13:52] glommer commented on #4046
Avi initially didn't like the ability to stop compactions and/or disable them, but he came to agree through some examples that it was a crucial ability in the field when things go wrong. We just didn't ever assign someone to do it.

[2019-01-07 14:53] raphaelsc commented on #4051
On Mon, Jan 7, 2019 at 9:39 AM Tomasz Grabiec <notifications@github.com>
wrote:

No, it's like this since atomic deletion manager times.

Yes, as explained before. Now that deletion manager is gone, we can move to
this direction I think.

[2019-01-07 14:54] raphaelsc commented on #4046
On Thu, Jan 3, 2019 at 11:36 AM Tzach Livyatan <notifications@github.com>
wrote:

We do support it for the compaction types we support like cleanup and
regular compaction

[2019-01-07 15:04] tomer-sandler commented on #4046
@Raphael S. Carvalho <raphaelsc@scylladb.com> do you know if we test /
tested it in QA or some other means?

On Mon, Jan 7, 2019 at 4:54 PM Raphael Carvalho <notifications@github.com>
wrote:

--
Tomer Sandler
ScyllaDB
www.scylladb.com

[2019-01-07 15:56] raphaelsc commented on #4046
On Mon, Jan 7, 2019 at 1:04 PM tomer-sandler <notifications@github.com>
wrote:

not tested by QA AFAICT. I remember I only tested it manually.

[2019-01-07 15:59] vladzcloudius commented on #3816
@slivne Yes, since yesterday. ;)

[2019-01-07 16:11] tgrabiec commented on #4037
@veramine Since you built a custom Scylla, in order for me to open your coredump I need your Scylla binary (unstripped or with a corresponding .debug file) and a git branch.

[2019-01-07 16:14] dyasny commented on #4006
Just ran into this myself and was about to open an issue. If this is a configurable option, why not set it, and default to true in future versions?

Or maybe change it to `sstable_version: 3` (versus 2 in the current builds by default)

[2019-01-07 16:19] avikivity commented on #4006
It is set to true.

There is no such thing as sstable version 2 or sstable version 3.

[2019-01-07 16:20] dyasny commented on #4006
@avikivity I am looking at the documentation:

from: https://docs.scylladb.com/architecture/sstable/

[2019-01-07 16:30] pdziepak commented on #4041
Could you point me to the source of that `ttl=-1` requirement? Cassandra code seems to suggest it should be `Integer.MAX_VALUE`:
https://github.com/apache/cassandra/blob/ef1817a75ceeaa5f8eb11cd4acd0bcbe5f1ed14d/src/java/org/apache/cassandra/db/LivenessInfo.java#L28-L54

[2019-01-07 16:39] bhalevy commented on #4041
I saw it in our documentation: https://github.com/scylladb/scylla/wiki/SSTables-3.0-Data-File-Format
"For dead row markers or expired liveness info, a special value -1 of TTL is set."

[2019-01-07 16:44] bhalevy commented on #4041
Agreed.  We need to encode max int32_t.

[2019-01-07 16:59] dyasny commented on #4006
I just checked on scylla-server-3.0.rc4-0.20190106.5a178ff63.el7.x86_64

Without the setting in yaml, I am getting la sstables, with the setting, I am getting mc. So the docs are correct

[2019-01-07 17:01] avikivity commented on #4006
I meant the naming. There's no sstable version 2 or sstable version 3.

[2019-01-07 17:01] bhalevy opened #4060 "expired_liveness_ttl should be encoded as max int32_t to conform to C*'s definition of EXPIRED_LIVENESS_TTL"
As noted by @pdziepak in #4041 we currently encode max uint32_t (apparently following a corresponding -1 special value we use for dead row_marker.

https://github.com/scylladb/scylla/wiki/SSTables-3.0-Data-File-Format needs to be updated to reflect that too.

[2019-01-07 17:02] bhalevy commented on #4060
Consider for back-porting to 3.0

[2019-01-07 17:05] dyasny commented on #4006
OK then, the first part of my question stands - why not add it to scylla.yaml and set a true/false default according to what we decide? Hiding available options is bad UX.

[2019-01-07 17:21] nyh commented on #4014
Fixed by commit da090a5458a436935d7e9a29d13f2d896e27eefa
Sorry for forgetting the "Fixes" string in the commit message. Please close this issue.

[2019-01-07 18:20] avikivity commented on #4006
We have 161 options, we can't put everything there. Only the most important ones should be there.

Since it will default to true in the next version, it has limited lifespan.

[2019-01-07 18:27] #4014 closed, assigned to tzach, nyh

[2019-01-07 18:36] avikivity opened #4061 "unit tests generate invalid sstables"
Some of the unit tests generate sstables that are invalid, because they contain invalid utf-8 strings.

[2019-01-07 18:58] nyh opened #4062 "Remove "sstring_view" and replace its usages by std::string_view"
We have in `bytes.hh`
[code]
About half the Scylla code uses this name `sstring_view`, half uses `stdx::string_view` and minority uses `std::experimental::string_view`.
I think we should switch all of these to `stdx::string_view` and remove the type "sstring_view". Eventually we'll do a sweep and replace all stdx in the code to std, but for now it can remain stdx.

[2019-01-07 19:17] avikivity commented on #4061
dup of #4040

[2019-01-07 19:17] #4061 closed

[2019-01-07 19:33] avikivity commented on #4040
Patch is on the lost.

[2019-01-07 19:44] dorlaor commented on #3844
Cool, let's move to 500 (really)

On Mon, Jan 7, 2019 at 1:14 AM Roy Dahan <notifications@github.com> wrote:

[2019-01-07 19:54] #4060 closed

[2019-01-07 19:56] fggarcia opened #4063 "Crash in memtable flush, when using LeveledCompactionStrategy and partition keys larger than 15 bytes"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0.rc4-0.20190106.5a178ff63
Cluste

[2019-01-07 22:57] duarten commented on #4062
I have a patch that does this, by replacing stdx types with std ones.

[2019-01-08 05:02] veramine commented on #4037
@tgrabiec Hi Tomasz.  I wouldn't worry about the segfault core dump.  That was from tag 3.0.rc3-0.20181224.5558fa8 and we have since updated to 3.0.rc4-0.20190104.21a5a4c.  So I don't have the scylla.debug handy from RC3 but also we haven't hit any segfaults since updating to the custom RC4 build.  That segfault core dump was probably addressed by one of the segfault fixes that recently went in po

[2019-01-08 06:54] veramine commented on #4037
@avikivity I spent a couple hours tonight unsuccessfully trying to get the build started from master.  In the 3.0 branch we used to use a really nice script dist/redhat/build_rpm.sh and it would install all dependencies and setup the environment and compile and link and generate rpm's.  But it seems like that script cannot be used in the master branch:

[code]

I tried using that reloc/build_rpm.s

[2019-01-08 07:20] avikivity commented on #4037
@veramine you can use `tools/toolchain/dbuild` to run in an environment with all the dependencies pre-installed, your user just needs access to docker. For example `./tools/toolchain/dbuild ./configure.py && ./tools/toolchain/dbuild ninja`

[2019-01-08 07:31] amnonh commented on #3624
The API in use is:
/storage_service/load_map

That is mapped to:
service::get_local_storage_service().get_load_map()

[2019-01-08 08:21] asias commented on #4044
I added some more debug code, await_pending_reads is blocking.

[code]

[2019-01-08 08:21] eliransin commented on #4062
I think that from c++17 it is just std::string_view.
I believe that @duarten patch already takes this into account.

[2019-01-08 08:49] nyh commented on #4062
@duarten @eliransin my point in this issue is **not** about stdx:: vs std:: isn't about our alias `sstring_view`, with two s'es, which doesn't need to exist any more. Even before C++17, we had stdx::string_view and can use that. True that with @duarten's patch it will be converted to std::string_view.

[2019-01-08 09:07] eliransin commented on #4062
@nyh  I got you :) , And I agree. We should get rid of the redundancy.
In order to avoid conflicts with @duarten's patch I sugest to only do: sstring_view->std::string_view and than duarte's pathch will clean up everything else.

[2019-01-08 09:12] tgrabiec commented on #4037
@veramine I hoped to use that coredump for figuring out why you have so frequent memtable flushes. That is causing one shard to have very large number of sstables, which affects read and view update performance. Are you still seeing one shard compacting lots of small sstables?

If so, please take a core dump for analysis.

[2019-01-08 09:23] duarten commented on #4062
This is not a priority, so it should happen after my patch goes in. Otherwise I'll have to rebase, and solve hundreds of conficts.

[2019-01-08 09:37] avikivity opened #4064 "iotune may report incorrect write bandwidth"
iotune's `write_bw` variable is used uninitialized, and so can report garbage numbers.

[2019-01-08 09:51] syuu1228 opened #4065 "scylla_setup: interactive mode is broken on HEAD"
Required args (019a2e3a2736d1dd359fb3140ac6685e1ca82e20) breaking interactive mode:
[code]

We can't use it since these arguments are actually not required on interactive mode (we switch the mode when no arguments passed to the script).
I think we should revert the commit.
Related to #3945

[2019-01-08 10:16] syuu1228 opened #4066 "scylla_setup: virtio-blk device is not listed on interactive RAID setup"
Since we only listing /dev/sd*, /dev/hd*, /dev/xvd*, /dev/nvme*, /dev/mapper/*, virtio-blk device does not appeared (it's /dev/vd*).
We probably won't see it on IaaS instances but user may use it on local VM.

[2019-01-08 10:22] avikivity commented on #4066
Try: `lsblk  -lpndo name`

Another alternative is to walk through /sys/block and filter out what we don't need.

[2019-01-08 11:13] amoskong commented on #4004
The two backtraces occurred in 3.0-rc4 longevity testing.

- 3.0.rc4-0.20190105.5a178ff63
- AMI: ami-0e1140edadd0fd57a

http://jenkins.cloudius-systems.com:8080/job/scylla-3.0/job/3.0-test/job/scylla-longevity-mv-si-4days/label=aws-scylla-qa-builder3/15/  (jenkins job failed, but the job is still running in builder3)

Test dir: /home/jenkins/slave/workspace/scylla-3.0/3.0-test/scylla-longevity-mv-

[2019-01-08 11:38] syuu1228 commented on #4066
@avikivity I found that my previous comment was wrong, we actually uses lsblk when lsblk supported "-p" option, otherwise it will just use the glob pattern that I previously commented.
(lsblk -p is not supported on Ubuntu 14, we needed to verify it: #1030)

The script tries "if lsblk --help | grep -q -e '^\s*-p'; then" in Python, but I just realized the code has a bug, always fails to use lsblk an

[2019-01-08 12:19] raphaelsc commented on #4051
We have a list to keep track of sstables that have been compacted but have not been deleted yet, so must not GC any tombstones in other sstables that may delete data in these sstables. That's preventing me from moving to direction in which a compacted sstable will be deleted in destructor. The existence of the list aforementioned for handling GC issue and deletion of sstable is destructor seems to

[2019-01-08 12:40] #4040 closed

[2019-01-08 12:40] #4064 closed

[2019-01-08 14:30] slivne commented on #2962
@psarna - you have added collection indexing - no ?

not clear to me what is left to close this issue

[2019-01-08 14:34] #3735 closed

[2019-01-08 14:50] psarna commented on #2962
That - no. There were patches that implemented filtering on collections,
but indexing them is still open, because it also depends on introducing
appropriatr collections support for mvs.

On Tue, Jan 8, 2019, 15:30 Shlomi Livne <notifications@github.com wrote:

[2019-01-08 15:57] denesb opened #4067 "Split up flat_mutation_reader.hh and mutation_reader.hh"
These two headers contain a large collection of different readers and helpers, intermixed with core interface definitions. The co-existence of these two files, as well as what each contains is historical and arbitrary.

Clients of `flat_mutation_reader` only need the definition of this class, they don't need all the other factory functions and helper implementations found in these two headers.

Ea

[2019-01-08 15:58] denesb commented on #4067
Refs #1

[2019-01-08 17:27] bhalevy opened #4068 "sstables: compare_row_marker_for_merge: handle missing row_marker"
Otherwise deletion_time() may be called on missing expiry.

[2019-01-08 19:42] slivne commented on #2962
Right my bad ...

[2019-01-08 20:43] roydahan commented on #4004
@amoskong, please decode the backtraces and open them in a new issue.
You can mention it may be related to this issue.

@slivne FYI what I mentioned in the meeting (I thought the issue is still open).

[2019-01-08 23:59] ban4785 opened #4069 "cannot update same row that deleted once with counter coumn table"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0-rc3
Cluster size: 1
OS (RHEL/Ce

[2019-01-09 02:16] amoskong commented on #4069
Apache-cassandra-3.11.2 test result:

[code]

[2019-01-09 03:18] infordb commented on #4069
See the issues below.
https://github.com/scylladb/scylla/issues/3617

[2019-01-09 03:47] syuu1228 commented on #4059
Do we really need to retry in our script, isn’t it apt/yum tries to reconnect internally?

I think it’s important to show the error to users, since it’s usually because bad mirror, you’ll need to edit sources.list to pick another one, or apt issue, or your local network is down.
On any problem you probably cannot get good result by just retry apt install.
But, maybe we can avoid to show python tra

[2019-01-09 04:00] veramine commented on #4037
@avikivity hmm.. is there a missing step?  My user has access to docker:

[code]

But unable to use the dbuild docker for some reason:

[code]

[2019-01-09 07:07] asias opened #4070 "Provide a better way for user to specify the snitch property file"
Currently

- user has to use the SCYLLA_CONF or SCYLLA_HOME env variable to specify the "conf" directory and scylla assumes the property file is the conf/cassandra-rackdc.properties

- the name of property file name has to be cassandra-rackdc.properties

It is better if we introduce a config option, e.g., --snitch-properties-file, so user can specify the snitch file directly.

After this, we can g

[2019-01-09 08:39] roydahan commented on #4059
The thing is that few minutes later, another test run and the mirror responds fine and setup completes.
Maybe we can set the retries in yum/apt to be higher.

[2019-01-09 09:39] syuu1228 opened #4071 "./reloc/build_rpm.sh silently exit when relocatable package does not exist"
Since it runs readlink -f <reloc pkg path> at the beginning of the script, it just exit without any error message.
[code]

Need to show user friendly error message.

[2019-01-09 10:14] amoskong opened #4072 "backtrace in longevity: (error system:2, No such file or directory)/torage_io_error (Storage I/O error: 28: No space left on device)"
*Installation details*
Scylla version (or git commit hash): 3.0.rc4-0.20190105.5a178ff63
Cluster size:  4
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI: ami-0e1140edadd0fd57a

Related to https://github.com/scylladb/scylla/issues/4004#issuecomment-452444552

* Description: There were 3 same backtrace occurred in scylla-longevity-mv-si-4days, I had reported this issue in https://github.com/scylladb/scylla/is

[2019-01-09 11:49] tzach commented on #3918
@glommer is commit https://github.com/scylladb/scylla/commit/c6811bd877b401e64af07c2c87e1ff1ce567e07e relevant to this issue?

[2019-01-09 12:39] tgrabiec commented on #4051
A quick fix would be to run the snapshotting under `cf.run_with_compaction_disabled()`

[2019-01-09 13:04] haaawk commented on #4009
@gibsn when you said "We have some values in our schema that are not valid UTF8 strings", did you mean you have names of fields or tables that are not UTF-8 strings or that you have some text fields that you set value to not UTF-8 strings?

Do you still have this sstable that caused the following error "non-null component after null component" ? It was /storage/scylla/becca/events-7c8165f0fdf511e8

[2019-01-09 13:06] haaawk commented on #4009
Also do you have any range_tombstones in that sstables?

[2019-01-09 13:08] raphaelsc commented on #4051
On Wed, Jan 9, 2019 at 10:39 AM Tomasz Grabiec <notifications@github.com>
wrote:

Hmm I think the problem is that run_with_compaction_disabled() means
run_with_regular_compaction_disabled(), so other operations in parallel may
still trigger the problem like cleanup or major compaction.

Couldn't this lead to read degradation issues due to compaction backlog?
But this quick fix would prevent the pr

[2019-01-09 13:15] haaawk commented on #4009
"Exception in thread "main" org.apache.cassandra.serializers.MarshalException: String didn't validate." happens for a cell in a collection so I guess it has to be non-utf8 value in field8 map<text, text> as this is the only collection in the table.

Would you be able to run a test with field8 removed/unused? There's a pretty big chance that non-utf8 keys in the map are problematic.

[2019-01-09 14:08] haaawk opened #4073 "When we create Serialization Header for MC SSTable we write wrong type names for UDTs"
UDT type name in Serialization Header should be always wrapped into "org.apache.cassandra.db.marshal.FrozenType(...)" but we don't do that.

[2019-01-09 14:12] tgrabiec commented on #4051
Here's an outline of a more complete solution.

Any given sstable within the Scylla process can be in the following states:

  (1) Used, must not be removed from disk

  (2) Unused, can now be removed from disk, but atomically with all sstables in the same atomic deletion group.

  (3) Removed on disk

The transition is monotonic: (1) -> (2) -> (3).

In addition to having a list of active sstables

[2019-01-09 14:57] raphaelsc commented on #4051
On Wed, Jan 9, 2019 at 12:12 PM Tomasz Grabiec <notifications@github.com>
wrote:

@tgrabiec

So if i understood correctly, sstable_deleter will store info about
expected sstables to know when it got them all via accept(). Would it be
raw ptrs or generations would do just fine? shared_sstable becomes a
wrapper instead of alias in which its destructor will call
sstable_deleter->accept(ptr) when ther

[2019-01-09 15:18] tgrabiec commented on #4051
On Wed, Jan 9, 2019 at 2:08 PM Raphael Carvalho <notifications@github.com>
wrote:

Why would somone want to disable only a regular compaction?

For sstable snapshotting it shouldn't be much of a problem because creating
symlinks should be pretty fast.

It may delay snapshotting until compactions are done, which may be a more
serious issue.

Which scenarios would not be covered?

[2019-01-09 15:21] gibsn commented on #4009
Second

No, we have no deletes and no TTL

You mean on the existing SSTable? How can I do that? Maybe I can provide a different schema to `sstabledump`?

[2019-01-09 15:21] tgrabiec commented on #4051
On Wed, Jan 9, 2019 at 3:58 PM Raphael Carvalho <notifications@github.com>
wrote:

It can be a counter which is decremented in accept().

Which list are you referring to?

I imagined it will only remove the sstable on disk.

Yes, just like sstable::~sstable() does.

[2019-01-09 15:36] raphaelsc commented on #4051
On Wed, Jan 9, 2019 at 1:22 PM Tomasz Grabiec <notifications@github.com>
wrote:

compacted but not deleted list. sstable_deleter when created may store
either a lambda or a ptr to the list.

that's what i thought

[2019-01-09 15:48] bhalevy opened #4074 "SSTables mc format needs to sign-extend delta-encoded varints"
As @pdziepak noted:
What we should do is: int32_t -> int64_t -> uint64_t so that we get proper sign extension. This is going to be the equivalent of what Cassandra is doing [1], it starts with an int and then passes it to out.writeUnsignedVInt() which accepts a long.

[1] https://github.com/apache/cassandra/blob/f0494889176873b3f68ae14cc5f1d9dcbc189da9/src/java/org/apache/cassandra/db/rows/Encodin

[2019-01-09 15:50] glommer opened #4075 "Updates to system tables should be batched"
Every operation that changes system tables need to be flushed to disk before they can be acknowledged.
However, some of those operations could be batched and flushed just once.

One example is updating system.local when tables are dropped: if we are dropping an entire keyspace, every table being dropped will generate an update, in its own memtable which will then need to be compacted. This generat

[2019-01-09 15:52] tgrabiec commented on #4051
On Wed, Jan 9, 2019 at 4:36 PM Raphael Carvalho <notifications@github.com>
wrote:

I proposed to use an intrusive list for that, so that sstable::~sstable
will auto-remove itself from that list after sstable_deleter is done with
it.

[2019-01-09 16:37] glommer opened #4076 "Take number of SSTables into account for the compaction controller"
The compaction controller currently does not take number of SStables into account, just size of data.
This can be problematic for tables with explicit flushes or imported tables that generate a lot of small SSTables in large number.

Avi says:

* the compaction controller should take the number of sstables into consideration, not just the byte backlog
* memtable flush shoud wait until the number o

[2019-01-09 16:41] glommer opened #4077 "protect reads against OOM"
Reads can OOM the database if they use too much memory. We should strive to address the source of the OOM (for example, large number of SSTables -> should make compaction more aggressive), but there will always be situations in which we will overlook and memory usage will grow.

Instead of crashing we should fail the read with clear indications as to why

[2019-01-09 16:51] tgrabiec commented on #4051
@raphaelsc Can you think of a reason why this race became more likely on 3.0 than before?

[2019-01-09 17:22] raphaelsc commented on #4051
On Wed, Jan 9, 2019 at 3:14 PM Tomasz Grabiec <notifications@github.com>
wrote:

the only thing that comes to mind is atomic deletion manager removal.

[2019-01-09 17:45] haaawk commented on #4009
I mean try to run cluster without populating the map field and see if you still see the problem. Ideally you could just remove that map field from the schema for the test but not populating it should work as well. If the issue is with the collection field then your cluster should work correctly with no problems after you remove/don't use collection field.

[2019-01-09 17:51] espindola commented on #2532
I will take a look

[2019-01-09 17:56] gibsn commented on #4009
I need to use this field. Actually trying to insert non valid UTF8 is a bug which should be fixed

The workload is live, I don't know how much to wait till the problem shows itself, this time it took 1 week. Also this way requires editing and deploying production services. Maybe we'd better try to reproduce?

[2019-01-09 17:58] gibsn commented on #4009
Should you respond with error in case client is trying to insert non-utf8 to the text field? If the bug is confirmed, what are the chances the fix will be taken to the 3.0.0 release?

[2019-01-09 18:07] #4071 closed

[2019-01-09 18:15] haaawk commented on #4009
I think we already validate that but let me double check.

Sure. I didn't know your setup so I asked in case that maybe it's easy for you to run those types of experiments. If not that's fine too. So far we were not able to reproduce this problem that's why I'm looking for other ways to investigate it.

[2019-01-09 18:30] tzach commented on #3918
This is my point :)
The commit include "Fixes #3918" I assume by mistake
Do you know what the right issue your commit fixed?

[2019-01-09 18:37] haaawk commented on #4009
BTW how do you manage to send nonutf8 strings to scylla anyway? Are you using cqlsh or a driver? If driver which language?

[2019-01-09 19:11] veramine opened #4078 "Oversized allocations shortly after startup"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 666.development-0.20190109.f530199

[2019-01-09 19:21] glommer commented on #3918
uh, my bad. That issue fixed #3916

[2019-01-09 20:36] avikivity commented on #4078
Those are due to a map. Perhaps the one in system.local, it can grow if you have many tables and views. Can you post the result of `SELECT * FROM system.local`?

[2019-01-09 21:10] nyh commented on #1672
Unfortunately, I can still reproduce this problem on today's master (post 3.0), and it isn't specific to version 1.3, to AMI, or to the scenario described above (so maybe the issue should be renamed).

The underlying problem is that if we gently kill (with control-C aka SIGINT, or SIGTERM) Scylla while it is still booting, it will often crash in its attempt to shut down.

In today's master, I see

[2019-01-09 21:13] #4074 closed

[2019-01-09 21:41] veramine commented on #4078
I feel like I have seen bigger maps.  In fact, we probably have some bigger ones than this in our own application.

[code]

[2019-01-09 22:38] gibsn commented on #4009
I am using gocql

[2019-01-10 08:21] avikivity commented on #4051
We can use boost::intrusive_ptr as the implementation of shared_sstble. intrusive_ref calls intrusive_ptr_release to drop the reference count, so it can move the sstable to sstable_deleter when the reference count drops to 0.

[2019-01-10 09:18] amoskong commented on #4049
@slivne @roydahan Can you help to check this?

[2019-01-10 10:01] tgrabiec commented on #4051
@raphaelsc atomic deletion manager was removed in 2.2, but we only noticed this now.

[2019-01-10 10:16] slivne commented on #4078
could it be commitlog / hintted handoff / view_hints related

can you please provide the surrounding logs so we can check at which step of the boot this happens

[2019-01-10 11:00] gleb-cloudius commented on #4072
@amoskong please attach the log here

[2019-01-10 11:03] slivne commented on #4063
@fggarcia

I have tried to reproduce on a machine on gce uwing the same version and simillar layout (4 cores / 8 G) and can't

can you please upload the coredump according to https://docs.scylladb.com/troubleshooting/report_scylla_problem/#send-files-to-scylladb-support and share the info here

[2019-01-10 11:10] slivne commented on #4059
Two solutions
1. Provide better error to the user that its an error related to install
2. An alternate solution is to move these packages to dependencies and not have them installed in scylla_setup - I know we have been going back and forth on this a bit but the dependencies on scylla make he installation simpler (this will also cause issues in the offlineinstaller).

[2019-01-10 11:17] amoskong commented on #4072
The first backtrace occurred on node 6:
[node-6-database.log.tar.gz](https://github.com/scylladb/scylla/files/2744993/node-6-database.log.tar.gz)

[2019-01-10 11:17] tzach commented on #4059
We should move away from installing and downloading during scylla_setup:
- it makes offline installation harder (#3306)
- it can break, and require error handling in the script (like in this issue), replicating the package dependency logic
- Does not support rollback, see #1688

[2019-01-10 11:43] amnonh commented on #2811
I've looked at what it takes to wire the nodetool to the API.
There is a main difference in the implementation between cassandra and scylla.

In cassandra, sampler API contains two methods, one to start and one to complete (I found that implementation better API wise but the decision was against it).

there are multiple way of going around this:
* reimplement the scylla code - probably not going t

[2019-01-10 11:46] tgrabiec commented on #4068
No user impact. This is only a documentation issue.

[2019-01-10 12:17] unisqu opened #4079 "Do we need ECC ram with scylladb?"
Considering the nature of scylla, do we need to get ECC ram? else, desktop motherboard is sufficient?

[2019-01-10 12:33] avikivity commented on #2811
start/stop is not resilient against failures of the caller.

[2019-01-10 12:48] avikivity commented on #4078
He already provided traces, it's a cql statement.

[2019-01-10 12:48] avikivity commented on #4078
(and it's not system.local at fault)

[2019-01-10 13:00] bhalevy commented on #4068
+1

[2019-01-10 13:02] #4073 closed

[2019-01-10 13:32] avikivity commented on #2811
Ah, nodetool does not give jmx the measurement time up-front?

[2019-01-10 14:08] gibsn commented on #4009
In 3.0.rc3 cluster we are getting this error during compaction:
[code]

[code]

[2019-01-10 14:13] amnonh commented on #2811
Unfortunately, it doesn't

[2019-01-10 14:15] #4068 closed

[2019-01-10 15:49] juliayakovlev opened #4080 "runtime_error "sorted_tokens is empty in first_token_index!" during starting the JMX server"
*Installation details*
Scylla version (or git commit hash): 3.0.rc4-0.20190105.5a178ff63
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e1140edadd0fd57a

During longevity test one node was drained and restarted.
During starting of JMX server on this node the std::runtime_error "sorted_tokens is empty in first_token_index!" was thrown:
[code]
Node with IP 172.30.0.19 was drained and re

[2019-01-10 15:51] gleb-cloudius commented on #4080
Were there tables with counters?

--
			Gleb.

[2019-01-10 16:18] juliayakovlev commented on #4080
What is the counters table?

[2019-01-10 16:47] gibsn commented on #4009
I was able to insert non-utf8 to map<text, text> both as key and value using gocql, could not reproduce compaction fail though
3.0.rc3

[2019-01-10 17:02] juliayakovlev opened #4081 "Warning "seastar_memory - oversized allocation""
Scylla version (or git commit hash): 3.0.rc4-0.20190105.5a178ff63
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e1140edadd0fd57a

Longevity test:
- run restart and repair nemesis
- received warning "seastar_memory - oversized allocation" on the node that wasn't restated:

[code]

Decoded:
[code]

[2019-01-10 17:06] avikivity opened #4082 "Data resurrection on scylla/os crash during sstable deletion after compaction"
After compaction, we delete the input sstables. If we crash during this deletion, and we've successfully deleted an sstable that contains a tombstone but did not delete an sstable that contained data that was covered by this tombstone, and if the compacion output sstable did not contain this tombstone, then data will be resurrected.

[2019-01-10 17:10] bhalevy commented on #4082
Let's consider a sub-directory to link sstables_to_delete_atomically files
ahead of time and use it for rolling forward the operation on restart
in case we crash during delete_atomically and before recursively deleting
the subdirectory.

[2019-01-10 17:12] bhalevy commented on #4082
@raphaelsc fyi

[2019-01-10 17:14] dvaldivia commented on #2202
Was this implemented? Trying to use `PER PARTITION LIMIT` combined with an `IN` statement yields `syntax error...`  I can see this feature in the scylla [documentation](https://docs.scylladb.com/getting-started/dml/#limiting-results) but since there's a syntax failure I wonder if it works

[2019-01-10 17:22] dvaldivia commented on #2202
same error happening on `scylladb/scylla:3.0-rc4`

[2019-01-10 17:34] gleb-cloudius commented on #4080
On Thu, Jan 10, 2019 at 04:18:25PM +0000, juliayakovlev wrote:

A table with counters.

--
			Gleb.

[2019-01-10 17:38] avikivity commented on #4080
Looks like we had storage_proxy operations on a distributed table before the tokens information was loaded from the system table.

[2019-01-10 17:39] avikivity commented on #4080
Perhaps it's jmx like the issue description says, in which case it is benign (but should stil be fixed because the message is scary).

[2019-01-10 17:45] gleb-cloudius commented on #4080
On Thu, Jan 10, 2019 at 09:38:52AM -0800, Avi Kivity wrote:

And IIRC that can happen for counter update.

--
			Gleb.

[2019-01-10 17:47] avikivity commented on #4080
How?

[2019-01-10 18:02] #4022 closed

[2019-01-10 18:02] bhalevy commented on #4022
Closing as duplicate of #3971

[2019-01-10 18:19] gleb-cloudius commented on #4080
On Thu, Jan 10, 2019 at 09:47:51AM -0800, Avi Kivity wrote:

https://github.com/scylladb/scylla/issues/3428#issuecomment-388710932

--
			Gleb.

[2019-01-10 18:26] avnerbarr opened #4083 "Node crashed - reading system.local with many truncation entries leads to OOM"
[code]

Node crashed at some point, no out of the ordinary interaction with cluster led to it (load was very low)

Providing systems tables per @glommer request

Thanks Glauber!

[for-glauber.zip](https://github.com/scylladb/scylla/files/2746590/for-glauber.zip)

[2019-01-10 18:28] vladzcloudius opened #4084 "Implement an API for re-balancing the token ring"
HEAD: b247ce01c3d74dfd7884d0fce790f20420fe4055

*Description*
A token ring may end up in a rather unbalanced state due to a random nature of a token ring division algorithm used when a new node is added.

We may want to implement an API which would trigger a re-balancing of a token ring and making sure that each token range has an equal size which in line would ensure a perfect balancing of tokens

[2019-01-10 18:35] glommer commented on #24
I agree this adds very little value. Still, in the belief that this could help with write workloads in slow disks I tried this in the past and saw very little improvements, if any.

I suggest closing this as wontfix.

[2019-01-10 18:36] glommer commented on #81
@slivne asking again, can we close this ?

[2019-01-10 18:40] glommer commented on #128
We have improved our repair a lot since then and now it is row based. We have also concluded that shard aware repairs works better in any case, so ranges should not ever be merged or we can merge shards together.

I am closing this and if there is any reason not to, please reopen.

[2019-01-10 18:40] #128 closed

[2019-01-10 18:41] glommer commented on #109
Benign at best, and not sure if it reproduces for MC.
tagging Wontfix

[2019-01-10 18:43] glommer commented on #129
Unassigned bug from 2015, unclear from description if still valid.

[2019-01-10 18:43] glommer commented on #137
All glommer's patchset are in.

[2019-01-10 18:43] #137 closed

[2019-01-10 18:45] glommer commented on #168
We are failing reads when we touch the files, which seems acceptable in most times.
Also in the mean time we have merged a detector from @raphaelsc that can do post-write validation. I see very little value in boot time checks since corruption can happen after that and between reads anyway if the disk is at fault.

I am closing this, please reopen if you disagree.

[2019-01-10 18:45] #168 closed

[2019-01-10 18:47] glommer commented on #258
I don't consider this a bug. Closing. Open again if you disagree

[2019-01-10 18:47] #258 closed

[2019-01-10 18:51] glommer commented on #372
As of 2019 I verified that our yaml no longer refers to CASSANDRA_HOME. We do use that string in the text but it is in a commented section that doesn't influence the output of the test anyway. Closing.

[2019-01-10 18:51] #372 closed

[2019-01-10 18:53] glommer commented on #401
As of Jan 2019, Scylla supports Secondary Indexes fully in our 3.0 series. I am closing this bug. Although there are some interesting side discussions, let's do exploration for alternative forms of indexing in issues targeted just at that.

We know we took a long time to get this feature out, much longer than we originally anticipated. So apologies in advance for anyone waiting

[2019-01-10 18:53] #401 closed

[2019-01-10 18:57] glommer commented on #410
A comment from Jan 12th said we would decide this "tomorrow", so I am assuming tomorrow already came
(For future reference, it is better to be atemporal in issues and don't assume external context for the benefit of both future and external-to-the-thread readers).

To the best of my knowledge we already made decisions on all of this and are steering in the direction of providing updatable packages

[2019-01-10 18:57] #410 closed

[2019-01-10 19:00] glommer commented on #435
We have faced many situations in which we just have to force gossip to forget about the nodes.
As far as I understand, the API even exists in Scylla but it is hardly tested and @asias keeps recommending against it unless it is an absolute emergency.

Either through a better tested and more solid nodetool assassinate or other APIs, I would like to have more control about the gossip state of nodes a

[2019-01-10 19:02] glommer commented on #445
Just found this bug, by coincidence. Recently truncation records were implicated in a series of bugs, in which they caused a storm of updates to system.local that took ages to be compacted away.

Indeed one of the solutions for that would be to just do away with their presence in system.local entirely.

[2019-01-10 19:07] glommer commented on #447
I would like to close this issue if nobody opposes.
Since then we have moved our stack to prometheus and away from local monitoring.

We may do local monitoring one day but I don't see this day arriving unless we can use scylla itself as a columnar database to store the metrics.

Since pings about older issue tends to just go ignored I am being proactive and closing this. If you disagree and think

[2019-01-10 19:07] #447 closed

[2019-01-10 19:13] glommer commented on #456
Today, (Jan 2019) a user of Scylla is able to share the yaml files across all nodes in the cluster without changes - with the exception of the addresses.

It would be a good usability boost to frame the addresses in terms of something (like interface name) that is also consistent across the cluster.

It is totally fine to error out if that interface has many addresses. I was about to open a bug ab

[2019-01-10 19:16] glommer commented on #537
I am promoting it. The message is still there as is and it doesn't list which port failed to bind.

[2019-01-10 19:18] glommer commented on #547
This situation has been much improved since we fixed the glibc.
We also made rethrowing through futures itself more efficient.
It is not clear to me if the insane amount of work required not to use exception paths justified, probably isn't.

Closing

[2019-01-10 19:18] #547 closed

[2019-01-10 19:18] glommer commented on #618
Our RPM process looks nothing today as it did in 2015. Closing this.

[2019-01-10 19:18] #618 closed

[2019-01-10 19:20] #696 closed

[2019-01-10 19:31] glommer commented on #981
This makes logs gigantic and hard to parse.  Agree that this should be done.
If a node is known to be down we should not keep printing until it is expected to be up again.

[2019-01-10 19:36] glommer commented on #1058
Looks like duplicate of #456 to me.

[2019-01-10 19:38] glommer commented on #1162
It there still a justification to keep this bug open?
This is extremely unlikely to happen and not even worth it.

[2019-01-10 19:41] glommer commented on #1369
dynamic shares now work.

[2019-01-10 19:41] #1369 closed

[2019-01-10 19:42] glommer commented on #1390
@vladzcloudius anything else to be done here ?

[2019-01-10 19:49] glommer commented on #1632
I think in practice, we should favor smaller sstables so that we're able to release space faster.

I would propose we close this issue.

[2019-01-10 19:53] glommer commented on #1793
Status of replacing node is still a common source of confusion.

[2019-01-10 19:54] glommer commented on #1796
Bumping priority. This can cause availability issues cluster-wise as users forget this step when adding nodes.

[2019-01-10 19:56] glommer commented on #1926
We have the same issue with multi-workload writes for per-user SLA: a heavy throughput class will cause the commitlog to block and increase latency for latency classes.

[2019-01-10 19:59] glommer commented on #2013
Now iotune is fully merged.

[2019-01-10 19:59] #2013 closed

[2019-01-10 20:05] glommer commented on #2199
I would prefer to have an API to change properties from the yaml during runtime. After that, we can implement this nodetool command on top of that.

[2019-01-10 20:11] glommer commented on #4079
Hello. Note that Stack Overflow or our mailing list are better forums for asking questions. The issue tracker should be reserved for bugs.

Please feel free to ask your question in any of those forums and notify us in this issue. We will be happy to respond. For now I am closing the issue.

[2019-01-10 20:11] #4079 closed

[2019-01-10 20:44] #1162 closed

[2019-01-10 22:01] veramine opened #4085 "Segfaults during compaction - master"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 666.development-0.20190109.f530199

[2019-01-10 22:38] glommer commented on #4024
@bhalevy wasn't this fixed?

[2019-01-10 23:08] slivne commented on #4083
I uploaded the system.local sstable files onto a regular table using the system.local schema and the truncated_at has ~3200 values ...

[2019-01-10 23:14] glommer commented on #4083
@avikivity please note that this may mean that just getting the compactions to be more aggressive will not be enough to truly fix this. Avner doesn't have that problem and still see an issue while reading the records since it becomes a gigantic map.

Also interesting to note that this means that the bug can, theoretically, happen in any system that is up for very long and truncate tables regularly

[2019-01-11 06:11] avikivity commented on #1162
Our 3.1 packages are likely to work on SLES 12.

[2019-01-11 06:13] avikivity commented on #109
Probably will reproduce for mc, compaction metadata has not changed

[2019-01-11 06:22] #1058 closed

[2019-01-11 10:14] tgrabiec opened #4086 "managed_bytes is triggering undefined behavior due to access of inactive union member"
managed_bytes has a union with two members chosen based on `_u.small.size`:
[code]

However, it is undefined behavior to read from a member which was not the last one written to, so after writing to `_u.ptr`, reading from `_u.small.size` is undefined behavior. We read from `_u.small.size` in many places to determine which member is active. We should move `_u.small.size` out of the union.

This is

[2019-01-11 10:38] haaawk opened #4087 "Cleanup the way Scylla computes type names for frozen/non-frozen tuples and UDTs"
**Expected behaviour:**
**Tuples:**
Tuples are always frozen both in Scylla and Cassandra.
Their CQL name should **always** be wrapped into "frozen<...>".
Their name should **never** be wrapped into "org.apache.cassandra.db.marshal.FrozenType(...)".

**UDTs:**
UDTs can be frozen and non-frozen in Cassandra while Scylla supports only frozen UDTs at the moment.
Their CQL name should be wrapped into

[2019-01-11 10:48] tgrabiec commented on #4086
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=88800

[2019-01-11 11:03] yurai007 commented on #4086
Just 0,05 $ from my side. IIRC type punning through union in C++ is safe on gcc (they have extension for it). But of course technically it's still UB as you wrote, Ref: https://stackoverflow.com/questions/25664848/unions-and-type-punning

[2019-01-11 11:41] #4051 closed

[2019-01-11 12:53] raphaelsc commented on #4085
@veramine Commitlog got corrupted, not sstable. @elcallio, I think that belongs to you. One of the segfault is related to my recent changes in compaction. I'll investigate. Thanks

[2019-01-11 22:09] vladzcloudius commented on #4084
@glommer In this particular case I think having an explicit API may have not less sense than an automatic option. This is rarely critical or has any significant influence on a cluster's performance. Therefore in those rare cases when a customer wants to fix this it would make more sense to give a tool to issue the operation that has a well defined beginning and end so that he/she could stage it a

[2019-01-11 22:09] vladzcloudius commented on #1390
@glommer Nope.

[2019-01-11 22:10] #1390 closed

[2019-01-12 20:48] slivne commented on #3816
the patch was merged to 3.0

[2019-01-13 09:39] avikivity commented on #1632
160MB is too small. If you have 16TB of storage, you end up with 100,000 sstables.

The space overhead is (sstable_size * nr_shards), it is negligible whether the sstable size is 160MB or 1GB. We spend a lot more on commitlog.

160MB is smaller than L0 sstables we generate by flushing (that's not a problem in itself, but it shows 160MB is tiny).

[2019-01-13 12:13] bhalevy commented on #4024
@glommer I suspect that the uninitialized members that were fixed 02372fc6cdfa42575c5a9123b0854213c2431d02 could have been the culprit.

[2019-01-13 12:39] avikivity commented on #4024
but those were only a problem for the write bandwidth

[2019-01-13 12:48] bhalevy commented on #4024
Not only.  Also in write_random_data and read_random_data.

[2019-01-13 12:53] avikivity commented on #4024
There, io_rates is value-initialized, which causes its members to be zero-initialized.

[2019-01-13 13:41] avikivity commented on #4083
That single row is 300kB. It should not be enough to OOM.

Truncating tables will overwrite the truncation records, so it shouldn't be a problem. But if we create and delete tables all the time, it will grow without bounds. Perhaps we should delete the entires after DROP TABLE.

[2019-01-13 13:42] avikivity commented on #4083
Also, we should move the truncation records into their own table, with the partition key being the table uuid (or name) and the clustering key being the shard number, instead of concentrating all truncate activity in the cluster into a single row.

[2019-01-13 13:46] nyh commented on #1632
@avikivity my two cents:
1. If you have 16TB of storage, 100,000 files is not outrageous.
2. Did you mean 16TB *per shard*? I think this would be an atypical amount of storage on contemporary machines (it will cost about $5000 per core).
3. During a compaction steps, LCS compacts around 12 sstables, with about this amount of temporary disk space usage. So the larger this size, the larger the space

[2019-01-13 14:09] avikivity commented on #1632
100,000 sstables = 900,000 files. It's not the end of the world, and changing to 1GB sstables only reduces it by factor of 6, but I think almost a million files is too much here.

No.

We can apply incremental compaction and release files early, so the overhead is ~2 sstables per shard.

No, we will wait until they reach 1GB.

The idea is to reduce the overhead of maintaining large data structures

[2019-01-13 16:32] nyh commented on #4058
@amnonh there are multiple problems here I don't understand:

First, in scylla-jmx, forceMajorCompaction(boolean splitOutput) of scylla-jmx passes the splitOutput boolean as a  "value" parameter to the column_family/major_compaction/<cfname> REST API.
So apparently this API must exist for "nodetool compact" to work, no? But you're saying this API doesn't exist, so how does "nodetool compact" work?

[2019-01-13 16:55] nyh commented on #4058
@amnonh clarified for me what's going on. Nobody uses "coulmn_family/major_compaction/<cfname>'". The relevant JMX call from "nodetool compact" doesn't call this REST API, it calls /storage_service/keyspace_compaction/{keyspace}.

So if I understand correctly I think we should remove the listing of /column_family/major_compaction/ from column_family.json so people won't find it and try to use it.

[2019-01-13 17:08] #4087 closed

[2019-01-14 01:32] lonwern opened #4088 "Unable to count() a column with type boolean"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0.rc4
Cluster size: 1
OS (RHEL/C

[2019-01-14 01:55] am05mhz commented on #2808
is there a way to fix this? the `Configure more memory (--memory option) or decrease shard count (--smp option)` is not very clear. which command to use the parameter --memory or --smp? or where is the config file that sets this options?

also how do you get to see this option?
`You have too little memory for the number of logical processors (CPUs) to run Scylla. To fix, you can reduce the number

[2019-01-14 06:48] tzach commented on #4088
Look similar to https://github.com/scylladb/scylla/issues/3824

[2019-01-14 09:40] amnonh opened #4089 "toppartitions API should return cardinality"
The API for toppartitions should also return the cardinality.
As explained in the documentation:
the number of unique operations in the sample set

[2019-01-14 09:41] amnonh commented on #2811
While working on the jmx side of things, I've noticed we are missing #4089.
I'll continue with the implementation as is, returning knowingly wrong cardinality and we'll need to fill that gap.

[2019-01-14 11:50] slivne commented on #4083
Good idea
- We need to verify that drivers are not using this column ...
- We did find some ```select * from system.local``` in the java driver

[2019-01-14 12:00] slivne commented on #4081
@gleb-cloudius / @avikivity

I don't recall seeing this before - would you expect this to happen on 2.3 as well ?

Would  using MV / or 3.0 makes us more vulnerable to this ?

[2019-01-14 12:31] avikivity commented on #4081
MV does make us more vulnerable due to higher internal concurrency.

However, it should happen a few times in a node's lifetime, not more.

[2019-01-14 13:39] nyh opened #4090 "MV flow-control leads to very high user write latencies"
As explained in issue #2538 and in various design documents and blog posts (e.g., https://www.scylladb.com/2018/12/04/worry-free-ingestion-flow-control/), Scylla needs to slows down a batch write job to the rate at which Scylla can complete these write requests. So if, for example, materialized-view writes are slow and Scylla can only complete 3,000 of them per second, it needs to only respond to

[2019-01-14 13:48] slivne commented on #4080
@juliayakovlev can you please clarify did you receive this in the MV/SI test without counters - if so its not related and we need to understand why this is happening

[2019-01-14 14:09] juliayakovlev commented on #4080
Test tables have no columns of counter type

[2019-01-14 14:59] avikivity opened #4091 "scylla_setup crash on missing view_hints_directory in ami"
scylla_setup crashes with an exception due to missing view_hints_directory in scylla.yaml.

[2019-01-14 15:46] pdziepak opened #4092 "Compacting collections adds higher-level tombstone to the per-collection one"
In Scylla data model there are multiple levels of tombstones: partition, row range, row, etc. Currently, when a collection is compacted the upper-layer tombstone is applied to the per-collection (`tomb.apply()` in [1], `tomb` is a class member) one and it stays there. Per-collection tombstones are not dropped even if fully covered by the higher-level ones and the current behaviour results in needl

[2019-01-14 15:46] tomer-sandler opened #4093 "`node_health_check` should also collect `/etc/redhat-release`, in addition to `os-release`, so we could see the OS minor version"
`node_health_check` should collect `/etc/redhat-release`, instead of `os-release`, so we could see the OS minor version.
`/etc/redhat-release` should go into `system_checks` output folder in the script.

[2019-01-14 15:49] tomer-sandler opened #4094 "`node_health_check` does not collect the content of `/etc/scylla.d/*` - important CPU conf files to collect"
`node_health_check` does not collect the content of `/etc/scylla.d/*` - important CPU conf files to collect.
`/etc/scylla.d/*` collection should go into `scylladb_checks` output folder in the script

[2019-01-14 16:50] vladzcloudius commented on #2808
@am05mhz You can tweak these parameters at any point in time in `/etc/sysconfig/scylla-server`.
Keep in mind, however, that changing the shards count (e.g. using the `--smp` parameter) will trigger "resharding" of existing data.

[2019-01-14 17:48] fggarcia commented on #4063
Hi @slivne. Sorry for late.

http://upload.scylladb.com/$report_uuid/core-scylla-e7380cfc-4b96-4bca-9087-40ec432df30d.xz

[2019-01-14 17:51] avikivity commented on #4063
@fggarcia what did you use for $report_uuid?

[2019-01-14 17:53] fggarcia commented on #4063
@avikivity

export report_uuid=$(uuidgen)

echo $report_uuid
e7380cfc-4b96-4bca-9087-40ec432df30d

[2019-01-14 18:17] avikivity commented on #4063
[code]

[2019-01-14 18:34] avikivity commented on #4063
/cc @denesb incremental_selector is being destroyed (not seeing anything wrong with it)

[2019-01-14 18:37] avikivity commented on #4063
Okay, I don't see how the pointer could be unaligned. `blob_storage` and `managed_bytes` are marked packed, but the standard allocator won't return unaligned pointers even then.

[2019-01-14 18:44] avikivity commented on #4063
@tgrabiec I think the problem is we yield within a with_allocator section, and so leak that bit of state.

[2019-01-14 18:55] avikivity commented on #4063
We're destroying the object created in

[code]

which is just before entering a with_allocator section, yet that object was constructed using lsa.

[2019-01-14 19:06] avikivity commented on #4063
We have a ring_position that is an std object. But the partition_key contains a managed_bytes that came from lsa (according to `scylla ptr`). So whoever constructed that ring_position moved an lsa-managed object into an std-managed ring_position.

[2019-01-14 19:07] avikivity commented on #4063
this is `row_cache::_prev_snapshot`

[2019-01-14 19:09] tgrabiec commented on #4063
@avikivity Perhaps the incremental selector caches the key (LSA-managed) it got from the invocation of the presence checker. We're missing a with_allocator() around presence checker allocator.

How can it be `row_cache::_prev_snapshot`?

[2019-01-14 19:11] avikivity commented on #4063
it's not _prev_snapshot, I think LCS is in use and it's updating some cached entry like you say

[2019-01-14 19:11] avikivity commented on #4063
@fggarcia are you using LeveledCompactionStrategy?

[2019-01-14 19:13] avikivity commented on #4063
Probably this code:

[code]

[2019-01-14 19:13] avikivity commented on #4063
and @tgrabiec I agree with the fix you propose.

[2019-01-14 19:15] fggarcia commented on #4063
@avikivity @tgrabiec

Yes, we use LeveledCompactionStrategy

[2019-01-14 19:17] avikivity commented on #4063
Bingo. @tgrabiec will you post the patch?

[2019-01-14 19:21] tgrabiec commented on #4063
@avikivity Ok, I will.

[2019-01-14 19:45] avikivity commented on #4063
What I don't understand is why the system-level tests didn't catch this.

@denesb are the conditions under which `incremental_selector::select()` updates the internal caches rare?  I don't think so.

We wouldn't allocate anything is they key is smaller than 16 bytes, but that's also very rare.

[2019-01-15 05:24] amoskong opened #4096 "scylla-server.service start operation timed out: stuck after Completed migration of legacy schema tables"
*Installation details*
Scylla version (or git commit hash): 3.0.0-0.20190114.d427a23d4
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-043a1330dde5d121f

[centos@ip-172-30-0-22 ~]$ uname -a
Linux ip-172-30-0-22.ec2.internal 4.20.2-1.el7.elrepo.x86_64 #1 SMP Sun Jan 13 09:57:55 EST 2019 x86_64 x86_64 x86_64 GNU/Linux

* Job log: http://jenkins.cloudius-systems.com:8080/job/scylla-3.0/job/3.0-t

[2019-01-15 06:54] amoskong opened #4097 "Reactor stalled 8000/4000/2000/1000 ms in longevity 1tb"
*Installation details*
Scylla version (or git commit hash): 3.0.rc4-0.20190106.5a178ff63
Cluster size: 4 * i3.4xlarge
OS (RHEL/CentOS/Ubuntu/AWS AMI):  ami-08f9244b561d20441

Job: http://jenkins.cloudius-systems.com:8080/job/scylla-3.0/job/3.0-test/job/scylla-longevity-1TB-aws-test/label=aws-scylla-qa-builder4/31/

Living Grafana: http://34.230.48.65:3000/dashboard/db/scylla-per-server-metrics-nem

[2019-01-15 07:13] avikivity commented on #4097
Where are the decoded traces?

[2019-01-15 07:31] denesb commented on #4063
@avikivity not it's not rare, roughly speaking it will be called once for each sstable in the set.

[2019-01-15 07:42] avikivity commented on #4063
So, every LCS memtable flush after the first one should trigger it.

[2019-01-15 07:56] amoskong commented on #4097
[code]

[2019-01-15 08:00] amoskong commented on #4097
2019-01-12 12:11:46,996 remote           L0194 DEBUG| [172.16.99.137] [stdout] Jan 12 12:11:46 info   | Reactor stalled for 8000 ms on shard 13.

[code]

[2019-01-15 08:03] avikivity commented on #4097
@asias please investigate

[2019-01-15 08:07] asias commented on #4097
I have a patch for it: [PATCH scylla] streaming: Futurize estimate_partitions
and you do not want to risk backporting to 3.0.

[2019-01-15 08:12] avikivity commented on #4097
duplicates #4005

[2019-01-15 08:12] #4097 closed

[2019-01-15 08:13] slivne commented on #4097
Are all of them a single issue ?

On Tue, Jan 15, 2019 at 10:12 AM Avi Kivity <notifications@github.com>
wrote:

[2019-01-15 08:16] asias commented on #4097
The backtrace points to the same point.

[2019-01-15 08:22] denesb commented on #4063
Not quite, this is updated only for leveled sstables (L0 sstables are returned on every selection) that were selected as overlapping with the query range.

[2019-01-15 08:53] avikivity commented on #4063
Yes. Managed to reproduce it in a few minutes. Default cassandra-stress profile won't trigger it, because it uses partition keys that are 10 bytes long, so they don't require an allocation.

[2019-01-15 09:35] slivne commented on #4097
Crossing my fingers that a single patch will solve 30K stalls. :)

On Tue, Jan 15, 2019 at 11:25 AM Amos Kong <notifications@github.com> wrote:

[2019-01-15 11:08] tzach commented on #673
@gleb-cloudius is this issue still relevant?

[2019-01-15 11:44] denesb opened #4098 "runtime error: signed integer overflow seen while running the test in debug mode"
I've seen two errors:
[code]
The errors are seen while `cql_test_env` is "booting". I see them on each run.

[2019-01-15 11:48] denesb commented on #4098
I've seen them while running `build/debug/tests/mutation_reader_test_g` but I suspect they'll be seen on each test that uses `cql_test_env`.

[2019-01-15 11:55] avikivity commented on #4098
They should be fixed with casts so the subtraction is down on uint64_t types. The overflow is expected.

[2019-01-15 15:41] pdziepak opened #4099 "flat_reader_assertions are not suitable for testing mutation readers"
The main helper used for writing tests for `flat_mutation_reader` implementation is `flat_reader_assertions`. Unfortunately, it very poorly reflects the actual guarantees provided by those readers, which makes writing tests a very painful experience.

For example, if one expects to receive a mutation from the ride, it would be tempting to write:

[code]

In general, this is wrong though, as reader

[2019-01-15 16:19] tgrabiec commented on #4099
I think that most of the users of `flat_reader_assertions` are interested in testing at the level of write equality rather than at the level of individual fragments.

One exception I know about is the test which verifies monotonicity of the fragment stream, that one wants to work on individual fragments and doesn't care about actual writes. This test can be built into `flat_reader_assertions`, so

[2019-01-15 16:36] pdziepak commented on #4099
One thing is testing that we get the information that we want, in that I agree with what you said. However, another thing is testing that all of the "more interesting" operations (fast-forwarding, partition and clustering ranges other than full, skipping to the next partition) work exactly as expected. To do that we cannot simply ignore empty rows or partition – we need to verify that it was okay

[2019-01-15 19:14] #4026 closed

[2019-01-15 19:14] #4033 closed

[2019-01-15 19:14] #4035 closed

[2019-01-15 19:14] #4041 closed

[2019-01-15 19:14] #4063 closed

[2019-01-15 20:22] dyasny commented on #4093
patch submitted: https://groups.google.com/forum/#!topic/scylladb-dev/vmLvpaqX0jo

[2019-01-15 20:36] dyasny commented on #4094
https://groups.google.com/forum/#!topic/scylladb-dev/1Mu51HWWj3I

[2019-01-15 22:43] duarten commented on #4047
@glommer sstables in /upload will now have view updates generated for them.

[2019-01-15 23:16] #3231 closed

[2019-01-16 08:07] bhalevy commented on #4023
#4074 fix allows us to safely represent negative deltas so this issue can be closed.

[2019-01-16 08:07] #4023 closed

[2019-01-16 08:19] denesb commented on #4098
You mean the code expects and knows how to deal with an eventual overflow, so this is not an issue?

[2019-01-16 08:37] psarna opened #4100 "Filtering with LIMIT applies the limit per page instead of globally"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): master (04a14b27e4def1f96a04ccaea043380dd89e344b), 3.0 too

Currently, filtering with LIMIT will apply the limit for each page without accumulating it, so with `LIMIT 15` it will fetch up to 15 rows from *each* page instead of stopping after 15

[2019-01-16 09:42] amoskong commented on #4096
Reproduced again on http://jenkins.cloudius-systems.com:8080/view/scylla-3.0/job/scylla-3.0/job/3.0-test/job/scylla-ami-test/label=muninn/65/artifact/job-2019-01-16T04.02-634507a/job.log

[2019-01-16 09:54] hagitsegev commented on #4096
http://jenkins.cloudius-systems.com:8080/job/scylla-3.0/job/3.0-test/job/scylla-ami-test/label=muninn/65/console
failed due to this issue (Roy asked to write this).

[2019-01-16 09:55] amoskong commented on #4096
Shlomi asked me to reproduce this manually, I will update the result later after try.

[2019-01-16 10:12] amoskong commented on #4096
two failed subtest were all using i3.16xlarge instance type, other instance types are PASS.

[2019-01-16 10:35] amoskong commented on #4096
Paste a normal log (no stuck) here:
[code]

[2019-01-16 10:43] avikivity commented on #4096
How long does it take to pass the problem point in a passed test?

[2019-01-16 10:49] amoskong commented on #4096
one second
[code]

[2019-01-16 10:53] tgrabiec commented on #3983
Tested LA @ scylla-2.3.1 vs MC @ f530199:

tmpfs:
[code]
xfs @ Samsung SSD 860 PRO 512GB:
[code]

[2019-01-16 11:07] haaawk commented on #4009
@gibsn Do you still have this sstable that caused:
[code]
?

[2019-01-16 11:10] gibsn commented on #4009
non-null component after null component in sstable /storage/scylla/becca/events-7c8165f0fdf511e881a5000000000006/mc-11858-big-Data.db
?

yes

[2019-01-16 11:16] haaawk commented on #4009
Would you be willing to share *-Statistics.db file for it @gibsn? This one does not contain data only statistics of the file.

[2019-01-16 11:31] amoskong commented on #4096
reproducer script:

[code]

[2019-01-16 12:01] amoskong commented on #4096
another reproducer-v2.sh, then the stuck scylla won't be killed by systemd

[code]

[2019-01-16 12:09] amoskong commented on #4096
Shlomi asked Tomasz to check on the machine.

[2019-01-16 13:58] gibsn commented on #4009
@haaawk I have only "Data" file. However I do have Statistics.db for `2019-01-10T17:04:30.446182+03:00 beccasc2 scylla: [shard 9] compaction_manager - compaction failed: sstables::malformed_sstable_exception (Too big ttl: 3637411336 in sstable /storage/scylla/becca/events-7fc169a009c511e9a424000000000006/mc-22749-big-Data.db)`

[2019-01-16 15:00] glommer commented on #4047
thank you that's very kind of you
3.1 ?

[2019-01-16 15:01] glommer commented on #4093
maybe not instead , but in addition. (it needs to keep working for ubuntu, etc)

[2019-01-16 15:33] tgrabiec commented on #3261
This is probably not a problem which is limited to unit tests. What setting `max_managed_object_size` to 0 does is making all allocations non-LSA eligible, while normally only ones larger than 12 KB are.

[2019-01-16 15:34] haaawk commented on #4009
@gibsn The other one would be better but if we don't have it then even the one you have can be useful. Could you either post it here or send it to piotr@scylladb.com please?

[2019-01-16 15:37] gibsn commented on #4009
@haaawk sent via email

[2019-01-16 15:39] dyasny commented on #4093
"instead" was the wrong word. The patch adds redhat-release in addition to
it, of course

On Wed, Jan 16, 2019 at 10:01 AM Glauber Costa <notifications@github.com>
wrote:

[2019-01-16 15:52] tgrabiec commented on #2080
This problem doesn't exist in the new MC sstable format, which makes this issue a low priority.

[2019-01-16 15:57] duarten commented on #4047
Yep!

[2019-01-16 16:09] nyh commented on #4093
Note that /etc/os-release is a fairly standard file (see https://www.freedesktop.org/software/systemd/man/os-release.html) and also includes the distributions version. What more do you expect to find in /etc/redhat-release?
Although I guess it can't hurt to have *more* data in the report...

[2019-01-16 16:12] dyasny commented on #4093
On Wed, Jan 16, 2019 at 11:09 AM nyh <notifications@github.com> wrote:

os-release doesn't contain the minor version. For CentOS7.5 it will only
say "Centos 7". redhat-release will give us the minor version as well
(7.5). This is why this patch is needed, nothing else, really

[2019-01-16 16:17] bhalevy commented on #432
With mc-format support what's left is support of open-ended range tombstones.

[2019-01-16 16:19] nyh commented on #4093
@dyasny I never noticed that. Good to know.

[2019-01-16 16:22] roydahan commented on #4096
Couldn't find any trace for this issue in recent longevity tests.

[2019-01-16 16:55] roydahan commented on #4096
Couldn't find this issue in any of the failures of 2.3 ami-test.

[2019-01-16 22:07] amoskong commented on #4096
I also never saw this issue in the past, only in recent two artifact ami-test (i3.16xlarge).

is it effected by instance type? we donot use i3.16xlarge for longevity?

[2019-01-17 00:55] asias opened #4101 "Provide a tool to help migrating data from old cluster to new cluster"
Assume we have 200 nodes on smaller machines. We want to migrate to 10 nodes on bigger machineds.
Since the token mapping are different between the old and new cluster. We need to copy all sstables from all old nodes to new nodes. However, not all data from the 200 nodes belong to a node from the new cluster.

In order to copy only the data that belongs to the new node.

We can have a tool:

Input

[2019-01-17 07:12] tzach commented on #680
Bringing this back, because its confusing and misleading, and the Cassandra version is even less relevant.
Can we update CQLsh to *add* a new filed with the Scylla version (something like @penberg suggested?)

The same goes for nodetool
[code]
For nodetool, if we switch to [Scylla Driver fork](https://github.com/scylladb/java-driver/) we have more control of the version presentation.

[2019-01-17 11:35] tzach commented on #2205
@slega not in the short term. We will likely to start with UDF #2204 before triggers
(unless you want to send a patch)

[2019-01-17 14:38] avikivity commented on #4096
@amoskong it can happen for smaller instances too, it's just a lot less likely

[2019-01-17 15:10] #4096 closed, assigned to nobody

[2019-01-17 15:10] #4100 closed

[2019-01-17 18:01] fggarcia opened #4102 "Setup optimization NIC and disk"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0.0-0.20190117.2d181da65
Cluster

[2019-01-18 00:34] glommer commented on #4102
hello.

What is the output of running that command manually?
[code]

[2019-01-18 00:34] glommer commented on #4102
@vladzcloudius FYI

[2019-01-18 00:54] fggarcia commented on #4102
@glommer
I don't know if correct but

/usr/lib/scylla/perftune.py --tune disks --dir /home/despegar/data/scylla/data --dir /home/despegar/data/scylla/commitlog --dir /home/despegar/data/scylla/hints --tune net --nic ens3 --get-cpu-mask
ERROR: timed out. Your system can't be tuned until the issue is fixed.

[2019-01-18 01:08] vladzcloudius commented on #4102
@fggarcia Could you, please, provide a little more info about the system where you see the issue: is it a VM or bare metal box? If VM - what kind of?
Please, try to see which HW causes the timeout: try to remove `--dir <DIR>` parameters one by one and if the error still persists - remove the `--tune disks` with the last `--dir <DIR>` pair.

[2019-01-18 01:14] vladzcloudius commented on #4102
@fggarcia Please run the following command and send us the output:
`python3 -m trace --trace /usr/lib/scylla/perftune.py --tune disks --dir /home/despegar/data/scylla/data --dir /home/despegar/data/scylla/commitlog --dir /home/despegar/data/scylla/hints --tune net --nic ens3 --get-cpu-mask`

[2019-01-18 01:22] fggarcia commented on #4102
@vladzcloudius https://www.dropbox.com/s/rpf5myph1gg7o05/output.txt?dl=0

[2019-01-18 01:40] asias commented on #3386
We can close this issue now?  I think we can scale to 200 nodes with no issue.

[2019-01-18 01:44] vladzcloudius commented on #4102
@fggarcia Thanks. I see the issue.
A quick fix for you is to apply the following patch to perftune.py:
[code]

I'll send a proper fix to 3.0 tree.

[2019-01-18 01:47] vladzcloudius commented on #4102
@fggarcia Could you, please, clarify what is the platform where you are running this, please?

[2019-01-18 01:54] vladzcloudius commented on #4102
@fggarcia The proper fix would be close to this:
[code]

Could you, please, verify that this fixes an issue on your system, please?

[2019-01-18 02:00] fggarcia commented on #4102
@vladzcloudius
I don't have root permission in any environment(now). This issue doesn't avoid that scylla start but I report it.

[2019-01-18 02:21] vladzcloudius commented on #4102
@fggarcia Ok. NP. Could you, please, elaborate about the platform/HW, please?

[2019-01-18 03:02] fggarcia commented on #4102
@vladzcloudius
I don't have the exact information about HW.
The machine is a virtualization over openstack.

[code]

[2019-01-18 05:37] #3386 closed

[2019-01-18 08:29] lustefaniak opened #4103 "oversized allocation: 1610612736 bytes"
*Installation details*
Scylla version (or git commit hash): 2.3.1-0.20181021.336c77166
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu deb package

[code]

[code]

[2019-01-18 08:34] avikivity commented on #4103
That's 1.6GB, beating the existing record by a wide margin.

It looks like you're inserting a map value. Can you give more details? Is it possible you're inserting a map that is 1.6GB in size? It seems very unlikely, so please provide as many details as you can.

[2019-01-18 08:35] avikivity commented on #4103
That number is 0x6000'0000, which likely came from somewhere else.

[2019-01-18 08:50] lustefaniak commented on #4103
It is very unlikely we are inserting 1.6GB map. Inserting (migrating) script was using 4gb of memory on JVM and was doing 4 threads in parallel with multiple(whole hour) rows at the same time - 1.6GB maps wouldn't probably even fit in memory in that script.

[2019-01-18 08:50] avikivity commented on #4103
1572864 == 0x18'0000

Maybe there's a bug around those nested maps. Using a frozen map as a key to the outer frozen map is quite unique.

@roydahan do we have tests that are similar?

@lustefaniak out of curiousity, can you share the logic behind that map?

Also, be aware that maps above a few megabytes in size will perform very poorly.

[2019-01-18 08:51] avikivity commented on #4103
@lustefaniak yes, it's likely a scylla bug.

[2019-01-18 08:57] lustefaniak commented on #4103
We are inserting them in batches, their size is usually:
[code]

[2019-01-18 08:58] lustefaniak commented on #4103
It stores some attributes group and their count:  keys in outer map are map with attribute name and its value, key of outer map is how many of such attributes we recorded for `(id1, hour, id2)`

[2019-01-18 14:55] denesb opened #4104 "partition_snapshot_reader reemits range tombstones with each overlapping ck range"
When `partition_snapshot_reader` is created with a partition-slice that contains multiple ck ranges, and the queried partition has range tombstones that overlap with more than one of these ck ranges, the reader will emit all overlapping range tombstones when entering each ck range.
Example:
Given the partition: `ps{}, rt{[1,4]}, cr{1}, cr{2}, cr{3}, cr{4}, pe{}`
And a partition-slice, with the fol

[2019-01-18 15:25] pdziepak opened #4105 "utils/small_vector: copy assignment may leak memory"
Scylla version (or git commit hash): 23d19d21bd37d2c4509eabc28fc6950b15f949b2 (not present in any release)

Slow path for copy assignment has a condition looking like this:
[code]

That `, false` is most likely a remnant of `__builtin_expect`, but now it means that `free` is never called and the assignment may leak.