[2022-08-09 13:27] fgelcer commented on #11252
could be related to #11245

[2022-08-09 13:55] roydahan commented on #11117
@yar

[2022-08-09 13:55] #11117 closed

[2022-08-09 17:44] ValeryDubrava opened #11258 "Scylla installation on debian 11 failed"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 5.0
OS (RHEL/CentOS/Ubuntu/AWS AMI

[2022-08-09 18:16] yaronkaikov commented on #11258
@ValeryDubrava Can you please share the steps you did? did you import the gpg key ?

[2022-08-09 19:00] ValeryDubrava commented on #11258
When I tried to import gpg key I got this message:

[code]

[2022-08-09 19:10] yaronkaikov commented on #11258
please delete the repo file you have under `/etc/apt/sources.list.d/scylla.list`
Then try the following steps:
`sudo wget -O /etc/apt/sources.list.d/scylla.list http://downloads.scylladb.com/deb/debian/scylla-5.0.list`
`sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys d0a112e067426ab2`
`sudo apt-get update`

Let me know if it's working for you

[2022-08-09 20:12] #11239 closed

[2022-08-09 21:17] tgrabiec commented on #11239
I'm backporting this to all branches.

[2022-08-10 06:13] asias commented on #11038
The logs are here.

[code]

And the stalls are here:

https://github.com/scylladb/scylladb/issues/11038#issuecomment-1183946351)

What else do you want so you can assign to people?

[2022-08-10 06:14] ValeryDubrava commented on #11258
I did it, but the result:

[code]

gpg key was not imported and scylla is not available in repository

[2022-08-10 06:21] ValeryDubrava commented on #11258
Looks like the issue was on my server. I've tried on the other server and it works! Sorry, for bothering you and big thanks for the help!

[2022-08-10 06:48] denesb commented on #11254
After closer inspection and attempting to reproduce the race with a unit test, I realized that the race isn't there: when dropping a table, at this point the table is removed from the `database`, so looking up the table to obtain a read phaser will fail in the first place.
I'm not sure what the purpose of `_async_gate` is to be honest anymore.

[2022-08-10 07:09] #11258 closed

[2022-08-10 07:20] gusev-p opened #11262 "raft, read_barrier, and possibly other raft methods, should retry intermittent rpc failures"
If the leader is unavailable during read_barrier, a closed_error occurs, which is not handled in any way and eventually reaches the client and causes it to drop connection.

This is the cause of many dtests failures with raft enabled.

[2022-08-10 07:48] annastuchlik commented on #11213
This issue has been resolved with https://github.com/scylladb/scylladb/pull/11224.

[2022-08-10 07:48] #11213 closed

[2022-08-10 08:19] elcallio commented on #11017
Again, I would like to point out that while I can guess the reason for the error (above), I can't really verify it as it stands, since I can¨t really repro. Is there any way to provoke the issue _not_ involving nemesis? Other than that I don't know how to find and verify potential schedule group switching...

[2022-08-10 08:28] elcallio commented on #11017
But if I were to speculate, I would think it is `abstract_write_response_handler::timeout_cb`, which is called from a timer, yet uses the "stats" object acquired from the creating task queue. Which might be different?
This would suggest that the correct fix is to keep track of scheduling group for these counters, and use the one we are created with. _Or_ eagerly create the counters so we never ris

[2022-08-10 08:52] soyacz commented on #10577
We face this issue when using Gemini in tests - limit is very low leading to many failures. See https://github.com/scylladb/gemini/issues/271

[2022-08-10 08:58] yarongilor commented on #10577
Reproduced in 5.0 as well, so we started using a workaround by setting Gemini parameter `--max-partition-keys 4 `  (instead of default 6).

https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/byo-longevity-test/182/ run failed.
SCT reported error:
[code]

[2022-08-10 09:00] nyh commented on #10577
@yarongilor note that if you want, you can also work around this by configuring Scylla (instead of Gemini), giving it a higher `--max-clustering-key-restrictions-per-query`.

[2022-08-10 09:08] yarongilor commented on #10577
Right, if it sounds reasonable, SCT can configure it to Cassandra's default (or higher if needed for Gemini, i'm not sure what's the right number for it. can i just set it to 1000? )

[2022-08-10 09:12] slivne commented on #11040
Is this supposed to be fixed ?

[2022-08-10 09:26] kbr- commented on #11262
By the way, what is the cause of leader unavailability in those dtests?

[2022-08-10 09:31] gusev-p commented on #11262
The tests stops the nodes themselves and then modify the configuration with `CREATE/DROP`

[2022-08-10 09:33] kbr- commented on #11262
You mean they modify the schema?

So the scenario is:
1. nodes {A,B}, A is the leader
2. test stops node A
3. test sends CREATE/DROP to node B
4. node B forwards to A (didn't notice yet that A lost leadership), closed_error happens

?

[2022-08-10 09:39] gusev-p commented on #11262
[yes](https://jenkins.scylladb.com/job/sct-github-PRs-scan/job/scylla-dtest/job/PR-2810/lastBuild/testReport/concurrent_schema_changes_test/TestConcurrentSchemaChanges/test_changes_while_node_toggle_raft_/)

[2022-08-10 10:25] denesb opened #11264 "replica: evict all inactive reads for table when dropping it"
In theory all reads are waited on when a table is dropped. And said reads should clean up any reads parked in the reader concurrency semaphore. But as seen recently sometimes some falls through the cracks. This is not a disaster normally, these readers are evicted when resources become in-demand. But when dropping a table, these readers can end up keeping a dangling reference to a table.
We should

[2022-08-10 11:17] slivne commented on #11245
Not sure whats going on - when we run out of space - the node is supposed to disconnect from the cluster and drain.

[2022-08-10 11:50] ValeryDubrava opened #11267 "sstableloader crushed on loading cassandra 4.1 tables"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 5.2 (latest)
Cluster size: 3 nodes

[2022-08-10 11:54] elcallio commented on #11267
Which version of cassandra? The error above suggests that either the sstables are corrupted or in a format that the (cassandra) sstable readers used (3.x cassandra) in sstableloader cannot handle it properly.
Best would be if you provided the actual schemas and sstables so we can try to debug it.

[2022-08-10 12:09] slivne commented on #11208
/cc @eliransin fyi

[2022-08-10 12:22] praveenkhatra opened #11268 "Issue in page Upgrade Guide - Scylla 4.5 to 4.6 for Ubuntu 20.04"
I would like to report an issue in page https://docs.scylladb.com/master/upgrade/upgrade-opensource/upgrade-guide-from-4.5-to-4.6/upgrade-guide-from-4.5-to-4.6-ubuntu-20-04

### Problem
Unable to use nodetool command.
nodetool: Failed to connect to '127.0.0.1:7199' - URISyntaxException: 'Malformed IPv6 address at index 7: rmi://[127.0.0.1]:7199'.
# curl -v 127.0.0.1:7199
*   Trying 127.0.0.1:7199.

[2022-08-10 12:25] bhalevy commented on #10405
@denesb what's the status of this issue?
We're considering Eng-2 label for it if it still occurring

[2022-08-10 12:29] asias commented on #11208
This is supposed to be low priority. I am not sure why it is marked as high.

[2022-08-10 12:39] denesb commented on #10405
I haven't looked at it in detail yet.

[2022-08-10 12:40] ValeryDubrava commented on #11267
It was clear installation of Cassandra 4.1. I mean, no update old db, just new installation. How can I get this information? Or did you ask about tables schema?

[2022-08-10 12:51] ValeryDubrava commented on #11267
So, currently there is no way to migrate data from 4.X cassandra?

[2022-08-10 12:53] slivne commented on #11267
No there is a way - you can use scylla migrator

(https://github.com/scylladb/scylla-migrator)

[2022-08-10 12:55] slivne commented on #11267
/cc @tzach

[2022-08-10 13:47] Bychin commented on #6410
I had the same issue as described here and also in #6409. Scylla version is 4.5.2.

Installation details
Scylla version (or git commit hash): 4.5.2-0.20211114.26aca7b9f
Cluster size: 1+1+1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.9

Hardware details (for performance issues)
Platform (physical/VM/cloud instance type/docker): bare metal
Hardware: sockets=2 x Intel(R) Xeon(R) Gold 6238R CPU @ 2.20GH

[2022-08-10 16:26] raphaelsc commented on #11040
Will probably remain opened as a placeholder for stalls originated by off-strategy. A potential source was fixed by 934af9be52df9bae661a. We can also wait for another run to confirm the problem is mitigated and then close this issue.

[2022-08-10 16:38] avikivity commented on #11040
Just holding a bug open is wrong. If we don't know of anything remaining, we should close it.

[2022-08-10 16:46] raphaelsc commented on #11040
Alright. I am closing this issue then. If we face a stall caused by off-strategy later, we can reopen (if on the same area) or open a different issue.

[2022-08-10 16:46] #11040 closed

[2022-08-10 16:47] geobeau commented on #10337
Hello @asias, with @pgoron we backported your patches (10x + speed up gossip) and we still have long settle time. After investigating deeper it seems to be due to `calculate_effective_replication_map` that is very inefficient with `everywhere_replication_strategy`.

The path is something like:
`handle_state_normal` -> `replicate_to_all_cores` -> `create_effective_replication_map` -> `calculate_eff

[2022-08-10 17:09] avikivity commented on #10337
/cc @bhalevy

[2022-08-10 17:28] bhalevy commented on #10337
Not only that, `everywhere_replication_strategy::calculate_natural_endpoints` doesn't yield.

https://github.com/scylladb/scylladb/blob/be44fd63f9ab8eb964eab91bf2202bf9e881a720/locator/everywhere_replication_strategy.cc#L22-L25

[2022-08-10 17:51] geobeau commented on #10337
I have pushed this commit on our fork: https://github.com/criteo-forks/scylla/commit/994c6ecf3c4edd151cd1db2ed0c92f32dc832cbb
It seems to have improved a lot the startup process

[2022-08-10 18:16] tzach opened #11274 "Docs: Troubleshooting, Reverse Queries fail when the partition is larger than the maximum safe size, is out of date"
I would like to report an issue in page https://docs.scylladb.com/master/troubleshooting/reverse-queries

### Problem

The problem described in this page is not valid in Scylla 5.0 and later

[2022-08-10 18:17] tzach commented on #11274
@tarzanek @denesb - please comment

[2022-08-10 19:16] npeshek-spotx commented on #10337
@geobeau: Yep. That dropped our startup from 3000+ seconds to about 40.

[2022-08-10 21:06] #7689 closed

[2022-08-10 21:06] #3914 closed

[2022-08-10 21:06] #7933 closed

[2022-08-10 21:32] avikivity commented on #3672
@denesb is this not complete?

[2022-08-11 00:01] vladzcloudius commented on #9076
I wonder if @xemul has approved this?

[2022-08-11 01:36] fee-mendes commented on #11230
I think I stumbled upon the idea of a truncate tombstone once and if my mind is not failing me such concept would allow the TRUNCATE operation to be carried out without requiring a CL=ALL isn't it? Of course by lowering the consistency level requirements, one has to be careful to ensure that subsequent reads consistency properly avoid reading nodes that missed the given tombstone.

In any case, wh

[2022-08-11 01:44] asias commented on #10337
@geobeau Very nice! So, my  (10x + speed up gossip) + your https://github.com/criteo-forks/scylla/commit/994c6ecf3c4edd151cd1db2ed0c92f32dc832cbb, seem to speed up your cluster a lot. Thanks for testing it.

@geobeau Mind to send your fix as a PR (your credit)?

[2022-08-11 01:50] asias commented on #10837
Closed by:  https://github.com/scylladb/scylladb/pull/10850

Confirmed by : https://github.com/scylladb/scylladb/issues/10337#issuecomment-1210980999

[2022-08-11 01:50] #10837 closed

[2022-08-11 01:50] asias commented on #10836
Closed by:  https://github.com/scylladb/scylladb/pull/10850

Confirmed by : https://github.com/scylladb/scylladb/issues/10337#issuecomment-1210980999

[2022-08-11 01:51] #10836 closed

[2022-08-11 01:51] asias commented on #10817
Closed by:  https://github.com/scylladb/scylladb/pull/10850

Confirmed by : https://github.com/scylladb/scylladb/issues/10337#issuecomment-1210980999

[2022-08-11 01:51] #10817 closed

[2022-08-11 02:12] fee-mendes commented on #11191
Since this is EKS and Operator is in place, are you specifying `scyllaArgs` in your [Scylla Cluster CRD](https://operator.docs.scylladb.com/stable/scylla_cluster_crd.html)? In particular, I have seem an OOM situation recently, and it happened due to the fact that Scylla wasn't aware of the memory it had to consume. As a result, since the host OS memory is higher than what we allow the pod to run,

[2022-08-11 02:20] fee-mendes commented on #11188
I think this issue title is a bit too optimistic for what's its intended purpose. I'd advocate to be more specific on which kind of limit it is trying to solve or instead update the opening message so it can be a general issue for all limits we don't have (or don't know yet?).

In particular, we also don't have limits for (example):
- Max supported number of tables in a cluster
- Max number of sha

[2022-08-11 02:43] denesb commented on #3672
There were many ideas listed in this issue, not all of which are implemented yet.

[2022-08-11 02:54] denesb commented on #11188
Of course, the things we don't have limits for is limitless.
We can start with those that people commonly ask about and amend as people come up with new questions.

[2022-08-11 03:07] fee-mendes commented on #11188
Well, I'd say that limitless is likely impossible. But then someone will tell me to prove it and I won't have the machine/resources/time to... :-) #11054 is an example of when "limitless" is reached.

Agreed. And as a contribution, and since the opening message mentions Cassandra documentation, I think it would be a good idea to break it down to [CQL Limits](https://docs.datastax.com/en/cql-oss/3.

[2022-08-11 03:16] denesb commented on #11274
This page is still valid for partition-range scans and any query having to read from a pre `mc` sstable. So in practice, most users will not hit it.

[2022-08-11 03:17] denesb commented on #11274
Also note that 5.0 doesn't have all the reverse query related changes. AFAIK the cache/memtable still didn't support reverse reads.

[2022-08-11 05:51] benipeled commented on #8851
We facing this failure ~70% of [next-2021.1](https://jenkins.scylladb.com/view/nexts/job/enterprise-2021.1/job/next/),
If it will not gonna make it difficult later to debug the fall - can we disable this test?

[2022-08-11 06:32] eliransin commented on #10977
So I guess we should just support it then...

[2022-08-11 07:06] gusev-p opened #11278 "raft, add one tick sleeps in retry loops"
This is a follow-up for [this ticket](https://github.com/scylladb/scylladb/issues/11262).

When we call an `RPC` and the target node is unreachable, sometimes it makes sense to retry the calls several times in case the target node comes back or it is replaced with another one (new leader is elected). A relevant example is the `read_barrier` mentioned in the ticket above. Now we use `yield` inside

[2022-08-11 07:08] avikivity commented on #11252
/cc @elcallio

[2022-08-11 07:33] slivne commented on #11252
On the call yesterday @bhalevy said he may have touched this area lately - its assigned to him

[2022-08-11 07:37] bhalevy commented on #11252
yup. scylladb/seastar@ba1fdc4e26cbd6d69b0ace57e1be73744f9c6668

[2022-08-11 07:37] geobeau commented on #10337
@bhalevy already made a better patch: https://github.com/scylladb/scylladb/pull/11277

On my side, it still takes ~600 gossip poll to settle because of the `system_auth` keyspace. We configured it with network topology and RF=70 (= nodes in clusters). Do you think there is room for optimization for this use case? The alternative for us is to move to `distributed everywhere topology`, do you think

[2022-08-11 07:38] slivne commented on #11268
@praveenkhatra
this is a duplicate of #10442

the fix is part of 4.6.4 and later releases - please upgrade to that release or latest avail 4.6.5

I am closing this issue - if you have further questions please reopen and provide an update

[2022-08-11 07:38] #11268 closed

[2022-08-11 07:40] slivne commented on #11254
@denesb who can help answer this ?

[2022-08-11 07:41] slivne commented on #11254
If this is not a bug please remove the label and close (and maybe remove the _async_gate if its not needed anymore)

[2022-08-11 07:42] slivne commented on #11241
this seems a duplicate - there is a change on memetable flush failing - I think we ave seen this - right @fgelcer / @bhalevy

@bhalevy if its the same as another issue please reference and close

[2022-08-11 07:46] denesb commented on #11254
I'm working exactly on that. I'll close this issue.

[2022-08-11 07:46] #11254 closed

[2022-08-11 07:47] bhalevy commented on #11252
so the version tested here: 5.0.1-20220719.b177dacd3
Doesn't include 663f2e2a8f81b57ba3934a79a21c20d011677b17
with the seastar fix scylladb/seastar@ba1fdc4

So this is a duplicate of https://github.com/scylladb/scylladb/issues/11118

[2022-08-11 07:49] bhalevy commented on #11118
@avikivity we need to backport the fix https://github.com/scylladb/seastar/commit/ba1fdc4 from seastar to the release branches.

[2022-08-11 07:55] amnonh commented on #9597
@slivne we can actually closed this with https://github.com/scylladb/scylladb/commit/2c0932cc412c682ddf7607fd793c1b1a7ea517be

[2022-08-11 07:55] slivne commented on #11214
@Sune357
- what is the size of the cluster ?
- do you get a coredump when the existing node crash - can you upload it so we can analyze the memory

you can find info on how to upload / collect additional info here https://docs.scylladb.com/stable/troubleshooting/report-scylla-problem.html

[2022-08-11 07:56] amnonh commented on #9159
Closed by https://github.com/scylladb/scylladb/commit/2c0932cc412c682ddf7607fd793c1b1a7ea517be

[2022-08-11 07:56] #9159 closed

[2022-08-11 07:57] bhalevy commented on #11241
Duplicate of https://github.com/scylladb/scylladb/issues/11245

[2022-08-11 07:57] #11241 closed

[2022-08-11 07:57] amnonh commented on #9128
closed by https://github.com/scylladb/scylladb/commit/2c0932cc412c682ddf7607fd793c1b1a7ea517be

[2022-08-11 07:57] #9128 closed

[2022-08-11 07:59] slivne commented on #11202
thanks @racevedoo for the update we looked for OSS users to confirm this - do you have screenshots showing this - just so we will have some user workload to explain this.

[2022-08-11 08:01] bhalevy commented on #11245
This is indeed weird, since `sstable_write_error` is wired to call `storage_service::do_isolate_on_error`

[2022-08-11 08:02] slivne commented on #11202
/cc @avikivity - lets decide on the roll out of the fix:
- as a first step think we need a way to disable this - and backport it, in my view we can either add a table property (in schema) that will allow to disable this / add a flag that will allow to disable this completly per node
- the "real fix" needs to be more complex to evaluate if n indexpage should be cached / what we should prefer to evi

[2022-08-11 08:02] amnonh commented on #1981
@tzach Can we close this with https://github.com/scylladb/scylladb/commit/2c0932cc412c682ddf7607fd793c1b1a7ea517be and https://github.com/scylladb/scylladb/commit/f5cc6e2055276c6c386527ac25d53937bf93c415

[2022-08-11 08:03] slivne commented on #11202
@avikivity assigned this to you - to provide the first step afterwords will reassign to someone that will actually do the work.

[2022-08-11 08:06] slivne commented on #11191
@vladiceanu is there any additional info ?

[2022-08-11 08:09] slivne commented on #11186
@benipeled / @yaronkaikov is this fixed ?

[2022-08-11 08:09] slivne commented on #11186
/cc @roydahan fyi

[2022-08-11 08:18] slivne commented on #11168
default_time_to_live should not work alternator tables - there is a different feature for alternator ttl #5060, having said that you are not the first to request this #9465.

The extension to support something like default ttl needs to be approved by product and also provide a way to set this via alternator API - not via CQL (there is a draft pr https://github.com/scylladb/scylladb/pull/11194)

As

[2022-08-11 08:18] #11168 closed

[2022-08-11 08:21] slivne commented on #11143
Lets add this to the queue of the CQL rewrite and decide when i should be added

[2022-08-11 08:23] amnonh commented on #11161
I reduce the network load but increase the cpu, not sure it's worth it

[2022-08-11 08:25] slivne commented on #11087
@kbr- it seems like you are fixing this :)

[2022-08-11 08:26] slivne commented on #11084
@Bychin I am assuming this helped - I am closing the issue - if there is still an issue please post and reopen.

[2022-08-11 08:26] #11084 closed

[2022-08-11 08:27] slivne commented on #11080
@Felix-zhoux I assume Avi's inputs helped - I am closing this issue - if there is still followup please reopen and post an update

[2022-08-11 08:28] benipeled commented on #11186
@slivne the gpg (as described above) recently added to SCT and machine-image,
next step is to switch from apt-key to gpg and add the `signed-by` on pkg (and later remove the apt-key refs from the other repos)

PS> this is WARN msg only, installation with apt-key is still works as expected

[2022-08-11 08:28] slivne commented on #11078
@asias
- anything left here or can we close this ?
- what backports are needed to 5.1/5.0/4.6 ?

[2022-08-11 08:30] slivne commented on #11043
closing this issue as its a duplicate - please upgfrade to 4.6.4 or later - if there is still anything needed please reopen

[2022-08-11 08:30] #11043 closed

[2022-08-11 08:31] bhalevy commented on #11245
We see these errors in `db-cluster-5007b4d2/sct-cluster-us-east1-b-us-east1-2/system.log`:
[code]

So the node was isolated as expected.

https://github.com/scylladb/scylladb/pull/11246 suggests retrying forever.
I don't think we can safely drop the memtable with commitlog batching.

[2022-08-11 08:33] avikivity commented on #11202
I think in easy first step is a kill switch. That will be a regression compared to 4.5 since 4.5 shared index reads for the two bounds of a query, but this won't.

A second step will be to have a separate LRU (cache_tracker?) for index, and limit the size of that LRU to just 5% of memory.

A third step is size-aware, frequency-aware eviction algorithm.

[2022-08-11 08:35] slivne commented on #11054
@xemul / @avikivity / @asias whats the status of this - we know that the table cache hit rate has been causing issues - did we solve it. If we have lets close this issues - if not please open an issue and detail the fix(s) that need to be done.

[2022-08-11 08:35] Fornax96 commented on #11223
Hey, were you able to discover anything useful with the core dump? I don't want to rush you, but I have not been able to run repairs on my cluster for over a month due to this issue. The same shards are still stuck on that machine, and other shards have been locking up too.

[2022-08-11 08:37] tzach commented on #1981
Yes, but please add the results of each PR (here, or in the PR):
What is the reduction (in percent) of the number of metrics reported?

[2022-08-11 08:38] slivne commented on #11202
@bhalevy reassigning to you to schedule - please note this is a regression.

[2022-08-11 08:49] fgelcer commented on #11252
@bhalevy , it is not correct, the version it started from was `5.0.1`, but the coredump happened after it was upgraded to `5.2.0~dev-0.20220805.cf0f912e599d with build-id 64417404297f48e5f9be9c0590588c806b769a04`, when trying to start the service on the new version

[2022-08-11 08:54] denesb commented on #11223
Not yet, I've been busy with another coredump. I will look at this one now.

[2022-08-11 09:04] bhalevy commented on #11252
The following error format changed in [scylladb/seastar@ba1fdc4](https://github.com/scylladb/seastar/commit/ba1fdc4)
[code]

so it proves that whatever version that printed it, doesn't have the fix.

[2022-08-11 09:26] psarna commented on #11143
@cvybhu please take a look at the suggested fix plan (https://github.com/scylladb/scylladb/issues/11143#issuecomment-1197114560). In particular:
 1. if you have any remarks
 2. if you prefer to proceed with analyzed_where_clause first, or whether this one should go first, or perhaps both in parallel

[2022-08-11 09:28] fgelcer commented on #11252
so in short, we need to re-run this test, once we have a new build on master, once this fix will be included in it

[2022-08-11 09:31] bhalevy commented on #11252
yes. please do

[2022-08-11 09:55] vladiceanu commented on #11191
That is a very good catch - we do not have specified any arguments via `scyllaArgs`, assuming Scylla would detect based on rack specs (scyllaArgs seems to be supported as of the 4.2.0 version of Scylla)

Hi @avikivity,

<img width="1352" alt="Screenshot 2022-08-11 at 11 46 58 AM" src="https://user-images.githubusercontent.com/19838344/184108154-3b5c6a01-8cc5-49b7-aa80-9ad92ed0e207.png">

[scylla_m

[2022-08-11 09:58] avikivity commented on #3672
We don't have to implement all ideas, just need to gracefully cases where there are to many tombstones.

[2022-08-11 10:05] denesb commented on #3672
We should be graceful enough now. I suppose we can close this.

[2022-08-11 10:12] avikivity commented on #3672
A long saga has ended.

[2022-08-11 10:12] #3672 closed

[2022-08-11 10:15] avikivity commented on #11252
Was the crash on a 5.0.1 node or a 5.2.0-dev node?

[2022-08-11 10:25] denesb commented on #11223
I cannot get thread debugging to work. You mentioned above that the coredump is 63GB large. After downloading and extracting I have a 59GB file:
[code]
Can you verify the checksum on your end as well, so we can exclude any corruption of the corefile during upload/download.

[2022-08-11 10:34] avikivity commented on #10337
We plan to move auth to everywhere (and later raft) too.

[2022-08-11 10:35] avikivity commented on #10337
Just check if it's using QUORUM now, it can be bad with RF=70.

[2022-08-11 10:35] fgelcer commented on #11252
crash was on `5.2.0~dev-0.20220805.cf0f912e599d`

[2022-08-11 10:36] avikivity commented on #11252
But that contains

commit 663f2e2a8f81b57ba3934a79a21c20d011677b17
Author: Benny Halevy <bhalevy@scylladb.com>
Date:   Wed Jul 20 11:22:51 2022 +0300

    Update seastar submodule

    * seastar 1d4432ed28...f9f5228b74 (33):

    Fixes #11118

    Fixes #10950

    Closes #11176

[2022-08-11 10:37] avikivity commented on #11252
And no further seastar fixes.

[2022-08-11 10:42] cvybhu commented on #11143
The plan sounds very nice, unset values are annoying.

Cassandra allows unset values in fields of user defined types, something like this works there:
[code]
I guess instead of this the user can write:
[code]
However to be a drop-in replacement we would have to support this as well

Another way to do this would be to move `unset_value` out of `expr::constant`. We could make the constant keep `byte

[2022-08-11 10:44] cvybhu commented on #11143
I wonder if something similar could be done for empty values

[2022-08-11 10:55] bhalevy commented on #11252
So maybe you cut the error message short and that mislead me
If that's the case, please be careful not to drop significant information from the error.
To stay on the safe side just copy-paste the whole message, verbatim

[code]

[code]

[2022-08-11 10:58] bhalevy commented on #11252
So this happens in code added in https://github.com/scylladb/seastar/commit/0e48ba883215508e5a33ae1a093fec901e528cb6
Cc @nyh

[2022-08-11 11:01] Fornax96 commented on #11223
I removed the original file from my system. It was taking up too much space. The size checks out though, 63 GB == 59 GiB. The process ID also matches with what's still running on my machine.

[2022-08-11 11:03] Fornax96 commented on #11223
I can make another core dump if you want. I can probably make it smaller if I restart scylla before dumping the memory, when the caches are not full yet.

[2022-08-11 11:13] racevedoo commented on #11202
sure! here are the ones I could come up with:
- From the grafana "cache" section:
![image](https://user-images.githubusercontent.com/5193063/184119945-207d5b76-25c3-49a6-a42f-24e3c18dcc04.png)
![image](https://user-images.githubusercontent.com/5193063/184120167-344fcc1c-2785-42a6-999f-8414114baaa6.png)

Note that the amount of reads with no misses drops substantially, while the total number of rea

[2022-08-11 11:27] denesb commented on #11223
Please do if you can. Note that the coredump is as big as the memory the process have mapped so far, so making it early won't make it smaller as scylla pre-allocates all the memory it is allowed to. Not having caches full can make the coredump better compressable though. In any case, please also checksum the core before you upload and post the checksum here together with the link so I can verify.

[2022-08-11 11:27] denesb commented on #11223
BTW what are your workloads like? Do you delete a lot? Do you do range deletions?

[2022-08-11 11:50] praveenkhatra commented on #11268
Hi @slivne ,
Thanks for the update. After upgrade the version I am able to use the nodetool commands and able to add new node to the cluster.
One part that I found  misleading is  curl output providing the wring version info.
After Upgrade to 4.6.5 :

# curl -X GET "http://localhost:10000/storage_service/scylla_release_version"
"4.6.2-0.20220405.eb372d7f0"

# dpkg -s scylla-server.  ( This provide

[2022-08-11 11:59] Fornax96 commented on #11223
I have been deleting a lot of stale data lately with token range queries. In one table, time_series_2, about two thirds of the data is stale. I have been gradually cleaning it up since last week.

[2022-08-11 12:16] bhalevy commented on #11252
I suspect that tls `do_handshake` is missing `handle_output_error` when `gnutls_handshake` fails due to broken pipe

[2022-08-11 12:20] avikivity commented on #10327
This sill be fixed by tablets, as we won't split a tablet into two until it grows over 1GB in size. So we'll never have vnodes holding tiny amounts of data.

[2022-08-11 12:21] denesb commented on #11223
Can you post an example delete query? You can obscure (replace with dummy values) column names/keys/values if you want.

[2022-08-11 12:24] annastuchlik opened #11279 "Create a Creating and Managing Service Levels documentation page"
1. Create a new page. Much of the content is here http://127.0.0.1:5500/using-scylla/workload-prioritization/#service-level-management.
2. Modify the Workload Prioritization page (Enterprise only) to refer to the new page to explain how service levels can be used for workload prioritization. https://docs.scylladb.com/stable/using-scylla/workload-prioritization.html
3. Modify the Defining Workload

[2022-08-11 12:37] Fornax96 commented on #11223
My time series table looks like this:

[code]

I'm scanning this table for foreign_ids that don't exist anymore in the foreign table. If the foreign row is gone I delete the time series data with `DELETE FROM time_series_2 WHERE table_name = ? AND date = ? AND foreign_id = ?`

[2022-08-11 12:57] avikivity commented on #11143
We should. So just add it to the cases we support. So long as we limit where unset values are used.

btw, if a bind variable is used both in an unset-acceptable and unset-unacceptable context, we should reject unsets.

[code]

Unset is unacceptable for IF so it should be rejected for SET too.

`constant` definitely can't have unsets, but still as long as bind_variable can be unset, any expression

[2022-08-11 13:12] nyh commented on #11252
But how can this be? The send_alert() code you linked to calls wait_for_output() in every case - sometimes directly and sometimes by calling handle_output_error() which calls it. And wait_for_output() resets _output_pending. So what kind of timing can leave something there?

[2022-08-11 13:39] kostja commented on #11229
Closing, this is addressed in the current master.

[2022-08-11 13:41] kostja commented on #11228
Fixed in the current master.

[2022-08-11 13:42] kostja commented on #11228
(getting inet address of an not yet known peer in gossiper)

[2022-08-11 13:44] avikivity commented on #11191
Main heap usage is unchanged.

[code]

excess heap is just ~33MB.

[2022-08-11 13:46] avikivity commented on #11191
Please capture /proc/.../smaps instead, it has additional information. From the capture above, the heap looks fine, but maybe the memory leaked somewhere else.

[2022-08-11 13:50] bhalevy commented on #11252
But `send_alert` doesn't call `handle_output_error` _before_ calling `gnutls_alert_send`.
I think that this is where we hit the vec_push on_internal_error, when `gnutls_handshake` failed and left behind _output_pending  future that resolved to exception in the background.

[2022-08-11 14:52] seeekr commented on #611
@avikivity is there any work being done currently on implementing more efficient polls and/or even implementing something push-based? It would be really nice to have efficient (near-)real-time CDC. If not, has the latter ever been discussed in any detail? Who might be some good people to cc if I wanted to start an initial design discussion about such a feature?

It would also be very helpful if th

[2022-08-11 14:57] avikivity commented on #611
@kbr- @piodul

I don't think there is active work here, but the cdc people will know better.

[2022-08-11 15:01] laurovenancio commented on #11202
Just providing some more details about the performance regression @racevedoo mentioned.

We've updated two production clusters from scylla 4.5 to 4.6. Both experienced performance regressions. For instance, in the first cluster:
CPU: ~3% -> 7%
Read latency p99: ~1.25ms -> - 2.3ms
Cached Rows: 10M -> 100k

There was also an increase in the backgroud_reclaim scheduling group cpu consumption (~0.4ms

[2022-08-11 15:12] kbr- commented on #611
The current implementation of CDC is heavily limited by the data model of Scylla. In this model there is no order of writes, instead writes have timestamps that are used which data is "last". It may happen (and usually does) that Scylla makes a write with timestamp 42, but then a new write appears with timestamp 40.

CDC is supposed to give you an order such that data appearing later in the stream

[2022-08-11 15:23] seeekr commented on #611
@kbr- thanks for elucidating your current thought process & design, very helpful. A few remarks:

For some use cases the problem of out-of-order writes is not really a problem. The application may be structured in such a way that concurrent writes to the same data is never going to happen by design. Or the application may be perfectly OK with resolving / reconciling these writes in the CDC consume

[2022-08-11 15:32] seeekr commented on #611
Something to add: My mental model was more specifically that the coordinator node would just "post its world view into the CDC stream", so to speak, without any additional reads or pretty much any other work that would need to be done. After all, it just completed the client's request, and was able to tell the client that the change it requested has been successfully accomplished. And this is exac

[2022-08-11 16:14] vladiceanu commented on #11191
sure, attached it below. Thank you

[scylla_smaps_52_1_to_53_1_gb_increase.txt](https://github.com/scylladb/scylladb/files/9310126/scylla_smaps_52_1_to_53_1_gb_increase.txt)

[2022-08-11 16:50] kbr- commented on #611
You can get a failed write, say, due to a timeout. Once you get a failed write, the write can in theory happen at any point in the future. If you start a new write after that failed write, the two can appear in any order. So if you wanted to ensure that his indeed never really happens, you would have to stop writing to a given piece of data as soon as you get the first failed write. Other than tha

[2022-08-11 16:59] #11262 closed

[2022-08-11 19:13] vladzcloudius commented on #11217
I think so too - but this is what our Eng (e.g. @slivne) suggested to do when I filed this issue.

This issue has nothing to do with Raft nor Raft is going to help to resolve it on its own, @tzach.

You, guys, need to stop thinking that Raft is going to "resolve everything" (I don't remember who started this nonsense).

Raft is just a protocol that allows applying changes to a state of a distribut

[2022-08-11 19:17] tzach commented on #611
@ultrabug , you had  a similar idea  (rethinkdb like subscribe)

[2022-08-11 19:38] fgelcer commented on #11252
seeing the same coredump when upgrading from `5.0.1` to `5.1.0.rc0`:

## Installation details

Kernel Version: 4.19.0-21-cloud-amd64
Scylla version (or git commit hash): `5.0.1-20220719.b177dacd3` with build-id `217f31634f8c8722cadcfe57ade8da58af05d415`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade--debian-buster-db-node-3ec18256-0-4 (104.196.25.90 | 10.142

[2022-08-11 20:08] ultrabug commented on #611
Indeed @tzach and I :popcorn: reading through the conversation.

RethinkDB had stronger promises than just feeds since it could also propagate calculations like aggregates tho ;)

While I do relate with @seeekr needs, I have to see this feature request from the Scylla folks standpoint. Development energy is not infinite so I'd rather see stable Raft powered Scylla than this feature in the short te

[2022-08-11 21:11] kbr- commented on #11217
You're right that Raft on its own doesn't solve anything. It's how you use it determines what problems it will solve.

In our case, the plan is to move the topology state - including the token ring - into a Raft-replicated state machine that covers all nodes. When we remove a node from the cluster, using `removenode` for example, we will also remove it from this Raft group. Thus it won't be able t

[2022-08-11 23:20] #10337 closed

[2022-08-12 06:15] syuu1228 commented on #11136
I'm not sure it is caused by scylla or not, but i will take a look anyway

[2022-08-12 06:33] martin-sucha opened #11282 "Issue in page Grant Authorization CQL Reference"
I would like to report an issue in page https://docs.scylladb.com/master/operating-scylla/security/authorization

### Problem

There is an example with limiting permission type:

[code]

However, that example fails with a syntax error:

[code]

###  Suggest a fix

It seems that the example should instead be

[code]

[2022-08-12 08:26] denesb commented on #11254
For posterity: the PR dropping the async gate: https://github.com/scylladb/scylladb/pull/11283

[2022-08-12 09:14] annastuchlik commented on #11274
See https://github.com/scylladb/scylladb/pull/11100.
I'll open a new PR with this fix.

[2022-08-12 12:23] tgrabiec commented on #11202
Why do you think so?

[2022-08-12 12:47] kbr- commented on #11235
I'm guessing the `modify_config` call timed out. It's probably the usual - some slowness in Jenkins test environment causing timeouts...

Although these tests don't do any IO, and time is measured with a logical clock which the test is responsible for ticking, so if there's a slowdown, it should equally affect the ticking, i.e. time should run slower.

It's a relatively new regression test added w

[2022-08-12 13:00] wmitros opened #11286 "User defined functions can't differentiate between nulls and empty collections"
During the development of #11250, we found that an empty non-frozen collection is always treated as a `NULL` when used as a parameter of an UDF. As a result, an UDF with the clause `RETURNS NULL ON NULL INPUT` will always return `NULL` when one of its parameters is an empty non-frozen collection, and an UDF with the clause `CALLED ON NULL INPUT RETURNS` will always treat an empty non-frozen collec

[2022-08-12 13:08] bhalevy commented on #11235
@roydahan / @fruch

[2022-08-12 20:11] vladzcloudius commented on #11217
Well, good thing is that there are other ways to prevent a node from bulging back into the cluster except for Raft groups and we don't need to wait for it to become GA in order to fix this bug. ;)

Just like with Raft groups it starts and ends with a node to ASK to be accepted into a cluster - Raft or not Raft. And this part was missing. After https://github.com/scylladb/scylladb/commit/12ab2c3d8d

[2022-08-12 20:17] kbr- commented on #11217
Well, that commit covers for restarting nodes that have been removed, but what if you removed a node that was merely partitioned and never shutdown? Once the network partition resolves, it will happily gossip with the cluster and reintroduce its tokens.

Not saying the patch doesn't improve the situation - it does for nodes that have been shutdown and removed - but be aware that it doesn't solve t

[2022-08-12 21:01] kostja commented on #11217
* Kamil Braun ***@***.***> [22/08/12 23:24]:

Such mechanism to do properly would require a linearizable
persistent storage to preserve its state.

--
Konstantin Osipov, Moscow, Russia

[2022-08-12 21:05] vladzcloudius commented on #11217
Hmmm... I didn't realize that this patch only covers a bootup phase and doesn't make gossip ALWAYS check if "this" node is part of the ring, @asias.

Yes, it's worth fixing it NOW because this is a terrible bug, @kbr- .

Documenting that you have to configure firewalls on 120 nodes in order to prevent 30 other nodes from the partitioned AZ (that have been removed) from joining the cluster back is

[2022-08-12 21:07] vladzcloudius commented on #11217
@kostja in the case in question the state change has DEFINITELY took place on all alive nodes. The issue in question happens AFTER `removenode` DEFINITELY completed long ago and the corresponding side effect is visible to all alive nodes.

[2022-08-12 21:09] #11201 closed

[2022-08-12 21:15] vladzcloudius commented on #11217
You, guys, seem to forget that removing the node or bootstrapping a node (in case of a "replace node") is taking an "infinite" amount of time. And the event that you care to "notice" is a beginning of such a process.

So, you don't really need Raft to prevent a removed node from re-appearing - you simply need a gossiper to always make sure that the ring state of the local node and the rest of the

[2022-08-12 21:32] vladzcloudius commented on #11217
And from the single node prespective, @kostja , our storage is both linearizable and persistent ;)

[2022-08-13 09:30] tzach commented on #11282
Look like the error originated in Apache Cassandra docs
https://cassandra.apache.org/doc/latest/cassandra/cql/security.html also use PERMISSION**S**
[code]

[2022-08-13 10:17] bhalevy commented on #8234
@avikivity unfortunately the test keeps failing in next-2021.1 even with the hardening patch

[2022-08-13 13:07] bhalevy commented on #11230
It will stil require effectively CL=ALL since it applies to all tokens and hence it involves all replicas.
Using a truncate tombstone that's part of the schema will give it the performance and serialization characteristic of ALTER TABLE. And the actual removal of sstables (that is O(table data size)) will be done in the background, in maintenance priority class.

[2022-08-14 07:02] benipeled commented on #11235
The tests are running on the Jenkins runners - mostly `r5ad.8xlarge` 32cpu,256ram - same as running it on a workstation so I'm not sure how/if the Jenkins platform can cause it (frontend slowness has nothing with build, tests and other work running directly on the runners)

From the Jenkins side I can say that the test is running 3 times on each mode (9 in total) and it fails once/twice randomly o

[2022-08-14 07:15] fruch commented on #11235
We are collecting data in ELK only from dtests, not from scylla unittests, so I don't have much more data to add here.

[2022-08-14 07:49] slivne commented on #9903
### make it clear no scylla process should set this up - it needs to be external

[2022-08-14 08:30] ShlomiBalalis commented on #11059
The issue was reproduced again this week, during `disrupt_terminate_and_replace_node`:
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220809.3ffc978166ab` with build-id `7da4f902c8209ca890ba8338dbf376529fb6c2fe`
Cluster size: 3 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- gemini-1tb-10h-master-oracle-db-node-5b257738-1 (13.48.138.

[2022-08-14 09:49] ShlomiBalalis commented on #6653
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220809.3ffc978166ab` with build-id `7da4f902c8209ca890ba8338dbf376529fb6c2fe`
Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-200gb-48h-verify-limited--db-node-524c39ba-5 (16.170.143.144 | 10.0.3.44) (shards: 14)
- longevity-200gb-48h-verify-limited--db-node-524

[2022-08-14 10:16] avikivity commented on #11230
It doesn't need CL=ALL, just QUORUM. If a replica misses the truncate tombstone then reconciliation will apply it there retroactively.

[2022-08-14 10:25] avikivity commented on #11202
It depends on the branching factor (ratio of row size to key size) and workload.

High branching factor and/or wide key read distribution: row cache is less effective, index cache is more effective, index cache saves one I/O on every miss (and misses are prevalent).

Low branching factor and/or narrow read key distribution: row cache is more effective, index cache is sparse and therefore less effe

[2022-08-14 10:45] ShlomiBalalis commented on #6653
The issue was reprocuded in another run:
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220809.3ffc978166ab` with build-id `7da4f902c8209ca890ba8338dbf376529fb6c2fe`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-02b6a6a3-7 (13.50.5.249 | 10.0.0.119) (shards: 7)
- longevity-twcs-48

[2022-08-14 11:01] bhalevy opened #11288 "raft/randomized_nemesis_test.basic_generator_test: ticker::tick(ticker::on_tick_t, uint64_t): Assertion `false' failed."
Seen in e.g in https://jenkins.scylladb.com/view/scylla-5.1/job/scylla-5.1/job/build/5/artifact/testlog/x86_64/release/randomized_nemesis_test.basic_generator_test.2234.log
[code]

Test binary is stripped so I can't decode the backtrace.

[2022-08-14 11:02] bhalevy commented on #11288
Cc @kostja @kbr-

[2022-08-14 11:09] bhalevy opened #11289 "unit pytests in aarch64/debug mode are flaky"
We see frequent failures of unit pytests in aarch64 / debug.

For example:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1128/artifact/testlog/aarch64/debug/test_concurrent_schema.62.log
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1128/artifact/testlog/aarch64/debug/test_wasm.58.log
[code]

[2022-08-14 11:12] bhalevy commented on #11289
This looks similar too: https://jenkins.scylladb.com/view/enterprise-2022.2/job/enterprise-2022.2/job/build/4/artifact/testlog/aarch64/debug/cassandra_tests/validation/entities/secondary_index_on_map_entries_test.6.log
[code]

[2022-08-14 11:13] bhalevy commented on #11289
Cc @eliransin @nyh

[2022-08-14 11:20] roydahan commented on #6653
@ShlomiBalalis please open a new issue and remove your two comments above.
You can reference to this issue if you think it's related.

[2022-08-14 11:42] bhalevy commented on #6653
Agreed.  This looks very much like https://github.com/scylladb/scylladb/issues/11245

[2022-08-14 11:44] kostja commented on #11217
* Vladislav Zolotarov ***@***.***> [22/08/13 00:11]:

I understand that from the external observer stand point it may be
true. But a distributed database doesn't have the luxury of having
a single view point and even different nodes are not guaranteed to
preserve its own opinion over time.

With raft the issue is easy to fix. I asked @gusev-p to look at
it.

Meanwhile we should stop pushing some p

[2022-08-14 11:56] bhalevy commented on #11230
I think it's not exactly a quorum but rather ALL - QUORUM^, i.e all nodes but `RF - QUORUM(RF)`, i.e. less than or equal to half the QUOROM.

[2022-08-14 11:58] bhalevy commented on #11230
For example, for a 10 nodes cluster and table with RF=3, you need to truncate on 10-1 = 9 nodes, since you want any 2 (CL=QUORUM) reads to include the truncate tombstone.

[2022-08-14 12:01] bhalevy commented on #11235
@benipeled the table you pasted is for `background_reclaim`.
This issue is about `randomized_nemesis_test`

[2022-08-14 12:31] benipeled commented on #11235
oh no, I got confused with the annoying 2021 issue #8851, please ignore the table above, you can check the test_results_analyzer page for build on https://jenkins.scylladb.com/job/scylla-master/job/build/test_results_analyzer/

[2022-08-14 13:00] avikivity commented on #11230
It's a QUORUM for every replica set (since TRUNCATE touches every replica set). It's similar to a QUORUM full scan SELECT that touches every replica set quorum. In practice it's what you wrote, though on an extremely large cluster we can tolerate two nodes down if they don't both participate in a any replica sets.

[2022-08-14 13:03] avikivity commented on #11217
Was this fixed by 12ab2c3d8d6925a14749be61b90a3032c994f1f8? If not, what're remaining?

This looks like it needs backporting, in general patches that fix importand bugs should Fix #foo instead of just #ref, or they miss getting backported.

[2022-08-14 13:31] avikivity commented on #11201
Not a bug, not backporting.

[2022-08-14 15:19] avikivity commented on #8234
Easily reproduces with high --repeat/

[2022-08-14 15:35] avikivity commented on #8234
Not so in master. So there's an extra fix somewhere.

[2022-08-14 15:51] ShlomiBalalis commented on #11252
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220809.3ffc978166ab` with build-id `7da4f902c8209ca890ba8338dbf376529fb6c2fe`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-master-db-node-c96aed67-8 (13.53.124.203 | 10.0.0.240) (shards: 14)
- longevity-tls-50gb-3d-master-db-node-c96aed67-7 (13.51

[2022-08-14 22:02] nyh commented on #11289
The errors come from two different test suites - test/topology and test/cql-pytest - both using @kostja's new test.py "harness". All these errors are more or-less identical: A request or even an initial connection never completes. In my experience, this usually means that the Scylla server crashed, but we didn't notice it and still try to send requests to it.

If my guess is true, the only way to

[2022-08-15 01:59] asias commented on #11217
We do not need raft to protect removed nodes to rejoin the cluster.

By "stop pushing some partial fixes non-raft branch", are you suggesting we should revert the fix https://github.com/scylladb/scylladb/commit/12ab2c3d8d6925a14749be61b90a3032c994f1f8 and wait for raft to fix everything?

BTW, I have a plan to fix the harder cases where network partition recover caused rejoin too.

https://github.

[2022-08-15 02:01] asias commented on #11217
Avi, See here:

https://github.com/scylladb/scylladb/pull/11244#issuecomment-1214521169

The fix 12ab2c3d8d6925a14749be61b90a3032c994f1f8 uses refs instead of fixes because it only fixes part of the problem.

[2022-08-15 05:35] bhalevy commented on #11289
The scylla logs are kept on Jenkins beside the respective unit test logs, e.g. in this folder:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1128/artifact/testlog/aarch64/debug/

FWIW I didn't see any crashes or any other log messages in the scylla log that explain the unit test failure.
But maybe @kostja can tie the ends better.

[2022-08-15 08:42] syuu1228 commented on #11136
@soyacz /dev/disk/cloud/azure_resource-part1 is "Temporary/Resource Disk", which is pre-configured Azure official Ubuntu distro images, we don't change setting.
It's done in /etc/fstab:
[code]

[2022-08-15 08:43] syuu1228 commented on #11136
So I think we can ignore the warning message.

[2022-08-15 09:07] nyh commented on #11289
I'm worried that this might be nothing more than a "super-overcommitted slow node problem" and this issue means nothing. Let me explain:

For example, https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1128/artifact/testlog/aarch64/debug/scylla-1.log seems to contain the Scylla log for the wasm test failure - https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/11

[2022-08-15 09:09] nyh commented on #11289
P.S. I just realized that although our test/cql-pytest/util.py sets a request_timeout to 120 seconds (because we saw that 10 seconds was sometimes not enough), we don't set connect_timeout, and according to https://docs.datastax.com/en/developer/python-driver/3.25/api/cassandra/cluster/, this one defaults to 5 seconds. Maybe this is not enough! I'll send a patch to increase it.

However, I remembe

[2022-08-15 09:21] avikivity commented on #11289
If this is indeed a super-overcommitted slow node, we should do something to prevent it.

Ideas:
1. stop spewing huge amounts of debug log that clog the disk (and consume CPU time to create)
2. have the harness detect disk congestion (how?) and stop piling on work

[2022-08-15 09:34] nyh commented on #11289
@avikivity since it's been a while since we saw such timeout problems in anything but aarch64 runs, I wonder how those differ from the other run. How do we run aarch64 tests and how is it different from the way we run x86 tests?

[2022-08-15 09:39] bhalevy commented on #11289
FWIW, I see quite a lot of reactor stalls in aarch64 debug runs.  Maybe it just runs extremely slowly due to e.g. the sanitizers on aarch64.

[2022-08-15 09:56] Fornax96 commented on #11223
After I restarted the node the shards did not get stuck until I started a new repair.

I have uploaded a new dump with UUID `7330a0f6-bdca-4894-a590-4368e831ecf3`. The sha256sum is `d88261ceba725d6be0f606c8376e1e2fac6f623657d14febd95c6f6617b3b3f5`

Cores 2, 4 and 6 are stuck currently (counting from 1).

[2022-08-15 09:57] denesb commented on #11223
Thanks. Note that I will be off for the rest of the week, so I'll probably only get a good look at the core next week.

[2022-08-15 10:02] nyh commented on #11289
This connect_timeout parameter may not the problem. I experimented with connec_timeout = 0.001 (which is often too low even on a fast machine) and the error was a bit different:

[code]

Although maybe the same timeout is used in multiple places, and if reached in a different place the error is different.

[2022-08-15 10:27] nyh commented on #11289
The timeout parameter that does exactly reproduce the errors is control_connection_timeout. This one defaults (see https://docs.datastax.com/en/developer/python-driver/3.25/api/cassandra/cluster/) to just 2 seconds. So it's not hard to imagine that on a super-overcommitted setup, it's not enough. I'll prepare a patch to increase those timeouts - just in case.

[2022-08-15 10:36] kostja commented on #11289
* Benny Halevy ***@***.***> [22/08/15 10:02]:

What could possibly be better than the full copy of the log?

--
Konstantin Osipov, Moscow, Russia

[2022-08-15 10:39] kostja commented on #11217
* Asias He ***@***.***> [22/08/15 10:02]:

Yes, we do. But please don't, since we already settled on raft.

--
Konstantin Osipov, Moscow, Russia

[2022-08-15 10:47] nyh commented on #11289
An easier way to find it :-)
But I admit that none of the information was *missing* - it was just harder to find than it could have been.

[2022-08-15 11:10] syuu1228 commented on #11117
Well it's true, but I think it should delayed since we don't need to setup Async IO to just print Scylla version.

Yes, since nonroot installer does not have privilege to change sysctl value since it running in non-root user

[2022-08-15 12:42] nyh commented on #11289
This is a good, and easy, approach. When I wrote test/cql-pytest/run.py (the Python code to run Scylla), I experimented with which over-verbose logs I could removed to reduce the log file dramatically while not giving up too much information. I ended up using:

[code]

As far as I can tell, these specific options were lost in @kostja 's reimplementation, so cql-pytest now (when run through test.py

[2022-08-15 12:45] bhalevy commented on #11289
I think we need more evidence that logging is slowing down the node for making such extensive changes to log levels.

[2022-08-15 13:35] racevedoo commented on #11202
I guess the kill switch is indeed a good idea for a quick fix

[2022-08-15 13:43] #11197 closed

[2022-08-15 13:43] #11237 closed

[2022-08-15 14:01] avikivity commented on #11289
This more about the unit tests, not the tests that run scylla itself. Since they run in parallel with the scylla-running tests, they could affect it indirectly.

[2022-08-15 14:11] laurovenancio commented on #11202
Actually, this is wrong. I misunderstood the partition index purpose. I thought it was an index of rows inside a partition.

[2022-08-15 14:14] nyh commented on #11289
I would guess that most tests do a lot more IO to data files, schema tables, etc., than to the log file, so while it's good to have small logs, my guess is that it won't help here.

On the other hand, to reach conclusions without looking at the actual data on the amount of time it usually takes to run these tests. If on aarch64 + debug it **usually** takes 1.9 seconds to make a connection, then an

[2022-08-15 14:35] avikivity commented on #11289
No, we have tests that have a large log amplification factor over the data they generate and process.

[2022-08-15 14:45] nyh commented on #11289
I wasn't aware of this. Do we have an open issue about this?

[2022-08-15 15:10] avikivity commented on #11289
#11289

[2022-08-15 16:36] nyh commented on #11222
We already have an xfailing test for this - `test_describe_table.py`::`test_describe_table_provisioned_throughput`.

I'll fix this. Should be easy enough.

[2022-08-15 16:45] nyh commented on #11222
@fee-mendes I understand that a library might fail if a value it expects to read is missing, but I'm curious if it actually cares about the numbers. What if we always return on-demand billing mode (and 0 provisioning) even if the user tried to set provisioned billing mode? Would that be fine, or do you think an application might insist that if it created a table with provisioned throughput and som

[2022-08-15 16:58] fee-mendes commented on #11222
@nyh it does care about the numbers in order to control parallelism. See [TableConnector.scala](https://github.com/audienceproject/spark-dynamodb/blob/master/src/main/scala/com/audienceproject/spark/dynamodb/connector/TableConnector.scala) for an understanding on what it does.

That said, I personally don't care if we return all 0s. In essence, when `ProvisionedThroughput = 0` the library will ove

[2022-08-15 20:27] vladzcloudius commented on #9903
You need to be clearer on this, @slivne.
Today this (perftune.yaml generation) is configured by `scylla_prepare` process and I don't see a reason why it should change.
Please, clarify why you think this needs to be changed and how?

[2022-08-15 23:36] ShlomiBalalis opened #11299 "Scylla aborting on startup after enospc"
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220809.3ffc978166ab` with build-id `7da4f902c8209ca890ba8338dbf376529fb6c2fe`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-02b6a6a3-7 (13.50.5.249 | 10.0.0.119) (shards: 7)
- longevity-twcs-48h-master-db-node-02b6a6a3-6 (13.48.135.16

[2022-08-15 23:39] ShlomiBalalis commented on #11299
The issue occurred on another run:
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220809.3ffc978166ab` with build-id `7da4f902c8209ca890ba8338dbf376529fb6c2fe`
Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-200gb-48h-verify-limited--db-node-524c39ba-5 (16.170.143.144 | 10.0.3.44) (shards: 14)
- longevity-20

[2022-08-16 00:10] ShlomiBalalis commented on #9933
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220809.3ffc978166ab` with build-id `7da4f902c8209ca890ba8338dbf376529fb6c2fe`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-02b6a6a3-7 (13.50.5.249 | 10.0.0.119) (shards: 7)
- longevity-twcs-48h-master-db-node-02b6a6a3-6 (13.48.135.16

[2022-08-16 01:26] asias opened #11300 "tools/java does not build"
scylla commit: 934af9be52df9bae661a0d5c65c4e5411da992c9

$ dbuild
$ cd tools/java
$ ant
[code]

[2022-08-16 02:26] #11264 closed

[2022-08-16 03:58] Sen-Gupta commented on #11117
@syuu1228 @roydahan
Gentlemen, We tried to install a dev cluster last evening and ran in to it. What is the stable version, I should be installing for running an evaluation?

[2022-08-16 04:18] Cybergenik opened #11301 "New io_uring integration?"
Not an issue, just thought I'd ask.

Has the ScyllaDB core team looked into the new [io_uring](https://kernel.dk/io_uring.pdf) kernel updates.

Userspace [lib](https://github.com/axboe/liburing)

Considering contributing if this is something that the team would be open to?

[2022-08-16 06:10] fruch commented on #11117
@Sen-Gupta can you tell a bit how you installed it ? using RPM/DEB ? using offline installer ? using images on AWS/GCE/AZURE ? docker ?

anyhow check that `/proc/sys/fs/aio-max-nr` is big enough, see the calculation in:
https://github.com/scylladb/scylladb/commit/d0297c599afadd808f00f88ac4b9f55631cb543a

you should set it to something like `cpu_count() * 11026`, for scylla to function correctly
RP

[2022-08-16 06:25] Sen-Gupta commented on #11117
@fruch Thanks for response.
Apologies for half baked question above.

This install is on docker on-prem. The server has 56 core.

I'm assuming the changes mentioned are required on host OS?

Are there steps outlined anywhere as it needs to go Infra team?

[2022-08-16 06:40] fruch commented on #11117
@Sen-Gupta
I don't think there's a documentation covering docker specifically, since most configuration is identical to installation on VM.

Most of the docker specific knowledge is backed into the scylla-operator

Anyhow I would suggest asking those on the docker user slack room:
https://scylladb-users.slack.com/archives/C5RBUC0ES

or the scylla-opertaor room:
https://scylladb-users.slack.com/arc

[2022-08-16 06:53] Sen-Gupta commented on #11117
@fruch , Thanks!
I think, the information is available  with the docker image itself.
https://hub.docker.com/r/scylladb/scylla

[2022-08-16 09:20] avikivity commented on #10697
Should we backport this?

Pro: looks like a safe backport and prevents a crash
Con: no one ever complained, not a regression

@bhalevy

[2022-08-16 09:21] avikivity commented on #10689
No vulnerable branches, not backporting.

[2022-08-16 09:27] avikivity commented on #10417
5.0 backport: 23a34d7e42fe25fd84cdc7ebc1270f761b6b793c
4.6 backport: 14e13ecbd476b35b176e0712ed8d656ab911b3fe

[2022-08-16 09:27] Felix-zhoux commented on #11080
Hi @avikivity @slivne  I suffered from this problem again. too many open files, causing the service to restart automatically and not start up(maybe something with k8s).

The fault site is not reserved, but I have queried the situation of other nodes. Taking this node as an example, I have queried the following data：
[code]

Most of those open files are datafiles, and about half of which were marke

[2022-08-16 09:49] avikivity commented on #10384
@enaydanov was this a regression? I'm evaluating whether to backport or not.

I'm leaning not to, it looks like a minor problem.

[2022-08-16 10:40] SpenceUK commented on #10135
I have had the same issue with 4.6 using an M1 Mac with Docker Desktop. not had same issue with latest images.

[2022-08-16 10:46] rzetelskik opened #11302 "Node decommissions successfully in a split-brain cluster, forever staying DL for its peers"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.6.3, not tested against other ve

[2022-08-16 11:14] Sune357 commented on #11214
The cluster size is 64 physical servers (one scylla instance per server), 2048 cores, 128G RAM per node and 700T of used space.
I've uploaded the coredump. Report id: a64d60d7-c029-49cb-a599-619f39c7a9b3.

[2022-08-16 12:39] avikivity commented on #11301
It's already integrated since 8f690fdd47ba840360ca38620359be9a3ae09c58

[2022-08-16 12:39] #11301 closed

[2022-08-16 12:41] avikivity commented on #11080
What compaction strategy are you using?

Please provide the output of `find /var/lib/scylla -ls` and the number of shards in your nodes.

[2022-08-16 12:42] avikivity commented on #11080
Also, scylladb version.

[2022-08-16 12:49] avikivity commented on #1459
Performance, not regression, not backporting.

[2022-08-16 12:50] avikivity commented on #6208
Fix present on all active branches, not backporting.

[2022-08-16 12:53] avikivity commented on #4706
Build only, not backporting.

[2022-08-16 13:01] avikivity commented on #4116
Important fix, but not a regression (and a big change), so not backporting.

[2022-08-16 13:03] avikivity commented on #4469
Fix present on all active branches, not backporting.

[2022-08-16 13:04] geobeau commented on #10337
Switching `system_auth` to `distributed everywhere topology` did the trick, the gossip settling takes only maximum 10 to 20 seconds

[2022-08-16 13:04] avikivity commented on #4588
Major change, and not a regression, not backporting.

[2022-08-16 13:06] avikivity commented on #6789
Fix present on all active branches, not backporting.

[2022-08-16 13:08] avikivity commented on #7586
Not backporting as it's not a regression.

[2022-08-16 13:18] bhalevy commented on #10697
The scenario in this issue doesn't happen under normal circumnstances. It takes a human error to hit it, so I it doesn't warrant a backport.

[2022-08-16 13:29] avelanarius commented on #11300
Can't reproduce the issue. Did you try cleaning old build files?

$ mkdir cleanbuild
$ cd cleanbuild
$ git clone https://github.com/scylladb/scylladb.git
$ cd scylladb/
$ git checkout 934af9b
$ git submodule update --init --force --recursive

$ ./tools/toolchain/dbuild
bash-5.1$ cd tools/java/
bash-5.1$ ant
[code]
bash-5.1$ ant build
[code]

[2022-08-16 13:32] avikivity commented on #10697
Ok, not backporting.

[2022-08-16 15:29] gusev-p commented on #11235
For the `io_fiber` [stepdown code](https://github.com/scylladb/scylladb/blob/master/raft/server.cc#L903) to work, both the `joint` and the final `non-joint` configuration must pass through `fsm`, this ensures that `_non_joint_conf_commit_promise` [will be set](https://github.com/scylladb/scylladb/blob/master/raft/server.cc#L883) at that point. This can however happen before the code in `set_config

[2022-08-16 15:36] kbr- commented on #11235
if _non_joint_conf_commit_promise already set, since in fact it means that the operation succeeded.

Perhaps that would solve this particular problem.

However I think we're onto something bigger here. When a leader commits an entry that removes it, it should mark all waiters that can be marked at this point before dropping waiters. This would improve liveness in general, not just for this problem

[2022-08-16 17:04] nyh commented on #5068
I just had a discussion with a user who was interested to see this feature implemented. This user has a single application, but it serves a fair number (say, 100) separate customers - and stores each customer's data in a separate DynamoDB table. By using separate DynamoDB tables, DynamoDB guarantees that one busy customer cannot hurt the performance (e.g., latency) of other customers. They use pro

[2022-08-16 17:19] avikivity commented on #10135
5.0.1 works. Comparing the output of skopeo inspect --raw for the bad and good images:

[code]

Maybe the mediaType change confuses some docker implementations.

[2022-08-16 17:20] avikivity commented on #10135
Closing as fixed in 5.0.1. If anyone still sees a problem, please report it here.

[2022-08-16 17:20] #10135 closed

[2022-08-16 19:27] dorlaor commented on #5068
What about using the new per partition rate limit feature of ours?
It's not exactly the same as what they ask but it's as good enough

On Tue, Aug 16, 2022 at 8:05 PM nyh ***@***.***> wrote:

[2022-08-16 21:07] vladzcloudius commented on #11217
@kostja As much as I understand where you are coming from unless we are going to have a GA Raft-based solution that is backportable (!!!!)  to our Enterprise builds (based on 4.6 (2021.1.x) and 5.0 (2022.1) OSS versions) in a matter of single digit weeks from now I don't see how we can afford following your advice.

And AFAIK we are NOT going to have the above condition satisfied.

[2022-08-16 23:04] roydahan commented on #9807
What do we want to do with this?
Currently there is very simple test 3h longevity that fails consistently with this issue.

[2022-08-16 23:21] #8745 closed

[2022-08-16 23:21] #10707 closed

[2022-08-16 23:21] #2962 closed

[2022-08-17 03:14] Felix-zhoux commented on #11080
All keyspaces are default compaction strategy SizeTieredCompactionStrategy.

[find.zip](https://github.com/scylladb/scylladb/files/9356007/find.zip)

scylladb version is release v4.6.3

[2022-08-17 04:28] denesb commented on #3288
I think this will become almost naturally solved once we implement the unified v2 internal format. AFAIK we established that we want to store range tombstone markers in/next to rows. In that case, when evicting a row with any range tombstone marker on it, we just move the marker to the next row. If no other row in range, or next row already a marker (current range tombstone ends ther), we drop the

[2022-08-17 06:16] bhalevy commented on #4077
Nowadays read-based OOM issues are rare enough with everything done so far that we can close this issue.
For tracking a class of issues, let's use labels are/or a project (like we have for compaction related issues).

[2022-08-17 06:16] #4077 closed

[2022-08-17 06:25] bhalevy commented on #4297
According to @denesb the work we've already done in the reader concurrency semaphore area is sufficient to prevent OOM caused by readers, so we can deprioritize this (and similar, theoretical) issues.
I'll let him fill-in the details :)

[2022-08-17 07:06] asias commented on #10296
I will take another look at the latest reproducer:

https://github.com/scylladb/scylladb/issues/10296#issuecomment-1207428193

[2022-08-17 07:23] bhalevy commented on #11288
Hit again https://jenkins.scylladb.com/job/scylla-5.1/job/next/12/artifact/testlog/x86_64/debug/randomized_nemesis_test.basic_generator_test.6678.log

[2022-08-17 07:29] bhalevy opened #11303 "heap-use-after-free hit in cross_shard_barrier_test"
Seen in https://jenkins.scylladb.com/job/scylla-master/job/build/1132/artifact/testlog/aarch64/debug/cross_shard_barrier_test.2404.log
Scylla version 055340ae39ba7701e798ca370d01d343c28ac231
[code]

Decoded:
[code]

[code]

Decoded:
[code]

[code]

Decoded:
[code]

[code]

[2022-08-17 07:33] bhalevy commented on #11303
@xemul I'm not sure if the bug is it the cross-shard barrier itself or in the test.

[2022-08-17 07:53] nyh opened #11304 "cql-pytest: test_tls_versions fails when SSL is enabled"
The test `test_ssl.py::test_tls_versions` fails when Scylla is run with SSL encryption of the CQL connection, i.e., with:
[code]

Note that as expected, this failure did not cause failures in Jenkins because it doesn't try to run tests with "--ssl".

The failure happens when the test tries to connect to Scylla with an SSL version which Scylla does not allow (e.g., TLS 1.1), and instead of getting

[2022-08-17 08:13] asias commented on #10296
Even with https://argus.scylladb.com/workspace?state=WyI4ZGFmZGYyYS05NTY2LTRiYzktODU5OS02MWU0MGY1NDcwNjciLCJjYTFhYzg5NS03OGMwLTRhYmQtODBkNS0wYmE2ZGM3ODQ0YmYiXQ, it is pretty hard to build what ops was performed and the status of the cluster.

@ShlomiBalalis  Can you confrim what nodes were in the cluster when the truncate ops was run?

This is my guess:

[code]

For example:

![image](https://user

[2022-08-17 08:27] asias commented on #10296
`
There are only 4 nodes in this scenario, and that stays true throughout the whole run. While there are nemeses that add and remove nodes, there was no "leftover" node from any of them at any point, both according to our logs and according to the "nodetool status" commands.`

What was the output of nodetool status when truncate was performed? Do you have it?

[2022-08-17 08:29] asias commented on #10296
There was tons of "Commitlog shutdown complete" messages. Rings a bell?

[code]

$ cat 6|grep 'Commitlog shutdown complete'|wc -l
190404

[2022-08-17 08:34] asias commented on #10296
@ShlomiBalalis

Let's collect the following on all the nodes in the cluster when truncate fails in sct.

- nodetool stauts
- nodetool gossipinfo
- nodetool ring
- nodetool describecluster

So we can know what was going on.

[2022-08-17 09:01] geobeau opened #11306 "Unefficient range query on keyspace with EverywhereStrategy"
We are using `system_auth` with the default authorizer. Requests are timeouting when using `LIST ALL PERMISSIONS`.
Under the hood the query made is equivalent to `SELECT role FROM system_auth.role_permissions;` with consistency level ONE.
Doing it on the cluster will result in timeout but I have managed to extract a trace with a limit to 1: `SELECT role FROM system_auth.role_permissions LIMIT 1; .

[2022-08-17 09:22] avikivity commented on #11038
No large allocation warnings in the logs.

[2022-08-17 09:24] avikivity commented on #11038
We have lsa detailed logging:

[code]

[2022-08-17 09:26] avikivity commented on #11038
That's preemptible allocation, so it's either a huge bug in preemptible allocation, or a kernel stall.

[2022-08-17 09:28] avikivity commented on #11038
It's blanketed by sudo calls:

[code]

[2022-08-17 09:29] avikivity commented on #11038
I don't know if we can trust these lsa-timing reports, there's way too many of them.

[code]

[2022-08-17 09:32] avikivity commented on #11038
More than half are for 7999ms:

[code]

[2022-08-17 09:33] avikivity commented on #11038
@bhalevy please assign someone to fix these bogus reports
@fgelcer please change the test not to ssh into the node all the time (and not to fork/exec all the time), these operations are expensive and can disturb the measurement.

[2022-08-17 10:45] bhalevy commented on #11038
Bogus in what way?
In that we should not log preemptible reclamation that took a long time?
(I which we could know definitely if a stall happened, despite being preemptive)

[2022-08-17 10:48] avikivity commented on #11038
I don't believe we had 10000 events of reclamation taking exactly 7999 us.

[2022-08-17 11:01] bhalevy commented on #11038
We use CLOCK_MONOTONIC_COARSE, so the resolution isn't 1 us.
I'm not sure what it is but it's >= 1ms for sure.

[2022-08-17 11:03] avikivity commented on #11038
It's "the time at the last tick" so has to be at least 0.5ms resolution.

[2022-08-17 11:17] enaydanov commented on #10384
I didn't find any evidence of this problem in the past, so, it looks like a regression, but the problem is pretty minor for me.

[2022-08-17 11:25] eliransin commented on #11289
@DoronArazii need to figure out if it is important to 5.1

[2022-08-17 11:26] avikivity commented on #11306
/cc @denesb  @bhalevy

Tables with few rows are known to behave badly on full scans, perhaps large clusters make them worse.

[2022-08-17 11:29] eliransin commented on #11288
@DoronArazii figure out if this is important enough for a high label.
cc @slivne

[2022-08-17 11:39] tgrabiec opened #11307 "Mutation merging involving dead row marker and shadowable tombstones but no row tombstone is not associative"
Given 3 row mutations:
[code]

We get different shadowable tombstones depending on the order of merging:
[code]

The reason is that in the second case the shadowable tombstone in m3 is shadwed by the row marker in m2. In the first case, the marker in m2 is cancelled by the dead marker in m1, so shadowable tombstone in m3 is not cancelled (the marker in m1 does not cancel because it's dead).

This

[2022-08-17 11:40] kbr- commented on #11288
I don't think it is, Raft is experimental and the test is for Raft.
But I'll investigate it now anyway.

[2022-08-17 12:18] nyh commented on #11289
@eliransin I sent a patch (and it was merged) increasing the 2-second timeout that caused most (all?) of the failures we saw in the cql-pytest tests.  @alecco also sent a similar patch for the topology tests (which had their own copy of the cql connection code).  Now I don't know what to do in this issue except wait and see if this flakiness goes away - and if it goes away close this issue.

[2022-08-17 12:25] wmitros opened #11309 "UDAs do not survive restart"
After creating a user aggregate using `CREATE AGGREGATE ks.a (int) SFUNC rowf STYPE int FINALFUNC finf INITCOND 0;`  and restarting Scylla using
```./build/release/scylla --developer-mode=true --workdir=/xfs/tmp --experimental-features=udf --enable-user-defined-functions=true --skip-wait-for-gossip-to-settle=0```
 to start and Ctrl+C to stop, the user aggregate `ks.a` no longer works.

When trying

[2022-08-17 13:22] avikivity commented on #11080
[code]

[2022-08-17 13:23] avikivity commented on #11080
68k sstables with 96 shards = 716 sstables/shard. That's too much for size-tiered. /cc @raphaelsc

[2022-08-17 13:24] avikivity commented on #11080
There are about 300k sstables, so that's 600k open files right there.

[2022-08-17 13:30] avikivity commented on #11080
Is it busy doing compactions? Perhaps such a large machine needs more open files to keep up.

[2022-08-17 13:42] raphaelsc commented on #11080
Maybe it's https://github.com/scylladb/scylladb/issues/10462

Suspected as maintenance set will have repaired_vnodes * RF sstables. With repaired_vnodes=256 and RF=3, we get to > 700 files per shard.

Shared log also have this:
[code]

[2022-08-17 13:45] raphaelsc commented on #11080
@avikivity https://github.com/scylladb/scylladb/commit/ff7922817869e1c90c0e0c1e6982147b3b253f61 cooked in branch 5.0. can we backport it to 4.6?

[2022-08-17 13:46] raphaelsc commented on #11080
@Felix-zhoux please also share schema of alternator_obj_meta_general_7/obj_meta_general_7 and at least a few hours of logging from the ocurrence of the problem.

[2022-08-17 13:51] avikivity commented on #11080
Ah good explanation.

[2022-08-17 14:11] bhalevy commented on #11288
Maybe raft is experimental, but it's strategic for us since several other important features depend on it, like tablets.

[2022-08-17 14:39] roydahan commented on #9807
Please work with @juliayakovlev who wrote this test and already proved it's working.

[2022-08-17 14:43] tgrabiec opened #11311 "Avoid spamming the log with warning during commitlog replay"
Since 3b20407f2536de65bb599116876095bd5ec6a585, we use two different commit log managers, one for regular tables and one for schema tables. They put commit log files in the same directory but with different name patterns. On replay, they will ignore files belonging to the other manager, but will warn about this, spamming the logs. It's a bad user experience.

[2022-08-17 16:01] tgrabiec commented on #11307
One case I'm not sure about is when the marker is expiring. Eventually it will become dead, and we will be subject to this scenario.

[2022-08-17 16:26] tgrabiec commented on #11307
Mutation compaction will turn such a marker into a virtual row tombstone by the means of this code:

[code]

Does that cover all the cases?

[2022-08-17 19:07] bhalevy commented on #11299
Looks like a duplicate of #11245

[2022-08-17 20:23] fgelcer commented on #11038
i have created an issue in SCT for it, and we will be investigating and fixing it once finding the root cause of these multiple connections:
https://github.com/scylladb/scylla-cluster-tests/issues/5147

[2022-08-18 03:27] fgggid opened #11314 "Issue in page How to flush old tombstones from a table"
I would like to report an issue in page https://docs.scylladb.com/master/kb/tombstones-flush

### Problem
syntax of nodetool flush/compact is wrong.

###  Suggest a fix
remove the dot between keyspace and table

[2022-08-18 03:34] fee-mendes opened #11315 "Alternator - Scan operation returns a different hashing order than DynamoDB"
*Installation details*
HEAD https://github.com/scylladb/scylladb/commit/055340ae39ba7701e798ca370d01d343c28ac231

**Description**

I decided to raise this "issue" (which may not be really a bug per se, but rather a missing documentation aspect) while going through [DynamoDB Streams Kinesis](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.KCLAdapter.Walkthrough.CompleteProg

[2022-08-18 07:15] bhalevy opened #11316 "test_shutdown_all_and_replace_node: node fails to start: waiting for schema information to complete"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/78/testReport/replace_address_test/TestReplaceAddress/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split012___test_shutdown_all_and_replace_node_rbo_enabled_/
and https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/78/testReport/replace_address_test/TestReplaceAddress/R

[2022-08-18 07:15] bhalevy commented on #11316
@kbr- could this be related to 08842444b412857d9bf758639fb6788193afc2d8?

[2022-08-18 07:17] bhalevy commented on #11316
Cc @asias

[2022-08-18 07:37] bhalevy commented on #11316
verified by git bisect

[2022-08-18 09:36] avikivity opened #11319 "container image needs extra help to expose the REST API"
`podman run -it --rm -p 10000:10000 docker.io/scylladb/scylla:5.0.1 --smp 1`

Does not really expose the REST API because the default listener is on localhost:10000, and podman/docker redirect to some other IP address.

`podman run -it --rm -p 10000:10000 docker.io/scylladb/scylla:5.0.1 --api-address 0.0.0.0 --smp 1`

works.

[2022-08-18 11:17] DoronArazii commented on #11316
@avikivity ^^

[2022-08-18 11:23] horschi opened #11322 "scylla-server.service:26: Standard output type syslog is obsolete"
*Installation details*
Scylla version (or git commit hash): 5.0.1
Cluster size: 9+1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 22.04

I have seen a systemd warning, complaining about a invalid setting in the scylla-server service file:

Aug 12 08:54:06 p-L10-3 systemd[1]: /lib/systemd/system/scylla-server.service:26: Standard output type syslog is obsolete, automatically updating to journal. Please u

[2022-08-18 11:31] kbr- commented on #11316
The test shuts down all 3 nodes, then restarts 2 of them. When they restart, they no longer remember the `SUPPORTED_FEATURES` application state of the 3rd node, because application states of other nodes is not persisted. When the 4th node wants to replace the 3rd node, it doesn't learn its `SUPPORTED_FEATURES` and calculates empty common features by the cluster.

Before my patch it would ignore th

[2022-08-18 11:49] horschi opened #11323 "Suddently quorum exceptions"
*Installation details*
Scylla version (or git commit hash): 5.0.1
Cluster size: 9+1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 22.04

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): bare metal
Hardware: sockets=1 cores=6 hyperthreading=12 memory=64GB
Disks: 2x SSD

We recently had an issue with our scylla cluster, where our application was suddenly repor

[2022-08-18 12:03] avikivity commented on #11316
Reverted.

[2022-08-18 12:12] avikivity commented on #11322
/cc @syuu1228

[2022-08-18 12:15] avikivity commented on #11323
Please check the Advanced dashboard, Query Queue Delay and related metrics. Query Queue Delay is the direct cause of timeouts when disk bound.

[2022-08-18 12:32] kbr- commented on #11288
The following code in raft/server.cc, `set_configuration` can sometimes hang:
[code]

on `co_await std::move(f)`. That's because we may get removed from the configuration after committing the joint config entry (so the `co_await wait_for_entry(...)` line finishes), but before we commit the non-joint config entry. So some other node will finish the config change and we'll never learn about it.

The

[2022-08-18 16:07] wmitros opened #11327 "Can't drop a keyspace if there are UDAs in it"
While working on #11310, I found that if we attempt to drop a keyspace that contains a UDA, the keyspace becomes problematic: if we try to create another keyspace with the same name, we receive an error `AlreadyExists: Keyspace 'ks' already exists`, if we try to `DESCRIBE` it, we get `Keyspace 'ks' not found.`, and if we try to `DROP` it again, we receive no error, while we should get `Configurati

[2022-08-18 16:40] horschi commented on #11323
@avikivity : There are some sporadic spikes:
![image](https://user-images.githubusercontent.com/4181065/185448580-d3dcbf1e-2834-482f-9475-96747c5549b2.png)

More IO queue stats:
![image](https://user-images.githubusercontent.com/4181065/185449008-e9c1b9bd-bec2-4972-8bf9-947c3a8c5853.png)

![image](https://user-images.githubusercontent.com/4181065/185449052-8b00cab9-8b5a-4554-85fd-1d46baf83e93.png)

[2022-08-18 16:57] cvybhu opened #11328 "Rust driver documentation is not searchable"
Search results on https://rust-driver.docs.scylladb.com/stable/index.html don't include docs for rust driver.

For example searching for `Default Retry Policy` gives some results, but none of them are from rust driver book: https://rust-driver.docs.scylladb.com/stable/index.html#q=default%20retry%20policy

Broken search severely limits usability of these docs.

When viewing search results on the l

[2022-08-18 17:26] nyh commented on #11327
Odd. Sounds like we can easily write a cql-pytest (or cql or C++ or whatever) test for this. Please check if this problem is specific to UDAs, or do other things such as UDFs, UDTs, or (anything else I can't think of right now) can also cause similar problems.

[2022-08-18 17:35] cvybhu commented on #11328
It fits better in https://github.com/scylladb/scylla-docs/issues/4151, sorry, closing.

[2022-08-18 17:35] #11328 closed

[2022-08-18 23:33] #11316 closed

[2022-08-19 02:40] Felix-zhoux commented on #11080
[code]
[logs-unitl-openfiles.zip](https://github.com/scylladb/scylladb/files/9378809/logs-unitl-openfiles.zip)

[2022-08-19 07:28] wmitros commented on #11327
The reproducer is in fact very simple:
[code]
I tested if there's a problem with UDFs, UDTs and there are no issues (unsurprisingly, tables and indexes work as well)

[2022-08-19 12:16] fee-mendes commented on #11319
I think that until we add some sort of authentication to the REST API it should default to localhost as direct access to it can introduce security concerns.

In particular, today, the correct (read: secure) way of sending commands to the RestAPI from an external system would be via the `scylla-manager-agent`. As in:

[code]

Where `${TOKEN}` is the agents defined `auth_token`

[2022-08-19 13:06] fee-mendes commented on #11302
I think this is a (much worse) variation of https://github.com/scylladb/scylladb/issues/11011#issuecomment-1182734632 ?

In particular, in that scenario the operation would fail as one node couldn't reach the decommissioned node, but decommission would proceed and succeed anyway. However, for larger tables it would always fail and avoid the race.

@asias mentioned in the aforementioned issue that

[2022-08-19 13:52] unicomp21 opened #11331 "Can we enable discussions on this repo? To improve signal/noise ratio in issues?"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubunt

[2022-08-19 16:19] tgrabiec commented on #11316
This is similar to https://github.com/scylladb/scylladb/issues/6088

We already persist supported features in `system.peers`. Perhaps other nodes should gossip this on behalf of the nodes which are down. We already do this for TOKENS and HOST_ID. See `gossiper::add_saved_endpoint()`.

[2022-08-19 16:23] kbr- commented on #11316
In order to do this correctly, we would need to persist the *version* of the application state as well - otherwise our regossiping on behalf of others may overwrite a new value with a higher version gossiped by the source.

We should also have a generic correct mechanism for making application states of other nodes persistable, not solve it for each state separately in a buggy way.

[2022-08-19 16:24] kbr- commented on #11316
I would imagine we could have a table which for each application state marks whether it should be persisted or not.
The ones that don't affect safety (such as CACHE_HITRATES) would not be persisted. The ones that do, would be.

[2022-08-19 16:42] tgrabiec commented on #11316
The way it currently works is that endpoint states are added with generation 0, which means they will be overwritten by anything which actually comes from the node which is down, possible through the memory of some other node. This is not monotonic unfortunately, the persisted view may be newer. We should persist generation and version like you mentioned.

[2022-08-20 13:28] tzach opened #11333 "Docs: Issue in page Scylla Alternator for DynamoDB users - link rendering"
I would like to report an issue in page https://docs.scylladb.com/master/alternator/compatibility

### Problem
The links in the doc does not automatically render as links
Random example
![image](https://user-images.githubusercontent.com/170200/185748302-09f9db49-0790-4be3-a385-0715f965ec70.png)
The two links are text, not links

###  Suggest a fix

This is should be probably fix in the Sphinx conf

[2022-08-20 13:29] tzach commented on #11333
@dgarcia360 can you please take a look?
@annastuchlik @nyh FYI

[2022-08-20 14:45] psarna commented on #11307
Following a private conversation that ultimately led to Tomek finding dead_marker_shadows_row (https://github.com/scylladb/scylladb/issues/11307#issuecomment-1218242673), it was definitely meant to cover all the cases by the code author[1], and it does look like `compact_and_expire` is always performed on a mutation before it's used anywhere. So I'm moderately sure all cases are covered in user-fa

[2022-08-20 14:52] tzach commented on #11315
Agree this is a doc, not implementation issue.
@fee-mendes can you send a quick PR for this?

[2022-08-20 16:16] avikivity commented on #11319
The container manager takes responsibility for security. For example, if you omit -p 10000:10000, you don't have access to the REST API. If you write -p 127.0.0.1:10000:10000, the REST API will only be available on the host's localhost.

[2022-08-21 07:00] fruch commented on #11302
@asias can you take a look into this one ?

[2022-08-21 09:00] nyh commented on #11333
This is a duplicate of https://github.com/scylladb/scylla-docs/issues/3319 and https://github.com/scylladb/sphinx-scylladb-theme/issues/107 (the former was closed after opening the latter).

In general, our "*.md" files should be in the "github markdown format", and should support the same features that github does because that is what the developers will typically use to view their .md files. Her

[2022-08-21 09:44] tzach commented on #11333
AFAIU, create a link from a "clean" URL is not part of [Markdown spec](https://github.github.com/gfm/#autolinks)
Instead, we can use the `< URL >` notion for example:
[code]
As you can see below, it render in Github as well:
<https://github.com/scylladb/alternator-load-balancing/>

[2022-08-21 11:03] yarongilor opened #11336 "quorum read query fails after scyla was restarted on one node."
scenario: ran a PR test on 5.2.0-dev. node3 was stopped and then started after some delete-queries on nodes 1,2.
Then a quorum read failed.

Test full details: https://jenkins.scylladb.com/job/sct-github-PRs-scan/job/scylla-dtest/job/PR-2812/6/testReport/junit/compaction_test/TestCompaction/test_delete_tombstone_gc_node_down_TimeWindowCompactionStrategy_/

Scylla build details:
[code]
[code]

[2022-08-21 12:22] bhalevy commented on #8234
next-2021.1 looks much better since https://jenkins.scylladb.com/view/enterprise-2021.1/job/enterprise-2021.1/job/next/633/ 2741e81c28a7a446614d9331d3e6bdd285121516

[2022-08-21 12:54] ShlomiBalalis commented on #10296
The last nodetool status before the failure:
[code]
The four nodes that are alive at that time: node 1 (13.49.46.223 | 10.0.2.218), node 4 (13.53.111.243 | 10.0.3.225), node 5 (13.48.105.6 | 10.0.3.242) and node 6 (13.50.5.151 | 10.0.2.77), all of them UN.

Gossipinfo from each node:
node 1:
[code]
node 4:
[code]
node 5:
[code]
node 6:
[code]

We do not seem to execute the nodetool ring and descri

[2022-08-22 05:54] denesb commented on #11306
Refs: https://github.com/scylladb/scylladb/issues/6599

[2022-08-22 06:24] benipeled commented on #11289
The issue still occurs, ex. https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1140/testReport/

[code]

[2022-08-22 07:05] asias commented on #11302
Hello, could you attach the scylla node logs here.

I looked at the logs mentioned here: https://github.com/scylladb/scylla-operator/issues/982#issue-1241564734

Logs
[kubernetes-ec2f57f5.tar.gz](https://github.com/scylladb/scylla-operator/files/8728116/kubernetes-ec2f57f5.tar.gz)

But I couldn't find scylla node logs.

[2022-08-22 07:19] asias commented on #11302
[code]
This is a very weird situation. How did we end up with the network situation above?

I know why the node stays DL forever. The problem is that with node_ops_cmd based node operation, we still rely on the gossip status of STATUS_LEFT from the node being decommissioned to notify other nodes this node has finished decommission and can be moved from STATUS_LEAVING to STATUS_LEFT.

I think we ca

[2022-08-22 07:25] xemul commented on #10950
@avikivity , actually unless scylladb/seastar@84c8298378aca87bc15b4ba6ee2d3186f0be07ad is backported, that fix is not needed

[2022-08-22 07:36] fruch commented on #11302
yes, we have dtest based reproducer here:
https://gist.github.com/fruch/7487febf59afd60a7972a08e4ef44daf

[2022-08-22 07:41] xemul commented on #9076
I didn't

Yes we have. There was a whole lot of issues with RAID1(EBS, RAID5(NVME0, ..., NVMEn)) setup coming ftom both -- RAID5 and RAID1. We had a recommendation how to tune up RAID1 for acceptable behavior, but for RAID5 the recommendation was -- use something else

[2022-08-22 07:50] alecco commented on #11289
As the test writer, I don't have an issue with disabling it for debug mode.

Also, it _might_ be an issue in the driver itself as it uses an older async mode (`gevent`|`eventlet`|`libev`|`asyncore`) while our test code uses `asyncio`. (`asyncio` support is experimental and not fully implemented).

The driver [picks in the above order](https://github.com/scylladb/python-driver/blob/master/cassandra

[2022-08-22 07:59] avikivity commented on #11306
This is a more general case, but essentially the same. When RF=#nodes and the table is almost empty we're quite bad.

Although, for EverywhereStrategy there is a simple fix. We can ignore the cluster tokens and only have one token (say 2^63-1). Then we have just one vnode.

[2022-08-22 08:00] avikivity commented on #11306
Maybe we have to have at least one token per node, not sure. So maybe it's better to apply a general fix like #6599 wants.

[2022-08-22 08:15] JerryKwan opened #11340 "Empty output when executing query with ALLOW FILTERING"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 5.0.1-0.20220719.b177dacd3
Cluster

[2022-08-22 08:23] avikivity commented on #11323
Please share your io-properties.yaml.

@amnonh @xemul let's split the I/O Queue delay chart into two: one with total_delay_sec and one with total_exec_sec. The values are too different to be on the same chart.

[2022-08-22 08:24] tzach commented on #11340
Can you please provide a full CQL statement?

[2022-08-22 08:26] avikivity commented on #11323
@horschi meanwhile please hover over the spikes and see if the spike is attributed to "Queue"  or "Disk".

[2022-08-22 08:33] JerryKwan commented on #11340
@tzach
You can use the following CQL to do some tests
[code]
and the schema of records is
[code]
The output of executing in cqlsh is "---MORE---", but when executing the same CQL using the cassandra's Python SDK, the output is something like {'source': 'a_sale', 'date': Date(19226), 'update_time': 1661155064163858, 'record_id': '5e6a56b3', 'details_hash': '7b2ee4b8f739c55035f02e72d562007a60e9564fb

[2022-08-22 08:39] rayakurl opened #11341 "Scylla documentation: some default values are incorrect in "Scylla Auditing Guide""
https://docs.scylladb.com/stable/operating-scylla/security/auditing

"audit" default parameter value is 'table' by default (not 'none')

"audit_categories" default value is 'DCL,DDL,AUTH,ADMIN'  (not an empty string)

[2022-08-22 09:36] yarongilor opened #11342 "A wrong order of a select-query output during a rolling upgrade"
## Installation details

Kernel Version: 3.10.0-1160.71.1.el7.x86_64
Scylla version (or git commit hash): `5.1.0~rc0-20220810.86a6c1fb2b79` with build-id `d51c680d1144de4ce17166a8f1d53816b3a26368`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade--centos-db-node-f219d237-0-4 (35.243.224.170 | 10.142.0.46) (shards: 8)
- rolling-upgrade--centos-db-node-f219d237-0

[2022-08-22 09:40] nyh opened #11343 "Unit tests hang on errors in command-line argument"
It's very annoying that errors in command-line arguments to our unit tests cause a hang. For example:
[code]
Here the error is that "--run-test" is in the wrong place, and should be called "--run_test" ;-)
After that last message, the test simply hangs (apparently forever), and cannot be killed with control-C or even SIGTERM - only SIGKILL can kill it, which is difficult and annoying.

Let's fix i

[2022-08-22 10:10] aleksbykov commented on #11228
Issue reproduced:

## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220809.3ffc978166ab` with build-id `7da4f902c8209ca890ba8338dbf376529fb6c2fe`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-master-db-node-841a7439-9 (16.16.66.133 | 10.0.2.165) (shards: -1)
- longevity-100gb-4h-master-db-node-841a7

[2022-08-22 10:28] soyacz opened #11344 "Malformed sstables get evicted on compaction"
*Installation details*
Kernel version: `5.13.0-1031-aws`
Scylla version (or git commit hash): `5.0.0-0.20220628.c9e79cb4a with build-id daef393310f38c086a6e5070c8f2013684973a48`
Cluster size: 4 nodes (i3.large)
Scylla running with shards number (live nodes):
   longevity-mini-test-upload-s-db-node-c1adb7dd-1 (54.154.136.243 | 10.4.3.232): 2 shards
   longevity-mini-test-upload-s-db-node-c1adb7dd-2

[2022-08-22 10:53] nyh commented on #11289
As I noted elsewhere (I think a mail thread), my guess is that run_async() uses a **different** timeout parameter than the ones I already changed. Note how I tried to fix tests in test/cql-pytest (and all failures involved making the connection), but this is a test/topology (and involves timeouts in the requests themselves, not a connection).

@alecco can check whether the cql library has a differ

[2022-08-22 10:59] tzach commented on #11340
I think this is relevant
https://docs.scylladb.com/stable/kb/cqlsh-more.html

[2022-08-22 11:01] nyh commented on #11289
@alecco the reason why we run all tests in debug mode is that debug mode gives up:
1. Sanitizers, so if the code path activated by the test reaches some undefined memory access and so on, we'll catch it. Running all the tests is the best way to (hopefully) exercise all code paths.
2. Various optional sanity checks in the code - again we need to run the tests to (hopefully) exercise all the code pa

[2022-08-22 11:02] soyacz opened #11346 "Issue in page Scylla SSTable - 3.x - recent default sstable format"
I would like to report an issue in page https://docs.scylladb.com/master/architecture/sstable/sstable3/index

### Problem
`In Scylla 3.1 and above, mc format is enabled by default.` - This is no longer true I believe, as currently `md` format is default one (although I don't know which version it started to be).
###  Suggest a fix

[2022-08-22 11:05] slivne commented on #11252
@bhalevy ping

[2022-08-22 11:05] tzach commented on #11346
@soyacz please point to the relevant commit with this change, so we can document when md become the default.
Also, you can now edit each doc page directly. Look for Edit this page" on the right side of the page

[2022-08-22 11:14] slivne commented on #11202
@bhalevy we may need to reassign this to someone else to provide the simple flag to disable ...

[2022-08-22 11:20] roydahan commented on #11336
This test wasn't reviewed and merged yet, so we can't tell yet if it's a real issue or not.

[2022-08-22 11:20] slivne commented on #11289
@nyh / @alecco is one of you actively working to fix this / reproduced this ?

[2022-08-22 11:20] #11336 closed

[2022-08-22 11:21] roydahan commented on #11336
You can re-open it when it'll be decided as a real issue.

[2022-08-22 11:22] nyh commented on #11340
@JerryKwan if you press enter on this "MORE" a few times, do you get results? If you never get any results in any page, this is an outright bug. But I suspect that eventually you will get a page with some results:

As the document that @tzach pointed to explains, if you have a lot of data in your database but the SELECT filter is very specific, Scylla may need to read a lot of data just to discove

[2022-08-22 11:27] nyh commented on #11289
I fixed the problems I knew about it in test/cql-pytest, and I thought that @alecco did the same in test/topology but the latest failure in test/topology suggests maybe there's yet another timeout (for asynchronous requests) that we didn't increase. If this was a real bug, and not a spurious timeout, I don't see any reason why we would keep seeing it only in the slowest of the slowest of our runs

[2022-08-22 11:30] alecco commented on #11289
@nyh

Nadav, you are correct. It sets `_default_timeout` [to 10 seconds](https://github.com/scylladb/python-driver/blob/master/cassandra/cluster.py#L2426). `_

`execute_async()` [defaults](https://github.com/scylladb/python-driver/blob/master/cassandra/cluster.py#L2699)
`_create_response_future()` [picks defaut_timeout()](https://github.com/scylladb/python-driver/blob/master/cassandra/cluster.py#L

[2022-08-22 11:33] alecco commented on #11289
I am

[2022-08-22 11:36] nyh commented on #11289
In the past we noticed that 10 seconds, as absurd as it may sound, might not be enough for some schema changing operations (like the ALTER TABLE in this case) - see commit 7eda6b1e90ca96c15888c02345df9b1ac3a3376c. Maybe it is worth increasing it here as well.

Isn't there a way to change the default in an ExecutionProfile as I did in 7eda6b1e90ca96c15888c02345df9b1ac3a3376c?

Again, I propose to t

[2022-08-22 11:43] JerryKwan commented on #11340
@tzach @nyh Thanks for looking into this.
Yes, after pressing several 'ENTER' keys, it show the desired record.
@nyh I agree with your comment "Cqlsh could see that it got an empty page and automatically ask for the next page, without asking the user to type a newline", cqlsh has a parameter named 'request-timeout', so I think it should automatically ask the next page, and stop asking more if time

[2022-08-22 11:52] alecco commented on #11289
@nyh

Setting `execute_async(timeout=0.0001)` I get the error:

[code]

yay!

[2022-08-22 11:53] horschi commented on #11323
@avikivity :

IO is configured to:
SEASTAR_IO="--max-io-requests=8"

CPU is configured to:
CPUSET="--cpuset 0-3 --smp 4"

Query IO queue delay screenshots:
![5](https://user-images.githubusercontent.com/4181065/185915143-d55e139e-290b-4a5b-86de-9b7d42d20a42.png)
![4](https://user-images.githubusercontent.com/4181065/185915150-dc2d47c6-3000-4be1-8b05-cf262af5aad5.png)
![3](https://user-images.githu

[2022-08-22 11:58] nyh commented on #11289
Good! Now, I wonder why the request_timeout = 120 in ExecutionProfile doesn't take affect (as usual you can set it to 0.0001 and see what happens). Is there a different ExecutionProfile variable for async requests? Or maybe the topology/ version of the code is missing this setting? I'm asking this because it sounds inconvenient to explicitly specify a timeout in every execute call.

[2022-08-22 12:02] alecco commented on #11289
See my comment above https://github.com/scylladb/scylladb/issues/11289#issuecomment-1222224807 , the driver's `Session` has a separate `._default_timeout` and the async code uses that when it's not specified. Weird. Maybe we should change this behavior on Scylla driver?

cc @fruch

[2022-08-22 12:13] nyh commented on #11289
According to https://docs.datastax.com/en/developer/python-driver/3.25/execution_profiles/, the ExecutionProfile "request_timeout" is supposed to replace the older "[Session.default_timeout](https://docs.datastax.com/en/developer/python-driver/3.25/api/cassandra/cluster#cassandra.cluster.Session.default_timeout), or optional [Session.execute()](https://docs.datastax.com/en/developer/python-driver/

[2022-08-22 13:00] #11322 closed

[2022-08-22 13:02] elcallio opened #11349 "Distributed loader prioritized keyspaces has been removed. Breaks enterprise"
In 7396de72b17ab15154f5b994e5fc3851a033d6be (and refactorings before it) the set of prioritized keyspaces (and processing thereof) was removed, due to apparent non-usage (which is true for open-source version).

This functionality is however required for certain features of the enterprise version (ear). As such is needs to be restored and reenabled.

[2022-08-22 14:27] gusev-p opened #11352 "Errors in raft background fibers"
Raft server [has two background fibers](https://github.com/scylladb/scylladb/blob/master/raft/server.cc#L318) which are essential for the protocol implementation. The question is how to deal with the unexpected errors that can happen in these fibers.

Now such exceptions are [simply caught and logged](https://github.com/scylladb/scylladb/blob/master/raft/server.cc#L933) in the big `try/catch` surr

[2022-08-22 15:36] nyh commented on #11340
@JerryKwan I guess it depends who "high level" cqlsh is supposed to be. Right now, it's pretty low-level - when paging is enabled, cqlsh simply sends the query to Scylla (or Cassandra) with paging enable - telling Scylla to stop after some (configurable) number of rows. Every time Scylla returns a page, cqlsh prints "More" and stop. There is currently a direct correspondence between pages returned

[2022-08-22 16:17] bhalevy commented on #11344
@raphaelsc please look into this

[2022-08-22 16:23] bhalevy commented on #11344
@raphaelsc I don't see why compaction would delete sstables that it couldn't read.
I think the best we can do is to move them to the quarantine subdirectory so they won't be subject to further compaction until they're examined.

[2022-08-22 16:37] raphaelsc commented on #11344
I think this is a misunderstanding

In the log message:
`"compaction failed: invalid_mutation_fragment_stream ([validator 0x6010067fe900 for sstable writer /var/lib/scylla/data/keyspace1/standard1-0873cc2020a611eda09f4bdc5b8a795e/md-29-big-Data.db (keyspace1.standard1 0873cc20-20a6-11ed-a09f-4bdc5b8a795e)]"`

md-29-big-Data.db refers to the output sstable being created, not the input data which is

[2022-08-22 17:01] nyh commented on #11340
It's worth mentioning that if this issue has become or will become a request to enhance cqlsh, then the fix will need to be in the repository holding cqlsh - not Scylla. I'm not sure if we have a Scylla for of cqlsh (@fee-mendes, do we?) or we will need to propose a fix to the upstream cqlsh, but in both cases this issue will need to move to a different repository.

[2022-08-22 17:16] fee-mendes commented on #11340
I don't think so. In particular, we currently can't use the latest CQLsh due to #11106 - so it is going to be hard to propose a fix to upstream.

[2022-08-22 17:57] #11222 closed

[2022-08-22 20:32] fruch commented on #11289
I've looked into the code, where you say `_default_timeout` was used, and yes that value is used for the default profile, but once it's overwrite using `EXEC_PROFILE_DEFAULT` object itself, it should be used.

I don't see any code path that can lead to something else, only if you have code somewhere that doesn't use profiles, and then yeah, it's default to 10.0 sec.

[2022-08-22 20:50] roydahan commented on #9807
@juliayakovlev / @kostja any progress on this one?

[2022-08-22 21:33] vponomaryov opened #11353 "`/storage_service/hostid/local` returns 404 after restart with resharding and causes gossip failure"
## Installation details

Kernel Version: 5.4.204-113.362.amzn2.x86_64
Scylla version (or git commit hash): `5.2.0~dev-20220818.055340ae39ba` with build-id `99cff22f18b81e899d64af4639417e4ef20563bf`
Cluster size: 3 nodes (i3.4xlarge)

Platform: K8S/EKS, version: v1.20.15-eks-18ef993
Scylla-Operator version: v1.8.0-alpha.0-71-geaaa346

Scylla Nodes used in this run:
- sct-cluster-us-east1-b-us-east1

[2022-08-22 22:59] fee-mendes commented on #11319
That's an incorrect statement. If you omit the `-p 10000:10000` you can still reach the container RestAPI via the container IP as soon as you decide to bind the API address to `0.0.0.0`. Try it yourself:

[code]

Therefore, the RestAPI shouldn't be automatically bound to anything other than 127.0.0.1 by default. And if one wants it, only then the _container manager_ will take responsbility for sec

[2022-08-22 23:57] avelanarius commented on #11340
I believe all of cqlsh code is in scylla-tools-java:

https://github.com/scylladb/scylla-tools-java/blob/master/bin/cqlsh.py
https://github.com/scylladb/scylla-tools-java/tree/master/pylib/cqlshlib

It  includes some Scylla-specific fixes, such as https://github.com/scylladb/scylla-tools-java/commit/f408ce81ba0da8594b72d71d3cf3591e23096d8e.

[2022-08-23 01:30] JerryKwan commented on #11340
@nyh Thanks for the explanation
If I remembered correctly, the output of cqlsh against Cassandra is different from cqlsh against ScyllaDB, when executing the same query against Cassandra, it output the result directly, there is no blank "--more--" output.

[2022-08-23 01:32] fee-mendes opened #11354 "Repair is consistently and repeteadly stuck for a given table"
*Installation details*
Scylla version (or git commit hash): `4.6.3-0.20220414.8bf149fdd` with build-id `8d16d8972498cc769071ff25309b009eb77bf77a`
Cluster size:  12 nodes (2 DCs, 6 in each)
OS (RHEL/CentOS/Ubuntu/AWS AMI): Oracle Linux 7.9 - Kernel 5.4.17-2136.307.3.1.el7uek.x86_64

This issue is raised on behalf of an user and more details shall be provided as more info is needed.

An user has rep

[2022-08-23 02:26] asias commented on #11302
I saw:

[code]

I have:

[code]

Btw:

[code]

will fail if the chain exists so the test will fail.

I tried:

[code]

to workaround.

[2022-08-23 04:55] fruch commented on #11302
What you see is the cleanup code of the test failing, let's take it into a dtest issue, how to make it a bit smarter. it's failing since the chain is removed during the test, while we still have add a finalizer function to remove on case of failure in the test, yes we need better cleanup for it

[2022-08-23 05:23] denesb commented on #4295
Since 3d816b7c1 it is even harder to estimate how much resources a read is going to consume up-front as we don't know whether it will hit the cache or whether it will miss. Said work also changed how reads are admitted: they are now admitted one-by-one, the semaphore only admitting new reads if all current ones are waiting on disk or a remote shard.
Currently admission serves the purpose of not ad

[2022-08-23 05:23] denesb commented on #4297
Since 3d816b7c1 it is even harder to estimate how much resources a read is going to consume up-front as we don't know whether it will hit the cache or whether it will miss. Said work also changed how reads are admitted: they are now admitted one-by-one, the semaphore only admitting new reads if all current ones are waiting on disk or a remote shard.
Currently admission serves the purpose of not ad

[2022-08-23 05:23] #4297 closed

[2022-08-23 05:26] denesb commented on #4296
Read induced OOMs are quite rare now, after all the improvements to the resource tracking of reads, so currently no demand for this. We might want this at some point in the future if read induced OOMs again become a thing. Until that time, I'm closing this, will reopen when/if the need arises.

[2022-08-23 05:26] #4296 closed

[2022-08-23 06:14] fruch opened #11355 "Decommission after node change ip address, blocks adding new nodes"
While building a reproducer for scylladb/scylla-operator#982 and #11302 we run into this case:

* start a cluster with 3 nodes
* stop node3
* start node3 with different address
* decommission node3
* add new node4

adding node4, fails with the following:
[code]

all 3 nodes show 4 nodes in the gossip, while 2 are having the exact same host_id, one in shutdown state, one in LEFT state:

[code]

[2022-08-23 06:25] fruch commented on #11355
@asias
I guess that if we wait like this:
[code]

problem is with scylladb-operator, that that user that wait for those, and it can react to different actions, but it need checks the gossip before doing any commands

[2022-08-23 06:59] fruch commented on #11353
@vponomaryov I think the title is a bit misleading, since I'm not sure the 404 is the root cause.
the title should maybe be something like `client requests fails on QUORUM after while rolling restart changing SMP`

the important part is that user request are failing, not that some API return 404 once (could be lots of reason, for example scylla didn't finished booting yet)

[2022-08-23 07:18] fruch commented on #11353
seems like all nodes can't gossip with each other, and only see themselves:
[code]

[code]

[2022-08-23 07:26] juliayakovlev commented on #9807
@roydahan I have a task for this sprint and plan to start it soon

[2022-08-23 07:33] fruch commented on #11353
@scylladb/team-operator
How can we see the differences between operator versions, I thought that's git sha at the end there, but couldn't find it in operator git ?

`v1.8.0-alpha.0-60-gef86647` (this case passed)
`v1.8.0-alpha.0-71-geaaa346` (test case failed)

[2022-08-23 08:02] soyacz commented on #11344
Thanks @raphaelsc for clarification. I'm closing the issue.

[2022-08-23 08:02] #11344 closed

[2022-08-23 08:20] bhalevy commented on #6033
@tgrabiec does this issue depend on https://github.com/scylladb/scylladb/issues/3288?
How about https://github.com/scylladb/scylladb/issues/10587?

[2022-08-23 08:23] bhalevy commented on #10500
Backport to 5.0/2022.1 and 2021.1 were done, removed label.

[2022-08-23 08:25] bhalevy commented on #11169
No backport required, removing label.

[2022-08-23 08:32] zaddok commented on #2962
This is amazing. Testing this out now.

[2022-08-23 08:41] avikivity commented on #2962
Not a bug, not backporting.

[2022-08-23 08:57] avikivity commented on #6033
`nodetool flush` says nothing about the caches. There is a REST API to flush the cache.

Expired tombstones in cache are not a problem per se. The database is allowed to keep them and it is within its right to drop them when it wants. `gc_grace_seconds` (which is now deprecated in favor of `tombstone_gc = repair`) specifies the minimum amount to keep tombstones, not the exact time at which to expi

[2022-08-23 09:02] zaddok commented on #2962
Yes, I’m just awkwardly trying to express thanks for this :)

[2022-08-23 09:04] avikivity commented on #4297
We could keep running statistics per prepared statement ID, and then seed the estimation from the statistics.

But I don't think we need to do anything now. Things look pretty stable on this front.

[2022-08-23 09:05] avikivity commented on #2962
My comment wasn't a response to yours, just one of the chores we have to do (classify commits for  backporting if they are fixing bugs, or mark them as not needing backports).

[2022-08-23 09:07] vponomaryov commented on #11353
In the "v1.8.0-alpha.0-60-gef86647" version the git part starts after the "g" symbol - `ef86647`

[2022-08-23 09:10] vponomaryov commented on #11353
Absence of the proper answer to the host_id API is the origin of the problem. So, the bug will go away when the API starts working again and return host_id's.

[2022-08-23 09:13] vponomaryov commented on #11353
If we restart just one node then we have quorum of other 2. So, this problem is just burying deeper to the bottom.
Restart of a single node is enough, because it doesn't go back to the cluster as it should.

[2022-08-23 09:28] fruch commented on #11353
Still sound like the API return 404, is a side effect of nodes that doesn't see each other

since it seem to be reproducing quite easily:
I've triggered,  scylladb/scylla-nightly:5.2.0-dev-0.20220807.7f80602b010a (one of the first 5.2.0-dev)

https://jenkins.scylladb.com/job/scylla-operator/job/operator-master/job/eks/job/longevity-scylla-operator-3h-eks/19/

Let's try to bisect a bit closer on wh

[2022-08-23 09:29] nyh commented on #3882
In Cassandra issue https://issues.apache.org/jira/browse/CASSANDRA-16733 and Cassandra commit 9b6dd382bdf4a71c06091736ff98cb1307ff0e97 (June 2011), it was decided that "DROP COMPACT STORAGE" is problematic, and Cassandra no longer allows it by default. Quoting the NEWS entry from that commit:

This change was backported to all extant Cassandra versions, so it is now in affect in 3.0.25, 3.11.11, a

[2022-08-23 09:29] #11198 closed

[2022-08-23 10:44] vladiceanu commented on #11191
hello @fee-mendes // @avikivity,
I've passed `--memory XXG --lock-memory` arguments to the Scylla process but unfortunately the result is still the same, memory slowly increases over time. Please let me know if there is anything else required for debugging purposes. Thank you

[2022-08-23 12:37] avikivity commented on #11191
[code]

[2022-08-23 12:40] avikivity commented on #11191
The largest non-heap one is scylla test. It's 38MB and cannot increase much:

[code]

[2022-08-23 12:40] avikivity commented on #11191
The 7972 kB entry is also scylla text.

[2022-08-23 12:41] avikivity commented on #11191
3128 -> kernel aio rings, their size and number won't increase.

[code]

[2022-08-23 12:44] avikivity commented on #11191
The 2048 kB mappings are anonymous, no idea what they are. Maybe thread stacks? Don't appear to be a problem since there are too few of them.

[code]

[2022-08-23 13:30] tzach commented on #11333
@nyh any idea why this issue was not automatically closed with #11335 merge?

[2022-08-23 15:01] denesb commented on #11223
Thread debugging still not working but this time the coredump has a reader in its stacktrace, so I can look at it.

[2022-08-23 15:28] KnifeyMoloko commented on #9807
Fresh failed job if anyone needs it

## Installation details

Kernel Version: 5.15.0-1015-aws
Scylla version (or git commit hash): `5.0.2-20220807.299122e78` with build-id `01a9300a0f113d968f4d199f85240a43ff7f1a5a`
Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-3h-5-0-db-node-f17728bc-5 (18.234.248.7 | 10.0.3.208) (shards: 8)
- longevity-lwt-3h-5-0-db-node-f1772

[2022-08-23 15:41] vladzcloudius commented on #6033
I believe we saw multiple times in the past how a long tombstones prefix can cause performance issues (row level tombstones that accumulate due to adding a removing rows of a specific partition).
If such a partition is popular enough to stay in the cache for a long time it can cause degraded read performance of this partition reads wouldn't it, @tgrabiec @avikivity ?

[2022-08-23 15:58] bhalevy commented on #6033
The need to be expired and purgable to be removed, right?
i.e. they don't shadow any live data, otherwise they'll be present in sstables and evicting them from the cache won't help anything.
Maybe compaction can trigger their eviction when compaction known it purged expired tombstones from the input sstables?
Cc @raphaelsc

[2022-08-23 16:12] tgrabiec commented on #6033
Yes.

Compaction may run much later than tombstones expire, so relying on it may not fix the problem.

Another idea would be to trigger during read which hits expired tombstones. The disadvantage is that the first read to hit them will still suffer. Periodic scanner reduces chances of that.

[2022-08-23 16:38] raphaelsc commented on #6033
Cache should reflect the state of sstable set, right? The reason we don't ignore expired tombstones when we hit them on cache is consistency, right? Once we purge expired tombstones in compaction, they can be potentially ignored if we hit them on cache, correct? Provided they no longer exist in the sstable set.

Perhaps having the eviction be driven by compaction[1] would be good due to its increm

[2022-08-23 16:48] avikivity commented on #6033
It could, but it can no longer cause timeouts or run out of memory (since e9cbc9ee85c25deb5ba9ee67ffa6e3ca9f904660). So I don't see it as a burning issue.

Perhaps we can add evict-during-read if we encounter such an expired tombstone. I see @tgrabiec already suggested it. I think it's reasonable and a periodic scanner doesn't solve it, since you can't guarantee the scanner will see it in time.

I

[2022-08-23 18:44] KnifeyMoloko opened #11359 "`scylla_setup` fails on RAID setup when running node setup on ubuntu 22.04 (ARM)"
## Installation details

Cluster size: 1 nodes (im4gn.xlarge)

Scylla Nodes used in this run:
- artifacts-ubuntu2204-jenkins-db-node-de480894-1 (52.214.215.38 | 10.0.0.24) (shards: -1)

OS / Image: `ami-022c8ce295ce9ac4c` (aws: eu-west-1)

Test: `artifacts-ubuntu2204-arm-test`
Test id: `de480894-0e98-4f9e-832c-8f23a3133597`
Test name: `scylla-5.0/artifacts/artifacts-ubuntu2204-arm-test`
Test confi

[2022-08-23 20:45] vladzcloudius commented on #6033
True. It's indeed much less burning since empty pages were introduced.
I was addressing your comment where you suggested to call it not-a-bug.
I think that while less burning it's still a bug. Imagine that a user has to read 100 empty pages before a first live row is met every time he/she needs to read a partition in question.

It's a very good idea indeed. We have a similar treatment for "dummy e

[2022-08-23 20:48] dorlaor commented on #1207
Isn't it time to close it or at least to link to the raft implementation in 5.0? @kostja

[2022-08-24 00:02] #11235 closed

[2022-08-24 00:02] #11349 closed

[2022-08-24 00:10] fee-mendes commented on #11315
PR submitted.

[2022-08-24 00:19] asias commented on #11300
Thanks. After `rm -rf tools/java/build` the build is successful.

[2022-08-24 00:19] #11300 closed

[2022-08-24 01:32] asias commented on #11355
The 5cd97c964c3b2b4bb11cc2252ef576358447068c fails as below. It is weird nodetool gossip fails. I think it is not related to the bug though.

[code]

[2022-08-24 01:33] asias commented on #11355
With the PR https://github.com/scylladb/scylladb/pull/11361. No need to wait for the removal of the old node from gossip.

[2022-08-24 04:57] bhalevy commented on #6033
Okay, so let's keep this issue open then since there's room for improvement, but the conclusion is that it's not a priority as it was when opened. So I removed the respective GH labels.

[2022-08-24 06:37] tzach opened #11363 "Docs: add new options to scylla-sstable page"
I would like to report an issue in page https://docs.scylladb.com/master/operating-scylla/admin-tools/scylla-sstable

### Problem
https://github.com/scylladb/scylladb/commit/975b0c0b03ca25a2caa3c7b1f14e911098ac479d adds two new commands:

* validate-checksums - helps identifying whether an sstable is intact or
  not, but checking the digest and the per-chunk checksums against the
  data on disk.
*

[2022-08-24 07:34] pragmaxim commented on #10704
Guys it improved to make it through the cassandra stress test but imho the backpressure still does not work, so heavy data loading works fine if scylla has unlimited memory access but when the allocations reach the limits then backpressure does not kick in and scylla crashes.

[2022-08-24 08:08] vladiceanu commented on #11191
[code]
and
[code]

[scylla_jmx_maps.txt](https://github.com/scylladb/scylladb/files/9414131/scylla_jmx_maps.txt)
[scylla_jmx_smaps.txt](https://github.com/scylladb/scylladb/files/9414132/scylla_jmx_smaps.txt)
[scylla_jmx_pmap.txt](https://github.com/scylladb/scylladb/files/9414133/scylla_jmx_pmap.txt)

[2022-08-24 08:12] avikivity commented on #6033
This is not specific to expired tombstones. Non-expired tombstones have exactly the same behavior.

So while it's nice to remove expired tombstones, it doesn't solve the problem of "many tombstones slow down reads", except in some subset of cases.

Remove-expired-on-read is also relatively simple. We don't even have to remove the row, just move it to the head of the LRU instead of the tail, if tha

[2022-08-24 08:16] avikivity commented on #11191
[code]

175 MB. Not enough to cause trouble. But was it captured when total pod memory usage was high?

Try to enter the pod's containers while this is happening and run `top` and sort by rss (`M` hotkey).

[2022-08-24 08:22] avikivity commented on #10704
@pragmaxim please open a separate issue and provide much more information (especially monitoring snapshots). We can't fix bug if the only information is "backpressure is still broken".

[2022-08-24 08:59] vladiceanu commented on #11191
The memory grows continuously, sharing the screenshot:
<img width="1344" alt="Screenshot 2022-08-24 at 10 55 47 AM" src="https://user-images.githubusercontent.com/19838344/186376024-ffc70d9c-e880-490c-9100-d81c103eb9ba.png">

Sharing here the screenshot of `top -o %MEM`:
<img width="829" alt="Screenshot 2022-08-24 at 10 58 29 AM" src="https://user-images.githubusercontent.com/19838344/186376520-a3

[2022-08-24 09:01] juliayakovlev opened #11365 "Aborting on shard and coredump on the one node after decommissioning of the another node"
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `2022.2.0~rc0-20220814.eb67e6127d6b` with build-id `5fc03e7326d7fd7e3eb1228a48382a35fcd8c08f`
Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-50gb-12h-2022-2-db-node-fd6682d4-6 (13.48.177.155 | 10.0.1.211) (shards: 8)
- longevity-50gb-12h-2022-2-db-node-fd6682d4-5 (16.16.65.

[2022-08-24 09:11] avikivity commented on #11191
Maybe it's scylla-operator that consumes the additional memory? Why does operator need 2.1 GB? /cc @tnozicka

[2022-08-24 09:26] pragmaxim commented on #10704
@avikivity I've spent too much time on this, I have to move on and index the data in 2-3 runs.
![Screenshot from 2022-08-24 11-24-59](https://user-images.githubusercontent.com/8983344/186382851-87f97d5b-07f9-438b-a53e-28b625f55a2c.png)

[2022-08-24 09:45] roydahan commented on #10704
5.1 release is just RC0.
Please try with 5.0 or wait for later RC of 5.1

[2022-08-24 10:50] tnozicka commented on #11191
Also the CPU is high for the operator. In a steady state the starter binary is at almost 0% cpu and around 40MiB. Initially I thought this could be setup / tuning but as scylla is already running there (unless it's from a different container). Please file an issue for the operator on https://github.com/scylladb/scylla-operator/issues/new/choose and provide correlated logs for this period.

[2022-08-24 11:01] slivne commented on #11252
@bhalevy ping

[2022-08-24 11:05] slivne commented on #11359
@yaronkaikov / @syuu1228 please have a look - its blocking 5.0.2

[2022-08-24 11:14] roydahan commented on #11365
may be related to #11252

[2022-08-24 11:22] kostja commented on #1207
I believe the policy is to close these after going GA

[2022-08-24 11:27] vladiceanu commented on #11191
thanks, created the bug https://github.com/scylladb/scylla-operator/issues/1016 in Scylla-operator

[2022-08-24 11:31] tzach commented on #11363
Another commit with tool update
https://github.com/scylladb/scylladb/commit/0d5fd526a523e8352708e545af0c6470ed0c97e1

[2022-08-24 11:33] soyacz commented on #11365
Similar issue during reshape nemesis on master longevity in simple soft reboot nemesis:
[code]
and followed by another error:
[code]
and coredump:
[code]
coredump download:
[code]

## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220822.fa7033bc2be5` with build-id `4c66b02f12d1bb1ae1903aa192e269c3a4351112`
Cluster size: 6 nodes (i3.4xlarge)

[2022-08-24 11:37] denesb commented on #11223
The culprit is the new admission algorithm introduced by 8fb4fe2f2. In particular, when the repair falls back to the multishard reader, is racing with other repair-meta for permits. The reason the multishard reader is problematic is that it marks its shard readers as used (the regular repair reader doesn't do that) and as such these permits block entry of new repair metas until they become blocked

[2022-08-24 11:43] soyacz commented on #11365
There are more tls related lines in the log (another node, but also suffers from this issue).
In the middle of hundreds of lines like `commitlog  - Commitlog shutdown complete` we can observe:
[code]
also another several ones happen in the middle of `storage_proxy - Failed to apply mutation...` like this:
[code]

[2022-08-24 11:45] KnifeyMoloko commented on #10687
Looks like we've reproduced the issue in this run

## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `2022.2.0~rc0-20220814.eb67e6127d6b` with build-id `5fc03e7326d7fd7e3eb1228a48382a35fcd8c08f`
Cluster size: 5 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-mv-si-4d-2022-2-db-node-16de3ceb-9 (34.255.124.229 | 10.4.11.16) (shards: 14)
- lo

[2022-08-24 12:13] pragmaxim opened #11368 "Missing backpressure during mild inserting when all available memory is allocated"
*Installation details*
[code]
Cluster size: single-node Ubuntu 20.04.4 LTS

*Hardware details (for performance issues)*
[code]

Related to :
https://github.com/scylladb/scylladb/issues/10704

Versions tried : 4.6.6, 5.0.1, 5.1RC

Settings tried besides default:
[code]

Details:
- Loading blockchain data -> well sized rows, cells and partitions (the crash happens without the first large partition b

[2022-08-24 12:37] denesb commented on #11223
@Fornax96 are you able to try out a private build if I prepare you one? I have an idea for a quick fix, but it is hard for me to validate that it is correct, it would be good if you could install the binary with the fix and try a new repair run to see if it helps.

[2022-08-24 12:48] benipeled opened #11371 "janusgraph-test: JanusGraphException: Could not commit transaction due to exception during persistence"
Janusgraph-test job [0] failed (last two runs) on testEdgesExceedCacheSize

[0] https://jenkins.scylladb.com/job/scylla-master/job/janusgraph-test/430/

[code]

[2022-08-24 12:48] pragmaxim commented on #10704
@roydahan I think `5.1` is the best out there https://hub.docker.com/r/scylladb/scylla/tags with this fix merged ... @avikivity issue created https://github.com/scylladb/scylladb/issues/11368 ... please let me know what else I can provide. This seems to be quite serious, indexing with single thread being able to crash scylla :shrug:

[2022-08-24 12:58] avikivity commented on #11191
Closing as the problem is not in scylladb core.

[2022-08-24 12:58] #11191 closed

[2022-08-24 13:36] Fornax96 commented on #11223
Okay, would it be safe to run this binary in a production environment?

[2022-08-24 13:51] denesb commented on #11223
I'm going to make minimal changes. But of course if you have the means it would be best to try in a staging/test environment first.

[2022-08-24 13:53] Fornax96 commented on #11223
Okay, as long as the build is based on 5.0.1 it should be fine.

[2022-08-24 15:02] nyh commented on #11333
Good question... I can't think of any reason :-(
I'll close this issue manually, but I don't know if we did anything wrong we need to avoid, or it was some bug on github or what.

By the way, closing this issue made me think. What do you think we need to do about backporting of docs patches?
On one hand documentation errors aren't serious "bugs", but on the other hand, if there are errors, ugly fo

[2022-08-24 15:02] #11333 closed

[2022-08-24 16:35] pragmaxim commented on #11368
I tried multiple times and it is always the same outcome :
![Screenshot from 2022-08-24 18-31-29](https://user-images.githubusercontent.com/8983344/186473873-b6955763-1065-4912-baea-ab454eac40b0.png)
![Screenshot from 2022-08-24 18-31-24](https://user-images.githubusercontent.com/8983344/186473879-ac59b8bb-0615-4553-b9be-95389e795988.png)
![Screenshot from 2022-08-24 18-31-17](https://user-images.

[2022-08-24 17:04] pragmaxim commented on #11368
Probably found the root cause :
[code]

[2022-08-24 18:12] pragmaxim commented on #10704
Yeah but there is no `5.0` docker container which could be used to reproduce this.

[2022-08-24 18:31] tzach commented on #11333
It would be useless right now, since the doc site only render master branch any way.
It would make sense we publish the first release, either 5.1 to 5.2

[2022-08-24 18:38] vladzcloudius commented on #6033
@bhalevy Please, don't remove "Field" labels in general.

[2022-08-24 18:47] vladzcloudius commented on #6033
range tombstone eviction, so evicting rows doesn't reduce the number of
range tombstones.

@tgrabiec while we wait for in-memory v2 storage maybe let's just implement a "trivial" remove-expired-on-read then? Especially if it's simple. This is going to a nice improvement.

[2022-08-24 18:54] roydahan commented on #10704
docker pull scylladb/scylla:5.0.1

[2022-08-25 01:28] mattolson commented on #7751
+1 would love to see this

[2022-08-25 05:14] bhalevy commented on #11252
@slivne the current status is that scylladb/seastar#1182 (and many other seastar PR's) are not merged due to CI failures caused by flakiness in tls_test due to https://github.com/scylladb/seastar/issues/1127.

Other than fixing that issue ASAP we need to decide whether to reduce the bar temporarily and ignore such CI failures until the issue is fixed.

Cc @avikivity @elcallio @eliransin

[2022-08-25 09:19] nyh opened #11373 "documentation: update "Counting all rows in a table is slow" document"
We have a document https://docs.scylladb.com/stable/kb/count-all-rows.html which explains that `COUNT(*)` is very slow, and what to do about it.

We had an issue, #1385, on how `COUNT` could be made much faster, and it was finally implemented in commit fe65122ccd40a2a3577121aebdb9a5b50deb4a90, by @havaker. As far as I know, this fix only reached Scylla 5.1 and was never backported to other branche

[2022-08-25 09:33] nyh opened #11374 "Most Alternator TTL regression tests are skipped by default and should not be"
Most of the single-node functional tests for the Alternator TTL features, in test/alternator/test_ttl.py, are marked "veryslow" and thus are skipped by default when running regression tests (one needs to pass `--runveryslow` to pytest to get them to run). This is undesirable because regressions will not be caught.

The reason why these tests were marked "veryslow" is because they need to wait unti

[2022-08-25 09:39] psarna commented on #11374
We could also make more specialized decorators and distinguish between pytest.mark.veryslow and pytest.mark.veryslow_on_aws, and only skip the former in our tests. I agree about (2.), the faster, the better.

[2022-08-25 10:41] avikivity commented on #10636
I'm considering for backport, but also wondering if this can create logspam.

@bhalevy under what conditions can this happen? Should it be rate limited?

Losing a warning is fine, since we keep the data.

[2022-08-25 10:46] avikivity commented on #10526
@bhalevy @nyh does this deserve a backport?

[2022-08-25 10:49] bhalevy commented on #10636
It could happen for any reason the batch query failed, except for `no_such_keyspace`.

Since the batchlog `replay_interval` is 60 seconds by default I don't think it merits rate limiting.

[2022-08-25 11:07] ilya-rarov commented on #11365
Looks like the same problem here
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `2022.2.0~rc0-20220814.eb67e6127d6b` with build-id `5fc03e7326d7fd7e3eb1228a48382a35fcd8c08f`
Cluster size: 6 nodes (i4i.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-2022-2-db-node-0ba3c972-9 (34.244.151.196 | 10.4.2.180) (shards: 14)
- longevity-tls-50

[2022-08-25 11:09] roydahan commented on #11365
Duplicate of #11252

[2022-08-25 11:09] #11365 closed

[2022-08-25 11:11] tzach opened #11376 "Docs: Upgrade guide 5.0 to 5.1"

[2022-08-25 11:12] tzach opened #11377 "Docs: metrics update 5.0 to 5.1"

[2022-08-25 11:24] tzach opened #11378 "Docs: User-defined functions (UDF/UDA)"
Document CQL UDF sysntax, including Lua and WASM implementation.
See similar doc in compatible Apache Cassandra docs
https://cassandra.apache.org/doc/latest/cassandra/cql/functions.html#user-defined-scalar-functions
https://cassandra.apache.org/doc/latest/cassandra/cql/functions.html#user-defined-aggregates-functions

[2022-08-25 11:55] psarna opened #11379 "Alternator roles do not cooperate with service levels"
In alternator authentication we're capable of authenticating a user based on information kept in system_auth.roles table, but we actually only use this username for tracing purposes, and alternator is still executed on behalf of an "internal" user.

We should instead prepare an "authenticated" session when the alternator user authenticated, which would allow attaching service levels to alternator

[2022-08-25 12:13] bhalevy commented on #10526
I think it is.
It could badly impact backups with Alternator.

[2022-08-25 12:14] bhalevy commented on #10526
and is low risk...

[2022-08-25 12:25] nyh commented on #11379
@tzach you asked me about this just a few days ago

[2022-08-25 12:26] psarna commented on #11379
I think it might be quite trivial to add, but also tricky to test. I think I'll just send a PoC soon and we can use in as part of the discussion

[2022-08-25 13:05] tzach commented on #11379
How would an alternator user will create roles and service level without access to CQL?

[2022-08-25 13:22] psarna commented on #11379
No idea, but certainly possible - e.g. by providing a meta-virtual-table for such configurations. For now, it would only be possible by setting up service levels via cql

[2022-08-25 14:05] benipeled commented on #11359
@KnifeyMoloko following our discussion, I didn't manage to reproduce it with the following steps

1. Install ubuntu22.04 (ami-078d455b3b6ad0d4e) on im4gn.xlarge with x2 500g-gp2 disks
2. Add the scylla.list from this build (https://s3.amazonaws.com/downloads.scylladb.com/unstable/scylla/branch-5.0/deb/unified/2022-08-07T16%3A18%3A51Z/scylladb-5.0/scylla.list)
3. Install scylla and run scylla_setup

[2022-08-25 14:34] nyh commented on #11379
Note that currently, the only way to actually add new accounts for authentication is also only by CQL. There's a chicken-and-egg problem: if you need to create an account to authenticate to the Alternator API, you can't use the Alternator API to create the account.

[2022-08-25 15:06] avikivity commented on #11368
[code]

so it looks like it wasn't Scylla that crashed, but someone killed it. The oom killer perhaps? Please inspect dmesg.

[2022-08-25 15:06] vladzcloudius opened #11385 "Regression: unexpected and silent intervention of scylla systemd scripts in the manual configuration of perftune.yaml"
*Installation details*
HEAD: a03a33dcaf08c99ce1bcf6023c1a52b855288ac0
Regression introduced by 3a51e7820a26487fb91be9bab6e037ffbdcf8b89

*Description*
The reason why cpuset.conf and perftune.yaml exist are in particular to allow specifying a compute and IRQ handling CPU sets.

If user wants to follow a default choice Scylla thinks is going to be best for the current setup then auto-generated value

[2022-08-25 15:07] vladzcloudius commented on #11385
@syuu1228 @avikivity @tarzanek FYI

[2022-08-25 15:11] pragmaxim commented on #11368
@avikivity Yeah there is  :
[code]
But it happens even if I run it as `docker run --oom-kill-disable  .....` and also the machine has 32GB so there is 7GB extra for OS

[2022-08-25 15:13] avikivity commented on #11368
Please dump the entire printout of the oom kiiler.

Clearly the oom killer thinks it ran out of memory, despite having 32GB RAM.

[2022-08-25 15:14] avikivity commented on #11368
btw the line you pasted shows ScyllaDB using just 24GB, so it hasn't exceeded its allocation. This isn't a problem in ScyllaDB so I'm closing it. I can still help you understand what went wrong.

[2022-08-25 15:14] #11368 closed

[2022-08-25 15:17] vladzcloudius commented on #11385
https://github.com/scylladb/scylladb/commit/3a51e7820a26487fb91be9bab6e037ffbdcf8b89 is a very dangerous change

What was the motivation for it, @tarzanek?

The content of `perftune.yaml` is just as important as `cpuset.conf` (because it defines the total CPU set via `cpu_mask`). So, overwriting it should be done with the same care as overwriting `cpuset.conf`.

The patch above would only be safe

[2022-08-25 15:29] vladzcloudius commented on #10121
The patch above doesn't fix the the problem and introduces a regression: https://github.com/scylladb/scylladb/issues/11385

[2022-08-25 15:31] pragmaxim commented on #11368
Thanks : https://gist.githubusercontent.com/pragmaxim/11a823d38e6b1eabb499cc9c123711f3/raw/4c346135fdec655bda3a8adf7cfcdaf8b0f52221/oomkiller

I experimented a lot with that, when I set  : `--memory 18G` it happened too, regardless of oom-killer being disabled :shrug:

[2022-08-25 15:38] avikivity commented on #11368
It looks like docker is setting some limit, or maybe the kernel prefers to kill the process instead of drop pagecache pages from outside the container.

You can try setting vm.swappiness = 1 in sysctl (on the host). Otherwise, try to understand what docker does, or use podman instead of docker.

[2022-08-25 15:41] vladzcloudius commented on #10121
The patch above doesn't fix the issue because it can trigger `perftune.yaml` deletion if some irrelevant change has been done to `scylla-server` configuration file.

Additional info can be found here: https://github.com/scylladb/scylladb/issues/11385

[2022-08-25 15:44] nyh commented on #11379
I think this issue is closely related (I don't know if to go as far as calling it a duplicate, because the focus is different) to #5047 which is about using Scylla roles to implement ACLs in Alternator.
Probably the same implementation can be a base for solving both issues.

[2022-08-25 15:45] vladzcloudius commented on #11385
I think I found it: https://github.com/scylladb/scylladb/issues/10121

Unfortunately the patch above doesn't represent a solution because perftune.yaml can now be deleted because of some irrelevant change in scylla-server configuration file.

The whole approach of deleting the perftune.yaml based on timestamps of other files is bogus.

perftune.yaml should be regenerated only when the correspondin

[2022-08-25 15:46] vladzcloudius commented on #11385
I believe that the motivation for this change is not strong enough to keep this patch and a revert should be considered.

@avikivity @denesb FYI.

[2022-08-25 16:11] avikivity commented on #11385
@tarzanek please comment

[2022-08-25 16:21] vladzcloudius commented on #11385
I see that it's already in 5.1.
I'm sending a fix for this.

[2022-08-25 16:24] tarzanek commented on #11385
this broke a contract in scylla_prepare where if perftune.yaml exists, it shouldn't be touched (I wasn't aware of this, I thought perftune.yaml is volatile and shouldn't have manual modification, hence the slip in the review)
so all logic needs to be moved to scylla_cpuset_setup only which explicitely removes perftune.yaml to force its refresh by scylla_prepare
so scylla_prepare needs a revert

[2022-08-25 16:30] tarzanek commented on #11385
the big question is if scylla_server change impacts content of perftune.yaml or not
we have there whether to tune nic and disks IIRC
so does it influence whether perftune.py will write to tune section both
 - nic
 - disk
 ?

[2022-08-25 16:30] vladzcloudius commented on #11385
The idea is as follows:
* `perftune.yaml` is just as "untouchable" as `cpuset.conf` if it exists.
* Just like `cpuset.conf` it can either be modified by a user (and then it's his/her responsibility to keep both files in sync) or it can be modified as a result of an explicit call to `scylla_cpuset_setup`.

In https://github.com/scylladb/scylladb/issues/10121 Lubos asked for `scylla_cpuset_conf` ide

[2022-08-25 16:34] roydahan commented on #11359
I think that @KnifeyMoloko ran another one and it passed.
Either it's a kernel issue that got fixed between the runs (@KnifeyMoloko can you check which kernel versions you had in each run) or it's a flakiness somewhere.

[2022-08-25 16:53] soyacz opened #11386 "AzureSnitch is not showing rack properly due 'too many requests'"
When setting Scylla on Azure with availability zone set, `nodetool status` is not showing rack properly - in rack column we can see `too many requests`
[code]

In scylla logs we can see:
[code]

[2022-08-25 17:49] pragmaxim commented on #11368
Uff, thanks @avikivity, resolved...  This is because `docker` daemon has a `--memory` flag and Scylla docker image accept the exact same `--memory` flag so one can do `docker run --memory 24G scylladb/scylla --memory 22G` to confine it, imho the `--reserve-memory` somehow did not kick in ...

[2022-08-25 23:06] #11288 closed

[2022-08-25 23:06] #11327 closed

[2022-08-26 03:06] asias opened #11388 "Handle hints when ip or topology changes"
A target ip address is stored in hint to tell which node the hint should be send to when it is replayed. If the ip address of the target node is changed (e.g., node restarted with a different ip address) or topology changes (e.g., a node is added or removed, the ownership of the token changes), the ip address associated with the hint is not valid any more.

[2022-08-26 03:10] asias commented on #11388
@slivne FYI

[2022-08-26 04:02] denesb commented on #11223
@Fornax96 I have built the private packages, you can find it under the following link: https://scratch.scylladb.com/11223/scylla-5.0.1-1.fornax.tar.gz
I gave this some light testing but it was not subjected to the full arsenal of QA tests that normal releases are. So if you have the means please try it on a test/staging environment. That said the diff is minimal, so there should be no problems (an

[2022-08-26 04:18] denesb commented on #11363
The two new commands you mention are already present on that doc page. But I do see we don't really talk about the schema at all (let alone the new way to get it), so I will send a PR to fix it.

[2022-08-26 07:23] denesb opened #11393 "Docs: scylla tools are now hosted in the scylla executable"
Meaning, they don't have their own executables anymore, i.e.:
`scylla-types` is now `scylla types` and `scylla-sstable` is now `scylla sstable`. Note that we are invoking the `scylla` executable for both tool, just with a different first command-line argument, designating the actual tool to invoke (in the absence of which `scylla` itself is started).

Since: 5.0 (5eccb4284)

[2022-08-26 07:24] denesb commented on #11393
@tzach can I just update the current docs and the old ones will keep referencing the old way of invoking the tools?

[2022-08-26 07:32] lukaszsurfer commented on #9277
I have faced similar problem. Regardless of what interface name I do set in `listen_interface` parameter, it is always resolved to `127.0.0.1`.
Possibility to use interface name in the config would simplify it a lot, having the same config file on every host.

[2022-08-26 07:58] Fornax96 commented on #11223
Thanks! Installing now.

[2022-08-26 10:18] soyacz commented on #11386
It was on `Scylla version 2022.1.rc8-0.20220627.e3a8365d2 with build-id 78c8ca3bf6bb73eecd12c6aeba079b7e678d42c9` and fix https://github.com/scylladb/scylladb/commit/c6d0bc87d024addd62962892d64b04410089cbd7 was not there yet I suppose. I'll reopen if happens on master/2022.2.

[2022-08-26 11:36] #11386 closed

[2022-08-26 12:38] bhalevy commented on #11202
@tgrabiec How difficult would it be to enable/disable it per table? Or would a global config flag would be more practical?

[2022-08-26 15:42] tgrabiec opened #11396 "Concurrent same-name table creation with a different schema leads to a cluster-wide crash"
Issuing two CREATE TABLE statements with a different name for one of the partition key columns leads to the following assertion failure on all replicas:

[code]

The reason is that once the create table mutations are merged, the `columns` table contains two entries for the same position in the partition key tuple.

If the schemas were the same, or not conflicting in a way which leads to abort, the

[2022-08-26 15:44] tgrabiec commented on #11396
The proposed fix is to make CREATE TABLE mutation include a tombstone for all older schema changes of this table, effectively overriding them. The behavior will be the same as if the schemas were not different, older table will be dropped.

[2022-08-26 18:08] syuu1228 commented on #11359
I also tried to reproduce it, but data volume initializing just worked fine.
But it's not first time we see `Command 'systemctl  start var-lib-scylla.mount' returned non-zero exit status 1`, I think there's some condition to cause timing bug there.

I do not have any evidence yet, but I'm guessing the error is related with UUID based disk path (/dev/disk/by-uuid).
I think current code does not wai

[2022-08-26 18:30] syuu1228 commented on #11359
@avikivity sent PR based on the comment above > #11399

[2022-08-27 14:54] tzach commented on #11393
Since we do not yet use branching in docs, its better to include both for now, stating which is relevant to which release.

[2022-08-28 10:13] ShlomiBalalis commented on #11252
The issue exists in 2022.2 as well:
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `2022.2.0~rc0-20220814.eb67e6127d6b` with build-id `5fc03e7326d7fd7e3eb1228a48382a35fcd8c08f`
Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run:
- longevity-tls-2tb-48h-1dis-2nondis--db-node-106870ad-9 (54.217.53.187 | 10.4.1.74) (shards: 10)
- longevi

[2022-08-28 11:11] DoronArazii commented on #11289
@bhalevy ^^

[2022-08-28 13:33] Jasperav commented on #10135
@avikivity I got the same problem on 5.0.1, with and without `platform: linux/amd64`

[2022-08-28 14:14] ShlomiBalalis commented on #11017
The issue was replacated in a 2022.2 job:
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `2022.2.0~rc0-20220814.eb67e6127d6b` with build-id `5fc03e7326d7fd7e3eb1228a48382a35fcd8c08f`
Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run:
- longevity-tls-2tb-48h-1dis-2nondis--db-node-106870ad-9 (54.217.53.187 | 10.4.1.74) (shards: 10)
- l

[2022-08-28 18:23] #11315 closed

[2022-08-29 02:52] denesb commented on #11354
Does the user has mismatching shard-count in the cluster? If yes, this could be the same as https://github.com/scylladb/scylladb/issues/11223.

[2022-08-29 05:31] denesb commented on #11393
Ok, will do.

[2022-08-29 09:33] Horcrux7 commented on #4141
Is there an workaround to handle this in a dual stacked docker test system?

[2022-08-29 09:45] geobeau commented on #11306
I opened a PR #11403 as the patch worked very well in our pre-production environment. I'd be interested in feedback on the safety of the patch before moving with our production.

[2022-08-29 11:09] Fornax96 commented on #11223
I'm afraid that the custom build did not really fix the problem. Shards are still getting stuck in a loop during repairs, and the repair operations are still timing out.

[2022-08-29 11:13] denesb commented on #11223
Can you paste here some timeout messages from the logs, specifically the ones with the "reader_concurrency_semaphore - Semaphore _streaming_concurrency_sem with 1/10 count and 108840/178551521 memory...". Please note that this log is multi-line, please paste here all the lines.

[2022-08-29 11:20] DoronArazii commented on #11353
@eliransin / @asias please have a look

[2022-08-29 11:21] Fornax96 commented on #11223
Here are logs from nodes which recently printed errors

Node 1:
[code]

Node 2:
[code]

Node 5:
[code]

Node 7:
[code]

[2022-08-29 11:29] Fornax96 commented on #11354
This does seem like the same issue I'm facing with my cluster.

[2022-08-29 12:10] nyh commented on #10909
Two months later, Fedora 26's clang 14.0.5 is still broken and doesn't build Scylla in debug mode :-(

[2022-08-29 12:32] fee-mendes commented on #11354
No, the shard count is the same: 8 vCPUs. 6 nodes per DC, 2 DCs each (12 nodes total)

[2022-08-29 13:38] tarzanek opened #11406 "Issue in page Administration Guide"
I would like to report an issue in page https://docs.scylladb.com/master/operating-scylla/admin

### Problem
the table with ports is listed 2x
"Scylla uses the following ports:"
(and below)

###  Suggest a fix

deduplicate the ports table

[2022-08-29 19:39] #11314 closed

[2022-08-29 19:39] #11396 closed

[2022-08-30 05:30] bhalevy opened #11408 "TRUNCATE should support USING TIMEOUT"
Currently the timeout for truncate operation is controlled only via the `truncate_request_timeout_in_ms` config option.
The way truncate is implemented today it running time depends on the data size, in particular when automatically taking a snapshot prior to deleting the sstable files.
Also it depends on the number and size of views of the base table as they are truncated too.

To provide simple

[2022-08-30 07:57] taras3bor opened #11410 "Cassandra tombstone_warn_threshold functional."
Cassandra has option in config 'tombstone_warn_threshold'. For queries with tombstones more than that it will show warning messages with raw query text, e.g.:

Node1:
`WARN [ReadStage-1] 2022-08-04 19:13:57,545 ReadCommand.java:536 - Read 1000 live rows and 9000 tombstone cells for query SELECT record_time FROM data_filler2.data WHERE token(dataset) >= token(2) AND token(dataset) <= -2951164572069

[2022-08-30 07:59] taras3bor commented on #11410
I propose a solution to it  https://github.com/scylladb/scylladb/pull/11356

[2022-08-30 08:11] fruch commented on #11353
@vponomaryov if you can continue with trying toisect on which commit this issue started happen

[2022-08-30 10:40] Bychin commented on #10982
JFYI: No problem after upgrading all nodes to 4.6.6

[2022-08-30 10:41] Bychin commented on #11107
JFYI: No problem after upgrading all nodes to 5.0.1

[2022-08-30 12:08] KnifeyMoloko opened #11413 "Scylla fails to startup with `seastar::sleep_aborted` after enospc"
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220822.fa7033bc2be5` with build-id `4c66b02f12d1bb1ae1903aa192e269c3a4351112`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-0046d985-9 (16.170.223.249 | 10.0.2.213) (shards: 7)
- longevity-twcs-48h-master-db-node-0046d985-8 (13.48.29.

[2022-08-30 12:08] KnifeyMoloko commented on #11413
Possibly related to: https://github.com/scylladb/scylladb/issues/11299

[2022-08-30 12:12] avikivity commented on #11396
While this fixes an important bug, it isn't a regression and the bug is quite rare, so not backporting.

[2022-08-30 12:17] geobeau commented on #11306
PR is effective on big cluster, from timeout to <1s.

[2022-08-30 12:32] rzetelskik commented on #11302
It's caused by stale entires in conntrack (https://github.com/scylladb/scylla-operator/issues/982#issuecomment-1218106849). Because Pods are ephemeral, there's a service (load balancer) with static IP used for each node's identity. QA uses kube-proxy in iptables mode, which means there's a FORWARD rule for each endpoint behind the load balancer. After node 3 is restarted, the IP behind the load ba

[2022-08-30 13:20] KnifeyMoloko commented on #9933
Reproduced it without the `chunk_length_kb` attribute being changed:

## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220824.6ce5e9079c1e` with build-id `d7559bfdcb8ca68f5a8b7568ee81e1cc505e8498`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-215295f3-9 (13.49.77.251 | 10.0.0.243) (

[2022-08-30 13:26] fruch commented on #11245
@bhalevy

still seeing very similar issue in `5.2.0~dev-20220825.df87949241fc`

## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220825.df87949241fc` with build-id `288b8488a4d0bdadd82b8ceb7f2d0f6e5398dcd5`
Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-3h-master-db-node-c8e6faa9-4 (13.53.98.238 | 10.0.2.

[2022-08-30 14:39] KnifeyMoloko opened #11414 "Write errors after altering the test table with `tombstone_gc = {'mode': 'repair'};`"
## Installation details

Kernel Version: 5.15.0-1017-aws
Scylla version (or git commit hash): `5.2.0~dev-20220824.6ce5e9079c1e` with build-id `d7559bfdcb8ca68f5a8b7568ee81e1cc505e8498`
Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-215295f3-9 (13.49.77.251 | 10.0.0.243) (shards: 7)
- longevity-twcs-48h-master-db-node-215295f3-8 (13.53.125.2

[2022-08-30 18:27] vladzcloudius commented on #8302
@DoronArazii Any progress here?

[2022-08-31 03:53] denesb commented on #11223
@Fornax96 going forward we have two options to continue pursuing this:
1) If you can give us sstables from the problematic node (we can start with 1), I can try to reproduce locally.
2) I can continue to give you builds for you to install and try and report back the result.

(1) would be much faster obviously but it involves you giving us data which may or may not be acceptable to your company.

[2022-08-31 05:39] vponomaryov commented on #11353
The very first 5.2.x build already has the bug - `5.2.0-dev-0.20220805.cf0f912e599d`.

[2022-08-31 08:51] Fornax96 commented on #11223
I will send time_series_2 to you, it doesn't contain any personally identifiable information.

[2022-08-31 10:12] DoronArazii commented on #8302
@slivne we have [Tzach's input above](https://github.com/scylladb/scylladb/issues/8302#issuecomment-1194410965) - let's assign somebody to handle this.

[2022-08-31 10:22] denesb commented on #11223
Thanks, that'd be great. You can upload it the same way you uploaded the cores (after zipping into a tarball).

[2022-08-31 10:22] Fornax96 commented on #11223
@denesb I have uploaded the table from node 1 at 0da8f84f-83a0-4ed0-881e-3be53d62dfae

[2022-08-31 11:28] bhalevy commented on #9906
Let's try to reproduce with ae8d2a550d227de2221c310bd38704ad2e078b35 that fixed #11396
(not backported anywhere yet)

[2022-08-31 11:31] DoronArazii commented on #11414
@eliransin / @asias / @elcallio please have a look

[2022-08-31 11:33] DoronArazii commented on #11413
@bhalevy please have a look

[2022-08-31 11:34] bhalevy commented on #11413
Duplicate of #11245

[2022-08-31 11:35] bhalevy commented on #11413
fa7033bc2be5 does not include a980510654e5a504da1b58bf8398c05676e01572

[2022-08-31 11:35] #11413 closed

[2022-08-31 11:39] avikivity commented on #11319
You're right, I'm very surprised. So you can't run two containers that listen on the same port without -p?

[2022-08-31 12:13] fee-mendes commented on #11319
You can. But you can't - of course - bind both ports to the same local port. The `-p 10000` (which only exposes it outside the container to be reached externally, but doesn't necessarily bind it to a host port) is already in place when you spin up a container. That allows you to reach the RestAPI port if (**and only if**) you decided to configure the `--api-address` to listen on `0.0.0.0`.

For a

[2022-08-31 12:28] fee-mendes commented on #11354
Another coredump is made available under `a4e381be-6745-4832-977b-394498425667`
The first one is in `7ef39eeb-facb-4be8-882b-5f43011358b3`

[2022-08-31 12:29] avikivity commented on #11319
Ah, I now remember that monitoring will bind to random ports if another instance is up.

Thanks for the explanations.

So I now think it's best not to change anything for now. But when we disaggregate the image as @tnozicka wants we'll have to change it.

[2022-08-31 12:29] #11319 closed

[2022-08-31 15:19] kenschell opened #11419 "After upgrade to 4.6.6 CA Certs being reported as certificate is NOT trusted. The certificate issuer is unknown. on Scylla startup."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.6.6
Cluster size: 6 nodes VM
OS (

[2022-08-31 15:52] MokhlesHm opened #11420 "Scylla suddenly crashed on ubuntu server"
Upload UUID : 841c4376-d41c-4c8e-b596-98c1bd12e222

*Installation details*
Scylla version : 4.6.3
Cluster size: 4
OS : Ubuntu

*Hardware details *
Platform : VM
Disks: HDD

the logs showing the following :

Process 3240500 (scylla) of user 113 dumped core.

                                                               Stack trace of thread 3240502:

[2022-08-31 16:04] denesb opened #11421 "sstables: crawling reader can emit duplicated partition end"
If last fragment is a range-tombstone-change with pos after all clustering rows.
This reader is used by scrub/validate and the sstable tools. As a result of this bug, scrub can produce false-positive failures.

[2022-08-31 16:40] vladzcloudius commented on #6088
Guys, @asias @tgrabiec, I'm a little confused here.
Don't remote nodes persist the bootstrapping node info into `system.peers` early in the bootstrapping process (probably before streaming)?

[2022-08-31 16:49] #2758 closed

[2022-08-31 17:05] kostja commented on #6088
We should be going with 1) using group0. Tokens should be persisted using a group0 state change.

[2022-08-31 17:07] kostja commented on #6088
The peer information is only pesistent once the node switches to NORMAL. While the node is bootstrapping, this information is part of the gossip application state but not persistent in the database.
With raft based topology ops this information should not part of gossip in the first place.

[2022-08-31 17:41] #11252 closed

[2022-08-31 17:41] #11363 closed

[2022-08-31 20:22] vladzcloudius commented on #6088
Got it. Thanks.

[2022-08-31 20:38] fruch commented on #11353
@vponomaryov can we continue to try more version between this one, and the last known working one ?

[2022-09-01 01:03] asias commented on #11353
Did you wait for the cluster to finish the rolling restart? The resharding will take time and  block scylla to finish reboot until resharding is done.

INFO  2022-08-21 00:05:47,586 [shard  0] gossip - is_safe_for_restart: node=172.20.120.46 doest not have status or host_id yet in gossip
INFO  2022-08-21 00:05:47,586 [shard  0] gossip - is_safe_for_restart: node=172.20.65.55 doest not have status

[2022-09-01 01:36] asias commented on #11414
I do not see how a change of a schema property would make the mutation to 250MB.

[code]

@KnifeyMoloko Does this happen with other compaction strategy as well?

[2022-09-01 01:48] asias commented on #11078
We need to backport:

From Asias:
[code]
commit 9167b857e9c3f32032b6e9a6eed73610c0da0a85
Author: Benny Halevy <bhalevy@scylladb.com>
Date:   Wed Aug 10 23:18:46 2022 +0300

    abstract_replication_strategy: calculate_effective_replication_map: optimize for static replication strategies

    For replication strategies like "everywhere"
    and "local" that return the same set of endpoints
    for

[2022-09-01 04:11] fruch commented on #11353
@asias the more concerning part here is that nodes are not seeing each other after being rebooted with different SMP,

needless to say this exact flow was is working in 4.6 / 5.0 and on master until ~2 weeks.

We are still trying to pin when exactly it started

[2022-09-01 04:30] denesb opened #11424 "chunked_managed_vector attempts to free invalid addresses"
When running the test cases `test_chunk_reserve` or `test_clear_and_release` I noticed that chunked managed vector attempts to free some fishy looking addresses:
[code]
This is silently ignored by lsa, resulting in a no-op as the address doesn't belong to any valid segments (segment with idx=0 is like a nullptr AFAIK).
I only discovered this because I modified the segment store used in debug mode

[2022-09-01 04:31] denesb commented on #11424
cc @tgrabiec

[2022-09-01 04:33] denesb commented on #11424
Can be reproduced with this patch:
[code]
[code]

[2022-09-01 04:57] asias commented on #11353
There are lots of such commit log messages. This looks worrisome.

[code]

[2022-09-01 06:06] shobhanaquickride opened #11427 "Scylla node fails to start after a storage_io_error"
*Installation details*
Scylla version (or git commit hash): 5.0.1-0.20220719.b177dacd3
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

One of the nodes failed since the disk space was full. I cleared some disk space by deleting some old snapshot backup, but the scylla server is not starting!

**The first related error observed in the syslog:**
Aug 30 18:16:01 e2e-71-34 CRON[25781]: (qrnet

[2022-09-01 06:11] asias commented on #11354
Yes, the code to get the estimation is below.

[code]

[2022-09-01 06:17] denesb commented on #11354
Actually, I see two states:
`get_estimated_partitions_finished` and `row_level_start_started`. After `repair_row_level_start()` finishes, we proceed to estimate partitions. So it looks like it is the following loop that is stuck:
[code]
Some nodes have finished the body completely, but others are stuck on the first RPC call. Which is very weird, `repair_row_level_start_handler()` is very simple, i

[2022-09-01 06:31] asias commented on #11354
I looked at the states again.  So the one with get_estimated_partitions_finished is all good. The one with row_level_start_started has stuck on the repair_row_level_start verb.

Perhaps it is related to the rpc hang issue we recently saw. @xemul Is anyting exposed in 4.6.3 release?

[2022-09-01 07:18] soyacz opened #11429 "[Docs] Error in architecture type options in OS packages upgrade"
On page: https://docs.scylladb.com/stable/upgrade/upgrade-opensource/upgrade-guide-from-4.6-to-5.0/upgrade-guide-from-4.6-to-5.0-image.html#download-and-install-the-new-release
Architecture types: "Architecture type: `x86` or `aarch644`." are invalid.

Should be "`x86_64` or `aarch64`"

[2022-09-01 07:51] fruch commented on #11353
triggered one more run with `[5.1.0-dev-0.20220802.768a5c8b5a1e](https://hub.docker.com/layers/scylladb/scylla-nightly/5.1.0-dev-0.20220802.768a5c8b5a1e/images/sha256-02228a07944e0ca2085fa9bd5ed597654cc3edd701509ef1bf8521d99e657e34?context=explore)

https://jenkins.scylladb.com/job/scylla-operator/job/operator-master/job/eks/job/longevity-scylla-operator-3h-eks/21/

if it would pass, it would limi

[2022-09-01 07:57] PeterCorless commented on #9940
There are currently two different strategies to add geospatial queries to Cassandra:

- [GeoMesa](https://www.geomesa.org/) — a package that would reside on top of ScyllaDB; it would be using ScyllaDB as an underlying datastore, much the way that JanusGraph can reside on top of ScyllaDB for a graph data model. This is available today. GeoMesa uses Z-curve indexes. GeoMesa uses Contextual Query Lan

[2022-09-01 08:24] xemul commented on #11354
@asias , there are 3 known "connection hang" issues
1. https://github.com/scylladb/seastar/issues/1154 , but 4.6.3 is not affected by this
2. https://github.com/scylladb/seastar/issues/1146 , 4.6.3 affected, however it's been around since forever, if this issue appeared recently, it's unlikely that it's the culprit
3. https://github.com/scylladb/seastar/issues/1152 , 4.6.3 affected, but similarly

[2022-09-01 08:45] denesb commented on #11424
Nevermind, this is just LSA forwarding large allocations to the standard allocator.

[2022-09-01 08:45] #11424 closed

[2022-09-01 08:53] denesb commented on #11354
@fee-mendes would it be possible to do another attempt, after setting the `repair` logger to trace level, and attach here the logs please?

[2022-09-01 09:17] annastuchlik opened #11430 "Docs: missing support information for Ubuntu 22.04 for ScyllaDB Enterprise"
- Add Ubuntu 22.04 to the OS support column: https://docs.scylladb.com/stable/getting-started/os-support.html#scylla-enterprise
- Synchronize the column names in the Open Source and Enterprise sections.

[2022-09-01 09:25] denesb commented on #11223
[code]
There are like ~10K sstables here. I wonder if this has something to do with the slowness. What compaction strategy is your table using?

[2022-09-01 09:29] Fornax96 commented on #11223
@denesb I left everything default. Here's the table definition

[code]

[2022-09-01 10:24] annastuchlik commented on #11341
This issue has been resolved with https://github.com/scylladb/scylladb/pull/11347.

[2022-09-01 10:24] #11341 closed

[2022-09-01 10:31] roydahan commented on #9906
@fgelcer please try to reproduce this issue with the 1TB longevity, it used to happen immediately when we start the stress, so no need to progress after that point.
If it doesn't reproduce easily, maybe the one wit parallel nemesis.

Please keep the cluster alive when it reproduces.

[2022-09-01 10:37] annastuchlik commented on #11346
Support for the `md` format was added in version 4.3: https://github.com/scylladb/scylladb/issues/4442.
And it became the default: https://www.scylladb.com/product/release-notes/scylla-open-source-4-3/

[2022-09-01 11:29] avikivity commented on #10224
Not a bug, not backporting.

[2022-09-01 11:34] avikivity commented on #10846
@xemul please evaluate for backport for 5.0

[2022-09-01 11:36] avikivity commented on #10738
Not a regression, not backporting.

[2022-09-01 11:37] avikivity commented on #11118
Turns out that fix caused a lot of regressions itself. Let's see if the fix to the fix is stable.

[2022-09-01 11:37] avikivity commented on #10871
Not a regression, not backporting.

[2022-09-01 11:37] avikivity commented on #10871
Or rather, not a bug.

[2022-09-01 11:39] avikivity commented on #7359
Fix present on all active branches, not backporting.

[2022-09-01 11:39] avikivity commented on #7457
Fix present on all active branches, not backporting.

[2022-09-01 11:40] avikivity commented on #6674
Fix present on all active branches, not backporting.

[2022-09-01 11:40] avikivity commented on #7230
Fix present on all active branches, not backporting.

[2022-09-01 11:43] avikivity commented on #8799
Fix present on all active branches, not backporting.

[2022-09-01 11:45] avikivity commented on #8609
Fix present on all active branches, not backporting.

[2022-09-01 11:45] avikivity commented on #9313
Removing label.

[2022-09-01 11:46] avikivity commented on #9243
Not a bug, not backporting.

[2022-09-01 12:01] xemul commented on #10846
@avikivity , the problem was with rate-limited per-class bandwidth with its unlimited rate being of uint64_t max value magnitude.
In 5.0 there's only RL scheduler with its rate being const `1<<24 = 16777216` value. It may overflow if replenisher sleeps for 17 years and 153 days. Can we tag it somehow to backport the fix in the beginning of 2040 if 5.0 will be still in use?

[2022-09-01 12:31] avikivity commented on #10100
Debating whether to backport. On the one hand, science and javascript are mutually exclusive, and this is esoteric. On the other hand, maybe a library can generate it.

@nyh opinion?

[2022-09-01 12:44] avikivity commented on #9771
Backported to 4.6 (5.0, 5.1 have it).

[2022-09-01 12:45] slivne commented on #11017
@elcallio ping - this reoccurs

[2022-09-01 12:46] denesb commented on #11393
Oh, right, the change of hosting the tools in the executable happened before a release was cut, so we have no release shipping with `scylla-types` and `scylla-sstable` named executables.

[2022-09-01 13:03] avikivity commented on #10100
Minimally to 5.0.

[2022-09-01 13:04] avikivity commented on #10100
Backported to 5.0 only (as it's not a regression and not an incompatibility, but does affect users).

[2022-09-01 13:04] avikivity commented on #10100
5.1 has it, 4.6 left broken.

[2022-09-01 13:05] avikivity commented on #9470
Test only, not backporting.

[2022-09-01 13:06] avikivity commented on #9231
Test only, not backporting.

[2022-09-01 13:06] avikivity commented on #9355
Not backporting per @nyh assessment.

[2022-09-01 13:07] avikivity commented on #9364
Somewhat esoteric, not backporting.

[2022-09-01 13:08] denesb commented on #11223
What is the typical workload on this table? Mostly writes? Do you do deletes a lot?

[2022-09-01 13:17] Fornax96 commented on #11223
It used to be mostly writes and few reads. But I recently started deleting some old records. Three records and added any time someone downloads a file from pixeldrain, one for the file's statistics, one for the user's statistics and one for the globals statistics. So there's a lot of writes and some partitions are pretty hot. The partitions are grouped per day, so when the date is in the past the

[2022-09-01 13:18] kenschell commented on #11419
All of our nodes are currently running version 4.4.8 and we are trying to go the route of 4.4.8 -> 4.5.6 -> 4.6.6 -> 5.0

[2022-09-01 13:25] denesb commented on #11223
Ok, there is just ~5K sstables, still a huge amount. I will check the core again to see how much is opened at the same time for a read.
@raphaelsc any idea why so many sstables accumulated?

[2022-09-01 13:37] Fornax96 commented on #11223
Could it be that the bug is preventing the table from being compacted? I tried running a forced compaction but that command also timed out.

[2022-09-01 13:38] avikivity commented on #11223
[code]

How do we time out on repair? I thought system reads don't time out.

It looks like some kind of livelock.

[2022-09-01 13:39] denesb commented on #11223
We added a (very long) timeout to repair some time ago to break suspected livelocks.

I think the read simply takes ages and other ages queued up behind it time out.

[2022-09-01 13:39] avikivity commented on #11223
Please share some logs, there should be lots of compaction noise there.

Check (and share) the Advanced dashboard for compaction I/O, CPU, and shares.

[2022-09-01 13:56] denesb commented on #11223
The read I have access to only has 2 open readers. Unfortunately since thread debugging doesn't work for the cores I got I cannot search for the other readers in memory.

[2022-09-01 14:02] Fornax96 commented on #11223
The graphs were flat so I ran a forced compaction to see what happens:

![image](https://user-images.githubusercontent.com/1247928/187933105-7792ca84-60f6-4551-997e-3b17df7bcd1f.png)

![image](https://user-images.githubusercontent.com/1247928/187933212-51797003-4537-4027-ade5-861d67e288b0.png)

The compactions seemed to be working at first but after a while it printed this:
[code]

[2022-09-01 14:04] Fornax96 commented on #11223
Also the number of files in the data directory went down from 44605 to 44356

[2022-09-01 14:06] Fornax96 commented on #11223
The compaction actually completed successfully this time. The error message was probably coincidental.

[2022-09-01 14:06] avikivity commented on #11223
Major compaction should drop the file count to 7*8=56 per node.

[2022-09-01 14:07] avikivity commented on #11223
Also the shares are very low. Maybe those files are in a snapshot?

[2022-09-01 14:16] Fornax96 commented on #11223
There are a bunch of pre-scrub snapshots on the node apparently. I'll remove those

[2022-09-01 14:24] denesb commented on #11424
These are allocations that are larger than a segment. It is possible to split these across segments but then this complicates segment movement (segments can only be moved together).

[2022-09-01 15:55] fruch commented on #11353
@slivne couldn't reproduce this one in dtest, beside doing a rolling restart with smp change, I don't know what else to try.

[2022-09-01 16:18] soyacz commented on #11346
Thanks @annastuchlik , I've forgotten about this issue.

[2022-09-01 16:27] avikivity commented on #11424
Why? Make sure the chunks are smaller than the maximum managed size.

[2022-09-01 17:34] avikivity commented on #10286
Minor, but may as well backport. Backported to 4.6, 5.0. 5.1 already had it.

[2022-09-01 17:36] avikivity commented on #10361
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-09-01 17:38] avikivity commented on #9748
Not a bug, not backporting.

[2022-09-01 17:39] avikivity commented on #9662
Not a regression, and not trivial, so not backporting.

[2022-09-01 17:40] avikivity commented on #9693
No vulnerable branches, not backporting.

[2022-09-01 17:41] avikivity commented on #9619
I think it's okay to keep it in 5.0+ only, since it isn't a regression.

[2022-09-01 17:42] avikivity commented on #9320
Fix present on all active branches, not backporting.

[2022-09-01 17:44] avikivity commented on #8924
Fix present on all active branches, not backporting.

[2022-09-01 17:44] avikivity commented on #8848
No vulnerable branches, not backporting.

[2022-09-01 17:46] avikivity commented on #7611
Fix present on all active branches, not backporting.

[2022-09-01 17:47] avikivity commented on #7659
Fix present on all active branches, not backporting.

[2022-09-01 17:48] avikivity commented on #8479
Fix present on all active branches, not backporting.

[2022-09-01 17:49] avikivity commented on #8468
Fix present on all active branches, not backporting.

[2022-09-01 17:50] avikivity commented on #5087
Fix present on all active branches, not backporting.

[2022-09-01 17:54] avikivity commented on #5459
Fix present on all active branches, not backporting.

[2022-09-01 17:55] avikivity commented on #5942
No vulnerable branches, not backporting.

[2022-09-01 17:55] avikivity commented on #6021
Fix present on all active branches, not backporting.

[2022-09-01 17:56] avikivity commented on #6847
Fix present on all active branches, not backporting.

[2022-09-01 20:58] bhalevy commented on #9059
Hit again
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/35/artifact/logs-full.debug.022/1661948437916_secondary_indexes_test.py%3A%3ATestLocalIndexes%3A%3Atest_drop_local_index_while_building/node2.log
[code]

Core dump here: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/35/artifact/logs-full.debug.022/1661948437916_secondary_in

[2022-09-01 21:10] bhalevy commented on #11119
@denesb we've hit the same symptom again.
Can you please look into it and see if it makes more sense to reopen this issue or to open a new one?

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/35/testReport/repair_additional_test/TestRepairAdditional/Run_Dtest_Parallel_Cloud_Machines___HeavyDtest___heavy_split000___test_repair_disjoint_row_2nodes_diff_shard_count_2

[2022-09-01 21:25] fruch opened #11435 "Scylla fail to install on rocky9 (missing python2 package)"
When installing scylla on rocky9 is fails with the following error
[code]

SCT PR with the test code for running it:
https://github.com/scylladb/scylla-cluster-tests/pull/5048

[code]

python2 package isn't supported anymore in CentOS 9 Stream (python2.7 is EOL for more then 2 years by now)

We are still depended on python2, cause of cqlsh.

[2022-09-01 21:55] #11393 closed

[2022-09-01 23:20] fee-mendes commented on #11354
@denesb available under `8444edea-f167-4187-ae4e-fd9d6a51d52f`

The bucket also contains the CPU utilization during the activity across all nodes, the number of SSTables for the affected table (9 per shard, 72 total), which makes it unlikely to be #11223 . It also has the `seastar-cpu-map.sh` output and - of course - as requested, the logs with `repair` set to trace level.

The repair task was sta

[2022-09-02 03:02] denesb commented on #11424
Yes, that should work too. After all we aim to keep our allocation sizes below 128K anyway (which is the segment size).

[2022-09-02 05:38] denesb commented on #11223
I wanted to see if it is some shard in particular that has a lot of sstables, but it seems pretty uniform:
[code]

[2022-09-02 05:50] denesb commented on #11119
I don't think the error was during startup the last time. But could be a variation of the same issue. I think solving https://github.com/scylladb/scylladb/issues/11174 would make these go away.

[2022-09-02 06:37] denesb commented on #11354
@asias can you hav a look at the logs?

[2022-09-02 06:48] bhalevy commented on #11119
The origin issue reported here was on startup too: https://github.com/scylladb/scylladb/issues/11119#issue-1316513108

Let's reopen this issue then, since as you said it could be a result of #11174 and not a duplicate of #9482 after all.

[2022-09-02 06:58] asias commented on #11354
On node 10.193.134.73, repair with uuid ce3027c8-8999-46aa-8fb3-4def4c1a44f2 did not finish on shard 0 / 4.
[code]

[2022-09-02 07:00] pragmaxim commented on #11368
@avikivity no success in the end, I have `vm.swappiness = 1` and this still causes `SIGKILL` :
[code]

[2022-09-02 07:07] asias commented on #11354
On shard4:
[code]

[code]

[2022-09-02 07:11] asias commented on #11354
For the following repair instance on shard4, we do not see logs like:

rlogger.trace("Get repair_get_estimated_partitions for node={}, estimated_partitions={}", node, partitions);

which suggests, we stuck on repair_row_level_start verb.

[code]

[2022-09-02 07:24] asias commented on #11354
Looking at the last repair instance  in comment above:

[code]

All peers have recevied the repair_row_level_start verb, but, the repair master node 10.193.134.73 did not receive repair_row_level_start response.

[code]

[2022-09-02 07:26] asias commented on #11354
Maybe in this setup it is easier to trigger.

Are the rpc fixes backported to any 4.6.x branch?

[2022-09-02 08:38] xemul commented on #11354
The 1st -- no as 4.6.* is not affected. The 2nd and the 3rd are not yet fixed

[2022-09-02 13:29] denesb commented on #11264
Backported to 5.0 and 5.1.

[2022-09-02 18:35] fee-mendes opened #11439 "Need a guardrails mechanism for incorrect TWCS settings"
HEAD https://github.com/scylladb/scylladb/commit/2c46c246083688b550eb1bef2421c88e8ffb59f2

Every now and then we end up in a situation on where users of TWCS end up underestimating their window buckets when using TWCS. Unfortunately, scenarios on which one employs a `default_time_to_live` setting of 1 year but a window size of `30 minutes` are not rarely enough.

Such configuration is known to onl

[2022-09-03 02:56] raphaelsc commented on #11439
Agree completely with the sentiment. Ideas were proposed here: https://github.com/scylladb/scylladb/issues/6923

[2022-09-03 02:56] raphaelsc commented on #11439
We need to raise the priority.

[2022-09-03 15:27] fee-mendes opened #11441 "TWCS table creation with an incorrect unit leaves system_schema entries behind"
**Installation details**
Scylla version (or git commit hash): `5.0.1-0.20220719.b177dacd3` with build-id `217f31634f8c8722cadcfe57ade8da58af05d415`
Cluster size: Single

**Description**
Potentially affected by other options as well. Creating a TWCS table with an incorrect unit key leaves polluted `system_schema` tables and columns entries :

[code]

@raphaelsc

[2022-09-04 00:50] Rivers-Shall opened #11442 "Linearizability violations found in ScyllaDB 4.6 LWTs"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

# Installation details
Scylla version (or git commit hash): 4.6.5-0.20220719.2ec293ab0 with bu

[2022-09-04 05:16] tzach commented on #11442
@kostja FYI

[2022-09-04 07:46] slivne commented on #11174
@bhalevy / @denesb we need to understand if this happens in 5.1 branch or only in master - please clarify

[2022-09-04 08:57] nyh commented on #9059
@eliransin and @tgrabiec probably understand this code better than me, but when I looked at it a year ago in
https://github.com/scylladb/scylladb/issues/9059#issuecomment-882098740 my conclusion was that the test mentioned then really had concurrent view updates **and** view deletion and recreation, so it's not surprising that the view was "pulled under our feet", and the only bug is that we consi

[2022-09-04 10:17] avikivity commented on #11439
Closing as duplicate of #6923

[2022-09-04 10:17] #11439 closed

[2022-09-04 10:18] avikivity commented on #11439
(but agree it should be scheduled, @slivne )

[2022-09-04 12:24] avikivity commented on #11424
It's not possible to do it generically though, since chunked_managed_vector has a limited span. It's practically large enough with 128k chunks, but the reach is much smaller with 12.8k chunks (100X smaller), and there is no guarantee.

To get a guarantee we need a radix tree instead.

[2022-09-04 13:10] kostja commented on #11442
What are the quorum settings in the test? Is it a single-DC or multi-DC setup?

[2022-09-04 13:48] avikivity opened #11443 "build.ninja rebuild incompatible with older branches"
Since 8db9e62de92945b4322772aa95715ad4277f2a87, switching to an older branch and building will fail on reconfiguring, since new ./configure.py injects command line parameters not understood by older versions.

[2022-09-04 14:51] nyh commented on #9059
After some effort, I was able to reproduce this bug in a single-node cql-pytest setup:

The test is very simple, and always fails in less than a second on my machine. It creates a table with some data, and then loops creating a view and deleting it. The theory is that when the base table changes its schema during the view build, the view builder will get confused. The test code:
[code]

With unmod

[2022-09-04 14:56] avikivity commented on #11368
It allocates a small amount more, not much more. But 2GB might not be enough for all the processes in the container (scylla-jmx, the occasional nodetool, and the supervisor process).

[2022-09-04 14:57] avikivity commented on #11368
Attach the OOM report and we can see exactly who allocates what.

[2022-09-05 03:12] #11421 closed

[2022-09-05 04:07] Rivers-Shall commented on #11442
I believe in jepsen it is a single-DC setup.

[2022-09-05 04:55] denesb commented on #11174
I don't think this affects just master, but we won't know for sure until we add the validation (started working on that now). The underlying problems causing the errors could go god knows how far back. The one issue that was uncovered and fixed (https://github.com/scylladb/scylladb/issues/9482) was existed for years.

[2022-09-05 06:57] gusev-p opened #11447 "Remove set_configuration from public API"

[2022-09-05 09:26] bhalevy opened #11449 "Add large_collections table"
We've hit high write latency in the field where the culprit appears to be collections with too many items.
Although we already have tracking for large_cells, it is possible that a collection will have too many items but still won't cross the large cell threshold.

So @avikivity wrote:

[2022-09-05 09:32] syuu1228 commented on #11435
If we merge cassandra-4.x branch from upstream, cqlsh will support python3. But I'm not sure our changes is incompatible with them or not.
Maybe we should backport cqlshlib only, just support pyhon3?

[2022-09-05 09:56] annastuchlik opened #11450 "Doc: clarify the procedure of updating OS packages during ScyllaDB image upgrade"
https://docs.scylladb.com/stable/upgrade/upgrade-enterprise/upgrade-guide-from-2021.1-to-2022.1/upgrade-guide-from-2022.1-to-2022.1-image.html#download-and-install-the-new-release
This section describes two procedures for upgrading the image. The way it is documented now may be confusing:

Write an introduction to the recommended procedure to clarify there are two procedures and the one involving

[2022-09-05 10:03] syuu1228 commented on #11435
Or we have to do "relocatable-python2", but we have avoided to do that for years so I guess we should just move to python3.

[2022-09-05 10:05] annastuchlik opened #11451 "Doc: fix the file name (the URL name) in the upgrade guide"
https://docs.scylladb.com/stable/upgrade/upgrade-enterprise/upgrade-guide-from-2021.1-to-2022.1/upgrade-guide-from-2022.1-to-2022.1-image.html
The directory is 2021.1 to 2022.1, but the file name is 2022.1 to 2022.1.

Rename the file to: upgrade-guide-from-2021.1-to-2022.1-image

[2022-09-05 10:07] annastuchlik opened #11452 "Doc: add image upgrade guide for patch releases"
For versions 2022.1 and 5.0.

[2022-09-05 10:17] shobhanaquickride opened #11453 "nodetool rebuild fails when a new DC is added to the existing DC"
*Installation details*
Scylla version (or git commit hash): Scylla version 5.0.1-0.20220719.b177dacd3
Cluster size: Main DC (3 nodes), DR DC (1 node)
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

After adding a new DC, nodetool rebuild fails on the new DC instance!
I have a single-DC cluster with 3 nodes running Scylla version 5.0.1-0.20220719.b177dacd3 on all nodes. The disk space utilization in each

[2022-09-05 10:26] eliransin commented on #9906
@fgelcer any news about this?

[2022-09-05 10:33] eliransin commented on #10335
It is not a regression and I wouldn't even call it a bug but sub-optimal behavior so no reason to backport :slightly_smiling_face:

[2022-09-05 10:59] fruch commented on #11435
@syuu1228

few months back, I've was trying to make cqlsh as a separated repo
https://github.com/fruch/cqlsh

similar approach as in https://github.com/jeffwidman/cqlsh

The idea is that we could make it a standalone package (with tests and it's own life-cycle), and pull it where it's needed (i.e. as part of scylla-tools-java, installation for example)

but yes, one other option is only todo the p

[2022-09-05 11:09] Fornax96 commented on #11223
Is there a way I can enable thread debugging in my core dumps? Maybe if I use `killall -6` instead of gdb?

[2022-09-05 11:19] denesb commented on #11223
There is nothing to enable for this, it should just work. You can try `kill -6` Maybe it is gdb corrupting the cores.

[2022-09-05 11:22] Fornax96 commented on #11223
I noticed that all the sstables are compacted when I restart the node. After the restart there are only 237 files left in the data directory.

[2022-09-05 11:26] denesb commented on #11223
Does the slowness still reproduce after this?

[2022-09-05 11:27] Fornax96 commented on #11223
Everything is fine until I run a repair, then the thread gets stuck again and the sstables start building up.

[2022-09-05 13:18] KnifeyMoloko commented on #11414
@asias I don't think so. We're using `TimeWindowCompactionStrategy` here throughout the test and the test has been running for 1+ days at the moment we started getting these errors, without changing the compaction strategy type.

[2022-09-05 14:33] bartpeeters opened #11455 "DynamoDB API create table with secondary index adds extra KeySchema"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version: 5.0.2
Cluster size: 3
OS: Debian buster, but Scylla run

[2022-09-05 15:28] soyacz opened #11456 "Issue in page Upgrade Guide - Scylla 4.5 to 4.6 for Ubuntu 20.04"
I would like to report an issue in page https://docs.scylladb.com/master/upgrade/upgrade-opensource/upgrade-guide-from-4.5-to-4.6/upgrade-guide-from-4.5-to-4.6-ubuntu-20-04

### Problem
command `cat scylla-packages-xxx-x86_64.txt | sudo xargs -n1 apt-get -y` is not correct - there's missing `install`
###  Suggest a fix
It should be: `cat scylla-packages-xxx-x86_64.txt | sudo xargs -n1 apt-get inst

[2022-09-05 15:34] #11430 closed

[2022-09-05 15:51] denesb commented on #11223
I see. So the large amount of sstables are the symptom, not the root cause. This is good information.

[2022-09-05 15:52] denesb commented on #11223
Can you try to get a core for us with `killall -6`?

[2022-09-05 15:56] avikivity commented on #11435
Separate repo for cqlsh would be wonderful.

[2022-09-05 15:56] avikivity commented on #11435
e.g. scyla-cqlsh.git

[2022-09-05 17:11] Fornax96 commented on #11223
I tried, but after it finished writing everything to disk the core file was nowhere to be found. Not in scylla's coredump directory nor in systemd's. Something very large was written to disk, but it seems like it was immediately removed when scylla was restarted by systemd.

[2022-09-05 19:14] tzach commented on #11455
@nyh FYI

[2022-09-05 20:16] fgelcer commented on #9906
running it [in here](https://jenkins.scylladb.com/view/master/job/scylla-master/job/reproducers/job/issue_9906/job/longevity-1tb-reproducer/2/), and i will check its status tomorrow morning (i expect to have the prepare stage done by then)

FYI @roydahan @eliransin

[2022-09-05 20:56] nyh commented on #11455
This is a duplicate of issue #5320.
We know of that issue for almost three years now, but so far nobody was really bothered by it so it didn't get any priority. Maybe if you can explain what kinds of problems it causes for which application, we can increase the priority to fix it.

[2022-09-05 20:56] #11455 closed

[2022-09-06 04:34] fruch commented on #11435
Shouldn't it now be scylladb-cqlsh.git ?

[2022-09-06 08:13] soyacz opened #11459 "Error during repair after upgrading node"
## Installation details

Kernel Version: 5.10.0-17-cloud-amd64
Scylla version (or git commit hash): `5.0.2-20220807.299122e78` with build-id `01a9300a0f113d968f4d199f85240a43ff7f1a5a`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade--debian-bullseye-db-node-e1d6ddc9-0-4 (34.73.147.55 | 10.142.0.121) (shards: 8)
- rolling-upgrade--debian-bullseye-db-node-e1d6dd

[2022-09-06 08:15] bartpeeters commented on #11455
@nyh
It is one of the things that makes Alternator not work with Terraform, after creating the table using Terraform and then applying the plan again it will pickup 'changes' to the index:

[code]

Terraform index resource code:

[code]

But I don't think this is the only thing tripping up Terraform, you also don't see the `name` or `projection_type` properties on the current table.

[2022-09-06 08:41] avikivity commented on #10846
It will be end-of-life, so I guess we don't need to backport.

[2022-09-06 08:58] nyh commented on #5320
@bartpeeters commented in https://github.com/scylladb/scylladb/issues/11455#issuecomment-1237810598:

It is one of the things that makes Alternator not work with Terraform, after creating the table using Terraform and then applying the plan again it will pickup 'changes' to the index:

[code]

Terraform index resource code:

[code]

But I don't think this is the only thing tripping up Terraform, y

[2022-09-06 09:42] fgelcer commented on #9906
@eliransin , issue was reproduced, cluster is kept for investigation:

https://jenkins.scylladb.com/view/master/job/scylla-master/job/reproducers/job/issue_9906/job/longevity-1tb-reproducer/2/

[2022-09-06 12:01] nyh commented on #5890
We had a duplicate issue for this, #10896, and it was already fixed by @bhalevy in pull request #11001.
So closing this issue.

[2022-09-06 12:01] #5890 closed

[2022-09-06 12:49] avikivity commented on #10578
Raft is experimental, not backporting.

[2022-09-06 12:50] avikivity commented on #10535
Backported to 4.6, 5.0 (and 5.1 has it).

[2022-09-06 12:52] avikivity commented on #10526
In 5.0 as part of the much larger 32423ebc38e09b7e58a6eebe1a829e63cd42d455.

[2022-09-06 13:12] roydahan commented on #11459
@asias can you please take a look?

[2022-09-06 13:57] fgelcer commented on #11459
same happens for `2022.2.0~rc1`

[2022-09-06 14:02] eliransin commented on #9906
@fgelcer thanks,
Please keep this cluster up until @tgrabiec has a chance to examine it (probably not before tomorrow).

/cc @bhalevy

[2022-09-06 14:35] bhalevy commented on #10217
Looks like this issue can be closed for now.
Nothing to work on.

[2022-09-06 14:51] soyacz commented on #11017
Happened also on recent master branch - where we saw multiple errors related to `reader_concurrency_semaphore` on affected shard [shard 12].
[code]

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220831.4e413787d2dd` with build-id `a94ac836ea302c1afb37a74b6941797733026747`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:

[2022-09-06 14:52] soyacz opened #11462 "reader_concurrency_semaphore time out on specific shard across cluster"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220831.4e413787d2dd` with build-id `a94ac836ea302c1afb37a74b6941797733026747`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-master-db-node-46f53c04-9 (13.51.161.104 | 10.0.0.221) (shards: 14)
- longevity-tls-50gb-3d-master-db-node-46f53c04-8 (13.48

[2022-09-06 14:56] avikivity commented on #10526
Backported to 4.6 too.

[2022-09-06 14:58] avikivity commented on #10505
It was added again. I'm spending more and more of my time cleaning up after the bot.

[2022-09-06 14:58] avikivity commented on #10498
@bhalevy tending not to backport. How common is the problem?