[2016-06-27 07:39] tzach commented on #1139
Hi @gslin thanks for testing

I restarted with presto 1.4.9 and Scylla 1.2 and its working for me.

Here is a gits with my trivial set up (one presto node)
https://gist.github.com/tzach/31e44b23926e92e3ff3d28630c2ba422

And here is a gits with some test I did, entering data via cqlsh, and query via presto
https://gist.github.com/tzach/7d3a4540264418fdb15aa9fa159e0188

I'm not sure why presto even

[2016-06-27 08:02] avikivity opened #1395 "Allocation failures even though plenty of memory is free"
LSA is trying to up its reserves from 29 segments to 30.  To do that, it allocates a new zone.  A minimum zone is 16*256k = 4MB; no free 4MB block is available, but plenty of 1MB blocks are.

The context is

[code]

we hardly even need the reserve (we do need it in case of `upgrade_entry`), but why do we insist on a new zone?  Evicting a segment is perfectly okay to refill the reserve.

[code]

[c

[2016-06-27 08:02] avikivity commented on #1395
@pdziepak

[2016-06-27 08:03] avikivity commented on #1394
@pdziepak, @tgrabiec

[2016-06-27 08:22] avikivity commented on #1395
Looks like the problem is a discrepancy between `can_allocate_more_memory()` which returns true (because lots of memory is available) and the code that is guarded by it (which fails because there is no 4MB region available); so we don't even try to compact.

[2016-06-27 08:47] avikivity commented on #1395
In this trace I have `logalloc::tracker_instance.impl->_reclaiming_enabled == false'.  Is this legal?

[code]

[2016-06-27 09:22] #780 closed

[2016-06-27 10:10] avikivity commented on #1395
@tgrabiec

[2016-06-27 10:11] avikivity commented on #1395
I added an assert that reclaiming is enabled:

[code]

and I hit it:

[code]

[2016-06-27 10:11] avikivity commented on #1395
Ahh! compact_on_idle called poll, which performed an smp task inside compact on idle!

[2016-06-27 10:14] avikivity commented on #1395
@haaawk ^^^

[2016-06-27 10:15] tgrabiec commented on #1395
Perhaps the poll function should just return when there's work without actually executing that work?

[2016-06-27 10:17] tgrabiec commented on #1395
Note, compaction on idle can be disabled via `--defragment-memory-on-idle=0` until the fix is rolled out.

[2016-06-27 10:19] avikivity commented on #1395
With `--defragment-memory-on-idle 0` I no longer see the failures.

[2016-06-27 10:20] slivne commented on #1395
@avikivity - is it a single bug or 3 bugs one for Tomek, one for Piotr and
one for Pawel.

If so lets split it up.

On Mon, Jun 27, 2016 at 1:17 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-06-27 10:22] avikivity commented on #1395
So far one bug, it's only in 1.2+.

[2016-06-27 10:48] nirmaayan opened #1396 "Scyllatop crashes when trying to scroll down"
Scylla version (or git commit hash): 1.2
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): centos 7.2

running scyllatop command
$ scyllatop
Trying to scroll - result scyllatop crashes with:

[code]

[2016-06-27 10:58] haaawk commented on #1395
I agree with Tomek. Lets make poll just return. This is highly surprising it actually executes a task.

Sorry for the bug BTW.

[2016-06-27 11:48] haaawk commented on #1395
So is this a problem of poll_once (reactor::pollfn.poll()) or try_run_one_yielded_thread?

[2016-06-27 11:49] avikivity commented on #1395
The problem is `poll_one()`, which isn't pure.  I have a patch fixing it.

[2016-06-27 11:57] haaawk commented on #1395
So do we have to fix all/some implementations of pollfn?

[2016-06-27 12:01] avikivity commented on #1395
Yups

[2016-06-27 12:01] haaawk commented on #1395
Can I help somehow?

[2016-06-27 12:02] avikivity commented on #1395
Review the patch

[2016-06-27 13:45] slivne opened #1397 "Enhance request_timeout_exception to include all information"
request timeout exception only includes the following "Operation timed out - received only %d responses." - while it has additional information available such as consistency, block_for.

In addition it would be good to add the keyspace.column_family info - so that it will be clear if such exceptions are thrown from internal code or from user.

The issue is that in some cases - the code does not ca

[2016-06-27 13:55] avikivity opened #1398 "High read backlog can OOM the database"
*Installation details*
Scylla version (or git commit hash): 1.2

If the database is not able to keep up, many reads will be served concurrently.  These reads consume a lot of memory in disk buffers, causing the database to run out of memory.

[2016-06-27 14:45] avikivity opened #1399 "sudo errors in systemctl start scylla-server"
*Installation details*
Scylla version (or git commit hash): 1.2?
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): RHEL 7.2

See report in https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/scylladb-users/cy2Z4yEKdxg/MniRz3N8AQAJ

[2016-06-27 16:26] avikivity opened #1400 "Fail to start with --smp <small>"
*Installation details*
Scylla version (or git commit hash): 1.2

Node fails to start with small --smp, if it happens to be lower than the io_queue count.

[2016-06-27 16:33] #1395 closed

[2016-06-27 16:33] #1400 closed

[2016-06-27 17:54] hasmikhail commented on #511
Neat!

[2016-06-27 18:20] nirmaayan opened #1401 "Coredump wasn't generate when scylla crash"
*Installation details*
Scylla version (or git commit hash): 1.2
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): centos 7.2 - AMS AMI i2.8xlarge
Disks: (SSD/HDD, count) SSD

No coredump created when scylla crash
Working with grafana monitor
Steps to reproduce:

1. 1. Create setup using 1.2 AMI
2. 2. Edit  /etc/scylla.d/cpuset.conf with CPUSET="--cpuset 1-15,17-31 --smp 30 "
3. 3. Edit  /etc/scylla

[2016-06-27 18:41] benoit-canet commented on #1401
The core is probably too big for the free disk space and hence systemd
remove it.

On Mon, Jun 27, 2016 at 8:20 PM, Nir <notifications@github.com> wrote:

[2016-06-27 18:43] nirmaayan commented on #1401
Core size was 73GB (verify with du -sh) there was about 3TB free space

[2016-06-27 21:07] slivne commented on #1401
We will fix the AMI - yet to let you work on the issue you have please do the following

1. Install instance from AMI
2. edit scylla_coredump_setup and
[code]
3. change ```Compress=yes``` to be ```Compress=no```
4. run scylla_coredump_setup
5. send ABRT signal and test that it works ```pkill -ABRT scylla```
6. ls -la /var/lib/scylla/coredump (once the dump completes the file name will change from

[2016-06-28 06:13] avikivity commented on #1337
(closed by mistake -- the referenced commit does not fix the issue)

[2016-06-28 06:14] avikivity commented on #1377
Fixed by 164c76032416d0f826a2ef14dfb6f4c97634458a.

[2016-06-28 07:25] nyh opened #1402 "More efficient write of compressed data file"
This is the write-side version of issue #992.

When writing a compressed sstable data file with a small compression chunk size (since commit
164c76032416d0f826a2ef14dfb6f4c97634458a our default chunk size is 4 KB), compression should occur in small chunks, but the write to the file should occur in large buffers (by default, sstable_buffer_size = 128 KB).

It looks like we're currently not doing th

[2016-06-28 07:52] meteozond commented on #577
+1

[2016-06-28 07:53] atin65536 commented on #577
+1

[2016-06-28 08:03] mike86k commented on #577
+1

[2016-06-28 08:18] sequoiar commented on #577
+1

[2016-06-28 09:45] nirmaayan commented on #1401
@slivne Coredump was created /var/lib/scylla/coredump - size of the core is 320MB

[2016-06-28 11:57] nirmaayan commented on #1401
Coredump was created /var/lib/scylla/coredump - size of the core is 220GB
Trying to verify it on cluster with data

[2016-06-28 13:35] dahankzter opened #1403 "Temporary stall"
*Installation details*
Scylla version (or git commit hash): 1.1
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): RHEL 7

I just noticed noticed when an app dynamically tried to create a keyspace.
I checked my query but it was no different than what used to work.
I then proceeded to try via the cqlsh which connected very fast.
The query however timed out.
I looked in the log and saw a lot of the li

[2016-06-28 13:50] gleb-cloudius commented on #1403
On Tue, Jun 28, 2016 at 06:36:04AM -0700, Henrik Johansson wrote:

Those messages by themselves are benign if they are printed during node
bootup (recent versions should not print then any longer). If you saw
them been printed while you created namespace it means that the node was
stuck during bootup for some reason.

--
			Gleb.

[2016-06-28 14:02] dahankzter commented on #1403
It was probably logged during bootup. I did only attempt restart because the cluster would not accept the keyspace creation however.

[2016-06-28 17:34] raphaelsc opened #1404 "Trigger regular compaction when booting scylla"
Right now, we have to wait for an event such as memtable flush before compacting a column family.

[2016-06-28 20:37] syuu1228 opened #1405 "scylla_sysconfig_setup fails to detect ETHDRV / ETHPCIID on KVM with virtio-net / Fedora23"
On KVM with virtio-net / Fedora23, scylla_sysconfig_setup fails to detect ETHDRV / ETHPCIID parameters.
Because dpdk_nic_bind.py fails to detect interface name:

[code]

Instead of dpdk_nic_bind.py, we can retrieve same parameters from ethtool with interface name:

[code]

So probably we should switch to this command.

[2016-06-28 20:55] nyh commented on #959
I documented in detail the sstable index file, including the "promoted index",
here: https://github.com/scylladb/scylla/wiki/SSTables-Index-File

This documentation explains what we'll need to read and write from the sstable, how to use the so-called "promoted index" to skip inside very long partitions, and where the relevant Cassandra code lives.

[2016-06-28 22:00] tgrabiec commented on #420
The issue is not S* specific, it can also be observed on C* 2.1.9.

C* and S* don't really allow concurrent schema changes like this. C* is moving to making schema changes strongly consistent (serializable?) across the cluster (see https://issues.apache.org/jira/browse/CASSANDRA-10699). Until then, users are supposed to simply avoid concurrent schema changes. The driver waits until nodes in the cl

[2016-06-28 22:02] tgrabiec commented on #548
Most likely dup of #420

[2016-06-28 22:31] duarten commented on #420
User types are also susceptible to these races. I opened #1207 a while ago; maybe the issues should be linked or that one marked as duplicate?

[2016-06-29 05:29] nirmaayan opened #1406 "posix_net_conf.sh eth0 not running when scylla cluster up"
Scylla version (or git commit hash): 1.2
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): i2.8xlarge

3 node cluster
When the cluster is up

00000000,00000000,00000000,00000000
00000000,00000000,00000000,00000000

After activate

00000000,00000000,00000000,00fe00fe
00000000,00000000,00000000,ff00ff00

Also after restart Scylla the results remain to be all 0

[2016-06-29 06:32] slivne commented on #1406
I am not sure this is correct

[code]

this means that scylla_prepare prio to starting scylla will run the posix_net_conf

scylla_prepare will run

[code]

since we get a result of 1 we will run posix_net_conf with -sq

which will cause all interrupts to be pinned to core 0 (what we want)

Could it be that you did this prior to scylla starting up - and did not wait for it to start

I tested this w

[2016-06-29 06:35] nirmaayan commented on #1406
When I test it on 1 node it didn't happened
When I tested it on 3 node cluster it happened

[2016-06-29 06:38] slivne commented on #1406
Thanks - I'll check again on a 3 node cluster
Is there anything else that you did that is missing here -

are you using the AMI or installing scylla on your own ?

[2016-06-29 06:39] nirmaayan commented on #1406
Using AMI (create with ansible).
I test the $ cat /sys/class/net/eth0/queues/*/rps_cpus couple of times

[2016-06-29 06:41] syuu1228 opened #1407 "cassandra-stress / cqlsh connection fails on native mode"
*Installation details*
Scylla version (or git commit hash): 2c4501f3172634692c83cfe42ee4ea0e4abacf9b
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): Fedora23

On native-mode, cassandra-stress and cqlsh causes connection error as follows:
[code]

[code]

While clients getting error, scylla-server shows following error:
[code]

The error from seastar/net/native-stack-impl.hh, because we haven't imple

[2016-06-29 07:10] vladzcloudius commented on #1406
On Jun 29, 2016 09:32, "Shlomi Livne" <notifications@github.com> wrote:

--collectd-address=127.0.0.1:25826 --collectd=1 --collectd-poll-period 3000
--network-stack posix"

info --collectd-address=127.0.0.1:25826 --collectd=1 --collectd-poll-period
3000 --network-stack native --dpdk-pmd"

posix_net_conf

The logic above is bogus: -sq mode should be started not only when the
result above is 1 (for

[2016-06-29 07:14] penberg commented on #1407
@syuu1228 This just means your ``cqlsh`` is not up-to-date and doesn't have commit https://github.com/scylladb/scylla-tools-java/commit/287262b55fd0bbe5767975c76e33c64b58a57d5d:

[code]

It's not related to the IPv6 issue, though.

[2016-06-29 08:15] noopole opened #1408 "Query Scylla from Node.js?"
I read that Scylla is "Fully compatible with Apache Cassandra".
Does it mean that one can use the Cassandra driver for Node.js to query a Scylla DB?

[2016-06-29 08:18] noopole commented on #1408
I found the answer here : #628
Sorry for the inconvenience.

[2016-06-29 08:18] #1408 closed

[2016-06-29 08:21] syuu1228 opened #1409 "On KVM with virtio-net environment, native-mode(DPDK) does not able to find NIC"
*Installation details*
Scylla version (or git commit hash): 2c4501f3172634692c83cfe42ee4ea0e4abacf9b
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): Fedora23 on both Host and Guest

So we cannot detect NIC:
[code]

But with e1000 emulation, it can detect NIC successfully:

[code]

Likely DPDK pmd driver problem.

[2016-06-29 08:49] avikivity commented on #1369
I've just seen another instance of this. 30 shards, >4400 sstables, compaction spends all its cpu time looking at those sstables.  So compaction is getting slower, because it's not keeping up, so it's even harder for it to keep up.  We must fix this soon.

[2016-06-29 09:28] syuu1228 commented on #1407
@penberg Just tested latest build of scylla-tools-java.
Version error was disappeared, but same 'Unable to connect' error.

[code]

[2016-06-29 10:22] vladzcloudius commented on #1406
On 06/29/2016 10:09 AM, Vladislav Zolotarov wrote:

The simple fix is to remove the whole logic above all together and let
posix_net_conf.sh decide which mode to configure.

The above logic assumes a single HW queue. Luckily for us this is the
case (for now) for current in-box ixgbevf drivers in distros we support
- they all have an antique 2.12.xxx version driver.
However Amazon recommends here
(

[2016-06-29 10:37] tzach opened #1410 "self-documentation metrics"
Currently, there is no easy way to get all available metrics from ScyllaDB.
It will be useful for users to extract all the metrics, each with a description, directly from Scylla.

Preparing such a list at compile time will make it easier to follow metrics updates from one release to the other.

[2016-06-29 10:42] slivne commented on #1406
@vladzcloudius I am not arguing bugs - I need to know what users are getting on the current AMI that is already released  and if people are having issue with the existing AMI - not anything else

If anyone installs us on AWS using RPMS its a different issue - we should also make it work good - yet its a different bug.

@nirmaayan I started a 3 node cluster using the AMI and it did setup the networ

[2016-06-29 10:47] #1404 closed

[2016-06-29 10:49] vladzcloudius commented on #1406
On 06/29/2016 01:42 PM, Shlomi Livne wrote:

I've just described an issue a user would have installing our AMI and
then do what the Amazon's Enhanced Networking manual instructs it to.
Note that Amazon's manual describing this flow exactly: first create an
AMI (they use Ubuntu 14.04 as an example there) and then fix it to work
properly with the Enhanced Networking.
This would break scylla's networ

[2016-06-29 11:02] vladzcloudius commented on #1406
On 06/29/2016 01:42 PM, Shlomi Livne wrote:

@slivne @nirmaayan <https://github.com/nirmaayan> You can't tell a user
that he's forbidden to follow Amazon's manual.

[2016-06-29 11:26] nirmaayan commented on #1406
@tzach can it be that the test and deploy change the setup installation?

[2016-06-29 12:02] tzach commented on #1406
Can you be more specific? which file / value do you suspect ?

[2016-06-29 12:07] slivne commented on #1401
@avikivity creating the coredump takes 1-2 minutes, compressing it takes ages - can we remove compression.

Compression is running after scylla has restarted and actually will cause issues with bandwidth to the disk (especially if there are consecutive failures and for each we are compressing very long)

[2016-06-29 12:08] vladzcloudius commented on #1406
@tzach It's in the context of this issue. @nirmaayan is asking a rhetorical question if a user is allowed to modify his/her instance configuration according to Amazon's manual after he/she creates it from our AMI.

[2016-06-29 12:54] avikivity opened #1411 "sstable queued read queues is not bounded"
The wait queue (in database::read_concurreny_sem) is not bounded by anything, and can grow to evict our entire cache.

[2016-06-29 14:33] slivne commented on #1401
after 4 hours the coredump is still being zipped and no sign of the end

[code]

Can we stop the compression.

[2016-06-29 15:28] slivne commented on #1388
@avikivity  please respond so we will know if its only calling the script

[2016-06-29 15:30] slivne commented on #1350
Its ok

[2016-06-29 15:30] #1350 closed

[2016-06-29 15:36] slivne commented on #1334
fixed by 0cf81444856a76df06cfc388b496e276f878ff05

[2016-06-29 15:36] #1334 closed

[2016-06-29 15:40] slivne commented on #1298
@tzach can you please review so we can close this

[2016-06-29 15:41] slivne commented on #1229
@benoit-canet  why changing to instance type is not ok ?

[2016-06-29 16:11] benoit-canet commented on #1229
avi said "The patch is wrong too.  Instance store takes 5 minutes to boot
compared to 1 minute for EBS."

and "EBS is persistent"

On Wed, Jun 29, 2016 at 5:41 PM, Shlomi Livne <notifications@github.com>
wrote:

[2016-06-29 16:24] tzach commented on #1298
Thanks @benoit-canet its a good start

Comparing to what [other](https://hub.docker.com/_/cassandra/) are doing, we should do much more:
- How to use this image
- Setup a cluster
- Connect from CQLSh
and more

This task is overlapping with Scylla documentation more than dev, so maybe @dmarti can help us on this one.

[2016-06-29 17:00] benoit-canet commented on #1298
@tzach: are you sure you are reviewing "[PATCH] docker: Add docker page
documentation." ?

On Wed, Jun 29, 2016 at 6:24 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-06-29 20:07] s905060 opened #1412 "GDB unable to read scylla core file"
Scylla version (or git commit hash): 1.2.0-20160613.c384b23-ubuntu1
Cluster size: 30
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04.4 LTS
Platform (physical/VM/cloud instance type/docker): Bare-Metal

[code]

Command:

[code]

Nothing happened.

Any advices would be appreciated. Thank you.

[2016-06-29 23:39] haarcuba commented on #1375
solved by commit 26c0d86401db3b30277fb69136a3d3e05a90dad7

[2016-06-30 07:48] tzach commented on #1406
I was able to reproduce with ami-31b97c51  (Scylla 1.2), i2.8xlarge

[code]

[2016-06-30 07:53] dorlaor commented on #1406
On Thu, Jun 30, 2016 at 10:48 AM, Tzach Livyatan <notifications@github.com>
wrote:

Are you sure it's with enhanced networking (meaning there is a eth0)?

[2016-06-30 08:05] vladzcloudius commented on #1406
On 06/30/2016 10:53 AM, Dor Laor wrote:

The `cat /sys/class/net/*eth0*/queues/*/rps_cpus` implies it... ;)

[2016-06-30 08:06] tzach commented on #1406
[code]

[2016-06-30 08:29] tgrabiec commented on #1411
Closed by 9ac730dcc985cd4083bd4705ecf1219fac4002f1

[2016-06-30 08:29] #1411 closed

[2016-06-30 08:35] nirmaayan commented on #1410
@tzach I started to document the metrics, we need it to be "human readable" format

[2016-06-30 09:57] nirmaayan commented on #1396
Traceback (most recent call last):
  File "/usr/lib/scylla/scyllatop/scyllatop.py", line 98, in <module>
    main(arguments.metricPattern, arguments.interval, collectd)
  File "/usr/lib/scylla/scyllatop/scyllatop.py", line 44, in main
    loop.run()
  File "/usr/lib64/python2.7/site-packages/urwid/main_loop.py", line 271, in run
    self.screen.run_wrapper(self._run)
  File "/usr/lib64/python2.7/s

[2016-06-30 10:04] #1397 closed

[2016-06-30 10:19] pdziepak opened #1413 "Fully support streaming mutation fragments in reversed order"
Currently, if there is a query that asks for clustering rows in reversed order streamed mutations are rebuilt and then streamed again in reversed order in `consume_flattened()`. This is wasteful, since it requires reading all rows in the specified range regardless of the row limit.

The solution is to make all producers able to stream mutation fragments in the reversed order. This may also require

[2016-07-03 07:43] avikivity opened #1414 "Wrong repository used in AMI"
*Installation details*
Scylla version (or git commit hash): 1.2
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI

[code]

This means that users won't receive upgrades.

[2016-07-03 07:44] avikivity commented on #1414
Also, AMI should install the `scylla` package.

[2016-07-03 07:44] slivne commented on #1414
The decision about AMI was there will not be an upgrade for AMI.

On Sun, Jul 3, 2016 at 10:43 AM, Avi Kivity <notifications@github.com>
wrote:

[2016-07-03 07:46] avikivity commented on #1414
And the way to achieve this is by installing the wrong repository?

What about patch updates?  The AMI has 1.2.0, with no way to upgrade to 1.2.1.

[2016-07-03 07:46] avikivity commented on #1414
Or install `scylla-debuginfo`.

[2016-07-03 07:50] slivne commented on #1414
1. no thats not the way

2. the bad repo needs to be removed

3.  the decision was there will not be an upgrade - we create a new ami for
each release so there is an ami for 1.2.0 and an ami for 1.2.1

4. the other items - additional packages etc need to be fixed.

On Sun, Jul 3, 2016 at 10:46 AM, Avi Kivity <notifications@github.com>
wrote:

[2016-07-03 07:58] avikivity commented on #1414
But the user can't upgrade to AMI 1.2.1 because the data will be lost.

[2016-07-03 08:02] slivne commented on #1414
So we need to change the requirements and enhance the current AMI.

Do we also want to allow upgrade from 1.2 --> 1.3 ?

I don't see any difference between an upgrade of 1.2 --> 1.3 to an upgrade
between 1.2.0 --> 1.2.1

I think we need some info on how many people use the AMI for production -
the AMI is not setup for production it is setup to be able to test scylla
fast.

The AMI does not support

[2016-07-03 09:00] slivne commented on #1322
bloom filter should only be checked if we are trying to remove a tombstone there is no reason to check a bloom filter if tombstones are not being removed.

[2016-07-03 11:53] tzach opened #1415 "Scyllatop does not run after install since collected is not started"
Scylla version (or git commit hash): 1.2
OS: CentOS 7.2

Scylla installation should enable and start collected. Without it, scyllatop does not work.

[2016-07-03 11:57] tzach opened #1416 "Install and run node_exporter as part of Scylla install"
Scylla version (or git commit hash): 1.2
OS (RHEL/CentOS/Ubuntu/AWS AMI): ALL

To allow [scylla monitoring](https://github.com/scylladb/scylla-grafana-monitoring) to work out of the box, Scylla needs to install and run collectd (#1415) and  collectd_exporter by default, including the right collcted [configuration](https://github.com/scylladb/scylla/wiki/Monitor-Scylla-with-Prometheus-and-Grafana#c

[2016-07-03 12:33] tzach opened #1417 "scyllatop exit with ^C leave terminal in non working state"
*Installation details*
Scylla version (or git commit hash): 1.2
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.2

When one exists scyllatop by pressing ^C terminal state in raw mode.
Need to type 'reset\n", to get it back to normal.

[2016-07-03 12:45] nirmaayan commented on #1369
Issue happens also on EC2
3 * i2.8xlarge with 14 c4.large loaders.
Running large load using [test and deploy](https://github.com/scylladb/cassandra-test-and-deploy) ansible command:
./ec2-stress.sh 1 -e "server=Scylla" -e "stress_options='-errors ignore -schema \"replication(factor=3)\" keyspace=\"mykeyspace\"'" -e "load_name=scylla_write" -e "threads=2500" -e "command_options='cl=QUORUM n=4000000

[2016-07-03 12:50] tzach commented on #1416
Users need to jump through hoops to enable monitoring.
I'm open for other suggestions to make it easier for them. Making collectd_exporter install part of the scylla_setup script, with default Y seems like a good compromise.

[2016-07-03 13:12] slivne commented on #1416
I think that creating a dependency in scylla on collectd_exporter is
something we should not have

Installing collectd_exporter via scylla_setup (or other script) seems like
a good compromise - it will mean that we will pull it based on user request
- need to check licensing.

On Sun, Jul 3, 2016 at 3:50 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-03 14:39] haarcuba commented on #1417
submitted patch

[2016-07-03 16:09] slivne opened #1418 "add support for internode_compression"
[code]

[2016-07-03 16:20] avikivity opened #1419 "data_resource hash slowing down everything on large machines"
*Installation details*
Scylla version (or git commit hash): 1.2

[code]

`data_resource::name`  uses `sprint()`, which in turn needs the locale, which takes a global lock.

[2016-07-03 17:28] tzach commented on #1416
collectd_exporter does not include a license
https://github.com/prometheus/collectd_exporter

Prometheus itself is Apache 2
https://github.com/prometheus/docs#license

[2016-07-03 18:01] slivne commented on #1416
On Sun, Jul 3, 2016 at 8:28 PM, Tzach Livyatan <notifications@github.com>
wrote:

here is the license -
https://github.com/prometheus/collectd_exporter/blob/master/LICENSE

its also Apache V2

[2016-07-03 18:07] scorpnode opened #1420 "Failed to install scylla-kernel-conf on upgrade to Scylla 1.2 Ubuntu 14.04"
Setting up scylla-kernel-conf (1.2.1-20160623.c56fc99-ubuntu1) ...
sysctl: cannot stat /proc/sys/kernel/sched_tunable_scaling: No such file or directory
sysctl: cannot stat /proc/sys/kernel/sched_min_granularity_ns: No such file or directory
sysctl: cannot stat /proc/sys/kernel/sched_wakeup_granularity_ns: No such file or directory
sysctl: cannot stat /proc/sys/kernel/sched_latency_ns: No such fil

[2016-07-03 18:57] scorpnode opened #1421 "Multicolumn Slice ranges not working"
*Installation details*
Scylla version 1.2.1:
Cluster size:1
OS Ubuntu:14.04
Total rows in keyspace.table=3
Still showing results <entry_time
cqlsh> SELECT * FROM keyspace.table WHERE uid ='111' AND (due, entry_time) > (1467571452,1467571902);

 uid             | due        | entry_time | action_type | eid
-----------------+------------+------------+-------------+-----------
111 | 1700000000 | 1467

[2016-07-03 19:24] scorpnode commented on #1421
another weird behaviour
cqlsh> SELECT * FROM b4_1.e_timeline WHERE uid ='111' AND (due, entry_time) > (1700000000,1467571902);

 uid             | due        | entry_time | action_type | eid
-----------------+------------+------------+-------------+-----------
 842447885765862 | 1700000000 | 1467571906 |           1 | axd

[2016-07-03 20:26] nyh commented on #1419
We use sprint() in dozens of places, most of which look slow-path, but maybe not all are...
Should we perhaps fix sprint() not to use the locale?

[2016-07-03 21:51] slivne commented on #1419
This is only true if the the authorizer in the scylla.yaml was modified to
be "org.apache.cassandra.auth.CassandraAuthorizer" (or CassandraAuthorizer)

if the configuration is using the AllowAllAuthorizer (the default) then
there should not be any effect on performance.

On Sun, Jul 3, 2016 at 11:26 PM, nyh <notifications@github.com> wrote:

[2016-07-03 23:00] scorpnode commented on #1419
can someone help with issue #1421 please

[2016-07-04 03:05] scorpnode commented on #1421
Please diregard this bit
scorpnode referenced this issue 4 hours ago
 Open
data_resource hash slowing down everything on large machines

[2016-07-04 04:01] #1421 closed

[2016-07-04 04:01] scorpnode opened #1422 "Multicolumn Slice ranges bug"
nstallation details
Scylla version 1.2.1:
Cluster size:1
OS Ubuntu:14.04
Total rows in keyspace.table=3
Still showing results cqlsh> SELECT \* FROM keyspace.table WHERE uid ='111' AND (due, entry_time) > (1467571452,1467571902);

uid | due | entry_time | action_type | eid
-----------------+------------+------------+-------------+-----------
111 | 1700000000 | 1467571893 | 1 | axc
111 | 1700000000

[2016-07-04 05:25] avikivity commented on #1422
This seems like the correct behavior. Why do you think it is wrong?

[2016-07-04 05:35] avikivity commented on #1412
Use `scylla-gdb` from http://downloads.scylladb.com/rpm/3rdparty/centos/7/x86_64/; the binary is in `/opt/scylla/bin`.  When it starts up, it asks a question, just say no and it will allow you to debug,

[2016-07-04 05:37] avikivity commented on #1419
No, I think it happens in any case.

[2016-07-04 06:19] gleb-cloudius commented on #1419
On Sun, Jul 03, 2016 at 10:37:31PM -0700, Avi Kivity wrote:

So is this a reason for alleged performance degradation between 1.0 and
1.1?

--
			Gleb.

[2016-07-04 06:39] avikivity commented on #1419
Possibly

[2016-07-04 06:41] avikivity opened #1423 "Provide a way to build private RPMs"
Instead of generating the version-release from scratch, I want to provide my own release, e.g. avi.bug1419 (to get 1.2.2-avi.bug1419)

[2016-07-04 07:14] dorlaor commented on #1412
On Mon, Jul 4, 2016 at 8:35 AM, Avi Kivity <notifications@github.com> wrote:

@avikivity, the reporter uses Ubuntu, not centos

[2016-07-04 07:17] avikivity commented on #1412
The Ubuntu packages can be found in http://downloads.scylladb.com.s3.amazonaws.com/deb/3rdparty/trusty/pool/scylladb/multiverse/s/scylla-gdb/; thanks @dorlaor for noticing.

[2016-07-04 07:43] syuu1228 commented on #1423
Maybe we can add --release <custom_release> on dist/redhat/build_rpm.sh to overwrite $SCYLLA_RELEASE. Same on dist/ubuntu/build_deb.sh

[2016-07-04 08:30] #1419 closed

[2016-07-04 08:47] #1240 closed

[2016-07-04 09:02] syuu1228 commented on #1407
Looks like native-stack returns 0-filled client address on accept().
In the result, gms::inet_address::inet_address() throws "IPv6 socket addresses are not supported." exception, then client received such error message.
[code]

Root of the problem is seems like this one:
https://github.com/scylladb/seastar/blob/aed893e5daa21ae1ed4a7310c63d29e44a077083/net/native-stack-impl.hh#L61
It does not recei

[2016-07-04 10:08] nirmaayan opened #1424 "Scylla metrics - no SSTable count"
We need to add sstable count metrics
This metric is missing and we need to have the option to see it.

[2016-07-04 10:16] tzach opened #1425 "nodetool print a warning about filter_cassandra_attributes.py"
_Installation details_
Scylla version (or git commit hash): 1.2
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.2

After the warning nodetool return the right response

[code]

[2016-07-04 10:16] tzach commented on #1425
@amnonh can you take a look?

[2016-07-04 12:18] pdziepak commented on #1203
Fixed by 28fab55e6edbb1b2158bb6660c196eda58145939.

[2016-07-04 12:18] #1203 closed

[2016-07-04 13:08] #1185 closed

[2016-07-04 13:28] scorpnode commented on #1422
SELECT * FROM keyspace.table WHERE uid ='111' AND (due, entry_time) > (1467571452,1467571902);

uid | due | entry_time | action_type | eid
-----------------+------------+------------+-------------+-----------
111 | 1700000000 | 1467571893 | 1 | axc
111 | 1700000000 | 1467571902 | 1 | xds
111 | 1700000000 | 1467571906 | 1 | axd

Im, hoping to retrieve only
uid | due | entry_time | action_type | eid

[2016-07-04 13:35] avikivity commented on #1422
It's not ignored, it's using lexicographic (tuple) comparison.

It will return any row with due > 1467571452, or any row with due == 1467571452 and entry_time > 1467571902.  Not where both keys are greater than the respective constants.

[2016-07-04 13:50] scorpnode commented on #1422
Seriously this is really buggy looks like i broke it

cqlsh> INSERT INTO b4_1.e_timeline1 (uid, due,entry_time) VALUES ('11',10,1) ;
cqlsh> INSERT INTO b4_1.e_timeline1 (uid, due,entry_time) VALUES ('11',11,2) ;
cqlsh> INSERT INTO b4_1.e_timeline1 (uid, due,entry_time) VALUES ('11',12,3) ;
cqlsh> SELECT * FROM b4_1.e_timeline1 WHERE uid='11' AND (due,entry_time) >(9,2);

(0 rows)
cqlsh> SELECT * F

[2016-07-04 15:38] gleb-cloudius commented on #1422
On Mon, Jul 04, 2016 at 06:50:44AM -0700, scorpnode wrote:

Looks like scylla crashed. Do you see core around or something in the
logs?

--
			Gleb.

[2016-07-04 15:46] scorpnode commented on #1422
scylla didnt crash because i could still start stop it. Just wouldnt connect

[2016-07-04 16:38] gleb-cloudius commented on #1422
On Mon, Jul 04, 2016 at 08:46:41AM -0700, scorpnode wrote:

I am not to familiar with upstart that is used in Ubuntu, but in systemd
capable systems you can still "stop" a service that crashed. Can you check
status of scylla service with upstart after connection no longer works?
(also upstart may try to restart crashed server for you, but in this
case you should be able to connect after some time)

[2016-07-04 16:48] scorpnode commented on #1422
I think regardless, there is definitely a bug. you can try the same thing i did above to replicate the error.

[2016-07-04 17:06] nyh commented on #1377
We forgot to close this issue.

[2016-07-04 17:31] avikivity opened #1426 "Run unit tests on /tmp"
_Installation details_
Scylla version (or git commit hash): 1.3

Running on the tests on a rotating disk is slow.  Should have an option to run the tests on a supplied path, typically /tmp.  With --relaxed-dma we now support tmpfs.

[2016-07-04 18:35] avikivity opened #1427 "Optimize leveled compaction"
_Installation details_
Scylla version (or git commit hash): 1.3

We can use sstable_set to construct a joining reader from sstables that are disjoint, so combining_reader needs to consider fewer sstables.

[2016-07-04 19:40] nyh commented on #1427
Good idea (I thought we already had such an issue, but apparently we did not).

Note that if I understand correctly, one of the main benefits of this idea (if not the only benefit) is reducing memory use during the compaction - because we will not need to keep in memory the first mutation of each of the (disjoint) sstables like we do now. This was mostly a problem in scenarios with very large part

[2016-07-04 19:45] avikivity commented on #1427
It also changes compaction from O(log N) to O(log much smaller N)

[2016-07-04 20:24] nyh commented on #1427
Avi, I think you are overstating that last benefit:

1. The "N" in your formula isn't the size of the sstables or data or anything big - it is the number of sstables being compacted together. For leveled compaction strategy, this is normally around 12, so log N and log log N (your "log much smaller N") are not very different. We never compact thousands of sstables together!

2. The part your formu

[2016-07-04 20:37] avikivity commented on #1427
It's still nice to do 1 comparison instead of 4.  And if the partitions are small and simple (one column), it has more effect.  So it would be good for a key/value schema.

[2016-07-05 09:03] dahankzter opened #1428 "Repair fails - server logs reports finished after a while"
_Installation details_
Scylla version (or git commit hash): 1.2.1
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): RHEL

After successful repair of our app tables it failed after the system keyspace:

[code]

The logs say very little:

[code]

This goes on for some time and then:

[code]

[2016-07-05 09:03] dahankzter commented on #1428
Is this ok and just a bug in the nodetool error handling?

[2016-07-05 14:31] avikivity commented on #1427
Most sstables will be in L1+, so we save a lot.  We might have a few sstables in L0, and thousands elsewhere.

[2016-07-05 14:45] slivne commented on #1424
What are you looking for - there is a nodetool cfstats that provides the number of sstables for each keyspace ?

[2016-07-05 14:49] slivne commented on #1422
@scorpnode can you please provide the schema to simplify reproducing this locally.

[2016-07-05 14:52] slivne commented on #1427
The issue is that L0 sstables can cover the complete range (min/max key)
with two inserts - they are not split not to overlap.

If we are using bloom filter info - prior to constructing the reader then
it may kmake sense since L0 files will probably be dropped by the bloom
filter.

On Tue, Jul 5, 2016 at 5:31 PM, Avi Kivity <notifications@github.com> wrote:

[2016-07-05 15:00] avikivity commented on #1427
So L0 tables don't benefit; but L1+ do.

I don't understand the second comment.

[2016-07-05 15:08] nirmaayan commented on #1424
I want to track the metric / grafana or other monitor
nodetool command isn't enough

[2016-07-05 15:08] amnonh commented on #1424
On Tue, Jul 5, 2016 at 5:45 PM, Shlomi Livne <notifications@github.com>
wrote:

Not in collectd

[2016-07-05 15:20] slivne commented on #1427
On Tue, Jul 5, 2016 at 6:00 PM, Avi Kivity <notifications@github.com> wrote:

I don't understand the second comment.

If we are creating the reader for a specific partition key (or range) - by
checking the bloom filter prior to creating the reader we will be able  to
shorten the list of sstables we are using to build the reader.

[2016-07-05 18:56] nirmaayan commented on #1424
The motivation is to be able to track the growth of the SSTables.
Running nodetool cfstats is an option but it want show the growth over time.
This is for testing purposes

[2016-07-05 19:37] tzach commented on #1424
+1

[2016-07-05 19:44] dahankzter commented on #1428
Rerunning a repair on node A again.

Now I see this in the logs on the other nodes:
[code]
A is the IP of the node I run repair on. Any idea what it can be and if it is of any consequence.
The repair seems stalled on cammand 3 but I guess it can just take time.

[2016-07-05 19:48] scorpnode commented on #1422
CREATE TABLE keyspace.table (
    uid text,
    due int,
    entry_time int,
    action_type int,
    eid text,
    PRIMARY KEY (uid, due, entry_time)
) WITH CLUSTERING ORDER BY (due ASC, entry_time ASC)
    AND bloom_filter_fp_chance = 0.01
    AND caching = '{"keys":"ALL","rows_per_partition":"ALL"}'
    AND comment = ''
    AND compaction = {'class': 'SizeTieredCompactionStrategy'}
    AND comp

[2016-07-05 19:58] dahankzter commented on #1428
I started a repair on another node and after a while I see this on the suspect node (I am starting to think one of them is in bad shape):
[code]

Seems a bit serious?

[2016-07-05 22:38] slivne commented on #1422
@scorpnode thanks

I have collected the info from all the thread and was able to run the following:

[code]

I received the following results

[code]

I ran it locally (5 times) all succeeded - will try to run it on an ubuntu server

Is this reproducible on your setup ?

can you please share the complete /var/log/syslog

[2016-07-06 04:27] avikivity commented on #1428
You shouldn't repair the system keyspace, it stores local information.

But (1) we should have prevented it and (2) it should have succeeded (destroying your cluster in the process).

[2016-07-06 04:27] avikivity commented on #1428
@nyh

[2016-07-06 05:32] slivne commented on #1428
There is already an issue for for bot repairing system keyspace
https://github.com/scylladb/scylla/issues/1380

what we concluded was that we dont really repair the ayatem keyspacewith
other nodes it stays local

@nyh <https://github.com/nyh>

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/scylladb/scylla/issu

[2016-07-06 05:44] slivne commented on #1424
If its not in collectd then there is an api for it via rest ....
On Jul 5, 2016 10:37 PM, "Tzach Livyatan" <notifications@github.com> wrote:

[2016-07-06 06:14] dahankzter commented on #1428
I don't explicitly repair the system keyspace i just ran

[code]

Is the cluster broken now? Can it be fixed somehow if that is the case?
They seem to connect and the gossip logs says it sees peers.

[2016-07-06 06:16] dahankzter commented on #1428
nodetool repair consistently reports the initial error after a while though.
Is that related to the system keyspace repair issue?

[2016-07-06 06:41] avikivity commented on #1428
I don't think it's broken if you just ran nodetool repair.  But we need to fix it not to attempt to repair the system keyspace.

[2016-07-06 06:41] avikivity commented on #1428
(it would probably have broken the cluster if it did manage to repair it, but since it didn't, it's fine)

[2016-07-06 06:48] gleb-cloudius commented on #1428
On Tue, Jul 05, 2016 at 11:41:57PM -0700, Avi Kivity wrote:

system keyspace has only local node as a replica, so repair will just do
nothing since there is no one to repair with. Why it sometimes fails I
do not know (out of memory? read error?).

--
			Gleb.

[2016-07-06 06:48] #1195 closed

[2016-07-06 06:52] #511 closed

[2016-07-06 07:00] dorlaor commented on #1195
Cheers Glauber!

On Wed, Jul 6, 2016 at 9:48 AM, Avi Kivity <notifications@github.com> wrote:

[2016-07-06 08:09] slivne commented on #1312
I tested the python driver yesterday - and it is smart 100% of the time so I am not sure there is a real issue

[code]

[code]

I tested both prepare statements and also not prepare statements with routing_key hint pointing to the partition key and in both cases it worked

I Instrumented scylla code in service/storage_proxy.cc - make_data_request with addiional logging to check if we hit the local

[2016-07-06 08:12] avikivity opened #1429 "Tombstones not GCed after 2a46410f4a114aa99ce83fd43d1202af0e9f47dd"
*Installation details*
Scylla version (or git commit hash): 2a46410f4a114aa99ce83fd43d1202af0e9f47dd

Tombstones are not removed from sstables after compaction, even after the GC period.

[2016-07-06 08:22] #1429 closed

[2016-07-06 08:37] tzach commented on #1424
@slivne REST API is a good solution for tools like nodetool.
Monitoring is base on collectd metric stream

[2016-07-06 09:48] raphaelsc commented on #1119
BTW, we can easily implement this by iterating through all sstables and incrementing a counter for its level. Like:

for (auto& sst : cf.get_sstables()) {

[2016-07-06 10:38] avikivity opened #1430 "Compression info may occupy too much memory"
_Installation details_
Scylla version (or git commit hash): 1.2

With 64k compression block size, the ratio between Data.db and CompressionInfo.db is about 2400:1.
With 4k compression block size, that is likely to drop to 150:1; likely lower with less compressible contents.  Let's say 100:1.

That means 1 TB of data require 10 GB of RAM for compression information.  That's too much.  We should be

[2016-07-06 12:51] vladzcloudius commented on #1199
The issue is still reproducible with the master HEAD 02530faeb22d885127a9e2311dc9b9a83384cb61
All mentioned above code that caused (and still causes) the original issue is still where it was.

@syuu1228 Could u clarify, please, how the patches above were supposed to fix the issue?

[2016-07-06 13:20] avikivity opened #1431 "Compaction-strategy aware major compaction"
_Installation details_
Scylla version (or git commit hash): 1.2

Creating one huge sstable is only suitable for size tiered compaction.  For level tiered, it is better to guess the level and compact all files into 160MB-sized sstables at that level.  For date tiered, it is better to segregate data  by time.

This allows changing the compaction strategy, and issuing a major compaction to get the ss

[2016-07-06 13:21] avikivity commented on #1431
@raphaelsc

[2016-07-06 19:28] hasmikhail commented on #511
Should we add a new issue for tracking the TWCS feature?

[2016-07-06 19:30] penberg commented on #511
@hasmikhail Yes, please.

[2016-07-06 19:38] hasmikhail opened #1432 "Add support for TimeWindow Compaction Strategy"
extracted from PR #511

"DTCS will be deprecated, suggest support TWCS , see https://issues.apache.org/jira/browse/CASSANDRA-9666"

cassandra implementation https://github.com/jeffjirsa/cassandra/commit/f966b5be96dd91e81d2e081d9e604c8ae6a0f082

[2016-07-06 19:38] raphaelsc commented on #1431
@avikivity I think C* implements a notion of major compaction for each strategy. Each strategy will return a maximum task. I think that's the way to go. I will get more details by reading the code in C*.

[2016-07-07 07:36] syuu1228 opened #1433 "Don't able to build on Fedora 24"
Since Fedora 24 switches gcc to 6, we have number of issues to build scylla.
I saw at least following build error:
- Compile error with newly added warnings
  - Compile error with 'Werror=misleading-indentation' on seastar/dpdk
  - Compile error with '-Werror=shift-negative-value' on seastar/dpdk
- f24 package version of Boost fails to compile https://svn.boost.org/trac/boost/ticket/12181

[2016-07-07 08:46] nirmaayan commented on #1424
This metric is needed to monitor the growth of the SSTable.
For example if I have cluster with keyspace as mykespace and standard1 as my table I want to be able to track the growth (and decrease) of the SSTable count.
It also important for customers since it's not relevant to monitor specific node in large clusters.

[2016-07-07 08:46] avikivity commented on #1433
f24-updates contains a fix for boost

[2016-07-07 08:50] avikivity opened #1434 "Awkward upgrade procedure with remove/install"
*Installation details*
Scylla version (or git commit hash): 1.2->1.2

Upgrade should be done with `yum update` or `apt-get upgrade`, not remove/install.

[2016-07-07 08:59] avikivity opened #1435 "nodetool version prints wrong version"
*Installation details*
Scylla version (or git commit hash): 1.2

[code]

[2016-07-07 09:01] avikivity opened #1436 "Enhance nodetool status to print node version"
*Installation details*
Scylla version (or git commit hash): 1.2

Would be nice if `nodetool status --version` also printed the software version of each node.  In case you get a phone call during upgrade and forget where you left off.

[2016-07-07 09:03] amnonh commented on #1436
On Thu, Jul 7, 2016 at 12:01 PM, Avi Kivity <notifications@github.com>
wrote:

Curently 'nodetool version'  print the compatible origin version, we can
either change this behaviour or add command to nodetool

[2016-07-07 09:05] avikivity commented on #1436
I guess

    $ nodetool version
    ScyllaDB 1.2.1
    $ nodetool version --compatibility
    Cassandra 2.1.8

[2016-07-07 09:18] amnonh commented on #1436
We should add to the plans pumping up the nodetool version before extending
it.

On Thu, Jul 7, 2016 at 12:05 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-07-07 10:00] tzach opened #1437 "CQL filter error: WHERE a=1 AND b in (1,2) AND c=3;"
_Installation details_
Scylla version (or git commit hash): 1.2
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS (Scylla AMI ami-31b97c51)

[code]

Results:
- Scylla 1.2: `InvalidRequest: code=2200 [Invalid query] message="Clustering column "c" cannot be restricted by an IN relation"`
- Cassandra 2.1.8 and 2.1.14: `InvalidRequest: code=2200 [Invalid query] message="Clustering column "b" cannot be restricte

[2016-07-07 11:11] tzach opened #1438 "Random Partitioner"
*Installation details*
Scylla version (or git commit hash): 1.2

Cassandra 1.x clusters often use RandomPartitioner. Supporting RandomPartitioner will allow easier migration to Scylla

[2016-07-07 11:18] vladzcloudius opened #1439 "ERROR storage_proxy - exception during mutation write to...: replay_position_reordered_exception (std::exception)"
*Installation details*
Scylla version (or git commit hash): 02530faeb22d885127a9e2311dc9b9a83384cb61
Cluster size: 2
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

Running `pkill -9 scylla; pkill -9 java; rm -rf ~/.dtest/*;  REUSE_CLUSTER=false KEEP_TEST_DIR=true DEBUG=true PRINT_DEBUG=true nosetests -v -s cql_tracing_test.py:TestCqlTracing.tracing_shutdown_test` a few times causes the following error:

[2016-07-07 11:25] vladzcloudius commented on #1439
The issue is introduced by a patch:
[code]

It breaks logic that would retry applying the mutation if an RP check fails.

[2016-07-07 11:31] pdziepak opened #1440 "Streaming: mutation fragmentation inhibits write coalescing"
Streaming splits mutations into 128 kB fragments. That size was chosen because the fragments need to be a continuous blocks of memory and being smaller than LSA size (256 kB) they won't cause excessive pressure on memory reclaimer.

However, if a mutation gets fragmented the receiving side of streaming cannot coalesce writes from multiple streaming plans and each one has to use their own memtables

[2016-07-07 13:00] #1439 closed

[2016-07-07 15:05] tzach opened #1441 "Report a performance issue"
https://github.com/scylladb/scylla/issues/1348 is focused on collecting static data and crash aftermath like coredump. In addition, customer face performance issue, which is harder to identify, and require a different set of information.
Such a script will be used on _runtime_ and collect information from:
- sar -P ALL to see there isn't a single core that slows the rest
- iostat -x 1 To observe t

[2016-07-07 16:00] dorlaor commented on #1441
Get wild. We need network, interrupts, disk, cpu, perf record, scyllatop 10 sec dump and more

[2016-07-07 16:00] dorlaor commented on #1441
It's not about reporting, but about creating a report

[2016-07-07 16:56] tgrabiec opened #1442 "Reduce rate of segment heap reballancing in LSA by using approximate occupancy measure"
Segments in LSA are ordered in a heap by occupancy so that they are later compacted starting from sparsest segments, which is most effective. The occupancy changes on each free, forcing us to update the heap. Since the cost of segment compaction rises exponentially with occupancy, the order matters less for low occupancy segments. We could use approximate occupancy measure for ordering segments wi

[2016-07-07 17:14] belliottsmith commented on #1442
Why maintain a heap at all, instead of a histogram? Even 100 linearly spaced buckets would give you 1% accuracy for the decision, which is surely good enough?  The same approach to decaying accuracy could be imposed to reduce the number of buckets, or raise the accuracy where it counts.

It's possible to maintain a linked-list of the buckets that have entries, and the members of each bucket, in co

[2016-07-07 17:15] #1402 closed

[2016-07-07 17:54] #1389 closed

[2016-07-08 10:00] #1378 closed

[2016-07-09 15:57] ustczen commented on #1139
Hi @tzach many thanks for your set up tutorial. I can get a proper output in your sample test.
However, when I test presto + scylla with tons of data, I met the same problem as @gslin ,and presto throw these exception:
`2016-07-09T23:41:36.532+0800	ERROR	Query-20160709_154134_00001_3376r-164	com.facebook.presto.cassandra.CassandraThriftConnectionFactory	Unable to connect to server 127.0.0.1:9160
j

[2016-07-10 06:40] tzach commented on #1139
Hi @ustczen  Thanks for reproducing this issue.
If I'm reading the stack trace correctly, presto try to drop to Thrift, rather than use CQL. Scylla does not support Thrift yet, so the client fails. Scylla will support Thrift very soon (upcoming 1.3 release), but as long as Presto use CQL, it should work now.

Can you please elaborate on your setup, and how much data you loaded before encountering

[2016-07-10 08:18] #1193 closed

[2016-07-10 08:24] tzach commented on #217
@tzach check the same feature in Cassandra

[2016-07-10 08:32] tzach commented on #1312
Closing. Look like this is a result of using unprepared statements.

[2016-07-10 08:32] #1312 closed

[2016-07-10 08:36] tzach commented on #1298
@penberg can you please review and apply the updates?
https://groups.google.com/forum/#!searchin/scylladb-dev/%5BPATCH%5D$20docker$3A$20Add$20docker$20page$20documentation/scylladb-dev/g8W0XEPnzEU/Sinr-l5xBAAJ

[2016-07-10 08:38] tzach commented on #1222
@elcallio any updates on this issue?

[2016-07-10 08:45] tzach commented on #1015
@syuu1228 can you use addition to fix the issue?

[2016-07-10 08:50] tzach commented on #659
Support for large partitions will be a part of Scylla 1.3

[2016-07-10 08:50] #659 closed

[2016-07-10 08:51] tzach commented on #461
@amnonh any updates?

[2016-07-10 08:55] syuu1228 commented on #1015
Okay, just for Ubuntu 14.04 is enough?

2016年7月10日日曜日、Tzach Livyatan<notifications@github.com>さんは書きました:

[2016-07-10 08:56] gslin commented on #1139
I can reproduce in this way:

* Amazon EC2, us-west-2 (Oregan), r3.large with Scylla 1.2.1 AMI (ami-ed4d8b8d).
* Download Presto 0.150 (both server and cli) in this two pages:
 * https://prestodb.io/docs/current/installation/deployment.html
 * https://prestodb.io/docs/current/installation/cli.html
* Use exact https://gist.github.com/tzach/31e44b23926e92e3ff3d28630c2ba422 setting from @tzach's comm

[2016-07-10 09:19] amnonh commented on #461
It's merged

On Sun, Jul 10, 2016 at 11:51 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-10 09:20] tzach commented on #1015
@syuu1228 yes, as far as I know this issue is only relevant for Ubuntu 14.04

[2016-07-10 09:21] tzach commented on #461
Great. What is the commit hash?

[2016-07-10 10:34] tzach commented on #1139
@gslin thanks
I was able to reproduce your use case. Look like Presto use both CQL and Thrift for some reason, and choose one base on the case. I will try to dig into Presto to understand if it can be update to use CQL only.

@duarten can you use this case to test the new Scylla Thrift feature?

[2016-07-10 10:50] dorlaor commented on #1139
@tzach and @gslin, you can try to use the latest nightly binaries which
contain the thrift code

On Sun, Jul 10, 2016 at 1:34 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-10 12:00] ustczen commented on #1139
@tzach ,my etc/catalog/cassandra.properties follows your post exactly.
I imported about 100million lines into scylla before I met the exception above.I guess presto use thrift under special circumstances.
I would be appreciate it if you could estimate the release of Scylla 1.3.

[2016-07-10 12:03] slivne commented on #487
we added the upload directory

e5f0314afd261bb2880f8f62b1f898de959d23a1
[code]

[2016-07-10 12:03] #487 closed

[2016-07-10 12:17] avikivity commented on #487
We need a blog post explaining this, plus an entry in the admin guide to refer to it when talking about migrations.

[2016-07-10 14:12] slivne commented on #1179
@piotr - did the series with continuous flag address this ?

[2016-07-10 14:14] slivne commented on #324
@haaawk did we agreed this with the patches of "clustering_ranges" ?

[2016-07-10 15:17] slivne commented on #1323
@pdziepak - do we nowneed to solve this (now that we stream mutation parts ?)

[2016-07-10 15:20] slivne commented on #1401
@avikivity ping

[2016-07-10 15:20] slivne commented on #1388
@avikivity ping

[2016-07-10 16:03] avikivity opened #1443 "User defined types are reported as tuple types in cql metadata"
*Installation details*
Scylla version (or git commit hash): 1.2.1

[2016-07-10 17:28] benoit-canet opened #1444 "centos build seems broken"
*Installation details*
Scylla version (or git commit hash): d2caa486bafb6bbb8207e2f30a8d5a7ffef69228
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos7.2

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): AWS C3
Hardware: sockets= cores=4 hyperthreading= memory=
Disks: (SSD/HDD, count)

       [root@ip-10-65-129-212 scy

[2016-07-10 18:02] tzach commented on #1139
@ustczen thanks for reporting this issue.
Scylla 1.3 is planned for later this month.

[2016-07-10 18:35] dorlaor commented on #1139
@ustczen <https://github.com/ustczen> , don't wait to 1.3, test it using
our nightly build.
This way in case something isn't in place we'll fix it for 1.3

On Sun, Jul 10, 2016 at 9:02 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-10 19:24] haaawk commented on #1179
Yes

[2016-07-10 20:45] #1179 closed

[2016-07-10 23:07] duarten commented on #1139
@tzach Sounds like a good candidate, I'll give it a spin asap.

[2016-07-11 05:42] penberg commented on #1179
@haaawk @slivne Please add pointers to the commit(s) that fixed the issue here for future reference.

[2016-07-11 05:51] #1443 closed

[2016-07-11 05:53] haaawk commented on #1179
It was fixed by https://github.com/scylladb/scylla/commit/9b011bff18c079a625f3c3e8c403f05831181718

[2016-07-11 06:16] penberg commented on #1444
Related to commit d2caa486bafb6bbb8207e2f30a8d5a7ffef69228? @syuu1228 @slivne

[2016-07-11 06:18] penberg commented on #1375
@tzach Why did you reopen the issue?

[2016-07-11 06:23] penberg commented on #1396
@tzach Why did you reopen the issue?

[2016-07-11 06:23] penberg commented on #1417
@tzach Why did you reopen the issue?

[2016-07-11 06:23] syuu1228 commented on #1444
@penberg It looks like 3rdparty repo is something strange.  Will check

[2016-07-11 06:28] #1377 closed

[2016-07-11 06:32] penberg commented on #1399
Didn't we fix this with commit 1d5f7be44733740b1fdd9d097bfd7ff22c519d1e?

[2016-07-11 07:19] duarten opened #1445 "Implement thrift describe_splits verbs"
*Installation details*
Scylla version (or git commit hash): master

Currently we don't support the describe_splits or describe_splits_ex verbs. This is an experimental API that splits the token ring such that each slice has a specified number of keys and returns an estimate of how many rows it contains. Some applications depend on it, like Presto (#1139).

Supporting it involves populating the siz

[2016-07-11 07:20] elcallio commented on #1222
A number of patches where committed, for issues related to batch
consistency. The dtest variant of the test I created works fine. Still
waiting for results on this particular (jepsen) test though.

Den 2016-07-10 kl. 10:38, skrev Tzach Livyatan:

[2016-07-11 07:24] duarten commented on #1445
Here's how the Spark connector uses that system table: https://github.com/datastax/spark-cassandra-connector/blob/master/spark-cassandra-connector/src/main/scala/com/datastax/spark/connector/rdd/partitioner/DataSizeEstimates.scala

[2016-07-11 07:24] tzach commented on #1375
Allow me and @nirmaayan to test it

[2016-07-11 07:24] tzach commented on #1396
Allowing @nirmaayan and me to test it

[2016-07-11 07:30] pdziepak commented on #1445
It is a duplicate of #352.

[2016-07-11 07:48] nyh commented on #1401
While from what you're describing, we need to disable compression, it appears (but please correct me if I'm wrong) that this compression is a system-wide setting in systemd (see https://www.freedesktop.org/software/systemd/man/coredump.conf.html) so it would not be "playing nice" if scylla disabled it. Although it wouldn't be the first time we do this, if we do. Technically, doing this is easy - w

[2016-07-11 07:58] duarten commented on #1445
Changed the description to be about the thrift verbs are referenced #352.

[2016-07-11 08:07] pdziepak commented on #1323
The problem with fragmented partitions was solved before it was actually introduced in the series that adapted streaming for `streamed_mutations` (i.e. de429d6a53963bf7e7d0bd7da121b4da46fc122f ). Verb `STREAM_MUTATION` has now an additional flag that, when set indicated that only a fragment of partition is sent and it mustn't be made visible until the streaming plan completes (this is at the cost

[2016-07-11 08:07] #1323 closed

[2016-07-11 08:14] asias commented on #217
@slivne We already support the procedure "replacing a dead seed node" as Cassandra does.   It does not matter if it is a single seed node or not in the cluster.

How old non-seed nodes find the new seed node? Each node's scylla.yaml file is updated to use the new seed node. When the node reboots, it knows the new seed node. As I replied in the pervious comments, both scylla and cassandra do not re

[2016-07-11 08:15] slivne commented on #1323
great :)

Q:

Is that in partition level ?

e.g. do we need to complete streaming all the partitions to make anything visible - in that case it means that we must hold all the sstables we are flushing too (and their maybe multiple ones based on the partition size and strategy) as temporary sstables - so that if we crash we will not boot and think we have data we can use - is that how is done ?

[2016-07-11 08:15] asias commented on #217
I think we should close this issue now.

[2016-07-11 08:18] slivne commented on #217
I missed "both scylla and cassandra do not reread the yaml file to get new seed node" - closing

[2016-07-11 08:18] #217 closed

[2016-07-11 08:24] pdziepak commented on #1323
When mutation is sent with `fragmented` flag set it goes to memtable that is private for that streaming plan and when such memtable is flushed the resulting sstable won't be made visible until the streaming plan is completed (the sstable also is left unsealed until end of streaming plan so that it will be removed if the node crashes).

[2016-07-11 08:41] penberg commented on #1396
@tzach OK. Please include a comment when you reopen an issue.

[2016-07-11 08:42] tzach commented on #1396
@penberg I will.

[2016-07-11 11:03] elcallio commented on #1300
I went through the MBean changes between origin between 2.1 and 2.2 (though somewhat cursory). They seem pretty benign, mainly a bunch of previously deprecated methods dropped + some new stuff, that mainly seem to be cosmetic changes.
Afaict, it should be fairly easy to adapt our MBeans in scylla-jmx to conform to both interfaces (2.1 + 2.2) (if need be).
Imho, updating the scylla-tools tree is th

[2016-07-11 12:18] tzach commented on #1407
@slivne @penberg  c-s not working is a showstopper issue, why did we push it to 1.4?

[2016-07-11 12:20] slivne commented on #1407
its related to native stack (dpdk)

On Mon, Jul 11, 2016 at 3:18 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-11 12:29] tzach commented on #1407
Aha.
In cassandra-stress, `native` mean CQL. Maybe we should call it "DPDK stack"

[2016-07-11 13:06] penberg commented on #1407
@tzach Or "kernel by-pass" stack. Ping @avikivity

[2016-07-11 14:18] tzach commented on #1139
@ustczen @gslin thanks for pointing us to this issue.
@duarten found that Presto uses Thrift describe_splits verb which was not part of the initial Scylla Thrift implementation. This means Scylla Presto support is limited, and we will fix it following 1.3 release. See #1445 for more.

[2016-07-11 16:53] tgrabiec opened #1446 "Row slicing may give wrong answers for compact tables with non-full clustering keys"
Reproducer:

[code]

Expected result:
[code]

The problem is that prefix equality comparator, used for slicing, doesn't partition keys properly if there are prefixes among the partitioned keys. In the example above where we have keys (1) and (1,2) and a slice with inclusive starting bound of (1, 1), doing lower_bound will return both keys because both are equal to (1,1) in prefix equality.

We cou

[2016-07-11 19:23] slivne commented on #1444
@syuu1228 I know you fixed it - what commit was it ?

[2016-07-11 19:32] slivne commented on #1418
closed by 726b79ea918e70a30be05f040b470fa44a68ede8

[2016-07-11 19:32] #1418 closed

[2016-07-11 22:02] duarten opened #1447 "thrift: Fully implement get_range_slices verb"
*Installation details*
Scylla version (or git commit hash): master

In origin, empty partitions are returned as part of the KeySlice, for which the key will be filled in but the columns vector will be empty. Since in our case we don't return empty partitions, i.e., partitions for which a filter selected no rows, we don't know which partition keys in the specified range we should return back to the

[2016-07-11 22:18] andrewrong commented on #659
@tzach  how to support it？

[2016-07-12 03:51] dorlaor commented on #1441
Background: Many users are struggling to achieve good performance with scylla.
When we ask them for details, they always give 20% data from what requested..

I though to do 2 things for it:
1. Document on our website how to collect the entire data
2. Script the above

Beyond the commands that Tzach added, we need to grab perf record data on few cpus, feel
free to add more, including network and di

[2016-07-12 05:32] tzach commented on #659
@andrewrong rather than protect from large partitions, Scylla 1.3 will transparently handle them.
@pdziepak can you please refer us to the relevant patches?

[2016-07-12 07:55] gleb-cloudius commented on #1446
Did you mean "we have keys (1) and (1,1)" (not 1,2)?

[2016-07-12 08:27] tgrabiec commented on #1446
@gleb-cloudius Yes. Corrected, thanks.

[2016-07-12 08:31] tgrabiec commented on #659
Btw, to see issues related to handling of large partitions, check out the "large partitions" tag: https://github.com/scylladb/scylla/labels/large%20partitions

[2016-07-12 09:22] pdziepak commented on #659
Most of large partition support code was merged in 597cbbdedc6ddd438f5f27fe51191f16067add60. There are also follow up series dealing with SSTables 28fab55e6edbb1b2158bb6660c196eda58145939 and streaming de429d6a53963bf7e7d0bd7da121b4da46fc122f.

[2016-07-12 11:27] dahankzter commented on #1304
This happens with the new Mac native docker as well. We only use the docker for local development.

It also happens with the latest Cassandra docker which leads me to believe it is either in the Gosql driver or something else outside of Scylla.

[2016-07-12 11:43] avikivity commented on #1304
A packet capture would help see what the root cause is.

[2016-07-12 22:39] duarten opened #1448 "Flaky basic_date_tiered_strategy_test"
*Installation details*
Scylla version (or git commit hash): master (73a70e6)
Fedora 24 (4.6.3-300.fc24.x86_64)
gcc (GCC) 6.1.1 20160621 (Red Hat 6.1.1-3)
boost-1.60.0-6.fc24.x86_64

This basic_date_tiered_strategy_test case in sstable_test is occasionally failing with:

[2016-07-12 23:35] asias commented on #1356
Fixed by 9c27b5c46ed892ff1526c3bc1e61fdb46d158feb.

Duplication of  #1378

[2016-07-13 06:02] #1356 closed

[2016-07-13 06:02] penberg commented on #1448
@raphaelsc

[2016-07-13 09:34] tgrabiec opened #1449 "Make result of trichotomic comparison not convertible to bool"
Currently trichotomic comparators return an int. We should make the result not convertible to bool so that if less-comparator is mistakenly used where trichotomic one is expected, or vice versa, the code will not compile.

[2016-07-13 10:15] gleb-cloudius opened #1450 "filter_for_query() may break preferable order of nodes"
*Installation details*
Scylla version (or git commit hash): master

filter_for_query() gets sorted by preference list of endpoints and
should preserve that order after filtering out non local endpoints for
local query, but it may fail to do so now.

[2016-07-13 10:17] #1450 closed

[2016-07-13 12:11] tgrabiec commented on #402
Should be fixed by 41843b32c5d7e7a7d1c6e962dc44507d5249fdeb

[2016-07-13 12:11] #402 closed

[2016-07-13 12:23] tgrabiec opened #1451 "Implement nodetool resetlocalschema"
Could be useful for online resolving of issues like the one from #420 for example, without restarting the node.

[2016-07-13 12:25] amnonh commented on #1451
@tzach there are a few extended commands that were suggested over time,
maybe it's a good idea to collect them all together

On Wed, Jul 13, 2016 at 3:23 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-07-13 12:39] tgrabiec commented on #1451
@amnonh Each such command can be implemented separately and may have different priority.

[2016-07-13 13:50] amnonh commented on #1451
On Wed, Jul 13, 2016 at 3:39 PM, Tomasz Grabiec <notifications@github.com>
wrote:

I was talking about the PM side of it, just so we will not loose track of
those requests.

—

[2016-07-13 14:00] slivne commented on #1322
@tgrabiec , @raphaelsc - do we have all your changes in - for this - is there anything missing here.

[2016-07-13 14:19] tgrabiec commented on #1322
@slivne The only optimization which is in is the one to avoid accessing bloom filters when there are no GC-able tombstones. Notably, the interval_set optimization is not it. New version of the patch is expected.

[2016-07-13 15:49] slivne opened #1452 "stream session fails but repair succeeds"
version 1.2.1

I have ran a test and in the tests had logs

[code]

multiple times - repair continued to run

at the end I had

[code]

are we supposed to abort if stream / part of the repair fails in the middle or continue -

are we supposed to provide a failed result.
- we have tests (repair_kill_2_test) in which we kill a node during repair and then the repair fails - but in this case the issue

[2016-07-13 16:56] avikivity opened #1453 "Over-allocation of memory in column_family::make_reader()"
make_reader() grossly over-estimates the number of sub-readers needed, and this over-estimate is multiplied by the number of readers waiting in the queue.

[2016-07-13 17:19] avikivity opened #1454 "network I/O scheduler"
Just like we schedule I/O, we also need to schedule networking in case it is a limited resource.

This applies for sub-10GbE networks, and for inter-datacenter connections.  Network scheduling will allow us to run maintenance operations in parallel with regular load.

[2016-07-13 20:54] avikivity opened #1455 "Heat weighted load balancing"
Load-balance read queries (with CL<ALL) among nodes based on their heat (recent cache hit rate).

This allows a node that is cache-cold (due to a restart) to gradually start shouldering more and more load, instead of taking a 100% load hit immediately after restart and giving poor service due to a cold cache.

Hit rate tracking might be done per node, per keyspace-node, per cf-node, and per prepar

[2016-07-14 00:26] duarten commented on #1446
Out of curiosity, why are non-compact tables not affected?

[2016-07-14 02:29] vladzcloudius commented on #1455
On Jul 13, 2016 23:54, "Avi Kivity" <notifications@github.com> wrote:

(recent cache hit rate).

start shouldering more and more load, instead of taking a 100% load hit
immediately after restart and giving poor service due to a cold cache.

and per prepared-statement-node. Temperature updates can be piggy backed on
read request responses. A node that is disconnected gets its temperature
adjusted t

[2016-07-14 07:06] gleb-cloudius opened #1456 "IDL compiler support to generate verbs"
_Installation details_
Scylla version (or git commit hash): HEAD

Currently to add or modify a verb one needs to write c++ code, but all the code is essentially the same.
We need a way to generate it from IDL instead.

[2016-07-14 07:08] gleb-cloudius commented on #1456
@amnonh

[2016-07-14 07:58] pdziepak commented on #1446
Partial clustering keys are allowed only in compact tables. For non-compact ones all clustering keys need to have all components non-null and in such case our current comparators work correctly.

[2016-07-14 08:01] #1453 closed

[2016-07-14 08:11] duarten commented on #1446
Thanks! Is is this just a CQL thing or is there a limitation in the storage format I'm missing?

[2016-07-14 08:13] amnonh commented on #1456
@slivne please assign to me

[2016-07-14 08:22] avikivity commented on #1453
Since many such readers can be queued, we can fill up memory with unused reserved space; may lead to OOM.

[2016-07-14 11:14] avikivity opened #1457 "Database restart creates spurious column family directories"
*Installation details*
Scylla version (or git commit hash): 23edc1861a127fd35a9131679781d79a7b3bd177

When the database is restarted, column family directories belonging to foreign keyspaces are created in every keyspace.

[2016-07-14 11:31] #1457 closed

[2016-07-14 12:06] amnonh commented on #1221
I'm looking at implementing it, I see three options:
1. add some flag to the collectd, which would mark a specific metric is disable by default
2. add a call in main to disable specific metric
3. add some kind of configuration.

Note, that not all metrics are available when the system starts, so disabling should be done when the metric is already created.

[2016-07-14 15:36] avikivity opened #1458 "Improve sstable reader cost estimation"
_Installation details_
Scylla version (or git commit hash): 23edc1861a127fd35a9131679781d79a7b3bd177

We currently treat all reads as costing 1 and allow 100 concurrent reads to run, but some reads will access dozens of sstables, and some only one.  Need to take that into consideration.

[2016-07-14 22:04] manigandham commented on #401
This was an interesting paper from last week about Replex:  http://muratbuffalo.blogspot.com/2016/07/replex-scalable-highly-available-multi.html

[2016-07-15 00:35] raphaelsc commented on #1448
@penberg, @duarten  I will take a look into it. Thanks for sharing the details.

[2016-07-15 16:35] tgrabiec opened #1459 "Schema change statements are slow due to memtable flush latency"
_Installation details_
Scylla version (or git commit hash): any

Executing DDL statements takes significantly more time on Scylla than on Cassandra. For instance, `drop keyspace` takes about a second on an idle S\* server. I traced that down to latency of the flush of schema tables. The `create keyspace` statement is noticeably faster than `drop keyspace` because it flushes much fewer tables.

It

[2016-07-15 16:42] avikivity commented on #1459
Perhaps we should force a commitlog sync instead.  Or better, make commitlog mode per-keyspace, and use batch mode with the system keyspace. @elcallio?

[2016-07-15 16:44] avikivity commented on #1459
Using the commitlog only would only help if we were able to push many mutations to the commitlog at once.

[2016-07-15 16:45] avikivity commented on #1459
Actually, as long as the writes to different tables were not serialized, commitlog would work just fine, with batch log issuing two fdatasyncs.

[2016-07-15 16:49] tgrabiec commented on #1459
The tricky part is that schema needs to be persisted to sstables before we can ACK the change because we will need to read it before we start replaying the commitlog.

[2016-07-15 16:50] tgrabiec commented on #1459
I think that if we can make sstables flushes faster we anyway should, because latency of the flush of regular tables may matter when throttling kicks in.

[2016-07-15 17:04] avikivity commented on #1459
Maybe `system` deserves its own commitlog, which is replayed before the main one.

[2016-07-15 17:05] avikivity commented on #1459
The plan is, under normal conditions, for writes to transition to one-for-one (disk speed) before we hit the dirty memory limit.

[2016-07-17 06:29] avikivity opened #1460 "No nodetool status indication when a node is down due to a storage error or nodetool drain"
*Installation details*
Scylla version (or git commit hash): 1.2.1

If a node is partially down due to `nodetool drain` or an I/O error, then `nodetool status` should indicate it.

[2016-07-17 08:57] avikivity opened #1461 "Investigate consensus protocol for schema updates"
Instead of relying on the client to wait for schema propagation, use a consensus protocol to guarantee propagation

[2016-07-17 09:44] slivne opened #1462 "nodetool repair -dcpar flag is not supported"
*Installation details*
Scylla version (or git commit hash): 666.development-20160713.b5bef73

[code]

[2016-07-17 11:39] slivne commented on #1445
@duarten : as this is only thrift - are these verbs used by any application ?

[2016-07-17 11:48] duarten commented on #1445
@slivne Presto seems to rely on this verb.

[2016-07-17 12:04] slivne commented on #1445
thanks

[2016-07-17 13:45] slivne commented on #1460
@avikivity I think it does indicate it ..

Running ```nodetool status``` will indicate the node is down.

Running ```nodetool status``` on the local node - should show all the cluster down.

Or are you expecting something else ?

[2016-07-17 13:47] avikivity commented on #1460
You are right, at least about drain.

[2016-07-17 13:47] #1460 closed

[2016-07-17 13:51] #1173 closed

[2016-07-17 18:03] tzach commented on #1416
collectd_exporter needs to run as a service

[2016-07-18 12:15] tzach commented on #504
Problem still exists with Scylla 1.2.1 AMI

[2016-07-18 12:23] avikivity opened #1463 "Crash during nodetool drain"
*Installation details*
Scylla version (or git commit hash): 1.2.1

`nodetool drain` under load may crash.

[2016-07-18 12:25] #1463 closed

[2016-07-18 12:40] tzach commented on #1416
@slivne on second thought, download from the web will not work on a server which does not have external connectivity. Why not include the exporter on the scylla_tool rpm/deb?
we can still enable the service as part of scylla_setup.

[2016-07-18 13:18] #1448 closed

[2016-07-18 14:18] pdziepak opened #1464 "Row cache: stale continuity information with concurrent invalidations"
`scanning_and_populating_reader` can defer between reading continuity flag and using that information to read next entry. If cache invalidation happens in the meantime and the flag is changed the reader may end up missing some partitions.

This bug was found by this test: https://gist.github.com/pdziepak/322bcc0feaadb8b9f31bdc534013ced1

[2016-07-18 15:43] tgrabiec opened #1465 "Adding a column to a user type is broken with nested types"
*Installation details*
Scylla version (or git commit hash): 4eca7632ec479aa7d0977c6d75e01e56f187239d
Cluster size: 3

Found while trying to make cassandra-unit-tests work with driver version 3.0.2.

Setup:
[code]

The interesting part:
[code]

After restarting the cqlsh client:

[code]

Expected result:

[code]

[2016-07-18 15:52] slivne opened #1466 "repair is not able to complete"
*Installation details*
Scylla version (or git commit hash): 1.2.1
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-dd46ffca
instance type i2.8xlarge

test ran with 4 loaders running on c3.xlarge each running

[code]

 the test:

  1. pre populates the cluster with 100 GB on each node
  1. remove the data from one of the nodes
  1. restarts the node
  1. runs repair (while the write workload co

[2016-07-18 15:55] slivne opened #1467 "loosing mutation when node boots up and connects to a cluster"
*Installation details*
Scylla version (or git commit hash): 1.2.1

booting up a node while there is a load running will throw the following errors

[code]

according to @avikivity  "we should register the handlers and open rpc only afterwords"

(reproduce https://github.com/scylladb/scylla/issues/1466)

[2016-07-18 15:57] slivne opened #1468 "add a way that will cause a core creation when std::bad_alloc is thrown to be able to debug this cases"
When running tests we reach a state there are std::bad_alloc - but scylla keeps on running.

During testing it would be good to enable a flag that will cause a core creation and allow us to debug this case.

[2016-07-18 16:34] gleb-cloudius commented on #1467
It already supposed to be this way since we start listening in storage_service::init_server() [1] and it is called after registering storage proxy verbs. @asias did recent gossiper change broke it?

The question is if delaying listening is enough? Is it OK to process mutations before gossip brought the node up?

[1] https://groups.google.com/forum/#!msg/scylladb-dev/KYBljPX32Xo/3LCe_KkxAgAJ

[2016-07-18 17:14] #1465 closed

[2016-07-18 17:17] nyh opened #1469 "Key cache"
Currently, every time we read a partition (or a slice of one) that is not available in our row cache, we need to read the index file to find where in the sstable data file the data lives. This is especially bad when paging through a very large partition - because a very large partition is never cached and because the amount of data to read from the index also becomes large (the index segment becom

[2016-07-18 21:26] dorlaor commented on #1466
Need to figure out why there wasn't enough memory for the repair on such
large node.
One observation about the graphs, the max latency dominates the diagram and
we cannot
see the other percentiles.

On Mon, Jul 18, 2016 at 6:52 PM, Shlomi Livne <notifications@github.com>
wrote:

[2016-07-19 03:24] raphaelsc commented on #729
BTW, compaction will be retried after user asked it to stop. That's the default behavior for C* too IIRC. A quick test is about triggering compaction, asking for it to stop, then quickly checking that active compaction counter has decreased.

[2016-07-19 05:39] lmr commented on #1466
@dorlaor I've sent a Pull Request that separates the latency diagrams, making more clear the behavior of each latency curve.

[2016-07-19 09:11] slivne opened #1470 "sstableloader - check what happens if a table was altered"
sstables may be altered over the course of time - scylla is able to read persisted data using older schemas.

sstableloader translates stored data into cql commands - since it is using the last schema (and does not have schema history information) it can only read data that is in synch with the last available schema.

need to create a test to verify that in case we can not synch the persisted data

[2016-07-19 09:11] slivne opened #1471 "sstableloader - add rate limitting"

[2016-07-19 09:17] syuu1228 commented on #1015
Avi, I think you are talking about register_logger that accept custom
logger class, but should we re-implement logger that outputs log message to
file, by copying existing one that outputs to stdout?
It will be duplication of the code.

On Thu, Jun 23, 2016 at 4:54 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-07-19 11:32] #352 closed

[2016-07-20 06:32] syuu1228 commented on #1433
@avikivity I see some build error from -Werror on seastar/dpdk, should we fix on seastar/dpdk or sync with more recent version of dpdk (if they fix it on latest tree)

[2016-07-20 06:35] avikivity commented on #1433
Dpdk update is needed in any case

[2016-07-20 07:16] tzach commented on #1119
@raphaelsc @amnonh any update on this issue?

[2016-07-20 08:43] avikivity commented on #1015
No, the `logger` class was moved from Scylla to seastar, so now we can convert all `print()` and `fprint()` calls in seastar to calls to the logger.

[2016-07-20 09:59] nirmaayan commented on #1375
@slivne
Solved on 1.3
Scroll down with the mouse doesn't cause scyllatop to crash
You can only scroll with the keyboard

[2016-07-20 09:59] #1375 closed

[2016-07-20 10:00] nirmaayan commented on #1396
@slivne @tzach
Closed in 1.3

[2016-07-20 10:03] nirmaayan commented on #1417
@slivne @tzach
Closed in 1.3

[2016-07-20 10:07] #1417 closed

[2016-07-20 10:07] #1396 closed

[2016-07-20 10:09] nirmaayan opened #1472 "Scylla top output left on screen when using ^z"
*Installation details*
Scylla version (or git commit hash):  1.3
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos 1.3 - AWS

scyllatop output left on the screen after execute ^x command
This is minor issue - clear command makes it usable again

![screenshot at 2016-07-20 13 02 45](https://cloud.githubusercontent.com/assets/18263247/16982796/8f993168-4e7a-11e6-88ae-aba157178e59.png)

[2016-07-20 11:00] tzach commented on #1416
As Scylla expose metrics both from collectd_exporter and directly #1280 , each will need to use a different port, and the monitoring server like [scylla-grafana-monitoring](https://github.com/scylladb/scylla-grafana-monitoring) will need to monitor both

[2016-07-20 14:54] avikivity opened #1473 "debuginfo integration in ubuntu 14.04 is broken"
_Installation details_
Scylla version (or git commit hash): 1.3

In ununtu 14.04 it appears that debug information is stored in a parallel tree under /usr/lib/debug; so debug info for /usr/bin/top is stored in /usr/lib/debug/usr/bin/top.  However, we use the .build-id hierarchy which only works on Fedora/RHEL.

[2016-07-20 20:09] duarten opened #1474 "thrift: Implement mixed column families"
_Installation details_
Scylla version (or git commit hash): 8d87976

Currently we don't support mixed column families in the Thrift API; these are static column families to which columns are added dynamically.

A possible approach for this might be to always add a clustering key (and accompanying regular column) to static column families, which would normally be empty.

[2016-07-20 20:11] duarten opened #1475 "thrift: Implement super columns"
_Installation details_
Scylla version (or git commit hash): 8d87976

Currently we don't support super columns in the thrift API. They can be implemented as CQL maps, or, alternatively, as composite columns (see CASSANDRA-3237).

[2016-07-20 20:15] duarten opened #1476 "thrift: Support compressed query strings"
_Installation details_
Scylla version (or git commit hash): 8d87976

Compressed query strings are not currentely supported in Thrift API. The execute_cql3_query and prepare_cql3_query can receive GZIPed query strings; we currentely fail such requests with an InvalidOperationException.

[2016-07-20 20:17] duarten opened #1477 "thrift: Implement trace_next_query verb"
_Installation details_
Scylla version (or git commit hash): 8d87976

The trace_next_query verb is currentely not implemented in the Thrift API:

[2016-07-20 20:19] duarten opened #1478 "thrift: Enhance test coverage"
_Installation details_
Scylla version (or git commit hash): 8d87976

Some verbs, like get_paged_slice, are not covered by dtests. We should add unit- or d-tests for such cases to increase coverage of the less common thrift verbs.

[2016-07-20 20:22] duarten opened #1479 "thrift: Support composite column names and value"
_Installation details_
Scylla version (or git commit hash): 8d87976

Currently, only the `key_validation_class` and the `comparator` (in case of a dynamic CF) can be composite types. The `comparator`, in case of static CFs, can also be composite (the regular column names would be composite), as can a column's `validation_class`. We should support this cases.

[2016-07-21 07:46] tgrabiec commented on #1473
gdb can be convinced to read .build-id by setting `debug-file-directory`:
[code]

[2016-07-21 07:53] avikivity commented on #1473
Good to know, I was using symbol-file.  But for native ubuntu packages, it works out of the box, so it should for us too.

[2016-07-21 10:03] tzach opened #1480 "Unclear CQL trace"
*Installation details*
Scylla version (or git commit hash): 1.3RC

I'm getting the following from running `SELECT` from CQLsh after  `TRACING ON`
What does `[0]` stands for? if it is the shard , its better to explicitly state `[shard 0]`
[code]

[2016-07-21 10:25] tzach opened #1481 "CQL tracing - add "Sending message to" trace point"
*Installation details*
Scylla version (or git commit hash): 1.3 RC

Scylla `SELECT` trace example
[code]

Execution path jumped from 193 to 194 and back. It will be useful to have  `Sending message to /172.16.0.193`  and `Message received from /172.16.0.194` trace points.
In particular in the face of network errors.

[2016-07-21 10:27] tzach commented on #1481
@vladzcloudius what does the `--` on  source_elapsed stands for? (line 6)

[2016-07-21 10:30] dorlaor commented on #1481
It will be nice to align the text to the left.

On Thu, Jul 21, 2016 at 1:27 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-21 10:35] tzach commented on #1481
@dorlaor I suspect its CQLsh blame. Cassandra trace looks the same.

[2016-07-21 10:39] dorlaor commented on #1481
Agree but we can extract the #char per line and produce the buffer in a way
which will fix it.
I don't mind to fix cqlsh too

On Thu, Jul 21, 2016 at 1:35 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-21 10:39] tzach opened #1482 "system_traces.sessions table does not have TTL"
*Installation details*
Scylla version (or git commit hash): Scylla 1.3 RC

Tracing tables should have time to live (TTL), so traces will not be accumulated forever.
Scylla table `system_traces.sessions` have `default_time_to_live = 0`
Cassandra table `system_traces.sessions` have `default_time_to_live = 86400`

[2016-07-21 10:40] tzach commented on #1482
same for `system_traces.events`

[2016-07-21 10:50] tzach commented on #1452
@slivne can we fix this in time for 1.3?

[2016-07-21 10:53] tzach commented on #1415
@slivne can we fix it for 1.3? this is bad UX.

[2016-07-21 10:55] tzach commented on #1403
@dahankzter @gleb-cloudius any update on this issue?
Can it be reproduced?

[2016-07-21 10:56] slivne commented on #1452
nope

On Thu, Jul 21, 2016 at 1:50 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-21 10:57] tzach commented on #1401
@avikivity @slivne any update on this issue? was the AMI fixed?

[2016-07-21 11:01] tzach commented on #1392
@amnonh can you elaborate on this issue? What is the user facing effect it has?
Why would scylla read cassandra.yaml ?

[2016-07-21 11:03] tzach commented on #1370
@PriyaGheewala did you encountered this issue again?

[2016-07-21 11:05] tzach commented on #1369
Is this issue a result #1322 ? and if so, can we close it?

[2016-07-21 11:07] tzach commented on #1361
@aniketdumbare since we failed to reproduce, I'm closing this issue for now.
We can reopen if you or other can provide more data.

[2016-07-21 11:07] #1361 closed

[2016-07-21 11:09] tzach commented on #1352
@glommer any update on this issue?

[2016-07-21 11:10] slivne commented on #1369
I am sure #1322 - that is only partially resolved will help - yet the other
parts related to this are not resolved

The main item related to this is using dynamic shares instead of the static
shares we currently have between the io related components.

On Thu, Jul 21, 2016 at 2:05 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-21 11:20] vladzcloudius commented on #1481
@dorlaor @tzach Tzach is right - the formatting is done by cqlsh.

About the actual issue - it's strange we don't have the "sending" message in a READ flow.
I'll fix it right now.

[2016-07-21 11:25] vladzcloudius commented on #1482
@tzach We always explicitly set TTL for each and every entry in both tables. Why a deafult_time_to_live value is so important?

[2016-07-21 11:37] penberg commented on #1482
@vladzcloudius What do we set the TTL to? How is it configured? What is the default TTL?

[2016-07-21 11:38] penberg commented on #1352
@tzach, maybe... https://github.com/scylladb/seastar/commit/5d42b55fcc8247677a7605db430813dfd4a393e4

[2016-07-21 11:40] vladzcloudius commented on #1482
There is no such thing as a default TTL here.
For each QUERY (or NONE) typed trace it's 1 day, for each REPAIR (not yet instrumented) it's 7 days.
It's not configurable.

[2016-07-21 11:40] tzach commented on #1351
@PriyaGheewala did you had a chance to capture the info @avikivity suggested?

[2016-07-21 11:43] vladzcloudius commented on #1482
@penberg I see that C* seems to enable overriding these via .yaml

[2016-07-21 11:43] tzach commented on #1369
@slivne maybe you should open an issue for using dynamic shares so we can track and fix it

[2016-07-21 11:44] tzach commented on #1481
@vladzcloudius what about the `--` on line 6, is it a bug?

[2016-07-21 11:49] vladzcloudius opened #1483 "feature: get traces TTL from scylla.yaml"
Currently trace entry TTL is a hard coded value according to the trace type.
Allow configuration of this value via .yaml file.

[2016-07-21 11:50] tzach commented on #1482
In that case, I agree it's not as urgent. From a user perspective, who does not read the code, having the TTL in the table is clearer.

[2016-07-21 11:52] vladzcloudius commented on #1481
@tzach No, again - this is a way cqlsh represents zero. Namely by '--' they mean to say "no time elapsed yet"

[2016-07-21 12:08] #1480 closed

[2016-07-21 12:32] vladzcloudius commented on #1482
On 07/21/2016 02:50 PM, Tzach Livyatan wrote:

I've sent a patch that fixes that to the list

[2016-07-21 12:48] slivne commented on #1401
So we will disable compression

[2016-07-21 12:51] slivne commented on #1319
@benoit-canet ping

[2016-07-21 12:51] tgrabiec opened #1484 "Dropping keyspace with many tables may hang"
*Installation details*
Scylla version (or git commit hash): >= 0.19
--smp > 1

Also, the node will not be able to process any schema changes until it is restarted.

We drop tables as part of keyspace drop. Table drop starts with creating a snapshot. All shards coordinate this by generating a shared timestamp. The timestamp is generated using supplied timestamp generating function (`joinpoint` clas

[2016-07-21 12:52] #399 closed

[2016-07-21 14:22] eyalgutkind opened #1485 "Install Scylla without Root or Sudo privileges"
Customers may request an option to install Scylla using a "regular" user who do not have sudo rights.
The installation process should be able to install and configure all Scylla package under the unprivileged customer user.

[2016-07-21 14:35] dorlaor commented on #1485
We need to make sure that we have an option that:
 - Doesn't force a user creation
 - Use a different ROOT location for /etc, /var,..
 - Doesn't try to change filesystem, raid, irq configuratoin
 - etc

[2016-07-21 14:40] kongove opened #1486 "ubuntu-14.04: Kernel panic after installed scylla from officinal repo"
*Installation details*
Scylla version (or git commit hash): 1.2
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu-14.04
kernel version: 3.13.0-91-generic x86_64

- Ubuntu Server 14.04 LTS (HVM), SSD Volume Type - ami-2d39803a
- Ubuntu/images/ebs-ssd/ubuntu-trusty-14.04-amd64-server-20160627 (ami-c93a83de)

*Hardware details (for performance issues)*
- c3.large

ISSUE description:
Install scyll

[2016-07-21 14:43] avikivity commented on #1485
It is not possible in general.  Setting up RAID, formatting XFS partitions, setting up services are all privileged operations.

At best we can offer a way to start scylla up, in a similar way to what developers do.

[2016-07-21 14:46] dorlaor commented on #1486
AFAIK we are asking for a 4.2 kernel

On Thu, Jul 21, 2016 at 5:40 PM, Amos Jianjun Kong <notifications@github.com

[2016-07-21 14:49] avikivity commented on #1486
@dorlaor 3.15 is the first kernel that has good support for appending XFS AIO, so we ask for at least that
@kongove looks like just a kernel bug, it's probably not even from the scylla process.

Next time please use the "get system log" feature, not a screenshot.  In any case there's nothing we can do about it.

[2016-07-21 14:49] #1486 closed

[2016-07-21 14:49] dorlaor commented on #1485
@avikivity the idea is that when we run with the user credentials we won't create RAID at all, nor format, etc. If someone has everything laid out by the admin, it's not a must to be root

[2016-07-21 16:00] tzach commented on #1485
@dorlaor @eyalgutkind is Docker a valid alternative in this case?

[2016-07-21 16:06] raphaelsc opened #1487 "Add support to compaction properties that relate to tombstone"
Those are:

tombstone_compaction_interval   default:864000 (one day)    The minimum number of seconds after an SSTable is created before Cassandra considers the SSTable for tombstone compaction. Tombstone compaction is triggered if the number of garbage-collectable tombstones in the SSTable is greater than tombstone_threshold.

tombstone_threshold default:0.2 The ratio of garbage-collectable tombs

[2016-07-21 16:12] raphaelsc opened #1488 "Add support to compaction property to enable/disable background compaction"
Details of the property:

name: enabled   default value: true Set to enable background compaction.

[2016-07-21 16:15] #1484 closed

[2016-07-21 16:24] kongove commented on #1486
- http://www.scylladb.com/doc/getting-started-ubuntu/
- http://www.scylladb.com/doc/faq/#check-and-update-ubuntu-1404-kernel

In above two pages, we suggested users that 'Running Scylla on Ubuntu 14.04 requires kernel 3.15 or later'. But 3.16.0-76-generic still doesn't work. Should we suggest higher version of kernel for ubuntu 14.04 users?

kernel version: 3.16.0-76-generic, Panic:
[ubuntu-14.04-

[2016-07-21 16:37] avikivity commented on #1486
Were both of these crashes on the same instance (not instance type -- same VM)?

Those were crashes in the scheduler, unrelated to Scylla.  Maybe you got a bad VM.

[2016-07-21 16:46] #1481 closed

[2016-07-21 17:13] tzach commented on #1443
Example
[code]

   Notice the tuple notation () instead of the UDT notation of {'car', 'cdr'}

[2016-07-21 17:36] cawallin commented on #1139
Hi, I work on Presto -- the Cassandra connector for Presto uses CQL if you are selecting less than cassandra.limit-for-partition-key-select partition keys (by default 200), but if you are selecting more than that, it uses Thrift to figure out how data is partitioned on Cassandra.

[2016-07-21 18:29] penberg commented on #1139
I think @duarten is working on it.

[2016-07-21 18:45] dorlaor commented on #1485
@tzach, no! Why add a ton of complexity just because tiny permission issue

On Thu, Jul 21, 2016 at 7:00 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-21 19:38] Freeaqingme opened #1489 "Trying to add a new node, slow progress"
*Installation details*
Scylla version (or git commit hash): 1.2.1-20160623.c56fc
Cluster size: 3 -> 4 nodes
OS: Ubuntu (3 nodes 14.04, 1 16.04)

I have 3 nodes, db0-db2 running off HDD's. Pursuing #1211 (will follow up on that shortly) I decided to move everything to SSD's. As such, I added a 4th node (db3). Db0-2 had about 500 Gb of data. Once I added db3 it went pretty smoothly, but eventually i

[2016-07-22 06:16] #1482 closed

[2016-07-22 06:36] tzach commented on #1441
Let's start with a Wiki on "How to report a performance issue" and do the scripts later. This has become a repeated question, and the sooner we have a wiki to point to the better.

[2016-07-22 07:35] PriyaGheewala commented on #1370
@tzach
We did not encounter it again

[2016-07-22 08:02] tzach commented on #1370
Thanks @PriyaGheewala
Closing this issue until we have more evidence its indeed a Scylla issue

[2016-07-22 08:33] amnonh commented on #1441
In parallel, let's push scylla_housekeeping that was design to upload such
a report

On Fri, Jul 22, 2016 at 9:36 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-07-22 08:40] dorlaor commented on #1441
+1 but it may need a --perf mode

On Fri, Jul 22, 2016 at 11:33 AM, Amnon Heiman <notifications@github.com>
wrote:

[2016-07-22 12:18] yijiangnan23 opened #1490 "incorrectly write when commitlog_sync is 'batch'"
when commitlog_sync mode is 'batch', we send more than one request to commitlog. we find that if commitlog-sync throws exception, only one request catch the exception, the other requests are return ok.
we think that if sync_commitlog throws exception,  all the write-request should catch the exception, when more than one requests are batch committed.

[2016-07-22 13:03] avikivity commented on #1343
Issue also applied to rpm.  On a 1.2.1 installation, I can't do `yum downgrade scylla-server-1.2.0`.

[2016-07-22 13:07] vladzcloudius opened #1491 "scylla crashes when c-s is run when tracing of all requests is enabled"
*Installation details*
Scylla version (or git commit hash):  e1480cd00de63c152510cbd7e397227e9ab36281
Cluster size: 2
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04

*How to reproduce*
1) Enable traces for all Nodes:
Run for each Node
`curl -X POST --header "Content-Type: application/json" --header "Accept: application/json" "http://<address>:10000/storage_service/trace_probability?probability=1"`

[2016-07-22 13:11] vladzcloudius commented on #1491
The root cause are the following lines from `cql_server::connection::process_prepare`:
[code]
I wonder how this even compiles - references may not be std::move()ed.

[2016-07-22 13:32] #1491 closed

[2016-07-22 14:05] gleb-cloudius commented on #1491
On Fri, Jul 22, 2016 at 06:12:04AM -0700, vladzcloudius wrote:

This is const ref. It is copied instead.

--
			Gleb.

[2016-07-22 14:16] gleb-cloudius commented on #1491
On Fri, Jul 22, 2016 at 05:04:51PM +0300, Gleb Natapov wrote:

Actually, not captured ref is not const, so this moves the msg.

--
			Gleb.

[2016-07-22 14:19] vladzcloudius commented on #1491
On 07/22/2016 05:05 PM, Gleb Natapov wrote:

Right. But then my patch should have changed nothing - yet it does...
Strange...

[2016-07-22 14:23] vladzcloudius commented on #1491
On 07/22/2016 05:16 PM, Gleb Natapov wrote:

What do u mean? It IS captured...

[2016-07-22 14:27] vladzcloudius commented on #1491
On 07/22/2016 05:23 PM, Vlad Zolotarov wrote:

Oh, I see:

mutable 	- 	allows body to modify the parameters captured by copy, and
to call their non-const member functions

So, it wasn't a const ref after all...
So, the fix is ok then...

[2016-07-22 17:19] tgrabiec opened #1492 "Move seastar-specific command from scylla-gdb.py to seastar.git/seastar-gdb.py"

[2016-07-22 18:38] ycui1984 opened #1493 "scylladb 1.2 makes vm die"
*Installation details*
Scylla version (or git commit hash):1.2
Cluster size: single node
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu 14.04 vm

after installing scylladb 1.2, the vm dies.
Tried twice and the same results. Rebooting the vm does not help

[2016-07-22 20:46] analytically commented on #693
Now Thrift is done, would it be possible to test this again?

[2016-07-22 21:04] dorlaor commented on #693
Exactly! We tested Kariosdb which works fine and Presto (with a tiny issue
which
was committed already). We plan to test Titan and you're welcomed to be the
first

On Fri, Jul 22, 2016 at 11:46 PM, Mathias Bogaert <notifications@github.com>
wrote:

[2016-07-22 21:21] twilmes commented on #693
Cool, yeah, I just saw the other issue closed out yesterday.  Great news.
I'll let you all know when I get a chance if somebody else doesn't beat me
to it!

Thanks,
Ted

On Fri, Jul 22, 2016 at 4:04 PM, Dor Laor <notifications@github.com> wrote:

[2016-07-22 21:28] dorlaor commented on #1493
Can you provide the logs?
Was it a fresh install (no data)?
Please provide the core dump (we have a wiki which explains how to upload
it).
Also, 1.2.2 is out, please make sure you have it.

On Fri, Jul 22, 2016 at 9:38 PM, ycui1984 <notifications@github.com> wrote:

[2016-07-22 21:59] ycui1984 commented on #1493
yes, it is a fresh install, and no changes to get logs.
I will see how to generate the core dump.

Thanks

[2016-07-22 22:06] dorlaor commented on #1493
Here's how to upload cores:
https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-problem#send-the-core-dump

On Sat, Jul 23, 2016 at 12:59 AM, ycui1984 <notifications@github.com> wrote:

[2016-07-23 14:46] avikivity commented on #1493
What was the VM RAM size?
Was it running anything else (a GUI?)
What do you mean by "dies"?

[2016-07-24 04:53] juanc5ibanez commented on #1361
Hi. I have jsut got the same error. On a Ubuntu 16.04 host using docker. Followed the instructions to add the repo but still no luck.

[2016-07-24 05:45] pluradj commented on #693
I've given it a quick test against the latest Scylla code on Fedora 23 from [here](http://downloads.scylladb.com/rpm/unstable/fedora/master/latest/).

One issue I found is that Scylla isn't throwing a `org.apache.cassandra.thrift.InvalidRequestException` when [Titan attempts to connect](https://github.com/thinkaurelius/titan/blob/1.0.0/titan-cassandra/src/main/java/com/thinkaurelius/titan/diskstor

[2016-07-24 06:31] tzach commented on #693
@pluradj Thanks for the report!
@duarten can you take a look at the two issue reported above?

[2016-07-24 06:34] tzach commented on #1361
@juanc5ibanez thanks for the report
Can you please paste the commands you are using?
In particular, make sure you are indeed using the Ubuntu 16 repo:
[code]

[2016-07-24 08:04] avikivity opened #1494 "Bloom filter can generate incorrect results (or crash) in very large sstable"
*Installation details*
Scylla version (or git commit hash): 9423c13419f32a305cab334cb2a733d602f020dc

`bloom_filter::set_indexes()` uses `abs()` on a long value. this generates the wrong result if the input is larger than can be represented in an int (2^31), and so is incorrect for very large sstables.

[2016-07-24 08:26] duarten commented on #693
@tzach Will do.

[2016-07-24 08:31] #1494 closed

[2016-07-24 08:57] juanc5ibanez commented on #1361
I have just executed
sudo wget -O /etc/apt/sources.list.d/scylla.list http://downloads.scylladb.com/deb/ubuntu/scylla-1.2-xenial.list

And then I executed

sudo apt-get update

And that generated the following error:
The repository 'http://s3.amazonaws.com/downloads.scylladb.com/deb/ubuntu xenial Release' does not have a Release file.
N: Data from such a repository can't be authenticated and is th

[2016-07-24 09:05] juanc5ibanez commented on #1361
oops. you were right, I had to run the add repo and then apt-get update in order for it to install everything. then the install worked. thanks!!

[2016-07-24 09:39] tzach commented on #1361
@juanc5ibanez thanks for the update!
keeping this issue close.

[2016-07-24 13:25] #1438 closed

[2016-07-24 14:08] duarten commented on #693
@pluradj Can you give me some examples of traversals that reported duplicate values? I'm running Scylla from master (with the set_keyspace problem solved), TitanDB 1.0.0 and ES 1.5.0, and I'm getting correct results so far:

[2016-07-24 17:12] pluradj commented on #693
I haven't updated from master. Here's the gremlin session:

[code]

[2016-07-24 17:13] pluradj commented on #693
vertex count should be 12, edge count should be 17

[2016-07-24 17:38] duarten commented on #693
@pluradj Thanks! I can repro it now. Will investigate.

[2016-07-24 17:40] tzach commented on #1441
I took a stab at performance report Wiki
https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-perfromance-problem
Comment, updates are welcome

[2016-07-24 18:26] raphaelsc commented on #1441
On Sun, Jul 24, 2016 at 2:40 PM, Tzach Livyatan <notifications@github.com>
wrote:

typo on the title.

[2016-07-24 18:32] penberg commented on #1489
Ping @asias

[2016-07-24 20:36] dorlaor commented on #1441
It's a good start. I like it to be on the mail site and not just the wiki.
In addition, it would be nice to place example output of each of the tools.
I'm missing the 'perf record', 'perf replay' on few selected CPUs.
Can you script it all as well?

[2016-07-24 21:43] amnonh commented on #1441
On Sun, Jul 24, 2016 at 11:36 PM, Dor Laor <notifications@github.com> wrote:

If it can be run from the command line, I don't see why not

[2016-07-24 22:17] duarten opened #1495 "Column value incorrectly identified as static with compact storage"
*Installation details*
Scylla version (or git commit hash): 2f4cd86

Consider the following table:

[code]

If we now reboot Scylla, we get the following behaviour when reading the value from its sstable:

[code]

In Scylla's log:

[code]

This is the relevant code:

[code]

It feels like check_static should take into account a) the schema's compoundness if the schema.is_dense(), or b) the regular

[2016-07-25 04:21] ycui1984 commented on #1493
no gui, just command line.
Dies means there is no response when using keyboard.
Rebooting also does not help.
I will find my RAM size later.

[2016-07-25 04:26] kongove commented on #1493
@ycui1984 You can try to upgrade the vm kernel,  reference issue #1486

[2016-07-25 07:05] tzach commented on #1441
Added a perf example in the wiki
Is there's a way to display meaningful function names?

[2016-07-25 07:21] tgrabiec commented on #1441
2016-07-25 9:05 GMT+02:00 Tzach Livyatan <notifications@github.com>:

Do you have scylla-server-dgb installed?

[2016-07-25 07:32] tgrabiec commented on #1441
2016-07-24 19:40 GMT+02:00 Tzach Livyatan <notifications@github.com>:

The following should allow us to reproduce your benchmark or to get close

This information is relevant not only for benchmarks. Perhaps we should
rename the "Stress" section to "Clients" section, and also request:
  - which driver version are the clients using
  - what type of queries are they using
  - what's the schema

[2016-07-25 07:34] dorlaor commented on #1493
@ycui1984 it's possible to get the Xen boot log from the AWS console even
when the VM is dead.

On Mon, Jul 25, 2016 at 7:26 AM, Amos Jianjun Kong <notifications@github.com

[2016-07-25 07:37] dorlaor commented on #1441
Tzach, please move it to www. and github since it's easier to add comments.

Add a request to install our debug-info so the symbols from perf will be
significant.
The perf doesn't need to use the call graph. It's enough just to know what
are
the most active functions (w/o any parameter).

script, script.

On Mon, Jul 25, 2016 at 10:32 AM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-07-25 07:46] tgrabiec commented on #1441
2016-07-25 9:37 GMT+02:00 Dor Laor <notifications@github.com>:

It's not always enough to know the most active functions. For instance,
excessive copies may yield high time in memmove, but knowing that is not
enough to know where the problem is coming from. Callgraphs carry much more
information.

[2016-07-25 08:15] tzach opened #1496 "Scylla AMI should include debug info package"
*Installation details*
Scylla version (or git commit hash): 1.2.2
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

Lack of debug info package making hard to get info out of perf.
Since the AMI is not installed via standard repo, getting the debug package is not trivial. It will be much easier for a user to report perf info with scylla debug info package pre-installed.

[2016-07-25 08:17] duarten commented on #1445
Fixed by df346d8b4920dcc28fa978ffd94dd8de8271b78d.

[2016-07-25 08:17] #1445 closed

[2016-07-25 08:23] tzach commented on #1441
I failed to install debug info package on Scylla AMI,
If anyone did it, please let me know how.
#1496

[2016-07-25 08:36] asias commented on #1489
@Freeaqingme First, you do not have to run repair before you add DB3 node.  Even if you failed to add node3, you will be safe with data on existing DB0 to DB2 without repairing. Can you provide The log of DB0 to DB2? Do you have read/write cql load running when you adding DB3 node?

The log

"Jul 21 21:28:47 db3.scylla.example.com scylla[19007]: [shard 0] stream_session - [Stream #86a80680-4f77-11

[2016-07-25 08:40] avikivity commented on #1489
@asias is there a streaming related fix in 1.2.2?

@Freeaqingme are there any logs from the peer (149.x.y.135)?

[2016-07-25 08:42] kongove opened #1497 "HouseKeeping: ubuntu doesn't support enable/disable HouseKeeping in scylla_setup"
*Installation details*
Scylla version (or git commit hash): 1.3.rc1-20160721.c84e030
OS (RHEL/CentOS/Ubuntu/AWS AMI):  Ubuntu

*bug description*
HouseKeeping works in ubuntu, but after tried to 'disabled' it by running scylla_setup, it will works.
There is no any note in setup dialog about if it's supported ubuntu.

We need to support it.
@amnonh

[moving this to scylla project]

[2016-07-25 08:47] asias commented on #1489
@avikivity There is no direct streaming related fix in 1.2.2.  My guess is node 149.x.y.135 hangs for some reason.  This one: 5ee6a00 (db: don't over-allocate memory for mutation_reader) looks related to streaming.  Is there anything in the seastar side in 1.2.2 release?

[2016-07-25 08:58] duarten commented on #1367
@tzach I think this should be labeled as bug, right?

[2016-07-25 09:03] tgrabiec commented on #1441
2016-07-25 10:23 GMT+02:00 Tzach Livyatan <notifications@github.com>:

What was the error?

[2016-07-25 10:06] tzach commented on #1441
I had two  problems:
1. scylla repo is not available by default on AMI
2. `sudo yum clean all` was required

I add solution for both to the wiki

[2016-07-25 15:21] slivne opened #1498 "std::bad_alloc are thrown when cluster is overloaded"
_Installation details_
Scylla version (or git commit hash): 1.2.1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-dd46ffca
Cluster: 3 nodes c3.large

Loaded by 4 nodes of c3.xlarge each running

[code]

errors in logs

[code]

[2016-07-25 16:52] #1330 closed

[2016-07-25 16:57] avikivity opened #1499 "bytes_ostream assignment operators not safe"
*Installation details*
Scylla version (or git commit hash): 9e515c17a3dd3c955b4713a886e76a2da5dc019d

`bytes_ostream` assignment operators are not exception safe or safe against self assignment.

[2016-07-25 17:07] #1499 closed

[2016-07-25 17:25] ycui1984 commented on #1493
@kongove
Even if the problem is kernel support, scylla should not die when running a kernel that it does not support. It should promote its user in some way.  Make sense?

[2016-07-25 17:29] avikivity commented on #1493
The problem is that if the kernel crashed, there is nothing Scylla can do.
We haven't proved that this is the case, though.

On Jul 25, 2016 8:26 PM, "ycui1984" <notifications@github.com> wrote:

[2016-07-25 17:31] ycui1984 opened #1500 "jmx support for scylla"
*Installation details*
Scylla version (or git commit hash): 1.2
Cluster size: one node
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

We want to collect metrics in a client machine using jmx (scylla node runs remotely).
The tool jconsole is used and we enable REMOTE support (set REMOTE=1 in   /usr/lib/scylla/jmx/scylla-jmx). However, when we run jconsole it seems connected, and waiting for several minut

[2016-07-25 17:44] avikivity commented on #1500
@amnonh

[2016-07-25 18:18] lmr commented on #1498
@slivne I sent a Pull Request to scylla-cluster-tests that will make the test to return a WARNING instead of a PASS in case we see std::bad_alloc messages on node logs. I wanted to double check with you that this is a direction we want to move towards.

https://github.com/scylladb/scylla-cluster-tests/pull/143

[2016-07-25 19:56] ycui1984 commented on #1493
one thing we can do is to detect kernel version first, if a invalid kernel version is found, did not install any scylla packages, instead of the current best effect way (try to install scylla on an invalid kernel.)

[2016-07-25 21:40] dorlaor commented on #1493
We actually do recommend to stay away certain kernels. So far we haven't
received
a crash report about 14.04.

Do you have the specific kernel version and the kernel log?
There is a low latency kernel you can install on top of 14.04. It's a newer
Ubuntu kernel package. How about trying it?

On Mon, Jul 25, 2016 at 10:56 PM, ycui1984 <notifications@github.com> wrote:

[2016-07-26 01:08] kongove opened #1501 "HouseKeeping doesn't work in CentOS 7.2 (got systemd error of $SCYLLA_HOME)"
*Installation details*
Scylla version (or git commit hash): 1.3.rc1-20160721.c84e030
Systemd version: systemd-219-19.el7
Cluster size: single node
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.2
AMI ID: RHEL-7.2_HVM_GA-20151112-x86_64-1-Hourly2-GP2 (ami-2051294a)

We got this message, but I saw we set SCYLLA_HOME in EnvironmentFile (/etc/sysconfig/scylla-server)
[code]

[code]

[code]

@amnonh Where c

[2016-07-26 03:10] kongove commented on #1501
I reinstalled scylla in a clean CentOS 7.2, the systemd error disappeared, and we can see HouseKeeping daily is started from journalctl log, but EC2 count is still not increased.

[code]

[journalctl.log.txt](https://github.com/scylladb/scylla/files/382940/journalctl.log.txt)

[2016-07-26 04:21] kongove commented on #1501
Referenced [1], I tried to manually enable and execute housekeeping service, and succeed.
[code]
Then when I restart scylla-server service, housekeeping will be exected once. It seems currently 'unmark' isn't enough to enable house-keeping (timer/service) in CentOS.

[1] https://seanmcgary.com/posts/how-to-use-systemd-timers

[2016-07-26 04:30] kongove commented on #1501
Additional setup to install requests module of python3 in CentOS 7.2, otherwise housekeeping script will fail.

[code]

We can't assume user will check the log and install it by themselves, so how do we integrate this to our common setup (not scylla_setup script)?  @amnonh

[2016-07-26 05:45] asias commented on #1299
This issue has huge negative impact on streaming performance. We'd better prioritize it.

[code]

[2016-07-26 06:23] amnonh commented on #1501
On Tue, Jul 26, 2016 at 7:30 AM, Amos Jianjun Kong <notifications@github.com

It should be added to the dependencies in the RPM

[2016-07-26 07:13] slivne commented on #1501
@amnonh - please send a patch

On Tue, Jul 26, 2016 at 9:23 AM, Amnon Heiman <notifications@github.com>
wrote:

[2016-07-26 08:11] kongove opened #1502 "Ubuntu 16.04 house-keeping depends on uninstalled upstart that's replaced by systemd"
*Installation details*
Scylla version (or git commit hash): 1.3.rc1-20160721.c84e030
Cluster size: single node
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI ID
RHEL-7.2_HVM_GA-20151112-x86_64-1-Hourly2-GP2 (ami-2051294a)

Summary:
house-keeping doesn’t work on Ubuntu 16.04.
It works in 14.04

Quote from https://wiki.ubuntu.com/SystemdForUpstartUsers:
[code]

Upstart isn't installed in 16.04 by default. The

[2016-07-26 08:13] slivne commented on #1502
@kongove so is it working on 16.04 or not ?

[2016-07-26 08:16] kongove commented on #1502
house-keeping doesn’t work on Ubuntu 16.04.
It works in 14.04

[2016-07-26 09:18] kongove commented on #1502
@amnonh told me that systemd in ubuntu 16.04 will load /etc/init/scylla-timer.conf, and then the house-keeping script will be executed. It seems it doesn't work as expected.

It seems the scylla-server & scylla-jmx are started by service files in /lib/systemd/system/scylla-*

[code]

I manually copy /lib/systemd/system/scylla-housekeeping.timer & /lib/systemd/system/scylla-housekeeping.service fro

[2016-07-26 09:52] pdziepak opened #1503 "migration_test.py:TestMigration.migrate_sstable_with_range_tombstone_test fails with smp > 1"
Due to regression introduced in 2ee69860d27228f3e983e55c6a3279132a890adb SSTable mutation reader incorrectly emits end of stream when a partition containing only a partition tombstone is skipped (for example, because it doesn't belong to the current shard).

This problem was found by DTest `migration_test.py:TestMigration.migrate_sstable_with_range_tombstone_test`.

[2016-07-26 10:02] #1503 closed

[2016-07-26 10:18] slivne opened #1504 "Write workload of new partitions may invalidate entris that were cached by read workload"
*Installation details*
Scylla version (or git commit hash): 900639915d6f2e77b63d3ee40f07b58d38756534

We should insert write workload if there is free space in the cache (or if we evict previous written items that have not been read) but it should not evict entries that are read.

row_cache::update  code currently does the following
[code]

[2016-07-26 10:21] avikivity commented on #1504
That is handled automatically if the cache takes into account frequency information.  Items that are used only once are evicted sooner than older items that are frequently accessed.

[2016-07-26 10:25] amnonh commented on #1500
The problem is most likely with jmx behind a nat, if you edit the scylla-jmx file add to teh exec line:
this flag:
 -Djava.rmi.server.hostname=your-external-ip

[2016-07-26 10:25] amnonh commented on #1500
I'll send a patch that enable changing by command line

[2016-07-26 10:28] avikivity commented on #1500
@ycui1984, is network address translation involved?  I think that would be the case on AWS or docker.

[2016-07-26 10:28] slivne commented on #1504
The issue is that we are inserting items that may never be used (or trying
todo that)

We can  remove all the presence check and avoid memry allocation and
attempting the insert to start with.

On Tue, Jul 26, 2016 at 1:21 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-07-26 10:43] tgrabiec commented on #1504
Removing this would hurt workloads which read data soon after inserting it.

[2016-07-26 10:45] slivne commented on #1504
True

Yet this is an assumption we are making and hurting workloads that dont
On Jul 26, 2016 1:43 PM, "Tomasz Grabiec" <notifications@github.com> wrote:

[2016-07-26 10:47] tgrabiec commented on #1504
The solution is what Avi suggests, a'la ARC. It would also make us resistant to one-time scans.

[2016-07-26 11:07] elcallio commented on #1490
If I understand the issue correctly, your are (correctly) pointing out that the (latest) commit log batch-mode code will propagate a disk write/flush exception to the mutator continuation chain that did the actual sync, but not the ones that might have added data to the buffer being written, but only get to wait for the IO to finish.
I agree that this is less than perfect, but it might also be arg

[2016-07-26 11:48] avikivity commented on #1490
If origin has a similar bug, that doesn't excuse us.

Won't a shared_future<> fix things up here? write the error once, it gets propagated to all callers.

[2016-07-26 12:13] slivne commented on #1495
@pawel / @tgrabiec - can you please review and comment

[2016-07-26 12:24] elcallio commented on #1490
I would not say that the origin behaviour is a bug. It is a design decision. Bad or not, is beside the point, but what I'm saying is that a commit log disk error is, unless it is immediately recoverable, probably pretty bad and Origins default approach of handling it by stopping all transports and _not_ acknowledge the write as finished might be a better way to handle it.

Or, as I also wrote, at

[2016-07-26 12:28] gleb-cloudius commented on #1490
On Tue, Jul 26, 2016 at 05:24:44AM -0700, Calle Wilund wrote:

Applying mutation and saying we did not happens when CL is not achieved.
This is normal occurrence for C*/S*.

--
			Gleb.

[2016-07-26 12:28] avikivity commented on #1490
A failure in C* is "we can't guarantee it was committed", not "it was not committed".  For example, we might have hit one replica but failed on the others, so the operation failed, even the write will eventually be propagated to all nodes.

I think we should, in this case, have a "yes means yes" policy.

[2016-07-26 12:28] elcallio commented on #1490
Btw, if we (or Origin) is running in periodic mode, all bets are completely off regarding whether reporting a mutation successfully persisted in commit log was actually true, since we could have X writes going on at various disk positions and any of them could be the IO that broke the camels SSD.

In batch mode, we could just truncate the segment file to last know good size and then signal disk er

[2016-07-26 12:29] avikivity commented on #1490
Agree about periodic.  We should supply batch as an option to those who care more about their data (and maybe less about write latency.

[2016-07-26 12:43] tgrabiec commented on #1495
@duarten You're right, the code incorrectly assumes that cell names are always compound. It should check `s.thrift().has_compound_comparator`.

[2016-07-26 12:44] tgrabiec commented on #1495
We could use your new composite_view::is_static()

[2016-07-26 12:56] duarten commented on #1495
@tgrabiec Thanks! `s.thrift().has_compound_comparator()` already means the schema is dense, right? Should we also check `cdef.is_static()` like I did in the last code snippet?

[2016-07-26 14:04] tzach opened #1505 "Add perf to Scylla dependencies"
`perf` is used in [How to report a Scylla performance problem](https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-performance-problem) guide.
We should include it in Scylla installation. The same goes for *sar*, *iostat* if not there

[2016-07-26 14:47] tgrabiec commented on #1495
@duarten The relation between the two is: `is_dense => has_compound_comparator`. A table with compound cell names can have any denseness.

About the check to is_static() - in general the sstable would be malformed if the column was not static and would be present in the static row, so we should throw an exception. To handle schema changes, when a static column is dropped and then re-added as a reg

[2016-07-26 14:52] tgrabiec commented on #1495
Actually, there is no implication between is_dense and has_compound_comparator, because a table can be dense and have a non-compound comparator (eg. a table with singe clustering column with compact storage).

[2016-07-26 14:58] tzach opened #1506 "scyllatop - silent mode"
In some cases, a user wants to collect metrics for a few second and send the result as a file.
In such a case, it will be useful to run scyllatop in silent mode, something like
`scyllatop -silent -duration 10s > output.txt`

[2016-07-26 15:09] avikivity commented on #1506
If we use the prometheus integration, we can just fetch the endpoint URL a few times and send it raw.  This has the advantage that we can do any processing we do later, without any massaging of the data by scyllatop.

[2016-07-26 17:16] duarten commented on #1495
@tgrabiec Thanks for the explanation! I'll prepare a patch.

[2016-07-26 17:16] ycui1984 commented on #1500
we did not use docker or AWS

[2016-07-26 17:24] ycui1984 commented on #1500
it seems works for us when adding this. Thanks

[2016-07-26 17:26] tzach commented on #1506
Yes, also a valid solution

[2016-07-26 17:26] #1500 closed

[2016-07-26 17:30] ycui1984 commented on #1493
this our ubuntu release,

lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.4 LTS
Release:	14.04
Codename:	trusty

[2016-07-26 17:32] ycui1984 commented on #1493
uname -a
Linux elsrocks002 3.13.0-79-generic #123-Ubuntu SMP Fri Feb 19 14:27:58 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

because the vm is dead, we cannot issue uname on it, but should be similar with the above one.

[2016-07-26 17:41] tzach commented on #1506
If we change scyllatop to read from endpoint URL it the same feature.
For now, this simple addition to scyllatop will be helpful.
@haarcuba ?

[2016-07-26 19:59] avikivity opened #1507 "assert in interval_map, called from size_estimates_recorder"
*Installation details*
Scylla version (or git commit hash): efa690ce8c0268752ef773933fc5059c46120960

[code]

[2016-07-26 20:02] raphaelsc opened #1508 "Assertion `!(icl::is_empty(left) || icl::is_empty(right))' failed."
*Installation details*
Scylla version (or git commit hash): efa690ce8c0268752ef773933fc5059c46120960
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

Scylla args: sudo gdb --args ./build/release/scylla --log-to-stdout 1 --default-log-level info --collectd-address=127.0.0.1:25826 --collectd=1 --collectd-poll-period 3000 --network-stack posix --cpuset 1-4 --smp 4 --memory 8G --options-file /

[2016-07-26 20:19] avikivity commented on #1508
Dup #1507

[2016-07-26 20:19] #1508 closed

[2016-07-26 20:19] avikivity commented on #1508
patch on list, btw

[2016-07-26 20:24] raphaelsc commented on #1508
On Tue, Jul 26, 2016 at 5:19 PM, Avi Kivity <notifications@github.com>
wrote:

Thanks. Applied it locally and the problem seems to be fixed.

[2016-07-26 21:33] duarten commented on #1447
Interestingly, it seems some Thrift users work around this: https://github.com/thinkaurelius/titan/blob/ee226e52415b8bf43b700afac75fa5b9767993a5/titan-cassandra/src/main/java/com/thinkaurelius/titan/diskstorage/cassandra/thrift/CassandraThriftKeyColumnValueStore.java#L341

[2016-07-26 22:04] avikivity commented on #1363
A much simpler alternative is to increase the size of a memtable to 50% of dirty memory (classic double buffering).  The current 11% is a random origin default 1/(8+1), where 8=default memtable writer threads, or something.

[2016-07-27 00:46] asias commented on #1467
Note: the patch delays ms listening is not backported in 1.2.1. You were testing scylla 1.2.1, no?

commit f27e5d2a68ead42031063a67722117bf992c7a60
Author: Asias He <asias@scylladb.com>
Date:   Thu May 26 09:20:44 2016 +0000

    messaging_service: Delay listening ms during boot up

[2016-07-27 01:04] asias commented on #1467
@gleb-cloudius I don't think recent gossip change will break this. We do gossip shadow round in more places for gossip feature check but it should not change the fact that ms starts to listen only after mutation verbs and gossip verbs are registered. Before gossip bring the node up, the other nodes are supposed not to see this node at all. One exception is that, the node was up and and it was down

[2016-07-27 07:07] #1507 closed

[2016-07-27 08:07] slivne commented on #1467
@asias yes I was testing 1.2.1 - ok when we run the tests for 1.3 - I'll try and see if this does not reproduce

[2016-07-27 08:09] asias commented on #1467
OK.

[2016-07-27 08:29] slivne commented on #1498
I commented on the pull request
On Mon, Jul 25, 2016 at 9:18 PM, Lucas Meneghel Rodrigues <
notifications@github.com> wrote:

[2016-07-27 08:51] kongove opened #1509 "HouseKeeping wrongly identifies new version by simple comparison"
*Installation details*
Scylla version (or git commit hash): 1.3.rc1-20160721.c84e030
Cluster size: single node
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04

Current code identifies the version to be latest if it's different with local version.
It's not always correct.

Our server _should_ return latest official release version (1.2.2, it wrongly returns '1.3' right now).
But client might install

[2016-07-27 08:53] nirmaayan opened #1510 "Scylla Crash When Running Write Load"
*Installation details*
Scylla version (or git commit hash): 1.3 RC1
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-c79b10d0

I2.8xlarge
Loader: c4.large
Running the following C* stress
After 90 minutes one of Scylla's node crashed

Stress
cassandra.stress write no-warmup cl=QUORUM n=10000000000 -mode native cql3 -pop seq=1..10000000000 -node 172.30.0.123,172.30.0.125,172.30.0.124 -rate threa

[2016-07-27 08:58] slivne commented on #1510
can you also attach the logs from the instance that failed

On Wed, Jul 27, 2016 at 11:53 AM, Nir <notifications@github.com> wrote:

[2016-07-27 08:59] dorlaor commented on #1510
How come no core was generated?
What about the logs (in all nodes)?
This isn't the 1.3 release but RC1. Make sure to specify it

On Wed, Jul 27, 2016 at 11:53 AM, Nir <notifications@github.com> wrote:

[2016-07-27 09:10] duarten commented on #693
@pluradj Master now contains fixes for both of those problems. They still aren't in any released package, but they'll be in the next RC.

[2016-07-27 09:12] penberg commented on #693
@duarten Which commit(s) in master are those? I backported 5aaf43d1bcea20be215242ec56f4ff73d9e24e75 to 1.3 branch. Do we need anything else?

[2016-07-27 09:15] kevinwright commented on #693
Gets a +1 from me too

[2016-07-27 09:20] duarten commented on #693
@penberg The other one is 2be45c4806b38b12add69f305b945ca96d7c1f32; unsure if it was backported.

[2016-07-27 09:33] penberg commented on #693
It's backported. If you run

[code]

You will see a git note on the commit in master indicating that we backported it.

[2016-07-27 09:38] duarten commented on #693
@penberg Ah, good to know! :)

[2016-07-27 09:53] tzach opened #1511 "Scylla AMI: do not run in developer mode"
*Installation details*
Scylla version (or git commit hash): 1.2

Currently, scylla AMI has a limited set of predefined AMIs:
i2 [i2.xlarge … i2.8xlarge]
m3 [m3.medium .. m3. 2xlarge]
c3 [c3.large .. c3.8xlarge]

For any other type, AMI is set with developer mode. The result is these AMI seems to be fine, and are up and running, but with no io.conf.

A better UX will be NOT to set dev mode, and add

[2016-07-27 09:55] tgrabiec commented on #1363
The value 11% is probably to increase the number of parallel flushes, to better utilize disk's internal concurrency. With 50% we would have flush concurrency of 1. But then we multiply that by the number of shards. But maybe disk concurrency is not necessarily linked to shard count? Perhaps we should lower the threshold based on the relation between the two?

[2016-07-27 10:04] avikivity commented on #1363
It's much better to exploit disk concurrency with write-behind.  That gets the first memtable flushed faster, and the memory released sooner.  The only overhead of write-behind is N*128k, with a rather small N.

I forgot to mention it, but it's a prerequisite for this approach.

[2016-07-27 10:14] nirmaayan commented on #1510
Adding journalctl log
Fail node:
[failed_journalctl_54.243.3.122.txt](https://github.com/scylladb/scylla/files/385802/failed_journalctl_54.243.3.122.txt)
[good_journalctl_54.236.216.43.txt](https://github.com/scylladb/scylla/files/385801/good_journalctl_54.236.216.43.txt)
[good_journalctl_54.243.11.11.txt](https://github.com/scylladb/scylla/files/385806/good_journalctl_54.243.11.11.txt)

First log

[2016-07-27 10:18] gleb-cloudius commented on #1510
those a binaries of journalctl, not log itself

[2016-07-27 10:27] dorlaor opened #1512 "ScyllaDB prompt - Adding the status of the cluster to the prompt"
Suggested by @avikivity , add certain data to the prompt.
Especially important in cases where key services/config did not run like
scylla_io_setup.

[2016-07-27 10:36] nirmaayan commented on #1510
[fail_journalctl.txt.gz](https://github.com/scylladb/scylla/files/385830/fail_journalctl.txt.gz)
[good1_journalctl.txt.gz](https://github.com/scylladb/scylla/files/385829/good1_journalctl.txt.gz)
[good2_journalctl.txt.gz](https://github.com/scylladb/scylla/files/385831/good2_journalctl.txt.gz)

[2016-07-27 10:56] duarten commented on #1139
@cawallin Thanks for the explanation!

@penberg Yep, df346d8b4920dcc28fa978ffd94dd8de8271b78d should fix this.

I still have to make sure it's working well with Presto though.

[2016-07-27 10:59] dorlaor opened #1513 "Rate limit our log messages"
In version 1.2.2, using the AMI.
Checking one of our logs post a crash, I see tons of data in it, there are several problems:
- Many times all shards report the same issue (which all of them hit at once)
- They keep on reporting these issues over and over
- The log isn't informative and even developers wouldn't know what it means (#1522)

Example:

27 05:32:22 ip-172-30-0-124 scylla[4027]:  [shard

[2016-07-27 11:05] gleb-cloudius commented on #1513
On Wed, Jul 27, 2016 at 03:59:41AM -0700, Dor Laor wrote:

Should we coordinate logging between all shards and make everything slow?

That what rate limiter with duplication removal suppose to fix.

What do you propose? For logger to analyze the problem and point out to
the problematic line in the code like that:

Jul 27 05:35:25 ip-172-30-0-124 scylla[4027]:  the bug is in file buggy_code.cc at l

[2016-07-27 11:11] dorlaor commented on #1513
On Wed, Jul 27, 2016 at 2:05 PM, Gleb Natapov <notifications@github.com>
wrote:

I bet you can come up with something which will be fast. If your rate
limiter
will work, it may be less urgent.

It still better than 'exceptional future'. Everyone knows what's 'bug' is.
Gleb, why are you arguing. At best you can claim that at the point of this
issue there is no information that can be added and ther

[2016-07-27 11:23] penberg commented on #1139
@duarten Can you please double-check that all the relevant commits are backported to 1.3? I think they are but it's very easy to make mistakes with that.

[2016-07-27 11:23] tgrabiec commented on #1510
The coredump was not generated because of lack of disk space:

[code]

[2016-07-27 11:24] tgrabiec commented on #1510
The crash was due to:
[code]

[2016-07-27 11:35] gleb-cloudius commented on #1513
On Wed, Jul 27, 2016 at 04:11:57AM -0700, Dor Laor wrote:

Exceptional future is useful for developer since it points to an error
that was not properly handled. If it would be possible to add more info
about the error it would have been great, but at the point it is printed
it is not possible.

The issue should be formulated in such a way that it can be eventually
closed, what is the criteria for

[2016-07-27 11:42] duarten commented on #1139
@penberg They are, yes.

[2016-07-27 11:48] dorlaor commented on #1510
On Wed, Jul 27, 2016 at 2:23 PM, Tomasz Grabiec <notifications@github.com>
wrote:

Jul 27 07:40:24 ip-172-30-0-124 systemd-coredump[31868]: Not enough
disk space for coredump of 4027 (scylla), refusing.

Good (and simple ) catch.
Aren't we using the scylla data directory for coredumps? How come there was
not enough space there?

I think we should add a check when Scylla boots for the size of the
c

[2016-07-27 11:50] avikivity commented on #1510
Sounds like a job for scylla-housekeeping

[2016-07-27 11:50] tgrabiec commented on #1510
Possible causes:
  - `set_value()` called twice on the same promise
  - `set_value()` called on a moved-from promise
  - use-after-free/corruption of the promise

Hard to tell where the problem could be without at least a backtrace.

Can systemd-coredump be configured to at least save a backtrace? I didn't find such an option. There's an option of dumping to the journal, but I don't know what it a

[2016-07-27 11:54] avikivity commented on #1489
@asias unlikely

[2016-07-27 11:55] avikivity commented on #1489
https://github.com/scylladb/scylla/commit/5ee6a00b0ffca8e1601e5e8675ef287ec6ee6f23 is not related directly to streaming, just to regular reads.  How many ranges are read in parallel?

[2016-07-27 11:59] avikivity commented on #1393
Maybe we should add a question in `scylla_setup`, "Will Scylla be the only service on this host? Y/n".  If the user answers yes, we set --lock-memory 1.  If the user answers no, we ask further questions about how much memory and lcores to allocate to Scylla, and whether to mlock or not.

@tzach @syuu1228

[2016-07-27 12:04] dorlaor commented on #1393
Let's grab our share of memory regardless.
Even when someone has a parallel service, we should lock the portion of the
memory we're given.

The other alternative is to cancel swap but I think locking is better

On Wed, Jul 27, 2016 at 2:59 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-07-27 12:07] avikivity commented on #1393
In a shared scenario, we should ask,  It gives more flexibility.  We can still default to yes, but allow no for setups where Scylla isn't the main tenant.

The usual scenario is that Scylla is the only tenant, next is main tenant among several, but secondary tenant is also possible.

[2016-07-27 12:08] avikivity commented on #1393
btw, disabling swap is not a good option, because if something goes wrong it forces the kernel to kill something.

[2016-07-27 13:07] syuu1228 commented on #1393
When you also install scylla-jmx on same host, can you use --lock-memory 1
or not?
Because scylla_setup let users to instal jmx now.

On Wed, Jul 27, 2016 at 8:59 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-07-27 13:28] slivne commented on #809
@benoit-canet lets enable the dtest

[2016-07-27 13:29] slivne commented on #807
@benoit-canet lets enable the dtest

[2016-07-27 14:25] amnonh commented on #1509
There is no rpm installation from pythno3 pkg_resource.

for 1.3 I'll send a patch that does a better string compare, we should see
what to do with python packages

On Wed, Jul 27, 2016 at 11:51 AM, Amos Jianjun Kong <
notifications@github.com> wrote:

[2016-07-27 15:50] dorlaor commented on #1493
According to our Ubuntu page, we need a > 3.15 and above:
*http://www.scylladb.com/doc/getting-started-ubuntu/
<http://www.scylladb.com/doc/getting-started-ubuntu/>*

On Tue, Jul 26, 2016 at 8:32 PM, ycui1984 <notifications@github.com> wrote:

[2016-07-27 16:41] avikivity commented on #1393
scylla-jmx has restricted memory requirements, it doesn't count as a separate tenant.

[2016-07-28 09:12] #1495 closed

[2016-07-28 10:02] gleb-cloudius opened #1514 "Use after free in api:sum_sstable()"
*Installation details*
Scylla version (or git commit hash): 6fc6adbdeb542d76ebdc369a3e57ddae41443dc1

api:sum_sstable() has code that does:

lw_shared_ptr<X> foo();
for (auto x : *(foo()).get()) {
}

If foo() returns temporary object it can be destroyed before it is used by the loop.

In out case the foo() is get_sstables_including_compacted_undeleted() which can return temporary if _sstables_comp

[2016-07-28 10:14] kongove opened #1515 "ubuntu 16.04: cqlsh failed to connect scylla-server"
*Installation details*
Scylla version (or git commit hash):
  can reproduce with 1.2.2-20160719.caab57b-ubuntu1  and 1.3~rc1-20160721.c84e030
Cluster size: single node
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20160516.1 (ami-13be557e)

### Description:

1. Install scylla-1.2, try to connect scylla-server by cqlsh

[code]

2. upgrade scylla to 1.3~rc1-

[2016-07-28 10:18] penberg commented on #1515
It's the same issue as this https://github.com/scylladb/scylla-tools-java/issues/8

[2016-07-28 11:06] #1464 closed

[2016-07-28 11:25] #1514 closed

[2016-07-28 20:10] pluradj commented on #693
I've confirmed the fixes in my environment :+1:

Now I'm trying to do some Titan OLAP with SparkGraphComputer, and this is the stack trace I'm running into:

[code]

I'm building `titan11` branch from source, running against a Spark 1.5.2 standalone cluster and Hadoop 2.7.2. Here's the [read-scylla.properties](https://gist.github.com/pluradj/5145bed9daff6faf7cc5e7a1528decd9).

My guess is that [th

[2016-07-28 20:41] duarten commented on #693
I think [this](https://github.com/apache/cassandra/blob/cassandra-2.1.8/src/java/org/apache/cassandra/hadoop/AbstractColumnFamilyInputFormat.java#L317) is the exception being thrown.

Could you turn on debug logs and see if [this](https://github.com/apache/cassandra/blob/cassandra-2.1.8/src/java/org/apache/cassandra/hadoop/AbstractColumnFamilyInputFormat.java#L306) is being triggered? Otherwise I'

[2016-07-28 21:33] raphaelsc opened #1516 "Clustering column cannot be restricted by IN relation"
In Scylla, it's currently possible to query a clustering column using IN relation, but it seems not work quite well.

Query example: USE keyspace1; SELECT * FROM table1 WHERE p1 = 'key1' AND c1 IN ('a', 'z');

 C*, for example, returns the following error when executing the same query:
InvalidRequest: code=2200 [Invalid query] message="Clustering column "c1" cannot be restricted by an IN relation"

[2016-07-28 22:06] pluradj commented on #693
Away from computer at the moment.

"failed connecting to all endpoints " + StringUtils.join(range.endpoints, ","));

This error message didn't add any additional detail in the stack trace message, so that's why I think the range is incorrect.

[2016-07-28 23:11] duarten commented on #693
You're right. We're returning `TokenRanges`, since we're calling through to `getSubSplits`, but the `rpc_endpoints` do seem to be empty. I can't think of anything off the top of my head that could explain this, so I'll investigate tomorrow.

[2016-07-29 06:46] pluradj commented on #693
At [this point](https://github.com/apache/cassandra/blob/cassandra-2.1.8/src/java/org/apache/cassandra/hadoop/AbstractColumnFamilyInputFormat.java#L277) in the code: splitsize=65536, range.rpc_endpoints.size()=0, range.endpoints.size()=0, keyspace=argonaut, cfName=edgestore

[2016-07-29 06:50] pluradj commented on #693
I'm also seeing miscounts on Grateful Dead graph:
[code]

Expected 808 vertices, 8049 edges.

[2016-07-29 08:54] syuu1228 commented on #1511
I think more clearer way is prevent launch Scylla AMI on unsupported instance types.
To do that we will set release-AMI as 'Instance Store-Backed', which only able to launch on i2/m3/c3.
And we will have unstable-AMI as 'EBS-Backed',  which able to launch all instance types.

To implement this we need modify dist/ami to handle Instance store backed AMI, specify on an argument of the script.
Also n

[2016-07-29 08:57] duarten opened #1517 "storage_service::get_range_to_address_map_in_local_dc is broken"
*Installation details*
Scylla version (or git commit hash): 3531dd8

The relevant code:

[code]

This is broken in two ways: 1) it should be using `copy_if` instead of `remove_copy_if`; 2) `filtered_map[entry.first].begin()` is not an `OutputIterator`, so nothing gets added.

[2016-07-29 08:58] duarten commented on #693
I opened #1517 and sent a fix for it; this should take care of the empty rpc_endpoints.

Now I'm going to look into the Grateful Dead graph miscounts.

[2016-07-29 09:01] syuu1228 opened #1518 "scylla_setup: support custom data directories"
Right now we supports XFS/RAID volume construction on scylla_setup, but it always specifies /var/lib/scylla for data/commitlog directories.
But user may have existing XFS volume on custom directory on /xfs or somewhere, not on our dir.
Maybe we should have following prompt on scylla_setup interactive mode:

[code]

[2016-07-29 09:11] #1517 closed

[2016-07-29 09:49] duarten commented on #693
It seems to be working for me:

[code]
What version of Scylla are you on?

[2016-07-29 09:55] pdziepak commented on #1516
Isn't this a duplicate of #1437?

[2016-07-29 10:34] duarten commented on #1151
I've enabled json_tools_test, offline_tools_test and sstablesplit_test. We apparently don't support incremental repair, so I didn't enable incremental_repair_test.

I think we should keep an eye on CASSANDRA-8616 because it seems some of these tools will be re-written.

[2016-07-29 13:28] pluradj commented on #693
`666.development-20160729.3531dd8` on Fedora 23. Counts for Grateful Dead are off, regardless of the `cache.db_cache` setting in `titan-cassandra.properties`.

[2016-07-29 13:38] duarten commented on #693
Oh, I've managed to repro it. Running scylla with --smp > 1 seems to cause the problem. I always get correct results with --smp 1, but never with --smp 4.

[2016-07-29 17:30] #1516 closed

[2016-07-29 17:30] raphaelsc commented on #1516
On Fri, Jul 29, 2016 at 6:55 AM, Paweł Dziepak <notifications@github.com>
wrote:

Yes. Closing it.

[2016-07-29 17:41] tgrabiec opened #1519 "No debug symbols for scylla in 1.2 AMI"
I didn't check AMIs other than 1.2

GDB says:

[code]

debuginfo-install says:

[code]

[2016-07-31 07:49] tzach commented on #1511
@syuu1228 having two different AMI is confusing, and will lead to mistakes.
If I'm looking for ScyllaDB AMI and find two results, not sure which should I choose

Can you do that?

[2016-07-31 07:55] dorlaor commented on #1511
On Jul 31, 2016 10:50 AM, "Tzach Livyatan" <notifications@github.com> wrote:

mistakes.

should I choose

instance types.

Another option is to launch it but require a standard, full configuration.
It would be like a standard vm, with our rpm pre-installed

[2016-07-31 07:56] tzach commented on #1346
@syuu1228 any update on this issue?
Having the XFS and RAID in the same step is confusing, and dangerous, as it clear the data from the drives. A Proper warning is in place.

[2016-07-31 08:03] tzach commented on #1518
Good idea, but add complexity.
If they do choose a different directory, the script needs to change the scylla.yaml as well.

See #1346 for related comment on the XSF and RAID part.

[2016-07-31 08:21] tzach commented on #1519
duplicate of #1496 ?

[2016-07-31 08:49] nirmaayan opened #1520 "nodetool compactionhistory rows_merged is empty"
Scylla version (or git commit hash): 1.3 RC!
Cluster size: 3
CEntos AMI

Running nodetool compactionhistory command the output is:

rows_merged column is empty

[2016-07-31 08:51] nirmaayan opened #1521 "nodetool compactionhistory parameters need to be in human readable format"
nodetool compactionhistory parameters need to be in human readable format to make it easier for users

for example this script will convert the format to readable:

[2016-07-31 08:51] slivne commented on #1521
duplicate of

https://github.com/scylladb/scylla/issues/666

[2016-07-31 08:51] dorlaor opened #1522 "None informative and excessive log message"
Release is Scylla 1.2.2
Standard Cassandra stress caused it, it triggered a core eventually.
The original bug was reported in #1513

27 05:32:22 ip-172-30-0-124 scylla[4027]: [shard 15] seastar - Exceptional future ignored: semaphore_timed_out (Semaphore timedout)
Jul 27 05:32:22 ip-172-30-0-124 scylla[4027]: [shard 16] seastar - Exceptional future ignored: semaphore_timed_out (Semaphore timedout)

[2016-07-31 08:53] dorlaor commented on #1513
@gleb-cloudius agree. I changed the title to add a rate limit and optioned #1522 above log message.

[2016-07-31 09:02] tzach commented on #1520
duplicate #666

[2016-07-31 09:02] tzach commented on #1521
@slivne you comment on the wrong issue.
Clone your comment to #1520

[2016-07-31 09:20] tgrabiec commented on #1519
Yes

[2016-07-31 09:20] #1519 closed

[2016-07-31 09:24] slivne commented on #461
commit 401c333b118059c156700caf7dc8ae903532fee3
Author: Amnon Heiman <amnon@scylladb.com>
Date:   Sun May 29 15:39:20 2016 +0300

    scollectd: Support filtering specific collectd metrics

    This patch adds the ability to turn on and off specific collectd
    metrics.

    It has the following changes:
    add an enable flag to the collectd value_list it then uses that flag
    when sending not

[2016-07-31 09:24] #461 closed

[2016-07-31 09:27] slivne commented on #1221
commit 0d4d9c5aa86d271afe3fde46c9476155a7a74950
Author: Amnon Heiman <amnon@scylladb.com>
Date:   Sun Jul 17 18:17:06 2016 +0300

    reactor: Register the smp metrics disabled

    Typically the smp metrics should be disabled, they cause too much
    traffic to the collectd server and gives little value.

    This patch register those metrics as disabled, if needed they can be
    enabled at run

[2016-07-31 09:27] #1221 closed

[2016-07-31 12:02] haarcuba commented on #1506
submitted a patch.

[2016-07-31 12:03] tzach commented on #1414
There is not disclaimer about using Scylla AMI on production. On the contrary, Scylla AMI should be production ready.

I agree with @slivne we need to change the requirements, having the same UX for AMI as users who install from repo, including upgrade support.

[2016-07-31 12:43] nirmaayan opened #1523 "Scylla AMI wrong seed address in the cluster"
Scylla version (or git commit hash): 1.3 RC!
Cluster size: 3
EC2 AWS centos 7.2

Create 3 node cluster using AWS GUI
Add the

See - getting [started instructions](http://www.scylladb.com/doc/getting-started-amazon/)

Checking under /etc/scylla/scylla/scylla.yaml
For 2 nodes the seeding point was 172.31.23.48
For the other the seed was 172.31.23.46

This issue is inconsistent, happens 1 out of 10 t

[2016-07-31 12:55] nyh opened #1524 "Individual tests should work without test.py"
Trying to run build/release/tests/sstable_test without "-c1" fails.
With "-c1", if not given a "-m" option it takes 7 seconds (with a strange pause in the middle), but if given a "-m 1G" option (to use only 1 GB of memory and not the entire memory) it finishes in 1.5 seconds.

I guess have two "complaints" here:
1. Why these options are needed for the test to work (or to finish quickly), and
2. If

[2016-07-31 13:59] haarcuba commented on #1472
a simple CTRL-L or "clear" command will clear the screen.
IMHO it's not worth tampering with code for this.

[2016-07-31 14:02] nirmaayan commented on #1472
Agreed that it's a minor issue but it can be annoying to users @tzach please advise for the priority

[2016-07-31 15:36] #1414 closed

[2016-07-31 15:37] #1496 closed

[2016-07-31 16:45] tzach commented on #1472
Agree with both of you

[2016-07-31 16:45] #1472 closed

[2016-07-31 17:06] tzach commented on #1523
Look like the  reflector is working
[code]

[2016-08-01 06:57] syuu1228 commented on #1407
Fixed at https://github.com/scylladb/seastar/commit/0da8423abfcebda1f164733f23ad42d25eb01b20

[2016-08-01 06:57] #1407 closed

[2016-08-01 07:06] tzach commented on #1266
@psuriset any update on this issue?
Can you reproduce and [upload the core dump to s3](https://github.com/scylladb/scylla/wiki/How-to-report-a-Scylla-problem#core-dump) ?

[2016-08-01 07:14] syuu1228 commented on #1401
Fixed at https://github.com/scylladb/scylla/commit/89b790358ec46664cb4fc928b68b5101166688e1

[2016-08-01 07:19] nyh opened #1525 "Row tombstones saved differently from Cassandra"
Scylla version (or git commit hash) :900639915d6f2e77b63d3ee40f07b58d38756534

Recently we fixed Scylla's approach to saving range tombstones - from overlapping whole-prefix tombstones we had originally, to disjoint range tombstones to match Cassandra's approach. We store these disjoint range tombstones internally in our memtables.

However, I believe that unlike Cassandra, we store "row tombstone

[2016-08-01 07:35] tzach commented on #1242
@slivne , as decommission do works, suggest to close this issue.

@amnonh if the error is coming from Scylla, please open an issue for a clearer error response, like "Error in parsing API parameters"

[2016-08-01 07:39] tgrabiec commented on #1525
Is the only problem here that we generate overlapping tombstones? That is legal, and C* also writes such tombstones, as I showed in this comment: https://github.com/scylladb/scylla/issues/1153#issuecomment-227471741

[2016-08-01 07:42] amnonh opened #1526 "decommission with bad node format should return a better error message"
See issue #666

When running nodetool decommission with bad id, the error that return to the user is cryptic.

[2016-08-01 07:42] amnonh commented on #1242
I have opened #1526

[2016-08-01 07:44] nyh commented on #1525
Yes, that is the only "problem".  If it's not a problem, I'm closing this issue, sorry....
It just complicates my life as I try to compare Cassandra and Scylla sstables bit for bit. I guess I should stop doing that.

[2016-08-01 07:44] #1525 closed

[2016-08-01 07:59] tzach commented on #1523
@slivne can you take a look?

[2016-08-01 10:34] simsunny22 opened #1527 "transport file"
dose scylla implement  transport file from one node to another node, when some node crush down.
if scylla has implement is , where it is.
thanks any way

[2016-08-01 11:06] benoit-canet opened #1528 "Scylla 1.2 fails to installs in a centos 7.2.1511 lxc container"
_Installation details_
Scylla version (or git commit hash): scylla-1.2.2-20160719.caab57b.el7.centos.x86_64.rpm
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos

_Hardware details (for performance issues)_         c3.large
Platform (physical/VM/cloud instance type/docker): fresh centos 7.2 lxc container
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count) SSD as root

T

[2016-08-01 11:14] benoit-canet commented on #1528
It's does install cleanly outside an lxc container on an AWS c3.large instance

[2016-08-01 11:25] nirmaayan commented on #1510
Adding coredump output (link to the core will be added shortly)

#0  0x00007f5fd4f4c5f7 in raise () from /lib64/libc.so.6
#1  0x00007f5fd4f4dce8 in abort () from /lib64/libc.so.6
#2  0x00007f5fd4f45566 in __assert_fail_base () from /lib64/libc.so.6
#3  0x00007f5fd4f45612 in __assert_fail () from /lib64/libc.so.6
#4  0x000000000052fd9e in promise<>::set_value<>() (this=this@entry=0x6120001c3ab0) at

[2016-08-01 11:29] tgrabiec commented on #1510
@nirmaayan Please paste backtraces inside tripe back-quotes.

[2016-08-01 11:35] tgrabiec commented on #1510
@glommer

The problem is around this code:

[code]

This statement allocates memory:
[code]

Which may trigger reclamation and cause `release_requests` to be re-entered, which it is not prepared for.

[2016-08-01 11:44] nyh opened #1529 "Bug in memtable flush might result in disk exhaustion"
When I inserted a bug (as part of the promoted index writing work) which caused sstable writing to fail with an exception, I noticed that in that case we go into an endless loop trying this write again every 10 seconds, which again and again fails for the same reason, and creates many partial (and probably corrupt) sstables.

It is arguable whether it is helpful to try the flush again endlessly, b

[2016-08-01 14:29] avikivity commented on #990
Perhaps we should export information from `getrusage(2)` as metrics; if user time + system time < time between waking up and sleeping, we know we had reactor iowait.

[2016-08-01 18:30] Jan-M opened #1531 "Support canonical seed names, not only IP addresses. (K8S petset)"
Scylla version (or git commit hash): 1.3.rc2-20160728.23c340b
Cluster size: 3
Docker on GKE 1.3.3

It seems that using canonical host names for list of seeds is not supported:

[code]

This makes it right now hard to deploy with GKE/PetSets, something that works with Cassandra.

The PetSet gives you stable host names, like cassandra-0, cassandra-1, ...

https://github.com/zalando-zmon/zmon-kuberne

[2016-08-01 22:01] Jan-M commented on #1531
https://github.com/scylladb/scylla/blob/master/gms/inet_address.hh#L59

Seems there is a fixme, maybe I need to try this myself.

For my single node deployment btw KairosDB worked nicely with Scylla so far.

[2016-08-01 22:38] syuu1228 commented on #1388
Should be fixed in the patch recently sent "[PATCH scylla] setup coredump on first startup"

[2016-08-01 22:41] duarten commented on #693
Quick update: I've pushed a patch addressing this pending issue, and it should be merged soon.

[2016-08-02 07:14] avikivity opened #1532 "4k align reads issued, instead of 512 byte reads"
Seastar aligns reads to 512 bytes (if the storage device supports it), but Scylla degrades it back to 4k.  This reduces performance if we're limited by disk bandwidth, not IOPS.

[2016-08-02 07:21] nyh commented on #1532
Do you know where this 4k alignment occurs? Our sstable reads, index reads, etc., go to exact byte position ranges (which will be aligned by Seastar) and should not attempt to align anything to 4K boundaries... So I wonder where this alignment issue is coming from.

One thing to note that when sstable *compression* is enabled, we will always read entire chunks from the data file. The chunk should

[2016-08-02 07:24] avikivity commented on #1532
See patch on list

[2016-08-02 07:24] nyh commented on #1532
Hmm, I wasn't aware of this "checked-file" you just fixed... New code is entering Scylla at alarming^H^H^H^H^H^H^H^Hnice rate. Oh, well. Good you caught this.

[2016-08-02 07:25] avikivity commented on #1532
It's actually a file_impl bug that it allows this error so easily.  With virtual functions for disk_read_dma_alignment(), this would not have happened.  But we don't want virtuals there.

[2016-08-02 07:32] nyh commented on #1532
A stupid question: Why are virtual functions so bad here? The same function in "file" is already virtual. Isn't the I/O itself much more expensive than one more virtual function call?

[2016-08-02 07:40] avikivity commented on #1532
It's not virtual in file.

It's true that I/O is more expensive, but that's no reason to throw away cycles.

[2016-08-02 07:49] avikivity opened #1533 "Empty mutations are not cached"
_Installation details_
Scylla version (or git commit hash):  0c1bf6c861ebfbc494cea00993d4c3cf9c63bb40

An empty mutation (due to a partition not present in any sstable) is not stored in cache, so we'll miss it again and again.

[2016-08-02 08:17] tgrabiec commented on #1533
Bloom filters were supposed to handle requests for non-existent data. Did you observe them being ineffective?

[2016-08-02 08:19] avikivity commented on #1533
No.  But it's still a good idea to catch those cases earlier, I think.

[2016-08-02 08:25] nyh commented on #1533
Also, there's some chance of false positives in a bloom filter, meaning that for a particular partition, there is a chance for the bloom filter to return "true" ("might be in sstable") while the partition is actually not in the sstable. If you have the bad luck of requesting such a partition multiple times, the bloom filter doesn't help at all.
A key cache (issue #1469), once we have it, could als

[2016-08-02 08:30] avikivity commented on #1533
I thought the patch would b trivial, but it's not working.

[code]

[2016-08-02 08:33] nyh commented on #1533
I think your patch is moving dk before it is used again by code below...

[2016-08-02 08:34] nyh commented on #1533
Hmm, sorry, on second read, it looks like dk is not used again... So it's something else...

[2016-08-02 08:35] avikivity commented on #1533
Moving dk probably doesn't work anyway, because the lambda is not mutable.

[2016-08-02 09:06] #1532 closed

[2016-08-02 09:14] avikivity commented on #1533
I see the problem.

[2016-08-02 09:17] avikivity commented on #1533
It's also a little more complicated.  If we evict an empty mutation, but prev->is_contiguous, we should not clear prev->is_contiguous and instead assign prev->is_contiguous = this->is_contiguous.

@haaawk ?

[2016-08-02 09:19] pdziepak commented on #1533
We probably need another flag to indicate that this is negative entry. It turns out that Thrift is happy to return empty partition and this change has a potential of changing all `get*` verbs into `get_or_insert_empty*`

[2016-08-02 09:21] avikivity commented on #1533
It only inserts into the cache, how is that bad?

Ah, it's bad for partition scans.  So you are right.

[2016-08-02 09:27] haaawk commented on #1533
One thing missing in the patch I see is that you're changing only single_partition_populating_reader and the same change has to be applied to range_populating_reader.

[2016-08-02 09:29] tgrabiec commented on #990
@avikivity I think you meant to comment on a different issue? This issue is not related to iowait.

[2016-08-02 09:38] avikivity commented on #1533
No, range_populating_reader will read in partitions from sstables and use the contiguous flag to indicate missing ones.

(we could insert negative entries for the beginning and end of the range, if they are inclusive, and if we get a key and not a token, but is it worth it?)

[2016-08-02 09:40] avikivity commented on #990
@tgrabiec probably.

[2016-08-02 09:51] tgrabiec commented on #1533
2016-08-02 11:19 GMT+02:00 Paweł Dziepak <notifications@github.com>:

Thrift will return the partition if the partition exists in some way, eg.
has tombstones for instance. But would it return it if the partition never
existed? I didn't check, but that would be very unexpected in my opinion.
The fact that it returns deleted partitions is also dubious, I'm not sure
it's a feature rather than a bug.

[2016-08-02 09:52] benoit-canet commented on #1532
modern disk and SSD are 4k internally anyway.

On Tue, Aug 2, 2016 at 9:14 AM, Avi Kivity <notifications@github.com> wrote:

[2016-08-02 09:57] haaawk commented on #1533
We could introduce negative entries and make scanning code just ignore them.

[2016-08-02 10:14] avikivity commented on #1532
All the disks I looked at reported 512b physical.

Transferring less data is also important.

[2016-08-02 10:26] benoit-canet commented on #1532
They lies :)

On Tue, Aug 2, 2016 at 12:14 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-08-02 10:28] benoit-canet commented on #1532
https://www.google.fr/search?q=disk+4k+page+internally&oq=disk+4k+page+internally&aqs=chrome..69i57.4479j0j7&sourceid=chrome&ie=UTF-8#q=ssd+page+size

On Tue, Aug 2, 2016 at 12:14 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-08-02 10:54] benoit-canet commented on #1532
it's a conspiracy: https://en.wikipedia.org/wiki/Advanced_Format

On Tue, Aug 2, 2016 at 12:28 PM, Benoît Canet <benoit@cloudius-systems.com>
wrote:

[2016-08-02 11:28] nyh commented on #1532
On Tue, Aug 2, 2016 at 1:54 PM, Benoît Canet <notifications@github.com>
wrote:

I'm not sure the above link proves anything (it is mostly about magnetic
hard disks), but I've seen in other sources that SSDs have a notion of
"page size" which is usually 4 or even 8 KB or sometimes 2 KB (but not 512
bytes), and reads can only be done in whole pages.

Often there is an emulation layer which accepts 5

[2016-08-02 11:31] benoit-canet commented on #1532
I simpy prove that the minimal read is 2k, 4k or more and 512b writes will
 be inefficient read/modify/write.

On Tue, Aug 2, 2016 at 1:28 PM, nyh <notifications@github.com> wrote:

[2016-08-02 11:44] avikivity commented on #1532
We're always writing 4k, just reading 512b.

[2016-08-02 11:44] syuu1228 commented on #1528
Where is an error message, isn't it filesystem check problem?

[2016-08-02 11:51] avikivity opened #1534 "Mismatch between cache.misses and cache.insertions"
_Installation details_
Scylla version (or git commit hash): 1.2

Usually cache.insertions >= cache.misses (and in a read-only load, exactly equal.  In one load we're seeing insertions < misses, and concurrent parallel access to the same keys.

[2016-08-02 11:58] syuu1228 commented on #1346
@tzach Could you provide example of better messages and prompts?
Maybe ask twice before starting construct RAID/XFS?
I agree the message is bad and not enough, but I actually don't understand why we need to split RAID and XFS procedure.
Since mdraid is softraid, it will write RAID header on disks, will be break existing data. So construct RAID but don't format by XFS won't be rescue data.

Or, we

[2016-08-02 12:49] tzach commented on #1346
Breaking XFS and RAID to two different question is a sperate issue, deserve an issue of it own.

Regarding the text for the current implementation, I suggest:

[code]

[2016-08-02 13:02] duarten opened #1535 "schema_builder should always ensure dense table has compact column"
*Installation details*
Scylla version (or git commit hash): fbc3377

Currently the `schema_builder` only ensures, upon `build()`, that if the schema is dense due to the presence of `compact_storage::yes`, then there exists a single compact column. However, since the schema can be so marked via `set_is_dense()`, we need to do the same processing in that case as well.

This causes an issue where Thr

[2016-08-02 13:52] glommer commented on #1510
@tgrabiec weird we haven't seen sooner, then. How hard would it be to write a debug mode extension that triggers reclamation at every allocation (or at least at every 10th?). We would be catching bugs like that sooner.

[2016-08-02 13:57] glommer commented on #1510
We saw the bug happening there, but if that is indeed the issue, get_future() on that shared promise will trigger as well. And that can happen at do_release_requests.

[2016-08-02 14:00] glommer commented on #1510
Ok, the get_future won't be a problem because it happens inside later() - which was put there exactly due to this. maybe we need the whole block to go inside later().

[2016-08-02 14:10] duarten opened #1536 "Renaming column in compact storage table drops cells"
*Installation details*
Scylla version (or git commit hash): 5995aeb

Reproducer:

[code]

Expected result:

[code]

I verified this works with Cassandra.

[2016-08-02 15:06] slivne opened #1537 "Crash on Exceptional future ignored: std::system_error (error system:9, Bad file descriptor)"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI 1.3-rc2 (scylla_2016-07-29T09-54-39Z (ami-19aa3d0e))

a scylla-cluster-test that does not crash on AMI of 1.2 (repair fails but scylla does not crash)

journalctl first reported issue

[code]

[code]

maybe related to scylladb/seastar#175

[2016-08-02 15:07] slivne commented on #1537
@tgrabiec is it the same issue you have seen ?

[2016-08-02 15:13] duarten commented on #1536
This only seems to happen before the values have been flushed to sstables. So, if there's a flush between writing and altering the table, it works correctly.

[2016-08-02 15:22] raphaelsc commented on #1536
On Tue, Aug 2, 2016 at 12:13 PM, Duarte Nunes <notifications@github.com>
wrote:

It could be that the cell is still linked to the previous cell name, and
when cell name gets renamed, we cannot found it in memtable.

[2016-08-02 15:26] duarten commented on #1536
Yes, I think it's related to schema upgrading in memtables, although it's not yet clear to me why this happens for compact storage tables but not for normal ones.

[2016-08-02 16:13] tgrabiec commented on #1537
The cause of abort is the same. I'm not sure that the cause of EBADF is the same.

[2016-08-02 16:51] tgrabiec commented on #1537
Tracing back:

[code]

So it could be that the IO which triggers EBADF was submitted from `file_data_source_impl::issue_read_aheads`:

[code]

[code]

The stream seems to be alive.

[code]
The file seems to be closed, but alive.

Looks like `close()` was already called on the file_data_source:

[code]

Who's waiting for `close()`:

[code]

It's this code:

[code]

So the theory is like this. The r

[2016-08-02 16:54] tzach commented on #1523
@nirmaayan one reason might be micro t2.micro take so long to start, they are missing each other.
The reflector has 5 min window to correlate between server. Please try to reproduce, and from the logs, see if all server interacts with the reflector in the same 5 min window.

Make sure to use a different cluster name each time, making sure the cluster are not mixing with each other

[2016-08-03 01:17] mjsaber opened #1538 "Schema parsing error when using datastax Java driver 3.0.2"
*Installation details*
Scylla version (or git commit hash): 1.1
Cluster size: standalone
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu 14.04

I have a following table:

    k TEXT,
    v BIGINT,
    PRIMARY KEY (k)
) WITH compaction = { 'class' : 'LeveledCompactionStrategy' };

When I use following datastax cassandra driver connect to the cluster
[code]

I got following error:

When I remove `WITH compa

[2016-08-03 03:18] honggui opened #1539 "UDT cannot work correctly when inserting data with nodejs cassandra driver"
*Installation details*
Scylla version (or git commit hash): **1.2**

1.     sudo wget -O /etc/apt/sources.list.d/scylla.list http://downloads.scylladb.com/deb/ubuntu/scylla-1.2-xenial.list
2.     sudo apt-get update
3.     sudo apt-get install scylla

Cluster size: **default size**
OS (RHEL/CentOS/Ubuntu/AWS AMI): **Ubuntu 16.04**
pyhthon: **2.7.12**
nodejs: **6.2.2**
cassandra-driver: **3.1.1**

[2016-08-03 06:55] tzach commented on #1539
@honggui thanks for reporting!
Did you try running the same insert from cqlsh?
If that works, it hints the problem is in the JS driver compatibility

[2016-08-03 07:31] vladzcloudius opened #1540 "SIGSEG comming from the row_cache"
*Installation details*
Scylla version (or git commit hash): `scylladb-issue-1540` branch in a `scylladb/seastar-dev` repository.
Cluster size: 2
OS: Ubuntu 16.04

*Hardware details (for performance issues)*
Platform: Dell Latitude E7440
Hardware: sockets=1 cores=4 memory=8GB
Disks: SSD

*Description*

*Branch description*
* The branch above has not-yet-sent patches that allow more than 30 traces i

[2016-08-03 07:53] vladzcloudius commented on #1540
Note a p=<error reading variable: access outside bounds of object referenced via synthetic pointer> message in the frame 40

[2016-08-03 07:56] avikivity commented on #1539
Looks like a dup of #1443, which was fixed in 1.2.2.

Please retest with 1.2.3.

[2016-08-03 08:19] zouyonghao commented on #485
And I think there shoud be a offline installtion method.

[2016-08-03 09:26] tzach commented on #1401
@nirmaayan can you please validate?

[2016-08-03 09:35] amnonh opened #1541 "Scyllatop should use prometheus"
Switching scyllatop to use the prometheus API will allow us to remove collectd when it is not needed.

[2016-08-03 09:58] vladzcloudius commented on #1540
The issue was in my code - I didn't ensure that the semaphore is alive till with_semapthore() resolves.
Fixing this resolved the issue (I ran the test for 3000 iterations to verify the fix).

[2016-08-03 09:58] #1540 closed

[2016-08-03 10:06] duarten commented on #693
Fixes are merged and should be in next 1.3 RC.

[2016-08-03 11:19] #1537 closed

[2016-08-03 11:39] #1536 closed

[2016-08-03 11:56] duarten commented on #1535
Fixed in master by 5995aebf39598e9c3b989b50532db80388255a19.

[2016-08-03 11:56] #1535 closed

[2016-08-03 12:05] duarten opened #1542 "Drop column_kind::compact_column"
*Installation details*
Scylla version (or git commit hash): 1516cd4

A compact column is a dense schema's single regular column. The fact that it is a different column_kind has lead to various bugs (#1535, #1536). However, we can safely drop that column_kind, as it can be derived by the schema being dense and the column being regular.

Furthermore, we can drop the whole concept from the code base,

[2016-08-03 12:37] nirmaayan commented on #1401
@slivne can you please assign it to me till I'll reproduce it

[2016-08-03 12:50] nirmaayan commented on #1523
Setup - all instances created manually using AWS GUI.
Some of them created using spot and other not.

Instances:
t2.micro
i2.8xlarge (only spot)
c4.8xlarge
c3.large
m3.medium

Steps - 1

1. Manually create the cluster
2. Add: --clustername test-cluster --totalnodes 3
3. Verify under

Steps - 2

1. Manually create the cluster
2. Add: --clustername <randon_name> --totalnodes 3
3. Verify under

Resul

[2016-08-03 14:28] avikivity opened #1543 ""expert" options"
Some --options are for developers or expert users.  We should hide them by default and only show them with --help-expert, to reduce the chance of misuse.

[2016-08-03 17:49] tzach commented on #1523
@nirmaayan what is the difference between the steps? using or not using cluster name?

Since we failed to reproduce on many instance types, I'm closing this issue till we have a use case who do fail.

[2016-08-03 17:49] #1523 closed

[2016-08-03 18:10] nirmaayan commented on #1523
Yes, for some reason the (random name) diapered

[2016-08-03 18:42] #1510 closed

[2016-08-03 18:51] dahankzter commented on #1304
I finally got around to take a dump.
It's been a while since I did this properly, hope you can make sense of it.
I can adjust any parameters to tcpdump if you want, no problem.

[code]

[2016-08-03 19:05] avikivity commented on #1304
We will need a full capture since it's likely a dns problem.  '-i any -w connect.pcap' will capture everything and dump to 'connect.pcap'.

It will really capture everything, so close your browser and other unneeded applications, and don't watch any naughty sites while the capture is running.

[2016-08-03 20:19] dahankzter commented on #1304
Oh ill watch out! Sec.

[2016-08-03 20:36] dahankzter commented on #1304
I couldn't find a an upload feature... [connect.pcap](https://www.dropbox.com/s/vuvbcaroo8l5uyv/connect.pcap?dl=0)

Can you take it and ping when its down. I don't think there is anything weird in it but I saw references to my Sonos system so well better safe than sorry.

[2016-08-03 20:39] avikivity commented on #1304
Got it.  There's a box here ↓ with instructions on how to attach files.

[2016-08-03 20:42] dahankzter commented on #1304
Oh gosh! It was only across the whole screen... Well what do you know! :D

[2016-08-03 20:42] avikivity commented on #1304
In this capture, a connection to port 9042 was not established.  I see SYN packets, but no response from the server.

[2016-08-03 20:44] dahankzter commented on #1304
It takes this long to setup a session. No queries should be executed. Some response should be available though.

I made a standalone little Go program on a linux box the other day. Super fast connect to the docker instance. Ill try that one since it is so much smaller. Brb.

[2016-08-03 21:05] dahankzter commented on #1304
This tiny little program has similar issues though it does not take quite as long as the original program but that one establishes 2 sessions in sequence. The first one is mainly there to make sure all keyspaces etc are properly initialized.

[code]

[2016-08-03 21:09] dahankzter commented on #1304
New dump with the above program [connect2.pcap](https://www.dropbox.com/s/822giusy5cut5c9/connect2.pcap?dl=0)

[2016-08-03 21:09] dahankzter commented on #1304
It is distinctly faster but it seems a couple of orders slower than on linux.

[2016-08-03 21:34] dahankzter commented on #1304
The [page](http://www.scylladb.com/doc/getting-started-docker) on how to run docker seems gone too is that by accident?

[2016-08-03 21:45] dorlaor commented on #1304
It wasn't an accident, the documentation didn't reflect reality so folks
chose
to nuke the page temporary instead of slowly fixing it. We should revive it
asap

On Thu, Aug 4, 2016 at 12:34 AM, Henrik Johansson <notifications@github.com>
wrote:

[2016-08-03 21:46] dahankzter commented on #1304
Ok then I know, thx!

[2016-08-03 22:50] raphaelsc opened #1544 "Scylla is returning inconsistent results with row cache disabled"
`cqlsh>   CREATE KEYSPACE ks WITH replication = {'class': 'SimpleStrategy', 'replication_factor': '1'} ; USE ks;
cqlsh:ks> CREATE COLUMNFAMILY ks.cf (p1 text, c1 text, r1 int, PRIMARY KEY (p1, c1)) WITH compaction= {'class': 'NullCompactionStrategy'};
cqlsh:ks> INSERT INTO ks.cf (p1, c1, r1) VALUES ('key1', 'a', 1);
cqlsh:ks> INSERT INTO ks.cf (p1, c1, r1) VALUES ('key1', 'b', 1);
cqlsh:ks> SELECT

[2016-08-04 04:44] psuriset commented on #1266
@tzach

my VM had less memory. We can close this issue .
Thanks

[2016-08-04 04:44] #1266 closed

[2016-08-04 05:27] honggui commented on #1539
@tzach cqlsh can work when inserting data.
@avikivity yes, you are right. After update to 1.2.3, it is ok now. Thanks!
BTW, the updation commands are listed below for other reference --
1. sudo apt-get update
2. sudo apt-get remove scylla scylla-conf scylla-jmx scylla-server scylla-tools
3. sudo apt-get install scylla
**Notes:**
A. if not set source.list, we need run the command before the above 3

[2016-08-04 05:30] honggui commented on #1539
After updating to version 1.2.3, the issue was fixed. Thanks for  @avikivity 's help!

[2016-08-04 05:30] #1539 closed

[2016-08-04 06:51] asias opened #1545 "large partition std::bad_alloc"
export SCYLLA_EXT_OPTS="--smp 2 --memory 1G --ring-delay-ms 5000"
update_cluster_layout_tests.py:TestUpdateClusterLayout.add_node_with_large_partition1_test

When increasing the nr_rows from 100 to 1000 in the test, the test fails

[code]

On node2:

[code]

scylla commit: 0c1bf6c scylla-gdb.py: Fix lookup of global symbols
dtest commit: 87876da Merge pull request #375 from asias/add_node_with_lar

[2016-08-04 06:53] asias commented on #1545
update: dropping the extra "export SCYLLA_EXT_OPTS="--smp 2 --memory 1G --ring-delay-ms 5000" env, it still fails with std::bad_alloc.

[2016-08-04 07:24] tgrabiec commented on #1544
`partition_slice_clustering_key_filter_factory::get_filter_for_sorted`, used by sstable reading code, calls `range::contains` to check if row contains the key, and the range is treated as a wrap around so it does contain it. Treating such a range as a wrap around is against CQL semantics, wrap arounds should be treated as empty ranges.

It would be best if we don't create wrap arounds at all for c

[2016-08-04 07:28] tgrabiec commented on #1545
Can you try to create a coredump when bad_alloc happens (gdb: catch throw std::bad_alloc)?

[2016-08-04 07:31] asias commented on #1545
On Aug 4, 2016 3:29 PM, "Tomasz Grabiec" <notifications@github.com> wrote:

std::bad_alloc)?

It is running inside dtest. Not sure if we can.

[2016-08-04 08:08] tgrabiec commented on #1545
You could start the cluster manually using ccm, then attach with gdb to it, insert breakpoints, then run the dtest. Note that GDB slows down Syclla a lot if you run on many CPUs. Maybe with -c 2 it's not tragic.

[2016-08-04 08:08] tgrabiec commented on #1545
I'm going to send a patch which adds `--abort-on-bad-alloc` which should help with that.

[2016-08-04 08:33] asias commented on #1545
During the test, scylla is started and stopped more than once. A better option is to insert a sleep before the operation which will cause the bad_alloc, using this time to attach gdb to scylla. I will try your --abort-on-bad-alloc patch.

[2016-08-04 09:07] dahankzter commented on #1304
Is there anything else I can try @avikivity ? Do you want the output of "docker inspect"? It doesnt look that strange but stuff like Domain etc (empty btw) and other things related to networking/bridging may be of interest?

[2016-08-04 09:10] tgrabiec opened #1546 "Make bytes_ostream::append() append using fragmented storage"
Currently it allocates one big chunk. If it's big, allocation may fail due to memory fragmentation or contribute to memory fragmentation.

[2016-08-04 09:34] PriyaGheewala commented on #1370
@avikivity  @tzach

Hi, we are facing this issue again.

Link to perf report : [https://www.dropbox.com/s/kacoy0n63z9do85/perf_report.txt?dl=0]

[2016-08-04 09:39] dahankzter commented on #1304
So I seem to have found a clue.

[code]

Does not suffer from this at all neither for ScyllaDB nor Cassandra dockers.
The key is
[code]
There seems to be some further discussion here: https://github.com/gocql/gocql/issues/696
It is not only the drivers fault I think since people creating their own Cassandra images do not seem to be affected.

[2016-08-04 09:51] pdziepak commented on #1545
It may be worth noting that this dtest creates partitions with a single clustering row containing two blobs one 100kB, the other 300kB. This is, obviously, the case in which streamed mutations bring no improvement.

The result is that we end up `_mutation_send_limiter` (=256) blobs of frozen unfragmented mutations each over 400kB in size. That's certainly going to put some pressure on memory alloc

[2016-08-04 10:18] lmr opened #1547 "[1.3 RC2 AMI] Coredumps observed during 8 hour longevity test"
*Installation details*
Scylla version (or git commit hash): ami-19aa3d0e (copied to us-west-2, ami-5acb023a)

    2016-08-04 09:38:27,670 nemesis          L0080 INFO | sdcm.nemesis.ChaosMonkey: Report
    2016-08-04 09:38:27,670 nemesis          L0081 INFO | sdcm.nemesis.ChaosMonkey: DB Version:
    2016-08-04 09:38:27,670 nemesis          L0083 INFO | sdcm.nemesis.ChaosMonkey: scylla-boost-date-t

[2016-08-04 11:13] tgrabiec commented on #1547
[code]

[2016-08-04 11:16] tgrabiec commented on #1547
debuginfo rpm from http://downloads.scylladb.com/rpm/centos/scylladb-1.3/7/x86_64/ matches

[2016-08-04 11:21] tgrabiec commented on #1547
Looks like a dup of #1537

[code]

[2016-08-04 11:21] #1547 closed

[2016-08-04 12:00] avikivity commented on #1304
Got a 404 on that second packet capture.

[2016-08-04 12:08] dahankzter commented on #1304
Ah I removed it. New [link](https://www.dropbox.com/s/tm1sx73m3z6gpjq/connect2.pcap?dl=0)

[2016-08-04 12:12] dahankzter commented on #1304
I see references to the internal docker image IP but can't really tell if they are correctly there.
Given the discussion above I looked at the local table:

[code]

Is that correct?

[2016-08-04 12:33] avikivity commented on #1304
Doesn't look like a connection to port 9042 was established (there was an attempt, but no response).

I don't know enough about docker networking to comment about `rpc_address`.

[2016-08-04 12:34] dahankzter commented on #1304
[code]

They are all referring to the internal address.

[2016-08-04 12:35] dahankzter commented on #1304
That 9042 attempt what IP was used?

[2016-08-04 12:38] dahankzter commented on #1304
I see this in the tcpdump:

[code]

That can't work right? 172.17.0.2:9042 is not reachable right?

[2016-08-04 12:38] avikivity commented on #1304
Indeed the wrong one.  So we should change `broadcast_address` and `broadcast_rpc_address` to the IP address of the host.

[2016-08-04 12:38] avikivity commented on #1304
Does docker provide this information in environment variables?

[2016-08-04 12:39] dahankzter commented on #1304
Oh I really don't know off the bat. Sorry.

[2016-08-04 12:40] avikivity commented on #1304
https://github.com/docker/docker/issues/7472.  Still open.

[2016-08-04 12:41] avikivity commented on #1304
What a joke.

[2016-08-04 12:44] avikivity commented on #1304
Some [hacks](http://stackoverflow.com/questions/22944631/how-to-get-the-ip-address-of-the-docker-host-from-inside-a-docker-container).

[2016-08-04 12:49] avikivity commented on #1304
@penberg we can use the default gateway hack to supply `--broadcast-rpc-address` and `--broadcast-address`.

[2016-08-04 12:54] dahankzter commented on #1304
Ugh we have services that registers themselves in Zookeeper and we are thinking of moving most our stuff to docker...

[2016-08-04 13:28] nirmaayan opened #1548 "Nodetool command statusgossip - tab auto complete not supported"
Scylla version (or git commit hash): 1.3 RC

Nodetooi statusgossip - it's not possible to execute this command using tab
Need to type the full command or copy paste it

[2016-08-04 13:48] dahankzter commented on #1304
Let me know when I can test something. Is there an "unstable" or "develop" image? I didn't see it in the Docker Hub directly but most of you guys each have images that perhaps can be used.

[2016-08-04 14:04] tzach commented on #1548
`statusgossip` is missing from  `/etc/bash_completion.d/nodetool-completion`

[2016-08-04 14:07] tzach commented on #1548
Should be added to
https://github.com/scylladb/scylla-tools-java/blob/master/dist/common/nodetool-completion

[2016-08-04 14:50] nirmaayan opened #1549 "Nodetool command statusbinary - tab auto complete not supported"
Scylla version (or git commit hash): 1.3 RC

it's not possible to execute this command using tab Need to type the full command or copy paste it

[2016-08-04 14:51] nirmaayan opened #1550 "Nodetool command statusbackup - tab auto complete not supported"
Scylla version (or git commit hash): 1.3 RC

it's not possible to execute this command using tab Need to type the full command or copy paste it

[2016-08-04 15:14] #1549 closed

[2016-08-04 23:49] duarten commented on #1442
We can do something like HdrHistogram does, where there's an initial bucket containing a number of sub buckets that are linearly spaced, and then a set of other buckets, representing a power-of-2 range, with a number of sub buckets each. This allows higher precision for the initial sub buckets and decaying precision for the remainder of them. In code:

[code]

For 16 initial buckets and 4 sub buck

[2016-08-05 00:12] glommer opened #1551 "destroying a memtable may take a long time"
For the sake of testing, I am running scylla with cache disabled. In those situations the memtable destructor can take more than 100ms to execute. When the cache is enabled, all partitions in the memtable are moved to the cache and the partitions set is empty.

However, when the cache is disabled, instrumenting the memtable destructor yields the following example output:

[code]

That indicates th

[2016-08-05 01:30] asias opened #1552 "std::system_error (error system:98, Address already in use)"
Starting a 3 node cluster using 127.0.0.{1,2,3}, I saw:
[code]

Seastar changes since it works:

1262ce7 Fix build failure introduced by 5b1051ce0de5b772f22444abe6a1d97076b49b1f
5b1051c Add --abort-on-seastar-bad-alloc option
3eff352 Merge "Make arp comply with C++ strict aliasing rules"
08deab7 arp: comply with C++ strict aliasing rules
0ad4033 ip: add read()/write() style decode/encode APIs
eb23

[2016-08-05 02:01] asias commented on #1552
It turns out it is the following patch breaks the world.

[code]

[2016-08-05 02:02] ustczen commented on #693
Scylla will be compatible with TitanDB in version 1.3?

[2016-08-05 02:08] asias commented on #1545
@pdziepak I checked with the following patch. The mutation is indeed fragmented
[code]

Log shows mutation is fragmented:

[code]

Also, yhe bad_alloc does not happen during the streaming but after streaming is done (self.check_rows_on_node(node2, nr_rows)):
[code]
Log on node2:
[code]

[2016-08-05 02:31] asias commented on #1545
backtrace on node2 with --abort-on-bad-alloc

[code]

Patch to dtest to give time to attach gdb to node2.

[code]

[2016-08-05 03:18] pluradj commented on #693
@ustczen That's what we're shooting for!

@duarten I'm testing against `666.development-20160804.ad58691` on Fedora 23, single node.

OLTP Graph of the Gods and OLTP Grateful Dead are looking good. :+1:

Using OLAP `SparkGraphComputer` in local mode (here's the [read-scylla.properties](https://gist.github.com/pluradj/d7a98ea22956891a32a4ff2daea5d5d3) I used), I'm getting past the input splits prob

[2016-08-05 06:51] #1511 closed

[2016-08-05 07:56] tgrabiec commented on #1545
@asias Note that abort should trigger coredump creation so you don't need to attach GDB beforehand if you have coredumps configured properly

[2016-08-05 08:51] duarten commented on #693
@pluradj I'll investigate.  Any pointers as to what changes when using `SparkGraphComputer`?

[2016-08-05 09:39] #1542 closed

[2016-08-05 09:48] penberg commented on #1304
@dahankzter We don't publish unstable Docker images (not yet anyway), but you can build yourself one:

[code]

It uses the RPM repository so you don't need to build Scylla. If you want something more stable than master, just build it from ``branch-1.3``.

[2016-08-05 10:00] pdziepak commented on #1545
On 5 August 2016 at 03:08, Asias He <notifications@github.com> wrote:

if the next mutation fragment is end of stream, I must've misremembered.
Anyway, it still produces fragments ~400kB in size which puts memory
allocator under pressure.

Right, that's because self.check_fows_on_node() is even worse for the
allocator than the streaming itself. It asks for `SELECT * FROM cf`.
Default python driver

[2016-08-05 10:11] avikivity commented on #1545
We're allowed to use smaller pages than specified by the driver, we should exploit that.

[2016-08-05 10:28] belliottsmith commented on #1442
It's worth bearing in mind that the histogram approach has a fixed cost of N for all segments (assuming all frees are smaller than (segment size)/N), so keeping the number of segments small is preferred.

A heap has better best case costs - it could be that it never has to reorder the heap.  Obviously this is very unlikely.  Its worst case is much worse at {frees * lg (segment count)}

But, anyway

[2016-08-05 10:43] tgrabiec commented on #1545
@pdziepak The exception is thrown on frozen_mutation construction. It currently uses bytes as storage, so we will need contiguous memory for the whole partition in the query results. Perhaps we should switch to bytes_ostream?

[2016-08-05 12:05] dahankzter commented on #1304
Cool, thx!

That hack Avi suggested can it be applied?

On Fri, Aug 5, 2016, 11:48 Pekka Enberg <notifications@github.com> wrote:

[2016-08-05 12:22] duarten commented on #693
Found the problem, will push a fix asap.

[2016-08-05 14:48] tgrabiec opened #1553 "Scylla consumes 100% CPU when compiled with boost version < 1.56"
*Installation details*
Scylla version (or git commit hash): >= 1.2.2
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04

*Hardware details (for performance issues)*
 --smp > 1

This is because of this code in seastar:
[code]

When compiled with boost older than 1.56 `pure_poll_tx()` will always return true causing `tracker::impl::compact_on_idle` to always return `reactor::idle_cpu_handler_result::inte

[2016-08-05 15:09] tgrabiec opened #1554 "LSA compaction on idle may report there is more work but not make any progress"
Scylla version: >= 1.2.0

Noticed by @avikivity. If segments have objects (could be manged_bytes fragments) with sizes between ~`(1-max_occupancy_for_compaction_on_idle) * segment::size` and `max_managed_object_size` (17.9KiB - 25.6KiB), we may be closing segments with waste at the end resulting in occupancy below idle compaction threshold and cause compaction to think there is always some work to

[2016-08-05 15:26] avikivity commented on #1554
With my patch to make use of all available space in a segment for managed_bytes, and with additional logic to break up fragments if we're moving them to a segment with less free space than the fragment size, and with a magic way to prevent all that from fragmenting a managed_bytes object too much, this could work with a larger `max_occupancy_for_compaction_on_idle`.

Maybe we should just refuse to

[2016-08-05 15:41] avikivity commented on #1553
Maybe, instead of finding a clever workaround, we can set up a ppa for boost-1.recent and build with that.

[2016-08-05 16:17] tgrabiec commented on #1553
I'm looking at `smp::poll_queues` (used when there's no task-on-idle) and its result doesn't depend on whether there is room in the txq queue or not, it just calls `txq.flush_request_batch();`. Couldn't `pure_poll_queues()` do the same?

The result of `poll_queues()` does depend on whether there are any completions to process, but `pure_poll_queues()` doesn't check it at all. Shouldn't it?

[2016-08-05 16:27] tgrabiec commented on #1553
Shouldn't we have:
[code]

[2016-08-05 16:31] avikivity commented on #1553
I think `poll_queues()` is broken.  If we have pending responses, but can't push them because the queue is full, we should not go to sleep.  If we do, no one will wake us up.

We'll get woken up if we try to read a work_item but the queue is empty.  The reverse case is not handled (nor should it be handled, because it is so rare).

So I think the pure version was right and the non-pure version is

[2016-08-05 16:36] tgrabiec commented on #1553
@avikivity Another issue with `pure_poll_queues` was that we were calling `pure_poll_rx()`, which is called on `rxq`, was checking `_completed` instead of `_pending`

[2016-08-05 16:47] tgrabiec commented on #1553
@avikivity As for the case for `poll_queues()` being broken, for txq being full, aren't we supposed to be woken up by completion sent for the already queued tasks?

[2016-08-05 16:50] avikivity commented on #1553
We are, but but what happens when we push a completion?

btw, we might make the queues unidirectional and simplify things a little.

[2016-08-05 16:53] avikivity commented on #1553
Actually, unidirecional queues mean cross-cpu frees.

[2016-08-05 17:12] tgrabiec commented on #1553
2016-08-05 18:50 GMT+02:00 Avi Kivity <notifications@github.com>:

Right, if _completed gets full and we go to sleep, we won't be woken up to
send more completions. But I don't see how the pure version dealt with it.

I think this couldn't happen before
15a92cfe7aa43748c9afb88878bbe7eeac5e229c, because the number of in-flight
pending requests was never grater than the capacity of _completed.

[2016-08-05 17:17] tgrabiec commented on #1553
Ok, I see now. The pure version was not going to sleep unless the completions drained.

[2016-08-05 17:25] tgrabiec commented on #1553
But we were missing the call to flush the response batch

[2016-08-05 17:31] duarten commented on #1442
On Fri, Aug 5, 2016 at 11:28 AM, Benedict Elliott Smith <
notifications@github.com> wrote:

The approach I posted has a very small fixed cost; it doesn't even have
branching. I really think we can dispense with the heap.

The spectrum as I see it goes from incrementally compacting on free (which
is horrible, because of the cost and because we'd be moving objects around
too much and also compacting

[2016-08-05 20:25] belliottsmith commented on #1442
First I'd like to clarify that I don't mean to imply the approach is not ready to replace the heap.  With or without your specific suggestion for list segregation, I think it is likely superior.  However there is likely better, definitely better, and materially better.

I'm not worrying about CPU costs here - it's pretty trivial to construct a number of segregations that are cheap to calculate.  T

[2016-08-06 09:25] belliottsmith commented on #1442
That said, I hadn't actually thought too much about the structure itself.  If the linked-list nodes were allocated inside of a struct, a single 4Mb page could manage 1Tb of 4Mb blocks of memory.  So TLB misses would not be an issue.  The prev pointer of any node we have to dereference and may be random, and that is unavoidable.  The head node is the only possibly random dereference we can avoid, b

[2016-08-06 15:52] avikivity opened #1555 "Switch jmxproxy to use Prometheus metrics"
Instead of having a metrics API exposed ad-hoc via REST, use the Prometheus counters. This will ensure that there are counters that are only available via nodetool.

[2016-08-06 19:43] amnonh commented on #1552
By default promehteus listing on all ip addresses, in the dtest it should listen only to the ip adress the API port listen on

[2016-08-07 06:58] slivne commented on #1552
Amnon please send the info on the params I'll patch ccm

On Sat, Aug 6, 2016 at 10:43 PM, Amnon Heiman <notifications@github.com>
wrote:

[2016-08-07 06:58] tzach commented on #1319
@benoit-canet any update on this issue?

[2016-08-07 07:00] tzach commented on #1290
@hypnofrogme can you please provide more data?
In particular, if you are using 1.3 RC, you can use [CQL trace](http://www.scylladb.com/2016/08/04/cql-tracing/) to trace both requests.

[2016-08-07 07:08] amnonh commented on #1555
The main advantage of the API is that it is documented, support complex
types and can execute commands.

On Sat, Aug 6, 2016 at 6:52 PM, Avi Kivity <notifications@github.com> wrote:

[2016-08-07 07:26] slivne commented on #1319
He sent a patch its on the mailing list under review

On Sun, Aug 7, 2016 at 9:58 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-08-07 07:47] avikivity commented on #1555
The API is not really documented.  It has documentation strings, but they tell the user nothing.

For metrics, we don't need complex types or to execute commands.

[2016-08-07 07:56] amnonh commented on #1555
On Sun, Aug 7, 2016 at 10:47 AM, Avi Kivity <notifications@github.com>
wrote:

True, but for the jmx and nodetool we do, so switching half the
functionality to prometheus only add complexity

[2016-08-07 08:33] slivne commented on #1552
added support in ccm https://github.com/cloudius-systems/scylla-ccm/commit/6875fc0d99d34f68be68e4ac0973215d1c476c0c

[2016-08-07 08:33] #1552 closed

[2016-08-07 08:44] tzach commented on #1551
Will this affect memtable flush with cache?
In particular, when none of the data in memtable can be merged to cache

[2016-08-07 08:45] tzach commented on #1546
@tgrabiec when is this an issue? in wide partition only? other cases?

[2016-08-07 08:48] tzach commented on #1544
@tgrabiec is this issue a regression from 1.2?

[2016-08-07 08:55] tzach commented on #1534
@avikivity  Do the new metric add info? is there an error in the metrics?

[2016-08-07 09:03] tzach commented on #1529
@nyh file system error handling should be according to
[code]
https://github.com/scylladb/scylla/blob/master/conf/scylla.yaml#L287

The node should take itself down gracefully.
If you see a different behavior its a bug

[2016-08-07 09:06] tzach commented on #1527
@simsunny22 Scylla handles sync between nodes using repair.
Cassandra has an additional feature called handoff.  None of these features includes file transfer.

Can you please elaborate on what you are looking for and why?

[2016-08-07 09:08] nirmaayan commented on #1548
also statusbackup

[2016-08-07 09:09] tzach commented on #1242
closing this issue as decommission do work.
The error message should be improved #1526

[2016-08-07 09:09] #1242 closed

[2016-08-07 09:14] tzach commented on #1522
@nyh what is the status of the log rate limit?

[2016-08-07 09:15] #1520 closed

[2016-08-07 09:18] tzach commented on #1515
@tzach add to release 1.3 known issues

[2016-08-07 09:20] tzach commented on #1509
@amnonh whats the status of this issue?

[2016-08-07 09:22] tzach commented on #1506
@haarcuba ping

[2016-08-07 09:24] tzach commented on #1505
@avikivity thoughts?

[2016-08-07 09:25] tzach commented on #1502
@kongove can we close?

[2016-08-07 09:26] amnonh commented on #1509
housekeeping moved to python2 and dependencies where modified accordingly

On Sun, Aug 7, 2016 at 12:20 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-08-07 09:26] tzach commented on #1501
@amnonh ping

[2016-08-07 09:27] tzach commented on #1497
@amnonh ping

[2016-08-07 09:29] belliottsmith commented on #1551
Is this for a default cassandra-stress workload? If so 1usec seems a bit lengthy (to me), given the partitions are very small.

Anyway, while it may be that LSA free is not the most expensive part, this brings to mind #1442, and I wonder if another optimisation isn't possible to minimise the costs of rebalancing the heap (or histogram, should that be introduced), namely only marking the blocks tha

[2016-08-07 09:29] tzach commented on #1493
Closing this issue, as it uses a non-supported kernel version
@ycui1984 can you please test with a newer version? thanks