[2021-08-16 17:18] raphaelsc commented on #9199
@avikivity we should probably limit the concurrency at which sstables are destroyed, to avoid similar stalls (results from unbounded mem usage):

[code]

this can potentially happen whenever thousands of sstables are destroyed at once. destroying a sstable is not trival anymore as its index cache have to be evicted, which is another reason to limit concurrency.

[2021-08-16 17:26] raphaelsc commented on #9199
will patch add_sstable() to avoid stalls, similar to how stalls are avoided on compaction completion after https://github.com/scylladb/scylla/commit/f7b731bc460e6e168a2e4fdd87ef50175a9f3533

on every add_sstable(), the sstable set is cloned, so we can introduce a clone_gently() which yields if needed.

[2021-08-16 17:41] raphaelsc commented on #9199
@aleksbykov it's expected that scrub will continue in background after command is terminated with CTRL-C. AFAICT, the termination signal will not be handled by the command and request scylla to stop the background operation. Please rename the issue to "Offstrategy compaction on TWCS tables trigger a lot of reactor stalls"

[2021-08-16 18:19] YeminLi opened #9212 "High read latency and number of writes blocked by commit log while IO/CPU doesn't seem to hit the limit"
- [ ] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.2.3-0.20210104.24346215c2
Cluster size: 15 * i3en.6xl
OS: AWS AMI
RF=3
Basically, it does read-modify-update. CL for writing is QURUOM and CL for reading is ONE.
There is a dedup queue in front, so there shouldn't be hot partitions in terms of

[2021-08-16 19:09] vladzcloudius commented on #9210
I see that with `cb19048` prepared statements of a table that uses the UDT that is being altered get properly invalidated.

[2021-08-16 19:09] #9210 closed

[2021-08-17 01:32] asias commented on #9205
PR sent. I verfied view is created after this patch.

[2021-08-17 05:17] bhalevy opened #9214 "gdb test: scylla fiber $task: Provided pointer 0x0000600003b9cf10 is not an object managed by seastar or not a task pointer"
Failure seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3871/artifact/output_test_release.txt
Scylla version 9c7bcd1d85a9ba5127d26a46d0e546e4b746fad4

[code]

[2021-08-17 05:18] bhalevy commented on #9214
@denesb mind looking into this while @cmm is on vacation?

[2021-08-17 06:26] bhalevy commented on #8920
`test_loading_cache_loading_expiry_reset_on_sync_op` added by 655aaf5 is flaky, at least in debug mode.
See https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3872/artifact/output_test_debug.txt
[code]

It looks like it's sensitive to wall clock timing.
I could reproduce this by running a large number (> 50) of instances of the test in parallel.

[2021-08-17 10:23] aleksbykov commented on #9199
Issue was renamed

[2021-08-17 12:04] avikivity commented on #9199
How did we get 50k sstables per shard?

[2021-08-17 12:17] raphaelsc commented on #9199
with repair, there's one sstable per vnode range per RF (I'd like to understand this one better @asias, after https://github.com/asias/scylla/commit/da048196a8448fc913a68b73984789cb60f57d60 I thought it would be only one per vnode range).  with TWCS, each sstable is further split into up to N sstables, where N == max # of windows. So assuming RF=3, worst case is (256 * RF) * #_of_windows. Digging

[2021-08-17 12:24] avikivity commented on #9199
Perhaps we shouldn't create one sstable per window when we send sstables over for repair. Since we'll be splitting them anyway as part of offstrategy.

[2021-08-17 12:47] raphaelsc commented on #9199
we do the splitting on the receiver. when writing new sstable for a range A, segregation is applied, which means N sstables are created where N = # of windows.

so today, with segregation before offstrategy, there is one sstable per range per window in maintenance set, so a query for partition K will touch N sstables, where N = # of windows.

if we don't segregate before offstrategy, there will be

[2021-08-17 12:47] cvybhu opened #9215 "User type column with descending clustering order causes errors"
Trying to create a table when one column is a reversed user type leads to errors:
[code]
This likely happens because `without_reversed()` is missing in [this function](https://github.com/scylladb/scylla/blob/9c7bcd1d85a9ba5127d26a46d0e546e4b746fad4/cql3/user_types.cc#L113):
[code]
Another place where `without_reversed()` seems to be missing is [here](https://github.com/scylladb/scylla/blob/9c7bcd1

[2021-08-17 13:04] jul-stas opened #9216 "system.clients is missing: hostname, ssl_cipher_suite, ssl_enabled, ssl_protocol"
This is nothing new; i.e. these columns were intentionally left to be implemented later.

[2021-08-17 13:04] jul-stas commented on #6946
I'm closing this in favor of this: #9216

[2021-08-17 13:04] #6946 closed

[2021-08-17 13:14] raphaelsc commented on #8985
looks like you may be affected by https://github.com/scylladb/scylla/issues/6982

[2021-08-17 15:10] avikivity commented on #6946
Usually it's better to close the new bugs, to preserve the historical record.

[2021-08-17 15:11] avikivity commented on #6946
And it's not possible to backport issues that have no commits attached.

[2021-08-17 15:35] jul-stas commented on #6946
I edited #7349 by adding "Fixes #6946", but apparently it didn't work (too late?)
What can I do instead?

[2021-08-17 15:49] avikivity commented on #6946
Ah, then add "Fixed by <commit_hash> here, and add the backport candidate label (mimicking what the robots would do if you added the Fixes # thing in time).

[2021-08-17 16:05] jul-stas commented on #6946
Fixed by fb24bccf046d319e6f27ed6a6dc0f9079d19d741
Note: needs backporting to 2020 and 2021

[2021-08-17 16:21] vladzcloudius commented on #8920
On 8/17/21 2:26 AM, Benny Halevy wrote:

The test is definitely sensitive to a how exact our sleep(..).get() and
how long it takes for the corresponding continuation to get scheduled
after that.
This test is all about time - we check that last-read time stamp is
reset and then sleep for 1/2 of the expiration time and validate that
the value is still there after that.
And we do that 10 times.
There

[2021-08-17 18:04] vladzcloudius commented on #8920
On 8/17/21 12:21 PM, Vladislav Zolotarov wrote:

A "debug" testing is mostly about memory leaks, right?
So, I'll add a check that would use a steady_clock that would validate
that there wasn't a delay and if there was - it would repopulate the cache.
It would possibly not check the actual feature in the "debug" even once
(if we get delayed all 10 times) but it would definitely create a lot of
allo

[2021-08-17 18:19] YeminLi commented on #7266
As a scylla user, I think something like this will be very useful when debugging hot partition/shard issues.

[2021-08-18 06:47] bhalevy commented on #7154
@scylladb/scylla-maint please backport also to 4.3

[2021-08-18 06:48] bhalevy commented on #7154
@asias are there any special considerations for backporting to 4.3?

[2021-08-18 06:51] asias commented on #7154
No. It is a easy backport.

[2021-08-18 07:03] bhalevy commented on #8920
But also about shuffling continuations so we don't rely on a particular order of async tasks that are fundamentally concurrent.

My preference would be to base the test on a manual clock rather than workaround the lowres_clock specifics,
unless they could be generalized and be derived from the `loading_cache_clock_type` (but the clock's granularity is not exposed un any standard or even seastar-sp

[2021-08-18 07:28] gibsn commented on #8985
Avi says it was backported to 4.1:
https://github.com/scylladb/scylla/issues/6982#issuecomment-678792015

However I could not find this issue mentioned in release notes you send via email

[2021-08-18 10:43] avikivity commented on #7154
Well, there is the problem with users who have too many workload prioritization service levels running out.

[2021-08-18 10:43] avikivity commented on #7154
Why?

[2021-08-18 11:28] psarna opened #9220 "Tracing an incorrect batch statement may cause segmentation fault"
The code responsible for producing tracing info makes certain assumptions about its input - that the number of recorded prepared statements is the same as the number of recorded names and values for each of these statements. This assumption holds true only if all statements in a batch are correct. That happens because the vector of prepared statements in tracing is updated separately from the vect

[2021-08-18 13:09] vladzcloudius commented on #8920
On 8/18/21 3:03 AM, Benny Halevy wrote:

What's "manual clock"?

The test is not "based" on the lowres_clock - it tests loading_cache
functionality that happens to use lowres_clock internally.
There are many other tests in this file that take the lowres_clock
granularity into an account. I don't understand what your complain to be
honest.
Every clock has its granularity which should be taken into

[2021-08-18 13:15] vladzcloudius commented on #8920
On 8/18/21 9:09 AM, Vladislav Zolotarov wrote:

In any case, if we decide to parametrize a clock source that should be a
separate patchwork since it's irrelevant to this particular patch but
makes sense in general.

[2021-08-18 15:09] #9141 closed

[2021-08-18 15:09] #9178 closed

[2021-08-18 18:39] hagitsegev commented on #9178
https://jenkins.scylladb.com/job/scylla-master/job/build/710/ passed unittests.

[2021-08-19 03:04] asias commented on #7154
We saw in the field nodes are marked as down by gossip under high load, other tasks leaked into the main class competing with gossip. The backport should mitigate the problem.

[2021-08-19 08:20] psarna commented on #9206
A trivial trick to flush the cache is to perform a meaningless change on target table (e.g. change gc grace period by 1). Thus, there's no point in providing a special api, especially that we only want it for debugging purposes and working around bugs.

[2021-08-19 08:20] #9206 closed

[2021-08-19 13:55] avikivity opened #9225 "perftune.py fails on bond NICs"
perftune fails with

`ERROR: 'method' object is not iterable. Your system can't be tuned until the issue is fixed.`

[2021-08-19 13:56] avikivity commented on #9225
Fixed by 9d018b5f40c0090be4ace6d14fbf887ec9753c54 (scylladb/seastar#888)

[2021-08-19 13:56] #9225 closed

[2021-08-19 14:01] avikivity commented on #9225
Backported to 4.4, 4.5. @vladzcloudius I think 4.3 is not vulnerable, please verify.

[2021-08-19 21:03] nyh opened #9226 "Alternator: support logging of data events"
As announced in [March 2021](https://aws.amazon.com/about-aws/whats-new/2021/03/aws-cloudtrail-adds-logging-of-data-events-for-amazon-dynamoDB/), DynamoDB added in "AWS CloudTrail" support for "logging of data events for Amazon DynamoDB". As the announcement explains, "With this new feature, you can now use CloudTrail to log item-level DynamoDB activity from all your DynamoDB tables or specific ta

[2021-08-19 21:41] nyh commented on #9152
Can you tell from all those stack traces what actually caused the segmentation fault? It should be some code using a bad pointer - what code was that?

It might not even be related to Alternator but rather in some completely different Scylla component, so the Alternator tag might be misplaced.

[2021-08-20 00:03] vladzcloudius commented on #9225
You are right. 4.3 doesn't have the patch that introduced the regression.

[2021-08-20 05:05] alvisyahri97 commented on #5638
me too, can't run it on Apple M1 ARM Architechture

[2021-08-20 06:54] penberg commented on #8922
@syuu1228 The backports have been done, but they refer to a duplicate of this issue https://github.com/scylladb/scylla/issues/9225

[2021-08-20 06:54] #8922 closed

[2021-08-20 14:15] vladzcloudius commented on #9220
The issue is regression introduced by

[code]

[2021-08-20 14:20] geobeau opened #9228 "Node doing timeout during JOIN"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla. ([Slack thread](https://scylladb-users.slack.com/archives/C2NLNBXLN/p1629465640205700))

*Insta

[2021-08-20 14:20] vladzcloudius commented on #9220
Introduced in 3.3.0

[2021-08-20 15:03] vladzcloudius commented on #9220
The description of the problem is somewhat misleading.
The issue can be reproduced not only with BATCHes but with non-BATCH statements too. All it takes is to send an EXECUTE with a wrong number of parameters and trace such an EXECUTE.

Another option to hit this is if `emplace_back` throws here: https://github.com/scylladb/scylla/blob/scylla-4.5.rc5/tracing/trace_state.cc#L160.

So, the exposure

[2021-08-20 15:28] raphaelsc commented on #9228
~52 windows worst case, my suspicious is that there's a huge number of sstables per shard

[2021-08-20 15:28] raphaelsc commented on #9228
please paste that perf report of yours here

[2021-08-20 15:29] raphaelsc commented on #9228
please share output of https://gist.github.com/raphaelsc/b7a155ecd447919874b17b1d8cd0396d, usage can be found in gist description

shards == smp count
for last param window_size_in_minutes, you'll have to convert days into minutes

[2021-08-20 18:46] geobeau commented on #9228
Output (I removed the beginning which was extremely long):
[code]

[code]

[2021-08-21 02:28] raphaelsc commented on #9228
huge number of windows. we'll probably have to adjust window size to a larger value in order to reduce the total number of windows. what impresses me is the number of sstables in each shard. with 92441 / 14 / ~110, give us ~55 sstables per window, which is awkward. please upload full output somewhere, I need it to continue the analysis.

[2021-08-21 05:37] raphaelsc commented on #9162
thanks! we're indeed lacking proper doc on this. will work on it soon.

[2021-08-21 08:07] geobeau commented on #9228
Here you go:
[description.log.zip](https://github.com/scylladb/scylla/files/7025142/description.log.zip)

[2021-08-22 06:15] tzach commented on #5638
@alvisyahri97 is this true for later version of Scylla (e.g. 4.4.4) as well?

[2021-08-22 08:11] fgelcer commented on #8934
@slivne @bhalevy , it seems like Asias patch works, as in [this comment](https://github.com/scylladb/scylla/issues/8934#issuecomment-899037597)

[2021-08-22 08:48] roydahan commented on #9053
Test with 4.5.rc6-0.20210817.88314fedf (ami-0c8070384fb84cdb3) passed successfully 3 days run of the reproducer.

[2021-08-22 14:42] juliayakovlev commented on #9053
The test `longevity-50gb-3days-test` running version `4.5.rc6-0.20210817.88314fedf` failed with cassandra-stress WriteTimeoutException.
Timeouts started during repair_streaming_err nemesis, but c-s failed more then one hour later, not during nemesis.\

During nemesis repair was started and interrupted (by hard reboot of the instance). After the instance was back ,
rebuild was started:
[code]

Time

[2021-08-22 16:47] #8915 closed

[2021-08-22 16:47] #8920 closed

[2021-08-23 06:00] bhalevy commented on #2927
@dorlaor yes, it's all in master.

[2021-08-23 06:35] bhalevy commented on #7154
@avikivity please see Asias' response above.

[2021-08-23 06:40] eliransin opened #9231 "Micro Benchmarks: Division by zero crashes 'perf_fast_forward'"
Commit 8d6e575f59b1d26e3edfe35756c6057612f03cb0 introduced a new stats instructions per fragment. Computing this new
stat can end with a division by zero  when the number of fragmens read is 0.

[2021-08-23 07:45] slivne opened #9233 "Block creation of index / materialized view on the cdc tables"

[2021-08-23 08:44] juliayakovlev opened #9234 ""unpaged query exceeds soft limit" warnings during schema creation"
*Installation details*
Scylla version (or git commit hash): https://github.com/scylladb/scylla/issues/8061
Cluster size: 6 nodes (i3.8xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-074912d764ff480e5 (eu-north-1)

Test config file: [test-cases/longevity/longevity-multi-keyspaces.yaml](https://github.com/scylladb/scylla-cluster-tests/blob/branch-4.5/test-cases/longevity/longevity-multi-keyspaces.yaml)

[2021-08-23 09:42] avikivity commented on #9234
It's a minor issue, but we should fix it by using paged queries while reading schemas.

[2021-08-23 09:47] avikivity commented on #7154
Enterprise issues should not be discussed here. Do we know that 4.3 has the task leak into main?

[2021-08-23 10:37] avikivity commented on #8920
@vladzcloudius I'm evaluating for a backport. Where is the impact? Do we always re-prepare a statement after entry_expiry (60 minutes)?

I guess re-preparing every 60 minutes isn't too bad, so safer not to backport.

[2021-08-23 10:39] bhalevy commented on #9053
I'm not sure if that's related or not but there are a lot of deletes on this node when the timeouts happen:

![Screenshot from 2021-08-23 13-36-26](https://user-images.githubusercontent.com/20910904/130433914-ee4b5dc5-8c75-4feb-a0b6-77aac9d08bd9.png)
![Screenshot from 2021-08-23 13-39-14](https://user-images.githubusercontent.com/20910904/130434183-cf833fc0-93a5-4162-8aa9-9bc8f5b131cf.png)

[2021-08-23 10:44] avikivity commented on #5638
This issue is not related to Apple M1. I'm locking it. For M1, see [here](https://github.com/scylladb/scylla/issues/8642#issuecomment-896117797).

[2021-08-23 10:58] avikivity commented on #5638
Actually, it could be that the same issue happens to hit M1 users, so unlocking.

[2021-08-23 11:07] slivne commented on #9053
We can check the LSA memory usage (per shard) and see why

[2021-08-23 11:12] ShlomiBalalis opened #9235 "Shard aborted when no space is left on node"
*Installation details*
Scylla version (or git commit hash): 4.5.rc6-0.20210817.88314fedf with build-id f1e63bebd85e29490480de9c25887e6078fa63f3
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-011f02dc29a254fd4 (eu-west-1)
instance type: i3en.3xlarge
Scenario: [longevity-large-partition-200k-pks-4days-test](https://github.com/scylladb/scylla-cluster-tests/blob/branch-4.5/test-cases/longevity/l

[2021-08-23 11:15] kbr- opened #9236 "readers v2: include previous tombstone in range tombstone changes"
Currently range tombstone changes contain only the new tombstone.
But if we want to efficiently reverse v2 mutation fragment streams, we'll need to efficiently find the previous tombstone for a given range tombstone change (because the previous tombstone becomes the current tombstone in the reversed stream).
Including the previous tombstone in the rtc would make this easy.

cc @denesb @avikivity @

[2021-08-23 11:23] aleksbykov opened #9237 "nodetool repair failed for table with TWCS on new added node with replace with a lot of errors and warnings with semaphore timeout"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.rc6-0.20210817.88314fedf`
Cluster size: 3 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-twcs-48h-4-5-db-node-899f0e32-1 (34.237.223.2 | 10.0.2.29): 8 shards
   longevity-twcs-48h-4-5-db-node-899f0e32-2 (3.94.150.125 | 10.0.1.15): 8 shards
   longevity-twcs-48h-4-5-db-

[2021-08-23 11:24] aleksbykov commented on #9237
The issue could be simialr to https://github.com/scylladb/scylla/issues/9199

[2021-08-23 11:41] elcallio commented on #9235
7146646bf4ed86d9f6b10e394d67f9609b069b0c changed commitlog behaviour to abort on disk write error in shutdown. This looks like it is doing just that, i.e. wad.

[2021-08-23 11:47] denesb commented on #9207
The solution is to use the other move constructor: `range_tombstone(clustering_prefix, bound_kind, clustering_prefix, bound_kind, tonbstone)`.

[2021-08-23 11:48] denesb commented on #9207
`range_tombstone(range_tombstone&&)` is a huge landmine waiting for somebody to step in it.

[2021-08-23 11:48] avikivity commented on #9236
We don't want to reverse streams. We want to have the stream sources generate reversed streams and the intermediate readers to consume and produce reversed streams.

The data sources (cache, memtable, sstables) need to be able to produce streams in either direction, but the stream itself doesn't need to be reversed once we decided on a direction.

[2021-08-23 11:50] denesb commented on #9236
I think it is enough if our in-memory format stores the two tombstones, so the range tombstone change chain can be walked either way.

[2021-08-23 11:51] avikivity commented on #9207
Isn't this the problem?

[code]

If you don't want `partition` changed, pass it as `const &`. If you are willing to have it changed, pass it as `&&` (and then nobody can see it was changed).

[2021-08-23 11:53] denesb commented on #9207
`mutation::consume()` is destructive, it even has a comment saying this. The problem is that the above can cause memory leaks.

[2021-08-23 11:55] avikivity commented on #9207
Ah. @xemul please look.

[2021-08-23 12:02] bhalevy commented on #7154
@avikivity yes, according to https://github.com/scylladb/scylla-enterprise/issues/1851#issuecomment-901573091

[2021-08-23 12:31] xemul commented on #9207
Why btree? RTS are stored in an `intrusive_set_external_comparator` aren't they?

[2021-08-23 12:46] ShlomiBalalis commented on #9235
@elcallio So from here on out, this should be the expected behaviour?

[2021-08-23 12:50] elcallio commented on #9235
Yes.

[2021-08-23 12:50] xemul commented on #9207
@denesb , am I right that the partition is not expected to have its tree of tombstones (and rows) to be in its original state? In particular, it can be empty after this function returns. In this case it's better to do

[code]
isn't it? However, there's not `unlink_rightmost_without_rebalance()` for the reverse consume :(

And another question is the exception guarantee of the `consume_clustering_f

[2021-08-23 13:22] xemul commented on #9207
How about ++-ing the iterator before `std::move()`-ing the element? Like
[code]

@enedil , is there a test/patch/whatever to see how the current code fails?

[2021-08-23 13:28] #9231 closed

[2021-08-23 13:53] ManManson opened #9239 "Introduce experimental flag for raft features"
There is no experimental flag for Raft-related features yet. We would definitely need it to hide any raft work until it matures enough.

Let's introduce a `raft` database configuration switch for that.

The option should be enabled only when explicitly asked to do so (i.e. don't enable when `--experimental=true`, but only when a distinct `--experimental-features=raft` option is supplied.

There wo

[2021-08-23 14:00] denesb commented on #9207
It doesn't solve the underlying problem. I had this code:
[code]

[2021-08-23 14:15] xemul commented on #9207
Ah, right. It's not only about keeping the iterators valid.

[2021-08-23 16:42] roychowdhuryrohit-dev commented on #3044
@drasko I am facing the similar error on Raspberry Pi 4 running on Ubuntu 20.04.

`sudo ./install-dependencies.sh`

[code]

I have to build the project from source since arm64 architecture is not supported using `/etc/apt/sources.list.d/scylla.list`.
Any solutions?

[2021-08-23 17:01] enedil commented on #9207
@xemul

Yes, I didn't dig the code enough.

This might rebalance the tree (which is the data structure underlying boost intrusive set), which invalidates all (?) the iterators after `rts_it`, so it isn't just the case of the element being currently processed. Maybe there are some better guarantees?

[2021-08-23 17:15] enedil commented on #9207
[code]

[2021-08-23 17:20] xemul commented on #9207
I agree with Botond here. This should work like it does for the clustring row -- it creates a new temporary row from the one pointer by iterator by moving everything but the b-tree linkage into it. In case of range tombstone it now creates a new temporary rts by moving _everything_ into it _including_ the set linkage. What I still don't understand is why iterator pointing onto the moved-from range

[2021-08-24 00:51] asias commented on #7154
I am only mention it since you asked the motivation for the backport.  I think we do have such leaks in 4.3.  We have  a patch 268fa9d9fe10db5e3d0f2ef8518806467a127439 (main: Lower shares for main scheduling group) as a workaround for the leak, which is present in 4.5 and master.

[2021-08-24 05:18] dimaqq opened #9240 "error: too many positional options have been specified on the command line when trying alternator"
I've tried running Scylla with Alternator the way the docs tell me to: `docker run -it --name scylla -d -p 8000:8000 scylladb/scylla-nightly:latest --alternator-port=8000 --alternator-write-isolation=always` and the container keeps hitting this error:

[code]

This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our

[2021-08-24 05:25] gleb-cloudius commented on #9240
On Mon, Aug 23, 2021 at 10:18:35PM -0700, Dima Tisnek wrote:

Those address configurations do not look right.

[2021-08-24 05:59] dimaqq commented on #9240
🤔  maybe alternator example expects a setup where several Scylla instances a ran at predefined ip addresses? 🤔

[2021-08-24 06:02] gleb-cloudius commented on #9240
On Mon, Aug 23, 2021 at 10:59:15PM -0700, Dima Tisnek wrote:

What I mean is that you specify each address twice once as ipv6 and
another as ipv4 with a space in the middle. This is not valid command
line.

--
			Gleb.

[2021-08-24 06:28] dimaqq commented on #9240
Well I did not specify **any** ip addresses.
(the command I used is at the top of the ticket).

[2021-08-24 09:00] fgelcer commented on #8831
@piodul , checked last jobs on master, and all of them that had the `AbortRepair` nemesis, all passed...
the specific job where i saw it reproducing is not passing for months now (`longevity-200gb-48h-test`)
so, we could say that the fix seems good..

[2021-08-24 09:24] piodul commented on #8831
@fgelcer Thanks. In that case, I'm closing this issue.

[2021-08-24 09:24] #8831 closed

[2021-08-24 09:30] fgelcer commented on #8831
if seen again, a new issue should be reported.
thank you @piodul

[2021-08-24 10:27] xemul commented on #8421
@fgelcer , @fruch , can you please confirm if it's fixed?

[2021-08-24 10:40] elcallio commented on #9053
Do we have any test setup that can provoke these timeouts/stalls in a smaller setting/shorter time span? I've tried provoking it using the same stress-commands as in OP config + small CCM cluster. I can get small stalls, but that pretty much requires me to set commit log sizes to ridiculously small sizes, and even then I have very short stalls, mostly in the order of 10-100ms.
I assume physical no

[2021-08-24 11:00] xemul commented on #9207
@enedil , please pick this patch, it should unblock you. However, it makes some cases of `schema_change_test` to crash, so I need more time before sending it
[code]

[2021-08-24 11:02] ShlomiBalalis commented on #9235
I see. I'll modify the nemesis to ignore it. Closing.

[2021-08-24 11:02] #9235 closed

[2021-08-24 12:02] geobeau commented on #9228
Have you been able to find something @raphaelsc?

[2021-08-24 12:04] denesb opened #9241 "[tools] scylla-sstable"
When investigating problems with sstables we often need to check the content of the sstables and extract information from it and then aggregate or process it in various ways. The only tool we have currently is `sstabledump` which have various problems. First off it is awkward and painful to use. It is based on the C* java codebase so the average Scylla C++ developer is not familiar with its code a

[2021-08-24 12:08] raphaelsc commented on #9241
+1

[2021-08-24 12:21] roydahan commented on #9053
@elcallio unfortunately, we don't have such test  setup.
We couldn't find an easier or shorter way to do it (but we didn't invest much on it as it was easily reproduces on 4.5.rc5 with what we had).

@juliayakovlev is running two more tests:
1. With commitlog set to debug level - running already 24h and show no sign of the issue.
2. Re-running the original test - running about 2 hours.

[2021-08-24 12:23] roydahan commented on #8016
@yarongilor please comment here with your findings on testing with 4.5.rc6.

[2021-08-24 13:35] haaawk commented on #9241
Why Lua? Isn't it even less familiar to everyone than Java?

[2021-08-24 13:35] denesb commented on #9241
cc @bhalevy

[2021-08-24 13:36] denesb commented on #9241
Two reasons: it is embeddable and it is already embedded into scylla. So I can easily add Lua bindings to the mutation fragment objects and then the tool can load and execute embedded Lua scripts.

[2021-08-24 13:40] eliransin commented on #9241
In the future we might be able to do assembly too , then IIUC it will be useful for any (or almost any) LLVM based language :slightly_smiling_face:
/cc @psarna

[2021-08-24 14:13] ShlomiBalalis opened #9242 "Node shutdown process freezing for over 30 minutes during shut down database stage"
*Installation details*
Scylla version (or git commit hash): 4.5.rc6-0.20210817.88314fedf with build-id f1e63bebd85e29490480de9c25887e6078fa63f3
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-011f02dc29a254fd4 (eu-west-1)
instance type: i3en.3xlarge
Scenario: [longevity-large-partition-200k-pks-4days-test](https://github.com/scylladb/scylla-cluster-tests/blob/branch-4.5/test-cases/longevity/l

[2021-08-24 14:32] bhalevy commented on #5626
More consideration:
1. Use `fs::path` instead of `sstring` for paths.
2. Call `fs::canonical` once on start up to make sure we're working with absolute paths, then the fs::canonical call in `sstables::dirname` can be safely removed (it causes lots of redundant `lstat` syscalls)

[2021-08-24 14:45] yarongilor commented on #8016
The error is not reproduced in a reproduction test, running decommission nemesis.
The decommission nemesis only ran once in this ~ 12 hour long run.
on the cleanup step - 3 nodes completed pretty fast and the 4th node ran a cleanup for more than 5 hours until stress ended and then test ended.
yet, no nodetool error reported.
cleanup logs are:
[code]

*Installation details*
Kernel version: `5.4.0-1

[2021-08-24 14:58] xemul opened #9243 "Split range_tombstone_entry from range_tombstone"
The `range_tombstone` contains both -- the range tombstone data (bounds and the tombstone itself) and the linkage to the `range_tombstone_tree`'s data structure used to keep them (a `boost::intrusive::set`). This is quite bug-prone because the move-constructor of the `range_tombstone` also moves the linkage between the entries. So every "mover" must be very careful not to move a range tombstone th

[2021-08-24 15:16] slivne commented on #9242
Did we get a coredump ?

[2021-08-24 15:29] ShlomiBalalis commented on #9242
No, there was no coredump

[2021-08-24 15:38] avikivity commented on #9241
With the ka-style consumer we could even crawl unprocessed strings, and inspect things below the fragment level. But for m+ formats that's not possible, they're to tightly coupled with mutation fragments.

[2021-08-24 22:23] roydahan commented on #9242
We set the service to "stop-sigterm" so we will have a coredump in these cases, but it doesn't look like it's producing any.

[2021-08-25 06:24] fgelcer commented on #8421
i'm trying to re-run the test (but having problems with my env)

[2021-08-25 08:21] ShlomiBalalis commented on #9242
I kept node 10 and the cluster alive, the rest of the cluster was terminated. Translated backtrace:
[code]

[2021-08-25 08:33] slivne commented on #9242
@roydahan I guess we need to run it on the side to see it works and fix it so  it will actually produce what we want for this cases.

[2021-08-25 08:34] slivne commented on #9242
not sure we can do anything with this info - but we are stuck in shutdown  maybe its worth to check that we actually completed startup before shutdown was requested.

[2021-08-25 08:57] slivne commented on #9053
I am not able to see any issue in commitlog with 4.5.rc6 - e.g. there are no writes blocked on memtable / commitlog - which based on what Calle shared should happen. So we need to split this apart.

With regards to this problem the problem is not with commitlog AFAICT in 4.5.rc6 something else maybe at fault.

(BTW I am not able to access the monitoring any more) - @bhalevy / @asias we need you gu

[2021-08-25 09:02] juliayakovlev commented on #9053
I am running now two tests:
1. With commitlog set to debug level (reproducer) - https://jenkins.scylladb.com/job/scylla-4.5/job/Reproducers/job/longevity-50gb-3days-commitlog-debug/3/
2. Re-running the original test (without commitlog debug level) - https://jenkins.scylladb.com/job/scylla-4.5/job/longevity/view/Manually%20Triggered%20Jobs/job/longevity-50gb-3days-test/lastBuild/

Official job (#2)

[2021-08-25 09:19] avikivity commented on #9242
I don't understand the logs. At 2021-08-24T05:31:53+00:00 systemd gave up and sent SIGABRT. Scylla immediately acknowledged and crashed. But at 2021-08-24T05:48:03+00:00 the shutdown completed. This is impossible.

Are there no logs in between? The only explanation I see is that scylla restarted and was shut down again.

[2021-08-25 10:06] amoskong commented on #7675
2021.1.5 test failed for this issue, do we want to backport the fix to 2021.1 branch? /Cc @avikivity

- https://jenkins.scylladb.com/view/nexts/job/enterprise-2021.1/job/artifacts/job/artifacts-oel76-test/58/console

[2021-08-25 10:19] amoskong commented on #9096
2021.1.5 failed for this issue:
- OS: debian10
- https://jenkins.scylladb.com/view/nexts/job/enterprise-2021.1/job/artifacts-offline-install/job/artifacts-debian10-nonroot-test/39/
- version: 2021.1.5-0.20210818.fc817c0cd

[2021-08-25 10:50] ShlomiBalalis commented on #9242
Yes, we make sure that scylla was started when we command it to start. And specifically here:
`2021-08-24T05:06:17+00:00  longevity-large-partitions-200k-pks-db-node-384d3370-10 !INFO    | scylla:  [shard 0] init - Scylla version 4.5.rc6-0.20210817.88314fedf initialization completed.`
It was up 10 minutes before the shut down started

I don't see any log from scylla between those timestamps, but y

[2021-08-25 10:57] avikivity commented on #7675
Don't mention enterprise releases on this tracker.

[2021-08-25 11:06] bhalevy commented on #9053
@juliayakovlev please fix the hyperlink to jenkins not point to `lastBuild` since this is dynamic and changes over time.  What was the build number? 7?

[2021-08-25 11:10] slivne commented on #9053
@elcallio can you please look at this time range and see if you cna detect anything that shows commitlog maybe at blame

http://13.48.48.0:3000/d/detailed-4-5/detailed?orgId=1&from=1629867327000&to=1629874527000

(there are no commitlog debug level info here - so its probably harder - but please try)

[2021-08-25 11:12] slivne commented on #9053
We are going to revert the whole code of commitlog hardlimit fro 4.5 branch and spin 4.5.rc7 and see the result.

[2021-08-25 11:16] slivne commented on #9237
a new test on 4.4 this test did not pass

[2021-08-25 11:24] elcallio commented on #9053
I am as usual probably reading this wrong, but from what I can see, both `pending_allocations` and `requests_blocked_memory` seem to be zero? If so, nothing is actually blocked on commit log. Or even doing commitlog alloc at this time, i.e. no writes are being done...?

[2021-08-25 14:14] juliayakovlev commented on #9205
I added new tests for view testing after `load-and-stream`. Here the results

**Test 1**:
- Test data was created on the 2-nodes cluster, keyspace RF=2
- New cluster is 4-nodes, keyspace RF=3

Result: test **succeeded**: Row count in the table and index view as expected
[code]

**Test 2**
- Test data was created on the 4-nodes, keyspace RF=3
- New cluster has 2-nodes cluster, keyspace RF=2

Result

[2021-08-25 19:43] udf2457 opened #9245 "Debian install instructions not inline with Debian best practices"
The Scylla Debian repo instructions (for example, but not limited to https://www.scylladb.com/download/?platform=debian-10&version=scylla-4.4#open-source) are not compliant with current Debian best-practice.

As per https://wiki.debian.org/DebianRepository/UseThirdParty

Should you require further background beyond the above Debian wiki link, see also:
[1] https://bugs.debian.org/cgi-bin/bugreport

[2021-08-26 09:24] dimaqq opened #9247 "Docker run arguments not passed to scylla"
Running `scylladb/scylla-nightly:latest` from a few days ago, `4.6.dev-0.20210822.f98cb9650`

The extra command line arguments are seemingly not passed to scylla daemon/server:

[code]

The `--alternator-port` is missing from the parsed command line options.

[2021-08-26 10:42] ShlomiBalalis opened #9248 "multiple nodes aborting (with coredumps) after time to live of a keyspace was modified"
*Installation details*
Scylla version (or git commit hash):4.5.rc6-0.20210817.88314fedf with build-id f1e63bebd85e29490480de9c25887e6078fa63f3
Cluster size:5 (6)
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-011f02dc29a254fd4
Scenario: https://github.com/scylladb/scylla-cluster-tests/blob/branch-4.5/test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml

At `2021-08-25 14:59:42.970` a `ModifyTab

[2021-08-26 11:04] lauranovich opened #9249 "DOCS: Need to document the metrics"
The document
https://github.com/scylladb/scylla/blob/master/docs/design-notes/metrics.md is missing LWT metrics. In looking at this draft, it seems that the two styles are not aligned.

Should we document each metric like this example below or more generic like https://github.com/scylladb/scylla/blob/master/docs/design-notes/metrics.md?

Either way, LWT metrics need to be added.

=================

[2021-08-26 11:39] lauranovich opened #9250 "DOCS: Runtime error"
/home/lauranovich/github-repo/laura-scylla-oss-docs/docs/service_levels.md: WARNING: document isn't included in any toctree
/home/lauranovich/github-repo/laura-scylla-oss-docs/docs/contribute/review-checklist.md:13: WARNING: None:any reference target not found: ./coding-style
/home/lauranovich/github-repo/laura-scylla-oss-docs/docs/guides/HACKING.md:392: WARNING: None:any reference target not foun

[2021-08-26 12:42] michoecho opened #9252 "Accidental cache line invalidation in compact-radix-tree kills performance on large machines"
Whenever a node_head_ptr is assigned to nil_root, the _backref inside it is
overwritten. But since nil_root is shared between shards, this causes severe
cache line bouncing. (It was observed to reduce the total write throughput
of Scylla by 90% on a large NUMA machine).

[2021-08-26 19:10] PeterCorless opened #9254 "Issue in page Scylla RESTful API V2"
I would like to report an issue in page https://scylla.docs.scylladb.com/master/guides/api_v2

### Problem

On this page there is a link to

https://github.com/OAI/OpenAPI-Specification/blob/main/versions/2.0

###  Suggest a fix

It needs to point to:

https://github.com/OAI/OpenAPI-Specification/blob/main/versions/2.0.md

[2021-08-26 20:50] #9252 closed, assigned to michoecho

[2021-08-28 09:02] bhalevy opened #9256 "Scrub compaction filters out sstables that are being compacted"
Currently, scrub compaction calls `get_candidates` both in validate mode:
https://github.com/scylladb/scylla/blob/7f44736939eca788100287e7ff2150ce55e64483/compaction/compaction_manager.cc#L758
and other modes:
https://github.com/scylladb/scylla/blob/7f44736939eca788100287e7ff2150ce55e64483/compaction/compaction_manager.cc#L891

get_candidate then filters out sstables that are being compacted:
http

[2021-08-28 09:39] bhalevy opened #9257 "Cleanup compaction filters out sstables that are being compacted"
Similar to #9256, cleanup compaction calls `get_candidates` without stopping ongoing compactions.
https://github.com/scylladb/scylla/blob/7f44736939eca788100287e7ff2150ce55e64483/compaction/compaction_manager.cc#L839

Similar to scrub, regular compaction will not cleanup tokens that do not longer belong to the current node and we don't want to leave those around after cleanup.  From the use standp

[2021-08-28 11:31] raphaelsc commented on #9257
This is a dup of https://github.com/scylladb/scylla/issues/8168

closing

[2021-08-28 11:31] #9257 closed

[2021-08-29 01:28] dimaqq commented on #9240
@nyh re: https://github.com/HENNGE/aiodynamo/issues/27#issuecomment-907713291 is there a simple way to get a developer (free, temporary) access to production (cloud) Scylla Alternator?

[2021-08-29 07:22] nyh commented on #9240
@dimaqq I believe we do have some sort of very-short-term free trial of Scylla on the cloud in https://cloud.scylladb.com/user/signup but I don't know any details about it. As a Scylla developer, I'm more interested in getting docker (back?) to work, I'll look into that next.

[2021-08-29 07:23] nyh commented on #4141
An explanation what the user in #9240 was trying to do when encountering this bug: https://github.com/HENNGE/aiodynamo/issues/27#issuecomment-907713291

[2021-08-29 08:12] nyh commented on #9254
CC @amnonh

[2021-08-29 08:20] nyh opened #9260 ""ninja dev" doesn't just build dev mode as expected"
One would expect that `ninja dev` only build dev-mode outputs.
However, it doesn't - it appears to build release-mode and debug-mode Seastar and Scylla source files.

Please note that I always run "configure.py" without a mode parameter, so all build modes exist in `ninja.build`. That shouldn't be a problem, and isn't a problem for `ninja build/dev/scylla` which I normally use and builds only dev

[2021-08-29 08:30] nyh opened #9261 ""ninja dev" fails on Fedora 34"
When I run "ninja dev" (to build everything in dev mode, supposedly), it ends with
[code]
which isn't clear what caused it. The log shows two different errors:
[code]
and
[code]

Yes, I know the usual mantra is "use dbuild". I shouldn't have to for master :-( If our build needs specifically Java 8 and can't run with Java 11 (which is the default on Fedora 34), it should at least make a minimal eff

[2021-08-29 08:53] fgelcer commented on #7779
could be this delaying my prepare load?
i have in my test:
[code]

the prepare phase took more than 24, and the load decreased (could it be an overloaded LWT workload?) until it almost stopped...
c-s complained a lot about disconnections, meaning probably some back pressure stops new income I/O.

version `4.5.rc6-0.20210817.88314fedf with build-id f1e63bebd85e29490480de9c25887e6078fa63f3`
test is

[2021-08-29 08:53] juliayakovlev opened #9262 "View has less then expected rows after nodetool refresh"
*Installation details*
Scylla version (or git commit hash): 4.6.dev-0.20210823.3c6a7d2dc
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): relocatables packages (unstable/master:2021-08-23T23:43:29Z)

During testing of `load-and-stream` feature I added tests for views building after load.
In case of increase cluster - test data was created on small cluster (in my test 2-nodes) and has been loaded to

[2021-08-29 08:54] juliayakovlev commented on #9262
Tests for reproduce:
[code]

[2021-08-29 09:36] avikivity commented on #9260
Maybe it's building iotune?

I fixed similar problem in 4d48e1e9e1d532bc0e170b6c6ceeb7fdd2310fe6, apparently not enough.

[2021-08-29 09:40] avikivity commented on #9261
I routinely build on Fedora 34 (and dbuild is just Fedora 34 now).

I think the problem is that the the build directory can become poisoned by a previous build. The command (warning: dangeous)

     git clean -fdx && git submodule foreach --recursive git clean -fdx

will remove the poison (and also any good files you may have lying around) and allow the build to succeed.

I suspect it's caused by

[2021-08-29 09:40] avikivity commented on #9261
/cc @syuu1228

[2021-08-29 11:10] slivne commented on #8418
@ShlomiBalalis can you please work with @elcallio tomorrow and  reproduce the issue so he can debug whants not working

[2021-08-29 11:11] slivne commented on #8418
@avikivity you agreed to revert this from 4.5

[2021-08-29 11:22] nyh commented on #9261
I had an empty directory `tools/python3/build/debian/scylla-python3-package.orig`.
Removing it seems to have fixed the problem.
I could close this issue as having a workaround (and I already sent a patch to fix the Java 8 issue), but I still think this issue is valid - this script is buggy if it left such a directory behind (I didn't create it myself, but it's possible I ran a failed build or even

[2021-08-29 11:47] nyh commented on #9260
Going down the rabbit hole:

1. "ninja dev" is an alias for "ninja build-dev" and "ninja dist-dev".
    * The "build-dev" target is correct - it only builds only dev-mode files.
    * It is "ninja dist-dev" which is broken and builds stuff from other modes.

2. "ninja dist-dev" builds a bunch of targets, it is "ninja dist-server-dev" which builds other modes.

3. dist-server-dev as usual builds a

[2021-08-29 11:51] nyh commented on #9260
This bug was introduced in commit edd54a946350689a5032395cbdd799d21481ec39 by @syuu1228 - all build mode depends on the same target "dist-server-compat" instread of having different versions of this target for each build mode.

I can't say I understand anything about what this "dist-server-compat" target was trying to solve, but I'll try to see if I can fix it without understanding :-)

[2021-08-29 12:03] nyh commented on #9260
Correction - although "ninja dist-server-dev" is buggy (see my previous comment on what was wrong, and I already have a patch), "ninja dist-unified-dev" is **also** buggy and builds all modes. Again the problem is a mode-less "dist-unified-compat". I'll fix it too.

[2021-08-29 12:49] avikivity commented on #9261
It is valid. I encounter it too from time to time.

[2021-08-29 13:20] nyh opened #9263 "dist/docker/debian/README.md is wrong"
Almost all steps in the instructions in `dist/docker/debian/README.md` are wrong or misleading:

1. Build your own Scylla in whatever build mode you prefer, e.g., dev.
2. Run ninja dist-deb
3. Run /dist/docker/debian/build_docker.sh
4. Finally, run docker build -t <image-name> .

Step 2 is wrong because it builds all modes again. Should be "dist-dev" (which unfortunately not only builds the deb ta

[2021-08-29 13:22] nyh commented on #9263
CC @yaronkaikov @syuu1228

[2021-08-29 13:23] yaronkaikov commented on #9263
@nyh Thanks for openning the issue, i will send a patch soon

[2021-08-29 13:28] nyh commented on #9261
I'll close this issue and open a new one instead (which isn't specific to Fedora 34).

[2021-08-29 13:28] #9261 closed

[2021-08-29 13:30] nyh commented on #9263
@yaronkaikov please note that I assigned this to myself because I almost have a patch for it myself - I'm just missing a solution for step 4. Can you please try it yourself and see what is the correct step 4?

[2021-08-29 15:02] bentsi commented on #9053
@nyh @gleb-cloudius live Graphana: http://13.48.48.0:3000/d/detailed-4-5/detailed?orgId=1&from=1629790541641&to=1629877019596

[2021-08-29 15:37] nyh opened #9264 ""ninja dist" fails when some empty directory somehow stayed behind"
This is a spin-off from issue #9261.
I tried to build the distribution atrifacts (`ninja dist`), and got the following error:

[code]

As the error message suggests, a directory `tools/python3/build/debian/scylla-python3-package.orig` did exist - it was an empty directory. Removing it fixed the problem.

I don't know why this empty directory existed - it is quite possible that an earlier build eit

[2021-08-29 15:48] nyh commented on #9263
As @avikivity noted on the mailing list, step 4 became outdated with commit e96ff3d82d48c41f428e6fb2f622454da0c36cdf. As that commit suggests that the output of step 3 is just a file, which "can be uploaded into a repository or made available locally with skopeo.". Now I just need to figure out what this sentence means, and how to explain it in the document.

[2021-08-29 15:49] avikivity commented on #9053
Looking at a narrower range:

http://13.48.48.0:3000/d/detailed-4-5/detailed?orgId=1&from=1629858550252&to=1629873394771

[2021-08-29 15:51] avikivity commented on #9053
Reciprocal miss rate climbs to 100 on all nodes (indicating perfect cache hits) except for node 241, where it reaches 1.72:

![image](https://user-images.githubusercontent.com/1017210/131256771-7c333b4c-4cd4-419d-979c-01ffd27ffd04.png)

[2021-08-29 15:52] avikivity commented on #9053
Reads-with-misses is very low on most nodes, except on 241:

![image](https://user-images.githubusercontent.com/1017210/131256819-59105fac-629c-41c4-a955-1a80af493e9d.png)

[2021-08-29 15:53] avikivity commented on #9053
Reads-with-no-misses is consistent with reciprocal miss rate:

![image](https://user-images.githubusercontent.com/1017210/131256844-080c01ac-1761-41f6-910f-5f422e89d57d.png)

[2021-08-29 15:54] avikivity commented on #9053
The question is why did so many reads get sent to 241? With such low miss rates on the other nodes, very few reads should have been sent to 241, in order to keep the reads-with-misses the same on all nodes (which is the goal of heat based load balancing).

[2021-08-29 15:59] avikivity commented on #9264
/cc @syuu1228

[2021-08-29 16:01] avikivity commented on #9263
@nyh it's my fault for not supplying a good README, I can send something.

[2021-08-29 16:08] nyh commented on #9263
If you can even write a few lines, I'll complete the text and test it. Right have a file `build/dev/dist/docker/scylla-4.6.dev-0.20210829.4009d8b06` but have no idea how to run it with docker. I couldn't yet figure out how to use "skopeo" (or why do I even want to use it). Any hints you can give me would save me a lot of time scratching my head and Googling.

[2021-08-29 16:21] nyh commented on #9263
@avikivity I couldn't figure out how to use skopeo to run such an archive in docker, or how to run it directly in docker. It seems podman supports it out-of-the-box, though:
[code]
Seems to work. Do you know to run it in docker instead of podman?

[2021-08-29 16:26] avikivity commented on #9263
I haven't run docker in a while, I expect `docker import` will import it into local storage.

[2021-08-29 16:29] slivne commented on #8023
fixed in 4.2.4 , 4.3.2

closing this issue as its fixed

[2021-08-29 16:29] #8023 closed

[2021-08-29 17:50] nyh commented on #9247
This is a regression caused by commit e96ff3d82d48c41f428e6fb2f622454da0c36cdf. I have patch, will send it in a few minutes.

[2021-08-29 17:58] yaronkaikov commented on #9263
@nyh Same command with `docker` is working as well , just verified it locally

[2021-08-29 18:06] nyh commented on #9263
It doesn't work for me - it tells me "docker: invalid reference format.". It works well in podman. My docker version is 20.10.7.

[2021-08-29 19:19] yaronkaikov commented on #9263
So it's not working for me either (docker command was an alias for podman). Since we are using `buildah` for build process we can't really run it with docker. The only way is to actually publish the image to docker hub and then pull it again with docker. although it doesn't make sense for me at least :-)

[2021-08-29 20:27] #9260 closed

[2021-08-30 00:16] tonychill commented on #4515
Im currently looking into the various options of saving protobuf messages
without having to convert it to a string or base64 encoding.

On Fri, Aug 27, 2021 at 2:06 PM vanguard_space ***@***.***>
wrote:

--
Capt. Tony
@ilanlyfe
ilanlyfe.com
"Living the ilanlyfe you love."

[2021-08-30 06:17] penberg commented on #9164
@amoskong SUSE is not an officially supported platform so there's no installation guide for it either. You could add support for SUSE in the Scylla installer, though: https://github.com/scylladb/scylla-web-install

[2021-08-30 08:10] syuu1228 commented on #9264
I didn't know this error, but I confirmed `scylla-python3-package.orig` is temporary directory that dpkg-buildpackage automatically create it while building, and also reproduced the error by creating the directory manually.
I will send a fix for this, not only python3 but all deb packages.

[2021-08-30 08:31] syuu1228 commented on #9264
I find out it only occurs on scylla-python3. Sent a PR to fix: https://github.com/scylladb/scylla-python3/pull/23

[2021-08-30 13:33] #9247 closed

[2021-08-30 13:33] #9263 closed

[2021-08-30 15:52] bhalevy commented on #9078
FWIW I hit `scylla: sstables/consumer.hh:460: seastar::future<> data_consumer::continuous_data_consumer<StateProcessor>::fast_forward_to(size_t, size_t) [with StateProcessor = sstables::data_consume_rows_context_m; size_t = long unsigned int]: Assertion `end >= _stream_position.position' failed.` when reading single partitions from sstables that have out-of-order partitions (with an old version an

[2021-08-30 17:04] bhalevy commented on #7566
FWIW, I'm hitting a similar assert when reading in the presence of sstables with out-of-order clustering rows (and out-of-order partitions) with #7552 reproducer.

@MikeGoltsov and chance your cluster had in the past nodes with different number of shards and you ran repair on it?
If so, what version did you run?

[2021-08-30 17:46] gleb-cloudius commented on #9053
Can you re-run with per table statistics enabled?

[2021-08-30 19:54] bentsi commented on #9053
how to enable "per table statistics"?

[2021-08-31 03:50] aleksbykov opened #9268 "toppartition is lost support of --ks-filter and --cf-filter (new api) from commit scylladb/scylla: c1daf2b"
*Installation details*
Scylla version (or git commit hash): 4.5.rc6-0.20210817.88314fedf

During job: https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/longevity/job/longevity-alternator-200gb-48h-test/3
command `nodetool toppartitions` was called  with parameters presented in commit: https://github.com/scylladb/scylla/commit/c1daf2bb24a43d398a5f209e052102afea6eb7de
and the command f

[2021-08-31 09:23] nyh commented on #9053
This is explained in docs/design-notes/metrics.md:

[2021-08-31 09:37] nyh commented on #9268
Interesting, our documentation https://docs.scylladb.com/operating-scylla/nodetool-commands/toppartitions/ claims that this ks-filter and cf-filter thing was **added** in 4.5,  not removed in this version :-(

We should have a dtest for "nodetool toppartition" and all its different command-line parameters, so we wouldn't need to find such a regression in the "longevity" test.

[2021-08-31 09:42] aleksbykov commented on #9268
We have them on master, i am not sure, whether they backported to 4.5

[2021-08-31 09:56] nyh commented on #9268
The commit you mentioned, https://github.com/scylladb/scylla/commit/c1daf2bb24a43d398a5f209e052102afea6eb7de, *is* in 4.5 Scylla (since 4.5-rc1). So perhaps the **nodetool** or **JMX** changes aren't in 4.5's nodetool? I didn't check.
Your commit message says that this support was "lost" or "removed". Do you know that it ever existed in 4.5? Maybe it never did.

[2021-08-31 10:02] bhalevy opened #9269 "mutation fragment stream validator doesn't print the partition key for invalid rows/range tombstones"
For example:
[code]

The partition key is readily available as we keep track of the last key for partition_key validation.

[2021-08-31 10:03] bhalevy commented on #9269
@cmm, this is a simple change to get acquainted with this area of the code.
Can you please look into it?

[2021-08-31 10:05] bhalevy commented on #9269
Note: rows in the context of this issue include both static rows and clustering rows.
Bottom-line, let's scrub the code and print the partition_key anywhere it's missing and would be useful.

[2021-08-31 11:30] nyh opened #9272 "Alternator Scan operation should forbid ExclusiveStartKey outside requested Segment"
When a Scan operation is using the `Segment`/`TotalSegments` feature to split a request into multiple ranges, the `ExclusiveStartKey` parameter must be inside this segment. DynamoDB verifies this (and prints an "Exclusive start key must lie within the segment" error if it's not). We don't have this check currently, and should.

When an application only uses `ExclusiveStartKey` to continue a previo

[2021-08-31 11:42] juliayakovlev commented on #9053
Running.
[Jenkins job](https://jenkins.scylladb.com/job/scylla-4.5/job/Reproducers/job/longevity-50gb-3days-table-stats/lastBuild/console)

[Monitor](http://13.48.177.95:3000/d/nCz7U0Vnk/longevity-50gb-3days-table-stats-scylla-per-server-metrics-nemesis-master?orgId=1&from=1630409707000&to=now&refresh=30s)

[2021-08-31 14:13] nyh commented on #9053
@slivne I see you assigned this issue to me, supposedly because it's somehow related to HWLB, but I don't understand at all how. People above suggested the problem is related to commit logs, to repair, to writes - how did all of this suddenly become a HWLB (i.e., **read**) issue?
I'll try to read the above comments to try to decipher how a write timeout might be is related to (read-side) HWLB, but

[2021-08-31 15:02] nyh commented on #9053
Ok, I have a better understanding now:

If this workload was read-only, @avikivity would have been right, something would seem very wrong with HWLB: Accoding to the numbers there, node 241 should do 1/10th (in the beginning) to 1/50th of the read work of the other nodes. And yet, it seems to be getting about 60% of the reads that other replicas get - between 18,000 and 19,000 of replica reads each

[2021-08-31 17:00] pveentjer opened #9273 "Scylla 4.2.2 governor dropped from 'performance' to 'schedutil'"
The governor has dropped from 'performance' to 'schedutil'.  In one of my benchmarks I saw 10% throughput increase by upgrading the governor from 'schedutil' to 'performance'.

After doing a binary search over the Scylla versions, the Scylla 4.2.2 tag is the first one that suffering from this problem.

In 4.2.1 there is a tuned.service enabled and in 4.2.2 there is not.

After disabling the tuned.

[2021-08-31 20:25] creker commented on #7566
@bhalevy

It did. We migrated whole cluster to different hardware with different number of cores. I don't remember which version we ran at the time.

[2021-08-31 21:48] #9248 closed

[2021-08-31 21:48] #7608 closed

[2021-09-01 02:43] Felix-zhoux opened #9275 "LWT operation latency will be affected by 'Requesting schema pull'?"
scylla version 4.4.1

The latency of the `PutItem` request using LWT becomes very high (where latency of other requests are normal ) after recovering from the fault.

A node in the cluster was down for about **30 hours** due to a system failure. After restarting the scylla service, it was found that the **latency of PutItem request using LWT** of this node was very high, reaching 300-500ms (about

[2021-09-01 02:50] Rjerk opened #9276 "docs: Invalid path `dist/docker/redhat/README.md` in README.md"
The path `[Docker image build documentation](dist/docker/redhat/README.md)` in README.md (https://github.com/scylladb/scylla#building-scylla) is invalid.

It looks like the RedHat document has been removed.

------------

This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegrou

[2021-09-01 05:25] bhalevy commented on #7566
Thanks @creker, this can definitely explain the root cause for what you've seen as #7552.

The gist of it is that row-level repair initially had an issue when running on nodes with different number of shards due to repair rpc messages going out of order. This in turn, created SSTables with out-of-order partitions in the data and index files and, more rarely, with out-of-order rows/range-tombstones

[2021-09-01 06:18] penberg commented on #9273
@pveentjer So commit 615b8e81844e47fd54e6043d1ef0a746aa9348d3 caused a regression of CPU governor not being set to performance on RPM-based systems. Did I understand this correctly? You don't see the issue with the current AMI because it's Ubuntu-based, but the regression still exists in RPM systems?

/cc @avikivity @syuu1228

[2021-09-01 06:26] pveentjer commented on #9273
Your understanding is correct.

The Ubuntu based images like Scylla 4.5 release candidates and the 2021.1 are fine.

But everything from 4.2.2 till 4.4.x is broken (CentOS based).

[2021-09-01 06:58] bhalevy commented on #5087
Seen in https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/next/94/testReport/materialized_views_test/TestMaterializedViews/dtest___remove_node_during_mv_insert_3_nodes_test/
[code]

Requires backport to 4.5

[2021-09-01 06:59] bhalevy commented on #5087
@scylladb/scylla-maint ping

[2021-09-01 08:18] pveentjer commented on #9273
My guess is that the problem of not correctly configuring the governor was already there; but it got hidden because the 'tuned' functionality eventually did configure it correctly. But by removing the tuned functionality, the problem got exposed.

[2021-09-01 08:24] nyh commented on #9276
Indeed. I just noticed this a few days ago. The replacement is dist/docker/debian/README.md, and it used to contain inaccurate or outdated information until I improved it a couple of days ago.

I'll prepare a patch to README.md.

[2021-09-01 09:28] juliayakovlev commented on #9053
@nyh
I am not familiar with metrics with table name. I know about view metrics. If you know which metric to check I'll do it

[2021-09-01 09:36] syuu1228 commented on #9273
@pveentjer Could you tell me more detail of the environment, which instance type are you using, and which AMI image?
Most important thing is, is it baremetal instance or normal VM instance?
And did you run CPU scaling setup in scylla_setup, and does it succeed or failed?
If you never run CPU scaling setup, it just removes tuned and does not configures /etc/sysconfig/cpupower, may causes performanc

[2021-09-01 09:57] pveentjer commented on #9273
Hi @syuu1228 if you want I can give you a reproducer so you can play with it.

Region: us-east-2
 #  4.2.2
ami-05e2aa6cb51bef7fa

instance-type: i3.2xlarge and i3en.metal. I noticed it on the i3en.metal and downgraded to a cheaper instance for debugging. So it is a problem with bare metal and virtualization.

"And did you run CPU scaling setup in scylla_setup, and does it succeed or failed?"
This

[2021-09-01 10:01] syuu1228 commented on #9273
Hmm, I actually able to configure CPU scaling governor on i3.2xlarge instance, which is running in Xen hypervisor:
[code]

scylla_cpuscaling_setup also succeed to run, but it is latest version which include fix for #9191:
[code]

Maybe why I misunderstood that these VM environments does not supported CPU scaling governor configuration is because of #9191, it possibly keep failing to detect scaling

[2021-09-01 10:01] pveentjer commented on #9273
It isn't a scaling problem. I believe the script doesn't get called.

[2021-09-01 10:03] syuu1228 commented on #9273
[code]
Ah, make sense. In that case CPU scaling configuration leave not optimal.

[2021-09-01 10:05] pveentjer commented on #9273
Yes. So if something in front of the scylla_cpuscaling_setup call in the scylla_setup fails, the scylla_cpuscaling_setup won't run. And my current candidate is the node exporter functionality. Perhaps duplicate installation problems.

[2021-09-01 10:05] nyh commented on #9275
@Felix-zhoux can you try to increase the `migration_manager` log level, perhaps we'll get additional logging messages.

It is reasonable that after a node has been down for 30 hours, it is missing the latest version of the schema so needs to pull it. However, what appears bad here is that it seems to be doing this in a loop, without converging. @asias do you have any idea why this might be happeni

[2021-09-01 10:10] syuu1228 commented on #9273
@pveentjer So I suppose it similar (or same) problem as #8017, correct?

[2021-09-01 10:13] gleb-cloudius commented on #9275
Shema pull we affect the latency of any operation since it wait for schema synchronization before completing an operation , but it should have happened only once.

[2021-09-01 10:13] pveentjer commented on #9273
I could be. But perhaps something else is the cause.

scylla-machine-image/aws/ami/files/scylla_install_ami

You can find a call:

[code]

My guess is that the script fails with an error, but the error is ignored.

[2021-09-01 10:39] syuu1228 commented on #9273
@pveentjer I just succeed reproduce the governor issue on 4.2.2 AMI, will try to investigate more detail of the problem.

[code]

[2021-09-01 11:04] slivne commented on #9053
@nyh / @gleb-cloudius - there is a load running with per table metrics - so you can check it out

[2021-09-01 11:05] slivne commented on #9053
Running a load without MV's trying to see if this related

[2021-09-01 11:08] syuu1228 commented on #9273
Okay I understood what is happening.
It is not only 4.2.2 problem but unexpectedly fixed by e5bb88b (#9191), so I confirmed it fixed on latest 4.5.rc6 AMI (it should also on latest versions of 4.3, 4.4 since we backported the patch).

On EC2 instance startup, we don't run scylla_setup nor scylla_cpuscaling_setup:
[code]
https://github.com/scylladb/scylla-machine-image/blob/branch-4.5/common/scylla

[2021-09-01 11:08] slivne commented on #8418
reverted on 4.5 should be checked on master

[2021-09-01 11:10] slivne commented on #9248
@avikivity we need a backport to 4.5

[2021-09-01 11:35] pveentjer commented on #9273
Scylla 4.3 and 4.4 are broken as well btw. I checked them yesterday.

Here is a document where I verified a whole bunch of Scylla versions:
https://docs.google.com/document/d/1GuW7LP8LIzGS-4Z-EFIGPsGFSaM4nDPexAYkE557QFg/edit?usp=sharing

[2021-09-01 12:09] slivne commented on #8418
Reverted from 4.5 - will be part of 4.5.rc7

[2021-09-01 13:05] nyh commented on #9275
I asked around, and it turns out that in some rare cases (which we still haven't managed to completely fix), the schema on different nodes can get out of sync and fail to synchronize. We have an FAQ entry about this - https://docs.scylladb.com/troubleshooting/error_messages/schema_mismatch/
That link explains how to verify that you have this problem, and if you do, how to solve it with a "rolling

[2021-09-01 17:21] #9272 closed

[2021-09-01 17:21] #9276 closed

[2021-09-01 18:56] ViperRu opened #9277 "Bind to socket does not use the option listen_interface."
Scylla version (or git commit hash): 4.4.4
Cluster size: no influence
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.9

Platform (physical/VM/cloud instance type/docker): VM

The setting listen_interface does not work. I have interface ens192 (192.168.11.10/24) and I tried:
1. Remove listen_address and set listen_interface: ens192
2. Remove listen_address and set listen_interface: 192.168.11.0/24
3. Se

[2021-09-02 06:24] bhalevy opened #9278 "load_and_stream_increase_cluster_test: seastar::debug_shared_ptr_counter_type::check() const: Assertion `_cpu == std::this_thread::get_id()' failed."
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/564/artifact/logs-all.debug.2/1630534973445_migration_test.TestLoadAndStream_with_3_0_md.load_and_stream_increase_cluster_test/node1.log
[code]

Decoded:
[code]

[2021-09-02 06:29] bhalevy commented on #9278
@asias, I think that the following is required to prevent copying the shared ptrs from other shards on shard 0:

[code]

[2021-09-02 07:25] pveentjer commented on #9273
Is there a way to start the above imagine and prevent any of the logic from running automatically? I would like to be able to trigger it by hand so I can see what is going on.

[2021-09-02 08:06] asias commented on #9278
Yes, makes sense.

[2021-09-02 10:28] ShlomiBalalis commented on #8418
I tried to recreate he issue with the kind of scenario that @roydahan suggested (a multidc longevity with internode_encryption set to 'dc'), and somehow recreated #2921
details:
Scylla version (or git commit hash): 4.5.rc6-0.20210817.88314fedf with build-id f1e63bebd85e29490480de9c25887e6078fa63f3
Cluster size: 9 (4,3,2 over 3 DCs)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-011f02dc29a254fd4 (eu-west-1)

[2021-09-02 10:40] ShlomiBalalis commented on #2921
Issue recreated during startup with 4.5.rc6:
I tried to recreate he issue with the kind of scenario that @roydahan suggested (a multidc longevity with internode_encryption set to 'dc'), and somehow recreated #2921
details:
Scylla version (or git commit hash): 4.5.rc6-0.20210817.88314fedf with build-id f1e63bebd85e29490480de9c25887e6078fa63f3
Cluster size: 9 (4,3,2 over 3 DCs)
OS (RHEL/CentOS/Ubunt

[2021-09-02 11:00] slivne commented on #9053
@gleb-cloudius ping

[2021-09-02 11:10] gleb-cloudius commented on #9053
The monitor is unusable. Unless you have hundreds of tables it should not be the case. How many tables you have?

[2021-09-02 11:29] nyh commented on #9053
Also, not being an expert in these tests, can you please help me decipher the workload (I saw the commands above, but don't know how to read them)? I know it is a mixture of reads and writes of some sort, but what percentage of requests are writes? Are *all* writes to a table with a materialized view or are there also tables without materialized view? Is there one materialized view per base table,

[2021-09-02 11:32] roydahan commented on #9053
The monitor for a new run without MV:
http://3.250.109.220:3000/d/nvkJ-a47z/longevity-50gb-3days-no-mv-scylla-per-server-metrics-nemesis-master?orgId=1&from=now-24h&to=now&refresh=30s

[2021-09-02 11:45] roydahan commented on #9053
There are 2 tables.

[2021-09-02 11:49] gleb-cloudius commented on #9053
On Thu, Sep 02, 2021 at 04:45:49AM -0700, Roy Dahan wrote:

Then I do not understand why the monitor is dead. 2 tables (together
with system once) would have added may be 100 counters. It should not
kill the monitor.

--
			Gleb.

[2021-09-02 11:56] nyh commented on #9053
What do I see here? Was node 203 the one being rebuilt?
It seems to me that node 203 is getting a lot less replica reads than the other nodes, as expected (right?), so we don't see the problem we had on the workload with the MV, right?

Something I don't understand is what happened around midnight - the number of replica reads on node 203 jumped almost instantly from 10k/sec to 40k/sec. The rate o

[2021-09-02 13:02] nyh commented on #9053
A graph from the MV-less run:
![a](https://user-images.githubusercontent.com/584227/131847551-fa627bb9-5939-4fa2-80a9-eadd8c25bc18.jpg)

I think the explanation why 203 is getting so little work (in the new MV-less case) is #8815 which we didn't (yet?) backport to 4.5:

* Before #8815,  we had in the code the constant `max_hit_rate=0.999`. This means that all nodes besides 203 - nodes that have pe

[2021-09-02 13:08] nyh commented on #9053
Please note that everything I said in the above comment doesn't explain the overloaded node problem we saw with the MV - quite the contrary - it explains an underloaded node problem (if it's even a problem...) that we saw in the MV-less run.

@roydahan do you see any other or more serious problem on the MV-less run?

[2021-09-02 13:10] gleb-cloudius commented on #9053
On Thu, Sep 02, 2021 at 06:08:21AM -0700, nyh wrote:

Can it be local reads that MV code does to build MV tables?

--
			Gleb.

[2021-09-02 13:35] nyh commented on #9053
Good question. Above I suggested it might be read-before-write of the MV **writes** that this workload has, but a more careful examination of the number shows that these reads explain less than half of reads we see.
So if I understand you correctly, you're suggesting now that in addition to constantly getting MV writes, we also get **view** building because this nodes is streaming in sstables and

[2021-09-02 13:45] gleb-cloudius commented on #8815
On Thu, Sep 02, 2021 at 06:09:58AM -0700, nyh wrote:

I am not sure that the issue is so serious that it warrants backporting.
OTOH the backport should be easy and safe.

--
			Gleb.

[2021-09-02 13:46] gleb-cloudius commented on #9053
On Thu, Sep 02, 2021 at 06:35:56AM -0700, nyh wrote:

As far as I understand the node is getting rebuilt.

--
			Gleb.

[2021-09-02 13:46] bhalevy commented on #2921
@asias can you please take a look?

[2021-09-02 13:55] fgelcer opened #9280 "latency during manager repair - seastar::httpd::connection::generate_reply"
*Installation details*
Scylla version (or git commit hash): `4.6.dev-0.20210826.acf8da2bc with build-id 71fb045f8909118455d0a862c66577573f5fedd2`
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0a701679597da0185`

during this week's latency report during ops, there was a regression for `disrupt_mgmt_repair_cli` on write workload:
[code]

these stalls happened during the specific nemesis ONLY

[2021-09-02 14:19] ShlomiBalalis commented on #2921
@asias Also, please let me know if we need to keep the cluster alive (or part of it)

[2021-09-02 14:58] #9269 closed

[2021-09-02 18:50] tzach opened #9283 "Log point to a non exiting doc in Apache Cassandra Wiki"
*Installation details*
Scylla version (or git commit hash): master

[code]
https://github.com/scylladb/scylla/blob/master/service/storage_service.cc#L558

Page http://wiki.apache.org/cassandra/Operations does not exist any more.

[2021-09-02 18:50] tzach commented on #9283
Same issue in docs:
https://github.com/scylladb/scylla-doc-issues/issues/793

[2021-09-02 19:49] roydahan commented on #9268
@slivne this is missing from 4.5.
What do we do we this?

[2021-09-02 20:04] nyh opened #9285 "HWLB may wrongly forward a CL>1 read more than once to the same node"
Heat-Weighted Load Balancing (see [design document](https://docs.google.com/document/d/1M-gRlPDPvqB8mWKBV1ix3AX29JCOX11zgVrtO2bf--E) and [blog post](https://www.scylladb.com/2017/09/21/scylla-heat-weighted-load-balancing/) ) is way for a coordinator to pick CL replicas out of N to forward read requests to, while achieving an equal number of _cache misses_ on all replicas.

Unit tests that I wrote

[2021-09-02 20:09] #9158 closed

[2021-09-02 20:09] #9278 closed

[2021-09-03 07:17] asias commented on #2921
Hi, I do not need the live cluster. You can terminate.

[2021-09-03 07:21] asias commented on #2921
Looking at the log, I can confirm that node 2 is stuck at the schema id 59adb24e-f3cd-3e02-97f0-5b395827453. We had this problem in the past. Perhaps we hit it again.
[code]

Features enabled on node 1 and 2 are identical.

[code]

[2021-09-03 07:56] Felix-zhoux commented on #9275
@nyh  I set migration_manager log level to trace and collected logs of 3 nodes for about 5 minutes.
After the HOSTNAME-01 node (not the failed node) restarted the service, an abnormal LWT delay also occurred.
The HOSTNAME-02 node (faulty node) delay problem still exists
The HOSTNAME-03 node (not the failed node), did not restart the service, the delay was normal.

Here is the log:
[endless loop of

[2021-09-03 07:57] Felix-zhoux commented on #9275
@nyh  I set migration_manager log level to trace and collected logs of 3 nodes for about 5 minutes.
After the HOSTNAME-01 node (not the failed node) restarted the service, an abnormal LWT delay also occurred.
The HOSTNAME-02 node (faulty node) delay problem still exists
The HOSTNAME-03 node (not the failed node), did not restart the service, the delay was normal.

Here is the log:
[endless loop of

[2021-09-03 08:55] aleksbykov commented on #9053
Issue was reproduced with next scylla-version:
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.rc6-0.20210817.88314fedf`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-longevit-db-node-0a30abb8-1 (16.170.172.168 | 10.0.2.145): 14 shards
   longevity-tls-50gb-3d-longevit-db-node-0a30abb8-2 (16.170.159.226 | 10.0

[2021-09-03 14:11] nyh commented on #9053
I haven't yet looked at the latest monitoring results, but just want to note that I just sent to the mailing list a patch with a new unit test for HWLB's calculations, which makes it unlikely (though not impossible) that HWLB is to blame for the overloading of the cold-cache node. The test confirms that HWLB in all cases tested results in the correct distribution of requests, and wouldn't have cau

[2021-09-03 22:25] slivne commented on #9053
highlighted part

4.5.rc6
http://13.51.238.56:3000/d/detailed-4-5/detailed?orgId=1&from=1630605222669&to=1630643677456

please check the hwlb metrics look the same

4.4.4 metrics please look at them as well - it seems they also have places "stuck".

With regards to MV I think the following commit part of 4.4.4 and 4.5 maybe relevant

commit c66661c5824fe075fd0729fb09818d849dfc4822
Author: Piotr Sa

[2021-09-05 06:45] bhalevy opened #9287 "cdc do_update_streams_description error: Can't find a column family with UUID fdf455c4-cfec-3e00-9719-d7a45436c89d"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/921/testReport/junit/upgrade_test/UpgradeTestFrom40ToLast/test_cluster_upgrade/
[code]

It looks like cdc updates streams description very early in the start up process, before all other nodes complete their setup of the `system_distributed.cdc_generation_timestamps` table.

https://jenkins.scylladb.com/view/maste

[2021-09-05 07:01] bhalevy opened #9288 "scrub ABORT should not rewrite valid sstables"
In ABORT mode scrub *rewrites* all valid sstables and ABORTs on the first validation issue, if found.
Since it doesn't fix any error in this mode, there is no point in rewriting all valid SSTables it scrubs - it can happily be read-only, and reuse the validation logic, just abort the process on first validation error.

[2021-09-05 07:02] bhalevy commented on #9288
Cc @denesb @raphaelsc

[2021-09-05 07:20] bhalevy opened #9289 "scrub compaction doesn't return an error status to the api caller if it finds any invalid parts"
Currently (b3f4a37a7) it looks like we just count some of the validation errors we hit in `_stats.errors`, when we hit e.g. a malformed sstable exception (meaning the sstable is screwed and can't be validated).
See https://github.com/scylladb/scylla/blob/b3f4a37a758e5f77ba7f932203aa56fe98b48755/compaction/compaction_manager.cc#L805

Validation errors, e.g. like invalid partition, don't seem to be

[2021-09-05 07:20] bhalevy commented on #9289
Refs #9288

[2021-09-05 07:20] bhalevy commented on #9289
Cc @denesb @raphaelsc @amnonh

[2021-09-05 07:57] nyh opened #9290 "Deleting a row with a null clustering key is forbidden in Cassandra, ignored in Scylla"
Pull request #9286 by @dekimir fixed an earlier issue #7852 where attempting to insert a row with a null key appeared to succeed (while doing nothing), but should have resulted in an error.

After that fix, a similar problem remains in `DELETE` statements: The statement
[code]
results in an error in Cassandra, but is silently ignored in Scylla. It is only ignored in the clustering key `c` case. Fo

[2021-09-05 10:48] roydahan commented on #9053
The issue has reproduced on 4.4.4 as well.
It took 48h but eventually reproduced.

Monitor:
http://13.48.106.148:3000/d/whD2iEVnz/4-4-4-table-stats-1nemesis-longevity-50gb-3days-scylla-per-server-metrics-nemesis-master?orgId=1&from=1630756395763&to=1630772552557

detailed dashboard at the time of the issue: http://13.48.106.148:3000/d/detailed-4-4/detailed?orgId=1&from=1630757352987&to=16307651268

[2021-09-05 11:07] slivne commented on #9053
As it reproduced on 4.4.4 we do not consider this a blocker and will continue to investigate - while this doesn't block 4.5 for now

[2021-09-05 11:08] #7852 closed

[2021-09-05 11:15] slivne commented on #9268
to late in the cycle to backport to 4.5 - we are not going to backport - this will be releases as part pf 4.6

[2021-09-05 11:15] #9268 closed

[2021-09-05 11:27] nyh commented on #9275
I'm not an expert in the schema-changes code (I hope @gleb-cloudius is a bit more than me), but I want to try to summarize what I see:

At some point, the schema of your table changed to `4ab58b56-cfa0-3805-99c1-64d0e36bc6cd`. This is what you see in `nodetool describecluster`, and in your log of the rebooted (but otherwise fine!) node we see in the beginning that it also picked up this version af

[2021-09-05 11:31] nyh commented on #9268
Please remember to change the documentation - which today claims that this feature was added in 4.5 - accordingly. CC @lauranovich @tzach. I'll open a doc issue about that.

Also, I think we should have a specific dtest to check this feature, instead of relying on the longevity run to find it by accident. CC @aleksbykov

[2021-09-05 14:03] avikivity commented on #9278
Backported to 4.5, 4.4 did not have load_and_stream.

[2021-09-05 14:09] dekimir commented on #9290
I believe this only applies to clustering columns. Partition-column nulls are rejected by both Scylla and Cassandra.

[2021-09-05 14:14] roydahan commented on #9268
I think there is a dtest for it (https://github.com/scylladb/scylla-dtest/pull/2147) but for some reason (probably human error) it wasn't backported to 4.5.

[2021-09-05 14:20] nyh commented on #9290
Thanks. I'll write a test to confirm this and update the issue text above.

[2021-09-05 14:22] nyh commented on #9268
Thanks, makes sense. But isn't that ironic - a bug that was caused by forgetting to backport a feature, wasn't caught because we also forgot to backport the test :-)

[2021-09-05 14:28] roydahan commented on #9268
Yep, our process with these type of things isn't great.

[2021-09-05 14:30] dekimir commented on #9290
There already is a test in #9286, see the xfail comment.

[2021-09-05 14:34] avikivity commented on #9248
Backported to 4.5. New in 4.5 so no earlier backports.

[2021-09-05 14:37] nyh commented on #9053
I don't understand what I'm seeing there at all. The "Reciprocal Miss Rate" graph shows wildly different lines for the different nodes, 2 or 3 nodes show almost perfect cache (rmr = 100 - @amnonh can correct me but I think it is cut off at 100 completely arbitrarily, and may actually be 1000) while 3 or 4 others have very low - rmr as low as 2 indicates just a 50% cache hit rate. As a result we se

[2021-09-05 14:49] roydahan commented on #9053
This test is a run of  the same nemesis over and over till the issue has reproduced.
Every time the nemesis run it can pick a different node.
So, in this case it make sense that some of the other nodes has a cold cache because they may have rebooted few minutes earlier by the nemesis.

[2021-09-05 14:50] nyh commented on #9290
Thanks. I edited the issue text and title above to correct it for the fact that the problem is just for null clustering key, not partition key.

[2021-09-05 14:58] nyh commented on #9053
Are you saying that in the montitor sent by Shlomi, http://13.51.238.56:3000/d/detailed-4-5/detailed?orgId=1&from=1630605222669&to=1630643677456 - spanning about 7 hours - there were actually multiple nodes being rebooted and rebuilt?  Could it be that the same node is doing this multiple times? E.g., node 210 seems to begin the period that Shlomi highlighted with a cold cache, and then the cache

[2021-09-05 19:13] slivne commented on #9239
@ManManson can we close this

[2021-09-05 19:44] #9243 closed

[2021-09-05 22:00] michoecho opened #9292 "On ARM, node_update_backlog uses a mutex, causing cache line thrashing"
`node_update_backlog` has a `std::atomic<update_backlog> _max;` field, which is used in `node_update_backlog::add_fetch()`. The size of `update_backlog` is 16 bytes, but base aarch64 has no 16-byte atomics, so all accesses to `_max` happen under a mutex. This causes cache invalidations on every write query. Similarly to #9252, this causes an extreme performance loss (up to 90%) on NUMA machines, s

[2021-09-05 22:14] michoecho commented on #9292
I somehow missed this when investigating #9252. But now I'm sure that this is the only other bug of this kind.

[2021-09-06 05:44] haaawk commented on #9292
@pveentjer found also this shared atomic in io scheduler:
https://github.com/scylladb/seastar/blob/c04a12edbd6e1102edd31bf6779533a3bb69d59f/include/seastar/core/fair_queue.hh#L176

Can it be a problem too?

[2021-09-06 06:20] #9273 closed

[2021-09-06 06:20] roydahan commented on #9053
Yes, any node can be restarted in each nemesis, they are picked randomly.

Yes, if you turn on “Normal events” you’ll see grafana annotations at each point a node restarted.

[2021-09-06 07:00] xemul commented on #9248
@avikivity , I believe 1d857d604ac73bfbf2ba5eef72f8c44b98ef1bf7 is also needed in 4.5. If btree is shorter than it was in this bug then we may step on another assert.

[2021-09-06 08:18] avikivity commented on #9248
Backported that too.

@xemul @bhalevy I'd like to understand why it took us so long to discover these bugs. They're at a very low level so they should not be rare. Did we not have fault injection tests at the unit test level, or did they just miss those bugs? And what about the system-level fault injection tests?

[2021-09-06 09:34] michoecho commented on #9292
This one is 8-bytes wide, so it isn't going to cause thrashing on reads (it also has a static_assert for is_always_lock_free to confirm this). But it can be a problem if it's written a lot (e.g. on every query). Is it?
We can search for thrashing reliably by launching scylla on one node on a NUMA machine and sending all memory to the other node. I did that for a writes-to-memory workload, and chec

[2021-09-06 09:43] xemul commented on #9248
@avikivity , the btree-specific fault injection test did caught it, but I wrote it specifically for this bug. When the btree branch was merged it wasn't there, I expected the higher-level `test_exception_safety_of_...` to check that part, but apparently I was wrong.

[2021-09-06 09:52] roydahan commented on #9192
still reproduces consistently with 4.6.dev-0.20210826.acf8da2bc

[code]

download_instructions=gsutil cp gs://upload.scylladb.com/core.scylla.113.d57f5b56f9364daebdbc8316da21672a.11177.1630738764000000000000/core.scylla.113.d57f5b56f9364daebdbc8316da21672a.11177.1630738764000000000000.gz .
gunzip /var/lib/systemd/coredump/core.scylla.113.d57f5b56f9364daebdbc8316da21672a.11177.163073876400000000000

[2021-09-06 10:07] avikivity commented on #9248
Unit tests missing things happens, I wonder why the system-level fault injection tests missed it. Or perhaps they caught it, and it took us a long time to pinpoint it?

[2021-09-06 10:09] avikivity commented on #9292
/cc @psarna @nyh

[2021-09-06 10:15] avikivity commented on #9292
I think we should use smp::submit_to/sharded::invoke_on_all() to collect measurements, and drop std::atomic completely. This is partially motivated by a Seastar purist approach, but I think we've show that it's also practical. At least with Seastar the cross-shard communication is concentrated in one place where it can be prefetched (although, seastar::foreign_ptr can be used to bypass it).

[2021-09-06 10:16] avikivity commented on #9292
I think that's not shared across numa nodes, so latency is limited to local L3. @xemul please confirm.

[2021-09-06 10:17] haaawk commented on #9292
That's correct.

[2021-09-06 10:22] avikivity commented on #9292
L3 is much faster than cross-node communication. It's better to avoid it too, but in this case I/O latency is much lower than smp::submit_to latency (20-100us vs 500us) and we do need the lower latency.

Usually the CPU out-of-order execution is sufficient to hide L3 latency.

[2021-09-06 10:46] xemul commented on #9292
Unless explicitly requested with `--num-io-groups` the group is one-per-numa-node, so are the rovers.

[2021-09-06 11:10] michoecho opened #9294 "On NUMA machines, half of the shards are moderately slower, due to .text being on the other node"
Related to #9252. While sharing .text across NUMA nodes is nowhere near as bad as inter-node cache thrashing, it's definitely not performance-neutral. For example, in a write-to-memory throughput test on Ampere A1, moving .text (and nothing else) to the other node reduces the IPC from ~1 to ~0.65, and reduces the throughput accordingly.
Unlike with thrashing, the strength of this effect does not s

[2021-09-06 11:19] avikivity commented on #9294
There's lots of prior art about it, we should look at existing work. This is something best solved in the kernel.

[2021-09-06 11:22] avikivity commented on #9294
Although, I don't see how Linux can map the same virtual address to two physical addresses, since all threads share the same page table. It could be done in principle (by unsharing the page tables) but in practice it would be a monumental effort.

[2021-09-06 11:23] avikivity commented on #9294
Function pointers break it.

[2021-09-06 11:24] avikivity commented on #9294
Some prior art: https://lwn.net/Articles/45334/

[2021-09-06 11:27] avikivity commented on #9294
What's L3 size on that system? Because code should be cached in L3.

Perhaps we should relieve L3 by storing only on copy of read-only metadata (such as token_metadata) per NUMA node, not per shard. /cc @bhalevy

[2021-09-06 11:41] michoecho commented on #9294
Right. But maybe only partially? Executing half of the code from remote .text should be better than executing all code from remote .text.

This system has 64KiB of L1i, 64KiB of L1d and 1MiB of L2 per core and 32MiB of L3 (called System Level Cache in the docs) shared between cores. But I'm not sure if this L3 can cache memory belonging to the other node. I think I was doing some synthetic experim

[2021-09-06 11:47] michoecho commented on #9294
Or, maybe more accurately, it *is* in L3, but in remote L3, so we still need a remote access.

[2021-09-06 11:58] avikivity commented on #9294
I think it's indeed a memory-side cache (so after coherency) and doesn't cache remote data. If so I don't think we can support such a machine well. Other NUMAs have real L3s.

They should be able to share if those lines are read-only.

[2021-09-06 12:01] avikivity commented on #9294
According to https://amperecomputing.com/wp-content/uploads/2021/06/Altra_Rev_A1_DS_v1.10_20210612-1.pdf (section 2.5) this is a memory-side cache, and so won't cache remote data.

[2021-09-06 12:06] avikivity commented on #9294
Well, we can improve things by relieving L2 instead of L3 by reducing the amount of duplicated read-only metadata. But without a real L3, we can't recommend NUMA configurations of this processor.

[2021-09-06 12:42] michoecho commented on #9294
So here's a experiment for that: we allocate a 8KiB array on the remote node, and a 1MiB array on the local node. We spawn one thread on core 0 to read the remote array in a loop (so the entire array is in its L1 cache), and we spawn a thread on core 1, which reads the 1MiB array and then the 8KiB array in a loop. This is done so that the 1MiB array forces the 8KiB array out of core 1's L2 cache.

[2021-09-06 13:09] karol-kokoszka opened #9297 "No possibility to audit DML, DDL logs for all keyspaces."
In scylla-cloud, we would like to monitor, what exactly the end user is doing during his/her free-trial period. We want to  answer the question, whether the 3 hours that we give customers to work with free-trial clusters, is enough.

To achieve that goal, we think about observing scylla-audit logs in one of our log observation tools - Logzio.
There is one piece of the puzzles missing that stops us

[2021-09-06 13:43] avikivity commented on #9294
I misread your comment. I thought you asked about a local-node line among local cores.

Although I think the problem we see is more subtle. If a line is available in L2 of any core in the system (local or remote), we should read from L2, not memory. I think the remote access is for the directory, since the directory for a line is local to the node that owns the line.

I think this happens:

c1n0:

[2021-09-06 14:23] avikivity commented on #8893
Backported to 4.5, 4.4, 4.3.

[2021-09-06 15:08] #9297 closed

[2021-09-06 20:36] fee-mendes opened #9299 "Tracing - Prepared Statement params truncates at 64 characteres"
[trace_state.cc](https://github.com/scylladb/scylla/blob/master/tracing/trace_state.cc#L311) currently truncates all Prepared Statement parameters at 64 characters, therefore a tunable feels necessary.

This affects the ability to trace queries, such as IN clauses affecting several partitions. Given the following table:

[code]

The following Prepared Statement will not reveal on how many keys our

[2021-09-07 06:03] bhalevy opened #9300 "testNowToUUIDCompatibility is flaky"
Seen occasionally several times in next promotion tests:

https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3932/testReport/junit/cassandra_tests.validation.entities/type_test/Test___testNowToUUIDCompatibility/
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3938/testReport/junit/cassandra_tests.validation.entities/type_test/Test___testNowToUUIDCompati

[2021-09-07 10:41] bhalevy opened #9302 "cql3: keyspace prepare_options: replication_factor is auto-expanded only for short NetworkTopologyStrategy name"
https://github.com/scylladb/scylla/blob/69275f02fd84db9fee3288cdf3d00b10d40c859e/cql3/statements/ks_prop_defs.cc#L58

Should match also `org.apache.cassandra.locator.NetworkTopologyStrategy`, but it won't.

Introduced in 9bf4fe669f (in scylla-3.2.0)

[2021-09-07 11:26] bhalevy commented on #5349
Still hitting this.
Seen in a branch based on 69275f02f
[code]

Full log:
[row_cache_test.109.log.gz](https://github.com/scylladb/scylla/files/7121026/row_cache_test.109.log.gz)

Unfortunately the failure isn't reproducible when given the same seed.

Cc @tgrabiec @xemul

[2021-09-07 11:35] bhalevy opened #9303 "test_commitlog_discard_completed_segments: check descs == decltype(descs){} has failed"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3942/testReport/junit/test_boost_commitlog_test.cc/test_boost_commitlog_test/test_commitlog_discard_completed_segments/
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3942/artifact/output_test_debug.txt
[code]

[2021-09-07 11:42] bhalevy commented on #5349
Also seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3918/testReport/test_boost_row_cache_test.cc/test_boost_row_cache_test/test_concurrent_reads_and_eviction/
[code]

Unfortunately, https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/3918/artifact/output_test_dev.txt seems truncated.

[2021-09-07 13:14] tzach commented on #9297
Audit is a Scylla Enterprise feature.

[2021-09-07 14:14] elcallio commented on #9303
I can't repro this, but from experience it is of course a lingering segment pointer during shutdown. Can probably be fixed by doing discard_unused_segments() + clear_reserve_segments() one more time after co_await std::move(_reserve_replenisher). But I can of course not swear to it...

[2021-09-07 16:14] avelanarius opened #9306 "When only CQL server fails to start, Scylla enters infinite loop of "storage_proxy - Exception when communicating with 127.0.0.1, to read from system_distributed.service_levels: seastar::gate_closed_exception (gate closed)""
Tested on newest master (69275f02fd84db9fee3288cdf3d00b10d40c859e), 1-node cluster.

When only the CQL server fails to start (for example if the native transport port is already taken), but other services start correctly, Scylla enters an infinite loop of:

[code]

No error is printed (that port 9042 is already taken), making it very hard to debug the issue for the user. @Lorak-mmk spent a substan

[2021-09-07 16:25] xemul commented on #9306
Just a wild guess. The `sl_controller.drain` is not yet registered by that time, but likely should be because of explanation from ccdef39d .
cc: ... hmm ... maybe @psarna ?

[2021-09-07 16:41] avelanarius commented on #9306
cc: @bhalevy (who introduced `defer_verbose_shutdown("service level controller update loop", ...)` in 90e51811928e1edbba0a00b86d89951a7f545c8f)

[2021-09-07 17:21] psarna commented on #9306
Yeah, sounds like yet another deinitialization order fiasco. Since every post above contains a cc, I'll also add one to keep the tradition. cc: @eliransin

I'll take a look at this failure though, sounds like the fix should be rather simple

[2021-09-07 18:17] psarna commented on #9306
update: `seastar::gate_closed_exception` sounds like an annoying side-effect, but it doesn't look like the root cause. For some reason, this line hangs forever if the CQL server fails to start:
https://github.com/scylladb/scylla/blob/69275f02fd84db9fee3288cdf3d00b10d40c859e/database.cc#L2092

I verified the hypothesis by changing main.cc to drain sl_controller sooner - the annoying logs stop, but

[2021-09-07 18:18] psarna commented on #9306
(or maybe `sl_controller` **would** also cause the process to hang, but it simply hanged sooner due to another root cause)

[2021-09-07 21:47] vladzcloudius commented on #8920
I agree.
The impact is as you have described.

[2021-09-08 08:31] psarna commented on #9306
Looks like cc'ing me was a good shot anyway - I see that the shutdown procedure is stuck because the system reader concurrency semaphore waits for one of its permits to be destroyed, but this permit is for some reason held by the view builder. Will continue investigating

[2021-09-08 08:58] psarna commented on #9306
fix: https://github.com/scylladb/scylla/pull/9308

[2021-09-08 11:36] pveentjer opened #9309 "AWS scylla 4.5 rc6 powersafe instead of performance governor."
When running the following AMI on us-east2 `ami-066b728081909dbe3` which is 4.5rc6, the governor isn't set correctly.

cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
powersave

It should be 'performance'.

[2021-09-08 12:35] #8869 closed

[2021-09-08 12:57] bhalevy opened #9310 "Scrub/validate enters an infinite retry loop when hitting a malformed sstable"
Seen with scrub_with_one_node_expect_data_loss_test dtest
that injects random bytes into an existing sstable:
[code]

[2021-09-08 12:59] bhalevy commented on #9310
The `validate/abort` mode is an artifact of WIP code for https://github.com/scylladb/scylla/issues/9288
but I see no reason that wouldn't happen with the same test case running scrub/validate.

[2021-09-08 13:07] bhalevy commented on #9310
scrub in non-validate modes stops the compaction job if it hits a malformed sstable exception, in
https://github.com/scylladb/scylla/blob/58a9a24ff0b383ef4fa31407c37ea09cbb3a5ab8/compaction/compaction.cc#L1418-L1425

But validate should just report it as an invalid sstable and move on to validate the next one.

We need to think about what should SEGREGATE and SKIP modes do with malformed sstables

[2021-09-08 13:31] bhalevy commented on #9310
Cc @slivne @avikivity @raphaelsc

[2021-09-08 14:13] vladzcloudius commented on #6757
@arita37 Please, send us the output of following commands:

[code]

Thanks.

[2021-09-08 14:56] dekimir opened #9311 "Scylla rejects deletions with empty-tuple restrictions"
This is an unintended consequence of 1fdaeca7d.

Scylla:
[code]

Cassandra:
[code]

[2021-09-08 16:19] bhalevy opened #9313 "disable_auto_compaction doesn't stop ongoing compactions"
The api call disables new regular compaction jobs from starting but it doesn't wait for ongoing compaction to stop and so it's much less useful.

Returning after stopping regular compaction jobs and waiting for them to stop guarantees that no regular compactions job are running when `nodetool disableautocompaction` returns successfully.

[2021-09-08 16:24] raphaelsc commented on #9313
good catch. without waiting for ongoing compactions, it could happen that compactions will only cease once the underlying strategy is satisfied.

[2021-09-08 16:33] bhalevy commented on #9310
Closing.  This was caused by a bug in my code for #9288

[2021-09-08 16:33] #9310 closed

[2021-09-08 16:34] bhalevy commented on #9313
@raphaelsc I sent a couple patches to the mailing list:
[code]

[2021-09-08 22:22] syuu1228 commented on #9309
@pveentjer On Ubuntu AMI, seems like situation is bit different, scylla_cpuscaling_setup is not executed on AMI building time.
So cpufrequtils package is not installed on the system, governor setting is not executed:
[code]
Even though, on i3.2xlarge governor is correct:
[code]
But i3en.metal has incorrect governor:
[code]

Not sure where the difference coming from, but it should be configure prop

[2021-09-09 00:19] syuu1228 commented on #9309
Okay, I confirmed latest next build (ami-0725f7b355c805aa3) can configure scaling_governor correctly on i3en.metal.
But when I logged in the instance, scaling_governor was `powersave`.
After I waited few minutes, scylla_image_setup completed RAID construction and executed scylla_cpuscaling_setup, scaling_governor become `performance`.
 This is because I inserted scylla_cpuscaling_setup middle of t

[2021-09-09 00:59] syuu1228 commented on #9309
Created new PR to run scylla_cpuscaling_setup earlier: https://github.com/scylladb/scylla-machine-image/pull/202

[2021-09-09 06:32] pveentjer commented on #9309
There is still weird behavior. I have an instance running for 1.5h. I have not executed any CQL query (also didn't load any data). And it is still running on 'powersave' governor.

[code]

[2021-09-09 06:33] nyh commented on #9247
The regression (from commit e96ff3d82d48c41f428e6fb2f622454da0c36cdf) did not reach any release branch (4.5 or earlier), so no need for backports.

[2021-09-09 07:30] pveentjer commented on #9309
I have waited 45m and I still see the powersave governor

[code]

[2021-09-09 08:38] ManManson commented on #9239
Yes, will close now.

[2021-09-09 08:38] #9239 closed

[2021-09-09 11:04] pveentjer commented on #9309
The behavior is very unpredictable. I just started a new instance and I immediately get 'performance'

[2021-09-09 15:15] #9290 closed

[2021-09-09 15:15] #9311 closed

[2021-09-09 17:22] roydahan opened #9316 "Segmentation fault during "nodetool drain""
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210905.1fdaeca7d with build-id 726fc79636f4398d886fd05fc03ed920d7576be7`
Cluster size: 4 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-200gb-48h-verify-limited--db-node-455a668c-1 (52.3.233.140 | 10.0.1.103): 14 shards
   longevity-200gb-48h-verify-limited--db

[2021-09-10 11:02] AnatoliyValeev commented on #8642
@sfroment seems it works for me. Thank you!

[2021-09-10 14:56] #9256 closed

[2021-09-10 16:10] YeminLi opened #9318 "seastar::named_semaphore_timed_out (Semaphore timed out: _read_concurrency_sem) and high read latency"
- [ ] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.2.3-0.20210104.24346215c2
Cluster size: 15 i3en.6XL
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores=

[2021-09-10 16:37] denesb commented on #9241
TODO
- [ ] JSON output for dump.
- [ ] A simple way of generating schema.cql for any schema, other than copying it from snapshots, or copying from cqlsh. None of these generate a complete output.
- [ ] Relax sstable path checks, so sstables can be loaded from any path.
- [ ] Add scripting support (Lua), allowing custom operations to be written in a scripting language.

[2021-09-10 18:53] bhalevy commented on #9241
I'd like to add also reverse JSON - i.e. writing a sstable from JSON input.

[2021-09-10 20:04] bhalevy commented on #9300
@nyh please look into this issue.
Those tests fail quite frequently in next promotion.

[2021-09-12 05:56] nyh commented on #9300
@bhalevy you're absolutely right. I'll send a patch.

[2021-09-12 07:08] nyh commented on #9300
@bhalevy on second thought, the issue is much less clear-cut than I thought and maybe we uncovered a real bug?

now() is documented to return a **unique** timeuuid (see https://docs.datastax.com/en/cql-oss/3.3/cql/cql_reference/timeuuid_functions_r.html). When called on the same coordinator twice in quick succession, it may indeed return the have millisecond portion, but still, the other parts sho

[2021-09-12 07:15] nyh commented on #9300
Issue #7729 suggests that `UUID::operator<` is an incorrect way of comparing timeuuids, so if we use that in `testNowToUUIDCompatibility`, it's not surprising we get unexpected results. But I am still not sure if or why Cassandra doesn't have the same problem (or maybe it does it's just too slow to catch).

CC @dekimir and @kostja who were interested in these timeuuid issues in the past.

[2021-09-12 08:16] avikivity commented on #8212
Backported to 4.3, 4.4 (already fixed in 4.5).

[2021-09-12 11:14] avikivity commented on #9316
Possibly e4bafe7dc7f13168244c5dda91c211a32de95562

[2021-09-12 11:15] slivne commented on #9316
@psarna avi thinks it may be related to a code change you did

[2021-09-12 11:22] slivne commented on #9096
@syuu1228 - QA complains that this is still happening

@roydahan - please provide the updated last run that has the issue happening.

[2021-09-12 11:28] bhalevy opened #9320 "hintedhandoff_sync_point_api_test fails: AssertionError: 'DONE' != 'IN_PROGRESS'"
This dtest was recently introduced in scylladb/scylla-dtest@770aa863d5e5b4ccc7ea7057d72a6a1f86fa9a45
but failed in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/927/testReport/hintedhandoff_additional_test/TestHintedHandoff/hintedhandoff_sync_point_api_test/
against scylla 83113d866136cd291368140ca39536e4e7511c4f
(that includes 1b618921becdaa9c7a9ffa8f59c7471cc954332

[2021-09-12 12:04] bhalevy commented on #9300
@nyh you're right. `now()` (calling `create_time_safe()`) does return a unique timeuuid, by incrementing the decimicroseconds count.
And we also had https://github.com/scylladb/scylla-dtest/issues/1963 which was solved by using Python `TimeUUID` class for comparison instead of straight UUID

[2021-09-12 12:06] bhalevy commented on #9300
should the schema use `timeuuid` rather than `uuid`?

[2021-09-12 12:17] KnifeyMoloko commented on #9096
Hi All,

the last run we saw these issue happen is here: https://jenkins.scylladb.com/job/scylla-master/job/artifacts-offline-install/job/artifacts-ubuntu2004-nonroot-test/184

The db logs show the same output as the one reported on by originally: https://cloudius-jenkins-test.s3.amazonaws.com/fffa5d52-e967-407a-b69d-1146845eb137/20210911_220746/db-cluster-fffa5d52.tar.gz

[code]

[2021-09-12 12:29] nyh commented on #9300
Unfortunately, the answer here is no: The test is called testNowToUUIDCompatibility specifically to test the UUID type, not TIMEUUID. Or at least, that's what I think it was trying to do. I'll try to review the history of this Cassandra unit test and why they thought it should pass. I also still don't know if the problem is really related to "same millisecond". In the past we had UUID ordering dif

[2021-09-12 13:06] avikivity commented on #8829
Backported to 4.3, 4.4, 4.5.

[2021-09-12 14:00] avikivity commented on #9300
The tested was added in July (8030461a2c2c8d2dc3fd4c30b945800528de4ef0) but only recently started being flaky. It's probably  a regression.

[2021-09-12 14:08] avikivity commented on #9300
High fail rate:

[code]

[2021-09-12 14:14] nyh commented on #9300
On my machine, it doesn't fail once in 1000 repeats:
[code]
So maybe it indeed has something to do with the machine's speed (maybe my laptop is to fast, or too slow, to reproduce this)?

[2021-09-12 14:16] avikivity commented on #9300
What's --count? I used --repeat 30.

[2021-09-12 14:16] roydahan commented on #8418
@elcallio are you waiting for us on this for master?

[2021-09-12 14:18] bhalevy commented on #9300
Maybe https://github.com/scylladb/scylla/issues/8816 caused a regression?

[2021-09-12 14:21] avikivity commented on #9300
I have 8/30 fails on the commit that introduced the test. I don't understand how we ever got next to pass, since with 3 test runs, the odds of passing are low. Maybe cql-pytest didn't get run and then we fixed it, introducing the failures.

[2021-09-12 14:24] nyh commented on #9300
"--count" is a pytest plugin. Running this test 1000 times this way takes just 30 seconds ;-)
I guess "--repeat" is from `test.py`, not pytest (or test/cql-pytest/run)? How do you use it to repeat just one test (and not the entire cqlpytest suite)?

[2021-09-12 14:39] avikivity commented on #9300
I ran the entire suite. Since I have >30 threads, this did not increase runtime.

[2021-09-12 14:41] avikivity commented on #9300
Running this command line got me:

[code]

I have no idea if it didn't work at all, or if a test failed.

[2021-09-12 14:42] avikivity commented on #9300
It fails with --count 1, so probably a systematic failure.

[2021-09-12 14:43] nyh commented on #9300
cql-pytest has been running for much longer than a month... Maybe it's really something like Benny guessed that it fails when two `now()` calls have exactly the same milliseconds (and then the sub-millisecond details aren't sorted as expected) and some recent improvement in your hardware or compiler or something changed the timing?

[2021-09-12 14:44] nyh commented on #9300
Sorry, you need to " pip install pytest-repeat" for the "--count" pytest plugin to work.
I see we have a bug that invalid options to pytest cause a mysterious test failure without any details. I'll open an issue about that.

[2021-09-12 14:46] avikivity commented on #9300
Ah, also available in a Fedora package. Nice that the package is named correctly (vs. the flag).

I get about 10% failures (or at least the letter F vs .).

[2021-09-12 14:46] avikivity commented on #9300
[code]

[2021-09-12 14:47] nyh commented on #9300
It's not really a bug, more of a mixup of standard output and error... If you do
[code]
with xxx an invalid parameter and "|&" is a shortcut for "2>&1 |", you get
[code]

[2021-09-12 14:48] avikivity commented on #9300
Yes, I only saw the tail of the log which had no relevant information, due to the huge amount of logging we do on startup.

[2021-09-12 14:49] avikivity commented on #9300
If it's the millisecond thing, I thing we should make now() monotonically increasing.

[2021-09-12 14:50] bhalevy commented on #9300
It is.  We suspect the uuid less operator not understanding the timeuuid encoding (version 1 uuid)

[2021-09-12 14:51] nyh commented on #9300
@avikivity If you can reproduce this issue, can you please try to modify this test and change "uuid" to "timeuuid"? If it will pass with "timeuuid", we will know it's a problem of different comparators for the two types (we know we have a "wrong" operator< for uuid).

[2021-09-12 14:53] ShlomiBalalis opened #9322 "2 nodes experiencing log freeze and have fluctuating gossip statuses after node restart"
*Installation details*
Scylla version (or git commit hash):4.5.rc7-0.20210906.edead1caf with build-id bcf5092fb1da0a426c8f125fe31a2e2570132a64
Cluster size:5
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-05465194f6654e712 (eu-north-1)
scenario: https://github.com/scylladb/scylla-cluster-tests/blob/branch-4.5/test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml

At `2021-09-10 14:17:50.261`, a

[2021-09-12 14:58] nyh commented on #9300
This test was added in Cassandra for https://issues.apache.org/jira/browse/CASSANDRA-6766 (Cassandra commit 9da742d5f83e1b2563be1c0d45a0e3d65a38ec44, from 2014).
It appears that originally, they now() could only be assigned to type `timeuuid`, but in that issue they wanted to also be able to assign it to `uuid`. Which is fine, but they also wanted it to preserve the order and I'm not sure if that'

[2021-09-12 15:04] bhalevy commented on #9300
hmm, @nyh what happens if the SELECT query runs on a different node or shard than the INSERT query?

[2021-09-12 15:07] nyh commented on #9300
This is a unit test that normally runs on one node and one connection (so one coordinator shard). But I guess you're right that this test doesn't make much sense running against a cluster (which you can do, with pytest, but won't automatically happen in our run script).
We could drop these tests, but I'm worried maybe it caught a real bug in our `uuid` sort order and I want to understand it before

[2021-09-12 15:09] avikivity commented on #9300
Maybe the flakiness started with 729d0feef0f12a13644d8f7c887323df49f53527 where we started using the scylla python driver. Before, we'd have just one connection reused. Now, we pick a random connection if the query is not token-aware, so we have a chance to fall off to a different shard like @bhalevy mentions.

@nyh try reproducing with the scylla python driver installed.

[2021-09-12 15:10] bhalevy commented on #9300
I just reproduced it under dbuild (but couldn't when running locally on my machine)

[2021-09-12 15:10] bhalevy commented on #9300
yes, this exactly what I think too.

[2021-09-12 15:19] roydahan commented on #9322
When looking at the journalctl on the nodes, it looks like ~2 hours after the freeze (an hour after the test stopped), the two nodes that were frozen started logging more messages:

node 1(13.48.84.84 | 10.0.3.98):
[code]

node 11 (13.51.6.148 | 10.0.1.37):
[code]

At some later point, while no load is running at all (AFAICT because the test is stopped), the nodes reported many "named_semaphore_ti

[2021-09-12 15:20] roydahan commented on #9322
@avikivity / @slivne if you want to take a look at the cluster, it's still alive.

[2021-09-12 15:30] avikivity commented on #9322
Both problem nodes had statement time at 8.4% (only one line is seen) during that period. Other nodes are at 0.

[2021-09-12 15:30] bhalevy commented on #9300
Reproduced with the following change:
[code]

And got this on failure:
[code]

[2021-09-12 15:30] avikivity commented on #9322
![Screenshot from 2021-09-12 18-29-21](https://user-images.githubusercontent.com/1017210/132993523-63651f2f-c2aa-4e0e-8ab9-25cee8adffec.png)

[2021-09-12 15:38] avikivity commented on #9322
Those two nodes also spin at 100% cpu in user mode (again showing as one line)

![Uploading Screenshot from 2021-09-12 18-37-10.png…]()

[2021-09-12 15:45] avikivity commented on #9322
But, they are no longer spinning, so can't use profiling to understand why.

[2021-09-12 15:51] avikivity commented on #9322
In shard view, we see that both nodes have shard 6 at 100%, all other shards at 0.

![Screenshot from 2021-09-12 18-50-45](https://user-images.githubusercontent.com/1017210/132994214-e37eb7e6-f8b9-4388-a1f8-5d8f67952d17.png)

[2021-09-12 15:53] avikivity commented on #9322
Interim conclusion is that a particularly bad query (probably read, since two shards were affected) took a huge amount of time and somehow killed all other queries.

[2021-09-12 15:56] avikivity commented on #9322
Those shards don't have excess memory allocations, so it's hard to believe that they are doing anything special. The operation seems to be yielding just fine.

[2021-09-12 15:59] avikivity commented on #9322
There is a difference in tasks_processed. Those nodes (shard 6) show 1600 and 1510 ops/sec. Other nodes/shards are <400.

[2021-09-12 16:01] avikivity commented on #9322
2k tasks processed would be exactly 0.5ms/task. So we probably have a computation in a thread/do_for_each that yields slightly less than when needed, does not do any allocations, and eventually terminates.

[2021-09-12 16:03] avikivity commented on #9322
An example of how it could happen is if we have a loop running 0xffff'ffff'ffff'ffff times instead of 3 times, due to some bug. If each iteration is 1usec, the loop would take ~1 hour.

[2021-09-12 16:08] avikivity commented on #9322
I see ports 7000/9042 are open. So it could be that something was "uploading" garbage to the nodes.

[2021-09-12 16:08] avikivity commented on #9322
Why are any ports open apart from ssh?

[2021-09-12 16:09] avikivity commented on #9322
I do see random connections:

[code]

[2021-09-12 16:15] avikivity commented on #9322
It could be this:

[code]

[2021-09-12 16:17] avikivity commented on #9322
Unfortunately, there is no counter for it.

[2021-09-12 16:21] avikivity commented on #9322
But there is no extra network activity for those nodes, so that's not it.

[2021-09-12 16:21] avikivity commented on #9322
So it's probably an evil query.

[2021-09-12 16:22] avikivity commented on #9322
@roydahan you can terminate the cluster. We'll need to reproduce it and get someone to look while the problem is happening.

[2021-09-12 16:23] bhalevy commented on #9300
@nyh, the following reproduces the issue:
[code]

A sleep of 1ms between INSERT and SELECT causes the (time)uuid values to differ also across shards.
Though it might not across nodes if their time skew is larger than 1 ms.

That aside, the data type should not matter, since we compare using the following logic if both uuid's are version 1 (timeuuid):
https://github.com/scylladb/scylla/blob/83113d8

[2021-09-12 19:15] nyh commented on #9300
I agree with @avikivity 's patch which disables those two tests because they are only guaranteed in a single-node single-shard cluster. We should consider closing this issue now - since our driver no longer has a single connection to a single cluster, this sort of test can never be re-enabled, and I think we don't need to consider any other solutions.

[2021-09-13 03:29] syuu1228 opened #9324 "scylla_cpuscaling_setup: On Ubuntu, scaling_governor becomes powersave after rebooted"
On Ubuntu 20.04 (very likely also on older versions), scaling_governor becomes powersave after rebooted, even we configured cpufrequtils.
This is because `ondemand.service`, it unconditionally change scaling_governor to ondemand or powersave.
cpufrequtils will start before ondemand.service, scaling_governor overwrite by ondemand.service.
To configure scaling_governor correctly, we have to disable

[2021-09-13 03:51] syuu1228 commented on #9324
Note: On EC2, even Xen based instances can set scaling_governor, we cannot reproduce this issue.
This is because of  `ConditionVirtualization=no`, ondemand.service will only run in baremetal machines.
To reproduce it on EC2, we need to use 'metal' instances.

[2021-09-13 03:52] syuu1228 commented on #9324
Related: #9309

[2021-09-13 05:46] bhalevy commented on #9300
@nyh although we can't guarantee monotonicity of the current time across nodes, and not required to across shards, a simple change can practically guarantee that on a single node, if `create_time_safe` just takes advantage of the system_clock nanoseconds resolution, like that::
[code]

@kostja, in change c83cf1f965f2b2fdb55f308aa08e4d5fd3dd2115 `create_time_safe` is defined to "Return decimicrosec

[2021-09-13 06:32] bhalevy commented on #3874
@tgrabiec we dropped the capability of writing the k/l formats.
Can this issue be put to rest?

[2021-09-13 06:50] bhalevy commented on #5113
@tgrabiec now with 678e4c0bb966a4e7f8f1d2669798311aa30433c6, reshape compaction (running as part of off-strategy compaction post repair), used `partitioned_sstable_set`, I think that we've covered the multi-partition (range) part.
Anything else remaining?

Cc @raphaelsc

[2021-09-13 07:58] elcallio commented on #9152
I would have to repeat the same question as @nyh... Which thread segfaulted? I am downloading the core, but at 64GB + all the hassle with trying to get a core debug up, I think a quick hint here would benefit us all...

[2021-09-13 08:16] denesb opened #9328 "reverse range-scans with LIMIT will return the first LIMIT rows reversed"
Reverse range scans work by first executing the read in forward direction then reversing the resulting results. This breaks in the presence of a LIMIT clause: the read will read the first LIMIT rows of the partition, then reverse the order of those, instead of returning the **last** LIMIT rows as expected.
This only affects Thrift since CQL doesn't allow reverse range scans.

[2021-09-13 09:39] avikivity commented on #9152
I'm guessing it's 18777, the first shown.

[2021-09-13 11:13] slivne commented on #7738
@raphaelsc we need the option to disable reshape on boot - the abort is ok if you want to fix something manually - but if you want todo automation its to complex - we need a command line option to allow disabling reshape.

[2021-09-13 11:23] bhalevy commented on #7738
@slivne we acted under @avikivity's guidelines here: https://github.com/scylladb/scylla/issues/7738#issuecomment-789642042
let's agree to agree on that before coding the option (which shouldn't be too complicated, but if we add it, we better also add a dtest for it)

[2021-09-13 11:27] bhalevy opened #9330 "Allow stopping compaction on given keyspace/table(s)"
Similar to `nodetool compact`, `nodetool stop` can also operate on a specified keyspace / table(s).

This will be simple to do following up on https://github.com/scylladb/scylla/issues/9313
which adds `column_family* cf, std::optional<sstables::compaction_type> compaction_type_opt` to `compaction_manager::stop_ongoing_compactions`.

See https://github.com/bhalevy/scylla/commit/668697327e8d0dd8051d

[2021-09-13 11:38] roydahan opened #9331 "LWT - Data population takes significantly longer than before"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.rc7-0.20210906.edead1caf`
Cluster size: 4 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-lwt-500G-3d-4-5-db-node-2447519d-1 (63.33.190.129 | 10.0.0.59): 14 shards
   longevity-lwt-500G-3d-4-5-db-node-2447519d-2 (34.243.2.11 | 10.0.3.58): 14 shards
   longevity-lwt-500G

[2021-09-13 11:41] roydahan commented on #9331
One observation we had from the logs is huge amount of semaphore_timeouts as described in https://github.com/scylladb/scylla/issues/7779#issuecomment-907755170

[2021-09-13 11:44] slivne commented on #7738
@avikivity #7738 (comment) - the option to abort reshape is hard to use in automating upgrades.

During upgrade the cluster is running in mixed version. There are limitations during this period - and many users want to minimize it if possible.

So a run, attempting todo an upgrade will have to (skipping the backups etc)

Iterate on all nodes:
1. Upgrade node 4.y --> 4.x
2. Node starting 4.x - chec

[2021-09-13 11:46] ShlomiBalalis opened #9332 "4 node consistently experience write timeouts with the last node"
*Installation details*
Scylla version (or git commit hash):4.5.rc7-0.20210906.edead1caf with build-id bcf5092fb1da0a426c8f125fe31a2e2570132a64
Cluster size:5
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-071844faa8a377793 (eu-west-1)
scenario: https://github.com/scylladb/scylla-cluster-tests/blob/branch-4.5/test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml

[2021-09-13 11:46] #9332 closed

[2021-09-13 12:09] syuu1228 opened #9333 "ninja-build dist-python3 fails"
Even `ninja-build` without target name succeed, `ninja-build dist-python3` fails with following error:
[code]

It seems like we forgot to remove ` $builddir/release/{scylla_product}-python3-package.tar.gz` when we drop compat-python3 targets.
https://github.com/scylladb/scylla/commit/35a14ab22b0e983e5d21cf203b1aa0e80103aa69

[2021-09-13 12:25] elcallio commented on #9152
Your guess is correct, yet the printout earlier is not. The crash is in
[code]

Note that frame 0 is actually inlined. Neat of gdb, yet confusing...
If one is to believe gdb here, we actually have a segment s that is NULL, returned as such from replenish queue, which in turn would suggest we got a NULL from `allocate_segment`.
The best idea I can come up with (that fits the revision of the crashed

[2021-09-13 12:26] psarna commented on #9316
I was also quite sure that it's e4bafe7, because it also includes permits, but I no longer think so. I analyzed the coredump and the permit that takes part in the segfault is assigned to op name `"compaction"`. My patch only changed the shutdown procedure of a different permit, assigned to op `"view_builder"`, so I dare say it's unrelated. I see that the backtrace contains "downgrading" a reader,

[2021-09-13 12:30] ShlomiBalalis opened #9336 "4 node consistently experience write timeouts with the last node experiencing write failures after cluster restart"
*Installation details*
Scylla version (or git commit hash):4.5.rc7-0.20210906.edead1caf with build-id bcf5092fb1da0a426c8f125fe31a2e2570132a64
Cluster size:5
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-071844faa8a377793 (eu-west-1)
scenario: https://github.com/scylladb/scylla-cluster-tests/blob/branch-4.5/test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml

At `2021-09-12 18:34:45.101` a ro

[2021-09-13 12:37] raphaelsc commented on #7738
what if we add a timeout for reshape? with a reasonable default like 5-10 minutes. with slow disks, like HDD, reshape will likely be interrupted due to timeout. with fast disks and not so many data to reshape, reshape will likely complete in time.  even if reshape is interrupted when timed out, the node will still benefit from all the completed reshape jobs, so progress isn't completely lost.

/CC

[2021-09-13 13:09] bhalevy commented on #7738
Maybe moving reshape to the background is not such a bad option,
as long as it doesn't get in the way of regular compaction.

If we add a command-line option to control how reshape is done on boot, then it could be skipped entirely, or be moved to the background.  I don't think that doing that automatically after some timeout makes much sense.

Something like: `--reshape-compaction-mode=(enabled|d

[2021-09-13 13:12] raphaelsc commented on #7738
background reshape == regular compaction. so if we decide to bypass reshape on boot, that means: dear regular compaction, now it's your turn

[2021-09-13 13:15] raphaelsc commented on #7738
reshape on boot is only there because we want to compact data before node is online.

[2021-09-13 14:23] tgrabiec commented on #3874
I think we can close this because the remaining difference of performance, after all the fixes, is only a few percent. It could be the price we have to pay for a more compact on-disk format.

[2021-09-13 14:23] #3874 closed

[2021-09-13 14:41] tgrabiec commented on #5113
@bhalevy In which commit was the multi-partition range read covered?

[2021-09-13 14:50] avikivity commented on #9331
/cc @kostja @elcallio

What commit worked? Probably related to reverting commitlog improvements.

[2021-09-13 15:23] dekimir commented on #4244
Ongoing work on #3815 will naturally fix this issue.

[2021-09-13 15:25] slivne commented on #9331
there are no writes blocked on commitlog

![Screenshot from 2021-09-13 17-52-44](https://user-images.githubusercontent.com/3465480/133106813-70ec5464-1f56-4cb9-99fc-5af451ac24a4.png)

[2021-09-13 15:31] dekimir commented on #8319
The error message comes from single_column_primary_key_restrictions::do_merge_with().  We should just extend its text to mention `ALLOW FILTERING`.

[2021-09-13 15:32] dekimir commented on #7217
This is covered in the plan for CQL rewrite (see #3815).

[2021-09-13 16:55] enedil opened #9337 "utils/small_vector.hh: copy constructor is marked `noexcept` even though it does allocations"
Here, the copy constructor is marked noexcept:
[code]

https://github.com/scylladb/scylla/blob/1fd701e709e9fcfd608ae925634401ba3626614a/utils/small_vector.hh#L195

This is done even though later there is a `reserve` call which does allocations. This causes issues for instance with tests using `alloc_failure_injector`.

[2021-09-13 18:32] #9107 closed

[2021-09-13 18:32] #9333 closed

[2021-09-13 19:25] nyh commented on #9300
We should consider closing this issue. https://github.com/scylladb/scylla/commit/1fd701e709e9fcfd608ae925634401ba3626614a fixes the flaky tests by skipping them, because they are invalid (the tests are only valid if all requests are made for a single connection to a single shard on a single node, but the test framework doesn't guarantee that).

[2021-09-13 19:46] bhalevy commented on #9300
I have no objection to close the issue,
but I'd still like use to consider increasing `create_time_safe()` accuracy as per https://github.com/scylladb/scylla/issues/9300#issuecomment-917860461
We'd get cross-shard monotonicity of cql `now()` this way for free.

[2021-09-13 20:21] dekimir commented on #5361
The LIMIT tracking mechanism is, unfortunately, completely unaware that aggregations may return more than one result.  It is entirely geared for single rows.  See [all calls to get_row_limit()](https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/scylladb/scylla%24+get_row_limit&patternType=literal).

Meanwhile, groups are formed in result_set_builder:
https://github.com/scylladb/

[2021-09-13 20:23] dekimir commented on #5363
See diagnosis here: https://github.com/scylladb/scylla/issues/5361#issuecomment-918545423

[2021-09-13 20:24] dekimir commented on #5362
See diagnosis here: https://github.com/scylladb/scylla/issues/5361#issuecomment-918545423

[2021-09-13 20:26] dekimir commented on #3410
Sorry, I never got around to this.  The test system has evolved quite a bit since, though.  See #5272.

[2021-09-14 06:42] nyh commented on #9300
That's an interesting question that I don't remember the answer to (maybe @kostja remembers, he was deep into this stuff a few months ago). On the other hand, it won't *guarantee* cross-shard monotonicity - it will only guarantee it if not called more than once in a decimicrosecond - i.e., the test will might work for now but start failing again in 10 years). It also won't be guaranteed across dif

[2021-09-14 06:59] bhalevy commented on #7738
Not always.  For example, reboot after repair or compaction strategy change, or possibly upgrade (affecting the compaction strategy invariants)

[2021-09-14 07:14] kostja commented on #9300
Compatibility with cassandra. We don't have to be compatible with it, but a few tests will fail if you make the change.

[2021-09-14 07:15] kostja commented on #9300
I don't get how using decimicroseconds is going to give cross-shard monotonicity. What is cross-shard monotonicity anyway?

[2021-09-14 07:16] kostja commented on #9300
(assigned to myself as well to see all notifications)

[2021-09-14 07:29] kostja commented on #9300
Bottom line: we can change milliseconds to decimicroseconds in create_time_safe() and this will increase time resolution. There were some legacy tests checking the resolution is *milliseconds*, they will need to be updated, so this is more a feature request than a bug fix.

[2021-09-14 07:36] roydahan commented on #9331
I updated in the original description the link to 4.4 monitor

[2021-09-14 08:54] avikivity commented on #9300
Closing per the conclusions in this thread. I agree we should improve time resolution, but it's a separate issue.

[2021-09-14 08:54] #9300 closed

[2021-09-14 09:13] bhalevy opened #9340 "create_time_safe reduces system time resolution to 1 millisecond"
As discussed in https://github.com/scylladb/scylla/issues/9300#issuecomment-917860461
`create_time_safe` can get the system_clock::now() timestamp in decimicroseconds rather than milliseconds.
In any case it returns a duration in decimicroseconds and if consecutive calls happen at the same millisecond (today), it returns a count equal to the last returned value + 1 - so even today it uses the deci

[2021-09-14 09:15] bhalevy commented on #9300
@avikivity The queries here are:
[code]

Why aren't they token-aware?  In both queries we specify the partition key a=0.
Could this be a bug in our python client?

[2021-09-14 11:06] slivne commented on #9331
@avikivity ping - please look at 4.4 / 4.5 monitors do you see anything pointing to the possible issue ?

[2021-09-14 11:07] slivne commented on #9331
@roydahan - lets run on 4.4.4 (latest 4.4 version) and see if it reproduces on that.

[2021-09-14 11:14] slivne commented on #8418
Yes he is waiting for you to reproduce for him this issue (not a different one)

[2021-09-14 11:15] bhalevy commented on #7779
Please note that fa5d70da32669213360444389abd139d027b87a8 will prevent these error from being logged (and also triggering read errors).  Eventually the query can timeout with https://github.com/scylladb/scylla/issues/8958 fixed, but it will not fail prematurely on the first semaphore_timed_out exception.

[2021-09-14 11:16] slivne commented on #9053
@nyh ping

[2021-09-14 11:18] bhalevy commented on #8846
Can be closed with acf8da2bcef47168376e876e2fdc37fc26ebc82e

[2021-09-14 11:18] #8846 closed

[2021-09-14 12:27] elcallio commented on #9152
No, absolutely not that, since there is a different error here that causes us to never run this code anyhow. So back to square one...

[2021-09-14 12:35] elcallio opened #9342 "commitlog::segment_manager::allocate_segment_ex does not handle exceptions proper"
The use of `commit_error_handler` causes us to re-throw and not run the post-handler block cleanup. Need more try-catch here.

[2021-09-14 12:39] elcallio opened #9343 "commitlog: allocation failure should add recycled/created file for delete/re-recycle"
If we throw in allocate_segment_ex, we should put the filename used into the delete set to ensure we reclaim the disk space.

[2021-09-14 12:41] raphaelsc commented on #7738
Reboot after repair or compaction strategy change, means that strategy is far from its layout goal.

Reshape == compact data until layout goal is achieved BEFORE node is online
Regular = compact data incrementally until layout goal is achieved WHILE node is online

That's why background reshape and regular are essentially the same thing.

[2021-09-14 13:37] bhalevy commented on #9331
Looking at the logs, the timeouts are happening mostly on node-1.
[code]

[2021-09-14 13:53] bhalevy commented on #9331
Here's an example of a burst of errors from the log:
[code]

@kostja @elcallio @raphaelsc I wonder if lwt might be creating lots of small sstables causing the read timeouts, until they are compacted.

[2021-09-14 16:18] raphaelsc commented on #9330
+1

[2021-09-14 16:31] avikivity commented on #9300
Only prepared statements are token aware.

[2021-09-15 06:52] roydahan commented on #9331
The test on 4.4.4 looks good, the throughput is normal, the population phase finished in several hours and nemesis started to run.

monitor: http://54.75.44.177:3000/d/ly9LCfSnk/longevity-lwt-500g-3d-test-on-4-4-scylla-per-server-metrics-nemesis-master?orgId=1&refresh=30s&from=now-24h&to=now

[2021-09-15 07:06] slivne commented on #9331
If we are generating more sstables it should be visisble in counters for both sstables and also for memtable flush. lets check this out.

[2021-09-15 07:59] elcallio opened #9348 "Exceptions in commitlog::segment_manager::delete_segments could cause footprint counters to loose track"
If we get errors/exceptions in `delete_segments` we can (and probably will) loose track of disk footprint counters. This can in turn, if using hard limits, cause us to block indefinitely on segment allocation since we might think we have larger footprint than we actually do.

Of course, if we actually fail deleting a segment, it is 100% true that we still technically hold this disk footprint (now

[2021-09-15 08:45] tzach commented on #5216
Fixed in seastar with https://github.com/scylladb/seastar/commit/0df5e6f084ad519b1e5f90f15309e676027b6505

[2021-09-15 09:52] raphaelsc commented on #5113
I think @bhalevy is actually referring to commit https://github.com/scylladb/scylla/commit/c64a156c5338a44698de088c1f32fdfa2e7b4fea, where sstables generated by repair-based ops will now go into a maintenance set which is unconditionally backed by a partitioned_sstable_set. @tgrabiec is that enough to fix the problem?

[2021-09-15 09:57] tgrabiec commented on #5113
@raphaelsc It's not enough, the issue description also mentions "multi-partition range reads"

[2021-09-15 10:49] avelanarius commented on #6725
@tzach We are considering doing this feature for this year's student projects (ZPP).

@vladzcloudius @tarzanek I was told that you have already done some research/initial work on this feature. Could you describe what you were able to accomplish and potential difficulties you saw?

cc: @bentsi - I saw you suggested this feature for last year's hackathon - I'd welcome your input.
cc: @haaawk

[2021-09-15 11:19] avikivity commented on #9331
Probably the counter is lying. With LWT all writes should be blocked on commitlog.

[2021-09-15 17:57] tarzanek commented on #6725
@avelanarius there is a connector to Zipkin from scylla (that basically feeds tracing tables to Zipkin)
https://docs.google.com/presentation/d/1QkN4WzMfxf5bZ25TmLxP2BX0JqqREnCda0cL0owcmb0/edit#slide=id.g5e52360848_1_175
+ https://docs.google.com/document/d/1UJ00zwwUmpwirfmWZ8rdm0vQSU7uV1B7L7lHmhg05cU/edit
2 versions are existing, one in kotlin (Dejan wrote it, it has likely bugs), one is extension

[2021-09-17 02:11] asias commented on #9205
Hello @nyh, could you please take a look?

[2021-09-17 11:10] kbr- opened #9352 "Different token calculation functions for "empty" partition keys cause sstable reader to use index incorrectly"
I'm not sure if this causes an actual bug in production code because I don't know if "empty" partition keys can occur naturally (couldn't create them from CQL), but posting this just in case.

I have a schema with `blob` partition key type:
[code]

I have a value of this key in `dht::decorated_key` format:
[code]
it prints as follows:
[code]

When I `explode` it, I get a vector of size `1` contain

[2021-09-17 11:33] tgrabiec commented on #9352
According to https://issues.apache.org/jira/browse/CASSANDRA-5965, you can run into this when indexing an empty column.

Cassandra has this, so the variant with the empty check is compatible with Cassandra:

[code]

[2021-09-17 11:36] tgrabiec commented on #9352
But it contradicts itself below, where it says no key should have MINIMUM token:
[code]

[2021-09-17 11:46] tgrabiec commented on #9352
I vaguely remember that empty keys used to be banned, but maybe they can get into the system via indexing now.

Empty value indexing is broken:

[code]

But it's not due to this bug, since sstable reader is not involved.

[2021-09-17 11:57] denesb commented on #9352
We had problems in the past with empty partition keys getting into the system (cause still unknown) and the sstable writer refusing to write the sstable, causing a spin on memtable flush and later on commitlog replay.

[2021-09-17 11:57] denesb commented on #9352
CQL rejects empty partition keys.

[2021-09-17 11:59] haaawk commented on #9352
What about Thrift?

[2021-09-17 17:53] psarna commented on #9352
That's a known issue, and we're currently leaning toward a statement that it's a feature, not a bug, since we simply don't index nulls. Cassandra also doesn't seem to work, even though their indexes are local - below is the output from Cassandra 4:
[code]
Ref: https://github.com/scylladb/scylla/issues/8489, https://github.com/scylladb/scylla/issues/8517

[2021-09-17 17:55] psarna commented on #9352
Oh wait, I might have tested on Scylla by mistake, let me recheck

[2021-09-17 17:56] psarna commented on #9352
Yup, my bad, it works on Cassandra.

[2021-09-17 21:25] tgrabiec commented on #9352
@psarna Here we don't have a case of unset value (null), but a value which contains a string of length 0. There is a row with such a column. A query or a row with such a value makes sense to me, and it works if there is no index.

[2021-09-18 06:16] psarna commented on #9352
Ah, right, it's an empty string. You're right that we should generally support it, but we don't because empty keys are disallowed - and our indexes are based on materialized views which uses the indexed column as a key. So the behavior is known, but we don't have any immediate plans to fix it.

[2021-09-19 06:58] #9264 closed

[2021-09-19 09:20] bhalevy opened #9354 "compaction_manager: storage_io_error is not counted in _stats.errors"
See https://github.com/scylladb/scylla/blob/cc8fc737614b537042bc6e6d5048628a8538677a/compaction/compaction_manager.cc#L615-L616
and https://github.com/scylladb/scylla/blob/cc8fc737614b537042bc6e6d5048628a8538677a/compaction/compaction_manager.cc#L750-L751

If `maybe_stop_on_error` returns false (like in the `storage_io_error` case), `_stats.errors` is not incremented.

[2021-09-19 11:07] bhalevy commented on #9331
@kostja please look into this issue asap (it's blocking 4.5)
and assign someone to get to the bottom of it.

[2021-09-19 11:10] bhalevy commented on #8808
@roydahan please retest with latest 4.5.rcX

[2021-09-19 11:22] bhalevy commented on #8597
@asias ping, please provide analysis

[2021-09-19 12:18] avikivity commented on #9352
Thrift can inject empty keys (including empty fixed-sized cells just as `int`).

[2021-09-19 12:38] nyh opened #9355 "recent regression: our docker image doesn't work if no command-line paramters are passed"
Commit ed7106ebd7234574c38c7c1a7eaba2d170da7803 fixed #9247, whereby our docker image ignored its command line parameters, but caused a new regression - which was first reported by @benipeled in https://github.com/scylladb/scylla-pkg/issues/2395.

The problem is that although this commit fixed the case where command line parameters **are** passed to the image - these command line parameters are no

[2021-09-19 12:50] nyh commented on #9355
No need to backport the fix to this issue - it fixes a recent regression (https://github.com/scylladb/scylla/commit/ed7106ebd7234574c38c7c1a7eaba2d170da7803) which never reached any version branch and will never reach one because it itself was a fix to an earlier regression which also never reached a version branch.

[2021-09-19 21:29] slivne commented on #9331
@elcallio can you please also look at the metrics can you see anything suggesting writes are blocked on commitlog in some form. The run is with commitlog hard limit disabled.

[2021-09-19 21:33] slivne commented on #9331
@kostja / @elcallio - to make it easier to find

- this monitor is with 45.rc7 that has commitlog hard limit disabled
http://34.252.214.230:3000/d/dGxHpZSnz/longevity-lwt-500g-3d-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1631032607724&to=1631169036853

- this monitor is with 4.4.4 same workload in which populate phased finished
http://54.75.44.177:3000/d/ly9LCfSnk/longevity-lwt-50

[2021-09-20 02:16] #9355 closed

[2021-09-20 06:58] agauke opened #9358 "Scylla node fails to join with "filesystem error: open failed: Too many open files""
*Installation details*
Scylla version (or git commit hash): Scylla version 4.4.4-0.20210801.69daa9fd0 with build-id fdea767545b17ae9adf1263dbd464c26712e698e
Cluster size: 6 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 8
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets=6 cores=12 hyperthreading=yes memory=64
Disks: (SSD/HDD, count) 2 x 1TB SSD (raid 0)

Hello! I'm gett

[2021-09-20 07:09] dorlaor commented on #9358
What's the open file limit you have configured?

On Mon, Sep 20, 2021 at 9:59 AM agauke ***@***.***> wrote:

[2021-09-20 07:44] avikivity commented on #9358
What's your schema? TWCS is suspected in these issues.

The file limit is specified in /usr/lib/systemd/system/scylla-server.service, but it should be enough, especially for your small nodes.

[2021-09-20 07:54] agauke commented on #9358
@avikivity sorry, forgot to mention, i set:

[2021-09-20 08:11] avikivity commented on #9358
How many tables/indexes do you have?

[2021-09-20 08:36] agauke commented on #9358
1841 keyspaces
10989 tables
0 secondary index

[2021-09-20 09:36] elcallio commented on #9331
@slivne - I can't see anything from the first monitor, and the second is dead (?). In any case, we never show any commitlog stalls in these - I am starting to wonder if the graphana counter is wired properly?
I can't see any significant changes between 4.4 and the current 4.5 version, other than 5fcc2066ed00829f9603cf8d97a28f27ba029cac where we added multi-entry support. Also ab55a1b4e6e84a453a300

[2021-09-20 11:28] bhalevy opened #9360 "collection_serialization_with_protocol_v2_test fails with: marshaling error: read_simple_bytes - not enough bytes (requested 1627390306, got 3)"
Regression seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/930/testReport/junit/cql_additional_tests/TestCQL/collection_serialization_with_protocol_v2_test/

Scylla version 08042c16888cf3f0614c50d788c7d2e2105de682

[code]

[2021-09-20 11:53] bhalevy commented on #9360
git bisect points at a0ec2113ae5c318d31e2bfacd4a1c17819d4db7a

@avikivity I suggest we revert the whole series (a0ec2113ae5c318d31e2bfacd4a1c17819d4db7a)
and fix the issue out of tree.

[2021-09-20 12:15] avikivity commented on #9360
/cc @cvybhu

[2021-09-20 12:26] cvybhu commented on #9360
Oops, I will look into it

[2021-09-20 12:33] horschi opened #9362 "Zero values for metrics: scylla_sstables_index_page_cache_bytes, scylla_sstables_pi_bytes"
*Installation details*
Scylla version (or git commit hash): 4.4.4
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

I am seeing some strange values for metrics in scyllatop, that Avi on the mailing thinks are incorrect:

- scylla_sstables_index_page_cache_bytes is almost always zero - It only occasionally shows positive values. It usually goes back to zero after a second.
- scylla_sstables_

[2021-09-20 13:03] tgrabiec commented on #9352
Looks like all mutations are prepared by the thrift server with partition key created with `key_from_thrift()`, which calls `validate_key()`, which rejects empty keys:
[code]

[2021-09-20 13:08] tgrabiec opened #9364 "Empty strings are not indexed properly leading to false negatives when querying for empty values"
[code]

[code]

After dropping the index the query works:

[code]

[code]

Refs #9352

[2021-09-20 13:17] kbr- commented on #9352
Anyway it does seem that empty partition keys can appear at least in index.
So the question is what the correct token should be?
IIRC the token we use almost everywhere and even save in sstables is token 0, which makes sense: it's a hash function calculated on an empty string. The problem occurs during index read, where the token is recalculated in memory using a different algorithm.
Btw. `minimum

[2021-09-20 14:42] vladzcloudius commented on #1431
@raphaelsc ping. Could you, please, clarify the point above?

[2021-09-20 14:48] raphaelsc commented on #1431
the space requirement is 2x as all windows are compacted together. so apply same rule as for STCS.

[2021-09-20 15:47] vladzcloudius commented on #1431
Thanks, @raphaelsc.
I'd suggest to consider compacting one window at a time.
This would allow us keep the same free disk space requirement during the major as during the regular operation.
AFAIR this invariant holds for other compaction strategies, right?

[2021-09-20 16:26] altanozlu commented on #3632
any news ?

[2021-09-20 16:53] raphaelsc commented on #1431
Pros:
low space requirement, bounded by size of each window

Cons:
no longer compact across windows, so user which relied on major to get rid of tombstones, etc, can no longer count on it. tombstone is, however, an anti-pattern for TWCS.

@vladzcloudius I am interested in knowing why someone needs major for TWCS. By design, TWCS should work to limit each window to 1 sstable[1]. And drop the window

[2021-09-20 18:08] #9360 closed

[2021-09-20 18:19] vladzcloudius commented on #1431
@raphaelsc
Right. We DO need to compact them all together if we want to make major "re-shape" data according to (possibly new) time window configuration - and we DO want it.

However sometimes people would want to reshape their when they don't have 50% free disk space. ICS would allow addressing this but unfortunately it's an enterprise-only feature.

On a second thought however you only need to c

[2021-09-20 18:29] raphaelsc commented on #1431
with space controller, we'll be able to limit major concurrency across shards based on amount of space available. our shared-nothing arch allows us to do that :-)

if user for example deleted data in past windows, then we need to compact across windows for shadowed data to be purged.

[2021-09-20 22:25] vladzcloudius commented on #1431
I understand why you need to read them all (time windows) to do that - but it's not clear to me why you'd need to write them all at the same time, @raphaelsc

[2021-09-21 06:52] elcallio commented on #9331
@slivne - I don't think fixing monitors really helps any. As I said, the CL blocked/write counters never seem to contain anything, Which makes me think they are either not read properly, or not presented properly (or don't lend themselves to presenting).
I have no theories, esp. since noone seems to be very certain _what_ it is that blocks...

[2021-09-21 07:41] psarna commented on #9360
@cvybhu if you look at the number of bytes that were seemingly requested, it's 1627390306, which is 61000162 in hex, which translates to `a\x00\x01b` in ascii. The elements of the collection in this test case are strings `a`, `b` and `c`, which doesn't sound like a coincidence. Looks like some offset is messed up when trying to deserialize a collection, or perhaps it's a dangling view, which could

[2021-09-21 08:20] elcallio opened #9367 "Commitlog counters don't really show allocation pressure iff limiting factor is disk"
The CL counters `pending_allocations` and `requests_blocked_memory` are exposed in graphana (etc) and often referred to as metrics on whether we are blocking on commit log. But they don't really show this, as they only measure whether or not we are blocked on the _memory_ bandwidth semaphore that provides rate back pressure (fixed num bytes/s - sortof).

However, actual tasks in allocation or segm

[2021-09-21 09:29] cvybhu commented on #9360
The issue was with old v2 CQL protocol, I should have changed the `get()` of collections to return a collection serialized with the internal cql serialization format, but instead they were serialized with query cql serialization format :/
It's an easy fix, but I'm just trying to run `cql_additional_tests.py` locally before opening a PR, to make sure everything will pass this time.
https://github.c

[2021-09-21 10:10] slivne commented on #9331
We have metrics for memtable flush and fsync at prometheus level can we
check them out

On Tue, Sep 21, 2021, 09:52 Calle Wilund ***@***.***> wrote:

[2021-09-21 11:07] bentsi commented on #9331
Which monitors do you need?
this one is working:
http://34.252.214.230:3000/d/dGxHpZSnz/longevity-lwt-500g-3d-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1631032607724&to=1631169036853
the monitor with 4.4.4 is not, I will check whether I can bring it up

[2021-09-21 11:14] elcallio commented on #9331
If I read the metric correctly, we only had "many" memtable flushes in the beginning of the run (first 3-4h or so). Way before any of the log messages above... Not sure if that means anything though...

[2021-09-21 11:51] tgrabiec commented on #9352
I would say that assigning token 0 to empty keys is the way to go, but the problem is what to do with get_token(). Clearly, in some cases it is expected to return minimum_token for empty keys, (what for?). Those cases have to be distinguished from the cases where it is passed a real key. If we allow empty keys into the system, we should review those places.

[2021-09-21 11:53] tgrabiec commented on #9352
If Cassandra allows empty keys in sstables, we should be compatible with its choice of the token.

[2021-09-21 14:22] elcallio opened #9369 "Commitlog disk limit should enforce >= 2 segments worth"
Commitlog disk limits (and thus thresholds etc) is set from input config, as is (potentially) segment sizes. However, if a user inputs values such that we (per shard) end up with less than 2*segment size per CL shard instance, we might end up having severe problems maintaining segment juggling, at least with hard limits.

Can't really make this a check + throw, because the user would have to calcu

[2021-09-21 19:36] kostja commented on #9331
I've been running this for a few hours locally with --commitlog-use-hard-size-limit=true; did not observe a performance drop that would be unusual. running without the option.
;

[2021-09-22 06:05] kostja commented on #9331
Left the test running overnight with --commitlog-use-hard-size-limit=false, did not observe a performance drop. 131GB of data in blogposts is stored in ~6000 files on disk, which seems to be adequate (~400 files were used for 6GB)

[2021-09-22 06:15] bhalevy commented on #9331
@kostja just to make sure, are you testing master or 4.5?

[2021-09-22 07:24] nyh commented on #9364
@tgrabiec I think this issue is different from #9352 - if I understand correctly that issue is about a null key (which @kbr- rightly said is not allowed), but your issue is about an empty string - which should be allowed. I'll write tests for both cases to have a better understanding of what problems we have (or don't have) there.

[2021-09-22 07:28] bhalevy commented on #8995
Looks like I might have stumbled upon this issue in cql_query_test in debug mode in branch based on dd9d6c081ee48e670eda70e14a765442db62c0ec
(not reproducible with random-seed)

[cql_query_test.3.log.gz](https://github.com/scylladb/scylla/files/7208626/cql_query_test.3.log.gz)

[code]

[code]

[code]

[code]

[code]

[code]

[2021-09-22 07:31] psarna commented on #9364
@nyh issue #9352 is different, but it has similar roots - restrictions we place on primary keys for tables. We cannot use NULL as a primary key, which is the root cause of #9352, but we also cannot use **empty** values, e.g. a `''` string. I was quite surprised that it's the case, but it is. Because of that, we have an issue with materialized views and indexes - a regular column in the base table

[2021-09-22 07:41] asias commented on #8597
I am working on this. I am trying to figure out a theory how this could happen.

[2021-09-22 07:42] nyh commented on #9364
Wow, I absolutely didn't know that. Does an empty string and null have the same representation internally for us?

Because null primary keys are not allowed, a materialized view explicitly has "IS NOT NULL" in its deceleration - to tell the user they should be aware that when an item's view-key has a null value it will not appear in the view. I never realized that we consider an empty string to be

[2021-09-22 07:50] psarna commented on #9364
No, regular columns are perfectly capable of distinguishing null from an empty string. I suppose an empty string is encoded as something with size 0. Still, for some historical reason we don't allow keys with size 0 at all.

Unrelated: I know that we don't have such a distinction with unfrozen collections, which I found surprising after I joined - an empty collection is undistinguishable from null

[2021-09-22 07:59] agauke commented on #9358
@avikivity do you have any ideas?

[2021-09-22 08:00] agauke commented on #9358
[root@distributed-database01 ~]# cqlsh distributed-database01.kameleoon.net 9042 --request-timeout=60 --connect-timeout=60 -e "desc com_kameleoon_analytics_d64g00u59g.ad_13_15_2_1595282400000_1603058400000"

CREATE TABLE com_kameleoon_analytics_d64g00u59g.ad_13_15_2_1595282400000_1603058400000 (
    actiontypeid int,
    actionid bigint,
    analyticsfiltersid ascii,
    correctedanalyticsventilat

[2021-09-22 08:03] nyh commented on #9364
Here is a simple test (cql-pytest framework) for this issue. It fails on Scylla and passes on Cassandra. Note that cql-pytest is a single node, so index updates are synchronous so no need for retry loops in the read:

[code]

This demonstrates that this is a bona-fide Scylla bug - not some intentional CQL limitation.

[2021-09-22 08:06] nyh commented on #9364
I'll create tests for this - both for regular tables and for MV.

Yes, but this is both documented and I know its reason: A "collection" is nothing more than a bunch of sstable cells with a common prefix in their names. So an empty collection is nothing more than **no cells**, and this can't be distinguished from absolutely nothing. For CQL rows we have the "cql row marker" to distinguish a delibe

[2021-09-22 08:23] kostja commented on #9331
master

[2021-09-22 08:25] fgelcer commented on #9331
the issue was found and reported against 4.5

[2021-09-22 08:32] nyh commented on #9352
This is apparently true true, though I never saw this documented anywhere or an explanation why this is the case. I don't remember the sstable encoding, maybe this was caused by an attempt to save a byte or two in encoding the partition key (so only one size, not two)?

The following write, with an empty string for the partition key `p`, fails in both Scylla and Cassandra, stating that "Key may no

[2021-09-22 08:52] kostja commented on #9331
@fgelcer I'm sorry but this is not the issue. The issue is not found and I am trying to find it. An *issue* contains a test case that I as an engineer can easily reproduce. A bunch of monitors left around after a 3-day help me improve my telepathy skills but are a very inefficient way to nail down the problem.
If there is a strong reason to believe that the issue was fixed in master, please share

[2021-09-22 10:52] roydahan commented on #8808
I ran the reproducer again using 4.5.rc7 (https://jenkins.scylladb.com/job/scylla-4.5/job/Reproducers/job/longevity-alternator-3h-test-8808/3/) and it passed.
I see a drop in throughput but I didn't find any timeouts.
I don't think that the drop in throughput is related to the original issue and we can close this one.

[2021-09-22 10:52] #8808 closed

[2021-09-22 11:07] roydahan commented on #9331
@kostja I don't know how you ran it and for how long,  but the test should write 500GB of data in 8 hours.

[2021-09-22 11:34] nyh opened #9375 "Empty strings values are missing as a materialized view partition key"
This issue is the underlying cause of #9364 (which is the same problem with secondary-indexes) and also closely related to the overall issue of empty-strings as partition key #9352.

For various reasons discussed in #9352, Scylla and Cassandra do not allow an empty string as a partition key in base tables (see also the test `test_null.py`::`test_empty_string_key`).
However, an empty string is a _v

[2021-09-22 11:41] tzach opened #9376 "ARM release"
Document the fact the ARM build is compatible to the x86 build

[2021-09-22 11:53] avikivity commented on #9352
Maybe it's for the "key not supplied" case (rather than empty key). e.g. disengaged optional<key>. Those should take completely different paths (full scan vs partition scan) but maybe in the distant past there was shared code handling it.

[2021-09-22 13:27] raphaelsc commented on #9358
@agauke please upload full log.

[2021-09-22 13:48] nyh commented on #9352
I agree. I'm trying such a trivial patch right now and will see where it brings us.
I can't find any code which actually checks if the result of the token is minimum_token, but maybe I'm missing something.

One thing that this change will cause is incompatibility with old Cassandra and Scylla generated sstables which had empty strings. But the good news that the tests I just wrote for this issue a

[2021-09-22 14:10] tgrabiec commented on #9352
On Wed, Sep 22, 2021 at 3:48 PM nyh ***@***.***> wrote:

One theoretical use case which comes to mind is to express [-inf, x]
partition key range using key values only. You'd put an empty key to
represent the -inf bound. Maybe some legacy internal interface in Cassandra
worked this way at some point. I don't think we rely on it.

[2021-09-22 14:19] nyh commented on #9375
It turns out that the reason why the empty-string partition keys disappear from a materialized view is not the token-calculations issues described in #9352, but rather a second problem (so much for Occam's Razor):

In `view.cc` we have a function `is_partition_key_empty()` which checks whether the view row will have an empty partition key - and if it says it does, the callers don't create this row

[2021-09-22 14:53] nyh commented on #9375
My fix for this issue (which I'll send to the mailing list soon) does not reproduce this last Cassandra anomaly - you **can** select the partition with the empty key from the view, just like it is visible in the full-table scan. I'll create a test for this which will be marked "cassandra_bug" - i.e., it's a Cassandra detail that we consider wrong and don't want to emulate.

[2021-09-22 15:10] nyh commented on #9352
Surprisingly, issues #9375 and #9364 (about empty strings in materialized views and secondary indexes) stemmed from a different bug, not this one. I'm sending a patch for it right now, but we should consider whether we want to commit a patch for **this** issue in the same series.

The reason I'm saying this that before fixing #9375 and #9364, there was no way to get an empty partition key with any

[2021-09-22 17:11] vladzcloudius opened #9380 "Unpaged internal reads from system_auth and system_distributed are not accounted in unpaged_select_queries_per_ks for a "system" selector"
*Installation details*
HEAD: dd9d6c081ee48e670eda70e14a765442db62c0ec

*Description*
Internal queries to `system_auth` and `system_distributed` are not accounted in the metric above because `system_keyspaces` (https://github.com/scylladb/scylla/blob/master/distributed_loader.cc#L46) includes only `system` and `system_schema`.

As a result there is not way to distinguish unpaged reads sent by scyll

[2021-09-22 17:11] vladzcloudius commented on #9380
@avikivity @psarna @tarzanek @eliransin FYI

[2021-09-22 22:44] #9157 closed

[2021-09-22 22:44] #5471 closed

[2021-09-23 03:06] asias commented on #8597
A PR is sent: https://github.com/scylladb/scylla/pull/9381

[2021-09-23 07:25] slivne commented on #1823
@psarna / @gleb-cloudius so can we close this ?

[2021-09-23 07:26] slivne commented on #8097
@psarna did we do this ?

[2021-09-23 09:44] slivne commented on #9331
@kostja - QA have a specific use cases hat fails on a specific setup using a specific version - the issue reproduces on that environment and use case - lets use that - to first understand where the issue is and then try to minimize / change / reproduce on a smaller setup etc.

The bug exists and it reproduces.

[2021-09-23 10:35] agauke commented on #9358
@avikivity here it is: https://pastebin.com/v3xXcxkx

[2021-09-23 10:44] psarna commented on #9380
`system_keyspaces` is expected to contain only internal keyspaces stored locally and I'm pretty sure that many code paths in Scylla rely on that invariant. We have a notion of `internal_keyspaces` which includes system keyspaces + the ones you mentioned. Perhaps we should make sure that all internal keyspaces are qualified with this `"system"` selector you mention in the issue title.

[2021-09-23 10:47] psarna commented on #8097
Pretty much, here:
https://github.com/scylladb/scylla/blob/bae9c042c2b8e07c64cab49a4a099f815dbbf7f5/transport/server.cc#L581-L585

There are always ways to expand this mechanisms, but meanwhile I think it's safe to resolve this issue.

[2021-09-23 10:47] #8097 closed

[2021-09-23 10:47] psarna commented on #1823
I think so, but I'll let the author decide

[2021-09-23 11:01] gleb-cloudius commented on #1823
Look like the issue is addressed.

[2021-09-23 11:01] #1823 closed

[2021-09-23 11:05] slivne commented on #9331
@kostja can you look at the metrics that have been shared instead of trying a new run

[2021-09-23 14:02] kostja commented on #9331
The test is using LeveledCompactionStrategy. With data footprint size of ~60GB this strategy creates ~6000 files. SizeTieredCompactionStrategy creates ~300 files for the same data size. When the data set grows too big compaction (or some related activity) creates periodic notable bumps in CPU bound reactor tasks in 'main' scheduling group. I can see 3000+ tasks queued in reactor in main scheduling

[2021-09-23 14:27] slivne commented on #9331
There are multiple tests that run LCS @Roy Dahan ***@***.***> - can
you double check this theory that this is LCS related - I doubt it (e.g. we
would have issues with other scenarios as well) .

On Thu, Sep 23, 2021 at 5:02 PM Konstantin Osipov ***@***.***>
wrote:

[2021-09-23 15:08] roydahan commented on #9331
Considering that both the longevity_1TB_test that has LCS + MV workloads and the latency_test that has 1TB LCS workload, finished without any issue to populate or degraded performance, I don't think it's just LCS to blame.

Based on the fact we see it only in this test, it may be the combination of LCS with LWT but that's a speculation.

[2021-09-23 15:15] kostja commented on #9331
LWT is very sensitive to reactor stalls on IO. If there are for whatever reason too many tasks in the queue, reactor stops polling io. This means lwt transactions are not acknowledged and time out. Plus, LWT does a lot of reads. So if the shape of the LSM tree is not optimal it's going to have a significant impact on LWT. To spot this one needs a combined read/write workload if one runs it without

[2021-09-23 17:33] gleb-cloudius commented on #9331
Why so? Here you can see the problem you describe (though it happens only on one shard of one node, so hard to say if this is the culprit).
![tasks](https://user-images.githubusercontent.com/6554938/134555999-431ef67d-a7fe-471e-a50e-dc3bdd9e6a38.jpg)

[2021-09-24 15:40] bhalevy opened #9385 "Segfault in sstables::mx::mx_sstable_mutation_reader::close"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/938/artifact/logs-all.release.2/1632437579952_compaction_additional_test.CompactionAdditionalTest.refresh_and_restart_after_compaction_strategy_change_test/node1.log

Scylla version f41c1aee6a4353d17d3cb701f05b6debb329d306
[code]

[code]

Core dump is here: https://jenkins.scylladb.com/view/master/job/scylla-maste

[2021-09-24 15:40] bhalevy commented on #9385
Cc @tgrabiec @denesb

[2021-09-24 17:02] kostja commented on #9331
Re-tested with SCTS. Compaction pending task queue length never grows beyond 10 and main queue is empty. ~400 files for ~450GB of data. Benchmark performance does drop, but only maybe ~30%, from ~3krps to ~2krps after a day of running.
Some basic thoughts:
- commit log hard limit seems to work correctly
- leveled compaction strategy seems to be involved, but not the direct cause of regression
- 15

[2021-09-26 06:37] tzach opened #9386 "Set the right default snitch: Ec2MultiRegion for AWS"
When installing Scylla on AWS, the [default snitch should be Ec2MultiRegion](https://docs.scylladb.com/operating-scylla/procedures/cluster-management/ec2-dc/).
googlecloudsnitch for GCP.

[2021-09-26 08:03] slivne commented on #9331
@gleb-cloudius / @kostja - we need make progress

If there is an issue with to many tasks in main what are they ? and what generates them ? - and lets fix that.

Yes, the problem can be a mix of LCS + LWT + X but we need to fix that we do not see this issue in non LWT tests.

With regards to why fix it - its a regression - 4.4 passes the same test

AFAIK we can extract task histogram from a coredu

[2021-09-26 08:16] avikivity commented on #9331
I don't believe LCS is the cause of tasks in the main group. It's probably a contributor, but the root cause is that something is generating unbounded concurrency, and LCS is making it worse somehow.

My suspicion is on some task invoked from a timer. Although timers should inherit their parent's scheduling group.

[2021-09-26 08:46] gleb-cloudius commented on #9331
It is enough for it to be a contributor of 1000 tasks in the `compaction` group. After that IO will not be polled and it may cause all other groups to grow as well.

Monitors are dead though so I cannot check 4.4 run any longer. And `hydra` never worked for me. Any complicated scrip at some point works only on creators machine.

[2021-09-26 08:52] gleb-cloudius commented on #9331
LWT test and non LWT tests have completely different IO characteristics. You cannot compare them. If you want to at least run non LWT tests with ` batch` commitlog sync mode.

I am not aware of any tasks histograms that you can extract from coredump unless you mean that we can check what are those 15k tasks from a coredump. For that you need to dump the core in very precise time. I doubt you will

[2021-09-26 09:30] avikivity commented on #9331
@raphaelsc can you explain it? We shouldn't have 1000 concurrent compactions. So what are those 1000 tasks?

Eventually not even that.

[2021-09-26 09:51] slivne commented on #9331
@roydahan / @bentsi please help with the monitors

[2021-09-26 09:59] roydahan commented on #9331
@gleb-cloudius there is a Jenkins job to restore monitor servers so you won’t need to install hydra docker locally:

https://jenkins.scylladb.com/view/QA/job/QA-tools/job/hydra-show-monitor/

please use that.

[2021-09-26 10:04] gleb-cloudius commented on #9331
On Sun, Sep 26, 2021 at 02:59:36AM -0700, Roy Dahan wrote:

The link is no less dead than monitors.

--
			Gleb.

[2021-09-26 11:11] bhalevy opened #9387 "Scylla appears to have crashed in test test_wasm.py::test_fib_called_on_null (on aarch64)"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/760/artifact/testlog/aarch64_release/run.9.log
[code]

[2021-09-26 11:16] bhalevy commented on #9387
Cannot decode the backtrace since the build failed and the reloc packages weren't uploaded.

[2021-09-26 11:40] fgelcer commented on #9331
@gleb-cloudius , it works fine for me from the office:
https://jenkins.scylladb.com/view/QA/job/QA-tools/job/hydra-show-monitor/

maybe you need to use Jenkins internal IP address

[2021-09-26 11:53] gleb-cloudius commented on #9331
On Sun, Sep 26, 2021 at 04:40:58AM -0700, Fabio Gelcer wrote:

I am in the office.

May be.

--
			Gleb.

[2021-09-26 12:11] kostja commented on #9331
4.4 test has been running with LCS compaction strategy on my local machine with smp=1, developer-mode, LCS. Can not spot IO stalls or pending task queue spikes. Mounting suspicion that the regression is *indeed* in LCS + these tasks. Note that the issue indeed only happens with a large data set. Building 4.5 and firing the test with it to know for sure (my previous tests were on master).

[2021-09-26 12:14] kostja commented on #9331
Once I confirm that this is a regression the next step is to identify the source of the task queue length. To find out, I plan to reproduce the problem, restart scylla with trace level logging and see what happens.
@slivne  is there a way to change log level without restart?
What would be the most possible suspects causing these spikes?

[2021-09-26 13:00] fgelcer commented on #9331
@gleb-cloudius , i have re-created the 2 monitors:

[4.4](http://35.171.169.177:3000)

[4.5](http://3.230.1.8:3000)

[2021-09-26 13:21] avikivity commented on #9331
https://docs.scylladb.com/operating-scylla/nodetool-commands/setlogginglevel/

Some continutation chain that is invoked by a reactor callback rather than future::then or similar. The last culrprit was timer<>.

[2021-09-26 13:29] avikivity commented on #9331
Probably the easiest way to find out what's going on is to print a sample (1:100) of call typeid of tasks running in the main group.

[2021-09-26 13:35] gleb-cloudius commented on #9331
4.4 monitor does not have task queue problem.

[2021-09-26 13:39] gleb-cloudius commented on #9331
4.5:

![Screenshot 2021-09-26 at 16-37-42 Advanced - Grafana](https://user-images.githubusercontent.com/6554938/134810442-14324465-8397-4589-88b3-89dd1548bda1.png)
![Screenshot 2021-09-26 at 16-38-14 Advanced - Grafana](https://user-images.githubusercontent.com/6554938/134810443-b60b1be4-55dc-48b1-a849-4edc6c8a0356.png)

[2021-09-26 13:41] avikivity commented on #9331
That's amazing.

[2021-09-26 13:44] gleb-cloudius commented on #9331
On Sun, Sep 26, 2021 at 06:41:36AM -0700, Avi Kivity wrote:

Well, the reason may be the same - no polling because the task queue it too
long. How exactly do with check for violations?

--
			Gleb.

[2021-09-26 13:47] avikivity commented on #9331
There is a timer that is reset when we begin executing a task queue, and when it expires, it sends a signal. The signal handler does the accounting.

[2021-09-26 14:05] ShlomiBalalis opened #9388 "Segfault in sstables::mx::mx_sstable_mutation_reader::close"
*Installation details*
Scylla version (or git commit hash):4.6.dev-0.20210922.bae9c042c2 with build-id 9c8634cb7c1451d444f62e0547f55bc794a2f3f7
Cluster size:4
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-0352fb628c009a743 (eu-north-1)
scenario: https://github.com/scylladb/scylla-cluster-tests/blob/master/test-cases/longevity/longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml

At `2021-09-24 03:36:03,846`,

[2021-09-26 15:27] avikivity commented on #9388
This is

[code]

the call to on_read_completed(). /cc @raphaelsc

[2021-09-26 15:29] avikivity commented on #9388
b5cf0b4489ad363cc16d666a29e0b2e5c5d6a149 is likely the cause.

[2021-09-26 15:32] avikivity commented on #9388
Reverted 7127c92accd5f0fa0fca0fb12d5425d7046d70ea and b5cf0b4489ad363cc16d666a29e0b2e5c5d6a149.

[2021-09-26 15:54] avikivity commented on #9385
Closing as duplicate of #9388.

[2021-09-26 15:54] #9385 closed

[2021-09-26 19:28] #9388 closed

[2021-09-26 23:39] raphaelsc commented on #9388
oops. sstable reader is outliving the monitor. will fix it and resend.

[2021-09-27 07:06] psarna commented on #9387
@bhalevy can the Jenkins script be changed to upload the packages if a coredump occurs, so that next time it will be possible to decode? Without a decoded backtrace, and given that the crash happend on aarch, pinpointing this issue would be quite hard.

[2021-09-27 07:09] Rjerk opened #9389 "BatchWriteItem should check whether there are more than 25 requests in the batch"
As the [DynamoDB document](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchWriteItem.html) says:

AWS Dynamodb reports errors like:

But the Alternator does not.

[2021-09-27 07:24] psarna commented on #9389
I just noticed that you (correctly) created an issue first and only then sent a pull request, so I'll just link my response here: https://github.com/scylladb/scylla/pull/9390#issuecomment-927602379, since it's actually relevant for the issue.

[2021-09-27 07:42] bhalevy commented on #9387
@psarna I suggest you open an issue on scylla-pkg. I think it should be possible.
/Cc @yaronkaikov @hagitsegev

[2021-09-27 07:53] nyh commented on #9389
This issue is a duplicate of issue #5057, although issue #5057 (perhaps unwisely) combined a few BatchWriteItem limits and not just the "25".

I have test titled "[PATCH] test/alternator: add test for too many items in BatchWriteItem" waiting for review on the mailing list (hint, hint) which confirms that this limit 25 exists on DynamoDB but not on Scylla.

I agree with @psarna that we could decid

[2021-09-27 07:55] nyh commented on #9389
On second thought, we do have a concurrency problem with writes as well. Because we (usually/often) use LWT for writes, writes to different partitions involve different locking, and can and should be done in parallel, so it does make sense to do many writes in parallel, but if a batch has 1000 writes it probably doesn't make sense to use parallelism of 1000.

[2021-09-27 08:14] kostja commented on #9331
After running 4.5 test overnight, max compaction queue length I was able to spot is 78. No visible io stalls so far. Lots of recycled commitlog segments, 204GB data set, 11k files. Letting it run for a while more.

[2021-09-27 08:25] gleb-cloudius commented on #9389
CQL batch allows LWT write to only one partition. If Alternator's batch writes use CQL batch writes then only one partition can be modified at a time.

[2021-09-27 08:25] Rjerk commented on #9389
Make sense. Probably a more considerable value is a better idea, not just 25.

[2021-09-27 09:30] raphaelsc commented on #9331
with incremental selector, there should be ~2 readers (1 reader for level N, another for overlapping in N+1) at any point in time. # of concurrent compactions peaked 30, across all shards. so there should have been only ~60 tasks. something is off here. will restore the monitoring and see if I can find something.

@gleb-cloudius you seem to have just restored monitoring for 4.5, could you please s

[2021-09-27 09:35] gleb-cloudius commented on #9331
@raphaelsc ^^ But it looks like today it lost all its data.

[2021-09-27 09:39] fgelcer commented on #9331
yes, i saw that.. please, re-run using the jenkins build to have "renewed" results

[2021-09-27 10:06] aleksbykov commented on #8706
Issue reproduced:
*Installation details*
Scylla version (or git commit hash): `4.4.5-0.20210923.01920c129 with build-id e1f219e2cd05fb0a1e514980b1ea302fe1f78a65`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0b2700940cbad823e` (aws: eu-north-1)

Test: `longevity-alternator-3h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevi

[2021-09-27 10:49] gleb-cloudius commented on #9331
@raphaelsc:

[http://44.193.15.226:3000/d/ZbcKWPH7k/longevity-lwt-500g-3d-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1631032607724&to=1631169036853](url)

[2021-09-27 10:50] eliransin opened #9391 "commitlog test: test_allocation_failure might not create memory tight enough environment"
We have seen a failure of this test with:
`std::runtime_error (Adding mutation of size 16777203 succeeded unexpectedly`

https://jenkins.scylladb.com/view/enterprise-2020.1/job/enterprise-2020.1/job/next/336/testReport/junit/test_boost_commitlog_test/cc/test_allocation_failure/

Examining the code path that can lead to this revealed that this test might leave behind just enough memory to create th

[2021-09-27 10:52] #8597 closed

[2021-09-27 10:53] eliransin commented on #9391
After examining the code path I can think of two places from where the extra memory can come.
1. The most likely is that there is some amount of memory < 128K that is left after the loop and is enough for allocating the continuation along with the last part of the fragmented buffer (which can be smaller than 128K).
2. The less likely is the `erase` statement which might indirectly release some mem

[2021-09-27 11:11] elcallio commented on #9391
Did by this perhaps start to happen after the alloc-path was converted to use coroutines instead of raw continuations?
The change is probably sound in the sense that any such test case is sound (I though this test was disabled by default?), but perhaps it would be better to be able to white-box this as just ensure we OOM where we want, by hooks or something?

[2021-09-27 11:29] eliransin commented on #9391
I am not sure I understand - can you explain what do you mean, I guess you are suggesting to generalize the test case (or at least to add a hook that will OOM where we want - error injection?)

I am not sure, but the failure was in an old version that I think doesn't have the coroutines ( I will double check and get back to you)

[2021-09-27 11:35] nyh commented on #9389
DynamoDB's notion of a "batch" is unrelated to Cassandra's they just name the same name, unfortunately: A DynamoDB "batch" is just a set of requests that will be done in parallel without any special isolation guarantees (it's not a transaction in any sense of the word). DynamoDB's batch is needed because the HTTP 1.* transport used by DynamoDB doesn't have support for multiple request streams, so

[2021-09-27 11:48] aleksbykov opened #9393 "scylla_ntp_setup failed on amazon 2 linux distro"
System under test
- ScyllaDB repo: https://s3.amazonaws.com/downloads.scylladb.com/unstable/scylla/branch-4.4/rpm/centos/2021-09-23T14:52:17Z/scylla.repo
- Actual aws image used: ami-099a8245f5daa82bf
- AWS region: eu-west-1
- Instance type: i3.large
- Scylla packages installed:
   - scylla-tools-4.4.5-0.20210923.01920c129.noarch
   - scylla-conf-4.4.5-0.20210923.01920c129.x86_64
   - scylla-pytho

[2021-09-27 11:48] aleksbykov commented on #9393
FYI @yaronkaikov

[2021-09-27 12:02] elcallio commented on #9391
Yes, very specific error injection, for this particular alloc (not general, stochastic).
Interesting about old version.
In any case, your fix is good. lgtm.

[2021-09-27 12:11] gleb-cloudius commented on #9331
@fgelcer the data is gone again!

[2021-09-27 12:20] raphaelsc commented on #9331
just created this: http://34.201.20.45:3000/

[2021-09-27 12:22] raphaelsc commented on #9331
the data is indeed gone again. i created this job with 24h TTL. it's broken.

[2021-09-27 12:34] raphaelsc commented on #9331
while the monitoring data was alive, I was able to see that only shard 5 of node .58 was affected. At 17:46, that shard started having local write errors, which resulted in tons of exceptions. Problems like task quota violation in compaction only happened later at ~18:05, again only on shard 5. We need to understand why a single shard only is suffering. Why is it being overloaded and others aren't

[2021-09-27 12:46] raphaelsc commented on #9331
grab data while you can: http://35.175.244.174:3000/d/advanced-4-5/advanced?orgId=1&from=1630972800000&to=1631145599000 @gleb-cloudius

[2021-09-27 13:06] raphaelsc commented on #9331
![lw01](https://user-images.githubusercontent.com/1409139/134911703-95dde878-b495-4c29-aa95-0dd070d6c000.png)

when the problem starts at ~17:45, I see a huge spike in commitlog I/O queue bandwidth for shard 5. this can be correlated with query I/O bandwidth for shard 5 too.

the delay in compaction I/O queue in shard 5 only starts happening later at ~18:10. from there after, we start having task

[2021-09-27 13:27] raphaelsc commented on #9331
speculative retry happened in shard 5 (yellow line) before all problems started happening (at ~17:35), see below:

![Uploading lw02.png…]()

but it should be a symptom not the cause, unless there's a bug in its implementation.

[2021-09-27 13:53] raphaelsc commented on #9331
retry is explained by:
![lw03](https://user-images.githubusercontent.com/1409139/134921033-048cd373-f396-4960-b421-4206d4480bfa.png)

[2021-09-27 14:00] raphaelsc commented on #9331
@kostja looks like system.paxos uses STCS. why not LCS?

i see we have this in paxos schema definition:
[code]

IIRC, paxos makes heavy use of updates. does it use tombstones? so why not LCS instead for bounded read amplification? although LCS has its issues (in its current shape) it does provide better read perf than STCS. what's the time locality of paxos writes? if high, perhaps LCS can satisfy

[2021-09-27 14:10] kostja commented on #9331
![Screenshot from 2021-09-27 17-08-29](https://user-images.githubusercontent.com/482910/134925048-68d26ead-b7f1-4338-b7f5-bb2e8b3698a3.png)
One instance 95% lwt latency is over 2 seconds

[2021-09-27 14:12] kostja commented on #9331
@raphaelsc system.paxos usage scenario follows the one of the base table.

[2021-09-27 14:16] kostja commented on #9331
The instance with high latency is .59, the one which shard 5 is struggling.

[2021-09-27 14:38] gleb-cloudius commented on #9331
On Mon, Sep 27, 2021 at 06:06:14AM -0700, Raphael Carvalho wrote:

Huge I/0 delays and task quota violations can be explained by large
task queue (no polling). What should be answered is why compaction class
has 1000 tasks queued. There is no 1000 compaction running, so why the
concurrency is so high?

--
			Gleb.

[2021-09-27 14:42] aleksbykov opened #9394 "Error messages after disable cdc: std::_Nested_exception<no_such_column_family> (Can't find a column family with UUID): std::out_of_range (_Map_base::at)"
*Installation details*
Scylla version (or git commit hash): `4.4.5-0.20210923.01920c129 with build-id e1f219e2cd05fb0a1e514980b1ea302fe1f78a65`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0b2700940cbad823e` (aws: eu-north-1)

Test: `longevity-cdc-4h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-cdc-100gb-4h.yaml](htt

[2021-09-27 14:48] elcallio commented on #9394
I am assuming that writes to the table was going on before/during/after the cdc option was turned off? If so, it sounds like WAD (albeit a bit annoying/scary). If a coordinator write is being created just as cdc is disabled, he will literally create a write to a table that will be dropped more or less simultaneously.
Does the cluster stabilize after these writes fail?
We should maybe consider _not

[2021-09-27 14:56] raphaelsc commented on #9331
I think we're seeing a symptom, not the cause. Other classes like statement also do have significant task violations on shard 5 (the bad guy). So there's a problem of unbounded concurrency which doesn't belong only to compaction.

[2021-09-27 15:02] aleksbykov commented on #9394
Yes, writes/reads was going all time.
Nothing criticals happend and cluster run without any other errors, once c-s connection sessions were recreated, no errors in c-s logs also

[2021-09-27 15:11] gleb-cloudius commented on #9331
On Mon, Sep 27, 2021 at 07:56:42AM -0700, Raphael Carvalho wrote:

Nothing should cause compaction to have unbounded concurrency. If an IO
becomes slow compaction should progress slowly, not flood the reactor
with tasks. When something floods a reactor with more then 1k tasks the
game is over.

Task violations is a result of not polling. I expect statement group to
have a concurrency equal to the

[2021-09-27 15:12] raphaelsc commented on #9331
I think I can explain why compaction class had so many tasks queued. Shard 5 was overloaded, which consequently slowed compaction down significantly. That can be seen in compaction i/o queue delay, which didn't happen with commitlog queue in the same magnitude. So new sstables were being generated faster than compaction can process. I think we've to fix manager to not accumulate so many pending co

[2021-09-27 15:15] raphaelsc commented on #9331
![lw04](https://user-images.githubusercontent.com/1409139/134936435-ccc40ce4-80c8-4cf1-bb00-a49dc660ee65.png)

see image above, it's compaction pending tasks. compaction hasn't actually started for them. see that accumulation of pending tasks start at 18:05, which is much later than when problems are first observed. Which corroborates with I said before. It's a symptom, not the cause.

[2021-09-27 15:20] gleb-cloudius commented on #9331
On Mon, Sep 27, 2021 at 08:13:04AM -0700, Raphael Carvalho wrote:

Existence of such problem may mean that even a small slowdown may fail
the test if previous version was close to the limit at which task queue
starts growing. If you are sure that the problem is pre-existing and
nothing has changed in the compaction then the cause is slowdown for
which there can be plenty of reasons. Didn't we chan

[2021-09-27 15:25] gleb-cloudius commented on #9331
On Mon, Sep 27, 2021 at 08:15:44AM -0700, Raphael Carvalho wrote:

What problem exactly? The problem is ongoing - slow population. It is
slow because one shard cannot recover. Some timeouts are expected and
IIRC happened with 4.4 as well.

--
			Gleb.

[2021-09-27 15:28] raphaelsc commented on #9331
https://github.com/scylladb/scylla/issues/9331#issuecomment-927897038

[2021-09-27 16:15] christian-lefty opened #9396 "nodetool cleanup fails"
nodetool cleanup fails with the given message:

lefty@hetzner-scylla-c:~$ nodetool cleanup
error: Missing directive: partitioner
-- StackTrace --
org.apache.cassandra.exceptions.ConfigurationException: Missing directive: partitioner
	at org.apache.cassandra.config.DatabaseDescriptor.applyPartitioner(DatabaseDescriptor.java:967)
	at org.apache.cassandra.config.DatabaseDescriptor.toolInitialization(

[2021-09-27 20:06] syuu1228 commented on #9393
We already fixed this at 735c83b27fcc613a31b7c7011bd02e86b71e737a, but it heavily modified the scirpt too much, not able to backport to 4.4 (4.5 does not affected this, since it force using chrony).
We probably need to write new patch for 4.4 and 2020.1.

[2021-09-28 00:08] fee-mendes opened #9399 "scylla_io_setup - AWS tuning should follow the same logic as GCP and Azure"
[scylla_io_setup](https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_io_setup#L189) currently completely ignores the instance type of AWS instances unless we pass the `--ami` parameter to it. This is counterintuitive and causes us to run iotune under supported instances unnecessarily.

Even then, different than on GCP and Azure, where we simply run `iotune` whenever the inst

[2021-09-28 06:13] gleb-cloudius commented on #9331
This is not a serious problem at this point in time. It does show that IO is overloaded a bit (may be because there are too many sstables?) but in no way it should cause compaction to go crazy and cause domino effect.

And if the problem is too many sstables what have changed since 4.4? Why 4.4 does not create as many sstables?

[2021-09-28 07:41] denesb opened #9400 "scrub compaction: segregate mode: unbounded number of buckets can cause OOM"
The number of buckets the `partition_based_splitting_writer` can create is unbounded and can cause large memory pressure. Recently we observed a case where a particular sstable caused 1.7K buckets to be created causing OOM.

[2021-09-28 09:07] elcallio commented on #9152
Sorry for the delay. I can't really determine any cause from the core. Not even 100% I am getting a proper view of it as usual.

[2021-09-28 10:00] kostja commented on #9331
I have been running this test against 4.5 locally for two days and I can't regress it to the state I was able to regress master to. I do observe, however, the growth of compaction queue length peaks from of under a 100 to 200-300 tasks.

[2021-09-28 13:09] raphaelsc commented on #9331
Perhaps the pending task bug I mentioned above is continuously filling compaction task queue with tons of garbage, which causes actual compaction tasks to be CPU starved (pending tasks don't do any IO but they do consume CPU), and consequently compaction falls behind and reads time out due to high read amplification. Perhaps a change in compaction made this bug more apparent because it has been ar

[2021-09-28 13:25] kostja commented on #9331
Thanks @raphaelsc . We still need a reliable way to reproduce this. 3 attempts to run this test in jenkins since I started investigation, all failed: https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-lwt-500G-3d/lastBuild/console

[2021-09-28 14:20] raphaelsc commented on #9331
please find patch for branch 4.5 here https://github.com/raphaelsc/scylla/commit/ca473f0bc671690d416d438943cdb3b28587988c.patch

will now send it upstream

[2021-09-28 17:28] raphaelsc commented on #9331
I think this is a good opportunity to discuss scale model testing. Reproducing large data set problems using longevity tests doesn't scale.

The idea is about scaling down memory size, sstable size, partition size, etc. So a test can get much faster to a scenario (i.e. LSM tree layout) where problems show up. The challenge is to yield valid results.

[2021-09-28 18:14] raphaelsc commented on #8985
@gibsn it's not very clear to me which error you got after upgrading to 4.1.11. please update logs. tried to reproduce this problem locally on 4.1.10 but failed.

[2021-09-29 01:20] asias opened #9403 "slow query tracing for replica node does not work"
1) Start 2 nodes n1, n2
2) Enable slow query
curl -X POST "http://127.0.0.1:10000/storage_service/slow_query?enable=true&fast=false&threshold=80000"
curl -X POST "http://127.0.0.2:10000/storage_service/slow_query?enable=true&fast=false&threshold=80000"
3) Start c-s
cassandra-stress write no-warmup cl=TWO n=5000000 -schema 'replication(factor=2)' -port jmx=6868 -mode cql3 native -rate threads=200 -

[2021-09-29 01:20] asias commented on #9403
@vladzcloudius FYI

[2021-09-29 01:27] asias opened #9404 "tracing code does not work with coroutine"
I tried to add more tracing to the end of mutation apply process. I switched the code to coroutine. It was a surprise that after using coroutine, tracing does not work at all since I see zero entries in system_traces.event table.

[code]

After dropping coroutine usage, the tracking works correctly.

[code]

[2021-09-29 01:28] asias commented on #9404
@vladzcloudius FYI

[2021-09-29 06:49] asias opened #9405 "sync_point api provided with bogus sync point id allocate crazy amount of memory"
Procedure:

[code]

Scylla log shows up to 20GB memory allocation.

[code]

scylla commit:

1fd701e709e9fcfd608ae925634401ba3626614a

[2021-09-29 07:26] avikivity commented on #9404
Old versions of clang sometimes "forgot" coroutine variables. What clang are you using?

[2021-09-29 07:28] asias commented on #9404
The one from dbuild:

bash-5.1# clang --version
clang version 12.0.1 (Fedora 12.0.1-1.fc34)
Target: x86_64-unknown-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

[2021-09-29 07:42] avikivity commented on #9387
@psarna you have access to an aarch64 machine. It's a lot better to reproduce, fix, and test locally than to incur continuous integration latency.

[2021-09-29 07:44] yaronkaikov commented on #9387
by default we delete the workspace after the build finished. i am running now https://jenkins.scylladb.com/job/scylla-master/job/build/765/ with `PRESERVED_WORKSPACE` enabled. so it will be kept. @psarna  , will let you know once it's done

[2021-09-29 07:52] avikivity commented on #9404
This should work. Maybe you found a new bug. Try copying tr_state from the parameter to a local and using the local.

[2021-09-29 08:11] nyh commented on #5057
Some insights from the discussion in the duplicate issue #9389:

We already have a test for the BatchWriteItem limit of 25 items, `test_batch.py`::`test_batch_write_item_too_many` (waiting for review on the mailing list, titled "[PATCH] test/alternator: add test for too many items in BatchWriteItem"). It confirms that this limit 25 exists on DynamoDB but not on Scylla.

There is no particular reas

[2021-09-29 08:11] nyh commented on #9389
Closing as a duplicate of #5057. Added a few insights from here to that issue.

[2021-09-29 08:11] #9389 closed

[2021-09-29 08:33] gleb-cloudius commented on #9331
On Tue, Sep 28, 2021 at 06:09:25AM -0700, Raphael Carvalho wrote:

What is not entirely clear to me is what a parallelism of a single
compaction. I see that there are 5 compactions running when compaction's
task queue jumps to 1k. Does one compaction may generate 200 runnable
tasks?

--
			Gleb.

[2021-09-29 08:33] nyh opened #9406 "Missing counter for Alternator BatchGetItem operations"
In Alternator we have counters for each individual operation type, but oddly, the `BatchGetItem` counter is missing. We **do** have such a counter, but forgot to export it in `alternator/stats.cc` - we export there a `BatchWriteItem` item, but forgot the `BatchGetItem`...

While fixing this, we should double-check that we didn't forget any other operation type. It would be nice, although it will t

[2021-09-29 09:08] gleb-cloudius commented on #9331
I am looking at the log. I see that shard 5 almost did not do any compaction between the start of the run and when first timeouts started.
[code]
Timeouts storm beginning is also more or less correlate with "Active sstable reads graph:
![Screenshot 2021-09-29 at 12-05-09  longevity-lwt-500G-3d-test  Scylla Per Server Metrics Nemesis Master - Grafana](https://user-images.githubusercontent.com/65549

[2021-09-29 09:09] ShlomiBalalis commented on #9388
I found a similar issue in the rolling upgrade test:
Scylla version (or git commit hash):4.5.rc7-0.20210906.edead1caf with build-id bcf5092fb1da0a426c8f125fe31a2e2570132a64
scylla version after upgrade:4.6.dev-0.20210922.bae9c042c2 with build-id 9c8634cb7c1451d444f62e0547f55bc794a2f3f7
Cluster size:4
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-071844faa8a377793 (us-east-1)

After the first node, node 1 (6

[2021-09-29 09:14] gleb-cloudius commented on #9331
Another evidence that more and more sstables are accessed is query IO bandwidth graph:
![Screenshot 2021-09-29 at 12-11-08 Advanced - Grafana](https://user-images.githubusercontent.com/6554938/135239425-daacaafd-df7a-4bd5-aa71-2bb9978c7fe5.png)

Given that the load is the same bandwidth increase should mean more data has to be read to satisfy a request.

[2021-09-29 09:38] dimaqq commented on #9294
A user's perspective:
1. Kernel support would be ideal; other multithreaded programs would benefit too
2. Until then, running a process per node may more practical
   * I'm not sure if Linux will share the .text segment for same executable on NUMA... maybe there's a trick around that.
   * It's possible to share synchronisation primitives even between unrelated process (not parent-child) [1]

[1]

[2021-09-29 10:38] #9324 closed

[2021-09-29 11:06] slivne commented on #9331
@bhalevy please create debs with the patch from raphaelsc from https://github.com/scylladb/scylla/issues/9331#issuecomment-929277351 - so QA will be able to rn it and see if it solves anything.

[2021-09-29 11:10] slivne commented on #9393
does this work with 4.4.4 ? - is this a regression ?

[2021-09-29 11:27] fgelcer commented on #9331
@kostja @bhalevy , once you have the .deb files please ping me (there is a reproducer job ready to run

[2021-09-29 12:04] kostja commented on #9331
I am working on the debs, the debs are not a problem, @bhalevy I'll take care of it. Thanks for fixing the job!

[2021-09-29 12:08] fgelcer commented on #9331
i'm still not sure what the problem with that job is (something might be wrong in the repo (where we try to install debug info packages from) or something else...
the reproducers job will be used installing 4.5.rc7 and the .deb files you will provide me on top of that

[2021-09-29 13:01] bhalevy commented on #9331
@kostja @roydahan fwiw, I uploaded s3://roy-rpms/scylla_4.5.rc7-1.9331.20210929.80f15f6e2-deb.tar.gz
containing @raphaelsc's patch "compaction_manager: prevent unbounded growth of pending tasks" on top of scylla-4.5.rc7 @ 9265dbd5f

[2021-09-29 13:07] fgelcer commented on #9331
@bhalevy , thank you...
we only need to be the only file of this kind in the folder, so i moved it to `s3://roy-rpms/scylla_4.5.rc7-1.9331.20210929.80f15f6e2/scylla_4.5.rc7-1.9331.20210929.80f15f6e2-deb.tar.gz`

[2021-09-29 13:19] yaronkaikov commented on #9393
@slivne Yes, it's worked in 4.4.4 - https://docs.google.com/document/d/1WMG2Pqv6TOKWkPh2CeJViwj-6b7Fs6HablhZEc8WoA8/edit

[2021-09-29 13:24] kbr- opened #9407 "raft: server may try sending a snapshot that it just dropped"
In `server_impl::io_fiber`, after obtaining a snapshot descriptor from `fsm`, `io_fiber` will ask `_state_machine` to drop the previous snapshot:
[code]
(`logger.trace` call added by me).

However, in the same batch there may be a message generated by `fsm` with this snapshot ID, and `io_fiber` will try to send it:
[code]

[code]
...
[code]
...
[code]

An implementation of `rpc` will probably assu

[2021-09-29 13:26] kbr- commented on #9407
Most likely introduced in f9f859ac40b6a96be67b8cb21447f8810aa2522a. Before that change, the snapshot would be dropped in `applier_fiber`, which could only happen after sending messages (since stuff is pushed to applier_fiber after sending messages).

[2021-09-29 14:47] fgelcer commented on #9331
job is running, and the monitor is [live here](http://34.241.16.166:3000/) if someone wants to look into it while it is starting (maybe we don't need to wait 24h to understand it is taking too long)

[2021-09-29 14:53] elcallio opened #9408 "Database::apply commitlog write failures should add more verbose info on mutation that failed"
While it is rare, some customer issues have shown that we can run into cases where commit log apply (writing mutations to it) fails badly. In the known cases, due to oversized mutations. While these should have been caught earlier in the call chain really, it would probably help both end users and us (trying to figure out how they got so big and how they got so far) iff we actually added some info

[2021-09-29 15:17] enedil opened #9409 "flat_mutation_reader: last user of reserve_one died 3 years ago"
Given that flat_mutation_reader::reserve_one hasn't seen any usage since 2018 (d590a063c6d1c46e4150ad95150e701d767528d0), I propose removing it all together, both from fmr and the v2 counterpart.