[2021-09-29 15:50] ShlomiBalalis opened #9411 "node fails to start after reconfiguring internode compression: Operation timed out for system.cdc_local"
*Installation details*
Scylla version (or git commit hash):4.6.dev-0.20210922.bae9c042c2 with build-id 9c8634cb7c1451d444f62e0547f55bc794a2f3f7
Cluster size:6
OS (RHEL/CentOS/Ubuntu/AWS AMI): (eu-north-1)

At `2021-09-23 17:45:39.506` a RollingConfigChangeInternodeCompression started. The nemesis changes the value of internode_compression to a random value across the cluster (by changing the scyll

[2021-09-29 19:08] #9406 closed

[2021-09-29 19:08] #9400 closed

[2021-09-29 21:50] AGSaidi commented on #9292
If you build with `-moutline-atomics` you'll get either a ld/st pair or a casp depending on what the system at runtime supports at the cost of a branch. I don't think this will fundamentally change the cost, but it will help a little bit.

[2021-09-29 21:57] yaronkaikov commented on #9387
@psarna @bhalevy https://github.com/scylladb/scylla-pkg/pull/2416 - this is the fix

So it appears that we do upload the reloc to S3 sright after we finish building Scylla. we just didn't publish the metadata file at the same stage. This PR is fixing it

[2021-09-30 01:18] asias commented on #9404
With the following patch, it worked.

[code]

This makes using the bleeding edge compiler + coroutine sounds dangerous. What if we do not find the compiler bug.

[2021-09-30 04:05] yaronkaikov commented on #9387
@psarna @bhalevy it looks like https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/760/artifact/testlog/aarch64_release/run.9.log was removed from Jenkins due to our history limitation. But i think that https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/764/ is the same (also marked this build as `keep for ever`). In any case, the relocatable already in S3 and it

[2021-09-30 08:44] fgelcer commented on #9331
@bhalevy , i saw that @kostja has finished reverting commitlog on top of @raphaelsc 's patch, but now i need to receive .deb files...
would you be able to send them, so i could re-run the test with it?

[2021-09-30 08:52] piodul opened #9413 "Creating a hinted handoff sync point encode information only about live nodes, not all"
Scylla commit: c4328ffc4dce9e7463be7ff54e89463a2545f380

A hint sync point encodes information which can be thought of as a pair of maps `(shard id, endpoint id) -> replay position of the last stored hint` - one map is for regular hints, and the other for MV hints. When it is waited on, hints manager waits until the hint replay reaches the positions stored in the sync point.

Sync points can be cr

[2021-09-30 08:55] slivne commented on #9331
To me it seems like the run with @bhalevy DEBS (with RapahelSC fix) is much much better - https://github.com/scylladb/scylla/issues/9331#issuecomment-930248640

Did the populate phase finish
![Screenshot from 2021-09-30 11-54-13](https://user-images.githubusercontent.com/3465480/135420794-b1a327dd-0740-422a-9af5-032d8910c555.png)

vs what we had before

![Screenshot from 2021-09-13 17-52-44](https

[2021-09-30 08:59] fgelcer commented on #9331
@slivne , i'm trying to check it in the logs, but as i can see, there are nemesis running, meaning that the prepare phase was completed

[2021-09-30 09:00] gleb-cloudius commented on #9331
It is much better. I am following the dashboard but unfortunately it looks like monitoring is running on a potato.

There is one shard that misbehaves during population stage, but the fact that there is not compaction task built up allows workload to proceed with reasonable speed. It is still a regression if 4.4 did not exhibit that behavior.

[2021-09-30 09:05] fgelcer commented on #9331
yes, the prepare phase has finished, and it took around 11 hours to complete, and now we have regular load running, and everything seems to be working fine

[2021-09-30 09:10] kostja commented on #9331
Locally I am testing this patch against master. I can confirm that compaction queue length as well as main pending task queue does not exceed reasonable limits with Raphael's patch applied. Have been running the bench for 36+ hours, stopping.

[2021-09-30 09:42] slivne commented on #9331
@avikivity - it seems you are not ok with the patch raphael sent "compaction_manager: prevent unbounded growth of pending tasks" - how can we make progress - we have metrics for a run with the patch and without the patch - what should we (gleb / calle / kostja) check ?

[2021-09-30 09:49] slivne commented on #9409
fixed by b68a6c63e93d67cc1c2912e7a39773637e18b967

[2021-09-30 09:49] #9409 closed

[2021-09-30 09:55] slivne commented on #9396
@christian-lefty hi

can you please share your scylla.yaml and some info on the env

I am not able to reproduce this on the docker image

[code]

[2021-09-30 10:00] psarna commented on #9387
@yaronkaikov the link to the relocatable package at downloads.scylladb.com gives me a `Error: [object Object]` response instead of listing the files.

[2021-09-30 10:12] christian-lefty commented on #9396
reading the code a bit I assume the error is referring to this line:

partitioner: org.apache.cassandra.dht.Murmur3Partitioner

indeed our conf does not have it.

I assume it used to work on earlier versions of nodetool but this line is now mandatory. Do you happen to know if it's safe to add it ?

[2021-09-30 10:14] slivne commented on #9362
[code]

scylla_sstables_index_page_cache_bytes - is a gauge providing information about the current ssatble index pages being cache -since its a gauge an index could have been cached and then been swapped out.

the same for the others you mentioned they are gauges

[code]

[2021-09-30 10:15] slivne commented on #9362
closing this issue please post if you have more questions

[2021-09-30 10:15] #9362 closed

[2021-09-30 10:21] slivne commented on #9337
fixed by 7c8b89528524a461b1041d2f1456ea99bfe282a0

[2021-09-30 10:21] #9337 closed

[2021-09-30 10:37] slivne commented on #9318
Are you using scylla ami for 4.2.3 or install scylla on an aws ami - in which case what is the underlying os

And just to double check are you using the ephemeral drives that come win the i3en.6xl

- IO capacity is split between shards in 4.2
   - please provide the io dahsboard per shard for the nodes that have high usage
   - if you have single shards that are high and with high io queue delay i

[2021-09-30 10:45] psarna commented on #9387
In any case, I proceeded with working directly on the aarch64 machine and managed to reproduce the issue after running wasm tests in a tight loop for a few minutes. The backtrace actually varies, but here's one of them:
[code]
I'm worried by the fact that the problem arises from `wasmtime_runtime::traphandlers::unix::trap_handler at wasmtime_runtime.13pp8cmd-cgu.5:?` and it's a segfault. That woul

[2021-09-30 10:47] psarna commented on #9387
... and the reason why it's the `test_fib_called_on_null` case that segfaults is that it's a test case which exercises the path when wasmtime forcefully stops the execution of a function, because it executed too many ops already.

[2021-09-30 11:05] psarna commented on #9387
Another error that sometimes happen is an "OOM" during wasm compilation triggering an abort(), while the memory used by the Scylla binary is nowhere near oom conditions...
[code]

[2021-09-30 11:10] roydahan commented on #9411
@ShlomiBalalis please mention what was the value before the change and what is the exact value after the change.

[2021-09-30 11:26] psarna commented on #9387
According to http://docs.wasmtime.dev/api/src/wasmtime_runtime/traphandlers/unix.rs.html, wasmtime traps are implemented with a `longjmp`, which are easy to mess up... maybe that's what we can observe for aarch64? I don't know how else to explain a segfault that happens within a trap handler.

[2021-09-30 11:27] psarna commented on #9387
Meanwhile, I ran the same test in a loop on my x86_64 - it kept passing for 40+ minutes

[2021-09-30 11:33] nyh commented on #9352
@tgrabiec unfortunately it seems that in multiple places (I found already the view builder, flat_mutation_reader.cc, mutation_reader.cc, etc.) that we use the convention that the "first possible partition" is the pair `(dht::minimum_token(), partition_key::make_empty())`.

[2021-09-30 11:36] raphaelsc commented on #9331
@slivne actually we ended up agreeing on things, and I now have to work on v2. I'll do it now.

[2021-09-30 11:42] raphaelsc commented on #9331
summarizing what I found:

1) something is causing memtables to be flushed earlier. we think it's a regression caused by "4082f57ed Merge 'Make commitlog disk limit a hard limit.'
2) this exposed weaknesses in compaction layer
  A) first one is accumulation of pending tasks
  B) compaction controller isn't taking into account number of sstables https://github.com/scylladb/scylla/issues/4076

with

[2021-09-30 12:00] avikivity commented on #9331
What's the regression in compaction controller?

@elcallio any idea why the extra flush requests? (well first let's prove there are extra flush requests).

[2021-09-30 12:01] nyh commented on #9352
Yes, I can confirm that fixing murmur3_partitioner::get_token(const schema& s, partition_key_view key) to return minimum_token() for the empty key is necessary to be able to find an empty key in the sstable index file (reproduced by my test for empty strings in a materialized view). I'll send a patch for this for review.

[2021-09-30 12:08] raphaelsc commented on #9331
not a regression. this weakness has been around since it was introduced. please see issue #4076.

![lw07](https://user-images.githubusercontent.com/1409139/135452174-d89703dc-11b9-4581-ae96-ba6f763fff89.png)

![lw08](https://user-images.githubusercontent.com/1409139/135452257-0c547744-0a9a-47ba-a2b1-2905aab910f3.png)

[2021-09-30 12:10] raphaelsc commented on #9331
yellow line depicts bad shard.

[2021-09-30 12:32] ShlomiBalalis commented on #9411
Added!

[2021-09-30 12:36] enedil opened #9415 "Raft test: use after move"
I used cppcheck and got following warnings:
[code]

These come from such snippets:
[code]

I guess that it's not expected to `std::move` `read_quorum_msg` twice, but I don't know what is the expected fix. I'm assigning Gleb (the code author).

[2021-09-30 12:43] gleb-cloudius commented on #9415
Well, I saw double move when I wrote it but since read_quorum_msg's move constructor does copy it is safe. move only does casting here. What is this cppcheck and how urgent is it to silence it?

[2021-09-30 12:53] enedil commented on #9415
It is a static analysis tool. It isn't urgent, it just looked to me as a genuine bug (I did not read the move ctor code).

If we wanted to adopt cppcheck more widely, then we could start commenting such lines with
[code]
Anyway, I'm closing the issue.

[2021-09-30 12:53] #9415 closed

[2021-09-30 14:39] ShlomiBalalis commented on #9411
The issue also occurred in longevity-100gb-4h-ebs-gp3-test:
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):
Config:
- https://github.com/scylladb/scylla-cluster-tests/blob/master/test-cases/longevity/longevity-100gb-4h.yaml
- https://github.com/scylladb/scylla-cluster-tests/blob/master/configurations/ebs/ebs-gp3-2v-4tb-16k-iops.yaml

At `2021-09-24 04:11:07.776`

[2021-09-30 14:54] fgelcer commented on #9331
i have stopped the running build, and queued a new build [here](https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/Reproducers/job/longevity-lwt-500G-3d-test-on-4.4/5/) with .deb files @kostja provided me.
FYI @slivne @bhalevy @raphaelsc @roydahan

[2021-09-30 18:27] fgelcer commented on #9331
i had to spin of a new build (as previous one failed due some transient issue, while installing the .deb packages), and [here you can find the monitor](http://34.244.241.218:3000/)

[2021-09-30 21:33] kostja commented on #9331
[](url
![Screenshot from 2021-10-01 00-32-16](https://user-images.githubusercontent.com/482910/135533138-72f01dd2-e665-4bf3-9876-dc6d636b474b.png)
)

[2021-09-30 21:34] kostja commented on #9331
LWT latency is stable after 3 hours of running the test

[2021-09-30 22:22] ngaugler opened #9418 "API returns incorrect values for row_cache size and capacity"
Scylla version:  4.5rc7

The API for cache_service returns incorrect results for get_row_size and get_row_capacity.  This causes scylla-jmx to return the wrong values, also causing nodetool info to report the wrong values.  get_row_capacity currently returns the used bytes in the cache, and get_row_size currently returns the count of entries in the cache.

Example of invalid result:
[code]
You can

[2021-10-01 00:26] YeminLi commented on #9318
Hi Slivne,
I'm using scylla AMI.
This is per shard view for the node, looks like most of the time it's balanced?
<img width="1829" alt="bad-instance-io" src="https://user-images.githubusercontent.com/44004590/132882835-53b39e69-f88e-4474-b067-e34e3bca1485.png">

What's the more proper way to see if one node is hitting the IO capacity (assuming it's balanced)?
1. Sum up all types IO bandwidth and I

[2021-10-01 10:20] enedil opened #9419 "test/lib/failure_injecting_allocation_strategy: _alloc_count is not set to any particular value"
The _alloc_count hasn't been explicitely specified. As the allocator has
been usually an automatic variable, _alloc_count had initially some
unspecified contents. This probably means that cases where the first few
allocations passed and the later one failed, might haven't ever been
tested. Good thing is that most of the users have been transferred to
the Seastar failure injector, which (by acciden

[2021-10-01 12:02] tgrabiec commented on #2805
After bf115e7d69b12f4ed4f208646b3eb9c02c966ec2, schema tables are owned only by shard 0.

[2021-10-01 13:59] enedil opened #9421 "Exception safety testing - ideas"
Currently, exception safety testing is quite limited.

There are two distinct mechanisms used.
First one is Seastar's `alloc_failure_injector`, which is used for bad_alloc exception safety.
Good sides:
 - `is_critical_alloc_section` - can be used to disable throws where we can't handle them (sound suppression mechanism)
 - erroring function can be customized (switched from `throw std::bad_alloc();

[2021-10-03 07:06] slivne commented on #9411
The change of internode compression from `none` to `default` is meaningless `default = none`.

system.local_cdc is a local table - not cleare whats going on - this is a rolling restart that doesn't work and the error we get is related to the cdc table

[2021-10-03 07:38] slivne commented on #9386
https://github.com/scylladb/scylla-machine-image/issues/221

[2021-10-03 07:46] slivne commented on #9331
@avikivity should we backport https://github.com/scylladb/scylla/commit/52302c3238ce11b36439d7e7330e5642e04e8eb1 to 4.5

[2021-10-03 07:50] slivne commented on #9320
@piodul is this fixed ?

[2021-10-03 07:53] slivne commented on #9318
@bhalevy / @xemul please help - I expect the issue is exactly what @xemul is working on now - e.g. when read+writes happen we do not hget all the bandwidth we expect .

Its fine to provide a midterm solution in the form to cap capacity somehow so this will actually work for them.

[2021-10-03 07:56] slivne commented on #9318
@YeminLi please note tou are using a non supported version we only support the last two open source releases - 4.3, 4.4 (soon 4.5 will be out and then the new I/O scheduler will be expected for all).

[2021-10-03 09:51] nyh commented on #8757
I sent already in May the following _one-line_ patch to the mailing list, titled "conf/scylla.yaml: change default Prometheus listen address". My patch deliberately fixed only `scylla.yaml` and not the defaults in the code, to guarantee that a user upgrading and keeping his existing `scylla.yaml` will not see anything changing. But still, some fears were raised in the discussion - https://groups.g

[2021-10-03 09:53] gleb-cloudius commented on #9407
A snapshot can be removed before or even during sending. The bug is in the test. Documentation should mention that indeed.

[2021-10-03 10:10] avikivity commented on #9331
I don't mind backporting it, but this isn't the real fix.

[2021-10-03 10:11] avikivity commented on #9331
Backported to 4.3, 4.4, 4.5.

[2021-10-03 10:15] slivne commented on #9331
I want to test with this patch and see if we still have a  regression in
this scenario or not.

On Sun, Oct 3, 2021 at 1:11 PM Avi Kivity ***@***.***> wrote:

[2021-10-03 10:19] hagitsegev opened #9422 "cql-pytest/run unittest fails on ARM/debug"
X86 is OK.
ARM release is OK.
This fails our nightly build.
Details:
https://jenkins.scylladb.com/job/scylla-master/job/build/774/artifact/output_test_aarch64_debug.txt/*view*/
(also on build 773)

[2021-10-03 10:30] kbr- commented on #9407
Then perhaps we should wait with closing this issue until documentation is fixed?

[2021-10-03 10:36] kostja commented on #9407
Gleb, how do you suggest the test is fixed exactly? I keep trying to document the snapshot semantics and keep learning new things, including with this issue. How can the state machine account for its snapshots if not via the commands to drop snapshot issued by Raft? If Raft instructs the state machine to drop its snapshot, how can it then instruct it to send it? Please provide clarification here h

[2021-10-03 10:42] nyh commented on #9422
As the log indicates, the `test cassandra_tests/validation/entities/secondary_index_test.py`::`testCreateAndDropIndex` crashes Scylla, but as you said only in the specific combination of ARM and debug build mode.

The test (originally a reproducer for #8717( creates an index on an empty table, does some operations (adding data to the table), and then removes the table. The crash we see in the log

[2021-10-03 10:43] gleb-cloudius commented on #9407
OK. lest rename it as documentation issue then.

[2021-10-03 10:45] gleb-cloudius commented on #9407
As Kamil implemented it in its test. If a snapshot id that needs to be sent is not present throw an error from rpc::send_snasphot

[2021-10-03 10:51] gleb-cloudius commented on #9407
Looks like only you can do it.

[2021-10-03 11:05] slivne commented on #9331
The patches are in next - once merged create .deb and give it to QA to test and see where we stand

@yaronkaikov / @roydahan - will work on this

[2021-10-03 11:08] slivne commented on #9309
@avikivity / @yaronkaikov we need to backport this to 4.5 from master in scylla / scylla-machine-image

[2021-10-03 11:08] gleb-cloudius commented on #9331
What for? We already had a run with similar patch. The test may pass but it does not mean that the regression is fixed.

[2021-10-03 11:09] avikivity commented on #9324
Backported to 4.3, 4.4, 4.5.

[2021-10-03 11:19] slivne commented on #9316
@tgrabiec help

[2021-10-03 11:40] kostja commented on #9407
@gleb-cloudius why not simply move taking the snapshot after sending the messages? There is no requirement that this happens before.

[2021-10-03 11:55] gleb-cloudius commented on #9407
Taking snapshot? It's in the different fiber. Also a snapshot may be replaced by an incoming message. May be you mean dropping a snapshot. How will it help? Sending a snapshot is an async operation, so you will remove a snapshot just after starting its transfer (and this assumes that rpc::send_snapshot uses snapshot_id before any preemption point otherwise you will have exactly same problem, and t

[2021-10-03 12:06] kostja commented on #9407
Yes, I mean updating the snapshot descriptor and dropping the snapshot. At least the server won't feed a dead snapshot descriptor into rpc. Pre-emption may happen, but it won't drop the descriptor. If preemption happens inside rpc, it's up to rpc to handle it - obviously there is no guarantee that the snapshot descriptor is still there if it happens. But at least we give the implementation a chanc

[2021-10-03 12:19] gleb-cloudius commented on #9407
On Sun, Oct 03, 2021 at 05:07:05AM -0700, Konstantin Osipov wrote:

Updating the snapshot descriptor have to happen before sending otherwise
you may transfer a snapshot that was not saved.

If we define how it should be handled I do not see any problem with
that.

Raft will drop it.

Why would it want to reference it in the first place? If snapshot
disappears it should not be sent.

Exactly. And r

[2021-10-03 13:39] hagitsegev commented on #9422
https://jenkins.scylladb.com/job/scylla-master/job/build/775/ passed.

[2021-10-03 13:54] nyh commented on #9422
I didn't insert any fix, and suspect it's a matter of timing. I'm planning to look at it later today and try to reproduce it on a more "regular" environment (x86 dev mode if possible).

[2021-10-03 17:00] nyh opened #9424 "Alternator GSIs should exclude items with empty-string key components"
This issue will become relevant when #5022 is solved, i.e., the ability to add GSIs to an existing table is added.

When a GSI is added to an existing table, Scylla's regular "view building" is used to build the GSIs. But Alternator may need special logic to filter out items which should **not** be copied to the GSI for some reason. One such case, and the purpose of this issue, is items whose GSI

[2021-10-04 05:00] denesb commented on #9328
Fixed by: 11a3b411c (but we should write a test for this to make sure its not broken in the future).

[2021-10-04 07:07] nyh commented on #9422
Looking at the log https://jenkins.scylladb.com/job/scylla-master/job/build/774/artifact/output_test_aarch64_debug.txt/*view*/ again I see the following sequence of log messages before the crash:
[code]
This seems to confirm my suspicion that we have a race of dropping the index and building the view. The "stopping to build" message is encouraging, though - it seems we knew we're supposed to stop

[2021-10-04 07:11] nyh commented on #9422
The answer to this appears to be a deliberate NO - the relevant code `view_builder::on_drop_view` is executed after the view was already dropped. The view builder step holds its own references to the schema, so it being dropped already is not a big problem, I think. The problem is probably in question 2:

[2021-10-04 08:12] #9354 closed

[2021-10-04 08:24] fgelcer commented on #9331
finally we have new builds... [here](https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/Reproducers/job/longevity-lwt-500G-3d-test-on-4.4/8/) i'm running with the latest AMI (ami-05e2206e3c6107d85 on eu-west-1)

[2021-10-04 08:28] bhalevy commented on #9320
Test passed in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/920/testReport/hintedhandoff_additional_test/TestHintedHandoff/hintedhandoff_sync_point_api_test/

Looks like we can close the issue.
@piodul please confirm.

[2021-10-04 08:34] fgelcer commented on #9331
and [here is the monitor](http://52.213.190.147:3000/) (that is still starting up)

[2021-10-04 08:50] nyh commented on #9422
I'm at a loss how this bug could be happening, because the code which I think is involved seems very careful...
It starts with view.cc's `flush_fragments()` which does
[code]
The reader is created, "upgraded" (the error at the end containing the "schema_upgrader" type suggests this really happened), and then safely moved into the `populate_views()`. So far we couldn't destroy the reader without cl

[2021-10-04 08:59] bhalevy opened #9425 ""Keep local_host_id in local_cache" apparently broke gossip logic for replace"
We have a bunch of dtest regressions in replace address tests:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/946/testReport/replace_address_test/

git bisect of replace_address_test.py:TestReplaceAddress_rbo_enabled.replace_node_diff_ip_test
pointed me at 9f5fd8b5c0 system_keyspace: Keep local_host_id on local_cache

@xemul please look into this.

Cc @asias

[2021-10-04 09:02] psarna commented on #9422
I recall seeing a similar thing lately, and indeed we already had a similar issue: https://github.com/scylladb/scylla/issues?q=is%3Aissue+%22was+not+closed+before+destruction%22+is%3Aclosed

Well, we also cannot rule out coroutine miscompile at this point - I've seen it enough times already to make it a primary suspect when I see something really weird. It would also fit with the fact that the iss

[2021-10-04 09:08] fgelcer commented on #9331
monitor is ready, and load has started (prepare load):
[here](http://52.213.190.147:3000/d/Es5agNvnz/longevity-lwt-500g-3d-test-on-4-4-scylla-per-server-metrics-nemesis-master?orgId=1&from=1633337705317&to=now)

[2021-10-04 10:13] tgrabiec commented on #9316
Opening the core

[2021-10-04 10:24] fgelcer commented on #9331
@kostja @gleb-cloudius @slivne @avikivity @roydahan @raphaelsc @bhalevy
after 1 hour of running prepare load, the throughput has dropped by 50% (not sure how previous jobs did)... could please someone take a look to confirm it is as good as last patch tested?
http://52.213.190.147:3000/d/Es5agNvnz/longevity-lwt-500g-3d-test-on-4-4-scylla-per-server-metrics-nemesis-master?orgId=1&from=1633337705317

[2021-10-04 10:28] gleb-cloudius commented on #9331
@fgelcer ^^^ I have no idea why we even running this.

[2021-10-04 10:43] piodul commented on #9320
@slivne @bhalevy

I looked at previous run of the Jenkins job and found another run which had the fix but didn't pass: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/914/testReport/junit/hintedhandoff_additional_test/TestHintedHandoff/hintedhandoff_sync_point_api_test/ . I managed to reproduce it locally.

Sent another PR which fixes that issue: https://github.com/scyll

[2021-10-04 10:52] raphaelsc commented on #9331
with "4082f57ed Merge 'Make commitlog disk limit a hard limit.' reverted, early memtable flushes are apparently gone.

![lw09](https://user-images.githubusercontent.com/1409139/135839023-c89250f6-13d1-4ae2-a690-2ff0479edb23.png)

[2021-10-04 10:59] syuu1228 commented on #9309
This was probably because of #9324, not just when running scylla_cpuscaling_setup.
After we merge https://github.com/scylladb/scylla-machine-image/pull/202, https://github.com/scylladb/scylla/pull/9325, https://github.com/scylladb/scylla/pull/9326, https://github.com/scylladb/scylla-machine-image/pull/205, our IaaS images should be able to use `performance` governor both on VM instances and bareme

[2021-10-04 11:18] avikivity commented on #9422
It's possible that `db::view::make_view_update_builder` failed, in which case the reader gets abandoned.

[2021-10-04 11:23] slivne commented on #9331
@Raphael S. Carvalho ***@***.***> is this per shard or per
instance ? if its per instance it maybe misleading

I checked Fabio's run above and there are cases in which we have small
values

(scylla_memtables_pending_flushes_bytes < 500000000)

On Mon, Oct 4, 2021 at 1:53 PM Raphael Carvalho ***@***.***>
wrote:

[2021-10-04 11:24] psarna commented on #9422
Right, and that's much more probable than a coroutine miscompile. For some reason, when reading the code, I assumed that the reader is created in this line, but it's the **builder**, and the reader is a parameter. It deserves another try-catch.

[2021-10-04 11:26] nyh commented on #9422
But how would make_view_update_builder fail? It wasn't the on_internal_error() (we didn't see an error message). The `view_updates` constructor is trivial, and so is the constructor of `view_update_builder`.  Do you have any suspicion how it can fail? I couldn't think of any

(Of course, it's always possible to fail on something generic like bad_alloc, but that is probably not the case in the test

[2021-10-04 11:37] xemul commented on #9425
What I see from test is that the test waits for the "has been silent for" message in other nodes' logs about node5 shutdown, while in logs I see that node5 left the cluster "regularly" with the help of shutdown message.

[2021-10-04 11:38] raphaelsc commented on #9331
per shard. this graph was taken on instance with @kostja which includes my patch and reverts  'Make commitlog disk limit a hard limit.'. as for this run with my patch only, there are definitely early flushes once the problem is triggered.

[2021-10-04 11:44] slivne commented on #9331
On Mon, Oct 4, 2021 at 2:39 PM Raphael Carvalho ***@***.***>
wrote:

Thanks - @Gleb Natapov ***@***.***> / @Carl Wilund
***@***.***> so given that with the wholeseries this is not
triggered and with the series and hard limit not enforced the issue is
trigerred is it clear where the regression is comming from ?

[2021-10-04 11:47] bhalevy commented on #9425
@xemul I think that in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/946/artifact/logs-all.release.2/1633311960254_replace_address_test.TestReplaceAddress_rbo_enabled.replace_node_diff_ip_test/node4.log
[code]

Are errors due to gossip sending ack rpcs to the AWOL node.
I think that the "FatClient has been silent for" message is where gossip forgets about it entirely

[2021-10-04 11:55] gleb-cloudius commented on #9331
You mean with whole series reverted. @elcallio should know for sure.

[2021-10-04 12:19] elcallio commented on #9331
@gleb-cloudius - sorry, I no longer have any clear idea which patches are in things that are being run, or even exactly what the regression spoken of here is anymore. :-( But a quick recap:
Hard limit commitlog will cause us to be more eager in flushing memtables, to ensure we don't stall on segment allocation. With it reverted, we will probably grow the # segments instead, but no extra MT flush (

[2021-10-04 12:27] gleb-cloudius commented on #9331
@elcallio - @kostja may point you to exact set of patches he reverted that made the regression to go away. The problem is that the regression is present even when HT is disabled by the config option.

[2021-10-04 12:51] elcallio commented on #9331
If the issue is flushing to often, it might be because master/4.5 sets the disk_usage_threshold in CL differently, to a lower value -> flush earlier to avoid hitting limits. Even without hard limits.

[2021-10-04 13:01] gleb-cloudius commented on #9331
Which patch did it? I see 7c84b16cd859ae721a9d560be07b003f648f6cdb makes it configurable, but I do not see that the option is even wired.

[2021-10-04 13:05] elcallio commented on #9331
It is not exposed via global config, only CL options. Changed in f89f4e69a0d209b0646e9804db281166fc679081 / 14252c8b71d746d02e6af9d0aeaa2c8ad32fe1bb. Previously we set threshold to `max_disk_footprint - segment_size/2`. With this, we most often will set it to `max_footprint - segment_size`

[2021-10-04 13:06] elcallio commented on #9331
I.e. 16MB earlier.

[2021-10-04 13:16] gleb-cloudius commented on #9331
As far as I see  the commit changes the calculation if the option is unset, but not uses the option. Anyway since the option is not exposed I do not see the easy way to verify your theory.

[2021-10-04 13:51] kbr- opened #9427 "sstable mx reader: implement position fast forwarding in reverse reads"
This issue assumes that #9281 is merged into `master` (at the moment of writing the issue it is in `next`).

After #9281, when the sstable reader is created with a reversed slice and `streamed_mutation::forwarding::yes`, it will use the `make_forwardable` wrapper which is inefficient (`fast_forward_to(position_range)` simply consumes and drops fragments from the underlying reader until the desired

[2021-10-04 13:54] elcallio commented on #9331
It uses the option, if set, adjusted for # shards. If unset, the default calculation is changed as stated above. The threshold change should again be only 16MB different using all other defaults.
There is also a change in the calculation of which CF id:s to signal flushing, but that should really cause _less_ flushing, i.e. we delay flushing id:s based on how much we need to free.

[2021-10-04 13:55] kbr- opened #9428 "sstable mx reader: reuse `clustering_parser` (or determine that it cannot be reused)"
The logic for parsing clustering keys from sstables is duplicated in a few places: in `clustering_parser` (which is used in `bsearch_clustered_cursor`), the sstable mx reader, and `partition_reversing_data_source` (after #9281). The `clustering_parser` abstraction looks like it could be reused in the other two places. Check whether that's true and if so, do it.

Refs: https://github.com/scylladb/s

[2021-10-04 14:18] psarna commented on #9422
It's hard to guess with debug build, I wouldn't be particularly astonished by an occasional bad_alloc though - iirc our debug mode uses system allocation instead of Seastar's, isn't it the case? I also don't see any other reason why constructing the view builder would fail, but it's clearly a place where we're not exception-safe. Perhaps I'll just try to build and run the unittest in question on o

[2021-10-04 14:31] avikivity commented on #9422
The system allocator will return bad_alloc only under extreme circumstances (usually more extreme than actually running out of memory, it's quite possible for malloc to succeed and then have the OOM killer turn it into a failure).

[2021-10-04 14:33] avikivity commented on #9422
(note that in debug mode malloc() is really mmap(), maybe we triggered /proc/sys/vm/max_map_count, though it seems so low it would have triggered much sooner - 65530)

[2021-10-04 14:45] #9320 closed

[2021-10-04 14:45] syuu1228 opened #9429 "GCP: scylla_io_setup generates invalid io_properties.yaml on n2-highmem-48 instance with 24SSDs"
On n2-highmem-48 instance with 24SSDs, scylla_io_setup generates invalid io_properties.yaml and scylla-server fails to boot:
[code]

io_properties.yaml on 24 SSDs, missing bandwidth and iops:
[code]

It's normally like this (io_properties.yaml on 8 SSDs):
[code]

Seems like scylla_io_setup has a bug.

Related with https://github.com/scylladb/siren/pull/5924

[2021-10-04 14:49] gleb-cloudius commented on #9331
On Mon, Oct 04, 2021 at 06:54:47AM -0700, Calle Wilund wrote:

I do not see that anyone ever set the option and I do not see it been
exposed to the command line. May be I am missing something.

So what do you suggest can be done to verify which change caused the
regression? Are there any metrics you can check to see it?

--
			Gleb.

[2021-10-04 14:50] avikivity commented on #9422
That's not actually true, asan consolidates many mallocs in the same mmap (it uses software bounds checking, not mmap page granularity)

[2021-10-04 14:51] tgrabiec commented on #9316
The SIGSEGV is not in the thread posted by @psarna, but here:

Notice this=0 for the logger instance

[code]

This continuation is an exception handler of the generic server:

[code]

[code]

Looks like the instance is no longer an instance of cql_server.

[2021-10-04 15:01] elcallio commented on #9331
I did not say the option was exposed or used (externally). I said that if set, CL uses it. Of course, since no one external sets it, this is moot, but...
As for the regression, again, I am unsure what we have decided _is_ the regression. Is the problem too many flushes? Or too few?
There are not really any metrics for this, no. If the problem goes away by reverting ab55a1b4e6e84a453a300be3aa688df8

[2021-10-04 15:01] tgrabiec commented on #9316
Messages prior to the crash:

[code]

So it's a use-after-free on the server instance during shutdown. Looking at the code of the server, it does not protect against this.

\cc @xemul

[2021-10-04 15:05] altanozlu commented on #2247
currently i am facing this problem

[2021-10-04 15:27] kostja commented on #9331
The relevant branch with reverts is dev/4.5-compaction-commitlog

[2021-10-04 15:27] kostja commented on #9331
https://github.com/scylladb/scylla-dev/tree/4.5-compaction-commitlog

[2021-10-04 15:32] xemul commented on #9316
The `generic_server::stop` ends up with `_stopped` future which, in turn, only resolves after `do_accepts()` does. @tgrabiec

[2021-10-04 15:37] xemul commented on #9316
Upd: You mean the
https://github.com/scylladb/scylla/blob/148a12f3da7082b3861ef2f63dbcab6ff6e31f3b/generic_server.cc#L178
bacground fiber?

[2021-10-04 15:42] tgrabiec commented on #9316
This only surfaces because exceptions are thrown from process(), and the _logger is touched.

Probably introduced in ac90a8ea5065825fe5a0902b06c2c784e66665a2

[2021-10-04 16:26] vladzcloudius opened #9431 "Compactions: introduce a parameter that would change maximum shares allocated for a compaction scheduling class"
HEAD: 1657e7be14b1e8080d4e3ff5ab1d1c7d3610fd15

*Description*
Today compaction shares can go as high as 1000 due to a dynamic nature of a compactions controller.

However many times we want to limit the maximum impact of compactions and have to resort to using `compactions_static_shares: X` setting X to some value lower than 1000. However when we do that we loose the dynamic part of the compaction

[2021-10-04 16:26] vladzcloudius commented on #9431
@raphaelsc @tomer-sandler @gnumoreno FYI

[2021-10-04 17:37] gleb-cloudius commented on #9331
I am just trying t understand which patches affect `disk_usage_threshold` calculation. Having a option that is never set neither internally not externally confused me.

This is the regression: https://github.com/scylladb/scylla/issues/9331#issuecomment-931262323
Flushing too many small sstables. Happens on a single shard of a single server as well which is very strange.

[2021-10-04 18:49] aleksbykov commented on #8089
Issue reproduced on 4.4.5:

I*Installation details*
Scylla version (or git commit hash): `4.4.5-0.20211003.61469d62b with build-id 06cdf64fafeaacf4bbf8370dfce1ffa40d297aea`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-04e7a944b5e85395d` (aws: eu-north-1)

Test: `longevity-100gb-4h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [l

[2021-10-04 20:58] fgelcer commented on #9331
after ~11 hours, i see the load dropped almost to zero, but i don't see that the prepare workload is yet done (seems like the issue is not fixed, or we entered another corner case)...
would someone mind looking into it?

[2021-10-04 22:37] #9425 closed

[2021-10-05 09:33] nyh opened #9432 "DynamoDB's request parser is a bit more lenient than we thought"
The `UpdateTimeToLive` requests requires an `Enabled` parameter, which is documented as being a _boolean_. Alternator validates that the parameter is really a boolean JSON constant, and if it's not, it prints an error.

However, it turns out the DynamoDB parser may accept **some** non-boolean values as valid boolean...
If we try to pass the string "dog" to `Enabled`, DynamoDB prints an error as ex

[2021-10-05 09:43] gleb-cloudius commented on #9331
Nemesis is running, but again we already did a run with the same patch.

[2021-10-05 09:55] haaawk commented on #9411
It does not seem CDC related. In one instance system.cdc_local had a problem but in another it was system.local.
That's probably a problem with system tables.

[2021-10-05 11:39] nyh commented on #2247
It should be easy to write a reproducing test for this issue, but note that since Cassandra already fixed this problem a year ago, they have a unit test for it `test/unit/org/apache/cassandra/cql3/validation/operations/SelectOrderByTest.java ` (which I didn't yet translate to Python).

[2021-10-05 12:40] nyh commented on #2247
Changed label to Cassandra 4.x compatibility - as https://issues.apache.org/jira/browse/CASSANDRA-10271 says, this was deemed and "improvement" and only reach Cassandra 4.

[2021-10-05 13:21] avikivity commented on #9309
The scylla backports are queued.

[2021-10-05 14:30] nyh opened #9435 "SELECT with IN, ORDER BY and function call does not obey the ORDER BY"
Scylla (and Cassandra) allow IN and ORDER BY to be combined - but only in an unpaged query (where the server can sort the single page of results and doesn't need to handle paging of multiple streams from the multiple IN options).

However, when the SELECT includes besides actual columns also a function call like TTL(v) the sort order ends up wrong. For example, in the test translated from Cassandr

[2021-10-05 14:47] psarna commented on #9422
FYI: I kept running this test in a loop on ARM for the last 40 or so minutes, and it hasn't failed even once so far. I guess there's no harm in just wrapping the constructor in a try-catch loop to be extra safe, and then see if the error still happens - if it does, it will prove the hypothesis wrong.

[2021-10-06 06:26] psarna commented on #9422
I tried working on a patch, but after a short investigation I'm actually at a loss how to even approach this issue. The problem is that reader's synchronous destructor requires an asynchronous action to finish before it's called, but I'm pretty sure that in this particular case it will be quite convoluted. Let's assume that the problem is indeed in the view builder constructor. Now consider the fo

[2021-10-06 06:50] slivne commented on #9331
OK so lets do that https://github.com/scylladb/scylla/issues/9331#issuecomment-933572227 @elcallio can you please prepare the branch from the tip of 4.5 - I tried to revert and there were some conflicts.

[2021-10-06 07:00] nyh commented on #9422
I have two questions here:

First, do we agree that nothing else besides a bad_alloc can possibly cause an exception in this constructor?

Second, if we agree that it must have been a bad_alloc, it must have been some transient setup problem on the test machine (it genuinely ran out of memory). Then my question is: do we even need or want to solve this case? We already know that bad_alloc can caus

[2021-10-06 07:06] psarna commented on #9422
I don't have any proofs either way. I ran this test (and cql-pytest in general) continuously for hours yesterday on our ARM machine and I haven't experienced a single failure. It's just the most reasonable guess I saw mentioned in this thread.

Got it, if we fear use-after-free then it's definitely preferable to abort. I just wondered if it's possible to have a safety mechanism that prevents use-a

[2021-10-06 08:59] elcallio commented on #9331
#9437 - but maybe test before merging?

[2021-10-06 09:19] haaawk commented on #9394
Not a bug. Design decision. You need to first stop writing to CDC Base table before you disable CDC on it or you will get a log message. @jul-stas please update the documentation. Closing the issue.

[2021-10-06 09:19] #9394 closed

[2021-10-06 09:22] haaawk commented on #9287
Is CDC enabled as experimental on 4.0?

[2021-10-06 09:23] kbr- commented on #9394
I'd suggest to keep this issue open until at least a corresponding issue is created in docs.

[2021-10-06 09:25] slivne commented on #7940
@asias can we close this

[2021-10-06 09:29] #8934 closed

[2021-10-06 09:59] kbr- commented on #9287
The only issue here is an error log message, it doesn't cause any actual problems to users of CDC. The caller of `do_update_streams_description` expects that the call may sometimes fail and will retry until it succeeds. In the case we see here it didn't even fail because 2 out of 3 replicas successfully performed the read so the entire quorum read succeeded even though one replica failed.

The cau

[2021-10-06 11:41] eliransin commented on #9331
@fgelcer deb files are at: `gs://scratch.scylladb.com/eliransin/version_for_fabio`
All debs are there and I am uploading the relocatable package now so we can debug this if needed.

[2021-10-06 11:46] psarna commented on #9421
Sounds good. With coroutines, it's actually easier than ever before to introduce new exception safety issues, because wrapping every single step in a try-catch block is inconvenient, especially that one can't `co_await` during unwinding.

[2021-10-06 11:54] fgelcer commented on #9331
@eliransin , i queued a new build [here](https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/Reproducers/job/longevity-lwt-500G-3d-test-on-4.4/9/)

[2021-10-06 12:06] psarna commented on #9432
Nice, I supposed you tried to investigate yourself as well - I wasn't able to find a single mention of the fact that DynamoDB accepts anything other than "true/false" in their docs. I guess one can always brute force all strings below a certain size... does DynamoDB charge per incorrect request? (:

[2021-10-06 12:19] nyh commented on #9432
Cool idea. I don't think DynamoDB charge for any requests other than reads or writes (and even those, just for successful requests) and doesn't have some base request cost, but there is a cost for the bandwidth which I assume you pay also for unsuccessful requests. This cost 0.09$ per GB of responses (IIUC, the requests are free), so I think we can afford it :-)

[2021-10-06 13:06] syuu1228 opened #9440 "AMI: On Nitro System, aws_instance.ephemeral_disks() returns both ephemeral disks and EBS disks"
When instance type is recommended one, but attached disk is NOT recommended (EBS), scylla_io_setup just use preset configuration.

For example, following condition:
instance type: i3en.2xlarge
storage: ephemeral disks x2, EBS x2

On both scylla_image_setup and scylla_io_setup, we only check the instance type is supported, like this:

- scylla_image_setup
[code]

- scylla_io_setup
[code]

And aws_i

[2021-10-06 13:06] #9429 closed

[2021-10-06 13:14] syuu1228 commented on #9440
I think we should print warning message on login prompt as well.

[2021-10-06 13:48] vladzcloudius opened #9441 "Set scylla-helper.slice CPU affinity according to Scylla CPU mapping policy - map it away from Scylla processing CPUs where possible"
*Installation details*
HEAD: c4328ffc4dce9e7463be7ff54e89463a2545f380

*Description*
Helper processes like scylla-jmx can hog CPU leading to latency spikes.
It makes sense to pin the `scylla-helper.slice` to "IRQ CPUs" on systems where we dedicate a separate CPU for network processing.

[2021-10-06 14:40] psarna opened #9442 "Load shedding should respond with an overloaded exception in order not to leak stream ids on the driver"
Our current mechanism of load shedding simply declines to respond on a connection when shedding is enabled. That may be problematic for drivers, which usually reserve stream ids (of which there can only be 16k of unique values) and do not reuse until a response comes. If Scylla never responds, the pool of ids would eventually get depleted (unless the driver simply decides to kill the connection, w

[2021-10-06 15:34] bhalevy opened #9444 "test_sstable_reversing_reader_random_schema: Assertion `_reads_in_progress == 0' failed"
I saw this a couple times and got a backtrace in release mode in a branch based on 4b4ce015aa725626e30f4b71c14f0dd032f7ff05

[code]

Decoded:
[code]

[2021-10-06 15:35] bhalevy commented on #9444
Code introduced in 64e703bb54

[2021-10-06 16:07] kbr- commented on #9444
@bhalevy do you have the Scylla log of this test run? I need the `random-seed` that was used

[2021-10-06 18:10] syuu1228 opened #9445 "AMI: When user attached existing disk image via EBS, Scylla AMI will destroy the data"
Currently, scylla_raid_setup run mdadm and mkfs.xfs with --force option, which will format disk unconditionally, even it contain filesystem.
It may destroy user data when user attaches existing disk image via EBS.
It is not recommended way to use our AMI, but still we should avoid such mistake if possible.
Probably we can run filesystem existance check on EBS disk before running scylla_raid_setup,

[2021-10-06 19:11] fgelcer commented on #9331
@eliransin , because you place the relocatable file in there, SCT tried to install also the files in it, so i have copied the `.deb` files to a folder inside the path you gave me, and i'm re-running [in here](https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/Reproducers/job/longevity-lwt-500G-3d-test-on-4.4/10/)

[2021-10-06 19:59] bhalevy commented on #9444
You can also instrument the code to assert for unclosed file input streams in their destructor to reduce the fuzziness.  The current assert requires outstanding read-aheads.

[2021-10-06 20:10] slivne commented on #9396
Yes its fine to add this its set by default

 - did you upgrade from an older release - if so can you provide the version of the earliest release that you started from ?
 - if you did not upgrade - can you please provide the distribution you are using and the package you installed and how you installed

something seems broken and we would like to fix that

[2021-10-06 20:11] fgelcer commented on #9331
@eliransin , it is missing the scylla-python package:
[code]

[2021-10-07 09:25] ashangit opened #9446 "Repair failing due to missing index entry in sstable while index files seems to have some index entries"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.4.5
Cluster size: 20 nodes
OS (RH

[2021-10-07 09:31] kbr- commented on #9444
Curious. I asked because I'm interesting on why an exception was thrown in the first place (I understand that an exception is what causes the premature destruction of readers). The test does not expect any exceptions, certainly not at the moment the readers are created. The exceptions indicate a deeper problem (not handling closing properly is just a side effect).

In any case I confirmed locally

[2021-10-07 10:45] cmm opened #9448 "Possible race condition between table stopping and compaction"
Scylla version: hard to say due to code movements, but at least any since 2019.1

Description: a new compaction may be triggered for a table that is closing (while the compaction manager is disposing of that table's compaction tasks), leading to a use-after-free.  Can be observed by running database_test in debug mode enough times (where "enough" is "let it re-run for several hours").

[2021-10-07 12:00] raphaelsc commented on #9422
nice trick and important one. perhaps it should be documented in our HACKING.md

[2021-10-07 12:27] bhalevy commented on #9444
@kbr- The exception I mentioned in 90fd4d5ed7c77ac547686956e9283e963a7b4757 is only theoretical.
I don't think it caused the assertion failure here.
I guess that the cause here is merely missing close() calls to readers.
This would be not-easily reproducible since scylladb/seastar@ba324727748486f3cc7d92b1d0b26336e5f2e2de checks for _reads_in_progress and that might require bad-luck to get and appa

[2021-10-07 17:40] tzach opened #9449 "Allowing authenticated and not authenticated users at the same time"
Scylla allow one to Enable and Disable Authentication Without Downtime
https://docs.scylladb.com/operating-scylla/security/runtime-authentication/

The process includes a TransitionalAuthenticator which require, but not check login/password.
Providing a dummy login/password require an application change, which is hard to coordinated.

It would be useful to allow users to use both authenticated and

[2021-10-08 05:30] yaroot opened #9450 "materialized view doesn't work if there is a "to" column"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash) :4.4.5-0.20211003.61469d62b-1
Clust

[2021-10-08 09:01] haaawk commented on #9411
What's the exact setup of the test? How many nodes are there. Is there any workload running in parallel? if so what is it? @enedil's first attempt to reproduce the problem has failed so we need more context. @ShlomiBalalis

[2021-10-08 13:41] denesb opened #9452 "mutation_writer::partition_based_splitting_writer is not exception-safe"
In particular the following snippet is problematic: https://github.com/scylladb/scylla/blob/e88891a8af96e600b11136873185980e2a506b09/mutation_writer/partition_based_splitting_writer.cc#L55-L58
If creating the new bucket throws, the old already closed one is left in the bucket list, leading to double close, causing the `parallel_for_each()` in `partition_based_splitting_writer::close()` to wait on

[2021-10-08 15:30] raphaelsc opened #9455 "sstable metric currently_open_for_writing is bogus"
metric currently_open_for_writing, used to inform # of sstables opened for writing, holds the same value as total_open_for_writing. that means we aren't actually decreasing the counter, so it is bogus

[2021-10-08 16:19] vladzcloudius opened #9456 "Configure file-max and nr_open in addition to per-process LimitNOFILE"
*Installation details*
HEAD: c4328ffc4dce9e7463be7ff54e89463a2545f380

*Description*
Today we set LimitNOFILE to some (higher) value in the corresponding systemd config file. However we need to make sure that kernel's corresponding `fs.nr_open` and and `fs.file-max` are at least that value too.

[2021-10-09 09:54] #9442 closed

[2021-10-10 06:37] slivne commented on #9331
@eliransin / @fgelcer any update

[2021-10-10 07:36] eliransin commented on #9331
I re-validated that those packages are public. Can you be more specific about what where the problems.
BTW, the authentication issues you faced sounds like they are unrelated to the specific folder but part of the normal workflow
in gs cloud where it requires reauthentication from time to time (for uploaders).

[2021-10-10 08:03] bhalevy opened #9457 "flat_mutation_reader::consumer_adapter: consumer must be closed before its destroyed"
The consumer may hold opened files that must be closed before they are destroyed
as seen in a release branch off of 4.3:

[code]

[2021-10-10 08:53] fgelcer commented on #9331
running [here](https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/Reproducers/job/longevity-lwt-500G-3d-test-on-4.4/13/)

[2021-10-10 09:04] nyh commented on #9450
A few more data points on this bug (I'm writing now a test to check all the angles):

Creating the view does not report any problem, the bug happens when **writing** data:
1. When writing to the base table which already has the view, the write fails with an unspecified "failure", and the following message appears in the log: `ERROR 2021-10-10 11:35:39,275 [shard 1] storage_proxy - exception during

[2021-10-10 09:38] fgelcer opened #9458 "Installation of Scylla on SLES 15 is failing due to missing dependendy"
following the work on https://github.com/scylladb/scylla/commit/bcd41cb32d68d57140c310763bffa6b1befd301a, [a new test](https://github.com/scylladb/scylla-cluster-tests/pull/3813) was added to SCT, but it is failing (when calling `sudo systemctl start scylla-server.service`).

the test itself was failing (no support of scylla-manager), and [this commit](https://github.com/scylladb/scylla-cluster-te

[2021-10-10 10:35] fgelcer commented on #9458
the trigger to this job was added by https://github.com/scylladb/scylla-pkg/pull/2378

[2021-10-10 10:39] slivne commented on #9446
@ashangit - we would like to help

We need some additional info  to try and see if past known issues could be the source
- what was the initial version you ran on this cluster ?
- has the cluster always been using the same smp count ?
   - if not did you run the cluster in the past some nodes with 12 nodes and some with 60 ?

Would it be possible for you to share a few sample sstables with the abo

[2021-10-10 12:48] nyh commented on #9450
Turns out the bug is in the required `"to" is not null` restriction.
What happens is that this restriction is parsed by the parser, into a restriction object, with the column name saved as the string `to` (without any quotes). Later the materialized-view filtering code wants to re-print the restriction it into a string. This **does not** re-add the quotes around the `to`, because it uses  `column_

[2021-10-10 13:48] nyh commented on #7856
The two cql-pytest tests we have for this issue,
* `test_frozen_collection.py::test_wrong_set_order_in_nested`
* `test_frozen_collection.py::test_wrong_set_order_in_nested_2`
do not fail any more, and now appear as XPASS. We need to figure out if this bug got solved at some point along the way, or something else (maybe changes in the driver?) made it harder to reproduce.

[2021-10-10 13:51] nyh commented on #8203
The two cql-pytest tests we have for this issue,
* `test_filtering.py::test_filtering_contiguous_nonmatching_partition_range`
* `test_filtering.py::test_filtering_contiguous_nonmatching_single_partition
do not fail any more (XPASS).
We should check if the problem is really fixed, and if what fixed it was a newer Python driver version, or some fix in Scylla.

[2021-10-10 14:48] nyh commented on #9450
I just sent a patch to the mailing list titled "[PATCH] cql3: deprecate and start replacing cql3::util::maybe_quote", with a test and a fix for this issue.

[2021-10-10 18:02] juliayakovlev opened #9460 ""Unexpected error while querying" c-s error during `scylla-server` service restart and after the restart was competed"
*Installation details*
Kernel version: `5.11.0-1020-gcp`
Scylla version (or git commit hash): `4.5.0-0.20211006.47be33a10`
Cluster size: 6 nodes (n1-highmem-16)
Scylla running with shards number (live nodes):
   longevity-10gb-3h-4-5-db-node-526b36bd-0-1 (34.75.206.9 | 10.142.0.100): 14 shards
   longevity-10gb-3h-4-5-db-node-526b36bd-0-3 (35.185.127.172 | 10.142.0.106): 14 shards
   longevity-10g

[2021-10-11 05:25] slivne commented on #9460
This seems like a bug in the driver not in Scylla - why would the driver continue to send requests to a session that is closed ?

[2021-10-11 08:32] ashangit commented on #9446
Hi, @slivne
- what was the initial version you ran on this cluster ?
It was 4.4.2
- has the cluster always been using the same smp count ?
Yes the cluster was always using the same smp count of 60.
We did try reducing the smp to 12 because we have another cluster using older servers (with less cores 16) which is running mostly the same data/database schema on which we don't face this repair issue.

[2021-10-11 08:39] syuu1228 commented on #9458
Yes, looks like we need to merge scylladb/seastar#931 (the patch for scylladb/seastar#930)

[2021-10-11 08:41] nyh commented on #8203
Wow. I don't know how this happened, but I have in `/home/nyh/.local/lib/python3.9/site-packages/cassandra/cluster.py` a file which contains his fix! The file is dated September 19, a couple of days after he committed his patch. I have no idea where this file came from - I certainly didn't do it myself, and it's rather annoying - I'm guessing some sort of Scylla build tool or something brought it

[2021-10-11 09:06] nyh commented on #8203
Indeed, we have this patch in the Scylla driver: https://github.com/scylladb/python-driver/commit/6ed53d9f7004177e18d9f2ea000a7d159ff9278e

[2021-10-11 09:53] ashangit commented on #9446
Some sstable for which we face the missing index entry in sstable have been pushed here: https://upload.scylladb.com/f0d530d6-a13a-4b44-ad73-84e0bf44e1d1/scylla_issue_repair.tgz

[2021-10-11 11:04] slivne commented on #9331
@elcallio / @eliransin please check the run as well -

[2021-10-11 11:24] slivne commented on #9146
@asias do we need to backport this to 4.5 ?

[2021-10-11 12:46] denesb opened #9463 "scrub/segregate compaction uses the same partition-estimate for all buckets"
Scrub compaction simply uses the default compaction mechanism for estimating the number of partition going into each output sstable. This is fine for the majority of the cases where the input sstable is not split at all or is split into a few output sstables. It becomes a problem when an input sstable has to be split into hundreds or thousands (both have been seen in the wild) of output sstable. M

[2021-10-11 16:18] nyh opened #9465 "Idea: "default TTL" feature for Alternator based on Scylla's "default TTL""
We have issue #5060 about implementing the "TTL" feature of the DynamoDB API. This feature will allow users to expire individual items at different times, determined by an expiration-time attribute. The implementation of this feature, including all its guarantees (including deletion from disk on the right time and Alternator Streams visibility) will involve periodic scans of data, with non-negligi

[2021-10-11 23:49] roydahan commented on #9411
@haaawk, the test to reproduce it is "longevity-100gb-4h" with the "RollingConfigChangeInternodeCompression" as the nemesis.
The setup is stated in the original description - 6 nodes.
The stress is regular c-s write and read.

[2021-10-12 00:52] asias commented on #9146
No. 4.5 does not have flat mutation reader close series.

[2021-10-12 00:56] asias commented on #9183
Yes. we need it.

@avikivity  Could you please backport to 4.05. It is a trivial fix to debug log.

[2021-10-12 06:23] haaawk commented on #9411
Do you have a documentation how to run this `"longevity-100gb-4h" with the "RollingConfigChangeInternodeCompression"` @roydahan. @enedil is new to the company and he needs to learn this from scratch.

[2021-10-12 06:37] cvybhu commented on #2247
:+1: I will take a look at it

[2021-10-12 08:36] #7356 closed

[2021-10-12 09:20] ManManson opened #9467 "Deprecate `--experimental` configuration option"
The documentation for `--experimental` config option states that it enables all experimental features, but this is no longer true, i.e.: `raft` feature is not enabled with it and should be explicitly enabled via `--experimental-features=raft` switch (we don't want to enable it by default alongside other features).

Since the flag doesn't do what it's intended to, we should mark it as "deprecated",

[2021-10-12 09:40] ashangit commented on #9446
@denesb this new cluster is not used for now so no user queries running on it.
We were in the process of migrating from a cassandra cluster to this scylladb cluster.
While doing that we had to increase the size of the cluster and we started to face issue to add node (we rely on repair based node ops) failing due to those repair issues.
Then we tried repair on other nodes and discover that strange

[2021-10-12 09:46] avikivity commented on #9183
Backported to 4.5. 4.4 does not have this code.

[2021-10-12 09:52] avikivity commented on #9448
Backported to 4.4, 4.5.

[2021-10-12 09:53] avikivity commented on #9442
No vulnerable branches, not backporting.

[2021-10-12 09:55] avikivity commented on #9269
Cosmetic/debug, not backporting.

[2021-10-12 09:58] avikivity commented on #9207
This likely has no effect on active branches, but backporting anyway (4.5 only vulnerable release) to be safe.

[2021-10-12 10:03] avikivity commented on #8923
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2021-10-12 10:09] avikivity commented on #8874
Not backporting, since #7668 (which was backported) is likely sufficient.

[2021-10-12 10:11] avikivity commented on #6783
Aged out.

[2021-10-12 10:38] nyh commented on #9467
This issue was opened, patched, and committed in about one hour, and it seems I'm about one hour too late to join the discussion (was having lunch ;-)). My two cents is that I would not have deprecated the "--experimental" option:

This option is useful for testing Scylla. For example test/cql-pytest/run.py runs Scylla with this option. It's also used by some dtests (e.g., use_functions_test.py).

[2021-10-12 10:47] nyh commented on #9467
By the way, making this change to specific experimental features actually helped me find a bug - the experimental Alternator TTL code couldn't be enabled with a "--experimental-features=alternator-ttl", just with a blanket "--experimental". I'll send a patch for that.

[2021-10-12 10:51] avikivity commented on #8727
Feature, not bug, so not backporting.

[2021-10-12 10:58] avikivity commented on #8521
Backported to 4.4, 4.5.

[2021-10-12 11:00] avikivity commented on #8494
Backported to 4.5. @syuu1228 do we need it in 4.4? The code seems different.

[2021-10-12 11:05] avikivity commented on #8317
Too complicated to backport, and Thrift is hardly in use, so won't backport for now.

[2021-10-12 12:21] elcallio opened #9469 "Should config errors really just result in warnings?"
As a result of historical reasons through #2933 scylla.yaml parsing will treat all non-syntactical errors (i.e. broken opt names/value) as warning/error only, but still continue to run.
Now, with the amount of log output scylla produces, this is _very_ easy to miss (as I myself experienced).
Should we perhaps now (new decade and all) consider making config value errors fatal, and actually terminat

[2021-10-12 13:08] bhalevy commented on #9446
@tgrabiec did you encounter anything similar when implementing caching for the index pages?

[2021-10-12 14:34] #9463 closed, assigned to nobody

[2021-10-12 15:39] kbr- opened #9470 "`flat_reader_assertions::produces_range_tombstone` doesn't check the tombstone's bounds"
The following test passes:
[code]

obviously it shouldn't, because the tombstone produced by `rd` covers the range `[0, 1]`, not `[2, 3]`.

This is pretty bad as `produces_range_tombstone` is used in important tests such as in mutation_source_test.cc which is used to test many of our `flat_mutation_reader`s.

`produces_range_tombstone` only checks that the fragment is a range tombstone, besides th

[2021-10-12 15:58] kri5 opened #9471 "scylla_io_setup on GKE: fails with workload identity enabled, since 4.3.x"
*Installation details*
Scylla version (or git commit hash): 4.4.5
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): GKE (over GCE) with scylla-operator through Helm

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): GKE
Hardware: n2-highmem-8 (8cpus/64GB RAM)
Disks: 1 local-ssd

When running a Scylla cluster on a GKE cluster w

[2021-10-12 16:10] kbr- opened #9472 "`flat_mutation_reader`s: fast-forwarding to ranges with strict clustering prefixes is inconsistent across readers"
The following test passes:
[code]

It creates an sstable with a single partition with a single range tombstone: `[0:1, 1:0]`. We then query this sstable with fast-forwarding enabled and we forward to the range `(after 0:, before 1:)`. Note that the bounds of the range use strict (non-full) prefixes of clustering keys. The test expects that the reader returns the tombstone `(0:, 1:)` because the fo

[2021-10-12 17:07] fyang13 opened #9473 "sstablemetadata not recognize hints_compression attribute"
*Installation details*
Scylla version (or git commit hash): 4.4.4
Cluster size: 15 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): RHEL

sstablemetadata does not recognize "hints_compression" attribute and will error out:
"Using /etc/scylla/scylla.yaml as the config file
Exception (org.apache.cassandra.exceptions.ConfigurationException) encountered during startup: Invalid yaml: file:/etc/scylla/scylla.yaml

[2021-10-12 17:27] tgrabiec commented on #9470
The tombstones are compared here:

[code]

The problem is that the tombstones are trimmed to request ck_ranges before comparison, and by default ck_ranges is an empty list, so trimming yields empty lists all the time.

[2021-10-12 20:49] paulocoghi opened #9474 "Usage scenarios and source of O2-Tree"
I cordially would like to understand where O2-Tree indexes are used on Scylla. For example, do Scylla uses it on every case previously satisfied by a B+Tree _(considering O2 seems to [outperform](http://www.ipcsit.com/vol45/016-ICIKM2012-M0030.pdf) B+Tree on every case)_ or, in some cases, B+Tree's are still used instead of O2-Tree?

Also, after some research, I couldn't find it's source on Scylla

[2021-10-13 07:28] asias opened #9475 "batchlog entry can stay forever in system.batchlog"
Consider

1) n1, n2, n3 in the cluster, rf = 3
2) n3 is down
3) a batchlog entry is written to n1 and n2
4) n3 never goes back and is not removed from the cluster
5) n1 and n2 replay the backlog entry, writing using CL=ALL, writes will never succeed since n3 is down, the entry in batchlog is not deleted.
6) n1 and n2 repeat step 5 in replay_interval seconds (60 seconds)

There are too problems 1)

[2021-10-13 09:00] lauranovich opened #9476 "DOCS: contribute/review-checklist.md -Link to file is 404 - file is missing"
In the contribute/review-chewcklist.md file there is the following section:
[code]
The above link will 404, there is no file named coding-style.md in the repo.

It needs to be found and the link fixed, or this section needs to be removed.

[2021-10-13 09:21] avikivity commented on #9360
No vulnerable branches, not backporting.

[2021-10-13 09:23] avikivity commented on #9263
Developer documentation, so not backporting.

[2021-10-13 09:28] avikivity commented on #8675
Build only, not backporting.

[2021-10-13 09:31] avikivity commented on #8542
Will keep the backport candidate label so we can revisit it later.

[2021-10-13 09:34] avikivity commented on #2190
Enhancement not bug, not backporting.

[2021-10-13 09:34] avikivity commented on #1076
Huge change, so not backporting.

[2021-10-13 10:39] kbr- commented on #9472
For example, I'm guessing it would be possible for one reader to return a range tombstone such as `[1, 3]` and another to return two range tombstones `[1, 2)`+ `[2, 3]` and both are correct. Hence the complex logic of `flat_mutation_reader_assertions::produces_range_tombstone`...

[2021-10-13 11:05] eliransin commented on #9331
@Sorry - I see that the date also plays part in this, I will replace the files.

[2021-10-13 11:28] bhalevy opened #9479 "view_builder: was not closed before destruction in view_builder::do_build_step"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/4059/artifact/testlog/x86_64_debug/run.430.log
Scylla version 8b917f7c9

[code]

Decoded:
[code]

[2021-10-13 13:30] avikivity commented on #8675
It means I'm not backporting the change to older branches.

[2021-10-13 14:47] dorlaor commented on #1083
I think that you can treat scan/range as a regular operation * N where N is
the
number of partitions. It's not accurate, since scan is efficient in terms
of server
side only processing but the partitions are scattered in the cluster.
LIKE as an operation, isn't an index but more of a regex. If you can live
with it,
use it. Give it a try if you have it running. It's a poor's man text search

On Wed

[2021-10-13 22:48] tgrabiec commented on #9446
No, first time I see this error.

[2021-10-14 06:28] denesb commented on #9472
I think the compaction reader (which we already have) is the best base for a canoicalizing reader. It already goes most of the way, with the exception of deoverlapping range tombstones (much easier with v2).

[2021-10-14 08:59] ashangit commented on #9446
Binary pushed here: https://upload.scylladb.com/f0d530d6-a13a-4b44-ad73-84e0bf44e1d1/scylla
But this is a stripped one, let me know if debug symbols + stripped binary is not enough and if so how I can generate non stripped one on the build

[2021-10-14 09:15] denesb commented on #9446
stripped binary + debuginfo should be enough, thanks
will try to open the core

[2021-10-14 11:27] bhalevy opened #9482 "fatal error: in "fuzzy_test": std::runtime_error: Truncated frame"
Unit test flakiness seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/4056/artifact/testlog/x86_64_dev/multishard_mutation_query_test.262.log
Scylla version 33f8ec09df309b055766aec5c2845f0c4e525bd4 (that was promoted later)
[code]

[2021-10-14 11:31] bhalevy opened #9483 "frozen_mutation_test: test_writing_and_reading: Mutations differ"
Unit test flakiness seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/4055/artifact/testlog/x86_64_dev/frozen_mutation_test.195.log
[frozen_mutation_test.195.log](https://github.com/scylladb/scylla/files/7345641/frozen_mutation_test.195.log)

Scylla version 33f8ec09df309b055766aec5c2845f0c4e525bd4 (that was promoted later)

[code]

[2021-10-14 11:34] bhalevy commented on #9482
@denesb please also look into this issue as you wrote fuzzy_test.
It might be related to #9483 as they both popped up together in next at the same version

[2021-10-14 12:03] gleb-cloudius commented on #9331
14:25:28  Finished: FAILURE

[2021-10-14 13:37] rzetelskik opened #9485 "`stopwaitsecs` missing from scylla-server supervisord config"
scylla-server should have a `stopwaitsecs` defined in its supervisord config. Currently no value is set explicitly (https://github.com/scylladb/scylla/blob/master/dist/docker/etc/supervisord.conf.d/scylla-server.conf), resulting in using the default value of 10s. As per supervisord documentation:

[code]

To make it concise, `stopwaitsecs` should most likely be set to the same value systemd's `Tim

[2021-10-14 14:56] enedil opened #9486 "memtable test - testing with `Reversing` doesn't cover set both `last_row` and a new change mark"
For testing flat mutation readers, there is  `run_mutation_source_tests`. They do test reverse queries and in particular, reversing reader. For some reason however, it never happens that here, `last_row` is set:
https://github.com/scylladb/scylla/blob/4f3b8f38e24b1ca78c356dd4fb70365bb3cdfded/partition_snapshot_reader.hh#L133

However, when not Reversing, the tests do hit this code path.

CC: @kbr-

[2021-10-14 15:05] tgrabiec opened #9487 "Scans using reversed clustering order should use the same page size limit as forward reads"
Currently, the coordinator sets a higher limit for page size for reversed reads:

[code]

The default for `get_unlimited_query_max_result_size()` is 100MB (adjustable through config), whereas `query::result_memory_limiter::maximum_result_size` is 1MB (hard coded, should be enough for everybody)

This limit is then used by the replica to decide when to break pages and, in case of reversed clusterin

[2021-10-14 18:37] fgelcer commented on #9331
finally we have something running [here](https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/Reproducers/job/longevity-lwt-500G-3d-test-on-4.4/20/)

[2021-10-15 07:08] denesb commented on #9446
@ashangit I managed to open the core, however it has only a few frames intact and some symbols seem to be missing, although I don't understand why. Any chance you can upload another core?

[2021-10-15 11:52] tnozicka commented on #9485
Ideally these 2 settings shouldn't get out of sync. One option is to setup the container image with systemd. I've heard that someone tried in the past and it didn't work. I personally don't see a reason it wouldn't as the container runs its process as `#1` and e.g. [RedHat seems to provide a freely redistributable base image with systemd presetup](https://catalog.redhat.com/software/containers/ubi

[2021-10-17 11:59] nyh opened #9489 "test/alternator should recognize Scylla is down and not report hundreds of tests failing"
Currently, if Scylla crashes in the middle of a test/alternator/run, the log and Jenkins will report all the individual tests following the crashing test as failing. When you see a list of a hundred tests failing, it's harder to understand what really failed.
An example is https://jenkins.scylladb.com/job/scylla-master/job/next/4076/consoleText , which has:

[code]

In this example, at some point

[2021-10-17 12:36] avikivity commented on #8816
This is not a regression, in rarely used functionality, and quite complicated, so not backporting.

[2021-10-17 13:56] nyh commented on #9469
And what happens then? Somebody might have started to use Scylla 5 years ago and gradually built a config file, which now lists some archaic options. They wouldn't appreciate Scylla failing to boot because we deleted these archaic options.

One thing we could do is to loudly warn about deprecated options and give users time to delete them. But as @elcallio said, I think nobody will even notice the

[2021-10-17 20:38] #9489 closed

[2021-10-18 06:24] eliransin commented on #9380
@psarna is there ab agreement about what should be done? Is it as simple as qualifying the mentioned keyspaces with the `system` selector or should we do additional stuff?

[2021-10-18 06:33] nyh commented on #9487
I have a reproducing test for this issue in the Alternator context, you can run it with
[code]
The `--runxfail` is needed to show the failure of the test we know to fail, and `--runveryslow` is needed because it's a slow test ("slow" is relative - it takes just a few seconds) so I didn't want it to run by default.

The test fails when it tries to do (with Alternator) a **paged** reverse query on a

[2021-10-18 06:45] nyh commented on #7586
Status update:

There has been a lot of work recently on improving reverse queries in Scylla. The work is done in for the direct benefit of CQL reverse queries (#1413) but it also benefits Alternator reverse queries because both use the same underlying implementation.

We already have a test for reverse queries in Alternator, which can be run by
[code]

The test is still failing, but it demonstrat

[2021-10-18 06:58] denesb commented on #9470
I applied the following diff:
[code]
And get a bunch of failed tests. So it looks like this *was* hiding problems. Hopefully nothing serious.

[2021-10-18 07:23] elcallio commented on #9331
@slivne - monitor is dead, so extra no.

[2021-10-18 08:36] elcallio opened #9491 "CQL server exception handler should deal with nested exceptions"
CQL server, when encountering a "general" exception (i.e. not thrown by cql error checks), reports a wire error with simply the `what()` part of exception. However, if we have nested exceptions, we will most likely lose info here (hello encryption).

General exception case should unwind exception and give back full, concatenated message to avoid confusion.

[2021-10-18 09:33] yaronkaikov opened #9493 "scylla can't start when running in ARM based ami image"
Instance type:  c6gd.2xlarge
ami-id: ami-0f883f1042d6d7df9
instance-id: i-0f386c8ae92413d3e

[code]

Although Scylla service is not running with the following error
[code]

Part of  `/opt/scylladb/scylla-machine-image/libexec/scylla_image_setup` is to run `cloud_instance.io.setup()` which is located under `/opt/scylladb/scripts/scylla_util.py`
The actually command is `return run('/opt/scylladb/scr

[2021-10-18 09:58] hagitsegev commented on #9493
https://github.com/scylladb/scylla-pkg/issues/2426

[2021-10-18 11:21] gleb-cloudius commented on #9331
If @raphaelsc absolutely sure that small memtable flush behavior is not present without commitlog patches then @elcallio is in the best  position to find out which of the patches causes it.

[2021-10-18 11:52] bhalevy opened #9494 "Scylla segfaults in get_ranges when upgrading sstables in the system keyspace in test_rolling_upgrade 4.5 -> master"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/958/artifact/logs-all.release.2/1634535870076_rolling_upgrade_test.RollingUpgradeTest.test_rolling_upgrade/node1.log

Scylla version 1d751491a

[code]

Decoded:
[code]

[2021-10-18 12:19] kostja commented on #9331
* Gleb Natapov ***@***.***> [21/10/18 15:15]:

They are on the branch, the branch is listed in the comment to the
ticket. I did not revert everything blindly indeed, I only
reverted the specific patches which are either a suspect
themselves, or built on top of the suspect patches.

The branch is 4.5-compaction-commitlog in dev

--
Konstantin Osipov, Moscow, Russia

[2021-10-18 12:22] elcallio commented on #9331
@kostja / @eliransin - the patch/PR I sent, was it applied on kostjas branch, or just 4.5?

[2021-10-18 17:45] #9302 closed

[2021-10-18 23:17] fee-mendes commented on #8583
@slivne FYI -- NA format is C* 4 format up to release candidate.
Starting with C* 4.0 GA, the new format is NB. See [here](https://github.com/apache/cassandra/blob/trunk/src/java/org/apache/cassandra/io/sstable/format/big/BigFormat.java#L118:L128).

[code]

Currently, both sstableloader and nodetool refresh fail badly with NA format:

[code]

[code]

[2021-10-19 05:34] fee-mendes opened #9495 "Scylla fails on strict ordering check during deletes when out-of-order indexed columns are specified in WHERE clause"
*Installation details*
Scylla version (or git commit hash): `4.5.0-0.20211006.47be33a10`
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

**Description**
During delete operations, Scylla does not respect the strict primary key ordering if it has an index on a clustering key that is out of order. For a `PRIMARY KEY(pk, ck1, ck2)` and an index on `ck2`, a DELETE with both the partition key (

[2021-10-19 06:16] psarna commented on #9495
I'll start by creating a cql-pytest for it

[2021-10-19 06:58] juliayakovlev opened #9497 "Empty error message from wrong query: nested exceptions "hide" the original message once it reaches cql layer."
The issue found during running dtest EaR test with enterprise version `2021.2.dev-0.20211013.107a2afaa`. But it's relevant for OSS as well.

During the tests we try to create the table with wrong cipher_algorithm option and expect to receive clear error message in the exception.
There are 5 scylla_encryption_options when empty message got within exception:
('Unable to complete the operation agains

[2021-10-19 08:07] enaydanov opened #9498 "Scylla installation failed on Debian 11"
APT failed to install Scylla on Debian 11 because of unmet dependencies for scylla-tools-core:

[code]

There is no more `python-yaml` package in the repo, only `python3-yaml`

*Installation details*

Scylla version (or git commit hash): 4.4.dev-0.20201208.f802356572
Repo link: http://downloads.scylladb.com.s3.amazonaws.com/deb/unstable/unified/master/2020-12-08T19:40:17Z/scylladb-master/scylla.li

[2021-10-19 08:38] fgelcer opened #9499 "Scylla service out of sudden starts shutting down, during start up"
*Installation details*
Scylla version (or git commit hash): 4.6.dev-0.20211017.1d751491a with build-id 1ab3a33364ab7aff5e76f592f4a3e18d2b36c98f
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-042d6f0aeb4087705 (eu-north-1)

during `NodeRestartWithResharding` nemesis we did:
1. stop scylla-server.service
2. change `murmur3_partitioner_ignore_msb_bits` (from the default 12 to 15)
3. start scyll

[2021-10-19 08:51] attilaw-sixt opened #9500 "Wrong param name "workdir" in scylla.yaml - should be "work_directory" instead?"
I suspect the prepared (and by default commented out) parameter "workdir" is wrong in https://github.com/scylladb/scylla/blob/master/conf/scylla.yaml file. Please review and change!

After installing Scylla 4.5 (Ubuntu, APT packages) and fine tuning the above in /etc/scylla/scylla.yaml we realized two things:
a) Scylla was still using the default /var/lib/scylla/data folder - this point we got sus

[2021-10-19 09:40] bhalevy opened #9501 "replication_test in debug mode exited with code -9"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/4084/artifact/testlog/x86_64_debug/replication_test.521.log

Scylla next version 4271c4edcd8dcee35b3f69622a81fdabbccc6df6
Based on scylla master version 22061831c1d91cd09c0f8fdba06298bb1bfb1893
(but I see no reason 4271c4edcd8dcee35b3f69622a81fdabbccc6df6 (sstables: Fix metric currently_open_for_writing) would be causing t

[2021-10-19 11:20] nyh commented on #3918
I wrote a test based on one of the failing test:
[code]
The test adds 30,000 rows to the base table - each time after adding a row to the base table it starts a memtable flush and then waits for the view row to appear. The theory is that in **old branches**, where **view updates were not synchronous**, this could cause the view-table update and flush to happen in parallel - and somehow the update

[2021-10-19 17:49] avikivity opened #9502 "50% system perf regression in memtable reader"
perf_simple_query --smp 1 shows a 50% performance drop after d8832b9fd8767e9831ceefa4205ac892fa496fa9. Maybe it's copying schema objects or something.

[code]

[2021-10-19 17:59] fgelcer commented on #9499
BTW, the run finished with successful status

[2021-10-19 18:16] fgelcer commented on #8089
issue reproduced on master (4.6.dev)

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211017.1d751491a with build-id 1ab3a33364ab7aff5e76f592f4a3e18d2b36c98f`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-cdc-100gb-4h-master-db-node-3f2ee129-1 (13.51.86.112 | 10.0.1.173): 14 shards
   longev

[2021-10-19 18:36] tzach opened #9503 "Metric for full scan with out cache bypass"
using ALLOW FILTERING to run a full scan can cause a cache pollution, and should be avoided in most cases.
Scylla should report this cases, so the monitoring system can warn the user, for example in the CQL Optimization dashboard.

[2021-10-20 01:52] asias opened #9504 "Make nodetool cleanup robust when free disk space is low"
For example, a node had a few sstables which takes 500GB of disk space and 800GB of free disk space. However, the nodetool cleanup failed because out of disk space.

If we could allow nodetool cleanup to run on few shards in parallel, the nodetool cleanup will probably be successful. Yes, it is slower to run subset of shards in parallel, but it is much better to complete the cleanup even if it is

[2021-10-20 01:53] asias commented on #9504
@vladzcloudius @raphaelsc FYI

[2021-10-20 07:09] asias opened #9505 "c-s latency caused by high latency from peer node"
1) Start 2 nodes n1, n2 using recent scylla master 1fd701e
2) Enable slow query
curl -X POST "http://127.0.0.1:10000/storage_service/slow_query?enable=true&fast=false&threshold=80000"
curl -X POST "http://127.0.0.2:10000/storage_service/slow_query?enable=true&fast=false&threshold=80000"
3) Start c-s
cassandra-stress write no-warmup cl=TWO n=5000000 -schema 'replication(factor=2)' -port jmx=6868 -m

[2021-10-20 07:46] bhalevy opened #9506 "Promote too_many_rows events to be first class large_data members"
As of today (scylla 4.6.dev 7c35d4769), we only report partitions with too many rows on the log but we do not store them in a `system.large_*` table as we do for large partitions/rows/cells.

I think that it was presumed that a partition with too many rows is also likely to be large and therefore it will be recorded in `system.large_partitions`. However, if it contains many *small* rows, it won't.

[2021-10-20 07:46] bhalevy commented on #9506
/cc @vladzcloudius

[2021-10-20 14:06] avikivity commented on #9022
No vulnerable branches, not backporting.

[2021-10-20 14:08] avikivity commented on #8926
Performance only, not a regression, not backporting.

[2021-10-20 15:30] fgelcer commented on #9053
i'm experiencing this issue on master.. at least 3 different longevity jobs failed with this issue.
in one of them, we had `NoCorruptRepair` running 3 times, and failing all of them.

here the info about the 1st job:
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211017.1d751491a with build-id 1ab3a33364ab7aff5e76f592f4a3e18d2b36c98f`
Clus

[2021-10-20 19:28] fgelcer opened #9508 "coredump during regular compaction"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211017.1d751491a with build-id 1ab3a33364ab7aff5e76f592f4a3e18d2b36c98f`
Cluster size: 4 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-200gb-48h-verify-limited--db-node-5db72bed-1 (13.51.161.157 | 10.0.3.239): 14 shards
   longevity-200gb-48h-verify-limited--d

[2021-10-20 20:22] vladzcloudius opened #9509 "Create a tiered storage implementation for TWCS"
*Installation details*
Scylla version: c4328ffc4dce9e7463be7ff54e89463a2545f380

*Description*
Many times people are asking for a tired storage feature where data would be stored at locations backed up by a different types of storage according to a certain (data) criteria.

One of the most common use cases is a time series data that never expires and users want to keep the most recent data on a fa

[2021-10-20 22:17] #9494 closed, assigned to bhalevy

[2021-10-20 22:17] #9502 closed, assigned to haaawk, enedil

[2021-10-21 13:52] fgelcer opened #9511 "during `RebuildStreamingErr` having multiple errors: `stream_transfer_task: Fail to send STREAM_MUTATION_DONE`"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211017.1d751491a with build-id 1ab3a33364ab7aff5e76f592f4a3e18d2b36c98f`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-cdc-100gb-4h-master-db-node-3f2ee129-1 (13.51.86.112 | 10.0.1.173): 14 shards
   longevity-cdc-100gb-4h-master-db-node-3f2ee1

[2021-10-21 13:54] fgelcer commented on #8089
@roydahan , done, but couldn't it be a missing filter in the nemesis itself?
in the nemesis we have:
[code]

where we are filtering this event, but only in the target node... and the error I see is happening in a different node.
should the other nodes also ignore this runtime error?

[2021-10-21 16:59] alecco opened #9512 "Swagger json missing ErrorModel"
http://localhost:10000/v2

Seems it's missing ErrorModel by checking with https://editor.swagger.io/.

[2021-10-21 17:39] alecco opened #9513 "Swagger json type errors"
http://localhost:10000/v2

Seems it has wrong types ("double", "bool", etc) by checking with https://editor.swagger.io/.

[2021-10-21 20:08] vladzcloudius opened #9514 "Issue a memtable flush in the context of a major compaction"
*Installation details*
HEAD: 1657e7be14b1e8080d4e3ff5ab1d1c7d3610fd15

*Description*
Today we don't issue a memtable flush when a major compaction is triggered by the user: `nodetool compact ...`.

However it would make a lot of sense to have memtables flushed because a user expects all written data to be compacted.

As a result having some 'leftovers' in the memory may cause very unexpected outco

[2021-10-22 02:09] asias commented on #9505
Yes, they are local interface. The bandwidth local interface is high and should not be a bottleneck. The problem reproduces 100%. The huge latency happens only when repair runs. If we forgot to poll, why does it happen only during repair runs in the background. If it is stall, the stall is at the level of up to 300 ms, which we do not see such huge stalls.

Can it be that even if the nic itself ha

[2021-10-24 00:17] raphaelsc commented on #9504
@asias The solution for this problem is outlined in https://github.com/scylladb/scylla/issues/2871

thanks!

[2021-10-25 09:50] #9456 closed, assigned to nobody

[2021-10-26 15:49] bhalevy opened #9522 "When writing an sstable fails the sstable temporary dir is left behind"
This is a cosmetic issue in nature.
If we fail to write a sstable for any reason before it's sealed, we do delete its component files, but we leave behind an empty temporary subdirectory.
This directory is benign and should be cleaned up next time scylla starts, but it would be more elegant if we remove in on the error path in https://github.com/scylladb/scylla/blob/5f513ed28b6048338ce0b1a913df567

[2021-10-26 20:15] #9445 closed, assigned to syuu1228

[2021-10-27 05:29] bhalevy opened #9524 "large data warnings do not contains the sstable name"
This is part of #9506, which I separated so it could be backported independently of having a `system.large_too_many_rows` table.

Although the sstable name is part of the `system.large_*` records, it is not printed in the log.
In particular, this is essential for the "too many rows" warning that currently does not record a row in any large_* table
so we can't correlate it with a sstable.

[2021-10-27 08:34] fgelcer opened #9525 "after setting `kernel.perf_event_paranoid=0` we get None reactor stalls"
*Installation details*
Scylla version (or git commit hash): 4.6.dev-0.20211025.5f513ed28 with build-id 5c009e2ca6a730e224d7faf95d676271460cf8a5
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0032c8d75ab84ff4f (eu-west-1)

logs are here:
[sct_runner.log](https://cloudius-jenkins-test.s3.amazonaws.com/9b6b79ef-0a1b-4471-8b6f-8d0937978b86/20211027_051043/sct-runner-9b6b79ef.zip)
[db_cluster.log

[2021-10-27 08:50] gcarmin opened #9526 "Seeting default Replication Strategy to NetworkTopologyStrategy"
In Scylla the default Replication Strategy is `simplestrategy`.
This does not comply with our recommendation to always use `NetworkTopologyStrategy`, as this is suitable for multi-AZ/Multi-DC environment.
This should be apply to ALL user data KS's and to  `system_distributed`, `system_traces` and `system_auth`  system KS's.

[2021-10-27 08:52] bhalevy opened #9527 "snapshot schema.cql file is incomplete"
1. For the schema.cql file to be self-contained it's missing UDTs that the table may use.
For completeness, I suggest it should contain everything from `DESCRIBE <keyspace>` relevant to that table.
That includes the `CREATE KEYSPACE` statement and any (or all) `CREATE TYPE` statements for UDTs used by the TABLE schema.

2. Also, unlike cql `DESCRIBE`, for some reason we don't quote column names pr

[2021-10-27 11:28] #9524 closed, assigned to bhalevy

[2021-10-27 14:57] raphaelsc opened #9531 "Division by zero in empty estimated_histogram"
When mean() is called in an empty estimated_histogram, i.e. one that contains no elements, then division by zero happens which in turn causes runtime error.

This problem was found when adding an unit test which triggers the problem.

[2021-10-28 02:39] vladzcloudius opened #9533 "TWCS: expired sstables are not evicted long after they have expired when system is under a heavy load"
*Installation details*
Scylla version: a21b1fbb2f481671c80560d96a8acc1cf916b468
Cluster size: 1

*Description*
If system is under a heavy load, in particular such that creates a lot of compaction work, it may take a very long time for completely expired sstable to get evicted.

![image](https://user-images.githubusercontent.com/6103981/139176695-4ea1fd13-d818-48a0-bc63-d3534ee5d349.png)

schema:
[

[2021-10-28 03:08] vladzcloudius opened #9535 "TWCS: expired_sstable_check_frequency_seconds is not respected when there are no new writes"
*Installation details*
Scylla version: a21b1fbb2f481671c80560d96a8acc1cf916b468

*Description*
If system doesn't get new writes TWCS is going to ignore `expired_sstable_check_frequency_seconds` and would only try to evict expired sstables once every (1) hour.

How to reproduce:
1) Create a table with TWCS, default TTL of 5 minutes and a time window of 5 minutes and set `expired_sstable_check_frequ

[2021-10-28 07:25] tzach opened #9536 "Scylla does not require ALLOW FILTERING even when the WHERE does not include the partition key"
Scylla version (or git commit hash): 4.5.1

[code]

[2021-10-28 07:49] bhalevy opened #9537 "scrub/validate compaction should run in maintenance scheduling group"
We need to have a back-pressure mechanism so that scrub will slow down as it produces output sstables (that could be in the thousands) while compaction shares should increase based on the backlog controller.

Cc @raphaelsc

[2021-10-28 12:27] #9525 closed, assigned to nobody

[2021-10-28 12:51] dkropachev opened #9540 "scylla_raid_setup: failed due to the "mdmonitor.service: Failed with result 'protocol'""
Occasionally `scylla_raid_setup` fails due to the `mdmonitor.service` is unable to start.

Log if `scylla_setup` call:
[code]

System.log :

[code]

*Installation details*
Scylla version (or git commit hash): 4.5.0-0.20211006.47be33a10 with build-id cae2146dc91480331365938fddb866fe4ecc0c56
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos 8

Platform (physical/VM/cloud instance type/docker):

[2021-10-28 13:42] #9476 closed, assigned to nobody

[2021-10-28 13:42] #9531 closed, assigned to raphaelsc

[2021-10-28 13:42] #9440 closed, assigned to syuu1228

[2021-10-28 15:03] denesb opened #9541 "[compaction/scrub]: scrub always segregates, regardless of mode"
`scrub_compaction` assumes that `scrub_compaction::make_interposer_consumer()` is only invoked if `scrub_compaction::use_interposer_consumer()` returns true (that is when mode==segregate). This assumption is false. The latter function is only used to check whether a garbage collecting sstable writer is needed, `compaction::setup()` calls `make_interposer_consumer()` unconditionally and expects a p

[2021-10-29 02:58] dimaqq opened #9542 "Alternator: wrong ReturnValues=ALL_NEW results when update expression has both REMOVE and SET/ADD"
Reported in https://github.com/HENNGE/aiodynamo/issues/27#issuecomment-953555282

Code: https://github.com/HENNGE/aiodynamo/blob/5f5170c6d3e8bbda5bab3cbd1adb2a0a90cee00b/tests/integration/test_client.py#L187-L218

Adding bits to a set value: https://github.com/HENNGE/aiodynamo/blob/5f5170c6d3e8bbda5bab3cbd1adb2a0a90cee00b/tests/integration/test_client.py#L203

[2021-10-29 08:09] tnozicka opened #9543 "pre-release image tags are not semantic versions"
We are not using semantic versioning for our pre-releases, like `4.5.rc.6`. The correct semantic version would be `4.5.0-rc.6`. This breaks the conventions and scylla-operator trying to parse the scylla version from the tag.

Stems from https://github.com/scylladb/scylla-operator/issues/180

cc @slivne

[2021-10-29 08:14] dkropachev opened #9544 "master: core during backup"
*Installation details*
Scylla version (or git commit hash): 4.6.dev-0.20211020.7c35d4769 with build-id d68c5ffd74a881391b779a1fed1b662bcc0af6c3
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0274c0b59406f2141

Platform (physical/VM/cloud instance type/docker): AWS
Disks: 3 nvme

db-logs: https://cloudius-jenkins-test.s3.amazonaws.com/f178c1cd-07ad-43cb-a337-880dabed634a/20211024_074603/db-cl

[2021-10-29 09:51] kbr- opened #9547 "raft: snapshot transfer to a server removed from the configuration should be aborted"
Randomized nemesis testing managed to hit the following assertion:
[code]

it was caused by the following scenario:
- A is a leader, B is a follower
- A starts a snapshot transfer to B
- A appends a configuration entry which removes B (non-joint - suppose we appended the joint entry earlier)
- A appends a configuration entry which adds B
- A tries to start another snapshot transfer to B, causing t

[2021-10-29 10:55] kbr- opened #9549 "`future<> raft::server_impl::add_entry_internal(T, raft::wait_type) [T = bytes_ostream]: Assertion 'inserted' failed`"
When adding a new entry to its log, a Raft server creates a promise-future pair. It returns the future to the client who caused the entry to be added (i.e. the caller of `add_entry` or `set_configuration`) and stores the promise in a container, either `_awaited_commits` or `_awaited_applies`. When the entry is committed or applied, the promise is extracted from the container and `set_value()` is c

[2021-10-29 11:24] kbr- opened #9550 "`void raft::server_impl::notify_waiters(std::map<index_t, op_status> &, const std::vector<log_entry_ptr> &): Assertion 'entry_idx >= first_idx' failed`"
When adding a new entry to its log, a Raft server creates a promise-future pair. It returns the future to the client who caused the entry to be added (i.e. the caller of `add_entry` or `set_configuration`) and stores the promise in a container, either `_awaited_commits` or `_awaited_applies`. When the entry is committed or applied, the promise is extracted from the container and `set_value()` is c

[2021-10-29 12:00] kbr- opened #9551 "raft: server may use the wrong configuration after applying a remote snapshot, causing a split-brain situation"
When a server applies a snapshot, it removes some entries from the log - entries with indexes smaller than the snapshot's index. However, it doesn't always remove all of them, it sometimes leaves a bunch "trailing" entries, depending on the server's configuration and whether the snapshot is remote or not.

When the snapshot is local, it is safe to leave trailing entries. This is because they are c

[2021-10-29 12:21] kbr- opened #9552 "raft: cluster may become stuck when a follower takes a snapshot after an accepted entry that the leader didn't learn about"
Randomizes nemesis testing produced the following scenario (or at least this is my interpretation of why the cluster got stuck):

- A is a leader, B is a follower, there are other followers which A used to commit entries
- A remembers that the last matched entry for B is `10`, so the next entry to send is `11`. A managed to commit the `11` entry using other followers
- A sends entry `11` to B
- B

[2021-10-29 18:28] raphaelsc opened #9553 "TWCS: make sure major on past window is done on all sstables"
Once a window close, we merge all its sstables into one. Turns out we may not wait for an ongoing STCS running on its behalf, so it could happen that past window will have more than 1 sstable.

That can be fixed by serializing per-window major with any other compaction on the same table.

[2021-10-29 19:44] nyh commented on #7856
I verified that what started to pass these tests was a change in Scylla, not the driver (I recompiled Scylla when these tests were introduces, and it still xfails with my current driver). So I proceeded to bisect Scylla - an unbearably slow experience  - to check when these two tests began to pass.

The patch which made these tests pass is the following by @cvybhu:

[code]

We need to understand w

[2021-10-29 20:17] cvybhu commented on #7856
Yes, the new code started handling nested sets correctly

Sets passed as bound values used to be created using from_serialized:
https://github.com/scylladb/scylla/blob/034f79cfb4fd5bca0ba31781f2b70b465382f1c9/cql3/sets.cc#L31

This function sorted only the first level of set, set values were simply represented as managed_bytes.

[2021-10-29 20:18] cvybhu commented on #7856
Now there is a check whether there is a set or map inside the bound value, and if so the value gets sorted and reserialized

https://github.com/scylladb/scylla/blob/034f79cfb4fd5bca0ba31781f2b70b465382f1c9/cql3/expr/expression.cc#L1530

[2021-10-29 22:19] nyh commented on #7856
Thanks! So this is really good news - you fixed a real bug while cleaning up the code!

I sent a patch titled "[PATCH] test/cql-pytest: remove "xfail" label on a reproducer for a fixed bug" to the mailing list to remove the no-longer-needed "xfail" markers, and to close this issue.

[2021-10-30 22:01] fgelcer commented on #9544
most likely dup of #9192

[2021-10-31 07:36] nyh commented on #9542
Is this a duplicate of issue #5893?

That issue is about the `ADD` command indeed not yet being supported in the old-style `AttributeUpdates`. Note that we did implement same operation for the newer `UpdateExpression` syntax, so there is no real reason why this isn't implemented - it's just something we never got around to.

Can you please confirm that your test code is using `AttributeUpdates`, n

[2021-10-31 08:31] nyh opened #9554 "Alternator's JSON responses should use the same content-type that DynamoDB uses"
When Alternator returns its JSON responses, it puts the `Content-Type: application/json` header in these responses. While this makes sense, it's not actually what DynamoDB does - it returns the `Content-Type: application/x-amz-json-1.0`. All Amazon-written drivers which I tested are fine with this different content-type, but it turns out that some other libraries - specifically https://github.com/

[2021-10-31 10:13] yarongilor commented on #8012
@roydahan , @slivne , i think we can close this issue, following @elcallio 's introduction of https://github.com/elcallio/kraken-dynamo. The new lib is already tested and encounters issues.

[2021-10-31 10:27] yarongilor opened #9555 "Kraken-dynamo Streams fails with: Unable to execute HTTP request: java.util.concurrent.CompletionException: java.io.IOException: Channel was closed before it could be written to"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.1-0.20211024.4c0eac049 with build-id e0df888020bbfef43aee10264ff14c85581609f7`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   alternator-streams-nemesis-stream-s-db-node-95aa767c-1 (34.244.70.146 | 10.0.0.41): 14 shards
   alternator-streams-nemesis-stream-s-db-n

[2021-10-31 10:29] yarongilor commented on #9555
kraken dynamo log:
[kcl-l0-c0-0b422637-78c8-4c3b-97ed-724a8b5b8adc.log](https://github.com/scylladb/scylla/files/7448540/kcl-l0-c0-0b422637-78c8-4c3b-97ed-724a8b5b8adc.log)

[2021-10-31 10:31] yarongilor commented on #9555
Cc: @roydahan , @nyh , @slivne

[2021-10-31 12:33] roydahan commented on #8089
If the error is during the second "rebuild", we shouldn't filter it.
If it's an issue  with the time  of the messages, it's   something else.

[2021-10-31 13:15] #9554 closed

[2021-10-31 16:07] yarongilor commented on #9555
Looks like it runs better after some reconfiguration:

1. Decreased YCSB stress to run on 1 loader instead of 2.
2. Decreased number of Kraken-dynamo threads to 15 (hydra-kcl -t usertable_streams -k 1000000 --timeout 32400 --threads 15)
3. Disable the decommission nemesis.

![Screenshot from 2021-10-31 18-01-38](https://user-images.githubusercontent.com/9427929/139592182-b174b743-9f2f-41d3-bc6f-97

[2021-10-31 21:56] fgelcer commented on #9511
i will organise the information we have in the logs to be able to reply the questions above

[2021-10-31 22:27] #9533 closed

[2021-10-31 22:27] #9485 closed

[2021-11-01 02:40] #9452 closed

[2021-11-01 03:07] dimaqq commented on #6113
https://github.com/HENNGE/aiodynamo supports HTTP/2 via the `httpx` backend.
of course, that's completely untested at the moment.

[2021-11-01 04:42] dimaqq commented on #9542
I'm pretty sure the code uses `UpdateExpression`, thus yes, must be a dup.

[2021-11-01 04:48] dimaqq commented on #5893
My 2c, as an average user:
1. new code can use new syntax
2. for existing apps, this creates friction both to transition to scylla as well as simply to try it out

Given current scylla pricing model (minimum quote: 10K ops/s; 1TB data), I feel that `2.` should be more important than `1.`, shouldn't it?

[2021-11-01 04:53] dimaqq commented on #9542
Maybe I got confused by which is new and which is old.
The referenced library does not use `AttributeUpdates`.

[2021-11-01 05:31] bhalevy opened #9559 "staging sstables are not cleaned up in cleanup compaction potentially causing data resurrection"
Currently (scylla 4.6.dev 034f79cfb), when cleanup compaction is performed via `compaction_manager::perform_cleanup`
https://github.com/scylladb/scylla/blob/bd0b573a9252045bcc86bc48eb919ff807c740a4/compaction/compaction_manager.cc#L844

We select the sstables to compact with `get_candidates`
https://github.com/scylladb/scylla/blob/bd0b573a9252045bcc86bc48eb919ff807c740a4/compaction/compaction_mana

[2021-11-01 05:39] bhalevy commented on #9559
I think that the right way to go here is not to fix the cleanup case specifically, but rather allow compaction of sstables in staging, and mark them for deletion when compaction is done, as we do in the `delete_sstables_for_interrupted_compaction` case:
https://github.com/scylladb/scylla/blob/bd0b573a9252045bcc86bc48eb919ff807c740a4/compaction/compaction.cc#L778-L786

Then, when view building is d

[2021-11-01 05:46] bhalevy commented on #9559
An important corner case that needs to be handled is keeping the sstable around until view building successfully completes.
For this we may want to introduce a new `mark_for_deletion` code:
https://github.com/scylladb/scylla/blob/bd0b573a9252045bcc86bc48eb919ff807c740a4/sstables/sstables.hh#L528-L532

e.g. 'tentative', that can be examined and turned into `marked` by the view building code, but wi

[2021-11-01 07:11] nyh commented on #5893
You know that Scylla is open-source, so users who are just starting out can use it for free? :-) But anyway, I agree - full compatibility with DynamoDB and all its operations has always been our goal. For some reason we never got around to fixing *this* one - I'll try to get to it very soon.

[2021-11-01 07:17] nyh commented on #9542
Oh, so you're saying that the failing request is using `UpdateExpression`, not `AttributeUpdates`?
Can you please paste here the exact request that is being sent, and what sort of "failure" you are seeing?

We do have tests that `ADD` operations in `UpdateExpression` do work in Alternator (https://github.com/scylladb/scylla/blob/master/test/alternator/test_update_expression.py#L729) but it's alway

[2021-11-01 08:01] asias opened #9560 "repair: given_range_complement should not be a wrapping range"
The range::subtract() was used as a trick to implement
range::intersection() when intersection was not available at that time.

The following code is problematic:

dht::token_range given_range_complement(tok_end, tok_start);

because dht::token_range should be non-wrapping range.

[2021-11-01 08:13] denesb commented on #7658
We now have `tools/scylla-sstable` which I think is a better place to attempt what this issue describes. Once an sstable is corrupted to such a degree that it fails to parse, we have to manually inspect them anyway, so an automatic scrub is off the table.

[2021-11-01 08:24] aleksbykov commented on #8706
Issue reproduced during job: [Jenkins job URL](https://jenkins.scylladb.com/job/scylla-4.4/job/longevity/job/longevity-alternator-3h-test/68/)

During nemesis terminate and remove node, Node is terminated and then remove with `nodetool removenode`.
at moment when node is removing a lot paxos error appeared:

[code]

*Installation details*
Scylla version (or git commit hash): `4.4.6-0.20211028.dd01

[2021-11-01 08:25] denesb commented on #9537
@bhalevy should we close this issue? Looking at the title I think we should (we have what it asks for). The description however talks about a "backpressure mechanism" which I'm not sure exists as described there:
1) compaction doesn't learn about the scrub-produced sstables when they are produced, it only learns about them *after* scrubbing the input sstable is finished;
2) point (1) means that co

[2021-11-01 08:42] aleksbykov commented on #9511
Issue reproduced
*Installation details*
Scylla version (or git commit hash): `4.4.6-0.20211028.dd018d4de with build-id dd698cb5d3877bc7da76fa690d484e1b8a20df96`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0f16e55d34bb7eb72` (aws: eu-north-1)

Test: `longevity-cdc-4h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-cdc-1

[2021-11-01 08:50] dkropachev commented on #7538
Got it reproduced on `4.6.dev-0.20211027.a21b1fbb2 with build-id d790046d27e128b2811fa63ef0ef0129b4ef561a (ami-00af7e594cf40018d)`

test_id: `18700794-7622-4d8f-9177-e6eb8392b605`
db-cluster: https://cloudius-jenkins-test.s3.amazonaws.com/18700794-7622-4d8f-9177-e6eb8392b605/20211029_065500/db-cluster-18700794.tar.gz
loader-set: https://cloudius-jenkins-test.s3.amazonaws.com/18700794-7622-4d8f-917

[2021-11-01 08:52] bhalevy commented on #9537
Yes, we can.

Let's open a new issue about that.
I think that scrub needs to run with compaction disabled only briefly, for selecting the sstables to scrub.
At this point, they should be registered using `compaction_manager::register_compacting_sstables` and then they will be fenced off from regular compaction while they are scrubbed.

With that, we should be able to reenable regular compaction du

[2021-11-01 08:56] nyh commented on #8786
The new "Kinesis Streams" differs from the older "DynamoDB Streams" not only in API, there are also semantic differences, which are documented in here: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/streamsmain.html

Here are some of the more interesting differences I noticed:
1. Whereas DynamoDB Streams drop records after 24 hours, Kinesis Streams holds records for a year. This

[2021-11-01 09:00] nyh commented on #9560
@asias would be useful to explain in the issue what is the scope or implication of this issue. Can it cause a user-visible bug (if so, please add the label "bug")? What sort of bug - what won't work in which conditions?

This information will be important when later we need to decide whether to backport this patch.

[2021-11-01 10:43] nyh commented on #9560
@asias explained in https://github.com/scylladb/scylla/pull/9561 that this is **not** a user-facing bug, but rather a code cleanup. The code uses a wrapping interval in a nonwrapping-interval variable, and everything works by accident (because apparently some of our nonwrapping-interval code still allows a wrapping interval) but might break in the future.

[2021-11-01 10:48] denesb opened #9562 "[scrub compaction] add compaction -> scrub backpressure"
Scrub in segregate mode can create tons of output sstables (hundreds or thousands). These sstables are added to the table at the end of scrubbing the input sstable, flooding the table with sstables. Instead of adding all the sstables in one go, scrub should "trickle" them into the table, allowing compaction to start compacting them immediately and also allowing the compaction backlog controller to

[2021-11-01 10:49] denesb commented on #9537
Opened https://github.com/scylladb/scylla/issues/9562 for the backpressure issue, closing this.

[2021-11-01 10:49] #9537 closed

[2021-11-01 11:30] hagitsegev opened #9563 "I can't install Scylla on debian and Ubuntu (master)"
Installing from
http://downloads.scylladb.com/unstable/scylla/master/deb/unified/2021-11-01T01:01:32Z/scylladb-master/
On all supported debian OSes: Ubuntu 16.04, 18.04, 20.04, Debian 9,10.

Error:
STEP 11: RUN apt-get -o Acquire::Retries=3 update -y -qq
--> bfa169f568f
STEP 12: RUN DEBIAN_FRONTEND=noninteractive apt-get install $SCYLLA_PRODUCT_NAME -y -qq
E: Unable to correct problems, you have h

[2021-11-01 11:42] fgelcer commented on #9511
node A = `longevity-cdc-100gb-4h-master-db-node-3f2ee129-4 [13.53.176.237 | 10.0.1.187]`
node B = `longevity-cdc-100gb-4h-master-db-node-3f2ee129-2 [13.49.76.43 | 10.0.1.142]`

steps we do:
* destroy data and restart node A
* run `nodetool rebuild` on node A
* wait for stream to start (`'2021-10-18T03:40:28+00:00  longevity-cdc-100gb-4h-master-db-node-3f2ee129-4 !INFO    | scylla:  [shard 0] range

[2021-11-01 12:03] yaronkaikov commented on #9563
when trying to install locally we get
[code]

[2021-11-01 12:28] elcallio commented on #9555
This is an example program. It is by no means designed to run under heavy load/stress on actual AWS. You are likely hitting AWS account limits by constantly inserting + scanning. Remember, because Dynamo is the way it is, the program is constantly doing full table scans, not to mention keeping the result in primary memory. This of course does not scale at all. Again, it is an example.
You can for

[2021-11-01 12:31] elcallio commented on #8786
When we discussed this last (spring? - I mentioned it regarding v2 (3?) of AWS sdk & kinesis), we decided _not_ to support kinesis. At least not yet. Should we change this approach?
TTL 1y sounds big...

[2021-11-01 12:35] aleksbykov opened #9565 "reader_concurrency_semaphore - Semaphore _read_concurrency_sem: timed out, dumping permit diagnostics"
*Installation details*
Scylla version (or git commit hash): `4.4.6-0.20211028.dd018d4de with build-id dd698cb5d3877bc7da76fa690d484e1b8a20df96`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0f16e55d34bb7eb72` (aws: eu-north-1)
Test: `longevity-100gb-4h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-100gb-4h.yaml](https:

[2021-11-01 12:37] aleksbykov commented on #9565
This info message:`2021-10-29T12:02:38+00:00  longevity-100gb-4h-4-4-db-node-28ff234e-7 !INFO    | scylla: [shard 4] reader_concurrency_semaphore - Semaphore _read_concurrency_sem: timed out, dumping permit diagnostics:#012Permits with state active#012memory#011count#011name#0123255K#011100#011keyspace1.standard1:data-query#012#0123255K#011100#011total#012#012Permits with state waiting#012memory#0

[2021-11-01 12:55] fgelcer opened #9566 "data validator failed during LWT job when copying data to MV"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211020.7c35d4769 with build-id d68c5ffd74a881391b779a1fed1b662bcc0af6c3`
Cluster size: 4 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-lwt-3h-master-db-node-9673e1a6-1 (13.48.135.174 | 10.0.3.179): 8 shards
   longevity-lwt-3h-master-db-node-9673e1a6-2 (13.53.

[2021-11-01 13:44] fgelcer commented on #9499
trying to reproduce again [here](https://jenkins.scylladb.com/view/master/job/scylla-master/job/reproducers/job/issue_9499_longevity_4h_restartwithresharding/5/) with keep cluster

[2021-11-01 13:46] bhalevy opened #9567 "dtests in debug mode fail with exceptions::mutation_write_failure_exception after effective_replication_map change"
There seems to be a regression caused by 4f3b8f38e24b1ca78c356dd4fb70365bb3cdfded
that wasn't fixed 0746b5add69eb57428b4c30390737144311ff523 where updates to system table
sometimes fail apparently during shutdown, in dtests with scylla in debug mode, as follows, for example:

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/945/artifact/logs-all.debug.2/1635724356810_conc

[2021-11-01 15:40] #7856 closed

[2021-11-01 15:40] #9560 closed

[2021-11-01 15:48] nyh opened #9568 "alternator: parsing of Authorization header insists on whitespace that it shouldn't"
DynamoDB's request authentication is described in https://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html uses an `Authorization` header, which looks like the following example given in that page:

content-type: application/x-www-form-urlencoded; charset=utf-8

In this example, the different components of the `Authorization` header are separated by a ", " (comma followed by space) separat

[2021-11-01 16:17] roydahan commented on #9336
@slivne I don't know if it's a  regression or not.
I didn't understand your comment about the time the write workload started, the question is should we see all these timeouts or not?

[2021-11-01 16:27] bhalevy commented on #9567
not only in debug mode. timing related probably and not related to effective_reication_strategy but rather to stirage_service stop/drain on shutdown

https://jenkins.scylladb.com/job/scylla-master/job/dtest-release-parallel/139/testReport/update_cluster_layout_tests/TestLargeScaleCluster/Run_Dtest_Parallel_Cloud_Machines___LongDtest___long_split000___add_50_nodes_test/

[2021-11-01 16:39] roydahan commented on #7899
We need to understand if the truncate triggers the issue or is it related to the BusyPoolException.
Do we see the same issue on master?

[2021-11-01 17:02] yarongilor commented on #9555
very well, so in this respect, the test shows a successfull POC of Alternator Sreams & AWS Java-2.
Thus perhaps the question now is for QA and managers - what are the testing goals for Streams? what coverage will qualify the approval of this feature. one option is, indeed, modifying the current lib to have less limitations.

[2021-11-01 17:44] hagitsegev commented on #9563
I removed the -qq from the installation tests, so we will have a log similar to what Yaron added above.
https://github.com/scylladb/scylla-pkg/pull/2480

[2021-11-01 19:32] vladzcloudius commented on #9506
@bhalevy Thanks for jumping on this.
Do you really think that adding another table is justified? Why not adding a number of rows as an additional column to `system.large_partitions`?

Not only it would keep things simpler (less tables) but it would also make it easier to use the information because you would have both the number of rows and the size of a partition in the same row which would allow

[2021-11-01 20:16] fgelcer commented on #7899
on master duty (Oct 11 - 22) there were issues with truncate, but not i don't recall them issue numbers right now

[2021-11-01 20:26] roydahan commented on #9511
@fgelcer I don't understand the last sentence, if "the failure happened while we interrupted the task using hard boot on node A", then all of this is expected.
You interrupt the rebuild with reboot, hence you get "Fail to send ...".

However, if what you wrote above is a mistake and the failures happen during the second rebuild, this is a real bug.

[2021-11-01 20:49] dkropachev opened #9569 "Node went into endless reshape after other node was updated, rolled back and updated once again"
We have rolling upgrade test procedure, it is done in such a way that time to time it can run update procedure on one node twice.
And it is exactly what happened.
node-4 was updated
node-2 was updated
node-2 was rolled back to prior version
node-2 was updated again

right after node-2 was updated second time node-4 started eating 100% of CPU and throwing following log lines endlessly:

[code]

*In

[2021-11-01 21:58] aagit commented on #8828
Hello,

Apologies for the late reply. Two years ago I wrote two tools that may help identify allocation stalls that might have helped. They use kprobes so I refreshed them recently to work again on latest kernels, I  intended to post them here earlier but I'm doing now after the refresh.

https://gist.github.com/aagit/cbf6ceb43ba0702bf7c611fd36f08cf2

They show system wide or per-process the laten

[2021-11-01 22:42] fee-mendes opened #9570 "Docker - Set default locale on Docker images"
*Installation details*
Scylla version (or git commit hash): 4.5.1-0.20211024.4c0eac049
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS Container

*Description*
Scylla images currently don't set a UTF-8 locale by default, which can potentially cause several weirdos when parsing information outside the ASCII charset within it. As an example, the following will break `cqlsh` in mysterious way

[2021-11-02 00:03] vladzcloudius commented on #7777
@psarna Could you, please, create a Document page or update the existing one with this GREAT new option description.

@tzach @gnumoreno FYI

[2021-11-02 03:04] fee-mendes opened #9571 "cqlsh - Support for Python 3 and Server-side DESCRIBE statements"
**Installation details**
Scylla version (or git commit hash): 4.5.1-0.20211024.4c0eac049
Cluster size: 1

**Description**
Cassandra 4 recently released `cqlsh` 6.0.0 (see [cqlsh pip](https://pypi.org/project/cqlsh/)) with support for Python 3 and several other breaking changes, such as server-side DESCRIBE statements no longer being handled by the client side (see [CASSANDRA-14825](https://issues.

[2021-11-02 05:48] bhalevy commented on #9506
This works well for the single case of too_many_rows, but what if we add other "too many" entities, like too many range_tombstones?  Should we keep adding columns to large_partitions table?
I'm not sure that scaling "horizontally" this way is the right thing to do.

Given the table's schema:
[code]
We can extend the `partition_key` column to hold the partition_key followed by and indication of the

[2021-11-02 07:33] ashangit commented on #9446
Sorry for that long feedback delay, I was off last week.
2 weeks ago I tried to get the requested logs but after 48H of repair running we faced some hardware issues (not related to that issue) on some nodes of the cluster leading to lots of issues during the repair. Also logs were reaching 6TB which was almost full filling the disk.
I have relaunch the repair with trace logs yesterday I will let y

[2021-11-02 08:12] nyh commented on #8786
Nothing really changed - I don't think we should rush to do this. I just think it's important to document **all** the missing features in Alternator, and this is one of them.

You're right that Amazon's KCL library version 2 supports **only** the new Kinesis Streams API, not the older DynamoDB Streams API, so I'm guessing that in the long run, that will become the reason why we will need to implem

[2021-11-02 08:59] psarna commented on #7777
@vladzcloudius exists already: https://github.com/scylladb/scylla/blob/master/docs/design-notes/cql-extensions.md#using-timeout

[2021-11-02 09:15] dkropachev commented on #9569
The turquoise line is node-4

![Screenshot from 2021-11-01 23-04-56](https://user-images.githubusercontent.com/40304587/139818691-bf01d3d1-6129-49e0-9ebc-125883012ed9.png)

[2021-11-02 09:58] enedil commented on #9486
And indeed, this hid another bug:
[code]

[2021-11-02 10:14] avikivity commented on #8828
Hey it's aa!

[2021-11-02 10:20] avikivity commented on #8828
(we recently added kernel stack trace collection on stalls, so we should soon be able to post stack traces here)

[2021-11-02 10:21] cmm commented on #9506
@vladzcloudius I have some naive questions, if I may.

- what is the normal use case of `system.large_partitions`?  do you go looking in it with a problematic keyspace/table name already in hand (i.e. you know which table is misbehaving on which node), or do you trawl it blindly, looking for large partitions or any other red flags (if the latter, then maybe there should be a general "red flags" sy

[2021-11-02 11:37] nikontr commented on #8642
Works for me too! I hope it gets compiled for arm64 soon

[2021-11-02 14:25] vladzcloudius commented on #9506
@bhalevy Scylla/Cassandra data model natively supports adding more columns and tables in question have a LONG way to go before the number of columns would begin being any kind of an issue.

Scylla works with tables of multiple 10s of columns at our customers without any glitch.

Scylla/Cassandra natively support filtering the output by selecting only the columns that are needed.

On the other hand

[2021-11-02 14:31] vladzcloudius commented on #9506
@cmm

It's mostly the later. I can't remember any occasion when we/customer would do anything but `"select * from system.large_xxx`.

That's exactly the reason why I don't want to have multiple tables having the information about the same item (partition in this case).
I want to fetch the data once and if there is something - I want to have it all right away and not have to post process it: e.g. I

[2021-11-02 14:48] fgelcer commented on #9499
did not reproduce...
@slivne , shall i try couple of times more?

[2021-11-02 14:59] tarzanek commented on #9506
just a side note - cardinality of the partition might get too high
so you might end up with lots of rows with PK of just (keyspace_name, table_name)
would it make sense to add sstable_name to PK ?

[2021-11-02 15:28] avikivity commented on #8651
Backported to 4.4, 4.5.

[2021-11-02 15:31] avikivity commented on #8432
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2021-11-02 15:56] avikivity commented on #7729
No vulnerable branches, not backporting.

[2021-11-02 15:57] avikivity commented on #7201
Feature, not bug, so not backporting.

[2021-11-02 15:58] avikivity commented on #5844
Extremely old fix, no vulnerable branches.

[2021-11-02 16:12] avikivity commented on #9563
It looks like we had a build around midnight and some of the packages got named 20211101 and some 0.20211031.

[2021-11-02 16:20] avikivity commented on #7875
No vulnerable branches, not backporting.

[2021-11-02 16:23] avikivity commented on #8082
Bad, but very rare operation, so not backporting.

[2021-11-02 16:25] avikivity commented on #7772
No vulnerable branches, not backporting.

[2021-11-02 16:26] avikivity commented on #7487
No vulnerable branches, not backporting.

[2021-11-02 16:29] slivne commented on #9563
I think it happens more then once ...

The issue is that we are building twice once for ARM and once for x86 and
because of that we endup with two instances of tools and jmx and then
upload them both.

If the build crosses a date boundary we will have the issue with duplicate
artifacts.

Usually its not an issue - I found other cases like this - hacing said that
in this case it was

We can try and

[2021-11-02 19:18] eliransin commented on #9331
After picking @elcallio and @kostja brain a little (actually a lot :smile: ) I think I have found the root cause, I only have a hand waving explanation and it is still have to be qualified by QA (or at least finish all writes in ~8 hours).
My suspected root cause is quite surprising but also fits well with the assumption that "something" is causing CL to flush a lot more than it should or at least

[2021-11-02 20:10] fgelcer commented on #9331
if the logs are correctly collected (it includes the Prometheus metrics) and upload to S3, then you will be to re-create the monitor stack yes...
a tip to "abort" it is to either reboot a node, or kill c-s command from one of the loaders (both options will trigger a CRITICAL event that will stop, tear down, collect logs and clean resources)

[2021-11-02 20:45] dkropachev opened #9573 "master: coredump after nodetool_enospc"
Super long run started from getting core from scylla
List of nemesis with coredump event from the begging of the run:
[code]

*Installation details*
Scylla version (or git commit hash): 4.6.dev-0.20211027.a21b1fbb2 with build-id d790046d27e128b2811fa63ef0ef0129b4ef561a (ami-00af7e594cf40018d)
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-00af7e594cf40018d

*Logs*
critical - https://cloudius

[2021-11-02 20:46] dkropachev commented on #9573
Core dump:

[code]

[2021-11-02 21:48] vladzcloudius commented on #9506
That's a valid point.
And all it takes is to set a threshold low enough (e.g. by mistake) to have all partitions of a given table logged.
And then BUM! - all corresponding rows in `system.large_partitions` are going to end up in the same partition.

@bhalevy That's definitely something to take a look at.

[2021-11-02 22:04] hagitsegev commented on #9563
The good news is that the next run (based on build 802) didn't have this problem, and installation went OK.

master/daily is set to start on 12:55 AM.
https://jenkins.scylladb.com/view/nexts/job/scylla-master/job/build/801/ that created the packages started on 12:58 AM.
It is after midnight.
I think that the issue comes from the end of DST (moving to "winter clock") that happened around this time

[2021-11-02 22:07] cmm commented on #9506
at least system tables don't report on themselves, because that would be awkward

[2021-11-02 22:49] vladzcloudius commented on #9506
Are you sure, @cmm? :D

[2021-11-02 23:06] cmm commented on #9506
@vladzcloudius I definitely see the code that makes sure that system tables have dummy "large data" handling (dating to March 2019), but beyond that I cannot really say!

[2021-11-03 00:02] #9541 closed

[2021-11-03 07:38] slivne commented on #9505
We need monitoring info to try and look whats going on.

[2021-11-03 07:41] slivne commented on #9403
@haaawk we do not have an owner for tracing - please find someone in your team that will look at this (and the future ones :) ).

[2021-11-03 07:59] nyh commented on #5893
Ok, I implemented this missing feature. As I expected it was relatively straightforward. I'll send a pull request in a few minutes.

[2021-11-03 08:00] xemul commented on #9567
The `storage_service - handle_state_normal: fail to update ...` as well as `storage_service - fail to update ...` messages are likely because the called `db::system_keyspace::update_...` methods call `qctx->execute...` and hit the shutdown commitlog (it shuts down on drain_on_shutdown).

[2021-11-03 08:17] avikivity commented on #9563
We should create the build timestamp once and propagate it to all subpackages.

[2021-11-03 08:18] xemul commented on #9567
The `storage_service::on_...` should not have been called because gossiper is shutdown on drain first (almost first).

[2021-11-03 08:28] xemul commented on #9567
Ah, OK. The gossiper notifies listeners down the stack after `apply_state_locally` which, in turn, is called in a fiber from messages handlers.

[2021-11-03 08:45] haaawk commented on #4703
@piodul and I have been discussing this issue and we came to the conclusion that creating a dynamic distributed rate limiting is a little bit like dynamic distributed load balancing. Meaning it's hard to get right. That led us to an idea to use a static partitioning of the limit. The way it would work is as follows:

1. Let's say that the cluster has `N` nodes and the table uses replication factor

[2021-11-03 08:47] elcallio commented on #9331
@eliransin If you actually manage to get a wrapped wasted_space counter, that is really cool (but not in a good way). The conditions for setting this without an actual range check in the add/subtract paths are enforced in a number of other position checking places. Note that these however are dependent on alignment and blocking working as expected, so maybe there is a bug there somewhere... I woul

[2021-11-03 09:30] eliransin commented on #9331
As @slivne explained to me, another implication that we want to clear out is `scylla_memtables_pending_flushes_bytes`
needs to be larger than 500M (most of the time).
I used a the following averaged metric (so it is easier to compare behaviour) between  3 versions 4.4 (good), 4.5 (bad) and hacked 4.5 - `avg(avg_over_time(scylla_memtables_pending_flushes_bytes[20m])/500000000)`
The results looks pr

[2021-11-03 09:34] eliransin commented on #9331
One more for the hacked one (with the same timespan 1d instead of 12h so it is easier to compare):
![image](https://user-images.githubusercontent.com/22260843/140037157-44b83ab8-3e2a-4c12-b672-adfce708b4c4.png)

[2021-11-03 09:36] bhalevy commented on #9457
seastar submodule updated with the seastar fix. Closing...

[2021-11-03 09:36] #9457 closed

[2021-11-03 09:40] bhalevy commented on #9506
Yes, there were a number of fixes in this area to make sure we use the nop large data handler for system tables

[2021-11-03 09:43] bhalevy commented on #9506
Regarding adding more columns, I'm not worried about supporting that in the cql path, but rather in the need to change the schema of the system table.
Maybe a good compromise would be to add a new "too many" column which is a map holding `<entity, count>` tuples, so we can use it to count various entities in the partition.

[2021-11-03 09:47] bhalevy commented on #9506
Sounds like a good idea.
It would also be more efficient to delete the whole partition when the sstable is deleted (by compaction) turning range deletion onto partition deletion.

[2021-11-03 09:48] bhalevy commented on #9506
@tarzanek can you please open an issue about the carfinality problem?

[2021-11-03 09:51] dkropachev opened #9575 "running queries while adding or dropping columns can get consistency errors"
scylla-bench is loosing consistency while add_drop_column nemesis is working
It start reporting `Operation timed out for scylla_bench.test - received only 1 responses from 2 CL=QUORUM`

scylla report the following in it's logs:

[code]

And load gets dropped due to the problem with consistency

![Screenshot from 2021-11-03 12-49-54](https://user-images.githubusercontent.com/40304587/140039242-a21f

[2021-11-03 09:54] hagitsegev commented on #9563
So it means to run ninja just to create the timestamp, and after that call it again (on ARM and X86) with the values that was created?
Clock moves happen twice a year, and cause issues to computers, that assume the time is moving forward consecutively.

[2021-11-03 10:03] elcallio commented on #9331
Actual size is dependent on load, shards, disk and ram space, but "bigger is better" is as good a rule of thumb as any, yes.
I am still amazed at how you would manage to get to a place where `file_position() > _size_on_disk`, and I really want this reproed. This means that a block alignment or similar has broken, and we've violated the segment size contract -> not great.
Fixing the symptom is of c

[2021-11-03 10:04] dorlaor commented on #4703
A soft limit is certainly the right way. The main motivation for rate limit
isn't to charge accurately, it's
usually to block excessive accesses that risk the cluster or the shard,
something
which is far higher than the average operations per partition. In such a
case, it will be enough to have
a cap per shard per partition. We can enforce it on all shards in the
coordination phase (whether they
o

[2021-11-03 11:06] mmatczuk opened #9576 "restapi: /storage_service/repair_status invalid status code when repair id not found"
There are two APIs for checking the repair status and they behave differently in case the id is not found.

[code]

[code]

The correct status code is 400 as this is a parameter error and should not be retried.
Returning status code 500 makes smarter http clients retry the request in hopes of server recovering.

Related to #2794

[2021-11-03 11:13] eliransin commented on #9331
First of all credit goes to QA, the only thing I managed to do is to run the jenkins job :smile:
Unfortunately - the reproducer for this is the qa job on jenkins. Fortunately - we know how to run it :slightly_smiling_face:
There is another case (I know you said it is impossible but also case where file_position() > _size_on_disk seams quite
impossible ...), the case where we substruct the slack by

[2021-11-03 11:47] asias commented on #9576
Ref: https://github.com/scylladb/scylla-manager/issues/2896

[2021-11-03 12:04] roydahan commented on #9575
@dkropachev I remove the label till we decide if it's a scylla-bench issue or scylla issue.

[2021-11-03 12:18] slivne commented on #9566
@juliayakovlev / @fgelcer - what does copy mean ?

- do you copy sstables

- do you scan a table and write to a different table

whats the operation ?

[2021-11-03 12:20] vladzcloudius commented on #9506
@bhalevy Any direction, both adding a new column to an existing system table and using a composite column are rather trivial to implement and maintain - but this discussion is not about a technical part of of the implementation (I'm sure you'll be able to handle any of this). - It's about a user interface and having a separate column is a more user friendly option because it's much easier to work

[2021-11-03 12:20] slivne commented on #9569
@raphaelsc  according to qa a node is stuck following reshape at reshape - can you please check

[2021-11-03 12:21] slivne commented on #9573
@xemul seems like a crash in shutdown - does it look familiar ?

[2021-11-03 12:28] cmm commented on #9506
maybe just define a "problem" ("entity"?) column (included in ck), change the "partition_size" or whatever column to be generic "count", and just add rows for every found threshold violation -- this way you just need one table and it's simple to query and self-explanatory.

and expand the pk to include the sstable name and maybe even the offending partition key (could it happen that a threshold-vi

[2021-11-03 12:35] xemul commented on #9573
@dkropachev , which of them is scylla process logs?

[2021-11-03 12:46] #9493 closed

[2021-11-03 12:46] #5893 closed

[2021-11-03 12:46] #9568 closed

[2021-11-03 12:57] dkropachev commented on #9573
db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/34bf1ab1-1fc6-4ec2-8bbe-a326f4e7b9ef/20211031_074639/db-cluster-34bf1ab1.tar.gz

[2021-11-03 13:03] juliayakovlev commented on #9566
@slivne
We fetch all rows from MV (into python object) and insert the data onto the table (`session.prepare(insert into ..)`) using `execute_concurrent_with_args`

[2021-11-03 13:26] avikivity commented on #4703
We have too many coordinators - consider 20 nodes and 50 shards/node, that's 1000 coordinators. If you want to limit 30 keys/sec in a 10 second period, that's 0.3 keys/sec/coordinator shard.

It's easiest to do this on the replica. It means more work is wasted, but it's probably still okay. I guess the replica can teach the coordinator - if the replica responds with {deny, 30sec} the coordinator c

[2021-11-03 13:38] eliransin commented on #9331
@elcallio - found it.
There are cases where the segment destructor is called on a non closed segment.
So the fix (at least a hotfix) is as simple as wrapping the substruction line in the destructor in:
[code]
I will soon start a QA run with this so we can evaluate if we also need the second change as well.
BTW this condition is reproduced in the commit log unit test.
Now the only question left to

[2021-11-03 13:39] xemul commented on #9573
[code]

[2021-11-03 13:40] dorlaor commented on #4703
On Wed, Nov 3, 2021 at 3:26 PM Avi Kivity ***@***.***> wrote:

But there is no point having a cap of 30 key/sec. Also, most times the
client is topology aware.
A normal cap to block a spam attack or any other unpredictable load, like
the dress that broke
the internet will require a high cap - 1000 op/key/sec or even 10k. In such
a case, we can
enforce it on the coordinator data owner. We can enfor

[2021-11-03 13:41] xemul commented on #9573
@slivne , It's an exception thrown from deferred action execution, which is `noexcept`

[2021-11-03 13:42] elcallio commented on #9331
That should only be ok when shutting the commitlog down. Which sounds like it is something happening in the hints commitlog instances, not the one used for actual table data?
But if you can assert it, it should be easy to see the stack trace, no?

[2021-11-03 13:47] xemul commented on #9573
A-ha, now I've a bullet-proof justification for my bloody branch that turns `drain_on_shutdown()` to be just a sequence of calls inside main, not the deferredly called storage service method :feelsgood:

[2021-11-03 13:49] haaawk commented on #4703
I share @dorlaor's opinion that 30 key/sec sounds unrealistic. I would also expect something in the range of (tens of) thousands of ops/s

[2021-11-03 13:56] avikivity commented on #4703
The capacity of a shard is thousands to tens of thousands of ops/sec. So if the limit is thousand or tens of thousands of ops/sec, you're leaving nothing for other partitions.

You can also look at it from another direction. If the partition represents a user's interactions with the system, then anything above 30 ops/sec is certainly a bot.

[2021-11-03 13:59] tzach commented on #4703
For reference
The assumption in Scylla Calc is sustainable 15K operations per vCPU
https://github.com/scylladb/scylla-price-calculator#model-assumptions

[2021-11-03 14:00] haaawk commented on #4703
Fair enough. I don't think interaction created by bots is forbidden though, is it?

[2021-11-03 14:01] haaawk commented on #4703
So can we assume the limit will be in range of tens or hundreds of ops/s? That can influence design.

[2021-11-03 14:02] raphaelsc opened #9581 "Bloom filter memory consumption can be increased with segregation on memtable flush"
With segregation on flush, partition estimation for each new sstable may be inaccurate, unnecessarily increasing memory consumption for bloom filter. Only TWCS tables are affected. Note though that this is a transient problem as regular compactions will eventually adjust estimation, taking segregation into account.

[2021-11-03 14:03] avikivity commented on #4703
Best to avoid such assumptions unless critical. We don't know how this will be used.

[2021-11-03 14:11] haaawk commented on #4703
I know it's best to keep the code as general as possible but also having some assumptions can lead to a simpler, better performing code that's delivered faster. We can always change the implementation if it turns out we need limit of thousands of ops/s. Your own argument stands really strongly here if we make the limit 1k then a shard will be able to keep only 15 partitions. Is that enough?

As a

[2021-11-03 14:19] slivne commented on #4703
as a reference aerospike has a hotkey concept as well https://discuss.aerospike.com/t/hot-key-error-code-14/986 I am not sure its for the same usage but I think some users refereed to this in comparison in the past.

[2021-11-03 14:19] haaawk commented on #4703
But going back to the static partitioning of the limit. Even in your 30ops/s example it would work as follows:
1. each replica coordinator would get 10ops/s limit assuming RF=3
2. each non-replica coordinator would get 1ops/s limit by rounding up

For a properly configured driver that would still mean ~30ops/s limit when a token aware load balancing is used.

[2021-11-03 14:20] eliransin commented on #9331
If the wrap around source is what I found here (we should know in an hour or two), it is not coming from the hint commit log
since only the database commitlog has metrics. If it is do to your first assumption, then we should find it.
I will next run a version with asserts in those places.

[2021-11-03 14:56] avikivity commented on #4703
It depends on the distribution of hot partitions. I really can't say much as we don't have experience here.

If you show a data structure that behaves better with the assumptions, we can consider it. I have ideas about a data structure that is (mostly) rate independent.

That's for sure.

[2021-11-03 14:58] avikivity commented on #4703
per shard, the numbers are much worse. Do we want cross shard coordination for this?

and shard aware!

[2021-11-03 15:14] avikivity commented on #9506
We can add a row_count column and store both partition_size and row_count if one of them exceeds the threshold.

[2021-11-03 15:39] eliransin commented on #9331
@elcallio - You were probably right, I got the same phenomena with the one liner above. (waste_bytes wrapping around).
Running now with sprinkled assets whenever changing `_file_pos` or `_size_on_disk` and whenever calculating with them (to rule out memory overrun).

[2021-11-03 17:29] eliransin commented on #9331
OK - new theory, there is one place where momentarily `_file_pos` can be greater than `_size_on_disk`, it is in cycle function
while dma_writing to the file.
Maybe there is a subtle bug in the guard logic there. Running again with log prints on every update of those and an assert
where they are used to change wasted_bytes.

[2021-11-03 17:30] vladzcloudius commented on #9506
That's exactly what I asked here: https://github.com/scylladb/scylla/issues/9506#issuecomment-956527083
Your version is both shorter and simpler to understand however.
Thanks, @avikivity.

[2021-11-03 17:43] elcallio commented on #9331
Should not be possible to affect the code in close. While it does not explicitly wait for pending writes, it does wait for a final flush before doing the termination dance. This flush is guarded by the RP ordering so we should always finish the code inside the lambda you are referring to before we ever enter the code that cares about file_pos vs. size_on_disk.

That being said, all this rather wac

[2021-11-03 17:59] eliransin commented on #9331
I hope you are wrong, because if you are right the newer theory will be memory overrun :fearful:

[2021-11-03 18:26] avikivity commented on #9457
I guess it needs to be backported everywhere?

[2021-11-03 20:14] #9576 closed

[2021-11-03 20:14] #9581 closed

[2021-11-03 21:22] dkropachev commented on #9575
@roydahan , s-b is getting these errors from scylla, so I don't see reason to blame s-b here.
s-b is getting these errors while there is no reason for that, unless scylla is killing prepared statements queries that are using old schemas.

[2021-11-04 01:42] ojii commented on #9542
Using `Scylla version 4.6.dev-0.20211027.a21b1fbb2 with build-id d790046d27e128b2811fa63ef0ef0129b4ef561a` and dynalite.

I have a table with HASH being `h` (string) and RANGE being `r` (string).

First I create a item:

[code]

Then I update an item using `ReturnValues=ALL_NEW`

Request:
[code]

Dynalite Response:
[code]

Scylla Response:

[code]

If I do a separate GetItem afterwards, the value

[2021-11-04 02:00] asias commented on #9505
The high latency happens during 9:48(fist repair) and 9:50 (second repair)
![image](https://user-images.githubusercontent.com/320076/140244355-40ab93a3-6a98-42f4-84be-f7766365cbb1.png)
![image](https://user-images.githubusercontent.com/320076/140244410-3c3edbae-b975-4ab5-b111-71290e81b77f.png)

No pending tasks > 1024.

![image](https://user-images.githubusercontent.com/320076/140244638-392c11dc-4

[2021-11-04 06:11] psarna commented on #9542
@ojii what's the issue though? Dynalite seems to return the fields in different order, but the returned JSON values correspond to each other - both Dynalite and Scylla returned the same document, didn't they? Their text representation is different, but both are correct and equivalent to each other (unless I missed some subtle detail while browsing this issue on my phone)

[2021-11-04 06:21] bhalevy commented on #9457
@avikivity yes please

[2021-11-04 06:27] ojii commented on #9542
@psarna sorry about all that extra stuff in the response, i just re-used the test from our existing suite.

The issue is `set-key-one` which gets updated via `ADD #n4 :v3` in were `:v3` is `{SS: ["hoge"]}`. Dynalite returns the new value as `"set-key-one": {"SS": ["hello", "world", "hoge"]}` but scylla returns `"set-key-one": {"SS": ["hello", "world"]}`.

[2021-11-04 06:31] psarna commented on #9542
Ah, ok, got it. We'll prepare a reproducing test case and work on the problem, thanks for reporting

[2021-11-04 08:45] nyh commented on #9542
I wrote a simple test for `ReturnValues = ALL_NEW` and `ADD`, and it actually worked correctly!
So it turns out that the problem is more subtle than just ADD being broken. It's not just the `ADD`, it's the combination of `ADD` for one column and `REMOVE` for a different column that for some reason breaks `ALL_NEW`. Your test case was a great help to figure out what's wrong, and here is greatly sim

[2021-11-04 09:12] nyh commented on #9542
By the way, the bug isn't even specific to `ADD`. The `REMOVE` breaks the `ALL_NEW` of any other attribute set in the same command. The following test also fails, and doesn't involve any sets:

[code]

[2021-11-04 09:36] nyh commented on #9542
It appears we have a serious low-level bug in the JSON library's `rjson::set_with_string_name()` function..
Check this out - printing the `_return_attributes` variable before and after the `SET` operation shows:
before:
[code]
after:
[code]
Note how instead of the value for `s`, which was `dog`, being replaced by `cat`, we actually now have two values for the same key, which is an obvious bug in t

[2021-11-04 09:53] nyh commented on #9542
@psarna I can't believe we never noticed this before, but our `rjson::rjson::set()` and friends use RapidJson's `AddMember` method, which as its name suggests, only **adds** a member to a document - it does not check if one was already there. This is a low-level bug which we'll need to fix across the codebase (I'll open a new issue about it) and then we'll get this issue fixed.

[2021-11-04 10:29] slivne commented on #9543
@yaronkaikov - I am ok to check if we can publish rcs on dockerhub with this change

[2021-11-04 11:24] nyh opened #9583 "rjson's set(name, value) function is wrong when name already exists"
The bug presented here is the cause of Alternator issue #9542 and was discovered while debugging that issue - but it may cause other bugs in our codebase where we use rjson.hh - which we don't know about yet.

The `rjson::set(base, name, value)` function - and its numerous variants (also `set_with_string_name`) are all **wrong** when the key `name` already exists in the map `base`. The function na

[2021-11-04 13:11] yaronkaikov commented on #9543
@slivne Do we want to do this change all over or only to our docker images?  what about official release? should it stay as is or we should add another digit (for example: 4.5.1 vs 4.5.1.0)

[2021-11-04 13:19] roydahan commented on #9575
I think that scylla kill prepared statements when changing schema but not sure, we can check that.
Anyway, if we have the retry mechanism to s-b, it will be easy to know where the problem is.

[2021-11-04 13:51] nyh commented on #9542
Sent to the mailing list a patch 'alternator: fix bug in ReturnValues=ALL_NEW" fixing (and testing) this bug.
It doesn't yet overhaul or review all the set()s - it is limited to fixing this bug, and introduces a replace() function that does what we thought set() does.

[2021-11-04 15:51] avikivity commented on #9457
Let's wait a week for fallout. The bug is there since forever and the sky isn't falling, so we can wait a bit.

[2021-11-04 18:57] eliransin commented on #9331
Some more insights after running with some more asserts and prints:
1. It is most likely that the wraparound is due to substracting more than added. (This is the assert that takes place).
2. It happens in the segment destructor and the `_closed == true`, however (this I am 99% sure), it is not due to calling the
close function but due to an exception in batch_cycle (more specifically `timeout exce

[2021-11-04 19:46] eliransin commented on #9331
OK, here is the bug:
1. During an LWT write in the batch_cycle stage there is a timeout - this sets `_closed = true` on the segment and make it inactive.
2. After a while a cycle is triggered in segment manager and flushes this segment.
3. Now this segment is eligible for delete (can_delete === is_flushed && !allocating && unused) which becomes true eventually.
4. Now the segment is deleted, which

[2021-11-04 19:50] eliransin commented on #9331
On second thought we can just call `close()` from the exception.

[2021-11-05 00:03] #9471 closed

[2021-11-05 00:03] #9542 closed

[2021-11-05 00:03] #9583 closed

[2021-11-05 01:31] asias opened #9585 "Reject node with bad clock"
It is important for nodes in the cluster to have a synced clock. In case a node has bad clocks, scylla should provide a way to reject the node to join (a new node) or restart (existing node).

[2021-11-05 07:53] denesb opened #9586 "db/schema_tables: merge_tables_and_views(): views are always matched against new/after base tables"
HEAD: 4950ce539c06be61ff31f0c46602850ac7a60826

For altered tables, `merge_tables_and_views()` creates schema objects representing before/after (old/new) table states. In case of views, there is a matching mechanism to set the base table field of the view to the appropriate base table object. This works by iterating over the list of altered tables and selecting the "new_schema" field of the first

[2021-11-05 10:37] ashangit commented on #9446
Logs from last repair have been pushed in below files (index 0 being the older logs and 6 the newest)
[code]
You will see one missing index entry in the log index 2 (put the other logs in case you some traces from them)
[code]
But I'm not really confident on the interest of those logs. Usually without trace logs I face at least 4 of those 'missing index entry' and I also observed that 1 or 2 of th

[2021-11-05 18:43] syuu1228 opened #9588 "docker: scylla_bashrc does not apply on login prompt"
Seems like /etc/bashrc filename is different in Ubuntu.
We currently doing `run bash -ec "cat /scylla_bashrc >> /etc/bashrc"` while building container, I'm sure this was correct on CentOS7 but doesn't work for Ubuntu 20.04.
Correct filename is /etc/bash.bashrc.

[2021-11-05 19:59] vladzcloudius opened #9590 "Prepared/authorized prepared entries are not evicted according to LRU policy"
*Installation details*
HEAD: 9e8fc63585c3a05f0737229aa6d86307fc6417ee

*How to reproduce*

1) Run scylla using `--smp 1 --memory 512M`.
2) Prepare 210 different statements while using the first one on each step
3) Prepare another different statement.
4) See that despite the statement from (3) was the last used statement it would be the one that is going to be evicted.

[2021-11-05 20:09] vladzcloudius commented on #9590
The reason for this is the fact that prepared statements are mostly accessed via authorize_prepared_cache which stores weak references to entries in the prepared_statements cache. However when we find a valid entry in the authorized_prepared_statements cache we don't "touch" the corresponding entry in the prepared_statement cache and thereby not updating it's `last_read` timestamp and not updating

[2021-11-05 20:10] vladzcloudius commented on #9590
I'm going to send a patch that "touches" the entry in the prepared_statements cache together with a patch for scylla-dtest to reproduce the issue.

[2021-11-06 13:10] kostja opened #9593 "Persist state of discovery"
During boot, we use a special "discovery" protocol to establish initial Raft Group. We should persist the state of this protocol, otherwise two clusters may form if one of the nodes restarts during discovery and the timing is right:
Seed configuration:
node 1 points to node 2 as its seed. Node 2 seed list is empty.

Event flow
1 contacts 2 before 2 decides to become a leader
1 becomes a leader
2 r

[2021-11-07 09:58] hagitsegev commented on #9563
Happened again on
https://jenkins.scylladb.com/view/nexts/job/scylla-master/job/build/808/artifact/00-Build.txt/*view*/
I can suspect that maybe there is a time difference between the machines armatrading and FleetCloud-next i-0c9ac51482a567761
The build starts on 00:58. So if one of the machines is an hour late, we can' get this issue.
As a "fast - solution - that puts things under the rug" I can

[2021-11-07 13:24] avikivity opened #9594 "mutation_writer_test flaky"
at e991604918025b20880be808e29e2f203e88bab9

[code]

[2021-11-07 13:29] avikivity commented on #9594
Even longer run:

[code]

[2021-11-07 13:40] avikivity commented on #9594
Also present in 4950ce539c06be61ff31f0c46602850ac7a60826 (current master).

[2021-11-07 13:48] avikivity commented on #9563
Why would a machine be late?

Let's make sure we are using UTC for time.

[2021-11-07 16:00] hagitsegev commented on #9563
As it happened again, I re-open the issue.

[2021-11-07 17:23] avikivity commented on #7675
No vulnerable branches, not backporting.

[2021-11-07 17:26] avikivity commented on #7902
Backported to 4.4 (4.5 had it already).

[2021-11-07 17:33] avikivity commented on #7439
As observed, no backports needed.

[2021-11-07 18:09] avikivity commented on #9563
Note the workaround I queued.

[2021-11-07 18:55] fgelcer commented on #9511
FWICS the rebuild that failed happened during the time we interrupt it, and AFAICT we should have filtered out this failure in the nemesis, but it didn't... so it might be an issue with SCT?

here we have the call to rebuild:
[code]

then the hard reboot is called:
[code]

and then the rebuild fails:
[code]

but the events were raised at this moment:
[code]

and only then, the next rebuild is call

[2021-11-07 19:13] #9486 closed

[2021-11-07 19:34] slivne opened #9596 "When loading sstables scylla should check the schema currently used matches the loaded sstables"
We have seen cases in which sstables are loaded with a non matching schema and the causes issues.

There are multiple cases that should be checked:
- partition key matches
- clustering key matches
- specific field match

[2021-11-07 20:38] slivne opened #9597 "Export per table metrics on per node basis - not per shard"
Enabling per table metrics per shard causes a huge load in deployments that have many shards and many tables (easily passing all the other metrics scylla exports).

To reduce the aount of exported metrics - we will export table metrics on per-node level

[2021-11-08 08:37] nyh commented on #8882
Another thing worth noting is that I can't find any documentation of this limit, e.g., it's not mentioned in https://docs.scylladb.com/getting-started/dml/ - and probably should.
Moreover, the error itself is a strange internal server error with the text "partition key cartesian product size ... is greater than maximum 100", and a user who sees it won't know that this limit 100 is actually arbitra

[2021-11-08 08:37] denesb commented on #9594
This is a regression in the consume cycle of `mutation_writer::feed_writers()`, caused by de55ab571b9, which causes readers with a single buffer worth of data to be not consumed. Luckily said commit is not in any release yet.

[2021-11-08 09:14] elcallio commented on #9331
Calling close is cleaner, but given that we just failed IO, adding more IO to deal with this might be the wrong way. Also, any exceptions in the close cycle would cause more or less the same havok. Need to keep proper account instead. I'll send a three-liner. But fixing this does not really explain/deal with why LWT writes get timeout from writing CL batch...?

[2021-11-08 09:22] avikivity commented on #9594
Note 4.6 was branched.

[2021-11-08 09:44] nyh opened #9599 "Alternator test: use decorator instead of fixture for scylla_only"
This idea is due to @Orenef11 who had the same idea for the cql tests.

We have in `test/alternator/conftest.py` a fixture `scylla_only` that skips a test when running against DynamoDB.
But specifying it like a fixture (as a test's parameter) is weird, because the test code never needs to use the _value_ of this fixture. It makes more sense to use scylla_only as a decorator, i.e., put `@scylla_onl

[2021-11-08 09:48] elcallio commented on #9331
#9598

[2021-11-08 10:25] tarzanek commented on #6725
Tzach pointed out
https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/cassandra
has sample agents now

[2021-11-08 10:31] haaawk commented on #6725
We will check it out. Thanks.

[2021-11-08 10:48] avikivity commented on #9542
@nyh please backport (note 4.6 was branched)

[2021-11-08 11:18] denesb opened #9600 "schema: deterministic shard-local sharder for local tables"
There has been a need for some time -- especially since adding virtual tables has picked up the trace -- to have a sharder which reliably and deterministically maps partitions to the desired shard, e.g. given the schema below:
[code]
Have a sharder which maps `shard` to the shard id it contains.
In this issue I'd like to propose such a sharder (and hopefully soon follow-up with an implementation).

[2021-11-08 12:39] nyh commented on #9542
4.6 already includes this patch (it was apparently branched after this patch, I wasn't aware of it).
Backported to next-4.5 (db66b62e80863e0eafb0d99b00553ee33b292604)
Backported to next-4.4 (c49cd5d9b664997e781de319f33520893c4fc897).

Not backporting to 4.3 according to our two-supported-release policy. This means that versions based on 4.3 will no longer get this and other bug fixes. @avikivity F

[2021-11-08 12:43] yarongilor opened #9601 "Gemini fails on validation:"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211101.9e8fc6358 with build-id 62d8c292f9ddc15e61ebd6cd609ac91b80e1532a`
Cluster size: 3 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   gemini-1tb-10h-master-db-node-623da367-1 (16.170.157.59 | 10.0.1.168): 14 shards
   gemini-1tb-10h-master-db-node-623da367-2 (16.170.15

[2021-11-08 14:34] #9570 closed

[2021-11-08 14:34] #9588 closed

[2021-11-08 15:15] fgelcer commented on #5355
i'm still seeing such issue on scylla-4.5:

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.5.0-0.20211006.47be33a10`
Cluster size: 6 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-200gb-48h-network-4-5-db-node-d0ec3ebc-1 (3.251.6.122 | 10.0.3.192): 8 shards
   longevity-200gb-48h-network-4-5-db-node-d0ec3ebc-2 (54.22

[2021-11-08 15:46] YeminLi commented on #9318
Hi @slivne, sorry for the late reply. I haven't get a chance to upgrade yet.

Do you know if the issue you mentioned previously (when read+writes happen we do not get all the bandwidth we expect) has been resolved in the new version?
I would appreciate it if you could share more information about that.

Thank you!

[2021-11-08 16:31] yarongilor commented on #9135
Possibly reproduced during decommission nemesis on master 50gb longevity:
got an error of:
[code]
@roydahan , it looks similar but still different in number of required quorum nudes.

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211101.9e8fc6358 with build-id 62d8c292f9ddc15e61ebd6cd609ac91b80e1532a`
Cluster size: 6 nodes (i3.4xlarge)
Sc

[2021-11-08 17:22] yarongilor opened #9602 "range_streamer - Bootstrap for keyspace=keyspace1 failed: streaming::stream_exception (Stream failed)"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211101.9e8fc6358 with build-id 62d8c292f9ddc15e61ebd6cd609ac91b80e1532a`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-master-db-node-c5e416b4-1 (13.51.174.230 | 10.0.3.7): 14 shards
   longevity-tls-50gb-3d-master-db-node-c5e416b4-

[2021-11-08 22:15] roydahan commented on #5355
@fgelcer from reading the comments above, I think it's expected because the behavior on the client side hasn't changed.
To test the behavior on the server side they restarted the stress immediately and saw that the stress works as expected.
We can't do it in existing longevities, so the ~30 seconds drop in our case is expected.

[2021-11-08 22:15] #5355 closed

[2021-11-08 22:36] roydahan commented on #9135
@yarongilor is that exact  same scenario? restarting the node that replaced the decommissioned one?
This can point on a severe issue or the test is doing something that isn't in the correct way.

Please connect the cluster, make sure these keys exist for all replicas and report exactly what was the scenario.

[2021-11-08 22:38] roydahan commented on #9135
I see that you opened also #9602, if it's the same scenario, it can explain why the new node missing the data.

[2021-11-08 22:41] roydahan commented on #9602
@yarongilor, Is this the only error you see in the log at that time?
It's not even an error it's a warning (maybe worth another issue to change that).

Please copy the relevant part from the logs here.

@asias would you need something from the live  cluster?

[2021-11-09 00:30] raphaelsc commented on #9569
sha1 is 3c0a48ac38c5d142c942699ed53558cb528fea2e, looks like a regression in master which is already fixed. @dkropachev please retry this test (picking latest master for target version instead) and tell me if the problem is gone.

[2021-11-09 03:13] asias commented on #9602
Node 5: (existing node, ip 10.0.2.160)
[code]

Node 12: (bootstrapping node, ip 10.0.3.91)
[code]

The stream failed because node 5 think node 12 is down. The cluster is using the new failure detector. This means node 5 could got a echo message response from node 12 in 20 seconds. I suspect there was a network issue.

[2021-11-09 03:16] asias commented on #9602
Btw, the log lines are duplicated. Looks like a SCT or setup issue.

E.g.,
[code]

[2021-11-09 03:20] asias commented on #9602
Other nodes also marked node 12 as DOWN, staring from 2021-11-07T05:24:29+00:00.

$ grep 'InetAddress 10.0.3.91 is now DOWN' longevity-tls-50gb-3d-master-db-node-c5e416b4-*/messages.log|wc -l
128

[code]

[2021-11-09 03:45] asias commented on #9602
Node 12 was not loaded at all during the period  2021-11-07T05:24 when other nodes marked it as down.

![image](https://user-images.githubusercontent.com/320076/140857289-a0fca306-19c4-45ff-afe1-796b55ed1821.png)

Node 12  had low disk read/write:

![image](https://user-images.githubusercontent.com/320076/140857806-1d3f4d64-9cbb-4324-87f8-ac03f52d06df.png)

Node 12 also had low reactor tasks:

![i

[2021-11-09 03:47] asias commented on #9602
I saw semaphore issues before node 12 was marked down.

[code]

[2021-11-09 03:53] asias commented on #9602
Summary:

Existing nodes like node5 saw:

rpc - client 10.0.3.91:7001: client connection dropped: read: Connection reset by peer

Bootstrapping node 12 did not notice other nodes down. Node 12 was not loaded and healthy. There was no reason node 12 would not respond a single echo message to other nodes.

So, it looks like a temporary AWS network issue.

[2021-11-09 03:55] asias commented on #9602
The commit used in the test had:

[code]

[2021-11-09 08:21] roydahan commented on #9602
@asias we think the issue consistently reproduces on master.

@dkropachev, @fgelcer please check if you had the same bootstrap failure in your runs.
It can perfectly explain the missing keys you had for c-s.

[2021-11-09 08:29] asias commented on #9602
No. Thanks.

[2021-11-09 08:34] asias commented on #9602
OK. We have similar test with 4.5 and they are passing, correct?

[2021-11-09 08:50] nyh commented on #9599
Unfortunately, it turns out that there is a complication. When `scylla_only` was a fixture, we could make it depend on another fixture, `cql`, which it needs to test the connection. It was also easy to make `scylla_only` be a session-scoped fixture and cache its value. But if `@scylla_only` is a decorator, it cannot depend on any fixture.

Here an I have about we we can do this. The basic idea is

[2021-11-09 09:08] yarongilor commented on #9601
instances already terminated before i got to it. (perhaps a new feature to SCT could be increasing the keep tag when a gemini validation error found)

[2021-11-09 09:11] gleb-cloudius opened #9603 "Raft system storage need to save snapshot descriptor and truncate the log atomically."
There is a TODO in the code already:
https://github.com/scylladb/scylla/blob/158f47dfc7a4ee3a7cca524bc8758b39a21def3e/service/raft/raft_sys_table_storage.cc#L180

The issue is here to track it.

[2021-11-09 10:23] fgelcer commented on #9602
@asias , on 4.5 we had only #8009 in such a test (and it was marked as passed), as you can see [here](https://jenkins.scylladb.com/job/scylla-4.5/job/longevity/view/Manually%20Triggered%20Jobs/job/longevity-50gb-3days-test/8/)

[2021-11-09 10:23] fgelcer commented on #9602
checking

[2021-11-09 10:36] fgelcer commented on #9602
yes, we do see such the semaphore issues @asias mentioned above:
[code]

and:
[code]

and:
[code]

where we have multiple times this error:
[code]

at the time of these errors, there was no nemesis running:
[code]

[2021-11-09 11:29] #9470 closed

[2021-11-09 11:29] #9586 closed

[2021-11-09 11:29] #9594 closed

[2021-11-09 11:58] yarongilor commented on #9135
It may be the case, but i can't be sure about it. basically the write failure event happened  2 minutes before the bootstrap event, but it is close enough to happen at same time.

[2021-11-09 12:15] avikivity commented on #9331
Backported "commitlog: Add explicit track var for "wasted space" to avoid double counting" to 4.6. I expect it can/should be backported earlier, but will wait a while before doing so.

[2021-11-09 12:16] avikivity commented on #9594
Backported to 4.6. 4.5 and below not vulnerable.

[2021-11-09 13:42] enedil opened #9605 "memtable: use after move"
In `memtable.cc` there's a line:
[code]
If `snp->schema()` is evaluated after `std::move(snp)`, there is use after move which triggers a segfault. This is not the case on clang, as it evaluates arguments from left to right, however affects gcc.

[2021-11-09 14:09] roydahan commented on #9602
@fgelcer the issue isn't about the semaphore timeout, it's about the range_streamer that failed during bootstrap of new node. Please check that.

[2021-11-09 14:19] yarongilor commented on #9135
The keys are currently found on all replicas. example:
[code]

[2021-11-09 14:35] dkropachev commented on #9602
In my case it is too far away from the failure:

[code]

Node 10.0.1.64 was removed by nemesis and 10.0.1.141 was added to replace it.
So, status for all nodes has being UP for as long as 1 hour before the failure.
Very last status change was at `2021-10-30 02:25:40`, while test failed at `2021-10-30 03:24:00`

[2021-11-09 15:11] fgelcer commented on #9602
sorry, didn't understand that...
no, i don't have `range_streamer` failing in my test:
[code]

[2021-11-09 16:15] yarongilor opened #9607 "Error during node rebuild: <no_such_column_family> (Can't find a column family with UUID 0a5f31b0-3df7-11ec-afb6-a254c4723547)"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211101.9e8fc6358 with build-id 62d8c292f9ddc15e61ebd6cd609ac91b80e1532a`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-master-db-node-c5e416b4-1 (13.51.174.230 | 10.0.3.7): 14 shards
   longevity-tls-50gb-3d-master-db-node-c5e416b4-

[2021-11-09 16:33] roydahan commented on #9601
Run a reproducer with the same Gemini seed.

[2021-11-09 16:38] roydahan commented on #9135
It doesn't show that the key is on all replicas, it shows that the key (each time you used different key) is available on 1 replica.

[2021-11-09 16:52] yarongilor opened #9609 "Segmentation fault and core dump during restart and resharding"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211101.9e8fc6358 with build-id 62d8c292f9ddc15e61ebd6cd609ac91b80e1532a`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-master-db-node-c5e416b4-1 (13.51.174.230 | 10.0.3.7): 14 shards
   longevity-tls-50gb-3d-master-db-node-c5e416b4-

[2021-11-09 17:25] yarongilor commented on #9609
Another segmentation fault and core dump happened later on during enospc nemesis on node 10:
[code]

[2021-11-09 22:07] #8872 closed

[2021-11-09 22:07] #9605 closed

[2021-11-10 07:00] avikivity commented on #9605
Backported to 4.6. Older branches not vulnerable.

[2021-11-10 07:45] slivne commented on #9505
@avikivity / @slivne ping

[2021-11-10 08:09] bhalevy commented on #9567
@xemul 9e2b6176a only Refs this issue, but doesn't Fix it.
What's left to be done?
(it will need to be backported to scylla-4.6)

[2021-11-10 09:22] bhalevy commented on #9567
Requires backport only to 4.6

[2021-11-10 10:18] syuu1228 commented on #9498
My previous comment was wrong, I found out we actually stopped using PyYAML, I think we just need to drop this dependency:
https://github.com/scylladb/scylla-tools-java/issues/279

[2021-11-10 12:00] avikivity commented on #8872
Test fix, not backporting.

[2021-11-10 12:18] avikivity opened #9610 "full build under dbuild leaves undeletable node_exporter files"
Running a full build leaves some node_exporter files not owned by the current user. This requires the user to sudo to delete them.

[2021-11-10 12:18] avikivity commented on #9610
Fixed by e1817b536f55f6b04e30590ce087dcbf1ee8477d.

[2021-11-10 12:18] #9610 closed

[2021-11-10 12:18] slivne commented on #9602
@asias I don;t understand - can a bootstrap operation complete successfully if there are errors ? if there are errors - then we need to retry or need to end with failure - bootstrap has to be correct and transfer everything - can you double check that.

[2021-11-10 12:20] slivne commented on #9607
@asias please help with initial analysis and see if this is durring streaming for rebuild / prior to that / etc.

[2021-11-10 12:27] avikivity commented on #9588
Backported to 4.6. Earlier branches did not use Ubuntu.

[2021-11-10 13:03] xemul commented on #9609
@slivne , dup of #9316

[2021-11-10 13:53] denesb opened #9611 "validate: validate the index too"
Currently validate works on the mutation fragment stream level, which will not detect any problems in the index, as validate uses a full-scan on the sstable, which doesn't use the index. We should expand validate to also read the index and cross-reference it with the sstable, checking that partitions are where expected.

@bhalevy

[2021-11-10 16:00] slivne commented on #5232
@yaronkaikov I know we have debug rpms do we create a debug image as well ?

[2021-11-10 16:01] slivne commented on #5160
@yaronkaikov / @avikivity I think we moved away from mainline kernel - can we close this

[2021-11-10 16:06] slivne commented on #6282
closing this issue - we are using Ubuntu20.04 in the images we provide and are able to configure 24 disks ... - documentation is covered in the other issue

[2021-11-10 16:06] #6282 closed

[2021-11-10 16:17] slivne commented on #7720
@roydahan when we start testing lets see if this reproduces on 4.6 and get asias to check it out if it does

[2021-11-10 16:18] slivne commented on #8016
great closing

[2021-11-10 16:18] #8016 closed

[2021-11-10 16:20] slivne commented on #8273
not a regression pushing out

[2021-11-10 16:25] slivne commented on #8927
moving to 4.6 - maybe the gossip changes actually (dedicated scheduling group, updates to failure detector) helped

[2021-11-10 16:27] slivne commented on #9053
moving to 4.6 - we disabled commitlog hard limit

[2021-11-10 16:33] slivne commented on #9393
fixed

[2021-11-10 16:33] #9393 closed

[2021-11-10 16:40] slivne commented on #7056
we have added additionbal debug info - if this happens again we will be able to analyze it - closing this issue

[2021-11-10 16:40] #7056 closed

[2021-11-10 16:41] slivne commented on #5577
@amnonh can I close this

[2021-11-10 16:44] slivne commented on #6410
@gibsn can we close this ?

[2021-11-10 16:50] cmm opened #9612 "pull request docs/* check runs "make -C docs test", which always fails"
Since ff56b7e43, any change under docs/ in a PR branch causes "make -C docs test" to run.
The command always fails.
It is not nice to put an action that always fails, regardless of specific changes that trigger it, in an automatic pipeline.

@dgarcia360

[2021-11-10 17:33] bhalevy commented on #9559
Cc @raphaelsc @psarna @nyh

[2021-11-10 17:35] dgarcia360 commented on #9612
@cmm The workflow seems to be working as expected.

The workflow raised the first error when https://github.com/scylladb/scylla/pull/9517 was submitted:

![image](https://user-images.githubusercontent.com/9107969/141162215-2fe91b0f-ed05-4a2e-b431-ec04791aaf46.png)

Most likely, this PR was merged although the GitHub Bot posted this message:

![image](https://user-images.githubusercontent.com/91079

[2021-11-10 17:39] avikivity commented on #9498
Fixed by d949202615dba5723ddf3a059687f0ffca056749 (once it promotes)

[2021-11-10 17:44] dgarcia360 commented on #9612
Suppose a project runs a collection of tests every time there is a new pull-request. If someone merges a PR with an error, all the subsequent pull-requests with new additions will not pass the tests neither. This workflows does the same, but with docs instead than with code.

[2021-11-10 17:50] cmm commented on #9612
@dgarcia360 I stand corrected, thank you.

[2021-11-10 18:53] avikivity commented on #5160
Obsoleted by scylladb/scylla-machine-image@de1bb48faf75fc2edbfa83dc9108d69217476a21

[2021-11-10 18:53] #5160 closed

[2021-11-10 19:17] yaronkaikov commented on #5232
@slivne today only for release. i will add it to our list :-)

[2021-11-10 22:21] fee-mendes opened #9614 "Scylla HTTP API can't parse logger levels with a space on it"
*Installation details*
Scylla version (or git commit hash): 4.5.1-0.20211024.4c0eac049
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

It turns out that Scylla `/system/logger` API reports a logger type with a space :
[code]

Other than updating this logger level via the traditional `SCYLLA_ARGS=` mechanism, there is virtually no way to dynamically tune (or at least we couldn't find one ;

[2021-11-11 01:48] asias opened #9615 "Validate repair token range is in the form of (start, end] on runtime"
Sources of ranges repair works on come from two sources

1) user specified though restful api

A range is specified as start and end token when user sends request to repair. The token range is (start, end], exclusive for start token and inclusive for end token.

2) vnode token ranges of a node

For example, get_primary_ranges(), get_primary_ranges_within_dc()

All of them are in the form of (start

[2021-11-11 06:24] #9547 closed

[2021-11-11 06:24] #9550 closed

[2021-11-11 06:24] #9551 closed

[2021-11-11 06:24] #9552 closed

[2021-11-11 06:53] asias commented on #9602
In the log, I saw stream error and I saw retry of streaming. The log from node 12 stopped at "2021-11-07T06:21:27+00:00", the node was still in the progress of retrying.  Bootstrap will be successful only if all data has be streamed correctly.

[2021-11-11 06:55] asias commented on #9602
So, the conclusion is that we dit not see stream failure in other tests consistenly. If we see please report and issue and attache the logs and monitor data.

[2021-11-11 07:16] asias commented on #9607
All the no_such_column_family comes from storage_proxy.cc：

[code]

The reuibld opeation has finished successfully.

[code]
I do not think it is realted to streaming from rebuild operations.

The first no such column familiy error happened shortly after the node is restarted. It tried to pull schema. I think it is a schema related issue.

[code]

[2021-11-11 07:17] asias commented on #9607
BTW, @roydahan The log provided by sct were duplicated. This is the second I saw. I mentioned in another thread https://github.com/scylladb/scylla/issues/9602#issuecomment-963779512.

[2021-11-11 07:36] amnonh commented on #5577
you can

On Wed, Nov 10, 2021 at 6:41 PM Shlomi Livne ***@***.***>
wrote:

[2021-11-11 08:13] yaronkaikov opened #9616 "dist/docker/debian/build_docker.sh: Searching for wrong file pattern in `rc` release"
during build process in 4.6 docker build failed with the following error message:
[code]
This is due to the fact that `SCYLLA-VERSION-GEN` is configured with `4.6.rc0` while deb package is being built with `4.6~rc0`

[2021-11-11 11:23] fgelcer commented on #9100
seeing this same issue again, on master (from couple of weeks ago):

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211009.235c38e78 with build-id dd3f6ff2a8b81dff1bc1619a35cb2ce0e0af7118`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-master-db-node-4b5d5e49-1 (13.53.35.211 | 10

[2021-11-11 12:42] nyh commented on #9555
@elcallio what do you mean "actual AWS" and "AWS account limits"? Aren't we running this with Scylla and Alternator, not AWS DynamoDB, and the only thing we use AWS for is virtual machines?

I think there are two separate issues. One is that if the write load is too high (and I don't know what "too" high is) or the rate of topology changes is too high, the stream reader might not be able to keep u

[2021-11-11 13:10] IlyaOrlov opened #9618 "Scylla prometheus client fails during writing data to DB"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): Scylla version 4.3.0-0.20210110.000

[2021-11-11 13:40] nyh opened #9619 "Alternator HTTP server should disable Nagle's algorithm (TCP_NODELAY) like other servers"
A user reported that while most Alternator requests are answered in less than 2ms, some of them are answered in 40ms.
This number 40ms should be familiar to some of us - it is a telltale sign of the infamous interaction between Nagle's algorithm on one machine and Delayed Ack on the other machine (on Linux, delayed ack defaults to exactly 40ms).
I think what is happening is the following:

1. The

[2021-11-11 13:55] nyh commented on #9619
Opened a Seastar issue https://github.com/scylladb/seastar/issues/968 - because we need to solve this in Seastar.

[2021-11-11 15:57] gibsn commented on #6410
@slivne hi, it's up to you, idk if it has been fixed. I haven't seen this problem since then

[2021-11-11 16:13] roydahan commented on #9607
Yes we know.
There is a rsyslog known bug that we try to workaround somehow.

[2021-11-11 19:28] yarongilor opened #9621 "WriteTimeoutException: Cassandra timeout during SIMPLE write query at consistency QUORUM following new node bootstrap"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211101.9e8fc6358 with build-id 62d8c292f9ddc15e61ebd6cd609ac91b80e1532a`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-master-db-node-c5e416b4-1 (13.51.174.230 | 10.0.3.7): 14 shards
   longevity-tls-50gb-3d-master-db-node-c5e416b4-

[2021-11-11 19:40] yarongilor commented on #9621
Reproduced in a previous run with another nemesis sequence as well:

errors:
[code]
nemesis sequence:
[code]

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211027.a21b1fbb2 with build-id d790046d27e128b2811fa63ef0ef0129b4ef561a`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-mas

[2021-11-12 00:42] asias commented on #9607
OK. Just making sure it is being handled. Thanks.

[2021-11-12 01:31] #9616 closed

[2021-11-12 08:14] psarna commented on #9619
Sure, I'll send a patch which expresses my viewpoint. I think that tcp_nodelay should be unconditional for HTTP (at least until some user insists that they need it to be configurable), but I'll let the discussion continue on the Seastar bug tracker.

[2021-11-12 10:09] yaronkaikov commented on #9616
@avikivity can you please backport this to 4.6?

[2021-11-13 20:38] rnz commented on #8496
scylladb 4.4.6 same error on havy load or when run compaction:

[code]
[code]

[2021-11-13 20:45] rnz commented on #8158
same in scylladb  4.4.6 with multiple data pusher (>=120 instances) and havy load (100k ops)

[code]

test cluster have 3 nodes:

[code]

![image](https://user-images.githubusercontent.com/851927/141658584-b76672e6-ece2-46c1-aca7-4fb544179704.png)

[2021-11-13 21:42] rnz commented on #8496
I set --task-quota-ms 10 in /etc/scylla.d/io.conf, and no more messages about "oversized request" in log:
[code]

[2021-11-14 06:30] tzach commented on #5727
Ping

[2021-11-14 06:40] slivne commented on #5727
@tzach its not clear whats the ping for ....

[2021-11-14 06:52] tzach commented on #5727
Exposing top partitions info in a virtual table, similar to
https://github.com/scylladb/scylla/commit/7a3930f7cfca1fd01180e5e83dea9d097558ae22

[2021-11-14 06:55] slivne commented on #5727
The virtual tables that have been exposed are ones that do not require an
operation from the user end.

The ones requiring an operation are not yet exposed - the milestone for
this feature is 4.x - e.g. not scheduled if we what to schedule it we need
to also take something out ...

On Sun, Nov 14, 2021 at 8:52 AM Tzach Livyatan ***@***.***>
wrote:

[2021-11-14 11:24] yarongilor opened #9623 ""drop table" query fails during repair with: "cassandra.OperationTimedOut""
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211107.4950ce539 with build-id 8d7a7f85964575a8775f8358cef3ff74141e07fd`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-100gb-4h-master-db-node-2b8e7933-1 (16.170.140.147 | 10.0.0.191): 14 shards
   longevity-100gb-4h-master-db-node-2b8e7933-2 (

[2021-11-14 11:31] avikivity commented on #5727
These should be done using the CQL EXEC or CALL statement, since we need to provide parameters. A table is good for selecting data that doesn't depend on anything, except perhaps the current time.

[2021-11-14 11:35] tzach commented on #5727
Can the DB build an ad-hoc "table" as a result of SELECT?
(I agree it might be misused)

[2021-11-14 12:11] avikivity commented on #5727
That's what virtual tables do. But virtual tables don't have parameters.

[2021-11-14 12:35] amnonh commented on #5727
Theoretically, it can be taken from the `WHERE` part

[2021-11-14 12:49] slivne commented on #9623
Is this a regression - I expect its not - its probably a race condition

[2021-11-14 12:51] slivne commented on #9621
Since it just started its probably a regression

@asias please do initial triage

[2021-11-14 12:56] slivne commented on #9618
@IlyaOrlov 4.3.0 is very old and not supported please upgrade - we may have fixed this issue and you are hitting it since you are on an old version - following the upgrade you can update here if you are still hitting the issue.

Please note currently we only maintain 4.4.X / 4.5.X releases and fix bugs users hit on those release.

[2021-11-14 13:01] slivne commented on #9614
lets change the logger name all the others are using "_"

[2021-11-14 13:02] #9612 closed

[2021-11-14 13:18] slivne commented on #9600
We have the ability to add a per table partitioner - I expect you can use that to map to shards

[2021-11-14 13:39] slivne commented on #9543
@avikivity - I do not think we should change things outside of docker, please provide your view

[2021-11-14 14:04] avikivity commented on #9543
We should have just one convention.

deb/rpm conventions favor ~ for denoting release candidates. We can choose one of

4.5.0~rc0 .. 4.5.0~rc1 .. 4.5.0

or

4.5~rc0 .. 4.5~rc1 .. 4.5.0

The first choice allows us to have release candidates for patch releases too. The second choice is more in line with existing practice. Both should sort correctly according to rpm/deb conventions.

[2021-11-14 14:17] avikivity commented on #5727
It's a terrible interface.

[2021-11-14 14:51] amnonh commented on #5727
I prefer a command in this case, but something like:
`SELECT rank, partition, table, keyspace from system.toppartition WHERE keyspace='keyspace1' and table='table1' ORDER BY rank DESC limit 10;`

[2021-11-14 15:03] avikivity commented on #5727
What about the time-to-sample? And memory allowance to allocate?

[2021-11-14 15:05] amnonh commented on #5727
That's why a command is better, this is very artifficial but you can force that to be part of the condition

[2021-11-14 15:35] #9619 closed

[2021-11-14 20:16] #9506 closed

[2021-11-14 20:21] slivne commented on #9607
It seems like the schema was altered while the node4 may have been down  -and as such when node4 comes up when it receives mutations with the new schema it outputs no_such_column_family

[code]

[code]

Maybe its hints related - wild guess I know - did not check the metrics and we should do that

@piodul - I know we did a few changes related to hints being replay - yet am not sure if any of those

[2021-11-15 06:11] slivne commented on #9602
@fgelcer - did you open a separate issue for your failures ?
@dkropachev - did you open a separate issue for your failures ?

for now we are assuming a networking issue on AWS (hard to believe since we rarely have those - if ever) for this case - if it happens again please post and we will need to look at it again,

[2021-11-15 06:22] slivne commented on #9544
@bhalevy / @tgrabiec please note in both cases this was recorded there was a manager backup - manager backup - takes a snapshot (that enforces a flush) - and creates hard links - and I expect some compactions and after that "steals" bandwidth for reading the files and uploading them.

So maybe this can help in some manner

[2021-11-15 06:26] slivne commented on #9446
@denesb / @bhalevy ping

[2021-11-15 06:30] asias commented on #9602
The test uses rpc encryption:

[code]

Another possibility is that echo message was not responded because of some encryption issue.

[2021-11-15 06:33] slivne commented on #9152
@elcallio - can we add a log (or assert) for the next time this happens (https://github.com/scylladb/scylla/issues/9152#issuecomment-918140002) that will help you find the source the next time.

We want to fix the bugs - the next best thing if we can't is to add additional info so we will make a step toward that direction.

[2021-11-15 06:37] slivne commented on #9053
4.6 was branched and commit log hard limit is not enforced

[2021-11-15 07:03] slivne opened #9625 "Commitlog hard limit"
collecting all the issues related to commitlog limit - so we can revisit them once we enable it again.

- [x] #8969
- [x] #8877
- [x] #9053
- [x] #9054

[2021-11-15 07:04] slivne commented on #8969
commit log hard limit has been disabled - pushing this out to 4.7

[2021-11-15 07:05] slivne commented on #8927
Keeping this open - to see if it happens again in 4.6 testing ( @roydahan ) please update once we have a answer

[2021-11-15 07:06] slivne commented on #8418
@roydahan ping

[2021-11-15 07:09] slivne commented on #8273
not a regression pushing out

[2021-11-15 07:10] slivne commented on #8168
@raphaelsc / @bhalevy is this fixed ?

[2021-11-15 07:14] asias commented on #9621
Node 5 : 10.0.2.160
Node 12 : 10.0.3.91 (bootstrapping node)

I am looking at the period of 2011.07 05:00 to 06:00. The first c-s error happened around 05:22.

Compaction and streaming looks good. Compaction was using share < 100 all the time during the 05:00 to 06:00 period.
![image](https://user-images.githubusercontent.com/320076/141737812-2ed5f752-7f38-4ab3-a3d9-5c5100c13710.png)

![image](htt

[2021-11-15 07:17] slivne commented on #9511
@roydahan / @fgelcer assigning this to you - if the rebuild that failed is the one durring the hard reboot - thats expected - its not supposed to succeed - please clear this up

[2021-11-15 07:20] asias commented on #8927
I also want to know if the new gossip failure detector in 4.6 is helping when the system is under high pressure.

[2021-11-15 08:06] haaawk commented on #5727
@StarostaGit is working on this

[2021-11-15 08:08] haaawk commented on #5727
@StarostaGit has been working on this for some time and my impression was that all the details are already settled. @StarostaGit what were the design decisions made previously?

[2021-11-15 08:49] slivne commented on #8089
#9511 - is not clear

Its not clear if this issue reproduces or not

@roydahan assigning this to you - so we will have an update if this happens or not

To be clear

- The first rebuild will fail as its interrupted
- The second rebuild should succeed

[2021-11-15 08:52] yarongilor commented on #9601
Not reproduced in https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/byo-longevity-test/170/

[2021-11-15 08:58] elcallio commented on #9555
@nyh - @yarongilor was (IIUC) running this against actual amazon as a "proof-of-working". This program works 100% fine on Alternator, but running it against actual remote DynamoDB might very well have issues with the rather high data bandwidth (full scan + full speed copy write).

[2021-11-15 09:06] nyh commented on #9555
Sure, this is a good idea (it is also how I test that my own tests for Alternator are correct - by running them against AWS), but I didn't understand in @yarongilor's report that his problem was when running against AWS. I thought it was when running against Alternator. Am I wrong?

[2021-11-15 09:14] elcallio commented on #9152
Stage one of dealing with whatever this is would probably be to merge #9344 which fixes an exception handling error.

[2021-11-15 09:18] bhalevy commented on #8026
@vladzcloudius looks like this issue can be closed with https://github.com/scylladb/scylla/pull/9577, right?

[2021-11-15 09:19] elcallio commented on #9555
Now I am actually getting confused as well. From the context of some private mails and the mention of "AWS Java-2" above, I assumed at least some end was actual Dynamo. @yarongilor - can we clear up the whos and whats for us easily confused?

[2021-11-15 09:22] denesb commented on #9483
Upon looking again I think the problem was entirely in the test and the original fix (6a76e127683355e4d621dfd4905231884b36f7be) should have fixed this. I think the problem was in this code: https://github.com/scylladb/scylla/blob/9d4262e264efd6d92de9c40545f59c85c840de0d/test/lib/mutation_source_test.cc#L2310-L2339
Here it is possible that the same ckey will be generated twice. On the first pass a

[2021-11-15 09:22] #9483 closed

[2021-11-15 09:32] bhalevy commented on #990
This issue aged out.
There were MANY changes around error handling on the sstable writing and file close path.
@tgrabiec is there still anything specific that needs to be done to fix and close this issue?

[2021-11-15 09:33] bhalevy commented on #5994
@denesb / @roydahan what's the status of this issue?
Can it be closed?

[2021-11-15 09:38] denesb commented on #5994
I think we can, I don't know of any related issues recently and we can always open a new issue if we do see one.

[2021-11-15 10:10] syuu1228 opened #9627 "scylla_util.py: unable to get correct state from systemd_unit.is_active() since we change return value to bool"
We can get systemd unit status by "systemctl status" as follows:
[code]
But this output is not scripting friendly, there are also simpler output one:
[code]

On scylla_unit.py, we provide `systemd_unit.is_active()` to return `systemctl is-active` output.
When we introduced systemd_unit class, we just returned `systemctl is-active` output as string, but we changed the return value to bool after tha

[2021-11-15 10:53] StarostaGit commented on #5727
Yes, there is #8854 addressing CQL CALL statements and this issue. As @avikivity mentioned above, it was meant to be done through the CALL statements as opposed to VTs - it seems to fit our case very well since toppartitions are, after all, a function call.

The PR was not picked up when I was gone for the summer, hence the delay, but I'm working on it again - it is mostly done, along with the top

[2021-11-15 10:58] avikivity commented on #8398
Backported to 4.4, 4.5 (4.6 has it).

[2021-11-15 11:00] avikivity commented on #8381
Documentation-only, and minor; not backporting.

[2021-11-15 11:00] slivne commented on #8030
@raphaelsc
- is off strategy now wired into bootstrap (even without RBNO)

Please note in the last run by aleks there is no high usage of compaction at the period the throughput drops

![Screenshot from 2021-11-15 12-58-40](https://user-images.githubusercontent.com/3465480/141770501-e198508b-b95d-4a59-aaa5-1faa78aeea83.png)
![Screenshot from 2021-11-15 12-58-17](https://user-images.githubuserconte

[2021-11-15 11:01] avikivity commented on #8146
Documentation only; not backporting.

[2021-11-15 11:01] avikivity commented on #8014
Enhancement, not bug, so not backporting.

[2021-11-15 11:04] avikivity commented on #7961
Major change; not backporting.

[2021-11-15 11:05] avikivity commented on #7610
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2021-11-15 11:08] avikivity commented on #9429
Backported to 4.4, 4.5. 4.6 had it.

[2021-11-15 11:10] avikivity commented on #9178
ARM-only, and raft-only, so not backporting.

[2021-11-15 11:12] fgelcer commented on #9511
seems like the issue here is that SCT raised an ERROR event with this expected rebuild failure, so we will move the discussion to https://github.com/scylladb/scylla-cluster-tests/issues/4025

[2021-11-15 11:12] #9511 closed

[2021-11-15 11:14] avikivity commented on #9103
Backported to 4.4, 4.5 (even though it ends up just performance). 4.6 has it.

[2021-11-15 11:16] ashangit commented on #9446
FI we have created a test cluster which is composed of 3 nodes, with 1 node being our new NVMe flavor (sockets=1 cores=32 hyperthreading=64 (AMD EPYC 7502P 32-Core Processor) memory=256G, Disks: NVME * 4) and 2 being our old SSD flavor (2 x [Intel] Gold 5122 (4 cores / 3.6 GHz), 6 x SSD [Intel] INTEL-S4600-960GB (960.0 GiB / 2.5i / sata))

We have then pushed some data from the prod cluster to tha

[2021-11-15 11:16] avikivity commented on #9576
Backported to 4.5, 4.4. 4.6 had it.

[2021-11-15 11:18] avikivity commented on #9471
Backported to 4.4, 4.5. 4.6 had it.

[2021-11-15 11:20] avikivity commented on #9144
4.6 has it, 4.5 does not have ubuntu-based docker, so no backporting needed.

[2021-11-15 11:22] avikivity commented on #9045
Minor issue (rarely used distribution) so not backporting unless there is a user request.

[2021-11-15 11:24] avikivity commented on #8859
Backported to 4.4, 4.5. 4.6 had it.

[2021-11-15 11:25] avikivity commented on #8920
Not backporting per above.

[2021-11-15 11:26] avikivity commented on #8633
Minor doc bug, not backporting.

[2021-11-15 11:26] yarongilor commented on #9555
Sure, sorry if there's a confusion, @elcallio , QA tests never run DynamoDB. only Alternator Scylla.
It is only a terminology difficulty, perhaps, for me, to find an appropriate term to replace the "old" "KCL" with. so the idea was choosing "AWS Java-2" in order to denote usage of the new  "kraken-dynamo" library.