[2019-06-23 15:40] bhalevy opened #4589 "repair_option_pr_multi_dc_test coredumps opon shutdown"
Not sure when exactly this started.
The earliest clear evidence in dtest-release is in mentioned below.
Since then it happens consistently.

[dtest-release/128/artifact/logs-release.2/1558446246519_repair_additional_test.RepairAdditionalTest.repair_option_pr_multi_dc_test/node2.log):
[code]

[2019-06-23 16:10] bentsi opened #4590 "seastar - Failed to allocate 131072 bytes during INSERT"
*Installation details*
Scylla version (or git commit hash): 3.0.6-0.20190503.bf68fae01
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0c20f6998065c9ca6
Instance type: i3.large

Gemini insert failed:
[code]
Scylla log:
[code]

[2019-06-23 17:48] #4549 closed

[2019-06-23 17:48] #4569 closed

[2019-06-23 17:48] #4386 closed

[2019-06-23 17:48] #4572 closed

[2019-06-23 17:48] #4580 closed

[2019-06-23 18:08] slivne commented on #4590
@bentsi / @aleksbykov we need the coredump

[2019-06-23 18:08] slivne commented on #4590
please note that you mentioned 3.0.6 yet the backtrace is using 3.0.7 - so what is it ?

[2019-06-23 18:10] slivne commented on #4589
backtrace ?

[2019-06-23 19:15] #4153 closed

[2019-06-23 19:32] amoskong commented on #4456
The bypass works before the new fixes for jmx and scylla-tools-java, but
not work in my latest test

Tzach Livyatan <notifications@github.com> 于 2019年6月23日周日 下午3:04写道：

[2019-06-23 19:36] amoskong commented on #4057
We need this fix for 3.1 & 2019.1?

Tzach Livyatan <notifications@github.com> 于 2019年6月23日周日 下午3:06写道：

[2019-06-24 02:21] asias commented on #4575
Patch is on list: [PATCH scylla v2 0/2] Sync schema before repair

[2019-06-24 07:10] bhalevy commented on #432
@psarna I tweaked your patch a bit, rebased, and fixed the unit test.
It now passes `test_range_deletion_scenarios`.
Please review PR #4591

[2019-06-24 07:23] tzach commented on #4432
@amnonh can you please validate with 3.1.0.rc2

[2019-06-24 07:23] tzach commented on #4391
@amoskong ?

[2019-06-24 07:24] tzach commented on #4355
@syuu1228 what is the next step?

[2019-06-24 07:27] tzach commented on #4243
@amnonh any updates?

[2019-06-24 07:28] tzach commented on #4230
Closing, the reproduce example was wrong

[2019-06-24 07:28] #4230 closed

[2019-06-24 07:29] tzach commented on #4214
@asias ?

[2019-06-24 07:31] tzach commented on #4024
Closing, until we have new evidence

[2019-06-24 07:31] #4024 closed

[2019-06-24 07:32] tzach commented on #3306
@syuu1228 ?

[2019-06-24 07:36] asias commented on #4214
As I mentioned in the last comment, there is an issue in the timestamp from user's log. I could not reproduce this issue so far.

[code]

[2019-06-24 07:38] bhalevy commented on #4589
From [dtest-release/157/artifact/logs-release.2/1561284048806_repair_additional_test.RepairAdditionalTest.repair_option_pr_multi_dc_test/node2.log](https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/157/artifact/logs-release.2/1561284048806_repair_additional_test.RepairAdditionalTest.repair_option_pr_multi_dc_test/node2.log):
[code]

[main.cc#L925-L927](https://github.com/scylladb/sc

[2019-06-24 08:17] amnonh commented on #4243
it's stuck on the list

On Mon, Jun 24, 2019 at 10:27 AM Tzach Livyatan <notifications@github.com>
wrote:

[2019-06-24 08:19] elcallio commented on #4519
@amnonh Since it happens, I don't think I solved it. :-)
Did you mean the patch "APIMBeanServer: Handle nodeprobe wildcard queries in CF refresh"? It is merged since forever, so this might be different. From what I can see, the query made by nodetool should be handled by the refresh-on-wildcard match.
Which version was toppartitions added in? I can't find it in my scylla build?

[2019-06-24 08:24] amnonh commented on #4519
@elcallio it seems like the same problem (cannot find CF), I'll try to reproduce with master and see

[2019-06-24 08:29] amnonh commented on #4519
@slivne @nirmaayan I have tested it with master and the issue is solved, I believe it was the solved by 512638ed6e4ee2b50835483e532cdb4f6283e2a6

[2019-06-24 08:34] asias opened #4593 "repair: Race in tracker::init_repair_info"
We call  tracker::init_repair_info to initialize the tracker::_repairs when it is first used:

     void init_repair_info() {
            if (_repairs.size() != smp::count) {
                _repairs.resize(smp::count);
            }
        }

This introduces a race because init_repair_info can be run in multiple shards in parallel.

[2019-06-24 08:37] slivne commented on #4519
thanks @amnonh

@tzach this is not part of 3.1 - do you want this backported ?

[2019-06-24 08:44] bhalevy commented on #4589
@psarna can you please look into?

[2019-06-24 08:50] psarna commented on #4589
sure, I'll take a look

[2019-06-24 09:12] psarna commented on #4589
Hm, seems obvious. `view_builder` is started conditionally, but stopped unconditionally, which will lead to this failure on shutdown. I don't really see how view building gets disabled in this test case, but it's the matter of configuration. I'll fix it by making the stopping conditional as well.

[2019-06-24 09:26] amoskong commented on #4391
It seems a server problem.

Quote from https://stackoverflow.com/questions/20568216/python-handling-socket-error-errno-104-connection-reset-by-peer
[code]

Recent master artifact-test jobs are not stable, so I can' t know if this problem occurred or not.

If we can't retry download in the error case, can we catch the exception and output a friend message to ask you rerun scylla_setup?

[2019-06-24 09:31] amoskong commented on #4391
Another suggestion:
Can we try to download all stuffs at the beginning of scylla_setup? And we only start real setup when all stuffs are prepared.

Otherwise, we need to rerun parts of scylla_setup when we touch the download issue of installing node_exporter.

@tzach

[2019-06-24 11:03] bentsi commented on #4590
@slivne I ran:
[code]
for some reason on this AMI debug info is from 3.0.7
[code]
the issue is reproducing, uploading the coredump

[2019-06-24 11:44] bhalevy commented on #4589
I didn't see any evidence of the view builder disabled so I doubt #4589 will fix this issue.

[2019-06-24 12:15] fgelcer opened #4596 "reactor stall reaching over 160 seconds"
[code]

This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190617.7d1451

[2019-06-24 12:22] bentsi commented on #4590
Link to the coredump :http://upload.scylladb.com/0fdcb2a2-70d6-4732-aa3c-89c36e734566/core.scylla.996-coredump.tgz

[2019-06-24 12:31] bentsi commented on #4590
Updated translated backtrace with 3.0.6 debuginfo

[2019-06-24 12:38] avikivity commented on #4596
@fgelcer please attach full logs (those S3 links are not readable)

[2019-06-24 12:39] avikivity commented on #4596
/cc @pdziepak (but doesn't look like the code in question is responsible)

[2019-06-24 12:40] avikivity commented on #4596
/cc @gleb-cloudius too. Maybe consume<> doesn't yield?

[2019-06-24 12:45] avikivity commented on #4596
[code]

[2019-06-24 12:46] nyh opened #4597 "Expired row markers are compacted diffferently from Cassandra"
This is not really a bug, but rather a difference from what Cassandra does that I wanted to document somewhere, and consider whether we should change our behavior to match Cassandra's.

In the new MC sstable format, there is is no such thing as tombstone for the row-marker. Usually, this is not an issue: CQL doesn't have a way to explicitly delete only the row marker, and when deleting an entire r

[2019-06-24 12:47] gleb-cloudius commented on #4596
It does not yield, but it also cannot contain enough buffers to stall
for 160 seconds.

--
			Gleb.

[2019-06-24 13:11] fgelcer commented on #4596
@avikivity , the link is not accessible

[2019-06-24 13:23] slivne commented on #4596
@fgelcer - the log of the sct job ?

[2019-06-24 13:25] fgelcer commented on #4596
@slivne yes.
the job was killed, so the sct job didn't upload it automatically (i did it manually).

[2019-06-24 13:26] fgelcer commented on #4596
FYI, the environment still exist, so if one wants access to it, LMK in private

[2019-06-24 13:32] avikivity commented on #4596
We want the logs

[2019-06-24 13:46] fgelcer commented on #4596
[database.zip](https://github.com/scylladb/scylla/files/3321090/database.zip)

[2019-06-24 13:47] fgelcer commented on #4596
@avikivity , uploaded

[2019-06-24 13:50] tgrabiec commented on #4597
I'll expand the hisorical background a bit. Back in Cassandra 2.x, row marker was treated like any other cell at the storage layer. So our logic worked the same for markers as it works for cells, and expired cells are replaced with tombstones. Later Cassandra changed their model and replaced markers with liveness info which cannot be deleted alone. Then they changed their mind back and added a way

[2019-06-24 13:57] avikivity commented on #4596
@fgelcer can you decode the other traces too?

The 164 second one looks too large to be real, but maybe there are clues in the others.

[2019-06-24 14:18] fgelcer commented on #4596
@avikivity , i found only one with 164 seconds... what happens is that sct tries to parse it (and failed) hence it printed the same 164 seconds trace twice.

[2019-06-24 14:28] avikivity commented on #4596
I mean the smaller ones.

[2019-06-24 16:07] avikivity commented on #3097
Unmarking as backport candidate since it's a build issue only. @ultrabug if you need this backported, let us know.

[2019-06-24 16:08] avikivity commented on #4554
Deferring backport decision until we have more mileage with this.

[2019-06-24 16:10] avikivity commented on #4580
@tgrabiec @asias I think we should backport this, it can cause a performance regression if we have to search many very small rows in the buffer.

[2019-06-24 16:11] avikivity commented on #4572
Unmarking as backport candidate, not a regression.

[2019-06-24 16:12] avikivity commented on #4569
Backported to 3.0 and 3.1, removing from backport candidates.

[2019-06-24 16:14] avikivity commented on #4539
Backported, removing frrom backport candidates.

[2019-06-24 16:14] avikivity commented on #4153
Internal only, no runtime effect, removing from backport candidates.

[2019-06-24 17:50] linux-wizard commented on #3247
What is considered a large partition? Partition size (our partitions are already shared to keep Max row size below 1MB) or number of rows (we may have up to 1000 rows) or a combination of both?

[2019-06-24 18:02] avikivity commented on #3247
For this problem, the number of rows is the problem. If you have 1000 rows in a partition, and all are cached, then to evict or move one of them we incur 10 memory accesses on average. If all of them are uncached, that's about 1 microsecond (in total) that the CPU spends per row.

If the rows are also small, then we didn't get much benefit from moving or evicting them. So this issue is problematic

[2019-06-24 20:25] vladzcloudius opened #4598 "Tune TIME_WAIT timeout by scylla installation/tuning scripts"
*Description*
We saw many times how out users were hitting the "Address is already used" returned by the listening socket during connection creation.

This was caused by too many sockets being in the TIME_WAIT state.

The way to make a system being less susceptible to this error is to configure the following:

[code]

The best would be to have it pre-configured by our scriptology.

[2019-06-24 22:10] asias commented on #4580
Backport +1

On Tue, Jun 25, 2019, 00:10 Avi Kivity <notifications@github.com> wrote:

[2019-06-25 07:06] fgelcer commented on #4596
i will copy here few of them (and their duration vary up to 120 seconds)
there are plenty of other ~4 seconds ones, and i tried to pick different contents... i'm sure there might be other stuff, but i will need much more time to decode all of them

#1 - 4 seconds
[code]

#2 - 4 seconds
[code]

#3 - 4 seconds
[code]

#4 - 4 seconds
[code]

#5 - 12 seconds
[code]

# 6 - 96 seconds
[code]

#7 - 19 se

[2019-06-25 07:11] fgelcer commented on #4596
other 3 30 seconds long:

#1
[code]

#2
[code]

#3
[code]

[2019-06-25 07:14] fgelcer commented on #4596
@avikivity , let me know if i can release the environment, as i'm holding it in case you need access to it

[2019-06-25 07:38] avikivity commented on #4596
@fgelcer you should copy the logs and decode them locally, not hold up clusters just to run the decoder.

Please decode more stuff. You should have a script for it, not decode everything by hand, and provide the logs around the stalls so I have context (best is to filter the logs through the decoder).

[2019-06-25 08:56] eliransin commented on #4268
@slivne ping

[2019-06-25 09:37] eliransin opened #4599 "CQL version should conform to capabilities"
Currently we report cql version 3.3.1 [defined here](https://github.com/scylladb/scylla/blob/master/cql3/query_processor.cc#L65)
We should make sure that we conform to: [Cassandras changes](https://github.com/apache/cassandra/blob/trunk/doc/source/cql/changes.rst) at least as far as client expectations goes.
For example materialized views syntax was added in 3.4.0 and CAST was added in 3.4.1.

[2019-06-25 09:40] eliransin commented on #4550
We should resolve #4599 first and update to cql version 3.4.3 before we can be fully compatible, this is due to the fact that this particular change was introduced in version 3.4.4

[2019-06-25 09:41] amnonh commented on #4432
Just to be clear, we use python2 for the 2.4 monitoring and it's not part
of scylla.
Typically, the monitoring runs on a different machine.

On Mon, Jun 24, 2019 at 10:23 AM Tzach Livyatan <notifications@github.com>
wrote:

[2019-06-25 09:53] slivne commented on #4599
The issues is that we are not always aligned

On Tue, Jun 25, 2019 at 12:37 PM Eliran Sinvani <notifications@github.com>
wrote:

[2019-06-25 10:49] tgrabiec commented on #4580
Backported to 3.1

[2019-06-25 12:04] bhalevy commented on #4589
@psarna fyi, seen this in another dtest: [dtest-release/158/artifact/logs-release.2/1561433162725_materialized_views_test.TestMaterializedViews.mv_populating_from_existing_data_during_node_stop_test/node2.log](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/158/artifact/logs-release.2/1561433162725_materialized_views_test.TestMaterializedViews.mv_populating_from_existi

[2019-06-25 12:08] bhalevy opened #4600 "view_builder bookkeeping errors are actually warnings and aren't unique."
Seen in [dtest-release/158/artifact/logs-release.2/1561433162725_materialized_views_test.TestMaterializedViews.mv_populating_from_existing_data_during_node_stop_test/node2.log](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/158/artifact/logs-release.2/1561433162725_materialized_views_test.TestMaterializedViews.mv_populating_from_existing_data_during_node_stop_test/nod

[2019-06-25 12:44] fgelcer commented on #4596
@avikivity , as menioned multiple times before, the logs have been copied, and stored properly for your convenience.
and indeed we have a script that does it (when it didn't failed with timeouts due to most likely being overloaded), but i'm trying not to just throw unrelated information in here, but trying to bring just the ones (for e.g.) that are over 2 seconds, in addition to get now sequence o

[2019-06-25 12:58] vladzcloudius commented on #4598
The same error may appear on the `connect()` side of the socket for the same reason - running out of available file descriptions/TCP ports.

[2019-06-25 13:24] Skunnyk opened #4601 "system_traces tables schema are not updated when upgrading to scylladb 3.0"
Hello,

After a successful upgrade from ScyllaDB 2.3.5 to ScyllaDB 3.0 on a test cluster, I can't use `tracing on` command anymore.

[code]
The table system_traces.sessions does not have the `request_size` field, which as been introduced in scylladb 3.0 with `response_size`: https://docs.scylladb.com/using-scylla/tracing/

It looks like the script https://github.com/scylladb/scylla/blob/master/fix

[2019-06-25 13:30] tgrabiec opened #4602 "Sstable index reader wastes read-ahead I/O which covers promoted index"
When sstable index reader reads the partition index it skips over the promoted index. If the promoted index is large-enough, it will skip over blocks it already started to read-ahead. Those blocks may be later read again when the promoted index needs to be accessed.

Evidence:
[code]

[2019-06-25 13:32] tgrabiec commented on #4602
There is a feature of input streams which makes them auto-adjust read-ahead based on skips, but it doesn't seem to be effective in this case.

The trace was taken after 96 iterations of the test case in
[code]

[2019-06-25 13:50] slivne commented on #3240
no update on the issue and 2.3 had some imporvements closing

[2019-06-25 13:50] #3240 closed

[2019-06-25 13:50] eliransin commented on #4599
I believe that #4550 will present us with a problem. ALTER column is deprecated only on 3.4.4 so clients are going to expect that this is still present on Scylla (3.3.1).
It was not of an issue as long as we supported more than the cql spec such as supporting MV syntax in 3.3.1, but removing support is a problem.
Any thoughts? Should we align?
According to my tests we should bump it at least to 3.

[2019-06-25 13:51] slivne commented on #3205
@avikivity - ping

[2019-06-25 13:52] slivne commented on #2362
closing old issue - open a new one if seen again

[2019-06-25 13:52] #2362 closed

[2019-06-25 14:38] avikivity commented on #4580
@tgrabiec if you backport, remove the "Backport candidate" label so the issue drops off the queue.

[2019-06-25 16:16] avikivity commented on #4588
The closest in size is I think the best choice. But we have to consider multiple tables too. We should only do cross-tier compactions if there are no same-tier compaction remaining globally. This is because cross-tier compactions have higher write amplification (closest in size minimizes write amplification, but still). If we wait until all same-tier compactions are done, we do efficient work firs

[2019-06-25 16:26] glommer commented on #4588
For the record my preference is closest in size as well. I also intend to enhance the compaction descriptor with an idle flag (Some of the existing compactions can be moved to idle state: LCS pushing to highest levels, and some of the SizeTiered existing ones like tombstone compaction)

I will cook a patch as soon as possible

[2019-06-25 17:01] ultrabug commented on #3097
@avikivity this requires me to maintain a patch on every version bump, so I'd like to kindly ask for this to be backported please

[2019-06-25 18:17] #432 closed

[2019-06-25 18:17] #4540 closed

[2019-06-25 18:17] #4575 closed

[2019-06-25 18:17] #4589 closed

[2019-06-25 20:00] fgelcer commented on #4596
@avikivity , here you will find all the stalls bigger than 2000 ms, per node.

[db-node-1.log](https://github.com/scylladb/scylla/files/3327055/db-node-1.log)
[db-node-2.log](https://github.com/scylladb/scylla/files/3327056/db-node-2.log)
[db-node-8.log](https://github.com/scylladb/scylla/files/3327057/db-node-8.log)
[db-node-9.log](https://github.com/scylladb/scylla/files/3327058/db-node-9.log)
[

[2019-06-26 01:18] zgbgx opened #4604 "the disk iops from scylla_setup iotune study my disk is different from fio test data"
when use scylla_setup, iotune study my reuslt is:
[code]
iops is 1900-2000,
when use fio,
[code]
the result is
[code]
 read iops is 46000 - 48000,write iops is 15000-16000

[2019-06-26 05:45] syuu1228 opened #4605 "On master .rpm, symlinks for /usr/sbin does not installed correctly"
On master rpm, shell glob pattern "scylla_*setup" does not correctly expanded, it mistakenly created a symlink named "/usr/sbin/scylla_*setup":
[code]

[2019-06-26 07:36] tgrabiec commented on #4575
Backported to 3.1

[2019-06-26 07:44] avikivity commented on #4153
@penberg why did @scylladb-promoter re-add the label?

[2019-06-26 07:45] denesb commented on #3602
`chunked_fifo` won't work because some code [1] requires it to have a bidirectional iterator, which is not possible to write without bending backwards. While we could possibly work around these requirements it is not worth the trouble as we don't expect significant (or any) difference between `chunked_fifo` and `chunked_vector`.
[1] https://github.com/scylladb/scylla/blob/94d2194c771dfc2fb260b00f7

[2019-06-26 08:06] avikivity commented on #4589
Backported to 2.3, 3.0, 3.1.

[2019-06-26 08:07] avikivity commented on #432
Not a bug, removing from bbackport candidates.

[2019-06-26 08:34] bhalevy opened #4606 "nodetool_refresh_with_wrong_upload_modes_test: scylla Failed to get test_symlink type"
Starting version b1e78313fe7ed58496232c63f524e0fd331d7277
Seen in [dtest-release/158/testReport/nodetool_additional_test/TestNodetool/nodetool_refresh_with_wrong_upload_modes_test](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/158/testReport/nodetool_additional_test/TestNodetool/nodetool_refresh_with_wrong_upload_modes_test/):
[code]

So instead of detecting a symbol

[2019-06-26 08:59] dekimir commented on #4477
What about collections?  Should we implement queries like
- a set element is LIKE "abc"
- a map entry is LIKE "abc"
- any map value is LIKE "abc"

[2019-06-26 09:32] slivne commented on #4477
Lets start with a first version without that

[2019-06-26 10:00] avikivity commented on #4477
I think that for collections we'll need separate syntax:

[code]
ANY can be used with other predicates:

[code]

We need to bikeshed the syntax (this one allows us to make some ANY KEY jokes), but I think it's outside the scope of LIKE and in the scope of equivalents to std::any_of() and std::all_of().

[2019-06-26 10:53] glommer commented on #4604
Can you tell us more about the hardware ?
Is this a RAID array ?

[2019-06-26 11:48] zgbgx commented on #4604
this disk is a raid array，
[code]
out put is
[code]

[2019-06-26 12:25] zgbgx opened #4608 "differenct cluster nodes vary dramatically in read latency"
two nodes in cluster，bu one node mean  read latecy   is 2.37ms,another noe mean write latency is 15.48ms
two node has the same hardwares,and both use scylla_setup  init.

read latency compare
![readtency](http://tva1.sinaimg.cn/large/0060lm7Tly1g4etuqcc36j31v40u0gwl.jpg)
cpu compare
![cpu](http://tva1.sinaimg.cn/large/0060lm7Tly1g4etqsmy5jj31aa0u04bf.jpg)
disk compare
![disk](http://tva1.sinaimg.c

[2019-06-26 13:17] glommer commented on #4588
I took a slightly different, and simpler approach: just compact everything we find on idle.
It can look like a hammer at first, but I'll note that if we reached that point in the code, we already know there are no other better alternatives, and in particular that there are no other two SSTables in the same level that can be compacted together, and there are at most nr_tier SSTables.

I think this

[2019-06-26 14:18] tzach commented on #4608
Thanks for reporting
What version of Scylla?
What replication factor and CL?

[2019-06-26 16:16] avikivity commented on #4588
You mean a major compaction? That means that as soon as we idle we'll start compacting eveything within sight. The first memtable flush in a previously idle shard can start a multi-terabyte compaction.

Granted, closest-size compaction will eventually do the same, but it will start with more worthwhile compactions that will leave room for a better compaction to take over when they finish, instead

[2019-06-26 16:22] glommer commented on #4588
Yes, it is essentially a major compaction.
But as you noted yourself, that multi-TB compaction will happen anyway if we're idle and those are the only two SSTables available.

If we are at this point (and idle), we already know that there aren't many SStables of similar size. The threshold for size turns out to be quite large, around 50% for similarity. We haven't found two that are similar up unt

[2019-06-26 19:33] #4593 closed

[2019-06-27 01:52] syuu1228 opened #4611 "On master, trying Scylla package upgrade twice or more causes error"
Since we moving old /usr/lib/scylla to /usr/lib/scylla.old specifically, if user tries to upgrade Scylla to master twice or more, scriptlet will fails because /usr/lib/scylla.old is already exists.
[code]
https://github.com/scylladb/scylla/blob/master/dist/redhat/scylla.spec.mustache#L81

We should randomize directory name.

Note that why we moving old /usr/lib/scylla directory not just let packag

[2019-06-27 03:56] mlsmaycon commented on #3896
It seems like there is an issue when using the option delimiter. For instance if I set a semi-colon, pipe or even a comma as delimiter I still receiving the same type of error, I've added all my test information in the link https://gist.github.com/mlsmaycon/46be46737187ec95c238087e2a063b37

[2019-06-27 04:51] syuu1228 opened #4612 ".pyc does not installed part of the package"
Distributions: ALL
Scylla Versions: ALL

This is part of the reason why package manager does not remove /usr/lib/scylla directory when upgrading, and also the reason we needed do some hack on the scriptlet (https://github.com/scylladb/scylla/blob/master/dist/redhat/scylla.spec.mustache#L112).
Since we don't install .pyc files on our package, python3 will generate .pyc file when we launch setup scr

[2019-06-27 04:54] virenderdubey commented on #4530
HI Glommer,

We have upgraded the scylla to 3.0.7 successfully, but the issue is still persist. We monitor the same for few days and seen scylla is getting restarted with the same error and then core dump.
Now We have decided to test the centos binary as well. Please help to provided the same.

[2019-06-27 05:02] dorlaor commented on #4530
It does look like the one in the issue Glauber mentioned,   @tgrabiec
<https://github.com/tgrabiec> , care to provide a centos binary and a
rebase over the latest 3.0.7 ?

On Wed, Jun 26, 2019 at 9:54 PM virenderdubey <notifications@github.com>
wrote:

[2019-06-27 06:55] fruch opened #4614 "During ENOSPC nemesis, scylla coredumped"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):  3.1.0.rc2-0.20190624.433cb93f7.el

[2019-06-27 07:16] slivne commented on #4601
@vladzcloudius - should we run this after all the nodes have been upgraded / or should we run this when the first node is installed ?

[2019-06-27 07:17] slivne commented on #4601
@syuu1228 lets start by adding pakcaging so it will be installed and then see if this is a DOCs item or something that we should run in post phase of package being installed.

[2019-06-27 07:50] fruch commented on #4614
@slivne I remember seeing an issue somewhere (couldn't found it again) you've open about making the root disk of our AMIs bigger by default, is it related to why this coredump didn't had enough disk space ?

[2019-06-27 07:52] bhalevy commented on #4614
You mentioned ENOSPC nemesis, could it be related? :-)

[2019-06-27 08:12] zgbgx commented on #4604
this is the node health check report
[code]
now, one single node read latency is high
if read data all from disk,and don't hit cache,the single node read qps only 20k

[2019-06-27 08:12] ShlomiBalalis opened #4615 "restart_node_with_resharding nemesis seastar::semaphore_timed_out (Semaphore timedout)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190624.433cb93f7
Clu

[2019-06-27 08:59] fruch commented on #4614
It's not the same disk, the root disk is the one that doesn't have enough space
[code]

[2019-06-27 09:02] slivne commented on #4614
We change the system and have it use /var/lib/scylla for coredumps

So it is the same disk

On Thu, Jun 27, 2019 at 11:59 AM Israel Fruchter <notifications@github.com>
wrote:

[2019-06-27 09:03] juliayakovlev commented on #4615
Same error got during longevity-mv-si-4days while destroy_data_then_rebuild nemesis. Reported from the node where data was rebuilt. The error happens during the destroying/rebuilding and after the node has been up.
Logs: [https://cloudius-jenkins-test.s3.amazonaws.com/90f89887-310f-482f-9e1e-e132a493cc66/job-2019-06-26T12.18-ae93006.zip]

[2019-06-27 09:14] slivne commented on #4181
@bhalevy did we stumble on this more then once ?

[2019-06-27 09:26] slivne commented on #4228
@amnonh back in your court - scylla-jmx change ?

[2019-06-27 09:28] slivne commented on #4249
@veramine - can we close this ?

[2019-06-27 09:30] slivne commented on #4270
@bhalevy - did we fix this

[2019-06-27 09:30] slivne commented on #4299
@bhalevy are we still hitting this ?

[2019-06-27 09:31] slivne commented on #4303
@bhalevy are we still hitting this ?

[2019-06-27 09:33] slivne commented on #4308
@bhalevy are we still hitting this we had some bugs related to repair and streaming in 3.1 and they have been closed with fixes, if we are not hitting this (post the fixes)  - lets close this

[2019-06-27 09:34] slivne commented on #4311
@bhalevy are we hitting this ?

[2019-06-27 09:36] slivne commented on #4315
@pdziepak / @tgrabiec / @asias  could this be related to the bug we had in repair and streaming creating incorrect sstables ?

[2019-06-27 09:45] slivne commented on #4355
tested

AMI: scylla_2019-06-27T08-16-19Z (ami-087bc859c84c1a13e) Internal
version
3.1.0.rc2-0.20190627.acff367ea

and it seems to work ok

[code]

@syuu1228 can we close this ?

I tried to check if we move the ami to relocatable python could not find a patch.

[2019-06-27 09:46] slivne commented on #4356
@syuu1228 / @avi ping

[2019-06-27 09:57] slivne commented on #4432
[code]
on docker 3.1-rc2 it works

[2019-06-27 09:57] #4432 closed

[2019-06-27 10:03] #4529 closed

[2019-06-27 10:05] slivne commented on #4553
@veramine - can you validate using the procedure we provided - it works in our testing.

If it does - we will need to stick to that

[2019-06-27 10:07] bhalevy commented on #4311
@slivne no, this was hit only once and was never reproduced.

[2019-06-27 10:08] slivne commented on #4585
seems related to #4611

@avikivity can you provide your view on this - do we need #4611 to release 3.1

[2019-06-27 10:08] bhalevy commented on #4308
@slivne no, this was hit only once and was never reproduced, closing...

[2019-06-27 10:08] #4308 closed

[2019-06-27 10:09] bhalevy commented on #4303
@slivne no, hit once and never reproduced

[2019-06-27 10:11] bhalevy commented on #4299
@slivne no, hit once and never reproduced.

[2019-06-27 10:13] fruch commented on #4614
oops... then it might be a problem to catch those during this specific nemesis.
we'll need to think about how to handle those.

@espindola this machine is still up, if you need it's details. ping me.

[2019-06-27 10:14] nyh commented on #4550
@dahankzter @eliransin I didn't understand the reason we want to drop this support for "alter type" - is it because we have the same problem that Casandra had in supporting this feature, or is the only reason we are removing it is that Cassandra did?
If it's the latter (as https://github.com/scylladb/scylla/pull/4613 seems to suggest), I don't completely understand the reasoning: We need to be com

[2019-06-27 10:19] bentsi commented on #4615
Same issue happened in 2 parallel nemesis longevity, when starting CS threads with different compressions. The nemesis that were run during the issue ran "nodetool repair"

![image](https://user-images.githubusercontent.com/5269241/60258310-936b7c00-98dd-11e9-8607-206a1df4e978.png)
Events:
[code]

[2019-06-27 11:03] bhalevy commented on #4270
We never got to the bottom of this issue, so I can't point to any specific fix.
There were quite a few fixes to materialized_views_test.py, but nothing on this path.
That said, this hasn't been seen it for a while though.
The [latest](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/158/testReport/materialized_views_test/TestMaterializedViews/mv_populating_from_existing

[2019-06-27 11:14] bhalevy commented on #4181
@slivne no, hit once and never reproduced.  We also didn't find any valid way this could have happened by the existing code, so this might have been a spurious memory corruption.  I suggest closing this issue until reproduced.

[2019-06-27 12:37] tgrabiec commented on #4530
@virenderdubey  Did you remove all sstables from disk when you upgraded?

You can find the RPMS for https://github.com/tgrabiec/scylla/tree/verify-monotonicity-3.0.7 here:
http://scratch.scylladb.com/tgrabiec/scylla-server-3.0.7-0.20190627.498bf01.el7.x86_64.rpm
http://scratch.scylladb.com/tgrabiec/scylla-debuginfo-3.0.7-0.20190627.498bf01.el7.x86_64.rpm

Scylla will abort sooner, when the bad sst

[2019-06-27 12:55] glommer commented on #4588
@avikivity there is another way I thought that we could do this:

sort the existing tables with idle work according to their backlog.
Compact the table with the lowest backlog.

This way we guarantee that in case we're idle, we do the least amount of work possible

[2019-06-27 13:07] denesb commented on #4561
I have failed to reproduce this on 3.0.7. What I tried:
* Write some data into a keyspace (RF=2).
* Start reads, make sure load is high (>75%).
* Alter the table, add map column.

[2019-06-27 13:30] syuu1228 commented on #4356
@slivne On branch-3.1 / master we just dropped scylla-ixgbevf and scylla-ena, use the driver on kernel-ml:
https://github.com/scylladb/scylla-ami/commit/45172331ed690a0a87fb4bf94e6fa51b61f58cb0
On branch-3.0, we should backport same patch but looks like we haven't do that.
@avikivity could you merge https://github.com/scylladb/scylla-ami/commit/45172331ed690a0a87fb4bf94e6fa51b61f58cb0 to branch-3.

[2019-06-27 14:03] bhalevy opened #4616 "repair_with_down_nodes_2b_test fails assertEqual(len(result), 2000)"
Starting [dtest-release/159/testReport/repair_additional_test/RepairAdditionalTest/repair_with_down_nodes_2b_test](http://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/159/testReport/repair_additional_test/RepairAdditionalTest/repair_with_down_nodes_2b_test/)
Scylla version 94d2194c771dfc2fb260b00f7f525b8089092b41
[code]

Nodes logs [here](http://jenkins.scylladb.com/view/ma

[2019-06-27 14:04] bhalevy commented on #4616
@asias can you please into this issue?

[2019-06-27 14:09] asias commented on #4616
I will take a look tomorrow.  Does this fail consistently?

[2019-06-27 14:10] bhalevy commented on #4382
Still hitting this quite regularly. For example, [dtest-release/160/testReport/materialized_views_test/TestMaterializedViews/mv_populating_from_existing_data_during_node_restart_test](http://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/160/testReport/materialized_views_test/TestMaterializedViews/mv_populating_from_existing_data_during_node_restart_test/):
[code]

Node logs

[2019-06-27 14:14] #2687 closed

[2019-06-27 14:16] bhalevy commented on #4382
Ref scylladb/scylla-dtest#895

[2019-06-27 14:36] bhalevy commented on #4616
Thanks.  Yes. it failed 2 times consecutively on Jenkins dtest-release, and it fails for me locally the same way.  I used the following command (scylla built with dbuild, otherwise just use `nosetests -s -v`):
[code]

[2019-06-27 14:43] bhalevy commented on #4616
Maybe we need to retry...

[2019-06-27 14:52] zgbgx commented on #4608
version 3.0.7
RF 1

[2019-06-27 14:53] bhalevy commented on #4616
Weird.  With the following patch:
[code]

I got the following results:
[code]

[2019-06-27 15:54] tgrabiec commented on #4315
@slivne I think it's not related.

[2019-06-28 00:39] zgbgx commented on #4608
version 3.0.7
RF 1

[2019-06-28 00:40] zgbgx commented on #4604
this is the node health check report
[code]
now, one single node read latency is high
if read data all from disk,and don't hit cache,the single node read qps only 20k

[2019-06-28 04:58] denesb commented on #2687
What remains to be addressed (after https://github.com/scylladb/scylla/commit/dd769431259ddfea6b7523e45635e643fa11ef58) is memtable flush. Currently we have no mechanism (that I know of) that would initiate a memtable flush on window boundaries, so we depend on window size and workload combination for correctness here. Of course the stakes are a lot lower than in the case of streaming. In the wors

[2019-06-28 05:02] denesb opened #4617 "TWCS: flush memtable on window boundaries"
Currently we have no mechanism (that I know of) that would initiate a memtable flush on window boundaries, so we depend on window size and workload combination to produce sstables containing a single time-window.

There are two solutions:
1) Have a timer that initiates a flush on window boundaries.
2) Wire the flush writer through the timestamp based splitter.

I think (2) is much better as it doe

[2019-06-28 05:04] denesb commented on #3458
#2687 was merged. Is this issue still relevant?

[2019-06-28 05:07] denesb opened #4618 "TWCS: reshard sstables window-by-window"
Resharding can mess up the windows by merging windows together. We should reshard a single window at a time. Maybe this is already the case, @raphaelsc can you please clarify?

[2019-06-28 05:08] denesb commented on #4618
See: #2687

[2019-06-28 06:03] virenderdubey commented on #4530
@tgrabiec, nope, we didn't delete any sstable. We just drain the node and update the scylla via YUM.
For the schema migration if there is any, we rely on Compaction which write the new SSTable.

Will try with these RPMS and update you soon.

[2019-06-28 10:30] rohitanurag commented on #4383
Hi @tzach  I am using this version 3.0.7-0.20190528.4c16c1fe1.

Please find the logs

[shard 1] cql_server - request processing failed: std::runtime_error (Value too large, 131072 > 65535)
Jun 27 06:39:35 scylla-node1 scylla:  [shard 1] storage_proxy - Exception when communicating with 10.240.0.52: std::bad_alloc (std::bad_alloc)
Jun 27 06:39:35 scylla-node1 scylla:  [shard 0] batchlog_manager - E

[2019-06-28 12:44] syuu1228 commented on #4585
Sent "[PATCH scylla 1/2] dist: move /usr/lib/scylla symlink to scylla-compat package" to fix the issue.
@slivne This is not related with 3.1, only master

[2019-06-28 12:46] syuu1228 commented on #4585
@slivne both #4585 and #4611 is caused by f582a759ee3, but another issue.
Also #4605 is caused by f582a759ee3.

[2019-06-28 12:51] #4605 closed

[2019-06-28 12:52] syuu1228 commented on #4611
Patch posted to ML: "[PATCH scylla 2/2] dist: randomize scylla.old directory name"

[2019-06-28 19:59] slivne opened #4619 "nodetool getssstbales is broken"
version 3.0.7

[code]

Yet the operation via rest apii is working

[code]

[2019-06-28 19:59] slivne commented on #4619
@amnonh lets add the dtest that we are missing to make ssure it stays working :)

[2019-06-29 07:17] avikivity commented on #4366
It looks like #3878, but that is fixed in 3.0.

[2019-06-29 07:20] avikivity commented on #4366
It's probably a random hit on port 9042, if the first byte starts with 1-4 then we'll accept that frame and read a randomly sized buffer.

[2019-06-29 07:42] avikivity commented on #4366
@roydahan fix your firewall!

[2019-06-29 08:07] roydahan commented on #4366
We just did last week.
Shouldn’t authentication also block such kind of things?

[2019-06-29 08:09] avikivity commented on #4366
This happens before authentication.

[2019-06-29 10:14] oswcab opened #4621 "Broken Docker images in next-3.1 and master branchs"
In master branch building and running RedHat/CentOS Docker image gives this result:

[code]

Ubuntu Docker image in the same branch fails with this error:

[code]

Apparently related to this commit:
`
f582a759ee3 dist: merge /usr/lib/scylla to /opt/scylladb
`

which makes sense given that when doing _docker exec -it_ into the container shows that the _scripts_ folder dos not exist under _/opt/scyl

[2019-06-29 15:13] #4612 closed

[2019-06-30 07:07] slivne commented on #4615
@bentsi any reproducer so we can check whats going on ?

[2019-06-30 07:59] fgelcer opened #4622 "disrupt_nodetool_refresh fails with error sstables::malformed_sstable_exception on 3.1"
it was observed during longevity 4h (multiple times) for scylla 3.1.

latest seen on [job from June 26th](https://jenkins.scylladb.com/view/scylla-3.1/job/scylla-3.1/job/longevity/job/longevity-100gb-4h/25/)

tar ball with files to be loaded to the DB attached.

the nemesis executes those steps:

1. download the file from S3 [keyspace1.standard1.tar.gz](https://github.com/scylladb/scylla/files/334

[2019-06-30 08:07] eliransin opened #4623 "Different behavior between scylla 3.0 and master in materialized views load"
We ran the same test (2 materialized views with hinted hand off turned off) and experienced different behavior that we can't account for.
Similarities:
1. both runs achieved similar throughput and latency, ~4K ops/s.
2. although mv backpressure is the target of the test, it didn't seam to make a difference,
it seams that the real limiter in bot runs was the background writes queue size (which
forc

[2019-06-30 08:12] eliransin commented on #4623
@nyh @slivne this is the issue I opened to the backpressure testing, need your help to see it is clear enough so we can continue handling this.

[2019-06-30 08:17] eliransin commented on #4226
on it.

[2019-06-30 08:57] nyh commented on #4623
@eliransin yes, I think your description is clear enough - thanks for doing the tests and summarizing these results. What is less clear is why this happens :-(

[2019-06-30 09:38] slivne commented on #4519
pushed to next-3.1

[2019-06-30 09:39] #4519 closed

[2019-06-30 09:40] #4558 closed

[2019-06-30 09:42] slivne commented on #4416
@amnonh lets add also a dtest for this to make sure it stays working

[2019-06-30 11:20] juliayakovlev opened #4624 "Version 3.1 - Coredump with "Failed to allocate 851968 bytes" error during large partition test"
*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190624.433cb93f7
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ac07c9630d9e4eea

During large partition longevity received coredump (same twice) after "Failed to allocate 851968 bytes" error:
[code]

Decoded:
[code]

Test runs scylla-bench workloads:
[code]

Test still running but node with coredum

[2019-06-30 11:59] eliransin commented on #4226
I couldn't reproduce locally even not with a branch of dtest which is deated to when the original issue was opened.
I couldn't find anywhere in the code a reason why this specific column value will be missing. The column value is always assigned - in the code at least. They are all written together so there is no reason that some of them will have values while others don't. But the fact is that it

[2019-06-30 12:24] fgelcer commented on #4564
i have succeeded to receive the alert, hence closing this ticket.

[2019-06-30 12:24] #4564 closed

[2019-06-30 13:05] lewisdiamond opened #4625 "Docker Image -- Allow passing all options"
Add non-explicit support for any options to the docker image. Ideally, all options should be available from environment variables, yaml config as well as command-line. The docker entrypoint python script should also allow passing any options down to scylla without requiring explicit support for it.

[2019-06-30 13:43] juliayakovlev opened #4626 "Version 3.1: Reactor stalls during modifying table (large partition test)"
*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190624.433cb93f7
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ac07c9630d9e4eea

A lot of reactor stalls happened during modify table nemesis while large partition longevity test.

Test uses scylla-bench to create large partitions.
Scylla-bench command:
[code]
Jenkins job: [large partition job](htt

[2019-06-30 14:39] juliayakovlev commented on #4615
It happened again during MV-SI test.
The "semaphore_timed_out" messages started during hard reboot nemesis.
Later found also a lot of " std::runtime_error (**sstable read queue overloaded**)" errors:
[code]
Jenkins job: [job log](https://jenkins.scylladb.com/view/scylla-3.1/job/scylla-3.1/job/longevity/job/longevity-mv-si-4days/7/console)

[2019-07-01 02:27] asias opened #4627 "Allow seed node to bootstrap"
Seed node does not bootstrap, i.e., stream data from other node, is a
legacy behaviour from Apache Cassandra. User might be surprised that
there is no data on the new node after adding the new node.

It is part of the effort to reduce the seed node difference.

[2019-07-01 05:40] fruch commented on #4615
This is happening also in the 200gb longevity,  after major_compaction or restart_and_repair nemesis.

[2019-07-01 06:48] amnonh commented on #4416
There is already a test for it, maybe nodetool tests are not running?

[2019-07-01 07:41] fanzhenhua0401 commented on #4573
I am watching this also.

[2019-07-01 12:55] syuu1228 opened #4630 "undefined reference to 'rte_kvargs_parse_delim' and 'rte_kvargs_free' on utils/gz/gen_crc_combine_table, after DPDK-19.05 patch merged on Seastar"
After we merged DPDK-19.05 patch on Seastar, Scylla build causes missing symbol.

[code]

[2019-07-01 12:56] syuu1228 commented on #4630
https://github.com/scylladb/scylla/commit/28a514820d980adc7af068e951f24e762fd05681 fixed it.

[2019-07-01 12:56] #4630 closed

[2019-07-01 14:46] raphaelsc commented on #4228
@amnonh if you go to scylla-jmx's src/main/java/org/apache/cassandra/metrics/CompactionMetrics.java, you'll see the following:                 map.put(cf, (int)(c.getJsonNumber("total").longValue() - c.getJsonNumber("completed").longValue()));

that's not getting the pending tasks for the column family, that's getting the number of keys left to be compacted.

[2019-07-01 15:58] nyh opened #4632 "Single-node boot is slow"
When I start a single Scylla node for tests (dev build), it takes a surprisingly long amount of time, e.g., in one run it took 37 seconds:
[code]

This 37 second delay is not the end of the world, of course, but it's also quite annoying for interactive development - and I'm sure user's don't appreciate unnecessary delay as well.

This measurement is for booting without existing data, only one shar

[2019-07-01 20:10] amnonh commented on #4228
ok, now I got what you mean, it used to work with: PendingTasks which is correct, but it's no longer the case

[2019-07-01 20:14] amnonh commented on #4228
BTW, I'm not sure why the compaction struct does not return the real total and completed values

[2019-07-01 23:26] #2517 closed

[2019-07-02 01:41] amoskong commented on #4057
@slivne @tzach  It seems the patch isn't backported to branch-3.1

[2019-07-02 02:23] asias commented on #4616
Reproduced with both partition level and row level repair with scylla master commit 2d3e3640df34df4cc086f976262994c9bf5d563e. It is commit bb5665331cbf7df1eb85b8ca70e44d1dea0e6110 (repair: Sync schema from follower nodes before repair) that has changed the behaviour of handling down node during repair.

[2019-07-02 06:22] #4366 closed

[2019-07-02 06:49] haaawk opened #4633 "Implement abstract_type::to_string() for all types."
Large cell/row detector prints out values of cells and when to_string() for a type is not implemented it crashes.

[2019-07-02 07:34] amnonh commented on #4228
We need Scylla support for this. It's not practical to use the API to query all keyspace/cf sequentially.

[2019-07-02 07:35] amnonh opened #4634 "Need an API to return all pending taks by keyspace/table"
See #4228

[2019-07-02 07:42] asias commented on #4616
Patch is posted: https://github.com/scylladb/scylla/pull/4635

[2019-07-02 07:54] juliayakovlev opened #4636 "Version 3.1 - "lsa - Aborting due to allocation failure" - coredumps during large partition longevity"
*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190630.acff367ea
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-08f0f9bd6c5f677fb

Large partition longevity: found 2 coredumps. I am not sure if they are same or not.

Error before coredumps:
[code]

It happened on different nodes.

Coredump 1
[code]
Coredump 2:
[code]

Coredumps are uploaded:
[code

[2019-07-02 07:56] juliayakovlev commented on #4626
Reproduced with ami-08f0f9bd6c5f677fb (3.1.0.rc2-0.20190630.acff367ea)

[2019-07-02 08:52] mailmahee opened #4638 "scylla_setup is throwing errors while run on i3en instances"
*Installation details*
Scylla version: 3.0.8
Cluster size: 2 i3en.6xls
OS (RHEL/CentOS/Ubuntu/AWS AMI): centos 7
Platform (physical/VM/cloud instance type/docker): AWS

[code]

[code]

ENA support is enabled for these instances already

[code]

[2019-07-02 08:53] mailmahee commented on #4638
looks like the script is looking for `en` instead of `ena` here: https://github.com/scylladb/scylla/blob/scylla-3.0.8/dist/common/scripts/scylla_ec2_check#L45

[2019-07-02 08:55] slivne commented on #4638
3.0.8 doesn't support i3.en out of the box - this was added only to the
upcoming 3.1 release and to the 2019.1.X releases

On Tue, Jul 2, 2019 at 11:53 AM vanguard_space <notifications@github.com>
wrote:

[2019-07-02 12:27] glommer commented on #2517
Just to make it clear: If I read the patch correctly, this is still not enough to change seastar properties, like the block detector threshold.

Correct?

[2019-07-02 12:32] glommer commented on #4638
@slivne if ena really is the issue, how is this specific to i3en? i3.metal uses ENA as well, as does any i3.

This is a new bug, if it is really is related to that.

[2019-07-02 12:34] glommer commented on #4638
However @mailmahee now that I read the code Shlomi is correct.

The script is not looking for `en`. That's just the name of the variable, it could be anything, including `mahee`

That variable gets the result of a function, that in turn scans for a list of supported instances:

[code]

That has to list i3en explicitly. Please bypass that by not calling the `ec2_check` stage for enhanced networking

[2019-07-02 12:34] #4638 closed

[2019-07-02 12:49] slivne commented on #4623
Ok read this through

1. I hope you have the metrics so we can show gleb when he is back and ask
for advice

2. Its bad ... e.g. 2019.1.X is based on 3.0 and its clear its broken - so
we will need to fix it.

3. One way to find when it started to mess up is todo a bisect a big one
between the AMI's we have collected and then figure out the range that may
have the fix - but lets keep this after we

[2019-07-02 14:58] elcallio opened #4640 "Extension iteration in commitlog.cc is unnecessarily complicated and in wrong order for RO case"
It should be like in sstables.cc, simple and succinct. Also, ro-open iterates in backwards order, which both creates a reverse view that seem to cause (erroneous) use-after-free ASAN errors in debug mode, but more to the point not create correct extension stack should more than one exist.

[2019-07-02 17:51] mailmahee commented on #4638
Thanks @glommer @slivne - we resolved the issue with the customer.

[2019-07-02 21:10] espindola commented on #4564
For the record, what was the issue?

Cheers,
Rafael

fgelcer <notifications@github.com> writes:

[2019-07-03 00:36] #4640 closed

[2019-07-03 07:20] tzach opened #4641 "Marshalling error of date in Scylla, works in Cassandra"
Scylla version (or git commit hash): 3.0.8
OS (RHEL/CentOS/Ubuntu/AWS AMI): Docker

The following work with Cassandra 3.11 but not Scylla
[code]
Note the Z in the date is reported is in low case, altho the input is upper case
Cassandra does not accept low case either.

[2019-07-03 07:26] tzach commented on #4641
https://github.com/scylladb/scylla/blob/master/types.cc#L885

[2019-07-03 08:02] fgelcer commented on #4564
I have made many changes to the table creation, data population and the test itself. I have also updated to use a newer version of scylla (I'm not sure what exactly fixed the issue, but with all those changes put together, I was able to see the logs and sstable entries.

[2019-07-03 08:29] asias opened #4642 "Fix possible stalls in row level repair"
After switching to rpc stream interface, we increased the row buffer
size. Code works on the buffer that do not yield can stall the reactor.
We should futurize or run the code in thread and yield.

[2019-07-03 14:00] amoskong opened #4647 "schema sync issue in terminate_replace nemesis"
*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190630.acff367ea
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-08f0f9bd6c5f677fb

Test job: http://jenkins.scylladb.com/job/scylla-3.1/job/longevity/job/longevity-50gb-4days/6/
test id: 179c22c3-f980-4bc2-a8bb-761e7254b19c （the living cluster can be found in eu-west-1 by searching with test id)

In terminate_and_repla

[2019-07-03 14:13] roydahan commented on #4647
@amoskong please filter out the SCT behaviour from the issue, and report exactly the scylla issue.

[2019-07-03 14:14] amoskong commented on #4647
all db logs:
[db_log.tar.gz](https://github.com/scylladb/scylla/files/3355329/db_log.tar.gz)

longevity-tls-50gb-4d-3-1-db-node-179c22c3-1 [34.244.72.160 | 10.0.226.255]
longevity-tls-50gb-4d-3-1-db-node-179c22c3-2 [54.246.204.81 | 10.0.206.156]  (terminated node)
longevity-tls-50gb-4d-3-1-db-node-179c22c3-3 [54.194.0.179 | 10.0.64.243]
longevity-tls-50gb-4d-3-1-db-node-179c22c3-4 [34.247.81.11 |

[2019-07-03 15:03] fgelcer opened #4648 "Failed to apply mutation - std::_Nested_exception<schema_version_loading_failed> during restart_then_repair_node"
the job running is longevity 3h for 3.1, and for some reason, after the restart it failed to execute the repair

[code]

running with ami-084c44c9c845351bb (us-east-1)
[log from the node that had the failure](https://github.com/scylladb/scylla/files/3355560/database.log). if other node's logs are needed, they can be found on [here](https://cloudius-jenkins-test.s3.amazonaws.com/8dc6cdf6-d2af-43cf-

[2019-07-03 15:04] amoskong commented on #4647
The cluster had 6 nodes at the beginning:
[code]

10.0.206.156 node was removed from AWS, then a new node (10.0.175.197) was added to replace old node (10.0.206.156), but the new node failed to JOIN and to be up in 6 hours.

@tgrabiec

test id: 179c22c3-f980-4bc2-a8bb-761e7254b19c （[the living cluster can be found in eu-west-1 by searching with test id](https://eu-west-1.console.aws.amazon.com/ec2

[2019-07-03 15:41] Mepherotus opened #4649 ""seastar_memory - oversized allocation" on version 3.0.8-0.20190627.23da53c4f"
Hi guys, i thought that it was a solved issue but I still experience it on version:
3.0.8-0.20190627.23da53c4f (ubuntu 18.04 minimal trough the repo)
during a repair

Jul 03 17:34:50 Ubuntu-1804-bionic-64-minimal scylla[29790]:  [shard 11] seastar_memory - oversized allocation: 5275648 bytes, please report: at   0x59bcae
                                                               0x527b47

[2019-07-03 16:12] roydahan commented on #4648
Worth mentioning, it happened on a node that was trying to replace a dead node (itself in this case).
And eventually the schema version was synced and the node started successfully.

@fgelcer I don't see where the repair failed.
I see:
`nodetool -h localhost repair" finished with status 0`

[2019-07-03 16:17] tgrabiec commented on #4648
Looks like a bootstrapping node receives writes from a coordinator before it completes bootstrap, before it syncs the schema. That's why keyspace definition is not found (that should be fixed as part of  https://github.com/scylladb/scylla/issues/3760).

The fact that coordinators contact a bootstrapping node is a bug, we should not allow this.

[2019-07-03 23:04] slivne opened #4650 "Scylla causes java-driver to fetch all keyspace tables/views/columns/etc"
how to reproduce

*  ```docker run --name some-scylla-3-0-8 -d scylladb/scylla:3.0.8```
* ```tools/bin/cassandra-stress write duration=1h -schema keyspace="ks"  -rate threads=1 fixed=1/s -node 172.17.0.2```
* ```run sudo tshark -i docker0 -w /tmp/scylla_mv.cap ```
* ```docker exec -it some-scylla-3-0-8 /bin/bash ```, ```cqlsh```
[code]
* sleep 60
[code]
![events](https://user-images.githubusercont

[2019-07-04 05:13] denesb commented on #4649
Oversized allocation warnings are not general, each warning has to be investigated individually. Thus it cannot be solved for good. New instances can pop up as new code is added and old instances can reappear.
To be able to link these to a concrete issue we need resolved backtraces. Please resolve the backtraces. See https://github.com/scylladb/scylla/wiki/How-to-resolve-backtrace on how that can

[2019-07-04 06:32] meox commented on #1387
any update?

[2019-07-04 07:34] psarna commented on #4650
Generating both create view and update table mutations origins from the commit that introduced view mutations: 2098c336d99. The commit message explicitly says:
[code]
Perhaps C* did not consider this issue or has another mechanism that prevents it, or their code is not sensitive to this problem by design. The simplest solution seems to be simply dropping the additional `UPDATE TABLE` mutation. Thi

[2019-07-04 08:58] nyh commented on #4650
@psarna I reviewed code you pointed to, and I think the problem is probably not in this code. Let me explain:

Indeed our code deliberately adds the keyspace mutation and not just the actual view and its base table. This keyspace mutation supposedly (?) leads the driver to think it needs to re-read the entire keyspace (which is pretty stupid thing for it to do, by the way!).

This code was reorgan

[2019-07-04 09:05] avikivity commented on #4624
Without the code dump, there is nothing we can do. Anyway this isn't a regression, yes?

[2019-07-04 09:07] psarna commented on #4650
@nyh I'm fine with including the **keyspace**, but we include a **base table** update, which is not what Cassandra does - it simply generates a single "view created" event. And my hypothesis is that since it seems like the only thing we do differently, it may be the reason of this excessive fetching.

[2019-07-04 10:13] nyh commented on #4650
@psarna including the base table shouldn't be any different than actually creating a new base table - in both cases, the client shouldn't need to read the entire table, just this specific new table. This is why I don't see how the problem can be the fact we include the base table.

[2019-07-04 10:15] kbr- opened #4651 "Add warning support in Scylla's implementation of the native protocol"
The CQL binary protocol v4 adds support for server-side warnings:
https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec
It would be useful to extend cql_server implementation with a convenient API to add warnings to the response messages. This would help with issues such as #4481.

If I understand correctly, Scylla claims to support protocol v4, from transport/server.hh:
[code

[2019-07-04 10:20] psarna commented on #4650
I don't see a direct cause-and-effect pattern here either, but I'm in the middle of checking if removing this additional event from out code results in less fetching :) It won't give us the solution right away, but it could at least discard my hypothesis if the excessive fetching will still be present.

[2019-07-04 10:24] nyh commented on #4650
I'm trying to figure out now (I have absolutely no familiarity with this area of the code) how Scylla notifies the driver that something has changed. Not other Scylla nodes, but the user's driver. Anyone know where I should look?

[2019-07-04 10:52] nyh commented on #4650
It seems there is separate code to notify the client (not other nodes) about schema change. At the end of `create_view_statement::announce_migration()` we have:
[code]
If I understand correctly, this is the event that should be sent to the clients, not an event that the entire keyspace (or even the base table) changed. So where to they get the idea to read the entire keyspace (that would be target

[2019-07-04 11:12] tzach commented on #4625
@penberg ?

[2019-07-04 12:43] psarna commented on #4650
I can confirm for 100% of my tries that our additional base table update is responsible for these broad `SELECT * FROM system_schema.tables WHERE keyspace_name = 'ks'` queries. If I remove it, all queries generated by the driver are table-specific, i.e. `SELECT * FROM system_schema.tables WHERE keyspace_name = 'ks' AND table_name = 'tb'`.
I don't yet know **why** the table update triggers the driv

[2019-07-04 12:58] tgrabiec opened #4652 "Node properties are null in system.peers in some cases"
Scylla version: 3.1.0.rc2-0.20190630.acff367ea

I observed a discrepancy between gossip info in memory and in system.peers for one of the nodes:

[code]

[code]

[code]

Not sure what conditions led to this. Other nodes have full info for 10.0.250.129.

[2019-07-04 13:04] pdziepak opened #4653 "lsa: invalid memory accesses caused by `align_up_for_asan()`"
Since e071445373f3587d4f4656eb7d1fa66985b4616d (Merge "More precise poisoning in logalloc" from Rafael) LSA, in debug mode, requires objects to be aligned at 8-byte boundary so that it can maximise the coverage that AddressSanitizer provides. LSA, being an allocator is doing some pointer arithmetic, and where there's pointer arithmetic there are bugs.

In particular, `align_up_for_asan()` allowed

[2019-07-04 13:28] nyh commented on #4650
Some more clues discovered by @psarna and myself:

It turns out that following Shlomi's instructions, the bug cannot reproduced with just cqlsh - wireshark shows me all the queries that cqlsh make when the view is created are limited to the specific tables changed (the base and view). @psarna noted you must run **cassandra-stress** in parallel to reproduce this bug!

Since cqlsh uses the Python dr

[2019-07-04 13:35] psarna commented on #4650
Ref: https://docs.datastax.com/en/developer/java-driver/4.0/manual/core/metadata/schema/
Look for `datastax-java-driver.advanced.metadata.schema.refreshed-keyspaces`. It's possible that the base table update which we generate additionally to the view creation triggers refreshing the schema metadata, which, if not explicitly changed in the config, refreshes its information per-keyspace. That would

[2019-07-04 13:54] bentsi commented on #4624
It happened on 3.0.8 too.

[code]
Decoded backtrace:
[code]
after that Scylla restarted and coredumped during replay of the commitlog
[code]

[code]

[2019-07-04 14:01] bhalevy commented on #4653
Cc @espindola

[2019-07-04 14:03] tgrabiec commented on #4647
Events related to 10.0.64.243 on the bootstrapping node:
[code]

The bootstrapping node unblocks when 10.0.64.243 goes down:
[code]

DOWN nodes are ignored for schema agreement so this suggests that the schema disagreement was due to 10.0.64.243. Checking the logs of 10.0.64.243, I can see that it had the same schema version as the bootstrapping node since the beginning of bootstrap:

[code]

One

[2019-07-04 14:19] bentsi commented on #4624
same happened on another run of 3.0.8:
[code]

[2019-07-04 14:25] tgrabiec commented on #1387
`mutation_partition::do_compact()` is no longer used during sstable compaction since c2f0ee9b5f1f58943aa2a0ad26263be95fb57c17, and this issue no longer applies to sstable compaction.

`do_compact()`, which still has the problem, is still used during reconciliation of query results on the coordinator side.

[2019-07-04 15:22] juliayakovlev commented on #4624
I attached coredump in the file, may be it's help?

[2019-07-04 15:25] nyh commented on #4650
The datastax driver is driving me crazy (pun intended). Every place I can find in the code, it seems to always to refresh the entire keyspace instead of just the table it got the event for.

For example in ControlConnection.java, there is:
[code]
and then
[code]
So a SCHEMA_CHANGE event in the control connection (a separate connection the driver keeps to Scylla), of any kind - even if just one tab

[2019-07-04 16:27] slivne commented on #4650
Thanks

Please note that when we create a secondary index the expected behaviour
acvording to the cql bimary protocol is to send a schema chanhe update for
the base table

Since in scylla we create an mv table, we will generate the mv table
ceation event as well

Maybe the solution is not to send the events adjacent (in the same packet)
....

On Thu, Jul 4, 2019, 18:25 nyh <notifications@github.co

[2019-07-04 19:52] tgrabiec commented on #4647
@amoskong What we could also do to get more insight is to run Scylla servers with debug level for `migration_manager` logger.

[2019-07-04 21:36] espindola commented on #4653
In general yes, the alignment could make pos == segment::size.

But in this code, close_active should always creates a last element that ends exactly at the end of the segment, no?

What is the best way of reproducing the issue, apply  #4643 again?

[2019-07-04 22:59] amoskong commented on #4647
I will reproduce the problem, enable migration_manager debug, and provide
the gossipinfo in stuck

On Fri, Jul 5, 2019 at 3:52 AM Tomasz Grabiec <notifications@github.com>
wrote:

[2019-07-05 00:51] asias commented on #4647
I saw similar issue with bootstrap a node node.
n1, n2 with a user keyspace myks2 with rf = 2.
When bootstrap n3, I saw:
[code]
scylla commit: fca1ae69ff63f30809d4277dec5ae6d0f4c2ca5a

[2019-07-05 01:04] asias commented on #4647
With this patch:
[code]
the issue is gone.

[2019-07-05 12:58] asias opened #4655 "nodetool cleanup does not invalidate the cache"
In simple_decommission_node_2_test dtest,  it does the following
[code]
I saw this test fails with the repair based decommission which does not explicitly invalidate the cache.

It turns out it is probably a bug in nodetool cleanup which does not invalidate the cache.

From Tomek in the discussion on mail list thread: "[PoC scylla v1 1/2] streaming: Introduce STREAM_INVALIDATE_CACHE"
[code]

[2019-07-05 13:06] asias commented on #4655
@raphaelsc @tgrabiec

[2019-07-05 21:05] amoskong commented on #4647
I just reproduced this issue by job: http://jenkins.scylladb.com/job/scylla-staging/job/amos/job/longevity-50gb-4days/4/

Test id: b453a89d-bf5e-442a-8e23-c5fdbc2372ca
[Living cluster link](https://eu-west-1.console.aws.amazon.com/ec2/v2/home?region=eu-west-1#Instances:search=b453a89d-bf5e-442a-8e23-c5fdbc2372ca;sort=tag:Name)

[code]

[2019-07-05 21:34] amoskong commented on #4647
The new node keeps raise message:
[code]

10.0.184.92 is the seed node.

[code]

[nodetool-describecluster-on-existing-5-nodes.txt](https://github.com/scylladb/scylla/files/3364050/nodetool-describecluster-on-existing-5-nodes.txt)
[nodetool-gossipinfo-on-existing-5-nodes.txt](https://github.com/scylladb/scylla/files/3364051/nodetool-gossipinfo-on-existing-5-nodes.txt)

The schema version in `nodet

[2019-07-05 21:46] amoskong commented on #4647
[system_ks_of_seed_10-0-184-92.tar.gz](https://github.com/scylladb/scylla/files/3364076/system_ks_of_seed_10-0-184-92.tar.gz)
[scylla-ALL-data_hang_new_node.tar.gz](https://github.com/scylladb/scylla/files/3364077/scylla-ALL-data_hang_new_node.tar.gz)

[2019-07-05 21:57] amoskong opened #4657 "failed to install scylla-gdb for python34 dependency"
*Installation details*
Scylla version (or git commit hash): scylla-3.1.0.rc2-0.20190630.acff367ea.el7.x86_64
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

* Description:
Failed to install scylla-gdb on CentOS7 by yum.

[code]

[2019-07-05 22:09] amoskong commented on #4647
get coredump of hang node (new added node-9):

[code]

The coredump of hang node had been uploaded to
https://console.cloud.google.com/storage/browser/upload.scylladb.com/scylla_issue_4647_7ca7b454-dc3e-4070-8fcf-3a5f14794ff0/?project=upload-179716&authuser=0
(private link)

[2019-07-05 22:39] amoskong commented on #4657
Finally successfully installed scylla-gdb after installed EPEL first.

`sudo yum install -y epel-release`

[2019-07-05 22:40] #4657 closed

[2019-07-06 19:23] #4581 closed

[2019-07-06 19:23] #4633 closed

[2019-07-06 20:07] slivne commented on #4650
Well the driver does an optimization coalscing two events into a single one

[code]

setting the cassandra-stress logging you can see that

[code]

So it seems to me that if we change the cluster configuration
https://github.com/datastax/java-driver/blob/3.5.x/driver-core/src/main/java/com/datastax/driver/core/Cluster.java#L1516

and have it
https://github.com/datastax/java-driver/blob/3.5.x/drive

[2019-07-06 20:11] slivne commented on #4650
And it does

[code]

[code]

So the driver does optimization for coalscing refreshing and that causes a greater pull than it should

[2019-07-06 20:17] slivne commented on #4650
Just to provide the full info here are the traces at wireshark level

![dy_event_2](https://user-images.githubusercontent.com/3465480/60760794-1ca05280-a044-11e9-9a8a-f1aa4c5eb4b5.png)

![dy_query_2](https://user-images.githubusercontent.com/3465480/60760793-1ca05280-a044-11e9-9ac8-e9c03cef1170.png)

[scylla_mv2.cap.zip](https://github.com/scylladb/scylla/files/3364987/scylla_mv2.cap.zip)

[2019-07-07 05:25] juliayakovlev commented on #4636
@avikivity  Avi, do you need this cluster or I can remove it?

[2019-07-07 08:42] slivne commented on #4655
@tgrabiec AFAIK  the cache should not be invalidated by cleanup - but when we transfer the range back to the node on decommission - no ?

[2019-07-07 08:44] slivne commented on #4655
@tgrabiec assigning this to you to comment - not sure you need to handle

[2019-07-07 08:46] slivne commented on #4652
@roydahan can we add this to SCT to check nodetool gossipinfo / select from system.peers and detect this.

[2019-07-07 08:51] slivne commented on #4650
@nyh / @psarna - it would be better to align with cassandra on event generation, is it possible ?

In any case we have a workaround (solution?) for client side config change.

[2019-07-07 08:53] slivne commented on #4648
@tgrabiec so its clear this is not a regression - right ?

[2019-07-07 08:55] slivne commented on #4647
@tgrabiec I assume this is a regression

[2019-07-07 08:59] slivne commented on #4636
I expect we had failures on allocation (bad_alloc) also on 3.0 runs of the large partition longevity - if we have those jobs logs - can we validate that @juliayakovlev

We have changed SCT to boot scylla with additional flags to abort on failure to allocate - as such (given the above) this is currently not a blocker.

@juliayakovlev can you please upload the coredumps and the logs.

Given that you

[2019-07-07 09:05] slivne commented on #4626
This is related to https://github.com/scylladb/scylla/issues/2577

Closing this issue as its a duplicate for the above.

[2019-07-07 09:05] #4626 closed

[2019-07-07 09:09] slivne commented on #4623
@gleb-cloudius we will need your help / input here

[2019-07-07 09:14] slivne commented on #4621
@oswcab - the image on dockerhub (centos) works, are you trying to use a newer version than 3.1.0.rc2 ?

[2019-07-07 09:15] slivne commented on #4619
@amnonh - is this fixed (without the hex format)

[2019-07-07 09:17] slivne commented on #4616
@bhalevy the patch was merged can we close this ?

[2019-07-07 09:23] slivne commented on #4611
is this relevant for 3.1 as well ?

[2019-07-07 09:28] slivne commented on #4608
please check the configuration file under /etc/scylla.d/  (that are created in installation /scylla_setup)

if the HW is the same the configuration files should be the same as well - are they ?

Since you are using RF=1 it could be that the load on the nodes is different (e.g. one is hit with more requests than other)

Please provide more metrics (screenshots of all dashboards)

[2019-07-07 09:29] slivne commented on #4606
@bhalevy is this fixed ?

[2019-07-07 09:29] slivne commented on #4606
@bhalevy is this a regression ?

[2019-07-07 09:32] slivne commented on #4600
@nyh / @psarna  - whats you take on this ?

[2019-07-07 09:36] amnonh commented on #4619
@slivne Two PR are waiting to be merged

[2019-07-07 09:38] slivne commented on #4597
To summarize this is not a bug - closing the issue

[2019-07-07 09:38] #4597 closed

[2019-07-07 09:39] slivne commented on #4596
Since we haven't seen this after removing the automatic backtrace extractor - I am closing this.

[2019-07-07 09:39] #4596 closed

[2019-07-07 09:43] juliayakovlev commented on #4636
Links to coredumps, please, find in the issue description

Link to job.log archive ```https://cloudius-jenkins-test.s3.amazonaws.com/1aea54fe-c154-4724-b2a8-0972029f1704/job-2019-06-27T09.07-0118d6e.zip```

[2019-07-07 09:44] slivne commented on #4587
Closing this issue as there is no additional information - @aby005 we can reopen if you share info

[2019-07-07 09:44] #4587 closed

[2019-07-07 09:48] slivne commented on #4584
patch merged f0cd589a75a4e5c211b94a1e32aab8d90df32bc3

[2019-07-07 09:48] #4584 closed

[2019-07-07 09:52] slivne commented on #4571
@syuu1228 - we do not support ubuntu 14, is chrony installed by default ?

[2019-07-07 10:03] avikivity commented on #4636
@juliayakovlev just core dumps and logs, don't keep clusters alive for so long

[2019-07-07 10:18] eliransin commented on #4623
@slivne

I kept the monitors :)

[2019-07-07 10:25] slivne commented on #4416
@amnonh - the test is not running because of https://github.com/scylladb/scylla-dtest/blob/next/nodetool_additional_test.py#L1284

```    @require('#2167')```

please remove it check the test passes and then submit a pr

[2019-07-07 10:45] slivne commented on #2199
@amnonh can you please take a look at the timers parts

[2019-07-07 10:48] slivne commented on #1793
@elcallio ping ...

[2019-07-07 10:52] roydahan commented on #4652
Yes, we can add it as a nemesis that occasionally run both and compare.

[2019-07-07 10:54] juliayakovlev commented on #4636
[longevity_large_partitions_nodes_logs.tar.gz](https://github.com/scylladb/scylla/files/3365525/longevity_large_partitions_nodes_logs.tar.gz)

Links to the core dumps are in the issue description

[2019-07-07 11:04] slivne commented on #4652
@roydahan can we do it more aggressively - we need to find the bug .... I know we have nodetool status from time to time - can we add this two checks nodetool gossipinfo + select from system.peers

[2019-07-07 11:35] roydahan commented on #4652
We have nodetool status before and every after nemesis or cluster layout operation.
We can do that.
We also can do it in a fixed interval if we want...

[2019-07-07 12:02] psarna commented on #4650
Aligning with Cassandra is a simple patch that removes 3 lines - we just need to remove the additional update we introduced in 2098c33. The rationale of this patch seems reasonable though. If we prefer the Cassandra way, I can push the patch tomorrow, I have it ready anyway because I used it during my investigation.

[2019-07-07 12:07] psarna commented on #4600
I'll take a closer look tomorrow, but it does look like a (benign) error - wrong deinitialization order in our code - bookkeeping shouldn't be allowed to be updated once we already stopped the builder. So, it's probably better in the long term to fix it, instead of lowering its priority (although this one is indeed harmless).

[2019-07-07 12:35] ShlomiBalalis opened #4659 "malformed_sstable_exception after resharding and restarting one node"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190630.acff367ea
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-08f0f9bd6c5f677fb

Platform (physical/VM/cloud instance type/docker):aws

The following exception is occurring during longevity 7d (multiple times) for scylla 3.

[2019-07-07 12:46] bhalevy commented on #4659
@tgrabiec, it looks like this happened with the [fix](https://github.com/scylladb/scylla/commit/c9f488ddc202919b6464ea904670dc88fd9a6fb2) for #4510 in place.

[2019-07-07 12:48] bhalevy commented on #4659
@ShlomiBalalis does this longevity run include node upgrade?  What is the earliest version that was tested in this run? acff367ea8c6ff60ba5362e6923e275ae72c6891?

[2019-07-07 12:52] ShlomiBalalis commented on #4659
@bhalevy The run does not include any node upgrade

[2019-07-07 12:55] bhalevy opened #4660 "sporadic failures in TestMigrationUpgradeSSTables dtests"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): c987397e529a6f3838da37199ca277a48c

[2019-07-07 13:41] avikivity opened #4661 "toppartitions read can access storage after listener is removed, crashing"
There is no protection between removal of the data listener (at the end of a toppartitions query) and execution of the read path of the data listener, so the read path can access a removed listener, resulting in a crash.

[2019-07-07 13:55] bhalevy commented on #4606
@slivne no, the issue was always there.  It seems to depend on the file system holding broken symlink, where some file systems return the symlink file type in the directory entry when listing the directory and some don't.  In any case, the user-visible behavior is quite similar; the difference is only at the error message the user will see.

[2019-07-07 14:03] bhalevy commented on #4616
@slivne fix was dequeued due to incorrect Author header.
@asias please resubmit on mailing list (not sure what happened on github)

[2019-07-07 14:13] ShlomiBalalis commented on #4659
@bhalevy The zipped sstables are here:
gs://scratch.scylladb.com/balalis/data.tar.gz (google cloud)

[2019-07-07 15:53] bhalevy commented on #4507
The issue is with the tests, not with the system so closing this issue.

[2019-07-07 15:53] #4507 closed

[2019-07-07 19:57] slivne commented on #4650
after reading the comments in 2098c33 - lets leave this as it is for now (e.g. two events)

[2019-07-07 19:57] #4650 closed

[2019-07-07 20:13] #4606 closed

[2019-07-07 23:59] raphaelsc opened #4663 "Cleanup potentially mess up the sstable run structure"
*Installation details*
Scylla version (or git commit hash): fca1ae69ff63f30
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

After cleanup runs, sstable run structure is messed up because each cleaned sstable ends up receiving a sstable run identifier, meaning the table ends up with a new sstable run for each of them.

[2019-07-08 07:22] slivne commented on #4614
@bhalevy ping

[2019-07-08 07:23] slivne commented on #4356
backported as scylladb/scylla-ami@dee79e5fc4516d169c4e0378c2544e43cae6ff46

[2019-07-08 07:23] #4356 closed

[2019-07-08 07:25] slivne commented on #4211
@vladzcloudius was this fixed ?

[2019-07-08 07:26] #4181 closed

[2019-07-08 07:27] slivne commented on #4057
now its backported - closing the issue

[2019-07-08 07:27] #4057 closed

[2019-07-08 07:30] slivne commented on #4615
@roydahan / @bentsi / @fruch  - AFAIK you have run 3.0.8 longevities as well - did this reproduce - if not please provide Avi access and lets have him look at the two runs side by side to see if he can extract more info from a comparison.

[2019-07-08 07:31] slivne commented on #4585
based on @syuu1228 input moving this to 3.2

[2019-07-08 07:32] slivne commented on #4553
@veramine closing this issue

[2019-07-08 07:32] #4553 closed

[2019-07-08 07:32] slivne commented on #4355
@syuu1228 ping

[2019-07-08 07:33] slivne commented on #4311
closing this issue for now

[2019-07-08 07:33] #4311 closed

[2019-07-08 07:33] veramine commented on #4553
ok thanks

[2019-07-08 07:36] slivne commented on #4652
@roydahan so lets do this change - I need this deployed so we can find the bug

[2019-07-08 07:40] slivne commented on #4621
scylladb/scylla-jmx@f73da49f6218bea09b18d115f623bab2386a13fc is not part of 3.1 - moving this to 3.2

[2019-07-08 07:47] amoskong commented on #4585
Scylla 3.1 artifact-test jobs are all blue:
- http://jenkins.scylladb.com/job/scylla-3.1/job/centos-rpm-test/
- http://jenkins.scylladb.com/job/scylla-3.1/job/ubuntu-deb-18.04-test/
- http://jenkins.scylladb.com/job/scylla-3.1/job/ubuntu-deb-16.04-test/
- http://jenkins.scylladb.com/job/scylla-3.1/job/debian-deb-9-test/

Scylla-3.1 AMI-test: only one instance type failed for env issue (the others

[2019-07-08 08:09] slivne commented on #4660
@bhalevy what about sstables that are currently held for reading - they may remain ?

e.g. are the tests run on an idle system in which no active reads are happening - if so we need to find why we have old sstables remaining

[2019-07-08 08:11] slivne commented on #3235
@asias ping

[2019-07-08 08:19] slivne commented on #3786
failed to reproduce on 3.0.8 - please open a new issue when this happens again and specify scylla version

[2019-07-08 08:19] #3786 closed

[2019-07-08 08:23] slivne commented on #4037
We have added backpressure for MV b66f59aa3d19cb94c73a71c5d454c1cc53b85baf and had a few bug fixes on top of this (including 66a48746b86b5e8563a0c47938d779e405e35dda part of 3.0.5 and later releases)

@veramine - I am closing this issue - if you still see issues with MV/SI backpressure please let us know and open a new issue

[2019-07-08 08:23] #4037 closed

[2019-07-08 08:24] slivne commented on #4049
@amoskong closing this - if this happens on 3.0.X or later releases please open a new issue

[2019-07-08 08:27] slivne commented on #4103
@lustefaniak there was no update from you - closing the issue, if you can share some additional info please post and we can reopen

[2019-07-08 08:27] #4103 closed

[2019-07-08 08:27] bhalevy commented on #4660
@slivne there shouldn't be any read.  The sstables are loaded by copying the sstable files (la, ka, or mc) and running nodetool refresh.  Then they are upgraded using nodetool upgradesstables, and then the directory is scanned (and la/ka files are found in addition to mc).  I'm not able to reproduce this locally so I'll add some debug printouts to the test to help understand what is left.

[2019-07-08 08:30] #4322 closed

[2019-07-08 08:31] slivne commented on #4323
we have moved to chuncked_vector to remove some of the pain - closing this issue  #3602 is more broad than this

[2019-07-08 08:31] #4323 closed

[2019-07-08 08:31] asias commented on #3235
In the log, I did not see long gossip settle time, the gossip is settled very quickly.
[code]

But I do not understand what is the problem in the original report.  Are you complaining gossip settle time or schema syncing time?

Btw, there were tons of
[code]
errors in the log.
[code]

[2019-07-08 08:33] slivne commented on #4357
repair has changed in 3.1 to row_level_repair closing this issue as we will not fix issues in open source 2.3 related to partition level repair

[2019-07-08 08:33] #4357 closed

[2019-07-08 08:35] slivne commented on #4371
large partition table is written in compaction - as such if the same partition is recompacted then the record remains.

@bhalevy AFAIK we did not do any change to remove records when sstables are removed

[2019-07-08 08:36] slivne commented on #4372
@glommer can you please comment on this

[2019-07-08 08:39] slivne commented on #4373
repair moved to row_level repair (from 3.1)  closing this issue - lets reopen if we hit this on 3.1

please note we are able to repair large partitions without a problem - so its still not clear this is a real issue

[2019-07-08 08:39] #4373 closed

[2019-07-08 08:49] slivne commented on #4374
@Vinigas I tested the following on 3.0.4 and 3.0.8

[code]

and select works

[code]

can you please share either the sstables or the values you inserted so we can reproduce this.
[code]

[2019-07-08 08:49] slivne commented on #4376
@bhalevy is this still hapenning ?

[2019-07-08 08:56] slivne commented on #4385
@roydahan

are we hitting this on 3.1 ?

did we hit this in 3.0.8 testing ?

[2019-07-08 08:58] slivne commented on #4405
@roydahan are we hitting this in 3.1 / 3.0.8 testing ?

[2019-07-08 10:33] tgrabiec commented on #4655
@slivne The cache should be invalidated on cleanup. Cache belongs to the replica storage layer, which is not concerned with cluster topology. There is a simple rule for cache - it covers whatever is in sstables. So it needs to be updated (e.g. invalidated) when data in sstables changes on the replica. When data in sstables doesn't change, the cache doesn't need to be invalidated.

When you run cle

[2019-07-08 10:33] #4655 closed

[2019-07-08 10:35] tgrabiec commented on #4648
@slivne I don't think it's a regression.

[2019-07-08 10:44] tgrabiec commented on #4647
@slivne I'm not sure yet what's the root cause. If the same longevity with the same set of nemeses passed before, it would indicate a possible regression.

[2019-07-08 10:46] bhalevy commented on #4622
Need more info to determine the cause.
Please leave cluster up once reproduced.

[2019-07-08 10:54] slivne commented on #4622
@roydahan need more info

[2019-07-08 10:55] slivne commented on #4615
@bentsi please work with Avi on this

[2019-07-08 10:56] bhalevy commented on #4614
@espindola can you please look into the stacktrace above and see if you can come up with a theory and/or a unit test reproducer?

[2019-07-08 11:08] syuu1228 opened #4665 "scylla-jmx does not able to install on newly released Debian stable(Debian 10)"
Since we rely on OpenJDK-8, our .deb package does not able to install on newly released Debian stable(Debian 10 a.k.a "buster") which only provides OpenJDK-11.
[code]

[2019-07-08 11:14] amoskong commented on #4647
I didn't reproduce this problem by repeated NodeTerminateAndReplace nemesis.
But the problem can be reproduced by normal longevity, which use
ChaosMonkey nemesis (calling nemesis randomly).
It occurred 100% by recently about 5 longevity-50gb-4days (random nemesis)

On Mon, Jul 8, 2019 at 6:44 PM Tomasz Grabiec <notifications@github.com>
wrote:

[2019-07-08 11:34] roydahan commented on #4622
@fgelcer is trying to reproduce with the latest AMI running the 4h longevity with refresh nemesis only.

[2019-07-08 11:35] roydahan commented on #4652
@juliayakovlev is trying to reproduce by adding these queries everytime we run nodetool status in a longevity.

[2019-07-08 11:37] roydahan commented on #4615
We don't have the monitoring of 3.0 anymore, @bentsi is running in parallel longevities that should easily reproduce it, one with 3.1 and one 3.0.

[2019-07-08 11:37] glommer commented on #4588
PR for this is already sent for a week.

On Sun., Jul. 7, 2019, 5:43 a.m. Shlomi Livne, <notifications@github.com>
wrote:

[2019-07-08 12:29] bhalevy commented on #4660
@raphaelsc is it possible that compaction will leave old sstables around after `nodetool upgradesstables` returns?

[2019-07-08 12:42] glommer commented on #4372
My only comment is that we almost always have to increase the reservation for small instances due to other processes like node_exporter and scylla-jmx.

The usual comment I get when reporting this is that the current reservation should be enough.

[2019-07-08 12:51] syuu1228 commented on #4665
I find out we probably able to use "nvidia-openjdk-8-jre" distributed on non-free repo (official repo, but disabled by default).
https://packages.debian.org/buster/nvidia-openjdk-8-jre
Seems like this is provided for NVIDIA CUDA package which still uses OpenJDK8, not 11.

Here's how did I tested the VM:
[code]

[2019-07-08 12:54] psarna commented on #4600
Ok, I read the code more closely and here are my conclusions:
1. For sure, we need distinguishable messages in `view_builder::execute` and `view_builder.calculate_shard_build_step`. It's theoretically a separate issue, but it's so minor that I think it can safely stay here.
2. We already have an `abort_source`-based checking for termination in the view builder, but since the bookkeeping is waited

[2019-07-08 13:02] roydahan commented on #4385
We didn't run this test for 3.0.8.
In 3.1 we failed for a different issue, we should rerun it this week.

[2019-07-08 13:03] syuu1228 opened #4666 "Need drop scylla-3rdparty repo from Scylla-3.1 .repo/.list"
Since we dropped ALL dependencies for 3rdparty repo when we switched to relocatable package, Scylla-3.1 (and future releases of Scylla) should drop 3rdparty repo from its .repo / .list.
Also need to remove it from Install Document.

For users who upgraded from previous versions, it's better to suggest in our Upgrade Document to drop 3rdparty packages when package upgrade since we don't need it any

[2019-07-08 13:07] roydahan commented on #4405
Didn't run for 3.0.8, haven't run on 3.1 yet.

[2019-07-08 13:38] tgrabiec commented on #4659
Can you try reproducing with the following RPMs?

http://scratch.scylladb.com/tgrabiec/scylla-server-3.1.0.rc2-0.20190618.fa53994fb0.el7.x86_64.rpm
http://scratch.scylladb.com/tgrabiec/scylla-debuginfo-3.1.0.rc2-0.20190618.fa53994fb0.el7.x86_64.rpm

[2019-07-08 14:27] bhalevy commented on #4600
Cc @eliransin

[2019-07-08 14:35] ShlomiBalalis opened #4668 ""Failed to allocate" memory during repair"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):3.0.8-0.20190627.23da53c4f
Cluster size:4
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-0aa0a9d2762ca9e06

On the beginning of 1TB longevity, one of the nodes crashed and restarted, leaving the following coredump:

You can download it by https://storage.cl

[2019-07-08 14:39] bhalevy commented on #4376
Not that I know of.

[2019-07-08 14:43] bhalevy opened #4669 "logalloc_test is flaky"
Not sure exactly when this started happening.

FWIW, the signature of this issue looks like this, in [next/960](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/960/consoleText):
[code]

Note that `test_region_groups` is the last test case started (but not finished)

[2019-07-08 14:50] bhalevy commented on #4669
The earliest failure I found in next tests is [958](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/958/consoleText)
Scylla version 63ee4cfb4d5613cd603eef72b59c9aca26ba08f5
Commit message: "Merge "Expand big decimal with arithmetic operators" from Piotr"
This looks equivalent to 63edd465621e8ea3ea6b0cfceb2b92d5c9993f23 (not merged yet to master)

[2019-07-08 15:08] bhalevy opened #4670 "secondary_index_test is flaky"
At least since [next/955](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/955/consoleText)
scylla version 0357d4c97ebcfa7e233aa89038767fce70b7a51f
[code]

[2019-07-08 15:14] bhalevy commented on #4670
[next/970](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/970/console):
[code]

[2019-07-08 15:21] bhalevy commented on #4371
@slivne the record is supposed to be deleted when the sstable is deleted since it contains the actual sstable file name.  If the large partition/row/cell is compacted into a new sstable the old record is supposed to be deleted and a new one should be created, pointing to the new, compacted sstable, if the partition/row/cell are still large above the respective threshold.

Cc @espindola

[2019-07-08 15:22] bhalevy commented on #4371
That said, we don't wait for the deletion to happen synchronously so if the test exits (did it, @juliayakovlev?) the record might still be there.

[2019-07-08 15:24] vladzcloudius commented on #4211
@slivne I don't think so.

[2019-07-08 15:25] #4376 closed

[2019-07-08 15:41] bhalevy commented on #4669
@espindola fyi. I see no clear indication that this issue is related to e071445373f3587d4f4656eb7d1fa66985b4616d so just be aware of it...

[2019-07-08 15:59] espindola commented on #4371
This is tested in cql_query_test.cc:test_large_data. From the test:

        // In order to guarantee that system.large_rows has been updated, we have to
        // * flush, so that a thumbstone for the above delete is created.
        // * do a major compaction, so that the thumbstone is combined with the old entry.
        // * stop the db, as only then do we wait for sstable deletions.

[2019-07-08 16:00] bentsi commented on #4622
hit this on 3.0.8 with multiple nemesis run:

[code]
decoded backtrace
[code]
Link to [monitor](http://34.249.131.95:3000/d/ZT4h5FIZz/scylla-per-server-metrics-nemesis-3-0?orgId=1&from=1562590125925&to=1562591033889&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All). Cluster is currently alive

[2019-07-08 16:11] bhalevy commented on #4586
Can be addressed as part of #4384

[2019-07-08 16:58] espindola commented on #4614
Do we have the logs? I assume the abort was from

assert(_u.st == state::future);

in future_state::set, correct? A core file would be very handy. Is this easy to reproduce? If so, could we configure coredumps to go to another filesystem?

In any case, if the above assumption is correct, the only set_value that matches the backtrace is

        _completed.set_value();

In seastar::append_challenge

[2019-07-08 17:09] avikivity commented on #4614
double-close is a plausible scenario for this

[2019-07-08 17:33] espindola commented on #4614
Looking up the stack, the first place I see where a double close could happen is if two files point to the same file_impl. That seems unlikely, but why does the file have a shared_ptr to file_impl if not for that?

Further up, in the mc writer, we have in  writer::consume_end_of_stream

  _index_writer->close();
  _index_writer.reset();
...
  close_data_writer(); // moves before close

These varia

[2019-07-08 18:01] fruch commented on #4614
it's not easily reproduced, I.e. we seen it only once.

as for the coredump, it would be nice if we have a mount for the coredumps which isn't overrun by scylla data.

I'll upload the logs of that run.

[2019-07-08 18:17] fgelcer commented on #4622
i was able to reproduce it as well, my the cluster is still alive, and the link to the jenkins job can be found [here](http://jenkins.scylladb.com/job/scylla-staging/job/fabio/job/fabio-longevity-4h-nodetool-refresh-reproducer/2/), even though the jenkins job finished with success, there are many failures such as the one in this issue.

also, i have changed the original longevity 4h (in the link a

[2019-07-08 18:17] fgelcer commented on #4622
@bhalevy , what else do you need?

[2019-07-08 18:31] fruch commented on #4614
@espindola
here's the node log:
http://scratch.scylladb.com/fruch/scylla_issue_4614_node.log

[2019-07-08 19:49] espindola opened #4672 "UDT in columns with descending order are unusable"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

On master,

create type my_type (a int);
create table tbl (a int, b frozen<my_type>, primary k

[2019-07-08 20:17] tgrabiec commented on #4326
`summary_ka::entries` is not enough, because it stores pointers into `_summary_data`. With small partition keys the overhead of pointers may be similar to the size of the partition key though.

[2019-07-08 20:49] tgrabiec opened #4673 "Thread debugging is not available for relocatable scylla package"
Scylla version: 3.1

Without thread debugging most of the `scylla-gdb.py` commands won't work. Thread-locals can't be read.

I guess this is due to `/usr/lib/debug/opt/scylladb/libreloc/libthread_db.so.1`, which matches the `/opt/scylladb/bin/../libreloc/libpthread.so.0`, being missing.

GDB log with `set debug libthread-db 1`:
[code]

[2019-07-09 05:06] asias opened #4674 "SIGTERM handler runs only after the init process finishes"
In dtest update_cluster_layout_tests.py:TestUpdateClusterLayout.remove_node_from_gossip_test,

start n1, n2, n3
start n4
when n4 starts to stream stop n4

n1, n2, n3 are supposed to see n4 aborts the bootstrap process

However, n4 will not abort the bootstrap after receiving the SIGTERM signal . n4 will run the SIGTERM singal handler (shutdown process) until the init process finishes.

Suspected c

[2019-07-09 05:07] asias commented on #4674
@avikivity

[2019-07-09 05:19] rohitanurag commented on #4383
@denesb @avikivity  Please help in resolving this issue.

[2019-07-09 05:43] rohitanurag commented on #4383
Schema which I used

MAPPING = {
   'url': ['url', 'text'],
   '_id' : ['Innoplexus_id', 'text'],
   'response_url': ['response_url','text'],
   'html': ['html','text'],
   'tld': ['tld','text'],
   'link_text': ['link_text', 'text'],
   'referer_url': ['referer_url','text'],
   'status_code': ['Status_code','int'],
   'crawled_date': ['crawled_date', 'text'],
   'domain': ['Domain','text'],
   's

[2019-07-09 06:54] tzach commented on #4672
I can approve the above work with Apache Cassandra 3.11.4, but not with Scylla 3.1rc1

### Cassandra
[code]

### Scylla

[code]

[2019-07-09 07:27] juliayakovlev commented on #4371
@bhalevy

As @espindola  described above:
[code]
The test flush the data before select from system.large_partitions.
How can I recognize that  the deletion was completed?

[2019-07-09 07:41] fruch commented on #4614
@espindola
happened again:
http://scratch.scylladb.com/fruch/scylla_issue_4614_node_2.log

we still didn't had the change to fix the coredump failing to write, so no much more new info. just a new log for reference

[2019-07-09 08:15] asias opened #4675 "Control memory usage with row level repair"
After commit 8a0c4d508a2519f71ae80dec434500dd97aceba1 (Merge "Repair switch to rpc stream" from Asias), we increased the row buffer size for repair from 512KiB to 32MiB per repair instance. We allow repairing 16 ranges (16 repair instance) in parallel per repair request. So, a node can consume 16 * 32MiB = 512MiB per user requested repair. In addition, the repair master node can hold data from all

[2019-07-09 09:52] roydahan commented on #4622
@fgelcer please provide the sstables also.
@bentsi, does it run on 3.0.8 with mc?

[2019-07-09 10:28] tgrabiec commented on #4668
This is probably fixed by https://github.com/scylladb/scylla/commit/4ff1d731bd4ddff90fff6d3aeeb04101e4824468, which was not backported to the 3.0 branch

[2019-07-09 10:41] slivne commented on #4659
@roydahan please run

[2019-07-09 10:42] tgrabiec commented on #4659
@ShlomiBalalis Do you have logs from the cluster?

The corruption looks the same as in https://github.com/scylladb/scylla/issues/4510#issuecomment-495289806:

[code]

[2019-07-09 10:46] slivne commented on #4647
@tgrabiec is there any way to make progress ...

@amoskong please run the same longevity on 3.0.8 with the same tests and lets get a definitive answer this is a regression

[2019-07-09 10:50] slivne commented on #4614
@espindola if you have a patch QA can run a test with your RPMS to check if this fixes the issues.

[2019-07-09 10:52] slivne commented on #4615
@bentsi find Avi with the info

[2019-07-09 10:56] slivne commented on #4670
@nyh / @psarna could it background writes of MV/SI that are done in the background ? or some MV/SI update to tracking tables

[2019-07-09 10:58] slivne commented on #4669
@bhalevy check if OOMKILLER killed this tests

[2019-07-09 11:07] bhalevy commented on #4669
@avikivity indeed there are indications that the test is killed by the OOM killer.
For example, on muninn:
[code]

[2019-07-09 11:12] nyh opened #4676 "Incorrect merging of collection mutations"
In the test case attached below, I apply two simple mutations to the same map collection: The first mutation adds a key, and the second mutation deletes this key (with a higher timestamp) and adds a different key. We apply the two mutations to the same memtable column in sequence, and then read this column back from the memtable.

The expected result of this read is to see a dead cell plus one liv

[2019-07-09 11:18] tgrabiec commented on #4647
@slivne Yes.

The core dumps hold the answer, but they're useless due to https://github.com/scylladb/scylla/issues/4673

We should solve that. I am not familiar with packaging, so that's not me.

It looks like the bootstrapping node (and all other nodes as well) see that 10.0.184.92 has SCHEMA version which it had when it booted, but it changed the schema version later to match the one used by oth

[2019-07-09 11:48] ShlomiBalalis commented on #4668
It happened again in the same release with a bit different backtrace. Does it look the same to you?
[code]

[2019-07-09 12:05] bentsi commented on #4668
happened to me again, on the same version on two different nodes

[2019-07-09 12:12] tgrabiec commented on #4668
Yes, it's the same. It will keep happening until we backport the fix. It only happens when abort on bad alloc is enabled. It's not a real OOM.

[2019-07-09 12:31] bentsi commented on #1954
Happened on `3.0.8-0.20190627.23da53c4f`:
[code]
node `10.0.69.113` was during stop phase:
[code]

[2019-07-09 12:36] slivne commented on #4665
I think we will need to move to newer Java versions .... its time :)

[2019-07-09 12:37] tgrabiec commented on #4676
@nyh I think the problem may be in the test, because you violate key ordering when you push into `attrs_mut`. You push `3` then `2`. Hence merging doesn't preserve order.

[2019-07-09 12:49] nyh commented on #4676
Oh, I didn't know this ordering is a requirement!
You're right that changing the key to be first in order makes the problem go away.
If it is, then you're right, and it means there may be no bug - just in the code which wrote the cells in the wrong order.
Where do we have code which merges collections or sorts them so they become in this order?

[2019-07-09 12:50] bentsi commented on #4615
3.0.8: The run unable to finish till the end, stress fails due to issue #4668
3.1:  longevity is still running but the issue didn't reproduce

[2019-07-09 13:40] bhalevy commented on #4622
[3.89.90.214.log](https://github.com/scylladb/scylla/files/3373186/3.89.90.214.log)
collected using journalctl. It looks like compaction keeps running while sstables are being loaded and it confuses `table::reshuffle_sstables`

@raphaelsc please look into the log, does that make sense?
I'm not sure how that's supposed to work... although `storage_service::load_new_sstables` calls `cf.disable_sstab

[2019-07-09 13:44] tgrabiec commented on #4676
Merging is done in `collection_type_impl::merge()` in types.cc

[2019-07-09 13:44] #4676 closed

[2019-07-09 13:45] nyh commented on #4676
I also we have maps::value::from_serialized which seems to read a bunch of collection items and sorts them in order of key, and I guess if this is done properly by the writer (which in my case, it wasn't!), the merging indeed works as expected and this is not a bug.

[2019-07-09 13:50] denesb commented on #4383
From @haaawk:

[2019-07-09 13:52] fgelcer commented on #4622
@roydahan , i have terminated my cluster, as Benny has made some first investigation and mentioned he doesn't need it for now.
Maybe @bentsi could provide to Benny access to his cluster, to verify it is a similar/same issue, and then we can terminate the other cluster as well.

[2019-07-09 14:03] espindola commented on #4672
I have a patch for this: "[PATCH v2] Fix use of UDT in reversed columns"

[2019-07-09 14:09] bhalevy commented on #4622
cc @glommer

[2019-07-09 14:09] espindola commented on #4614
I posted "[PATCH] mc writer: More uniform closing of the file_writers"
which might avoid the double close, but there would still be something
odd going on.

Cheers,
Rafael

Shlomi Livne <notifications@github.com> writes:

[2019-07-09 14:27] glommer commented on #4622
My hunch is that this is related to file format changing in the middle.

The refresh process does a variety of links and maybe it expects the TOC as `mc` and it is there as `la`.

Could this be related?

[2019-07-09 14:28] tgrabiec commented on #4647
@amoskong How can I get a log of all nemeses in this run?

[2019-07-09 14:34] bhalevy commented on #4622
@glommer we deduce the dir, sstable format, generation number, component type, etc. from the filename, and then load the toc using a sstable object we create based on the deduced sstable attributes.
I believe we fail here in `read_toc`:
https://github.com/scylladb/scylla/blob/c2940001132ce3d770d2cea7823e0d7bdf61de98/table.cc#L1032-L1054

[2019-07-09 14:39] amnonh opened #4678 "config::get_value returns a pointer to the value-wrapper and not the value"

[2019-07-09 14:44] bhalevy opened #4680 "test.py should provide an option to create xml file in xunit format"
To help track the unit tests results we should integrate the unit test results with Jenkins.
We would benefit greatly by tracking unit test failures in the next-gating jobs to quickly see which unit tests failed and analyze their history to find out when they became flaky, for example.

It seems like the easiest way to achieve that is to have an option in `test.py` to create a xml file in the [xun

[2019-07-09 14:44] bhalevy commented on #4680
Cc @hagitsegev

[2019-07-09 14:58] psarna commented on #4670
It has a very prosaic reason - I didn't wrap the test in the`eventually` block, even though I constantly fix other tests with exactly the same solution... I'll push a patch in 5 minutes.

[2019-07-09 15:38] hagitsegev commented on #4680
Please let me know when you do the test.py trick, and I'll set the jenkins magic.

[2019-07-09 18:21] denesb opened #4683 "mutation_writer_test: test_timestamp_based_splitting_mutation_writer: the test breaks if a partition tombstone is present in the data"
This test was supposed to be already generating partition tombstones but apparently it wasn't. When the data it generates started to contain partition tombstones due to changes to `random_schema` (changes made for some other test) it starts to break. Could indicate a genuine bug in `timestamp_based_splitting_writer` but could be just a bug in the test.

[2019-07-09 21:25] tgrabiec commented on #4647
I see this in the logs of 10.0.184.92 after it restarts after SIGSEGV:

[code]

@elcallio is this expected after a crash?

[2019-07-09 21:30] tgrabiec opened #4685 "SIGSEGV in db::hints::space_watchdog"
*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190630.acff367ea

Observed in longevity run from https://github.com/scylladb/scylla/issues/4647

[code]

[2019-07-09 22:05] veramine opened #4686 "Schema sync issue after adding a new node and changing seeds definition"
We had a stable AWS-based two node cluster running with RF=2.  We wanted to migrate off docker + upgrade to scylla 3.0.8 + switch from i3 to i3en instances.  We tried adding a third node and switched the seed node to a non-Docker instance.  That worked ok and streaming populated the node so that we had a 3-node RF=2 cluster.  The plan was then to decommission the docker instance that had been the

[2019-07-09 23:47] roydahan commented on #4385
not sure if it's the same crash, now that we run with abort_on_bad_alloc I get this:

[code]

Decoded (although I'm not sure it's correct, because addr2line with the binary itself gives a weird error):
[code]

[code]

[2019-07-10 02:25] amoskong commented on #4647
We change job to use new pipeline and SCT had problem, it didn't archived the log anywhere when the job was abort.

/CC @bentsi @fruch

----

Logs copied from the workspace (it might be cleaned by new job):
- nemesis log: https://storage.cloud.google.com/upload.scylladb.com/amos/scylla_issue_4647/nemesis.log?authuser=0
- nemesis & wait schema info message: https://storage.cloud.google.com/upload.s

[2019-07-10 02:38] amoskong commented on #4647
Did you see the coredump occurred on node1 (10.0.184.92), which occurred around the stuck is started (07-05 19:25:35 UTC)?

The above coredump had been uploaded to https://console.cloud.google.com/storage/browser/upload.scylladb.com/core.scylla.996.55289e02c57c4572841d001538c38d31.6684.1562354735000000.gz/?project=upload-179716&authuser=0

[code]

--------
Btw I saw another core file in the node,

[2019-07-10 06:23] raphaelsc commented on #4622
@bhalevy we grab sstable lock for write, so all ongoing compactions are supposed to be waited on. I believe we actually fail in set_generation(), when creating links.

[2019-07-10 06:26] raphaelsc commented on #4622
Those files in keyspace1.standard1.tar.gz use ka version, so I think @glommer is probably right.

[2019-07-10 07:18] ShlomiBalalis commented on #4659
@tgrabiec I uploaded the log from the node to here: gs://scratch.scylladb.com/balalis/journal_log_10_0_224_254.txt

[2019-07-10 07:38] #4678 closed

[2019-07-10 08:25] raphaelsc commented on #4622
So Benny and I found out that the problem was that we don't wait for compaction to actually remove files from disk because it's done in background. disable_sstable_write() needs to be patched to take into account _sstable_deletion_gate.

[2019-07-10 08:30] pdziepak commented on #4653
If the last "real" object ends somewhere in the last 8 bytes of a segment then `close_active()` will not create a dummy object that covers the rest of the segment.

[2019-07-10 08:37] bhalevy commented on #4622
@raphaelsc and I analysed the relevant code path and it seems like the problem is with lack of synchronization between sstable deletions done in the background, originated by `table::on_compaction_completion` and `table::reshuffle_sstables` that scans the data directory (called from `storage_service::load_new_sstables` after `disable_sstable_write()` on all shards.

The fix should be to also acqui

[2019-07-10 08:50] tgrabiec commented on #4385
On which version do you get this crash?

On Wed, Jul 10, 2019 at 1:47 AM Roy Dahan <notifications@github.com> wrote:

[2019-07-10 09:00] tgrabiec commented on #4685
The coredump had been uploaded to https://console.cloud.google.com/storage/browser/upload.scylladb.com/core.scylla.996.55289e02c57c4572841d001538c38d31.6684.1562354735000000.gz/?project=upload-179716&authuser=0

[code]

[2019-07-10 09:09] asias opened #4688 "Create a non-stalling hash table"
In repair/row_level.cc

[code]

We furturize working_row_hashes to avoid stall. However, line 841can still cause a rare stall when enlarging the hash table.

We'll need to work on a non-stalling hash table (will be useful in other places too).

[2019-07-10 09:14] amoskong commented on #4647
There is job running for 6 hours, so far everything is fine, I will keep updating you status/result.
- http://jenkins.scylladb.com/job/scylla-staging/job/amos/job/longevity-50gb-4days/6/console
- Monitor: http://34.242.124.8:3000/d/lVRdyoSWz/scylla-per-server-metrics-nemesis-3-0?refresh=30s&orgId=1&from=now-6h&to=now&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&editview=setti

[2019-07-10 10:05] eliransin commented on #4585
I think this is fixed by https://github.com/scylladb/scylla-jmx/commit/f73da49f6218bea09b18d115f623bab2386a13fc ?
@amoskong @syuu1228 ?

[2019-07-10 10:07] roydahan commented on #4385
3.1.0.rc2-0.20190624.433cb93f7

[2019-07-10 10:09] kbr- opened #4689 "Scylla hangs or even segfaults when querying system.size_estimates"
*Installation details*
Scylla version (or git commit hash): branch master as of time of writing this issue, commit a0499bbd31ddcef0ac3fa8e3c4e5b8f2fc2342bd. But it's been there since at least 256b7d34e2a91df591ad6ec07260293e31d528b4 (4 months ago). I weren't able to compile previous commits because of the old fmt dependency.
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Fedora 29, kernel 5.1.16

[2019-07-10 10:13] amoskong commented on #4585
Do we need to move /usr/lib/scylla/scylla-ami/
to /opt/scylladb/scylla-ami?  @syuu1228 <https://github.com/syuu1228>

On Wed, Jul 10, 2019 at 6:05 PM Eliran Sinvani <notifications@github.com>
wrote:

[2019-07-10 10:32] penberg opened #4690 "dynamic_bitset_test fails when run multiple times"
When the `dynamic_bitset` test case is run multiple times:

[code]

Some of those executions fail with:

[code]

[2019-07-10 10:55] syuu1228 commented on #4585
@eliransin I think we also need "[PATCH scylla 1/2] dist: move /usr/lib/scylla symlink to scylla-compat package" that I mentioned earlier, the patch still not merged yet.
Without the patch, new jmx package does not have problem since we moved files under /opt/scylladb/jmx on https://github.com/scylladb/scylla-jmx/commit/f73da49f6218bea09b18d115f623bab2386a13fc, but you will see warning message whe

[2019-07-10 10:56] syuu1228 commented on #4585
@amoskong You are right, will send fix soon.

[2019-07-10 12:03] eliransin commented on #4585
Thanks @syuu1228 and @amoskong

[2019-07-10 12:17] #4616 closed

[2019-07-10 12:30] bhalevy opened #4692 "really_complex_repair_test: Expected [['a', 1, 1, 3.0], ['a', 2, 2, 3.0]] from SELECT * FROM ks.t_by_v WHERE v2 = 'a', but got []"
Seen starting [dtest-release/172/testReport/materialized_views_test/TestMaterializedViews/really_complex_repair_test/](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/172/testReport/materialized_views_test/TestMaterializedViews/really_complex_repair_test/):

Scylla version a0499bbd31ddcef0ac3fa8e3c4e5b8f2fc2342bd

[code]

[2019-07-10 12:33] bhalevy commented on #4692
Seen in [byo_build_tests_dtest/408](https://jenkins.scylladb.com/view/master/job/scylla-master/job/manual-and-scheduled-tests/job/byo_build_tests_dtest/408/testReport/materialized_views_test/TestMaterializedViews/really_complex_repair_test/) at the same commit
@psarna can you please look into this?

[2019-07-10 13:24] psarna commented on #4692
I don't really follow what this test is trying to prove (original git blame just says ` Test for materialized views implementation (CASSANDRA-6477)`", which doesn't help.
The part that troubles me a little is also where the assertion fails:
[code]

Here, we first check in the test that we reached an inconsistency (`1.`), then we repair and ensure that after repairing we got rid of the introduced i

[2019-07-10 13:32] glommer commented on #4688
This should be a seastar issue, and solved in seastar, IMHO.

[2019-07-10 15:22] syuu1228 commented on #4585
Patch for AMI sent: [PATCH scylla-ami] dist: merge /usr/lib/scylla to /opt/scylladb

[2019-07-10 17:01] tgrabiec commented on #4531
It depends. It's not true for TTLed data sets, where most of the sstable may be expired.

[2019-07-11 01:04] asias commented on #4688
Yes, the helper function will probably be in seastar, we can create one issue in seastar.git as well. But I think it is fine to track here too.

[2019-07-11 02:10] amoskong commented on #4647
The job was aborted unexpectedly (avocado or builder memory issue), only few nemesises were executed. The issue didn't occur, total execute time: 10 hours.
Resubmitted a new job: http://jenkins.scylladb.com/job/scylla-staging/job/amos/job/longevity-50gb-4days/7/

[2019-07-11 03:24] asias opened #4693 "Multiple flat mutation reader can cause deadlock"
Start n1, n2
Create ks with rf = 2
Run repair on n2
Stop n2 in the middle of repair
n1 will notice n2 is DOWN, gossip handler will remove repair instance with n2 which calls remove_repair_meta().

Inside remove_repair_meta(), we have:

[code]

Since 3.1, we start 16 repair instances in parallel which will create 16 readers.The reader semaphore is 10.

At line 2, it calls

[code]

The gate protects

[2019-07-11 05:51] penberg opened #4695 "mutation_reader_test fails some of the time"
I see `mutation_reader_test` fail 2 times out of 100 runs as follows:

[code]

[code]
[code]

I manage to reproduce _something_ if I use the `--random-seed` option:

[code]

The failure seems to be different across runs. For example, I saw this:

[code]

and this:

[code]

You can use the `--repeat N` command line option that was added to `test.py` to find more corner cases that fail:

[code]

[2019-07-11 06:13] #2027 closed

[2019-07-11 06:13] #4203 closed

[2019-07-11 06:13] #4481 closed

[2019-07-11 06:13] #4651 closed

[2019-07-11 06:13] #3316 closed

[2019-07-11 06:13] #4670 closed

[2019-07-11 06:13] #4683 closed

[2019-07-11 06:13] #4614 closed

[2019-07-11 06:13] #4653 closed

[2019-07-11 06:13] #4669 closed

[2019-07-11 06:19] fruch commented on #4614
@slivne @roydahan, do we commit that just came in  said

do we really want to close this issue ?

[2019-07-11 06:42] bhalevy commented on #4614
@fruch we need to verify the fix in any case so this issue can be reopened and hopefully re-closed after verification or reopened in case verification shows the issue is still not solved.

[2019-07-11 07:20] slivne commented on #4211
@vladzcloudius you sent a patch to hide the errors - Avi did not approve the approach

It seems that all the configuration is coming from scripts/perftune.py (that you are faimilar with) - can you try and fix

[2019-07-11 07:39] slivne commented on #4659
@tgrabiec lets check if we are missing a backport

[2019-07-11 08:02] #4355 closed

[2019-07-11 09:03] bhalevy commented on #3763
This has actually been fixed in commit 0ca4ae658c1a964e3d3badaafb8c11ecc3ca0f2c as part of #4026

[2019-07-11 09:04] bhalevy commented on #3763
It's already in branch-3.1 so I think this issue can be closed.

[2019-07-11 09:15] slivne commented on #4413
@penberg can you please review this

[2019-07-11 09:18] slivne commented on #4421
related to https://github.com/scylladb/scylla-tools-java/pull/76 and scylladb/scylla-jmx@9eec9eabf6d291a2f7ce98dfce9df510dead42d5

[2019-07-11 09:25] slivne commented on #4424
@bhalevy is this still happening ?

[2019-07-11 09:26] slivne commented on #4427
@wqwiii, are you still missing something ? if so please post and we will reopen

[2019-07-11 09:26] #4427 closed

[2019-07-11 09:29] slivne commented on #4433
@bhalevy can you find this in cassandra as well ... it seems odd that the client provides timestamps and we are using that for cells but are not doing that for collections of elements.

[2019-07-11 09:32] asias commented on #4693
@denesb FYI

[2019-07-11 09:32] slivne commented on #4454
@asliwinski are you missing anything - if you are please post and we can reopen.

Please note we did have a bug related to paging with nodejs https://github.com/scylladb/scylla/issues/4569 on secondary indexes (but it does not seem like you were struggling with that).

[2019-07-11 09:32] #4454 closed

[2019-07-11 09:34] slivne commented on #4456
duplicate of #4421

[2019-07-11 09:40] slivne commented on #4483
@psarna sent a patch on the ML "[PATCH] db,hints: decouple in-flight hints limits from resource manager"

[2019-07-11 09:42] slivne commented on #4501
@avikivity ?

[2019-07-11 09:43] denesb commented on #4693
Related: https://github.com/scylladb/scylla/issues/3866. Though we can maybe have a simpler solution here.

[2019-07-11 09:47] slivne commented on #4505
@r4fek - would it be possible to get the sstables for this table

counters are actually partitioned across all the nodes that may increment them - and looking at the raw data will allow us to at least find the nodes that may have caused the issue.

[2019-07-11 09:50] slivne commented on #4508
@psarna / @nyh we merged efa7951ea5733a9f064de83dc0eacbec9d958791 lately - can it be related to this ?

[2019-07-11 09:51] slivne commented on #4530
@virenderdubey any update ?

[2019-07-11 09:52] bhalevy commented on #4501
Ref #4384

[2019-07-11 09:54] psarna commented on #4508
@slivne yes, definitely

[2019-07-11 09:55] slivne commented on #4561
@i-mine we are not able to reproduce - I am closing this issue, if you can provide a reproducer we can reopen

[2019-07-11 09:55] #4561 closed

[2019-07-11 09:59] slivne commented on #4566
closing this issue create a doc issue

[2019-07-11 09:59] #4566 closed

[2019-07-11 10:02] slivne commented on #4649
@Mepherotus can you please provide the additional information @denesb requested

[2019-07-11 10:03] slivne commented on #4665
duplicate of #4421

[2019-07-11 10:04] bhalevy commented on #4424
No.  I checked the test history on Jenkins and all failures in the last couple of months were related to the infamous error storms, not to the semaphore time out, so we can close this issue IMO.

[2019-07-11 10:04] slivne commented on #4665
Please note we are going to support later JVM versions ... the java8 can be used as a workaround if needed by users

[2019-07-11 10:06] slivne commented on #4666
Every scylla release has a since .repo/.list file that includes all the repos that are needed.

As such a user upgrading to the new release will get a repo file that does not reference the scylla-3rdpart if this is correct.

Do we still host gdb and other tools on the 3rdparty that may be needed by the user if so we can't drop it

[2019-07-11 10:06] slivne commented on #4666
@syuu1228 / @avikivity  please comment

[2019-07-11 10:09] #4668 closed

[2019-07-11 10:14] slivne commented on #4674
refs https://github.com/scylladb/scylla/issues/4501

[2019-07-11 10:18] slivne commented on #4686
@veramine can you please provide the system.peers info of every node in the cluster

[2019-07-11 10:18] bhalevy commented on #4660
I think this could be a result of the background deletes seen in #4622 and should be fixed with PR #4691

[2019-07-11 10:26] bhalevy commented on #4659
@slivne @tgrabiec FWIW, The bug report stated this version: `3.1.0.rc2-0.20190630.acff367ea` (hmm, why don't we print the build version in the log when the node starts?)
commit acff367ea8c6ff60ba5362e6923e275ae72c6891 includes c9f488ddc202919b6464ea904670dc88fd9a6fb2 (repair: Avoid writing row with same partition key and clustering key more than once) that fixed #4510

[2019-07-11 10:28] bhalevy commented on #4226
As discussed in our f2f meeting, this issue shouldn't be gating for 3.1
Let's retarget to 3.x (x > 1 :))

[2019-07-11 10:43] tzach opened #4699 "CQLsh auto-complete less useful then Apache Cassandra"
Scylla version (or git commit hash): 3.1rc1
Apache Cassandra version: 3.11.4

When creating a new Keyspace, the Cassandra version provides the relevant alternatives, like NetworkTopologyStrategy. Scylla does not.

### Cassandra

[code]

### Scylla

[code]

[2019-07-11 11:32] ShlomiBalalis opened #4700 "commitlog_replayer - Corrupted file: .... after restart"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):3.1.0.rc2-0.20190630.acff367ea
Cluster size:4
OS (RHEL/CentOS/Ubuntu/AWS AMI):AWS AMI

After restarting a one of the nodes, some files appeared to be corrupted
Also, for an unknown reason there was a 7 minute gap in the log at the same time

[jou

[2019-07-11 12:53] tzach opened #4701 "Support EC2 i3en familiy"
Also relevant to 3.2

[2019-07-11 14:24] tgrabiec commented on #4700
Also observed here: https://github.com/scylladb/scylla/issues/4647#issuecomment-509884135

[2019-07-11 14:55] veramine commented on #4686
172-31-28-61:

[code]

172-31-23-132:

[code]

172-31-22-1:

[code]

[2019-07-11 15:26] glommer commented on #4588
@avikivity @slivne since this ended up being harder than expected, I put together a document identifying the problems we have so far, and what would be a good redesign-friendly way of solving them.

https://docs.google.com/document/d/17IS2e0aOB9WgP2bYAjy2cxphM89s5ruI16oA6ka22ME/edit

Let's get some agreement first and then move to an implementation.

[2019-07-11 16:17] slivne commented on #2511
So we just ran today into this again.

So lets change scylla_setup to check if there is a swap or not and recommend a swap if one does not exist.

@avikivity

Should we make sure that scylla memory is non swapable (locked)

[code]

[2019-07-11 16:59] vladzcloudius commented on #4211
@slivne To clarify, the patch that hid the error has been merged by Avi long ago.
However after that there was another patch (from Takuya) that broke it. And patch in question simply tries to bring the code base to the state before my my original patch got broken.

[2019-07-11 17:00] glommer commented on #4588
@raphaelsc and @bhalevy please comment on the above too

[2019-07-11 23:18] asliwinski commented on #4454
@slivne

This stays wrong, as I explained before, unless you fixed it.

[2019-07-12 12:34] horschi commented on #4649
Hi @slivne and @denesb,
it seems I have the same error during resharding:
[code]

According to "addr2line -e /usr/bin/scylla", this should resolve to:
[code]

This happened on Ubuntu 18.04.2 with  Scylla 3.0.8-0.201. This is running in a test environment with low resources and low usage.

It seems the error happened right after startup when the resharding started (I increased from smp 1 to 2).

ki

[2019-07-13 11:46] #4483 closed

[2019-07-13 11:46] #4672 closed

[2019-07-13 11:46] #4552 closed

[2019-07-14 07:28] gleb-cloudius commented on #4623
On Tue, Jul 02, 2019 at 05:49:22AM -0700, Shlomi Livne wrote:

Gleb is not an expert on materialized code view. Nadav is. I have no
idea what changed between 3.0 and master in that area. Probably delay
calculation function was finally fixed.

--
			Gleb.

[2019-07-14 07:33] slivne commented on #4623
On Sun, Jul 14, 2019 at 10:28 AM Gleb Natapov <notifications@github.com>
wrote:

So you are back and as an expert we will share the monitorings with you and
would like to get your insights on what may be happening (we may be
overlooking 1-2 items that you know).

[2019-07-14 07:49] gleb-cloudius commented on #4623
On Sun, Jul 14, 2019 at 12:33:35AM -0700, Shlomi Livne wrote:

I am not an expert in MV code. In fact backpressure there was
implemented not in a way I proposed. I suggest MV expert actually
debugging the code because the problem is easily reproducible. One thing
I would check though before spending time on that is if reverting of
591d2968cc5fafa1618ed9f2779b3007ec7c0a8c makes master behave simila

[2019-07-14 09:52] dorlaor opened #4703 "Rate limit iops per key"
In a discussion around a customer issue where a single key overloads
a shard and ruins the 99% for all of the requests on that shard, we brought up today an option to have a rate limit per key (across the entire keyspace) to 'solve' such a case.

The solution for example, all keys will be limited to 10k iops each.
One will be able to change it using alter keyspace/table.

Makes sense?

It's nice t

[2019-07-14 10:19] slivne commented on #4700
[code]

[2019-07-14 10:20] slivne commented on #4700
@elcallio

- I think this maybe expected in case we crash a server  (sigkill)
- I do not think this is expected if the server is stopped (in this case it was stopped)

[2019-07-14 10:31] fgelcer commented on #4659
@bhalevy , I just encountered this issue on longevity 4h, while rebooting a node.
I will be uploading the logs. Is there anything else from this environment needed (as it is still alive)?

[2019-07-14 10:31] slivne commented on #4686
@veramine thanks all the records have the same schema version

can you please run nodetool gossipinfo on all the nodes as well, we can compare that to the system.peers info.

[2019-07-14 10:36] slivne commented on #4659
did you run tomek's version

we need to save the coredumps / logs ...

if you have been running tomek's version - please leave the the cluster and
make sure no additional nemesis run on it.

On Sun, Jul 14, 2019 at 1:31 PM fgelcer <notifications@github.com> wrote:

[2019-07-14 10:37] slivne commented on #4508
closing this issue as it was related to a fix - reopen if it happens again.

[2019-07-14 10:37] #4508 closed

[2019-07-14 10:51] fgelcer commented on #4659
@slivne , it wasn't using Tomek's version.
the environment is still alive, and the exceptions has happened on multiple nodes simultaneously.

Also, there was another nemesis that was executed after this exception was threw the first time, but the whole execution was aborted due to another issue (most likely an avocado failure).

[2019-07-14 11:27] slivne commented on #2511
@avikivity ping

[2019-07-14 11:50] tzach opened #4704 "scylla3.1-rc2 docker fails to start"
Scylla version (or git commit hash): 3.1.rc2

[code]

[code]

scylla3.1.0.rc1 works fine

[2019-07-14 12:34] roydahan commented on #4405
Haven't seen it on 3.1 for now (2 days run).
Longevity is still running.

[2019-07-14 13:02] fgelcer commented on #4659
@roydahan , my failure happened running on 3.1.0.rc2-0.20190711.92bf92817 version.

[2019-07-14 13:44] roydahan opened #4705 "Gossip continue to "complain" about "unknown endpoint" of node that was replaced (in remote DC)"
*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190617.7d14514b8
Cluster size: 9 (3 DCs, 3 nodes per DC)
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

After replacing a dead node in one DC, the rest of the nodes in the other DC continue complaining about the dea node even hours after the node was successfully replaced.

Example of node complaining:
[code]

The node that repla

[2019-07-14 13:59] roydahan commented on #4705
To reproduce:
Either run longevity-multi-dc-counters with TerminateAndReplace nemesis.
or
1. Create cluster with multi-DC
2. Terminate node in DC1 and replace it with new node (same DC).
3. After new node complete bootstrapping, check logs of nodes in other DCs.

[2019-07-14 14:01] bhalevy commented on #4695
Seen in [next/985](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/985/consoleText) scylla version 67c624d96752482f6b63e451fdf3533d757b2e2b:
[code]

[2019-07-14 14:07] bhalevy commented on #4695
@denesb can you please also look into this?

[2019-07-14 14:38] nyh opened #4706 "Interrupting "ninja" can cause build.ninja to disappear"
Sometimes running "ninja" will cause `configure.py` to be rerun.

If you quickly kill it with control-C, you can end up with configure.py deleting your old `build.ninja` file but not yet creating a new one. So if you try to run "ninja" again, it will fail (and force you to manually rerun configure.py). This is annoying, and even more so for people who had a bunch of parameters for configure.py and

[2019-07-14 14:47] avikivity commented on #4706
rename seems simplest to me.

[2019-07-14 15:36] bhalevy commented on #4695
for the record, this was reproduced after over 550 executions of `build/release/tests/mutation_reader_test_g -t test_multishard_combining_reader_non_strictly_monotonic_positions --report_level=no --logger=HRF,test_suite:XML,test_suite,jenkins_test.debug.mutation_reader_test.boost.xml -- -c3 -m2G --overprovisioned --unsafe-bypass-fsync 1 --blocked-reactor-notify-ms 2000000 --collectd 0`
FWIW rerunn

[2019-07-14 17:02] #4424 closed

[2019-07-14 17:05] bhalevy commented on #4692
@eliransin please prioritize.

[2019-07-14 18:30] bhalevy commented on #4371
@juliayakovlev we may need something like `block_on_compaction_log` in compation_test.py that runs major compaction after `node.flush` to make sure the wide data system tables are written.

[2019-07-14 19:27] bhalevy opened #4707 "view_build_test: test_builder_with_concurrent_drop: Expected no rows, but got 1"
Scylla version 997a146c7fe372f7e8d28dbed395349f6af2957d
[next/987](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/987/consoleText):
[code]

[2019-07-14 19:27] dorlaor commented on #4703
From @glst

If we try to be generic about this, we've seen many problems before in which the real issue was that a particular key had a lot of rows. A couple of requests from those keys are able to saturate the shard.

A better metric would be amount of rows read per key, and not amount of requests per key.

[2019-07-15 06:01] tzach commented on #4703
Row number can be misleading as well, as each row can be small or big.

[2019-07-15 07:32] slivne opened #4708 "Repair of a single shard range opens rpc connections for streaming on all shards"
Scylla Version: 3.0.X

I ran nodetool repair from the command line using the ranges from the trace

nodetool repair -st 8811292670950375424 -et 8812418570857218048 keyspace1

[code]

only "shard 2" had information to send although all shards open streaming sessions

[2019-07-15 07:35] denesb commented on #4683
The `timestamp_based_splitting_writer` is not in any released version, removing `Backport candidate` label.

[2019-07-15 07:40] avikivity commented on #4703
A hot partition can have zero rows and still dominate traffic (for both reads and writes). I don't think rows are the correct metric.

A request that reads many rows can be more expensive than a request that reads a single row, but it can also be less expensive.

[2019-07-15 08:00] nirmaayan opened #4709 "[shard 15] storage_proxy - Failed to apply mutation from : std::runtime_error (sorted_tokens is empty in first_token_index!) error message"
Scylla version (or git commit hash): 3.0.6

[code]

@asias

[code]

[2019-07-15 10:03] bhalevy commented on #4680
Cc @haaawk

[2019-07-15 11:52] glommer commented on #4703
A hot partition cannot have zero rows. At least not if we count a request
to the key without any row as a row.

To avoid confusion let's use the term request: a read for a key without any
rows is a request.

A read that reads two rows counts as two requests.

A request to read a larger row won't be that much more expensive in the
cpu, but it is a fair comment: at some level it will be more expensi

[2019-07-15 12:00] glommer commented on #4703
Maybe the best way to combine those is two different limits: a rows
returned per second limit (including the key) and a bandwidth limit in
bytes per second.

Easy to understand and easy for the user to set. And it convers about
everything we need

On Mon., Jul. 15, 2019, 7:52 a.m. Glauber Costa, <glauber@scylladb.com>
wrote:

[2019-07-15 12:19] avikivity commented on #4703
A row is a row. Don't define it to be something else.

A request has a baseline cost, a per row cost, and a pet byte cost. We can have some metric that combines them (row = 0.1 request) but ultimately the requests dominate.

[2019-07-15 12:22] slivne opened #4711 "Internal system/local table reads should have no timeouts / Driver queries should have timeouts"
Following https://github.com/scylladb/scylla/issues/2462 we have made all system queries run without timeouts.

There are different sources for system/local table queries:
- there are scylla internal queries
- there are client side driver queries

The scylla internal queries should not timeout

The client side driver queries should timeout

[2019-07-15 12:58] tgrabiec commented on #4659
@fgelcer Unfortunately, access to the existing environment is not helpful in figuring out the cause of this. In order to make progress on this issue you have to run with my RPMs which contain extra assertions and will catch the bug (by coredumping) before the bad sstable is written.

[2019-07-15 13:11] fgelcer commented on #4659
@tgrabiec , i'm repeatedly running the same test with your RPM, but the issue isn't being reproduced.
Is it possible to update and add asserts on this existing environment and try to re-run it?

[2019-07-15 13:34] tgrabiec commented on #4659
@fgelcer You can update, but I don't see why that would make it easier to reproduce the issue. We want catch the problem at the time the sstable is written. The fact that there are existing bad sstables will not trigger the asserts.

[2019-07-15 13:46] bentsi opened #4712 "5x throughput drop during terminate and replace"
*Installation details*
Scylla version (or git commit hash):  3.1.0.rc2-0.20190713.92bf92817
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI):  ami-03d6caf668ad59911

The issue happens when streaming and sending hints start to the new node

![image](https://user-images.githubusercontent.com/5269241/61220516-22bac100-a71f-11e9-81dd-1da530cdb6c5.png)

Grafana snapshot:
https://snapshot.raintank.io/das

[2019-07-15 13:52] elcallio opened #4713 "utils::config_file::broadcast_to_all_shards does not propapgate to dependent files"
The rewrite of config_file to use sharded storage (and consequentially require the "broadcast" op) failed to take info account that the main config file can be also populated with external entries that are not direct members. This is allowed (and used) by extensions to add extra attributes yet keep them in isolated objects (less things in main db/config.hh).

However, if those external config_file

[2019-07-15 13:56] haaawk commented on #4383
I made an experiment and tried putting very long string to text field. It works just fine so maybe the problem is with list<frozen<map<text,text>>>. I will check

[2019-07-15 14:10] bhalevy opened #4714 "commitlog_test: test_allocation_failure: Did not get expected exception from writing too large record"
Seen once in [next/990](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/990)
scylla version 997a146c7fe372f7e8d28dbed395349f6af2957d
[code]

[2019-07-15 14:24] haaawk commented on #4383
What driver are you using @rohitanurag ?

[2019-07-15 14:25] fgelcer commented on #4659
@tgrabiec i see.
i think i have just reproduced it.

[2019-07-15 14:30] haaawk commented on #4383
Here's my suspicion is that you either somehow managed to create a list longer than 65535 or inserted a text key into a map with more than 65535 characters. Both cases are handled correctly (cqlsh rejected them) when I tried to do them in cqlsh. Maybe some driver do not respect those limits or maybe you were adding stuff to the list until in exceeded the 65535. I will check the second scenario and

[2019-07-15 14:33] amnonh commented on #4513
I assume that the graph was based on `Bloom filter space used`.

@gibsn to validate, can you add the output from `nodetool tablestats`?

It is mapped to get_bloom_filter_disk_space_used and to sstable::filter_size() that seems ok but maybe I'm missing something.

[2019-07-15 14:33] bhalevy commented on #4714
FWIW, did not reproduce for me after running >1000 iterations of the individual test case and >500 iterations of the whole unit test.

[2019-07-15 14:40] gibsn commented on #4513
@amnonh

Yes

We have altered the BF FP chance so now the BF size is different.

[code]

[2019-07-15 15:34] slivne commented on #4615
@bentsi any update if not lets close - we can allways reopen if you hit this again

[2019-07-15 15:38] slivne commented on #4647
@roydahan any luck with tomek's code ? I think you had luck without tomek's code (that doesn't help)

[2019-07-15 15:38] slivne commented on #4652
@roydahan / @juliayakovlev any luck ?

[2019-07-15 15:39] slivne commented on #4659
@fgelcer we need the info - did you reproduce or not ?

where is the log/coredump

[2019-07-15 15:39] glommer commented on #4372
7% of an i3.xlarge is 2.1GB , which is over the minimum we set.
We tend to increase this all the way to 4GB for users of xlarge or 6GB for users of i3.2xlarge.

Essentially every xlarge issue eventually hits memory problems.
Most of 2xlarge users hit memory issues, but not all

I've only seen a 4xlarge user hit a memory issue once, and in that case we solved it by stopping running collectd.

[2019-07-15 15:39] slivne commented on #4666
@syuu1228 ping
@avikivity ping

[2019-07-15 15:45] slivne commented on #4701
its supported -

https://jenkins.scylladb.com/view/scylla-3.1/job/scylla-3.1/job/ami-test/60/label=muninn/artifact/latest/job.log

@roydahan I'm closing this as this is done - please open an issue/bug if there are any

[2019-07-15 15:45] #4701 closed

[2019-07-15 16:05] bhalevy opened #4717 "TestPushedNotifications/restart_node_test: self.get_ip_from_node(node2) == notification["address"][0]"
Regression first seen in [dtest-release/173/testReport/junit/pushed_notifications_test/TestPushedNotifications/restart_node_test](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/173/testReport/junit/pushed_notifications_test/TestPushedNotifications/restart_node_test/):
[code]
[dtest.log](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/173/a

[2019-07-15 16:15] espindola commented on #4371
I don't think that is sufficient. You have to wait for sstable deletion, and the only way to do that from the outside is to shutdown the database. It might also be possible to just look at the filesystem to see that the files were deleted and then do a full compaction, but it is probably a good idea to audit the code to make sure that is really sufficient.

[2019-07-15 16:45] bhalevy commented on #4371
On Mon, Jul 15, 2019, 19:16 Rafael Ávila de Espíndola <
notifications@github.com> wrote:

on_compaction_completion acquires the _sstable_deletion_sem so it should
serialize the actual deletions by delete_atomically

—

[2019-07-15 17:01] roydahan commented on #4659
The rpms installed are: (seems like patches from @tgrabiec are installed.

[code]

The errors we see are: (many of these on many sstables).
also, It seems like it started during repair.
[code]

These are all the sstables that failed (on one node out of several nodes that had this issue):
[code]

* Attaching few of these sstables below.
[Archive.zip](https://github.com/scylladb/scylla/files/3393333

[2019-07-15 17:16] bhalevy commented on #4371
Hmm, I'm actually not sure about the above...

[2019-07-15 17:19] roydahan commented on #4647
I'm a little bit lost here.
@tgrabiec is this one on our side?
Are you waiting for something from @amoskong?

[2019-07-15 17:41] bentsi commented on #4615
I am running another longevity with parallel Nemesis, will update tomorrow if it happened

[2019-07-15 18:01] espindola commented on #4371
If it is now possible to test for deletions without stopping the db we should update test_large_data in cql_query_test.cc to do that instead, as it is a more strict guarantee and we should test it.

[2019-07-15 18:13] #4226 closed

[2019-07-15 18:50] glommer commented on #4588
Any comments on my solution sketch? I'd like to get started on this.

[2019-07-15 19:38] fgelcer commented on #4659
@slivne , what happened is that the upgrade to Tomek's rpm failed, hence the reproducer didn't help us.
I fixed the issue with the upgrade, and now i'm sure the tests are running with his rpms.

[2019-07-15 19:50] tgrabiec commented on #4647
@roydahan The analysis of the coredump was blocked by https://github.com/scylladb/scylla/issues/4673. Since that's fixed now, we can try to reproduce again (on a version which includes eb49fae02080f2b2e34fe4d771dba464be626fea) and take a core dump of the mismatched node.

The test should run with `trace` level for the `gossip` and `migration_manager` loggers.

[2019-07-15 21:05] veramine commented on #4686
@slivne We will able to resolve this cluster inconsistency with help from @glommer.  He correctly identified that we had a bunch of queued hints that were overwhelming the cluster and causing more timeouts leading to more hints to replay.  We disabled hinted handoff, deleted the queued hints, then did a rolling restart and got the cluster back into a good state.  Then we were able to decommission

[2019-07-15 21:28] tgrabiec commented on #4659
@fgelcer Please make sure that the version which starts is `3.1.0.rc2-0.20190618.fa53994fb0`

[2019-07-15 23:38] #4713 closed

[2019-07-16 02:39] raphaelsc opened #4718 "Undefined behavior in cleanup sstables"
git commit: 8774adb9d06696b

Depending on the evaluation order, the following snippet in cleanup sstables may lead to use after move:
sstables::compaction_descriptor({ std::move(sst) }, sst->get_sstable_level());

[2019-07-16 03:04] syuu1228 commented on #4666
@slivne @avikivity I think we just need scylla-gdb fro scylla-3rdparty repo, correct?
I think all other packages are build time dependencies, now we have "dbuild" for them.
I think we should provide scylla-gdb in same way as scylla-python3, make it relocatable package if it possible.
I'm already trying to make gdb relocatable package, but I haven't able to make it work yet. It seems there are exte

[2019-07-16 03:29] amoskong opened #4719 "snitch_logger - Failed to create Ec2Snitch: std::invalid_argument (169.254.169.254:80)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20190715.997a146c7
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): scylla_2019-07-16T00-02-13Z (ami-0f530209cfd64fc9f)

[code]

* Description: AMI-test of scylla-master failed in start stage, scylla-server failed to start for ec2 snitch error.

* The last good AMI-test of scylla-master is http://jenkins.scylladb.com/job

[2019-07-16 03:30] amoskong commented on #4719
@slivne @roydahan This issue blocked all scylla-master testing.

[2019-07-16 04:24] juliayakovlev commented on #4652
@slivne
I ran the test for 4 days - the problem was not recreated.
Yesterday I started new job. This is the [monitor](http://34.237.245.208:3000/d/nW45vCSZk/scylla-per-server-metrics-nemesis-3-1?refresh=30s&orgId=1&from=now-24h&to=now&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&var-sct_tags=ClusterHealthValidatorEvent)

There is the new event "ClusterHealthValidatorEvent". T

[2019-07-16 07:41] fgelcer commented on #4659
[coredump.log](https://github.com/scylladb/scylla/files/3395853/coredump.log)
[database.log](https://github.com/scylladb/scylla/files/3395854/database.log)

[2019-07-16 07:44] bentsi commented on #4709
observed in `3.1.0.rc2-0.20190713.92bf92817` too

[2019-07-16 08:21] hagitsegev commented on #4704
Docker test also failed:
https://jenkins.scylladb.com/job/scylla-3.1/job/docker-test/label=muninn/3/console

[2019-07-16 08:53] bhalevy opened #4722 "hintedhandoff_basic_check_test: Unable to complete the operation against any hosts"
Seen in [next/994/testReport/hintedhandoff_additional_test/TestHintedHandoff/hintedhandoff_basic_check_test](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/994/testReport/hintedhandoff_additional_test/TestHintedHandoff/hintedhandoff_basic_check_test/)
Scylla version 060e3f8ac2fa0afa9a9416e86760f8e53c8d65ef

[code]

[dtest.log](https://jenkins.scylladb.com/view/master/job/scyll

[2019-07-16 09:01] penberg commented on #4704
Looks like `supervisord` lacks permission to launch the services:

[code]

Likely suspect is commit 43bb290705e6b0ea7b248d692fc74f11189d2f75, which updates `supervisord` to run the services as `scylla` user, yet the scripts are readable only by `root`:

[code]

/cc @syuu1228

[2019-07-16 09:10] tgrabiec commented on #4659
[code]

[2019-07-16 09:12] asias opened #4723 "Can not replace a node which is failed in the middle of boot up process"
In TerminateAndReplace nemsis test, we saw error:
[code]

After looking at the cluster, it turns out other nodes in the cluster did not have TOKENS in the gossip but it has the tokens in the system table for node node 10.0.41.195.

The could happen if 10.0.41.195 failed in the middle of a restarting process.

A node will miss the TOKENS and STATUS application state, if it is killed after line 3 an

[2019-07-16 10:13] slivne commented on #4622
Pull request waiting to be merged https://github.com/scylladb/scylla/pull/4691

[2019-07-16 10:13] slivne commented on #4660
pull request waiting to be merged https://github.com/scylladb/scylla/pull/4691

[2019-07-16 10:20] tgrabiec commented on #4673
Even with `libthread_db` in place and loaded, there's a problem:

[code]

[2019-07-16 10:34] slivne commented on #4708
pull request reviewed by gleb waiting for avi

[2019-07-16 10:35] slivne commented on #4693
patch merged to next

[2019-07-16 10:35] slivne commented on #4685
@gleb-cloudius help

[2019-07-16 10:39] slivne commented on #4647
@roydahan ping

[2019-07-16 10:45] tgrabiec commented on #4647
So, it turns out that #4673 is not solved after all. But running with trace-level logging on the `gossip` logger on each node and from the very beginning of boot may give new information.

[2019-07-16 10:53] amoskong commented on #4647
I had started a new job this morning.

Retest by latest 3.1 ami-08debfb69c4b0256b (us-east-1)
- it contains fix of coredump debug issue: https://github.com/scylladb/scylla/commit/eb49fae02080f2b2e34fe4d771dba464be626fea
- copy ami: ami-0327b39af152e59a7  (eu-west-1)
- cluster: e9d7463b-90d1-4af6-8ad3-e6ff7d809693
- http://jenkins.scylladb.com/job/scylla-staging/job/amos/job/longevity-50gb-4days/12

[2019-07-16 10:53] bhalevy opened #4724 "ALTER MATERIALIZED VIEW timeout in test_stop_node_during_index_build"
Since [next/988](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/988), scylla 997a146c7fe372f7e8d28dbed395349f6af2957d there is a regression in test_stop_node_during_index_build in the next runs (that are running on relatively weak machines).

[next/994/testReport/secondary_indexes_test/TestSecondaryIndexes/test_stop_node_during_index_build](https://jenkins.scylladb.com/view/ma

[2019-07-16 10:53] slivne commented on #4717
@elcallio this commit has the ipv6 work - not sure if that changes anything or not.

[2019-07-16 10:58] slivne commented on #4700
@elcallio ping

[2019-07-16 11:35] elcallio commented on #4700
If the server was stopped, there should be no commitlog files at all. If it was killed -9, having some files corrupted is certainly possible, but this seem like to many to be sane. That being said, it looks like it is one segment per shard that is borked.

Now it is possible that this is also wholly (semi-)benign, with these segments being reused segments that where not terminated properly (becaus

[2019-07-16 12:23] bhalevy opened #4725 "concurrent_drain_test: Error running cassandra-stress: Connection has been closed"
Since [dtest-release/173/testReport/nodetool_additional_test/TestNodetool/concurrent_drain_test] scylla commit 281f3a69f82c3d75a40654cb5e80439d369ee351 concurrent_drain_test has been failing consistently like this:
[code]

Edit: seen also previously: [dtest-release/167](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/167/testReport/nodetool_additional_test/TestNodetool

[2019-07-16 12:24] bhalevy commented on #4725
@elcallio could this be related to your ipv6 changes?

[2019-07-16 12:38] slivne commented on #4700
there was as an attempt to shutdown the server cleanly yet we timeout in the clean shutdown

[code]

not clear to me if we are expecting scylla to shutdown cleanly in less than 3 minutes or not

So it seems the DefaultTimeoutStopSec is 90s,

We change the boot setting to be TimeoutStartSec=900

We should probably adjust the shutdown as well

@avikivity

which means setting the TimeoutStopSec=900 a

[2019-07-16 12:40] elcallio commented on #4717
Looking at it.

[2019-07-16 13:43] elcallio commented on #4717
Patch sent.

[2019-07-16 13:45] denesb commented on #4659
@tgrabiec what is the assert that failed checking? Is this another instance of a skipped `partition_end` fragment?

[2019-07-16 14:19] tgrabiec commented on #4659
@denesb It's the one added in https://github.com/tgrabiec/scylla/commit/fa53994fb04697b3e1e60060fe62122fc577b106

Unfortunately, all in the backtrace is optimized out, and thread locals don't work, so I wasn't yet able to figure out what exactly happens. But judging from the fact that without those asserts we end up with duplicated row in a partition, I think this is a duplicated `clustering_row`

[2019-07-16 14:37] elcallio opened #4726 "Implement "sstable description" api command"
In general, and for certain enterprise features in particular, it would be useful to have a "describe sstables" command that list all/some sstables properties and attributes, such as size, generation, timestamp, version and compression and other "extended" attributes that affect its use and behaviour.

[2019-07-16 15:05] tgrabiec commented on #4700
I think that kill -9 should not result in corruption of the commit log. The reason we have a commit log is to preserve writes in case of a crash.

Printing "corrupted" when the segments are not really corrupted is not very nice because it suggests data loss when there is none. So we actually won't trust it, so it carries no information, and actual data loss cannot be detected.

[2019-07-16 15:21] elcallio commented on #4700
The problem is that short of pre-writing zeros in the whole re-used segment, there is not really any safe way to tell the difference between a corrupt chunk and one that was partially overwritten by non-terminated re-use.

[2019-07-16 15:22] bentsi commented on #4648
Happened to me in `3.1.0.rc2-0.20190713.92bf92817` durin 2 nodetool cleanup ran in parallel on another node that was bootstrapping after deleting all of its data
[code]

[2019-07-16 15:26] tgrabiec commented on #4700
Maybe we could assign some sort of generation number and prefix each block with it a segment with it. If we see the generation number going down, it means we crossed overwrite boundary.

[2019-07-16 15:28] tgrabiec commented on #4700
How do we currently detect that we crossed overwrite boundary?

[2019-07-16 15:30] elcallio commented on #4700
Yes, that was my initial idea also. Problem is that
a.) Chunks are of different size, so we will not necessarily read the sequence number when crossing relevant/remaining boundary. Ok, this is sort of fine, because this probably means we'll read the wrong value anyway.
but:
b.) Reading a value that is not correct is technically indistinguishable from a corrupted chunk. I.e. the normal chunk crc ch

[2019-07-16 15:31] elcallio commented on #4700
If a segment is properly terminated, we write a set of zeroes in place of the chunk header as an end marker.

[2019-07-16 15:41] slivne commented on #4648
@tgrabiec - I thought https://github.com/scylladb/scylla/issues/4196 fixed the issue for regullar tables and bootstrap - e.g. a node will not join and not receive writes before it pulls the schema. What am I missing ?

[2019-07-16 15:53] #4689 closed

[2019-07-16 16:14] tgrabiec commented on #4700
Could we make chunks fixed-size? Large writes would have to be split into
several chunks. That could be hidden behind some stream-like abstraction
which offers a flat space.

On Tue, Jul 16, 2019 at 5:30 PM Calle Wilund <notifications@github.com>
wrote:

[2019-07-16 16:36] tgrabiec commented on #4648
@slivne When adding a node which was not part of the cluster, that's enough, because existing nodes won't try to send anything to it before it tells them to. But here the bootstrapping node replaces an existing node which has the same IP, so existing nodes already know about it and maybe sending requests to it as soon as they manage to connect to it again.

If we want to support this scenario, the

[2019-07-16 16:51] elcallio commented on #4700
We could, and include present segment id in each header, and use this as end marker instead. But the problem is that we always need to (or at least should) write the full mutation in a write-flush cycle. This would require us to write partial chunks if we cross the boundary (or accept even more slack than we have now), which sort of would re-create the exact same problem as now - how do you know i

[2019-07-16 18:59] veramine opened #4728 "Segmentation fault during streaming (in repair) hinted handoff related"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):  3.0.8-0.20190627.23da53c4f
Cluste

[2019-07-16 19:49] vladzcloudius commented on #4719
@slivne @amoskong @elcallio The offending commit is

[code]

[2019-07-16 20:54] vladzcloudius commented on #4719
I sent another option to address this to the mlist ^^^

[2019-07-16 21:04] vladzcloudius commented on #4722
@bhalevy I'm afraid you have misinterpreted what test was doing when it failed.
Test failed after it started node1 and stopped nodes 2 and 3 (you can see this in the test's log). This corresponds to [this](https://github.com/scylladb/scylla-dtest/blob/next/hintedhandoff_additional_test.py#L180) line in the test.

And here we start node1: https://github.com/scylladb/scylla-dtest/blob/next/hintedhan

[2019-07-16 22:02] #4717 closed

[2019-07-16 22:02] #3889 closed

[2019-07-17 00:28] raphaelsc opened #4729 "SStable incorrectly compacted twice with parallel compaction"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 8774adb9d06696bad
Cluster size:
OS

[2019-07-17 00:29] raphaelsc commented on #4729
The problem is that we're not filtering out fragments composing a sstable run being generated by compaction

[2019-07-17 08:10] denesb commented on #4695
I found two more sources of flakyness:
1) When using compaction to normalize expected and actual data, we use two invokations of `gc_clock::now()` as the source of `query_time` for the compaction. In special cases this can result in artificial differences between the two.
2) `test_multishard_combining_reader_as_mutation_source` fails sporadically (some clustering rows are missing from the output).

[2019-07-17 08:24] bhalevy opened #4730 "mv_populating_from_existing_data_during_node_stop_test: View ks.tm_table_mv_2 not built"
This dtest seems to be flaky, apparently since [dtest-release/165](https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/165/testReport/materialized_views_test/TestMaterializedViews/mv_populating_from_existing_data_during_node_stop_test/) (scylla version 28a514820d980adc7af068e951f24e762fd05681).

Most recent failure is [dtest-release/178/testReport/materialized_views_test/TestMateriali

[2019-07-17 08:32] tgrabiec commented on #4700
On Tue, Jul 16, 2019 at 6:51 PM Calle Wilund <notifications@github.com>
wrote:

When flushing, we can append an end-marker (e.g. data entry with zero
size), which will be overwritten if we append more.

[2019-07-17 08:41] elcallio commented on #4700
No, not really, because we are allowed to write said are (that is being zeroed) while the flush is ongoing, so we would potentially be writing the same block twice simultaneously. This might be ok, assuming we get the ordering of continuations right, and the fs/disk orders the writes, but I am still scared of it...

[2019-07-17 09:05] gleb-cloudius commented on #4685
Is there log for the run?

[2019-07-17 09:38] gleb-cloudius commented on #4685
Also which OS that was running on?

[2019-07-17 09:52] slivne commented on #4685
it was using scylla-ami

it was extracted from an issue in longevity run from qa - check the start
of the issue it references it

On Wed, Jul 17, 2019 at 12:38 PM Gleb Natapov <notifications@github.com>
wrote:

[2019-07-17 10:10] tgrabiec opened #4733 "multishard_combining_reader may be missing fragments if recreated right after prefix range tombstone"
When `shard_reader::remote_reader` stops, it saves the key of the last emitted fragment. Then if the reader needs to be recreated, it adjusts the slice so that it will emit elements right after that fragment. However, it works with `clustering_key_prefixes`. If the last fragment was a range tombstone starting at a prefix, then recreation will create a slice which skips the whole prefix, but there

[2019-07-17 10:18] tgrabiec opened #4734 "nodetool cleanup effects may be partially reverted after an unclean restart"
`nodetool cleanup` is supposed to drop writes not owned by the current node, so that it's safe to perform further cluster membership changes after adding a node.

Nodetool cleanup works by rewriting sstables. However, commitlog segments may still contain the writes which are dropped during sstable rewriting. Upon commitlog replay after an unclean restart, the effects of `nodetool cleanup` will be

[2019-07-17 10:23] tgrabiec commented on #4734
If we flushed all memtables in the system, we would be currently ok (in the absence of LWT). But looking at the code, I think we don't. Looking at the code, we don't even seem to be flushing memtables for the target keyspace. @raphaelsc is that the case?

[2019-07-17 10:30] bentsi opened #4735 "seastar - Failed to allocate 122880 bytes"
*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190713.92bf92817
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03d6caf668ad59911

nemesis in parallel:

- RestartThenRepairNode
- nodetool cleanup
- nodetool repair

db log (full log [ip-172-30-0-250.gz](https://github.com/scylladb/scylla/files/3402011/ip-172-30-0-250.gz))
[code]

Translated backtrace:
[code]

Coredum

[2019-07-17 10:35] denesb commented on #4659
@tgrabiec can you share your suspicion?

[2019-07-17 10:58] denesb commented on #4733
Very possibly the cause of one of the spurious failures observed in #4695.

[2019-07-17 11:21] bhalevy commented on #4722
@vladzcloudius yes. I was just expressing a general observation that we insert the key while node1 is stopped; not that the error happened while doing so...

[2019-07-17 11:38] bentsi opened #4736 "Segmentation fault: oversized allocation: 694565187584 bytes"
Installation details
Scylla version (or git commit hash): 3.1.0.rc2-0.20190713.92bf92817
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03d6caf668ad59911

nemesis in parallel:

- RestartThenRepairNode
- nodetool cleanup
- nodetool repair

db log (full log [dblog-172-30-0-144.gz](https://github.com/scylladb/scylla/files/3401975/dblog-172-30-0-144.gz)):
[code]
translated backtrace - oversized

[2019-07-17 12:12] nyh commented on #4730
This is a duplicate of #4382 but I looked at the new logs:

In https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/lastFailedBuild/artifact/logs-release.2/1563273063601_materialized_views_test.TestMaterializedViews.mv_populating_from_existing_data_during_node_stop_test/ it seems that log2 - with address**127.0.55.2** - is the one with the node that got stopped and then started, becaus

[2019-07-17 12:45] amoskong commented on #4647
There is a job running (enabled trace for migration_manager & gossip for all db nodes) , I will update you when it reproduced the problem.

[2019-07-17 13:15] gleb-cloudius commented on #4685
There is a race between space watchdog timer and endpoint removal. An
endpoint may be removed while watchdog holds its mutex and this will
cause the crash.

--
			Gleb.

[2019-07-17 13:17] gleb-cloudius commented on #4685
I do not think this is a regression. @vladzcloudius will look into it.

[2019-07-17 13:29] slivne commented on #4685
Not a regression --> moved to 3.2 with  backport request - thanks

[2019-07-17 13:31] vladzcloudius commented on #4722
@bhalevy AFAIU the session object's constructor parameter is the node which is going to be contacted when the session is being created. In the process of session creation connections to all nodes in the cluster are going to be created.
It's the same as it works in the field - applications don't need to re-create `session` objects every time any node goes down/up - session object knows how to handl

[2019-07-17 13:42] juliayakovlev opened #4737 "Segmentation fault during "nodetool toppartitions""
*Installation details*
Scylla version (or git commit hash): 3.1.0.rc2-0.20190713.92bf92817
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03d6caf668ad59911

Segmentation fault during ``` nodetool toppartitions```

From db log:
[code]

Decoded  backtrace:
[code]

Coredump:
[code]

Download coredump instruction:
[code]

[2019-07-17 14:18] vladzcloudius commented on #4685
@slivne I confirm  - this is not a regression per se. The bug is there since I introduced the draining logic in

[code]

[2019-07-17 15:05] avikivity commented on #4737
Duplicates #4661.

#4662 is supposed to fix this.

[2019-07-17 15:05] #4737 closed

[2019-07-17 15:05] avikivity commented on #4737
@juliayakovlev please don't upload cores in pieces

[2019-07-17 16:00] bentsi commented on #4615
the issue wasn't reproduced in the last run of multiple Nemesis longevity on `3.1.0.rc2-0.20190713.92bf92817` so I think we can close this.

[2019-07-17 18:51] #4622 closed

[2019-07-17 18:51] #4641 closed

[2019-07-17 20:40] tgrabiec commented on #4659
I think the problem is in `streaming_reader_lifecycle_policy::create_reader()`, which calls  `make_streaming_reader()` ignoring the `partition_slice`. So if we're resuming the reader after a clustering row, the row will not be skipped.

@denesb Does that sound plausible?

[2019-07-17 23:02] amoskong opened #4738 "cqlsh doesn't work for `ImportError: No module named cqlshlib`"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20190716.060e3f8ac
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 18

The problem doesn't on `CentOS7`, cqlsh works well.

[code]

@syuu1228

[2019-07-17 23:54] amoskong commented on #4456
Hi @tzach

I retested, but bypass works.

Version - 666.development-0.20190716.060e3f8ac

Result:
- scylla-jmx can be started with openjdk-11-jre, but nodetool doesn't work.
- we can solve the problem by switch to openjdk-8-jre by `sudo update-java-alternatives -s java-1.8.0-openjdk-amd64`,
- Or just assign diff JAVA_HOME for nodetool.  `JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/ nodetool status

[2019-07-18 00:42] amoskong opened #4739 "UX: live in multiple java environment"
*Installation details*
Scylla version (or git commit hash): scylla master, scylla-tools-java master
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): All distros

Currently (scylla master/scylla-tools-java master) `nodetool` (maybe all our java tools) doesn't work with openjdk-11-jre (java 1.11), it works with openjdk-8-jre (java 1.8).

We had fixed one dependency issue of scylla-tools-java by http

[2019-07-18 05:01] denesb commented on #4659
@tgrabiec yes, the slice cannot be ignored when the reader is recreated in the middle of a partition. But if indeed this was the cause we should see *all* clustering fragments replayed in the partition (up to the point where the reader was recreated).
Also, this reader is only used in the new row-level repair, when the shard counts of the repair master and that of its follower mismatch. Does this

[2019-07-18 05:45] juliayakovlev commented on #4737
@avikivity cores are upload ed automatically during SCT test, I don't upload it manually.
@bentsi  @fruch  Please, see Avi's request.

[2019-07-18 06:36] tzach commented on #4739
@syuu1228 can we?

[2019-07-18 07:04] slivne commented on #4738
@amoskong just verifying - on 3.1 it works - right ?

[2019-07-18 07:09] slivne commented on #4736
@tgrabiec - we have

[code]

does that mean this is an upgrade due to a schema change

if so its a known issue https://github.com/scylladb/scylla/issues/2577, that we still haven't fixed and is not a regression - and we can push out

[2019-07-18 07:12] slivne commented on #4733
@tgrabiec / @denesb - which releases are suspect to this ?

[2019-07-18 07:42] denesb commented on #4733
3.1 certainly, 3.0 very likely.

[2019-07-18 08:23] tgrabiec commented on #4659
On Thu, Jul 18, 2019 at 7:01 AM Botond Dénes <notifications@github.com>
wrote:

That's what we see. Those are single-row partitions (no clustering key).

It does.

[2019-07-18 08:34] denesb commented on #4659
Then it all checks out. Will send a patch.

[2019-07-18 08:38] amoskong commented on #4738
On Thu, Jul 18, 2019 at 3:04 PM Shlomi Livne <notifications@github.com>
wrote:

Yes, it works in 3.1

[2019-07-18 08:43] tgrabiec commented on #4736
@slivne Yes, this means there was a mutation upgrade after schema change. But we're still not supposed to segfault.

[2019-07-18 08:59] kbr- commented on #4302
@KMax
I've been investigating the possible technical approaches on adjusting system.size_estimates to include memtables, and it seems it can either be done inefficiently by scanning the entire memtable each time the user requests for the estimates, or better, but with the cost of introducing additional memory overhead (which is not perceived favourably I think).

Therefore it occurred to me that p

[2019-07-18 09:19] slivne commented on #4739
we need to move the tools to support jdk9+

[2019-07-18 09:35] slivne commented on #4725
Fixed in  https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/180/

[code]

it may have been related to ipv6 change

closing

[2019-07-18 09:35] #4725 closed

[2019-07-18 09:37] slivne commented on #4724
well on dtest runs (non gatting) it has been passing

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/179/testReport/secondary_indexes_test/TestSecondaryIndexes/test_stop_node_during_index_build/history/

[2019-07-18 09:49] slivne commented on #4718
@raphaelsc is this relevant only to runs or regular cleanups as well

need to mark if its needed for 3.0/3.1

[2019-07-18 09:58] slivne commented on #4707
@bhalevy is this consistent ?

[2019-07-18 10:00] slivne commented on #4705
@asias
-  there is a period that the old node exists - I think its 3 days (to make sure that we do not boot the terminated node back into the cluster) - is this the source of this item ?
- does cassandra behave the same ?

[2019-07-18 10:10] slivne commented on #4686
@veramine thanks the additional info about hints maybe a lead - yet we are closing this for now

[2019-07-18 10:10] #4686 closed

[2019-07-18 10:13] KMax commented on #4302
@kbr- Yes, it sounds like a reasonable compromise.

How they will have to be merged? Just by summation?

[2019-07-18 10:21] tgrabiec commented on #4673
I don't see anything interesting in strace, looks like gdb reads debug info files and then fails. When I execute the command for the second time, there's no shared lib reading:

[code]

Also, the backtrace has all things "optimized out", which is unusual. It may be a problem with matching debug info.

When debugging the same crash on a non-relocatable binary, there is plenty of things in the backt

[2019-07-18 10:29] kbr- commented on #4302
The token ranges would be the same in both tables, so given, for a token range:
(mean_partition_size_1, partitions_count_1), (mean_partition_size_2, partitions_count_2)
you would calculate
((mean_partition_size_1 * partitions_count_1 + mean_partition_size_2 * partitions_count_2) / (partitions_count_1 + partitions_count_2), partitions_count_1 + partitions_count_2).

Anyway, if I understand correctl

[2019-07-18 12:12] tgrabiec commented on #4659
@roydahan @fgelcer Here are the RPMs with the fix for retesting:
http://scratch.scylladb.com/tgrabiec/scylla-debuginfo-3.1.0.rc2-0.20190718.b8e8cfe3ae.el7.x86_64.rpm
http://scratch.scylladb.com/tgrabiec/scylla-server-3.1.0.rc2-0.20190718.b8e8cfe3ae.el7.x86_64.rpm

[2019-07-18 12:25] fgelcer commented on #4659
copied already the new RPMs, and will run it now...

[2019-07-18 12:38] bhalevy commented on #4730
@slivne as @nyh mentioned above, this is a dup of #4382 so we can close this issue and use the previous one.

[2019-07-18 12:41] bhalevy commented on #4382
Moving @nyh's [comment](https://github.com/scylladb/scylla/issues/4730#issuecomment-512227845) from the dup issue #4730, so we can continue the discussion here:

... looked at the new logs:

In https://jenkins.scylladb.com/job/scylla-master/job/dtest-release/lastFailedBuild/artifact/logs-release.2/1563273063601_materialized_views_test.TestMaterializedViews.mv_populating_from_existing_data_during_n

[2019-07-18 12:41] bhalevy commented on #4382
Cc @nyh @eliransin

[2019-07-18 12:42] #4730 closed

[2019-07-18 13:14] raphaelsc commented on #4718
On Thu, Jul 18, 2019 at 6:49 AM Shlomi Livne <notifications@github.com>
wrote:

regular cleanup as well. i created two separate issues for that patchset
which fixes the undefined behavior and also cleanup not being run aware

[2019-07-18 13:37] hagitsegev commented on #4680
@kbr- I can't test it on BYO, as I can't change scylla rtpo there.
Could you please push your branch to seastar-dev (e.g. called `kbr/testsxml`).
This is because of the contents of `.gitmodules` in the root of the tree that uses relative urls so all submodule repos need to be there on the same github account

[2019-07-18 13:44] kbr- commented on #4680
@hagitsegev I assumed you meant scylla-dev, is this ok?:
https://github.com/scylladb/scylla-dev/tree/kbr/testsxml

[2019-07-18 13:46] haaawk commented on #4680
@kbr- Nope. @hagitsegev mentioned seastar-dev. That's the repo used by default in our BYO tests.

[2019-07-18 13:46] haaawk commented on #4680
Here's the URL: https://github.com/scylladb/seastar-dev

[2019-07-18 13:48] kbr- commented on #4680
Ok.
https://github.com/scylladb/seastar-dev/tree/kbr/testsxml

[2019-07-18 14:03] hagitsegev commented on #4680
Thanks. Testing: https://jenkins.scylladb.com/view/master/job/scylla-master/job/manual-and-scheduled-tests/job/byo_build_tests_dtest/452/

[2019-07-18 15:08] hagitsegev commented on #4680
Expecting Ant GLOB pattern, but saw '/jenkins/workspace/scylla-master/manual-and-scheduled-tests/byo_build_tests_dtest/unittests.xml
I gave it "unittests.xml" as the file name. Looks like it expects something else...
@kbr-

[2019-07-18 15:09] kbr- commented on #4680
@hagitsegev it looks like python's ElementTree.write function doesn't like absolute paths.
I fixed it now.

[2019-07-18 15:45] roydahan commented on #4737
Now that we don't upload to S3 we can remove this splitting of the cores.

[2019-07-18 16:19] bentsi commented on #4737
added a task for that

[2019-07-18 20:01] veramine commented on #4728
Thanks, it worked this time.

$ curl -X PUT http://upload.scylladb.com/5c1d1e84-0cc9-4fea-8c2c-cff1bc1105f5/core -T core.scylla.996.00b0ec53863740b2ad85999a6b343eed.21457.1563294080000000

[2019-07-18 21:56] #4659 closed

[2019-07-19 07:44] denesb commented on #4302
Can't this be made transparent? `size_estimates` is already a virtual table, why not adjust it to also read the memtable estimate table and make the summary on the fly?

[2019-07-19 08:13] kbr- commented on #4302
@denesb this is exactly what I'd like to avoid.
1. Querying size_estimates is currently fast, because it uses in-memory data structures that are small (https://github.com/scylladb/scylla/wiki/SSTables-3.0-Statistics-File-Format)
2. Querying memory_size_estimates would be (sometimes) slow, because we don't have such data structures, and we won't since we don't like memory overhead. Hence we would s

[2019-07-19 08:38] denesb commented on #4302
According to the issue title (and the linked mailing list discussion) what we want is the existing estimates to include memtables as well. I think having separate tables for memtables would confuse people.
I think summarizing the memtables on-the-fly is acceptable. We are not always optimizing for maximum possible speed, in this instance what we want to improve is accuracy. Besides, scanning memta

[2019-07-19 09:44] hagitsegev commented on #4680
@kb Still fails.
20:13:14    File "./test.py", line 344, in <module>
20:13:14      with open(args.xunit, "w") as f:
20:13:14  PermissionError: [Errno 13] Permission denied: '/data/jenkins/workspace/scylla-master/manual-and-scheduled-tests/byo_build_tests_dtest/unittests.xml'

The location is OK, I don't know why permission denied there.
http://jenkins.scylladb.com/view/master/job/scylla-master/job

[2019-07-19 09:50] aleksbykov opened #4741 "compaction_manager error and coredump upon gemini tests with large number of columns"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20190614.4ad06c7ee 3.1.rc99
Cluster size:3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-087e402340465a532(us-east-1)

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): AWS
test instances: instance_type_db: 'i3.4xlarge'
oracle instances: instance_type_

[2019-07-20 12:43] slivne commented on #4741
@aleksbykov while this is promissing - I need a run on 3.1.rc2 to see if this reproduces, and if we have a blocker for 3.1

[2019-07-20 13:44] glommer commented on #3268
Bumping priority

[2019-07-21 04:06] aleksbykov commented on #4741
@slivne Use rc99 because it has more recent day than rc2. i thought it was a latest stable rc.

Rerun on rc2.  Test failed again. Got next error:
` scylla[9964]:  [shard 7] storage_proxy - Exception when communicating with 172.30.0.247: std::runtime_error (sstable inactive read queue overloaded)`
` [shard 9] storage_proxy - Exception when communicating with 172.30.0.247: std::runtime_error (sstabl

[2019-07-21 14:59] aleksbykov opened #4744 "undefined name idx_token in selection clause error in db_log"
*Installation details*
Test Scylla version (or git commit hash): 3.1.rc2
Oracle Scylla version: 3.0.6
Test Cluster size: 3 nodes,
Oracle: 1 node
OS (RHEL/CentOS/Ubuntu/AWS AMI):

Run on AWS, used amis
Test cluster: 'ami-087e402340465a532'
Oracle cluster: 'ami-03415e87997ef789b'

During gemini test run,
`gemini -d --duration 60m --warmup 10m -c 100 -m mixed -f --non-interactive --cql-features norma

[2019-07-21 15:26] aleksbykov commented on #4744
repeated on scylla 3.0.8 as oracle instances

[2019-07-21 15:45] nyh commented on #4744
Interesting. "idx_token" is a special column that secondary index code adds to the materialized-view used to store the index, but it doesn't exist in the base table and the user shouldn't know of its existance. Do I understand correctly that the table you're updating has a secondary index enabled?

Updates to the base table cause updates to the view table, which need to fill "idx_token". Updating

[2019-07-21 15:53] aleksbykov commented on #4744
@nyh it looks like this happens at the beginning of test. while warmup stage is running. on this stage only write operations are performed.

[2019-07-21 16:01] psarna commented on #4744
On Sun, Jul 21, 2019, 17:46 nyh <notifications@github.com> wrote:

Yeah, I also mentioned in on slack, I remember that it was a backporting
issue. Tomorrow, when in the office, I'll try to dig up the missing commit
and post it here.

@aleksbykov <https://github.com/aleksbykov> do you know if this error

[2019-07-21 16:23] penberg commented on #4744
@nyh @gleb-cloudius @psarna The error message is also quite confusing: error in selection clause in mutation write path -- what does that even mean?

Also, looks like these errors are not propagated to the clients:

https://github.com/scylladb/scylla/blob/master/service/storage_proxy.cc#L1629

Why is that?

[2019-07-21 16:33] psarna commented on #4744
@penberg that's because materialized views currently violate the layering a little bit by using a `select clause` in order to store information on which columns should be used in a view (grep for `select_clause` in `view.cc` for reference). It's been discussed several times that it's better to get rid of it and just keep raw schema information, but it's simply a very low priority item.

[2019-07-21 16:34] nyh commented on #4744
On Sun, Jul 21, 2019 at 7:23 PM Pekka Enberg <notifications@github.com>
wrote:

I think you know what it means (you wrote the initial version of the
secondary indexing code :-)), but you're right that it might be confusing
to those who don't.

That being said, the error is exactly what it said: during a *write*, the
code did some *select* and failed. Clearly, the user would not know why the
heck d

[2019-07-21 17:11] espindola opened #4745 "commit log might not close all files"
On current master (7604980d638ef83cf8f8d8083fa1a82c00572ba4) each commit log segment keeps track of whether it is closed or not. This is not exactly the same thing as the underlying file being closed. The discrepancy can cause files to be left open until they are destroyed.

[2019-07-21 19:28] slivne commented on #4741
@aleksbykov did you get the same coredumps and the same error during compaction ?

- if you did get a coredump on 3.1.rc2 please upload and provide the exact information on how to access
- if you did get the error in compaction ```... compaction_manager - compaction failed: sstables::malformed_sstable_exception (non-null component after null component in sstable): retrying  ```
please post the log

[2019-07-21 19:41] slivne opened #4746 "Scylla metrics: read timeouts of 5s are reported in 8s buffer - needs to be fixed"
copy pasting from @gleb-cloudius

[2019-07-21 19:57] amnonh commented on #4746
Problem explanation:
Histograms are collected internally in buckets with an exponential-growth factor of 1.2 and a total number of buckets of 91

To reduce message size, we sum and return a histogram with an exponential growth factor of 2.

While we can technically set a specific bucket for a known limit of 5s, it's just a number and the last bucket will always suffer from an average of 1.5 amplif

[2019-07-22 00:53] asias commented on #4705
No. I do not think it is related to node removed from a cluster stays 3 days. It was a replace operation, no node was removed.

I think it is related to hinted-handoff using the old IP. We saw similar issue in the past.

Please provide `nodetool gossipinfo` from all the nodes once you reproduce this. If we see the 54.184.103.102 was not in nodetool gossipinfo from all the nodes, then the replace o

[2019-07-22 00:56] asias commented on #4693
@slivne Please note, the fix in repair code is a workaround. To fix long term, we need to fix the flat mutation reader. Please assign this to Botond.

[2019-07-22 01:05] asias commented on #4632
I had a patch in the past. Do not have time to revisit it.

[code]

[2019-07-22 06:35] slivne commented on #4693
@asias it would have been better to create a separate issue for this specific case for repair and leave this generic issue open ... for botond to tackle :)

[2019-07-22 06:50] slivne commented on #4746
so what is the first bucket 1ms ?

In my view we at least need to have a bucket for every timeout value the user specifies in the config,

[code]

crossing the user settings is an indication of a bug we need to fix.

[2019-07-22 06:50] bhalevy commented on #4695
@denesb the test failed in `test_multishard_combining_reader_non_strictly_monotonic_positions` in [next/1006](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1006/consoleText):
[code]

This is also an off-by-a-second tombstone `deletion_time`.

[2019-07-22 06:51] gleb-cloudius commented on #4744
On Sun, Jul 21, 2019 at 09:23:25AM -0700, Pekka Enberg wrote:

Why should it? A write operation consists of multiple replica writes. If
one fails (as it the case here) it does not mean entire write will. If
enough individual replica write fail so that achieving CL is no longer
possible the operation will fail and error will be sent to a client with
info about how much individual operation failed.

[2019-07-22 06:53] gleb-cloudius commented on #4746
On Sun, Jul 21, 2019 at 11:50:36PM -0700, Shlomi Livne wrote:

With user provided timeouts per op it will not be possible.

--
			Gleb.

[2019-07-22 07:07] psarna commented on #4744
https://github.com/scylladb/scylla/issues/4478 is the issue, https://github.com/scylladb/scylla/commit/e438e3e3ce41f6c878b111f5c19bf2b28aa51098 should be backported.

[2019-07-22 07:52] roydahan commented on #4705
I think it should be easily reproduced even with dtest.

[2019-07-22 07:55] asias commented on #4705
Dtest reproducer will be much better.

On Mon, Jul 22, 2019, 15:53 Roy Dahan <notifications@github.com> wrote:

[2019-07-22 08:10] bhalevy opened #4747 "test_database_with_data_in_sstables_is_a_mutation_source: Mutations differ. Got dead cells"
Seen in [next/1005](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1005/consoleText):
Scylla version db8d4a0cc649c74e30198dd83b082b0ad50b1314

[code]

[code]

This could be related to #4695

[2019-07-22 08:17] bhalevy commented on #4707
Happened again in [next/1005](https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1005/consoleText)
Scylla version db8d4a0cc649c74e30198dd83b082b0ad50b1314
[code]

Couldn't reproduce with the same random seed.  This seems to be timing related.
@nyh / @psarna test missing `eventually` maybe?

[2019-07-22 08:23] slivne commented on #4746
True

- User provided per query timeouts -  doesn't exist at this point.
- I still expect the default limit to be whatever is set in the config - so even in that case it would be useful.

Any better idea ?

[2019-07-22 08:52] slivne commented on #4744
So do we need to apply this patch also on 3.0 branch it seems to be in 3.1 ?

On Mon, Jul 22, 2019 at 10:07 AM Piotr Sarna <notifications@github.com>
wrote:

[2019-07-22 09:12] luchenyuxx opened #4748 "compaction failed: std::runtime_error (SSTables with Cassandra-style shadowable deletion cannot be read by Scylla)"
# Description

I’m having some weird errors on sstable compaction on one materialized view: `compaction failed: std::runtime_error (SSTables with Cassandra-style shadowable deletion cannot be read by Scylla)`, although I started from ScyllaDB, my data is all generated by ScyllaDB. And it happens only on one node.

# Facts

- Error only happens on one node. On other node, the same MV works fine.
-

[2019-07-22 09:54] gleb-cloudius opened #4749 "Read execution stage can grow without bounds."
*Installation details*
Scylla version (or git commit hash): 7604980d638ef83cf8f8d8083fa1a82c00572ba4

We observe that under heavy read load read execution stage grows to several million entries:

![execstage](https://user-images.githubusercontent.com/6554938/61623488-66fa1400-ac7f-11e9-8043-5128208069d2.png)

The problem is that nothing is limiting the queue size. If works comes in faster than it

[2019-07-22 10:09] gleb-cloudius commented on #4746
On Mon, Jul 22, 2019 at 01:23:51AM -0700, Shlomi Livne wrote:

Since the data here is a histogram and not exact statistics and number
of buckets is very limited due to message size concern I do not think
there is an ideal solution here. May we should make the panel to be more
clear about what is shown there. Instead of claiming that the latency is
X it should be more clear that the latency is betw

[2019-07-22 10:37] slivne commented on #4510
@avikivity ping backport to 3.0

[2019-07-22 10:38] penberg commented on #4744
@slivne @psarna Something is not right...

We hit the issue in the _oracle_ node, which is running 3.0.6 and @aleksbykov managed to trigger the bug with 3.0.8 also.

However, the broken commit dbe8491655a3ffb6ce00c66a43a74bb2c5732382 ("view: cache is_index for view pointer") is not in `branch-3.0` so there's no need for the revert.

[2019-07-22 10:40] slivne commented on #4708
@asias why doesn't this patch fix the issue

[2019-07-22 10:42] slivne commented on #4660
@bhalevy please check if the patch is in master and backported ?

[2019-07-22 10:47] bhalevy commented on #4660
Fixed in master with 6dad9baa1c0e4634f69d698612dd3d5dd7133f1d
wasn't backported yet

[2019-07-22 10:47] #4660 closed

[2019-07-22 11:23] avikivity commented on #4510
@slivne this is row-level repair, not present in 3.0

[2019-07-22 11:48] psarna commented on #4744
Hm, if it's not a race between caching `is_index` and registering an index, then the only other thing I can think of is a race in caching the `_select_statement`. I don't know *how* `select_statement()` ends up called before the view is registed as being an index, but it would certainly result in the error we're seeing here.

Bright news is that after the `computed_columns` series, which is in, wi

[2019-07-22 12:08] slivne commented on #4741
@aleksbykov ping

[2019-07-22 12:09] slivne commented on #4741
I am currently waiting for Alex answer to know if to tag this differently

[2019-07-22 12:12] asias commented on #4708
What do you mean? How did you test?

[2019-07-22 12:47] bhalevy commented on #4733
Discussed with @denesb, should block 3.1.

[2019-07-22 12:55] slivne commented on #4708
Your patch referenced the issue it did not fix the issue - why is that ?

Is there something else to add ?

the possibility to reuse rpc streams - is not related to this issue.

On Mon, Jul 22, 2019 at 3:12 PM Asias He <notifications@github.com> wrote:

[2019-07-22 13:45] luchenyuxx commented on #4748
# SSTables

Here you can find the related sstables listed in the log:
- 1.4G    /var/lib/scylla/data/btc/outputs_by_tx_id-73b656a0a3d211e9a63000000000000d/mc-21-big-Data.db
- 1.3G    /var/lib/scylla/data/btc/outputs_by_tx_id-73b656a0a3d211e9a63000000000000d/mc-48-big-Data.db
- 1.4G    /var/lib/scylla/data/btc/outputs_by_tx_id-73b656a0a3d211e9a63000000000000d/mc-51-big-Data.db
- 1.3G    /var/lib/sc

[2019-07-22 16:48] hagitsegev opened #4750 "Support jenkins build flags and debug and dev on relocatable packages"
https://github.com/scylladb/scylla-pkg/issues/466

Stop using sudo.
Support dev and debug reloc.
Support other build flags and parameters used by build. Look on build.groovy, and see what is needed.

Currently, we have a duplicated code. So in case something is changed on scyll scripts, have to redo on pipeline.

[2019-07-22 16:53] hagitsegev commented on #4680
@kbr- Any news?

[2019-07-22 19:30] kbr- commented on #4680
@hagitsegev not yet, I'll investigate the issue tomorrow.

[2019-07-23 04:38] #4642 closed

[2019-07-23 04:38] #4661 closed

[2019-07-23 04:38] #4745 closed

[2019-07-23 04:38] #4749 closed

[2019-07-23 05:16] bhalevy commented on #4466
@penberg ping.  We ran out of space on one the `packager` servers yesterday again and the ws-cleanup dirs there just accumulate space over time and clog the file system.
[code]

[2019-07-23 05:28] aleksbykov commented on #4741
@slivne Sorry for delay.
The latest rerun on give the next errors:
[code]
Logs are available here : https://cloudius-jenkins-test.s3.amazonaws.com/ee10c8e5-dfaf-4cbe-8fed-6a44db9d0d82/abykov-gemini-basic-3.1-db-cluster-ee10c8e5.zip
https://cloudius-jenkins-test.s3.amazonaws.com/beef7636-13ff-4ccd-86a7-447d597f26ee/abykov-gemini-basic-3.1-db-cluster-beef7636.zip

[2019-07-23 05:32] aleksbykov commented on #4741
logs for compaction errors are here: https://cloudius-jenkins-test.s3.amazonaws.com/ae637a44-dcbd-42ce-ae38-cf3e32d0e087/2019_07_19_09_37_23/db-cluster-ae637a44.zip

[2019-07-23 05:57] aleksbykov commented on #4741
[code]

[2019-07-23 06:42] asias commented on #4708
OK. I thought you wanted to use this issue to track the out of ports issue.  For this specific repair issue, my patch closes the issue.

[2019-07-23 06:44] asias commented on #4708
I am closing it. The patch 64a4c0ede2fb4dc6abf9da5faa35b2fa0c5bc40c is merged.

[2019-07-23 06:44] #4708 closed

[2019-07-23 06:46] asias commented on #4693
As you can see, my repair patch Refs this issue instead of closing it.

[2019-07-23 07:32] eliransin commented on #4623
591d296 makes master behave similarly

It seams that @gleb-cloudius was spot on :+1:
Is there a risk in backporting it to 3.0?
@slivne  Should we?

![image](https://user-images.githubusercontent.com/22260843/61691747-e4339080-ad34-11e9-91a0-3aca9deb4e22.png)

[2019-07-23 08:05] tzach opened #4751 "scylla.yaml parameter "rpc_interface_prefer_ipv6: false" is ignored"
Scylla version (or git commit hash): master

As far as I can see, `rpc_interface_prefer_ipv6` parameter is ignored.

In Apache Cassandra, the same parameter is read
https://github.com/apache/cassandra/blob/cassandra-3.11/src/java/org/apache/cassandra/config/DatabaseDescriptor.java#L857

[2019-07-23 08:06] tzach commented on #4751
@elcallio should this be part of the ipv6 addition?

[2019-07-23 08:09] tzach commented on #4751
Cassandra also include a parameter `listen_interface_prefer_ipv6: false`
https://github.com/apache/cassandra/blob/cassandra-3.11/conf/cassandra.yaml#L622

[2019-07-23 08:36] elcallio commented on #4751
I honestly had no idea those even existed. But they should probably be implemented, yes.
However, they are also a bit misleading as we don't really have any "interface" support in scylla/seastar.

[2019-07-23 10:10] avikivity opened #4752 "Out of memory in cartesian product IN queries"
Reproducer:

[code]

[2019-07-23 10:57] tzach commented on #2511
@avikivity @slivne can we break the memory locking and swap to two issues so we can make progress for the second, even if there is no agreement on the first?

[2019-07-23 11:23] Mepherotus commented on #4649
It will take me some time as, while investigating, we discovered that we had a faulty switch in the rack. As soon as the networking issues will cease i'll start a repair with scylla manager and monitor.

[2019-07-23 11:49] tzach commented on #4751
same here

[2019-07-23 15:21] kbr- commented on #4680
So it turned out that we don't need to create an xml file with all test results, since every boost test already creates an xml file.
But non-boost tests don't, and the above pull request changes it.

[2019-07-23 15:57] kbr- commented on #4680
Example results:
![image](https://user-images.githubusercontent.com/6516501/61727172-267bc280-ad73-11e9-8f47-f497d7c9283c.png)
(ignore test1, test2, and unit tests row, they are artifacts from previous testing runs, will be gone after some time)

See https://jenkins.scylladb.com/view/master/job/scylla-master/job/manual-and-scheduled-tests/job/byo_build_tests_dtest/test_results_analyzer/.

[2019-07-23 16:36] hagitsegev commented on #4680
build system related changed are on https://github.com/scylladb/scylla-pkg/pull/469

[2019-07-23 23:34] amoskong commented on #4647
I still didn't reproduce this issue, after enabled trace for migration_manager & gossip for all db nodes), some nemesis (eg: drain) are very slow, there are other new issue occurred to break the job.

I will try to reproduce this issue by new job after addressed new issue.

[2019-07-24 05:23] asias opened #4755 "Make boot process faster by making wait for gossip to settle faster"
During boot up, we need to wait for gossip in multiple places:

1) Wait for gossip to settle to enable features. See commit
71bf757b2c8fb372bfd115ed00bf56069331d7cc ("gossiper: Enable features
only after gossip is settled").

2) Wait until local node knows tokens of peer nodes before announcing
join status. To make sure when the writes sent by the other nodes for
pending token range arrives, the l

[2019-07-24 06:57] slivne commented on #4752
Does cassandra have a limit on this as well ?

[2019-07-24 07:07] tzach commented on #4752
Apache Cassandra 3.11.4 fails with timeout
[code]

[2019-07-24 07:21] slivne commented on #4752
to be clear it should have the same issues that we have on memory - do they
have a hard limit on the amount of paritions in a single select ?

On Wed, Jul 24, 2019 at 10:07 AM Tzach Livyatan <notifications@github.com>
wrote:

[2019-07-24 07:28] tzach commented on #4752
If they ware, Cassandra would not time-out (or it is higher than it needs to be)

[2019-07-24 08:38] slivne commented on #4752
Or you ran it with a small heap and not like they run in production

On Wed, Jul 24, 2019 at 10:28 AM Tzach Livyatan <notifications@github.com>
wrote:

[2019-07-24 12:14] bhalevy commented on #4673
Cc @espindola
@tgrabiec, does `set sysroot` helps gdb to locate the library as a workaround?

[2019-07-24 13:07] bhalevy commented on #4466
Closing this issue as the problem is being dealt with in scylladb/scylla-pkg#358

[2019-07-24 13:07] #4466 closed

[2019-07-25 06:09] tzach commented on #4703
Maybe a Token Bucket per partition is a good fit here, allowing for short bursts above the hard limit
(or as a v2?)

[2019-07-25 09:00] penberg commented on #4680
@bentsi @kbr- What tests in `test.py` are _not_ using Boost Test? I only see this:

[code]

[2019-07-25 09:03] kbr- commented on #4680
See also line 236

[2019-07-25 09:04] penberg commented on #4680
Aah, right, LSA and row cache tests. Thanks for the clarification, @kbr-!

[2019-07-25 09:17] slivne commented on #4751
@elcallio - which parts in the config related to ipv6 are supported ?

the ipv6 that we merged covered a configuration value: ``` enable_ipv6_dns_lookup ``` any other config related to ipv6 ?

aside of that are all addresses in the config can be set to ipv6 value:
listen_address, broadcast_address, rpc_address, api_address, prometheus_address, broadcast_rpc_address, seeds ?

[2019-07-25 09:20] slivne commented on #4748
@bhalevy - I marked this as MC since the user is using MC (although it may be not MC only).

[2019-07-25 09:25] slivne commented on #4722
Well I don;t understand whats the bug - @vladzcloudius if its clear to you can you detail the bug (even better send a patch :)).

[2019-07-25 09:31] slivne commented on #4649
@Mepherotus @horschi - it will help if you use all the flags passed to addr2line  `-Cfpi -e` - it will provide the code as well :)

[2019-07-25 09:33] slivne commented on #4530
@virenderdubey closing this issue - if you can provide additional information we will reopen

[2019-07-25 09:34] slivne commented on #4505
@r4fek any update ?

[2019-07-25 09:36] slivne commented on #4423
@juliayakovlev if you can run this on a more uptodate scylla version we will queue it for work ...

[2019-07-25 09:37] tgrabiec commented on #4673
@bhalevy I think you could use `set sysroot`, but I just copied the correct `libthread_db` from the build machine into `/usr/lib/debug/opt/scylladb/libreloc/libthread_db.so.1` where it's expected to be (and after Takuya's fix, should always be) and GDB found it. The issue is no longer about that.

[2019-07-25 10:07] horschi commented on #4649
Hi @slivne,

sure, if it helps to fix the issue :-)

[code]
kind regards,
Christian

[2019-07-25 10:44] bhalevy commented on #4748
@haaawk should be familiar with this area of the code

[2019-07-25 10:48] haaawk commented on #4748
It's not related to MC but to MV and shadowable tombstones used for them. We realize the concept differently than cassandra and don't accept cassandras version at the moment.

[2019-07-25 12:13] glommer commented on #4748
As Chenyu said, these files were generated by Scylla.

On Thu., Jul. 25, 2019, 6:48 a.m. Piotr Jastrzębski, <
notifications@github.com> wrote:

[2019-07-25 14:00] avikivity opened #4758 "cache-mostly read workloads can overload memory"
Requests served from disk have a queue that limits memory use an expire timed-out requests, but requests served from cache do not. This can cause those requests to consume too much memory, and the reactor to process expired requests rather than timing them out and returning an error.

[2019-07-25 15:24] glommer opened #4759 "possible deadlock between connection authentication and the stall detector"
Calling into the auth library can deadlock if they generate a stall.
That's because the stall detector will call dlopen() too, and that will take locks that may already be held.

This is described at

scylladb/seastar#667

[2019-07-25 15:35] juliayakovlev commented on #4423
@slivne  The test passed (Scylla commit 3af8431a40ade56ae8e51f716c0556216b82808e)

[2019-07-25 15:52] vladzcloudius commented on #4722
@slivne I don't know what the problem that caused the test to fail is but I'm pretty sure it's not what @bhalevy thinks. Another thought on top of what I wrote before - if the test was broken the way Benny thinks it would not work every time. I think we all know it works.

We can also see that test itself finished till the final phase where it checks that the token previously inserted is replayed

[2019-07-25 17:34] avikivity commented on #4752
@slivne that query generates billions of objects, no heap can hold it.

[2019-07-25 17:52] avikivity commented on #4752
Cassandra goes mad with this:

[code]

[2019-07-25 19:00] avikivity opened #4761 "memory corruption if an exception happens in index_reader"
index_reader only close()s its input_streams if it reads successfully. Since a destroy-before-close can result in memory corruption, this is dangerous.