[2020-07-16 20:22] nyh commented on #6767
Thanks!

[2020-07-17 03:01] aleksbykov commented on #6601
Issue reproduced during gemini job [link](https://jenkins.scylladb.com/job/scylla-4.2/job/gemini-/job/gemini-3h-with-nemesis-test/11/)
But on this time no any user types was generated by gemini
[code]
Could it be related to MV or Indexes?

[2020-07-17 03:07] aleksbykov commented on #6851
Issue reproduced during regular gemini run.
Job [link](https://jenkins.scylladb.com/job/scylla-4.2/job/gemini-/job/gemini-3h-with-nemesis-test/11/)
Scylla version: 4.2.rc1-0.20200709.51d4efc3212 with build-id fe5f4c9282b21b22bbcc986f8c43836f6d6cf32d

gemini running over 3 nodes with next schema
[code]
Scylla was stopped and started on node 3. During node 3 restarting, Node1 reported next errors:
[

[2020-07-17 03:50] vladzcloudius commented on #6796
@asias @avikivity
Seed nodes today are only contacted when node starts up.
Seeds are absolutely not important/relevant after that.
There are situations when cross-DC link is very slow and even sometimes partitioned and preventing the node to bootup because of some temporary net slowness makes no sense whatsoever.

Giving closer seeds a priority during the node bootup will decrease the probability

[2020-07-17 05:33] Felix-zhoux commented on #6689
It seems that the delay problem is not caused by reading too many tomstones. After executing nodetool compact, I started a new round of testing. The result is as shown in the figure below. The delay of P99 write is still 4ms, but the delay of P99 read directly reaches 524ms.

![image](https://user-images.githubusercontent.com/59597542/87752018-f2c26400-c831-11ea-9c77-5881c9986936.png)
![image](htt

[2020-07-17 05:47] avikivity commented on #6865
Duplicate of https://github.com/scylladb/scylla-jmx/issues/110

[2020-07-17 05:47] #6865 closed

[2020-07-17 05:50] avikivity commented on #6751
The move hasn't been completed.

[2020-07-17 08:22] aleksbykov opened #6867 "creating schema with time difference more than 10 sec between nodes, cause the c-s command failed"
*Installation details*
Scylla version (or git commit hash): 4.1.1-0.20200703.1d9bbbc9577 with build-id 697597645b4ac8b44ce5d4fb3f71b7264667715f
Cluster size:4
OS (RHEL/CentOS/Ubuntu/AWS AMI):
gce_image_db: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9
scylla_repo: https://s3.amazonaws.com/downloads.scylladb.com/deb/debian/scylla-4.1-stretch.list

Rolling

[2020-07-17 10:58] aleksbykov commented on #6867
The issue reproduced again job [link](https://jenkins.scylladb.com/job/scylla-4.2/job/rolling-upgrade/job/rolling-upgrade-debian9-test/11/) and only on debian-9.

[2020-07-17 11:17] amnonh commented on #6808
@slivne unless I'm missing something, some of the shards have zero value, do you think it's a monitoring issue?

[2020-07-17 12:05] aleksbykov opened #6868 "Segmentation Fault and coredump on other 2 nodes, when decommission process was interrupted with hardboot on 3rd node"
*Installation details*
Scylla version (or git commit hash): 4.2.rc1-0.20200709.51d4efc3212 with build-id fe5f4c9282b21b22bbcc986f8c43836f6d6cf32d
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03396516d7bd6a5fa

job [link](https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-1tb-7days-test/6/) longevity-1Tb-7d failed after 1d10h.

Before issue over cluster

[2020-07-17 12:32] aleksbykov opened #6869 "A lot of reactor stalls from 650 to 1800 during cluster initialization from node has been added to cluster already"
*Installation details*
Scylla version (or git commit hash):Scylla version 4.2.rc1-0.20200709.51d4efc3212 with build-id fe5f4c9282b21b22bbcc986f8c43836f6d6cf32d
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03396516d7bd6a5fa
instance_type_db: i3.4xlarge

During cluster initialization and add new node to cluster, there are a lot of Reactor stalls from nodes which are alreary in cluster
Reacto

[2020-07-17 13:50] vladzcloudius commented on #6796
I see that we send Syns in the shadow round to all seed nodes at once and wait for at one to respond.
So, the boot will not fail as I initially thought.

So, probably what we have is indeed ok as is.

Closing for good now.

[2020-07-17 13:50] #6796 closed

[2020-07-19 06:50] slivne commented on #5577
pushing to 4.4. hopefully by then we will replace all.

[2020-07-19 06:52] slivne commented on #3806
will be fixed by #6792 fix (pending review)

https://github.com/scylladb/scylla-tools-java/pull/182

[2020-07-19 07:37] avikivity commented on #6869
Duplicate of #6191

[2020-07-19 07:37] #6869 closed

[2020-07-19 07:37] avikivity commented on #6192
Duplicate of #6191

[2020-07-19 07:37] #6192 closed

[2020-07-19 07:38] avikivity commented on #6191
Copying comment from #6192

/cc @elcallio

[code]

These to look like they could take a long time. The only solution I can see is to offload it to an alien thread.

btw, the manual says:

[2020-07-19 07:41] avikivity commented on #6689
Please enable tracing (https://docs.scylladb.com/operating-scylla/nodetool-commands/settraceprobability/). A probablity of 0.001 will generate a trace every few seconds.

[2020-07-19 08:04] avikivity opened #6871 "critical local and distributed tables can lose data on power failures with commitlog_sync = periodic"
commitlog_sync = periodic trusts that the cluster power delivery is stable enough that we won't lose power simultaneously in multiple nodes, and that the kernel and scylla similarly won't crash. There is no way to guarantee this, so by setting commitlog_sync = periodic (sadly it is the default) the user is trading off performance for some data safety.

However, this also applies to local tables, w

[2020-07-19 08:05] avikivity commented on #6871
A fix would be to ignore commilog_sync for these tables and always use batch. We already implemented this for the paxos table, so it should be easy.

[2020-07-19 08:51] avikivity commented on #6709
Backported to 4.2, no other vulnerable versions.

[2020-07-19 09:09] slivne commented on #6871
@haaawk lets assign this to @wmitros if you think this is doable

[2020-07-19 09:12] slivne commented on #6868
@bhalevy

at least one of them seems either in botond's or asias queue - I'll let you figure this out

[code]

[2020-07-19 09:17] slivne commented on #6684
closing - assuming its working. If there is still an issue please comment and we can reopen

[2020-07-19 09:23] slivne commented on #6681
closing the issue is stale

@shantanu422 , we will be happy to work with you on checking this out further
- can you please provide a smaller reproducer that we can test this out locally
- alternatively if you can share the data we can try and upload this and check it out as well.

Please note only 4.0, 4.1 are supported now.

[2020-07-19 09:23] #6681 closed

[2020-07-19 09:24] slivne commented on #6658
@bhalevy / @raphaelsc - what can we do here ?

[2020-07-19 09:27] slivne commented on #6653
@aleksbykov does this happen without CDC enabled as well ?

[2020-07-19 09:35] nyh commented on #6684
@slivne this seems like a trivial issue to verify, did anyone actually try before we just close it?
I'm trying now but can't compile nodetool... I'll discuss this separately.

[2020-07-19 09:41] avikivity commented on #6825
No vulnerable branches.

[2020-07-19 09:41] aleksbykov commented on #6653
@slivne
During the test cdc was not enabled for any table or configured.
This happened without CDC
I didn't meet it before

[2020-07-19 10:40] bhalevy commented on #6658
I'm not sure we need to do anything.
The decision what to do when hitting a sstable that couldn't be loaded is essentially the caller's.
In some cases we can propagate the error back to the client, and in some cases, like when starting scylla, we prefer to abort, when hitting invalid sstables.

By "strong exception guarantees" I'd just expect the table code to not leave any side effects on the tab

[2020-07-19 11:16] avikivity commented on #6658
add_sstable() doesn't provide strong exception guarantees:

[code]

If any line after the assignment to _sstables fails, we end up in an inconsistent state.

[2020-07-19 11:29] nyh commented on #6684
I think (see example below) that this issue was solved in nodetool, but not in cqlsh.
So I'm reopening. I'm not saying this is an important issue, and you can still close it ifyou want, but not as "assuming it's working".

In the following example, the file `/tmp/a` is a directory,  `/tmp/b` is unreadable (chmod 0), `/tmp/c` doesn't exist:

Cqlsh still has this problem:
[code]
Note how the error m

[2020-07-19 11:34] bhalevy commented on #6868
@denesb please investigate (high priority)

[2020-07-19 11:42] bhalevy opened #6874 "simple_kill_streaming_node_while_bootstrapping_test: Startup failed: std::runtime_error ({shard 0: fmt::v6::format_error (invalid type specifier), shard 1: fmt::v6::format_error (invalid type specifier)})'])"
Seen several time recently in next runs:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2255/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/dtest___simple_kill_streaming_node_while_bootstrapping_test/
https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2258/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/dtest___simple_kill_stream

[2020-07-19 11:43] bhalevy opened #6875 "test_remove_node_during_index_build times out in 4.1"
Seen several times in 4.1 dtest-release jobs:

https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/dtest-release/50/testReport/secondary_indexes_test/TestSecondaryIndexes/test_remove_node_during_index_build/
https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/dtest-release/53/testReport/secondary_indexes_test/TestSecondaryIndexes/test_remove_node_during_index_build/
https:/

[2020-07-19 11:59] eliransin commented on #4940
@nyh, can view building generate the same stress on the system ( unbounded parallelism on the replica writes).

[2020-07-19 12:34] nyh commented on #4940
No. View building has bounded parallelism and will not continue until previous updates have finished.

[2020-07-19 14:22] nizarh11 opened #6876 "Failed to mount Scylla data directory after Scylla hard reboot"
*Installation details*
Scylla version (or git commit hash):Scylla version 666.development-0.20200716.09d3a3543 with build-id cfbf8d38ae5f73d91c6528cc755b40a7651a4c53
Cluster size:6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b9c2aca9ce37eaa1
Test id: 66c57164-8ab2-4c24-9fdb-6e51abe5cfbd

Longevity link (https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-10gb-3h-test/1

[2020-07-19 14:41] ShlomiBalalis opened #6877 "Hint manager drops hints during node down time"
*Installation details*
Scylla version (or git commit hash):  666.development-0.20200716.09d3a3543 with build-id cfbf8d38ae5f73d91c6528cc755b40a7651a4c53
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b9c2aca9ce37eaa1 (Ireland)

At `2020-07-17 00:32:52,312` sct stopped the scylla service of node#5, and started it again at `2020-07-17 00:34:18,690`. Afterwards, we queried Prometheus, and acco

[2020-07-19 15:08] avikivity commented on #6876
@syuu1228 this build includes 9b5f28a2e3f7a2550a53de343b69240d9b5d31ca. Is anything else missing?

[2020-07-19 16:19] #6860 closed

[2020-07-19 16:52] hagitsegev commented on #6767
I'm copying from a mail sessions, Splitting it to some comments ahead, trying to make things clear, and see what should be done:

The Jenkins job collects some files to set as artifacts on Jenkins.
As Kostja said, there are 2 formats, junit and xunit.
I collect both, according to these path under scylla dir
"testlog/$mode/xml/*.xunit.xml"
"testlog/$mode/xml/junit.xml"

So
testlog/dev/xml/run.1.xun

[2020-07-19 16:54] hagitsegev commented on #6767
Nadav: about "**testlog/dev/xml/run.1.xunit.xml => should be catched by my script, so I guess it is in the wrong format.**":

I don't know if it's the wrong format... I just used the "--junit-xml" option of pytest. The name suggests "junit" but it is an XML format, and "pytest --help" suggests there are different possible output modes called "xunit1", "xunit2", which adds to the confusion.

Can yo

[2020-07-19 16:55] hagitsegev commented on #6767
Nadav's answer about:
"**testlog/dev/xml/alternator_base64_test.1 => is not a candidate for my script. But I guess there is some other process that collects such files into a single junit.xml file that I collect.**"

No, the file looks like testlog/dev/xml/alternator_base64_test.2.xunit.xml - it also ends in ".xunit.xml", so I guess it does match your wildcard.

[2020-07-19 17:11] ShlomiBalalis opened #6878 "nodetool upgradesstables fails after upgrading scylla"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200716.09d3a3543 with build
-id cfbf8d38ae5f73d91c6528cc755b40a7651a4c53
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): GCE image - https://www.googleapis.com/compute/v1/projects/centos-cloud/global/images/family/centos-7

At the rolling upgrade test of master, after the first node, node#2, was upgraded, `nodetool up

[2020-07-19 17:14] nizarh11 commented on #6878
18.04
[code]
16.04

[code]

[2020-07-19 17:19] avikivity opened #6879 "CREATE TABLE WITH DEFAULT TIME_TO_LIVE is accepted for a counter table"
Counters don't support TTL, yet

[code]

is accepted.

[2020-07-19 17:21] avikivity commented on #6879
Direct TTL is correctly rejected:

[code]

[2020-07-19 17:35] nyh commented on #6767
@hagitsegev I don't understand anything above, I don't understand what is my question (seems much of your text above are various snippets of thing that *I* wrote), what is your questions, what is an answer and what is some weird quote from somebody else's (?) mail. Please go back to my description of the issue (first thing on this page), I think I explained it very clearly, and it should have a ve

[2020-07-19 17:36] hagitsegev commented on #6767
Nadav - I'm still writing, will let you know when done.
Maybe I should have write it on some draft, and copy after that. Sorry.

[2020-07-19 18:30] hagitsegev commented on #6767
So @nyh ,
I was reading your questions above (and on mails that I quote),
The files on https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2265/artifact/testlog/dev/xml/ are published OK:
alternator_base64_test.34.xunit.xml
alternator_base64_test.35.xunit.xml
alternator_base64_test.36.xunit.xml
(as I thought, the number is a counter, the names are taken from YOUR mail. I'm not conf

[2020-07-19 18:51] nyh commented on #6767
Thanks for the pointer to https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2265/artifact/testlog/dev/xml/. I'm asking about one specific file there, https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2265/artifact/testlog/dev/xml/run.1.xunit.xml. This is the output of the test I'm asking about (there is also run.2.xunit.xml and run.3.xunit.xml there).

So obviou

[2020-07-19 20:35] nyh commented on #6767
I sent to the mailing list a one-liner patch titled "alternator test: produce newer xunit format for test results" which I hope fill fix this problem by giving pytest the "xunit2" option which supposedly produces a format that Jenkins can understand.

I don't know how to check this, though, except committing the trivial patch and seeing if it really solved this issue....

[2020-07-19 22:19] roydahan commented on #6877
@ShlomiBalalis please check if it's #5146 .
If it does, please close as duplicate.

[2020-07-19 22:22] #6762 closed

[2020-07-19 22:32] #4433 closed

[2020-07-20 02:04] asias commented on #6874
I will take a look.

[2020-07-20 06:05] denesb commented on #6645
@shlivne yes, a coredump should shed some light on this.

[2020-07-20 06:08] denesb commented on #6784
@bhalevy this assert is triggered when a managed bytes is linearised without a linearization context. It can also be simply due to the managed bytes being corrupt.

[2020-07-20 06:10] denesb commented on #6851
Yes, it is very strange to see a read from a user table use the system semaphore. We may have some mis-tagged continuations in the read path.

[2020-07-20 06:13] denesb commented on #6613
No, it will be much faster if I reproduce this locally, so no point in getting any more cores from QA.

[2020-07-20 07:00] haaawk commented on #6846
User has reported a similar issue with get_time_UUID_bytes() -> https://github.com/scylladb/scylla/issues/6208

[2020-07-20 07:00] bhalevy commented on #6874
thanks.

Hit again BTW in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2267/testReport/junit/update_cluster_layout_tests/TestUpdateClusterLayout/dtest___simple_kill_streaming_node_while_bootstrapping_test/

[2020-07-20 07:04] avikivity commented on #6613
Is there a reliable reproducer? If so we can start a bisect in parallel.

[2020-07-20 07:08] asias commented on #6874
I could not reproduce with the exact scylla version. I am building with the dbuild. The fmt version it uses: fmt-devel-6.2.1-1.fc32.x86_64.

I suspect it is libfmt related.

[2020-07-20 07:12] asias commented on #6874
The line in question was:

(id is of type repair_uniq_id)

[code]

The print function for the repair_uniq_id is:

[code]

@avikivity Do you know if there is any limitation on  recursive format() usage?

[2020-07-20 07:54] bhalevy commented on #6874
@asias we don't use format in seastar logger.  See `logger::really_do_log`

[2020-07-20 07:57] bhalevy commented on #6874
Also, the following log message indicates that `repair_uniq_id` is printed just fine, no?
[code]

[2020-07-20 07:58] asias commented on #6874
You are correct. The exception comes from somewhere else.

[2020-07-20 07:58] asias commented on #6874
@bhalevy Do you have a recent "good" commit?

[2020-07-20 07:59] raphaelsc commented on #6092
Found out this issue was about tombstone compaction continuously trying to purge data with no success, as there's overlapping among SSTables which prevent their data from being purged. This happened because TWCS is not segregating data by age on older versions, but now it's available in the recent versions, and TWCS is also available as a last resort. So closing this issue...

[2020-07-20 07:59] #6092 closed

[2020-07-20 08:01] raphaelsc commented on #4778
not long time ago I sent a patch to compress the logs, but I still need to work on v2. and @bhalevy recently worked on the uuid which helps matching compaction start and finish.

[2020-07-20 08:01] asias commented on #6874
I think I know what is problem now:

throw std::runtime_error(format("repair id {:d} on shard {:d} failed to repair {:d} sub ranges", id, shard, nr_failed_ranges));

[2020-07-20 08:03] bhalevy commented on #6874
yes, I just saw it too...

[2020-07-20 08:03] bhalevy commented on #6874
in `repair_info::check_failed_ranges` right?

[2020-07-20 08:04] bhalevy commented on #6874
I'd leave the format specifiers out when not required....

[2020-07-20 08:06] asias commented on #6874
Yes, I am working on a patch.

[2020-07-20 08:33] raphaelsc commented on #6261
This problem no longer affects master, but it still affects older versions, so it's still worth a fix AFAICT. @bhalevy @slivne

[2020-07-20 08:35] raphaelsc commented on #6261
BTW, what I am saying is that this problem was unintentionally fixed by off-strategy work. Backporting off-strategy work to older versions is probably a big no-no as it hasn't cooked well and still not properly tested. So if this issue is affecting users, we should possibly consider writing a simple fix and backport it.

[2020-07-20 08:47] raphaelsc commented on #4952
After off-strategy work, resharding runs in maintenance group. Also if resharding on boot, we wait for resharding to complete before the node is online. This coupled with the fact that resharding sstables no longer is accounted by the backlog tracker (https://github.com/bhalevy/scylla/commit/12f5eec7640ee87021905b041d1febbee682b482), I think this issue can now be closed.

[2020-07-20 08:47] #4952 closed

[2020-07-20 08:53] raphaelsc commented on #4118
SSTables loaded by refresh are now only loaded into the table after resharded and reshaped, so closing this issue...

[2020-07-20 08:53] #4118 closed

[2020-07-20 08:57] asias commented on #6874
Patch sent: https://github.com/scylladb/scylla/pull/6880

[2020-07-20 09:12] denesb commented on #6613
I hit this accidentally while doing manual testing with ranges scans for `[PATCH v4 00/21] Limit non-paged query memory consumption`. As soon as I added some debug code, I couldn't reproduce any more. But this was late Friday afternoon, so I didn't spend a lot of time experimenting. When I reproduced, all I did was do range scans on a 3 node cluster on a roughly 4 GB dataset with `scylla_bench`.

[2020-07-20 09:17] bhalevy commented on #6261
Agreed.  We need a (simple) fix for the affected versions.
Is disallowing loading new sstables from the base directory enough?
I think it would be not too complicated to be implemented in `storage_service::load_new_sstables`

[2020-07-20 09:49] hagitsegev commented on #6767
@nyh we can run BYO to test it.

[2020-07-20 09:52] bhalevy commented on #6831
backport done in b7c5a918cb46368c8c65fc56c144c6afa4edd886

[2020-07-20 10:05] nyh commented on #6767
@hagitsegev can you please tell me how? I need to run just the build and test, and just in one mode (dev mode) - no need for 3 build modes, 3 repeats, dtests and other things. Can you please give me a pointer? Thanks.

[2020-07-20 10:12] nyh commented on #6767
Oh, no need for BYO, I see @penberg already committed my one-line patch and it ran in https://jenkins.scylladb.com/job/scylla-master/job/next/2269.
But, unfortunately, my patch didnt help... in https://jenkins.scylladb.com/job/scylla-master/job/next/2269/testReport/ I still can't seem to find any of the tests reported in testlog/dev/xml/run.1.xunit.xml. I'm running out of ideas, and have no way to

[2020-07-20 10:45] hagitsegev commented on #6767
We have the general report, in which there are some warnings, that might be related.
Such as:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2269/consoleText/
(Specify the consoleText it is much faster to download and search):
[code]
This might be related to the types.
I can:
Add some publish of the other relevant C++ formats (or any other format you think is relevant) in try&

[2020-07-20 10:54] raphaelsc commented on #6261
@bhalevy No because even if the sstable comes from upload dir it still could be picked for resharding after it was loaded into staging dir. The simplest fix I can think of is to filter out staging sstables in the resharding procedure that collects shared sstables from all shards for resharding.

[2020-07-20 11:08] nyh commented on #6767
Thanks! I couldn't find these error lines before - I didn't know they were actually in the console output. Great to know.
So the relevant problem is:
[code]
Indeed, it seems that the Boost tests use the tags TestLog and TestSuite, while run.1.xunit.xml uses the tags: testsuites, testsuite and testcase. So this is a completely different format.

I tried some Googling and it suggests that if you use

[2020-07-20 11:14] slivne commented on #6878
Blocking all upgrade tests

[2020-07-20 11:20] hagitsegev commented on #6767
I can try that...
The only "shortcut" I have is that I can run a test build from my branch (so no need to wait for code review and so).
But I still need to compile and run the tests...
Let me run some tries.

[2020-07-20 11:33] elcallio commented on #6864
It is most definitely init issues. @kbr - we apparently can both create a table with CDC log enabled and start writing to it, before the CDC streams set has been created. In this case we get the above exception when trying to get streams in `log.cc:begin_timestamp`. Should not something somewhere in this path wait for the cluster to have CDC finished enabled? I cannot see anything to really wait o

[2020-07-20 12:05] nyh commented on #6767
@hagitsegev I can't tell if how to do it (if I knew how, I'd do it myself ;-)), but can't you run *just* the conversion script, on just testlog/dev/xml/run.1.xunit.xml (which you can find in any the latest run, after my patch to use the more standard format), interactively - playing the format option or something until the parsing succeeds?
There is no way to write code if you need to wait 4 hours

[2020-07-20 12:55] hagitsegev commented on #6767
Indeed I can write a new temp process for it.
Maybe it will be faster.
Just get all the test artifacts from an existing build, and try to publish them.

[2020-07-20 13:05] denesb commented on #6868
Relocatable package: http://downloads.scylladb.com/relocatable/unstable/branch-4.2/2020-07-09T19:21:20Z/scylla-package.tar.gz

[2020-07-20 13:15] #6798 closed

[2020-07-20 13:15] #6874 closed

[2020-07-20 13:18] denesb commented on #6868
In frame 3:
[code]

[2020-07-20 13:22] nyh commented on #6767
Reopening issue. The patch I sent (and marked this as "Fixed") made the format more standard, but Jenkins still didn't understand it (it wasn't the same format as the Boost tests, just another standard format...). So this issue is still open.

[2020-07-20 13:29] nizarh11 commented on #6876
This also reproduces on:

Scylla version (or git commit hash):Scylla version 666.development-0.20200716.09d3a3543 with build-id cfbf8d38ae5f73d91c6528cc755b40a7651a4c53
Cluster size:6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b9c2aca9ce37eaa1
Test id: 77a3d199-0462-47de-a689-f9a4135ee233

[code]

[2020-07-20 13:33] ShlomiBalalis commented on #6878
Happened on the rolling upgrade test of centos 8 as well:
Scylla version 666.development-0.20200720.5371be71e90 with build-id f9c63d98faa71525d9ad186790a5a78df2fb4d61
cluster size: 1

Logs:
[code]

[2020-07-20 13:37] ShlomiBalalis commented on #6877
I don't think so, since in #5146 the hints are too slow compared to the time we expect them to be sent, while here the hints, without a doubt, already dropped.

[2020-07-20 14:18] nizarh11 opened #6882 "Scylla setup fails on Amazon2 - cpupower.service not found"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200720.5371be71e90
Cluster size:1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-099a8245f5daa82bf
Test Id: 5bdd2564-3574-4590-bae2-c7879d05eb3d
Scylla repo: https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/master/2020-07-20T01:39:33Z/scylla.repo

**scylla_util.SystemdException: unit cpupower.service is not fo

[2020-07-20 15:58] nyh commented on #6208
I think you are mis-understanding the problem (or I am misunderstanding you...). The function which you quoted,
[code]
doesn't need `clock_seq_and_node` to change to avoid returning the same id twice... It uses `create_time_safe()` which ensures that the same uuid is not generated even if called in the same millisecond on the same shard (unfortunately we use millisecond resolution, which sucks for

[2020-07-20 16:03] hagitsegev commented on #6767
Just noticed that under
https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2270/testReport/
we have "(root)" and under it, there are some alternator tests:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2270/testReport/(root)/alternator/
I didn't notice them before.
I don't know if these are ALL the tests you are looking for.

Anyway, I wrote a simple pipeline

[2020-07-20 16:15] nyh commented on #6767
No, these are not the tests I was looking for. The ones you found are just a couple of Boost (C++) tests for Alternator, which work like all the Boost tests. It is not the 500 (!) pytests I am looking for.

Those 500 tests are all listed in testlog/dev/xml/run.1.xunit.xml, which as you showed me in the log - wasn't parsed because of a schema error. The question is whether you managed to fix that?

[2020-07-20 17:25] espindola opened #6883 "compaction_write_monitor is not tested"
If compaction_write_monitor is deleted, all tests in dev-test still pass.
Since the job of the compaction_write_monitor is to interface with the backlog tracker, I think it might be possible to test it with a test compaction_strategy_impl and backlog tracker.

@raphaelsc, do you agree?

[2020-07-20 17:48] espindola commented on #6831
I don't think bisection is the right tool in here. I started with it, but there seem to be more than one bug in here and at least some failure goes a long way back.

[2020-07-20 18:42] slivne commented on #6587
- We need to enhance this and not run io_setup in other cases as well (not only when developer mode is set).
- We need to add an option to `--no-io-setup` that is available in scylla_setup, users requested to mount a scylla io configuration settings (similar to what we allow outside of docker on regular installations, as an example - ami and not compute the values everytime).

[2020-07-20 19:58] kharmabum opened #6884 "Reads require +1 response more than writes at same consistency level (QUORUM)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

**Installation details**
Scylla version (or git commit hash): `3.3.0-0.20200319.7ae2cdf46c7`
C

[2020-07-20 20:04] fruch commented on #6884
@kharmabum can you share examples of the queries ? and the schema if possible ?

[2020-07-20 20:21] nyh commented on #6689
@Felix-zhoux can you confirm that you not only did "nodetool compact", but also had gc_grace_seconds=0 in the same run?  Only that would guarantee the tombstones will go away. But anway, to be honest, I don't understand the tombstone theory - tombstones can make scans much slower, but why do they slow down reads of individual items? So I doubt tombstones can even be the problem in this case - even

[2020-07-20 21:14] kharmabum commented on #6884
@fruch here you go:

## Query 1 - Seems to exhibit issue exclusively (3 responses req)

### Query
[code]

### Schema
[code]

### Error
[code]

## Query 2 - Seems to exhibit both issue (3 response req) and expected behavior (2 response req)

### Query
[code]

### Schema
[code]

### Error
[code]

## Query 3 - Seems to exhibit expected behavior exclusively (2 responses req)

### Query

[code]

### Sc

[2020-07-20 21:32] dorlaor commented on #6884
First, I think that you have to analyze your timeouts, I think they are
coming from your wide rows. What's the length of the partitions
who timeout? You can use cql trace to get more insight for what's
going on. A cure would either be to break the partitions to smaller ones
or to extend the timeout configuration.

Regarding 3 out of quorum, that's usually the case where Scylla
or Cassandra see the

[2020-07-20 22:07] nizarh11 commented on #6882
I see the issue was previously fixed on https://github.com/scylladb/scylla/pull/6621

[2020-07-21 05:50] avikivity commented on #6874
No vulnerable branches.

[2020-07-21 06:02] Felix-zhoux commented on #6689
I am sure that I have executed `nodetool compact `and have set `gc_grace_seconds=0 `before testing.
What needs to be added is that because of the bug[ #6521](https://github.com/scylladb/scylla/issues/6521) , I did not specify a specific keyspace when executing the nodetool compact command (in this case, should all keyspace tables be compacted?)
[code]
![image](https://user-images.githubusercontent

[2020-07-21 07:17] denesb commented on #6868
[code]
The `repair_meta` was freed before the writers are cleaned up.

[2020-07-21 07:36] alienth commented on #6486
Sorry for the delay here. I have gotten gdb to work with my core dump. The locals surrounding the crash are optimized out, so I'm slightly in the dark. Any particular line of investigation I can take here that might be fruitful?

[2020-07-21 07:39] bhalevy commented on #6874
Should be backported along with https://github.com/scylladb/scylla/issues/6786 if the latter is ever backported.

[2020-07-21 07:40] bhalevy commented on #6786
If 4d7faac gets backported, need to backport 28f8798 as well.

[2020-07-21 07:43] avikivity commented on #6486
If you isolated it to a single sstable, you can try sstabledump. It will try to parse the sstable and maybe fail in a different way.

[2020-07-21 07:46] avikivity commented on #6486
It's the second assert:

https://github.com/scylladb/scylla/blob/6f939ffe199d7c21bd150fad4f0039a76e10fbfa/sstables/consumer.hh#L464-L474

[2020-07-21 07:48] avikivity commented on #6486
So, it may be that the index is broken. If sstabledump works on the sstable, the problem is likely in the index.

[2020-07-21 07:59] alienth commented on #6486
Yeah, `sstabledump` did work AOK. I did a hexdump on the index and don't see anything _obviously_ broken, but I'll try to scrutinize it more carefully later.

Note that this crash happened spontaneously on multiple different nodes, so if the index did corrupt, it was corrupting spontaneously at a fairly quick pace (3-4 crashes in a week, if I recall).

[2020-07-21 08:02] alienth commented on #6486
The index itself doesn't have any confidential data in it, so here it is in `hd` form:

[code]

That was the active sstable, per `scylla active-sstables` in GDB from the coredump.

All of the other indexes for that CF at the time of the crash are empty:
[code]

[2020-07-21 08:02] bhalevy commented on #6875
@denesb, considering we're using materialized view here, as @asias noted, might this be a deadlock / leak of the reader semaphore?

[2020-07-21 08:15] avikivity commented on #6486
It's truncated. Please attach it.

[2020-07-21 08:26] elcallio commented on #6191
Are we on gnutls 3.6+ on all platforms? If so, using `gnutls_certificate_set_known_dh_params` etc does seem much easier...

[2020-07-21 08:34] denesb commented on #6868
The other core experiences a similar crash, it crashes while logging a message in the same function. The function is this:
https://github.com/scylladb/scylla/blob/bd713959ce157a9ce7f0e125a48f52c2e56070bf/repair/row_level.cc#L551-L556

In both cores the repair-meta has been freed by the time this continuation is called. In the first core the crash happens in the logging, while trying to print the k

[2020-07-21 08:36] denesb commented on #6868
@asias do you have any theories on how this could happen? I looked at the code and I didn't see any obvious errors, the code removing the repair meta calls `repair_meta::stop()` which waits for the writer to stop. Maybe there are two concurrent remove operations? Re-running the test with the repair logger set to debug or trace level would reveal that but it can also upset the delicate timing that

[2020-07-21 08:39] avikivity opened #6885 "bogus size reports from resharding compaction"
I see this:

[code]

Indicating a bloat of 515% after resharding (2 -> 12 shards). Doesn't seem reasonable.

commit e4deaaced3d7240190a0aeecb002d82f54cb4c0f

[2020-07-21 08:49] denesb commented on #6486
@alienth are you doing reverse queries by any chance?

[2020-07-21 08:54] asias commented on #6868
My theory is:

node2 sends send_repair_row_level_stop to node1, node1 removes the repair_meta
at the same time, node1 detects node2 is down and removes repair_meta for node2

We can protect this with a semaphore.

[2020-07-21 09:07] avikivity commented on #6191
master is using 3.6, so let's start with that.

[2020-07-21 09:07] avikivity commented on #6191
Of course, that's in seastar, so better make it conditional on what's available.

[2020-07-21 09:22] avikivity commented on #6689
@Felix-zhoux yes, please pick an interesting session and select it from the events table, that shows what the query tried to do.

[2020-07-21 09:22] avikivity commented on #6689
e.g. pick one of the sessions with high duration.

[2020-07-21 09:32] kbr- opened #6886 "Failure with repair when bootstrapping a node, but the error message failed to print"
In this test run:
https://jenkins.scylladb.com/job/scylla-staging/job/abykov/job/feature-cdc-repl-scylla-scylla-test/7/

the test was trying to add 4th node to a 3-node cluster. The operation failed, as we can see in the 4th node's logs:
https://jenkins.scylladb.com/job/scylla-staging/job/abykov/job/feature-cdc-repl-scylla-scylla-test/7/artifact/scylla-cluster-tests/latest/cdc-replication-switch-c

[2020-07-21 09:36] slivne commented on #6886
@asias you fixed 28f8798464f993727cd97d70ecc284d62cfe36d7 is this the same ?

[2020-07-21 09:45] penberg commented on #6731
@tzach I am fine with that, will send a patch.

[2020-07-21 09:46] avikivity opened #6888 "multishard_mutation_query leaves no trace"
commit e4deaaced3d7240190a0aeecb002d82f54cb4c0f

multishard_mutation_query does a complex job of dividing its input among shards, but leaves nothing in trace about it. Often it can be reconstructed from sstable readers, but it should trace each shard's activity (but let's not go overboard - one trace per shard that actually performs a read, so we can see who did any work).

[2020-07-21 09:59] Felix-zhoux commented on #6689
Is the unit of measurement for duration in microseconds?

[code]

[2020-07-21 09:59] avikivity commented on #6798
Backported to 4.0, 4.1, 4.2.

[2020-07-21 10:03] avikivity commented on #6689
Yes, it's in microseconds.

Looks like alternator doesn't propagate the trace session correctly, or perhaps nothing interesting happened along the way.

[2020-07-21 10:49] denesb commented on #6875
@bhalevy yes, this is certainly possible and would be my first guess. Out of the three issues contributing for that deadlock (https://github.com/scylladb/scylla/issues/6603, https://github.com/scylladb/scylla/issues/6707 and https://github.com/scylladb/scylla/issues/6774) only https://github.com/scylladb/scylla/issues/6774 was backported to 4.2.

[2020-07-21 10:53] denesb commented on #6833
@bhalevy the queue reader is used on the repair write path, while the above mentioned two changes touch only the read path.

[2020-07-21 10:57] aleksbykov opened #6890 "C-S latency write 4s was detected during adding new node after decommission"
*Installation details*
Scylla version (or git commit hash): 4.2.rc1-0.20200709.51d4efc3212 with build-id fe5f4c9282b21b22bbcc986f8c43836f6d6cf32d
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03396516d7bd6a5fa

Job [longevity-50GB-4d](https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-50gb-4days-test/9/artifact/scylla-cluster-tests/latest/) detected the cassandra stress

[2020-07-21 10:57] nyh opened #6891 "Test tracing of Alternator queries"
In https://github.com/scylladb/scylla/issues/6689#issuecomment-661763063 a user ran Alternator queries with tracing enabled, and @avikivity theorized that it "Looks like alternator doesn't propagate the trace session correctly".

The commit where @psarna added tracing support to Alternator was commit 8d27e1b4a9db7210674da0e581daebf1325e1589 and the commit message had an example of that tracing wor

[2020-07-21 11:04] denesb commented on #6868
The decomissioned node was hard-rebooted according to the issue description, so I don't think it is plausible that it had a chance of gracefully ending the process. @aleksbykov what do you mean by hard-reboot exactly? Was scylla shutdown, or was it killed (`kill -9`) or was the vm terminated, or something else?

[2020-07-21 11:06] nyh commented on #6689
By the way, if tracing is broken in Alternator like @avikivity suspected (I created an issue for this, https://github.com/scylladb/scylla/issues/6891 - but in the past I know it worked...), you can also run a CQL query on the Alternator table and check that. I remember you did that in the past to verify that a CQL query would also encounter the same large latency.

[2020-07-21 11:15] aleksbykov opened #6892 "nodetool repair and repair process stuck on node for 3 days"
Installation details
Scylla version (or git commit hash): 4.2.rc1-0.20200709.51d4efc3212 with build-id fe5f4c9282b21b22bbcc986f8c43836f6d6cf32d
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03396516d7bd6a5fa

Job [longevity-50GB-4d ](https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-50gb-4days-test/9/artifact/scylla-cluster-tests/latest/) had nodetool repair command an

[2020-07-21 11:18] jul-stas commented on #6878
I figured out the probable cause, the patch will be soon in scylla-tools-java

[2020-07-21 11:23] slivne commented on #6882
@tzach please note we will not support Amazon Linux2 in 4.2

[2020-07-21 11:26] bhalevy commented on #6892
@denesb Could this a manifestation of https://github.com/scylladb/scylla/issues/6875?

[2020-07-21 11:29] roydahan commented on #6890
@aleksbykov the decoded backtraces aren't full, did you use the auto_decoding?
If so, try to decode manually.

[2020-07-21 11:31] roydahan commented on #6890
Also, find the error message that caused the rate-limit (17558 messages lost due to rate-limiting).
Search above this error, to look for the error that repeats itself.

[2020-07-21 11:34] bhalevy commented on #6831
Not sure if it's the same issue, but it could if there's some kind of memory corruption:
https://jenkins.scylladb.com/view/enterprise/job/scylla-enterprise/job/next/678/artifact/testlog/release/mutation_reader_test.10.log
[code]

[2020-07-21 12:04] denesb commented on #6892
Either that or the repair deadlock issue https://github.com/scylladb/scylla/issues/6272.

[2020-07-21 12:07] bhalevy commented on #6875
Note that this happens in 4.1

[2020-07-21 12:08] denesb commented on #6875
Right, I meant to say 4.1.

[2020-07-21 12:11] bhalevy commented on #6707
@avikivity @scylladb/scylla-maint please backport also to 4.1 due to #6875

[2020-07-21 12:24] Felix-zhoux commented on #6689
I have used cqlsh to perform several queries, but I can’t guarantee that I can get a relatively large latency query (at the current stage, the P99 latency is very high, and the latency of some queries is not high, the average latency is 150ms). The following is the situation where one of the queries was captured:

[code]

[code]

[code]

[2020-07-21 12:24] slivne commented on #6892
@bhalevy / @denesb
- is 4.2 missing any backport ?
 - is the specific 4.2 version mentioned missing a fix ?

[2020-07-21 12:39] kbr- opened #6893 "SSTable <name> uses CDCPartitioner partitioner which is different than Murmur3Partitioner partitioner used by the database"
Steps to reproduce:

1. start node with CDC enabled
2. create a table with CDC enabled
3. insert data into the table
4. nodetool flush
5. restart node

result:
[code]
By the way, it's funny that none of our tests catched that (I catched it by accident)

[2020-07-21 12:45] avikivity commented on #6707
Backported to 4.1, 4.2.

[2020-07-21 13:03] bhalevy commented on #6548
It seems like this timeout is benign and may becaused just by general debug-mode slowness against the hard coded timeout.
Let's ignore this log message in the tests then.

[2020-07-21 13:07] denesb commented on #6892
@slivne the fix for #6272 was deemed to risky to be backported anywhere. As for the fixes for the view update generator deadlock, those that were merged already (#6707 and #6774) were backported to both 4.1 and 4.2. The remaining one (#6603) is not merged yet, and as it depends on the fix for #6272 it probably won't be backported either.

[2020-07-21 13:09] jul-stas commented on #6878
@ShlomiBalalis Could you help me test this change: https://github.com/scylladb/scylla-tools-java/pull/188 ?
How do I trigger the behavior you described?

[2020-07-21 13:09] avikivity opened #6894 "builds require Internet for tools/java and tools/jmx"
Since 5d99d667ec7de8cb2d0bb514b290fa3f4a0c892e, builds now contact the maven repositories to fetch Java artifacts. This is slow and also makes builds less reliable.

[2020-07-21 13:10] avikivity commented on #6894
We might prime the cache by downloading all the dependencies in ./install-depedencies.sh. We'll need to stop mounting ~/.m2 in dbuild, since maven supports only one cache.

[2020-07-21 13:19] denesb commented on #6548
@bhalevy we need to be careful on what messages we ignore exactly. Semaphore timeouts can indicate genuine problems. Since be452b1f912aa3fa45af7a7bca142ab09d11c450 these error messages will also include the keyspace and table name, so we should only ignore those semaphore/keyspace/table combinations that we know are indeed benign.

[2020-07-21 13:28] vladzcloudius commented on #5109
@avikivity Could you, please, consider backporting this to all supported branches: OSS and Enterprise.
This issue has been bugging the field for a very long time.
Today we have to disable compaction (configure NullCompactionStrategy) in order to speed up streaming (e.g. `nodetool rebuild ...`) if we can and suffer from a very long streaming where we can't.

This part is meant to improve this situa

[2020-07-21 13:51] haaawk commented on #6893
It's interesting because the check seems to be right `v.partitioner.value != to_bytes(_schema->get_partitioner().name()` maybe schema for cdc_log is not persisted correctly.

[2020-07-21 13:52] nizarh11 commented on #6892
I see this issue also on master,

Installation details
Scylla version (or git commit hash): 'version': 'core-666.development' and 'commit_id': '5371be71e90'
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-057bac86e0f131898

Job longevity-lwt-3h-test had nodetool repair command and repair was stuck,
last repair message I see is "**Repair 791 out of 791 ranges**" and the command is not exiting

[2020-07-21 14:03] penberg commented on #6882
@slivne We could backport commit 06bcbfc4c3a157d754cac02536aaca1e966d13ea to 4.2 and 4.1. The fix is non-intrusive and only affects Amazon Linux 2.

[2020-07-21 14:05] penberg commented on #6882
@nizarh11 Yeah, it was fixed, and as you are running 5371be71e90, you should have the fix. @syuu1228 any ideas what's going on here?

[2020-07-21 15:14] ShlomiBalalis commented on #6878
I don't believe we have a way to test it, no.
You can recreate it by running `upgradesstables` on a node that uses the latest scylla-master version (though I'm not sure if it necessarily needs to be after an upgrade), it seems to happen consistently.

The error also seem to occur when running `nodetool cleanup`:
[code]

It occurred in our 200gb longevity. Installation details:
Scylla version (or g

[2020-07-21 15:24] raphaelsc opened #6895 "STCS is quite inefficient getting rid of expired SSTables in workloads with default TTL"
In a workload where data is only written with default TTL, STCS can do way better when getting rid of expired data. In a real world use case, it was found that lots of expired SSTables (hundreds of GBs) had no blockers, meaning they could be purged right away, but they weren't being selected by compaction because of the strategy heuristics which waits for N similar-sized SSTables before compacting

[2020-07-21 16:26] nyh commented on #6891
By the way, the commit which added tracing support to Alternator was commit 8d27e1b4a9db7210674da0e581daebf1325e1589. This commit also has an example of what a trace should look like.

[2020-07-21 16:32] hagitsegev commented on #6767
@nyh
Regarding the warnings on run.N.xunit.xml (where N is 1,2,3)
I'm looking on these files, comparing to other files.
Let's take https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2261/artifact/testlog/release/xml/schema_changes_test.13.xunit.xml as an example:

It starts with a number
After that: "This XML file does not appear to have a... "
After that:
XML tags, starting with

[2020-07-21 17:04] ShlomiBalalis commented on #6892
The issue occurred at the 200gb longevity in master:
Scylla version (or git commit hash): 666.development-0.20200716.09d3a3543 with build-id cfbf8d38ae5f73d91c6528cc755b40a7651a4c53
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b9c2aca9ce37eaa1

In the test, after we decommissioned a node, we added a new node to replace it. In that node, a repair has started:
[code]
But after a few minutes

[2020-07-21 17:17] nyh commented on #6767
@hagitsegev please view the XML file with a text editor - all the "number" and "This XML file does not appear to have a..." messages you quoted are crap added by whichever viewer you used, that do not actually appear in the file :-) I suggest you save the XML file locally and then view it with "vi" or your favorite editor.

Anyway, looking at both XML files, they are not actually too different: Th

[2020-07-21 17:28] hagitsegev commented on #6767
The warning complains about the missing "testsuites".
I have a way to run a try in a less than a minute. but I have no idea how to progress. Just "guess" the formats/parsers? There are dozens... and I didn't find any clue on the web... about pytest+jenkins...

[2020-07-21 17:49] hagitsegev commented on #6767
Also - I don't like to play with the files format. It is not the "right" thing to do. I'll not do it as a "permanent" solution, so better to find the real solution which is 1 of 2:
- Create the files on the expected format.
- Find the parser for the current format.

Another thing - as I guess we will first try option 2, it will be good to give those file a name I can parse on one way, and the othe

[2020-07-21 17:55] alienth commented on #6486
@avikivity It's actually not truncated in my view - that's the entire index. I've attached the binary form anyways.
[mc-5933-big-Index.db.gz](https://github.com/scylladb/scylla/files/4955304/mc-5933-big-Index.db.gz)

@denesb Doing only Thrift queries against this, and none in reverse. They're all slice requests, if that matters.

[2020-07-21 18:31] espindola opened #6897 "Alternator's get_key_from_roles has a use after return"
The timeout variable is stack allocated but a reference to it is kept.

[2020-07-21 21:04] #6259 closed

[2020-07-21 21:04] kostja commented on #6259
Fixed in 4.2

[2020-07-21 21:07] kostja commented on #5685
@espindola @xemul so what's your resolution? Should I hack in LD-PRELOAD, create a pseudo-terminal, or maybe a one line fix for row_cache_test is not such a bad idea?

[2020-07-21 21:18] nyh commented on #6767
@hagitsegev I'm afraid I don't know how to help you debug this. "pytest" is a fairly common testing package, and I would be very surprised if Scylla was the only one using pytest together with Jenkins. There is nothing "wrong" with the XML result file that pytest generates, but I have no understanding of Jenkins or its Groovy code to understand what it actually finds wrong with this XML file, or h

[2020-07-21 21:33] nyh commented on #5685
There's more than one way to do this (as the Perl saying goes)... Another way you didn't mention is not to clone stdbuf, but instead, just use it! To run a test xyz, don't invoke "xyz" but rather "stdbuf  -o0 xyz". Fairly trivial and hopefully just a tiny slowdown.

Yes another thing we can do is to link the tests with a trivial object file redefining abort() or signal() to fflush(stdout) before r

[2020-07-21 21:43] espindola commented on #5685
I think using stdbuf is my preference too.
After that it would be the other options in test.py.
My least favourite option is changing row_cache_test. The reason being that, even if that is the only problematic test now, that might not always be the case.

[2020-07-21 21:53] kostja commented on #5685
OK, I checked and stdbuf is part of GNU coreutils. It's unlikely there is a distro that doesn't have it. My value judgement is that using stdbuf is a hack and should be avoided. It's not composable: if later we want to add another prefix tool, like taskset, or another tool that adds another LD_PRELOAD, or valgrind, we may be in trouble.
Another issue is that I should perhaps stop keeping Microsoft

[2020-07-21 23:09] #6897 closed

[2020-07-22 01:35] asias commented on #6868
It does not really matter if it is a graceful or hard killing for the race to happen. Even if it is a hard killing,  node2 can happen to send the send_repair_row_level_stop verb before it was killed.

However, I looked at remove_repair_meta again. It is "atomic" to remove the repair_meta from repair_meta_map(). We first remove the repair_meta from repair_meta_map() then we perform the stop(). It i

[2020-07-22 02:27] asias commented on #6853
$ c++filt
_ZN7seastar12continuationINS_8internal22promise_base_with_typeIJEEEZNS_6futureIJEE16handle_exceptionIZN13repair_writer13create_writerERNS_7shardedI8databaseEEjEUlNSt15__exception_ptr13exception_ptrEE1_EES5_OT_EUlSG_E_ZZNS5_17then_w
rapped_nrvoIS5_SH_EENS_8futurizeISF_E4typeEOT0_ENKUlvE_clEvEUlRS3_RSH_ONS_12future_stateIJEEEE_JEE15run_and_disposeEv

[code]

[2020-07-22 03:03] aleksbykov commented on #6868
@denesb i mean whole aws instance was reseted(like push button reset on host or cut the power) and started again

[2020-07-22 03:32] aleksbykov opened #6898 "Error: managed_bytes::managed_bytes(const managed_bytes&): Assertion `size_src == 0 && size_dst == 0' failed."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 666.development-0.20200607.a1e235b1

[2020-07-22 06:44] aleksbykov opened #6899 "Scylla couldn't started on i3.16xlarge and i3.8xlarge aws instances"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.2.rc1-0.20200719.bd713959ce1 with build-id 16232bd4f02d443afe6bff5b7d3c26a753605cd1
Cluster size:1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0ecb2678651e45875
instance types: i3.16xlarge, i3.8xlarge

During artifacts Jobs for instances type i3.16xlarge, i3.8xlarge, scylla could n't be started
log records
[code]

DB log: https:

[2020-07-22 07:30] denesb commented on #6898
Likely the same as https://github.com/scylladb/scylla/issues/6613.

[2020-07-22 07:43] bhalevy commented on #6261
@raphaelsc does the problem exist in 4.2?

[2020-07-22 08:40] penberg commented on #6767
@nyh If you look at the XML generated by Alternator:

https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2270/artifact/testlog/dev/xml/run.1.xunit.xml/*view*/

and compare it to one generate by Boost:

https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2265/artifact/testlog/dev/xml/cache_flat_mutation_reader_test.64.xunit.xml/*view*/

You can see that the structur

[2020-07-22 09:27] slivne commented on #6598
fixed by 9042161ba3971de8bfd9067d9c610291a872aa13

[2020-07-22 09:27] #6598 closed

[2020-07-22 09:36] nyh commented on #6893
Please add a dtest which reproduces this issue (should be easy - write some data, and reboot the node gently (or flush and stop it abruptly)) so we can test the fix (and be sure the bug never comes back).
Our "longevity" tests should have caught this too - they have various "nemeses", including reboots.  Are we doing any longevity test which includes CDCs?

[2020-07-22 09:47] ShlomiBalalis commented on #6878
@jul-stas  On second thought, you might be able to test it with dtest. But it should be complied / available as a relocatable package. Do you still need to test it?

[2020-07-22 09:49] avikivity commented on #6486
@alienth your dump starts at offset 10 rather than 0.

[2020-07-22 10:23] nyh commented on #6767
All the google searches I did suggest that having "testsuites" as the top tag is actually the correct thing for standard xunit files. I don't know how to get Jenkins to accept standard xunit files instead of Boost-specific files, but I was hoping one of you (Hagit or you) would know.
I noticed a Groovy snippet above that used the class name "BoostTestJunitHudsonTestType". This sounds specific to B

[2020-07-22 10:47] avikivity commented on #6486
The index starts with:

`00 01 31 00 82 7b 0f 7f ff ff ff 80 00 00 00 00`

Decoding accoring to https://docs.scylladb.com/architecture/sstable/sstable3/sstables_3_index/, we get

00 01 - key_length = 1
31 - key = "1" (@alienth please confirm it makes sense)
00 - position = 0 (correct for first partition in the index)
82 7b - promoted index length 0x3d82 - this is bigger than the entire file, and c

[2020-07-22 11:00] elcallio commented on #6864
Verified that we do in fact have a generation, but it is not valid for the timestamp in the write.

[2020-07-22 11:06] haaawk commented on #6864
Cool. @kbr- Could you please implement one of the solutions we discussed on the call? Either a check that the generation contains only streams for a single node or changing delay from 2*ring delay + epsilon to 2 * ring delay.

[2020-07-22 11:13] avikivity commented on #6486
The index indicates 24 promoted index entries (0x18 at offset 0x13), and the last 24*4 bytes exactly match what's exected from the offsets table. So the problem is the 82 7b bytes. The should have encoded the value 0x221-0x14 = 0x20d (encoded as 0d 04) but were somehow mis-encoded.

[2020-07-22 11:23] slivne commented on #6892
@denesb
- https://github.com/scylladb/scylla/issues/6892#issuecomment-661849832

- So #6272 , Avi is ok with backporting to 4.2 if its needed, according to QA they did not hit this in 4.1 - does this add up - do we need this backported to 4.1 as well ?
- With regards to #6603 are you working on that or someone else - I see some referencing commits - but am not sure if its solved or not.

[2020-07-22 11:26] penberg commented on #5231
As of commit 5d99d667ec7de8cb2d0bb514b290fa3f4a0c892e, you can build debug packages with:

[code]

[2020-07-22 11:26] #5231 closed

[2020-07-22 11:32] elcallio commented on #6864
I think we should also consider letting writes to CDC enabled tables silently fail adding CDC log, but succeed the main write, if streams are not available yet. This would be neatly consistent with dynamos concept of streams being in a "enabling" status for a while until they actually collect data.

[2020-07-22 11:34] haaawk commented on #6864
I guess we could special case this just for dynamo streams

[2020-07-22 11:40] elcallio commented on #6864
No, we should avoid special casing. The problem is somewhat ludicrous anyway, since it only affects new servers on first start. My thought was that a logged, but non-exceptional fail/ignore of CDC log write would be just as good as throwing, but less intrusive. If I would offer any reasoning it would be that CDC in general should be non-intrusive, i.e. "soft" failures in CDC can lead to CDC log ga

[2020-07-22 11:44] haaawk commented on #6864
You've got the point. @kbr- what's your take on this?

[2020-07-22 11:45] denesb commented on #6892
In theory all releases using row-level repair are affected, this includes 4.1. Releases that also have repair-based node operations might be more affected.

The fix is on the mailing list: [PATCH v5 00/10] db/view: view_update_generator: make staging reader evictable

[2020-07-22 11:53] avikivity commented on #6892
@nyh please expedite review

[2020-07-22 11:56] piodul opened #6900 "CDC: within a batch, partition deletes and range deletes do not affect postimage"
A CQL batch that both

1. inserts or updates a row `X` with timestamp `T`,
2. deletes that row using row delete or partition delete that covers the row `X`, also using timestamp `T`,

has wrong postimage for the row `X`. Current logic shows the value set by 1) and ignores the effect of 2).

It is wrong, because range/partition delete wins with the insert/update, and cancels its effect - therefore

[2020-07-22 11:58] nyh commented on #6864
We could do this, indeed. As you said, DynamoDB provides a way to check if the writes will get to the log (waiting for the status of the stream to change from ENABLING) and we'll need to implement this feature. But don't you also need a similar feature in CQL? Or is it acceptable that you enable CDC but writes in the next minute (2*gossip_delay) don't end up in the CDC log? Maybe we just don't car

[2020-07-22 12:00] haaawk commented on #6864
I think in dtests we either used sleep before we started writing or we shortened delay.

[2020-07-22 12:07] elcallio commented on #6864
I sent a patch to make alternator streams report streams as not yet available iff CDC id:s don't exist yet. Even if we change the rules for writes/id gen I think this should be the way to treat this from the alternator end. For bookkeep sake I did not mark the PR as "fixing" this issue, even though it fixes the OP problem of single `get_records` test failing on a new instance.

[2020-07-22 12:16] kbr- commented on #6864
I'm against silently introducing inconsistencies.
The CDC log is supposed to reflect changes made to the base table, and it should be possible to replicate the base table using the log.

I'm for computing the generation timestamp delta as follows:
[code]

[2020-07-22 12:18] kbr- commented on #6864
[code]
where
[code]

[2020-07-22 12:30] raphaelsc commented on #6261
@bhalevy, no. any branch that has https://github.com/scylladb/scylla/commit/e40aa042a7405d9c0d3db97e639f6280f95eb98e#diff-6f3b06db526ce55c337ae0c258546480 is not vulnerable.

[2020-07-22 12:36] raphaelsc opened #6903 "nodetool refresh throws error (link failed, file exists) affecting older versions"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.0.1 (DOESN'T AFFECT MASTER)
Clust

[2020-07-22 12:56] xemul commented on #5685
My preference is to stop writing tests output on the console :) (for Jenkins we may have an option to do it, v of course)

Rationale: it's impossible to find anything useful in printed logs, I always go and read/grep/sed the log files. Seeing tens and hundreds of lines on the screen is just annoying, because the needed info -- names of failed tests -- is above them, so one needs to scroll the term

[2020-07-22 13:53] raphaelsc commented on #6883
@espindola. correct, by having a custom backlog tracker impl, we can verify that the compaction_write_monitor is doing its job under the hood. compaction_write_monitor is part of backlog tracking solution, so I think what we're actually missing is good tests for the backlog tracker in general. So I think this issue should perhaps be renamed to something like: compaction backlog tracker is not test

[2020-07-22 13:54] xemul opened #6904 "RPC handlers are not unregistered on stop"
This can lead to dangling futures referencing services being stopped, e.g. there's a common call-trace ending with
[code]
and the `get_schema_for_write()` is called from several RPC handlers
[code]

[2020-07-22 14:50] #6587 closed

[2020-07-22 16:00] jul-stas commented on #6878
I think so. The patch is still not merged, so we can make sure it will work and not break something else.
If you tell me the steps I can try to reproduce it.

[2020-07-22 16:29] vladzcloudius opened #6905 "(LOCAL_/EACH_)QUORUM consistency calculation is broken when RF=0"
*Installation details*
Scylla version: 5e1fa13d088c5fdea7c4626474e367f81d5d1f4d

*Description*
Our current implementation of `db::quorum_for(...)`, `db::local_quorum_for(...)` is going to return 1 when RF for the corresponding replication unit is 0.

One of the cases where this causes a problem is when there is DC in the replication list of a KS that uses `NetworkTopologyStrategy` with RF=0, this

[2020-07-22 17:04] hagitsegev commented on #6767
I think that the key is somewhere here: https://javadoc.jenkins.io/plugin/xunit/org/jenkinsci/plugins/xunit/types/package-summary.html
Tried to play with it a little bit, but with no luck. The documentation is mostly for java developers, which I'm not (start learning this area is out of my scope now).
I also tried to simply add <TestLog> to the beginning of the file and </TestLog>at the end, but i

[2020-07-22 17:25] #6864 closed

[2020-07-22 17:45] alienth commented on #6486
@avikivity key of `1` does indeed make sense.

I'll dig through the index writing code a bit to see if I can find any idea why it might have truncated.

[2020-07-22 18:01] haaawk commented on #6893
Interesting observation:

Following sequence fails:

1. start fresh scylla node
2. create cdc table
3. write some rows
4. stop node
5. start node

but if we restart the node after creating the table and before inserting rows everything works:

1. start fresh scylla node
2. create cdc table
3. restart the node
4. write some rows
5. stop node
6. start node

[2020-07-22 18:03] haaawk commented on #6893
On the same time, partitioner is correctly persisted for cdc table. I also checked that sstables contain the right partitioner in their statistics.

[2020-07-22 20:04] espindola commented on #6606
Sorry, no idea. We can try logging the exceptions on start() to see what the failures are.

[2020-07-22 22:11] vladzcloudius commented on #5146
@juliayakovlev I'm not sure where those 45 seconds came from.
Since the presense of nemesis int he picture assumes all kinds of disruptions I don't think we can assume any time when hints are sent out completely - sending may fail for many reasons and get retied in a second (this is a timer that tries sending things out every second).

There is one invariant however: if a hint WAS sent out it mean

[2020-07-23 05:28] denesb commented on #6613
I now have a reproducer that reproduces 100% of the time in a few seconds, however it is not trivial to automate it to a level which would facilitate easy bisecting. One has to start a three node cluster and start a range scan read workload, then observe the crash.

I started zeroing in on the bug with introspection code added to the range scan algorithm. I managed to trace the bug to `save_reader

[2020-07-23 05:48] avikivity commented on #6613
Can you write down the reproducer commands? Perhaps someone else can start the bisect in parallel.

[2020-07-23 05:58] denesb commented on #6613
I started a three node cluster, I have written data into it in multiple stages. I forgot the commands I used in the earlier stages, the last write command I have used was:
[code]

The range scan command which reproduces the crash:
[code]

[2020-07-23 06:01] denesb commented on #6613
Scylla command line:
[code]
Heh, I just realized some of my args  got dropped (`--cpuset=1,2 -c2 -m4G --range-request-timeout-in-ms=60000 --logger-log-level multishard_mutation_query=trace`), but I'm not touching anything at this point :laughing:.

[2020-07-23 06:03] denesb commented on #6613
`scylla.yaml` is copy paste from the scylla repo.

[2020-07-23 06:59] roydahan commented on #6899
Do you see in journalctl or messages what is the root cause of it?

[2020-07-23 07:11] aleksbykov commented on #4935
During rolling-upgrade job ([link](https://jenkins.scylladb.com/job/scylla-4.2/job/rolling-upgrade/job/rolling-upgrade-debian9-test/15/)) from 4.1 to 4.2 when upgrade process started on node4, c-s stress detects
[code]
link to dashboards with metrics:
https://snapshot.raintank.io/dashboard/snapshot/ZyrYDUEcDrpvM9svJzDHqLV120BDP7Ez
https://snapshot.raintank.io/dashboard/snapshot/J87Ks1ndtct2leHYLZj

[2020-07-23 07:11] penberg commented on #6767
@nyh Right you are, the format `pytest` is using is indeed the "JUnit 2" format. The Jenkins pipelines _are_ supposed to support that too, so let's move discussion over to the Jenkins git repository.

[2020-07-23 07:11] #6767 closed

[2020-07-23 07:15] aleksbykov commented on #6613
For current moment latest ami where issue was detected:
For ami-07962bc6eb944ef99 (us-east-1) from 1st of june issue reproduced but without coredump
 666.development-0.20200521.c29ccdea7 with build-id 4e3de54c9e8a65011446f42451dd6266212d02e0

[2020-07-23 08:01] denesb commented on #6613
To find a bug, I created a thread-local registry which maps slices and ranges to live readers using them. I wrapped the shard reader in s special reader which unregisters itself from these maps when destroyed. Then I wrapped the slice and range pointers with special ones that look into these maps to see if the readers referencing them are still alive when destroyed. After much tweaking it looks li

[2020-07-23 08:06] denesb commented on #6613
This aligns with what I saw in the core attached to this issue: a reader in use which doesn't has a dangling slice and range reference and a paused reader referencing the current range and slice. With enough reads going on the read handle will succeed in accidentally unpausing a reader from the wrong semaphore. Unpaused readers are simply keyed on a monotonically increased integer, it can easily h

[2020-07-23 08:09] denesb opened #6907 "reader_concurrency_semaphore: make inactive read handles unique per semaphore"
Currently inactive read handles just contain an id (an integer), this id is they key to `reader_concurrency_semaphore::_inactive_reads` and is unique in the context of a single semaphore. However this id is not unique across all semaphores, so if one was to use this handle to lookup a paused reader in another semaphore, one might succeed. This is highly undesirable as the other reader can belong t

[2020-07-23 08:09] denesb commented on #6613
Opened https://github.com/scylladb/scylla/issues/6907 for the handle uniqueness issue.

[2020-07-23 08:19] denesb commented on #6613
Somehow we switch semaphore mid-read. Maybe caused by a switch in scheduling group?

[2020-07-23 08:35] denesb commented on #6613
The semaphores vector:
[code]
This contains the user semaphore.

The semaphore on the permit stored in the `reader_meta::remote_parts`:
[code]
This is the system semaphore. Both are obtained the same way, by calling `database::make_query_class_config()`, just at different points in the code.

For a start, we should not obtain the semaphore more than one time, all code should just use the one from

[2020-07-23 09:19] slivne commented on #6899
lets try to reproduce this, outside of jenkins

[2020-07-23 09:21] slivne commented on #6895
cases which are timeseries with expiration or default ttl should use TWCS and not use STCS.

[2020-07-23 09:23] slivne commented on #6894
@avikivity is this a regression ? I think scylla-tools-java was always built this way

[2020-07-23 09:23] gleb-cloudius commented on #6905
@slivne The patch is trivial, but I do not have time for repro and testing, please find another victim.

[2020-07-23 09:24] slivne commented on #6890
@aleksbykov / @roydahan ping

[2020-07-23 09:33] slivne commented on #6884
@kharmabum you have 	```and dclocal_read_repair_chance = 0.1``` in your schema - that means that 10% of your queries will do read_repair across all live replicas - attempt to query all replicas in local dc if they are all up.

under read_repair if the two first responses are not the same then we will wait for the third response as well (cuasing the number of required replicas to be 3)

https://doc

[2020-07-23 09:35] avikivity commented on #6894
It's not a regression (it is for scylla.git since we started building the submodules, but not overall).

[2020-07-23 09:36] bhalevy commented on #6885
@raphaelsc please look into this

[2020-07-23 09:37] bhalevy commented on #6885
@avikivity can you please upload the whole node log?

[2020-07-23 09:39] slivne commented on #6747
@avikivity ping

[2020-07-23 09:44] slivne commented on #6653
@aleksbykov if this reproduces again, please provide access to the node so we can debug

[2020-07-23 09:57] aleksbykov commented on #6890
@roydahan / @slivne
The last seen error was:
2020-07-16T14:34:57+00:00  longevity-tls-50gb-4d-4-2-db-node-be967b52-7 !ERR     | scylla: [shard 0] rpc - client 172.30.0.201:7001: fail to connect: No route to host ( where ip address belong to node4, which was terminated).

i will update with manually decoded reactor stalls.

[2020-07-23 10:13] avikivity commented on #6885
[log.gz](https://github.com/scylladb/scylla/files/4965206/log.gz)

Example:

[code]

[2020-07-23 10:17] aleksbykov commented on #6890
[code]
[code]

[code]

[2020-07-23 10:25] ricardoheyn commented on #6625
Hi,

Sorry for taking so long to answer.

Finally I have upgraded the nodes and apparently I found why the issues with Materialized Views. Basically, after upgrade to the version 4.1.2, I have noticed this new log entry in the applications:

`('Unable to complete the operation against any hosts',
{<Host: xxxxxxxxxxxx:9042 xxxxxxxx>: <Error from server: code=0000
[Server error] message="partition k

[2020-07-23 10:26] avikivity commented on #6747
Oops, missed it.

Looks like https://github.com/scylladb/scylla/issues/4007, fixed in 4.2rc, will give much better performance on this data set.

@nyh what alternator query does this correspond to? This is a range scan with ALLOW FILTERING.

[2020-07-23 10:31] avikivity commented on #6486
The index isn't truncated, the only part that doesn't make sense are the 82 7b bytes.

[2020-07-23 10:38] avikivity commented on #6486
Relevant code:

[code]

pi_size is wrong somehow.

[2020-07-23 10:46] avikivity commented on #6486
@tgrabiec any idea?

This is the first (and only) partition, so it can't be related to mis-clearing when moving from one partition to the next.

[2020-07-23 10:56] denesb commented on #6613
I found where the system semaphore comes from: the READ_DIGEST verb handler is executed in the system group due to a bug in the verb handling code messaging service (also broken by https://github.com/scylladb/scylla/commit/0c6bbc84cd30df1c46a6cd81d87170b99d5a8144).

Now I just need to find out how we also get a user semaphore into the mix.

[2020-07-23 11:07] denesb opened #6908 "messaging_service: statement verbs are all registered with the system scheduling group"
HEAD: b4b9deadf3ee4f581dc34b6f4bf2f79d2f2f06b9

Messaging service currently uses both old-style per handler isolation, as well as the new per-connection one. The per-handler isolation is used for backward compatibility with older versions, so hence it is used with the client indexes 0-3. Clients indexes 2 and 3 are the statement and statement-ack clients respectively, which since https://github.co

[2020-07-23 11:07] denesb commented on #6613
Opened https://github.com/scylladb/scylla/issues/6908 for the messaging service bug.

[2020-07-23 11:09] denesb commented on #6907
HEAD: b4b9dea

[2020-07-23 11:12] denesb commented on #6908
This is a regression caused by https://github.com/scylladb/scylla/commit/0c6bbc84cd30df1c46a6cd81d87170b99d5a8144.

[2020-07-23 11:13] slivne commented on #6899
@haaawk need someone in your tream to try and do initial analysis
Use the AMI provided and try to boot scylla (open logs to find out why its not starting).

[2020-07-23 11:14] avikivity commented on #6890
Looks like a large amount of ops were queued one some semaphore, then expired all at once.

[2020-07-23 11:31] denesb commented on #6613
When the coordinator == replica and the messaging service is not involved, the scan will run in the statement group. It can happen that a page is read in the statement group, the reader is saved in the querier cache with the permit. The next page is read in the system group, the reader is looked up. The `read_context` will have the system semaphore, while the reader's permit will be for the user s

[2020-07-23 11:37] denesb commented on #6613
I think we have all the culprits now, I'll start working on the fixes.

[2020-07-23 12:26] nyh commented on #6747
@avikivity it's not an Alternator query... According to his snippet, he used cqlsh and typed the command:
[code]
I don't know what was @Felix-zhoux's intent here... If 'bi' and 'obj' are the partition and clustering key, ALLOW FILTERING should not have been needed - and should not have resulted in a scan query! (maybe we have a bug where an unneeded ALLOW FILTERING isn't outright ignored as it sho

[2020-07-23 12:33] nyh commented on #6891
I'm looking at this now, in the context of issue #6747. In that issue, one of the many guesses thrown around was that our GetItem implementation accidentally starts a scan query, even though it clearly requests just a single item. To know **really** happens during GetItem, I want to use tracing

[2020-07-23 12:38] #6904 closed

[2020-07-23 12:41] kak-tus opened #6909 "Scylla failed to start with assertion is_boundary_between_adjacent_intervals"
- [+] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.1-0.20200703.1d9bbbc9577 with build-id 697597645b4ac8b44ce5d4fb3f71b7264667715f
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

Platform (physical/VM/cloud instance type/docker): VM, docker with official docker image
Hardware: socke

[2020-07-23 12:46] psarna commented on #6747
If `ALLOW FILTERING` has any side effects aside from allowing the user to perform a query, then it's a bug. For queries which do not need filtering, `ALLOW FILTERING` should not change a single thing in their execution.

Well, my original intention was of course to always ask just for a single item, and that's done via providing a singular clustering range in `get_item()` (or, not using a clusteri

[2020-07-23 12:48] avikivity commented on #6890
Actually, the decode may be bogus. Are you using the correct version?

[2020-07-23 13:10] raphaelsc commented on #6885
I'd bet almost all my coins that it's related to bad partition estimation.
I will investigate it soon.

On Thu, Jul 23, 2020 at 7:13 AM Avi Kivity <notifications@github.com> wrote:

[2020-07-23 13:20] slivne commented on #6909
@kak-tus

Can you please follow the instruction in https://docs.scylladb.com/kb/decode-stack-trace/ and provide the complete backtrace

In addition if you can upload the core according to https://docs.scylladb.com/troubleshooting/report_scylla_problem/ we will work to extract additional info (if this is related to compaction provide the associated files)

[2020-07-23 13:39] haaawk commented on #6893
It seems that after all the partitioner is not exactly correctly persisted.

[2020-07-23 13:43] haaawk commented on #6893
or rather it is persisted correctly but later it's not read for some reason.

[2020-07-23 13:43] aleksbykov commented on #6890
yes, run instance with same ami
/usr/lib/debug/opt/scylladb/libexec/scylla-4.2.rc1-0.20200716.b7c5a918cb.x86_64.debug

[2020-07-23 13:53] avikivity commented on #6890
But this issue says 51d4efc3212.

[2020-07-23 14:09] aleksbykov commented on #6890
This installed on scylla node during installation procedure:
[code]

[2020-07-23 14:17] avikivity commented on #6890
The trace is also truncated - it continues after the line with libgmp. Here's what I got:

[code]

which is normal for a stall trace (see cpu_stall_detector) but is missing all teh important information.

[2020-07-23 14:19] avikivity commented on #6890
It looks like the wrong debuginfo package is installed. Its hash is different.

[2020-07-23 14:30] aleksbykov commented on #6890
Yes, i installed correct debug info file:
/usr/lib/debug/opt/scylladb/libexec/scylla-4.2.rc1-0.20200709.51d4efc3212.x86_64.debug

Then i took backtraces for reactor stalled from db log file:
[code]
The above messages how they reported
and decode with correct debug file if got next:
[code]
[code]

[2020-07-23 14:33] avikivity commented on #6890
But the meat is still missing. There are more backtrace lines which you didn't feed into the decoder.

[2020-07-23 14:35] aleksbykov commented on #6613
the ami  ami-029d8d23db17ae21e  with scylla version: 666.development-0.20200521.c29ccdea7 with build-id 4e3de54c9e8a65011446f42451dd6266212d02e0 not reproduce issue.

[2020-07-23 14:36] avikivity commented on #6890
Maybe the backtracer was confused by libgmp. Maybe this is yet another example of #6191, libgmp is showing there too.

[2020-07-23 14:42] aleksbykov commented on #6890
What do i need to do next?
There is in log one more reactor stalls, but they appeared in a day after that and i think they will not helpfull.

[2020-07-23 14:55] aleksbykov commented on #6899
It seems that nodes could not started due to #6813
I run several times instances i3.16xlarge and i3.8xlarge manually with with same ami, and each time scylla was not started due to
std::runtime_error (random_device: rdseed failed).

[2020-07-23 15:09] slivne commented on #6899
Thanks

We should have the fix over the weekend :)

[2020-07-23 15:40] tgrabiec commented on #6486
@avikivity promoted index length is varint so `82 7b` is actually 0x27b. It includes promoted index header so I think it's correct. The index file has length 0x281 and promoted index header starts at offset 6.

[2020-07-23 15:41] psarna opened #6911 "Tracing read requests produces ambiguous messages"
Querying a single row from a simple table:
[code]
produces messages which look like a whole token range is queried, while underneath it's a simple point query:
[code]
specifically, this message is ambiguous (although technically true):
[code]
and nothing in the whole trace indicates that only a single row is read.

Additionally, when data is served from cache without actually reading anything from

[2020-07-23 16:39] avikivity commented on #6486
Ah, I thought varint was little endian.

[2020-07-23 16:50] avikivity commented on #6890
Nothing.

This is #6191 for sure, there's even a message in the log about SSL.

Closing as duplicate of #6191.

[2020-07-23 16:50] #6890 closed

[2020-07-23 16:59] alienth commented on #6486
Mm, so index is looking fine, then?

If that's the case, any recommended path I can take on the GDB side of things with the coredump?

[2020-07-23 17:12] avikivity commented on #6486
You can instrument the code to print end and _stream_position, and we can work backwards from there.

[2020-07-23 17:13] avikivity commented on #6486
That is if you're comfortable with modifying and building the code. With gdb+core you can walk up the frame and look for variables the optimizer forgot to destroy.

[2020-07-23 18:22] tzach commented on #6098
@avikivity #2577 is till open, should we close it?

[2020-07-23 18:28] haaawk commented on #6098
@tzach no. This issue was fixed by avoiding using cache. The issue still exists in cache.

[2020-07-23 21:08] kharmabum commented on #6884
@dorlaor @slivne super helpful, thank you. We will focus efforts on investigating partition sizes and performance metrics to look into the time outs (and share back what we find). Thanks again for your timely support and attention.

[2020-07-23 21:48] roydahan commented on #6613
@aleksbykov i think you can stop the bisecting.
Your tests fits the findings from Botond.
The suspected commit was merged in May 29th, that’s why you’re able to reproduce it only on AMI starting on June 1st.

[2020-07-24 05:38] slivne opened #6912 "Feature bit "UNBOUNDED_RANGE_TOMBSTONES" is not enabled by default - is this correct ?"
start a docker with scylla-4.1.1

[code]

[code]

[2020-07-24 05:43] haaawk commented on #6912
Note that UNBOUNDED_RANGE_TOMBSTONES is a special feature that is enabled only after the whole cluster supports MC format. It's a two-phase process. The first cluster negotiates MC feature then each node enables UNBOUNDED_RANGE_TOMBSTONES. Maybe recent refactorings of feature service broke that.

[2020-07-24 05:45] haaawk commented on #6912
While debugging https://github.com/scylladb/scylla/issues/6893, I'm observing that PER_TABLE_PARTITIONER feature is not being enabled as well. I'm not sure why yet.

[2020-07-24 07:22] denesb opened #6913 "TWCS: compaction: partition estimate can become 0, causing an assert in sstables::prepare_summary()"
HEAD: e7c18963e4bbb7bfecbe168b52e603db37ee8449

When using TWCS, the estimated partition calculation can result in 0 if the TWCS estimates that the amount of windows the compacted sstables will have to be split into is larger than the estimated amount of partitions in said sstables. This results in 0 being passed as the `estimated_partitions` parameter to the `sstables::component_writer` construct

[2020-07-24 07:25] denesb commented on #6913
This can be reproduced by triggering a compaction on with a set of sstables meeting this criteria. We can achieve this by a procedure like this:
* Create a table with TWCS
* Write one or more partition with several rows, rows should be dispersed among different windows using `WITH TIMESTAMP`.
* nodetool flush; it is important that at this point the memtable content has more time windows than parti

[2020-07-24 07:49] slivne commented on #6913
reproducer

1. create a single node cluster

2. cqlsh

[code]

3. nodetool flush

4. cqlsh
[code]

5. nodetool compact ks

[2020-07-24 08:42] haaawk commented on #6893
It seems that there is a race between features being enabled and users of schema_features.

[2020-07-24 11:16] MikeGoltsov commented on #6909
@slivne heres backtrace
[trace.txt](https://github.com/scylladb/scylla/files/4971641/trace.txt)

[2020-07-24 12:33] penberg commented on #6894
Good idea, but it's not clear to me how we should implement this. With Maven, we could look into using `mvn dependency:go-offline` in `install-dependencies.sh` maybe? There's probably something similar for the `ant` build too.

[2020-07-24 14:28] psarna opened #6915 "Untyped result sets may cause segfaults when parsing disengaged optionals"
In `untyped_result_set.hh`, function `get_view` silently assumes that the optional value kept in its internal map is always engaged. It's not always the case, since the optional values come from the tables (they are often a result of the `SELECT` statement), and thus they shouldn't assume that the values are always present.
For instance, `system_keyspace::load_view_build_progress` can fail when a

[2020-07-24 16:37] haaawk commented on #6893
Schemas for non-system tables are read before gossip is started so no features can be enabled at a time. I guess we could use schema_features::full() for reaching schemas from disk.

[2020-07-26 06:55] slivne commented on #6912
@haaawk - its a single node - there are no other nodes in the cluster and its still not enabled by default.

[2020-07-26 06:58] slivne commented on #6909
[code]

[2020-07-26 08:45] avikivity commented on #6894
Yes, that's what I thought to do. I didn't figure out the exact sequence.

[2020-07-26 08:47] avikivity commented on #6909
It looks like Scylla doesn't like one of your sstables. Did you import an sstable from an external source? If so, which, and can you share it?

Of course, Scylla shouldn't crash even if the sstable is broken in some way.

[2020-07-26 09:19] avikivity commented on #6899
Closing as duplicate of #6813.

[2020-07-26 09:19] #6899 closed

[2020-07-26 09:53] slivne commented on #6563
@avikivity are we using scylla-gdb anymore ? I think we moved to use the gdb comming from fedora - parallel to the tool-chain

[2020-07-26 09:54] slivne commented on #6529
@bhalevy ping

[2020-07-26 09:55] slivne commented on #6455
@amoskong / @roydahan / @bentsi / @fruch ping

[2020-07-26 10:00] slivne commented on #6453
@dkropachev when looking at memory consumption we need to look at per shard - not per node - to check if we had a shard with high memory

If there is a coredump we can extract info about the shard that ran out of memory.

@psarna

[2020-07-26 10:04] slivne commented on #6388
CDC generates a log of all updates - if there is no place to store the CDC logs the node will drain.

You can change the retention time of CDC logs so that you will run away from this issue.

[2020-07-26 10:08] slivne commented on #6376
I am closing this - since we fixed a number of issues related to memory / using non continues memory - if this happens again - please report

[2020-07-26 10:11] slivne commented on #6359
Myself - trying to make progress

@kostja / @gleb-cloudius when a node bootstraps - what happens in LWT - will the node issue the internal LWT CQL READS to Paxos tables (according to the graphs it does happen)

[2020-07-26 10:17] gleb-cloudius commented on #6359
If a node is in pending state it will get lwt rpc calls and will access its local paxos table.

[2020-07-26 10:18] kak-tus commented on #6909
Yes, it's look like this, but unhappily there is no name of this table in logs.
No, table was not imported. All tables are filled with usual working software.
And problem is reproducible on other nodes: if I add new node, do repair on it, Scylla migrates data to it, and after some time new node terminates with same panic and no more start again.

[2020-07-26 15:55] avikivity commented on #6376
Poking around the stack:

[code]

Looks like we tried to execute some kind of null task.

[2020-07-26 15:56] avikivity commented on #6376
[code]

We're exactly after the instruction that executes a task.

[2020-07-26 15:57] avikivity commented on #6376
The task is in %rdi:

[code]

[2020-07-26 15:58] avikivity commented on #6376
[code]

We are executing a destroyed task.

[2020-07-26 15:59] avikivity commented on #6376
[code]

[2020-07-26 15:59] avikivity commented on #6376
This looks familiar.

[2020-07-26 16:01] avikivity commented on #6376
I think it's https://github.com/scylladb/scylla-enterprise/issues/985 - but it's closed.

[2020-07-26 16:07] avikivity commented on #6376
Here's the continuation waiting on the when_all_state:

[code]

[2020-07-26 16:08] avikivity commented on #6376
Exactly the same as last time: https://github.com/scylladb/scylla-enterprise/issues/985#issuecomment-512829874 (github will likely not scroll, search for fast_forward_to).

[2020-07-26 16:11] avikivity commented on #6376
@bhalevy @espindola  please take a look, it's in the file closing area.

[2020-07-26 17:17] nizarh11 commented on #6878
The issue is reproducing on the latest version (with the fix), the command is still failing but with a different error

**Command: 'nodetool -u cassandra -pw cassandra  upgradesstables -a'**

[code]

Installed version:
[code]

Jenkins job:
[code]

Logs:
[code]

[2020-07-26 21:12] nyh opened #6918 "Alternator Streams does does not properly distinguish the type of change event"
https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_streams_Record.html#DDB-Type-streams_Record-eventName explains that DynamoDB assigns to each change record one of three types:

1. **INSERT** - a new item was added to the table.
2. **MODIFY** - one or more of an existing item's attributes were modified.
3. **REMOVE** - the item was deleted from the table

This description - as wel

[2020-07-26 21:16] nyh commented on #5022
Note that UpdateTable as a mechanism for configuring streams is already supported. The rest of the examples given above still aren't.

[2020-07-27 07:06] nyh opened #6919 "Alternator test test_tracing.py failing"
We're seeing the new test in test_tracing.py fail in Jenkins. It always succeeds locally for @psarna and for me so it might be a timing issue.

For example in https://jenkins.scylladb.com/view/nexts/job/scylla-master/job/next/2295/consoleText:

[code]

https://jenkins.scylladb.com/view/nexts/job/scylla-master/job/next/2296/consoleText:
[code]

The problem appears simple and easy to fix: I was assu

[2020-07-27 08:49] psarna commented on #6453
Here's a dump from gdb's `scylla memory`:
[code]

[2020-07-27 08:56] psarna commented on #6453
That's from the shard on which the failure happens - and it indeed looks like there's no free memory left for it. Situation on some of the other shards is also close to OOM, while other ones do not allow peeking at their memory because of a gdb error:
[code]

[2020-07-27 08:58] psarna commented on #6453
Update: most of the shards actually have plenty free memory - I misread the output. Most of the shards have lots of memory **allocated** for LSA, but most of it is unused. Only shard1, on which the failure happened, has a very small pool for LSA memory and it looks like it ran out. That explains why per-node memory consumption seems to be low.

[2020-07-27 09:09] slivne commented on #6453
Ok, do we have a queue building up somewhere ?

On Mon, Jul 27, 2020 at 11:59 AM Piotr Sarna <notifications@github.com>
wrote:

[2020-07-27 09:12] elcallio commented on #6918
I think the key is to reduce the splitting of the alternator write into several CDC log rows. CDC can distinguish insert and update, so if we can ensure alternator uses update semantics when the data exists, and insert when not (i.e. row marker/not row marker), _and_ fix the cdc log splitting, things should solve themselves. Big ifs...

[2020-07-27 09:15] syuu1228 commented on #6882
Here's a reason why it's failing.. the script fails to detect Amazon Linux 2.

Previously we realized that `distro.id()` is NOT always same output as ID in /etc/os-release, we modified the value based on [their document](https://distro.readthedocs.io/en/latest/).
see commit: ad87ffc60d6816c2101d4453dd028099099f0815

Even though, on Amazon linux 2, `distro.id()` does NOT returns "amazon", as docume

[2020-07-27 09:15] psarna commented on #6453
Is there a nice scylla gdb command to find that out? All I see now is that almost 100% of this shard's 8GiB of memory is taken by 128KiB allocations.

[2020-07-27 09:29] nyh commented on #6918
@elcallio this is a nice idea, and can actually work. Alternator update operations could read the old value, decide if not to do the write at all (e.g., updating a value identical to the existing value, or deleting an already non-existent item), or if it's a new item (in which case write also the row marker) or there was a pre-existing value (in which case we won't write the row marker). The last

[2020-07-27 09:35] elcallio commented on #6918
Or maybe just accept that we might give the wrong eventName if the alternator write is not read-before-write? If streams preimage is enabled we can further add the amount of correctness in reporting by simply keep some state tracking the the `get_records` code.
The result is that a `KEYS_ONLY` stream for an alternator table without RbW will have wrong eventNames, but other will be more correct.
Sh

[2020-07-27 10:08] roydahan commented on #6461
@slivne why is it assigned to @aleksbykov?
Which patch we were waiting here and has it been merged by now?

[2020-07-27 10:10] syuu1228 commented on #6760
@tzach There is no "default selection" on the prompt, I guess we should just remove square bracket from selected list.

[2020-07-27 11:02] roydahan commented on #6455
@juliayakovlev can you please check if this can work for us to wait for agreement?

[2020-07-27 11:21] avikivity commented on #6010
Backported to 4.0 and 4.1.

[2020-07-27 11:36] #6913 closed

[2020-07-27 11:41] elcallio commented on #6191
Note that /scylladb/seastar#769 was merged, which should make scylla not do any DH computation. We should still change scylla to not use DH settings as all, but instead wholly rely on init string and client negotiation. But that is a different issue.
@fgelcer, do you have any good repro to see if the above stalls go away in a scylla build with the above seastar change?

[2020-07-27 11:49] elcallio opened #6922 "TLS server setup (CQL/RPC) should not use explicit DH parameters"
GnuTLS since version 3.6 discourages use of explicit DH parameters for server credentials setup. Instead, a server should rely in the TLS init string and client negotiation to select from appropriate DH table. (https://www.gnutls.org/manual/gnutls.html#RFC7919).

Recent seastar (/scylladb/seastar#769) supports omitting DH in server credentials setup, and we have relocatable init string + init stri

[2020-07-27 11:55] nyh commented on #6919
Closing because the failing patch was dequeued and sent a different patch. We will not need to backport this because the broken version never reached master, yet alone any version.

[2020-07-27 11:55] #6919 closed

[2020-07-27 12:03] fgelcer commented on #6191
Need to check on last 1TB jobs (either master or one of the releases, if they have this fix), and decode the stalls backtraces.

[2020-07-27 12:05] avikivity commented on #6913
Backported to 4.1, 4.2.

[2020-07-27 12:27] avikivity opened #6923 "Too many windows with default Time Window Compaction Strategy configuration"
TWCS chooses a window of one day by default. With a reasaonble TTL (3 years), that's 1000 windows. You can expect bad_allows from keeping 1000 sstables per shard.

[2020-07-27 12:29] avikivity commented on #6923
Possible fix:

 - don't accept TWCS with no window
 - determine window count from default_time_to_live and window size (and reject TWCS tables with no default_time_to_live)
 - maybe allow force = true to override safeguards

[2020-07-27 12:31] avikivity commented on #6923
(reported on slack by "locked")

[2020-07-27 13:44] hagitsegev commented on #6010
Hmmm... Forgot to update that I tested it on 4.2 and it was OK.

[2020-07-27 13:46] avikivity commented on #6191
It's only in master for now. If you indicate it is fixed, I'll backport.

[2020-07-27 13:50] raphaelsc opened #6924 "Potential memory corruption because index reader fails to handle failure properly"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 5371be71e905
Cluster size:
OS (RHEL

[2020-07-27 13:51] nizarh11 opened #6925 "Connection dropped: RPC frame LZ4 decompression failure"
*Installation details*
Scylla version (or git commit hash):Scylla version 4.1.2-0.20200715.3e6c6d5f582 with build-id 05ae958a5663193f3ba65ba0786421926a9a7c18
Cluster size:4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu18.04
test-id: 69054bd6-2fa1-409f-896a-6baac698cd08

I got the following errors on two different nodes at the exact time during node startup
**server connection dropped: RPC frame LZ4 deco

[2020-07-27 13:56] nizarh11 commented on #6878
Important to mention that the upgrade passed only on Centos8
https://jenkins.scylladb.com/view/master/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-centos8-test/2/console

[2020-07-27 14:14] tgrabiec commented on #6893
Is this regression from b97f466438f3e68ba48adafa20d11a26479c7dbb?

Solutions:

  - revert b97f466438f3e68ba48adafa20d11a26479c7dbb and redact schema only when exchanging mutations between nodes, not when loading node's schema

  - Make sure node's features are monotonic across restarts

[2020-07-27 14:21] roydahan commented on #6925
@amoskong is it with the new compression flag enabled?

[2020-07-27 14:30] haaawk commented on #6893
@tgrabiec that's probably the cause. I don't think reverting it is the solution because probably the commit was introduced for the reason.

I was thinking about making sure that digest calculation uses redaction mechanism but loading schemas for db use to not use it.

[2020-07-27 14:41] #6882 closed

[2020-07-27 14:41] #6613 closed

[2020-07-27 14:41] #6907 closed

[2020-07-27 14:41] #6908 closed

[2020-07-27 14:42] avikivity commented on #6613
Backported to 4.2.

[2020-07-27 14:46] raphaelsc commented on #6924
Patch sent to mailing list: [PATCH] sstable: index_reader: Make sure streams are all properly closed on failure

[2020-07-27 14:51] tgrabiec commented on #6893
@haaawk Digest calculation already used redaction before b97f466. b97f466 cares only about applying or exchanging mutations, the node can still load the full schema on boot.

[2020-07-27 15:12] haaawk commented on #6893
Right I know that digest was using redaction before. What I meant is that the code changed by https://github.com/scylladb/scylla/commit/b97f466438f3e68ba48adafa20d11a26479c7dbb is used in:

[code]

@eliransin please correct me if I'm wrong but I expect that https://github.com/scylladb/scylla/commit/b97f466438f3e68ba48adafa20d11a26479c7dbb was introduced for the do_merge_schema code path. I think u

[2020-07-27 15:19] haaawk commented on #6893
So I would propose to remove redaction from read_schema_partition_for_table and do it in read_tables_for_keyspaces instead. What do you think?

[2020-07-27 15:22] avikivity commented on #6908
Backported to 4.2.

[2020-07-27 15:22] avikivity commented on #6907
Backported to 4.2.

[2020-07-27 15:55] tgrabiec commented on #6893
Actually, the intention of b97f466 was to keep the table schema version compatible with the old nodes. So we must redact on boot, otherwise we would have table schema version mismatch and failed writes.

This leaves us with the other option, making sure schema features are monotonic.

[2020-07-27 16:06] haaawk commented on #6893
I don't understand why the new nodes can't use new schema? As long as they restrain themselves from using new features and "fake" the digest calculation it should be fine, no?

[2020-07-27 16:14] haaawk commented on #6893
I also don't understand how such new node will switch to usage of the new schema if it has trimmed the schema loaded from disk at startup?

Take this issue as an example.
Then node starts.
It reads schemas from disk before starting any transport.
It trims those schemas because all the features are disabled
It starts transport and gossip
Features get enabled
Schemas stay trimmed for ever

[2020-07-27 16:18] haaawk commented on #6893
Also if there is a new schema stored on disk that means the appropriate features must have been enabled before. That means making features monotonic and not redacting schemas stored on disk is equivalent, no?

[2020-07-27 16:22] haaawk commented on #6893
Actually, on second thought, I don't think this is true because new nodes use new schemas (at least I believe so) but that's ok as long as they don't allow any usage of new columns before appropriate features are enabled.

[2020-07-27 16:23] ShlomiBalalis commented on #6876
The issue reoccurred in this week's longevity-cdc-100gb-4h-test scenario of the master branch:
Scylla version (or git commit hash):666.development-0.20200724.d08e22c4e with build-id 15da8a4d7c5cd5eb49f872a9f79b575fbb08ccd2
Cluster size:6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0223d2ff3be2acdb1 (Ireland)

The issue occured on node#4 in 00:42, after a reboot:
[code]

Logs:
[code]

[2020-07-27 16:24] nizarh11 commented on #6893
The issue is also reproducing on longevity-cdc-100gb-4h-test:

scylla_ami_id= ami-0b7825734a40d9caa
version= 666.development-0.20200723.e7c18963e4b
number_of_nodes= 6

https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h-test/64/

[code]
Logs:
[code]

[2020-07-27 16:45] nyh opened #6926 "Alternator Streams: GetRecords should return empty "Records", not a missing attribute"
When DynamoDB Streams reads from a stream shard and there is nothing to return, it returns a response with an empty array as the `Records` attribute. Alternator currently returns a response missing the `Records` attribute. This difference should exist and can break client code reading from the streams.

The following test reproduces this issue:
[code]

[2020-07-27 17:24] gibsn opened #6928 "Aggressive compactions after upgrading to 4.1.2"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.2
Cluster size: 9 nodes
OS (RH

[2020-07-27 17:56] raphaelsc commented on #6924
Patch sent to seastar mailing list to convert memory corruption bugs which result from read ahead impl into aborts: https://groups.google.com/g/seastar-dev/c/6u9pTucsWSk/m/icLLBL9gAAAJ

[2020-07-27 18:09] bhalevy commented on #6909
@tgrabiec this falls in your area, please have a look at the stack trace.

@kak-tus can you please upload a core dump?

[2020-07-27 18:16] #6760 closed

[2020-07-27 18:16] #6891 closed

[2020-07-27 20:17] nyh opened #6929 "Reconsider default alternator_streams_time_window_s = 10 seconds"
Alternator's Streams implementation uses a parameter, `alternator_streams_time_window_s`, which defaults to 10 seconds, . What this 10 second interval does is that CDC log entries newer than 10 seconds old will not be visible. If I remember correctly, we claimed that we need this delayed reading to allow delayed CDC log writes to be reordered to the right order - and this is the behavior we recomm

[2020-07-27 21:32] nyh opened #6930 "Alternator Streams thinks that PutItem is a REMOVE+MODIFY"
This issue is similar to issue #6918 (perhaps it should be included into that issue? but I'm not sure), but even more surprising:
It turns out that every `PutItem` operation appears today in the Alternator Stream as two events - a REMOVE and a MODIFY! This is instead of just one event - a MODIFY or an INSERT (depending on whether the item existed before - see #6918).

This "REMOVE" event appears b

[2020-07-27 21:45] nyh commented on #6929
The 10-second delay has another weird consequence that I thought is worth mentioning:

In the Streams API `GetShardIterator`, the user can ask for a shard _iterator_ with the time `LATEST`. This option means (see https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_streams_GetShardIterator.html): "Start reading just after the most recent stream record in the shard". With our 10 secon

[2020-07-27 22:03] nyh opened #6931 "Alternator Streams: minor incompatibilities in GetRecords response fields"
This issue is about minor differences between the fields that Alternator puts in the response of the GetRecords operations - and what DynamoDB returns. All of these differences seem to me minor - perhaps even completely unimportant - but I wanted to explicitly list these differences somewhere (in this issue), and wanted to make a conscious decision whether we believe that those differences will ne

[2020-07-28 01:13] asias commented on #6853
Patch sent: https://github.com/scylladb/scylla/pull/6932

[2020-07-28 01:13] asias commented on #6868
Patch sent: https://github.com/scylladb/scylla/pull/6932

[2020-07-28 03:48] espindola commented on #6831
I found out why using the default allocator fixes the crashes: it never fails (on a desktop with a lot of ram). With the seastar allocator we limit the test run to 2 GiB, so it fails from time to time.

In particular, if it fails in the just the right  segment_pool::allocate_segment invocation, that calls

shard_tracker().get_impl().compact_and_evict(reserve, shard_tracker().reclamation_step() * s

[2020-07-28 04:17] denesb commented on #6898
@slivne based on the stacktrace this is a duplicate of #6613, which was fixed in https://github.com/scylladb/scylla/commit/3f84d41880eced9b3ef7564bef05ddc1b76c5a2e. We should close this and open new issues if we see it again.

[2020-07-28 04:17] denesb commented on #6811
@slivne based on the stacktrace this is a duplicate of #6613, which was fixed in https://github.com/scylladb/scylla/commit/3f84d41880eced9b3ef7564bef05ddc1b76c5a2e. We should close this and open new issues if we see it again.

[2020-07-28 04:18] denesb commented on #6784
We should close this as a duplicate of #6613 (which was fixed in https://github.com/scylladb/scylla/commit/3f84d41880eced9b3ef7564bef05ddc1b76c5a2e).

[2020-07-28 06:10] bhalevy commented on #6892
Does f488eaebafe4fdb4355c8ef36770f5807934e3fa close this issue?

[2020-07-28 06:14] bhalevy commented on #6851
@denesb Can we add checks for a mismatch between the table user/system origin and the concurrency semaphore used so we can return an error or assert earlier?

[2020-07-28 06:16] denesb commented on #6892
@bhalevy its the last repair deadlock related issue that was waiting to be merged so it should.

[2020-07-28 06:20] denesb commented on #6851
I added such a check for https://github.com/scylladb/scylla/commit/b7cfa4ea97cb204053f623c0d81698142df51409 although it only checks that the semaphore used is consistent across pages. We can add a similar check to single partition queries as well, but it is not possible to tell on the replica whether the semaphore is the right one for the query or not, because as the semaphore is selected based on

[2020-07-28 07:01] amoskong commented on #6925
Yes.

`internode_compression: all`

I found the internode_compression parameter in SCT configuration, and scylla yaml (we output it in sct log.)

[code]

[2020-07-28 07:11] amoskong commented on #6455
We can also do that in Python driver.
https://docs.datastax.com/en/drivers/python/3.4/_modules/cassandra/cluster.html

[code]

Example in python driver unit-test:

[code]

@slivne  Do you expect us to add the wait code in SCT test? we didn't do it now.

[2020-07-28 07:34] nyh opened #6933 "Alternator Streams: If an item did not previously exist, don't return an empty OldImage"
When DynamoDB Streams is enabled in OLD_IMAGE mode, a `StreamRecord` returned for an item that did not previously exist does not contain an `OldImage` field at all. Alternator Streams currently returns in this case an empty dictionary for `OldImage`.

This may confuse applications if they are written to assume that if `OldImage` exists, it is a genuine item - and in particular, includes at least t

[2020-07-28 07:39] psarna opened #6934 "View building needs to handle incorrect values in its system tables"
Currently, view building assumes that its helper system tables, e.g. `system.scylla_views_builds_in_progress`, contain certain values. If the values weren't there the system was prone to segfaulting (#6915), but now the failure ends with an exception. That's still not enough for smooth user experience though, since view building should not be permanently stopped once it encounters incorrect values

[2020-07-28 07:57] nyh opened #6935 "Alternator Streams: OldImage is missing the old item's key"
As checked by `test_streams.py::test_streams_updateitem_old_image`, DynamoDB Streams includes the entire old item - including its key - as the value of OldImage when OLD_IMAGE mode is enabled. Alternator is missing the key columns in this item. (note that OldImage should only exist and contain the key if an old item actually existed - see #6933).

The good news is that this test confirms Alternato

[2020-07-28 08:06] elcallio commented on #6931
I only really checked what the Kinesis driver seem to look at, and neither of the above was in there (IIRC). We don't generate payload size summary for any alternator calls, do we?

[2020-07-28 08:09] nyh commented on #6935
Ok, I understand what causes this "miracle"... The thing is, normally all of the non-key columns are not regular Scylla columns, but rather cells in a map (the ":attrs" map). Apparently, when a map is modified, the CDC preimage includes the **entire contents of the map**, not just the modified cells. Which is surprising (and undocumented), but fortunate in this case.

Unfortunately it means this m

[2020-07-28 08:15] elcallio commented on #6929
The problem as always are client timestamps. Otoh, since these don't exist in alternator (right?), the only _real_ issue is mismatched clocks in cluster. So there is a point for maybe allowing a smaller window for alternator.

For "normal" CDC we need the confidence window to deal with client timestamps reordering the stream events. Otherwise we could miss data, since we don't have monotonic count

[2020-07-28 08:20] elcallio commented on #6935
Look at `attr_names` in `get_records`. All regular columns are included, which will include LSI attributes.

[2020-07-28 08:22] elcallio commented on #6935
And the code most definitely adds keys to the record (line 779). Please share the test that you ran to produce a faulty result.

[2020-07-28 08:29] asias opened #6936 "Improve log on removing pending replacing node"
The log "removing pending replacing node" is printed whenever a node
 jumps to normal status including a normal restarts. For example, on
 node1, we saw the following when node2 restarts.

 [shard 0] storage_service - Node 127.0.0.2 state jump to normal
 [shard 0] storage_service - Remove node 127.0.0.2 from pending replacing endpoint

 This is confusing since no node is really being replaced.

[2020-07-28 08:38] nyh commented on #6935
But I don't understand how this is possible, if the underlying CDC "preimage" feature only includes in the preimage the **modified** columns. If we have an attribute which is a stand-alone, regular, column (which is the case of an attribute which is an LSI key but a regular column in the base table), CDC will simply not include it in the preimage, so you will not have it. What am I missing?

[2020-07-28 08:42] nyh commented on #6935
You're right. I should publish the xfailing test. I'll try to do this now. It requires some cleanup because of the 10 second issue required me to do some ugly (and slow!) sleeps I don't want to keep.

[2020-07-28 08:54] aleksbykov opened #6938 "Possible unnecessary Reshape process took place on node after removing sstables and restart scylla for new added node after decommission old one"
*Installation details*
Scylla version (or git commit hash): 4.2.rc1-0.20200716.b7c5a918cb with build-id d3d1a43182a1a9632cb0641942f3190d4de8fc30
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-0ff4be2bbfc8a5e68(us-east-1)

Cluster with 4 nodes was configured in [1Tb-7d job](https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-1tb-7days-test/8/).
Several nemes

[2020-07-28 08:54] tgrabiec commented on #6893
I don't like the idea of solving this problem by faking the digest. It makes the digest wrong, it won't match schema content, which can lead to other bugs where we think the two schemas are the same when in fact they're not.

If schema features are monotonic then we don't have to reload the schema when features are enabled. If the feature wasn't enabled it means there couldn't be anything relevant

[2020-07-28 08:54] elcallio commented on #6935
Ah, yes, current preimage is only modified data. This is true. But if I am not mistaken, this will probably change. So for now, this is a discrepancy, but perhaps not forever.

[2020-07-28 08:55] avikivity commented on #6784
Closing as duplicate of #6613.

[2020-07-28 08:55] #6784 closed

[2020-07-28 08:55] avikivity commented on #6898
Closing as duplicate of #6613.

[2020-07-28 08:55] #6898 closed

[2020-07-28 08:57] avikivity commented on #6938
This isn't a bug. Scylla now does reshape before starting, so if you perform operations that require a reshape or reshard, expect it to take longer to start.

[2020-07-28 09:03] haaawk commented on #6893
Just to clarify, that was the solution previously, right? New nodes were using the new schema that had to be backward compatible and were only faking the digest. Or was I getting it all wrong?

Are we changing this to make sure that new nodes use old schema until appropriate features are enabled? Have we started any work towards this? I sort of missed the moment this was decided.

I guess we could

[2020-07-28 09:32] kbr- commented on #6929
In theory, clock drifts are unbounded, and there are no guarantees.

In practice, it's all statistics. AFAIK Scylla clusters use NTP for clock synchronization, and the longer interval we take, the higher probability that clock drifts will fit in this interval.

In this paper: https://www.rfc-editor.org/rfc/rfc1128.pdf
the results of a survey are presented with some graphs attached showing the meas

[2020-07-28 09:37] kbr- commented on #6929
Hah. Have you ever tried running a test from SCT? :D

[2020-07-28 09:46] nyh opened #6939 "Alternator Streams: changing an existing stream's StreamViewType should be forbidden"
The DynamoDB documentation https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_UpdateTable.html states that it may be used to "Enable or disable DynamoDB Streams on the table.". It doesn't say that it allows to change the parameters (namely `StreamViewType` - one of KEYS_ONLY, OLD_IMAGE, NEW_IMAGE or OLD_AND_NEW_IMAGES) on an already enabled stream. In fact, a simple test can confir

[2020-07-28 10:19] avikivity commented on #6925
/cc @gleb-cloudius

[2020-07-28 10:54] gleb-cloudius commented on #6925
The error may happen if a connection is closed in the middle of a
message. 10.142.0.108 was shutdown around that time. Hard to say
what caused what. I do not see any rpc errors on 10.142.0.108 which my
mean that it was closed deliberately.

--
			Gleb.

[2020-07-28 11:04] roydahan commented on #6938
@avikivity the question here is what cause this reshape?
Looks like none of the operations in the test (AFAIK) should have triggered the reshape.

[2020-07-28 11:05] roydahan commented on #6938
@aleksbykov please edit the issue title, the issue is not that the reshape took 10 minutes, it's the necessity of this reshape to run.

[2020-07-28 11:07] raphaelsc commented on #6923
Alternatively we could have the system automatically adjust the window size as the number of windows approach a limit. For example, double the window size if we're approaching 100 windows, so that the capacity of each window with the new setting is doubled.

[2020-07-28 11:10] raphaelsc commented on #6938
On Tue, Jul 28, 2020 at 8:04 AM Roy Dahan <notifications@github.com> wrote:

looks like LCS invariant is broken. Level 3 has SSTables that overlap in
token range. Probably due to sstables import or something like that.

[2020-07-28 11:19] slivne commented on #6645
@ShlomiBalalis if this reproduces please create a coredump so we can check whats going on.

[2020-07-28 11:20] slivne commented on #6876
@penberg / @syuu1228 ping

[2020-07-28 11:47] denesb commented on #6851
I think this is a duplicate of https://github.com/scylladb/scylla/issues/6908, we can close it.

[2020-07-28 11:48] denesb commented on #6548
Duplicate of https://github.com/scylladb/scylla/issues/6908, we can close it.

[2020-07-28 12:27] bhalevy commented on #6548
Closing as duplicate of #6908

[2020-07-28 12:27] #6548 closed

[2020-07-28 12:39] fgelcer opened #6940 "repair stall in get_sync_boundary() std::list::clear() (56 ms)"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.1.0-0.20200618.b443b2574a8 with build-id 650a4b0c03ae680a9fbf7166c992e99e29b37123
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0249ab45ce70cc487

During a performance test, `test_latency_read_with_nemesis` after node is terminated (terminate instance on AWS) and init a new node, the nemesis run `nodetool repair` o

[2020-07-28 12:39] Felix-zhoux commented on #6747
I think "ALLOW FILTERING" has no effect on this query. The key to this question is why a query will directly return timeout to the client during the first query, but after a while the second query (same as the first) , And return results from the cache. What if the client is willing to wait for a while?

I executed cqlsh and added the parameter --request-timeout=6000, so this timeout should have n

[2020-07-28 12:45] Felix-zhoux commented on #6747
![image](https://user-images.githubusercontent.com/59597542/88666881-3c089280-d113-11ea-8eeb-5e06f4acd8d1.png)

[2020-07-28 12:54] bhalevy commented on #6851
Closing as duplicate of #6908

[2020-07-28 12:55] Felix-zhoux commented on #6747
My table has only one partition (2 billion rows of data), and the sstable it now contains is as follows. I want to know, what happens when I execute a query statement (a certain row)?

[code]

[2020-07-28 12:57] denesb commented on #6833
This could be a duplicate of #6868 (with weak confidence).

[2020-07-28 13:00] bhalevy commented on #6875
Still happening: https://jenkins.scylladb.com/view/scylla-4.1/job/scylla-4.1/job/dtest-release/63/testReport/

[2020-07-28 13:01] bhalevy commented on #6875
Let's let the fixes brew in master and 4.2 and then see if we want to backport them to 4.1

[2020-07-28 13:06] slivne commented on #6928
I checked the logs

One thing that is visible is that
- Compaction on 4.0.3 --> generated one sstable
- Compaction on 4.1.2 --> at times generates multiple sstables

[code]

and those are compacted again with others

[code]

In TWCS after the
So that seems to indicate that in compaction of TWCS we are splitting into windows (like we should) but for some reason - we are not compacting onlt the last

[2020-07-28 13:06] kbr- opened #6941 "Forbid adding new fields to UDTs used in partition key columns"
Corresponding C* issue:
https://issues.apache.org/jira/browse/CASSANDRA-15933

[code]

[2020-07-28 13:10] nyh opened #6942 "Alternator Streams: last result is returned again and again"
For an application to read from a DynamoDB stream it does something like the following: It gets an "iterator" for a shard, uses `GetRecords` on this iterator, gets back some results plus a new iterator in the `NextShardIterator`  to use on the next read.

The current implementation has an interesting bug: After you read a few results from a shard, if you read again (using the previously returned n

[2020-07-28 13:11] tgrabiec commented on #6893
Maybe part of the confusion is that the term "digest" is ambiguous. There is a per-node schema digest, which is a digest of the whole schema, and there's "table schema version", which is a digest of the schema of a single table.

The fix in b97f466 deals with table schema version (also called digest in the commit message), by redacting mutations before it is calculated. Table schema version was no

[2020-07-28 13:26] haaawk commented on #6893
@tgrabiec @eliransin Maybe this would solve the problem -> https://github.com/scylladb/scylla/pull/6943

[2020-07-28 13:30] tgrabiec commented on #6893
@haaawk Redaction on merge needs to be consistent with redaction on boot, since even during rolling upgrade, nodes can reboot,  and we should end up with the same decision about digests.

[2020-07-28 13:31] raphaelsc commented on #6928
thanks for the analysis @slivne.

That's happening because TWCS wants to limit each window other than the last one to just 1 SSTable. For example, TWCS does STCS on the last window until it closes, and thereafter TWCS makes sure that it has a single SSTable.

After data segregation, compaction may now generate a SSTable that will be pushed to older windows, causing them to have more than 1 SSTable

[2020-07-28 13:34] nyh commented on #6942
This test reproduces this bug. I'm still trying to clean up my mass (or mess) of tests and send them all as a patch - if I just don't run into more bugs while doing that :+1:

[code]

[2020-07-28 13:37] elcallio commented on #6942
You are not updating `iterators`. You are literally selecting the same records each lap.

[2020-07-28 13:38] elcallio commented on #6942
Is that intentional?

[2020-07-28 13:49] dyasny commented on #6539
This is going to be VERY useful for the cloud (among other places), can we ask for a backport to enterprise as soon as possible @slivne ?

[2020-07-28 13:52] slivne commented on #6539
Cloud already adds swap to machines.

AMI still doesn't have support for this.

It will make its way into Enterprise AMIs at some point.

On Tue, Jul 28, 2020 at 4:49 PM Dan Yasny <notifications@github.com> wrote:

[2020-07-28 14:37] elcallio commented on #6942
Missing your fixture to be able to run the above. But if you use a fixture you can't really be sure the streams only hold a single item. I think you need to create a new table for the test.

[2020-07-28 14:42] bhalevy commented on #6357
Last time this reproduced was about a month ago, in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/204/testReport/repair_additional_test/RepairAdditionalTest/repair_during_update_test_2/

Let's consider closing it if it doesn't reproduce again.

[2020-07-28 14:54] gibsn commented on #6928
@raphaelsc thanks for explanation

In our case weekly single SSTables are ~20GB big. Looks like one read repair could cause the whole 20GB being rewritten for just one partition, and then again and again. We took TWCS because it provides significantly lower WA. We never intentionally write to the past and reads from the past are quite rare so TWCS was a really good choice for us, once compacted th

[2020-07-28 14:57] #6851 closed

[2020-07-28 15:02] raphaelsc commented on #6928
@gibsn The # of SSTables in each window is important because of read amplification, which affects latency. Your latency is being hurt due to the significant increase in WA, which cause the disk to be dominated by writes. My idea is that we do STCS on older windows, that received new data as a result of this data segregation feature, given that STCS is really low in terms of write amplification. Ad

[2020-07-28 15:04] jul-stas commented on #6878
@nizarh11 Can I, by any chance, get an access to the machine where the test failed?
Locally I tried many combinations of `nodetool` with YAMLs and it always worked.

[2020-07-28 15:05] aleksbykov commented on #6309
Issue reproduced on scylla version: 4.2.rc1-0.20200727.b06dffcc1 with build-id 2f503ab6e8bb5bb79ad487dfcc42aba4de1cb53f

[Job 1Tb-tls-7d ](https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-1tb-7days-test/9/)is still running. this is the first nemesis:Truncate which was applied to cluster.
new keyspace ks_truncate and table were created with c-s tool. After c-s

[2020-07-28 15:07] ShlomiBalalis commented on #6878
@jul-stas The machine is already terminated, but we can try to recreate it if it's necessary

[2020-07-28 15:08] gibsn commented on #6928
If you could provide some config param that would be ok for us. What can we do now

Imagine that during the week there happened read repairs for every past week. In this case every week we are gonna rewrite all the data in cluster.

I suggested doing minor compactions, in this case every week will have at max 2 SSTables, which increases the latency 2x in the worst case for those requests that hit

[2020-07-28 15:12] jul-stas commented on #6878
@ShlomiBalalis I'd love to! Without being able to invoke this command by hand, in this particular env, we are debugging blindfolded.

[2020-07-28 15:13] gibsn commented on #6928
output of `expired_sstables.py`:
[expired.sc8.log](https://github.com/scylladb/scylla/files/4989250/expired.sc8.log)

[2020-07-28 15:23] fgelcer opened #6944 "reactor stalled for 74 ms during full repair on a freshly added node (refill_emergency_reserve)"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.1.0-0.20200618.b443b2574a8 with build-id 650a4b0c03ae680a9fbf7166c992e99e29b37123
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0249ab45ce70cc487

During a performance test, `test_latency_read_with_nemesis` after node is terminated (terminate instance on AWS) and init a new node, the nemesis run `nodetool repair` o

[2020-07-28 15:24] fgelcer commented on #6944
could be related to #6940 6940

[2020-07-28 15:26] raphaelsc commented on #6928
I can work on this fix where we'll do STCS (with a min threshold of 2 to keep the max # of SSTables in a window relatively small) instead of major compaction in older windows that received new data. Write amplification will be significantly improved and will probably solve your issue. We can then backport the fix to your branch. How does it sound to you?

Yes, that may be too aggressive for some u

[2020-07-28 15:28] fgelcer opened #6945 "reactor stalled for 119 ms during full repair on a freshly added node (refill_emergency_reserve)"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.1.0-0.20200618.b443b2574a8 with build-id 650a4b0c03ae680a9fbf7166c992e99e29b37123
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0249ab45ce70cc487

During a performance test, `test_latency_read_with_nemesis` after node is terminated (terminate instance on AWS) and init a new node, the nemesis run `nodetool repair` o

[2020-07-28 15:29] fgelcer commented on #6945
could be related to #6940

[2020-07-28 15:32] nyh commented on #6942
The idea of this test is that we have many iterators (512 in my test setup), but we did only one write and only one of these iterators will *ever* see any activity. We retry the same iterator again and again (no need to change them) until finally we see **one** iterator with data. This one - we check. We get the NextShardIterator and try to read from it, and see that we get the same item yet again

[2020-07-28 15:33] fgelcer commented on #6945
and there is another one, with 82 ms, with similar back trace (if needed, i will open a new issue):

decoded:
[code]

[2020-07-28 15:35] nyh commented on #6942
I thought I got around this issue by making sure I am using the "LATEST" iterator, which supposedly doesn't include old data, but it turns out that although all my tests pass individually on Amazon, when running all of them not all of them pass. So indeed it may be too risky to use fixtures. Or rather - "session" fixtures. We can still use function-scope fixtures (`@pytest.fixture(scope="function"

[2020-07-28 15:39] gibsn commented on #6928
So you are gonna have two positions for some new knob:
* do STCS on older windows with a min threshold of 2
* do STCS on older windows with a min threshold of 2 and do major compaction for every previous window when the current window closes (default)

Did I understand you right? If so I guess it's ok for us.

I understand that it is gonna take a couple of weeks :( Can we do something now? Like ma

[2020-07-28 15:58] slivne opened #6946 "system.clients is missing information with regards to connected clients"
Scylla 4.0.X

[code]

[code]

- too many fields are null all of them should have values.
- username is incorrect its anonymous it should be cassandra
- protocol version is incorrect its not version 0

[2020-07-28 16:19] raphaelsc commented on #6928
Something along these lines, yeah.

I will think about something.

[2020-07-28 16:20] gibsn commented on #6928
@raphaelsc thanks much!

[2020-07-28 20:16] raphaelsc commented on #6928
It's possible to control compaction bandwidth with the config compaction_static_shares, but setting compaction shares like that can affect read performance as compaction will potentially fall behind.

An alternative is to temporarily increase the window size to 1 month for example. That means TWCS is going to do size-tiered compaction on the last month of data, and there will be no data segregatio

[2020-07-29 00:14] amoskong opened #6947 "UX: scylla_setup: include swap size in the prompt"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200727.a7df8486b
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

Current prompt:
[code]

Problem:
- The swap size is calculated automatically after user inputs the directory and confirms. User doesn't know how much space will be used.

Suggestion:
- include the swap size in the prompt

[code]

@tzach

[2020-07-29 03:27] #6915 closed

[2020-07-29 03:27] #6924 closed

[2020-07-29 03:27] #6853 closed

[2020-07-29 03:27] #6934 closed

[2020-07-29 03:27] #6936 closed

[2020-07-29 03:27] #6868 closed

[2020-07-29 03:27] #6636 closed

[2020-07-29 04:41] syuu1228 commented on #6876
Seems like var-lib-scylla.mount started before mdraid started, we need defer starting the service after mdraid initialized.
We could use `After=mdmonitor.service` for this, but I also found mdmonitor.service failed to start:
[code]
Probably because of invalid parameter passed from config file, we need to initialized it correctly.
Note that we don't need `After=mdmonitor.service` when we use single

[2020-07-29 06:53] avikivity commented on #6924
Backported to 4.0, 4.1, 4.2.

[2020-07-29 06:55] avikivity commented on #6636
Backported to 4.0, 4.1, 4.2.

[2020-07-29 06:56] avikivity commented on #6853
Backported to 4.0, 4.1, 4.2.

[2020-07-29 07:58] bhalevy commented on #6928
Cc @avikivity please be in the loop

[2020-07-29 08:06] avikivity commented on #6928
@raphaelsc let's apply normal STCS within windows. This way the small updates from read repair won't cause too much damage.

[2020-07-29 08:08] slivne commented on #6928
On Wed, Jul 29, 2020 at 11:06 AM Avi Kivity <notifications@github.com>
wrote:

I think that the active window needs to follow the TWCS rules (if they are
STCS great - if they are more aggressive they should stay that way).

[2020-07-29 08:11] nyh commented on #6929
@kbr- @elcallio  a few notes:

First I think it is not true that the only reason why the `streams_time_window` is needed is clock differences between the nodes. Let me explain:

The other potential cause of reordering is the latency of the network and replication: Imagine for a moment perfectly synchronized clocks. The client sends a request at time t1 to coordinator node1, and at time t2 to node2

[2020-07-29 08:29] gibsn commented on #6928
@raphaelsc thanks

We tried tuning `compaction_static_shares` when we encountered #5921. Even with relatively small values we still had high read latencies :(  also current `compaction_static_shares` values (can be seen on the screenshot attached) are somewhat like those during weekly compactions and we do not get so many timeouts during weekly compactions.

We have data since 12.2019 and read rep

[2020-07-29 09:10] roydahan commented on #6947
I would say even to check how much free disk space is available and if there is not enough free space, to warn the user and give the option to exit the setup and extend the disk space.

[2020-07-29 09:36] roydahan commented on #6938
@aleksbykov please list the nemesis that took place in this run till this reshaping.
I don't recall we had "RefreshMonkey" or anything else that could load sstables.

[2020-07-29 09:38] avikivity commented on #6655
Still happens on jmx.

[2020-07-29 09:38] amoskong commented on #6947
Currently if the assigned directory doesn't have enough space, the dd cmd will fail, and scylla_swap_setup fail, then scylla_setup will exit.

[2020-07-29 09:46] haaawk opened #6948 "Add version number and grouping to stream id to allowing changing it in the future"
Probably 4 bits at the beginning of the blob should be enough.

[2020-07-29 09:55] kbr- commented on #6929
@nyh

True, and as you explain, it's even worse than clock drift (for failed writes at least).

The CDF's **rate of increasing** helps us decide.
I wanted to point out that between 1s and 10s there is an **order of magnitude** difference in probability (0.1 vs 0.01), and between 10s and 100s the difference is insignificant.

The missing NEW_IMAGE from t1 could be related to a different key.
But if

[2020-07-29 10:02] aleksbykov commented on #6938
Nemesises sequence:
1. SnapshotOperations (Actions performed on node: create snapshot, list created snapshots, clear all snapshot)
2. Decommission(node2 was decommissioned, node5 was added)
3. CorruptThenRepair(scylla was stopped on node5, several sstables were removed, scylla started on node5)

There is now any refresh operation explicitly executed.

The possible reason ( i mentioned in descripti

[2020-07-29 10:07] raphaelsc commented on #6928
The problem is that TWCS users care a lot about write amplification. They expect that once a window is closed it will not be written to anymore. With data segregation, we may be constantly generating data to past windows, causing those past windows to be recompacted over and over again (like Avi pointed out, even small updates from read repair can trigger this). So now disk is dominated by writes,

[2020-07-29 10:26] roydahan commented on #6947
Which is bad.
It's something we could foresee and prevent the user failure.

[2020-07-29 10:40] nyh commented on #6929
That is true, but we can't base this decision on some graph from 30 years ago based on just a few hundred measurements that were probably incorrect even at the time. And even if that graph was accurate it doesn't include the issue of replication latency.

This is a very good point. So yes, missing that write from t1 could be missing any write of any key, completely unrelated to what happened in t2

[2020-07-29 10:47] kbr- commented on #6929
True, but it's even worse to base our decision on guessing.
I think we need to make an educated decision based on empirical data. I agree that the data I linked is probably outdated -- it's just what I found after a minute of googling -- but I'd assume there exists more recent research in this domain.

[2020-07-29 10:51] avikivity commented on #6945
No, that looks different.

[2020-07-29 10:52] avikivity commented on #6945
@fgelcer all traces that have "refill_emergency_reserve" in them are the same.

[2020-07-29 10:53] avikivity commented on #6945
And there are tons of them reported over time. We should fix #325, it will help a lot and isn't hard.

[2020-07-29 10:57] samek commented on #4200
What should be changed in original schema in order to create table ?

[2020-07-29 11:00] penberg opened #6949 "Build scylla-unified tarball as part of "dist" target"
There's a `unified/build_unified.sh` script to build unified tarball, but we need to make it as part of the `dist` target in ninja.

[2020-07-29 11:04] amoskong opened #6950 "we should suggest to recover sstable files in main SSTable directory after `nodetool refresh` fail"
*Installation details*
Scylla version (or git commit hash): 4.1.2-0.20200715.cd4502ee64 / master
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description

We dropped support of online loading SStable files from main directory by commit
 https://github.com/scylladb/scylla/commit/70e5252a5d5183a51635154b3aa602a4812c67ce

When we try to do it, the 'nodetool refresh' will fail as expe

[2020-07-29 11:08] bhalevy commented on #6467
ping.  happened again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/566/testReport/lwt_destructive_ddl_test/LwtDestructiveDDLTest/test_drop_column/
[code]

[2020-07-29 11:09] slivne commented on #6876
@penberg - please review the above and comment

[2020-07-29 11:14] bhalevy commented on #6912
FWIW, it looks like it's working fine in master (a7df8486b1)

[2020-07-29 11:21] bhalevy commented on #6950
I don't understand how the two are related.

Why is repair needed?

If you uncompress the snapshot file as you wanted, just to the upload directory and then run refresh, would repair be needed?

[2020-07-29 11:26] amoskong commented on #6950
If the sstable files in main SSTable directory are overwritten, it's harmless?
Will it cause problem / mistake after node restart?

[2020-07-29 11:28] amoskong commented on #6947
Agree with your point.

[2020-07-29 12:00] juliayakovlev commented on #6455
AFAIU we can use it  (wait_for_schema_agreement) in case the schema changes were performed using the session.
But if we run cassandra-stress, scylla-bench (or other), we can't use it. In this case we can use ``` nodetool describecluster``` or validate schema version in gossip and system.peers

[2020-07-29 12:22] kostja commented on #6467
@ManManson is still working on a fix :(

[2020-07-29 12:54] avikivity commented on #6912
Maybe it's working conditionally. We should track this down.

[2020-07-29 13:10] dyasny commented on #4200
{'sstable_compression': 'org.apache.cassandra.io.compress.LZ4Compressor'}

On Wed, Jul 29, 2020 at 6:57 AM Samo Gabrovec <notifications@github.com>
wrote:

[2020-07-29 13:15] samek commented on #4200
Thanks, tables created.

[2020-07-29 13:20] brackxm opened #6951 "alternator AttributesToGet breaks QueryFilter"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.2.rc1
Cluster size: 1
OS (RHEL/C

[2020-07-29 13:22] slivne commented on #6951
@brackxm thanks can you provide an example ?

[2020-07-29 13:22] roydahan commented on #6354
I think this issue can be closed now.
We extended the time between each node boot and we don't face this issue anymore.

[2020-07-29 13:22] #6354 closed

[2020-07-29 13:22] psarna commented on #6453
Botond recommended calling `task_histogram -a` in `gdb` as well, and it shows a really large number of tasks related to collections:
[code]
I strongly suspect that this shard simply went OOM after being overloaded with huge rows with huge collections. @dkropachev are there any logs from this nemesis which tell what kinds of columns were added and how many of them?

[2020-07-29 13:58] haaawk commented on #6912
I was able to reproduce it on master c4cb3817cf44ce9f884e0f8791e095d9b7d1dede

[2020-07-29 14:01] denesb commented on #6831
I reproduced this easily, in my tries one of three things happen:
* segfault
* std::bad_alloc
* assert() in seastar::memory

[2020-07-29 14:12] espindola commented on #6831
The patch I posted fixes another failure mode: assert in scylla.
I am reducing again with that patch in and trying to focus on the segmentation fault.
I can push the new branch and let you take it from here if you want.

[2020-07-29 14:15] espindola commented on #6831
Oh, and another failure mode I noticed: a wrong answer that fails the test (no crash).

[2020-07-29 14:18] nyh commented on #6951
Oops, good spot... As you suspected AttributesToGet returns only some of the attributes, but then the filter expression might require additional attributes to evaluate on... We should write a test reproducing this (easy) and then fix it (not hard, but need to figure out the least ugly way to do it).

[2020-07-29 14:22] espindola commented on #6831
I pushed a new version of https://github.com/espindola/scylla debug-6831
It includes the v1 of my shutdown fix. It disables a bunch of features of the memory manages infrastructure to try to locate what is causing the crash. So far it only crashes with dev build.

[2020-07-29 14:30] haaawk commented on #6912
So really the problem is that UNBOUNDED_RANGE_TOMBSTONES are not included into supported_features on disk. In fact it is enabled and I was possible to run `delete from ks.ks where pk = 1 and ck > 5 and ck < 10;`.

I think functionally there is no problem at all but will try to fix the persistence.

[2020-07-29 15:42] bhalevy commented on #6831
@espindola says that increasing the memory foorprint to 4GB makes the bug not reproducible.

[2020-07-29 16:09] espindola commented on #6831
Not sure if I would call it footprint, it is the -m option. With more memory we don't get as many lsa compactions with is probably why we don't get a crash.

[2020-07-29 16:24] bhalevy opened #6952 "Unit test scylla-gdb.py"
`scylla-gdb.py` tends to break from time to time due to various changes.
Could be in the toolchain, gdb itself, or in scylla, like the breakage recently fixed by @xemul after changing to row cache to use B+ tree.

Therefore we need a unit test that could be automated, e.g. in our Jenkins next promotion job.
For example, attach scylla-gdb.py to a running scylla process, after applying some minimal

[2020-07-29 17:02] bhalevy commented on #6950
If sstables were just added by mistake they should be carefully deleted and no harm is done.

Rewriting or removing sstables in the main directory could be a serious operator mistake.
Even restoring from backup should be done via refresh from the upload directory (and then, repair should be run
on the cluster after restore is done).

I'm not sure if changing sstables in place should be officially

[2020-07-29 17:31] tgrabiec opened #6953 "Commitlog replay segfaults when mutations use old schema and memtable space is full"
Introduced in 79935df959a7066ab1a61c1c4b350391a23cc2b5

Scylla version (or git commit hash): 3.2+

The mutation object may be freed prematurely during commitlog replay in the schema upgrading path. We will hit the problem if the memtable is full and apply_in_memory() needs to defer.

This will typically manifest as a segfault.

[2020-07-29 18:43] raphaelsc commented on #6928
@gibsn

Solution can be found in my private branch https://github.com/raphaelsc/scylla/tree/fix_twcs_agressiveness_after_data_segregation

The patchset was already sent to scylladb mailing list as:
"[PATCH 0/7] Fix TWCS compaction aggressiveness due to data segregation"
https://groups.google.com/g/scylladb-dev/c/_y-DWRpZreM/m/Vbc1nxJXAQAJ

[2020-07-29 21:10] nyh commented on #6951
I just sent a **test** patch to the mailing list, to reproduce this bug. The mail is titled "_alternator test: tests for combination of query filter and projection_". It demonstrates that indeed as @brackxm said, a combination of `QueryFilter` and `AttributesToGet` does not do the right thing. It also demonstrates that the newer variants of these two parameters - `FilterExpression` and `Projection

[2020-07-30 04:55] avikivity commented on #6928
@raphaelsc please provide a private rpm to @gibsn (and @gibsn please report if it helps)

[2020-07-30 07:36] psarna commented on #6951
We had an identical issue in the CQL layer :) Which resulted in https://github.com/scylladb/scylla/blob/c4cb3817cf44ce9f884e0f8791e095d9b7d1dede/cql3/statements/select_statement.cc#L1579
, and a similar trick should be applied to alternator.

[2020-07-30 07:39] bhalevy commented on #6952
@espindola this is in the area of #6365 and #4186 so you can do it would be good to work on them together.

[2020-07-30 07:57] nyh commented on #6951
If we do use the trick which you proposed (adding the filtered columns to the list of columns to fetch), we also need to remember to remove these extra attributes from the JSON response at the end. My test even verifies that we don't forget that - it filters on column 'x', asks for column 'y', and then verifies that only column 'y' was actually returned, nothing else.

However, there might be an a

[2020-07-30 08:11] psarna commented on #6951
Yes, we do need to fetch all attributes from `:attrs`, at least until Scylla exposes a way of fetching only specific elements from collections (or, until we change the backing implementation to use something else than collections).

Regarding the alternative solution, we do still need to implement the pessimistic case when LSI are present, right? So relying on the fact that `:attrs` is always fetc

[2020-07-30 08:20] asias commented on #6886
Yes. It is a duplication of #6874.

[2020-07-30 08:20] #6886 closed

[2020-07-30 08:30] asias commented on #6833
I think "repair: Fix race between create_writer and wait_for_writer_done" should fix this issue. I am closing it now. We can reopen if it happens again.

[2020-07-30 08:34] asias commented on #6543
I believe this is fixed by: repair: Fix race between create_writer and wait_for_writer_done (e6f640441a726c9b6f9ccfb2a482d809ad962041). I am closing  it.

[2020-07-30 08:34] #6543 closed

[2020-07-30 08:36] asias commented on #6492
Closing. Duplication of #4325 and #6088.

[2020-07-30 08:36] #6492 closed

[2020-07-30 08:36] nyh commented on #6951
My point wasn't about "relying" on all the columns being fetched - it's about deliberately Scylla asking to fetch all of them, and not trying to be clever and dropping some of them half-way as we do today - after reading them already, and instead only drop them at the end (a step which we will need to have in any case).

But if we don't want to give up any shred of potential performance, what we c

[2020-07-30 08:39] asias commented on #6245
Since we can calculate the number from scylla_memory_total_memory. We can avoid exporting it as metrics. @mmatczuk I am closing this please reopen if you disagree.

[2020-07-30 08:39] #6245 closed

[2020-07-30 08:41] asias commented on #6252
The patch "repair: Relax size check of get_row_diff and set_diff" is supposed to fix this specific issue. I am closing it.

[2020-07-30 08:41] #6252 closed

[2020-07-30 08:45] asias commented on #6272
Do we plan to backport to 4.1 or 4.2 branch? A user is asking.

[2020-07-30 08:53] psarna commented on #6951
Oh, ok, now I get the idea. I'm fine with unconditionally fetching all columns and then only projecting the needed attributes. If it ever becomes a problem, we would only need to *add* some lines to fetch less than necessary, while the projecting part likely remains the same, so there debt we create by not optimizing all cases is really small.

[2020-07-30 08:56] avikivity commented on #6272
I think it's in 4.2, and we should backport to 4.1. @roydahan what's the testing status of the fix?

[2020-07-30 09:12] asias commented on #6603
@denesb can we fix this issue now after "db/view: view_update_generator: unbalanced wait/signal can cause unbounded concurrency #6774"?

[2020-07-30 09:35] slivne commented on #6950
change the text

[code]

to be

[code]

[2020-07-30 09:38] slivne commented on #6948
lets decide if we are doing this or not prior to GA

[2020-07-30 09:38] aleksbykov commented on #6878
Issue reproduced for rolling upgrade from 4.1->4.2 [job link](https://jenkins.scylladb.com/job/scylla-4.2/job/Reproducers/job/rolling-upgrade-centos7-test-clone/). Unfortunately the instances with reproduce were terminated.

[2020-07-30 09:50] roydahan commented on #6272
if it's related also to testing f488eae, it's not yet tested on master.

[2020-07-30 10:32] haaawk commented on #6948
I think we should

[2020-07-30 11:30] aleksbykov commented on #6878
@jul-stas try this node: rolling-upgrade-swap-opt-centos-db-node-4293f950-0-3 [35.231.212.139 | 10.142.0.33]

[2020-07-30 11:44] MikeGoltsov commented on #6909
We had cluster with 5 nodes, now 4 from of them reinstalled with new database.
On one remaining node which have had a problem I have add blackhole routes to another hosts for prevent joining in new cluster, and start Scylla server again.
In this config server don`t fall, but in logs appeared:
[code]

[2020-07-30 12:02] avikivity commented on #6909
@MikeGoltsov Please file a new issue with as much information as you can.

[2020-07-30 12:05] MikeGoltsov commented on #6909
It`s same node from author

[2020-07-30 12:11] aleksbykov commented on #6878
[code]

[2020-07-30 12:18] raphaelsc commented on #6928
working on it...

[2020-07-30 13:11] #5870 closed

[2020-07-30 13:11] #6655 closed

[2020-07-30 13:11] #6783 closed

[2020-07-30 13:11] #6953 closed

[2020-07-30 13:18] tgrabiec commented on #6909
@MikeGoltsov Can you send us your `/var/lib/scylla/data/mannode/smi_templates_data-9eaf01a06cf811eabb70000000000006/mc-9-*` files and schema?

[2020-07-30 13:30] MikeGoltsov commented on #6909
@tgrabiec Already upload to http://upload.scylladb.com/ with report_uuid 7b041127-ef38-4cc9-b9cd-4c9055c7b32b

[2020-07-30 13:39] avikivity commented on #6953
Backported to 4.0, 4.1, 4.2.

[2020-07-30 17:17] syuu1228 opened #6954 "scylla_raid_setup cause traceback on CentOS7"
Seems like older lsblk does not have PARTTYPE column, scylla_raid_setup fails on get_partition_uuid().
We probably should add lsblk on relocatable binaries, just like other external commands.
[code]

[2020-07-30 17:20] bishnuagrawal-zeotap opened #6956 "Scylla 4.0.5 Server not booting up"
*Installation details*
Scylla version (or git commit hash): 4.0.5-0.20200728.466cfb0ca66
Cluster size: 3 nodes, n2-highmem-16
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu
Kernel: 4.15.0-1029-gcp #31-Ubuntu

Hello Team,

We are running JanusGraph with Scylla as a storage engine. It's a 3 node Scylla cluster that hosts 2 keyspaces (idgraph1, tapadgraph). We are trying upgrading Scylla to 4.0.5 from 3.1 v

[2020-07-30 20:20] raphaelsc commented on #6928
@gibsn Please find your private RPM here:
gsutil cp gs://scratch.scylladb.com/raphaelsc/scylla-rpm-20200730.7561d2784.tar.bz2 /path/to/rpm

It was built from my private branch which is based on scylla-4.1.2 and contains the fix for this issue: https://github.com/raphaelsc/scylla/commits/fix_twcs_aggressiveness_for_4_1_2

[2020-07-30 21:06] raphaelsc opened #6957 "Compaction efficiency can be improved by not trimming compaction jobs"
Issue opened for possibly backporting the patch
https://github.com/scylladb/scylla/commit/99b75d1f6378cccf03d43f687863d64fbc0c97f9 that significantly increases the overall compaction efficiency by simply killing the procedure that trimmed compaction jobs. The patch doesn't add any code, so backporting it given the benefits it provides is worth the effort.

Quoting the patch:
[code]

[2020-07-30 21:09] raphaelsc commented on #6957
Closed by https://github.com/scylladb/scylla/commit/99b75d1f6378cccf03d43f687863d64fbc0c97f9

[2020-07-30 21:09] #6957 closed

[2020-07-31 01:21] zaddok commented on #2962
I receive this error upon doing the following (cut down) example.

[code]

This definitely works in cassandra. I am assuming Scylla doesn't support this, is that correct? (I just want to double check, It feels like this type of search is basic enough that it should be possible)

[2020-07-31 03:30] asias commented on #6397
Columns for node 8 in system.peers was not fully shown here. e.g., tokens.  I think you only selected part of the columns in the sct. We need to know all the columns. Can you please modify the sct test so that when we hit it again we know the full info in system.peers? @juliayakovlev .

It is similar for @bentsi 's case [here](https://github.com/scylladb/scylla/issues/4652#issuecomment-627664189)

[2020-07-31 06:04] denesb commented on #6603
@asias this issue should have been closed by f488eaebafe4fdb4355c8ef36770f5807934e3fa but somehow the merge commit used the commit message from one of the patches, instead of that of the cover letter, loosing the "Fixes" tag as well.

[2020-07-31 06:05] denesb commented on #6603
Fixed by f488eaebafe4fdb4355c8ef36770f5807934e3fa.

[2020-07-31 06:05] #6603 closed

[2020-07-31 07:12] asias commented on #6272
The fix is a9c7a1a86c426a235f20d8a742cfdeba56930672. It is in 4.2 but not in 4.1 yet.

[code]

[2020-07-31 08:15] aleksbykov opened #6959 "Segmentation fault and coredump during decommission termination and rebuild command failed"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200727.a7df8486b with build-id ce64d8221eea00df25582ee16c87c0c0e8eed4e1
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0621715fb9a5e4fda (Detected Linux distribution: AMAZON2)

Decommission process started on node3:
[code]
[code]
During repair process on node3, node is rebooted:
[code]
[code]
During node rebootin

[2020-07-31 08:15] aleksbykov commented on #6959
Job link: https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/longevity/job/longevity-50gb-4days/20/

[2020-07-31 08:21] #6813 closed

[2020-07-31 09:28] denesb commented on #6952
We can verify that each command can be executed without errors, which should already be good enough to ensure there are no glaring regressions.

[2020-07-31 11:18] denesb commented on #6831
I think we have a memory corruption, something is overwriting other objects in the heap. In one crash I observed a corrupt `_free` pointer in the `small_pool` object in `small_pool::allocate()`:
[code]

An earlier `allocate()` call could have reused a slot, which had a corrupt `free_object` in it, loading the corrupt pointer into `_free`. The `free_object` could have been corrupted by something wr

[2020-07-31 12:49] jul-stas commented on #6878
I got it (thanks for setting up the test machine!). Our `scylla.yaml` is malformed:
[code]
The only allowed values for `internode_compression` are: `none`, `all`, `dc` (without quotes). The parameter can be also omitted, which also results in `none`. The real questions are:
- how did `'null'` get there?
- Why Centos 8 test env has correct `scylla.yaml`?

[2020-07-31 12:57] gibsn commented on #6928
I installed the provided RPM in dev cluster and Scylla prints the old version in log:
[code]

Though:
[code]

[2020-07-31 13:50] denesb commented on #6831
I tried adding ASAN redzones around `free_object` but with the sanitizers enabled, the release build hit ICE after about half an hour (and only around half of the required artifacts).

[2020-07-31 14:33] gibsn commented on #6928
Yum installed only the main package, I installed all the others and now it's ok

[2020-07-31 16:16] espindola commented on #6831
Botond Dénes <notifications@github.com> writes:

Note that you don't need a release build to reproduce this. I was able
to reproduce it in a dev build modified to use -O0 -g instead of -O1.

Cheers,
Rafael

[2020-07-31 18:36] gibsn commented on #6928
We have deployed the fix to one node and it seems to behave better. Number of SSTables has dropped 2x and Scylla is not compacting much:
<img width="1377" alt="Снимок экрана 2020-07-31 в 21 36 27" src="https://user-images.githubusercontent.com/11294101/89066289-e122a580-d375-11ea-9305-ea23290eba89.png">

Will update the whole cluster on Monday

[2020-08-01 20:51] alienth commented on #6486
I was able to repro this again after completely truncating all data and rebuilding it. Going to modify the code to try and diagnose the issue.

[2020-08-02 02:26] raphaelsc commented on #6928
Thanks for the report, @gibsn. Really glad to know that the fix worked well to you.

[2020-08-02 09:00] ShlomiBalalis commented on #6878
The 'null' part seem to be an issue on our side, we found its source and @nizarh11 is currently running a fix, we will update about it when the run will finish its run

[2020-08-02 09:39] slivne commented on #6959
@asias / @denesb / @bhalevy - its an exception fro the repair_writer (I am not sure who should handle).

Please clarify if this exists in 4.2 as well

[2020-08-02 09:43] slivne commented on #6956
@bishnuagrawal-zeotap

from which 3.1.X exactly are you upgrading

Can you please provide the coredump according to https://docs.scylladb.com/troubleshooting/report_scylla_problem/

Please note your keyspace has replication_factor: 1 - you need to make sure to retain to token ownership or else you will "loose" data.

[2020-08-02 09:47] slivne commented on #6938
@asias please check the repair - did the repair end - are we supposed to see some log in repair based operations showing that repair ended for a specific table / keyspace / node ?

@raphaelsc - if there was not refresh - why did we have reshape kick in

[2020-08-02 10:01] slivne commented on #6925
this is a rolling upgrade - which means we are shutting down nodes in an orderly fashion.

if we are draining a node - is this supposed to happen - or are connections supposed to be closed in a clean manner

@gleb-cloudius ?

[2020-08-02 10:04] gleb-cloudius commented on #6925
The nodes that shutdown it due to an error, not due to a drain.

--
			Gleb.

[2020-08-02 10:08] slivne commented on #6884
@kharmabum closing this issue if you need additional help / have additional questions please post

[2020-08-02 10:08] #6884 closed

[2020-08-02 10:11] slivne commented on #6529
@bhalevy ping

[2020-08-02 10:12] slivne commented on #6479
@eliransin ping

[2020-08-02 10:14] slivne commented on #6455
@juliayakovlev if you are running multiple clients all applying changes / and the clients don't wait for schema agreement indeed there is no way for you to fix that.

but what are you using in this case - is this the QA code running the schema changes or is it a client doing that ?

[2020-08-02 10:16] slivne commented on #6349
We have changed the code a lot around parallelism and resource allocation - please retest on master / 4.3 and report - if this doesn't reoccur we will close

[2020-08-02 10:20] slivne commented on #6341
Truncation was added prior to 4.0 - which means that all releases of open source have this supported and there is no mix cluster mode. Can we move and make the code always write to the truncation table (as if the feature is set). ?

@elcallio / @avikivity  ?

[2020-08-02 10:22] slivne commented on #6145
@PleasingFungus I am not sure this is still reproducible - does it happen to you on latest OSS releases.

If this still happens please open on a new release and reference this issue.

[2020-08-02 10:22] #6145 closed

[2020-08-02 10:23] slivne commented on #6110
@PleasingFungus is this still happening on latest OSS releases of scylla 4.0 / 4.1 - if so can you please open a new bug and reference this issue and we will work with you to fix it.

[2020-08-02 10:23] #6110 closed

[2020-08-02 10:24] slivne commented on #6103
Scylla moved to gcc 10.2 closing this issue

[2020-08-02 10:24] #6103 closed

[2020-08-02 10:25] slivne commented on #6029
@asimshankar - botond clarified why range tombstones are created - closing this issue, if you need additional help please post and we can reopen

[2020-08-02 10:25] #6029 closed

[2020-08-02 10:29] slivne commented on #6001
still occurs https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/196/testReport/concurrent_schema_changes_test/TestConcurrentSchemaChanges/changes_while_node_down_test/

[2020-08-02 10:34] slivne commented on #5377
this is what AWS has to say about this

**Compared to I2 instances, I3 instances have over 4x higher I/O performance, over 2x higher disk throughput and 18% more SSD per CPU. I3 instances offer Non-Volatile Memory Express (NVMe) based SSDs offering lower disk latencies than I2. I3 offers the lowest price per read IOPS of all EC2 instances.**

I2 |   | I3 |  
-- | -- | -- | --
No | Newer Intel Xeon

[2020-08-02 11:44] nizarh11 commented on #6878
Added this fix:
https://github.com/scylladb/scylla-cluster-tests/pull/2457

[2020-08-02 11:54] ShlomiBalalis opened #6964 "Node was overloaded: Too many in flight hints during rolling upgrade"
*Installation details*
Scylla version (or git commit hash): 4.1.3-0.20200729.9002592ee0c initialization completed.
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9

In the rolling upgrade test of the master branch, running with debian 9, the stress failed during the upgrade of one of node#1 (when the node was

[2020-08-02 12:09] avikivity commented on #5377
I still don't see why we should drop support.

[2020-08-02 12:19] avikivity commented on #6956
@bishnuagrawal-zeotap can you upload the core file? It will make it much easier to diagnose.

[2020-08-02 12:29] avikivity commented on #6341
We have many such cases. This is due to a window we have during boot before we recognize the other nodes' features. We need to compute those features earlier (and I see we store supported_features in the peers table).

[2020-08-02 12:44] avikivity commented on #6813
Backported to 4.2.

[2020-08-02 13:12] avikivity commented on #2962
@psarna ^

[2020-08-02 13:21] psarna commented on #2962
@zaddok yup, indexing collections by elements is not supported yet. Right now it's only possible to index a full collection (by calling `create index on person(full(email))` and it only works for frozen collections. That doesn't allow for searching for specific elements though, only the whole collections, e.g. `SELECT * FROM person WHERE email_info = {'a@b.c', 'd@e.f', 'g@h.i'}`

[2020-08-02 13:37] zaddok commented on #2962
Thanks for the clarification.

Just to be clear, I am super pressed with the work being done on Scylla, (I've always thought to myself "how amazing would Cassandra be if it wasn't written in Java"), I'll am quite excited about the project. I am keenly looking forward until this feature is ready.

[2020-08-02 20:22] #6954 closed

[2020-08-02 20:22] #6876 closed

[2020-08-03 00:55] syuu1228 opened #6965 "scylla_raid_setup checks var-lib-scylla.mount existence AFTER formatted RAID volume"
If we want to cause an error when var-lib-scylla.mount already exists, we should do it BEFORE format RAID volume:
[code]

Also maybe we should skip RAID prompt and cause error message when var-lib-scylla.mount already exists.

[2020-08-03 01:09] asias commented on #6959
$ c++filt
_ZN7seastar12continuationINS_8internal22promise_base_with_typeIJEEEZNS_6futureIJEE16handle_exceptionIZN13repair_writer13create_writerERNS_7shardedI8databaseEEjEUlNSt15__exception_ptr13exception_ptrEE1_EES5_OT_EUlSG_E_ZZNS5_17then_wrapped_nrvoIS5_SH_EENS_8futurizeISF_E4typeEOT0_ENKUlvE_clEvEUlRS3_RSH_ONS_12future_stateIJEEEE_JEE15run_and_disposeEv
seastar::continuation<seastar::internal::

[2020-08-03 01:09] #6959 closed

[2020-08-03 04:27] amoskong commented on #6349
I checked recent jobs in https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h-test/
They are not stable, some failed for known scylla issue. Let me work with @aleksbykov to make the job stable first, then retest if the TimeoutException & Semphore timeout occur during repair.

BTW, I didn't see TimeoutException & Semphore timeout in recent jobs, which didn't run t

[2020-08-03 06:30] dorlaor commented on #2962
@slivne @psarna worth to schedule it in the near future, for @zaddok's sake and for all the future followers

[2020-08-03 06:43] elcallio commented on #6341
Is it true for live enterprise releases as well, that we don't have any live with legacy truncation records? Removing the feature dependency would indeed be nice.

[2020-08-03 06:55] slivne commented on #6341
@avikivity - the comment is correct - yet we need also to make sure that we did not do a rollback. In any case this is handled by a different design tomek created - I do not think we need to couple the general issue with this specific one.

Like in the KA/LA case - we can now move and assume all clusters will support this feature and we will not have an open source upgrade that will require to wri

[2020-08-03 07:12] avikivity commented on #6936
Cosmetic, not backporting.

[2020-08-03 07:12] avikivity commented on #6915
@psarna should this be backported? I don't think we have a trigger.

[2020-08-03 07:13] avikivity commented on #6897
@nyh please evaluate for backport

[2020-08-03 07:15] avikivity commented on #6891
Not a bug, not backporting.

[2020-08-03 07:16] avikivity commented on #6882
4.2 looks fine, not backporting.

[2020-08-03 07:17] avikivity commented on #6868
Backported to 4.0, 4.1, 4.2.

[2020-08-03 07:18] slivne commented on #6475
@tzach ping

[2020-08-03 07:18] avikivity commented on #6855
developer ergonomics, not backporting

[2020-08-03 07:18] slivne commented on #6590
@haaawk / @kbr- can we close this

[2020-08-03 07:20] slivne commented on #6697
@roydahan can we filter out such messages durring shutdown / disruption vs steady state in which they should not happen ?

[2020-08-03 07:22] avikivity commented on #6828
Backported to 4.0, 4.1, 4.2.

[2020-08-03 07:22] avikivity commented on #6816
@nyh please evaluate for backport

[2020-08-03 07:23] avikivity commented on #6797
test-only, not backporting.

[2020-08-03 07:24] avikivity commented on #6789
@penberg please evaluate for backport

[2020-08-03 07:26] haaawk commented on #6590
I guess we could.

[2020-08-03 07:27] avikivity commented on #6768
Backported to 4.0, 4.1, 4.2.

[2020-08-03 07:27] avikivity commented on #6761
@penberg why is the promoter re-adding the backport candidate label?

[2020-08-03 07:29] avikivity commented on #6606
@espindola do you think we should backport?

I keep changing my mind on this.

[2020-08-03 07:30] avikivity commented on #6598
@nyh please evaluate for a backport

[2020-08-03 07:30] avikivity commented on #6587
@penberg please evaluate for a backport

[2020-08-03 07:30] aleksbykov commented on #6954
Issue reproduced:
for centos7 : repo: https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/branch-4.2/2020-08-01T13:04:56Z/scylla.repo

[2020-08-03 07:31] avikivity commented on #6528
Minor, not backporting.

[2020-08-03 07:32] avikivity commented on #6561
@nyh please evaluate for a backport

[2020-08-03 07:32] avikivity commented on #6557
@nyh please evaluate for a backport

[2020-08-03 07:32] slivne commented on #6598
@nyh / @avikivity - CDC will not be GAd in 4.2 - as such I do not think it should be backported if there is a risk

[2020-08-03 07:33] avikivity commented on #6342
@nyh please evaluate for a backport

[2020-08-03 07:33] aleksbykov commented on #6954
And reproduced for https://jenkins.scylladb.com/job/scylla-4.2/job/artifacts/job/artifacts-oel76-test/31/

[2020-08-03 07:34] avikivity commented on #6273
@nyh please evaluate for a backport

[2020-08-03 07:36] asias commented on #6397
@juliayakovlev can you please help me understand what are those operations  are doing?

According log of node 9, node9 restarted only once around 2020-05-06T15:31:31. No restart during the period of 2020-05-06 14:45:19 to 2020-05-06 14:50:51 as mentioned above for the random_disrupt_method restart_then_repair_node. What was going on? What did random_disrupt_method stop_wait_start_scylla_server do?

[2020-08-03 07:37] syuu1228 commented on #6954
It's on master but not backported to 4.2 yet:
https://github.com/scylladb/scylla/commit/bb9ad9c90b36dc027010df690eddde0113d21b1d

[2020-08-03 07:40] avikivity commented on #6954
Backported to 4.2. @syuu1228 do 4.1 and 4.0 also need it? I see they have lsblk too.

[2020-08-03 07:41] avikivity commented on #6954
Ah, I see it came from d7de9518fedea079599ba6ff5147da1296ff8cfa.

[2020-08-03 07:42] avikivity commented on #6954
Backported to 4.0, 4.1 as well.

[2020-08-03 07:50] juliayakovlev commented on #6397
Sure, I will add it

[2020-08-03 07:51] psarna commented on #6915
We don't have a trigger, but corrupt system tables would suffice. I think I'll backport, since it's a bug (segfault instead of graciously failing with a recoverable exception) and the backporting cost is cheap.

[2020-08-03 08:14] denesb commented on #4774
We are still seeing this, reopening.

[2020-08-03 08:28] juliayakovlev commented on #6397
Yes, real restart wasn't run because of the spot instances are used in the test:
[code]

This nemesis run:
1. ```systemctl stop scylla-server```
2. sleep 10 min
3. ```systemctl start scylla-server```

[2020-08-03 09:02] avikivity commented on #6341
@slivne what is "the change"?

[2020-08-03 09:16] slivne commented on #6341
@avikivity not wait for the general change of feature bits and always get back the feature is supported and that will force writing truncate records unconditionally to system truncate table

[2020-08-03 09:55] juliayakovlev commented on #6455
Most of time the client run schema changes. But there are a few tests that we pre-create the schema from QA code

[2020-08-03 11:44] gibsn commented on #6928
We have deployed the fix to all nodes in the cluster and it seems to help much. Scylla seems to compact a bit more than it used to, but it doesn't affect the read performance. We have a pending weekly compaction on thursday night, we'll report how it behaves

[2020-08-03 13:00] nyh commented on #6273
This looks to me like the quintessential "it's not a bug, it's a feature", and all that was added is a test that confirms we indeed behaved in the correct way (a delete removes a write of the same timestamp). So nothing to backport.

[2020-08-03 13:02] roydahan commented on #6697
it's possible but we don't need to.
It's set to warning and it won't fail the test.

[2020-08-03 14:24] #6838 closed

[2020-08-03 14:24] #6893 closed

[2020-08-03 16:56] #6341 closed

[2020-08-03 16:56] #6888 closed

[2020-08-03 17:42] nyh commented on #6816
Backported to next-4.2 (43169ffa2c26324587de85b02f27b727fe5c1d9a) and next-4.1 (d5e5a6fe480ebe92b13deae4e24eb6f42bfd8f37)

[2020-08-03 19:37] nyh commented on #6897
Backported to next-4.2 (f699d23f0b8dd59130b956f3f49f08fae05082d1) and to next-4.1 (f699d23f0b8dd59130b956f3f49f08fae05082d1)

[2020-08-03 20:33] espindola commented on #6606
Backport seastar's dbecfff5a492f7cbb273c52e2102019d1d1c19b0?

It seems safe, but I am not that familiar with the sharded<Service>
code.

[2020-08-03 22:04] #5239 closed

[2020-08-03 22:04] #6866 closed

[2020-08-03 22:04] #6965 closed

[2020-08-03 23:06] alienth commented on #6486
Got some printing. `end` is greatly before `begin`:

[code]

[2020-08-03 23:25] alienth commented on #6486
Tracing logs from the shard which crashed:

[code]

[2020-08-03 23:37] alienth commented on #6486
Hrmmmmm:

```del_time=9223372036854775807```

Is that normal?

[2020-08-04 00:08] alienth commented on #6486
Interestingly, on a subsequent restart the sstable got compacted down, and it crashed again on the newly compacted sstable. Clustering position is different, too:

[code]

[2020-08-04 01:25] alienth commented on #6486
I tcpdump'd and flipped on reads to this ring from a single source and was able to repro the crash, however the query which triggered the crash I was able to repeat after restarting without a problem.. so, it may be some bug which only arises after some number of reads?

The read itself is uninteresting - a `get_slice` for the only partition with a list of 85 columns, of which ~60 are still alive.

[2020-08-04 04:45] alienth commented on #6486
Wait, per the google encoding docs (which the implementation is based on), varints are least-significant first: https://developers.google.com/protocol-buffers/docs/encoding#varints

Knowing that, I do think that the index is corrupted. Start of the new index on the sstable I'm crashing on:

[code]

Promoted index size is uvarint encoded as `0x82ff0f`, [which comes out to 262018](https://play.golan

[2020-08-04 06:40] asias commented on #6397
Thanks. One more thing: at which point the test found the null items for 54.165.104.245? Was systems.peer checked both before and after the restart of node 9?

[2020-08-04 06:49] juliayakovlev commented on #6397
This validation runs before and after every nemesis. It means that before stop_wait_start_scylla_server nemesis the properties in the system.peers were ok

[2020-08-04 06:55] asias commented on #6397
Good. This means the null entries were created only after the restart of node 9. I will dig more.

[2020-08-04 07:12] psarna commented on #6915
Neither 4.1 nor 4.2 backports cleanly, because CDC relied on dereferencing disengaged optionals somewhere, and it shows in `cdc_static_and_clustered_rows_test`... it's definitely fixed already in master, so I guess that this fix, whatever it is, should be backported first? Or is CDC considered experimental in 4.1/4.2, which means no backports? @haaawk any idea which patch fixed the CDC issue?

[2020-08-04 07:15] alienth commented on #6486
Based on the trace I'm thinking the index is pointing to a location in the file that doesn't exist? Going to try parsing the index and data file more carefully to see if that's the case.

[2020-08-04 07:27] haaawk commented on #6915
Do you know which optional was the problem in CDC, @psarna ?

[2020-08-04 07:36] aleksbykov commented on #4935
issue reproduced for rolling upgrade from 4.1.3 -. 4.2.rc2 on node where 4.1.3 is running while another node is upgrading.
job link https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/rolling-upgrade/job/rolling-upgrade-debian9-test/29/
db nodes : log link: https://cloudius-jenkins-test.s3.amazonaws.com/670a3a6f-89e7-4d1b-b3e5-5310cffe5ffb/20200804_035645/db-cluster-670a3a6f.zip
you ca

[2020-08-04 07:39] aleksbykov commented on #6964
Reproduced and for rolling-upgrade from 4.1.3 -> 4.2.rc2.
Look same as issue #4935

[2020-08-04 07:55] slivne commented on #6486
@alienth - if the stable doesn';t have a lot of data - can you try and overwrite the data with fake data - check the compacted sstable still crashed and shared with us the sstable with the faked data.

[2020-08-04 07:56] psarna commented on #6915
Not precisely, this is the output of the failed test:
[code]

[2020-08-04 09:01] alienth commented on #6486
Attached:

[sstable.tar.gz](https://github.com/scylladb/scylla/files/5021138/sstable.tar.gz)

I'm still hacking away at the files to see if I can find the issue. Are these sstables binary-compatible with the same `mc` files that apache cassandra provides? If so, I might pick em apart using the deserializers in that code, which I'm far more familiar with.

[2020-08-04 09:03] slivne opened #6970 "Materialized views are not updated"
Scylla: 4.1.1

simillar to https://stackoverflow.com/questions/62785026/scylladb-materialized-view-not-updating

[code]

[2020-08-04 09:03] haaawk commented on #6915
Does the test fail every time or are there some special conditions?

[2020-08-04 09:14] psarna commented on #6915
every single time on 4.1/4.2, never on master

[2020-08-04 09:17] haaawk commented on #6915
Could you try removing "vs = 2" and "vs = 3" from updates and see if this fixes he exception?

[2020-08-04 09:20] jonerer opened #6971 "GNUTLS:-10, The specified session has been invalidated for some reason"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4 nodes on 3.2.5, 2 on 3.3.4 (in t

[2020-08-04 09:30] psarna commented on #6915
Well, it definitely fixes `std::bad_optional_access (bad optional access)`, because these were the only two statements that produced the error, but the test still fails after removing these updates (as expected).

[2020-08-04 09:36] haaawk commented on #6915
Cool. That narrows down the search to the code related to static row. If we want to find the patch that fixed the problem.

[2020-08-04 09:36] nyh commented on #6970
@slivne please correct me if I'm misunderstanding something, but in your example you put `subject_id` in the view's key, but then created an item without a value for this column - so it's no wonder it didn't appear in the view?

[2020-08-04 09:39] slivne commented on #6970
yes my bad

[2020-08-04 09:39] #6970 closed

[2020-08-04 10:04] avikivity commented on #6971
/cc @elcallio, we updated from gnutls 3.6.8 to 3.6.14 in that transition.

[2020-08-04 10:11] avikivity commented on #6486
Yes, those sstables are fully compatible. Scylla adds a -Scylla.db component, but Cassandra ignores it.

[2020-08-04 10:12] avikivity commented on #6486
/cc @tgrabiec please take a look

[2020-08-04 11:16] elcallio commented on #6971
Could this be related to:
https://gitlab.com/gnutls/gnutls/-/issues/615

If we changed prio strings in 3.4 vs 3.3 and somehow the certificates on the client are not accepted by the server, this could be the same "late" client cert rejection (as per tls 1.3) as mentioned in the above issue.

How does the TLS config for cql look in the nodes affected vs. the incoming client?

[2020-08-04 11:25] ShlomiBalalis opened #6972 "Scylla process refuses to exit: Network is unreachable"
*Installation details*
Scylla version (or git commit hash):666.development-0.20200727.a7df8486b with build-id ce64d8221eea00df25582ee16c87c0c0e8eed4e1
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0621715fb9a5e4fda (Ireland)
Instance Type: i3.4xlarge

Test ID: 0560b629-392e-48f8-a0ce-5a05f8f7f48a

During the 200gb-48h longevity, a soft reboot nemesis has started on node#5 at `2020-08-04 01:

[2020-08-04 11:26] slivne commented on #6783
still seeing

version: scylla-server-666.development-0.20200803.4edfdfa78da.x86_64

[code]

[2020-08-04 11:32] slivne opened #6973 "Scylla AMI not starting"
AMI: scylla_2020-08-03T23-11-29Z (ami-05b55eb1eb02c4a3a)

[code]

[code]

Later we have

[code]

@fruch / @bentsi are we retrying creating of core file - and maybe this causes us to retry creating swap as well ?

[2020-08-04 11:35] fgelcer opened #6974 "create_filter() stalls"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.1.0-0.20200618.b443b2574a8 with build-id 650a4b0c03ae680a9fbf7166c992e99e29b37123
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0249ab45ce70cc487

During a performance test, `test_latency_read_with_nemesis` during manager repair, it experiences a stall of 83 ms:
[code]

decoded backtrace:
[code]

logs can be found

[2020-08-04 11:41] jonerer commented on #6971
Ah interesting @elcallio ! One of our coworkers was thinking about something similar -- if we could turn off tls 1.3 for debugging purposes. It should be doable by setting something like default_tls_priority="SECURE128:-VERS-TLS1.0:-VERS-TLS1.3" . But we can’t find if this option can be set from scylla.yaml or similar. Do you know?

[2020-08-04 11:42] slivne commented on #6973
@syuu1228 / @penberg should we check if swap is defined and if so not crash with error - but checkl the size is at least what we compute ?

[2020-08-04 11:51] fgelcer opened #6975 "apply_rows_on_master_in_thread() stall in std::list destructor"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.1.0-0.20200618.b443b2574a8 with build-id 650a4b0c03ae680a9fbf7166c992e99e29b37123
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0249ab45ce70cc487

During a performance test, `test_latency_read_with_nemesis` during manager repair, it experiences a stall of 79 ms:
[code]

decoded backtrace:
[code]

logs can be found

[2020-08-04 11:54] elcallio commented on #6971
Use the `priority_string` attribute/parameter in `client_encryption_options` to set priority string. Since you got this from the cql server, it seems like the place to start with.
Of course, unless you can reproduce it in the first place, it is difficult to say if it is the culprit.

[2020-08-04 11:57] fgelcer opened #6976 "apply_rows_on_master_in_thread() stall after one list is exhausted"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.1.0-0.20200618.b443b2574a8 with build-id 650a4b0c03ae680a9fbf7166c992e99e29b37123
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0249ab45ce70cc487

During a performance test, `test_latency_read_with_nemesis` during manager repair, it experiences a stall of 73 ms:
[code]

decoded backtrace:
[code]

logs can be found

[2020-08-04 12:04] avikivity commented on #6976
@asias I think std::merge() ran out of one range, so it copied the second range (see std::copy above). So the yield in the comparator doesn't help.

[2020-08-04 12:05] jonerer commented on #6971
As for the current config, this is scylla.yaml:

[code]

For the client, we just instantiate the datastax java driver version 3.6.0 with "withSSL()", not altering the ciphersuites manually.

Thanks, will try the `priority_string` changes

[2020-08-04 12:11] avikivity commented on #6975
Here there are two problems:

1. std::merge() copies the data instead of moving it
2. because of that, row_diff and tmp are full of rows and the destructor takes a long time.

I think we should solve both by open-coding the merge to use moves and yields where needed.

There is std::list::merge() which will merge-with-move. Maybe it's enough - call it with a comparator that yields, and if it runs o

[2020-08-04 12:12] avikivity commented on #6975
See also std::list::splice(), but I think merge() is enough here.

[2020-08-04 12:16] avikivity commented on #6974
Allocating the bloom filter caused a stall.

Two possible fixes:
 - background reclaim fiber
 - add `bool chunked_vector::partial_reserve()` and similar `bool large_bitset::partial_reserve()` (which reserve until the request is complete, or we are preempted), and futurize create_filter() so it can loop around partial_reserve().

[2020-08-04 12:17] avikivity commented on #6974
btw @fgelcer those are great reports.

[2020-08-04 12:24] avikivity commented on #6972
We need to change s-c-t to override scylla-server.service FinalKillSignal to SIGABRT so we can get a core in such cases. It won't be possible to debug it from the core.

It looks like a compaction_manager problem. /cc @bhalevy @raphaelsc

[2020-08-04 12:27] ShlomiBalalis commented on #6972
@avikivity  I left the node alive - 54.217.46.170 - Is there any benefit to studying it or can I kill it?
There was a problem uploading the logs, I'll upload them shortly

[2020-08-04 12:28] avikivity commented on #6606
I'm less worried about the seastar side. I'm vacillating because on one hand, it's a basic issue in a primitive, but on the other hand we've never seen it before 4.2 or so and changing things might disturb something else.

[2020-08-04 12:31] fgelcer opened #6977 ""Reactor stalled for 83 ms on shard 5" during full repair on a freshly added node"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.1.0-0.20200618.b443b2574a8 with build-id 650a4b0c03ae680a9fbf7166c992e99e29b37123
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0249ab45ce70cc487

During a performance test, `test_latency_read_with_nemesis` after node is terminated (terminate instance on AWS) and init a new node, the nemesis run `nodetool repair` o

[2020-08-04 12:32] jonerer commented on #6971
Changing `scylla.yaml` to

[code]

Gave the same results

[2020-08-04 12:33] raphaelsc commented on #6972
It may be a regression caused by https://github.com/scylladb/scylla/commit/b155eef72662363b5ab7badfb5aeed4b4e51776

[2020-08-04 12:34] elcallio commented on #6971
Sorry, when you say "same results", does this mean you can reproduce the problem reliably? Are you seeing errors in logs? If so, what are the errors on the client side, and can you isolate the clients in question?

[2020-08-04 12:35] avikivity commented on #6977
Duplicate of #6974

[2020-08-04 12:35] #6977 closed

[2020-08-04 12:39] raphaelsc commented on #6972
thanks I will really need the logs for investigating this.

[2020-08-04 12:47] ShlomiBalalis commented on #6972
Logs:
[code]

The rest of the logs, of c-s and logs, are uploaded to scratch.scylladb.com/200gb_0408

[2020-08-04 12:47] ShlomiBalalis commented on #6972
What about the node itself? Would you need it?

[2020-08-04 12:48] raphaelsc commented on #6972
as far as i can tell no.

[2020-08-04 12:49] #6942 closed

[2020-08-04 12:49] #6926 closed

[2020-08-04 12:49] #6933 closed

[2020-08-04 12:55] psarna commented on #6479
Here are some LWT metrics extracted from the upload
![lwt](https://user-images.githubusercontent.com/10433047/89296392-8ed9d100-d662-11ea-947a-15fa6d7f9306.png)

[2020-08-04 12:56] jonerer commented on #6971
I mean the problem still happens. We have quite a few clients running against the cluster, that's why I say I can't recreate it -- because I don't know which client's connections are causing the issue. I might set up a local minikube cluster to try to reproduce it locally with just one client, but I haven't found the time to do that yet.

Also, since gnutls was introduced in `3.3.4` we now tried t

[2020-08-04 13:07] raphaelsc commented on #6972
@avikivity

Compaction manager took no more than 1 second to stop, so I don't think it's compaction manager related.

[code]

[2020-08-04 13:10] psarna commented on #6479
LWT average write latency definitely correlates with PutItem latency, but I don't see a clear reason why it's the case... contention seems to be at quite low levels, unless I misread the metrics.

[2020-08-04 13:11] elcallio commented on #6971
No, first of all, one would expect the issue, if related to the link I posted, to occur for connections with `require_client_auth: True`, not false. And in either case, the issue would in this case be because the client provides a certificate authentication that is not deemed ok by the server. Which with TLS1.2 and lower should fail earlier with a different error, but still fail.
This is why it wo

[2020-08-04 13:12] psarna commented on #6479
Interesting to note that only a single node (orange, 192.168.3.14) experiences such huge latencies, the rest is sub-100ms.

[2020-08-04 13:12] raphaelsc commented on #6972
The problem seems that Scylla is repeatedly trying the following until the shutdown process times out:
2020-08-04T02:10:58+00:00  longevity-200gb-48h-verify-limited--db-node-0560b629-5 !ERR     | scylla: [shard 0] rpc - client 10.0.0.220:7001: fail to connect: connect: Network is unreachable

[2020-08-04 13:21] psarna commented on #6479
Some more metrics where the orange node stands out:
![cpu](https://user-images.githubusercontent.com/10433047/89298817-1f65e080-d666-11ea-9fc8-16fcb9f45d39.png)
![query_io](https://user-images.githubusercontent.com/10433047/89298823-20970d80-d666-11ea-8f14-e8f878f3dedd.png)

[2020-08-04 13:22] psarna commented on #6479
Maybe it got overloaded because it acted as coordinator for all client threads? That doesn't exactly explain 6s latencies for LWT, but maybe it's one of the root causes.

[2020-08-04 13:31] raphaelsc commented on #6938
@avikivity looks like a cleanup in parallel to regular compaction can break significantly the overlapping invariant of a level. that's because cleanup want the input sstables to remain in their original level, but regular compaction can push data to the same token space of the sstables being cleaned up, in parallel.

So we either make LCS more aware of cleanup, so it would carefully not promote da

[2020-08-04 13:53] raphaelsc commented on #6938
looks like cleanup in parallel to regular compaction significantly broke the overlapping invariant of level 3, causing reshape to be triggered in the subsequent boot. Proposed a fix above.

[2020-08-04 14:12] jonerer commented on #6971
I haven't isolated a client yet, but I ran the node with version `3.3.3` with `GNUTLS_DEBUG_LEVEL` 100. It seems to repeat just before the session invalidation. It looks something like this:

[code]

[2020-08-04 14:16] jonerer commented on #6971
All I can see is that it suddenly gets 0 bytes in a handshake, which triggers a bunch of asserts and raises an exception?

[2020-08-04 14:37] nyh opened #6979 "Alternator test: consider using lower number of vnodes in Alternator test runner"
Empirically, the Alternator Streams tests demonstrate that DynamoDB creates a stream with 4 so-called "shards" for low-traffic tables, while Alternator Streams uses 512 shards. Having 512 shards means that a test needs to do over 1024 API requests (!) just to read a single change. This will be a big problem for real users of low-traffic tables, and we will have to consider in the future. But this

[2020-08-04 14:38] espindola commented on #6606
Avi Kivity <notifications@github.com> writes:

It might just be a general difference, but I am normally in favor of
backporting general fixes, like improvements to seastar. The bug they
were originally fixing can be the tip of the iceberg.

Also, if we only ever backport specific fixes, new backports are harder,
since new code in master can assume a fixed infrastructure.

Cheers,
Rafael

[2020-08-04 14:44] elcallio commented on #6971
The short read is most likely benign. It is just a EAGAIN read (no data yet). I don't have the gnutls code in front of me right now, but I'll try to go through the trace tomorrow.
Did you downgrade this node to 3.3 from 3.4? Was `/opt/scylladb/libreloc/gnutls.config` properly replaced? I am still guessing this is some policy change that plays poorly with your client config somehow.

[2020-08-04 15:00] jonerer commented on #6971
Ok awesome. The final assert seems to be from handshake.c: https://gitlab.com/gnutls/gnutls/-/blob/gnutls_3_6_8/lib/handshake.c . Yes, it's on `3.3.3` now. We aren't touching the `/opt/scylladb/libreloc/gnutls.config` file, I guess it's baked into the docker image? It looks like for `3.3.3`:

[code]

And on our nodes still running `3.2.5` it looks like this:
[code]

We'll dive deeper into the chan

[2020-08-04 15:07] psarna commented on #6979
`--num-tokens 64` sounds quite good, if you think about it as speeding up two-fold from the default instead of slowing down two-fold compared to `--num-tokens 16` :) So I'd vote for `64` as a good compromise.

By the way, why is the execution time linear wrt. the number of "shard"s? Which per-"shard" operation takes so long? Maybe we can do something to avoid it? Increase the parallelism somewhere

[2020-08-04 15:08] avikivity commented on #6972
I don't know if that's the problem or just something that happens while waiting for something else to shut down.

[2020-08-04 15:17] tgrabiec commented on #6486
The assert fails because the position in the data file for the upper bound of the read is smaller than the position for the lower bound of the read.

This is because the read uses lower bound which larger than the upper bound. In one of the traces the column name range is ["t4d0m", "2veze"].

Are you maybe passing the column names to `get_slice` in unsorted order?

Looking at `slice_pred_to_read_c

[2020-08-04 15:39] tgrabiec opened #6980 "Don't populate static row into row cache if not requested by the read"
Currently, each partition entry stored in cache must have a complete static row, meaning that it reflects what is in sstables for that partition. As a result, every read which populates a partition needs to read the static row from sstables even if the query doesn't access static columns.

This precludes sstable filtering based on clustering range, since every sstable may contain relevant static r

[2020-08-04 16:02] nyh commented on #6979
Most of the slowest tests (if you can call something taking 1 second slow... dtest people will not understand what I'm saying ;-)), about 12 of them IIRC, write something to the table and then read from the stream checking what we read from the stream. It is this reading part which is linear in the number of shards: First it gets a list of N shards (this is the fast part), and then it needs to cal

[2020-08-04 16:05] nyh commented on #6979
I have an even better idea: I can use 16 vnodes (which is significantly more than 1, so it still exercise some of the vnode-related issues in CDC), and reduce the "Limit" we use to scan the list of shards. 100 is just the default, but I can reduce it so we can exercise the shard-list paging even with just 16 vnodes.

[2020-08-04 17:05] dorlaor commented on #6974
There is a 'latency' tag. Worth to tag all of these bugs this way and
also to push for a fix, most of the fixes suggested by Avi are simple
to implement.

[2020-08-04 17:44] raphaelsc commented on #6972
@ShlomiBalalis please rename the issue, the problem is not compaction_manager related, as you can see in my comment above.

[2020-08-04 17:53] raphaelsc commented on #6956
I came across a similar issue when reviewing the first off-strategy changes and I found a bug which potentially explain this issue.

Then I came up with the "sstables: Make SSTable directory consistent", but I later realized it broke the unit tests and I found no time to work on v2, and forgot about it.

The description of the patch describes this bug:
[code]

[2020-08-04 18:05] raphaelsc commented on #6956
@bishnuagrawal-zeotap please upload the full logs as I'd like to make sure your problem will be really fixed with a patch of mine.

[2020-08-04 18:09] tzach opened #6981 "CQLSh only Docker"
When using a remote Scylla service, like Scylla Cloud, one need an easy way to run CQLSh to interact with the server.
The only official Docker instance includes Scylla server, which is not required here.
We should provide a minimal instance with tooling for a remote access like CQLSh, cassandra-stress.

[2020-08-04 18:13] tzach commented on #5307
@mmatczuk please comment

[2020-08-04 18:32] dyasny opened #6982 "Trace decoding on a relocatable 4.x doesn't work"
*Installation details*
Scylla version (or git commit hash): scylla-server-dbg_4.0.4-0.20200714.f9dd8608eb6-1_amd64.deb
Ubuntu 18, trying to run addr2line on CentOS7 AND Ubuntu18

I have unpacked the dbg .deb file for 4.0.4 (scylla-server-dbg_4.0.4-0.20200714.f9dd8608eb6-1_amd64.deb)

There is a .debug binary in there, the largest one is usually the scylla.debug file:
`759163896 ./usr/lib/debug/.bu

[2020-08-04 18:50] vladzcloudius commented on #6982
I had the same problem decoding a backtrace generated on Ubuntu 18:

The backtrace was generated by scylla 4.0.4-0.20200714.f9dd8608eb6:
[code]

I install the same packages version on a Ubuntu 18 VM:
[code]

Where btrace-clean.txt is as follows:
[code]

Just in case I tried to decode it with all present .debug files - no luck either:
[code]

[2020-08-04 18:51] vladzcloudius commented on #6982
@slivne @penberg @avikivity @espindola @bentsi FYI
This is very urgent because this doesn't let us decode users' backtraces.

@eyalgutkind FYI

[2020-08-04 19:09] alienth commented on #6486
@tgrabiec

AH, yeah, we don't sort columns on the call, and the library we're using also does not:

https://github.com/pycassa/pycassa/blob/b314d5fa4e6ba1219850f50d767aa0be5ed5ca5f/pycassa/columnfamily.py#L389

Knowing this I'll try to intentionally request unsorted columns via thrift to see if I can get it to crash.

Something interesting about this is that when blowing away the data and restarti

[2020-08-04 19:21] alienth commented on #6486
It took several tries for whatever reason, but I was able to repro the crash by issuing a `get_slice` with unsorted columns.

[2020-08-05 03:11] asias commented on #6938
Node 5 was stopped:
[code]
At this point, node 5 is already in NORMAL status, this means the repair job (repair id 8) for bootstrap had finished already. The fact we did not see complete repair log for repair id 8 is probably we LOST logs in messages.log. I have saw and complained many times. @roydahan @slivne Can you please prioritise the lost log issue which might be a SCT bug.

I checked the sc

[2020-08-05 03:12] asias commented on #6938
Yes. repair jobs for bootstrap also have logs that are similar to regular repair jobs.

[2020-08-05 03:35] asias commented on #6938
@raphaelsc Can you please explain in what cases the reshape will be triggered? Will it be triggered one the new node just joined the cluster?

[2020-08-05 06:51] asias commented on #6976
You are right. Suggestions to fix other than implementing the std::merge manually with yield.

[2020-08-05 06:55] avikivity commented on #6976
See the related bug. std::list::merge() will remove the problem (and eliminate copying too).

[2020-08-05 06:56] asias commented on #6975
We are using splice in repair. That's one of the reason we use it. std::list::merge() looks promising.  Thanks.

[2020-08-05 07:03] asias commented on #6975
I think I now remember why I chose to use std::merged instead of std::list::merge, std::list::merge will make the other container (row_diff) empty after merge. In apply_rows_on_master_in_thread, we wanted to keep row_diff after the merge.

[2020-08-05 07:03] avikivity commented on #6982
Perhaps newer gcc is using compression not understood by older binutils.

[2020-08-05 07:36] jonerer commented on #6971
Update: Tried to put the `3.2.5` `gnutls.config` config on a `3.3.3` image. The log GNUTLS-line is still printed. We'll have to roll back the upgrade from the cluster and try a more stepwise approach -- where we set up a separate cluster and introduce one client at a time to find out which one sets off the issue

[2020-08-05 07:37] avikivity commented on #6982
As a workaround, eu-addr2line from elfutils works:

[code]

[2020-08-05 07:37] avikivity commented on #6982
/cc @espindola maybe we need to change our dwarf compression options

[2020-08-05 07:45] avikivity commented on #6975
I think you'll need to open-code the merge then. It's possible to just wrap std::back_inserter(_working_row_buf) with something that yields, but it still leaves tmp's destruction as a cause for stalls.

The merge logic should be to copy from row_diff, but move from tmp.

You'll also have a problem with row_diff destruction. You should move row_diff to do_apply_rows(), and consume it incremtally (e

[2020-08-05 07:47] bhalevy opened #6983 "cql_query_test fails intermittently with fatal error: in "test_cache_bypass": critical check without_cache == 0 has failed [4 != 0]"
Seen in a couple recent next promotion runs in debug mode:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2344/artifact/testlog/debug/cql_query_test.4.log
scylla version 1adcd7aca784b13008d1fcabe601116ea7aff334

https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2345/artifact/testlog/debug/cql_query_test.4.log
https://jenkins.scylladb.com/view/master/job/scyll