[2018-06-04 15:29] tgrabiec commented on #3487
We can also disable probabilistic read repair to confirm this.

[2018-06-04 15:33] slivne commented on #3487
@gleb-cloudius
 - so how do we disable heat-weighted-load-balancing ?

@tgrabiec
- do you meand alter the table and set dclocal_read_repair_chance = 0.0 , read_repair_chance =0.0 or something else

[2018-06-04 15:42] tgrabiec commented on #3487
@slivne To be sure, both. Probably zeroing just `dclocal_read_repair_chance` is enough due to defaults.

[2018-06-04 15:46] slivne commented on #3487
so @amoskong lets disable everything heat-eaighted-load-balancing and also read repair chance and lets see what we get.

If it turns out that the upgrade works with these disabled we will need to check which of these causes the issue. but lets get the data of what happens when both are disabled.

[2018-06-04 17:00] evilezh commented on #3256
scylla: 2.1.3
Neither kairosdb 1.2.0 nor 1.2.1 is working with scylla. At least fresh install.

I guess this is related, I do not see exactly what it does not like, but I guess can be same thing.
[code]

[2018-06-04 17:52] syuu1228 commented on #3486
Maybe we can modify scylla-server.service in .rpm scriptlet to drop capabilities line when it installed on OEL.
If it not possible, probably we have to release different .rpm just for OEL that includes scylla-server.service without capabilities line.

[2018-06-04 17:54] avikivity commented on #3486
On 2018-06-04 20:52, Takuya ASADA wrote:

You can drop a file into /etc/systemd/system/scylla-server.service.d/
that overrides the AmbientCapabilities line if we detect that systemd
and/or the kernel are too old. This can be done in the postinst phase.

[2018-06-04 21:33] tzach opened #3493 "Latency on Scylla AMI with i3.16xlarge higher, less stable than on i3.8xlarge"
OS (RHEL/CentOS/Ubuntu/AWS AMI): 2.2rc1
i3.8xlarge
![image](https://user-images.githubusercontent.com/170200/40942551-72e6c612-6803-11e8-9f34-6da84bba42a2.png)

i3.16xlarge
![image](https://user-images.githubusercontent.com/170200/40942530-61e57d90-6803-11e8-8ca2-a75b31839df0.png)

Testing with [cassansra-test-and-deploy](https://github.com/scylladb/cassandra-test-and-deploy)

stress parameters:
<

[2018-06-05 00:05] amoskong commented on #3489
I will provide you more detail of steps & error for workaround 2 later,
then we can make a decision.
I will also try if we can solve the problem by remove *conf package when we
remove scylla-tools-core package.

On Mon, Jun 4, 2018 at 10:56 PM, Shlomi Livne <notifications@github.com>
wrote:

[2018-06-05 00:23] amoskong opened #3494 "Ubuntu18.04: coredump setup failed: `sysctl: cannot open "/etc/sysctl.d/99-scylla.conf": No such file or directory`"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180604.4aaf7bbc1-0ubuntu1~bionic
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

[code]

@syuu1228

[2018-06-05 00:37] amoskong opened #3495 "fail to start: seastar - Exiting on unhandled exception: boost::filesystem::filesystem_error (boost::filesystem::space: Operation not permitted: "/var/lib/scylla/hints")"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180604.4aaf7bbc1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

* Description:
Installation & scylla_setup were fine, but it failed to start the scylla-server service.
Artifact-test job link: [job/scylla-master-centos-rpm-test/label=muninn/419
](http://jenkins.cloudius-systems.com:8080/job/scylla-master-cent

[2018-06-05 06:06] amoskong commented on #3489
When we remove `scylla-tools-core scylla-libgcc73 scylla-libstdc++73`, `scylla-server` will also be removed for dependencies,  which contains the `io.conf` & `cpuset.conf`. If io.conf & cpuset.conf were changed during scylla_setup, they will be saved to `io.conf.rpmsave` `cpuset.conf.rpmsave` automatically.

After the downgrade rest scylla-conf & scylla-kernel-conf, we reinstall other scylla packa

[2018-06-05 07:30] amoskong commented on #3489
On Tue, Jun 5, 2018 at 2:54 PM, Shlomi Livne <notifications@github.com>
wrote:

Thanks.

I already prepared a upgrade guide (from 2.1 to 2.2)

I will test it, and update the guide.

[2018-06-05 07:31] gleb-cloudius commented on #3491
Exception source is here:
[code]

/cc @tgrabiec, @haaawk

[2018-06-05 07:32] gleb-cloudius commented on #3491
Looks like @denesb remove the exception throwing in the master

[2018-06-05 07:32] sahibzadafahad99 opened #3496 "How we connect scylla containers with host network on different machines?"
I have docker installed on two machines, i want to connect both scylla nodes  with host network between two machines, any help ?

Thanks

[2018-06-05 07:41] avikivity commented on #3491
@tgrabiec for our edification, can you explain the chain of events in the trace?

[2018-06-05 07:45] haaawk commented on #3491
It seems that we're trying to fast_forward a reader that was created as not fast forwarding.
I suspect that the reader was created here: https://github.com/scylladb/scylla/blob/scylla-2.2.rc1/row_cache.cc#L364
Then we try to fast forward it here: https://github.com/scylladb/scylla/blob/scylla-2.2.rc1/flat_mutation_reader.cc#L274
Seems like a bug.

[2018-06-05 07:50] haaawk commented on #3491
I think the bug is here: https://github.com/scylladb/scylla/blob/scylla-2.2.rc1/row_cache.cc#L363
schema transforming reader does not allow fast_forwarding so when reader.fwd() == streamed_mutation::forwarding::no we can just return it as is. Otherwise we should wrap in into make_forwardable().

[2018-06-05 07:51] haaawk commented on #3491
I will send a patch soon.

[2018-06-05 08:01] tgrabiec commented on #3491
wt., 5 cze 2018 o 09:50 Piotr Jastrzębski <notifications@github.com>
napisał(a):

That's exactly what we already do. What's the bug?

[2018-06-05 08:04] haaawk commented on #3491
I think that solves the bug.
[0001-Fix-read_directly_from_underlying.patch.txt](https://github.com/scylladb/scylla/files/2071381/0001-Fix-read_directly_from_underlying.patch.txt)

[2018-06-05 08:07] haaawk commented on #3491
@tgrabiec
I think the situation is as follows:
1. make_delegating_reader creates a reader that is forwardable so when reader.fwd() == streamed_mutation::forwarding::no then we have to turn in into nonforwardable
2. If we have to transform schema on the way then we wrap res into a transforming reader which is nonforwardable so the situation is reversed. We can return it when reader.fwd() == streame

[2018-06-05 08:08] tgrabiec commented on #3491
The bug was that transforming reader didn't have support for fast
forwarding, Avi just committed a missing backport which fixes that.

It's better to implement fast forwarding in the transforming reader than to
wrap the whole thing into make_forwardable(), since the underlying reader
which is transformed already supports forwarding.

wt., 5 cze 2018 o 10:04 Piotr Jastrzębski <notifications@github.

[2018-06-05 08:09] elcallio commented on #3109
Fwiw, there is no format specifier combo nor ostream modifier flags that are really equivalent to Java's floating point formatter (FloatingDecimal.dtoa). I.e. using a %#g (alt form) gives you 3543.46 and -564.000. And in this form, setting precision for "g" forces full right-side zero padding. Using %#f sortof matches the cases here, but then you'll never have exponential formatting.

While the mi

[2018-06-05 08:09] haaawk commented on #3491
Sure. It will work this way too.

[2018-06-05 08:43] tgrabiec commented on #3491
I'll explain the conditions leading to this, as requested by Avi.

TL;DR:
  - single-partition read misses in cache
  - there was a concurrent memtable flush of the same table
  - there was a concurrent schema change

The exception happens when the cache reader is filling its buffer. That
read is a single-partition read which missed in the cache (hence we have
single_partition_populating_reader).

[2018-06-05 09:12] duarten commented on #3496
Please ask questions over the [ScyllaDB user mailing list](https://groups.google.com/forum/#!forum/scylladb-users) and not over the bug tracker.

[2018-06-05 09:12] #3496 closed

[2018-06-05 09:23] asias opened #3497 "Introduce multishard_writer"
We need a multishard_writer which gets mutation fragments from a producer (e.g., from the network using the rpc streaming) and consumes the mutation fragments with a consumer (e.g., write to sstable).

The multishard_writer will take care of the mutation fragments do not belong to current shard.

This multishard_writer will be used in the new scylla streaming.

[2018-06-05 09:33] tomer-sandler commented on #883
I'm amazed to find that this issue (pretty much the same as what GPS Insight encountered - root:root permissions instead of scylla:scylla on /var/lib/scylla) was reported by Noam at Feb 2016 - see: scylladb/scylla#883

It's marked as resolved and closed long ago, but apparently it's not for
the enterprise version that GPS Insights are using (2018.1).

The original error back in 2016 was:

Feb 08 1

[2018-06-05 09:38] tomer-sandler commented on #883
I'm amazed to find that this issue (pretty much the same as an issue hit by one of our customers - ```root:root``` permissions instead of ```scylla:scylla``` on ```/var/lib/scylla```) was reported by Noam at Feb 2016 - see: scylladb/scylla#883

It's marked as resolved and closed long ago, but apparently it's not for 2018.1 enterprise version, as a customer hit this issue.

The original error back

[2018-06-05 11:56] tzach commented on #2811
@amnonh do we Scylla the REST API to support this nodetool command?

[2018-06-05 12:19] amoskong commented on #3487
When I disabled both `heat-weighted-load-balancing` and `read_repair_chance`, the exception and c-s fail disappeared.

----

Then I tried to test with latest unstable 2.1.x (without disable `heat-weighted-load-balancing` and `read_repair_chance`), the whole upgrade & rollback test can pass.

Test job link: [job/scylla-staging-rolling-upgrade-gce/base_version=2.1,label=gce3-qavpc/43/](http://jenkin

[2018-06-05 12:37] gleb-cloudius commented on #3487
Now run with read_repair_chance not 0 since without it all reads a
synchronous.

--
			Gleb.

[2018-06-06 00:12] amoskong commented on #3487
src version: 2.1.3-0.20180501.8e33e80ad  (released 2.1.3)
dest version: 2.2.rc1-0.20180516.eb646c61e

Note: only disabled heat-weighted-load-balancing, read_repair_chance isn't set to 0

Result: didn't see `sstable inactive read queue overloaded`, but c-s keep raising ReadTimeoutException, it still raised the error [1] when the node upgrade finished.
The read throughput is very slow (it might be c

[2018-06-06 04:25] syuu1228 opened #3498 "scylla_coredump_setup sets invalid coredump handler path on Ubuntu 16.04"
scylla_coredump_setup sets coredump handler as /usr/lib/systemd/systemd-coredump, but it only available at /lib/systemd on Ubuntu 16.04.
With invalid coredump handler path we are not possible to get coredump.

I checked all systemd-coredump enabled distributions (CentOS7, Ubuntu 16.04, Ubuntu 18.04), all of them has it on /lib/systemd, so we need to modify kernel.core_pattern on scylla_coredump_se

[2018-06-06 05:34] hagrid-the-developer commented on #3109
@juliayakovlev And why not to use `abs(x - y) < eps`? Comparision of floating-points can be made in a lot of ways and comparing them by their string representation is one of the worst ways.

[2018-06-06 05:48] #3498 closed

[2018-06-06 05:48] juliayakovlev commented on #3109
It's not connected to comparison. The returned Scylla value is not as it returned from Cassandra.
By @slivne request the value, returned from Scylla, must be same as in Cassandra.

[2018-06-06 05:52] syuu1228 commented on #3498
I found this while I'm trying to enable systemd-coredump on Debian 9, but it won't happen on Ubuntu 16.04 since there is 'if [ "$ID" = "ubuntu" ]', that was my misunderstand.

[2018-06-06 06:44] slivne commented on #3109
Now that we know why there is such a difference and that there is no simple
solution for float and double I think that we can work with what we have -
@tzach should approve this.

On Wed, Jun 6, 2018 at 8:48 AM, juliayakovlev <notifications@github.com>
wrote:

[2018-06-06 08:02] tgrabiec commented on #3487
@amoskong @slivne Where can I get the prometheus database for this run from?

[2018-06-06 08:28] psarna opened #3499 "Support arithmetic operations in WHERE clause"
*Installation details*
Scylla version (or git commit hash): 2.0

Part of datetime functions support issue (#2949) is unrelated to datetime, so I move it to a separate issue.

Add support for basic operations on constants in WHERE clauses. Examples:
[code]

[code]

See also:
https://issues.apache.org/jira/browse/CASSANDRA-11935
https://issues.apache.org/jira/browse/CASSANDRA-11936

[2018-06-06 08:52] syuu1228 commented on #3494
@amoskong Fixed by https://github.com/scylladb/scylla/commit/60844ae67bcc716c36052382a9e72de3ee399ee4 , can close

[2018-06-06 08:58] #3494 closed, assigned to syuu1228

[2018-06-06 09:30] duarten commented on #3499
Duplicates #2694 and #2693?

[2018-06-06 10:11] psarna commented on #3499
Yup.

[2018-06-06 10:11] #3499 closed

[2018-06-06 10:58] tgrabiec commented on #3487
@amoskong I cannot analyze this without prometheus data. Please re-run with metrics attached. If possible, use scrape period of 1 second.

[2018-06-06 12:03] amoskong commented on #3487
Test result with different configuration:

  | read_repair_chance | heat-weighted-load-balancing | STL (server-server) | avi workaround: raid0.devices_discard_performance issue | RESULT
-- | -- | -- | -- | -- | --
2.1.3-0.20180501.8e33e80ad (released 2.1.3) | set it to 0.0 | disable | disable | workaround | Good
  | unset | disable | disable | workaround | Fail (read workload: Data returned was no

[2018-06-06 12:04] amoskong commented on #3487
I will rerun and provide you the prometheus data.

On Wed, Jun 6, 2018 at 6:58 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2018-06-06 12:50] tzach commented on #3109
Its a compatibility issue we need to fix.

[2018-06-06 13:52] #3441 closed

[2018-06-06 13:52] #3495 closed

[2018-06-06 13:52] #3436 closed

[2018-06-06 13:52] #3454 closed

[2018-06-06 16:28] roydahan commented on #3487
Assuming the summary above is correct and the "running" line is the same test repeating the line above and it'll result in "Good", it seems like the issue is false alarm and it originally caused by the slow disk (boot disk) that scylla was using due to the raid0 issue.

So, the actual factor is "with" / "without" the workaround or IOW with slow disk or fast disk.

[2018-06-06 20:49] duarten commented on #3383
I just realized we're missing dtests for this, are we not?

[2018-06-06 21:01] duarten commented on #3497
This is a weird issue. It doesn't seem to report a problem or shortcoming, but to expound the implementation details on some non-existing class. Can you close it please?

[2018-06-06 21:08] amoskong commented on #3487
Retest result with archived job result (final color result, prometheus data, conf(heat-wighted-load-balancing, read_repair_chance, slt) detail):

2.1.3-0.20180501.8e33e80ad (released 2.1.3) |   |   |   |  
-- | -- | -- | -- | --
read_repair_chance | heat-weighted-load-balancing | avi workaround: raid0.devices_discard_performance issue | RESULT |  
default | enable | workaround | Good | http://jenk

[2018-06-06 22:30] asias commented on #3497
It is used to track a new class which will be used in the new streaming code.  We need a issue number to backport.  It will be closed when the patch is merged.

[2018-06-06 22:38] duarten commented on #3497
This is not an issue, it's a set of implementation details. Why would we want to backport this class? Please either close it, or reword it in understandable terms.

[2018-06-06 23:33] asias commented on #3497
We use the issue system to track existing issues and new features. The new multishard_writer class is part of the new streaming.

If you do not like the details. I can get rid of it.

[2018-06-06 23:51] duarten commented on #3497
Ah, then the issue should be about the new streaming, not about an implementation detail of the new streaming. That would be the issue mentioned in a potential backport, and the multishard_writer patch would just be a dependency.

[2018-06-06 23:52] asias commented on #3497
new streaming will have its own issue.

[2018-06-06 23:57] asias commented on #3497
And this new class can also be used in new repair.

Why would I get rid of this issue?

[2018-06-07 06:59] asias opened #3500 "Add a faster version of gossiper::is_normal"
We can add is_normal helper to endpoint_state.

It is faster than gossiper::is_normal because it avoids to do search in
the std::map<application_state, versioned_value>. It is useful for the
code in the fast path which needs to query if a node is in NORMAL
status.

[2018-06-07 08:03] juliayakovlev opened #3501 "If insert into text or varchar column more then 8192 bytes, just 8192 bytes will be inserted."
1. Create table with text column
2. Insert into this column value with 8193 length
3. Select from the column - just 8192 characters is inserted

[2018-06-07 09:16] psarna commented on #3383
There are `stop_node_during_mv_insert_*_nodes` tests that may be kind of related, but true, we miss specific dtests. I'm not sure how to make a deterministic one without some kind of failure injection API though.

[2018-06-07 09:16] duarten commented on #3497
Because it is not an issue, it doesn't describe a problem or shortcoming. It describes a helper class of the new streaming or repair code, which actually solve a particular problem.

[2018-06-07 09:17] duarten commented on #3383
Dtests allow you to stop or disconnect nodes, which should be enough to test this.

[2018-06-07 09:45] psarna commented on #3501
I can't manually reproduce on master(4a90eeb326d31476196e92ef70eff624ad9e171a) in cqlsh, inserting a text column with 8193 characters works just fine and select returns a proper row. Can I have version details and perhaps specific cql commands that failed?

[2018-06-07 09:48] psarna commented on #3501
Ok, I can reproduce, it works fine when the column is primary key, but regular columns are indeed truncated to 8192.

[2018-06-07 10:12] asias commented on #3497
The problem is we do not have such class which is needed for improvement for streaming and repair.
We need someone to work on this issue. Shlomi can assign this issue to someone.

[2018-06-07 10:16] asias commented on #3497
I do not understand the point of arguing this. @avikivity @slivne since when we are not allowed to create new issue for development/track a new piece of code?

[2018-06-07 10:19] duarten opened #3502 "Remove probabilistic read repair"
This is a mirror for [CASSANDRA-13910](https://issues.apache.org/jira/browse/CASSANDRA-13910).

While reads are typically sent to just enough replicas to satisfy the CL, read requests may be randomly sent to all replicas in order to repair potentially inconsistent data, based on ``read_repair_chance`` and ``dclocal_read_repair_chance`` (another exception is speculative retry).

Often this extra lo

[2018-06-07 10:29] duarten commented on #3497
The updated description makes a bit more sense, but I think you missed my point. If there's a patch on the mailing list adding a piece of infrastructure to help with real issues, there's no need to open an issue in the _bug tracker_ with details about the contents of the patch (after the patch has been sent), because when backporting, said patch will be picked up as a dependency of the real, under

[2018-06-07 12:56] tzach commented on #3502
We cant remove it, we invested too much in documenting it!
http://docs.scylladb.com/architecture/anti-entropy/read-repair/

[2018-06-07 12:58] duarten commented on #3502
This is a strong indicator that we should document nothing!

[2018-06-07 12:58] glommer commented on #3502
On Thu, Jun 7, 2018, 8:56 AM Tzach Livyatan, <notifications@github.com>
wrote:

And ?

[2018-06-07 12:58] slivne commented on #3387
@syuu1228 is this fixed - @amoskong can we downgrade (even with the workaround)

[2018-06-07 13:01] duarten commented on #3502
https://en.wikipedia.org/wiki/Joke

[2018-06-07 18:23] veramine opened #3503 "Row update wipes out previously inserted values not included in update statement"
*Installation details*
Scylla version (or git commit hash):  2.2.rc0-0.20180504.9aa172f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 16.04

One of our tables has a complicated schema with 65+ columns and 7 materialized views.  One of the columns is a list of user defined types.  We insert rows into this table using gocql with CL=One.  The initial insert includes values for most of the c

[2018-06-07 19:00] veramine commented on #3503
I drained and stopped the 2.2 instance to prepare to install the nightly snapshot.  I couldn't find a working repo link for the nightly snapshot so I restarted the server.  And now the values from the original insert are there, 11 hours later.

[code]

[2018-06-07 22:31] tzach opened #3504 "Nightly build for Ubuntu 16 not avilable"
*Installation details*
OS (RHEL/CentOS/Ubuntu/AWS AMI): Nightly

Following the instructions on
https://www.scylladb.com/download/ubuntu-16-04/

I get `HTTP request sent, awaiting response... 404 Not Found` for the repo.
Other versions (2.1, 2.0) works fine

[2018-06-07 22:31] tzach commented on #3504
@slivne ?

[2018-06-08 04:04] amoskong commented on #3504
Nightly build for Ubuntu 14 is also not available.
http://xxxxxx.com/scylla/repo/xxxxxxxxxxxxxxxxx/ubuntu/scylladb-nightly-trusty.list

{errorMessage=RequestId: xxxxxxxxxxxxxxxxx Process exited before completing request}

@amnonh

[2018-06-08 12:11] tgrabiec commented on #3503
@veramine What's the schema of the `processes` table?

[2018-06-08 12:20] tgrabiec commented on #3503
There are no known bugs in cache which are fixed in master but not in 2.2. The changes which have been coming to master recently are only about performance.

[2018-06-08 14:55] tgrabiec commented on #3503
@veramine Do you see any errors in logs during the period after the first insert?

It seems that the enters some kind of bad state, which restart fixes.

It would be best if you provided a reproducer we can run. Alternatively, a core dump of the node in a bad state would also help.

[2018-06-09 02:00] louishust opened #3505 "Compile error on ubuntu16.04"
*Installation details*
Scylla version (or git commit hash): 4a90eeb326d31476196e92ef70eff624ad9e171a
Cluster size: none
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu16.04 Server

with boost 1.63 and gcc 7.3 installed:

[code]
following the compile steps:

[code]

[2018-06-09 07:59] veramine commented on #3503
@tgrabiec No errors in logs during the period after the first insert.  Unfortunately this issue is hit only sporadically and we have been having trouble hitting it since the server restart.  I can build a tool to insert data in a similar pattern as our application does and run that in a stress environment and see if that will hit the issue.

[2018-06-09 10:41] veramine commented on #3503
I created a small test utility to insert the type of data with similar usage patterns and the same schema as our app.  I will run through for a couple days to see if I can hit the issue.  I've also attached it in case you are interested.  I'll let you know if I can reproduce this consistently.

[main_go.txt](https://github.com/scylladb/scylla/files/2086880/main_go.txt)

[2018-06-09 21:00] duarten commented on #3505
Boost 1.63 was supposed to have a fix for that issue, but maybe it wasn't packaged for Ubuntu. You should look into updating Boost or using `dist/debian/build_deb.sh`.

[2018-06-10 13:30] #3476 closed

[2018-06-10 18:10] #3500 closed

[2018-06-11 02:30] louishust commented on #3505
@duarten I install boost 1.63 manual instead of using apt-get install

[2018-06-11 06:45] san213 opened #3506 "Scylla - Collections performance issues"
*Installation details*
Scylla version (or git commit hash): Pulling from scylladb/scylla docker
Cluster size: 3 nodes, 4 core boxes each with ssd attached
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu

*Hardware details (for performance issues)*       3 nodes, 4 core boxes each with ssd attached
Platform (physical/VM/cloud instance type/docker): scylla setup on the aws vm using docker.
Hardware: sockets

[2018-06-11 08:15] nyh commented on #3466
@duarten your comment is partially true - indeed the code has been fixed to not check the hints-directory on boot (and instead, with a wink, check the data directory). But, if hints will be enabled by default in a future release (they are in Cassandra, I believe!), the problem will resurface.

I already posted a patch for this to make it easy to set all the directories in one "--home" option in ad

[2018-06-11 10:49] tgrabiec commented on #3506
How does your schema look like?

When you say that the latency shoots up, you mean the latency of a write, a read, or both? What kind of statements are you executing?

[2018-06-11 15:31] amoskong opened #3507 "Ubuntu 18.04: scylla_setup failed: scylla_coredump_setup: line 38: is_debian_variants: command not found"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

Job link: [artifact-test ubuntu 18.04](http://jenkins.cloudius-systems.com:8080/job/scylla-master-ubuntu-deb-18.04-test/label=huginn/28/artifact/latest/job.log)

[code]

[code]

[code]

@syuu1228

[2018-06-11 15:52] amoskong commented on #3495
@psarna The issue still exists, the package contained the fix 6130a00

Test version: 666.development-0.20180608.4a90eeb32
Test job link:  [job/scylla-master-centos-rpm-test/label=muninn/421](http://jenkins.cloudius-systems.com:8080/job/scylla-master-centos-rpm-test/label=muninn/421/artifact/latest/job.log)

[code]

[2018-06-11 16:32] amoskong opened #3508 "scylla-ami-setup failed: ERROR: Bad configuration mode (sq_split) and cpu-mask value (0x00000003)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180610.41472e261
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-7d9de702
Instance type: manually reproduced with i3.large

* Error in scylla-server status (error: too many positional options have been specified on the command line)
[code]

[code]

Scylla-ami-setup error:
[code]
@vladzcloudius @syuu1228

Full scyl

[2018-06-11 16:40] amoskong commented on #3508
Test job: [job/scylla-master-ami-test/label=muninn/232/](http://jenkins.cloudius-systems.com:8080/job/scylla-master-ami-test/label=muninn/232/)
Version: 666.development-0.20180610.41472e261
AMI: ami-7d9de702
Instance type: c3.large

Error:
[code]

[code]

[2018-06-11 16:45] psarna commented on #3495
I'll be back on Wednesday and I'll take a look at it right away then.

[2018-06-11 16:46] vladzcloudius opened #3509 "Possibly bogus "Can't send migration request: nodeX is down." error message"
*Installation details*
Scylla version (or git commit hash): a1cbeeffcd9921cb61b15f1a8850adf3786e123e
Cluster size: 3

*Description*
I've been working on a new dtest for hints segments re-balancing/re-sharding and once the dtest failed to finish (after the actual test has been successfully complete) because of the ERROR messages coming from the `migration_task`:

[code]

[2018-06-11 16:49] vladzcloudius commented on #3509
Attaching full logs from all 3 nodes:
node1:
[system.log](https://github.com/scylladb/scylla/files/2090936/system.log)

node2:
[system.log](https://github.com/scylladb/scylla/files/2090938/system.log)

node3:
[system.log](https://github.com/scylladb/scylla/files/2090941/system.log)

[2018-06-11 17:04] vladzcloudius commented on #3508
@amoskong @slivne Since the i3.large instance has only 2 vCPUs the perftune.py error message is absolutely reasonable.

The actual problem is here why the perftune.py is trying to configure `sq_split` mode on a system that can't possibly support it?

The main question is why is it happening: is it because `perftune.py` auto-detects it that way or is it because it was explicitly requested to using

[2018-06-11 17:34] amoskong opened #3510 "Debian9: coredump setup: scylla_save_coredump isn't used as kernel.core_pattern"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180611.41472e261
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian9

test job link:  [job/scylla-master-debian-deb-9-test/label=huginn/40/](http://jenkins.cloudius-systems.com:8080/job/scylla-master-debian-deb-9-test/label=huginn/40/artifact/latest/job.log)

I saw coredump setup of debian8 & debian9 are different

[2018-06-12 06:01] san213 commented on #3506
Schema would like this.

CREATE TABLE test.data (
    key1 text,
    key2 text,
    key3 text,
    key4 text,
    key5 boolean,
    key6 text,
    *data_map* map<bigint, text>,
    PRIMARY KEY ((key1, key2, key3, key4, key5, key6))
) WITH bloom_filter_fp_chance = 0.01
    AND caching = {'keys': 'ALL', 'rows_per_partition': 'ALL'}
    AND comment = ''
    AND compaction = {'class': 'SizeTieredCompa

[2018-06-12 16:09] vladzcloudius commented on #3454
For the record, this has been broken since the commit 926ce145dbc0a715c47461ad9dae3c321dcafc6f

[code]

[2018-06-12 17:23] syuu1228 commented on #3508
@vladzcloudius @amoskong Looks like it uses --mode sq_split based on /etc/scylla.d/cpuset.conf:
https://github.com/scylladb/scylla/commit/c72eb34b8973876c986cc3dc7e304a69be9d7b91#diff-75fb723ba904be38089f92627f73d7c6

[2018-06-12 18:45] syuu1228 commented on #3504
I able to install latest nightly build of Ubuntu 16.04 by using
https://s3.amazonaws.com/downloads.scylladb.com/deb/unstable/xenial/master/761/scylladb/scylla.list
so I don't understand what is the problem.
Same as Ubuntu 14.04.

[2018-06-12 21:50] slivne commented on #3504
the promotion is probably broken ...

there is a downstream project after the artifacts are tested called
scylla-promote that may be broken ... need to check it.

On Tue, Jun 12, 2018 at 9:45 PM, Takuya ASADA <notifications@github.com>
wrote:

[2018-06-12 23:33] vladzcloudius commented on #3508
@syuu1228 @amoskong @slivne I sent a series with a few small fixes that resolve this issue.

The only thing I was still there (in this AMI) is the complaint about the `/var/lib/scylla/hints` directory but I think @psarna is on it.

[2018-06-13 07:13] lauranovich opened #3511 "scylla.yaml missing information"
Based on 2.2
Scylla YAML file has information on the snitches.
The GoogleCloudSnitch is missing.

[2018-06-13 10:55] psarna opened #3512 "Introduce 'computed' column type for secondary indexes token column"
Currently issue #3423 is solved by letting materialized views know that they are used as a back-end for secondary indexes. Then, special token column can be computed on updates to ensure token order on queries, but at the same time this implementation violates layering - ideally materialized views should be used by secondary indexes without having any special cases for them.

Alternative solution

[2018-06-13 11:08] nyh commented on #3512
We don't even need this to be a general "computed" column, why can't this be a boolean flag as today, just set from the SI layer? I.e., SI layer asks the MV layer to enable this flag - not the other way around?

[2018-06-13 11:35] psarna commented on #3512
Right now the only use case is token column and it's a bunch of `if` statements in view code, the question is if `computed` column might be useful somewhere else in the future. Because then it would make sense for it to be a first class column citizen.

Also, if `computed` was a column type stuck to a column definition, all these `if`s would get much shorter and most of the tests would hide behind

[2018-06-13 12:17] psarna commented on #3495
According to the logs this error occurs during storage_proxy initialization, so it's most certainly the issue I mentioned in my post above. So, hopefully  https://groups.google.com/forum/#!searchin/scylladb-dev/max_shard_disk_space_size%7Csort:date/scylladb-dev/BwzLo_2wAn8/xiNltGdWAgAJ gets merged soon, alternatively cherry-picking https://github.com/psarna/scylla/commit/d962395f3fc4b178c556c94c1c

[2018-06-13 12:56] avikivity opened #3513 "Full scans of Leveled Compaction Strategy tables can skip some data"
*Installation details*
Scylla version (or git commit hash): 2.1+

A full scan of a table using the Leveled Compaction Strategy can miss a small fraction of the data. This was observed in decommission, where some data (<1% in a test) was not streamed.

[2018-06-13 12:57] devendor commented on #2850
This seems to be some sort of cpio unpack error due to the package including a symbolic link to a directory and/or how cpio handles directory symlinks.  The workaround below seems to accomplish the packagers intention.

rpm -ivv --excludepath=/usr/lib/python2.7/site-packages/urllib3/packages/ssl_match_hostname python-urllib3-1.10.2-5.el7.noarch.rpm

then
cd /usr/lib/python2.7/site-packages/urllib3

[2018-06-13 13:21] raphaelsc commented on #3513
Partitioned sstable set's incremental selector may be the one to blame.

On Wed, Jun 13, 2018, 9:56 AM Avi Kivity <notifications@github.com> wrote:

[2018-06-13 13:28] avikivity commented on #3513
It's a candidate because https://groups.google.com/d/msg/scylladb-dev/9aixIHQAf2I/vjWOcD5WAQAJ "fixes" the problem.

[2018-06-13 13:29] avikivity commented on #3513
(it still uses combined_reader, so it's less of a candidate. of course it can be that combined_reader doesn't use the information from incremental_selector correctly, I'll let the authors of the two components to fight it out)

[2018-06-13 13:52] glommer opened #3514 "scylla won't start if hints directory not available"
@psarna I thought we fixed this ?

Using current HEAD, d91891b6f0062269f4140b98eef3afcadb409fa5

I get :
[code]

This comes from:

[code]

All directories should be created by scylla if not present. We do that for data and commitlog already.

[2018-06-13 14:07] #3501 closed

[2018-06-13 14:29] psarna commented on #3514
Still in review: https://github.com/psarna/scylla/commit/d962395f3fc4b178c556c94c1ce13cbb7db4b91e and https://groups.google.com/forum/#!searchin/scylladb-dev/max_shard_disk_space_size|sort:date/scylladb-dev/BwzLo_2wAn8/xiNltGdWAgAJ

It's a regression after `hinted_handoff` was made optional again, but storage_proxy still tried to use its directory as an initializer. It's also the cause of #3495

[2018-06-13 14:50] syuu1228 commented on #2850
I still guessing this is not our packaging problem since it’s not conflicted with scylla\* package, but I try to reproduce it now.

[2018-06-13 16:33] avikivity commented on #3513
Reproduced on master, so the bug wasn't accidentally fixed.

[2018-06-13 16:35] #3513 closed

[2018-06-13 18:10] argenet opened #3515 "install-dependencies fails to complete on Ubuntu 14.04"
Scylla version (or git commit hash):
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 14.04

The `install-dependencies.sh` script fails on Ubuntu 14.04 with
[code]

The problem is that there is no `libsystemd-dev` package in Ubuntu 14.04. `libsystemd-daemon-dev` should be used instead.

[2018-06-13 20:08] syuu1228 commented on #2850
I just tried to reproduce the problem on OEL that running on AWS EC2 (ami-0c9c8d77, able to find on AWS marketplace), I didn't see any error, install finished just finely.
Here is log: https://gist.github.com/syuu1228/3f70ad82c562631c1518b1babaffd866

I still thinking it's environment dependent problem, not all OEL has the issue.
And in fact scylla-2.0-oel7.4-rpm-test is succeed now.

[2018-06-14 08:54] #3486 closed

[2018-06-14 08:54] #3490 closed

[2018-06-14 10:54] duarten opened #3516 "Enhance db::hints::space_watchdog"
Right now there are two hints managers, one for normal mutations and another for failed view updates. This allows for different policies, different configuration, and can help implement some features like view replica back pressure.

This also helps apply user-facing hinted-handoff configuration options just to the manager for normal mutations, since the view updates manager should always be enabl

[2018-06-14 10:54] duarten commented on #3516
/cc @psarna @nyh @vladzcloudius

[2018-06-14 10:59] duarten opened #3517 "Apply hinted-handoff DC blacklisting selectively"
There are two hint managers, one for normal mutations, and another for view mutations. View mutations are always DC local, and HH configuration should not intersect in any way with MVs, so we should extract out DC-related policies so we can selectively apply it to the normal hinted-handoff manager, but not to the view updates one.

This would be similar to how Cassandra skips DC-related configurat

[2018-06-14 11:50] slivne commented on #3461
fixed

[2018-06-14 11:50] slivne commented on #3457
fixed in 2.1.4

[2018-06-14 11:50] #3457 closed

[2018-06-14 11:57] slivne commented on #3508
patch "[PATCH scylla v1 0/5] Fix numerous issues in AMI related scriptology"

[2018-06-14 12:00] slivne commented on #3506
@san213 - how are you writting into the map

are you appending values into the map or overwriting the map contents.

[2018-06-14 12:55] slivne commented on #3479
duplicate of #3485

fixed

[2018-06-14 12:55] #3479 closed

[2018-06-14 13:01] slivne commented on #3478
@veramine - did you hit this again ? any idea how we can reproduce this - do you have a coredump ?

[2018-06-14 13:02] slivne commented on #3475
in the future we may want to use the move operation to balance the node of a cluster

[2018-06-14 13:03] slivne commented on #3472
@amnonh - wasn't this merged ?

[2018-06-14 13:10] #3286 closed

[2018-06-14 14:23] syuu1228 commented on #3507
patch is already on ml, please review: “[PATCH scylla] dist/common/scripts/scylla_coredump_setup: fix typo”

[2018-06-14 14:56] avikivity commented on #2850
Since it doesn't reproduce for two people, closing. Please re-open if the problem still happens.

[2018-06-14 14:56] #2850 closed

[2018-06-14 15:04] vladzcloudius commented on #3516
@duarten +1

[2018-06-14 18:06] ArvidR opened #3518 "Errors installing on Ubuntu 16.04"
*Installation details*
Scylla version: Download: 2.1
OS: Ubuntu 16.04 LTS

Could not resolve host repositories.scylladb.com
Unable to locate package Scylla

See attached screenshot.

![scyllainstallerror](https://user-images.githubusercontent.com/14226742/41429697-bceadda2-7005-11e8-8385-3d03b16635ca.png)

[2018-06-14 18:17] tzach commented on #3518
@amnonh can you please take a look?

[2018-06-14 18:48] veramine commented on #3478
Sorry, we never hit that again.  And I checked our other scylla nodes too.  No references in journalctl to _stream_position.  It's certainly up to you guys of course but I'm not sure that I would hold 2.2 for this since we can't provide a repro for you - sorry!

[2018-06-14 18:55] veramine commented on #3503
I disabled the cache on this test instance via "enable_cache: false" and stopped seeing this issue.

[2018-06-14 21:55] asias commented on #3475
I assume you mean changing the number of tokens of a node, e.g., increase the num_tokens from 256 to 512.  This operation is very different from current moving operation.

[2018-06-14 22:15] asias opened #3519 "Improve rpc client connection log"
I saw error message like this:

scylla: [shard 2] rpc - client 1.2.3.4: client connection dropped: read: Connection timed out

The word "client" is a bit confusing. It implies the local node is a server and the remote node 1.2.3.4 is a client.
But actually the client 1.2.3.4 is the server this node is trying to talk to.  Why not call it "peer" in the log?

Another question is how long is the timeo

[2018-06-14 23:07] amoskong commented on #3510
@syuu1228 Thanks for the confirm.

[2018-06-14 23:07] #3510 closed

[2018-06-15 01:55] argenet opened #3520 "Scylla fails to compile with --enable-gcc6-concepts"
Scylla version (or git commit hash): 78274276f53a5ec4cd95ea55a2250536de454668

The following configuration fails to compile:
[code]

Without `--enable-gcc6-concepts` it compiles just fine.

[2018-06-15 01:55] argenet commented on #3520
The suspected change is e525a0d51b95264f996073554b8884607750df4e.

/cc @psarna

[2018-06-15 07:12] psarna commented on #3520
Oh I thought gcc6-concepts are enabled by default... I'll send a patch in a moment

[2018-06-15 08:00] amnonh commented on #3472
it wasn't even implemented, what was merged was Prometheus support, that is
now the default way to connect to Scylla

On Thursday, June 14, 2018, Shlomi Livne <notifications@github.com> wrote:

[2018-06-15 08:16] psarna commented on #3517
What do you mean exactly by "DC-related policies" here? Hints manager for view updates already ignores `hinted_handoff_enabled=XXX` configuration entirely, and that's where DC blacklisting may occur (e.g. `hinted_handoff_enabled=dc1,dc2`). Only regular HH reads and parses these values. Are there any more DC-related policies I should take into account?

[2018-06-15 08:21] psarna commented on #3516
@slivne I guess I should be assigned to that issue?

[2018-06-15 10:37] gleb-cloudius commented on #3519
On Thu, Jun 14, 2018 at 03:15:45PM -0700, Asias He wrote:

'Peer' conveys zero information. Both client and server have peers. How is this an improvement?

This is TCP timeout. It depends on many things and userspace does not
know then. Of course we can start a timer when starting connection
process and print it when the error happens, but why it would be useful?

--
			Gleb.

[2018-06-15 10:41] gleb-cloudius commented on #3519
On Thu, Jun 14, 2018 at 03:23:57PM -0700, Asias He wrote:

This error is about tcp connection as a whole. It means nothing can be
read from it and keep alive tcp mechanism gives up and declares the
connection dead.

--
			Gleb.

[2018-06-15 11:17] duarten commented on #3517
No, that's the only DC-related configuration. However, `db::hints::manager::can_hint_for` checks for DC's being enabled, and the manager has a `std::unordered_set<sstring> _hinted_dcs` field that's unneeded. In Cassandra, this is lifted to `StorageProxy`, so the check doesn't affect other usages of HH. We could lift it into another policy object.

This is a very low priority issue though.

[2018-06-15 11:19] tgrabiec commented on #3503
@veramine I've noticed that main_go.txt which you attached doesn't do queries. Reads may play an important role in reproducing this, and also in catching the error. Could you prepare a reproducer which does reads in a way which your app does?

[2018-06-15 11:27] psarna commented on #3517
Yeah, but `_hinted_dcs` is filled in manager's constructor only. So in our `storage_proxy.cc`, regular hints manager is fed with whatever is passed to `hinted_handoff_enabled`, while hints_for_views_manager is given an empty list (i.e. "all datacenters are enabled"). Which means that hints_for_views_manager is not affected.

Ok, so it's not a correctness issue, but rather a low-priority enhancemen

[2018-06-15 11:37] psarna commented on #3357
I can't reproduce that, neither on master (with a slight modification to allow dropping mv backing secondary indexes) nor 58b90ceee. I used the original `network_connections5` schema and filled it with lots of data several times, but dropping indexes worked fine in both `debug` and `release`.

I see in the issue description that the table was truncated before, but 58b90ceee doesn't have #3200 fix

[2018-06-15 11:52] duarten commented on #3357
Dropping indexes, or the MVs backing the indexes?

If dropping the MVs in parallel with a stream of read/write operations (i.e., mixed cassandra-stress workload) doesn't trigger anything, then I guess we can close.

[2018-06-15 11:55] psarna commented on #3357
Yeah, sorry, MVs backing indexes, like in issue description. And I used various python scripts instead of cassandra-stress, but it was a stream of r/w operations anyway, in parallel with various combinations of dropping MVs that back indexes.

[2018-06-15 12:14] duarten commented on #3357
There's a core dump too, but I'm not sure that will tell use where the fiber started.

Anyway, looking at the backtrace, it seems the error happened during a read, concurrent with dropping the view. There are two options:

1. This is a general problem, and we're not keeping a column family alive until all ongoing reads are done (which I'm not sure we do, or if so, how); or
2. The issue was during

[2018-06-15 12:52] duarten commented on #3514
Fixed by 6b3a97e34a37e23ef2ba47effa0486dfddad54b4.

[2018-06-15 12:52] #3514 closed

[2018-06-15 14:55] #3507 closed

[2018-06-15 14:55] #3520 closed

[2018-06-16 11:21] amnonh opened #3521 "Using Scylla as a general Prometheus source"
Relates to #2190
This is more of a seastar issue.
The idea is to add an API for scylla to add external metrics that would be reported by scylla.

For example, it would be better if scylla would report the current available latest version that the housekeeping is getting, this would allow setting an alarm when a newer version is available (we can extend it to critical updates).

Generalization of t

[2018-06-17 01:39] amoskong commented on #3495
Verify that the problem has been fixed by new patch, the problem doesn't exist in latest 666.development-0.20180615.9971576ec.

[2018-06-17 06:58] avikivity opened #3522 "dynamic cache/memtable reservations"
Currently, we reserve 50% of memory to memtables and 50% to cache. This provides a good balance between read workloads that want a large cache and write workloads that want large memtables to increase write coalescing and reduce write amplification.

We can improve this by dynamically adjusting the ratio according to the workload. A read-intensive workload can use a 80%/20% ratio to increase cache

[2018-06-17 06:59] avikivity commented on #3522
We can prototype this by changing the reservations statically and testing pure read and pure write workloads.

[2018-06-17 07:11] dorlaor commented on #3522
Good idea. Reads portion should also depends on the relative cache-ability
of it. If you read a lot but within the working set,
there is no need to increase it. If you read with random access pattern,
additional memory for cache won't help.

But adjusting the memory dynamically will be good before we go through the
working set size estimation and eviction.

On Sat, Jun 16, 2018 at 11:59 PM, Avi Ki

[2018-06-17 09:11] avikivity opened #3523 "AMI: old centos version used by default"
*Installation details*
Scylla version (or git commit hash): 2.1
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI

The AMI OS version is CentOS 7.2, leading to too many outdated components. An example is systemd, which lacks support for the AmbientCapabilities directive.

[2018-06-17 09:28] avikivity commented on #3491
Fixed for 2.2; was already fixed in master.

[2018-06-17 09:28] #3491 closed

[2018-06-17 09:34] avikivity commented on #324
This should be done not only among sstables, but also among memtable and cache. If the row exists in memtable and has higher timestamps than cache (could be common for read-after-write), then we should skip cache completely.

Perhaps we should add `flat_mutation_reader::max_timestamp()` to allow this to be done in a generic way.

[2018-06-17 09:43] tzach commented on #1679
@duarten is your patch allow a quicker full cluster start? current status is 5 min before the cluster start which is not great.

[2018-06-17 09:49] duarten commented on #1679
Yes, it did, but it wasn’t the full solution to the problem. I opened #3367 with a design that removes this exaggerated timeout.

[2018-06-17 10:04] tzach commented on #3521
The housekeeping service is a better candidate to be folded into Scylla than node_exporter, as it is much simpler. Rewriting node_exporter in housekeeping is a lot of work with a small gain.

[2018-06-17 10:53] tzach commented on #3489
@amoskong ping

[2018-06-17 10:58] tzach commented on #3478
@slivne who can look into this?

[2018-06-17 11:00] tzach commented on #3408
merged to 2.2, closing this issue
@avikivity note this was not port to 2.1

[2018-06-17 11:00] #3408 closed

[2018-06-17 11:01] tzach commented on #3387
@amoskong did you test downgrade with uninstall of 2.2 packages as a bypass?
Is it documented?

[2018-06-17 11:08] tzach commented on #3422
@asias will your patch "Get rid of streaming memtable delayed flush" help this issue and #3337 ?

[2018-06-17 11:09] tzach commented on #3180
@roydahan ping (which week ;)

[2018-06-17 11:09] #3171 closed

[2018-06-17 11:15] tzach commented on #3518
@ArvidR I suspect networking issue
can you please check
[code]

[2018-06-17 11:30] tzach commented on #3487
@amoskong can you reproduce with 2.1.4 to 2.2?
fixing #3437 should have solved this

[2018-06-17 11:34] tzach commented on #3481
In Apache Cassandra rebuild_index is a local task for rebuilding SI
In Scylla, SI is not local rather base on MV.
@duarten @nyh is there an equivalent action for MV ?

[2018-06-17 11:38] tzach commented on #3467
@duarten can you provide a repreduce procedure?

[2018-06-17 11:42] tzach commented on #3455
Closing since we did not get more info. @aerskine please reopen once you can provide the data

[2018-06-17 11:42] #3455 closed

[2018-06-17 11:46] tzach commented on #3426
@krishnaod it is very hard to understand without metric data from Prometheus
Alternatively, we can try to reproduce with more details on your setup, schema.

[2018-06-17 11:49] tzach commented on #3425
@asias any idea what might cause this issue?
@EmpireJones was this cluster upgrade from an older version of Scylla, when Counter was not available by default?

[2018-06-17 11:55] nyh opened #3524 "Add disk pressure and disk eviction"
We have a concept of memory pressure, and memory eviction. In this issue I propose to have a similar concept of **disk space pressure** and disk eviction: When we are getting close to running out of space on a disk, we ask the various disk evictors to start saving space. For example, in a disk shared by data, commitlog and hints, the data, commitlog and hint evictors can:

1.  Data: Tell the compa

[2018-06-17 11:55] tzach commented on #3418
@slivne who can handle this?

[2018-06-17 11:55] nyh commented on #3516
Regardless of what short-term solution we adopt, I think the long term solution should have a concept of "disk pressure" and "disk eviction" similar to the concept we already have for memory pressure. When we run out of space on a disk, we ask the various disk evictors to start saving space - and in this case the hints evictor will start deleting the oldest hints.  I opened a new issue, #3524.

[2018-06-17 12:05] tzach commented on #3410
@duarten @psarna can we close this issue?

[2018-06-17 12:07] tzach commented on #3409
Closing this assuming this is a race condition between schema propagation and writing to the new schema
@avnerbarr, please reopen if you suspect this is not the case.

[2018-06-17 12:07] #3409 closed

[2018-06-17 12:44] duarten commented on #3467
I cannot, I think it might involve changing sstable versions.

[2018-06-17 12:45] duarten commented on #3481
No, I don’t think there’s any reason to support this.

[2018-06-17 12:49] nyh commented on #3418
If you can reproduce this error, you can enable debug-level logs for "database" and possibly get more information on what get flushed by when.

I think @glommer wrote this code.

I found just one suspicious thing in the code, but I don't see how it can explain this error :-( `dirty_memory_manager::flush_when_needed()` does not wait for this->flush_one(). Rather it (as the comment there explains) a

[2018-06-17 13:10] tomer-sandler commented on #3412
@avnerbarr what is the consistency level for this read query? assuming it is not local_one, than it might be going to your remote DC. Can you you try and perform the tracing and slow query procedures described [here](http://docs.scylladb.com/using-scylla/tracing/), and send us the info?

[2018-06-17 13:35] psarna commented on #3410
@tzach these commits were never merged to master, so no. I think they just got stack somewhere in review, since it's a low priority issue. I'll dig it up tomorrow and see what to do with it.

[2018-06-17 21:18] syuu1228 opened #3525 "ami: is_ec2() may not able to detect some instance types"
On our script, "is_ec2()" is implemented as follows:
[code]
But I found that on C5 instance we don't have /sys/hypervisor/uuid:
[code]
Probably it's because C5 is the first KVM based instance types, has some different behavior.

Alternatively we have /sys/devices/virtual/dmi/id/product_uuid to get hypervisor uuid:
[code]
Looks like we always should use dmi interface to detect EC2.
I tested on t2.m

[2018-06-17 21:36] EmpireJones commented on #3425
@tzach If any upgrade did occur, it would have just been from 2.1.0 or 2.1.1. Also, I previously experienced the "Counter support is not enabled" behavior on one of those earlier versions.

[2018-06-18 06:10] ArvidR commented on #3518
Looks OK:

From:   Tzach Livyatan <notifications@github.com>
To:     scylladb/scylla <scylla@noreply.github.com>
Cc:     ArvidR <arvid.raulinaitis@ibm.com>, Mention
<mention@noreply.github.com>
Date:   06/17/2018 02:16 PM
Subject:        Re: [scylladb/scylla] Errors installing on Ubuntu 16.04
(#3518)

@ArvidR I suspect networking issue
can you please check
ping repositories.scylladb.com

—
You are

[2018-06-18 07:28] avikivity commented on #3418
If mtlist is empty, then schema will be null or corrupt.

[2018-06-18 07:39] ArvidR commented on #3518
Something was corrected just recently.  I am now able to continue
installing.
Thanks!

From:   Tzach Livyatan <notifications@github.com>
To:     scylladb/scylla <scylla@noreply.github.com>
Cc:     ArvidR <arvid.raulinaitis@ibm.com>, Mention
<mention@noreply.github.com>
Date:   06/17/2018 02:16 PM
Subject:        Re: [scylladb/scylla] Errors installing on Ubuntu 16.04
(#3518)

@ArvidR I suspect net

[2018-06-18 08:04] ArvidR commented on #3518
Tzach,
I made no changes to the scylla.yaml file.  2 more errors:
I'm looking at the /etc/scylla/cassandra/cassandra-env.sh.  Port 7199 is
specified as the JMX_PORT.  I also made no changes here.
Any ideas?

Thanks!

Jeigu nėra pareikšta kitaip: / Unless stated otherwise above:
UAB IBM Lietuva
Šeimyniškių g. 3
LT-09312 Vilnius
Lietuva
Reg. Nr.: 111620231

[2018-06-18 10:19] tgrabiec commented on #3357
@duarten We are not keeping `column_family` objects alive during reads. Reads started before drop, will proceed, reads started after drop, will fail. For regular reads at least it's not a problem that column_family goes away, mutation readers keep their `mutation_source`s (memtables, sstabes) and schema alive.

[2018-06-18 10:35] pdziepak opened #3526 "mutation_cleaner extends lifetimes of data past the lifetime of its LSA migrators"
*Installation details*
Scylla version (or git commit hash): aab6b0ee27a7bc3fdf1d879d25291f807b4795a5

Since 'Merge "Introduce new in-memory representation for cells" from Paweł' (aab6b0ee27a7bc3fdf1d879d25291f807b4795a5) atomic_cells use schema (abstract_type to be precise) dependent LSA migrators. They need to stay alive as long as the data is stored in LSA-managed memory.

This interacts badly w

[2018-06-18 10:43] duarten commented on #3357
The cache's `snapshot_source` also captures the `column_family`.

We should have reads use a phaser, or piggyback on the `_async_gate`, and wait on it during `database::drop_column_family`.

[2018-06-18 11:47] senselogic opened #3527 "Add Rust native driver to Scylla's documentation"
While not as popular as Go, C++ and Java, Rust remains one of the best programming languages to implement high performance servers :

https://www.techempower.com/benchmarks/#section=data-r16&hw=ph&test=plaintext

It already has a native Cassandra driver which implements all the features described in Cassandra binary protocol specification (versions 3 and 4) :

https://github.com/AlexPikalov/cdrs

[2018-06-18 11:57] tgrabiec commented on #2581
In addition to that, if large partition is mostly range tombstones, reading becomes quadratic because cache reader makes a vector of all relevant range tombstones before filling the buffer. In the worst case of one partition with only range tombstones, this will copy whole cache on each fill_buffer().

[2018-06-18 13:19] vladzcloudius commented on #3516
@nyh Your idea is good however it's not new. The idea of a back-pressure/eviction has been implemented from day 1 of HH: if we run out of space we stop the producer and leave the consumer (sender) open. Once hints are sent out the corresponding segments are deleted thereby freeing the disk space.

The only difference between this and what you are suggesting is that you want to delete the oldest se

[2018-06-18 13:20] avikivity opened #3528 "Maxed out networking core on large machines"
*Installation details*
Scylla version (or git commit hash): 782827cc1b
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

*Hardware details (for performance issues)*
Platform: AWS i3.metal

I observed one thread of the networking core reaching 100% CPU. Likely we have the same problem on i3.16xlarge, we may want to reserve 2 full cores (one on each socket) on such large machines.

Another th

[2018-06-18 13:59] vladzcloudius commented on #3524
@nyh I like the idea in general but I'd like to clarify a few points.

In the context of HH this idea (of a back-pressure/eviction) has been implemented from day 1: if we run out of space we stop the producer and leave the consumer (sender) open. Once hints are sent out the corresponding segments are deleted thereby freeing the disk space.

The only difference between this and what you are suggest

[2018-06-18 16:39] pdziepak commented on #3526
Looks like only one half of this bug is active at the moment. There is `type_interning_helper` which, among other things, leaks user-created types until TLS destructors are run. The basic types are already in TLS which means that no type is ever destroyed in the middle of execution. Since, LSA migrators used by the IMR depend only on the type so far their lifetime is not an issue. However, this is

[2018-06-18 17:32] tzach commented on #3527
Good idea!
Thanks @senselogic

[2018-06-18 22:57] asias commented on #3425
Did you see logs like "Feature COUNTERS is enabled" on all the nodes?
The cluster won't start using the counter if any of the node does not support counter.

[2018-06-18 23:07] asias commented on #3519
"Zero" info is better than wrong info. It is less confusing. With the word 'peer' we know it is the remote node 1.2.3.4. we do not care about it is a server or client.

Because we can have a rough ideas how long it really takes to timeout.  For example, if it is 5 seconds,  it might be a scylla reactor stall caused the timeout. If it is 5 hours, it is not.

[2018-06-19 03:14] EmpireJones commented on #3425
@asias - in what case would a node not support counters? All of the nodes were at the same version.

[2018-06-19 04:06] gleb-cloudius commented on #3519
On Mon, Jun 18, 2018 at 04:07:57PM -0700, Asias He wrote:

Why don't we care? I do. This is important info. If an error is on
client side it will usually cause failed RPC calls for instance.
What is wrong info about specifying side that failed?

Scylla reactor stall will never ever cause TCP timeout (until we move
to dpdk).

--
			Gleb.

[2018-06-19 04:46] asias commented on #3519
On Tue, Jun 19, 2018 at 12:06 PM, Gleb Natapov <notifications@github.com>
wrote:

I complained it is confusing, I did not complain it is wrong to add more
info in the log to make the error more informative.

With

scylla: [shard 2] rpc - client 1.2.3.4: client connection dropped: read:
Connection timed out

local ip = 5.6.7.8

remote ip = 1.2.3.4

What does the above tell us exactly? Can you expla

[2018-06-19 04:55] asias commented on #3497
Creating a new issue is not just for backporting. Tracking the development is another reason.

[2018-06-19 05:42] asias commented on #3497
On Tue, Jun 19, 2018, 13:23 Duarte Nunes <notifications@github.com> wrote:

You wrote I should close this issue because when we backport we can use
another issue number e.g., the one for streaming.

I wrote this issue is created not just for backporting.

I wrote that this is a bug tracker used to track bugs or enhancements, not

There is no  details about the implementation any more. I never inte

[2018-06-19 07:00] gleb-cloudius commented on #3519
On Mon, Jun 18, 2018 at 09:46:49PM -0700, Asias He wrote:

Fair enough. But renaming it to 'peer' will drop info, so we need to
find a ways to add information not drop it.

I can. Client connected to address 1.2.3.4 experienced connection
timeout. Important information is that it is a client side, which is
conveyed by word "client" and that the server is 1.2.3.4. Printing local
ip will not add any

[2018-06-19 07:19] asias commented on #3519
On Tue, Jun 19, 2018, 15:00 Gleb Natapov <notifications@github.com> wrote:

 This matches my understanding. This is where the confusion comes 1.2.3.4
is actually server.

How about,

From

Client 1.2.3.4

To

Client connected to server 1.2.3.4 dropped the connection in read:
connection timeout.

Printing local

[2018-06-19 07:22] gleb-cloudius commented on #3519
On Tue, Jun 19, 2018 at 12:20:09AM -0700, Asias He wrote:

Looks good. Can you send a patch?

--
			Gleb.

[2018-06-19 07:43] asias commented on #3519
Sure, I can.

On Tue, Jun 19, 2018, 15:23 Gleb Natapov <notifications@github.com> wrote:

[2018-06-19 08:27] slivne commented on #2782
@asias your comment from 12th December 2017

[2018-06-19 08:33] tgrabiec commented on #2782
`chunked_vector` is a better choice than `std::list` for performance reasons.

[2018-06-19 08:33] slivne commented on #2858
@elcallio - does your patch fix the large stalls (in the backtraces in this issue), if not what are we missing ?

[2018-06-19 09:12] elcallio commented on #2858
It might fix _some_ stalls. Reporter will have to confirm/deny whether issues still remain in the above setup.

[2018-06-19 10:19] denesb opened #3529 "tests/querier_cache.cc/test_memory_based_cache_eviction: two queriers are inserted with the same key"
Resulting in the tests failing under some circumstances. Although on current master the test passes (not sure how) even the slightest change to the `querier_cache` is enough for exposing the bug in the test.

[2018-06-19 10:20] denesb commented on #3529
Opened for tracking a backport.

[2018-06-19 10:23] denesb opened #3530 "querier_cache: lookup() can potentially return a querier with the wrong read range"
`find_querier()` wrongly return the last element of the result of the internal `equal_range()` call, which is called to find all queriers with the lookup key. However when none of these queriers is found to match the `lookup()`'s read range `_entries.end()` should be returned. This is not the case right now which can potentially result in the wrong querier returned by `lookup()`.

[2018-06-19 14:52] juliayakovlev opened #3531 "Repair process read amplification on the DB with LCS (2.1.4 Scylla version)"
*Installation details*
Scylla version (or git commit hash): 2.1.4
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)
instance_type_db: i3.4xlarge

Run SCT test on 2.1.4 version, 1T DB (using

[2018-06-19 14:52] juliayakovlev commented on #3531
@roydahan

[2018-06-19 15:03] avikivity commented on #3531
Unfortunate side effect of aeffbb6732f9a55434e0772e04d79f207b1cb74d, supposed to happen with Leveled Compaction strategy only. /cc @denesb

[2018-06-19 15:29] roydahan commented on #3531
I think that this issue combined with #3422 makes this bug severity pretty high.
Every repair that runs on large data set with LCS can take very long time (in our case 1TB dataset took more than 24 hours).

[2018-06-19 19:23] #2562 closed

[2018-06-19 19:23] #3529 closed

[2018-06-19 19:23] #3530 closed

[2018-06-19 19:23] #3508 closed

[2018-06-20 09:29] tgrabiec opened #3532 "SIGSEGV when running dtest: limits_test.py:TestLimits.max_cells_test"
*Installation details*
Scylla version (or git commit hash): master (78274276f5)
Cluster size: 1
args:  --smp 2 -m1G

[code]

[2018-06-20 11:30] amoskong opened #3533 "doc: dc_suffix is no longer only used by EC2SnitchXXX"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

Default cassandra-rackdc.properties describes that `dc_suffix=<Data Center name suffix, used by EC2SnitchXXX snitches>`

It's used by GoogleCloudSnitch, referencing: http://docs.scylladb.com/operating-scylla/snitch/#googlecloudsnitch

Question: we need to update the comment in cassandra-rack

[2018-06-20 12:42] vladzcloudius commented on #3533
I agree that the comment in the `cassandra-rackdc.properties` is misleading and should be fixed.
Note however that `dc_suffix` is used by all scylla snitches that use `cassandra-rackdc.properties` which in addition to already mentioned included a GossipingPropertyFileSnitch.

[2018-06-20 13:03] elcallio commented on #3109
@tzach, do you seriously want us to implement FloatingDecimal.dtoa in scylla? This seems like a highly risky approach for something that is absolutely not a bug.

[2018-06-20 14:37] #2739 closed

[2018-06-20 14:37] #3447 closed

[2018-06-20 14:38] avikivity commented on #1796
CL=ALL does not guarantee that all nodes will be updated (it just guarantees that you'll see a failure), and it makes it impossible to do auth changes when a node is down. We need a better method.

[2018-06-20 18:45] raphaelsc opened #3534 "Scylla recompacts on restart"
*Installation details*
Scylla version (or git commit hash): 7afef3abc5e26dac4a4c388fff98799ad291d07b
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

On a restart, scylla starts recompacting column family with LCS

[2018-06-21 02:54] p00178676 opened #3535 "sudo systemctl start scylla-server start fail"
*Installation details*
Scylla version (or git commit hash): 2.1.3
Cluster size:3
OS (RHEL/CentOS/Ubuntu/AWS AMI):CentOS

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker):
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)SSD

error log:
[root@scylladb-0001 /]# systemctl status scylla-server.service
鈼[0m

[2018-06-21 03:04] p00178676 commented on #3535
/etc/scylla/scylla.yaml this file exist

[2018-06-21 03:09] glommer commented on #3535
[code]

This sounds like a typo somewhere. Which steps did you take to configure it ?

[2018-06-21 03:10] p00178676 commented on #3535
just change /etc/scylla/scylla.yaml this file

[2018-06-21 03:12] p00178676 commented on #3535
# Scylla storage config YAML

#######################################
# This file is split to two sections:
# 1. Supported parameters
# 2. Unsupported parameters: reserved for future use or backwards
#    compatibility.
# Scylla will only read and use the first segment
#######################################

### Supported Parameters

# The name of the cluster. This is mainly used to prevent machi

[2018-06-21 03:13] glommer commented on #3535
Changed how ?
Likely there is a non-escaped space in your data directories directory or some other problem with it

[2018-06-21 03:13] p00178676 commented on #3535
# Scylla storage config YAML

#######################################
# This file is split to two sections:
# 1. Supported parameters
# 2. Unsupported parameters: reserved for future use or backwards
#    compatibility.
# Scylla will only read and use the first segment
#######################################

### Supported Parameters

# The name of the cluster. This is mainly used to prevent machi

[2018-06-21 03:15] p00178676 commented on #3535
data_file_directories: /disk/data1/service/data1, /disk/data2/service/data1, /disk/data3/service/data

[2018-06-21 03:15] p00178676 commented on #3535
commitlog_directory: /opt/huawei/service/scylla/commitlog

[2018-06-21 03:16] p00178676 commented on #3535
![image](https://user-images.githubusercontent.com/32156960/41696044-9717883e-7544-11e8-9d90-98ed48f768a7.png)

[2018-06-21 03:18] glommer commented on #3535
[code]

This is wrong in two ways:
1) we don't support multiple data directories, just one. If those are different disks, we recommend you use RAID0 for them, with all disks merged together
2) the yaml syntax for this is a list, so it is not a comma separated value

Refer to the unchanged yaml file for an example.

Since this is a misconfiguration and not a Scylla bug, I'd kindly ask you to close

[2018-06-21 03:21] p00178676 commented on #3535
ok, thanks.

[2018-06-21 03:21] #3535 closed

[2018-06-21 05:43] syuu1228 opened #3536 "ami: scylla_ec2_check does not able to detect enhanced networking on C5.* instance"
It always says like this even it uses ENA:
[code]
Because instance type list is outdated, the script doesn't know what is C5:
https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_ec2_check#L8

Need to be sync with latest doc:
https://docs.aws.amazon.com/en_us/AWSEC2/latest/UserGuide/enhanced-networking.html

[2018-06-21 06:15] s4kibs4mi opened #3537 "Does scyllaDB support GeoPartial data ?"
Does ScyllaDB support GeoPartial data. Found that Cassandra supports geopartial operations using lucene index.

[2018-06-21 08:18] amoskong opened #3538 "scylla-ami-setup: I/O Scheduler is not properly configured"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180620.6572917fd
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-ad99ccd2
Instance type: c3.large

test job: [job/scylla-master-ami-test/label=muninn/239/
](http://jenkins.cloudius-systems.com:8080/job/scylla-master-ami-test/label=muninn/239/)
[code]
[code]

[2018-06-21 08:22] amoskong commented on #3538
Manually execute scylla_io_setup, it succeeds. And scylla-server can be started after that.
[code]

[2018-06-21 08:40] lauranovich commented on #3533
Is this file ours to change, or do we need to submit a patch to Cassandra?
Just tell me if this will be fixed so I know how to change the documentation accordingly.

[2018-06-21 09:18] slivne commented on #3503
We have tried to use the reproducer code - on two different seups doing queries and trying to reproduce the issue but failed

@veramine / @duarten - if there is any additional data on the queries it will be appreciated - so we can figure this out.

[2018-06-21 09:18] slivne commented on #3489
@amoskong / @roydahan ping

[2018-06-21 09:19] slivne commented on #3487
@amoskong  / @roydahan ping

[2018-06-21 09:29] slivne commented on #3424
dixed

[2018-06-21 09:29] #3424 closed

[2018-06-21 09:29] slivne commented on #3387
@amoskong  / @roydahan ping

[2018-06-21 09:30] amoskong commented on #3487
I tested 2.1.3-0.20180528.f6c4d558e, it's good.

I just submitted a [job](http://jenkins.cloudius-systems.com:8080/job/scylla-staging-rolling-upgrade-gce/60/) for official release 2.1.4, will update you result soon.

[2018-06-21 09:30] slivne commented on #3180
@roydahan ping

[2018-06-21 09:35] amoskong commented on #3489
We also need to backup and restore the configuration files during the rollback.

The upgrade guide had been updated:
- http://docs.scylladb.com/upgrade/upgrade-guide-from-2.1-to-2.2-ubuntu/
- http://docs.scylladb.com/upgrade/upgrade-guide-from-2.1-to-2.2-debian/

[2018-06-21 09:36] slivne commented on #3534
@raphaelsc - please provide reproducer

[2018-06-21 09:37] slivne commented on #3533
@amoskong please move to the docs and close the issue

[2018-06-21 09:46] amoskong commented on #3387
On Sun, Jun 17, 2018 at 7:01 PM, Tzach Livyatan <notifications@github.com>
wrote:

Yes, the test result is good.
It's documented in
http://docs.scylladb.com/upgrade/upgrade-guide-from-2.1-to-2.2-debian/#rollback-steps

[2018-06-21 09:46] slivne commented on #3506
- to clarify

- if you are appending values into the map than we need to scan the related sstables to make sure we collect all elements
-  if you are overwtirring the complete map  than a tombstone would also be added - which can provide an input to stop the search since older data is not valid.

I am not suggesting a change - I would like to understand the use case better.

I am closing this issu

[2018-06-21 09:46] #3506 closed

[2018-06-21 09:47] slivne commented on #3505
@louishust - can you please try and install using duarten's instructions - if there is an issue in that case we will be happy to help

closing this for now

[2018-06-21 09:47] #3505 closed

[2018-06-21 09:48] slivne commented on #3426
closing this issue till additional information will be provided

@krishnaod - if you can provide additional information on this pleas epost and we will reopen and continue

[2018-06-21 09:48] #3426 closed

[2018-06-21 09:49] amoskong commented on #3533
The `cassandra-rackdc.properties` is in scylla repo:
https://github.com/scylladb/scylla/blob/master/conf/cassandra-rackdc.properties

We need to submit patch for scylla if we want to update the comment.

On Thu, Jun 21, 2018 at 4:40 PM, Laura Novich <notifications@github.com>
wrote:

[2018-06-21 09:50] amoskong commented on #3533
Create issue in https://github.com/scylladb/scylla-docs/?  But the problem
file is in scylla project.

On Thu, Jun 21, 2018 at 5:38 PM, Shlomi Livne <notifications@github.com>
wrote:

[2018-06-21 09:51] slivne commented on #3478
copying information from tgabriec

[2018-06-21 09:52] slivne commented on #3478
@veramine by any chance do you have a coredump - if not next time the sstables / coredump will be helpfull.

[2018-06-21 10:46] roydahan commented on #3180
No need to ping.
It'll be tested with latest 2.2.rc2

[2018-06-21 11:19] amoskong commented on #3487
I can't reproduce this issue in upgrading from `2.1.4-0.20180614.6615c2a6a` to `2.2.rc2-0.20180621.c11bd3e1c`. So this issue had been fixed.

Test job:  [job/scylla-staging-rolling-upgrade-gce/60/](http://jenkins.cloudius-systems.com:8080/job/scylla-staging-rolling-upgrade-gce/60/)
Result: PASS

[2018-06-21 11:34] glommer commented on #3538
Which instance type is this ?

On Thu, Jun 21, 2018, 4:18 AM Amos Kong, <notifications@github.com> wrote:

[2018-06-21 11:44] amoskong commented on #3538
c3.large

On Thu, Jun 21, 2018 at 7:34 PM, Glauber Costa <notifications@github.com>
wrote:

[2018-06-21 12:36] #3487 closed

[2018-06-21 13:01] raphaelsc commented on #3534
To reproduce,

run:
./tools/bin/cassandra-stress write n=10000000 -rate threads=30 -pop seq=1..10000000 -schema 'compaction(strategy=LeveledCompactionStrategy,sstable_size_in_mb=5)';

and wait for compaction to finish and reboot.

[2018-06-21 13:54] vladzcloudius commented on #3533
@amoskong @slivne @lauranovich @tzach Guys and Laura, I must apologize but I misled you in my previous comment.

This all is rather confusing and I only added to it. I refreshed my memory by reading the code and would like to clarify it for the last time (hopefully :)):

 * cassandra-rackdc.properties is used by the following snitches:
   * GossipingPropertyFileSnitch
   * Ec2 snitches: Ec2Snitch

[2018-06-21 19:11] dorlaor commented on #3537
We have plans to support index but not using Lucene, more like SASI

[2018-06-21 19:11] #3537 closed

[2018-06-21 20:13] veramine commented on #3478
Okay if we hit this again I will be sure to capture a dump.  This time was a graceful shutdown so I don't think it saved a coredump - sorry!

[2018-06-21 20:18] veramine commented on #3503
I think this is probably somehow related to the state of the cache.  We had consistently hit it before and now never hit it with the cache disabled.  We use some extra large partitions and the number of partitions in the cache swings wildly from very much to very few.  I don't think we will be able to reproduce this in isolation unfortunately.  If you have any kind of test that you could run concu

[2018-06-21 21:42] duarten opened #3539 "Broken queries involving PK and secondary index"
Consider the following:

[code]

While restricting the indexed columns works correctly, further restrictions on the primary key columns are ignored:

[code]

[2018-06-21 22:00] duarten commented on #3467
Happened again:

[code]

I don't know exactly what triggered this. I started from an empty directory, created the reproducer for #3539, and tried to quit Scylla.

[2018-06-21 22:06] duarten commented on #3467
Ah, I know what happened. I must have accidentally deleted the data directory, so we're stuck and can't shutdown.

[2018-06-21 22:18] duarten commented on #3423
There is still a missing crucial part: the actual partition key columns should appear as the last clustering keys. As the code is now, two different keys mapping to the same token will have just a single view entry, which is wrong.

[2018-06-21 22:19] duarten commented on #3539
The issue is in `read_posting_list()`, in `select_statement.cc`. We should take the select restrictions and use it to build a `partition_slice`, while right now we just build an unrestricted one.

The algorithm should be something like:
- If there are partition key restrictions, obtain the token for each restriction bound, and use that as the first clustering bound (recall that the first CK in the

[2018-06-22 05:11] syuu1228 commented on #3525
Note:
I realized that /sys/devices/virtual/dmi/id/product_uuid is only readable from root user, but we use is_ec2() on "centos" user's .bash_profile on our AMI.
So we can't use the file, but I found we can read /sys/class/dmi/id/board_vendor from non-root user, the value will be "Amazon EC2" on C5 instance.

[2018-06-22 05:56] amoskong commented on #3508
AMI: ami-482c7b37
Version: 666.development-0.20180621.7f6b6fa12
Test job link:  [scylla ami testjob](http://jenkins.cloudius-systems.com:8080/job/scylla-staging-ami-test-clone/label=muninn/1/console)

I can still reproduce this problem in latest AMI.

[code]

[2018-06-22 06:47] amoskong commented on #3508
Problem still exists with i3.large
Test job: http://jenkins.cloudius-systems.com:8080/job/scylla-master-ami-test/label=muninn/241/artifact/latest/job.log
Scylla version: 666.development-0.20180621.7f6b6fa12
AMI: ami-482c7b37

[code]

[2018-06-22 08:19] psarna commented on #3423
I don't follow... before this fix, all base partition key columns were put in the clustering key of the index table, for obvious reasons. Now,*additionally* to all these clustering columns, there's a token column added as a first clustering column, which ensures proper ordering. So, all base primary keys are still here, and they are last clustering keys, right? Or am I missing something...

[2018-06-22 09:10] duarten commented on #3423
That's right, they still appear there. However, they appear in the wrong position:

[code]

The partition keys should appear last, so the order is token and then clustering keys.

[2018-06-22 09:27] psarna commented on #3423
Oook, thanks for the example, it's clear now!

[2018-06-22 12:30] nyh commented on #3539
On Fri, Jun 22, 2018 at 1:19 AM, Duarte Nunes <notifications@github.com>
wrote:

columns for #3423 (which I still don't understand) is necessary to solve
*this* patch. Can you please explain? Thanks.

[2018-06-22 12:30] duarten commented on #3423
Everything is correct the way it was, my bad 🤕

[2018-06-22 12:30] #3423 closed

[2018-06-22 12:35] duarten commented on #3539
@nyh I was updating my comment. I now think what we need is `allow filtering` support, which I wanted to avoid :(

[2018-06-23 22:15] nyh commented on #3539
@duarten yes, when I wrote this code I wasn't really sure what I was doing, so I left this FIXME. Unfortunately, I didn't continue to write more elaborate unit tests that involve multiple restrictions, so I didn't notice when this code comes into (foul) play :-(

[2018-06-23 23:12] duarten opened #3540 "indexed_table_select_statement should query the MV using a select statement"
The `indexed_table_select_statement` operates in two stages, the first obtaining from the underlying view the set of primary keys that are then used to query the base table, in the second stage.

We use the `storage_proxy` layer directly for the first stage.  An upcoming problem is that we want to execute `ALLOW FILTERING` queries against the MV, and using `storage_proxy` directly will cause code

[2018-06-23 23:12] duarten commented on #3540
/cc @nyh

[2018-06-24 05:28] tzach commented on #3537
https://github.com/scylladb/scylla/issues/2203

[2018-06-24 07:34] veramine commented on #3503
We upgraded our test instance to 2.2.rc2-1.mv.20180621.b95be05 and as part of that upgrade started using the cache again.  Within a day we hit this issue again.

What is the best way to generate a useful core dump while the database is in this state?

[2018-06-24 08:14] nyh commented on #3540
By the way, I'm not sure why "ALLOW FILTERING" needs to happen implicitly. Maybe the user should need to specify it manually? For example consider an example simplified from the one which started this discussion:

Imagine we have a table with a partition key p, and a regular column r, for which we built an index. A search for r=7 yields, say, 100 results. Now somone searches for "r=7 AND p=1". You

[2018-06-24 09:02] duarten commented on #3540
I think the user always needs to specify `ALLOW FILTERING` for queries we might do that use it (I didn't mention any implicit `ALLOW FILTERING`, but I also don't discard that we may need to do that in some case).

The token column is not an issue, because it has natural bottom and top types, so we can add that as an additional restrictions always.

[2018-06-24 09:19] lauranovich commented on #3533
If we are going to change the cassandra-rackdc.properties file we should do the following
1. remove "used by EC2SnitchXXX snitches" from the file
2. explain where you have mandatory and optional parameters (not completely necessary as this can be done in the docs, but it is nice to have.
3. explain which snitches use this file - a must

[2018-06-24 09:56] duarten commented on #3540
The only queries I can think of that need implicit `ALLOW FILTERING` are:

[code]

In this case there aren't any partition key values to restrict the corresponding clustering columns in the view. Cassandra doesn't require `ALLOW FILTERING` for these queries, so we shouldn't either.

[2018-06-24 09:58] lauranovich commented on #3533
I am opening an issue in docs as well.

[2018-06-24 10:09] #3489 closed

[2018-06-24 10:10] #3387 closed

[2018-06-24 10:11] avikivity commented on #3503
You can use `pkill -x -ABRT scylla`. However, best to do a dry run first:

`sleep 10 & pkill -x -ABRT sleep`

to make sure a core dump is actually generated, and that you know where to find it. Make sure you have sufficient space in that directory (the dump will be as large as memory).

[2018-06-24 10:16] slivne commented on #3134
closing - no additional information

will be solved with #3033

[2018-06-24 10:16] #3134 closed

[2018-06-24 10:28] slivne commented on #3263
ok great ... working on the postscript "[scylla-ami PATCH] Add custom script options to AMI user-data"

[2018-06-24 14:05] nyh opened #3541 "Wrong error message when creating collection of unknown type"
If a user does
[code]
Where "zzz" is a non-existant type, Scylla says:

This error message is wrong, because we didn't try any collection of collections. The code contains a valid check, but then prints the wrong message: cql3_type::raw_collection checks `supports_freezing()` and our raw_ut::supports_freezing() - for a UDT (not a collection!) returns true. So it's fine to give an error message in

[2018-06-25 01:17] asias opened #3542 "Limit number of REPLICATION_FINISHED verb can retry"
In the removenode operation, if the message servicing is stopped, e.g., due
 to disk io error isolation, the node can keep retrying the
 REPLICATION_FINISHED verb infinitely.

 Scylla log full of such message was observed:
[code]

[2018-06-25 06:06] veramine commented on #3503
I uploaded a dump as http://upload.scylladb.com/67aaaf0f-28a6-4a95-b701-0b17f2d857cb/core.28198.xz.

I also went looking for other characteristics about this test node that might lead to or exacerbate the issue.  This VM is running our full stack of software so there is a bunch of stuff competing for resources.  The VM itself has 64GB memory and 12 cores but we have configured scylla with the foll

[2018-06-25 06:52] slivne commented on #3503
@veramine - thanks

one additional request - since you compiled the code on your own - from 2.2-mv can you please upload all the rpms (including the dbeuginfo one) as well

[2018-06-25 06:52] ArvidR commented on #3518
Any luck?
Arvid Raulinaitis
IT Architect
Global Business Services
+370 8 6 9483828
arvid.raulinaitis@ibm.com
Leave Plan: July 2-6 Limited Availability

From:   Arvid Raulinaitis/Lithuania/IBM
To:     scylladb/scylla
<reply@reply.github.com>
Cc:     Mention <mention@noreply.github.com>, scylladb/scylla
<scylla@noreply.github.com>
Date:   06/18/2018 11:03 AM
Subject:        Re: [scylladb/scylla] Err

[2018-06-25 07:00] veramine commented on #3503
Sure, here you go:

[code]

[2018-06-25 07:08] tzach commented on #3518
@ArvidR closing this issue since the original issue was resolved.
Could you please open a new issue for the new error you have? Its look like the two new errors is not part of your comment above.

[2018-06-25 07:08] #3518 closed

[2018-06-25 07:10] infordb opened #3543 "query result with secondary index is wrong"
*Installation details*
Scylla version (or git commit hash): scylla-server-2.1.1-0.20180325.cce455b1f.el7.centos.x86_64

I  tested basic work of secondary index in Scylla 2.1
There is a strange case in the query result.
the result data is duplicated  or the query result is wrong.
Refer to the test results below

####### basic test ##############

CREATE KEYSPACE ks WITH replication = {'class': 'Sim

[2018-06-25 07:29] nyh commented on #3543
The bizarre duplicate rows in the last two searches have already been solved in commit f5536d607ed345dca6013edac3f701aa12c8fee9 which will be in Scylla 2.3. Issue #3405 included a test that confirmed that (and other cases).
However, we still have an open bug - issue #3539 - concerning **intersection** of a secondary-index restriction and another restriction, e.g., on the partition key. This is exa

[2018-06-25 08:41] duarten commented on #3543
Duplicates https://github.com/scylladb/scylla/issues/3539.

[2018-06-25 08:41] #3543 closed

[2018-06-25 11:33] tzach commented on #3527
Done

[2018-06-25 11:33] #3527 closed

[2018-06-25 12:09] amoskong opened #3544 "Scylla_setup: OSError: Cannot call rmtree on a symbolic link"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180624.828497ad1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

* Description:
I tried to execute scylla_setup in non - interactive mode, and got this error.

[code]

@syuu1228

[2018-06-25 12:25] amoskong opened #3545 "scylla_setup: mounted root disk is wrongly identified as unused disk"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180624.828497ad1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

* Description:
Error 1: The first disk (/dev/sda) is mounted to `/`, the disk is wrongly identified as unused disk in scylla_setup.
Error 2: When I typed /dev/sdb, the selected disk list is ['/', 'd', 'e', 'v', '/', 's', 'd', 'b'], that's wrong.

[2018-06-25 12:43] elcallio opened #3546 "sstable CompressionInfo in scylla 2.2 identifies all compressors using qualified names"
Older scylla (and origin) names all "known" (i.e. in org.cassandra... namespace) compressors using unqualified names. Worse, older scylla does not accept qualified names here at all, making reading compressed data when downgrading impossible.

Should preserve old behaviour.

[2018-06-25 12:56] syuu1228 opened #3547 "ami: master AMI trying to create RAID device on unsupported instance type, and it's failing"
When I started ScyllaDB 2.2-rc1 (ami-385dc647) on c5.2xlarge, I got
[code]
And I found journal says scylla_ami_setup failed to create RAID volume.
The error is happening because the script think nvme0n1 is secondary disk, but actually it used for root volume and mounted.
We should fix the error, but shouldn't we skip creating RAID volume when we don't supported the instance type, anyway?

[code]

[2018-06-25 13:30] glommer commented on #3545
I sent a patch for this already

36e85110ecba962b6ec137f2bc6a965434aafd7e

On Mon, Jun 25, 2018 at 8:25 AM, Amos Kong <notifications@github.com> wrote:

[2018-06-25 15:13] slivne commented on #3503
@veramine thanks, @tgrabiec is working on using the coredump and the binaries to check the cache - we will update the issue.

[2018-06-25 17:36] tzach commented on #3544
@amoskong is it a regression?

[2018-06-25 17:46] raphaelsc commented on #3534
Low sstable_size_in_mb triggers this behavior, but it's expected. Memtable flushed during shutdown will be big enough for L0, but will not be compacted during shutdown because compaction manager is stopped. After reboot, that new sstable is compacted into level 1, then level 2, and so on, because size limit of levels is small with low sstable_size_in_mb.

[2018-06-25 18:02] slivne commented on #3534
Can you please verify this

1. After c-s ends do a nodetool flush
2. Wait for comoactions to end
3. Do a reboot

On Mon, Jun 25, 2018, 20:46 Raphael Carvalho <notifications@github.com>
wrote:

[2018-06-25 18:11] raphaelsc commented on #3534
@slivne flushed, and no compaction after reboot.

[2018-06-25 19:10] tgrabiec commented on #3532
Introduced in 5b59df376109aa5ecf6b76c90e1f6ea4d78ef13c

[2018-06-25 19:39] senselogic commented on #3527
👍

[2018-06-25 20:55] syuu1228 commented on #3544
@tzach it's not regression, since it caused by python3 conversion patchset.

[2018-06-25 21:00] syuu1228 commented on #3525
Fixed by https://github.com/scylladb/scylla/commit/2a4ba883c8e9c3351ff69064bb4d09954ff001c4#diff-23bb822fd3271daf086e185150f31517, we've implemented new is_ec2() in python3 https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_util.py#L266

However, we still have the problem on release branches.

[2018-06-25 21:00] #3525 closed

[2018-06-25 21:01] syuu1228 commented on #3536
Fixed by https://github.com/syuu1228/scylla/commit/5160e930031e56d035f0dcb5c42a9fb0ced19b47

[2018-06-25 21:01] #3536 closed

[2018-06-25 21:33] amoskong commented on #3544
666.development-0.20180623.2d4177355  (PASS)
666.development-0.20180624.828497ad1  (FAILED)

On Tue, Jun 26, 2018 at 1:36 AM, Tzach Livyatan <notifications@github.com>
wrote:

[2018-06-25 22:33] amoskong opened #3548 "scylla_raid_setup: sys module isn't imported correctly"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180625.828497ad1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian 8

* Problem description:
I repeated execute scylla_setup, scylla_raid_setup raised error when it identified the RAID device was already using.

[code]

@syuu1228

[2018-06-25 22:41] amoskong opened #3549 "Scylla_setup stuck to waiting user's input in none-interactive mode"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20180625.828497ad1
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian8

* Problem description:
Scylla_setup stuck to waiting user's input in none-interactive mode. This bug blocked our artifact-test.

666.development-0.20180623.2d4177355 is good.

[code]

Scylla_setup code:
[code]
@syuu1228 @roydahan @slivne

[2018-06-25 23:04] amoskong commented on #3549
Posted a fix to https://groups.google.com/forum/#!topic/scylladb-dev/LEp_RIKCUKw
- [PATCH scylla] scylla_setup: nic setup dialog is only for interactive mode

[2018-06-25 23:26] amoskong opened #3550 "error: Invalid yaml. Please remove properties [keyfile, certificate] from your cassandra.yaml"
*Installation details*
Scylla version (or git commit hash): 2.2.rc2-0.20180621.c11bd3e1c
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

I tried to cleanup keyspace1 at the end of decommission nemesis, but the cmd failed.

[code]

[2018-06-25 23:30] amoskong commented on #3550
Old server_encryption setup:
[code]

I commented two parameters, and then the cleanup cmd can succeed.
[code]

[code]

[2018-06-26 08:28] slivne commented on #3206
we will start by using the first restrictions in the query to match to an index and the rest of the restriction (column values) will be filtered using ALLOW FITERING

[2018-06-26 09:18] asias opened #3551 "gossip assassinate_endpoint does not set tokens of the node assassinated"
nodetool gossipinfo will not show the node's token within STATUS application state after node be assassinated.

[2018-06-26 09:19] asias commented on #3551
Patch is on list: [PATCH scylla] gossip: Fix tokens assignment in assassinate_endpoint

[2018-06-26 10:27] tgrabiec commented on #3503
@veramine Can you check if executing below command makes all data visible again (it wipes out whole cache)?

[code]

For the record, from the core dump I extracted that the partition in question is cached, contains no clustered rows, and has a dummy which marks whole clustering range as complete in cache.

[2018-06-26 11:31] tgrabiec commented on #3503
@veramine is it possible that your app queried this partition for a clustering key sub range which would yield no rows at some point in time after initial write?

[2018-06-26 16:14] tgrabiec opened #3552 "Partition can start to appear empty until restart with DateTiered or TimeWindow compaction strategies"
*Installation details*
Scylla version (or git commit hash): 2.1+

There is a bad interaction between cache population on read and sstable read optimization which filters out sstables based on clustering key component ranges recorded in the sstables (only enabled for DateTiered and TimeWindow compaction strategies). When the clustering range of the query doesn't overlap with any sstable, the reader

[2018-06-26 16:14] tgrabiec commented on #3503
Possible cause: https://github.com/scylladb/scylla/issues/3552

[2018-06-26 16:40] tgrabiec opened #3553 "Sstable reads of empty clustering ranges can miss partition tombstone and static row with DateTiered and TimeWindow compaction strategies"
*Installation details*
Scylla version (or git commit hash): 1.4+

With DateTiered and TimeWindow, there is a read optimization enabled which excludes sstables based on overlap with recorded min/max values of clustering key components. The problem is that it doesn't take into account partition tombstones and static rows, which should still be returned by the reader even if there is no overlap in th

[2018-06-26 16:48] #3551 closed

[2018-06-26 16:48] #3526 closed

[2018-06-26 17:35] veramine commented on #3503
That's great news, thanks!

Not sure if it helps to corroborate your suspicions or not but I tried that curl command and it did not result in the data becoming available...

I do not see any EXPLICIT fetches of rows from our app for a clustering key sub-range that would yield no rows at some point after the initial write.  However, it does seem anecdotally like we hit this condition more often on

[2018-06-26 17:37] duarten commented on #3503
Indeed, there will be an implicit read of the base table before view updates are generated, which uses the cache.

[2018-06-26 19:05] tgrabiec commented on #3503
wt., 26 cze 2018 o 19:35 Veramine <notifications@github.com> napisał(a):

This is contrary to my theory that
https://github.com/scylladb/scylla/issues/3552 is at fault, becasue
clearing the cache should have the same effect as restarting the node as
far as cache mispopulation is concerned. Could it be that we were so
unlacky that a concurrent read jumped in between and re-corrupted it? Can
you try

[2018-06-26 23:51] veramine commented on #3503
I just tried stopping the incoming inserts, and then executed curl -X POST http://localhost:10000/lsa/compact three times and the columns that had been null were suddenly populated.  I will try it again next time I see this condition arise.  But this is an indication that your theory may be correct.

[code]

In another terminal window:
[code]

And then back in the cqlsh window five seconds later:

[2018-06-27 03:47] veramine commented on #3503
I encountered the situation again tonight.  This time I only cleared the cache once and all data was available again immediately.

[2018-06-27 09:30] denesb commented on #3513
Root cause: the combined reader uses the key of the current partition to ask the incremental selector for new readers. But in some case the currently open sstables will have a huge gap between two partitions. In some cases this gap is so wide it includes some unselected sstables entirely. In this cases these sstables will be ignored from the read entirely.
Example:
[code]
When the combined reader

[2018-06-27 11:59] elcallio commented on #2896
Afaict, there is no apparent fault/low-hanging fruit in the topology calculation (barring altering algo). The best I can come up with is to add some initial reserve calls (of sort-of worst case load) to the temporary maps used, which should reduce rehash calls when calculating. However, this will potentially cause slightly higher memory usage/slower perf for the cases with few node endpoints. So n

[2018-06-27 12:04] duarten commented on #2896
Some of those `sstring`'s probably could be `sstring_view`'s, but I don't see anything else obvious either.

[2018-06-27 13:55] #3357 closed

[2018-06-27 13:55] #3546 closed

[2018-06-27 13:55] #3552 closed

[2018-06-27 13:55] #3553 closed

[2018-06-27 16:35] raphaelsc commented on #3534
looks like the pending compaction is not only due the memtable only flushed at shutdown. It may also happen that compaction manager will stop compacting a column family ***after it stopped being written to*** due to a bug in the compaction manager itself.

[2018-06-27 18:56] roydahan opened #3554 "Newly added node fail to start after restart during bootstrap"
*Installation details*
Scylla version (or git commit hash): 2.2.rc2-0.20180619.9df3df92b
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

`seastar - Exiting on unhandled exception: std::runtime_error (Unable to contact any seeds!)
`

The node (ip-172-16-99-56.ec2.internal) was added to the cluster with the following user data:
--clustername longevity-1tb-7d-2-2-db-cluster-56276efc --total

[2018-06-27 21:14] slivne commented on #3554
@asias

The new node I am not seeing for it the message about generating tokens ....

shouldn't that exist for every node booting up ?

[code]

[2018-06-27 23:13] asias commented on #3554
@slivne

You did not see it because that log is for bootstrap == false.

slogger.info("Generated random tokens. tokens are {}", _bootstrap_tokens);

[2018-06-27 23:30] asias commented on #3554
From the log, which says 'Unable to contact any seeds!' is from line 23 below

[code]

What happened to 172.16.99.56, I saw 5 restart of scylla process on that node in scylla-172-16-99-56.log.

Can you explain what was changed in scylla.yaml?

What is the first and second start in the scylla-172-16-99-56.log?

[2018-06-27 23:33] asias commented on #3554
[code]
Around the above log, I saw two nodes are removed. What operations did you do? You decommissioned two nodes before the joining operation?

[2018-06-27 23:38] asias commented on #3554
I saw
[code]

Why the node was stopped in the middle of streaming?

[2018-06-28 03:11] dakshinrajavel opened #3555 "Read from table A timeout while writing on Table B on 5 node cluster"
While the Spark Job loads to Table A, the read from Table B timedout. The read timeout setting is 2seconds. Why the select * from TableB is timing out when there are just 6 records in TableB. Let me know what additional information you want. I can provide.

*Installation details*
Scylla version (or git commit hash): 1.7.4
Cluster size: 5 node cluster
OS (RHEL/CentOS/Ubuntu/AWS AMI): ScyllaDB 1.7.4

[2018-06-28 05:29] dorlaor commented on #3555
On Thu, Jun 28, 2018 at 6:11 AM, dakshinrajavel <notifications@github.com>
wrote:

Today there is no SLA between tables and apparently you have a loaded
cluster or shard with this timeout.
Can you share the monitoring data from grafana? Do you know what resource
is busy (cpu vs disks)?
Btw, 1.7.x reached end of life, pls upgrade to 2.1

[2018-06-28 07:13] roydahan commented on #3554
@amoskong, can you tell what is being add to the scylla.yaml after the first boot?

[2018-06-28 07:16] slivne commented on #3554
On Thu, Jun 28, 2018 at 2:13 AM, Asias He <notifications@github.com> wrote:

we pass to the ami --bootstrap true - so it should have been enabled on the
first boot.

[2018-06-28 07:58] asias commented on #3425
Hello @EmpireJones, if the oldest version the nodes ever runs was 2.1.0 or 2.1.1, then COUNTERS feature is supposed to be supposed by all nodes, even without giving the --experimental == true flag.

I checked the code, 2.1.0 and 2.1.1 has COUNTERS_FEATURE supported.

Next time, you see the same error. Take a look at the scylla log, to see if 'Feature COUNTERS is enabled' is in the log on all nodes

[2018-06-28 08:15] asias commented on #2743
Well, such "[shard 0] rpc - client x.x.x.x: fail to connect: Connection timed out" logs are mostly from the gossip attempt to talk to dead node in gossip round. We know the attempt will fail in most cases.

Perhaps we can teach rpc to ignore the failed to connect error message for such attempt.

[2018-06-28 08:45] amoskong opened #3556 "UX: the error isn't clean if we disable scylla-server by `--stop-services` in ec2 userdata"
*Installation details*
Scylla version (or git commit hash): 2.2.rc2-0.20180621.c11bd3e1c & master
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-917521ee

We checked the disable flag file (/etc/scylla/ami_disabled) in scylla_prepare script. Can we the error is fine because it's the expected result.

[code]

[code]

[code]

[2018-06-28 09:20] slivne commented on #3309
closing the issue @himanshuk359 if there is an update we can reopen

[2018-06-28 09:20] #3309 closed

[2018-06-28 09:21] slivne commented on #3346
@avikivity / @tgrabiec have we fixed this ?

[2018-06-28 09:22] slivne commented on #3349
@syuu1228 / @avikivity - have we fixed ?

[2018-06-28 09:30] tgrabiec commented on #3346
@slivne I've sent several fixes to this test since then, which could have solved this. Avi, you are monitoring jenkins more than I do, has this stopped happening?

[2018-06-28 09:32] slivne commented on #3362
patches on the mailing list

[PATCH v1 0/8] materialized views: row liveness correction

[2018-06-28 09:33] slivne commented on #3363
this has been fixed in scylla-enetrprise

[2018-06-28 09:33] #3363 closed

[2018-06-28 09:33] syuu1228 commented on #3349
It probably same issue as #3366, it fixed.

[2018-06-28 09:37] slivne commented on #3371
@asias - is the new streaming code on the list fixing this ?

[2018-06-28 09:37] slivne commented on #3377
@syuu1228 ping ?

[2018-06-28 09:40] slivne commented on #3386
@amoskong - can we check if the option of starting without bootstrap works - if so we will push this out, I agree starting a 200 node cluster while bootstrapping is stretching it.

starting a 200 node cluster without streaming makes sense.

[code]

[2018-06-28 09:41] slivne commented on #3399
ok closing this issue

[2018-06-28 09:41] #3399 closed

[2018-06-28 09:43] avikivity commented on #3346
No issues for a while.

[2018-06-28 09:43] #3346 closed

[2018-06-28 09:44] slivne commented on #3412
@avnerbarr - I think you moved to bigger nodes and are also running the 2.2-mv version - is there still an issue. if so please post here.

If not we will close the issue

[2018-06-28 09:48] amoskong commented on #3386
I will test it.

On Thu, Jun 28, 2018 at 5:40 PM, Shlomi Livne <notifications@github.com>
wrote:

[2018-06-28 09:51] slivne commented on #3481
closing the issue as scylla sec index is based on mv

[2018-06-28 09:51] #3481 closed

[2018-06-28 09:54] syuu1228 commented on #3377
Possibly offline installer broken on RHEL, will check.

[2018-06-28 09:55] slivne commented on #3533
@lauranovich did you send a patch to fix conf/cassandra-rackdc.properties

[2018-06-28 11:06] #3497 closed

[2018-06-28 11:56] jbdalido opened #3557 "Consistency issues"
Hey everyone, we've upgraded a dual-dc cluster in 2.1.5 from 2.0.4 and we have huge consistency issues. Wwe already had the issue with 2.0.4 and we tried upgrading to mitigate without success,

It's critical as it's a full production cluster

### Scenarii:

1 - full upgrade + repair -pr on each nodes on every clusters
2 - selecting a row in local_quorum on dc1: row is present
3 - selecting the sam

[2018-06-28 12:30] tgrabiec commented on #3557
A for the secondary problem you mention with a batch replay timeout, it's most likely due to load on the reactor. System queries will not timeout starting from 2.2, so that error should be gone. There is still a question why you have the CPU overloaded and for that, we would have to get your prometheus metrics, and perhaps also a flame-graph of the overloaded CPUs.

[2018-06-28 12:33] avikivity commented on #3557
What compaction strategy do you use, for the table(s) that experience the issue?

[2018-06-28 12:49] roydahan commented on #3422
@amoskong, can you please supply a quick SCT test that does what Asias wants?

[2018-06-28 13:22] bentsi opened #3558 "perf_fast_forward: Populating small_part with 1000000 partitions fails"
Version: e1efda8b0c10aa71a425e1854e1e8e3d5f0f1efe (master build)
[code]
http://jenkins.cloudius-systems.com:8080/job/scylla-master-build/compiler=g++,label=scylla-build/847/console

[2018-06-28 14:00] tgrabiec commented on #3557
They use SizeTiered.

[2018-06-28 17:29] syuu1228 commented on #2655
ping, please close this

[2018-06-28 17:53] syuu1228 commented on #2442
Looks like duplicated with https://github.com/scylladb/scylla/issues/3433 and fix is https://github.com/scylladb/scylla/commit/300af655554e9a50bf33e8271e188d715737bc88#diff-5e299adcf6d654cb5e82f74543585d78.

[2018-06-28 19:55] #3542 closed

[2018-06-29 01:19] infordb opened #3559 "duplicate data in list"
*Installation details*
Scylla version (or git commit hash): scylla-1.4.1-20161107.5ef3211.el7.centos.x86_64

Data duplication occurs occasionally in list .

as you know, Lists inserts are not truly idempotent.
https://issues.apache.org/jira/browse/CASSANDRA-11368
With the same timestamp, if the insert is executed twice, data duplication occurs.

but, We do not have any logic to retry the insert.

[2018-06-29 07:31] slivne commented on #3503
@veramine - I know that tgabriec provided you a version with a fix - can you please confirm that this solved your issue ?

[2018-06-29 09:13] tgrabiec commented on #3558
Probably duplicate of https://github.com/scylladb/scylla/issues/2127

[2018-06-29 09:13] #3558 closed

[2018-06-29 11:39] denesb commented on #3371
Note that #1935 only affects tables that use LCS. Incremental selectors belonging to other compaction strategies simply return all sstables on the first `select()` call.

[2018-06-29 11:41] tgrabiec opened #3560 "Automatic protection against resurrection of deleted data"
All changes of data in Scylla must be represented by commutative objects (mutations) so that writes which go to different replicas, or different sstables on disk, can be eventually reconciled when merged. That applies to data deletions, which are represented by mutations called tombstones.

In order to avoid accumulation of tombstones indefinitely, tombstones expire after a configurable amount of

[2018-06-29 11:42] denesb commented on #1427
Isn't this the same as #1935? If yes shouldn't this be closed as well?

[2018-06-29 11:59] tgrabiec commented on #1745
Refs #3560

[2018-06-29 12:41] VinceMD commented on #2048
How do I select Ec2Snitch for scylla when running it in Kubernetes?

[2018-06-29 14:31] tgrabiec commented on #3557
It seems to be a case of rows resurrected after deletion.

I performed experiments with @jbdalido, and here's what we figured out. For some particular row, we found out using cqlsh queries that some replicas have it (replica A) and some don't (replica B). We also found out that clearing cache an all replicas __does not__ bring the row back on replicas which don't have it. We determined that queryi

[2018-06-29 15:13] glommer commented on #3557
If we physically move the sstables and do nodetool refresh they should
reappear no ?

On Fri, Jun 29, 2018, 4:31 PM Tomasz Grabiec, <notifications@github.com>
wrote:

[2018-06-29 15:36] tgrabiec commented on #3557
@glommer If we wanted to replicate expired tombstones which haven't been compacted away in sstables yet, that would be an option. But it should have been already done by nodetool repair, which is bypassing cache, and not compacting anything.

[2018-06-29 15:39] glommer commented on #3557
But as you said yourself, it wouldn't replicated tombstones already expired. Moving the data physically would bypass this.

[2018-06-29 16:06] tgrabiec commented on #3557
Read on behalf of read-repair compacts, but looking at the code of repair, it uses streaming, which bypasses cache and does not compact. So nodetool repair should send expired tombstones if they're present in sstables.

In our case, we saw that replica B had the tombstone in sstables, because cache was populated with a tombstone after being cleared. So earlier repair should have propagated that to

[2018-06-29 16:07] tgrabiec opened #3561 "Streaming should compact data before sending"
Currently streaming is combining sstable and memtable readers, but doesn't compact. That may result in lots of unnecessary data (deleted, expired) to be sent.

[2018-06-29 16:30] duarten commented on #3560
Another thing to consider is the hinted handoff TTL. A given node C that is not responsible for a partition range PR can nonetheless hold a hint for node R, which is responsible for PR. If data in the hints log could be shadowed by the tombstone that is about to be purged, data could be resurrected.

Batches could also lead to this issue.

[2018-06-29 18:39] tgrabiec commented on #3557
I think the problem is with the `-pr` switch to `nodetool repair`, which is supposed to repair only the primary range of the current node.

It calls `abstract_replication_strategy::get_primary_ranges()` to calculate the ranges:

[code]

It will select all ranges which have the current node as the first node in the list returned by `calculate_natural_endpoints()`. Looking at the implementation of `

[2018-06-30 17:50] topilski commented on #3241
Hi, how can i install scylla on Debian 9 from repo?

[2018-07-01 05:36] nyh commented on #3557
@tgrabiec very good catch!

Is it really wrong that every range will be primary on just one node on **one DC**? Wouldn't a repair of this node involve the entire cluster, not just the DC, unless the user manually restricted it just to this DC?

Cassandra's nodetool documentation contains the following snippet: (https://docs.datastax.com/en/cassandra/3.0/cassandra/tools/toolsRepair.html)

So appare

[2018-07-01 05:49] nyh commented on #3557
Ok, I think I found the bug... We have in repair/repair.cc the following code:

[code]

The "#if 0" code is important, and missing!  What the commented out code means is that repair will check, and fail, if together with "-pr" the data center or the host list is restricted; However, it does allow restricting the repair to the local dc, but in that case calls the special function `get_primary_range

[2018-07-01 05:53] nyh commented on #3557
@jbdalido although I think what I found above (based on @tgrabiec's analysis) is definitely a bug, to confirm that this is the bug that hit you - did you restrict the repair to one data center, with "-dc" or "-local" options?

[2018-07-01 06:54] tzach commented on #3559
Update to the example above (original CREATE does not work)
[code]

[2018-07-01 07:30] tzach commented on #3560
Related https://issues.apache.org/jira/browse/CASSANDRA-6434

[2018-07-01 07:37] gleb-cloudius commented on #3560
On Fri, Jun 29, 2018 at 09:30:12AM -0700, Duarte Nunes wrote:

Both HH and Batches drop data older than gc grace period.

--
			Gleb.

[2018-07-01 08:23] slivne opened #3562 "Add a counter to count large partition warning in compaction"
We have a configuration value ```compaction_large_partition_warning_threshold_mb``` that allows wanring on large partitions durring compaction

sstables/sstables.cc
[code]

Add a counter so it will be easier to detect large partitions warnings

[2018-07-01 09:01] avikivity commented on #3559
List inserts generate new keys each calls (see `uuid1`):

[code]

We can generate a uuid based purely on the timestamp, but then multiple separate inserts with the same timestamp will override each other.

[2018-07-01 09:09] tzach commented on #3559
@avikivity I understand @infordb question as "what element retry caused this duplication?"
The issue itself, as @infordb mentioned, is open for Apache Cassandra as well.

[2018-07-01 09:12] avikivity commented on #3559
Most likely it is the driver (of course, it's not suppose to, but maybe some option like speculative retry is enabled). Scylla itself will not retry in this layer.

[2018-07-01 10:07] roydahan commented on #3235
[scylla-server.log.zip](https://github.com/scylladb/scylla/files/2152708/scylla-server.log.zip)

[2018-07-01 11:29] tzach commented on #2048
@VinceMD take a look at http://docs.scylladb.com/procedures/best_practices_scylla_on_docker/#overriding-scylla-yaml-with-a-master-file
for updating scylla.yaml on Docker

[2018-07-01 13:21] avikivity commented on #2127
You can use `--unsafe-bypass-fsync` on consumer disks for testing purposes, or increase the timeouts for production on consumer disks.

[2018-07-01 13:21] avikivity commented on #3558
You can use `--unsafe-bypass-fsync` on consumer disks for testing purposes.

[2018-07-01 19:13] #3532 closed

[2018-07-01 19:13] #3153 closed

[2018-07-01 23:16] VinceMD commented on #2048
thanks @tzach . Turns out with Kubernetes it was very easy to make a configmap (which is very close to the solution in your link).

I'll have to suggest that to the HELM chart https://github.com/scylladb/scylla-code-samples/tree/master/helm-chart-scylla

[2018-07-02 01:00] infordb commented on #3559
Avi sad " Scylla itself will not retry in this layer."

This means that duplication can happen in later versions too , we do not know the exact cause yet.

I tried to parse sstable using sstabledump.

This says that the insert has occurred twice. ( 2017/12/19 , 2018/05/30)

The problem is that range tombstone does not appear.

as you know , if there are any, and add the new items. The range tombst

[2018-07-02 01:57] asias commented on #1839
@nyh I did not see any special translation of "-st/-et" to "ranges" in the rest api:
[code]

Which code are you referring to?

[2018-07-02 05:56] tzach commented on #2048
Cool. PR are welcome!

[2018-07-02 10:40] nyh commented on #3557
So, so as much as it sounds exactly the same problem, the interaction of -pr and -local fixed in commit 3194ce16b3f1541919e784b11ee01df995eddf00 cannot explain this issue.
@jbdalido did you remember to run the "-pr" repair on all nodes in the cluster, not just all nodes of one data-center? (without "-local", you need to run "-pr" on each and every node in the entire cluster, or you'll miss repairi

[2018-07-02 10:42] jbdalido commented on #3557
@nyh yes the `-pr` was used on every single node on the two data-centers.

[2018-07-02 11:44] nyh commented on #3557
I'm trying to review the code in `network_topology_strategy::calculate_natural_endpoints()` which the "-pr" feature is using. I still haven't found another bug. @jbdalido did you by any chance use the feature of "racks", or just data centers?

[2018-07-02 11:55] nyh commented on #2896
The algorithm we have in `calculate_natural_endpoints()` is hard to understand and uses an excessive number of temporary maps, etc - especially when multiple DCs are involved. In Cassandra 3.2, they rewrote this algorithm to be more efficient, and we can use the same ideas (I don't know if it will be good enough, though). Check out:

https://issues.apache.org/jira/browse/CASSANDRA-10200
https://gi

[2018-07-02 12:16] tgrabiec commented on #3557
@nyh Could it be that it's because we don't call `invalidate_cached_rings()` when a node is added, and `abstract_replication_strategy::get_natural_endpoints()` misses newly added neighbors?

@jbdalido Could it be that there was at least one node, in any DC, which was not restarted since the last time you added a new node to any of the clusters?

[2018-07-02 13:05] elcallio commented on #2896
Good point. Easy enough to implement. I'll send a patch.

[2018-07-02 14:35] jbdalido commented on #3557
@nyh here's an example of rackdc.properties, we're just leveraging the multi-dc, the rack is the same for everyone:
[code]
@tgrabiec yes confirmed all our nodes were upgraded.

[2018-07-02 23:38] duarten opened #3563 "Hints won't be written for failures other than timeouts"
In `storage_proxy::register_response_handler`, we register an `abstract_write_response_handler` together with a timer that expires when the write times out. The callback of that timer ultimately calls `abstract_write_response_handler::on_timeout`, but it is also responsible for potentially storing a hint. A timeout, however, is the only failure for which we will store a hint.

We should have simil

[2018-07-02 23:41] duarten commented on #3560
@gleb-cloudius Consider the case where we decide to send a hint right before it becomes older than the GC grace period, but when the intended replica processes it, it already is. Or consider clock drift, which causes the node with the hint to think it is still not older than the GC grace period.

[2018-07-02 23:59] vladzcloudius commented on #3563
@duarten The current code doesn't seem right indeed. @gleb-cloudius, what do you think? Do we miss something here?

[2018-07-03 07:08] gleb-cloudius commented on #3560
On Mon, Jul 02, 2018 at 04:41:37PM -0700, Duarte Nunes wrote:

Clock drift is not the issue since gc grace period clock is local. The
first issue is. We discussed it with Vlad before he started to write HH
and I proposed to drop hints that are older than gcgp - delta where
delta is sufficiently large to be large that any possible network delay
(lets say 1 hour). Not ideal, but very unlikely to cau

[2018-07-03 08:01] slivne opened #3564 "2.2.0 coredumps on empty partition range scans"
reproduce
[code]

[code]

[code]

[2018-07-03 09:19] gleb-cloudius commented on #3563
The code looks (mostly) correct to me and I confirmed that with
CL=QUORUM if one replica sends failed response while two other succeed
a hint is written.

CL=ANY handling looks wrong since if all replicas will send failed response
the request will fail, but it should fail only if no hints are written.

--
			Gleb.

[2018-07-03 09:22] duarten commented on #3563
@gleb-cloudius Where's the code that triggers the timer or stores a hint when CL is reached and the remaining replicas reply with failure?

[2018-07-03 09:29] gleb-cloudius commented on #3563
On Tue, Jul 03, 2018 at 02:26:39AM -0700, Duarte Nunes wrote:

And that's fine. Request failed. No hints should be stored.

--
			Gleb.

[2018-07-03 09:31] duarten commented on #3563
So, even though we got replies from all replicas, we'll wait until the timer expires to store the hint? This doesn't make sense.

[2018-07-03 09:32] gleb-cloudius commented on #3563
On Tue, Jul 03, 2018 at 02:28:23AM -0700, Duarte Nunes wrote:

It is not wrong. It is suboptimal and can be optimized indeed.
A handler is removed either if CL cannot be reached because of errors,
or all replicas replied with success or timeout was triggered.

--
			Gleb.

[2018-07-03 09:33] denesb commented on #3564
master is affected as too.

[2018-07-03 09:34] duarten commented on #3563
This means that ANY handling is correct also, no?

[2018-07-03 09:37] gleb-cloudius commented on #3563
On Tue, Jul 03, 2018 at 02:31:43AM -0700, Duarte Nunes wrote:

Yes, the case where enough replicas for CL replied with success and rest with
failures (but all of them replied) is not handled optimally exactly for
the hint handing reason. It can be optimized by detecting this case and
run timer immediately, but there is not HH handling problem. It was easy
to test for this too BTW.

--
			Gleb.

[2018-07-03 09:38] gleb-cloudius commented on #3563
On Tue, Jul 03, 2018 at 02:34:22AM -0700, Duarte Nunes wrote:

I do not think so. If all replicas replied with failure we should write
hints, but we do not. Not sure ANY is interesting use case to be honest.

--
			Gleb.

[2018-07-03 09:40] duarten commented on #3563
Well, we leverage it for views: if the single view replica replies with failure, we'll want to store the hint.

[2018-07-03 09:57] gleb-cloudius commented on #3563
On Tue, Jul 03, 2018 at 02:40:46AM -0700, Duarte Nunes wrote:

Good point. I'll fix it. Lest close this one and open another about
CL=ANY.

--
			Gleb.

[2018-07-03 10:04] duarten commented on #3563
I was thinking of retrofitting this one as an enhancement, making it about the optimization. Is that ok?

[2018-07-03 10:06] gleb-cloudius commented on #3563
On Tue, Jul 03, 2018 at 03:04:39AM -0700, Duarte Nunes wrote:

Sure.

--
			Gleb.

[2018-07-03 10:06] duarten commented on #3563
Or better to just close this one and open two new issues.

[2018-07-03 10:06] #3563 closed

[2018-07-03 10:09] duarten opened #3565 "Hints won't be written for CL ANY when all replicas reply with failure"
In `storage_proxy::register_response_handler`, we register an `abstract_write_response_handler` together with a timer that expires when the write times out. The callback of that timer ultimately calls `abstract_write_response_handler::on_timeout`, but it is also responsible for potentially storing a hint.

However, the timer's callback won't be called for that case where most replicas reply with f

[2018-07-03 10:09] duarten commented on #3563
Opened https://github.com/scylladb/scylla/issues/3565

[2018-07-03 10:11] gleb-cloudius commented on #3565
On Tue, Jul 03, 2018 at 03:09:16AM -0700, Duarte Nunes wrote:

Small correction: it will not be called if _all_ replicas reply with
failure.

--
			Gleb.

[2018-07-03 10:20] duarten opened #3566 "Evict `storage_proxy` write response handlers timely for all cases"
An `abstract_write_response_handler` keeps track of write requests a coordinator sent to a set of replicas. It is destroyed when all replicas reply successfully (`storage_proxy::got_response`), when the write fails due to enough replicas replying with failure (`storage_proxy::got_failure_response`), and when the write times out (`storage_proxy::register_response_handler`).

However, if some replic

[2018-07-03 10:20] duarten commented on #3563
And https://github.com/scylladb/scylla/issues/3566

[2018-07-03 10:21] duarten commented on #3565
Right! Otherwise we would have achieved the CL.

[2018-07-03 10:23] gleb-cloudius commented on #3565
On Tue, Jul 03, 2018 at 03:21:56AM -0700, Duarte Nunes wrote:

Or timeout...

--
			Gleb.

[2018-07-03 11:09] tzach opened #3567 "Support for CQL toUnixTimestamp"
*Installation details*
Scylla version (or git commit hash): 2.3

Commit https://github.com/psarna/scylla/commit/602aa5c85906bdb78e2c6a971af6f67b79f65c61 added  time and uuid conversion function, but did not include `toUnixTimestamp`

* `toUnixTimestamp(timeuuid)`  Converts timeuuid to UNIX timestamp format.
* `toUnixTimestamp(timestamp)` Converts timestamp to UNIX timestamp format.
* `toTimestamp(

[2018-07-03 11:10] tzach commented on #3256
added an issue to track `toUnixTimestamp` #3567

[2018-07-03 11:12] tzach commented on #2915
added an issue to track toUnixTimestamp #3567

[2018-07-03 11:15] psarna commented on #3567
Oh but I did :)
[code]
works perfectly fine on current master.

`timestamptounixtimestamp()` from psarna/scylla@602aa5c commit message is exactly `toUnixTimestamp(timestamp)`, maybe it's just unfortunately worded.

[2018-07-03 11:31] tzach commented on #3567
Thanks, @psarna I was testing with 2.1 which does not have it
If its in master I will close this issue.

[2018-07-03 11:31] #3567 closed

[2018-07-03 13:14] #3544 closed

[2018-07-03 13:14] #3545 closed

[2018-07-03 13:14] #3248 closed

[2018-07-03 13:14] #3548 closed

[2018-07-03 13:14] #3564 closed

[2018-07-03 14:11] tgrabiec commented on #3557
I have an alternative explanation for why `repair -pr` may not heal some of the resurrected rows after tombstones become expired, which doesn't involve bugs in repair. Suppose we have three replicas with the following contents:

 - replica A: row insert
 - replica B: row insert, row deletion
 - replica C: nothing (after insert and deletion were compacted)

Let's assume also that replica C is the p

[2018-07-03 14:20] tgrabiec opened #3568 "Populate row cache using compacting sstable reader"
Currently, the sstable reader underlying the cache is not compacting, so cache may be populated with expired or deleted elements, which wastes memory and makes reads slower, until relevant sstables get compacted.

[2018-07-03 15:06] hakuch opened #3569 "QUORUM query during auth. shut-down hangs if the cluster is unavailable"
The auth. sub-system performs some tasks asynchronously in the background during its start-up.

When the `syclla` process is terminated on a node and the sub-system is shut-down, it waits for this background task to conclude or be terminated by the `seastar::abort_source`.

As part of this background task, some `QUORUM` queries are executed to check for the need to migrate legacy auth. metadata an

[2018-07-03 16:41] nyh commented on #3557
@tgrabiec there's something I don't understand in the scenario you're describing:
We're assuming the repair happens *before* the GC period from the deletion, right? (otherwise, we don't need  elaborate scenarios to explain resurrections, we know they may happen).
In that case, the result of compacting together the insertion and deletion will not be "nothing" but rather just a deletion.... And that

[2018-07-03 18:33] tgrabiec commented on #3557
@nyh we know that in this case repair was not run in every GC grace period. We only need to explain why repair doesn't help if we already have expired tombstones

[2018-07-03 19:44] slivne commented on #3557
@tgrabiec - according to your explanation can't this happen also when a regular nodetool repair will be run (as compaction can happen before streaming back the data ?)

[2018-07-03 19:52] nyh commented on #3557
@tgrabiec I dont know why, but I understood previously that repair was run regularly (just with "-pr"), more frequently than GC grace period. If that is not the case then this is the quintessential reason for resurrection of deleted data, and I don't think there's any question why data was resurrected :-( Resurrection will happen not just with "-pr" repair - it can even happen without a repair at

[2018-07-03 21:01] tgrabiec commented on #3557
wt., 3 lip 2018 o 21:45 Shlomi Livne <notifications@github.com> napisał(a):

Yes, if you run it on replica C. But note that repair will be run on all
replicas, so eventually on replica A as well, and then replica A will be
repaired. With -pr, we will only ever repair on replica C.

[2018-07-03 21:17] tgrabiec commented on #3557
wt., 3 lip 2018 o 21:52 nyh <notifications@github.com> napisał(a):

Yes, but we're not answering the question of why resurrection originally
happened here, we knew it happened because of infrequent repair.

The theory that there is something wrong with -pr was raised based on
observation that even though some replicas still know about expired
tombstones, repair doesn't propagate those tombstones t

[2018-07-03 21:17] nyh commented on #3557
But @tgrabiec as I explained in my long comment above, you can't count on this - if replica B did a compaction before the repair, it too would have lost the tombstone and then the repair - even without -pr - would not have un-resurrected the data.

[2018-07-03 21:20] tgrabiec commented on #3557
@nyh I'm not claiming we should count on this.

[2018-07-03 21:24] nyh commented on #3557
@tgrabiec thanks. By the way, since my comment above was long I want to ask again the short question I had there: Should we modify repair code to do its compaction (when reading sstables on the repair slave and when merging mutations on the repair master) without GC? This will not make the resurrection problem disappear, but it will at least make it more consistent (so repairing in different nodes

[2018-07-04 06:18] denesb opened #3570 "query_pager: use query::is_single_partition() to check for singular range"
https://github.com/scylladb/scylla/blob/8c03c1e2cefc872b9042623fc0f2c5d426627be1/service/pager/query_pagers.cc#L87-L91

This check erroneously uses only `dht::partition_range::is_singular()` to check whether the range refers to a single partition. This is incorrect as a singular range doesn't necessarily refers to a single partition. Use the proper way to check for that using `query::is_single_par

[2018-07-04 08:59] tgrabiec commented on #3557
@nyh Currently reading done as part of repair (streaming in general) doesn't compact. I think in general it should for efficiency (see https://github.com/scylladb/scylla/issues/3561). When we change it do the compaction, I think it'd be worthwhile to have a switch in repair which will disable it, to facilitate recovery from cases like this.

The second idea, to disable GC around repair, could also

[2018-07-04 09:51] tgrabiec opened #3571 "Mutation printer should show cell contents"
Scylla version (or git commit hash): 2.3

Since commit a040d37cd5b2a82a8d789cfe4571b1f138f9205e, loggers which print mutations will output a memory address instead of cell contents. This may make debugging production issues harder. This also makes debugging test failures harder, due to less info, and because the `tests/mutation_diff` script will pick up differences in memory addresses of the cells

[2018-07-04 10:44] glommer opened #3572 "nodetool listsnapshots completely broken"
nodetool listsnapshots is not working at all, and is particularly broken with la files.

The first reason is easy: we are moving the snapshot directory name before we use it.

But even if we fix that, it still doesn't work for la files.

The reason is that we validate if the file is really an SSTable - which is a good thing, but
the la regex says this:

[code]

But the snapshot paths have a snapsh

[2018-07-04 11:46] psarna opened #3573 "Support CONTAINS restrictions in ALLOW FILTERING"
Currently ALLOW FILTERING does not implement CONTAINS restriction on collections, so it should be implemented with accompanying tests.

Refs #2025

[2018-07-04 11:46] psarna opened #3574 "Support multi-column restrictions in ALLOW FILTERING"
Currently `ALLOW FILTERING` does not implement multi-column restrictions, so it should be implemented with accompanying tests.

Note that multi-column EQ can be trivially split into a set of single column restrictions, but it's not so with IN and other restrictions.

Also note, that multi-column restrictions that include parts of primary keys or static row **and** regular columns should be handled

[2018-07-04 11:47] psarna opened #3575 "Add ALLOW FILTERING metrics"
`ALLOW FILTERING` usually has a huge impact on performance. Metrics should be provided so any `ALLOW FILTERING`-related bottlenecks can be identified, profiled and avoided.

[2018-07-04 14:46] tgrabiec commented on #3289
Fixed by 62d0639

[2018-07-04 14:46] #3289 closed

[2018-07-04 14:51] tgrabiec commented on #3191
Fixed by a7c4d407cea1a5e2ebad35dccaa8bddd709ed07b

[2018-07-04 14:51] #3191 closed

[2018-07-04 14:55] tgrabiec commented on #2578
Further improved by f3da043.

What's left is making merging of range tombstones preemtable.

[2018-07-04 14:58] avikivity commented on #2578
While I'm sure you haven't forgotten, moving range tombstones into the same structure as other fragments will make the problem go away.

[2018-07-04 15:06] tgrabiec commented on #2578
I haven't forgotten.

[2018-07-04 15:52] raphaelsc opened #3576 "Cleanup can block regular compaction for leveled strategy"
*Installation details*
Scylla version (or git commit hash): 59a30f0684701ba67e61292152787a5b3be49eca
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

Leveled strategy doesn't support parallel compaction because invariant can break if it's allowed. Cleanup may be a time consuming operation, and so it can block regular compaction for a considerable amount of timem, increasing compaction backlog to th

[2018-07-04 16:39] #3534 closed

[2018-07-04 22:37] veramine commented on #3503
@slivne - We have been testing the tgrabiec provided fix and have not hit the issue since.

[2018-07-05 03:51] syuu1228 opened #3577 "ami: build_ami.sh stops at ./scripts/scylla_current_repo"
It stops ./scripts/scylla_current_repo --target, since we dropped $TARGET, argument parser on the script seems looping endlessly.
[code]

[2018-07-05 06:39] syuu1228 opened #3578 "ami: build_ami.sh with --localrpm stops at beginning of scylla_install_ami"
Similar problem to #3577, scylla_install_ami argument parser is broken since we dropped Ubuntu support, --localrpm option breaks AMI build:
[code]

[2018-07-05 06:47] #3578 closed

[2018-07-05 07:10] #3577 closed

[2018-07-05 10:41] #2025 closed

[2018-07-05 13:43] syuu1228 opened #3579 "ami: --localrpm ignored when both --localrpm and --repo is specified"
Seems like scylla_install_ami bug, we need to install locally built rpm and fetch 3rdparties from specified .repo in this case.

[2018-07-05 14:13] vladzcloudius opened #3580 "CQL Traces: set gc_grace_period to 0 for system_traces tables"
CQL traces are only written once and never overwritten therefore there is not point in keeping the tombstones for these tables.

[2018-07-05 14:51] tgrabiec opened #3581 "Ignore fully expired sstables on read"
Sstable compaction has an optimization which ignores whole sstables which are expired and irrelevant (see commit e9076f3). Sstable reads should have such optimization as well.

Refs https://github.com/scylladb/scylla/issues/3568

[2018-07-06 03:08] infordb opened #3582 "Failed at step CAPABILITIES spawning"
we have installed scylladb 2.1
but , scylladb failed to start
could you check this log.
Is it related to systemd version ?

###log
Failed at step CAPABILITIES spawning /usr/bin/scylla: Invalid argument
scylla-server.service: main process exited, code=exited, status=218/CAPABILITIES
ExecStart=/usr/bin/scylla $SCYLLA_ARGS $SEASTAR_IO $DEV_MODE $CPUSET (code=exited, status=218/CAPABILITIES)

### syst

[2018-07-06 05:58] infordb commented on #3582
Scylla is started when commenting as below.
/etc/systemd/system/multi-user.target.wants/scylla-server.service
#AmbientCapabilities=CAP_SYS_NICE

[2018-07-06 06:51] denesb commented on #3570
8084ce3a8 fixes this (just didn't have the "Fixes: " line in the commitlog) so closing this.

[2018-07-06 09:37] tgrabiec opened #3583 "Cache may end up with too broad clustering range continuity on OOM when merging versions with large keys"
*Installation details*
Scylla version (or git commit hash): 2.2.rc1+ (9893e8e5f7b3080b6ded64edc038981ff7c5acc4)

When clustering keys are larger than 12.8 KiB they may get fragmented and key comparator will need to linearize them on comparison. This may cause lookups in the rows tree to fail with `bad_alloc`. Partition version merging (`mutation_partition::apply_monotonically()`) was not taking th

[2018-07-06 11:09] #3575 closed

[2018-07-06 14:33] glommer opened #3584 "ec2 check fails in non-AMI environments"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 2.1
Cluster size: N/A
OS (RHEL/Cen

[2018-07-06 14:36] glommer commented on #2951
I just opened:

https://github.com/scylladb/scylla/issues/3584

On Fri, Jul 6, 2018 at 10:27 AM, Moreno Garcia e Silva <
notifications@github.com> wrote:

[2018-07-06 15:43] tgrabiec opened #3585 "cache and memtable may leak entries and later crash if bad_alloc is thrown by key comparator when inserting"
`boost::intrusive::set::insert(iterator, reference)`, used for inserting entries, may throw, contrary to its doc, if the comparator throws. The comparator may throw if keys are larger than 12.8 KiB and thus fragmented and their linearization fails on memory allocation.

Many places which allocate an entry and then insert it assumed that insert doesn't throw, and may leak allocated entries. We shou

[2018-07-06 16:14] veramine opened #3586 "Materialized views are applying too large updates"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):  2.2.0-0.20180704.faf10fe
Cluster

[2018-07-06 16:29] veramine commented on #3586
This is a super small sample set but it's also interesting to see that each update increases in size by 74 byes every time.

18348796 -> 18348870 -> 18348944...
20105557 -> 20105631 -> 20105705...

It makes me wonder whether our app is inserting into or update a row in a base table with a small change (74 bytes maybe?) every minute but then to write teh view update it is applying a MUCH larger cha

[2018-07-06 16:34] duarten commented on #3586
You can turn on logging (debug-level `database` logger) to at least figure out the tables involved.

This could be happening if you're adding an element to a collection that we then have to read in full to add a MV row. Does anything like this ring any bells?

[2018-07-06 16:37] duarten commented on #3586
Another thing is range deletions, which can cause a lot of views rows to be calculated. Since there's a single node, they would all be bundled in a single mutation.

[2018-07-06 16:54] veramine commented on #3586
Yes, we absolutely do add elements to a collection that could grow pretty big and could be on a timed interval.  But we try not to include those collection types in the view definitions.  Could we hit this condition for a view update when the collection type is not part of the view definition?

[2018-07-06 16:56] duarten commented on #3586
I don't think so, no.

[2018-07-06 16:56] veramine commented on #3586
Okay I will keep looking.

[2018-07-06 17:08] syuu1228 opened #3587 "scylla_bootparam_setup: escaped double quote may add on GRUB_CMDLINE_LINUX"
When a parameter of GRUB_CMDLINE_LINUX on /etc/default/grub using double quote like GRUB_CMDLINE_LINUX="rhgb quiet", scylla_bootparam_setup escapes double quote and add parameters on the end, like this:
[code]

[2018-07-06 21:40] argenet opened #3588 "Provide uninstallation script for Scylla built from source"
Scylla version (or git commit hash): `master`
OS (RHEL/CentOS/Ubuntu/AWS AMI): any

Currently, Scylla provides an `install.sh` script that conveniently places Scylla files to the dedicated directories upon a build completion.
The problem is that if a user wants later to uninstall Scylla and remove those Scylla-specific files from his system, he won't be able to do so except for doing all the clean

[2018-07-07 14:54] avikivity commented on #3582
Ambient capabilities support was added to the kernel in version 3.10.0-408.el7. If you update to a newer version, it will work.

[2018-07-08 01:33] infordb commented on #3582
@avikivity
The scylla 2.1 worked well in 3.10.0-327.el7.
Since upgrading the systemd version from 219-19 to 219-42, it does not work properly,
is it relevant to the systemd version?
We are in a difficult situation to upgrade the kernel version.
And we have used scylla 2.1 in the 3.10.0-327.el7 version.

[2018-07-08 06:10] avikivity commented on #3582
@infordb I strongly recommend to upgrade the kernel. New kernels have fixes for bugs and security vulnerabilities.

In case that's not possible, you can drop a file called `/etc/systemd/system/scylla-server.service.d/capabilities.conf` with the contents:

[code]

and it may fix the problem. You can also downgrade systemd.

[2018-07-08 06:31] tzach commented on #3584
@glommer what instance type?

[2018-07-08 06:33] avikivity commented on #3582
Duplicate of #3486, closing. If the workaround doesn't work for you, please continue the conversation there.

[2018-07-08 06:33] #3582 closed

[2018-07-08 06:53] infordb commented on #3582
@avikivity Thank you for a reply.
What problems can workaround that you said have ?
since scylla 2.2, Is using 3.10.0-408 or a higher version of the kernel a prerequisite ?

[2018-07-08 06:59] avikivity commented on #3582
@infordb without AmbientCapabilities support, you will have higher latency spikes.

It is not mandatory to use a new kernel, just a strong recommendation. You can apply the workaround if you wish to remain on an old kernel.

[2018-07-08 07:15] nyh commented on #3580
Good context to this issue is https://www.ultrabug.fr/a-botspot-story/, section titled "NOTE":

@tgrabiec this is not exactly a "performance" issue as the user reported that traces are unusable (queries time out) without a fix.

I agree that zero gc_grade_period=0 is safe here. The reason why usually we cannot remove expired data immediately and need to convert it to a tombstone (whose timestamp i

[2018-07-08 08:40] #3587 closed

[2018-07-08 10:22] tzach commented on #3478
@veramine closing it till we have more info. Please reopen if and once you reproduce. Thanks!

[2018-07-08 10:22] #3478 closed

[2018-07-08 10:30] tzach commented on #3586
@duarten could it be that once https://github.com/scylladb/scylla/issues/3362 is fixed, update to collect will impact the MV?

[2018-07-08 10:35] duarten commented on #3586
@tzach Yes, #3362 will impact multi-cell collections. I think we still need to address that somehow.

[2018-07-08 10:38] tzach commented on #3580
How will this change effect Scylla upgrade?

[2018-07-08 10:44] tzach commented on #3572
Related to the change in sstable file format to Apache Cassandra 2.2 (`la`)

[2018-07-08 10:51] tzach commented on #3566
@duarten what will happen for system table, which does not have timeouts?

[2018-07-08 10:55] duarten commented on #3566
System tables are local, so this doesn't apply.

[2018-07-08 11:20] slivne commented on #3566
there are also some cluster wide keyspaces+tables

system_distributed that you added for mvs
system_auth
system_traces

On Sun, Jul 8, 2018 at 1:55 PM, Duarte Nunes <notifications@github.com>
wrote:

[2018-07-08 11:36] duarten commented on #3566
Yes, but those have timeouts (I hope).

[2018-07-08 12:06] slivne commented on #3566
On Sun, Jul 8, 2018 at 2:36 PM, Duarte Nunes <notifications@github.com>
wrote:

Nope even they have an "infinite timoeut"

git grep infinite_timeout_config

[2018-07-08 12:13] gleb-cloudius commented on #3566
On Sun, Jul 08, 2018 at 05:06:22AM -0700, Shlomi Livne wrote:

If they have it for writes this is bug. Write can hang if there is a race
between checking that node is alive and sending request to it and
node been killed (and thus never reply).

--
			Gleb.

[2018-07-08 12:15] duarten commented on #3566
How can it not fail to send a mutation request to a dead node? Isn't the connection killed?

[2018-07-08 12:17] avikivity commented on #3566
It will send the request, but a reply won't be received. We need to change the write response handlers to also listen to node death notifications.

[2018-07-08 12:17] gleb-cloudius commented on #3566
On Sun, Jul 08, 2018 at 05:15:44AM -0700, Duarte Nunes wrote:

Mutation is send and then, before node sends reply, the node is killed.

--
			Gleb.

[2018-07-08 12:18] nyh commented on #3586
I'm still trying to understand what this issue is about, but I wanted to point out that I saw this kind of error ("Mutation of 18348796 bytes is too large") while I was working on #3362 and created bugs in the view-update generation code; I created malformed view updates but not particularly large, and got exactly this kind of error which I never could explain (I wish now I debugged this error mes

[2018-07-08 13:35] tzach opened #3589 "nodetool largepartition"
*Installation details*
Scylla version (or git commit hash): 2.3

#3292 added a table to capture large partitions in Scylla.
It would be useful to have a nodetool command and a REST API to expose this info to teh end user.

This is similar to `nodetool toppartitions` which expose the top active (not large) partitions

[2018-07-08 13:38] glommer commented on #3589
We already export that on cql.

Why would REST be better ?

[2018-07-08 14:12] gleb-cloudius opened #3590 "Read request will not be completed earlier if it cannot reach CL because of rpc client disconnecting"
*Installation details*
Scylla version (or git commit hash): a45c3aa8c73a2a57df43d7f685f50f0e94e3ce31

[2018-07-09 01:13] infordb commented on #3582
@avikivity
This file does not exist on our system. The scylla-server.service.d directory also does not exist.
/etc/systemd/system/scylla-server.service.d/capabilities.conf

Can I delete AmbientCapabilities lines from this file?
/usr/lib/systemd/system/scylla-server.service

[Service]
#AmbientCapabilities=CAP_SYS_NICE

[2018-07-09 07:33] asias opened #3591 "Switch scylla streaming from rpc verb to rpc streaming interface"
The new rpc streaming interface is merged in seastar recently. It is better for scylla streaming to use the new rpc streaming interface than the rpc verb interface. It is supposed to have better performance.

[2018-07-09 07:47] tzach commented on #2811
@amnonh ping

[2018-07-09 08:12] amoskong commented on #3241
Debian9 isn't officially supported, there is not repo for Debian9 right now.

@tzach Can you help to confirm this?

[2018-07-09 10:48] #3590 closed

[2018-07-09 11:10] roydahan commented on #3059
@amoskong is retesting with "precreate-schema:false"

[2018-07-09 13:51] vladzcloudius commented on #3580
@tzach Tables are only created when they do not exist. This in line means that old installations will have to be modified using the `ALTER TABLE` CQL command. We already have a script `fix_system_distributed_tables.py` that should be used for adding new columns to `system_traces` tables during the upgrade. The same script may be extended to change the `gc_grace_seconds` value.

[2018-07-09 14:08] nirmaayan opened #3592 "Add Scylla AMI for South America"
Add Scylla AMI for [South America](https://sa-east-1.console.aws.amazon.com/console/home?region=sa-east-1)

[2018-07-09 16:56] avikivity opened #3593 "combined_reader gallop mode"
Inspired by [Timsort](https://en.wikipedia.org/wiki/Timsort).

If a particular input reader contributes a stream of fragments and keeps winning over other readers, we can enter a gallop mode where we assume it will keep winning, and instead of entering the next fragment from that reader into the heap, we can compare it against the min element of the heap and move it to the output directly, avoidin

[2018-07-09 16:56] avikivity commented on #3593
/cc @denesb @tgrabiec

[2018-07-09 17:56] tzach commented on #3580
Thanks @vladzcloudius make sense
Is this script part of Scylla package?
Can it execute automatically as part of the upgrade, or do one need to run it manually?
If the second, we need to update the relevant upgrade procedure.

[2018-07-09 17:56] tzach commented on #3592
@penberg can we add this region to teh release process?

[2018-07-09 21:13] vladzcloudius commented on #3580
@tzach As far as I know - it isn't. Why? - No idea. It is meant to be executed automatically.

[2018-07-10 05:12] tzach commented on #3580
@syuu1228 can you please update us on the fix_system_distributed_tables.py status?
Is it part of the package, does it run it automatically on an upgrade?

[2018-07-10 05:54] syuu1228 commented on #3580
On Tue, Jul 10, 2018 at 2:12 PM, Tzach Livyatan <notifications@github.com>
wrote:

It isn't part of the package, and it doesn't called on upgrade.
Adding it to package is probably easy if it works
with python2-cassandra-driver on CentOS7,
but is it really possible to run automatically on upgrade?
Seems like the script has --user / --password option, what should we
specify for these parameters when

[2018-07-10 08:45] denesb commented on #3593
When there is a single reader producing fragments for the current
partition (LCS case mentioned) we already won't have any other fragments
to compare the produced fragments to until the next partition is reached.

In the case of disjoint clustering ranges we can fast-track the fragment
into `_current` in `prepare_next()` to avoid the heapifying like you
mentioned. Note that this will add an extra

[2018-07-10 08:49] avikivity commented on #3593
For LCS, the problem still happens with partition_start fragments. Usually the higher level will supply 10 fragments for every fragment from the lower level. However, heapify for 2 readers is just a single compare, so nothing is saved.

For clustering keys, we can do the compare vs. _current conditional on gallop mode. Enter gallop mode if we see a reader contributing 3 fragments consecutively, ex

[2018-07-10 09:03] gleb-cloudius commented on #3461
It looks like this one is different from #3457 after all and it still happening

[2018-07-10 09:08] denesb commented on #3593
On 2018-07-10 11:50, Avi Kivity wrote:

partition_start fragments are never kept in the `_fragment_heap`. They
are in a separate heap (`_reader_heap`) that is checked only when the
current partition runs out.

Yes, by keeping a separate `_in_gallop_mode` boolean we can alleviate
the need for the extra check when we are not in gallop mode.
I think this should be fairly easy to add.

[2018-07-10 09:30] anilyadav commented on #3229
It seems totally weird , We upgraded a 6 Node scyllaDB cluster  to 2.1.6 (from Version 2.0.4). 4 nodes are working fine 2 node giving above error. We tried adding new nodes of 2.1.6, Still same issue.

[2018-07-10 09:54] gleb-cloudius commented on #3229
What "nodetool status" says on working and non working nodes?

--
			Gleb.

[2018-07-10 09:56] anilyadav commented on #3229
@gleb-cloudius  `nodetool status` says node are working While Application is facing issue and we can see above error in Error Log

[2018-07-10 10:01] gleb-cloudius commented on #3229
Can you provide the output? Do IPs there look correct? What is your
snitch configuration?

--
			Gleb.

[2018-07-10 10:29] anilyadav commented on #3229
We can also see below random IP's in Error log

[code]
IP's are correct and Snitch is `Ec2Snitch`

[2018-07-10 10:33] gleb-cloudius commented on #3229
Yes, looks exactly like the original bug.

What is the output of: "SELECT peer,preferred_ip,rpc_address from system.peers;"

Do you have one DC or more?

--
			Gleb.

[2018-07-10 10:35] syuu1228 commented on #3584
Okay will fix.. it seems problem occurs both on shellscript implementation and current python3 implementation.

[2018-07-10 10:40] anilyadav commented on #3229
We have only 1 DC(AWS) but we are using multizone setup. Output of ` SELECT peer,preferred_ip,rpc_address from system.peers;` . IP's are same which we are using in cluster.

[2018-07-10 10:43] anilyadav commented on #3229
@gleb-cloudius  We are created two rings in Same DC.

[2018-07-10 10:54] gleb-cloudius commented on #3229
On Tue, Jul 10, 2018 at 03:43:33AM -0700, Anil Yadav wrote:

What do you mean by that? Different racks?

--
			Gleb.

[2018-07-10 10:56] gleb-cloudius commented on #3229
On Tue, Jul 10, 2018 at 03:40:09AM -0700, Anil Yadav wrote:

You mean IPs you see there are those you configured? Also is
preferred_ip null or not?

--
			Gleb.

[2018-07-10 11:15] anilyadav commented on #3229
Yes IP's are same.  Yea  preferred_ip  is null

[2018-07-10 11:17] anilyadav commented on #3229
We are running scylla in AWS. AWS  concept of Zones .We are using same.

@gleb-cloudius  Can we connect over Slack?

[2018-07-10 11:34] tzach commented on #3592
There are 18 regions, with ap-northeast-1  and sa-east-1 #563 we will only have 6 regions, which is easier to manage, at least for now

[2018-07-10 12:16] avikivity commented on #3593
are in a separate heap (`_reader_heap`) that is checked only when the
current partition runs out.

Well, the same principle applies. Consider a table with single-row partitions, it will be the reader heap that sees most of the action, and can benefit from the optimization (although it's less important because it's limited to range scans, and because only in LCS will we have a single sstable that d

[2018-07-10 12:20] slivne commented on #3586
@veramine - can you please share the schema of the base tables and its sec indexes and views - we suspect there is a collection that is used somewhere.

[2018-07-10 14:08] vladzcloudius commented on #3580
@syuu1228 cassandra/cassandra?

[2018-07-10 16:17] nyh opened #3594 "Materialized view update may not need to copy pre-existing columns"
When a base update only modifies regular columns of the view (not its primary key), we don't need to create a completely new row in the view from scratch - because such a row already exists - it is enough to send an update to the existing view row, with just the updated columns.

The optimization is small when the view has just a few columns, but it can be large and the most extreme case is a coll

[2018-07-10 16:41] duarten commented on #3594
I don't think we can avoid the read-before-write when we still need the base cells to calculate the virtual view cells, but maybe we don't need to read the unselected column's values, but just the metadata. This would be a separate optimization though.

For this case, the only thing we can do is indeed to try to include just the changed columns. Note however that this mostly optimizes multi-cell c

[2018-07-10 16:51] nyh commented on #3594
@duarten if we assume the base and view are consistent, in the discussed situation (the update only updated regular columns) the existing view row already includes all the correct virtual cells for the *non-updated* cells. There is no reason to build the same virtual cells yet again. Only the cells actually updated need to be written again (perhaps as virtual cells). And the only thing we need to

[2018-07-10 18:16] veramine commented on #3586
Sure, I've attached it here: [schema.txt](https://github.com/scylladb/scylla/files/2181288/schema.txt)

Last week in response to Duarte's suggestion I scrubbed through every collection type column that we use and tried to find one that would match the set of characteristics to trigger this issue.  I think that I was able to rule out every single one of them for various reasons.  I've included teh

[2018-07-10 18:48] duarten commented on #3586
Weren't you able to enable debug logs? That would give us the table for which the issue is happening right away.

[2018-07-10 18:52] veramine commented on #3586
I did enable debug logs by adding --logger-log-level database=debug to the /etc/sysconfig/scylla-server SCYLLA_ARGS line and restarted scylla-server but I didn't see anything different in journalctl -u scylla-server from that particular message so I switched it back and restarted again.  I can try again.  This was on CentOS 7.

[2018-07-10 19:03] duarten commented on #3586
Oh, dang. You can try `--logger-log-level database=trace`, or use normal query tracing.

[2018-07-11 06:48] tzach opened #3595 "Decommission node fails with LZ4 uncompression failure"
*Installation details*
Installation details
Scylla version (or git commit hash): Scylla version 2.1.0 community edition
Cluster size: 12 (6 per DC)

Hardware details (for performance issues)
OS Ubuntu 16.04
Platform VM
Hardware: 4 cores, 32G RAM
Disks: (SSD/HDD) - 1TB
Problem: Decommission node fails with LZ4 uncompression failure

[2018-07-11 07:12] avikivity commented on #3595
That's too few details for us to have a chance to fix.

[2018-07-11 09:35] amoskong commented on #3422
Hi @asias

`currupt_then_rebuild` were executed twice without background workload.

Two workloads before starting nemesis:
- prepare_write_cmd: cassandra-stress write cl=ALL n=160200300 -schema 'replication(factor=3) compaction(strategy=LeveledCompactionStrategy)' -port jmx=6868 -mode cql3 native -rate threads=1000 -col 'size=FIXED(1024) n=FIXED(1)' -pop seq=1..160200300
- prepare_verify_cmd: cass

[2018-07-11 10:16] #3579 closed

[2018-07-11 10:26] juliayakovlev opened #3596 "Scylla_setup on ubuntu 14 failed with "swapon: unrecognized option '--show=NAME'" error."
*Installation details*
Scylla version (or git commit hash): 2.3
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): ubuntu 14
Scylla_repo_file_url: https://s3.amazonaws.com/downloads.scylladb.com/deb/unstable/ubuntu/f6a2bafae2958622704b2e1ad8bb59bcc438311e-d6c408445e597e8bd531f3d9472e5d95335d9ecb-d20ea1bac351d396c5768f8ecbd001d469b05245/2/scylladb-2.3/scylla.list

Jenkins job: http://jenkins.cloudius-s

[2018-07-11 11:52] syuu1228 commented on #3596
@juliayakovlev it fixed at 1a5a40e5f61273d5e958780c36725319401dd485 but only merged on master, needs to be backported to branch-2.3.

[2018-07-11 11:53] syuu1228 commented on #3596
@juliayakovlev sorry I was wrong, it already merged to branch-2.3 2hrs ago.

[2018-07-11 12:02] juliayakovlev commented on #3596
@syuu1228  Thank you. So I'll re-check in the nightly run
@roydahan

[2018-07-11 23:44] asias commented on #3422
From the log of the rebuild test (160GB), we can see the stream speed is 100 to 200  MiB/s on the sender, it is ~300MiB (3 senders 1 receiver) on the receiver.

In Roy's previous test , the speed is only ~10MiB/s.

[code]

[2018-07-12 08:32] tgrabiec opened #3597 "Sstable reads may issue large allocations to hold index entries"
Sstable index reader reads the whole page of index entries into an `std::vector<index_entry>`. If there is a lot of partitions in the page the vector will require large contiguous blocks of memory. That puts pressure on the memory allocator, and if memory is fragmented, may not be possible to satisfy without a lot of eviction. This may cause reactor stalls. We should switch to a fragmented contain

[2018-07-12 09:55] slivne commented on #1166
@amnonh - is this fixed - I think you sent patches in the past - if it was merged can you reference the commit - if not can you please bring them back ... and lets fix this

[2018-07-12 09:59] #1470 closed

[2018-07-12 10:02] slivne commented on #1657
fixed by 5548eb96f7ee4d9330a5a1dc3a9d6dbd49c54a9d

[2018-07-12 10:03] #1657 closed

[2018-07-12 10:10] slivne commented on #2347
@psarna ping

[2018-07-12 10:15] slivne commented on #2368
for centos we have:  kernel >= 3.10.0-514

for ubuntu/debian - I can't find the limitations

[2018-07-12 10:15] psarna commented on #2347
I'm waiting for sstables 3.x first - these patches would be in collision with 3.x support, so I'll rebase and rewrite them once sstables 3.x are done.

[2018-07-12 10:16] slivne commented on #2409
@pdziepak can we close this ?

[2018-07-12 10:17] slivne commented on #2541
@syuu1228 - debian9 is supported as part of 2.3 - right ?

[2018-07-12 10:24] slivne commented on #2656
we will run a large cluster test on 2.2 - to recheck the status - closing this issue.

[2018-07-12 10:24] #2656 closed

[2018-07-12 10:30] tgrabiec commented on #2683
@slivne I think we still may get stalls if we have lots of small partitions.

[2018-07-12 10:34] slivne commented on #2782
We will rerun the test with 2.2 ... and check he status

[2018-07-12 10:45] pdziepak commented on #2409
Yes. Collections and counters still need to temporarily linearise the value when performing some operations on them, but `atomic_cell_or_collection` stores them fragmented.

[2018-07-12 10:45] #2409 closed

[2018-07-12 11:39] gleb-cloudius commented on #3229
I found some similarities between two cases that hit the bug. Both use
EC2Snitch and have a DC with 6 nodes in three racks. It may be just a
coincidence though. I am running similar topology with write test and
cannot hit the bug, but I am using PropertyFileSnitch. We should retest
with EC2Snitch on AWS.

--
			Gleb.

[2018-07-12 11:40] syuu1228 opened #3598 "Add Ubuntu 18.04 support"
We need to support support latest Ubuntu LTS.
All patches to support Ubuntu 18.04 is already merged, need to have official release for the distribution.

[2018-07-12 11:43] syuu1228 commented on #2541
@slivne It should supported on 2.3, but I just found we don't have jenkins job for branch-2.3 - Debian 9.
All patches to support Debian 9 is already merged long time ago, and jenkins job for master branch is running finely, so I think we just need to have 2.3 one.

Also, we need to release binary for Ubuntu 18.04 (#3598).

[2018-07-12 12:48] lauranovich opened #3599 "Improvement: Our 404 page needs an overhaul"
Our 404 error page on our website needs a bit of fine tuning.

1. the colors are not corporate colors.
2. the movement may be problematic.

I like the idea of the humor, and what we can do is play up the Scylla - Charybdis connection and that the user "steered off course" and headed towards Charybdis (the cyclone) and should steer back towards Scylla immediately! by clicking a link which says - ge

[2018-07-12 12:59] nyh commented on #3599
@lauranovich which "movement" is problematic? For me the 404 page, e.g., https://www.scylladb.com/zzz, I don't see any sort of movement or animation.
I actually like the current "ate the page" graphic, maybe just the text could be improved.
 For example,
"Cannot find the page you asked for, maybe the Scylla Monster ate it?
 Try to find what you're looking for in Scylla's homepage"

If we can provi

[2018-07-12 15:25] tzach commented on #3599
@lauranovich please open this on the doc project.
@nyh checkout http://docs.scylladb.com/zzz

[2018-07-12 15:25] #3599 closed

[2018-07-12 15:58] syuu1228 commented on #3547
Looks like I wrote wrong title when I created issue, it's causes on 2.2 AMI instead of master AMI.
Also verified on 'ScyllaDB 2.2.0 (ami-3ceac343)'.

[2018-07-12 16:04] syuu1228 commented on #3547
Add note: very likely happens on 2.3 and master AMI too, since we have same logic on scylla_ami_setup.

[2018-07-12 16:18] tgrabiec commented on #3597
Referenced-by: b17f7257a914b71b401b06f241f5a9894e27c5d1

[2018-07-12 16:18] #3597 closed

[2018-07-12 17:10] nyh commented on #3599
@tzach why should www.scylladb.com and docs.scylladb.com have a different 404 page designed? Looks to me like duplicated effort. The www.scylladb.com version is better, in my opinion, although I would improve the text as suggested above. And of course the docs.scylladb.com. Each 404 page can link to "/" so each one would point to the top page in the appropriate domain.

[2018-07-12 17:30] #3584 closed

[2018-07-13 07:45] johnyannj opened #3600 "why so many sstables in low level"
Version 2.1.4

CREATE TABLE sds.t_tableinfo (
    appid int,
    tablename text,
    createtime timestamp,
    fields text,
    frozen boolean,
    grantedapps map<int, text>,
    indexes text,
    indextype text,
    isautosync boolean,
    isdelete boolean,
    modifytime timestamp,
    options map<text, text>,
    primarykey list<text>,
    quota int,
    tabletype text,
    useraccessmode text

[2018-07-13 15:53] pdziepak opened #3601 "Counter operations need to linearise value"
Scylla fragments cell values in order to avoid large allocations. However, if their consumers (or producers) don't support reading fragmented buffers the value needs to be linearised.

Counters are example of such case. `basic_counter_cell_view` requires counter value to be in a single contiguous buffer. This should be changed.

Counter shards are 32 byte long and it is reasonable to assume that t

[2018-07-13 16:00] pdziepak opened #3602 "Collection operations are inefficient"
Scylla fragments cell values in order to avoid large allocations. However, if their consumers (or producers) don't support reading fragmented buffers the value needs to be linearised.

Collections are one of such bad cases. They use custom serialisation format and most of the operations follow this pattern (simplified):
1. Deserialise a contiguous collection value into a `std::vector` of atomic ce

[2018-07-13 16:01] pdziepak commented on #2409
I've opened #3601 for counters and #3602 for collections.

[2018-07-14 12:51] horschi commented on #3004
The Scylla homepage is not offering any 18.04 downloads yet. Will there be a Ubuntu 18.04 download?

[2018-07-14 18:29] keef-cognitiv commented on #1498
fwiw I see the same thing on 2.1.6 - not just under high load but specifically sustained high write-heavy load for many hours.
![screencapture-10-1-2-214-d-b-jn-mdik-scylla-per-server-metrics-2-0-2018-07-14-11_27_50](https://user-images.githubusercontent.com/34460527/42727302-13f563b4-8759-11e8-937b-d2202e4dab24.png)
It started where the write errors spiked, then I restarted the server... that see

[2018-07-15 06:48] slivne commented on #3580
I assigned this to @rafie

Rafi can do the packaging etc, if we decide togo down this path.

@vladzcloudius - we should not assume cassandra/cassandra for the script

So I do not see an alternative but to have the user run this script - or have scylla code do the change on its own (and remove the script all together - I expect we had a discussion about that and fell back to the script - but raisin

[2018-07-15 07:29] tzach commented on #3004
Yes, 18.04 packages will be available with the upcoming Scylla 2.3

[2018-07-15 07:43] gleb-cloudius commented on #1498
@keef-cognitiv can you show disk I/O dashboard around the same time? How many CPUs and memory each node has? What CL are you using for writing?

[2018-07-15 08:06] gleb-cloudius commented on #1498
Also can you look at yelow's node (the one you restarted) cpu utilization per shard?

[2018-07-15 08:18] horschi commented on #3004
https://github.com/scylladb/scylla/issues/3598

[2018-07-15 11:07] #3591 closed

[2018-07-15 12:15] #3572 closed

[2018-07-15 12:34] nyh commented on #1431
For the question of what "major compaciton" does on LCS in Cassandra today, see https://issues.apache.org/jira/browse/CASSANDRA-7272. and their plan to improve it: https://issues.apache.org/jira/browse/CASSANDRA-11817

[2018-07-15 12:38] nyh commented on #3600
The question of what "nodetool compact" does, or supposed to do, with leveled compaction, is a separate issue, a known issue: see issue #1431 and the more specific issue #3354.

@raphaelsc can we fix what you called "bad reporting"? Who (which code) prints the "285/10" number? If there are 28 shards, could we print "285/280" instead of "285/10"?

[2018-07-15 13:47] raphaelsc commented on #3600
On Fri, Jul 13, 2018 at 10:27 PM, zhaoyan <notifications@github.com> wrote:

it correlates to each cpu assigned to a scylla instance. All cpus are used
by default, so you could just tell me the amount of cpus in your node.

that's --smp parameter of scylla program.

nodetool compact is about merging all sstable into one, and shouldn't be
used for this purpose. We need to improve its heuristic thou

[2018-07-15 13:51] raphaelsc commented on #3600
On Sun, Jul 15, 2018 at 9:38 AM, nyh <notifications@github.com> wrote:

Multiplying limit by number of shards isn't optimal either, because we can
have for example bad distribution among shards after an import for example.
The correct approach would be to report sstable per level per shard, but it
would be harder for regular user to parse. So perhaps what you suggest is
our best choice because of

[2018-07-15 17:39] keef-cognitiv commented on #1498
![screencapture-10-1-2-214-d-mpjhamvmk-scylla-per-server-disk-i-o-2-0-2018-07-15-10_18_18](https://user-images.githubusercontent.com/34460527/42736264-88f1ceea-8818-11e8-95a2-cc67bd82c215.png)

![screencapture-10-1-2-214-d-mpjhamvmk-scylla-per-server-disk-i-o-2-0-2018-07-15-10_38_40](https://user-images.githubusercontent.com/34460527/42736411-4f79d1be-881b-11e8-90b4-acbece3bb46f.png)

[2018-07-15 17:43] nyh commented on #3600
@raphaelsc to be honest, I'm not even sure what is the goal of this printout. If it's just "to show something sensible in nodetool cfstats because Cassandra does it" then 285/280 may make sense (more than printing the scary-looking "285/10"). If the goal is to help the user determine when something *bad* is happening, we could report only the bad situation, e.g., "WARNING: leveled compaction strat

[2018-07-15 17:57] keef-cognitiv commented on #1498
Oh sorry... the CL was LOCAL_ONE... But there's only one DC/Rack so the LOCAL is just for good measure

[2018-07-15 18:01] keef-cognitiv commented on #1498
And then that same server is getting:
``` [shard 17] seastar_memory - oversized allocation: 1335296 bytes, please report: at   0x556629#012  0x5571c0#012  0x558b34#012  0x558b74#012  0xdbedf6#012  0xd89e62#012  0xdc40ec#012  0xd867d6#012  0xd8a0d2#012  0xdab806#012  0x49f51a#012  0x49f7fc#012  0x4ee6a4#012  0x4f3a4e#012  0x5557fd#012  /lib/x86_64-linux-gnu/libpthread.so.0+0x76b9#012  /lib/x86_64-l

[2018-07-15 18:12] psarna commented on #3539
Right now, with `ALLOW FILTERING` implemented, the example code from issue description will return
[code]
, because the query wants to use **both** index and partition key and in this case filtering needs to be applied.
However, with `ALLOW FILTERING` appended, both queries that used to return wrong results are now returning exactly what they should:
[code]

So, it looks like this issue is solved

[2018-07-15 18:14] duarten commented on #3539
Nice. We have issues to track the missing work, right?

[2018-07-15 18:14] #3539 closed

[2018-07-15 18:19] psarna commented on #3539
We do: https://github.com/scylladb/scylla/issues/3574, https://github.com/scylladb/scylla/issues/3573 and perhaps some more

[2018-07-16 03:49] johnyannj commented on #3600
data split to many shards( we have 32cpus, so now we have 32 shards)

with the same amount of data.

I think this will cause Scylladb to have more ssatbles than Apache Cassandra.

if We have lot of random reading。

Scylladb will take too much IO than cassandra?

[2018-07-16 03:54] johnyannj commented on #3600
@raphaelsc  @nyh
another question：
After I do "nodetool compact".
Scylladb merging all sstable into one for every shard,  and xxxxx compaction task pending, but there is no compaction task running.

There is also no "nodetool enableautocompaction" command for scylla.

[2018-07-16 05:08] keef-cognitiv commented on #1498
Here's another... this one is a little more obvious as it was using 100% system CPU to do compactions while still getting a bunch of updates.
![screencapture-10-1-2-214-d-mpjhamvmk-scylla-per-server-disk-i-o-2-0-2018-07-15-22_03_46](https://user-images.githubusercontent.com/34460527/42743707-17578c44-887b-11e8-8cd3-1a256e6dfad8.png)

It took a while for the bad_allocs to start under this load but

[2018-07-16 05:38] dorlaor commented on #3600
On Mon, Jul 16, 2018 at 6:49 AM, zhaoyan <notifications@github.com> wrote:

It supposed to be less, not more. It's true we have more sstables but the
data
of those shards isn't linear anyway so it's not that fewer sstables allows
you to read
serially. Usually we manage compaction much better (read some of our blogs
about it)
and thus less sstables per read are required and there is no large
compac

[2018-07-16 05:48] nyh commented on #3600
@johnyannj let's move additional questions to the scylla mailing list (scylladb-dev@googlegroups.com) but as long as you asked here, I'll answer here:
Just like the cliche says, shards aren't a bug - they are a feature :-) On each nodes, Scylla divides the ownership of the partition key space between the different cores, each known as a "shard" and keeps separate sstables for its part. This shardi

[2018-07-16 05:59] asias commented on #2782
@tgrabiec Will you recent patches on memory allocation help std::bad_alloc?

[2018-07-16 06:56] avikivity commented on #1498
@keef-cognitiv do you have large blobs in your data model? what sizes? can you post your schema?

[2018-07-16 07:30] gleb-cloudius commented on #1498
Can you upload entire Prometheus db as described in http://docs.scylladb.com/operating-scylla/troubleshooting/report_scylla_problem/#server-metrics-with-prometheus

[2018-07-16 07:38] slivne commented on #3596
@juliayakovlev ?

[2018-07-16 07:39] slivne commented on #3569
@gleb-cloudius - can we close this ?

[2018-07-16 07:41] slivne opened #3603 "system distributed queries should not use an infinite timeout"
We have changed the system queries to be without timeout.

While this makes total sense for local tables - it is questionable for the case of system distributed tables.

Today we have 3 system keyspaces which are distributed
system_traces
system_auth
system_distributed (that hold the view update tracking)
We have fixed one issues for system_auth - yet there may be others - and since this is not co

[2018-07-16 07:42] slivne commented on #3603
from avi:

system_traces
Here, the timeout doesn't matter because the write is asynchronous and there is no user waiting for it. We can set it to 10 seconds or whatever.

system_auth
These can use the timeouts for the original query, because if we don't have auth by that timeout, the query will fail from the user's point of view.However, these queries also populate a cache, so even though that que

[2018-07-16 07:44] gleb-cloudius commented on #3569
On Mon, Jul 16, 2018 at 12:39:39AM -0700, Shlomi Livne wrote:

We should not run cross node queries with infinity timeout. We can
either reuse this one or open another one. From the bug description it
sound like some queries are writes and if this is the case the may still
hang.

--
			Gleb.

[2018-07-16 07:45] slivne commented on #3549
@syuu1228 - we need to convert this patch to python - it was not merged prior to the conversion

[2018-07-16 07:58] slivne commented on #3452
@duarten
 - unflushed commitlog for which table - the view_building tables or some other table ?
- shouldn't the create view assure that the view_building tables (the initial one data - before the building starts) would be persisted (flushed) before the create view is returned ?
- do we have any gurantee that the view_building table data has been flushed before building starts - I think we should

[2018-07-16 07:59] slivne commented on #3448
@syuu1228 - is this consistently failing - if we try this on gce will it reproduce - it would help if we can get a reproducer env

[2018-07-16 08:00] slivne commented on #3432
@asias / @haaawk is this merged ?

[2018-07-16 08:02] slivne commented on #3428
@harelassayag - does this test use counters ?

[2018-07-16 08:04] slivne commented on #3417
@asias ?

[2018-07-16 08:10] slivne commented on #3372
closing

[2018-07-16 08:10] #3372 closed

[2018-07-16 08:11] slivne commented on #3348
we have removed auto start of collectd since scyllatop does not require collectd anymore

@amoskong  please recheck - if this doe not happen anymore please comment/close

[2018-07-16 08:13] slivne commented on #3337
streaming has changed :) - pushing this to 2.4

[2018-07-16 08:14] slivne commented on #3322
@asias - help

[2018-07-16 08:19] slivne commented on #3302
@juliayakovlev - why *3 ?

I would expect that each old file maybe resplit into 7 pieces - one for each shard

so I endup with 36 * 7 = 252 - which is what you got

[2018-07-16 08:19] juliayakovlev commented on #3596
@slivne  this job wasn't run again.

[2018-07-16 08:20] juliayakovlev commented on #3382
@slivne  I am not familiar with  increment_decrement_counters_in_threads_nodes_restarted_test test. I seems the question not for me

[2018-07-16 08:29] asias commented on #3322
We can generate a uuid as the cluster identifier but it is not easy to make all the nodes to agree on a one.

[2018-07-16 08:30] juliayakovlev commented on #3302
@slivne
I told with Avi and he expects *2 , maximum *3.
If it should be split according to shard numbers (aka SMP?), I can change the test

[2018-07-16 08:34] asias commented on #3322
Since we know the ip of a node and which ip belongs to which cluster. Isn't this enough?

[2018-07-16 08:56] duarten commented on #3452
@slivne The commitlog for the view table.

I don't understand what you mean about the other points. What is "create view is returned"? What's the `view_building` table? Do you mean the bookkeeping tables for the view building process? Why would they be flushed before the build started?

[2018-07-16 09:47] denesb opened #3604 "restricting_mutation_reader: more efficient `fill_buffer()`"
`restricting_mutation_reader` is present in *all* user queries that go to sstables. It's sole purpose is to make sure readers obtain a read permit before they are created. As such it does not do any transformation to the read fragments, yet it moves them along (to the higher layers) one-by-one adding a per-fragment overhead to every read [1].
This per-fragment overhead could be easily alleviated a

[2018-07-16 10:12] tgrabiec commented on #2782
@asias Which patches do you mean?

[2018-07-16 10:37] tgrabiec commented on #2782
@asias There was https://github.com/scylladb/scylla/commit/a4a2f743a831d8175ad6c2702e266d9ebcfa7922, which could fix a bad_alloc if there was a large index page and memory very fragmented.

[2018-07-16 10:41] asias commented on #2782
@roydahan I am working on a patch to reduce continuous memory usage in gossip code.
@roydahan Btw, do you have problem running update_cluster_layout_tests.py::add_50_nodes_test? Or even add_120_nodes_test?

[2018-07-16 12:03] nyh commented on #3043
For future searchers, I want to point out that this was a duplicate of #2462.

[2018-07-16 12:39] denesb opened #3605 "storage_proxy: dirty limits can be used to trim page"
https://github.com/scylladb/scylla/blob/9479ff6b1eee1412e76fe16d2e1280f6151e60af/service/storage_proxy.cc#L3305-L3316
`query_partition_key_range()` (relevant parts linked above) does the final result merging and trimming (if necessary) to make sure we don't send more rows to the client than requested. This merging and trimming is done by a continuation attached to the `query_partition_key_range_co

[2018-07-16 12:41] denesb commented on #3605
The effect is: query prematurely ends, returning only parts of the data. However this bug needs a lot of things together to happen so repeatedly running the same scan will not yield consistent results.

[2018-07-16 13:29] psarna commented on #3206
The naive solution is already implicitly here with `ALLOW FILTERING` implemented. According to the link sometimes it's still needed to append `ALLOW FILTERING` to multi-column queries and that's exactly how it works in Scylla now.

Cassandra differs here if they restrict partition key *and* an indexed column, because their indexes are local. But it still makes sense with our mv-backed indexes to r

[2018-07-16 13:42] slivne commented on #3206
Piotr

Can you clarify

If I create a query on cassandra using an SI and a primary key - will I
need to specify ALLOW FILTERING ?

If the answer is no - then Scylla should probably support that specific
case as well. E.g. allow the query without ALLOW FILTERING

On Mon, Jul 16, 2018 at 4:29 PM, Piotr Sarna <notifications@github.com>
wrote:

[2018-07-16 13:59] psarna commented on #3206
@slivne
Yes, exactly, Cassandra will **not** require appending `ALLOW FILTERING` in this case, because their indexes are local. On the other hand, different types of multi-index queries may require `ALLOW FILTERING` if Cassandra decides that executing the query might affect performance.

So, if we want to be 1:1 compatible with Cassandra with which queries require `ALLOW FILTERING` and which don't

[2018-07-16 16:25] roydahan commented on #2782
@asias, I'm not aware of a problem with add_50_nodes test.
I don't think monster can handle add_120_nodes test...

[2018-07-16 18:41] vladzcloudius opened #3606 "loading_cache: reload()ing requires the lambda to hold on to the "key" value"
*Installation details*
Scylla version (or git commit hash): ee61660b76a40d2657170cd9775c381d8c45ed06

*Description*
loading_cache doesn't ensure that the `key` object stays alive till the end of the `load` callback in any context. Therefore while the caller can ensure that in the context of `get(key, load)` there is nothing (but capturing the `key` value) can be done in the context of `reload`ing.

[2018-07-16 19:10] keef-cognitiv commented on #1498
describe lynx.cuid2iid;

CREATE TABLE lynx.cuid2iid (
    cuid bigint PRIMARY KEY,
    iid set<text>
) WITH bloom_filter_fp_chance = 0.01
    AND caching = {'keys': 'ALL', 'rows_per_partition': 'ALL'}
    AND comment = ''
    AND compaction = {'class': 'SizeTieredCompactionStrategy'}
    AND compression = {'sstable_compression': 'org.apache.cassandra.io.compress.LZ4Compressor'}
    AND crc_check_c

[2018-07-17 02:44] johnyannj commented on #3600
Hi @nyh

I'm sorry to mix the different issues together here.  sorry.

At first I didn't know scylla have "shards",  and  I thought the background compact thread may be stopped。So I try to use "nodetool compact" to wake it up.

In Apache Cassandra， There is no major Compact for a table with leveled compaction strategy, "nodetool comapct" is just to trigger a next normal compact task.

I thought sc

[2018-07-17 06:59] tomer-sandler commented on #2921
Issue reproduced for Open source user (release 2.1.6):
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/scylladb-users/NrMDb-kSSZU/b84ydv1DCAAJ

[2018-07-17 07:10] avikivity commented on #2782
Note that 2.3 is less sensitive to contiguous allocation problems. They can cause latency spikes, but unlikely to cause bad_allocs. Still good to remove.

[2018-07-17 08:20] asias commented on #2782
@roydahan I modified add_50_nodes_test to reduce the cassandra-stress workload, I managed to run the test from 30 nodes to 80 nodes on my build machine (8 cores 16 theads, 64GB ram). I believe we can probably run add_120_nodes test or even more.

[code]

[2018-07-17 08:20] asias commented on #2782
Patches on list:

[PATCH scylla v1 0/3] Reduce continuous memory usage in gossip

[2018-07-17 08:22] psarna commented on #3206
Oh, agreed. So, if full partition key is restricted, it would actually be enough to add this restriction to the index view query and then continue as before, right? I mean instead of `select xxx from index_view where indexed_column = 1`, make it `select xxx from index_view where indexed_column = 1 and base_partition_key = 2`

[2018-07-17 09:10] amoskong commented on #3348
I already removed this check from artifact-test, it's no longer relevant.  Let's close this issue.

[2018-07-17 09:10] #3348 closed

[2018-07-17 09:47] duarten commented on #3206
@psarna Yep. The same if the whole primary key is restricted.

[2018-07-17 09:52] deniszh commented on #2921
Yes, and fixed by the restart of seed nodes.

[2018-07-17 10:10] slivne commented on #2921
@deniszh - can you share the seed nodes logs from the period the node was not able to join - maybe that will help to understand why the node is not able to join

[2018-07-17 12:22] avikivity opened #3607 "system.large_partitions access should be restricted to operator"
The large_partitions table contains partition keys, which are potentially sensitive. They should be restricted to the superuser by default.

(in fact the entire system keyspace should prevent writes by non-superusers).

[2018-07-17 12:32] slivne commented on #3276
@asias we need your help here

[2018-07-17 12:46] avikivity commented on #3461
Ref scylladb/seastar#474.

[2018-07-17 13:15] tgrabiec opened #3608 "Partition scans with no clustering restrictions may incorrectly mark clustering ranges in cache as continuous"
Scylla version (or git commit hash): >= 2.1.0

The problem happens under the following circumstances:
 - we have a partially populated partition in cache, with a gap in the middle
 - a read with no clustering restrictions trying to populate that gap
 - eviction of the entry for the lower bound of the gap concurrent with population

The population may incorrectly mark the range before the gap as co

[2018-07-17 14:29] #3461 closed

[2018-07-17 14:40] raphaelsc commented on #3302
On Mon, Jul 16, 2018 at 5:30 AM, juliayakovlev <notifications@github.com>
wrote:

yes, 252 is expected. Because murmur3_partitioner_ignore_msb_bits 12 is
used, it's likely that all sstables which came from 4 shards now belong to
all 7 shards. Column family with leveled strategy will end up with less
files when resharding (but it also has naturally much more files) but
that's not possible with othe

[2018-07-17 14:54] #3549 closed

[2018-07-17 19:17] #3585 closed

[2018-07-17 19:17] #3583 closed

[2018-07-17 22:16] raphaelsc commented on #3600
On Mon, Jul 16, 2018 at 11:44 PM, zhaoyan <notifications@github.com> wrote:

Actually leveled strategy gained a sort-of major compaction starting from
version 2.2, look at this issue for more details:
https://issues.apache.org/jira/browse/CASSANDRA-7272

So nodetool compaction against a table with leveled strategy isn't really
about triggering a regular compaction job.

[2018-07-17 22:37] glommer commented on #3600
@raphaelsc about reporting, the only sane way to report this in nodetool is reporting how many tables in total should be present in a level. Imbalance is something we should find out through other means.

Also the fact that major compaction is not strategy aware at this point is just a bug. It should be.

[2018-07-17 23:57] raphaelsc commented on #3600
On Tue, Jul 17, 2018 at 7:37 PM, Glauber Costa <notifications@github.com>
wrote:

Agreed.

Yeah, it wasn't treated as such till now, but we definitely should. It's
only tagged as enhancement in https://github.com/scylladb/scylla/issues/1431

[2018-07-18 01:23] asias commented on #2782
Large cluster issue
Refs: https://github.com/scylladb/scylla/issues/3386

[2018-07-18 01:30] asias commented on #2159
In 9c8da2cc5668302ad9fe184087626da1e2285a67 (streaming: Add abort to stream_plan), we added abort support to streaming.

Terminate repair will terminate the underlying stream plan if any.

Other operations like bootstrap/decommission, we can not terminate them with api.

I will close the issue for now.

[2018-07-18 01:30] #2159 closed

[2018-07-18 01:40] asias commented on #2782
@amoskong Can you Refs more large cluster issue here if any?

[2018-07-18 01:59] asias commented on #3417
@amoskong Is this a multiple dc or single dc setup?

[2018-07-18 02:43] jvanz commented on #2905
Finally I found more time to play with this... after some debugging I found out that the problem seems to be when the `boost::program_options` lib try to performs a `lexical_cast` from `std::string` to `seastar::sstring`. I'll try to fix it. Please, assign this issue to me.

[2018-07-18 06:05] asias commented on #3371
Repair starts a stream_plan every 10 * 1024 sub ranges, each sub range contains 100 partitions, so with new streaming, the repair generated sstable contains 10*1024*100 = 1M partitions.

Is this problematic for range scan?

[2018-07-18 06:41] asias commented on #3417
A patch on the maillist `[PATCH scylla v1] gossip: Log seeds seen` which can help to debug the `Unable to contact any seeds` issue.

[2018-07-18 06:47] juliayakovlev commented on #3302
@raphaelsc @slivne
If the SMP is changed from 4 to 2 (for example), I should expect files amount *2?

[2018-07-18 07:14] amoskong commented on #3417
@asias It's single DC.

[2018-07-18 07:36] duarten commented on #3276
Is the description sent to the target node? I don't think it is (it's absent from the IDL), but if I'm wrong, I certainly don't want to do string comparisons. There should be an enum like Cassandra's `StreamOperation`.

Yes, a view update should be triggered per mutation fragment. Anyway, this is a separate discussion.

[2018-07-18 07:45] asias commented on #3276
On Wed, Jul 18, 2018 at 3:36 PM, Duarte Nunes <notifications@github.com>
wrote:

It is sent to the target node. It is sent by the PREPARE_MESSAGE verb. The
description is part of the verb parameter.

if it is per mutation fragment trigger, the best place I can think of is
in distribute_reader_and_consume_on_shards.

Do you need to know if a stream is for repair / non-repair or more details,
e.g.,

[2018-07-18 07:55] duarten commented on #3276
On Wed, Jul 18, 2018 at 8:45 AM Asias He <notifications@github.com> wrote:

Ohh! Good to know, I totally missed that. But still, would be better if it
were some enum. In fact, I don't think there's a good reason to send a
string - both sending and receiving sides could map the enum to a
human-readable message for the logs. This would save us some bytes on the
wire and make the stream reason easier

[2018-07-18 08:07] asias commented on #3276
On Wed, Jul 18, 2018 at 3:55 PM, Duarte Nunes <notifications@github.com>
wrote:

The description contains more info than the type of streaming, it contains
the index of stream plan for a group of stream plans.

This verb is used only once per stream session. It is tiny.

OK. We can add another std::optional parameter to streaming verb to tell
the purpose of the streaming, if we do not want to pars

[2018-07-18 08:12] asias commented on #3371
On Wed, Jul 18, 2018 at 3:24 PM, Tomasz Grabiec <notifications@github.com>
wrote:

I know. 10M partitions per sstable, if the keyspace contains 1B partitions,
repair will generate only 100 sstables. The question is how many sstables
is too many?

On one hand, it is good not to generate a lot of sstables. On the other
hand, the range scan code should be improved not to panic if there are too
many s

[2018-07-18 08:12] duarten commented on #3276
The intention is also to avoid duplication. What is added to the description for the repair case could also be added as separate, discrete arguments. But I'm happy to start with the optional for the stream reason.

[2018-07-18 08:40] tgrabiec commented on #3371
śr., 18 lip 2018 o 10:12 Asias He <notifications@github.com> napisał(a):

100 sstables doesn't seem a lot.

Note that sstables are not generated only at stream plan boundary. They are
generated when the memtable is flushed, based on memory pressure.

In this issue we saw 4084 sstables.

The more sstables there are, the more memory we need for read buffers. It's
linear. Situation gets worse gradual

[2018-07-18 09:01] asias commented on #2679
Fixed by new streaming code.

8ee807321f773fcd8a38724f19789860b4020617

#3591

[2018-07-18 09:02] asias commented on #3371
On Wed, Jul 18, 2018 at 4:40 PM, Tomasz Grabiec <notifications@github.com>
wrote:

Note, with new streaming which is merged recently, we do not write to
sstable any more, the receiver writes to sstable directly. And the sstable
is sealed when the stream plan is done.

New streaming does not have this problem any more.

--
Asias

[2018-07-18 09:29] syuu1228 commented on #3556
@amoskong Unless we disable it on scylla_prepare script we have to exit with 1, otherwise systemd tries to continue launching /usr/bin/scylla. We may able to 'systemctl disable scylla-server.service' in scylla_ami_setup, but I'm not sure it's effective since systemd is already started launching services on that timing.

[2018-07-18 09:34] #3608 closed

[2018-07-18 11:04] #2679 closed

[2018-07-18 11:35] nirmaayan commented on #3219
@penberg ping

[2018-07-18 12:33] hakuch commented on #3569
The behavior that I observed when I wrote this issue is resolved with ac27d1c93b06bd6de860c870c4e79401db322b5a.

Therefore, I believe this issue can be closed.

I'm working on #3603 to address the infinite-timeout issue, @gleb-cloudius. I would appreciate it if you would elaborate (probably on the page for that issue) on why infinite time-outs are a problem.

[2018-07-18 12:34] #3569 closed

[2018-07-18 21:18] dalu opened #3609 "build failing on archlinux"
- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 2.2.0-240b9f1
Cluster size: 0
OS (RHEL/CentOS/Ubuntu/AWS AMI): Archlinux

[code]

This is on 2 different machines. one is a laptop i7-4780HQ, 16GB RAM. One a xeon e3-1275v5, 64gb RAM.

Might be an archlinux only issue, the Gentoo build works.
Bu

[2018-07-18 21:38] dalu commented on #3609
Gentoo version is 2.1.5 so it might not be the archlinux build.
Anyway I uninstalled because I really don't have time to play tester for yet another buggy product with bad OSS license.

[2018-07-18 21:38] #3609 closed

[2018-07-19 06:39] asias opened #3610 "commitlog can not be stopped in shutdown in scylla 2.2.0 ami"
*Installation details*
Scylla version (or git commit hash): 2.2.0 us-east-1 ami-3ceac343
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

I tried to use use scylla Scylla 2.2.0 AMI in scylla cluster test (sct) to test corrupt and rebuild with my own scylla binary.  With "update_db_binary: 'rpms/scylla'". It failed to do the new binary update because it can not stop existing scylla node.

From the l

[2018-07-19 06:48] asias commented on #3610
I added some debug log to SCT:

[code]

In the log, only line 30 is show, so we definitely have problem stop scylla process.

[2018-07-19 09:15] slivne commented on #3610
@pdziepak can you please take a look

[2018-07-19 09:16] psarna opened #3611 "Clustering key prefix optimizations for filtering"
There are at least two optimizations related to clustering key prefix that can be done to make filtering more efficient:
* if clustering key restrictions require filtering, but they still contain any part of the prefix, this prefix can be used to narrow down the query by using it in computing clustering bounds
* right now if an indexed query has full partition key restrictions or full primary key

[2018-07-19 09:17] slivne commented on #3607
In cassandra all system tables are resitricted from being written from CQL - currently we have not blocked that.

[2018-07-19 09:24] slivne opened #3612 "Nodetool cfstats in LCS is not shard aware"
[code]

the values do not make any sense

[2018-07-19 09:41] slivne commented on #3555
- We do not have SLA - but I think we can get a bit more information

- one way to validate this is to run with tracing on / enable slow query logging - this may provide additional
info as to

- 2.3 will include the ability to specify for range queries a different timeout (#3013) - you can try that as well.

[2018-07-19 09:43] slivne commented on #3554
@roydahan - I think we ended up finding a bug in SCT - no ?

Can I close this ?

[2018-07-19 09:51] slivne commented on #3550
its strange that nodetool decommission works and nodetool cleanup doesn't

@amoskong  did you run nodetool cleanup on the node that was decomissioned - not likely just checking

@elcallio - I thought we currenctly changed scylla-tools code to disregard configurations it does not know.

[2018-07-19 09:53] #3533 closed

[2018-07-19 09:54] slivne commented on #3425
closing this if there is additional info we can reopen

[2018-07-19 09:54] #3425 closed

[2018-07-19 09:55] slivne commented on #3422
@asias / @roydahan  so whats the next step try to reproduce on 2.3 / 2.4 and see why the speed is bad ?

[2018-07-19 10:08] avikivity commented on #3612
Why open a duplicate issue?

[2018-07-19 10:17] roydahan commented on #3554
Don't know where is the bug, but we change SCT to start the ami with stop-services and only after we edit the yaml we start it up.

[2018-07-19 10:29] tzach commented on #3607
prevent from reading as well, for the reason mentioned (contains partition keys)

[2018-07-19 10:29] harelassayag commented on #3180
tried to reproduce using the user profile both on GCE and AWS. Used Scylla versions 2.2 and 2.0 (both 2.0.4 and 2.0.5) on similar sized hosts. the issue has not reproduced

[2018-07-19 10:34] slivne commented on #3180
tx closing the issue

[2018-07-19 10:42] asias commented on #3422
Btw, looking at the SCT code, I found in the corrupt and rebuild test, the
corrupt operation only deletes few sstable files then rebuild. Since
rebuild will stream all the data belongs to it, so the node will have
almost 2 copies of the same data. The compaction will do a lot of work to
get rid of the duplication. I think it makes more sense to do
wipe_and_rebuild instead of corrupt_a_few_sstable_

[2018-07-19 10:50] asias commented on #3422
From the latest test Amos did, I did not see any performance issue.

We can run the test again (with background read) while rebuild, so we have

(A) With background read/write:

2.2 wipe_and_rebuild v.s. 2.1 wipe_and_rebuild

(B) Without background read/write:

2.2 wipe_and_rebuild v.s. 2.1 wipe_and_rebuild

We can use the numbers as a reference.

If we see regression in A and not in B, there migh

[2018-07-19 13:11] roydahan opened #3613 "High rate of background writes during performance benchmark"
*Installation details*
Scylla version (or git commit hash): 2.2.0-0.20180709.240b9f122
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0a785275

Platform (physical/VM/cloud instance type/docker): AWS i3.8xlarge

Results of performance throughput tests comparing 2.1.5 and 2.2.0 with a 1TB data set point higher latency (almost double) for a 100% write workload in 2.2.0.

During the write worklo

[2018-07-19 13:15] roydahan commented on #3422
@asias, but why the transfer rate was so low?
I don't think the nodes disk was saturated from compactions.

Regarding next steps, we can provide more data from runs of 2.3.

[2018-07-19 13:32] tgrabiec commented on #3613
@roydahan I think you attached the same full grafana snapshot twice, they're identical

[2018-07-19 13:35] roydahan commented on #3613
Thanks, fixing.

[2018-07-19 15:05] harelassayag commented on #2683
encountered somthing similar I belive the issue repredouces on version 2.2
*Installation details*
Scylla version (or git commit hash): 2.2.0-0.20180709.240b9f122
Cluster size: 4 nodes  500GB
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos
Refresh nemesis:
[code]
followed by recator stall:
[code]
backtrace decoded:
[code]

[2018-07-19 16:45] roydahan commented on #3550
@slivne this is not on the node that was decommissioned.
It happens on all nodes that have the keyfile and certificate (IOW has TLS enabled).
reproduces consistently.

[2018-07-19 16:45] roydahan commented on #3550
@harelassayag @juliayakovlev FYI.

[2018-07-19 16:59] harelassayag opened #3614 "compaction failed: std::bad_alloc (std::bad_alloc) during nodetool refresh"
*Installation details*
Scylla version (or git commit hash): 2.2.0-0.20180709.240b9f122
Cluster size: 3 nodes 500GB
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI ami-0a785275

**stress commands**
we are running write with verify
[code]
Refresh nemesis:
[code]
write timeouts:
[code]
sstable inactive read queue over loaded
[code]
compaction failed bad alloc
[code]
write failure and load crash
[code]
read

[2018-07-19 17:51] harelassayag opened #3615 "high read latency during compaction (2 sec)"
*Installation details*
Scylla version (or git commit hash): 2.2.0-0.20180709.240b9f122
Cluster size: 3 nodes 500GB
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI ami-0a785275

**stress commands**
[code]
sstable inactive read queue over loaded
[code]
Compacted 32 sstables:
[code]
timeouts with latency spike:
[code]
![image](https://user-images.githubusercontent.com/15847218/42958535-70934ada-8b8e-11e8-92

[2018-07-20 00:03] asias commented on #3422
See my comments above:

[code]