[2016-02-16 14:02] indykish opened #912 "ScyllaDB with golang driver"
I tried the gocassa driver(https://github.com/megamsys/gocassa) built on top of  github.com/gocql/gocql with scylladb.

**Cassandra 2.1.8**

In cassandra a query is performed on  inside the code `github.com/gocql/gocql` for this query.

SELECT data_center, rack, host_id, tokens, release_version FROM system.local WHERE key='local'

I received  the results

[code]
and it works

**In ScyllaDB 0.17**

[2016-02-16 14:16] asias commented on #502
Yes.
On Feb 16, 2016 21:12, "Tzach Livyatan" <notifications@github.com> wrote:

[2016-02-16 14:24] #502 closed

[2016-02-16 14:56] glommer commented on #912
I am sorry: I am not really familiar with go at all. Can you send me some example code that would execute that query ?

[2016-02-16 15:01] raphaelsc commented on #497
@slivne: Exactly. @nyh once had arguments about it. @nyh: Could you please share your thoughts with us?

[2016-02-16 15:04] indykish commented on #912
The example file is under [https://github.com/megamsys/libgo/blob/master/db/scylladb_test.go](https://github.com/megamsys/libgo/blob/master/db/scylladb_test.go)

You need to have http://golang/dl (1.6 rc2) , mercurial(hg), bzr packages installed.

1. Create a directory =  `src/github.com/megamsys`
2. cd `src/github.com/megamsys`
3. git clone https://github.com/megamsys/libgo
4. cd libgo
5. Change

[2016-02-16 15:18] benoit-canet commented on #807
INFO  [shard 0] compaction - Compacting [/home/benoit/.dtest/dtest-roSv6o/test/node1/data/system/local-7ad54392bcdd35a684174e047860b377/system-local-ka-37-Data.db:level=0, /home/benoit/.dtest/dtest-roSv6o/test/node1/data/system/local-7ad54392bcdd35a684174e047860b377/system-local-ka-38-Data.db:level=0, /home/benoit/.dtest/dtest-roSv6o/test/node1/data/system/local-7ad54392bcdd35a684174e047860b377/sy

[2016-02-16 15:28] dorlaor commented on #784
The thing is, if we'll crash (and we will), the average user may not
realize what's going
on and the overall behaviour wouldn't be good and we may lose the core file
too.
I would say it's high priority but not a show stopper.

On Tue, Feb 16, 2016 at 1:21 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-02-16 15:28] dorlaor commented on #784
Initially it's fine if it will work well for systemd-only OSs

On Tue, Feb 16, 2016 at 5:27 PM, Dor Laor <dor@scylladb.com> wrote:

[2016-02-16 15:29] dorlaor commented on #810
It's with the scylla_raid_setup. It was fully automated.

[2016-02-16 15:32] benoit-canet commented on #784
We could have a convenience daemon whatching for systemdcoredump process.
If it start running on scylla we log it.
Else we could wrap the systemd dumper as a temporary solution.

On Tue, Feb 16, 2016 at 4:28 PM, Dor Laor <notifications@github.com> wrote:

[2016-02-16 15:47] nyh commented on #497
Indeed, Cassandra verifies the checksum of **compressed** blocks it reads before uncompress them. Cassandra actually has a "compression option" crc_check_chance which allows not checking this every time, but it defaults to 1.0 and in Scylla we just assume it is 1.0 so we always check the checksum (see FIXME in sstables/compress.cc).

Regarding **uncompressed** files, the situation is more complex.

[2016-02-16 15:51] glommer commented on #912
Hi. I get this:

# github.com/megamsys/libgo/action
action/action_test.go:23:2: cannot find package "gopkg.in/check.v1" in any of:
	/usr/local/go/src/gopkg.in/check.v1 (from $GOROOT)
	/home/glauber/go/src/gopkg.in/check.v1 (from $GOPATH)
	/home/glauber/go/src/gopkg.in/check.v1
FAIL	github.com/megamsys/libgo/action [setup failed]
Can you advise?

[2016-02-16 16:19] indykish commented on #912
go get gopkg.in/check.v1

[2016-02-16 16:19] indykish commented on #912
run that command

[2016-02-16 16:19] indykish commented on #912
also
`go get github.com/tsuru/commandmocker`

[2016-02-16 17:54] tgrabiec commented on #533
I haven't seen this failure recently. I'm running with `gcc (GCC) 5.3.1 20151207 (Red Hat 5.3.1-2.1)` from `avik-gcc`.

[2016-02-16 18:09] tgrabiec commented on #807
The error which @benoit-canet gets now looks like a duplicate of #809. I'm looking at it now.

[2016-02-16 18:55] glommer commented on #912
Hi. Sorry it took me a bit longer to get to this.

There is another line where the IP address needs to be changed:

[code]

I've changed that to the correct address and then got this:

[code]

I went back to your original messages and I can see no trace of the description of this keyspace.

Would you mind sharing it?

[2016-02-16 19:05] benoit-canet commented on #807
Yes it's the same assert() in two different conditions.

On Tue, Feb 16, 2016 at 7:09 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-02-16 20:35] glommer commented on #547
@tzach if the node is down, I don't know (but likely yes). My motivation to look at the question was basically from the point of view of an overloaded node that can't handle some particular requests.

The problem in that case is that we would have very high blocking wait times, and that can lead to more requests that were on the verge of timing out, actually timing out.

I remember that @gleb-clou

[2016-02-16 23:45] syuu1228 commented on #781
Implemented at https://github.com/scylladb/scylla/commit/b92a075a34e64879461ce48994ab513328595736, can be close.

[2016-02-17 02:03] indykish commented on #912
In your scylla cluster, you can create a keyspace named `testing`
[code]

[2016-02-17 02:13] glommer commented on #912
From what I can see, I was supposed to have a "customer" table as well, no?

After that, Scylla reports the following message:
[code]

And from reading the code, it does seem such a table has to exist. Please include that as well.

[2016-02-17 02:15] glommer commented on #912
Also, skimming through the code, it seems to expect certain data to be present as well. Like this:

[code]

I understand from the above that you will expect the table to be populated in a certain way. Please include a statement that will allow me to have the full test scenario, so I can make sure I have the same as you do. This way we can avoid false alarms.

[2016-02-17 07:37] slivne opened #913 "dist: package iotune in an additional service"
we need an additional service that will run prior to booting scylla that will run iotune and set the io params

the tool needs to:
1 - check if the params are set - if so exit
2 - check if developer-mode was set - if so exit
3 - check the data-directory in scylla.yaml and run iotune on that data-directory at the end update the io params

on the ami we need to make sure that scylla-ami-setup is run

[2016-02-17 07:41] slivne opened #914 "seastar: include fsqual tests in iotune (maybe conditionaly)"
need to integrate fsqual into iotune.

iotune is generice while fsqual checks for a specific case (a must for scylla)- we can integrate it with a conditional flag instead of forcing it in all cases

[2016-02-17 07:43] slivne commented on #901
The update tto use CentOS 7.2 allows booting on i2.8x - closing this #910 still needs to be fixed

[2016-02-17 07:43] #901 closed

[2016-02-17 07:45] slivne commented on #809
@benoit-canet dtest does not block core creation

if you set ulimit -c unlimited (not that its really needed as scylla is limited to 512M) then a core file will be created.

[2016-02-17 07:47] avikivity commented on #913
Looks reasonable.

[2016-02-17 07:48] slivne commented on #482
@elcallio can you take a look at this

I am not sure how I can reproduce this but maybe the backtrace is good enough

[2016-02-17 08:02] kirillsc opened #915 "Nodetool: ConnectException: 'Connection refused'."
Hi,

A simple question, I am failing to connect to Scylla via nodetool, I am getting this error:

Or when I specify the IP address of the machine according to my configuration:

When I check with netstat I see that Scylla does not listen on 7199 port and I am not seeing any errors in the syslog either:

It is probably something simple that I am missing.
Thanks!

[2016-02-17 08:06] kirillsc commented on #915
I do have scylla-jmx installed.

[2016-02-17 08:09] indykish commented on #912
`use keyspace testing;
create table customer (Id text, Name text, PRIMARY KEY (Id, Name));`

[2016-02-17 08:15] indykish commented on #912
Actually you try running `make test` again. It will create a table.

[2016-02-17 08:17] indykish commented on #912
May i know what version of scylla you are using ? Since in my case with no keyspace, it shows an error.

`
go clean  ./...
go test  ./...
ok  	github.com/megamsys/libgo/action	0.023s
ok  	github.com/megamsys/libgo/cmd	0.054s
2016/02/17 13:45:57 gocql: events: unable to fetch host info for 103.56.92.24: gocql: not enough columns to scan into: have 5 want 0
-- ks <nil>
`

So clearly you have gone pa

[2016-02-17 08:20] indykish commented on #912
Are you running scylla 0.16 with --development on ext4 fs, ubuntu 14.04. ?

I did a test using scylla 0.17 (docker)

Does your test cluster run using xfs  ?

I believe xfs or ext4 shouldn't matter as the performance will be lower in ext4.

[2016-02-17 08:28] tzach commented on #915
@kirillsc can you test if scylla-jmx is running?
Take a look at https://github.com/scylladb/scylla/wiki/troubleshooting:-nodetool-does-not-work

[2016-02-17 08:42] kirillsc commented on #915
Yes, it was down, sorry I didn't see that document before.
Everything is working now, thanks!

[2016-02-17 08:42] #915 closed

[2016-02-17 09:03] tzach commented on #915
@kirillsc can you please share the OS and how you installed Scylla?
We would like scylla-jmx service to start automatically to avoid this issue
See #504 and #726

[2016-02-17 09:06] avikivity commented on #915
@tzach Need a scylla service which starts both scylla-server and scylla-jmx

Or else have scylla-server add an After dependency for scylla-jmx

[2016-02-17 09:28] kirillsc commented on #915
I am using Ubuntu 14.04.3 LTS, with kernel 3.14.0.
That was the RPM installation from nightly builds.
I just verified that jmx does not starts automatically when you install Scylla that way.

Also I am starting scylla manually like this `sudo /usr/bin/scylla --options-file /etc/scylla/scylla.yaml` instead starting a service, perhaps that also makes a difference.

[2016-02-17 09:34] slivne commented on #910
we need to extend scylla-server.service timeout as well

base on #833 - when bootstrapping a new node streaming will take time - depending on the amount of data so in this case the timeout must be significantly increased to allow for streaming to complete.

[2016-02-17 09:37] slivne commented on #787
noam will try to reproduce the issue with 0.18 on a 3-node cluster will all servers being seeds.

The other item of http has been fixed

[2016-02-17 09:38] slivne commented on #786
noam will try to reproduce - dor I assume this was with baremetal servers on rackspace.

[2016-02-17 09:41] slivne commented on #586
noam will try to reproduce on ami of 0.18 and see if it happens as well

[2016-02-17 09:43] slivne commented on #567
noam will try to reproduce this with branch-0.18 sending sigterm to them

[2016-02-17 09:50] tgrabiec opened #916 "Abort for high column number when running dtest limits.py:TestLimits.max_columns_and_query_parameters_test"
[code]

[2016-02-17 10:00] #533 closed

[2016-02-17 10:07] syuu1228 commented on #910
How long should it be? Maybe 30min?

[2016-02-17 10:34] noamha commented on #787
Couldn't reproduce the bug.
Configuration:
- 3 nodes x Rackspace 15 GB I/O v1 CentOS
- Build: https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/branch-0.18/13/scylla.repo

Steps:
1. Started node1 with 3 ip address in the seeds, nodetool status was ok
2. Started node2 with 3 ip address in the seeds, nodetool status was ok
3. Started node3 with 3 ip address in the seeds, nodetool s

[2016-02-17 10:40] raphaelsc commented on #567
@slivne: Compaction manager changed a lot since this issue, so this problem may not exist anymore. Anyway, it's good to check.

[2016-02-17 10:57] slivne commented on #567
Thats why I want to check and if it does not reproduce close it

On Wed, Feb 17, 2016 at 12:40 PM, Raphael Carvalho <notifications@github.com

[2016-02-17 11:07] slivne commented on #904
@lmr can you please provide answers to the above questions - if the RF=3 and  3 nodes were down then that may also explain it.

[2016-02-17 12:02] elcallio commented on #482
This is very old. The code in question has been changed since then. I am not even sure what the above was doing when the assert happened?
The assert is more or less benign, even though it should never happen. (The latter of which is the mystery).
I can provide a patch to safe guard against the assert (that should never happen) just to be extra sure, but it is otoh a little treating symptom without

[2016-02-17 12:10] tgrabiec commented on #807
@benoit-canet I've noticed that the test is a bit faulty because it doesn't account for the fact that if you use 64K for the column name then the clustering_key in system tables will overflow by a bit because it's a composite key which also includes table name. So the actual column name you can use in table definition is a bit smaller than 64K.

[2016-02-17 12:30] benoit-canet commented on #807
I agree with that. But the test is faultly because the theorical limit is
64K and
the current practical limit is 32K and it's difficult to test a code path
that cannot be explored.
As soon as scylla with start working I will fix the test.

Best regards

Benoît

On Wed, Feb 17, 2016 at 1:10 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-02-17 12:36] benoit-canet commented on #807
Additionally if the composite key size is too big for scylla to handle it
should return and error and not assert.
Despite being faultly the test point to this issue.

On Wed, Feb 17, 2016 at 1:30 PM, Benoît Canet <benoit@cloudius-systems.com>
wrote:

[2016-02-17 12:56] noamha commented on #786
Had the same results as issue #833

Configuration:
- 2 nodes x x Rackspace 15 GB I/O v1 CentOS
- Build: https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/branch-0.18/13/scylla.repo

Steps:
1. Started the first node
2. Ran the following stress:
time cassandra-stress write cl=ONE n=30000000 -mode native cql3 -rate threads=100 -node $SERVERS -pop seq=1..30000000 -col 'size=FIXED(204

[2016-02-17 13:00] tgrabiec commented on #807
@benoit-canet sure, it did point to an issue. I've just posted a series which should fix the remaining issues. Once that is merged this issue will be closed, but limits.py test case would still fail and I wanted to clarify that it will be no longer an issue in scylla.

[2016-02-17 13:03] benoit-canet commented on #807
Thanks

On Wed, Feb 17, 2016 at 2:00 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-02-17 13:07] #809 closed

[2016-02-17 13:50] noamha commented on #787
A few extra steps I tried to reproduce the problem, didn't help:

7. restarted node1, nodetool status was ok
8. stopped node1, deleted commitlog	& data folders
9. started node1
10. nodetool status ok
11. restarted node2
12. nodetool status was ok

[2016-02-17 14:07] nyh opened #917 "Unsupported "-st"/"-et" options of "nodetool repair""
When one uses the "subrange repair" feature of nodetool repair, specifying a start-token and end-token, e.g,

[code]

We get a long Java exception. Its cause is scylla-jmx's StorageService.java which contains this unimplemented overloaded function at line 1315:

[code]

This needs to fully build the repair options, like the overload right above it, but also handle the "beginToken" and "endToken" a

[2016-02-17 14:42] benoit-canet commented on #807
While adjusting dtest with 0363a0efe677bc935b2f97508eee022ddba64c97
on fedora23 I got.

New off by one error when testing exactly the maximum size claimed
by scylla:

    Testing max key length for 4095
    Testing max key length for 8191
    Testing max key length for 16383
    Testing max key length for 32767
    Testing max key length for 65535
    ERROR

    ===================================

[2016-02-17 14:47] glommer commented on #912
I am running our current git master. It is probably closer to the upcoming 0.18
I always run XFS, but if it matters, my "cluster" is comprised of a single node (since I was just testing anyway).

How many nodes are you running? If more than one, I would recommend you run a single node for a quick test. Maybe our bug comes from inter-node synchronization.

[2016-02-17 14:57] indykish commented on #912
I am running a single node.

So the code works for you ?

[2016-02-17 15:04] tgrabiec commented on #807
@benoit-canet It doesn't look like server aborts this time, but `std::bad_alloc` is thrown which causes it to be logged, when thrown from compaction manager, or returned in "server error" CQL response.

I will have a look and check why this `std::bad_alloc` is thrown.

[2016-02-17 15:08] benoit-canet opened #918 "Excruciatingly slow communication between python c* driver and Scylla"
Working on testing and seeing Avi complain about python slowness on twitter
make me realize that maybe something was wrong.

Python will wait something like 2 seconds for a single request in the max key length
tests.

So I fired up tcpdump and captured the following pcap file.

scylladb-users-upload.s3.amazonaws.com/3652b685-3558-41ba-bad0-b395f85fbf18/slow.pcap

I am not TCP expert but by filteri

[2016-02-17 15:13] benoit-canet commented on #807
There is two differents errors depending on the size.

On Wed, Feb 17, 2016 at 4:04 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-02-17 15:15] tgrabiec commented on #606
@avikivity bytes_ostream declares `operator delete()` which calls free():

[code]

Do you still think there is alloc/dealloc mismatch?

[2016-02-17 15:24] noamha commented on #534
The yaml that was supplied is corrupted, I tried to rebuild it as best as I can:
[code]

And tried running it with Cassandra 3.0 and got the exact same error:
[code]

When trying to insert manually to scylla using the keyspace and table definition everything worked.

We'll need normal copy of the yaml to examine.

[2016-02-17 15:26] noamha commented on #567
Couldn't reproduce the issue.

Configuration:
- 1 node at Rackspace 15 GB I/O v1 CentOS
Build: https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/branch-0.18/13/scylla.repo

1. Ran the following stress:
time cassandra-stress write cl=ONE n=30000000 -mode native cql3 -rate threads=700 -node $SERVERS -pop seq=1..30000000 -col 'size=FIXED(2048) n=FIXED(5)'
2. made sure scylla is runn

[2016-02-17 15:31] glommer commented on #912
yeah, it proceeds until it fails due to the missing table. If you are comfortable compiling Scylla from source, I would say you could try our current master branch and see if the problem does disappear for you as well. If it doesn't, then we'll have to dig to see what is the difference in our setups (besides that) that makes it work for me and not for you.

In the mean time I can revert my tree to

[2016-02-17 15:31] noamha commented on #567
Tried the same procedure as above several times, and got the same result

[2016-02-17 15:34] benoit-canet commented on #807
@tgrabiec std::bad_alloc is after DROP TABLE is issued. maybe it's the same for the other condition.

[2016-02-17 15:35] raphaelsc commented on #567
On Wed, Feb 17, 2016 at 1:31 PM, noamha <notifications@github.com> wrote:

Cool. I suppose this issue can be closed then. Thanks for testing it.

--
Raphael S. Carvalho

[2016-02-17 15:38] slivne commented on #534
closing the issue till additional information is provided

[2016-02-17 15:38] #534 closed

[2016-02-17 15:39] #567 closed

[2016-02-17 15:42] indykish commented on #912
Ok, will try scylla 0.18.

[2016-02-17 15:49] dorlaor commented on #787
Let's close it but do try to stress the shutdown tests so we'll loop over
100 or 1000 service
restarts

On Wed, Feb 17, 2016 at 3:50 PM, noamha <notifications@github.com> wrote:

[2016-02-17 15:51] avikivity commented on #606
No

[2016-02-17 15:51] #606 closed

[2016-02-17 16:01] glommer commented on #912
Ok, both 0.16 and 0.17 works for me as well (up to the table query).
So I would say the problem is another one. Let's try to narrow it down: what are your command line options for Scylla?

[2016-02-17 16:26] indykish commented on #912
**In local archlinux**
'sudo docker run -p 9042:9042 -i -t scylladb/scylla`

**In our remote 1 node (103.56.92.24)**
- Installed the debian package for 0.16
- `scylla-server start`
Changed the `rpc, listening ipaddress` in conf file to  `103.56.92.24`

[2016-02-17 17:13] indykish commented on #912
Anything i need to do different in the start command  installed via the deb package in ubuntu 14.04  ?

[2016-02-17 17:32] glommer commented on #912
It is not about need, it was supposed to work (unless I am missing something). I am just trying to understand if a particular option can be to blame.

[2016-02-17 18:15] tgrabiec commented on #916
Another incarnation:

[code]

[2016-02-17 18:28] lmr commented on #904
@slivne and @asias, RF=3. Only a single node is down at a time.

[2016-02-17 19:57] dmarti opened #919 "Test for PasswordAuthenticator with CassandraAuthorizer"
One user is planning to run with the following options set:

[code]

and use ALTER USER to manage users/passwords. Need a test for this configuration.

[2016-02-17 20:03] dmarti opened #920 "Test with cgroups CPU shares"
For a user interested in running multiple Scylla processes, and limiting CPU usage by running with cgroups `cpu.shares`

[2016-02-17 20:23] glommer opened #921 "Allow more requests when running on i2.8xlarge"
we are currently allowing 16 requests per disk (32 per pair of disks) in Amazon EC2 instances.

i2 instances have disks that are considerably better, and we should allow more requests to go through if we are running in one of them.

At some point we have believed that those instances would reach a cap at some point in a RAID setup lower than what we would expect from the disks' individual characte

[2016-02-17 20:33] #904 closed

[2016-02-17 20:57] syuu1228 commented on #801
interactive scylla_setup have been merged, so this can close.

[2016-02-17 20:58] syuu1228 commented on #800
interactive scylla_setup have been merged, so this can close.

[2016-02-17 20:58] syuu1228 commented on #799
interactive scylla_setup have been merged, so this can close.

[2016-02-17 21:27] benoit-canet commented on #918
It's slow with c* too. Closing the bug.

[2016-02-17 21:28] #918 closed

[2016-02-18 00:15] slivne commented on #482
Closing this as it should never happen and we haven't seen this since then and are not able to reproduce

[2016-02-18 00:22] slivne commented on #862
@gleb-cloudius stopping new connection attempts - is that possible ?

[2016-02-18 00:30] slivne commented on #792
@avikivity can you please provide input on what change you would like to impl.

you also mentioned a change for the case of --smp 1 - we can try to handle both in fixing this

[2016-02-18 00:31] #787 closed

[2016-02-18 00:31] #786 closed

[2016-02-18 00:44] slivne commented on #778
the ami is not doing updates any more on restart

commit 71a26e14121293c05c4bf5a27e68c6c33b25dd66
Author: Takuya ASADA <syuu@scylladb.com>
Date:   Sat Jan 30 11:53:06 2016 -0500

    dist: don't need AMI_KEEP_VERSION anymore, since we fixed the issue that 'yum update' mistakenly replaces scylla development version with release version

    It actually doesn't called unconditionally now, (since $LO

[2016-02-18 00:44] #778 closed

[2016-02-18 00:47] slivne commented on #507
systemd support to restart only on exit code !=0 was merged

commit 1b49c0ce19d22b891f3cd4161cfe2a809ab64c06
Author: Avi Kivity <avi@scylladb.com>
Date:   Sun Feb 14 11:11:43 2016 +0200

    dist: Restart scylla on abnormal termination

    Restarting the service can recover from a transient failure.

    Fixes #904 (on systemd systems only)
    Message-Id: <1455441103-11963-1-git-send-email-avi@s

[2016-02-18 00:49] slivne commented on #442
@pdziepak , @gleb-cloudius  is there still an opem item here ?

[2016-02-18 00:51] slivne commented on #232
@vladzcloudius are this tests passing can we close this

[2016-02-18 01:18] slivne commented on #688
tested on 0.18 does not reproduce

fixed by
commit 0aa105c9cf95fb6310c5f556ebdd5cf2db6ad1b6
Merge: f0b2767 7190508
Author: Pekka Enberg <penberg@scylladb.com>
Date:   Wed Dec 30 10:21:55 2015 +0200

    Merge "load report a negative value" from Amnon

    "This series solve an issue with the load broadcaster that reports negative
     values due to an integer wrap around.  While fixing this issue

[2016-02-18 01:18] #688 closed

[2016-02-18 01:19] slivne commented on #687
tested on 0.18 does not reproduce

fixed by

commit 0aa105c9cf95fb6310c5f556ebdd5cf2db6ad1b6
Merge: f0b2767 7190508
Author: Pekka Enberg <penberg@scylladb.com>
Date:   Wed Dec 30 10:21:55 2015 +0200

    Merge "load report a negative value" from Amnon

    "This series solve an issue with the load broadcaster that reports negative
     values due to an integer wrap around.  While fixing this issue

[2016-02-18 01:19] #687 closed

[2016-02-18 01:28] slivne commented on #891
we have in /etc/sysconfig/scylla-server a param IFNAME

we have code in scylla_prepare that uses this info

[code]

To support bonding interfaces should we extend this support and allow specifying a single bond interface and then figure out all its physical ones and run on all of them in scylla_prepare - or should we allow specifying a list of IFNAME(s) that will have this script run on all

[2016-02-18 01:33] slivne commented on #801
commit 2d429e602a4ee0b11c8990ce7d52c3856154c397
Author: Takuya ASADA <syuu@scylladb.com>
Date:   Tue Feb 16 04:23:10 2016 +0900

    dist: interactive scylla_setup

    Signed-off-by: Takuya ASADA <syuu@scylladb.com>

[2016-02-18 01:33] #801 closed

[2016-02-18 01:34] slivne commented on #800
commit 2d429e602a4ee0b11c8990ce7d52c3856154c397
Author: Takuya ASADA <syuu@scylladb.com>
Date:   Tue Feb 16 04:23:10 2016 +0900

    dist: interactive scylla_setup

    Signed-off-by: Takuya ASADA <syuu@scylladb.com>

[2016-02-18 01:34] #800 closed

[2016-02-18 01:34] slivne commented on #799
commit 2d429e602a4ee0b11c8990ce7d52c3856154c397
Author: Takuya ASADA <syuu@scylladb.com>
Date:   Tue Feb 16 04:23:10 2016 +0900

    dist: interactive scylla_setup

    Signed-off-by: Takuya ASADA <syuu@scylladb.com>

[2016-02-18 01:34] #799 closed

[2016-02-18 01:42] #691 closed

[2016-02-18 01:45] slivne commented on #797
lets write two tests for this for compaction-truncate, repair-truncate and see that it works as expected

[2016-02-18 01:50] slivne commented on #599
impled work on 0.18

[2016-02-18 01:50] #599 closed

[2016-02-18 01:53] slivne commented on #220
@tzach  ALTER is post GA - we need to move this accordingly

[2016-02-18 01:57] slivne commented on #219
we do support replace-address and test it
we do support decommission and test it

we need to check that decommission of a node "not in the cluster" (after it was replaced) works - lets add a dtest for it

[2016-02-18 01:59] slivne commented on #218
supported and testted

[2016-02-18 01:59] #218 closed

[2016-02-18 02:00] slivne commented on #217
@elcallio do we reread the scylla.yaml and update the configuration

@asias will this work in gossip

[2016-02-18 02:00] slivne commented on #216
@tzach  ALTER KEYSPACE is post GA - lets update this accordingly

[2016-02-18 02:01] slivne commented on #301
@avikivity doesn't fsqual cover this - can we close this

[2016-02-18 02:04] slivne commented on #127
@nyh - lets add a test for this and close it once we have a test

[2016-02-18 02:05] slivne commented on #74
@raphaelsc - do we have code for this ?

In any case I think we can move it to post GA

[2016-02-18 02:13] indykish commented on #912
What options have you used to start the `scylla-server` ?

[2016-02-18 02:17] glommer commented on #912
I have just used the defaults from my conf/scylla.yaml that we ship by
default.

I am running this from my development tree and just wanted to see if it was
something easy to reproduce (i.e., if it is present in all setups).
Apparently this is being triggered by some options so we'll have to dig a
bit deeper to find out which.

On Wed, Feb 17, 2016 at 9:13 PM, Kishorekumar Neelamegam <
notificatio

[2016-02-18 02:51] indykish commented on #912
I connected to scylla in  different ips than 127.0.0.1.

Did you run connecting to scylla 127.0.0.1 ?

Let me create a ubuntu vm and try testing there.

[2016-02-18 04:36] glommer commented on #912
On Wed, Feb 17, 2016 at 9:51 PM, Kishorekumar Neelamegam <
notifications@github.com> wrote:

Yes, I did connect at 127.0.0.1

[2016-02-18 08:21] amnonh commented on #905
This can be close by commit 62e96de48a1063d2ee787328034036549152783c

[2016-02-18 08:22] amnonh commented on #789
@dorlaor  From the discussion above, can it be close?

[2016-02-18 08:23] kirillsc commented on #896
I just got back to this issue, and I still experiencing problems connecting to Scylla.

I am starting Scylla like this:
`sudo /usr/bin/scylla --options-file /etc/scylla/scylla.yaml  --network-stack native --dpdk-pmd`

In my logs I am observing the following:

EAL: Detected 32 lcore(s)
EAL: VFIO modules not all loaded, skip VFIO support...
EAL: Setting up physically contiguous memory...
EAL: Ask a

[2016-02-18 08:45] avikivity commented on #896
You had a dhcp timeout.  Do you have a dhcp server on that subnet?

If yes, seastar wasn't able to talk to it for some reason.

If not, you just need to configure the IP address and subnet mask.

See these options:

[code]

[2016-02-18 08:48] amnonh commented on #845
Are you sure it's not working?
See the following nodetool command
$ nodetool  statusbackup
not running
$ nodetool  enablebackup
$ nodetool  statusbackup
running

[2016-02-18 08:53] avikivity commented on #301
We disabled write-behind for performance reasons in any case, so this issue is obsolete.

[2016-02-18 08:53] #301 closed

[2016-02-18 08:58] nyh commented on #301
On Thu, Feb 18, 2016 at 10:53 AM, Avi Kivity <notifications@github.com>
wrote:

In this case, should we remove the write-behind code path from Seastar?

[2016-02-18 09:00] slivne commented on #909
I think @asias sent a patch that was committed that fixes streaming behavior on shutdown - is this still open ?

[2016-02-18 09:02] avikivity commented on #301
No, we will reactivate it one day.
On Feb 18, 2016 10:58, "nyh" <notifications@github.com> wrote:

[2016-02-18 09:08] nyh commented on #301
But you just said we disabled it not because of some XFS bugs, but because it simply doesn't perform any better... If that was really the case, we will *never* want to reactivate it?

[2016-02-18 09:12] amnonh commented on #911
ProcessingException is a connection error, this mean that the jmx didn't connect to the API, could this be a timing issue?

[2016-02-18 09:15] kirillsc commented on #896
Great, thank you, I have configured it via args and it is working fine now.

`--network-stack native --dpdk-pmd --host-ipv4-addr=192.168.2.3 --gw-ipv4-addr=xxx --netmask-ipv4-addr=255.255.255.0 --dhcp=0`

[2016-02-18 09:18] asias commented on #911
Indeed looks like a timing issue. Is it jmx sends api cmd to the api sever which is not ready?

[2016-02-18 09:20] #789 closed

[2016-02-18 09:24] amnonh commented on #911
It looks like the API is sending the request before the API is ready.
It's something we've discussed in the passed, to register JMX object only
when their API is ready.
But not sure it's on the timeline

On Thu, Feb 18, 2016 at 11:18 AM, Asias He <notifications@github.com> wrote:

[2016-02-18 09:30] nyh commented on #127
I think we do already have a passing dtest for this:
[code]

[2016-02-18 09:31] nyh commented on #917
@slivne please assign this to me so I don't lose it. I'm working on this now.

[2016-02-18 10:13] asias commented on #900
@lmr I have patch for this issue in dev repo, tag: asias/gossip_async_message/v1.

[2016-02-18 10:21] avikivity commented on #301
Write-behind performs badly because of an XFS bug/misfeature.  In general it is a good idea.

[2016-02-18 10:42] slivne commented on #919
We do not support CREATE/ALTER user at this point

[2016-02-18 10:52] slivne commented on #821
scylla is not run via a scylla_run anymore - so this error will not be logged from scylla_run but from scylla

commit f33656ef0367f1d6b8ac54fcafdce41b18ef54ce
Author: Takuya ASADA <syuu@scylladb.com>
Date:   Thu Jan 28 00:58:30 2016 +0900

    dist: eliminate startup script

    Fixes #373

    Signed-off-by: Takuya ASADA <syuu@scylladb.com>
    Message-Id: <1453910311-24928-1-git-send-email-syuu@

[2016-02-18 10:55] slivne commented on #814
We have the solution of sending info to local collected and having scylla-top to provide info of that - we can extract the info of interval update from scylla config / command line if needed - lets start with a default 1 or 3 seconds and see if this is informative enough.

[2016-02-18 10:56] avikivity commented on #814
We can configure rrd as well.

[2016-02-18 10:56] slivne commented on #808
@benoit-canet can you try this on cassandra and see what you get there

[2016-02-18 10:58] #802 closed

[2016-02-18 10:59] avikivity commented on #797
@tgrabiec since truncate should be `invoke_on_all()`d then each shard's sstables ought to be `mark_for_deletion()`ed individually, no?  I don't think we need/can force deletion.

[2016-02-18 10:59] #781 closed

[2016-02-18 11:00] #776 closed

[2016-02-18 11:05] avikivity commented on #808
Please try it with the heap limited to 1GB as well.

[2016-02-18 11:09] slivne commented on #705
I suggest that we stick with a single option and not code mutiple options in this case - till we see it is really needed

Cassandra has

commit_failure_policy
    (Default: stop) Policy for commit disk failures:

        die

        Shut down gossip and Thrift and kill the JVM, so the node can be replaced.
        stop

        Shut down gossip and Thrift, leaving the node effectively dead, but c

[2016-02-18 11:09] syuu1228 opened #922 "iotune fails on CentOS7 because fs.aio-max-nr is too small"
On CentOS7, I got following error when running iotune. It won't happen on Fedora:
[code]

Here's strace output. io_setup returns EAGAIN
[code]

So it's requesting 81920 events, but fs.aio-max-nr is less than that
[code]

On Fedora it's more bigger:
[code]

The problem has gone when I increase the parameter:
[code]

We should increase it on our .rpm, using /etc/sysctl.d/99-scylla.conf just like wha

[2016-02-18 11:10] slivne commented on #706
Solution should be provided with #705

[2016-02-18 11:10] #703 closed

[2016-02-18 11:11] slivne commented on #634
@avikivity do we need it for GA ?

[2016-02-18 11:13] slivne commented on #393
on 0.18

shlomi@localhost~/scylla (master)$ time ccm node1 nodetool status

Datacenter: datacenter1
=======================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address    Load       Tokens  Owns    Host ID                               Rack
UN  127.0.0.1  79.48 KB   256     ?       2dd51c8e-b2b8-4a04-ba7e-2d48322fa4a9  rack1

Note: Non-system keyspaces don't have the same rep

[2016-02-18 11:13] #393 closed

[2016-02-18 11:14] slivne commented on #385
@nyh - ping

[2016-02-18 11:15] avikivity commented on #922
It's better not to spew zillions of parallel I/O requests like that and instead have a limited concurrency.

[2016-02-18 11:16] slivne commented on #308
@asias is this reproducible on head / 0.18

[2016-02-18 11:17] avikivity commented on #634
yes, at least the documentation.

maybe it should be weekly.

[2016-02-18 11:19] slivne commented on #732
duplicate of #702

[2016-02-18 11:22] slivne commented on #795
@asias did we fix this ?

[2016-02-18 11:24] asias commented on #217
Seed node is mostly useful when a node boots up. Gossip does not re-read scylla.yaml when seed configuration is updated. (Neither does Cassandra). It is not needed for proper operation for the existing running node.  When a seed node is down, gossip will mark it is down as we do for other normal node. Why do we need to update seed config in scylla.yaml ? It is only useful when the node restarts.

[2016-02-18 11:24] pdziepak commented on #442
On 18 February 2016 at 00:49, slivne <notifications@github.com> wrote:

Drain is implemented and working correctly. There is a regression that
causes segmentation fault when shutting down drained node, but I've just
sent a patch to fix it.

[2016-02-18 11:24] slivne commented on #772
@tgrabiec I need more context here to know if we must fix this or not

What does this mean

[2016-02-18 11:27] slivne commented on #728
If we added additional info to the exception to know it was from the FS then it would not be misleading.

[2016-02-18 11:29] slivne commented on #728
Also related to #705, #706 once we fix those for GA (stopping in one form or another on errors) this should not happen

[2016-02-18 11:31] asias commented on #795
Worth retest, since we now drain on shutdown. @gleb-cloudius can you verify?

[2016-02-18 11:31] slivne commented on #712
related to #705, #706

[2016-02-18 11:33] asias commented on #219
Looking at the operation:

http://docs.datastax.com/en/cassandra/2.0/cassandra/operations/ops_replace_live_node.html

We support "Replacing a running node".

[2016-02-18 11:35] gleb-cloudius commented on #795
On Thu, Feb 18, 2016 at 03:31:08AM -0800, Asias He wrote:

kill -9 will not drain.

--
			Gleb.

[2016-02-18 11:36] slivne commented on #708
We have been running many tests of booting AWS instances and also doing that in clusters - closing this issue till we can reproduce this with newer AMIs

[2016-02-18 11:36] #708 closed

[2016-02-18 11:36] slivne commented on #707
related to #705, #706

[2016-02-18 11:37] slivne commented on #710
related to #705, #706

[2016-02-18 11:39] slivne commented on #217
If you had a single seed node in the cluster

It dies

You want to replace it - how do you do that ?
 How do old nodes non seed find the "new replacing seed node' ?

On Thu, Feb 18, 2016 at 1:24 PM, Asias He <notifications@github.com> wrote:

[2016-02-18 11:40] #442 closed

[2016-02-18 11:47] slivne commented on #219
I am concerned that decomissioning a running replcaed node (step 4 - in what you have sent)

_4._ Using the Host ID of the original node, decommission the original node from the cluster using the nodetool decommission command.

may cause streaming - in any case I think we need to have a test for it. (we do have a replace_address running node test - yet it does not do decomission of the old node.

[2016-02-18 11:48] avikivity commented on #707
What happens here is that a file is closed twice somehow.

Unless charibefs injected that error.  In that case, it should't, it should only inject reasonable errors that can actually happen.

[2016-02-18 11:52] slivne commented on #842
related to #208

[2016-02-18 11:55] slivne commented on #733
Please reopen when you have additional info

[2016-02-18 11:55] #733 closed

[2016-02-18 12:01] slivne commented on #709
#705, #706

[2016-02-18 12:14] slivne commented on #910
@tzach please provide input if we should signal scylla is up prior to finishing streaming

[2016-02-18 12:23] asias commented on #219
A running replaced node is just like a normal node. What are you concerned?

Please note, we can only replace_address a dead node.

" (we do have a replace_address running node test - yet it does not do decomission of the old node."

I do not follow.

[2016-02-18 12:34] slivne commented on #675
@amnonh please provide more information so I'll know if we can push this out / assign it to the correct person

[2016-02-18 12:37] #661 closed

[2016-02-18 12:39] #605 closed

[2016-02-18 12:39] #586 closed

[2016-02-18 12:41] #568 closed

[2016-02-18 12:50] #438 closed

[2016-02-18 12:54] #902 closed

[2016-02-18 12:56] #226 closed

[2016-02-18 12:58] raphaelsc commented on #817
@tgrabiec: At the moment, it's only used as information to the user, which requests it via compaction history of nodetool. I will look at what else place C* uses it. Thanks for noticing the problem.

[2016-02-18 12:58] #190 closed

[2016-02-18 12:59] slivne commented on #190
not sure it is correct todo this

[2016-02-18 13:02] #127 closed

[2016-02-18 13:05] slivne commented on #2
We have been handling backpressure of many cases with specific items - closing this.

[2016-02-18 13:05] #2 closed

[2016-02-18 13:07] slivne commented on #48
noam please try and reproduce / close

[2016-02-18 13:11] slivne commented on #72
Duplicate with #176

[2016-02-18 13:31] tzach commented on #910
Data streaming on boot can take long hours in case TB of data are streamed.
It is not reasonable to wait in the CLI for a few hours, so the service start should return before bootstrap is complete.
A good candidate can be after commit-log replay.

[2016-02-18 13:33] tzach commented on #705
A good policy will be to exit on both errors, disk_failure_policy and commit_failure_policy.
We can add more policies if and when we need it.

[2016-02-18 13:34] #905 closed

[2016-02-18 14:53] amnonh commented on #725
It was already fixed

[2016-02-18 15:07] #725 closed

[2016-02-18 15:14] #917 closed

[2016-02-18 15:28] tzach commented on #176
compaction_throughput_mb_per_sec parameter is not a must, AFAIU scylla handle this using IO scheduler.

[2016-02-18 15:59] indykish commented on #912
@glommer Our team mate @morpheyesh debugged this problem and fixed it. Its a bug in https://github.com/hailocab/gocassa driver.

[2016-02-18 15:59] indykish commented on #912
@glommer  Thanks a lot for your swift help.

[2016-02-18 19:36] syuu1228 opened #923 "dist/redhat/build_rpm.sh fails on newly created CentOS7 instance"
It fails because idl-compiler.py requires /usr/bin/python3, but epel python3 package provides /usr/bin/python3.4.
[code]

On dist/redhat/centos_dep/build_dependency.sh, we are symlinking /usr/bin/python3.4 to /usr/bin/python3, but now it doesn't executed by default because we uses prebuilt binary from yum repository.

[2016-02-18 19:39] avikivity commented on #923
I think we can add ./configure.py --with-python3= to fix this

[2016-02-18 21:34] syuu1228 commented on #889
I guess U15 is not so hard, since we already have 14.04 LTS jenkins job, and we are unofficially supported 15.10(sometimes broken since we don't have CI for it yet though).

[2016-02-18 21:45] syuu1228 commented on #784
Until systemd will get fixed, I think simplest approach is enabling scylla_save_coredump again, even it is not Fedora/RHEL standard.

[2016-02-19 01:37] asias commented on #91
Fixed by: d146045bc5f9e0de969184aa8954443750d076a3 31d439213c82040152d375c89e9786b9336e8375

[2016-02-19 01:47] asias commented on #909
The fix:

commit 46c392eb17c1a5b4d13006bedf43fca477579b7c
Author: Asias He <asias@scylladb.com>
Date:   Tue Feb 2 21:01:22 2016 +0800

    messaging_service: Stop retrying if messaging_service is being shutdown

is included in what Vlad tested (scylla HEAD: 7dc843f).

[2016-02-19 01:51] asias commented on #909
@nyh yes, it is stuck at shutdown of cql server. With pawel's fix I do not see the hang any more. The fix is also included in Vlad's test (scylla HEAD: 7dc843f). Perhaps we have more bugs in shutdown cql server.

commit c90ec731c8c9ad0a9e0fd3b978f31641b3c3d69a
Author: Paweł Dziepak <pdziepak@scylladb.com>
Date:   Thu Feb 4 15:33:10 2016 +0100

    transport: do not close gate at connection shutdow

[2016-02-19 02:04] asias commented on #909
@vladzcloudius I saw "[PATCH scylla v1] cql_server: destroy connection instances in stop()". Does it fix the cql hang you saw?

[2016-02-19 03:19] asias commented on #795
On Thu, Feb 18, 2016 at 7:35 PM, Gleb Natapov <notifications@github.com>
wrote:

You are right.

I did manage to reproduce myself.

start scylla node1
start scylla node2
run c-s for a while
kill -9 node2
start node2

I repeat above a few times. I did not see the assert.

Gleb, what did you do exactly?

--
Asias

[2016-02-19 04:58] vladzcloudius commented on #909
On Feb 19, 2016 4:05 AM, "Asias He" <notifications@github.com> wrote:

instances in stop()". Does it fix the cql hang you saw?

@asias Yes. I think a commit message clearly states this fact.

[2016-02-19 05:26] asias commented on #909
On Feb 19, 2016 12:59 PM, "vladzcloudius" <notifications@github.com> wrote:

I have some comments on the patch.

[2016-02-19 07:03] gleb-cloudius commented on #795
On Thu, Feb 18, 2016 at 07:19:39PM -0800, Asias He wrote:

Saw it only once. I usually run 3 nodes. Try to kill a node while
another is connecting.

--
			Gleb.

[2016-02-19 07:06] #91 closed

[2016-02-19 07:08] slivne commented on #889
Lets try and focus on the other issues before adding distributions

When adding distribution its not only enabeling it on jenkins it requires
also to have a santiy tester avilable.

With regards to 15.10 - Takuya you have openned a bug on a unitest that
does not pass on 15.10 - we need all the unitests to pass not only to be
able to compile scylla.

On Thu, Feb 18, 2016 at 11:34 PM, Takuya ASADA <

[2016-02-19 07:22] asias commented on #795
On Fri, Feb 19, 2016 at 3:03 PM, Gleb Natapov <notifications@github.com>
wrote:

Did you run c-s when you add a new node?

You did like below?

start node1
start node2
start node3, in the mean while, kill node 2

Did you insert data before start node3?

--
Asias

[2016-02-19 07:32] gleb-cloudius commented on #795
On Thu, Feb 18, 2016 at 11:22:22PM -0800, Asias He wrote:

Likely.

I do not really remember all the steps unfortunately.

--
			Gleb.

[2016-02-19 07:36] vladzcloudius commented on #909
On 02/19/2016 07:26 AM, Asias He wrote:

I saw them and I have replied to your comments.

[2016-02-20 11:36] penberg commented on #912
@indykish @morpheyesh, is the issue fixed in the gocassa driver upstream? Can you point us to the commit?

[2016-02-20 11:48] indykish commented on #912
Pekka,

@morpheyesh found the the problem in https://github.com/gocql/gocql and not
in gocassa. He is fixing it up and has a temporary hack to get around it.

@morpheyesh, Can you respond please ?

@morpheysh will post the link in here after we have tested it fully next
week.

On Sat, Feb 20, 2016 at 5:06 PM, Pekka Enberg <notifications@github.com>
wrote:

--
*Kishorekumar Neelamegam,*
Founder & C

[2016-02-20 17:15] #923 closed

[2016-02-20 17:37] lmr opened #924 "[AMI 0.18] Longevity test failure: Failed to decommission node (scylla coredump generated)"
When running the 24 hour longevity test with the decommission node (more on that later), after a few successful decomission attempts, we start hitting failures.

The first couple of hours things go well, and decommission happens flawlessly, taking ~ 650 s to complete:

    17:13:09 nemesis          L0190 DEBUG| sdcm.nemesis.DecommissionMonkey: <function disrupt at 0x7f19890a0a28> duration -> 683 s

[2016-02-20 17:40] lmr commented on #924
By the way, node size is `c3.large`.

[2016-02-20 17:43] avikivity commented on #924
Please  upload the core somewhere.

[2016-02-20 17:49] lmr commented on #924
@avikivity That's not possible, as the test already ended and cleaned up AWS resources.

We discussed a lot about this, and decided that we'd stick with the traces produced by systemd.

[2016-02-20 17:51] avikivity commented on #924
Let's discuss it some more and decide to recover core dumps.

[2016-02-20 18:39] lmr opened #925 "[AMI 0.18] Longevity test failure: (DrainerMonkey) Node runs out of space"
We hit a situation where a node runs out of space during the 24 hour Nemesis test run, while other nemesis ran until the end with no disk space issues.

The test logs show a typical c-s execution, that goes fine until at about 11 hours of execution, where the Drainer Monkey executes hits a problem:

The error:

    01:48:43 INFO | [54.183.192.210] Running '/bin/ssh -a -x  -o ControlPath=/var/tmp/s

[2016-02-20 18:57] lmr opened #926 "[AMI 0.18] Longevity test failure: Cassandra-stress doesn't survive stop/start monkey"
Running the longevity test for 24 hour with our stop/start monkey revealed failures in cassandra-stress to survive until the end. The stresser stays up for about 6.5 hours:

    22:47:51 remote           L0773 DEBUG| Remote [centos@54.183.232.21]: Running 'cassandra-stress write cl=QUORUM duration=1440m -schema 'replication(factor=3)' -port jmx=6868 -mode cql3 native -rate threads=4 -node 172.31.2

[2016-02-20 19:37] dorlaor commented on #925
What was the size of the /data directory and how big is the local disk of
this small image (.xlarge is small too)?

On Sat, Feb 20, 2016 at 8:39 PM, Lucas Meneghel Rodrigues <
notifications@github.com> wrote:

[2016-02-20 20:03] jkozlowski commented on #867
Finally got time to read some code, @tgrabiec thanks for the CMakeLists.txt works fairly well, I am able to browse the code now.

[2016-02-20 20:31] benoit-canet commented on #867
On Tue, Feb 2, 2016 at 5:14 PM, Erich Keane <notifications@github.com>
wrote:

Thanks for the tip YouCompleteMe is nice. I think I finally reached year 2k
;)

[2016-02-21 05:44] jeunetoujour commented on #889
I would like a build for F23 if it can be made available easily with just a jenkins job.

[2016-02-21 08:33] #907 closed

[2016-02-21 08:44] gleb-cloudius opened #927 "scylla: utils/managed_bytes.hh:349: blob_storage::char_type* managed_bytes::data(): Assertion `!_u.ptr->next' failed."
[gdb.txt](https://github.com/scylladb/scylla/files/139524/gdb.txt)

[2016-02-21 08:56] avikivity commented on #925
/tmp is likely to be tmpfs, so it looks like the test framework exhausted RAM/swap.

[2016-02-21 08:57] avikivity commented on #924
Uploading to S3 is a one-liner.  What's important is to be able to associate a core with a particular test.

Let's use a separate bucket for test cores (vs. user uploaded cores).

[2016-02-21 09:07] slivne commented on #922
@avikivity can we close this ?

[2016-02-21 09:12] #922 closed

[2016-02-21 09:38] vladzcloudius commented on #232
@slivne Yep. Both are passing.

[2016-02-21 09:48] penberg commented on #896
@slivne I think you closed this too early. Shouldn't we at least fix ``ETHDRV`` to use ``uio_pci_generic`` in Scylla configuration?

Ping @vladzcloudius

[2016-02-21 10:05] #232 closed

[2016-02-21 10:22] slivne commented on #927
a way to reproduce with dtest.

[code]

head

commit 9cb8a4368474a6e76c6683878d569439076e9729
Author: Raphael S. Carvalho <raphaelsc@scylladb.com>
Date:   Thu Feb 18 19:39:58 2016 -0200

    start using notation ks.cf everywhere

    Some places were using the notation ks/cf to represent a keyspace
    and column family pair. ks.cf is the notation used by C*, so we
    should use it everywhere.

[2016-02-21 10:46] penberg commented on #927
@slivne Why did you close this issue?

[2016-02-21 11:07] slivne commented on #927
By mistake I reopened

On Sun, Feb 21, 2016 at 12:46 PM, Pekka Enberg <notifications@github.com>
wrote:

[2016-02-21 11:18] vladzcloudius commented on #891
@avikivity @slivne @gleb-cloudius @tgrabiec
First, I'd like to comment the current posix_net_conf.sh invocation mode. Let me remind that if '-mq' is not given it'll configure the so called "Gleb's" mode, when all HW IRQs are bound to CPU0 and RPS is enabled and distributed among all CPUs apart from CPU0. However, at least for me, it's not clear that this approach is always the best approach and AF

[2016-02-21 11:29] amnonh commented on #911
when running locally, I see there are cores in the test

[2016-02-21 11:34] slivne commented on #911
I checked on jenkins (even prior to the changes related to idl and there
are cores recorded)

I can not extract the info from the run as the executables is not saved.

@asias can you try locally even without the IDL changes and see that when
it reproduces you have a core and lets continue from that point (currently
I am reassigning this to you) till we have additional info

@amnonh please update t

[2016-02-21 12:41] amnonh commented on #675
nodetool cfhistograms
uses ColumnFamilyStore.getRecentSSTablesPerReadHistogram

Not the recent and not the total:
/column_family/metrics/sstables_per_read_histogram
Are implemented.

The later (that can be used to implement the recent version) is mapped to a column_family stat called:
estimated_sstable_per_read
(how many sstable were used while reading)
That stat need to be updated

[2016-02-21 12:49] vladzcloudius commented on #896
On 02/21/2016 11:48 AM, Pekka Enberg wrote:

I think we should and it should be tested of course.

[2016-02-21 12:51] amnonh commented on #697
This is mapped to the storage_proxy stats read_repair_attempts.

The counter is increment in:
storage_proxy::get_read_executor

I haven't compare the code to cassandra, but maybe it is incremented prematurely

[2016-02-21 13:39] amnonh opened #928 "storage_service::effective_ownership is broken"
After creating keyspace: keyspace1, calling the ownership api:

curl -X GET "http://localhost:10000/storage_service/ownership/keyspace1"

returns: "Attempt to access value of a disengaged optional object"

The effected nodetool command is nodetool status

[2016-02-21 13:40] amnonh commented on #893
Could be related to #928

[2016-02-21 13:50] slivne commented on #911
with branch-0.18 this is what I get

[code]

[2016-02-21 13:51] slivne commented on #924
this seems similar to #911 - that can be locally reproduced with dtest - so lets fix #911 and see if it resolves this as well

[2016-02-21 15:11] slivne commented on #926
We may need todo in such cases is todo nodetool status on all the nodes to see what the membership of the nodes in the cluster

Another option dor raised is to add a mega debug function thats dumps the server status - and that we will be able to activate it if we need to debug the status

[2016-02-21 17:01] tgrabiec commented on #916
Should be fixed by 0c8db777b1b7f76925437c79dad2115e4d78341e

[2016-02-21 17:01] #916 closed

[2016-02-21 18:08] tzach opened #929 "Improve cassandra-stress to support multi DC testing"
cassandra-stress (c-s) is our go to tool for benchmark.
It will be useful if we can use it to benchmark Scylla/Cassandra cluster on failures, in particular DC failures.

c-s chose which DC to work in the client builder code.
Currently c-s is using the default, DCAwareRoundRobinPolicy() which creates a new datacenter aware round robin policy, with one, random DC.

There is also a DCAwareRoundRobinP

[2016-02-21 19:47] tgrabiec commented on #927
The new visiting code builds cell instances using `atomic_cell::make_*()` factory methods, which won't work in LSA context because they (implicitly) depend on managed_bytes storage to be linearized. It may not be since large blob support. This worked before because we created cells from views before which works in all contexts.

I'm cooking a quick patch.

[2016-02-22 02:23] asias commented on #911
The problematic line is

[code]

the end() of range r might not contain a valid token.

@tgrabiec how about:
[code]

[2016-02-22 07:28] asias commented on #911
Tested with the range patch. no panic, 20 out of 20 runs locally.

[2016-02-22 08:56] syuu1228 opened #930 "scylla aborts on CentOS with "terminate called after throwing an instance of 'std::experimental::fundamentals_v1::bad_optional_access' what(): Attempt to access value of a disengaged optional object""
Getting following error on latest build

[code]

[2016-02-22 08:59] asias commented on #795
The assert is about we can not find the entry in endpoint_state_map of the node itself.  I checked the code. I can not really find any place we could call add_local_application_state before we call gossiper::start_gossiping() where it inserts broadcast address into endpoint_state_map.

[2016-02-22 09:05] avikivity commented on #930
Please attach a stack trace and upload a core somewhere, together with the full version of the rpm.

[2016-02-22 09:36] amnonh commented on #850
After further investigation, the problem is because the call to
 service::get_local_storage_service().get_load_map while removenode is running stuck.

probably because it uses run_with_read_api_lock

To reproduce create a cluster with multiple nodes, kill a node and remove it with nodetool removenode.

While the removenode is running call:
curl -X GET "http://localhost:10000/storage_service/load_m

[2016-02-22 09:47] noamha commented on #810
Tried to reproduce the bug, Scylla didn't handle the pressure of both stress & joining of a new node.
Configuration:
- 3 nodes x Rackspace 15 GB I/O v1
- 2 stress x Rackspace 15 GB I/O v1

1. Start with writing 10M keys:
[code]

2. nodetool status
[code]
3. After 10M were written, running another stress while joining the 4th server:
[code]
Scylla was at around 50% load while stress was running, an

[2016-02-22 09:50] tgrabiec commented on #182
Digest calculation, in addition to tombstones, should also hash partition and clustering keys. Otherwise we may get same digest even though the result would be different after merging corresponding mutations.

[2016-02-22 10:03] vladzcloudius commented on #810
On 02/22/2016 11:47 AM, noamha wrote:

I'm not sure the above scenario completely reproduces the one Dor has
described/run (@dorlaor ?).
AFAIU Dor first ran the stress to populate the cluster and then added a
new Node.
But regardless the above, is this scenario expected to converge? Clearly
the bootstrapping node will not be able to complete the streaming while
the stress is running, however QUORU

[2016-02-22 12:10] #722 closed

[2016-02-22 12:13] amnonh commented on #684
Depends on #677

[2016-02-22 13:46] amnonh commented on #444
I'm comparing the version, what cassanra version are you using? When I try with cassandra 2.18 the output seems the same

[2016-02-22 14:50] tzach commented on #444
There is different output format between Cassandra 2.1.8 and 2.1.11
Scylla is compatible to the first, so this is not a bug.

[2016-02-22 14:50] #444 closed

[2016-02-22 14:55] syuu1228 commented on #930
Sorry, it was caused by my local changes, not clean tree

[2016-02-22 14:55] #930 closed

[2016-02-22 15:25] elcallio commented on #514
Fwiw, I've committed an initial implementation in seastar-dev, calle/bulkloader.
Somewhat rudimentary, and almost wholly untested (please suggest good sources of sstables with "weird" content).

Also, to quote code comments:

[code]

[2016-02-22 15:35] avikivity commented on #514
In the internal protocol, we introduced a "collections_as_maps" option (cf.) to solve the same problem.  We might add a private extension to the cql protocol to support this.

(we might need an extension to the language, too)

[2016-02-22 15:36] amnonh commented on #815
It doesn't seem to be the same problem, is the problem reproducable?

[2016-02-22 15:37] avikivity commented on #514
Probably would not need an extension to the language, just when the option is set, a list index becomes a uuid instead of an integer.

[2016-02-22 15:39] dorlaor commented on #514
We can try to push a solution to C* upstream but not block on it

On Mon, Feb 22, 2016 at 5:37 PM, Avi Kivity <notifications@github.com>
wrote:

[2016-02-22 16:02] elcallio commented on #514
Again, fwiw, the Cassandra java driver seems ok with transmitting the "list[?] = ?" , <uuid>, <value> statement. But as soon as it reaches the server, it of course breaks.
Unfortunately, getting a new options field through the Java driver requires modifying the driver code itself, as there is no "user level" option to extend it. And nothing to override.

[2016-02-22 16:04] avikivity commented on #514
We could have our own little fork.

Or simply assume that a 16-byte value is a uuid (and verify it has the same format) vs. a 4-byte value for normal operations.

[2016-02-22 16:05] avikivity commented on #514
Maybe a fake column `update foo set xxx_scyla_list[?] = ?` will trigger the special behavior?

[2016-02-23 05:58] tzach commented on #912
@morpheyesh that will be much appreciated
I know of at least one more person with the same issue

[2016-02-23 06:36] morpheyesh commented on #912
Yes.  Fixing it up. :)
On 23 Feb 2016 11:28 am, "Tzach Livyatan" <notifications@github.com> wrote:

[2016-02-23 07:08] asias commented on #483
@slivne I think we can close this one now.

[2016-02-23 07:10] asias commented on #22
@slivne I think this issue is resolved for a long time.

[2016-02-23 07:24] #483 closed

[2016-02-23 07:25] #22 closed

[2016-02-23 07:37] asias commented on #771
Any updates on this issue?

[2016-02-23 08:23] gleb-cloudius commented on #182
On Mon, Feb 22, 2016 at 01:50:46AM -0800, Tomasz Grabiec wrote:

I am not sure I understand. When we do query::result queries we do not
merge anything. When we need to reconcile we ask for
reconcilable_result.

--
			Gleb.

[2016-02-23 08:55] tgrabiec commented on #182
@gleb-cloudius

We don't merge because it is assumed that if digests match we don't have to. If someone requested to query with given CL, it means the results should take into account all data on replicas needed to meet CL. If result could be different after merging mutations from replicas, digests should not match.

For example:

[code]

Query `select v from tb limit 1;` would return the same on

[2016-02-23 09:10] gleb-cloudius commented on #182
On Tue, Feb 23, 2016 at 12:55:11AM -0800, Tomasz Grabiec wrote:

This is interesting example you have here. It means that our current
code will return incorrect result for this case, so the bug priority should
be raced. But wouldn't including only tombstone into calculation fix
this particular example?

--
			Gleb.

[2016-02-23 10:12] tgrabiec opened #931 "Scylla should not create row markers in tables with compact storage"
In cqlsh:
[code]

C* 2.1.9:
[code]

Scylla:
[code]

[2016-02-23 10:32] tgrabiec commented on #182
I also think we should raise priority.

Regarding tombstones being enough in this particular example - that depends how we choose which tombstones to hash. If we only include tombstones affecting data which appears in the results, then it wouldn't be enough because tombstone from node2 would not be included in the digest as it doesn't affect ck=2. The tombstone precedes live data in this case so i

[2016-02-23 10:41] tgrabiec commented on #804
Should be fixed by 8ba474f1c963a43d571d33a2cf7fbb54f108b7b2

[2016-02-23 11:27] penberg commented on #571
I think I found the problem. Assigning to myself.

[2016-02-23 11:35] penberg commented on #804
@gleb-cloudius reported that https://github.com/scylladb/scylla/commit/8ba474f1c963a43d571d33a2cf7fbb54f108b7b2 indeed fixes the issue. Closing.

[2016-02-23 11:35] #804 closed

[2016-02-23 11:37] #571 closed

[2016-02-23 11:42] gleb-cloudius commented on #182
On Tue, Feb 23, 2016 at 02:32:57AM -0800, Tomasz Grabiec wrote:

We should hash all tombstones that would otherwise made it into
reconcilable_result. It means all tombstones that was seen until
enough rows were collected plus all tombstones until next live row.

--
			Gleb.

[2016-02-23 12:33] #910 closed

[2016-02-23 12:36] tgrabiec commented on #182
@gleb-cloudius Why is that? I think it is neither necessary nor sufficient to include the same set of tombstones in data query digest (needed to detect whether reconciliation is needed) as we do during reconciliation itself.

It is not sufficient to include just tombstones until next live row. Example. There are no tombstones until next live row (ck=3) on current node, the other node is missing ck

[2016-02-23 12:59] penberg commented on #853
The test now fails as follows when there's a large enough tuple being created with ``CREATE TABLE``:

[code]

@avikivity, @tgrabiec, is this an issue in ``managed_bytes::data()`` or in ``atomic_cell_type::make_live()``?

[2016-02-23 13:05] penberg commented on #853
Oh, looks like the problem is reported in https://github.com/scylladb/scylla/issues/927. @tgrabiec, ping?

[2016-02-23 13:15] penberg commented on #864
@avikivity, I guess you mean ``mallopt`` but I don't really see anything there that helps us. Wouldn't setting ``RLIMIT_DATA`` do the trick?

[2016-02-23 13:20] slivne opened #932 "backup_restore_tests.py:TestBackupRestore.failure_durring_snapshot_no_corrupt_data_test fails"
head commit 4ff1692248a8c7fdbba6d76cd7a755c0daa8000a
Author: Pekka Enberg <penberg@scylladb.com>
Date:   Mon Feb 22 15:45:19 2016 +0200

    cql3: Make 'CREATE TYPE' error message human readable

    We don't support the 'CREATE TYPE' statement for now. The user-visible
    error message, however, is unreadable because our CQL parser doesn't
    even recognize the statement.

      cqlsh:ks1> CREA

[2016-02-23 13:29] #911 closed

[2016-02-23 13:42] tgrabiec commented on #853
@penberg Patches are on the mailing list

[2016-02-23 13:43] dorlaor opened #933 "Package scylla-top.py in scylla-tools"
We need it and also its dependencies (collectd plus configuration)

[2016-02-23 13:47] avikivity commented on #864
`RLIMIT_DATA` might just cause nasty crashes.

We can use `mallinfo::uordblks` to check whether to allow a new lsa segment or not.  But IIRC we already have some limit there.

[2016-02-23 13:47] gleb-cloudius commented on #182
On Tue, Feb 23, 2016 at 04:37:01AM -0800, Tomasz Grabiec wrote:

Right.

We use non reconcilable results for singular queries only, so checking
primary key is in fact redundant.

We wanted to hash tombstones not for correctness, but to repair if they
do not match. Otherwise much more heavy repair mechanism will kick in.

--
			Gleb.

[2016-02-23 13:49] penberg commented on #853
OK, with Tomek's patches, I am now able to reproduce the issue. Turns out the exception is coming from commitlog:

[code]

[2016-02-23 13:53] penberg commented on #853
Oh, there seems to be a 65K limit to column types for commitlog. @elcallio, why is that?

[2016-02-23 14:05] elcallio commented on #853
? Commit log has no limits (and indeed no knowledge of even) the particulars of serialization. It just operates on blobs. The only limit is the "max_mutation_size", which is dependent on the segment size, and is minimum 500k. That is for the whole serialized blob.

Actual generation of blob to put in commit log is done on the DB level.

[2016-02-23 14:06] penberg commented on #853
This fixes the issue for me:
[code]

[2016-02-23 14:21] penberg commented on #853
So the issue here is that ``abstract_data_type::name`` returns a ``sstring`` and we end up calling ``data_output::write()`` which has a hard-coded assumption that strings are not longer than 65K.

I am not sure what the right thing to do here is. Ping @avikivity, @elcallio .

[2016-02-23 14:40] tzach commented on #931
@tgrabiec why is Scylla wrong here?
Its look like a C* bug to me

[2016-02-23 14:41] #927 closed

[2016-02-23 14:50] raphaelsc opened #934 "column_family::discard_sstables crashes after running scylla for a while"
Jason Wang reported the following: "
Hi, I keep getting this error when experimenting with Scylla locally by running my application test suit against it.
Can anyone shed some light on what could be causing this failure?

The test suite consistently runs for around 30min and then scylla crashes with the following error.

scylla: database.cc:2278: future<db::replay_position> column_family::discard_s

[2016-02-23 14:55] raphaelsc commented on #934
@elcallio thoughts?

[2016-02-23 15:24] elcallio commented on #934
You are correct about the intent. And looking at the (current) code, it seems you are right about the mistaken meaning of the field as well. However, it could be noted, since run_with_compaction exists, and can remove a column_family from the compaction_manager, it would seem we could end up with _pending_compaction set to > 0 forever, if we inc, add, then run suddenly remove it before compaction

[2016-02-23 15:27] raphaelsc commented on #934
@elcallio Agreed. Feel free to send the patch.

[2016-02-23 15:35] elcallio commented on #758
So, I'm not sure what you want me to do with this? Is the intent/desire to have a sigaction+unwind code combo in seastar (or just scylla), or is the preferred course of action some sort of augument to the scylla startup scripts, systemd config or whatnot?
The former I've written enough times to handle (though not sure where we want to put this - seems like a scylla:main specific maybe?), but syste

[2016-02-23 15:41] elcallio commented on #934
Will do.

[2016-02-23 16:01] avikivity commented on #758
backtrace in scylla will reduce its quality because it will inject our own symbols into it.  I'm for letting systemd do its work.

[2016-02-23 16:08] tgrabiec commented on #853
@penberg `db::serializer<column_mapping>` has just been replaced by the one generated from IDL schema. sstrings are serialized using 32-bit length there.

[2016-02-23 16:26] tgrabiec commented on #931
@tzach C* is pretty explicit about inserting markers only in cql3 tables. Note that the table is created with `compact storage`, which is a thrift compatibility mode. Perhaps they can't just piggy back on some cell names to represent the row marker because those names might be used by existing thrift code for something else.

[2016-02-23 16:39] penberg commented on #853
Fixed by https://github.com/scylladb/scylla/commit/f72fd9eefd356fc5e6fff36b6839a1fa69cf9677

[2016-02-23 16:39] #853 closed

[2016-02-23 16:57] elcallio commented on #934
Actually, @raphaelsc, it looks to me that pending_compactions is broken in other ways as well.
If we call trigger_compaction, the counter is incremented, andthen we call compaction_manager::submit, which adds it to the queue (setting the flag in cf).
But if we call it trigger_compaction again, before the queue is processed, it will not be re-added, and thus run_compaction is only run once -> count

[2016-02-23 18:57] raphaelsc commented on #934
@elcallio: Sorry for the confusion, but column_family will be kept queued by compaction manager as long as _pending_compactions > 0. In case of run_with_compaction_disabled(), column family be removed from compaction manager even if _pending_compactions > 0. By the way, compaction manager decision to re-schedule a compaction for a column family is based on _pending_compactions. If _pending_compact

[2016-02-23 19:32] syuu1228 commented on #933
If we want to package scylla-top.py in scylla-tools, we have to move scylla-top.py codes to scylla-tools repository.
Otherwise, we can create scylla-top package in scylla-server repository.

[2016-02-23 19:38] syuu1228 commented on #892
I read ABRT docs, but I really don't find a way to keep coredump but not let handles by ABRT.
I think we have two choices:
- Just drop scylla coredump when user using ABRT. No report on journal, no coredump.
- Keep conflict with ABRT.

[2016-02-23 19:40] syuu1228 commented on #784
Any ideas?

[2016-02-23 19:45] syuu1228 commented on #913
Sent [PATCH scylla 0/6] introduce scylla-io-setup.service.

[2016-02-23 19:47] syuu1228 commented on #507
Avi fixed Fedora at https://github.com/scylladb/scylla/commit/1b49c0ce19d22b891f3cd4161cfe2a809ab64c06, and I fixed Ubuntu at https://github.com/scylladb/scylla/commit/5a213341a4821990f9c3b72ae17ac9b92c9479a3 so please close it.

[2016-02-23 20:33] akxs14 commented on #912
Hi @morpheyesh , any estimation when we'll see the solution?

[2016-02-23 22:47] lmr commented on #925
@avikivity, I thought about the tmpfs comment you made. I can't think of anything special that the test suite does other than keeping one ssh connection open for the log thread/executing commands in the node.

I'm thinking about disabling tmp on tmpfs (`systemctl mask tmp.mount`), but maybe that's a bad idea, since it would mask issues that users could potentially have.

[2016-02-24 02:01] asias opened #935 "commitlog_replayer - error replaying: std::out_of_range (deserialization buffer underflow)"
I saw the following  with latest master:

commit 79bcb5a616fb3fc1b9b02bcb497f4a5fe6123cab
Author: Tomasz Grabiec <tgrabiec@scylladb.com>
Date:   Tue Feb 23 19:12:54 2016 +0100

    tests: Fix build of memory_footprint

in update_cluster_layout_tests.py:TestUpdateClusterLayout.simple_decommission_node_2_test dtest.

[code]

The test fails now. Any changes in commitlog recently?

[2016-02-24 06:21] penberg commented on #935
This commit changed the format of commitlog:

https://github.com/scylladb/scylla/commit/f72fd9eefd356fc5e6fff36b6839a1fa69cf9677

I am guessing it's not backwards compatible. Ping @tgrabiec

[2016-02-24 06:29] asias commented on #935
On Wed, Feb 24, 2016 at 2:21 PM, Pekka Enberg <notifications@github.com>
wrote:

I deleted all the data before the test. No old data should exist.

--
Asias

[2016-02-24 07:01] gwicke opened #936 "Support BTRFS (was: Support bind-mounted data volumes in docker container)"
It would be useful to be able to use bind-mounted data directories for somewhat more realistic performance evaluations. However, when starting the docker container with bind-mounted /var/lib/scylla (with config or without), startup does not finish:

[code]

It just sits there, and never reaches:

[code]

[2016-02-24 07:04] avikivity commented on #936
Is /tmp/scylla on tmpfs? If so, try xfs. tmpfs has strange behavior with aio.

[2016-02-24 07:05] gwicke commented on #936
/tmp/scylla is on btrfs in this case.

[2016-02-24 07:06] asias commented on #909
@vladzcloudius any updates on the newer version of your fix?

[2016-02-24 07:25] dorlaor commented on #936
btrfs is also unfriendly towards aio which will ruin performance (thought
it should work).
XFS is the only proper path towards performance.

On Wed, Feb 24, 2016 at 9:05 AM, Gabriel Wicke <notifications@github.com>
wrote:

[2016-02-24 07:49] penberg commented on #936
@gwicke @dorlaor, I am running btrfs on my development machine and it is not just unfriendly towards AIO/DIO, it's totally unusable I am afraid.

[2016-02-24 07:52] vladzcloudius commented on #909
On 02/24/2016 09:06 AM, Asias He wrote:

@asias Still hunting a root cause. The /epoll_pwait()/ doesn't return
for some connections (their underlying sockets) after they are supposed
to be /shutdown()/). A sample application  I cooked proved that when a
connection is shutdown() for read or for read-and-write the
corresponding /epoll_wait()/ immediately returns with a EPOLLHUP event.
However after

[2016-02-24 08:04] avikivity commented on #936
Still doesn't explain why it doesn't start up. @gwicke please attach an strace -fF -ttT

[2016-02-24 08:08] avikivity commented on #925
@lmr how about logging into such a machine and running `df`?

At least that `cp` process was writing to `/tmp`, maybe it isn't cleaned up afterwards?

[2016-02-24 08:19] tgrabiec commented on #935
That's right, there was a backwards incompatible change of commit log data.

[2016-02-24 08:39] slivne commented on #935
To make it clearer

The test itself does not use "old" format of commitlogs - if any commitlog
files are created they are created at runitme and are replayed because a
node was shutdown in the test and then started back up.

As such the issue is in the same code base we are creating commitlogs and
are not able to replay them for some reason.

It may a change in flushing as well I guess

One item t

[2016-02-24 08:55] penberg commented on #795
@asias, ``endpoint_state_map`` is populated only on CPU0, right? Perhaps we're calling ``add_local_application_state`` from the wrong CPU?

[2016-02-24 08:59] asias commented on #795
On Wed, Feb 24, 2016 at 4:55 PM, Pekka Enberg <notifications@github.com>
wrote:

It is replicated to all the other cores from cpu 0, but we should only call
it on cpu 0.

--
Asias

[2016-02-24 09:05] penberg commented on #795
@asias The replication of ``endpoint_state`` happens in ``gossiper::run()``, right? Is it possible that someone calls ``add_local_application_state()`` before ``_scheduled_gossip_task`` is actually scheduled and run?

[2016-02-24 09:07] slivne commented on #934
@elcallio @raphaelsc  - who is working on creating a patch for this ?

[2016-02-24 09:09] elcallio commented on #935
The IDL for "commitlog_entry" uses std::experimental::optional<column_mapping> in the idl type.
A wild guess might be that the serialization/deserialization of this lacks in symmetry?

[2016-02-24 09:12] asias commented on #795
On Wed, Feb 24, 2016 at 5:05 PM, Pekka Enberg <notifications@github.com>
wrote:

It is possible, but no one should call add_local_application_state on
non-zero core.

—

--
Asias

[2016-02-24 09:12] amnonh commented on #935
On Wed, Feb 24, 2016 at 11:09 AM, Calle Wilund <notifications@github.com>
wrote:

Could be, for writer and reader optional support is not merged yet and was
fully tested. but for serialization/deserialization it's being there
for some time.

I'm trying to create a test for it to see if there are problem with
serialization.

[2016-02-24 09:12] elcallio commented on #934
I am. I'll send it asap.
I'm taking the liberty of cleaning up the semantics/usage of the counter a little, plus adding some comments.

[2016-02-24 09:49] syuu1228 commented on #913
Merged at https://github.com/scylladb/scylla/commit/e993102cb555c9f89776325130962301482380b3, so please close this.

[2016-02-24 10:02] elcallio opened #937 "Snapshow for truncation broken"
When fixing #884, the logic guarding the snapshot sync logic was broken as well, causing a truncate snapshot to never finish.
The problem is that snapshot uses the snapshot name as key for synchronizing all shards (quite reasonable), but the truncation logic now uses per-shard time stamps -> slightly different "names" (snapshot-<time>).

[2016-02-24 10:55] slivne commented on #924
#911 was fixed need to validate if this is fixed as well - if not @asias will take a look

[2016-02-24 10:55] slivne commented on #900
patch has been sent - working on updating unitest

[2016-02-24 11:07] tgrabiec opened #938 "Performance regression in perf_simple_query after changing frozen_mutation to use IDL"
faster = 63307437759f228597109d59700bee3151310326
slower = bba2034957ae3b579219fbe733abeb4d6881e628

command line:

[code]

faster does ~200K
slower does ~150K

flame graphs attached.

[flamegraphs.zip](https://github.com/scylladb/scylla/files/144425/flamegraphs.zip)

[2016-02-24 11:10] slivne commented on #721
@vladzcloudius in Jepsen are there other tests for unstable network in other stages that we do pass - I want to understand if scylla works well in an unstable network post bootstrap - and only in bootstrap we have an issue.

[2016-02-24 11:15] penberg commented on #912
The issue can be reproduced by running the ``TestRingDiscovery`` integration test in gocql. I'm reopening the issue.

[2016-02-24 11:23] slivne commented on #810
@noamha we did not set io-parameters - lets try to set io-parameters and see if this works better

By setting io parameters we will limit the read bandwidth that streaming is getting from the disk and make all the consumers of io share the bandwitdh

We still have the issue that we are not macing out the io capacity, cpu #882 -

So as before lets try running a non stressing write workload in paral

[2016-02-24 11:26] tgrabiec opened #939 "[IDL] Add vector_view<>"
The generated getter of a vector field currently deserializes the whole vector into `std::vector`:

[code]

It should return iterable `vector_view<qr_partition_view>` for low overhead iteration.

[2016-02-24 11:28] slivne commented on #937
Lets add a test as well - this should fail in regression

[2016-02-24 11:52] tgrabiec opened #940 "[IDL] "bytes" field getters in views should return bytes_view"

[2016-02-24 11:55] tgrabiec opened #941 "Prepend stdout logs with time of event"
Useful for determining order of events in logs of different nodes, or for estimating how much time passed between two events.

[2016-02-24 12:05] vladzcloudius commented on #721
On 02/24/2016 01:10 PM, slivne wrote:

@asias In addition to bootstrap tests jepsen has decommission and crash
(kill -9 and then start the node again) modes and there are a few
combinations of these, e.g. bootstrap + crash.

I can't tell how are we doing in any of them right now since I haven't
run the whole suite for a long time.

[2016-02-24 12:13] asias commented on #900
Patch merged.
On Feb 24, 2016 6:56 PM, "slivne" <notifications@github.com> wrote:

[2016-02-24 12:43] #912 closed

[2016-02-24 12:45] avikivity commented on #933
We can have a scylla-top repository.

[2016-02-24 12:47] syuu1228 commented on #933
Maybe 'git clone https://github.com/scylladb/scylla-top.git' in scylla-tools-java's package build script?

[2016-02-24 12:47] syuu1228 commented on #933
Or submodule

[2016-02-24 12:47] slivne commented on #933
I don't understand why a different repo - we are going to potentially have many tools - each will have its own repo ?

[2016-02-24 12:50] avikivity commented on #933
scylla-tools-java is for cassandra-derived tooling, let's not push more stuff there.

[2016-02-24 12:51] avikivity commented on #933
We can have a scylla-tools.git that has scylla-tools-java as a submodule, but we don't really need to add submodules here

[2016-02-24 12:53] syuu1228 commented on #933
Maybe we can create scylla-tools repo, for new stuff + packaging script,
scylla-tools-java can refer as submodule from here

2016年2月24日水曜日、Avi Kivity<notifications@github.com>さんは書きました:

[2016-02-24 12:55] #817 closed

[2016-02-24 13:10] #900 closed

[2016-02-24 13:15] vladzcloudius commented on #932
@penberg @slivne  What happens is that `nodetool snapshot` does not manage to flush the tables' data to disk before node is being killed. However in this case the data expected to be restored from a commit log when the node is restarted. @elcallio could take a look, pls.?

[2016-02-24 13:21] avikivity commented on #933
Let's just package it in scylla-server for now.

[2016-02-24 13:58] elcallio commented on #937
Note that the APIs and function in use for truncate and
snapshot are at best slightly misleading, since they give
the impression of being ordinary instance methods, yes require
caller to ensure they are invoked on all (active) shards.
A better approach would probably be to have database and
column_family static truncate/snapshow methods that accept
a distributed<type> as parameter instead, and hid

[2016-02-24 15:04] elcallio commented on #935
I could repro this just fine.
The out-of-bounds happens after commitlog_entry has been deserialized, when the code is actually trying to use frozen_mutation::column_family_id(), which in turn uses the generated mutation_view partial deserialization.
Whether or not there is an actual error there, or if simply the frozen_mutation is corrupted in itself, I have not been able to determine yet.

[2016-02-24 15:24] elcallio commented on #935
Update, seems the frozen_mutation part of the commitlog_entry contains only zeroes, which would be why we get an underflow (skip<read_int> - sizeof(int) -> skip <0-4> -> skip <high number>)

[2016-02-24 15:43] noamha opened #942 "Streaming seems to read small chunks (20K blocks from disk)"
Configuration:
- 4 nodes x Rackspace OnMetal IO v1 CentOS 7.0
- Scylla 0.18 Head

Steps:
- Started a 3 nodes cluster
- Init Keyspace on all 3 servers

[code]
- Populate with 5M keys
  time cassandra-stress write cl=TWO n=5000000 -mode native cql3 -rate threads=700 -node $SERVERS -pop seq=1..5000000 -col 'size=FIXED(2048) n=FIXED(5)'
- Write a constant very low stress
  time cassandra-stress write

[2016-02-24 15:48] amnonh commented on #935
Do you know if the all zero buffer is in the writing or the reading?

On Wed, Feb 24, 2016 at 5:24 PM, Calle Wilund <notifications@github.com>
wrote:

[2016-02-24 15:55] noamha opened #943 "Nodetool status - Load not accurate"
Configuration:
- 4 nodes x Rackspace OnMetal IO v1 CentOS 7.0
- Scylla 0.18 Head

After writing some data using stress tools nodetool status load shows:
[code]
530GB, while actual disk usage under data folder is 776GB.
Restarting syclla service updates to a more accurate metric
[code]

[2016-02-24 16:01] elcallio commented on #935
Only gotten so far as to see its what it manages to deserialize after a while.

[2016-02-24 16:03] glommer commented on #386
Let's just keep in mind that one c3.x8large client is probably able to generate around 250k ops/sec or more for that C*-S command line. I have been using half the CPUs for loaders (m4), and could do 200k ops/sec. The first thing that strikes me as odd here is that the first client seem to be generating less than half of that. Something fishy on the client side, maybe?

The c3.x8large as a server w

[2016-02-24 16:30] syuu1228 commented on #892
I still think best way to solve #892 and #784 is use scylla_save_coredump by default.
If it is not acceptable, then should use systemd-coredump.
With ABRT and BlackListedPaths= setting, you won't able to know why scylla was crashed. And also not able to report it to us.

[2016-02-24 16:38] noamha opened #944 "Repair is chocking the disk"
Configuration:
- 4 nodes x Rackspace OnMetal IO v1 CentOS 7.0
- Scylla 0.18 Head

Steps:
- Started a 3 nodes cluster
- Init Keyspace on all 3 servers
[code]
- Populate with 5M keys
time cassandra-stress write cl=TWO n=5000000 -mode native cql3 -rate threads=700 -node $SERVERS -pop seq=1..5000000 -col 'size=FIXED(2048) n=FIXED(5)'

- Write a constant very low stress
time cassandra-stress write cl=T

[2016-02-24 16:59] #937 closed

[2016-02-24 17:00] syuu1228 commented on #933
Looks like it depends on collectd, and requires configuration on /etc/collectd.conf.
Probably add another script to configure collectd.conf on scylla_setup?

[2016-02-24 17:22] syuu1228 opened #945 "got trackback on scyllatop"
Not sure how reproduce this, but seems related to screen rendering since it is curses error.

[code]

[2016-02-24 17:24] syuu1228 opened #946 "Setup collectd for scylla"
Setting up collectd.conf for scylla-server and scyllatop, on scylla_setup script.

[2016-02-24 19:56] glommer commented on #944
Hi @noamha. Please clarify two things for me:

* from which node you took those iostat figures from.
* at which point in time was the node taken down and up again. Since the x axis in the graphs are time-annotated, that will help me correlate.

What I can tell from these graphs in an initial look, is that it seems to me that the streaming class is not properly annotated. Gleb seem to be seeing the

[2016-02-24 20:39] lmr commented on #925
@slivne I have repeated the test, with a smaller time interval between nemesis executions (5 minutes), using the latest released AMI `ami-be84f5de`, and I couldn't reproduce this specific issue. In this new run, c-s dies after about an hour of execution.

    07:27:58 remote           L0773 DEBUG| Remote [centos@54.193.31.255]: Running 'cassandra-stress write cl=QUORUM duration=1440m -schema 'repl

[2016-02-24 20:46] lmr commented on #926
This test was repeated with a shorter nemesis interval, and the result was the same, only the stresser survived for less time (now ~2.5 hours):

    07:28:21 remote           L0773 DEBUG| Remote [centos@54.67.8.166]: Running 'cassandra-stress write cl=QUORUM duration=1440m -schema 'replication(factor=3)' -port jmx=6868 -mode cql3
     native -rate threads=4 -node 172.31.25.176'

    ...

    09:40

[2016-02-24 20:51] lmr commented on #924
I have repeated this with a smaller nemesis interval (5 minutes), and I could not reproduce the core dump generation. Cassandra-stress doesn't survive, though. I found a new message in the logs that I don't recall seeing before:

    08:02:05 remote           L0182 DEBUG| [54.187.237.202] [stdout] Feb 24 08:02:08 ip-172-31-46-134 scylla[2073]:  [shard 1] gossip - unknown endpoint 172.31.38.235

[2016-02-24 20:55] lmr commented on #924
About the error message, this 'unknown endpoint' is cluster node 6:

    08:00:05 cluster          L0156 DEBUG| Node decommission_monkey-scylla-db-node-4ab2fb3c-6 [54.201.121.122 | 172.31.38.235] (seed: None): SSH access -> 'ssh -i /var/tmp/decommission_monkey-longevity-test-dc3c5817.pem centos@54.201.121.122'

[2016-02-24 21:24] glommer commented on #944
Also @noamha , can you post the I/O queue configuration for those machines?

[2016-02-25 00:25] glommer commented on #944
I stand corrected about my first comment: the streaming class is empty in one of the figures, but it is active in another. It seems to me now that the one of them represents the state of the cluster before the node is stopped, and the other represents the state of the cluster after the node is stopped (around 16:27). If that is the case, that's not the problem.

[2016-02-25 01:04] asias commented on #308
I can not reproduce this with head (3 out 3 runs)

commit fedba9d6cd475e0f0e661e0a57f0ff60fdbe9d17
Merge: b42a32e 697b164
Author: Avi Kivity <avi@scylladb.com>
Date:   Wed Feb 24 13:44:06 2016 +0200

with the same c-s cmd. I think we can close the issue now.

[2016-02-25 01:05] asias commented on #795
I've sent patch to the list to make add_local_application_state can be called on all the cores.

[2016-02-25 01:44] glommer commented on #386
Ok.

I had some issues running our latest AMI, but then I remembered I had an old c3 VM around. It is still running Fedora, but I believe it shouldn't be an issue.

Also, I am configuring the I/O queues manually, but I am doing so with the recommended parameters for c3. So we may still have some lingering bugs if the AMI is, for any reason not set properly.

I have been running this for some 20 mi

[2016-02-25 02:10] glommer commented on #386
After one hour, everything is fine.

Since this bug dates back to September and a lot of work has been done in areas that were expected to fix this behavior, I would say this is fixed.

@asias please close this.

[2016-02-25 02:11] #386 closed

[2016-02-25 02:42] asias commented on #924
@lmr since you reduced nemesis interval to 5 minutes, when the next decommission starts, does the previous decommission finish? The log comes from
[code]
The log shows, we called gossip::is_alive against a node which is removed inside gossip.
Is the ip 172.31.38.235 from the node we just decommissioned?

Do you still see the warning if you increase interval a bit, like 15 minutes.

[2016-02-25 07:52] #308 closed

[2016-02-25 08:35] slivne commented on #482
Peka wrote:

http://jenkins.cloudius-systems.com:8080/job/urchin-dtest/label=monster,mode=debug/769/testReport/repair_test/TestRepair/simple_parallel_repair_test/

We see the following assertion failure in one of the nodes:

INFO  [shard 0] stream_session - [Stream
#9257a1d1-db63-11e5-804f-000000000000] Creating new streaming plan for
repair-in, with 127.0.0.1
INFO  [shard 0] stream_session - [Str

[2016-02-25 08:35] #946 closed

[2016-02-25 09:03] slivne commented on #944
io configuration was 160 requests 40 queues

with regards to the graphs

the bottom was taken while the clustrer was running with 3 nodes under the same stress and in synch prior to removing files and doing repair

The upper graph has the stop of the node3, removal of files, start of node3, run repair on node3

with regards to iostat extraction I am not sure on which machine we ran that.

Two gene

[2016-02-25 09:48] slivne commented on #944
I think that  it also explains why streaming is effecting a write workload so much - we are streaming mutations that enter commitlog and memtables we have a new "heavy" consumer of bandwidth added to the same pool that is taking a large part - if we would account for them differently then we could associate them to the streaming class and make sure we are capping  streaming "correctly"

[2016-02-25 10:49] penberg commented on #945
@syuu1228 I think the error means that ``addstr()`` attempted to write beyond window boundaries.

@haarcuba, I guess we need to truncate the output to fit the screen?

[2016-02-25 11:25] penberg commented on #822
The operation times out because it takes too long time to process the request. I increased the timeout to 120 seconds but it's still not enough.

``perf top`` points to ``prepare_column_identifier`` taking a lot of time which suggests that we enter an infinite loop in ``update_statement::parsed_insert::prepare_internal``.

[code]

[2016-02-25 11:31] avikivity commented on #822
Quadratic behavior:

[code]

[2016-02-25 11:34] avikivity commented on #822
Some magic like

    boost::adjacent_find(boost::irange | transformed(prepare_column_identifier) | sorted)

might do the trick

[2016-02-25 13:39] penberg commented on #822
@benoit-canet Cassandra 2.1.8 is not able to deal with higher than 16777215 limit either. Is the test case actually sane?

[2016-02-25 13:41] slivne commented on #810
Closing this issue as we are not able to reproduce the core

Performance issues related to adding new node #942

[2016-02-25 13:41] #810 closed

[2016-02-25 13:42] penberg commented on #934
The commit was reverted because it broke ``sstable_test``, reopening the issue:

https://github.com/scylladb/scylla/commit/a4d92750ebdf94f8635504f27688e8072ebac18e

[2016-02-25 13:44] benoit-canet commented on #822
Pekka: I am often confronted to the fact that before scylla limits are
removed I cannot
test my test code. So sorry  if the test is broken. I'll check this on
sunday. I also noticed
some issues in the python casssandra wrapper while writting the tests that
where limiting
blob size for example.

Best regards

Benoît

On Thu, Feb 25, 2016 at 2:39 PM, Pekka Enberg <notifications@github.com>
wrote:

[2016-02-25 13:46] penberg commented on #822
@benoit-canet Oh, don't worry about it. I am just wondering if there's actually anything to fix here on Scylla side as we seem to have the same limits as Cassandra already.

[2016-02-25 13:56] slivne commented on #795
I suggest we close this - unless there is anything else we can do

[2016-02-25 13:57] #795 closed

[2016-02-25 14:19] glommer commented on #944
If mutations enter the normal commitlog and memtable path, it will be impossible to separate them  in the I/O queue level. One memtable may contain requests that are from repair and CQL at the same time, and it will be impossible for us to differentiate them.

If that is a goal, we will have to change that first somehow

[2016-02-25 16:22] nyh commented on #944
On Thu, Feb 25, 2016 at 11:03 AM, slivne <notifications@github.com> wrote:

Yes, I mentioned this earlier, actually, *reception* of a stream writes
just like normal writes, resulting in commitlog writes and memtable flushes
which are indistinguishable from normal writes.

The question is what harm this can cause -

1. For bootstrap streaming to a new node, as far as I understand the new
node *only

[2016-02-25 16:24] glommer commented on #944
On Thu, Feb 25, 2016 at 11:22 AM, nyh <notifications@github.com> wrote:

Well, @noah is deleting all SSTables from a node that has been up for some
10 minutes.
So I definitely expect that to be a lot of data.

[2016-02-25 16:30] avikivity commented on #944
We had a little brainstorm about this, and came up with this:

 - instead of streaming into commitlog/memtable, stream into a new writer
 - the new writer distributes to the correct shard, where it is then appended to dedicated sstable, and the cache is updated if needed
 - since we don't write through commitlog, we have to acknowledge the repair/streaming only after the dedicated sstables (on all

[2016-02-25 17:24] #933 closed

[2016-02-25 19:14] chb2mn opened #947 "DPDK: Panic in rte_eal_init() Cannot init memory"
I am using the yum-provided install of scylla 0.18. And when running `systemctl start scylla-server` after trying to set to DPDK mode (for which there is next to no documentation) I get the following dump:

I would really like help on this because running scylla with dpdk seems to be something that many people have done, but nobody has documentation for.

[code]

[code]

[2016-02-25 19:40] chb2mn commented on #947
the problems seems to be that /usr/bin/scylla is not being run with `sudo` even thought I thought that is what `USER=root` in /etc/sysconfig/scylla-server was supposed to do

[2016-02-25 20:34] chb2mn commented on #947
Solution: Systemd in /usr/lib/systemd/system/scylla-server.service resets the $USER field set in /etc/sysconfig/scylla to scylla. I'm still not 100% there on setting up scylla with DPDK, and still retain that there needs to be ~more~ better documentation on setting scylla up with DPDK (although I understand other development needs take priority)

[2016-02-25 21:13] haarcuba commented on #945
I did truncate it. Perhaps I did it incorrectly. I'll have a look at it. thanks.

[2016-02-26 07:57] penberg commented on #934
The problem was in test code and was fixed by @raphaelsc:

https://github.com/scylladb/scylla/commit/7f0371129c3addc65c91ede28eb9c777408e3133

The revert was reverted by:

https://github.com/scylladb/scylla/commit/fc4cbcde72cc3c51a70bd7102f22022651b4e639

[2016-02-26 07:57] #934 closed

[2016-02-26 09:05] asias opened #948 "nodetool netstats shows incorrect streaming progress info"
1) Start 3 nodes

2) Insert some data

[code]

3) Decommission node 3
nodetool -p 7300 decommission

4) Check nodetool -p 7200 netstats and http api on node2

[code]

The http api shows current_bytes (1571736) received, however, nodetool does not show it.

Note,  total_size in "receiving_summaries" is 0. This is expected since we can not know in advance how many bytes the stream_session will send

[2016-02-26 11:18] amnonh commented on #948
@slivne please assign to me

[2016-02-26 12:40] raphaelsc commented on #934
On Fri, Feb 26, 2016 at 4:57 AM, Pekka Enberg <notifications@github.com>
wrote:

Thanks @penberg!

--
Raphael S. Carvalho

[2016-02-26 15:06] sfescape commented on #426
+1 for UDTs.

[2016-02-26 16:14] tzach commented on #426
UDT also used in [Cyanite](http://cyanite.io/) a  Graphite API over Cassandra.
https://github.com/pyr/cyanite/blob/deade8842e8f14a9051b8b06cf79f7927977a60e/doc/schema.cql

[2016-02-26 16:44] tgrabiec opened #949 "scyllatop.py has no -c option"
The help string says:
[code]

but `-c` is not recognized:

[code]

[2016-02-26 18:02] haarcuba commented on #949
yes, my mistake. It used to be -c, but now it's --print-config. Will fix. Thanks.

[2016-02-26 23:22] amnonh commented on #948
Please note that receiving_summaries in the example 0 for total bytes:

            "receiving_summaries":[
               {
                  "files":1,
                  "total_size":0,
                  "cf_id":"d82b8800-dc64-11e5-a25d-000000000000"
               }
            ],

[2016-02-26 23:35] asias commented on #948
@amnonh yes, it is zero as I explained in the first comment of this issue. I manually changed this to non-zero number. The nodetool netstats output does not change.

[2016-02-27 18:26] #948 closed

[2016-02-28 09:11] slivne opened #950 "dist: packages are broken"
trying to install  last night rpm's from repo fails

https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/master/26/scylla.repo

scylla-server-666.development-20160227.81bc5da.el7.centos.x86_64

[code]

I think the issue is in the EnvironmentFile definition
[code]

ls /etc/scylla.d/*.conf - no file exists

if i remove this line and issue ```sudo systemctl daemon-reload```

scylla is

[2016-02-28 09:14] avikivity commented on #947
@chb2mn to make good use of DPDK we need to support connection load balancing with Flow Director.  Right now, if your have a small number of clients, you might get unbalanced shards.

[2016-02-28 10:42] avikivity commented on #949
Fixed by 651aa06c3278daeb4cd1b729d09b32236592944c

[2016-02-28 10:42] #949 closed

[2016-02-28 10:43] amnonh commented on #850
See my comment.

The problem is with locks in scylla.
@slivne should decide who should handle it.

On Tue, Feb 16, 2016 at 12:03 PM, Tzach Livyatan <notifications@github.com>
wrote:

[2016-02-28 10:55] tzach commented on #850
@amnonh what are the affects of run_with_read_api_lock?
does it limit the nodetool for one parallel operation?

[2016-02-28 11:04] amnonh commented on #850
On Sun, Feb 28, 2016 at 12:55 PM, Tzach Livyatan <notifications@github.com>
wrote:

I'm not sure what the root cause, I didn't fully checked it, I just note
what API calls are involved.

[2016-02-28 11:13] slivne commented on #850
@asias I think you added the function run_with_* - is there a limitation in origin on storage_service to limit the operations  - I tried to check cassandra code - in rebuild there is a limitation but others do not seem to have such a limitation.

In some cases the operations maybe very short so ordering them may be suboptimal but something we can get by (at least for now) but others are long.

[2016-02-28 11:26] vladzcloudius opened #951 "systemd scripts are unable to start scylladb with a native stack on top of DPDK"
Users are repeatedly complaining about not being able to start `scylladb` with DPDK when they try to utilize our `systemd` scripts.

We need to verify that our scripts support this mode.

HEAD: 81bc5dab77c90dac1c4ef55e386ed0305d761114

[2016-02-28 11:35] vladzcloudius commented on #951
As a first step I've verified that scylladb's native stack on top of DPDK is not broken.

I've tested it on AWS c3.8xlarge instance with `Enhanced Networking` and two NICs.
There was a Ubuntu 14.04 installed and our ` run_with_dpdk.sh` didn't work indeed.
I used a `seastar/dpdk/tools/setup.sh` script to compile and load an `igb_uio` driver and to bind a NIC to it.
After that the command: `sudo ./b

[2016-02-28 11:44] vladzcloudius commented on #947
@chb2mn There are some issues with our `systemd` scripts at the moment and they are unable to load `scylladb` with DPDK. I've opened an issue for that (issue #951). Meanwhile I've verified that `scylladb` is able to work with DPDK (see my post in the same issue above). Therefore, until we fix our scripts you may load `scylladb` on top of DPDK manually. If you have any questions on "how", please, l

[2016-02-28 19:53] #913 closed

[2016-02-28 19:54] #833 closed

[2016-02-28 19:54] slivne commented on #833
closed by fix for #910

[2016-02-28 19:55] #507 closed

[2016-02-29 01:42] syuu1228 commented on #950
The entry was for io,conf, and it should created by scylla-io-setup.service, I think real problem is dependency definition between scylla-io-setup.service and scylla-server.service. Will fix soon.

[2016-02-29 01:44] asias commented on #542
Patch merged.

[code]

[2016-02-29 07:37] asias commented on #850
The api lock is introduce to serialize nodetool management operations. For this storage_service::get_load_map() which used by nodetool status, we should not block it while an operations which might take a long time to complete, e.g. decommission, removenode. It is safe to call get_load_map() even if operations are in-flight.

@slivne C* does not have such api lock.

[2016-02-29 07:46] slivne commented on #850
@asias

Why do we need to serialize the commands if in Cassandra there is no such
need ?

Did we have a bug that forced us to introduce this ?

My concern is that we are serializing api commands while many should run in
parallel - or can run in parallel - is there a real need to serialize ?

   - All the stats commands (cfstats, cfhistogram, netstats, status, ring,
   info, etc.) should probably r

[2016-02-29 07:46] #542 closed

[2016-02-29 07:47] avikivity opened #952 "Bad logging on 'nodetool refresh'"
Currently `nodetool refresh` results in

    INFO  [shard 0] storage_service - CF peers at shard 0 had SSTables writes disabled for 9401 usec
    INFO  [shard 1] storage_service - CF peers at shard 1 had SSTables writes disabled for 8997 usec

which doesn't tell the user anything.

[2016-02-29 07:53] avikivity commented on #850
We need locking because our state is distributed across multiple shards.

For long running operations, separate start/poll into separate operations (each running under lock).

[2016-02-29 08:45] elcallio commented on #482
While I would really like to understand how this can happen, since the range is based on a "soft" counter, that does not matter largely, simply ensuring that a broken range is never generated might be good enough for now.

[2016-02-29 08:56] tgrabiec commented on #772
@slivne This is needed for tables with indexes. We don't support indexes so I think we can defer it.

[2016-02-29 09:00] avikivity opened #953 "storage_service::load_new_sstables() can disable sstable writes permanently"
If an exception happens, then enable_sstable_writes won't be called.

[2016-02-29 09:21] slivne commented on #952
Cassandra logs

[code]

[2016-02-29 09:40] penberg commented on #950
Is this fixed by https://github.com/scylladb/scylla/commit/84447fd7b075fe542af56acc826a368459504559?

[2016-02-29 09:44] asias commented on #850
@avikivity Let's take decommission for example.

"nodetool decommission" takes a long time to complete, when the cmd returns the decommission completes, and this is what user expects (though, I think this is a bad cmd operation design)

The current http api returns only when decommission completes.

So what you suggested is we introduce another http api

1) starts the decommission
2) poll the stat

[2016-02-29 09:52] avikivity commented on #850
Right, this is what I suggest.

[2016-02-29 09:54] avikivity commented on #850
We could also do this with the existing API; just limit the scope of the lock to when the operation is started, and add extra checks to prevent related operations from happening in parallel.

[2016-02-29 09:54] avikivity commented on #850
(we would need the extra checks in any case, because the lock no longer protects us)

[2016-02-29 09:56] asias commented on #850
@avikivity "We need locking because our state is distributed across multiple shards". The state is on cpu-zero only.  We replicate some of the states to other cores. The lock is mainly for making two operations not happen at the same time, e.g, admin issues drain() then issue decommission()

[2016-02-29 10:00] asias commented on #850
I think we can do something like this: Before we do some time consuming operation, we set a flag. When admin issue another operation, we abort the second operation immediately, saying "xxx operation is in progress, try later".

[2016-02-29 10:19] elcallio commented on #482
Update: @avikivity came up with a very reasonable explanation for the issue, that also validates a very simple fix. I've sent a patch.

[2016-02-29 10:35] syuu1228 opened #954 "scylla-io-setup.service for Ubuntu"
Need to support Upstart to enable scylla-io-setup on Ubuntu 14.04LTS.

[2016-02-29 11:42] syuu1228 commented on #950
@penberg It fixes scylla-io-setup.service bug, but works only when user executed "systemctl enable scylla-io-setup.service". Otherwise "systemctl start scylla-server" still fail. Sent new patchset for this.

[2016-02-29 11:57] tgrabiec commented on #807
The assertion failure was now fixed by fb3344eba18d44e96fb5bb4062656adfdabf2e46

With the following patch, the test passes. I am not able to reproduce `std::bad_alloc`.

[code]

[2016-02-29 11:57] #807 closed

[2016-02-29 12:15] #950 closed

[2016-02-29 12:34] FGRibreau opened #955 "Docker example: does not support protocol version V4 but V3"
Hello!

I wanted to try scylla using docker, instead of

[code]

I used:

[code]

but even if the node is available I got this exception from cassandra-stress:

[code]

I tried another version of cassandra (v2.x) but still the same issue, what am I doing wrong?

[2016-02-29 12:37] tzach opened #956 "Unclear client error message: timeout during read query at consistency ONE (3 responses were required but only 2 replica responded)""
The following error messages printed by the Java driver when testing scylla with multiple instances for YCSB.
`Caused by: com.datastax.driver.core.exceptions.ReadTimeoutException: Cassandra timeout during read query at consistency ONE (3 responses were required but only 2 replica responded)`

AFAIU, the cause is Scylla moving from async to sync mode under pressure, which is not an issue by itself.

[2016-02-29 12:49] slivne commented on #955
Hi Francois

Please install scylla-tools - it provides a cassandra-stress that is ONLY
using cql3 to with CQL binary v3.

Cassandra 2.X cassandra-stress all use thrift to create the default tables
(the fact that you specified -mode cql3 is used only in the data population
not in creating the schema).

Shlomi

On Mon, Feb 29, 2016 at 2:34 PM, Francois-Guillaume Ribreau <
notifications@github.com> w

[2016-02-29 12:56] #482 closed

[2016-02-29 13:03] avikivity commented on #850
Right, but note, those flags can quickly become very complicated, because with N operation types, you have O(N^2) choices to make whether operation type I can run in parallel with operation type J.

[2016-02-29 13:29] asias commented on #850
On 2/29/16 21:03, Avi Kivity wrote:

I would start with coarse control

1) converting the run_with_write_api_lock operations:

     join_ring, start_gossiping, stop_gossiping, start_rpc_server,
stop_rpc_server, start_native_transport, stop_native_transport,
decommission, remove_node, drain, move, rebuild

to something like below:

    sstring _current_operation;

    some_operation() {

        if

[2016-02-29 13:43] tzach opened #957 "Scylla errors under YCSB logs: failure_detector - Not marking nodes down due to local pause"
The following errors under YCSB logs
(same use case which produce #956)
`
Feb 29 11:45:40 alon-scylla-01.localdomain scylla[8629]:  [shard 9] compaction - Compacting [/var/lib/scylla/data/ycsb/usertable-282f0b80deca11e5907f000000000000/ycsb-usertable-k
Feb 29 11:45:41 alon-scylla-01.localdomain scylla[8629]:  [shard 0] failure_detector - Not marking nodes down due to local pause of 7085 > 5000 (mi

[2016-02-29 13:47] slivne commented on #957
should be fixed by 022c7e50a1b87f05e68fd02b58b11d8b0e264f57

should be retested with 0.19

[2016-02-29 13:49] avikivity commented on #850
On 02/29/2016 03:29 PM, Asias He wrote:

This is equivalent to converting it from lock to try_lock.

We will need to add support for waiting until an operation is complete,
so an admin can script nodetool operations.

If you audit that it is safe, sure.

[2016-02-29 14:17] asias commented on #850
On 2/29/16 21:49, Avi Kivity wrote:

But we need to remember which operation is in progress anyway. IMO, It
is better to eliminate the lock completely.

If the node operation does not return "try again", it will return after
the operation is done.

Admin can script
do
ret = nodetool foo
while (ret == "try again")

--
asias

[2016-02-29 14:23] penberg commented on #955
If there's no package to install (e.g. you're on OS X), you can build it yourself from:

https://github.com/scylladb/scylla-tools-java

Just run ``ant jar`` and `` ./tools/bin/cassandra-stress`` will work.

[2016-02-29 14:35] penberg commented on #680
@slivne, @tzach, we cannot change the Cassandra version number because the drivers use that to auto-negotiate the CQL binary protocol version.

What we can do is something like this in ``cqlsh``:

[code]

which makes the interactive shell look like this:

[code]

[2016-02-29 14:44] penberg commented on #729
@tzach Can we close this issue?

[2016-02-29 16:10] #935 closed

[2016-02-29 16:30] tgrabiec commented on #773
@avikivity I can see that some tables have a lot of sstables (~60). During compaction many sstables are merged into one and each sstable reader will keep its latest partition in memory (for merge sort). This probably depends on compaction strategy in use and sstable situation, but the number of large partitions loaded into memory can be much larger than 2 per shard.

[2016-02-29 16:40] slivne opened #958 "Unclear error message on parsing scylla.yaml seeds with space"
starting scylla with scylla.yaml with seeds with space

- seeds : "127.0.0.1, 127.0.0.2"

causes scylla not to start with

Exits on unhanded exception of type 'boost::exception_detail::clone_impl<boost::exception_detail::error_info_injector<boost::system::system_error> >': Invalid argument

[code]

[2016-02-29 17:32] benoit-canet commented on #822
Has this code already been rewritten ?

I don't recognize it in Scylla codebase.

[2016-02-29 17:59] tgrabiec opened #959 "Scylla doesn't use column index in sstables"
Cassandra writes an index of cell names within partition every `column_index_size_in_kb` of written data. This allows it to avoid scanning through the whole partition when looking for a particular CQL row. Scylla doesn't write such index. It also doesn't use it, even though it is read (as `index_entry::_promoted_index`).

This will impact performance of reads with large partitions.

[2016-02-29 18:02] tgrabiec commented on #959
Depends on https://github.com/scylladb/scylla/issues/656

[2016-02-29 18:32] lmr commented on #924
@asias, I'm sorry for the late reply, I wanted to retry the tests more times in order to get better answers:

1) The previous decommission finishes. In fact, the interval happens when all the decommissioning operations are complete. The test gives [total test timeout, in this case 650000 s] time for nemesis to work.
2)  Yes, 172.31.38.235 is the node just decommissioned
3) I tried it again with a

[2016-02-29 18:33] tgrabiec opened #960 "Allow row cache to store incomplete partitions"
Right now cache can hold partition in its entirety ("complete") or not at all. This is problematic for workloads creating large partitions:
- Reading whole partition may result in large read amplification upon cache miss for queries touching only a subset of cells (eg. most recent ones)
- Cache efficiency will drop as the partition size increases. Touching/loading a row within partition does the s

[2016-02-29 18:42] lmr opened #961 "[AMI 0.18] Longevity test failure: Failed to decommission node (nodetool command never ends)"
When running the 24 hour longevity test with the decommission node nemesis (5 minutes nemesis interval), we have a single successful decommission, and then another attempt that never finishes.

We have the first successful execution of decommission, that takes 376 seconds:

    03:24:06 nemesis          L0191 DEBUG| sdcm.nemesis.DecommissionMonkey: <function disrupt at 0x7fe0d5781a28> duration ->

[2016-02-29 18:52] lmr opened #962 "[AMI 0.18] Longevity test failure: (DrainerMonkey) - cassandra-stress does not survive"
The execution of the drainer monkey on the most recent AMI, now with 5 minutes of nemesis interval, causes cassandra-stress to fail in about 15 minutes:

    03:19:45 remote           L0773 DEBUG| Remote [centos@54.193.83.106]: Running 'cassandra-stress write cl=QUORUM duration=1440m -schema 'replication(factor=3)' -port jmx=6868 -mode cql3 native -rate threads=4 -node 172.31.30.65'
    ...
    03

[2016-02-29 18:53] FGRibreau commented on #955
@slivne Ok, I simply followed the getting started guide and it used `-mode sql3` http://www.scylladb.com/doc/getting-started/

Ok, so I was finally able to run tests http://blog.fgribreau.com/2016/02/give-try-and-bench-scylladb-cassandra.html

thanks!

[2016-02-29 18:53] #955 closed

[2016-02-29 18:53] lmr commented on #962
Scylla package versions:

    scylla-boost-filesystem-1.58.0-11.el7.centos.x86_64
    scylla-boost-program-options-1.58.0-11.el7.centos.x86_64
    scylla-boost-system-1.58.0-11.el7.centos.x86_64
    scylla-boost-test-1.58.0-11.el7.centos.x86_64
    scylla-boost-thread-1.58.0-11.el7.centos.x86_64
    scylla-env-1.0-1.el7.centos.noarch
    scylla-gdb-7.10.1-30.el7.centos.x86_64
    scylla-jmx-0.18-2

[2016-02-29 18:53] lmr commented on #961
Scylla package versions:

    scylla-boost-filesystem-1.58.0-11.el7.centos.x86_64
    scylla-boost-program-options-1.58.0-11.el7.centos.x86_64
    scylla-boost-system-1.58.0-11.el7.centos.x86_64
    scylla-boost-test-1.58.0-11.el7.centos.x86_64
    scylla-boost-thread-1.58.0-11.el7.centos.x86_64
    scylla-env-1.0-1.el7.centos.noarch
    scylla-gdb-7.10.1-30.el7.centos.x86_64
    scylla-jmx-0.18-2

[2016-02-29 19:23] penberg commented on #955
@FGRibreau, awesome! Please remember that the Docker image is not optimized so performance isn't all that great. That's because Scylla needs a filesystem that supports AIO/DIO properly and the only one to do that is XFS at the moment.

[2016-02-29 19:25] FGRibreau commented on #955
@penberg yes, I specified the docker performance issue in the blog post but I will add your AIO/DIO comment :)

[2016-02-29 19:27] penberg commented on #955
@FGRibreau I have not tried it myself but Docker's ``VOLUME`` should allow by-passing the copy-on-write storage layer and point Scylla directly to a XFS-formatted filesystem. You'll pay some performance penalty from Docker's NAT networking but insanely much.

[2016-02-29 20:33] penberg commented on #822
https://github.com/scylladb/scylla/commit/8e2c924de3077f664c347333884999ee5f725c9c

[2016-02-29 23:18] asias commented on #924
On Mar 1, 2016 2:32 AM, "Lucas Meneghel Rodrigues" <notifications@github.com>
wrote:

times in order to get better answers:

all the decommissioning operations are complete. The test gives [total test
timeout, in this case 650000 s] time for nemesis to work.

this message

returns (it's stuck trying to execute the decommission command for hours
now). No coredump or command failure though. I'll ope

[2016-02-29 23:58] gwicke commented on #936
`strace -fF -ttT` as root:
[strace.txt](https://github.com/scylladb/scylla/files/151958/strace.txt)

[2016-03-01 07:15] #943 closed

[2016-03-01 08:58] penberg opened #963 "Replay after schema change dtest failure"
The ``replay_after_schema_change_test`` dtest fails as follows:

[code]

No errors are present in the Scylla logs.

Tested with the following HEAD:

[code]

[2016-03-01 09:04] penberg commented on #963
The test passes with a commit that's just before the commitlog IDLification merge commit:

[code]

@tgrabiec, @pdziepak, @elcallio

[2016-03-01 10:14] penberg commented on #963
@slivne No, please don't assign anybody yet! I am in the middle of "git bisect" and we'll know what broke it soon.

[2016-03-01 10:49] penberg commented on #963
[code]

Ping @tgrabiec

[2016-03-01 10:56] #954 closed

[2016-03-01 11:17] avikivity opened #964 "sstable index/data reader over-reads"
Right now, we use a fixed block size of 8192 for the index, which means we usually over-read.

We should instead provide (offset, len) for the index block, and use a block size of 128k.  input_stream will automatically narrow the block size to avoid over-reads, taking into account the minimum dma read alignment.

Same for the data.

[2016-03-01 12:30] #931 closed

[2016-03-01 13:19] vladzcloudius opened #965 "write requests may never complete if a bootstrapping node is killed before it reached a NORMAL state"
The issue has been discovered by a jepsen test that runs a cassandra-stress and bootstraps nodes at the same time. The original issue is issue #909. This one is opened for tracking a relevant storage_proxy fix.

[2016-03-01 13:31] vladzcloudius commented on #909
We've found a root cause. There are a few issues actually:
1. storage_service::token_metadata and gossiper::endpoint_state_map are not updated as an atomic unit when they are shadowed to non-zero shards. As a result there was a state when a bootstrapping node was already in a token_metadata::_bootstrap_tokens but not yet in an gossiper::endpoint_state_map.

This is not an impossible since this may

[2016-03-01 13:40] penberg opened #966 "Use-after-free error in commitlog segment flushing"
ASan use-after-free reported in commitlog_test:

[code]

[2016-03-01 14:48] #966 closed

[2016-03-01 14:53] nyh commented on #385
@slivne, #642 is unrelated, because in that issue the problem was that we didn't leave enough memory *outside* scylla, causing the kernel to kill random programs including scylla. In this issue my problem was that scylla ran out of its own memory.

I'm trying to reproduce this problem with the latest scylla, and will update whether I can still reproduce it, or it appears to have been fixed.

[2016-03-01 15:45] elcallio opened #967 "CQL UPDATE of frozen collection column of non-existing row does not insert value"
CQL UPDATE should, if applied on a non-existing row, create said row. Scylla however does not seem to apply this when performed on a frozen list.

Repro (cqlsh)

[code]

[2016-03-01 15:51] nyh commented on #385
This bug appears to have been fixed already, so I'm closing it.

I run the same workload on latest Scylla, with double the run time (22 million writes, taking 28 minutes on my laptop), even while a large compaction of a 1 GB file is going, on, sstable flushing seems to proceeding as well, and scylla does **not** run out of memory.

The total amount of disk write bandwidth hovers between 30 MB - 35

[2016-03-01 15:51] #385 closed

[2016-03-01 18:27] tgrabiec opened #968 "timestamp_type_impl and date_type_impl have to_string() conversion unimplemented"
This will cause logging involving values with those types to throw, eg. when storage_proxy trace log level is enabled.

[2016-03-01 21:53] lmr commented on #571
@penberg, awesome, Indeed we're now passing the unittests. Thanks!

[2016-03-01 22:06] slivne opened #969 "dist: scylla-gdb for ubuntu"
We need to add a scylla-gdb package for ubuntu (parallel to the scylla-gdb we have for centos) to easily debug issues on the field

[2016-03-01 22:46] lmr opened #970 "[CQL] Scylla is not erroring out a create table with repeated column definition"
I was checking the results of our version of cassandra-unit-tests, and found this error:

    Failed tests:   testTable(org.apache.cassandra.cql3.validation.operations.CreateTest): Query should be invalid but no error was thrown. Query is: CREATE TABLE table_1456860091400 (k int PRIMARY KEY, c int, k text)

This is a relatively new regression, introduced on build 82, Feb 26, 2016 10:55 PM.

[2016-03-01 23:00] lmr commented on #970
Strangely, I can't reproduce it on my laptop's recently updated/compiled scylla tree, so this might have been just fixed with build 87 (waiting on confirmation).

[2016-03-01 23:10] lmr commented on #970
Turns out my previous comment (which I deleted) was wrong, I was using another branch of the unit tests that had the offender test disabled. Re-running the tests shows the failure:

    Failed tests:   testTable(org.apache.cassandra.cql3.validation.operations.CreateTest): Query should be invalid but no error was thrown. Query is: CREATE TABLE table_1456873585882 (k int PRIMARY KEY, c int, k text)

[2016-03-02 08:21] penberg commented on #970
Broken by https://github.com/scylladb/scylla/commit/8e2c924de3077f664c347333884999ee5f725c9c.

Fixed by https://github.com/scylladb/scylla/commit/3a6d43c784a65e400a372560cba933de7b647a3d.

[2016-03-02 08:21] #970 closed

[2016-03-02 09:32] #850 closed

[2016-03-02 10:22] nyh opened #971 "Don't use freeze() to calculate hash function in repair"
Currently when repair wants the hash of a mutation, it calls freeze() on the mutation and then calculates SHA256 hash on the resulting bytes.

This is not a good idea for several reasons: First, if the mutation serialization format (freeze()) changes in the future, this will change the hash function. Second, freeze() might contain irrelevant information like version number field, etc.

Tomek sugge

[2016-03-02 10:27] EricYT opened #972 "Compile so slowly"
When I modify the database.cc or database.hh, it will spend a long long time to build again. Is there a way to reduce the time? Because so many templates be used ?
Thanks.

[2016-03-02 10:29] rachlenko opened #973 "rpc connection messages report connections dropped - not clear if connections came back up"
In the logs I see connections drop between DC's yet it is not clear if the connection came up back or it is still down

[code]

[code]

[2016-03-02 10:31] tzach commented on #973
@gleb-cloudius can you take a look?

[2016-03-02 10:38] nyh commented on #972
This is a duplicate of issue #1 :-)

[2016-03-02 10:47] avikivity commented on #972
We hope that C++17 modules will help in reducing compile time.

See http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2015/n4465.pdf.

[2016-03-02 10:47] #972 closed

[2016-03-02 10:56] gleb-cloudius commented on #973
On Wed, Mar 02, 2016 at 02:31:18AM -0800, Tzach Livyatan wrote:

There is no one global connection status between two nodes. A lot of
connections are opened between each pair of nodes (different message
types go over different connection and all is per shard). There is no
log point on successful connection.

--
			Gleb.

[2016-03-02 11:09] dorlaor commented on #973
On Wed, Mar 2, 2016 at 12:56 PM, Gleb Natapov <notifications@github.com>
wrote:

Trying to decypher your answer - are you saying that the above logs
do not necessarily indicate there is a problem?

Do we have another mechanism to track the rpc status?
Maybe our collectd metric? We could add a REST api for it too

[2016-03-02 11:31] gleb-cloudius commented on #973
On Wed, Mar 02, 2016 at 03:09:29AM -0800, Dor Laor wrote:

They indicate that there were problems during _a_ connection, but there is
no _the_ connection between two nodes. We have many independent tcp streams between
each pair of nodes. Log indicates that some (or all) had problems and
were closed. Next communication attempt will try to open another
connection. Since we do not log when connection

[2016-03-02 11:48] tzach opened #974 "Add metrics for operations between nodes and between DCs"
Scylla already report metrics for CQL operations and local storage.
It will be useful to count operations between nodes and between DCs.
The separation between the two is relevant, as cross DC connections are slower, and have different cost (for example between EC2 regions)

[2016-03-02 11:49] #941 closed

[2016-03-02 12:03] slivne commented on #973
Are this logged because we tried to send something over the connection and
then the connection was dropped ?

Or is this logged because keep alive was not received ?

We need some more info on when this is logged - and if this can happen in
multiple cases for multiple reasons then I think that we need to add this
to the log (if it doesn't exist)

If this is logged and a message with data was dropp

[2016-03-02 12:10] penberg opened #975 "CREATE TABLE with duplicate columns succeeds sometimes"
The invalid ``CREATE TABLE`` scenario in ``table_test`` fails in CI run at times as follows:

[code]

I created a simplified test case:

[code]

which shows that we indeed pass validation some of the time:

[code]

[2016-03-02 12:29] penberg commented on #975
@tgrabiec reverting your optimization d376167bd40b2090db83e723c6a4ed8eece49da5 fixes the problem. Can you take a look at this, please?

[2016-03-02 12:33] tgrabiec opened #976 "Logs are spammed with a lot of error messages when table is dropped during streaming"
I think the expected behavior is to log a failure and abort streaming as soon as this is detected.

This can be reproduced using dtest `update_cluster_layout_tests.py:TestUpdateClusterLayout.simple_add_new_node_while_schema_changes_test`.

I increased the number of written partitions from 4000 to 400000 to make the condition trigger with higher probability.

Excerpt from logs:
[code]

[2016-03-02 12:37] penberg commented on #976
ping @asias

[2016-03-02 12:48] tgrabiec commented on #975
Hmm, my bet is that `_defined_names` is not actually sorted by names but by pointer address

[2016-03-02 13:05] avikivity commented on #973
The errors happen when a TCP SYN was sent, but not ACKed.  Could it be that the node is down (powered off) when the connection was initiated?

[2016-03-02 13:34] slivne commented on #973
No the servers are all up - there are parallel connections

On Wed, Mar 2, 2016 at 3:06 PM, Avi Kivity <notifications@github.com> wrote:

[2016-03-02 14:11] rachlenko opened #977 "ubuntu 14.04 scylla 0.18 crash"
[code]

[2016-03-02 14:17] #472 closed

[2016-03-02 14:17] #677 closed

[2016-03-02 14:17] #684 closed

[2016-03-02 14:19] penberg commented on #977
Ping @gleb-cloudius

[2016-03-02 14:21] avikivity commented on #977
Please upload the core if possible.

[2016-03-02 14:34] rachlenko opened #978 "ubuntu 14.04 after crach scylla 0.18 not booting"
[code]

[2016-03-02 14:42] tgrabiec commented on #978
This should be already closed in d3b7e143dcb3f58111eb2c83cf84cb55ee5a687f

[2016-03-02 14:42] #978 closed

[2016-03-02 14:45] tgrabiec commented on #978
@rachlenko As a workaround, you can try moving data directories corresponding to non-current versions of column families out of `/var/lib/scylla/data`.

[2016-03-02 14:54] tgrabiec opened #979 "streaming hangs when column family is dropped in the middle"
The problem can be reproduced by running the following dtest:
[code]

When analyzing one of the runs, it looks like streaming session from node2 to node4 failed because node4 no longer has the table which is streamed:

[code]

The fact that node4 no longer has it is fine and is the condition which the test tries to exercise - that streaming completes while table is dropped in the middle. The probl

[2016-03-02 14:55] tgrabiec commented on #979
Related issue #976

[2016-03-02 15:05] asias commented on #976
@tgrabiec if a cf is dropped after the streaming starts, I think it is fine to ignore the fact the remote peer does not have the cf anymore and continue the streaming, since the cf is deleted anyway, we can skip sending the missing cf.

[2016-03-02 16:22] #865 closed

[2016-03-02 16:52] amnonh commented on #845
@vladzcloudius can you verify this?

[2016-03-02 16:53] #975 closed

[2016-03-02 17:10] tgrabiec commented on #976
@asias Yes. But we should make sure we distinguish the case where the table is deleted after streaming starts from the case where the table is not deleted but the remote node is missing for some reason the fact that it exists.

[2016-03-02 19:31] amnonh commented on #731
It's now tested.
Can be closed

[2016-03-02 20:32] chb2mn commented on #947
@vladzcloudius I read your issue, sorry I haven't gotten back in a few days, were you able to run with DPDK on "ixgbe" drivers? I have scylla "working" from running it from command line, but that was on "igb" drivers on an interface that isn't fast enough. I have faster (ixgbe) interfaces available, but they can't connect and I get `Link Down` when scylla checks the speed of the Interface.

[2016-03-02 20:35] chb2mn commented on #947
Wait- just got it to work on that Interface, it's likely a DPDK version incompatibility ( I downloaded 2.2 and installed as opposed to using whatever the kernel was loading)

[2016-03-02 21:41] lmr opened #980 "[RPM test] Latest built RPM fails to start scylla service"
With the latest Fedora RPM, we have the following result when trying to start scylla.service:

    15:55:31 process          L0362 DEBUG| [stderr] A dependency job for scylla-server.service failed. See 'journalctl -xe' for details.
    15:55:31 service          L0369 DEBUG| Command: systemctl start scylla-server.service
    Exit status: 1
    Duration: 12.6856069565
    Stdout:

    Stderr:
    A

[2016-03-02 21:42] lmr commented on #980
Unfortunately, I did not forsee the need of journalctl -xe in the test, so I need to add that to the test suite.

[2016-03-03 00:08] asias opened #981 "massive log when a node is down in rpc"
In a 3 nodes cluster, when node 2 is killed.

I saw a lot of rpc errors. This is because in each gossip round, gossip will try to contact unreachable node to check if the node is back. If admin does not do anything, e.g. decommission / removenode, the log error will repeat a lot in each gossip round, once per second. The failure of this gossip syn message attempt is totally fine from the gossip po

[2016-03-03 03:47] asias commented on #979
In the log below is not due to remote does not the has cf_id, but the local node(the sender of the mutation) can not find the mutation, probably the cf_id is deleted after we make the reader.

[code]

[2016-03-03 03:50] asias commented on #976
@tgrabiec in the prepare phase of streaming, we check that remote node has all the cf_id which are needed for the entire streaming, both the cf_id which local node will send to remote node and wise versa.

So, at later time, if the cf_is is missing, it must be that the cf_id is deleted.

[2016-03-03 07:16] asias commented on #979
Update: Actually, it is the remote peer throws the no_such_column_family exception in the STREAM_MUTATION_DONE handler.

[2016-03-03 08:02] asias commented on #979
Patch sent: streaming: Handle cf is deleted when sending STREAM_MUTATION_DONE

[2016-03-03 08:50] syuu1228 opened #982 "iotune link against libstdc++.so.6 even --static-stdc++ specifiied to configure.py"
Because we uses seastar's configure.py to build iotune, --static-stdc++ does not affect for iotune.
This breaks Ubuntu package (become impossible to install on Ubuntu 14.04LTS, since we are using different version of libstdc++ to build scylla/seastar, to use newer g++ package).

[2016-03-03 08:58] #971 closed

[2016-03-03 09:09] syuu1228 opened #983 "scylla failed to build with "error: 'put_time' is not a member of 'std'" on Ubuntu 14.04LTS"
Because build_deb.sh uses g++-4.9, since we had issue with g++-5 (#665).
g++-5 package is updated to more recent version, now we can able to build scylla with it, so need to switch back to g++-5 again.

[2016-03-03 09:09] vladzcloudius commented on #947
@chb2mn Yes, I was using ixgbevf interfaces (this is what you get on AWS). Pls., not that I was using a DPDK clone from our github (located in a `seastar` submodule). I suggest using this clone since we have some important patches there that are still missing (the last time I checked) in the main DPDK tree.

[2016-03-03 09:12] #983 closed

[2016-03-03 09:38] penberg commented on #978
I backported the fix to 0.18 branch.

[2016-03-03 09:45] penberg commented on #731
@amnonh which commit(s) fixed the issue?

[2016-03-03 09:51] amnonh commented on #731
it's a combination, most of the work is asias series streaming progress
info fix and
and the rest in Adding file information to stream

On Thu, Mar 3, 2016 at 11:45 AM, Pekka Enberg <notifications@github.com>
wrote:

[2016-03-03 09:54] #731 closed

[2016-03-03 09:58] slivne commented on #980
I am rebuilding the fedora RPMS after avi's fix bec30ccf2504d01f6957faeca55787e01f08e10e
If successful - It will start a sanity test - will update once done

[2016-03-03 10:02] ddorian opened #984 "Implement ordered partitions"
Implement ordered partitions that cassandra has but hopefully more efficient/scalable.
From https://groups.google.com/forum/#!topic/scylladb-users/e4ffDPwU6hQ

[2016-03-03 10:19] #982 closed

[2016-03-03 10:20] asias commented on #979
With my patch, now I saw a different issue in some of the runs.

FAIL: simple_add_new_node_while_schema_changes_test (update_cluster_layout_tests.TestUpdateClusterLayout)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/asias/src/cloudius-systems/scylla-dtest/update_cluster_layout_tests.py", line 461, in simple_add_new_node_whi

[2016-03-03 10:48] pdziepak commented on #610
I've been unable to reproduce this issue on the exactly same hardware configuration on which it did happen before and I've been running cassandra-stress for much longer than it usually took to get that error message. My best bet is that it was some driver bug (since I never got that error on different disks) that has been fixed since, but to be honest I have no real idea what was going on there.
H

[2016-03-03 10:48] #610 closed

[2016-03-03 12:45] penberg commented on #929
@tzach I sent a patch on the mailing list. Help needed with testing it.

[2016-03-03 12:57] nyh commented on #964
Avi, what kind of use case were you thinking about here? Reading of one specific partition? Iterating through a range of partitions? Iterating through *all* the partitions (probably not)? Is compression enabled?

I'm guessing that for the data part, the code which bothered you is sstable::data_consume_rows(). This isn't used for every case (e.g., when reading a single partition, we *don't* use thi

[2016-03-03 13:17] nyh commented on #964
Ok, I think I have a pretty good idea of what you meant should be fixed. I'll prepare a patch and let you review that instead of continuing to discuss it over the bug tracker.

[2016-03-03 13:26] nyh commented on #964
Words of wisdom from Avi on the mailing list on this topic:

**"Parameters to input_stream are (offset, len), block size, read ahead.  The stream won't read more than len, and won't read more than block_size * read_ahead ahead.
Right now we don't provide len, and instead play with block size.  Fixing that should be enough."**

[2016-03-03 15:00] slivne commented on #845
reassigining vlad this is not for GA - so its the last in your queue

[2016-03-03 15:02] slivne commented on #675
@raphaelsc amnon may help in impl if its simple - can you add provide an eval and some info on how to impl

[2016-03-03 15:09] #977 closed

[2016-03-03 15:13] penberg commented on #977
Backported to 0.18 branch.

[2016-03-03 15:25] andreasanta opened #985 "Missing packages when installing on Debian 7.9"
root@mysql1:~# cat /etc/debian_version
7.9
root@mysql1:~# apt-get install scylla-server
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of In

[2016-03-03 15:53] vladzcloudius commented on #845
On 03/03/2016 05:00 PM, slivne wrote:

Got it.

[2016-03-03 17:15] lmr commented on #980
I found out that iotune is dumping core, filling up the vm disk, then making the service unable to build.

I'll have to do some manual testing here to retrieve the core dump.

[2016-03-03 19:17] lmr commented on #980
Mar 03 14:10:48 atest-guest scylla_io_setup[1257]: Generating evaluation file...terminate called after throwing an instance of 'std::system_error'
    Mar 03 14:10:48 atest-guest scylla_io_setup[1257]: what():  No space left on device
    Mar 03 14:10:48 atest-guest audit[1265]: <audit-1701> auid=4294967295 uid=0 gid=0 ses=4294967295 subj=system_u:system_r:unconfined_service_t:s0 pid=1265 comm="io

[2016-03-03 19:41] slivne commented on #980
@lmr what is the soze of the disl of the vm and how much free space does it have

[2016-03-03 19:47] lmr commented on #980
9 GB. I'm looking into resizing the disk.

[2016-03-03 19:53] slivne commented on #980
How much free space i think the file size iotune generates is 1G @glommer ?

Maybe iotune should check the free space and not use more then 50% of it
On Mar 3, 2016 9:47 PM, "Lucas Meneghel Rodrigues" <notifications@github.com>
wrote:

[2016-03-03 19:53] syuu1228 commented on #980
I've got same result when I tested iotune on AWS, when instance size was
8GB (10GB was okay).
It should output error & exit when disk size is not enough, instead of
trying to write data to test dir.

On Fri, Mar 4, 2016 at 4:17 AM, Lucas Meneghel Rodrigues <
notifications@github.com> wrote:

[2016-03-03 20:50] lmr commented on #980
After well over 1 hour of reading things and banging my head against the wall, I finally was able to resize the partition on the fedora vm:

    Filesystem                            Size  Used Avail Use% Mounted on
    devtmpfs                              2.1G     0  2.1G   0% /dev
    tmpfs                                 2.1G     0  2.1G   0% /dev/shm
    tmpfs

[2016-03-03 21:15] lmr commented on #980
OK, that was the problem (lack of space for iotune to work its magic).

As @syuu1228 mentioned, iotune should check available space before trying to write files, and error instead of trying to straight out write to disk. At least now we have a root cause, and a possible solution (better error handling). @glommer, please take a look at this issue.

I guess with Ubuntu I was lucky enough to create t

[2016-03-03 21:17] glommer commented on #980
On Thu, Mar 3, 2016 at 4:15 PM, Lucas Meneghel Rodrigues <
notifications@github.com> wrote:

Can you open a bug and have Shlomi assign it to me?

When I'm in debug mode like I am now it is unfortunately too easy for me to
remember to look at stuff =(

[2016-03-03 21:18] glommer commented on #980
On Thu, Mar 3, 2016 at 4:17 PM, Glauber Costa <glauber@scylladb.com> wrote:

But one more thing:

Please note that iotune is supposed to be ran in the actual data partition
the data will end up at.

Is that really less than 10G in space??

[2016-03-03 21:34] lmr commented on #980
It was less than 10G, mainly because it's a smoke test and worked so far. About where iotune runs, that's on the service scripts, so we'd either need @syuu1228, or I can take a look afterwards. Right now I am fixing the test setup.

[2016-03-03 21:40] lmr opened #986 "[0.19] iotune is not checking available space before creating files, causing crashes"
This one is related to #980. When the service `scylla-io-setup` runs, it won't check the available space, causing the following error:

    iotune --evaluation-directory /var/lib/scylla --format envfile --options-file /etc/scylla.d/io.conf
    Generating evaluation file...terminate called after throwing an instance of 'std::system_error'
      what():  No space left on device
    Aborted (core dum

[2016-03-03 21:40] lmr commented on #986
@slivne, please assign this to @glommer.

[2016-03-03 21:41] lmr commented on #980
@glommer, I've opened a bug as you requested, #986.

[2016-03-03 22:25] ycui1984 opened #987 "changing cluster name is not as easy as imagine"
Problem description:
This is a minor issue. Changing name in scylla.yaml and restarting the process makes scylla dies.
Cassandra also has the issue. Following the solution in http://markreddy.ie/changing-cluster-name-in-cassandra/ make cassandra works with no problem. However, the steps provided in the solution is not straight-forward. Changing yaml file and restarting should be totally enough for

[2016-03-04 08:55] slivne commented on #986
@glommer we need to resolve this to spin 0.19

[2016-03-04 09:08] dorlaor commented on #986
He sent a patch
On Mar 4, 2016 10:55 AM, "slivne" <notifications@github.com> wrote:

[2016-03-04 10:52] hypnofrogme opened #989 "It's not possible to run scylladb inside lxc-container."
ScyllaDB upstart script requires dmidecode call which doesn't work inside LXC container.

root@scylla-lxc:~# dmidecode
# dmidecode 2.12
/dev/mem: Operation not permitted

[2016-03-04 14:32] tzach commented on #989
There are more qualified virtualization experts on this project, but have you try Scylla on Docker?
http://www.scylladb.com/download/#docker

[2016-03-04 15:28] syuu1228 commented on #989
@hypnofrogme I'm not sure our scripts works in containers, but for dmidecode error you can modify "is_ami()" function on /usr/lib/scylla/scylla_io_setup to
[code]
for temporary solution.
But it still may returns error since scylla checks you are using XFS, if not returns error.
You can append --developer-mode to tail of SCYLLA_ARGS on /etc/sysconfig/scylla-server, but it is just for testing, not f

[2016-03-04 15:37] syuu1228 commented on #985
@andreasanta First of all you cannot use Ubuntu package on Debian since it's different distribution (you won't be able to resolve dependencies), you have to build Scylla from source.

We cannot build Scylla on Debian 7.9 (oldstable), since there is no g++-4.9 or g++-5 packages.
I tried to build Scylla on Debian 8.3 (stable), it needed to few fixes, but able to produce .deb package for it.
Here's p

[2016-03-04 15:44] hypnofrogme commented on #989
@syuu1228
Thank you si much. I was not sure If I can remove the function.

[2016-03-04 16:28] tgrabiec opened #990 "Scylla crashes when sstable writing fails with std::bad_alloc"
This happened when compacting large number of sstables with large partitions.

Symptoms in logs:
[code]

Backtrace:
[code]

The SIGSEGV happens inside a background fiber started by `file_data_sink_impl::put()`:
[code]

The lifetime of this fiber is not linked with the future returned by put(). This may result in use-after-free if `file_data_sink_impl` object goes out of scope after `put()` resolve

[2016-03-04 16:34] tgrabiec commented on #990
@avikivity @glommer Opinions?

[2016-03-04 16:39] slivne opened #991 "dist: ubuntu 14.04 on AWS fails to start scylla-server with an unclear info"
1. start an 14.04 aws image (yes I know the root disk is not xfs)
2. install our repo file (last night)
3. try to install scylla

you will fail with a non informative manner

[code]

The other issue is that because of the changes we have done for the test is_ami - we validate that we are on AWS not by checking that we are using our AMI but by checking other items

    if [ "`dmidecode --string sys

[2016-03-04 16:56] syuu1228 commented on #991
"/usr/lib/scylla/scylla_io_setup: cannot create /etc/scylla.d/io.conf: Directory nonexistent" is ubuntu packaging bug. (The directory should exist in scylla-server package)

And yes, the script does not supported to install on AWS official AMIs.
Will fix them.

[2016-03-04 16:58] syuu1228 commented on #727
Fixed at https://github.com/scylladb/scylla/commit/e545013e472970a4678decea87d0ba00621b6736

[2016-03-04 16:58] #727 closed

[2016-03-04 19:14] avikivity commented on #990
File writing happens in a thread, so it is a safe context to block in.

I thought of calling close.get in the destructor if we happen to reach it
in a thread context.

Will review your patch in detail tomorrow.
On Mar 4, 2016 18:34, "Tomasz Grabiec" <notifications@github.com> wrote:

[2016-03-04 19:44] tgrabiec commented on #990
@avikivity Indeed when in a seastar thread we could block. However, we probably should have a solution which will also work when file is not used in a thread.

[2016-03-05 21:57] avikivity commented on #990
My idea was re non-threaded writes was to have a with_whatever function for files (or closeables in general) that guarantees a close will be called if the fiber fails.

Your patch seems fine.   It introduces a new layer of indirection, but so would a `with_closeable()`. I'm not sure which approach is better.

[2016-03-05 22:25] avikivity commented on #989
We should change is_ami to return false if there is no dmi data, instead of requiring users to change it.

[2016-03-05 22:52] nyh opened #992 "More efficient read of compressed data file"
This issue is related to #964, but specifically about a compressed data file.

Unlike the code in fstream.cc, the code in sstable/compress.cc doesn't do any readaheads - when data is needed, it reads the next compressed chunk, exactly. This is optimal a small reads (which are included in one chunk), but for large reads, it might make sense to use read-ahead and/or read a large buffer, for the same

[2016-03-05 23:11] nyh commented on #992
Note also (see rationale in #964) that make_compressed_file_input_stream() should take the len of the stream, not just its starting position - and this end position will be translated to the end-position of its chunk when the file input stream is created. And sstable::data_stream() should pass len to make_compressed_file_input_stream().

[2016-03-05 23:30] glommer opened #993 "memory misacounting can lead to database hanging"
When running scylla without the row cache, the database can hang.

My command line is as follows:

[code]
The following load is then applied:

[code]

The database hangs on database::throttle(), and when it does so, I can verify that `_dirty_memory_region_group.memory_used()` is negative (therefore converted to a large number).

Because this is a hard condition to verify, I have sprinkled some ass

[2016-03-05 23:37] glommer commented on #993
@slivne Since this is a condition (potentially) affecting our memory accounting, I consider this a showstopper at least until we are able to understand what is going on.

This blocks my progress at Issue #944 . The patchset I have for that issue works well, but the database stalls eventually. Until this issue is resolved, I can't really determine why (if this is the cause, or if there is another).

[2016-03-05 23:44] glommer commented on #993
@avikivity @tgrabiec You are probably the ones that know logalloc code the better, so insight here is appreciated. Reproducing it is fairly easy and described in the initial comment.

[2016-03-06 09:05] slivne commented on #993
@pdziepak take a stab at this on monday morning prior to the daily and then we can discuss this with tomek.

[2016-03-06 09:06] slivne commented on #992
@nyh - how much work (in hours) is this ?

[2016-03-06 09:26] slivne commented on #979
@asias I have added your tests - yet have not enabled them in scylla_tests as your patch is not yet merged (and it will close this issue and lets eable them)

Once it is merged - please open another bug for the "new" issue so we can track it.

[2016-03-06 09:30] slivne commented on #976
@asias / @tgrabiec  aside from excessive logging - is there a side effect - if not we may defer this to yellowfin (we have other items with "higher priority).

In any case I suggest to add a test to cover this so we will have such a case in regression (if one does not exist). @asias you have added add_table while streaming can you add tests for this as well.

[2016-03-06 09:33] slivne commented on #974
additional info in "metrics for throughput between nodes and DC"

[2016-03-06 09:56] nyh commented on #992
@slivne this shouldn't take long (definitely less than a day), but I'm more worried about how to check that the result is actually better: The issue is that my plan is basically to reverse a previous decision - we previously decided (based on Avi's suggestion) that compressed_file_input_stream should *not* use file_input_stream and should read from disk directly, but my suggestion here is to go ba

[2016-03-06 09:58] slivne commented on #992
cassandra-stress disables compression by default - you can enable it

On Sun, Mar 6, 2016 at 11:56 AM, nyh <notifications@github.com> wrote:

[2016-03-06 10:08] nyh commented on #992
On Sun, Mar 6, 2016 at 11:58 AM, slivne <notifications@github.com> wrote:

If our actual users will using compression (because, again, I believe
compression is enabled by default unless you deliberately disable it in
your CQL commands to create the table), then we should probably test and
benchmark performance with compression enabled. I can do limited
benchmarking on my own laptop, to test that a

[2016-03-06 10:21] slivne commented on #965
created a dtest to test this with CL=ONE - it is not added o regression till this is fixed to run

export CASSANDRA_DIR=~/scylla/build/release; pkill -9 scylla; pkill -9 java; rm -Rf core.*; KEEP_TEST_DIR=true  REUSE_CLUSTER=false DEBUG=true PRINT_DEBUG=true nosetests -v -s update_cluster_layout_tests.py:TestUpdateClusterLayout.simple_kill_new_node_while_bootstrapping_with_parallel_writes_test

[2016-03-06 10:27] slivne commented on #992
Agree,

You can use AWS for this and I can provide you access to Rackspace if you
prefer baremetal.

On other note: as previous read issues have shown - strace can come a long
way to show what we request from the disk vs what we think we request from
the disk - so a test with strace is a good start in any case.

[2016-03-06 10:35] slivne commented on #932
Does not reproduce

Tested 5 times on head e194835d8a4e6a2126c599ed95e5b04114e5ce09

We had multiple fixes in commitlog - it was probably resolved by one (or more)

[2016-03-06 10:35] #932 closed

[2016-03-06 10:39] slivne commented on #914
fixed by https://github.com/scylladb/seastar/commit/cf1716f264aba2410fb660082ee8f935ab7707a9

[2016-03-06 10:39] #914 closed

[2016-03-06 10:40] slivne commented on #892
@avikivity , @dorlaor need your input on @syuu1228 comment

[2016-03-06 10:42] slivne commented on #883
@raphaelsc the original issue is access to /var/lib/scylla - can we make sure we deal with this - the dpdk part can wait for now

[2016-03-06 10:42] gleb-cloudius opened #994 "Not enough replicas of data is stored with multi-dc + EACH_QUORUM writes if bootstraping node is present"

[2016-03-06 10:45] slivne commented on #862
@gleb-cloudius whats the status of this ?

[2016-03-06 11:01] gleb-cloudius commented on #862
It is not possible to stop connection attempt right now. Avi is (or has someone) working on fixing it. From what I read in this bug I pretty much doubt this is the issue here. Connection attempt will hang for a long time (2 minutes at least) if other node is completely down. This is not the case here.

[2016-03-06 11:09] nyh commented on #942
@slivne if this was with repair I could understand it (repair is currently anti-optimized by reading small parts of the sstables instead of looping through all the data). But if I understand correctly, the scenario which Noam describes here does *not* include repair, only a single stream. I would have thought that that uses normal sstable reading code and use 128 KB buffer size.

Is it possible th

[2016-03-06 11:32] slivne commented on #942
this scenario is with adding a new node (that forces streaming data to it)

AFAIK cassandra-stress by default does not create tables with compression - you can test it on your own - run cassandra-stress and check what the schema is create via cqlsh with describe schema.

As before I think that you do not need the exact setup I think that an strace may provide you info if we are reading with 128K o

[2016-03-06 11:35] slivne commented on #994
Add a test

export CASSANDRA_DIR=~/scylla/build/release; pkill -9 scylla; pkill -9 java; rm -Rf core.*; KEEP_TEST_DIR=true  REUSE_CLUSTER=false DEBUG=true PRINT_DEBUG=true nosetests -v -s update_cluster_layout_tests.py:TestUpdateClusterLayout.simple_kill_new_node_while_bootstrapping_with_parallel_writes_in_multidc_test

not merged in scylla_tests - may need update after code fix

[2016-03-06 13:09] nyh commented on #942
@slivne just curious, compared to #992, why is this issue a "high" priority "bug", and not a "performance" "enhancement" like #992?

[2016-03-06 13:54] slivne commented on #942
Well good question - I guess the timeline is to blame 11 days ago this seemed to be high - now that we suspect that our basic read is no good - that is more "important" - if anything the priorities should be reversed - as #994 992 is the general case and this is "only" streaming - so lets handle #992 first.

[2016-03-06 16:13] vladzcloudius commented on #845
@amnonh The issue was caused by the fact that the corresponding API code was not updating the `incremental_backups` configuration value (how could it!) but only the configuration of the existing keyspaces and column families. As a result the newly created objects (e.g. keyspaces) were still using the original configuration for .yaml or a command line parameter.

I've sent a patch series with the f

[2016-03-06 20:58] amnonh opened #995 "nodetool status return with an error when used while system is starting"
when running nodetool status during cluster startup the command failed with a Not found exception

[2016-03-07 00:07] dmarti commented on #634
Added here:

https://github.com/cloudius-systems/new-company-site/commit/0c091a45f8fb29c6ee2f4168be203c4637c7a9bf

When is daily the right choice?  Highly loaded systems?  Nearly full SSDs?

[2016-03-07 09:11] syuu1228 opened #996 "Scylla failes to run on c3.2xlarge AMI with 'Invalid number of IO queues. Asked for 8. Minimum value is 1, maximum 7'"
Scylla fails to run on c3.2xlarge AMI with following errors:
[code]

Probably because of NR_CPU=8 and SET_NIC=yes,
The script for AMI is not shrinking NR_SHARDS when SET_NIC=yes:
https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_io_setup#L36

[2016-03-07 09:15] #993 closed

[2016-03-07 10:51] syuu1228 commented on #989
@avikivity I realized that it actually returns 0 already, since -e does not applied to eval.
I guess real problem is not on this line of the script.

[2016-03-07 11:01] slivne opened #997 "seastar: librarify iotune"
avi wrote ...

I think it is a good suggestion.  We can librarify iotune (but the working bits in libseastar.a) and scylla --verify-environment can call them.
For example, commitlog and each data_file_directory may be on separate disks, and we will need to iotune and qualify each separately (and seastar will need an ioqueue set for each disk).

[2016-03-07 12:05] #845 closed

[2016-03-07 12:05] #909 closed

[2016-03-07 13:13] #953 closed

[2016-03-07 13:13] #994 closed

[2016-03-07 13:26] slivne opened #998 "create an ami version based on ubuntu"
we need to run cluster test using lmr tool with ubuntu machine

need to add support for creating amis based on a base ubuntu image

should be based on 3.19.0.51

[2016-03-07 13:35] slivne commented on #995
aside from the exception in java - is there an effect on the scylla process - does it crash ? / does the jmx crash ?

[2016-03-07 13:57] slivne commented on #956
the issue is the bad error message not the mechanism - maybe we should have the error based on what was originally requested and not based on the impl that brings reads to the foreground by increasing CL

[2016-03-07 14:04] slivne commented on #926
Do we support already the option to leave the cluster up and allow access once that happens

[2016-03-07 14:08] slivne commented on #862
@asias , @nyh - did we resolve the issue - is there anything left

[2016-03-07 14:09] gleb-cloudius commented on #973
On Mon, Mar 07, 2016 at 05:52:51AM -0800, slivne wrote:

As I explained there is no such things as "the connection". This cannot be fixed.

--
			Gleb.

[2016-03-07 14:11] slivne commented on #815
@amnonh can you run a test for this and see if it reproduces / closed

[2016-03-07 14:14] slivne commented on #721
@asias can you prioritize this on your queue - we do see some issues in networking and it seems that we need to be tolerant - so if we are not lets work on making scylla more tolerant

[2016-03-07 14:16] slivne commented on #670
@vladzcloudius  lets go back to this - does it reproduce - it if please work @gleb-cloudius to fix it

[2016-03-07 14:28] asias commented on #721
On Mon, Mar 7, 2016 at 10:14 PM, slivne <notifications@github.com> wrote:

I am not sure what the "more tolerant" means here and what we could do. The
behavior of the gossip and failure detector is the same as C*.

--
Asias

[2016-03-07 14:40] slivne commented on #721
Does cassandra fail on this tests - if not it does something different it
may not be in Gossip/Failure it may be in messaging service / rpc

If the "robustness" needs to go into a different level lets find out what
and then you may code it or someone else

On Mon, Mar 7, 2016 at 4:28 PM, Asias He <notifications@github.com> wrote:

[2016-03-07 14:46] vladzcloudius commented on #721
@asias @slivne Let's first see that the problem is still reproducible with the latest master. Shlomi, pls., assign it to me and I'll check this today or tomorrow.

[2016-03-07 15:18] tgrabiec commented on #973
@gleb-cloudius There is no single connection, but there are (per-shard) connections. Could we track/log connection state per-shard?

[2016-03-07 15:24] slivne commented on #965
using commit f59415b3c6ebdd8f85b72f5658767ac676493845

the test above fails

export CASSANDRA_DIR=~/scylla/build/release; pkill -9 scylla; pkill -9 java; rm -Rf core.*; KEEP_TEST_DIR=true REUSE_CLUSTER=false DEBUG=true PRINT_DEBUG=true nosetests -v -s update_cluster_layout_tests.py:TestUpdateClusterLayout.simple_kill_new_node_while_bootstrapping_with_parallel_writes_test

this test does pass on ca

[2016-03-07 15:25] slivne commented on #965
@gleb-cloudius please check this out - if it is not related to this issue lets create a new one to track it - the test it self was written to verify that this issue is resolved.

[2016-03-07 15:38] gleb-cloudius commented on #965
On Mon, Mar 07, 2016 at 07:25:35AM -0800, slivne wrote:

The way the test is written it should not pass. With rf=1 and dead
bootstrapping node insertion _should fail_, the only different between
us and cassandra is that we will fail with insufficient node and they
with timeout.

--
			Gleb.

[2016-03-07 15:39] gleb-cloudius commented on #973
On Mon, Mar 07, 2016 at 07:19:00AM -0800, Tomasz Grabiec wrote:

There is more then one connection per shard.

--
			Gleb.

[2016-03-07 15:42] slivne commented on #965
Well they pass and we fail ...

On Mon, Mar 7, 2016 at 5:38 PM, Gleb Natapov <notifications@github.com>
wrote:

[2016-03-07 15:45] lmr commented on #926
@slivne no, will resume work on this...

[2016-03-07 15:51] gleb-cloudius commented on #965
On Mon, Mar 07, 2016 at 05:47:22PM +0200, Gleb Natapov wrote:

Unless insert_c1c2() returns even if insertion ended with exception in
which case the test should have ended indeed.

--
			Gleb.

[2016-03-07 16:27] amnonh commented on #815
I have a test for netstats that passes.

On Mon, Mar 7, 2016 at 4:11 PM, slivne <notifications@github.com> wrote:

[2016-03-07 16:29] amnonh commented on #995
no, the problem is cause from the gradual api init.

the nodetool just get the exception (basically 404) and fail

On Mon, Mar 7, 2016 at 3:35 PM, slivne <notifications@github.com> wrote:

[2016-03-07 16:30] gleb-cloudius commented on #965
On Mon, Mar 07, 2016 at 05:51:34PM +0200, Gleb Natapov wrote:

When I run similar steps manually, I do get exception, but not the one I
expect. I will check. Another thing is that after killing bootstrapping
node live nodes forget about it after a minute or so and workload works
normally. Not sure if it is how it should be.

--
			Gleb.

[2016-03-07 16:32] tgrabiec commented on #973
2016-03-07 16:39 GMT+01:00 Gleb Natapov <notifications@github.com>:

Right. Each of them can be uniquely identified, could we track state of
each such connection?

[2016-03-07 16:44] gleb-cloudius commented on #973
On Mon, Mar 07, 2016 at 08:32:20AM -0800, Tomasz Grabiec wrote:

This is the same as asking can you determine tcp connectivity status to
host A in tcp stack. What does this mean? RPC has no idea how much
connections upper layer wants to open to a host A, so such question at this
level does not make sense. Messaging server expects to have two
connections per shard per active destination. But it rig

[2016-03-07 16:56] gleb-cloudius commented on #965
On Mon, Mar 07, 2016 at 06:30:17PM +0200, Gleb Natapov wrote:

Checked and that is fine. I expected Unavailable exception, but got
Timeout. It turns out that after killing bootstraping node it is
reported as alive for awhile and during this time Timeout happens, after
it is started to be reported as dead Unavailable started to be thrown.

From my manual testing everything works as expected.

--

[2016-03-07 17:02] #952 closed

[2016-03-07 17:08] raphaelsc commented on #675
@amnon: sstablesperRead and recentSSTablesPerRead are defined as follow in C*:

    // for backward compatibility
    @Deprecated public final EstimatedHistogram sstablesPerRead = new EstimatedHistogram(35);
    @Deprecated public final EstimatedHistogram recentSSTablesPerRead = new EstimatedHistogram(35);

*Apparently*, we don't need both. They are updated exactly the same way.

Do we really need

[2016-03-07 18:04] tzach commented on #995
It unpleasant, but we have more urgent issues for GA

[2016-03-07 18:09] amnonh commented on #675
you don't need the recent (ever) this is a poor design decision made in
origin and it was depricated.

Whenever there is a recent value, we put an implementation in the jmx
(don't worry about it).

I think there is already a parameter ready for recentssstable_per_read and
what is needed is to update it

On Mon, Mar 7, 2016 at 7:08 PM, Raphael Carvalho <notifications@github.com>
wrote:

[2016-03-07 18:15] raphaelsc commented on #675
Thanks. Yes, I found it. It's estimated_sstable_per_read.

[2016-03-07 18:19] amnonh commented on #675
ok, if you'll make sure that it is updated I think most of the other parts
are ready or I can complete it

On Mon, Mar 7, 2016 at 8:15 PM, Raphael Carvalho <notifications@github.com>
wrote:

[2016-03-07 19:43] glommer opened #999 "crashes can be seen if CF directory is missing"
We try to be robust against files disappearing (due to any kind of corruption) inside the data directory.

But if the data directory itself goes missing, that's a situation that we don't handle correctly.
We will keep accepting writes normally, but when we try to flush the memtable to disk, we'll fail with a system error.

Having the CF directory disappearing is not a common thing. But it is also

[2016-03-08 01:20] asias opened #1000 "missing data with cf =1 when creating new ks and table and inserting data during bootstrap"
Start a 3 node cluster. Bootstrap a new node, node4, when "Beginning stream session" is seen on node 4, start insert a new kesypace and table (ks1.cf1) and insert data (1000 rows), with cf=1. When node4 completes bootstrapping, we should see all the 1000 rows of data in kd1.cf1.

This issue exists both on c* and scylla.

[code]

[2016-03-08 06:35] tzach commented on #436
@amnonh @raphaelsc I vaguely remember this was fix
Is it so?

[2016-03-08 07:23] gleb-cloudius opened #1001 "Messaging service tries to stream mutation to a node that was removed from gossiper"
Run two nodes, populate with data, add one more node and kill it when streaming starts. After 30000ms gossiper prints:
  [shard 0] gossip - FatClient 127.0.0.3 has been silent for 30000ms, removing from gossip

After that

curl -X GET "http://`hostname`:10000/failure_detector/endpoints/states/127.0.0.3";echo

reports "unknown endpoint" (it was endpoint in BOOT state before).

But streaming tries t

[2016-03-08 08:43] gleb-cloudius commented on #1001
@asias can you look please?

[2016-03-08 08:56] asias commented on #1001
ok. will do.  What exact cmd you used to populate data and kill the node will helpful.

[2016-03-08 09:26] nyh commented on #862
@slivne I don't know, @noamha can try his scenario again and say definitely.

If I understand correctly the above discussion, the issue was not in the repair per se, but with streaming which it uses, and that streaming does stop its retry attempts when shutting down, but there is one edge case where an initial connection attempt cannot currently be stopped. @gleb-cloudius and @asias will probably

[2016-03-08 09:28] slivne commented on #965
As allways @gleb-cloudius is right and test is "bad"

We have found that dtest sets up a retry policy and that is retrying (and printing) the retries.

There s a difference between Scylla and C* in which Scylla will return Unavailable immidiatly when there are not enough nodes to write to while in C* it will return this only after a timeout (@gleb-cloudius - did I capture this correctly).

I will

[2016-03-08 09:31] slivne commented on #967
copying from email from Calle

Tomek,
Could you have a look at #967? (And Shlomi, I think maybe this bug should be upgraded). I would love to hear that I am doing something wrong here, but I am not so sure about that.

The apparent error is that doing a update insert of a frozen list does not work.

create keyspace ks WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 3 };
cre

[2016-03-08 09:33] gleb-cloudius commented on #1001
On Tue, Mar 08, 2016 at 12:56:19AM -0800, Asias He wrote:

I populate it with:

cassandra-stress write n=100000 cl=ONE no-warmup -mode native cql3 -node
127.0.0.1 -rate threads=150 -schema replication\(strategy=org.apache.cassandra.locator.SimpleStrategy,factor=1\)
-pop seq=1..100000

I kill a node with ^C.

--
			Gleb.

[2016-03-08 09:37] gleb-cloudius commented on #965
On Tue, Mar 08, 2016 at 01:28:46AM -0800, slivne wrote:

Yes, this is correct.

--
			Gleb.

[2016-03-08 09:53] #991 closed

[2016-03-08 10:03] elcallio commented on #967
Actually, looking at set, map etc. it seems that line 347 should be a "params.make_cell", not a "atomic_cell_or_collection::from_collection_mutation". Seems to have this way for ages though...

Changing this makes my case work anyway. I'll test a little more, then send a patch.

[2016-03-08 11:39] penberg commented on #991
@slivne Do we need to backport this into 0.18 or 0.19?

[2016-03-08 11:41] penberg commented on #982
@slivne Do we want this for 0.18?

[2016-03-08 11:42] slivne commented on #982
I don't think iotune is part of 0.18

On Tue, Mar 8, 2016 at 1:41 PM, Pekka Enberg <notifications@github.com>
wrote:

[2016-03-08 11:42] slivne commented on #991
in 0.18 this is not present its a change introduced post 0.18 - so no need
to backport

for 0.19 we do need it

On Tue, Mar 8, 2016 at 1:39 PM, Pekka Enberg <notifications@github.com>
wrote:

[2016-03-08 12:11] penberg commented on #991
@slivne Backported to 0.19.

[2016-03-08 12:49] #967 closed

[2016-03-08 12:57] gleb-cloudius commented on #670
It should not, but worth checking.

[2016-03-08 12:58] gleb-cloudius commented on #862
On Tue, Mar 08, 2016 at 01:26:26AM -0800, nyh wrote:

Non stoppable connection is only an issue when connection is attempted
to dead node. As far as I understand this was not the case here.

--
			Gleb.

[2016-03-08 15:28] #964 closed

[2016-03-08 18:24] glommer opened #1002 "streaming (repairs and bootstrap) manage their resources badly"
Repairs and bootstrap faces the same problems other actors in scylla face: how to do as much work as possible, without using up too much resources.

But the way they solve it is sub-optimal, and not in line with other instances of the same problem over our code base. A simple semaphore is used to limit parallelism to X, where X is a magic number.

This approach has the problem of not enabling us t

[2016-03-08 18:37] penberg commented on #1002
For future reference, here's a hack we merged on the issue:

https://github.com/scylladb/scylla/commit/2cd756ae5e64d3dac42e6a5f707c72b39995cbda

[2016-03-08 20:39] slivne opened #1003 "repair: running RepairAdditionalTest.repair_multiple_test with scylla set to use smp=2 fails in some runs"
Running the test with default smp=1 allways passes

Runnning with smp=2 sometimes fails

\using updatec ccm and dtest

[code]

when running with smp=1 there are no such messages

[2016-03-08 20:56] slivne opened #1004 "backup_restore: test snapshot_test.TestSnapshot.test_basic_snapshot_and_restore_with_refresh failes with smp=2"
running the test with scylla using smp=1 passes

running the test with scylla using smp=2 fails

using latest ccm and latest dtest
[code]

checking the snapshot backup directory

[code]

there is not ks-cf-ka-1-*

[2016-03-08 20:57] slivne commented on #1004
marking as showstopper as its not clear if we have a general issue with refresh in smp

[2016-03-08 20:59] slivne commented on #1004
It seems this is also failing backup_restore_tests.py:TestBackupRestore.replay_restore_no_additional_data_test

[code]

[2016-03-08 22:46] slivne opened #1005 "SIGSEGV on shutdown"
version ce6d1a2

test update_cluster_layout_tests.py:TestUpdateClusterLayout.simple_decommission_node_1
[code]

[2016-03-08 22:53] slivne commented on #1003
Using debug build we also get similar errors with repair_additional_test.py:RepairAdditionalTest.repair_kill_2_test

[code]

[2016-03-09 00:23] asias commented on #979
To fix the test, simple_add_new_node_while_schema_changes_test, we also need the fixes for #1000

[2016-03-09 03:52] asias commented on #1001
Patch sent

[2016-03-09 06:59] syuu1228 opened #1006 "On our .deb package, systemd unit file does not supported on recent versions of Ubuntu"
Since current LTS still using Upstart, our .deb only provides Upstart job script and classic init.d script.
systemd Ubuntu has compatibility with such .deb package, and able to start scylla, but we should provide systemd unit file like we do on Fedora/RHEL systems.

[2016-03-09 07:04] syuu1228 opened #1007 "Support Ubuntu 16.04 LTS “Xenial Xerus”"
It will release April 21st 2016(final beta is in March 24th), and should supported on our GA.
There is daily build, we can try our .deb package on it
http://cdimage.ubuntu.com/daily-live/current/

[2016-03-09 07:07] #999 closed

[2016-03-09 07:12] slivne commented on #1007
This is not for GA ... we do not have time to get this in and I doubt
adoption of users will be that fast - we can and should do 15.10 or 16.04
for 1.1

On Wed, Mar 9, 2016 at 9:04 AM, Takuya ASADA <notifications@github.com>
wrote:

[2016-03-09 07:16] avikivity opened #1008 "Column family loading is fragile"
Currently we scan the directory, filter directories against column families that exist, and make directories when they don't exist.

It would be a lot simpler to iterate over column families and check/create directories for them.

[2016-03-09 07:17] slivne opened #1009 "concurrent_schema_changes_test.py:TestConcurrentSchemaChanges.create_lots_of_tables_concurrently_test fails with smp=2"
running concurrent_schema_changes_test.py:TestConcurrentSchemaChanges.create_lots_of_tables_concurrently_test passes with smp=1

running it with smp=2 failes

to run it with smp=2 use `export SCYLLA_EXT_OPTS="--smp 2"`

[2016-03-09 07:20] slivne commented on #1008
@avikivity is there a case in which the current schem fails

I am in favor of making things simple yet need to understand if this is
causing us to miss items / crash - in which case this is a showstopper if
not we will defer it to 1.1

On Wed, Mar 9, 2016 at 9:16 AM, Avi Kivity <notifications@github.com> wrote:

[2016-03-09 07:25] asias commented on #893
@amnonh With #928 fixed, I still saw below in a clean cluster.  Note the last line "Note: Non-system keyspaces don't have the same replication settings, effective ownership information is meaningless". We don't have non-system keyspace at all.

What http APIs does nodetool status use ?

[code]

[2016-03-09 07:28] asias commented on #382
Patch has been sent by @glommer
[PATCH 00/10] Isolate streams into their own writes

[2016-03-09 07:29] asias commented on #976
Patches are sent.

[2016-03-09 07:30] asias commented on #979
Patches are sent.

[2016-03-09 07:37] asias commented on #909
@vladzcloudius so with the patch to sync endpoint_data_map and token_metadata + f59415b3c6ebdd8f85b72f5658767ac676493845 , you do not see hang of cql server anymore?

@gleb-cloudius Is #965 fixed? I see it is still open. I think your patch already merged (commit f59415b3c6ebdd8f85b72f5658767ac676493845) which fixes #965.

[2016-03-09 07:39] slivne commented on #909
Guys if there are patches not on head lets merge them - we can not have
items closed for patches that are not merged to head

On Wed, Mar 9, 2016 at 9:37 AM, Asias He <notifications@github.com> wrote:

[2016-03-09 07:43] asias commented on #924
@lmr I think the "unknown endpoint" issue is due to https://github.com/scylladb/scylla/issues/909#issuecomment-185607109 which is now fixed.

decommission hang is due to cql server shutdown hang which should be fixed by #909 and #965.

The core dump issue from the original report is fixed already.

I suggest to rerun the test to verify and close this bug.

[2016-03-09 07:47] amnonh commented on #893
On Wed, Mar 9, 2016 at 9:25 AM, Asias He <notifications@github.com> wrote:

It depends if it is used with a keyspace or without (does it work in
Cassandra without a keyspace?)
With keyspace it's :
 get_effective_ownership
/storage_service/ownership/{keyspace}
Without it's
get_ownership
/storage_service/ownership/

$ nodetool status

[2016-03-09 07:47] gleb-cloudius commented on #909
On Tue, Mar 08, 2016 at 11:37:37PM -0800, Asias He wrote:

Shlomi reopened it because test still failed. The problem is in the
test, so after test will be fixed bug will be closed.

--
			Gleb.

[2016-03-09 08:01] asias commented on #893
On Wed, Mar 9, 2016 at 3:47 PM, Amnon Heiman <notifications@github.com>
wrote:

Yes. See the example in the bug report.

I do not find any problem in our get_ownership implementation.

How does nodetool decide if there are any non-system keyspace (with which
http API)? Since get_ownership get the correct number. I suspect we might
have an issue in the jmx or nodetool.

[code]

--
Asias

[2016-03-09 08:28] #992 closed

[2016-03-09 08:28] #1001 closed

[2016-03-09 08:58] vladzcloudius commented on #909
On 03/09/2016 09:37 AM, Asias He wrote:

@asias - Of course. Why would I mark the above commit "Fixes #909" if it
didn't? ;)

[2016-03-09 09:25] slivne commented on #773
I think any thresholds or checks done before the read starts won't alone prevent oom in general, given high enough demand from concurrent readers or other operations, we may run out of memory in the middle of the read, or despite even low thresholds.

We can't just wait until we get std::bad_alloc because the std::bad_alloc can be thrown not in the context of the read causing it but anywhere else,

[2016-03-09 09:35] gleb-cloudius commented on #773
On Wed, Mar 09, 2016 at 01:26:03AM -0800, slivne wrote:

We do limit concurrent CQL readers/RPC readers by how much memory they
consume and do not allow new request to be send while memory does not
go below the threshold.

--
			Gleb.

[2016-03-09 09:46] asias commented on #1000
Patch is on the list.

[2016-03-09 09:49] vladzcloudius commented on #721
@asias @slivne
In regard to isolate-node test: the first bootstrapping node failed after 5 GossipEchoMsg failed during 5 seconds:
[code]

[2016-03-09 09:57] vladzcloudius commented on #721
Continuing the above: the second bootstrapping node in the same test mentioned above has failed with even more strange symptoms: there weren't any timed-out messages, the gossiper has just declared all other 3 cluster nodes as DOWN and failed the JOINING:

[code]

[2016-03-09 10:13] vladzcloudius commented on #721
The `bridge` test also didn't complete with all nodes bootstrapped. The picture looks similar to the first failed node in the `isolate-node` test described above.

[2016-03-09 10:28] vladzcloudius commented on #721
@asias @slivne I've double checked - Cassandra has shown the same behavior in this tests. So, we may lower the priority of this issue or even close it completely.

[2016-03-09 10:31] asias commented on #721
Good to know.

[2016-03-09 10:43] vladzcloudius commented on #721
@asias The test goes like this:
1. Three nodes (n1, n2 and n3) are loaded on an empty DB. Nodes' IPs are 192.168.122.11/12/13.
2. The test starts to add new data to the cluster.
3. In parallel the new nodes are bootstrapped: first n4 and then after 1000 seconds n5 (IPs ending with 14 and 15 correspondingly).
4. In parallel a `nemesis` fucks up the networking. It works in a cycles of `sleep 20s`->`

[2016-03-09 10:55] slivne commented on #721
going back to the original issue "nodes seem to be to sensitive to
networking issues in bootstrap" - are we more sensitive to networking
issues then cassandra ?

If not lets close this - unless someone objects ?

On Wed, Mar 9, 2016 at 12:43 PM, vladzcloudius <notifications@github.com>
wrote:

[2016-03-09 11:14] vladzcloudius commented on #721
@slivne as I've pointed out - C* shows the same level of 'sensitivity' in this test.

[2016-03-09 11:19] slivne commented on #721
so close the bug as the creator you can close it as well

On Wed, Mar 9, 2016 at 1:14 PM, vladzcloudius <notifications@github.com>
wrote:

[2016-03-09 11:45] penberg commented on #962
@gleb-cloudius, is this perhaps already fixed by f59415b3c6ebdd8f85b72f5658767ac676493845? In the test scenario, one node is killed and then restarted while cassandra-stress is running.

[2016-03-09 11:51] #721 closed

[2016-03-09 12:01] gleb-cloudius commented on #962
On Wed, Mar 09, 2016 at 03:45:12AM -0800, Pekka Enberg wrote:

No, the test does not test bootstrapping, just regular node up/down.

--
			Gleb.

[2016-03-09 12:02] vladzcloudius commented on #1004
@slivne `backup_restore_tests.py:TestBackupRestore.replay_restore_no_additional_data_test` works just fine for me with the HEAD 8575f1391fd1e80d8e19cb8bc27e60dfae6b435a

[code]

[2016-03-09 12:26] #928 closed

[2016-03-09 13:00] #976 closed

[2016-03-09 13:00] #979 closed

[2016-03-09 13:08] #968 closed

[2016-03-09 13:38] syuu1228 opened #1010 "Inconsistency between 'SCYLLA_IO' variable and 'SEASTAR_IO'"
Only iotune uses SEASTAR_IO, dist scripts and systemd unit still uses SCYLLA_IO, so io.conf may ignores by scylla-server.service.

[2016-03-09 13:45] #1010 closed

[2016-03-09 14:06] tgrabiec opened #1011 "Make logger extract more information from std::nested_exception"
Currently this:

[code]

Will print only:

[code]

Which is not useful at all.

[2016-03-09 14:19] lmr opened #1012 "[AMI 0.18] Scylla dumps core on short run of CorruptThenRepairMonkey"
I ended up hitting this while developing a new feature of the cluster test suite. After less than an hour of a CorruptThenRepairMonkey nemesis running, scylla dumped core.

Scylla package versions:

    scylla-boost-filesystem-1.58.0-11.el7.centos.x86_64
    scylla-boost-program-options-1.58.0-11.el7.centos.x86_64
    scylla-boost-system-1.58.0-11.el7.centos.x86_64
    scylla-boost-test-1.58.0-11.

[2016-03-09 15:24] slivne opened #1013 "0.18 core on shutdown"
[code]

core available at =185b7527-6cd6-4039-9465-888ba2f8d47f

[2016-03-09 16:18] avikivity commented on #1008
Definitely not for 1.0.

[2016-03-09 16:39] slivne opened #1014 "Scylla node not able to start"
[code]

[2016-03-09 16:51] slivne opened #1015 "dist:ubuntu warnings + stdout are not written to syslog they are written to /var/log/upstart/scylla-server.log"
on 0.18 / 0.18.1

[2016-03-09 16:55] gleb-cloudius commented on #1014
May be tmp TOC file is removed on boot by some shard while another is also looking for it.

[2016-03-09 16:58] glommer commented on #1014
Gleb: we seem to have another problem here. We tried to create some file, and that failed with an exception saying it already existed. So it seems to me that two shards got a handle on the same generation, both tried to create a new table, and when failed, both tried to delete it.

With random failures along the way, that would explain both the recent time stamps in the files, and the puzzling sta

[2016-03-09 17:00] glommer commented on #1014
@slivne first: aren't our logs supposed to be timestamped ? That would help determining if the problem was indeed on boot for sure

Second, how many shards do this machine have?

[2016-03-09 17:13] slivne commented on #1014
This is stdout  (or maybe stderr) for some reason we print to the output
and not syslog i openned abug about it

The machines has 24 shards

Tomek has updated output of stdout so.from 0.19 this will have timestamps
as well
On Mar 9, 2016 7:00 PM, "Glauber Costa" <notifications@github.com> wrote:

[2016-03-09 17:13] raphaelsc commented on #1014
@slivne: Could you please share content of system/schema_keyspaces?

[2016-03-09 17:16] slivne commented on #1014
954e79](root@scylla2-10006-prod-nydc1:~)# ls  -lstra
/var/lib/scylla/data/system/schema_keyspaces-b0f2235744583cdb9631c43e59ce3676

total 168

4 drwx------ 19 scylla scylla 4096 Feb 29 12:11 ..

4 -rwx------  1 scylla scylla   79 Feb 29 12:22
system-schema_keyspaces-ka-38-TOC.txt

4 -rwx------  1 scylla scylla   62 Feb 29 12:22
system-schema_keyspaces-ka-38-Summary.db

4 -rwx------  1 scylla scyll

[2016-03-09 17:22] raphaelsc commented on #1014
@slivne Generation 26 and 36 are lacking data and TOC files. They don't even have temporary TOC. Looks like we still face that problem with deletion.

[2016-03-09 17:29] amnonh commented on #893
The api that fail is:
curl -X GET "http://localhost:10000/storage_service/ownership/null"
{"message": "Can't find a keyspace system_traces", "code": 400}

The API actually runs:
storage_service::effective_ownership with keyspace == ""

I'll compare it to origin

[2016-03-09 17:46] amnonh commented on #893
Ok, here's the deal, it's not working in origin also.
When you check effective_ownership for an empty cluster, you actually check the system_traces (which we don't have)

In origin
For empty cluster it's true that you get:
Datacenter: datacenter1
=======================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address    Load       Tokens  Owns (effective)  Host ID

[2016-03-09 17:50] raphaelsc commented on #1014
@gleb-cloudius your assumption makes a lot of sense. If we had an unclean shutdown, we may have a temporary TOC on that generation. Deletion of temporary TOC is reserved to shard 0, but if other shard looked at this generation after temporary TOC is removed, scylla will trigger an exception because of that generation missing a TOC. A fix to this problem is to delete a generation with temporary TOC

[2016-03-09 17:57] tzach commented on #743
@syuu1228 is this fix on Ubuntu as well?

[2016-03-09 18:05] tzach commented on #893
Thanks @amnonh if Scylla and C* have the same functionality, we can leave it be

[2016-03-09 18:05] #893 closed

[2016-03-09 18:28] penberg commented on #1008
Isn't this what commit https://github.com/scylladb/scylla/commit/8260b8fc6f11390c4fa391b404cc1599bae6dbb3 does?

@glommer

[2016-03-09 18:31] glommer commented on #1008
Yes it is.

[2016-03-09 19:19] lmr opened #1016 "AMI 0.18: Streaming errors on short cassandra-stress runs (small node size)"
While waiting for 0.19 AMIs to become available, I was finishing up some new testcase features. As I re-ran some of our nemesis code using very short c-s runs (15 minutes), I found the sequence of errors that follows. Some important info:

1) The nemesis is CorruptThenRepairMonkey (more on what it does later).
2) 6 nodes t2.micro (I know it's not the recommended size, I'm posting this in case peop

[2016-03-09 19:59] syuu1228 commented on #1015
This is correct behavior on Ubuntu + Upstart environment, just like we have to use journalctl instead of /var/log/messages on Fedora/CentOS.
Even we changed the configuration, users may try to find log in /var/log/upstart/<service name>.log and never realize we actually change it.
So I don't think this is bug.

[2016-03-09 20:02] syuu1228 opened #1017 ""apt-get install scylla-server" automatically starts scylla-server without asking to user, by default"
It seems Ubuntu + Upstart default behavior, but need to prevent since we need to a time to configure scylla.yaml before starting scylla instance.
it especially become a problem on #998, since we don't want to start scylla on AMI creation time.

[2016-03-09 20:04] slivne commented on #1015
Well its strange

we are writing some items to syslog and some items to upstart

Could it be that we have stderr setup incorrectly to write to upstart
instead of syslog ?

On Wed, Mar 9, 2016 at 9:59 PM, Takuya ASADA <notifications@github.com>
wrote:

[2016-03-09 20:27] slivne commented on #1014
I tried to recreate this and the logs do not seem to match this theory

1. started a node
2. created some data
3. stoppped the node
4. renamed TOC.txt to TOC.txt.tmp
5. booted the server back up

when we delete a temporary toc we have

WARN  2016-03-09 22:20:10,574 [shard 0] sstable - Deleting components of sstable from keyspace1.standard1 of generation 18 that has a temporary TOC

I am not seeing

[2016-03-09 20:34] slivne commented on #1014
@raphaelsc , @glommer we should probably fix what you mention yet i am not sure that this is what we tackled in this case, any other idea how this can happen ?

[2016-03-09 20:38] slivne commented on #1013
@asias I have uploaded 2 core dumps

Can you please try and have a look at what you can find

please use an aws instance to download and analyze please note this is with version 0.18

I'll send an email on how to download

[2016-03-09 20:47] raphaelsc commented on #1014
@slivne, @glommer

Related to '''WARNING: exceptional future ignored of type 'std::system_error': Error system:17 (File exists) -in some way or another''', it would be a different problem (a guess). My theory covers the other problem.

The theory actually covers a real problem, but ***maybe*** it's not the problem faced by this issue. The problem covered by the theory is also not easy to reproduce

[2016-03-09 20:52] slivne commented on #1014
Could be yet - this does not explain why we are not getting from shard 0
the deletion message

On Wed, Mar 9, 2016 at 10:47 PM, Raphael Carvalho <notifications@github.com>
wrote:

[2016-03-09 20:55] raphaelsc commented on #1014
I thought about it, and generation 36 shown by the log only lacks Data and TOC component. If   it was the problem covered by my theory, we wouldn't see any files in generation 36 and subsequent boot would work.

[2016-03-09 20:55] slivne commented on #1014
@raphaelsc - if shard 1 is holding some files will shard 0 continue to
remove the toc or stop on the first file it is not able to delete which
means the TOC would remain ?

In any case lets start working on a solution to this issue in any case -
e.g. better algorithm to deletion at bootstrap.

On Wed, Mar 9, 2016 at 10:52 PM, Shlomi Livne <shlomi@scylladb.com> wrote:

[2016-03-09 20:56] raphaelsc commented on #1014
I am looking at the log again and it's pretty short to me, where are messages like: '[shard 0] database - Populating Keyspace system'?

[2016-03-09 20:59] slivne commented on #1014
Thats the mess of splitting the messages to two files which happens in
ubuntu right now e we have syslog messages and upstart/scylla-server.log
issue 1015

On Wed, Mar 9, 2016 at 10:56 PM, Raphael Carvalho <notifications@github.com>
wrote:

[2016-03-09 21:01] slivne commented on #1014
To make it clearer - we do not have them right now we should be able to
fetch them tomorrow AM IL time.

On Wed, Mar 9, 2016 at 10:58 PM, Shlomi Livne <shlomi@scylladb.com> wrote:

[2016-03-09 21:38] syuu1228 opened #1018 "Our default configuration of collectd outputs lot of warnings"
Looks like our configuration is not good, it repeats same message endlessly:
[code]

[2016-03-09 21:58] syuu1228 commented on #996
I checked shellscript on dist/common/scripts/scylla_io_setup, but it seems fine.
Problem is cpus.size() at https://github.com/scylladb/seastar/blob/b25a958e8d67af56eebc4be81e86e29a73faa18e/core/resource.cc#L191 is 7, not 8. Even "cat /proc/cpuinfo" has 8 cpus.

I found hwloc_get_nbobjs_by_type(topology, HWLOC_OBJ_PU) returns 7 (line is https://github.com/scylladb/seastar/blob/master/core/resource.

[2016-03-09 22:03] slivne commented on #1012
@lmr can you please extract a backtrace maybe its a known issue

[2016-03-09 23:54] asias commented on #1013
The cql server shutdown issue ...
On Mar 10, 2016 04:39, "slivne" <notifications@github.com> wrote:

[2016-03-10 06:25] penberg commented on #1008
@avikivity Please close.

[2016-03-10 06:30] #1005 closed

[2016-03-10 06:30] #1013 closed

[2016-03-10 06:32] glommer commented on #1014
This is a fairly big problem, and my suggestion is we split it up.

## Part 1: Somebody is writing too early.

The first thing to notice is this:

We had sstables with generations 38, 122, and 132.

when we do `probe_file()` ,we call `update_sstables_known_generation()`, which sets the generation counter to this:
[code]

@slivne said the box has 24 shards, so we would have:

1. 38 / 24 + 1 = 1 + 1

[2016-03-10 06:37] gleb-cloudius commented on #1013
On Wed, Mar 09, 2016 at 10:30:34PM -0800, Pekka Enberg wrote:

I see that the series only Refs the issue, not fixes it. Why github
decided to close it?

--
			Gleb.

[2016-03-10 06:38] penberg commented on #1009
@pdziepak @slivne The test times out in the debug build even with ``--smp 1``. Did anyone bisect this?

[2016-03-10 07:15] penberg commented on #1014
@glommer I sent a RFC to fix the first issue. I think it's the gossiper that starts to write to system tables as soon as it's up.

[2016-03-10 07:31] penberg commented on #1013
@gleb-cloudius The referenced commit says "probably fixes" which Github interprets as fixed :smile:

[2016-03-10 08:39] penberg commented on #962
I think we actually have a dtest that also triggers the problem. The following failure doesn't happen for _every_ run but it usually doesn't take very long time to hit it:

[code]

[2016-03-10 08:41] penberg commented on #962
Looks similar to this issue: https://github.com/scylladb/scylla/issues/894

Ping @asias

[2016-03-10 08:52] penberg commented on #962
This is not a recent regression -- the bug is reproducible in the 0.18 branch.

[2016-03-10 09:21] asias commented on #962
I will take a look.

[2016-03-10 09:25] asias commented on #1013
@slivne can you verify if current master fixes the issue.

[2016-03-10 10:04] nyh commented on #1014
@glommer, your theory really makes sense. Good job.

As for part 2 ("the deletions"), I think you more-or-less explained one possibility in an early comment in this issue, although it's not exactly clear to me how all the details fit with what you saw in the logs:

1. One shard starts sstable::write_components with a certain sstable number. write_components begins by writing the toc (.tmp) and cre

[2016-03-10 10:24] gleb-cloudius commented on #1014
On Thu, Mar 10, 2016 at 02:04:52AM -0800, nyh wrote:

Can flock(2) prevent this?

--
			Gleb.

[2016-03-10 11:02] tgrabiec commented on #1009
@penberg That dtest was only added few days ago, it could be that it never passed.

[2016-03-10 11:04] slivne commented on #1009
It does pass on smp=1

On Thu, Mar 10, 2016 at 1:02 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-03-10 11:05] tgrabiec commented on #1008
@penberg I think 8260b8f doesn't do what @avikivity suggests. That commit adds directory touching, but this issue is about getting rid of directory scanning.

[2016-03-10 11:06] tgrabiec commented on #1009
It still could never pass with smp=2, so bisecting it may be futile.

[2016-03-10 11:12] tgrabiec commented on #773
2016-03-09 10:35 GMT+01:00 Gleb Natapov <notifications@github.com>:

Admission control happens when the request enters the system. We need this
as well, but in case of reads, it's hard to predict how much memory a read
will need given current design. So we may allow reads in even though they
won't be able to complete. Because of that, I think we need safety measures
which will fail reads before we

[2016-03-10 11:15] slivne commented on #1009
You are correct it never AFAIK it never passed with smp=2.

On Thu, Mar 10, 2016 at 1:06 PM, Tomasz Grabiec <notifications@github.com>
wrote:

[2016-03-10 11:20] gleb-cloudius commented on #773
On Thu, Mar 10, 2016 at 03:12:56AM -0800, Tomasz Grabiec wrote:

Of course. There is nothing we can do about a read request that needs
more memory that single shard has except streaming. But since we have
admission control db can provide feedback to cql server by serving reads,
which become to be big, serially. If all reads are like that eventually cql
server admission control will stop get new re

[2016-03-10 11:43] tgrabiec commented on #773
2016-03-10 12:21 GMT+01:00 Gleb Natapov <notifications@github.com>:

Can you describe this mechanism in more details, exactly when and how do we
signal? Since we do not know how much memory a read will need, we don't
know how much concurrency is too much before it happens. When it happens,
we could signal shard's admission control that we can't accept more, but
it's already too late to prevent oom

[2016-03-10 12:08] slivne commented on #1004
@vladzcloudius any update ?

[2016-03-10 12:12] gleb-cloudius commented on #773
On Thu, Mar 10, 2016 at 03:44:03AM -0800, Tomasz Grabiec wrote:

We do not signal anything directly from db to cql server. cql server
estimates how much each request "cost" for admission purpose. It mat be
entirely off, but this is not important, what is important is that at
some point when X requests will be in the system it will not allow more
requests. Now comes db part. DB servers all requests

[2016-03-10 12:27] nyh commented on #1014
Something still doesn't fit in my explanation above. We saw the message "Invalid State encountered. Temporary TOC file found after TOC file was processed" in the log. This means that column_family::populate() saw *both* ".txt" and a ".txt.tmp" files for the TOC.
I don't understand how this fits into the above guesses, nor to the fact that neither of these files existed when we looked at the direct

[2016-03-10 12:54] vladzcloudius commented on #1004
On 03/10/2016 02:08 PM, slivne wrote:

Still trying to understand why a second refresh causes the failure and
deletes all SStables. According to logs both refreshes have successfully
completed.

[2016-03-10 13:10] vladzcloudius commented on #1004
@slivne is it a must to have ks-cf-ka-1-*? I see that there isn't this SStable even after I simply create a CF and flush it.

[2016-03-10 13:11] slivne commented on #1004
I am not the expert on this @glommer / @raphaelsc should probably have an
answer

On Thu, Mar 10, 2016 at 3:10 PM, vladzcloudius <notifications@github.com>
wrote:

[2016-03-10 13:23] glommer commented on #1014
Hi Nadav.

I think one of the keys to understand this behavior, is that reads are done with getdents in a loop.
So it is possible that one of the shards saw both the tmp toc and the toc. A single shard will read all entries at once and then act on them, so that's why we'll see different responses to this: some will just see a missing TOC, some will see both entries.

But I was unable to come up wi

[2016-03-10 13:36] glommer commented on #1004
It's okay not to have an SSTable with the generation number 1.
As a matter of fact we're not expecting to see one, since the code that creates generations do _gen * smp_count + shard_id

_gen starts with 1, so for SMP 2, your first two SSTables will be 1 * 2 + 0 = 2, and 1 * 2 + 1 = 3.

If gen started with 0, we'd have an SSTable with generation number 0 (0 * 0 + 0). That's not the end of the worl

[2016-03-10 13:40] glommer commented on #1014
As for 2., I am not sure we should use the mark deletion route.

If we have races like that in the future, arriving from whichever reason, we can have shards marking an SSTable to be deleted and others not doing so. So we'll have inconsistent view on the set of SSTables, and some tmp files will survive.

The way I believe we should do this, is if shard 0 has special responsibilities, it should run

[2016-03-10 13:45] lmr commented on #1012
I think we are doing something wrong with the AMI setup, for I couldn't actually get a backtrace using our custom scylla GDB version:

    $ /opt/scylladb/bin/gdb --core core.scylla.994.45417023a16144ccaa809055e945503e.2670.1457472115000000
    GNU gdb (GDB) Red Hat Enterprise Linux 7.10.1-30.el7.centos
    Copyright (C) 2015 Free Software Foundation, Inc.
    License GPLv3+: GNU GPL version 3 or

[2016-03-10 13:46] gleb-cloudius commented on #1012
On Thu, Mar 10, 2016 at 05:45:56AM -0800, Lucas Meneghel Rodrigues wrote:

Just press 'n' when it asks you if you want to exit.

--
			Gleb.

[2016-03-10 13:47] lmr commented on #1012
What's worse, `sudo coredumpctl info`  shows no core dump.

[2016-03-10 13:47] lmr commented on #1012
@gleb-cloudius, I just tried it, it hangs and I don't get any output anymore.

[2016-03-10 14:14] vladzcloudius commented on #1004
On 03/10/2016 03:36 PM, Glauber Costa wrote:

This is exactly what I see:

ll /home/vladz/.dtest/dtest-4IF8ms/test/node1/data/ks/cf-26c9bca0e6c111e592c9000000000001/
total 172K
drwx------. 2 vladz vladz 4.0K Mar 10 15:08 .
drwx------. 3 vladz vladz 4.0K Mar 10 15:08 ..
-rwx------. 1 vladz vladz    8 Mar 10 15:08 ks-cf-ka-2-CRC.db
-rwx------. 1 vladz vladz  44K Mar 10 15:08 ks-cf-ka-2-Data.db
-rwx-

[2016-03-10 14:35] glommer commented on #986
@slivne  Guys, can we close this one?

[2016-03-10 14:53] slivne commented on #986
its not merged AFAIK

On Thu, Mar 10, 2016 at 4:35 PM, Glauber Costa <notifications@github.com>
wrote:

[2016-03-10 15:04] glommer commented on #986
you mean the seastar patch?

Why??

On Thu, Mar 10, 2016 at 9:53 AM, slivne <notifications@github.com> wrote:

[2016-03-10 15:43] tzach opened #1019 "Scylla 0.19 iotune take a long time and than crash"
Running 0.91 AMI on t2.micro iotune runs for a long time, than crash

[code]

[2016-03-10 16:04] raphaelsc commented on #1014
@nyh, @glommer: Related to "toc.txt" and a "toc.txt.tmp" in the same generation, I think this can indeed happen because sstable::write_components firstly create "toc.txt.tmp" and only later will rename it "toc.txt". sstable::create_data() would probably trigger an exception later on, but at that point, we will have both "toc.txt" and "toc.txt.tmp" for the same generation. I think we should check i