[2022-11-17 09:06] denesb commented on #11973
It is a duplicate of #11923.

[2022-11-17 09:06] #11973 closed

[2022-11-17 09:07] denesb commented on #11923
My attempts to reproduce this with a unit test failed so far. I got some new core(s) to look at in https://github.com/scylladb/scylladb/issues/11973. They display the same weird "shouldn't happen" state that I observed in this core. I still have no idea how we get to this state.

[2022-11-17 09:30] avikivity commented on #11853
Then this becomes an issue with Jepsen.

[2022-11-17 09:37] denesb commented on #11923
More illegal states found in the logs:
[code]
This further confirms my suspicion that we have a state-change path which doesn't trigger an admission check as it should.

[2022-11-17 09:48] JerryKwan commented on #11988
@elcallio I have add commitlog_use_hard_size_limit: true, but it still consumes much more disk space than the system RAM memory.  It still consumes almost all of the disk space. Any suggestions?

[2022-11-17 09:48] bhalevy opened #12010 "Scylla should skip mode validation of snapshot files"
Since 65dd45d9cf83e562993e88dcbf1e214117d46b24 we're verifying the owner and mode of all files in the table directory when scylla is started.
But we do that recursively, diving into the snapshots sub directory.
This is not necessarily a bad thing, however scylla manager might delete snapshot in parallel, causing scylla to fail to start with e.g.:
[code]

See https://github.com/scylladb/scylla-clus

[2022-11-17 09:53] bhalevy commented on #12010
I suggest to reconsider or limit the recursive check below using an parameter to directories::verify_owner_and_mode. https://github.com/scylladb/scylladb/blob/0c9cb5c5bfb213d4761930e1fb2ad261aa02afbd/utils/directories.cc#L134-L136

If called from the distributed loader, it should be safe to flatly verify the owner and mode on the directory being loaded, as we load each of the sstables subdirectori

[2022-11-17 10:59] yarongilor commented on #11915
@nyh , let me summarise all above results and point to an issue (which indeed is not necessarily and Alternator one):

- The `select *` always resulted with zero, no issue here.
- The issue is tombstones are not deleted and their containing sstables left when they're expected to be gone.
- This is since (1) all data is expired (2) passed gc-period duration (3) ran a major compaction.
- The scenari

[2022-11-17 11:10] denesb commented on #11923
I think I have a theory now:
[code]
This loop can race with adding a new inactive reader(s) and waiters, as there is a window between when the loop is done and when it sets `_evicting = false` (allowing for other evictions).

[2022-11-17 11:20] bhalevy commented on #12007
Reproducer here: https://github.com/bhalevy/scylla-dtest/commits/drop-table-during-cleanup
I'll submit it along with the fix to scylla

[2022-11-17 11:39] avikivity commented on #10701
So, is it fair to say that this is a duplicate of #8272 that got caught in an unfavorable point in time by the client? If so we can consider it a non-regression, not backport 6b316f267f0c997684dea585207721edfd617182 as a large change, and move on.

[2022-11-17 11:48] tgrabiec commented on #10701
It looks like so. But we start seeing this kind of event more often recently, and this time it's not GCE but AWS. There may be hidden variables which we don't understand.

Maybe we should have a stall detector for latency of disk operations so that we can quickly tell if it's what we think it is (slow disk).

[2022-11-17 12:00] roydahan commented on #11960
@mykaul / @avikivity this issue was pushed to 5.2, but if it's ICS specific, you may want to reconsider it to the 2022.2 release.

[2022-11-17 12:04] avikivity commented on #10296
@asias how far back should this be backported? Is only 5.1 affected? (if not, then it wasn't a regression)

[2022-11-17 12:15] asias commented on #10296
We only saw the issue with 5.1. Let's backport to 5.1 only.

[2022-11-17 12:21] raphaelsc commented on #10065
@denesb another metric we shoud have is # of sstable readers. today, when debugging OOM, we don't exactly how many readers exist until we peek into the coredump right? # of sstable reader is also a great indicator for read amplification issues, so we can correlate it with compaction falling behind or bad stratetegy settings.

[2022-11-17 12:23] DoronArazii commented on #11976
@bhalevy / @raphaelsc please have a look

[2022-11-17 12:29] nexcode opened #12011 "hostname: Name or service not known"
*Installation details:*
Scylla version (or git commit hash): 5.0.5
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 9

*compose.yaml:*
[code]

*autogenerated /etc/scylla.d/docker.conf:*
[code]

**ERROR:**
[code]

Why need `hostname -i` if all listen adresses are provided?

[2022-11-17 12:29] mykaul commented on #11976
@vponomaryov - the following step is unclear to me "Delete stopped scylla pod/node data"  - why would that happen? what's the use case here?

[2022-11-17 12:31] avikivity commented on #10296
Backported to 5.1.

[2022-11-17 12:37] fruch commented on #11976
This simulate the case for k8s node going down, and this pod need to schedule to a new k8s node (where it doesn't have it's pv)
it's a poorsman substitution for really taking the k8s node down (we still have that on our backlog to implant)

anyhow the issue here seems to be unrelated to k8s/operator, since it's seems to be happen in VMs as well

[2022-11-17 12:42] raphaelsc commented on #12007
Great. @bhalevy thanks for working on the fix in addition to writing a dtest for reproducing this. we'll probably have to forgive the unexistence of a given table when iterating through the list.

[2022-11-17 12:46] bhalevy commented on #12007
right.  fix already working, cleaning it up and will submit the PR.
it's quite comprehensive since the problem is not limited to cleanup, other operations that walk over a list of tables are susceptible too, like major compaction and friends.

[2022-11-17 12:53] DoronArazii commented on #11977
Duplicate with #2577

[2022-11-17 12:53] #11977 closed

[2022-11-17 13:02] annastuchlik opened #12012 "docs: move the information about experimental features to a separate page"
Currently, the information about experimental features is provided in three different documentation sections:
https://docs.scylladb.com/stable/operating-scylla/admin.html#experimental-features
https://docs.scylladb.com/stable/operating-scylla/admin.html#enabling-experimental-features
https://docs.scylladb.com/stable/faq.html#i-want-to-try-out-new-features-how-do-i-enable-experimental-mode

We need

[2022-11-17 13:22] wyfo opened #12014 "Grouped clustering keys relation makes ignore filtering"
*Installation details*
Scylla version (or git commit hash): 4.6.9-0.20221009.18e7a4603 (and 5.0.5-0.20221009.5a97a1060)

## Steps to reproduce
[code]

[2022-11-17 13:34] kbr- opened #12015 "There is no way to wait until the UP/NORMAL states of other nodes are processed"
In test.py topology tests we often perform topology operations as soon as all nodes have finished bootstrapping or restarting. Such topology operations race with gossiper which may be in the middle of notifying different Scylla modules that some other node has entered NORMAL state or that it has restarted. This may disrupt the topology operations.

Examples of failures:
- in https://github.com/scy

[2022-11-17 13:35] annastuchlik commented on #12012
I would definitely avoid repetition.
I don't know why the question was added to FAQ, but I think the question may be asked because we specify that some features are "experimental" across the documentation and in the release notes.
Anyway, let's have that new page and discuss the changes when I open V1.

[2022-11-17 13:36] kbr- commented on #12015
cc @nyh you might find this interesting.

[2022-11-17 13:37] avikivity commented on #11961
Unbounded concurrency is clearly visible in the sl:default disk queue length growing towards infinity.

![image](https://user-images.githubusercontent.com/1017210/202460694-8d2923a9-0075-4a8a-ae0f-8880cff6d1cf.png)

[2022-11-17 13:40] mykaul commented on #12015
I *think* this is also important for a rolling upgrade in K8S environment - you don't want to continue to the next K8S node drain, before a Scylla node is truly up, communicating and doing work.

[2022-11-17 13:41] avikivity commented on #11961
Only one shard 4 lost control:

![image](https://user-images.githubusercontent.com/1017210/202461477-a4f51a4e-81d4-426a-a707-d526a97130a8.png)

[2022-11-17 13:42] kbr- commented on #12015
Indeed, or more generally, if you want to "automate the administrator" - this cannot be done correctly unless we have a reliable way to query a node's status regarding how it views other nodes.

[2022-11-17 13:42] michoecho commented on #11961
But note that the non-evictable memory usage of some shards after restart is also very high, almost as high as shard 4 when it OOMed. Maybe they were close too OOM too, and didn't purely due to luck?

[2022-11-17 13:45] avikivity commented on #11961
The view update backlog metric is high on shard 4 on three nodes, but _after_ the crash. Maybe hints replay?

![image](https://user-images.githubusercontent.com/1017210/202462444-4ed712fd-6726-4908-950f-09443e095bfe.png)

[2022-11-17 13:45] nyh commented on #12015
@kbr- thanks, this is interesting because it may explain a few, though not all, of the failures we saw when trying to eliminate the silly sleeps in dtest (https://github.com/scylladb/scylla-dtest/pull/2455).

While I agree with you that we could add all sorts of operations (REST API, nodetool, etc.) that checks if node X is aware of Y, and so on, I think there a better solution: I think we need to

[2022-11-17 13:46] avikivity commented on #11961
@nyh I need help here. Presumably, this isn't a regression. But then why did it start happening now?

[2022-11-17 13:50] avikivity commented on #11961
We see shard 4 losing update push rate just before the crash:

![image](https://user-images.githubusercontent.com/1017210/202463591-373009e2-fad9-498d-b4b9-ab6aa3880866.png)

[2022-11-17 13:51] avikivity commented on #11961
No failures recorded:

![image](https://user-images.githubusercontent.com/1017210/202463779-a5c478f2-1d58-4f91-be5d-94c2fa2e5a76.png)

[2022-11-17 13:52] avikivity commented on #11961
Similar picture with local pushes:

![image](https://user-images.githubusercontent.com/1017210/202463980-029403b5-a473-4a14-85ce-c65197437693.png)

[2022-11-17 13:53] avikivity commented on #11961
This part of mutate_MV() is deliberately losing control of the update:

[code]

[2022-11-17 13:58] michoecho commented on #11961
@avikivity

AFAIK `mutate_MV()`, the second part of `generate_and_propagate_view_updates`, which applies the deltas to views, is limited (by view_update_concurrency_semaphore), but the first part, which generates the deltas, is not. (So I guess the unlimited concurrency accumulates between the first part and the second part.)

[2022-11-17 13:59] zimnx commented on #12015
In K8s we are struggling without this invariant. Our tests are flaky because requests are timedout or we get errors even when our readiness check passes.

Currenly we qualify node as being ready to serve requests based on whether node itself reported UN via `GET /gossiper/endpoint/live/` and `GET /storage_service/host_id` and whether CQL port has been opened (GET /storage_service/native_transport)

[2022-11-17 14:00] raphaelsc commented on #828
/CC @bhalevy

[2022-11-17 14:00] kbr- commented on #12015
and some non-CQL requests too (topology change requests are done through rest api endpoints), but yes, this should probably be the way.

BTW. Raft-based topology changes can solve this:
- we move the STATUS of peers into group 0
- before performing a topology operation, we call raft `read_barrier`, which ensures that we have the latest group 0 state
- after calling `read_barrier`, verify that the

[2022-11-17 14:02] kbr- commented on #12015
Well, obviously you cannot have such guarantee, but you can try to guarantee something like:
If a node accepts a CQL request, and there is no subsequent failure, the request will work
(although depends how you define "failure"; e.g. is a temporary increase in network latency a failure or not?)

[2022-11-17 14:04] avikivity commented on #11961
IIRC the first part is synchronous with the write to the base table. I'll look at the semaphore's value to see what it was thinking.

[2022-11-17 14:08] avikivity commented on #11961
[code]

[2022-11-17 14:09] avikivity commented on #11961
So 0.86GB. That's more than 10% of a shard's memory IIRC.

[2022-11-17 14:11] avikivity commented on #11961
Shard 4 doesn't even look special here:

[code]

[2022-11-17 14:16] michoecho commented on #11961
It's configured to be exactly 10% of the shard's memory.

[2022-11-17 14:19] avikivity commented on #11961
Yes, probably this machine has 8.6GB/shard due to a core being reserved for interrupts. I remember 7GB but maybe that doesn't account for the reserved core.

[2022-11-17 14:20] avikivity commented on #11961
There's no indication of view overload in https://github.com/scylladb/scylladb/issues/11961#issuecomment-1313988124. Need to find the root cause there.

[2022-11-17 14:24] avikivity commented on #11961
Actually there is:

[code]

about 200k sstable readers, about 20k full readers, and about 20k view updates. 20k view updates if each view costs 1k = 20MB, but a 200k sstable readers cost a lot more than that.

[2022-11-17 14:25] avikivity commented on #11961
So the problem is that we don't respect the reader concurrency semaphore: https://github.com/scylladb/scylladb/issues/11961#issuecomment-1314265936

[2022-11-17 14:26] michoecho commented on #11961
Is the task histogram reliable? Does it have a way not to count already freed objects?

[2022-11-17 14:26] xemul opened #12016 "sstable deletion log replay leaks l.d.h. entries"
The sstable::unlink looks like

[code]

however, is unlink is "replayed" via deletion log it only calls `remove_by_toc_name()`

[2022-11-17 14:28] avikivity commented on #11961
It's not reliable, but it's good enough in my experience.

[2022-11-17 14:30] raphaelsc commented on #828
Summarizing my discussion with Benny on this topic:

- A SSTable's token range can span multiple vnode ranges
- Currenty algorithm picks a SSTable for cleanup if it's token range is fully contained in any of the node's owned ranges.
- That's suboptimal, which is the reason this issue was created.
- Even with compaction strategies that generate a run, it can still happen a fragment range can span m

[2022-11-17 14:31] avikivity commented on #11961
It's possible that this is an effect, not a cause: that shard is going crazy doing reads for the view update, and we may be mis-classifying those reads. They should have gone to sl:default, but they're going to query instead.

/cc @eliransin

[2022-11-17 14:32] avikivity commented on #11961
@yarongilor please run this test on 5.1 OSS too so we can see if workload prioritization has an effect here.

[2022-11-17 14:36] vponomaryov commented on #11976
Israel is right, it is simulation of a pretty real situation where we lose a K8S node and all it's storage.
And, as Israel also stated, it is most probably unrelated to K8S and is one another indicator of a bug that occurred here: https://github.com/scylladb/scylladb/issues/11966

[2022-11-17 14:39] avikivity commented on #11961
Indeed we start consuming from the semaphore only after we've read from the base table. So we're before the asynchronous part of view updates.

[2022-11-17 14:40] wyfo commented on #12014
@ultrabug

[2022-11-17 14:46] avikivity commented on #11961
We have a race in management of the view update concurrency semaphore:

[code]

We check the semaphore and commit to applying the view, but

[code]

We only start consuming units after the read completes. So there is a (possibly long) window where we think we have resource, but after those reads complete, we can be deeply overcommitted. In any case I don't think that's the problem here.

[2022-11-17 14:47] nyh commented on #11961
I didn't understand all the details here, do you think it's the same as https://github.com/scylladb/scylladb/issues/8873, i.e., one shard has a huge background write backlog (the old-style write backpressure) filling 10% of the memory, and each of these writes is doing a read-before-write causing a huge amount of parallel reads?

[2022-11-17 14:54] avikivity commented on #12015
Agree with adding a REST endpoint to improve the test. Re having the CQL server (and alternator) wait for stability before listening, that seems like a good idea but need to think about it carefully. Esp. if we move administrative functions to CQL we can end up with losing the ability to fix a problem.

Perhaps we need several CQL listeners (on unix-domain sockets): a local administrative listener

[2022-11-17 15:04] bhalevy commented on #828
It might be worth preparing more detailed ranges when writing the sstable so we have an array of token ranges, each contained in a single owned range, determined at the time of writing the sstable.

[2022-11-17 15:30] Jadw1 commented on #11947
There is already an issue about this test https://github.com/scylladb/scylladb/issues/11684.
I've checked this test locally and it every time I've run it, it was ok. I'm going to add some debugging logs and enable them, so next time when the build will fail, there should be information if this is caused by distributed aggregates.

and I didn't change that logic.

[2022-11-17 15:49] bhalevy commented on #11966
It looks like the exception happens in repair_service::start:
[code]

before getting to `init - starting CDC Generation Management service` that happens normally after it.

[2022-11-17 15:57] bhalevy commented on #11966
maybe the bad_cast comes from one of the `row.get_as<>` calls in `system_keyspace::get_repair_history`
as they call `value_cast<T>` and there we have:
[code]

[2022-11-17 16:24] avikivity opened #12019 "test_tools crashes when seastar.conf specifies smp > 1"
I have a ~/.config/seastar/seastar.conf that says "smp = 2". When I run ./test.py test_tools, it crashes when starting the second reactor.

Looks like main() doesn't suppress the configuration file.

[2022-11-17 17:11] raphaelsc commented on #828
That's similar to what we do for sstable resharding. we split sstable range into a range list, with each one spanning a single shard, and store the info in Scylla.DB. On restart, we calculate the set of owner shards and then discard the metadata. vnode and shard ranges don't coincide so we can't reuse the existing metadata. For cleanup, we can read the range metadata on demand, for determining if

[2022-11-17 17:16] avikivity commented on #12002
Backported to 5.1. Will backport further pending feedback from @raphaelsc .

[2022-11-17 17:39] avikivity commented on #12002
Removing backport candidate label.

[2022-11-17 17:46] aleksbykov commented on #11920
## Issue description

Issue reproduced. On node4  Decommisison was started by `nodetool decommission`:
[code]
in 10 minutes on node 6 next error happened and coredump triggered:
[code]
and node 6 was rebooted.

node4 reported that decommission process was terminated:
[code]

## Installation details

Kernel Version: 5.15.0-1022-aws
Scylla version (or git commit hash): `5.2.0~dev-20221112.ff87624fb4

[2022-11-17 17:54] aleksbykov commented on #11920
[code]
[code]
[code]
Additionally next errors were found in node6
[code]

[2022-11-17 18:29] aleksbykov commented on #11923
@denesb could you is it same issue or not.
with scylla version: Scylla version: 5.2.0~dev-20221112.ff87624fb4d6 on similar asymmetric cluster, right after scylla-bench started and created keyspace and tables, on node5  next happened.
[code]
and after that all node one by one also reported Abort and trigger coredump.

all db logs are here: https://cloudius-jenkins-test.s3.amazonaws.com/4bfeb0d6-c78

[2022-11-17 18:39] roydahan commented on #11972
@avikivity, Do you want us to ignore stalls during this kind of nemesis? (MemoryStress)

[2022-11-17 18:40] roydahan commented on #11945
@fruch is this the test failing in java-driver-matrix?

[2022-11-17 18:46] bhalevy opened #12022 "cxa_exception: warning: 'unexpected_handler' is deprecated"
The following warnings are produced with clang version 15.0.4 (Fedora 15.0.4-1.fc37)
[code]

Based on https://en.cppreference.com/w/cpp/error/unexpected_handler
we should probably replace the type by `void (*)()`

[2022-11-17 19:10] fruch commented on #11945
We did encountered it on master.

And it was decided to skip the test see the issue I've opend and @avelanarius is refering to.

[2022-11-17 19:32] roydahan commented on #11915
@yarongilor does the short reproducer with nemesis reproduce the issue?
If so, what is the list of the nemesis that run in the test?

[2022-11-17 19:55] Gor027 commented on #11945
Actually, this is a different test, a more "realistic" one than the skipped test in the referred issue.

[2022-11-17 20:08] Gor027 commented on #11945
As it's mentioned in the related issue [here](https://github.com/scylladb/scylladb/issues/10956#issuecomment-1188845014), after the patch [`19a6e69`](https://github.com/scylladb/scylladb/commit/19a6e69001f26133a7f7a0a13e89935888884e1a) the prepared statement metadata does not contain full information about named markers with repeated names:

e.g. `update user set home_phone = :phone, work_phone =

[2022-11-17 20:25] fgelcer opened #12024 "Multiple coredumps on reader_permit::impl::on_evicted(): Assertion `_state == reader_permit::state::inactive' failed"
## Installation details

Kernel Version: 3.10.0-1160.76.1.el7.x86_64
Scylla version (or git commit hash): `5.1.0~rc3-20221009.9deeeb4db1cd` with build-id `4e3d124e4636ed9e7f88aeaace85c1ac637ed200`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla/relocatable/scylladb-5.1/scylla-x86_64-package-5.1.0-rc3.0.20221009.9deeeb4db1cd.tar.gz
Cluster size: 4 nodes (n1-highmem-8)

Scylla No

[2022-11-17 20:27] fgelcer commented on #12024
@bhalevy @denesb , it is failing on master rolling upgrades for the last 4 weeks. i will be checking now about other tests, if their coredumps are related...

[2022-11-17 20:32] bhalevy commented on #12024
It looks like a recursive path where on_evicted is reentered after setting `_state = reader_permit::state::evicted`

[2022-11-17 20:49] michoecho commented on #12024
Second duplicate of #11923.

[2022-11-17 21:23] bhalevy commented on #12002
closing...

[2022-11-17 21:23] #12002 closed

[2022-11-17 23:08] #11780 closed

[2022-11-17 23:08] #11992 closed

[2022-11-17 23:08] #11993 closed

[2022-11-18 03:10] JerryKwan commented on #11988
@elcallio Any suggestions why commitlog_use_hard_size_limit: true does not work? It still exceed the setting of commitlog_total_space_in_mb. And What should I do to limit the total size of commit log use?

[2022-11-18 04:48] #11995 closed

[2022-11-18 05:30] denesb commented on #11923
Yes, this is the same issue.

[2022-11-18 05:30] denesb commented on #12024
Duplicate of #11932

[2022-11-18 05:30] #12024 closed

[2022-11-18 05:38] denesb commented on #12019
Config/cmd-line overriding the internal configuration of tools is by design. I wanted to allow expert users to tweak the params if they want/need to.

The crash is not by design. Will look into it.

[2022-11-18 05:50] denesb commented on #11961
If you use the `-a` flag, it is reliable. It enumerates all objects with a vtable on the shard and only considers live ones.

[2022-11-18 09:48] denesb commented on #12015
This was also proposed in the context of the maintenance mode (https://github.com/scylladb/scylladb/issues/5489): have a separate CQL port for local administrator.

[2022-11-18 10:11] denesb commented on #10065
Yes, I agree something like this would be nice to have. There is no such stat maintained today but it is easy to add one. While at it, we can add a metric for cache and memtable readers. Then we could immediately spot if there is a problem with too many sstables.

[2022-11-18 10:57] kbr- opened #12028 "Potential hang in `database - Flushing system tables` during shutdown"
Perhaps it's just slowness, but could be a hang.

https://jenkins.scylladb.com/job/releng/job/Scylla-CI/3047/artifact/logs-gating.release.2/1668717525101_bootstrap_test.py%3A%3ATestBootstrap%3A%3Atest_start_stop_node/node1.log
[code]

Dtest got impatient and killed the node
https://jenkins.scylladb.com/job/releng/job/Scylla-CI/3047/artifact/logs-gating.release.2/dtest-gw3.log
[code]

[2022-11-18 11:21] tgrabiec commented on #11961
On Fri, Nov 18, 2022 at 6:51 AM Botond Dénes ***@***.***>
wrote:

It walks live spans, but it doesn't consider span's free list, right?

[2022-11-18 13:06] bhalevy commented on #12024
You mean, duplicate of #11923 :)

[2022-11-18 14:38] cvybhu commented on #12014
Posted a fix in #12031

[2022-11-18 14:54] kostja commented on #9967
Group0 has been moved out to an own service.

[2022-11-18 14:54] #9967 closed

[2022-11-18 14:56] wyfo commented on #12014
Thank you for the patch.

So, this is a duplicate of #6200; I did search for similar issue before posting, but my wording was not close enough.

Feel free to close it as duplicate, or let's just wait #12031 merge.

[2022-11-18 14:58] cvybhu commented on #12014
Let's just wait for #12031 to autoclose this issue

[2022-11-18 15:07] kostja commented on #11723
@alecco I think this is best testing by injecting a failure in htis place, and then either trying to go forward (finish the operation) or backward (remove the dead node). Assigning to you for adding a test, when we have a test we can decide what to do wit the bug.

[2022-11-18 15:13] tgrabiec commented on #2109
After https://github.com/scylladb/scylladb/commit/c16e4a04239798c41fa140c14eabb250b5422983 this problem will also impact reads.

[2022-11-18 15:13] kostja commented on #10912
Because no one bothered to update it and since it's only used in tests and no more tests for it were added as the definition bloat happened it didn't fire.

[2022-11-18 15:17] kostja commented on #10355
This has long been fixed.

[2022-11-18 15:18] gusev-p commented on #11278
fixed by [this pr](https://github.com/scylladb/scylladb/pull/11769)

[2022-11-18 15:18] #11278 closed

[2022-11-18 15:22] kostja commented on #10192
https://github.com/scylladb/scylladb/pull/11986 contains the fix.

[2022-11-18 15:24] kostja commented on #10163
Should be addressed by now, please re-test.

[2022-11-18 15:25] #10069 closed

[2022-11-18 15:27] kostja commented on #9407
@kbr- I think it's best if you update our internal docs (raft/*.md) to reflect the issue. Could you take a moment to do it please and we'll close this one?

[2022-11-18 15:30] #7161 closed

[2022-11-18 15:31] kostja commented on #7087
@gusev-p could you pleaes take a moment to remove this test from dtest and we'll close this one? The test is superseded by the work we do now in test.py. Thanks!

[2022-11-18 15:32] kostja commented on #6269
Obsolete.

[2022-11-18 15:38] #6147 closed

[2022-11-18 15:43] kostja commented on #4458
@tgrabiec the commit which persists cluster features  0df14a48cf1dec07df5c7530f6cc84cbb8a49600 and #4458 in general. We now are expected to fail in such case, so it's desired behaviour.

[2022-11-18 16:05] tgrabiec commented on #4458
If I add a new feature now, and hit the scenario mentioned in the first post during rolling upgrade, we will still fail in the same way, aren't we?

https://github.com/scylladb/scylladb/commit/0df14a48cf1dec07df5c7530f6cc84cbb8a49600 doesn't change the feature check which is the source of the "Feature check failed" error.

[2022-11-18 16:24] alecco commented on #6174
Confirmed this is fixed.

Repro branch updated to latest dtest https://github.com/alecco/scylla-dtest/tree/alter_table_delete_bug_test

[2022-11-18 17:00] kbr- opened #12033 "docs: poetry.lock should be checked in into the repository, not .gitignored"
As in the title.

This gave me issues when I tried to build documentation on `branch-5.1`. I couldn't build because the lock file was inconsistent with a previous building of docs on `master`; had to remove and recreate the lock file (which kinda defeats the entire purpose of lock files).

Lock files should be committed into the repository for reproducible builds. See e.g. https://developerexperie

[2022-11-18 18:38] tzach commented on #12033
Note that this is a corss project policy

Examples:
https://github.com/scylladb/scylla-rust-driver/pull/237
https://github.com/scylladb/care-pet/pull/21
https://github.com/scylladb/scylla-manager-enterprise/pull/2363

@dgarcia360 please comment

[2022-11-18 19:14] raphaelsc commented on #9162
/CC @tzach

[2022-11-18 20:49] kostja commented on #4458
Any new feature we add now would be added the same way as we add e.g. RAFT feature - in a two-step procedure, first - declare support, then actually enable. It was impossible before, this is why the implementors had no choice but to enable the feature in new nodes as soon as they start, and this would lead to the situation you observed in this ticket.

Or do you have a better idea how we can enabl

[2022-11-18 20:54] kostja commented on #6174
* Alecco ***@***.***> [22/11/18 19:24]:

Can we move the test case to test.py or it's too heavy?

--
Konstantin Osipov, Moscow, Russia

[2022-11-18 21:26] tgrabiec commented on #4458
I'm not sure what you mean by "it was impossible before". "declare support, then, after all nodes in the cluster confirm the support, actually enable" is how cluster features always worked. We didn't persist locally the fact that the feature was observed to be enabled, it was inferred from gossip after restart.

The scenario in this issue is when the feature wasn't enabled yet, because the upgrade

[2022-11-18 23:00] #11935 closed

[2022-11-20 06:35] guy9 opened #12036 "docs: Issue in page Lightweight Transactions"
I would like to report an issue in page https://docs.scylladb.com/master/using-scylla/lwt

### Problem
When I open this page it appears under "Scylla Enterprise Features" on the left hand side menu bar (see attached), while on the top breadcrumb element it appears under Scylla Open Source Features. This is confusing.

###  Suggest a fix
Since this is an open source feature, it should appear under

[2022-11-20 07:02] yarongilor commented on #11961
Running a reproducer in:
https://jenkins.scylladb.com/job/enterprise-2022.2/job/longevity/job/Reproducers/job/ics-longevity-mv-si-4days-test_RebuildStreamError-only/6/
using version 5.1 and (non-ics) configuration of `test-cases/longevity/longevity-mv-si-4days.yaml`

[2022-11-20 07:03] guy9 commented on #12036
Reattaching:
![Screenshot from 2022-11-20 08-35-14](https://user-images.githubusercontent.com/42927024/202890079-eb42bfd0-d429-45d9-8e9d-27277398f7ae.png)

[2022-11-20 09:20] nyh opened #12037 "Mark Alternator TTL feature no longer experimental"
According to @tzach in https://github.com/scylladb/scylladb/pull/11997#issuecomment-1321062173, it has been decided that the Alternator TTL feature is no longer experimental.

Therefore, we should
1. In db/config.hh, drop the `ALTERNATOR_TTL` feature.
2. In db/config.cc, change the `alternator-ttl` to be unused.
3. In gm/feature_service.cc, drop the if() that disables the ALTERNATOR_TTL feature wh

[2022-11-20 10:06] nyh commented on #12014
Thanks @wyfo for re-discovering this bug and @cvybhu for fixing it.

@eliransin @mykaul please consider how we could devote developer time to solving these known bugs before users have to rediscover them. Preemptively discovering these bugs and creating easy-to-use reproducer tests was the main reason why I started the Cassandra unit test translation project (a 20% project which unfortunately I ha

[2022-11-20 10:57] nyh commented on #8195
Curiously, this bug seems to have been solved on its own, and `test/alternator/run --runxfail -v test_manual_requests.py::test_too_large_request_content_length` now XPASSes on my Fedora 36 setup.

It may have been solved not by the Cassandra library but one of the the Python libraries it uses. I see the urllib3 library recently fixed this issue (see https://github.com/urllib3/urllib3/pull/1524) bu

[2022-11-20 11:04] yarongilor commented on #11805
Reproduced the same error in a similar nemesis scenario in a test of ics-1TB.

During a nemesis of terminate-and-replace, c-s reported a lot of errors like:
[code]

Replaced node details (node-6):
[code]

Grafana shows node-3 had issues of:
Read/Write timeouts
Read/Write failures
Write blocked
100% CPU

![image](https://user-images.githubusercontent.com/9427929/202898686-58ecd5cb-9c92-44f2-86f1-1c

[2022-11-20 11:44] avikivity commented on #11780
I'd like to consider for backport. Is it a regression? How likely it is to happen in real life?

[2022-11-20 12:11] yarongilor commented on #11915
2 nemesis are actually executed (other nemesis either skipped or failed on sct side before running anything):

[code]
[Argus job](https://argus.scylladb.com/test/4fd7927a-9b9f-4504-94b8-fe91abb04c98/runs?additionalRuns[]=d46a98ee-6981-4dd4-9970-2591068e3b32)

[2022-11-20 12:27] mykaul commented on #2109
@avikivity , @tgrabiec - I'm setting this right now for 5.2, so we can agree on priority and design for a solution if one needed for this. We also need an assignee for this, if it's agreed to pursue.
If not, I suggest closing it and not leaving it rot in the backlog - if we'll hit this again, we can always re-open.

[2022-11-20 13:44] tgrabiec commented on #2109
What's the problem with keeping it open? If we close this, how do we distinguish this unimplemented idea from other issues, which were resolved?

[2022-11-20 13:55] nexcode commented on #12011
The problem is in scyllasetup.py file:
[code]

We temporarily fixed it by reassembling the image:
[code]

[2022-11-20 14:11] avikivity commented on #2109
And we're hitting it every time we change schema; it's just usually not too terrible.

[2022-11-20 14:37] avikivity commented on #12011
Looks like we need to install hostname. But maybe we can use a python function instead, to avoid an extra useless package.

[2022-11-20 14:53] avikivity commented on #11935
@asias from the description it looks like it doesn't directly fix a bug and therefore needs no backport. Is this correct?

[2022-11-20 15:24] roydahan commented on #11915
Ok, let's check each one of them separately to see which one is the root cause and why.

[2022-11-20 16:10] mykaul commented on #2109
Closing means we've reached a decision on it, keeping it open with some futuristic version - less so.
I don't have a strong opinion about it, but I think it's better to keep a reasonable, realistic backlog.
This one is a good example - open for 5 years, with no clear action item. Again - we can keep it open if we feel there's value (for an on-going re-evaluation, link to newer issues as a 'meta-tr

[2022-11-20 18:06] avikivity commented on #11972
I don't know if the system can survive this test.

[2022-11-20 18:50] #6200 closed

[2022-11-20 18:50] #12014 closed

[2022-11-20 18:59] avikivity commented on #2109
There's "Close as completed" and "Close as not planned" but neither fit the state of the issue.

[2022-11-20 20:00] tgrabiec commented on #2109
On Sun, Nov 20, 2022 at 5:10 PM Yaniv Kaul ***@***.***> wrote:

There is an implementation plan in one of the comments (
https://github.com/scylladb/scylladb/issues/2109#issuecomment-840041635),
and we're hitting issues in production which this issue would help with
(linked). This issue is not a good example, in my opinion.

Message ID: ***@***.***>

[2022-11-21 00:47] asias commented on #11935
Correct.

[2022-11-21 01:14] #11923 closed

[2022-11-21 01:14] #11174 closed

[2022-11-21 01:41] asias commented on #11217
Here is the PoC:

https://github.com/scylladb/scylladb/pull/12040

[2022-11-21 02:22] asias commented on #11853
I send a PR here: https://github.com/scylladb/scylladb/pull/12041

[2022-11-21 06:10] aleksbykov commented on #11507
@roydahan I reran reproducer with 5.1 2 times. both times it failed on first run of RepairStreamingError, as i previously reported. It was easy reproduced.
I also ran for branch-5.0 (5.0.3) and it is still not failed. (Already have been running for 4 hours). For 5.1 it failed in 2 hours
So it looks like a regression.

[2022-11-21 06:24] asias commented on #11507
What node operations were performed in your test?

[2022-11-21 06:37] aleksbykov commented on #11507
@asias Operation was repair.
On node `nodetool repair` started and it terminated with reboot. and after node was up rebuild executed and it failed.

[2022-11-21 06:57] asias commented on #11507
OK. Let's get the metrics and logs. I am wondering why it failed only for the first run of the repair and rebuild.

My guess is that:

- last node was added
- offstrategy compaction for the last node was still running
- repair started
- offstreategy compaction for repair was running
- rebuild was performed, it did not use offstreategy, so normal compaction was ingesting the data
- cpu was loaded
-

[2022-11-21 07:16] yarongilor commented on #11961
@avikivity ,
A core dump is reproduced in above 5.1 after ~ 12 hours run of the nemesis.

Node-2 got multiple errors.
Several errors of it are related to memory allocation, like:
[code]

Then it faied with a core dump.
[code]
download_instructions=gsutil cp gs://upload.scylladb.com/core.scylla.114.33459d5fbe4a4f30a4ad938efe8ee85b.6523.1668972960000000000000/core.scylla.114.33459d5fbe4a4f30a4ad938e

[2022-11-21 07:27] aleksbykov commented on #11507
@asias
db logs: https://cloudius-jenkins-test.s3.amazonaws.com/31e1a22b-5127-4fd5-9d54-4ed58df53a72/20221120_150412/db-cluster-31e1a22b.tar.gz
monitoring: http://3.235.106.82:3000/d/ybFHHTdVz/gemini-1tb-10h-test-repro-scylla-per-server-metrics-nemesis-master?orgId=1&from=1668950437448&to=1668957006464

[2022-11-21 07:32] mykaul commented on #2109
There is an implementation plan, which seems to be agreed on. Do we have an agreement on the priority (urgency) of implementing it?
I'm OK with not closing it, just unsure what purpose it'll serve. Shall I park it under 6.x? 5.x?

[2022-11-21 07:37] syuu1228 commented on #11617
@avikivity Please backport these 3 commits together:
`git cherry-pick 40134efee4ca23203c967f6b5eaf3b1982f6cd36 8835a34ab60f1d47215c537aa2a91a05a3504ff2 a938b009ca6a8914be582e1886d8231bfb4d13d6`
It at least works for branch-2022.2.

[2022-11-21 07:53] asias commented on #11507
The nic had zero traffic during the failure period of the streaming for rebuild. Node3 marked the other two node as down because rpc ping timeout.  Is there any chance that you have a network nemesis accidentally in  the SCT?

![image](https://user-images.githubusercontent.com/320076/202993324-9629f074-0a94-4cde-9ac5-c7f426b69506.png)

cpu load is sane:

![image](https://user-images.githubusercont

[2022-11-21 07:54] nyh commented on #11333
In https://github.com/scylladb/scylladb/pull/11335#issuecomment-1319962353 @annastuchlik asked anyway to backport this to 5.1. I'll do it.

[2022-11-21 07:54] gleb-cloudius commented on #2109
IMO there shouldn't be any plan that does not involve raft here. So as far as I am concerned there is no plan.

[2022-11-21 07:57] tgrabiec commented on #2109
This affects only the "state machine" part of group0.

[2022-11-21 08:02] mykaul commented on #11507
If something happened to the NIC, shouldn't we see it in /var/log/messages  / journal ?

[2022-11-21 08:04] gleb-cloudius commented on #2109
How is raft orthogonal to the problem? Quoting the issue: "leveraging the fact that the whole system is just a bunch of queues and queues don't reorder." Well raft will use completely different set of queues to begin with. Another issue is that with raft there is no longer ACKs from all replicas like it was in the old schema push code.

[2022-11-21 08:09] asias commented on #11507
[code]

[2022-11-21 08:56] nexcode commented on #12011
It will be more correct this way:
[code]

[2022-11-21 09:27] kbr- commented on #11780
The RPC clients dropping code was introduced in 7bdad47de2f5ba4a0da220aff13e4c510782ee3e, which didn't make it into 5.1.

Very unlikely to happen in real life, to reproduce it you have to issue decommission **immediately** after bootstrapping a node, and even then there's a chance you won't reproduce.

[2022-11-21 09:48] alecco commented on #6174
It can be done with `asyncio` in parallel, sure.

[2022-11-21 09:48] kostja commented on #11217
* Asias He ***@***.***> [22/11/21 04:57]:

I don't understand what it means "wait for raft". Raft is in. What
are you waiting for now?

--
Konstantin Osipov, Moscow, Russia

[2022-11-21 09:53] elcallio commented on #11988
@JerryKwan If you still get unbounded CL size growth you need to provide more info. Can you turn up the log level for `commitlog` to debug and provide the logs? Also your complete settings + HW.

[2022-11-21 10:04] asias commented on #11217
Wait for raft = Depend on raft.

Also, please see Vlad's comment:

https://github.com/scylladb/scylladb/issues/11217#issuecomment-1217166656

[2022-11-21 10:49] #11799 closed

[2022-11-21 12:01] #12007 closed

[2022-11-21 12:05] nyh commented on #6200
Removed "backport candidate" from this issue, moving the backport discussion to the duplicate issue  #12014 (both were Fixed by the same pull request)

[2022-11-21 12:09] tgrabiec commented on #2109
@gleb-cloudius There are two ideas presented here. Remember that there are two kinds of schema pull, one which changes the node's local schema, and one which only pulls the definitions which live as a schema version in memory. The first idea with the queues does not plug into how schema changes are made, it only affects the request path so that it doesn't have to pull the schema version (in-memory

[2022-11-21 12:17] gleb-cloudius commented on #2109
How do you know it was not? It is sent over raft. You do not know who got it and who did not (without asking).

So you propose to do a global barrier (contact all nods) after the raft. Fine, but them it has the same issue as waiting in the drover. Unless you require all nodes to be alive during schema changed there will be races.

[2022-11-21 12:30] nyh commented on #12014
Backported 2d2034ea28b8615a130146ad9780010d29d2fcc9 to next-5.1 (c8bb147f84c062dca765c2c5d7aa5f444e660471) and a non-trivial backport to next-5.0 (b2ef530c8fe57cb00ecf5a52cf3f71fc85ab3a23)

[2022-11-21 12:53] nyh commented on #8913
@tzach this is the configuration underscore-vs-minus problem you re-discovered today

[2022-11-21 13:17] tzach commented on #8913
Make sense to me.
In addition, I suggest generating an error for a configuration parameter in scylla.yaml, which is not listed in the config code. In %99.999 of the cases, it's an indication of a user mistake.

[2022-11-21 13:17] nyh commented on #12019
Why is it ever useful to run a tool specifically written to use just one thread and can't use more than one, with more than one thread? I think if it a tool can't use more than one thread, it should have a way to force just one thread to be created, regardless of the smp option. If I understand correctly, you already do this when the smp option is not given - you use just one thread instead of one

[2022-11-21 13:43] denesb commented on #12019
It is indeed not useful. But seastar has more options than just `--smp` and I didn't want to cherry-pick on what I allow to be overridden and what I don't. This option is for expert users, who I expect know what they are doing and have their reasons for passing seastar options. The seastar options are even hidden from the help output by default and are only presented if explicitly requested (via `

[2022-11-21 14:18] DoronArazii commented on #9919
@elcallio It's in your queue?

*this is a high priority issue on master

/Cc @eliransin

[2022-11-21 14:20] DoronArazii commented on #11190
@denesb do we have any progress here? it's in your queue?

*this is a high priority issue on master

/Cc @bhalevy

[2022-11-21 14:24] DoronArazii commented on #10687
@eliransin It's in your team's queue?

*this is a high priority issue on master

[2022-11-21 14:38] DoronArazii commented on #10398
@elcallio / @eliransin we need to gain some progress here too for stabilize the master, please try to have a look

*this is a high priority issue on master

[2022-11-21 15:24] elcallio commented on #9919
Has this shown up since the above changes? This issue has been silent so I assumed the problem went away?

[2022-11-21 16:07] DoronArazii commented on #9919
@roydahan do you need to perform another test for verifying @elcallio's assumption?

[2022-11-21 16:13] fruch commented on #9919
@DoronArazii if people were getting into it, they would have been reporting back here.

I think the only reason it's still open, it to validate it with commitlog hard limit, but once that would be available we'll need to specifically test that.

[2022-11-21 16:27] avikivity commented on #11710
We just had a user hit the std::regex problem. @elcallio please fix it

[2022-11-21 16:33] michoecho commented on #11710
What user?

[2022-11-21 16:39] michoecho commented on #11710
Nevermind, I found it: https://scylladb-users.slack.com/archives/C2NLNBXLN/p1669047947391079?thread_ts=1668687856.378379&cid=C2NLNBXLN

[2022-11-21 17:30] avikivity commented on #8913
I suggest to change the way scylla.yaml options are translated to command line options.

Instead of `--alternator-port=1234`, use `--config alternator_port=1234`, and add `--help-config` to dump configuration help.

This is similar to `ssh -o name=value`.

[2022-11-21 17:32] avikivity commented on #12014
What about 4.6? I guess we can backport the 5.0 change once it promotes.

[2022-11-21 17:42] #8195 closed

[2022-11-21 17:42] #11598 closed

[2022-11-21 17:51] yacir commented on #12014
Thanks for your reactivity guys.

What about the 4.6 backport ? We didn't move to the v5 yet

[2022-11-21 18:46] avikivity commented on #12019
When we have `scylla sstables compact` and `scylla sstables rewrite`  --smp non_default will be useful. It should also be useful for validation.

[2022-11-21 19:01] avikivity commented on #11961
@yarongilor @roydahan what was the last version this test passed on?

[2022-11-21 19:27] avikivity commented on #11617
Backported to 5.1. Please advise if backports to older versions are needed (hopefully not).

[2022-11-21 23:20] roydahan commented on #11961
If we consider this as specific to ICS, this test did not run on 2022.1.
I couldn't find a combination of this longevity and this nemesis also in 2020.1 and 2019.1.
So, this specific combination of MV-SI longevity + ICS + this nemesis may have never run before.

[2022-11-22 03:02] aleksbykov commented on #11507
Issue looks as reproduced on 5.0.3 But after 10hours and several cycles of repair, rebuild, decommission procedures.

[2022-11-22 04:55] denesb commented on #11190
No progress on this, yes it is in my queue.

I've been busy with customer issues and other high priority master issues. Also, I forgot this issue exists.

[2022-11-22 06:48] yarongilor commented on #11746
The issue is reproduced in another test, not running any nemesis.
The test had a first part with no errors, running write stress only.
Then in the second part it ran one single small read stress for 4 hours.
At that period, the scan failure errors started reproducing.
It continued for about an hour, where some nodes got peaks of 100% CPU, then it might stopped for the 3 hours rest of test.
YCSB re

[2022-11-22 07:24] soyacz commented on #11908
Similar behavior was observed in write performance test  (but not limited to write, mixed also had this issue):
![image](https://user-images.githubusercontent.com/18242288/203250232-d1cf4415-7e54-43ec-9359-6de13f14f8ed.png)

![image](https://user-images.githubusercontent.com/18242288/203250160-ebb8a1d4-776d-41c4-8654-204565f9f7c8.png)

Live monitor link: http://18.203.248.180:3000/d/overview-maste

[2022-11-22 09:36] gusev-p opened #12046 "Wrong column name in error messages"
If `INSERT` or `DELETE` statement is missing a non-last element of the primary key, the error message specifies an invalid column name. The problem occurs if the query contains a column with `list` type.

[2022-11-22 09:49] mykaul commented on #1981
@amnonh - please complete the needful and let's close as completed.

[2022-11-22 09:50] mykaul commented on #1982
@tzach - I'm unsure what 'x-ray' milestone is - worth pursuing?

[2022-11-22 10:11] yarongilor commented on #11746
Anther reproduction where:

- write stress only (15k ops, large items).
- all nodes around 75% load
- Got a failure of:
[code]

## Installation details

Kernel Version: 5.15.0-1022-aws
Scylla version (or git commit hash): `2022.2.0~rc4-20221106.f5714e0db12f` with build-id `f4a927b8a00fbcd8d48640835192aeaa7968b1f2`
Relocatable Package: http://downloads.scylladb.com/unstable/scylla-enterprise/enterp

[2022-11-22 10:23] amnonh commented on #1982
We had many discussions over the years on how to add flexibility to the exported metrics.
i think the latest approach (adding a label and filter by that) is the most promising direction

[2022-11-22 10:27] tzach commented on #1982
@amnonh can you add a link to the relevant issue?

[2022-11-22 10:43] bhalevy commented on #11870
This should do the trick:
[code]

[2022-11-22 10:45] #11922 closed

[2022-11-22 11:32] avikivity commented on #11961
The new core from 5.1 looks very similar. So this isn't specific to 2022.1 or ICS.

[2022-11-22 11:32] avikivity commented on #11961
@denesb I see

[code]

But, neither main nor background reclaim make any sense for the apply execution stage. Likely there's a bug in scylla-gdb.py.

[2022-11-22 11:33] avikivity commented on #11961
Also, -90 system sstable reads? that's very low.

[2022-11-22 11:35] nyh commented on #8913
Instead of "instead" we can do "in addition to". This will allow us to use in command-line examples the syntax `--config alternator_port=1234` and reduce the chances that it gets mis-copied to a config file - while still supporting old scripts which use `--alternator-port=1234` in the script.

Of course this proposal still has the "search" problem you warned about - just in scripts instead of yaml

[2022-11-22 11:36] avikivity commented on #11961
What about 5.0? Did this test run on 5.0? With what results?

[2022-11-22 11:37] denesb commented on #11961
That is a benign bug, the result of a temporary boost to 100 during boot which is later reverted. This is fixed in master.

[2022-11-22 11:39] avikivity commented on #11961
[code]

[2022-11-22 11:39] avikivity commented on #11961
How is it benign? Does it only affect reporting?

[2022-11-22 11:41] avikivity commented on #11961
[code]

It's clear background mv writes went out of control. But how did this ever work? Was it always out of control and just happened to work for other reasons?

[2022-11-22 11:49] denesb commented on #11961
Yes.

[2022-11-22 11:55] avikivity commented on #11961
These are all local updates:

[code]

So it looks we lack rate limiting if the replica is local to the coordinator, but not if it is remote.

[2022-11-22 12:01] avikivity commented on #11961
As far as I can tell this has been this way forever. @roydahan please run a reproducer on 5.0.

[2022-11-22 12:03] avikivity commented on #11961
There's no trace of the coordinator here though. Maybe the coordinators are on other shards.

[2022-11-22 12:07] avikivity commented on #11961
Switching to another shard, I can see lots of storage_proxy in there. So it received writes as a replica and forwarded them to the shard that died.

[code]

[2022-11-22 12:08] avikivity commented on #11961
It's also heavily burdened with local write itself, there's nothing special about the dead shard, it was just first.

[2022-11-22 12:12] avikivity commented on #11961
Maybe the smp service groups got broken somehow.

[2022-11-22 12:16] avikivity commented on #11961
Looking at the smp service group semaphores on some random shard, for smp service group 2 (writes), it looks in order.

[2022-11-22 12:17] avikivity commented on #11961
But, it doesn't explain how we have tens of thousands of writes active.

[2022-11-22 12:24] avikivity commented on #11961
So there's a contradiction. replica-side storage_proxy shows ~hundreds of in-flight writes, while the dead shard shows tens of thousands of in-flight local writes.

[2022-11-22 12:40] bhalevy opened #12050 "queries should use the effective replication map topology rather than the latest one"
Currently, there are a couple places in storage_proxy where low level function use the latest topology for looking up endpoints calculated using the e_r_m that's held by the query.

It is possible that some of those endpoints may be removed from the latest topology if, for example, a concurrent decommissioned removed them.

This may be seen with `update_cluster_layout_tests.py::TestUpdateClusterLa

[2022-11-22 12:50] michoecho commented on #11961
@avikivity I want to understand what contradiction you are talking about.

What number are you referencing here? (Some number from the task histogram? Metrics? Semaphores? gdb?)

[2022-11-22 14:10] avikivity commented on #11961
smp_service_group_semaphore borrowed units. See smp_service_group. Each shard is supposedly limited to 384 cross-shard write ops, and is seen only using ~100. So we'd expect max ~1300 writes in a shard (coming from mutual shards, not itself or directly from rpc).

[2022-11-22 14:11] avikivity commented on #11961
[code]

smp service group 2 is the one guarding write ops.

[2022-11-22 14:18] roydahan commented on #11746
After discussion with @nyh we want 2 things in order to solve this issue:
1. To retry immediately the failed scans (starting from the same point).
2. Understand why high load causing the scan to fail.

[2022-11-22 14:25] avikivity commented on #11961
Looks at smp service groups of all shards, similar picture.

[2022-11-22 14:28] avikivity commented on #11961
Messaging state on the dead shard:

[code]

[2022-11-22 14:35] avikivity commented on #11961
With tls:

[code]

[2022-11-22 14:45] mykaul commented on #12011
Those are not the same. Mine (Fedora 37) knows both:
[code]

'man' says:
[code]

[2022-11-22 14:46] mykaul commented on #12011
@yaronkaikov - I think your team should look at this, if we can either do it in Python, or install hostname (and hope it's new enough to understand '-i' !)

[2022-11-22 14:47] mykaul commented on #12016
@xemul - who should handle this? In what priority?

[2022-11-22 14:47] avikivity commented on #11961
total memory on shard: 8547991552 bytes
allocated for rpc server resources: 8% = 683839324
reported remaining by `scylla netw` = 474851984
deficit (consumed by running rpc requests) = 208987340

[2022-11-22 14:49] nyh commented on #11915
If I understood the points which @yarongilor demonstrated above, and by a personal chat with him, we have the following situation, which may indicate a problem not directly related to Alternator TTL but still is a serious-sounding bug:

1. An sstable dump shows an sstable with **deleted** items (tombstones).
2. Yet, more than gc_grace_seconds have passed since those deletions happened, and
3. A ma

[2022-11-22 14:49] mykaul commented on #11990
ping @JerryKwan

[2022-11-22 14:53] avikivity commented on #11961
We have

[code]

So rpc thinks a request costs 1000 + req_size*3. Normally it does. But a materialized view mutation can cost megabytes.

Let's assume these mutations are of size 1000. So each costs 400. 208MB/4000 = 52k requests. This isn't very far from what we're seeing.

[2022-11-22 14:56] tgrabiec commented on #2109
On Tue, Nov 22, 2022 at 2:36 PM Gleb Natapov ***@***.***>
wrote:

I think we don't need to touch raft internals, all can happen above it.
Firstly, the mapping doesn't have to be accurate, worst case the replica
will request the schema version like today. So we don't even need to update
the mapping when a schema change is made. The read/write coordinator will
push the schema version to target repli

[2022-11-22 15:01] mykaul commented on #11966
@Deexie - any updates?

[2022-11-22 15:02] mykaul commented on #11972
@roydahan - what would be the next step here? How can we improve this test to be more realistic?

[2022-11-22 15:14] yarongilor commented on #11961
Rerunning with 5.0 in:
https://jenkins.scylladb.com/job/enterprise-2022.2/job/longevity/job/Reproducers/job/ics-longevity-mv-si-4days-test_RebuildStreamError-only/7/

[Argus job](https://argus.scylladb.com/test/3f195a51-68a3-4bc1-b3cc-4527911df6d8/runs?additionalRuns[]=57aebd14-40bd-4196-8813-89cc5350f1cb)

[2022-11-22 15:17] avikivity commented on #11961
Was it previously run with 5.0?

[2022-11-22 15:18] xemul commented on #12016
@mykaul , regarding the priority. @bhalevy left a comment about this problem:
[code]
back in Jan 2019, so presumably the priority is not very high.

[2022-11-22 15:29] amnonh commented on #2198
Just to explain, the read/write latencies per table are already part of the metric layer, it's just off by default because it crashses Prometheus servers

[2022-11-22 16:16] xemul commented on #12016
Only the inequality of `delete_atomically` vs `replay_pending_delete_log`

[2022-11-22 22:51] #9686 closed

[2022-11-23 00:01] #11800 closed

[2022-11-23 00:01] #12050 closed

[2022-11-23 01:02] JerryKwan commented on #11990
@mykaul
Sorry, we have changed back to Cassandra

[2022-11-23 04:54] mykaul commented on #11990
Thanks, closing for the time being.

[2022-11-23 04:54] #11990 closed

[2022-11-23 07:57] amnonh commented on #2198
@tzach
I've just checked nodetool with scylla 5.1 (dockerized) while runing `cassandra-stress`
[code]
I don't see any missing values.

Did you use an old nodetool/scylla version?
Maybe you tested it without traffic?

What do you want to do with this issue?

[2022-11-23 07:58] yarongilor commented on #11961
Reproduced a coredump and 'lsa aboting on allocation failure' on node-5 running 5.0:
[code]

coredump details:
[code]
download_instructions=gsutil cp gs://upload.scylladb.com/core.scylla.113.bac3650b616f4f09a4d1ab160574b6a5.4349.1669185225000000000000/core.scylla.113.bac3650b616f4f09a4d1ab160574b6a5.4349.1669185225000000000000.gz .
 gunzip /var/lib/systemd/coredump/core.scylla.113.bac3650b616f4f09

[2022-11-23 08:30] mykaul commented on #1340
@yaronkaikov - can you update latest status? Can this be closed? (related - https://github.com/scylladb/scylla-enterprise/issues/99 ?)

[2022-11-23 08:42] yaronkaikov commented on #1340
@mykaul currently it's not implemented and not planed. If it's needed, we can add it and schedule it

[2022-11-23 09:17] fgelcer commented on #11908
@raphaelsc @avikivity , could this one be related to https://github.com/scylladb/scylla-enterprise/issues/2498 ?

[2022-11-23 10:06] soyacz commented on #11908
@fgelcer 5.1-rc2 is not having this issue in perf test - so this might be related

[2022-11-23 10:23] tgrabiec commented on #2109
On Wed, Nov 23, 2022 at 10:29 AM Gleb Natapov ***@***.***>
wrote:

No, DEFINITIONS_UPDATE is the hard schema push (involves a merge with
schema_tables).

I'm talking about the soft schema pull, GET_SCHEMA_VERSION. It will also
become a push after this proposal.

DEFINITIONS_UPDATE takes a long time to process, but GET_SCHEMA_VERSION
involves only in-memory deserialization, so can be processed sync

[2022-11-23 10:27] avikivity commented on #12014
@nyh the 5.0 backport is failing (restrictions_test.multi_col_in).

[2022-11-23 10:40] gusev-p opened #12060 "CQL, batch statements, inserting a row with a null key column should be forbidden"
A similar problem was raised in [this issue](https://github.com/scylladb/scylladb/issues/7852) for regular `INSERT` statements.

The query `cql.execute(f"BEGIN BATCH INSERT INTO {table1} (p,c) VALUES ('{s}', null);APPLY BATCH;")` produces `Invalid null value in condition for column p` on Cassandra but is silently ignored by Scylla.

The new test `test_insert_null_key_in_batch` demonstrates the iss

[2022-11-23 11:10] bhalevy commented on #12016
So it can be kept in low priority.
The thing is that the atomic delete log is replayed early in the start up process, before the system keyspace is ready.
So we may need to queue up those updates to l_d_h and execute the queries later on.
Then, in the worst case, if we crash before that we're back at where we are today.

[2022-11-23 11:24] bhalevy commented on #12016
Alternatively, let's consider a virtual table in addition to or on top of the large_* tables that can filter out non-existing sstables.
we can find all sstables with large data, in memory, by looking at the respective attributes in their scylla metadata.
They contain general info like what's the threshold and how many elements in the sstable crossed the threshold.
Then if the query wants to get de

[2022-11-23 11:32] DoronArazii commented on #11900
@xemul / @bhalevy any updates here?

*this is a high priority case on master

[2022-11-23 11:45] gleb-cloudius commented on #2109
On Wed, Nov 23, 2022 at 12:23 PM Tomasz Grabiec ***@***.***>
wrote:

Ok, so we can include soft data into the  DEFINITIONS_UPDATE, but I still
do not see how it will help.
See below.

Then I do not see how it is enough. Another node may start issuing requests
using new schema
and other nodes will have to pull.

OK. Got that. Including a soft version into the update should solve this.
But there are

[2022-11-23 11:55] xemul commented on #11900
This looks very much like dup of #12050

[2022-11-23 12:01] kostja commented on #11853
@margdoc changed jepsen to bootstrap nodes sequentially: https://github.com/scylladb/jepsen/pull/15, please retest.

[2022-11-23 12:09] kostja commented on #2109
I think this comment by the submitter nails it. We should not be working on this. Raft is actively pushing schema and improves the condition quite a bit (although doesn't resolve it completely). I'd close it as "won't happen". If left open, this issue should sit in the "wish list" queue and wait for its priority to change - or it being addressed along with a more major bug or feature.

[2022-11-23 12:13] kostja commented on #2109
As a general guideline I think we should avoid assigning issues to a milestone if they don't have a test case and are not affecting any customer. Lack of a test which would allow us to accurately estimate the impact of the problem is a good indication the issue is not ready to be triaged: we don't know the cost of fixing it or the impact on the community, and without knowing these we can't priorit

[2022-11-23 12:32] DoronArazii commented on #10554
@bhalevy can we close it?

[2022-11-23 13:03] eliransin commented on #11507
@asias can you explain what we see in the log above?

[2022-11-23 13:35] avikivity commented on #11961
gdb says: `Failed to read a valid object file image from memory.` looks like the core file was corrupted.

[2022-11-23 13:36] avikivity commented on #11961
From the traces that were captured, it looks the same.

[2022-11-23 13:37] #10554 closed

[2022-11-23 16:40] fruch commented on #11870
happens also on longevity test:

[code]

## Installation details

Kernel Version: 5.15.0-1023-aws
Scylla version (or git commit hash): `5.2.0~dev-20221118.a396c27efccd` with build-id `74a707956a4aba54865b70d78b830b666f5f19f7`

Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- alternator-3h-master-db-node-3d504c66-7 (34.246.173.46 | 10.4.2.250) (shards: 14)
- alternator-3h-master

[2022-11-23 16:58] tgrabiec commented on #2109
This problem is affecting a customer, see the issues referencing this.

On Wed, Nov 23, 2022 at 1:13 PM Konstantin Osipov ***@***.***>
wrote:

[2022-11-23 17:07] roydahan commented on #11507
I investigated the issue a bit further and the phenomena is weird.

I connected to instances of a longevity that reproduced the issue on 2022.2.0-rc5 and this is what I see:

node5 is the target node that runs the rebuild.
I can see that it few seconds after it runs the second rebuild (the one after the reboot completed) we see that it get RPC errors and "think" that all other nodes are down.
**go

[2022-11-23 17:17] tgrabiec commented on #2109
On Wed, Nov 23, 2022 at 12:45 PM Gleb Natapov ***@***.***>
wrote:

The read/write coordinator (all of them) will start using the new schema
only after the barrier succeeds or times out.
This is because the schema change coordinator switches coordinators on
other nodes after the barrier.

If the barrier succeeds, it means all replicas are aware of the new schema,
so they will not pull.
If the barri

[2022-11-23 17:50] tgrabiec opened #12068 "Node may abort if cache update fails in the middle"
This can manifest as:

[code]

The reason is alloc-dealloc mismatch of position_in_partition objects allocated by cursors inside `coroutine` object stored in the `update` variable in `row_cache::do_update()`:

[code]

It is allocated under cache region, but in case of exception it will be destroyed under the standard allocator. If update is successful, it will be cleared under region allocator, so

[2022-11-23 17:51] tgrabiec commented on #12068
Also, there is no problem if clustering key is using the inline storage, so smaller than 16 bytes.

[2022-11-24 05:41] denesb commented on #12014
Dequeued 5.0 backport as it breaks next promotion.

[2022-11-24 06:17] bhalevy commented on #11870
@fruch #12054 or #12067 should fix that.

[2022-11-24 08:04] nyh commented on #12014
@cvybhu can you please do the backport to 5.0 (and maybe also 4.6...) yourself? As I said, it didn't trivially apply and when I fixed it maybe I did something wrong (or maybe there's something wrong in the multi_col_in test?)

[2022-11-24 08:18] gleb-cloudius commented on #2109
On Wed, Nov 23, 2022 at 09:17:14AM -0800, Tomasz Grabiec wrote:

So this algorithm has two global barriers. One is to make sure all nodes gets
the schema and another is to tell them to switch to the new one. What
happens if the second one fails on some nodes?

It looks like for that it would be enough to add soft schema to the
UPDATE verb, no?

--
			Gleb.

[2022-11-24 09:58] tgrabiec commented on #2109
On Thu, Nov 24, 2022 at 9:18 AM Gleb Natapov ***@***.***>
wrote:

If we can't contact some nodes, after a timeout we'll give up, and switch
all coordinators to the new schema (replica-side schema) anyway. All
coordinators, even those which we can't contact, will switch at the same
time because we will arm them with a specific time point before starting
the change. This arming will also ensure that

[2022-11-24 10:07] cvybhu commented on #12014
Sure, although I never backported anything yet. What's the exact process? Should it go something like:
* I checkout to `branch-5.0` and create a branch to add my fix on
* I open a PR to merge my branch into `branch-5.0`
* Someone cherry-picks it to `next-5.0`
* It passes the tests there
* The PR gets closed
* `next-5.0` becomes `branch-5.0`

I guess I will have to use dbuild or something like that

[2022-11-24 10:16] mykaul commented on #12014
@cvybhu - once you figure out the process, can you please add it to https://github.com/scylladb/scylladb/wiki for future reference?

[2022-11-24 10:24] tgrabiec commented on #2109
With RAFT, we could avoid the problem to a large extent by making commands apply only to the in-memory schema, and persist them to schema tables when snapshotting is done, in the background.

[2022-11-24 11:27] xemul commented on #11870
Here's the re-run that passed https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/byo-longevity-test/187/ on #12067

[2022-11-24 12:10] avikivity commented on #12014
Uses scripts/pull_github_pr.sh to do that

That's exactly correct.

Yes

[2022-11-24 13:44] mykaul commented on #11972
Thanks, closing for the time being.

[2022-11-24 13:44] #11972 closed

[2022-11-24 13:52] nyh commented on #12014
Right. You can use `git cherry-pick -m1 -x <commitid>` to add your fix based to the existing master merged patch, but there will be conflicts you'll need to fix manually.
Alternatively, if you want to add your patches manually, please add a note in the merge commit about this being a backport of this-and-that master commit.

Please at least run the specific test which Avi reported to have failed m

[2022-11-24 14:07] tgrabiec opened #12073 "Print backtrace on assertion failure in tests"
In many cases, BOOST_REQUIRE is called not directly from test code, but from utilities, e.g. flat_mutation_reader_assertions.

In case of assertion failure, we don't know which place in the test case exactly triggered the assertion failure, for example:

[code]

This requires one to re-run the test in GDB.

The debugging cycle would be shorter if printed the backtrace on failure. Bonus points if i

[2022-11-24 14:17] tgrabiec commented on #12073
There is already an infrastructure to log backtrace on all exceptions by passing `--logger-log-level exception=trace` to the command line.

This will print log lines like this:
[code]

We should enable it automatically in tests for exception types which correspond to assertion failures.

[2022-11-24 14:26] roydahan commented on #11908
@soyacz which test reproduced it? Is it the same test that was discussed above?
If not, it's not related and please remove these comments that may distract us.

[2022-11-24 14:50] yarongilor commented on #11915
@roydahan , it is no reproduced running any of these nemesis by itself.
(tested in https://jenkins.scylladb.com/job/scylla-staging/job/yarongilor/job/longevity-alternator-dbg/8/)

[2022-11-24 14:53] roydahan commented on #11972
@KnifeyMoloko please send PR to SCT to ignore reactorStalls during this nemesis.

[2022-11-24 15:11] roydahan commented on #11915
So re-run with the combination of the 2 and check if it's reproducing consistently.

[2022-11-24 15:53] avelanarius commented on #11945
So after 19a6e69001f26133a7f7a0a13e89935888884e1a, two Java Driver tests stopped passing:

1. `should_set_all_occurrences_of_variable` (issue #10956)
2. `should_allow_less_parameters_than_bind_markers_if_there_are_repeated_names` (this issue)

The first test was essentially testing hardcoded values in PREPARED response and it wasn't a realistic scenario. Therefore, we decided to disable that test.

[2022-11-24 16:08] fruch commented on #11972
@mykaul once nice thing we got from this defect...
thinking how we should be able to do similar things in serverless, we run into:
https://chaos-mesh.org/ which seems like a very good fit for us

[2022-11-24 16:10] KnifeyMoloko commented on #11972
@roydahan PR: https://github.com/scylladb/scylla-cluster-tests/pull/5472

[2022-11-24 16:18] DoronArazii commented on #11684
@Jadw1 please keep us posted with the progress

[2022-11-24 16:20] mykaul commented on #11945
If we do not fix, at least let's put it as xfail with a reference to the issue.

[2022-11-24 16:32] mykaul commented on #11972
There are more in this area - https://github.com/asobti/kube-monkey and https://litmuschaos.io/  and https://chaostoolkit.org/ (which has a K8S interface) . Litmus is well known (there's an additional one I forgot that my team used)

[2022-11-24 17:03] avikivity commented on #11945
IMO, the test enshrines incorrect Cassandra behavior. The correct fix is to change the test to fail if it currently passes, and pass if it currently fails.

I reported it to the Cassandra project: https://issues.apache.org/jira/browse/CASSANDRA-17693

[2022-11-24 17:12] avikivity commented on #10701
Interesting idea. @xemul can this be done without adding more continuations? I expect so.

[2022-11-24 17:24] xemul commented on #10701
We have scylla_io_queue_total_exec_sec metrics. Isn't it helpful enough?

[2022-11-24 17:51] zoranosmanlic opened #12075 "Scylla aarch64 yum repository provides only 5.0.rc0 version"
*Installation details*
Scylla version (or git commit hash):  5.0.5
Cluster size: 1 node
OS (RHEL/CentOS/Ubuntu/AWS AMI): RHEL

*Details*
Platform (physical/VM/cloud instance type/docker): AWS i4gen.4xlarge
URL: https://www.scylladb.com/download/?platform=rhel&version=scylla-5.0#open-source
PLATFORM: RHEL
VERSION: 5 (5.0.5)
ARCH: AARCH64
OS: Rocky Linux 8.4 aarch64 AMI

*Procedure from website*
sud

[2022-11-24 17:54] noellymedina commented on #12075
cc. @DoronArazii

[2022-11-24 18:03] avikivity commented on #12075
/cc @yaronkaikov @benipeled

[2022-11-24 18:20] annastuchlik commented on #12036
Moving the LWT page out of the Enterprise features is a quick fix, and I'll open a PR to address it.
However, there's a bigger issue with how we document the features. Currently, the pages that document the features are hard to find - there's no index, and the page tree in the left panel is not helpful either because those pages are never displayed there.
Now that the documentation is versioned, w

[2022-11-24 18:20] benipeled commented on #12075
@zoranosmanlic thanks for reporting this issue - please try now, it should work as expected

[code]

Fixed https://github.com/scylladb/scylla-pkg/pull/3132

[2022-11-24 18:34] zoranosmanlic commented on #12075
Thank you, it is working now!

yum clean metadata
yum info scylla-5.0.5
Available Packages
Name         : scylla
Version      : 5.0.5
Release      : 0.20221009.5a97a1060
Architecture : aarch64
Size         : 6.8 k
Source       : scylla-5.0.5-0.20221009.5a97a1060.src.rpm
Repository   : scylladb-5.0
Summary      : Scylla is a highly scalable, eventually consistent, distributed, partitioned row DB.
U

[2022-11-24 18:34] #12075 closed

[2022-11-25 05:28] soyacz commented on #11908
@roydahan it's different test and apparently different issue. I deleted comments to not distract.

[2022-11-25 15:49] kbr- opened #12081 "json_test.TestsFromJsonUpdate.test_basic_data_types: "No keyspace has been specified""
Weird failure in CI.
https://jenkins.scylladb.com/job/releng/job/Scylla-CI/3182/testReport/junit/json_test/TestsFromJsonUpdate/Sanity_Tests___test_basic_data_types/

[code]

[2022-11-25 17:12] bhalevy opened #12082 "storage_service: handle_state_normal: algorithm for detecting a replaced node is wrong and inefficient"
In https://github.com/scylladb/scylladb/blob/996eac9569fba1b08ae15e2533a158fd0d23b214/service/storage_service.cc#L953-L969

We try to detect a replaced node so to insert it to `endpoints_to_remove` when it has no owned tokens left.
However, *for each token* we first generate  a multimap using `get_endpoint_to_token_map_for_reading()`.
There are 2 problems with that:
1. unless the replaced node own

[2022-11-25 17:28] bhalevy commented on #12082
DTest that triggers this path is replace_address_test.py::TestReplaceAddress::test_replace_shutdown_node

[2022-11-25 17:41] kbr- opened #12083 "Raft tests: test that Raft IDs are not lost during restarts"
Copy-pasting from https://github.com/scylladb/scylladb/pull/11953#discussion_r1032624385

There's one very good reason why we MUST persist IP<->RAFT_ID mappings: remove_from_group0, which is used during removenode and replace operations.

The removenode and replace operations API are expressed in terms of IP and/or Host ID. To remove a server from group 0, we must translate the IP/HostID to the Ra

[2022-11-25 18:50] cvybhu commented on #12014
Okay I made a backport to 5.0 in #12086, I think it looks the way it's supposed to.
The same fix works on `4.6`, so I will open another PR once I'm sure that's the correct way to do it.

` scripts/pull_github_pr.sh` tried to perform `git merge` with the original fix branch, which basically tried to merge master into branch-5.0, so I didn't use that.

`git cherry-pick -m1 -x <commitid>` worked beau

[2022-11-25 19:59] kbr- opened #12087 "test.py: fail a test if node reports an ERROR in its log (unless the test expects it)"
dtest / SCT have a mechanism like this.
If there's a message at the ERROR level in the log of some nodes used in the test, we should fail the test - unless the test explicitly expects that ERROR.

[2022-11-25 20:52] KnifeyMoloko opened #12088 "Creating UDA fails with "final function not found" even though final function exists"
When creating a UDA Scylla seems to have problems with finding a previously created UDF function that is to be a part of the UDA.

Steps to reproduce:
1. Create UDFs that are to be included in the UDA.
2. Attempt to create a UDA using the names of the previously created UDFs.
3. Result:

At the time of creating the UDA, the target keyspace looks like this:
[code]

And fails with the following erro

[2022-11-26 18:32] bhalevy opened #12089 "scylla segfaults in tasks::task_manager::task::impl::finish()"
Seen for example in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/148/artifact/logs-full.release.003/1669351830657_throughput_limits_test.py%3A%3ATestStreamingLimitThroughput%3A%3Atest_limit_rbno_bootstrap_throughput/node2.log
[code]

Decoded:
[code]

@Deexie please look into this.
It looks like the task::impl _done shared_future has null `lw_shared_ptr<shared_

[2022-11-26 18:37] bhalevy commented on #12089
This is most likely introduced by 602dfdaf9818320fe2de01e3270a8245d30302ac

[2022-11-27 05:06] avelanarius commented on #8477
Recently I was looking at tests disabled in Java Driver 3.x due to failures with Scylla and one of the tests uncovered that Java Driver 3.x is doing a case-sensitive comparison with `desc` (but Scylla sends `DESC`), meaning the clustering order in driver metadata is incorrectly filled in:

https://github.com/scylladb/java-driver/blob/b0d7ac131b37036016bebfa112d424b6c603d1ae/driver-core/src/main/ja

[2022-11-27 06:42] nyh commented on #8477
I think that after discovering two drivers already (Ruby driver and Java driver) which assumed this string was lowercase, that we should definitely consider it a bug that we used uppercase.

[2022-11-27 06:50] bhalevy commented on #12089
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/99/artifact/logs-full.debug.022/1669351802961_replace_address_test.py%3A%3ATestReplaceAddress%3A%3Atest_replace_shutdown_node%5Brbo_enabled%5D/node4.log
[code]

Decoded:
[code]

[2022-11-27 07:17] nyh commented on #12014
Thanks @cvybhu for the backport, and @avikivity for merging it into 5.1 and 4.6. I see it was successfully promoted in both branches, so removing the "backport candidate" tag.

[2022-11-27 07:50] nyh commented on #12088
As our documentation (docs/cql/functions.rst) explains, the "final function" is supposed to be a function which converts the state type into a result type. It can't be your function "div" which takes two parameters - it needs to be a function which takes one parameter of type STYPE (int in your example).

So although it seems to me that this is not a bug, I agree that the error message should have

[2022-11-27 08:11] nyh commented on #12087
I am not convinced that this would be a good idea.

First, a lot of tests are deliberately testing errors, which normally have consequences in CQL (like an error response) but may also - today or in the future - generate additional lines in the log. Having to white-list these error messages, and fix the test every time these messages change, isn't fun.

Second, the way that test.py currently works

[2022-11-27 08:57] Deexie commented on #12089
It seems like the stacktrace confirms the assumption in #12090.

I am sorry, I forgot to mention you there.

[2022-11-27 09:51] avikivity commented on #11800
@fee-mendes please update the subject to reflect the effect of the bug. Is it incorrect results? crashes? end of the universe?

[2022-11-27 09:52] avikivity commented on #11800
Or rather, @nyh

[2022-11-27 10:13] nyh commented on #11800
It turns out (@nuivall please correct me if you disagree) that this issue is of little or no practical importance: It turns out that the "IS NOT NULL" that we so diligently add to the definition of materialized views in Alternator doesn't get checked at all (because it is only checked in the CQL front-end code, which we don't call), and doesn't have any practical effect.

The only reason I have to

[2022-11-27 11:04] nyh commented on #12081
I think this is not a bug in Scylla, but rather a bug in the new cqlsh we started to use, or how it's used in dtest - the json_test.py has particularly funky and unique code for keeping track of this "USE" thing instead of just using full table names everywhere and avoiding this problem :-(
I opened an issue in the dtest repository: https://github.com/scylladb/scylla-dtest/issues/2923

Interesting

[2022-11-27 11:54] mykaul commented on #11976
This bug seems like an operator issue to me - the operator should not fail next node before the previous node has fully rejoined the cluster.

[2022-11-27 12:21] mykaul commented on #5078
@roydahan - are we still seeing this?

[2022-11-27 12:43] mykaul commented on #8638
@nyh - was any work done in this area, or at least more tests moved towards NetworkTopologyStrategy?

[2022-11-27 12:46] nyh commented on #8638
As you can see above, in https://github.com/scylladb/scylladb/commit/76227fafad655933d679dc3218a65f22bd3f40c7 I changed the test/cql-pytest/ tests to use NetworkTopologyStrategy, but the uses in dtest and perhaps also C++ tests remain.

[2022-11-27 13:10] avikivity commented on #11800
Ok. Please backport if you think it's worthwhile. But fix the subject regardless.

[2022-11-27 13:24] roydahan commented on #11507
@asias we still need an answer here.

For now we decided it won't block 5.1.0, since in my "short" reproducer, it took 10 times of this nemesis to run in order to reproduce. (Although in Alex's reproducer it fails on the first run)

However, we still need to understand the root cause and if we have a fix before we release 2022.2.0.

[2022-11-27 14:11] avikivity commented on #10701
A single I/O stall would be invisible among many fast I/Os.

What we want is a historgram, but sending histograms on metrics is insanely expensive with Prometheus. @amnonh

[2022-11-27 14:19] amnonh commented on #10701
@avikivity with the new Summary, it's still expensive, but not as expensive.
I think this is another use case for the selective Prometheus approach: see to https://github.com/scylladb/scylla-monitoring/issues/1608 and The latest comment on #1982

[2022-11-27 14:37] avikivity commented on #10701
I agree. I'm still uncomfortable with it (I can easily imagine situations where we want the quantiles for a single shard, or to merge them for an entire cluster), but I don't see a better solution.

[2022-11-27 14:40] #11954 closed

[2022-11-27 14:40] #12046 closed

[2022-11-27 14:40] #12060 closed

[2022-11-27 14:40] #12037 closed

[2022-11-27 14:40] #11966 closed

[2022-11-27 14:40] #11889 closed

[2022-11-27 14:42] amnonh commented on #10701
@avikivity Combination of summary per shard, with a histogram per node, both not scraped by default with multi-level Promethues, would almost covers everything.
We can even add an additional level for histograms per shard for situations that we do need specific quantile (like P99.9)

[2022-11-27 14:43] avikivity commented on #11966
No vulnerable branches, not backporting.

[2022-11-27 15:26] avelanarius commented on #65
Stumbled here by accident while searching through issues, it looks like this issue has been long fixed - the reproducer has worked correctly for a long time (tested it with master Scylla, Scylla 3.0.0).

I'd close the issue, but a quick search through tests suggests that we don't have a test for this scenario.

[2022-11-27 15:48] mykaul commented on #65
It's better to open a specific issue on missing test.

[2022-11-27 16:18] avikivity commented on #10701
Yes, it's fine. Just ignore me when I reopen old wounds.

[2022-11-27 16:27] avikivity opened #12093 "Multi-process docker container is against best practices"
Our docker container runs the scylladb server, scylla-jmx, and contains the nodetool and cqlsh binaries. In addition it has a supervisor (supervisord) that checks if processes crashed and restarts them. This is against container best practices, which recommend minimal images, and delegate the supervision to a container manager (e.g. Kubernetes).

To fix this, we need to break apart our image into

[2022-11-27 16:28] avikivity commented on #12093
/cc @tnozicka

@syuu1228 do you want to pick this up?

[2022-11-27 16:31] mykaul commented on #12093
With a bit of luck, it'll also help us to move to distroless base image, such as https://github.com/GoogleContainerTools/distroless/blob/main/base/README.md

[2022-11-27 16:32] avikivity commented on #12093
Oh, we'll also want a docker-compose.yaml so it's still easy to bring up a node.

[2022-11-27 16:33] avikivity commented on #12093
With relocatable packages, we're 98% of the way there.

[2022-11-27 17:11] avikivity commented on #8913
We could, but I think we should keep the number of ways of doing the same thing small.

[2022-11-27 17:35] DoronArazii commented on #7489
@syuu1228 can we close it?

[2022-11-27 17:42] DoronArazii commented on #10096
@nyh what left to do here?

[2022-11-27 18:05] nyh commented on #10096
I think this issue is still open. We opened it as part of @eliransin 's research of some specific issue which turned out to not be this one. But this issue probably still exists just like it existed in Cassandra - I don't think we ever fixed it.

We don't have a test reproducing this issue. But the Cassandra patch has a test, and we could translate it if we want.

[2022-11-27 18:07] avikivity opened #12096 "deadlock in database::do_apply"
See https://github.com/scylladb/seastar/issues/1310.

do_apply has:

[code]

lock_holder is a RAII class that relies on its destructor to release the lock.

and then

[code]

This terminates the function without executing destructors, leaving the lock held.

[2022-11-27 18:18] nyh commented on #12096
@avikivity how did you discover this? Do we have any test that fails with this?

This "co_await coroutine::exception()" thing was added fairly recently (a few months ago) in commit b2504a707cff0a73ebcd5c1dd227f084fb58e01a by @piodul. So it should be a relatively new regression.

Avi, I think we have no choice but to deprecate or remove coroutine::exception() - I don't see how it can be used correc

[2022-11-27 18:33] avikivity commented on #12096
By code inspection.

Not that I know of.

We can try to fix it. One option is to have people write

[code]

Also, it's only broken for coroutines that return void.

[2022-11-27 18:35] avikivity commented on #12096
We should continue the discussion about return_exception on the seastar bug, not on this bug.

[2022-11-27 19:06] avikivity opened #12098 "cdc_with_lwt_test is flaky for > 6 ,months"
5e67e48f8bc96766d6dfecfa90f67125531c88ed disabled the test, citing its flakiness.

c59a730c1e9 re-enabled it, marking it as flaky.

The end result is that we don't test cdc with lwt for a long period.

[2022-11-27 20:22] talexander opened #12099 "scylladb return inconsistent data after node full rebuild"
Hi! I am testing node rebuild  after loosing the data volume in docker (like described here https://docs.scylladb.com/stable/operating-scylla/procedures/cluster-management/rebuild-node.html).

My steps
1. Create new cluster with static ip's(3 DC, 2 nodes in each DC)
2. Create new namespace with test data (replication=NetworkTopologyStrategy,rf=1). I took data from scylladb repo (mutant_data - 3 ro

[2022-11-27 20:45] fgelcer opened #12100 "Scrub causing ENOSPC and failing the test"
## Installation details

Kernel Version: 5.15.0-1023-aws
Scylla version (or git commit hash): `5.2.0~dev-20221124.d7310fd083f9` with build-id `63347c5a972f3c53037049189549b0896b5a148e`

Cluster size: 3 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- gemini-1tb-10h-master-oracle-db-node-5f0f77b4-1 (54.163.45.175 | 10.12.11.198) (shards: 14)
- gemini-1tb-10h-master-db-node-5f0f77b4-3 (54.210.4.

[2022-11-27 21:28] fgelcer opened #12101 "high latency during replace node operation with mixed workload"
*Installation details*
Scylla version (or git commit hash): `Scylla Server Version: 5.2.0~dev.20221105.768d77d31b6e with build-id 31818162ae404f25877763c515a14214a03356a7`
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0d7c91b81d0530b15` (`eu-west-1`)

we saw an increased latency for this operation, and we agreed that we might have stalls during it, that may reflect the issue, hence i'm rep

[2022-11-27 21:36] fgelcer commented on #11528
@mykaul , this is not a Google only, as i'm seeing something similar on AWS job `longevity-twcs-48h-test` with `Scylla version: 5.1.0~rc3-0.20221101.5bd9b0846be3 with build-id c2e46c600e4002995edad8beb778460c9b26000a (ami-0444217138b144e3d - us-east-1)`
[code]

[2022-11-27 21:38] fgelcer commented on #11528
and also this one, on a rolling upgrade (on AWS) with `Target ScyllaDB version: 5.2.0~dev-0.20221125.996eac9569fb`:
[code]
this one has `test_id: cbcee2af-c7e4-4edd-99d7-4c42e6927a74`

[2022-11-27 21:39] fgelcer commented on #12101
email subject of the report of this build is `[scylla-perf-results] Performance Regression Compare Results (latency during operations) - test_latency_mixed_with_nemesis - 5.2.0~dev.20221105.768d77d31b6e - 2022-11-06 05:38:43.579464`

[2022-11-27 23:07] nyh opened #12102 "With filtering, page size counts unfiltered rows. Should be filtered rows?"
The Cassandra driver documentation for different languages suggests that the `fetch_size` parameter of a scan "_controls how many rows will be fetched per page._". It is implied - but not explicitly guaranteed in any document that I could find - that if `fetch_size=100`, the scan returns pages of 100 rows each - only returning less in the last page.

In this issue we look at the case of **filterin

[2022-11-27 23:16] nyh commented on #11340
I opened an issue #12102 which is arguably a duplicate of this one, but explains the problem in a more Scylla-centric and less cqlsh-centric way, and explains how Scylla differs from Cassandra on the meaning of `fetch_size` (@JerryKwan also noted this above), and why it's not clear which definition is better.

But the two issues are not exact duplicates: If we decide in #12102 to change Scylla to

[2022-11-28 02:36] asias commented on #11507
It is not needed since we know why gossip marked the node as down: rpc time out.
[code]

I am not sure why the rpc would timeout though. The metric showed the system was not loaded. It could be 1) network issue (possibility is low since we saw this multiple times) or 2) a bug in scylla or seastar when handling rpc messages.

One theory is that, rpc framework did not sent back the rpc message for s

[2022-11-28 06:38] vponomaryov commented on #11976
Which `next` node? In this scenario only one Scylla node gets operated on.

[2022-11-28 07:42] nyh commented on #12102
Added in pull request https://github.com/scylladb/scylladb/pull/12103 a test reproducing this difference between Cassandra and Scylla: `test_filtering.py::test_filter_and_fetch_size`.

[2022-11-28 07:53] yarongilor commented on #11915
rerunning in: https://jenkins.scylladb.com/job/scylla-staging/job/yarongilor/job/longevity-alternator-dbg/9/

[2022-11-28 08:31] tzach commented on #12093
Similar to https://github.com/scylladb/scylladb/issues/5307

[2022-11-28 08:55] nyh commented on #8078
This issue was just reported by an actual user, who used SELECT JSON with `writetime(x) as y`, and saw `writetime(x)` in the output instead of `y` as expected. So we should probably solve it...

[2022-11-28 09:11] gusev-p opened #12104 "cql transport server: report unhandled error as SERVER_ERROR to the client"
If a `std::bad_alloc` exception occurred while parsing a large batch request, it's not properly reported to the client.

The exception was caught by try/catch in `cql_server::connection::process_request_one` and an attempt was made to construct the error response message via `make_error` function. This attempt failed since the error message contained entire query and exceeded the limit of `64K` in

[2022-11-28 09:57] xemul commented on #10701
Histogram would be awesome indeed. And for reactor ticks too. Queued scylladb/seastar#1311

[2022-11-28 10:18] avikivity commented on #12093
Closed as duplicate of #5307

[2022-11-28 10:18] #12093 closed

[2022-11-28 10:19] avikivity commented on #5307
See discussion on #12093

[2022-11-28 10:28] avikivity commented on #11528
I don't understand it. There's nothing special about upgrade that should cause this.

[2022-11-28 10:37] k0machi commented on #11807
So after increasing the duration to 5 minutes the reproducer on 4.6 exhibited same issue, you can see the drop in throughput for all nodes in the grafana screenshot:
![image](https://user-images.githubusercontent.com/7761415/204256732-a9ae592d-5374-4a46-bdc1-ffb6b5f0218b.png)

[Job url](https://jenkins.scylladb.com/job/scylla-staging/job/alexey/job/memory-stress-10gb-3h-test/11/)

[2022-11-28 10:39] mykaul commented on #5307
I feel 2 containers are enough:
1. a minimal one with just scylla-server
2. one with all the tooling: Java + jmx, nodetool, cqlsh, etc.

Both could be based on a minimal image, to reduce OS footprint of course. Neither should have any supervisor for the process - this should be done externally, IMHO (such as K8S).

[2022-11-28 11:08] kbr- commented on #12087
We also do this in topology tests.

@roydahan or @fruch could you give your opinion here?
I know that this ERROR-catching mechanism exists in SCT/dtest.
Do you remember if it managed to catch real bugs?

[2022-11-28 11:20] DoronArazii commented on #11920
@xemul any updates on this issue?

/Cc @bhalevy

[2022-11-28 11:23] DoronArazii commented on #11976
@raphaelsc / @bhalevy any updates here?

[2022-11-28 11:24] DoronArazii commented on #10687
@eliransin ping

[2022-11-28 11:24] DoronArazii commented on #10398
@eliransin ping

[2022-11-28 11:25] DoronArazii commented on #11059
@aleksbykov ping ^^

[2022-11-28 11:32] mykaul commented on #12099
@talexander - I'm not sure, but are you using rf=1?

[2022-11-28 11:35] mykaul commented on #12081
@fruch - the newer cqlsh was reverted, right? Can we close the above after this revert, or do we wish to keep it open till we ensure it's not happening with the newer one?

[2022-11-28 11:37] KnifeyMoloko opened #12109 "Abort on shard with node <ip_number> not in topology, during node decommission"
## Installation details

Kernel Version: 5.15.0-1023-aws
Scylla version (or git commit hash): `5.2.0~dev-20221117.d85f73147821` with build-id `d9aaf343e7cbced97ce3bfd76b219cceff4d6cce`

Cluster size: 6 nodes (i4i.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-master-db-node-6be38c4a-7 (50.17.49.222 | 10.12.9.57) (shards: 14)
- longevity-tls-50gb-3d-master-db-node-6be38c4a-6 (3.85

[2022-11-28 11:37] annastuchlik opened #12110 "doc: remove the info specific to outdated versions from the docs"
Currently, the documentation contains a lot of references to previous ScyllaDB versions. They were necessary when the documentation was not versioned. Now that we introduced documentation versioning, we should apply the following approach:
- Version 5.1 is going to be the oldest version available to the user, so it should contain all the notes and disclaimers relevant in version 5.1 and earlier.
-

[2022-11-28 11:38] KnifeyMoloko commented on #12109
Backtrace:

[code]

[2022-11-28 11:56] mykaul commented on #10684
@eliransin - can you assign someone to follow up on Sarna's comment above and see that we make progress on this?

[2022-11-28 11:56] tgrabiec commented on #12083
Refs https://github.com/scylladb/scylladb/issues/6088

[2022-11-28 11:58] xemul commented on #11920
It can be due to #12050 . Crashes will be fixed by #12067. This call-trace is very interesting, I'll check it

[code]

[2022-11-28 12:00] elcallio commented on #10398
The core is due to /scylladb/seastar#1181. It was fixed in [/scylladb/seastar/fd50c344fa2bc4dbbdd83623f433407ef61277b2](https://github.com/scylladb/seastar/commit/fd50c344fa2bc4dbbdd83623f433407ef61277b2).
The actual network/connection issue might still be something different.

[2022-11-28 12:02] mykaul commented on #10479
@jul-stas  -
5% is quite high actually. 0.5% is reasonable - can you look into it?

[2022-11-28 12:03] mykaul commented on #9775
@elcallio - what's the next action here?

[2022-11-28 12:04] mykaul commented on #9732
@bhalevy - have you seen this recently?

[2022-11-28 12:05] mykaul commented on #8638
@eliransin - who can look at implementing this?

[2022-11-28 12:11] elcallio commented on #9775
Does the test still fail occasionally (on the above)? Or are the fixes done enough? If not, I guess revisit the log parsing expressions.

[2022-11-28 12:15] fruch commented on #12087
It help up surface thing up, and make sure  the error level are mostly honored.

it also helps in pinpoints the issue, if it's the same error message across multiple tests it's easy to spot.

it's would be helpful if all tests would have this, and it's add some tedious work of "ignoring" expected errors.

I've give an example, once we've seen some error level print that introduced in a new scylla

[2022-11-28 12:18] fruch commented on #12081
I know @avikivity reverted

we have a defect for the root cause in
https://github.com/scylladb/python-driver/issues/187

So from my POV we can close it.

[2022-11-28 12:19] bhalevy commented on #12101
Stalls look similar to thttps://github.com/scylladb/scylladb/issues/8942

[2022-11-28 12:20] roydahan commented on #12109
I think it's dup of https://github.com/scylladb/scylladb/issues/11900.

@xemul / @bhalevy please approve and close if so.

[2022-11-28 12:22] bhalevy commented on #11921
@roydahan by the way, why do we lose the scylla log level (ERROR/WARNING/INFO/DEBUG/TRACE) in the system.log files?

[2022-11-28 12:30] roydahan commented on #12100
@fgelcer please check if it's the same issue as we had in https://github.com/scylladb/scylladb/issues/11550.
There we had the enospc during resharding, but the real problem was that the dataset was much bigger than we thought.

[2022-11-28 12:30] raphaelsc commented on #11976
Not yet. Will look into it today.

[2022-11-28 12:31] raphaelsc commented on #11976
340729 ERROR 2022-11-13 07:28:30,043 [shard  0] init - Startup failed: std::bad_cast (std::bad_cast)
340730 2022-11-13 07:28:30,118 INFO exited: scylla (exit status 1; not expected)

@bhalevy does this ring a bell to you? Seems like the problem Aleksandra fixed.

[2022-11-28 12:32] xemul commented on #12109
It's rather #12050 . @bhalevy ?

[2022-11-28 12:33] raphaelsc commented on #11976
Fixed in commit https://github.com/scylladb/scylladb/commit/dcc17037c77eeec4e1e301a15e3b66eccb776d80

[2022-11-28 12:49] nuivall commented on #11979
One thing which comes to my mind about backward-incompatible nature of the change. Will it break backup restore procedure (since it recreates the schema)?

Note that that all current users of alternator's GSI with range key will have this problem due to  https://github.com/scylladb/scylladb/issues/11800

[2022-11-28 12:51] bhalevy commented on #11921
From the sct log:
[code]

[code]

So apparently this was caused by https://github.com/scylladb/scylladb/issues/11923
and the clearsnapshot error is just a secondary failure.

[2022-11-28 12:51] #11921 closed

[2022-11-28 14:03] vladzcloudius opened #12111 "[RFC]: Make a new node operational before data rebalancing ("streaming") is over"
*Description*
Today a new node doesn't become fully operational until data rebalancing (a.k.a. "streaming") is over.
This in line prevents adding more nodes until the currently streaming node is done.

The joining node already receives writes as a replica today. However it doesn't serve as a coordinator during streaming thus not helping at all to other nodes.

And if the reason for adding new node

[2022-11-28 14:04] vladzcloudius commented on #12111
@asias @mykaul @gcarmin @harel-z FYI

[2022-11-28 14:04] syuu1228 commented on #12011
I think I found out why this happens, it is because hostname resolution doesn't working when `network_mode: host`.
When we don't specify network_mode (I think default mode is bridge) or when we specify `network_mode: bridge`, it just work fine.
To fix the problem, we need to manually add hostname entry to /etc/hosts using `extra_hosts`, like this:
[code]
After added /etc/hosts `hostname: Name or s

[2022-11-28 14:18] syuu1228 commented on #12011
I think we acually can prevent the exception by following change when --listen-address is specified, since hostname -i and --listen-addess should be same:
[code]

I will open PR with this patch.

[2022-11-28 14:25] kbr- opened #12114 "raft: replace should be possible in RECOVERY mode"
We should test that replace is possible in `group_upgrade_state=RECOVERY` mode. removenode is possible (it must be), then why not replace?

This may be problematic. The new replacing node must enter RECOVERY too. But currently the only way to enter RECOVERY is through CQL, and CQL only becomes available after the node finishes bootstrapping.
Perhaps we should allow entering RECOVERY through config

[2022-11-28 14:33] kostja commented on #12114
No we should not. Please provide a rationale.

[2022-11-28 14:40] kbr- commented on #12114
The rationale is the same as for having the replace operation at all.

Why do we have it? Perhaps don't strictly need it, because you could remove the node then bootstrap a new one and you get the same result.

The replace operation is there so you can make the procedure 2 times shorter: you bootstrap and remove at the same time, so you can replace a node in say 10 hours instead of 20.
Perhaps it'

[2022-11-28 14:41] bhalevy commented on #11190
@DoronArazii since this was a one time rare case, I suggest to deprioritize the issue to normal priority.

[2022-11-28 14:46] DoronArazii commented on #11190
Done.

[2022-11-28 14:52] kostja commented on #12114
"But often you don't want to end up with fewer nodes, you want to end up with the same number of nodes, so you want to replace really." - do you have any data on that or it's a guess?
Besides, what is the impact of just adding a new node to an upgraded cluster?
Generally, github issue is not best forum for discussions around motivation. Why not create a feature request following the feature reques

[2022-11-28 15:00] bhalevy commented on #11976
So is it a duplicate of https://github.com/scylladb/scylladb/issues/11966?

[2022-11-28 15:04] raphaelsc commented on #11976
Looks like so to me. Manifests exactly the same way.

[2022-11-28 15:12] #11976 closed

[2022-11-28 15:16] #12022 closed

[2022-11-28 15:16] #11737 closed

[2022-11-28 15:46] talexander commented on #12099
@mykaul  yes, one replica in each DC (3 replicas at all)

[2022-11-28 16:03] vladzcloudius commented on #12111
An interesting RFC that implements a part of this RFC is this one: https://github.com/scylladb/scylladb/issues/6527

[2022-11-28 16:18] vladzcloudius opened #12117 "[RFC]: Allow adding multiple nodes fast"
We should implement the ability to add multiple nodes in a quasi-single operation.

This extends the "Elasticity Project" idea.
The difference is that on top of the original idea we want to also have https://github.com/scylladb/scylladb/issues/12111.

As of now the "Elasticity project" is blocked by Raft and tablets implementation which makes its ETA to be at least a few years from now.

However t

[2022-11-28 16:19] vladzcloudius commented on #12117
@harel-z @gcarmin @mykaul @asias FYI

[2022-11-28 16:24] syuu1228 commented on #12011
PR sent at #12115

[2022-11-28 16:46] ShlomiBalalis opened #12120 "Quering the mysql database the housekeeping service's after restarting scylla fails: `socket.gaierror: [Errno -2] Name or service not known`"
## Installation details

Kernel Version: 5.15.0-1023-aws
Scylla version (or git commit hash): `2022.1.4-20221122.9842f1979` with build-id `e8ca5fae3ea04f974372144756968dacca609a3b`

Cluster size: 1 nodes (i4i.8xlarge)

Scylla Nodes used in this run:
- artifacts-ami-jenkins-db-node-752b6829-1 (3.237.64.124 | 10.0.2.126) (shards: 30)

OS / Image: `ami-0786b65d414dd5a7a` (aws: us-east-1)

Test: `arti

[2022-11-28 17:19] cvybhu commented on #12014
Added a wiki page here: https://github.com/scylladb/scylladb/wiki/Backporting

I was a bit surprised that there wasn't any review/approval required to do it.

There's also the [`dev/docs`](https://github.com/scylladb/scylladb/tree/master/docs/dev) directory and it looks like the files there are fresher than the wiki.
Not sure where I should put the documentation.

cc @annastuchlik

[2022-11-28 19:03] nyh commented on #12014
Thanks @cvybhu. In the distant past, we used the wiki a lot, but it fell out of favor for several reasons. The first reason was that, like you said, there was no review process on creation, modification, or deletion of pages, nor any way for reviewers to comment on a document. It even happened (more than once) that a document which someone wrote was unilaterally deleted by another person who decid

[2022-11-28 20:14] avikivity commented on #12099
@asias do we support this configuration?

[2022-11-28 21:04] bhalevy commented on #9732
Nope

[2022-11-28 22:02] roydahan commented on #5078
AFAIK yes, but filter this "Error" so it won't fail the tests.

[2022-11-28 23:45] nyh commented on #8078
I have a fix for this already, it's basically two lines of code.

But the two translated Cassandra unit tests that demonstrated this bug unfortunately demonstrate two other bugs as well (#8086 and #8077), so these two tests keep xfailing after this patch as well. I did verify manually that all the assertions related to "AS" which used to fail now pass, but still, these tests don't serve as a good

[2022-11-29 04:53] denesb commented on #12014
We already have a contributor.md in the root directory. I think that
would be a good place to add this guide to.

On Mon, 2022-11-28 at 11:04 -0800, nyh wrote:

[2022-11-29 05:15] #12089 closed

[2022-11-29 06:51] #9732 closed

[2022-11-29 07:40] bhalevy commented on #11870
@xemul why https://github.com/xemul/scylla/commit/ec975d6e5a2e8da50805b10672363458becd9f61 fixed this issue?
Hints manager still starts too early so it can't find the target node in topology.
Do we retry later so we don't drop the respective hints?

In any case hints manager should start working on hints replay after the node joins the ring.

[2022-11-29 07:47] yarongilor opened #12124 "Warning of: sstable - Generating a new run identifier for SSTable me-9184-big-Data.db as overlapping was detected"
## Installation details

Kernel Version: 5.15.0-1022-aws
Scylla version (or git commit hash): `2022.2.0~rc4-20221106.f5714e0db12f` with build-id `f4a927b8a00fbcd8d48640835192aeaa7968b1f2`
Relocatable Package: http://downloads.scylladb.com/unstable/scylla-enterprise/enterprise-2022.2/relocatable/2022-11-06T15:44:05Z/scylla-enterprise-x86_64-package.tar.gz
Cluster size: 4 nodes (i3.4xlarge)

Scylla

[2022-11-29 07:48] nyh commented on #12014
I just realized we actually have two: CONTRIBUTING.md and docs/contribute.rst. I think neither is in the right place - if it's documentation for developers, why isn't it in docs/dev? And it would also be nice to merge the two files... The important thing is just that the top-level README.md continues to point to the right document.

I see we also have a third (!) document, HACKING.md. The README.m

[2022-11-29 07:52] nyh commented on #8037
Closing this issue - there is no longer a "contributor" directory. I think the situation is still not great, I'll open a new issue on the current state.

[2022-11-29 07:52] #8037 closed

[2022-11-29 08:08] nyh opened #12126 "Improve organization of "how to contribute" documents"
We have two documents, `CONTRIBUTING.md` and `docs/contribute.rst`. The difference between them is not clear to me. Also arguably, neither is in the right directory - if this is supposed to be documentation for developers, I think it should be in `docs/dev/`. If we move these files, the top-level `README.md` which today links to `CONTRIBUTING.md` should link to whatever new document we have.

Ther

[2022-11-29 08:09] nyh commented on #12014
I opened #12126 about the document duplication.

[2022-11-29 08:47] nyh commented on #6389
At this point, most Alternator table operations like CreateTable already use Raft for serializing the schema operations: The take `mm.start_group0_operation()`, do whatever reading and writing to the schema they want, until finally calling `mm.announce()` to complete the operation. So CreateTable with tags should already be safe.

But this issue still exists because in our `TagResource` implementa

[2022-11-29 08:56] nyh commented on #12126
In what sense is a top-level CONTRIBUTING.md standard? Does github show it like it shows README.md? I think it doesn't.
I think users will anyway begin by reading README.md. If we have a document about how to contribute, it should be linked there (and it is). I personally think that it's strange that we have most developer-oriented documentation in docs/dev, with just the three files I mentioned b

[2022-11-29 09:32] nyh commented on #58
I think it's time to close this issue. Seven years have passed since the last comment and nobody seems to really want this feature. We have other ways to add Seastar options - from command line to Seastar config file(s) - and it doesn't seem like anybody really wants to do this from scylla.yaml.

[2022-11-29 09:32] #58 closed

[2022-11-29 09:48] denesb commented on #12126
I don't have a strong opinion on this. I also think it doesn't matter where this additional documentation is as long as README.md has a link to it. I also agree that it makes sense to follow the current trend and move this remaining piece of documentation to doc/dev.

[2022-11-29 09:51] annastuchlik opened #12127 "doc: add the upgrade guide from 2022.1 to 2022.2"
Add the upgrade guide for the new ScyllaDB Enterprise version.
Ensure to link the KB added with this PR: https://github.com/scylladb/scylladb/pull/11122

[2022-11-29 10:04] xemul commented on #11870
Yikes! It indeed doesn't

As per https://github.com/scylladb/scylladb/pull/12054#issuecomment-1324876098 it probably does, but I don't know this code well enough to tell for sure. @piodul ?

[2022-11-29 10:04] bhalevy opened #12129 "dtest test failure: out of limit commitlog size"
Seen in e.g. https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/149/testReport/commitlog_test/TestCommitLog/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split000___test_total_space_limit_of_commitlog_with_memory_based_limit/

Digging into the full test log shows the following:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release

[2022-11-29 10:22] piodul commented on #11870
That's not guaranteed. On boot, if the hints manager has some hints for node A but thinks that node A is not in the cluster then it won't replay those hints. Some events might get it unstuck but they aren't guaranteed to happen, e.g.: a new hint is written for node A.

[2022-11-29 10:30] nyh commented on #73
@raphaelsc wasn't this already done, I think by you, many years ago? Or is there something missing before we can close this issue?

[2022-11-29 11:41] bhalevy commented on #11870
To fix this issue I think we need to coordinate with the storage service so that hint replaying will be started after we join the ring in `storage_service::join_token_ring`.

In addition, with #12084, we should identify the hints using the host_id rather than the endpoint (that may change in replace node)

[2022-11-29 12:02] nyh commented on #81
This is a 7 year old issue about the repair we had then not generating enough log messages. Since then, the repair code was rewritten twice, and the log messages are completely different. So closing this issue. If we want to improve logging of the current repair, we should open a new issue saying what we want to improve.

[2022-11-29 12:02] #81 closed

[2022-11-29 12:08] nyh commented on #125
This is a seven year old issue, and three years ago @avikivity already said this doesn't happen any more, and today I'm not seeing it any more either, so closing this issue.
Maybe it has something to do with using dpdk (which today we usually don't use), or old versions of Seastar and/or DPDK. If it ever happens again, let's open a new issue with up-to-date information.

[2022-11-29 12:08] #125 closed

[2022-11-29 12:14] nyh commented on #194
@tgrabiec I think the original goal of the key cache was to basically cache index entries, so maybe the work you did of caching index **pages** might be a good enough compromise and we don't need a cache of individual keys, and should close this issue. What do you think - should we close this issue or keep it open? @avikivity shlomi said this issue was from you - what do you think?

[2022-11-29 12:35] nyh commented on #210
According to Cassandra documentation, "Sequential Repair" was the default mode until Cassandra 2.1, and in 2.2 they switched to defaulting to "Parallel Repair".

I think that if we managed without this repair mode for seven years, we don't need to add it now, and can close this issue.   @asias what do you think?

I'll open a separate issue on the documentation - we shouldn't say we support sequent

[2022-11-29 12:43] nyh opened #12132 "documentation: document which repair modes we really support"
https://docs.scylladb.com/stable/operating-scylla/nodetool-commands/repair.html

suggests that we have an option to do "sequential repair". As noted long ago in issues #210 and #2084, we don't actually support the concept of "sequential repair", never did, and probably (see #210) never will. So we shouldn't claim that such an option exists and "explain" what it does.

@asias maybe you can take a l

[2022-11-29 12:44] elcallio commented on #12129
Does this happen repeatedly or did you only see it once? I am prone to thinking that the `total_space_limit = node1._mem_mb_per_cpu` call in the test code is not 100% equal to the `_dbcfg.available_memory / <num shards>` in actual scylla. Since the test guesses a commitlog size, but does not assign it, it seems shaky at best. But if this reproduces...
However, for me it passes. It seems to me that

[2022-11-29 12:45] nyh commented on #270
I don't know what this issue was about, but we fixed a gazillion of unclean-shutdown bugs in the seven years that have passed, so probably we solved this issue as well.

[2022-11-29 12:45] #270 closed

[2022-11-29 12:47] #292 closed, assigned to nobody

[2022-11-29 12:50] elcallio commented on #12129
The fact that on my machine, the tests idea of `total_space_limit` is 512 MB, whereas the actual `max_disk_size` computed by commitlog is 59694 MB would suggest my hunch that computed values in test are broken might have some merit...

[2022-11-29 13:09] bhalevy commented on #12129
I'm not sure about the single freak commitlog file.
But the failure are abundant in daily release test.

All 4 runs below failed:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/149/testReport/commitlog_test/TestCommitLog/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split000___test_total_space_limit_of_commitlog_with_memory_based_limit/history/

The test

[2022-11-29 13:48] elcallio commented on #12129
From what I can telll, `_mem_mb_per_cpu` is always set to 512. Unless something I cannot see in ccm calls set_mem_mb_per_cpu, I don't see it changing...?

I am not sure on how to modify the test. One option is to use logs, but then we either need to promote the trace-level CL log that states how much the limit is to something more verbose, or run with trace for these tests. Is the latter a problem

[2022-11-29 13:57] elcallio commented on #12129
Btw, I do agree the segment in question is very weird. I have no explanation...

[2022-11-29 14:51] elcallio commented on #12129
That is not what I meant. I meant the log will be flooded with trace info and both very large and hard to parse in case of actual failure.

[2022-11-29 14:58] kostja opened #12133 "Document Scylla total schema size limit"
The total binary footprint of all scylla columns, tables, etc. must fit a single commit log size segment divided by two. We don't seem to list this limitation anywhere in the docs.

[2022-11-29 15:27] nyh commented on #210
I'm closing this issue for reasons explained above. @asias or @tzach if you want to keep it open, please reopen it.

[2022-11-29 15:29] nyh commented on #305
I think nothing in DPDK or Seastar is like it was seven years ago when this issue was created. So I'm closing the issue and if someone runs Scylla with DPDK again an experiences problems, they'll open a new issue with up-to-date information.

[2022-11-29 15:29] #305 closed

[2022-11-29 15:36] bhalevy commented on #12129
Hopefully here will be no failures ;-)
How large would it be?  If it's several MBs we should be fine. 100's of MB / GBs will hurt.

[2022-11-29 15:37] xemul opened #12136 "storage_proxy::schedule_repair transfers endpoints accross topologies"
The schedule_repair() accepts `std::unordered_map<dht::token, std::unordered_map<gms::inet_address, std::optional<mutation>>>` and inet_addresses in this nested map were obtained from erm earlier, when proxy created response handler for it. When the schedule_repair() fiber runs it calls mutate_internal() which calls mutate_prepare() which grabs erm from scratch and tries to resolve endpoints from

[2022-11-29 15:37] xemul commented on #12136
Cc @bhalevy

[2022-11-29 15:38] xemul commented on #11920
New problem spotted: #12136 . It describes the calltrace from this issue

[2022-11-29 15:41] nyh commented on #349
I think everything we wanted to add to scylla.yaml, we added a long time ago, and there is nothing left to do here and this issue can be closed. Anybody thinks otherwise?

[2022-11-29 15:48] nyh commented on #465
@michoecho created this pull request: https://github.com/scylladb/scylladb/pull/10808

[2022-11-29 15:48] nyh commented on #445
@elcallio ?

[2022-11-29 16:06] nyh commented on #621
So closing the issue as completed.

[2022-11-29 16:06] #621 closed

[2022-11-29 16:12] kostja commented on #12133
It's a scylla.yaml parameter.
BTW, another matter that all nodes in the cluster should have the same value of this parameter, otherwise the cluster will break (the nodes with smaller commit log segment size in mb won't be able to talk with the nodes with the larger segment size). So when it's changed, it should be changed on all nodes. We don't document it either.

In other words, @mykaul it's a p

[2022-11-29 16:15] fee-mendes commented on #2177
@tzach bump, asking for prioritization :-)

[2022-11-29 16:16] nyh commented on #12133
@kostja can you explain this "must"? What causes this requirement? You listed this as a documentation issue but do we have another issue on fixing this requirement - not just documenting it?

[2022-11-29 16:33] avikivity commented on #12136
Why not carry the erm? This is just a read repair, so nobody gets hurt if we extend the life of the topology a little.

[2022-11-29 19:09] amnonh commented on #10065
@denesb @raphaelsc could you open a scylla-monitoring issue with the correct explenation?

[2022-11-29 19:20] bhalevy commented on #12136
Yes, in this case I think this is the right way.
The discussion about other solution that could be used instead of varrying endpoints where carrying the erm is undesirable.

[2022-11-30 01:29] #8078 closed

[2022-11-30 09:06] nyh opened #12142 "Clean up deprecation warnings on new seastar::http namespace"
Recently @xemul added to Seastar a new HTTP client implementation, and in the process moved around some of the HTTP **server** classes to a more neutral namespace to be shared between server and client classes. The old names were deprecated. This currently causes Scylla's compilation to give off dozens of warnings like:

[code]

We should update the Scylla code to use the new namespace and avoid t

[2022-11-30 09:12] denesb commented on #10065
This requires changes in scylla code too. We need to do the changes on the scylla end to find out what needs to change in monitoring.

[2022-11-30 09:22] denesb commented on #10065
For example I think we will want the old "queued sstable reads" and "active sstable reads" in their old meaning back. Currently, this requires code changes as these things are simply not tracked. So it is even more than just hooking up a different existing internal metric to the outside-facing one.

[2022-11-30 09:24] nyh opened #12143 "Alternator tests fails when the connection is closed before the reply is fully read"
@avikivity and @raphaelsc that the full Alternator test suite has been flaky recently, sporadically failing even on fast machines and release builds (so it's not the usual not-long-enough timeout issue).

@avikivity gave an example:
[code]

[2022-11-30 09:26] mykaul commented on #11410
@DoronArazii - let's see what milestone this should be in (it's merged, so I assume 5.1?)

[2022-11-30 10:00] mykaul opened #12144 "Scylla setup should set net.ipv4.tcp_timestamps=1 (or just warn if it isn't set as such)"
In newer OS, this is the default, but in some older ones, it isn't, and it may cause rpc hangs.
Scylla systemd unit or some other startup script should warn if it is not set to '1'.

[2022-11-30 10:07] bhalevy commented on #12129
Anther example: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/102/artifact/logs-full.debug.005/dtest-gw2.log
[code]

[2022-11-30 10:11] bhalevy opened #12145 "alternator expiration service hangs on shutdown"
Seen in debug mode on all nodes, e.g. https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-debug/102/artifact/logs-full.debug.030/1669790745426_alternator_ttl_tests.py%3A%3ATestAlternatorTTL%3A%3Atest_ttl_with_load_and_decommission/node1.log
[code]

`expiration scanner read timed out` message repeats until the test kills the node to get a coredump.
https://jenkins.scylladb.co

[2022-11-30 10:25] denesb commented on #12102
The way I see it, ScyllaDB's interpretation is much more efficient and safe (in the sense of fitting into the timeout period) while Cassandra's is more intuitive.

[2022-11-30 10:26] nyh commented on #12144
@mykaul I suggest that Scylla itself can check this setting on boot and refuse to boot. We already have similar tests in main.cc like tcp_syncookies (although in that particular case we just warn, not refuse to boot). I don't think we should rely on external scripts for Scylla to protect itself. It can also be a good place in Scylla to insert a comment on why this flag is needed.

@gleb-cloudius c

[2022-11-30 10:29] kbr- opened #12146 "raft: test that group 0 snapshotting works"
The state machine is snapshotted after certain thresholds, group 0 uses the defaults specified in raft/server.hh:
[code]

AFAIU we currently have no tests which would perform a sufficient number of schema changes for a snapshot to be created, and it would be best to test multiple snapshots with restarts/crashes in between.

We could:
- perform thousands of schema changes - with restarting/crashing

[2022-11-30 10:30] elcallio commented on #12129
Question: You don't happen to have the actual commitlog segments (esp. the 213MB one) saved?

[2022-11-30 10:32] nyh commented on #12102
I agree. One of the options we have now is to decide that we think that Scylla's behavior is the better one, and keep it. If we decide that, we should:
1. Add to our documentation an explanation of Scylla's paging behavior, and preferably also mention that it's different from Cassandra's (for the benefit of users switching from Cassandra).
2. Change he new test added in #12103 to test Scylla's beh

[2022-11-30 10:33] gleb-cloudius commented on #12144
On Wed, Nov 30, 2022 at 02:27:07AM -0800, nyh wrote:

I is not important to RPC specifically. It makes tcp behave bad in
presents of a lot of packet drops.

--
			Gleb.

[2022-11-30 10:34] bhalevy commented on #12129
Nope, you should reproduce locally with --keep-test-dir option to keep the test nodes data directory

[2022-11-30 10:35] gleb-cloudius commented on #12144
And that is why it would be weird to require it to be set. There are people out there with networking HW that actually works.

[2022-11-30 10:42] nyh commented on #12144
So we don't need to require it to be set. We can do what we do in main.cc for tcp_syncookies, namely, just warn if this flag is off, warning the user that it may cause packet loss and therefore bad performance.

If there are people who deliberately set this flag to 0 and still get good performance, then I agree - we shouldn't even warn about it, and let's close this issue. But I have no idea if th

[2022-11-30 10:47] nyh commented on #12145
@nuivall you were right, and infinite repeat was not a great idea. If we had a limited number (e.g., 10) this would have worked like before - just take a long time to shutdown (which is not a big problem for dtest).

But what will be even better is to stop the retry loop immediately if a shutdown was requested. I'll check how to do that and prepare a patch.

[2022-11-30 10:51] elcallio commented on #12129
Ran it dozens of times. No repro. :-(

[2022-11-30 10:53] gleb-cloudius commented on #12144
Without packet drops the feature is irrelevant. IMO we do need to force it to 1 because believe me you do not want to debug it once again when we will have the rare case of an installation where there will be packet drops and the knob with be 0.

[2022-11-30 10:53] nuivall commented on #12145
Stopping on shutdown looks a bit a similar to stopping on another ttl scan execution (i.e.  current is stuck >= 24 hours), perhaps the patch can handle both (unless this is already done)?

[2022-11-30 11:21] bhalevy commented on #12129
Did you try also with scylla in debug mode?
Maybe it might help reproduce it more easily.

[2022-11-30 11:33] nyh opened #12147 "Alternator: a better, and rack-aware, /localnodes request"
We have in Alternator a "/localnodes" request which returns the list of live nodes on the same data-center as the node receiving this request. It was meant to be used by an application (or load balancer) that wants to know where to send DynamoDB API requests.

However, this "/localnodes" feature has two problems that this issue proposes to fix:
1. The "/localnodes" feature is not rack-aware. In a

[2022-11-30 11:54] avikivity commented on #12144
We have https://github.com/scylladb/scylladb/tree/master/dist/common/sysctl.d. Note it won't help with containers.

[2022-11-30 12:03] avikivity commented on #12102
cqlsh paging should be decoupled from driver/scylladb page sizes. cqlsh should page screenfulls (can be just one row if the row is very long or if the screen is very short). A screenfull can be part of a driver page, or multiple driver pages.

[2022-11-30 12:04] roydahan commented on #12109
Closed as duplicate

[2022-11-30 12:04] #12109 closed

[2022-11-30 12:27] nyh commented on #12102
I agree. This has become the focus of https://github.com/scylladb/scylladb/issues/11340, and why I opened this issue separately.

[2022-11-30 12:50] nyh commented on #12145
@nuivall the code is already written as a loop whose very inner part has:
[code]

So whenever a shutdown is requested, it stops whatever scan it is currently on. But it stops between scan pages - an individual page, including the new even-more-inner-loop, can still hang. I need to move the check into the even-more-inner loop.
I'll send a patch in a few minutes.

[2022-11-30 13:32] KnifeyMoloko opened #12149 "After interrupted decommission db node fails to restart due to Scylla API server error"
## Installation details

Kernel Version: 5.15.0-1023-aws
Scylla version (or git commit hash): `5.2.0~dev-20221124.d7310fd083f9` with build-id `63347c5a972f3c53037049189549b0896b5a148e`

Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-72859ada-9 (3.94.152.33 | 10.12.9.131) (shards: 7)
- longevity-twcs-48h-master-db-node-72859ada-8 (54.167.49.

[2022-11-30 13:48] nyh commented on #503
After seven years with this default file name, maybe we can't rename it any more without breaking a lot of test and management code, and should close this issue?

[2022-11-30 13:59] tzach commented on #503
Can fix this with a soft-link like solution without breaking backward compatability.
We did the same for scylla.yaml

[2022-11-30 14:07] nyh commented on #5119
This is really a cqlsh issue, so moving it to the separate cqlsh repository and closing this issue.

[2022-11-30 14:07] #5119 closed

[2022-11-30 14:07] nyh commented on #680
Created https://github.com/scylladb/scylla-cqlsh/issues/9 in the cqlsh repository, and closing this issue.

[2022-11-30 14:07] #680 closed

[2022-11-30 14:57] nyh commented on #12143
@avikivity @raphaelsc I just ran the test using Avi's command line `./test.py -v --mode dev alternator/run --repeat 1000`, 1000 repeats in dev build-mode and 1000 additional times for release mode, on my laptop with 12 cores (so test.py ran 12 tests in parallel). But all 2000 test runs passed successfully, with not a single failure...

Can one of you for whom this error reproduces please attach he

[2022-11-30 15:00] kbr- commented on #11723
Going backward would mean aborting the removal (so we keep the dead node in the cluster).

But really, there is no way to correctly fix this without Raft-based topology changes.

There are two crucial steps in the removal procedure: removing the tokens (`storage_service::excise`) and removing the group 0 member `raft_group::remove_from_group0`. These two steps must be done atomically. We cannot do

[2022-11-30 15:02] kbr- commented on #11723
Perhaps we could improve the situation at least by starting `removenode` with another step: turn the node into a non-voter.

That would be at least symmetric to the bootstrap procedure, which starts by joining group0 as a non-voter and ends with becoming a voter.

[2022-11-30 15:15] amnonh commented on #5119
We had that implemented in our 2020 hackaton, no reason why it shouldn't make it to master

[2022-11-30 15:16] nyh commented on #5119
I created https://github.com/scylladb/scylla-cqlsh/issues/9 and @fruch already sent a patch :-)
What did you have in the 2020 hackathon?

[2022-11-30 15:20] fruch commented on #5119
keep in mind the new repo is still on the process of being integrated into scylla-core. (it's a very low speed project..)

[2022-11-30 15:21] nyh commented on #5119
@fruch yes but I'm optimistic :-)

[2022-11-30 15:51] bhalevy commented on #12129
Is it possible scylla doesn't take into account the recycled segments in the total limit?
For example, I reproduced the failure locally and got:
[code]
The tests "actual" limit (with padding and some slack) is 602 MB,
without the recycled segments we're at 595 MB but with them we're at 765 MB.

[2022-11-30 15:58] mykaul commented on #6033
@tgrabiec - https://github.com/scylladb/scylladb/pull/12048 is a building block on the path to solving this?

[2022-11-30 16:04] elcallio commented on #12129
No, recycled are counted.

[2022-11-30 16:12] kbr- opened #12153 "raft: test that there's no leftovers in group 0 after remove/replace procedures"
With Raft enabled, removenode, decommission and replace operations must remove the node from group 0, additionally to removing its tokens from the token ring. Without Raft-coordinated topology operations it's not possible to handle failures correctly (see https://github.com/scylladb/scylladb/issues/11723#issuecomment-1332301558). But we can at least test that we don't leave any garbage in group 0

[2022-11-30 16:15] kbr- opened #12154 "raft: API for manual maintenance of group 0?"
Without Raft-based topology changes it is not possible to correctly handle failures during e.g. node removal operations. As the code is written now, we might end up with a member of group 0 that is not a member of the token ring (see https://github.com/scylladb/scylladb/issues/11723#issuecomment-1332301558).

One way to deal with such failures would be to have a manual API for group 0 maintenance.

[2022-11-30 16:32] kbr- commented on #12153
To do this we may need additional APIs for querying the state of group 0.

[2022-11-30 16:49] kbr- opened #12156 "direct failure detector: report a warning when a server's IP cannot be found in `ping`"
The pinging function for failure detector starts with this:
[code]

So if some Raft server cannot be translated to an IP, we silently fail the ping.

We were already bitten at least twice when, due to a bug, entries were missing from the address map. This appeared as unavailability in tests with Raft enabled: a node couldn't join group 0 because it couldn't find a leader (the leader was there, but

[2022-11-30 17:26] tgrabiec commented on #6033
@mykaul That depends on the solution. If we go with the background scan solution, we could implement it without https://github.com/scylladb/scylladb/pull/12048. If we go with expire-on-read solution, it's pretty easy to do after https://github.com/scylladb/scylladb/pull/12048. We can reuse the infrastructure added in cb0b8d190357b0792217680918ae7beab9ed8167.

[2022-11-30 17:55] kostja commented on #11723
I think it's best if we provide some built-in stored procedures to handle this. We could revitalize the patch which adds system stored procedure support to Scylla.

[2022-11-30 17:55] kostja commented on #11723
Now that we have a test for it, we can take this ticket into implementation.

[2022-11-30 17:57] kostja commented on #12153
I believe Raft configuration is already easy to query from Raft system tables. It is fine to use these in an internal test.

[2022-11-30 18:59] kostja commented on #12087
If this feature is done,it should be asked for by the test. There are enough bugs in any product, the engineering team should be focused on the most relevant ones, not the ones that are easiest to spot.

[2022-11-30 20:18] avikivity commented on #6033
I'm still for expire-on-read (or rather expunge-on-read, those tombstones are already expired).

btw, this also helps prevent tombstones bouncing around via read repair, if one replica has an expired-but-unexpunged tombstone and the other doesn't. Or maybe we do that already.

[2022-11-30 20:19] avikivity commented on #6033
/cc @michoecho