[2020-04-16 07:26] piodul commented on #6086
@slivne @haaawk No, it's not fixed.

I don't know yet what is the root cause of the segfault. I did not have any luck in reproducing it yet.
It's hard to conclude what is the root cause from the backtrace alone, because the assembly from the function that segfaulted is highly inlined and hard to read.

[2020-04-16 07:55] bhalevy opened #6211 "Corrupt system_schema.keyspaces table hit in sstablelevelreset_test"
Seen once in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/456/testReport/offline_tools_test/TestOfflineTools/sstablelevelreset_test/
Scylla version 18b9bb57ac80ee3a820c0722ac46f38d1c82eeeb
[code]

The test kill the cluster with `cluster.stop(gently=False)` bu that's no excuse for having a corrupt system table.

FWIW, I haven't been able to reproduce this locally, bu

[2020-04-16 08:13] Termite commented on #6040
Hi,
a little update:  we imported the data in a 3.2 version over the weekend.
First we got timeout exceptions, which we did not get with version 3.1, so we reduced the number of import threads, then the exceptions disappeared.
But shortly after the import there was missing data.

So, we will upgrade to version 3.3 and import again, this time with cdc enabled, to see where data is changed. This sho

[2020-04-16 08:32] denesb commented on #5856
Thanks @aleksbykov, I will look into this today.

[2020-04-16 09:08] bhalevy commented on #5942
For the record, hit again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/456/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/simple_add_new_node_while_schema_changes_test_2/

[2020-04-16 09:08] avikivity commented on #6035
Backported to 4.0. @psarna please backport to 3.3. It's not urgent since the report was on master, and since alternator is experimental in 3.3, but still nice to fix since it's a pretty large bug.

[2020-04-16 09:12] nyh opened #6212 "test.py: rewrite Alternator's tests integration"
Currently, to test Alternator, `test.py` just runs an external script, `test/alternator/run`. This script does all the preparation for the test (create temporary directory, start Scylla), runs the test (via pytest) and then does the cleanup (kill Scylla, remove the temporary directory).

It would be nicer if the setup and cleanup work would be done by `test.py` itself, in Python code. Besides havi

[2020-04-16 09:51] denesb commented on #6155
Also note that we recently extended the number of points at which we check timeouts on the write paths, see 69f606baa and 103bf50e1.

[2020-04-16 09:56] juliayakovlev commented on #6155
The space was available already.
We see this error a lot in the different situations, not just with enospc nemesis

[2020-04-16 10:10] roydahan commented on #5080
@fgelcer please report if you see this on one of the longevity tests of 4.0.
Please note it will run only on longevity that isn’t using spot instances.

[2020-04-16 10:26] gcarmin commented on #6193
I just hit this issue with a benchmark testing.
4Xi3.metal on AMI 4.0rc1 ScyllaDB 4.0.rc1 (ami-0ddd86daaba39d1d1)
8Xm5.8xlarge Centos7 with cassandra-stress from scylla 4.0rc1.
All on the same AZ
I run the following command:
`nohup cassandra-stress write no-warmup n=4856250000 cl=one -mode native cql3 -node $IPS -rate threads=200 -log file=[log_file] -pop seq=1..4856250000 > loading.data.log &`
I

[2020-04-16 10:26] fgelcer commented on #5080
i haven't seen this issue on 4.0... i will grep some logs now to check if this message happens, but I'm confident it doesn't.

[2020-04-16 10:37] tgrabiec commented on #3696
C* has a `read_repair` option which can be set to `BLOCKING` (monotonic quorum reads) or `NONE` (which favors write atomicity):

https://github.com/apache/cassandra/commit/f25a765b6daf4d08694303f47bfe5f38185dd7aa

[2020-04-16 10:43] nyh commented on #3696
See also the documentation of this new feature in Cassandra 4.0: in http://cassandra.apache.org/doc/latest/operating/read_repair.html

[2020-04-16 10:44] xemul commented on #5608
@slivne , the offending patch was unmerged, yes :)

[2020-04-16 10:49] juliayakovlev commented on #4999
@fgelcer  could you please, check if we get this specific problem in materialized view test (running 4.0  version). Thanks

[2020-04-16 10:49] juliayakovlev commented on #6120
Once we will have new master ami, I'll check it

[2020-04-16 10:49] juliayakovlev commented on #6121
Once we will have new master ami, I'll check it

[2020-04-16 10:58] psarna commented on #6035
queued to next-3.3: 2308bdbccbb1a1072c88ef4cdc8f7f292a35bb3b

[2020-04-16 11:16] raphaelsc opened #6214 "Partition estimation wildly inaccurate with TWCS interposer enabled"
*Installation details*
Scylla version (or git commit hash): edef6800591e
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

When TWCS interposer is enabled partition estimation is wildly inaccurate, potentially leading to creation of bad bloom filters.

[2020-04-16 11:58] haaawk commented on #6172
@avikivity @slivne it would be good to backport this bugfix to 4.0 if possible. Could we do that, please?

[2020-04-16 12:15] bentsi commented on #6159
this affects on scylla-machine-image and tests that validate AMI. Need to fix this ASAP

[2020-04-16 12:58] psarna opened #6218 "Staging sstables should not read other staging sstables for reading base data"
When generating view updates from staging sstables which arrived from streaming,
the implementation currently creates a reader which reads all sstables **except** the one being processed.
What should rather be done is excluding all sstables still residing in the staging directory - since from the point of view of the view update, these sstables do not yet exist in the system.
The issue is benign f

[2020-04-16 13:00] glommer commented on #6218
good to know. I will keep this in mind. Anything however you propose to be fixed now ?

[2020-04-16 13:27] tzach opened #6219 "Cooler check version message"
minikube have a similar message as Scylla do, but with cool unicode
[code]

[2020-04-16 13:27] tzach commented on #6219
@amnonh

[2020-04-16 14:43] denesb commented on #5856
Something is wrong with this core:
[code]
The stack trace makes no sense at all. No shared libraries are loaded either.

[2020-04-16 14:55] #6179 closed

[2020-04-16 14:55] #6170 closed

[2020-04-16 15:14] denesb commented on #5856
The core is fine, I was using the wrong executable (the one from the debug package, instead of the one from the normal package).

[2020-04-16 15:29] slivne commented on #6193
@alexbykov - thanks

@bhalevy - we need someone from your team to help find the bug so we can then get someone to fix it.

please look at https://github.com/scylladb/scylla/issues/6193#issuecomment-614410792 for the info of the first bad commit.

[2020-04-16 15:29] bhalevy commented on #6193
what dtest reproduces this?  Can you please provide a command line?

[2020-04-16 15:33] tgrabiec commented on #6208
It's not clear to me what the supposed bug is about. Please clarify in the description.

[2020-04-16 15:33] aleksbykov commented on #6193
@bhalevy , you can find command and dtest for repo here
https://github.com/scylladb/scylla-dtest/pull/1428

[2020-04-16 15:34] aleksbykov commented on #5856
@denesb good, want to suggest to find another link for another core

[2020-04-16 15:39] haaawk commented on #6208
https://stackoverflow.com/questions/61223391/how-to-guarantee-monotonically-increasing-timeuuid-when-selecting-from-scylla/61243270

The user used currentTimeUUID and got 20-40 duplicates per partition.

[2020-04-16 15:44] bhalevy commented on #6162
@tgrabiec can you please look into this issue?

[2020-04-16 15:45] slivne commented on #6182
@eliransin - Asias has a question about MV sending updated after the node is marked as DOWN (it may also be HH I guess).

Can you have someone loo at this.

[2020-04-16 16:10] glommer commented on #6162
Why can't I reproduce this? What is different about my box ?

Benny : what are the specs of the system in which you reproduce ? including
OS

I will try AWS

On Thu., Apr. 16, 2020, 11:44 a.m. Benny Halevy, <notifications@github.com>
wrote:

[2020-04-16 16:30] bhalevy commented on #6162
@glommer I'm running it on my laptop which has 12 cores (6 cores x 2 hyper threads per core), Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz, 32 GB total RAM
[code]

[2020-04-16 16:32] bhalevy commented on #6162
Also, I'm running the dtests under a virtual environment using the instructions in https://github.com/scylladb/scylla-dtest/blob/937b761690ad4c6ac53802128e43fc831019e90c/README.md#setup-using-virtualenv

make sure to checkout origin/master on your sibling scylla-ccm

[2020-04-16 16:36] glommer commented on #6162
@tgrabiec hold on this - no need to waste your time for now.
I'll try to reproduce in an environment that matches Benny's as much as possible then we'll see

[2020-04-16 17:34] avikivity opened #6220 "commitlog replay will replay any file in the commitlog directory, not just commitlog segments"
commitlog_replay is given a file prefix to match, but it ignores it, so any file in the commitlog directory is replayed.

This can cause recycled segments to be replayed. This isn't terrible, since they're commitlog segments, but is wasteful. Other files there can cause bigger problems.

[2020-04-16 19:05] roydahan commented on #6166
It's exactly as #6193 , data is not distributed evenly on the seed node.

[2020-04-16 19:08] tgrabiec commented on #6208
I am confused as to what he means by that.

He says:

which suggests that currentTimeUUID() doesn't generate duplicates.

Also, `createdAt` is a clustering key so queries cannot return duplicates in that column.

[2020-04-16 20:52] glommer commented on #6162
Ok the test is broken.

Here's what it is supposed to do when it writes, as per its own documentation:
[code]

What does "several partitions" mean:

[code]
<=== 10

So how many writes per minute do we expect? -> 60 * 10 = 600

It's invoked as:

`        self._simulate_write_process_in_minutes(session, duration_minutes=10, flush_period_seconds=120)
`

So 1 minutes with 600 rows per minute, how many

[2020-04-16 21:08] glommer commented on #6162
https://github.com/scylladb/scylla-dtest/pull/1433

[2020-04-16 22:46] PleasingFungus commented on #6110
OK, I tried using the clustering key. Specifically, this schema:

[code]

Please let me know if I overlooked anything again.

When using this schema, I encountered extremely high error rates on writes. I've attached a representative log: [scylla-current.log.zip](https://github.com/scylladb/scylla/files/4490040/scylla-current.log.zip)

[code]

![Screen Shot 2020-04-16 at 3 38 20 PM (3)](https://use

[2020-04-16 23:24] espindola opened #6221 "The backlog_controller can access a freed writer"
This manifests with sporadic failures in

$ debug/test/boost/user_types_test_g -t test_frozen_user_type_insert_delete

The backlog_constroler has a timer initialized with

, _update_timer([this] { adjust(); })

which from time to time walks the currently executing writes and collects statistics.

The issue happens when a write is cancelled during shutdown. This happens in:

flat_mutation_reader::

[2020-04-17 00:03] glommer opened #6222 "bad permissions on node_exporter installed from Scylla"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

The node_exporter files as installed by our scripts have weird ownership:

[code]

This is bec

[2020-04-17 00:10] glommer commented on #6222
@syuu1228 can you take a look at this ?

[2020-04-17 00:33] glommer commented on #6222
python's tarfile implementation keeps the archive's ownership information when executed as root, which we do. We need to add an explicit chown step after we unpack the archive

[2020-04-17 00:56] asias commented on #6162
Did you verify from the sstable log that the reader on node1 created for repair tried to read the sstables but found zero rows for the range owned by node2?

[2020-04-17 02:40] glommer commented on #6162
Hi Asias

I did not verify that since for me it was enough to verify we had 6000 rows returned on an empty node2.

I did verify that there was an attempted read in node1, the index was touched, and nothing was returned.

Please, with the knowledge of my theory of what's going on, feel free to double check anything you want today

[2020-04-17 05:50] asias commented on #6162
Thanks. I think this is good enough. Let's merge the dtest fix and rerun.

[2020-04-17 05:57] #6130 closed

[2020-04-17 06:12] dorlaor commented on #1393
Let's do it and also enable it by default for new installations.

[2020-04-17 06:13] penberg commented on #1393
Let's give it some testing first. I suspect it will make Scylla server startup (much?) slower on machines with lots of RAM.

[2020-04-17 06:54] avikivity commented on #6130
Backported to 3.2, 3.3, 4.0.

[2020-04-17 09:19] denesb commented on #5856
Looks like there is an almost complete mismatch between the values and their supposed types in the two compared keys (they have the same value):
[code]
We fail at:
[code]
Which makes sense as a float should be a 4 byte value.
[code]

[2020-04-17 09:22] denesb commented on #5856
@aleksbykov is the schema supposed to be the same as in https://github.com/scylladb/scylla/issues/5856#issue-568089653? Neither the types, nor the values are matching it.

[2020-04-17 09:30] aleksbykov commented on #5856
@denesb , yes, schema is supposed to be the same, because used same seed for gemini.

[2020-04-17 09:37] aleksbykov commented on #5856
@denesb , recheck the schema for run with coredump. the looked identical, at least at moment of creating

[2020-04-17 09:58] denesb commented on #5856
This schema looks *very* strange:
[code]
[code]
Furthermore `_clustering_key_type` has 23 types, while `_partition_key_type` just one.

[2020-04-17 10:02] denesb commented on #5856
Ok, the schema is that of an index, so no wonder it doesn't match with the base table's one:
[code]

[2020-04-17 11:06] denesb commented on #5856
In theory the key columns of the index should be in the same order as those of the base table's. Yet here the order seems to be random.
One reason why this might happen is that `secondary_index_manager::create_view_for_index()` doesn't pass a column id to `schema_builder::with_column()` when creating the key columns for the index schema. This results in all key columns being created with a column

[2020-04-17 11:25] mxx commented on #5629
same crash on Scylla version 3.3.0-0.20200319.7ae2cdf46c7 with build-id e1a6c0b608140610f1e783632d61f1f2c7fb932d

scylla[1546]: scylla: schema.cc:303: schema::schema(const schema::raw_schema&, std::optional<raw_view_info>): Assertion `!def.id || def.id == id - column_offset(def.kind)' failed.
Apr 17 19:08:17 scylla02 scylla[1546]: Aborting on shard 11.
Apr 17 19:08:17 scylla02 scylla[1546]: Backtr

[2020-04-17 11:34] psarna commented on #5856
@bdenes I'll verify for sure on Sunday when I'm working, but it seems to make sense... we could fix it in `create_view_for_index` itself by being explicit with column ids, but I think I'm more into the idea of changing `std::sort` to `std::stable_sort` in the schema constructor... that's what the user (or at least me) would expect when passing `0` as column ids.
At the very least, a switch to `sta

[2020-04-17 11:45] denesb commented on #5856
@psarna this sorting theory might be a stretch, I just checked locally with a simple program and couldn't reproduce `std::sort` changing the order of equally comparing elements. We should still change `std::sort()` to `std::stable_sort()` because the standard gives implementations the liberty to change the order any time, even if this doesn't happen right now. I'll keep on looking, I still suspect

[2020-04-17 11:56] denesb commented on #5629
@mxx please upload a coredump, see https://docs.scylladb.com/troubleshooting/report_scylla_problem/#core-dump.

[2020-04-17 11:57] psarna commented on #5856
@denesb still, the `stable_sort` patch is a good idea - if you'd do the honors, perhaps it can reach master even today, which will perhaps allow us to request a respin of this gemini test over the weekend. Then, if the issue does not reproduce we'd have a quite good confirmation of this idea, and if it does, then we'll know for sure that the problem is somewhere else.

[2020-04-17 12:00] denesb commented on #5856
I'll cook a patch.

[2020-04-17 12:07] kbr- opened #6223 "Enabling CDC for the first time in an existing cluster can lead to generating a suboptimal set of CDC streams"
To enable CDC for the first time in an existing cluster, we perform a rolling upgrade:
1. assuming that CDC is still under the "experimental" flag, the upgrade is done by enabling the flag on each node, then restarting the cluster.
2. assuming that CDC is not under the "experimental" flag any more, it is done by simply upgrading from an old (non-CDC) version to a new (with CDC) version of Scylla,

[2020-04-17 12:20] denesb commented on #5856
Patch on the list: [PATCH v1] schema: schema(): use std::stable_sort() to sort key columns

I'll keep looking for a while, but once it makes it in, we should do another spin to see if the issue goes away.

[2020-04-17 12:54] bhalevy commented on #6193
I bisected using @aleksbykov's dtest and the regression starts at 31593e1451 Merge "Change token representation to int64_t" from Piotr

[2020-04-17 12:55] bhalevy commented on #6193
@haaawk can you please look into it?

[2020-04-17 12:59] haaawk commented on #6193
Hmm. This is really surprising. I will have a look.

[2020-04-17 13:01] kbr- commented on #6193
Interesting!

It's curious that we don't have any dtests that would immediately catch such an issue. We should think of something so that this regression doesn't happen again.

Idea for a test: send a bunch of writes to random partitions, and check whether they were saved to the replicas that we expect them to be saved, according to murmur3-calculated tokens of these writes (calculated by the test

[2020-04-17 13:12] denesb commented on #5856
@aleksbykov do we happen to have the system tables for the crashed node? If not can we rerun and keep the nodes around?

[2020-04-17 13:15] aleksbykov commented on #5856
@denesb
if they are not printed somehow to system log on node, then i think no.
i can rerun and leave nodes running

[2020-04-17 13:23] slivne commented on #6193
now we do have a dtest - thats how it was bisected

On Fri, Apr 17, 2020 at 4:02 PM Kamil Braun <notifications@github.com>
wrote:

[2020-04-17 13:28] kbr- commented on #6193
Right. Somehow my brain completely ignored that fact...

[2020-04-17 15:13] dekimir commented on #6200
Likely culprit: result_set_builder::restrictions_filter::do_filter() [returns](https://github.com/scylladb/scylla/blob/master/cql3/selection/selection.cc#L423) the multi_column_restriction result without checking other restrictions.  Instead, it should only return if multi_column_restriction->is_satisfied_by() returns false; otherwise, it should proceed to evaluating all other restrictions.

[2020-04-17 16:42] aleksbykov commented on #5856
@denesb

here the nodes:
[code]
issue is not yet reproduced, but traffic is running

[2020-04-17 16:43] aleksbykov commented on #5856
@denesb may be this will be helpfull to find the schema changing

[2020-04-17 18:17] slivne opened #6225 "Scylla 3.3 - enabling experimental-feature lwt does not add a feature bit"
Scylla 3.3.0

add to scylla.yaml

[code]

enabling only lwt

check the system.local supported_features

[code]

the same is true for nodetool gossipinfo

[code]

LWT is not enabled by validating that all the nodes in the cluster support the feature, this can cause issues when:
- part of the cluster supports LWT and another part doesn't
- a user tries to remove the enabled LWT feature - this should

[2020-04-17 18:19] slivne commented on #6225
This is also needed when upgrading from 3.3 to 4.0 - since LWT feature will be enabled on the first node upgraded - this is not correct - it should only be enabled once all the nodes support LWT.

[2020-04-17 19:53] aleksbykov commented on #5856
@denesb coredump triggered, nodes are left running

[2020-04-17 20:17] espindola commented on #6221
The decoded backtrace found by a next promotion bot:

[decoded.txt](https://github.com/scylladb/scylla/files/4495066/decoded.txt)

[2020-04-17 21:43] vladzcloudius commented on #1825
@asias @slivne Any ETA for a fix?

[2020-04-17 22:41] espindola commented on #6193
9c202b52da79aeece9814ebfc922951ad51f7317 is the first commit in the merge that fails.

[2020-04-18 00:08] espindola commented on #6193
I should have a patch in a minute.

[2020-04-18 00:36] raphaelsc opened #6227 "Backlog can be negative due to bad accounting of total bytes in the tracker"
It was observed that backlog can become negative because tracker can incorrectly manage total bytes for all SSTables managed by it, like a SSTable is removed when not previously added or removed more than once, which makes backlog tracker's total bytes go negative which reuslts in a negative backlog

look:
(compaction_backlog_tracker*) 0x62e0100cc968 backlog=0.000000 total_bytes=-99005 contrib=738

[2020-04-18 00:54] espindola commented on #6193
patch sent.

[2020-04-18 04:07] raphaelsc commented on #6054
![unnamed](https://user-images.githubusercontent.com/1409139/79627720-ff3eff80-8110-11ea-9b01-4eba2c74e071.png)

[2020-04-18 04:10] raphaelsc commented on #6021
![out](https://user-images.githubusercontent.com/1409139/79627762-71afdf80-8111-11ea-9ebc-0831c4e3d9c6.png)

[2020-04-18 04:17] raphaelsc commented on #6054
![out](https://user-images.githubusercontent.com/1409139/79627860-4a0d4700-8112-11ea-920b-fb08bf0f2c58.png)

[2020-04-18 06:12] haaawk commented on #6193
Wow. What's going on here? It seems that
[code]
 is ok but
[code]
 is not. get_random_number is defined as:
[code]
Why wouldn't it work with int64_t?

I found the answer on [cppreference](https://en.cppreference.com/w/cpp/numeric/random/uniform_int_distribution):

signed long long is not one of the types that guarantee defined behavior :(.

Sorry for introducing this bug. I wish there was a static

[2020-04-18 07:28] gleb-cloudius commented on #6139
Paxos Made Simple version is very confusing. It does not know by itself what variant of algorithm it describes. On one hand it has:

[code]
So here it says that highest accepted ballot have to be remembered implying that it can be different from highest promised.

But then it describes an algorithm it says:

[code]
And here it says that accept is sent only to replicas that promise meaning that the

[2020-04-18 07:52] kostja commented on #6139
@gleb-cloudius we figured out with @kbr- that Part Time Parliament quite unambiguously says that the proposals are sent only to the respondents to prepare. Please check the formal specification part at the end of the paper. So not only Paxos Made Simple is ambiguous, it's different from Part Time Parliament and both are different from the TLA+ specification and the latest presentation made by Lesl

[2020-04-18 10:17] giorgiozoppi commented on #6201
Ok So we can close this issue

[2020-04-18 17:26] #6201 closed

[2020-04-18 21:31] slivne opened #6228 "Need a feature bit for alternator"
Alternator is enabled when --alternator-port is set.

Alternator is a cross cluster feature, thus nodes should be added into the cluster only if they have this feature set, and alternator should be enabled only when all nodes in the cluster support it.

@avikivity  thoughts ?

[2020-04-18 21:35] slivne commented on #6193
Patch on ML "[PATCH] dht: Use get_random_number<uint64_t> instead of int64_t in token::get_random_token"

[2020-04-18 21:51] slivne commented on #5856
Patch on ML that ref's this issue "[PATCH v1] schema: schema(): use std::stable_sort() to sort key columns"

[2020-04-18 21:53] slivne commented on #5768
Backport to 4.0 for Asias's part : 0379d0c031624e072c7b35fd2f741da3622c39c3
Backport to 4.0 for Gleb's part: 7e2ef386cca1714508fd9fe32a5a296e5b4769f5

[2020-04-18 22:31] giorgiozoppi opened #6229 "Seastar doesn't build in ubuntu 18.04"
The last repo doesn't build after install dependencies in ubuntu 18.04. The reason is libcares:
 Checking for module 'libcares'
--   Found libcares, version 1.14.0
-- Found c-ares: /usr/lib/x86_64-linux-gnu/libcares.so (found suitable version "1.14.0", minimum required is "1.13")
-- Found cryptopp: /usr/lib/x86_64-linux-gnu/libcryptopp.so (Required is at least version "5.6.5")
-- Could NOT find dp

[2020-04-19 05:01] tzach commented on #6228
AFAIU, the internal communication is standard, so everything will work, except only the enable nodes will support the Alternator REST API. Since REST drivers can not "jump" from one IP to the other, its not a problem.

[2020-04-19 05:01] tzach commented on #6228
So not urgent for 4.0

[2020-04-19 05:37] bhalevy opened #6230 "use-after-free in truncate_after_restart_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/453/artifact/logs-debug.2/1587174792197_cql_tests.TruncateTester.truncate_after_restart_test/node2.log
Scylla version bd849764e0c34c76f3d2a29d4486a661153eaa5b
[code]

[2020-04-19 06:04] avikivity commented on #6229
The error shows that the problem is with fmt, not c-ares. Install a newer fmt, or ask Ubuntu to upgrade their old version.

[2020-04-19 06:04] #6229 closed

[2020-04-19 06:16] psarna commented on #6218
No rush (and judging by no milestone assigned - no priority), it simply needs to be taken into account in the "view update generation 💖 compaction" series, and this issue was created to not forget that this problem exists.

[2020-04-19 06:21] psarna opened #6231 "Streaming view updates use incorrect io priority class"
The io_priority parameter used when generating view updates from
streaming is used by the sstable reader, so it should use the I/O priority
for streaming read operations, not streaming write operations.

[2020-04-19 06:40] psarna commented on #6228
@tzach true, we technically only need the alternator server for the node which contacts the client, but for load-balancing purposes it should be recommended for all nodes anyway.

Also, other features were introduced in 4.0 (for instance: LWT), which will be enough to ensure that we don't add a too-old node to the cluster - if it supports LWT, it also has alternator.

P.S. That's another example o

[2020-04-19 06:44] avikivity commented on #6193
Wow, well done.

[2020-04-19 06:46] juliayakovlev opened #6232 "Rebuild with repair failed with marshaling error: composite iterator - not enough bytes"
*Installation details*
Scylla version (or git commit hash): 4.0.rc1-0.20200418.21ad12669a9
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-09f702affc5cb6499 (eu-west-1)
Test: longevity-lwt-3h

The failure happened during destroy_data_then_rebuild nemesis.

auto_bootstrap on all nodes is False

```nodetool rebuild``` failed with error:
[code]

LWT longevity schema has base t

[2020-04-19 06:49] gleb-cloudius commented on #6228
On Sat, Apr 18, 2020 at 11:40:42PM -0700, Piotr Sarna wrote:

And that some other subset gets backported to 3.2.11-custom.version and how do you
know if you can upgrade from it to 3.3.9?

--
			Gleb.

[2020-04-19 06:52] avikivity commented on #6193
@haaawk the problem is not `signed long long`, it's the constructor. get_random_number uses the default constructor, which constructs from 0 to numeric_limits::max(). So we lost all the negative numbers.

Note that get_random_token() has a bug - it can generate std::numeric_limits<int64_t>::min(), which is not a legal token. Please fix.

[2020-04-19 06:56] nyh commented on #6228
As @tzach said, Alternator nodes don't have any special way of communicating with each other. It's even fine for just one node to be Alternator - i.e., parse the DynamoDB API - while all other nodes aren't.

@psarna has a good point about the special load-balancing request ("GET /localnodes") but I think this is a separate and somewhat bigger issue. This request simply returns the list of nodes -

[2020-04-19 07:00] nyh commented on #6134
@bhalevy I'll evaluate the backporting of this now. The "backport-4.0" tag isn't helpful and even confusing - did you evaluate that it's not needed for previous versions? If so, it would have been better to say this with words, not tags.

[2020-04-19 07:03] eliransin commented on #6182
@psarna can you please try to answer @asias question? https://github.com/scylladb/scylla/issues/6182#issuecomment-614354894

[2020-04-19 07:07] eliransin commented on #6228
@nyh just to be sure I understand, your recommendation is to leave this as is, right?

[2020-04-19 07:10] psarna commented on #6228
@gleb-cloudius I'm assuming that versions have strict ordering, so that if a feature was in 3.2.11, then it's guaranteed to be in 3.3.9 too. If we allow backporting from 4.0 to 3.2, but not 3.3, then the system indeed makes no sense and we wouldn't know if the upgrade was possible - but was there ever a precedent to backport something to 3.x, but not 3.y, where x < y?

[2020-04-19 07:16] gleb-cloudius commented on #6228
On Sun, Apr 19, 2020 at 12:10:39AM -0700, Piotr Sarna wrote:

To a custom version like I pointed? I am sure there were. Non strict
ordering is exactly what fine grained features allow and you may not
appreciate it until you need it.

--
			Gleb.

[2020-04-19 07:20] eliransin commented on #6040
did you use the method you described before? A java process that read a csv/json and does a number of parallel inserts with QUORUM cl?

Did you restart the import on a clean cluster after changing the thread count or did you simply continue from where you left off?

Was the data "seen" before it disappeared (a select query returned it) or could it be that it failed on the insert stage?

Thank you

[2020-04-19 07:22] juliayakovlev commented on #6232
In the same test as described in the issue, found similar error during ```nodetool refresh``` run.

Start refresh:
[code]

Loading new SSTables  and Reshuffling
[code]

Start resharding and failed:
[code]

Decoded:
[code]

[2020-04-19 07:48] nyh commented on #6134
Backported to 4.0. New commits b3fdb742aed5ef1b8d849ef099a1e2044561831e and 0819d221f48644452849951f925e8b8bbf3f18c7.
This patch fixes a situation asserted in a very recent patch (from April 1st), so no need to backport to other releases. So removing need backporting tags.

[2020-04-19 07:54] nyh commented on #6228
@eliransin yes, I would close this issue. We can open (if you want) a different issue about the "/localnodes" request not being powerful enough, and maybe needs to list only nodes which support Alternator, and maybe the Alternator port for each. But I think even that is overkill, I don't think we need to support such mixed installations. Since we don't want to support mixed CQL and DynamoDB API on

[2020-04-19 07:57] psarna opened #6233 "Consider bypassing cache for materialized views' read-before-write"
Following a discussion about reducing materialized view update generation overhead, @slivne suggested that we should consider bypassing cache for generating view updates, since these are system reads, not user reads.

There are two places to consider:
 - generating view updates for user writes
 - generating view updates from staging sstables

[2020-04-19 08:09] haaawk commented on #6233
BTW I have a change that allows bypassing cache for a selected table. Will post it this week.

[2020-04-19 08:15] bhalevy commented on #6134
Thanks @nyh

[2020-04-19 08:20] nyh commented on #6046
Backported to 4.0. No need to packport to earlier releases because Alternator was experimental. Removing backport candidate tag.

[2020-04-19 08:23] psarna commented on #6182
@asias it doesn't seem particularly weird, since generating view updates is asynchronous - the view builder might have been in the middle of processing view updates when the node was announced as DOWN, so it still tried to send some updates to the endpoint, but failed. It shouldn't cause the node to be unresponsive at all though - view update generation has low parallelism and is throttled...
I'll

[2020-04-19 08:26] fgelcer commented on #6182
yes, we are still not able to run the setup with auto_bootstrap=true... I sent a patch last week, but it still didn't fix it, and I will try with another patch that I want to send today.

[2020-04-19 08:45] bhalevy commented on #5228
Seen in https://jenkins.scylladb.com/view/scylla-3.2/job/scylla-3.2/job/dtest-debug/86/artifact/logs-debug.2/1584173865664_repair_additional_test.RepairAdditionalTest.repair_option_pr_multi_dc_test/node2.log
[code]

[2020-04-19 08:50] roydahan commented on #6193
@kbr- i was also really surprised we don’t have any dtest to catch something like that.
(I expected something to exist from the early days).

We will add some more dtest around these, but it would be good if you can send your idea as well.

[2020-04-19 10:31] roydahan commented on #6135
In summary, IIUC, after we replace a dead node, it can still appears in gossipstatus.
It states will be "shutdown" and it's ok from scylla perspective.

In SCT, we will filter the nodes that are in "shutdown" state as well when comparing the list of nodes in system.peers to gossip status.

[2020-04-19 10:31] #6135 closed

[2020-04-19 10:39] avikivity commented on #5856
libstdc++'s implementation of std::sort() is unstable when the input has > 16 elements, which matches the observation here that the clustering key had 23 elements.

[2020-04-19 10:46] psarna opened #6235 "Creating schemas with explicit column_ids should be deprecated"
Following a mailing list discussion: https://groups.google.com/forum/#!topic/scylladb-dev/xZSJArP1CwI

The usual way of creating a new schema was to add columns one-by-one with a `with_column()` method. This method has several overloads, one of which allowing to explicitly set the column id, used to decide the final order of columns. The other, more commonly used overload, assumes that the order i

[2020-04-19 11:07] avikivity commented on #6134
Oops, changed title on wrong bug, changed it back.

[2020-04-19 11:27] psarna commented on #6235
edit: creating with `column_id` via the interface which uses `column_definition` is quite heavily used by schema tables... I started to prepare a patch, but it's getting very ugly and I'm not yet halfway through all the changes. The problematic part is when compound keys have their components ordered differently than the lexicographical order, which results in them not being ordered in `system_sch

[2020-04-19 11:28] psarna commented on #6235
@avikivity fyi ^, I'm not sure if deprecating the interface is worth it anymore, given that it actually has quite a few users in delicate parts of schema management code.

[2020-04-19 11:34] avikivity commented on #6235
Then maybe make the overload that takes column_id private (or remove it).

[2020-04-19 11:35] avikivity commented on #6235
And add with_column_ordered(column_definition)

[2020-04-19 11:56] #6193 closed

[2020-04-19 12:01] nyh commented on #6179
Backported to 4.0. No need to backport to older releases (Alternator was experimental, and updated content is relevant only to the newest code anyway).

[2020-04-19 12:08] nyh commented on #6161
Backported to 4.0 (commit b2b1bfb1599c69fb163c3af0c97d14746dcc4105). Not backporting to older releases as Alternator was experimental then.

[2020-04-19 12:11] nyh commented on #6118
Backported to next-4.0 (commit 77b7a48a02e12d188388cfc5318105d5aec4ad64). Not backporting to old releases because the LWT not being experimental is only true for 4.0.

[2020-04-19 12:15] nyh commented on #6035
Already backported to 4.0 (by Avi) and 3.3 (by Piotr Sarna) so no more backports needed. Removing the tag.

[2020-04-19 12:49] nyh commented on #6008
This commit is already in 4.0 so doesn't need backporting there.
Because this is a bug fix, backported it now to 3.3 as well, even though Alternator was experimental in 3.3.

[2020-04-19 12:54] nyh commented on #5913
Already in 4.0 so no need to backport there.
Backporting to 3.3 will be complicated because of a lot of unrelated changes to function signatures since 3.3, so because Alternator was experimental in 3.3 anyway, I'm choosing not to backport and dropping the "Backport candidate" tag. @psarna, if you disagree please return the "Backport candidate" tag.

[2020-04-19 13:06] nyh commented on #5896
Already in 4.0. Not backporting to 3.3 (where Alternator was experimental) as this is a minor compatibility issue in an unexpected (ought to be rejected) case that correct applications would not try.

[2020-04-19 13:19] fgelcer commented on #6182
@slivne / @asias , to make our side clear about auto_bootstrap (we have cleared it today during our QA meeting):
we start the cluster (in this test) with 4 nodes, and all of them are set with auto_bootstrap: false.

every node that joins the cluster afterwards (either terminate and replace, or decommission) are set with auto_bootstrap: true.

[2020-04-19 13:22] avikivity opened #6237 "get_random_token() can return an invalid token"
get_random_token() can return MIN_LONG, which is not a legal token. This has very low probability, but still can cause damage.

[2020-04-19 13:30] haaawk commented on #6237
Patch is already on the mailing list -> "dht: Exclude -2^63 value from get_random_token"

[2020-04-19 13:33] nyh commented on #5895
Already in 4.0 so no need to backport there.
Although this is a bug fix, the backport to 3.3 would not be easy (there are formatting changes and other things which make this patch difficult to backport) and not worth it because in 3.3 Alternator was experimental anyway (so nobody should be using Alternator on it), and the bug is in a fairly esoteric case. So I'm not backporting to 3.3. If anybody

[2020-04-19 14:24] #5856 closed

[2020-04-19 14:38] nyh opened #6238 "Feature request: support null read_command in storage_proxy::cas()"
The `storage_proxy::cas()` function provides the underlying CAS feature used by LWT and Alternator's read-modify-write operations (such as conditional updates).

This function takes a `lw_shared_ptr<query::read_command>` - the command which should be run to fetch the item's previous value so we can pass it to the update function (a `service::cas_request` subclass). However, in some cases, the call

[2020-04-19 15:10] nyh commented on #5886
Not backporting to 3.3 where Alternator was exprimental. Already in 4.0.

[2020-04-19 15:13] bhalevy commented on #5930
Backported to 4.0 in 0379d0c031624e072c7b35fd2f741da3622c39c3

[2020-04-19 15:15] nyh commented on #5883
No backports needed - this fixes a temporary situation that never reached any release.

[2020-04-19 15:18] nyh commented on #5862
Already in 4.0, not backporting to earlier releases.

[2020-04-19 15:23] bhalevy commented on #5780
@slivne the flakiness is still there.  See https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/431/testReport/secondary_indexes_test/TestSecondaryIndexes/test_remove_node_during_index_build/history/

Last hit at https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/451/testReport/secondary_indexes_test/TestSecondaryIndexes/test_remove_node_during_ind

[2020-04-19 15:24] slivne commented on #6228
closing the issue, no need for feature bit - avi approved it.

[2020-04-19 15:24] #6228 closed

[2020-04-19 15:30] avikivity commented on #6193
Backported to 4.0, 3.3, 3.2.

[2020-04-19 15:32] avikivity commented on #5856
Backported to 4.0, 3.3, 3.2.

[2020-04-19 15:33] avikivity commented on #6193
Backported to 4.0 (only vulnerable branch)

[2020-04-19 15:35] slivne commented on #6232
QA are supposed to run a new run for #6121 on master - lets see if this reproduces on that build as well.

[2020-04-19 15:36] bhalevy commented on #6232
The stack trace is identical to #6121, very likely a dup.

[2020-04-19 15:45] slivne commented on #6232
@juliayakovlev we need the full schema from the cluster - to validate if its related to what we saw in #6121 - the patch in #6121 requires at least 17 components in the partition key (or clustering key)

[2020-04-19 15:46] slivne commented on #6232
@bhalevy we doubt there are 17 components - lets analysze the coredump

[2020-04-19 15:56] juliayakovlev commented on #6232
The cluster was terminated.

I can put schema from user profile (if it'll help).
[code]
[code]

[code]

[code]

[2020-04-19 16:07] bhalevy commented on #6230
@slivne @avikivity @espindola @asias Looks like this was introduced in 845116dfaf5f93f9b39182a576a9b27b8662b486 that changed the implementation from list to atomic_vector, with non-atomic add.

I'm working on a fix that returns a future from `atomic_vector::add` and propagating it in `gossiper::register_`. To be able to wait for it, I'm introducing a `future<> on_start()` method, services, called

[2020-04-19 16:14] nyh commented on #5836
Already in 4.0. Backported also to 3.3 since this is a trivial bugfix.

[2020-04-19 16:17] nyh commented on #5813
No need to backport - already in 4.0, and no need to backport documentation to older releases.

[2020-04-19 16:26] nyh commented on #5796
Already in 4.0, not backporting to 3.3.

[2020-04-19 16:27] nyh commented on #5781
Already in 4.0. Not backporting to 3.3, where Alternator was experimental anyway.

[2020-04-19 17:23] avikivity commented on #6166
Closing, duplicate of #6193.

[2020-04-19 17:23] #6166 closed

[2020-04-19 17:30] avikivity commented on #6170
This is worth a backport, but also worth waiting for a while.

[2020-04-19 18:20] avikivity commented on #6110
The interesting metric is "Foreground Writes Per Instance". Can you show it per shard too (for one instance at a time).

Also, can you upload the metrics database? Hopefully the crash time is still retained there.

[2020-04-19 18:34] fgelcer opened #6239 "repair failed with error get_full_row_hashes_with_rpc_stream_handler"
*Installation details*
Scylla version (or git commit hash): 4.0.rc1-0.20200412.a8ef820f27c with build-id 15fa5c2e803b98279bb1932abf806dfb7937238c
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0e1584bf517753731

Longevity 1TB, running with only `terminate_and_repair` nemesis, trying to reproduce the issue #6182 .

Nodes were deployed, and the data set was written (prepare stage), and then, a

[2020-04-19 18:38] nyh commented on #5664
Already in branch 4.0, not relevant for 3.3 where Alternator did not yet use LWT.

[2020-04-19 18:40] nyh commented on #5653
Already in branch 4.0, not needed in 3.3 which didn't use LWT.

[2020-04-19 18:40] nyh commented on #5637
Already in branch 4.0, not relevant to 3.3 which didn't use LWT

[2020-04-19 18:42] nyh commented on #5611
Already in 4.0. This is a non-backward-compatible change, so we should NOT backport it to a minor release in the 3.3 branch.

[2020-04-19 18:44] nyh commented on #5557
Already in branch 4.0, and not backporting test improvements to earlier branches.

[2020-04-19 18:45] nyh commented on #5472
Already in branch 4.0. This is a minor performance improvement, not backporting it to earlier branches.

[2020-04-19 18:46] nyh commented on #5053
Already in branch 4.0. This is a new feature so not backporting it to earlier releases.

[2020-04-19 18:48] nyh commented on #5029
Already in branch 4.0. This is a performance improvement, not backporting it to earlier experimental releases.

[2020-04-19 18:49] nyh commented on #5007
Already in branch 4.0. Cannot be backported alone to earlier releases without the corresponding MV improvements, and we don't want to port either because Alternator was experimental in 3.3 anyway.

[2020-04-19 18:52] nyh commented on #5006
This patch is already in branches 3.3 and 4.0, so nothing left to backport. Removing backport candidate tag.

[2020-04-19 19:08] PleasingFungus commented on #6110
Sure! Let me know if this is what you wanted:

<img width="1666" alt="Screen Shot 2020-04-19 at 12 00 53 PM" src="https://user-images.githubusercontent.com/1192475/79697105-a1f09e80-8235-11ea-9862-093085e194c3.png">
<img width="1666" alt="Screen Shot 2020-04-19 at 12 00 35 PM" src="https://user-images.githubusercontent.com/1192475/79697109-a6b55280-8235-11ea-8454-2c1a9f8e801f.png">
<img width="166

[2020-04-19 19:14] nyh commented on #6231
@slivne @avikivity @psarna this issue - and its patch - seems very strange to me.

First, why do we need this separate "streaming read" and "streaming write" at all? Do we have anything of this sort for compaction, for example? Do we ever plan to give them different amount of shares - and why? Or is this just for the sake of monitoring - i.e., so we see a count for the bytes used for reads and wri

[2020-04-19 19:45] nyh commented on #5205
This patch is already in branch 4.0. Probably needs backporting to additional branches.

[2020-04-19 19:47] nyh commented on #5085
Removing backport-candidate tag on this antique issue that mainly has to do with spurious error messages during testing.

[2020-04-19 19:49] nyh commented on #4954
This old change is already in 3.3 and 4.0. Removing backport-candidate tag.

[2020-04-19 20:18] fgelcer opened #6240 "1000 ms latency spike during network_reject_inter_node_communication"
*Installation details*
Scylla version (or git commit hash): 4.0.rc1-0.20200418.21ad12669a9 with build-id f881cad8699bc4699f7c4f4c408edef91d337044
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-09f702affc5cb6499

the idea of the nemesis is: `every packet that belongs to inter node communication connections (port=7000 and 7001) will be dropped for 10s`. at timestamp `2020-04-18 19:50:10,254`:

[2020-04-19 20:25] slivne commented on #6220
merged 2039b79664ba22d4f8d7dd376e6c5868093bfa1a

[2020-04-19 20:25] #6220 closed

[2020-04-19 21:32] espindola commented on #6193
We are now calling normalize which maps min to max. Since we are using uniform_int_distribution int distribution it would probably be better to exclude min directly, no?

[2020-04-19 22:50] fgelcer commented on #6187
i'm seeing this issue again on the MV-SI job.
regarding the auto_bootstrap, all the nodes added in the beginning of the test (prior to populating the DB) are set with auto_bootstrap=false, but the one running during Decommission is set with auto_bootstrap=true:
[code]

job is [MV-SI build 2](https://jenkins.scylladb.com/view/scylla-4.0/job/scylla-4.0/job/longevity/job/longevity-mv-si-4days/2)

[2020-04-20 03:17] #6214 closed

[2020-04-20 03:17] #6235 closed

[2020-04-20 03:17] #6237 closed

[2020-04-20 05:31] psarna commented on #6231
@nyh As for the first question - I'm not the expert, but I can quote an expert that we in fact want to remove this separation: https://github.com/scylladb/scylla/pull/6217#issuecomment-615558086

And second - I think the most important thing to better grasp why `read priority` is a more fitting choice is to acknowledge that `do_push_view_replica_updates` uses this `io_priority` parameter **only**

[2020-04-20 06:11] eliransin commented on #6040
@Termite , one more request if I may, is it possible to get your java import client. We try to match your
process as much as possible so we increase the chance of reproducing this issue.

[2020-04-20 06:53] asias opened #6241 "multishard_writer can dead lock when producer fails"
We have this in multishard_writer:

    future<uint64_t> multishard_writer::operator()() {
        return distribute_mutation_fragments().finally([this] {
            return wait_pending_consumers();
        }).then([this] {
            return _consumed_partitions;
        });
    }

The wait_pending_consumers which waits for the consumers to finish is
called even when distribute_mutation_fragment

[2020-04-20 06:57] syuu1228 commented on #3995
@slivne It was https://github.com/scylladb/scylla/issues/4065 and fixed by https://github.com/scylladb/scylla/commit/54bc0ce70dd87735108e59ad81e4e4cf6ac9af4d

[2020-04-20 07:02] denesb commented on #5856
@aleksbykov please shut down the nodes you left running, as over the weekend proof was found that indeed the issue is the unstable `std::sort()`.

[2020-04-20 07:24] avikivity commented on #6240
This is expected. Any query that chose a coordinator that became partition cannot complete.

You can avoid it by enabling speculative retry on the client side. I don't know if it's possible to do that with cassandra-stress.

[2020-04-20 07:28] avikivity commented on #6110
Use "by: shard" instead of "by: instance" in the top-left corner. But I guess this time period doesn't include a crash.

[2020-04-20 07:36] syuu1228 opened #6243 "dist/offline_installer/redhat: causes "scylla does not work with current umask setting (0077)""
After installed rpm, the script causes following error while auto-executing scylla_setup.
[code]
Because offline install script which generated by "makeself" modifies umask at the beginning of the script:
[code]

[2020-04-20 08:22] juliayakovlev commented on #6121
LWT longevity 3 hours was run with:
- ami-0c1d701eafd1655a9 (666.development-0.20200417.bd849764e0c)
- auto_bootstrap: false
- --abort-on-internal-error 1

This issue is not reproduced

Test id: b5e0f15e-3268-4580-9830-ac75b75960d6

[2020-04-20 09:02] juliayakovlev commented on #5459
Received same error during LWT longevity.
ami-0c1d701eafd1655a9 (666.development-0.20200417.bd849764e0c)
4 nodes
Test schema has one base table and 5 materialized views.

This warning was received during decommission nemesis.
One node was decommissioned and new node was added.

New node was up
[code]

Writing big partition in the view:
[code]

Got  broken_promise warning:
[code]

Decoded:
[code]

[2020-04-20 09:03] nyh commented on #1469
This appears to be a duplicate of #194

[2020-04-20 09:03] lseelenbinder commented on #5722
Just FYI, this now works in 3.3.

[2020-04-20 09:15] roydahan commented on #6121
Did you have decommission nemesis there?
If so, how many?

[2020-04-20 09:17] juliayakovlev commented on #6121
Yes. One decommission nemesis

[2020-04-20 09:18] nyh commented on #1469
I want to point out for posterity that a key cache - remembering index data for specific keys - may be relevant to large-partition workloads, but for workloads with small partitions - perhaps even no clustering keys, it is not helpful. In that case, it will be much more helpful to cache index-file blocks - possibly containing multiple keys - and not individual keys. This is #363. And if we do this

[2020-04-20 09:34] mmatczuk commented on #5658
Which version this will be available in?

[2020-04-20 09:42] mmatczuk opened #6245 "Row level repair export parameters in a metric"
Scylla Manager should be able to get know the maximal level of parallelism of a shard.
[max_repair_ranges_in_parallel](https://github.com/scylladb/scylla/blob/13a9c5eaf7fa4c7be33c047382e05e62f4852b24/repair/repair.cc#L226) should be exposed as a metric.

[2020-04-20 09:51] penberg commented on #5722
This was fixed in commit c11874d8516365145b7f2b42ee97f69e89199cb9, which indeed is part of 3.3, but not 3.2.

[2020-04-20 09:51] #5722 closed

[2020-04-20 09:51] penberg commented on #5722
And sorry for not updating this issue earlier. Thanks for reporting back, @lseelenbinder!

[2020-04-20 10:53] avikivity commented on #6230
I suspected a miscompile of atomic_vector::for_each (not reloading _vec.data() each iteration), but it is correct. Maybe the problem is that the callback in for_each() contains a call to atomic_vector::add(). Although even that should not cause the problem.

[2020-04-20 10:55] avikivity commented on #6230
Here is the code:

[code]

Notice how _vec.begin() is reloaded inside the loop at offset 80.

[2020-04-20 11:15] nyh commented on #363
We recently came across a workload that demonstrates the importance of this feature.

The workload involved _writes_ to a table with short partitions (no clustering key) and a materialized view, writes which were sorted by token. These writes actually come from the old-style repair, which rewrites groups of about 100 partitions if one of them differed between nodes.
As happens with MV writes, each

[2020-04-20 11:40] avikivity commented on #3995
Fixed by 54bc0ce70dd87735108e59ad81e4e4cf6ac9af4d

[2020-04-20 11:40] #3995 closed

[2020-04-20 11:43] avikivity commented on #6214
Will backport, but later.

[2020-04-20 12:47] fgelcer opened #6248 "bootstrap of a new node (replace_with_repair) hangs with no clear reason"
*Installation details*
Scylla version (or git commit hash): 4.0.rc1-0.20200418.21ad12669a9 with build-id f881cad8699bc4699f7c4f4c408edef91d337044
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-09f702affc5cb6499

at `2020-04-20 03:44:59` we run TerminateAndReplaceNode (on node `longevity-tls-1tb-7d-longevit-db-node-9bc1e0f0-4`).

then, node-5 is added, and here is node-5 scylla.yaml:
[code]

[2020-04-20 13:14] roydahan commented on #6240
@fgelcer when you see this again or if you can reopen the monitor of it, please add monitor live screenshot of relevant period.

In case it looks like the following screenshot (where all nodes stop responding to requests for a minute), it may be a dup of #5715 :

<img width="658" alt="Screen Shot 2020-04-20 at 16 08 10" src="https://user-images.githubusercontent.com/20959584/79755125-400d6300-8321

[2020-04-20 15:10] bhalevy opened #6249 "use-after-free in sstables::compaction_write_monitor::written during repair_option_pr_dc_host_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/454/artifact/logs-debug.2/1587385125190_repair_additional_test.RepairAdditionalTest.repair_option_pr_dc_host_test/node2.log
Scylla version a4aa753f0f596c883065b75d0a65b4ba24966a6b
[code]

[2020-04-20 15:12] bhalevy commented on #6249
@raphaelsc, @glommer please look into this

Core file is here: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/454/artifact/logs-debug.2/1587385125190_repair_additional_test.RepairAdditionalTest.repair_option_pr_dc_host_test/node2-scylla.570.1587384644.core.gz
Relocatable package here: https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/547/artifact/scyl

[2020-04-20 15:15] glommer commented on #6249
isn't this the problem @espindola just sent a patch to fix ?

[2020-04-20 15:15] slivne commented on #6248
Please provide the cluster info - so we can try and have a look at this

[2020-04-20 15:16] bhalevy opened #6250 "use-after-free in feature_service::cluster_supports_digest_multipartition_reads during shutdown in repair_option_pr_dc_host_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/454/artifact/logs-debug.2/1587385125190_repair_additional_test.RepairAdditionalTest.repair_option_pr_dc_host_test/node5.log

In addition to https://github.com/scylladb/scylla/issues/6249

Scylla version a4aa753f0f596c883065b75d0a65b4ba24966a6b
Core is here: https://jenkins.scylladb.com/view/master/job/scylla-master/

[2020-04-20 15:17] bhalevy commented on #6250
@xemul can you please look into this?

[2020-04-20 15:20] bhalevy commented on #6249
Yes, exactly!  So this is a duplicate of #6221

[2020-04-20 15:20] #6249 closed

[2020-04-20 15:24] bhalevy commented on #6232
@denesb please look into this issue in addition to #6121

[2020-04-20 15:26] slivne commented on #6186
terminate and replace .... #6248 - lets verify this issue status after that is fixed

[2020-04-20 15:28] slivne commented on #6187
Lets test after we see that #5768 fixes are in and that that one is closed

[2020-04-20 15:30] slivne commented on #6155
@juliayakovlev please provide a scenario without ENOSPC so we can check this out

[2020-04-20 15:35] avikivity opened #6251 "alternator tests can be slow or fail depending on host configuration"
Alternator tests run with the host number of CPUs, but only 1GB RAM, leading to very low memory per shard in some configurations. The configuration also insists on fsyncing writes, which is slow on some disks.

[2020-04-20 15:42] avikivity commented on #6251
Patch posted: "[PATCH scylla v1] test: alternator: configure scylla for test environment in terms of cpu and disk"

[2020-04-20 16:37] #5792 closed

[2020-04-20 19:33] jtnagashima opened #6252 "Nodetool Repair failing on keyspace with std::runtime_error (row_diff.size() != set_diff.size())"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

**Installation details**
Scylla version (or git commit hash): `scylla-3.3.0-0.20200319.7ae2cdf

[2020-04-20 19:39] dekimir commented on #3574
Is this still relevant?  #6200 suggests that multi-column relations *are* possible (though buggy) with ALLOW FILTERING.

[2020-04-20 20:39] slivne commented on #6171
@udayan0095 thanks,

A coredump will really help to make progress here

We provide s script to setup coredumps ```scylla_coredump_setup```

By default when you run scylla_setup it runs it, but we can also do this now.

Usually we tell users to set the coredumps to be on the partition/disk that hosts scylla data - thats by default at /var/lib/scylla

if that works for you can you please run ```scyl

[2020-04-20 21:06] slivne commented on #6248
@asias please have a look the cluster is still up

[2020-04-20 21:19] glommer commented on #6162
Shlomi this is a dtest issue. I sent a PR for dtest already

On Mon., Apr. 20, 2020, 5:18 p.m. Shlomi Livne, <notifications@github.com>
wrote:

[2020-04-20 21:20] bhalevy commented on #6230
I managed to reproduce this with a unit test. The problem is that `for_each` passes a reference to the called functor rather than a value. When the value type is a shared_ptr, it is copied by `add` when it reallocates the vector, but the reference to the original shared_ptr becomes stale. This fix I'm going to send is similar to what @avikivity suggested, just keeps a temporary copy of each value

[2020-04-20 21:30] fruch opened #6253 "date format breaks YCSB/aws-sdk-java when alternator_enforce_authorization:true"
*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

Running YCSB (aws-sdk-java 1.10.48) fails to parse date originating from scylla alternator when `alternator_enforce_authorization: true`

it's 4 years old version of the sdk that YCSB is using there, but I think our data format should be "20 Apr 2020 20:50:09 +0000", we'll need check with dy

[2020-04-20 23:47] rahultaing opened #6254 "Failed to apply mutation error on version 3.2"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.4-0.20200325.4c38534f75
Cluster

[2020-04-21 01:13] asias commented on #6248
I need instructions how to access the servers. I tried a few qa ssh keys with no luck and gave up.

While I can not access the nodes, logs are needed.

[2020-04-21 01:25] asias commented on #6252
Hello @jtnagashima, thanks for reporting. Can you share the logs with tracing level `--logger-log-level repair=trace`?  How many nodes in the cluster? Can you do a rolling restart for all the nodes in the cluster in case node see different feature sets during the upgrade? If it is a test cluster, I would suggest a full cluster shutdown and  restart and run the repair.

[2020-04-21 04:27] slivne commented on #6248
Access was resolved

[2020-04-21 05:19] psarna opened #6255 "Alternator streaming test does not work on newer boto3 versions"
Since boto3 started validating more parameters on its own, one of our tests which check incorrect behavior got deprecated. This issue is already solved by fe6cecb26d, but it needs a tracking issue number in order to be backported properly.

[2020-04-21 05:22] psarna commented on #6255
/cc @penberg - that's the fix I'm backporting right now

[2020-04-21 05:25] psarna commented on #3574
@dekimir is what relevant? This issue is closed since Feb 19.

[2020-04-21 05:46] denesb commented on #6232
I need a core to proceed with this. We need to either backport https://github.com/scylladb/scylla/commit/40459fea0e752730cb3ac4ec8cc1670cb790331b to 4.0 or reproduce this on master.

[2020-04-21 05:50] psarna commented on #6255
queued as bc67da1a2

[2020-04-21 06:46] juliayakovlev commented on #6155
Scylla version 4.0.rc1-0.20200420.0819d221f4 (ami-09c7240854fe51556, eu-west-1).

Same test, as described in the issue.

The "mutation_write_timeout_exception" got during prepare stage (no nemesis were run in this time).
Also there are "mutation_write_failure_exception" warnings with same backtrace

Stress command runs from 3 loaders:
[code]

Backtrace:
[code]

Decoded:
[code]

Logs:
[code]

[2020-04-21 07:03] aleksbykov opened #6256 "Segmentation fault during sstable scrubing"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200420.a4aa753f0f with build-id f83ba4b907bf0d27fa5bda20fe769531c97d178d
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0f05bef5666bf0ef6

Gemini tool execute next command:
[code]

Next schema was generated:
[code]

During gemini sct nemesis : corrupt_then_scrub: Next action was applyed:
1. nodetool  flush
2. cho

[2020-04-21 07:06] juliayakovlev commented on #6155
Another scenario:
Scylla version: 4.0.rc1-0.20200418.21ad12669a9 (ami-0bfe4e49864d82fbe, us-east-1)

Big data set.

Table definition:
[code]

5 materialized views:
[code]

Stress command runs from 3 loaders:
[code]

A lot of the mutation_write_timeout_exception received during prepare stage (no nemesis in this time).
[code]

Decoded:
[code]

And after that aborting on shard (Aborting due to alloca

[2020-04-21 07:27] gleb-cloudius commented on #6155
On Tue, Apr 21, 2020 at 12:06:53AM -0700, juliayakovlev wrote:

It is not connected to a timeout, it is connected to an allocation failure
and various flags that we provide to abort in this case.

--
			Gleb.

[2020-04-21 07:41] juliayakovlev opened #6257 "Aborting due to allocation failure during compaction with coredump"
*Installation details*
Scylla version (or git commit hash): 4.0.rc1-0.20200418.21ad12669a9
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0bfe4e49864d82fbe, us-east-1

Test: longevity-lwt-500G-3d

Big data set.

Table definition:
[code]

5 materialized views:
[code]

Stress command runs from 3 loaders:
[code]

Aborting on shard (Aborting due to allocation failure) in time

[2020-04-21 08:34] asias commented on #6248
Probably https://github.com/scylladb/scylla/pull/6242 will fix the hang

[2020-04-21 08:37] bhalevy commented on #6232
@avikivity what

@avikivity @slivne I think it's a good idea to backport this patch to 4.0, especially since it's planned to be the base branch for the next enterprise release. What do you think?

[2020-04-21 08:50] slivne commented on #6232
@juliayakovlev do we run this test on master ?

Have you hit this issue on master as well ?

[2020-04-21 09:09] asias commented on #6248
I do not need the live cluster now. Can you please collect the logs and delete the cluster.

[2020-04-21 09:49] juliayakovlev commented on #6232
The test is runnig now on the master with 3 nemesis:
- decommission (issue #6121 )
- corrupt_then_repair (issue #6120 )
- destroy_data_then_rebuild (this issue)

Didn't hit the issue meanwhile.

[2020-04-21 09:49] nyh commented on #6253
Unfortunately, this is not a problem with authorization but of the Seastar HTTP server. For example, here is the trivial healthcheck request, which also has this GMT timestamp:
[code]

You can see here exactly the same data format in the "Date:" header. Apparently, the client only cares about the "Date:" response header in the case of authentication being enabled, which is why you saw this problem

[2020-04-21 09:54] fruch commented on #6253
in theory newer versions of the aws-sdk-java, might be o.k. with it, since they are using a whole different code for it.

but we should still fix it.

python client worked fine... we might consider testing more flavors of the aws-sdk (i.e. in other languages)

[2020-04-21 10:00] nyh commented on #6253
Opened a Seastar issue: https://github.com/scylladb/seastar/issues/739. I will fix it. I don't know if newer versions of aws-sdk-java will fix this or not - the format of our "Date:" header is definitely wrong. Maybe the new code does its parsing more leniently or maybe it doesn't care about "Date:" at all so it will work, I don't know. It's good you found this - other clients might have problems

[2020-04-21 10:14] denesb opened #6258 "lost+found table"
We recently implemented the `--skip-corrupted` flag for sstable scrub. This currently just drops any data it deems corrupt, logging the relevant keys only. If the user wants to examine this data, they have to makes sure to create a snapshot before the scrub, then load the snapshot after the scrub and retain the logged keys. This is cumbersome and may not even be possible if the data is corrupted t

[2020-04-21 10:16] makorne commented on #3044
The same problem with debian buster and antlr3.

`sudo ./install-dependencies.sh`

[code]

`ninja ./build/release/scylla`

[code]

[2020-04-21 10:17] tgrabiec commented on #4458
Here's what I suggest.

Instead of looking at other nodes only when doing the feature check on restart, we should consider the current node from before the restart as well. We should therefore remember the set of advertised features of a node, after they passed the feature check, and consider that set on boot when calculating cluster’s potentially enabled features. We already remember supported fe

[2020-04-21 10:53] gleb-cloudius commented on #6155
I do not see any indication in this bug report that it did not. In fact that only "bug" that I see here is that the exception is reported as unhandled (it has to be handled and properly reported), but unfortunately the trace has no enough info to tell where it is unhandled.

[2020-04-21 10:59] avikivity commented on #6230
Wow, very subtle.

[2020-04-21 11:29] slivne commented on #6155
@juliayakovlev can you please provide info for both test monitors - so gleb can take a look at why we are getting mutation_write_timeout during prepare

@gleb-cloudius - during the prepare phase is the cluster overloaded - why are we getting the mutation_write_timeout ?

[2020-04-21 11:37] gleb-cloudius commented on #6155
@slivne what is "prepare phase"?

[2020-04-21 11:44] juliayakovlev commented on #6155
Prepare stage it's when we run inserts, prepare data for the test

[2020-04-21 12:07] fgelcer commented on #6248
i collected the logs, and i'm terminating the cluster:
[code]

[2020-04-21 12:10] gleb-cloudius commented on #6155
@juliayakovlev If you overload a cluster during population it is not surprising you get errors while running nemesis. This is LWT workload with 5 MVs? It means each LWT write maps to at least 3 reads and 9 writes.

[2020-04-21 12:23] kostja opened #6259 "Extend the binary protocol resultMetadata with LWT flag"
To ensure consistent, predictable LWT performance, the client must know that it deals with a lightweight transaction query. Similarly to supplying the client with necessary information to evaluate token in response to PREPARE binary protocol command, we should flag that a statement at hand is an LWT.

Trying to distinguish LWT and non-LWT statements on the clients requires either applying fragile

[2020-04-21 12:44] roydahan commented on #6256
dup of #6141

[2020-04-21 13:30] kostja commented on #5251
Cassandra issue: https://issues.apache.org/jira/browse/CASSANDRA-15745

[2020-04-21 13:45] kostja commented on #6259
Cassandra issue: https://issues.apache.org/jira/browse/CASSANDRA-15746
If Cassandra team decides it's a good idea and adds the flag, we could sync with them and use the same flag value, otherwise will have to use our own bit.

[2020-04-21 14:28] nyh commented on #6253
I just sent two patches to Seastar, titled `http server: fix "Date" header format` and `http server: fix date function on non-English locales`, fixing the "Date:" header format and should solve this bug. @amnonh can you please review these two patches so they can be included in Seastar and eventually reach Scylla? Thanks.

[2020-04-21 14:35] kostja commented on #6225
Shlomi, LWT feature bit is not in 3.3, it was added in c138dfd33e0a0bf98c258809831cd523888cfb44 Do you suggest to cherry-pick it to 3.3?

[2020-04-21 14:36] kostja commented on #6225
Please clarify, I thought the point of keeping LWT under "experimental" was that we don't need to support upgrade scenarios.

[2020-04-21 15:15] fgelcer commented on #6187
re-run it on newer AMI of 4.0

[2020-04-21 15:16] fgelcer commented on #5768
on 4.0 the times are within the timeout window (see duration=):
[code]

[2020-04-21 15:18] slivne commented on #6232
@juliayakovlev just to verify its the same test that triggered this issue (6232) ?

[2020-04-21 15:21] #6122 closed

[2020-04-21 15:21] #6154 closed

[2020-04-21 15:21] #6251 closed

[2020-04-21 15:37] juliayakovlev commented on #6232
Yes, It's LWT longevity. It's same setup. Original test (that triggered this issue) was run 3 hour. I run the same but 24 hours

[2020-04-21 15:43] bhalevy commented on #6257
@tgrabiec can you please analyse the core dump and see if this is indeed a bug or just an artifact of `--abort-on-lsa-bad-alloc` on an otherwise recoverable error?

[2020-04-21 15:45] slivne commented on #6225
nope its good enough - closing the issue (3.3 can stay without a feature bit)

[2020-04-21 15:46] slivne commented on #6225
nope its good enough - closing the issue (3.3 can stay without a feature bit)

[2020-04-21 16:05] juliayakovlev commented on #6232
Yes, It's LWT longevity. It's same setup. Original test (that triggered this issue) was run 3 hour. I run the same but 24 hours

[2020-04-21 17:35] bhalevy commented on #6257
@juliayakovlev the schema you quoted says:
[code]

But the title of the issue is about "time compaction".
I'm confused.

[2020-04-21 17:47] juliayakovlev commented on #6257
It means "during compaction"

[2020-04-21 17:51] raphaelsc opened #6261 "Staging SSTables can be resharded while being moved to new directory"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubunt

[2020-04-22 01:00] dekimir commented on #4244
For multi-column restrictions, there are two failure modes:
1. When the query is rejected because the same column participates in multi- and single-column relations (eg, `(c1,c2) > (0,1) and c1<10` as shown above).
2. When the query is accepted, but only the multi-column relation is evaluated.  This is #6200.

[2020-04-22 05:19] makorne commented on #5964
The same.
[code]

git log -n 1

[code]

[2020-04-22 06:25] asias opened #6262 "Network scheduler support"
Scylla uses both cpu and disk io scheduler to allocate cpu and disk resources to different components in the system. A network scheduler is needed to allocate network bandwidth to different components  too. For example, it is desirable to allocate say 10% of the network bandwidth to maintenance work like repair or bootstrap operations, so that the cql traffic is not affected.

[2020-04-22 06:29] gleb-cloudius commented on #6262
This suppose to be open against seastar. All the schedulers are there.

--
			Gleb.

[2020-04-22 06:33] asias commented on #6262
Yes, the hard work should be done in seastar. This issue is used to track the scylla part.

[2020-04-22 06:48] r4fek opened #6263 "nodetool cleanup causes Scylla to crash"
*Installation details*
Scylla version (or git commit hash): latest 3.2.3
Cluster size: 29
OS (RHEL/CentOS/Ubuntu/AWS AMI): Debian Stretch

I ran `nodetool cleanup` command on one of my nodes and this happened:

[code]

[2020-04-22 06:50] jtnagashima commented on #6252
Logs are gathering now. It takes a long time to run with trace level logging.
As for the cluster size, I'm running a 5 node cluster.
I'll perform a rolling restart once the repair is done and logs collected.
Thank you for looking into this @asias!

[2020-04-22 06:55] dorlaor commented on #6263
@haaawk it's your lines ;)

[2020-04-22 06:56] gleb-cloudius opened #6264 "Drop OVERFLOW_ERROR cql binary protocol extention."
*Installation details*
Scylla version (or git commit hash): 3.3.0, 4.0.rc1,  2aaf81bf7c288eb1292a9c06b3d7a122e7ab4f06

We should not extent cql binary protocol without negotiating with a driver that the extension is supported. But this is what  e97a111f642aff2aa1241a9d4261edfd97e545c1 does. We either need to drop the extension or add negotiation.

[2020-04-22 07:03] asias commented on #6252
How often do you see the  "row_diff.size() != set_diff.size() error? Does it happen on all the table  or only on a specific table?

[2020-04-22 07:20] haaawk commented on #6263
Looking...

[2020-04-22 08:58] avikivity commented on #2577
@tgrabiec can you sketch a solution here? since @xemul is doing some cache work, we may trick him into fixing it

[2020-04-22 09:02] elcallio opened #6265 "Commit log reader drops subscription"
In e4b8f52237dee8aa776f3cfb0c1b3f8d7912d306 the return type for `commitlog::read_log_file` was changed to a `future<>`, namely the future of `subscription<...>::done()`. However, the subscription in question was not preserved across reader `stream` lifetime, which in turn will occasionally cause us to call into a deleted object.

Need to preserve `substription` during returned future life time.

[2020-04-22 11:08] bhalevy commented on #4853
Still happens.  https://jenkins.scylladb.com/view/nexts/job/scylla-4.0/job/dtest-release/20/testReport/junit/materialized_views_test/TestMaterializedViews/test_expired_liveness_with_limit_rf3/

[2020-04-22 11:50] elcallio commented on #6265
Note: the crashing occurs iff we manage to reach the execution point where we free the subscription as a result of continuation switching in the the `produce`callback (`next`). Deleted subscriptions unregister from their streams, but does not wait for any calls into them to complete (nor should they).

If we are "lucky", we will instead miss commitlog entries, and probably hang waiting for the fut

[2020-04-22 12:04] bhalevy commented on #6264
I guess we can overload `exception_code::INVALID` for arithmetic overflow.
Looking at cassandra code it it a catch-all exception with a flexible message.
@avikivity, @penberg what do you think?

[2020-04-22 12:43] tarzanek opened #6266 "extend perftune.py to support mellanox cards and tune to 2 queues"
This is a bug filed for myself or Vlad

I will send a patch to get mlx4 and mlx5 drivers supported as per our latest Azure testing

[2020-04-22 13:33] fgelcer commented on #6193
it looks like it is fixed on 4.0.rc2-0.20200421.89e79023aeb:
[code]

[2020-04-22 13:33] nyh opened #6267 "Alternator may create table with wrong RF if a node is temporarily down"
Alternator usually creates tables with RF=3. However, we have a special case designed for testing on one node - if the cluster has fewer than 3 nodes, RF=1 is used. A warning message is printed in this case to warn the user of this unsafe behavior.

But @yarongilor discovered in a dtest (https://github.com/yarongilor/scylla-dtest/blob/cb11731c48f4d4856468b642620df2c6c88c797d/alternator_tests.py#L2

[2020-04-22 13:40] yarongilor opened #6268 "Alternator write fails when a node is down with: " Cannot achieve consistency level for cl LOCAL_SERIAL. Requires 1, alive 0 ""
*Installation details*
Scylla version (or git commit hash): unstable/master:2020-04-01T01:33:28Z
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Dtest

scenario: taking down one node out of 3 and then trying to run an alternator write query to another node.

the failure's log is:
[code]

test link: https://github.com/yarongilor/scylla-dtest/blob/cb11731c48f4d4856468b642620df2c6c88c797d/alternator

[2020-04-22 13:44] yarongilor commented on #6268
addressed under https://github.com/scylladb/scylla/issues/6267

[2020-04-22 13:44] #6268 closed

[2020-04-22 13:46] bhalevy commented on #5354
We didn't hit this for a long while.  We can (re)close the issue IMO.

[2020-04-22 13:56] gcarmin commented on #6193
when are we going to have AWS AMI 4.0 rc2?

[2020-04-22 14:02] fruch opened #6269 "LWT write timeout on dynamodb UpdateItem after decommissioning a node"
*Installation details*
Scylla version (or git commit hash): 4.0.rc2-0.20200421.89e79023aeb
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-06122e922baf75260 (eu-west-1)

## Summary
while doing `nodetool cleapup` after a node decommissioned we see LWT timeouts
and we have few failures on client side to write

from YCSB side it looks like this:
[code]

`scylla_storage_proxy_coordinator_cas_writ

[2020-04-22 14:32] #5354 closed

[2020-04-22 15:19] bhalevy opened #6270 "get_random_number should not return std::numeric_limits<int64_t>::min()"
Extracted from https://github.com/scylladb/scylla/issues/6193#issuecomment-616058815
and https://github.com/scylladb/scylla/issues/6193#issuecomment-616228534
Following c563234f407acefaef3684efe54c1f89bfc35a50

@espindola:

[2020-04-22 15:43] nyh opened #6271 "Alternator test may not wait long enough in debug mode on slow machine"
The script `alternator/test/run` has an arbitrary timeout of 100 seconds for booting Scylla to be tested. This is normally more than enough (on my machine, it usually takes about  25 seconds), but @yarongilor saw in a few cases such as https://jenkins.scylladb.com/job/scylla-master/job/releng-testing/job/build_debug/762/consoleFull that 100 seconds was not enough. Apparently this happens only in _

[2020-04-22 15:43] juliayakovlev opened #6272 "Repair process hangs for 22 hours with no reason"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200420.a4aa753f0f
Cluster size: 4 nodes (i3.2xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03ce0a8634316edb0 (us-east-1)

Test: Longevity-lwt-basic-24h

Nemesis ```CorruptThenRepair``` was started at ```2020-04-21 17:13:17``` on the node 3:
[code]

scylla-server was stopped and few data files were removed.

at ```t:2020

[2020-04-22 15:44] nyh commented on #6271
Oops, tagged the wrong Yaron. Actualy @yaronkaikov

[2020-04-22 16:05] aleksbykov opened #6273 "LWT: row is not added if it was deleted with condition in same batch"
*Installation details*
Scylla version (or git commit hash):
scylla-product: scylla
scylla-release: 0.20200420.2aaf81bf7c
scylla-version: 666.development
scylla-BuildID[sha1]: fdbf96c9ba056ca7816b529ce8ba85f4c8dfc1ce

During work with https://issues.apache.org/jira/browse/CASSANDRA-6069
2 operations added to batch:
 - Delete row with condition
 - Insert row with same primary key

result of batch ap

[2020-04-22 16:34] aleksbykov commented on #6273
yes, you right, result is the same

[2020-04-22 17:17] kostja commented on #6273
The workaround would be to delete individual cells, not entire partition. Then INSERT is visible:

cassandra@cqlsh:ks> BEGIN BATCH update cf set cv = NULL where key=1 and ck=0 if exists; INSERT INTO cf (key, ck, cv) VALUES (1, 0, {'b', 'c'}); APPLY BATCH;

 [applied]
-----------
      True

cassandra@cqlsh:ks>
cassandra@cqlsh:ks> select * from cf;

 key | ck | cv
-----+----+------------
   1 |  0

[2020-04-22 17:44] espindola commented on #6270
Fixed by @haaawk in 2aaf81bf7c288eb1292a9c06b3d7a122e7ab4f06, no?

[2020-04-22 17:48] haaawk commented on #6270
Yes

[2020-04-22 17:49] haaawk commented on #6270
@bhalevy I think we can close this.

[2020-04-22 18:23] nyh commented on #6267
Sent a patch to the mailing list titled "alternator: use RF=3 even if some nodes are temporarily down" (the second in a two-patch series).

[2020-04-22 18:51] jtnagashima commented on #6252
We see the error `row_diff.size() != set_diff.size()` consistently for one of the keyspaces that's fails the repair process. It happens on a specific table.

[2020-04-22 19:40] nyh commented on #6271
Sent a patch for this to the mailing list, titled "test/alternator: increase timeout on Scylla boot"

[2020-04-22 20:55] dyasny commented on #4049
Just ran into this on 3.3:

[code]

[code]

Log:

[code]

[code]

[2020-04-22 21:03] dyasny commented on #4049
Problem went away after I wiped data and commitlog and reran the command...

[2020-04-23 00:13] raphaelsc opened #6274 "user sees a lot of "TOC.txt doesn't exist" errors in the scylla log"
Scylla version (or git commit hash): 12ddacc6d6dc

Description
User started seeing a lot of the following errors in logs of multiple nodes and in the context of multiple tables:

Compaction strategy: LCS

Apr 02 12:03:19 sjc-scylla-1 scylla[2062]: [shard 21] sstable - Unable to delete /var/lib/scylla/data/rtb/users_google_ifa-9de77c00255911e7a67800000000000e/la-1367831-big-TOC.txt because it doesn

[2020-04-23 00:14] #6274 closed

[2020-04-23 00:16] raphaelsc opened #6275 "Lots of messages like "sstable - Unable to delete /path/to/la-1-big-TOC.txt because it doesn't exist.""
Scylla version (or git commit hash): 12ddacc

Description
User started seeing a lot of the following errors in logs of multiple nodes and in the context of multiple tables:

Compaction strategy: LCS

[shard 21] sstable - Unable to delete /path/to/la-1-big-TOC.txt because it doesn't exist.

[2020-04-23 00:16] raphaelsc commented on #6275
This problem happens when deleting a GC SSTable

[2020-04-23 02:50] asias commented on #6252
It will be much better to debug and solve this issue if you could provide me a way to reproduce. For example, if it is possible give me a script to create similar data for the problematic table.  You can insert garbage data instead of real data of course, as long as it reproduces. I can use it to reproduce locally.

[2020-04-23 03:23] jtnagashima commented on #6252
No doubt. I'll see what I can do! Thanks for looking into this for us Asias.

[2020-04-23 05:48] psarna commented on #6271
queued as 92e36c5df515e6c2e7dd1842833647b61bbbc5d3

[2020-04-23 07:27] haaawk commented on #6263
@r4fek This is a codepath for sstables KA/LA. I thought you're on MC, no?

[2020-04-23 08:00] r4fek commented on #6263
Yes, I'm using MC format.

[2020-04-23 08:02] haaawk commented on #6263
This is very strange then. The names of sstables in the log indicate they are MC sstables but the codepath is for KA/LA. Maybe nodetool cleanup handling has a bug. Let me see.

[2020-04-23 09:00] haaawk commented on #6263
@r4fek two more questions:
1. What's the nodetool parameters you've used? keyspace name or table name?
2. Do you have any KA/LA sstable files in keyspaces you've been cleaning up?

[2020-04-23 09:14] r4fek commented on #6263
1. just regular `nodetool cleanup`
2. No KA, but some LA leftovers:
[code]

[2020-04-23 09:19] haaawk commented on #6263
Any LA sstables in sync/session_by_id?

[2020-04-23 09:20] r4fek commented on #6263
No :(

[2020-04-23 09:22] haaawk commented on #6263
Would you be able to retry the nodetool cleanup with parameters pointing to a single table in sync keyspace so that we could narrow down the problem to a particular table?

sync/entity2, sync/bookmark and sync/session are the main suspects.

[2020-04-23 09:37] psarna commented on #6263
@haaawk we already had an issue with ka/la sstables appearing on startup, e.g. here: https://github.com/scylladb/scylla/issues/6071#issuecomment-603178343 . Maybe it's the source of old sstables appearing here as well.

[2020-04-23 09:46] psarna commented on #5059
Side note: CQL could also benefit from this simplified syntax. It's certainly clearer for the user to specify that he wants to query "segment 7 out of 16", than `token(p1, p2, p3) >= -51246677337347 && token(p1, p2, p3) < -13256343463467`, and Scylla would do the split correctly, ensuring that there are no holes and that the ranges are even.

[2020-04-23 09:52] avikivity commented on #2927
We could wrap `file` with something that times out after a certain point. But it wouldn't play well with #1865 caches.

I don't think this can help much. At any point in time, most reads in a loaded system are queued, not running, so this will affect only a small number of queries.

[2020-04-23 10:10] haaawk commented on #6263
I don't think this is the same @psarna. I suspect that the problem is in cleanup operation when it mixes LA and MC but will have to find the prove.

[2020-04-23 10:12] haaawk commented on #6270
Duplicate of already closed issue https://github.com/scylladb/scylla/issues/6237

[2020-04-23 10:12] #6270 closed

[2020-04-23 10:39] nyh commented on #6233
This change makes some sense, but is it based on making sense, or some specific use case or workload or user complaint?

The thing is, the MV does **does** do a read. So after we do this read, it sounds like a shame to deliberately forget it. Caching this read may help if the user's write is followed by a read, but will also help if the user's write is followed by another write. I don't think it's

[2020-04-23 10:40] #5059 closed

[2020-04-23 10:40] #6265 closed

[2020-04-23 10:40] #6271 closed

[2020-04-23 10:54] ShlomiBalalis commented on #6232
The issue also occurred in a run with ami-0f5f93a7bd88e023c (us-east-1)
scylla version: 666.development-0.20200416.141bd44982f with build-id 7e0fbb8bf12b9f22942a4f89c1485a4737bb3120

node list:
[code]

At 2020-04-22 13:33:37,772 a nodetool_refresh nemesis ran on node#3.
As part of the nemesis, nodetool refresh was executed on keyspace1.standard1, and afterwards the following query was executed tow

[2020-04-23 11:00] psarna commented on #6233
Sure, I definitely prefer a discussion before merging this one (if we decide to merge it). I think that the main reason was that these reads are not directly triggered by the user, so we want to avoid the situation when mv updates cause hot user data to be evicted with cold data from view updates. That could certainly be the case when we run a big repair or load lots of sstables via /upload.

[2020-04-23 11:01] nyh commented on #6253
My Seastar fix is already in Seastar (https://github.com/scylladb/seastar/commit/c5cfc5458f74a2f1ad86c940c98a44095cbe1c1c), and would have solved this issue. But unfortunately we can't yet use the newest Seastar in Scylla because of a missing `io_queue::capacity()`, an issue which @glommer is now handling.

Once that unrelated issue is fixed in Seastar (or Scylla stops using that method) we can up

[2020-04-23 11:10] denesb commented on #6232
@ShlomiBalalis I see we should have a core, please upload it.

[2020-04-23 11:32] ShlomiBalalis commented on #6232
@denesb  There was one, but sadly it failed to upload

[2020-04-23 11:36] haaawk commented on #6263
I wasn't able to find any flaw in cleanup code so I guess maybe it started cleaning one of the LA sstables and the bug is inside reading LA sstables. It's either that or some mix-up that directed MC sstable to LA codepath. There's one way which could rule out the first option. @r4fek could you please check in the logs whether there was any `compaction - Cleaning [/var/lib/...` entry for an LA ssta

[2020-04-23 11:49] nyh commented on #6233
I think you made here an interesting distinction. **Repair**, specifically, indeed reads a lot of data that the repair process itself is guaranteed never to read again after reading it for the first time. This was relevant for "ordinary" reads of the repair (I assume these are already uncached) but also for reads generated by MV writes. So indeed it makes sense to disable caching in that specific

[2020-04-23 12:13] psarna commented on #6233
Yes, intensive rewrites would benefit from having this data cached - the question is how often this use case actually appears (and how well it mixes with having materialized views, since it's kind of an antipattern - rewrites usually produce 2 view updates per just 1 user write).
I suppose a more versatile solution could use more context, similarly to the `streaming_reason` parameter that we have

[2020-04-23 12:26] denesb commented on #6232
@ShlomiBalalis does that mean we lost the core?

[2020-04-23 12:41] ShlomiBalalis commented on #6232
@denesb Yes

[2020-04-23 12:54] ssdubey opened #6276 "Failing on creation of second scylla container"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): Scylla version 3.3.0-0.20200319.7ae

[2020-04-23 13:45] fgelcer commented on #6272
could be dup of #6248

[2020-04-23 14:15] juliayakovlev commented on #6155
Got it with version ```4.0.rc2-0.20200422.89e79023aeb``` (ami-07a6cd91217dfd9db, eu-west-1)

Nemesis: restart with resharding.

Scylla was restarted with resharding:
[code]

Storage service started:
[code]

Exceptional future ignored: exceptions::mutation_write_timeout_exception :
[code]

Restore Monitor Stack command: ``` hydra investigate show-monitor a7e1bf27-34fc-4812-b472-eb2c39f263c1```

Sho

[2020-04-23 15:03] ShlomiBalalis commented on #6232
Also, it appears that the error caused a corruption of the node:
after scylla coredumped, the node tried to restart scylla service, but ran into a corruption in the commitlog, and failed to start:
[code]

[2020-04-23 15:04] #6267 closed

[2020-04-23 15:05] slivne commented on #6154
Backport to 4.0

[2020-04-23 15:11] slivne commented on #5768
@roydahan / @fgelcer please update on 4.0.rc2 whats the status and if you hit it or not.

[2020-04-23 15:15] slivne commented on #6232
@roydahan / @ShlomiBalalis we need the coredump ....

- QA are running this again

[2020-04-23 15:54] denesb commented on #6233
I think its a question -- as @psarna already mentioned -- whether reads or writes should drive the content of the cache. The fact that on memtable flush we merge the content of the memtable with the cache muddies the waters, although we don't merge *everything*, see https://github.com/scylladb/scylla/issues/5257.

[2020-04-23 18:37] tzach commented on #6276
Wild guess, but this might be related to the (high) number of cores on the server
See https://github.com/scylladb/scylla/issues/5173 for possible solutions (limited the cores number with `--smp` or set `fs.aio-max-nr`)

[2020-04-23 18:57] rahultaing commented on #5968
after upgrade to 3.2 we removed all files from the disk and restarted the process. we see a gradual increase in fd's, i am assuming this will repro with 3.2 as well when we hit our process limit.

[2020-04-23 18:57] nyh commented on #5153
Although Scylla does have the capability of iterating a partition in reverse order (used by the CQL "ORDER BY ... DESC" feature) several people warned me that this is implemented inefficiently and/or allocates a lot of memory for long partitions. Ideally, scanning a partition in reverse would be almost as fast as scanning it forward take O(1) memory (unrelated to the partition length), but apparen

[2020-04-23 19:10] nyh opened #6278 "Alternator: measure and improve performance of long queries/scans"
We do not yet have benchmarks measuring the full-table Scan or whole-partition Query operations, and we should. (for Query, there is also a reverse iteration - see issue #5153).

I think today, the performance of these scanning operations would be sub-optimal. The main problem is that these operations only read chunks of up a certain page size. While in CQL we have a mechanism of returning a "pagi

[2020-04-23 19:18] slivne commented on #5968
There should be an increase of fds (since you are accumulating in TWCS files) - so we need to wait at least ~4 days after you started to populate data to start looking at whats  wrong.

@rahultaing to try and figure it out and help you - we need the same as we asked before lsof and nodetool cfstats from a node that has the issue.

without it we can't really help you figure out which table is causi

[2020-04-23 19:20] rahultaing commented on #5968
yes i will get that. we had to nuke data several times in order to recover the cluster.

[2020-04-23 19:30] rahultaing commented on #6254
we nuked all data files and restarted service on node. hasn't reproduced since then. but will update when it reproduces itself.

[2020-04-23 19:34] ssdubey commented on #6276
Apparantly,  `scylla-jmx` lib was missing in the base system. It can be installed using `sudo apt-get install scylla-jmx`. I found this when I tried to install scylla directly on the machine and this error came up. However still the error was bit misleading. Not sure how I could have arrived to this from the above log :(

[2020-04-23 19:34] #6276 closed

[2020-04-23 19:36] rahultaing commented on #5968
in one of our test cluster the fd counter is gradually increasing but has not reached the limit yet. here is the nodetool cfstats output from one of the node.
[nodetool-cfstats-output.txt](https://github.com/scylladb/scylla/files/4524808/nodetool-cfstats-output.txt)

[2020-04-23 19:38] dami0 commented on #3044
@makorne
You can use the Scylladb PPA for Ubuntu (Bionic) to install scylla-env and scylla-antlr35-c++-dev on Debian Buster after having installed dependencies with the provided script. Antlr3 itself should come from the Debian repo. Then using the commands:
`CPLUS_INCLUDE_PATH=/opt/scylladb/include/`
`export CPLUS_INCLUDE_PATH`
you can inform your system where to look for the header files and com

[2020-04-23 19:45] rahultaing commented on #5968
i understand that there will be an increase in fds because of ttl being 72 hours for those twcs files. the concern here is that it should stay within our process threshold set which is generously set at 32k per process. my understanding is that the file handles should cleanup after 72 hours, eventually resulting in this to stay lower than our threshold value.

[2020-04-23 21:26] rahultaing commented on #5968
so what should be the max open fd's given the schema we have. if i use @raphaelsc  math for our vcpu count of 16. it should be 72 * 5 * 16* 2 = 11520. correct? what about tables with stcs, how can i calculate that?

[2020-04-23 22:32] dorlaor commented on #6254
Worth to check for large partitions:
https://docs.scylladb.com/troubleshooting/large_partition_table/

On Thu, Apr 23, 2020 at 12:30 PM rahultaing <notifications@github.com>
wrote:

[2020-04-23 22:33] #6230 closed

[2020-04-23 22:50] rahultaing commented on #6254
yes i do see we have some large partitions. that link doesn't say that one of the symptom of a large partition is a failed write. and cluster being unhealthy (from clients perspective) i.e. client is unable to read/write when this happens.

[2020-04-23 23:15] dorlaor commented on #6254
It's just a guess. You had memory allocation failure and it could be due
to large partitions or large cells. There is no enough info about the schema,
the amount of mem per shard, grafana metrics of the memory and queue
snapshots

On Thu, Apr 23, 2020 at 3:51 PM rahultaing <notifications@github.com> wrote:

[2020-04-24 00:59] rahultaing commented on #5968
lsof output from a test node. not sure what's the best way to share a 89 MB file is on github but here's a link to google drive. https://drive.google.com/file/d/17KPT7q1c9OtA69FA2VhX67M2ld96PMZT/view?usp=sharing

[2020-04-24 01:00] rahultaing commented on #5968
this may not yield any valid data as we haven't hit the limit yet on fd's in test.

[2020-04-24 03:16] #6250 closed

[2020-04-24 06:13] r4fek commented on #6263
@haaawk no, I don't have such entries in my log (cleaning la-).

[2020-04-24 06:21] haaawk commented on #6263
Thanks, @r4fek. I was hoping you do ;). Is the nodetool cleanup failure reproducible?

[2020-04-24 06:32] r4fek commented on #6263
Yes, I just crashed the node again ;)

[2020-04-24 07:03] haaawk commented on #6263
@r4fek Could you please try running `nodetool cleanup sync <table name>` for each table you have in the `sync` keyspace? I don't know how many you have there. If the number is big we could try bisecting the list of tables into two equal parts and run `nodetool cleanup sync <list of space-separated table names>` on one of them and if it breaks split it again. That would hopefully narrow down the pr

[2020-04-24 07:03] r4fek commented on #6263
On it!

[2020-04-24 07:04] haaawk commented on #6263
BTW if it's ok for you to give me ssh access, I can do it for you.

[2020-04-24 07:06] r4fek commented on #6263
Not possible, sorry :) I'll get back to you with problematic table name shortly.

[2020-04-24 07:07] haaawk commented on #6263
I understand. No problem.

[2020-04-24 08:25] haaawk commented on #6146
@elcallio could you have a look, please? It seems to be schema support related.

[2020-04-24 09:49] Termite commented on #6040
Hi,

here are the answers..

Am Sonntag, 19. April 2020, 09:21:01 CEST schrieb Eliran Sinvani:

Yes we did.

We've imported to a clean cluster, right from the beginning. We did use
a freshly created table.

We have seen this during the latest imports but we did see this
behaviour during earlier import runs. We' did also see that data went
missing after the import was finished during repair runs. (

[2020-04-24 09:50] Termite commented on #6040
So after importing into version 3.3 the data loss is reproducible.
We tried with cdc enabled but the insert rate dropped from ca 15000 per second to less than 200 per second, so it was unusable.

The question on the java code is undecided since there more dependencies

[2020-04-24 18:10] asimshankar commented on #6029
@denesb - thanks for digging in. From the PromQL query `sum(scylla_cql_deletes)/sum(scylla_cql_inserts)`, it's about 10-12% deletes/inserts.

[2020-04-24 20:09] rahultaing commented on #5968
Hi guys, I did a little bit of more digging into this. and mainly trying to focus on twcs tables. not sure if that's what is causing open fds to increase. but on a 16 core node i see that we have about 4198 open fds for a given table.

using the above math this number should not be more than 2304. when i ls on the oldest fd's I see several that are older than our 72 hour TTL.

[code]

[2020-04-24 21:56] ultrabug commented on #6069
Hi

Our main production cluster hit that bug today; causing 6 hours of debugging and 3 hours of production downtime on various part of our platforms.

So I'd like to **kindly but firmly** upvote this issue for a fix please.

Meanwhile, proceeding with `hinted_handoff_enabled: false`...

[2020-04-24 22:28] espindola opened #6280 "Alternator: : signed integer overflow"
Running tests in debug fails with:

alternator/executor.cc:2993:79: runtime error: signed integer overflow: 1085102592571150094 * 9 cannot be represented in type 'long int'

The decoded backtrace is attached.
[decoded.txt](https://github.com/scylladb/scylla/files/4531849/decoded.txt)

[2020-04-24 22:37] espindola commented on #6212
Let me know if I should open another bug, but an issue I found with the current setup is that ./test.py --mode=foo might not run the test with the expected scylla

The problem comes from the run script selecting the newest scylla binary. So, if one runs

[code]

test.py will run test/alternator/run 3 times and it will test the same scylla binary 3 times (whichever finished linking last)

[2020-04-25 06:31] psarna commented on #6280
Oh, right, the delta will sometimes exceed `int64_t::max()`... thanks, I'll fix that.

[2020-04-25 14:02] eyalgutkind opened #6282 "Using Kernel 3.10 prevents high volume Scylla installation on GCP instances"
*Installation details*
Scylla version (or git commit hash): scylla 3.3
Cluster size:1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos
GCP provides instances with 16, and 24 NVMe volumes.
Centos 7 from GCP is preconfigured with kernel 3.10.
Trying to install Scylla on these instances fails during Scylla_io_setup.
Upgrading the Kernel to 5.6.7 on the instance resolved the issue.

[code]
Recommend we set an

[2020-04-25 17:32] avikivity commented on #5968
@rahultaing do all records have the same ttl?
@raphaelsc when does the sstable drop logic in TWCS trigger?

[2020-04-25 18:26] avikivity commented on #6282
I have some vague memories of this, @amoskong do you recall?

[2020-04-25 18:41] nizarh11 opened #6284 "paxos_ttl_sec should be configurable - to allow testing below 3h"
`paxos_ttl_sec` is currently not configurable and the minimal value it returns is (3 hours)

[code]
The following change, would  allow a configurable `ttl` since we can modify the `gc_grace` using cql

[code]

After making the suggested change, we can set `gc_grace` using `ALTER TABLE` :

[code]

[2020-04-25 19:31] rahultaing commented on #5968
yes all records should have the same TTL because they are set at the table level and not during inserts. is there another way to confirm this?

[2020-04-25 19:37] rahultaing commented on #5968
here is some more data, see the timestamp on fd and the actual file. both are > 72hour TTL:
This is on version 3.2

ls -lt /proc/4436/fd | grep mc-5749-big-Data.db
Apr 21 19:25 10051 -> /opt/zillow/app_data/tracing-log-scylladb/data/jaeger_v1_t00/duration_index-cd58c2c04ea811eaa159000000000005/mc-5749-big-Data.db

ls -l /duration_index-cd58c2c04ea811eaa159000000000005/mc-5749-big-Data.db
-rw-r--r-

[2020-04-25 20:29] slivne commented on #5234
@aleksbykov does this still happen ?

If so can you upload newer logs from 4.0

[2020-04-25 20:31] slivne commented on #4049
@dyasny is this on docker and your local machine or something else (to try and reproduce)

[2020-04-25 20:34] slivne commented on #5235
it will help if we had the full schema so we can try and reproduce.

[2020-04-25 20:38] slivne commented on #5259
closing this issue - assuming the fix worked - if not please post

[2020-04-25 20:42] slivne commented on #5659
Closing the issue

[2020-04-25 20:42] #5659 closed

[2020-04-25 20:43] slivne commented on #5663
@bublikOff I am closing this issue as its stale for ~30 days - if there is additional info please post and we will reopen and try to resolve

[2020-04-25 20:43] #5663 closed

[2020-04-25 21:29] #5259 closed

[2020-04-25 21:43] slivne commented on #5718
This seems correct in the case that we have memory limit / the disks are not the bottleneck.

In case the disk is the bottleneck and not memory or cpu I think this will increase the latency - we are not maxing out the disk capacity.

[2020-04-25 21:45] slivne commented on #5932
@avikivity - sets with 2M are to huge in my view - what is a reasonable size to test to see that we actually work well ?

[2020-04-25 21:52] slivne commented on #5964
scylla-3.2.2 and on wards use scylla-seastar

scylladb/scylla-seastar@c8668e98bd7c31cd675c7587302a7e8030a2b8cb (HEAD, origin/branch-3.2)

this was updated at: 6d1a4e2c0bf533892fe5fac5c0a72b7d80024f92

I expect you need to sync the submodule.

closing this issue for 3.2 branch

@makorne if there are other versions that have an issue please open a seperate bug so we can check that.

[2020-04-25 21:52] #5964 closed

[2020-04-25 21:57] avikivity commented on #5718
Why? As soon as a read becomes a miss, we will start a new one.

[2020-04-25 22:08] slivne commented on #6017
@yuqin11 can you please provide the info on how you run the scylla docker (or the docker you have built to run scylla).

I expect that if you are using something like https://docs.docker.com/engine/security/seccomp/ it may block from scylla some capabilities (like mbind).

[2020-04-25 22:14] slivne commented on #6029
@asimshankar which tye of tombstones do you use
- tombstones over whole partition ?
 - range tombstones over multiple  rows in same partition?
 - single row tombstones ?

@denesb why would ans sstable reader (with BYPASS CACHE) be more optimal than reading through the cache (in any case we will read memtables) ?

[2020-04-25 22:19] slivne commented on #6059
resharding is going through a rehawl ... so while we reshard the node will not be "up" and serving traffic

Patch on ML

(first relevant patch 54a0928a85f3b48573a0d641e9fedf62839c969c).

Lets test on 4.1 after the patches for resharding go in "[PATCH v2 00/11] make reshard offline"

[2020-04-25 22:32] slivne commented on #6074
We have some limitation with ALTER TYPE, yet this case is ALTER TABLE - I am not aware of a bug related to ALTER TABLE that has the same effect on regular tables with regular (non lwt operations).

@tgrabiec - do we have such an issue with existing tables - any thoughts where this can come from

[2020-04-25 22:49] slivne commented on #6140
@hakimkartik was the node added ?

anything else we can help with - if you share more info (schema) amount of data etc, we can try and reason about performance

[2020-04-26 02:51] yuqin11 commented on #6017
i get docker images from [docker hub](https://hub.docker.com/r/scylladb/scylla), and image version is 2.3.1; and i run scylla with command  mentitioned above:
[code]

[code]
linux system version: centos:7.2
disk:HDD(XFS)

[2020-04-26 06:02] eliransin commented on #6040
Thanks for all of the information @Termite , I am just not clear on one point, the recent data loss scenario on 3.2:
Did you just installed fresh 3.2 cluster and then imported the data into this cluster?

The reason for the questions is that I am trying to figure out the simplest reproducer possible.

Thanks,

[2020-04-26 06:04] eliransin commented on #6040
@haaawk FYI
https://github.com/scylladb/scylla/issues/6040#issuecomment-618915968

[2020-04-26 06:41] hakimkartik commented on #6140
It was still taking time , so I disabled the `bootstrap` process and then the node  joined.
After that I triggered `repair`
That took time, but node became part of the cluster

[2020-04-26 06:41] #6140 closed

[2020-04-26 08:15] ShlomiBalalis commented on #6232
In my rerunning with `4.0.rc2-0.20200421.89e79023aeb` the error didn't appear again. There were 2 occurrences of nodetool_refresh, but no occurrences of destroy_data_then_rebuild.

[2020-04-26 08:17] udayan0095 commented on #6171
@slivne thanks.
Coredump is uploaded here. Please download from following link & check.

[](http://www.bdstock24.com/uploads/core.scylla.996.e10cf5334f6e4a23942de9f7ccc71750.24715.1585826979000000.xz)

[2020-04-26 09:53] ShlomiBalalis commented on #6272
A similar issue occurred in my lwt run. At the end of the test a repair was suppose to run on each of the nodes (it was one of the stages of the test) and a repair command ran on node#1 at `2020-04-24 11:12:28,337`,and at `2020-04-24 11:12:29` a repair started at the cluster:
[code]
and at `2020-04-24 11:14:08` the repair in the node finished successfully:
[code]

The nodetool repair command, howe

[2020-04-26 10:24] avikivity commented on #6233
Certainly user writes should use the cache. It would be a huge slowdown if a workload that could hit the cache (like multiple updates to the same row in a short time) was forced ot miss.

For repair, it makes sense to skip the cache, since we won't touch the same row twice.

[2020-04-26 10:36] psarna commented on #6233
@avikivity I agree, makes sense. I assume that our cache writes through in case of the same row being read/written multiple times, right? Under the assumption that the old state of the row would already be cached when the write happens - because otherwise hitting the same row during view updates wouldn't bring much benefit, since the cache entry would already be invalidated by the write operation.

[2020-04-26 11:28] ShlomiBalalis commented on #6155
I got the same error in a 24-hours-parallel-nemesis, during the prepare stage (the stage where we simply fill the cluster with a certain amount of data in preparation for the test). No nemesis ran at the time.

Error:
[code]

translated backtrace:
[code]

test id: c8538ed4-91a2-411e-bbe9-25432f97751e
node list:
[code]

logs:
[code]

[2020-04-26 14:20] ShlomiBalalis commented on #6272
Another similar case occurred at the same run I commented on before:
At `2020-04-23 11:41:36,076` a no_corrupt_repair nemesis (which is just a regular nodetool repair) started with node#2 being the target node. A repair properly started at the target node at `2020-04-23 11:41:38`:
[code]
at `2020-04-23 11:56:29`, after the repair of the second keyspace has begun, the repair abruptly stops with no

[2020-04-26 14:26] nyh commented on #6212
Yes, @espindola this is a known, but unrelated issue. We don't have an issue for it. I'll open one.

[2020-04-26 14:37] nyh opened #6286 "'test.py alternator/run' runs latest compiled binary instead of the chosen one"
This is a known issue (it was explicitly mentioned in commit 0638699ffd77afd1899f85fe11859f02316bc20d which introduced Alternator tests to test.py) which was later re-discovered by @espindola.

The script `test/alternator/run` chooses which Scylla binary to run by taking the latest binary of `build/*/scylla`. `test.py` simply runs this script - which means the `--mode=...` option of `test.py` is i

[2020-04-26 15:10] bhalevy opened #6287 "LwtDestructiveDDLTest.test_rename_column: seastar::debug_shared_ptr_counter_type::check() const: Assertion `_cpu == std::this_thread::get_id()' failed."
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/138/artifact/logs-debug.2/1587759396430_lwt_destructive_ddl_test.LwtDestructiveDDLTest.test_rename_column/node1.log
(and on all other nodes too)
[code]

[code]

[2020-04-26 15:14] slivne commented on #6162
fix for dtest merged scylladb/scylla-dtest@9374d0df87a55225cf94c6506ccdfa08a373799b

closing issue

[2020-04-26 15:14] #6162 closed

[2020-04-26 15:15] slivne commented on #6162
@bhalevy please check if we need to backport to 4.0 the dtest fix

[2020-04-26 15:17] bhalevy commented on #6287
Scylla version 31ccd3750b6f6739502f1ca004af0dbd03331c9b
Core here: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/138/artifact/logs-debug.2/1587759396430_lwt_destructive_ddl_test.LwtDestructiveDDLTest.test_rename_column/node1-reactor-1.21812.1587759339.core.gz
Relocatable package here: https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-ran

[2020-04-26 15:20] slivne commented on #6232
@ShlomiBalalis - lets reun on master so we can get a coredump

[2020-04-26 15:22] slivne commented on #6121
@juliayakovlev lets rerun again on master with the additional flag set and lets reproduce.

[2020-04-26 15:25] fgelcer commented on #5768
last 4.0 (4.0.rc2-0.20200421.89e79023aeb) job run decommission twice, and the durations are (see duration=):
[code]

[2020-04-26 15:26] slivne commented on #5768
much better ... closing

[2020-04-26 15:26] #5768 closed

[2020-04-26 15:36] slivne commented on #6187
@fgelcer please update if this happens on 4.0.rc2 ami (#5768 was fixed on 4.0.rc2)

[2020-04-26 16:26] avikivity commented on #6253
Fixed by 31ccd3750b6f6739502f1ca004af0dbd03331c9b

[2020-04-26 16:32] avikivity commented on #6253
Backported to 3.3, 4.0.

[2020-04-26 17:41] kostja commented on #6287
@ManManson Please take a look at the core

[2020-04-26 20:17] fgelcer commented on #5528
i see this happening on a 4.0.rc2 build of longevity mv/si:
https://snapshot.raintank.io/dashboard/snapshot/UbZM563eAHgHVPc5QLBWqoMAJfI5Oz9s

logs can be found here:
[code]

[2020-04-26 20:29] fgelcer commented on #6187
MV/SI job number 4 is already running.

[2020-04-26 21:25] funny-falcon commented on #5964
Original issue were for master branch.
I will retry to build from master tomorrow, but I doubt in success.

[2020-04-26 21:52] slivne commented on #6196
[code]

Do we have monitoring for this SCT run ?

[2020-04-26 22:05] slivne commented on #6211
this occurred again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/464/testReport/offline_tools_test/TestOfflineTools/sstablelevelreset_test/

I think that we may be hit by "--unsafe-bypass-fsync" here - thoughts ?

[2020-04-26 22:23] slivne commented on #6240
There are 10 retries in cassandra stress if I recall correctly (thats the x10) ... so unless cassandra-stress will keep on selecting the same coordinator over and over for the 10 attempts this should not happen unless I am missing something.

[2020-04-26 22:38] slivne commented on #6240
Looking at the metrics can clarify whats going on a bit
- is the client only trying to send to a single node - or to all the nodes (CQL INSERT how is it split)
- is the coordinator node receiving the request (aside of the partitioned node) able to pass the info forward to 1 other replica or not.

[2020-04-26 22:39] slivne commented on #6240
I do not expect this is a regression - yet we need to understand whats going on, and potentially fix a bad client (cassandra-stress) setup.

[2020-04-27 00:24] asias commented on #5768
Thanks for the update. So, IIRC, it was more than 3 hours. Now, it is less than 2 hours.

[2020-04-27 04:38] dorlaor commented on #6282
Eyal, the Scylla error is because the io_setup failed. If it failed,
it's obvious that Scylla will give such an error message.

What type of kernel did work? Not clear what it is 'Kernel to 5.6.7'

On Sat, Apr 25, 2020 at 11:26 AM Avi Kivity <notifications@github.com>
wrote:

[2020-04-27 06:25] avikivity commented on #5718
Here's a simple way to do it: we already have tracking_file_impl talking to a reader_permit. Extend it to count I/O concurrency. When a reader_permit's outstanding I/O count becomes nonzero, it is I/O bound. When it moves back to zero, it becomes CPU bound.

We can now admit reads to the cache only when there are no CPU bound queries.

Note concurrency accounting should be done when the read begin

[2020-04-27 06:27] avikivity opened #6290 "over-aligned sstable reads due to file buffer tracking"
sstable reads are now always 4k aligned even if they could be smaller.

[2020-04-27 06:28] avikivity commented on #6290
This is because tracking_file_impl doesn't copy the alignment parameters from the underlying file.

[2020-04-27 07:16] avikivity commented on #6290
/cc @denesb

[2020-04-27 07:57] amnonh commented on #751
@slivne let's close this one

[2020-04-27 08:18] aleksbykov commented on #5459
Same error detected after during decommision nemesis
node 2 was removed, node 4 was added and after bootstrap is done appearead same error:
[code]

link to logs:
https://cloudius-jenkins-test.s3.amazonaws.com/b8197439-3e31-4ce3-8a7e-9ac0b4fdd36b/20200425_010715/db-cluster-b8197439.zip

[2020-04-27 08:34] nyh commented on #6290
I remember in the past we verified manually that when possible (e.g., no compression enabled), sstable reads could get as small as 512 bytes. Had we had a regression test that could verify this automatically, this feature could not have regressed. Let's write a regression test for this as part as fixing this issue, please.

[2020-04-27 08:57] amnonh commented on #5414
I'm still unable to reproduce. @let4be is is something you can reproduce easily?

If so, can you run scylla-jmx sith logging enabled:

`./scripts/scylla-jmx -Djava.util.logging.config.file=log.properties`

`$ cat log.properties `
[code]

[2020-04-27 09:11] eyalgutkind commented on #6282
here is the full description to prevent further confusion. All information in the following logs, also tried with scylla enterprise, same out come. Raid is created properly, the io tune portion of the setup fails with the 16 and 24 drives option of GCP.
Kernel 5.6.7 is the latest mainline kernel I could find for CentOS 7. Our AMI, for reference, uses Kernel version 5.5.
[code]

[2020-04-27 09:22] syuu1228 commented on #5933
@penberg well I suggested to add description to remove openjdk-11 on doc, not fixing the packaging.

[2020-04-27 09:49] haaawk opened #6293 "row_cache_test.test_exception_safety_of_reads sometimes fails on dev"
log attached
[test.log](https://github.com/scylladb/scylla/files/4538831/test.log)

[2020-04-27 09:56] aleksbykov commented on #5002
Hint manager drops were found during gemini tests
Scylla version 666.development-0.20200424.31ccd3750b6

Next errors found in logs:
[code]

![Screenshot from 2020-04-27 16-48-54](https://user-images.githubusercontent.com/44991177/80359167-a5280200-88a7-11ea-8db3-ec817b639690.png)
![Screenshot from 2020-04-27 16-52-26](https://user-images.githubusercontent.com/44991177/80359170-a6592f00-88a7-11ea-9

[2020-04-27 09:59] haaawk commented on #6069
@piodul what's the status of this?

[2020-04-27 10:29] avikivity opened #6294 "fstrim service runtime error"
[code]

[2020-04-27 10:56] fgelcer commented on #6196
@slivne , i'm checking about the monitor for this run.
this should work (i'm confirming if we have all files for it):
[code]

[2020-04-27 11:05] r4fek commented on #6263
@haaawk The faulty table is `typed_url_by_id`.

[2020-04-27 11:07] #1393 closed

[2020-04-27 11:07] #6233 closed

[2020-04-27 11:07] #6280 closed

[2020-04-27 11:08] kostja commented on #6181
Let's see if we can make repair complete LWT rounds.

[2020-04-27 11:13] r4fek commented on #6263
I have a few ka's here:
[code]

[2020-04-27 11:30] tgrabiec commented on #6257
There is no debug info package for that version of the scylla:

[code]

@juliayakovlev Do you have it?

[2020-04-27 11:36] gleb-cloudius commented on #6181
The repair is not right process here. It was never intended to do what the issue expects it to do. The repair may be configured to work only between certain set of nodes and no other nodes should be contacted for instance which precludes running paxos between all nodes.

We may invent some other process - paxosrepair that also takes a serial CL that repair should use. Not sure if it is needed at a

[2020-04-27 11:59] avikivity commented on #6294
Queued as 068bb3a5bf6dce6ee073c262f1c6347313021e40

[2020-04-27 11:59] #6294 closed

[2020-04-27 12:03] nyh commented on #6253
This issue was fixed by a Seastar commit, which above Avi says is now in master, 4.0 and 3.3. So closing this issue.

[2020-04-27 12:03] #6253 closed

[2020-04-27 12:06] juliayakovlev commented on #6121
@slivne  the longevity is stuck because of the issue #6272
Every run fails on this and test is not completed.

[2020-04-27 12:27] jul-stas opened #6295 "Filtering captures uninitialized/deleted values of certain types"
On fresh master, e.g. 7304a795e584f2697f37d0ca78e8428127c8c3d1

Unset values pass some predicates when filtering:
[code]
Sadly, deleted values behave in the same way:
[code]
I checked that it happens for all integer types, but other types (like floats or UUIDs) have similar semantics of `compare_visitor` and might be affected as well. Possible solution would be to exclude NULLs from filtering on h

[2020-04-27 12:28] juliayakovlev commented on #6257
No, but I can create the instance with this ami, so debuginfo will be there

[2020-04-27 12:39] r4fek commented on #6263
I ran `nodetool compact sync password_by_id` (it migrated all KA leftovers to MC) and now `nodetool cleanup sync password_by_id` doesn't cause any crash.

[2020-04-27 12:44] aleksbykov opened #6296 "Error: "Unexpected mutation fragment: previous partition end" trigger scylla service restart"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200426.ac3c1f6c0fb with build-id facd356f34d431bbc3290b42e7a38ef876061bbc
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-004f7b2165c47bc6e

Gemini tool executes command:
[code]
next keyspace was generated by gemini
[code]

After warmup period, sct execute nemesis: DecommissionStreamingErr.
Next actiton was runnin

[2020-04-27 12:56] bhalevy commented on #6108
I'm also in favor of limiting support to non-fragmented keys at this time.

[2020-04-27 12:59] ShlomiBalalis opened #6297 "oversized allocation during manager repair"
*Installation details*
Scylla version (or git commit hash):666.development-0.20200423.fbcf741c2 with build-id cdcc3451a8e1a80d81a647038c0c28c823345d8d
Cluster size:6
OS (RHEL/CentOS/Ubuntu/AWS AMI):ami-0681759688f9cbe67(Ireland)

On the 4 hours 100 GB longevity, during a manager repair, all of the living nodes experienced a seastar_memory oversized allocation issue:

node#7:
[code]

Translated bac

[2020-04-27 13:21] denesb commented on #6108
@avikivity pointer out in https://groups.google.com/d/topic/scylladb-dev/vnO-Jps-XBg/discussion that I overlooked an important detail and in fact we can have fragmented keys. I will do some tests to check the effects of using keys large enough to be fragmented.

[2020-04-27 13:23] ShlomiBalalis commented on #6297
The error happened again almost completely identically in alternator 3h of the same build. The difference is, however, that node#6 did not experience the issue even though it was alive at the time. the backtraces:

node#1:
[code]

Translated:
[code]

node#2:
[code]

Translated:
[code]
The rest of the nodes, again, suffered the error with very similar backtraces:
node#3:
[code]

node#5:
[code]

nod

[2020-04-27 13:41] gcarmin opened #6298 "cassandra-stress does not write "Using optimized driver" to the log file"
rpm -qf /usr/bin/cassandra-stress
scylla-tools-4.0.rc2-20200421.5d2a5e2e169.noarch
When running:
`cassandra-stress write no-warmup n=100000000 cl=quorum -pop seq=1..100000000 -schema "replication(factor=3)"  "keyspace=keyspace2"  -mode native cql3 -node 1.1.1.1,1.1.1.2 -rate threads=200 -log file=cs_`date +%T-%-F`.log`
CS does not indicate that it is using a shared aware driver in the log file, on

[2020-04-27 13:47] gcarmin commented on #6298
moving to driver git

[2020-04-27 13:47] #6298 closed

[2020-04-27 13:54] dyasny commented on #4049
@slivne it was on AWS, configured by an automation script with the scylla service stop commented out. So I think it can be closed.

[2020-04-27 14:23] bhalevy commented on #6211
We're still supposed to explicitly flush the sstable data and index files when the write consumes end of stream and before the sstable is sealed.  Maybe the sstable is unsealed and the offline tool ignores that.  If this is the case, we may want the test to remove any unsealed sstables before running the tool.

[2020-04-27 14:53] avikivity commented on #6108
Suppose some has a key large enough to require fragmentation. If we stopped supporting it, their database would stop working once they upgraded.

[2020-04-27 14:53] avikivity commented on #6108
Note that managed_bytes is only fragmented inside cache and memtables. Once you copy it out, it is not fragmented.

[2020-04-27 15:07] denesb commented on #6108
@avikivity the proposed solution is not to restrict key size, which like you said is quite problematic, but to simply always allocate keys contiguously, do away with the whole fragmentation ordeal.

[2020-04-27 15:11] avikivity commented on #6108
We fragment keys for LSA, which requires it.

[2020-04-27 15:14] gleb-cloudius opened #6299 "lwt writes are not linearizable"
*Installation details*
Scylla version (or git commit hash): 7304a795e584f2697f37d0ca78e8428127c8c3d1

Suppose we have three nodes A, B, C and a write of a value V failed after managed to be accepted on A. Then suppose that a client tries to read the value twice in a row: first read accessed B and C and read nothing second one access A and B notices that V is accepted, replays the write and returns

[2020-04-27 15:15] gleb-cloudius commented on #6299
Cassandra issue  https://issues.apache.org/jira/browse/CASSANDRA-12126

[2020-04-27 15:25] denesb commented on #6108
Does it strictly require that all objects are fragmented with the same fragment size? Or would the max key size be too large of an allocation for LSA?

[2020-04-27 15:28] bhalevy commented on #6257
Also, I don't know if this helps, but the relocatable package should be here: http://downloads.scylladb.com/relocatable/unstable/branch-4.0/2020-04-18T12:43:25Z/scylla-package.tar.gz

[2020-04-27 15:32] avikivity commented on #6108
We could relax it to 256k - espilon (segment size). The penalty is a lot of wastage in extreme cases. Since a key cannot be larger than 64k, in extreme cases we'd have 75% occupancy instead of the worst case 90% we have now. We also lost forward-progress guarantees, today we can take 10 segments with 80% occupancy and end up with 9 segments at 90% occupancy, but now we can start with 10 @ 80% and

[2020-04-27 16:15] avikivity commented on #6290
It's hard to regression-test this because it depends on the underlying disk.

[2020-04-27 16:16] kostja commented on #6299
The issue also impacts writes for which CAS condition is not met. Such writes do not update the most recently accepted ballot, and therefore allow an older (in wall clock time) transaction to be accepted after a CAS statement with condition not met was evaluated and was not applied, based on the current state of the database.

[2020-04-27 16:39] bentsi opened #6300 "incorrect mount for scylla coredump"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200426.`ac3c1f6c0fb`
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0eb50f8319265a36f`

[code]

The bug is `var-lib-systemd-coredump.mount`
incorrect Mount definition causes the coredump  to be saved in `/var/lib/systemd/coredump`:
[code]
correct unit should be:
[code]

[2020-04-27 17:03] juliayakovlev commented on #6232
```marshaling error``` with Aborting on shard and coredump recreated in the Scylla version ```666.development-0.20200426.ac3c1f6c0fb``` (ami-0eb50f8319265a36f)

Nemesis: RefreshMonkey

marshaling error:
[code]

Decoded:
[code]

Aborting on shard 0.
[code]

Decoded:
[code]

Coredump:
[code]

Download coredump:
[code]

IP of node with coredump: ```3.88.194.102```

[2020-04-27 18:17] gnumoreno commented on #5661
Any chance this issue with sstableloader on stackoverflow is related to this issue?

`https://stackoverflow.com/questions/61361140/scylla-sstableloader-giving-error-on-copying-sstables-from-cassandra-to-scylla`

[2020-04-27 18:27] fgelcer commented on #6187
last build of MV/SI longevity failed with #6272 during terminate and replace nemesis.
There was an earlier terminate and replace nemesis that finished with success, and the messages `Error applying view update` weren't seen in it.

[2020-04-27 18:58] dorlaor commented on #6282
kernel 5.6.7 is too new for us to support.
We can add to the scylla_setup script a validation for a new kernel
in case > 10 drives are used.

On Mon, Apr 27, 2020 at 2:11 AM eyalgutkind <notifications@github.com>
wrote:

[2020-04-27 19:36] bhalevy commented on #6171
my gdb doesn't like the coredump :-/
[code]

@denesb can you please try to investigate it?

[2020-04-27 20:09] kostja opened #6302 "lwt: make system.paxos expire speed configurable"
Currently, system.paxos ttl is hard coded at ```max(3600*3, gc_grace_seconds)```. For testing purposes, we need to be able to bring this value under 3600*3, e.g. a few seconds. Implement a command line option available in all modes to make the time configurable.

[2020-04-27 20:23] tgrabiec commented on #6074
The exception suggests that `frozen_mutation` was serialized using a different schema version than was used to deserialize it (the one passed to `apply()`). I'm not aware of any bug like that. Review of relevant code paths is in order.

[2020-04-27 20:24] raphaelsc commented on #5968
@avikivity by default, TWCS looks for fully expired sstables every 10 min (controlled by expired_sstable_check_frequency_seconds param). perhaps we're dealing with a scenario where out of order writes are preventing fully expired ssts from being purged?

@rahultaing could u please run 'nodetool setlogginglevel compaction trace'? and after a few rounds of compaction in your TWCS tables please share

[2020-04-27 20:40] rahultaing commented on #5968
i am assuming 2 hours worth of logs would be enough after setting it to trace level?

[2020-04-27 20:51] fgelcer commented on #6186
seen similar semaphore timeout during abort_repair nemesis on 50gb job:
logs:
[code]

[2020-04-27 20:56] piodul commented on #6069
@vladzcloudius Unfortunately, it seems that this backpressure mechanism is already used in the case of hints.

The logic for calculating and delaying the write response is [here](https://github.com/scylladb/scylla/blob/1f902302ad8d26f9db8c0622b3bcc844f07d4517/service/storage_proxy.cc#L555). After CL is reached, it is used to delay a callback that either throttles the write, or sets the `_ready` fu

[2020-04-27 21:20] raphaelsc commented on #5968
@rahultaing it depends on the interval your workload is triggering compactions for those TWCS tables. please check the log for that. if you see a couple of debug messages like 'Checking droppable sstables' in the log, that's what I need.

[2020-04-27 21:22] vladzcloudius commented on #6069
@piodul I don't see what's so unfortunate about this... ;)
In which releases this works as you have described?
Do we have tests that validate that the back pressure is applied on hints as expected?

From what we see in the field there is a reason to believe that in most of official builds it doesn't work for hints.

[2020-04-27 21:27] slivne commented on #6300
Is this broken on 4.0 as well ?

[2020-04-27 21:29] vladzcloudius commented on #5002
Note that hints being dropped is a "hints admission control" in action.
By looking at graphs above I'd guess that you've either hit too many outstanding hints limit or the maximum amount of memory allocated to outstanding hints.

There is a gauge metric for outstanding hints.

[2020-04-27 21:34] rahultaing commented on #5968
here's for last 25 minutes. i am going to set logginglevel back now.
let me know if you are not able to access it.
https://drive.google.com/file/d/1LgrljARcpQOfjZcRObo0kvL1nyUz1UzH/view?usp=sharing

[2020-04-27 21:37] slivne commented on #6295
Is this a regression ?

[2020-04-27 22:32] glommer commented on #6123
@pidiaquez and I are trying to reproduce this.

One of the things I have noticed is that both with and without speculative retry, when the node is killed abruptly the performance drops *A LOT*. With speculative retry enabled, from a 30kreq/s baseline to around 300 req/s. The drop is actually softer with speculative retry disabled.

Could it be that we don't lose availability, it's just that the pe

[2020-04-27 23:21] dorlaor commented on #3896
@tzach  @slivne I just got a report from a user who hit it again.
Need to figure out why there is an issue since @tarzanek claims the code
is the same as C*

[2020-04-27 23:36] tomer-sandler commented on #3896
@tzach @slivne that user Dor mentioned is a paying customer, and they wrote this
[code]

So something is different from C* , where it  actually worked.

[2020-04-27 23:51] rahultaing commented on #5968
can you share how you check if old data is getting overlapped with new data. I am reading through logs and code but not able to reverse engineer how to find this.

[2020-04-27 23:56] raphaelsc commented on #5968
On Mon, Apr 27, 2020 at 8:51 PM rahultaing <notifications@github.com> wrote:

$ cat scylla_compaction_trace.log | grep 'Dropping' | wc -l
130
$ cat scylla_compaction_trace.log | grep 'Adding candidate' | wc -l
1145

Only 130 out of 1145 expired SSTables were actually dropped. Probably an
issue with out of order writes. Tomorrow I will investigate this further.
You'll probably have to enable tombst

[2020-04-28 00:08] rahultaing commented on #5968
ok thanks. i would like to know what may have caused this situation. could it because of we ran repair on nodes? how can we avoid getting into this situation. And also how can we confirm that old data is overlapped with new data? I see those grep's that you shared above - this confirms that files are not getting deleted. Is there a sstable command to check the sstable data. I will search online bu

[2020-04-28 00:15] raphaelsc commented on #5968
On Mon, Apr 27, 2020 at 9:08 PM rahultaing <notifications@github.com> wrote:

Yes, repair can cause old and new data to be mixed in the same sstable.

Upgrading to an eventual version which will have data segregation feature.
By the time being, tombstone compaction is the workaround.

sstableexpiredblockers tool, but I think it's still not working for us. If
you can get it working, great. If not,

[2020-04-28 00:43] ShlomiBalalis commented on #5459
The same error occurred at a run of lwt-3h:
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200423.fbcf741c2 with build-id cdcc3451a8e1a80d81a647038c0c28c823345d8d
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0681759688f9cbe67 (Ireland)

At 2020-04-23T21:59:27, a new node was added to the cluster, node#5. At 2020-04-23T22:01:46 a repair on node#5 started as

[2020-04-28 05:10] asias commented on #6297
It seems the big allocation come from restful api request.

[2020-04-28 05:32] haaawk commented on #6295
Probably not but worth checking.

[2020-04-28 05:52] tzach commented on #3896
@tarzanek did you validate the Python version theory?

[2020-04-28 06:10] penberg commented on #6300
@slivne The problem was introduced in https://github.com/scylladb/scylla/commit/5f18964763608b5e5d5a833c0777e253d2c21624, which is not in 4.0.

[2020-04-28 06:20] tarzanek commented on #3896
hi, no, so the python version needs to be checked

[2020-04-28 06:35] syuu1228 commented on #5933
I think I found a solution:
Add ```Conflicts: openjdk-11-jre-headless, openjdk-11-jre, oracle-java11-set-default``` on scylla metapackage.
Then we apt will try to remove openjdk-11-jre, no "kept-back":
[code]
Strangely, when we install both openjdk-11-jre and openjdk-11-jre-headless we will get "Conflicts" error instead of automatically remove the package.
But still there is no "kept-back":
[code]

[2020-04-28 06:42] eliransin commented on #3896
@tarzanek if you have time, can you try the problematic command with latest scylla oss or enterprise (not 2019.1 even though it should work there as well),
as far as I saw the libraries were merged from upstream so it should be working now. If you don't get to it I will eventually do it, I simply don't have bandwidth.
Thanks,

[2020-04-28 06:46] tarzanek commented on #3896
doing it right now, since i have found a VM with lab upgraded it with 3.3 scylla and old files I used to test this, will update in few mins

[2020-04-28 07:01] tarzanek commented on #3896
so both used python 2.7
so this means that the diff is in the libraries that cqlsh.py uses
meaning cqlshlib must contain fixes for this

[2020-04-28 07:06] denesb commented on #6296
@asias I recall we had a bug with repair not writing partition_end when interrupted in the middle. Maybe the fix went overboard and is trying to write one even if it was sent.

[2020-04-28 07:08] tarzanek commented on #3896
ok, got a fix, I tested:
[code]

[2020-04-28 07:09] tarzanek commented on #3896
above is a snippet taken from
https://github.com/apache/cassandra/commit/bf9a1d487b9ba469e8d740cf7d1cd419535a7e79
check copyutil diffs
so basically they fixed this during python 3 upgrade

[2020-04-28 07:15] tarzanek commented on #3896
well actually sorry for confusion
it seems above is not needed, master from https://github.com/scylladb/scylla-tools-java
just works - so something between 3.3 and master already has a fix it seems

[2020-04-28 07:22] asias commented on #6296
I guess you meant 401854dbafbe1e6be00c9060eff3827bd4786165, where we write more than one partition_end.

What does "Error: "Unexpected mutation fragment: previous partition end" mean exactly? A new partition was started without a partition end from previous partition?

[2020-04-28 07:26] tarzanek commented on #3896
this is weird, if I run locally from checkout
`./scylla-tools-java/bin/cqlsh -f copybug3896.cql`
it works
if I run from system
`/opt/scylladb/share/cassandra/bin/cqlsh -f copybug3896.cql`
it creates wrong file

diff between system and local master doesn't show the difference (or I am looking in wrong places, cqlsh.py , cqlshlib)
I'll checkout 3.3 branch and compare local run Vs system run

[2020-04-28 07:28] denesb commented on #6296
The full error message is this:
[code]
The validator is complaining that there was a `partition_end` following another `partition_end`, or in other words, a partition that was not started was attempted to be closed.

[2020-04-28 07:29] tarzanek commented on #3896
ok, not needed
so it seems fix is:
[code]

[2020-04-28 07:30] tarzanek commented on #3896
ok, double confirmed, so master has this fixed thanks to https://github.com/scylladb/scylla-tools-java/commit/e813778bd1d308dd9fd8b0ec6a6f646c92cecd0a

[2020-04-28 07:34] tarzanek commented on #3896
so https://github.com/scylladb/scylla-tools-java/issues/150 is a dup of this (or vice versa)

[2020-04-28 07:36] asias commented on #6296
OK. Then it looks like it is very similar to 401854d, two partition_end were written into sstables.

[2020-04-28 07:37] syuu1228 commented on #6300
Maybe there is a bug on the setup script, but I think it's not a bug of var-lib-systemd-coredump.mount.
I tested it again now, just worked finely.
But I tested .mount file only, I don't say there is no bug on scylla_coredump_setup, will try to reproduce the issue now...

Here's the test of .mount file:
[code]

[2020-04-28 07:51] denesb commented on #6232
Looking at the core.

[2020-04-28 07:55] r4fek commented on #6263
On other node some backtrace appeared before the restart:
[code]

[2020-04-28 08:39] asias opened #6305 "config: Do not enable repair based node operations by default"
Give it some more time to mature. Use the old stream plan based node operations by default.

[2020-04-28 08:49] #5635 closed

[2020-04-28 08:49] #5746 closed

[2020-04-28 08:50] #6202 closed

[2020-04-28 08:50] #6286 closed

[2020-04-28 08:54] nyh commented on #5153
@slivne @eliransin please comment on whether we should backport the patch to branch 4.0. On one hand, this is a new feature, which we don't normally backport. On the other hand, the patch is very simple and low-risk, and this is a feature that we already had two users asking for, and release 4.0 hasn't come out yet - so it might be a good change to get this feature in as well.

[2020-04-28 09:08] amoskong commented on #6127
It seems a general 'nodetool repair' also causes the `Semaphore timed out: smp_service_group`.
Just execute 'nodetool repair' on a db node.

Job: https://jenkins.scylladb.com/job/scylla-4.0/job/longevity/job/longevity-cdc-100gb-4h/15/
test id: 1bb14a1e-150f-4c0d-a6bb-6574cd025a39
test log: https://cloudius-jenkins-test.s3.amazonaws.com/1bb14a1e-150f-4c0d-a6bb-6574cd025a39/20200427_173551/sct-runne

[2020-04-28 09:18] #6238 closed

[2020-04-28 09:18] #5153 closed

[2020-04-28 09:18] #6264 closed

[2020-04-28 09:26] eliransin commented on #3896
First of all thanks for checking. I am 99% sure the fix is also in 2019.1.7

I will have a look what commit fixes it but if is prior to my change. The problem is also parsing but a different one and it is fixed by merging upstream (cassandra's) into scylla-tools-java by @elcallio
If you have an easy reproducer maybe you can put it here so I can check starting from which 2019.1.x this fix is in.

[2020-04-28 09:29] aleksbykov commented on #5459
Get reproduced again with gemini and on Scylla version 4.0.rc2-0.20200427.602ed43ac7a with build-id 34ba94706b104389d85d7a1126e2ef03a78fcd2c

[2020-04-28 09:41] nyh opened #6307 "Reverse-ordered queries (Alternator's ScanIndexForward=false) with large partitions"
In issue #5153 we added support for the `ScanIndexForward=false` parameter of `Query`, which requests the query to return items in **reversed** sort order. This feature already works, and uses the same internal mechanism (`query::partition_slice::option::reversed`) which we use in CQL's "ORDER BY ... DESC" feature.

However, it has been _claimed_ that our implementation of the `query::partition_sl

[2020-04-28 10:59] edisonqkj opened #6308 "Scylla: does not reclaim disk space when expired via TTL"
*Installation details*
Scylla version: 3.1.2
Cluster size: 3 nodes (1 data center)
OS: CentOS 7.7.1908/7.3.1611/7.3.1611

*Hardware details (for performance issues)*
Platform: cloud instance
Hardware: memory 64GB/32GB/64GB
Disks: SSD 322GB/50GB/200GB

I'm inserting 100 thousands of jpgs, submitted as binary data, into the blob field in scylla. the size of each jpg file is about 120KB. During the i

[2020-04-28 11:11] fgelcer opened #6309 "truncate timed out during nemesis after ~4 min"
*Installation details*
Scylla version (or git commit hash): 4.0.rc2-0.20200422.89e79023aeb with build-id 7278ddecd952d3908da5bdf89701241036b34fa9
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-07a6cd91217dfd9db

running job called longevity-large-collections, truncate nemesis was called after some time of the test, where other nemesis were executed before, and no failures before it.
Truncate

[2020-04-28 11:15] denesb commented on #6232
The immediate cause is that we try to parse what looks like a non-composite column name as a composite one:
In `composite_view::explode()`:
[code]
The schema has the following column:
[code]
@haaawk does this ring a bell?

[2020-04-28 11:59] jul-stas commented on #6295
Checked on 3.1.4 and 3.0.0 (randomly chosen versions) - same behavior.

[2020-04-28 12:03] fgelcer commented on #6309
have similarity with #4924

[2020-04-28 12:21] denesb commented on #6232
We are reading a KA sstable: `keyspace1-standard1-ka-15-Data.db`.

[2020-04-28 12:40] fgelcer commented on #6182
i'm seeing something very similar when running on longevity-large-collections job, test_id=d643b9a8-78ac-48e4-b80c-0c268c03f802:
[code]

now, i see at some point that we lost communication with node-3:
[code]

from node-3 log:
[code]

This "No space left on device" sounds very strange to me. No ENOSPC nemesis in this execution.
There is no monitor data collected from this build, hence i have no wa

[2020-04-28 12:44] nyh commented on #5153
Backported to 4.0 (commit b7328ff1e41a5fdde2f73c94731b9e396251b91b) for reasons described above. No other backports needed.

[2020-04-28 12:47] nyh commented on #6251
Already backported to 4.0 by Avi (commit 2482e53de98c5b3dfaab994444daa84f2bec7bd9). No additional backports needed.

[2020-04-28 13:03] nyh commented on #6267
Backported to 4.0 - commits e1fd6cf98982a8df0cfe0309d68e595d97db1678 and  5f1785b9cf4af149967468b99a87c324ca2ea28f (the first one adds a function which the second needs).

[2020-04-28 13:04] nyh commented on #6271
Backported to 4.0 (commit 92e36c5df515e6c2e7dd1842833647b61bbbc5d3). No further backports needed.

[2020-04-28 13:14] nyh commented on #5059
I decided to backport this fix to branch 4.0 because this version isn't yet out and this is a relatively simple fix and a feature requested by users, so I think it's worth having it in 4.0 and not waiting for 4.1. Commit dbb9574aa22214662973650d40cbf3a622a6dbfb.

[2020-04-28 13:18] nyh commented on #6280
Backported to 4.0 (commit e17c237febbd22edf2d7ed7869181bb925cbc5e5), after the buggy code was also backported to 4.0. Earlier versions are not vulnerable.

[2020-04-28 13:20] nyh commented on #6286
Backported to 4.0 (commit ). No further backports needed - earlier releases did not have the Alternator testing in test.py.

[2020-04-28 13:44] nyh opened #6310 "Speed up Scylla boot for Alternator test"
This is a duplicate of issue #4632 but I'm duplicating it deliberately with a specific benchmark (`test/alternator/run`) to make it easy to measure where we're at, and also to remember why fixing this is important.

The Alternator test script `test/alternator/run` starts by booting a single-node Scylla, and then sending it commands. The script prints how much time Scylla takes until becoming respo

[2020-04-28 14:13] bhalevy commented on #5985
Related to #5697

[2020-04-28 14:15] nyh commented on #6310
Looking at the logs printed by `test/alternator/run` I see that the 26 second boot time is composed of:

1. A bunch of initialization taking less than 0.1 seconds.
2. Exactly 12 seconds until the message "gossip - No gossip backlog; proceeding" appears. Is this 12-second delay and artificial timeout? Can we zero it when we know this will be a one-node cluster and it is pointless to wait for other

[2020-04-28 14:17] xemul commented on #5985
Caused by it. The `service/storage_proxy.cc abstract_write_response_handler::timeout_cb()` needs to call `_proxy->remove_response_handler()` at the end waking up the `mutate_begin()`'s waiting on it, but due to an exception inside `++stats().background_replica_writes_failed.get_ep_stat()` it doesn't.

[2020-04-28 14:18] xemul commented on #5985
The `get_ep_stat()` throws inside `register_metrics_for()`

[2020-04-28 14:23] roydahan commented on #6232
@juliayakovlev your reproducer is using the RefreshNemesis (it's downloading old sstables from S3 and try to load them into the cluster, probably we have them as KA on S3).

Does the original issue or previous reproducers also involved Refresh nemesis? (it doesn't look like it).

[2020-04-28 14:34] juliayakovlev commented on #6232
@roydahan No, reproducer run nemesises with repair (like decommission, corrupt_then_repair) and every test was stuck because of the issue #6272 . Every run fails on this and test is not completed.

Coredump I received on another LWT test, not reproducer.

[2020-04-28 14:38] nyh commented on #6310
Almost the entire boot delay is eliminated by adding the option "`--skip-wait-for-gossip-to-settle 0`". It's like a miracle! I'll send a patch.

[2020-04-28 14:45] juanramb opened #6311 "Add --reserve-memory option to scylla docker image"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.3
Cluster size:
OS (RHEL/CentOS/

[2020-04-28 14:52] nyh commented on #4632
In Issue #6310 I discovered that adding the "--skip-wait-for-gossip-to-settle 0" option completely eliminates the gossip delays and make Scylla boot in less than a second. It would still have been nice for the speed to be automatic, and not require a special option.

[2020-04-28 15:07] denesb commented on #6232
@juliayakovlev so this coredump mentined in https://github.com/scylladb/scylla/issues/6232#issuecomment-620112461was obtained in another LWT test?

How are these sstables created? Which version of scylla were they created with?

[2020-04-28 15:17] juliayakovlev commented on #6232
The  coredump mentined in [#6232 (comment)](https://github.com/scylladb/scylla/issues/6232#issuecomment-620112461was) received during LWT test with same schema configuration but running 2 nemesises in parallel.

In my test just one nemesis is running in the same time

We have pre-created sstables of different versions that used in the refresh nemesis.
@roydahan can you explain more, please, about

[2020-04-28 15:25] denesb commented on #6171
[code]
The assert happens in https://github.com/scylladb/scylla/blob/a8b9f94dcbc2a90620b2f7ca6cf271ff7b5e9e26/sstables/consumer.hh#L464-L474.

Don't know which of the two we trip as gdb failed to map to the source in this frame.

[2020-04-28 15:53] Termite commented on #6040
Hi,
as we use debian, we upgrade via dpkg to new scylla versions.
The import was made into a new table, every time we imported.

As data started to disappear after importing, I think there may be an issue with compaction / repair, maybe in conjunction with the number of rows, as the data loss happens only after importing more than around 5x10^9 rows,  The number 5x10^9 is  above 4x10^9, an unsigne

[2020-04-28 16:03] tarzanek commented on #3896
reproducer is easy:
[code]
[code]
And then repro:
[code]
[code]

[2020-04-28 16:15] tarzanek commented on #3896
2019.1.7 (upgraded from older version) reproduces for me
it has /usr/lib/python2.7/site-packages/cqlshlib/cql3handling.py with old contents still

[2020-04-28 16:15] tarzanek commented on #3896
so it seems https://github.com/scylladb/scylla-tools-java/commit/e813778bd1d308dd9fd8b0ec6a6f646c92cecd0a needs a backport to enterprise

[2020-04-28 16:16] tarzanek commented on #3896
after patching cql3handling on 2019.1.7 it works

[2020-04-28 16:47] denesb commented on #6171
[code]
It seems we strip the second assert. `_stream_position.position` already equals `begin` (which will be `idx._lower_bound.data_file_position`). This is the state after line 467. The second assert would only fail if `begin > end`. This is contradicted by the sstable data file size, which is still larger:
[code]
All in all this smells like a corrupt index file to me.

[2020-04-28 17:29] kostja opened #6314 "commitlog_total_space_in_mb is not respected"
Scylla hash: 09e4f3b9173f0b976283cd616cb13da93623219b

I run a single scylla instance with --smp=1 --developer-mode=true
I have commitlog_total_space_in_mb: 256 in scylla.yaml.
I run `./cassandra-stress user profile=../cqlstress-lwt-example.yaml n=100000 n
o-warmup  ops\(insert=1\)  -node 127.0.0.1 -rate threads=10 -mode native cql3  -log file=./3.3-30-10k.log`

I also run `truncate cqlstress_lwt_

[2020-04-28 17:35] kostja commented on #6314
If I increase the stress test parallelism the directory size gets even more out of hand:
kostja@hulk:~/scylla/db/commitlog$ du -sh .
1,1G    .
kostja@hulk:~/scylla/db/commitlog$ du -sh .
1,1G    .

[2020-04-28 18:04] tzach commented on #6308
@tgrabiec could this be related to https://github.com/scylladb/scylla/issues/4855 ?

[2020-04-28 18:14] raphaelsc commented on #6308
@edisonqkj Yes. TTL is propagated through compaction, that information is never lost. The problem is that you're using STCS (size tiered compaction), you should probably switch to TWCS. See: https://docs.scylladb.com/getting-started/compaction/

STCS is known to mixing old and new data, preventing SSTables from being fully expired. Also, I'd recommend you to play with tombstone compaction properti

[2020-04-28 18:19] raphaelsc commented on #6308
@edisonqkj Do you use explicit deletes or only rely on TTL for eventual deletion?

[2020-04-28 18:23] rahultaing commented on #5968
@raphaelsc can you share the code that fixes this issue, is there any documentation around this issue, different reasons that can cause the overlapped writes and how you fixed it in new code base?

Also we hardly ever run repair in our cluster (we run cleanup often). So I am wondering what are the other potential causes of overlapped writes.

[2020-04-28 18:29] raphaelsc commented on #5968
On Tue, Apr 28, 2020 at 3:23 PM rahultaing <notifications@github.com> wrote:

You'll probably learn the most about it here:
https://github.com/scylladb/scylla/issues/2687

The commit referenced in that issue alone will not completely fix the
issue, it does fix the problem only for streaming and repair.

Explicit timestamps in the write queries? Read repair? hints? Even the
regular data streaming a

[2020-04-28 19:02] rahultaing commented on #5968
I tried sstablemetadata on some of those old lingering sstables and their min/max timestamp are outside of 72 hour window. Around time period: March 12th. This is not confirming our theory, is there some other data that i can check to confirm that old/new data is overlapped in sstables?

[2020-04-28 19:05] syuu1228 opened #6315 "current relocatable packages are not optimized to unify single tarball"
Currently, we only have relocatable packages for each individual components, still missing unified relocatable package.
To make unified relocatable package easily, we may want to merge tarballs to single tarball like this:
```zcat *.tar.gz | gzip -c > scylla-unified.tar.xz```
But it's not possible with current relocatable package format, since there are multiple files conflicts, install.sh, SCYLLA

[2020-04-28 19:28] tgrabiec commented on #6308
I don't see how.

[2020-04-28 20:06] raphaelsc commented on #5968
On Tue, Apr 28, 2020 at 4:02 PM rahultaing <notifications@github.com> wrote:

What about the non-old sstables? Do their timestamp range overlap with
the timestamp range of those old sstables? They would be the ones
blocking the old, expired sstables from being purged.

[2020-04-28 20:07] rahultaing commented on #5968
Also looking at the sstablemetada result of lot of these tables, they have no droppable tombstones. I see only one line:

Estimated droppable tombstones: 0.0

[2020-04-28 20:07] raphaelsc commented on #5968
@rahultaing could u please post the full output of sstablemedata?

[2020-04-28 20:11] rahultaing commented on #5968
[sstablemetadata_output.txt](https://github.com/scylladb/scylla/files/4548226/sstablemetadata_output.txt)
attached

[2020-04-28 20:36] raphaelsc commented on #5968
@rahultaing looks like a problem in the metadata produced 'Estimated droppable tombstones: 0.0', but max deletion time is sane, and this is the one used to determine whether or not a sstable is fully expired. Could u please check that the timestamp range of non-old sstables don't overlap with timestamp range of the old sstables?

[2020-04-28 21:27] rahultaing commented on #5968
[sstablemetadata_output_nonexpired.txt](https://github.com/scylladb/scylla/files/4548551/sstablemetadata_output_nonexpired.txt)
see attached example of non_expired sstable. There's no overlap. I looked at several of them.

Could it be that one of those have an overlap, which is resulting in those old sstables not getting purged. There are hundreds of files. not sure how to find the culprit here.

[2020-04-28 21:32] rahultaing commented on #5968
given this state, if i have to enable tombstone compaction what threshold value should i set on those tables? may be it will help. what worries me is that i am not able to find a clear reason as to why those tables are not getting purged.

[2020-04-28 21:37] raphaelsc commented on #5968
I am going to provide you with a script soon (tomorrow at most) for you to run at those tables. We need to find the root cause first before enabling tombstone compaction. I also found it awkward for estimated droppable tombstone to be zeroed even though the data is expired, which means a bug in our metadata generator for sstables.

[2020-04-28 21:41] rahultaing commented on #5968
Thank you. Let me know what you find, I am curious about those estimated droppable tombstone: 0s in those tables.

[2020-04-28 21:43] raphaelsc commented on #5968
Yes, but let's be clear that it doesn't affect our ability to consider the SSTable as expired, because max deletion time metadata is used instead for that purpose. It would affect our ability to enable tombstone compaction though which relies on that estimated value.

[2020-04-28 21:49] rahultaing commented on #5968
makes sense.

[2020-04-29 01:27] edisonqkj commented on #6308
only TTL, i didn't use any deletes. the CQL results are acquired after 1000s.

[2020-04-29 07:56] denesb commented on #6307
We have a more generic issue for the underlying infrastructure to support reading in reverse: https://github.com/scylladb/scylla/issues/1413.

Reverse queries are not just inefficient, they are very dangerous as they can single handedly OOM a node. For this reason we have a hard limit on the memory they are allowed to consume and abort those that want to consume more. So reverse queries are not gu

[2020-04-29 07:56] gjaldon opened #6317 "Reactor stalls in memory reclaim path"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.1.2-0.20191127.9d78d848e
Cluster

[2020-04-29 08:18] denesb commented on #6317
/cc @tgrabiec

[2020-04-29 08:49] denesb commented on #6258
Another source of data for this lost+found table is commitlog entries that we fail to replay for some reason. We currently just drop these.

[2020-04-29 09:18] mmatczuk opened #6318 "Monitoring add ebpf_exporter"
Cloudflare has [a Prometheus exporter for custom eBPF metrics](https://github.com/cloudflare/ebpf_exporter).

You can read [this](https://blog.cloudflare.com/introducing-ebpf_exporter/) blog post where they even mention Scylla!

Adding ebpf_exporter to Scylla nodes opens the whole new world of opportunities for Scylla Monitoring system. For instance it can export cpu cache miss rate and tons of ot

[2020-04-29 09:20] zhangsw opened #6319 "AWS Dynamodb CPP SDK can't work with scylla alternator"
I use dynamodb cpp sdk to operate scylla, scylla always returns "Unsupported operation".
Python sdk works fine.

Scylla version: 4.0 rc1
dynamodb cpp sdk version: master

Tcpdump result of list tables operation:

[code]
Other operations, like create table, put item have same problems.
I use the same code to test dynamodb local, it works fine.
Besides, it seems that scylla alternator doesn't suppor

[2020-04-29 09:44] psarna commented on #6319
Thanks, I'll look into it. Meanwhile, could you rerun this test with trace log level enabled in Scylla and share the logs? You can enable trace level logging for alternator via our REST API, e.g.:
[code]

[2020-04-29 09:50] Felix-zhoux opened #6321 ""--tags " parameter did not work when I used aws dynamodb to create-table with scylla alternator"
When I use aws dynamodb to create-table, I'm prompted with "Unknown options: --tags ...".

When the tags parameter is removed, the table creation can be executed successfully.And the newly created table can be tagged with the 'aws dynamodb tag-resource' command.

[code]

[code]

[2020-04-29 10:03] psarna commented on #6319
Ok, I see what the problem is. The cpp driver sends `X-Amz-Target` header name in lowercase (`x-amz-target`, while we check for a case-sensitive `X-Amz-Target`. It actually goes down to a problem in Seastar's HTTP server: https://github.com/scylladb/seastar/issues/636

So, the proper fix should be inside Seastar, but perhaps I'll also consider creating a quick workaround for alternator in order to

[2020-04-29 10:19] psarna commented on #6319
I created a workaround here, so if you build Scylla from source, then you can try it out: https://github.com/scylladb/scylla/pull/6322

I'll also look at the issue from Seastar side in order to provide a proper fix.

[2020-04-29 10:22] denesb commented on #6171
https://github.com/scylladb/scylla/blob/a8b9f94dcbc2a90620b2f7ca6cf271ff7b5e9e26/sstables/consumer.hh#L373-L374
[code]
It seems indeed that we try to skip to a position that is beyond the max size of the stream.

[2020-04-29 10:23] denesb commented on #6171
@haaawk I think as these asserts can be triggered by a corrupt index file, we should downgrade them to exceptions, to avoid scylla crashing on a bad index.

[2020-04-29 10:34] denesb commented on #6171
@udayan0095 can you link the crashes to certain keys?

[2020-04-29 10:37] denesb commented on #6171
The sstable that is read is `mc-445-big-Data.db`.

[2020-04-29 10:58] udayan0095 commented on #6171
No. But I have transferred same data to Cassandra after these crashes. It is running and working fine.

[2020-04-29 11:05] denesb commented on #6171
Hmm, maybe the index is not corrupt after all:
[code]
Looks like what is happening is that we simply attempt to read past the read range.

[2020-04-29 11:16] #6310 closed

[2020-04-29 11:27] udayan0095 commented on #6171
Yes. It seems to me also. We are writing data to a scylla node as backup purpose and read/write is shifted to cassandra. But no crash occured in this scylla node yet. So crash may be occurred any point of reading.

[2020-04-29 11:35] glommer commented on #6317
and @xemul since he is rewriting the cache.

[2020-04-29 11:38] denesb commented on #6317
This issue is not cache specific, rather LSA specific. I think LSA, when reclaiming, should spend at most a task quota worth of time on compacting. This will mean that we'd fail allocations that could be satisfied with some more work. This could be solved if allocations returned a future.

[2020-04-29 11:40] glommer commented on #6317
It's going to be really hard for allocations to return a future. However maybe we can do futurized reservations? It's essentially the same thing

[2020-04-29 11:59] bhalevy opened #6323 "use-after-free in compaction_write_monitor::written hit with database_test"
I saw this when testing my branch, but it seems to be unrelated to my changes so I'm filing it against scylla.

The branch is https://github.com/bhalevy/scylla/tree/move-from-staging-replay version bhalevy/scylla@9337f3585e0ca305d2137ac64b883a9dcf5c66a1

The report was from `database_test` in debug mode that has no debug info, and decoded stack traces below are from the corresponding `database_tes

[2020-04-29 12:07] denesb commented on #6317
What kind of reservations are you thinking about? We do LSA compaction when there is no free memory to satisfy the allocation from. Maybe we also do idle compaction, but I'm not sure.

[2020-04-29 12:15] bhalevy commented on #6323
Uploading binary and core dump to gs://scratch.scylladb.com/issues/6323

[2020-04-29 12:16] denesb commented on #6171
This is a reader created by cache. We are reading a single key, with `streamed_mutation::forwarding::yes`.

[2020-04-29 12:22] glommer commented on #6317
Akin to STL's `.reserve()`. We can then use something akin to placement new to put the LSA structures into the memory we just reserved.

LSA is very different so the syntax and usage will not be exactly the same, but conceptually I think it should work.

[2020-04-29 13:06] ajankovic opened #6324 "Taking snapshot timeouts for a single node"
*Installation details*
Scylla Enterprise 2019.1.7-0.20200328.c8f0d16d2
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Scylla Cloud

Hardware details (for performance issues)
I3.XLARGE

*Cluster setup:*

Each node in the cluster is populated with ~475GiB distributed across one keyspace containing ~5K of tables. Tables are created mostly with:

[code]

Keyspace:

[code]

But there are some tables

[2020-04-29 13:18] raphaelsc commented on #6323
This is supposed to be fixed by Rafael's series Avoid use-after-free of
sstable writer

On Wed, Apr 29, 2020 at 9:01 AM Benny Halevy <notifications@github.com>
wrote:

[2020-04-29 13:36] nyh commented on #5038
I want to start working on this feature soon. We will not need new Anltr parser code because FilterExpression uses the already-supported condition_expression syntax. I would start by writing extensive tests on Query filtering using FilterExpression in a new source file `test_filter_expression.py` plus less extensive tests also for Scan filtering (are filters on the partition key allowed for Scan?)

[2020-04-29 13:40] elcallio commented on #6146
How is this cdc related? It looks like an OOM in row cache? This was running with cdc enabled on the table? Does the test work without cdc?

[2020-04-29 13:48] haaawk commented on #6146
OK it that case please ignore. I have fix here: https://github.com/scylladb/scylla/pull/6312.

The problem is that memtable is merged into cache and CDC Log creates much bigger memtables than Base Table because it never overrides any records.

[2020-04-29 14:16] tarzanek opened #6325 "set gc period to 0 at least for system.large* tables (ideally for all local tables)"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
Cluster size:
OS (RHEL/CentOS/Ubun

[2020-04-29 14:18] denesb commented on #6325
I think we can do this for all *local* system tables, not just the `large_*` ones.

[2020-04-29 14:19] tarzanek commented on #6325
fix schemas in https://github.com/scylladb/scylla/blob/master/db/system_keyspace.cc#L473
at least for large*

[2020-04-29 14:20] tarzanek commented on #6325
set at least
    AND gc_grace_seconds = 864000

a question is if it doesn't make sense to also TTL some of the tables (or how do we take care of cleaning old records?)
    AND default_time_to_live = 0

[2020-04-29 14:24] tarzanek commented on #6325
also dclocal_read_repair_chance = 0.1 doesn't make much sense in those tables

[2020-04-29 15:39] piodul commented on #6069
@vladzcloudius

Looking at the [original patchset](https://groups.google.com/d/topic/scylladb-dev/KGB0VxrQ_bA/discussion) that introduced delay-based backpressure, hints were affected by it from the start. Based on what `git tag --contains` tells me, its in all versions beginning from 3.1.0 for open source, and from 2019.1.0 for enterprise.

Curiously, I found a patchset that intended to disable t

[2020-04-29 15:43] bhalevy commented on #6323
Right.  Thanks
/Cc @espindola

[2020-04-29 15:45] bhalevy commented on #6323
Duplicate of #6221

[2020-04-29 15:45] #6323 closed

[2020-04-29 16:30] elcallio commented on #6197
Initial stab at integ library + simple client:
https://github.com/elcallio/scylla-cdc-java

Devoid of comments and explicit topology change handling (though it is implicitly handled)

[2020-04-29 17:08] dorlaor commented on #6258
Sounds like a good idea to me. How other DBs like MySQL do it?

On Wed, Apr 29, 2020 at 1:49 AM Botond Dénes <notifications@github.com>
wrote:

[2020-04-29 17:21] espindola commented on #6221
The current version of the patch that fixes this is in

[PATCH v5 0/3] Avoid use-after-free of sstable writer

[2020-04-29 19:41] vladzcloudius commented on #6069
Thanks, @piodul.

@slivne @roydahan There are (too) many reports from the field that suggest that MV backpressure doesn't work with hints as expected.

Please, see Piotr's great summary above. We need to make sure that it works as expected. And if it doesn't we need to fix this.

@eliransin FYI

[2020-04-29 19:49] raphaelsc opened #6328 "ENOENT when resharding deletes SSTables being used by a parallel operation like snapshot"
*Installation details*
Scylla version (or git commit hash): 1f902302a
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

Resharding deletes input SSTables in the coordinator shard, so it's important to only remove them from the SSTable sets of the shards they belong to, after acquiring a deletion semaphore.

[2020-04-29 20:13] tgrabiec commented on #6305
Did we encounter any issues which led us to this decision?

[2020-04-29 20:30] tgrabiec commented on #6317
debug-level LSA logging during the stalls could sched more light:

[code]

Refs https://github.com/scylladb/scylla/issues/4186

[2020-04-29 20:34] tgrabiec commented on #6171
@denesb In the past those asserts were also triggered by bugs in the reader, and a core dump is helpful. This calls for `on_internal_error()`.

[2020-04-29 21:04] kostja opened #6329 "lwt: tag metrics for prepared statements executed on behalf of LWT"
https://github.com/scylladb/scylla-monitoring/issues/906 complains that LWT skews CQL write metrics, used by clients to track client-side writes.

This happens because LWT internally uses CQL prepared statements to write to system.paxos table. A single LWT statement can lead to any number of writes to system.paxos:
1) 1 if successfully prepared ballot and condition is not met
2) 3 if  any one node

[2020-04-30 05:16] kostja opened #6330 "lwt: relax pruning criteria from ALL to QUORUM"
Now that pruning still keeps the ballot, we should relax the pruning criteria (i.e. how we decide whether to run PRUNE round or not) from ALL to QUORUM. Already with QUORUM any possible future majority will be aware of the value, and will learn it through read repair.

Relaxing the criteria would allow to avoid having to complete unfinished rounds (repair system.paxos) after a routine maintenance,

[2020-04-30 05:49] gleb-cloudius commented on #6329
This is true for every internal user of CQL. There is nothing special
about LWT here and I do not believe it to be an big issue (if at all).
Furthermore I do not see why CQL metrics are singled out here. What
about storage_proxy metrics? Database metrics? If CQL metrics will not
include internal CQL user all those other metrics will not make sens.

--
			Gleb.

[2020-04-30 06:16] denesb commented on #6258
I haven't done a research yet, but will do at latest when looking at how this will be implemented.

[2020-04-30 06:19] gleb-cloudius commented on #6330
That is a very bad idea. Prune now forgets learnt commit and prepare
returns empty commit instead since it can be sure the commit will never be
used (because we know that all nodes have the same or higher most recently
committed ballot). But we can be sure only because we are waiting for ALL,
not QUORUM.

--
			Gleb.

[2020-04-30 06:20] psarna commented on #6319
I queued the seastar fix to 4.0 as well, as it's important for alternator drivers.

[2020-04-30 06:45] penberg opened #6331 "Integrate Redis tests with test.py"
Let's do what Alternator did in commit https://github.com/scylladb/scylla/commit/4e2bf28b8455527237baabe629f01c775fe4e48c, and move the tests to `test/redis` and integrate them with `test.py` so we will run the Redis tests as part of our CI.

[2020-04-30 07:21] enaydanov opened #6332 "lwt: assertion in boost::dynamic_bitset on execution of multi partition LWT batch."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.0.rc2
Cluster size: 1
OS (RHEL/C

[2020-04-30 07:27] denesb commented on #6029
I think it just a matter of processing all those tombstones twice, once in cache, then once when read from disk. That would be my first guess.

[2020-04-30 07:34] amnonh opened #6333 "Support mutli-table in take snapshot"
The take-spanshot command takes multiple keyspaces it would be helpful to support multiple tables as well.

[2020-04-30 08:07] bhalevy opened #6335 "Alternator dtests: Startup failed: std::_Nested_exception<std::runtime_error> (Failed to set up Alternator HTTP server on 127.0.83.1 port 8080, TLS port OFF): std::system_error (error system:98, posix_listen failed for address 127.0.83.1:8080: Address already in use)"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/469/testReport/alternator_tests/AlternatorTest/test_decommission_during_dynamo_load_2/
and
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/469/testReport/alternator_tests/AlternatorTest/test_drain_during_dynamo_load_2/

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dte

[2020-04-30 08:21] #6211 closed

[2020-04-30 08:22] jul-stas commented on #6084
After researching with @piodul we conclude that:
- you have 2 issues here: one is unnecessary preimage, the other is splitting of collection writes
- both are already fixed on master:
[code]
- The fix is a conjunction of 3 patches by Calle:
881ebe192b8ab901850838965bb1a03ecfbf78ed
532a8634c6fcdb909afcc28108bb3f67286221c8
65a6ebbd73c99df329591455a372c9a6aea3e06b

[2020-04-30 08:40] haaawk commented on #6084
What's the result if you enable preimage? @jul-stas

[2020-04-30 08:40] nyh commented on #6331
This can be very easily achieved by copying the short `test/alternator/run` script with only a few lines
of change (the options needed to enable Alternator will need to change to those enabling redis).

Duplicating this script has the risk that later we'll improve the Alternator `run` script and forget to modify the Redis one too. There's an easy solution: modify `test/alternator/run` to take the

[2020-04-30 08:42] haaawk commented on #6084
There's still an issue that we have multiple postimages per single cdc$time. We should have at most one preimage and one postimage for each cdc$time

[2020-04-30 09:48] avikivity opened #6336 "snapshot with table specified but not keyspace crashes"

[2020-04-30 09:48] avikivity commented on #6336
Fixed by cbb6880a74e9d9084f7d91e355c1dde3d8282628

[2020-04-30 09:48] #6336 closed

[2020-04-30 10:07] jul-stas commented on #6084
It's generally OK, but appears twice on second INSERT.

Speaking of multiple postimages - we thought that it's beyond the scope of this task, but we also agreed to continue the pair programming session at 15:00 today, so we can have a look into that.

[code]

[2020-04-30 10:16] bentsi commented on #6300
@syuu1228
the issue is that you mount `/var/lib/scylla/coredump` into `/var/lib/systemd/coredump`. But you need to do the opposite.

Definition of `what` and `where`:
[code]
I opened PR that should fix this. https://github.com/scylladb/scylla/pull/6301

When testing that coredump created you also need to:

1. check that it is created in the correct path
2. remove the test coredump file after it wa

[2020-04-30 10:21] nyh commented on #6307
So according to what @denesb wrote this is not just a performance issue, a reverse query will outright fail if a partition is larger than 1MB... We need a test for this case, and of course to fix it. I'll update the title and tags accordingly.
There is no real reason why a reverse query should need to read into memory the entire partition... There is no reason to read into memory more than a promo

[2020-04-30 10:31] bhalevy opened #6337 "When taking a snapshot of a shared sstable only one shard should create_links"
Scylla version 3b31acfa80338314717d438f7491c499dccf167f

Currently, when taking a snapshot, it looks like multiple shards call create_links on the same source sstable to the same destination snapshot directory in parallel.

Although this is allowed it is sub-optimal and we can do with only one of the shards interested in the sstable linking it to the snapshot dir.

/cc @raphaelsc

[2020-04-30 10:45] avikivity commented on #6307
Reverse queries can be implemented using the `prev_unfiltered_size` in m format sstables.

Note it is quite difficult since all of out sstable code is oriented at reading a byte stream.

We might construct a virtual input_stream that takes row data and presents it in reverse order. The parser will have to cooperate by feeding prev_unfiltered_size back to the stream.

[2020-04-30 11:22] raphaelsc commented on #6337
/cc @glommer

After off-strategy work, table's sstable set will only contain unshared SSTables, so most of these problems related to redundant work due to shared SSTables will be gone.

As you know, we also have metric related issues with shared SSTables data being accounted more than once, at every shard they belong to.

[2020-04-30 11:28] roydahan commented on #6069
Yes, and Piotr is right.
We have the tests, the issues were known, but I'm not aware of any fix for that.
In fact, this task is stuck on "Pending Dev" for almost a year in our queue.

[2020-04-30 11:31] avikivity commented on #6328
This issue says very little about the problem, it just outlines a solution.

What problem is solved?

[2020-04-30 11:48] roydahan commented on #6232
@juliayakovlev I dont' recall the version, but here is the link to these sstables:
https://s3.amazonaws.com/scylla-qa-team/keyspace1.standard1.100M.tar.gz

[2020-04-30 11:53] bhalevy commented on #6257
@tgrabiec / @juliayakovlev did you manage to find the ami / debuginfo?

[2020-04-30 11:54] raphaelsc commented on #6328
@avikivity Sorry. Going to change the description, but it's basically about ENOENT when a operation, which iterates through the SSTable set, runs in parallel to resharding.

[2020-04-30 11:54] roydahan commented on #5647
@fgelcer now that you've run the test on 4.0, can you please report back?

[2020-04-30 12:02] juliayakovlev commented on #6257
@bhalevy I created instance from this ami and sent it'a IP to @tgrabiec . There is debug file there

[2020-04-30 12:31] nyh opened #6340 "Alternator: improve error message on creation of an already-existing table"
If we try to create an already existing table, e.g., by running twice a table-creation command such as
[code]
We get an error message saying:

The error message should say that the table already exists (even if what we technically tried to do was to create a keyspace for it), because the DynamoDB API does not have a concept of keyspaces, so error messages shouldn't mention this concept (except in

[2020-04-30 13:45] gleb-cloudius opened #6341 "system.local can still be used to store truncation records sometimes."
*Installation details*
Scylla version (or git commit hash): eac9e253e7e40e6266de67d22e3ad3a707191768

A node starts with 'need_legacy_truncation_records' set to true and only after `cluster_supports_truncation_table` feature is resolved it is reset to false and legacy records are no longer saved. But between those two events any truncate attempt will be saved in system.local.

One such case is `dr

[2020-04-30 14:33] #6241 closed

[2020-04-30 14:33] #6221 closed

[2020-04-30 14:33] #6305 closed

[2020-04-30 14:33] #6319 closed

[2020-04-30 14:55] fgelcer commented on #5647
the test run terminate_and_replace_node nemesis, but it miserably failed with #6248 , so at the end, we finished the nemesis with one node less than we started (started with 6 nodes).
In addition to it, our monitor node ran out of memory, and that was addressed by https://github.com/scylladb/scylla-cluster-tests/pull/2099

[2020-04-30 15:11] bhalevy opened #6342 "use-after-free in paxos_tests.TestPaxos.cas_statement_timeout_test in 4.0"
Seen in https://jenkins.scylladb.com/view/scylla-4.0/job/scylla-4.0/job/dtest-debug/28/testReport/paxos_tests/TestPaxos/cas_statement_timeout_test/
Scylla version 51e3e6c6553c8a45561292f3b0247158818e429e
There are cores on all nodes.
https://jenkins.scylladb.com/view/scylla-4.0/job/scylla-4.0/job/dtest-debug/28/artifact/logs-debug.2/1588249912763_paxos_tests.TestPaxos.cas_statement_timeout_test/no

[2020-04-30 15:12] bhalevy commented on #6342
@kostja / @gleb-cloudius fyi

[2020-04-30 15:20] bhalevy commented on #6232
@denesb ^

[2020-04-30 15:23] slivne commented on #6248
Fix for #6242 was merged need to see if this reproduces - if not please close

[2020-04-30 15:24] denesb commented on #6232
I will have a look at the sstable.

[2020-04-30 15:24] slivne commented on #6182
- @asias lets go back to this one - not that you solved the stuck repairs issues.

- @fgelcer lets check if this reproduced on 4.0.rc3

[2020-04-30 15:24] denesb commented on #6232
@roydahan the link doesn't work for me.

[2020-04-30 15:42] bhalevy commented on #6342
@ManManson  could this be caused by 057adc8b4de?
`injection_name` being freed under the feet of `enable_on_all` maybe?

[2020-04-30 15:48] tzach opened #6343 "Support for Ubuntu 20.04"
*Installation details*
Scylla version (or git commit hash): 4.0

Ubuntu 20.04 LTS (Focal Fossa) is now available https://releases.ubuntu.com/20.04/

[2020-04-30 15:53] ManManson commented on #6342
@bhalevy It looks like we need to backport this commit to fix the issue: https://github.com/scylladb/scylla/commit/e5a2ba32b9a896106681b4b7f326533f8af1e0b2#diff-192ef1642cb75cf460ad0949a1e83c63
Btw, I don't see that relevant changes in `service/paxos/paxos_state.cc` are backported (https://github.com/scylladb/scylla/commit/3206c1bf66e624a4c9d9f99ea039d46499002bbd). Without this commit (and also a

[2020-04-30 16:10] piodul commented on #6084
@haaawk Together with @jul-stas, we came to the following conclusions:

We can't, in general, have at most one pre/post row for single cdc$time. One cdc$time may correspond to a batch, which may change several rows. The best we can do is to have one pre/post row for each row changed.

This issue is partially resolved by the fact that we already do "splitting" of the batch (for the uninitiated, int

[2020-04-30 16:30] bentsi commented on #6232
@denesb I've sent you a link by email, since it needs specific  user-agent to download this

[2020-04-30 17:12] tgrabiec commented on #6257
It's a real OOM.

There's lots of background LWT reads.

[code]

[code]

[2020-04-30 17:15] avikivity commented on #6257
We could print all of the information that `scylla memory` prints when an OOM happens, reducing the need to inspect the core sometimes.

[2020-04-30 17:17] avikivity commented on #6257
84 active reads/2600 queued reads isn't a lot.

[2020-04-30 17:21] vladzcloudius commented on #6069
@roydahan According to to @piodul there isn't any known issue and everything should work.

I'm confused.
@roydahan If there is a known issue, could you, please, post the github issue number?

[2020-04-30 17:23] tgrabiec commented on #6257
There are many sstables though. We have 4692 sstable readers:

[code]

[2020-04-30 17:32] tgrabiec commented on #6257
[code]

[code]
[code]

[2020-04-30 17:36] denesb commented on #6232
Loading these sstables fails on my machine as well, with the same error. At this point I suspect that these sstables were written with a different, non-compound schema, although I couldn't find any hard proof for that (I'm not sure if the ka format stores any schema information anywhere).
Furthermore I couldn't find a way for cassandra-stress (which I assume was used to create the table and the da

[2020-04-30 17:36] fruch opened #6345 "YCSB error 'Signature not yet current' when authentication enabled"
*Installation details*
Scylla version (or git commit hash): 4.0.rc2-0.20200427.602ed43ac7a
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0fcdfef1a8f37ec6d (eu-west-1)

## Summary
We are got this error from YCSB (aws-sdk-java 1.10.48) while using `alternator_enforce_authorization:true`

[code]

It only happen once in a 24h run.

## Logs
* Jenkins job - https://jenkins.scylladb.com/view/scyll

[2020-04-30 17:39] denesb commented on #6232
BTW row-level repair identifies tables based on their names, so if a table is dropped and re-created with the same name, while repair is starting, there is a change it will pick up the wrong schema.

[2020-04-30 18:02] nyh commented on #6345
This is very odd... The message suggests that signature_date exactly 15 minutes into the future from validity_str, which itself is 15 minutes into the future from now. What could possible cause this to occur, how is it **exactly** 15 minutes after the 15 minute we allow, and how did it happen only once in 24 hours? That's very strange. @psarna do you have any guesses?

[2020-04-30 18:18] nyh commented on #6335
main() calls server.init() on all shards, and listened on all shards. I think this was deliberate and always worked.

Seeing that the **first** message is about a failed connection, and the second one succeeded, there is also a slim possibility that the problem is something else - could it be we forgot to use SO_REUSEADD, and the port was taken from a previous run? I need to check if the HTTP serv

[2020-04-30 18:34] denesb commented on #6108
My problem is with the key API, where certain methods have different preconditions in cache/memtables and outside. This leads to confusion, people either:
* Think that keys can be really fragmented anywhere and start using `with_linearized_managed_bytes()` where it is not necessary.
* Think that keys are de-facto linear and don't use `with_linearized_managed_bytes()` at all.
* Have no idea about t

[2020-04-30 18:37] denesb commented on #2927
I think a better way would be setting a timer in the same layer that is doing the querier caching, then pass down a cancellation handle all the way down to seastar I/O. The timer, when triggered, cancels the read, including all outstanding I/O requests. If the page was filled and the reader is saved we kill the timer.

[2020-04-30 20:28] slivne commented on #6232
with regards to the schema - we have changed c-s to not use compact storage
...

So we know what causes this incorrectness

scylladb/scylla-tools-java@c1b5af75a412017429279931028970ecb15963c5

Author: Roy Dahan <roy@scylladb.com>
Date:   Mon Jan 13 12:11:01 2020 +0200

    stress: Remove "COMPACT STORAGE" from default c-s schema (#135)

    COMPACT STORAGE is not used by default when creating a ta

[2020-04-30 20:41] nyh commented on #6335
My guess about SO_REUSEADDR was wrong. In `alternator/server.c` we use
[code]
And `http_server::listen()` with one parameter does:
[code]
So we correctly set the SO_REUSEADDR option.
So the problem is something else...

@fruch just to get another silly guess out of the way, where did we get the IP address 127.0.83.1? Is it possible that multiple parallel tests pick the same IP address?

[2020-04-30 20:48] fruch opened #6346 "fail to boot on debian9 [./seastar/src/core/systemwide_memory_barrier.cc:93: void seastar::systemwide_memory_barrier(): Assertion `r2 == 0' failed]"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200430.b8ac10c45 with build-id a2bacad66b1f9c139c6f46d54a262d78ebbef176
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): debian9

## Summary

master scylla fails to boot on debian9:
[code]
## Logs

* jenkins job - https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-debian9/62/
* log - https://clo

[2020-04-30 20:59] nyh commented on #6335
I confirmed that all of Scylla's servers `listen()` on all shard, and it's normal - in fact we have to do it -  `reactor::posix_listen()` uses SO_REUSEPORT so multiple threads can listen to the same port.

Also in normal Alternator runs, we see the all the shards successfully listening on the same port, e.g.,
[code]

So a race between shards cannot explain this (unless the race exposes some Linux

[2020-04-30 21:21] fruch commented on #6335
this is very weird, cause last daily the 4 tests pass, and now two worked fine and two failed with this.

its the exact same code, and those addresses were used in other test but none that should hold this port.

I don't a clue what's  breaking those two...

[2020-04-30 21:27] nyh commented on #6335
I was wrong in what I wrote about SO_REUSEPORT. Seastar doesn't actually use it! It has this:
[code]
So we don't actually use SO_REUSEPORT... It turns out Seastar does something completely different:

As far as I can tell, only one shard is supposed to use `posix_network_stack` and really call `engine().posix_listen()`, while the other shards should use  `posix_ap_network_stack` and do not actuall

[2020-04-30 21:37] nyh opened #6347 "Print "listening" success or failure only once while booting Alternator"
When Scylla boots with Alternator we see these messages:
[code]
Note how all the services print just one message on their success or failure to listen, from shard 0, while Alternator prints a message on every shard.

This is not only superfluous, in issue #6335 we discovered it is outright confusing in case of failure: If Seastar only really calls `listen()` on shard 0, only shard 0 will fail to l

[2020-04-30 21:40] nyh commented on #6335
So @fruch is it possible that we had two concurrent dtests pick the same IP address? How is that IP address picked in the dtest? (thought it uses 127.0.0.<num> for node <num>, but clearly it doesn't, so I don't know what it uses, and how we ensure not to use the same IP address in multiple parallel tests).

[2020-04-30 21:44] nyh commented on #6335
Sorry about the guess, but another wild guess:
Seeing that Scylla was able to take other ports on this IP address, but not 8080, leads me to guess that maybe something on that machine was simply taking 0.0.0.0:8080. The number 8080 is pretty popular for other things, could it be that we had some unrelated random process on this machine is taking this port on all interfaces?

[2020-04-30 21:47] fruch commented on #6335
I'm sure we don't in this session, and even if we had only 4 tests, and
they were'nt running in the same time.

if we had same workerer running 2 sessions it might happen, but those tests
are only in master, so the no other job have them to run this in parallel..

On Fri, May 1, 2020, 00:40 nyh <notifications@github.com> wrote:

[2020-04-30 21:49] fruch commented on #6335
could be, but still weird, since it isn't running constantly.

On Fri, May 1, 2020, 00:44 nyh <notifications@github.com> wrote:

[2020-04-30 21:55] bhalevy commented on #6342
@scylladb/scylla-maint please backport above patches

[2020-05-01 00:41] asias commented on #6232
Did the sct runs we saw repair hang use the problematic sstables?

On Fri, May 1, 2020 at 4:28 AM Shlomi Livne <notifications@github.com>
wrote:

--
Asias

[2020-05-01 01:50] andy-slac commented on #830
We too would like to see support for JBOD in Scylla. One argument that I have is that software RAID certainly has an extra overhead and negatively affects performance even in non-failed scenario. I don't quite understand the reasoning for one disk becoming full (and others don't). We do not see that happening in Cassandra, I guess even with random shard placement when number of shards is much high

[2020-05-01 02:37] #5482 closed

[2020-05-01 02:37] #5985 closed

[2020-05-01 05:20] dorlaor commented on #830
@andy-slac it's true that there can be a scenario that jbod will be better than a raid but most times it is the opposite. You can configure the raid stripe size so usually only a single disk will be accessed, thus you won't need to move too many spindles per single access, typically just one, exactly like the jbod case. This is while a single shared with the jbod case won't be able to use more tha

[2020-05-01 06:36] avikivity commented on #6232
Ok, loading sstables created with the wrong schema is expected to fail.

[2020-05-01 10:17] aleksbykov opened #6348 "cql_server - exception while processing connection on several shards if no space left on device"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash):
4.0.rc3-0.20200501.eee4c00e29 with

[2020-05-01 20:33] amoskong opened #6349 "cdc: repair causes TimeoutException and Semaphore timed out, then health check query failed"
*Installation details*
Scylla version (or git commit hash): 4.0.rc2-0.20200427.602ed43ac7a
Cluster size: 6 db nodes
Db instance type: i3.4xlarge
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0fcdfef1a8f37ec6d (eu-west-1)

### Description

A general 'nodetool repair' caused the `Semaphore timed out: smp_service_group`.
Just execute 'nodetool repair' on a db node.

At the end of NoCorruptRepair nemesis, a se

[2020-05-01 20:39] amoskong commented on #6349
### CDC:

cdc is enabled in this job.
used 4 workloads to cover both true and false of preimage and postimage.

### SCT config:

https://github.com/scylladb/scylla-cluster-tests/blob/branch-4.0/test-cases/longevity/longevity-cdc-100gb-4h.yaml

### Workloads:
stress_cmd: [ "cassandra-stress user no-warmup profile=/tmp/cdc_profile.yaml ops'(insert=2,read1=1,update_number=1,update_name=1,delete1=1)'

[2020-05-01 21:53] PleasingFungus commented on #6110
Apologies for the delay here - just got back from vacation! Here's what I believe you're asking for, but please correct me if I misunderstood again.

![Screen Shot 2020-05-01 at 2 51 42 PM](https://user-images.githubusercontent.com/1192475/80844385-5afe9380-8bbb-11ea-86ca-6a79beb9aabc.png)
![Screen Shot 2020-05-01 at 2 51 37 PM](https://user-images.githubusercontent.com/1192475/80844390-5df98400-8

[2020-05-02 04:59] avikivity commented on #2601
@glommer in addition to fixing iotune, we need it to report iops with iodepth=1 (e.g. inverse latency). Then we can set sstable_buffer_size = max_read_bandwidth * latency_at_iodepth_1.

Given typical numbers, bandwidth = 600 MB/s and 10 ms seek latency, we get a sstable read buffer size of 6 MB.

@syuu1228 we should also adjust scylla_raid_setup to use a much bigger chunk size (32 MiB) if the comp

[2020-05-02 05:25] dorlaor commented on #830
@andy-slac see https://github.com/scylladb/scylla/issues/2601#issuecomment-622669515

[2020-05-02 05:33] avikivity commented on #830
JBOD is quite problematic. If you lose a disk you can also lose critical information for the system tables, and then the node does not boot any more. If special care is not taken, then user data can be resurrected (losing a tombstone one one disk which has been garbage-collected on other nodes)

We can decide that system tables are mirrored on the disks instead of striped, but that is even more wo

[2020-05-02 10:42] nyh commented on #6335
I unassigned myself. Other than the confusing messages from multiple shards (for which I opened issue #6347) I couldn't find anything in the source which might explain how the taken port 8080 can be anything besides another actual process which took port 8080, probably IADDR_ANY. I'll need either more evidence or more ideas to make progress on this issue.

[2020-05-02 10:44] nyh commented on #6255
Closing. @psarna also already backported to 4.0 so nothing left to do.

[2020-05-02 10:44] #6255 closed

[2020-05-02 11:08] nyh opened #6350 "Add Alternator consistency tests"
Alternator's existing functional tests, in `test/alternator/`, focus on testing the functionality of a single-node deployment - that it returns the expected results on various requests. However, while this framework allows us to check (for example) that we can read what we wrote, it cannot check **consistency** or **isolation** guarantees that only come into play in multi-node deployments. As a sm

[2020-05-02 15:52] mingfang commented on #2038
I can recreate this problem 100% of the time when I mount `/var/lib/scylla` on a cephfs volume.
I have a cluster of 3 that starts up fine from scratch.
But I get this error on startup when I bounce on of the nodes.

[2020-05-02 17:44] fruch commented on #6335
we could change the port being used, if this keep happening

[2020-05-03 05:31] tzach commented on #2836
@amoskong can we close this? the test patch is mergred and #3096 is fixed

[2020-05-03 06:29] fruch commented on #6350
I think dtests should be the perfect match for those tests.

[2020-05-03 06:48] fruch commented on #6345
I see more occurrences of it,

I think something is fishy in this:
[code]

cause the `signature_date` seem to match to time this print occurs

[2020-05-03 08:13] bhalevy opened #6351 "Error when replacing node: Startup failed: std::runtime_error (unable to find sufficient sources for streaming range ..."
Seen in multiple dtests at scylla version e44b2826abba0d1c6ae91b7d40f0af112a24517d
I suspect it could be caused by d78fbf7c1677a6d30d9f4c24796147c45b582871
With or without relationship to b8ac10c4514d2ff099a288dfa3cb6f938b42d582

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/471/artifact/logs-release.2/1588467306499_counter_tests.TestCountersOnMultipleNodes.counter_c

[2020-05-03 08:53] bhalevy opened #6352 "verify_latest_copy dtests fail with unexpected query results"
Seen starting https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/470/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/verify_latest_copy_rebuild_node_test/
And in 4.0, starting https://jenkins.scylladb.com/view/scylla-4.0/job/scylla-4.0/job/dtest-release/29/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/verify_latest_copy_rebuild_node_test/

[2020-05-03 08:59] ShlomiBalalis commented on #6297
@asias So is it more of a manager issue? Because it happened this week as well

[2020-05-03 09:56] bhalevy commented on #6351
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/471/artifact/logs-release.2/1588474220631_replace_address_test.TestReplaceAddress.replace_first_boot_test/node4.log has a slightly different failure signature but it could be related.

node4 is started to replace node3 using `"-Dcassandra.replace_address_first_boot="+self.cluster.get_node_ip(3)`
but it seems like it is tr

[2020-05-03 10:50] bhalevy commented on #6352
Removing the "showstopper" label and the 4.0 milestone as these tests were written with repair-based node operations in mind (e.g. scylladb/scylla-dtest@58567755a0896f7093ab45137beb2a9ae010dc33) and they won't pass without explicit repair with streaming.  So them failing cannot be considered a regression.

[2020-05-03 11:38] tzach opened #6353 "Alternator Docs - explain RF of new DC"
Alternator replication is set for RF=3 per each DC on *Cluster Creation*
https://github.com/scylladb/scylla/blob/master/docs/alternator/alternator.md#running-alternator

There is no way (via Alternator REST API, or nodetool) to add a new DC and extend the replication to it as well

[2020-05-03 11:40] tzach commented on #5727
This is even more of an issue where nodetool is not available, for example Scylla Cloud.
A virtual table will solve this issue.

[2020-05-03 13:32] fruch opened #6354 "Startup failed: std::runtime_error (Other bootstrapping/leaving/moving nodes detected, cannot bootstrap while consistent_rangemovement is true (check_for_endpoint_collision))"
*Installation details*
Scylla version (or git commit hash):  3.3.1-0.20200418.6f939ffe199
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI):  Ubutnu16.04
Scylla version: 3.3.1 (-)
Instance type: n1-highmem-8

## Summary

During setup for rolling-upgrade test on ubuntu 16.04
node4 failed to start with the following error:
[code]

## Logs
* **test-id**: d2051c7d-7344-42fd-881c-d93fe898c262
* **Jenkins

[2020-05-03 15:15] slivne commented on #6352
4.0 lets disable the tests
main / 4.1 - lets force repair based operations

[2020-05-03 15:17] bhalevy commented on #6352
after discussing with @slivne offline, we can enable repair-base ops in this test in 4.0 too.

[2020-05-03 15:20] slivne commented on #6121
the same as #6232 - waiting for QA to generate a new data set and then we will be able to run and close

[2020-05-03 15:21] slivne commented on #6272
we merged a fix for not aboriting correctly repair streaming - we hope this is solved.

[2020-05-03 15:24] slivne commented on #6187
#6272 should have been fixed as well lets see if we get this on 4.0.rc3

[2020-05-03 15:31] fgelcer commented on #5459
seen on 4.0.rc3-0.20200501.eee4c00e29 on those 2 jobs:

[here](https://jenkins.scylladb.com/view/scylla-4.0/job/scylla-4.0/job/longevity/job/longevity-mv-si-4days/5/) and [here](https://jenkins.scylladb.com/view/scylla-4.0/job/scylla-4.0/job/longevity/job/longevity-1tb-7days/3/)

[2020-05-03 15:35] #6352 closed

[2020-05-03 15:36] slivne commented on #6351
@asias this started failing after the series for replacing node take writes

[2020-05-03 15:41] bhalevy opened #6357 "Node stuck on shutdown in repair_during_update_test"
This issue resembles #5985 but hit with the latter fixed
at scylla version e44b2826abba0d1c6ae91b7d40f0af112a24517d

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/144/testReport/repair_additional_test/RepairAdditionalTest/repair_during_update_test/
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/144/artifact/logs-debug.2

[2020-05-03 15:54] slivne commented on #6248
repair based operation have been disabled in 4.0.

[2020-05-03 16:04] slivne commented on #6120
@fgelcer please report if this happens on 4.0.rc3

[2020-05-03 16:06] slivne commented on #6272
we need to reenable repair based operations on master / 4.1 and then see if this reproduces - if it doesn't we can close