[2020-10-03 18:44] avikivity commented on #7318
Good catch!

[2020-10-03 19:32] syuu1228 commented on #7133
This was wrong, CentOS8 has more larger value unlike Ubuntu 18:
[code]

I tried to print out NOFILE value in scylla-server service in CentOS8, looks like it comming from user@1000.service, not from scylla-server.service:
[code]
On Ubuntu 16 it was:
[code]

So I think LimitNOFILE in scylla-server.service is ignored in user mode on all distributions, probably because our setting value `LimitNOFILE=8

[2020-10-04 05:37] gleb-cloudius commented on #7116
Note though that the timestamp is also hashed and it is chosen by the server, so you do not control all of the data which makes creating hash collisions harder.

[2020-10-04 07:14] longquanzheng commented on #5202
Hi team, does ScyllaDB support batch of LWTs in a single shard of a table like Cassandra?

[2020-10-04 07:15] longquanzheng commented on #6207
Hi team, does ScyllaDB support batch of LWTs in a single shard of a table like Cassandra?

[2020-10-04 07:43] slivne commented on #7249
Lets verify its without repair based operations according to the log and then analyze whats going on.

[2020-10-04 08:43] gleb-cloudius commented on #5202
If you mean batch statement for the same partition key then yes.

[2020-10-04 08:55] roydahan commented on #4567
I've done the test Avi suggested, but I can't really verify that I had the case where the replicas differs from each other after the NULL.
In a later test I used CL=ONE and higher load during insert and saw some read_repairs after full cluster upgrade (not a lot).
But again, I can't really tell if it's row missing completely or caused by the issue above.

In any case, it looks like it doesn't brea

[2020-10-04 09:28] piodul commented on #7025
I confirm that the Scylla version used in the test has Eliran's fix. So, group #2 is regular writes, and #3 is hints:

[code]

(AFAIK IDs are allocated sequentially and 0 is reserved for the default smp group, so #2 is normal writes and #3 is hints)

Nearly all smp semaphore timeouts happened on node 3. They came from both normal write and hints group:

[code]

There are nearly twice as many timeo

[2020-10-04 09:38] slivne commented on #7320
@dkropachev we need a nodetool status prior to the writes running to show the cluster is indeed fully up.

Can you please check this is the status in the logs before cassandra-stress starts to run

[2020-10-04 09:41] slivne commented on #7321
work on cassandra 3.11.3 ...

[2020-10-04 09:49] piodul commented on #7025
There was also a significant increase in time spent in streaming scheduling group:

![Zrzut ekranu z 2020-10-04 09-34-31](https://user-images.githubusercontent.com/4950936/95012000-568c4a00-0635-11eb-99b5-fcdc361d2e43.png)

...and task quota violations in main, compaction, statement and streaming groups:

![Zrzut ekranu z 2020-10-04 09-34-47](https://user-images.githubusercontent.com/4950936/95012

[2020-10-04 09:51] slivne commented on #7321
It does not seem to work on 3.0 - so its old ...

I am not sure we ever supported this

https://github.com/scylladb/scylla/issues/2061

[2020-10-04 09:52] piodul commented on #7025
In the logs, I manager to find the following error on node3, which seems to be the cause of repair failure:

2020-10-01T10:34:58+00:00  longevity-cdc-100gb-4h-4-2-db-node-9acee2d1-3 !INFO    | scylla: [shard 0] repair - repair_tracker run for repair id 2 failed: std::runtime_error ({shard 0: std::runtime_error (get_repair_meta: repair_meta_id 89595 for node 10.0.1.225 does not exist), shard 1: std

[2020-10-04 09:52] slivne commented on #7318
@raphaelsc is out this week @bhalevy can you please have someone send this fix (we have issues in the field because of that - especially when users have large blobs)

[2020-10-04 09:54] slivne commented on #7315
Yes we have a bug for this just fixed and backported we are building 4.1.8 - please retest with 4.1.8

[2020-10-04 09:58] slivne commented on #7314
@amnonh could it be that the nodetool info is called to early at boot time and then gets stuck - do we validate in the api that the node / modeules are up before access ?

[2020-10-04 10:05] slivne commented on #7308
Lets try and make sure we do not have stalls - its better to trim the trace and not have the stall then create a stall (log we have a huge bath with number of statements or whatever is needed to figure this happend).

If user has huge batches a tcpdump will reveal the data if need be / user can also probably catch this on his end when he sends such huge batches - this is intentional.

[2020-10-04 10:10] slivne commented on #7295
@fruch its fixed can we close this

[2020-10-04 10:10] slivne commented on #7294
@nyh did you merge this ?

[2020-10-04 10:12] nyh commented on #7294
Yes I did, but I think @psarna later dequeued it when he discovered a bug with "updatable_value".

[2020-10-04 10:13] slivne commented on #7291
Fix dcaf4ea4ddfb7554e7f9663cdfd81abd662a430d was merged to master and is being backported to 4.2 - we can close this issue once its merged

[2020-10-04 10:15] slivne commented on #7285
@keef-cognitiv can you please upload a coredump it will simplify the roundtrips

[2020-10-04 10:16] slivne commented on #7277
@jul-stas ping

[2020-10-04 10:18] fruch commented on #7295
Yes it's fixed,
since it wasn't merged to any master branch, it wasn't automatically closed

[2020-10-04 10:18] #7295 closed

[2020-10-04 10:26] slivne commented on #7171
Closing this issue as we can't make progress, we will be happy to fix the issue. As asias mentioned repair-based-operations will change replace operation and make it safe (no need to run repair after replace)

[2020-10-04 10:26] #7171 closed

[2020-10-04 10:28] avikivity commented on #7295
Does that mean that master is still broken?

[2020-10-04 10:31] fruch commented on #7295
Master is working with Amazon Linux 2, and didn't suffer from this issue...

[2020-10-04 10:34] piodul commented on #7025
In the meantime, hints seem to behave OK during the repair (the repair lasted between around 9:38 and 10:34):

![Zrzut ekranu z 2020-10-04 11-56-26](https://user-images.githubusercontent.com/4950936/95012728-32cc0280-063b-11eb-8711-66396f6181e6.png)

There are lots of hints being written to disk on other nodes, probably because replica writes to node3 were timing out.

As for hints sending, there

[2020-10-04 10:49] haaawk commented on #7277
What's the question @slivne ?

[2020-10-04 10:50] haaawk commented on #7308
It's enough to add seastar::thread::yield to avoid stalls. No need for trimming.

[2020-10-04 10:55] roydahan commented on #7320
It's a dup of known issues with debian9 rolling upgrade tests on GCE.
#5840

[2020-10-04 10:55] #7320 closed

[2020-10-04 11:01] nyh commented on #7321
So @slivne, shouldn't this new issue be closed as a dup of #2061?
Sure would have been nice to have a test which reproduces this (and various "with compression" settings which can be tested to work on Cassandra vs. Scylla).

[2020-10-04 11:15] slivne commented on #7249
Roy suggested to split this apart - so lets do that - so we will not assume its the same issue and then continue the analysis on that issue

[2020-10-04 11:22] slivne commented on #4567
Backported to 4.2

Lets wait with additional backports till it matures in the field

[2020-10-04 11:51] slivne commented on #7277
where is the fix :)

On Sun, Oct 4, 2020 at 1:49 PM Piotr Jastrzębski <notifications@github.com>
wrote:

[2020-10-04 12:28] bhalevy commented on #7318
@denesb can you please look into this?  thanks

[2020-10-04 12:51] nyh opened #7325 "Alternator Streams test fails when building on clang"
@avikivity reported on the mailing list tha scylla built with clang (many unapplied patched needed) passes all unit tests except `alternator/run`, which has one failure - `test_streams_after_sequence_number`:
[code]

I tried to explain the context of this test and the failure:

CC @elcallio

[2020-10-04 13:45] bhalevy commented on #7318
@raphaelsc did you close the issue on purpose?
If so, please provide more information.

[2020-10-04 14:53] raphaelsc commented on #7318
No, by mistake. Sorry

[2020-10-04 15:06] avikivity commented on #5843
Backported to 4.0, 4.1, 4.2.

[2020-10-04 15:24] aleksbykov commented on #7249
@slivne
both i found on 4.2.rc5 where repair based operation were disabled by default. Or they should be disabled in config file, so the nodetool repair also use streaming?

[2020-10-04 15:30] nyh commented on #7204
I sent a patch for this to the mailing list, titled "[PATCH v2] alternator: change name of Alternator's SSL options".

[2020-10-04 16:00] avikivity commented on #7325
Strangely, it works on clang 11. Could be a bug fixed in the compiler, or just a small perturbation with a big effect.

[2020-10-04 16:15] eliransin commented on #7249
@sliven @asias @aleksbykov  [This](https://github.com/scylladb/scylla/issues/7249#issuecomment-702687351) last failure looks like #7025 , hundred of thousands of semaphore time outs.

[code]
The difference is that now two smp groups are failing:
1. The good old write smp group that used to be for writes + hints (group 2)
2. Group 3 which is the newly added dedicated hints semaphore.

The breakdown

[2020-10-04 16:27] eliransin commented on #7025
I think that we might want to try it also with a shard aware driver to see what will happen then. IMO there are two possibilities:
1. the cross shard semaphores don't serve their purpose in this specific use-case or maybe there is a deadlock somewhere (we know it can happen if the same semaphore is taken twice for example), creating an even worse than expected performance for non shard aware clien

[2020-10-04 21:45] #7261 closed

[2020-10-04 23:48] nyh commented on #6951
I sent a pull request for this issue, https://github.com/scylladb/scylla/pull/7328, but want to comment on something I said above.

The current code always fetches the entire item from Scylla - regardless of which parts are projected - even if just the key columns are wanted, `:attrs` is nevertheless fetched anyway. We did not have this optimization at all (it's a TODO for GetItem, not even mentio

[2020-10-05 05:03] keef-cognitiv commented on #7285
I just got the first one up at ID: 7ef910ea-1548-43b1-878f-f3eeed470681
xz takes about 5 days to compress one coredump. The first time, the files were all deleted while they were being compressed. So when I went to upload them, xz had finished and they were gone. There are a few more coming in the next couple of days as these xz processes finish that I will add as well.

[2020-10-05 06:33] denesb commented on #7318
I think overriding `validate()` would be a step back here, instead I'm going to remove the eager linearization from:
[code]
and have individual validating methods in the validator visitor decide whether they need linearising or not.

[2020-10-05 07:29] bhalevy opened #7330 "counters.hh:184:16: runtime error: signed integer overflow: 1 + 9223372036854775807 cannot be represented in type 'long int'"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/290/artifact/logs-debug.2/1601879191084_counter_tests.TestCounters.int_rollover_test/node1.log

Scylla-debug version 5b5b8b3264203d47c1b09e674ee65764651f6de4 build-id f96bff4d3063e22b3ed993d20c0f440e621808da

[code]

Decoded backtrace:
[code]

[2020-10-05 07:30] bhalevy commented on #7330
@tgrabiec can you please look into this?

[2020-10-05 07:53] aleksbykov commented on #7104
@slivne
Issue reproduced for job https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-large-partition-200k-pks-4days-test/5/ and scylla version 4.2.rc5-0.20201001.5fcc1f205c with build-id aa799d0de128964d6f55cce9d42934ea6c3b8dd5

Decommission was running for node3. And command failed with next output:
[code]

messages from node3 log:
[code]

node3 log:
[system.log.tar.gz](https:

[2020-10-05 07:55] aleksbykov commented on #7104
Nodes are avialable:
[code]

[2020-10-05 08:40] bhalevy opened #7331 "Shutting down database hangs in dtest-debug"
Seen consistently since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/604/testReport
Scylla version f1fcf4f13915c2d3ed532a3a32fc51a8ce7c08ac

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/604/artifact/logs-debug.2/1601137898758_repair_additional_test.RepairAdditionalTest.repair_option_pr_dc_host_test/node1.log
[code]

https://jenkins.scylla

[2020-10-05 08:41] bhalevy commented on #7331
@avikivity this might be related to your sstables manager changes

[2020-10-05 08:48] jul-stas commented on #7277
I'll have a look, it's not trivial to reproduce.

[2020-10-05 09:19] aleksbykov opened #7332 "Scylla-server.service failed to stop when the node was drained"
*Installation details*
Scylla version (or git commit hash): 4.2.rc5-0.20201001.5fcc1f205c
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-01949a028ae2ee8a7(eu-north-1)
instance type: i3.4xlarge

During these 2 jobs:
https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-mv-si-4days-test/6/

Drainer nemesis failed because scylla stucked during command execution: systemctl stop

[2020-10-05 10:13] penberg commented on #7153
@syuu1228 Confirmed that we can now close this issue as https://github.com/scylladb/scylla/commit/12ca7f7aceae0e68aef361c3a904e983c8b185cd is merged.

[2020-10-05 10:13] #7153 closed

[2020-10-05 10:17] xemul commented on #6189
@bhalevy , yes, the Btree effort is about it, but the mutation_partition::_rows is not yet patched, as Btree works notably slower on insertions into (almost)empty trees which heavily affects the perf/mutation test.

[2020-10-05 10:46] bhalevy commented on #7331
I reproduced the hang locally with the following additional debug printouts:
[code]

dtest command line:
[code]

I'm seeing the following pattern in the logs:
[code]

Here is the full log:
[node5.log.gz](https://github.com/scylladb/scylla/files/5326866/node5.log.gz)

[2020-10-05 10:46] bhalevy commented on #7331
Cc @xemul

[2020-10-05 11:11] bhalevy commented on #7331
Similarly, in database_test `test_database_with_data_in_sstables_is_a_mutation_source`:
[code]

[database_test.log.gz](https://github.com/scylladb/scylla/files/5326974/database_test.log.gz)

[2020-10-05 12:29] roydahan commented on #7332
We've seen it during tests 2 out of 3 times (different clusters where the drain nemesis was issued on).

I tried to reproduce it manually on the same node it happened on (13.49.0.234) and it happened on my second try.
What I did is running the followings one after another:

sudo systemctl start scylla-server
systemctl status scylla-server
nodetool drain
sudo systemctl stop scylla-server

Then, the

[2020-10-05 12:39] slivne commented on #7249
@aleksbykov 4.2.5.rc5
- repair will be used only for repair
- all other operations that involve streaming (add node / rebuild / decomission / removenode) - will use old streaming.

[2020-10-05 12:39] bhalevy commented on #7332
@xemul please look into this

[2020-10-05 13:09] xemul commented on #7332
The log messages are exactly the same as in #7077, and the 5fcc1f205c doesn't have the fix (ca9422ca)

[2020-10-05 13:20] amnonh commented on #7137
when you start scylla-jmx you should  use the `-r` flag to enable remote jmx connection

[2020-10-05 14:12] vladzcloudius commented on #7307
What I had in mind when I said that it's not wise was the reconstructed statement could be rather different from the original one (due to defaults and such).
Since tracing is usually done to catch things in the code - this may harm usefulness of it significantly.

Hmmm... Based on Kostya's comment that was supposed to be working - but  @jul-stas was unable to see that. Julius, did you use the code

[2020-10-05 14:20] vladzcloudius commented on #7319
@raphaelsc I agree that we need to be able to know the total amount of IN elements from the trace.

I'm not sure that this info deserves a special treatment in the `sessions` table which is supposed to be as generic a and laconic as possible.

We may want to add the corresponding trace point that would log this info: trace points are saved in the `events` table.

BTW, could you share the correspon

[2020-10-05 14:41] tgrabiec commented on #7330
Looks like ASAN doesn't like the fact that we overflow int64_t. The test case is explicitly designed to exercise this case (rollover the value), so I assume we just haven't run this in a debug mode yet.

[2020-10-05 14:51] dekimir commented on #7307
Raw statements are a high-fidelity representation of what was parsed.  But we quickly translate them into what you called "binary" above and continue working from that.  This may be why Julius wasn't able to see them.  Nevertheless, you might be able to trace the original query early on, while the raw statement still exists.

(I agree that the original CQL cannot be recreated faithfully from the "

[2020-10-05 15:11] #7131 closed

[2020-10-05 15:44] tgrabiec commented on #7330
I will provide a fix

[2020-10-05 15:46] bhalevy commented on #7330
FWIW, I think it's ubsan, not ASAN...

[2020-10-05 15:47] tgrabiec commented on #7330
Yes, corrected.

[2020-10-05 15:51] aleksbykov opened #7335 "Comman "nodetool decommission" failed with failed: streaming::stream_exception on large partition"
*Installation details*
Scylla version (or git commit hash): 4.2.rc5-0.20201001.5fcc1f205c with build-id aa799d0de128964d6f55cce9d42934ea6c3b8dd5
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-01949a028ae2ee8a7(eu-north-1)
instance type: i3en.3xlarge

Look like issue #7104, but this happened during another job, with disabled cdc and large partitions.

For writing used next scylla bench comman

[2020-10-05 15:52] dorlaor commented on #7274
Asias is on vacation, he'll address it when back, 10x

On Thu, Oct 1, 2020 at 8:22 AM Ryan Belgrave <notifications@github.com>
wrote:

[2020-10-05 15:52] aleksbykov commented on #7335
Nodes are avialable:
[code]

[2020-10-05 15:53] kbr- commented on #6418
I've finally found some time to actually sit on this issue, and I noticed the following problem.

We must open all of the readers, because we must first consume `partition_start` (which might contain a partition tombstone) and `static_row` (if exists) from each reader. Thus I deduced that an approach with a selector that creates new sstable readers when we're in the middle of a partition won't wor

[2020-10-05 16:37] kbr- commented on #6418
Another way would be... go with the selector approach, take the `partition_start` returned by the first queried reader, assume there are no partition tombstones nor static rows, and ignore `partition_start`s returned by other readers (when we open them in the middle of partition read).

This doesn't work for all sstables since the no-tombstone no-static-row assumption is not true in general.

But

[2020-10-05 17:06] roydahan opened #7336 "Very High latency followed by many "_read_concurrency_sem" errors"
*Installation details*
Scylla version (or git commit hash): 4.2.rc5-0.20201001.5fcc1f205c
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI
Instance type: i3.4xlarge
AMI ID: ami-01949a028ae2ee8a7 (eu-north-1)
Test ID: 1b9d6ec2-35b1-4f77-afc9-60dca50cfc39
Test Name: longevity-200gb-48h-test
Dataset:
1. prepare using c-s ~200GB (RF=3, CL=ALL, LeveledCompactionStrategy)
2. Writing during the t

[2020-10-05 17:08] roydahan commented on #7336
Full Logs:
db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/1b9d6ec2-35b1-4f77-afc9-60dca50cfc39/20201004_082632/db-cluster-1b9d6ec2.zip
loader-set - https://cloudius-jenkins-test.s3.amazonaws.com/1b9d6ec2-35b1-4f77-afc9-60dca50cfc39/20201004_082632/loader-set-1b9d6ec2.zip
monitor-set - https://cloudius-jenkins-test.s3.amazonaws.com/1b9d6ec2-35b1-4f77-afc9-60dca50cfc39/20201004_082632/m

[2020-10-05 17:10] avikivity commented on #6418
TWCS never has static rows or partition tombstones. So it's enough to detect that there are no partition tombstones, and that there are no static rows.

There is sstable metadata that tells you the tombstone timestamps. From this you can deduce there are no partition tombstones (TWCS tables also have no other tombstones).

Lack of static rows can be seen in the schema.

[2020-10-05 17:10] haaawk commented on #6418
Maybe we could store in min ck metadata a special marker if sstable contains partition deletion and another for static row. This way we would know whether we need to open this sstable to get partition deletion and/or static row.

[2020-10-05 17:13] haaawk commented on #6418
@avikivity Is there anything preventing users from deleting the whole partition with CQL operation when using TWCS? That's something new for me.

[2020-10-05 17:15] avikivity commented on #6418
Nothing, they just don't do it. Standard practice with TWCS is to fully rely on TTL.

So we can detect that they're following standard practice, and enable the optimization only if they do.

[2020-10-05 17:17] avikivity commented on #6418
It's not just you, it's everyone. So we can just detect that the assumption is correct (looking at the schema and metadata) and use the new selector only if so.

[2020-10-05 17:21] syuu1228 opened #7337 "debian/debian/debian_files_gen.py: shutil.rmtree() ignores permission error"
I mistakenly built deb package root user once, then re-run same build after that, debian_file_gen.py causes following backtrace:
[code]
It because shutil.rmtree() ignores permission error, then mkdir fails since directory already exists.

[2020-10-05 17:42] roydahan commented on #7336
### Part 2 of this issue

The cluster "lived" like this and after 16h (around 2020-10-03 10:09:59), while repair running (started 6h earlier) the latency started growing between **3-7s**.

And it seems that also other shards are now suffer from the issue:
[code]
Screenshot:
https://snapshot.raintank.io/dashboard/snapshot/2wZj38PAVvMYsiXLlx063PywM4JGn3jj

Latency metrics from scylla side:
<img widt

[2020-10-05 17:43] roydahan commented on #7336
Live monitor (temporary): http://13.49.74.229:3000/d/V3IGQPKMk/scylla-per-server-metrics-nemesis-master?orgId=1&from=1601719532603&to=1601727149972&var-by=shard&var-cluster=&var-dc=All&var-node=%5B10.0.2.49%5D&var-shard=All

[2020-10-05 17:45] raphaelsc commented on #7318
LGTM. Thanks for working on this, @denesb!

[2020-10-05 18:26] vladzcloudius commented on #7307
@dekimir
If we can make a raw_statement store the original CQL string - that would be nice.
That in particular can eliminate the need to store that `raw_cql_statement`.

[2020-10-06 05:35] bhalevy opened #7339 "crash doing repair due to exception in get_host_id called by notification handler: Host 127.0.50.2 does not have HOST_ID application_state"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/611/artifact/logs-debug.2/1601943847016_repair_additional_test.RepairAdditionalTest.repair_option_pr_dc_host_test/node4.log
Scylla version 4f30c479f31fcc55be5dbf4a44081b9c84e46d50
[code]

Decoded backtrace:
[code]

The termination itself works as planned, according to:
https://github.com/scylladb/scylla/blob/4f30c47

[2020-10-06 07:14] eliransin opened #7340 "Possible live lock: Timed out reads are not retired once got passed the read concurrency semphore"
Once a read get passed the read concurrency semaphore it will be run to completion even though it's corresponding cql
request has been timed out.
If the I/O back-end is slow enough, this can cause a live lock where each new query times out since the queue for the
read concurrency is filled with stale request that will be run to completion and by the time a new query gets served it times out
too.

[2020-10-06 07:17] denesb commented on #7340
@eliransin note that the read is still not timeout-out when it is dequeued from the semaphore, as the semaphore's queue is an expiring one, so reads will time out while doing I/O. So technically the reads in the semaphore's queue are not stale, but this doesn't change the end result, we can still arrive at a live-lock as you described.

[2020-10-06 07:18] fruch opened #7341 "cassandra-stress starts to timeout and fail after ~20min with GCE local disks"
*Installation details*
Scylla version (or git commit hash): 4.1.7 (4.1.7-0.20200918.2251a1c577)
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos8/Ubuntu1804

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): GCE (n1-highmem-16)
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count) Nvme 8/6 disks

## Summary

Trying to fill up

[2020-10-06 07:18] denesb commented on #7340
We need to implement timeout for I/O, which needs I/O cancellation implemented in seastar. AFAIK @bhalevy was looking at this at some point.

[2020-10-06 07:27] slivne commented on #7335
@roydahan / @aleksbykov regular question - did this work with 4.1 ?

[2020-10-06 07:30] slivne commented on #7335
@aleksbykov / @roydahan are the cluster details correct - the monitor is empty !!!

[2020-10-06 07:54] kostja commented on #7309
@espindola writes:

This sounds like a fine option to me.

[2020-10-06 08:15] slivne commented on #7335
I guess it did - there seems to be a clash with replace node and with the following decomissions we have

[code]
Not sure if replace succeeded or not need if it didn't the decomission should have been toward the new node 10.0.1.84 and not the old one 10.0.1.132

[code]

I don't this the previous replace ended - looking for the info

[2020-10-06 08:26] slivne commented on #7335
@aleksbykov / @roydahan I do not think the replace ended and you started a decommission - can you check the sct logs as to why you thought the operation ended

I need nodetool status output from sct prior after the replace ended and before running the decommission

I don't think we saw this bug ever:
- we may have an issue with allowing topology changes while replacing a node need to be checked
-

[2020-10-06 08:32] aleksbykov commented on #7335
Filter for 7days.

[2020-10-06 08:40] aleksbykov opened #7342 "C-s latency peaks up to 12 s with OPS fall down from 80k to 300 when scylla killed on one node."
*Installation details*
Scylla version: 4.2.rc5-0.20200930.5fcc1f205 with build-id 4b66da54b4e4ddb31c16ac5eaeb4d2d5a03d06d0
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-018f3d956678ee59a(eu-north-1)
Test-id: e7eca883-e1bb-464e-ba71-90c2ec0dae95
Job link: https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-test/58/
db logs link: https://cloudius-jenkins-test.

[2020-10-06 08:56] aleksbykov commented on #7335
@slivne

I didn't move this comment from #7104, but before this nemesis TerminateAndReplace was run on node5. But due to sct issue, the new node was not replace old one properly.
After it the cluster status was:
[code]
Before next nemesis Decommission was run on node3 cluster status was:
[code]
after the Decommission nemesis cluster status:
[code]

[2020-10-06 09:03] nyh opened #7343 "Run Dynalite tests against Alternator"
Dynalite is an open-source project by @mhart - https://github.com/mhart/dynalite. It provides a DynamoDB API over leveldb.
Dynalite has a nice collection of functional tests (see https://github.com/mhart/dynalite/tree/master/test) - almost 17,000 lines of test code in JavaScript. It would be nice to try to run these tests against Alternator, and potentially find compatibility errors we have missed

[2020-10-06 09:19] sitano commented on #956
Today user asked about this https://scylladb-users.slack.com/archives/C2NLNBXLN/p1601973772191800

[2020-10-06 09:35] slivne commented on #7335
Thanks for conforming that replace did not succeed and you have node 10.0.1.132 Down Normal when you try todo a decommission I'll try to reproduce this locally and see if we have a bug in decommission.

Once I reproduce I'll try on previous versions and see if this is a regression.

[2020-10-06 10:29] slivne commented on #7336
The nodes logs don;t contain the snapshot period - I am downloading the complete sct log - hope that helps.

The snapshot was for two tables that are empty not clear to me why this creates such an issue it shouldn't

[2020-10-06 10:53] roydahan commented on #7336
@slivne the errors started before we actually took the snapshot, they started when we ran the queries from each available table.
(select * from X limit 1;)
There was one query that keep failing (I don't know if related): SELECT * FROM system.large_rows LIMIT 1

[2020-10-06 11:02] slivne commented on #7332
@avikivity please review for backport - there is a fix in master

[2020-10-06 11:23] raphaelsc commented on #7318
FWIW, forgot to say this problem may also be triggered by blobs/strings smaller than 128k as the initial buffer size for connections is 512 bytes

[2020-10-06 11:29] tarzanek commented on #7341
so we have the reason, the nodes run with mq and share cpus with OS, so NIC traffic and SIs interfere

btw. neither of the tuning runs by default:
[code]
[code]

[2020-10-06 11:31] bhalevy commented on #7061
@avikivity the fix probably got enough soak time, we'd like to backport it eventually to 4.0

[2020-10-06 12:08] avikivity commented on #7061
Agree three weeks is plenty, will backport to 4.1 and 4.0.

[2020-10-06 12:39] elcallio opened #7344 "Alternator shard ID:s are to long"
Docs says max 65 chars. We encode (potentially) 87 chars.
Suggest removing the stream arn from shard_id, since it is redundant.

[2020-10-06 12:41] elcallio opened #7345 "Alternator endsequencenumber is never set."
The code looks at "expired" in cdc stream gen from table query, but this is neither ever set nor does it really represent the "end" of a generation.

 EndSequenceNumber should be next generations StartSequenceNumber, with maybe a confidence interval overlap.

[2020-10-06 12:43] elcallio opened #7346 "Alternator shards parent is not set very correctly"
The code relies on the sort order of cdc streamid:s from query. Should
a.) explicitly sort these so we can find token bounds
b.) Select parent so that it is the largest token < child token (i.e. start of range covering my range. (though this is somewhat beside the point).

[2020-10-06 12:48] elcallio opened #7347 "Alternator shard ID:s should be filtered by time"
Since we cannot have data read from any generation that expired more than 24h ago, nor any generation expired before the stream was created, we should filter out these generations from describe_streams.

Without this, we would get an ever larger, unbounded, set of shards as topology changes in the cluster.
Old code tries to do something like this, but looked at the wrong info (expired - never set

[2020-10-06 13:00] fruch commented on #7341
`--setup-nic-and-disks` seem like we need to add this to `scylla_setup` we didn't passing that in SCT so far.
we'll try again

as for CPU scaling, I don't seem to be able to turn it on, I'm not even sure we can do that on GCE, didn't found any information regarding that.

[2020-10-06 13:22] slivne commented on #7336
I think the node crashed

![gossip](https://user-images.githubusercontent.com/3465480/95206959-fdb4e100-07ef-11eb-9e3e-aeb68591aa6d.png)

This is the gossip_heartbit - it shows the node restarted - does the snapshot stop start the node

[2020-10-06 13:22] fruch commented on #7341
talking offline with @vladzcloudius

he mentioned this issue:
https://github.com/scylladb/seastar/issues/729

and this rule of thumb, base on the number of cpu might work better:
[code]

I'll give it a try too

[2020-10-06 13:27] slivne commented on #7336
the node that crashed / was restarted was 10.0.2.253 - @roydahan I am not seeing evidence for this in the sct log - can you please help - the nodes logs are useless the data is gone from the node history

I tried to check process id but can't find that as well.

[2020-10-06 13:32] slivne commented on #7336
scylla_gossip_heart_beat is a counter always increasing if it drops the node crashed / was restarted

[2020-10-06 13:43] roydahan commented on #7342
@aleksbykov please add a link to the monitor (till we kill it).
IIUC, you didn't find reactor stalls during that time, correct?

[2020-10-06 13:49] slivne commented on #7336
We have also hints written for that node - when it was down

![snapshot](https://user-images.githubusercontent.com/3465480/95209016-86cd1780-07f2-11eb-920a-814f63a6acdb.png)

and then hints sent to it

![hints_sent](https://user-images.githubusercontent.com/3465480/95209141-ae23e480-07f2-11eb-8a51-4fa2d95bcdbb.png)

so I am not sure where is the data - but the node was restarted and then I expect

[2020-10-06 13:55] slivne commented on #7336
The node did not crash - its the oversize allocation roy reported - but I fail to understand how metrics are reset because of this ?

@amnonh / @avikivity are metrics going to be reset because of LSA memory being fully evicted - sounds strange.

[2020-10-06 13:56] slivne commented on #7336
[code]

[code]

some time later

[code]

[2020-10-06 14:04] denesb commented on #6418
I also think we shouldn't hammer this into the existing merger. The combining reader was written with multiple fragment producers in mind, I think we should create a new one for this use-case.

[2020-10-06 14:06] kostja commented on #7258
Should be backported to 4.3 at least  (ideally to 4.2)

[2020-10-06 14:13] avikivity commented on #7061
Backported to 4.0, 4.1.

[2020-10-06 14:13] aphyr commented on #7309
I think that's valid--would you pack the sha1 into each cell or something?

[2020-10-06 14:52] tarzanek commented on #7341
hmm and looking at my comment I wanted to say it's about
cpuset, not cpuscaling governor,

so basically /etc/scylla.d/cpuset.conf
is empty
while for 16 vcpus it should set correct pairs
https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_cpuset_setup
is called from
https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_sysconfig_setup#L81
so the fix needs t

[2020-10-06 14:55] tarzanek commented on #7341
that command on your GCP does:
[code]

[2020-10-06 15:01] tarzanek commented on #7341
dry run of perftune:
[code]
so we just lock to all cpus
ok, the best thing would be to check the status of the machine when the timeouts happen to see if above is good decision or not

[2020-10-06 15:02] aleksbykov commented on #7342
Live snapshot of monitoring: https://snapshot.raintank.io/dashboard/snapshot/fIiLS7BlqtWKJMkkx87aUx2QsBbHxpx5?orgId=2
Monitoring data: https://cloudius-jenkins-test.s3.amazonaws.com/e7eca883-e1bb-464e-ba71-90c2ec0dae95/20201005_130943/monitor-set-e7eca883.zip

No any reactor stalls were found for each spike on any node

[2020-10-06 15:46] vladzcloudius commented on #7341
As wrong as the configuration might have been, @fruch, I don't think that's the root cause of timeouts.

The reason is that you are pushing the rate to the maximum (since you don't set the rate target in the c-s command line) which gets the I/O to its limit pretty fast (see the amount of background writes).

On top of that LCS kicks in and starts consuming a lot of I/O budget (rates get as high as

[2020-10-06 15:51] avikivity commented on #7342
lsa memory drops to zero for node 10.0.2.141. Were there large allocation warnings?

[2020-10-06 15:52] avikivity commented on #7342
I can't change anything in that dashboard, so can't investigate further.

[2020-10-06 17:06] avikivity commented on #6418
I agree.

[2020-10-06 17:10] fruch commented on #7341
1.2Gbs is much better then before, we failed at ~600Mbs

@tarzanek
this command isn't working, I think it's not using the corrects PATH and the relocatable python, from within the scylla_prepare I think it does work
[code]

[2020-10-06 18:00] kostja commented on #6114
We wrote a draft patch which skips syncing some rounds and measured its impact on performance, and found it negligible. Closing the issue as won't fix.

[2020-10-06 18:00] #6114 closed

[2020-10-06 18:02] kostja commented on #6149
@roydahan #6284 allows for configurable paxos_ttl_sec, so this issue should possible to write a test case for now.

[2020-10-06 18:03] tarzanek opened #7350 "relocatable scripts lack proper paths"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1
Cluster size:
OS (RHEL/CentOS/

[2020-10-06 18:04] tarzanek commented on #7341
I opened https://github.com/scylladb/scylla/issues/7350 since running tools used to work, now it's not, scripts will break, automation scripts will too

[2020-10-06 18:05] tarzanek commented on #7350
rationale behind this is e.g. https://github.com/scylladb/scylla-ansible-roles/commit/7eb2b079b34ac50dca793592d8b89b909806ee44

so all automation scripts out there are basically impacted since we started rolling out relocatable binaries

[2020-10-06 18:10] kostja commented on #6207
@longquanzheng the bugs database is not the right place to make a support request. Please refer to Scylla documentation at https://docs.scylladb.com/using-scylla/lwt/ or join Scylla Users Slack and ask for help there: http://slack.scylladb.com/

[2020-10-06 18:46] nyh commented on #7346
@elcallio I didn't understand this issue. What code, and which query? What does a "parent shard" even mean in our implementation?

[2020-10-06 18:49] slivne commented on #7336
I searched for the previous case with gossip and heart beat not perfect - its old and was never reported again https://github.com/scylladb/scylla/issues/2256

The other option is counter roll over - and I can't find an indication for that as well (the numbers are not that high to begin with and there is another node with higher values)

Last, I checked the logs on other nodes no one reported the n

[2020-10-06 21:06] slivne opened #7351 "Topology change operations (add node, decommission node etc.) should not be allowed while a replace node operation is ongoing"
Scylla : master, 4.1, 4.0 (all versions)

Scenario:
1. Cluster of 4 nodes (A,B,C,D)
2. Node D is lost
3. A new node, node E is started replacing the lost node D
4. While this operation is ongoing an additional topology change operation is requested (node B: nodetool decommission)

The additional topology change operation should fail immediately as the replace operation is "ongoing" - there is no g

[2020-10-06 21:26] slivne commented on #7335
- we may have an issue with allowing topology changes while replacing a node need to be checked

https://github.com/scylladb/scylla/issues/7351

- we may have a bug allowing decommission to start although one of the replicas is down - it should not be allowed

I think this is by design and not a bug  - what happens is that we retry the failed streaming - cassandra does the same.

[2020-10-06 21:26] slivne commented on #7335
I am closing this issue as we have a specific issue for replace + decomission

[2020-10-06 21:26] #7335 closed

[2020-10-06 21:29] slivne commented on #7336
@amnonh please check the metrics out - what can cause the heart eat counter to be reset - if this is not a direct counter (that we do ++ on)- but its exported from gossip data - we have a bug in gossip (or possibly a memory corruption).

[2020-10-06 21:52] slivne commented on #7342
@aleksbykov is the cluster still up - can you provide access to monitoring

[2020-10-06 22:07] amnonh commented on #7336
@slivne This is not a direct counter:
https://github.com/scylladb/scylla/blob/4f30c479f31fcc55be5dbf4a44081b9c84e46d50/gms/gossiper.cc#L150

It's taken from the gossip state:
[code]

[2020-10-07 00:33] #7330 closed

[2020-10-07 06:32] keef-cognitiv commented on #7285
3 more are on their way up now. There should be 4 samples total.

[2020-10-07 06:46] eliransin commented on #7336
smp_service_group#2 is the group for writes.
smp_service_group#3 is the group for hints.

[2020-10-07 06:55] slivne commented on #7336
Thanks @amnonh

So how can we have the heart beat reset to 0 ?

This is what we have on the node recorded via journal - so it was restarted by other nemesis (so we aren't lucky and can't check this via the current state of the node)

[code]

But this doesn't align with what is recorded in prometheus with regards to gossip restarting from 0 and then increasing

What does align is memory pressure

!

[2020-10-07 07:40] dkropachev opened #7352 "Clean cluster issued 'Exceptional future ignored' right after been started with no load on it"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200927.8366d2231 with build-id ce2d999679a623780ccea8bbb6e50cb8b124593e (ami-0182a0f4d1157bcdb)
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0182a0f4d1157bcdb

Db logs:
https://cloudius-jenkins-test.s3.amazonaws.com/d6b93d26-f5f2-4dc4-be4c-9fb165410f20/20201002_035714/db-cluster-d6b93d26.zip

Scylla error:
[cod

[2020-10-07 07:52] aleksbykov commented on #7342
@slivne unfortunately not. I will try to restore the monitoring stack on some aws instance

[2020-10-07 08:01] bhalevy commented on #7336
If `get_broadcast_address()` is not in `endpoint_state_map`, `get_endpoint_state_for_endpoint_ptr` will return `nullptr`, and the `"heart_beat"` counter will show as 0.

[2020-10-07 08:55] amnonh opened #7353 "Needs metrics for large rows and large cells"
There is a counter of large partitions, there should be ones for large_rows and large_cells

[2020-10-07 08:57] eliransin commented on #7336
Just a random thought. Can it be the #7340?
@roydahan I am downloading the logs but it is going to take me ~2h. If you see this before, can you search for smp_service_group#3 timeouts? you only showed  smp_service_group#2 [here](https://github.com/scylladb/scylla/issues/7336#issuecomment-703783816)

[2020-10-07 09:01] tgrabiec commented on #7258
Backported to 4.2 and 4.1

[2020-10-07 09:35] fruch commented on #7341
@tarzanek @vladzcloudius

I've playing around with it yesterday

I've change the command limit the load from c-s end,
[code]

One surge of timeouts have seen at the begining, but after that is stable for a while:
http://34.75.108.171:3000/d/eJdUlZ5Mk/scylla-per-server-metrics-nemesis-master?orgId=1&refresh=30s&from=now-1h&to=now

again compared to run on our AMIs in AWS, 40K is around half of what

[2020-10-07 10:30] aleksbykov commented on #7342
@avikivity
i restored the monitoring stack. it is available: http://13.48.177.4:3000/d/_ZQW2W5Mk/scylla-per-server-metrics-nemesis-master?orgId=1&from=1601886127906&to=1601904356655&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All
if there is no data, filter by last 7d.

[2020-10-07 10:57] avelanarius opened #7355 "Invalid aggregation result on table with index"
When using aggregates (`COUNT(*)`) on table with index on clustering key and filtering on clustering key, wrong results are returned - returned count does not match number of rows that match `WHERE`.

[code]
(↑ wrong! - should be 1)
[code]
(↑ wrong! - should be 1)

This bug is the root cause of this issue: https://github.com/scylladb/scylla/issues/7043 (at least one of causes...)

### Preliminary

[2020-10-07 11:02] haaawk commented on #7355
@penberg may be interested to know about this. SI is his baby ;)

[2020-10-07 11:03] roydahan commented on #7336
Yes, I see many of those as well.

sample of them:

[code]

[2020-10-07 11:05] haaawk commented on #7355
Also @dekimir may be familiar with COUNT machinery since he's the king of CQL layer ;)

[2020-10-07 11:07] eliransin commented on #7336
If it is reproducible, I think we should try without HH. Even if it is not the problem maybe it contributes to the situation.
Another question I have asked many times before, is there a specific reason that you don't use shard aware driver in your tests (I mean as a standard not specifically for testing how we handle non shard aware clients)?

[2020-10-07 11:07] avikivity commented on #7332
Closing as duplicate of #7077.

[2020-10-07 11:08] fruch commented on #7341
It was holding for ~3 hours, but reach ~360Gb on each node, and started failing.

[2020-10-07 11:09] bhalevy commented on #7340
@xemul how hard would that be?

[2020-10-07 11:15] bhalevy opened #7356 "retire sstable_tracker for active sstables"
Change 211b0d3eb4f8a2410c92a2a41062ecffd8bde0ef introduced `sstable_tracker` and code in `scylla-gdb` using it to get the list of sstables.

With a5369881b3e8b7ab004e520fe71fe39389e87e89, tracking of active sstable is now being done by the sstable manager, so `sstable_tracker` can be retired, and `scylla-gdb` can be updated to use the sstable_manager list(s) if it is available.

[2020-10-07 11:15] bhalevy commented on #7356
Cc @tgrabiec @denesb

[2020-10-07 11:17] slivne commented on #7336
Items to check
- Oversize allocation
- We need to run this 3-4 times again in parallel to check how much this issue reproduce
- We need to understand why we have cross shard traffic
- Roy check where backtrace decoding is done

[2020-10-07 11:56] xemul commented on #7340
@bhalevy , depends on the desired API. Current `file::read/write_dma` returns a future on which the caller can wait. We may want `file::read_dma_with_timeout(pos, buffer, len, prio, timeout)` so that the engine will resolve the future into exception after a timeout. Or we may want `file::read_dma_with_timeout(pos, buffer, len, prio, &handle)` with the ability to call `handle::abort()` or alike. No

[2020-10-07 12:07] avikivity commented on #7077
Backported to 4.2 due to #7332.

[2020-10-07 12:39] avelanarius commented on #7355
Bisected the regression to this commit: bb08af7e68197f7cb7b12c38a3aaa708d534857f

cc: @psarna

[code]

[2020-10-07 12:46] avikivity commented on #7340
@xemul the trick is to use a cancellation handle. The caller creates a cancellation handle and passes it to all the I/O it generates. If the caller wants to abort, they pull the cancellation handle. I/O that is queued will not be submitted, and I/O that is in the kernel can be cancelled (with io_cancel or the equivalent io_uring call).

[2020-10-07 12:47] avikivity commented on #7340
A cancellation handle can be similar to abort_source.

[2020-10-07 12:54] slivne commented on #7341
@Israel Fruchter <fruch@scylladb.com> which kernel are you using we know
that in the tobe gcp image we use a different kernel then whats shipped in
cenots7 / centos8

On Wed, Oct 7, 2020 at 2:09 PM Israel Fruchter <notifications@github.com>
wrote:

[2020-10-07 12:59] xemul commented on #7340
@avikivity , AFAIK `io_cancel()` doesn't really work, and can only be used to abort `IO_CMD_POLL` (oh, grepping also found some fancy USB stuff).

But anyway, the API with abort_source-like handler seems better to me too, should the read concurrency semaphore use it as well, or is there any other reason for independent wait timeout on it?

[2020-10-07 13:01] denesb commented on #7340
@xemul it doesn't have to be tied to the semaphore. We pass the timeout all the way down to the sstable reader. I think it'd be best to initiate the timeout there.

[2020-10-07 13:01] denesb commented on #7340
In fact we should implement timeouts in all leaf readers: sstable reader, memtable reader and cache reader.

[2020-10-07 13:03] xemul commented on #7340
@denesb , the question is -- why should every component have its own timeout instead of shared abort handle that's triggered from the top of this tree?

[2020-10-07 13:10] denesb commented on #7340
Because then we'd have to change all our existing code to pass down an abort handle. And we can't get rid of the timeout either, as the high level readers need it to pass it to the semaphore. So we'd end up with two parameters being passed around, one of which is used in the high layers, and one which is used in the low layers.

[2020-10-07 13:13] denesb commented on #7340
Although.... an abort handle passed around can be useful for [OOM killing reads] (https://github.com/scylladb/scylla/issues/4296).

[2020-10-07 13:14] xemul commented on #7340
They can use the abort handle too, can't they?

[2020-10-07 13:14] denesb commented on #7340
Actually we have another "thing" we pass around all the way to the bottom, the reader permit. We can tie aborting and timeout to it.

[2020-10-07 13:18] xemul commented on #7340
I guess we need to be careful not to wrap all this stuff into an abstract "read_context" thing passed _everywhere_ by reference and having all the diverse zoo onboard :D Gophers, btw, [had already come to this](https://golang.org/pkg/context/).

[2020-10-07 13:18] denesb commented on #7340
After considering this some more I think it *would* be better to handle abort/timeout on the semaphore level, though the reader permit. It would make the timeout parameter superfluous, but it kinda already is because nobody uses it past the restricted reader layer. Once we move the semaphore to the front, we can remove the timeout from the reader interface (still need to figure out how to pass it

[2020-10-07 14:16] tgrabiec commented on #7340
Duplicate of https://github.com/scylladb/scylla/issues/2927 ?

[2020-10-07 14:20] denesb commented on #7340
Yes.

[2020-10-07 14:22] haaawk commented on #7355
Well done @avelanarius!!! Now you just need to fix the issue :)

[2020-10-07 14:25] avikivity commented on #7340
There's the read_permit that's everywhere, and is shared by all readers serving the same read.

[2020-10-07 15:12] #7331 closed

[2020-10-07 15:12] #7301 closed

[2020-10-07 15:12] #7318 closed

[2020-10-07 15:15] dekimir commented on #7307
Sorry, I confused the discussion by talking about raw statements unnecessarily.  Let me restart with this claim: anything derived from `cql3::cql_statement` has the `raw_cql_statement` string available.  Therefore, most code under the `scylla/cql3/statements/` directory will let you include the original CQL string in the trace -- just use `this->raw_cql_statement`.

[2020-10-07 15:51] avelanarius commented on #7355
I found specifically where the issue is, however I don't fully understand the code.

One thing I don't understand is why `paging_state` returned from `find_index_partition_ranges`, which is paging state from index not base table:

https://github.com/scylladb/scylla/blob/f30e86395aea5f8cfae311706794eca893f36001/cql3/statements/select_statement.cc#L1002-L1011

is passed into `do_execute_base_query`

[2020-10-07 18:32] tarzanek commented on #7341
SIs after using sq_split :
[code]

so far most writes were retried

[2020-10-07 18:32] keef-cognitiv commented on #7285
All 4 have been uploaded with that ID

[2020-10-07 19:36] kostja commented on #7312
This looks like  a well isolated sub-problem of a larger problem: https://github.com/scylladb/scylla/issues/6128

[2020-10-07 19:58] kostja opened #7359 "Repair-based streaming is "best effort" which leads to linearizability violation during nodetool removenode"
Recently Scylla introduced repair-based streaming - a feature which allows to stream a token range from all available replicas, thus increasing consistency of the new node during streaming. However, repair-based streaming does not insist on using at least a QUORUM of replicas, which leads to lost data if streaming is accompanied with temporary or permanent network failure.

How to repeat:

1. Crea

[2020-10-07 20:00] kostja commented on #7243
One of the problems identified by this test has been expanded in an own github issue: https://github.com/scylladb/scylla/issues/7359

[2020-10-07 20:06] kostja commented on #7359
Dtest test case: https://github.com/kostja/scylla-dtest/tree/gh-7359

[2020-10-07 20:54] slivne commented on #7336
backtraces on node 4

[code]

The large allocations are in  (inlined by) partition_snapshot::range_tombstones(position_in_partition_view, position_in_partition_view) at /data/jenkins/workspace/scylla-4.2/build/scylla/partition_version.cc:649

We are not supposed to have range tombstones in this test - having said that I found the following:

[code]

the sstables are gone compacted - so the range_t

[2020-10-07 21:19] slivne commented on #7336
There are no range tombstones in keyspace1/standard1

Ok figure it out - system.large_cell and system.large_row  include the range_tombstones are actually markers for the fact that we had large rows / large_cells in sstables and the sstable has been deleted so now there is a range tombstone covering the info that there were large cells / large rows in an sstable.

Given that

[code]

We may have h

[2020-10-07 22:33] roydahan commented on #7336
You nailed it!
Can we kill the cluster?

Just to note that I wrote above that it may be related to large_rows:
https://github.com/scylladb/scylla/issues/7336#issuecomment-704189505

[2020-10-08 06:19] fruch commented on #7341
**Update**
http://35.231.33.180:3000/d/SfffwMcMk/scylla-per-server-metrics-nemesis-master?orgId=1&from=1602088311871&to=1602112341050

after patching the cpuset to: `1-7,9-15`
A run throttled at 40K ops by c-s,
has lasted ~5.5 hours, and failed on timeout "storm"
filled up ~600Gb on each node in that time

for compering we had one run without throttling , it lasted ~1.5 hours, and did got to 60K-7

[2020-10-08 06:55] avikivity commented on #7285
@slivne please assign someone to look at it

[2020-10-08 06:59] avikivity commented on #7336
Good catch @slivne . One simple fix we can do is replace vector with chunked_vector. It won't fix everything but it will help.

[2020-10-08 07:42] eliransin commented on #7336
[code]
The test used an old (or at least not newest ami): `scylla-qa-loader-ami-v11`
This ami contained our java driver folder which it's head was on a commit from 2018 - version 3.5
The newer ami also uses this `scylla-qa-loader-ami-v13`
Is there a specific reason for that?
Maybe it's time to upgrade.

[2020-10-08 08:16] tarzanek commented on #7341
so next step is using just 56 threads, ev. try to increase limit to 50k

the only other optimization would be kernel
check and compare kernels in current Centos 8 which you use to some Google blessed kernels (Ubuntu 18 or Ubuntu 20)
that said in above the SIs weren't that high, so the spike was either created by # of threads or some spike with busy neighbours?

[2020-10-08 08:27] denesb commented on #7285
Downloading the core(s).

[2020-10-08 09:15] slivne commented on #7352
@bhalevy I really have no idea where this is coming from (and did not open the log) - it maybe during boot and you are the experts n that (you guys changed the code in this area all year long)

[2020-10-08 09:16] slivne commented on #7350
I think we changed the scripts to use the relocatble folder and python3 - maybe we did not change all

[2020-10-08 09:19] slivne commented on #7341
@fruch which kernel version - we know that the gce image is not using the centos8 provided one - we had to change it to get a better support for the local drives

[2020-10-08 09:20] slivne commented on #7341
@bentsi ^^

[2020-10-08 09:22] slivne commented on #7340
@eliransin please consolidate the info into a single ticket #2927 and close the other)

[2020-10-08 09:25] slivne commented on #7325
@avikivity not clear to me if we need to chase this or are we targeting to use Clang 11 ?

[2020-10-08 09:25] slivne commented on #7321
yes

[2020-10-08 09:25] #7321 closed

[2020-10-08 09:26] avikivity commented on #7340
We have reader_permit, where we can stuff the abort handle (and the timeout?)

[2020-10-08 09:26] slivne commented on #7315
@dkropachev 4.1.8 is out - check with @roydahan if we ran a parallel test - or this one and please close the issue - this is fixed AFAIK

[2020-10-08 09:27] avikivity commented on #7340
In fact we don't need the timeout of we have the abort handle. We set a timer (for the entire query) that expires on the timeout, and when it expires, we pull the abort handle. So the abort handle replaces the timeout.

[2020-10-08 09:32] slivne commented on #7284
can I close this issue

[2020-10-08 09:37] bhalevy commented on #7352
Yeah, I saw that too in local testing.  The backtrace is unspecific so we'll have to dig in a little to figure out who's at fault.
That said, I'm not sure it's worth a `bug` label as it is completely benign, with no user-visible effect.

[2020-10-08 09:40] slivne commented on #7154
We have plans to add support for hierarchical scheduling groups - this should allow us to have the gossiper in the hierarchy of main. But its not there yet - @avikivity wwhat do you want todo with this issue - @nyh is right that we suspect gossiper when ever we see something running in main (and at times its a bug ...)

[2020-10-08 09:48] slivne commented on #7064
I expect that when using gossipingpropertyfilesnitch everything would be ok

I expect the ec2 snitches pull data from the aws query instance info service and then use the data returned from that - its probably the correct thing todo - but we force ipv4 addressing instead of using ipv6 when its supposed to be used.

Lets understand first what we force in the ec2 snitches and then decide if its corr

[2020-10-08 09:57] roydahan commented on #7336
@eliransin let's move these comments to a separate issue in SCT (@dkropachev is looking into our version of c-s).

[2020-10-08 10:04] fruch commented on #7341
4.18.0-193.14.2.el8_2.x86_64

@bentsi you think we could build a gce image based on 4.1.7 (is the one you have is base on master ?)

[2020-10-08 10:06] bentsi opened #7360 "scylla-server.slice: Unknown lvalue"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20201007.f30e86395
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b5be1c31eef174db [us-east-1]
OS verison: `Linux artifacts-ami-jenkins-db-node-88d47ae8-1 5.4.58-32.125.amzn2.x86_64 #1 SMP Thu Sep 3 19:06:32 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

When using latest Scylla AMI journalctl has the following message

[2020-10-08 10:07] bentsi opened #7361 "scylla-server.slice: Unknown lvalue ' in section 'Slice'"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20201007.f30e86395
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0b5be1c31eef174db [us-east-1]
OS verison: `Linux artifacts-ami-jenkins-db-node-88d47ae8-1 5.4.58-32.125.amzn2.x86_64 #1 SMP Thu Sep 3 19:06:32 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

When using latest Scylla AMI journalctl has the following message

[2020-10-08 10:08] avikivity commented on #7341
That kernel contains the google nvme fixes.

[2020-10-08 10:08] bentsi commented on #7360
some race in Github, opened two issues :) so closing this.
#7361

[2020-10-08 10:08] #7360 closed

[2020-10-08 10:14] avikivity commented on #7325
I don't yet have an answer.

[2020-10-08 10:16] eliransin commented on #2927
There is some more discussion about this on the duplicate issue on #7340 (which I'm going to close as a duplicate) , the highlights of it is:
1. We will need  I/O cancellation support in (seasrar scylladb/seastar/#811)
2. It can create a live lock where reads accumulate to such a long queue (on the read concurrency semaphore) that all of the
reads will become stale at the moment of execution.

[2020-10-08 10:17] eliransin commented on #7340
@xemul just FYI, I moved this issue to #2927

[2020-10-08 10:17] #7340 closed

[2020-10-08 10:18] eliransin commented on #2927
@vladzcloudius FYI

[2020-10-08 10:19] eliransin commented on #7336
@roydahan do you have such an issue or should I open one?

[2020-10-08 10:22] avikivity commented on #7342
![image](https://user-images.githubusercontent.com/1017210/95446559-21e7fd80-0969-11eb-850d-1e8f6ec47735.png)

The cluster switched from 2100 ops/node with 6 nodes to 2500 ops/node with 5 nodes, which is reasonable.

What's not understood is the drop during the switch.

[2020-10-08 10:22] fruch commented on #7341
@avi @slivne
Do you need anything form those clusters ? anything else to check on them ? or I can kill them ?

Should I try ubuntu18 or  ubuntu20 ? or try out the GCE image with the ml-kernel ? (or both, or all 3 options :sob: )

[2020-10-08 10:24] roydahan commented on #7336
For future reference and maybe to understand better how we reach that state, I'm adding the list of nemesis took place in this run:

[code]

[2020-10-08 10:26] slivne commented on #7056
@gnumoreno I tried to use the link and couldn't find what you are referncing can you copy paste take a screenshot and paste it here ?

[2020-10-08 10:27] tarzanek commented on #7350
I am only aware about perftune.py so far ...

[2020-10-08 10:32] avikivity commented on #7342
I see lots of table alterations. Is this part of the test?

[code]

[2020-10-08 10:35] avikivity commented on #7342
Here's when the other nodes detected the failure:

[code]

[2020-10-08 10:37] avikivity commented on #7342
But that node 2 was already having trouble, with semaphore timeouts and huge compactions:

[code]

[2020-10-08 10:38] avikivity commented on #7342
@kbr- @haaawk is cdc doing the right thing with TWCS?

[2020-10-08 10:38] avikivity commented on #7342
Looks like it's streaming related.

[2020-10-08 10:39] avikivity commented on #7342
node 2 went died on 2020-10-05T09:54:16+00:00.

[2020-10-08 10:41] avikivity commented on #7342
So, it took 25 seconds to discover the failure. @asias is this expected?

@aleksbykov how is the client driver retry policy configured? Without client-side retry, this can happen.

[2020-10-08 11:02] kbr- commented on #7342
What do you mean by "the right thing"? If you're asking about the compaction settings, here they are:
[code]

However streaming might change the distribution of ssstables as far as I understand. @raphaelsc mentioned in another thread that there might be a performance problem due to streaming creating a large number of sstables (one per vnode): https://github.com/scylladb/scylla/issues/7242#issueco

[2020-10-08 11:06] #7332 closed

[2020-10-08 11:32] denesb commented on #7285
xz taking forever to unpack.

[2020-10-08 12:27] haaawk commented on #7355
Just to sum up the investigation @avelanarius @nyh @penberg and I have done:
It seems that the problem is with partition_slice::set_range called in two places here:
https://github.com/scylladb/scylla/blob/f30e86395aea5f8cfae311706794eca893f36001/cql3/statements/select_statement.cc#L538-L550

set_range overrides the partition_slice::_row_ranges and that means losing the filtering of the query.
The

[2020-10-08 13:18] avikivity commented on #7342
Using TWCS with a reasonable window size. The huge compaction is likely because of lack of off-strategy compaction.

[2020-10-08 13:37] haaawk commented on #7342
Yes. The window is set to 1/24 of the TTL. By default to 1h because default TTL is 24h. This means there shouldn't be much more than 24 sstables.

[2020-10-08 13:47] nyh opened #7362 "query::partition_slice::set_range() is a bug trap"
Issue discovered by @avelanarius and @haaawk:

The class `partition_slice` (in `query-request.hh`) has two separate members specifying which clustering keys to query:
1. There is `_row_ranges` which specifies clustering key prefixes (but not the partition key)
2. There is `_specific_ranges` which specifies clustering key prefixes and the partition key.

It is not documented (anywhere which I could

[2020-10-08 13:51] haaawk commented on #7362
@avelanarius since you're already in context maybe you could tackle this. Please do it only after you fix #7355 so that the complexity of these two issues don't add up in a single PR.

[2020-10-08 14:52] vladzcloudius commented on #7341
@fruch If you see timeouts - this means you are overloading the cluster.
In this case you should reduce the rate - not the concurrency which is already pretty low.

The system is able to pull out as much as it can. AWS and GCE are not the same.

[2020-10-08 15:18] gnumoreno commented on #7056
![image](https://user-images.githubusercontent.com/7240118/95478684-3bd11280-0960-11eb-8d93-8d09712f786f.png)
![image](https://user-images.githubusercontent.com/7240118/95478719-4a1f2e80-0960-11eb-9936-b103a5b0ae16.png)

[2020-10-08 16:02] vladzcloudius commented on #7307
@dekimir
This is not helping us for uprepared BATCH statements because it is going to contain the whole CQL BATCH string in this case.

Please, re-read my post here: https://github.com/scylladb/scylla/issues/7307#issuecomment-702977042

I wonder if it's too complicated to make CQL parser store singular queries strings somewhere in `single_statement` for instance.

This in particular would allow us

[2020-10-08 16:36] slivne commented on #7056
- I thought that repair is supposed to write sstables to the <table>/staging directory not the <table> directory
- After we seal the sstable we move the sstable from <table>/staging to <table>

@asias can you please clarify this - is writing to staging conditional if we have an MV/SI ?

Could it be that we have a mutation that we think we will write and thus open an sstable but at the end do not w

[2020-10-08 16:37] slivne commented on #7056
I'm attaching the log from the user that has an issue with 4.1.7
[mess.log.gz](https://github.com/scylladb/scylla/files/5349462/mess.log.gz)

[2020-10-08 16:47] slivne opened #7363 "Nodes gossip heart beat version may be reset to 0 although the node did not restart"
Issues split from #7336

A node heart beat version was reset to 0 at Oct 02 18:30 although the node did not restart

This is what we have on the node recorded via journal

[code]

But this doesn't align with what is recorded in prometheus with regards to gossip restarting from 0 and then increasing

![gossip](https://user-images.githubusercontent.com/3465480/95206959-fdb4e100-07ef-11eb-9e3e-aeb685

[2020-10-08 16:48] slivne commented on #7363
this issue is to track this can happen - its not clear how this can happen.

[2020-10-08 16:52] slivne opened #7364 "Reading range tombstones causes memory pressure on LSA"
Split from: #7336

Scylla version : 4.2.rc5

[code]

[code]
This is because we are using std::vector to store the range tombstones

[2020-10-08 16:55] slivne commented on #7336
Closing this issue created separate issues for what needs to be tracked

Please note that our schema for system.large* can generate a lot of range tombstons, and reading from them can cause issues.

One workaround (for  now) is to run nodetool compact on system.large* before reading from them

[2020-10-08 16:55] #7336 closed

[2020-10-08 19:41] fruch commented on #7341
I've took the initial image we have for GCE (after we fixed a few SCT issues)
https://www.googleapis.com/compute/v1/projects/skilled-adapter-452/global/images/scylla-666-development-0-20200816-7e01ae089e1

it has kernel: 5.8.2-1.el8.elrepo.x86_64

but it seems to be much much worse

http://104.196.186.175:3000/d/CHwBAIcGz/scylla-per-server-metrics-nemesis-master?orgId=1&refresh=30s&from=now-1h&to=

[2020-10-08 19:49] fruch commented on #7341
I've ditched LCS, it help a bit. but still compaction take a toll.
I guess I don't have to much to compare to, and we should compare to result we are having in AWS ? or at least not to expect to have something close ?

[2020-10-08 23:43] dyasny opened #7365 "scylla_io_setup failing on GCP instance with 8xNVMe"
*Installation details*
Scylla version (or git commit hash):  4.1.8-0.20201002.6c43a0dc29
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): GCP n1-standard16
Disks: (SSD/HDD, count) OS: 20Gb standard disk; 8x local NVMes

[code]

Note how the raid is created and the disk is mounted an

[2020-10-09 00:40] asias commented on #7249
Please note, with Repair-based-operations disabled, we still see a 20K to 10K OPS drop during replace operation.

[2020-10-09 00:45] asias commented on #7249
It is not clear to me what node are you referring to by "after node is up"? Do you mean nodeX which runs decommission but nodeX is hard rebooted. When nodeX is restarted. Rebuild is performed on nodeX.

[2020-10-09 00:50] asias commented on #7249
Aren't runs like https://github.com/scylladb/scylla/issues/7249#issuecomment-702671734 already with repair based ops disabled?

[2020-10-09 01:03] asias commented on #7249
A short summary:

With repair based ops disabled, we still see significant OPS drop during decommission. We have 3 cases reported from @aleksbykov:

1) 60K to 20K OPS drop
https://github.com/scylladb/scylla/issues/7249#issuecomment-702606052

2) 70K to 700 OPS drop
https://github.com/scylladb/scylla/issues/7249#issuecomment-702671734

3) 78K to 1.5K OPS drop
https://github.com/scylladb/scylla/issu

[2020-10-09 01:12] dorlaor commented on #7249
Can we approve these cases are regressions?

On Thu, Oct 8, 2020 at 6:03 PM Asias He <notifications@github.com> wrote:

[2020-10-09 01:16] asias commented on #7249
Case 1 is not a regression since 4.1 because we saw similar results when running 4.1: https://github.com/scylladb/scylla/issues/7249#issuecomment-701322015.  We do not know if case 2 and case 3 are regression yet.

[2020-10-09 01:31] asias commented on #7312
I am not saying the trace is wrong but I suggest we adding logs on read path to be 100% sure that the replacing node is serving cql read. @gleb-cloudius @kostja how can we do that?

The test is against  master  which has replacing node taking writes series.

Don't we always get the lists of the nodes for read replica with:

[code]

How come the replacing node is considered for read at all?

[2020-10-09 01:39] asias commented on #7312
@slivne note you are replacing a node with the same IP address of the dead node 3 (127.0.0.3). How can you be sure the traces of node 127.0.0.3 serving read on node 1 was  AFTER  node1 is marking the replacing node as HIBERNATE status? Before node1 marks node3 HIBERNATE, node1 can still use node3 for serving reads, e.g, when node1 hasn't marked node3 as DOWN yet after node 3 was killed.

[2020-10-09 01:49] asias commented on #7312
Once we have the log which says "node3 is being used to serve read", we can check the log which says "node3 is being considered as replacing node" to see if read serving happens after the mark.

[code]

[2020-10-09 03:36] asias commented on #7312
I think I know what is going on.

The "replacing node takes read" happens in the case the replacing node is using the same IP address as the dead node which is the case in your test.  This will not happen if the replacing node uses a different IP address.

There is a window between the replacing node starts gossip service and replacing node announces the HIBERNATE status.

1. replacing node starts

[2020-10-09 03:43] denesb commented on #7285
The core I downloaded (core.scylla.996.e90241e6effe492c921b29e6a2b05fbf.42156.1601715298000000) is a different crash:
[code]

[2020-10-09 03:53] denesb commented on #7285
This is an assert triggered somewhere here:
[code]

[2020-10-09 04:05] denesb commented on #7285
We try to fast-forward to a position smaller than the current position (F5):
[code]

[2020-10-09 04:40] denesb commented on #7362
The purpose of `set_range()` is supporting paging, specifically the scenario when a page stops in the middle of a partition. In this case the next page should continue from where the previous page left off. So, the partition, at which the page stopped, will have a specific clustering range set for it, such that it ignores all clustering rows that were already read in the previous page. All other p

[2020-10-09 05:55] haaawk commented on #7362
And this is incorrect behavior. If the query was using the WHERE clause on the clustering key then set_range will override the original query slice that means the WHERE restriction will be gone and the query could return results that should have been filtered out. This probably means the bug is not only in the aggregated queries but also in nonaggregated ones.

We can. We just change the users.

s

[2020-10-09 06:13] denesb commented on #7362
Not is is not. Users take care to intersect the range-to-be-set with the default clustering ranges. See https://github.com/scylladb/scylla/blob/6c133e36d851cf64682438922a02d545f410975b/query-request.hh#L70

How do you suppose we do that so they retain the current functionality?

But it **is** working correctly if you use it correctly. You can argue that it has misleading name or is undocumented, b

[2020-10-09 06:40] denesb commented on #7285
This happens during streaming, when the multi-range reader is fast-forwarding the underlying reader to the next partition-range.

[2020-10-09 07:14] haaawk commented on #7362
Ok then it's good there. This issue is that `query::trim_clustering_row_ranges_to` should be part of set_range.

One way would be to just push `query::trim_clustering_row_ranges_to` call inside set_ranges.

I wrote `set_range is not working correctly for select with aggregation`. I see now that `query::trim_clustering_row_ranges_to` should have been called before calling set_range there. Then it w

[2020-10-09 07:35] denesb commented on #7362
I agree it would be safer if the partition slice would take care of maintaining internal consistency, especially that each current user wants the specific ranges to be consistent with the default ranges. Makes sense to not have each caller do the trimming itself.

[2020-10-09 08:32] asias commented on #7274
Hello,  @rmb938, could you set "--logger-log-level gossip=trace", reproduce the issue. Send the logs and yaml files from all nodes to me. It is best if you could reproduce on a clean & minimum cluster. If you can give me an instruction to reproduce, I can fix it  up. Thanks.

[2020-10-09 09:07] avelanarius commented on #7355
**tl;dr Our conclusions from yesterday are very likely wrong!**

After the meeting on yesterday, I still didn't fully understand how the paging is done. I had a hunch that just fixing `partition_slice::set_range()` is not the proper fix - instead that something is fundamentally wrong with the paging.

### Example case when paging is wrong and `set_range` does not "override"
I found the following v

[2020-10-09 09:19] jul-stas commented on #7277
This turns out to be a race in cpp-driver: "scout connectors" (non shard-aware) can find spurious `sharding_info` and try to connect on port 9042 expecting source-port-based-routing there. `system.clients` table does not distinguish destination ports, hence the confusion.
Scylla is OK. Driver's function is also fine, because "scout connections" die soon after, but these warnings need to be fixed.

[2020-10-09 10:06] denesb commented on #7285
The range we are fast forwarding to is larger than the previous one.

[2020-10-09 10:25] nyh commented on #7355
On Fri, Oct 9, 2020 at 12:08 PM Piotr Grabowski <notifications@github.com>
wrote:

Very nice detective work.

Despite the venerable Occam's Razor, my guess is that there is more than
one bug at play here. It is still possible that the problem we discussed
yesterday exists in one specific case, and a different problem exists in
another case. In particular, in cases where we count()ed *fewer *than t

[2020-10-09 10:38] denesb commented on #7285
Core core.scylla.996.855d6c592ef64016a029928339c8fabb.19872.1601704349000000 is something else entirely:
[code]

[2020-10-09 10:57] denesb commented on #7285
I don't understand why are we destroying the writer in the method that's creating it.

[2020-10-09 10:58] denesb commented on #7285
I wonder if there was an exception and we are unwinding the stack, but shouldn't I see some unwinder frames then? Or maybe those are filtered out by GDB?

[2020-10-09 12:36] kostja commented on #7312
Please note that for LWT it's fine and normal for a replacing node to take reads.

[2020-10-09 12:42] kostja commented on #7312
@asias I didn't write the code, but it seems you're right, get_read_executor() will call get_natural_endpoints_without_node_being_replaced().
The tracing is done here:
``
    slogger.trace("creating read executor for token {} with all: {} targets: {} rp decision: {}", token, all_replicas, target_replicas, repair_decision);
[code]

[2020-10-09 13:06] kostja commented on #5251
Suggested fix:

Sicne https://github.com/scylladb/scylla/issues/6299 is fixed,
SELECT with SERIAL consistency can be used to ensure the previous
value is LEARNed with QUORUM. Thus, if only Scylla could
identify keys in need of Paxos repair, it would be sufficient to
SELECT them with SERIAL to fix. If SELECT is done during a
topology change, LEARN will be done using a double quorum.

Unfortunately,

[2020-10-09 15:55] dekimir commented on #7307
That would be difficult, because `single_statement` is prepared from `raw::modification_statement`, which doesn't have the original query string.  It's probably easiest to re-create the string from raw statements in various [`prepare_internal`](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/scylladb/scylla%24+prepare_internal+type:symbol&patternType=regexp) overrides.

[2020-10-09 20:29] kostja opened #7366 "std::out_of_range during nodetool removenode"
Running the latest scylla jepsen from https://github.com/scylladb/jepsen one can occasionally observe:
[code]
[code]

There may be some issues with formatting of removenode arguments, but this shouldn't lead to HTTP 500 response and std::out_of_range.

[2020-10-09 21:40] vladzcloudius commented on #7307
This kind of change would require to modify the parser (lexer) so that it would store the single query sentence.

These kind of things are usually not very hard if you wrote the lexer grammar. However it wasn't us who did it so I guess it's better not touch it... ;)

@jul-stas I suggest we drop it for now.

[2020-10-09 22:34] vladzcloudius opened #7367 "Make batchlog size warning clearer"
*Installation details*
HEAD: 6c133e36d851cf64682438922a02d545f410975b

*Description*
Our current warning about a BATCH being too big is confusing:

[code]

This message makes a reader think that he/she's being warned about the batch of the size YYY, where YYY is the number of statements in the batch, while in fact this is about the amount of memory the batch is about to write.

Let's add the 'byte

[2020-10-10 01:19] asias commented on #7312
Replacing node does not have (full) data yet before it streams data from existing data. How does it serve read for LWT?

[2020-10-10 10:36] kostja commented on #7312
It will use a double quorum to retrieve the previous value, so will learn it alright.

[2020-10-10 14:24] #7337 closed

[2020-10-10 15:37] aleksbykov commented on #7336
During this job: https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-200gb-48h-test/17
During SnapshotNemesis again issue was reproduced
![Screenshot from 2020-10-10 22-28-03](https://user-images.githubusercontent.com/44991177/95659054-cf653780-0b48-11eb-8ea7-cd71b59380fd.png)
![Screenshot from 2020-10-10 22-33-48](https://user-images.githubusercontent.com/44991

[2020-10-10 20:29] nikolay-toroptsev opened #7382 "Simultaneous dropping of multiple tables caused stall detections and killed Scylla services"
Scylla version (or git commit hash): 4.1.0
Cluster size: 4 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 8

Platform (physical/VM/cloud instance type/docker): physical
Hardware: cores=20 hyperthreading=40 memory=128G
Disks: Nvme 4T encrypted. 1 disk per node

When we have dropped about 25 old tables, a lot of compaction of system tables started. This resulted in a heavy load on CPU and disk. Then

[2020-10-10 20:29] nikolay-toroptsev commented on #7382
[backtrace1.txt](https://github.com/scylladb/scylla/files/5359999/backtrace.txt)
[backtrace2.txt](https://github.com/scylladb/scylla/files/5360001/backtrace.txt)

[2020-10-11 06:35] avikivity commented on #7382
How many tables are remaining? And how many columns in total? (e.g. what does `SELECT count(*) FROM system_schema.columns` return?)

[2020-10-11 06:41] avikivity commented on #7382
Most likely this is the culprit:

[code]

If there are many columns in the database, they all get stuffed into one huge canonical_mutation here.

[2020-10-11 06:54] avikivity commented on #7285
There are no special unwinding frames.

[2020-10-11 06:54] avikivity commented on #7285
(so it's indeed likely an exception during construction of `writer`).

[2020-10-11 06:56] avikivity commented on #7285
The assert in ~append_challenged_posix_file_impl() is just wrong. It doesn't allow for a just-constructed file to be destroyed.

[2020-10-11 07:24] slivne commented on #7137
@yangly0815 - I  am closing this issue Amnon provided an answer, if you still need help please repost here and we can reopen / answer questions.

[2020-10-11 07:24] #7137 closed

[2020-10-11 07:25] bhalevy commented on #7342
@raphaelsc please examine the logs from compaction perspective to see if there's anything wrong there.

[2020-10-11 07:27] slivne commented on #7266
@haaawk
- can you please reference the CDC gossip info you mentioned above.
- this will force using this only after CDC is GAd wwhich is ok for master.

[2020-10-11 07:46] slivne commented on #7359
nodetool remoenode supports flags today: force, status - we should add another option aligned with that (I am not sure we support the other flags - but lets not override them).

I am not sure weshould insist for ever on removenode - its better to fail at some point and return failure in my view

[2020-10-11 07:48] bhalevy commented on #7342
@asias ping

[2020-10-11 08:02] bhalevy commented on #6188
@xemul is this a duplicated of #6189?

[2020-10-11 11:08] bhalevy commented on #7366
s/rande/range/ in title

[2020-10-11 11:23] bhalevy commented on #7285
This is essentially #6448.

60873d2360489c07cfb8820328f9ca1c1ece3a98 fixes this issue by auto-closing `file_writer::_out` in `file_writer::~file_writer`.
It's part of a longer series, merged in 55cf219c970034496fb4f2136535afea76f4d3cd

I can fix that too by marking the file as needs closing on the first write-like operation.
It could be less risky to backport.

[2020-10-11 11:40] fruch opened #7383 "On clean ubuntu 20.04 image, scylla_setup fails on '/dev/md0 is already using'"
*Installation details*
Scylla version (or git commit hash): 4.1.7
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 20.04
https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-2004-lts

Seem like /dev/md0 is already in used in those images, and there is no way to change this parameter vi `scylla_setup`
only if you call with `--no-raid-setup` and run `scyl

[2020-10-11 11:54] fruch commented on #7341
**Update:**
@bentsi would build me a new GCE image, based on latest master, to try it again, since the one we had didn't had very good results. (we only got to 8K requests a sec)

Trying out Ubuntu 20.04, I've run into this small issue: https://github.com/scylladb/scylla/issues/7383
Trying now Ubuntu 18.04 (kernel 5.4.0-1025-gcp), with patch to use `sq_split` as suggest by @vladzcloudius and @tarz

[2020-10-11 16:52] haaawk commented on #5257
@vladzcloudius we can now disable cache for a table. This means a write-only workload can just turn the cache off for its table. Does that resolve your problem?

[2020-10-11 21:49] avikivity commented on #5421
I think this is already fixed, but better to check.

[2020-10-11 21:50] avikivity opened #7393 "ascii validation of large cells causes large allocations"
A very large cell (megabytes) is kept fragmented until it is validated, at which point it is linearized. This causes a large allocation that can stall.

[2020-10-12 04:47] denesb commented on #7285
Core `core.scylla.996.15d5f4f8195145769fa1a757a009e66a.39618.1601698067000000` is something else again:
[code]

[2020-10-12 04:54] denesb commented on #7285
This looks like a case of error handling running on an already freed repair-meta.

[2020-10-12 05:03] cogitaria-admin opened #7395 "scylla_setup fails in non-interactive mode"
*Installation details*

Scylla version (or git commit hash): 4.1

Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): 1

I ran scylla_setup in interactive mode on the first node of a multi-node cluster.  On completion I received this message:

[code]
The suggested command **fails** with a usage message every time. There is no indication what is wrong or missing.  Just to reiterate, the failing command

[2020-10-12 05:04] bhalevy opened #7396 "Node may get stuck in schema disagreement loop when bootstrapping sequentially"
This was seen consistently starting https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/2624/testReport/junit/materialized_views_test/TestMaterializedViews/dtest___interrupt_build_process_with_resharding_half_to_max_test/ that included https://github.com/bhalevy/scylla-ccm/commit/016f29a1d0a4e6be9f6ae529c0a31aa6012a7707.

But I was able to reproduce this simply by applying this cha

[2020-10-12 05:04] bhalevy commented on #7396
Cc @tgrabiec

[2020-10-12 05:08] bhalevy commented on #7396
FWIW, the test passed when ignoring this condition in `storage_service::join_token_ring` and moving on, like this:
[code]

[2020-10-12 05:14] bhalevy commented on #7396
This issue seems pretty worrisome since the scenario is so basic.
But that said, I saw it only when starting the cluster in this test.
I'm not sure what makes it different than others, maybe it's the higher number of shards.
One more thing I noticed is that all nodes appear as seeds, even before they started:
[code]

[2020-10-12 05:37] denesb commented on #7285
This is supposed to be fixed already by 254b898cd.

[2020-10-12 05:55] denesb commented on #7285
In frame 6:
[code]

[2020-10-12 05:59] denesb commented on #7285
cc @asias
Refs: https://github.com/scylladb/scylla/issues/6853
Maybe there are still cases uncovered or there was a mistake during the backport.

[2020-10-12 06:08] asias commented on #7396
scylla version used in the test was: 266d2b6f7 (current next branch)

[2020-10-12 06:23] asias commented on #7396
reproduced with:

[code]

[2020-10-12 06:30] asias commented on #7396
node1 managed to bootstrap succesfully.
node2 started to bootstrap once node1 finished bootstrapping.
node2 got stuck because schema information in gossip are different between node1 and node2.

[code]
[code]

[code]

[2020-10-12 06:34] tarzanek opened #7397 "permission cache should try to adjust itself if there are lots of records"
In scope of https://github.com/scylladb/scylla-docs/issues/3169

the permission cache defaults are finite and when the permissions records are more than the size of cache (1000 records)
the nodes start to do lots of non-paged queries

Also auth queries should be paged to avoid false alerts from cql monitoring.

scylla should try to check for this situation and if enough memory is there increase th

[2020-10-12 06:35] bhalevy commented on #7396
@asias nodetool output above is garbled for some reason

[2020-10-12 06:36] asias commented on #7396
Looking at the log, we can see node 1's schema was 59adb24e-f3cd-3e02-97f0-5b395827453f, then node1 changed the schema to multiple different versions, and finalized to 4a26891f-47a0-3608-96c1-e508bebcb04d. Node 2 never changed the schema from the initial 59adb24e-f3cd-3e02-97f0-5b395827453.

[code]

[2020-10-12 06:37] asias commented on #7396
what do you mean, the log  `Schema version changed to` proved nodetool gossipinfo's schema info is correct.

[2020-10-12 06:42] asias commented on #7396
Same Features are enabled:

[code]

[2020-10-12 06:45] asias commented on #7396
On node1, we saw schema version is changed shortly after feature is settled. But node2, we did not see that. Perhaps, node 1 and 2 calculates the schema version differently somehow. We need people who is familiar with how we calculate the schema version to take a look.

[code]

[2020-10-12 06:51] asias commented on #7312
I am working on a patch to fix the race between gossip starts and gossip announces HIBERNATE status on the replacing node.

[2020-10-12 06:59] fruch commented on #5421
test on `scylladb/scylla-nightly:666.development-0.20201004.5b5b8b3264`
Still there is no validation of ascii on insert
[code]

[2020-10-12 07:06] asias commented on #7359
In your procedure above, both n2 and n3 are down. With RF = 3, consider a range is owned by n1, n2, n3 before the removenode, and is owned by n1, n5, n3 after the removenode ops. n1 is the only live replica. The problem is not we do not stream from quorum replicas, we actually ask to stream from all possible replicas. The problem is there is only one live replica.

We should reject the removenode

[2020-10-12 07:12] asias commented on #7359
I do agree we should be safe by default and allow user to continue with best effort flag explicitly.

[2020-10-12 07:16] asias commented on #7359
I do not like the idea to block or retry until networking is healed though. It is asking for trouble (We had a lot of retry logic for streaming and repair and it is painful to debug and reason about). We should fail fast and allow user to fix the network or the node and retry the operation.

[2020-10-12 07:20] asias commented on #7359
Alternatively, we might consider to drop the remvenode command completely. It is much more complicated operation than all the others. It can be replaced by a replace + decommission operation.

[2020-10-12 07:40] asias commented on #7249
I wanted to ensure what you meant by "rebuild streaming for keyspace cdc log tables"? Did you mean you performed a `nodetool rebuild myks` operation on the keyspace `myks` which has cdc logs enabled? And there is no node bening hard-rebooted or shutdown.

[2020-10-12 08:01] aleksbykov commented on #7249
@asias

No, i mean that command "nodetool rebuild" was running, and when it starts to rebuild streaming for keyspace where tables have cdc feature enable: streaming for base tables and scylla_cdc_log tables, then such OPS fall down was detected.

At that moment no. All nodes in cluster are up.

[2020-10-12 08:26] asias commented on #7249
Case 2 (70K to 700 OPS drop), https://github.com/scylladb/scylla/issues/7249#issuecomment-702671734, reminds an issue in the past that c-s refused to send new requests (significant QPS drop) when a node is down and it took much longer than scylla-bench to recover. During the QPS drop period, if separate c-s is started, the total QPS goes to normal immediately which suggests scylla server can handl

[2020-10-12 08:32] syuu1228 commented on #7383
Okay I found the problem.

We currently using /dev/md0 existence check to detect existing MDRAID volume, but on Ubuntu 20 GCE image there is /dev/md0 even it's unused:

[code]

I think we should use /proc/mdstat or mdadm instead.

[2020-10-12 08:36] nikolay-toroptsev commented on #7382
154 tables left. 6710 columns

[2020-10-12 08:46] denesb opened #7398 "reader concurrency semaphore: dump permit diagnostics on timeout or queue overflow"
The reader concurrency semaphore timing out or its queue being overflown are fairly common events both in production and in testing. At the same time it is a hard to diagnose problem that often has a benign cause (especially during testing), but it is equally possible that it points to something serious. So when this error starts to appear in logs, usually we want to investigate and the investigat

[2020-10-12 08:49] denesb opened #7400 "Dump diagnostics on SIGQUIT"
From @avikivity:

We should dump [memory (#6365)](https://github.com/scylladb/scylla/issues/6365) and [reader permit (#7398)](https://github.com/scylladb/scylla/issues/7398) and any other diagnostics we add in the future.

[2020-10-12 08:51] denesb commented on #7400
In a previous life we had the SIGQUIT handler read a file from a known location, where you could configure what to dump exactly. We can do this to specify the shard/semaphore/etc. to reduce the scope for the dump, with the default being dumping everything (if the file doesn't exist or is empty).

[2020-10-12 09:22] avikivity commented on #5421
That is really strange, because I see the code for it.

Perhaps the code isn't called on some paths.

[2020-10-12 09:26] syuu1228 commented on #7365
I at least able to create RAID volume with 4 SSDs w/o error:
[code]

[2020-10-12 09:52] aleksbykov commented on #7249
RBO disabled + HH enabled + Reactor Stall = 500ms + Without MV

RBO disabled + HH enabled + Reactor Stall = 500ms + Without MV

RBO disabled + HH enabled + Reactor Stall = 500ms + Without MV

[2020-10-12 10:05] #7347 closed

[2020-10-12 10:05] #7344 closed

[2020-10-12 10:05] #7345 closed

[2020-10-12 10:05] #7346 closed

[2020-10-12 10:14] denesb commented on #7285
There are multiple issues here, reopening.

[2020-10-12 10:15] denesb commented on #7285
Core core.scylla.996.e098d0e88341441dab680daf54301e87.48094.1601723214000000 is the same as (core.scylla.996.e90241e6effe492c921b29e6a2b05fbf.42156.1601715298000000).
[code]

[2020-10-12 10:16] xemul commented on #6188
@bhalevy , I would say it is.

[2020-10-12 10:18] denesb commented on #7285
So to summarize:
* core.scylla.996.e90241e6effe492c921b29e6a2b05fbf.42156.1601715298000000 and core.scylla.996.e098d0e88341441dab680daf54301e87.48094.1601723214000000 - a crash in `fast_forward_to()`. We attempt to fast-forward to a position, smaller than the current position. Could be a bug in the index reader or a bad index.
* core.scylla.996.855d6c592ef64016a029928339c8fabb.19872.16017043490000

[2020-10-12 10:42] bhalevy commented on #7285
@denesb can you please open separate issues for the distinctively different problems?

[2020-10-12 10:47] denesb opened #7404 "scylla-4.1.7: Assert failure in data_consumer::continuous_data_consumer<sstables::data_consume_rows_context_m>::fast_forward_to()"
Split from https://github.com/scylladb/scylla/issues/7285

Scylla 4.1.7-0.20200918.2251a1c577.x86_64

Coredump UUID: 7ef910ea-1548-43b1-878f-f3eeed470681

Cores:
* core.scylla.996.e90241e6effe492c921b29e6a2b05fbf.42156.1601715298000000
* core.scylla.996.e098d0e88341441dab680daf54301e87.48094.1601723214000000

Backtrace:
[code]

We try to fast-forward to a position smaller than the current stream p

[2020-10-12 10:47] denesb commented on #7285
Opened https://github.com/scylladb/scylla/issues/7404 for the fast-forward-to assert failure.

[2020-10-12 10:58] denesb opened #7406 "scylla-4.1.7: repair-meta user-after-free in create_writer()'s error path"
Split from #7285

Scylla 4.1.7-0.20200918.2251a1c577.x86_64

Coredump UUID: 7ef910ea-1548-43b1-878f-f3eeed470681
Coredump core.scylla.996.15d5f4f8195145769fa1a757a009e66a.39618.1601698067000000

Backtrace:
[code]

Possibly a variant of https://github.com/scylladb/scylla/issues/6853, a backport (https://github.com/scylladb/scylla/commit/254b898cd8bc10165a91cde3f9f09628baa4dac1) gone wrong.

[2020-10-12 10:58] denesb commented on #7406
In frame 6:

(gdb) p this
$3 = (repair_writer * const) 0x60f146e3fbc0
(gdb) scylla ptr $3
thread 1, page is free

[2020-10-12 10:59] denesb commented on #7285
Opened https://github.com/scylladb/scylla/issues/7406 for the repair-meta use-after-free.

[2020-10-12 11:02] denesb commented on #7285
Closing this issue, let's continue tracking the remaining specific issues in their specific ticket.

[2020-10-12 11:02] #7285 closed

[2020-10-12 11:11] asias commented on #7342
Yes, gossip can take ~20 seconds to mark a node down.

[2020-10-12 11:11] piodul commented on #6964
I took a look into metrics from the description (`a5343403-0079-4cbc-92e6-9da8f30f143a`) and I noticed there is high activity in the "streaming_read" scheduling group, which starts less than one minute before cassandra-stress choked on the OverloadedExceptions:

![streaming-read-high-usage](https://user-images.githubusercontent.com/4950936/95739448-2a9f4300-0c8b-11eb-8007-cdedb4971153.png)

This a

[2020-10-12 11:28] asias commented on #7342
I mentioned here  "kill one node" cause massive drop of QPS: https://github.com/scylladb/scylla/issues/7249#issuecomment-706965980

[2020-10-12 11:31] elcallio commented on #7064
The EC2 code we transposed explicitly queries the AWS lookup for a public ipv4 address. This has not changed in origin. As for the check that fails (main.cc::64):
[code]

[2020-10-12 11:38] denesb commented on #7406
@asias

[2020-10-12 12:22] denesb commented on #7404
I checked and the ranges are sorted.

[2020-10-12 12:39] denesb commented on #7404
The sstables involved: mc-81930-big-Data.db (later core) and mc-39655-big-Data.db (earlier core). @keef-cognitiv would it be possible to share these with us (all components preferably), or the index and summary ones at least?

[2020-10-12 12:52] dyasny commented on #7365
Same here. You need more disks to reproduce

[2020-10-12 13:40] tgrabiec commented on #7396
If the bootstrapping node is gossiped-with before it gossips-with the other node, it will issue a schema sync request before the other node recognizes the requestor as eligible. If the gossip order is reversed, all will be fine.

The schema pull handler checks the value of SCHEMA_TABLES_VERSION application state and responds with empty mutations if there is no such state. Schema pull happens only

[2020-10-12 13:43] tarzanek opened #7408 "python scripts core dump with non-default locale"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.2.rc4-0.20200907.bf0c493c28
Clus

[2020-10-12 13:43] tarzanek commented on #7408
I suppose the same problem happens for any other relocatable python scripts

[2020-10-12 13:44] tarzanek commented on #7408
quick workaround is of course
`export LC_ALL=en_US.UTF-8`

[2020-10-12 14:01] tgrabiec commented on #7396
I think this could be exposed after 3b1ff90a1a80c4b0d2b6784de052a376ad75e7ee, since seed nodes now do the bootstrap, and the problem happens during bootstrap.

What's also important is that the existing nodes have the bootstrapping node listed as the seed, so they will gossip with the bootstrapping node before the bootstrapping node gossips with them.

[2020-10-12 14:02] tgrabiec commented on #7396
I think it's not possible to run into in production before 3b1ff90, since when you bootstrap a node, it is not yet set as a seed on any existing node.

[2020-10-12 14:29] #7393 closed

[2020-10-12 14:33] elcallio opened #7409 "Alternator stream shards must be reported in lexicographically sorted order."
While never specified, this is assumed and required by the kinesis adapter, which wholly ignores the "lastevaluatedshardid" field, and just looks at - not the last sent - but the last sent as sorted - shard in list.

This happened to work before, but was broken by me in the parent-management PR.

[2020-10-12 14:57] bhalevy commented on #7396
@tgrabiec

I tried that, and the following seems to do the trick:

[code]

[2020-10-12 15:03] elcallio commented on #7409
I will change my evaluation. This was already broken, and if it ever worked it was more pure luck.

[2020-10-12 15:41] avikivity commented on #7408
Yes, we should just put that into the thunk.

[2020-10-12 15:44] avikivity commented on #7382
So, even if each column needed 100 bytes to describe it, and each table an extra 1k, that would still be less than 10MB.

This can cause a stall, but shouldn't cause a crash. Still, should be fixed.

Do you have stack traces from the core dumps?

[2020-10-12 16:12] aleksbykov opened #7411 "ERR: Flat mutation reader: Stream ended with unclosed partition: clustering row and coredumps on all nodes except decommissioning"
*Installation details*
Scylla version (or git commit hash): Scylla version 4.2.rc5-0.20201007.2e7177997 with build-id e5824c0da5df077bed44cc632564f3602e0b5dfb
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-01eed8854a128c529(eu-north-1)
Testid: 66e67a57-b323-47e9-bbd9-759b1e2a2c98
JOb link: https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-large-partition

[2020-10-12 17:03] slivne commented on #7411
It sounds like error handling on unexpected stream handling is broken - the stream may not get a partition end - and the code should not validate the stream at all. The partial sstables should be removed.

[2020-10-12 18:01] tarzanek commented on #7341
The hardcoded values you take from the patch I've sent should be what Google guarantees
(+ I verified with multiple iotune runs and lowered it to match Google)
so if THOSE values are too high, then this is Google SLA breach ...

[2020-10-12 18:36] syuu1228 commented on #7361
Seems like duplicate of #6783

[2020-10-12 19:23] syuu1228 commented on #7365
Tested again with GCP n1-standard16 with 8x local NVMes, not able to reproduce it.
I tried twice but result were same.
Maybe instance configuration is different with yours?

[code]

[2020-10-12 20:51] syuu1228 commented on #7350
That's because we are setting PATH for relocatable CLI tools on scylla_util.py, but perftune.py does not using it since it's not part of Scylla (it's from Seastar).
see: https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_util.py#L493

I guess we need to setup it on python3 thunk instead.

[2020-10-12 21:09] vladzcloudius opened #7415 "system_auth: use prepared paged statements for reading from system_auth tables"
*Installation details*
HEAD: 722a5db27e2014d40805dfdaa1035c1018bfb75e

*Description*
Use prepared paged queries for reading from system_auth.
Today when these are read, e.g. during the client (re)connect we see corresponding metrics bumped up and generates unnecessary noise.

[2020-10-12 21:10] vladzcloudius commented on #7415
@eliransin FYI

[2020-10-12 22:18] dyasny commented on #7365
I was using n2-standard-32 (or maybe n1-std-32) and we also got this issue with n2-std-8 with a user

[2020-10-13 00:16] asias commented on #7396
I had a similar patch to pull schema if it does not match in the paste. Tomek refused the change and thought we should trust the schema change infrastructure:

https://github.com/scylladb/scylla/pull/4782#issuecomment-517633961

[2020-10-13 00:18] vladzcloudius commented on #5257
Could you clarify how this can be done, @haaawk ?

[2020-10-13 00:25] asias commented on #7396
The schema sync is too fragile to depend on the gossip order. It should not depend on it at all. If the schema does not match, just pull it.  It is not a lot of work yet the work is super important.

Perhaps we can even a background schema check loop inside schema manager. It is simple and robust. The push mechanism still works, so the other nodes know the schema change timely.
[code]

[2020-10-13 00:31] asias commented on #5971
Ping. It is not urgent.

OK, I saw you assigned someone.

[2020-10-13 00:32] asias commented on #7312
Patch is sent: https://github.com/scylladb/scylla/pull/7416

[2020-10-13 00:59] asias commented on #7366
what parameter was sent exactly?

[2020-10-13 01:26] asias commented on #7342
I suspect it is client related. Again, take a look here: I mentioned here "kill one node" cause massive drop of QPS:  https://github.com/scylladb/scylla/issues/7249#issuecomment-706965980

Yes, it is expected. It took 20 to 30 seconds depending on the network situation. This is a force shut down. It took longer to ensure the node is really down. (Unlike if we shut down scylla process gently, it wi

[2020-10-13 01:28] asias commented on #7366
Here is a pointer:

 476     ss::remove_node.set(r, [](std::unique_ptr<request> req) {
 477         auto host_id = req->get_query_param("host_id");
 478         return service::get_local_storage_service().removenode(host_id).then([] {
 479             return make_ready_future<json::json_return_type>(json_void());
 480         });
 481     });

We can validate the input.

[2020-10-13 06:40] avikivity commented on #7342
If there is no client-side retry, then all threads would quickly block on the dead node (in its coordinator role).

I expect c-s configures client-side retry by default, so need to check what went wrong.

[2020-10-13 06:41] avikivity commented on #7249
I agree it smells like a c-s problem. Did we change anything there? Perhaps a driver update?

[2020-10-13 06:42] asias commented on #7342
I can reproduce "QPS drop to zero" with a local 3 node cluster, scylla master 1adf2cc848694ce9d2558aaea60800887d64057a.  No node operations. Just a  cql read workload + shut down a node.

1) Start 3 node in the cluster

2) Run `scylla-bench -workload sequential -mode write  -nodes 192.168.66.110 -rows-per-request 1  -partition-count 1000000   -clustering-row-count 1  -clustering-row-size 100  -key

[2020-10-13 06:48] slivne commented on #7342
Thanks asias,

We need to test this with 4.1 and see if its the same

There is a lot of difference between c-s and scylla-bench, c-s has a lot of
client side logic, scylla-bench I am not really sure what it has

On Tue, Oct 13, 2020 at 9:42 AM Asias He <notifications@github.com> wrote:

[2020-10-13 06:50] asias commented on #7342
I see the same with c-s.

[2020-10-13 07:17] denesb commented on #7411
Streaming has to be able to handle an interrupted stream and pushd down the missing fragments. Downstream has no way of knowing whether the fragment stream was interrupted by some error and thus will be discarded or whether there is a bug.
As far as I know streaming and repair both try to handle this case and close the fragment stream off properly, there is probably some wholes left in the protect

[2020-10-13 07:21] asias commented on #7406
The backport ([254b898](https://github.com/scylladb/scylla/commit/254b898cd8bc10165a91cde3f9f09628baa4dac1))  in 4.1.7 looks correct.

[2020-10-13 07:42] bhalevy commented on #7342
@asias tells me that if the node is kept in the DOWN test, the client recovers after ~30 seconds.
This is similar to the time it would take the other nodes to determine that the node is DOWN via gossip.

[2020-10-13 07:50] bhalevy commented on #7342
It would be interesting also to test the client using the Python driver and create and exclusive connection to one of the nodes that stays up so that no requests will be sent directly to the DOWN node by the client.
This will stress the internal scylla connectivity.

[2020-10-13 08:36] asias opened #7419 "Replacing node should not be marked as alive without the replacing node take writes series"
Please consider reverting commit 38d4015 from 4.0 branch (which does not have the full series: storage_service: Make replacing node take writes), it will mark the replacing node as UP so that the replacing node using the same IP address of the node to be replaced will be considered as a target to serve CQL read  which is wrong.

The commit 38d4015 should be backported together with the full "stora

[2020-10-13 08:47] aleksbykov opened #7420 "Segmentation fault and coredump happened 19 times during starting after scylla was killed"
*Installation details*
Scylla version (or git commit hash): 4.2.rc5-0.20201008.2e7177997 with build-id da0c759b8c8a46c9116a48863471a7be6bc3e2f7
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0a920601869d3e2fc(eu-north-1)
Test-id: 5b595098-02ed-4658-988f-ee8c5281ed1f
Live Monitor: http://13.53.141.12:3000
instance_type_db: i3.4xlarge
Job: https://jenkins.scylladb.com/view/scylla-4.2/job/scyll

[2020-10-13 09:07] bhalevy commented on #7419
Also you wrote above:

I'm confused. If it's not wrong what is the problem then?

Can you describe the problem in the issue title rather than the proposed solution?

[2020-10-13 09:23] aleksbykov commented on #7420
All logs: All logs available:
https://cloudius-jenkins-test.s3.amazonaws.com/5b595098-02ed-4658-988f-ee8c5281ed1f/20201011_123717/db-cluster-5b595098.zip

[2020-10-13 09:26] aleksbykov commented on #7420
Configuration: RBO disabled + MV + HH enabled

[2020-10-13 09:26] aleksbykov opened #7421 "Segmentation fault and coredump during scylla start after scylla was stopped"
*Installation details*
Scylla version (or git commit hash): 4.2.rc5-0.20201008.2e7177997 with build-id da0c759b8c8a46c9116a48863471a7be6bc3e2f7
Cluster size: 5
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0a920601869d3e2fc(eu-north-1)
Test-id: 5b595098-02ed-4658-988f-ee8c5281ed1f
Live Monitor: http://13.53.141.12:3000
instance_type_db: i3.4xlarge
Job: https://jenkins.scylladb.com/view/scylla-4.2/job/scyll

[2020-10-13 09:26] aleksbykov commented on #7421
Could be the same as https://github.com/scylladb/scylla/issues/7420, but happened after scylla was succesfully stopped

[2020-10-13 09:28] aleksbykov commented on #7421
cluster:
[code]

[2020-10-13 09:29] aleksbykov commented on #7420
cluster:
[code]

[2020-10-13 09:42] #7367 closed

[2020-10-13 09:47] asias commented on #7419
It is a typo. I updated it.

Replacing node should NOT take read.

[2020-10-13 10:07] nikolay-toroptsev commented on #7382
I'm afraid not. All we have left are logs:
[code]
Folder /var/lib/systemd/coredump is empty

[2020-10-13 10:54] slivne commented on #7342
Roy - I know we test node restarts for ages - any input from you will help
here - I don't recall having such issues in previous versions

On Tue, Oct 13, 2020 at 10:50 AM Benny Halevy <notifications@github.com>
wrote:

[2020-10-13 11:02] tgrabiec commented on #7396
On Tue, Oct 13, 2020 at 2:25 AM Asias He <notifications@github.com> wrote:

I agree that we should not depend on gossip order.

I was thinking about this as well.

First thing is, it is risky. Pulls can be heavy in some clusters. We've
seen OOMs in production clusters due to uncontrolled schema pulling. That
has been tamed since, but that's not to say that we should do full pulls
lightly.

Another

[2020-10-13 11:13] slivne commented on #7411
@denesb we need to be able to detect why the "stream" was interrupted - we have to know that to also discard what was "half written" and not use it.

[2020-10-13 11:17] bhalevy commented on #7411
Ref https://github.com/scylladb/scylla/issues/6478

[2020-10-13 11:18] slivne commented on #7421
probably a dup of #7420

[2020-10-13 11:19] bhalevy commented on #7411
@asias did the fix in https://github.com/scylladb/scylla/pull/6536 break in 4.2?

[2020-10-13 11:26] aleksbykov commented on #7421
Looks like duplicate, but in this issue scylla was stopped gently, in 7420 it was killed.

[2020-10-13 11:47] aleksbykov commented on #7420
@eliransin do you need cluster?

[2020-10-13 11:50] fruch opened #7423 "unified DEB package has broken scylla-server.service"
@fgelcer commented on [Tue Oct 13 2020](https://github.com/scylladb/scylla-pkg/issues/1622)

error during artifacts test on Ubuntu 16:
[code]

following @fruch check, it is broken since https://jenkins.scylladb.com/view/enterprise/job/scylla-enterprise/job/artifacts/job/artifacts-ubuntu1604-test/35/

last job with this failure is [this one](https://jenkins.scylladb.com/job/scylla-master/view/maste

[2020-10-13 11:51] elcallio opened #7424 "AWS kinesis expects SequenceNumbers to be bigint comparable (growing)"
Since out stream positions are timeuuids, their bits (views as 128 bits unsigned or whatnot), is _not_ the sort order. Timeuuid msb is somewhat weirdly mangled (see UUID_gen.hh), and thus comparing them like this will potentially run into cases where we report two sequentially growing sequence numbers that kinesis will read as out-of-order.

We can work around this by de-mangle the msb when conver

[2020-10-13 12:30] eliransin commented on #7420
@aleksbykov I haven't open the core yet so I don't know. Hopefully will know soon. If this is reproducible you can shut it down and worse thing I will ask you to run again once I have analyzed the core.
Thanks

[2020-10-13 13:54] #7408 closed

[2020-10-13 13:58] denesb commented on #7398
Fixed by 86bbf1763d69f8cf633cb1168daec6a6ef54fdc7.

[2020-10-13 13:58] denesb commented on #6365
Part1 merged as https://github.com/scylladb/seastar/commit/6973080cd1045675af890f155b0fcd7308b4277c.

[2020-10-13 15:37] eliransin commented on #7420
First core (core.scylla.997.e41cd5264ad54b1889921806f34be339.36858.1602351300000000):

[code]
The reason for the segfault is:
https://github.com/scylladb/scylla/blob/2e7177997004a74eb3179aef229e5173c34b971c/db/view/view.cc#L158-L160

There is a dereference without null check, so now I'll try to figure out how could this happen? And should this happen.

[2020-10-13 15:40] eliransin commented on #7420
The other core `core.scylla.997.e41cd5264ad54b1889921806f34be339.43429.1602352682000000` is exactly the same.

[2020-10-13 15:47] nyh commented on #5666
It appears that this issue was already solved, but we forgot to close it. If I run, for example, `./test.py view_schema_test`, I get errors including:
[code]

[2020-10-13 15:47] #5666 closed

[2020-10-13 15:50] aleksbykov commented on #7420
@eliransin Do you need cluster ? ))

[2020-10-13 16:01] avikivity opened #7425 "cqlsh TRACING ON output is partial"
Running cqlsh with TRACING ON on a complex-ish query gives partial results, not surprising since query writes are flushed in the background.

[2020-10-13 16:04] avikivity commented on #7425
Possible fixes:
 - before sending the response, ask all nodes/shards to flush tracing data (downside: delays response)
 - adjust cqlsh to ask the all nodes to flush tracing data for that uuid (downside: needs cqlsh adjustements)
 - have cqlsh sleep a little before querying the tracing table (downside: inaccurate, slow)

[2020-10-13 16:24] tgrabiec opened #7426 "Failed schema pulls are not retried which may leave the cluster in schema disagreement"
Schema pull is triggered in reaction to changes of advertised schema versions. Currently, if the pull fails it is not retried. This may leave the cluster in schema version disagreement until the next schema change.

We should retry failed pulls.

One way is to give up on triggering pulls from change listeners entirely and have a worker fiber which keeps issuing pulls based on current state. This h

[2020-10-13 16:24] tgrabiec commented on #7396
I think the background sync still has merit though. I opened https://github.com/scylladb/scylla/issues/7426 for this.

[2020-10-13 19:16] eyalgutkind opened #7427 "Scylla to install node_exporter 1.0 or higher with scylla releases"
Today we ship Scylla with node_exporter 0.17.
The official supported node_exporter versions are 1.0.x
Let's upgrade the released versions.

[2020-10-13 19:45] slivne commented on #7425
I expect you mean there are still some background work not written to system_traces tables as its done in the background - but just to double check - Is CQL TRACING not reading fro memetables as well / how ?

@avikivity whats your preferred approach

Please note we have cases were client enables tracing and not cqlsh - we can't differentiate between the two and we may have issues with higher traci

[2020-10-13 19:48] slivne commented on #7419
@avikivity this is the issue for reverting the code related to 4.0

[2020-10-13 19:52] slivne commented on #7415
AFAIK - internal queries are non prepared - we have that true for every where else in the system as well. One of the issues is supporting the case in which they need to  be re-prepaired.

@kostja / @gleb-cloudius - any idea how we should handle that for the internal tables that maintain state for pacos (and in the future for raft).

[2020-10-13 19:54] slivne commented on #7406
@bhalevy please assign this internally in your team

[2020-10-13 19:56] slivne commented on #7285
@keef-cognitiv we need help with in the #7404 denesb opened  - can you please check if you can provide us the info

[2020-10-13 19:57] slivne commented on #7404
@bhalevy assign this internally

[2020-10-13 19:59] kostja commented on #7415
Right now we don't do paged reads from paxos. I believe we have once discussed that already and decided to handle on the monitor level: https://github.com/scylladb/scylla/issues/6329 https://github.com/scylladb/scylla-monitoring/issues/906

[2020-10-13 19:59] slivne commented on #7397
Lets start with a warning to make this noticed for users - readjusting without user knowing about it is not perfect - there are at times other solutions (e.g. some of the permission are redundant and maybe removed)

[2020-10-13 20:05] tzach commented on #7427
@amnonh FYI
We need to validate latest exporter with Scylla Monitoring

[2020-10-13 20:08] amnonh commented on #7427
@tzach I already did and it works fine, we should also move to install from packages where possible

[2020-10-13 20:09] slivne commented on #7382
to allow coredumps to be written to /var/lib/scylla use scylla_coredump_setup (https://docs.scylladb.com/getting-started/system-configuration/#setup-scripts)

@nikolay-toroptsev if you can provide your schema (before the change) and the tables dropped and the specs of the machines we can try and reproduce this on our end locally to get additional information so we can fix this (follow the upload d

[2020-10-13 20:12] slivne commented on #7361
@syuu1228 well the fix for #6783 seems to be in the version tested -  unless I am missing something

[2020-10-13 20:20] vladzcloudius commented on #7415
It's probably everywhere else, except for Tracing and Audit/CDC (since it rides on the Tracing  framework), @slivne .

Please, see examples of the code in trace_keyspace_helper.cc and table_helper.hh.

This is a non-issue since it's been handled on the prepared_cache level long ago.
See examples in prepared_statements_cache.hh and the corresponding handling in table_helper.cc.
E.g. you can start h

[2020-10-13 21:17] nyh opened #7428 "Make RF and CL choices in Alternator configurable"
Alternator's choices of RF for tables and CL for writes and reads are designed to mirror the requirements and guarantees made by DynamoDB - not more and not less.

During two recent mailing list threads with Xiang Zhou - https://groups.google.com/g/scylladb-users/c/MSQ_cog5wjk and https://groups.google.com/g/scylladb-users/c/_c0s0NIJKRk - it was suggested that these choices of RF and CL could be m

[2020-10-14 01:53] asias commented on #7411
Looking at it now.

[2020-10-14 03:36] asias commented on #7411
[code]

At line 2051 queue reader abort sets the _end_of_stream to be true. Will this cause the writer that consumes the queue reader trigger the validation of end of stream without the parition_end. The abort can happen if the _producer at line 169 returns an exception. @denesb ?

[2020-10-14 03:48] asias commented on #7411
I suspected if we have a use after free for cmd_status, so that when we access cmd_status->got_end_of_stream at line 220, we get the wrong check and return empty mutation_fragment_opt.

cmd_status is captured in get_next_mutation_fragment lambada, and get_next_mutation_fragment is stored in generating reader which in turn is stored in multishard_writer. So cmd_status should be fine.

[code]

[2020-10-14 03:50] denesb commented on #7411
@asias end of stream will be validated when the reader both return true from `is_end_of_stream()` and `is_buffer_empty()`.

[2020-10-14 03:55] asias commented on #7411
One thing to note, QA runs the test with --abort-on-internal-error 1, which causes the validator to abort. In practice, without this flag, the write of the sstable will fail and sstable will be dropped and stream fails as expected. Nothing harmful will happen.

[2020-10-14 03:56] asias commented on #7411
What if when the abort happens the buffer is happen to be empty because it is consumed.

[2020-10-14 04:02] denesb commented on #7411
This flag can be set on the field and besides the error message is very scary, we shouldn't have something like that in the logs if its a false positive.

[2020-10-14 04:03] denesb commented on #7411
It is entirely possible. But note that the queue reader is designed such that after calling `abort()` you cannot push any more fragments anyway, so if you want to close the stream properly, you have to push the partition end fragment before calling `abort()`.

[2020-10-14 05:43] asias commented on #7411
But we call queue_reader_handle::abort() because something went wrong, we can not close the stream properly. What we can do is drop the unfished and unsealed sstables. We can not create a partition_end which does not come from the source of the stream and push pretending the source has send us a partition_end, just because we want to call abort().

I think we should skip setting _end_of_stream in

[2020-10-14 05:43] tzach commented on #7427
To validate: node_exporter  1.0.x and 0.17 a re compatible, and no change is required on the monitoring side?
If this is the case, is it just
https://github.com/scylladb/scylla/blob/master/dist/common/scripts/node_exporter_install#L30

[2020-10-14 05:56] asias commented on #7411
In addition, I think it is wrong to mark the reader validator error as severe as internal error for the stream that is received from network. The error might come from the source or is due to network issues. It is totally fine to drop the stream and the sstables generated from it.

We tried very hard to cover every corner cases on the receiver side of the stream to make stream comply with the vali

[2020-10-14 06:01] asias commented on #7411
Botond, I want to be sure the above situation:

 _producer returns an exception -> abort() is called -> end_of_stream flag is set and buffer is empty -> validator on end of stream complains

can explain what we saw in this test.

[2020-10-14 06:13] denesb commented on #7411
If we do not set `_end_of_stream` the writer will think there is more data and will block on `fill_buffer()` forever.

[2020-10-14 06:14] asias commented on #7351
No easy way to completely prevent this to happen if the admin choose to do this. We should document it.

We can check though gossip when bootstrap or decommission starts there is no node is in replacing status. Downside I can think of: 1) if a replacing node is dead, it will be stuck in replacing status forever. This will prevent new nodes to be added or removed even if no real pending replacing o

[2020-10-14 06:14] denesb commented on #7411
Yes, it can explain it, it is the most likely explanation.

[2020-10-14 06:16] asias commented on #7411
Can the writer know the reader is aborted and stop waiting for fill_buffer()?

[2020-10-14 06:20] denesb commented on #7411
Why do you think it is a problem to generate an `partition_end` fragment and push it down the stream, before we abort? Technically speaking, using an invalid stream is undefined behaviour, all consumers of the stream assume it is valid and rely on this unconditionally. Violating this can cause all sorts of problems theoretically, including memory corruption, which I think is not acceptable, even i

[2020-10-14 06:24] asias commented on #7411
For example:

partition_end is pushed to the reader
producer returns an exception
we create a partition_end and push to the reader then we call abort

double partition_end

[2020-10-14 06:25] denesb commented on #7411
Yes, so we have to keep track of the last fragment kind and push partition end if it wasn't already one.

[2020-10-14 06:35] asias commented on #7411
My experience with faking partition_end and inserting in the stream tells me it is not very robust to do so. Perhaps it is better to introduce a aborted state for the readers.

Any difference between a partition_end is not received yet and will never be received (we skip to send one in case of abort())?

[2020-10-14 06:45] denesb commented on #7411
Another option is have abort() inject an exception into the reader so the consumer is aborted.

[2020-10-14 06:53] eliransin commented on #7420
@aleksbykov is the problem reproducible? If it is then I don't need it.

[2020-10-14 07:16] bhalevy opened #7429 "sstable::create_links does not clean up after itself on error"
This issue is split off of #5714, focusing on `create_links` error handling.

As mentioned in a4d8e99f1cef421974840b9852b1d319a4172291 FIXME comment if `link_file` fails on any of the components (e.g. when running out of space) the function returns the error but it does not clean up after itself, leaving a mess behind that requires human intervention, since retrying the link operation will fail.

[2020-10-14 07:19] bhalevy commented on #7429
Patchset `[scylladb-dev] [PATCH v1 00/10] sstables: make move_to_new_dir idempotent` was sent to the ML, fixing this issue.

[2020-10-14 07:21] eliransin commented on #7421
It is indeed a duplicate of #7420, the backtrace is exactly the same so it is the same root cause.

[2020-10-14 07:28] asias commented on #7406
I sent a patch https://github.com/scylladb/scylla/pull/7430

[2020-10-14 07:30] eliransin commented on #7421
I am closing this as a duplicate.

[2020-10-14 07:30] #7421 closed

[2020-10-14 07:33] bhalevy commented on #7404
Botond let's leave it with you for now until we understand the root cause better (with a good chance that the gap between understanding and a fix would be small :))

[2020-10-14 08:03] bhalevy commented on #7411
I think we could add an `_aborted` flag, similar to `_end_of_stream`, just signifying that the stream ended prematurely.
This should propagate upstream up to the the sstable writer that can mark the unsealed sstable for deletion.

[2020-10-14 08:13] piodul commented on #6964
To add to the previous graph, not only I/O was high during that period, but also the CPU load:

![Zrzut ekranu z 2020-10-14 10-10-55](https://user-images.githubusercontent.com/4950936/95961813-de2c4280-0e05-11eb-887b-d318377afa6b.png)

[2020-10-14 08:16] avelanarius opened #7431 "Query with GROUP BY returns a single (too large) page"
[code]

Despite setting page size to 1, Scylla returns a single page of size 5.

Another example:
[code]

In those two SELECTs Scylla also returns a single (too large) page. On the other hand, Cassandra 3.11.8 correctly pages second and third query (Cassandra returns an error with regards to first query: "Invalid value for the paging state" when trying to fetch second page).

From what I could fin

[2020-10-14 08:16] bhalevy commented on #7411
makes sense

[2020-10-14 08:16] avelanarius commented on #7431
/cc @nyh @dekimir

[2020-10-14 08:19] piodul commented on #7025
@aleksbykov could you re-run the test with Eliran's suggestion (with HH on and with cassandra-stress that is shard-aware)?

[2020-10-14 08:22] avelanarius opened #7432 "Some queries with secondary indexes return too large pages"
[code]

[code]

In both of this queries, a too large page is returned. In the first example, a single page of size 3 is returned. In the second example a page of size 5 is returned and an empty page afterwards. Cassandra 3.11.8 correctly pages both of these queries. Please note that the first example depends on my fixes for issue #7355 (however, before those fixes a single too large page was also

[2020-10-14 08:23] aleksbykov commented on #7025
@piodul @elikop
yes, i will do

[2020-10-14 09:50] elcallio commented on #7364
Changing partition_snapshot::range_tombstones to chunked_vector is easy enough, but why do we read the range_tomstones into a temporary structure at all? Seems a transform iterator of sorts would be useful here (just consume things piecemeal)?

[2020-10-14 10:02] dkropachev commented on #7112
Hello, we have faced exact same problem on **docker/kubernetes**:
Node3 become overloaded right after Node2 was shutdown
test_id: **daaf7498-9fa1-4f4a-980f-2903e44cfefb**
scylla version: **4.1.7-0.20200918.2251a1c577 with build-id 36f8a7b490fb7f7638d7828dfe92eecc2c31cbd9**

db-logs:
https://cloudius-jenkins-test.s3.amazonaws.com/daaf7498-9fa1-4f4a-980f-2903e44cfefb/20201013_152121/db-cluster-daaf7

[2020-10-14 10:32] bhalevy commented on #7244
@fruch, there seems to be a pattern here indeed:

Failed:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/630/testReport/secondary_indexes_test/TestSecondaryIndexes/test_insert_data_after_recreating_ks/ on godzilla
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/625/testReport/secondary_indexes_test/TestSecondaryIndexes/test_insert_data_aft

[2020-10-14 10:33] bentsi commented on #7112
another strange thing is that c-s stopped any writes after this happened but the command didn't exit till the end of the test
![image](https://user-images.githubusercontent.com/5269241/95974995-50108600-0e1e-11eb-86ed-e3f79d01cf9d.png)
Till the  end of the test C-S printed following errors:

[code]
After truncate Nemesis started, hints started to drop

![image](https://user-images.githubuserconten

[2020-10-14 11:00] avikivity opened #7434 "multishard queries unbounded memory use"
The attached reproducer creates a partition with logs of tombstones and one row. It then selects the partition, which fails (as expected) with no ill effects but also no exception in the log (why?). It then performs a range scan, which fails while consuming huge amounts of memory.

Run with `--smp 1 -m 1G` for best results (with --smp 2 the allocations can happen on an uused shard, so no ill effec

[2020-10-14 11:01] avikivity commented on #7434
3451579d81293fb128e2fccbf7131d7456de1b55 + clang patches.

[2020-10-14 11:06] slivne commented on #7411
@denesb / @asias / @bhalevy  whats the decision we need to get the release out - what are we doing - do we have tomeks/avi's blessing on the direction not to waste time

[2020-10-14 11:28] asias commented on #7411
In my view, this issue is NOT a release blocker.

We can improve the validator and reader in case we abort the reader, but it
can be later.

No blessing from Avi or Tomek. Do you ask them to look at this issue? I am
not sure why the effort we have so far to solve this issue is a waste of
time though.

On Wed, Oct 14, 2020 at 7:06 PM Shlomi Livne <notifications@github.com>
wrote:

--
Asias

[2020-10-14 11:41] dekimir commented on #7431
Likely related to #5362.  GROUPBY has trouble counting groups, because by the time it discovers one group has ended, it has already consumed a row from the next group, and there is no mechanism in the surrounding framework to defer the processing of the current row.

[2020-10-14 11:41] dekimir commented on #7431
I'd rather fix the bug than twist the documentation around it (and have to remember to untwist it in the future when the bug does get fixed).

[2020-10-14 12:29] bhalevy commented on #7411
I agree with Asias, since the behavior with the default settings, not aborting on internal error, is acceptable (the offending sstables will be abandoned), this shouldn't block the release.
Though we should disable this nemesis until the issue is fixed so not to waste QA efforts.

[2020-10-14 12:56] bhalevy commented on #7244
@fruch can we install a handler of our own for a sensible timeout (say 1 hour) that will quit the test and force core dumps of the cluster nodes?

[2020-10-14 13:19] elcallio opened #7435 "CDC log should include an end of record marker"
Since a CDC "event" is broken up into potentially several log rows, each representing a sub-modification or pre/post state of a given change/source mutation, a reader cannot really be sure if he has actually read a full event unless he explicitly sees the next timestamp set being.

Combined with paging and query limits this makes it more difficult to implement a CDC reader/translator without resor

[2020-10-14 13:44] slivne commented on #7411
It is a blocker if its a regression in my view -

its certainly serious enough to be considered as a blocker - we have many stream operations that take hours / at times days, at times we have a crash in the middle - if the crash caused all the replicas to fail we loose availability, at times it may be the whole cluster.

Is this a regression - did we add an additional validation that causes 4.2 to

[2020-10-14 13:45] slivne commented on #7411
@asias / @bhalevy  ^^

@avikivity I need your view on this - how do you want to categorize this issue does it block 4.2 or not

[2020-10-14 13:52] bhalevy commented on #4936
Closing as `wontfix`.
With 55cf219c970034496fb4f2136535afea76f4d3cd this is not needed.

[2020-10-14 13:52] #4936 closed

[2020-10-14 13:54] eliransin commented on #7420
Some further analysis of `/home/fedora/nvme0/core.scylla.997.e41cd5264ad54b1889921806f34be339.43429.1602352682000000` :

[code]
We are on shard 7

info from the crashed frame:

[code]
Relevant column_families:

[code]

View info integrity:

[code]

Lets check if the base leads back to this view_info:
[code]

So it doesn't look like it.
So the root cause is probably that a schema (or more accuratel

[2020-10-14 13:57] denesb commented on #7411
Only those nodes that have `--abort-on-internal-error` flag set will crash, other nodes will just log an error and be done with it. The error is ugly and scary, and we should get rid of it but @asias's point is that this is a UX problem and shouldn't be a blocker.

[2020-10-14 14:00] slivne commented on #7420
commitlog replay ?

On Wed, Oct 14, 2020 at 4:55 PM Eliran Sinvani <notifications@github.com>
wrote:

[2020-10-14 14:06] eliransin commented on #7420
Maybe, I will check.

[2020-10-14 14:11] eliransin commented on #7420
Another info is that the rogue view's schema version is different of the currently stored one:
[code]
In the log it is the first version that his view gets:
[code]

[2020-10-14 15:19] aleksbykov commented on #7420
@eliransin
Could you help? i got the coredump again when scylla kill . Is the same or better to open new issue:
[code]

[2020-10-14 15:42] eliransin commented on #7420
@aleksbykov it looks different. It looks like a crash in:
seastar::append_challenged_posix_file_impl::~append_challenged_posix_file_impl()
It might also be a duplicate of #7285
Maybe it is just a backport thing...

[2020-10-14 15:57] eliransin commented on #7420
OK,
One final bit of information:

[code]

The interesting part here is this: [37508ff4-bbfc-3352-a342-0dcbc3be2a3a]

Our view schema:
[code]

So... I believe it is a bug that is related to the fact that the _base_information is not initialized to older versions that are retrieved or just learnt.

[2020-10-14 15:59] eliransin commented on #7420
@aleksbykov is this bug easily reproducible? If so , will you be able to run a test version?

[2020-10-14 16:02] aleksbykov commented on #7420
@eliransin  I can't say will it easy reproduce or not, but i can start a job, which could try to reproduced or check what you need

[2020-10-14 17:17] aleksbykov opened #7439 "ERROR: filesystem error: open failed: Too many open files and coredump during resharding with 5000 tables"
*Installation details*
Scylla version (or git commit hash): 4.2.rc5-0.20201012.a9109f068 with build-id 1ec6105c11985e83710995972d80ca60ea87faa9
Cluster size: 1 + 5 (Cluster started from 1 node, then it increased by adding 1 node sequentially. Total nodes 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0dfe89db5c6c31b4f(eu-west-1)
instance_type_db: i3.8xlarge
Testid: 8db60178-8fa1-4f7b-a6f5-8e5ece6195a8
Mon

[2020-10-14 17:17] aleksbykov commented on #7420
@eliransin
Opened new issue https://github.com/scylladb/scylla/issues/7439. You were right it was different. I will remove my commend from here

[2020-10-14 17:21] aleksbykov commented on #7439
Monitoring stack for that timeframe: http://3.251.78.185:3000/d/9bMwf-cGz/scylla-per-server-metrics-nemesis-master?orgId=1&from=1602633680312&to=1602637867781&var-by=instance&var-cluster=&var-dc=All&var-node=All&var-shard=All&var-sct_tags=DisruptionEvent&var-sct_tags=CoreDumpEvent

[2020-10-14 17:54] raphaelsc commented on #7439
what's the compaction strategy of those tables? STCS or LCS?

looks like another problem caused by lack of off-strategy. tables potentially have lots of small sstables after bootstrapping, and resharding make it worse when those sstables are split. LCS tries to minimize this problem, but not STCS. So I assume STCS is being used here

[2020-10-14 17:58] raphaelsc commented on #7439
the log seems to back up my theory, lots of resharding logs like this:

2020-10-14T00:42:54+00:00  longevity-5000-tables-4-2-db-node-8db60178-2 !INFO    | scylla: [shard 7] compaction - Resharded 2 sstables to [/var/lib/scylla/data/feeds/table783-290c6ac00d4b11ebb700000000000005/mc-250-big-Data.db:level=0, /var/lib/scylla/data/feeds/table783-290c6ac00d4b11ebb700000000000005/mc-279-big-Data.db:leve

[2020-10-14 18:44] raphaelsc commented on #6418
It's recommended that TWCS users avoid that though by aligning partitions to time windows (for example, if window is 1 day, put day_of_year into partition key), but I think many users just don't do that.

[2020-10-14 20:28] raphaelsc commented on #7342
found lots of big compactions on expired sstables
[code]
those sstables aren't actually compacted though, because they're fully expired.

it's awkward that 943 ssts were found expired at a single compaction round. TWCS should incrementally get rid of expired ssts. I am suspecting those expired sstables were created as a result of streaming. perhaps streaming sender should filter out expired ssts (

[2020-10-14 21:16] #7352 closed

[2020-10-14 21:16] #7409 closed

[2020-10-14 21:16] #7204 closed

[2020-10-14 21:16] #7424 closed

[2020-10-15 01:02] asias commented on #7342
Streaming sender reads mutation fragment from the reader, it sends whatever the reader returns. We recently added a compaction reader which will do compaction before it returns the value. With the compaction reader, we can avoid sending the expired data. We do not use the compaction reader in old streaming or repair yet. We will probably not to add the support to the old streaming. One downside of

[2020-10-15 06:10] eliransin commented on #7420
OK, so my best theory is as follows:
1. Node A restarts and loads the latest schemas (views and tables)
2. The node A gets a request from node B which has a different and older schema version of the view.
3. Node A pulls the schema from node B straight into the schema registry without that schema passing throgh the table object.
4. During the read of with live_rows only property in which the view_

[2020-10-15 07:04] amnonh commented on #7427
@tzach yes, at least for the metrics that we use they are compatible.
About the installation, as node_exporter is GA now, it's better to use packages, but just downloading a newer version would work just the same

[2020-10-15 07:16] aleksbykov commented on #7439
SizeTieredCompactionStrategy

[2020-10-15 08:02] aleksbykov commented on #7025
@piodul @eliransin
Job with HH on with shard-awareness driver had finished.
Here are the nodes:
[code]
Live monitoring stack:
[code]
After CorrupThenRepair one node stay DN.

[2020-10-15 08:20] slivne commented on #7420
Do we pull from Node B both the base and the view schema ? or only the view
schema ? they need to be paired correctly - we can;t associate a view to an
incorrect base (or so I think)

On Thu, Oct 15, 2020 at 9:11 AM Eliran Sinvani <notifications@github.com>
wrote:

[2020-10-15 08:34] aleksbykov commented on #7025
all logs: https://cloudius-jenkins-test.s3.amazonaws.com/3db58271-0a0f-4c20-a60a-3ab3bd47b6e6/20201014_152522/db-cluster-3db58271.zip

[2020-10-15 09:04] slivne commented on #7439
I think this is a regression ... probably related to offline strategy in some manner.

Do we reshard each table by itself or do we reshard tables together.

We used to allow shards to  use non resharded sstables and in the background reshard

Have we moved to a mode we reshard everything in parallel.

[2020-10-15 09:05] slivne commented on #7439
I pushed this to 4.3 and we can consider backport

We do have a test with 1000 Tables that passes - right @roydahan / @aleksbykov  ?

[2020-10-15 09:12] aleksbykov commented on #7439
@slivne i didn't run with 1k tables. We have passed with 1k keyspaces( with 1 table per keyspace)

I am continue to investigate the job with 5000 tables. I think there are some more issues
1. All 5 added nodes failed to run the nodetool command because could n't connect
2. After 4th batch of c-s commands, A lot of errors in c-s commands

http://3.251.78.185:3000/d/9bMwf-cGz/scylla-per-server-metri

[2020-10-15 09:17] bhalevy commented on #7352
Please consider backport to all living releases.

[2020-10-15 09:24] eliransin commented on #7420
@slivne First of all this was probably broke by 3a6ec9933c768aa1e4c84a38bf5c5101cd226115 or his siblings,
@slivne I have just synced with @nyh on this, we don't pull both only the view schema, there is nothing in the
view information that indicates which version of the base table it refers to. So it is not simple to "gain" this knowladge, we will
need to add some metadata to view or to the pull sc

[2020-10-15 09:30] slivne commented on #7427
I do not think we have a dependency on node-exporter today - we install it in scylla_setup.

- We can consider changing that and making it a dependency - that will force installing node-exporter.
- We can maybe consider not starting it, so the depedency will force install it, but will not enable / install a service that starts it

@amnonh

Users that use DataDog how do they monitor OS Metrics - I

[2020-10-15 09:35] slivne commented on #7341
Its not the first time we have issues with google local drives / drivers.

Lets try to verify if the bandwidth shown holds for a long duration not io_tune duration and if there is a bug.

@roydahan / @avikivity which tool should we use to verify the local disks provide the guarantees on a long duration (a coupld of days).

[2020-10-15 09:36] slivne commented on #7315
@dkropachev  / @roydahan ping any news ?

[2020-10-15 09:38] slivne commented on #7274
@rmb938 can you please assist us with additional info so we can check the issue and fix a bug if we have one.

[2020-10-15 09:38] roydahan commented on #7341
we can set the fio to run a longer period.

[2020-10-15 09:39] slivne commented on #7220
@asias Can we close this issue ?

[2020-10-15 09:40] slivne commented on #7088
@fruch was this run with shard aware loaders or non shard aware ?

We need to run this with shard aware drivers.

[2020-10-15 09:47] slivne commented on #7045
closing this issue - till we have more info and analyze it

[2020-10-15 09:47] #7045 closed

[2020-10-15 09:48] slivne commented on #7043
@avelanarius since we have done the analysis and found the root cause - please write some update on this issue

[2020-10-15 10:07] aleksbykov commented on #7025
On node 6 coredump:
[code]

[2020-10-15 10:50] avelanarius commented on #7043
I have extracted the CQL queries that are sent from Spark to Cassandra/Scylla.

The query that Scylla returned incorrect results for was:
[code]
(remainder: `email` is the column with index)

### First issue
After reducing (removing token restrictions) the query to:
[code]
Scylla returned invalid count, even though `SELECT *` returned correct rows. This issue is fixed in  https://github.com/scylla

[2020-10-15 11:13] bhalevy commented on #7439
Don't turn the machines off yet.
I'd like to check the open file descriptors limit on them.

[2020-10-15 11:19] bhalevy commented on #7439
There are 2 or 3 issues here:
1. The crash - should be fixed by https://github.com/scylladb/scylla-seastar/commit/f760efe0a0f1fbcbdf19d843357adc26f4ba271d
(scylla-4.2 https://github.com/scylladb/scylla/commit/a9109f068c72ffa72e4413b11a3452f85713bba9)
2. Why did we run out of file descriptors?
- Is there a leak of open file descriptors? or maybe we just consume too much in a burst.
- If it's the la

[2020-10-15 11:23] aleksbykov commented on #7439
[code]

[2020-10-15 11:35] bhalevy commented on #7439
[code]

[2020-10-15 11:40] bhalevy commented on #7439
@raphaelsc is it possible resharding keeps the output sstables open for too long, leading to having
`#sstables * #shards` opened at the same time?  With 30 shards this could easily overwhelm the 800K limit with 100K sstables files.

[2020-10-15 11:43] aleksbykov opened #7442 "'127.0.0.1:7199' - ConnectException: 'Connection refused (Connection refused)' on each bootstrapped node with 5000 tables"
*Installation details*
Scylla version (or git commit hash): 4.2.rc5-0.20201012.a9109f068 with build-id 1ec6105c11985e83710995972d80ca60ea87faa9
Cluster size: 1 + 5 (Cluster started from 1 node, then it increased by adding 1 node sequentially. Total nodes 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0dfe89db5c6c31b4f(eu-west-1)
instance_type_db: i3.8xlarge
Testid: 8db60178-8fa1-4f7b-a6f5-8e5ece6195a8
Mon

[2020-10-15 11:44] aleksbykov commented on #7442
[code]

[2020-10-15 11:44] aleksbykov commented on #7442
May be related to issue https://github.com/scylladb/scylla/issues/7439

[2020-10-15 12:33] piodul commented on #7025
@aleksbykov Thanks for running the test. Are logs/metrics available as usual through hydra? If so, please terminate the cluster, I think that metrics and logs from hydra will suffice.

[2020-10-15 13:01] amnonh commented on #7427
we can keep it optional but still install from packages instead of downloading it. I'm not sure what is better.

Data dog users have their own agent, which is a good point for why we should keep it optional in the setup.

[2020-10-15 14:12] #3012 closed

[2020-10-15 14:38] avelanarius commented on #3423
@nyh @psarna @haaawk I have a question regarding the decision to add `idx_token` as first clustering key column to global secondary index.

Added column `idx_token` is of type `bytes`. However tokens on ring are represented as **signed** `int64_t`. It seems that it causes a problem, because rows are sorted by `idx_token` - bytes, but the ordering of bytes is **unsigned** (-1 is larger than 1 when

[2020-10-15 15:21] tgrabiec commented on #7420
@eliransin Why do you think it was broken after 3a6ec99? In other words, what prevented the bug before?

[2020-10-15 15:37] haaawk commented on #3423
Seems about right. Can't we just change the type of idx_token to int? Why was it bytes anyway?

[2020-10-15 15:57] bhalevy commented on #6398
Closing this as `wontfix` as compaction doesn't need ancestors to be persisted on disk.
See https://github.com/scylladb/scylla/blob/8068272b46665cc729d841c61f9be39df35b2b93/sstables/compaction.cc#L1491-L1498
Adding ancestors to sstable scylla component is considered a disk-format change and we refrain from doing them unnecessarily.

[2020-10-15 15:57] #6398 closed

[2020-10-15 15:59] avelanarius commented on #3423
@nyh I'll open it.

[2020-10-15 16:00] aleksbykov commented on #7420
@tgrabiec
https://cloudius-jenkins-test.s3.amazonaws.com/8db60178-8fa1-4f7b-a6f5-8e5ece6195a8/all_db_logs.tar.gz

[2020-10-15 16:01] aleksbykov commented on #7442
all logs: https://cloudius-jenkins-test.s3.amazonaws.com/8db60178-8fa1-4f7b-a6f5-8e5ece6195a8/all_db_logs.tar.gz

[2020-10-15 16:22] avelanarius opened #7443 "idx_token of global secondary indexes is sorted incorrectly"
The first column of clustering key in global secondary indexes is a token of partition key (of base table). `idx_token` is of type `bytes`. However tokens on ring are represented as **signed** `int64_t`. It is a problem, because rows are sorted by `idx_token` - bytes, but the ordering of bytes is **unsigned** (-1 is larger than 1 when doing unsigned comparisons):

[code]

When doing `SELECT` on th

[2020-10-15 16:23] avelanarius commented on #3423
Refs https://github.com/scylladb/scylla/issues/7443

[2020-10-15 16:38] haaawk commented on #3423
I chatted with @psarna and he reminded me that in the past we had tokens other than Murmur3Tokens and those other tokens were not ints. I removed all partitioners but Murmur3 some time ago. That explains why the type of the idx_token is bytes, not int. But it does not explain why the sorting is wrong for ints.

[2020-10-15 16:41] haaawk commented on #7443
One solution here would be to change the type of idx_token column to int but that would not be backwards compatible. Another would be to translate tokens to bytes for this column with a bias that makes every value positive.

[2020-10-15 16:49] raphaelsc commented on #7442
what does the log say?

[2020-10-15 16:54] raphaelsc commented on #7439
the output sstables will be kept opened at their destination shards anyway. worth checking the amount of files stored across the 5000 tables. are the nodes still alive? it looks like lack of off-strategy compaction may lead to this as streaming could lead to creation of lots of small sstables

[2020-10-15 17:05] raphaelsc commented on #7439
just noticed you shared it in another msg, @bhalevy

yes, 96k files is just too much, old and new resharding wouldn't be able to handle this scenario as a change in msb setting will cause the ssts to be potentially shared by all shards, so the amount of fds required after resharding is # of input sstables * # of shards.

what we can do to solve this is doing off-strategy compaction on streaming, t

[2020-10-15 17:07] aleksbykov commented on #7439
@raphaelsc
https://github.com/scylladb/scylla/issues/7439#issuecomment-709216167

[2020-10-15 17:47] tzach commented on #7427
Lets not mix two features here.
This issue is about upgrading exporter, and we can do that
We already have an issue about node_exporter packaging #2190

[2020-10-15 17:59] raphaelsc commented on #7439
what I noticed while reading the new resharding code is that we wait until all jobs, on a given shard, completes before releasing all the input ssts, so preventing fds and disk space from being incrementally released. So we have a bug.

let's do some math:

100k fds opened means 50k ssts as both index and data is opened for each.

to limit memory consumption, up to 32 ssts are resharded together.

[2020-10-15 18:53] slivne commented on #7439
On Thu, Oct 15, 2020 at 8:59 PM Raphael Carvalho <notifications@github.com>
wrote:

Do we do the resharding while the node is accepting traffic or is it
"offline" till resharding ends ?

Do we do resharding of single old sstable all on its own - or do we mix
multiple old sstables and reshard them together and create a set of sharded
sstables for them all. Example 10 old sstables on a system of 32

[2020-10-15 19:25] raphaelsc commented on #7439
Resharding is now always done off-strategy. On boot, node is only made online after resharding completes. On refresh, uploaded sstables will be resharded off-strategy before the output is made available to the sstable set.

Like I explained, resharding compacts 32 (max_threshold) sstables together, exactly to mitigate this problem of it spitting out lots of small ssts, which can potentially exhaus

[2020-10-15 19:39] slivne commented on #7439
On Thu, Oct 15, 2020 at 10:25 PM Raphael Carvalho <notifications@github.com>
wrote:

Thanks - BTW - we only need a single node to try and reproduce this :)

[2020-10-15 19:43] fruch commented on #7088
I'll need to check, but I'm guessing it was without it. (Cause a bug recently solved in SCT )

Also half of traffic here was alternator, i.e. no shard awareness there 😢

[2020-10-16 00:03] ziggythehamster opened #7444 "scylla_bootparam_setup uses TSC clocksource even on AWS Nitro VMs where it is not recommended"
According to [AWS Support](https://aws.amazon.com/premiumsupport/knowledge-center/manage-ec2-linux-clock-source/) and the [relevant optimization procedure](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/enhanced-networking-os.html), scylla_bootparam_setup should only switch to the TSC clock source on Xen VMs, not Nitro VMs. I'm not sure how you tell you're on a Nitro VM, but checking if `/sys

[2020-10-16 07:13] dkropachev commented on #7315
@slivne ,
 I've ran 4 tests on 4.1.8 did not meet this error.

[2020-10-16 07:48] aleksbykov commented on #7439
Could i terminate the cluster?

[2020-10-16 07:58] aleksbykov commented on #7025
@piodul
hydra investigate show-logs 3db58271-0a0f-4c20-a60a-3ab3bd47b6e6 - to get links for logs
hydra investigate show-monitor 3db58271-0a0f-4c20-a60a-3ab3bd47b6e6 - to restore metrics

[2020-10-16 11:10] slivne commented on #7439
Raphael,

If you want to check something on the nodes - please comment or it will be
scratched

If it helps you - you can actually use a single node and restart it with
additional logging with a different msb setting (forcing resharding) and
see if the issue reproduces / and get logs helping you to debug this

@Raphael S. Carvalho <raphaelsc@scylladb.com>  please comment
Shlomi

On Fri, Oct 16, 20

[2020-10-16 18:29] raphaelsc commented on #7439
yes, please.

[2020-10-16 18:29] raphaelsc commented on #7439
i'll try to reproduce the issue now...

[2020-10-16 19:42] chitti457 opened #7446 "Local secondary index syntax error"
I am trying to create local secondary index

`CREATE INDEX ON test((version,id),t_id)`  but I am keep getting error `<stdin>:1:SyntaxException: line 1:42 missing ')' at '<missing '`

[Here is the documentation](https://docs.scylladb.com/using-scylla/local-secondary-indexes/)

Scylla version (or git commit hash): scylla-enterprise 2019.1.17

[2020-10-16 21:00] ziggythehamster opened #7447 "cas_contention_timeout_in_ms is listed in template scylla.yaml twice"
This is a really easy one to let the interns fix :). This option is listed on both L130 and L402. It's not commented out on L130 but is commented out on L402. I came across this as I was updating my scylla.yaml Chef template.

[2020-10-16 21:33] raphaelsc commented on #7439
figured it out from the log itself...

[code]

620k ssts translates into ~1.24m fds (index + data), which explains the fd exhaustion.

the problem indeed happens because we're resharding too little ssts together, which means:
- bug in the new resharding code when creating jobs across shards
- or max threshold is set to a low value (@aleksbykov: what's the max threshold of data/feeds?). anyway we p

[2020-10-16 21:51] raphaelsc commented on #7439
[code]

[2020-10-16 22:15] raphaelsc commented on #7439
This problem is triggered with a high number of tables, each containing only a couple of ssts.

In this test, there are 5000 tables, averaging 6 ssts in each.

To take advantage of all shards, resharding tries to fairly spread the work among all shards, meaning those 6 ssts will each end up with in a different shard to be resharded at. On a 30 shard system, resharding could produce 180 ssts from t

[2020-10-17 00:36] raphaelsc commented on #7442
If this is the same longevity test as of #7439, then it's likely the same issue

[2020-10-17 07:29] avikivity opened #7448 "utf8 validation of large cells causes latency spikes"
When validating utf8 values, we first linearize them. This causes latency spikes if they are large.

[2020-10-17 14:13] vladzcloudius commented on #2927
@amihayday @slivne @denesb @eliransin @eyalgutkind
Please, let's give it the highers priority: this issue is hurting us a lot all over the place.

[2020-10-17 20:16] Phineas commented on #5762
I have non-frozen UDTs though, and I'm experiencing this error when trying to use sstablesloader. How am I meant to go about this?

[2020-10-18 05:53] bhalevy commented on #7244
Seen also in:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/620/testReport/cfid_test/TestCFID/cfid_test/
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/621/testReport/cfid_test/TestCFID/cfid_test/

[2020-10-18 06:03] nyh commented on #7446
As the documentation you pointed to says, the Local Secondary Index was added in Scylla open-source version 3.1.
Scylla Enterprise 2019.1 was based on on Scylla open-source version 3.0 (see https://www.scylladb.com/product/release-notes/scylla-enterprise-release-2019-1-0/), so this feature was not yet available there.

So I'm closing this issue here, but @tzach or @lauranovich - please consider wh

[2020-10-18 06:03] #7446 closed

[2020-10-18 06:14] eliransin commented on #7420
It was just an educated guess and I did disclaimed it with "one of it's siblings" :slightly_smiling_face: , my guess is that this bug
was created as a result of unconditionally dereferencing the base_info member in
view_info::has_base_non_pk_columns_in_view_pk without any guarantee it has been initialized, by one of it's siblings I meant
during the activity of separating the base dependant info in

[2020-10-18 06:53] slivne commented on #7266
@haaawk - ping

[2020-10-18 06:56] haaawk commented on #5762
@avelanarius Would you be able to look at this issue this week?

[2020-10-18 07:09] fruch commented on #7244
@bhalevy  now I remember, we've seen this issue also in SCT (in manager tests, which was the only place using `nodetool info`)
https://github.com/scylladb/scylla/issues/7314

[2020-10-18 07:34] slivne commented on #7439
@avikivity this change of resharding is part of the offline strategy and it was introduced in 4.2 - any view on this ?

@raphaelsc can you elaborate on what is the solution you are working on - lets agree on it - before you code

[2020-10-18 08:35] slivne commented on #7443
@psarna / @nyh please comment

[2020-10-18 11:57] avikivity commented on #7310
Not in any release branch, so no backports needed.

[2020-10-18 11:59] avikivity commented on #7256
@denesb please ping the patch on the list, looks like I missed it.

[2020-10-18 12:00] avikivity commented on #7256
Also, it's not backported to 4.2.

[2020-10-18 12:01] avikivity commented on #7256
Backported to 4.2.

[2020-10-18 12:01] avikivity commented on #7337
@syuu1228 I believe this isn't on any release branch, yes?

[2020-10-18 12:03] avikivity commented on #7408
Backported to 4.0, 4.1, 4.2.

[2020-10-18 12:10] avikivity commented on #5030
Enhancement, clearing backport candidate label.

[2020-10-18 12:45] avikivity commented on #7439
IMO this is a blocker. While large numbers of tables are rare, and resharding is even more rare, the impact is too severe.

[2020-10-18 14:43] aphyr commented on #7243
This issue might also reflect an invalid seed configuration used in the test: we set each node's seeds to be every node in the cluster, which is unsafe when rejoining nodes. scylla-jepsen b2d292be resolves that issue; I'm re-testing to see whether things still look wonky with the correct seed config.

[2020-10-18 15:19] nyh commented on #7204
Backported this to 4.2 (94b754eee5262d5661b7bdf6d281a1258905ebfd) - but not to earlier releases. Someone already running an earlier release will not suddenly need the configuration logic to improve.

[2020-10-18 15:20] nyh commented on #7237
Not backporting. Alternator Streams does not yet exist in 4.2.

[2020-10-18 15:21] nyh commented on #7344
Not backporting. Alternator Streams does not yet exist in 4.2.

[2020-10-18 15:21] nyh commented on #7345
Not backporting. Alternator Streams does not yet exist in 4.2.

[2020-10-18 15:22] nyh commented on #7346
Not backporting. Alternator Streams does not yet exist in 4.2.

[2020-10-18 15:23] nyh commented on #7347
Not backporting. Alternator Streams does not yet exist in 4.2.

[2020-10-18 15:23] nyh commented on #7409
Not backporting. Alternator Streams does not yet exist in 4.2.

[2020-10-18 15:24] nyh commented on #7424
Not backporting. Alternator Streams does not yet exist in 4.2.

[2020-10-18 15:40] aphyr commented on #7243
With correct seed configurations, I'm still seeing all kinds of anomalies in version 4.2.rc5-0.20201001.5fcc1f205c. For instance, consider this test run:
[20201018T111331.000-0400.zip](https://github.com/scylladb/scylla/files/5397722/20201018T111331.000-0400.zip)

We get the same divegent-history behavior: elements appearing to flicker in and out of existence depending on what node you talk to:

[

[2020-10-18 17:12] tgrabiec commented on #7420
@eliransin I mean that the bug was stil there, just manifested differently. Maybe we didn't segfault before, but we would access an empty (uninitialized) `base_non_pk_columns_in_view_pk` vector, which would manifest as a silent data corruption.

[2020-10-19 01:01] amoskong opened #7451 "request to add a minimum of swap"
*Installation details*
Scylla version (or git commit hash): latest master: dfe4161e6597664f2e99d59ab3d28ede81af3e3d
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): AWS AMI

Quote from Shlomi:
[code]

related doc: https://docs.scylladb.com/faq/#do-i-need-to-configure-swap-on-a-scylla-node

/CC @syuu1228 @slivne @roydahan

[2020-10-19 04:20] rmb938 commented on #7274
The setup I was using is exactly the same as the 1 nic, 2 ips setup mentioned here https://docs.scylladb.com/kb/yaml-address/#nic-2-ips I was also using the official scylla docker container so there was nothing weird that I was doing.

Sadly I got pulled into another project at work, scylla was just a side project I was working on and experimenting with, so I won't be able to get those trace logs

[2020-10-19 06:08] eliransin commented on #7420
@tgrabiec I admit I didn't go this back in time :flushed:

[2020-10-19 08:37] raphaelsc commented on #7439
On Sun, Oct 18, 2020 at 4:35 AM Shlomi Livne <notifications@github.com>
wrote:

this issue exists prior to offstrategy changes, as old resharding would
also spread the work in a similar fashion. so probably not a blocker for 4.2

[2020-10-19 08:49] avikivity commented on #7439
If this is so then it's not a blocker. @aleksbykov is this a new test? Or did it pass in 4.1?

[2020-10-19 08:55] aleksbykov commented on #7439
It is not new, it didn't passed on 4.1

[2020-10-19 09:49] avikivity commented on #7439
Did it ever pass?

[2020-10-19 10:38] roydahan commented on #7439
This specific "resharding" nemesis failed on a different issue in 4.1 (the service got stuck during stop), so it never reached to actual resharding.
In 4.0 we didn't have this nemesis running and it was the first version of this test that included nemesis.

[2020-10-19 10:41] avikivity commented on #7439
So, we had a successful run of this test?

[2020-10-19 10:46] avikivity commented on #7444
I suppose we could check if the clocksource is kvm-clock, and not touch it if that's the case.

[2020-10-19 11:39] asias commented on #7274
OK. I will try to reproduce. If I could not reproduce, I will ask you to try to get the trace logs.

[2020-10-19 11:46] roydahan commented on #7439
If you mean resharding of 5000 tables, so no we don't have a successful run of it.

[2020-10-19 11:49] syuu1228 opened #7455 "AMI: got "unit scylla-ami-setup.service not found" error on 4.1.8"
*Installation details*
Scylla version (or git commit hash): 4.1.8
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI): AMI

*Hardware details (for performance issues)*          Delete if unneeded
Platform (physical/VM/cloud instance type/docker): i3en.2xlarge
Hardware: sockets= cores= hyperthreading= memory=
Disks: (SSD/HDD, count)

I got following error when I logged in AMI instance:
[code]

[2020-10-19 12:03] avikivity commented on #7439
Ok. @slivne we can degrade this from blocker status.

[2020-10-19 12:04] syuu1228 commented on #7444
We currently setting clocksource=tsc as boot parameter, we have to stop it.
We need to configure clocksource on instance boot time instead, and use tsc only when the instance running on Xen.

[2020-10-19 12:36] raphaelsc opened #7457 "Avoid large contiguous allocation for large cells in the sstable parser / writer"
When sstable parses a large cell, it will force a large contiguous allocation due to use of temporary_buffer. Potentially triggering foreground reclaiming and causing reactor stalls. Before the large cell is placed into cache, IMR fragments it and store it in a  managed_bytes (fragmented). To fix this inefficiency, let's make sstable parser switch to fragmented temp buffer. Will require a few API

[2020-10-19 12:37] raphaelsc commented on #7457
@avikivity FYI

[2020-10-19 13:10] #7396 closed

[2020-10-19 13:38] StarostaGit opened #7459 "Has_conditions not set in modification_statement during validation"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

### Description

Method `modification_statement::has_conditions()` returns false for statement

[2020-10-19 13:44] slivne commented on #7439
@raphaelsc we still need to solve it for 4.3 :)

Please provide the logic of what the change you will introduce so we can make sure we are on an agreed path to a solution

[2020-10-19 14:43] raphaelsc commented on #7457
This will help users working with large blobs, improving our support of it

[2020-10-19 18:25] raphaelsc commented on #7439
Solution is based on this:
- The more tables you have, the less shards you want to reshard them at.

- Determine upfront the amount of shards each table will be resharded at.

[code]

- We know that tables are loaded (therefore resharded) in parallel (throttled with a semaphore though).

- So, when resharding a table T1, reshard T1 at N shards (S / T) only.

- For example,
[code]

- Which shard(s)

[2020-10-19 19:23] haaawk commented on #7459
FYI @kostja

[2020-10-19 19:59] kostja commented on #7459
I think you should add a test case. The code is pretty straightforward (discounted for the general messiness of statements hirerarchy), set a breakpoint to prepare_conditions(), it should be called.

[2020-10-19 20:36] haaawk commented on #7459
From what I understood, @StarostaGit has added a line that prints out the value of stmt.has_conditions() in validate() and for the statement mentioned above it printed false. Should it print true @kostja ?

[2020-10-19 21:08] haaawk commented on #7459
@StarostaGit what I'm observing is the following:
1. I added a print:
[code]
2. I executed `UPDATE ks.lwt_with_static SET s = 1 WHERE a = 1 IF s = NULL;` once and got:
[code]
when the result of the statement was:
[code]
3. I executed the same statement again and I observed:
[code]
when the result of the statement was:
[code]

**It seems that at least some statements generated by this CQL return tr

[2020-10-19 23:41] vladzcloudius opened #7461 "compaction: implement maximum I/O bandwidth limiter"
*Installation details*
HEAD:  6c133e36d851cf64682438922a02d545f410975b

*Description*
Our current implementation allows compaction to consume all available resources.
As a result the rest of contexts may become saturated and go as as slow as the compaction, e.g. during the bootstrapping.

Many times however we care much more about "other" contexts to complete as soon as possible than for a compact

[2020-10-19 23:42] vladzcloudius commented on #7461
@eyalgutkind @asias @raphaelsc FYI

[2020-10-20 01:56] asias commented on #7249
I am not familiar with the driver and the client part. According to the commit log, it seems we do not have a update of the driver.

@slivne @avikivity how should we proceed with the potential c-s issue? We saw similar issue here https://github.com/scylladb/scylla/issues/7342.

I will continue to dig the QPS drop issue from node operation points of view once we cleared the client issue.

[2020-10-20 01:58] asias commented on #7411
@slivne Let's be clear. Do you agree this is not a 4.2 blocker?

[2020-10-20 04:24] denesb commented on #7461
Won't this result in endless tuning cycles? I seem to remember that we wanted to have a latency/throughput switch. In latency mode, the seastar would not give 100% of the I/O capacity to background work and would instead reserve some fraction of if for foreground work (queries).

[2020-10-20 08:21] bhalevy commented on #7439
Thanks @raphaelsc . I like the overall direction.

I'd like to point it that you calculation about the number of additional sstables assumes a small number of sstables per table.
If we have more of them we may end up with `#shards` new sstables for each group of up to `max_threshold` sstables, and with `#shards==30` and `max_threshold==32` this would roughly double the number of sstables, unless w

[2020-10-20 08:24] bhalevy opened #7463 "Incrementally delete resharded sstables as they're retired"
As discussed in https://github.com/scylladb/scylla/issues/7439#issuecomment-712681929, we should be able to delete retired sstables after we reshard them and not wait for the end of the whole resharding compaction.

[2020-10-20 08:25] bhalevy commented on #7463
The benefits are quite obvious - reducing temporary space requirements, number of open files, and read amplification.

[2020-10-20 08:55] raphaelsc commented on #7439
With T=10, each with 100 sstables per shard, S=30,
    - each table is assigned 3 shards rather than 30
    - and we still have a 10x improvement (in # of files) over the old approach

With T=1, each with 100 sstables per shard, S=30,
    - that unique table is assigned all shards
    - but that's not a problem because each shard will reshard sstables in groups of 32, which cancels the S factor (*

[2020-10-20 08:55] raphaelsc commented on #7463
That's a regression AFAICT

[2020-10-20 09:00] raphaelsc commented on #7463
4.2 blocker?

[2020-10-20 10:22] syuu1228 opened #7465 "AMI: mistakenly adding multiple package versions on version tag"
While building AMI, I found AMI build script adding multiple versions on version tag.
It seems like all available versions on the repo, not installing package version.

[code]

[2020-10-20 10:24] syuu1228 commented on #7465
I think this command getting all available versions:
https://github.com/scylladb/scylla-machine-image/blob/master/aws/ami/build_ami.sh#L78
[code]

[2020-10-20 10:28] yaronkaikov commented on #7465
@syuu1228 we are using --localrpm when building AMI, so this change shouldn't affect it
where do you see it?

[2020-10-20 10:49] yaronkaikov commented on #7465
@syuu1228 we can do this change
[code]

[2020-10-20 12:06] raphaelsc commented on #7463
not a 4.2.0 blocker according to @slivne, but we can fix it for 4.2.1.

NOTE: users can no longer rely on old resharding space requirement until we fix this, because now resharding requires 50% of extra space

[2020-10-20 12:38] yaronkaikov commented on #7465
@syuu1228 https://github.com/scylladb/scylla-machine-image/pull/68 - this should fix it, i think this issue can be closed

[2020-10-20 13:18] raphaelsc commented on #7463
cooking a patch...

[2020-10-20 13:26] vladzcloudius commented on #7461
This would result in a very finite tuning cycle, @denesb.

And how much would it give? What would that number be based on? I don't see a good working solution that would make it good for any possible use case in the nearest future.

However implementing this proposal doesn't conflict with working on what you described above.
The moment there is a good working automagical solution we would stop usi

[2020-10-20 14:00] bhalevy commented on #7050
Closing as duplicate of #4789

[2020-10-20 14:06] bhalevy commented on #6837
72365445c61b921eacb632870b77d0d7ab71929d table: snapshot: create destination dir only once

1ba9e253c4147dcdb9066fa743ae57996b55ff48 table: snapshot: use max_concurrent_for_each

TODO

[2020-10-20 14:09] bhalevy commented on #6749
@avikivity can this be closed?

[2020-10-20 20:27] nyh commented on #7420
@eliransin the merged fix is marked as "Refs" this issue, not "Fixes". Is there anything remaining in this issue that still needs to be fixed?

[2020-10-21 04:29] denesb commented on #7434
Mutation queries (used for reconciliation) are also prone to this.

[2020-10-21 05:37] fruch commented on #7465
thanks for noticing it @syuu1228

@yaronkaikov, should be automatically closed, when it would hit master (as long as you commit message referenced it)

[2020-10-21 05:42] eliransin commented on #7420
I wan't to make sure that we don't hit a different form of this problem before I announce I fixed it :slightly_smiling_face:
This problem might existed before in the form of silent data corruption so I want to make sure it's solid.

[2020-10-21 05:43] bhalevy commented on #7463
As discussed with @slivne, this issue is not a 4.2 blocker,
202bc6f3871355580d3a5a8816ce571bda183260 will fix this issues and should be backported to 4.2

[2020-10-21 05:58] yaronkaikov commented on #7465
@fruch OK, thanks

[2020-10-21 06:03] bhalevy commented on #6749
With all backports done, this is can be closed.

[2020-10-21 06:03] #6749 closed

[2020-10-21 08:08] #7307 closed

[2020-10-21 10:06] avikivity commented on #7036
@penberg ping

[2020-10-21 10:08] slivne commented on #7439
@avikivity please review suggestion

[2020-10-21 10:47] #7463 closed

[2020-10-21 10:51] #7465 closed

[2020-10-21 11:41] syuu1228 commented on #7423
@fruch @fgelcer I do not able to reproduce the issue by running latest master on Ubuntu 16, what exact commands we are running on the test, and what is the environment?
I referenced the log, but I do not found enough information from that.
I can see `Error executing command: "sudo systemctl restart scylla-server.service"; Exit status: 1`, but I do want to know what commands issued on the test prio

[2020-10-21 11:55] fruch commented on #7423
@syuu1228 my mistake, I'll move the but to the proper place

[2020-10-21 11:55] fruch commented on #7423
Issue moved to [scylladb/scylla-enterprise #1526](https://github.com/scylladb/scylla-enterprise/issues/1526) via [**ZenHub**](https://www.zenhub.com/)

[2020-10-21 12:46] linux-wizard opened #7470 "IN on clustering keys when using QUORUM consistencies exhibit bad performances"
[x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.0.0-0.20200505.d95aa77b62
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS 7.7.1908

*Hardware details (for performance issues)*
Platform (physical/VM/cloud instance type/docker): physical
Hardware: sockets=2 cores=80 hyperthreading=enabl

[2020-10-21 16:24] vladzcloudius opened #7472 "Change a default vlaue of speculative_retry to 'NONE'"
*Installation details*
HEAD: e5edf3086982424faeff019d21590c302002d019

*Description*
Speculative read retry causes more trouble than good.
In particular, if there is either a long enough slowness of a replica or a big partition that needs to be read and the read is being retried - this may trigger the speculative retry a lot and as a result pump up background reads to really high values.
This in l

[2020-10-21 16:36] gleb-cloudius commented on #7472
This will reduce cluster availability. If one node fails there will be
read errors. Read throttling should be added instead.

--
			Gleb.

[2020-10-21 18:10] vladzcloudius commented on #7461
The more I think about it the more my idea and what we already have resembles me what is already implemented in `systemd`.

I'll open a separate issue.

[2020-10-21 18:42] vladzcloudius commented on #7472
It shouldn't see below.

If one node fails there is a retry policy in the driver to take care of it and it works pretty well in the field.

[2020-10-21 18:49] gleb-cloudius commented on #7472
On Wed, Oct 21, 2020 at 11:43:06AM -0700, vladzcloudius wrote:

If node that acts as a coordinator fails a driver will retry, yes. But
if a replica fails there will be timeout. Just try it.

--
			Gleb.

[2020-10-21 19:00] vladzcloudius commented on #7472
When a replica times out - if there isn't a speculative_retry the coordinator will time out too. This this make the driver retry and eventually succeed.
Like I wrote above speculative_retry backfires a lot in the field and we disable it (a lot). This works all the time and it improves the cluster availability - not degrades it.

[2020-10-21 20:00] #6658 closed

[2020-10-21 20:23] gleb-cloudius commented on #7472
On Wed, Oct 21, 2020 at 12:01:12PM -0700, vladzcloudius wrote:

A driver does not retry on read timeout. There is no much sense to
retry after 5 seconds. There is speculative retry settings in a driver
as well which may help somewhat unless both requests will not hit the
same dead replica.

You can try it yourself - disable speculative retry, run read workload
and kill one replica (kill -9) - you

[2020-10-22 05:35] eliransin commented on #7420
@slivne we need to backport #7469 to 4.2 but  I am not sure if we want it to pass through master dtest first.
I would like to see the longevities/SCT scenarios pass before I am confident in 100% in this fix.

[2020-10-22 06:47] gaurarpit12 opened #7473 "Getting error: "server connection dropped: RPC frame LZ4 decompression failure" on a fresh Scylla 4.1 cluster"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.2
Cluster size: 2 nodes
OS (RHE

[2020-10-22 06:58] tzach commented on #7473
Error is similar to https://github.com/scylladb/scylla/issues/6925 which was fixed in 4.1.8

[2020-10-22 08:55] StarostaGit commented on #7459
@haaawk it seems you're right, I think I might have looked at the wrong statement. There are additional statements generated after the initial one that are not conditional and when I printed them out, they are indeed not the original UPDATE - that one is recognized as conditional.

I'm going to close the issue then as it looks like it's working.

[2020-10-22 08:56] #7459 closed

[2020-10-22 09:03] slivne commented on #7473
This should be fixed in 4.1.8 - please upgrade - if you still have issues please post and we can reopen

[2020-10-22 09:03] #7473 closed

[2020-10-22 09:09] bhalevy opened #7474 "resolve cross subsystem dependency in snitch::reload_configuration"
Today `gossiping_property_file_snitch::reload_configuration` violates subsystem layering
by updating topology of the storage_service token_metadata.
See https://github.com/scylladb/scylla/blob/17294a3bc76b35239080fbe85839deaefe9fdfaf/locator/gossiping_property_file_snitch.cc#L221-L230

On Wed, 2020-10-21 at 12:07 +0300, @avikivity wrote:

[2020-10-22 09:13] slivne commented on #7470
@slivne check if the query is broken up on clustering keys

[2020-10-22 09:16] slivne commented on #7461
@raphaelsc  / @bhalevy  offline strategy is addressing the need of throtelling compactions while streaming data to a new node - we are going to compact the staged files and move them once - right ?

[2020-10-22 09:27] slivne commented on #7455
[code]

[2020-10-22 09:28] #7448 closed

[2020-10-22 09:30] slivne commented on #7455
after waiting a bit the instance is up

[code]

[2020-10-22 09:32] slivne commented on #7455
4.1 seems to be based on machine image

[code]

and

[code]

[2020-10-22 09:32] slivne commented on #7455
so it seems we may have a check early on incorrect

[2020-10-22 09:34] slivne commented on #7455
[code]

@syuu1228 / @fruch / @bentsi are we missing a backport ?

[2020-10-22 09:42] slivne commented on #7442
closing as duplicate once the fix of 7439 is out lets validate both are gone

[2020-10-22 09:42] #7442 closed

[2020-10-22 09:47] yarix commented on #1485
i don't have experience with scylla installer but, i'd except to have 2 separate users for installation and running.
The user that installs Scylla should probably have root/sudo but, the user scylladb run with, shouldn't have root access.

[2020-10-22 09:49] slivne commented on #7315
tx

[2020-10-22 09:49] #7315 closed

[2020-10-22 10:15] fruch commented on #7455
yes we found this during 4.2 testing, and seem like we didn't backported it
[code]

[2020-10-22 10:17] fruch commented on #7455
backport to `next-4.1` branch

[2020-10-22 14:13] michoecho commented on #5498
The epoch of `std::chrono::system_clock` was standardized in C++20. This issue can be closed.

[2020-10-22 14:58] powellchristoph opened #7476 "New/replacement nodes stuck JOINING perpetually"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.1.8-0.20201002.6c43a0dc29-1
Clus

[2020-10-22 15:20] syuu1228 opened #7477 "scylla_setup: scylla_bootparam_setup description is inconsistent with current implimentation"
It says
`'Do you want add hugepages capability to the bootloader options?', 'Yes - enable hugepages at boot time. Choosing yes greatly improves performance. No - skips this step.'`
but we dropped hugepage settings few yrs ago, now it only changes clocksource settings.

[2020-10-22 15:20] syuu1228 commented on #7477
Note that we dropped hugepage at https://github.com/scylladb/scylla/commit/c28a574b9e3fb0b5cd306f2ed958a3005cb33f99#diff-d6fcbcfb3614438196db6ce5be9db816253e051f2b9f73f6470f59578c3dfd69

[2020-10-22 15:32] syuu1228 commented on #7477
Closing it because of https://github.com/scylladb/scylla/pull/7468#issuecomment-714575429

[2020-10-22 15:32] #7477 closed

[2020-10-22 21:05] powellchristoph commented on #7476
Logs from scylla-scorecard-n15.use1. It was logging in debug mode, sorry for the size.
https://drive.google.com/file/d/1r6mMXwOa_-g8FZEI5DdFBJu0sQ1d3YT3/view?usp=sharing

scylla-scorecard-n01.use1
https://drive.google.com/file/d/1xUlEdHiJfKX3HbJ1TDhZ_qcgY6Jb418v/view?usp=sharing

[2020-10-22 21:33] powellchristoph commented on #7476
The node is now stuck without any active streams.

[code]

[2020-10-23 02:32] vladzcloudius commented on #7472
Not sure which driver you are talking about. Here is the screenshot from the Python driver RetryPolicy help page:

![image](https://user-images.githubusercontent.com/6103981/96947688-c9a91380-14b1-11eb-9b8d-19812c661ac6.png)

You can read more about a similar configuration in a Java driver here: https://docs.datastax.com/en/developer/java-driver/3.6/manual/retries/

Obviously there is - that's wha

[2020-10-23 02:46] vladzcloudius commented on #7461
@slivne note that this issue has a much wider scope than just taming compactions during bootstrapping. We have just as heavy problem with a compaction during a regular operation.

[2020-10-23 05:43] gleb-cloudius commented on #7472
On Thu, Oct 22, 2020 at 07:32:37PM -0700, vladzcloudius wrote:

You need to read till the end of the sentence though, where it says:
   "and only of sufficient number of replicas responded (with data digest)."

Spoiler alert! This will never be the case. Whoever wrote the driver
never bothered to talked to whoever wrote the read path in Cassandra.

But even if retry would have worked is it OK to p

[2020-10-23 08:35] asias commented on #7274
I could not replace with a 3 node cluster on aws using https://docs.scylladb.com/kb/yaml-address/#nic-2-ips.

node1
scylla --seed-provider-parameters seeds=54.180.25.180 --listen-address 172.31.18.92  --rpc-address 172.31.18.92 --broadcast-address 54.180.25.180 --broadcast-rpc-address 54.180.25.180

node2
scylla --seed-provider-parameters seeds=54.180.25.180 --listen-address 172.31.23.61  --rpc-ad

[2020-10-23 10:31] mmatczuk opened #7478 "Config file workdir option not working"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.2 5fcc1f20

Setting workdir para

[2020-10-23 11:11] mmatczuk commented on #7478
In master this can be added to the `matches` function added to `config_src`.

[2020-10-23 13:33] rmb938 commented on #7274
Huh interesting. Ok let me get you those logs.

[2020-10-23 20:20] dorlaor opened #7481 "Configurable default override options in scylla.yaml"
It will be valuable for users to have their own provided default for certain
values, without having the need to specify them per table.

For example, one may ask to set the sstable compression default to snappy
and do not do it by table.
Same for other configurbles, like the compaction strategy, etc.

[2020-10-24 12:38] #5498 closed

[2020-10-25 10:16] slivne commented on #7476
@powellchristoph we do not have access to those files (can you provide access for view for anyone in scylladb.com - in the future please use the documented method https://docs.scylladb.com/troubleshooting/report_scylla_problem/ )

[2020-10-25 10:47] slivne commented on #7382
@nikolay-toroptsev hi - if you can provide the schema and what you did we can try and reproduce - if not I'll close the issue till we have a  bit more to work on to solve this.

[2020-10-25 10:49] slivne commented on #7220
@asias / @bhalevy anything left here - or can we close the issue

[2020-10-25 10:50] slivne commented on #5234
Closing this issue - stale - if it happens again please repost and save the data so we can make progress

[2020-10-25 10:50] #5234 closed

[2020-10-25 10:51] slivne commented on #4049
ok closing

[2020-10-25 10:51] #4049 closed

[2020-10-25 10:53] slivne commented on #5990
@ShlomiBalalis is this still hapenning - you just did runs for manager 2.2 - if not please close

[2020-10-25 10:55] slivne commented on #6377
We attempted to search for this possible regression and failed - the row cache has changed (and it showed a huge improvement in latecy - and removing stalls) - closing this issue

[2020-10-25 10:55] #6377 closed

[2020-10-25 10:56] slivne commented on #6232
fixed in sct closing

[2020-10-25 10:56] #6232 closed

[2020-10-25 10:57] slivne commented on #6531
Lets find a simple reproducer for this - single node populate with 10 GB with deflate - should be simple and then run cleanup

[2020-10-25 10:58] slivne commented on #6121
fixed in sct

[2020-10-25 10:58] #6121 closed

[2020-10-25 10:59] slivne commented on #7420
@eliransin can we close this now

[2020-10-25 11:16] slivne commented on #7470
@linux-wizard to try and simulate this on our end
- how big is a single row
- how many rows are there in a single partition

[2020-10-25 11:31] eliransin commented on #7420
@slivne I think we can.
closing - fixed by c74ba1bc36844857e018c17ec80061312300adfc (PR #7469)

[2020-10-25 11:31] #7420 closed

[2020-10-25 12:02] avikivity commented on #7431
One ugly fix is to store the row that starts the next group in paging_state. When continuing the next page we retrieve the row, and start reading the next one.

[2020-10-25 12:19] avikivity commented on #7439
For the first example, if one table is large and nine are small, we'll run out of work on the the 18 shards quickly, and two shards will keep working. This results in the process taking 10X as long.

So we need to take the table size into account.

[2020-10-25 12:23] slivne commented on #7431
On Sun, Oct 25, 2020 at 2:02 PM Avi Kivity <notifications@github.com> wrote:

That can cause you to skip some rows (and in some cases many rows) if
paging is done in parallel to writes

—

[2020-10-25 12:27] avikivity commented on #7439
Resharding a large table on many shards isn't a problem, because there can only be a small number of large tables. So it's okay to treat small and large tables differently.

[2020-10-25 12:31] avikivity commented on #7439
So we can adjust the formula:

[code]

[2020-10-25 12:31] avikivity commented on #7439
Proposal looks good to me.

[2020-10-25 12:32] avikivity commented on #7431
That's always true. In fact the best behavior would be to skip all rows that are written in parallel (to provide isolation).

[2020-10-25 12:57] slivne commented on #7431
In paging AFAIK we do not hold the next partition + next row

We hold the last partition + last row and start reading from that.

On Sun, Oct 25, 2020 at 2:33 PM Avi Kivity <notifications@github.com> wrote:

[2020-10-25 14:47] bhalevy commented on #7220
@slivne, I'd rather https://github.com/bhalevy/scylla/commits/replication_strategy_can_yield closes this issue

[2020-10-25 22:42] #7427 closed

[2020-10-26 04:36] asias commented on #7476
So you performed a replace node operation (using --replace-address) while the bootstrap operation is in progress? Do you have MV tables  / large paritiotns / large rows.  The stuck starts to happen before or after the replace operation starts.

[2020-10-26 04:41] asias commented on #7476
Did all the nodes in the cluster use 4.1.8? Please make sure all of them use the same and latest 4.1.8 version.

[2020-10-26 04:48] asias commented on #7274
It would be best if I can reproduce myself. So before you retry and collect the logs, can you share the exact config files of the cluster you can reproduce?

By "restaring node", what did you do exactly?

[2020-10-26 06:28] bhalevy commented on #6406
@raphaelsc what's the status on this?
Anything more left to be done?

[2020-10-26 06:48] bhalevy commented on #2956
@amoskong this can be retested as off-strategy compaction for refresh is already done in 7351db7cab7bbf907172940d0bbf8b90afde90ba

[2020-10-26 06:52] bhalevy commented on #4469
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/618/testReport/materialized_views_test/TestMaterializedViews/multi_mvs_on_different_populated_base_tables_test/

[2020-10-26 07:19] bhalevy commented on #7244
@fruch Latest failures, even with scylladb/scylla-ccm@345fa6c, e.g. in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/640/artifact/logs-release.2/orphaned/1603425755_secondary_indexes_test.TestSecondaryIndexes.test_insert_data_after_recreating_ks/
still show all nodes "frozen" at the same time and eventually hitting nose.plugins.multiprocess.TimedOutException.
[code]

[2020-10-26 07:22] bhalevy commented on #7244
We hit this in 3 different secondary_index tests:
See https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/640/testReport/

[2020-10-26 08:39] aleksbykov opened #7482 "Error: sstable - Mutation stream ends with unclosed partition during write during scylla stopping and coredump"
*Installation details*
Scylla version (or git commit hash): 4.2.0-0.20201025.94597e38e2 with build-id 9057ccfab8fb951c06b8feaf25ac05ac7e60765e
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0071fbde9ff6b2951(eu-north-1)
Test-id: 50b1886d-0b18-4543-a4e1-02233810884b
Job: longevity-cdc-100gb-4h-test
Job link: https://jenkins.scylladb.com/job/scylla-4.2/job/longevity/job/longevity-cdc-100gb-4h-

[2020-10-26 08:48] nyh commented on #6852
No need to backport - this fixes a regression introduced by Alternator Streams, which we never backported to any release.

[2020-10-26 09:05] raphaelsc commented on #6406
On Mon, Oct 26, 2020 at 3:28 AM Benny Halevy <notifications@github.com>
wrote:

i think compactionstats will only show an individual resharding job, which
is 1/N of all jobs there is. I think we still need to provide the user with
a real notion of how much resharding job needs to be done

[2020-10-26 09:26] elcallio commented on #7064
@asias  ping?

[2020-10-26 10:05] nyh commented on #6364
I was too slow, and 4.0 already aged out. The patch is already in 4.1 (bec95a06051e55f5294944b00709d64175e53a74)

[2020-10-26 10:16] aleksbykov commented on #7482
The same nemesises: StopStartScylla, ValidateHintedHandoffShortDowntime (during these nemesises scylla stopped and started in several minutes with systemctl stop/start commands) - were successfully run on another jobs and not triggered the coredump or error for same scylla version.

[2020-10-26 10:29] nyh commented on #7190
Alternator streams was not in any released version. So not backporting.

[2020-10-26 10:46] bhalevy commented on #6950
@slivne this code path is no longer called after 7351db7cab7bbf907172940d0bbf8b90afde90ba.
Now we don't even look at the main table directory upon refresh.
To do that we'd require to reinstate locking the table for writes since to identify "external" sstables being put in the main directory, we'll need to distinguish them from sstables normally created by memtable flush or compaction, but one of t

[2020-10-26 14:16] nyh commented on #7443
The `idx_token` column was added (by @psarna) in commit 4a9bf7ed5bf8fc00c2b19b4366d8cbc1bdec3c07 to fix #3423. I don't remember why bytes were chosen (maybe @psarna remembers), but at time, we still had multiple token implementations - as integers, byte arrays, I guess we got confused. Without having tests that compare ourselves to Cassandra (unfortunately), it's hard to know even if Scylla's toke

[2020-10-26 14:21] slivne commented on #6645
#6928 is fixed
#6054 is still open

[2020-10-26 14:28] psarna commented on #7443
As we, three Piotrs, discussed once, perhaps the most sensible solution is what @avelanarius suggested - to introduce the right order for *newly created* views and maintain the old, wrong order for old views. Then, users can trivially fix their order just by recreating the view, and we don't pay the price of trying to rewrite user's views ourselves.
That still involves introducing a cluster featur

[2020-10-26 14:28] slivne commented on #7025
@asias / @denesb looking at the backtrace this seems simillar to other issues we had with stream validation when a node is restarted in the middle - stream validation fails.

Please confirm, if this is the case - I'll reassign this to you guys @piodul / @haaawk please wait for an answer and don't continue investigation on your end till we have an answer on this.

[2020-10-26 14:41] slivne commented on #7110
Well 4.2 with HH with regular streaming (without repair_based_operations passed) so something maybe off with repair in this case as well.

[2020-10-26 14:53] slivne commented on #7342
@raphaelsc the part of offline strategy that we are missing is that #6054 ?

[2020-10-26 20:40] raphaelsc commented on #4617
This will not only happen TWCS, but any other strategy which desires to segregate data on flush. I am working on a new compaction strategy for S3 work which segregates data by object identifier on flush.

[2020-10-26 20:48] raphaelsc commented on #4617
EDIT: s/happen/benefit

[2020-10-26 20:51] vladzcloudius commented on #6406
@bhalevy Has anything been done?

[2020-10-26 21:43] vladzcloudius commented on #7472
Driver's bugs aside, I know that users applications work very well without speculative_retry.

com.datastax.driver.core.exceptions.ReadTimeoutException: Cassandra timeout during read query > at consistency QUORUM (2 responses were required but only 1 replica responded)
total,        550469,       9,       9,       9,  2222.8,     2.4,  9999.2,  9999.2,  9999.2,  9999.2,  132.0,  0.11360,      0,

[2020-10-26 22:30] raphaelsc commented on #4617
i'll work on making it in good shape for upstream, but i already have working version, from my hackathon work: https://github.com/sitano/s3-scylla/commit/d05f82e8613b58a06076e657bd74093b8cc05176

[2020-10-26 22:41] fruch opened #7487 "scyllatop fail with "locale.Error: unsupported locale setting" on docker image"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20201015.8068272b466
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI):  centos docker

[code]

seems like #7414 is hardcoding LC_ALL to something that doesn't match the docker locale

[2020-10-26 23:13] fruch commented on #7487
We have `urwid==2.1.0` installed coming from fedora, installing manually `urwid==2.1.2` into the relocatable python fixed the issue.

see:
https://github.com/urwid/urwid/issues/437

how can we get an update version with fix, into the fedora upstream ?

[2020-10-26 23:18] fruch commented on #7487
seem like the new version on it's way
https://bugzilla.redhat.com/show_bug.cgi?id=1860724

[2020-10-27 02:14] asias commented on #6645
We have multiple issues pending. Can you point out the issue you are referring to here?

[2020-10-27 02:22] asias commented on #7025
Yes, the backtrace from https://github.com/scylladb/scylla/issues/7025#issuecomment-709073896 shows we hit the validator issue. Before we improve the validator to support abort, @slivne @denesb  I think we should disable --abort_on_internal_error flag in the QA tests we we can focus on other real issues.  We will still see the validation errors so we won't forget this issue.

[code]

[2020-10-27 02:29] asias commented on #7025
Say we have n1, n2. n1 runs repair. n2 marks n1 down in gossip. n2 will remove all repair meta data with n1. when n1 tries to run repair with n1 again, n2 will report repair meta data can not be found. This is expected. The problem is n2 marks n1 down for some reason.

[2020-10-27 02:35] asias commented on #7110
Sorry, I can not parse what you meant here.

[2020-10-27 02:41] raphaelsc commented on #6645
When I analyzed this issue, I concluded, with some reasonable certainty as pointed out by @denesb, that this issue can be closed after #6928 (fixed), #6054 (opened), and #5226 (opened; off-strategy on repair) are fixed. Those two last issues are on the top of my plate of todo working items.

[2020-10-27 02:45] raphaelsc commented on #7342
no it's covered by https://github.com/scylladb/scylla/issues/5226 instead (we currently missing off strategy compaction on streaming / strategy change). FWIW, this is the highest priority item on my todo list.

[2020-10-27 02:53] asias commented on #6806
Kamil, could you please rerun the test against latest master or 4.2 branch we have few fixes since July.  Bootstrapping node during some workload is constantly tested by QA.  If you hit the issue again, please give me the instruction to reproduce.

[2020-10-27 06:09] penberg commented on #7036
@avikivity We never pinned the kernel for open source releases. I queued reverts for enterprise, though.

[2020-10-27 06:18] fruch opened #7488 "scyllatop: using `metricPattern` fails with "dictionary changed size during iteration""
*Installation details*
Scylla version (or git commit hash): 666.development-0.20201015.8068272b466
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): centos docker

when using `metricPattern`
[code]

from my experience, it when trying to change a dict while iterating on it, it changed on python3
and one should iterated over the keys, or a copy of the dict.

[code]

[2020-10-27 07:02] dkropachev opened #7489 "systemctl stop can fail while scylla is stopped"
*Steps*
1. Start cluster with 5 nodes
2. Load some data on it
3. Log in into 1 node and run:
sudo systemctl stop scylla-server.service; echo $?

*Installation details*
Scylla version (or git commit hash): 666.development-0.20201025.c518c1de1 with build-id 9212462fe70187b59afec0322cc758291cf9058a
Cluster size: 5
OS: (AWS AMI) ami-0998c746523893a6c

[code]

While systemctl returned the following at

[2020-10-27 07:32] nyh commented on #7443
@psarna maybe this is finally a compelling case where we need a test framework like Alternator's: Something in the repository (not dtest), which allows us to run the same test against both Cassandra and Scylla. As much as it's "a shame" that the sort order change because of a index, it only really matters if Cassandra does not have the same problem. I think I'll prepare such a test framework (base

[2020-10-27 07:34] linux-wizard commented on #7470
@slivne A row is pretty small. Max partition size is 29.5KB, Mean partition size is 592B
We seem to have between 5 to 100 rows per partitions (and so fetched by application) [need confirmation]

[2020-10-27 07:56] slivne commented on #6806
4.2 is using stream based operations
master repair based operations

@Asias He <asias@scylladb.com> please clarify what do you need

On Tue, Oct 27, 2020 at 4:53 AM Asias He <notifications@github.com> wrote:

[2020-10-27 08:04] asias commented on #6806
I know.  I wanted to make sure 4.2 is not affected by this issue. If we want to test only the repair based node operaions rerun the test against master is enough.

[2020-10-27 08:22] gleb-cloudius commented on #7472
On Mon, Oct 26, 2020 at 02:44:05PM -0700, vladzcloudius wrote:

And answering after 5 seconds is good enough?

They have to deal with timeouts, so they do. It does not mean they are
not in a degraded mode until gossiper catches up.

You need to "kill -9" and set retry to NONE. Very easy to reproduce. If
you want we can do a session where I will show it to you.

I am not sure what "retries" setting

[2020-10-27 08:47] avikivity commented on #7036
Yes we did, example: https://github.com/scylladb/scylla-machine-image/commit/e22898ac2340da947d6cb342fac1bc4b4c46e0e4