[2022-09-06 15:02] avikivity commented on #10483
@syuu1228 I'm evaluating for backport. On the one hand, it's an old bug that exists everywhere and was just uncovered by more strict error checks. On the other hand, nobody complained, so it's probably not a big problem.

I'll remove the backport candidate label, let me know if you disagree.

[2022-09-06 15:03] avikivity commented on #10473
[Backported](https://github.com/scylladb/scylladb/issues/10473#issuecomment-1118363194), removing label.

[2022-09-06 15:03] avikivity commented on #10458
Seems minor, not backporting.

[2022-09-06 15:04] raphaelsc commented on #10458
Minor, indeed.

[2022-09-06 15:05] avikivity commented on #10455
According to the commit changelog it was a 5.1 regression fixed in 5.1, so no backports needed.

[2022-09-06 15:05] avikivity commented on #10446
No vulnerable branches, not backporting.

[2022-09-06 15:08] avikivity commented on #10412
@syuu1228 does 5.0 need this? It doesn't backport cleanly.

I see it was reported for 4.6, so probably yes.

[2022-09-06 15:25] benipeled commented on #10505
Regardless to this case (I'll investigate it soon) we can use a Backport done/not-required label and adjust the backport script to skip issues with this label

[2022-09-06 15:41] avikivity commented on #2927
Timeouts are coarse controls. If the timeout is 30ms and you time out after 33ms, the extra work done isn't a deal breaker.

If you spend more effort enforcing timeouts at a fine granularity than you save from not doing the extra work, you come out at a loss.

The expectation is that most queries will complete before the timeout expires, some will timeout before their execution starts (esp with 3d

[2022-09-06 16:08] nyh commented on #10838
I just saw this failure also in testing branch-5.0: https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2090/testReport/junit/cql_additional_tests/TestCQL/Sanity_Tests___test_static_columns_cas/

Maybe it needs backporting?

[2022-09-06 16:15] tomer-sandler opened #11463 "Issue in page Upgrade Guide - ScyllaDB Enterprise 2021.1 to 2022.1 for Red Hat Enterprise Linux 7 or CentOS 7"
I would like to report an issue in page https://docs.scylladb.com/master/upgrade/upgrade-enterprise/upgrade-guide-from-2021.1-to-2022.1/upgrade-guide-from-2021.1-to-2022.1-rpm

### Problem

This guide covers upgrading ScyllaDB from version 2021.1.8 or later to ScyllaDB Enterprise version **2021.1.y**, on the following platforms:

###  Suggest a fix
This guide covers upgrading ScyllaDB from version

[2022-09-06 16:19] tomer-sandler opened #11464 "Issue in page Upgrade Guide - ScyllaDB Enterprise 2021.1 to 2022.1 for Red Hat Enterprise Linux 7 or CentOS 7"
I would like to report an issue in page https://docs.scylladb.com/master/upgrade/upgrade-enterprise/upgrade-guide-from-2021.1-to-2022.1/upgrade-guide-from-2021.1-to-2022.1-rpm

### Problem
Upgrade notes that appear in the Ubuntu upgrade from 2021.1 to 2022.1 re CDC are missing in the RHEL/CentOS7 upgrade page

Note
The note is only useful when CDC is GA supported in the target ScyllaDB. Execute th

[2022-09-06 16:20] nyh commented on #11455
You're right about the missing properties in DescribeTable as well - this is issue #5026, and the missing GSI properties is tested by the currently-failing test `test_gsi.py`::`test_gsi_describe`. But "IndexName" should not be missing - can you please check if it's really missing? The "Projection" I know is missing.

[2022-09-06 16:27] xemul opened #11465 "Messaging service mis-configures tcp_nodelay for verbs"
Messaging wants to turn nodelay ON for gossiper verbs since c4ae2206c79dd929d029d6d3a0aba9068194d887:

[code]

however, idx == 1 was gossiping messages up until 16d8cdadc9dfc511bec52cdf000570b6b639f4ed, after it gossiper verbs moved to index 0. Other than that, index 1 (0 nowadays) also includes more verbs, exactly `GET_SCHEMA_VERSION` and `*_GROUP0_*` ones.

@avikivity , what's the real intent fo

[2022-09-06 16:35] avikivity commented on #11465
It should be on by default (low latency), but disabled for cross-dc communication to reduce bandwidth. Most cross-dc traffic is not latency sensitive (LOCAL_QUORUM -> asynchronous replication).

For gossip we do want low latency even cross-dc to avoid marking a node as failed incorrectly.

[2022-09-06 16:36] nyh opened #11466 "Alternator: missing IndexSizeBytes field in return of DescribeTable"
The return from `DescribeTable` is missing the `IndexSizeBytes` field for secondary indexes (GSI and LSI). According to DynamoDB documentation, `IndexSizeBytes` should have:

This estimate is available to us separately for each node, but the question is how do we sum it up for all nodes. Do we do this during the query, or periodically? What to do when some of the nodes are down?

This issue is bas

[2022-09-06 16:43] nyh commented on #5026
(work in progress comment... to be edited...)

Now we have individual issues about all remaining missing fields:
* https://github.com/scylladb/scylladb/issues/7550 for ItemCount in base tables and indexes,
* https://github.com/scylladb/scylladb/issues/7551 for TableSizeBytes (for base tables)
* https://github.com/scylladb/scylladb/issues/11466 for IndexSizeBytes (for indexes)

    BillingModeSumma

[2022-09-06 17:08] soyacz commented on #7899
Similar issue happened when upgrading from 5.0 to 2022.1.2-20220905.f1a246a8b:

## Installation details

Kernel Version: 5.15.0-1015-aws
Scylla version (or git commit hash): `5.0.2-20220807.299122e78` with build-id `01a9300a0f113d968f4d199f85240a43ff7f1a5a`
Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- rolling-upgrade--centos-db-node-6077f33b-4 (54.217.46.195 | 10.0.3.180) (

[2022-09-06 17:38] soyacz opened #11468 "Nodetool drain command freezes (on upgrade from OSS to Enterprise)"
## Installation details

Kernel Version: 3.10.0-1160.76.1.el7.x86_64
Scylla version (or git commit hash): `5.0.2-20220807.299122e78` with build-id `01a9300a0f113d968f4d199f85240a43ff7f1a5a`
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade--centos-db-node-c090dbc9-0-4 (34.73.147.55 | 10.142.0.56) (shards: 8)
- rolling-upgrade--centos-db-node-c090dbc9-0-3 (34.14

[2022-09-06 17:41] bhalevy commented on #11420
We need to add support for this format to seastar-addr2line:
[code]

Extracting the meaningful column, the decoded backtrace is
[code]

[2022-09-06 17:52] bhalevy commented on #11420
It looks like we don't close the readers before destroying them on exception.

[2022-09-06 18:12] bhalevy opened #11469 "reader should cancel ongoing reads on timeout"
As (the last remaining) part of https://github.com/scylladb/scylladb/issues/2927,
we should consider improving our timeout handling on top of https://github.com/scylladb/scylladb/commit/acf8da2bcef47168376e876e2fdc37fc26ebc82e (with the help of https://github.com/scylladb/seastar/commit/66b4c6acfdf0fa72d2397830f5306de7c41eaa64)
and cancel outstanding reads on timeout (e.g. using an abort_source an

[2022-09-06 18:13] bhalevy commented on #2927
As per https://github.com/scylladb/scylla-enterprise/issues/1808#issuecomment-1238310837, closing this issue since it's too broad, in favor of #11469 that tracks the remaining work.

[2022-09-06 18:13] #2927 closed

[2022-09-06 18:14] bhalevy commented on #11469
@xemul assigned to you provisionally.

[2022-09-06 18:29] bhalevy commented on #10498
This is quite rare and usually restarting the node works around the issue,
unless the "poison pill" is restored from the commitlog.  That could happen in theory but I don't recall hitting it in practice.
In this case, we either have a deeper issue we need to solve, or the offending commitlog needs to be deleted too, risking some limited data loss.

That said, fixing this issue won't help the "pois

[2022-09-06 19:34] bhalevy commented on #11420
Since these readers are just constructed 9ada63a9cbdbe75eeb55eb6298f26b666ab93707 (fixing #9065)
would allows destroying them at this state.

It will be available first in 5.1.0.
Need to consider backports.

[2022-09-06 20:44] nyh opened #11470 "Alternator: missing Projection field in return of DescribeTable"
The return from `DescribeTable` which describes GSIs and LSIs is missing the `Projection` field. We do not yet support all the settings `Projection` (see #5036), but the default which we support is `ALL`, and `DescribeTable` should return that in its description.

We have an xfailing tests for this feature: `test_gsi.py`::`test_gsi_describe`.

[2022-09-06 21:02] nyh opened #11471 "Alternator: missing IndexStatus field in return of DescribeTable"
When `DescribeTable` is describing a GSI, it is supposed to describe its status in an `IndexStatus` field.

`IndexStatus` can be one of `CREATING`, `UPDATING`, `DELETING`, or the normal state `ACTIVE`. But because in Scylla table operations are currently synchronous (see #5052) the only status we should can ever return - currently - is `ACTIVE`.

Note that there is another related field, `Backfill

[2022-09-06 21:07] nyh commented on #5022
When we implement adding a GSI to an existing table, we should remember that while the backfilling ("view building") is in progress, `DescribeTable` should return for this index `IndexStatus=CREATING` and `Backfilling=True`. We don't have a test for that yet (it's not obvious how to test for this, because the backfilling stage can be so short we won't notice it is happening. Perhaps we can use inj

[2022-09-06 21:41] nyh opened #11472 "Alternator: missing fields in return of DeleteTable"
The `DeleteTable` operation in Alternator is supposed to return a `TableDescription` object describing the table which has just been deleted, similar to what `DescribeTable` returns. We should probably just call describe_table() before starting the deletion to build this response.

Our currently implementation only populates the returned `TableDescription` with a few necessary fields - `TableName`

[2022-09-06 21:44] #5026 closed

[2022-09-07 02:35] michoecho commented on #11202
Posted an `index_reader`-level fix proposition (or rather two propositions) at #11474. @avikivity @tgrabiec Take a look and say what you think about that direction.
I'll follow the other (cache-level) direction too. I'm not sure which of the two (if any) is more appropriate for backporting.

[2022-09-07 06:35] fgelcer commented on #9906
@tgrabiec , please LMK when i can terminate the cluster

[2022-09-07 07:17] denesb commented on #11223
I will try to reproduce locally with the sstables I have.

[2022-09-07 07:48] psarna opened #11475 "Make DESCRIBE statement work with local indexes"
This issue is created ahead of time, and depends on #11106 to be merged first.

Now that we support server-side describe, we can finally fix the issue with DESCRIBE INDEX not working well for local indexes.

Example:
[code]
As you can see, describing a local index results in dumping our internal, JSON-based serialization format of the index definition, which prevents users from simply copy-pasting

[2022-09-07 07:57] avikivity opened #11476 "Undefined behavior in transport decompression code"
We return the wrong size, which can lead to crashes or other undefined behavior.

[2022-09-07 08:13] cmm opened #11478 "[RFE] Make it easier to identify the query that causes a memory limit violation"
Presently, when a memory limit is violated the user sees something like this in a replica log:

`mutation_partition - Memory usage of unpaged query exceeds soft limit of 1048576 (configured via max_memory_for_unlimited_query_soft_limit)`

We should add the query UUID (which is all the replica knows about the query at that point), so the user can find the relevant portion of the coordinator log and

[2022-09-07 08:23] bartpeeters commented on #11455
`IndexName` does not seem to be missing, when using aws CLI and describe-table:

[code]

No idea why Terraform outputs the `-` part without the `name`.

I also tried changing the `global_secondary_index` to contain the `range_key`:

[code]

But Terraform still detects changes:

[code]

So I think Terraform really needs

[code]

to be returned from `describe-table`, for it to not think the index ne

[2022-09-07 09:32] slivne commented on #10981
@michoecho we need help here i am assigning this to you - @roydahan will help you ping him.

/cc @avikivity

[2022-09-07 10:24] michoecho commented on #10981
@roydahan Which test is it? `test-cases/performance/perf-regression-latency-1TB.yaml`?

I'm not a SCT user. Should I know something undocumented before I attempt to run it?

[2022-09-07 10:31] xemul opened #11483 "Messaging service encrypts GROUP0 and GET_SCHEMA_VERSION messages regardless of DC/RACK"
The code

[code]

However, since encryption is turned ON/OFF on per-index basis, all verbs that share index with gossiper verbs are also encrypted. The verbs are:

[code]

@gleb-cloudius , is this something to worry about?

[2022-09-07 10:39] roydahan commented on #10981
Yes.

All details should be in the code of "test_latency" and the yaml you mentioned above.
If you want to run it with official version and just look at a monitor or something like that, you can do it from this Jenkins job:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/scylla-master-perf-regression-aws-test-latency/

[2022-09-07 10:43] gleb-cloudius commented on #11483
If we encrypt more than needed for verbs that are not on the data path it should not be a problem. But I see different problem here. If the first verb that is used is not one of gossiper's then the connection is opened without encryption and subsequent communication is not encrypted for the gossiper verbs as well. If this is a problem? I am not sure since I do not understand the comment in `must_e

[2022-09-07 11:07] slivne commented on #11459
this is blocking 5.1

[2022-09-07 11:12] slivne commented on #11468
@soyacz do you have a stuck node ? are you able to reproduce ?

If we have a stuck node in this state we need complete logs of the stuck node and a coredump

to generate the coredump  ```kill -6 <pid>```

[2022-09-07 11:13] bhalevy commented on #11289
Reopening since this is still hitting us.
E.g. https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1167/artifact/testlog/aarch64/debug/test_concurrent_schema.62.log
[code]

[2022-09-07 11:14] bhalevy commented on #11468
@xemul please look into this

[2022-09-07 11:15] slivne commented on #10928
the nodetool error could be from nodetool itself not supporting the azuresnitch in scylla.yaml

@soyacz  can we please have the scylla.yaml -I expect the snitch their is not supported.

[2022-09-07 11:18] slivne commented on #11462
@denesb need help to understand why we have these errors

[2022-09-07 11:23] slivne commented on #11353
- Lets make sure there is data so reshape will take place
- the smp change needs to be from smp=1 --> smp2

[2022-09-07 11:23] bhalevy commented on #11353
@xemul I think the most suspicious change mentioned in https://github.com/scylladb/scylladb/issues/11353#issuecomment-1234204772 is df203a48a

[2022-09-07 11:26] slivne commented on #11289
@nyh / @eliransin / @alecco need help - its blocking build and happening a lot

[2022-09-07 11:29] alecco commented on #11289
Never seen timeouts on ```CREATE TABLE``` on this test. Checking.

[2022-09-07 11:58] nyh commented on #11289
My bet is still on one of the remaining timeouts (e.g., hearbeat period or timeout) that we didn't change from the default, but I don't understand the exact scenrio of how it can fail....

Please note that these failures is only in the new multi-node cluster tests (test/topolog) - it's not the single-node test/cql-pytest tests.

[2022-09-07 12:06] xemul commented on #11353
I don't get why this is considered to be error. Resharding happens _before_ scylla registers the /storage_service/hostid API endpoint. And since resharding is synchronous, no wonder why the API in question is not accessible until resharding finishes. @vponomaryov

[2022-09-07 12:06] alecco commented on #11289
@nyh

Default `idle_heartbeat_timeout=30` seems quite reasonable. These are localhost connections.

I can bump this up to `60` but I think we are seeing a problem somewhere else and just keep kicking the can down the road. And not even really knowing if this change fixed.

[2022-09-07 12:19] nyh commented on #11289
@alecco, in this test do we have a fully live cluster or do we bring down one of the nodes?

In the past you also mentiooned the guess that something is broken with the retry policy - that when we bring down a node, we fully expect some of the requests to it to fail, but they should then be retried automatically on another host - and this isn't happening?

[2022-09-07 12:24] alecco commented on #11289
@nyh
No, this pytest does no topology changes. Just a lot of concurrent schema changes.
[test_cassandra_issue_10250](https://github.com/scylladb/scylladb/blob/master/test/topology/test_concurrent_schema.py#L23)

This looks more and more **not** a testing issue. It just happens that my tests are uncovering an underlying problem.

[2022-09-07 12:24] vponomaryov commented on #11353
@xemul it doesn't return success even after resharding finishes if we trigger it by the decrease of the `smp` value.
So, it never works when smp gets decreased.
Final result - nodes never return back to a cluster.

@slivne I reproduced it on my local K8S deployment decreasing smp, not increasing.

[2022-09-07 12:29] soyacz commented on #11468
I don't have it now. When it reproduces I'll let know here.

[2022-09-07 12:32] alecco commented on #11289
@nyh
Relevant logs:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1167/artifact/testlog/aarch64/test.py.log
https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1167/artifact/testlog/aarch64/debug/test_concurrent_schema.62.log
https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/1167/artifact/testlog/aarch64/debug/scylla-6.log
https://jenkins.

[2022-09-07 12:41] nyh commented on #11289
If a "CREATE TABLE" operation **really** hung for more than the timeout (I lost track if it's the default 10 seconds or the 120 seconds we set in ExecutionProfile - does that work?), would we get this "Connection defunct by heartbeat" error or something else? Because I'm trying to think what sort of Scylla bug can result in this specific report. I don't see in the logs any evidence that Scylla com

[2022-09-07 12:59] xemul opened #11486 "test.py doesn't always save logs"
Take the (broken) branch from https://github.com/xemul/scylla/tree/br-snitch-dont-mess-with-topology-data
Then
[code]
No logs :(

[2022-09-07 13:02] kostja commented on #11486
Also we're observing that test.py now *eagerly * starts all suite clusters, even if one runs just one test from a suite (so other clusters will not be used at all). This is also looking like a change introduced by scylla manager, and not evident at first sight - but before, we would start clusters on demand, so if there are fewer tests than the size of the suite cluster pool, extra clusters were n

[2022-09-07 13:49] alecco commented on #11486
@xemul I'm still waiting my `release` build of your branch...

Meanwhile, can you try with this fix?  https://github.com/alecco/scylladb/tree/xemul-br-snitch-dont-mess-with-topology-data

[2022-09-07 13:49] MokhlesHm opened #11488 "Segmentation fault on shard 1"
Upload UUID = 94a706fe-0906-4f16-8dd8-f3af4a578a60
*Installation details*
Scylla version : 5.0.1
Cluster size: 9
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu

I stopped Scylla and deleted some corrupt files then restarted it.
The node go up for about one minute and then crashes generating the core dump file  with the UUID mentioned above.
Looking into the logs i can see the following :

Sep 07 10:06:05

[2022-09-07 14:19] AdamStawarz commented on #11379
@psarna do we have any timeline(ETA) for it ?

[2022-09-07 14:30] xemul opened #11490 "Topology tests are flaky"
If turning tcp_nodelay to OFF unconditionally (it's not nice, surely, but just to demonstrate the race) then
[code]
fails because a node cannot join cluster. This, in turn, happens like this:

[code]

shutdown fires because `assure_sufficient_live_nodes()` throws `unavailable_exception` for CL=ALL which, in turn, happens because seed node is added to topology, but gossiper doesn't manage to mark i

[2022-09-07 14:30] xemul commented on #11490
Cc @kostja

[2022-09-07 14:34] xemul commented on #11490
#11465 , it's ON for gossiper "by chance" because all nodes are configured in the same DC

[2022-09-07 14:37] bhalevy commented on #10284
We've just hit this on 5.0 next promotion:
https://jenkins.scylladb.com/job/scylla-5.0/job/next/197/testReport/junit/update_cluster_layout_tests/TestUpdateClusterLayout/dtest___test_simple_kill_node_while_decommissioning/
[code]

https://jenkins.scylladb.com/job/scylla-5.0/job/next/197/artifact/logs-gating.release.2/1662558505752_update_cluster_layout_tests.py%3A%3ATestUpdateClusterLayout%3A%3Ates

[2022-09-07 15:29] psarna commented on #11379
I do - ETA for development is 0 hours, the series is in review: https://github.com/scylladb/scylladb/pull/11380 . It's likely it will be merged soon

[2022-09-07 16:01] MokhlesHm opened #11491 "seastar::internal::coroutine_traits_base<void>::promise_type"
Upload UUID : ef55bd97-1575-4976-b729-afef3f50c176

*Installation details*
Scylla version (or git commit hash): 5.0.1
Cluster size: 9
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 22.04

Scylla crashed by itself on our prod environment. No changes were made neither on the server nor the db before that incident.
The core dump  file is sent with the above UUID.
I found the following logs  :

Sep 07 12:31:

[2022-09-07 16:30] xemul opened #11492 "Raft RPC creates client without topology information"
When the `messaging_service::get_rpc_client()` makes a connection to a peer it turns on/off encryption/compression/nodelay based on the topology information -- whether the local node lives in the same dc/rack as the peer one. However, when the client is requested for verbs `RAFT_APPEND_ENTRIES` and `RAFT_APPEND_ENTRIES_REPLY` the dc/rack info is not available and the socket is created with the ass

[2022-09-07 16:59] xemul commented on #10769
Merged 663f2e2a8f81b57ba3934a79a21c20d011677b17

[2022-09-07 16:59] #10769 closed

[2022-09-07 17:04] xemul commented on #11486
@alecco , I tried testing your patch, but surprisingly -- it made test.py pass (I dunno why -- or the test really passed or test.py stopped treating the result as failure) :man_shrugging:

[code]

[2022-09-07 17:05] alecco commented on #11486
@xemul yes there's a problem with handling exceptions and pre-test checks

[2022-09-07 21:34] #11476 closed

[2022-09-08 02:20] asias commented on #11034
@xemul could you please check if the version was exposed to the  io queue hang and rpc hang issue we found recently?

[2022-09-08 02:38] asias commented on #11459
The repair follower node failed to write rows
[code]

We might have messed up with the features during upgrade.

Possible problematic commits from 299122e78..d10aee15e7e9

[code]

[code]

[code]

[2022-09-08 05:20] xemul commented on #11034
@asias , which IO queue hang do you mean? I cannot recall any

[2022-09-08 05:21] xemul commented on #11034
Regarding RPC hangs -- there were 3 of them, 2 not fixed at all, 1 fixed but only affecting 5.1

[2022-09-08 05:57] xemul opened #11497 "Cache hitrates leak"
The per-table hitrates are reset only on this codepath:

[code]

the `remove_error_rpc_client` is called only on explicit error seen on client. However, if the peer node goes down or advertises cql shutdown, then

[code]
 is called which doesn't kick connection-dropped notifier and leaves hitrates not cleaned.

[2022-09-08 05:58] xemul commented on #11497
@nyh , please comment -- what's the expected lifecycle for per-table hitrates, should it survive any "temporary down" remote node states, or should it be as simple as "no remote node -- no hitrates"?

[2022-09-08 06:40] asias commented on #11034
I vaguely remember there was a regression with the new io scheduler that some of the queue would not get correct bandwidth.

[2022-09-08 06:47] asias commented on #11414
We need commitlog export to check why we get 250MB mutation.

This is not a repair issue.

[2022-09-08 07:26] slivne opened #11498 "split the scylla_reactor_aio_errorsto the different errors we can get"
scylla_reactor_aio_errors today accumulates all the errors we can get from aio.

We would like to split it (using a label ?) and count base on the actual error we get back and possibly alert differently on different errors.

[2022-09-08 07:33] denesb opened #11499 "Missing api-doc files result in silent failure"
If scylla fails to open the `json` files for the api-doc (swagger), requests to api endpoints result in silent failure and the connection being abruptly closed. Some clients (e.g. python's urllib) don't handle this well: the rest api uses chunked encoding and abruptly closing the connection -- while correct per protocol in case of errors -- results in the last 0 chunk not being sent, which results

[2022-09-08 07:48] amnonh commented on #11498
This should probably be a seatart issue.
aio erros are count either in reactor.cc:  ```io_completion::complete_with``` if the res is zero
or in reactor_backend.cc: ```aio_storage_context::handle_aio_error```

From the code it seems that handle_aio_error expect an errno value, so I can register counter per errno (do we want it per shard?)
It can be marked as skip_when_empty

[2022-09-08 07:52] fruch commented on #11353
@bhalevy seems like you were right,

run with specific df203a48af0c, failed, while run with the 532aa6e65560 (the one before), passed.
see the following logs job and logs:

# Installation details

Kernel Version: 5.11.0-1017-aws
Scylla version (or git commit hash): `5.1.0~dev-20220907.df203a48af0c` with build-id `abef192334a36cbd94c78ac076dd4400304b7370`

### Logs:
- **db-cluster-d3c84622.tar.gz**

[2022-09-08 07:57] slivne commented on #11498
I prefer it will remain a single metric and only add a way to see what the error is if we need

I think we have done the same in cql error results scylla_transport_cql_errors_total metric - please check what we did there

[2022-09-08 08:29] xemul commented on #11353
Gossiper doesn't mark peer nodes as up. Also it complains about features mismatch. Here's the difference in logs (- pass + fail)
[code]
@asias , does this ring any bell?

[2022-09-08 08:34] xemul commented on #11353
@fruch , how can I re-run this test with increased gossiper verbosity?

[2022-09-08 08:41] xemul commented on #11353
@fruch , @vponomaryov where can I get scylla.yaml file for both runs? The db-cluster-* only has logs

[2022-09-08 08:46] vponomaryov commented on #11353
Scylla files are at the `/kubernetes-a6b72fe4/functional-k8s-test-a6b72fe4/namespaces/scylla/pods/` directory in the `kubernetes-d3c84622.tar.gz` archive provided above.

[2022-09-08 08:47] amnonh commented on #11498
This is exactly the implementation I'm talking about, in cql we add a ```type``` label and have a map of counters, one per type

[2022-09-08 08:52] vponomaryov commented on #11353
It will require SCT update, because we do not have jenkins pipelines allowing to set it via it's params.
So, write config option you need, we will rerun.

[2022-09-08 08:52] xemul commented on #11353
So, nodes use gossiping-properties-file snitch with prop file being
[code]
WIth prefer_local = false the df203a48af0cd49c9ee4235f9e846801e65bfca5 doesn't make any difference to how this snitch driver works

[2022-09-08 08:58] nyh commented on #11499
I opened a Seastar issue https://github.com/scylladb/seastar/issues/1209 on something we could have done to make the error clearer in this case, but I think there is also the question of why Scylla (or Seastar?) didn't log the error from the response body writer (@denesb said he saw nothing in the log). The error message should have mentioned what file was missing, and bonus points for mentioning

[2022-09-08 09:08] xemul commented on #11353
@vponomaryov , it's either `--logger-log-level 'gossip=debug'` CLI or the
[code]
add-on to the scylla.yaml

[2022-09-08 09:13] xemul commented on #11353
@vponomaryov , just a wild guess -- can it happen that k8s management/setup doesn't turn networking in PODs ON until it sees the aforementioned `/storage_service/host_id` endpoint? This would explain why gossiper doesn't see peer nodes around it (though it doesn't explain why gossiper shadow round doesn't complain, but still)

[2022-09-08 09:19] vponomaryov commented on #11353
K8S controller's common approach is to retry until success. In current case we get error responses for very long time.
So, that possible small time range of net unavailability is out of suspicion from my point of view.
Moreover, it doesn't describe why another build works. And, even more, why exactly the decrease of smp triggers the bug.

[2022-09-08 09:27] xemul commented on #11353
It can be a race whose window was successfully avoided before the suspected merge commit, e.g. like it currently happens in #11490 despite test apparently being racy

Different number of shards often implies different timings, e.g. like it was in #10950 where cross-shard communication increased race windows and triggered a bug

[2022-09-08 09:36] avikivity commented on #11498
There's too many possible errors, and they're all rare. It will flood the metrics with even more useless zeros.

[2022-09-08 09:46] fruch commented on #11355
@slivne FYI, an issue related to ip changes, and topology changes

[2022-09-08 09:54] amnonh commented on #11498
I suggested to limit the metrics to only show non-zero counters, the problem with that is that once an error was reported it will never go a way.

An alternative, use the logger, if it's rare we can right a warning to the log

[2022-09-08 10:18] xemul commented on #11353
I think I know why it could happen. @vponomaryov , is there any way to get contents of `system.peers` and `system.local` tables for failed and success runs?

[2022-09-08 10:22] annastuchlik opened #11501 "Fix the Docker commands for starting and stopping a ScyllaDB node"
https://docs.scylladb.com/stable/operating-scylla/procedures/config-change/rolling-restart

The Docker commands use `scylla` instead of `scylla-server`:
[code]

**Fix:**
[code]

[2022-09-08 10:29] fruch commented on #11353
the sct.log might have the content of the `nodetool gossipinfo`, whould that be enough ?

[2022-09-08 10:36] vponomaryov commented on #11353
After my ReRuns are ready, I will be able to get to know it having alive clusters.

[2022-09-08 10:55] xemul commented on #11353
No, these are not equal :(

[2022-09-08 10:56] denesb commented on #11223
I couldn't reproduce. After starting the nodes, the sstable-set is reshaped and compacted into a lot less files and around half the on-disk-size (60G -> 30G). I deleted 2 sstables from one of the nodes (I have 2) and started a repair, which finished in like 10 minutes.

[2022-09-08 11:07] denesb commented on #11223
Can you please try running perf for several minutes on the problematic shard, after repair gets stuck and the shard starts spinning?
First find out the shard->thread mapping:
[code]
Then run perf on the CPU of interest:
[code]
Then upload the resulting `perf.data` file.

[2022-09-08 11:09] MokhlesHm commented on #11488
The table was "businessobjectchanges2" but we don't have the deleted file yet.

[2022-09-08 11:20] slivne commented on #11289
@alecco / @nyh - you can run on arm - spin up a machine on AWS and run the test there.
avi commented it may be an issue with the parallelism - cpu to memory ratio that may be different on the arm machines that we may need to change.

[2022-09-08 11:21] slivne commented on #11289
yaronk is trying to reproduce on the arm machine we have - it just failed there - so we may be able to provide an env it fails in

[2022-09-08 11:24] bhalevy commented on #11303
It looks like the test worker doesn't "close" the cross_shard_barrier before it's destroyed.
Now, the cross_shard_barrier doesn't have a close method, is `complete()` supposed to leave the barrier ready for destroy?

[2022-09-08 11:24] tzach commented on #11501
@yaronkaikov any idea when did this change (in which release)

[2022-09-08 11:38] Fornax96 commented on #11223
Uploaded to `bbf7e74a-0a4d-4289-b1ba-76160df9fa58`

[2022-09-08 11:41] vponomaryov commented on #11353
Here is the table contents of the run with buggy build:
[system-tables-with-gossip-failure.tar.gz](https://github.com/scylladb/scylladb/files/9526449/system-tables-with-gossip-failure.tar.gz)

The run with ok build failed for another reason. It is being rerun now.

[2022-09-08 11:44] xemul commented on #11353
Thanks! The thing I was looking for is:

[code]

it saved `0.0.0.0` as the preferred IP and after restart actually starts using it to connect to peers

[2022-09-08 12:09] xemul commented on #11353
@vponomaryov , thank for the operator issue :smile: my guess is that after the aforementioned commit scylla started to commit preferred_ip into system.peers regardless of prefer_local value. And internally scylla always uses preferred_ip if it's present in system.peers and that's the bug. (I need system.peers from successful runs to prove that)

[2022-09-08 12:16] xemul opened #11502 "Using listen_address as preferred_ip is not nice"
When  gossiping-property-file snitch is configured it gossips messaging_service.listen_address() value as the INTERNAL_IP state. The address in question is merely the argument of the `--listen-address` command. If at the same time prefer_local=true, then peer nodes are strongly suggested to _use_ this address to connect to peer with. However, `--listen-address` can validly be `0.0.0.0`, there are

[2022-09-08 12:21] DoronArazii commented on #11054
@xemul / @asias ^^

[2022-09-08 12:38] kbr- opened #11503 "conf/scylla:yaml: `workdir` optoin doesn't work, `workdir,W` does"
As in the title: you cannot specify the workdir using the `workdir` key in conf/scylla.yaml, you have to use `workdir,W` for some reason.

[2022-09-08 12:49] nyh commented on #11497
These hitrates supposed to be a recent estimate of the cache hit rate of a node. The current code in db/consistency_level.cc already ignores estimates older than a full second. So it is fine fine to forget the estimates as soon as a node goes down, even temporarily.

When we don't have a hitrate ratio estimate for a node, we send *some* requests to it (this is `max_hit_rate` in db/consistency_leve

[2022-09-08 12:50] denesb commented on #11223
This doesn't make sense: the call-graph looks almost completely empty, with only some kernel stacks:
![image](https://user-images.githubusercontent.com/1389273/189126116-38f59ab9-e6e1-4319-8b64-50564c583090.png)

[2022-09-08 12:53] nyh commented on #11503
The weird thing is that the command line option "--workdir" does work - we use it in test/cql-pytest/run.py.
So why doesn't it work in yaml?

The default config file `conf/scylla.yaml` has the commented-out lines
[code]

Which suggests that "workdir" either worked in the past or at least should have worked.

[2022-09-08 13:05] denesb commented on #11223
@michoecho any idea why perf would record such an empty trace?

[2022-09-08 13:10] michoecho commented on #11223
Do you have the relevant build-id debug info on your system? `--call-graph=dwarf` just dumps the stack periodically, you need the debug info to decode the frames from that.

[2022-09-08 13:11] yaronkaikov commented on #11289
As a temp workaround i have removed aarch64/debug mode from running https://github.com/scylladb/scylla-pkg/pull/3091

[2022-09-08 13:14] michoecho commented on #11223
IIRC no, because debug info isn't needed for recording, but for decoding. But I don't use `--call-graph=dwarf`, so I could be misremembering.

[2022-09-08 13:19] vponomaryov commented on #11353
It is `null` in case of working cluster.

[2022-09-08 13:20] michoecho commented on #11223
That's what I was saying. `perf record --call-graph=dwarf` just dumps the top few KiB of the stack at every sample. `perf script` needs the relevant DWARF to decode that memory dump.

@Fornax96 can do this decoding on their machine, as you said, but you should also be able to do it on your own machine if you installed the debug info.

[2022-09-08 13:24] Fornax96 commented on #11223
The `perf script > out.perf` prints this a hundred times: `sh: 1: addr2line: not found`. I see seastar has its own addr2line utility, is there a way to tell perf to use that?

[2022-09-08 13:27] denesb commented on #11223
`addr2line` should work just fine with scylla/seastar, in fact `seastar-addr2line` is just a convenience wrapper over `addr2line`. The problem seems to be that you don't have `addr2line` installed.

[2022-09-08 13:36] xemul commented on #11502
For the record -- connect("0.0.0.0") effectively means connect("localhost") so such a configuration would wrap nodes into themselves

[2022-09-08 14:16] vladzcloudius commented on #11502
That's a valid point if we indeed allow `0.0.0.0`.
Our documentation highly discourages to use it: https://docs.scylladb.com/stable/operating-scylla/admin.html#advanced-networking

[2022-09-08 14:20] michoecho commented on #11223
You probably ran into https://sourceware.org/bugzilla/show_bug.cgi?id=29010. With affected versions of `addr2line` the decoding of Scylla traces takes ages.

[2022-09-08 14:23] xemul commented on #11353
BTW, @vponomaryov , regarding the `--listen-address 0.0.0.0` I've seen in logs. @vladzcloudius validly points to this line in the [documentation](https://docs.scylladb.com/stable/operating-scylla/admin.html#advanced-networking):

[2022-09-08 14:23] slivne commented on #11459
@asias I don;t understand whats the next step
/cc @eliransin

[2022-09-08 14:23] xemul commented on #11502
Documentation ... seem to suggest using `127.0.0.1` as listen_address, but in this case the BUG would persist

[2022-09-08 14:28] vponomaryov commented on #11353
@zimnx @tnozicka @rzetelskik ^

[2022-09-08 14:34] yaronkaikov commented on #11289
@alecco @bhalevy @nyh we have the workspace preserved. you can access this machine via ssh, if you can't let me know

[2022-09-08 14:35] alecco commented on #11289
@yaronkaikov could you please run in python and give us the output of:

[code]

[2022-09-08 14:37] alecco commented on #11289
How can we log in? I tried `fedora@armatrading.scylladb.com` but doesn't seem to have my key.

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJHlW6eX9islWutqWJgfsC5OJmYHUV/MpOgY/xEexQbz alecco@bruce

[2022-09-08 14:48] yaronkaikov commented on #11289
@alecco try `ssh armatrading.scylladb.com`

[2022-09-08 15:05] avikivity commented on #9673
Not backporting. Reverse range scans are probably nonexistent in practice. 5.0 is already safe.

[2022-09-08 15:07] avikivity commented on #7133
Fix present on all active branches, not backporting.

[2022-09-08 15:09] avikivity commented on #9388
No vulnerable branches, not backporting.

[2022-09-08 15:11] avikivity commented on #9167
Bug did not cause a problem for existing code (only new code), so not backporting.

[2022-09-08 15:12] avikivity commented on #9055
No vulnerable branches, not backporting.

[2022-09-08 15:18] alecco commented on #11289
[code]

[2022-09-08 16:25] alecco commented on #11289
https://github.com/scylladb/scylladb/pull/11484 (`idle_heartbeat_timeout=60`) makes 10/10 pass but not 50/50. I'm trying to find a sensible limit.

[2022-09-08 18:21] michoecho commented on #11503
Duplicate of #9500, which is a duplicate of #7478, meaning that this occurs on average once every 2000 issues.

[2022-09-08 18:23] michoecho commented on #11503
Posted a fix to #11506.

[2022-09-08 18:39] #11208 closed

[2022-09-08 21:31] vladzcloudius commented on #11502
In some cases using `127.0.0.1` both as a `listen_address` and as `INTERNAL_IP` makes sense, e.g. in `ccm`.

There is an explanation which address is used as "internal IP" in our Snitch Doc page: https://docs.scylladb.com/stable/operating-scylla/system-configuration/snitch.html#gossipingpropertyfilesnitch

[2022-09-08 21:45] KnifeyMoloko opened #11507 "Following an interrupted decommission rebuild fails on the target node"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`
Cluster size: 5 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-mv-si-4d-2022-2-db-node-371f29c2-1 (3.249.105.79 | 10.4.8.237) (shards: 14)
- longevity-mv-si-4d-2022-2-db-node-371f29c2-2 (63.34.22.

[2022-09-08 22:00] KnifeyMoloko opened #11508 "Following restart node continues to log "Commitlog shutdown complete" messages"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`
Cluster size: 5 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-mv-si-4d-2022-2-db-node-371f29c2-7 (18.202.36.168 | 10.4.10.185) (shards: 14)
- longevity-mv-si-4d-2022-2-db-node-371f29c2-6 (34.243.

[2022-09-08 22:15] michoecho commented on #11508
2e1ec36efd29b8a78ded48ef6364e6890c8fea69 added shutdown logging to the commitlog. It was probably overlooked that hinted handoff shuts down a commitlog every 10s. At: https://github.com/scylladb/scylladb/blob/7effd4c53a5c3a7cc5e5bee79173cf4af2c84281/db/hints/manager.cc#L489

I have no idea about hints; I just followed the code up from the log message. So I don't have any fix ideas.

cc @xemul

[2022-09-09 03:00] raphaelsc commented on #11488
The core looks wrong. Only 11M in size (decompressed).

@MokhlesHm could you please resend?

@MokhlesHm how did you figure out the files were corrupted? A message in the log? Please share logs too.

[2022-09-09 04:09] denesb commented on #11223
There is nothing out-of-the ordinary in the perf report. As the next step I will add introspecting code to the evictable reader to check whether it is making progress and collect stats on what it is reading, then will prepare a private build with this code included. Hopefully this will finally give me an insight into why this shard is not making progress.

[2022-09-09 07:07] zimnx commented on #11353
Looks like `listen_address` is used as `preferred_ip`  which doesn't seem right. Listen address is used to bind the listening socket - as name suggests. There're usecases where we want to expose Scylla on multiple interfaces - service mesh.
IMO in this case, we should be able to configure preferred_ip via config to tell Scylla what is the private IP address which should be used for local communica

[2022-09-09 07:23] zimnx commented on #11353
Documentation probably was affected the comment in default config, which was removed some time ago: https://github.com/scylladb/scylladb/issues/8381

[2022-09-09 08:06] annastuchlik commented on #11501
@tzach I've traced the commands back to 2018, and they have always been `[start|stop] scylla-server` for Linux.
The commands for Docker were added with this commit: https://github.com/scylladb/scylla-docs/commit/23751f96fd8a738c9fe4f5e3be4783593e5a4330. They included `scylla` instead of `scylla-server`.
It was reported to me as a bug - @yaronkaikov could you confirm?

[2022-09-09 08:57] MokhlesHm commented on #11488
@raphaelsc
attached you can see the logs which lead us to the corrupt file.
about the core size, that was the actual size of the core dump. our assumption is because scylla just started and crashed  quickly that didn't load so much data.
![image](https://user-images.githubusercontent.com/103579332/189311446-6cdbc303-dc8d-4a1d-be96-730b43ab1c4f.png)

[2022-09-09 09:19] xemul commented on #11508
@michoecho , I probably mis-understood the commitlog call sequence and put the logging into wrong place. The intention was to print something into logs when database shuts down its commitlog on scylla stop/abort. Feel free to remove this log line if you think it's not applicable there.

[2022-09-09 09:43] kostja commented on #11508
I see it in my tests as well.

[2022-09-09 10:14] aleksbykov commented on #11228
issue continue to reproduced:
[code]

[code]

[2022-09-09 10:15] aleksbykov commented on #11228
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220908.7effd4c53a5c` with build-id `4104bf84ed2e998ebb566ccf3154da9d40b20c7b`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-master-db-node-e2ac8a94-7 (16.170.221.66 | 10.0.0.111) (shards: -1)
- longevity-100gb-4h-master-db-node-e2ac8a94-6 (16.16.68.15

[2022-09-09 11:57] michoecho commented on #11508
@xemul I think you put it in the place you intended. The problem is, the main database commitlog isn't the only commitlog in the program. Hinted handoff reuses the implemention for it's own little transient commitlogs, which are destroyed and recreated (or just shut down and reopened, I don't know how exactly it works) every 10s, and this causes the log spam.

[2022-09-09 12:38] denesb commented on #11223
I looked into the data a bit (after letting scylla compact the sstables a bit). You seems to have a lot of small partitions: I counted ~40M partitions and ~1.36B rows. Having this many small partitions means that reading this dataset is very CPU intensive, as the per-row and especially the per-partition overhead of reads starts to dominate. All this supports my initial suspicion that repair is not

[2022-09-09 12:57] xemul opened #11514 "Messaging service compression chicken-n-egg problem"
This code in messaging service:

[code]

might need dc/rack info to turn compression on (or off), but dc/rack is known after gossiping round, which in turn uses messaging service

[2022-09-09 12:59] xemul commented on #11483
The comment as far as I understand it is the chicken and egg problem. To get dc/rack info we need to gossip, to gossip we need to start sending RPCs, to start sending RPCs we need to know dc/rack. So this place cuts this loop by encrypting gossiper unconditionally.

The same issue exists for tcp-nodelay, it was solved the same way, but then was broken (#11465).
And for compression as well (#11514)

[2022-09-09 13:12] Fornax96 commented on #11223
The CPU load of the cluster is typically quite low, usually between 1% and 5%. This table is written to quite a lot. Like a few hundred writes per second, maybe a thousand during peak hours. The data is grouped per day, and usually only one day worth of data is requested. Sometimes a week or a month.

Isn't the whole point of scylla that it supports huge datasets? My data is not that large, only a

[2022-09-09 13:19] denesb commented on #11223
How do you run your repairs? Can you post the command line together with parameters?

[2022-09-09 13:20] Fornax96 commented on #11223
I have a cron job that runs this on one node per day: `/usr/bin/nodetool repair -pr`

[2022-09-09 13:45] raphaelsc commented on #11488
Perhaps ulimit -c is configured with a small value? I don't think the generated core is valid. Even if memory is uninitialized, it should still be contained in the core. Then compression would significantly reduce its size. But 11M is the uncompressed size.

Full logs (as a text file) would help better. I want to extract the build id for decoding that backtrace. Please upload the logs to that UUID

[2022-09-09 13:55] raphaelsc commented on #11488
[code]

Looks like that core belongs to dsc_host. Do you have the correct one for Scylla crash? Perhaps ulimit -c configuration prevented scylla's core from being generated. Please confirm.

[2022-09-09 14:02] MokhlesHm commented on #11488
@raphaelsc
Ulimit -c  is set to unlimited and should not prevent the core from being generated.

[2022-09-09 14:05] raphaelsc commented on #11488
Then please check if the coredump for Scylla crash is available.

[2022-09-09 14:20] MokhlesHm commented on #11488
the only available files in the coredump directory are similar to the one i sent,also with the same size.
and are generated during the crash.

[2022-09-09 14:28] MokhlesHm commented on #11488
@raphaelsc

Linux  5.11.0-1022-azure #23~20.04.1-Ubuntu
 x86_64 x86_64 x86_64 GNU/Linux

[2022-09-09 14:31] denesb commented on #11223
I will have a another go at reproducing this. I wrote an app which drops 1% of the content of sstables, which should lead to more realistic repair (more realistic then dropping entire sstables), then I will start repair with parallelism=16 (previously I used 1).

[2022-09-09 15:53] alecco commented on #11289
It was not the heartbeat timeout, nor the lack of gevent in the driver (though it will probably make sense to add as @fruch recommended), nor async req timeout. It was `request_timeout`.

I bumped all timeouts in https://github.com/scylladb/scylladb/pull/11516 to be safe.

These tests run on average 2-5 seconds for release on my laptop with max 10s. While aarch64 debug takes average ~70 seconds an

[2022-09-09 18:46] piodul opened #11517 "Scylla doesn't send "per-partition rate limit exceeded exception" even if the driver supports it"
In the per-partition rate limiting feature (https://github.com/scylladb/scylla/pull/9810) we introduced a new error code which is returned by Scylla in order to reject requests which go over the limit. Drivers need to negotiate support in order to be able to receive it, otherwise it will be reported as `Config_error` instead. However, due to a mistake, `Config_error` is _always_ sent, even if the

[2022-09-10 03:37] #7478 closed

[2022-09-10 03:37] #9500 closed

[2022-09-10 03:37] #11503 closed

[2022-09-10 17:19] fee-mendes opened #11520 "Alternator - Invalid alternator_encryption_options causes Scylla to coredump"
**Installation details**
Scylla version (or git commit hash): 5.0.1-0.20220719.b177dacd3 with build-id `217f31634f8c8722cadcfe57ade8da58af05d415`

**Description**
Seen in the field. Scylla will coredump with an assertion error when `alternator_encryption_options` is not properly set. We'd ideally fail to start with a clearer error message.

**To reproduce**
Incorrectly indent `alternator_encryptio

[2022-09-10 20:38] pragmaxim commented on #11368
@avikivity this is all about OOM killer. Scylla always gets the highest OOM score of all processes so it gets to be killed first when the machine runs even slightly OOM :
[code]

[2022-09-11 06:23] yaronkaikov commented on #11501
@annastuchlik @tzach The right commands are:
[code]
Just confirm it locally
[code]

Who reported this ?

[2022-09-11 08:30] fruch commented on #11459
@asias we are now seeing this across the board in the master upgrade tests:

https://jenkins.scylladb.com/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-debian10-test/148/
https://jenkins.scylladb.com/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-debian11-test/12/
https://jenkins.scylladb.com/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-ubuntu20.04-test/88/
http

[2022-09-11 08:43] fruch commented on #10398
Happens again but on centos7,

but this time we have a coredump, and it fails few times in a row (i.e. start booting, and crash on it again)

[code]

## core dump information
[code]

## Installation details

Kernel Version: 3.10.0-1160.76.1.el7.x86_64
Scylla version (or git commit hash): `5.1.0~rc0-20220810.86a6c1fb2b79` with build-id `d51c680d1144de4ce17166a8f1d53816b3a26368`
Cluster size: 4 node

[2022-09-11 10:42] nyh commented on #11520
I cannot reproduce this on master or on branch-5.0. On both, the misindented lines cause a warning, but not a crash:
[code]
And apparently the line `alternator_encryption_options:` is outright ignored, I don't know why (it should have also given a warning, at least...). Alternator then starts with HTTPS:

[code]
or if I want only HTTPS, not HTTP,
[code]

I'll try the specific version you mentioned

[2022-09-11 11:04] fee-mendes commented on #11520
Another way I found this reproduces is when the keys/certificates are set-up correctly, but Scylla has no access to the certificates (ie: `root:root`).

[2022-09-11 11:06] nyh commented on #11520
I tried with the commit that you tested (b177dacd3) and also can't reproduce the crash. Strange.

[2022-09-11 11:06] nyh commented on #11520
Ok, I'll check maybe I can reproduce that...

[2022-09-11 11:15] slivne commented on #11459
@asias ping I don;t understand what you wrote in the above - what can we do to move forward here

[2022-09-11 11:21] nyh commented on #11520
On master, after a `chmod 0 conf/scylla.key` (making the key file unreadable), Scylla fails cleanly to boot:
[code]

On https://github.com/scylladb/scylladb/commit/b177dacd36a61e7d2d9e24f8ba131854f9ac41cf I can reproduce the same crash that you see:
[code]

So it's a fix we already have just missing a backport, I'll check what it is.

[2022-09-11 11:26] nyh commented on #9914
This problem is less minor than we hoped. Users are seeing crashes on various Alternator configuration mistakes (e.g., see #11520 discovered by @fee-mendes), instead of being given clear information on what the mistake is.

So I want to backport this fix after checking that it also fixes #11520.

[2022-09-11 11:29] nyh commented on #9914
On second thought, the buggy version in #11520 was 5.0.1, and that supposedly already contains this fix! So maybe it's not this patch that needs backporting. I'll keep looking for missing backports.

[2022-09-11 11:42] nyh commented on #10025
This problem is less minor than we hoped. Users are seeing crashes on various simple Alternator configuration mistakes (e.g., see https://github.com/scylladb/scylladb/issues/11520 discovered by @fee-mendes), and not knowing what to do because we given them a core dump instead clear information on what the mistake is.

This fix is already in 5.1, but not in 5.0 which was used in  https://github.com

[2022-09-11 11:44] nyh commented on #11520
The already-fixed bug is #10025. I confirmed that a backport fixes it.

[2022-09-11 11:45] fee-mendes commented on #11520
@nyh I think I understand now what could have happened here. Under the [Running Alternator](https://github.com/scylladb/scylladb/blob/master/docs/alternator/alternator.md#running-alternator) doc, we mention:

First I have to say this excerpt is misleading. How come the operator **must** specify certificate and key files but there's a default? This is incorrect as per [RFC2119](https://www.rfc-edit

[2022-09-11 11:49] nyh commented on #11520
Maybe the word "specify" is the wrong word. The operator must **suply** certificate and key files. He or she can put these files in /etc/scylla/scylla.{crt,key}, or, can use those options to pick a different place for them. These options are only needed if you want to put the files in a non-standard place.

We can write a documentation patch, but it's separate from the core-dump bug (which is #100

[2022-09-11 11:51] nyh commented on #10025
Backported to 5.0 (f0c521efdfe4b238fa94ad89d9a462f4803c2595).
Already in 5.1 and later.

[2022-09-11 12:01] fee-mendes commented on #11520
Thanks! :) I believe we can close this issue then - or when it gets in a release. :heart:

[2022-09-11 12:28] ShlomiBalalis commented on #11245
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220910.0efdc45d5981` with build-id `47ab668bf920584852b764baaf24cb8241e2ecea`
Cluster size: 3 nodes (i3.large)

Scylla Nodes used in this run:
- gemini-with-nemesis-3h-normal-maste-oracle-db-node-17fb7c60-1 (52.17.243.142 | 10.4.2.14) (shards: 2)
- gemini-with-nemesis-3h-normal-maste-db-node-

[2022-09-11 12:46] fee-mendes opened #11521 "compaction_window_size accepts a <= 0 value"
HEAD https://github.com/scylladb/scylladb/commit/bbad3eac63d1816e5104c8ad7e4a1f304963ef0a

As found out by https://github.com/scylladb/scylladb/pull/11445#discussion_r967776157 - it turns out that in `time_window_compaction_strategy_options` only checks whether `window_size` is a valid integer.

[code]

Interesting enough, what a <= 0 window is supposed to do? We better not try to figure it out :-

[2022-09-11 12:50] raphaelsc commented on #11521
Duplicate of #2336.

[2022-09-11 12:50] raphaelsc commented on #11521
This is a known issue.

[2022-09-11 12:55] fee-mendes commented on #11521
Thanks, closed as dup then :)

[2022-09-11 12:55] #11521 closed

[2022-09-11 14:12] dorlaor commented on #10172
@psarna @avelanarius How simple is to enhance #7777 with this one?

[2022-09-11 14:13] fruch commented on #11353
@xemul

I've took your change for a raid:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/fruch/job/functional-k8s-local-kind-aws-test/15/

and seems like it's solving the issue.

[2022-09-11 14:29] ShlomiBalalis commented on #11245
Happpened in another run, with a nearly identical backtrace:
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220910.0efdc45d5981` with build-id `47ab668bf920584852b764baaf24cb8241e2ecea`
Cluster size: 6 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-cdc-100gb-4h-master-db-node-7af69f31-7 (34.244.161.4 | 10.4.2.66) (shards:

[2022-09-11 15:15] avikivity commented on #10025
@nyh if you backport something, remove the "Backport candidate" label so it doesn't need to be evaluated again.

[2022-09-11 15:25] nyh commented on #10025
I saw that you already removed this label in July 5 so didn't remove it myself - but didn't realize something added the label back in July 21. I have no idea what added this label a second time. A bug?

[2022-09-11 15:33] avikivity commented on #11368
In non-container setups, we [adjust](https://github.com/scylladb/scylladb/blob/60e8f5743cc777882c6b53fa04a0e82c8ae862b2/dist/common/systemd/scylla-server.service#L25) the oom score so it doesn't get killed. The server uses a lot of memory but it doesn't grow, so this prevents it from getting killed if some other process (like scylla-jmx or the scylla-operator sidecar) leaks. We should see if it's

[2022-09-11 17:43] pragmaxim commented on #11368
@avikivity Great info, I found an ideal setup with : `docker --memory X scylla --memory Y --reserve-memory Z` where `X = Y + 3` and `Z = 3`, OOM Kill has never happened since...

The only memory-bottleneck related problem I observed was that a write request to a not that much oversized partition took more than 10 seconds.

[2022-09-11 21:06] k0machi commented on #11245
So, I have two runs that failed with pretty much identical problems, here is the first one.

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`
Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-200gb-48h-verify-limited--db-node-8ef379

[2022-09-11 21:07] k0machi commented on #11245
Here is the second run. This one got much farther, managing to run enospc nemesis twice, with both times generating an abort due to memtable flush.

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `0d7037e9746faac66c1c4950eed01e56c144ce60`
Cluster size: 4 nodes (im4gn.4xlarge)

Scylla Nodes used in thi

[2022-09-12 06:01] fruch commented on #10398
one more occurrence of it:

## Installation details

Kernel Version: 4.18.0-408.el8.x86_64
Scylla version (or git commit hash): `5.1.0~rc0-20220810.86a6c1fb2b79` with build-id `d51c680d1144de4ce17166a8f1d53816b3a26368`
Cluster size: 4 nodes (n1-highmem-8)

OS / Image: `https://www.googleapis.com/compute/v1/projects/centos-cloud/global/images/family/centos-stream-8` (gce: us-east1)

Test: `rolling-

[2022-09-12 06:06] bhalevy commented on #11245
@xemul can you please look into this in my absence?
My original changes made ENOSPC fatal if hit in memtable flush. For some reason https://github.com/scylladb/scylladb/commit/a980510654e5a504da1b58bf8398c05676e01572 isn't fully working as intended.

[2022-09-12 07:13] elcallio commented on #11228
Fort the record, the "cannot parse the version" is just schema commitlog existing in same directory as normal commitlog, and the first seeing segments left over by the latter. It is not an error as such (though annoying).

[2022-09-12 07:21] nyh commented on #5060
At this point, we already have support for TTL in Alternator, although it is still marked "experimental".
I think it's time to close this issue, and instead open issues for specific things that need to be fixed or improved in this feature, of course with the goal of graduating it from "experimental" to GA.

[2022-09-12 07:21] #5060 closed

[2022-09-12 07:46] nyh commented on #11520
It's in branch-5.0 now (commit f0c521efdfe4b238fa94ad89d9a462f4803c2595) - I hoped that a "Fixes" there would automatically close this issue, but for some reason it didn't, so I'll close it manually.
Of course, it's not "a release" yet - it should be in the next 5.0 release (5.0.3), whenever that's released.

[2022-09-12 07:46] #11520 closed

[2022-09-12 08:00] nyh opened #11523 "Alternator Streams events for expired items (TTL) should be specially flagged"
One of the places where the DynamoDB-API TTL feature differs from CQL's TTL is that when an item eventually expires, the expiration event is written to the DynamoDB Streams log, as explained in the [DynamoDB documentation on TTL ](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/time-to-live-ttl-streams.html).

This is why the Alternator TTL feature uses real delete operations to e

[2022-09-12 08:19] Michal-Leszczynski commented on #11501
@yaronkaikov I reported this. I noticed it when I was working on scylla-manager where we have docker image for scylla 4.6.1.

[code]
I didn't know that process name changed in the next release (4.6.2). Sorry that I bothered you with this.

[2022-09-12 08:21] yaronkaikov commented on #11501
@Michal-Leszczynski Sure, not a problem.

[2022-09-12 08:21] yaronkaikov commented on #11501
@Michal-Leszczynski I assume this can be close?

[2022-09-12 08:41] fgelcer commented on #9906
ping @tgrabiec

[2022-09-12 09:10] igorsimb opened #11524 "2 Nodes failed after bloom_filter_fp_chance was modified"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.1.0~rc1-20220902.d10aee15e7e9` with build-id `c127c717ecffa082ce97b94100d62b2549abe486`
Cluster size: 6 nodes (i4i.2xlarge)

Scylla Nodes used in this run:
- longevity-10gb-3h-5-1-db-node-78ae0112-8 (176.34.80.148 | 2a05:d018:12e3:f000:8a38:85b5:8fe5:771f) (shards: 7)
- longevity-10gb-3h-5-1-db-node-78

[2022-09-12 09:28] avikivity commented on #11368
This is likely due to slow storage (HDD?) and/or not running iotune correctly.

[2022-09-12 09:38] kostja commented on #11228
If it's not an error, why is it printed?

[2022-09-12 10:16] elcallio commented on #11228
Lets call it a warning. Commitlog expects itself to be sole owner of directory it works in. When scanning for replayable/recyclable items, if it encounters anything not matching the configured name pattern, it will complain, since this is an indicator someone has meddled with files. Since a while back, we have a separate schema commitlog that uses the same folder, but different name pattern. Thus

[2022-09-12 11:09] denesb commented on #11223
:facepalm: I was trying to reproduce with the same shard-count. I changed one of my nodes to 9 shards (the other has 7) and I managed to reproduce the timeouts.

[2022-09-12 11:13] slivne commented on #11459
/cc @eliransin

[2022-09-12 11:19] slivne commented on #11468
We will try to reproduce in another run ....

[2022-09-12 11:51] #9809 closed

[2022-09-12 14:56] alecco commented on #6185
Obsolete

[2022-09-12 14:56] #6185 closed

[2022-09-12 15:56] igorsimb opened #11527 "Cassandra stress failed to achieve QUORUM after 1 node was terminated"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.1.0~rc1-20220902.d10aee15e7e9` with build-id `43e78d18c87e23b0de6b268cde25861265d09063`
Cluster size: 6 nodes (im4gn.4xlarge)

Scylla Nodes used in this run:
- longevity-100gb-4h-5-1-db-node-110b368f-7 (18.168.200.39 | 10.3.10.31) (shards: 15)
- longevity-100gb-4h-5-1-db-node-110b368f-6 (3.8.95.113 | 1

[2022-09-12 19:03] #11353 closed

[2022-09-13 01:06] asias commented on #11353
@xemul Do we need to backport https://github.com/xemul/scylla/commit/2db30c64610bd01fa46b46cc7e7861fea136f55f to any stable branch?

[2022-09-13 01:16] asias commented on #11459
We need to bisect to find the problematic commit between https://github.com/scylladb/scylladb/commit/299122e78d8e0a4a3500a8e3b8d97ca0ef927a16 and https://github.com/scylladb/scylladb/commit/d10aee15e7e98354897ee18c58cf8d5fa0677212.

[2022-09-13 01:17] asias commented on #11223
how many sstables were there in your reproducer?

[2022-09-13 01:30] #11497 closed

[2022-09-13 03:08] denesb commented on #11223
I reproduced with the compacted sstable set, so something like 7-8 sstables per shard. So the problem is definitely not with the number of sstables.

[2022-09-13 03:11] asias commented on #11223
OK.

[2022-09-13 03:17] Rivers-Shall commented on #11442
What is the status of this issue now? Is there a need for more information or assistance?

[2022-09-13 05:55] benipeled commented on #11186
The repo file for Scylla >= 5.1 and Scylla-Enterprise >= 2022.2 has been updated,
It's now includes the `signed-by=/etc/apt/keyrings/scylladb.gp` ref

Installation guides on https://www.scylladb.com/download have been updated accordingly

[2022-09-13 05:55] #11186 closed

[2022-09-13 06:27] xemul commented on #11353
@asias , no, it's fresh regression

[2022-09-13 06:57] fgelcer commented on #11468
@slivne , should @soyacz give it another run to try to reproduce it?

[2022-09-13 07:11] annastuchlik commented on #11501
@Michal-Leszczynski I appreciate you reporting this. It's always better to make sure something is correct than leave a possible bug in the docs :)
I'm closing this issue.

[2022-09-13 07:11] #11501 closed

[2022-09-13 07:35] #9029 closed

[2022-09-13 07:40] fgelcer opened #11528 "Reactor stalled for 786 ms (row_cache::external_updater) during upgrade process of another node (suspected kernel related stall)"
## Installation details

Kernel Version: 4.18.0-408.el8.x86_64
Scylla version (or git commit hash): `2022.1.1-20220807.e1e2c3d21` with build-id `c3ec7353aee613ea535370e90c7c1d7ddcdf3209`

Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade--centos-8-db-node-fa608823-0-4 (34.75.185.62 | 10.142.0.96) (shards: 8)
- rolling-upgrade--centos-8-db-node-fa608823-0-3 (34.

[2022-09-13 08:37] denesb opened #11529 "raft: a selection of raft tests fail if there is a preexisting scylla proces running on the host"
I observed the following tests fail on master when there is other scylla processes running parallel to the test execution:
[code]
Reproducer:
* start a scylla process (in my case there was 2), and leave it running, it doesn't have to be a master version, in my case this was 5.0.2 (maybe it has to be an older version which doesn't "speak" raft)
* run tests via `ninja dev-test`

I think tests should

[2022-09-13 08:45] pragmaxim commented on #11368
Imho it is about partitioning, I index into 9 tables and 18 indexes while inserting blockchain transactions, there are sudden partition-size spikes happening at almost all tables and indexes at the same time and that puts scylla under a lot of memory pressure.

But `write_request_timeout_in_ms: 10000` helped and I got through these spikes... It is just at 2 blocks of the whole chain.

[2022-09-13 08:54] denesb commented on #11223
Finally it looks like I found a pattern for reliable reproducing. Unfortunately, once I reproduce a hang, restarting repair finishes successfully. After that, no amount of artificial differences made to the data of nodes reproduces the issue. I have to restore the original sstables for each attempt. Weird.

[2022-09-13 09:22] avikivity commented on #11528
Please decode the stall.

[2022-09-13 09:24] Fornax96 commented on #11223
Since I upgraded to 5.0.2 I don't see the high CPU usage anymore, but repairs are still timing out.

When I try to restart a node I get a lot of these messages:

[code]

etc..

Do you need more test data? I can give you the sstables for the node which is currently timing out.

[2022-09-13 09:42] kbr- opened #11531 "cdc_test.TestCdc.test_cluster_expansion_with_cdc[Multi_DC_cluster] failing sometimes"
For example:
https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2207/testReport/junit/cdc_test/TestCdc/Sanity_Tests___test_cluster_expansion_with_cdc_Multi_DC_cluster_/

[code]

The test performs a bunch of writes. Some of them may be unconfirmed (e.g. timed out). This check asserts that the number of CDC log rows is between the number of confirmed and unconfirmed writes.

The first assertion h

[2022-09-13 09:45] kbr- commented on #11531
Another failure:
https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2201/testReport/junit/cdc_test/TestCdc/Sanity_Tests___test_cluster_expansion_with_cdc_Multi_DC_cluster_/

[2022-09-13 09:59] kostja commented on #11442
We're working on reproducing the issue, and will get back as soon as we get any questions.

[2022-09-13 10:11] avikivity commented on #11368
I don't understand what a partition-size spike is.

From the dashboards above, it looks like disk isn't the problem. Look at the materialized view metrics (though I'm not an expert in interpreting them).

[2022-09-13 10:20] soyacz commented on #10250
It looks it happened again on 2022.2 rc1 when during `MultipleHardReboot` nemesis, after second reboot Scylla startup froze for 2 minutes on `creating snitch` and failed eventually later with `std::system_error (error system:110, Connection timed out)` error:
[code]

snitch was set to  `org.apache.cassandra.locator.Ec2Snitch`
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version

[2022-09-13 10:22] kbr- commented on #11531
Another:
https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2199/

[2022-09-13 10:24] kbr- commented on #11531
Apparently there were no such failures observed in the `next` job.
Perhaps this is related to the environment in which CI is running - e.g. slow machines causing the driver to timeout and retry the writes, resulting in multiple CDC log rows per write?

[2022-09-13 10:27] kbr- commented on #11531
The test disables write retries:
[code]

[2022-09-13 10:31] fgelcer commented on #11528
oops, i did, just forgot to paste in here:
[code]

[2022-09-13 10:32] fgelcer commented on #11528
please update the issue title if the stall function is not exact the same as i used in there

[2022-09-13 10:35] avikivity commented on #11528
It looks like #8828. But: the most recent times it was seen it was much smaller, and recently it was not seen at all.

Very strange.

[2022-09-13 10:44] avikivity commented on #11528
What's the freeze? There's 5 minutes between the end of some compaction and beginning of drain, but that doesn't indicate anything. And drain completes immediately (even too fast, do we push enough writes?)

I don't see a freeze. It reports compaction completing at 21:12:18, then the stall at 21:14:40. Do you usually see messages at higher frequency?

If so maybe it was some cloud event (GCP live-

[2022-09-13 10:48] avikivity commented on #11497
@benipeled what happened to the backport candidate label?

[2022-09-13 10:57] fgelcer commented on #11528
in the node's logs there is no activity whatsoever during these 5 minutes, and for me, it is very strange Scylla doesn't print anything for full 5 minutes
BTW, on the node where we had the stall, we have same 5 min off, but there is the stall at that gap

we usually see messages every couple of seconds, and it is very strange to me to not have messages for entire 5 minutes (other than the reactor

[2022-09-13 11:00] fgelcer commented on #11528
on node-2 we have the same time gap, but this one also has a reactor stall:
[code]
decoding this reactor stall:
[code]

and on node-3 we have also a gap at that same time, and no reactor stalls:
[code]

[2022-09-13 11:06] fgelcer commented on #11528
BTW:
[code]

where all of them happened in that gap:
[code]

i will decode them in the order they appear in this list above, and will paste in the next comment, following their order

[2022-09-13 11:17] fruch commented on #10250
@syuu1228 I still think the snitch need to be able to retry.

AWS internal API can be busy, for all kind of reason. in the startup script we have retires for it, the snitch should have those too.

[2022-09-13 11:54] fgelcer commented on #11528
[code]

[2022-09-13 12:59] Rivers-Shall commented on #11442
We omitted other failed, timeout, and subsequent LWTs so there cannot be other concurrent ops. And yes, jepsen gave me the report.
[code]
I also uploaded the [whole history(for all data units)](https://pixeldrain.com/u/P2uhLzQJ), [whole report](https://pixeldrain.com/u/7RtiNhfj), and [jepsen log](https://pixeldrain.com/u/NmgtsWMH).

[2022-09-13 13:00] pragmaxim commented on #11368
If we insert block-by-block and all tables have `blockId` as partition key and some particular block is bigger due to some DOS or something, then Scylla slows down order of magnitude in handling the inserts.

[2022-09-13 13:54] denesb commented on #11223
Thanks to the reliable reproducer I'm starting to 0 in on the problem. The read gets stuck on shard 5 (node2), a `fill_buffer()` call simply never returns:
[code]
I'm adding more and more debugging code and doing new runs, but each run takes a fair bit of time so this will take some time.

[2022-09-13 13:55] denesb commented on #11223
Thanks, for the time being, I have enough data (I can reproduce the hang).

[2022-09-13 13:57] denesb commented on #11223
What's intriguing is that reading this sstable/partition in itself doesn't produce a hang. I read through all sstable severeal times with matching-shard repair and tools and they read fine. This must be related to where the read stops and tries to resume. Maybe there is something funny with the index....
Sstable validate says all sstables are valid (although we are currently [not validating the in

[2022-09-13 18:56] #11517 closed

[2022-09-13 19:56] denesb commented on #11223
To quote from the commit log of https://github.com/scylladb/scylladb/commit/498d03836b996818a0031be0723ecfda50d8a88d:

This is the bug we are seeing here.

[2022-09-13 20:00] denesb commented on #11223
This was part of a big series: adc08d0ab which we of course didn't even consider for backporting due to its size and complexity.

[2022-09-13 20:02] denesb commented on #11223
I think we need to backport the 3 evictable-reader related patches from that series, all 3 of them are important bugfixes for the evictable reader. The three patches are:
* 498d03836
* 6db08ddeb
* 9e48237b8

[2022-09-13 20:46] denesb commented on #11223
After backporting said patches repair finishes fine for me. Tomorrow I will prepare a private build for you @Fornax96 so you can resume repairing your cluster and I will also kick-off the process of backporting the patches to the official 5.0 branch.

[2022-09-13 22:07] nyh opened #11539 "Idea: per-item TTL feature for Alternator, Redis, and CQL"
This issue presents an idea for an alternative implementation for Alternator TTL, which may be significantly more efficient though **not support Alternator Streams**. The same proposed implementation will, as a bonus, also provides the missing Redis TTL feature and a potentially useful new feature for CQL.

Scylla's traditional CQL-based TTL feature has separate expiration times for each cell, not

[2022-09-14 05:22] denesb commented on #11223
@Fornax96 please find private build here: https://scratch.scylladb.com/11223/scylla-5.0.2-1.fornax.tar.gz
Give it a go and let us know how it went.

[2022-09-14 05:28] denesb commented on #11223
Backport request filed here: https://github.com/scylladb/scylladb/pull/11540

[2022-09-14 07:33] elcallio commented on #11539
What is the benefit of a magic column vs. adding something like a TTL to row marker? Avoiding changing underlying data structure?

Can't you simply rewrite the entire row? Changing TTL does not seem like a common operation (?) - so it could be a `select-modify-upsert`. Of course, then it races with actual value inserts, so maybe just out of one frying pan...

[2022-09-14 07:49] nyh commented on #11539
Interesting idea. You're right, we already have a row marker and it can have a TTL like any cell. If we do this, this will change the existing semantics (currently, when a row marker expires, it expires but other columns may remain behind!) but arguably nobody wants this semantics anyway. It will change another piece of semantics: If we use UPDATE with a TTL, we'll need to write a row marker as we

[2022-09-14 08:28] elcallio commented on #11539
Changing data structure is more messy, but otoh having magic columns showing (?) in the schema is perhaps not great from a user standpoint. (Or did you intend for this to be filtered from view - can we guarantee this?). If TTLS is a visible column, does not the user suddenly start to expect to be able to include them in materialized views, build an index on them, etc etc? Perhaps not a problem but

[2022-09-14 10:27] Fornax96 commented on #11223
With this build I was able to successfully run repairs on all my nodes. Seems like the fix works!

[2022-09-14 10:53] roydahan commented on #11371
Is it still failing?
I think that the last few jobs passed.

[2022-09-14 10:56] roydahan commented on #11371
The test passed in later builds (e.g. https://jenkins.scylladb.com/job/scylla-master/job/janusgraph-test/433/testReport/junit/org.janusgraph.graphdb.cql/CQLGraphCacheTest/testEdgesExceedCacheSize/).

Closing.

[2022-09-14 11:07] roydahan commented on #9807
@juliayakovlev is this still considered a real issue?
I see you have PR to fix your comparison.

[2022-09-14 11:17] DoronArazii commented on #11507
@asias can you please have a look

[2022-09-14 11:19] roydahan commented on #11527
The summary of this issue is the symptom not the cause.
Please check if any node crashed at that time of the failure.

[2022-09-14 11:26] juliayakovlev commented on #9807
2 LWT jobs are running with 2022.2 rc1 now. If they will pass, we can close this issue I think

[2022-09-14 11:27] rayakurl commented on #11527
@roydahan - there was nothing obvious from node side .
This is what @igorsimb wrote above:
I went over all the nodes' logs of and this was the only message that seemed out of the ordinary to me (in node 3):
[code]

[2022-09-14 11:31] roydahan commented on #11527
Please check the monitor for any signs of crashed node.
The repair logs may also suggest which node was the one we lost connection to.

[2022-09-14 11:32] michoecho commented on #11508
A fix (#11536) is already queued.

[2022-09-14 11:33] roydahan commented on #11468
It reproduced in at least one run out of 2 (the second one is less clear).
@ShlomiBalalis please add details or a live cluster.

[2022-09-14 13:26] benipeled commented on #11497
The backport script is using next-HEAD and master-HEAD as start & end commits to go through git history and parse commits (the end commit is not included) - see the code here [0]

In this case, we had

- \045b05322 - Update seastar submodule **<-- next:HEAD**
- \62ac3432c - Merge "Always notify dropped RPC connections" from Pavel E
- \27e326652 - build_docker.sh:fix python2 dependency **<-- master

[2022-09-14 14:27] juliayakovlev opened #11542 "Load failed after "memtable_flush_period_in_ms" property has been modified"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`

Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-1loader-3h-2022-2-db-node-bacc08b7-4 (13.53.214.159 | 10.0.3.125) (shards: 7)
- longevity-lwt-1loader-3h-2022-2-db-node-bacc08b7

[2022-09-14 14:29] juliayakovlev commented on #11542
Maybe connected to https://github.com/scylladb/scylladb/issues/11524

[2022-09-14 14:41] yaronkaikov commented on #11289
https://github.com/scylladb/scylladb/pull/11516 in already in master, verified that aarch64/debug pass https://jenkins.scylladb.com/job/scylla-master/job/releng-testing/job/build/1008/.
workaround was reverted ( https://github.com/scylladb/scylla-pkg/commit/7587daf17dd05307ad59de31beedf61a06c8b8f4)
Closing

[2022-09-14 14:41] #11289 closed

[2022-09-14 16:13] nyh commented on #11539
As inspired by DynamoDB, I thought this will be a regular column chosen by the user. For example, the user may CREATE or ALTER the table to say that the column `expiration_time` is the expiration fail (if this is not an integer column, this will fail). The column `expiration_time` will be a normal integer column, it can be read, indexed (if somebody wants to do that...), and so on - it's just that

[2022-09-14 16:13] denesb commented on #11223
Great. Thanks for reporting the bug and cooperating with us on the investigation @Fornax96!

[2022-09-14 16:46] elcallio commented on #11539
I was thinking something like extended CQL syntax: `INSERT .... WITH ROW TTL = <...>` or `ROW EXPIRY = <ts>`, whichever seems most useful.

Do the user need to read the TTL? If he does, yes, then named cells are probably more useful, since otherwise you'd have to come up with even more extended syntax. Which we would like to minimize.

I don't mind this user-visible version (albeit somewhat dynamo

[2022-09-14 17:56] raphaelsc opened #11543 "SStables in maintenance set will be forgotten if user stopped off-strategy compaction"
Doesn't affect reshape on boot, only off-strategy compaction triggered by repair-based ops.

If user stops off-strategy compaction using API, compaction manager will propagate the error but will give up on off-strategy compaction altogether.

That's problematic because sstables in maintenance set won't be compacted with the rest of the data in main set, leading to an increase in space and read amp

[2022-09-14 17:58] raphaelsc commented on #11543
That happens until off-strategy is triggered again by another node op, which cannot happen anytime soon.

[2022-09-14 20:06] #11508 closed

[2022-09-14 23:27] michoecho opened #11548 "docs: navigation sidebar depth is too small"
Commit 0c2a18af2d50271ab1cf5cd8392dbe54d8bb7791 shrunk the depth of the navigation sidebar on docs.scylladb.com to at most 3. Why? Now when I go to https://docs.scylladb.com/stable/architecture/sstable/sstable3/sstables-3-summary.html, I can't switch from SSTable Summary File docs to SSTable Index file docs without going through the containing https://docs.scylladb.com/stable/architecture/sstable/

[2022-09-15 00:24] asias commented on #11459
Fabio, the test passed with 5.0.2 and started to fail with 5.0.3?  If that's the case indeed d07e90298 and dfdc128fa looks suspicious?

[code]

[2022-09-15 05:46] tzach commented on #11548
@michoecho can you please add relevant screen capture and screen width?
This kind of problems is very much setup related.

[2022-09-15 06:09] fgelcer commented on #11459
yes, that is the case, but only the upgrade from 4.6 to 5.0.3 (upgrade from 5.0.2 to 5.0.3 passed 1 out of 2 runs, and the failure was kind of similar)

[2022-09-15 06:16] fgelcer commented on #11459
@asias , how can we make progress from here?
should we start building images with 5.0.3 without these commits and run reproducers?
cc @slivne @eliransin

[2022-09-15 06:36] aleksbykov opened #11549 "low memory condition + --abort-on-seastar-bad-alloc + reclaim stall = crash"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220908.7effd4c53a5c` with build-id `4104bf84ed2e998ebb566ccf3154da9d40b20c7b`

Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-5cae21f6-6 (13.48.106.71 | 10.0.0.140) (shards: 7)
- longevity-twcs-48h-master-db-node-5cae21f6-5 (13.49.245.

[2022-09-15 06:37] aleksbykov commented on #11549
May related or duplicate: https://github.com/scylladb/scylladb/issues/11524

[2022-09-15 07:07] xemul commented on #11303
It's `cross_shard_barrier::abort()` leaves background fiber behind

[2022-09-15 07:12] asias commented on #11459
I tried to reproduce locally with the 5.0.2-20220807.299122e78 and  5.1.0~rc1-0.20220902.d10aee15e7e9 as a mixed cluster + repair. I could not reproduce repair failure.

[2022-09-15 07:15] asias commented on #11459
I suggest moving the non repair issue you found during upgrade to a separate issue. Your issue was query got timeout.
While the 11459 was about repair failed in a mixed cluster during upgrade.

[2022-09-15 07:22] aleksbykov opened #11550 "Coredump due to enospc during resharding"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220908.7effd4c53a5c` with build-id `4104bf84ed2e998ebb566ccf3154da9d40b20c7b`

Cluster size: 3 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- gemini-1tb-10h-master-oracle-db-node-34e0cfd9-1 (13.53.127.157 | 10.0.3.150) (shards: 14)
- gemini-1tb-10h-master-db-node-34e0cfd9-4 (13.48.84.10

[2022-09-15 07:42] xemul commented on #11303
Yup, reproduced it with artificial delay in abort's completion fiber

[2022-09-15 07:48] fgelcer opened #11551 "read query timing out with mixed cluster, for no apparent reason"
i'm seeing a failure, in a mixed cluster (upgrading from `4.6.7-20220907.7c79c513d with build-id 7f2aa7967d95abbd332b0d3cfab88326c258183d` to `5.0.3-20220907.b9a61c8e9 with build-id 7be266d2954825cdf843c744de04a0443a8f156c`, during querying the DB in a step called `Verify data during mixed cluster mode`..

the error is the follows:
[code]

it happened for the 2nd time in a row, during the same ste

[2022-09-15 07:49] fgelcer commented on #11459
https://github.com/scylladb/scylladb/issues/11459#issuecomment-1246774019

[2022-09-15 08:05] xemul commented on #11303
Normally it doesn't happen, because c.s.b.'s completion invoke-on-all is queued _before_ worker's stop calls. But debug-mode re-orders the queue

[2022-09-15 08:15] r4fek opened #11552 "Never ending repair due to: Semaphore timed out: _streaming_concurrency_sem"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 5.0.1
Cluster size: 3 x 8 nodes
OS

[2022-09-15 09:45] kostja commented on #11157
@avikivity could you please decide which one should we do? I'd like to assign this out.

[2022-09-15 10:23] avikivity commented on #11157
I think we should start with EverywhereReplicationStrategy. It's simple and it fixes problems even for those not yet opting in to Raft.

Later, rather than moving it to group 0, I think we should move it to broadcast tables (after it matures), so that full CQL support is retained. With group 0 tables it is illegal to update the table via CQL.

[2022-09-15 10:33] michoecho commented on #11548
No, I don't mean the CSS. Setup doesn't matter here — it's about the logical depth of the navigator.

Before 0c2a18af2d50271ab1cf5cd8392dbe54d8bb7791:
![2022-09-15T12:28:05+02:00](https://user-images.githubusercontent.com/45052050/190381854-5cea4744-f8c2-4d46-be99-9af9fbd5f58a.png)
After 0c2a18af2d50271ab1cf5cd8392dbe54d8bb7791:
![2022-09-15T12:28:15+02:00](https://user-images.githubusercontent.co

[2022-09-15 10:39] nyh commented on #8815
The patch for this issue is already in all supported open-source branches (all releases since 4.6), so removing the "backport candidate" tag.

[2022-09-15 10:41] kbr- opened #11554 "test/topology: let's not wait for schema agreement by default"
If we kill nodes and perform schema changes concurrently or in quick succession, schema agreement waits will fail due to https://github.com/scylladb/python-driver/issues/168.

In https://github.com/scylladb/scylladb/pull/11544 the limit for schema agreement wait in driver configuration in topology tests was set to `20` seconds. But that means in some situations the driver will sleep for no reason

[2022-09-15 10:47] michoecho commented on #11552
@denesb Possible duplicate of #11223?

[2022-09-15 10:51] avikivity commented on #11552
Why do we have timeouts on repair reads?

[2022-09-15 10:52] tzach commented on #11548
Thanks, I understand now.
We should avoid 3 level nesting. In this case we can move sstable2 and sstable3 one level up in the hierarchy
@annastuchlik what do you think?

[2022-09-15 10:53] denesb commented on #11552
To eventually break never-ending deadlocks -- which sadly do happen.

[2022-09-15 10:53] denesb commented on #11552
Yes, that would be my first guess.

[2022-09-15 10:54] nyh commented on #11554
@kbr- to make it easier to write tests, it would be good if each operation would simply wait for **this** operation to finish. In other words, I think:
1. A topology operation like removing a node should wait until the node node dies and **the driver** notices that it died.
2. A schema-modifying operation should wait until the modification is visible on all nodes ("schema agreement"). If I remembe

[2022-09-15 10:55] denesb commented on #11552
@r4fek we are in the process of backporting the fixes for a known case of repair getting stuck (#11223). If you need to get repair to work urgently, you can use the private build I provided in [said issue](https://github.com/scylladb/scylladb/issues/11223#issuecomment-1246248493). Otherwise you can wait for 5.0.3 which will have the fix.

[2022-09-15 11:00] kbr- commented on #11554
I think the purpose of these tests is to see what happens when we perform these operations concurrently or in quick succession.

It wouldn't be good to wait after killing a node before we do anything else - that defeats the purpose completely; the purpose is to see whether we can continue working in this hostile environment when nodes are dying unexpectedly.

Note that by default it takes the Scyl

[2022-09-15 11:01] avikivity commented on #11552
192963 timeouts?

[2022-09-15 11:05] nyh commented on #11548
I think we should move all the children of sstable3 one level up, and keep "SSTable 2.0" where it is, so users will only see sstable 3 unless they go into sstable 2. I.e., something like this:
[code]

The SSTable 2.0 format reference is very interesting for developers and for historical reasons (so please don't just remove it), but nobody is using this format any more on new installations, so most

[2022-09-15 11:07] DoronArazii commented on #11551
@denesb / @tgrabiec please check the commits above, it might cause some issues

[2022-09-15 11:14] michoecho commented on #11548
Another case of deep (level 5) nesting are the upgrade guides, e.g. `ScyllaDB Open Source / Scylla for Administrators / Upgrade Scylla / Upgrade ScyllaDB Open Source / Upgrade Guide - ScyllaDB 5.x Maintenance Release / Upgrade Guide - ScyllaDB 5.x.y to 5.x.z for Ubuntu 18.04, 20.04, and 22.04`.

I think this case would also be better with a level 4 sidebar instead of a level 3 sidebar — but it's j

[2022-09-15 11:15] DoronArazii commented on #11542
@eliransin please check if this issue is worth "high" priority

[2022-09-15 11:17] denesb commented on #11551
This has nothing to do with reads, unless you are also dropping the table during the test.

Does this mixed cluster test do range scans?

[2022-09-15 11:18] denesb commented on #11552
That does seem excessive. Repair uses concurrency in the low 10s, and even if all these reads time out, it should produce just dozens of messages, not hundreds of thousands.

[2022-09-15 11:19] nyh commented on #11554
I guess you're right that there would be _some_ tests that have this purpose. You would still be able to do this by explicitly running the node kill and schema modification in parallel, without waiting for either. But I think the situation today - where the node kill **does wait**, but just doesn't wait enough (it doesn't wait for the driver to recognize the node was killed) - seems like a bug to

[2022-09-15 11:24] kbr- commented on #11554
I don't think it does wait for anything, it just sends the kill signal and proceeds - what wait are you speaking of?

[2022-09-15 11:25] kbr- commented on #11554
Ah, it does wait for the process to finish, true.

[2022-09-15 11:28] fgelcer commented on #11551
not at the point we saw the failure

[2022-09-15 11:31] roydahan commented on #11550
download_instructions=gsutil cp gs://upload.scylladb.com/core.scylla.113.f2da9760d1da4b5aa9199b436aa153c0.4456.1662720413000000000000/core.scylla.113.f2da9760d1da4b5aa9199b436aa153c0.4456.1662720413000000000000.gz .
gunzip /var/lib/systemd/coredump/core.scylla.113.f2da9760d1da4b5aa9199b436aa153c0.4456.1662720413000000000000.gz

[2022-09-15 11:31] aleksbykov commented on #11550
download_instructions=gsutil cp gs://upload.scylladb.com/core.scylla.113.f2da9760d1da4b5aa9199b436aa153c0.4456.1662720413000000000000/core.scylla.113.f2da9760d1da4b5aa9199b436aa153c0.4456.1662720413000000000000.gz .

[2022-09-15 12:00] #11543 closed

[2022-09-15 12:28] r4fek commented on #11552
I will wait for the official version. Thank you!

[2022-09-15 12:34] psarna commented on #10708
@piodul @Jadw1 fyi, this would be a nice complement to https://github.com/scylladb/scylladb/pull/10426

[2022-09-15 12:38] annastuchlik commented on #11548
@michoecho Thanks for your feedback! I agree with you that there some pages are hard to find because they don't appear on the navigation sidebar. I even opened a similar issue to this one, but it turned out that there are technical reasons why we shouldn't increase the depth of the sidebar navigation - deeper levels increased the documentation build time to an unacceptable level.

Our current appr

[2022-09-15 12:40] avikivity commented on #11549
The crash is due to OOM + --abort-on-seastar-bad-alloc. So the question is why we OOMed.

[2022-09-15 12:44] avikivity commented on #11549
It's also possible that the system would have recovered - we're in the middle of LSA evicting memory, but logging a slow reclaim needed to allocate memory. So our debugging infrastructure caused a crash that would otherwise have not happened.

I think we should temporarily disable abort-on-bad-alloc in the logger. It can be called from sensitive locations. The logger itself is able to recover from

[2022-09-15 12:45] avikivity commented on #11549
Appears unrelated.

[2022-09-15 12:48] soyacz commented on #11456
I found this command is not efficient. Better fix would be to replace it with:
`sudo apt-get install $(awk '{print $1'} scylla-packages-xxx-x86_64.txt) -y`
cc @annastuchlik @yaronkaikov

[2022-09-15 12:58] avikivity commented on #11549
I decided it's wrong to fix it in Seastar, since it would hide log messages that allocate huge amounts of memory. Individual call sites know best if they're running in a memory reclaimer or not.

[2022-09-15 13:26] michoecho commented on #11548
This can't be true. The difference between leveI just compiled with both depth 3 and depth 4 (Sphinx default, which was reduced to 3 in 0c2a18af2d50271ab1cf5cd8392dbe54d8bb7791), and there was no visible difference in build times. Even with depth 5 (which includes all the update guides), the difference is ~20%.

You can save much more than that by parallelizing the build. When I tried to build the

[2022-09-15 13:55] annastuchlik commented on #11548
@dgarcia360 Can we discuss the solution proposed by @michoecho ?

[2022-09-15 14:00] avikivity commented on #11476
Already backported to all vulnerable branches, removing "Backport candidate" label.

[2022-09-15 14:13] avikivity commented on #11550
@wmitros please take a look

[2022-09-15 16:59] wmitros commented on #11550
I'm not sure I'm the best person to deal with this task, but I did take a look at the logs, and it looks like the direct cause of the crash was due to `Storage I/O error: 28: No space left on device` which caused throws in multiple spots. I can't say for sure what caused this but noticed that there have been alerts `10.0.2.153 has less than 15% free disk space.` even in the test case before the on

[2022-09-15 17:10] ilya-rarov commented on #11245
Reproduced on `2022.2.0~rc1-20220902.a9bc6d191031`
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`

Cluster size: 6 nodes (i4i.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-50gb-3d-2022-2-db-node-a8fbe37d-9 (34.255.207.41 | 10.4.0.102) (shards: 14)

[2022-09-15 17:41] dgarcia360 commented on #11548
Thanks @michoecho,

We had some issues with extensions that did not support parallel builds, and also our custom toctree it increased the build time by a lot when there were more than 3 level as described in https://github.com/scylladb/scylla-docs/pull/3676#issuecomment-911340038

I'll test the solution proposed replacing the extension and enabling back paralell builds. If it works, we should be a

[2022-09-15 17:47] tzach commented on #11548
Putting a side the compile time issue, deep nesting does not looks good we are moving away from it.

[2022-09-15 18:02] gusev-p opened #11559 "raft memory limit can be exceeded on followers"
There is the `log_limiter_semaphore`, but it's only checked on the leader. `applier_fiber` triggers snapshots by the same rule on the leader and on the followers, so the limit can only be exceeded till the next `applier_fiber` run.

[2022-09-15 23:04] #11352 closed

[2022-09-15 23:04] #10637 closed

[2022-09-15 23:04] #11202 closed

[2022-09-15 23:04] #11549 closed

[2022-09-16 07:49] psarna commented on #11378
I posted a pull request with documentation. It's currently based on Lua for two reasons:
1. Lua is human-readable, while WebAssembly is not, at least not directly
2. Our WebAssembly UDF ABI is subject to lots of changes (with some ongoing right now), so it makes little sense to document it right now. Once @wmitros publishes a stable helper library for writing UDFs in Rust, we'll be able to produce

[2022-09-16 07:51] psarna commented on #11307
Let's close this issue, it can be revised if somebody finds an issue with shadowable tombstones. Code inspection suggests that all existing cases are covered

[2022-09-16 07:51] #11307 closed

[2022-09-16 08:25] psarna commented on #10172
@dorlaor in the drivers, if we are able to detect that a `USING TIMEOUT` directive was used, we could validate/extend the driver-side timeout to be, say, "at least twice as long as the server-side timeout declared with `USING TIMEOUT`". That would either mean parsing CQL driver-side, or at least trying a simple heuristics like "if the trimmed query string ends with `USING TIMEOUT x`, apply validat

[2022-09-16 08:32] ultrabug commented on #10172
@wyfo FYI

[2022-09-16 08:33] avelanarius commented on #10172
It would also be a good usability improvement to `cqlsh`: refs https://github.com/scylladb/scylla-tools-java/issues/244

[2022-09-16 08:42] psarna commented on #7613
closing, we already have per-service-level mechanisms as well as per-query timeouts, and it's granular enough

[2022-09-16 08:42] #7613 closed

[2022-09-16 08:47] psarna commented on #6453
It isn't, it was caused by an extremely large collection or string, way above the recommended limit

[2022-09-16 08:47] #6453 closed

[2022-09-16 08:51] #6218 closed

[2022-09-16 08:57] psarna commented on #5440
If somebody still needs the feature, #2962 is already merged, and based on the generic implementation it might be easier to make a more specific one, which only indexes a single value from a collection (or, perhaps,  more generally, only values that fulfill a predicate?)

[2022-09-16 08:58] psarna commented on #4826
fix was merged a long time ago, closing

[2022-09-16 08:58] #4826 closed

[2022-09-16 11:04] denesb opened #11561 "shard_reader can leave partitions unclosed when buffer-copying loop yields"
Regression caused by 8ab57aa4ab.
The above commit introduced a yield in the loop copying the fragments from the remote shard. This yield can allow the multishard reader to run before the shard reader is run again, consuming the half-copied buffer from the shard reader. If the remote reader is EOS and this is the last buffer, the multishard reader will consider the shard reader to be EOS as the `_e

[2022-09-16 11:05] denesb commented on #11561
Affected versions: 5.1+.

[2022-09-16 12:14] #11303 closed

[2022-09-16 13:47] kbr- opened #11562 "tests not clearing up `manager-*` directories"
Lots of garbage left:
[code]

[2022-09-16 15:24] wmitros commented on #11550
The test passed in the last [Jenkins job](https://jenkins.scylladb.com/job/scylla-master/job/gemini-/job/gemini-1tb-10h/176/)

[2022-09-16 16:37] kbr- opened #11564 "raft/server: `execute_modify_config` turns `conf_change_in_progress` into `not_a_leader`, causing a tight loop in `modify_config`"
`modify_config` immediately retries once obtaining `not_a_leader`:
[code]

If there's a config change in progress, `set_configuration` will throw `conf_change_in_progress`.
`execute_modify_config`  will turn this into a `not_a_leader`:
[code]
(for `conf_change_in_progress`, `is_transient_error` returns `true`).

This will cause a tight loop of `set_configuration` attempts:
[code]

[2022-09-16 16:38] kbr- commented on #11564
Observed when testing upgrade, when multiple nodes try to join group 0 concurrently during the upgrade procedure.

[2022-09-16 18:38] #11492 closed

[2022-09-16 18:38] #11514 closed

[2022-09-16 18:38] #11465 closed

[2022-09-16 18:38] #11483 closed

[2022-09-18 05:49] tzach opened #11565 "nodetool rebuild does not return error code on wrong DC"
*Installation details*
Scylla version (or git commit hash): 5.0.2
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Docker

The following command does not return any error or results
[code]

The DC in this case is `datacenter1`

The same commands on Apache Cassandra return an error message
[code]

[2022-09-18 06:33] juliayakovlev commented on #9807
LWT jobs faild with another issue (https://github.com/scylladb/scylladb/issues/11542)

[2022-09-18 06:53] fruch commented on #11459
@asias, @fgelcer, @yarongilor

Just adding some information I've noticed, and it's mention here on the bug

The actual failure on node1
[code]

Seems like failure always happens on `scylla_bench` keyspace, recently a new large partition run with scylla-bench were added to the upgrade tests

https://github.com/scylladb/scylla-cluster-tests/pull/5136

and this is the scylla-bench command that was us

[2022-09-18 07:45] bhalevy commented on #11245
@xemul did you have a chance to look into this issue?

[2022-09-18 08:02] DoronArazii commented on #7087
@kostja are we planning to solve this for 5.1?

[2022-09-18 08:06] DoronArazii commented on #8030
@bhalevy this is planned for 5.1?

[2022-09-18 08:22] DoronArazii commented on #10003
@eliransin are we planning to deal with it on 5.1?

[2022-09-18 09:18] roydahan commented on #8030
There was another similar issue and we are assigned to it.
We tested it without any nemesis and saw the issue is with Scylla-bench (or how it’s configured for timeseries).
For now I think we can assign all these to us.

[2022-09-18 09:28] tzach commented on #11377
@amnonh ping

[2022-09-18 09:29] tzach commented on #11376
@annastuchlik ping

[2022-09-18 09:38] roydahan commented on #11459
Let’s run a test without this s-b command and see if it works or not.

On Sun, Sep 18, 2022 at 09:53 Israel Fruchter ***@***.***>
wrote:

[2022-09-18 09:41] roydahan commented on #9807
@juliayakovlev but this issue is not related at all and the link to it is just misleading.
If we passed the stage of this issue in those runs, you can close this issue.

[2022-09-18 10:20] nyh commented on #5440
I don't remember why we created this issue - the labels suggest it is for Cassandra compatibility, but I think that's a mistake and Cassandra doesn't have such a feature. Or does it? (Cassandra 4 added the ability to select one element - #7751 - but it's not supported in materialized views).

What I think a **variant** of this feature can be good for is Alternator's GSI, for adding a new GSI for a

[2022-09-18 10:25] avikivity commented on #11549
Backported to 5.1, previous releases unaffected.

[2022-09-18 10:30] ShlomiBalalis opened #11566 "nodetool cleanup takes several times longer on a specific node compared to another"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`

Cluster size: 5 nodes (i3en.3xlarge)

Scylla Nodes used in this run:
- longevity-tls-2tb-48h-1dis-2nondis--db-node-310c42b4-6 (54.75.104.172 | 10.4.2.203) (shards: 10)
- longevity-tls-2tb-48h-1dis-2nondis--db-no

[2022-09-18 10:31] avikivity commented on #11202
Backported the flag to 4.6, 5.0, 5.1.

[2022-09-18 10:33] avikivity commented on #11508
Backported to 5.1. Earlier releases are unaffected.

[2022-09-18 10:40] eliransin commented on #9906
@tgrabiec I am not sure if you have already collected what you need from this cluster. Maybe you could just direct us what to
collect or give an estimation as for how long should we keep the cluster up?

[2022-09-18 10:44] yarongilor commented on #11459
Tested without s-b in: https://jenkins.scylladb.com/job/scylla-staging/job/Longevity_yaron/job/rolling-upgrade-debian10-test-large-partitions/7/

[2022-09-18 11:05] DoronArazii commented on #11566
@raphaelsc please have a look

[2022-09-18 11:12] roydahan commented on #11550
@aleksbykov can you please check why the resharding caused enospc here?
Also, please compare it to previous runs.

The coredump during enospc is a known issue.

[2022-09-18 11:29] nyh opened #11567 "Alternator: allow adding a GSI to a pre-existing table"
_This is a cleanup of issue #5022 which asked to implement the `UpdateTable` operation and  its ability to add a GSI to an already-existing table_

Whereas DynamoDB requires that any LSIs must be created up-front when the table is first created, DynamoDB does allow a user to add a GSI to a preexisting table - and also to remove a GSI from a table - using the `UpdateTable` operation. Alternator doe

[2022-09-18 11:33] nyh commented on #5022
I created issue  #11567 specifically on adding and removing a GSI from an existing table.
I'll also create a separate issue about encryption-at-rest.
So closing this issue.

[2022-09-18 11:33] #5022 closed

[2022-09-18 11:47] DoronArazii commented on #10598
@eliransin are we planning to fix this for 5.1?

[2022-09-18 11:51] DoronArazii commented on #10687
@psarna it's in your queue for 5.1?

[2022-09-18 12:09] nyh commented on #5009
For posterity, here is the patch which I wrote on September 4, 2019:

[code]
[code]

[2022-09-18 12:45] fruch opened #11569 "Repackaging cqlsh"
Scylla's cqlsh version is based on cassandra 3.11 branch code, and only support python2 which is EOL for almost 2 years now.
distros are starting to drop the python2 package (CentOS 9 Stream seems to be the first to drop it)

based on the work in https://github.com/jeffwidman/cqlsh, We'll repackaged cqlsh in https://github.com/fruch/scylla-cqlsh
together with the scylla related changes changes, ba

[2022-09-18 13:22] juliayakovlev commented on #9807
Looks like this issue fixed by https://github.com/scylladb/scylla-cluster-tests/pull/5230. Close.
We can reopen it it happened again

[2022-09-18 13:22] #9807 closed

[2022-09-19 03:48] denesb opened #11571 "[5.0] scylla sstable --help is broken"
[code]
Was fixed with 10880fb0a720e3dcddcb301f8f1c624923e89a03 (in 5.1+).

[2022-09-19 04:47] denesb commented on #11462
Looking at this now. On the problematic node (10.0.1.205) shards are hovering at ~75% load. Roughly at 04:29 almost all of them are pushed to 100%. The only correlating event I found is partition/row merges which AFAIK is merging a flushed memtable into cache:
![image](https://user-images.githubusercontent.com/1389273/190951280-1ba447df-4ff2-4697-bccd-58939aaa9943.png)
This seems to push shards ov

[2022-09-19 04:47] denesb commented on #11462
Speculative reads start to pile on it seems.

[2022-09-19 04:48] denesb commented on #11462
![image](https://user-images.githubusercontent.com/1389273/190951488-77a65222-afd7-4684-8d5c-fc6fe0524607.png)

[2022-09-19 04:48] denesb commented on #11462
![image](https://user-images.githubusercontent.com/1389273/190951513-7a804d3f-4a8f-4239-ad08-435ec1784721.png)

[2022-09-19 04:49] denesb commented on #11462
![image](https://user-images.githubusercontent.com/1389273/190951561-a1dc6cf3-50ef-4148-8617-2f950f0462f7.png)

[2022-09-19 04:49] denesb commented on #11462
![image](https://user-images.githubusercontent.com/1389273/190951600-685fcd7a-988a-4730-952b-3aa96cdb7ab3.png)

[2022-09-19 04:51] denesb commented on #11462
As far as I can tell this is an overload event triggered by a memtable flush, the subsequent cache merge and compactions triggered. Once again the reader concurrency semaphore is the canary in the coal mine, being the first thing that starts screaming once things go wrong.

[2022-09-19 05:01] denesb commented on #11462
![image](https://user-images.githubusercontent.com/1389273/190952494-10fe888f-a6cb-48da-880b-e9abe162f701.png)

[2022-09-19 05:05] denesb commented on #11531
Another https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2280/.

[2022-09-19 06:45] psarna commented on #5440
Originally the issue was created as a spin-off from #2962, because it was supposed to be the first iteration of it. Later it turned out that it would be useful for alternator too, at least if we decide to keep the current storage format (and not switch to, say, some custom CRDT flavor of JSON). The compatibility label shouldn't be here indeed, it belonged to #2962.

[2022-09-19 07:29] avikivity commented on #11465
Looks like the breakage was introduced in 16d8cdadc9dfc511bec52cdf000570b6b639f4ed (4.2). So broken for quite some time, but we never noticed.

I guess it's not a big deal. Lacking nodelay means a possible extra 40ms latency, but in fact it should be rare, since gossip looks more like request-reply than telnet where nagle kicks in.

Still, worth a backport.

[2022-09-19 07:30] denesb opened #11573 "docs: Issue in page Migrate to Scylla"
I would like to report an issue in page https://docs.scylladb.com/master/using-scylla/migrate-scylla

### Problem

Link to "unirestore" leads to private github repo: https://github.com/scylladb/field-engineering/tree/master/unirestore
For people who are not members of the scylla github organization this will result in "Page not found" page.

###  Suggest a fix

The tool has to be moved to a public

[2022-09-19 07:31] denesb commented on #11573
@tzach @annastuchlik

[2022-09-19 07:33] avikivity commented on #11465
Backported to 4.6, 5.0, 5.1.

[2022-09-19 07:33] avikivity commented on #11465
@benipeled why did this not have a Backport candidate label?

[2022-09-19 07:39] xemul commented on #11245
@bhalevy , yes, but unfortunately didn't make visible progress :(

[2022-09-19 07:47] tzach commented on #11573
I suggest to remove the link for now.
Next version of Scylla Manager will include a similar restore function, base on the Manager backup format.

[2022-09-19 07:51] nyh commented on #5440
So I'm tempted to close this issue. The Alternator issue of adding a MV whose key is a map element (#11567) is "related" to this one but the implementation is different because: 1. It's a materialized view, not an secondary-index as in this issue, and 2. This issue is about a typed map (e.g., `map<string,int>` with the int being indexed) whereas the Alternator issue has `map<string,bytes>` and the

[2022-09-19 08:07] psarna commented on #10687
I'm unable to inspect the core due to customary failures with libthread_db, but this second failure looks like a simple out-of-memory error, coming from here https://github.com/scylladb/scylladb/blob/348582c4c8498b82d4372436feb34dd92cf49fa3/utils/logalloc.cc#L2690-L2691

Tests run with `abort_on_bad_alloc` flag set to true, so the execution got aborted. Perhaps this view update was particularly bi

[2022-09-19 08:11] nyh commented on #5009
After pull request #11572, only a small part of the original bug remains. The name `:attrs` can now be used as a non-key attribute just fine, and it just works as expected instead of resulting in bizarre errors or crashes. The only **remaining** part of the bug is that one cannot use the name `:attrs` **as a key** (partition key, sort key, or a key of an LSI or GSI). But even there, the remaining

[2022-09-19 08:18] psarna commented on #5440
good idea, no objections from me

[2022-09-19 09:08] benipeled commented on #11465
@avikivity same as described on https://github.com/scylladb/scylladb/issues/11497#issuecomment-1246764267
The merged commit https://github.com/scylladb/scylladb/commit/13ace7a05e8a977b807586f8b2430092765344e9 parsed by the backport script but not the commit (the child) themselves,

One of the options to deal with it is to parse the list of commits by using the Jenkins function `build.changeSets()`

[2022-09-19 09:16] k0machi commented on #11245
Another run encountered this:

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220908.7effd4c53a5c` with build-id `4104bf84ed2e998ebb566ccf3154da9d40b20c7b`

Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-200gb-48h-verify-limited--db-node-7913d8ee-5 (13.51.193.115 | 10.0.3.198) (shards: 14)
- longevity-200gb

[2022-09-19 09:19] k0machi commented on #11245
Slightly different coredump that occurred during enospc:

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220914.6799e766ca95` with build-id `3f6897811f76b9db7f4143fc4cd299a3d7121b02`

Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-200gb-48h-verify-limited--db-node-f7b26a09-7 (13.49.226.216 | 10.0.3.240) (sh

[2022-09-19 09:31] annastuchlik commented on #11376
This issue covers the upgrade guides.
See https://github.com/scylladb/scylladb/issues/11377 for metric updates.

[2022-09-19 09:38] roydahan commented on #11527
Another run of the same test has passed here:
https://argus.scylladb.com/test/20d46499-8e66-46e2-bc9c-a6330d5e56e5/runs?additionalRuns[]=e008dc23-16da-44ee-9263-677135c5402b

I suggest to compare monitors.

[2022-09-19 09:55] kostja commented on #7087
The test is not related to raft in any way. It can be fixed by anyone. I don't have it on my todo list.

[2022-09-19 11:07] DoronArazii commented on #11524
@eliransin ping

[2022-09-19 11:15] avikivity commented on #11550
ref: #11299

[2022-09-19 11:16] avikivity commented on #11299
@xemul please pursue with high priority

[2022-09-19 11:21] nyh commented on #11524
I'll try to reproduce this in a small test

[2022-09-19 11:22] roydahan commented on #11245
@xemul do you need our help with this?

[2022-09-19 11:30] nyh commented on #11524
The following trivial cql-pytest test reproduces this bug:
[code]
Scylla crashes during the flush, in exactly the same way as reported by @igorsimb
The bloom_filter_fp_chance must be as small as 1e-5 to cause this crash - 1e-4 works fine.

I'll try now to see how fix this. I'm not sure we need to support tiny bloom_filter_fp_chance, but if we don't we should produce a clear error **while creating

[2022-09-19 11:35] soyacz opened #11574 "Long multiple reactor stalls when working with many tables"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/scylladb-2022.2/scylla-enterprise-x86_64-package-2022.2.0-rc1.0.20220902.a9bc6d191031.tar.gz
Cluster size: 1 nodes (i3.8x

[2022-09-19 11:39] nyh commented on #11524
The Cassandra documentation https://docs.datastax.com/en/archived/cql/3.1/cql/cql_reference/tabProp.html#tabProp__moreBloomFilter explicitly says that even a value of 0 is allowed:

Scylla gives the same crash with 0 as it does with 1e-5. The crash is a deliberate exception saying "Unable to satisfy 0.000000 with 20 buckets per element" but according to the documentation, we don't need to "satisfy

[2022-09-19 12:31] xemul commented on #11245
@roydahan , is there a dtest specifically for local disk ENOSPC?

[2022-09-19 12:35] DoronArazii commented on #10274
@eliransin / @asias ping

[2022-09-19 12:50] k0machi commented on #10772
Seems to have encountered this on 2022.2

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `0d7037e9746faac66c1c4950eed01e56c144ce60`

Cluster size: 4 nodes (im4gn.4xlarge)

Scylla Nodes used in this run:
- longevity-200gb-48h-verify-limited--db-node-939938a6-8 (34.243.192.67 | 10.4.11.230) (shards: 15)

[2022-09-19 13:13] yarongilor commented on #11459
Tested in: https://jenkins.scylladb.com/job/scylla-staging/job/Longevity_yaron/job/rolling-upgrade-debian10-test-large-partitions/9/

[2022-09-19 13:14] nyh commented on #11524
I have a fix in https://github.com/scylladb/scylladb/pull/11576

[2022-09-19 13:34] fruch commented on #11245
There one I think for commitlog, but not something for the whole data directory.

[2022-09-19 14:44] xemul commented on #11245
Regarding https://github.com/scylladb/scylladb/issues/11245#issuecomment-1250774786:

The e4e92d44ae3015d81c3fb3f7386c65eacad7a790 needs fixing. It stops compaction manager with `deferred_stop()` which is the generic stopping wrapper that doesn't care about ~~ENOSPC~~ any exception that may appear. However, the default stop-when-rolling-back-start thingie is the `defer_verbose_shutdown` which is v

[2022-09-19 15:13] ShlomiBalalis commented on #11468
I did not see this issue reproduce in any run since

[2022-09-19 15:23] juliayakovlev opened #11579 "k8s: enospace leads to aborting on shard"
## Installation details

Kernel Version: 5.4.209-116.367.amzn2.x86_64
Scylla version (or git commit hash): `5.2.0~dev-20220915.2a74a0086f89` with build-id `d14296522d7f675d8c81274881496fbde0911719`

Cluster size: 4 nodes (i3.4xlarge)

OS / Image: `` (k8s-eks: eu-north-1)

Test: `longevity-scylla-operator-basic-12h-eks`
Test id: `290dd7ad-bc19-4a7a-8be8-6139a86e9363`
Test name: `scylla-operator/ope

[2022-09-19 15:24] fee-mendes commented on #11354
Loves, ping

[2022-09-19 15:40] bhalevy commented on #11245
@xemul both observations make sense.  Thanks

[2022-09-20 02:57] asias commented on #11354
@xemul

1 https://github.com/scylladb/seastar/issues/1154 , but 4.6.3 is not affected by this
2 https://github.com/scylladb/seastar/issues/1146 , 4.6.3 affected, however it's been around since forever, if this issue appeared recently, it's unlikely that it's the culprit
3 https://github.com/scylladb/seastar/issues/1152 , 4.6.3 affected, but similarly -- it's been with us for a long time. Also, it'

[2022-09-20 03:02] denesb commented on #11571
Merged into branch-5.0. Closing manually, as this commit is already in master (https://github.com/scylladb/scylladb/commit/10880fb0a720e3dcddcb301f8f1c624923e89a03).

[2022-09-20 03:02] #11571 closed

[2022-09-20 04:57] amnonh commented on #11377
|New in 5.1|Description|
|---------------|---------------|
|scylla_cache_rows_compacted_with_tombstones|Number of rows dropped in cache by a tombstone write|
scylla_cache_rows_dropped_by_tombstones|total number of rows in memtables which were dropped during cache update on memtable flush
scylla_commitlog_active_allocations|Current number of active allocations.
scylla_commitlog_blocked_on_new_segme

[2022-09-20 05:45] tzach commented on #11377
Thanks @amnonh
what about update / deletes?

[2022-09-20 06:00] amnonh commented on #11377
@tzach there are none

[2022-09-20 06:06] asias commented on #11159
We saw similar problem here:

https://github.com/scylladb/scylladb/issues/11354#issuecomment-1235150549

[2022-09-20 06:35] aleksbykov opened #11581 "Coredump during replace node and change schema in parallel with raft"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220914.6799e766ca95` with build-id `3f6897811f76b9db7f4143fc4cd299a3d7121b02`

Cluster size: 4 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- longevity-lwt-parallel-24h-master-db-node-fd3b16c5-9 (54.154.226.127 | 10.4.2.225) (shards: 7)
- longevity-lwt-parallel-24h-master-db-node-fd3b16

[2022-09-20 06:51] eliransin commented on #10598
I am not sure we will have the bandwidth for it for 5.1

[2022-09-20 07:43] aleksbykov opened #11582 "Coredump during replace node in multidc configuration"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.2.0~dev-20220914.6799e766ca95` with build-id `3f6897811f76b9db7f4143fc4cd299a3d7121b02`

Cluster size: 8 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-cdc-100gb-8h-multi-dc-tpc-db-node-78e900ba-9 (34.245.157.12 | 10.4.2.236) (shards: 14)
- longevity-cdc-100gb-8h-multi-dc-tpc-db-node-78

[2022-09-20 07:44] aleksbykov commented on #11581
Maybe related issue: https://github.com/scylladb/scylladb/issues/11582

[2022-09-20 07:48] fruch commented on #10284
@xemul @bhalevy
happened again on 5.0 next:
https://jenkins.scylladb.com/job/scylla-5.0/job/next/204/artifact/logs-gating.release.2/1663603045422_update_cluster_layout_tests.py%3A%3ATestUpdateClusterLayout%3A%3Atest_simple_kill_node_while_decommissioning/

[2022-09-20 08:03] aleksbykov commented on #11550
The ENOSPC was not running during the job. Looks like node report the 'no space left on device' during resharding process
[code]

[2022-09-20 09:37] avikivity commented on #11550
@raphaelsc please check if we have a regression in space usage during resharding, or if the test is running with too-low margin and stepped over the line.

[2022-09-20 09:59] kbr- commented on #11531
I managed to reproduce on my laptop with brute force: by starting the test concurrently 6 times. I'm guessing the core ingredient in reproducing was nodes competing for resources, which causes them to slow down, schedule tasks differently etc. The test eventually starts 10 nodes with smp=2, my number of cores is 12, so that's roughly 6*10*2/12 = 10 Scylla shards competing for each core.

The test

[2022-09-20 10:06] denesb commented on #11531
Very likely caused by https://github.com/scylladb/scylladb/issues/11561.

[2022-09-20 10:07] denesb commented on #11531
You can try applying the fix and rerunning your reproducer. The fix is here https://github.com/scylladb/scylladb/pull/11532/commits/852f8f0677b9dcdf37e40f841d4f22d201708715 (part of https://github.com/scylladb/scylladb/pull/11532).

[2022-09-20 10:08] avikivity commented on #11561
I'll revert it (and backport the revert), we can rework the original patch later.

[2022-09-20 10:09] avikivity commented on #11531
And such fixes should be extracted! But if the fix is already available (and you're confident in it), we can apply it.

[2022-09-20 10:10] kbr- commented on #11531
@denesb but I see that your PR https://github.com/scylladb/scylladb/pull/11532 had a CI failure due to this test :D So either this is not the cause, or the PR does not completely fix the problem.

[2022-09-20 10:11] denesb commented on #11531
Hmm, indeed.

[2022-09-20 10:11] avikivity commented on #11531
@kbr- please repeat your reproducer with #11561 reverted to see.

[2022-09-20 10:11] denesb commented on #11531
It fixed another failing dtest that was consistently failing once I added validation to the read path.

[2022-09-20 10:13] horschi commented on #11491
I found another crash. This time including a coredump.

[code]

**Coredump Upload ID**: 0519fac5-fd84-4000-bb5f-b4b9fce3b1b4
**Logfile Upload ID**: 3aea6789-2ec4-48e8-b72a-7279f27ae458

[2022-09-20 10:15] kbr- commented on #11531
Will do.

The read results would be nondeterministic - it's a concurrency bug, right?
If so, then combined with the fact that I'm getting these rows on every read now - they're probably already in sstables.
They could end up there due to read repair, though.

[2022-09-20 10:17] denesb commented on #11531
Read repair doesn't use the buggy evictable reader (unless the read is a range scan itself). You can check the origin of sstables (unless they were compacted) with `scylla sstable --dump-scylla-metadata`

[2022-09-20 10:18] psarna commented on #10649
@piodul fyi, could you try evaulating whether the fixes you considered as follow-ups for https://github.com/scylladb/scylladb/pull/11166 are related and could address this problem as well?

[2022-09-20 10:21] kbr- commented on #11531
well yes, the test retrieves the data using a full scan.

[2022-09-20 10:24] avikivity commented on #11561
It's not cleanly revertable.

[2022-09-20 10:25] kbr- commented on #11561
Due to
5ca73019dd5a08e335daa26a868ad45fb59def6d

[2022-09-20 10:30] avikivity commented on #11561
It's easy to work around it. But I'll wait to see if it's indeed the root cause.

[2022-09-20 10:31] nyh commented on #10649
I want to summarize the fairly comprehensive set of cql-pytest tests we already have for reproducing this issue, covering many corner cases and code paths that I uncovered during my ill-fated attempts to fix this bug.

All tests are in `test/cql-pytest/test_secondary_index.py`, and as usual for my tests - heavily commented:

* `test_filter_and_limit` covers the basic scenario of combining a filter

[2022-09-20 10:43] kbr- commented on #11531
I removed the `co_await maybe_yield()`, didn't help. Still reproduces.

[2022-09-20 10:43] kbr- commented on #11531
I need to find a reproducer which doesn't take 20 minutes.

[2022-09-20 10:51] juliayakovlev commented on #11579
Looks like dup of https://github.com/scylladb/scylladb/issues/11245

[2022-09-20 10:57] DoronArazii commented on #10598
Pushing to 5.2 as we don't have the bandwidth to deal with it now.
Per @fruch it is not a regression

/Cc @roydahan @slivne

[2022-09-20 11:10] #11524 closed

[2022-09-20 11:37] piodul commented on #10649
@psarna I'm not really sure. Some time has elapsed since I worked on it and I don't remember the details. I would have to dig myself in it again to remind myself.

One of the issues related to https://github.com/scylladb/scylladb/pull/11166 is https://github.com/scylladb/scylladb/issues/7432 - paging doesn't seem to be able to split partitions when querying indexes on partition keys. It will proba

[2022-09-20 11:40] avikivity commented on #11491
@denesb looks like a reader problem

[2022-09-20 11:41] yaronkaikov opened #11584 "offline-installer: oel81 is failing when installing unified relocatable package"
on oel81 when installing unified relocatable package, cqlsh is failing to run from a user which isn't root (when root did the install)
[code]

[2022-09-20 11:42] yaronkaikov commented on #11584
happens in `master` and also in `5.1` and `2022.2` releases

[2022-09-20 11:48] nyh commented on #10649
@piodul @psarna in my opinion (and I also didn't dig into this code recently enough) it's not that anything @piodul already did, or was planning to do for another issue, will magically fix this problem as well. There are specific bugs in how the LIMIT support is done when walking a secondary index, and how it interacts with filtering and paging and it involves several distinct places in the code a

[2022-09-20 12:10] denesb commented on #11491
I'll have a look.

[2022-09-20 13:28] kbr- commented on #11531
What the heck.
Two observations.
1. The problem only reproduces in Multi-DC setup.
2. I bisected it to 6dedc69608810d455d3233b71e8d67af6a41b004 (cc @xemul ) - it doesn't reproduce on that commit's parent (16a3e55aa166cd5b8f349abad4dd75b80eba526d).

But I don't understand how this commit could cause a row to appear in the wrong partition... and what does this thing have to do with Multi-DC vs Singl

[2022-09-20 13:37] kbr- commented on #11531
Even if we introduced or fixed a bug which modified how replica sets were calculated for writes or reads, this should not cause rows to appear in the wrong partitions. Calculating replica sets wrongly should only cause data not to appear. I would be more inclined to believe that there's a pre-existing bug which was unmasked.

[2022-09-20 13:44] tzach opened #11585 "docs: configuration section is out of date"
I would like to report an issue in page https://docs.scylladb.com/master/operating-scylla/admin

### Problem
The config section does not mention the ability to live update some of the values, and the REST and CQL API to do that.

[2022-09-20 13:45] tzach commented on #11585
related: https://github.com/scylladb/scylladb/issues/6708

[2022-09-20 13:46] avikivity commented on #11531
6dedc69608810d455d3233b71e8d67af6a41b004 is itself a fix, we can't revert it.

[2022-09-20 13:48] avikivity commented on #11531
It was merged 16 days ago. Does that agree with when the flakiness started appearing?

[2022-09-20 13:49] kbr- commented on #11531
The first CI failure was observed 8 days ago, according to my knowledge.
It's plausible (if there were not too many CI runs between 8 days ago and 16 days ago, we could have been (un)lucky enough not to get it during this time).

Note that I can reliably reproduce it on https://github.com/scylladb/scylladb/commit/6dedc69608810d455d3233b71e8d67af6a41b004 but the same method does not work on https:/

[2022-09-20 13:57] wmitros commented on #10615
This was fixed by #11250 but I forgot to mention it in the commit message

[2022-09-20 13:57] #10615 closed

[2022-09-20 14:00] nyh commented on #7432
https://github.com/scylladb/scylladb/pull/11586/commits adds two tests, `test_secondary_index.py::test_index_paging_match_partition` and `test_secondary_index.py::test_index_paging_group_by`

The two cases are very different, I'm not sure at all they both stem from the same bug that can be fixed in one place, or it's actually two separate issues (the latter would be my guess). One case involves ma

[2022-09-20 14:15] avikivity commented on #11531
So we have the following options:

1. revert 6dedc69608810d455d3233b71e8d67af6a41b004 and 4cbe6ee9f40c6b744c907b657969d79939026d8b
2. find the problem

I'll go with 1, @xemul can follow up with a fixed 4cbe6ee9f40c6b744c907b657969d79939026d8b.

[2022-09-20 14:18] avikivity commented on #11531
It's not so easy, 4cbe6ee9f40c6b744c907b657969d79939026d8b is part of a merge (421557b40aa8d1adf5016722418936a99595cb20), I don't know what's the impact of reverting it. I guess we can try.

[2022-09-20 14:23] kbr- commented on #11531
@avikivity if you decide to and do the revert, before applying the revert to `master`, give me the branch and I'll check if the problem does not reproduce on that branch.

[2022-09-20 14:30] kbr- commented on #11531
This new setting (single DC with single node + NTS) also does not reproduce on https://github.com/scylladb/scylladb/commit/16a3e55aa166cd5b8f349abad4dd75b80eba526d.

[2022-09-20 14:34] nyh opened #11587 "docs: Issue in page Functions"
I would like to report an issue in page https://docs.scylladb.com/master/cql/functions

The function documentation says that `toUnixTimestamp Converts the [...] argument into a bigInt raw value`. But it doesn't explain what this "raw value" is. We should explain that it is an integer giving the number of milliseconds (I think? need to double-check) since the UNIX epoch (00:00 UTC, Jan 1, 1970).

[2022-09-20 14:36] kbr- commented on #11531
This actually makes some sense.

This is evidence that https://github.com/scylladb/scylladb/commit/4cbe6ee9f40c6b744c907b657969d79939026d8b broke the way replica sets are calculated in NetworkTopologyStrategy.

When we have more than 1 replica, when we bootstrap a node, there will be some intersection between old replica sets and new replica sets for any vnode. So even if we calculate, say, 1 of t

[2022-09-20 14:38] kbr- commented on #11531
Even if we calculated replica sets completely randomly - we should never ever mix rows from different partitions. Let's say we ask the wrong replica for a partition X, or a partition range that contains X, which that replica doesn't have. This replica would return a stream of mutation fragments which does not contain X. When the coordinator merges this stream with streams from other replicas it sh

[2022-09-20 15:18] nyh opened #11588 "Timestamp validation happens during read, instead of during write"
According to our documentation https://docs.scylladb.com/stable/cql/types.html#timestamps, the `timestamp` type can be set to a 64-bit integer "representing a number of milliseconds since the standard base time known as the epoch".

A user reported mistakenly storing the number of **microseconds** since the epoch in a `timestamp` column, without any error.
The problem is that then this user used t

[2022-09-20 15:29] kbr- commented on #11531
The coordinator merges mutation streams obtained from different replicas. These streams may contain multiple partitions. Even if there were some extra partitions which we didn't ask for (and there shouldn't be really), the coordinator should not mix them up while merging.

[2022-09-20 15:37] avikivity commented on #11531
With this I agree.

[2022-09-20 15:38] xemul commented on #11531
4cbe6ee9f40c6b744c907b657969d79939026d8b moved adding a node to topology from out of `update_normal_tokens`. It's possible that there was an extra call to update_topology() that added a entry while it shouldn't. Here's a suspicious place that probably should not be there in storage_service::bootstrap():

[code]

[2022-09-20 16:19] kbr- commented on #11531
@xemul still fails.

If you want to reproduce the "missing rows" case reliably, apply this patch to cdc_test.py:
[code]

(it simply reduces the test from 3 DCs 3 nodes each to 1 DC with 1 node, but it also changes the dc name from `dc1` to `datacenter1` because for some reason when there's one datacenter Scylla throws an error that it expects the dc name to be `datacenter1 - probably another bug o

[2022-09-20 16:32] kbr- commented on #11531
@avikivity with your reverts I failed to repro, both the "missing rows" and the "too many rows" cases.

[2022-09-20 16:34] kbr- commented on #11531
But we must investigate the "too many rows" case - I claim that a row should never appear in the wrong partition, even if we calculated replicas completely randomly.

[2022-09-20 17:02] xemul commented on #11531
6dedc69608810d455d3233b71e8d67af6a41b004 has this hunk

[code]

which adds a entry without dc/rack and this _does_ affect the result for NTS

[2022-09-20 22:03] nyh commented on #10649
I have some ideas on how to implement this feature, and will try to do it tomorrow.

In any case its worth noting that index+filter+limit involves a performance tradeoff: the first step of scanning an index involves reading from the index view (aka posting list) and at that point we can't yet do the filtering (because we only get keys, not the content of the itemd) so we can't apply the limit - so

[2022-09-20 22:20] avelanarius opened #11593 "docs: Issue in page Scylla Python Driver"
I would like to report an issue in page https://docs.scylladb.com/master/using-scylla/drivers/cql-drivers/scylla-python-driver

### Problem
The "Scylla Python Driver Documentation" link in "More information" section leads to a non-existent page: https://python-driver.docs.scylladb.com/stable

###  Suggest a fix
1. "Scylla Python Driver Documentation" link should lead to a valid page.
2. https://py

[2022-09-20 22:20] avelanarius commented on #11593
cc @tzach @annastuchlik @fruch

[2022-09-21 00:46] asias commented on #11223
@denesb  @slivne

Just to make it clear:

4.6.x is not exposed to this issue.
5.0.{0,1,2,3} are exposed to the issue. The 5.0.4 (to be released) is going to to have the fix.
5.1 is not exposed to this issue.

2022.1.{0,1,2} are exposed to this issue. I have sent a PR to backport the fix to 2022.1.x.
2022.2 is not exposed to this issue (?)

[2022-09-21 03:07] denesb commented on #11223
2022.1 is based on 5.1 which is not vulnerable (already has the fix).

[2022-09-21 05:46] denesb commented on #11491
[code]
It appears we fail somewhere in the method which creates the readers and then we abort because the readers weren't closed.

[2022-09-21 06:08] tzach commented on #11593
Looks like https://python-driver.docs.scylladb.com is down!

[2022-09-21 06:33] fruch commented on #11593
It's now back

I had to rerun

https://github.com/scylladb/python-driver/actions/runs/3081512538/jobs/5010170489

Seems like it's my mistake that I didn't push the changes to the documention (pointing to a release) and the release tag at the same time.

We probably should fix that workflow not to push to GitHub pages is the release tag/branch is missing. Better to have not up to date docs, then no

[2022-09-21 06:47] asias commented on #10296
I am pretty sure sct won't collect what I asked for by default. If that is the case, we need to modify sct to provide the info. I looked gossipinfo output above.  All the nodes had the correct status NORMAL or LEFT.

[2022-09-21 07:11] denesb commented on #11491
We should backport 9ada63a9cb to mitigate these kinds of aborts. The alternative is to litter the code with try-catches, but that is going to be a game of whack-a-mole.

[2022-09-21 07:56] tzach commented on #11593
We need to check the site monitoring app.
I should have got a notification on this, but didnt

[2022-09-21 09:13] DoronArazii commented on #10296
@avikivity / @eliransin / @roydahan any suggestions how to gain a progress here?
*This is a regression

[2022-09-21 09:33] xemul commented on #11531
@kbr- , would you please give :point_up: a shot? It fixed the test (patched with your patch) for me

[2022-09-21 09:36] d-mankowski-synerise opened #11595 "Scylla setup: `--setup-nic-and-disks` doesn't improve performance in cassandra-stress"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.6.7
Cluster size: 3
OS (RHEL/Cen

[2022-09-21 09:54] dorlaor commented on #11595
The performance changes you indicate are tiny - only ~1% change.
There is no indication whether you stress the disk at all.
First, check that you manage to maximize a resource (like net, memory, disk) and then prove your
point in Grafana

[2022-09-21 10:16] kbr- commented on #11531
@xemul it seems to work

[2022-09-21 10:33] avikivity commented on #11531
The trichotomy theorem leads me to believe you did reproduce the "exactly the right number of rows" case.

[2022-09-21 11:35] slivne commented on #11459
@asias A has found that they run scylla-bench in the middle and that may be triggering the problem - can you have a look

[2022-09-21 11:55] annastuchlik opened #11598 "Docs: add troubleshooting doc for missing .mount issue"
@syuu1228 opened a valuable PR in the deprecated _scylla-docs_ repository: https://github.com/scylladb/scylla-docs/pull/4152

- Add the content to the ScyllaDB docs in this repo.
- Fix the syntax to ensure the documentation renders correctly.

[2022-09-21 15:01] #11486 closed

[2022-09-21 15:21] DoronArazii commented on #11542
@eliransin ping

[2022-09-21 15:21] DoronArazii commented on #11507
@asias ping

[2022-09-21 15:34] roydahan commented on #11459
The direction @yarongilor is checking at the moment is the fact that this keyspace was created when the cluster was in mixed mode (2 nodes upgraded, 2 haven't).
@asias is that make sense it will cause the repair to fail?

[2022-09-21 16:24] #11573 closed

[2022-09-21 16:24] #11450 closed

[2022-09-21 16:24] #11373 closed

[2022-09-21 16:24] #11376 closed

[2022-09-21 16:24] #11452 closed

[2022-09-21 16:24] #11584 closed

[2022-09-21 16:28] roydahan commented on #10772
@KnifeyMoloko, (cc @soyacz who wrote the feature & @k0machi who opened https://github.com/scylladb/scylla-cluster-tests/issues/5299).

The second [comment](https://github.com/scylladb/scylladb/issues/10772#issuecomment-1165569796) on the issue doesn't look related to the original issue (unless I'm missing something).
In that case, it looks like a problem of SCT and c-s.

[2022-09-21 16:43] michoecho commented on #11595
@d-mankowski-synerise

You say you wanted to check the effect of `--setup-nic-and-disks`, but the option is present for both clusters. Is this a typo?

Regardless of the above, your benchmark is set up in a way that most likely measures network latency rather than server throughput: in cassandra-stress, every worker thread is synchronous — it sends a request, waits for the response, and only then

[2022-09-21 17:21] roydahan commented on #11550
@aleksbykov please add the information on how much data the test writes and the list of nemesis we run.
AFAIK, the list of nemesis and gemini_seed should be fixed across runs (please verify and compare).
So, if this is a regression, it should be easy to prove.

[2022-09-21 18:19] vladzcloudius commented on #11595
Unless I'm missing something here, based on the description you, @d-mankowski-synerise, give `--setup-nic-and-disks` when you configure both of your clusters.

The only difference I see is that for the first cluster you make sure that `io.conf` and `io_properties.yaml` are the same across all your nodes while for the second you leave whatever `--io-setup 1` (and therefore `iotune`) calculates on e

[2022-09-21 18:42] d-mankowski-synerise commented on #11595
Sorry, a typical copy&paste typo, `--setup-nic-and-disks` was used only in the first setup.

@michoecho Thanks for the great explanation! The QPS seemed suspiciously low to me, I wasn't aware of synchronous nature of cassandra-stress. Will keep it in mind for the future.

@vladzcloudius Accelerated networking was enabled; I will rerun benchmark with another client and `perftune` from master

I thi

[2022-09-21 18:42] #11595 closed

[2022-09-21 20:22] raphaelsc commented on #11550
A local test, using same commit as the test, shows resharding on a shard S is still serialized and space of input files is released after the job has completed. Also inspected the code to double check it.

Now some interesting analysis from the dashboard:

![Resharding_ENOSPC_analysis](https://user-images.githubusercontent.com/1409139/191601791-6c7d4c71-e831-4308-8b1c-128838473080.png)
https://use

[2022-09-21 20:52] nyh commented on #11218
@tzach what is the latest stable version? scylladb/scylla:latest?
I don't see anything documented about this in https://hub.docker.com/r/scylladb/scylla/... Is latest the "latest" release in the chronological sense or latest in the numerical sense? I mean, if 5.0.3 came out after 5.1, which will be the "latest"?
I'll open a separate issue about that in scylla packaging...

[2022-09-22 02:31] asias opened #11600 "Support finished percentage metrics for node ops using streaming"
This forks from

https://github.com/scylladb/scylla-monitoring/issues/1788

where we want to see the current progress of the streaming.

[2022-09-22 03:00] asias commented on #11459
This is not supposed to fail. In case of mixed cluster, scylla is supposed to use only the features known by the old nodes.

My guess is that

https://github.com/scylladb/scylladb/issues/11459#issuecomment-1240148316

some of the nodes started to use new features incorrectly.

[2022-09-22 03:26] asias commented on #11459
I could not produce with scylla-bench
[code]

stress_before_upgrade: scylla-bench -workload=sequential -mode=write -replication-factor=3 -partition-count=800 -clustering-row-count=5555 -clustering-row-size=uniform:100..1024 -concurrency=5 -connection-count=5 -consistency-level=quorum -rows-per-request=10 -timeout=30s -validate-data

[2022-09-22 03:48] fruch commented on #11459
Maybe try without running scylla-bench before the upgrade, i.e. let scylla-bench create the scheme while in mixed cluster (again it doesn't say you are not correct about the root cause of the repair failure)

[2022-09-22 05:46] asias commented on #11459
I tried this too. It is the same. I could not reproduce.

[2022-09-22 05:50] aleksbykov commented on #11550
@roydahan

The test assume to write about 1TB data to base ks1.table1. But gemini usually create MV and SI.
The list of nemesis:
disrupt_restart_with_resharding --- cause the coredump
disrupt_repair_streaming_err
disrupt_major_compaction
disrupt_multiple_hard_reboot_node
disrupt_grow_shrink_new_rack
disrupt_terminate_and_replace_node
disrupt_delete_overlapping_row_ranges
disrupt_snapshot_operation

[2022-09-22 06:01] tzach commented on #11218
Last patch verion of the lastr minor version
But for the doc, we do not have to point to a spesfic version, just send the user to the latest, and not nightly.

[2022-09-22 06:33] soyacz commented on #10772
Issues from both comments are not related to issue opened by @k0machi - this is first run of this nemesis and fails on first c-s upon creating keyspace across multi-dc.

Later warnings like `Using SimpleStrategy in a multi-datacenter environment is not recommended.` from last [comment](https://github.com/scylladb/scylladb/issues/10772#issuecomment-1165577575) are due to not decommisioning node fro

[2022-09-22 06:41] nyh commented on #11218
I'll send a patch to update the docker instructions to not use a nightly version, but maybe we (@eliransin) need to rethink this entire document and why it exists and how it describes its own purpose.
It's basically a "how to play with Alternator on your own laptop" document, without clearly saying so (it begins by telling you that "This section will guide you through the steps for setting up the

[2022-09-22 06:44] nyh commented on #11218
The link to https://www.scylladb.com/download/open-source/#docker is also worthless (points to some generic "getting started" page so I'll fix that link as well :-(

[2022-09-22 06:47] tzach commented on #11218
My point is "nightly" was recomended when Alternator was very new, and there was not stable release supporting it.
This is not the case anymore.

[2022-09-22 07:52] dennissetiawan opened #11606 "Materialized View non primary key "is not null" meaningless condition"
I would like to file an issue about a non functional is not null condition when trying to create materialized view.

FOR EXAMPLE:
[code]

When I select the MV the value is there even if the flag is null.
It's misleading that we allow setting IS NOT NULL for a non-key column and then ignore the restriction

[2022-09-22 07:53] denesb opened #11607 "db/view: view_builder::execute(): injects partition-start unconditionally on resuming build-step"
When resuming a build-step, the view builder injects the partition-start
fragment of the last processed partition, to bring the consumer
(compactor) into the correct state before it starts to consume the
remainder of the partition content. This results in an invalid fragment
stream when the partition was actually over or there is nothing left for
the build step.

[2022-09-22 07:57] denesb opened #11608 "readers/mutation_readers: compacting_reader forgets about injected partition-end"
Currently injecting a partition-end doesn't update `_last_uncompacted_kind`, which will allow for a subsequent `next_partition()` call to trigger injecting a partition-end, leading to an invalid mutation fragment stream (partition-end after partition-end).

[2022-09-22 07:59] nyh commented on #11606
Closing as a duplicate of #10365.

[2022-09-22 07:59] #11606 closed

[2022-09-22 07:59] tzach commented on #7742
@bhalevy I think this is very similar to the Task Manager

[2022-09-22 08:47] enaydanov opened #11609 "Target node of NetworkStartStopInterface nemesis lost connectivity with other cluster nodes after stop/start of a network interface"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `5.1.0~rc1-20220902.d10aee15e7e9` with build-id `c127c717ecffa082ce97b94100d62b2549abe486`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla/relocatable/scylladb-5.1/scylla-x86_64-package-5.1.0-rc1.0.20220902.d10aee15e7e9.tar.gz
Cluster size: 6 nodes (i3.2xlarge)

Scylla Nodes used in th

[2022-09-22 08:53] nyh opened #11610 "Restrictions printed in error message use strange non-CQL format"
The CQL request `SELECT * FROM tbl WHERE x IS NOT NULL ALLOW FILTERING` is not allowed because we don't support IS NOT NULL in general filters (the request to support this is  https://github.com/scylladb/scylladb/issues/8517). But the purpose in this issue is to note that the error message is strange:
[code]
The restriction should have been printed as `x IS NOT NULL`, not `(x) IS NOT { null }`. Th

[2022-09-22 09:50] yarongilor opened #11611 "A query of "SELECT extensions FROM system_schema.tables" fails with: "Operation timed out for system.local - received only 0 responses from 1 CL=ONE.""
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`

Cluster size: 4 nodes (i3.4xlarge)

Scylla Nodes used in this run:
- longevity-tls-1tb-7d-2022-2-db-node-4b61603c-7 (52.16.95.87 | 10.4.2.26) (shards: 14)
- longevity-tls-1tb-7d-2022-2-db-node-4b61603c-6 (52.215

[2022-09-22 09:53] soyacz commented on #11468
I got reproduction:
after upgrading 2 nodes and trying rollback one node to 5.0.3 from `2022.1.3-0.20220920.941a34e52 with build-id d9918d99b8935828ce27f46d2a773490607b14fb` drain freezed.
From logs I can see last line is:
[code]
Next line (from previous drain) was:
[code]
So it looks it freezes on stopping storage_service

## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (o

[2022-09-22 10:02] #11531 closed

[2022-09-22 10:05] roydahan commented on #11468
@soyacz we need to catch it live or set it to kill it with SIGABRT so it'll produce a coredump we can attach to the issue.
If we can't produce it, we can provide dev the live cluster when it's stuck.

[2022-09-22 10:05] yarongilor commented on #11611
A similar error was reproduced 2 hours later:
[code]

[2022-09-22 10:09] horschi commented on #11491
It happened again:

[code]

I don't assume you need yet another coredump?

[2022-09-22 10:15] bhalevy opened #11612 "scylla should automatically take snapshot of views when snapping the base table"
When the snapshot code was introduced in 2f2a4e83e0dcaf012e965e39af54e8ba89c65077, the intention of taking a snapshot of a table's views via the base table was already expressed as:
[code]

However, this was never implemented.
This wasn't found by tests, like the snapshot_test dtest since the condition above is too weak, allowing explicit snapshot of materialized views as they do not contain a dot

[2022-09-22 10:15] bhalevy commented on #11612
Cc @nyh @amnonh

[2022-09-22 10:17] denesb commented on #11491
No, we will soon release the next 5.0.x, (I think it is 5.0.4), which should make this go away.
Note that this is just a symptom, the root cause will be some exception (most likely `std::bad_alloc`) thrown while attempting to create the reader. I looked at the state of memory in the coredump and it seems plenty of it is available, so I'm not sure. In any case, once this is solved you will see the

[2022-09-22 10:20] soyacz opened #11613 "storage_proxy - Exception when communicating - std::runtime_error array"
## Installation details

Kernel Version: 5.4.0-1087-gcp
Scylla version (or git commit hash): `5.0.3-20220907.b9a61c8e9` with build-id `7be266d2954825cdf843c744de04a0443a8f156c`

Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade--ubuntu-bionic-db-node-30d90451-0-4 (34.148.170.49 | 10.142.15.230) (shards: 8)
- rolling-upgrade--ubuntu-bionic-db-node-30d90451-0-3 (

[2022-09-22 10:23] horschi commented on #11491
Ok. I will keep you updated then.

[2022-09-22 10:45] soyacz commented on #11468
Machines are getting terminated after the test.
SCT should collect coredump on timeout in this case:
`node.run_nodetool("drain", timeout=3600, coredump_on_timeout=True)`
I'll try to fix it.

[2022-09-22 11:16] slivne commented on #11609
According to QA this is not a new test and previous releases it worked (verified on 5.0)

[2022-09-22 11:18] nyh commented on #10365
I checked, and the same bug exists in Cassandra: It also allows "xyz IS NOT NULL" (for non-key columns) in a materialized view's definition, and then ignores it and doesn't use it for filtering.

This makes it a bit of a problem to fix because of backward-compatibility concerns: It is possible that some existing Cassandra or Scylla applications, because their developers didn't know what this "IS N

[2022-09-22 11:19] slivne commented on #11574
potentially a regression - need to check the stalls and see when they happen (in schema creation or during other steps)

[2022-09-22 11:44] Annamikhlin commented on #8851
Failed again in 2021.1 - https://jenkins.scylladb.com/job/enterprise-2021.1/job/build/227/

[2022-09-22 11:48] xemul commented on #11609
From logs:
[code]

and no more messages from gossiper since then

[2022-09-22 11:51] xemul commented on #11609
Actually -- there are only messages from compaction, commitlog shutdown and some LeveledManifest since this time. Nothing more

[2022-09-22 12:07] yarongilor opened #11617 "scylla_setup script fails with: Exception: /dev/disk/by-uuid/10802a22-9562-4a01-b84f-6722eb44d300 is not found"
## Installation details

Cluster size: 1 nodes (n1-standard-2)

Scylla Nodes used in this run:
- artifacts-debian11-jenkins-db-node-9ce521ed-0-1 (34.139.182.190 | 10.142.0.94) (shards: 2)

OS / Image: `https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-11` (gce: us-east1)

Test: `artifacts-debian11-test`
Test id: `9ce521ed-55a3-4132-914f-e93e7d310342`
Test name

[2022-09-22 12:47] bhalevy commented on #11574
@tgrabiec please look into this

[2022-09-22 12:52] xemul commented on #11609
@enaydanov , can we re-run this with `--logger-log-level gossip=debug` ?

[2022-09-22 13:05] bhalevy commented on #7742
Right, indeed.  The plan is to track non-blocking operations, like RBNO and the likes with the task manager (https://github.com/scylladb/scylladb/issues/9809).

That said, the subject of this issue is too broad.

@Deexie is currently working on integrating the task manager with repair tasks, and that will include all repair-based node operations on top of user repairs that are initiated over the a

[2022-09-22 13:12] rayakurl commented on #11617
@fgelcer , @yarongilor  - I think that I hit a reproduction on enterprise-2022.2/artifacts/artifacts-debian11-test:(https://argus.scylladb.com/test/f707803f-c47e-49dc-a21b-26a1a8e6e3a6/runs?additionalRuns[]=9bc12f57-6835-4ef8-90fa-b1dd825345ce): https://argus.scylladb.com/workspace?state=WyJmNzA3ODAzZi1jNDdlLTQ5ZGMtYTIxYi0yNmExYThlNmUzYTYiXQ

which information is missing? I can probably add it

[2022-09-22 13:51] fgelcer commented on #11617
i have asked it to @yarongilor in Argus, but i copy here my questions to be share with everyone hitting this issue:

[2022-09-22 13:51] fgelcer commented on #11617
maybe @syuu1228 can help us identify the problem

[2022-09-22 13:55] enaydanov commented on #11609
@xemul yep, I've started a run: https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/evgeniy/job/longevity-200gb-48h-network-monkey-test/2/

[2022-09-22 14:32] soyacz opened #11618 "Upgrade test: delete DB entries are still listed with CL=QUORUM"
## Installation details

Kernel Version: 4.18.0-408.el8.x86_64
Scylla version (or git commit hash): `2022.1.2-20220905.f1a246a8b` with build-id `aae082a8a9a1136b4d3f3751749267327a63014b`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/scylladb-2022.1/scylla-enterprise-x86_64-package-2022.1.2.0.20220905.f1a246a8b.tar.gz
Cluster size: 4 nodes (n1-highmem-8)

[2022-09-22 14:34] roydahan commented on #11459
@yarongilor did you proved that when running the s-b command that creates the schema before the upgrade, the issue doesn't reproduce?

If so, please provide a reproducer, should be very simple and all stress commands and "fill_db_data" can be omitted so the reproducer can be quick.
Also, it should be possible to do it with docker backend.

CC @fgelcer

[2022-09-22 14:53] vladzcloudius commented on #7742
@bhalevy
We need user initiated compactions become non-blocking a year (or more?) ago - this is blocking a SM major compaction integration and makes us do weird things in automations related to cleanups for example.

This is one of the initial "Top 5 issues"!

This is the highest priority and I'm surprised that you are still asking about this.
And clearly the priority of this doesn't correspond to

[2022-09-22 14:58] bhalevy opened #11620 "missing delimiter between partition key and clustering key in large data warning"
f3089bf3d1eda2be01e3af07fe1fde6fb08b62d5 added https://github.com/scylladb/scylladb/blob/f3089bf3d1eda2be01e3af07fe1fde6fb08b62d5/db/large_data_handler.cc#L64

That prints `pk_str` possibly followed, immediately, by the clustering key for large rows and cells.
Note that there is no delimiter between `pk_str` and `extra_path` so they are concatenated together.

[2022-09-22 14:59] fgelcer commented on #11459
i'm right now trying to run with creating the s-b in the `pre-test`, so we will have the schemas already created when we reach to the failure point (almost all upgrade tests are failing the same, for 5.1 and 2022.2):
https://github.com/scylladb/scylla-cluster-tests/pull/5310

it will only prove that this is the failure point, while i will try to work in parallel now to have a small reproducer, so

[2022-09-22 15:16] bhalevy opened #11621 "Adjust large_* docs for sstable base names"
Since 244df0777153d5719d972508b02c3fa22c6f6524 (scylla 5.1),
only the sstable basename is kept in the large_* system tables.
The base path can be determined from the keyspace and
table name.

Adjust the examples in documentation respectively.

[2022-09-22 15:22] bhalevy opened #11622 "Adjust docs/large-partition-table.rst to rows column"
Since a7511cf6000de0e2191e9ca18025f45bfdb04068 (scylla 5.0),
sstables containing partitions with too many rows are recorded in system.large_partitions.

Adjust the doc respectively.

[2022-09-22 15:41] michoecho commented on #11613
[code]

Decoded:
[code]

Relevant line of code:
https://github.com/scylladb/seastar/blob/601e0776c088c5fda33c868ac1ac20a792417c93/src/core/io_queue.cc#L759

Apparently an `io_priority_class` with a bogus id of `~65966080 / sizeof(unique_ptr<...>)` has appeared. This is the 8245409 from `Sep 20 18:35:45 rolling-upgrade--ubuntu-bionic-db-node-30d90451-0-1 scylla[29397]:  [shard 4] storage_proxy - Ex

[2022-09-22 15:44] michoecho commented on #11613
Seeing as `Sep 20 18:35:45 rolling-upgrade--ubuntu-bionic-db-node-30d90451-0-2 scylla[27830]:  [shard 0] service_level_controller - service level "$user" was deleted.` happened just before and glancing at the surrounding code, I nominate this for investigation:
https://github.com/scylladb/seastar/blob/601e0776c088c5fda33c868ac1ac20a792417c93/src/core/io_queue.cc#L657-L675

But I don't know anythin

[2022-09-22 15:48] bhalevy commented on #7845
@Deexie this issue is to be resolved when integrating the compaction_manager tasks with the task_manager.

[2022-09-22 15:49] bhalevy commented on #7742
I'll take the above as "no" to anything else missing.
If anything comes into mind, please open a particular issue for it

[2022-09-22 15:52] bhalevy commented on #8392
To be resolved by integrating the compaction_manager tasks with the task_manager.

[2022-09-22 15:53] tgrabiec commented on #11574
I don't understand the stall report:

[code]

Why is `total` for the child node (`[4#1/1 100%] addr=0x128d7f8 total=13289`) greater than the total for the parent node? `[3#1/1 100%] addr=0x128ac38 total=8862 count=6 avg=1477`. What's the meaning and unit of `total`?

[2022-09-22 15:56] bhalevy commented on #11574
@tgrabiec can you share the whole report?
If it's a "link" to a common suffix, it might be called from multiple paths, hence having a greater `total` than it's parent on this path.

[2022-09-22 15:59] tgrabiec commented on #11574
@bhalevy It's https://github.com/scylladb/scylladb/files/9598515/decoded-stalls-node-2.log from the first message.

IMO, it's confusing to show total form the caller perspective if you group the tree form the callee perspective.

[2022-09-22 16:16] tgrabiec commented on #11574
I don't recall anything changing recently in this code path, so on the surface it doesn't look like regression.

[2022-09-22 16:19] #11374 closed

[2022-09-22 16:19] #11218 closed

[2022-09-22 16:22] michoecho commented on #11618
Note that this is https://github.com/scylladb/scylladb/issues/11508. It's irrelevant.

[2022-09-22 16:51] #11419 closed

[2022-09-22 16:52] kenschell commented on #11419
Fond Answer with Dev's

[2022-09-22 17:02] vladzcloudius commented on #7742
To make it very simple: every REST API should be asynchronous, not just repairs and compactions, e.g. decommission, removenode, etc.

I was referring the "in what priority?" part of your original question in my previous post, @bhalevy.

A lot is missing - the problem is that almost 2 years have passed since this issue was opened and all we've got since then is only a repair status.

Please, see th

[2022-09-22 17:07] fgelcer commented on #11574
@bhalevy , how could we do that?

[2022-09-22 17:34] vladzcloudius commented on #7742
You don't have to change `nodetool`, `jmx` or the APIs they use - this is NOT we are asking for here.
We need APIs (they may have a different name, e.g. `<current_api_name>_async`) that would satisfy requirements as I have described above.

I don't see it as unrealistic.

This is not going to help us much. Canceling the task is not the main use case this issue is about.
The APIs that we use in aut

[2022-09-22 17:56] vladzcloudius opened #11624 "Add a REST API for asyncronous decommissioning and removing a node"
HEAD: 4c93a694b7928c20bdb86b77dea5c50cd71195a0

*Description*
Add asynchronous REST API for decommissioning and removing a node and checking the status of the corresponding async task.

Ref
* https://github.com/scylladb/scylladb/issues/9809
* https://github.com/scylladb/scylladb/issues/7742

[2022-09-22 17:57] vladzcloudius commented on #11624
@bhalevy FYI

[2022-09-22 18:43] nyh commented on #10649
A short progress report.

I've been able to make some strides towards fixing this, but I'm far from completing. The indexing+paging code is extremely convoluted, and things break in many different and mysterious way.

For example, one of the many problems is that apparently using "LIMIT 3" causes the code to read 3 rows before filtering, then filters them and returns the fewer than 3 rows in a sin

[2022-09-22 18:54] nyh commented on #10649
Another thought on the example problem I mentioned in the last comment -

The number 10,000 is our internal_paging_size. We use it in `generate_view_paging_state_from_base_query_results()` called by `process_base_query_results()` and supposedly this is the paging state that the end-user will see. I think this is completely wrong (the user needs to see the real number of remaining rows, not "10,000

[2022-09-22 20:56] tgrabiec commented on #11574
@fgelcer It says `Use --direction=top-down to print callers first.`

[2022-09-23 07:10] bhalevy commented on #11624
@Deexie let's do that on top if the task_manager integration with repair and node operations.

[2022-09-23 09:09] #11607 closed

[2022-09-23 09:09] #11561 closed

[2022-09-23 09:09] #11600 closed

[2022-09-23 09:09] #11608 closed

[2022-09-23 10:36] annastuchlik commented on #11456
The issue with the command you reported has been fixed with the PRs listed above.
However, the page where you found it shouldn't include that command at all... The "Update 3rd party and OS packages" section should only be added to the upgrade guides for the ScyllaDB **image**., for example:
https://docs.scylladb.com/master/upgrade/upgrade-opensource/upgrade-guide-from-4.6-to-5.0/upgrade-guide-from

[2022-09-23 10:37] denesb commented on #9882
We are quite close. To replace sstabledump in tests with scylla-sstable, we need https://github.com/scylladb/scylladb/issues/10126 first.

[2022-09-23 12:05] soyacz commented on #11574
[stalls-2-top-down-decoded.log](https://github.com/scylladb/scylladb/files/9633429/stalls-2-top-down-decoded.log)
[stalls-3-top-down-decoded.log](https://github.com/scylladb/scylladb/files/9633430/stalls-3-top-down-decoded.log)

[2022-09-23 14:00] yaronkaikov commented on #11584
@avikivity can you please backport this to 5.1 and 2022.2... it currently failing offline installer oel81 test

[2022-09-23 14:49] a11enhuang opened #11631 "How to define fields of type JSON"
I have a field of type JSON (fields may be multi-level and the structure is indeterminate), and some properties in this field will be used for searching (different structures have different fields), how can I get define this kind of field? I noticed map type data, but it's not generic (hard to do multi-level) and can't create an index for it; or use UDT fields, if that's the case every time the da

[2022-09-23 20:07] vladzcloudius opened #11633 ""Enable Authorization" doc page references a wrong CL used by a 'cassandra' user"
HEAD: 4c93a694b7928c20bdb86b77dea5c50cd71195a0

*Description*
The doc page tells that 'cassandra' user uses `EACH_QUORUM` CL while in fact it's `QUORUM`:

"The cassandra user is special. When you try to login with this username, it is required to usen EACH_QUORUM consistency level(CL) for replies."

[code]

[2022-09-23 20:07] vladzcloudius commented on #11633
@annastuchlik FYI

[2022-09-23 20:41] d-mankowski-synerise opened #11634 "Scylla setup doesn't handle symlinks in `--disks` option"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 4.6.8
Cluster size: 3
OS (RHEL/Cen

[2022-09-24 19:03] michoecho commented on #10981
Okay, I have finished my investigation.

I couldn't get SCT to work well, and the jenkins job which originally performed this test is broken due to some dependency problems (https://jenkins.scylladb.com/job/Perf-Regression/job/scylla-release-perf-regression-aws-test-latency/72/), so I wrote my own set of scripts to reproduce the workload (https://github.com/michoecho/scylla-cluster-test-scripts).

[2022-09-25 05:32] tzach commented on #11633
Thanks @vladzcloudius
in the future, please point to the relevant page when opening a doc issue:
https://docs.scylladb.com/stable/operating-scylla/security/enable-authorization.html

Even better, you can open an issue directly, or fix the issue, from the top right section of each page
![image](https://user-images.githubusercontent.com/170200/192129785-aa84fa57-ea3b-4002-abb1-1d597d02b279.png)

[2022-09-25 05:35] eliransin commented on #10296
From what I saw in the code the only way it can happen is if the in memory token metadata loses sync with gossip states somehow or with the real state. I am not sure how can it happen and I'll need to dig into the code some more.

[2022-09-25 05:51] eliransin commented on #11542
Looks like a schema issue but I will have a look.

[2022-09-25 06:50] eliransin commented on #1793
@elcallio I know this is longstanding. Can we try to solve this?

[2022-09-25 08:46] enaydanov commented on #11609
Failed too:

Target node for NetworkStartStopInterface is node-4 that time:

[code]

Gossip logs on this node at this time:

[code]

Last 4 messages repeated till end of the log.

*Installation details*
Kernel version: `5.15.0-1019-aws`
Scylla version (or git commit hash): `5.1.0~rc1-0.20220902.d10aee15e7e9 with build-id c127c717ecffa082ce97b94100d62b2549abe486`
Relocatable package url: http://dow

[2022-09-25 09:14] fgelcer opened #11639 "create table taking > 7 minutes"
## Installation details

Kernel Version: 5.10.0-17-cloud-amd64
Scylla version (or git commit hash): `5.0.3-20220907.b9a61c8e9` with build-id `7be266d2954825cdf843c744de04a0443a8f156c`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla/relocatable/scylladb-5.0/scylla-x86_64-package-5.0.3.0.20220907.b9a61c8e9.tar.gz
Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run

[2022-09-25 09:15] fgelcer commented on #11639
this was found in the rolling upgrade job for 5.1 (but we didn't even reach this version, as we timed out in very early stage of the job, where we had 5.0.3 installed (against previous build that passed, that had 5.0.1 installed at this phase of the test).

[2022-09-25 09:17] nyh commented on #11631
Hi, this is a bug and issue tracker, not a place to ask question. There are other good places to ask questions, including the scylladb-dev mailing list (https://groups.google.com/g/scylladb-dev), our slack channel and even stackoverflow (which is the best place for your questions to help others later).  If after discussing all your options you conclude that Scylla is missing a feature, and you are

[2022-09-25 09:17] #11631 closed

[2022-09-25 09:24] fgelcer commented on #11639
exact same happened to another upgrade job (5.1, starting from the same 5.0.3):

## Installation details

Kernel Version: 4.18.0-408.el8.x86_64
Scylla version (or git commit hash): `5.0.3-20220907.b9a61c8e9` with build-id `7be266d2954825cdf843c744de04a0443a8f156c`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla/relocatable/scylladb-5.0/scylla-x86_64-package-5.0.3.0.20220907.b9a

[2022-09-25 09:25] fgelcer commented on #11639
and another one:

## Installation details

Kernel Version: 3.10.0-1160.76.1.el7.x86_64
Scylla version (or git commit hash): `5.0.3-20220907.b9a61c8e9` with build-id `7be266d2954825cdf843c744de04a0443a8f156c`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla/relocatable/scylladb-5.0/scylla-x86_64-package-5.0.3.0.20220907.b9a61c8e9.tar.gz
Cluster size: 4 nodes (n1-highmem-8)

Scyll

[2022-09-25 09:55] roydahan commented on #10981
@michoecho thanks for the detailed explanation.
It does make a lot of sense.
I'm sorry that you couldn't run SCT or the jobs directly, next time please ping us so we may help with that.

What about scylla side of fancy logging? can't we fix that?

@avikivity / @slivne shall we run these tests with a higher stall detector?
(It was lowered few years ago to ease degradations investigations, requested

[2022-09-25 10:15] avikivity commented on #10981
Wow, :man_facepalming: indeed. Good job tracking it down. Changes to the test harness are always much harder to pick out.

Please patch it to require at least two ticks of the clock (one tick may be too low, we can have a reclaim start just before a tick boundary and end just after it).

[2022-09-25 10:16] avikivity commented on #10981
It's a bug in ScyllaDB that it reports much small stalls (even a nanosecond will be reported), so we need to fix it in ScyllaDB.

[2022-09-25 10:24] avikivity commented on #11639
Is this a regression? What's the last version known to work?

[2022-09-25 10:42] nyh commented on #11449
Recently @hopugop noticed the bizarre handling of large-collection warning in Alternator as well: In Alternator, all non-key attributes are stored together in one big map (called `:attrs`), so when you have a very large item (DynamoDB jargon for what we call "row") it gets reported by Scylla as a **large cell**, because it considers the entire collection to be one "cell". I found this very counter

[2022-09-25 10:52] bhalevy commented on #11449
We have a distinction between large partitions, based on their size, and large partitions that have too many rows.
But both are kept in system.large_partitions, where each record there has both the partition size and number of rows so a user can defer which of it is too large.

We could use similar logic to store large rows, according to their size, and rows that have too many cells, in system.lar

[2022-09-25 10:55] bhalevy commented on #11449
We're tackling here 2 different problems: one is memory allocation related to the cell footprint.
The other is reactor stalls related to processing of the collection items (and similarly to many cells in a single row),
where we do not add maybe_yield calls in such loops on purpose so not to sacrifice the common-case performance on the hot path for rare corner cases that the user should be alerted

[2022-09-25 11:05] nyh commented on #11449
Right, which is why I believe a large collection should trigger a "large row" warning. If you want to make the definition of "large" have two thresholds (large in bytes, and large in number of cells), you can do that too - it can still be the same for "rows" and "collections" - I think.

I was just suggesting that maybe we don't need to invent a new table for "large collections" and the existing "

[2022-09-25 11:44] bhalevy commented on #11449
The schema for the system.large_rows table doesn't have a column for storing which cell (column) is too large, or in case of a collection which collection has too many items.  If the row has a number of collection, it is useful to record which of them (could be more than one collection column) has too many items, so I'm inclined to keep the large collection in system.large_cells rather than system

[2022-09-25 11:46] bhalevy commented on #11449
Note that the reason we currently don't have a "number cells in a row" threshold is that it doesn't grow dynamically - it is determined by the number of columns, while number of rows in a partition and number of items in a collection grow dynamically by cql insertion.

[2022-09-25 12:24] avikivity commented on #11449
@nyh there are two cell concepts:

1. a table cell - an intersection of a row and a column (primary key + column name)
2. an atomic cell - a CRDT building block

large_cells refers to the first one.

[2022-09-25 14:19] avikivity commented on #11608
What scenario can cause this to happen (before the fix)? What's the impact (beyond having an invalid mutation fragment stream)?

[2022-09-25 14:20] avikivity commented on #11607
What's the impact?

[2022-09-25 14:39] avikivity commented on #11574
Now it's clear. schema_tables.cc is littered with calls to coroutine::parallel_for_each(), and with a large number of inputs this can be expensive.

[2022-09-25 14:44] avikivity commented on #11574
I guess we can litter them with maybe_yield() as the first statement. The alternative is to add yields in coroutine::parallel_for_each(), though that penalizes the common use case of limited concurrency. Maybe we should use max_concurrent_for_each() instead (seems like a good idea anyway).

[2022-09-26 03:49] denesb commented on #11608
Two consecutive `next_partition()` calls. The compacting reader is now used in cache and compaction (and was used during memtable flush). I don't know what the impact is, but the fix is so small we can backport out of caution.
Once I added the validator, the issue would reproduce every single time a test started up a node (used `cql_test_env`).

[2022-09-26 04:04] denesb commented on #11607
I don't know of any impact downstream. It can be benign or we just didn't notice until the validator started screaming.

[2022-09-26 05:59] asias commented on #11552
@benipeled I saw we tagged 5.0.4. When will 5.0.4 be released?

[code]

[2022-09-26 06:47] soyacz commented on #11456
Thanks @annastuchlik
Closing issue as fixed.

[2022-09-26 06:47] #11456 closed

[2022-09-26 07:14] asias commented on #11609
this node == which node here? You mentioned node-2,  which node you got the following nodetool status

[code]

[2022-09-26 07:24] asias commented on #11609
Is this a new test? Did this test pass previously?

[2022-09-26 07:35] asias commented on #11609
In the test performed here: https://github.com/scylladb/scylladb/issues/11609#issuecomment-1257148947

we stopped the nic on node4 at 2022-09-22T16:21:34+00:00  and resumed the nic at 2022-09-22T16:29:55+00:00. Did we perform any other operations, e.g., ip tables to block specific node, down nic of other nodes?

[2022-09-26 08:32] syuu1228 commented on #11617
Looks like recent commit #11399 introduce the error, but the change was for generating more user friendly error message, and the target device (/dev/disk/by-uuid/10802a22-9562-4a01-b84f-6722eb44d300) should exists at this point, since we mount the device just after this line.
So something is going wrong.. maybe it's still timing problem (we should wait more for the device file creation), or it's r

[2022-09-26 09:33] soyacz opened #11640 "Per partition rate limit for write is not precise"
Per partition rate limit for write is not precise - there's >20x higher rate than configured one (for small limit like 200ops/s).
Scylla version 5.1.0~rc2-0.20220919.66f34245fc6c with build-id e9131d491cf0a10fd2e2b227ad672b2cb5d27aa3
3 local machine nodes.

Reproducer:
[code]
[code]

Running cassandra-stress with just one key:
[code]

[code]

with read we see it's quite precise:
[code]

[code]

Fo

[2022-09-26 09:34] soyacz commented on #11640
cc @piodul

[2022-09-26 10:14] enaydanov commented on #11609
Rest nodes (node-1, node-3, etc.)

[2022-09-26 10:19] enaydanov commented on #11609
Yes, it passed on 5.0: http://argus.scylladb.com/test/86894c00-21ea-44a7-b6a8-932a2152d343/runs?additionalRuns[]=c8caff93-a98a-4963-b668-4d074b909494

[2022-09-26 10:21] enaydanov commented on #11609
According to SCT code, no. It should be just a sleep:

https://github.com/scylladb/scylla-cluster-tests/blob/37a53dcd742e0fe996b57ad0f8df7d9349e29e06/sdcm/nemesis.py#L3020

[2022-09-26 10:24] bhalevy opened #11642 "oversized allocations due to find_first_position_in_partition"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/94/artifact/logs-full.release.004/1663300412868_test_cdc_large_values.py%3A%3ATestLargeColumnsWithCDC%3A%3Atest_large_blob_in_map_delta_preimage_full%5Bunprepared_statements%5D/node1.log
since scylla version 78850884d22f (that includes 9bcad9ffa89e61458dd18580bb9bd464c9770122)

For example:
[code]

[2022-09-26 10:26] piodul commented on #11640
I think this is an issue with how cassandra-stress counts operations. It appears that, when writing, a write that fails to write a row _still_ counts as a row - so the `rows/s` numbers you see indicate the actual write rate. On the other hand, when reading, it counts the actual number of rows read, and obviously failed reads are counted as 0 rows.

To add to the confusion, some counters in the res

[2022-09-26 10:59] avelanarius commented on #11634
It looks like `/dev/disk/azure/scsi1/lun1 is busy` message comes from here: https://github.com/scylladb/scylladb/blob/ad2f1dc704c008241f2a49aa7ecc296e037378cb/dist/common/scripts/scylla_raid_setup#L65-L66

I tested `is_unused_disk` code on instance on Azure:
https://github.com/scylladb/scylladb/blob/a0ffbf3291b74a238e89fd18d3eb3aecc8d00858/dist/common/scripts/scylla_util.py#L199-L209

I can confir

[2022-09-26 11:01] aleksbykov commented on #11507
Similar issue happened during RepairStreamingError.
Scylla was stopped on node, several sstables were removed. After that scylla was started and `nodetool repair` executed. In several minutes, node is hard rebooted and after it back, nodetool rebuild was executed. During rebuild streaming, each node reported that other node is DOWN and this cause rebuild failed.

## Installation details

Kernel Ve

[2022-09-26 11:04] bhalevy opened #11643 "dtest test_resetlocalschema_api_issue_7811 AssertionError: Schema versions are different on the nodes"
This is seen consistently since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-daily-release/93/testReport/junit/nodetool_additional_test/TestNodetool/Run_Dtest_Parallel_Cloud_Machines___FullDtest___full_split004___test_resetlocalschema_api_issue_7811/
scylla version 2a74a0086f89
scylladb/scylla-dtest@ef8537c64f22a9df05137369cc24212ee717f3cd

[code]

I'm not sure what could h

[2022-09-26 11:07] bhalevy commented on #11643
@tgrabiec can you please look into this?
dtest #92 run is incomplete so the regression probably sneaked in in a previous merge so we need to bisect it.

[2022-09-26 11:17] xemul commented on #11609
[code]

:disappointed: no gossiping errors are ever reported to logs/stats/metrics/whatever

[2022-09-26 11:18] syuu1228 commented on #11634
@avelanarius Okay, seems like a script bug, I will fix it.

[2022-09-26 11:46] soyacz commented on #11640
Thanks @piodul for clarification. Yes, I used 200 writes/s (mistake in description - fixed).
Closing the issue.

[2022-09-26 11:46] #11640 closed

[2022-09-26 12:34] aleksbykov opened #11644 "Abort on shard: lsa - Aborting due to allocation failure with coredump on several nodes after series of table changes with add/del new columns"
## Installation details

Kernel Version: 5.15.0-1020-aws
Scylla version (or git commit hash): `5.2.0~dev-20220922.7ae73c665b4d` with build-id `0719dd9dc2a6ee78f8997ed6b75fe854f0b381c7`

Cluster size: 4 nodes (i3en.2xlarge)

Scylla Nodes used in this run:
- longevity-twcs-48h-master-db-node-091909e3-9 (16.16.25.113 | 10.0.0.47) (shards: 7)
- longevity-twcs-48h-master-db-node-091909e3-8 (13.53.173.2

[2022-09-26 12:34] aleksbykov commented on #11644
**Coredump infor from node 10:**

[code]

[2022-09-26 12:34] aleksbykov commented on #11644
**### Coredump info from node-1:**
[code]

[2022-09-26 13:06] xemul commented on #11609
Checked on c5285bcb143a34b9bca6a6d167624237c994052d . After I put `ip l s veth1 up` gossiper eventually marks the node Up-Normal. There must be something with the setup @enaydanov . Did anything change in test or nodes set-up since then?

[2022-09-26 13:14] kbr- opened #11645 "Some tests in `cql` and `cql-pytest` suites are failing if we change the cluster size to `3`"
In this PR: https://github.com/scylladb/scylladb/pull/11590
I mistakenly changed the default cluster size from `1` to `3`, which affected the `cql` and `cql-pytest` suites, causing some of the tests to start failing (https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2387/):

[Test Result](https://jenkins.scylladb.com/job/releng/job/Scylla-CI/2387/testReport/) (24 failures / -7)

 [test_bloom_f

[2022-09-26 13:15] kbr- commented on #11645
cc @denesb - I know you're the author of some of these tests

[2022-09-26 13:16] kbr- commented on #11645
BTW. the tests are using NTS with RF=1:
[code]

so it's suspicious that suddenly they fail; there was one replica before the change and there's one replica after the change.

[2022-09-26 13:17] kbr- commented on #11645
BTW @nyh perhaps we may want to consider changing the suites to run on 2/3 nodes permanently (or maybe choose the number of nodes to run on randomly between 1 to 3 depending on a seed? So we test both the 1-node and multi-node cases)

[2022-09-26 13:32] bhalevy commented on #11643
I bisected this issue to a3356e866b093a8655cc9c3b3e6c8a68e3b3a6cc

Cc @fee-mendes @nyh

[2022-09-26 13:42] xemul commented on #11609
Same for d10aee15e7e98354897ee18c58cf8d5fa0677212

[2022-09-26 14:03] bhalevy commented on #11643
I think this change inadvertently fixed https://github.com/scylladb/scylladb/issues/7811
causing the test to fail.

Cc @raphaelsc @juliayakovlev

[2022-09-26 14:08] fee-mendes commented on #11643
I can't reproduce it. Well, at least not an error. :-)

N1:

N2:

`schema.cql`:
[code]

Manual run:

[code]

[2022-09-26 14:08] fee-mendes commented on #11643
Yes and no. There are other compaction strategies which aren't verified.

[2022-09-26 14:35] bhalevy commented on #11643
I'll adjust the test to support both cases

[2022-09-26 15:16] soyacz commented on #11613
Got another reproduction:

## Installation details

Kernel Version: 4.19.0-21-cloud-amd64
Scylla version (or git commit hash): `5.0.3-20220907.b9a61c8e9` with build-id `7be266d2954825cdf843c744de04a0443a8f156c`

Cluster size: 4 nodes (n1-highmem-8)

Scylla Nodes used in this run:
- rolling-upgrade--debian-buster-db-node-25286b86-0-4 (34.74.196.184 | 10.142.0.170) (shards: 8)
- rolling-upgrade--deb

[2022-09-26 20:31] fee-mendes commented on #8424
Any update on this? Now that Scylla has virtual tables, thus allowing one to change settings on the fly via `LiveUpdate` I believe the priority of such a doc page should be raised. @annastuchlik @tzach

[2022-09-27 07:04] denesb commented on #11645
@kbr- can you please post a patch here, applying which I can reproduce this failures?

[2022-09-27 08:19] fgelcer commented on #11613
@michoecho , shall this be mark as dup of the issue you referenced above? or is it something related, but different?
who should be assigned to this one?

[2022-09-27 08:21] fgelcer commented on #11639
@avikivity , AFAICT it started happening recently... it could be something related to GCE, but it could be a regression introduced on one of the latest patches of 5.0, as i mentioned in here https://github.com/scylladb/scylladb/issues/11639#issuecomment-1257153152

[2022-09-27 09:00] horschi commented on #11420
It just happened again:

[code]

Is there anything I can do at the moment? Would daily restarts perhaps help to reduce the risk of these crashes?

[2022-09-27 09:30] kbr- commented on #11645
@denesb the following should work on current `master`:
[code]

[2022-09-27 09:32] michoecho commented on #11613
It's a duplicate.

[2022-09-27 09:35] fgelcer commented on #11613
closing as dup of https://github.com/scylladb/scylla-enterprise/issues/2402

[2022-09-27 09:35] #11613 closed

[2022-09-27 10:26] avelanarius commented on #11569
Doesn't `DESCRIBE` work incorrectly, as it needs https://github.com/scylladb/scylladb/issues/9571 developed and merged?

[2022-09-27 11:54] asias commented on #11609
@xemul Are you aware of any RPC issue that could make the send of the one way message hang forever in 5.1?

[2022-09-27 16:16] bhalevy commented on #11420
@horschi which version are you running (and build-id)?
(You can use http://backtrace.scylladb.com/index.html to decode this backtrace)

I'm not sure what you hit exactly, but the failure to close the readers is not related to accumulated in-core state so restarting the server is not expected to reduce the risk.  The best course of action would be to upgrade to a version that contains the fix to th

[2022-09-27 16:47] horschi commented on #11420
@bhalevy : When this happened it was still the 5.0.2 ubuntu package. I updated to 5.0.3 today. I do not know what build ID exactly it was.

[2022-09-27 16:50] horschi commented on #11420
I think I found it in the apt logs:
5.0.2-0.20220807.299122e78-1

[2022-09-27 17:32] bhalevy commented on #11420
ebf38eaead76dd93bd3189faf169408b76047ee1 backports the fix for this issue to branch-5.0, to be available in the next minor version: 5.0.4
(thanks @denesb!)

[2022-09-27 17:35] bhalevy commented on #11420
@horschi as for a workaround, the backtrace looks like creating the reader here got an exception, which I presume is std::bad_alloc (i.e. out-of-memory), do you have any other indications in the log of bad_alloc before the crash?
If so, let's try to figure out what could cause them and hopefully eliminate the root cause.

[2022-09-27 19:07] raphaelsc commented on #11642
Turns out that's a large allocation issue in the sstable reader when reading in reverse. I am working on a fix that will apply fragmented buffer for avoiding a contiguous one when storing a large row.

[2022-09-28 05:11] #11643 closed

[2022-09-28 05:18] fruch commented on #11569
I've added both code server and client side describe function, for now if it's scylla it's doing the client side.

Once the server side would be implemented we'll need to find a better way to distinguish if it's supported or not.

[2022-09-28 05:31] bhalevy commented on #7811
not fixed for all strategies yet... only fir twcs

[2022-09-28 05:49] nyh commented on #11567
@fee-mendes noticed that if a user tries to add a GSI, using a `GlobalSecondaryIndexUpdates` parameter and also (as needed) a `AttributeDefinitions`, Alternator reports the unsupported "AttributeDefinitions" which is confusing and not explaining what is really not supported. We should improve the error message.

[2022-09-28 09:05] soyacz opened #11651 "`scylla_storage_proxy_coordinator_read_rate_limited` metric is not updated on coordinator node"
When per partition rate limit for read is set and non shard aware driver query hits coordinator node and we reached rate limit, `scylla_storage_proxy_coordinator_read_rate_limited` metric is not getting updated on this coordinator node.

Scylla version:  5.1.0-rc2

[2022-09-28 09:37] roydahan commented on #11459
@fgelcer please update here with your findings.
AFAIU your changes proved that it related to when we create the schema for scylla-bench.
Do you have a short and easy reproducer with a docker backend?

[2022-09-28 10:35] avikivity commented on #11569
We can consider adding a system.features table that the driver can query.

There's also system.local supported_features, but I think we should keep this private to scylladb. @kbr- @xemul

[2022-09-28 11:16] slivne commented on #11617
Who needs to wait ?
Is this in scylla code ?
Are you sending a fix

[2022-09-28 11:27] slivne commented on #11459
We agreed:
- QA to provide a reproducer test - try to minimize the runtime
- We will do a bisect over the suspected range

[2022-09-28 11:30] avikivity commented on #11639
Let's also rerun on AWS (if it's easy).

[2022-09-28 11:43] soyacz commented on #11618
@roy There were no changes to that test recently.
I also tried to reproduce by running this scenario in a loop for few hours on my laptop but didn't reproduce.

[2022-09-28 12:03] fgelcer commented on #11459
using the code in https://github.com/scylladb/scylla-cluster-tests/pull/5310 i moved the part that create the schema for s-b to the beginning of the test, and then, the test passed without any problems.

for now, i will be working on to reduce the reproducer time to the minimal possible (or until we find a reliable reproducer), and will post here

[2022-09-28 12:24] roydahan commented on #11618
You can also check if it's related to upgrade, by adding this test as a step to the upgrade_test we have in dtest (in the same places we have the fill_db_data (i.e. before, while mixed, after).

[2022-09-28 12:30] raphaelsc commented on #7811
Even TWCS may be affected. With Felipe's patch we're applying sanity checks on window settings, but other options are still vulnerable to this problem.

[2022-09-28 12:38] DoronArazii commented on #10701
@eliransin it's in your queue for 5.1?

[2022-09-28 14:38] avikivity commented on #9065
Backported to 5.0. @denesb is this not needed in 4.6?

[2022-09-28 14:39] avikivity commented on #11420
It was backported to 5.0, so should be available in the next point release.

[2022-09-28 14:48] horschi commented on #11420
I will start rolling it out as soon as its available.

[2022-09-28 15:12] denesb commented on #9065
Yes, 4.6 is also vulnerable.

[2022-09-28 16:34] nyh commented on #11645
Here is the explanation on why all these aforementioned tests failed on a 3-node cluster:

* `test_bloom_filter.py`::`test_bloom_filter[500-1000-0.1]` fails because the test uses the REST API to inquire the number of bloom-filter false positives on just one of the nodes and not all of them.
* The tests in `test_logs.py` fail because we look for certain errors in the log file of only one of the nod

[2022-09-28 16:38] kbr- commented on #11645
Nice, thanks @nyh.

It is possible to pass a `host` parameter to `CassandraSession` to specify the server on which we want to execute a statement.
Note that it has to be a `Host` (and not e.g. `str`). The `Host`s can be obtained from `cql.cluster.metadata.all_hosts()` AFAIR.

[2022-09-29 02:01] #11620 closed

[2022-09-29 02:01] #11622 closed

[2022-09-29 05:14] denesb commented on #11645
Maybe we need a `node` abstraction, this class having methods to send cql requests and REST api requests (and nodetool and etc.) and these will all be guaranteed to  reach that one target node. But maybe this is just over-complicating things for simple tests that really only want a single node.

[2022-09-29 06:54] bhalevy commented on #7689
@denesb / @avikivity should this issue be labled as "Backport candidate"?

[2022-09-29 07:00] denesb commented on #7689
I don't know if we'll ever backport something this complex. There is a lot of risks involved with touching paging code.

[2022-09-29 07:01] denesb commented on #7689
There has been precedents (for #1865 -- we backported for enterprise) but those were very special.

[2022-09-29 07:13] denesb commented on #9065
Backported to 4.6 too.

[2022-09-29 08:06] bhalevy commented on #10636
@avikivity / @scylladb/scylla-maint ping backport

[2022-09-29 09:12] denesb commented on #10636
This commit seems to not exist anymore (maybe we force-pushed next).
The actual fix is: https://github.com/scylladb/scylladb/commit/00ed4ac74c1ac86c0328ad5851fb5155e5b9b228.

[2022-09-29 09:16] denesb commented on #10636
Backported to 4.6 and 5.0.

[2022-09-29 09:18] denesb commented on #10636
And to 2021.1.

[2022-09-29 10:34] soyacz opened #11655 "Streaming failed on rebuild for 5000 tables test"
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/scylladb-2022.2/scylla-enterprise-x86_64-package-2022.2.0-rc1.0.20220902.a9bc6d191031.tar.gz
Cluster size: 1 nodes (i3.8x

[2022-09-29 11:06] bhalevy commented on #11245
@xemul ping, where are we standing with the fix?

[2022-09-29 11:09] DoronArazii commented on #11618
@kbr- please have a look

[2022-09-29 11:11] DoronArazii commented on #11655
@raphaelsc we have here too many open files, please try to assist

[2022-09-29 11:13] DoronArazii commented on #11611
@eliransin can you please have look

[2022-09-29 11:15] bhalevy commented on #11655
Can use offstrategy compaction to reduce the number of (small) sstables during the rebuild process?

[2022-09-29 11:15] DoronArazii commented on #11528
@avikivity ^^

[2022-09-29 11:25] DoronArazii commented on #11117
@avikivity we need backport here

[2022-09-29 11:47] fruch commented on #10885
@juliayakovlev @roydahan, has anyone seen this type of failure since then ?

[2022-09-29 11:49] kbr- commented on #11618
@DoronArazii I'm swamped right now. Reassigning to my direct manager.

[2022-09-29 12:22] ShlomiBalalis commented on #9623
The issue was reproduced in a 2022.2.rc2 run:
## Installation details

Kernel Version: 5.15.0-1019-aws
Scylla version (or git commit hash): `2022.2.0~rc1-20220902.a9bc6d191031` with build-id `074a0cb9e6a5ab36ba5e7f81385e68079ab6eeda`
Relocatable Package: http://downloads.scylladb.com/downloads/scylla-enterprise/relocatable/scylladb-2022.2/scylla-enterprise-x86_64-package-2022.2.0-rc1.0.20220902.a9

[2022-09-29 12:48] DoronArazii commented on #7720
@roydahan I think this might be the one that needs to be [reproduced as well](https://github.com/scylladb/scylladb/issues/8030#issuecomment-1250227768) - if we need to push it to 5.2 please do that.

[2022-09-29 12:51] DoronArazii commented on #7840
@bhalevy do you have the bandwidth for this in 5.1?

[2022-09-29 13:02] DoronArazii commented on #11174
@denesb this is a showstopper for 5.1 - please update with the progress

[2022-09-29 13:05] avikivity commented on #11528
I see, I don't have an intuition about log frequency so didn't know what to expect.

Anything with this?

[2022-09-29 13:06] avikivity commented on #11528
This really smells like a cloud event.

[2022-09-29 13:09] avikivity commented on #11528
This is #8828. It could be an artifact of virtual machine live migration, since it makes the memory "disappear" and the VM has to wait for it, although why it would happen in #8828 like way is not clear.

Anyway, please see if a VM migration occured at that time, and change SCT to disable VM migrations so we can rule it out in the future.

[2022-09-29 13:09] soyacz opened #11659 "scylla.yaml does not have compaction_throughput_mb_per_sec setting"
`compaction_throughput_mb_per_sec` was introduced in https://github.com/scylladb/scylladb/commit/bfc521ee9c2ba16fc4a15e68c21f68300658f530
but this setting is not listed in default [scylla.yaml](https://github.com/scylladb/scylladb/blob/master/conf/scylla.yaml) file.

Info provided in https://github.com/scylladb/scylladb/blob/master/db/config.cc#L374 is missing also information that this limit is o

[2022-09-29 13:13] avikivity commented on #11659
We don't mirror every config item into scylla.yaml.

I guess the fact that it doesn't limit user compactions is an accident - those are run in the maintenance scheduling group. Strangely enough they'll be limited by the streaming bandwidth limit.

[2022-09-29 13:14] avikivity commented on #11174
@denesb didn't you break it up into separate issues? If so let's close this and discuss each individual issue on its page.

[2022-09-29 13:17] DoronArazii commented on #9906
@tgrabiec ^^

[2022-09-29 13:19] DoronArazii commented on #9621
@yarongilor ^^

[2022-09-29 15:04] tgrabiec opened #11660 "Compute table schema version of local system tables automatically"
Whenever the schema of a local system table changes, e.g. by introducing a new column, it must be assigned a new table schema version. Unlike user tables, system tables have a static schema defined in code, so the version also comes from code.

The current mechanism to deal with this problem is the following. Table definitions compute the version by hashing table id (fixed) and `version_sequence_n

[2022-09-29 15:27] denesb commented on #11174
The fixes for the bugs I found so far went in as part of https://github.com/scylladb/scylladb/pull/11604.
This issue remains open for adding the validator itself - https://github.com/scylladb/scylladb/pull/11532. This is still pending the split-out PRs being merged and than after a rebase another full dtest run.

[2022-09-29 15:48] avikivity commented on #11607
I guess what happens (before the fix) is:

start p1
row p1
row p1
row p1
end p1
start p1   <-- bad
start p2
row p2
row p2
end p2

and because the consumer don't care about the extra start p1, nothing bad happens.

Does this look correct?

[2022-09-29 15:50] denesb commented on #11607
Yes, this is what I think was the case.

[2022-09-29 15:52] avikivity commented on #11607
Yes it does, but "the consumer" is compact_for_query, not what I thought it would be.

[2022-09-29 15:53] avikivity commented on #11607
Shouldn't we also be closing and re-opening range tombstones?

[2022-09-29 16:04] avikivity commented on #11465
How are you searching for the commits? git log old..new would show the child commits too.

This is a big hole.

[2022-09-29 16:05] avikivity commented on #11465
(re-backported to 5.1)

[2022-09-29 18:11] avikivity commented on #7840
I expect it was never reproduced. Let's close it.