[2020-02-18 10:54] avikivity commented on #5741
(actually that was not what I meant)

signal() can only fail if we so run out of memory that we can't allocate a 32-byte (or so) objects. These situations are already fatal to us, since future::then() and friends also have to allocate small objects for the continuation (and in fact they abort in those cases). We have no way to ensure a .then() won't be called between the failure to allocate a read

[2020-02-18 11:04] haaawk opened #5833 "Hinted handoff sends counter hints as counter updates when node targeted by the hint does not exist"
Counter mutations have two flavors: counter update and the total state of the counter.

Hints for counters are mutations that store the total state of the counter and should be treated as normal mutations. There is a corner case when hinted handoff misinterprets the counter hint mutation and treats it as counter update. As a result, a counter is updated with a value that is his state. This means t

[2020-02-18 11:05] haaawk commented on #5833
@slivne @avikivity

[2020-02-18 11:19] kostja opened #5834 "Lightweight transaction performance jitter in presence of an ongoing compaction"
LWT performance can vary up to 50% on a single shard during a stress workload. The way it looks like in cassandra-stress output is:

op/s,    pk/s,   row/s,
47229,   47229,   64634,
45340,   45340,   62076,
46469,   46469,   63625,
45647,   45647,   62280,
45179,   45179,   61885,
46789,   46789,   64318,
44976,   44976,   61112,
33003,   33003,   45198,
24026,   24026,   32898,
23830,   23830,

[2020-02-18 12:08] tzach commented on #5833
@haaawk look like its the root cause for #4505

[2020-02-18 12:12] haaawk commented on #5833
Indeed @tzach

[2020-02-18 12:50] fruch opened #5836 "scylla_alternator_total_operations stats isn't being updated"
the initial implementation of stats for alternator had `scylla_alternator_total_operations` but now it's zero all the time
See the Total Actions panel
![image](https://user-images.githubusercontent.com/340979/74737626-e673b400-525d-11ea-8f6b-5c9f243b2500.png)

if this is not used anymore, we should remove it and update the scylla-monitoring to include the correct one

[2020-02-18 13:30] bhalevy opened #5838 "data resurrection in simple_decommission_node_2_test"
Regression first seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/393/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/simple_decommission_node_2_test/
Scylla version b01b11c1f3fb245757402e157fca42c51c47362b
(last passed at e93c54e83798190a0d0bbc80c11fb37dcb604132)
[code]

Also seen in https://jenkins.scylladb.com/view/scylla-3.3/job/scylla-3.3/job

[2020-02-18 13:34] raphaelsc commented on #5838
On Tue, Feb 18, 2020 at 10:30 AM Benny Halevy <notifications@github.com>
wrote:

That's #4446. Fix sent to mailing list as '[PATCH] sstables/cleanup: Fix
stale data being returned due to lack of cache invalidation'

[2020-02-18 13:40] bhalevy commented on #5838
But this doesn't explain the regression, does it?

As I suspected, test passes with 5e9925b9f01961e010cb5e72fba199ad6dbd9420 reverted.
It was also backported to:
- 3.3 as bdc542143e374af64b08450c79f602d0a4949b86
- 3.2 as dbf72c72b3dcb811deb388848b4c6b4d31b3d1b8
- 3.1 as 4791b726a0fb13bd82763d9b9f3264ae230cc1f8

Ref #5769

[2020-02-18 13:41] bhalevy commented on #5838
Cc @avikivity @slivne @asias

We may want to revert  5e9925b and backports of it mentioned above and reopen #5769

[2020-02-18 13:50] raphaelsc commented on #5838
On Tue, Feb 18, 2020 at 10:40 AM Benny Halevy <notifications@github.com>
wrote:

not the regression, which seems to be caused by the fix for #5769. so we
need to backport that cleanup invalidation fix of mine to every branch
#5759 fix was backported to.

[2020-02-18 14:02] avikivity commented on #5769
Reverted, so needs to be reexamined.

[2020-02-18 14:04] gleb-cloudius commented on #5834
This is how it looks in our metrics:
![requests](https://user-images.githubusercontent.com/6554938/74742954-3ce5f000-5268-11ea-98f3-9cb209e86925.png)

Note that this is LWT workload that writes back commitlog to a disk on each operation and waits for each flush to complete.

[2020-02-18 14:07] asias commented on #5769
This patch itself is correct. It simply makes "https://github.com/scylladb/scylla/issues/4446" more visible. This patch and patch for 4446 should be backported together to 3.X.

[2020-02-18 14:15] gleb-cloudius commented on #5834
It looks like I/O scheduler does not do its work. Here is I/O dashboard:

![io](https://user-images.githubusercontent.com/6554938/74743089-7cacd780-5268-11ea-8f91-7a9c83cf8cd7.png)

It can be seen that each time memtable flush or compaction is running commitlog bandwidth drops significantly. But according to assigned shares commitlog should not be affected so much. It has 1000 shares while memtabl

[2020-02-18 14:16] ShlomiBalalis opened #5840 "[rolling upgrade] Failing to achieve quorum after upgrading a node"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): `3.2.1-0.20200122.e3e301906d5` to

[2020-02-18 14:23] denesb commented on #5741
Yes, so I think we need not backport this.

[2020-02-18 15:02] bhalevy commented on #5708
@eliransin

[2020-02-18 15:02] jul-stas commented on #4505
Good news: the cause is finally identified and the fix is already queued. For the curious, Tzach linked the full story above.
Now you just need to wait for backports.

[2020-02-18 15:08] espindola commented on #5759
We now have sanitize mode which is debug + opt, but it is still way to slow for unknown reasons.
My first suggestion is to just enable stack guards. They are fairly cheap and I am trying to get them enabled everywhere.
I am also working on a patch series to drop a few calls to need_preempt, which should help debug and sanitize performance as need_preempt always returns true in those modes.

[2020-02-18 16:11] nyh opened #5842 "alternator: rjson parsing may overflow the stack in malicious deeply-nested objects"
This issue was discovered, and analyzed, by @psarna  in https://github.com/scylladb/scylla/pull/5767. He noted that rapidjson documentation says there are two types of parser implementations in rapidjson: (http://rapidjson.org/md_doc_features.html):

We can't check deeply nested JSON objects with the boto3-based alternator-test because boto3 itself uses recursion is limited - @psarna reported that

[2020-02-18 16:17] gleb-cloudius opened #5843 ""No query parameter set for a session requesting a slow_query_log record" error while tracing slow batch queries"
*Installation details*
Scylla version (or git commit hash): 6c7aa1823826817b38268871a0633a818cd98495
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

`trace_keyspace_helper::make_slow_query_mutation_data()` assumes there is `query` parameter, but for batch there are `query[0], query[1]...`. See `trace_keyspace_helper::make_slow_query_mutation_data()`

[2020-02-18 16:49] bhalevy commented on #5823
@eliransin

[2020-02-18 20:06] slivne commented on #5769
Avi so its clear

It was reverted from all the branches ?

On Tue, Feb 18, 2020 at 4:07 PM Asias He <notifications@github.com> wrote:

[2020-02-18 20:10] slivne commented on #5596
Perfect thanks ...

On Tue, Feb 18, 2020 at 10:24 AM Piotr Sarna <notifications@github.com>
wrote:

[2020-02-18 20:52] #5838 closed

[2020-02-18 21:26] avikivity commented on #5833
@piodul please provide a backport for branch-3.3.

[2020-02-18 21:38] haaawk commented on #5833
Backport for this is here @avikivity ->https://github.com/scylladb/scylla/pull/5835

[2020-02-18 21:39] haaawk commented on #5833
It's already approved by Gleb and me and waits for you :)

[2020-02-18 22:54] espindola commented on #5827
I intend to remove the requires_thread, but I see that you have a patch changing async to inherit the current scheduling group, which is probably also a good thing.

[2020-02-18 23:05] raphaelsc commented on #5827
On Tue, Feb 18, 2020 at 7:54 PM Rafael Ávila de Espíndola <
notifications@github.com> wrote:

turns out async already inherits the current scheduling group meaning this
issue can probably be closed.

[2020-02-18 23:13] espindola commented on #5711
@avikivity should I write a patch for 3.3?

[2020-02-19 03:32] asias commented on #5838
Just to be clear.

The patch "Do not invalidate cache if no sstable is added in flush_streaming_mutations #5769" itself is correct. It makes the bug "https://github.com/scylladb/scylla/issues/4446" visible.

So we need to backport  the patch for #5769 and #4446 together.

[2020-02-19 03:34] asias commented on #4446
@raphaelsc Can you please update the status of the patch for this issue?

[2020-02-19 05:09] gleb-cloudius commented on #5814
Seastart patch did not fix the issue, just made it more rare. I sent a new one. Reopen meanwhile.

[2020-02-19 05:15] syuu1228 commented on #5830
Currently install.sh does not have feature to add scylla user/group and chown /var/lib/scylla to scylla:scylla, since root-mode is used for packaging, we don't want create user on package build time.
Also there is no dependency resolution on install time (almost all dependencies are provided by relocatable package, but there are few exceptions), we don't want to do it on packaging build time neith

[2020-02-19 05:24] syuu1228 commented on #5830
Seems like scylla_post_install.sh should be called too, since it provides /etc/systemd conf files.
But I guess we may able to move /etc/systemd setup to scylla_setup, if we requires to run scylla_setup before starting scylla-server, anyway.

[2020-02-19 05:27] syuu1228 commented on #5830
Adding more note: we also need systemctl daemon-reload, but scylla_post_install.sh should call it anyway so we don't have to call it twice.

[2020-02-19 05:37] syuu1228 commented on #5830
To merge separated relocatable package into single tar.gz, we need to merge "[RFCv2] join all relocatable packages into single unified package" on ML.

[2020-02-19 06:36] bhalevy commented on #4270
Seen again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/394/testReport/materialized_views_test/TestMaterializedViews/mv_populating_from_existing_data_during_node_stop_test/
Reopening...

Scylla version 70d914ad5b35d9c6b93032427461d2dbac47561f
[code]

I wonder if the bug could be in the Cassandra driver, not dealing well with retrying after node2 is killed.

The n

[2020-02-19 07:11] amoskong commented on #5830
Dependencies:

- Scylla
  - kernel >= 3.10.0-514
  - mdadm
  - Xfsprogs
  - kmod
- Scylla-tools:
  - python2
  - PyYAML (/usr/lib64/python2.7/site-packages/_yaml.so)
  - java-1.8.0-openjdk-headless
- Scylla-jmx
  - java-1.8.0-openjdk-headless

[2020-02-19 07:26] amoskong commented on #5830
I collected some items from spec file of scylla/scylla-tools/scylla-jmx, additional setup after running install.sh in relocatable packages:

- prepare: add scylla user/group
- post:
  - /opt/scylladb/scripts/scylla_coredump_setup
  - scylla_post_install.sh
  - ln -sfT /etc/scylla /var/lib/scylla/conf
  - %post conf in scylla.yaml
     "api_ui_dir: /opt/scylladb/swagger-ui/dist/"
     "api_doc_dir:

[2020-02-19 07:32] amoskong commented on #5830
Is it enough? there are many more attributes update in rpm spec file:

%attr(0755,root,root) %dir %{_sysconfdir}/scylla
%attr(0755,scylla,scylla) %dir %{_sharedstatedir}/scylla/
%attr(0755,scylla,scylla) %dir %{_sharedstatedir}/scylla/data
%attr(0755,scylla,scylla) %dir %{_sharedstatedir}/scylla/commitlog
%attr(0755,scylla,scylla) %dir %{_sharedstatedir}/scylla/hints
%attr(0755,scylla,scylla) %dir

[2020-02-19 08:46] psarna commented on #5842
Aside from that, I'll try to send a nested-enough JSON manually with curl to try and prove that recursive parsing is problematic. If I succeed, we could even incorporate it into Python tests by simply sending a raw request, bypassing boto3's DynamoDB interface.

[2020-02-19 08:51] nyh commented on #5842
@psarna, you're right - good idea! If you can reproduce this with a Python test, it's indeed better. The fewer tests we need to write in C++ - and compile - the better.
Just remember that before this test passes, mark it "skip" and not "xfail" - tests marked "xfail" are still run (to check they still fail), and if this test crashes Scylla, it won't be pretty :-)

[2020-02-19 09:22] psarna commented on #5842
Not so good news, I'm able to hit the issue with a malicious packet of size 180K (within the limit).
Reproduction in Python:
[code]

[2020-02-19 09:26] psarna commented on #5842
The above results in a segmentation fault and the stack trace shows an identical frame over and over, which is strongly indicative of stack overflow. Parsing with `kParseIterativeFlag` works without issues (well, a big allocation warning - 1.5MB). In a few minutes I'll measure how much it takes to parse a big JSON with and without `kParseIterativeFlag`, for a JSON size that doesn't cause stack ove

[2020-02-19 09:40] nyh commented on #5842
A silly idea: If the performance hit is substantial, we can write a trivial function which goes over the JSON string and calculates its maximum depth (easy - every time we see a '{' we increase current depth, '}' reduces it) and refuses the request if the maximum is deeper than some limit (e.g., 100). Running this function has a cost, but maybe it's lower than completely changing the JSON parser?

[2020-02-19 09:43] psarna commented on #5842
A naïve minibenchmark shows no difference between serving requests with both flags, which may indicate that iterative vs recursive is not a decisive factor:

[code]

Of course, a proper benchmark will be more helpful. In any case, I think that switching to an iterative parser is a step at the right direction - if it somehow proves to be a huge bottleneck later, we can go back to optimizing it, or

[2020-02-19 09:44] psarna commented on #5842
I'll prepare a patch which switches to kIterativeFlag and provides a scylla_only test - the test being 99% of the source code of this change :)  But first I need to make the test work with authorization enabled, which means adding some more headers, so I can't post it as is yet.

[2020-02-19 09:51] nyh commented on #5842
@psarna good luck. I think boto3 is built in various layers, where one layer for example builds the DynamoDB request, but another more general layer is responsible for the overall AWS protocol including the signatures, so it may be useful to use only the lower layer while building the actual DynamoDB request string yourself. But I have no idea how :-(

[2020-02-19 10:02] bhalevy opened #5844 "Segfault on shutdown during replace_active_node_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1640/artifact/logs-release.2/1582098250267_replace_address_test.TestReplaceAddress.replace_active_node_test/node4.log
Scylla next version d84650d3ae33a7fe38aca6cf33a21c420d96e1fc
(master version a46f2350925cfd5e1c0b01927bfc0c6998a238f5, FWIW)
[code]

Core dump [here](https://jenkins.scylladb.com/view/master/job/scylla-mast

[2020-02-19 10:03] bhalevy commented on #5844
@asias please look into this

[2020-02-19 10:22] xemul commented on #5844
The gossiper is alive and tries to access token_metadata which's already stopped according to logs. I'm wondering why it's alive, as it must have been stopped on drain_on_shutdown -> stop_transport -> stop_gossiping.

[2020-02-19 10:33] psarna commented on #5842
I found a way, but I also found a bug in authorization code :) I'll push a quick but important fix in a minute, and then continue with this topic.

[2020-02-19 10:51] asias commented on #5844
The test used scylla version (Scylla version 666.development-0.20200218.a46f235092).

It contains:
[code]

[code]

@xemul please take a look.

@bhalevy do you know the last good version?

[2020-02-19 10:57] xemul commented on #5844
@asias , I've looked already. See my comment above.

[2020-02-19 10:57] asias commented on #5844
Drain on shutdown is not called at all.

We should see things like:

[code]

[2020-02-19 11:01] xemul commented on #5844
Ah. It's aborted shutdown :( ss.init_server_without_the_messaging_service_part failed in the middle with an exception (after starting gossiper) and began unrolling things back without stopping the gossiper.

[2020-02-19 11:07] psarna commented on #5842
I pushed a patch to the list. The test case segfaults without the change (on my configuration the limit is around 35K depth, but I increased it to 50K just in case), and works fine with `kParseIterativeFlag`.

[2020-02-19 11:14] raphaelsc commented on #5838
On Wed, Feb 19, 2020 at 12:32 AM Asias He <notifications@github.com> wrote:

FWIW, patch to fix #4446 was sent to mailing list and i am currently
working on its v2.

[2020-02-19 11:16] xemul opened #5846 "Delayed schema pulling can reference stopped migration_manager"
The sleep() in migration_manager::maybe_schedule_schema_pull in not controlled and is not waited for, thus after the wakeup we may end up in use-after-free on the captured migration_manager instance.

[2020-02-19 11:19] xemul opened #5847 "Exiting with not enabled schema_tables_v3 feature may case broken_promise in migration_manager"
The migration_manager's maube_schedule_schema_pull waits for the "cluster upgraded" event on the schema_tables_v3 feature. If the feature_service exits and frees all the features this ends up in broken_promise exception.

[2020-02-19 11:21] xemul opened #5848 "Exiting with not enabled unbounded_range_tobmstone feature may case broken_promise in storage_service"
The storage_service subscribes on this feature in constructor, but if feature_service stops before this feature is enabled we get the broken_promise exception.

[2020-02-19 11:22] bhalevy commented on #5844
@xemul aborted shutdown or aborted startup?

[2020-02-19 11:28] xemul commented on #5844
@bhalevy , starup :)

[2020-02-19 11:34] bhalevy commented on #5794
I'm adding your direction on top of my original patch since it is still required since we can't dereference `old_paging_state->get_clustering_key()` unconditionally.

[2020-02-19 11:43] slivne commented on #5765
@avikivity ping on xemul patch above

[2020-02-19 11:44] bhalevy commented on #5794
9e0b3cad1eec9528a82043c6f50f9fb8e6ce522b is in 3.3 too, marking for backport

[2020-02-19 11:44] xemul opened #5849 "Early call to /v2/config while scylla start may crash on "local_is_initialized, class database" assertion"
There's a misordering in registration of API rules vs database.start() call.

https://github.com/scylladb/scylla-enterprise/issues/1234#issuecomment-586969372

[2020-02-19 11:50] elcallio commented on #5759
@eliransin does the same run complete w.o. tls active?

[2020-02-19 11:51] #5827 closed

[2020-02-19 12:00] elcallio commented on #5759
I am pretty sure that tls sockets/streams do not prematurely kill underlying fd:s in themselves, though it is possible that calling code not properly keeping a stream alive causes crashes only w. tls on.
Would still like to know whether this passes w.o. tls.

Is there _any_ sort of small-scale repro case for this?

[2020-02-19 12:00] raphaelsc commented on #4446
On Wed, Feb 19, 2020 at 12:34 AM Asias He <notifications@github.com> wrote:

working on v2 of [PATCH] sstables/cleanup: Fix stale data being returned
due to lack of cache invalidation

[2020-02-19 12:04] tgrabiec commented on #5765
The patch was merged yesterday, but then reverted. I merged v2 just now.

On Wed, Feb 19, 2020 at 12:43 PM Shlomi Livne <notifications@github.com>
wrote:

[2020-02-19 12:07] elcallio commented on #5759
Also, is this maybe related to #5765?

[2020-02-19 12:10] bhalevy commented on #5838
@avikivity please backport the reverting patch (https://github.com/scylladb/scylla/issues/5844)
to 3.{1,2,3} branches since @raphaelsc fix for #4446 is still in the works.
Cc @slivne

[2020-02-19 12:11] slivne commented on #5765
thanks @tgrabiec

[2020-02-19 12:19] bhalevy commented on #5849
[code]

[2020-02-19 12:27] elcallio commented on #5610
I don't see how this would be anything about networking? The error message (`"Operation failed for..." `) is generated by `request_failure_exception` in scylla.
Given that you are querying min and max of a clustering key in what I assume is a very large partition, it is perhaps not unreasonable to assume that the query times out, but that should have generated a different message really.
Since thi

[2020-02-19 12:34] bhalevy commented on #5759
@elcallio I speculate this could be related to `vec_push_wrapper` being called from the gnutls layer (it is registered by `gnutls_transport_set_vec_push_function(*this, &vec_push_wrapper)` from session constructor) after "network reject inter-node communication" (mentioned in #5765)
that causes the stream to be destroyed.

[2020-02-19 12:58] nyh opened #5851 "alternator: think maybe we can do ReturnValues without LWT"
This is a followup to issue #5053 (supporting ReturnValues) and the current implementation of it in the code. I want to raise here an issue to think about, but not at all sure we need to fix it - very likely the current behavior is the correct one:

In the current implementation, when `ReturnValues=ALL_OLD` (for example) is set, `needs_read_before_write()` is triggered. Except when write isolation

[2020-02-19 13:38] avikivity commented on #5833
Committed as 434347195416cc79211e4b7df001f90b0f1aded7

[2020-02-19 13:38] #5833 closed

[2020-02-19 13:54] fruch commented on #5836
@nyh @psarna @eliransin, is that on purpose ? or by mistake ?

[2020-02-19 14:38] nyh commented on #5836
Interesting question. I have a vague recollection that @amnonh at some point said we don't need a total operations count, because we now have multiple operation counters with different labels for the different operations, and one trivial sum can produce the total of all operations. But I don't remember ever making the decision to drop this counter, and of course it's silly to keep it while not upd

[2020-02-19 16:07] nyh commented on #5836
Looks like this wasn't dropped deliberately, it was mistakenly dropped in commit 388b492040b6f7d9b8eeb6f5336f0d5c5e09ee76 by @psarna who was just hoping to move code around, and there is no indication he wanted to drop the count (Piotr, please confirm). I'll submit a patch to reverse this part of the change.

[2020-02-19 16:22] nyh commented on #5283
These unnecessary snapshots even happen when running alternator-test and all the tables get deleted at the end. Because we have a lot of tables with materialized views, we also get a lot of errors in the log about "Failed writing schema file" (this is #5659 or #5614). Even if we decide to leave snapshots enabled in Alternator (why?), we should definitely find a way to disable them when running Scy

[2020-02-19 16:25] ShlomiBalalis commented on #5840
The error occurred again in ubuntu 18's rolling upgrade:
scylla version:`3.2.1-0.20200122.e3e301906d5-1` to `666.development-0.20200216.b01b11c1f3`
build id: 5e3a94ddd295de01ca34d769a56379805d48f874

error:
[code]

test id: 1f7a4208-9b7f-47b3-9815-77d9e9f830e5

db logs: https://cloudius-jenkins-test.s3.amazonaws.com/1f7a4208-9b7f-47b3-9815-77d9e9f830e5/20200218_165110/db-cluster-1f7a4208.zip

[2020-02-19 18:45] glommer commented on #5834
This happens in normal workloads as well when parallelism is low and latency is already low.

Let's start by checking if this is not the case. If that is the case, it is a matter of granularity of the schedulers and not a lot can be done.

Brief explanation: the CPU scheduler works in increments of 500 usec. So if a compaction runs, it runs for 500usec at least. If your latency was already 500usec

[2020-02-19 19:01] dekimir commented on #5205
Actually, I don't think the user should have modify permissions on the view, since that would allow the user to explicitly change the view contents using CQL and thus break the link between the view and the origin table.  Instead, I think we should simply omit any permissions checks on the views when the origin table is modified.  I intend to fix this by reversing 65535b3444a5e13cbff3ed889dbce6a83

[2020-02-19 19:30] gleb-cloudius commented on #5834
On Wed, Feb 19, 2020 at 10:45:52AM -0800, Glauber Costa wrote:

What do you mean "latency already low"?

The parallelisms is low and increasing it smoothes the performance, but
I do not see why scheduler cannot work properly with less parallelism.
It may be less precise, but no 70% less precise.

Compaction and memtable flushes have a lot of work to do, but rarely.
Commitlog has little work to do,

[2020-02-19 19:39] glommer commented on #5834
The design of the scheduler is such that whenever a task has work to do, it submits all the work it can.
Tasks with low parallelism always lose against tasks with high parallelism.

I'd favor a more interactive design and I have suggested in the past that we could mark classes as interactive vs background and try to preempt background tasks more often when they are running.

However if that's the

[2020-02-19 22:48] ManManson opened #5855 "lwt: comparing NULL collection with empty value in IF condition yields incorrect results"
*Installation details*
Scylla version (or git commit hash): b01b11c1f3fb245757402e157fca42c51c47362b

Initial data and test table description:
[code]
When executing the following LWT update statement via Python driver with args `{'update_val': [], 'v': []}`:
[code]
This query is expected to return `True` in `[applied]` column, yet in case of prepared statement this returns `False` instead:
[code]

[2020-02-20 06:53] aleksbykov opened #5856 "possible query failure, crash and/or data corruption if the number of columns in a clustering key or partition key is more than 16"
*Installation details*:
Scylla version (or git commit hash): 3.3.rc1-0.20200218.756574d094 with build-id ee19790f9aa13c85860c4e41330be76c65db1e95
Cluster size: 3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-00d212758df086c8b
instance_type: i3.large

Gemini command executed with large number of primary and clustering keys and columns. Next gemini command was executed:
[code]
Next schema was generated

[2020-02-20 07:10] psarna commented on #5836
Yup, my mistake. I'll enqueue the fix today, thanks

[2020-02-20 08:16] slivne commented on #5759
@roydahan was this run on 3.2 - is this a regression ?

@roydahan - can we run the same without tls ?

[2020-02-20 08:18] denesb commented on #5660
This issue was fixed in master by https://github.com/scylladb/scylla/commit/92fffe51d523428e940c7ef5833bfe2c3fb409e3, closing.

[2020-02-20 08:18] #5660 closed

[2020-02-20 08:18] fruch commented on #5836
@psarna I do agree to the comment, that we could drop it completely.
and it's one change to scylla-monitoring to drop it too.

[2020-02-20 08:20] slivne commented on #5638
fixed by da00530464779bb1d3e6757e2e804ca909ee0e5d

[2020-02-20 08:20] #5638 closed

[2020-02-20 08:23] slivne commented on #5406
I think this was tracked to using protocol-v3 instead of protocol-v4 - we had a simillar issue with LWT.

I am closing this.

[2020-02-20 08:23] #5406 closed

[2020-02-20 08:23] nyh commented on #5698
The "small bug" I theorized above wasn't actually a bug - the hash table was kept separately per table. So after the doc was already fixed, and no bug in the code, there's nothing remains to be done in this issue. Closing.

[2020-02-20 08:23] #5698 closed

[2020-02-20 08:26] slivne commented on #4965
@bhalevy / @raphaelsc ping

[2020-02-20 08:58] ShlomiBalalis commented on #5840
The issue seems to be persistent with a more recent version of master, both in centos 7 and ubuntu 16:
scylla version:`3.2.1-0.20200122.e3e301906d5.el7` to `666.development-0.20200218.6c7aa18238`
build-id:
  centos 7: cf9b4d327fe1c92dae468dd961b2a6d005cbdb52
  ubuntu 16: 33a3c568e0bf6eaeb58788ab6fb1685764e18b8e

test-id:
  centos 7: 40e2a5bf-8aa5-455a-a760-89c1fac741d3
  ubuntu 16: 9adfa900-3d01-4

[2020-02-20 09:00] thorro commented on #3896
Having the same issue, Scylla v3.2.1:

`copy mkn (<redacted>) from '/tmp/mkn2' with delimiter=';';
Using 3 child processes

Starting copy of ks1.mkn with columns [<redacted>].
Failed to import 0 rows: IOError - Can't open **"/tmp/mkn2' with delimiter=';"** for reading: no matching file found,  given up after 1 attempts`

[2020-02-20 09:06] gcarmin commented on #5831
@asias follow our discussion - this should be valid also for different subnets and includes a procedure on wheather to start with seed(s) node.
For example - 4 node cluster with 2 seed nodes - starting with the first seed node etc'.

[2020-02-20 09:25] psarna commented on #5842
I pushed a patch which addresses the issue from a different perspective - by capping the total nested level for objects and throwing an error if the object becomes too deep. As in the patch description, the first issue is that reading JSON values, parsed with an iterative parser, is recursive, which kills the purpose of iterating parsing in the first place - the stack overflow simply occurs later.

[2020-02-20 09:36] gleb-cloudius commented on #5834
The commitlog managed to submit enough work for the IO the problem is that it is de-prioritized compared to other classed which more submitted IO. Here is the graphs with commitlog IO queue size added:

![commitlogioqueue](https://user-images.githubusercontent.com/6554938/74920636-28733600-53d5-11ea-8bc1-992b88c43b7c.png)

As you can see when commitlog bandwidth drops its IO queue grows.

[2020-02-20 10:06] slivne commented on #5856
@aleksbykov can you please extract the backtrace

[2020-02-20 10:07] slivne commented on #5856
If we can reproduce this with CQLSH without Gemini it would be simpler to test and fix

[2020-02-20 10:11] slivne commented on #5848
is this in upgrade tests of 3.2 --> 3.3 or some other version upgrade ?

[2020-02-20 10:11] slivne commented on #5847
was this causght in some version upgrade test ?

[2020-02-20 10:13] xemul commented on #5847
No, it's the consequences of feature service recent rework

[2020-02-20 10:14] xemul commented on #5848
No, that's the result of feature service recent rework

[2020-02-20 10:16] slivne commented on #5846
patch on ML

[2020-02-20 10:17] slivne commented on #5843
@gleb-cloudius does this crash the node or only report an error ?

[2020-02-20 10:18] xemul commented on #5846
@slivne , patch is in next already :)

[2020-02-20 10:19] gleb-cloudius commented on #5843
Only an error and of course trace does not work.

--
			Gleb.

[2020-02-20 10:23] slivne commented on #5840
Q: is this after a node was upgraded and it had the CQL port open ? or when it was bootstrapping.

Do you have speculative retry enabled - can you please share the schema of the table.

[2020-02-20 10:23] slivne commented on #5840
Does this also happen in the 3.2 --> 3.3 upgrade tests ?

[2020-02-20 10:35] slivne commented on #5817
we plan to implement off-strategy compaction and that should help with resharding cases as well.

[2020-02-20 10:36] slivne commented on #5810
@kostja can we close this

[2020-02-20 10:37] tgrabiec commented on #5765
@xemul We didn't stop migration_manager in 3.1 (we do since f6ac969f1eb5ef504ea569a449b78ff7c730326b), so I think we are not vulnerable beyond master. Am I missing something?

[2020-02-20 10:39] slivne commented on #5807
@let4be - since you are grouping scylla needs to scan the rows of partitions, if you are using paging then scylla tries to collect 5000 results / 1M of results and return that.

We maybe should change scylla to return some results up to the timeout to make sure that we less timeout.

For now you can try and reduce the page size - instead of the default 5000 to be 10 and see if this works better fo

[2020-02-20 10:41] slivne commented on #5802
we should consider if to drain a node that looses all conectify to other nodes in the cluster.

[2020-02-20 10:44] slivne commented on #5802
In alternator case this maybe more problematic.

In CQL a client that receives an error/timeout may try to send the request to other nodes.

In Alternator we need to check what happens when a client gets a 500 - does it attempt to send the request to another node ?

[2020-02-20 10:54] tgrabiec commented on #5628
Fixed in 4839ca849136841b4545931876b1345ee09affa1

[2020-02-20 10:54] #5628 closed

[2020-02-20 10:57] xemul commented on #5765
@tgrabiec , you're right. I was thinking about aborted start case, but storage service subscribes on gossiper after migration manager starts, so we're safe here too.

[2020-02-20 10:57] slivne commented on #5768
@ShlomiBalalis / @roydahan what are the results ...

Is it clear we have a regression in streaming - if so please provide a but more info on which commits are good and which not and I'll assign someone from that point

[2020-02-20 11:09] gleb-cloudius opened #5857 "Commitlog code can perfrome huge writes"
*Installation details*
Scylla version (or git commit hash): a46f2350925cfd5e1c0b01927bfc0c6998a238f5

While zeroing segments commitlog code writes entire segment at once which may case big latencies
for other I/O users. The writes were suppose to be split to smaller once, but due to a bug this did not happen.

[2020-02-20 11:10] #5614 closed

[2020-02-20 11:10] #5794 closed

[2020-02-20 11:11] gleb-cloudius opened #5858 "Commitlog uses incrorrect IO class while zeroing segments"
*Installation details*
Scylla version (or git commit hash): a46f2350925cfd5e1c0b01927bfc0c6998a238f5

Comitlog use default class to zero segments which has lowest priority while comimtlog class is the highest. This may cause commitlog writes waiting on a segment been zeroed to be delayed for a long time.

[2020-02-20 11:44] slivne commented on #5765
@tgrabiec can you please do the backport if the code was merged - we failed in 3.3. testing on this.

[2020-02-20 11:48] slivne commented on #5759
@fgelcer we want to try and reproduce outside of SCT what are the exact steps that where done to get the crash ...
- how many nodes
- what is the scylla.yaml
- what operational actions were executed on which node ? and in which order / delay

[2020-02-20 11:49] slivne commented on #5516
closing will reopen/create new if we hit

[2020-02-20 11:57] aleksbykov commented on #5856
will try to reproduce

[2020-02-20 11:57] psarna commented on #5809
Where do I get scylla binary from, in order to check the coredump? I didn't find anything marked `3.3.rc1-0.20200213.b38193f71d` on downloads.scylladb.com

[2020-02-20 12:20] tzach commented on #5802
This make sense. Node also need to reopen CQL once connections to other nodes reestablished.
Without this, a temp network shutdown will shutdown the cluster.

[2020-02-20 12:24] fruch commented on #5802
@roydahan FYI, this is the issue raise cause of `RejectInterNodeNetwork` nemesis

[2020-02-20 12:25] xemul commented on #5790
From the logs:

    Feb 10 15:41:47 NODE2 scylla[3786]:  [shard  0] range_streamer - Unbootstrap with 10.0.46.101 for keyspace=system_auth succeeded, took 0.777 seconds
    Feb 10 15:41:47 NODE2 scylla[3786]:  [shard  0] range_streamer - Unbootstrap with 10.0.93.205 for keyspace=system_auth succeeded, took 0.798 seconds
    Feb 10 15:41:47 NODE2 scylla[3786]:  [shard  0] range_streamer - Unbootstr

[2020-02-20 12:31] nyh commented on #5664
@gleb-cloudius, looking at the CQL LWT code, I see you use cql_server::connection::process_on_shard() to bounce requests that arrived at the wrong shard, and this function uses **bounce_request_smp_service_group** which appears to be set to **default_smp_service_group** as far as I can tell unless overridden - but I don't see what can override it?

If this setting is considered correct, the places

[2020-02-20 12:34] psarna commented on #5809
It looks like the nodes simply went out of memory, but in order to try figuring out why it was the case, I need a binary - in order to run `scylla memory` in gdb and post the results here.

[2020-02-20 12:35] aleksbykov commented on #5809
@psarna i can create on aws instances with the mention ami, where you can get binary

[2020-02-20 12:37] psarna commented on #5809
Ok, if that's the easiest way - please do, and I'll download from there. Thanks

[2020-02-20 12:46] nyh commented on #5802
Not really, because:
1. If the server returns an error on the HTTP connection without closing it, the client may retry on the same connection.
2. If the client has additional connections opens (typical on a concurrent client, because each HTTP connection is serialized) he can use them, but they may be connected to the exactly same server. This is only a problem for DNS load balancing, where you ca

[2020-02-20 12:58] tarzanek opened #5859 "add metrics for CQL errors"
I think we could use a metric for when scylla replies with an error for a CQL request

right now we have various storage proxy timeouts, etc. but no (single) metric that would clearly say - Scylla replied with X amount of errors or fails per second that client had to handle

[2020-02-20 13:23] fgelcer commented on #5759
sorry for the delayed reply:
* nodes:
** 5 db nodes
** 4 loaders
* scylla.yaml
[scylla.yaml.zip](https://github.com/scylladb/scylla/files/4230835/scylla.yaml.zip)
* actions:
** ManagementRepair nemesis
** CorruptThenRebuild nemesis
** NoCorruptRepair nemesis

[2020-02-20 13:23] ShlomiBalalis commented on #5840
It does not happen in the 3.3 upgrade tests

From the recent test run of the latest ubuntu 16 upgrade test:

The error occurred during the upgrading of node#2 (35.190.185.248 | 10.142.0.54)

When the error following error occurred:
[code]
the target node was up and listening, but it seems to be an error in the connection with node#4 (35.237.75.5 | 10.142.0.69), as seen in node#2's log:
`2020-02-19

[2020-02-20 13:39] hankipanky commented on #5640
Same problem here with Scylla 3.2.1 in a fresh install on Debian 10 "buster":

[code]

[2020-02-20 13:40] kostja commented on #5810
No, we still need to warn if there are a lot of statements against the same partition.

[2020-02-20 13:43] gleb-cloudius commented on #5810
On Thu, Feb 20, 2020 at 05:40:15AM -0800, Konstantin Osipov wrote:

Why? Does Cassandra do it?

--
			Gleb.

[2020-02-20 14:09] psarna commented on #5809
I downloaded both cores, but their stacktraces are bogus - were these cores perhaps truncated?
Here's how a backtrace for Thread 1 (the interesting one) looks like:
[code]

The top frame is correct and matches the output, but the rest is just bogus. Does anyone have any idea what happens here?

I already have the scylla binary along with its debug info, but the core itself seems to be off, which d

[2020-02-20 14:10] bhalevy commented on #5759
@fgelcer those actions don't mean much to us.
Is there a document that describes them in technical terms or code that implements them so was can try to reproduce using dtest?
Also, does it reproduce in SCT?

[2020-02-20 14:12] kostja commented on #5810
No, but it may be a bug in Cassandra. There are two limits: soft and hard. Soft is ~5180 statements hard is 65535 statements. We're checking for neither.

[2020-02-20 14:13] bhalevy commented on #5759
@fgelcer in addition to the above, in https://github.com/scylladb/scylla/issues/5765#issue-562383418, that for forked off of this issue, you said:

Is there a chance that "network reject inter-node communication" was applied here too?
Again, I'm don't know what it does exactly but it seems to be way more related to the symptom than repair.

[2020-02-20 14:18] fggarcia commented on #5640
hi @hankipanky

try with:

apt-get -y install scylla scylla-jmx scylla-tools scylla-tools-core

[2020-02-20 14:30] xemul commented on #5790
Suspicious streaming sessions:

d95bc700-4c1b-.. Unbootstrap-system_traces-index-5 peers={10.0.93.205}, no success in master logs
d968e660-4c1b-.. Unbootstrap-system_traces-index-5 peers={10.0.46.101}, no success in master logs
d985bd30-4c1b-.. Unbootstrap-system_traces-index-6 peers={10.0.64.93}, no success in master logs
d9a57a32-4c1b-.. Unbootstrap-keyspace1-index-0 peers={10.0.46.101}, no star

[2020-02-20 14:30] dekimir commented on #5807
Also, I'm afraid that LIMIT and PARTITION LIMIT currently don't work correctly with GROUP BY. #5361 #5363

Sorry about that, it's not an easy fix but I'm working on it...

[2020-02-20 15:05] kostja opened #5860 "lwt: CQL metrics are incremented twice if message was bounced"
If a message is bounced to a correct shard with bounce_to_shard exception, CQL metrics are incremented twice, once on the source shard and another time on destination shard.

How to reproduce:
[code]

[2020-02-20 15:55] gleb-cloudius commented on #5810
On Thu, Feb 20, 2020 at 06:12:49AM -0800, Konstantin Osipov wrote:

It is definitely not a bug, but a concious decision:
https://issues.apache.org/jira/browse/CASSANDRA-10876

--
			Gleb.

[2020-02-20 16:58] dyasny commented on #5678
Logs are in 9346b97a-6dfe-41a2-994e-234e00c98c42
Timeframe: Jan 28 14:34:21 and Jan 28 21:50:58

[2020-02-20 16:58] dyasny commented on #5677
Logs are in 9346b97a-6dfe-41a2-994e-234e00c98c42
Timeframe: Jan 28 14:34:21 and Jan 28 21:50:58

[2020-02-20 17:59] raphaelsc opened #5861 "Document SSTable resharding"
How SSTable resharding works under the hood is unknown to many of us, so having it documented would be quite nice.

[2020-02-20 18:29] nyh opened #5862 "alternator: deleting an attribute from a non-existent item shouldn't create it."
Like in Scylla, DynamoDB's `UpdateItem` operation can either update an existing item or create a new one. However, I just now realized DynamoDB makes one peculiar exception:

If the update requests just to **delete** an attribute from a specific item, then if the item did not previously exist, it is not created.

This is not how Alternator currently does things. In this case Alternator creates a n

[2020-02-20 18:38] kostja opened #5863 "lwt: consider implementing a short-lived paxos state cache"
While the standard cache is most likely to contain the most recent writes, it is still a lot of CPU overhead to execute a statement and fetch necessary data from the table and into paxos_state (e.g. create mutation object). Consider implementing a small LRU cache for paxos_state objects (~128 objects per shard would be quite enough for even the most heavily loaded shards).

[2020-02-20 20:01] nyh opened #5864 "alternator - missing support for UpdateItem DELETE operation with value parameter"
In the old-style AttributeUpdates parameter for the UpdateItem operation (later superseded by the newer syntax, UpdateExpression), a DELETE operation may specify an old value. For sets, this old value can be used to delete items from a set. This is a type of conditional expression, which would require LWT, because the operation should fail if the existing value of the attribute isn't a set.

We do

[2020-02-21 02:21] asias commented on #5109
In addition to the PoC patch to reduce the compaction shares here:

https://github.com/scylladb/scylla/issues/5109#issuecomment-540956915

I created https://github.com/scylladb/scylla/pull/5866

The changes are pretty small, but I think it will mitigate the problem significantly.

[2020-02-21 03:40] asias opened #5867 "gossip: Do not talk to unreachable members"
Currently, in each gossip round, gossip will try to talk to some
unreachable members with some probability to check if the node is back.

It is an optimization hoping to notice a once dead node up early.
However, when a node is down, other nodes will be full of logs like:
[code]
It persists until a node is up again.

The optimization is not very important and it is safe to remove it because

(Cons

[2020-02-21 09:05] psarna commented on #5809
Oh wait. The oversized allocation logs claim that one node tried to allocate `131MB` and the other `28GB` (sic!).

Here's the backtrace of the oversized `28GB` allocation, it's a CQL list:
[code]

So, perhaps gemini added so many elements to a list, that it burst? With a `28GB` collection it's no wonder that we go out of memory.

[2020-02-21 09:20] aleksbykov commented on #5809
Need comments from @penberg and @dahankzter. Could gemin generate such list?

[2020-02-21 11:53] speedcom commented on #4872
[code]

RF=3
Read CL: QUORUM
Message: `Cassandra timeout during read query at consistency QUORUM (3 responses were required but only 2 replica responded)`

We still see the same exact error which already have happened multiple times (~4600) in a row during high load data ingestion.

Part of the exception (datastax driver):
[code]

[2020-02-21 13:31] jul-stas opened #5869 "cdc: LWT prevents cdc logging"
On fresh master, e.g. 4e95b67501c33e3f9ea0b1d2cfbd428a640e494a
Results of successful RMW statements are not stored in CDC log:
[code]

[2020-02-21 17:18] pidiaquez commented on #5800
Hi Team

     Customer asks if will it be delivered as a patch for 2019.1.2 Enterprise version they have? Or will it go to 2020? Or else...

Thanks in advance

Pablo

[2020-02-21 18:26] raphaelsc commented on #5226
Not sure if major compaction is the panacea for integration, although it improves
the current state.

Consider this case for STCS. Let's say we have 1TB data in active sstable list.

The active sstable list is composed of `log2(1TB / ~1G)` size tiers (with a min
threshold of 2), where the tiers will be laid out as follow:
[code]

Now let's say we load 2TB of data spread across many sstables.

If w

[2020-02-21 18:28] dyasny opened #5870 "Abort too-large non-paged queries"
This is a request similar to https://github.com/scylladb/scylla/issues/5804 but wrt non-paged queries.

We keep receiving reports about memory allocation issues on nodes, when in fact the client was running a non-paged query.

I'd like to request to add a special treatment for non-paged queries, so when they are too large they will get aborted and an error will be sent to the client, instead of cr

[2020-02-21 18:31] glommer commented on #5226
We need to do cross-tier compactions anyway otherwise tombstones don't go away.

And you're right that TWCS will have to have a specialized version of major compaction.

[2020-02-21 18:31] pidiaquez commented on #5677
[9346b97a-6dfe-41a2-994e-234e00c98c42_scy-st-1-p1.scylla.log-20200129.gz](https://github.com/scylladb/scylla/files/4237472/9346b97a-6dfe-41a2-994e-234e00c98c42_scy-st-1-p1.scylla.log-20200129.gz)
[9346b97a-6dfe-41a2-994e-234e00c98c42_scy-st-1-p2.scylla.log-20200129.gz](https://github.com/scylladb/scylla/files/4237484/9346b97a-6dfe-41a2-994e-234e00c98c42_scy-st-1-p2.scylla.log-20200129.gz)

Attache

[2020-02-21 18:42] pidiaquez commented on #5678
[9346b97a-6dfe-41a2-994e-234e00c98c42_scy-st-1-p1.scylla.log-20200129.gz](https://github.com/scylladb/scylla/files/4237539/9346b97a-6dfe-41a2-994e-234e00c98c42_scy-st-1-p1.scylla.log-20200129.gz)
[9346b97a-6dfe-41a2-994e-234e00c98c42_scy-st-1-p2.scylla.log-20200129.gz](https://github.com/scylladb/scylla/files/4237543/9346b97a-6dfe-41a2-994e-234e00c98c42_scy-st-1-p2.scylla.log-20200129.gz)
attached

[2020-02-21 19:27] tgrabiec commented on #5765
@xemul Can you please prepare a branch on top of 3.3, it doesn't apply cleanly.

[2020-02-21 19:58] syuu1228 commented on #5830
It basically chown scylla:scylla -R /var/lib/scylla.
(Also chown scylla:scylla -R /var/lib/scylla-housekeeping, too)

[2020-02-21 21:50] raphaelsc commented on #5226
We need to think this cross-tier compaction idea through, so as not to increase STCS write amplification *when* it matters. For example, there's probably no purpose in doing it when the workload is write-only. Also, we shouldn't do it when we're under heavy write workload, unless we're facing a disk pressure scenario *and* we determine that doing cross-tier compaction will save space by getting ri

[2020-02-21 23:32] syuu1228 opened #5874 "install.sh does not provide a way to upgrade scylla"
Related with #5830, current install.sh only provides a way to install scylla, but not upgrade scylla.
To support upgrade, we need to prevent overwrite config files and existing data.

[2020-02-22 00:17] hartmut-co-uk commented on #4911
Hi, any chance to get a solution. e.g. `LOWER()` into one of the next releases?
(see https://github.com/scylladb/scylla/issues/4477#issuecomment-493754616)

[2020-02-22 00:23] vladzcloudius commented on #5469
@dyasny I agree with @avikivity - the root cause of this issue is Scylla auto-starting itself and as such we should eliminate the root cause.

There are a lot of reasons NOT `enable` scylla-server service: what if the disk crashed, kernel panicked and machine restarted?
It's likely that node will try to join exactly as described in the issue description.

IMO, our default systemd service configura

[2020-02-22 02:13] raphaelsc commented on #5769
The patchset which reverts the revert is cooking in next: https://github.com/scylladb/scylla/commit/f93912f3447255727b013a544fb04101ed69ca57

[2020-02-22 03:41] raphaelsc commented on #210
ping

[2020-02-22 03:44] raphaelsc commented on #625
AFAICT, no nodetool command is affected, replacing bug tag by enhancement one.

[2020-02-22 08:02] tarzanek commented on #5469
Well that's the dilemma , let the service auto start (for any security patching), or leave it disabled and require manual or semi-automatic (some "smart" script) to start it after some sanity check

[2020-02-22 08:06] tarzanek commented on #3896
fwiw checked our and their codebases for the problematic file and there is no difference
so the current hypothesis to test is the python version that we use and that cassandra uses, which seems to be the cause
(e.g. will scylla script run properly with the python version that cassandra uses?)

[2020-02-22 12:23] sitano commented on #1488
This patch introduces an API point /column_family/autocompaction/{name} that supports GET and POST methods to read and control column family minor compaction.

It would be nice to receive some feedback before going further with it.

I am concerned about whether the GET `/column_family/autocompaction/{name}` must depend on the schema null compaction strategy. In my current implementation, it depend

[2020-02-22 16:06] dkropachev opened #5878 "Authentication failed after node was set down"
Description:
When one of the nodes in the cluster goes down and you are trying to authenticate on another one, there is a chance (more than 50%) that authentication will fail.

Discovered by https://github.com/scylladb/scylla-dtest/pull/1323

Scylla version (or git commit hash):
export SCYLLA_VERSION=unstable/branch-3.3:2020-02-20T01%3A16%3A58Z
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI):
Ubun

[2020-02-23 01:25] ShlomiBalalis commented on #5768
It seems that the latest functioning version was 666.development-0.20200128.b06b34478ed

[2020-02-23 07:26] bhalevy opened #5879 "cql_query_test: test_like_parameter_marker: Assertion `_cpu == std::this_thread::get_id()' failed."
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1646/artifact/testlog/debug/cql_query_test.88.log
Scylla next version 7f2dacdecee0662e0a5104e09d5b33755c8c0d2a
[code]

[2020-02-23 07:30] bhalevy commented on #5879
I suspect that this was caused by 8efb02146fabecab881ac3b2d528268731619d0f.
Trying to reproduce with and without this patch.

[2020-02-23 07:40] bhalevy commented on #5879
No, it is not 8efb02146fabecab881ac3b2d528268731619d0f by itself.
Continuing bisection

[2020-02-23 08:14] bhalevy commented on #5879
The test case was introduced in 6b090cee8d556f0f06ab3b6f4dea9af249316e51

[2020-02-23 08:35] tzach commented on #4505
@haaawk can we close this?

[2020-02-23 08:38] slivne commented on #4505
yes fixed by 434347195416cc79211e4b7df001f90b0f1aded7

[2020-02-23 08:38] #4505 closed

[2020-02-23 08:45] bhalevy commented on #5879
6b090ce dequeued. closing.

[2020-02-23 08:45] #5879 closed

[2020-02-23 10:46] slivne commented on #5768
@ShlomiBalalis thanks
so the scenario is decommission not ending (streaming takes much longer)
- version without issue in streaming 666.development-0.20200128.b06b34478ed
- version with issue in streaming 666.development-0.20200206.27b36beb4ab

Please confirm !!

[2020-02-23 10:57] bhalevy opened #5880 "auth_test failed: nodetool: Scylla API server HTTP GET to URL '/storage_service/natural_endpoints/system_auth' failed: std::_Nested_exception<no_such_column_family> (Can't find a column family users in keyspace system_auth): std::out_of_range ()"
Seen since scylla version 6c7aa1823826817b38268871a0633a818cd98495
(passing in 06c16108df13476be61ffef868b50a11a42a4a4d)

The following dtests consistently fail:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/395/testReport/auth_test/TestAuth/dropping_keyspace_system_auth_2_nodes_test/
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/395/te

[2020-02-23 10:58] bhalevy commented on #5880
@haaawk it looks like your changes merged in 6c7aa1823826817b38268871a0633a818cd98495 caused this regression.  Can you please look into it?

[2020-02-23 10:59] bhalevy commented on #5880
To reproduce, try:
[code]

[2020-02-23 11:07] slivne commented on #5878
@dkropachev can you please provide

"desc full schema"

and nodetool status

[2020-02-23 11:12] slivne commented on #5870
For paged queries we have already changed the code so we will accumulate up to 1M in a result page and then return it, making sure the query at least on the coordinator will not consume to much memory.

 We should abort queries that consume to much memory on the coordinator side and have a counter attached to that.

[2020-02-23 11:14] slivne commented on #5869
to make sure we do not have multiple attempts fixin this.

Gleb/Kostja what is the correct point to add CDC logging.

I want the CDC team to add the code.

[2020-02-23 11:17] slivne commented on #5867
@tgrabiec can you please comment on the above do you agree with this enhancement

[2020-02-23 11:24] slivne commented on #5859
related to #4888

[2020-02-23 11:31] gleb-cloudius commented on #5869
`paxos_response_handler::learn_decision` is probably the place to add cdc augmentation. All paths that do write goes through mutate_internally eventually so it would have been best to do augmentations there, but cdc chose to log only certain writes and not others (unlike MV that does not care how write happened) and mutate_internal have no idea which is which so I do not have other choice but code

[2020-02-23 11:38] slivne commented on #5856
@aleksbykov / @roydahan ping

[2020-02-23 11:42] bhalevy commented on #5856
Backtrace:
[code]

[2020-02-23 11:43] slivne commented on #5809
We need different thresholds
- alarm the user that he has a large cell/collection - we have that - we need to attach a counter
- do not return query results when the user attempts to read
- remove value in compaction and log that it was removed

[2020-02-23 11:46] bhalevy commented on #5759
@fgelcer can we try to reproduce without tls?
Also, please answer above question.

[2020-02-23 11:48] slivne commented on #5790
@asias can you please take a look

[2020-02-23 12:24] bhalevy commented on #5856
@aleksbykov where is the scylla package for this build?
I don't see this build-id in http://downloads.scylladb.com.s3.amazonaws.com/relocatable/unstable/branch-3.3/2020-02-18T20%3A29%3A01Z/00-Build.txt (that built `3.3.rc1-0.20200218.756574d094`)

[2020-02-23 13:01] amnonh commented on #5414
It didn't reproduce for me, it does take a long time, on my laptop it took 25s

[2020-02-23 13:09] nyh commented on #4632
Unfortunately, in the 6 months that passed, this issue did not improve.
I retested today on the same machine - a single-node Scylla boot time  is now 37 seconds (1 shard) to 43 seconds (3 shards).
One of the things which were added recently was CDC, which apparently tries (and fails) for about 3 seconds to generate its streams (that 99.9% of the tests will never want to use anyway).

This slow boo

[2020-02-23 13:20] bhalevy commented on #5856
I managed to get a sane backtrace by starting a vm from ami-00d212758df086c8b in eu-west-1:
[code]

[2020-02-23 13:25] bhalevy commented on #5856
Apparently the assertion occurs when deserializing a counter:
https://github.com/scylladb/scylla/blob/756574d09464b54421f539fac6640313ccbe8189/types.cc#L1763-L1765

[2020-02-23 13:28] bhalevy commented on #5856
@tgrabiec / @denesb do you have an idea how this could happen?
have we seen this kind of error pattern before?

[2020-02-23 13:42] avikivity commented on #5226
That's easy, override get_major_compaction_job() (and use `segregate_by_timestamp()` from @denesb), that's only some gluing away.

[2020-02-23 13:45] avikivity commented on #5226
I don't think it's a big problem. You can arrive at a similar situation by normally writing until you get a 2TB sstable, and thendo overwrites and deletions for the lower tiers until their sstables shrink. So yes, you have a large sstable, but it's not harming anyone.

We need to compact it from time to time to get rid of tombstones, but that's independent of import/streaming scenarios. Perhaps ta

[2020-02-23 14:06] ShlomiBalalis commented on #5768
Yes, it's seems that's the case

[2020-02-23 14:35] #5205 closed

[2020-02-23 14:35] #5836 closed

[2020-02-23 14:35] #5800 closed

[2020-02-23 14:35] #5842 closed

[2020-02-23 14:35] #4446 closed

[2020-02-23 14:35] #5858 closed

[2020-02-23 14:35] #5844 closed

[2020-02-23 15:05] bhalevy opened #5881 "Building centos-rpm changes scylla's build-id"
For example:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/ami/248/artifact/latest/job.log
[code]

https://jenkins.scylladb.com/job/scylla-master/job/centos-rpm/77/consoleText
[code]

But, https://jenkins.scylladb.com/job/scylla-master/job/build/479/artifact/00-Build.txt
[code]

It seems like the culprit is `find-debuginfo.sh --build-id-seed` is causing this as seen in https://jen

[2020-02-23 15:28] avikivity commented on #5768
/cc @asias

[2020-02-23 15:34] bhalevy commented on #5881
The following change did help (thanks @avikivity for suggesting it!):
[code]

[2020-02-23 15:35] fgelcer commented on #5759
it was found on SCT... and i still didn't have the chance to check when happened the inter-node network nemesis.
FYI [here is the code](https://github.com/scylladb/scylla-cluster-tests/blob/master/sdcm/nemesis.py#L1541) for inter-node network disconnection.

[2020-02-23 15:36] bhalevy commented on #5881
after running:
[code]

[code]

[code]

[2020-02-23 15:42] bhalevy commented on #5881
I saw this originally on branch-3.3 and we better backport it there too before the 3.3.0 goes out.

[2020-02-23 15:46] fruch opened #5883 "Alternator new keyspace names is breaking all kind of nodetool/manager operations"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200222.4e95b67501c
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-012fcd7ac5f0e1471

## Summary

Since the alternator code create a keyspace per table name like `a#usertable`
all kind of notetool operations started failing like this:

[code]

I think the hash is a bit problematic for a keyspace name, and isn't ha

[2020-02-23 16:03] psarna commented on #5883
My original idea was that `#` character is not strictly allowed by cql, so cql users won't be able to create alternator keypaces, but it's flawed. Tomorrow I'll simply prepare a patch which changes the prefix to something standard, e.g. "alternator_", and if a cql user creates a keypace with a conflicting name, it will simply be resolved as any other conflict - by refusing to create a keypace that

[2020-02-23 16:17] avikivity commented on #5881
Don't we have the same problem on 3.2 and 3.1?

[2020-02-23 17:24] fruch commented on #5883
Do we also want to lock some other operations on those tables ? like altering it's schema or adding new/remove columns to it ?

[2020-02-23 19:19] nyh commented on #5883
There are two aspects to this issue:

First, there appears to be a bug in the REST API code (CC: @amnonh), that deserves a separate issue in the Seastar bug tracker. The "%23" is URL encoding, which a conforming HTTP server is supposed to decode in the appropriate places between URL components (see https://tools.ietf.org/html/rfc3986#section-2.4). The HTTP server should have translated "%23" back

[2020-02-23 20:40] slivne commented on #5843
Given that Paxos queries by design are slower ... lets fix this.

[2020-02-23 20:52] slivne commented on #5840
@ShlomiBalalis thanks - to help debug this

I found https://jenkins.scylladb.com/view/master/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-centos7/38/consoleFull - this seems to be the last good run

that had Scylla b783d40aaf8c9057556b506979e5b464f66449c5 if thats true - it will narrow the search space for whats broken since that version.

Please confirm that that upgrade test was ok.

[2020-02-23 21:02] slivne commented on #5743
Does C* do this ? - if so can you reference the jira ticket.

[2020-02-23 21:10] slivne commented on #5743
The next compaction attempt doesn't necessarily happen on the next nodetool flush ... it can take more then one.

Even if an sstable is fully expired it can only be removed if it does not cover "live" data on older sstables. So this seems to be an edge case that is not generic.

I am fine with forcing a check for cleaning up "garbage" on memtable flush - to make sure we do not run out of disk spac

[2020-02-23 21:10] slivne commented on #5743
@nyh any view on the above

[2020-02-23 21:28] nyh commented on #5883
I opened a Seastar issue - https://github.com/scylladb/seastar/issues/725

[2020-02-23 21:38] nyh commented on #5883
Committed @psarna's patch, "https://github.com/scylladb/seastar/issues/725" to next. When it reaches master, this issue will close.

[2020-02-23 22:46] dyasny commented on #5874
The current, RPM based offline installer is easy to adjust: since all it does is unpack a local repo, we can simply let the user choose whether it will do a `yum install` or `yum update` once the repo is inflated and enabled.

Frankly though, I don't think we really need to go this far, it should be enough to package a repo that people can use, running yum is something everyone can do in whatever

[2020-02-23 22:47] dyasny commented on #5830
don't forget node_exporter and the manager agent

[2020-02-23 23:38] #5832 closed

[2020-02-23 23:38] #5849 closed

[2020-02-24 03:22] asias commented on #4632
@nyh "gossip: Make boot process faster and safer #5154" will help a lot but it is not merged.

[2020-02-24 06:12] asias commented on #5769
The revert of the revert is merged in master. Closing this one.

[code]

[2020-02-24 06:12] #5769 closed

[2020-02-24 06:50] eliransin commented on #5878
@slivne this is not a regression and it is even a documented behavior.
AFAIK this is a known issue. Our system_auth keyspace is starting with RF=1 which essentially means that after shutting down a node, some of the user credentials for authentication will be unavailable.
Right now what we have in place to overcome that is: https://docs.scylladb.com/operating-scylla/procedures/cluster-management/a

[2020-02-24 07:12] amoskong commented on #5874
Totally agree.

[2020-02-24 08:17] fruch opened #5886 "On Drain/Decommission Alternator requests are failing (Operation failed for a#usertable.usertable - received 0 responses and 2 failures from 1 CL=LOCAL_ONE.)"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200223.f4e789a9c21
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0f27e738f7f2ff62f

## Summary
While using DNS solution for the YCSB client,  when nodes decommissioned or drained, queries to this node are a failing with
`Operation failed for a#usertable.usertable - received 0 responses and 2 failures from 1 CL=L

[2020-02-24 08:23] avikivity commented on #5874
This is about the rpm-less installer (install.sh).

[2020-02-24 08:34] amoskong commented on #5874
Why the user don't want to use RPM or deb packages?
What's the benefit to use relocate packages for offline installation?

[2020-02-24 08:52] bhalevy opened #5887 "Wrong count(*) with CL=LOCAL_ONE after repair -pr"
Regression in the following dtests started in:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/382/testReport/repair_additional_test/RepairAdditionalTest/repair_option_pr_dc_host_test/
Scylla version bcc464755227898fb67ea77d4b48dd224d3ab5b3

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/383/testReport/repair_additional_test/RepairAdditionalTe

[2020-02-24 08:52] bhalevy commented on #5887
@asias can you please look into this?

[2020-02-24 09:05] asias commented on #5887
I will take a look. Thanks.

[2020-02-24 09:24] roydahan commented on #5878
I think option 3 is the valid option for the test. (We do the same in SCT).

[2020-02-24 09:25] dkropachev commented on #5878
Thanks Eliran, Roy.

[2020-02-24 09:40] vss96 commented on #5626
Hi, I'm interested in contributing and would like to pick this up. Can someone point me in the correct direction so that I can explore the issue and put in a fix for it?

[2020-02-24 09:53] xemul commented on #5626
There are several directories that can be configured. All sit on db::config

    named_value<sstring> commitlog_directory;
    named_value<string_list> data_file_directories;
    named_value<sstring> hints_directory;
    named_value<sstring> view_hints_directory;
    named_value<sstring> saved_caches_directory;

all users of it get the value from db::config instance, but instead of doing so they s

[2020-02-24 09:59] denesb commented on #5856
@bhalevy I don't understand how we could fail on a counter, I see counter nowhere in the schema. Besides counters tables cannot have any other columns than counters and I see plenty of regular columns in the schema.

The backtrace [above](https://github.com/scylladb/scylla/issues/5856#issuecomment-590068158) leads to `bound_view::tri_compare`, which cannot be counter deserialization, as counters c

[2020-02-24 10:03] bhalevy commented on #5887
Testing with bhalevy/scylla-dtest#1328 at bhalevy/scylla-dtest@0f253ca8bb72743ae2b083bd61dc1ed3a2d0ac0f revealed that there's a discrepancy between the rows returned by `select *` vs. `select count(*)` and the problem is apparently with the `count(*)` query.

I ran the following locally:
[code]

And the tests failed as follows:
[code]

Full output:
[repair-option-pr.log](https://github.com/scyllad

[2020-02-24 10:12] aleksbykov commented on #5856
@slivne Unfortunately, instances for test run were killed. Later run was not trigger the same issue.
I am starting  to reproduce with same id and same gemini command (with same seed)

[2020-02-24 10:13] bhalevy opened #5888 "wide_row_test: AddressSanitizer: negative-size-param: (size=-8) during shutdown"
Seen in https://jenkins.scylladb.com/view/scylla-3.3/job/scylla-3.3/job/dtest-debug/21/artifact/logs-debug.2/1582502227060_compact_storage_tests.TestCompactStorage.wide_row_test/node1.log
Scylla version 756574d09464b54421f539fac6640313ccbe8189 3.3.rc1-0.20200223.756574d0946
[code]

Core dump [here](https://jenkins.scylladb.com/view/scylla-3.3/job/scylla-3.3/job/dtest-debug/21/artifact/logs-debug.2

[2020-02-24 10:15] bhalevy commented on #5888
Duplicate of #5385

[2020-02-24 10:15] #5888 closed

[2020-02-24 10:15] bhalevy commented on #5385
@scylladb/scylla-maint please backport 5b0ea4c1149d6dd74d5e87ca1bffc97d13a637d3 to 3.3 and 3.2

[2020-02-24 10:38] denesb opened #5889 "Introduce hard memory limit for non-paged queries"
Non-paged queries attempt to read all the required data into memory, before transmitting it to the coordinator. This means that whether the query consumes all memory of the node potentially crashing it is entirely dependent on the amount of data to-be-read. This can cause an innocent looking query to crash multiple nodes, triggering a costly investigation.

We should not allow something like this

[2020-02-24 10:41] denesb commented on #5856
@aleksbykov do you have core generation and archival configured?

[2020-02-24 11:04] ShlomiBalalis commented on #5840
Yes, this is the latest functioning test

And on the same note from the latest tests, centos 7 and ubuntu 18 experienced the same error

[2020-02-24 11:06] nyh commented on #5626
@xemul I'm not sure I understand exactly what you are proposing. Right now, for example, we have a function db::commitlog::config::from_db_config() which takes a db::config and extracts both the directory locations and other configurations from it. We'll now need to pass to it an additional structure? Or will db::config contain the utils::directory? I'm not sure exactly what you are suggesting.

[2020-02-24 11:08] denesb commented on #5856
Now that I think of it, I think this error only trigger an exception. We should change it to use `on_internal_error()` to be able to capture a coredump.

[2020-02-24 11:15] xemul commented on #5626
@nyh , I'm suggesting to stop using db::config as the source of full directories paths, becaue to make it work corrctly (with --workdir) we need to have this ::setup_directories() thing. Istead, the directories should be used to provide full paths. In particular, equipping db::commitlog::config::from_db_config() sounds like one of the options to acheive that. Another might be to feed directories i

[2020-02-24 11:22] xemul commented on #5765
@tgrabiec https://github.com/xemul/scylla/tree/br-mm-combined-fixes-for-3.3
It includes efd7efe4, 08363e50 and 4839ca84
Tested with unit(dev)

[2020-02-24 11:45] #5878 closed

[2020-02-24 11:49] slivne commented on #5856
@bhalevy send a patch to change that, we need to backport it and then try to run gemini with the exact schema and see if we can reproduce this.

[2020-02-24 11:50] slivne commented on #5765
@tgrabiec can you please review + merge

[2020-02-24 11:56] slivne commented on #5759
Lets try and run this on 3.2 to figure out if its a regression or not.

[2020-02-24 12:03] elcallio commented on #5759
@bhalevy gnutls should not send or do anything with the wire that is not instigated by caller (us). Data cannot come in without us issuing some read, and nothing will be sent without either using any of the handshake/heartbeat/data carrier functions. There is afaik no spurious calls from within a read call to a send, caused by gnutls state machine. It just decodes things and tells caller.

[2020-02-24 12:04] slivne commented on #5790
@asias ping

[2020-02-24 12:13] asias commented on #5790
I will take a look.

[2020-02-24 12:27] nyh commented on #5886
Can you please help me understand the scenario - are you decomissioning a node, and then contacting this specific node and it doesn't work? If so, why is it a bug? If I didn't understand the scenario, please explain it to me.

[2020-02-24 12:36] denesb commented on #5889
Duplicate of https://github.com/scylladb/scylla/issues/5870.

[2020-02-24 12:36] #5889 closed

[2020-02-24 12:36] fruch commented on #5886
While i'm decommissioning a node or draining a node, I'm getting those errors.

According the scylla logs I see `CQL server stopped` and `Thrift server is stopped`, I would expect alternator to shutdown gracefully too in those cases. and not fail any of those in-flight requests, nor accept new requests.

We are not seeing those errors while using cassandra-stress for CQL, my expectation that any o

[2020-02-24 12:37] denesb commented on #5870
@slivne we have to do this on the replicas, as by the time results get to the coordinator it might be too late, a single replica can have more data then memory.

[2020-02-24 12:41] nyh commented on #5886
@fruch, thanks.
@psarna, you recently added fixes for making sure that a shutdown closes the Alternator connections for new requests, and waits until the previous requests finished. Is it possible that the "decomission" code follows a different path and avoids our new shutdown code?

[2020-02-24 13:42] nyh opened #5890 "deleting a table or keyspace leaves empty directories behind"
By default, `auto_snapshot=true`, when a user deletes a table, the table isn't really deleted and is converted into a snapshot. This surprising in itself  (see #5283), but this issue is about what happens in the case that the user disables `auto_snapshot`, and hopes now the deleted tables will really go away:

However, the table directory still isn't deleted - it is left behind, with empty "stagin

[2020-02-24 13:49] piodul commented on #5689
PR associated with this issue was merged, so I'm closing it.

[2020-02-24 13:49] #5689 closed

[2020-02-24 15:00] #5658 closed

[2020-02-24 15:00] #5862 closed

[2020-02-24 15:00] #5053 closed

[2020-02-24 15:00] #5881 closed

[2020-02-24 15:08] elcallio opened #5891 "Commitlog pre-zeroing (when using O_DSYNC) should not re-write existing file data"
When creating segments with the o_dsync option active, we write `max_size` zeros to disk, to ensure actual disk blocks are allocated.
However, due to code paths being as they are, if we recycle a segment, we still do a full zeroing of the file, even though by this logic, it should already have actual disk blocks allocated.
We should, when not actually creating a new file, check the existing size o

[2020-02-24 15:12] dyasny opened #5892 "RFE: best practice validator"
This is a feature request to implement a validator (something like a linter) for schema and configuration best practices.

A command `nodetool bestpractice` would run some standard checks and return a list of compliant and non-compliant results in both the schema and the node configuration. Potential checks:

schema:
- good RF setting
- potential for huge partitions
- healthy table count
- etc...

[2020-02-24 15:14] slivne commented on #5891
Not clear to me if this is a performance enhancement or a bug for notzeroing parts that shoudl have been.

[2020-02-24 15:29] elcallio commented on #5891
It is a bug, but it does not cause any errors, just unnecessary stall. It is low frequency though, but still...

[2020-02-24 15:43] nyh commented on #5283
Some relevant code:

 `database::drop_column_family()` has a "snapshot" option, which defaults to true (the callers in `db/schema_tables.cc don't set it, so this default is used). This 'true' doesn't force the snapshot - it just means create a snapshot *if* the `auto_snapshot` option is one (see logic in `database::truncate()`).
We can have `database::drop_column_family()` check if this is an Alte

[2020-02-24 15:56] nyh commented on #5283
It turns out (see https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/pointintimerecovery_beforeyoubegin.html) that in Amazon DynamoDB, if a table has point-in-time-recovery (PITR) enabled and you delete the entire table, it's actually possible to restore this table using the usual restore syntax:

We can emulate this convention and allow restoring `table-name$DeletedTableBackup` rega

[2020-02-24 16:09] dyasny commented on #3854
@dorlaor @slivne this seems very similar to a disk IO getting maxed out issue. Looks like streaming can overwhelm a capped system, wherever the cap may be

[2020-02-24 16:10] gleb-cloudius commented on #5891
On Mon, Feb 24, 2020 at 07:09:13AM -0800, Calle Wilund wrote:

I am trying to do that and see that sometimes recycled file is larger
than max_size. Can you think of a reason why it can be so?

--
			Gleb.

[2020-02-24 16:21] elcallio commented on #5891
Two reasons:
1.) we are reusing segments from a failed run (crash + replay), and max_size changed (config),
2.) More likely, we touch the border condition where we write an extra zero block to a recycled segment. This one should really be possible to remove, but I doubt it is worth doing before coroutines (and more readable code).

[2020-02-24 16:27] gleb-cloudius commented on #5891
On Mon, Feb 24, 2020 at 08:21:47AM -0800, Calle Wilund wrote:

That's obviously not my case, but need to be handle anyway.

This additional write may cause file system to allocate an extent and
write metadata which may be slow.

--
			Gleb.

[2020-02-24 16:30] elcallio commented on #5891
This is true, but I'd prefer to address it as a separate issue. The "terminate" aspect in segment close should look at current position, and iff we filled the last block (file size == max_size), ignore writing an additional block. I'll create a separate issue for this.

[2020-02-24 16:45] nyh opened #5893 "alternator - missing support for UpdateItem ADD operation"
In the old-style AttributeUpdates parameter for the UpdateItem operation (later superseded by newer UpdateExpression parameter), an ADD operation can be used to increment numbers or append to a set (i.e., this is a type of conditional expression, which would require LWT). We don't support this syntax yet, and don't even have a test for it yet.

In the code we have the following check, so at least

[2020-02-24 17:06] piodul opened #5894 ""cdc" column in scylla_tables is added, even if --experimental cdc is not set"
A column named "cdc" is supposed to be added to `system_schema.scylla_tables` if and only if CDC experimental feature is enabled. Currently, this column is added even if CDC experimental feature is not enabled.

[2020-02-24 17:10] haaawk commented on #5894
@slivne and @avikivity if this bug is confirmed then we absolutely need to backport the fix. We also have to check 3.2 because initial tests performed by @piodul showed that for 3.2 it's the problem as well.

[2020-02-24 17:34] haaawk commented on #5894
Well. Maybe it's not such a big problem.

[2020-02-24 19:22] raphaelsc commented on #5743
@slivne compaction attempt means compaction strategy being called to see if there's work to do, it happens every time we finish flushing a new memtable.

you're right about a sstable which is considered fully expired from metadata but cannot have data purged due to overlapping counterparts. So triggering compaction based on it may not be generically efficiently, like u pointed out. We do have a me

[2020-02-24 19:34] vladzcloudius commented on #5469
If it's about having an extra line in the patching script vs the possibility of creating a havoc in the cluster than I think it's pretty obvious what's preferable.

[2020-02-24 20:29] fgelcer commented on #5759
there is build ongoing under branch-3.3 (because it was copied from job of branch-3.3), inside staging a job running against latest 3.2 AMI.

[2020-02-24 21:37] nyh opened #5895 "alternator: removing all elements from a set should remove the entire attribute"
DynamoDB explicitly does not allow empty sets to exist as attribute values (see for example https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html).
Therefore, a DELETE expression removing **all** items from a set cannot leave it empty - as Alternator wrongly does today. Instead, it should delete the entire attribute. This is what DynamoDB does in thi

[2020-02-24 22:23] nyh opened #5896 "alternator: empty string, blob or set should not be allowed"
DynamoDB does not allow empty string, blog or sets to exist (see https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes).
In particular, setting them with PutItem, UpdateItem+AttributeUpdates or UpdateItem+UpdateExpression should all be rejected.

Here is an example test (for UpdateItem+AttributeUpdates) which passes on DynamoDB,

[2020-02-25 03:04] asias commented on #5790
1) Issue 1

@roydahan @ShlomiBalalis I am pretty sure the we have lost some lines of scylla logs. I saw this recently when @amoskong runs repair based bootstrap perf test with  SCT. I think this happens again within the test here again.

In node2.log, I am pretty sure we lost at least one line that says we are Unbootstrap with [10.0.93.205, 10.0.46.101, 10.0.64.93] for keyspace1, because this log

[2020-02-25 03:05] asias commented on #5768
I am merging this issue to https://github.com/scylladb/scylla/issues/5790

[2020-02-25 03:18] asias commented on #5790
Perhaps we can use the trick similar to patch below to add the timeout for streaming and prove the theory.

@denesb Anything below `git log b06b34478ed..27b36beb4ab` might related to reader dead lock.

[code]

[2020-02-25 06:53] denesb commented on #5790
The commits mentioned greatly improve the accuracy of the tracking of the memory consumption of readers. This might cause the semaphore to block even before the `count` units run out, making any deadlocks happen earlier.

[2020-02-25 07:22] psarna commented on #5886
Ugh, yes. I hoped that alternator can stay out of the `storage_service` super-combo-service, but it looks like decommission is one of the reasons why there needs to be a dependency... In short, instead of having the shutdown routines for alternator only exist in `main.cc`, they should be part of storage service's `shutdown_client_servers()` - which is called during regular shutdown, but also durin

[2020-02-25 07:40] psarna commented on #5886
By the way, I wonder if the same goes for our redis API - I don't see any redis-related shutdown hooks in storage_service, so it's quite likely.

[2020-02-25 07:41] slivne commented on #5896
I don't think this is urgent it can be marked as a bug and we can do it post 3.4 - its low priority

[2020-02-25 07:43] fruch commented on #5886
I'm sure it applies to Redis API too, but we didn't yet got to testing Redis API

[2020-02-25 07:43] slivne commented on #5664
@nyh / @gleb-cloudius lets fix this if its needs to be fixed.

[2020-02-25 07:47] slivne commented on #5787
Before closing

Putting aside Alternator:

@gleb-cloudius If a cluster has RF=3 and 3 nodes and we decommission a single node - can't we run LWT queries ? I think we should be able to (regular reads and writes with QUORUM consistency do work in this scenario).

If the nodes were overloaded and that is the source of the issue then we can close this.

[2020-02-25 08:17] gleb-cloudius commented on #5787
On Mon, Feb 24, 2020 at 11:47:56PM -0800, Shlomi Livne wrote:

Of course, but any error by any remaining node will cause it to fail (no HA).

Yes, both remaining nodes had errors due to overload.

--
			Gleb.

[2020-02-25 08:27] nyh commented on #5896
@slivne I'm discovering these bugs as I write more tests, often while writing tests for other things and thinking of more corner-cases I didn't previously consider. I agree that this is a low-priority bug, but if its fix is trivial, and the hard part (discovering it and writing the test) is already done, then it's worth just getting it over with. I'll see how it works out.

[2020-02-25 09:07] slivne commented on #5787
@kostja lets add a test of 3 nodes RF=3 and decomission one node and see that LWT still works.

Once we have this test in dtest we can close this issue.

For alterantor I don;t think we need anything.

[2020-02-25 09:47] eliransin commented on #5768
@ShlomiBalalis did it reproduce?

[2020-02-25 09:54] kostja commented on #5787
These are items 3.3 and 3.4 from the test plan (dtest) and 4.2, 4.3 (scylla-cluster-test, stress test). Both in patch-pending. Closing then.

[2020-02-25 09:54] #5787 closed

[2020-02-25 10:54] eliransin commented on #5768
For completeness, there are some warnings in the log that are related to streaming:
[code]

[2020-02-25 10:55] bhalevy commented on #5881
@avikivity I don't see why not. (also in 3.3)

[2020-02-25 10:57] nyh commented on #5864
Added a test for this feature: `test_item.py::test_update_item_delete`.

[2020-02-25 10:58] nyh commented on #5893
Added a test for this feature: `test_item.py::test_update_item_add`.

[2020-02-25 11:32] ShlomiBalalis commented on #5768
@eliransin It didn't, but that's because we ran into a different issue before a new node was added and the streaming began - #5790

[2020-02-25 11:37] kostja commented on #5891
A possible cause of #5834

[2020-02-25 11:38] haaawk commented on #5880
@bhalevy I reverted https://github.com/scylladb/scylla/commit/6c7aa1823826817b38268871a0633a818cd98495 and the test keeps failing. I think there's little chance my change is related because it does not change any behavior. Everything still uses global partitioner.

[2020-02-25 11:43] avikivity commented on #5790
Repair reads shouldn't go through the concurrency semaphore

[2020-02-25 11:46] asias commented on #5790
We do have a streaming reader semaphore.

[2020-02-25 11:54] asias commented on #5790
The issue we had:

https://github.com/scylladb/scylla/issues/3866
https://github.com/scylladb/scylla/issues/4693

[2020-02-25 12:30] fgelcer opened #5898 "node added to cluster takes ~5 hours to bootstrap"
running job 200GB 48 hours on enterprise-2019.1.5
version: 2019.1.5-0.20200220.3ce1d94b2
running with 4 nodes
ami-id: ami-06531cd48ab60cf29

after 5 hours of bootstrapping, i see:

[code]

it started all fine, and there are no apparent issues during the bootstrap process:
[code]

logs can be found here below:
[code]

[2020-02-25 12:30] slivne commented on #5414
cosing the issue if it reproduces - please open a new bug with exact time it took and how much time you waited (and if there were stalls in scylla)

[2020-02-25 12:40] fgelcer commented on #5898
could be related to #5768

[2020-02-25 13:00] fgelcer commented on #5898
maybe here there are more logs (if not, relate to the ones in the issue description):
[code]

[2020-02-25 13:10] slivne commented on #5898
please mve to enterprise 2019.1.5 is an enterprise release

[2020-02-25 13:10] #5898 closed

[2020-02-25 13:15] fgelcer commented on #5898
done.

[2020-02-25 13:51] eliransin commented on #5385
@avikivity ping

[2020-02-25 14:07] eliransin commented on #5887
@dekimir can you please have a look?

[2020-02-25 14:42] avikivity commented on #5385
Backported to 3.3, 3.2, 3.1.

[2020-02-25 14:55] jul-stas commented on #5709
We discussed it few minutes ago on CDC meeting and the conclusion is:
- row deletes shall put the entire row being deleted into preimage;
- range/partition deletions shall not generate any preimage data.

[2020-02-25 15:00] elcallio opened #5899 "Commitlog should not add trailing zeros to segment if this exceeds max_size"
When terminating (closing) a segment, we write a trailing block of zero so reader can have an empty region after last used chunk as end marker. This is due to using recycled, pre-allocated segments with potentially non-zero data extending over the point where we are ending the segment (i.e. we are not fully filling the segment due to a huge mutation or similar).

However, if we reach end of segmen

[2020-02-25 15:04] gleb-cloudius commented on #5899
FWIW I am working on 2.

--
			Gleb.

[2020-02-25 15:07] piodul opened #5900 "CDC: a write can be recorded twice in cdc log"
In `cdc_tests.py:TestCdc` (PR: https://github.com/scylladb/scylla-dtest/pull/1330), the `cluster_reduction_with_cdc_test` sometimes fails and reports that the number of writes performed by the test does not match the number of log rows:

[code]

In this test, preimage is not turned on, so there should be 1-1 correspondence between the number of writes and log row count. Instead, the number of cdc

[2020-02-25 15:11] bhalevy commented on #5790
@denesb please look into the reader deadlock issue and follow up @asias proposal in https://github.com/scylladb/scylla/issues/5790#issuecomment-590662288

[2020-02-25 15:29] bhalevy commented on #5846
08363e50344925cd34548c5786811b55fb3bfcd8 merged to master in 884d5e2bcb47e7316be878fd3def3c320d3121e2

[2020-02-25 15:29] #5846 closed

[2020-02-25 15:30] bhalevy commented on #5846
backport to 3.3 is: 25b31f6c236b346835fcb397661a765cbfe34c0c
merged to next-3.3 in 7b2eb092255f71d4e51dc7f4e5a4754a210e494d

[2020-02-25 15:54] denesb commented on #5790
Whether this will be a good enough quick fix (it is not a complete solution by any standard) depends on the goal. This patch should ensure we don't deadlock, however it will still cause issues. Without a matching retry mechanism this will essentially serve as a Russian roulette for reads, aborting the unlucky ones.

The real problem here is that we are trying to overcommit the concurrency semaphor

[2020-02-25 15:57] #5736 closed

[2020-02-25 16:00] piodul commented on #4991
Fixed in https://github.com/scylladb/scylla/pull/5724, closing

[2020-02-25 16:00] #4991 closed

[2020-02-25 16:16] bhalevy opened #5901 "Making output streams for sstable file_writers should be moved out of the constructors"
As noted by @espindola in https://github.com/scylladb/scylla/pull/5509#discussion_r377289279

[2020-02-25 16:44] eliransin commented on #5840
it looks like serialization/de-serialization error.
@haaawk can the above be related to your series: 31593e1451f44852f6e28bc7c3c8dd2500f079bf ?
It is a mixed cluster with only part of the nodes containing the change.

[2020-02-25 18:40] roydahan commented on #5768
please leave this issue open, even if you suspect it's the same as
#5790.

[2020-02-25 19:01] elcallio commented on #5899
Oh, I already wrote a patch for both. Think I forgot to send it though... scatterbrain...

[2020-02-25 19:36] tzach commented on #5656
reproducer by @espindola

[code]

[2020-02-25 20:57] #5616 closed

[2020-02-25 20:57] #5640 closed

[2020-02-25 20:57] #5818 closed

[2020-02-25 20:57] #5828 closed

[2020-02-26 00:31] veramine opened #5902 "Feature request: Allow more than one LIKE relation for a single column"
We are testing out LIKE support added in Scylla 3.2.  It works very well and we think this can replace some of our elasticsearch usage (yay!).  However, we need to use multiple LIKE constraints on the same column.  For example:

create table clothes (speciesid int, familyid int, clothingid int, clothingdescription text, primary key ((speciesid, familyid), clothingid));
insert into clothes (species

[2020-02-26 00:54] dekimir commented on #5902
Hey, I'll do anything for our users. ;) What's your timeline?

On Tue., Feb. 25, 2020, 7:31 p.m. Veramine, <notifications@github.com>
wrote:

[2020-02-26 00:56] veramine commented on #5902
Oh, there's no rush.  If 3.3 is already baked, 3.4 would be fine.  Thanks.

[2020-02-26 01:51] asias commented on #5790
I suggest the following patch as a debugger to narrow down the issue. If the stall comes from the reader or not. It is not supposed to be a fix.

[code]

A side question, I tried reader(now() - std::chrono::minutes(10)), the time point is in the past, but it did not throw. Is this expected?

For repair, yes, we can have multiple readers created more than the per shard streaming reader semaphore co

[2020-02-26 02:24] asias commented on #5768
The reason for the failure of the bootstrap is that node4 was restart during the bootstrap. See the logs below. Why was node4  restarted at 2020-02-08T07:49:35? By another nemesis? To clear the picture a little bit, the bootstrap failure is expected.

[code]

Also, in the log @eliransin  showed https://github.com/scylladb/scylla/issues/5768#issuecomment-590808082

The out of disk error will make a

[2020-02-26 02:27] asias commented on #5768
@ShlomiBalalis I did not get it. What prevents to reproduce the issue? What are you trying to reproduce exactly, the streaming of the bootstrap takes too much time?

[2020-02-26 02:30] asias commented on #5790
@denesb According to https://github.com/scylladb/scylla/issues/5768#issuecomment-591204478, we have another hang producer, which is the on the existing node which streams data to the joining node. The difference is that, the existing node streams to only one node (joining node), it has even less readers for streaming, one reader per shard at most.

[2020-02-26 06:15] denesb commented on #5790
@asias a single reader should never deadlock. Anything more than that *can* however, even as few as 3.

[2020-02-26 07:10] asias commented on #5790
To make some progress and narrow down the issue,  I propose to run the test again with this branch: https://github.com/asias/scylla/tree/issue_5790_decommission_never_ends
which is on top of the commit used in the test + the reader timeout.
@denesb @roydahan Any objections? @denesb Do you want to add more debug code?

It does not matter if it is bootstrap or decommission that stalls. Reproducing e

[2020-02-26 07:14] asias commented on #5887
@bhalevy Do you mean select * is correct and as expected but select count(*) is not. The repair itself is fine, we have a problem in the cql query level?

[2020-02-26 07:30] denesb commented on #5790
No objections.

[2020-02-26 08:35] roydahan commented on #5790
No objections but we need either RPMs that are installable on top of AMI (master?) or simply AMI.

[2020-02-26 08:46] asias commented on #5790
I can build the rpms on my machine and upload. (IIRC, Last time I uploaded to Google Drive and you accept rpms on s3 or gce storage only so I uploaded again).

But I am wondering why QA does not have the infrastructure to build a specific branch and run.

[2020-02-26 08:47] roydahan commented on #5768
@asias yes, the failure of the streaming is known and understood.
It happened because we have a timeout for bootstrap to take no longer than 3 hours, the problem described in this issue is why it took that long to bootstrap.

(After we reach the timeout, we stop the current nemesis and new nemesis will follow, in case it’s a disruptive nemesis it will fail the streaming).

[2020-02-26 09:56] asias commented on #5768
OK. What about the out of disk space error? Is that expected? A theory: the c-s write workload keeps writing until bootstrap is finished. It took longer and generated more data than the nodes can hold.

[2020-02-26 10:08] bhalevy opened #5903 "short_read_test segfault during shutdown"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/400/artifact/logs-release.2/1582682809583_consistency_test.TestConsistency.short_read_test/node1.log
Scylla version 25a763a187a8e905d5cdba8e73b20ea7846e349c
[code]

[code]

[2020-02-26 10:10] bhalevy commented on #5903
core dump is [here](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/400/artifact/logs-release.2/1582682809583_consistency_test.TestConsistency.short_read_test/node1-reactor-1.39693.1582682397.core.gz)
reloc package:
on jenkins: https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/483/artifact/scylla/build/release/scylla-package.tar.gz
on s3: http://down

[2020-02-26 10:10] roydahan commented on #5768
No, it’s just a Enospc nemesis.

[2020-02-26 10:12] amoskong opened #5904 "CDC c-s workload got stuck with WriteTimeoutException"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200224.25a763a187a
Cluster size: 6
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-075546eca3f85ea74

### Test configuration:

instance_type_db: i3.4xlarge  * 6
instance_type_loader: c5.xlarge  * 2
n_db_nodes: 6
n_loaders: 2
ami_id_loader: ami-08488048283fc2ad2

nemesis_class_name: ChaosMonkey

test_id: 4ee0a8d6-cec7-4c87-9d7c-94

[2020-02-26 10:18] asias commented on #5790
I built the rpms and uploaded here: scratch.scylladb.com/asias/stream_reader_timeout

[2020-02-26 10:52] avikivity commented on #5858
Backported to 3.2, 3.3 (all affected versions).

[2020-02-26 10:53] avikivity commented on #5842
Since alternator is still experimental, and this doesn't affect normal operation, not backporting.

[2020-02-26 10:57] avikivity commented on #5800
Will backport, but later after it gets some more mileage in master.

[2020-02-26 10:58] avikivity commented on #5793
We do need to backported to 3.1. 3.1 support will stop only after 3.3 is released.

[2020-02-26 10:59] avikivity commented on #5741
As the conclusion was not to backport, removing the backport candidate label.

[2020-02-26 11:18] avikivity commented on #5701
Backported to 3.3, 3.2, 3.1.

[2020-02-26 11:43] bhalevy opened #5906 "Tokens change ownership again after restarting replacing node in replace_first_boot_test"
Regression seen since https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/383/testReport/replace_address_test/TestReplaceAddress/replace_first_boot_test/
Scylla version 2816404f575545ac40933bbbd8621abade2f6c9f
[code]

Test replaces node3 with node4 while node3 is stopped.
It counts the number of tokens that changed ownership by the number of "Token .* changing ownership fr

[2020-02-26 11:44] bhalevy commented on #5906
Most recently hit in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/400/testReport/replace_address_test/TestReplaceAddress/replace_first_boot_test/
Logs are in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/400/artifact/logs-release.2/1582685714649_replace_address_test.TestReplaceAddress.replace_first_boot_test/

[2020-02-26 11:53] bhalevy opened #5907 "logalloc::basic_region_impl::set_reclaiming_enabled(bool): Assertion `seastar::local_engine->cpu_id() == _cpu' failed during repair"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/400/artifact/logs-release.2/1582684464040_repair_additional_test.RepairAdditionalTest.repair_disjoint_row_2nodes_diff_shard_count_test/node1.log
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/400/artifact/logs-release.2/dtest.log
[code]

[2020-02-26 11:57] bhalevy commented on #5907
Core dump [here](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/400/artifact/logs-release.2/1582684464040_repair_additional_test.RepairAdditionalTest.repair_disjoint_row_2nodes_diff_shard_count_test/node1-scylla.29127.1582684460.core.gz)

reloc package:
on jenkins: https://jenkins.scylladb.com/view/master/job/scylla-master/job/build/483/artifact/scylla/build/release/s

[2020-02-26 11:57] bhalevy commented on #5907
Same crashes in several other repair tests:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/400/artifact/logs-release.2/1582684464040_repair_additional_test.RepairAdditionalTest.repair_disjoint_row_2nodes_diff_shard_count_test/node1.log
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/400/artifact/logs-release.2/1582684551381_repair_addition

[2020-02-26 12:03] bhalevy commented on #5907
Reproduced locally.
I'm now testing with d0b6be0820b5ec8a8ef44305164760552e177999 reverted

[2020-02-26 12:05] bhalevy commented on #5903
@xemul please look into this to see if it could be related to recent changes you made

[2020-02-26 12:09] bhalevy commented on #5907
No, that wasn't it.

@tgrabiec please take a look at this.

[2020-02-26 12:12] piodul commented on #5737
Correction: unfortunately it turns out that the `cdc` column is added even if `--experimental cdc` option is not set. PR https://github.com/scylladb/scylla/pull/5908 will not remove this column. CDC metadata will still be written to both cdc column and cdc schema extension, but only the latter will be ever read and treated as a "source of truth" on cdc metadata.

Related: https://github.com/scylla

[2020-02-26 13:00] bhalevy opened #5909 "sstable_datafile_test: tombstone_purge_test is flaky"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1660/
But is seems like an existing issue, not regression in next.
Scylla next version ea08d7a0df40ea7ab64646217b57e95077230caf (master version d17ebde46bbbd931981432dcc2eb7f6aef92d2b1)

[code]

[2020-02-26 13:02] bhalevy commented on #5909
@denesb said:

[2020-02-26 13:04] bhalevy commented on #5614
@scylladb/scylla-maint please backport to 3.3

[2020-02-26 13:13] slivne commented on #5790
@ShlomiBalalis please update once you run

[2020-02-26 13:20] denesb commented on #5909
Hard to tell where exactly the problem is because nothing is known where exactly in the test the failure occurs. I didn't see anything obvious just looking at the code. Yes, it uses `gc_clock::now()`, which is the usual source of such flakyness, but it uses `forward_jump_clocks()` to make cells expired, instead of relying on some amount of time having passed.

[2020-02-26 13:42] xemul commented on #5903
The token meta is already sopped, while storage_proxy is still running it jobs.

[2020-02-26 15:04] tgrabiec commented on #5907
@bhalevy scylla-package.tar.gz doesn't contain debug info for the libs. Do we ship it separately?

[2020-02-26 15:08] haaawk commented on #5840
Is there a way for me to replay the test and reproduce the problem? Just manually performing rolling upgrade is enough or do I have to run some specific load on the cluster while upgrading?

[2020-02-26 15:28] haaawk commented on #5840
@eliransin @slivne
@ShlomiBalalis said that `This error repeatedly occurred up until 2020-02-19T16:18:44+00:00`
My change was merged on 5th Feb. Could it be possible that there was no failure for 2 weeks?

[2020-02-26 15:37] haaawk commented on #5840
I see last successful build (#38) was based on:
[code]
And first failing build (#39) was based on:
[code]

but I can't find those hashes in scylla repo. How can I get them?

[2020-02-26 15:40] haaawk commented on #5840
I see `scylla_repo_m: http://repositories.scylladb.com/scylla/repo/qa-test/centos/scylladb-2019.1.repo` in logs. Does that mean the task is for enterprise?

[2020-02-26 16:11] yarongilor opened #5911 "Bootstrap streaming takes very long time - over 3 hours"
Installation details
Scylla version (or git commit hash): 3.3.rc1-0.20200209.0d0c1d43188
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-03cb8ec88d4f2c5fb eu-west1
test id: dd68e1c2-45fe-404e-94c3-8c7d1f7e8559

scenario: ran 1tb longevity and issue a nemesis of TerminateAndReplaceNode. A new node starts bootstrapping, which doesn't finish after (SCT timeout period of) 3 hours, so a test excep

[2020-02-26 16:13] avikivity commented on #5688
Backported to 3.3.

[2020-02-26 16:17] avikivity commented on #4844
The fix is too involved to be backported, and since it only involves shutdown+tracing, we can tolerate this bug in released versions. Removing backport candidate label.

[2020-02-26 16:20] avikivity commented on #4054
This is just a unit test enhancement, no need to backport.

[2020-02-26 16:27] yarongilor commented on #5768
opened https://github.com/scylladb/scylla/issues/5911 for version 3.3

[2020-02-26 16:35] avikivity commented on #5874
@amoskong some poor users do not have root access to their machines. So rpm/deb are not usable for them.

Relocatable packages have the following benefits:
 - they already exist as the source for our rpm/deb packages, so we don't need to work to create them
 - they demand very little from the host regarding installed libraries and versions, and so should work on most hosts without tweaking

[2020-02-26 16:50] denesb commented on #4506
Fixed in 18581cfb76472f65a88b6b40817a4331da652ca2 so now all readers on all shards use the same priority class, however `query_mutation_on_all_shard()` still doesn't take a priority class itself and always uses `service::get_local_sstable_query_read_priority()`.

[2020-02-26 16:52] #4506 closed

[2020-02-26 16:56] denesb commented on #4176
Copying here an off-line discussion for the record.

@avikivity:

me:

@avikivity:

[2020-02-26 17:02] avikivity commented on #4506
@denesb please file an issue for q_m_o_a_s().

[2020-02-26 17:16] #5669 closed

[2020-02-26 17:16] #5895 closed

[2020-02-26 17:16] #5886 closed

[2020-02-26 17:16] #5896 closed

[2020-02-26 17:16] #5725 closed

[2020-02-26 17:16] #5753 closed

[2020-02-26 18:45] tzach opened #5912 "CDC: include update in the trace"
It would be useful to have CDC functionality as part of the Scylla trace path, including slow trace capture.

[2020-02-26 18:48] psarna opened #5913 "Alternator server auth cache is erroneously cross-shard"
Due to how Seastar http server is implemented, `alternator_server` is not a sharded service, but instead holds a non-sharded `server_control`, which in turn keeps a sharded http server instance.

It's easy to mistake the `alternator_server` to be sharded however, as I did, when implementing auth routines. As a result, the auth code uses a single instance of credentials cache created on shard0, reg

[2020-02-26 18:56] xemul commented on #5903
The internals of storage_proxy::query go woken up at the end of the shutdown.

[2020-02-26 19:26] roydahan commented on #5911
@yarongilor we found out in the bug that @fgelcer opened for 2019.1 that the cause was high CPU utilization due to previous ALTER nemesis.
Please check if it’s the same case in your test.

[2020-02-26 23:04] #3003 closed

[2020-02-26 23:04] #4208 closed

[2020-02-27 03:34] amoskong commented on #5874
So original offline installer (based on rpm/deb package repo) should be the recommended (supported) solution for offline installation.

We can't replace original offline installer by the relocated solution, and only use it for the poor users.
In our testing, I didn't limit users' permission,  used sudo to change the files' attribute and scylla_setup.
I will retest it.

[2020-02-27 07:24] eliransin commented on #5880
Found the bug. We indeed don't have a **users** table anymore - it is called **roles** :)
Will open a dtest issue and fix it. I will close this once I am referencing it from dtest.

[2020-02-27 07:28] yarongilor commented on #5911
@roydahan , the long bootstrap duration is reproduced on every occurrence of the terminate-and-replace nemesis. so there is low chance for a previous cpu root problem. i can still try checking that in some of the test nemesis.

[2020-02-27 07:41] eliransin commented on #5880
closing since it is not a bug in Scylla .

[2020-02-27 08:08] denesb commented on #4506
@avikivity the other query_ variants don't take a priority class. Is there a reason `query_mutation_on_all_shard()` should be different in this regard? I realize the description of this issue might suggest that `query_mutation_on_all_shard()` is the entry point for all range scans, but in fact it is only used for queries (like its name suggests), repair for example uses `make_multishard_streaming_

[2020-02-27 08:21] eliransin commented on #5840
@haaawk the revisions you looked at are the revisions of scylla-artifact-test repo which is the one that
jenkins is pulling in this job.
Nevertheless I agree that the logs are impossible to make sense of and in fact I am not even sure
that the information is in the logs and not in some QA machine that ran the test (or at least part of it).
This is why I have just opened scylladb/scylla-artifact-te

[2020-02-27 10:21] xemul commented on #5903
This is migration_manager's register_definitions_update's lambda. It creates a fiber with merge_schema_from which ends up in storage_proxy.query. These fibers are not aborted/waited on shutdown.

[2020-02-27 11:11] bhalevy commented on #5887
Correct. So it appears.

[2020-02-27 11:15] bhalevy commented on #5849
@xemul what versions are vulnerable?

[2020-02-27 11:36] xemul commented on #5849
@bhalevy , 3.2 and 3.3 only. The call for db.local() inside set_config's lambdas (the one that crashes) was introduced after 3.1 with commit b663cd17

[2020-02-27 11:41] slivne commented on #5765
merged as scylladb/scylla@7b2eb092255f71d4e51dc7f4e5a4754a210e494d

[2020-02-27 11:41] #5765 closed

[2020-02-27 11:52] yarongilor commented on #5759
similar reproduction on another 2TB longevity run:

[code]

[2020-02-27 11:54] slivne commented on #5840
Lets try to bisect, this on jenkins using its upgrades and daily builds and see if we can get more fine grained range.

[2020-02-27 12:04] bhalevy commented on #5907
No, we don't.  Maybe a way around it might be to use dbuild at the right version and install the debug info for the libs there for the gdb session.

[2020-02-27 12:27] asias opened #5915 "streaming: total_incoming_bytes and total_outgoing_bytes metrics should be monotonic"
Since a6d6341627160c986094ee98227c92ed29b55f44, those metric increases and decreases as the stream sessions are created and destroyed. We should make them a  prometheus monotonically increasing
counter for easier monitoring.

[2020-02-27 12:28] asias commented on #5915
Fixed in d90836a2d3236784836857f425c88ded3b0a5298.

[2020-02-27 12:28] #5915 closed

[2020-02-27 13:07] fgelcer commented on #5759
Test on 3.2 failed to reproduce the issue. no coredumps in this execution.
There were few repair issues, that will be investigated and if an issue is found, another issue will be raised.

[2020-02-27 13:16] roydahan commented on #5911
There is another run that need to be properly investigated.
If it happens, reopen it.

[2020-02-27 13:28] roydahan commented on #5768
@ShlomiBalalis please check if it's the same or similar issue to https://github.com/scylladb/scylla-enterprise/issues/1268

[2020-02-27 13:30] tgrabiec commented on #5907
I am unable to reproduce locally.

Tried opening in dbuild. The image `docker.io/scylladb/scylla-toolchain:fedora-31-20200128` has a matching libc but debug info packages are not installed.

They cannot be installed due to https://github.com/scylladb/scylla/issues/5350:

[code]

Worked around by downloading manually.

But looks like GDB has problems with scylla debuginfo (all scylla frames have al

[2020-02-27 15:33] fruch opened #5916 "coredump during scylla RPM install"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200226.cf8354f703f
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): Centos RPM

## Summary

While installing the RPM we are getting
[code]

## Logs:
* **RPM repo**: https://s3.amazonaws.com/downloads.scylladb.com/rpm/unstable/centos/master/2020-02-26T20:59:19Z/scylla.repo
* **Jenkins run**:  https://jenkins.scylladb.co

[2020-02-27 15:36] fruch commented on #5916
This was reproduced on the new artifact test running in GCE (i.e. not on muninn and not with avocado+libvirt)

[2020-02-27 17:16] yarongilor opened #5917 "coredump during no-corrupt-repair during 2TB-parallel-nenesis longevity"
Installation details
Scylla version (or git commit hash): 3.3.rc1
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0c85a055819845e7f eu-west1

During no-corrupt-repair on node 10.0.22.68 :
[code]

test details:
Test-id: 835dca26-2b7a-46e9-b365-c8774df2e2b6
Test details
Start time: 2020-02-24 15:45:58
End time: 2020-02-27 08:38:21
Build URL: link
Test run by User: yarongilor
System under test
S

[2020-02-27 18:44] tgrabiec commented on #5907
[code]

Looks like `seastar::async()` from `row_cache::invalidate()` was called on shard 0, but the row cache instance belongs to shard 1. This suggests that the continuation which calls `invalidate()` was for some reason scheduled on shard 0 instead of shard 1.

I examined the current task_queue's past slots in the circular_buffer, and some of the past slots indeed point to task objects which bel

[2020-02-27 19:15] yarongilor opened #5918 "nodetool drain is stuck for more than 24 hours during 2TB-parallel-nenesis longevity"
Installation details
Scylla version (or git commit hash): 3.3.rc1
Cluster size: 4
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0c85a055819845e7f eu-west1

scenario:
2TB-parallel-nenesis longevity
a nodetool drain nemesis started on node:

[code]
then it just got stuck forever , not returning a result , only after more than 24 hours where the db instances were manually deleted:
[code]
test details:
Test-id

[2020-02-28 09:21] denesb commented on #5907
@tgrabiec how did you solve the missing debuginfo problem?

[2020-02-28 09:34] haaawk commented on #5812
Actually this problem is caused by tests starting multiple nodes at the same time. CDC assumes nodes will be added to the cluster one by one. To avoid this problem we need to make sure tests start nodes sequentially.

[2020-02-28 09:52] denesb opened #5919 "Classify queries based on initiator, instead of target table"
Queries are classified as `user` or `system` based on the table they target. This classification determines various limits that applies to queries:

| what            | system  | user      |
|-----------------|---------|-----------|
| timeout         | no      | yes       |
| concurrency [1] | 10/2%/∞ | 100/2%/2% |
| max memory [2]  | ∞       | 1MB       |

[1] count / memory / queue memory
[2] no

[2020-02-28 10:01] denesb commented on #5812
@haaawk AFAIK this also happens sometimes in production clusters, to spin up a new DC. Add a bunch of new nodes with `auto_bootstrap=false`, then rebuild the DC. Someone with more operations experience (@glommer) will be able to confirm/dismiss.

[2020-02-28 10:34] aleksbykov opened #5920 "CDC: error during deleting rows by range, if range is empty "ServerError: cdc: could not find timestamp of mutation""
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200224.25a763a187a
Cluster size: 3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0cd7696b2bfc87cc7

Gemini tool is running vs 3 nodes test cluster over table with cdc enabled(reproduced for both modes preimage enabled/disabled) . Next command is
[code]

Next schema was generated:
[code]

While gemini apply mutation INSERT

[2020-02-28 12:46] gibsn opened #5921 "Aggressive compactions and poor read performance after bootstrapping"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.1.1
Cluster size: 9 nodes
OS (RH

[2020-02-28 12:59] gibsn opened #5922 "Huge timeouts after updating 3.1.1 => 3.2.2"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [*] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.2.2
Cluster size: 9 nodes
OS (RH

[2020-02-28 13:27] yousefmasry4 commented on #4964
Correction: apt-get does not require python, so you should be able to reinstall normally:

sudo apt-get install python3
sudo apt-get install python3-aptdaemon

[2020-02-28 13:56] tgrabiec commented on #5907
I didn't, I reached those object through thread-local state, which is not
optimized-out. Objects reachable through frames in the backtrace are
optimized-out.

On Fri, Feb 28, 2020 at 10:21 AM Botond Dénes <notifications@github.com>
wrote:

[2020-02-28 14:00] denesb commented on #5907
Interesting, I've never seen anything like that.

On Fri, 2020-02-28 at 05:56 -0800, Tomasz Grabiec wrote:

[2020-02-28 16:05] #5830 closed

[2020-02-28 16:05] #5804 closed

[2020-02-28 16:05] #5913 closed

[2020-02-28 16:41] dekimir commented on #5887
I cannot reproduce this on my machine:
[code]

[2020-02-28 19:19] dekimir commented on #5887
Scratch that, I'm able to reproduce after git pull and rebuild of Scylla.

[2020-02-28 21:08] vladzcloudius opened #5927 "Add support for a compaction of one of more user defined SSTables"
*Installation details*
HEAD: 4e95b67501c33e3f9ea0b1d2cfbd428a640e494a

*Description*
Add support for compacting one or more user defined SSTable similar to Cassandra as described here:
https://docs.datastax.com/en/dse/5.1/dse-admin/datastax_enterprise/tools/nodetool/toolsCompact.html

This is particularly helpful when one needs to get rid of the expired data but the compactition strategy doesn't d

[2020-02-28 21:09] vladzcloudius commented on #5927
@glommer @raphaelsc FYI

[2020-02-28 21:11] glommer commented on #5927
This makes sense to have insofar as Cassandra has it.
(To be honest I don't quite like the option).

It's an easy project to do so I am marking this as entry level if anyone is looking for a way to start contributing.

[2020-02-28 21:19] raphaelsc commented on #5927
On Fri, Feb 28, 2020 at 6:08 PM vladzcloudius <notifications@github.com>
wrote:

Duplicate of #4907

[2020-03-01 06:12] bhalevy commented on #4469
For the record, hit again on 3.3: https://jenkins.scylladb.com/view/scylla-3.3/job/scylla-3.3/job/dtest-release/26/testReport/materialized_views_test/TestMaterializedViews/multi_mvs_on_different_populated_base_tables_test/

[2020-03-01 06:53] bhalevy commented on #5887
@dekimir we see it on Jenkins also only with dtest-debug.
It might be related to yielding in continuations in debug mode.

[2020-03-01 06:56] bhalevy opened #5928 "missing key in test_filtering_MV_new_primary"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/407/testReport/like_operator_test/TestLikeOperatorForMV/test_filtering_MV_new_primary/
Scylla version 134d5a5f7530861f15ba67aaecdb6e57cd1647ed

[code]

It's quite rare but reproducible (about 1 out of 20 runs)

[2020-03-01 06:57] bhalevy commented on #5928
@eliransin fyi

[2020-03-01 07:44] bhalevy opened #5929 "add_dc_after_mv_network_replication_test: Startup failed: std::runtime_error (bootstrap_with_repair: keyspace=ks, range=(9203054051880214880, 9220371454731773857], no existing node in local dc)"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/407/testReport/materialized_views_test/TestMaterializedViews/add_dc_after_mv_network_replication_test/
Scylla version 134d5a5f7530861f15ba67aaecdb6e57cd1647ed
(I assume this was introduced in 956b092012c64432b181b3960f5efebad1fbc3be `Merge "Repair based node operation" from Asias`)
[code]

https://jenkins.scylladb

[2020-03-01 07:44] bhalevy commented on #5929
@asias please look into this

[2020-03-01 08:21] bhalevy commented on #5627
No, I don't think it was reproduced yet on jenkins.

[2020-03-01 08:34] bhalevy opened #5930 "OOM during mv_populating_from_existing_data_during_extend_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/407/artifact/logs-release.2/1582995866790_materialized_views_test.TestMaterializedViews.mv_populating_from_existing_data_during_extend_test/node5.log
Scylla version 134d5a5f7530861f15ba67aaecdb6e57cd1647ed
[code]

[code]

[code]

Core dump is [here](https://jenkins.scylladb.com/view/master/job/scylla-master/job/dt

[2020-03-01 08:46] fruch commented on #5916
@bhalevy @slivne, this one is breaking master from promoting it's RPMs
https://jenkins.scylladb.com/view/master/job/scylla-master/job/centos-rpm/

the rest of the master job aren't triggered cause of that

[2020-03-01 08:58] slivne commented on #5930
please note this is after repair based operation was merged,

[2020-03-01 08:58] bhalevy commented on #5930
The node bootstapped with repair
Cc @asias

[2020-03-01 09:15] bhalevy commented on #4315
This test now fails in a different path.
See https://github.com/scylladb/scylla/issues/5907

Since we haven't seen this failure for a long while I suggest closing this issue.

[2020-03-01 10:32] slivne commented on #5927
duplicate - transferred the labels

[2020-03-01 10:32] #5927 closed

[2020-03-01 10:37] slivne commented on #5922
@gibsn
- can you please share the schema
- can you please share your scylla.yaml

Can you clarify a bit what requests are traced and how:
- do you use probabilistic tracing
- do you use client side tracing
- ?

[2020-03-01 10:42] slivne commented on #5921
scylladb/scylla#2687 - should solve the issue of bootstrapping new nodes with TWCS compaction.

[2020-03-01 10:46] slivne commented on #5921
So its clear - did you upgrade the new added node  from 3.1 --> 3.2 ?

What is the current state of the cluster ?
8 nodes 3.1
1 node 3.2 ?

[2020-03-01 10:51] slivne commented on #5919
ref #4711

[2020-03-01 10:52] slivne commented on #5919
#5870 - can't be merged without having this fixed.

[2020-03-01 10:55] slivne commented on #5918
is it related to https://github.com/scylladb/scylla/issues/5790

[2020-03-01 10:56] gibsn commented on #5921
@slivne

3.1.1 => 3.2.2

8 nodes 3.1.1, 1 node 3.2.2

[2020-03-01 10:58] slivne commented on #5917
which nemesis ran here ?

[2020-03-01 10:59] slivne commented on #5917
We have another issue related to alter table enable deflate in another bug.

Is this the same ?

[2020-03-01 11:02] slivne commented on #5917
@roydahan

[2020-03-01 11:04] slivne commented on #5916
@fruch how can we tests this manually ? what do you run on gce.

If you can provide exact instructions it will replace a lot of guessing.

[2020-03-01 11:10] slivne commented on #5904
where is the monitor ?

what features of CDC did you select - I can't find if you are using modify / pre_image ?

[2020-03-01 11:17] fruch commented on #5916
it's basically:
`sudo yum install -y scylla`

here is the log of it in GCE:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/artifacts/job/artifacts-centos8/3/artifact/scylla-cluster-tests/latest/sct.log/*view*/

it's doing the same commands this those tests were doing, configuring repo and installing

the full commands:
[code]

[2020-03-01 11:18] slivne commented on #5900
what is the size of cluster you start with and after decomission.

e.g.

did  started from 3 nodes with RF=3 and decommissioned one node, or from 4 nodes with RF=3 ?

do you have hintted_handoff enabled ?

although you have attempted to disable retries, lets double check that - e.g. maybe we can count the number of requests scylla received.

who produces these timestamps, is it client or server ge

[2020-03-01 11:38] slivne commented on #5856
@roydahan / @aleksbykov - need to return with master when we have a new ami

[2020-03-01 11:40] slivne commented on #5759
currently not a blocker

[2020-03-01 11:49] slivne commented on #5911
@yarongilor

- we need a case that this did not work - e.g. it took more than 3 hours and scylla was not at 100% cpu prior to the execution of adding/terminating a node.

[2020-03-01 11:50] slivne commented on #5790
@roydahan  I vaguely recall you had issues with the built rpms = yet the info is not in the issue - can someone please update this.

[2020-03-01 11:52] slivne commented on #5916
@avikivity

[2020-03-01 12:24] tzach commented on #5892
This look like a natural extension for the node_health_check script

[2020-03-01 13:06] gibsn commented on #5922
@slivne

https://pastebin.com/VCXM2H18

Will do tomorrow

do you use client side tracing

We use client side tracing with gocql. We trace only select requests, somewhat like:
`SELECT id4, id6, id7, id8 FROM ks.cf WHERE id1 = ? AND id2 = ? AND id3 = ? AND id5 = ? AND id4 > ? AND id4 < ? ORDER BY id4 DESC LIMIT ?`

[2020-03-01 13:26] gibsn commented on #5922
BTW I have just grepped client's logs and could not find any tracings from the affected node (with `source: $new_node_ip`)

[2020-03-01 15:53] dyasny commented on #5892
I'd rather be able to extend monitoring with this as well as be able to query the health and validity of the setup.

[2020-03-01 19:00] tzach commented on #5892
For sure that will be better and harder to do.

[2020-03-02 01:49] asias commented on #5929
/me looking

[2020-03-02 02:02] asias commented on #5906
I will look into it. It is probably something wrong with how we log. The replacing operation itself should be fine. Regarding the restarting the replaced node again issue, it has lower priority though.

[2020-03-02 02:05] asias commented on #5930
I will look into it along with the other one in the MV related tests , materialized_views_test.py:TestMaterializedViews.add_dc_after_mv_network_replication_test

[2020-03-02 03:27] asias commented on #5929
I am able to reproduce.
The problem is:

n1, n2, n3 added to the cluster in dc1
keyspace ks is created with RF = {dc1:1, dc2:1}
n3 is added to dc2, when n3 bootstraps, n3 can not find any node in the dc2.

The test is trying to add a new dc not following the supported procedure. https://docs.scylladb.com/operating-scylla/procedures/cluster-management/add_dc_to_exist_dc/

Before repair based node o

[2020-03-02 07:11] veramine commented on #5902
Awesome, thanks!

[2020-03-02 07:14] asias commented on #5930
What the test was doing:

1) Start 4 nodes n1 to n4
2) Create a base table ks
3) Create to 10 view tables and  Start n5 in parallel
4) Wait for the 10 view tables to be created.

The nodes are started with 512MB per shard. Repair is using minium parallel: 1 range to repair in parallel.

In node5.log, we can see the bootstrap had finished already when the Abort (lsa - Aborting due to allocation fai

[2020-03-02 07:51] denesb commented on #5919
@slivne I think we can fix https://github.com/scylladb/scylla/issues/5870 before this. We just need to make sure we don't limit system query memory, the same way we didn't limit it for reverse queries in https://github.com/scylladb/scylla/issues/5804.

This will not be a regression compared to what we have now. Instead of two sources of external queries having the possibility of causing OOM: user

[2020-03-02 08:01] haaawk commented on #5904
This is with preimage @slivne -> `AND cdc = {'enabled': true, 'preimage': true, 'ttl': 600}`

[2020-03-02 08:03] haaawk commented on #5904
I'm wondering whether this is a problem at all. If it works with 20 client threads and starts throwing WriteTimeoutException with more client threads then it may just be that more threads overload the cluster. @amoskong Could you please disable preimage and check what number of client threads you can reach then? preimage is pretty heavy operation so I wouldn't be surprised that the load has to be

[2020-03-02 08:14] #5723 closed

[2020-03-02 08:14] #5916 closed

[2020-03-02 08:25] psarna commented on #5928
@bhalevy, @aleksbykov (I see from git blame you wrote the tests:) ) it's just an issue with a test which reads from materialized views and doesn't take into account that their consistency is eventual. When reading from materialized views and asserting results, one needs to use some kind of a retry mechanism. Materialized view dtests have a bunch of `eventually` functions for that, you can grep for

[2020-03-02 08:33] amoskong opened #5932 "Large-collections workload stuck with some 8000+ stall"
*Installation details*
Scylla version: 666.development (ami-075546eca3f85ea74)
Instance type: i3.4xlarge
Number of scylladb nodes: 4
n_loaders: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami_id_db_scylla: ami-075546eca3f85ea74  (eu-west-1)

### Test INFO:

- test job: https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-large-collections-12h/1/
- test id: 1824983d-ae4c-4845-96ef-7d80

[2020-03-02 09:21] amoskong commented on #5904
I also touched WriteTimeoutException when preimage is disabled.

In my manual testing, the 20 threads workload executed longer time, but it also failed with WriteTimeoutException.

I just started a job with threads=20, and pre-image: false.  Let's see if the problem occurs.

[2020-03-02 10:09] amoskong commented on #5932
The first nemesis was executed on `longevity-large-collections-48h-mas-db-node-1824983d-4 [34.246.135.113 | 10.0.255.34] `

[code]

Nemesis code: https://github.com/scylladb/scylla-cluster-tests/blob/master/sdcm/nemesis.py#L1590

[2020-03-02 10:49] penberg opened #5933 "scylla-jmx and scylla-tools-java are kept back when upgrading to 3.2"
I first installed Scylla 2.3 on Ubuntu 18.04, and then upgraded 2.3 → 3.0 → 3.1 → 3.2, but `scylla-jmx` and `scylla-tools-java` are kept at 3.1. However, when I _first_ install Scylla 3.1, the upgrade works fine.

[code]

Upgrade log here:

[code]

[2020-03-02 13:51] syuu1228 commented on #5933
@penberg Reproduced on my side too, and I found it because previous version mistakenly installed with openjdk-11-jre, and we added Conflicts: openjdk-11-jre on new version:
https://github.com/scylladb/scylla-jmx/commit/236ffa6c9868cecf992bd471201d7fbe54d25ce4#diff-63756a56e8b5199f204f75a3bc11094a

After I removed openjdk-11-jre, it does not kept back -jmx and -tools anymore.
I suppose adding Confl

[2020-03-02 14:00] gibsn commented on #5922
@slivne

Sent to shlomi@scylladb.com

[2020-03-02 14:32] raphaelsc commented on #3458
closing it as #2687 is fixed.

[2020-03-02 14:32] #3458 closed

[2020-03-02 15:40] Solvik opened #5935 "Segfault in storage_proxy:: get_read_executor() with version 3.2"
*Installation details*
Scylla version (or git commit hash): 3.2.2-0.20200222.0b23e7145d0
Cluster size: 3 nodes
OS (RHEL/CentOS/Ubuntu/AWS AMI): Ubuntu 18.04

My cluster of 3 nodes is misbehaving since an upgrade from 2.3 to 3.0 to 3.1 to 3.2 I've performed over the week-end.
It's segfaulting every 15min to 1 hour.

Attached a [logfile](https://github.com/scylladb/scylla/files/4276233/logfile.txt)

[2020-03-02 16:28] Solvik commented on #5933
For anyone having this problem and finding this issue, a manual fix is to `apt-get install scylla-jmx scylla-tools-core`

It will upgrade the packages without any problem

[2020-03-02 17:05] let4be commented on #5414
Same issue here, after I did `nodetool clearsnapshots` and also dropped some no more used keyspaces via cqlsh - `nodetool cfstats ...` hangs forever

[code]

[2020-03-02 17:26] ghost opened #5936 "No prepared statement with ID found when using RUST and CDRS via prepared statement"
*Installation details*
Scylla version (or git commit hash): 3.0.6-0.20190503.bf68fae01
Cluster size: 3
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS

Getting the following error when executing a prepared statement in Rust via CDRS lib:

    No prepared statement with ID {any id} found.

That's somehow similar what's described on these email thread:

https://groups.google.com/forum/#!topic/scylladb-users

[2020-03-02 18:17] gnumoreno commented on #5936
@bruno-barin-ifood in the same discussion apparently Go had a problem in the driver.

`https://github.com/gocql/gocql/issues/1252`

Is there a chance it is the rust cdrs?

Anyway, I'm trying to get a dev to take a look asap.

[2020-03-02 18:40] syuu1228 commented on #5933
Seems like because it removes openjdk-11-jre:
[code]

[2020-03-02 19:44] slivne commented on #5414
@let4be - agreed,

yet to understand if its long time or hangged can you please share the info on how long you waited for nodetool cfstats to return.

[2020-03-02 19:49] let4be commented on #5414
I waited over 20 min with zero success - process `nodetool` was in `ps` output, I tried killing it multiple times and starting again - nothing helped.

When all this failed I decided to completely take pressure off scylla and stopped all data producers, scylla cpu usage fell basically to zero but I still could not get a response from `nodetool cfstats` in a sane time(within several minutes).
Resta

[2020-03-02 19:57] piodul commented on #5900
Some more details:

- Test started with a cluster with 4 nodes, then it was downsized to 3,
- Replication factor was 3,
- Hinted handoff was explicitly disabled.

For testing purposes, I added some code that prints mutations that come from CQL requests (to be more specific, I printed every mutation [from that vector](https://github.com/scylladb/scylla/blob/ba536dbc9530960a6132a0dc575fd31dee5365b2/

[2020-03-03 01:41] dorlaor commented on #5364
@fastio the lock per shard makes sense since each shard owns its keys and forward requests to the others. Better have @nyh @avikivity @penberg  here

[2020-03-03 02:46] asias commented on #5906
The test is problematic.
[code]

The check at line 227 will pass when n4 is finished replacing. It has nothing to do with the restart of the replaced node here. The restart of replaced node n3 will not faill at all.

At line 232, we restart n4 immediately, note at line 226, we did not wait fro n3's restart. If we really want to see what happens if n3 restarts, we should wait for it to finish resta

[2020-03-03 02:54] asias commented on #5906
I propose a patch to dtest like this:

[code]

[2020-03-03 02:55] asias commented on #3561
The compaction will reduce the number of data we sent which is good. However, on the other hand, it will trigger more work during the streaming and it might cause higher impact on the cql workload.

[2020-03-03 02:57] asias commented on #3561
Repair has the same problem. To solve this, we can introduce a compaction reader which compact  before it emits the results. @denesb

[2020-03-03 03:08] asias commented on #3561
@slivne @bhalevy @glommer I talked with @denesb  in the past, such reader is doable and is not that complicated, he needs someone to prioritize it.

[2020-03-03 06:00] amoskong commented on #5904
#### Workload with `threads=20` ,  `cdc = {'enabled': true, 'preimage': false, 'ttl': 600}`

`cassandra-stress user no-warmup profile=/tmp/cdc_profile.yaml ops'(insert=2,read1=1,update_number=1,update_name=1)' cl=QUORUM duration=240m -port jmx=6868 -mode cql3 native -rate threads=20 -node 10.0.107.9`

The workload failed (stuck) for IOException after executed `1 hour`.
We can also see many stall (

[2020-03-03 07:05] aleksbykov commented on #5856
@slivne Reran on master branch:
666.development-0.20200224.25a763a187a with build-id a07e6b1ffa65f9a76d1f0c7b0b03f5cd0282667e

Issue is not reproduced. But test failed because of : No space left on devices (scylla nodes)
![scr2](https://user-images.githubusercontent.com/44991177/75751003-058f3d00-5d58-11ea-8be5-d4094e82460c.png)
![scr1](https://user-images.githubusercontent.com/44991177/75751005-0

[2020-03-03 07:41] Solvik commented on #5935
It stopped happening from 6pm to 00am, but happened last night anyway

Here's a table to understand IPs in the logs
| name | IP |
|-|-|
| scylla-1 | 192.168.0.1 |
| scylla-2 | 192.168.0.2 |
| scylla-3 | 192.168.0.3 |

* 00:06:03: scylla-3 segfaulting (shard 1)
[code]

* 00:06:42: scylla-2 segfaulting (shard  1) and scylla-1 segfaulting (shard 0) at the same time
[code]

[2020-03-03 07:54] bhalevy commented on #5929
@asias, you mean `n4`?

[2020-03-03 08:11] asias commented on #5929
Yes, I modified the comments to avoid new readers.

[2020-03-03 08:16] psarna commented on #5832
note: while investigating huge alternator requests I found another possible source of stalls (~30ms for a 4MB request) - `serialize_collection_mutation`, used broadly via `collection_mutation_description::serialize`. A 4MB request creates a large collection, and serializing this whole collection is done without yielding - with a simple loop over all elements. Such large collections are fortunately

[2020-03-03 08:26] amoskong commented on #5585
can't reproduce this issue with latest master & latest 3.3.
We can close this issue.

[2020-03-03 08:26] #5585 closed

[2020-03-03 08:31] eliransin commented on #5880
The change that caused the test to fail is: 499e330ff9eff484199e33236b94f9a79a4c0367
In this change the partitioner is no longer global, so when trying to get the specific table partitioner we find out it doesn't exist. Before this change we returned the right endpoint but this is because the individual table didn't matter for determining the endpoint so scylla didn't fail the query even though th

[2020-03-03 08:31] #5880 closed

[2020-03-03 08:56] amoskong commented on #5570
Can't reproduce with problem with latest master & latest 3.3, let's close this issue.

[2020-03-03 08:56] #5570 closed

[2020-03-03 09:21] nyh opened #5937 "nightly docker doesn't work - rsyslog fails"
Running our latest docker image, e.g.,
[code]
Fails to run Scylla. In the log:
[code]

[2020-03-03 09:28] juliayakovlev commented on #4709
@asias

Reproduced in https://jenkins.scylladb.com/job/scylla-3.3/job/longevity/job/longevity-mv-si-4days/6

Scylla version: ```3.3.rc1-0.20200223.756574d0946```
Get logs: ```hydra investigate show-logs efda4b93-c29c-4248-a4c8-790923c084bf```

After node restart, during schema merge:
[code]

The messages were stopped when merge was completed:
[code]

[2020-03-03 09:46] nyh commented on #5937
Correction, even though the log looks like a failure, it seems that Scylla **does** run, I just don't see anything about Scylla in the logs ("docker logs scylla").

[2020-03-03 09:47] asias commented on #5929
I sent PR: https://github.com/scylladb/scylla-dtest/pull/1338 to fix dtest.

[2020-03-03 09:58] juliayakovlev commented on #5080
Reproduced in https://jenkins.scylladb.com/job/scylla-3.3/job/longevity/job/longevity-mv-si-4days/6

Scylla version: ```3.3.rc1-0.20200223.756574d0946```
Get logs: ```hydra investigate show-logs efda4b93-c29c-4248-a4c8-790923c084bf```

The errors occurred after node restart during bootstrap and when compaction and streaming run in parallel.
Also ```semaphore_timed_out``` errors are reported in the

[2020-03-03 10:01] slivne commented on #5814
@gleb-cloudius what is the followup patch ?

[2020-03-03 10:15] gleb-cloudius commented on #5814
There are two:

One for Seastar called: "sharded: delete move constructor"
Another is for Scylla: "do not move sharded services"

The one that really matters is the Scylla one, but the seastar
one will make sure no new issues of this kind will be introduced.

--
			Gleb.

[2020-03-03 10:28] penberg commented on #5935
@gleb-cloudius Looks like there's a crash in `storage_proxy`:

[code]

[2020-03-03 10:32] slivne commented on #5936
I assume this is the library https://github.com/AlexPikalov/cdrs

@bruno-barin-ifood can you please provide a tcpdump / wireshark capture of the traffic (port 9042 - should be enough) while disabling compression https://github.com/AlexPikalov/cdrs/blob/e9ec8594f087b0601f7bd911d68b416277822d99/documentation/cdrs-session.md#data-compression

This will help us understand what the issue is - if its so

[2020-03-03 10:38] jul-stas commented on #5869
@gleb-cloudius I did this:
[code]
The result is:
[code]
Any idea? The cdc log is spammed as if LWT entered some infinite loop.

[2020-03-03 10:49] jul-stas commented on #5869
[code]

[2020-03-03 11:05] gleb-cloudius commented on #5869
If cdc is enabled the code calls `return _proxy->get_cdc_service()` and never proceed to sending actual learn to the base table.

[2020-03-03 11:08] gleb-cloudius commented on #5935
What is your RF and what king of driver are you using (token aware or not)?

[2020-03-03 11:27] juliayakovlev opened #5938 "seastar::rpc::unknown_verb_error during pull of schema from stopped node"
*Installation details*
Scylla version (or git commit hash): 3.3.rc1-0.20200223.756574d0946
Cluster size: 5 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): ami-0c85a055819845e7f
Test: longevity-mv-si-4days (https://jenkins.scylladb.com/job/scylla-3.3/job/longevity/job/longevity-mv-si-4days/6)

Get logs: hydra investigate show-logs efda4b93-c29c-4248-a4c8-790923c084bf

Not sure that it's the iss

[2020-03-03 11:29] gleb-cloudius commented on #5935
It may be `56f3bda4c7aedfb852ca96afa998093f6e8bd0fc` to blame since it added access to first element of all_replicas without checking that there is an element at all.

[2020-03-03 11:33] juanramb opened #5939 "scylla-jmx configuration in scylla docker image"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [X] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.1.3
Cluster size: 1
OS (RHEL/Cen

[2020-03-03 11:36] Solvik commented on #5935
RF for all of my keyspace is `replication = {'class': 'NetworkTopologyStrategy', 'fra1': '3'}`
The driver used is https://rubygems.org/gems/cassandra-driver (https://github.com/datastax/ruby-driver)

I'm checking if the default setup involves token awareness

[2020-03-03 11:40] gleb-cloudius commented on #5935
Well, for RF 3 and 3 node cluster it is hard to see how all_replicas can
be empty.

--
			Gleb.

[2020-03-03 11:45] roydahan commented on #5840
@amoskong can you please try help with this bisecting request if possible?

[2020-03-03 11:45] #3158 closed

[2020-03-03 12:34] Solvik commented on #5935
should I do some tests or modifications on my side ? like disabling a feature or something ?

[2020-03-03 12:38] gibsn commented on #5922
Tried updating one node to 3.2.0, same problem

[2020-03-03 12:45] gleb-cloudius commented on #5935
I'll try to see what I can find in the core.

--
			Gleb.

[2020-03-03 12:58] Solvik commented on #5935
While reading the commit message of `56f3bda4c7aedfb852ca96afa998093f6e8bd0fc` I understand it involves query using `IN` operand
I'm using a lot of queries like this and we stumbled upon the `clustering key cartesian product size 600 is greater than maximum 100` error

I reduced the number of values in the IN list and increased the number of queries

If it helps somehow

[2020-03-03 13:09] gleb-cloudius commented on #5935
On Tue, Mar 03, 2020 at 04:58:20AM -0800, Solvik wrote:

I do not think so.
Is teeanalytics_staging keyspace is configured the way you described
above as well? Can you provide "describe keyspace teeanalytics_staging"?

--
			Gleb.

[2020-03-03 13:11] Solvik commented on #5935
`CREATE KEYSPACE teeanalytics_staging WITH replication = {'class': 'NetworkTopologyStrategy', 'fra-1': '3'}  AND durable_writes = true;`

[2020-03-03 13:11] slivne commented on #5742
we haven't seen this in the last 2 weeks

please provide the params used with ycsb to generate this issues.

please provide info on what is the cluster size / node types

and we will try to reproduce with that.

If it does not reproduce lets close

[2020-03-03 13:12] slivne commented on #5664
@nyh ping

[2020-03-03 13:28] gleb-cloudius commented on #5935
What kind of snitch are you using and can you send its configuration?

--
			Gleb.

[2020-03-03 13:30] gleb-cloudius commented on #5935
It looks like you are using property file snitch and you have fra1 DC
configured by for this keyspace you are using fra-1 and that is why you
are hitting the bug.

--
			Gleb.

[2020-03-03 13:35] fastio commented on #5364
@dorlaor  Yes, it works.

[2020-03-03 13:44] Solvik commented on #5935
I've altered the keyspace to fix this typo, nice find !

[2020-03-03 13:45] gleb-cloudius commented on #5935
@kostja we need to fix 56f3bda4c7aedfb852ca96afa998093f6e8bd0fc regardless to not access a non existing element. It may happen with correct configuration as well.

[2020-03-03 13:49] slivne commented on #5935
@gleb-cloudius / @kostja please assign to whoever is sending a fix.

[2020-03-03 13:56] bhalevy commented on #4815
@asias is this relevant with repair based operations?

[2020-03-03 14:23] bruno-barin-ifood commented on #5936
Hi @slivne, it happens that you are the guy who responded to the mail thread I've mentioned earlier :)!
Isn't this just a matter to increase the mentioned cache?
I will try to load attaching a tcpdump and post the results here.

[2020-03-03 14:43] fgelcer commented on #5742
```bin/ycsb load dynamodb -P workloads/workloada -threads 250 -p recordcount=20000000 -p fieldcount=10 -p fieldlength=1024 -s```
```bin/ycsb run dynamodb -P workloads/workloada -threads 100 -p recordcount=20000000 -p fieldcount=10 -p fieldlength=1024 -p operationcount=10000 -s```

3x i3.4xlarge

[2020-03-03 15:05] yarongilor commented on #5911
reproduced in 1TB longevity:
[code]
monitor:
52.215.207.69
logs:
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                           Log links for testrun with test id 503ba586-d0a3-48c2-991b-0161850a2e2b                                            |
+------------

[2020-03-03 15:14] roydahan commented on #5911
@yarongilor, please add the details as @slivne requested.

[2020-03-03 15:22] xemul commented on #5847
Fixed with 7aa7e4f55041402ec9db8e8d42744522c5208b48

[2020-03-03 15:23] #5847 closed

[2020-03-03 15:25] bhalevy commented on #5848
Fixed by 8435e93549a6aed875c9dd5819abf550c1923fc5

[2020-03-03 15:25] #5848 closed

[2020-03-03 15:26] bhalevy commented on #5847
Not sure why the "Fixes" tag was lost from the commit message when merged...

[2020-03-03 15:26] bhalevy commented on #5848
Not sure why the "Fixes" tag was lost from the commit message when merged...

[2020-03-03 15:28] bhalevy commented on #5847
Backportwed to 3.3 in d2293f9fd506a918b56946518937ca3b1f3c61f4

[2020-03-03 15:29] xemul commented on #5848
It doesn't need backporting, neiter feature_service not storage_service is stopped in it.

[2020-03-03 15:32] roydahan commented on #5790
@asias, AFAIK when @ShlomiBalalis tried to run with your rpms he had failure on setup.
The cluster started but failed during repair after we change the system_auth RF to 3.
I don't have the exact details and @ShlomiBalalis is out this week.
Anything that may rings a bell?

[2020-03-03 15:47] roydahan commented on #5917
@yarongilor please add the missing details

[2020-03-03 15:57] nyh commented on #5364
@fastio I think this discussion mixes up two separate issues...

The title of this issue is **pipelining**. In that case, the entire pipeline is already received on the same shard, and the locking can happen on this shard, no matter which node or shard each key "belongs" to. There is no need for any global locks or bouncing requests between shards.

A **different issue** is what happens when multi

[2020-03-03 16:10] avikivity commented on #5364
@nyh still we should not serialize requests within a pipeline if we can avoid it.

e.g. a pipeline that does

 INCR X
 INCR Y
 INCR X
 INCR Y

We should not run two INCR X in parallel, since this will produce wrong results and/or LWT contention, but we should run INCR x and INCR y in parallel.

So we can have a per-connection lock array:

   std::unordered_map<dht::token, semaphore> _locks;

each

[2020-03-03 16:20] nyh commented on #5364
@avikivity of course. I didn't say we don't need to do this locking - we do. Just that it just needs to happen inside the shard (even the connection as you said) - and doesn't need to be cross-shard in any way like in the two options that @fastio and @dorlaor were discussing.

The map you described (with the easy optimization of dropping the semaphore when it returns to its ground state) sounds ex

[2020-03-03 16:28] tgrabiec commented on #5907
[code]

[code]

[code]

The sstable was created on shard 0, but uses schema from shard 1:

[code]

next continuation:
[code]

[code]
[code]

[code]

So the `multishard_writer` is created on shard 1. The writer which triggers the abort belongs to shard 0 (0x6000017410c0). Looks like it correctly runs on shard 0, but for some reason it uses `table` instance from shard 1.

I think this is a regressio

[2020-03-03 16:40] yarongilor commented on #5917
there was only one nemesis of no corrupt repair running at the time of coredump.

[2020-03-03 16:44] bhalevy opened #5942 "node failed to start in simple_add_new_node_while_schema_changes_test"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/411/testReport/update_cluster_layout_tests/TestUpdateClusterLayout/simple_add_new_node_while_schema_changes_test/
Scylla version ba536dbc9530960a6132a0dc575fd31dee5365b2
(with repair-based ops)

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/411/artifact/logs-release.2/1583209437554_u

[2020-03-03 16:44] bhalevy commented on #5942
@asias please look into this

[2020-03-03 16:46] bhalevy commented on #5942
@xemul also fyi if it's related to waiting on schema agreement in main

[2020-03-03 16:47] avikivity commented on #5364
Probably it should be global to the shard (and not to the connection), we we don't have (many connections) * (deep pipeline) == too many requests

[2020-03-03 16:54] nyh commented on #5364
Makes sense. But my point was that there is no need to forward requests to specific shards, as @fastio suggested in his "Approach 2". This request-forwarding thing would have been great on a single-node installation (where it would have provided global serialization of requests to the same key), but would be of no help at all on multi-node installations.

[2020-03-03 16:57] bhalevy commented on #5906
The change LGTM, can you please send a pull request to scylla-dtest?

[2020-03-03 17:42] nyh opened #5943 "alternator: potential for stalls for large requests"
We should strive for long requests to not monopolize (a.k.a. stall) Seastar for many milliseconds hugely increasing latency of other short requests. This means long loopy operations need to yield.

Alternator requests are limited to 16MB (a `BatchWriteItem` with up to 25 items 400KB each, totaling 10MB of data) and replies are limited to the same 16MB (a `BatchGetItem` can return any number of ite

[2020-03-03 17:54] nyh opened #5944 "Alternator: missing limit checks in BatchGetItem"
According to DynamoDB's documentation, `BatchGetItem` only allows up to 100 items to be requested in a single `BatchGetItem`, and moreover, the size of the response is limited to 16 MB - if the response grows longer than that, `BatchGetItem` is supposed to drop some of the items, and list them in an `UnprocessedKeys` attribute in the response.

Currently we don't have any of these checks. There ar

[2020-03-03 18:48] psarna commented on #5943
One more thing is parsing huge strings: while our parsing routines yield between json objects, a sufficiently large single value can also be a source of a stall - I've only seen it for 1-4MiB strings (which are considered to be non-existent in DynamoDB, which has a 400KiB limit) and only with a custom lowered stall detection threshold (`--blocked-reactor-notify-ms 10`) and the stalls are single-di

[2020-03-03 19:24] #5055 closed

[2020-03-03 19:24] #5719 closed

[2020-03-03 21:40] bruno-barin-ifood commented on #5936
Just made a test and increasing the property `permissions_cache_max_entries` to 1_000_000 and restarting the cluster the error disappeared. I find strange to have to increase the cache to a high amount in order to see this problem to cease. Should the driver handle such scenarios like a cache miss? To explain a bit more, I'm trying to fetch around 1 million messages from Apache Kafka and persist t

[2020-03-04 00:26] asias commented on #5906
Done: https://github.com/scylladb/scylla-dtest/pull/1340

[2020-03-04 00:46] asias commented on #5790
Let me know the details when you can.

[2020-03-04 04:36] aleksbykov commented on #5856
@slivne latest testrun on master branch was successful without any errors:
https://jenkins.scylladb.com/job/scylla-staging/job/abykov/job/gemini-staging-test/job/gemini--clone/job/gemini-large-number-columns/21/

[2020-03-04 06:39] haaawk opened #5945 "Refactor cdc::transformer to make it more maintainable"
With the fast pace of CDC development, the code become a bit messy and it would be good to split it into smaller parts that encapsulate some logic and allow the reader to reason about the code on higher level of abstraction.

Some things to keep in mind while refactoring:
1. mutation_partition_visitor should be used for splitting the mutation
2. We should optimize for a common case

[2020-03-04 07:42] haaawk opened #5946 "test_user_function_disabled seems to be flaky"
I sometimes see following faliure:

test/boost/user_function_test.cc(59): fatal error: in "test_user_function_disabled": exception ire expected but not raised

[2020-03-04 07:42] haaawk commented on #5946
@espindola

[2020-03-04 08:14] psarna commented on #5917
Does this test run with `--abort-on-seastar-bad-alloc`? I investigated how the memory and the backtrace looks like, and it's like this:
1. A memory is coming short, around 800MiB left out of 7GiB
2. The zstd compressor wants to allocate a 640KiB buffer
3. The allocation fails due to not enough memory (most probable reason: fragmentation)

Normally, `allocate_aligned_buffer()` will throw `std::bad_

[2020-03-04 08:36] roydahan commented on #5917
Yes, test is run with —abort-on-bad-alloc and —abort-on-seastar-bad-alloc

[2020-03-04 09:46] gleb-cloudius commented on #5834
@glommer another good indication that the problem is not because of cpu been at 100% is that if I put the commitlog on a separate disk there is not jitter any longer:

[nojitter.pdf](https://github.com/scylladb/scylla/files/4286527/nojitter.pdf)

[2020-03-04 10:34] eliransin opened #5951 "logging: Scylla should have a maintenance log"
It often happens that some details about the clusters history are needed in order to make sense
out of the present state of the cluster. The "normal" Scylla logs are too verbose and also saved externally to Scylla which means that a user can delete them by mistake or on purpose.
An implementation as suggested by @bhalevy  is to have a system table that logs the events with a
default ttl of 1 year.

[2020-03-04 11:36] tgrabiec commented on #4315
Closing. No way to make progress without a core dump. Also we haven't seen it for a year.

[2020-03-04 11:36] #4315 closed

[2020-03-04 11:50] penberg commented on #5933
We could fix this with documenting that users must remove `openjdk-11-jre` before upgrading to Scylla 3.2. /cc @tzach @avikivity @slivne

[2020-03-04 11:52] slivne commented on #5856
@aleksbykov  - thanks

We need to run with the exact schema ... can you please confirm you are doing that.

Lets rerun again we want to try and flush the bug out.

[2020-03-04 11:55] slivne commented on #5911
check the alive monitor 52.215.207.69 and see if there are shards at 100 % CPU prior to bootstrap and see if we are CPU bound before adding the new node

[2020-03-04 11:56] slivne commented on #5918
@asias ping

[2020-03-04 12:00] asias commented on #5918
I do not think so.

The drain stuck is usually due to shutdown procedure. @xemul

[2020-03-04 12:03] slivne commented on #5918
@asias can you please validate streaming was done and indeed post streaming in shutdown

[2020-03-04 12:08] kbr- commented on #5904
I noticed that the test creates huge lists of text:
[code]
my hypothesis is that these lists grow bigger and bigger without any limit on their size, and Scylla's job at managing them gets harder and harder without limit. Eventually Scylla gives up. See this reactor stall:
[code]

It takes 650 ms just to deserialize this collection.

@amoskong

could you try running a similar test but with CDC disa

[2020-03-04 12:10] asias commented on #5918
I will look into the details in the log tomorrow. But isn't the nemesis in question  a drain operation? Why does it have to do with streaming at all? Don't we start nemesis one after another on a specific node?

[2020-03-04 12:39] elcallio commented on #5904
Stating the obvious, but: If there is a huge (non-frozen) list used with preimage on, then you will get progressively longer processing time for each write (touching/including preimage for that column). That is obviously the same weakness you would see if just doing client query of said row, but in a write-only benchmark it would suddenly introduce progressively more expensive reads.

[2020-03-04 13:11] kbr- commented on #5904
This test was run on a version before non-atomic columns were handled, but I don't know if the preimage was not already being queried for such columns.

Also the latest run was without preimage and it also got stuck after some time. I'm wondering if it's due to the reads made by the test:
[code]

[2020-03-04 13:16] #5907 closed

[2020-03-04 13:28] elcallio commented on #5904
It would be queried but not written to the actual preimage I think (the code would see the column was in the mutation and include it in the query, but transform would skip because non-atomic) - I think...

[2020-03-04 13:30] kbr- commented on #5917
Currently the compressor is initialized, and all necessary memory is allocated, when sstable read or sstable flush starts. Then the allocated memory is used to read/write all chunks of the sstable.

We could try to move the initialization point to when keyspace create/alter is executed. However, that would mean we'd have to preallocate memory for each keyspace depending on its compression configur

[2020-03-04 13:30] elcallio commented on #5904
Yes.

[2020-03-04 13:59] #5704 closed

[2020-03-04 14:13] raphaelsc commented on #5226
BTW, I think off-strategy compaction will be easier with STCS in terms of compaction work (write amplification) after we integrate the major compacted sstable(s) into the table's main sstable set. That's because of how strategies work. STCS major compaction generates a single sstable that will be placed at the biggest size tier. TWCS major compaction will generate one sstable for each time window,

[2020-03-04 14:45] vladzcloudius commented on #5922
@gibsn "Logs on that node were full of lines like "[shard 7] tracing - Maximum records limit is hit 2420001 times".
Means that CQL Tracing is enabled and a lot of Traces are generated.
Tracing in particular creates a lot of write pressure on the cluster.
You should be careful when you enable CQL Tracing in order not to kill cluster's performance (e.g. not enable Tracing for each CQL request when y

[2020-03-04 14:57] slivne commented on #5911
@yarongilor / @roydahan  the metrics on http://52.215.207.69:3000

![decmission_add](https://user-images.githubusercontent.com/3465480/75890241-c08e0800-5e36-11ea-8654-23429ba39cc9.png)

so I can see a decomission that took ~2 hours and then add that took  - is that normal ?

I see that adding the node tool ~4+ hours.

I do not see the new node so we can't really say if it is chocking and on what

[2020-03-04 15:41] raphaelsc commented on #4862
@denesb this can be closed now right?

[2020-03-04 15:55] denesb commented on #4862
Yes.

[2020-03-04 15:55] #4862 closed

[2020-03-04 16:10] yarongilor commented on #5911
a comparison from sct log of scylla 3.2 shows that bootstrap took less than 3 hours:
(on scylla version 3.2.rc2-0.20191207.2ff26d11608)
the logging of sct, wrapping the beginning and end of the bootstrap are the following:
[code]

[2020-03-04 16:12] eliransin commented on #5951
I think we need to decide 2 things.
First which information should we log, it should be the bare minimum since it is going to be kept for a long time, but it should be enough to analyze how the cluster got to the current state.
Second the format of the logging - I think it should contain at least, event timestamp, event type/id, event text info, event blob/json/xml.
The last one is a structured da

[2020-03-04 17:21] kbr- opened #5953 "CDC: updates in a batch with a single timestamp should show have a single `cdc$time` value"
[code]
When we query
[code]
something like this will show up:
[code]
notice that the updates have different `cdc$time` values and each has `0` in `cdc$batch_seq_no`.

Instead, something like the following should show up:
[code]

[2020-03-04 17:59] gibsn commented on #5922
We disabled tracings on client side, but the problem persists. Lots of "tracing - Maximum records limit is hit" in logs though tracing is disabled

[2020-03-04 18:06] dorlaor commented on #5951
I like this direction, one of the things I like to log/capture is
maintenance operations.
Need to log repair, all nodetool operation, etc.
Audit log is also borderlines with this

On Wed, Mar 4, 2020 at 8:12 AM Eliran Sinvani <notifications@github.com>
wrote:

[2020-03-04 18:17] vladzcloudius commented on #5951
I agree - it sounds like a CDC subset.
However I agree that storing this in the distributed table makes a lot of sense.
I don't think that storing the info in a binary format is a good idea.
Some JSON or even CQL map should be a better option IMO. - This way regular people (not machines) will be able to read the value directly from the `clqsh`.

[2020-03-04 18:37] raphaelsc opened #5956 "Row cache is incorrectly invalidated in incremental compaction"
*Installation details*
Scylla version (or git commit hash):  8a1c8ce8a62889
Cluster size:
OS (RHEL/CentOS/Ubuntu/AWS AMI):

Incremental compaction will incorrectly invalidate the cache when compaction purges expired data. That's because incremental compaction temporarily stores data in sstables containing only expired data and those sstables were added to table using a function that invalidates th

[2020-03-04 22:28] asias commented on #5911
FYI, 3.3 still uses the plain stream plan based streaming.

[2020-03-04 22:36] asias commented on #5911
This is a replace operation not bootstrap.

[code]

[2020-03-04 22:40] asias commented on #5911
The replace operation in question is around timestamp 2020-2-12, the metrics only has data starting 2020-2-26. Does it contain the correct metric data?

[2020-03-04 22:53] asias commented on #5911
Ok. The metrics is for the another run:

[code]

[2020-03-04 23:06] asias commented on #5911
The compaction is using 10X disk bandwidth. The compaction during the bootstrap is the compaction triggered by the previous operation (should be a decommission operation before the bootstrap operation).

When we use the operation time as a metric for regression, we should consider the other operations's "leftover" impact on the current operation. It is totally fine to test such one operation after

[2020-03-04 23:12] asias commented on #5911
This is the changes between "good 3.2" and "bad current 3.3" for streaming. I doubt it is a regression in streaming.

[code]

This is for  sstables.

[code]

[2020-03-05 01:45] asias commented on #5918
Looking at log  from node3 that run drain operation, longevity-tls-2tb-4d-1dis-2nondis-3-db-node-835dca26-3, we stuck at stopping messaging service. Line 2016 "slogger.info("messaging_service stopped")" is missing.

[code]

[code]

[2020-03-05 05:11] bhalevy commented on #5951
@vladzcloudius and I are in complete agreement on this.

[2020-03-05 05:27] bhalevy commented on #5849
@scylladb/scylla-maint please backport to 3.3, 3.2, 2019.1

[2020-03-05 05:56] asias commented on #5942
I first thought it is caused by the change in dtest. Before, we wait for the streaming to start, after, we do not.

[code]

After applying the following, I can still reproduce from time to time.

[code]

It is related to deleting of a keyspace while bootstrap is in progress. I will dig more.

It is probably not due the schema sync.

[2020-03-05 07:22] haaawk commented on #5904
Any news on this @amoskong? Did you manage to check whether the test keeps running without getting stuck when CDC is disabled?

[2020-03-05 07:36] nyh commented on #5664
@slivne I sent a patch for this, waiting on the list for @psarna and/or @gleb-cloudius to review ("alternator: use separate smp_service_group for bouncing requests").

[2020-03-05 07:51] eliransin commented on #5951
As I mentioned above - I think there **shold** be a text field in the record so a human reader can grasp what is going on.
However, with that said IMHO it is not enough, first of all - text log is a lot easier to change and to add, which in that case it is a bad thing. we will end up with yet another Scylla logs that are packed with non relevant or too generic information. The binary part is more

[2020-03-05 07:58] slivne commented on #5918
@asias so its clear  - streaming ended ?

[2020-03-05 08:04] amoskong commented on #5904
The new job is still running, I will update you when it finishes.

[2020-03-05 08:06] nyh commented on #5869
Thanks. Committed to next. I hope you don't mind, I added to the commit message a short quote from Gleb about why it became necessary to add CDC-specific code to LWT code (which isn't an ideal situation).

[2020-03-05 08:06] #5869 closed

[2020-03-05 08:11] syuu1228 commented on #5933
We actually need to remove openjdk-11-jre on install time, not just upgrade time.
I think we should add it on the document, too.

[2020-03-05 09:12] roydahan commented on #5911
@asias the decommission nemesis always followed by add new node operation (it's part of that nemesis).
We do not strictly checking for regression based on time.
What happened in 3.3 is that the default timeout we left for new node to join (3 hours) always expire and then the longevity fails.
It happened several times, both fore replacing node and for add node after decommission.

I'm not necessari

[2020-03-05 09:18] syuu1228 commented on #5259
I guess "--nic vmxnet3" is incorrect, it should be ifname.
It just worked when correct ifname specified.
[code]

[2020-03-05 09:20] asias commented on #5911
OK.

This is a good idea. Choosing decommission is the best option because we do not have metrics for the joining node, while we have it for decommission node.

[2020-03-05 09:41] slivne commented on #2689
@syuu1228 / @penberg can you please take this

[2020-03-05 09:43] slivne commented on #3256
yes you are correct ... we can

[2020-03-05 09:43] #3256 closed

[2020-03-05 09:44] fgelcer commented on #5911
@roydahan , in case we will want to run on branch-3.2 we will need to backport https://github.com/scylladb/scylla-cluster-tests/pull/1876 to our branch-3.2 too.
it was recently added to master and backported to branch-3.3 and 2019.1

[2020-03-05 09:49] slivne commented on #3782
closing this issue.

Stale issue

If this happens again please upload the coredump

[2020-03-05 09:49] #3782 closed

[2020-03-05 09:59] slivne commented on #4132
- closing this issue - we have not able to progress, and it may have been solved
- if this reproduced on a supported version please create a new issue

[2020-03-05 09:59] #4132 closed

[2020-03-05 10:09] bhalevy opened #5960 "very long reactor stalls in logalloc::segment_pool::reclaim_segments in debug mode"
Seen regularly in the following test:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/81/testReport/materialized_views_test/TestMaterializedViews/interrupt_build_process_with_resharding_half_to_max_test/
[code]

https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug-random/81/artifact/logs-debug.2/1583383650492_materialized_views_test.TestMater

[2020-03-05 10:16] slivne commented on #5894
@avikivity whats your view ?

[2020-03-05 10:22] haaawk commented on #5894
I don't think we can do anything about it probably this issue should be closed.

[2020-03-05 10:35] aleksbykov commented on #5856
@slivne
Reran on master with same gemini tool version and same schema. Issue was not reproduced on master branch

[2020-03-05 10:49] bhalevy commented on #5930
@denesb can you please help analyzing the core dump to understand where the memory was going to?
This is readily reproducible by the way on jenkins so we get multiple new cores every dtest-release job

[2020-03-05 10:54] amoskong commented on #5904
@kbr- The problem is reproduced without enabling CDC.

`cdc = {'enabled': false, 'preimage': false}`

I didn't found a way to limit the number of list item. If it still fails with small size, I will remove list from the cdc longevity profile.

[code]

[2020-03-05 10:56] haaawk commented on #5904
That's great news :D. Removing list from the test, temporarily until we find a way to limit it's size, is a good idea @amoskong

[2020-03-05 11:41] kostja opened #5962 "No unavailable exception if replication_factor=0 and replication strategy is "Simple""
Cassandra and Scylla allow to configure a keyspace with replication factor 0. This is mainly used for NetworkTopologyStrategy, when certain a keyspace can be made local to a specific data center this way (e.g. by saying that it's replication_factor in the other data center is 0).

Perhaps as an omission RF=0 is also allowed for SimpleStrategy. However, unlike Cassandra, Scylla wrongly selects endp

[2020-03-05 11:42] tzach commented on #3209
@slivne can we close this? AFAIU its not relevant for later version of scylla with MC table format

[2020-03-05 11:42] slivne commented on #5856
@aleksbykov
- on master did you also use the same seed, if not try to rerun on master with the same seed that had the failures
- can you please try to reproduce on 3.3 with the same schema and seed in gemini and lets see if it fails on this.

[2020-03-05 11:45] denesb commented on #5930
I'll have a look.

[2020-03-05 11:46] eliransin commented on #5917
@psarna can you run the scylla memory command in gdb? It can show us if the cause for the bad alloc is indeed memory fragmentation.

[2020-03-05 11:47] eliransin commented on #5887
@dekimir any news?

[2020-03-05 11:48] slivne commented on #5918
@xemul / @gleb-cloudius  - does this ring a bell ? can one of you try to look at this.

@roydahan
- what we agreed - we will add a sanity timer for drain that will be 1hour - if after 1 hour drain doesn't end kill the process and create a coredump.

[2020-03-05 12:09] psarna commented on #5917
Sure, already did that yesterday, I just decided that the relevant part is that the source of this fault is an allocation from a compressor. Memory info below:
[code]

[2020-03-05 12:13] psarna commented on #5917
@kbr- For emergencies, we could also take the allocation out of the constructor, in order to make it future-based. Then, we could have a single per-shard emergency block, guarded with a semaphore and used only if the regular allocation failed. That way, the fast path would remain roughly the same, while the error path will be recoverable.

[2020-03-05 12:14] Laboltus opened #5963 "internode_compression does not work"
After set `internode_compression: dc` I see no changes in bandwidth usage between datacenters. I checked traffic on port 7000 with tcpdump and I see uncompressed data.  Scylla compress all traffic or only some part of it ?

[2020-03-05 13:15] Laboltus commented on #5963
I forgot to mention that I tested Scylla 3.1.3, 3.1.4, 3.2.2 with identical results.

[2020-03-05 13:20] roydahan commented on #5933
@amoskong we can add a simple test for this, no need all the stages of the current rolling upgrade test.

[2020-03-05 13:45] dekimir commented on #5887
Only that it can be reproduced without `repair` and with less than six nodes.  But it still requires three DCs and nodes going up and down.

I'm finding it unexpectedly difficult to make the test pause and let me attach a debugger to a running Scylla.  `nose` does something with stdin that confuses both the `input()` function and `pdb`. :(

[2020-03-05 13:47] dekimir commented on #5887
Here is the minimum test code that can still reproduce the bug (though not 100% of the time):
[code]

[2020-03-05 13:57] denesb commented on #5930
[code]

[2020-03-05 14:40] funny-falcon opened #5964 "Could not compile using frozen tools"
Could not build from master branch
[code]

[2020-03-05 14:54] denesb commented on #5930
The abort happens in an LSA `allocating_section::reserve()`, after what appears to be a failure to reserve the desired amount of memory.
[code]

The reserves are at their initial values, which means we are in the initial `reserve()` call, before we even attempt to execute `fn()`.

There is enough free memory to satisfy both the lsa (128KB * 10) and std reserves (1KB). There is a 16MB and a 0.5MB f

[2020-03-05 14:59] denesb commented on #5930
Cache is almost fully evicted and it appears that LSA ran out of options to reserve memory. LSA itself only occupies around 32MB memory, which looks sane. There are 226MB in 32KB spans, which is the likely perpetrator.

[2020-03-05 16:12] bhalevy commented on #3561
Cc @glommer fyi

[2020-03-05 16:15] bhalevy commented on #3561
@glommer, @raphaelsc Let's take this into account for off-strategy compaction

[2020-03-05 16:37] xemul commented on #5918
While the messaging is stopping something strange happens to the connections -- there's a bunch of _repeating_ messages like

    scylla: [shard 9] rpc - client 10.0.22.68:7001: client connection dropped: read: Connection reset by peer

by repeating I mean they repeat on the same shard for the same IP:port pair.

[2020-03-05 16:44] denesb commented on #5930
There are 667 sstables, almost all of which is for `ks.tm_table`.
[code]

[2020-03-05 16:45] denesb commented on #5930
There seems to be ~37K sstable readers in memory.

[2020-03-05 16:46] bruno-barin-ifood commented on #5936
@slivne
Here you go:

[code]

[2020-03-05 16:48] denesb commented on #5930
According to `scylla memory` there are 62 user reads on `ks.tm_table`.
Dividing the number of readers by the number of reads yields a number close to the number of sstables: `36936/62 = 595`.

[2020-03-05 16:52] #5262 closed

[2020-03-05 16:52] #5744 closed

[2020-03-05 16:52] #5937 closed

[2020-03-05 16:52] #5664 closed

[2020-03-05 16:52] #5891 closed

[2020-03-05 16:52] #5953 closed

[2020-03-05 17:20] funny-falcon commented on #5964
I was able to build from `scylla-3.2.1` tag.
`scylla-3.2.2` tag refers to unexisting `seastar` commit `c8668e98bd7c31cd675c7587302a7e8030a2b8cb` in submodule.

[2020-03-05 19:47] vladzcloudius commented on #5951
@eliransin I feel like we probably have different things in mind.
What I imagine is a very specific logging of maintenance events like "node X initiated decommissioning at <timestamp>", "node X has been decomissioned at <time stamp>", "node X requested to replace node Y at <timestamp>", etc.

This should find itself in a table that has a schema of something like this:
[code]

It's not going to be

[2020-03-05 19:50] vladzcloudius commented on #5259
@gnumoreno Please, take a look at Takuya's response.
If this resolves your problem, please, close this issue.

[2020-03-06 00:04] amoskong commented on #5933
We didn't test multiple versions upgrade now, how many versions do you want to test in the new test?

2.3->3.0->3.1->3.2 ? or just 3.0 -> 3.1 -> 3.2?

[2020-03-06 00:49] amoskong opened #5966 "manually created invalid _scylla_cdc_log table caused segfault"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200210.43097854a5e
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description:

Currently cdc log is recored in same keyspace with a special suffix `_scylla_cdc_log`.
The `_scylla_cdc_log` table should be created by Scylla internal.

In my test, I want to know if Scylla has limit for creating a table wit

[2020-03-06 00:55] amoskong commented on #5966
User profile of cassandra-stress:

`AND cdc = {'enabled': true, 'preimage': false}`

[cdc_profile.yaml.txt](https://github.com/scylladb/scylla/files/4295898/cdc_profile.yaml.txt)

[2020-03-06 01:17] amoskong opened #5967 "nested cdc for _scylla_cdc_log tables should not be enabled"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200210.43097854a5e
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description

I want to enable CDC for a _scylla_cdc_log table, when user's table has write/delete ops _scylla_cdc_log table will be updated by scylla.

CDC fusion wasn't caused in my test, the write of _scylla_cdc_log table is different fr

[2020-03-06 03:38] rahultaing opened #5968 "open file count gradually increased to max limit."
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

*Installation details*
Scylla version (or git commit hash): 3.0.11-0.20191126.3c91bad0d
Cluster

[2020-03-06 04:30] asias commented on #5968
Do you have the /etc/security/limits.d/scylla.conf installed properly?
What operations were performed / performing during the event?

@bhalevy @raphaelsc ideas?

[2020-03-06 04:35] rahultaing commented on #5968
This is what I see -
[code]

[2020-03-06 05:17] asias commented on #5968
It looks good.

I meant: was new node added/removed to the cluster or repair was run and so on during the event.

[2020-03-06 05:51] asias commented on #5918
This is what happened:

Node6 started to bootstrap with node3 at 2020-02-25T20:16:24+00:00
Node6 took long time, probably due to the stream hang issue
Node3 started drain at 2020-02-26T05:57:53+00:00, it hang at closing messaging service
The stream plan b1f2b7e2-580b-11ea-821c-000000000004 started by node6 failed because gossip detected node3 is down , due to node3's drain operation.

Related Logs

[2020-03-06 06:14] piodul commented on #5900
Duplicate writes are caused by the following sequence of events:

- A write is attempted to be executed on a node,
- The node receives write request and does it, but closes the connection to the client before it has a chance to send write response,
- The python driver sees that the connection was closed, and retries the request on another host. This retry cannot be disabled at all in the driver ve

[2020-03-06 07:17] rjeczalik commented on #5968
@rahultaing which schema did you use for jaeger?

[2020-03-06 07:25] haaawk commented on #5967
Thanks @amoskong. @piodul Could you have a look at this, please?

[2020-03-06 07:26] haaawk commented on #5900
I would go for updating the driver to 3.18.0 in dtests @roydahan @fruch what do you think?

[2020-03-06 07:35] slivne commented on #5859
Today scylla does count write/read/range errors + write/read/range timeouts

CQL v4 protocol has more errors that cna be returned

[code]

[2020-03-06 07:50] slivne commented on #5746
NoHostAvilable is not the correct response - yet its not clear what is,

The reason we are failing is because of the quorum read prior to fetch the pre_image.

What does Scylla return on a QUORUM read in this case (RF=3 only one node) I don;t think its NoHostAvilable - can you please check.

Overall I think it would be better to fail the write as if it required a higher consistency level, yet I th

[2020-03-06 07:53] haaawk commented on #5746
I agree with @slivne here. Failing the write is the safest. An alternative would be to fetch preimage with CL=ONE if CL=QUORUM fails. This would lead to a less consistent preimage but won't fail the write.

[2020-03-06 07:58] kbr- commented on #5904
@amoskong

It's good that we test collections in cdc longevity, but `list` is maybe not the best choice. You could use `map` or `set` because if you put the same key twice into a `map`/`set`, the second write will overwrite the first one.

I'd go for `map` because it's more general than `set`.

Remember though that you'll need to limit the distribution of  map keys somehow in the yaml (similarly t

[2020-03-06 08:01] amoskong opened #5969 "dropping column will cause history record of the column lost"
*Installation details*
Scylla version (or git commit hash): 666.development-0.20200210.43097854a5e
Cluster size: 1
OS (RHEL/CentOS/Ubuntu/AWS AMI): CentOS7

### Description

Create a table, enable cdc, and try to edit the name column, the change history will be recored into the cdc log table. But when the name column is dropped, all history records of name column will be dropped together.

This is

[2020-03-06 08:12] psarna commented on #3801
As @penberg pointed out, other strategies are also affected with the same issue - replication factor parsing should be moved to a separate function which validates its input.

[2020-03-06 08:15] kbr- commented on #5900
What do you mean "when shutting down"?

What if "client timestamps" were disabled? Wouldn't the second mutation have a different timestamp?

---

My opinion: this is not a problem and we should just live with it.

The CDC client must merge changes which have the same timestamp anyway. That is, if the client sees two entries in the CDC log with different values in the `cdc$time` column, say `tuuid1

[2020-03-06 08:18] kbr- commented on #5746
@slivne

[code]

[2020-03-06 08:19] psarna commented on #3801
Oh, we already have `validate_replication_factor`... I'll move the updated network topology check there, it will solve all the replication factor checks.

[2020-03-06 08:27] kbr- commented on #5746
If there really is only one replica containing the partition we're interested in, _it is safe to query with consistency ONE_. "Safe" means that the query will return consistent data (whatever "consistent" means; we'll at least have read monotonicity and _read your writes_).

And we can check whether there is just one replica, it's pretty easy:
[code]
where `ss` is a pointer to the local `storage_s

[2020-03-06 08:36] kbr- commented on #5746
Also @avikivity suggested in my topology change PR that we could introduce another consistency level, `EFFECTIVE_QUORUM`, which would do something like that (check if there's only one replica and in that case, query just that replica). https://github.com/scylladb/scylla/pull/5485/#discussion_r369468456

So now we have two potential uses for `EFFECTIVE_QUORUM` and we should seriously consider intro

[2020-03-06 08:59] piodul commented on #5900
@kbr-

More precisely speaking, when cql server is shutting down. It can happen e.g. when a node is being shut down completely, or being decommissioned. CQL server is shut down in such way that it just closes sockets, but does not wait for currently processed requests to be served before doing that. Because of that, it may happen that the server receives a write operation, performs it, but it fail

[2020-03-06 09:02] amoskong commented on #5904
Unfortunately Cassandra-Stress doesn't support map type, it will be ignored in creating table, and fail in querying.

Cassandra-Stress error: `java.lang.UnsupportedOperationException: Because of this name: map_column if you removed it from the yaml and are still seeing this, make sure to drop table`

The population parameter didn't limited the items number of list.
For set<text>,  `size` parameter

[2020-03-06 09:12] kbr- commented on #5900
I'd argue that two writes actually did happen in that case, so we should log both of them.

Maybe it will even help catch application developers client misconfiguration problems :)

[2020-03-06 09:15] haaawk commented on #5900
I wouldn't change Scylla. This is the expected behavior. Let's switch driver version in dtests and close this issue.

[2020-03-06 09:19] asias opened #5970 "Reduce unncessary VIEW_BACKLOG updates in gossip"
The blacklog of current and max in VIEW_BACKLOG is not update but the nodes are updating it all the time.  For example:

[code]

The code in question is:

[code]

The time `now` is update. I am wondering if we could avoid sending if the blacklog current and max do not change.

The downside of such updates:

- Introduces more gossip exchange traffic

- Updates system.peers all the time

[2020-03-06 09:21] aleksbykov commented on #5856
@slivne
Issue reproduced on Scylla version 3.3.rc2-0.20200302.413fcab8333 with build-id d620d4683d15c84220d798a4405ac104b1ec2993

[2020-03-06 09:23] kbr- commented on #5904
That's because if you insert the same element twice into a list, it will just append it to the list twice. It won't overwrite. So you could keep inserting e.g. `0` into a list and it will grow unbounded.

If you keep inserting `0` into a `set<int>`, the set will always have one element.

I don't think that the size parameter works differently for sets. The size parameter only limits the length of

[2020-03-06 09:23] asias opened #5971 "Reduce unncessary CACHE_HITRATES updates in gossip"
The size of CACHE_HITRATES message is O(n), n is the number of tables. The message can be very big.

We update CACHE_HITRATES unconditionally and periodically even if the values are not changed. I am wondering if we could avoid sending CACHE_HITRATES if it does not change since last update.

[code]

The downside of such updates:

    - Introduces more gossip exchange traffic

    - Updates system.

[2020-03-06 09:24] asias commented on #5970
@nyh @psarna What do you think?

[2020-03-06 09:24] asias commented on #5971
@gleb-cloudius  What do you think?

[2020-03-06 09:27] aleksbykov commented on #5856
[code]

[2020-03-06 09:27] aleksbykov commented on #5856
No coredumps where found

[2020-03-06 09:29] asias commented on #5930
Do you have any idea who are the owners of the readers?

[2020-03-06 09:31] denesb commented on #5930
I plan to find out, but the much better question is why we have so much sstables and why are reads apparently opening all of them.

[2020-03-06 09:34] aleksbykov commented on #5856
Could n't decode the backtraces:
[code]
[code]

[code]

[code]

[2020-03-06 09:38] psarna commented on #5970
@asias, looks like the timestamp itself isn't useful anywhere in the storage proxy, so it sounds like a good idea to only produce updates if the state changed.

[2020-03-06 09:49] asias commented on #5930
I am pretty sure it is not from streaming/repair. Perhaps it is triggered by the MV updates. @psarna

[2020-03-06 09:52] asias commented on #5970
That is good news!

[2020-03-06 10:04] amoskong commented on #5904
I'm running another longevity only with limited set.
https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h/4/console

[2020-03-06 10:30] kbr- commented on #5920
Should we close this issue now since the fix is merged? @piodul
or should we wait for gemini to run for a while and see if the problem is not reproduced? @aleksbykov

[2020-03-06 10:32] haaawk commented on #5920
Is the fix in master already? If so we can close.

[2020-03-06 10:40] kbr- commented on #5065
Note for future us:

it looks like DynamoDB's shards, which correspond to our streams, form a tree. Due to the Dynamo cluster growing, a shard gets split into multiple shards, and the old shard is a *parent* of these new shards. A DynamoDB streams client is supposed to finish reading the parent before it starts reading the children.

This is suspiciously similar to what we do when we add new nodes

[2020-03-06 13:15] denesb commented on #5917
I think its better to just fail the read than to introduce yet another queue that can eat up memory just the same.

The real solution is to make sure we don't need such a large contiguous allocation. In this example we have almost 903MB of free memory but the largest free span is 500KB. In general we consider any allocation above 128KB as unsafe.

[2020-03-06 13:17] denesb commented on #5930
[code]
All reads from `ks.tm_table` seem to read from 648 sstables. I'll try to have a look at the range they are reading.

[2020-03-06 13:22] aleksbykov commented on #5856
@slivne
Got repro on master branch. Got next coredumps:
[code]

[code]

[2020-03-06 13:25] psarna commented on #5917
@denesb I agree, failing the read sounds graceful, and it's infinitely better than failing the whole server. The problem here is that zstd is an external library and it requires a contiguous allocation, so there's only so much we can do about it, and rewriting zstd is an overkill.

[2020-03-06 13:27] aleksbykov commented on #5856
Scylla version : Scylla version 666.development-0.20200304.325c3e13ebf with build-id 7bfdd5275beb441afbc1163877293b8043150fc8

[2020-03-06 13:29] aleksbykov commented on #5856
Looks, like this some how related to rate of operation Once i disabled debug level of gemini, op rate was increased, and issue reproduced

[2020-03-06 13:31] aleksbykov commented on #5856
Units with master branch:
[code]

[2020-03-06 13:36] denesb commented on #5917
We only use the various `--abort-on-` in testing or when wanting to generate a core, in production we of course won't abort on the first `std::bad_alloc`.

[2020-03-06 13:44] aleksbykov commented on #5856
[code]

[code]

[2020-03-06 13:54] psarna commented on #5917
Ok, so chances are that this bad alloc will already simply fail this single read operation and the server will continue working fine. If that's true, then it's good and this is a non-issue after all.

[2020-03-06 14:13] denesb commented on #5917
It can be an issue if opening this sstable always fails. This can block
compaction from making progress, leading to other problems.

Memory fragmentation is transitional so there is a chance such allocation
failures go away on their own.

What does the size of this allocation depend on? The size of the file?

On Fri, Mar 6, 2020, 15:54 Piotr Sarna <notifications@github.com> wrote:

[2020-03-06 14:14] kbr- commented on #5917
It depends on two compression parameters:
- chunk size
- zstd compression level

pt., 6 mar 2020, 15:13 użytkownik Botond Dénes <notifications@github.com>
napisał:

[2020-03-06 14:18] denesb commented on #5917
It must also depend on some property of the file as well, no? Something we
control.

On Fri, Mar 6, 2020, 16:14 Kamil Braun <notifications@github.com> wrote:

[2020-03-06 14:26] kbr- commented on #5917
We control these two parameters when creating/altering keyspace.

The file is associated with some table, which lies in some keyspace.

It doesn't depend on the size of the file as long as the file is bigger
than the chunk size. It can then consist of 1 000 such chunks or 10 000
such chunks - doesn't matter, compressing each chunk requires the same
amount of memory (I think they are compressed seq

[2020-03-06 14:27] kbr- commented on #5917
Ok, *we* don't really control these parameters, the user does

pt., 6 mar 2020, 15:25 użytkownik Kamil Braun <kamilgbraun@gmail.com>
napisał:

[2020-03-06 15:00] denesb commented on #5917
On Fri, 2020-03-06 at 06:26 -0800, Kamil Braun wrote:

I'm confused. So this buffer we are allocating, the one of 600KB size,
is this for a single chunk? Or what is it for?

If it is for a single chunk, we should not allow setting dangerously
large chunk sizes.

[2020-03-06 15:53] kbr- commented on #5917
It is used by zstd to compress/decompress chunks. All of them.

But it is not equal to the chunk size, it is usually bigger. The
compression algorithm requires some additional memory to handle a chunk.

It would be useful for the error report to provide the compression options
used. Im guessing some standard chunk size was used, like 64 kb.

pt., 6 mar 2020, 16:00 użytkownik Botond Dénes <notifica

[2020-03-06 16:11] denesb commented on #5930
@asias the table `ks.tm_table` is not a materialized view, its a normal table.

[2020-03-06 16:52] denesb commented on #5930
[code]
I failed to find the ranges the sstable readers are reading, but they are reading from the base table, not from the view. I also noticed that the base table `tm_test` has very tiny sstables, the size of the datafile is in the hundreds of bytes. There are around 10 sstables that belong to the view, they are of a more reasonable size of 80KB.

I will examine the token ranges of the sstables o

[2020-03-06 17:12] rahultaing commented on #5968
No new node was added/removed to the cluster and no repair was done.

[2020-03-06 19:38] amoskong commented on #5904
https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h/4/
This job PASSed.

[code]

[2020-03-06 20:28] haaawk commented on #5904
Hooray - closing the issue.

[2020-03-06 20:28] #5904 closed

[2020-03-06 21:33] espindola commented on #5946
That is quite odd. There is a bug in the test (db_cfg_ptr is not used) that causes that line to be identical to the previous check at line 52.

Under what conditions this normally reproduces? For instance, dev, debug or release?

[2020-03-06 21:41] haaawk commented on #5946
I was running dev.

[2020-03-06 22:06] dekimir commented on #5887
Fascinating: the query response changes over time. :thinking:

I paused the test right before that last `assert_count()` (the first 2 always pass) and queried node1_1 by hand:

[code]

On every run, the first query always returns 1000, regardless of how long I wait before sending it.  The second returns 500+x (for a small value of x) as long as it's sent within a few seconds of the first.  But in

[2020-03-06 22:13] slivne commented on #5918
@asias which issue is stream hang ?

[2020-03-06 22:16] slivne commented on #5856
@aleksbykov on master did you get a coredump ?

we need to run on master with abort-on-internal-error so we will get a coredump at the correct point - please verify we have this set.

[2020-03-06 22:29] espindola commented on #5946
just test.py --mode=dev?

[2020-03-06 22:47] asias commented on #5918
#5790 #5768

[2020-03-07 06:43] haaawk commented on #5946
exactly

[2020-03-07 09:46] aleksbykov commented on #5856
@slivne
Yes, coredump happened on master: https://github.com/scylladb/scylla/issues/5856#issuecomment-595765140, it was in earlier messages. Also instances are still running:
Units with master branch:

monitor-node-529d2f0d-1     34.245.157.124
db-node-529d2f0d-2          54.194.60.172
db-node-529d2f0d-1          52.209.184.213
db-node-529d2f0d-3          52.214.208.157
loader-node-529d2f0d-1

[2020-03-08 05:12] enaydanov opened #5977 "scylla_setup: CPU scaling setup failed on Amazon Linux 2"
This is Scylla's bug tracker, to be used for reporting bugs only.
If you have a question about Scylla, and not a bug, please ask it in
our mailing-list at scylladb-dev@googlegroups.com or in our slack channel.

- [x] I have read the disclaimer above, and I am reporting a suspected malfunction in Scylla.

**Installation details**
 - Scylla version (or git commit hash): 3.3.rc2 and 666.development-0

[2020-03-08 06:25] fruch commented on #5977
can you check which version of cpupowerutils was installed ?

[2020-03-08 06:31] bhalevy commented on #5887
Another data point in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-debug/409/testReport/repair_additional_test/RepairAdditionalTest/repair_option_pr_dc_host_test/
[code]

This indicates the count query matches the length of the select query (and both were too low).

[2020-03-08 07:28] slivne commented on #5790
@roydahan lets get this sorted out - if shlomo is not in the office lets reassign.

[2020-03-08 07:30] slivne commented on #5856
@bhalevy we have a core please extract the info and lets figure out what the issue is, if you need help please update me

[2020-03-08 07:37] bhalevy commented on #5887
I reproduced locally also with 3.3.rc2-0.20200308.3bed8063f
[code]

[2020-03-08 07:43] slivne commented on #5887
@bhalevy is this a new failure in 3.3 from when is this nodetool repair test failing

[2020-03-08 07:51] eliransin commented on #5951
@vladzcloudius I think you got me wrong, I was referring to developers and not users. If the user chooses to change the log it is his problem.
The schema you presented above is great as long as we decide not to remove parameters or to suddenly change the format of the message (this will break existing scripts that will rely on them).
I would also add an event id for each specific event, like repai

[2020-03-08 08:30] nyh commented on #1703
Just confirmed this bug (unhelpful parsing error messages) still exists in master.

[2020-03-08 08:34] bhalevy commented on #5856
[code]

@haaawk why do we std::move(r) below?

[code]

[2020-03-08 09:03] nyh opened #5978 "View building causes spike in latency"
A user using relatively-slow disk (EBS persistent storage) reported that when creating a new materialized-view on an existing table, a spike of very high latency (250-2000ms read and write latencies were seen in Grafana) happened, corresponding with a spike of the number of reads. Apparently (but we need to confirm this), this spike was quickly resolved - i.e., performance did not remain terrible

[2020-03-08 09:08] #5902 closed

[2020-03-08 09:08] #3801 closed

[2020-03-08 09:08] #5728 closed

[2020-03-08 09:48] enaydanov commented on #5977
Amazon Linux 2:

[code]

FYI, CentOS 8:

[code]

Amazon removed .service file from its version of the package.

[2020-03-08 10:41] slivne commented on #5887
@bhalevy please update once you check 3.2 as well

[2020-03-08 10:43] slivne commented on #5856
@bhalevy can you check when this code change was done - from which release do we have this issue (bug) ?

[2020-03-08 10:47] slivne commented on #5071
stale issue - closing it.
@wmac if you could not resolve it - please post and we will reopen

[2020-03-08 10:47] #5071 closed

[2020-03-08 10:48] slivne commented on #5081
stale issue - closing
@bobho6 if there is still and issue please post and we will try and help

[2020-03-08 10:48] #5081 closed

[2020-03-08 10:51] slivne commented on #5095
this is merged into 3.3, 3.2, 3.1

[2020-03-08 10:51] #5095 closed

[2020-03-08 10:54] slivne commented on #5120
@bentsi ping

[2020-03-08 10:55] slivne commented on #5122
closing this issue - we have moved to build ami's in a different manner

[2020-03-08 10:55] #5122 closed

[2020-03-08 10:56] slivne commented on #5137
yes this seems a case of #2577

[2020-03-08 10:57] slivne commented on #5160
we are moving to Amazon Linux 2 / Centos 8 - once done this can be closed

[2020-03-08 10:59] slivne commented on #5162
- we have improved memory management in master (3.4)
- we have now added the semaphore name to get additional information for debugging.

closing this issue  - please create a new issue if this happens post 3.3 with the additional informatin

[2020-03-08 10:59] #5162 closed

[2020-03-08 11:00] slivne commented on #5163
we have fixed the truncate - it was using the regular timer instead of the truncate timer - please create a new issue if this still happens

[2020-03-08 11:00] #5163 closed

[2020-03-08 11:02] slivne commented on #5172
@asias can you please comment on this scenario - does the problem exist.

does C* have this issue as well ?

[2020-03-08 11:22] slivne commented on #5173
- we have tried on gce on ubuntu 19/10 using scylla docker 3.1.0

[code]

[code]

we have run this on a 2 core machine.

There was an issue https://github.com/scylladb/scylla/issues/3842 - you can try and check if you are hitting this and change the fs.aio-max-nr and check if its resolved.

[2020-03-08 11:26] slivne commented on #5173
reproduced - changed the machine to be 32 core

[code]

[2020-03-08 11:30] bhalevy opened #5979 "mutation_reader_test.test_fragmenting_and_freezing: unfreeze(s) has failed"
Seen in https://jenkins.scylladb.com/view/master/job/scylla-master/job/next/1691/testReport/test_boost_flat_mutation_reader_test.cc/test_boost_flat_mutation_reader_test/test_fragmenting_and_freezing/
Scylla version 0e413efb488c599ed96c48d825fae2803debeb8e
[code]

Full output here:
[flat_mutation_reader_test.118.log](https://github.com/scylladb/scylla/files/4303117/flat_mutation_reader_test.118.log

[2020-03-08 11:30] slivne commented on #5173
work around:
1. run scylla with limited smp
[code]
2.  set fs.aio-max-nr = 1048576

[2020-03-08 11:39] yarongilor commented on #5911
started a comparison of decommission nemesis only with 1TB.
3.2 monitor: http://54.229.153.203:3000/
3.3 monitor: http://34.242.139.189:3000/

[2020-03-08 11:43] slivne commented on #5856
@bhalevy send a patch and lets get it merged and backported

[2020-03-08 11:47] slivne commented on #5938
since we are now unregistering verbs on shutdown this is a race condition that can happen.

[2020-03-08 11:47] #5938 closed

[2020-03-08 12:10] bhalevy commented on #5942
It is readily reproduced.  Hit again in https://jenkins.scylladb.com/view/master/job/scylla-master/job/dtest-release/415/artifact/logs-release.2/1583545414425_update_cluster_layout_tests.TestUpdateClusterLayout.simple_add_new_node_while_schema_changes_test/node4.log

[2020-03-08 12:37] #5929 closed

[2020-03-08 12:46] bhalevy commented on #5887
Reproduced *locally* also with 3.2.3-0.20200308.48253eb18
[code]

[2020-03-08 12:57] tzach commented on #5887
So, not a regression of 3.3

[2020-03-08 13:12] tzach opened #5981 "Improve error message where fs.aio-max-nr is too low"
*Installation details*
Scylla version (or git commit hash): 3.3
OS (RHEL/CentOS/Ubuntu/AWS AMI): Docker

When running Scylla Docker on a server with high number of core, scylla fail to start and generate the following error:
[code]

The root cause is low value of kernel parameter `fs.aio-max-nr`
It would be good to check for this value and generate a more informative error message.

[2020-03-08 13:13] tzach commented on #5981
https://github.com/scylladb/scylla/issues/5173
https://github.com/scylladb/scylla/issues/3842

[2020-03-08 13:32] #5967 closed

[2020-03-08 13:40] nyh commented on #5065
The difference is more than the parentage ("tree" structure) of streams. There is a more fundemental issue - the very different reasons for why Scylla and DynamoDB have many separate streams (which, confusingly, DynamoDB calls "shards"):

The dynamoDB documentation https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html explains why it creates multiple streams (called shards)